[2020-08-11 08:26] zaryanz commented on #9551
It seems like Travis CI is expecting the border-bottom-left-radius line to come before the border-bottom-right-radius line if I'm interpreting this correctly. You could try swapping those lines and see if the check passes.
Thanks!
![image](https://user-images.githubusercontent.com/51870531/89874698-d7047080-dbd9-11ea-897f-8f37c2144ed9.png)

[2020-08-11 10:01] Kushagraw12 commented on #9551
Okay, I will swap the lines and update it!
Thanks!

[2020-08-12 11:59] AlexandraMoga opened #9578 "Remove link to 'Admin add-on status' from add-on detail pages"
### Describe the problem and steps to reproduce it:
The Add-on manage admin tool has been removed in https://github.com/mozilla/addons-server/issues/15234. The frontend still exposes a link to that tool in the Admin links section present on add-on detail pages. This link should be removed.

![image](https://user-images.githubusercontent.com/31961530/90012384-f4a20a80-dcab-11ea-92df-7a86a827ecbf.pn

[2020-08-12 12:21] bobsilverberg commented on #9578
Thanks for filing this issue, @AlexandraMoga.

@eviljeff Should we remove this link, or change it? Looking at https://github.com/mozilla/addons-server/issues/15234, it sounds like the destination of the link had an alternative.

[2020-08-12 12:23] bobsilverberg commented on #9578
Ah, I was reading my email in reverse chronological order, so I just saw @eviljeff mention that there's a replacement tool at admin/models/addons/addon/<addon-id>/change/. I gather we should update the frontend to point to that?

[2020-08-12 13:06] AlexandraMoga commented on #9578
@bobsilverberg I think the 'Admin add-on' link that is listed just below 'Admin add-on status' is already directing to `/admin/models/addons/addon/<addon_id>/change/`, so we just to remove the non-relevant link.

[2020-08-12 13:14] bobsilverberg commented on #9578
Thanks makes sense, thanks @AlexandraMoga!

[2020-08-12 15:26] Aakash2408 commented on #9578
Hey @bobsilverberg ,can I take this?

[2020-08-12 15:27] Aakash2408 commented on #9568
Can you kindly provide any images or screenshots showing the issue?

[2020-08-12 15:33] Aakash2408 commented on #8737
Is this issue still open?

[2020-08-12 17:16] jvillalobos commented on #9568
You can see this as an example of a listing page: https://addons.mozilla.org/addon/ublock-origin/. However, note that https://github.com/mozilla/addons-server/issues/15174 needs to be fixed first.

[2020-08-12 18:10] Aakash2408 commented on #9551
Hey,@kushagraw @bobsilverberg  Is this issue resolved or i can take it?

[2020-08-12 18:42] rochisha0 commented on #9578
Hey! Can I work on this issue?

[2020-08-13 06:59] AlexandraMoga commented on #9566
The following link will trigger a 404 instead of a 500 on stage:
https://addons.allizom.org/nn-NO/firefox/addon/search_/

This issue can be marked as verified fixed.

[2020-08-14 08:42] #9551 closed

[2020-08-14 13:14] bobsilverberg commented on #9578
@Aakash2408 asked first, so yes, you may work on this. It should be as simple as removing the link defined at https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/AddonAdminLinks/index.js#L82-L94, and also removing the tests at https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/AddonAdminLinks/index.js#L82-L94.

[2020-08-14 13:34] Aakash2408 commented on #9578
Ok Thanks i will do it

[2020-08-14 15:50] Aakash2408 commented on #9578
Hey @bobsilverberg, when I run the yarn command to install the dependencies  then the following error, shows up
![Screenshot from 2020-08-14 21-20-13](https://user-images.githubusercontent.com/47134609/90268001-f4ed0200-de73-11ea-96d7-eb04f8aaa139.png)

[2020-08-14 16:53] bobsilverberg commented on #9578
I have never heard of that error before. Do you have all of the requirements listed at https://github.com/mozilla/addons-frontend/blob/master/README.md#requirements? Which operating system are you on?

[2020-08-14 16:55] Aakash2408 commented on #9578
Thanks for the response ,but I have figured out the problem and forked the repo will commit the changes before going to sleep

[2020-08-14 17:11] bobsilverberg opened #9579 "Use `promoted` from the API response in place of `is_recommended`"
Now that [`promoted`](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#addon-detail-promoted-category) is part of the API response for add-ons, we should update any code that uses `is_recommended` from the API response to use `promoted` instead. For now this won't result in any changes for users, but it will prepare us to expose other categories when we need to.

[2020-08-16 03:42] Aakash2408 commented on #9579
Hey, If this is not resolved yet can I take this?

[2020-08-16 03:54] Aakash2408 commented on #9049
Hey @willdurand , Is this issue resolved or I can take this?

[2020-08-17 03:03] Aakash2408 commented on #9578
Hey @bobsilverberg, I have made the changes kindly check and merge the pull request.

[2020-08-17 09:08] #9578 closed

[2020-08-18 04:19] smayer97 commented on #8415
Please keep open...

[2020-08-18 17:16] jvillalobos opened #9585 "Show add-ons in "Sponsored" group as "Verified""
We decided to simplify how we present Sponsored add-ons to users, so we need to make these changes:

- Sponsored add-ons will display the Verified badge, so we don't need the Sponsored badge anymore.
- ~~In search, only have one Verified filter that includes both Verified and Sponsored results.~~

The search changes haven't been done yet, and will be completed as part of https://github.com/mozilla

[2020-08-18 20:03] rochisha0 commented on #9585
Can I take this issue?

[2020-08-19 11:08] andreicristianpetcu commented on #9504
The dependency was fixed. Also, is it related to this post, or should it be another bug for it? https://www.reddit.com/r/firefox/comments/iclh13/watch_out_guys_this_mozilla_company_might_be_a/

[2020-08-19 11:08] andreicristianpetcu commented on #9505
The dependency was fixed. Also, is it related to this post, or should it be another bug for it? https://www.reddit.com/r/firefox/comments/iclh13/watch_out_guys_this_mozilla_company_might_be_a/

[2020-08-19 15:30] caitmuenster commented on #9585
Hey @rochisha0, thanks for your interest! This isn't a good bug for contributors. :) You will want to get started with an issue labeled '[contrib: good first bug](https://github.com/mozilla/addons-frontend/issues?q=is%3Aopen+is%3Aissue+label%3A%22contrib%3A+good+first+bug%22).'

Currently it doesn't look like there are any open good first bugs. We tend to refresh the list about every two weeks. Yo

[2020-08-19 19:34] caitmuenster commented on #9504
Hey, thanks @andreicristianpetcu. :) No need to open another issue -- [we've got plans](https://github.com/mozilla/addons-frontend/pull/9513#issuecomment-657679230) to badge extensions developed by Firefox/Mozilla. ;)

[2020-08-19 19:43] caitmuenster commented on #9049
Hey @Aakash2408! @willdurand is out on leave until September; you may want to hold off on this issue until he gets back. :)

[2020-08-19 19:49] caitmuenster commented on #9579
Hey @Aakash2408, thanks for your interest! This isn't a good bug for contributors. :) You will want to get started with an issue labeled '[contrib: good first bug](https://github.com/mozilla/addons-frontend/issues?q=is%3Aopen+is%3Aissue+label%3A%22contrib%3A+good+first+bug%22).'

Currently it doesn't look like there are any open good first bugs. We tend to refresh the list about every two weeks. Y

[2020-08-21 03:33] Aakash2408 commented on #9469
I can do this but @willdurand  @eviljeff  can you give some points/hints which tells how to fix this?

[2020-08-21 12:25] AlexandraMoga opened #9588 "Remove border radius between the main Permissions card and the Card-footer"
Follow up for #9551

### Describe the problem and steps to reproduce it:
1. Open the following add-on detail page - https://addons-dev.allizom.org/en-US/firefox/addon/more-optional-permissions/
2. Scroll down to the Permissions card section
3. Observe the card styling

### What happened?
There is a border radius between the main Permissions card and the Card-footer

### What did you expect to happ

[2020-08-25 03:42] MayankVir commented on #9423
I am new to Open Source and I would like to contribute in this issue

[2020-08-25 16:52] caitmuenster commented on #9423
Hi @MayankVir, welcome! This isn't a good bug for contributors. :) You will want to get started with an issue labeled '[contrib: good first bug](https://github.com/mozilla/addons-frontend/issues?q=is%3Aopen+is%3Aissue+label%3A%22contrib%3A+good+first+bug%22).'

Currently it doesn't look like there are any open good first bugs. We tend to refresh the list about every two weeks. You're welcome to pi

[2020-08-25 18:19] caitmuenster commented on #9588
Hey @lakshyabatman, welcome! We usually meet every two weeks to review potential good-first-bugs and assign mentors to the. Our next meeting next Monday. If you feel good about getting started, go for it! Otherwise we'll assign a mentor to this issue next week to help answer questions. :)

We'll assign you to this issue once you submit a pull request.

[2020-08-25 18:21] lakshyabatman commented on #9588
I can start working on it and put up doubts if I get into some issues, sounds okay?

[2020-08-25 18:23] caitmuenster commented on #9588
Sounds good! Thanks @lakshyabatman.

[2020-08-26 06:45] lakshyabatman commented on #9588
@caitmuenster @AlexandraMoga please have a look on my pull request, let me know if there are any changes required. Thankyou.

[2020-08-26 15:16] caitmuenster opened #9595 "Change link target for Android incompatibility warning"
When Fenix users visit a listing page on AMO, they see this warning:

![Screenshot_20200826-114132](https://user-images.githubusercontent.com/23342476/91321856-ed7f0000-e773-11ea-8e6c-8f18f4a643a0.png)

We link to the SUMO article targeted for Firefox Preview users. Since Preview has graduated, we should update the link to https://support.mozilla.org/kb/find-and-install-add-ons-firefox-android.

T

[2020-08-26 17:42] jvillalobos commented on #9360
I'd like to revisit this work since the majority of users are being migrated to Fenix and this error message is getting more attention.

[2020-08-29 12:13] lakshyabatman commented on #9588
Also, I found the build is failing cause of scss linting issue, which I am not able to resolve please, have a look at it. :D Thankyou.

[2020-09-01 14:41] jvillalobos opened #9605 "Update icon for Line extensions"
We want to change the icon for Line extensions so it's a bit more colorful.

<img width="840" alt="CleanShot 2020-08-25 at 11 33 21@2x" src="https://user-images.githubusercontent.com/62568/91865473-ac349780-ec2e-11ea-94b9-a8863e29e7fd.png">

The SVG can be found in this patch: https://phabricator.services.mozilla.com/D86124

Please check how this icon looks when it is at its smallest, like in sear

[2020-09-01 15:57] bobsilverberg opened #9606 "Add support for all promoted types to AMO"
#9579 replaces the logic for Recommended add-ons on AMO to use the new `promoted` field from the API response, but only supports Recommended add-ons and keeps all other logic the same. In order to support the `line` and `verified` categories, we need to update more logic.

Some other things that need to be considered:

1. We currently restrict the logic for Recommended add-on badging to apply only

[2020-09-01 16:52] jvillalobos commented on #9606
Limiting promoted badging to extensions should be okay for now. I don't expect us to do anything for themes in the near future. We do have Recommended Themes, but those are based on a collection, and that shouldn't change.

All promoted categories should be application-agnostic except for Recommended. We plan to have independent Recommended sets for Desktop and for Android, and the plan is to impl

[2020-09-01 17:48] bobsilverberg commented on #9605
Here's what I have for the complete badges:

<img width="976" alt="Screen Shot 2020-09-01 at 1 41 26 PM" src="https://user-images.githubusercontent.com/142755/91887599-fc285400-ec58-11ea-9829-2f43c116091a.png">

and for the icons (used in autocomplete results):

<img width="331" alt="Screen Shot 2020-09-01 at 1 44 51 PM" src="https://user-images.githubusercontent.com/142755/91887854-55908300-ec59-

[2020-09-01 18:26] aaronrbenson commented on #9605
Looks good @bobsilverberg!

[2020-09-01 18:26] #9579 closed

[2020-09-01 19:08] bobsilverberg commented on #9606
I take it from this that administrators will not be assigning applications for promoted add-ons other than Recommended. If no application is assigned, the system assumes that means "all applications", and the API in fact returns info indicating that the add-on is compatible with all applications.

Given this, I think it makes sense to have AMO set up so that *all* promoted categories are treated t

[2020-09-01 22:57] jvillalobos commented on #9605
Nice!

[2020-09-01 23:03] jvillalobos commented on #9606
sgtm

[2020-09-02 17:07] bobsilverberg commented on #9606
One more point about this: Although I feel this approach is the best one to take, it does mean that if an administrator specifically lists only one application (e.g., `firefox`) for a promoted add-on, then that add-on will not be badged for the other application (in this case `android`). This is exactly what we want for Recommended add-ons, but not what we want for other categories (i.e., `line` a

[2020-09-02 19:43] bobsilverberg commented on #9606
I don't think we've addressed the question of how we should replicate the fact that Recommended badges are currently excluded from the `android` site. We are currently doing it explicitly in code, but I'd rather use the information that is in `apps` in the `promoted` property returned to us by the API. That would mean that all recommended add-ons should be updated in the database to specify that `

[2020-09-02 21:07] jvillalobos commented on #9606
I don't think we have a good way to configure the `application` for that state other than the django Admin tools. Since Scott can add or remove add-ons from it at any time, I'd rather not have to worry about keeping it in sync.

However, I also don't think it's worth having special code just to hide the badges on mobile. It should be okay for them to show up temporarily, while we implement proper

[2020-09-02 21:20] bobsilverberg opened #9609 "Remove the Guides page from AMO"
We introduced "Guides" to AMO back in 2018, based on this mockup:

![hero - article page](https://user-images.githubusercontent.com/217628/46752198-e902e880-ccbc-11e8-9810-2d6c6a49e294.png)

I believe we stopped using them back when we implemented the new Primary and Secondary Hero elements. Looking at the logic, these guides pages are never displayed on the desktop (`/firefox`) site, and on the m

[2020-09-03 12:44] navdhakar opened #9610 "AMO permission card bottom corners are not rounded"
### what happened?
when i visit any extension permission cards bottom corners are not rounded as other card.

![permission card not rounded corner](https://user-images.githubusercontent.com/27907778/92115326-df824c80-ee0f-11ea-8128-d91ca1227474.png)
### expected

### step to remove

[2020-09-07 09:40] diox commented on #9360
The [collection linked above for beta](https://addons.mozilla.org/en-US/firefox/collections/4757633/7e8d6dc651b54ab385fb8791bf9dac/) is already obsolete - it only links ublock origin as I'm writing this. The [one for nightly](https://addons.mozilla.org/en-US/firefox/collections/4757633/16f6e5d9a40448b8955db57ced6d75/) seems to match availability on release, so clearly it's not based on channels an

[2020-09-07 12:27] #9595 closed

[2020-09-07 17:40] jvillalobos commented on #9360
The distinct collections for Fenix have been convenient so far for testing, because we've been extra careful about introducing new extensions. However, moving forward we expect the single list of recommended add-ons for Android to be the source of truth for all versions of Fenix, and if we go with full availability I don't expect us to keep track of which add-on versions are compatible with which

[2020-09-07 17:56] jvillalobos commented on #9609
Yeah, it looks like we stopped linking to them back in October. I don't know if we'll need them again, but I think it should be okay to drop them for now. @devaneymoz should confirm.

[2020-09-08 12:04] #9605 closed

[2020-09-08 12:26] bobsilverberg commented on #9609
Thanks for your response, @jvillalobos. The nice thing about Git is that if we remove the code, and decide later we want it back, it's not too difficult to retrieve it from the history. Based on that I'm going to go ahead and remove the code that supports the Guides pages in order to make working on the other new features a bit easier.

[2020-09-08 12:53] willdurand commented on #9609
@bobsilverberg are those pages still available in Google search results? Do we get 404s or the actual pages?

[2020-09-08 13:02] bobsilverberg commented on #9609
They do still appear in Google search results (e.g., https://www.google.com/search?q=The+web+is+a+wonderful+but+wild+place), but I think it's fine for that to return a 404. I don't see how we can have it continue to return the actual page and yet remove the code from the repo. Do you have a suggestion for that?

[2020-09-08 13:06] willdurand commented on #9609
I don't have a suggestion but it would be interesting to know if those pages drive a lot of traffic or not (cc @muffinresearch). Those pages were designed with SEO in mind so they might still be useful (but maybe not and that's a product call).

[2020-09-08 13:28] bobsilverberg commented on #9609
@jvillalobos What do you think? Considering that those pages call out specific add-ons, and that we're not really maintaining the pages anymore, perhaps it's a good thing if they go away, even though Google still links to them in search results? I believe there is a way to tell Google to remove a page from their search results (a page which no longer exists), but I'm not sure how well it works.

[2020-09-08 13:35] bobsilverberg commented on #9609
Another suggestion, made my @eviljeff in the PR, would be to direct these links to the homepage, rather than just 404. Do we think that's something we'd want to do?

[2020-09-08 13:52] muffinresearch commented on #9609
I think 410/404'ing them is fine. Essentially if the content is gone they should be de-indexed fairly quickly.

Apparently they got 1,421 page views in August according to GA

One other benefit of cutting them is less pages to be crawled that we don't link to and smaller bundle sizes.

[2020-09-08 14:44] jvillalobos commented on #9609
Yeah, their traffic has been very low since we stopped linking to them, so I think it's okay to 404 them. The 404 page should be good enough for people to continue navigating (if not, that's a separate problem).

[2020-09-08 15:41] #9609 closed

[2020-09-08 16:41] bobsilverberg commented on #9606
@jvillalobos As I'm working on this, I'd like to update the code for the InstallWarning to deal with the various categories. Looking at https://docs.google.com/spreadsheets/d/1ENbv1CuLDd25Sk0XAwgbWTl9is5rV12OxJD6g1kUi48/edit#gid=1788006942, it looks like we should not show the warning for any promoted category other than "Strategic". Is that accurate?

[2020-09-08 17:14] bobsilverberg commented on #9606
@jvillalobos Another question: We currently do not display the Recommended badge for add-ons displayed on shelves (e.g., Home page shelves, Extensions page shelves) because it is considered redundant as only Recommended add-ons can appear on those. Should we extend this rule for any promoted badge? I.e., we will not show any promoted badge for add-ons that appear on those shelves? Or does it make

[2020-09-08 19:20] jvillalobos commented on #9606
Yes.

We don't need to show badges on shelves. The expected behavior is that all of these extensions are recommended, with the only exception being the Sponsored shelf, which is labeled clearly to point that out.

No, the title of the shelf should be enough.

[2020-09-08 20:08] AdityaArunSharma commented on #9588
Is this issue assigned to anyone?
@caitmuenster

[2020-09-09 13:37] ioanarusiczki commented on #9579
@bobsilverberg I did not encounter regressions so far after looking over AMO dev/stage. I'm going to take one more look tomorrow while release testing (same for https://github.com/mozilla/addons-frontend/issues/9605 and https://github.com/mozilla/addons-frontend/issues/9609).

[2020-09-09 16:25] jvillalobos commented on #9360
This is the [current collection for Fenix release](https://addons.mozilla.org/collections/4757633/3204bb44a6ef44d39ee34917f28055/), which is the current source of truth. Since this is a temporary patch while we implement better Fenix support, I think we can either rely solely on this collection or just hardcode the solution for the 9 add-ons currently there. We plan to add some more in the coming

[2020-09-09 16:54] bobsilverberg commented on #4910
@jvillalobos Do we know how we want this to look? I was imagining a simple text link under the button that can be used to download the xpi. Do we want this in cases where the download button is disabled and also in cases where the button is a "Download Firefox" button? If we're going with a text link (or a button for that matter), what should the text read?

[2020-09-09 17:04] bobsilverberg commented on #9360
So is the decision here to simply hardcode a list of ids in the frontend code (based on the collection linked above), as a temporary solution, and use that to determine which message to display? Should the new message still be "You can install this add-on in the Add-ons Manager. Learn more about [add-ons for Android]."? Is there anything else to discuss?

@jvillalobos @diox

[2020-09-09 17:16] bobsilverberg commented on #9504
@jvillalobos Do we have updated links for the destination URL for the Line and Verified badges? The recommended badge links to https://support.mozilla.org/kb/recommended-extensions-program. It also sounds like maybe the tooltip for Verified was going to be updated since your last comment.

[2020-09-09 17:29] bobsilverberg opened #9615 "Update AMO Search to work with promoted categories as opposed to just Recommended add-ons"
Allow users to search for different types of promoted add-ons. Replace the "Recommended" checkbox with a dropdown. As @jvillalobos said at https://github.com/mozilla/addons-server/issues/15272#issuecomment-685941863:

Notes for QA:
- The dropdown should include values for "All", "Recommended", "Verified", "By Firefox" and "Reviewed".
- Verified should return add-ons in both the Verified and Sponso

[2020-09-09 17:47] jvillalobos commented on #9615
It should be "By Firefox".

Correct.

[2020-09-09 19:43] caitmuenster commented on #9504
Hey @bobsilverberg, we don't have a set URL for the SUMO article yet (I was going to wait until we were closer to turning this on). I'm going to ask for the URL https://support.mozilla.org/kb/promoted-addons-program when we create the article. Can you use that as a placeholder and then we can update if necessary?

[2020-09-09 19:46] jvillalobos commented on #9504
Small tweak for the link:

https://support.mozilla.org/kb/promoted-addons-program?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=promoted-addon-badge

All badges should link to it, including Recommended.

The tooltip for Verified can stay as-is.

[2020-09-09 19:48] jvillalobos commented on #9360
Nothing left to discuss from the Product side. If hardcoding is the best path forward, let's do that.

[2020-09-09 19:51] jvillalobos commented on #4910
A simple text link is what I had in mind, yeah.

Yes

"Download file"

[2020-09-09 20:01] bobsilverberg commented on #8301
@eviljeff There is a rule in the search API that disallows `sort=random` unless `recommended` was also passed as an argument (in addition to some other rules). This was the cause of the issue I am commenting on.

Now that we've switched to `promoted` from `recommended`, does that code also need to be changed? I'm asking because I'm working on the frontend code, and we have code to make sure we don

[2020-09-09 20:14] bobsilverberg commented on #9615
@jvillalobos We have some code that generates a page title for search results. Currently, if the "Recommended" check box is checked, the title says "Recommended extensions", regardless of the other criteria. If "Recommended" is not checked, then the "Sort by" determines the title. For example, "Popular extensions", if "Most Users" is selected.

Now that we're going to have multiple options for pro

[2020-09-09 20:49] jvillalobos commented on #9615
Yes

Yes, but noting that (extensions|themes|add-ons) is used in the title depending on the Add-on Type filter, which makes sense to keep.

[2020-09-09 20:50] bobsilverberg commented on #9615
Yes, I didn't call that out, but my plan was to keep that. Thanks for the answers!

[2020-09-10 08:50] ioanarusiczki commented on #9609
Verified on AMO dev/stage with FF80(win10 & android).

[2020-09-10 08:52] willdurand opened #9616 "Enable UTM params in all envs"
This issue is about enabling the UTM params feature (see #9547) in all envs, including prod.

[2020-09-10 08:53] ioanarusiczki commented on #9605
@bobsilverberg Verified on dev/stage - FF80(Win10).

[2020-09-10 09:02] eviljeff commented on #8301
yeah, that'll need changing.  Is there an (api) issue already?

[2020-09-10 09:03] willdurand commented on #4910
Note that when we have the Install button, the XPI link is available with a right click in some cases. I like the idea of a small-ish text below the button with the direct link to the XPI, though.

[2020-09-10 14:10] alexandra-martin opened #9619 "Homepage goes to top after clicking "Back" from a Footer link page"
### Describe the problem and steps to reproduce it:

1. Go to https://addons.allizom.org/en-US/firefox/ and scroll down to Footer.
2. Click a link from the Footer, e.g. "Developer Hub".
3. Click the "Back" button.

### What happened?
Homepage is displayed from the Header.

### What did you expect to happen?
Homepage to not change page location.
### Anything else we should know?
Reproduced on all A

[2020-09-10 15:21] #9504 closed

[2020-09-10 15:21] #9505 closed

[2020-09-10 15:21] #9585 closed

[2020-09-10 15:29] AlexandraMoga opened #9620 "Select dropdowns are not opening on Android 10 with the latest Firefox for Android"
### Describe the problem and steps to reproduce it:
1. Open https://addons.mozilla.org
2. Scroll down to the footer section
3. Tap on the language picker select box

### What happened?
The select options are not opened at the first tap. You'll have to double tap to see the options.

### What did you expect to happen?
The select options are displayed

### Anything else we should know?
- this happen

[2020-09-10 16:44] #9616 closed

[2020-09-10 16:48] bobsilverberg commented on #8301
I just opened https://github.com/mozilla/addons-server/issues/15462

[2020-09-10 17:41] bobsilverberg opened #9622 "Update the URL for the promoted badges when the page becomes available"
All of the promoted badges currently point to https://support.mozilla.org/kb/recommended-extensions-program. The should point to https://support.mozilla.org/kb/promoted-addons-program?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=promoted-addon-badge, but that page does not yet exist on SUMO.

The link from the new Promoted Extensions shelf on the homepage should be updated as well

[2020-09-10 17:42] bobsilverberg commented on #9504
Thanks @jvillalobos and @caitmuenster. I have opened https://github.com/mozilla/addons-frontend/issues/9622 to track updating the link.

[2020-09-10 18:29] bobsilverberg commented on #9518
@jvillalobos All of the add-ons shown on shelves in the home page have an `addonInstallSource` of `featured`, except for those on shelves that are powered by a collection, which have an `addonInstallSource` of `homepage-collection-featured`. Should we continue to use `featured` for the Sponsored shelf, or do we want to introduce a new source?

[2020-09-10 19:11] jvillalobos commented on #9518
We'll need a new one. Let's go with `homepage-sponsored-shelf`.

[2020-09-10 19:37] bobsilverberg commented on #9518
We don't currently display the primary and secondary hero on the `/android` site. This shelf appears between the two. Do we want this new shelf to appear on the `/android` site?

[2020-09-10 19:57] bobsilverberg commented on #9518
@jvillalobos We don't currently display the primary and secondary hero on the `/android` site. This shelf appears between the two. Do we want this new shelf to appear on the `/android` site?

[2020-09-10 20:07] jvillalobos commented on #9518
No, the shelf is desktop-only.

[2020-09-11 13:05] AlexandraMoga commented on #9616
I've tested this more extensively in https://github.com/mozilla/addons-frontend/issues/9547#issuecomment-667919835 but I had another quick re-check on -dev. When this lands on stage, I'm going to verify it again.

[2020-09-11 13:41] eviljeff commented on #6422
Updated issue to reflect localized fields are in api/v5 now.

[2020-09-11 16:02] Aakash2408 commented on #9588
Can you assign it to me?

[2020-09-11 16:38] #9518 closed

[2020-09-11 17:53] #9556 closed

[2020-09-13 07:32] ItielMaN commented on #7014
Yup, still an issue.

[2020-09-13 08:50] Rachitatrey commented on #9619
what did you expect it should point developer hub

[2020-09-14 12:44] AlexandraMoga commented on #9556
I've verified installations on -dev for all add-on types we support and I didn't find issues. Also, the `src=dp-btn-primary` parameter is no longer passed to the install button.

@willdurand I've looked in `about:telemetry#events-tab` but, apart from the `install` events, I couldn't see any `install_stats` events. I've looked with Firefox 80.0.1 and the latest Nightly.

[2020-09-14 13:02] alexandra-martin commented on #9619
@Rachitatrey yes, when I click the "Developer Hub" Footer link, the correct page is displayed. But, if I click the "Back" button, the page will not be where it was, at the bottom of the page, it will redirect the user at the top of the page.

[2020-09-14 15:16] #9615 closed

[2020-09-14 15:52] bobsilverberg opened #9632 "Update frontend code to use `promoted=badged`"
After https://github.com/mozilla/addons-server/pull/15478 lands, we can replace the code in frontend that uses [`line,recommended,sponsored,verified`](https://github.com/mozilla/addons-frontend/blob/master/src/core/constants.js#L329) to use just `badged`.

For QA:

The search filter labelled "Reviewed" should continue to work as before. After selecting it you should see `promoted=badged` on the UR

[2020-09-14 16:19] caitmuenster commented on #9588
Hi @lakshyabatman, @navdhakar, @Aakash2408, sorry for the delayed response - normally we check in on these issues every two weeks but we had a holiday come up recently and this slipped through the cracks.

@lakshyabatman, since yours was the first PR submitted we are going to move forward with it.

@navdhakar and @Aakash2408, thanks so much for your interest! Would you be interested in working on

[2020-09-14 16:21] lakshyabatman commented on #9588
Okay, that's awesome @caitmuenster.

[2020-09-15 08:58] willdurand commented on #9556
ha, interesting. I think we should have that one, unless it only works with AMO prod.

[2020-09-15 10:19] AlexandraMoga commented on #9504
The new promoted badges are being displayed on the site as follows:

[1] - Detail page:
![image](https://user-images.githubusercontent.com/31961530/93197435-4d097380-f754-11ea-980c-ad822a5bff8b.png)
![image](https://user-images.githubusercontent.com/31961530/93197724-a7a2cf80-f754-11ea-996c-722322f29f19.png)

[2] - Search results (+tooltip):
![image](https://user-images.githubusercontent.com/31961

[2020-09-15 10:32] AlexandraMoga commented on #9585
Add-ons belonging to the Sponsored promoted group will display a 'Verified' badge on the frontend.

[Example of a _sponsored_ add-on with the verified badge:](https://addons-dev.allizom.org/en-US/firefox/addon/perms-and-optional-perms/)
![image](https://user-images.githubusercontent.com/31961530/93199861-a4f5a980-f757-11ea-8ac2-e5e44622b6d5.png)

This issue is verified fixed on -dev.

[2020-09-15 12:42] #9632 closed

[2020-09-15 13:13] bobsilverberg opened #9638 "Reword the message for non-reviewed add-ons"
As per the PRD:

Reword the message shown on listing pages for add-ons that aren’t reviewed and update the link for the Learn More action: “This is not monitored for security through Mozilla's Promoted Add-ons program. Make sure you trust it before installing.”

[2020-09-15 13:20] bobsilverberg commented on #9638
@jvillalobos Is this okay to land now, or do we want to delay this until the pilot program officially starts? Also, can you please confirm this is still the exact message we want?

[2020-09-15 13:27] ioanarusiczki commented on #9615
@bobsilverberg

- there's a "Promoted Add-Ons" dropdown which includes the categories mentioned above.  (by Firefox is next after Recommended but should be alright, I don't know if not Verified is expected to be the next one)

![promoted filter](https://user-images.githubusercontent.com/33448286/93215470-21e04d80-f76f-11ea-8aa3-c063bacff1a9.png)

- verified returns sponsored and verified add-ons a

[2020-09-15 15:31] #9360 closed

[2020-09-15 15:54] bobsilverberg commented on #4910
@jvillalobos Here are some examples of what I've done. Note that I made the link grey and lighter to make it less noticeable. Please let me know if you'd like to see style changes.

<img width="861" alt="Screen Shot 2020-09-15 at 11 46 17 AM" src="https://user-images.githubusercontent.com/142755/93233593-40cbe900-f749-11ea-9ffe-28950f21572d.png">

<img width="417" alt="Screen Shot 2020-09-15 at 11

[2020-09-15 17:47] jvillalobos commented on #9638
We discussed this earlier today and would like to hold off on applying the change until the pilot is ready to launch and the SUMO page is ready.

[2020-09-15 17:51] jvillalobos commented on #4910
Can you please add an underline so it is clearer that it's a link? I'm also slightly curious why the spacing between the button and the link changes in some screenshots. It's very close to the button for some of them.

[2020-09-15 17:51] #9588 closed

[2020-09-15 17:57] lakshyabatman commented on #9619
I can work on this issue.

[2020-09-15 17:59] lakshyabatman commented on #9619
I can work on this issue.

[2020-09-15 19:32] bobsilverberg commented on #9638
Ok, we're going to gate the updated message using the same flag that is being used to control whether the new Promoted Add-Ons shelf appears on the home page.

[2020-09-16 07:29] AlexandraMoga commented on #9556
I'll have a look on prod after the push

[2020-09-16 11:32] ioanarusiczki commented on #9505
@bobsilverberg I verified the issue on AMO dev - FF80(Win10).

- all categories except for Strategic, won't show the warning.
https://addons-dev.allizom.org/en-US/firefox/addon/more-optional-permissions/

![no warning](https://user-images.githubusercontent.com/33448286/93331444-e99d4580-f828-11ea-9662-83ae109bedef.png)

- Strategic addon displays the warning message.
https://addons-dev.allizom.org

[2020-09-16 11:39] ioanarusiczki commented on #9606
@bobsilverberg I am going to take a look at the badges on Fennec/Fenix.
Many parts from this conversation have been verified/covered by the issues from https://github.com/mozilla/addons-frontend/pull/9614

I did notice that the conversation says that themes are not in focus (such as they remain in the recommended collection).
Right now other badges can be added to themes to, I hope that's fine. An

[2020-09-16 12:10] AlexandraMoga commented on #9616
I've verified the new UTM parameters on stage and they are now being used in the same locations mentioned in https://github.com/mozilla/addons-frontend/issues/9547#issuecomment-667919835

I'm marking this issue as verified fixed on stage, but I'll also verify prod after the push.

[2020-09-16 13:52] ioanarusiczki commented on #9632
@bobsilverberg The URL is https://addons-dev.allizom.org/en-US/firefox/search/?platform=windows&promoted=badged
And I see it's returning same results, the recommended are at the top followed by a mix of verified, sposored and line addons.

I think it's the expected behavior, recommended addons tend to have a boost on top of all other addons.

Verified on dev with FF80(Win10).

[2020-09-16 14:33] bobsilverberg commented on #4910
That was a result of a style in place for the mobile view. I've fixed that so that in all sizes there is the same 12px gap between the button and the link, and I've added the underline:

<img width="449" alt="Screen Shot 2020-09-16 at 10 30 54 AM" src="https://user-images.githubusercontent.com/142755/93351641-f78e9e80-f807-11ea-9385-7e7213796ddd.png">

[2020-09-16 14:43] ioanarusiczki commented on #9606
@bobsilverberg I also verified on Fenix (80.1.3) on android 9.0:
- not too many extensions available for the shelves on AMO dev because the addons were migrated to `firefox`. So what I did on dev is to add at least 2 add-ons from [admin ](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/promotedaddon/?application_id__exact=61&group_id__exact=1)to be `Firefox for Android` .

AMO

[2020-09-16 14:50] bobsilverberg commented on #9606
If one marks a theme as promoted using the admin, yes, badges will appear for it. I believe the intent is to just not mark any themes as promoted.

[2020-09-16 14:52] bobsilverberg commented on #9606
I'm not sure if this is a question awaiting a response, or just some information.

Again, is this a question, or just information?

Yes, we are no longer hiding badges by default for Android. The assumption is that promoted extensions will be marked in the admin as promoted for Firefox only, and therefore the badge will not appear for Android, but if an extension is promoted for Android, or for Al

[2020-09-16 14:57] willdurand opened #9647 "Upgrade Storybook to v6"
We didn't really spend a lot of time on Storybook and we're using pretty much only deprecated stuff. Let's upgrade to Storybook v6 and update what we can to ease future maintenance and maybe use new great features!

[2020-09-16 15:03] ioanarusiczki commented on #9606
@bobsilverberg It is information but also to address a question: if the same thing happens on prod, is the admin going to add some addons using the admin? Or that is not needed since there's a recommended collection, probably shown on all the other shelves (meaning for top rated or trending extensions).

[2020-09-16 15:03] bobsilverberg commented on #9511
I did spend some time, a few weeks ago, trying to create a story for some of the components in question, and it did turn out to be quite difficult and a lot of work. I think the value in doing this will be quite limited, so I'm going to go back to the idea of simplifying the `LoadingText` component and visually verifying what problems, if any, it raises.

[2020-09-16 15:33] bobsilverberg commented on #9606
This is a good question. Thanks for pointing it out. Let me do some investigation.

[2020-09-16 16:48] jvillalobos opened #9649 "Remove "Send" from website footers"
[Firefox Send](https://send.firefox.com/) has been inactive for a while and we don't expect it to come back soon. Let's remove the link from all AMO footers.

[2020-09-16 16:49] jvillalobos commented on #9649
Mentor: @bobsilverberg

[2020-09-16 16:53] rochisha0 commented on #9649
Can I work on this?

[2020-09-16 17:17] bobsilverberg commented on #9606
Thanks for bringing this issue to our attention, @ioanarusiczki! We are making sure the data is updated in production so those add-ons that are compatible with Fenix will be returned when we request recommended add-ons, so there should be some data for these shelves in prod after the push.

[2020-09-16 17:18] bobsilverberg opened #9650 "Update the label and "all" item for the Promoted drop-down"
From the PRD:

The AMO search tool must have a filter for Badging, instead of the current Recommended checkbox, with the following values:
- Any
- Recommended
- By Firefox
- Verified
- All Reviewed

[2020-09-16 17:25] jvillalobos commented on #9649
@rochisha0 Go ahead!

[2020-09-16 18:31] jrbenny35 opened #9652 "CircleCI Integration tests failing - test_category_section_loads_correct_category"
Log Output

[code]

Are there any ideas on what might be causing this? Maybe a category has been renamed or something?

[2020-09-16 18:40] bobsilverberg commented on #9652
Hi Benny, as I mentioned on Slack, when you first navigate to a category screen, the category name is listed as "Searching for add-ons", and then resolves to the actual category name, which in this case would be "Alerts & Updates". So I don't think the problem is a renamed category, I think it's that the interim title of "Searching for add-ons" is being read, before it has a chance to update to "A

[2020-09-16 18:48] jrbenny35 commented on #9652
Yeah that sounds like it could be it. We could add a wait for condition so it would wait until the name changed.

We could do something like this: https://selenium-python.readthedocs.io/waits.html#explicit-waits and use this expected condition, https://selenium-python.readthedocs.io/api.html#selenium.webdriver.support.expected_conditions.text_to_be_present_in_element

[2020-09-16 19:03] bobsilverberg commented on #9652
Doing something like that makes sense, although I am still a bit confused about why this has just started to fail now. Nothing has changed about the timing of that heading.

[2020-09-16 19:04] jrbenny35 commented on #9652
It could be an update with selenium or firefox. Something is returning faster in the browser than it used to.

[2020-09-17 07:16] ioanarusiczki commented on #9518
@bobsilverberg GA events are registered when an addon from the shelf is clicked.

![google collect](https://user-images.githubusercontent.com/33448286/93432824-b9a87d80-f8ce-11ea-836c-9cac2dba9b5c.gif)

Verified on dev - FF80(Win10).

[2020-09-17 09:09] willdurand opened #9656 "Upgrade to Node 12"
We'd like to use the new Node LTS (12) whenever it's possible.

[2020-09-17 09:17] ioanarusiczki commented on #9360
@bobsilverberg
- The 9 add-ons from the [collection](https://addons.mozilla.org/en-US/firefox/collections/4757633/3204bb44a6ef44d39ee34917f28055/) display the new message metioned [above](https://github.com/mozilla/addons-frontend/issues/9360#issue-601390447).  The state of the install button is inactive and the message advises the user to install the add-on from Add-ons Manager.

![message for Fe

[2020-09-17 10:04] AlexandraMoga opened #9657 "The Choose photo button doesn't respond on Fenix with Android 10"
Similar to #9620

### Describe the problem and steps to reproduce it:
1. Log in to addons.mozilla.org
2. Go to the Edit profile page - `https://addons.mozilla.org/en-US/firefox/user/{user_id}/edit/`
3. Scroll down to the Upload photo section
4. Tap on the 'Choose photo' button

### What happened?
The button is focused but the upload photo prompt is not displayed

### What did you expect to happen?

[2020-09-17 10:06] willdurand commented on #9657
This is likely a bug with Fenix itself, no?

[2020-09-17 10:11] AlexandraMoga commented on #9657
It could be, yes, although it is a bit interesting that other buttons do not have this behavior. Maybe this has something to do with the fact that the Choose photo button is triggering that upload prompt.

[2020-09-17 13:45] sammacbeth opened #9658 "Browser detection does not work for Firefox forks"
### Describe the problem and steps to reproduce it:

We are working on a Firefox fork, and set the `general.useragent.compatMode.firefox` pref such that the Firefox version is included in the UA string, and sites can treat the browser as Firefox (this pref is documented on [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent/Firefox)). This results in a UA string that contain

[2020-09-17 15:23] #9650 closed

[2020-09-17 15:46] #9647 closed

[2020-09-17 16:24] bobsilverberg opened #9659 "Warning about Autoprefixer browsers option when running `yarn amo`"
There is a new warning displayed when running the site locally:

[code]

This could be related to the [recent upgrade to autofixer](https://github.com/mozilla/addons-frontend/pull/9653). We should address this if possible.

[2020-09-17 16:31] #9649 closed

[2020-09-17 16:33] willdurand commented on #9659
I've seen this one but it seems to be quite old, I am not sure why we didn't see it before. I read some issues related to this message and it wasn't clear to me what we needed to do. We're using a `.browserslistrc` file and we don't configure `autoprefixer` with `browsers` in the `webpack-common` file.

[2020-09-17 16:44] bobsilverberg commented on #9659
Yeah, that's what I've also just discovered. We seem to be doing exactly what they say we should be doing, so I'm not sure why this is showing up, or what we can do about it. I'll do a bit more digging and then just leave it, I guess.

[2020-09-17 16:51] bobsilverberg commented on #9659
I think I found it! Please stand by...

[2020-09-17 17:03] bobsilverberg commented on #9659
I believe the problem might be coming from: https://github.com/minhtranite/react-photoswipe/blob/master/postcss.config.js#L9

I opened https://github.com/minhtranite/react-photoswipe/issues/49

[2020-09-17 17:32] jvillalobos opened #9660 "Update tooltip text for Promoted badges"
I just realized that I provided different tooltip strings for the Promoted badges than those that were reviewed by Meridel. Here are the updated strings:

Recommended: `Firefox only recommends add-ons that meet our standards for security and performance.`
Verified: `This add-on has been reviewed to meet our standards for security and performance.`
By Firefox: `This is an official add-on built by t

[2020-09-17 18:22] willdurand commented on #9659
woah!

[2020-09-17 22:33] jvillalobos commented on #9638
One more change we need here: we need to update the Learn More link to point to the same SUMO article that @caitmuenster is working on.

[2020-09-18 11:56] ioanarusiczki commented on #9506
@bobsilverberg Perhaps the qa not needed label has been added and then forgotten by mistake?

[2020-09-18 13:05] AlexandraMoga commented on #9556
The `install_stats` event is present on prod:

	addonsManager 	install_stats 	extension  	{"addon_id": "jid1-MnnxcxisBPnSXQ@jetpack", "utm_source": "addons.mozilla.org", "utm_medium": "referral", "utm_content": "featured"}

[2020-09-18 13:40] bobsilverberg commented on #9506
Thanks @ioanarusiczki. I added qa: not needed before because this didn't actually show up anywhere, but as of this week it's available on dev, so it would be great if it could be verified. A flag will prevent it from appearing on stage and prod for another week or two.

[2020-09-18 13:46] AlexandraMoga commented on #9588
Verified fixed on -dev:

[before expanding]
![image](https://user-images.githubusercontent.com/31961530/93604660-5b62c400-f9ce-11ea-987c-8ae2a393a2a1.png)

[expanded]
![image](https://user-images.githubusercontent.com/31961530/93604687-64539580-f9ce-11ea-92cf-913ec546fe1c.png)

[2020-09-18 13:53] bobsilverberg opened #9663 "Upgrade react-router to v5"
This will replace https://github.com/mozilla/addons-frontend/pull/9532. We'd like to update to the latest version of `react-router`. This may require quite a bit of work, so I've opened this separate issue for it.

[2020-09-18 14:11] bobsilverberg opened #9665 "Update react-redux to v7"
In addition to updating `react-router` (see #9663), we should also try to update `react-redux` to the latest version, which is `7.2.1`. This issue will replace https://github.com/mozilla/addons-frontend/pull/9627.

I noticed that we use `connected-react-router` `v5.0.1`, but it has actually released `v6.8.0`, which requires `react-redux` version 6 or 7, but we're currently still on `v5`. So it see

[2020-09-18 14:39] #9555 closed

[2020-09-18 15:58] jvillalobos commented on #9638
@bobsilverberg sorry for the last-minute change. We're currently discussing the message [in this doc](https://docs.google.com/document/d/1MzhHmHrU4QRGcFFy-tcF7xe1IFHAQDdH_L9H8_dVSWo/edit#heading=h.q5m6wu6zv34z), and coming up with a version that doesn't use the term "Promoted". I hope we'll have a new version before the tag next week.

[2020-09-18 17:26] #9660 closed

[2020-09-18 17:26] #4910 closed

[2020-09-18 20:09] caitmuenster commented on #9622
Hi @bobsilverberg! The SUMO article has been published. The updated URL is:

https://support.mozilla.org/kb/add-on-badges?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=promoted-addon-badge

[2020-09-21 12:50] muffinresearch opened #9667 "Endless loading animations for bad URL"
See https://addons.mozilla.org/en-US/firefox/addon/%20%7Bc5b32a48-5514-4a46-81f2-075ebf3cbc29%7D/ (via Gijs on Slack)

<img width="1450" alt="Add-ons_for_Firefox__en-US_" src="https://user-images.githubusercontent.com/1514/93768441-4b86f200-fc11-11ea-8b80-1b8d2012b6f6.png">

This should be a 404, or better still the leading space could be trimmed and redirected to a valid GUID URL.

[2020-09-21 13:02] jfkthame commented on #9667
Note that a trailing space on the GUID also triggers this effect.

[2020-09-21 13:33] ioanarusiczki commented on #9506
@bobsilverberg I verified on AMO dev - FF80(Win10).

**Test results:**

**the way they show up**:
- I have 9 sponsored add-ons (compatible on All Applications) on [AMO dev](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/promotedaddon/?group_id__exact=2). If I make one to be "not promoted", the frontend result is only one shelf with 3 add-ons.

![one shelf](https://user-images.

[2020-09-21 13:58] vaindil opened #9668 "Collections page crashes when logged in"
### Describe the problem and steps to reproduce it:

Simply open the collections page at https://addons.mozilla.org/en-US/firefox/collections/ while logged in.

### What happened?

Going to the page causes the collection info to flash for a brief moment before displaying an error message.

### What did you expect to happen?

The page should not crash.

### Anything else we should know?

The proble

[2020-09-21 14:27] AlexandraMoga opened #9669 "There's no spacing between the install button and the install warning message when the Download file link is missing"
Follow up for #4910

### Describe the problem and steps to reproduce it:
1. Open the following extension detail page - https://addons-dev.allizom.org/en-US/firefox/addon/enhancer-for-youtube-2/
2. Notice the add-on detail card layout

### What happened?
There's no spacing between the install button and the install warning message

### What did you expect to happen?
There should be some space betwe

[2020-09-21 14:39] muffinresearch commented on #9668
Somehow this collection was missing a name (maybe it was created before collections were updated some time ago?). You should find you can access the collection now and edit it.

[2020-09-21 14:39] #9668 closed

[2020-09-21 14:45] gijsk commented on #9667
looks like the page fetches `https://addons.mozilla.org/api/v4/addons/addon/%20%7Bc5b32a48-5514-4a46-81f2-075ebf3cbc29%7D/?app=firefox&appversion=81.0&lang=en-US&wrap_outgoing_links=true` which 404s, and then it just keeps fetching that over and over, and re-rending some bits of UI, which leads to the flickering.

[2020-09-21 14:55] vaindil commented on #9668
Perfect, I'm able to access collections now. Thank you!

[2020-09-21 15:00] AlexandraMoga opened #9670 "Add more space between the Download file link and the install warning message"
Follow up for #4910

### Describe the problem and steps to reproduce it:
1. Open the following extension detail page - https://addons-dev.allizom.org/en-US/firefox/addon/signature-files/
2. Notice the add-on detail card layout

### What happened?
There's too little space between the Download file link and the installation warning message

### What did you expect to happen?
Some extra space between

[2020-09-21 16:09] bobsilverberg commented on #9667
The problem here is twofold:
1. We should trim any string add-on ids before sending an API request, and we're not doing that.
2. We did have code that trimmed the add-on id before checking to see if an add-on was already loading, but because we didn't trim the id in the `fetchAddon` reducer function, we were unable to recognize that the add-on was already loading, which was what was causing the lo

[2020-09-21 16:56] willdurand commented on #9667
@bobsilverberg I suggest we update one of our middleware instead of only fixing one page (add-on detail page). We shouldn't load an URL containing a leading whitespace because that's not correct. Instead, we should redirect to the right URL (i.e. the one without a whitespace). We can probably trim all URL parameters.

[2020-09-21 16:59] bobsilverberg commented on #9506
I'm not sure I understand what you're saying here. If there are at least 6 sponsored add-ons, then the shelf should show 6 add-ons. It should only show 3 add-ons if there are less that 6 sponsored add-ons. Are you saying that there are 8 sponsored add-ons and yet the shelf is only showing 3?

I don't understand this one either. If you refresh, or even leave the home page and then return to the hom

[2020-09-21 17:05] bobsilverberg commented on #9667
Trimming all URL parameters sounds like a good idea. I'll take a look and see if I can figure out how to do that.

[2020-09-21 17:05] muffinresearch commented on #9667
This is a good point, would be good to check if there's a similar problem with other slugs. Though from what I can see from a couple of tests, other pages result in a standard 404 rather than this behaviour.

[2020-09-21 17:06] rochisha0 commented on #9670
Hi! Can I work on this?

[2020-09-21 17:38] bobsilverberg commented on #9670
@rochisha0 This needs to be fixed ASAP, so I don't think it will be open to contributors. Thanks for offering!

[2020-09-21 18:36] bobsilverberg opened #9673 "Replace stylelint `function-blacklist` with `function-disallowed-list`"
The `function-blacklist` rule has been deprecated and replaced with `function-disallowed-list`, and styleint is issuing a warning about this.

Let's update our rules.

[2020-09-21 18:44] bobsilverberg commented on #9667
I think the above is explained by the fact that this is a problem with `fetchAddon`, so other pages, which don't call that, and also don't check that an add-on is currently being loaded, won't suffer from this same problem.

[2020-09-21 19:37] jvillalobos commented on #9506
While that's what we expect to happen operationally, we should be prepared for any errors. In the future the list of add-ons to show will be handled by a third party tool, and that increases the risk of failure here. If there are no add-ons to show in the shelf, the entire shelf should not be shown.

Yeah, I think this is okay. We want to refine the layout in the future, so we shouldn't spend too

[2020-09-21 20:05] bobsilverberg opened #9675 "Hide the promoted add-ons shelf if there are no add-ons"
This is a follow-up from https://github.com/mozilla/addons-frontend/issues/9506#issuecomment-696328269.

If there are no add-ons returned by the API request for sponsored add-ons, hide the entire promoted add-ons shelf.

[2020-09-21 20:06] bobsilverberg commented on #9506
Ok, I opened https://github.com/mozilla/addons-frontend/issues/9675.

[2020-09-22 06:42] AlexandraMoga commented on #4910
I've verified several instances in which the Install button is disabled:

[1] - Incompatible Firefox version (needs lower version)
![image](https://user-images.githubusercontent.com/31961530/93779780-00300c00-fc30-11ea-8508-b5a012ca7eab.png)

[2] - Incompatible Firefox version (needs higher version)
![image](https://user-images.githubusercontent.com/31961530/93779866-1b028080-fc30-11ea-90a9-56abdc

[2020-09-22 08:38] Rob--W commented on #4910
This is expected for now, as Firefox for Android (Fenix) doesn't support installations of xpi files yet.

[2020-09-22 08:45] cadeyrn commented on #4910
I gueess the question was more about the other part:

I don't expect that a "Download file" link triggers an installation, I expect it to trigger a download of the file.

[2020-09-22 08:51] muffinresearch commented on #9667
@bobsilverberg I'm in two minds about this, if it wasn't actually a problem elsewhere, then do we need to add the overhead of trimming everything between slashes for every single request? As long as other URLS with spaces 404 and don't cause this issue it's not a problem. Feel free to convince me otherwise though.

[2020-09-22 09:52] ioanarusiczki opened #9678 "more than 6 sponsored add-ons approved by the admin should be displayed on 2 rows"
Followup for https://github.com/mozilla/addons-frontend/issues/9506
1. I added 6,7, 8 and then 9 add-ons in [admin ](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/promotedaddon/?group_id__exact=2) as "Sponsored" for "All Application"

Expected result:
2 row of add-ons should be visible

Actual result:
only 3 add-ons are displayed

Notes:
I reproduced this issue on AMO dev - F

[2020-09-22 09:52] ioanarusiczki commented on #9506
@bobsilverberg
-  I also expected to see some new add-ons displayed. For a number of 12 add-ons I keep seeing the same order no matter how many times I refresh the page. I even opened a different profile but I see the same add-ons in the same order.

![refreshing page1](https://user-images.githubusercontent.com/33448286/93864600-d0374600-fccd-11ea-97a7-68529ae0ebbd.gif)

- for a number of 6 promot

[2020-09-22 10:17] AlexandraMoga opened #9679 "The Download file link should always trigger a file download, not an installation"
Follow up for #4910

### Describe the problem and steps to reproduce it:
1. Open the following extension detail page - https://addons-dev.allizom.org/en-US/firefox/addon/signature-files/
2. Click on the Download file link

### What happened?
An installation is triggered

### What did you expect to happen?
The add-on `.xpi` is downloaded

### Anything else we should know?
The issue reproduces when

[2020-09-22 10:17] AlexandraMoga commented on #4910
Filed #9679 as a follow up

[2020-09-22 10:45] ioanarusiczki commented on #9660
@bobsilverberg Looks good to me. Verified on AMO dev - FF80(Win10).

![recommended](https://user-images.githubusercontent.com/33448286/93873101-d03d4300-fcd9-11ea-8c77-fee5c0f0b509.png)
![verified](https://user-images.githubusercontent.com/33448286/93873128-d9c6ab00-fcd9-11ea-92f7-da27d2affdb4.png)
![by Firefox](https://user-images.githubusercontent.com/33448286/93873112-d3383380-fcd9-11ea-8b67-29

[2020-09-22 11:01] ioanarusiczki commented on #9650
@bobsilverberg Verified on AMO dev - FF80(Win10).

![the filter](https://user-images.githubusercontent.com/33448286/93874497-24492700-fcdc-11ea-8b7e-9a2230d344ce.png)

[2020-09-22 11:16] bobsilverberg commented on #9667
I don't disagree, although it does seem like a worthwhile thing to do, as an overall fix. Considering that this is a P1, and should land today, and @willdurand is off until tomorrow, maybe we *should* land this fix, and then also consider the middleware approach as a follow-up.

@muffinresearch WDYT?

[2020-09-22 11:22] bobsilverberg commented on #9679
@jvillalobos What do you think? This link is simply an anchor tag with an `href` that points to the downloadable xpi. Firefox's default behaviour on desktop is to try to install the xpi, which is causing this. Do we need to do something special with the link to try to make Firefox not attempt to install the file, or is this current behaviour ok?

[2020-09-22 11:28] ioanarusiczki commented on #9649
@bobsilverberg
`Send` has been removed from the footer on AMO dev - frontend. I verified with FF80(Win10).

![no Send](https://user-images.githubusercontent.com/33448286/93876441-89524c00-fcdf-11ea-9cfc-2b8eea400e8e.png)

The Dev Hub footer still displays Send so let me know if I should file an issue on the server side too.

![the dev hub send](https://user-images.githubusercontent.com/33448286/93

[2020-09-22 11:30] bobsilverberg commented on #9649
An issue for addons-server would be great, thanks @ioanarusiczki!

[2020-09-22 11:34] bobsilverberg commented on #9678
Can you please check the API response in the network tab for the request to https://addons-dev.allizom.org/api/v4/addons/search/?app=firefox&appversion=81.0&page_size=6&promoted=sponsored&sort=random&type=extension&lang=en-US&wrap_outgoing_links=true?

If the response is returning fewer than 6 add-ons, that would explain why the shelf is only showing 3, and then we need to figure out why the API i

[2020-09-22 11:37] bobsilverberg commented on #9506
@eviljeff Is there any reason we should expect the same add-ons to be returned in the same order for this API request:

https://addons-dev.allizom.org/api/v4/addons/search/?app=firefox&appversion=81.0&page_size=6&promoted=sponsored&sort=random&type=extension&lang=en-US&wrap_outgoing_links=true

[2020-09-22 11:37] bobsilverberg commented on #9506
Thanks for the clarifications, @ioanarusiczki! I've asked a question of Andrew here, and commented on the new issue you opened.

[2020-09-22 11:43] #9673 closed

[2020-09-22 11:44] ioanarusiczki opened #9680 "Remove Send from Dev Hub's footer"
As a followup for https://github.com/mozilla/addons-frontend/issues/9649

`Send` should be removed from Dev Hub's footer too, see https://github.com/mozilla/addons-frontend/issues/9649#issue-702919138

![the dev hub send](https://user-images.githubusercontent.com/33448286/93877749-9bcd8500-fce1-11ea-9fee-9d1c32e7d4ba.png)

[2020-09-22 11:49] eviljeff commented on #9506
there's a random seed set based on the current date so the "random"-ness will be consistent for queries on a given day.

[2020-09-22 11:53] #7907 closed

[2020-09-22 11:54] bobsilverberg commented on #9506
Thanks for the explanation @eviljeff!

@jvillalobos Are we okay with that? That will have the same effect on the "Recommended Extensions" and "Recommended Themes" shelves, which I'm not sure we even noticed before.

[2020-09-22 12:04] eviljeff commented on #9506
it's not a new feature - it's how `?sort=random` has worked since #13574 (the pr was reviewed by a certain @bobsilverberg 😉)

[2020-09-22 12:13] ioanarusiczki commented on #9678
@bobsilverberg I think it's 7.

![it is 7](https://user-images.githubusercontent.com/33448286/93880396-18faf900-fce6-11ea-86d1-bfd53e471495.png)

[2020-09-22 12:20] bobsilverberg commented on #9506
I forgot all about that!

[2020-09-22 12:32] bobsilverberg commented on #9622
Thanks @caitmuenster!

@jvillalobos A couple of questions of clarification:

1. Should this new link be used for *all* badges, including the Recommended badge, or should the Recommended badge continue to point to https://support.mozilla.org/kb/recommended-extensions-program? I.e., only the Line and Verified badges would link to the new SUMO article.

2. Should we use `utm_content=promoted-addon-ba

[2020-09-22 12:36] #9669 closed

[2020-09-22 12:36] #9670 closed

[2020-09-22 12:48] bobsilverberg commented on #9622
Actually, looking at the content of https://support.mozilla.org/kb/add-on-badges, I'm not sure it even makes sense as a target for the "What's this?" link on the promoted add-ons shelf. Do we have a different article that describes the program?

[2020-09-22 13:00] bobsilverberg commented on #9678
I cannot reproduce on dev. Can you please set up the data that reproduces this and then let me know. I currently see 6 add-ons in the shelf on dev.

[2020-09-22 14:12] ioanarusiczki commented on #9678
@bobsilverberg Done, I left 8 promoted add-ons on [admin](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/promotedaddon/?group_id__exact=2), meaning I set them from `Sponsored` to `Not promoted`,  I see now one row on dev.

![one row](https://user-images.githubusercontent.com/33448286/93893697-9dee0e80-fcf6-11ea-8425-1ff709a99bce.png)

[2020-09-22 14:45] jvillalobos commented on #9638
@bobsilverberg here's the latest version of the message:

`This add-on is not actively monitored for security by Mozilla. Make sure you trust it before installing.`

[2020-09-22 15:37] AlexandraMoga commented on #9669
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/93904480-8f0d5900-fd02-11ea-8ccf-419625ab59a9.png)
![image](https://user-images.githubusercontent.com/31961530/93904532-a2202900-fd02-11ea-96a2-14fbba68277a.png)

[2020-09-22 15:41] AlexandraMoga commented on #9670
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/93904974-1955bd00-fd03-11ea-947b-496774da3e8f.png)

[2020-09-22 16:26] bobsilverberg commented on #9638
@jvillalobos Now that this is more generic, could we land this message now? We were planning on gating the new message on the launching of the pilot, but maybe that is now unnecessary?

[2020-09-22 16:38] #9638 closed

[2020-09-22 18:06] bobsilverberg commented on #9678
Thanks @ioanarusiczki. The network panel shows only 5 add-ons being returned, which explains why we don't see two rows. There must be an issue with the data, where you are expecting some add-ons to be returned which are not being returned. Can you identify one or more add-ons that you think should be returned but are not?

[2020-09-22 18:28] bobsilverberg commented on #9667
I think this needs a bit more thought/discussion. Here are the facts:

1. When you issue an API request for a slug with a trailing space, it works. The server strips the trailing space out at some point, and returns a response for the add-on. Note that this *does not* work for a leading space, just a trailing space.

2. Our code would expect that issuing a request for a slug that doesn't match the

[2020-09-22 18:32] jvillalobos commented on #9679
IIRC, the installation is triggered by the `content-type` of the file, but I don't know if changing it would break other things. I think we can live with the current behavior. It's more obvious to users that right-clicking on that link is a way to download the file. Other browsers and Fenix should trigger the download since they don't support that kind of installation.

[2020-09-22 18:37] #9652 closed

[2020-09-22 19:18] #9679 closed

[2020-09-22 20:55] jvillalobos commented on #9622
1. All badges, yes.

2. `promoted-addon-shelf` sounds good.

3. Yeah, I think we need to make some adjustments to the article to support this use case. You can use this as the URL, and we'll edit the article to add the appropriate section:

https://support.mozilla.org/kb/add-on-badges?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=promoted-addon-shelf#sponsored

[2020-09-22 20:56] jvillalobos commented on #9506
Since we only plan to have 6 add-ons during the pilot, I don't think the randomness will matter much. After that we'll probably be using Adzerk as the data source so it won't matter either.

[2020-09-22 21:05] jvillalobos commented on #9638
No need to gate on the message. We plan to start testing some stuff out (like Line extensions) as early as this week, so having the updated messaging would be good.

[2020-09-22 23:04] bobsilverberg commented on #9638
I ended up landing the change, with the feature flag in place, in order to make today's tag. I can remove the gate and cherry pick the change tomorrow, if you feel it would be best for it to go out on Thursday without the flag.

[2020-09-23 07:17] ioanarusiczki commented on #9678
@bobsilverberg Can you open the list of active promoted add-ons from admin?
https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/promotedaddon/?group_id__exact=2
You will find there those displayed above and the rest of them are the one not displayed.

[2020-09-23 07:29] ioanarusiczki commented on #9555
@willdurand Looks good to me. I verified this on AMO dev with FF80(Win10), using as reference https://github.com/mozilla/addons-frontend/issues/9547

[2020-09-23 07:51] #9656 closed

[2020-09-23 08:06] willdurand commented on #9667
The issue was verified fixed so I believe it used to work. Maybe it has regressed somehow?

Yeah, it would be interesting to understand why the API does that. Sanitizing URL params make sense but I don't think we should trim anything, so the API should return a 404 instead.

[2020-09-23 08:38] ioanarusiczki commented on #9678
@bobsilverberg Nevermind, I checked each one myself and the API response is correct, because one is a theme https://addons-dev.allizom.org/en-US/firefox/addon/green-spring/ and the second is not compatible with Firefox, it was uploaded for android (that's a limitation that you can add in the Promoted admin `All platforms`).
I am going to repeat the tests, to make sure I work with type=extension an

[2020-09-23 09:22] diox commented on #9667
The API doesn't do it, MySQL does.
[code]

Returns the add-on with slug `some-slug` without the space. This is a collation issue, and it sort of makes sense, sort of not. But it's tricky to fix without switching to MySQL 8.0 and changing the collation (which we have planned, but long-term).

[2020-09-23 09:28] diox commented on #9667
It's worth pointing out that it's not just the trailing space: by design, the collation we're using will also unfold accents best it can, ignore case and much, much more. So, taking `some-slug` as the slug again, this will also return it:
[code]

[2020-09-23 09:58] willdurand commented on #9667
Locally, I am not able to reproduce the issue with the _trailing_ space. The server redirect is performed as expected.

I wrote a test case for the _leading_ space, the test case passes but it does not work in the browser and that's because the API returns a 404 in this case. Here is the test case:

[code]

I looked at how 404s from the API are handled, and we handle them correctly. That's what we

[2020-09-23 10:08] willdurand commented on #9667
It's also worth mentioning that the fix for https://github.com/mozilla/addons-frontend/issues/6735 cannot work for trailing spaces because in the case of leading spaces, the API returns a 404. Our code only sends a server redirect when there is no error (a 404 from the API is an error).

[2020-09-23 10:24] ioanarusiczki commented on #9678
@bobsilverberg Yep, mystery solved. I added extensions compatible with `Firefox`.

When 6 addons are available:

![6 addons](https://user-images.githubusercontent.com/33448286/93999911-16a8a580-fd9f-11ea-8665-6e441f1f7df8.png)

At 7 addons:
![7addons](https://user-images.githubusercontent.com/33448286/93999947-20320d80-fd9f-11ea-8f07-bce976783353.png)

At 8:
![8 addons](https://user-images.githubu

[2020-09-23 10:24] #9678 closed

[2020-09-23 10:26] eviljeff commented on #9667
The fix for #6735 seems flawed in light of this - it's not just extra spaces on the end of the slug that would be ignored for a match in the database, it's possibly a whole range of different characters. So we can't wait for an API response that "matches" the slug or guid (unless there's a very loose definition of "match" that is the same as mysql's collation).

I'd split that ^ into an issue that

[2020-09-23 11:34] ioanarusiczki commented on #9638
@bobsilverberg

On AMO Dev I see the new message as being available. It's "This add-on is not actively monitored for security by Mozilla. Make sure you trust it before installing." and "Learn More" link is the same as on AMO stage and prod -> https://support.mozilla.org/en-US/kb/recommended-extensions-program#w_what-are-the-risks-of-installing-non-recommended-extensions

On AMO stage - the old mes

[2020-09-23 12:22] willdurand commented on #9667
Yes, this is an addon-server problem. The API should probably handle this MySQL weirdness by verifying that the add-on `slug` is the slug passed in the URL.

[2020-09-23 12:29] eviljeff commented on #9667
Well, I meant more why do we need to wait for an exact match for the slug/guid anyway?  Isn't getting back an add-on detail with a 200 response a sufficient indication that a matching add-on has been found?

[2020-09-23 12:58] ioanarusiczki commented on #9506
@bobsilverberg I also forgot about https://github.com/mozilla/addons-server/issues/13574

Based on all comments above - I'm marking this verified on AMO dev - FF80(Win10).

[2020-09-23 15:27] bobsilverberg commented on #9667
I wasn't suggesting that the fix didn't "fix" the specific issue from #6735, but rather that it's probably not the correct overall fix for the root problem. It's a bandaid that works for that one case.

[2020-09-23 15:30] bobsilverberg commented on #9667
Yes, this is the point I've been trying to make, and is why the "fix" for #6735 isn't really the correct overall fix.

[2020-09-23 15:39] bobsilverberg commented on #9667
We could take that approach. It wouldn't update the URL however, which is part of what our code does. If we get back a result which we think is correct (based on some logic in the component), but the slug on the URL isn't identical to the slug of the add-on, we redirect to the slug for the add-on. This is probably not necessary though. If we simply accept any 200 response that contains an add-on a

[2020-09-23 16:01] willdurand commented on #9667
Exactly, it's a patch we wrote with the information we had at this time. I feel like typing a trailing space might happen in real life, though, and QA didn't find any other similar issue back then (and they usually check other possible scenarios).

I personally think so, yes. That will help us avoid duplicate content in addition to other annoying bugs in the future.

I don't really understand why

[2020-09-23 16:38] willdurand commented on #9667
We discussed about this issue during the standup. We cannot really fix the MySQL weirdness because we sort of rely on it to have case insensitivity and other useful features. We'll have to support weird slugs/GUIDs and we'll send a server redirect to the correct URL (which uses the add-on slug) when slugs/GUIDs are different in the URL vs API response.

That last part can be fixed in a separate is

[2020-09-23 18:07] #9622 closed

[2020-09-23 18:13] bobsilverberg commented on #9638
The changes to the URLs just landed on stage as a cherry-pick, as well as the fact that the new warning message should now appear on stage and prod.

[2020-09-23 18:33] bobsilverberg opened #9692 "Redirect from add-on detail page if the current URL doesn't match `addon.url`"
This is a follow-up from https://github.com/mozilla/addons-frontend/issues/9667.

As discussed in our meeting, on the add-on detail page, we should check the API response and if the `url` property in the response does not match the current URL, then we should redirect to `addon.url`. Note that the `url` property does not contain the querystring, so we'll need to compare without that, and then add

[2020-09-23 18:34] bobsilverberg commented on #9667
I opened #9692 as a follow-up for the redirect.

[2020-09-24 07:02] ioanarusiczki commented on #9622
@bobsilverberg I verified this issue on AMO stage  with FF80(Win10) and I see the changes:
- What is this? URL redirects to https://support.mozilla.org/en-US/kb/add-on-badges?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=promoted-addon-shelf#sponsored (available now on AMO dev)

- on all pages when the badges are available and the badge is clicked, a new tab is opened and it's URL

[2020-09-24 07:06] willdurand commented on #9692
I don't know why we need to check the url if we are able to store and load the addon detail data in redux (which I think is a challenge here). I have the feeling that the existing logic would already work given that we already support loading an addon by ID and GUID.

[2020-09-24 08:06] smayer97 commented on #5813
still needed

[2020-09-24 09:06] ioanarusiczki commented on #9638
@bobsilverberg The URL from the "Learn More" is https://support.mozilla.org/en-US/kb/add-on-badges?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=install-warning on AMO dev and stage - FF80(Win10).

[2020-09-24 11:51] bobsilverberg commented on #9692
I believe the idea was to use the `url` returned by the API as that is guaranteed to be the cannonical URL, as opposed to building one ourself. The current logic already compares the `slug` from the URL to `addon.slug`, so all we're really talking about here is comparing the path from the URL to `addon.url`, so I'm not sure what you're taking issue with.

You are right about the redux issue though

[2020-09-24 12:15] #9667 closed

[2020-09-24 13:07] bobsilverberg commented on #9692
For reference, here's a URL on dev that leads to a loading state but not a 404: https://addons-dev.allizom.org/en-US/firefox/addon/t%C3%AFgers-matter/

[2020-09-24 13:13] bobsilverberg commented on #9410
Just going through issues that I've participated in and this one popped up. Now that we're nearing the end of Q3, and no contributors have picked this up, should I just get it done? Or are we fine with waiting for a contributor to do it?

@jvillalobos

[2020-09-24 13:14] bobsilverberg commented on #9417
@jvillalobos Is this actually a follow-up to #9410, or is it a replacement for that? Also, is this something you'd like to have fixed reasonably soon? If so, I can take it.

[2020-09-24 13:26] bobsilverberg commented on #9411
@aaronrbenson I believe you were going to take a look at this. We discussed it in the front-end meeting on August 4th. Have you had a chance to look at/think about it yet?

[2020-09-24 13:36] #9675 closed

[2020-09-24 13:55] alexandra-martin commented on #9619
Reproduced also on a small screen Android 10 on all AMO servers with FF 81.1.1 (Build #2015764547).

![20200924_163940](https://user-images.githubusercontent.com/54401091/94154517-a1180480-fe86-11ea-8def-32514f3346ec.gif)

[2020-09-24 14:43] ioanarusiczki commented on #9667
@willdurand I verified this on AMO stage but I tried to reproduce the above issue on prod too. The way to reproduce this issue on AMO prod is to add one space in the URL between /addon/ and /guid/ or even /slug/.

Example:
https://addons.mozilla.org/en-US/firefox/addon/%20measure-it/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=featured

AMO prod

![space](https://user-images.gith

[2020-09-24 14:52] willdurand commented on #9667
@ioanarusiczki the 404 is indeed expected

[2020-09-24 15:48] willdurand commented on #9665
There was an issue about it already: https://github.com/mozilla/addons-frontend/issues/8251

[2020-09-24 16:27] bobsilverberg commented on #9665
Ok, we should probably close this one then. Do you agree?

[2020-09-24 16:42] willdurand commented on #9665
yes

[2020-09-24 16:46] #9665 closed

[2020-09-24 17:23] jvillalobos commented on #9410
@bobsilverberg We're using GA events to track performance of the promoted add-ons pilot, so if this is something that can be fixed by the next push then I'm okay with it. Otherwise I'd rather hold off on changing this until after the pilot, in November.

[2020-09-24 17:24] jvillalobos commented on #9417
I called this a follow-up because it involved changing the "Action" attribute to some events (see the yellow rows in the doc). They could both be fixed together, though.

[2020-09-24 17:40] bobsilverberg commented on #9410
I can get it done for next week's push. I'm going to close this one and do it all via #9417 though.

[2020-09-24 17:40] #9410 closed

[2020-09-25 11:19] ioanarusiczki commented on #9675
@bobsilverberg When the API https://addons-dev.allizom.org/api/v4/addons/search/?app=firefox&appversion=81.0&page_size=6&promoted=sponsored&sort=random&type=extension&lang=en-US&wrap_outgoing_links=true is not returning sponsored add-ons the shelf is not displayed.

Adding one add-on -> Shelf shows 1 add-on
Adding 2 -> Shelf shows 2 add-ons
Adding 3 -> the add-ons are shown on one row
Adding 4, 5-

[2020-09-25 14:13] ioanarusiczki commented on #9656
@willdurand I did not see anything unusual on AMO dev with FF81(Win10).

[2020-09-29 14:13] bobsilverberg opened #9708 "Strip the language out of the url passed to GA for the secondary hero"
This is a follow-up to https://github.com/mozilla/addons-frontend/issues/9417. https://github.com/mozilla/addons-frontend/pull/9707 will land the changes to the `action` and `label` data being passed to GA, but one requirement left for this follow-up is to strip the lang from the URL that is passed to GA when a secondary hero element is clicked.

[2020-09-29 14:54] #9417 closed

[2020-09-29 16:12] willdurand opened #9711 "Promoted badges don't look nice in RTL mode"
I noticed this issue while reviewing a different patch.

In RTL mode, the left border is not visible and the right one is too big.

[2020-09-30 08:34] #9711 closed

[2020-09-30 12:34] #9511 closed

[2020-09-30 14:15] bobsilverberg opened #9713 "Change source of truth for Fenix compatibility"
From the PRD at https://docs.google.com/document/d/1QTt1G05tjQqfi4ZuAx8Jy4lAshQKdFQpTC3_zqMQHQA/edit#heading=h.fiarmnx52wyo:

Milestone 1, item 3a: "Fenix needs to change its source of truth for supported extensions to Recommended Extensions, instead of a collection. Users can still override this setting with a custom collection in Nightly."

Note that we have already updated AMO to no longer use

[2020-09-30 14:25] bobsilverberg opened #9714 "Update compatibility messaging for all pages on AMO that aren’t the homepage, search, or supported listing pages."
From the PRD at docs.google.com/document/d/1QTt1G05tjQqfi4ZuAx8Jy4lAshQKdFQpTC3_zqMQHQA/edit#heading=h.fiarmnx52wyo:

Milestone 1, item 4: "Update compatibility messaging for all pages on AMO that aren’t the homepage, search, or supported listing pages."

I am unclear about the requirements for this one. Currently, on all pages other than the Add-On Detail page, the message a user sees when visiti

[2020-09-30 14:28] bobsilverberg opened #9715 "Update the site header for Fenix"
From the PRD at docs.google.com/document/d/1QTt1G05tjQqfi4ZuAx8Jy4lAshQKdFQpTC3_zqMQHQA/edit#heading=h.fiarmnx52wyo:

Milestone 1, item 5a: "The standard header, without the navigational links (Extensions, Themes, More). This can be applied to all AMO pages for Fenix users."

Specifically, when a user is on Fenix, remove the navigational links from the site header on every page.

[2020-09-30 14:32] bobsilverberg opened #9716 "Update the homepage for Fenix users"
From the PRD at docs.google.com/document/d/1QTt1G05tjQqfi4ZuAx8Jy4lAshQKdFQpTC3_zqMQHQA/edit#heading=h.fiarmnx52wyo:

Milestone 1, item 5:

The homepage for Fenix users must show, exclusively:
- ~~The standard header, without the navigational links (Extensions, Themes, More). This can be applied to all AMO pages for Fenix users.~~ This is being dealt with via #9715.
- The heading also shown for Fe

[2020-09-30 15:20] #9708 closed

[2020-09-30 17:46] jvillalobos commented on #9713
Let's stick to Recommended for now. Those are the only add-ons we know work in Fenix.

Not really. Fenix will need to make an equivalent change, since they currently use collections, but we can make the change on AMO with the caveat that we'll need to update both the recommended list and the collections for some time.

[2020-09-30 17:52] jvillalobos commented on #9714
Let's change the message to this:

"To find add-ons compatible with Firefox for Android, click here.", with the "click here" link pointing to the AMO homepage.

[2020-10-01 10:07] ioanarusiczki commented on #9711
@willdurand Looks good to me. Verified on dev/stage with FF81(Win10).

![rtl issue](https://user-images.githubusercontent.com/33448286/94796139-04ee8000-03e7-11eb-9ef8-e8625b09fa5f.gif)

[2020-10-01 12:26] ioanarusiczki commented on #9417
@bobsilverberg

I went through the document, and I have 2 things to clarify:

- I've met  "The fallback no results" and fallback invalid results" in the Console except for “recommended_fallback-timeout” which I don't know how to trigger, if you can give me a tip.

- I've seen all the install events except for "AMO Addon Installs Download Failed". Same for a theme.
I tried with
https://addons-dev.a

[2020-10-01 12:41] bobsilverberg commented on #9417
I'm not sure how that can be tested. That means that there was a timeout inside the server code which calls the TAAR API, so it's not really something we can emulate via the frontend. Considering that the code that generates the other two pings is basically the same for this one as well, I think it's fine to not verify it specifically.

I'm not sure how the changes I made would have an impact on t

[2020-10-01 13:02] ioanarusiczki commented on #9417
@bobsilverberg On the second matter, I tried an install of an addon on stage - the addon is corrupt, I have the same result as I described above.
I don't think this issue had an impact either. Also I don't know if the way I tried to test it is alright but if it's needed I could file it.

[2020-10-01 13:11] alexandra-martin commented on #9619
Another behavior was observed being reproduced intermittently on all AMO servers.

After a Footer link is accessed and the "Back" button is clicked, the page can be blank, with no information and in a dark color. The page is displayed again if a scroll down (through mouse or keyboard) or a page refresh is made.

![2](https://user-images.githubusercontent.com/54401091/94813291-7a1a7f00-0400-11eb-94

[2020-10-01 13:17] bobsilverberg commented on #9417
@jvillalobos Can you confirm whether we are seeing events in GA from these "AMO Addon Installs Download Failed" events (and also for themes)? I just want to check whether the testing methodology is unable to recreate them, or if @ioanarusiczki has uncovered an existing bug here.

[2020-10-01 13:45] alexandra-martin opened #9718 ""Update review" button is clickable if review is edited with Space key"
### Describe the problem and steps to reproduce it:
1. Log in and write a review for an add-on.
2. Click "Edit review".
3. Make sure that the text box is selected and press the Space key.

### What happened?
"Update review" can be clicked to save the edited review.
### What did you expect to happen?
"Update review" can't be clicked.
### Anything else we should know?
Reproduced on all AMO servers w

[2020-10-01 16:34] jvillalobos commented on #9417
I see both of those events being reported in GA. "AMO Addon Installs Download Failed" is reported about 1,500 times a day, for example. I have no idea under what circumstances they are reported, or if we're covering all failure cases.

[2020-10-01 16:46] jvillalobos commented on #9715
"for Fenix users" should be interpreted as "for users who are identified as being on Fenix based on the user agent". Those users should generally land on `/android/`, which is also a reason I'm not sure we want to keep the menu options to switch between the desktop and mobile site. If someone wants to force it they can change the URL for now.

I prefer that we err on the side of user agent detecti

[2020-10-01 16:52] diox opened #9719 "Fetch homepage sponsored shelf using specific addons-server API"
Once https://github.com/mozilla/addons-server/issues/15617 is built, the frontend needs to call this API (behind a flag) to fetch the sponsored homepage shelf.

[2020-10-01 16:55] diox opened #9720 "Call impression URL when displaying sponsored homepage shelf"
When implementing https://github.com/mozilla/addons-frontend/issues/9719 to fetch the sponsored shelf through the specific API we're building in https://github.com/mozilla/addons-server/issues/15617 we need to call an impression URL, that should be part of the response from the API. See also https://github.com/mozilla/addons-server/issues/15618 for the impression endpoint implementation.

One open

[2020-10-01 17:00] diox opened #9721 "Call click URL when clients follow a link from the sponsored homepage shelf"
When implementing #9719 to fetch the sponsored shelf through the specific API we're building in mozilla/addons-server#15617 we need to call a special click URL when the user follows a link from the shelf. See https://github.com/mozilla/addons-server/issues/15619 for the implementation of that endpoint.

We may want to track conversions (installs following a click) as well through Adzerk - that's u

[2020-10-01 18:45] bobsilverberg commented on #9720
Ha, I was just coming here to comment on using `sendBeacon`! I'd like to do that, but I see it's unsupported on IE. Do we care about that? Do we need to program our own fallback, or just not record an impression if `sendBeacon` is unsupported?

cc @jvillalobos

[2020-10-01 18:58] bobsilverberg commented on #9715
Thanks @jvillalobos.

Just to be clear, you are saying we don't need a visible control/link to allow users to switch from `/android/` to `/firefox/`, correct?

The larger issue of controlling everything based on user agent, as opposed to `clientSite`, is part of Milestone 2. Currently, a lot of the functionality that is aimed at mobile users is solely based on `clientSite`, regardless of what thei

[2020-10-01 19:03] bobsilverberg commented on #9721
Do we want to consider using `sendBeacon` for this as well?

[2020-10-01 19:56] jvillalobos commented on #9720
IE traffic to the homepage is negligible, so it's fine to not support it.

[2020-10-01 19:59] jvillalobos commented on #9715
Correct.

For this requirement I think it's fine to stick to `clientSite`, since it's mainly about simplifying the appearance of the mobile site.

[2020-10-01 20:04] jvillalobos commented on #8415
I don't think this is worth fixing. It's a valid issue, but collections on AMO aren't meant to be a power feature for people managing so many collections that they can't keep track which add-ons are in which collections.

[2020-10-01 20:04] #8415 closed

[2020-10-02 13:40] bobsilverberg commented on #9692
@willdurand I think we can close this and replace it with an issue about dealing with this in a different way, as discussed on Matrix. I believe you were going to move forward with a patch for a different solution, so I'll leave it to you to either re-purpose this issue, or close it and open a new one.

[2020-10-02 13:47] ioanarusiczki commented on #9708
@bobsilverberg I verified on dev - FF81(Win10) and the language is no longer present.

On AMO Dev:
"eventLabel":"https://addons-dev.allizom.org/firefox/extensions/?utm_sourc….org&utm_medium=referral&utm_content=homepage-secondary-hero"}

[2020-10-02 14:21] bobsilverberg commented on #9716
As discussed at https://github.com/mozilla/addons-frontend/issues/9715#issuecomment-702365323, for now this change will be implemented for any users visiting the `/android/` site. We will deal with user-agent based changes in Milestone 2.

[2020-10-04 16:55] smayer97 commented on #4795
Can this be re-opened please since this is not a duplicate request?

[2020-10-05 10:01] diox commented on #9721
The `clickUrl` will eventually redirect to the right URL, including utm query parameters, so we probably only need to follow the redirects (request to AMO, which redirects to adzerk, which redirects back to AMO)

[2020-10-05 11:27] ioanarusiczki commented on #9511
@bobsilverberg I verified on dev - FF81(Win10) and I do not see these csp reports being present on the addon detail page or the user profile page.

![no css reports](https://user-images.githubusercontent.com/33448286/95074025-7fd0d700-0716-11eb-907a-80923ec510b5.gif)

[2020-10-05 15:03] #9715 closed

[2020-10-05 15:16] bobsilverberg commented on #9721
Ok, so we simply make the `href` of the `a` tag the value returned in `clickURL` from the API response? I was planning on sending a beacon to the `clickURL` via javascript, and just keeping the link destination as it currently is, but it sounds like we don't need to do that at all, correct?

[2020-10-05 17:15] jvillalobos commented on #4795
I see the sort options in the Edit mode and they appear to work. What's missing?

[2020-10-05 21:16] smayer97 commented on #4795
Some time ago, the sort only worked in the collection list but not while in edit mode. Not sure when this changed but I see now that it works in the edit mode too.
So this is done. Sorry about that. Thanks kindly for following up.

[2020-10-05 22:51] jvillalobos opened #9729 "Send GA event for clicks on Download Firefox button"
This would be **really** useful to track for our metrics:

- Event Category: "AMO Download Firefox"
- Event Action: "download-firefox-click"
- Event Label: Add-on GUID if it's the main Download Firefox button on a listing page. Empty if it's the Download Firefox button in the site header.

[2020-10-06 08:16] willdurand opened #9730 "Rename loadAddonResults to loadAddon"
This is needed to implement a fix for #9692

**For QA:** please make sure we can load add-on detail pages as before (note: the issue described in #9692 isn't fixed yet). Also make sure the disco pane (the old HTML one, yeah) is still working.

[2020-10-06 08:16] #9730 closed

[2020-10-06 09:21] diox commented on #9721
From discussion on slack:

Current locale and app need to be injected in the URL, but Adzerk would only have a single immutable URL to redirect to, so that's not very convenient. Our new strategy would be to have the proxy endpoint live under /api/ and be called through `sendBeacon` (which is a `POST`) and that endpoint would make a request to Adzerk's `clickUrl` while the frontend just follows th

[2020-10-06 09:28] #9692 closed

[2020-10-06 09:31] willdurand opened #9731 "Load add-on detail page with data coming from the API"
Follow-up https://github.com/mozilla/addons-frontend/issues/9667

---

Sometimes the API returns an add-on (data in the API response) but the frontend does not display the detail page because of a slug mismatch or something like that. We support loading an add-on detail page by add-on (numeric) ID, GUID and slug (case sensitive).

The API supports trailing spaces as well as some other fancy charac

[2020-10-06 13:07] ioanarusiczki commented on #9715
@bobsilverberg I verified this on Fenix - android 9.0

The site header has been removed.

![Fenix](https://user-images.githubusercontent.com/33448286/95205329-e543c700-07ed-11eb-99f9-dfa2c20827d5.jpg)

[2020-10-06 13:35] ioanarusiczki commented on #9716
@bobsilverberg

The See more link appears once there are more than 4 extensions (as before, so I believe it's as expected):

![Fenix see more and header](https://user-images.githubusercontent.com/33448286/95208443-c47d7080-07f1-11eb-896c-3bf2bb677860.jpg)

Verified on AMO dev - Fenix on Android 9.0

[2020-10-06 14:37] bobsilverberg commented on #9411
@Kushagraw12 We now have a direction for what we want to do with this issue. Are you still interested in working on it?

[2020-10-06 14:42] Kushagraw12 commented on #9411
Yeah, please tell me what has to be done, i will try my best to do it! ✌🏻

[2020-10-06 15:02] #9731 closed

[2020-10-06 15:11] bobsilverberg commented on #9411
@Kushagraw12 We would like the following changes:
- Remove the "Learn more about permissions" button.
- Add a text link into the header of the card (where it currently shows "Permissions" in bold), which says "Learn more", and includes the icon from the current button (see below for a screen shot of the icon). This link should point to the same destination as the current button, and should be righ

[2020-10-06 15:26] bobsilverberg opened #9735 "Enable the Sponsored add-ons shelf on the homepage"
Flip the flag so that the Sponsored add-ons shelf will appear on the homepage on stage and prod.

Requested by @diox via Matrix on behalf of @jvillalobos

[2020-10-06 15:58] bobsilverberg commented on #9735
It looks like impression events are being sent to GA twice when the homepage is rendered on the server. If a user lands on a different page, and navigates to the homepage, it sends the expected number of events, but if a user starts on the homepage, or refreshes the homepage, then two events are sent for each add-on.

I'm not sure how quickly I'll be able to come up with a fix for this.

@jvillalo

[2020-10-06 16:04] bobsilverberg opened #9737 "Sponsored add-on impressions are recorded twice with SSR"
Impression events are being sent to GA twice when the homepage is rendered on the server. If a user lands on a different page, and navigates to the homepage, it sends the expected number of events, but if a user starts on the homepage, or refreshes the homepage, then two events are sent for each add-on.

[2020-10-06 16:43] jvillalobos commented on #9735
Let's enable the shelf anyway. We'll just need to keep in mind that the impression data will be temporarily inflated. /cc @devaneymoz

[2020-10-06 16:51] #9735 closed

[2020-10-06 17:17] #9729 closed

[2020-10-06 21:53] Kushagraw12 commented on #9411
Sure, I will look right into it!
Thanks!

[2020-10-07 07:52] ioanarusiczki commented on #9731
@willdurand

I verified on AMO dev - FF81(Win10), results:

- with upper cases, the GUID or slug is returning the addon detail page.

https://addons-dev.allizom.org/en-US/firefox/addon/forecastfox@s3_fix_VERSION/
https://addons-dev.allizom.org/en-US/firefox/addon/forecastfox-FIX-version/

- replacing some letters with unicode is returning the detail page when the slug is used but it's a 404 when I

[2020-10-07 08:59] willdurand commented on #9731
I think that works as intended yeah, thanks!

[2020-10-07 09:00] AlexandraMoga commented on #9729
This issue is verified fixed on AMO stage:

[Clicking on the Download Firefox button in the header]
[code]
[Clicking on the Download Firefox button in the addon detail page or on the All Versions page]
[code]

[2020-10-07 09:17] AlexandraMoga commented on #9730
I didn't have issues with loading add-on detail pages and the old DiscoPane is still working:

![image](https://user-images.githubusercontent.com/31961530/95311806-ca795d00-0896-11eb-868d-a30557dbc19f.png)

This was verified on AMO stage.

[2020-10-07 09:46] willdurand opened #9740 "Review Helmet config"
I noticed some changes in Helmet v4: https://github.com/helmetjs/helmet/wiki/Setting-legacy-Content-Security-Policy-headers-in-Helmet-4. I think it's mainly about [browser sniffing, which has been removed](https://github.com/helmetjs/csp/issues/97). We should not be impacted so let's do some cleanup if needed.

[2020-10-07 10:24] ioanarusiczki commented on #9735
@bobsilverberg
- I enabled the sponsored shelf on [AMO stage](https://addons.allizom.org/en-US/firefox/). Looks good to me.

- I could reproduce the GA event issue at a page reload - The Console shows the events twice but that's going to be fixed.

[2020-10-07 13:22] ioanarusiczki opened #9742 "Ux issues with the line badge while making a search"
STR:
1. Make an empty search on AMO and then select from Badging: By Firefox
2. Go to the search bar and start writing the name of an add-ons returned by the list
3. Hover over the autocomplete results
4. Observe the badges from the list of add-ons displayed

Result:
The logo turns white.

This issue is reproducible on AMO dev and stage - FF81(Win10).
I could not reproduce it with the other promot

[2020-10-07 19:33] #9737 closed

[2020-10-07 19:57] #9740 closed

[2020-10-07 20:34] bobsilverberg opened #9744 "Implement API, saga and reducer code for new sponsored endpoint"
Depends on https://github.com/mozilla/addons-server/issues/15617.

This supports #9719.

Implement the plumbing to allow the frontend to call the new `sponsored` endpoint, and to load the data into the redux store.

[2020-10-08 07:06] ioanarusiczki commented on #9737
@bobsilverberg I verified on AMO dev and AMO stage. The issue is no longer reproducible.

![one GA event](https://user-images.githubusercontent.com/33448286/95426016-e8ee5f80-094d-11eb-99bc-afefc8be22bb.gif)

[2020-10-08 09:11] ioanarusiczki commented on #9742
The above issue is also reproducible on the addon detail pages

![on the addon page](https://user-images.githubusercontent.com/33448286/95438727-5c4c9d00-095f-11eb-80a3-a405c6e87632.png)

[2020-10-08 10:55] willdurand commented on #9742
This is an interesting issue: it's because the "by Firefox" SVG icon uses `<defs>` and we change the visibility of the very first icon on the page, which affects other icons for some reasons. I can reproduce in a CodeSandbox and in multiple browsers, so I believe this is a common behavior. I didn't know about it before, though. It seems using `visibility: hidden` instead of `display: none` should

[2020-10-08 20:59] bobsilverberg opened #9746 "Rename PromotedAddonsCard to SponsoredAddonsShelf"
Supports #9719.

This is just a small cleanup that I'd like to do, and doing it as a separate issue will reduce the size of the final patch for #9719.

[2020-10-09 11:33] #9746 closed

[2020-10-09 13:31] #9744 closed

[2020-10-10 11:24] Yashs911 commented on #9423
Hi, @willdurand I would like to work on this issue.

[2020-10-12 13:04] ioanarusiczki commented on #9744
@bobsilverberg

- I don't see anything changed about the feature. The addons are shown - 6 on 2 rows (as expected since there are 7 enabled in admin).
- GA events (impressions and clicks) work as expected. They are registered and show up once in the Console.

If there's anything else I should be testing please let me know.

[2020-10-12 13:05] ioanarusiczki commented on #9746
@bobsilverberg Let me know if testing for https://github.com/mozilla/addons-frontend/issues/9744#issuecomment-707107338 covers this too.
Thanks!

[2020-10-13 11:57] bobsilverberg commented on #9746
Yes, that should cover it. Thanks!

[2020-10-13 12:17] #9742 closed

[2020-10-13 13:54] ioanarusiczki commented on #9742
@willdurand Verified on AMO dev -FF81(Win10). I could not reproduce it - in search results or detail pages.

![fixed label](https://user-images.githubusercontent.com/33448286/95869957-9c9f8700-0d74-11eb-9cdf-3e5fb36ab4be.png)

[2020-10-13 19:10] jvillalobos opened #9762 "Measure installation of add-ons in the sponsored shelf"
For add-ons in the sponsored shelf, we need to measure impressions, clicks, and installations. There are some additional steps that need to be taken in the Adzerk setup for installations to be measured.

[2020-10-13 21:17] jvillalobos opened #9763 "Configure the Primary Hero area to interact with GA"
Like with the Sponsored shelf, we need the Primary Hero area to report impressions and clicks to GA. We want it to be possible to show non-Recommended content in that area next year (https://github.com/mozilla/addons-server/issues/15671).

We already report clicks with the `AMO Primary Hero Clicks` event, so we would only need the equivalent `AMO Primary Hero Impressions` event to be reported.

[2020-10-13 21:20] jvillalobos opened #9764 "Support non-Recommended extensions in the Primary Hero area"
Per https://github.com/mozilla/addons-server/issues/15671, we want to be able to display non-Recommended extensions in the Primary Hero area of the homepage. At least in this iteration we won't worry about using Adzerk, so they will still be managed in the Discovery admin.

The header text should say: `Recommended` for Recommended add-ons, `By Firefox` for By Firefox add-ons, `Sponsored` for anyth

[2020-10-14 13:51] bobsilverberg commented on #9762
@willdurand ottomh, I'm thinking we could store the info needed for the install ping in the redux store, and then use that info when an add-on is installed. WDYT? This seems a lot easier than trying to carry that data around on a URL.

@jvillalobos At its simplest, this could send the ping if a user installs an add-on immediately after clicking on the link, but there may be other use cases we want

[2020-10-14 17:46] jvillalobos commented on #9762
Yes, we should check that the add-on being installed is the one that was clicked on in the sponsored section. I think keeping track of the sponsored add-on that was **last** clicked on should be good enough.

[2020-10-14 17:50] bobsilverberg commented on #9762
Further to this, we should define exactly what we consider to be a conversion. What is the exact flow that constitutes a conversion?

Should it only count if a user goes directly from the sponsored shelf to an add-on detail page and then immediately installs? Can a user do some other navigation/activity on the site before installing and still have it count?

[2020-10-14 17:59] bobsilverberg opened #9767 "Investigate using the Flow Types-First codemod"
This is a follow-up to https://github.com/mozilla/addons-frontend/pull/9662.

As discussed at https://github.com/mozilla/addons-frontend/pull/9662#issuecomment-700216484:

There is a codemod that will make most of the changes to our files for us, in order to be Types-First compliant. This issue is about attempting to apply that codemod, checking to see if there are any Flow errors, and evaluating

[2020-10-15 12:09] bobsilverberg commented on #9764
As https://github.com/mozilla/addons-server/issues/15671 has landed, I'm going to start working on this with an aim to land it for next week's tag. I can either add the link for "What is this?" in a way that seems best to me, and then we can change it once we have UX feedback, or I can leave off the "What is this?" link for now.

Which would be preferable, @jvillalobos?

[2020-10-15 12:38] bobsilverberg commented on #9719
@jvillalobos We generally cache data in the frontend so we don't fetch the same data over and over again, and that is how the Sponsored add-ons shelf is currently behaving. I.e., if you navigate away from the home page, and then later return to the home page, we don't re-fetch a new set of add-ons for the Sponsored shelf. I assume we probably want to fetch a new batch each time the shelf is displa

[2020-10-15 14:34] #9763 closed

[2020-10-15 15:29] bobsilverberg commented on #9764
@jvillalobos Another question: Currently the header actually says "RECOMMENDED" (all uppercase), not "Recommended". Does this issue include changing the header to now be in mixed case as opposed to all uppercase?

[2020-10-15 15:52] jvillalobos commented on #9764
That would be good for now. We can use a screenshot from -dev to get the discussion going with UX.

Let's keep them all uppercase.

[2020-10-15 15:57] jvillalobos commented on #9719
Correct, we should fetch a new set on every page load for the homepage.

[2020-10-15 16:04] jvillalobos commented on #9762
I think that having the install following the click within the same session should be enough to count as a conversion. It's possible the user would navigate to the versions page or the reviews page to gather more info before installing.

[2020-10-15 16:25] willdurand commented on #9762
I agree we should use the session storage. That being said, we'll have to make sure it works as intended because browsers tend to do (not so) smart things with session storage, e.g., by retaining the session storage after browser restart.

[2020-10-15 16:25] bobsilverberg commented on #9764
Great, thanks @jvillalobos. I've basically copied the style of the existing "What is this?" link from the Promoted shelf and used it as is for now. The blue colour looks a bit funny depending on the background gradient of the Primary Hero. Here are a few examples:

<img width="885" alt="Screen Shot 2020-10-15 at 12 21 48 PM" src="https://user-images.githubusercontent.com/142755/96158172-3a17c980-0

[2020-10-15 16:29] bobsilverberg commented on #9762
I was actually leaning more towards using the Redux store, and not session storage:
- We already have everything in place to just use it
- We're guaranteed that it will be cleared on browser restart

Correct, this is just to enable us to send pings back to addons-server on add-on install for the purposes of addons-server then pinging Adzerk.

[2020-10-15 16:46] willdurand commented on #9762
Ha, sorry I read "latter" for some reasons :/

I don't think a page refresh should clear the state, though, and that's what will happen with Redux. If Product wants to track an `install following the click within the same session`, then I think we need session storage.

[2020-10-15 16:48] jvillalobos commented on #9764
I suggest using the same grey color as the header.

[2020-10-15 17:53] #9719 closed

[2020-10-15 18:27] bobsilverberg opened #9771 "Always show all add-ons returned by the sponsored endpoint"
There is code in place to only display 3 add-ons in the Sponsored shelf if only 4 or 5 are returned via the API. This causes issues for recording impressions with the current implementation, so it has been decided that we will always show all of the add-ons, even if only 4 or 5 are returned. This will be mitigated by ensuring that there are always more than 6 sponsored add-ons available.

[2020-10-15 18:38] bobsilverberg commented on #9764
Ok, here's what it looks like with that colour:

<img width="830" alt="Screen Shot 2020-10-15 at 2 37 15 PM" src="https://user-images.githubusercontent.com/142755/96172172-04301080-0ef4-11eb-9f19-0624ca2ed816.png">

[2020-10-16 11:10] #9720 closed

[2020-10-16 13:26] ioanarusiczki commented on #9763
@bobsilverberg
-  AMO primary hero impression is reported to GA.

![primary hero impression](https://user-images.githubusercontent.com/33448286/96263244-758ec280-0fcb-11eb-933c-8526d47d9436.png)

- AMO primary hero click is also reported to GA.

![primary hero click](https://user-images.githubusercontent.com/33448286/96263469-b686d700-0fcb-11eb-88d8-bc3ad2571aa6.png)

[2020-10-16 14:05] ioanarusiczki commented on #9720
@bobsilverberg
When the homepage is displayed/reloaded: POST | https://addons-dev.allizom.org/api/v4/shelves/sponsored/impression/ is present in the Network with a 202 Accepted status.

![call impression URL](https://user-images.githubusercontent.com/33448286/96268187-69a5ff00-0fd1-11eb-8517-08662fa848ba.png)

[2020-10-18 14:59] ThamiMemel commented on #9718
Can someone kindly  label this to confirm this isn't an expected behaviour.
I can work on this.

[2020-10-19 08:21] ioanarusiczki commented on #9719
@bobsilverberg
I verified on AMO dev and I believe that's the expected result (but if I'm mistaken, let me know):

- there are 6 add-ons which are returned on the sponsored homepage shelf - as I understood only these 6 were added to Adzerk on dev (but I believe Adzerk will handle more than 6 on production).
- reloading the page will reorder these 6 ids. This is caused by https://github.com/mozilla

[2020-10-19 16:10] #9771 closed

[2020-10-19 16:55] jrbenny35 opened #9777 "Integration-test error: You cannot submit a Mozilla signed extension"
[code]

Seems like fxa is working again but this error is new. Any insight here?

[2020-10-19 17:01] wagnerand commented on #9777
Should be fixed by https://github.com/mozilla/addons-server/pull/15765

[2020-10-19 17:04] #9764 closed

[2020-10-19 17:05] bobsilverberg commented on #9764
With this landed, it should now be fine to use verified, sponsored and line add-ons in the Primary Hero. Note that this won't land on prod until this Thursday though.

[2020-10-20 09:00] diox commented on #9777
Fix was merged in `addons-server` `master` branch (https://github.com/mozilla/addons-server/commit/bc49ae6850e0a073d108567d8499c0aebb48f9db), sorry about that.

[2020-10-20 09:00] #9777 closed

[2020-10-20 11:17] ioanarusiczki commented on #9718
cc @bobsilverberg Could this be considered a good first bug?

[2020-10-20 12:13] bobsilverberg commented on #9718
It's a very simple fix, but will need an associated test, so I suppose it could be a good first bug. I'll add the "maybe" label to it.

I believe the only change required is to add some trimming to the condition at https://github.com/mozilla/addons-frontend/blob/master/src/ui/components/DismissibleTextForm/index.js#L183.

[2020-10-20 12:26] bobsilverberg opened #9779 "Take the DNT setting into account for sendBeacon"
This is a follow-up to https://github.com/mozilla/addons-frontend/pull/9766.

In order to support the callbacks for Adzerk integration, we have added a new utility function that calls `navigator.sendBeacon` to send data to addons-server which then sends data to Adzerk. In our `tracking` utility which interacts with GA, we check the DNT setting and if it is on we do not send any data to GA. It was

[2020-10-20 12:59] #9721 closed

[2020-10-20 13:51] ioanarusiczki opened #9781 "Addons of all promoted types show up as sponsored when the application is android"
Followup up for https://github.com/mozilla/addons-frontend/issues/9764 and https://github.com/mozilla/addons-server/issues/15671

STR:
1. A promoted addon of recommended, sponsored, by firefox or spotlight type has "Firefox for android" set in admin.
2. The addon is enabled for the [primary hero shelf](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/promotedaddon/9/change/?_cha

[2020-10-20 13:52] ioanarusiczki commented on #9764
@bobsilverberg I verified on dev:

- recommended addons look like before. They have RECOMMENDED displayed.
- sponsored addons have SPONSORED and What is this? URL - which is also grey and it redirects to https://support.mozilla.org/en-US/kb/add-on-badges?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=homepage-primary-hero#sponsored

![Sponsored addons](https://user-images.githubuser

[2020-10-20 13:57] bobsilverberg opened #9782 "Move sendBeacon into tracking"
To support #9762, we need to be able to send a beacon from within `installAddon`, which lives in `core`. Our own `sendBeacon` function currently lives in `amo/utils`, so it needs to move into `core`, and `tracking` seems like a logical place for it. This will also help with #9779

This is just a refactoring exercise, so nothing should change about the behavior of the app.

[2020-10-20 14:55] bobsilverberg commented on #9781
Thanks for filing this @ioanarusiczki, but this is expected. When an add-on is only promoted for "Firefox for android", then when we are on the desktop site, it appears as if it is not promoted at all. I.e., the name of the promoted category is `''`. Because the default heading for the Primary Hero area is "SPONSORED", that is what shows up. This should not be a problem in production because add-o

[2020-10-20 17:28] jvillalobos commented on #9781
Yes, this is expected behavior. We wouldn't normally add a mobile-only Recommended extension to the desktop primary hero, and by design if you're not Recommended or By Firefox for that application, you should appear as Sponsored.

[2020-10-20 17:28] #9781 closed

[2020-10-20 17:30] jvillalobos commented on #9779
Yes, I think we should treat Adzerk the same way we do GA.

[2020-10-21 08:03] ioanarusiczki commented on #9781
@bobsilverberg @jvillalobos Alright, thanks! This is good info for qa.

[2020-10-21 11:58] ioanarusiczki commented on #9771
@bobsilverberg
I verified this on dev - FF82(Win10):

When 4 addons are displayed

![4addons](https://user-images.githubusercontent.com/33448286/96716450-b745b180-13ad-11eb-8bec-2a2e01deaad4.png)

When 5 addons are displayed

![5 addons](https://user-images.githubusercontent.com/33448286/96716495-c62c6400-13ad-11eb-8675-4d498e09605c.png)

[2020-10-21 12:28] iulianacse opened #9788 "Review code link not appearing"
### Describe the problem and steps to reproduce it:
On the add-on's product page, in the "Admin Links" section only "Content review add-on" is visible. Before I had access to "Review code" link as well.

### What happened?
I entered on an add-on's product page, scrolled down to "Admin Links" and saw only "Content review add-on" available.

### What did you expect to happen?
I was expecting to see

[2020-10-21 12:42] wagnerand commented on #9788
In order to reproduce the issue and test the related patch, use accounts that *don't* have the following permissions:

[code]

Addon Reviewers should have: `Addons:Review`
Admins should have: `Addons:Edit` (for the _Admin add-on_ link on the listing page) or `Users:Edit` (for the `Admin user` link on the user profile page)
Theme Reviewers should have: `Addons:ThemeReview`

[2020-10-21 15:40] #9782 closed

[2020-10-21 17:31] wagnerand opened #9791 "Search results do not honor or allow to be opened in a new tab/window"
### Describe the problem and steps to reproduce it:

1. Do a search, e.g. https://addons.mozilla.org/en-US/firefox/search/?q=fox
2. CTRL+Click on the description of a result

### What happened?

The result is opened in the current tab.

### What did you expect to happen?

The result should be opened in a new tab.

### Anything else we should know?

Only when CTRL+Clicking on the add-on name a new

[2020-10-21 17:54] bobsilverberg commented on #9791
@wagnerand I think I found the already opened issue: https://github.com/mozilla/addons-frontend/issues/8724

Is this one a duplicate of that?

[2020-10-21 17:56] wagnerand commented on #9791
@bobsilverberg ah, that's likely it. I assume the add-on card elements are reused in several places, e.g. homepage and search results page?

[2020-10-21 18:09] bobsilverberg commented on #9791
Yes, they are.

[2020-10-21 18:13] wagnerand commented on #9791
Alright, thanks for digging that up. Closing this one.

[2020-10-21 18:13] #9791 closed

[2020-10-21 20:19] #9779 closed

[2020-10-22 10:05] ioanarusiczki opened #9795 "The homepage is not displayed when no addon is added to primary hero shelf"
Depends on https://github.com/mozilla/addons-server/issues/15811

STR:
When there's no primary hero addon added to the shelf from[ admin](https://addons-internal.stage.mozaws.net/en-US/admin/models/discovery/promotedaddon/?) the homepage shows a 500 error

![Server Error](https://user-images.githubusercontent.com/33448286/96856983-26cba780-1467-11eb-9662-ed1c3f6a157f.png)

This is reproducible on

[2020-10-22 12:57] bobsilverberg commented on #9795
@eviljeff One problem with the response is that it contains both `addon` and `external`, but it really should only ever return one of the two (as per the docs). This complicates things for the logic on the frontend which is looking for the existence of one or the other to determine what to do with the response data. I think that's a bug that should be fixed. Based on this it seems like it should j

[2020-10-22 13:57] eviljeff commented on #9795
whatever is best for frontend to consume

[2020-10-22 14:11] bobsilverberg commented on #9795
Ok, thanks, I'll open an issue on addons-server.

[2020-10-22 15:39] willdurand commented on #9379
So, according to https://github.com/mozilla/addons-frontend/issues/9379#issuecomment-618940297, I suppose we can go ahead and stop building and deploying the discopane? That would be ops work first, and once that's done, we can remove the code in this repo.

I suppose we should keep the disco domain up and running and it should return a 404 so that FF displays the fallback view?

[2020-10-22 16:28] bobsilverberg commented on #9714
I'm working on this, and I made the specific change discussed above, but I'm not sure it's exactly what we want. The message I am replacing appears on both the `firefox` and `android` sites, but it doesn't seem to make a lot of sense to redirect users to the homepage of the `firefox` site to find add-ons compatible with Firefox for Android. I think in that case we want to re-direct them to the hom

[2020-10-22 18:11] bobsilverberg commented on #9713
Just to confirm: We will be changing the logic on AMO to no longer use a hardcoded list of `guid`s to identify which add-ons are compatible with Fenix, and instead we will consider any add-on that belongs to the `promoted` category of "Recommended" and is promoted for either `android` or "all platforms" to be compatible.

@jvillalobos Correct?

[2020-10-22 20:03] jvillalobos commented on #9713
Correct!

[2020-10-22 20:09] jvillalobos commented on #9714
That's correct, assuming we're talking about mobile users. Sending them to the `/android/` homepage makes sense.

We should be treating Fenix and Fennec users in the same way and avoid keeping Fennec-specific behaviors. It'd be good to review what rules we have for both browsers that are different.

[2020-10-23 08:03] willdurand commented on #9379
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1672924 to stop building and deploying the discopane, which is something we can do right now given that we don't update the discopane app anyway (the bug is only about removing the ops pipeline to build/deploy, the site will still be up).

[2020-10-23 08:06] ioanarusiczki commented on #9721
@bobsilverberg Verified on dev - FF82(Win10).

![the event API](https://user-images.githubusercontent.com/33448286/96972922-d7957d80-151f-11eb-8e6f-e72fb7d99705.png)

[2020-10-23 10:28] DimYong opened #9797 "Collections menu not present on windows 10 firefox"
### Describe the problem and steps to reproduce it:

The collection menu via this link does not work:
https://support.mozilla.org/en-US/kb/how-use-collections-addonsmozillaorg#w_create-a-collection

It works fine on android but is not present on windows 10. Can this be brought back? It's very useful

[2020-10-23 12:38] bobsilverberg commented on #9714
@jvillalobos I created [this doc](https://docs.google.com/spreadsheets/d/1rqPj5NXPNE9EPDuIPy8AjMxs5k0BBic9c_c7WGjGhWs/edit?usp=sharing) which lists which messages appear in various cases based on which "site" a user is on, which browser they are using, and the compatibility of the current add-on.

Please take a look and let me know what changes you think we should make.

[2020-10-23 16:20] jvillalobos commented on #9797
Which menu are you referring to? If you mean the dropdown from your user with the "View My Collections" option, I can see it on the desktop site.

[2020-10-23 16:48] jvillalobos commented on #9714
I added the proposed changes to the doc. Let me know what you think.

[2020-10-25 16:47] teohhanhui commented on #9063
I'm having the same problem. When I go to https://addons.mozilla.org/en-US/firefox/collections/ I get the "Server Error" page and this error in the console:

So it'd seem like I somehow have a collection without a name. (How?)

My AMO user id is 37076

[2020-10-25 21:20] smayer97 commented on #8998
please keep active.

[2020-10-26 13:22] AlexandraMoga opened #9800 "The Sponsored shelf shows no results when the homepage is reloaded by clicking on the site logo"
### Describe the problem and steps to reproduce it:

1. Open AMO homepage on -dev
2. After the page is successfully loaded, click on the site logo in the header
3. Notice the results displayed in the Sponsored shelf

### What happened?
The Sponsored shelf is empty

### What did you expect to happen?
The Sponsored shelf should display results

### Anything else we should know?
- when the homepage i

[2020-10-26 14:00] #9788 closed

[2020-10-26 14:08] AlexandraMoga commented on #9782
Apart from #9800, which could be a potential regression, I haven't noticed other issues, tracking related or general.

I'm marking the issue as verified fixed on -dev.

[2020-10-26 14:33] AlexandraMoga commented on #9779
@bobsilverberg I've verified the Sponsored shelf and the site in general with DNT enabled and disabled and, apart from #9800, I haven't noticed other issues. Let me know if you have anything specific that you'd like me to verify more closely.

[2020-10-26 14:51] #9713 closed

[2020-10-26 14:54] bobsilverberg commented on #9713
@jvillalobos | @devaneymoz When this lands on Thursday, we will no longer be using a hardcoded list of `guid`s to determine which add-ons are compatible with Fenix. Instead, any (and only) add-ons that are listed as being Recommended for `android` (or all platforms) will be considered to be compatible with Fenix, so it would be a good idea to check on production to make sure that all compatible ad

[2020-10-26 15:28] bobsilverberg commented on #9800
The reason this doesn't reproduce on stage isn't because of the code being different, it's because the `enableFeatureUseAdzerkForSponsoredShelf` flag is `false` on stage, whereas it's `true` on dev. The good thing about this is that this bug won't get to prod until we change that flag on stage/prod, and we have no immediate plans to do so. This bug likely existed on dev prior to the two commits me

[2020-10-26 16:08] caitmuenster commented on #9718
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @bobsilverberg

[2020-10-26 17:00] #9800 closed

[2020-10-26 17:45] grininja commented on #9718
I want to work on this issue

[2020-10-26 18:18] caitmuenster commented on #9718
Go for it, @grininja! We'll assign you to the bug once you submit a PR. :) If you have any specific questions, please tag @bobsilverberg in a comment. :)

[2020-10-26 18:56] bobsilverberg commented on #9714
Thanks @jvillalobos, that looks good. I'll summarize the changes below:

- There should be no differences between messaging for users on Fennec and Fenix. More detail about specific messages can be found below:

- For all pages other than the add-on detail page, the home page, and the search results page, if a user is on mobile (Fennec or Fenix), regardless of the site they are visiting, we should

[2020-10-26 20:06] #9383 closed

[2020-10-26 20:22] jvillalobos commented on #9714
You're right, I corrected row 4 in the doc.

I updated rows 18 and 20 to remove the sentence "You can use this add-on with Firefox for Desktop.", given that there are some Fennec-specific extensions for which this is incorrect.

Looks good.

[2020-10-26 20:28] jvillalobos commented on #9063
It should be fixed now. Since this is a rare problem, I'm closing this issue.

[2020-10-26 20:28] #9063 closed

[2020-10-27 09:04] willdurand commented on #9379
This has been done so we can safely remove the code in this repo. After that, we'll have to see what we want to do with the current app and how we want to update the nginx config.

[2020-10-27 09:09] willdurand opened #9804 "Merge "amo" and "core" packages"
This is only be possible after https://github.com/mozilla/addons-frontend/issues/9379. We only have one app in this project so let's remove the `amo` and `core` folders and merge some of the common files together.

For QA: this is a major code change but it shouldn't have any impact on the site.

[2020-10-27 09:15] willdurand opened #9805 "Review comments about discopane in addons/versions reducers"
After #9379, we shouldn't mention "discopane" anymore. We do fancy stuff in two reducers and it seems related to discopane. It's not clear what we're doing exactly or why so let's see if we can refactor our code.

[2020-10-27 11:02] willdurand opened #9807 "Get rid of the `NODE_APP_INSTANCE` env var requirement"
The `NODE_APP_INSTANCE` env var is currently required in this project but as soon as we only have a single app, we should try to get rid of it being required.

[2020-10-27 11:05] willdurand commented on #9805
See also https://github.com/mozilla/addons-frontend/pull/9803#discussion_r512569155

[2020-10-27 11:53] #9379 closed

[2020-10-27 13:52] bobsilverberg commented on #9805
I'd be happy to take this on if you like, @willdurand, but if you were planning on doing it that's fine too.

[2020-10-27 14:08] willdurand commented on #9805
Yep, no problem.

And FYI: I was going to take a look at https://github.com/mozilla/addons-frontend/issues/9804 but not necessarily right now given that you're landing code there. I'll wait until things get a bit more stable.

[2020-10-27 14:13] bobsilverberg commented on #9805
Heh, I was going to offer to take that one as well! I'll leave that to you.

[2020-10-27 14:18] ioanarusiczki commented on #9713
@bobsilverberg Test results on dev - FF81.1.5 (Android) & FF82(Win10):

- ["See more recommended"](https://addons-dev.allizom.org/en-US/android/search/?promoted=recommended&sort=random&type=extension) shows on Android the list of addons that are recommended for "All Applications" or "Firefox for Android" in the [promoted model](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/pr

[2020-10-27 14:21] willdurand commented on #9805
Ohhh, that's nice! If you want to work on that, no problem and feel free to request reviews from me then!

[2020-10-27 14:31] bobsilverberg commented on #9713
That all sounds good, thanks @ioanarusiczki!

[2020-10-27 15:17] AlexandraMoga commented on #9800
This issue is verified fixed on -dev:

![2020-10-27_17-15-54](https://user-images.githubusercontent.com/31961530/97322168-30df1300-1878-11eb-8ce3-4d0ce416f941.gif)

[2020-10-27 15:27] bobsilverberg commented on #9805
Ok, will do.

[2020-10-27 15:49] #9762 closed

[2020-10-27 16:00] AlexandraMoga commented on #9788
I've verified several permissions/permission combinations and the links exposed on the add-on detail page:

1. User with `Addons:Review`:
![image](https://user-images.githubusercontent.com/31961530/97327038-41de5300-187d-11eb-96cb-d2b7e9863f23.png)
2. Users with `Addons:ContentReview`
![image](https://user-images.githubusercontent.com/31961530/97327193-69352000-187d-11eb-92bf-04cba4a89dc1.png)
3.

[2020-10-27 16:31] bobsilverberg commented on #9714
Sorry, @jvillalobos, I have one last question: With the requirements as described above, a user who is using an Android browser, but it visiting the desktop site, will see the message "To find add-ons compatible with Firefox for Android, click here.", which directs them to the home page. If they click on that they'll end up on the home page for the desktop site, and therefore will still be present

[2020-10-27 21:22] jvillalobos commented on #9714
I forgot to mention that the link in the proposed column is pointing to `/android/`, so yes, we should totally be sending those users to the mobile homepage.

[2020-10-27 21:28] Rob--W opened #9811 "Show download links instead of install buttons in all versions page"
### Describe the problem and steps to reproduce it:

1. Install NoScript (possibly an older version).
2. Visit https://addons.mozilla.org/en-US/firefox/addon/noscript/versions/ and/or
  https://addons.mozilla.org/en-US/firefox/addon/noscript/
3. Try to install an older version, or at least find a "Download file" link (from #4910).

### What happened?
I am not able to install or download an older v

[2020-10-27 21:56] willdurand commented on #9811
Yes, that all versions page is weird and I never liked all the install buttons everywhere. I think we should only link to xpis, without buttons.

We shouldn't encourage users to install older versions, though, so the download linka should be more than enough.

ping @jvillalobos as it's a product call

[2020-10-28 15:16] bobsilverberg commented on #9714
Thanks @jvillalobos, I missed that the link was pointing there!  Also, I lied, that wasn't my last question. I have one more:

In the case where a user is on the desktop site (`/firefox/`) and using an Android browser, and they're on the Add-on Detail page and the add-on is *not* Fenix compatible, the doc says to show "Not available on Firefox for Android. Learn more about add-ons for Android." (w

[2020-10-28 17:11] jvillalobos commented on #9811
I agree that installing old versions isn't a core use case so we shouldn't make it easier. I like the idea of changing from buttons to links. We recently [reintroduced the Download File link](https://github.com/mozilla/addons-frontend/issues/4910) on listing pages, so we could reuse something like that.

[2020-10-28 17:33] Rob--W commented on #9811
For non-Firefox user agents, there is both a button (to download/install Firefox) and an inconspicuous link to the XPI.
In Firefox, there is only a button (which is actually a link that wraps a button).

I think that it's a good idea to turn the button into links for older versions.

[2020-10-28 18:10] bobsilverberg commented on #9811
I agree with the approach described above, using just text links instead of buttons. What is the priority of this? Should we just add it to `contrib: welcome`, or do you think it's important to fix sometime soon? As discussed, the buttons themselves *are* download links, and this issue has existed since this page was implemented.

[2020-10-28 18:27] jvillalobos commented on #9811
Tagging it as `contrib: welcome` sounds good to me.

[2020-10-28 21:03] Kushagraw12 commented on #9411
@bobsilverberg Which of the following versions do you like more?
1.
![Screenshot from 2020-10-29 02-25-52](https://user-images.githubusercontent.com/53997603/97496346-d1bff200-198e-11eb-892c-4e67e62766bf.png)

2.
![Screenshot from 2020-10-29 02-27-18](https://user-images.githubusercontent.com/53997603/97496378-dc7a8700-198e-11eb-93e9-ca81881d4cbe.png)

I personally like the second one more(without

[2020-10-28 21:52] #9361 closed

[2020-10-28 22:22] jvillalobos commented on #9714
I agree. I updated lines 18 and 20 to match what you're proposing.

[2020-10-29 01:30] moz-hwine opened #9816 "discovery.addons.allizom.org has failed the web security baseline"
Site https://discovery.addons.allizom.org has failed the web security baseline scan.

The failing tests are:

 Strict-Transport-Security Header Not Set [10035] x 10
 * https://discovery.addons.allizom.org/en-GB/firefox/discovery/pane/48.0.1/Linux/normal (404 Not Found)
 * https://discovery.addons.allizom.org/robots.txt (404 Not Found)
 * https://discovery.addons.allizom.org/sitemap.xml (404 Not Fo

[2020-10-29 08:32] ioanarusiczki commented on #9762
@bobsilverberg
- https://addons-dev.allizom.org/api/v4/shelves/sponsored/event/ responds with a 202 status twice : when I click on a sponsored add-on from the shelf and after completing an installation:

![at install](https://user-images.githubusercontent.com/33448286/97542929-38b1cb00-19d0-11eb-9975-e4e19cf547ad.gif)

- I tried the scenarios [described](https://github.com/mozilla/addons-frontend/

[2020-10-29 11:18] diox opened #9818 "Log in to dockerhub at every step in circleci config"
frontend version of https://github.com/mozilla/addons-server/issues/15864

[Docker Hub is soon going to enforce pull rate limits on anonymous users](https://www.docker.com/blog/scaling-docker-to-serve-millions-more-developers-network-egress/). This will impact the CircleCI jobs that need to pull images to fetch/build stuff.

The solution is to log in to Docker Hub at the beginning of every job tha

[2020-10-29 12:42] bobsilverberg commented on #9762
Yes. It's important that they don't click on add-on "A" from the Sponsored shelf, otherwise that would become the most recent one again.

[2020-10-29 14:20] AlexandraMoga commented on #9379
@willdurand I've verified the `about:addons` page on -dev and stage with various Firefox version, old and more recent.
Yesterday, Firefox versions below `68.0`  used to still display the old DiscoPane. Extensions and themes could be installed/uninstalled.
Today, however, the DiscoPane will throw a 404, including https://discovery.addons.allizom.org/__frontend_version__

404:
![image](https://user-

[2020-10-29 14:21] willdurand commented on #9379
Yes, please see: https://bugzilla.mozilla.org/show_bug.cgi?id=1673924

[2020-10-29 14:27] AlexandraMoga commented on #9379
So, I understand that the above comment is no longer applicable and having only the 404 page is expected now.

[2020-10-29 14:36] willdurand commented on #9379
Exactly, it's good that you were able to take a look yesterday :)

[2020-10-29 15:13] bobsilverberg commented on #9718
@grininja, it looks like @Yrkan has submitted a PR to fix this issue. As you were initially assigned, I want to give you a chance to do it, if you still have the time and interest in doing so. Can you please let us know if you wish to continue with this issue, or if I can re-assign it to @Yrkan?

[2020-10-29 15:31] Yrkan commented on #9718
Oops sorry i didn't catch up with the comments, i thought it was still unassigned.
@bobsilverberg Please feel free to close the PR if @grininja sends one.

[2020-10-29 16:35] SushantAA commented on #9811
I want to work on this issue

[2020-10-29 17:02] bobsilverberg commented on #9811
That's fine, @SushantAA, you can work on this. Please note that this is labelled `contrib: welcome`, not `contrib: good first bug`, so while it is something that can be worked on by a contributor, it is not necessarily a particularly simple or easy issue to work on.

[2020-10-29 17:13] bobsilverberg opened #9819 "Refactor some code for Fennec, Fenix and iOS"
This supports #9714

While working on #9714 I ended up doing quite a bit of refactoring, and the patch became quite large, so I am splitting out some of the refactoring work into this issue. The changes involve code about Fennec, Fenix and iOS.

[2020-10-29 21:15] SushantAA commented on #9811
I didn’t know about contrib: welcome and thought it was for beginners.

[2020-10-30 01:29] moz-hwine opened #9821 "discovery.addons.mozilla.org has failed the web security baseline"
Site https://discovery.addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Strict-Transport-Security Header Not Set [10035] x 10
 * https://discovery.addons.mozilla.org/en-GB/firefox/discovery/pane/48.0.1/Linux/normal (404 Not Found)
 * https://discovery.addons.mozilla.org/robots.txt (404 Not Found)
 * https://discovery.addons.mozilla.org/sitemap.xml (404 Not Fo

[2020-10-30 09:37] ioanarusiczki commented on #9762
@bobsilverberg I could see the /event/ API being called when I did not have the problem that the detail page for addon "A" is not displayed. I can't tell if that's from the browser or AMO:

![this is not going back right](https://user-images.githubusercontent.com/33448286/97689236-f2c63700-1aa3-11eb-85c3-aea14cc8128e.gif)

[2020-10-30 09:41] arroway commented on #9816
This app is about to be decommissioned. It's unreachable per https://bugzilla.mozilla.org/show_bug.cgi?id=1673924, but is still up in prod.
@moz-hwine do you know what's the process there, do we wait for the service to be completely shut down before updating our metadata for the security checks, or is now good enough?

[2020-10-30 12:00] willdurand commented on #9816
note that we're going to keep the domain alive to return a 404 (in order to trigger a fallback in old FFs)

[2020-10-30 12:03] bobsilverberg commented on #9762
I'm sorry, I don't follow what you're saying/asking. First off, there are two different reasons that the /event/ API may be called:
1. It is called when an add-on is clicked from the Sponsored shelf. In this case if you look at the request data it should include a form field called `type` with a value of `click`.
2. It is called when an add-on is installed, and that add-on is the last add-on click

[2020-10-30 12:44] bobsilverberg commented on #9411
Thanks for the screenshots, @Kushagraw12! I agree that the one with the icon doesn't look very nice, partially because the icon includes the grey background. It is possible to make an example of that one where the background is white or transparent? I think that would greatly improve its appearance.

[2020-10-30 13:34] bobsilverberg commented on #9807
@willdurand In addition to getting rid of `NODE_APP_INSTANCE`, we can probably get rid of the whole concept of an `app`. That means doing away with the `appName` config value, and also means we won't need separate config files for `*-amo` as we have now. It makes sense to me that we would simply combine the code from all of the `/config/*-amo.js` files into the non `-amo` versions. Do you agree?

[2020-10-30 13:37] willdurand commented on #9807
That depends on the size of the final patch. I started doing this to see how far I could go. Merging config files is tricky, especially for things like CSP. I'd start with merging the config files first, and then remove the concept of an `app`.

It could be done in the same PR but I'd like to see at least two different commits.

[2020-10-30 13:42] #9805 closed

[2020-10-30 13:51] bobsilverberg commented on #9807
Yeah, this sounds like a good plan. To keep things simple I think I'll just get rid of `NODE_APP_INSTANCE` in a single patch, defaulting it to `amo`, and get rid of code that is there to deal with multiple apps. Then I'll open follow-ups for other things like merging the config files.

[2020-10-31 10:22] #9818 closed

[2020-10-31 10:58] Kushagraw12 commented on #9411
Okay @bobsilverberg , I will try making the bg transparent

[2020-10-31 16:34] lakshyabatman commented on #9804
I'm interested to work on merging the folders.

[2020-10-31 16:38] lakshyabatman commented on #9804
Mind if you can brief me more regarding this to get me started as soon as possible. Thankyou

[2020-10-31 16:47] lakshyabatman commented on #9804
Hello, I'm interested to work on this issue as well. Please let me know if it's possible. Thankyou.

[2020-10-31 19:31] willdurand commented on #9804
No, it's not, sorry.

[2020-10-31 19:32] lakshyabatman commented on #9804
No problem, thankyou.

[2020-10-31 19:33] willdurand commented on #9804
You can find issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2020-11-01 09:14] suriyaa opened #9827 "Fix URL redirection in README.md file"
### Describe the problem and steps to reproduce it:
Existing URL redirection in weblinks in README.md.

### What happened?
Clicking on links in README.md leads to URL redirection.

### What did you expect to happen?
No URL redirection.

[2020-11-01 15:49] #3887 closed

[2020-11-02 09:57] ioanarusiczki commented on #9762
@bobsilverberg Nevermind, I am going to mark verified this issue because the /event/API is happening as [described ](https://github.com/mozilla/addons-frontend/issues/9762#issuecomment-719513699)

[2020-11-02 13:56] #9827 closed

[2020-11-02 16:02] bobsilverberg commented on #9718
@Yrkan We haven't had a response from @grininja, so I will review your patch. Thanks!

[2020-11-02 16:04] #9718 closed

[2020-11-02 17:10] bobsilverberg commented on #9819
I'm merging this work into the work for #9714

[2020-11-02 17:10] #9819 closed

[2020-11-03 15:21] bobsilverberg commented on #8259
@willdurand Do you know where things stand with these errors? Are we still seeing a lot of them, or did the problem magically go away?

[2020-11-03 15:22] willdurand commented on #8259
still there AFAIK

[2020-11-03 15:55] bobsilverberg opened #9832 "Merge -amo config files into bare config files"
This supports https://github.com/mozilla/addons-frontend/pull/9830

Once we eliminate the `NODE_APP_INSTANCE` env var, we will no longer be loading two config files for addons-frontend. Currently, because of https://github.com/lorenwest/node-config/wiki/Multiple-Node-Instances, we load two config files. For example, for development we load both `development.js` and `development-amo.js`. It looks l

[2020-11-03 23:01] Yrkan commented on #9469
I wanted to request this but i found this issue. @Aakash2408  are you still working on it ?
I'll send a PR with the changes i did in case @Aakash2408 isn't working on it.

[2020-11-04 08:00] alexandra-martin commented on #9718
Verified issue as fixed on dev and stage environment with FF 82.0.2 on Win10x64.

![1](https://user-images.githubusercontent.com/54401091/98084409-6d1c0000-1e84-11eb-819d-a7f7e9ed1cea.gif)

[2020-11-04 09:04] ioanarusiczki commented on #9819
@bobsilverberg Could you add some STR for qa?
Thanks!

[2020-11-04 12:40] grininja commented on #9718
Sorry for very late response due to Ill health ,happy that bug got fixed,next time I will definitely take care of that.

[2020-11-04 14:23] bobsilverberg commented on #9819
Sorry, @ioanarusiczki, this was never fixed, just closed. I have removed the milestone.

[2020-11-04 14:31] #9714 closed

[2020-11-04 16:43] diox commented on #9821
Dupe of https://github.com/mozilla/addons-frontend/issues/9816

[2020-11-04 18:48] bobsilverberg opened #9836 "Enable adzerk integration for Sponsored shelf"
Update the `default.js` config to turn `enableFeatureUseAdzerkForSponsoredShelf` on.

[2020-11-05 01:28] #8829 closed

[2020-11-05 01:28] #6773 closed

[2020-11-05 01:28] #3169 closed

[2020-11-05 01:28] #9368 closed

[2020-11-05 01:30] moz-hwine commented on #9821
The web security baseline for site https://discovery.addons.mozilla.org is still failing, this issue should stay open.

[2020-11-05 07:52] realdog001 commented on #7312
thanks it solve it

[2020-11-05 15:03] AlexandraMoga commented on #9805
I did not find regressions caused by this code change.

I've verified that old Firefox versions will display the fallback page when accessing about:addons.
The release tests also did not reveal any frontend issues.

This was verified fixed on stage.

[2020-11-05 16:13] #9832 closed

[2020-11-05 16:21] bobsilverberg opened #9838 "Remove dev-amo and development-amo config files"
This is a follow up to #9833. Somehow during a rebase of that patch these two files were not removed.

[2020-11-05 16:53] #9838 closed

[2020-11-05 18:06] bobsilverberg opened #9840 "Try to do away with appName"
After #9807 lands, we will no longer have `NODE_APP_INSTANCE`, but to make the patch for that more manageable, plenty of files still make use of an `appName` which is set to `amo` in `config/default.js`. As there is only one app now, we really shouldn't need this `appName` at all. This issue is about looking at any files that make use of `appName` and trying to see if we can eliminate it entirely

[2020-11-05 18:32] #9807 closed

[2020-11-05 18:45] bobsilverberg commented on #9836
This has just been pushed to stage, so should be available for testing on stage shortly.

[2020-11-05 19:18] bobsilverberg commented on #9836
The shelf is not appearing on stage because the API is returning 0 results. We need to make sure there are sponsored add-ons on stage that have ids that correspond to the creatives on Adzerk. I'm not sure who is going to take care of that. We will also need to make sure similar data exists in prod, or the shelf will disappear next Thursday when we push.

cc @jvillalobos

[2020-11-05 19:28] jvillalobos commented on #9836
Prod currently has the list of 5 that we have on the pilot. I don't know who's managing the stage list.

[2020-11-05 19:29] bobsilverberg commented on #9836
I just added a creative to the "addons-stage Homepage Sponsored Shelf" on Adzerk for the only Sponsored add-on I could find on stage. I know that sometimes it takes awhile for it to show up in the responses.

[2020-11-06 08:27] AlexandraMoga commented on #9620
Moved to https://github.com/mozilla-mobile/fenix/issues/16399

[2020-11-06 08:27] #9620 closed

[2020-11-06 12:27] diox opened #9842 "Restrict add-on detail and versions page for add-ons in specific regions"
We need some add-ons to be restricted in some specific regions.

The client "region" is going to be detected using geoip by nginx (*) and then passed down to addons-frontend nodejs server through a header called `X-Country-Code` containing a 2 letter code following [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). When calling addons-server API for a detail or versions page,

[2020-11-06 15:39] bobsilverberg opened #9843 "Display a Not Available In This Region Page"
This supports #9842

When addons-frontend receives an API response from addons-server with a response code of 451, it should immediately stop processing and display a special page explaning that the content is not available in your region. We can model this after the 404 page, but should get confirmation on the actual text to be displayed from someone.

[2020-11-06 15:42] bobsilverberg opened #9844 "Pass the X-Country-Code header through to API calls made from the node server"
This supports #9842

When doing SSR, when the node server sends an API request to addons-server, it should add the `X-Country-Code` header to that API request, which it will have received from nginx.

[2020-11-07 16:02] saleh7755 opened #9847 "Lll"

[2020-11-07 16:06] saleh7755 commented on #9847
N

[2020-11-07 16:58] #9847 closed

[2020-11-08 04:05] Tanaka3356 commented on #7696
.

[2020-11-08 04:48] fantonangeli commented on #9610
This seems to be already fixed. Maybe we can close it.

[2020-11-08 21:41] #9127 closed

[2020-11-09 20:32] bobsilverberg commented on #9843
Here is what the current implementation of this page looks like:

<img width="1416" alt="Screen Shot 2020-11-09 at 3 31 44 PM" src="https://user-images.githubusercontent.com/142755/98593153-bfa05680-22a0-11eb-8c7a-38b6503fdb13.png">

[2020-11-10 11:44] ioanarusiczki commented on #9836
@bobsilverberg Results on AMO stage:
- the POST requests on https://addons.allizom.org/api/v4/shelves/sponsored/impression/ after the homepage loads and https://addons-dev.allizom.org/api/v4/shelves/sponsored/event/  at click and install are present. Issues used as reference: https://github.com/mozilla/addons-frontend/issues/9762 and https://github.com/mozilla/addons-frontend/issues/9720

- there'

[2020-11-10 12:06] AlexandraMoga commented on #9714
@bobsilverberg I've verified the compatibility messages on -dev and I've updated the [spreadsheet](https://docs.google.com/spreadsheets/d/1rqPj5NXPNE9EPDuIPy8AjMxs5k0BBic9c_c7WGjGhWs/edit#gid=0) with my results for each case.
In addition to that, I have a question regarding themes on mobile (both Fennec and Fenix): currently, every recommended theme will display the "You can install this add-on in

[2020-11-10 12:30] bobsilverberg commented on #9843
@jvillalobos I'm going to update the header to say "Not available for legal reasons", which is the definition of the 451 status code we are using, but I imagine you might have something better/more official for the text of the page. Ideally we'd have something before this week's push. Thanks!

[2020-11-10 12:49] willdurand commented on #9843
We'd want to be accurat, though, so I think this header sounds good to me

[2020-11-10 13:19] bobsilverberg opened #9850 "Investigate refactoring page override code into Page component"
This is a follow-up from https://github.com/mozilla/addons-frontend/pull/9849#discussion_r520538811.

We have some code in a number of page components which checks the status code from `errorHandler` and then returns a `NotFoundPage` or `UnavailableForLegalReasonsPage` for different statuses. This code is virtually identical in each page component, so could benefit from being refactored. As we hav

[2020-11-10 13:44] arroway commented on #9816
I updated our metadata, so these endpoints should not be included in our scans anymore.

[2020-11-10 14:12] bobsilverberg commented on #9714
Thanks @AlexandraMoga. Regarding your observation about lines 4-5 in the spreadsheet, I notice that I missed the note about not showing the message on the homepage and search pages, but I actually think it's better to have in on these pages too.

@jvillalobos You had requested not to display the message "To find add-ons compatible with Firefox for Android, click here.", which includes a link to th

[2020-11-10 14:26] bobsilverberg commented on #9836
@ioanarusiczki Thanks for verifying this. I just added some more matching add-ons to Adzerk that should match up with sponsored add-ons on stage. It often takes awhile for these to show up in queries, but hopefully at some point soon there will be a few more results to work with.

I'm not sure what's happening with the "sometimes 0 results" thing. I recall seeing that on dev when we first started

[2020-11-10 14:28] bobsilverberg commented on #9836
I assume that everything is configured properly so that when we enable this on prod, only Adzerk creatives that correspond to prod add-ons will be used? Can you confirm that @eviljeff?

[2020-11-10 14:37] eviljeff commented on #9836
I don't know who's managing the stage list either 😆

Ops added the prod credentials for Adzerk to the ENV file.

[2020-11-10 14:44] bobsilverberg commented on #9836
Well, apparently I am. 😛

Ok, so on prod we're using an entirely separate Adzerk account, so there's no danger of retrieving a creative that was created for dev or stage?

[2020-11-10 15:05] AlexandraMoga commented on #9807
I believe this issue (and its follow-ups) can be tested by checking for regressions throughout the frontend. So far, I haven't found anything broken on -dev.

I will give the final results once we complete the release tests on stage.

[2020-11-10 15:10] bobsilverberg commented on #9807
I agree, there's nothing specific to check, just that nothing is broken. 😄

[2020-11-10 15:12] eviljeff commented on #9836
It's a separate account for prod, yes.

[2020-11-10 15:14] #9843 closed

[2020-11-11 10:26] ioanarusiczki commented on #9836
@bobsilverberg Some techincal issues on stage right now but the sponsored shelf is loading.

Same problems though, it shows 1, 2, 3 or maximum of 4 addons.

Name and IDs:
manthease-mosel-codcanzeemanthease-mosel-codcanzee ID 1004189 Sponsored
NoScript Security Suite ID 722 Sponsored
RoboForm Password Manager ID 1004704 Sponsored
SearchbyImageSearchSearchbyImageSearchSearchbyImag ID 620019 Sponsore

[2020-11-11 14:40] eviljeff commented on #9836
Are all 14 of those creatives defined in the stage shelf actually valid promoted addons?  Otherwise the response from Adzerk is going to get padded by add-ons we can't display each time (and the more they aren't displayed, the more they will be included as Adzerk tries to equalise out the impression counts).

[2020-11-11 14:41] eviljeff commented on #9836
If we're trying to test normal operation there shouldn't be any invalid add-ons in the Adzerk flight - that's an error condition that will send an email to AMO admins about for prod AMO.

[2020-11-11 15:50] ioanarusiczki commented on #9836
@eviljeff

 I edited the stage [flight](https://app.adzerk.com/#!/flight/12619540/edit/) added 2 line and 2 verified addons.
When I had all 9 add-ons active in Adzerk the frontend displayed in rotation 6 add-ons (including the line and verified).

I de-activated 3 of them, so there are 6 available add-ons in Adzerk right now. I refreshed AMO stage - several times and sometimes I see 4 addons, othe

[2020-11-11 17:50] eviljeff commented on #9836
I can confirm with a manual curl query there is normally only 4 or 5 results (I did get 6 once).  I can't see why.

[2020-11-12 04:20] navdhakar commented on #9610
Yes we can close it

[2020-11-12 04:20] #9610 closed

[2020-11-12 10:04] ioanarusiczki commented on #9836
@eviljeff

As I said: https://github.com/mozilla/addons-server/issues/15920#issuecomment-725969126

AMO stage:
active addons on AMO stage in Adzerk and AMO:
1002798,1004704,620410,1005144,619985,1004511
Unlike in the dev flight I did not remove addons, I left them not being "active".  I see 5 add-ons

Result:

![not 6 on AMO stage](https://user-images.githubusercontent.com/33448286/98925315-835a39

[2020-11-12 13:41] #9844 closed

[2020-11-12 13:51] AlexandraMoga commented on #9843
@bobsilverberg I will verify the 451 error page when I'll be testing https://github.com/mozilla/addons-server/issues/15942 and #9844.

[2020-11-12 14:10] bobsilverberg opened #9854 "Fix types in api reducer"
This is a follow-up to https://github.com/mozilla/addons-frontend/pull/9851#discussion_r522120697.

The initial values should go back to `null` and the types should be changed to `string | null`.

[2020-11-12 14:41] #9854 closed

[2020-11-12 14:52] bobsilverberg commented on #9836
I just double checked the creatives in the stage flight and they all seem valid. I am also consistently seeing 6 add-ons in the sponsored shelf now. Is this another case of Adzerk just taking some time to catch up with changes to creatives?

[2020-11-12 15:00] ioanarusiczki commented on #9836
@bobsilverberg AMO dev still has that issue right now.

[2020-11-12 15:03] bobsilverberg commented on #9836
I'll double check the creatives in the dev flight as well.

[2020-11-12 15:07] eviljeff commented on #9836
while testing yesterday we came up with a theory that Adzerk was purposely excluding certain creatives to spread out the impression target over the defined period of the flight.  There isn't a way to confirm this for sure, though we noted it was the creatives with higher impression counts that were excluded and their status in Adzerk changed to "likely to hit target" (the little status bar turned

[2020-11-12 15:07] AlexandraMoga commented on #9807
There were no issues found on the frontend while running the release tests on stage.
I'm marking this issue as verified fixed.

[2020-11-12 15:08] bobsilverberg commented on #9836
Is there anyone at Adzerk that we can ask about this?

[2020-11-12 18:14] bobsilverberg commented on #9836
As this seems to be working fine on prod, I think we can re-close this issue.

[2020-11-12 18:23] jvillalobos opened #9856 "Adjust copy for "Not available in this region" page"
Following up on https://github.com/mozilla/addons-frontend/issues/9843, here's the copy we decided on.

Header

Body

[2020-11-12 18:26] willdurand commented on #9856
Can we link to the [Transparency Report](https://www.mozilla.org/en-US/about/policy/transparency/) too, since this is relevant?

[2020-11-12 18:27] bobsilverberg opened #9857 "Remove emotion package"
Prompted by https://github.com/mozilla/addons-frontend/pull/9853, I was looking to see what we use the `emotion` package for, and I cannot find any references to it. Locally, if I remove it I don't seem to have any problems. The build doesn't break, the site works fine, and Storybook works fine.

@willdurand Do you think we can remove it?

[2020-11-12 18:33] willdurand commented on #9857
That will be answered by the answer to this question: https://github.com/mozilla/addons-frontend/pull/9853#issuecomment-726254902

I am pretty sure a peer dependency was involved, hence the need for this package to be present in our `package.json` without being actually required in our code.

[2020-11-12 19:33] bobsilverberg commented on #9856
@jvillalobos?

[2020-11-12 19:55] bobsilverberg commented on #9856
Here's what the new page looks like (without the link suggested by Will):

<img width="1061" alt="Screen Shot 2020-11-12 at 2 54 56 PM" src="https://user-images.githubusercontent.com/142755/98989442-1dc67700-24f7-11eb-89f2-0fe87c156af3.png">

[2020-11-12 21:13] jvillalobos commented on #9714
I agree with the current implementation and removed the note.

Correct, themes are not compatible, so they shouldn't show up as such.

[2020-11-12 23:06] bobsilverberg commented on #9714
Thanks @jvillalobos. @AlexandraMoga could you open an issue for this?

[2020-11-13 09:57] AlexandraMoga opened #9860 "Recommended themes appear compatible on Fenix"
Follow up for #9714

### Describe the problem and steps to reproduce it:
1. Load AMO on an Android device using Fenix
2. Open a recommended theme's detail page - see https://addons.mozilla.org/en-US/android/addon/foxx-theme/
3. Notice the Install button and the compatibility message

### What happened?
The Install Theme button is enabled and we show the following compatibility message: "You can in

[2020-11-13 10:23] ioanarusiczki commented on #9836
@bobsilverberg
-dev looks good today. 6/6 displayed all times.
- stage looks good today.
- prod is having, 5 or 6. My guess is it will look fine if we wait a little more.

The feature is on prod - I'll close this.

[2020-11-13 10:23] #9836 closed

[2020-11-13 13:15] bobsilverberg commented on #9860
@jvillalobos What about language packs and dictionaries? Should the rule be "treat themes as incompatible", or "treat any add-on with a type other than `extension` as incompatible"?

[2020-11-13 14:17] #9857 closed

[2020-11-13 17:08] jvillalobos commented on #9860
Treat any add-on with a type other than extension as incompatible.

[2020-11-13 17:20] Cronus1007 commented on #9049
@willdurand Shall I take over this issue if no one is currently working upon it .

[2020-11-13 17:48] #9860 closed

[2020-11-13 20:24] caitmuenster commented on #9049
Hey @Cronus1007, go ahead and pick this up! We will assign it to you once you submit a PR. :)

[2020-11-13 21:36] shadowoflight commented on #9663
Hey , i would like to work on this issue, how do i get started with this?

[2020-11-13 22:02] jvillalobos opened #9863 "Show more Recommended add-ons in the Android homepage"
Following up on https://github.com/mozilla/addons-frontend/issues/9716, I'd like the homepage to show up to 10 Recommended extensions, so it doesn't appear too empty.

For QA:
In addition to more add-ons appearing in the Recommended shelf on the mobile home page, when visiting the mobile home page only the two required API requests will be made, as opposed to the large number needed for the deskto

[2020-11-13 22:16] jvillalobos opened #9864 "Enable installation buttons for supported extensions in Fenix on dev"
We're close to being able to install Fenix add-ons from AMO, so we should enable the installation button for those add-ons that are compatible (Recommended for Android). This change should be behind a flag so we can turn it on when the Fenix work is ready. I'm thinking we should enable it on dev and stage when it lands, and prod should wait until shortly before the Fenix changes make it to Release

[2020-11-13 22:27] caitmuenster commented on #9663
Hey @shadowoflight, this isn't a good issue to get started with. :)

To work on an AMO issue, please take a look at our [onboarding materials ](https://wiki.mozilla.org/Add-ons/Contribute/Code#Improve_addons.mozilla.org_.28AMO.29) and then find an issue tagged `[contrib: good first bug](https://github.com/mozilla/addons-server/labels/contrib%3A%20good%20first%20bug).` You can work on any issue tha

[2020-11-14 08:21] Sparsh1212 opened #9865 "Search button alignment improper when clicked"
### Describe the problem and steps to reproduce it:
Enter any query in the search bar and click the arrow button in the search bar.
Its position changes and it comes out of the search bar.

![image](https://user-images.githubusercontent.com/55937724/99143012-3e6e0880-2680-11eb-94af-712d62364ddb.png)
### What did you expect to happen?
The alignment should be proper, it should be inside the search b

[2020-11-14 09:02] Sparsh1212 opened #9866 "Search query is not trimmed"
### Describe the problem and steps to reproduce it:
Case1: Leave the search field blank and press the enter Key.
We get xyz no. of search results.
Case2: Now just enter 1-2 spaces instead of a blank query and then press the enter Key.
Now we get 0 search results.

Case1:
![image](https://user-images.githubusercontent.com/55937724/99143757-04076a00-2686-11eb-96c7-d3266cb33df9.png)
Case2:
![image](h

[2020-11-15 11:43] Cronus1007 commented on #9049
@caitmuenster  I was approaching it in the manner that all the images doesnt have their loading screen so we can implement LoadingText like something where all the images will get their own shinnerLoadingScreen.

[2020-11-15 14:25] LordReigns commented on #9866
Can I try to work on this issue?

[2020-11-15 15:28] Sparsh1212 commented on #9866
@caitmuenster  If this isn't the expected behaviour, I will like to work on this issue. Please assign this to me.

[2020-11-16 13:10] bobsilverberg commented on #9856
@jvillalobos Just checking in again for a response to the link to the Transparency page question. It sounded like the answer is "no" on Slack, but I'd like to document the decision here as well.

[2020-11-16 16:43] muffinresearch opened #9867 ""Add to Firefox" button is currently enabled in Fenix"
There's an [issue to enable the "Add to Firefox" button in Fenix here](https://github.com/mozilla/addons-frontend/issues/9864). However that should only be turned on when Fenix has been updated to handle installs from AMO for recommended.

The Fenix team noticed that the "Add to Firefox" button is enabled today.

![IMG_7457](https://user-images.githubusercontent.com/1514/99281769-d14aa680-282a-11e

[2020-11-16 17:45] caitmuenster commented on #9866
Hi @Sparsh1212, we would accept a patch for this.

@LordReigns, thanks for your interest! Sparsh is going to be working on this issue, but you are welcome to work on one of our other good-first-bugs! Please take a look at our [onboarding information](https://wiki.mozilla.org/Add-ons/Contribute/Code#Improve_addons.mozilla.org_.28AMO.29), which includes links to our available good-first-bugs. :)

[2020-11-16 19:58] jvillalobos commented on #9856
We're discussing if anything should be changed to the proposed copy, but that shouldn't block landing it in its current form.

[2020-11-16 20:01] #9856 closed

[2020-11-16 20:31] Sparsh1212 commented on #9866
@caitmuenster I have initiated a patch for this. Please assign a mentor for reviewing the pr.

[2020-11-17 11:25] ayu023ban commented on #9865
I would like to work on this issue.

[2020-11-17 13:00] bobsilverberg commented on #9865
I'm not sure this even needs to be fixed. I don't believe the arrow's position changes, it's just that, in Chrome, one sees an outline of the element, and that does look like it's partially outside of the textbox. This doesn't reproduce in Firefox, however. I believe the current layout is intentional, as there is more space below the arrow in the graphic than there is about it, which is why it is

[2020-11-17 13:02] AlexandraMoga commented on #9844
I can see the `X-Country-Code` header being passed in API requests made from the frontend.

![image](https://user-images.githubusercontent.com/31961530/99393134-90fc2e80-28e5-11eb-8e75-34a9e6bdea8f.png)

I'm marking this issue as verified fixed on -dev.

[2020-11-17 13:28] AlexandraMoga commented on #9856
The add-on detail and its related pages (reviews, license, versions, eula) will display the "Not available in your region" page when accessed from an excluded country:

![image](https://user-images.githubusercontent.com/31961530/99394978-77101b00-28e8-11eb-83c9-3b6e449a9def.png)

This issue is verified fixed on -dev.

[2020-11-17 17:55] #9867 closed

[2020-11-17 23:02] jvillalobos commented on #9865
Isn't the outline controllable via CSS? If we can hide it for Chrome users, I think that's the issue worth fixing.

[2020-11-18 03:32] Sparsh1212 commented on #9865
@jvillalobos I would love to work further on this.

[2020-11-18 10:56] AlexandraMoga commented on #9860
Recommended themes on Fenix are displayed as incompatible now (the same as non-recommended themes):

![image](https://user-images.githubusercontent.com/31961530/99521304-ec3d2800-299c-11eb-81be-3a352c56c6bb.png)

As note: Fennec users will have the same view, meaning that they won't be able to install themes either.

This issue is verified fixed on stage.

[2020-11-18 12:42] AlexandraMoga commented on #9867
The Add to Firefox button was enabled for Recommended extensions, similar to the issue noticed for themes in #9860

This issue is now fixed, the install button being disabled for Recommended extensions as well:

![image](https://user-images.githubusercontent.com/31961530/99531874-12b68f80-29ac-11eb-9522-c8818032faa1.png)

As a note: the Install button is disabled both for Fenix and Fennec users.

[2020-11-18 16:28] #9865 closed

[2020-11-18 16:49] bobsilverberg commented on #9842
I believe with the landing of #9843 and #9844 this is now done.

[2020-11-18 16:49] #9842 closed

[2020-11-18 18:37] bobsilverberg commented on #9804
@willdurand After #9872 lands, we'll be one step closer to being able to do this. I was thinking we might want to continue taking small steps, as opposed to just trying to merge all of the code in one big patch. For example, maybe we can start by moving individual things out of `core` and into `amo`? What do you think of taking that approach?

Also, do you imagine that everything will end up in `a

[2020-11-19 15:37] AlexandraMoga commented on #9843
This issue was verified in #9856

[2020-11-19 15:40] AlexandraMoga commented on #9842
The issues related to this feature have been marked as verified. I will also mark this parent issue as verified on -dev and stage.

[2020-11-20 09:41] ioanarusiczki commented on #9865
@eviljeff This issue is no longer reproducible with Chrome - AMO dev

![on Crome](https://user-images.githubusercontent.com/33448286/99784999-44069b00-2b25-11eb-960c-83528e9cdb43.gif)

[2020-11-20 13:28] #9795 closed

[2020-11-20 15:14] ioanarusiczki commented on #9864
@jvillalobos https://github.com/mozilla/addons-frontend/issues/9867 has been verified for Thursday's push.
I looked over the recommended add-ons for android on AMO dev - even added YouTube High Definition (because it has a common id with prod) but the install button is still displayed as disabled.

[2020-11-20 15:29] bobsilverberg commented on #9864
Thanks @ioanarusiczki. Yes, that is expected. The add-ons will appear as installable on dev after I flip the flag, which hasn't been done yet.

[2020-11-20 15:36] bobsilverberg commented on #9864
I am re-opening this to make it about enabling the flag on dev.

[2020-11-20 15:37] bobsilverberg opened #9878 "Enable installation buttons for supported extensions in Fenix on prod"
This is a follow-up to #9864.

When we are ready to enable the installation buttons on prod, we'll need to flip the flag for `enableFeatureAllowAndroidInstall`.

[2020-11-20 16:11] #9864 closed

[2020-11-22 02:55] Frantisek4187 opened #9881 "Makki"
Makkinko bolí hlavně to že mi lžeš... Do očí a dělajš že mě idiota a blázna
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2020-11-22 03:05] #529 closed

[2020-11-22 03:28] Frantisek4187 opened #9882 "Makki Martincová"
###774308905
Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2020-11-22 03:29] Frantisek4187 commented on #9882
Makki

[2020-11-22 19:36] gabefair commented on #9554
Thanks for creating this issue

[2020-11-23 11:29] ioanarusiczki commented on #9795
@bobsilverberg This is fixed on AMO dev - FF83(Win10).  Homepage containing the rest of the shelves is displayed.

![no primary image](https://user-images.githubusercontent.com/33448286/99957176-e9bd4280-2d8f-11eb-8776-e455ff17c0c6.png)

[2020-11-23 14:27] ioanarusiczki commented on #9864
@bobsilverberg
So far my results on AMO dev with Android 8.0 are:

- with the Fenix release - [about:config ](https://github.com/mozilla-mobile/fenix/issues/7865)is no longer available. The result is in this case a download when the install button is tapped on the detail page.

- I tried Beta (83.0.0. -beta.4) and Nightly Fenix (85.0.a1) versions using the same prefs used for Fennec testing for in

[2020-11-26 13:00] bobsilverberg commented on #9864
Thanks @ioanarusiczki. This issue is only about enabling the button, it's not about actually allowing the add-ons to install in Fenix. That will require work on the Fenix side. So I believe that your testing above verifies this issue as fixed. With this patch, the buttons should appear as enabled if the add-on is supported on Fenix.

[2020-11-26 13:25] #9882 closed

[2020-11-26 13:26] #9881 closed

[2020-11-26 13:44] willdurand commented on #9804
I think we can get rid of both amo and core. We can land incremental patches.

[2020-11-26 18:20] bobsilverberg commented on #6422
@willdurand I'm going to work on this as a code quality issue. Do you think we should assume that we're only getting one locale back from an API request (as we always pass a `lang` as a query parameter), or is the idea here that we should assume we could be getting multiple locales returned, and we should use the current `lang` to look up the value in the returned object? If the latter, what would

[2020-11-26 18:26] bobsilverberg commented on #6422
Hmm, I see in code manager that we first try to get the string for the current lang, and if that fails then we return the string for the first lang we find. I guess that logic would make sense here too.

[2020-11-26 20:08] eviljeff commented on #6422
Fwiw the API will only ever return a single translation if the `lang` param is sent.

[2020-11-27 11:08] ioanarusiczki commented on #9864
@bobsilverberg Ok, thanks for the update.  I'll mark the issue verified.

[2020-11-27 11:26] arroway commented on #9816
@bobsilverberg yes!

[2020-11-27 15:05] #9816 closed

[2020-11-27 15:05] #9821 closed

[2020-11-27 17:36] bobsilverberg commented on #6422
After having spent some time on this, working on code that would try to find the correct string for the current `lang`, it seems like that's just not going to be worth it. It's not complicated, but it does involve passing the `lang` around in a lot of places where we currently don't need it, so it will result in a lot of code changes. Because we always pass a `lang` to API requests, it doesn't see

[2020-11-30 16:07] #9850 closed

[2020-11-30 17:35] #9863 closed

[2020-12-01 11:02] willdurand commented on #6422
I was going to say "let's do this" but then your proposal made me realize that the API response for localized fields is less than ideal. I filed https://github.com/mozilla/addons-server/issues/16069 to change it.

[2020-12-01 11:55] bobsilverberg commented on #6422
I like your suggestion in https://github.com/mozilla/addons-server/issues/16069, but I don't think that really affects this issue much, except for the fact that we'd need to change the type definitions. I think we'll still want to assume we're getting back a single language and just use the first one, as I suggested above. Do you agree with that @willdurand?

[2020-12-01 12:05] willdurand commented on #6422
That won't be possible because if a localized string isn't available for a request locale, then we will have 3 properties in the object (the request locale, the default value and the fallback property). So we cannot really "use the first one".

[2020-12-01 13:14] bobsilverberg commented on #6422
That's not the way I read the change. Even with a fallback, the object will look like:
[code]

As long as the actual value being returned is the first one, can't we just take the first property, which in this case would be the `en-US` value? If the server did find a match for our requested `lang`, I assume the object would look like:
[code]

so again, taking the first property would work. WDYT?

[2020-12-01 13:17] eviljeff commented on #6422
Yeah, we could have the first item in the dict be the default, which would also make it backwards compatible with what code-manager assumes.  (Though it would reduce any benefit mozilla/addons-server#16069 would bring once the primary consumer - addons-frontend - just assumes the first item anyway)

[2020-12-01 13:23] willdurand commented on #6422
mmm and so we'd base our approach on order of properties in a JSON object converted into a JavaScript object?

[2020-12-01 13:37] willdurand commented on #6422
I think code-manager won't be affected, we only support one locale, which is `en-US`.

[2020-12-01 13:40] bobsilverberg commented on #6422
Yes we would, but only because we know we are always going to get a single language back. It would then be a requirement on the server side to return the value for that fallback language as the first property in the object, which shouldn't be difficult to satisfy. If we don't do that, then we're back to having addons-frontend try to look up the requested `lang` in the returned object, which means

[2020-12-01 13:45] bobsilverberg commented on #6422
I believe that @eviljeff is correct. Code manager won't be affected, as long as we return the real value in the first property. Code manager does try to find a translation for the current lang, and if one is not found, returns the first one found. If we want Code manager to behave "properly" with respect to the API change, we should probably update its code, after https://github.com/mozilla/addons

[2020-12-01 13:55] willdurand commented on #6422
mmm although I am sure order is likely guaranteed, this is very fragile. We should not make such assumptions.

API v5 is experimental so I don't see why we'd need to rush and implement something that does not work for us. This issue is about supporting the new localized fields in API v5 but it's clearly not ready so I think we should wait until v5 gets fixed. There is no need to upgrade to the cur

[2020-12-01 15:19] bobsilverberg commented on #6422
It's true there is no urgency for this, so I guess we can put it back on the back burner for now. It does sound like we need some more issues open for it, as this one didn't really call out the need to indicate when content isn't in the current locale. If we want to support the possibility of multiple locales being returned (and looking up the correct one), and also knowing when a fallback languag

[2020-12-01 15:22] bobsilverberg opened #9889 "Update logging that happens when an API request returns an unexpected status"
This is a follow-up to https://github.com/mozilla/addons-frontend/pull/9886, specifically the comment at https://github.com/mozilla/addons-frontend/pull/9886#discussion_r533400024.

For the code in the `Page` component which catches certain types of API errors, it is suggested to update it so that it logs a warning only when a code other than one of the ones being caught is encountered. I probably

[2020-12-01 17:47] #9889 closed

[2020-12-01 20:22] #9840 closed

[2020-12-01 22:08] devaneymoz opened #9891 ""By Firefox" extensions should receive weighted search"
Similar to Recommended extensions, "By Firefox" extensions should also receive the benefit of weighted search on AMO. Indeed in most cases our own Mozilla line extensions would be Recommended if not for the "By Firefox" designation (e.g. Facebook Container).

@jvillalobos

[2020-12-01 22:42] jvillalobos commented on #9891
The search boost for Line extensions should be the same amount as Recommended extensions.

[2020-12-01 23:03] jvillalobos opened #9893 "Searching for mobile add-ons should only display compatible results"
Searching for mobile add-ons on AMO will currently display add-ons based on their Fennec compatibility, which is no longer relevant. The new source of truth is the Recommended list, and it's likely to stay that way for a long time.

A couple of solutions that come to mind:
* Have the server return only Recommended results for Android.
* Have the front-end force the Recommended filter for all searc

[2020-12-02 11:15] eviljeff commented on #6422
If we need some more issues open, can someone create them to detail exactly what changes are needed?  So far we just have https://github.com/mozilla/addons-server/issues/16069 - if that's all that's required, great, but it's not clear from this issue if that's enough on the api side.

While it's true there's no project deadline adding urgency, this is the single thing that is preventing addons-fro

[2020-12-02 14:32] AlexandraMoga commented on #9850
The frontend will display the following error pages based on the API status code:

- for `401, 403` and `404` we display the **Oops! We can’t find that page** error page:
![image](https://user-images.githubusercontent.com/31961530/100885445-52f13400-34bb-11eb-9200-925dadc395ff.png)

- for `451` we display the **That page is not available in your region** error page:
![image](https://user-images.gi

[2020-12-02 14:52] AlexandraMoga commented on #9840
@bobsilverberg do you have some STR for verifying this issue or would a general regression be enough?

[2020-12-02 15:19] bobsilverberg commented on #9840
Yes, a general regression should be enough. Any breakage should be fairly obvious.

[2020-12-02 15:26] ioanarusiczki commented on #9863
@bobsilverberg I verified on AMO dev and AMO stage:
- the layout of the shelf has changed meaning a number of 10 addons are available on the homepage.

- See more recommended extensions URL redirects to https://addons.allizom.org/en-US/android/search/?promoted=recommended&sort=random&type=extension and it is available on the homepage when at least 10 addons are promoted for android.

![android rec

[2020-12-02 15:44] bobsilverberg commented on #9840
@AlexandraMoga I just realized that this is labelled with the wrong milestone. It's not landing this week, so no need to test it just yet. Sorry for the confusion.

[2020-12-02 15:57] bobsilverberg commented on #9891
I think this issue belongs in addons-server. Transferring there...

[2020-12-02 16:05] willdurand commented on #6422
See also: https://github.com/mozilla/addons-frontend/issues/3049

[2020-12-02 16:21] willdurand commented on #6422
I added the `needs: api` label because this issue depends on fixing the API first, see: https://github.com/mozilla/addons-server/issues/16069.

The main reason behind the API change in v5 is captured in #3049 but it is an old issue. That being said, even if we don't fix #3049, we still need to do some work in addons-frontend to support the "new" localized fields, mainly because adopting v5 in addo

[2020-12-02 16:44] eviljeff commented on #6422
I don't advocate it, but if we go with (1) we're effectively deciding never to use the localized field change in v5, so we should remove the support from addons-server.  The actual code isn't that complicated, but most tests assume that v5 is the default and the API response will be a dict so changing those will be a non-trivial amount of work.

[2020-12-02 16:47] bobsilverberg commented on #6422
I don't advocate 1 either. I am fine with 2, and also fine with making changes to "properly" consume the API. I just wanted to be clear that, although it's not complicated, it will involve a lot of code changes.

[2020-12-03 01:20] moz-hwine opened #9895 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Strict-Transport-Security Header Not Set [10035] x 8
 * https://addons.mozilla.org/zh-CN/android/search/ (429)
 * https://addons.mozilla.org/en-GB/firefox/search/?sort=users&type=statictheme (429)
 * https://addons.mozilla.org/en-GB/firefox/search/?promoted=recommended&sort=users&type=extension (42

[2020-12-03 03:43] bobsilverberg commented on #9895
This is an odd failure. It looks like "too many requests". I followed the link to the dashboard and refreshed, and then the tests passed, so maybe this is some temporary hiccup? I guess we can see if it passes next time and self-closes?

[2020-12-03 13:51] #9893 closed

[2020-12-05 19:56] MightyPork commented on #6101
Did you ever get your problem resolved?

I get this error after trying to log into the addons page, and my e-mail to amo-admins@mozilla.org has been ignored for over a month now :/

![Screenshot_20201205_205215](https://user-images.githubusercontent.com/2041118/101262037-dc169e00-373b-11eb-9edc-c00d9cac313b.png)

[2020-12-07 15:00] ioanarusiczki commented on #9893
@bobsilverberg What I've noticed so far on AMO dev with Fenix:

- blank search will return results composed of the addons available in the recommend shelf and static themes which I think they've been added into a collection of recommended themes.  I don't know if themes are expected to appear right now.
- blank search displays the Badging but no matter what badge I choose the results are the same:

[2020-12-07 15:06] bobsilverberg commented on #9893
Thanks @ioanarusiczki. We should be excluding themes as well on Android. That's something I missed when implementing this. Can you please open a separate issue for that?

As for the "Badging" filter, it's true that it won't really have an effect currently as we are only ever returning Recommended add-ons for Android. We could remove it for the Android site, or just leave it in case we need it late

[2020-12-07 22:12] jvillalobos commented on #9893
If changing the filter doesn't have any effect on the results, I would favor hiding it.

[2020-12-08 01:09] moz-hwine opened #9902 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Cross-Domain Misconfiguration [10098] x 1
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 * If the failing tests change then it will be upda

[2020-12-08 08:25] ioanarusiczki opened #9903 "Android searches must exclude static themes"
As discussed https://github.com/mozilla/addons-frontend/issues/9893#issuecomment-739975757

Expected results:
Themes should be excluded when searching for mobile add-ons from query or blank searches.

Actual result:
Themes show up on Android - with disabled install buttons.

Notes:
Reproducible on AMO dev - Fenix (Android 9.0)

![themes](https://user-images.githubusercontent.com/33448286/101458275

[2020-12-08 08:38] ioanarusiczki opened #9904 "Remove badging and type from filters on Android"
Followup for https://github.com/mozilla/addons-frontend/issues/9893#issuecomment-740211563

Make a blank search and use all badging parameters - observe the search results

Actual result:
Any, By Firefox, All Reviewed or Recommended return the same number of addons - the list from See More recommended (https://addons-dev.allizom.org/en-US/android/search/?promoted=recommended&sort=random&type=exten

[2020-12-08 08:44] ioanarusiczki commented on #9893
@jvillalobos @bobsilverberg
Themes removal https://github.com/mozilla/addons-frontend/issues/9903
The filter removal https://github.com/mozilla/addons-frontend/issues/9904

Same question for the themes as type - filters have Add-on Type: All, Extension, Theme. Once static themes are removed selecting Theme won't return results. Is that alright ?

[2020-12-08 09:45] willdurand commented on #9902
I don't know what that means but why does it mention the production site and then a -stage URL?

[2020-12-08 09:48] willdurand commented on #9902
[code]

[2020-12-08 09:53] willdurand commented on #9902
@arroway could you help us figure out what this issue is about please?

[2020-12-08 14:38] bobsilverberg commented on #9893
I think if we're planning on hiding the "Badging" filter on Android, it would make sense to also hide the "Type" filter. I'll update #9904 to cover that as well.

[2020-12-08 14:55] g-k commented on #9902
Hey Will, Looks like it's this is error: https://www.zaproxy.org/docs/alerts/10098/ and ZAP is unhappy with the `Access-Control-Allow-Origin: *` CORS header.

Is it fine for the addon to be publicly accessible cross origin? (I don't think there's any risk in and it's also available via the CDN)

If so, I can update the ZAP config to ignore the CORS error. Would an exception for `/firefox/downloads

[2020-12-08 14:56] willdurand commented on #9902
@g-k hey, I am wondering why this is failing now. Is it a new rule?

[2020-12-08 14:59] g-k commented on #9902
I'm not sure. Did anything on AMO change?

The scans were busted for awhile back or it could be a change in ZAP.

@hwine did you hook up GH issue filing to the ZAP baseline recently?

[2020-12-08 15:02] bobsilverberg opened #9905 "Re-enable the badging and/or add-on type filters for search on Android"
This is a follow-up to #9904.

We are removing the badging and add-on type filters from the Search form on Android because currently we only ever return Recommended extensions on Android, so these filters will do nothing.

If we change this behaviour in the future, we will want to re-enable these filters, which is why I am opening this issue.

┆Issue is synchronized with this [Jira Task](https://m

[2020-12-08 16:16] #9903 closed

[2020-12-08 16:17] #9904 closed

[2020-12-08 17:45] hwine commented on #9902
No, simon set up all the baseline reporting.

[2020-12-09 01:08] #9902 closed

[2020-12-09 01:08] moz-hwine commented on #9902
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2020-12-09 11:08] eviljeff opened #9911 "Handle user-entered urls in the API being an object containing both wrapped and raw urls in api/v5"
(needs better issue title 😬 )
The changes in the fix for mozilla/addons-server#11206 are breaking in api/v5 and will require some changes to the API handling code (reducer? saga?)

[2020-12-09 13:34] ioanarusiczki commented on #9904
@bobsilverberg badging and type has been removed from filters

Verified on Fenix - Android 10.0

![search on Android](https://user-images.githubusercontent.com/33448286/101636433-00bc8f80-3a34-11eb-8014-7af2b1a5cf65.png)

[2020-12-09 13:43] ioanarusiczki commented on #9903
@bobsilverberg Themes are no longer available while making query searches or a blank search.

Verified on dev - FF83(Android10)

[2020-12-09 13:48] bobsilverberg commented on #9911
Thanks for opening this @eviljeff. Do you mind opening a similar one for addons-code-manager as well?

[2020-12-09 14:02] eviljeff commented on #9911
Note: (oddly) we've never supported wrapping the account profile homepage property with outgoing, and the addons-server commit doesn't change this.  (We perhaps _should_, but that would be a future issue/problem)

[2020-12-09 17:06] muffinresearch opened #9912 "Provide way to turn on badges for Fenix installation testing"
Relates to #9878

Fenix are looking to test installation in AMO ahead of enabling it.

Whilst this is tested, to avoid turning it on on AMO and having Fenix clients getting a link they can't use before the feature is enabled on Fenix, this bug is to add a feature to allow turning on the button conditionally on, in production for testing Fenix.

This could potentially be enabled via a URL param.

/

[2020-12-09 17:17] g-k commented on #9902
Huh, I didn't change anything.

[2020-12-10 15:19] AlexandraMoga commented on #9840
There have been no regressions found during our release testing.
I'm marking this issue as verified fixed on stage.

[2020-12-10 19:10] #6422 closed

[2020-12-11 09:45] willdurand commented on #9912
@muffinresearch would it be possible for Fenix to use -dev?

[2020-12-11 10:28] muffinresearch commented on #9912
I'll let @csadilek confirm, but I think that there would still be a need to test in prod. If Fenix is like desktop, it would be limited to testing with dev/stage certs only on nightly - but it's a good point - maybe that's not an issue?

[2020-12-11 14:25] csadilek commented on #9912
@muffinresearch @willdurand We're limiting add-ons installation (from content) to requests coming from `addons.mozilla.org` to prevent installation on any other domains.

We could including staging and dev here, but I was told it would be tricky for you to make sure the add-on and file IDs line up in staging/dev. The ID in the URL needs to map to the add-on/file ID of the recommended list/collecti

[2020-12-11 14:37] willdurand commented on #9912
Yes, you'd have to have "Fenix collections" created in -dev/-stage too but that does not sound like a bad idea given the tight integration between Fenix and AMO.

Talking about collections, if a user uses [a different collection in Nightly](https://blog.mozilla.org/addons/2020/09/29/expanded-extension-support-in-firefox-for-android-nightly/), is the "recommended" list still loaded?

[2020-12-11 15:17] csadilek commented on #9912
Currently it's the configured collection that defines what add-ons are supported/recommended in Fenix. There's a separate discussion around this and how to continue going forward. This case here is only about installing the officially recommended add-ons from AMO so I think we can keep the Nightly override case separate, as it's only available in the developer menu and for advanced users i.e. it a

[2020-12-11 15:26] willdurand commented on #9912
So in this case, maybe the "install from AMO button link" shouldn't be enabled in Fenix when the collection is not the default/recommended collection? Otherwise AMO will enable buttons that won't work as expected in Fenix.

[2020-12-11 15:26] csadilek commented on #9912
It depends what we're trying to accomplish with this ticket. If it's just about a one-time test, the yes, I could create a custom build (using AMO staging) and ask QA to test it or we (our teams) can use it ourselves, but then we might as well test manually one more time.

I think the goal here was to test this on the official Nightly|Beta builds of Fenix which use production servers to fetch the

[2020-12-11 22:25] jvillalobos commented on #9912
I don't think we should worry about users with a custom collection. AMO behavior should only reflect what the Recommended list dictates.

[2020-12-12 01:08] moz-hwine opened #9920 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Cross-Domain Misconfiguration [10098] x 1
 * https://addons.allizom.org/firefox/downloads/file/1096680/a_patch-1.0-fx.xpi (302 Found)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 * If the failing tests change then it will be updated
 * If it is

[2020-12-12 10:18] willdurand commented on #9912
I agree. Fenix should support add-ons in the recommended list _in addition to_ the add-ons in the custom collection.

[2020-12-12 22:10] Creatoon commented on #9811
i want to work on this

[2020-12-13 01:09] #9920 closed

[2020-12-13 01:09] moz-hwine commented on #9920
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2020-12-14 16:50] bobsilverberg commented on #9912
I feel like this issue is now talking about multiple things, but perhaps I am wrong about that.

The first issue is the one that this was originally opened about, which is to provide a way to temporarily enable the install buttons on production for testing purposes. We could do that via a URL param, but it sounds like the manual way of testing that (by enabling the button via the debugger) is also

[2020-12-14 18:51] csadilek commented on #9912
@bobsilverberg yes, two different topics here:

If this is a lot of work for your team, plus something that's a burden to maintain going forward, then in my opinion, it's fine to take the risk and rely on manual testing. We've already done two rounds and this should work once enabled. We should also land an integration test for it in Fenix once enabled to guard against regressions. If something ch

[2020-12-14 20:15] willdurand commented on #9912
@bobsilverberg yes, you're right: 2 different topics and it was too late last Friday for me to clarify about these two topics.

We won't deploy AMO until next year (2021.01.07 to be more precise) so I guess manual testing is fine too. In addition, we have -dev and -stage environments to try things like this usually. We _could_ enable the feature (install buttons enabled for Fenix) on -stage if nee

[2020-12-14 20:37] csadilek commented on #9912
@willdurand yes, these users will get an error message displayed after they clicked the button. Note that this affects very few users and only on Nightly, plus they already can install any add-on they like. But even so, this problem should be temporary until both our teams find a way to integrate the new API.

[2020-12-15 10:52] AlexandraMoga opened #9923 "'Report a bug' link from AMO footer leads to a 404 page"
### Describe the problem and steps to reproduce it:
1. Open AMO -  https://addons.mozilla.org/en-US/firefox/
2. Scroll down to the footer section
3. Click on the 'Report a bug' link in the 'Add-ons' column

### What happened?
The link leads to a non-existent page - https://developer.mozilla.org/Add-ons/AMO/Policy/Contact

### What did you expect to happen?
The link leads to a Contact page

![image

[2020-12-15 23:34] caitmuenster commented on #9923
Thanks for catching this, @AlexandraMoga! "Report a bug" should link to https://developer.mozilla.org/docs/Mozilla/Add-ons/Contact_us

[2020-12-16 10:34] AlexandraMoga opened #9925 "CSS is broken on -dev; CORS errors reported in the browser console"
### Describe the problem and steps to reproduce it:
1. Load AMO -dev with the browser console opened
2. Notice the page layout and the console messages

### What happened?
The CSS is not loaded and the following errors can be seen in the console:
[code]

### What did you expect to happen?
AMO frontend is loaded successfully

[2020-12-16 13:40] bobsilverberg commented on #9925
We saw something similar on Friday, but it resolved itself, and it seems that this is now working again too.

@bqbn Do you recall if we knew what the problem was on Friday? Is there anything we can do to mitigate this?

@AlexandraMoga Can you confirm that this is now fixed?

[2020-12-16 13:45] AlexandraMoga commented on #9925
@bobsilverberg yes, the issue appears to be fixed now. The site is loaded correctly and I'm not seeing the CORS errors anymore.

[2020-12-16 15:30] bobsilverberg commented on #9923
While this may be a good first bug, it's also something we should probably fix ASAP, so I'm thinking about just fixing it. WDYT @caitmuenster @jvillalobos?

[2020-12-16 15:50] jvillalobos commented on #9923
There are no more pushes this year, so this is going to sit here for at least a couple of weeks. I don't think there's any rush right now.

[2020-12-16 15:58] willdurand opened #9927 "storybook deployment is currently broken"
It's not clear why given that we're using the same config than addons-code-manager but storybook deployment fails for this project: https://app.circleci.com/pipelines/github/mozilla/addons-frontend/3324/workflows/0b8d0dea-a34e-4041-a75a-5397205c50c2/jobs/24197

[2020-12-16 16:04] bobsilverberg commented on #9923
Good point! Ok, let's label it as an actual GFB, and I'll add myself as a mentor.

[2020-12-16 19:20] wesinator commented on #9077
still an issue , the review info stars are grey when the sidebar are yellow

![Screenshot from 2020-12-16 14-18-13](https://user-images.githubusercontent.com/5124946/102395952-cc078580-3fa9-11eb-8372-1af621f1fd59.png)

[2020-12-16 19:23] wesinator commented on #4029
there is still confusing implementation of the star colour
#9077

[2020-12-16 20:04] smayer97 commented on #8997
unstale...

[2020-12-16 21:11] bqbn commented on #9925
No, we didn't find out what happened last Friday.

@bobsilverberg I think we first need to understand what the cause is, then we can think about how to mitigate or fix it.

[2020-12-17 01:17] bqbn commented on #9925
The `addons-amo-dev-cdn.allizom.org` domain is served by a CloudFront distribution that is backed by an S3 bucket. There is no Nginx involved in this case.

I noticed the following difference for the `amo-0f67d0acb9f599965ba2.css` file:

[code]

and

[code]

Basically the `Access-Control-Allow-Origin` header was returned when I passed the `accept-encoding` header, but it was not returned when I di

[2020-12-17 01:38] hwine opened #9929 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2020-12-17 07:33] willdurand commented on #9929
We already migrated to circle ci, thanks.

[2020-12-17 07:33] #9929 closed

[2020-12-17 09:54] willdurand commented on #9927
It works now, there was an extra space in the env variable on circle ci.

[2020-12-17 09:54] #9927 closed

[2020-12-17 13:06] bobsilverberg commented on #9077
@wesinator If you look at the issue that you reference above (#4029), you'll see that it specifically states that "the add-on rating stars should be yellow whenever they indicate the site user's personal rating. They should be gray in all other cases (for example: cumulative ratings in add-on listings)." Therefore this appears to follow the guidelines from UX. Have you found instances where the st