[2018-09-20 07:50] AlexandraMoga opened #6316 "The header for the reviews list should be hidden when there is only one review available for an add-on"
STR:

1. Open AMO stage
2. Go to an add-on with only one listed review
3. Click on the review permalink - see https://addons.allizom.org/en-US/firefox/addon/vladify-1-0-1/reviews/715929/

Actual result:
The reviews list header is displayed even if there are no other reviews listed for this add-on. Also, the header doesn't have a border-bottom-radius

Expected result:
The header should be hidden wh

[2018-09-20 07:54] willdurand opened #6317 "[travis-ci] Storybook stage should not be executed in PRs"
The storybook stage should not be executed in Pull Requests (yet). It was meant to be configured for that in #6269 but the condition was not enough.

[2018-09-20 08:08] willdurand opened #6318 "Add flow types to DiscoPane (disco) component"
Supports #2917

---

In order to make the disco pane code easier to update (and more readable), we should have more flow coverage. This issue is about adding flow types to the `DiscoPane` disco component.

[2018-09-20 08:22] ioanarusiczki opened #6320 "Buttons are no longer highlighed when clicked on AMO dev"
Followup for https://github.com/mozilla/addons-frontend/issues/6176
STR:
1. Load AMO dev and log in
2. Observe the button when it's clicked

Expected result:
Button is highlighted - has a light blue border

Actual result:
Button won't show the active state when clicked - no light blue border

Notes:
Issue is reproducible on AMO dev with all buttons - tried the new install buttons, the log in to ra

[2018-09-20 08:32] AlexandraMoga opened #6321 "A user review doesn't appear to be removed when it is deleted from a permalink"
Follow up for #2771

STR:

1, Log in to AMO stage
2. Go an add-on details page
3. Review the add-on
4. Go to the add-on reviews page
5. Click on the permalink next to the review you've just written
6. Delete the review and see the results

Actual result:
The review is still displayed at the top of the list after you've deleted it

Expected result:
The review is no longer displayed at the top of th

[2018-09-20 08:34] willdurand commented on #6320
This change has been introduced in #6251 on purpose. There is no "active" (light blue border) style on click, but it should be shown when navigating with the keyboard.

[2018-09-20 08:34] #6320 closed

[2018-09-20 09:02] AlexandraMoga opened #6322 "An user rating opened from a permalink will still show a Write a review button after the user logs out"
Follow up for #2771

STR:

1. Log in to AMO stage
2. Go to an add-on details page and leave an empty review
3. Go to your User profile page
4. Click on the permalink next to your recently added rating
5. Notice the presence of the Write a review button on the add-on details page
6. Log out

Actual result:
The Write a review button is still present. Nothing happens when you click on it

Expected re

[2018-09-20 09:37] AlexandraMoga commented on #2771
Verified on dev and stage with FF62, WIn10x64

Here is how the feature looks like:
[1] when writing a review
![image](https://user-images.githubusercontent.com/31961530/45809709-8b890680-bcd1-11e8-83c0-998a07c6bd85.png)

[2] on the user profile
![image](https://user-images.githubusercontent.com/31961530/45809719-92b01480-bcd1-11e8-87b9-0f3656cba726.png)

[3] on the add-on reviews page
![image](htt

[2018-09-20 10:09] AlexandraMoga commented on #6240
I've verified this on AMO -dev with FF60 esr, FF61 and FF62, WIn10x64

1. On 60esr - the Add to Firefox button is enabled and the add-on can be installed

![image](https://user-images.githubusercontent.com/31961530/45811054-cf313f80-bcd4-11e8-8afa-64447bf06c5e.png)

2. On 61 and above - the Add to Firefox button is disabled, an incompatibility banner is displayed and the add-on can't be installed

[2018-09-20 10:14] AlexandraMoga commented on #6240
or even a better example:

![image](https://user-images.githubusercontent.com/31961530/45811918-0f91bd00-bcd7-11e8-9007-8004609d62f5.png)

[2018-09-20 10:30] muffinresearch commented on #6289
One way to fix this might be to use a "container" component that captures the click from the `a` which in turn then calls the correct api in the router. [react-router-bootstrap](https://github.com/react-bootstrap/react-router-bootstrap/blob/master/src/LinkContainer.js) solves this problem for users of react-bootstrap since react-bootstrap users will commonly use components that internally user `a`

[2018-09-20 10:34] AlexandraMoga commented on #6261
Verified fixed on AMO -dev with FF62, WIn10x64

https://addons-dev.allizom.org/en-US/firefox/addon/greek-spellchecking-dictionary/

![instal fail message](https://user-images.githubusercontent.com/31961530/45812616-ed00a380-bcd8-11e8-96b2-d00e7b3a9966.gif)

@willdurand I would propose, as a follow up, to improve the error message displayed, as in the current format it sounds a bit ambiguous.

[2018-09-20 11:37] AlexandraMoga opened #6323 "The incompatibility banner for non-restartless addons is not very suggestive"
Follow up for #6240

STR:

1. Go to AMO -dev
2. Open a non-restartless add-on detail page - https://addons-dev.allizom.org/en-US/firefox/addon/akan-spelling-dict-issue-6240/
3. Check the incompatibility banner

Actual result:
The banner says that  the add-on is not compatible with the user's platform

Expected result:
The  banner should say that the add-on is not compatible with the Firefox versio

[2018-09-20 11:40] ioanarusiczki commented on #2595
@willdurand Verified Disco pane - dev and -stage with FF62 and FF64 (Win10).
They look good to me!

[2018-09-20 11:56] AlexandraMoga commented on #6240
Opened #6323 as a follow up issue.
Marking this issue as verified fixed on dev and stage.

[2018-09-20 12:07] bobsilverberg commented on #6321
We’re you logged in with an admin account when seeing this? This is expected behaviour with an admin account because admins can see deleted reviews.

[2018-09-20 12:29] AlexandraMoga commented on #6321
Oh, yes, I was using an admin account. With a normal user you will get a "Review not found" message which sort of makes sense.
I guess admins will more likely use Admin Tools to manage reviews, so probably they will not bump into this use case.

[2018-09-20 12:30] bobsilverberg commented on #6316
This is because we are hiding the featuredReview from the listing, but the listing doesn't know about that. This will be fixed when https://github.com/mozilla/addons-server/issues/9424 lands, but that could take some time, so we should probably also fix it on the front end for now.

[2018-09-20 12:31] bobsilverberg commented on #6312
Yes, we should fix this, although I think it's fine as a P3.

[2018-09-20 12:38] bobsilverberg commented on #6311
Yuck, this is a nasty one. I agree we need to address this, but I'm not sure we should display the reply in the context of the original review in the Featured Review Card. That will require quite a bit more work, and isn't really what the feature is meant for.

As a simple short-term fix, I suggest we just not add permalinks to any replies, so that an average user will never get to this screen. On

[2018-09-20 12:41] bobsilverberg commented on #6321
Yes, I discussed this with @diox when I first noticed this, and we decided that we could keep this as a "hidden feature" for admins, giving them a way to see a deleted review via the frontend, rather than via the admin site. It does not affect non-admin users, so I'm going to close this issue.

[2018-09-20 12:41] #6321 closed

[2018-09-20 13:29] bobsilverberg commented on #6311
I retract my suggestion above:

I think the only serious issue is when you are looking at a reply you wrote as a Featured review, because if it's not your own reply the "Edit" button isn't available. I think this is edge-casey enough to warrant not addressing it immediately by removing the link and rather just fix the whole situation properly instead.

[2018-09-20 13:41] bobsilverberg commented on #6302
@devaneymoz The changes listed for the Hero element are not accurate. You say to keep a number of add-ons, and to not remove any add-ons, but I see add-ons in the current component which are not in the "keep" list. So either the "keep" list is inaccurate or the "remove" list is inaccurate.

Can you please double check your document?

[2018-09-20 13:48] #6322 closed

[2018-09-20 13:54] #4528 closed

[2018-09-20 13:56] muffinresearch commented on #4528
Now this is landed the next steps are to test disco and AMO with it off and make sure everything looks good. After that it needs a data review before being enabled. I'll file a new issue to track it's progress.

For now no special QA is needed - other than to check for any breakage around existing analytics events.

[2018-09-20 14:18] AlexandraMoga commented on #6322
This is fixed on -dev

![write review fixed](https://user-images.githubusercontent.com/31961530/45824583-fd287b00-bcf8-11e8-9689-cf3f835758b5.gif)

[2018-09-20 14:30] AlexandraMoga commented on #2771
Considering that the final decision was to push this in production and some of the more significant issues have been clarified I'm going to mark this as verified fixed.

[2018-09-20 15:26] eviljeff commented on #6125
I'm a bit confused about the fix here - the "Developer Hub" link is only one way to navigate away from the frontend rendered pages to django served pages so all the other links in the header still exhibit the same behaviour as before (e.g. Submit an Addon, Manage my submissions, Reviewer tools), right?

[2018-09-20 15:28] kumar303 commented on #6311
https://github.com/mozilla/addons-frontend/pull/6285 should fix this issue.

[2018-09-20 15:36] #6318 closed

[2018-09-20 15:36] willdurand commented on #6318
For QA: there should be no regression in Disco Pane (i.e. add-ons should be displayed)

[2018-09-20 15:55] devaneymoz commented on #6302
@bobsilverberg you're right, sorry about that! I failed to carry over the previous update's content into the "keep" list. I've adjusted the doc.

[2018-09-20 16:21] shristit commented on #6312
Hello everyone i would like to work on it , can any one help me how to get started ?

[2018-09-20 16:21] shristit commented on #6323
Hello everyone i would like to work on it , can any one help me how to get started ?

[2018-09-20 17:38] #6314 closed

[2018-09-20 17:41] #6294 closed

[2018-09-20 17:42] willdurand commented on #6294
For QA: please make sure add-ons listed on Disco Pane have all the information (icon, description) and can be installed.

[2018-09-20 17:54] willdurand opened #6328 "Create explicit API data mappings (i.e. replace normalizr) for Disco Pane"
We use magical schemas (via [normalizr](https://github.com/paularmstrong/normalizr)) to store API data in a mappable format. Sometimes this helps look up objects better but other times we have code that *unmaps* it entirely.

Instead of using `normalizr`, let's just map what we need explicitly in our reducers. It might require more code but the mapping logic will be a lot easier to follow. This is

[2018-09-20 18:09] willdurand opened #6329 "Remove `getBrowserThemeData()` in `installAddon.js` (withInstallHelpers HOC)"
A `getBrowserThemeData()` function is exposed via the `mapStateToProps()` redux function. We should not do this (anti-pattern). Since it is only used in the Disco Pane, I suggest we remove entirely this code and even look further to remove the use of redux from this HOC.

This issue is mainly about removing the `getBrowserThemeData()` function.

[2018-09-20 19:31] greenkeeper[bot] opened #6330 "An in-range update of jest-enzyme is breaking the build 🚨"
## The devDependency [jest-enzyme](https://github.com/FormidableLabs/enzyme-matchers) was updated from `6.1.0` to `6.1.1`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fjest-enzyme-6.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jest-enzyme is a devDepend

[2018-09-20 19:42] willdurand commented on #6330
I see this in the logs:

[2018-09-20 19:55] #6272 closed

[2018-09-20 19:59] kumar303 commented on #5986
I can no longer reproduce this, not even the bug shown in https://github.com/mozilla/addons-frontend/issues/5986#issuecomment-420608604 . @AlexandraMoga can you still reproduce it?

[2018-09-20 20:01] kumar303 commented on #6265
This may be unrelated to #5986. I'm looking into it now.

[2018-09-20 20:06] willdurand opened #6331 "Disco Pane's AddonCompatibilityError component does not need Redux"
I was about to fix #6323 and took a look at the component used in Disco Pane (since one suggestion [here](https://github.com/mozilla/addons-frontend/issues/6240#issuecomment-423125561) was about reusing the message from Disco Pane).

I found a component that requires redux but does not use it. We can simplify this component a lot! (and add Flow types).

For QA: disco pane incompatibility errors sh

[2018-09-20 20:52] jvillalobos opened #6334 "Disable legacy front-end"
As part of removing all legacy content on AMO, we should disable the legacy front-end. This involves sending all users to the new front-end, including those who previously chose to switch to the old one. We also need to remove the "View classic desktop site" footer link in the new front-end.

Per [the timeline](https://docs.google.com/document/d/1SQFQUDdoLewZhMX5zTdg2rF9wIR6Kd4bv02xHgbnQrM/edit#),

[2018-09-20 22:15] kumar303 commented on #6265
Good catch. I see what the problem is. There was a similar bug where the review count above the star graph was not getting updated. The same patch will fix that, too.

[2018-09-21 06:04] AlexandraMoga commented on #6125
In addition to that, there is another link to Developer Hub in the page footer, which will open dev hub in the same tab, not a new window.

[2018-09-21 07:20] AlexandraMoga commented on #5986
I'm also unable to reproduce either of the scenarios anymore.

![star edit all rev](https://user-images.githubusercontent.com/31961530/45865922-b7ff5a00-bd87-11e8-9b23-b83df626f635.gif)

[2018-09-21 09:18] mine679 opened #6337 "Keep vid download button for youtube"
### Describe the problem and steps to reproduce it:

### I click on their link to download the button but it was not found

### To see a download button

###

[2018-09-21 09:39] ioanarusiczki opened #6338 "The create a collection form is displayed instead of the collection page after "cancel" is clicked"
STR:
1. Load AMO dev and go to View my Collections and click on Create a collection
2. Change the language from the footer. I used DE
3. Click the "Cancel" button
4. Observe the page

Actual result:
"Create a collection" form is displayed in English.

Expected result:
The collection page is displayed in German.

Notes:
This issue is reproducible on AMO dev and AMO stage with all languages FF62(Win

[2018-09-21 09:50] ioanarusiczki opened #6339 "Create a collection - text is no longer displayed after the language is changed"
STR:
1. Load AMO dev and go to Collections page click the "Create a collection" button
2. Fill in the text fields then go to the footer of the page and select another language
3. Observe the screen

Actual result:
The text is no longer available.

Expected result:
The text is still displayed.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF62(Win10)

![language2](https://user-im

[2018-09-21 10:15] EnTeQuAk commented on #6337
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can as

[2018-09-21 10:15] #6337 closed

[2018-09-21 11:43] ioanarusiczki opened #6341 "Edit collection page closes when the language is changed"
STR:
1. Load AMO dev and open one of your collections
2. Click Edit collection details, make some changes (edit the text)
3. Change the language
4. Observe the screen

Actual results:
Collection's page is displayed not the edit page and edited text is lost.

Expected results:
The Edit collection page is still displayed.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF62(Win10).

[2018-09-21 12:33] willdurand commented on #6341
I think that's because there is a page reload, no?

[2018-09-21 13:30] bobsilverberg commented on #6271
I agree, but you didn't answer my question above. We could probably fix this by making sure the whole component doesn't reload when clicking a star, but I was wondering if we should also consider doing some auto-saving for review text, which would be another way of addressing it. WDYT?

[2018-09-21 13:51] ioanarusiczki commented on #6320
@willdurand Oh, so no more highlights for mouse clicking.  Ok, good to know!

[2018-09-21 14:04] willdurand opened #6343 "`enableClientConsole` config parameter is useless"
The `enableClientConsole` is not used anywhere in the code, we should remove it from the config files. All occurrences of `enableClientConsole` should be deleted:

[code]

[2018-09-21 14:26] kumar303 commented on #5986
For this bug, I think we just got lucky. Since we introduced another request to the add-on detail view (to fix other issues), the request for `?show_grouped_ratings=true` happens just slightly later than before. Maybe this is enough to obtain eventual consistency. This is just a theory, I'm not sure.

[2018-09-21 14:27] ioanarusiczki commented on #6341
@willdurand Yes, just like in any screen actually - when another language is selected from the page's footer is looks like it reloads.

[2018-09-21 14:36] AlexandraMoga commented on #5986
Hmm...I did find a way to reproduce the sceanrio in https://github.com/mozilla/addons-frontend/issues/5986#issuecomment-420608604 again after all:

The most consistent way of reproducing this (for me at least) was by opening an unrated add-on by direct link:

Try to open https://addons-dev.allizom.org/en-US/firefox/addon/palm-and-sky/ and leave a rating. The star breakdown will most likely not get

[2018-09-21 15:46] kumar303 commented on #6343
Oh yeah, huh. Good catch.

[2018-09-21 15:51] kumar303 commented on #6341
Yeah, this would be nice to fix. Using Redux for language changes will be hard, though, since it may require some hacks to our "dynamic" locale loader code.

Here is an issue about using Redux for language changes: https://github.com/mozilla/addons-frontend/issues/1640

I'm going to keep both open, though, because this one provides a concrete example of a bug that can be fixed. The older issue is

[2018-09-21 15:57] kumar303 commented on #6323
Hi @shristit , thanks for your interest! I don't see any existing commits from you so I suggest looking at the [good first bug](https://github.com/mozilla/addons-server/issues?q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+good+first+bug%22) list and starting with one of those. That will help you get familiar with the project and how the contribution process works by tackling a smaller problem. Welc

[2018-09-21 16:03] kumar303 opened #6344 "The review entry form expands too much"
### Describe the problem and steps to reproduce it:

- Sign in
- Rate an add-on
- Begin writing a review
- Enter a lot of text

### What happened?

The review entry form expands too much

<details>
<summary>Example</summary>

![screenshot_2018-09-21 octopar-troose-jagle-new-name add-ons for firefox](https://user-images.githubusercontent.com/55398/45892432-be90d000-bd8d-11e8-938c-af2d4b431d0a.png)

[2018-09-21 16:37] kumar303 opened #6345 "Simplify the 'rating saved' notification"
### Describe the problem and steps to reproduce it:

- Sign in
- Go to an add-on you haven't rated
- Select a star to rate the add-on

### What happened?

You see a green notification banner

### What did you expect to happen?

You should see a text notification with a green check mark (no banner)

<details>
<summary>Example</summary>

![ratings and reviews flow v2](https://user-images.githubuserc

[2018-09-21 16:42] kumar303 opened #6346 "Minor tweaks to buttons and links in review flow"
When leaving a review or rating, here are some minor tweaks requested by @pwalm

- Simplify prompt to *How are you enjoying **[add-on]***?
- Rename button to Cancel
- Change color of Delete rating link
- Drop the *My* in *Edit My Review* so that it becomes *Edit review*. This also applies to deletion prompts and edit reply prompts.

Mock for reference:

![ratings and reviews flow v2](https://user-

[2018-09-21 16:45] kumar303 opened #6347 "Simplify the confirmation screen for deleting a review / rating"
~~Depends on #6454~~

Here is how to see the current deletion prompts:

- Sign in
- Go to an add-on detail page
- Rate the add-on
- Click *Delete rating*
- Or ... Write a review
- Click *Delete review*

The screens for each of these should be simplified. Here is an example (below) but check Sketch for an up to date version.

## Known issues

* The stars will be made smaller according to the mocks

[2018-09-21 16:54] kumar303 opened #6348 "Auto-save the review you are writing to prevent loss"
### Describe the problem and steps to reproduce it:

- Sign in
- Rate an add-on
- Begin writing a review
- Accidentally close the browser tab

### What happened?

You lost all the text you had written

### What did you expect to happen?

The text should be there, waiting for you to submit the review

### Anything else we should know?

We had this in the old component but it will take some effort t

[2018-09-21 16:54] kumar303 commented on #6271
There are a couple ways to fix it. I guess the easiest would be just to not reload the entire review list (which is a bit disorienting anyway). I think auto-saving is a good idea but it might take more effort.

We actually already had this feature in the old component but it will take effort to port it to the new one since there are other components involved (like `DismissibleTextForm`).

https://

[2018-09-21 17:01] kumar303 commented on #5986
OK, thanks for the screencast. I can't reproduce it myself but I see that you are still experiencing the eventual consistency problem. We should address this.

[2018-09-21 17:11] kumar303 opened #6349 "Enable the inline review flow in production"
We have a new review writing / editing flow where the form appears inline as opposed to an overlay. See this for a screencast: https://github.com/mozilla/addons-frontend/pull/6231

Let's turn this on in production by enabling its config flag after these issues are closed:

* ~~https://github.com/mozilla/addons-frontend/issues/6300 : The review form should not be left open when switching pages~~
*

[2018-09-21 18:47] championshuttler commented on #6346
Hi @kumar303 , i would like to work on it , can i take this up?

[2018-09-21 18:50] kumar303 commented on #6346
Hi @championshuttler, thanks for offering to help. If an issue is not labelled with [contrib: welcome](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome) or [good first bug](https://github.com/mozilla/addons-server/issues?q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+good+first+bug%22) then it's not available to work on. This is because the other issues are either complex or ar

[2018-09-21 19:12] #6343 closed

[2018-09-21 19:17] kumar303 commented on #6125
It wasn't really a fix. It was a workaround but, really, I think this link should have always opened in a new tab.

The real fix to the bug was in https://github.com/mozilla/addons-frontend/pull/6218

[2018-09-21 19:33] kumar303 opened #6351 "Show a warning when viewing a deleted review"
Depends on https://github.com/mozilla/addons-server/issues/9371

### Describe the problem and steps to reproduce it:

- Sign in as an admin
- Go to the add-on review listing
- Click on the timestamp of a review to view its detail page
- Delete the review

### What happened?

It appears as though the review was not deleted

### What did you expect to happen?

You should see a warning similar to htt

[2018-09-21 19:34] kumar303 commented on #6321
It would be nice to put a banner saying that the review was deleted. I filed https://github.com/mozilla/addons-frontend/issues/6351 but it's low priority.

[2018-09-21 19:40] #6323 closed

[2018-09-21 19:47] willdurand commented on #6253
With the pref set to `false`, Firefox does not display any dialogs (door hangers?). AMO has code to detect that and displays its own dialogs (that's why it is in the top right corner). The component for that is `InfoDialog` and we do not remove it after X seconds because: 1. it mimics the Firefox behavior, 2. we started to add timers and effects quite recently.

[2018-09-21 20:22] kumar303 opened #6352 "Source maps to JS are broken for hosted servers"
### Describe the problem and steps to reproduce it:

- Open the developer console
- load the home page to AMO on a hosted server (such as dev)

### What happened?

You see log messages that point to the compressed JS bundle:

[code]

### What did you expect to happen?

You see log messages that point to the actual JS source. Here's what it looks like in our local development server:

[code]

### A

[2018-09-21 20:32] mstriemer opened #6353 "Selected page is misaligned in pagination links"
### Describe the problem and steps to reproduce it:

1. Load some search results on desktop.
2. Scroll to the pagination links.

### What happened?
The selected page number is lower than the other numbers.

### What did you expect to happen?
The numbers are all aligned.

### Anything else we should know?
![screenshot 2018-09-21 15 30 59](https://user-images.githubusercontent.com/211578/45904737-81

[2018-09-21 20:32] kumar303 commented on #6352
I can verify that this a problem in the code, not with anything ops-related.

[2018-09-21 20:35] willdurand commented on #6353
Thanks for the issue Mark! This is not a bug but a feature 😄 Mock-ups have this misalignment and last time I checked, that was done on purpose.

[2018-09-21 20:39] mstriemer commented on #6353
@pwalm is there no order in the world?!

While I see that it brings some focus to where you are in the list, I'd say it _looks_ like a bug. Which isn't great.

[2018-09-21 20:40] kumar303 commented on #6304
Thanks for the additional info. The theme you mentioned is this one: https://addons.mozilla.org/en-US/firefox/addon/autumn-morning-serenity/

I see some add-to-collection errors possibly related to this add-on but the messages are generic. I need to solve https://github.com/mozilla/addons-frontend/issues/6352 to get a clue as to where they are happening.

[2018-09-21 20:42] willdurand commented on #6353
I don't know, I've seen this in some UIs. It is "décalé".

[2018-09-21 20:50] devaneymoz commented on #6264
@muffinresearch I spoke with Legal and they're fine to hold on making any changes to Disco Pane until the new page is properly constructed. So, waiting is fine.

[2018-09-21 21:30] kumar303 opened #6356 "Editing a developer reply from a permalink is visually awkward"
### Describe the problem and steps to reproduce it:

- Sign in as a developer
- Go to one of your add-ons that has some reviews
- Go to the review listing
- Reply to a review
- Click the timestamp of the review to view its detail page
- From the detail page, click *Edit my review*

### What happened?

It looks like:

<img width="746" alt="screenshot 2018-09-21 16 22 28" src="https://user-images.gi

[2018-09-21 21:36] pwalm commented on #6346
Updated screens:
![ratings and reviews flow v3](https://user-images.githubusercontent.com/6797635/45907136-a2039080-bdab-11e8-98ec-a11d3e98904d.png)

[2018-09-21 21:39] pwalm commented on #6353
🤔
It does look like a bug, we should align them all. 👍

[2018-09-21 21:40] pwalm commented on #6349
Most recent mock up for reference:
![ratings and reviews flow v3](https://user-images.githubusercontent.com/6797635/45907297-44237880-bdac-11e8-852a-c1780b894b0e.png)

[2018-09-21 22:12] kumar303 commented on #6353
Ha! This wasn't intended? I know that Sketch sometimes shows us weird things without the proper fonts installed.

I would also like to see the pagination links aligned 😁

[2018-09-22 01:22] grahamperrin opened #6357 ""Log in to rate this …" offset in Firefox ESR 52.9.0 and Waterfox"
For example:

![2018-09-22 01 57 25 terminals](https://user-images.githubusercontent.com/192271/45911598-64375400-be0d-11e8-8777-3d0ff6698710.png)

– Waterfox 56.2.3 on FreeBSD-CURRENT, with a new profile.

Affecting pages such as https://addons.mozilla.org/addon/loremizer/

Not reproducible in Firefox, Chromium, Surf or Web.

Layout in browsers such as Falkon is quite different but (at a glance)

[2018-09-22 13:42] hritvi commented on #6208
@willdurand I have updated the code. It is now [here](https://github.com/hritvi/addons-frontend/tree/Upgrade_babel7).
In this, I have changed `babel-register` to `@babel/register`. All the tests are passing except the one that are using cloneDeep referenced [here](https://github.com/hritvi/addons-frontend/blob/Upgrade_babel7/tests/unit/helpers.js#L455).
Error:
[code]

[2018-09-23 05:02] grahamperrin commented on #6334
FWIW, I never associated the classic view with legacy add-ons.

From https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/ I could not have guessed that this #6334 was around the corner.

To minimise this: maybe make a blog post, ASAP in advance of the change. Mentioning only the classic view (i.e. not drawing add-ons into commentary). Categorised under _compati

[2018-09-23 14:03] bobsilverberg commented on #6351
I agree that we should do this, but it's not currently possible, because the review itself does not give any indication of whether it is deleted or not. I filed https://github.com/mozilla/addons-server/issues/9371 awhile back about this. I'll mark this issue as blocked by that one.

[2018-09-23 14:08] grahamperrin opened #6359 "Something other than 'not found' when all that's required is a log in"
Maybe related:

- [The links to see a user profile are not working anymore · Issue #6118 · mozilla/addons-frontend](https://github.com/mozilla/addons-frontend/issues/6118)

Whilst logged out:

- https://addons.mozilla.org/user/grahamperrin/ is reportedly not found
- https://addons.mozilla.org/user/PixelGiant/ shows extensions but not reviews.

Side note: for the logged out view of my profile, or f

[2018-09-23 14:27] grahamperrin opened #6360 "Perma-linked review: multiple reviews (more than 1) with '1 review for this add-on'"
https://addons.mozilla.org/addon/newsit-hnews-and-reddit-links/reviews/1160317/ for example:

![2018-09-23 15 25 58 about profiles - mozilla firefox](https://user-images.githubusercontent.com/192271/45929104-07d75000-bf45-11e8-9350-fcfb8bc3dd3f.png)

Obviously there's more than one ;-) and none of the four _2 months ago_ links offers a timestamp hint.

If a review is version-specific, it will help

[2018-09-24 06:29] AlexandraMoga commented on #6348
This will probably fix #6121 as well

[2018-09-24 07:28] eviljeff commented on #6125
By why should this one link to developer hub open in a new tab but not the other links to developer hub?

[2018-09-24 07:52] willdurand commented on #6275
Hi @suhailsinghbains, feel free to take it! We already have a similar redirect here: https://github.com/mozilla/addons-frontend/blob/e1d2c4001131c9105ae349796558fce60124e09a/src/amo/pages/SearchPage/index.js#L92-L99

[2018-09-24 07:52] willdurand commented on #6283
Looks like random failure, closing for now.

[2018-09-24 07:52] #6283 closed

[2018-09-24 07:53] willdurand commented on #6208
@hritvi interesting, do you still have `configUtil` required? Did the `node-config` dependency version change?

[2018-09-24 07:55] suhailsinghbains commented on #6275
Thanks for assigning me @willdurand
Working on it now.

[2018-09-24 07:59] willdurand opened #6362 "Use `enableFeature` prefix for all feature flag config parameters"
In order to better identify the feature flags among all the config parameters, let's adopt the `enableFeature` prefix for these config params. The idea of this issue is to rename all parameters.

For QA:

- static themes support should be enabled on all envs
- the new install button should be available in -dev and -stage on AMO, in -dev only on Disco Pane
- inline add-on review should be in -dev o

[2018-09-24 08:02] willdurand opened #6363 "Expose feature flags and experiments on `/__frontend_version__`"
In order to quickly know/verify which features and/or experiments (A/B) are enabled/disabled for a given app and env, let's expose them on `/__frontend_version__`, which is an existing endpoint that returns a JSON response with some version numbers.

[2018-09-24 08:13] willdurand commented on #5322
I am closing this issue for now. If there is an update on the top paragraph of the disco pane, please open a new issue. Anything else should be discussed with @jvillalobos first.

[2018-09-24 08:13] #5322 closed

[2018-09-24 08:51] hritvi commented on #6208
Yes configUtil is imported from the util function [here](https://github.com/hritvi/addons-frontend/blob/Upgrade_babel7/tests/unit/helpers.js#L6).
And `node-config` dependency has not been changed.

[2018-09-24 09:17] willdurand opened #6365 "Fix production config filename to match ops naming"
### Describe the problem and steps to reproduce it:

I read the production logs.

### What happened?

### What did you expect to happen?

No config warning.

### Anything else we should know?

Related ops issue: https://github.com/mozilla-services/cloudops-deployment/pull/2441

It is not a critical issue given that the default config is our production config.

### Proposal

We should rename our pr

[2018-09-24 09:32] willdurand opened #6366 "Unable to map a locale from language code (UTM params)"
### Describe the problem and steps to reproduce it:

I read production logs.

### What happened?

I saw:

[code]

### What did you expect to happen?

I don't know. Maybe it is a false-positive but it would be nice to investigate.

[2018-09-24 09:42] willdurand opened #6367 "UnhandledPromiseRejectionWarning in production"
### Describe the problem and steps to reproduce it:

I read the production logs.

### What happened?

I saw:

[code]

### What did you expect to happen?

No unhandled promise in production code, ever.

### Anything else we should know?

I don't know whether this is hyper-critical, but it looks quite bad.

[2018-09-24 09:45] willdurand opened #6368 "No platform exists for user agent OS "<undefined agentOsName>""
### Describe the problem and steps to reproduce it:

I read the production logs.

### What happened?

I saw:

[code]

### What did you expect to happen?

I don't know. Maybe it is a false positive but we should investigate why the user agent OS value is `<undefined agentOsName>`.

### What to do?

We should change the log level of this message from `error` to `warning` by updating this block: http

[2018-09-24 09:51] bqbn opened #6369 "500 error on AMO website and "JavaScript heap out of memory" error"
### Describe the problem and steps to reproduce it:

### What happened?

We got paged due to increased 500 errors on AMO website. Upon investigation, the log shows that the Javascript program failed with "JavaScript heap out of memory" error. This caused the instances to fall out of ELB, and thus the 500 errors.

### What did you expect to happen?

Ideally, no "JavaScript heap out of memory" error

[2018-09-24 09:52] willdurand opened #6370 "Response from API was not JSON (was Content-Type: null)"
### Describe the problem and steps to reproduce it:

I read the production logs.

### What happened?

I saw:

[code]

I redacted the end of the message. It is very very long as it logs the whole request and response objects (serialized)... I extracted 36MB of serialized JSON in this log entry 😲

### What did you expect to happen?

It should not log that amount of information. We should investigate

[2018-09-24 10:16] willdurand commented on #6370
Upgraded to p1 as it looks like a good candidate for being the root cause of #6369

[2018-09-24 10:18] willdurand commented on #6369
I filed the following issues after having read this log file:

- https://github.com/mozilla/addons-frontend/issues/6370
- https://github.com/mozilla/addons-frontend/issues/6368
- #6367
- #6366

[2018-09-24 11:33] ioanarusiczki commented on #6265
@kumar303 I cannot reproduce this scenario anymore. It's verified fixed on AMO dev with FF62(Win10 and Android 8.0)

![fixed issue](https://user-images.githubusercontent.com/33448286/45950015-a11a6b00-c006-11e8-89e9-e07c122cc92b.gif)

[2018-09-24 11:47] AlexandraMoga commented on #6323
Verified fixed on AMO -dev with FF62, Win10x64

![image](https://user-images.githubusercontent.com/31961530/45950492-b2fd0d80-c008-11e8-9aa1-a4deb55b3706.png)

[2018-09-24 11:49] #5495 closed

[2018-09-24 11:49] #6104 closed

[2018-09-24 11:57] ioanarusiczki commented on #6286
Verified fixed on AMO -dev with FF62 (Android 8.0)

![first section on android](https://user-images.githubusercontent.com/33448286/45950870-19cef680-c00a-11e8-93a7-86154ccf286e.png)

[2018-09-24 12:05] AlexandraMoga opened #6372 "Add-on details page looks like it's loading the content twice"
STR:

1. Open AMO -dev
2. Click on any add-on from the homepage
3. Observe the detail page while loading

Actual result:
The detail page content looks like is loading twice

Expected result:
Add-on detail page is correctly loaded from a visual perspective

Notes:
- not reproduced on stage and prod
- it happens with all add-on types
- reproduce don AMO - dev with FF62, Win10x64 and Android 8.0

![t

[2018-09-24 12:13] willdurand commented on #6372
FWIW, I cannot reproduce locally with FF Nightly and I cannot reproduce with Chrome on -dev (Chrome is handy to use the redux devtools in -dev).

[2018-09-24 12:41] AlexandraMoga commented on #6372
I've also tried with Chrome and latest Nightly and I can't reproduce.

[2018-09-24 13:26] willdurand opened #6374 "Remove `enableFeatureAddonRecommendations` feature flag (feature adopted)"
we should remove all occurrences and most of the test cases related to the `enableFeatureAddonRecommendations` feature flag because this feature has been adopted.

[code]

[2018-09-24 13:27] #6362 closed

[2018-09-24 13:47] AlexandraMoga commented on #6316
Verified fixed on AMO -dev with FF62, Win10x64

![1 review page](https://user-images.githubusercontent.com/31961530/45955743-666dfe00-c019-11e8-9700-f4dbd4c9967e.gif)

[2018-09-24 13:49] willdurand commented on #6367
Related issue (maybe): https://github.com/ReactTraining/history/issues/619

[2018-09-24 13:52] willdurand commented on #6367
Also see: https://github.com/ReactTraining/history/issues/505

[2018-09-24 13:59] ioanarusiczki opened #6376 "The rectangles that show that an icon is selected look cut"
STR:
1. Load AMO dev and use the Tab key to navigate in the "Customize the way Firefox works with extensions. Are you interested in…" section
2. Observe the selected icon

Expected result:
A rectangle is displayed around the selected icon without display issues.

Actual result:
The rectangle is not entirely displayed - it looks cut.

Notes:
This issue is reproducible on AMO dev and AMO stage with

[2018-09-24 14:09] AlexandraMoga opened #6377 "Add-on reviews page is not loaded properly after a review permalink is selected"
STR:

1. Load AMO -dev
2. Go to an add-on details page
3. Open the reviews page for this add-on - - i.e. https://addons-dev.allizom.org/en-US/firefox/addon/stratiform/reviews/
4. Click on a review timestamp

Actual result:
Several sections in the page - add-on data, ratings breakdown, reviews header - are not loaded (are stuck in a loading state)

Expected result:
Add-on reviews page has no loadin

[2018-09-24 14:17] ioanarusiczki commented on #6251
@willdurand
1. I checked around install buttons again and I don't see problems, I tested with the mouse click and then I used the tab key to navigate.  - this is with FF64(Win10) and FF62(Android 8.0)

Using the mouse to click on Install/Remove/Enable - the blue highlight is no longer displayed (before or after the clicks)

![highlighted - removed](https://user-images.githubusercontent.com/3344828

[2018-09-24 14:19] willdurand commented on #6251
ah right, this button is very special. Yes please, a new issue would be nice.

[2018-09-24 14:40] willdurand opened #6379 "Enable new install button on AMO (all envs, including -prod)"
It's time.

[2018-09-24 14:47] kumar303 opened #6380 "Convert ReportAbuseButton to setUIState"
**For QA**: ensure the *Report abuse* button on the add-on detail page still works without regressions.

The `ReportAbuseButton` relies on custom actions to set internal state. These actions should be removed and replaced with [`setUIState`](https://github.com/mozilla/addons-frontend/issues/5343).

In https://github.com/mozilla/addons-frontend/issues/6307, we will potentially have two Report abuse

[2018-09-24 16:06] bobsilverberg opened #6381 "The add-on detail page refreshes when rating an add-on"
When you click a star to rate an add-on, the "Saving star rating" message appears, but then, just before the "Star rating saved" message appears, the contents of the page refreshes.

![sep-24-2018 12-05-30](https://user-images.githubusercontent.com/142755/45963847-2fd0bd00-bff2-11e8-91a7-2b1e0559d04c.gif)

[2018-09-24 16:09] #6365 closed

[2018-09-24 16:57] kumar303 commented on #6368
An `undefined` user agent name is a likely scenario, especially for scripted requests. The current error logging is trying to alert us to unmapped agents (which would be a bug):

https://github.com/mozilla/addons-frontend/blob/adb2ad0132798af9f5fee9e5c98c542265ba5b40/src/amo/components/PermissionsCard/permissions.js#L73-L77

However, it should probably only log a warning. There are too many scenar

[2018-09-24 17:05] kumar303 commented on #6366
Weird. Maybe `getLangFromHeader()` is doing something wrong? Or maybe it was just malicious input.

[2018-09-24 17:15] kumar303 commented on #6381
Ugh. This is pretty bad. You can see the same thing by loading the home page and clicking on any add-on.

The regression was caused by https://github.com/mozilla/addons-frontend/pull/6335 🙈

[2018-09-24 17:16] #6302 closed

[2018-09-24 17:18] bobsilverberg commented on #6381
Does that mean you're volunteering to fix it? Do you know ottoyh what needs to be done to fix it?

[2018-09-24 17:28] bobsilverberg commented on #6345
@kumar303 Do you think we should rip out all of the code in [`RatingManagerNotice`](https://github.com/mozilla/addons-frontend/tree/2018.09.20-2/src/amo/components/RatingManagerNotice) which implements the `Notice` component, because it doesn't seem like we need it anymore, or do you think we should leave it in place, in case we do want to show a `Notice` at some point, and just use the alternate

[2018-09-24 19:03] suhailsinghbains commented on #6374
Hi, can I please take this up ?

[2018-09-24 19:42] willdurand commented on #6374
@suhailsinghbains sure!

[2018-09-24 19:52] #6370 closed

[2018-09-24 20:14] jvillalobos commented on #6359
User pages are now dedicated to show developers and their extensions, and for users to see their own content (reviews and collections). Non-developer profiles should no longer show anything, so the Not Found page is correct. Logging in would also lead to a Not Found page for all user pages except your own, so it wouldn't be very useful to ask people to log on those pages.

That's worth filing a se

[2018-09-24 20:14] #6359 closed

[2018-09-24 20:16] jvillalobos commented on #6360
We're moving away from multiple reviews per-add-on, so that's just an edge case that should eventually go away.

[2018-09-24 20:16] #6360 closed

[2018-09-24 20:37] willdurand commented on #6303
Is this in production yet? Can we close it?

[2018-09-24 20:53] bobsilverberg commented on #6303
Seems to be present in production.

[2018-09-24 20:53] #6303 closed

[2018-09-24 20:55] rebmullin opened #6387 "Storybook set up - phase 2"
I tested pulling in some other components and we still need:

Provider wrapper:
![Alt text](https://monosnap.com/image/4EqivNnmZuPJYOE737mKZDbc1gsbmD.png)

wepback: png, etc loader, window on server issue

[2018-09-24 20:58] mymindstorm opened #6388 "Write a review button appears for the user who did not create a rating"
### Describe the problem and steps to reproduce it:

Broken:

![image](https://user-images.githubusercontent.com/27789806/45978411-ed1edd00-c011-11e8-94d5-916bf759a45a.png)

Normal:

![image](https://user-images.githubusercontent.com/27789806/45978704-97970000-c012-11e8-975c-afeed8343dec.png)

[Example 1](https://addons.mozilla.org/en-US/firefox/addon/auth-helper/reviews/1165900/) [Example 2](http

[2018-09-25 04:55] bqbn commented on #6369
After checking the Nginx logs, it looks like the increased incoming requests mentioned in https://github.com/mozilla/addons-frontend/issues/6369#issue-363077736 was coming from one IP. The IP started to send many requests to us at around September 24, 2018 8:14 AM UTC, and stopped at around 8:57 AM UTC. It sent roughly 3 million requests during that time.

Related log files can be found in [1].

P

[2018-09-25 06:17] AlexandraMoga commented on #6381
I suppose the issue I logged yesterday -  #6372  -  is similar to what is shown here

[2018-09-25 08:20] suhailsinghbains commented on #6374
Hey @willdurand Just a quick question, I cannot find a single reference of 'enableAddonRecommendations'(but, it is being shown in the code above that you shared). However, I could find 'enableFeatureAddonRecommendations'. Should I remove 'enableFeatureAddonRecommendations' then?

[2018-09-25 08:33] willdurand commented on #6374
@suhailsinghbains ah yes, sorry. I will update the snippet above. It is `enableFeatureAddonRecommendations` that needs to be removed.

[2018-09-25 08:40] suhailsinghbains commented on #6374
Okay, cool, working on it.

[2018-09-25 09:01] jillpip opened #6394 "hotfix 10072018(2).exe"
### Describe the problem and steps to reproduce it:

Total AV offered a free safe website browsing download for Firefox. Followed the link and Firefox informed me no such link

[2018-09-25 09:48] ioanarusiczki commented on #6331
@willdurand
I verified that "This add-on does not support your browser" message will be shown for the incompatible add-ons (I tried to cover all situations): those who require restart,  not compatible with your version of Firefox,  require a newer version of Firefox,  not available on your platform.
Tested on AMO dev with FF62(Win10), FF64 (Win10).

The red warning

![incompatible with warning](ht

[2018-09-25 10:04] willdurand commented on #6368
Agreed!

[2018-09-25 10:08] #6330 closed

[2018-09-25 11:29] EnTeQuAk commented on #6394
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can as

[2018-09-25 11:29] #6394 closed

[2018-09-25 11:30] ioanarusiczki commented on #6331
@willdurand Yes, these are not compatible with FF62, the max version as I see for the Armenian is FF53, the reason why with FF62 install button is disabled and the warning message "This add-on is not compatible with your version of Firefox." is displayed on their detail page.

But this lang pack https://addons-dev.allizom.org/en-US/firefox/addon/acholi-64-language-pack/ has the minimum version 64.

[2018-09-25 11:43] ioanarusiczki opened #6396 ""Choose Photo" button stays highlighted after being clicked on user profile page"
Followup for https://github.com/mozilla/addons-frontend/issues/6251
STR:
1. Load AMO dev and sign in then go to "edit my profile" page
2. Click the Choose Photo button and change the profile picture
3. Observe "Choose Photo" button after selecting a picture

Expected result:
Button is no longer highlighted

Actual result:
Button is still highlighted

Notes:
This issue is also reproducible with "Fi

[2018-09-25 11:45] ioanarusiczki commented on #6251
@willdurand I filed https://github.com/mozilla/addons-frontend/issues/6396 where I added in the notes that "Find more add-ons" from disco pane has the same issue.

[2018-09-25 12:12] willdurand commented on #6396
With FF 62.0.2 on MacOS, I cannot reproduce :(

[2018-09-25 12:17] ioanarusiczki commented on #6227
Verified fixed on AMO dev with FF64 - Win10 "remove" is displayed without refreshing page

![no longer reproducible](https://user-images.githubusercontent.com/33448286/46013815-025d3f80-c0d6-11e8-835b-caa934ade36b.gif)

[2018-09-25 12:29] willdurand commented on #6331
Yep, I see it too now. Thanks! Can you file a new issue for that?

We need an API change because the `addon.current_version.is_strict_compatibility_enabled` field is not exposed in the discovery API response, and this is the field used to ignore/not ignore the max versions.

[2018-09-25 12:42] greenkeeper[bot] opened #6397 "An in-range update of snyk is breaking the build 🚨"
## The devDependency [snyk](https://github.com/snyk/snyk) was updated from `1.97.1` to `1.98.0`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fsnyk-1.98.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a devDependency of this project. It **might not br

[2018-09-25 13:06] willdurand commented on #6145
I don't see this dictionary in the API response.

[2018-09-25 13:09] bobsilverberg commented on #6388
I don't think the presence of the button is a bug. It's fine to allow a user to write a review from that location, but the button is too big. This has been fixed and the change should land in production on Thursday.

[2018-09-25 13:18] diox commented on #6145
I do. It has a `fa-IR` target_locale FWIW.

[2018-09-25 13:37] willdurand commented on #6145
I see it too now, I was not looking at the right API. I have added this add-on in -dev too, so that we have it for testing purpose.

[2018-09-25 13:40] ioanarusiczki commented on #6353
Verified fixed on AMO -dev with FF62 (Win10)
I checked the reviews page, collection detail page, user profile page.

![alligned](https://user-images.githubusercontent.com/33448286/46018043-a7c9e080-c0e1-11e8-81b9-a3769437ddaf.png)

[2018-09-25 13:41] bobsilverberg commented on #6345
I copied the svg mentioned above, made it green, using the equivalent of `$green-60` and adjusted the size using css. It may or may not be satisfactory.

[2018-09-25 13:57] AlexandraMoga commented on #6356
If you venture on selecting a star, an error message will also be displayed:

![image](https://user-images.githubusercontent.com/31961530/46019096-fed0b500-c0e3-11e8-8fe0-fd82a40799d7.png)

[2018-09-25 14:02] kumar303 commented on #6372
This is a regression caused by https://github.com/mozilla/addons-frontend/pull/6335 and I've located the culprit. I'll have a fix soon.

[2018-09-25 14:13] #6379 closed

[2018-09-25 14:30] ioanarusiczki commented on #6352
@kumar303 I verified it on AMO dev with FF62 -win10
Everytime I reload AMO -dev I receive
Intl.NumberFormat exists                                  amo-6c0035b542186f97c434.js:1:884745

![console logs](https://user-images.githubusercontent.com/33448286/46021142-9c2de800-c0e8-11e8-9d83-586166d03e13.png)

[2018-09-25 14:36] eviljeff commented on #5527
@willdurand now mozilla/addons-server#9467 has landed `/v4/` now doesn't include the `localised field values are always returned as objects` change.

[2018-09-25 14:40] #6300 closed

[2018-09-25 14:44] ioanarusiczki opened #6401 "Disco Pane won't display "This add-on does not support your browser" message for incompatible lang packs"
Followup for https://github.com/mozilla/addons-frontend/issues/6331

1. Load the Disco Pane for AMO dev and make sure there's a lang pack added using admin tools which is not compatible with the current FF version, in this case FF62, list of incompatible lang packs are [here](https://addons-dev.allizom.org/en-US/firefox/language-tools/)
2. Check if disco pane displays the warning message

Expected

[2018-09-25 14:45] ioanarusiczki commented on #6331
I filed an issue here  https://github.com/mozilla/addons-frontend/issues/6401
And closing this one - verified fixed on AMO dev with FF62(Win10), FF64 (Win10).

[2018-09-25 14:48] willdurand commented on #6401
This issue requires an API change, requested here: https://github.com/mozilla/addons-server/issues/9520

[2018-09-25 14:53] willdurand commented on #6145
@jvillalobos what would you prefer: both tools under the same language (Persian) or one line for each language (Persian and Persian (Iran))?

[2018-09-25 14:55] bobsilverberg commented on #6232
We use [`sanitizeHTML`](https://github.com/mozilla/addons-frontend/blob/2018.09.20-2/src/ui/components/UserReview/index.js#L66) to remove all HTML from the review body, other than `<br>` tags, so this is expected behaviour, and I think we want to keep it that way.

What do you think @kumar303 and/or @jvillalobos?

[2018-09-25 15:01] bobsilverberg commented on #6377
I have been unable to reproduce this either locally or on dev.

[2018-09-25 15:38] mymindstorm commented on #6388
Should it show the write a review button for someone other than the user that created the review?

[2018-09-25 15:49] bobsilverberg commented on #6388
No, it shouldn't. I didn't realize that was what was happening. I'll reopen this.

[2018-09-25 15:52] #6363 closed

[2018-09-25 15:54] willdurand commented on #6363
For QA:

- on AMO, https://addons-dev.allizom.org/__frontend_version__ should show two new attributes `experiments` and `feature_flags`
- on Disco Pane, https://discovery.addons-dev.allizom.org/__frontend_version__ should show two new attributes `experiments` and `feature_flags`

[2018-09-25 16:08] #6372 closed

[2018-09-25 16:30] muffinresearch commented on #6401
FWIW and AFAIK there are no current plans to surface lang packs on the disco pane.

[2018-09-25 16:30] kumar303 commented on #6265
I had to revert this because of regressions. See https://github.com/mozilla/addons-frontend/pull/6399

I'm going to fix the original bug in a different way.

[2018-09-25 16:32] kumar303 commented on #6381
I reverted the code causing this regression (see https://github.com/mozilla/addons-frontend/pull/6399) and I reopened https://github.com/mozilla/addons-frontend/issues/6265

[2018-09-25 16:32] #6381 closed

[2018-09-25 17:01] #6310 closed

[2018-09-25 17:05] kumar303 commented on #6388
Thanks for the bug report, @mymindstorm

I swear at some point I thought to restrict this line of code to the review owner but I guess I forgot 😁

https://github.com/mozilla/addons-frontend/blob/389b590cbfd8442a6a189777e9f9f0805bce8008/src/amo/components/AddonReviewCard/index.js#L438-L449

[2018-09-25 17:13] bobsilverberg opened #6403 "Left-align review controls for wider cards"
- Sign in
- Go to an add-on detail page
- Rate the add-on
- Write a review and submit it

The *Edit review* and *Delete review* links should be left-aligned but only when the screen is wide enough to make space for both links.

<img width="510" alt="screenshot 2018-10-10 12 02 19" src="https://user-images.githubusercontent.com/55398/46753043-61998300-cc84-11e8-82de-ade5fb59cbfa.png">

[2018-09-25 18:41] #6289 closed

[2018-09-25 19:15] #6388 closed

[2018-09-25 19:27] jvillalobos commented on #6145
Not a strong preference, but two lines is better IMO.

[2018-09-25 19:37] bobsilverberg commented on #6232
We have a routine that converts newlines to `<br>`, so I think the main reason we allow them is so we can do that.

[2018-09-25 19:43] jvillalobos opened #6408 "Theme wizard should preload latest version properties when uploading new version"
STR:

1) Create a theme
2) In the Dev Hub, click on Upload New Version.
3) Click on Create a Theme button.

Expected:
The properties of the current theme version should be preloaded, so they are easy to edit. Currently, the wizard is in its default state.

This won't work very well if the previous version was uploaded as an XPI and included properties that the wizard doesn't support. It's an edge

[2018-09-25 20:06] jvillalobos commented on #6232
Could we convert `<br>` to newlines and keep the rest as plain text? Or is there a security risk doing that? If doing it is risky, I think it's okay to close this issue.

[2018-09-25 20:15] #6346 closed

[2018-09-25 21:10] willdurand commented on #3034
I created a demo project and two dependencies to test it: https://github.com/willdurand/pkg-app.

Lockfile is used by `yarn` on install and there is no way to update a sub-dependency in a malicious manner. It only uses what's in the `yarn.lock` file.

[2018-09-25 21:10] willdurand commented on #3034
I created a demo project and two dependencies to test it: https://github.com/willdurand/pkg-app.

Lockfile is used by `yarn` on install and there is no way to update a sub-dependency in a malicious manner. It only uses what's in the `yarn.lock` file.

[2018-09-25 21:13] willdurand commented on #3034
I am closing this issue now that it has been verified.

If you want to verify it:

1. clone the demo project:

[code]

2. install the deps:

[code]

3. run the script:

[code]

If you remove the `yarn.lock` file and re-install the dependencies (`yarn install`), you'll see an update of the sub-dependency (pkg-001). You can see the update by running `node index.js` again.

If you discard your change

[2018-09-25 21:14] #3034 closed

[2018-09-25 21:46] kumar303 opened #6410 "No way to see server logging without pino-devtools"
### Describe the problem and steps to reproduce it:

Add some server logging. For example:

[code]

Start the server with `yarn amo:dev`.

### What happened?

The logs do not appear in the console that you started `yarn amo:dev` from.

### What did you expect to happen?

The logs should appear.

### Anything else we should know?

Even though `pino-devtools` shows logging in the devtools panel we s

[2018-09-26 06:31] AlexandraMoga commented on #6377
Not reproducing anymore either. Maybe some other patch might have fixed this too.

[2018-09-26 06:31] #6377 closed

[2018-09-26 07:22] willdurand opened #6413 "Use `getFakeLogger()` everywhere in the test suite"
A `getFakeLogger()` helper has been introduced in https://github.com/mozilla/addons-frontend/pull/6378, we should use it everywhere now.

There are several occurrences to replace with different names, including:

- `fakeLog`:

[code]

- `_log`:

[code]

[2018-09-26 07:27] willdurand commented on #6410
So, there are two things here (I guess):

1. we should use some sort of `tee` to send the logs on both `pino-devtools` and the console
2. `console.log` are missing in the server logs (is that correct?)

In the first case, it is doable and in order to debug #6367, I queried http://localhost:3010/server-logs.json to show the logs 😄 We can do better, so I am going to add this "some sort of `tee` thin

[2018-09-26 07:29] #6397 closed

[2018-09-26 07:35] AlexandraMoga commented on #6372
Verified fixed on dev ans stge with FF62, Win10x64 and Androd 8.0

![refresh ok](https://user-images.githubusercontent.com/31961530/46064357-dabeb380-c177-11e8-8d0a-771832e8325b.gif)

[2018-09-26 07:38] AlexandraMoga commented on #6381
Verified fixed on AMO -dev with FF62, Win10x64

![no refresh on rating](https://user-images.githubusercontent.com/31961530/46064477-2bcea780-c178-11e8-8b67-f7f28553a724.gif)

[2018-09-26 08:13] AlexandraMoga opened #6414 "Editing a developer reply on the user profile page will open the write a review form/overlay"
Almost similar to #6356
Follow up for #6104

STR:

1. Log in to AMO stage with a developer account
2. Go to your user profile page
3. Locate a developer reply in the list of reviews you posted
4. Click on Edit my reply

Actual result:
The Write a review overlay opens. The user can hover and select stars.

Expected result:
The Edit reply inline form should be opened

Notes:
- I think it would have

[2018-09-26 08:30] ioanarusiczki opened #6416 ""Flag" should be removed from the profile page"
STR:
1. Load AMO dev and go to the user profile page, make sure you have some reviews
2. Observe the buttons displayed

Expected result:
Edit reviews and Delete review are available.

Actual result:
Flag is present too - it has no functionality since the user cannot flag his own reviews (or developer responses)

Notes:
Issue is reproducible on AMO dev with FF62 -Win10

![own reviews cannot be flag

[2018-09-26 08:33] willdurand commented on #6145
@jvillalobos ok, wfm. One more thing, I believe this lang pack should have "fa-IR" as target locale and not just "fa": https://addons.mozilla.org/en-US/firefox/addon/persian-ir-%D9%81%D8%A7%D8%B1%D8%B3%DB%8C-%D8%A7%DB%8C%D8%B1%D8%A7%D9%86-lang/

[2018-09-26 08:34] willdurand commented on #6396
@ioanarusiczki can you test it with MacOS by chance? I am wondering if it is an OS issue or not.

[2018-09-26 08:39] AlexandraMoga opened #6417 "A review written from the user profile page is not displayed after submission"
Follow up for #6104

STR

1. Log in to AMO stage
2. Go to your user profile page
3. Search for a rating posted that doesn't have any text written yet
4. Click on Write a review and Submit your comment

Actual result:
The written review is not displayed immediately after submission. A page refresh is required

Expected result:
Written review is immediately available

Notes:
- not reproduced when th

[2018-09-26 08:43] ioanarusiczki commented on #5495
The reviews or developer replies can be deleted from the user profile page
The only problem that I've noticed is with an admin account - if the reviews or dev responses are deleted from the user profile page but the detailed review page was opened before deleting in a new tab - the review/response will be displayed on the top of the page (refresh won\t help) only after navigating away from page an

[2018-09-26 08:53] ioanarusiczki commented on #6396
@willdurand Sure but not today. I'll return with results on Friday !

[2018-09-26 09:04] AlexandraMoga opened #6418 "Deleting all reviews from the last reviews page on the user profile will generate a 404"
STR:

1. Log in to AMO
2. Go to your user profile page
3. Navigate to the last page of your posted reviews
4. Delete all reviews listed on the last page

Actual result:
When the last review is deleted, a page not found is triggered

Expected result:
The user should land on the previous reviews page

Notes:
- reproduced on -dev and stage with FF62, Win10x64

![404 user profile reviews](https://user

[2018-09-26 09:40] AlexandraMoga commented on #6104
Verified on -dev and stage with FF62, Win10x64 and Android 8.0

- the user has now the option to write a review (for previously rated add-ons), Edit their reviews, Delete their reviews or Flag a dev reply left for one of their reviews. Additionally, developers can edit or delete their replies

![image](https://user-images.githubusercontent.com/31961530/46071525-e2d31f00-c188-11e8-89f5-6dd62dc61f18

[2018-09-26 10:27] powysian opened #6421 ""TotalAV Safe Site" not recognized in Firefox?"
As a paidup customer of TotalAV, I received an email invitation to install a

"Recommended Security Add-On. Protect your privacy with TotalAV Safe Site for Firefox Install yours today totally free and benefit from over 5,000 new definitions every day"

When I clicked on their link I got an error as attached:
![error](https://user-images.githubusercontent.com/43604947/46074300-0ee9a280-c17f-11e8-81

[2018-09-26 10:54] AlexandraMoga commented on #6363
Verified fixed on AMO -dev and stage with FF62, Win10x64

[AMO]
![image](https://user-images.githubusercontent.com/31961530/46075581-9c36f200-c193-11e8-9c30-9e99b1fb143d.png)

[Disco]
![image](https://user-images.githubusercontent.com/31961530/46075602-abb63b00-c193-11e8-9205-24cdd728aba1.png)

[2018-09-26 11:11] AlexandraMoga commented on #6282
Verified on AMO -dev with FF62, Win10x64

![image](https://user-images.githubusercontent.com/31961530/46076214-904c2f80-c195-11e8-9d9e-529c47838055.png)

I haven't seen the lang pack on stage yet, even when searching by https://addons.allizom.org/kab/firefox/language-tools/
It could be that this lang pack doesn't exist on stage. I will try to submit it myself and will check again tomorrow to see i

[2018-09-26 11:34] AlexandraMoga commented on #6302
Verified fixed on -dev

[2018-09-26 11:34] ioanarusiczki commented on #6294
Verified fixed on AMO dev with FF64 - Win10

![disco pane -dev](https://user-images.githubusercontent.com/33448286/46077368-482f0c00-c199-11e8-848d-ce9b0169d828.gif)

[2018-09-26 11:50] willdurand commented on #6282
You'll have to set the `target_locale` in the admin.

[2018-09-26 11:53] ioanarusiczki commented on #6314
This was previously verified for https://github.com/mozilla/addons-frontend/issues/6318 https://github.com/mozilla/addons-frontend/issues/6292 and https://github.com/mozilla/addons-frontend/issues/6294
Marking it verified fixed on AMO dev with Ff62 and FF64 (Win10)

[2018-09-26 11:57] willdurand commented on #6401
This should be fixed now, via the API change that has landed in -dev.

[2018-09-26 11:57] #6401 closed

[2018-09-26 12:02] AlexandraMoga commented on #6282
Yes, I know. I've added `kab` as target_locale.

[2018-09-26 12:10] willdurand opened #6422 "Support localized fields in API responses"
In order to fully switch to API v5, we need to support the new localized fields. Instead of directly getting a value for any localized field, we will always receive an object with at least one key/value (the key is the locale, the value is the localized content).

The API `v5` should be used to see those localized fields.

See also: https://github.com/mozilla/addons-server/issues/8794

[2018-09-26 12:10] willdurand commented on #5527
I filed another issue for the new localized fields: https://github.com/mozilla/addons-frontend/issues/6422.

[2018-09-26 12:13] ioanarusiczki commented on #6300
This issue is no longer reproducible on AMO dev with FF62 - Win10

![closed box fixed](https://user-images.githubusercontent.com/33448286/46079088-c04c0080-c19e-11e8-921b-f7649f848f9e.gif)

[2018-09-26 12:28] willdurand commented on #6396
I cannot reproduce with Windows 10 and FF 62 (32 bits)

[2018-09-26 12:53] willdurand commented on #6396
I was able to reproduce the issue on Windows 10, but only for the "Choose photo" button with FF 62.

[2018-09-26 13:00] bobsilverberg commented on #6104
Do you mean that your own replies that show up as top-level items (as opposed to inside reviews to which they are a reply) are the ones without the blue background? If so then yes, that is intended. If a reply is displayed *inside* a review (because it is a reply to the review) it should still have a blue background. So if I am interpreting your observation correctly, this is all intended.

[2018-09-26 13:01] AlexandraMoga commented on #4528
Verified on -dev and stage (AMO and Disco pane) with Firefox 62 and 60esr, Win10x64

Analytics events are logged for actions that are expected to trigger such event.

Also, a new event is present:
[code]

<details>
<summary>GA events</summary>

[GA] Google Analytics is enabled
Not importing the HCT lib: hctEnabled: false
[GA: ON] set Object { dimension: "dimension4", value: "TAAR_COHORT_INCLUDED"

[2018-09-26 13:04] AlexandraMoga commented on #6104
@bobsilverberg Thanks. That was my question and your answer clarified it.

[2018-09-26 13:06] vcarciu commented on #562
Verified as fixed :
![eventcancelled](https://user-images.githubusercontent.com/1583842/46081800-17a19f00-c1a6-11e8-80a6-43c20238720a.png)

[2018-09-26 13:16] muffinresearch commented on #6421
Duplicate of #5466

[2018-09-26 13:16] #6421 closed

[2018-09-26 13:19] muffinresearch commented on #6408
@jvillalobos can this be re-filed on addons-server?

[2018-09-26 13:20] bobsilverberg commented on #6417
I'm not sure if we should invest any time in trying to fix this, because it uses the old UI for writing a review. This should be fixed when the new UI lands, which isn't far off.

As an interim fix we could consider hiding the "Write a review" button unless the new UI is enabled, but I'm not sure if even that is worth the time and effort.

What do you think @kumar303?

[2018-09-26 13:32] bobsilverberg commented on #6414
This is another case of something that will work properly once the new reviews UI is enabled on stage/prod. I agree that it's unfortunate that we have landed some changes in prod which rely on the new UI to work properly. There are a bunch of changes needed to the experience of interacting with a reply, which have issues open for them, so it might make sense to tackle this at the same time.

As a

[2018-09-26 13:58] AlexandraMoga commented on #6130
I haven't noticed other regressions besides the issues we already know about.

Marking this as verified fixed on dev and stage.

[2018-09-26 14:01] ioanarusiczki commented on #6164
@willdurand This issue with https://github.com/mozilla/addons-frontend/issues/6227 are no longer reproducible on AMO dev - FF64(Win10)

![remove displayed](https://user-images.githubusercontent.com/33448286/46085007-abc33480-c1ad-11e8-9792-5cf8b2f5e7f1.gif)

[2018-09-26 14:10] vcarciu commented on #5964
If you have more than one page of addons in a collection, when deleting an addon the next page is displayed instead of keeping same scroll position:
![removeaddon](https://user-images.githubusercontent.com/1583842/46085560-f8f3d600-c1ae-11e8-818f-c7b8d9c1f5a0.gif)

[2018-09-26 14:21] kumar303 opened #6424 "StrictMode causes double action dispatching in local dev"
The `StrictMode` wrapper is causing components to dispatch their loading actions twice.

With Redux DevTools open, load the home page and click on an add-on to see what I mean. Here are some doubling of action dispatches:

<img width="307" alt="screenshot 2018-09-26 09 14 45" src="https://user-images.githubusercontent.com/55398/46086068-00928b00-c16d-11e8-8d8c-3aad5ecef5b5.png">

If I apply this p

[2018-09-26 14:28] willdurand commented on #6424
See: https://github.com/facebook/react/issues/12856#issuecomment-390206425

[2018-09-26 14:50] kumar303 commented on #6410
Neither of my calls to `console.log()` or `log.info()` were showing up in stdout.

[2018-09-26 14:51] jvillalobos commented on #6408
Bah! Moved to https://github.com/mozilla/addons-server/issues/9539.

[2018-09-26 14:51] #6408 closed

[2018-09-26 14:57] willdurand commented on #6410
Ok, this is fixed by #6419.

[2018-09-26 15:04] rebmullin commented on #5964
thanks @vcarciu, if I am understanding the issue here we actually discussed that in the original PR: https://github.com/mozilla/addons-frontend/pull/5982#issuecomment-418634552
If the pages changes the scroll is expected as discussed there but I don’t think it should change in this particular case. I’ll look into this more..

[2018-09-26 15:12] kumar303 commented on #6352
Source maps are working for me in Firefox, Chrome, and Sentry.

Here is a better way to verify it:
* Go to https://addons-dev.allizom.org/en-US/firefox/simulate-client-error/
* Click *Go ahead, trigger an error*
* Open Tools > Web Developer > Web Console

If you should see an error pointing to the `index.js` file then source maps are working:

<img width="753" alt="screenshot 2018-09-26 10 11 38"

[2018-09-26 15:50] kumar303 commented on #6424
I understand this now. That's a nice feature!

I looked briefly at the two issues but I don't think we can do anything about them. `StrictMode` will create the component instance twice with the exact same props (invoking `constructor()` each time).

How would you prevent a constructor from re-dispatching its loading action? I can't think of a way. Perhaps that's not the right question to ask. Mayb

[2018-09-26 15:54] kumar303 commented on #6424
Yes, the docs suggest that this is the right question to ask. It wants you to see if your `constructor()` is idempotent. I believe that ours are in both cases, the results are just a little confusing.

[2018-09-26 15:58] #6396 closed

[2018-09-26 16:01] kumar303 commented on #6424
In any case, this is not a bug

[2018-09-26 16:01] #6424 closed

[2018-09-26 17:06] kumar303 commented on #6369
Thanks @bqbn. This looks like a DOS attempt that was successful. Here is a recap:

* The malicious request(s) triggered the frontend to log an error that included the entire response object. This used a lot of memory (about 36MB per message) and was multiplied by the number of requests.
* We are no longer logging the entire response object. See https://github.com/mozilla/addons-frontend/issues/637

[2018-09-26 17:06] #6369 closed

[2018-09-26 17:08] willdurand opened #6426 "Review our log calls"
We should review our log calls and make sure we don't log full objects (potentially large objects) and also make sure we log with the right levels.

[2018-09-26 17:14] #5553 closed

[2018-09-26 17:30] kumar303 opened #6427 "Document where storybook is hosted"
There is a bit of documentation on [storybook](https://github.com/mozilla/addons-frontend/#storybook) but it should include a link to the hosted storybook: http://mozilla.github.io/addons-frontend/

[2018-09-26 19:18] kumar303 commented on #6426
Yeah. Let's look for any log call that passes something other than a string as arguments.

[2018-09-26 19:20] kumar303 commented on #6369
We will be reviewing log calls in https://github.com/mozilla/addons-frontend/issues/6426 to make sure they don't have similar problems.

[2018-09-26 19:27] bobsilverberg commented on #6414
This should be fixed via https://github.com/mozilla/addons-frontend/issues/6349, which we hope to land on stage at the end of this week, and on prod for next week's push.

[2018-09-26 19:29] bobsilverberg commented on #6417
This should be fixed via #6349, which we hope to land on stage at the end of this week, and on prod for next week's push.

[2018-09-26 19:29] bobsilverberg commented on #6349
Note that landing this should fix #6414 and #6417.

[2018-09-26 19:31] bobsilverberg commented on #6232
I'm not sure how risky it is, but I do think it's not the way we generally do it. @willdurand / @kumar303 are there reasons not to render code snippets as plain text? I suppose there might be edge cases that are difficult to handle/predict.

[2018-09-26 19:39] #6427 closed

[2018-09-26 19:40] bobsilverberg commented on #6356
@kumar303 maybe a change landed since you reported this, but there is one aspect of your report I cannot reproduce.  You say:

I do see "Edit reply" as the link in the featured review card:

![screenshot 2018-09-26 15 37 50](https://user-images.githubusercontent.com/142755/46104821-57668780-c1a2-11e8-9c10-e439a5adb599.png)

Is that bug no longer valid, or am I misunderstanding?

[2018-09-26 20:14] kumar303 commented on #6356
Yep, this is fixed now. I crossed it out in the description. It looks like the other things I mentioned in the description still need fixing.

[2018-09-26 20:38] kumar303 commented on #6414
The easiest thing would be to just enable the new inline form ASAP (#6349) and leave this bug as is until then. It's not ideal but the form mostly still works. You can edit the reply and save it.

[2018-09-26 20:41] jvillalobos commented on #6145
Okay. I should update it after the next push, right? So it doesn't disappear temporarily from the list.

[2018-09-26 20:41] kumar303 commented on #6120
@AlexandraMoga Can you file a new bug for that? That will need to be fixed in a different way.

[2018-09-26 20:44] willdurand commented on #6145
Yes please

[2018-09-26 20:44] #5527 closed

[2018-09-26 20:45] willdurand commented on #5527
For QA: please make sure AMO behaves as usual, especially reviews/ratings should continue to work (read, write, update, delete)

[2018-09-26 22:03] jvillalobos commented on #6232
Some add-ons are dev tools and deal with very technical things, so I can see it being useful. My main concern, though, is that we're showing the review as saved correctly (and editable), but it appears empty on the site.

[2018-09-26 22:11] kumar303 commented on #6232
We could detect the presence of tags and show a warning at the top of the form explaining that they have been removed.

[2018-09-26 22:40] jvillalobos opened #6431 "Add introductory copy above hero area on homepage"
Per the [PRD](https://docs.google.com/document/d/1PZwtYeWC2_eWBOX4a8QUBoOHeAZpEEOFRzEhpsgFrKo/edit#), the new hero area will include some introductory text that explains what add-ons are about.

@MeridelW to provide copy.

[2018-09-26 22:48] jvillalobos opened #6432 "Support blog-style user guides"
As part of the [Homepage Hero Area project](https://docs.google.com/document/d/1PZwtYeWC2_eWBOX4a8QUBoOHeAZpEEOFRzEhpsgFrKo/edit#), we need to support static pages that have content that reads more like a blog.

The content will be provided by @devaneymoz, it should be localized, and we don't need it to be managed via admin tools. It should just be static content that is checked into the repo. Tho

[2018-09-26 22:54] jvillalobos opened #6433 "Redesign hero area and point to user guides"
For the [Homepage Hero Area](https://docs.google.com/document/d/1PZwtYeWC2_eWBOX4a8QUBoOHeAZpEEOFRzEhpsgFrKo/edit#), the new design will point to new user guide pages that are also part of this project.

The homepage will show a few (about 3), but there will probably be a couple more we have in reserve so the content changes regularly. The ones we show will be decided in the monthly homepage refre

[2018-09-27 07:12] shristit commented on #6312
Hi @kumar303 @AlexandraMoga is this issue still available , i am unable to find this line in code

[2018-09-27 07:16] shristit commented on #6312
I think in #6285, the tooltip is removed https://github.com/mozilla/addons-frontend/pull/6285/files#diff-8ac5e13d9f69883f4468abd7d2787b98L226

[2018-09-27 07:19] AlexandraMoga commented on #4662
The new install buttons are visible and functional on the discovery pane in high contrast mode:

https://www.screencast.com/t/0zxoqg4m

Marking issue as verified fixed

[2018-09-27 08:51] ioanarusiczki commented on #6417
This is also reproducible when a written review or a developer response is edited on the user profile page - refresh is needed to view the text after submission. - on AMO stage FF62(Win10) The issue is not reproducible on AMO -dev

[2018-09-27 12:35] greenkeeper[bot] opened #6434 "An in-range update of stylelint is breaking the build 🚨"
## The devDependency [stylelint](https://github.com/stylelint/stylelint) was updated from `9.5.0` to `9.6.0`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fstylelint-9.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

stylelint is a devDependency of this proj

[2018-09-27 13:20] AlexandraMoga commented on #6282
Taqbaylit language pack is on the stage list too:

https://addons.allizom.org/en-US/firefox/language-tools/

[2018-09-27 14:16] ioanarusiczki commented on #6352
@kumar303  I tried it with https://addons-dev.allizom.org/en-US/firefox/simulate-client-error/ and  I also received  index.js:16:2 - on AMO dev with FF62(Win10)

![simulating an error](https://user-images.githubusercontent.com/33448286/46151944-91a25880-c278-11e8-93ec-de35f7212117.png)

[2018-09-27 14:18] AlexandraMoga opened #6436 "Unauthorized users can access an edit collection page"
STR:

1. Log in to AMO with a regular user (no special permissions)
2. Follow this link: https://addons.mozilla.org/en-US/firefox/collections/mozilla/ad-blockers/edit/

Actual result:
A regular user can view a collection edit page. He doesn't have permissions to execute any action, so there is no actual damage done.

Expected result:
The collection edit page should be visible only to the owner or

[2018-09-27 14:43] #6145 closed

[2018-09-27 14:56] kumar303 opened #6438 "Deleting a review from its permalink shows 'review was not found'"
### Describe the problem and steps to reproduce it:

* Sign in as a non-administrator
* Review an add-on
* Go to the review listing
* Click the timestamp of the review you just wrote to view its detail page
* On the detail page, click *Delete review* and confirm deletion

### What happened?

The review is deleted but you now see *The review was not found* at the top of the page.

### What did you

[2018-09-27 15:48] bobsilverberg commented on #6438
I implemented this "review was not found" message to address the case where someone shares a permalink to a review, but the review has been deleted. If we no longer show a message but rather just redirect the user to the review listing page, with no acknowledgment that they intended to visit a particular review, I think that could be confusing to them. I think it better to support that use case, a

[2018-09-27 15:51] bobsilverberg commented on #6436
I don't think this is worth fixing. We enforce security via the API authorizations, and you confirm that an unauthorized user is unable to perform any actions from this screen. There is no way for an unauthorized user to access this screen from within the app - they can only access it via a direct URL.

I don't think we generally write extra code to block unauthorized users from accessing a URL di

[2018-09-27 16:39] bobsilverberg opened #6439 "Enable the new ratings and reviews UI on stage"
We'd like to enable the new UI on stage today, after the push, where it can be available for testing.

[2018-09-27 16:44] bobsilverberg commented on #6439
Note that landing this should fix #6414 and #6417 on stage.

[2018-09-27 16:53] jvillalobos commented on #6232
wfm

[2018-09-27 17:38] bobsilverberg opened #6441 "When saving changes to a reply, it is not updated in other places"
There are a couple of different STRs:

From a permalink:

1. Log in as an admin and go to the list of reviews for an add-on.
2. Add a reply to one of the reviews.
3. Click the permalink of the reply you just created to be brought to the permalinked page for the reply.
4. In the "Reply by..." card, click the "Edit reply" link.
5. Change the text of the reply and click "Update reply".

Expected resu

[2018-09-27 17:49] bobsilverberg opened #6443 "Editing a reply from the permalink page opens two text boxes"
STR:

1. Log in as an admin (or developer) and go to the list of reviews for an add-on.
2. Add a reply to one of the reviews.
3. Click the permalink of the reply you just created to be brought to the permalinked page for the reply.
4. In the "Reply by..." card, click the "Edit reply" link.

Expected result:
Only the text box to edit the reply in the "Reply by..." card is opened.

Actual result:
Tw

[2018-09-27 18:28] bobsilverberg commented on #5891
@EnTeQuAk bump. Please see https://github.com/mozilla/addons-frontend/issues/5891#issuecomment-417464199, above.

[2018-09-27 18:35] bobsilverberg commented on #5850
I believe this was fixed via https://github.com/mozilla/addons-frontend/pull/6420. Marking as assigned to @willdurand as he landed the patch that fixed it. Marking as "qa: not needed" because it will be been verified when #5527 is verified.

[2018-09-27 18:35] #5850 closed

[2018-09-27 18:37] bobsilverberg commented on #3691
This can be closed when https://github.com/mozilla/addons-frontend/issues/6349 lands, which should be next week.

[2018-09-27 18:45] bobsilverberg commented on #4367
The new ratings and reviews UI provides links to both delete a rating and delete a review. There is no way to just delete a review and leave the rating intact, but I think we have accepted that with this new flow, so I think this is now invalid.

What do you think @kumar303 / @pwalm / @jvillalobos?

[2018-09-27 18:58] bobsilverberg commented on #6347
@kumar303 / @pwalm I looked in the Sketch file but cannot find anything like this anywhere? Are they there and I'm just not looking in the correct place?

[2018-09-27 19:26] cegc14 opened #6445 "This site should be add to complements in firefox, but page was not found :https://hotsite.certisign.com.br/certiplugincorpng/firefox/plugin/InstallCertiPlugin.html"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-09-27 19:30] muffinresearch commented on #6445
We are unable to provide support for individual add-ons.

This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services.

Please look at the add-on details page and see if the add-on author has provided support information. If supplied you'll find it in the "More information" section.

<img width="509" alt="facebook_container_ _add-ons_for_firef

[2018-09-27 19:30] #6445 closed

[2018-09-27 19:57] #6439 closed

[2018-09-27 20:09] jvillalobos commented on #4367
If you wrote a rating with a review and you want to only keep the rating, the way to do that is to delete the review and then rate again? If that's what's being asked, I'm okay with it. I don't expect that to be a common use case. /cc @atsay

[2018-09-27 21:01] greenkeeper[bot] opened #6446 "An in-range update of snyk is breaking the build 🚨"
## The devDependency [snyk](https://github.com/snyk/snyk) was updated from `1.99.0` to `1.99.1`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fsnyk-1.99.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a devDependency of this project. It **might not br

[2018-09-27 21:27] kumar303 opened #6447 "A new developer reply to a review does not load after deletion"
### Describe the problem and steps to reproduce it:

- Sign in as a developer
- Go to one of your add-ons
- Go to the review listing
- Reply to a review
- Click on the timestamp
- Delete the reply
- Reply to the review again
- Click on the timestamp again

### What happened?

Nothing happens

### What did you expect to happen?

You should see the permalink screen of the review reply

### Anything

[2018-09-27 21:36] kumar303 opened #6448 "Double forms when replying to a review from the permalink screen"
### Describe the problem and steps to reproduce it:

* Sign in as a developer
* Go to the review listing for one of your add-ons
* Reply to a review
* Click on the timestamp of your reply to view the permalink
* Click *Edit reply* from the permalink page

### What happened?

You see two forms open for editing

<details>
<summary>Screencast</summary>

![addons-frontend-double-reply mov](https://use

[2018-09-27 21:38] kumar303 commented on #6448
omg, sorry

![shame-cube](https://user-images.githubusercontent.com/55398/46176073-c65fe100-c273-11e8-93ab-367fbf71fab9.gif)

dupe of https://github.com/mozilla/addons-frontend/issues/6443

[2018-09-27 21:38] #6448 closed

[2018-09-27 21:44] kumar303 commented on #6443
This might be hard to fix. We only key on review ID for this state variable:

https://github.com/mozilla/addons-frontend/blob/f7077966c1d1d174e650a02ee663248c13f40db5/src/amo/reducers/reviews.js#L90

Maybe porting this state variable to `setUIState()` will let us fix it more easily. We still need to come up with a unique ID for each component but perhaps that's still an easier approach.

[2018-09-27 21:52] kumar303 commented on #4367
I re-read this bug report and I think the new UI addresses it in a straight forward way without confusion. In addition to https://github.com/mozilla/addons-frontend/issues/4367#issuecomment-425201649 I'll add that if you delete the text in your review while editing then you won't even be able to submit the form. This seems like the right thing to do.

The button is disabled:

<img width="343" alt=

[2018-09-27 21:52] #4367 closed

[2018-09-28 06:44] AlexandraMoga commented on #6311
This issue is fixed from a visual perspective (except for the card heading).

![image](https://user-images.githubusercontent.com/31961530/46192242-06ba7000-c303-11e8-9b3e-96535cc7b0ab.png)

The remaining functional issues will be addressed in #6356

[2018-09-28 07:50] AlexandraMoga commented on #6427
Do you need any QA for thsi?

[2018-09-28 08:35] WolfHeroEX opened #6449 "Can't edit my own profile, redirecting to Page not found"
Can't edit my own profile, any way I try to get to the page it keeps stating "Page not found".

Profile page: https://addons.mozilla.org/en-US/firefox/user/666411/

Screenshot of what I get when I try to edit my profile:
![image](https://user-images.githubusercontent.com/13767602/46196932-5c2c5800-c2d6-11e8-8256-a8a0a5fdd412.png)

I don't remember why I have this name, and I'd really like to chang

[2018-09-28 09:37] #6446 closed

[2018-09-28 09:55] noname2534 opened #6451 "My"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-09-28 09:59] muffinresearch commented on #6451
There's no information here to go on.

This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services. If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can assist you.

[2018-09-28 09:59] #6451 closed

[2018-09-28 10:11] muffinresearch commented on #6436
I think this should be fixed. It would be idea if this could be a 401 status code error page.

[2018-09-28 10:15] muffinresearch commented on #5376
Duplicate of #3697

[2018-09-28 10:15] #5376 closed

[2018-09-28 12:00] #6345 closed

[2018-09-28 13:22] AlexandraMoga opened #6452 "Akismet spam messages are not displayed next to the field that generated them"
STR:

1. Log in to AMO -dev
2. Create a new collection
3. Enter some _spammy_ content inside the metadata fields (i.e special characters only)
4. Save the collection

Actual result:
An error message is displayed to inform the user that spam content was detected. The message is not correlated to the field that triggered the error. This could be confusing especially for false positives.

Expected re

[2018-09-28 13:40] AlexandraMoga commented on #6388
Verified fixed on AMO -dev with FF62, Win10x64

![image](https://user-images.githubusercontent.com/31961530/46211685-df809480-c33c-11e8-8bd9-70390f6a38d3.png)

[2018-09-28 14:55] kumar303 opened #6453 "Use AddonReviewManager for developer replies"
**For QA**: Please make sure that replying to a review as a developer and editing the reply still works as expected.

The `AddonReviewCard` renders a custom form for developer replies (for historic reasons):

https://github.com/mozilla/addons-frontend/blob/a238ae43335c366c34569a29d6c021130ef982c0/src/amo/components/AddonReviewCard/index.js#L243-L262

All of this code can be replaced with `<AddonRe

[2018-09-28 15:11] #6356 closed

[2018-09-28 15:17] kumar303 commented on #6349
We decided to push this out early, before all issues are fixed. This is because there are some bugs in production related to all of the recent code changes and enabling the new flow will fix them.

We will enable the inline review flow on Thursday 2018-10-04.

[2018-09-28 15:22] bobsilverberg opened #6454 "Adjust the appearance of the confirmation buttons when deleting a review/reply"
This is work towards #6347 which only implements the visual changes to the buttons, but does not address making other parts of the UI hidden when the confirmation is displayed.

Here is a copy of the current spec:

![ratings and reviews flow v2](https://user-images.githubusercontent.com/55398/45894396-ceabae00-bd93-11e8-9b44-cdb7bc82eb2e.png)

[2018-09-28 15:54] rebmullin commented on #6427
@AlexandraMoga, no QA on this one : ) thanks

[2018-09-28 17:38] jvillalobos commented on #5325
@muffinresearch @willdurand Is deploying this in prod blocked on anything?

[2018-09-28 17:43] muffinresearch commented on #5325
Yep, the disco recommendations shield study is still running so we're going to switch this on in prod once that's completed.

[2018-09-28 17:51] muffinresearch opened #6457 "Look at switching back to Sentry's babel-gettext-extractor lib"
Looks like they've pulled in the changes from the Mozilla fork so we can switch back to it and deprecate the mozilla version ([once the linter switches too](https://github.com/mozilla/addons-linter/issues/2211)).

See https://github.com/getsentry/babel-gettext-extractor

[2018-09-28 17:59] muffinresearch commented on #1208
@willdurand was this done as part of the mozAddonManager button re-implementation?

[2018-09-28 19:46] willdurand commented on #1208
I have to check but I am not sure, I reused some existing code that wraps the mozAddonManager.

[2018-09-28 20:42] kumar303 opened #6458 "Simplify delete confirmation UI in review listing"
### Describe the problem and steps to reproduce it:

- Sign in
- Rate an add-on and write a review
- Go to the review listing
- Find the review and click *Delete review*

### What happened?

It shows a prompt with two buttons

### What did you expect to happen?

It should be simplified like https://github.com/mozilla/addons-frontend/issues/6347

[2018-09-28 20:55] pwalm commented on #6458
Proposed:
<img width="1070" alt="screen shot 2018-09-28 at 1 52 56 pm" src="https://user-images.githubusercontent.com/6797635/46233013-07183280-c326-11e8-8590-19fc80fb6d32.png">

When "Delete review" is clicked, the prompt appears in place.

[2018-09-29 02:15] SeanPrashad commented on #6413
@shristit I would love to help out whilst we wait for Will - can you open a PR with the work that you've done so far for us to have a look at? It'll be easier for everyone to get involved once we can see what's giving you trouble 😁 🙌🏽

[2018-09-29 09:29] grahamperrin commented on #6357
Thanks,

OK, spun off to the support area at https://redd.it/9jv6lj

----

As a side note,

That dis-association in the web site footer is, I think, a bit too terse and/or (UPPERCASE) shouty. Maybe interpreted as rage against Mozilla (in which case, I can understand people frowning) but honestly, I don't sense rage. Recently at <https://www.reddit.com/comments/9dc129/-/e5hrjje/> the founder wrote:

[2018-09-30 07:20] f0llows-you opened #6460 "moment-by-wetransfer"
### Describe the problem and steps to reproduce it:

### What happened?
WeTransfer Moments Extension is not available. Article about WT on mozila websites have the link but not redirecting to extension.

### What did you expect to happen?

### Anything else we should know?

https://blog.mozilla.org/internetcitizen/2018/07/31/wetransfer/
![image](https://user-images.githubusercontent.com/43313326/4

[2018-10-01 07:53] willdurand commented on #5964
@vcarciu can we close this issue?

[2018-10-01 08:52] wagnerand commented on #6460
The add-on is currently unavailable while the author addresses some issues found. Please contact the author for more information.

Thank you.

[2018-10-01 08:52] #6460 closed

[2018-10-01 09:12] willdurand commented on #6207
Firefox devtools says all other animations are optimized, and I don't see a huge performance impact in the Performance tab. It slightly drops at the beginning but then it is quite good. The current JSON/SVG animation has the same issue.

[2018-10-01 09:19] willdurand commented on #5914
@jvillalobos so we want the fox emoji and the locale inside parentheses?

[2018-10-01 09:20] vcarciu commented on #5964
@willdurand I am sorry, yes we can close it!

[2018-10-01 09:31] #6374 closed

[2018-10-01 09:41] willdurand commented on #5914
I jus/t read about a potential A/B experiment for the fox emoji, is that still a thing

[2018-10-01 09:42] ioanarusiczki commented on #6401
This is no longer reproducible with the lang packs on AMO dev's disco pane - FF62 - Win10

![lang packs](https://user-images.githubusercontent.com/33448286/46281453-6456f280-c577-11e8-9d6f-b30759702cb4.png)

[2018-10-01 10:30] autrilla commented on #5678
I think this is already in -prod:

[code]

[2018-10-01 10:37] muffinresearch commented on #5757
@willdurand I'm not sure that matters but maybe @rraue can confirm?

[2018-10-01 10:53] willdurand commented on #5757
I agree, and that will probably be covered by #5755 or a similar issue.

[2018-10-01 10:54] willdurand commented on #5678
Perfect, thanks

[2018-10-01 10:54] #5678 closed

[2018-10-01 11:13] muffinresearch commented on #6452
@jvillalobos I think this issue highlights that we might need to rethink the visibility of spam flagging.

Since for the most part we should assume akismet can be wrong. Because of that I think in every case it should be invisible to users. Otherwise there are at least two concerns; it will worry people that get a false positive when they're not entering spam, and it will also provide a feedback l

[2018-10-01 11:18] willdurand commented on #5916
@Bharghvi sorry, I am working on it! I let you find another issue in [this list]().

This issue needs an API change, filed at: https://github.com/mozilla/addons-server/issues/9564

[2018-10-01 12:36] #5677 closed

[2018-10-01 12:40] willdurand commented on #5762
@muffinresearch how is this different than #5677 and #5678? (both fixed)

[2018-10-01 12:41] ioanarusiczki commented on #6265
I re-checked this issue today and it's not reproducible - AMO dev FF62 - Win10 &Android 8.0

![yelow bar is yellow now](https://user-images.githubusercontent.com/33448286/46289039-72653d00-c590-11e8-84ff-cbd03d512535.gif)

[2018-10-01 12:44] #5757 closed

[2018-10-01 12:55] #5761 closed

[2018-10-01 13:02] bobsilverberg commented on #6351
https://github.com/mozilla/addons-server/issues/9371 has now been fixed, so this is unblocked.

[2018-10-01 13:03] muffinresearch commented on #5762
#5677 was specific to locales.

[2018-10-01 13:06] #5762 closed

[2018-10-01 13:06] willdurand commented on #5762
For QA: search redirects should be 301 now (for example, when `atype` search parameter is supplied)

[2018-10-01 13:08] willdurand commented on #5762
ha, that makes sense. I read this issue, then the PRD and then my brain replaced "locale" by "internal" 🤦‍♂️

[2018-10-01 13:11] bobsilverberg opened #6465 "Update AddonReviewList to use new exclude_ratings API parameter"
Remove the code from AddonReviewList [that filters out the featured review](https://github.com/mozilla/addons-frontend/blob/2018.10.04-preview/src/amo/pages/AddonReviewList/index.js#L202) and instead use the `fetchReviews` action to pass the `reviewId` to the saga to exclude the review via the new `exclude_ratings` API parameter.

[2018-10-01 13:14] willdurand commented on #5755
@muffinresearch do we want this `meta` tag on static pages too? (e.g., about page, landing pages, etc.)

[2018-10-01 13:46] willdurand commented on #1208
so no, it was not implemented. I am going to add it.

[2018-10-01 13:50] AlexandraMoga commented on #6120
Verified fixed on AMO -dev with FF62, Win10x64

![increase reviwes](https://user-images.githubusercontent.com/31961530/46292521-d0e2e900-c599-11e8-8562-02cc863f7a3f.gif)

I'm also not able to reproduce the issue with deleting a review anymore.

[2018-10-01 13:53] AlexandraMoga commented on #6374
Please add STR or the label qa:not needed.

Thanks

[2018-10-01 13:56] willdurand commented on #6374
@AlexandraMoga please make sure addon recommendations (add-on detail page) are still shown.

[2018-10-01 14:10] AlexandraMoga commented on #6145
Verified fixed on AMO -dev with FF62, Win10x64

There are two dictionaries listed for Persian in the language tools list, including the missing one for `fa-IR`

![image](https://user-images.githubusercontent.com/31961530/46293677-dee63900-c59c-11e8-93a4-5a27148c1ccd.png)

[2018-10-01 14:16] ioanarusiczki commented on #6345
Looks good to me. Verified fixed on AMO dev with FF62(Win10&Android 8.0)
The "Saving star rating" message appears for a very short time before "Star rating saved".
![star rating saved](https://user-images.githubusercontent.com/33448286/46293833-31bff080-c59d-11e8-8a5c-e8e73a19fde8.png)

[2018-10-01 14:34] AlexandraMoga commented on #5761
Verified fixed on AMO -dev with FF62, Win10x64

![image](https://user-images.githubusercontent.com/31961530/46295112-fa067800-c59f-11e8-9f81-7dc5fa4bd045.png)
![image](https://user-images.githubusercontent.com/31961530/46295126-fe329580-c59f-11e8-86fa-f94adfc428d9.png)
![image](https://user-images.githubusercontent.com/31961530/46295135-02f74980-c5a0-11e8-9993-b64160028661.png)

@muffinresearch wa

[2018-10-01 14:38] kumar303 opened #6468 "Document feature flag JSON endpoint"
Follow up to https://github.com/mozilla/addons-frontend/issues/6363

Update the documentation for the site meta endpoint to explain how feature flag data is available: https://github.com/mozilla/addons-frontend/#what-version-is-deployed

[2018-10-01 14:44] muffinresearch commented on #5761
Only the new frontend. The old site's user-facing pages will be shutdown in the not too distant future.

[2018-10-01 15:07] #6468 closed

[2018-10-01 15:10] ioanarusiczki opened #6470 "Permalink won't be displayed correctly if the developer response was previously deleted"
Followup for https://github.com/mozilla/addons-frontend/issues/6356

STR:
1. Load AMO dev and make a developer response for an add-on
2. Click the timestamp and delete the response from the detail page
3. Write again a developer response to the same review from step 1 and then click the timestamp
4. Observe the response displayed on the top of the page

Expected result:
The new reply is displayed.

[2018-10-01 15:20] bobsilverberg commented on #2770
Just checking about the "All development channel versions" part of this. The original description says:

Am I correct in recalling that we do not support beta versions anymore? If that's the case, does that mean the "All development channel versions" part of this is now irrelevant, and we only need a single "All versions" page?

[2018-10-01 15:28] #6410 closed

[2018-10-01 15:31] #6338 closed

[2018-10-01 15:45] bobsilverberg opened #6473 "Implement API/reducer/saga code for retrieving add-on versions"
This supports #2770

[2018-10-01 15:53] ioanarusiczki commented on #6289
@bobsilverberg Checked this with FF62Win10 on AMO dev
Every time the time stamp of a different review is clicked the rating breakdown below the add-ons name is reloading. It's the same behavior on AMO stage too.
![breakdown reloads](https://user-images.githubusercontent.com/33448286/46299803-d85ebe00-c5aa-11e8-9a22-3cb3bb8f9797.gif)

[2018-10-01 16:17] #5928 closed

[2018-10-01 17:07] jvillalobos commented on #2770
Yes, that's no longer relevant, per https://github.com/mozilla/addons-server/issues/7163

[2018-10-01 17:10] jvillalobos commented on #5914
Yes, adding the emoji and the locale are the changes requested here. I don't think we need to A/B test this (it would be really hard to measure the outcome anyway, given the unpredictability of search engine indexing).

[2018-10-01 17:15] jvillalobos commented on #6452
Moderation is what we already do, and adding Akismet to it wouldn't help. We need something that blocks spam creation for this project to be effective. If we can't have any level of trust on their system, then this won't work.

The PRD specifies sending the individual pieces of data separately, so we should be able to show the error message in the right place. Sure, some spammers will work around

[2018-10-01 17:32] bobsilverberg commented on #6356
I opened https://github.com/mozilla/addons-frontend/issues/6441, which I think addresses the issue you describe. Do you agree @ioanarusiczki?

[2018-10-01 17:37] bobsilverberg commented on #6470
I think this will be addressed by #6453, but I'm not 100% sure. What do you think @kumar303?

[2018-10-01 20:15] jvillalobos opened #6475 "Replying to reviews should not be limited to visible owners"
The new front-end is limiting review replies to visible owners. However, all users associated with an add-on, Developer or Owner, visible or not, should be able to reply.

Marking this as a P2, since developers are running into this due to last week's push of https://github.com/mozilla/addons-frontend/issues/2771.

[2018-10-01 20:58] #6159 closed

[2018-10-01 21:27] kumar303 opened #6477 "Sometimes the hero banner jumps in size on first page load"
### Describe the problem and steps to reproduce it:

* Clear all your cookies
* Load the prod home page
* Refresh the page a lot (10 or 20 times, nothing specific)

### What happened?

Sometimes, the hero banner jumps in size. It can go from small to big or big to small.

### What did you expect to happen?

The hero banner should not jump in size.

### Anything else we should know?

This happened

[2018-10-02 01:02] rebmullin commented on #6477
I look into this a bit but since I can only replicate on prod I am not sure of the best way to test/debug. I have something I wanted to test but I have not been able to get charles proxy set up. Does anyone know if there is another way to test something like this?

[2018-10-02 07:56] ioanarusiczki opened #6478 "The add-on card reloads when the time stamp of a review is clicked"
STR:
1. Load AMO dev and go to a page of reviews
2. Click the time stamps of the given reviews and observe the left side of the screen

Actual result:
The add-on card reloads every time a time stamp is clicked

Expected result:
The add-on card won't reload

Notes:
This issue is reproducible on AMO dev with FF62-Win10

![breakdown reloads](https://user-images.githubusercontent.com/33448286/46335852

[2018-10-02 07:57] ioanarusiczki commented on #6289
@bobsilverberg Alright, I filed https://github.com/mozilla/addons-frontend/issues/6478

[2018-10-02 08:03] #6207 closed

[2018-10-02 08:15] willdurand commented on #6477
I am unable to reproduce locally:

- cookie is successfully loaded on the server
- cookie is successfully loaded on the client
- HOC is triggered on both the server and the client
- cookie value does not change over time

[2018-10-02 08:18] ioanarusiczki commented on #6356
@bobsilverberg Yes, I agree. It's in here https://github.com/mozilla/addons-frontend/issues/6441

[2018-10-02 08:42] ioanarusiczki commented on #6441
@bobsilverberg This issue is reproducible with developer accounts too. If page is refreshed the last edit will be correctly displayed in both places.  - FF62(Win10)

![developer account](https://user-images.githubusercontent.com/33448286/46338050-cd05a400-c637-11e8-96aa-4bf9dc80a9d9.gif)

[2018-10-02 08:43] AlexandraMoga commented on #6374
Recommendations look fine on -dev.
I'm waiting to verify this on stage too, since it has more valid data for recommendations testing.

[2018-10-02 08:49] willdurand commented on #6369
@AlexandraMoga I don't think so, thanks!

[2018-10-02 08:55] AlexandraMoga commented on #5928
Verified fixed on AMO -dev with FF62, Win10x64

![page delete](https://user-images.githubusercontent.com/31961530/46338798-d0019400-c639-11e8-894c-8f0721ab0d85.gif)

[2018-10-02 09:14] AlexandraMoga commented on #6417
This is now fixed on stage for all three scenarios: writing a review, editing a review, updating a dev reply

![stage review](https://user-images.githubusercontent.com/31961530/46339890-9bdba280-c63c-11e8-8733-ac5e9c1c78d2.gif)

[2018-10-02 09:18] #6417 closed

[2018-10-02 09:38] AlexandraMoga commented on #6312
@bobsilverberg are tooltips coming back for permalinks (reviews and replies), or are we going to stick to not showing a tooltip at all?

There is no tooltip displayed anymore for dev replies or user reviews:

![no tooltip](https://user-images.githubusercontent.com/31961530/46341095-02ae8b00-c640-11e8-976a-217f3542f26a.gif)

[2018-10-02 10:46] AlexandraMoga commented on #6207
Verified on AMO -dev with FF62, Win10x64 and Android 8.0

- from a visual perspective, there is no major difference observed compared tot he previous animation
![loading bubble](https://user-images.githubusercontent.com/31961530/46343264-e31a6100-c645-11e8-9484-af4ebed80ffc.gif)

@willdurand there are some differences in terms of the button size:

[1] mobile
![image](https://user-images.githubuser

[2018-10-02 10:59] willdurand commented on #6207
ah good catch, this is an issue. Can you file a new issue for the medium size?

[2018-10-02 11:00] AlexandraMoga opened #6481 "Install buttons have functionality issues in responsive design mode"
STR

1. Open AMO - https://addons.mozilla.org/en-US/firefox/
2. Go to an add-on details page
3. Enter responsive design mode
4. Install the add-on

Actual result:
The installation is completed but the install button is stuck in the animation state

Expected result:
Add to Firefox changes to Remove after installation completes

Notes:
- for LWT, the install button doesn't work at all
- reproduced o

[2018-10-02 11:12] willdurand commented on #6481
@AlexandraMoga can you try to refresh the browser before continuing the step 2 of the STR. I don't think this is an issue with the website but rather an issue with the responsive design mode (we already had issues with it in the past).

For me, everything works fine (after having refreshed the page in responsive mode). LWT don't work because `mozAddonManager` is not used for them.

[2018-10-02 11:15] AlexandraMoga opened #6482 "Install animation doesn't have the correct size for medium screens"
STR:

1. Load AMO -dev
3. Go to an add-on details page - https://addons-dev.allizom.org/en-US/firefox/addon/awesome-screenshot-plus-/?src=featured
3. Change your browser window to a medium size
4. Install the add-on
5. Observe the loading animation

Actual result:
The animation size is too wide

Expected result:
The size of the animation in for medium screens should have the same width as the full

[2018-10-02 11:17] AlexandraMoga commented on #6207
Filed #6482 for the medium size issue

I'm marking this issue as verified fixed on AMO dev with FF62, Win10x64 and Android 8.0

[2018-10-02 11:22] willdurand opened #6484 "Consider removing the `logRequests` middleware"
The [`logRequests`](https://github.com/mozilla/addons-frontend/blob/1e8e81c5b726959a465d79de6a4fe99247ddf987/src/core/middleware/logRequests.js) middleware is logging both the full `req` (request) and `res` (response) objects. It adds a huge amount of useless information on the console, and I don't think we need this middleware. In addition, it is not used in production since the log level is `deb

[2018-10-02 11:36] willdurand commented on #5767
@muffinresearch does that involve editorial/UX teams? Or should we try to add some descriptions first and see how it goes? Anything is better than nothing.

[2018-10-02 11:38] AlexandraMoga commented on #6481
@willdurand  I can see the correct installation flow only when I refresh the page _after_ entering responsive design mode (step 3)

If you think that the problem doesn't come from AMO, we can close this issue and I can try to file a bug on the Firefox side.

[2018-10-02 11:45] willdurand commented on #6481
I don't think it is a bug with AMO.

[2018-10-02 11:45] #6481 closed

[2018-10-02 11:51] muffinresearch commented on #5767
I think it would make sense to loop @MeridelW in on that.

[2018-10-02 11:54] bobsilverberg commented on #6312
@AlexandraMoga I don't think that was intentional. We should bring the tooltip back.

[2018-10-02 12:08] willdurand commented on #5767
@MeridelW I updated the issue description to list the pages that need a small description (max 250 chars, ~160 chars is usually recommended).

[2018-10-02 12:13] AlexandraMoga commented on #5757
I've checked the pagination functionality across the site and I din't find any issues.

I can also see a  `rel` attribute in relation to the `next` and `previous` links:

![image](https://user-images.githubusercontent.com/31961530/46347833-99397700-c655-11e8-8ae3-ff74d1ada019.png)

@willdurand let me know if you need any additional testing for this. Thanks.

[2018-10-02 12:50] willdurand commented on #6426
Here is what I have found:

https://github.com/mozilla/addons-frontend/blob/1e8e81c5b726959a465d79de6a4fe99247ddf987/src/amo/pages/Addon/index.js#L425-L426

https://github.com/mozilla/addons-frontend/blob/1e8e81c5b726959a465d79de6a4fe99247ddf987/src/amo/pages/AddonReviewList/index.js#L177

https://github.com/mozilla/addons-frontend/blob/1e8e81c5b726959a465d79de6a4fe99247ddf987/src/amo/pages/Collec

[2018-10-02 12:52] AlexandraMoga commented on #5678
Verified on AMO -dev with FF62, Win10x64

- when requesting AMO homepage from http://addons-dev.allizom.org, the redirect to `https` uses now a 301:

![image](https://user-images.githubusercontent.com/31961530/46349581-1a473d00-c65b-11e8-9440-0a420b1ebf49.png)

[2018-10-02 13:42] ioanarusiczki commented on #6346
@bobsilverberg  Verified this on AMO dev with FF62 - Win10&android 8.0
@pwalm 's mock shows the Edit and Delete like both being on the right side of the written review.
On AMO dev  Edit is on the left and Delete on the right on both Windows and Android platforms

![edit delete](https://user-images.githubusercontent.com/33448286/46352182-d60b6b00-c661-11e8-964d-74f1ed7899f9.png)

[2018-10-02 13:46] bobsilverberg commented on #6346
Yes, we didn't address that aspect yet.

[2018-10-02 13:57] AlexandraMoga opened #6485 "Bring back the tooltip for review permalinks"
Follow up for #6312

STR:

1. Log in to AMO
2. Go to your user profile page
3. Scroll down to the Reviews section
4. Hover over the timestamp next to one of your listed reviews

Actual result:
There is no tooltip displayed to indicate the scope of this link

Expected result:
A tooltip should be displayed when hovering over a review timestamp. The titles should most likely be:
- for user reviews -

[2018-10-02 13:59] AlexandraMoga commented on #6312
I have filed #6485 to cover the tooltip issue as the STR are slightly different than in this case.

[2018-10-02 14:12] ioanarusiczki commented on #6338
Verified fixed on AMO dev with FF62 - Win10

![fix of 6338](https://user-images.githubusercontent.com/33448286/46353987-22f14080-c666-11e8-822e-765bd7994721.gif)

[2018-10-02 14:16] mstriemer opened #6486 "Align disco pane with inline content start"
The discovery pane is currently centre aligned. There are some changes to the addons manager incoming for 64 that will match its width and alignment with the preferences page.

The width of the disco pane is good, but it should be left aligned as of Firefox 64. Due to some technical reasons, it looks like the easiest way to accomplish this will be to remove the centre alignment in the disco pane.

[2018-10-02 14:18] MeridelW commented on #5767
@willdurand Thanks, Will. There are 51 pages here (as discussed, we can use some repeat descrips for categories) but I may need to get some additional help from Scott and/or intern to power through these. I'll chat with Amy during check-in this week about that.

In the meantime, I'll take a first pass at a few and see how it goes.

FYI - Raphael is on PTO this week and next and we will want his re

[2018-10-02 14:27] #5766 closed

[2018-10-02 14:33] wagnerand opened #6487 "Add admin user link to user profile page"
(Similar to #4632 but for users)

This link would appear in the left box, somewhere below the ratings (along with "Report user for abuse" and "Edit user" buttons):

"Admin user". Goes to `/admin/models/users/userprofile/ID/` (note that the slug won't work). Requires `Users:Edit` and `Admin:Tools` to appear.

[2018-10-02 14:39] wagnerand commented on #4632
@jvillalobos I know I'm late, but I am wondering if it would be better to

* Rename `Admin add-on` to `Admin add-on status`
* Add "Admin add-on". Goes to `admin/models/addons/addon/ID`. Requires `AdminTools:View` and `Addons:Edit` permission to appear.

[2018-10-02 14:40] AlexandraMoga commented on #5762
Verified on AMO -dev with FF62, Win10x64

The following search redirect uses a 301 now:

![image](https://user-images.githubusercontent.com/31961530/46355792-2be41100-c66a-11e8-8ddc-7524ea24c0bc.png)

[2018-10-02 14:42] #5914 closed

[2018-10-02 15:47] #6454 closed

[2018-10-02 16:06] #6482 closed

[2018-10-02 16:13] kumar303 commented on #6484
What do we gain by removing it? Is it creating too much noise when you turn on debug logging? If my guess is correct, then I suggest introducing a separate config param to turn it on/off.

I'd like to keep this middleware around just in case we need it because mat has already needed some server request logging to debug another issue and we don't new relic set up yet (I think).

[2018-10-02 16:16] willdurand commented on #6484
This middleware logs the request/response of our server (`server/base.js`) only, not all reqs/resps sent by the app. I am not sure how useful this can be for mat or anyone.

[2018-10-02 16:18] kumar303 commented on #6484
Yeah, that's exactly what mat needed. It's important because you can't see that in the console when looking at a production request/response.

[2018-10-02 16:19] kumar303 commented on #6484
Oh, wait, sorry, he was looking for API requests/response. Sorry, multi-tasking too many things. You can delete it! Hah. I agree that it is probably not useful. We have nginx logs.

[2018-10-02 16:38] willdurand opened #6490 "Remove `HomeHeroBanner` "small" variant and tracking code"
We do not want to show the "small" variant of the `HomeHeroBanner`, which was part of an A/B experiment. This issue is about removing this variant, but not entirely yet since we want to debug a potential issue in #6477.

We can also remove tracking code.

[2018-10-02 17:17] kumar303 commented on #6475
Hmm, it looks like we don't have enough API data to do this yet. I opened https://github.com/mozilla/addons-server/issues/9573 to get access to this data.

[2018-10-02 17:22] kumar303 opened #6491 "Listed owner / developer cannot edit other developer responses"
### Describe the problem and steps to reproduce it:

* As a developer, create an add-on
* In the Devhub, add user1 as a listed Owner and user2 as a listed Developer
* Sign into AMO as the main developer, go to your add-on's review listing, and reply to a review
* Sign into AMO as user1 or user2 and try to edit the reply

### What happened?

There is no way to edit the developer response.

### What

[2018-10-02 17:45] #6477 closed

[2018-10-02 17:45] #6490 closed

[2018-10-02 19:14] kumar303 commented on #6475
Whoops, this is a dupe of https://github.com/mozilla/addons/issues/526 . Do we need to keep both open? They're in different repos.

[2018-10-02 22:54] jvillalobos commented on #4632
Fine with me if it's okay with @bobsilverberg

[2018-10-02 23:01] jvillalobos commented on #6475
It's okay to dupe this to that one, but the priority still matters. Developers will be running into this more.

[2018-10-03 00:23] devaneymoz opened #6493 "11 October homepage content update"
For the **11 October** push, please update homepage content as detailed [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch

[2018-10-03 07:20] ioanarusiczki commented on #5553
Verified this issue on Android 8.0 with FF62 (Win10)
If I navigate away and return,  click it from search results, simply click back to see the detail page or I'm expanding the text and then refresh page the text will look collapsed.
Also if I click another add-on from the More recommendations the text will look collapsed.

![expanded on android](https://user-images.githubusercontent.com/33448286/

[2018-10-03 07:36] AlexandraMoga commented on #6414
This is now fixed on stage by the inline review form (#6349)

![edit reply stage](https://user-images.githubusercontent.com/31961530/46396337-d3f3eb80-c6f7-11e8-980d-3cdbfe5d9a56.gif)

[2018-10-03 07:36] #6414 closed

[2018-10-03 09:03] AlexandraMoga commented on #6490
Verified on AMO stage with FF62, Win10x64

I've checked with several profiles and the homepage is always rendering the large hero variant.
There are also no analytics events logged with regards to the hero experiment.

![hero large](https://user-images.githubusercontent.com/31961530/46400581-782f5f80-c703-11e8-920a-5d99e68364f7.gif)

@willdurand
The `experiment_home_hero` cookie is preserved, thou

[2018-10-03 09:06] AlexandraMoga commented on #6477
This is verified fixed on AMO stage with FF62, Win10x64

I've tried with several new FF profiles and I'm, always getting the large hero variant, with no size distortions:

![hero large](https://user-images.githubusercontent.com/31961530/46401046-a3ff1500-c704-11e8-8c39-1704858658a7.gif)

[2018-10-03 09:30] AlexandraMoga commented on #6374
Verified fixed on AMO stage

![image](https://user-images.githubusercontent.com/31961530/46402296-060d4980-c708-11e8-898a-dbf75e8eec6d.png)

[2018-10-03 09:46] AlexandraMoga commented on #5914
Verified on AMO stage with FF62, Win10x64

We have the following page titles:

[Extensions]
![image](https://user-images.githubusercontent.com/31961530/46403034-0dcded80-c70a-11e8-9bf9-d9f3fe2b8d3a.png)

[Themes - lwt and static]
![image](https://user-images.githubusercontent.com/31961530/46403051-17efec00-c70a-11e8-8f1f-694a4fed7def.png)

[Dictionaries]
![image](https://user-images.githubusercont

[2018-10-03 10:50] AlexandraMoga commented on #5766
Verified on stage with FF62, Win10x64

Add-on detail pages include now a meta description that uses the add-on summary. If there is no summary available for a particular add-on, the description will be simply "Download {add-on name} for Firefox."

[code]

@willdurand I think we have one exception for lightweight themes, which had a different submission flow that didn't require a Summary. If the us

[2018-10-03 11:27] AlexandraMoga commented on #5677
I can see a 301 response if I request an unsupported locale, for example, in which case the page will be redirected to `en-US` by default.

https://addons.allizom.org/en/firefox/

![image](https://user-images.githubusercontent.com/31961530/46407256-ef222380-c716-11e8-941f-600782b01415.png)

@willdurand is there a better method to test this functionality?

[2018-10-03 13:10] ioanarusiczki commented on #6454
Verified fixed on AMO dev with FF62 (Win 10 and Android 8.0)

Delete Rating

![delete rating](https://user-images.githubusercontent.com/33448286/46412094-3237c300-c726-11e8-882a-1dc1ad03a582.gif)

Delete Review

![delete review stage](https://user-images.githubusercontent.com/33448286/46412113-3cf25800-c726-11e8-8477-61fee41b08c8.gif)

[2018-10-03 14:21] kumar303 commented on #6475
Okay. I increased the priority of https://github.com/mozilla/addons/issues/526

[2018-10-03 14:21] #6475 closed

[2018-10-03 14:38] bobsilverberg opened #6496 "DECPRECATION WARNING when running commands for the frontend"
I notice this warning whenever running commands from the console for the frontend:

`DECPRECATION WARNING: the xmlchar *module* is deprecated: please replace e.g. require('xmlchars') with require('xmlchars/xml/...')`

[2018-10-03 14:53] bobsilverberg commented on #4632
I haven't landed the changes yet so yes, I'm fine to make these changes.

[2018-10-03 15:36] jvillalobos commented on #6413
Mentor: @willdurand

[2018-10-03 15:38] caitmuenster commented on #6312
Hey @shristit -- this isn't a good first bug because this is going to be covered by the other bug that was opened.

Want to take a look at another good first bug instead?

[2018-10-03 15:38] #6312 closed

[2018-10-03 15:39] caitmuenster commented on #6224
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2018-10-03 15:40] caitmuenster commented on #6275
Mentor: @diox

[2018-10-03 16:41] willdurand commented on #5914
@AlexandraMoga it could be nice indeed, thanks. Could you file an issue for this type?

[2018-10-03 16:43] willdurand commented on #5766
@AlexandraMoga that's exactly why we don't need to be more verbose in the case of LWTs :)

[2018-10-03 16:44] willdurand commented on #6490
Yes, exactly!

[2018-10-03 16:45] willdurand commented on #5677
You can try to use `en` as locale (as you did), but also `en-us` (lowercase) and omit the trailing slash. That should redirect you.

[2018-10-03 17:15] greenkeeper[bot] opened #6499 "An in-range update of snyk is breaking the build 🚨"
## The devDependency [snyk](https://github.com/snyk/snyk) was updated from `1.100.0` to `1.100.1`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fsnyk-1.100.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a devDependency of this project. It **might not

[2018-10-03 17:26] kumar303 opened #6500 "Delete all code related to the old overlay review flow"
The inline review flow is landing! https://github.com/mozilla/addons-frontend/issues/6349

Let's delete all code for the old overlay flow.

**For QA**: please make sure that creating / editing ratings and reviews still works.

[2018-10-03 17:31] kumar303 opened #6501 "Invalid variable in zh_TW and sl locales"
Introduced by https://github.com/mozilla/addons-frontend/commit/5d9d9925030779d70911d61938fb2ca28c4ea703 :

[code]

[2018-10-03 17:31] #6349 closed

[2018-10-03 17:57] kumar303 opened #6503 "Import errors when running tox in Python 2"
When running `tox` locally I am getting a couple import errors.

[2018-10-03 17:58] #6501 closed

[2018-10-03 18:01] willdurand commented on #6503
what kind of errors? could it be related to a recent python deps update PR? I run tox quite often and did not get any issues.. last time was < 1 week

[2018-10-03 18:10] kumar303 commented on #6503
Example:

[code]

These were all the packages missing for me: https://github.com/mozilla/addons-frontend/pull/6504/files

I think it's because I was running Python 2.7, not 3.6 (like TravisCI). However, Python 2.7 ships with mac, right? So we should probably support it. As far as I can tell, adding the new dependencies doesn't break Python 3. I *do* have Python 3 installed but tox isn't using it f

[2018-10-03 18:13] kumar303 commented on #6503
I think `tox` is using the default interpreter (the one `tox` was installed with). I guess we should preserve that feature which means making our `tox` work in either Python 2 or 3.

[2018-10-03 19:10] kumar303 commented on #6503
Yep, it looks like this change was forward compatible with Python 3.

[2018-10-03 20:24] rebmullin opened #6507 "Update static theme size in header and search"
AMO: Update the header and search to use the 720 preview width as discussed in the following issues:

dependency: https://github.com/mozilla/addons-server/issues/9519
Also see REF: https://github.com/mozilla/addons-server/issues/9419

[2018-10-04 06:32] willdurand commented on #6503
I would not waste time on python 2, but if it's a matter of updating the requirements. txt, that's fine I guess.

[2018-10-04 06:51] eviljeff commented on #6275
Note mozilla/addons-server#8302 that requests doing this in reverse.  imo we should pause this until that issue has been resolved, or just implement the username -> user-id redirect now instead.

[2018-10-04 07:47] #6499 closed

[2018-10-04 07:57] #6484 closed

[2018-10-04 08:05] #6328 closed

[2018-10-04 08:06] #1208 closed

[2018-10-04 08:10] willdurand commented on #6426
I submitted a PR to remove the function in the log call pasted above. Other log calls look good to me.

[2018-10-04 08:28] willdurand commented on #6496
This warning message is caused by a dependency of `jsdom`, called `saxes`. A patch version has been issued: https://github.com/lddubeau/saxes/blob/master/CHANGELOG.md#313-2018-10-01, it should not take too long for `jsdom` to release a new version.

[2018-10-04 08:38] willdurand commented on #6490
@AlexandraMoga oops, looks like the deployed version on -stage is not correct, please wait a bit. I have pushed a new tag and it should be deployed soon-ish.

You can check the deployed version with this add-on BTW: https://addons.mozilla.org/en-US/firefox/addon/amo-info/

[2018-10-04 08:39] #3691 closed

[2018-10-04 09:01] AlexandraMoga opened #6509 "Search tool detail page title doesn't include the add-on "type""
Follow up for #5914

STR:

1. Open a search tool detail page - see https://addons.allizom.org/en-US/firefox/addon/sounds-of-the-universe/?src=search
2. Check the page title

Actual result"
Current page title is "Sounds of the Universe - Get this _Add-on_ for 🦊 Firefox (en-US)"

Expected result:
The page title should be "Sounds of the Universe - Get this _Search Tool_ for 🦊 Firefox (en-US)"

Notes:

[2018-10-04 09:07] AlexandraMoga commented on #6490
@willdurand everything looks good now, thanks.

[2018-10-04 09:08] AlexandraMoga commented on #5914
Filed #6509 as a follow up.

Marking this issue as verified fixed.

[2018-10-04 09:18] AlexandraMoga commented on #5677
I've tried with these examples and the results were as expected.

Marking issue as verified fixed.

[2018-10-04 09:35] eviljeff commented on #6422
this will unblock #3049 when implemented

[2018-10-04 09:57] eviljeff commented on #5421
(picking up an old issue I didn't reply to in Q3)

I don't think it's worth doing any further legacy frontend changes because no-one should be using legacy frontend really.

[2018-10-04 10:00] AlexandraMoga commented on #3691
The above scenario can't be reproduced anymore with the new inline review form.

I'm marking this issue as verified fixed.

[2018-10-04 10:14] eviljeff commented on #6432
My vote would be for the Markdown option.  It will allow Scott to directly provide the copy including styling.

Question: does "blog style" include images?  (3rd party images may come up against CSP or tracking blocking; AMO hosted images on the CDN is more difficult)

[2018-10-04 11:33] #6426 closed

[2018-10-04 11:48] diox commented on #6275
Also I'm not the right mentor for this (I guess I could do it, but it's best to have a more frontend oriented engineer do it)

[2018-10-04 12:03] bobsilverberg opened #6510 "Update the versions reducer to use the correct file"
This is a follow-up to #6473. The current code in `reducers/versions.js` just uses the first file for a given version to provide the `created` and `filesize` properties, but we should really find the correct file to use, using logic similar to that found in [`findInstallURL`](https://github.com/mozilla/addons-frontend/blob/2018.10.11/src/core/installAddon.js#L222). This will likely involve refacto

[2018-10-04 13:31] willdurand commented on #4129
what do you mean?

[2018-10-04 13:32] willdurand commented on #4129
Does Google always provide ratings for each extension?

[2018-10-04 13:48] ioanarusiczki commented on #5527
Verified fixed on AMO stage - FF62(win10&Android 8.0)
The release test results are [here](https://testrail.stage.mozaws.net/index.php?/plans/view/12783)

[2018-10-04 14:48] kumar303 commented on #6503
I've brew unlinked and relinked python (which is at 3.7) and I'm still not sure why the old tox is on my path -- it's definitely pointing to the 2.7 lib. Weird. Anyway, I think it's nice when things just work out of the box and these extra requirements seem harmless. Thanks for reviewing the patch.

[2018-10-04 14:48] #6503 closed

[2018-10-04 14:50] willdurand commented on #4271
@bqbn do you think we can do something at the nginx level with a lua or perl module? that would avoid a too complicated regex.

[2018-10-04 15:16] kumar303 commented on #6426
Excellent! Thanks for following up and digging in.

[2018-10-04 15:20] kumar303 opened #6512 "Add lint rule to prevent logging objects"
In https://github.com/mozilla/addons-frontend/issues/6369 we got DOS'd by our own log message that was logging a large object, thus allocating a lot of memory. Can we add a lint rule to prevent logging objects? Even if it were naive and just prevented passing non-string arguments to `log.info()`, that might be good enough. Lint rules can always be disabled -- it will at least make the developer th

[2018-10-04 15:47] willdurand commented on #6275
@suhailsinghbains no, I believe we can do what @eviljeff suggested, that is: redirecting username -> user-id.

[2018-10-04 16:07] suhailsinghbains commented on #6275
Oh, okay.
Working on it right away!

Thanks

[2018-10-04 16:08] willdurand commented on #6275
@suhailsinghbains it is basically inverting a condition in your current PR :)

[2018-10-04 16:19] mstriemer opened #6514 "Use photon cards style in discovery pane"
The about:addons page is moving to the new photon style cards. This should happen in Firefox 64 at which point the disco pane and about:addons would be out of sync visually. We should update the card styles to match the new photon styles in the rest of about:addons.

The spec for the photon styles are in the [style guide](https://design.firefox.com/photon/components/card.html), but the gist of the

[2018-10-04 17:06] kumar303 opened #6515 "Hide reviews for old add-on versions from the user profile"
### Describe the problem and steps to reproduce it:

* As a developer, publish version 1 of an add-on
* As a user, sign in and rate version 1 of the add-on
* As the developer, publish version 2 of the same add-on
* As the user, sign in and rate version 2 of the add-on
* As the user, go to your user profile page and look at all the reviews listed

### What happened?

You see two reviews for the sam

[2018-10-04 17:18] madalincm opened #6516 "Statistics menu not centered in some localizations"
### Steps to reproduce
1. Open statistics page for any adone using the FR localization: https://addons.mozilla.org/fr/firefox/addon/adblock-plus/statistics/?last=30

### Expected results
No layout or display issues.

### Actual results
The menu is not centered

### Notes/Issues
Verified in FF62(Win10 x64) Issue can be reproduced in amo-prod, amo-stage and amo-dev
Issue was reproduced with the foll

[2018-10-04 17:47] jvillalobos commented on #6432
There are some early drafts of the content in [this document](https://docs.google.com/document/d/1u1tbRo_ivfEAh_er2XKPciuYLARiNa2N5qXPGC0jfcY/edit?ts=5baeae48). They don't have images, but I would expect that to change in the future, so it'd be good to think of possible solutions for that.

[2018-10-04 17:49] bqbn commented on #4271
@willdurand in general I'd rather not have Nginx process every request because that has the potential of slowing down the proxy.

Besides we're not using OpernResty so Lua is not available. Perl is not as fast as Lua (supposedly) and the customized Nginx we're using doesn't have perl module compiled in. We'd have to re-compile and test that first.

I still wish we could have the app send 301 if a

[2018-10-04 18:54] #6509 closed

[2018-10-04 18:57] willdurand opened #6517 "`az` locale has an invalid variable"
From Travis-CI:

[code]

[2018-10-04 19:01] #6473 closed

[2018-10-04 19:04] willdurand commented on #4271
Fair enough, so I guess we would have to do that at the app level. I'll see what it involves.

[2018-10-04 19:05] jvillalobos commented on #6514
This will be deferred to Q1, unless someone has spare cycles to take it on before then.

[2018-10-04 19:09] #6517 closed

[2018-10-04 20:56] #4632 closed

[2018-10-04 21:14] MeridelW commented on #5767
@willdurand What is the deadline for draft copy, and for final copy?

[2018-10-04 21:20] willdurand commented on #5767
@MeridelW ideally by the end of this month for the final copy, but the sooner the better (obviously). What's draft copy?

I'd suggest we only have one copy and see how it goes. It takes time for Google to crawl the site and display the descriptions (if Google thinks it is better than what it can find by itself).

[2018-10-04 23:12] rebmullin commented on #6432
My vote is for markdown too. I am currently looking into this and will hopefully have a POC for this soon so I can start getting feedback.

[2018-10-05 03:19] greenkeeper[bot] opened #6522 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.5.0` to `1.6.0`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fmonorepo.enzyme-1.6.0).

This version is **covered** by your **current version range** and after updating it in your

[2018-10-05 06:52] willdurand commented on #6432
For images, we could replace all image links with links pointing to a proxy like https://github.com/atmos/camo (used by GitHub). It would allow to avoid mixed content and it would be CSP friendly as we would only have one host. Processing the markdown or whatever format would be easy too.

[2018-10-05 07:52] #6522 closed

[2018-10-05 08:59] willdurand commented on #3969
`og:url` is the add-on URL (canonical), the locale is part of this URL.

[2018-10-05 09:42] ioanarusiczki opened #6524 "Install buttons reload when disco pane is opened with "about:addons""
STR:
1. Load disco pane in a new tab by typing in "about:addons"
2. Observe the install buttons

Expected result:
Buttons are displayed

Actual result:
Buttons reload

Notes:
This is also reproducible when the FF profile is opened and diso pane is left open in a tab from a previous session. - with FF62&FF64 - Win10
It is not reproducible when disco pane is opened from the FF menu or from tools (wi

[2018-10-05 09:43] ioanarusiczki commented on #6328
@willdurand The display and install works for me. - verified on FF62 and FF64 with AMO dev - Win10
For what I've noticed I filed a separate issue here https://github.com/mozilla/addons-frontend/issues/6524

[2018-10-05 09:52] willdurand commented on #6524
@ioanarusiczki I don't understand the issue. What do you mean by "reload"?

[2018-10-05 10:43] willdurand opened #6526 "Use user ID in all links to user profile pages"
In #6275, we want to redirect users browsing a user profile page with the `username` in the URL to the canonical URL, which contains the user ID.

1. We should change all links and the routing config to consider the user ID as the default parameter in the URL (currently, it is `username`).
2. All links to the user profile pages (and probably edit pages too) should use the user ID and not the usern

[2018-10-05 10:48] willdurand opened #6527 "Add canonical link tag to user profile pages"
See also: #5755

---

We should add:

[code]

We have to determine how to pass the query string parameters (for pagination).

[2018-10-05 11:44] ioanarusiczki commented on #1208
@willdurand I assume the mozAddonsManager install buttons on AMO dev and Disco Pane -dev should be re-checked?

[2018-10-05 11:51] ioanarusiczki commented on #6524
@willdurand Like a button refresh - it's visible in the above .gif. Or just type about:addons in the browser with FF62 - watch the buttons

[2018-10-05 12:28] willdurand commented on #1208
@ioanarusiczki right, installs should work just like before.

[2018-10-05 13:02] willdurand commented on #6524
I am sorry, I am still not sure to understand. The `mozAddonManager` updates the status of the different buttons, that's why buttons 1 and 3 blink once the page has loaded.

This has been the behavior for a while, we can see the same thing with the "switch" buttons in -prod. It is less visible with the switches, but it is the same thing.

[2018-10-05 13:37] willdurand commented on #5767
Ah oki, no need to have a draft version indeed. What I will basically do is make sure what you write is visible to Google and localizable. Let me know when you have content available for some pages, I don't need all content for all pages before starting. Thanks!

[2018-10-05 14:01] #6493 closed

[2018-10-05 17:23] kumar303 opened #6529 "Extract the confirmation dialog from ConfirmButton"
For https://github.com/mozilla/addons-frontend/issues/6347 we need direct control over the confirmation dialog.

This is to extract the dialog panel from `ConfirmButton` into a new component. The `ConfirmButton` component should look and behave exactly as before.

**For QA**: please test for regressions in the following scenarios:
* Deleting a rating
* Deleting a review
* Deleting a developer resp

[2018-10-05 18:09] willdurand commented on #6477
FTR: we added a bunch of logs to debug the issue in prod.

[2018-10-05 18:51] #6491 closed

[2018-10-05 20:14] atsay opened #6531 "Display Category name on Category page"
When you go to a category page, for example https://addons.mozilla.org/en-US/firefox/search/?category=download-management&sort=rating&type=extension, you see "531 add-ons found" but no indication that these are add-ons in the Download Management category.

We should change it to say "X add-ons found in $Category" for all category pages.

[2018-10-05 21:14] #6529 closed

[2018-10-07 11:01] Mireille005 opened #6533 "Can't view collection on addons.mozilla.org"
### Describe the problem and steps to reproduce it:
I got this page  moz-extension://525e6efa-755b-47a5-93c7-37e97417c2ac/notification/notification.html
stating "If you enjoyed using the Favorites feature in Personas Plus to save your favorite themes, please create a new collection on addons.mozilla.org. "
So I followed the link to the addons page, logged in and clicked on 'view collections' then

[2018-10-07 16:41] nt1m opened #6535 "[static-themes] colors.tab_selected property not previewed"
### Describe the problem and steps to reproduce it:
- colors.tab_selected changes the background of the selected tab.
Example: https://addons.mozilla.org/en-US/firefox/addon/devfox/

### What happened?

Selected tab has same background as toolbar

### What did you expect to happen?

Selected tab should have blue background distinct from the toolbar

[2018-10-07 16:45] KhushilMistry commented on #5651
Hey, I want to work on this issue. I think I would be able to help you guys with this improvement.

[2018-10-08 07:44] willdurand opened #6537 "Add request-id in log calls"
It is currently not possible to correlate our log entries in Kibana because we do not have a unique identifier to focus on a specific request. We should generate and use a [request id](https://blog.heroku.com/http_request_id_s_improve_visibility_across_the_application_stack) in our frontend app, this ID would be passed to ALL `log` calls. It could also be passed to the API.

⚠️ It MUST NOT be pass

[2018-10-08 07:46] willdurand opened #6538 "Remove withExperiment HOC from the HomeHeroBanner component + extra log calls"
We should remove the `withExperiment` HOC from the `HomeHeroBanner` component as we do not run this experiment anymore. Extra log calls added in https://github.com/mozilla/addons-frontend/pull/6489 should be removed too, and we should also remove the config parameter.

[2018-10-08 08:03] ioanarusiczki commented on #6524
@willdurand Hmmm, it just seemed strange to me that they don't blink when disco pane is opened from the Menu when Add-on is clicked or from Tools, so it's 2 different behaviors.
You're right , the prod switch buttons do the same thing only it's less visible.  - FF62(Win10)

Prod switch buttons
![refresh install buttons prod](https://user-images.githubusercontent.com/33448286/46597644-bbb21100-cae9

[2018-10-08 08:07] willdurand commented on #5651
@KhushilMistry please look at the [`contrib: welcome` opened issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22) instead.

[2018-10-08 09:16] willdurand opened #6539 "Enable `AMInstallButton`(new install button) on Disco Pane (all envs)"
Once the [TAARDIS 🤓 shield study](https://docs.google.com/document/d/1m_zmiVh1Oq8sz4NPjEQJz5k3MJZSVdpfr6Ar2IvyQpI/edit#heading=h.415z7jbc6cfq) has ended, we should enable the new install button on Disco Pane.

For QA: we should see the new install buttons in -stage and -prod.

[2018-10-08 09:16] willdurand commented on #6539
Marking as blocked since there is a running shield study.

@muffinresearch it is written September/October in the Google doc but do we have a more precise end date?

[2018-10-08 09:17] willdurand opened #6540 "Remove InstallButton and InstallSwitch components"
⚠️ Must be done after #6539

---

We should remove the `InstallButton` and `InstallSwitch` components as well as some other code related to those components (e.g., some shared CSS required at the "app" level).

[2018-10-08 09:34] willdurand commented on #5915
Indexation is done in addons-server (`robots.txt`). I have filed: https://github.com/mozilla/addons-server/issues/9600. Closing this one.

[2018-10-08 09:34] #5915 closed

[2018-10-08 09:36] willdurand commented on #6526
@muffinresearch are we OK with doing this? It seems required to enable https://github.com/mozilla/addons-server/issues/8302

[2018-10-08 11:29] AlexandraMoga commented on #6509
Verified fixed on AMO -dev with FF62, Win10x64

![image](https://user-images.githubusercontent.com/31961530/46606613-7f40de00-cb06-11e8-8f5a-384021f32ea1.png)

[2018-10-08 12:01] muffinresearch commented on #6539
@willdurand: @mstriemer asked Martin last week and I think he said the study would be ending on the 15th October.

[2018-10-08 13:09] ioanarusiczki commented on #4632
@bobsilverberg Hi Bob, here are my test results on AMO dev with FF62-Win10 with three questions:

1.  Admin tools -  The "Admin add-on" link has the following slug: admin/models/addons/addon/ID/change/
and there is also "Admin add-on status" link with this slug: /admin/addon/manage/SLUG/ (that's the one mentioned by @jvillalobos above.  I don't see an issue here, but I'd like you to confirm it's a

[2018-10-08 13:37] willdurand commented on #3418
I think requiring only one file in each SASS file (one per app) fixed this issue.

[2018-10-08 13:37] #3418 closed

[2018-10-08 14:16] ioanarusiczki commented on #6493
Page looks good with AMO dev FF62- Win10
Full validation will be made in production.

[2018-10-08 14:57] greenkeeper[bot] opened #6543 "An in-range update of snyk is breaking the build 🚨"
## The devDependency [snyk](https://github.com/snyk/snyk) was updated from `1.101.1` to `1.102.0`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fsnyk-1.102.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a devDependency of this project. It **might not

[2018-10-08 15:01] #6543 closed

[2018-10-08 15:03] ioanarusiczki commented on #6491
I verified this scenario on AMO dev with FF62 (Win10)
The edit works for added owners or developers.
@kumar303 The delete is not allowed and I don't know if it's the intended behavior or not so let me know if I should file an issue.

![cannot delete](https://user-images.githubusercontent.com/33448286/46617019-6d6e3380-cb24-11e8-9ae8-2a047e0ae05d.png)

[2018-10-08 15:14] eviljeff commented on #6452
I'm not sure if there is any frontend component to this fix also, but displaying the akismet error next to the field requires API changes on addons-server so an issue should be filed there too if it should be fixed.

note: Collections have no moderation support at all currently.  There's no review of the creation/editing and no spam flagging button.  We don't even have an abuse report function - s

[2018-10-08 15:44] muffinresearch commented on #6535
Moved here: https://github.com/mozilla/addons-server/issues/9616

[2018-10-08 16:33] devaneymoz commented on #5651
I wanted to also chime to say we are not ready to develop this yet, as there is a lot of parallel work happening on Disco Pane at the moment (mostly centered around Q1 Disco-TAAR implementation) and we may encounter design collisions.

[2018-10-08 20:17] jvillalobos commented on #6533
What's your username on addons.mozilla.org?

[2018-10-08 20:43] MeridelW opened #6548 "Add "Developer Policies" to footer"
With input from legal and Mike Conca, we should add the Developer Policies (https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/AMO/Policy) to the footer of the AMO front-end site.

When we launch a new Developer Hub landing page in November (formerly known as the "developer launchpad"), we want to clearly point devs to the policies in the footer, which employs the front-end footer (rather th

[2018-10-08 22:23] kumar303 opened #6550 "`jest --watch` runs tests twice after chokidar accesses a file"
### Describe the problem and steps to reproduce it:

* Start `yarn test` in a shell
* Start `yarn flow:dev` in another shell
* Edit a file

### What happened?

Changing the file causes the tests to run twice.

### What did you expect to happen?

The tests should only run once.

### Anything else we should know?

It's happening because `chokidar` changes the file access time shortly after emitting

[2018-10-08 22:49] Mireille005 commented on #6533
Thank you for responding.
My username is Mireille005. Hope you can help me, greatly appreciated.

Kind regards,
Mireille

[2018-10-09 00:10] Mireille005 commented on #6533
I’ve tried renaming that. However, shouldn’t it be possible to have public ánd private collections?

Kind regards,
Mireille

[2018-10-09 07:30] robertmoose opened #6553 "Link to Britannica Insights not working"
### Describe the problem and steps to reproduce it:

### Followed link from Encyclopedia Britannic a site to install the Britannica Insights for Firefox addon

### To arrive at the addon page

### Arrived at a page not found page on firefox
<img width="1528" alt="screenshot 2018-10-09 at 08 29 41" src="https://user-images.githubusercontent.com/3903534/46653285-82d37400-cb9d-11e8-836a-2b42ebb098e3.

[2018-10-09 07:35] #3969 closed

[2018-10-09 08:04] willdurand commented on #4129
@rraue @jvillalobos about rating data, my understanding is that we should actually expose ratings for all add-ons, using the raw numbers (no rounding) because that's what Google does too. In addition, it does not seem good to sometimes expose ratings and sometimes not if rating value reaches a threshold.

[2018-10-09 08:11] willdurand commented on #2707
This has been fixed by #6525

[2018-10-09 08:11] #2707 closed

[2018-10-09 08:26] willdurand opened #6555 "Add OpenGraph tags on other pages (not add-on detail pages)"
Once #5766 is fixed, we will have descriptions for most pages on AMO. We could expose OpenGraph tags on most pages (including the homepage, excluding the search results) using:

- type: `website`
- description from #5766
- title
- canonical URL from #5755
- locale

**To go further**, we could add an image. Google uses [their logo](https://ssl.gstatic.com/chrome/webstore/images/chrome_web_store-128

[2018-10-09 08:57] ioanarusiczki commented on #1208
Tested it with extensions, lw themes and static themes - install works as expected.
Verified fixed with AMO dev - FF64 (Win10).

[2018-10-09 09:03] willdurand commented on #4271
@muffinresearch can we move the logic at the app level given that there are not a lot of requests that are using mixed case slugs?

[2018-10-09 10:19] muffinresearch commented on #4271
Yeah I think that should be ok for this case, especially if it saves some yak-shaving.

[2018-10-09 12:34] bobsilverberg commented on #4632
@ioanarusiczki Thanks for checking this out. There is one thing you mentioned that confuses me:

What's the `/change/` at the end of that URL? When I access dev I don't see that, and it's not in the code. That should not follow the `ID` on the URL. Can you please double check that? Other than that, what you've stated in #1 above is what is expected.

As for your other observations, I'm not particu

[2018-10-09 12:45] wagnerand commented on #4632
I'll forward to @caitmuenster on whether we should do content-review for themes or whether the current theme-review process is enough.

Same here, although lightweight themes are getting migrated to new themes very soon, so I wouldn't worry too much about this. Imho, we can just ignore this case.

I am not sure whether lightweight themes are gated by that permission, although I think they are. I'd

[2018-10-09 14:39] ioanarusiczki commented on #6491
After debating this I filed on server this issue https://github.com/mozilla/addons-server/issues/9633

[2018-10-09 14:45] willdurand commented on #6537
I think we could use this lib: https://www.npmjs.com/package/express-http-context to inject the request ID and retrieve it in the logger (because the logger is a sort of singleton).

[2018-10-09 15:17] caitmuenster commented on #4632
Thanks @wagnerand!

The current theme review process is enough, no need for content review for themes.

[2018-10-09 15:20] wagnerand commented on #4632
Then themes shouldn't show a "content review add-on" button.

[2018-10-09 15:47] bobsilverberg opened #6559 "Do not show a "Content review add-on" link for themes"
This is a follow-up to #4632

[Quoting](https://github.com/mozilla/addons-frontend/issues/4632#issuecomment-428234938) @wagnerand:

[2018-10-09 15:49] bobsilverberg commented on #4632
Thanks @wagnerand. I opened https://github.com/mozilla/addons-frontend/issues/6559 as a follow-up.

[2018-10-09 15:55] wagnerand commented on #4632
Thanks @bobsilverberg.

@ioanarusiczki could you file a follow-up for this, please?

[2018-10-09 15:56] willdurand opened #6560 "Add a test case for `onLocationChanged` helper function/action"
See: https://github.com/mozilla/addons-frontend/pull/6466#discussion_r223745798

The idea is to make sure our version of `onLocationChanged` does not get out of sync with the upstream lib.

[2018-10-09 16:00] ioanarusiczki commented on #4632
@wagnerand Sure. I'll return to this issue asap and file all it's needed.

[2018-10-09 16:06] willdurand commented on #6560
I filed https://github.com/supasate/connected-react-router/issues/158 because we never know :)

[2018-10-09 16:12] #5755 closed

[2018-10-09 16:24] kumar303 opened #6561 "Fix circular dependency in `tests/unit/helpers.js`"
If you run `yarn storybook` from https://github.com/mozilla/addons-frontend/pull/6389 with the circular dependencies plugin enabled, you see:

[code]

This is a totally legit error but we don't see it anywhere else. I guess it's because the code in `./stories` is importing test files in a webpack bundle, something we don't normally do.

Let's fix the circular dependency.

After this fix, the circu

[2018-10-09 18:11] greenkeeper[bot] opened #6563 "An in-range update of snyk is breaking the build 🚨"
## The devDependency [snyk](https://github.com/snyk/snyk) was updated from `1.102.0` to `1.103.0`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fsnyk-1.103.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a devDependency of this project. It **might not

[2018-10-09 18:35] #6548 closed

[2018-10-09 19:18] bobsilverberg commented on #2770
If I'm going to implement the page as mocked above, it will make sense to extract everything that creates the Add-on Card on the left into its own component, as it is identical to what is shown on the Reviews Listing page. Before I go ahead and do that, I want to make sure this is exactly what we want.

@pwalm and @jvillalobos can you confirm that we want an add-on card which shows the rating star

[2018-10-09 19:33] willdurand commented on #6514
Does that mean we need to support a different UI for ESR and older versions?

[2018-10-09 19:35] willdurand commented on #6514
Does that mean we need to support a different UI for ESR and older versions? /cc @muffinresearch

[2018-10-09 19:48] mstriemer commented on #6514
Since there aren't any other cards in about:addons and the new styles already exist in about:newtab I would say this can go out whenever it's ready. /cc @brassy-

[2018-10-09 19:50] jvillalobos commented on #6533
It used to be possible to make that distinction. We recently removed it, but we haven't changed anything about the old private collections. That's what makes me think this collection could be the source of the problem.

[2018-10-09 19:52] jvillalobos commented on #6553
The add-on was disabled due to review issues. It's up to the developer to upload a new version that addresses those issues.

[2018-10-09 19:52] #6553 closed

[2018-10-09 19:54] willdurand commented on #6514
Ah right, thanks. Given that the shield study ends next week, it can be done anytime.

[2018-10-09 19:57] willdurand commented on #6486
Do you think it is going to be a problem with older versions (< 64)?

[2018-10-09 19:59] willdurand commented on #5324
closing for now as there seems to be a redesign of the disco pane scheduled for Q1 2019.

[2018-10-09 19:59] #5324 closed

[2018-10-09 20:49] jvillalobos commented on #2770
It looks okay to me. Further down the line (Q2, I suppose) I think we'll be using a different card to represent add-ons throughout AMO, which would replace the card in the mock. But that's something to worry about later, I think.

[2018-10-09 22:35] atsay commented on #6531
Sounds good to me.

[2018-10-09 22:58] rebmullin commented on #6531
hey @jvillalobos, thanks for the breakdown. That's a big help. I'll also look into the themes to see what's going on there...

[2018-10-10 04:24] 09212015Lmm opened #6572 "won't open"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-10-10 05:35] championshuttler commented on #6248
Hi @willdurand can we please reopen it ?

Thanks :smile:

[2018-10-10 07:59] EnTeQuAk commented on #6572
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can as

[2018-10-10 07:59] #6572 closed

[2018-10-10 08:11] EnTeQuAk commented on #5949
I do prefer that too and from what you're writing it doesn't sound too much of an effort? I don't think a global error has to happen, a global warning once `X-AMO-Read-Only` is set would be preferable but isn't a requirement.

We should make sure the frontend shows reasonable errors in case of read-only mode first, usually, read-only mode won't be turned on for an extended period of time anyway. (

[2018-10-10 08:24] ioanarusiczki opened #6574 "Make sure that the "review theme" link points to the correct place for LWTs"
Followup for https://github.com/mozilla/addons-frontend/issues/4632

Prerequisites:
The user must be a theme reviewer - added into the  "Reviewers:Themes" group in Admin Tools

STR:
1.  Load AMO dev and go to a lw theme's detail page and click the "Review Theme" link
2. Observe the page

Expected result:
The user is redirected to the theme review page.

Actual result:
The reviews page is not displ

[2018-10-10 08:33] muffinresearch commented on #5949
I 2nd the @bobsilverberg's idea of starting with the simplest solution - making sure inline error messages look ok for read-only mode is preferable doing something very specific and involved for such an infrequent use-case.

When we get to the point of adding the ability to control when we want to show page-level errors that will give us more options in the future.

[2018-10-10 08:35] muffinresearch commented on #5949
@bobsilverberg how much time do you think it would take to ensure inline messages are doing the right thing?

[2018-10-10 08:37] ioanarusiczki commented on #4632
@bobsilverberg About the "Admin add-on" link, I can confirm again that it goes to this slug https://addons-internal.dev.mozaws.net/en-US/admin/models/addons/addon/ID/change/
But I think it should be ok , it's from django admin as @wagnerand mentioned [here](https://github.com/mozilla/addons-frontend/issues/4632#issuecomment-428177323)

Here's an example

![change](https://user-images.githubusercon

[2018-10-10 09:50] eviljeff commented on #6432
Can you provide more detail on how this would work? How exactly would they be referenced in the markdown that would allow it to look good while editing?

[2018-10-10 10:07] muffinresearch commented on #6432
What I'm referring to is something along the lines of this readme https://github.com/muffinresearch/reference-static-theme/blob/master/README.md

[2018-10-10 10:12] willdurand commented on #5949
Given that all write requests will be sent from the client, I believe we can change the `createApiError` function as follows:

[code]

[2018-10-10 10:16] willdurand commented on #5949
![screen shot 2018-10-10 at 12 11 21](https://user-images.githubusercontent.com/217628/46729651-416ac380-cc86-11e8-821d-1f189f0cdf33.png)

[2018-10-10 11:28] bobsilverberg commented on #6574
I'm not sure I understand what the fix is for this. Should we not be showing the "Review theme" link for lwts?

cc @wagnerand

[2018-10-10 11:44] ioanarusiczki commented on #5755
I verified the pages mentioned by @muffinresearch [here](https://github.com/mozilla/addons-frontend/issues/5755#issue-345204723) and the
[code]

is present for all the pages. The above example is AMO homepage.

Here's an extension's detail page example
![extensions detail page](https://user-images.githubusercontent.com/33448286/46733901-55202500-cc9a-11e8-8f01-93543eda0d34.png)

I understood there

[2018-10-10 11:49] wagnerand commented on #6574
I believe the following

has one "not" too much.

Other than that, I believe this is a valid bug. Theme reviewers should be able to access the theme review page (even if it's a lightweight theme).

[2018-10-10 12:00] #6559 closed

[2018-10-10 12:02] bobsilverberg commented on #6574
@wagnerand So that would need an issue opened for addons-server, correct? That functionality is not in the frontend site, I believe.

[2018-10-10 12:13] wagnerand commented on #6574
@bobsilverberg I was wrong. The bug is that the link points to the wrong page. It should go to `/reviewers/themes/queue/single/SLUG`

[2018-10-10 12:35] muffinresearch commented on #5949
@willdurand would you be up for converting this diff into a PR?

[2018-10-10 12:54] #5802 closed

[2018-10-10 14:06] willdurand commented on #5949
Yes, I can do that.

[2018-10-10 14:16] ioanarusiczki commented on #3969
@willdurand I verified this on AMO dev and AMO stage with FF62 - Win 10
I've noticed that the new meta properties are available for extensions, static and lw themes.
Also checked these after changing the language - I did not see issues.
Here's an example for the meta properties on AMO dev
![ogimage for extensions](https://user-images.githubusercontent.com/33448286/46742510-d635e700-ccaf-11e8-883c-

[2018-10-10 14:38] bobsilverberg commented on #6574
@wagnerand Should `/reviewers/themes/queue/single/SLUG` be the new link for all themes, or is that only for lwts, and should other themes still use `/reviewers/review/SLUG`?

[2018-10-10 14:51] ioanarusiczki commented on #4632
@bobsilverberg Ok,thanks !
 I'm marking this verified fixed on AMO dev - FF62(Win10).

[2018-10-10 14:59] wagnerand commented on #6574
I believe it's:

`/reviewers/review/SLUG` for static themes.
`/reviewers/themes/queue/single/SLUG` for lightweight themes.

But let's confirm with @eviljeff...

[2018-10-10 15:01] kumar303 opened #6577 "Show small stars in delete review / rating prompts"
This is a follow-up to https://github.com/mozilla/addons-frontend/issues/6347

Here is how to see the deletion confirmation UI:

- Sign in
- Go to an add-on detail page
- Rate the add-on
- Click *Delete rating*
- Or ... Write a review
- Click *Delete review*

Here are the changes we need:
* The stars should be made smaller in the confirmation UI according to the mocks (below).
* When deleting a re

[2018-10-10 15:21] biskit1 commented on #6246
@willdurand @bobsilverberg @AlexandraMoga
I tried replicating this issue in the dev environment, but the rating system seems to behave differently (it appears as a popup window). Is this because I'm running a local dev environment, and if so can someone please advise on how I might be able to accurately reproduce the error and test things out?

Should I be following the instructions laid out [here

[2018-10-10 15:34] vcarciu opened #6578 "Selecting "All" for Operating System after a blank search will return "No addons found""
Steps to reproduce:
1.Go to addons.mozilla.org and perform a blank search
2.Under filter results section, select "All" for "Operating system"

Expected results:
All extensions compatible with all operating systems should be displayed

Actual results:
No addons found

NOTES:
Reproducible in prod

Please see a video for this bug :
![blanksearch](https://user-images.githubusercontent.com/1583842/4674

[2018-10-10 15:49] kumar303 opened #6579 "The Write a review button is inaccessible from the keyboard"
### Describe the problem and steps to reproduce it:

1. Sign in to AMO dev
2. Go to an add-on detail page
3. Navigate with the tab key on your keyboard until you reach the *Rate your experience* card
4. Select a star by using your keyboard
5. Try to press tab to move focus to the *Write a review* button

### What happened?

No matter how much you press the tab key, *Write a review* is never focuse

[2018-10-10 16:17] kumar303 commented on #6561
I'm open to ideas on how to fix this. One possibility is to merge everything into one helper. Another is to split helpers into smaller modules according to what they do (we do have a lot of helpers now).

[2018-10-10 16:41] willdurand commented on #6432
Another option would by LinguiJS, which can emit PO files (using MessageFormat) and support JSX in translated content: https://lingui.js.org/tutorials/react.html#formatting.

[2018-10-10 16:48] willdurand commented on #6432
Looks like this mock-up is what we need to achieve:

![hero - article page](https://user-images.githubusercontent.com/217628/46752198-e902e880-ccbc-11e8-9810-2d6c6a49e294.png)

All pages will look the same, the number of add-ons might vary though. Those pages should not change that often (~once a month, once every 2 months) and it is mostly add-ons that would change.

[2018-10-10 16:54] eviljeff commented on #6432
JSX seems considerably more difficult to write for a non-engineer though, especially without github's built in preview that you get for Markdown.

[2018-10-10 16:59] bobsilverberg commented on #6432
We have a meeting to discuss this on Friday, but my take on it is that it looks very much like a simple templated system would work, as it's very structured and the structure is apparently unlikely to change.

As I think @willdurand mentioned in the front-end ux meeting today, it sounds like the JSX and/or markdown routes, while offering lots of flexibility, may be unnecessary to meet the requirem

[2018-10-10 17:03] kumar303 commented on #6403
We discussed this so I updated the issue description.

[2018-10-10 17:16] jvillalobos commented on #6578
Dupe of https://github.com/mozilla/addons-frontend/issues/6117

[2018-10-10 17:16] #6578 closed

[2018-10-10 17:42] kumar303 commented on #6438
Ah, ok, that makes sense and I see how it could be helpful. I'm not sure if we can easily determine whether a review was deleted or it simply doesn't exist. It's probably not worth the effort. I'm just going to close this for now.

[2018-10-10 17:42] #6438 closed

[2018-10-10 17:46] kumar303 commented on #6441
We could fix this but showing the two forms is just a bug that we will fix in https://github.com/mozilla/addons-frontend/issues/6443 Thus, I'm closing this.

[2018-10-10 17:46] #6441 closed

[2018-10-10 17:57] kumar303 commented on #6246
Hi @biskit1 -- you are correct, this bug is a bit different now. I filed https://github.com/mozilla/addons-frontend/issues/6579 .

Sorry for the confusion as you tried to start developing this feature. The instructions you followed are up to date but this specific page was in a state of flux. If you update your code you should see the new review form now (not the overlay) but I would recommend loo

[2018-10-10 17:59] kumar303 commented on #6246
@biskit1 if you are most interested in review / rating features, we have a [handful of issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22contrib%3A+welcome%22+label%3A%22component%3A+add-on+ratings%22+) that are ready.

[2018-10-10 17:59] kumar303 commented on #6351
I'm removing `contrib: welcome` because you need an admin account to test it.

[2018-10-10 18:10] pwalm commented on #6432
InVision screens are here: https://mozilla.invisionapp.com/d/main/#/projects/prototypes/15640858/screens

[2018-10-10 18:14] bobsilverberg commented on #6441
I'm not sure that this is related to the two forms, but maybe I'm misunderstanding the issue. To me this is about the fact that editing a reply in one place does not clear the cache and refresh the reply in another place. E.g., editing a reply in the Featured review card does not update the text of the reply as it appears in an embedded reply further down the page. I'm not sure how not displaying

[2018-10-10 19:14] greenkeeper[bot] opened #6580 "An in-range update of snyk is breaking the build 🚨"
## The devDependency [snyk](https://github.com/snyk/snyk) was updated from `1.103.0` to `1.103.1`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fsnyk-1.103.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a devDependency of this project. It **might not

[2018-10-10 19:39] #6580 closed

[2018-10-10 20:21] bobsilverberg opened #6585 "Circular dependency error reported in an unhelpful manner"
I introduced a circular dependency in a patch and when trying to build the app (via `yarn amo:dev`) I saw the following error:

[code]

Note that this is also the error shown in the `build-ci` step in Travis.

I was perplexed because my patch did not touch this `src/amo/img/icons/default-64.png` file so I had no idea what was causing the problem. Any time I built from that branch I would see that

[2018-10-10 20:51] #3227 closed

[2018-10-10 20:56] rebmullin commented on #6432
Do you think editors would find json files easy to update? So each guide page would look something like this:

eg: privacy
[code]

we can then import this into the template/component ourselves and wrap each piece with the gettext/sprintf functions. Or does this pose a problem because this is not static text?

I am still try to understand what we can /can't do with translations but would something

[2018-10-10 21:08] bobsilverberg opened #6586 "Create a filesize utilitiy which deals with i18n"
This is needed to support https://github.com/mozilla/addons-frontend/issues/2770. We need to display a user-friendly file size, given a number of bytes returned by the API. This needs to also take into account l10n, so `12345678` would display as "11.77 MB" in English, but might display as "11.77 ميغابايت" in Arabic [1] and as "11,77 Mo" in French [2].

[1] https://translate.google.com/#en/ar/11.7

[2018-10-11 03:00] kumar303 commented on #6561
Merging `tests/unit/amo/helpers.js` into `tests/unit/helpers.js` sounds good to me.

[2018-10-11 07:59] ioanarusiczki opened #6587 "Expose "og:image" meta property for lw themes and use the "preview:URL""
Followup for https://github.com/mozilla/addons-frontend/issues/3969

STR:
1. Load AMO dev then go to a detail page for a lw theme
2. Check the new meta properties
3. Observe if the og:image is available

Actual result:
Theme is missing the og:image meta property.

Expected result:
The theme contains og:image with a preview URL.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF62

[2018-10-11 08:20] ioanarusiczki commented on #3969
@willdurand I filed https://github.com/mozilla/addons-frontend/issues/6587
I think @jvillalobos could tell what it's expected for extensions, the first screenshot or the logo, so please let us know.

Meanwhile, I'm marking this verified on AMO dev - FF62- Win10

[2018-10-11 09:07] willdurand commented on #6432
What @rebmullin suggested above is something I wanted to build for the homepage content but I did not have the chance to work on it yet (on my free time). I wanted to build a quick&dirty create-react-app that would generate a JSON file that we could then reuse to generate code (we should not be afraid of generating code, and I love doing this), because updating the homepage content is time consumi

[2018-10-11 09:43] AlexandraMoga opened #6588 "Center text alignment makes the homepage collections shelf look inconsistent in some locales on Android"
STR

1. Load AMO homepage on mobile
2. Change your locale to  `es`, `fr`
3. Observe the "Customize the way Firefox works..." shelf

Actual result:
Some collection titles look inconsistent

Expected result:
Collection title alignment should look the same for all the shelf items

Notes:
- reproduced on all AMO servers with FF62, Android 8.0

![image](https://user-images.githubusercontent.com/3196153

[2018-10-11 10:08] willdurand commented on #5949
Given that error messages is updated for `503` responses in case of read-only mode, everything just works already:

![2018-10-11 12 06 58](https://user-images.githubusercontent.com/217628/46797039-6165ba00-cd4e-11e8-872e-71fa77e7f1a4.gif)

There is no need to change anything.

[2018-10-11 10:13] greenkeeper[bot] opened #6589 "An in-range update of snyk is breaking the build 🚨"
## The devDependency [snyk](https://github.com/snyk/snyk) was updated from `1.103.1` to `1.103.2`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fsnyk-1.103.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a devDependency of this project. It **might not

[2018-10-11 10:13] #5949 closed

[2018-10-11 10:20] #6589 closed

[2018-10-11 12:00] ioanarusiczki opened #6590 "Make sure the "edit add-on" link directs to the correct page for LWTs"
STR:
1. Load AMO dev and login with an admin account
2. Go to a theme's detail page and click the "Edit add-on" link
3. Observe the page

Expected result:
It should direct to the Listing page of the lw theme such as [this](https://addons-dev.allizom.org/en-US/developers/theme/three-wolf-moon-shirt/edit) one

Actual result:
We're sorry, but we can't find what you're looking for.

Notes:
Reproducibl

[2018-10-11 12:02] ioanarusiczki commented on #4632
@bobsilverberg Sorry for noticing so late, but while re-checking the links today during release testing I've also noticed this issue https://github.com/mozilla/addons-frontend/issues/6590 for lw themes.

[2018-10-11 12:07] wagnerand commented on #6590
What permissions does the admin account have? Afaik, you need to be in a group with `Addons:Edit`.

[2018-10-11 12:28] bobsilverberg commented on #6590
@wagnerand That link appears if the user has the `Addons:Edit` permission.

Looking at the issue report, it looks like @ioanarusiczki is suggesting that the link should point to `/developers/theme/SLUG/edit` as opposed to `/developers/addon/SLUG/edit`. Is that accurate? Is that the fix required for this?

[2018-10-11 12:30] wagnerand commented on #6590
I am not that familiar with themes. Maybe @eviljeff knows.

[2018-10-11 13:36] eviljeff commented on #6590
@bobsilverberg I believe that's correct.  But all the LWT and their special developer tools will be obsolete in a few weeks when they're all migrated so it's debatable how much time should be spent fixing this if it's just an admin link.  (If it's developer facing it's probably a good idea to fix because we do still support editing existing themes until they're migrated)

[2018-10-11 14:45] willdurand commented on #6537
So I've got a patch working, it is not the easiest one to understand but it looks okay given our current code base: https://github.com/mozilla/addons-frontend/compare/request-id.

A few notes:

- it uses `express-http-context`, which creates a request-scoped context (a.k.a. shared storage in memory)
- it tells webpack to skip `express-http-context` at build time using the `browser` config in the `

[2018-10-11 14:45] biskit1 commented on #6246
thanks @kumar303! I will take a look.

[2018-10-11 14:47] rebmullin commented on #6432
Cool @willdurand...that’s what I was thinking … either a little create-react-app (that works as a headless cms) that can return json or just json files that live in some directory (at least in the shorter term).

Another concern was if there would be any translation issues if all the text was dynamic like this. I vaguely remember that I ran into an issue about this..

[2018-10-11 14:58] kumar303 commented on #6588
Good catch, thanks.

[2018-10-11 16:06] rebmullin opened #6598 "The page size query parameter type should be string values, not numbers"
I am splitting the following out from #5737 issue since these a bit more involved than I originally thought.

Any page_size query parameters like the following should be updated:
https://github.com/mozilla/addons-frontend/blob/master/src/amo/api/reviews.js#L143src/amo/api/reviews.js@master#L143

[2018-10-11 16:09] rebmullin opened #6599 "Any query parameters type should be string values, not numbers"
I am splitting the following out from #5737 issue since these a bit more involved than I originally thought.

Any remaining query parameters like the following should be updated:
https://github.com/mozilla/addons-frontend/pull/5652#discussion_r205260797

[2018-10-11 16:15] rebmullin commented on #5737
I only addressed the `page` parameter in PR #6549. I am splitting this up since these are a bit more involved and to help keep PRs smaller in size.

[2018-10-11 16:52] vcarciu commented on #6493
Verified as fixed in prod

[2018-10-11 16:54] bobsilverberg commented on #6590
Well, it's a pretty simple fix so I guess it's worth fixing. Thanks @wagnerand and @eviljeff.

[2018-10-11 17:05] #6587 closed

[2018-10-11 17:06] willdurand commented on #5737
For QA: please make sure paginated content still works (search results, collections)

[2018-10-11 17:10] jvillalobos commented on #3969
I agree that using the first screenshot and the logo as fallback is the best approach.

There are a couple of changes coming up that will affect this eventually: (1) having at least one screenshot will be required, (2) there will be a way to select a "primary" screenshot. We don't need to worry about that now, though.

[2018-10-11 17:40] #5737 closed

[2018-10-11 17:46] #6590 closed

[2018-10-11 17:48] bobsilverberg commented on #6574
@eviljeff Do you mind confirming @wagnerand's recommendation above?

[2018-10-11 18:17] eviljeff commented on #6574
Yes, I think thats correct.  With the same caveat about not spending much time on fixing something that will be obsolete in a few weeks.

[2018-10-11 18:18] bobsilverberg commented on #6574
Thanks @eviljeff. As with the other one, it's a simple fix, so we might as well do it.

[2018-10-11 19:10] bobsilverberg opened #6603 "Extract code to display install button and Get Firefox button"
The all versions page (#2770) will need to display an install button next to each version. If the version is not compatible it will need to display a message with a disabled button. If the user is not on Firefox it will need to display the Get Firefox button. Much of this logic is already present in [`Addon`](https://github.com/mozilla/addons-frontend/blob/2018.10.11/src/amo/pages/Addon/index.js),

[2018-10-11 19:17] bobsilverberg commented on #6603
@willdurand you mentioned that `InstallButton` will be removed in https://github.com/mozilla/addons-frontend/issues/6540. I'm likely going to start working on this issue immediately and I'm not sure what your timing is for #6540. Even if you don't get to #6540 first, do you think it would be okay if I just remove the logic for `InstallButton` when I create the new component discussed in this issue

[2018-10-11 19:32] willdurand commented on #6603
@bobsilverberg the old install logic will be removed next week (next tag hopefully), the only blocker is the shield study that should end on October 15th. We'll get final confirmation tomorrow (October 12nd, 2018).

I am fine with removing the logic in `Addon` since this is not shared by the Disco Pane. AMO uses the `AMInstallButton` for a while now. This can be done at any time.

[2018-10-11 19:49] #4271 closed

[2018-10-11 20:02] #6574 closed

[2018-10-11 20:04] kumar303 commented on #6537
In general, the approach looks good. I had to learn about [continuation-local storage](https://github.com/jeff-lewis/cls-hooked#readme) -- it looks good. It uses "experimental" APIs in Node 8 so that's maybe something we should be aware of.

I'd rather not use webpack magic to exclude `express-http-context` from the client. Maybe there is another way? We could turn `core/logger` into a singleton w

[2018-10-11 20:06] #6588 closed

[2018-10-11 20:07] #6458 closed

[2018-10-11 20:07] #6305 closed

[2018-10-11 20:07] #6347 closed

[2018-10-11 20:17] #6561 closed

[2018-10-11 20:25] bobsilverberg opened #6605 "Create an addon-summary card to use on the Review Listing and All Versions pages"
Supports #2770

As per the mock at https://github.com/mozilla/addons-frontend/issues/2770#issuecomment-406693377, the add-on summary card that is currently displayed in the upper-left of the Review Listing, will also be displayed in the upper-left of the All Versions page. Based on the mocks at https://github.com/mozilla/addons-frontend/issues/3697#issuecomment-406693873 and https://github.com/moz

[2018-10-11 20:47] jvillalobos opened #6606 "404 page uses legacy front-end when not an add-on URL"
If you visit an invalid AMO page, [like this one](https://addons.mozilla.org/en-US/firefox/dfoishdiosd), the error page is on the legacy front-end. Invalid pages under `/addon/`, [like this one](https://addons.mozilla.org/en-US/firefox/addon/sdfoijh/), do show the new error page. They should all go to the new page.

/cc @caitmuenster

[2018-10-11 22:23] peiying2 opened #6607 "Words in strings unclear as a verb or noun"
### Describe the problem and steps to reproduce it:

Some of the words in the strings can be translated as verb or adjective. Need note or clarification on the use of these words
### What happened?
https://pontoon.mozilla.org/sl/amo-frontend/all-resources/?search=add-on&string=191281
- Admin add-on
- Admin add-on status
- Content review add-on

### What did you expect to happen?
Have comments to i

[2018-10-11 22:39] greenbirdslave opened #6608 "Themes will not install"
#Clicked on these, several different themes, multiple times over several days, and no themes would install.

[2018-10-12 08:18] ioanarusiczki commented on #3969
Ok @jvillalobos, thanks for clarification.

[2018-10-12 08:52] ioanarusiczki commented on #6590
@bobsilverberg I already see that this has been fixed on AMO dev - the user is from "Admin" Group
![admins](https://user-images.githubusercontent.com/33448286/46858351-cc2cf900-ce13-11e8-9844-b015fd7c62bf.png)

 and now the link redirects as expected.
![link works for themes](https://user-images.githubusercontent.com/33448286/46858968-2c706a80-ce15-11e8-90fe-d0840848329a.gif)

[2018-10-12 09:11] willdurand commented on #6607
Those are links for admins and reviewers (i.e. no user will see them), but I wonder if we can do better. /cc @wagnerand

[2018-10-12 09:18] willdurand commented on #6537
I don't think so because, before pino, we already relied on a webpack feature (to replace the logger in the client). We must tell webpack to not "see" `express-http-context` in one way or another, because if it finds it, then it breaks (because cls is not supported in the browser).

I don't have a better solution in mind to keep things very similar and rather simple (the `"browser"` entry in the `

[2018-10-12 09:24] willdurand opened #6609 "Collection pages should rely on the user ID, not the username anymore"
To support https://github.com/mozilla/addons-server/issues/8302, we need to make a rather big change: not using `username` in the URL anymore but the `userId` everywhere `username` is referenced.

[2018-10-12 09:29] willdurand opened #6610 "AddonsByAuthorsCard should take a list of user IDs, not usernames"
To support https://github.com/mozilla/addons-server/issues/8302, we need to change the `AddonsByAuthorsCard` component to take a list of user IDs instead of usernames.

This issue is blocked by an API change requested here: https://github.com/mozilla/addons-server/issues/8901

[2018-10-12 09:46] ioanarusiczki commented on #6574
I checked this again with an Admin account then for theme reviewers users.
Lw themes  link goes to  `/reviewers/themes/queue/single/SLUG`
Static themes link goes to `/reviewers/review/SLUG`

![review theme link for lw](https://user-images.githubusercontent.com/33448286/46862053-bcfe7900-ce1c-11e8-8b65-9ca1f309a07f.gif)

verified on AMO dev with FF62 (Win10)

[2018-10-12 09:54] willdurand commented on #6608
Hi @greenbirdslave, could please give more information including:

- your Firefox version
- the link to one of the themes you tried to install
- the error message

Thanks!

[2018-10-12 10:18] willdurand commented on #1515
@muffinresearch it is written we can add a mapping for some locales, but I don't know how to do that.

I am not sure our code allows that. There is a mapping for short -> long locales, but `pt -> pt_PT` is there and moment still complains about `pt-PT` being missing for instance.

[2018-10-12 10:30] muffinresearch commented on #1515
I think we'd need a moment specific mapping and do that replacement here: https://github.com/mozilla/addons-frontend/blob/f8d1f2c7f4aaa6053330c9742a688469920384d4/bin/build-locales

[2018-10-12 10:30] tofumatt commented on #1515
Oops, I think I wasn't clear in the issue but if I recall correctly this was meant to track mapping our locales to moment's. Our mappings are in https://github.com/mozilla/addons-frontend/blob/master/config/default.js#L236 but yeah they don't do it for moment.

I'm guessing the issue is that moment doesn't like the dashes?

[2018-10-12 10:31] tofumatt commented on #1515
Indeed, @muffinresearch nailed it 😄

[2018-10-12 13:13] ioanarusiczki commented on #6559
Verified fixed on AMO dev with FF62(Win10)

Admins and Content reviewers don't see the "Content Review add-on" link for themes (lw and static)

[2018-10-12 13:42] ioanarusiczki commented on #6548
Verified on AMO dev with FF62 - Win10
"Developer Policies" link is available on the new AMO pages in the footer below "Developer Hub"
![developer policies](https://user-images.githubusercontent.com/33448286/46872607-40c85d80-ce3d-11e8-82a4-c24fdeec383f.gif)

[2018-10-12 14:15] ioanarusiczki opened #6612 "Delete and Cancel buttons are not separated"
Followup for https://github.com/mozilla/addons-frontend/issues/6458

STR:
1. Load AMO dev login, go to an add-ons detail page and make a review
2. Open the detailed reviews page
3. Try to delete the review - observe the Delete and Cancel

Actual result:
Delete and Cancel are one next the other - look attached

Expected result:
There's some space between the two buttons -the way the[ mocks](https:/

[2018-10-12 14:38] ioanarusiczki opened #6613 "Buttons should have more horizontal spacing between them on Android"
Followup for https://github.com/mozilla/addons-frontend/issues/6458

STR:
1.  Load AMO dev and make a review then open the listed review page.
2. Observe the buttons displayed

Expected results:
Edit review, Delete review and Flag have more horizontal spacing between them so they're easier to be tapped.

Actual result:
Not enough horizontal spacing between the buttons.

Notes:
This issue is also r

[2018-10-12 14:41] ioanarusiczki commented on #6458
Verified this issue on AMO dev with FF62 - Win10&Android 8.0
I filed two separate issues
https://github.com/mozilla/addons-frontend/issues/6612
https://github.com/mozilla/addons-frontend/issues/6613

@kumar303 I don't know if the "Flag" button should be or can be removed for personal reviews and replies - user cannot flag it's own review or reply anyway.

[2018-10-12 14:47] ioanarusiczki commented on #6329
@willdurand Hello, let me know what to test for disco pane.
Thanks!

[2018-10-12 14:48] willdurand commented on #6329
@ioanarusiczki install of LWT, mainly

[2018-10-12 15:02] ioanarusiczki commented on #6305
This is not reproducible anymore - verified on AMO dev with FF62 (Win10&Android 8.0)

![no edit available while deleting](https://user-images.githubusercontent.com/33448286/46877132-cd2c4d80-ce48-11e8-922b-47a9dc713fce.gif)

[2018-10-12 15:45] bobsilverberg opened #6615 "Error in AddonReviewList/styles.scss for font-size"
While I was working on #6605 I discovered that there's an error in the styles.scss file for AddonReviewList at https://github.com/mozilla/addons-frontend/blob/2018.10.11/src/amo/pages/AddonReviewList/styles.scss#L91. It has `font-size: font-size-m;` whereas it should be `font-size: $font-size-m;`.

There are a couple of issues here:

1. Should stylelint and/or the build process have caught this?
2

[2018-10-12 18:20] SeanPrashad commented on #6612
Hey @ioanarusiczki 😁! I'd love to pick this up if that's ok

[2018-10-12 22:16] kumar303 commented on #6612
Hi @SeanPrashad thanks for your interest. Not all issues are available to work on because they may be in our critical path or may have a different priority level. If you want to work on ratings features, I have recently added more to the [`contrib: welcome`](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22component%3A+add-on+ratings%22++label%3A%22contrib%3A

[2018-10-12 22:18] SeanPrashad commented on #6612
Thanks @kumar303 - I'll take a peek there

[2018-10-12 22:19] kumar303 commented on #6612
Thanks for the report, @ioanarusiczki . I used the newer [multi-column feature](https://caniuse.com/#feat=multicolumn) which is supposedly supported by Firefox 62 but I guess not. I'll think of a different solution.

[2018-10-12 22:57] SeanPrashad commented on #6416
Hey @ioanarusiczki, @kumar303 - I'd like to help work on this bug if it's available!

I was able to still reproduce it just now on FF 62.0.3 (64-bit):

![amo_bug_reproducable](https://user-images.githubusercontent.com/13009507/46897439-978b6280-ce50-11e8-8c00-016de8eb66ea.gif)

From my understanding, a solution would to completely remove it from being rendered for reviews by the current user?

[2018-10-13 17:40] #2917 closed

[2018-10-14 06:58] grahamperrin opened #6621 "Problems caused by the graphic Firefox icon in HTML titles of pages"
For example:

- https://addons.mozilla.org/en-GB/firefox/addon/simple-black-fade/
- https://addons.mozilla.org/en-GB/firefox/addon/lightbeam/
- https://addons.mozilla.org/en-GB/firefox/addon/diigo-web-collector/
- … and so on.

The icon fails to appear in the title bars of:

- Firefox 62.0.3 on FreeBSD-CURRENT
- Firefox Nightly 64.0a1 (2018-10-04) on Kubuntu, from the Ubuntu PPA
- Chromium
- Falko

[2018-10-14 19:12] saranshbarua commented on #6344
@kumar303 I would like to work on this if it's available.

[2018-10-15 07:35] AlexandraMoga commented on #5949
@willdurand how can we verify that this works in the frontend?

[2018-10-15 07:38] willdurand commented on #5949
@AlexandraMoga you can ask ops to turn read only mode on in -dev for some time, and try to add a review to an add-on.

[2018-10-15 08:23] willdurand opened #6623 "Allow to map moment locales"
See also: #1515

---

We should add some config and logic in (`bin/build-locales`) to map unsupported moment locales to supported moment locales (for example, using the short locale that groups similar languages).

[2018-10-15 08:28] willdurand opened #6624 "Remove debug locales (`dbr` and `dbl`)"
We build "debug" locales for testing/QA purpose but it seems no one is using them and we get fast feedback from the localizers when something is not translatable anyway.

We should remove the code related to debug locales and simplify the i18n extraction.

[2018-10-15 08:36] willdurand commented on #6539
This is re-scheduled for early November (shield study ends October 29th)

[2018-10-15 08:40] AlexandraMoga commented on #6588
Verified fixed on AMO -dev with FF62, Win10x64 and Android 8.0

![image](https://user-images.githubusercontent.com/31961530/46938915-a438d200-d06d-11e8-824c-65fe35ac0cd5.png)

![image](https://user-images.githubusercontent.com/31961530/46938937-af8bfd80-d06d-11e8-968d-682b0d69ae62.png)

![image](https://user-images.githubusercontent.com/31961530/46938950-b4e94800-d06d-11e8-99ad-b37d6b7df822.png)

[2018-10-15 09:12] willdurand commented on #6496
I don't see this message anymore so I suppose it has been fixed by an upgrade.

[2018-10-15 09:12] #6496 closed

[2018-10-15 09:15] ioanarusiczki commented on #5802
Static themes are displayed on their detail pages and in search results, in Themes Tab and AMO homepage. Verified fixed on AMO dev - FF62 (Win10)

AMO homepage
![on homepage static themes](https://user-images.githubusercontent.com/33448286/46941414-bb7abe00-d073-11e8-888e-2667b6e457aa.png)

Theme tab
![themes tab](https://user-images.githubusercontent.com/33448286/46941422-c0d80880-d073-11e8-9c2e-

[2018-10-15 09:35] #6248 closed

[2018-10-15 09:44] willdurand commented on #6624
I checked with QA and they don't use the debug locales.

[2018-10-15 10:45] willdurand opened #6626 "Extract `AddonTitle` component from `Addon`"
In order to support #6526, the logic to render the title and authors of an add-on on an add-on detail page should be extracted into an `AddonTitle` component.

Why? Because we need to create `Link` components for each author, and not use HTML links. This is similar to what has been done in the `AddonReviewCard` (for the permalink with the timestamp).

For QA: there should be no regression on the t

[2018-10-15 11:07] aditya81070 commented on #6224
I want to work this issue

[2018-10-15 11:49] willdurand commented on #5916
Thanks for your reply!

If I follow correctly, we still want to add those two `meta` tags for analytics, right? (analytics as in Google Analytics or other tools?)

[2018-10-15 11:49] willdurand commented on #5916
API has landed btw.

[2018-10-15 12:06] ioanarusiczki commented on #2917
Looks good to me. Verified on AMO dev with FF62-Win10

[2018-10-15 12:22] willdurand opened #6628 "Use react-router for author links in an add-on detail page"
See also: #6526 #6626

---

Once #6626 lands, we can update its internals to use the `Link` component for each author link, instead of using hardcoded HTML. This is similar to what has been done in the AddonReviewCard (for the permalink with the timestamp).

[2018-10-15 12:37] #6626 closed

[2018-10-15 12:37] rraue commented on #5916
@willdurand Yes, that's the easiest way to read this data so we won't need to pull and match two data sources. As well we will need this data-point once we add schema js+ld to the page.

[2018-10-15 12:41] bobsilverberg opened #6629 "Update compatibility.js to work with a specific version"
Depends on #6634

The functions in [`compatibility.js`](https://github.com/mozilla/addons-frontend/blob/2018.10.11/src/core/utils/compatibility.js) are currently designed to work with an `addon` object and extract the version info from `addon.current_version`. In order to support #2770 we need to be able to pass a specific version into some of these functions.

This issue is about changing `compat

[2018-10-15 12:43] ioanarusiczki commented on #6248
Verified fixed on AMO dev - Win10 - I used the Responsive design mode for a screen of 320x480 px
When the language expands on the second row the padding is now wider - from 30.6 to 34 px

dev fix
![dev](https://user-images.githubusercontent.com/33448286/46951520-e1628b80-d090-11e8-94c1-814f80b9d607.png)

as it was before
![stage](https://user-images.githubusercontent.com/33448286/46951530-ec1d2080

[2018-10-15 12:59] willdurand opened #6631 "Allow to link back to the add-on detail page from the `AddonTitle` component"
In order to support #6605, we need a boolean prop in `AddonTitle` to render a link on the `h1` title (a.k.a. the add-on's name). This link should point to the add-on detail page.

[2018-10-15 13:06] willdurand commented on #5916
Thanks. Talking about jsonld, I'd need your input on https://github.com/mozilla/addons-frontend/issues/4129 😸

[2018-10-15 13:14] willdurand commented on #6631
@bobsilverberg I wrote this, but can you confirm it is what you need?

[2018-10-15 14:05] ioanarusiczki opened #6633 "Red error messages are displayed for a second when returning to an extension detail page - intermittent"
STR:
1. Load AMO dev and login with an admin or developer account (I tested with both types)
2. Go to the detail page of a submitted add-on
3. Click on the name of the author to see open the user profile page
4. Click the back button

Expected results:
The add-ons detail page is displayed

Actual results:
For a short while some red error messages are visible on the detail page.

Notes:
Please note

[2018-10-15 14:07] rraue commented on #4129
@willdurand Googles pages itself aren't usually a good example for best practice SEO, as the search team and the teams building pages do not communicate. For good reasons. Keeping that in mind, Amazon or Apple are usually better websites to look at, as they both have a really good and big Seo team. And at Amazon I can't find any rating below 3 in search results and as well none with very little ra

[2018-10-15 14:09] bobsilverberg opened #6634 "Store the versionId of the current version in addon"
Depends on #6637

**Edited**

While working on https://github.com/mozilla/addons-frontend/issues/6629 I realized that although we have a new `AddonVersionType` which represents an internal representation of a version, we're still storing a version with an `ExternalAddonVersionType` in `addon.current_version`, which complicates things when you want to be able to pass either a version or an add-on i

[2018-10-15 14:37] willdurand commented on #4129
Ok, I've added the threshold for the ratings and we don't plan to expose the interactive count (# of downloads).

[2018-10-15 14:54] #4129 closed

[2018-10-15 15:01] ioanarusiczki commented on #4271
Verified this issue on AMO dev with FF62(Win10) for an add-ons detail page, collections, the view profile page (when the username is modified) and when the slug is changed and uppercase is used these pages redirect accordingly.

![redirects to addon](https://user-images.githubusercontent.com/33448286/46959237-3eb40800-d0a4-11e8-931d-f45fcfaf0f5b.gif)

[2018-10-15 16:07] muffinresearch opened #6635 "Bad collection data can cause every detail page to error"
### Describe the problem and steps to reproduce it:

* Create a collection with a leading emoji in the title so that the title is essentially blank as per https://github.com/mozilla/addons-server/issues/8923
* Ensure you are signed in
* Visit any details page

### What happened?

* Every details page is a "Server error"
* In the console there is: 'Caught application error: TypeError: "e.name is nu

[2018-10-15 16:14] #6510 closed

[2018-10-15 16:30] rraue commented on #6555
I think that's a good idea, but I would leave out  og:url as FB anyways uses the canonical over their own og:url.