[2019-07-31 15:05] #8411 closed

[2019-07-31 15:05] kumar303 commented on #8247
@AlexandraMoga can you file an issue for the RTL small screen glitch? I'll see what I can do. Thanks.

[2019-07-31 15:19] peiying2 commented on #3911
Looks like the issue is still not fixed.

[2019-07-31 15:21] smayer97 commented on #8411
Sorry, but based on that reply, I am not sure if my original question was totally clear. My question is not simply about whether the count is dynamic but rather if a legacy add-on that was originally part of a collection, which now no longer shows up, would it automatically show up again, and therefore also impact the count? In other words, does the collection retain a hidden record that the legac

[2019-07-31 15:23] willdurand commented on #3911
Sorry, I closed this issue because there is no featured collection anymore.

[2019-07-31 15:24] willdurand commented on #8411
mmh, I believe it does although what we consider "legacy extensions" have been removed a while ago.

[2019-07-31 15:27] peiying2 commented on #3911
Thanks for providing some background on the resolution. Let's close it then.

[2019-07-31 15:32] willdurand commented on #3911
I think the bug is still valid though, because we have "Recommended Extensions" now and I suppose the problem persists.

[2019-07-31 15:44] peiying2 commented on #3911
I thought it was just the string change of the same "feature". If that's the case, let's fix it. It is a pretty important string come to think of it, if we want users to check out what's recommended.

[2019-07-31 20:19] jvillalobos commented on #8412
I don't think it makes things simpler. Editing an item while you're looking at it is a more intuitive approach than having to navigate out to the index. This proposal seems optimized for users who have very large numbers of collections, which is not the norm.

[2019-07-31 20:19] #8412 closed

[2019-08-01 00:37] mkaply commented on #8418
Agreed. just put a fix in for that.

[2019-08-01 02:30] smayer97 commented on #8411
Ok, so how do I get a definitive answer on my 2-part question?

[2019-08-01 02:48] smayer97 commented on #8412
Sorry, I do not understand the response.

You say "Editing an item while you're looking at it is a more intuitive approach than having to navigate out to the index." That is EXACTLY what I am asking for... editing in place....

Currently, you have to click "Edit Collection" to go to a SEPARATE page to perform edits rather than "in place". What I am proposing IS "editing in place".

So I am not sur

[2019-08-01 08:10] madalincm opened #8424 "“More…” drop down menu doesn't close on first mouse click"
### STR:
1. Access AMO homepage: https://addons.allizom.org/en-US/firefox/.
2. Mouse hover the “More…” menu button from the page header.
3. Click on the More button.

### Expected result:
Drop down menu should disappear after the mouse click.

### Actual result:
The drop down menu is open.

### Notes:
Same thing happens for the User profile drop down menu, located at the top right side from the pa

[2019-08-01 08:26] rbrishabh commented on #8424
I believe this is only happening one time after each page reload, and then it seems to be working fine.

Anyways, can I take this up as my first contribution on addons-frontend? :)

[2019-08-01 08:32] madalincm opened #8425 "Selecting “Add-on Type”-“Theme” won't highlight “Themes” from the menu"
### STR:
1. Access AMO homepage: https://addons.allizom.org/en-US/firefox/.
2. Type any searchable term in the search field, located at the right side in the page header and press enter.
3. Once on the Search results page, select “Theme” from the “Add-on Type” drop down list, from the “Filter results”, located on the left side of the page.
4. Observe the “Themes” menu button from the page header.

[2019-08-01 08:40] AlexandraMoga opened #8426 "Small glitch in the primary hero at ~470px when the screen is in RTL mode"
Follow up for #8247

### Describe the problem and steps to reproduce it:
1. Open AMO -dev homepage
2. Switch to an RTL locale - i..e. `/ar/`
3. Resize your browser until it's ~470px wide
4. Observe the bottom section of the primary hero

### What happened?
The hero decoration is (very) slightly falling outside the main frame

### What did you expect to happen?
No layout issues

### Anything else w

[2019-08-01 09:01] madalincm opened #8427 "“Edit Product Page” isn’t highlighted for an add-on with kanji characters in Developer Hub"
### Prerequisites:
User should have an account in order to log in and should have an add-on with kanji characters submitted.

### STR:
Access Developer Hub homepage: https://addons.allizom.org/en-US/developers/.
Click “My Add-ons” from the top menu bar, once the user is logged in.
Click the “Edit Product Page” link, located at the bottom of the kanji characters add-on.
Observe the page loaded.

##

[2019-08-01 09:03] willdurand commented on #8427
@diox could you please transfer this issue to addons-server?

[2019-08-01 09:35] willdurand commented on #8418
I took a quick look and that does not sound like an easy fix. We'll have to add a new entry in the redux state for `canUninstall` and fetch its value in the `installAddon` HOC, it's very similar to the (Firefox) add-on's status. There is no other way to retrieve the `canUninstall` value because it needs: (1) the Firefox add-on and (2) an async call to read `canUninstall`.

[2019-08-01 10:04] Shubhamchinda commented on #8425
Can I take it?

[2019-08-01 13:06] Patil2099 commented on #6692
Do we have to insert a gif in page if yes can I take this one?

[2019-08-01 13:07] willdurand commented on #6692
No, it's not about a Gif. It's about fine-tuning the CSS animation, but that's not an easy fix.

[2019-08-01 17:49] Shubhamchinda commented on #8425
Hey, in the `amo/components/SectionLinks` the viewContext has value "statetheme". So I think `ADDON_TYPE_THEME` should be replaced with `ADDON_TYPE_STATIC_THEME`.

[Line](https://github.com/mozilla/addons-frontend/blob/26005ae51e6f7af359436179d8a44331ec9e9066/src/amo/components/SectionLinks/index.js#L97)

**After replacing with `ADDON_TYPE_STATIC_THEME` :**
![Screenshot (153)](https://user-images.

[2019-08-01 17:55] willdurand commented on #8425
@Shubhamchinda awesome finding, you're correct!

[2019-08-01 17:59] kumar303 commented on #8426
I found a workaround but I also filed a Firefox bug for it: https://bugzilla.mozilla.org/show_bug.cgi?id=1570710

[2019-08-01 18:13] Shubhamchinda commented on #8425
Thanks man!

[2019-08-01 18:54] Shubhamchinda commented on #6242
Hey @kumar303 , Can I give it try?

I see @biskit1 did a great job. I only need to add the test case now right?

Thanks!

[2019-08-01 19:07] biskit1 commented on #6242
Hey @Shubhamchinda, I don’t have time to finish this up, but yes, it just needs a test case.
Good luck! 👊🏼

[2019-08-01 19:40] jvillalobos commented on #8412
Oh yeah, I misunderstood what you meant by "main page", sorry about that. Editing in the same page was also something I wanted initially, but it turned out to be technically challenging. Keeping a separation between "view only" and "edit" pages allows the site to remain fast and easier to maintain.

[2019-08-01 20:48] #8426 closed

[2019-08-02 03:30] smayer97 commented on #8412
Oh, that's too bad. But thanks for clarifying.

[2019-08-02 04:55] jyoti786v opened #8430 "not add on mozilla"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-02 05:21] Greggous opened #8431 "Browserbackground"
Hi,

I love the extension Browserbackground but now when I tried to install on a new browser its website wasn't responding. It's been so for several days. What's happened, how to get it again?

Let me also ask if this exists for chromium based browsers too (I only found for Mozilla based).

Thanks.

[2019-08-02 07:53] #8430 closed

[2019-08-02 12:53] ioanarusiczki commented on #8385
@willdurand I think this can be closed as it landed on prod this week. I checked the message on the frontend while testing today for https://github.com/mozilla/addons-server/issues/11958
The message is now `Please ensure this field has no more than 10000 characters"

![message from AMO](https://user-images.githubusercontent.com/33448286/62371444-8f1a2a80-b53d-11e9-9a06-0444a70516ed.png)

I verifie

[2019-08-02 13:01] willdurand commented on #8385
ah yes, perfect!

[2019-08-02 13:01] #8385 closed

[2019-08-02 13:18] ngocang5 opened #8432 "Firefox OS Simulator"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-02 13:20] #8432 closed

[2019-08-02 13:59] ioanarusiczki opened #8433 "Dismiss button should stay active after the red warning for more chars than allowed"
Followup for https://github.com/mozilla/addons-frontend/issues/8385

STR:
1. Send an abuse report from the detail page of an add-on/theme with more than 10000 chars
2. Observe the Dismiss button after the red message is displayed

Expected result:
It can be clicked and the `Report this add-on for abuse` button is available again.

Actual result:
`Dismiss` is not active.

Note:
`Report this add-on

[2019-08-02 18:07] rbrishabh commented on #8433
Hey! Can I take this up? =)

[2019-08-04 02:33] kumar303 commented on #6242
@Shubhamchinda thanks for jumping in. Let me know if you have any questions.

[2019-08-05 07:56] sanjay-git commented on #8407
Hello,

I am from the Amazon team that developed this add-on, but the team has lost the credentials used to manage this add-on.

Is there any way to re-send the email to another amazon account so that we would know the timeline of the add-on?

Thanks in Advance,
Sanjay

[2019-08-05 08:14] wagnerand commented on #8407
You can reset your Firefox account password through https://accounts.firefox.com/.

[2019-08-05 08:22] AlexandraMoga opened #8437 "Rating stars not centered in All reviews page on mobile"
### Describe the problem and steps to reproduce it:

1. Open 'All reviews' page for an add-on on mobile or in responsive design: see https://addons.mozilla.org/en-US/firefox/addon/voice-fill/reviews/
2. Observe the rating stars alignment

### What happened?
Rating stars are aligned to the left

### What did you expect to happen?
Rating stars are centered

### Anything else we should know?
- also r

[2019-08-05 08:23] sanjay-git commented on #8407
Thanks for the quick response. We do not have any details w.r.t the account used for this add-on.
Is there any way to transfer the ownership in cases like these? We will go through any process to authenticate ourselves as the rightful owners.

[2019-08-05 08:24] wagnerand commented on #8407
I'm sorry since we cannot verify your identity, we cannot transfer accounts.

[2019-08-05 11:13] Shubhamchinda commented on #7645
Hey, I'd love to take this!

[2019-08-05 11:34] Shubhamchinda commented on #8437
Hey, I made a fix for this problem. In `/src/amo/components/AddonSummaryCard/styles.scss` under [class](https://github.com/mozilla/addons-frontend/blob/8ae1a08d38e72fc706f5c8862f94a2d801071d80/src/amo/components/AddonSummaryCard/styles.scss#L3).
I **added**
[code]
and it fixed the problem. Here's the result :
![Screenshot (234)](https://user-images.githubusercontent.com/21038543/62461623-f684e400-

[2019-08-05 12:38] willdurand commented on #8425
thanks @Shubhamchinda

[2019-08-05 12:40] AlexandruTrif commented on #8418
Hello!
While verifying bug [1568921](https://bugzilla.mozilla.org/show_bug.cgi?id=1568921) I observed that after selecting the Remove option from AMO page on an addon locked by policy, Add to firefox button is presented even if the add-on cannot be removed. Adding the addon again just makes and endless installing loop animation. Comment from Bugzilla [here](https://bugzilla.mozilla.org/show_bug.cg

[2019-08-05 12:43] willdurand commented on #1086
marking this issue as duplicate of https://github.com/mozilla/addons-frontend/issues/8418

[2019-08-05 12:43] #1086 closed

[2019-08-05 12:59] willdurand commented on #8437
@kumar303 could this be a regression? I thought this was centered initially. I don't find recent commits that touched that part, though.

[2019-08-05 13:28] rbrishabh commented on #8433
I think I partially fixed this issue.

The ```dismiss``` button is now available when the error message comes.

![image](https://user-images.githubusercontent.com/22501334/62466671-7d3fbe00-b7af-11e9-92f5-caafa7b8767d.png)

On clicking it - ```Report this add-on for abuse``` is available again.

![image](https://user-images.githubusercontent.com/22501334/62466702-96e10580-b7af-11e9-8f7d-912aafa416

[2019-08-05 14:22] Shubhamchinda commented on #8425
Your welcome @willdurand :)

[2019-08-05 14:25] #8425 closed

[2019-08-05 15:08] jrbenny35 opened #8439 "Integration-test job is failing"
See https://github.com/mozilla/fxa/issues/2074

[2019-08-05 15:52] kumar303 commented on #8437
@Shubhamchinda thanks for taking a look at this. I didn't see a PR and I wanted to make sure we ship a fix for this ASAP since it may affect wider Android screens (ones that mimic iPhone). I also wanted to use flex since that has better support and we don't need a grid specific feature here. https://github.com/mozilla/addons-frontend/pull/8440

@willdurand yeah, I'm pretty sure this is a regressio

[2019-08-05 16:15] Shubhamchinda commented on #8437
No problem @kumar303 . I didn't make any PR since I wanted to confirm if using grid is fine here. Anyways thanks, I'll be around. Let me know if I can be of any service.

[2019-08-05 18:27] jakirtangail2k opened #8442 "jakir"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-05 18:29] jakirtangail2k opened #8443 "jakir"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-05 18:30] jakirtangail2k commented on #8443
no

[2019-08-05 19:40] #8442 closed

[2019-08-05 19:41] #8443 closed

[2019-08-05 19:59] jvillalobos commented on #8431
You need to contact the add-on developer for help with this. We can't help you.

[2019-08-05 19:59] #8431 closed

[2019-08-05 21:01] #8437 closed

[2019-08-06 06:30] madalincm commented on #8425
Verified in amo-dev.

![2019-08-06_09h26_47](https://user-images.githubusercontent.com/15685441/62516056-a9e5eb00-b82c-11e9-93f9-16d0725c383b.gif)

[2019-08-06 06:56] mastef opened #8450 "Unpublished add-on detail page causes high cpu load"
### Describe the problem and steps to reproduce it:
I just uploaded a new add-on, and left Firefox open on the pre-published add-on website. The next morning my Mac was still running on full fans, and this page seems to be the issue.

Checking the console output the page is trying to constantly fetch the latest user review, which fails. This happens every second. It fails with 403 forbidden, and t

[2019-08-06 07:51] bbgool opened #8444 "https://addons.mozilla.org/en-GB/firefox/addon/selenium-builder/ is not available"
### Describe the problem and steps to reproduce it:

1. go to https://seleniumbuilder.github.io/se-builder/
2. Click "Install'

### What happened?
https://addons.mozilla.org/en-GB/firefox/addon/selenium-builder/ is not available

![Firefox_Seleniumbuilder](https://user-images.githubusercontent.com/32668362/62521192-fe02c680-b850-11e9-907a-c9153e258c4b.png)

### What did you expect to happen?
https

[2019-08-06 08:21] mastef commented on #5891
Hi there, this issue also causes very high cpu load ( https://github.com/mozilla/addons/issues/1082 ), because the reviews are being re-fetched the moment the request fails with the 403 error, causing an infinite loop.

This caused very high CPU load.

[2019-08-06 08:57] wagnerand commented on #8444
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-08-06 08:57] #8444 closed

[2019-08-06 11:22] ioanarusiczki opened #8446 "400 received when clicking the Manage Firefox Accounts from Edit my profile page"
STR:

1. Login with an account on AMO dev and go to Edit my profile
2. Click the Manage Firefox Accounts
3. Observe the page

Expected result:
Fxa page loads

Actual result:
The page is blank. A 400 is received in the Network.

Notes:
It is reproducible on AMO dev. - FF68(Win10)
It is not reproducible on AMO stage.- FF68(Win10)

![400](https://user-images.githubusercontent.com/33448286/62536006-83

[2019-08-06 11:49] AlexandraMoga commented on #8426
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/62537549-62c21f00-b859-11e9-8b03-b76e6050f81b.png)

[2019-08-06 13:53] AlexandraMoga commented on #8437
Verified fixed on -dev:

mobile:
![image](https://user-images.githubusercontent.com/31961530/62544867-3dd5a800-b869-11e9-8ded-5d1119a9db72.png)

tablet:
![image](https://user-images.githubusercontent.com/31961530/62544902-4ded8780-b869-11e9-8310-c8a46c6a0177.png)

RTL:
![image](https://user-images.githubusercontent.com/31961530/62544909-52b23b80-b869-11e9-8ff8-db6b85bb62ae.png)

[2019-08-06 14:00] kumar303 commented on #8446
Thanks. I filed an FxA issue to track it: https://github.com/mozilla/fxa/issues/2092

[2019-08-06 14:35] DamienAstolfi opened #8447 "Oups, cette page est introuvable"
### Describe the problem and steps to reproduce it:
Impossible d'accer à la page 1001 des add-ons de firefox.
"Oups, cette page est introuvable"
Alors que proposé dans les numéros de page en abs.

### What happened?

### What did you expect to happen?

### Anything else we should know?

La ça fonctionne : https://addons.mozilla.org/fr/firefox/search/?platform=WINNT&page=3

La ça fonctionne pas : h

[2019-08-06 15:05] #8447 closed

[2019-08-06 16:33] kumar303 commented on #8439
@jrbenny35 FxA is back up but I still see consistent failures, like: https://circleci.com/gh/mozilla/addons-frontend/16512?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Any ideas? I see a lot of index out of range errors which I'm not sure about.

[2019-08-06 17:30] kumar303 opened #8449 "CircleCI pushes the Docker image twice"
### Describe the problem and steps to reproduce it:

Push a git tag

### What happened?

CircleCI pushes (deploys) the Docker image twice

### What did you expect to happen?

It should only push the image once because that's confusing. It makes tracking down and resolving push errors more difficult.

### Anything else we should know?

This determines which job to run on a tag: https://github.com/m

[2019-08-06 18:05] bqbn commented on #8449
If we go to https://circleci.com/gh/mozilla/addons-frontend/16515, it has a message on that page that says,

So if it was because CircleCI itself had to run the job twice for some reason, it may not be our issue. A new tag will tell for sure.

For now, we can probably lower the priority and see if it happens again.

[2019-08-06 18:14] jrbenny35 commented on #8449
Don't see how this is related to #8416 as that PR didn't change the frequency of the releases to Docker. Why circleci chooses to rerun something is a mystery as that text doesn't really provide any clues.

[2019-08-06 18:30] jrbenny35 commented on #8439
Yeah looks like some service isn't starting. I can't really see what's causing it, I'll have to test it locally.

[2019-08-06 19:52] kumar303 commented on #8449
Hmm. It happened twice in a row which was weird.

@jrbenny35 ok, thanks for looking into it. I guess we'll just wait to see if it happens again.

[2019-08-06 20:52] kumar303 commented on #8450
Thanks for the bug report, @mastef

This is really bad. Even though https://github.com/mozilla/addons-frontend/issues/5891 will make this problem go away, it might come back later if there is another error. No page should ever get caught in an infinite loop due to an error 😞

[2019-08-06 21:08] kumar303 commented on #8446
A comment on https://github.com/mozilla/fxa/issues/2092 says this is resolved but they're still looking into what caused it.

[2019-08-07 14:31] kumar303 opened #8453 "The non-breaking space test in i18n/test_utils is flaky"
### Describe the problem and steps to reproduce it:

Run the test suite on Kumar's laptop

### What happened?

On my machine, this test always fails:

https://github.com/mozilla/addons-frontend/blob/20b2972ade669be9874cf3ff3cbce31a0c5c6549/tests/unit/core/i18n/test_utils.js#L488-L499

[code]

### What did you expect to happen?

It should run the same on everyone's machine all the time ✨

### Anyth

[2019-08-07 15:58] #8450 closed

[2019-08-07 15:59] #8453 closed

[2019-08-07 16:40] kumar303 commented on #8439
I upped the priority here since the consistent failures will make it difficult to notice other failures.

[2019-08-07 17:42] PeteDiMarco commented on #7302
As of August 8, 2019, this problem still exists.

[2019-08-07 22:22] jrbenny35 commented on #8439
This is now the reason: https://github.com/mozilla/addons-server/issues/12064

[2019-08-08 16:57] vcarciu opened #8456 "When sorting addons from a collection by name, one of extension is dissappearing"
Steps to reproduce:
1.Open this collection https://addons.mozilla.org/en-US/firefox/collections/15194964/test/edit/?page=1&collection_sort=-added
2.Sort addons by name

Expected results:
Collection are ordered by name and it shows 4 webextensions

Actual results:
After ordering by name, one of webextensions is dissappearing

Please see a video with the issue :
![collectionbyname](https://user-imag

[2019-08-08 21:41] jrbenny35 opened #8458 "Integration Test job on CircleCI should run more often."
Right now the ```integration-test``` job on circleci runs about every 3 hours or so, between a set time period. We could have them run on each PR, but limit the suite to just a few tests. We could run the full suite on a merge to master instead as that wouldn't be blocking and wouldn't take so long.

Thoughts?

[2019-08-08 21:45] willdurand commented on #8458
How long does it take to run the full test suite?

[2019-08-08 21:46] jrbenny35 commented on #8458
About 30 min

[2019-08-08 21:52] willdurand commented on #8458
ah, ok. That's not fast.

I see that those tests are not in this repo, so I am not sure whether we should really be running them at all. If they break (for legit reasons, like a new feature or something), frontend devs cannot really fix them as they would have to patch another repo.

[2019-08-08 21:58] kumar303 commented on #8458
I don't think we should run them on every PR as that would add extra waiting time. Running them on master for *every* commit sounds fine to me. I would rather move away from the 3 hour interval because it's too hard to glance at the master commits and determine if there is an intermittent or real failure happening.

[2019-08-08 22:21] jrbenny35 commented on #8458
Well they could be moved completly here. That wouldn't be hard at all

[2019-08-09 00:56] kumar303 commented on #8458
I guess they run in both places (`-server` and `-frontend`) so that the first breaking commit gets exposed?

[2019-08-09 13:05] madalincm opened #8461 "Landing position not maintained for "See more enhanced privacy extensions" link in Android Homepage"
### STR:
1. Open AMO homepage on an Android device: https://addons.allizom.org/en-US/android/.
2. Scroll down to the "Enhanced privacy extensions" section and click on "See more enhanced privacy extensions" link.
3. After the page loads, press the Back phone button.
4. Observe the page.

### Actual result:
The landing page is placed at the page footer.

### Expected result:
The landing position on

[2019-08-09 13:55] madalincm opened #8462 "Name of the created collections are not visible in the drop-down list when “This add-on already belongs to the collection” red banner is displayed"
### Prerequisites:
Make sure that “This add-on already belongs to the collection” red banner from “Add to collection” section is available in the desired add-on detail page (add it twice to the same collection).

### STR:
1. Click on “Select a collection...” from the “Add to collection” section and choose “Create new collection” from the drop-down list.
2. Fill out the “Collection name” text box a

[2019-08-09 14:44] kumar303 commented on #8418
@AlexandruTrif is there an add-on on a hosted AMO that is locked? For example, where could I find the Grammarly add-on shown in https://bugzilla.mozilla.org/show_bug.cgi?id=1568921#c11 ?

I'd like to look into this infinite loop bug you described. That's something we should fix ASAP.

[2019-08-09 14:54] mkaply commented on #8418
You can use policy to lock an addon:

https://github.com/mozilla/policy-templates/blob/master/README.md#extensions

[2019-08-09 15:09] kumar303 commented on #8418
@mkaply Thanks! I was able to reproduce it.

@AlexandruTrif I do not see any infinite loop in the UI. Could you be more specific? I see this on AMO:
* I click *Add to Firefox* for a locked add-on. It works.
* I click *Remove*. It says *An unexpected error occurred during uninstallation.*
* I click *Add to Firefox* again. It works.
* I click *Remove* and I see the same error.

Is that what you mean

[2019-08-09 15:56] willdurand commented on #8458
Didn't we discuss this in Whistler? What was the outcome? A third repo, no?

[2019-08-09 16:04] kumar303 commented on #8458
I don't remember exactly what we discussed. A third repo sounds good but I don't know if github lets us do what you can do in Jenkins: an upstream commit triggers a downstream builder in a separate repo. Maybe we can do it with [actions](https://github.com/features/actions)!

[2019-08-09 16:06] willdurand commented on #8458
Yeah, maybe.

Maybe we should take ownership of these "ui tests" by moving all tests against addons-frontend here. I believe it's more likely that a frontend change breaks these tests.

[2019-08-09 16:10] jrbenny35 commented on #8458
I like this idea

[2019-08-09 16:12] kumar303 commented on #8458
I agree. It makes more sense for them to live in `addons-frontend`.

[2019-08-09 16:14] willdurand opened #8465 "Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?"
This is probably worth investigating... The fact that it mentions the `LanguagePicker` reminds me of #8259.

React warning in the devtools:

[code]

[2019-08-09 22:15] kumar303 commented on #8465
`Footer` passes a ref to `LanguagePicker` which is a class component but it's wrapped in HOCs so I guess not.

In any case, I think this might be dead code 🤷‍♂

https://github.com/mozilla/addons-frontend/blob/29bbbfa255a4af88e7154acd32409c081f538666/src/amo/components/Footer/index.js#L216

I don't see `this.languagePicker` used anywhere.

My hunch is that this was always broken but React just got

[2019-08-11 16:26] CatherineHP opened #8467 "https://addons.mozilla.org/en-US/firefox/addon/open-link-in-new-tab/ URL does not open correct website"
### Describe the problem and steps to reproduce it:
missing website

I searched on Duck Duck Go for "open search links in new tab in firefox".  On the right side was a box with this in it: " Firefox can't do this natively, however there are various plugins.

I recommend https://addons.mozilla.org/en-US/firefox/addon/open-link-in-new-tab/ because it has filters, so you can enable it only on specifi

[2019-08-11 16:34] CatherineHP opened #8468 "open search engine links in new tab"
### Describe the problem and steps to reproduce it:
There seems to be no way to get my search links to open in a new tab other than right-clicking and choosing "open link in new tab".  That is harder for me to do because I often have trouble lining up my mouse pointer with something on a menu.

I read online that I could go to about:config and change browser.search.openintab to TRUE, but that didn

[2019-08-11 21:17] wagnerand commented on #8467
Please contact the author of the website you found the link on to update it.

[2019-08-11 21:17] #8467 closed

[2019-08-11 21:18] wagnerand commented on #8468
This repository is for the underlying add-ons platform.

[2019-08-11 21:18] #8468 closed

[2019-08-12 16:04] bobsilverberg commented on #8461
I took a look at this behaviour on dev, and at first I thought that any link below a certain point on the home page would yield this behaviour, but then noticed that the link for "See more enhanced privacy extensions" yields this behaviour, but the link for "See more popular extensions" does not, despite being lower on the page than the link for "See more enhanced privacy extensions". So this is q

[2019-08-12 16:09] bobsilverberg commented on #8461
An additional piece of information: This also reproduces the same way for the desktop site, i.e., https://addons.allizom.org/en-US/firefox/. So it seems to have nothing to do with the fact that it's the "android" site, but rather with the small screen size.

[2019-08-12 18:03] bobsilverberg commented on #8405
It does look like this was discussed quite a bit in #7332, which resulted in this decision. I'm not sure it makes much sense to revisit it, as I don't imagine it would be given a very high priority even if we were to change our minds about it. I agree it is a bit confusing, but considering how often the use case would come up (which I assume is not very often), it doesn't seem like a very high pri

[2019-08-12 21:06] bobsilverberg opened #8473 "Revisit the logic around couldShowWarning in InstallWarning"
Quoting @willdurand in https://github.com/mozilla/addons-frontend/pull/8348#discussion_r312547172, "I am not sure to like this pattern. Could you file an issue so that we can discuss it and maybe revisit it later?"

[2019-08-12 21:14] #8347 closed

[2019-08-12 21:15] bobsilverberg commented on #8473
Note that this is the logic that (I believe) is in question: https://github.com/mozilla/addons-frontend/blob/d0aae3592e6ab5705f0acbd3b5b0035afa6c781c/src/amo/components/InstallWarning/index.js#L68-L75.

[2019-08-13 07:50] madalincm commented on #8461
@bobsilverberg I don't think it's a new regression, since on Amo-prod the bug is reproduced for the "See more enhanced privacy extensions" and "See more recommended password managers" links by using the steps mentioned in the bug report.

[2019-08-13 11:11] abs-plus opened #8474 "failed link"
why is this link invalid?
https://de.wikipedia.org/wiki/ChatZilla

or - what am I doing here  ;-(        if this was probably a misunderstanding?    excuse me please

[2019-08-13 11:19] abs-plus opened #8475 "firefox/addon/16/"
step 1:               https://de.wikipedia.org/wiki/ChatZilla
step 2:  Offizielle Addon-Webseite von ChatZilla  https://addons.mozilla.org/de/firefox/addon/16/
step 3:  led me to github

but, I exepted to find :
Offizielle Addon-Webseite von ChatZilla

little bit confusions, but hopefully comprehensible

greetings  Michelle

[2019-08-13 11:26] abs-plus commented on #8475
I guess that Wikipedia failed cause they didn`t interrupt the invalid link.

[2019-08-13 13:34] muffinresearch commented on #8475
We are unable to provide support for individual add-ons.

This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services.

In this case the add-on is no-longer available as legacy add-ons are no longer supported or made available from AMO.

[2019-08-13 13:34] #8475 closed

[2019-08-13 13:35] muffinresearch commented on #8474
Duplicate of https://github.com/mozilla/addons-frontend/issues/8475

[2019-08-13 13:35] #8474 closed

[2019-08-13 13:56] ab1kenobee opened #8477 "SERPTrends ???"
Why is SERPTrends not available for FF?

Thank you.

Alan

[2019-08-13 14:13] wagnerand commented on #8477
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-08-13 14:13] #8477 closed

[2019-08-13 16:17] AlexandraMoga commented on #8450
I've verified this on stage and there is no 403 loop in the console anymore when looking at the detail page of an unpublic add-on.

@kumar303 There used to be only one 403 before: `Failed to fetchLatestUserReview for addonId "1002944", userId "11685651": Error: Error calling: /api/v4/ratings/rating/ (status: 403)`
Now, there is a second 403: - `Failed to fetch grouped ratings for add-on ID 1002944

[2019-08-13 18:11] bobsilverberg opened #8478 "Implement API and saga code to support Hero Shelves"
This is required for #8305 and involves implementing code to retrieve data from the `/api/v4/hero/` endpoint, as documented at https://addons-server.readthedocs.io/en/latest/topics/api/hero.html#get--api-v4-hero-.

[2019-08-14 08:19] madalincm opened #8480 "Themes Categories not available on Amo-dev and stage"
### STR:
1. Access Amo Homepage: https://addons.allizom.org/en-US/firefox/.
2. Click on the "Themes" menu button.
3. Observe the page.

### Expected result:
Categories should be displayed.

### Actual result:
"No categories found." text is displayed where the categories should be displayed.

### Notes:
Reproduced on Amo-dev and Amo-stage with Fx68, Win10x64 and Android 8.0.0.

![2019-08-14_11h16_1

[2019-08-14 08:26] willdurand commented on #8480
Updating the mapping in https://github.com/mozilla/addons-frontend/blob/45f3b09b38b7214345d37e9a9099654a5c1a56d0/src/core/constants.js#L84-L87 might solve this problem. Now that the persona server code has been removed, it'd be nice to also remove the persona code in this project too. There are issues filed for that.

[2019-08-14 10:08] muffinresearch opened #8481 "Yarn install errors due to sinon 7.4.0 being a 404"
[code]

[2019-08-14 10:56] #8481 closed

[2019-08-14 12:49] #8480 closed

[2019-08-14 12:49] AlexandraMoga commented on #5891
See from https://github.com/mozilla/addons-frontend/issues/8450#issuecomment-520903810 that there is now a second unauthorized message revealed, displayed in the Rate your experience section:
`Failed to fetch grouped ratings for add-on ID 1002944: Error: Error calling: /api/v4/ratings/rating/ (status: 403)`

![image](https://user-images.githubusercontent.com/31961530/63022166-fb384f00-beaa-11e9-8b

[2019-08-14 13:30] madalincm commented on #8480
Verified in Amo-dev with Fx68, Win10x64 and Android 8.0.0.

![2019-08-14_16h28_26](https://user-images.githubusercontent.com/15685441/63024898-caf3af00-beb0-11e9-8fe4-c279698fc658.gif)

[2019-08-14 14:28] muffinresearch commented on #8439
Closing as https://github.com/mozilla/addons-server/issues/12064 is now fixed.

[2019-08-14 14:28] #8439 closed

[2019-08-14 15:07] ioanarusiczki commented on #8480
Verified on stage with FF68 (Win10 & Android 8.0)

![category on stage](https://user-images.githubusercontent.com/33448286/63032394-68091480-bebe-11e9-9d6b-744fe6d41a82.gif)

[2019-08-14 15:12] diox commented on #5359
The migration happened some time ago, can we make some progress on this now ? We assumed we could remove most of the personas-related code in addons-server, and it caused https://github.com/mozilla/addons-frontend/issues/8480, which forced us to add back a hack pretending some lightweight theme categories still exist.

[2019-08-14 15:22] muffinresearch commented on #5359
This will need further investigation, but in looking at this today, It might be worth considering if it would be easier to change the `ADDON_TYPE_THEME` from `persona` to `statictheme` and remove the `ADDON_TYPE_STATIC_THEME` instead of the other way around.

[2019-08-14 16:20] diox commented on #5359
I suspect a few of these occurrences are hack to work around the subtleties of personas though. I think it's worth double-checking each.

[2019-08-14 20:29] khatabali opened #8484 "fastestfox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-14 20:43] #8484 closed

[2019-08-15 00:51] arku commented on #8473
@willdurand How do we go go about refactoring this?

[2019-08-20 10:46] diox commented on #8413
Collection notes are indeed locale-dependent (honestly there is no good reason for this anymore, but it's legacy we have to deal with).

@smayer97 if you give us your user id we could try to look if the comments are still there.

[2019-08-20 11:28] smayer97 commented on #8413
what ID do you need, my e-mail address? That is what I use to log in. Is that not visible to you?

[2019-08-20 17:44] jvillalobos commented on #8413
Not on Github. The user ID is `2735762`.

[2019-08-20 18:24] smayer97 commented on #8413
OK. so do you need anything more from me? Just want to be sure.

[2019-08-21 07:10] Kankuroo opened #8494 "Account pool"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-21 07:36] #8494 closed

[2019-08-21 13:55] ruchikabgosain commented on #8256
Hello, is this done? Or still available, let me know :)

[2019-08-21 17:51] ruchikabgosain commented on #6380
hello @kumar303 , I'd like to take this up. Is this issue still available?

[2019-08-21 22:35] AndreasAhlen59229 opened #8496 "Page not found"
### Describe the problem and steps to reproduce it:

### Hoppla! Wir können diese Seite nicht finden.

### What did you expect to happen?

### Came from http://www.s3blog.org/addon-contribute/forecastfox-fix-version.html?lang=de

[2019-08-22 06:56] #8496 closed

[2019-08-22 14:05] diox commented on #8413
You've got a lot of collections. Can you give me the name of one in particular that's missing notes ? And if possible, which add-on the note was for ?

[2019-08-23 05:16] amir15155 opened #8498 "That means there was a joke that you had to drop, but if someone moves against you, dear starkvpn program will come back in two weeks."
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-23 05:16] amir15155 commented on #8498
That means there was a joke that you had to drop, but if someone moves against you, dear starkvpn program will come back in two weeks.

[2019-08-23 05:27] #8498 closed

[2019-08-23 16:35] bobsilverberg opened #8499 "Make gradients for Primary Hero Shelf dynamic"
This is a follow-up to #8305

That patch adds a dynamic Primary Hero Shelf (PHS), but only one gradient is currently available (and hardcoded). The code and styles for the PHS need to be updated to use the color names returned by the `hero` API to set the background gradient.

This implementation will likely involve creating a new style for each possible combination of `start` and `stop` gradient

[2019-08-23 17:46] muffinresearch commented on #8344
Since this repo isn't related to the blog content, there's no action we can take here so I'm closing this out.

[2019-08-23 17:46] #8344 closed

[2019-08-24 09:51] amir15155 commented on #8498
[image: Screenshot_2019-08-24 Add-ons for Firefox (en-US).png]Dear and dear
friend, it was going well for me, of course, in the four or five days that
this has been done.

On Fri, Aug 23, 2019 at 9:57 AM William Durand <notifications@github.com>
wrote:

[2019-08-24 12:54] irwanwr commented on #5290
if anyone interested to update or anything else so the add-on can be operational again,
here is the webpage of it:
https://www.toptip.ca/2010/10/firefox-extension-google-dictionary-and.html
that's the author webpage.

[2019-08-25 09:44] amir15155 opened #8500 "Stark vpn restitution request"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-25 09:49] amir15155 commented on #8500
Greetings and politeness of your service

If possible explain why you removed stark vpn from the add-on and if possible and give it back to your subscribers.

[2019-08-26 06:09] gurujeem opened #8502 "Mona"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-26 06:10] gurujeem commented on #8502
Good

[2019-08-26 06:11] gurujeem commented on #8502
I know about this site

[2019-08-26 08:54] #8502 closed

[2019-08-26 08:55] willdurand commented on #8500
We usually don't remove the extensions unless these extensions are unsafe. Developers do remove their extensions though. There is nothing we can do.

[2019-08-26 08:55] #8500 closed

[2019-08-26 10:11] amir15155 opened #8503 "adds starkvpn"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-26 10:11] amir15155 commented on #8503
adds stark vpn

[2019-08-26 11:37] #8503 closed

[2019-08-26 17:03] bobsilverberg opened #8504 "Address possible race condition with withExperiment and AMInstallButton"
This is a follow-up to #8137

As @willdurand pointed out at https://github.com/mozilla/addons-frontend/pull/8354#discussion_r317599941, there's a possible race condition when `withExperiment` is used for the same experiment and multiple components in the same page, which is currently the case with `InstallWarning` and `AMInstallButton`. It doesn't seem like a critical issue, but something we shoul

[2019-08-27 07:30] AlexandruTrif commented on #8418
Hello @kumar303, sorry for the late response. By infinite loop, I meant that after clicking "Add to Firefox" and "Add" button, the animation for installing the addons remains until the page is refreshed. Here is a screen recording: [link](https://drive.google.com/open?id=19DjdNONPjN1UlAZbwL_b-QVG0TMoN52-). If more information is needed please let me know. Thank you!

[2019-08-27 08:20] alexandra-martin opened #8509 "Landing position not maintained after deleting an add-on rating/review on Android"
### Prerequesites:
User should have an account and be logged in.
### STR:
1. Open AMO homepage on an Android device: https://addons.allizom.org/en-US/android/.
2. Select an add-on from homepage (for ex. "[Ghostery](https://addons.allizom.org/en-US/firefox/addon/ghostery/)").
3. Star rate the add-on, from the "Rate your experience" section.
4. Delete the rating.
5. Observe the page.

### Actual res

[2019-08-27 14:57] AlexandraMoga commented on #8478
@bobsilverberg I haven't noticed regressions on the the homepage but I've also did not see any requests to the `/api/v4/hero/` endpoint.
Are the changes guarded by a config by any chance?

[2019-08-27 16:41] AlexandraMoga commented on #8478
@bobsilverberg thanks for the tip. I was able to see the requests this way.
There are two calls to the `/hero/` endpoint, one for the primary shelf and the other for the secondary shelf, I presume.

![image](https://user-images.githubusercontent.com/31961530/63790191-78c77a80-c901-11e9-8690-6a6ff55498ee.png)

Question:
As far as I'm aware, we won't be showing the new homepage heroes on Android, ye

[2019-08-28 07:17] AlexandraMoga opened #8512 "The /hero/ endpoint is called twice when loading AMO homepage"
Follow up for #8478

### Describe the problem and steps to reproduce it:

1. Open AMO homepage on -dev
2. Navigate to Extensions
3. Refresh the page
4. Open your web console
5. Navigate back to the homepage by clicking on Explore or the home button
6. Check the calls made for the `/api/v4/hero/` endpoint

### What happened?
There are two calls made for the `/hero/` endpoint
### What did you expect

[2019-08-28 07:38] AlexandraMoga opened #8513 "Do not call the /hero/ endpoint when AMO homepage is launched on Android"
Follow up for #8478

### Describe the problem and steps to reproduce it:

1. Open AMO -dev homepage on android - https://addons-dev.allizom.org/en-US/android/
2. Navigate to Extensions
3. Refresh the page
4. Open your web console
5. Navigate back to the homepage by clicking on Explore or the home button
6. Check the calls made for the `/api/v4/hero/` endpoint

### What happened?
The `/hero/` endpo

[2019-08-28 07:52] willdurand commented on #8513
I think it should be left as is. We load other data for android when client app is firefox (e.g., the categories) and vice versa.

[2019-08-28 12:07] fadaile opened #8514 "fadail zoom"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-28 12:19] #8514 closed

[2019-08-28 14:36] ioanarusiczki commented on #8137
@bobsilverberg Hi Bob, here are my testing results with FF68(Win10) on AMO dev:

**the  enrollment event into withExperiment**

- the GA event "AMO Experiment Enrollment - installButtonWarning" is only shown once per profile. If I cleared the cookie the cohort may change but this type of event won't be sent again.

**the InstallWarning component**

- the yellow warning message is displayed for `in

[2019-08-28 15:50] bobsilverberg opened #8515 "withExperiment should set a permanent cookie"
Currently, the cookie set by [`withExperiment`](https://github.com/mozilla/addons-frontend/blob/master/src/core/withExperiment.js#L80) is a [`session` cookie](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#Session_cookies), which means that it is (generally) cleared when the browser closes.

For the purposes of keeping a user's experience consistent, and also being able to assume that t

[2019-08-28 19:18] bobsilverberg opened #8516 "Create a function to append different query params to internal and external URLs"
This supports #8249

For #8249, we need a way to differentiate between internal and external URLs, and to append a different set of query params to each. It seems like a function that accepts a URL string, an `internalQueryParams` object and an `externalQueryParams` object, and then returns the appropriate URL would be a good helper for this use case, so that's what this issue is about.

[2019-08-29 04:42] ruchikabgosain commented on #6380
Okay @kumar303! Will do that 🙇

[2019-08-29 10:47] ioanarusiczki commented on #8137
@bobsilverberg
- I re-checked the enrollment event and I confirm it is behaving correctly. My testing method was clearing the cookie and then refresh an add-ons detail page. This way the Console did not show the initial enrollment event. I tried to be on AMO somewhere in a search result or homepage and then click the detail page and this way the enrollment event shows every time after I cleared th

[2019-08-29 12:11] ioanarusiczki commented on #8137
@bobsilverberg Bottom line, installing needs further investigations. I'll try some more tests tomorrow and on Monday.

[2019-08-29 16:28] #8305 closed

[2019-08-30 12:56] AlexandraMoga opened #8521 "Primary hero description is not correctly aligned"
Follow up for #8305

### Describe the problem and steps to reproduce it:
1. Open AMO homepage on -dev
2. Notice the description of the presented primary hero

### What happened?
The description is set between `blockquote` tags and does not match the alignment proposed in the mock-ups
### What did you expect to happen?
The description should be aligned to the left, as presented in the mock-ups

###

[2019-08-30 13:12] AlexandraMoga opened #8522 "Layout issues in the primary hero caused by unbroken strings"
Follow up for #8305

### Describe the problem and steps to reproduce it:
1. Open AMO -dev homepage
2. Refresh the page until you get the primary hero with an unbroken string (see my example below)

### What happened?
Unbroken strings are not wrapped and, because of that, the primary hero section is too wide

### What did you expect to happen?
Unbroken string should be wrapped

**Notes:**
- this is

[2019-08-30 14:11] bobsilverberg commented on #8522
While this is a low priority, I figured it would be a quick fix, so I tried, but I can't seem to fix it. The problem is that the long title is causing the flex item for the right-hand side of the promo to overflow its container:

![Screenshot 2019-08-30 09 56 19](https://user-images.githubusercontent.com/142755/64026394-ac2a2500-cb0c-11e9-93dd-46758caedb25.png)

The `div` itself is properly config

[2019-08-30 14:16] bobsilverberg commented on #8521
@eviljeff I recall we discussed this at one point (about the `description` being wrapped in `<blockquote>`, but I don't recall what we decided to do about it. Did we come up with a solution?

[2019-08-30 14:18] muffinresearch commented on #8522
@bobsilverberg `word-break: break-word;` works on the h2 or the div within it.

[2019-08-30 14:26] bobsilverberg commented on #8522
I'm confused. `word-break`, either on the `h2` or the `div` doesn't seem to do anything for me. I'm testing it via the dev tools. Are you saying that simply adding `word-break: break-word;` to either the `h2` or the `div` fixes the issue for you? If so then maybe I need to test by changing the css and refreshing the page, rather than via devtools?

[2019-08-30 14:31] bobsilverberg commented on #8522
Ah, I see, it *does work*. I guess my methodology for testing css changes doesn't work particularly well. Thanks @muffinresearch!

[2019-08-30 14:34] kumar303 commented on #8522
Yeah, this is low priority because AMO staff will have direct control over all text that gets inputted into this header element.

[2019-08-30 14:37] bobsilverberg commented on #8522
I'm not sure they have *direct control*. I believe the problem in this case comes from the add-on's name, which I think is controlled by the addon metadata.

[2019-08-30 15:49] bobsilverberg commented on #8516
Instead of creating this generic utility function, I'm going to put this code into the Secondary Hero component.

[2019-08-30 15:49] #8516 closed

[2019-08-30 16:20] eviljeff commented on #8521
It was something I brought up in https://github.com/mozilla/addons-server/issues/12134#issuecomment-522045961 but that issue got wontfixed so it's not resolved.  It'd just be a server-side change to serve the plain text description instead (`description_text` from the discovery addon response).

[2019-08-30 16:20] bobsilverberg commented on #8137
Great, thanks!

Also thanks!

This should be fixed via #8515

This could just be an unexpected randomness. I don't see anything in the code that would cause a cookie to persist a particular value, even after being cleared. It might just be bad luck that the same value was assigned a number of times in a row.

None of the code in addons-frontend controls anything in about:addons, so this is expecte

[2019-08-30 16:22] bobsilverberg commented on #8521
Thanks @eviljeff. I guess we need a new issue in addons-server for this. I'll open one.

[2019-08-30 16:31] bobsilverberg commented on #8521
I opened https://github.com/mozilla/addons-server/issues/12235 to discuss this further, as I think that just using `description_text` might not give us what we want/need.

[2019-08-30 17:21] bobsilverberg opened #8525 "Enable the non-recommended install warning A/B test on stage/prod"
Everything required for the warning and the A/B test has landed on dev, so all that is needed to enable the warning and test on stage and prod is a config change to flip the flag.

@felixlawrence Based on what you've been able to see on dev, are there any further changes required before we ship this on prod? Since yesterday's push, you should be able to see the events on prod that happen when a us

[2019-08-30 17:38] #8515 closed

[2019-08-30 19:03] azozu511 opened #8526 "sd"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-30 19:04] azozu511 opened #8527 "d"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-30 19:10] #8527 closed

[2019-08-30 19:10] #8526 closed

[2019-08-30 19:17] jvillalobos commented on #8525
No strong opinion either way from me.

[2019-08-30 23:58] felixlawrence commented on #8525
I had a look at dev and everything seems to be ready to go, and everything I hoped would be possible does indeed seem to be possible. No blockers from me.

[2019-08-31 16:13] lerbatax opened #8529 "fireforce"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-08-31 22:28] RIBAMA commented on #8289
ok, Thank's.

[2019-09-01 00:47] CarlChum opened #8530 "S3 Translator"
### Describe the problem and steps to reproduce it:
Until a week ago i used it for all my translation needs, now i cannot find it in my menu or in the addons for firefox list. Dont want to use Google as it translates to another page. Q. where's it gone ?

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-01 08:32] rishabh-bansal commented on #6773
Hi @suhailsinghbains Can I please work on this please, I am completely new to this Mozilla.

[2019-09-02 08:46] AlexandraMoga opened #8532 "Unlisted add-on title in the primary hero section uses an incorrect font style"
Follow up for #8305

### Describe the problem and steps to reproduce it:
1. Open AMO homepage on -dev
2. Refresh the page until you get an unlisted add-on in the primary hero section (see example from the below screenshot)
3. Observe the add-on name
4. Open the dev tools and inspect the font style

### What happened?
Unlisted add-on names are using a `font-weight` of `600`, while for listed add-on

[2019-09-02 08:46] AlexandraMoga opened #8533 "Link to unlisted primary hero homepage should open in a new tab"
Follow up for #8305

### Describe the problem and steps to reproduce it:

1. Open AMO homepage on -dev
2. Refresh the page until you receive an unlisted add-on in the primary hero section (see example from the below screencast)
3. Click on Get started

### What happened?
The unlisted add-on homepage opens in the same window although the user is leaving the amo domain

### What did you expect to ha

[2019-09-02 10:29] AlexandraMoga commented on #8305
I've verified the primary hero layout and contents on -dev. Below is a demo of the featured add-ons loading dynamically:

![2019-09-02_13-27-34](https://user-images.githubusercontent.com/31961530/64108453-7e9be080-cd85-11e9-9da7-58c57378a1b0.gif)

There were also some issues found (referenced above).

@bobsilverberg apart from the items mentioned in https://github.com/mozilla/addons-frontend/pull/

[2019-09-02 10:31] AlexandraMoga commented on #8516
@bobsilverberg are there some verification steps available or is this a qa:not needed issue?
Thanks.

[2019-09-02 11:00] rbrishabh commented on #8532
Hey! Can I take this up?

[2019-09-02 11:42] AlexandraMoga commented on #8478
I have filed the requested follow ups, so I'm marking this issue as verified fixed.

[2019-09-02 12:56] ioanarusiczki commented on #8137
@bobsilverberg The message I was mentioning [above](https://github.com/mozilla/addons-frontend/issues/8137#issuecomment-526132144) which appears randomly on profiles I've tested with  is not related to the experiment.
I realized today that the text is different and the link redirects to a different SUMO article. They have a big similarity because of the style used.
Explanation would be a pref `xpi

[2019-09-02 13:31] ioanarusiczki commented on #8515
@bobsilverberg I verified this issue on dev with FF68 (Win10).
- on a new or older profile a cookie is set from today until 2Oct with date and time.

![Expires in a month](https://user-images.githubusercontent.com/33448286/64117825-d85cd480-cd9e-11e9-8134-3d1989e0da44.png)

I'll do some re-check on the cookie tomorrow to be sure it's everything alright.

[2019-09-02 19:22] #8529 closed

[2019-09-02 19:23] jvillalobos commented on #8530
Please contact the developer for more information.

[2019-09-02 19:23] #8530 closed

[2019-09-02 19:25] jvillalobos commented on #8533
I don't know if we need to figure out a global policy for external links, but in this case it's a promotional link, so I think it makes sense to open it in a new tab when it isn't an internal link.

[2019-09-03 08:29] ioanarusiczki commented on #8515
@bobsilverberg

Looks good to me.
Verified on dev - FF68(Win10).

[2019-09-03 10:58] AlexandraMoga commented on #8521
This has been fixed by https://github.com/mozilla/addons-server/pull/12254

![image](https://user-images.githubusercontent.com/31961530/64167753-b4f36180-ce52-11e9-9400-87e946c549f9.png)

[2019-09-03 10:59] #8521 closed

[2019-09-03 12:42] bobsilverberg commented on #8137
It sounds like you are already aware of this, but the message above has nothing to do with this patch. That is the about:addons page, which in fact isn't controlled by the code in addons-frontend at all.

[2019-09-03 12:58] bobsilverberg commented on #8532
@rbrishabh Thanks for your interest, but because this relates to a feature that is actively being developed and hopes to ship very soon, it is not ideal for a contributor. We have issues that are marked as being appropriate for contributors, which can be found at https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome. I suggest you try to find one there instead.

[2019-09-03 12:59] bobsilverberg commented on #8516
Sorry, @AlexandraMoga, this actually never shipped, and I forgot to remove the milestone. I have done that now.

[2019-09-03 13:02] bobsilverberg commented on #8305
Thanks @AlexandraMoga, I think I missed that requirement when I was converting the static page into a dynamic page. Could you please open a follow-up issue for that?

[2019-09-03 13:17] bobsilverberg commented on #8525
Based on the above responses, I'm going to enable everything on stage with today's tag, and enable everything on prod with Thursday's push.

[2019-09-03 13:42] #8522 closed

[2019-09-03 14:09] AlexandraMoga opened #8537 "Set required parameters for URLs in the primary hero"
Follow up for #8305

### Describe the problem and steps to reproduce it:

As part of the requirement for the new homepage primary hero:

[2019-09-03 14:16] AlexandraMoga commented on #8305
@bobsilverberg I filed #8537 for the additional requirement.

[2019-09-03 14:30] muffinresearch commented on #8525
Sounds good to me.

[2019-09-03 15:16] kumar303 commented on #8522
Ah, that's true

[2019-09-03 15:40] bobsilverberg commented on #8537
@AlexandraMoga Thanks for filing this. In order to minimize the size of the patches for this, I think it would be better to have two separate issues, one for the links and one for the GA event. Could you please open a separate issue for the latter?

[2019-09-03 15:41] #8525 closed

[2019-09-03 15:45] rbrishabh commented on #8532
Alright! Thanks! :)

[2019-09-03 15:46] AlexandraMoga opened #8538 "[Primary hero] Log a GA event when the CTA is clicked"
Follow up for #8305

### Describe the problem and steps to reproduce it:
As part of the requirement for the new homepage primary hero:

[2019-09-03 15:47] AlexandraMoga commented on #8537
@bobsilverberg done in #8538 and updated this issue to reflect what is being implemented

[2019-09-03 16:30] kumar303 opened #8540 "The non-recommended install warning looks unblanced on wide screens"
The install warning for non-recommended add-ons (https://github.com/mozilla/addons-frontend/issues/8525) is placed in an awkward position for wide screens. The edges of banner  do not line up with any other part of the design which makes the page look unbalanced.

Example:

<img width="887" alt="Screenshot 2019-09-03 10 40 26" src="https://user-images.githubusercontent.com/55398/64191506-40aec300-

[2019-09-03 17:04] #8540 closed

[2019-09-03 17:12] kumar303 opened #8542 "Add complete Flow coverage to all code"
Add Flow coverage to all code.

Most code has Flow coverage but some key components such as [pages/Addon](https://github.com/mozilla/addons-frontend/blob/591ffc138dc1372ba72b4aa3c50fe1dadebf0b92/src/amo/pages/Addon/index.js) do not. This makes it hard to add new features with accuracy, speed, and confidence.

[2019-09-03 20:23] Betzyc opened #8545 "no se encuentra firefox os simulator"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-03 20:23] #8545 closed

[2019-09-04 06:56] AlexandraMoga commented on #8522
Verified fixed on -dev

![image](https://user-images.githubusercontent.com/31961530/64231706-06562c00-cef9-11e9-9d9a-17fefe133fc3.png)

[2019-09-04 07:00] AlexandraMoga commented on #8305
I'm marking this issue as verified fixed because we have follow ups for all the outstanding issues found so far.

[2019-09-04 11:26] ioanarusiczki opened #8546 "Don't send the GA enrollment event for Android"
Followup for:
https://github.com/mozilla/addons-frontend/issues/8505

1. Load AMO stage - homepage on a new profile for Android https://addons.allizom.org/en-US/android/
2. Open Browser Console (Ctrl+Shift+J) and land on an add-on detail page
3. Observe Browser Console

Actual result:
The GA Enrollment event is sent (yet, there is no yellow warning experiment message displayed on the detail page w

[2019-09-04 11:34] ioanarusiczki commented on #8525
@bobsilverberg
My only concern would be what I filed here https://github.com/mozilla/addons-frontend/issues/8546
I don't see other issues so I also think it's good to go 👍

Verified on AMO stage with FF68 (Win10&Android 8.0)

[2019-09-04 11:47] bobsilverberg commented on #8546
Thanks for filing this @ioanarusiczki. This one is a bit tricky because the code that sends the enrollment event is quite dumb. It is generic for all experiments and therefore does not take any criteria into account. We can technically change that, but I want to make sure it's necessary (I assume it probably is).

@Felixlawrence How bad is it if we are marking users on Android as enrolled in the e

[2019-09-04 15:28] felixlawrence commented on #8546
This will add a bit of noise to the experiment, but we can live with it. I _might_ be able to filter it out in my analysis, but even if I can't it shouldn't be a big deal - if there were 9 android visitors to every 1 desktop visitor then we'd have to run the experiment roughly twice as long to get the same statistical power; here I bet the ratio is the other way around so the difference should be

[2019-09-04 16:38] bobsilverberg commented on #8546
Thanks @felixlawrence. Looking at GA, it looks like around 16% of users are on Android, so based on what you said above it sounds like that shouldn't create a big problem for our analysis. Do you agree?

[2019-09-04 16:44] felixlawrence commented on #8546
Yes.

Plan A: I'll filter out Android in the analysis
Plan B: I'll cope with the noise.

Happy with plan A or B.

[2019-09-04 17:15] bobsilverberg commented on #8546
Great, thanks @felixlawrence. I think we can keep things as is for this experiment, but it's something to think about for future ones.

@ioanarusiczki As a result of this conversation, I'm going to close this issue. We're okay with the enrollment event being send on Android.

[2019-09-04 17:15] #8546 closed

[2019-09-04 20:56] bobsilverberg commented on #8533
I'm going to reuse the code we now (or rather will) have that determines if a link is an internal or external link, to decide whether to open the link in a new tab or not.

[2019-09-04 21:47] kumar303 commented on #4235
It would be nice to automate this for regressions. I re-ran them today out of curiosity. It's quite a bit slower.

* [Homepage median load time: 5.9s](https://www.webpagetest.org/graph_page_data.php?tests=190904_4H_2db166d90d478b994809f770847451f8&medianMetric=SpeedIndex)
* [Search results ("adblock") median load time: 5.6s](https://www.webpagetest.org/graph_page_data.php?tests=190904_VB_f640c8fbe

[2019-09-05 07:54] ioanarusiczki commented on #8546
@bobsilverberg Understood. I had no information about the[ Android user](https://github.com/mozilla/addons-frontend/issues/8546#issuecomment-527983778) so it looked like an issue that needed discussions.

[2019-09-05 11:30] #8537 closed

[2019-09-05 12:14] bobsilverberg commented on #8546
Definitely, @ioanarusiczki, thanks for filing the issue!

[2019-09-05 13:57] AlexandraMoga commented on #8540
@kumar303 @bobsilverberg looks like this patch will enter with this week's push, yet the milestone was set for next week.

In any case, the layout does look better with the new position, my only objection being the blank space left on the right side of the InstallWarning. I've read the conclusion from  https://github.com/mozilla/addons-frontend/pull/8541#issuecomment-527548027 and it looks like, f

[2019-09-05 14:27] ruchikabgosain commented on #8542
hey! @kumar303 is this issue available? let me know if I can take this up, and what changes would I need to make :)

[2019-09-05 15:07] ioanarusiczki opened #8554 "The layout in guidelines is not correct when the screen is resized for a long unbroken addon name"
This is an edge case - I don't think it could be applicable on prod but FYI:
1. I edited the name of an addon aprox 560 px in length
2. Resized screen

Expected result:
No layout issues.

Actual result:
The recommended badge and install button looks cut.

Notes:
The issue is not reproducible with a 560 px in length addon name which contains spaces.

![layout cut](https://user-images.githubusercont

[2019-09-05 15:48] bobsilverberg commented on #8540
Oops, thanks @AlexandraMoga. I updated the milestone.

[2019-09-06 12:08] bobsilverberg opened #8557 "Update link from InstallWarning"
Currently, the warning that appears for non-recommended add-ons contains a link which points to https://support.mozilla.org/en-US/kb/recommended-extensions-program. While this seems like the correct page, @diox suggested that we should point to the anchor for "What are the risks of installing non-Recommended extensions?", i.e., https://support.mozilla.org/en-US/kb/recommended-extensions-program#w_

[2019-09-06 15:29] bobsilverberg opened #8558 "Set required parameters for URLs in the secondary hero component"
This is a follow-up to #8249

#8249 implements the Secondary Hero shelf, but does not add any parameters to the URLs on any of the cta links. According to #8249:

This issue is about adding those params.

[2019-09-06 15:37] bobsilverberg opened #8559 "Send a tracking event when a Secondary Hero cta is clicked"
This is a follow-up to #8249

#8249 implements the Secondary Hero shelf, but does send the tracking event. According to #8249:

This issue is about adding that event.

[2019-09-06 19:26] kumar303 commented on #8542
Hi @ruchikabgosain. Thanks again for your interest. We mark issues with [`contrib: welcome`](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome) when we think they are ideal for contributors. Did you find anything in there? Even if someone commented on one already, if it's an old comment then they probably aren't working on it.

This issue about Flow coverage is very involved a

[2019-09-06 19:42] jvillalobos commented on #8557
Sounds okay to me, but @caitmuenster is more familiar with SUMO, so it should be her call.

[2019-09-06 19:54] ruchikabgosain commented on #8542
Okay! thankyou @kumar303 for this :) would find something that suits me.

[2019-09-08 02:58] Ahmedaden471 opened #8560 "Data"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-09 08:08] Ngash10 opened #8561 "ok"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-09 08:41] #8561 closed

[2019-09-09 09:01] willdurand commented on #8559
@bobsilverberg could you please add labels/projects to this issue? Thanks?!

[2019-09-09 09:02] #8560 closed

[2019-09-09 12:52] ken1998-dotcom opened #8562 "netflix"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-09 12:55] bobsilverberg opened #8563 "Create a shared function which generates an addon URL"
There are a number of places in our code where we generate an add-on URL using

[code]

Some examples include `HeroRecommendation`,  `SearchResult`, `AddonReviewList`, `AddonSummaryCard`, and `AddonTitle`.

We should create a shared function (which should probably live in `src/amo/utils/index.js`) which accepts a `slug` and returns this `addonURL` and then make use of that function everywhere that

[2019-09-09 13:08] #8562 closed

[2019-09-09 16:11] #8538 closed

[2019-09-09 20:07] #8532 closed

[2019-09-09 21:46] caitmuenster commented on #8557
So sorry for the delayed response on this! Yes, we are good to link to https://support.mozilla.org/kb/recommended-extensions-program#w_what-are-the-risks-of-installing-non-recommended-extensions; some copy edits are needed to that section but Jorge and I can handle those

[2019-09-10 04:38] Williamsanderson123 opened #8567 "The Seo Doctor"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-10 04:39] Williamsanderson123 opened #8568 "The Seo Doctor"
Is your business not running well? lets change your market and Hire The Seo Doctor for First-Page ranking in Google that boost your business in the online market.visit this website=>[http://www.hireseodoctor.com/](http://www.hireseodoctor.com/)

![Hireseodoctor 2](https://user-images.githubusercontent.com/53036728/64584618-1f585480-d3b3-11e9-9b99-8185d3af73ce.png)

[2019-09-10 05:51] AlexandraMoga commented on #8537
@bobsilverberg the `src=homepage-primary-hero` parameter has been appended to the call to action button, as demonstrated below:

![2019-09-09_17-36-02](https://user-images.githubusercontent.com/31961530/64587189-28432900-d3a7-11e9-9d23-3b9a04d99cc7.gif)

Apart from the call to action URL, we are also linking to the developer profile page, but here there are no parameters sent.
I'm not sure how rel

[2019-09-10 07:04] #8568 closed

[2019-09-10 07:04] #8567 closed

[2019-09-10 12:03] #8557 closed

[2019-09-10 12:09] bobsilverberg commented on #8537
Ah, good catch. I'm also not sure if we need to add that to the developer profile page links, so let's ask Jorge.

@jvillalobos:

Because we are reusing a component `AddonTitle` in order to display the name of the add-on with the authors, the author names become links to the authors' profile pages. Some questions:

1. Is it okay for these to be links in the Primary Hero shelf?
2. If they remain li

[2019-09-10 13:16] AlexandraMoga commented on #8538
The following events are sent when clicking the CTA link in the primary hero:

Internal links:
`sendEvent {"hitType":"event","eventCategory":"AMO Primary Hero Clicks","eventAction":"/addon/view-page-archive-cache/?src=homepage-primary-hero"}`

External links:
`sendEvent {"hitType":"event","eventCategory":"AMO Primary Hero Clicks","eventAction":"https://outgoing.stage.mozaws.net/v1/2170f83bc74cfece

[2019-09-10 13:32] AlexandraMoga commented on #8532
Verified fixed on -dev

![image](https://user-images.githubusercontent.com/31961530/64618146-67459e80-d3e8-11e9-9834-981e5505f5d2.png)

[2019-09-10 13:51] AlexandraMoga commented on #8557
Verified fixec on -dev:

![2019-09-10_16-44-49](https://user-images.githubusercontent.com/31961530/64619725-3adf5180-d3eb-11e9-86a8-bbac2383217e.gif)

[2019-09-10 14:24] rbrishabh commented on #8563
Hwy! Can I take this up?

[2019-09-10 15:04] bobsilverberg commented on #8563
Yes, @rbrishabh, you may. What you need to know should be included in the description above. Please note that a test should also be added for the new function that you will be creating as part of this patch. Thanks!

[2019-09-10 15:14] #8533 closed

[2019-09-10 15:20] rbrishabh commented on #8563
Alright! Thank you!

[2019-09-10 18:48] jvillalobos commented on #8537
I'd rather we stick to the original design and not show author names. Would those names also appear in the case of unlisted add-ons?

[2019-09-10 20:21] kumar303 opened #8572 "Home hero data is fetched twice"
### Describe the problem and steps to reproduce it:

* Clear cache
* Go to any non-home page such as https://addons-dev.allizom.org/en-US/firefox/addon/adblock-plus/?src=featured
* Open the Network panel and clear all network requests
* Click on the Firefox icon to navigate home
* Watch the Network panel

### What happened?

The hero data is fetched twice:

<img width="501" alt="Screenshot 2019-09

[2019-09-10 20:29] Ashpabb opened #8573 "Link to FireXPath from MDN Web XPath Doc is bad"
### Describe the problem and steps to reproduce it:

Was  reading MDN XPath web doc (https://developer.mozilla.org/en-US/docs/Web/XPath) and clicked through to FireXPath which is link on the right column.

### What happened?

Got to add-on 404 esque page: https://addons.mozilla.org/en-US/firefox/addon/11900/

### What did you expect to happen?

Wanted to find the add-on :D

### Anything else we sh

[2019-09-11 05:53] AlexandraMoga commented on #8572
@kumar303 there was already an issue filed for this in https://github.com/mozilla/addons-frontend/issues/8512, so I guess this one is a duplicate.

[2019-09-11 09:35] AlexandraMoga commented on #8533
Verified fixed on -dev

![2019-09-11_12-24-34](https://user-images.githubusercontent.com/31961530/64685941-84ce4300-d490-11e9-8fff-ccf703c5a021.gif)

[2019-09-11 11:09] bobsilverberg commented on #8572
Thanks @AlexandraMoga. I *thought* this was already filed, but it seems I failed to triage it. Maybe we can keep this one open as it contains some technical details and mark #8512 as a duplicate?

@kumar303 I did look into this when I saw #8512 filed and was confused about why this was happening. It's true that we can, and probably should, deal with this via an `isLoading` flag, but do you have an

[2019-09-11 14:32] brianwheatley opened #8574 "Okta Plugin Not Available"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

When attempting to install the OKTA plugin to Firefox, I receive the page in the screenshot below. Did this plugin get removed?
![2019-09-11 10_32_17-Window](https://user-images.githubusercontent.com/19884329/64706441-74fa3300-d47f-11e9-8d03-ee78bc6ef821.p

[2019-09-11 15:11] willdurand commented on #8573
cc @caitmuenster

[2019-09-11 15:11] #8573 closed

[2019-09-11 15:11] #8574 closed

[2019-09-11 15:12] willdurand commented on #8512
marking this one as dup of #8572 even if this one was filed before.

[2019-09-11 15:12] #8512 closed

[2019-09-11 15:19] brianwheatley commented on #8574
Why did this get closed without a response?

[2019-09-11 15:33] brianwheatley commented on #8574
Ok. Just a heads up, this is where the link takes you when you click on "file an issue" on that Firefox page that is attached.

[2019-09-11 15:35] wagnerand commented on #8574
Please also see the text above the link on that page.

[2019-09-11 16:18] kumar303 commented on #8572
@AlexandraMoga sorry! I missed the issue you filed.

@bobsilverberg you can see it happen every time using the STR up above (which would happen client side or server side). You can look at the console log screenshot I posted to see exactly why. There are several subsequent dispatches after the first fetch which trigger updates in `pages/Home` and that in turn triggers the second fetch. This is a t

[2019-09-11 17:02] willdurand opened #8575 "Support wildcards in `hasPermission()`"
The `hasPermission()` function only matches entire permission values (i.e. very specific permissions like `Addons:Edit`) but some users have broader permissions like `Addons:*`.

https://github.com/mozilla/addons-frontend/blob/a6fa499287246a417bcf794bd7351f875416317d/src/amo/reducers/users.js#L443-L462

We should support permission values that contain wildcards so that users with the `Addons:*` pe

[2019-09-12 04:31] akokcam opened #8579 "Hootsuite hootlet extension link"
I could not install Hootsuite Hootlet from this [link](https://addons.mozilla.org/en-US/firefox/addon/49899/). It is broken.

[2019-09-13 14:17] willdurand opened #8586 "Disable `StrictMode` by default and log a message when it is enabled"
We use `StrictMode` to help us debug potential issues in development. It has been added in https://github.com/mozilla/addons-frontend/issues/6189.

In https://github.com/mozilla/addons-frontend/issues/6694, we introduce a config flag to enable/disable it but it is turned on by default in our config. `StrictMode` won't be executed in production because it respects `NODE_ENV=production`.

**Proposal

[2019-09-13 19:06] kumar303 commented on #8248
I thought I'd seen a mock somewhere that showed the same noodle SVG but with different colors. Now that I look at Sketch again, I can't find an example of that.

The only reason I put the SVG inline was so that we could apply styles to change colors *within* the SVG. Without that need, it wouldn't need to be inline.

[2019-09-14 03:36] Arif7362 opened #8589 "surfe.be"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-15 08:35] alimirtalaei opened #8590 "ftp"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-15 11:44] #8590 closed

[2019-09-15 14:06] xu3u4 commented on #3410
Hello!
I just sent a PR, please check 🙂

[2019-09-16 10:07] AlexandraMoga commented on #8537
The api response for unlisted primary heroes (as noted in https://github.com/mozilla/addons-server/issues/11882#issuecomment-518191063) doesn't contain the `author` object, so, normally, the fronted doesn't expose it either.

I can file a follow up issue to also exclude author names for listed primary heroes if this what we have in the requirements.

@bobsilverberg can you work around this in the

[2019-09-16 13:30] willdurand opened #8595 "Expose site status"
addons-server now exposes site status data (_via_ https://github.com/mozilla/addons-server/issues/11493). We should display the data in the frontend now :)

We'll use a `Notice`, like the `SurveyNotice` and we'll need api/saga/reducer code to fetch/load the status data.

[2019-09-16 14:39] bobsilverberg commented on #8537
Thanks @AlexandraMoga and sorry for the late reply @jvillalobos. I added the author names based on a mock, but I can certainly remove them. In answer to your question, no, currently the author names only appear for listed add-ons, not unlisted add-ons, but I will remove them.

@AlexandraMoga this will not require any API changes, but if you could file an issue to exclude the author names from the

[2019-09-16 17:18] #8595 closed

[2019-09-16 17:22] #8589 closed

[2019-09-16 18:24] willdurand opened #8599 "Allow some HTML tags in `SiteNotices`"
In https://github.com/mozilla/addons-frontend/issues/8595, we added a `SiteNotices` component that is used to display `site_notice`.

We should allow some HTML tags like links (at least) so that admins can update the `site_notice` Config object (zadmin) with links to support URLs, SUMO, GitHub, etc.

[2019-09-16 19:30] jvillalobos commented on #8599
I think all we would have a use for is `b`, `strong`, `i`, `em`, and `a`.

[2019-09-16 19:55] bobsilverberg opened #8601 "Reload the Primary Hero shelf every time the home page is displayed"
Currently, we load the data for the Primary Hero shelf the first time the home page is accessed, and we store it in the redux state. When the home page is visited again, in the same tab/session, it detects that the data is already loaded and does not fetch the data again. The result of this is that the Primary Hero shelf will never change for a given session unless the user manually refreshes the

[2019-09-16 19:59] bobsilverberg commented on #8601
In terms of implementation, it was suggested that we could use the `LOCATION_CHANGE` action to clear the data for the hero shelf, which would then indicate to the home page that it needs to refetch that data if and when it is revisited.

There is also a question about whether we should separate the actions that fetch and load the hero data from the other actions that fetch and load the other home

[2019-09-16 20:50] willdurand commented on #8599
@kumar303 based on ^ I believe we could use (to keep some consistency): https://github.com/mozilla/addons-frontend/blob/b3eff6926b8b2b94eb5b09cd489f464504439406/src/core/utils/index.js#L122-L138

[2019-09-16 21:19] kumar303 commented on #8599
Yep, agreed

[2019-09-17 10:16] AlexandraMoga opened #8604 "Listed primary heroes should not display the author name"
Follow up for #8537

### Describe the problem and steps to reproduce it:
Listed primary heroes are currently exposing the author name which is also a link to the developer profile page.  As stated in https://github.com/mozilla/addons-frontend/issues/8537#issuecomment-530070467, we shouldn't be displaying author names for listed add-ons either.

[2019-09-17 10:17] AlexandraMoga commented on #8537
@bobsilverberg filed #8604 as a followup.

[2019-09-17 11:23] AlexandraMoga commented on #8563
@bobsilverberg is there something specific that we should be testing here, or should we keep an eye on regressions across the site?
Thanks

[2019-09-17 12:26] bobsilverberg commented on #8563
Code was changed in a number of places, but it's all using the same new function. It's the code that generates a URL that points to an add-on. If you look at the list of changed files in #8571 you'll see which pages have changed. Are you able to do that, or would you like me to compile a list for you?

[2019-09-17 13:15] bobsilverberg opened #8605 "Update code that interacts with Google Analytics to use sendBeacon"
The script that we use for interacting with Google Analytics (GA) has an [option](https://developers.google.com/analytics/devguides/collection/analyticsjs/sending-hits#specifying_different_transport_mechanisms) that allows us to specify we want it to use [`sendBeacon`](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/sendBeacon) as its transport mechanism.

Using `sendBeacon` will minimi

[2019-09-17 13:17] bobsilverberg commented on #8605
I'm marking this as P1 as it would be nice to get it into this week's push in order to see how much, if any, it improves the numbers being collected by the Install Warning A/B test.

[2019-09-17 13:18] willdurand commented on #8605
@muffinresearch I think this would also allow us to remove the google domain in the CSP config, no?

[2019-09-17 14:06] AlexandraMoga commented on #8563
@bobsilverberg I think you are referring to the affected files mentioned in https://github.com/mozilla/addons-frontend/pull/8571#issuecomment-530049562 . If that is the case, I  know what we are expected to test.

[2019-09-17 14:18] bobsilverberg commented on #8563
Correct! Thanks @AlexandraMoga!

[2019-09-17 15:07] muffinresearch commented on #8605
You'll need to remove from `img-src` and add to `connect-src`

[2019-09-17 15:14] muffinresearch commented on #8605
From the extension workshop it will need `https://www.google-analytics.com/r/collect` and  `https://www.google-analytics.com/collect`. On that I just used `https://www.google-analytics.com` for simplicity.

[2019-09-17 15:40] #8599 closed

[2019-09-17 15:48] willdurand opened #8607 "HeroRecommendation story in our Storybook is broken"
The Storybook story for the `HeroRecommendation` is currently broken: https://mozilla.github.io/addons-frontend/?path=/story/herorecommendation--default

[2019-09-17 15:48] willdurand commented on #8607
cc @bobsilverberg

[2019-09-17 15:58] willdurand commented on #8605
Wouldn't it be nice to restrict the paths as much as we can?

[2019-09-17 16:04] muffinresearch commented on #8605
Certainly you could to limit things as much as possible, but this does mean if there are changes to send beacons to other paths it will be blocked.

[2019-09-17 16:55] #8605 closed

[2019-09-17 17:52] #8249 closed

[2019-09-17 19:59] kumar303 commented on #8607
Can the Flow types do anything differently to have caught something like this?

[2019-09-17 20:09] #8604 closed

[2019-09-18 00:52] MaverickHunter07 opened #8612 "DotVPN Extension error for FireFox"
### Describe the problem and steps to reproduce it:
Go to https://dotvpn.com/en/download/firefox/
Click on download for firefox.

### What happened?
Link doesn't work for DotVPN Firefox.
### What did you expect to happen?
It should have took me to the extension page for DotVPN.
### Anything else we should know?

https://dotvpn.com/en/download/firefox/
https://addons.mozilla.org/en-US/firefox/addon

[2019-09-18 07:11] willdurand opened #8613 "Add Triqui (trs), update name for ca-valencia"
We're in the process of adding trs and ca-valencia to Firefox 71, we need trs added in order to show the language pack on the page.

The decode name is Nánj nï'ïn.

**For QA:**

- please verify that the native valencia locale name has been updated (capitalized)
- if there is a langpack for `trs`, it should appear in the list

[2019-09-18 07:23] #8613 closed

[2019-09-18 07:37] #8066 closed

[2019-09-18 08:28] willdurand commented on #8607
@kumar303 I think that's because `createHeroShelves()` and `createPrimaryHeroShelf()` are not covered with Flow because they live in `tests/unit/helpers.js`.

[2019-09-18 11:48] muffinresearch commented on #8612
Unfortunately this add-on isn't available as a web extension for Firefox hence the 404. Your best course of action is to ask the developers of that add-on for support.

[2019-09-18 11:48] #8612 closed

[2019-09-18 12:27] muffinresearch opened #8616 "Markup in site notice causes issues in server render"
If you go to https://addons-dev.allizom.org you'll notice the site banner flashes up larger and then reduces in height when the JS kicks in.

Server rendered markup screenshot (with JS disabled):

<img width="749" alt="Add-ons_for_Firefox__en-US_" src="https://user-images.githubusercontent.com/1514/65148094-6bd90b00-da17-11e9-864d-0ec785587a10.png">

SiteNotice passes a div to Notice:

https://git

[2019-09-18 12:53] #8575 closed

[2019-09-18 13:18] #8616 closed

[2019-09-18 13:29] willdurand opened #8618 "All the integration tests run on Circle CI are broken"
All the integration tests run on Circle CI are broken after https://github.com/mozilla/addons-frontend/pull/8569.

It could be because there is no data for the hero shelves in the addons-server docker env, but I am not sure.

[2019-09-18 13:29] willdurand commented on #8618
cc @jrbenny35

[2019-09-18 13:35] ioanarusiczki commented on #8605
@bobsilverberg
I verified on dev and stage with FF69(Win10).
The GA event is available as shown here https://user-images.githubusercontent.com/142755/65063652-af1a7780-d94c-11e9-997a-4bd7a22af068.png

I should detail the things noticed while testing which did not seem alright to me :
- I see the  beacon GA event posted twice when I navigate from Homepage to Extension tab -> Extensions categories->

[2019-09-18 14:30] vcarciu commented on #8595
Verified as fixed during the push from Monday (09/16/2019).

[2019-09-18 14:54] ioanarusiczki commented on #8599
@willdurand Looks good to me.
I went in Zadmin to the `site_notice` key and tested the `b`, `strong`, `i`, `em`, and `a` html tags.

Zadmin:

![Zadmin](https://user-images.githubusercontent.com/33448286/65159659-1b74a400-da3d-11e9-9109-7f80ba3b260a.png)

Result on frontend:

![frontend](https://user-images.githubusercontent.com/33448286/65159727-347d5500-da3d-11e9-89fb-84ab2d2bf314.png)

Result on

[2019-09-18 15:03] willdurand commented on #8554
@ioanarusiczki what happens if you resize and then reload the page? Also, does it happen with Chrome? I remember issues about FF not keeping up with the resize.

[2019-09-18 15:06] kumar303 commented on #8607
Sure but `shelfData` gets passed as a [prop from the story](https://github.com/mozilla/addons-frontend/blob/2b4295f8f0be86438f9e9325ca7c76e711a051d9/stories/amo/HeroRecommendation.js#L13) into the [component prop](https://github.com/mozilla/addons-frontend/blob/2b4295f8f0be86438f9e9325ca7c76e711a051d9/src/amo/components/HeroRecommendation/index.js#L23) so it seems like that would enforce the objec

[2019-09-18 15:10] willdurand commented on #8607
I don't think Flow is able to infer anything from the test package, so when it looks at [the shelf type](https://github.com/mozilla/addons-frontend/blob/51590af5ef01bbc66a961254f5063b35a0d3ae8d/src/amo/reducers/home.js#L62-L76) and at what the helper function returns, it cannot determine if it is compatible or not, no?

[2019-09-18 15:19] bobsilverberg commented on #8607
I think there was a suggestion at some point to add Flow coverage to `tests/unit/helpers.js`, but I think it would be a pretty big job, and considering that none of our tests have Flow coverage, of limited value.

I wonder if we should have functions that return data used by stories in a different file that *is* covered by Flow?

[2019-09-18 15:37] bobsilverberg commented on #8605
I think this is okay. An individual page will often send multiple beacons if it is sending multiple events, and/or setting dimensions. There's no reason to expect that only a single beacon will be sent. I checked an extension page on stage and saw 3 beacons sent, but when I look at the data sent for the beacon I can explain why those 3 are present.

These are odd. Are we sure that these were not p

[2019-09-18 17:10] kumar303 commented on #8607
I see. Maybe this (type safety in stories) is a good reason to move some data creation helpers into a Flow file.

[2019-09-18 17:44] bobsilverberg commented on #8542
Note: After reviewing the team's Q4 goals with @muffinresearch, we added this as a secondary goal. If time and resources permit this could be something that could be addressed in Q4.

[2019-09-18 17:48] #8601 closed

[2019-09-18 18:01] bobsilverberg opened #8619 "Deal with the jumpiness when navigating to the home page"
This is a follow-up to #8601.

Here is what it looks like when navigating to the home page from a non home page:

![Sep-18-2019 13-58-32](https://user-images.githubusercontent.com/142755/65173383-a002fa80-da1c-11e9-9474-7446bab85dc7.gif)

Note that this is exacerbated by #8601, but was already happening even before that landed if a user landed on the site at any page that was not the home page and

[2019-09-18 19:56] MaverickHunter07 commented on #8612
Ok, will do!

On Wed, Sep 18, 2019 at 7:48 AM Stuart Colville <notifications@github.com>
wrote:

[2019-09-18 19:58] muffinresearch opened #8620 "CSP errors related to preload/prefetch code"
There are some CSP errors observed on page loads on -dev and stage.

[code]

These appear to be because of the following markup:

[code]

You also see:

[code]

`prefetch-src` is currently set to: `https://addons-stage-cdn.allizom.org`

FF doesn't support `prefetch-src` in CSP and falls back to `default-src`.

The fix here would be to fix `prefetch-src` (for chrome) to have the right values, and i

[2019-09-18 20:36] willdurand commented on #8620
I am confused, the CDN variables don't seem correct in the config and there is a different `staticHost` variable in each config... That's why the values are all incorrect :/

[2019-09-18 21:00] muffinresearch commented on #8620
There's the CDN for addons-frontend statics (addons-amo-cdn.allizom.org), and the CDN for the django side of AMO (addons-stage-cdn.allizom.org). I think the two were potentially confused  when code-splitting was configured.

Both are needed for images since API responses point to images from both locations, but for other statics (CSS, and script) only the frontend related CDN endpoints (`addons-am

[2019-09-18 21:01] willdurand commented on #8620
Oh, I see. I forgot about these two CDNs... I'll update the CSP config.

[2019-09-18 21:02] muffinresearch commented on #8620
We should probably also rename the vars to make this clearer for our future selves at the same time.

[2019-09-18 21:47] willdurand commented on #8620
This issue could explain https://github.com/mozilla/addons-frontend/issues/7144 and/or https://github.com/mozilla/addons-frontend/issues/7208

[2019-09-18 22:44] jvillalobos commented on #6899
I don't think we'll ever fix this, and we expect to take a different approach for Fenix.

[2019-09-18 22:44] #6899 closed

[2019-09-18 22:56] jvillalobos commented on #6422
This would be nice to have for accessibility.

[2019-09-18 23:00] jvillalobos commented on #6452
We're dropping Akismet.

[2019-09-18 23:00] #6452 closed

[2019-09-18 23:00] jvillalobos commented on #7327
This seems to be fixed already.

[2019-09-18 23:00] #7327 closed

[2019-09-18 23:10] jvillalobos commented on #7615
Language pack duplication shouldn't be a problem in prod now.

[2019-09-18 23:10] #7615 closed

[2019-09-18 23:23] jvillalobos commented on #4759
Fixed already.

[2019-09-18 23:23] #4759 closed

[2019-09-18 23:25] jvillalobos commented on #3756
We're not doing this, for the reasons given by Kumar.

[2019-09-18 23:25] #3756 closed

[2019-09-18 23:39] jvillalobos commented on #3845
Must have been fixed a while ago.

[2019-09-18 23:39] #3845 closed

[2019-09-18 23:43] jvillalobos commented on #5182
We're dropping the search tool type soon, so we won't need this anymore.

[2019-09-18 23:43] #5182 closed

[2019-09-19 04:04] ItielMaN commented on #7014
Well, this is still an issue.
Also, I'm not sure if this I'd valid to RTL languages only.

[2019-09-19 08:31] ioanarusiczki commented on #8605
@bobsilverberg I don't see the UI being affected by this.

Those 4 files with 0B which are blocked on dev/stage have de domain `https://addons-amo-cdn.allizom.org/`
On prod the domain is `https://addons-amo.cdn.mozilla.net/`

Stage after page refresh

![AMO stage](https://user-images.githubusercontent.com/33448286/65226980-84f1c280-dad0-11e9-86c8-280f49c1c443.png)

Prod after page refresh

![AMO p

[2019-09-19 09:55] muffinresearch opened #8623 "Update primary hero gradient to be full-width of viewport"
Via feedback from Emanuela:

The primary hero gradient should be updated to be full width across the viewport. ~~The swoosh will also move left, which means on a wider page it won't overlay the image.~~ Update: Swooshes are being deprecated so this can be removed.

The content of the primary hero will stay centred and limited to the max-width as per the rest of the content currently.

The padding/

[2019-09-19 10:28] #8620 closed

[2019-09-19 11:39] muffinresearch commented on #8605
@ioanarusiczki I raised a separate bug here to deal with those errors which should now be fixed: https://github.com/mozilla/addons-frontend/issues/8620

[2019-09-19 11:52] bobsilverberg commented on #8623
Thanks @muffinresearch. This looks like the original mocks, and at some point it was decided that doing this was out of scope at this time. I guess that has changed?

[2019-09-19 12:10] Eddie965 opened #8625 "Video DownloadHelper"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-19 12:11] Eddie965 opened #8626 "Video DownloadHelper"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-19 12:49] ioanarusiczki commented on #8620
@muffinresearch
I checked on dev and I don't see the errors present in the Console

![fixed on dev](https://user-images.githubusercontent.com/33448286/65245257-ec216e00-daf4-11e9-976a-483d7fd30b04.png)

The network.prefetch-next is set on true in about:config

[2019-09-19 12:51] ioanarusiczki commented on #8605
@bobsilverberg
This issue is verified on dev and stage with FF69(Win10).
Also https://github.com/mozilla/addons-frontend/issues/8620 was verified on dev.

[2019-09-19 13:44] #8626 closed

[2019-09-19 13:45] #8625 closed

[2019-09-19 13:49] willdurand commented on #7144
FF does not allow preloading but it should allow prefetching. In FF Nightly, I got it working thanks to https://github.com/mozilla/addons-frontend/issues/8620, I guess.

By browsing the homepage with cache disabled (or no cache at all), we see 4 requests and the `x-moz: prefetch` header:

![Screen Shot 2019-09-19 at 15 47 00](https://user-images.githubusercontent.com/217628/65249817-e6c42380-daf4-

[2019-09-19 13:49] #7144 closed

[2019-09-19 13:50] willdurand commented on #7208
I think this is fixed in Nightly.

[2019-09-19 13:50] #7208 closed

[2019-09-19 14:06] #5426 closed

[2019-09-19 14:11] muffinresearch commented on #8623
Yeah, the intent to have this full-width wasn't obvious initially back when we were trying to pull this together quickly as a static version. Based on how Emanuela has described it I think it should work, it just will require some refactoring of markup to allow for it.

[2019-09-19 14:17] AlexandraMoga commented on #8563
I haven't noticed regressions in the pages that were likely to be affected by these change.
I'm marking the issue as verified fixed.

[2019-09-19 15:22] muffinresearch commented on #8623
@bobsilverberg note the update to the issue - based on the frontend review call the swoosh (aka noodles) are now deprecated so that can just be removed.

[2019-09-19 15:29] bobsilverberg commented on #8623
@muffinresearch I just want to clarify: we're removing the decorations/swooshes entirely now?

[2019-09-19 15:38] bobsilverberg commented on #8248
It's been decided that we should remove the decorations entirely, so this issue is no longer relevant.

[2019-09-19 15:38] #8248 closed

[2019-09-19 15:40] bobsilverberg opened #8628 "Remove decorations (swoosh) from Primary Hero shelf"
As mentioned at https://github.com/mozilla/addons-frontend/issues/8623#issue-495695478, we are no longer going to include the decorations (e.g., the swoosh) in the Primary Hero shelf.

[2019-09-19 15:42] muffinresearch opened #8629 "Different layout for primary hero based on primary image"
This issue is a follow-up from the frontend review call.

If a photo isn't provided for the primary hero. It should change the layout to centred like so:

<img width="802" alt="Add-ons_Front_End_Review_-_Meeting_Notes_-_Google_Docs" src="https://user-images.githubusercontent.com/1514/65259209-39eda480-dafc-11e9-9520-972752f8719e.png">

If the admin requires an image, this will need to be relaxed o

[2019-09-19 15:52] eviljeff commented on #8629
It does, as per ["The checkbox shouldn't be toggled on if the other two properties haven't been set"](https://github.com/mozilla/addons-server/issues/11830)

[2019-09-19 15:59] bobsilverberg commented on #8629
Right, so we now need that to allow a `null` for featuredImage.

[2019-09-19 18:18] muffinresearch commented on #8623
Yes.

[2019-09-19 19:59] devaneymoz opened #8631 "new homepage primary hero area - accommodating non-photo imagery"
The new homepage primary hero area was built to require the use of an image ([PRD](https://docs.google.com/document/d/12aD_v5AOj1Y6VmT4xOuyNcrKfZxqhP8R_AOHroQVLV8/edit#)). However we now realize that using stock photos to represent all extensions promoted in the hero area will pose problems given that only a relatively small pool of images will realistically be available to choose from; and as a r

[2019-09-19 20:03] #8631 closed

[2019-09-20 08:41] muffinresearch commented on #8629
@eviljeff thanks for confirming, I've filed https://github.com/mozilla/addons-server/issues/12403 to cover it.

[2019-09-20 09:23] ioanarusiczki opened #8632 "The View Site links on Android have the same color as the rest of the text"
STR:
1. On an Android device the links  `<a href="https://youtu.be/w_lCi8U49mY">Click the following link </a>` or `  <a href="https://support.mozilla.org/en-US/kb/recommended-extensions-program">Visit SUMO </a>`

 could be more visible if they'd look like on Desktop

Android

![Links are black](https://user-images.githubusercontent.com/33448286/65315466-d5d0ec00-dba0-11e9-8ad7-dbe602985049.jpg)

D

[2019-09-20 09:43] willdurand commented on #8632
I don't know if it is our CSS or platform-specific.

[2019-09-20 09:50] willdurand opened #8633 "Error _promiseRejectionHandler in Sentry"
https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/issues/6074703/

[code]

**For QA:** It is possible to reproduce by:

1. loading a product page for a webextension
2. clicking the install button
3. cancelling the install process

With these STRs, we get the error in the console.

Such issues are not new apparently (first seen in 2019.07.18) but we see more than before it seems. I

[2019-09-20 09:52] willdurand commented on #8633
A lot of events appear around September 5, which is when we enabled the warning experiment in prod: https://addons-pm.herokuapp.com/milestones/2019.09.05/?dir=asc&sort=assignee

[2019-09-20 12:35] willdurand opened #8634 "Pass `NODE_CONFIG_ENV` to the discopane instances"
In https://github.com/mozilla/addons-frontend/issues/5898, we added the `NODE_CONFIG_ENV` but it is only set for AMO and not on the discopane instances. We should pass `NODE_CONFIG_ENV` to the discopane instances.

For the discopane app, we should have the following env variables:

- `NODE_ENV` always set to `'production'` (I believe it is already the case)
- `NODE_CONFIG_ENV` set to the deployed

[2019-09-20 12:54] bobsilverberg commented on #8633
Do we know what exactly is causing this error, or do we only have an STR at this point?

[2019-09-20 12:55] willdurand commented on #8633
Yes, I added STRs in the original issue.

[2019-09-20 12:56] willdurand commented on #8633
I think the cause is the promise rejection when we call `install()` on the `mozAddonManager`.

[2019-09-20 20:31] virgilt commented on #8632
@ioanarusiczki @willdurand May I work on this issue?

[2019-09-20 20:37] willdurand commented on #8632
@virgilt go for it!

[2019-09-20 20:44] virgilt commented on #8632
@willdurand Thank you!

[2019-09-21 10:02] buttercookie42 opened #8726 "Android main page of an add-on offers latest (incompatible) version instead of older (but compatible) version"
### Describe the problem and steps to reproduce it:
Basically issue mozilla/addons#120, but this time concerning the split between Android and Desktop, where significant differences in API support still remain (and whereas we didn't have separate pages/URLs for older and newer Firefox versions, we *do* have separate URLs for Desktop and Android).

### What happened?
I.e. when the latest version of

[2019-09-21 12:37] virgilt commented on #8632
@willdurand I'm having trouble with this one. Trying to emulate it in Android Studio on my Linux machine, by following the docs https://mozilla.github.io/geckoview/contributor/geckoview-quick-start

Can't get past Bootstrap Gecko. Are there any chats or place with more information?

[2019-09-21 12:57] willdurand commented on #8632
@virgilt hey, so there is no need for Android Studio. This is a web app with an Android version, but this version is still web-based.

You can get started by following these instructions:

- clone this repository
- run `yarn`
- run `yarn amo:dev`

Then you can browse: http://localhost:3000/en-US/android/

Note the "android" in the url. After that you should see the websitr with the yellow banner a

[2019-09-21 18:28] virgilt commented on #8632
@willdurand finished the link color change.

[2019-09-21 19:19] #8628 closed

[2019-09-21 21:24] imadTVA opened #8640 "t"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-22 12:29] rugk commented on #8066
Is this change already live, because in my test right now, it did not work:
![grafik](https://user-images.githubusercontent.com/11966684/65387225-61837d80-dd45-11e9-8f68-10ae35e20288.png)

Ah okay, just saw the milestone… okay :smile:

[2019-09-22 20:46] willdurand opened #8642 "Always show `InstallWarning` when we could"
### Describe the problem and steps to reproduce it:

1. Make sure you are in the right cohort (`includeWarning`) so that you see the install warning banner when you browse an extension that is not recommended (and not installed)
2. Install the extension
3. Reload the page

### What happened?

The warning banner is not displayed (disappeared).

### What did you expect to happen?

The warning banner

[2019-09-23 03:43] imskr commented on #8634
I want to work on this issue!

[2019-09-23 07:11] willdurand commented on #8634
@imskr sorry, this issue is not opened to contributors.

[2019-09-23 07:11] willdurand commented on #8634
You can find issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2019-09-23 12:12] bobsilverberg commented on #8642
I recall an initial discussion where you expressed concerns about the inconsistency of this, but I don't recall a discussion where a decision was made to change it. Of course, I'm not very good at Slack, so that could explain that.

In any case, @jvillalobos, can you please confirm that our intent is to change the behaviour to show the installWarning even when the extension is already installed?

[2019-09-23 12:22] bobsilverberg commented on #8642
Thanks to @willdurand, I saw the thread on Slack where this was discussed, so I no longer need confirmation.

[2019-09-23 12:48] #8640 closed

[2019-09-23 12:49] bobsilverberg commented on #8607
Yes, that's what I was suggesting, but then it makes it more complicated to figure out from whence a helper needs to be imported when writing tests. I believe we had helpers in multiple locations at one point in this project and made an effort to centralize them, so this would be a step in the opposite direction.

Do we feel the benefit of adding type safety to stories would outweigh the pain of h

[2019-09-23 12:49] willdurand commented on #8607
Could we re-expose these data creation helpers in the main `helpers.js` file?

[2019-09-23 12:50] bobsilverberg commented on #8607
I suppose we could.

[2019-09-23 12:53] willdurand commented on #8607
That would be the best of both worlds but I phrased it as a question because we only need to keep the two files in sync and not start to use the new file in `tests/`.

[2019-09-23 13:02] bobsilverberg commented on #8607
Right. That *is* a good idea.

I am going to just fix the story for `HeroRecommendation` right now, as I have a number of higher priority issues to tackle, but I will open a follow-up to move any helpers we have that are used in stories into a separate file which is covered by Flow.

[2019-09-23 13:09] bobsilverberg opened #8646 "Ensure that helpers used in Storybook stories are covered by Flow"
In #8607 we discovered that a Storybook story was broken, but we had nothing in place to inform us of that other than stumbling across it. It was suggested that if we had full Flow coverage for stories that might have caught this issue. It is believed that the lack of complete Flow coverage is due to the fact that the helpers used by some stories are not themselves covered by Flow.

We have looked

[2019-09-23 13:09] ioanarusiczki commented on #8632
I see it reproducible on MacOS too.  - FF69

[2019-09-23 13:16] willdurand commented on #8632
ah, good catch @ioanarusiczki. So I think it was intended to have grey color on links, but maybe not by default, I am not sure.

[2019-09-23 13:17] muffinresearch opened #8647 "Log page views for client-side navigation"
Since we're server-rendering a page and after then we're using client-side navigation we don't currently appear to be tracking all page views for client-side navigation.

This means that GA is only showing us landing page data, fixing this will require us to send a page view event on page navigation events.

See the docs for details: https://developers.google.com/analytics/devguides/collection/ana

[2019-09-23 13:28] willdurand commented on #8632
@bobsilverberg WDYT? It was introduced in https://github.com/mozilla/addons-frontend/pull/7364. I think we could remove the color on the links to keep the default style?

![Screen Shot 2019-09-23 at 15 28 03](https://user-images.githubusercontent.com/217628/65429634-cce95000-de16-11e9-9155-e66bd8b347fb.png)

[code]

[2019-09-23 13:31] willdurand commented on #8647
A quick search revealed: https://github.com/react-ga/react-ga/wiki/React-Router-v4-withTracker

[2019-09-23 13:33] #8607 closed

[2019-09-23 13:55] bobsilverberg commented on #8632
Sure, that seems fine. I don't think this colour difference was intentional.

[2019-09-23 14:14] bobsilverberg commented on #8623
@brassy- Looking at the mock, it looks like the gradient now starts at the very top of the page, so the nav bar is included in the gradient, as opposed to just having a black background as it does in the current site. Is that accurate? Or will the nav bar remain solid black and only the hero area will include the gradient?

[2019-09-23 14:23] bobsilverberg commented on #8623
@brassy- More on the above: If the gradient from the hero is meant to start at the top of the screen, and therefore span across both the nav bar and the hero, how will this work on pages without the hero (which is every page other than the home page)? The colours for the gradient are currently based on data we get back from the hero API, but we shouldn't be required to call the hero API on every p

[2019-09-23 17:10] #8558 closed

[2019-09-23 17:53] bobsilverberg opened #8651 "The code for internal URLs for the hero shelves is passing full URLs to the `to` param of `Link`"
There's a bug I didn't discover until just now with the code that creates links for internal URLs for the hero shelves.

Internal URLs are defined as either a URL without a protocol (e.g., `/addon/slug/`) or a URL that points to the current host (e.g., `https://addons-dev.allizom.org/en-US/firefox/addon/soundfixer/` while on dev). The code that creates links for the hero shelves checks whether a U

[2019-09-23 18:50] virgilt commented on #8632
@willdurand Do you need me to do anything further?

[2019-09-23 20:41] jvillalobos commented on #8623
The mock seems to be combining the hero area and the Skyline rebranding, which is out of scope for this project. The header shouldn't change for now.

[2019-09-23 20:51] willdurand commented on #8632
@virgilt would you like to update your patch with the one I provided above?

[2019-09-23 20:56] willdurand commented on #8634
cc @bqbn

[2019-09-23 21:11] #8651 closed

[2019-09-23 21:26] #8559 closed

[2019-09-23 22:04] jrbenny35 commented on #8618
I'll take a look. Seems the small test suite we have on deploy jobs is also failing with some kinda 500 error.

[2019-09-23 23:11] virgilt commented on #8632
@willdurand sure, no problem!

[2019-09-24 02:38] virgilt commented on #8632
@willdurand Just want to clarify that I should remove the previous code I had written correct?

[2019-09-24 06:48] willdurand commented on #8632
yep, correct. thanks!

[2019-09-24 06:51] willdurand commented on #8651
@bobsilverberg in case you missed it, https://github.com/mozilla/addons-frontend/pull/8652#discussion_r327340829

[2019-09-24 08:04] willdurand commented on #8634
Looks like it is fixed 🎉

[2019-09-24 08:05] #8634 closed

[2019-09-24 10:13] willdurand commented on #8341
Can we? I think HSTS prevents that and it seems enforced somehow.

I don't know why we have built-in certificates/key and how we can update them, but if we do not need them anymore, let's adopt and document https://github.com/FiloSottile/mkcert

@jrbenny35 could you please look at the certs and see if we can update them in this repo? Thanks!

[2019-09-24 10:20] willdurand commented on #8647
We planned for that, it seems: https://github.com/mozilla/addons-frontend/blob/657e7e524871a67ea1b508044064d0bd796eda4b/src/core/tracking.js#L193-L202

[2019-09-24 13:22] #8633 closed

[2019-09-24 13:22] AlexandraMoga opened #8656 "External links in the secondary hero shelf are not set up as outgoing URLs"
### Describe the problem and steps to reproduce it:

1. Load AMO homepage
2. In the Secondary hero module, locate an external URL set as a call to action

### What happened?
External links are set up like this:
![image](https://user-images.githubusercontent.com/31961530/65514682-751a1a00-dee6-11e9-950d-cedfc774157c.png)

### What did you expect to happen?
External links should start with  `https:/

[2019-09-24 13:30] #8642 closed

[2019-09-24 13:31] #8572 closed

[2019-09-24 13:52] bobsilverberg commented on #8656
There is no special code in addons-frontend that is adding this "outgoing URL prefix" to the link in the Primary Hero. We are simply using the URL provided to us via the API in `external.homepage`. So I guess the server is doing something to prepend the URL? I didn't even realize this was a requirement. If it is then I guess we need to make sure the URLs for the secondary hero shelf are also prepe

[2019-09-24 14:01] AlexandraMoga commented on #8559
Verified fixed on -dev:

- example event fro internal URLs
`sendEvent {"hitType":"event","eventCategory":"AMO Secondary Hero Clicks","eventAction":"https://addons-dev.allizom.org/en-US/firefox/?src=homepage-secondary-hero"}`
- example event for external URLs*
`sendEvent {"hitType":"event","eventCategory":"AMO Secondary Hero Clicks","eventAction":"https://www.privacyend.com/firefox-privacy-add-ons/

[2019-09-24 14:12] AlexandraMoga commented on #8558
Verified fixed on -dev:

- internal URLs
`https://addons-dev.allizom.org/en-US/firefox/collections/4757633/privacy-matters/?src=homepage-secondary-hero`
- external URLs
`https://www.charactercountonline.com/?utm_content=homepage-secondary-hero&utm_medium=referral&utm_source=addons-dev.allizom.org`

[2019-09-24 14:27] ioanarusiczki commented on #7208
@willdurand This is no longer reproducible on FF69 or FF71 - tested on all AMO servers.

![no glitch ](https://user-images.githubusercontent.com/33448286/65520599-81a37000-def0-11e9-9f4d-b28e3e3b82f7.gif)

[2019-09-24 14:27] willdurand commented on #7208
awesome!

[2019-09-24 14:39] AlexandraMoga commented on #8249
On a first look, the Secondary hero module looks good. I've crossed checked it with the proposed  mock-up, and the only difference I've spotted is with the module headline not being bold (also discussed in the pull request).

![image](https://user-images.githubusercontent.com/31961530/65521444-e9a68600-def1-11e9-90e9-b7802833d483.png)

[2019-09-24 14:43] AlexandraMoga commented on #8604
Author names are no longer present for listed primary heroes:

![image](https://user-images.githubusercontent.com/31961530/65521972-b6b0c200-def2-11e9-945c-df04e30ad5ab.png)

[2019-09-24 14:49] AlexandraMoga commented on #8628
Decoration is no longer present on the primary hero card:

![image](https://user-images.githubusercontent.com/31961530/65522615-b238d900-def3-11e9-8e65-5dd1a74bc884.png)

[2019-09-24 14:52] bobsilverberg commented on #8623
Thanks @jvillalobos

[2019-09-24 15:05] AlexandraMoga commented on #8613
- For the `ca-valencia` locale

[before fix]
![image](https://user-images.githubusercontent.com/31961530/65523349-d2b56300-def4-11e9-9ba6-a1eb04c462cd.png)

[after fix]
![image](https://user-images.githubusercontent.com/31961530/65523434-f2e52200-def4-11e9-8db8-8db8091800a7.png)

For the `trs` locale, I've submitted a new lang pack and added `trs` as target_locale in admin. We'll see if it's going

[2019-09-24 15:44] AlexandraMoga commented on #8572
Verified fixed on -dev:

`/hero/` data is fetched only once
![image](https://user-images.githubusercontent.com/31961530/65527392-3cd10680-defb-11e9-8c65-a12ecaa7454c.png)

[2019-09-24 15:55] #8499 closed

[2019-09-24 16:22] AlexandraMoga commented on #8651
@bobsilverberg I've looked at links present in the Primary and Secondary heroes, but please let me know if there is anything else that you'd like to be tested.
Thanks

[2019-09-24 16:26] bobsilverberg commented on #8651
That should be good enough, thanks @AlexandraMoga!

[2019-09-24 17:03] eviljeff commented on #8656
In the other api endpoints, calls that need the outgoing wrapper around urls have to be sent with [?wrap_outgoing_links](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#get--api-v4-addons-addon-(int-id|string-slug|string-guid)-) - though the hero apis don't support this currently.  To be consistent they should probably also support `?wrap_outgoing_links` but we could just alw

[2019-09-24 18:32] kumar303 commented on #3648
This reducer was fixed at some point

[2019-09-24 18:32] #3648 closed

[2019-09-24 18:33] kumar303 commented on #2632
This would still be nice to fix. It probably shouldn't be an HOC, though.

[2019-09-24 18:43] kumar303 commented on #2221
This doesn't appear to be a frontend problem.

[2019-09-24 18:43] #2221 closed

[2019-09-24 19:28] #8629 closed

[2019-09-24 20:06] kumar303 opened #8661 "Update docs for how to develop locally in HTTPS"
These docs for running a local site in HTTPS are outdated: https://github.com/mozilla/addons-frontend/blob/master/docs/moz-addon-manager.md#developing-with-a-local-https-server-recommended

Specifically, the bundled `example.com` cert has expired.

This [PR](https://github.com/mozilla/addons-frontend/pull/8653) explains how to develop with HTTPS locally using [mkcert](https://github.com/FiloSottil

[2019-09-24 20:09] willdurand commented on #8661
We could potentially update the bundled certs only, if that is used elsewhere (ui tests I guess?)

[2019-09-24 20:11] kumar303 commented on #8661
Yes, that would be nice. I think the UI tests have been failing on master ever since the certs expired. Sigh.

[2019-09-24 20:17] kumar303 commented on #8341
Oh, heh, I filed https://github.com/mozilla/addons-frontend/issues/8661

[2019-09-24 20:18] willdurand commented on #8661
There is an issue for that https://github.com/mozilla/addons-frontend/issues/8618, for some reason, it does not seem to be related to the ssl certs, but I am not sure.

[2019-09-24 21:05] makitoal opened #8663 "Microsoft .NET Framework Assistant"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-24 21:12] kumar303 commented on #8663
Sorry if you're having trouble but this is a bug tracker for https://addons.mozilla.org/ . Please add some details if this was a bug report.

[2019-09-24 21:12] #8663 closed

[2019-09-24 21:32] oldyellor opened #8664 "Unable to update Video Downloader Pro from the developer's website"
### Describe the problem and steps to reproduce it:
On the website: https://videodownloaderpro.net/#tutorial, there is a red button at the bottom of the page that should allow you to install the latest version 1.5.0 .
When you click on it, you get another page that says "Oops! We can’t find that page";
See the page at :https://addons.mozilla.org/en-US/firefox/addon/vdp-downloader/
Therefore, we ca

[2019-09-25 05:34] rahulmea opened #8665 "https://www.futuretricks.org/bruteforce-attack-kya-hai/"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-25 07:04] #8632 closed

[2019-09-25 07:04] AlexandraMoga commented on #8601
Before this patch, in order to see the fetch-ing of the homepage hero, you had to do the steps mentioned in #8572

Now, the hero is re-fetched if you navigate away from and back to the homepage => you'll see a different primary and secondary hero:
![2019-09-25_09-52-02](https://user-images.githubusercontent.com/31961530/65576672-105ccf00-df7b-11e9-9120-98e189afc280.gif)

@bobsilverberg while testi

[2019-09-25 07:06] willdurand commented on #8632
thanks for your work @virgilt

[2019-09-25 07:19] #8665 closed

[2019-09-25 07:19] #8664 closed

[2019-09-25 07:20] willdurand commented on #8664
Sorry, there is nothing we can do. Please reach out to the videodownloaderpro folks to know why their extension is not listed anymore.

[2019-09-25 07:25] AlexandraMoga commented on #8499
Verified fixed on -dev.
The primary hero changes colour based on the configuration added in Discovery admin:

![2019-09-25_10-17-37](https://user-images.githubusercontent.com/31961530/65578563-acd4a080-df7e-11e9-844f-1052a58a2f46.gif)

[2019-09-25 08:24] AlexandraMoga commented on #8613
The language tools page has an entry for Triqui (trs):

![image](https://user-images.githubusercontent.com/31961530/65582862-de516a00-df86-11e9-9e44-47e23102c883.png)

[2019-09-25 11:54] ioanarusiczki commented on #8642
@bobsilverberg When cookie is set to `includeWarning` the message is available after installing an add-on.  Also, it is available for `Enable` state.  Verified on AMO dev with FF69(Win10).

![Brief](https://user-images.githubusercontent.com/33448286/65598517-4b272d00-dfa4-11e9-9aa8-3ce3b3d2dc0d.gif)

[2019-09-25 13:14] ioanarusiczki commented on #7144
@willdurand
I followed the steps [above](https://github.com/mozilla/addons-frontend/issues/7144#issuecomment-533139632) and got the same results on AMO Dev with FF69(Win10).

![Works for me](https://user-images.githubusercontent.com/33448286/65604131-9430ae80-dfaf-11e9-9d9e-679b847b3bae.gif)

[2019-09-25 13:21] eviljeff opened #8666 "account profile edit page should support redirecting back (and new profiles)"
Depends on https://github.com/mozilla/addons-server/issues/12479

From mozilla/addons-server#12417

addons-server can redirect to the account profile edit page with `?to=xxx/yyy` but addons-frontend will need to know what to do with the `to`, and change the button.  (In most cases, I suspect, the fxa registration will have started on frontend so the `to` will be a frontend page.  Though could also

[2019-09-25 13:33] ioanarusiczki commented on #8066
@willdurand Please add some STR for qa.
Thanks!

[2019-09-25 13:33] ioanarusiczki commented on #8575
@willdurand Can you add some STR for qa?

[2019-09-25 13:41] rugk commented on #8066
## STR
1. Attach/add an add-on entry with [this image](https://github.com/rugk/offline-qr-code/blob/master/assets/repo-card-opengraph.png) as the first one in your screenshots on AMO.
2. Tweet a link on Twitter linking to your add-on URL, or e.g. toot it on a Mastodon.

## What should happen
It should look like this:
https://github.com/mozilla/addons/issues/1055#issuecomment-494547261

## What sho

[2019-09-25 13:55] willdurand commented on #8575
@ioanarusiczki yep, sorry!

[2019-09-25 13:58] willdurand commented on #8066
@rugk is right but that won't work in -dev or stage because the [Twitter Validator](https://cards-dev.twitter.com/validator) won't work (and same for twitter.com). The `robots.txt` in these envs prevent robots to parse the pages.

You can check the generated HTML and make sure two need `meta` tags have been added for web extensions: `twitter:site` and `twitter:card`, only for the Homepage and web

[2019-09-25 14:08] ioanarusiczki commented on #8633
@willdurand
I tried to install on dev/stage addons with FF69 (win10) and if I cancel the install I receive now a red warning on the detail page and an error in the Console which is not present right now on production.

![Error on the page on dev](https://user-images.githubusercontent.com/33448286/65608376-cabdf780-dfb6-11e9-8312-776c8dfcbf59.gif)

There is an error in prod but it's only visible in

[2019-09-25 14:09] willdurand commented on #8633
Yeah, that is expected now.

[2019-09-25 14:19] ioanarusiczki commented on #8633
@willdurand Same when canceling a theme install.
Some help to understand: Is this a temporary fix ?

[2019-09-25 14:22] willdurand commented on #8633
heh, not sure 😅

I think you can open a new issue if you think the message is not accurate enough, but we do receive an error because the installation has been aborted, but we do not know why we receive an error. I think we need to ask the FF team to see why it happens like this and what we can do about it.

[2019-09-25 14:28] willdurand commented on #8633
Seeing this screencast above multiple times, I am not sure whether we want to surface this generic error message.  It is generic because we receive an empty error from the `mozAddonManager`. I suppose that's because clicking the `cancel` button rejects the install promise somewhere in FF.

@kumar303 @muffinresearch @bobsilverberg I am not a fan of surfacing this error anymore. Should we log and sw

[2019-09-25 14:41] ioanarusiczki commented on #8633
@willdurand Personally I'd prefer no error on the detail page. It's not good UX. I think it scares the user even more.

[2019-09-25 14:42] kumar303 commented on #8633
I agree with this ^

@willdurand I also agree with your idea: log a warning about the error then ignore it. We already have `onInstallFailed` which is the time to show a message. Otherwise, we don't need to show a message.

[2019-09-25 14:44] muffinresearch commented on #8633
Yep, this sounds right to me too.

[2019-09-25 14:56] willdurand commented on #8633
Ok, cool. Working on a patch for that then.

[2019-09-25 14:58] ioanarusiczki commented on #8633
@willdurand Do you reopen this issue then?

[2019-09-25 14:58] willdurand commented on #8633
Could you please a separate issue?

[2019-09-25 15:12] ioanarusiczki opened #8668 "Fix the red error and log a warning"
Followup for https://github.com/mozilla/addons-frontend/issues/8633#issuecomment-535056741

While canceling an add-on install:
1. The red error message on the detail page should not be displayed
2. In Console:  Log a warning about the error then ignore/discard it

Issue is reproducible on dev and stage with FF69(Win10)

[2019-09-25 15:13] ioanarusiczki commented on #8633
@willdurand This should be it https://github.com/mozilla/addons-frontend/issues/8668

[2019-09-25 15:44] ioanarusiczki commented on #8616
@willdurand Verified on dev and stage with FF69(Win10).
- `<div>` is replaced by `<span>`
- I did not notice a visual glitch on SiteNotices.

![span](https://user-images.githubusercontent.com/33448286/65616820-60ac4f00-dfc4-11e9-8593-65d5560776f4.png)

[2019-09-25 17:23] bobsilverberg commented on #8656
This is odd, because according to this issue, the link for the Primary Hero shelf *is* getting the outgoing prefix but the links for the Secondary shelf are not. It's the same API call, but the links seem to be treated differently.

[2019-09-25 17:43] eviljeff commented on #8656
The primary shelf in part re-uses the `AddonSerializer` and _that_ supports `?wrap_outgoing_links`.  The secondary shelves don't reuse other serializers (because they're entirely different).  At least that's what I'm guessing - I'd need the API call to be sure.

[2019-09-25 19:20] bobsilverberg commented on #8601
Yes, I already opened https://github.com/mozilla/addons-frontend/issues/8619 for this.

[2019-09-25 19:35] kumar303 commented on #2180
We have a request ID now but I forget if we added that to Sentry or not. We could use that to find logs in stackdriver.

[2019-09-25 19:36] kumar303 commented on #1484
I feel like we know how to work with custom error handlers now so this isn't really a concern.

[2019-09-25 19:36] #1484 closed

[2019-09-25 19:38] kumar303 commented on #3464
Yeah, I'm pretty sure this was fixed in Firefox 62 so we don't need to worry about it, per https://github.com/mozilla/addons-frontend/issues/2594#issuecomment-438481007

[2019-09-25 19:38] #3464 closed

[2019-09-25 20:15] kumar303 commented on #6436
I agree. I don't think it's worth fixing. Even though it looks like you can edit the collection, the message is pretty clear when you try it. Even if we were to fix it, we'd have to do some upfront API calls to check ownership somehow.

@muffinresearch feel free to re-open if you think we should keep it in the backlog.

[2019-09-25 20:15] #6436 closed

[2019-09-25 20:16] kumar303 commented on #5549
This component doesn't use `setState()` anymore 🎉

[2019-09-25 20:16] #5549 closed

[2019-09-25 20:33] #8668 closed

[2019-09-25 23:30] Khalil1979 opened #8670 "add extention"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-25 23:32] Khalil1979 commented on #8670
I can not add extension of

[2019-09-25 23:32] #8670 closed

[2019-09-25 23:34] Khalil1979 commented on #8670
I can not add extension of surfe.be in Mozilla Firefox. Why?

[2019-09-26 08:22] imakarenko2017 opened #8672 "No link to Selenium Builder"
### Describe the problem and steps to reproduce it:

### What happened?
I was about to install Selenium Builder for recording and exporting tests in Python
I got the link http://seleniumbuilder.github.io/se-builder/ and tried to click Install but got "no page is available"
### What did you expect to happen?

### Anything else we should know?

[2019-09-26 08:50] willdurand commented on #8672
Hi, the add-on has likely been removed by the developers. I'd recommend reaching out to them.

[2019-09-26 08:50] #8672 closed

[2019-09-26 09:05] AlexandraMoga commented on #8629
This will be verified once https://github.com/mozilla/addons-server/issues/12403#issuecomment-534903509 is fixed.

[2019-09-26 10:52] ioanarusiczki commented on #8066
@willdurand @rugk
I verified this in AMO stage with FF69(Win10).
- twitter:site and twitter:card are available on web extension's detail page as `meta` tags

![meta tags](https://user-images.githubusercontent.com/33448286/65683001-da941500-e064-11e9-9990-1908b4e75c0c.png)

- the generated HTML is:
https://addons-stage-cdn.allizom.org/user-media/previews/full/160/160083.png?modified=1569494172

[2019-09-26 11:28] bobsilverberg opened #8673 "Adjust the logic of `checkInternalURL` to remove code for relative URLs"
@muffinresearch pointed out that checking for a URL that starts with `/` isn't valid, because of protocol-free URLs. We could change that to check for exactly one `/` (i.e., `//` would not be internal), but it also looks like we do not need to handle relative URLs at all, because we will never get one from the API.

The API which returns the data for which we use this function (the `hero` API) *al

[2019-09-26 11:51] ioanarusiczki commented on #8575
@willdurand
I created in admin dev 2 groups - Addons:* and then Addons:Edit

What `Addons:*` can access from the detail page for an extension:
[Edit add-on ](https://addons-dev.allizom.org/en-US/developers/addon/webextensionspermissions/edit)
[Content Review Addon](https://reviewers.addons-dev.allizom.org/en-US/reviewers/review-content/webextensionspermissions)
[Review Addon code](https://reviewer

[2019-09-26 11:52] willdurand commented on #2180
The request ID is available in Sentry (Sentry collects the req/res headers and the request ID is present).

[2019-09-26 11:52] willdurand commented on #8575
Yes, looks good to me

[2019-09-26 11:53] ioanarusiczki commented on #8575
@willdurand Alright! Then I'm marking it verified on dev with FF69(Win10).

[2019-09-26 12:48] ioanarusiczki commented on #8668
@willdurand Checked it on dev and stage - FF69(Win10).
- The red warning on the detail page is no longer displayed
- The Console is throwing a yellow warning `Ignoring promise rejection during installation: Error`

![WARNING ](https://user-images.githubusercontent.com/33448286/65689130-06b79200-e075-11e9-8036-ff47834573b4.gif)

[2019-09-26 12:55] ioanarusiczki commented on #8633
Fixed by https://github.com/mozilla/addons-frontend/issues/8575

[2019-09-26 13:25] #8673 closed

[2019-09-26 14:41] AlexandraMoga commented on #8634
Verified the recommendations pane in Fx versions >=68 and the old disco_pane for Fx version prior 68 and there were no regressions spotted.

Marking  the issue as verified fixed.

[2019-09-26 17:43] jvillalobos commented on #8670
Please contact the developer about that. We can't help you with this.

[2019-09-26 18:19] bobsilverberg commented on #8666
@eviljeff You said that the frontend *would get* the `to` param *after* you make a change to deliver it. Is that change part of https://github.com/mozilla/addons-server/issues/12417, or is there another issue for it?

[2019-09-26 20:27] devaneymoz opened #8675 "add more icon options to secondary hero shelf"
Turns out we'll need some additional icons (used in the secondary hero shelf) entered into the Discovery admin tool. All photon icons can be found here:

https://design.firefox.com/icons/viewer/#

From within that source, please add the following...

midi (in Permissions section)
Store Data (in Permissions)
Bookmark (in Places)
Mail (in General)
Sync (in General)
Help (in Alert)

[2019-09-27 11:40] ioanarusiczki commented on #8632
@willdurand @virgilt Looks good to me! Verified on AMO dev - Android 8.0

![Links](https://user-images.githubusercontent.com/33448286/65766802-abe56f80-e134-11e9-9933-6ed91112a79b.jpg)

[2019-09-27 12:46] AlexandraMoga opened #8676 "Internal URLs from homepage heroes are appended with parameters used for external links"
### Describe the problem and steps to reproduce it:

1. Load AMO homepage on -dev
2. Inspect the call to action URL for a listed primary hero, or a secondary hero that links to an internal page

### What happened?
Internal URLs are appended with parameters intended for external links - i.e. `?utm_content=homepage-primary-hero&utm_medium=referral&utm_source=addons-dev.allizom.org"`

### What did yo

[2019-09-27 12:59] bobsilverberg commented on #8676
Ah, I now realized that #8674 was not accurate. While it's true that all URLs coming from an API call will be fully qualified, I ignored the fact that we are building some URLs ourselves, which can contain relative URLs and those also make use of the `checkInternalURL` function. I will fix this.

Thanks for filing this, @AlexandraMoga.

[2019-09-27 20:53] jvillalobos opened #8679 "Redirect search add-on URL coming from Firefox"
Part of [this PRD](https://docs.google.com/document/d/1FQq47mNCRy1enLsN0giseD2tnS0OaHth3S5mZL9C8jY/edit).

A link in Firefox sends users to `/search-engines/`, which in turn redirects to `/search-tools/`. Instead, it should redirect to the Search Tools extensions category, which is something like `/search/?category=search-tools&sort=recommended%2Cusers&type=extension`.

This depends on https://git

[2019-09-27 20:57] jvillalobos commented on #8679
Forgot to mention that `/search-tools/` should also redirect to the new path.

[2019-09-27 20:58] jvillalobos opened #8680 "Remove Search Tool add-on type"
Part of [this PRD](https://docs.google.com/document/d/1FQq47mNCRy1enLsN0giseD2tnS0OaHth3S5mZL9C8jY/edit).

I think this involves removing the Search Tool type from the site search, and the Search Tools menu item in the More dropdown in the site header.

This change should be gated by an admin flag, so we can control the timing.

[2019-09-27 21:57] kumar303 commented on #8675
Thanks for filing, @devaneymoz. The frontend just renders icon URLs returned by the API so I'm going to move the issue over there.

[2019-09-28 09:31] VitRom opened #8683 "A lot of addons are missing"
After a recent huge crash I've lost both all working software and archives. So I had downloaded back from my cloud my favorite "work horse", portable Firefox 38ESR, tuned and working fine, even with a set of previously opened tabs remembered. And because this copy was uploaded urgently some of these tabs were still with AMO pages with extensions (used earlier) to install. So I decided to finish wi

[2019-09-29 03:43] jeleznybo opened #8685 "top-page.ru addon not found"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-30 07:40] rsynt opened #8688 "S3.Translator"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-09-30 07:48] #8685 closed

[2019-09-30 07:52] willdurand commented on #8688
Sorry, this add-on is not available anymore because the developer likely removed it from AMO. You should get it touch with the developer.

[2019-09-30 07:52] #8688 closed

[2019-09-30 07:57] #3410 closed

[2019-09-30 09:41] eviljeff commented on #8666
It was going to be added as part of the pr that fixes mozilla/addons-server#12417 (and probably mozilla/addons-server#10487 at the same time) though we can bring it forward in a separate patch if you prefer?

[2019-09-30 13:13] bobsilverberg commented on #8666
If there's no rush to have this feature implemented, then I don't think you need to bring that forward in a separate patch.

[2019-09-30 14:45] kumar303 commented on #2180
ok, having the request ID is enough to find logs so I guess we can close this. I suppose it would be slightly nicer to see all logs in Sentry itself but such an integration is probably not so straight forward since we will need to push backend data through the frontend somehow. I don't think it's worth the effort.

[2019-09-30 14:45] #2180 closed

[2019-09-30 15:48] eviljeff commented on #8666
okay, if it's a blocker then it needs to be done - and done first - or we've got a circular dependency because Jorge asked for these changes in mozilla/addons-server#2417 so that issue requires this issue.

Filed mozilla/addons-server#12479

[2019-09-30 16:55] bobsilverberg commented on #7810
Looks like this was fixed.

[2019-09-30 16:55] #7810 closed

[2019-09-30 17:00] #8656 closed

[2019-09-30 20:02] jvillalobos commented on #8683
We can't do anything about those listings if they were removed by their authors or were automatically disabled because they're outdated. You can try contacting the authors to find old copies of the add-ons, or you can dig through these independent archives: [1](https://archive.org/details/addons.mozilla.org_legacy_201810), [2](https://github.com/JustOff/ca-archive/).

[2019-09-30 20:02] #8683 closed

[2019-09-30 20:21] sergeymalinkin opened #8690 "Seleniumbuilder"
What happened with seleniumbuilder for Firefox?

[2019-09-30 20:29] jvillalobos commented on #8690
This repository is for the website code and not individual add-ons. Please try contacting the developer of selenium builder for help.

[2019-09-30 20:29] #8690 closed

[2019-09-30 21:42] bobsilverberg commented on #2402
This is something I think is worth still trying to do. I did a bit of digging through related issues/PRs and it looks like https://github.com/mozilla/addons-frontend/pull/5777 supposedly fixed this, but as far as I can tell it isn't fixed. Any changes to config files still require a manual restart of the server.

Are others seeing this as fixed, and if not is this still something we want to try to

[2019-09-30 21:43] bobsilverberg commented on #2999
I think this code quality issue is worth keeping around.

[2019-09-30 21:45] bobsilverberg commented on #3325
I think this code quality issue is worth keeping around.

[2019-09-30 21:45] bobsilverberg commented on #3006
I think this code quality issue is worth keeping around.

[2019-10-01 06:54] ioanarusiczki commented on #3410
@willdurand Looking at AMO dev I see in the Network when I first load `About` or `Review Guide` pages a .css such as `https://addons-amo-dev-cdn.allizom.org/ReviewGuide-57efc2892ebd46949fcc.css`

When I reload one of the pages the Network shows the .css for both : Review and About

![css for the pages](https://user-images.githubusercontent.com/33448286/65940158-72f91380-e430-11e9-92cb-1a31f79ce5ce

[2019-10-01 08:05] #8465 closed

[2019-10-01 08:06] willdurand commented on #8465
thanks @alexkayabula for your first contribution! /cc @caitmuenster

[2019-10-01 10:57] #8676 closed

[2019-10-01 12:06] tsl143 opened #8695 "stay safe online section is not left aligned."
### What happened?
`HomeHeroGuides-sections` is not aligned to header logo and recommended section shelf

### What did you expect to happen?
All the shelves should be aligned, and eventually to the header logo

### Anything else we should know?

![image](https://user-images.githubusercontent.com/5318732/65960346-90d86f80-e454-11e9-9161-b97e2300d156.png)

[2019-10-01 12:58] bobsilverberg commented on #8666
@eviljeff What can we expect this `to` query param to contain? Will it always be a fully qualified URL? Might it be a relative URL (e.g., `/addon/slug/`)? Will it always point to a page on AMO, or might it be to an external site?

[2019-10-01 13:04] bobsilverberg commented on #8695
This might be intentional, the way the headline is also centered above the guides pages boxes.

@brassy- can you comment on this?

[2019-10-01 14:05] eviljeff commented on #8666
It won't be an non-AMO property - we do a check to see if its safe. But if that passes it will pass along anything its sent and would otherwise redirect to if not for the new registration.
I can have a look through the addons-server codebase for how it's called there. Addons-frontend originated logins i don't know about.

[2019-10-01 15:05] AlexandraMoga commented on #8629
Verified on dev

[large screen]
![image](https://user-images.githubusercontent.com/31961530/65974319-6b0f9280-e475-11e9-83f1-adc036a0803d.png)

[small screen]
![image](https://user-images.githubusercontent.com/31961530/65974328-6f3bb000-e475-11e9-9c41-d9fd3037e88f.png)

@bobsilverberg I see that the card  title in the mock contains 'Extension' after 'Recommended' . Do you know if this is a new req

[2019-10-01 15:52] willdurand commented on #8695
This was intentional according to the PRD: https://docs.google.com/document/d/1PZwtYeWC2_eWBOX4a8QUBoOHeAZpEEOFRzEhpsgFrKo/edit#

[2019-10-01 15:52] #8695 closed

[2019-10-01 16:11] bobsilverberg commented on #8629
The [PRD](https://docs.google.com/document/d/12aD_v5AOj1Y6VmT4xOuyNcrKfZxqhP8R_AOHroQVLV8/edit) and the [original issue](https://github.com/mozilla/addons-frontend/issues/8247) that implemented the Primary hero, both look like this (with just the word "RECOMMENDED"), so I think it's good.

[2019-10-01 16:29] #8586 closed

[2019-10-01 16:41] bobsilverberg commented on #8666
Thanks @eviljeff. The code I write will differ depending on whether we get a fully qualified URL, or just a path. It sounds like it will probably be just a path, but I'd want to be sure. So sometimes this originates from the server and sometimes from the frontend?

Is the flow that a user tries to do something which requires login, they are redirected to FxA, which then redirects them to some serv

[2019-10-01 16:49] eviljeff commented on #8666
yeah.  Or code-manager, potentially, if it has support for it.

yes.  For frontend the only difference is it starts with an API call to get the url to call FxA (which then redirects to addons-server and redirects to frontend)

[2019-10-01 16:58] bobsilverberg commented on #8666
Thanks @eviljeff. I confirmed that the `to` parameter that the frontend sends to FxA is a relative path. Here's an example from my local instance:

`http://localhost:3000/api/v4/accounts/login/start/?config=local&to=%2Fen-US%2Ffirefox%2Faddon%2Fublock-origin%2F`

[2019-10-01 17:06] kumar303 commented on #8586
@willdurand why can't we just flat-out disable it by default? I don't see why it's helpful to enable this in local development by default as https://github.com/mozilla/addons-frontend/pull/8696 does.

[2019-10-01 17:09] willdurand commented on #8586
Mostly because it is designed and thus useful for development. If we disable it by default in local dev, we can remove it entirely because no one will ever enable it to double-check its output. Keeping it enabled by default for local dev will allow us to review the warnings, some of them being used to ease upgrades.

[2019-10-01 17:16] kumar303 commented on #8586
I say we disable it by default but keep the code and document how to turn it on.

The double dispatch behavior is too confusing for daily development. I agree that it's useful for reviewing warnings but that is mostly useful when upgrading libraries and I think it needs to be done *consciously* so that one is aware of the side effects. The console warning will be easy to miss.

[2019-10-01 17:19] jrbenny35 commented on #8618
@willdurand @kumar303 what data is needed from server side for the new shelf?

[2019-10-01 17:20] willdurand commented on #8618
@bobsilverberg ^

[2019-10-01 17:24] bobsilverberg commented on #8618
The results of calling the `/hero/` endpoint: https://addons-server.readthedocs.io/en/latest/topics/api/hero.html#get--api-v4-hero-

[2019-10-01 18:05] bobsilverberg opened #8700 "Revisit how background colours are set for the Header and HeroRecommendation components"
This is a follow-up to #8662, and is documented at https://github.com/mozilla/addons-frontend/pull/8662#discussion_r329161686.

The idea is to be able to get the colours for the background gradient for both `Header` and `HeroRecommendation` from the `home` state.

Quoting from https://github.com/mozilla/addons-frontend/pull/8662#discussion_r329161686:

[2019-10-01 18:11] jrbenny35 commented on #8618
@bobsilverberg what would be a good headline? ```Showing 500 page for error: Invariant Violation: The headline property is required```

[2019-10-01 18:22] bobsilverberg commented on #8618
As per https://addons-server.readthedocs.io/en/latest/topics/api/hero.html#secondary-hero-shelf, it can be any string. Realistically I'd make it a few words.

[2019-10-02 09:28] AlexandraMoga commented on #8676
Verified fixed on -dev.

Internal URLs are appended with the correct parameters now:

[primary hero]
![image](https://user-images.githubusercontent.com/31961530/66033097-48ca5300-e50f-11e9-913f-af7196acff4d.png)

[secondary hero]
![image](https://user-images.githubusercontent.com/31961530/66033111-4ff16100-e50f-11e9-9307-efe7d05827c3.png)

[2019-10-02 11:32] AlexandraMoga commented on #8656
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/66040984-6d2f2b00-e521-11e9-96e9-af73055f3c82.png)

[2019-10-02 11:35] AlexandraMoga commented on #8673
I haven't found other regressions apart form #8676 (fixed) in the homepage heroes.

Marking the issue as verified fixed

[2019-10-02 15:27] muffinresearch opened #8701 "Warn AMO users when visiting wrong platform site"
AMO users visiting the desktop site on a mobile device (and vice versa) will be warned about it and given the opportunity to switch.

The site being visited is determined in the URL:
https://addons.mozilla.org/firefox/ is the desktop site.
https://addons.mozilla.org/android/ is the mobile site.

This means that bookmarks or links from the web or other places can lead users to the wrong site they i

[2019-10-02 15:37] jvillalobos commented on #4775
Recommended badges now appear in the expected location.

[2019-10-02 15:37] #4775 closed

[2019-10-02 17:26] jrbenny35 commented on #8618
Updated the tests config but now running into an issue with pytest-xdist: https://github.com/mozilla/addons-server/pull/12502

[2019-10-02 17:39] bobsilverberg commented on #8623
@brassy- @muffinresearch had come concerns about the width of the content in the "full-width" primary hero. Looking at this screenshot, you can see that the content, not just the gradient,  occupies the full width. Should this be changed so that the content (and also the site notification, which is the yellow message bar) are constrained to the width of the other shelves on the home page, such as

[2019-10-02 17:40] eviljeff commented on #8618
How does a pytest plugin for addons-server tests affect ui tests for addons-frontend?  Or is the issue not related this repo?

[2019-10-02 18:32] jrbenny35 commented on #8618
The tests on frontend pull from this repo, so I have to update things here until they get moved.

[2019-10-02 18:48] bobsilverberg commented on #8623
@brassy- Here's an example where the width is constrained, and I think it looks better. Maybe this is what you were after all along, but it wasn't clear from the mocks.

![Screenshot 2019-10-02 13 56 17](https://user-images.githubusercontent.com/142755/66072752-a49ed700-e523-11e9-8d32-35051b3c6192.png)

[2019-10-02 18:59] brassy- commented on #8623
Yes, the second screen is what we want to achieve!

Thank you for keeping me in the loop!

Il giorno mer 2 ott 2019 alle 20:48 Bob Silverberg <notifications@github.com>
ha scritto:

[2019-10-02 19:44] bobsilverberg opened #8703 "Revisit the way we address a glitch when navigating from the home page"
This is a follow-up to #8662

Some code landed in (insert link to commit here) which resets the `viewContext` when navigating away from the home page to address an issue where the layout was broken during the transition because the app thought it was still on the home page.

This approach is problematic. A partial solution to this was suggested at https://github.com/mozilla/addons-frontend/pull/86

[2019-10-02 19:52] bobsilverberg commented on #8703
One suggestion discussed on IRC was to change the logic for [`isHomePage`](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/App/index.js#L266) to use `location` instead of `state.viewContext.context === VIEW_CONTEXT_HOME`.

[2019-10-02 20:05] #6341 closed

[2019-10-02 20:06] #6339 closed

[2019-10-02 20:06] #6253 closed

[2019-10-02 20:06] #2223 closed

[2019-10-02 20:06] #6304 closed

[2019-10-02 20:06] #6678 closed

[2019-10-02 20:06] #6309 closed

[2019-10-02 20:06] #6717 closed

[2019-10-02 20:06] #7036 closed

[2019-10-02 20:06] #7143 closed

[2019-10-02 20:06] #7037 closed

[2019-10-02 20:06] #7028 closed

[2019-10-02 20:06] #3943 closed

[2019-10-02 20:06] #4272 closed

[2019-10-02 21:05] #3732 closed

[2019-10-02 21:05] #4415 closed

[2019-10-02 21:06] #4963 closed

[2019-10-02 21:06] #5082 closed

[2019-10-02 21:06] #5134 closed

[2019-10-02 21:06] #5276 closed

[2019-10-02 21:06] #5317 closed

[2019-10-02 21:06] #5369 closed

[2019-10-02 21:06] #5267 closed

[2019-10-02 21:06] #5406 closed

[2019-10-02 21:06] #5326 closed

[2019-10-02 21:06] #5497 closed

[2019-10-02 21:06] #5318 closed

[2019-10-02 21:06] #3915 closed

[2019-10-02 21:06] #5709 closed

[2019-10-02 21:06] #3038 closed

[2019-10-02 21:06] #5336 closed

[2019-10-02 21:06] #2053 closed

[2019-10-02 21:06] #5906 closed

[2019-10-02 21:06] #5908 closed

[2019-10-02 21:06] #5988 closed

[2019-10-02 21:06] #6166 closed

[2019-10-02 22:05] #3032 closed

[2019-10-02 22:05] #2892 closed

[2019-10-02 22:06] #2426 closed

[2019-10-02 22:06] #2345 closed

[2019-10-02 22:06] #2192 closed

[2019-10-02 22:06] #1960 closed

[2019-10-02 22:06] #1990 closed

[2019-10-02 22:06] #1727 closed

[2019-10-02 22:06] #4053 closed

[2019-10-02 22:06] #1433 closed

[2019-10-02 22:06] #2280 closed

[2019-10-02 22:06] #1640 closed

[2019-10-02 22:06] #2422 closed

[2019-10-02 22:06] #3550 closed

[2019-10-02 22:06] #1126 closed

[2019-10-02 22:06] #3155 closed

[2019-10-02 22:06] #3445 closed

[2019-10-02 22:06] #4671 closed

[2019-10-02 22:06] #4540 closed

[2019-10-02 22:06] #4348 closed

[2019-10-02 22:06] #4545 closed

[2019-10-02 22:06] #4389 closed

[2019-10-02 23:05] #3838 closed

[2019-10-02 23:05] #3811 closed

[2019-10-02 23:06] #3446 closed

[2019-10-02 23:06] #4095 closed

[2019-10-02 23:06] #3985 closed

[2019-10-02 23:06] #4292 closed

[2019-10-02 23:06] #4308 closed

[2019-10-02 23:06] #4074 closed

[2019-10-02 23:06] #3955 closed

[2019-10-02 23:06] #3842 closed

[2019-10-02 23:06] #3774 closed

[2019-10-02 23:06] #3712 closed

[2019-10-02 23:06] #3582 closed

[2019-10-02 23:06] #3486 closed

[2019-10-02 23:06] #3465 closed

[2019-10-02 23:06] #3437 closed

[2019-10-02 23:06] #3345 closed

[2019-10-02 23:06] #3347 closed

[2019-10-02 23:06] #3143 closed

[2019-10-02 23:06] #3103 closed

[2019-10-03 07:17] landryb commented on #4610
This is a running joke. Closing issues because they're stale is so sad.. they're stale because mozilla doesnt care about Tier3.

[2019-10-03 07:32] alaing13 opened #8704 "Where is Lightbeam ?"
### Describe the problem and steps to reproduce it:
https://addons.mozilla.org/fr/firefox/addon/lightbeam/

### What happened?
Oups, cette page est introuvable

### What did you expect to happen?
New version available ? Last version ?

### Anything else we should know?
this is an important project

[2019-10-03 08:54] willdurand commented on #4610
@landryb hi, we can always reopen issues but we can't fix everything.. A repo with too many (old) issues is not healthy, especially when a team is working fulltime on it and external contributors are also helping. We are trying to fix this problem with the stalebot, maybe that is not a good solution, we'll see. Your comment allows us to know that people still care about this issue so I am going to

[2019-10-03 09:29] olyasolntce opened #8705 "Smarty sale plugin"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-03 09:31] olyasolntce commented on #8705
Не работает ссылка на переход для установки плагина SMARTY SALE.
https://smarty.sale/ua/uk/plugin

[2019-10-03 14:29] eviljeff commented on #8666
addons-server side is landed now if you need to check the url is as expected.

[2019-10-03 14:50] jrbenny35 commented on #8618
Looks like I had my github tabs mixed up. The frontend tests pull from server as that is where all the tests currently live.

[2019-10-03 15:26] kumar303 opened #8706 "Temporarily disable the non-recommended warning banner"
In https://github.com/mozilla/addons-frontend/issues/8525 we enabled an experiment to understand the effect of showing a warning when users are about to install a non-recommended extension.

We have concluded the experiment -- we now have some numbers to help us understand how the warning affects installs (this includes recommended extensions, too).

During [today's front-end review meeting](https

[2019-10-03 15:36] kumar303 commented on #8701
We currently use [these Photon message bars](https://design.firefox.com/photon/components/message-bars.html).

Here is an example of a similar message we show on iOS:

<details>
<summary>Screenshot</summary>

![2019-10-03 10 08 33](https://user-images.githubusercontent.com/55398/66141554-796ec300-e5c9-11e9-9445-31f60e2d7e12.png)

</details>

[2019-10-03 15:44] #8623 closed

[2019-10-03 15:53] #8706 closed

[2019-10-03 16:32] jvillalobos commented on #8704
The Lightbeam extension has been discontinued. Most of its features are being integrated into Firefox, so the extension is no longer available.

[2019-10-03 16:32] #8704 closed

[2019-10-03 16:35] kumar303 commented on #8703
We may also be able to move logic out of `<App>` into something like `<Page>` and edit all page components to render `<Page>` at the top level. This would allow `pages/Home` to render `<Page isHome>`. Due to how `react-router` works, this would guarantee that `isHome` would always be set to `true` on the home page.

[2019-10-03 16:37] jvillalobos commented on #8705
Please contact the developer about making the add-on available again.

[2019-10-03 16:37] #8705 closed

[2019-10-04 12:27] vcarciu commented on #8706
Verified as fixed in AMO-dev and Stage.

[2019-10-04 14:20] bobsilverberg commented on #8666
Thanks @eviljeff, it all seems to be working perfectly!

[2019-10-04 15:56] kumar303 commented on #8703
I just noticed another side effect of the reducer hack: it will cause React to re-render when the home page first loads which is bad for performance. Since this isn't hidden behind the hero config flag, it will go to production next week unless we fix it.

I'm looking on the hosted dev site using Redux devtools and I see that it's because the view context gets switched in reaction to the first loc

[2019-10-04 16:00] jrbenny35 commented on #8618
Looks like these are passing now. Please re-open if that changes.

[2019-10-04 16:00] #8618 closed

[2019-10-04 16:42] bobsilverberg commented on #8703
Will landing #8709 fix this? If so that's another reason to land that for next week's tag, and do a follow-up for a different approach.

[2019-10-04 19:18] jmaslyn opened #8713 "Ooops on redirect from selenium for flow control module"
https://addons.mozilla.org/en-US/firefox/addon/flow-control/

[2019-10-04 19:32] jvillalobos commented on #8713
That add-on page is no longer available. If you think that's an error, please contact the developer of the add-on in order to bring it back up.

[2019-10-04 19:32] #8713 closed

[2019-10-05 12:54] dragonking393 opened #8714 "English to myanmar translate languae"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-05 15:52] swesko opened #8715 "lighbeam gone?"
### Describe the problem and steps to reproduce it:

lightbeam addons doesnt exist anymore

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-05 16:15] Shivansh2407 commented on #3731
In which CSS file do we need to add this?

[2019-10-05 21:41] #8715 closed

[2019-10-05 21:41] willdurand commented on #8715
Sorry, it has probably been removed by their developer(s). There is nothing we can do.

[2019-10-05 21:41] #8714 closed

[2019-10-06 05:09] doodababy opened #8716 "uhhhh"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-07 04:22] #8716 closed

[2019-10-07 08:42] AlexandraMoga commented on #8623
Verified fixed on -dev:

[large screen]
![image](https://user-images.githubusercontent.com/31961530/66297000-6fb1cc00-e8f7-11e9-9050-9242e7d98366.png)

[mobile]
![image](https://user-images.githubusercontent.com/31961530/66296913-44c77800-e8f7-11e9-9084-fde16197174c.png)

[2019-10-07 09:07] AlexandraMoga opened #8720 "The Secondary hero message lacks some padding"
Update:

It was confirmed by UX that we do not want to center the text in the message area of the secondary hero, but @willdurand pointed out that this same area seems to be missing some padding, so I am going to implement that change for this issue.

### Describe the problem and steps to reproduce it:
1. Open AMO -dev homepage in mobile view
2. Notice the position of the Secondary hero message pa

[2019-10-07 10:47] steamp0rt opened #8721 "AMO page for addon says it's not compatible with Firefox Quantum, not a public listing, and not compatible with my platform"
### Describe the problem and steps to reproduce it:

I uploaded an addon to AMO yesterday. The URL is https://addons.mozilla.org/en-US/firefox/addon/opentagger/

The version, in the developer hub, is approved and validated for all platforms.

![firefox_vXDAh7IbnD](https://user-images.githubusercontent.com/25724666/66305888-d7641900-e8ef-11e9-8c0f-76e87c542584.png)

However, the page is invisible u

[2019-10-07 13:37] bobsilverberg commented on #8720
@brassy- Can you please comment on this?

[2019-10-07 13:40] brassy- commented on #8720
I disagree. I don’t think is necessary to center aligned the intro text.

Il giorno lun 7 ott 2019 alle 15:37 Bob Silverberg <notifications@github.com>
ha scritto:

[2019-10-07 13:42] willdurand commented on #8720
This is stage currently:

![Screen Shot 2019-10-07 at 15 40 14](https://user-images.githubusercontent.com/217628/66316914-d2678f80-e918-11e9-8708-7ab8b605d24d.png)

The screenshot in the original issue looks like some style has not been loaded. All contents are in "boxes" (or cards) except this one. The link is too close to the card below. I think it needs some more love :)

[2019-10-07 14:29] AlexandraMoga commented on #8623
@bobsilverberg forgot to ask if the default header color to be used across the site should be `#20123a`  ` (ink-80)` now?

Previously, the header color was `#0f1126`

[2019-10-07 16:43] jvillalobos commented on #8721
You need to upload a new version and choose the hosted option: https://extensionworkshop.com/documentation/publish/submitting-an-add-on/

[2019-10-07 16:43] #8721 closed

[2019-10-07 16:53] bobsilverberg commented on #8623
Yes, if the new hero elements are enabled, then the default background colour for the header, on every page, should be `#20123a`.

[2019-10-07 17:19] sneakypete81 commented on #6136
This is still an issue: https://addons.mozilla.org/en-GB/firefox/addon/update-scanner/ shows an install button on Android, despite the add-on being marked as incompatible.

[2019-10-07 19:00] bobsilverberg opened #8727 "Possibly improve the loading skeleton for the Primary Hero element"
This is a follow-up to #8678.

There are a couple of issues with the loading skeleton for the Primary Hero element that we may or may not be able to address:

1. The `min-height` for the element is defined in order to allow the loading skeleton, which doesn't have real content, to be the same size as the final element. The `min-height` is based on a best guess of what content a Primary Hero is lik

[2019-10-07 19:03] willdurand commented on #8727
I am wondering whether using CSS transitions to smooth/absorb the jumpiness would work, WDYT?

[2019-10-07 19:11] #8619 closed

[2019-10-07 19:26] bobsilverberg commented on #8727
It might. Things will still move around on the page (potentially), but it might make things a bit better.

[2019-10-07 19:37] bobsilverberg opened #8728 "Fix error simulation pages to include the header"
This is a follow-up to #8717

That patch requires that any component that renders the content of a page include a `<Page>` component in the content that it renders. The error simulation pages, found in https://github.com/mozilla/addons-frontend/tree/master/src/core/pages/error-simulation, do not use the `Page` component. There is an issue that these pages are in `core`, but the `Page` component is

[2019-10-07 20:36] jvillalobos commented on #6136
Just added this to a Q4 project related to this problem. It's a secondary goal, so it's okay to drop if there isn't enough time to cover it.

[2019-10-08 07:47] willdurand commented on #7636
Reopening this issue to implement what @eviljeff described in https://github.com/mozilla/addons-server/issues/10787#issuecomment-539389919

I think we can simply disable the login button and logout link when `site.readyOnly` is `true`.

[2019-10-08 08:06] muffinresearch commented on #8703
Upping the priority based on the double render, if that's fixed elsewhere this can be downgraded again.

[2019-10-08 09:21] amtyaa opened #8730 "selenium"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-08 09:22] #8730 closed

[2019-10-08 15:08] AlexandraMoga commented on #8619
Verified on dev with Fx69 on WIn10 and Android.

The homepage will show a skeleton where the content for the Primary and Secondary heroes will be populated :

[desktop]
![image](https://user-images.githubusercontent.com/31961530/66407350-ba197280-e9f5-11e9-8f43-a3543d542073.png)

[tablet]
![image](https://user-images.githubusercontent.com/31961530/66407544-0ebced80-e9f6-11e9-92c8-1f8c7f53bf18.png)

[2019-10-08 15:30] AlexandraMoga opened #8732 "[Primary hero] There's too much unused space at the bottom the primary hero on mobile view"
### Describe the problem and steps to reproduce it:
1. Open AMO -dev homepage in mobile view
2. Notice the layout of the primary hero module

### What happened?
There is too much unused space at the bottom

### What did you expect to happen?
The height could be reduced a little

### Anything else we should know?
- I've compared this view with a screenshot I took yesterday and it seems to me that t

[2019-10-08 17:42] lidel commented on #8726
Just realized this issue is not limited to Android. Same problem with the latest ESR release:

![esr-2019-10-08--19-37-59](https://user-images.githubusercontent.com/157609/66418925-6a41a800-ea03-11e9-8f03-55a906ca2013.png)

Due to slow release cycle of ESR, its users should be able to install "the last compatible version" from the main UI. Right now the `Add to Firefox` button is faded out, making

[2019-10-08 19:55] Askar2121 opened #8734 "gg"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-08 20:01] #8734 closed

[2019-10-09 11:42] AlexandraMoga opened #8737 "Some shelves titles and their see more links are overlapping in mobile landscape mode"
### Describe the problem and steps to reproduce it:
1. Open AMO homepage on a mobile device in landscape mode (or use the responsive design tools)
2. Change your locale to `/de/` or `/it/`
3. Check for layout issues in the shelf titles

### What happened?
For some shelves, the title and the see more link are overlapping

### What did you expect to happen?
No layout issues

### Anything else we sho

[2019-10-09 12:02] nik72619c commented on #8732
shall I work on this ?

[2019-10-09 12:03] ioanarusiczki opened #8738 "The layout of the page is broken after I log out from edit profile page"
STR:
1. Login and go to edit profile page
2. Log out and notice the layout

Expected result:
Page should look like this

![as it should be](https://user-images.githubusercontent.com/33448286/66479686-aaf1fd80-eaa5-11e9-9044-e7307d5d84d6.png)

Actual result:

![regression](https://user-images.githubusercontent.com/33448286/66479705-b513fc00-eaa5-11e9-9c8c-3fdfc57f9104.png)

Notes:
This is not repro

[2019-10-09 12:36] AlexandraMoga opened #8740 "Long strings are causing an overflow in the secondary hero modules on smaller screen sizes"
### Describe the problem and steps to reproduce it:
1. Load AMO -dev homepage and set your screen width to ~750 px
2. Change your locale to `/de/`
3. Notice the secondary hero layout

### What happened?
The last module is overflowing

### What did you expect to happen?
No layout issues

### Anything else we should know?
- this issue will affect locales that are known for having long words, such as

[2019-10-09 12:45] ioanarusiczki commented on #8703
@kumar303 @bobsilverberg Could you explain how to test the double render issue?

[2019-10-09 14:12] kumar303 commented on #8703
I just verified on -dev that the double render is fixed. My verification process was using the Redux devtool extension on Chrome since it's blocked in Firefox (a known limitation) and checking that none of the dispatches changed the state in a way that would trigger a re-render. They did not.

<img width="1333" alt="Screenshot 2019-10-09 09 09 50" src="https://user-images.githubusercontent.com/553

[2019-10-09 14:22] joeusa opened #8741 "Link from Google doesn't work"
### Describe the problem and steps to reproduce it:
https://support.google.com/adspolicy/answer/6368661?hl=en#673

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-09 14:31] AlexandraMoga opened #8742 "Primary hero contents are overflowing on a mobile screen when using the /de/ locale"
### Describe the problem and steps to reproduce it:
1. Load AMO -dev homepage on a mobile device
2. Change your locale to `/de/`
3. Notice the layout of the the primary hero contents

### What happened?
Primary hero contents are overflowing

### What did you expect to happen?
The contents should be centered

### Anything else we should know?
- A misalignment can also be observed when there is no i

[2019-10-09 14:57] bobsilverberg commented on #8732
Thank you for your interest, @nik72619c, but this issue isn't ready to be worked on. Issues that are good options for contributors can be found by searching using the `contrib: welcome` label, e.g., https://github.com/mozilla/addons-frontend/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22contrib%3A+welcome%22.

[2019-10-09 16:01] #8738 closed

[2019-10-09 16:42] bobsilverberg opened #8744 "Introduce some page-level error components"
This is a follow-up to #8743

Some components, such as [`<Search>`](https://github.com/mozilla/addons-frontend/blob/262cafdc6d0aa45ebb0bee2534a2f694857e91e2/src/amo/components/Search/index.js#L213) render error components, such as [`<NotFound>`](https://github.com/mozilla/addons-frontend/blob/262cafdc6d0aa45ebb0bee2534a2f694857e91e2/src/amo/components/ErrorPage/NotFound/index.js), and when those c

[2019-10-09 17:09] jvillalobos commented on #8741
That Google page is linking to an add-on that was abandoned a long time ago. It's up to Google to update that page, so please report it to them.

[2019-10-09 17:09] #8741 closed

[2019-10-09 17:51] bobsilverberg commented on #8732
@AlexandraMoga I have fixed this, but please note that the loading skeletons for the hero elements will not line up exactly with the final versions except on a large viewport. This is something we knew would happen when we landed the loading skeletions. That said, with the patch I am landing for this issue there shouldn't be a significant amount of empty space at the bottom of the primary hero in

[2019-10-10 01:33] carpinvaz opened #8748 "MARIOSMAC10"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-10 08:10] carpinvaz commented on #8748
To be honest I don't write that message and I apologize for my behalf if I
have caused any problems to you or any angerman so again I'm sorry for
whatever is happening in I just got to find out who's writing in using my
email YouTube

[2019-10-10 08:46] ioanarusiczki commented on #8703
@kumar303

I don't see that as being reproducible. In `router/LOCATION_CHANGE` -> `viewContext` doesn't change.  - I checked this on AMO dev and stage

![don't see viewContext change](https://user-images.githubusercontent.com/33448286/66553185-55742a00-eb53-11e9-9f5a-490615e38d01.gif)

[2019-10-10 11:40] AlexandraMoga opened #8750 "Homepage information banners are too wide"
### Describe the problem and steps to reproduce it:
1. Load AMO homepage on stage
2. Notice the layout of the site notice

### What happened?
The banner is too wide

### What did you expect to happen?
The banner should be the same width as the rest of the content

### Anything else we should know?
- this is not reproducing on -dev, where to homepage hero is enabled; there must be some setting that

[2019-10-10 11:40] alexkayabula opened #8751 "Long strings are causing overflow on search results links"
### Describe the problem and steps to reproduce it:
1. Load AMO -dev homepage and set your screen size to  ~750 on Google Chrome.

### What happened?
- Contents should be centred.

### Anything else we should know?
- Screenshot of the issue
- I was able to reproduce this issue on macOS High Sierra.

<img width="922" alt="Screen Shot 2019-10-10 at 14 38 05" src="https://user-images.githubuserconten

[2019-10-10 12:04] ioanarusiczki commented on #8738
@bobsilverberg This is fixed on AMO dev and AMO stage - FF69(Win10).

![fixed](https://user-images.githubusercontent.com/33448286/66567157-4ac78e00-eb6f-11e9-9f2b-fc39532c48ba.png)

[2019-10-10 12:39] muffinresearch commented on #8750
Yep that sounds reasonable. I'm not aware of a need to use the banner.

[2019-10-10 12:41] muffinresearch commented on #8750
On second thoughts that's the error notification. How big would the fix be, if it's a few lines then we could pick it and it would be low risk if it's more than that perhaps not?

[2019-10-10 12:45] muffinresearch commented on #8750
Ok, I think we can avoid a late pick if it's nothing but cosmetic and overall not likely to be seen by many people.

[2019-10-10 15:40] bobsilverberg commented on #8728
This was fixed via https://github.com/mozilla/addons-frontend/commit/b730c6314868017a94e3a887e834bdf5e48560d0

[2019-10-10 15:40] #8728 closed

[2019-10-10 15:47] ioanarusiczki commented on #8703
@bobsilverberg We completed the [release testing ](https://testrail.stage.mozaws.net/index.php?/plans/view/21283) on AMO stage with FF69 (Win10 & Android 8.0).

Issues filed:
https://github.com/mozilla/addons-frontend/issues/8738 - already fixed
https://github.com/mozilla/addons-frontend/issues/8750 - going to be fixed next week

[2019-10-10 16:16] bobsilverberg opened #8756 "Error messages too wide on home page with new hero"
While working on #8750, I discovered that the error banner is too wide when the new heros are active:

![Screenshot 2019-10-10 12 13 30](https://user-images.githubusercontent.com/142755/66587127-d2a19e00-eb57-11e9-8f02-d0ca0fd212d8.png)

[2019-10-10 17:17] aaronrbenson commented on #8701
@kumar303 yeah I think we keep with this pattern. Here's a spec for this particular issue: https://mozilla.invisionapp.com/share/V4UBSNTHMN2#/387093697_addons-Messaging-Platforms

[2019-10-10 19:15] bobsilverberg opened #8757 "Problems with site banner and error messages on Android home page when new hero is enabled"
STR:

1. With `enableFeatureHeroRecommendation: true` (which means locally or on -dev), go to the Android home page (https://addons-dev.allizom.org/en-US/android/).
2. Generate an error.

Expected:

Site notices and error message appears in the usual places with the appropriate widths.

Actual:

No site notices are visible and the error message is too wide and too close to the header. See screensh

[2019-10-11 07:53] madjin opened #8759 "lightbeam extension is gone"
### Describe the problem and steps to reproduce it:

Lightbeam is missing from the add-ons frontend.

### What happened?

Mysteriously disappeared after an update although the github reflects no recent changes. Why was there an update shown for the add-ons frontend but not the github?

### What did you expect to happen?

https://addons.mozilla.org/en-US/firefox/addon/lightbeam/  to show lightbeam

[2019-10-11 15:53] jvillalobos commented on #8759
The extension was discontinued. Some of its features are being integrated into future versions of Firefox.

[2019-10-11 15:53] #8759 closed

[2019-10-11 16:13] jvillalobos opened #8760 "New A/B test for non-recommended warning"
Following up on https://github.com/mozilla/addons-frontend/issues/8137, we want to run a new test to try out a more subtle UX. We also want to test a smaller population in order to reduce the backlash.

Based on feedback from Felix, I suggest we split it this way:
* 20% see the old warning (https://github.com/mozilla/addons-frontend/issues/8137).
* 20% see the [new warning](https://mozilla.invisio

[2019-10-11 16:17] Smurfie8981 opened #8761 "Liner highlighter add-on is no longer available"
### Describe the problem and steps to reproduce it:
open firefox browser
navigate to https://getliner.com/
click "add to firefox button" on the page

### What happened?
got redirected to the url below
https://addons.mozilla.org/en-CA/firefox/addon/liner-web-pdf-highlighter/
### What did you expect to happen?
i was expecting to be able to add the extension to firefox browser

### Anything else we s

[2019-10-11 16:25] jvillalobos opened #8762 "Support Abuse Report hand-off in clients that support it"
Depends on https://github.com/mozilla/addons-server/issues/12741

In [bug 1580561](https://bugzilla.mozilla.org/show_bug.cgi?id=1580561), we implemented an API that allows AMO to trigger the Abuse Report flow in Firefox, for a specific add-on. We need to hook up the current Report Abuse feature to work with it. This just landed in 71.

For clients that have this new API available, clicking on on t

[2019-10-11 16:44] jvillalobos commented on #8761
Please contact the add-on developers about this problem. It is up to them to bring back the page or correct the link.

[2019-10-11 16:44] #8761 closed

[2019-10-12 17:30] laronsta opened #8763 "why?"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-13 18:27] gggustafson opened #8766 "Broken link"
The link

https://addons.mozilla.org/en-US/firefox/addon/bookmark-favicon-changer/

is broken

[2019-10-14 01:57] justonemarko opened #8768 "lightbeam for linux"
### Describe the problem and steps to reproduce it:
Down loaded lightbeam on linux mint for ubuntu using the software manager but it would not install to latest firefox and mozila does not have lightbeam in their repo for linux..  the add-on does not show up in the add-on section for firefox..  I have used this add-on in win7 for years and have found it very useful and would like to keep on using

[2019-10-14 01:58] justonemarko commented on #8768
Thank you for your attention.

[2019-10-14 03:49] marquezjohnchristian commented on #8768
I was looking for this addon as well. Was it intentionally removed from the [page](addons.mozilla.org)?

[2019-10-14 04:21] justonemarko commented on #8768
It's there for windows OS but not for linux,, but I did download it from a ubuntu repo and it dowloaded ok but ,it did not install onto the firefox browser... I'll keep on trying with it and see if I can get it to work/ install on to the browser.

[2019-10-14 15:36] muffinresearch commented on #8766
We are unable to provide support for individual add-ons.

This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services.

In this case the add-on is no-longer available because the add-on was not updated to support current versions of Firefox, it's up to the developer to provide an new version.

[2019-10-14 15:36] #8766 closed

[2019-10-14 15:37] #8763 closed

[2019-10-14 16:20] gggustafson commented on #8766
That's a cop-out if I've ever heard one. I don't know who the developer is. BUT the addon is published on YOUR site.

More and more, I'm disappointed with mozilla

[2019-10-14 20:13] #8732 closed

[2019-10-14 20:58] #8742 closed

[2019-10-14 21:01] jvillalobos commented on #8768
The add-on was removed because it's no longer being supported. Some of its features are being integrated into Firefox in the future.

[2019-10-14 21:01] #8768 closed

[2019-10-15 08:14] renovate[bot] opened #8774 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid regExp for packageRules[2].packagePatterns: `react-cookie,universal-cookie,universal-cookie-express`, Invalid regExp for packageRules[

[2019-10-15 08:27] muffinresearch commented on #8774
Looks like this might have come from https://github.com/mozilla/addons-frontend/pull/8659/commits/f835e4b11485abdcebad4bd86eff4acb52a9f1bb

[2019-10-15 08:34] muffinresearch commented on #8774
Update looks to have been caused by https://github.com/renovatebot/renovate/issues/4655

[2019-10-15 08:35] willdurand commented on #8774
Yep, the config used to work. We can see it in action here: https://github.com/mozilla/addons-frontend/pull/8250 (it uses the `packageRules` for the cookie libs).

[2019-10-15 08:38] #8774 closed

[2019-10-15 08:51] AlexandraMoga opened #8775 "Get the extension button is too wide for primary heroes with featured image set"
### Describe the problem and steps to reproduce it:
1. Load AMO -dev homepage
2. Observe the 'Get the extension' button of a primary hero with a featured image set

### What happened?
'Get the extension' button is too wide

### What did you expect to happen?
'Get the extension' button width is respecting the mocks

### Anything else we should know?
- probably regressed by #8746
- not reproduced wh

[2019-10-15 09:05] AlexandraMoga commented on #8732
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/66817211-060f6e80-ef44-11e9-82f0-7ea7d92758ea.png)

![image](https://user-images.githubusercontent.com/31961530/66817223-0b6cb900-ef44-11e9-99a2-f4da816e86cc.png)

[2019-10-15 11:09] AlexandraMoga opened #8776 "There are no loading skeletons for the primary hero in mobile view"
Follow up for #8619

### Describe the problem and steps to reproduce it:
1. Load AMO -dev homepage in mobile view
2. Navigate to a different page
3. Go back to the homepage by clicking on the site logo
4. Observe the primary hero in the loading state

### What happened?
There are no loading skeletons present

### What did you expect to happen?
Loading skeletons should be present in mobile view as

[2019-10-15 11:55] AlexandraMoga commented on #8742
Verified fixed on -dev:

[1] primary hero with image set
![image](https://user-images.githubusercontent.com/31961530/66829269-b6d53800-ef5b-11e9-941e-f53fc115bb2e.png)

[2] primary hero with no image set
![image](https://user-images.githubusercontent.com/31961530/66829275-ba68bf00-ef5b-11e9-8366-8528eeef89e7.png)

[2019-10-15 12:39] #8666 closed

[2019-10-15 12:57] bobsilverberg opened #8777 "Fix Storybook story for HeroRecommendation with an error"
This is a follow-up to #8753

In that PR a story was added for `HeroRecommendation` which is meant to show a variant that includes displaying an error. The story is not working properly in that an error is not displayed in the hero element.

In order to make this work it looks like we need to create a `store` in the `sectionFn` for the story, and then pass that store into the `Provider`.

[2019-10-15 13:01] #8750 closed

[2019-10-15 13:01] #8756 closed

[2019-10-15 13:22] bobsilverberg opened #8778 "Enable the new hero promo shelves on stage"
Update the config so that the new hero promo shelves will be enabled on stage. In terms of timing, this will be pushed to stage this Thursday, *after* the push to prod. This will allow QA to verify stage against prod for this week's push.

[2019-10-15 15:41] #8740 closed

[2019-10-15 15:43] #8757 closed

[2019-10-15 18:29] bobsilverberg commented on #8720
Thanks for the feedback on this @willdurand. I'm not sure exactly where we stand though, after @brassy-'s statement that the message need not be centered. In the example above from stage, the initial message is not in a box or card, which matches the example from dev. I agree we need some more padding around the content, but is the suggestion that this initial message also be in a card?

What's be

[2019-10-15 19:39] bobsilverberg commented on #8760
@felixlawrence / @jvillalobos I want to make sure I understand how we're going to assign users to branches. Based on the above, are we going to take 100% of users and assign 60% of them to a branch that shows no warning, 20% to a branch that shows warning A, and 20% to a branch that shows warning B? Or are we going to take a sample of users that represents less than 100% of users, i.e., 20% of use

[2019-10-15 19:41] #8776 closed

[2019-10-15 19:41] #8775 closed

[2019-10-15 20:11] jvillalobos commented on #8760
I suggesting the former (100% of users divided 60/20/20). If there's a reason to go with the latter approach, then we could just pick a small enough group (say, 20% of users) and split it evenly three ways.

[2019-10-16 08:45] AlexandraMoga commented on #8750
Verified fixed on -dev and stage:

With new hero - dev:
![image](https://user-images.githubusercontent.com/31961530/66902563-88ae3180-f009-11e9-9611-989159f86101.png)

Without new hero - stage:
![image](https://user-images.githubusercontent.com/31961530/66902592-96fc4d80-f009-11e9-8d5d-7581f03dabdd.png)

[2019-10-16 08:49] AlexandraMoga commented on #8756
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/66903285-de370e00-f00a-11e9-9379-f3d2e43e47a2.png)

[2019-10-16 11:14] AlexandraMoga commented on #8757
Verified fixed on -dev:
Site banners are displayed correctly when switching to /android/
![image](https://user-images.githubusercontent.com/31961530/66914291-29f3b280-f01f-11e9-9d68-88078d9b72d8.png)
![image](https://user-images.githubusercontent.com/31961530/66914304-32e48400-f01f-11e9-9159-19232fc9f99f.png)

[2019-10-16 11:24] AlexandraMoga commented on #8776
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/66914925-7e4b6200-f020-11e9-9d66-4bbae7592ef5.png)

[2019-10-16 11:33] AlexandraMoga commented on #8740
Verified fixed on -dev:
![image](https://user-images.githubusercontent.com/31961530/66915537-e8183b80-f021-11e9-8966-f175b2bf8c44.png)

[2019-10-16 11:44] AlexandraMoga commented on #8775
Verified fixed on -dev:
![image](https://user-images.githubusercontent.com/31961530/66916067-24986700-f023-11e9-9d39-a1ec73c7fc79.png)

[2019-10-16 12:47] ioanarusiczki opened #8783 "AMO homepage is displayed instead of dev hub after new register"
STR:
1. Start registration from https://addons-dev.allizom.org/en-US/developers/
2. Confirm registration on e-mail and notice you are directed to the edit page
3. Edit the display name and click the "Create account" button
4. Observe the screen

Expected result:
URL redirects to https://addons-dev.allizom.org/en-US/developers/ and lands on dev hub logged in view.

Actual result:
URL is https://add

[2019-10-16 12:50] ioanarusiczki commented on #8666
@eviljeff @bobsilverberg

Dev Hub Registration:
Edit profile page URL
https://addons-dev.allizom.org/en-US/firefox/users/edit?to=%2Fen-US%2Fdevelopers%2F
Create Profile is confirmed
URL is https://addons-dev.allizom.org/en-US/developers/
but it lands on the homepage instead.

So I filed https://github.com/mozilla/addons-server/issues/12629

And I'll continue testing this and get back with final re

[2019-10-16 14:00] ioanarusiczki commented on #8666
@bobsilverberg

"Create My Profile" - is greyed out until displayname is not edited.

After "Create my Profile" is clicked the user is redirected to the page the registration started, I tested for many pages. Here is the list:

- AMO homepage
- from a detail page
- from a category
- from a search result (query)
- from extensions tab
- addon review page
- dictionary and langpacks, search tools page

[2019-10-16 15:53] bobsilverberg commented on #8751
Thanks for filing this, @alexkayabula, but I am wondering how you generated this problem. When I check this issue on -dev and also on the production site, I cannot reproduce it.

For example, on prod (note "Facebook Container"):

![Screenshot 2019-10-16 11 48 48](https://user-images.githubusercontent.com/142755/66935983-f313a180-f00a-11e9-8fb6-015d34770f4a.png)

And on dev (note "EnhancerforYouTub

[2019-10-16 16:31] alexkayabula commented on #8751
I used Google Chrome Version 77.0.3865.90 on macOS High Sierra to produce the issue.
cc: @bobsilverberg

[2019-10-16 16:51] bobsilverberg commented on #8751
It looks like the only rules that work here on Chrome are `word-break: break-word`, which we have started trying to avoid because [it is deprecated](https://developer.mozilla.org/en-US/docs/Web/CSS/word-break#Syntax), and `word-break: break-all`, which is not deprecated, but is a bit less friendly than `word-break: break-word`. We have instead been using `overflow-wrap: anywhere`, which works on F

[2019-10-16 19:49] bobsilverberg commented on #8701
@aaronrbenson In the spec I see an implementation for the home page and the add-on details page, but what about other pages on the site? There are lots of pages that a user could potentially land on via a link, just some examples of which are the [Review Listing](https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/reviews/), the [All Versions page](https://addons.mozilla.org/en-US/firefox

[2019-10-16 20:05] aaronrbenson commented on #8701
Hey @bobsilverberg .. for the pages that aren't add-on detail pages, we can put the notice just under the main navigation bar as it's shown for the mock for the home page.

Would that work for all the other pages or are there any 'gotchas' there?

[2019-10-16 21:12] jvillalobos commented on #8701
Agree. The listing page should show the message below the install button, and other user-facing pages should show the other message.

[2019-10-16 23:44] erhan35 opened #8786 "Command: /usr/bin/gksudo Arguments: computer-janitor-gtk"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-17 08:14] bobsilverberg commented on #8783
I assumed there was a downside to doing a http redirect to an internal page, rather than an internal redirect using `react-router-dom`, but I could be wrong about that. It would re-create the redux store, but I guess login information wouldn't be lost because of cookies.

@kumar303 @willdurand Do you think just always doing an http redirect is a reasonable approach to this issue, or should we try

[2019-10-17 08:18] bobsilverberg commented on #8701
Thanks @aaronrbenson and @jvillalobos. One more question for @aaronrbenson, the spec shows the current home page, but the new hero promos are going live next Thursday, so I think I should develop this to work with those. For the home page, I assume we'll want this warning to appear immediately after the nav bar (i.e., inside the primary hero gradient) as opposed to after the primary and secondary

[2019-10-17 09:21] #8786 closed

[2019-10-17 09:28] willdurand commented on #8783
I think forcing a page reload would be fine because differentiating internal vs external paths seems hard.

[2019-10-17 09:46] #7636 closed

[2019-10-17 11:17] bobsilverberg commented on #8783
Ok, I'll give that a shot. Thanks @willdurand.

[2019-10-17 13:21] aaronrbenson commented on #8701
Yeah, I think that makes the most sense since this warning is a pretty high-level message. It's conveying that the information below it is filtered to either mobile or desktop, so putting it below the hero wouldn't really be accurate. Thanks @bobsilverberg!

[2019-10-17 15:47] kumar303 opened #8788 "Firefox logo has an SVG glitch on iOS mobile browsers"
### Describe the problem and steps to reproduce it:

Load https://addons.mozilla.org on an iOS browser like Firefox or Mobile Safari.

### What happened?

The Firefox logo is missing some colors and looks broken.

<details>
<summary>Screenshots for iOS Firefox and Safari</summary>

![2019-10-17 10 31 57](https://user-images.githubusercontent.com/55398/67024631-587a9780-f0ca-11e9-95b7-eb220501adbd.

[2019-10-17 17:42] #8778 closed

[2019-10-19 06:47] Hemrajabtop opened #8790 "not able to restore bookmarks from JSONLZ4 file"
### Describe the problem and steps to reproduce it:
- my browser was seeming slow to response,at the time mozilla suuggested to me to refresh the browser,as I refreshed the browser,mozilla notify me to reset my all existing setting to set by default,then I proceed,my browser had been refreshed that time and I got a file with my all bookmarks,crashes,date reporting,extensions etc, But When I tried

[2019-10-19 12:23] dcardinale15 opened #8791 "priceblink jump did not complete"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-19 12:24] dcardinale15 opened #8792 "priceblink link is broken. it asks for a review but the link to the review is missing"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-21 07:28] #8791 closed

[2019-10-21 09:04] ioanarusiczki commented on #7636
@bqbn @willdurand Can someone make read only available for this test ?
Thanks!

[2019-10-21 09:11] justonemarko commented on #8768
Thank you for the info jvillalobos,  I have noticed it has been removed from the Windows OS firefox web browser recently, I'm looking forward to seeing it again or some thing that closely resembles it...

[2019-10-21 10:59] mozcloudsec opened #8793 "addons.mozilla.org has failed the SecOps Baseline"
Site https://addons.mozilla.org has failed the SecOps Baseline scan.

The failing tests are:

 Content Security Policy (CSP) Header Not Set [10038] x 15
 * https://addons.mozilla.org/af/firefox/collections/4757633/ (301 Moved Permanently)
 * https://addons.mozilla.org/ar/firefox/collections/4757633/ (301 Moved Permanently)
 * https://addons.mozilla.org/ast/firefox/collections/4757633/ (301 Moved P

[2019-10-21 12:29] tykayn opened #8795 "lightbeam addon 404 page"
### Describe the problem and steps to reproduce it:
i followed the link to lightbeam addon page
https://github.com/mozilla/lightbeam

### What happened?
404 error not found

### What did you expect to happen?
expected an addon page to install

[2019-10-21 12:30] willdurand commented on #8795
The extension was discontinued. Some of its features are being integrated into future versions of Firefox.

[2019-10-21 12:30] #8795 closed

[2019-10-21 14:43] #7960 closed

[2019-10-21 16:07] bobsilverberg commented on #8701
@aaronrbenson The way I am implementing this, if a user is on the wrong platform then the link they see in the warning will take them to the exact same page, but on the correct platform, rather than just taking them to the home page on the correct platform. For example, if you are on `https://addons-dev.allizom.org/en-US/android/search/?recommended=true&sort=random&type=extension`, the link will p

[2019-10-21 18:38] bobsilverberg commented on #8751
Thanks for the information @alexkayabula. I think we're going to address this at a more fundamental level, as we keep coming across this same issue with different elements. For that reason I'm going to close the PR that you opened related to this, but I will leave this issue open to track our progress towards a more complete solution.

[2019-10-21 20:04] willdurand commented on #8751
Yes.

[2019-10-21 20:25] bobsilverberg commented on #8762
This has landed for 71, but I'm not sure how to interact with in in Nightly.

@rpl I can see the `abuseReportPanelEnabled` property, but it returns `false`. Is there an `about:config` flag that needs to be flipped in order to activate the `reportAbuse` function?

[2019-10-21 20:28] bobsilverberg commented on #8762
Nevermind, I found `extensions.abuseReport.amWebAPI.enabled` and `extensions.abuseReport.openDialog`, although I'm not sure what the latter controls.

[2019-10-21 21:15] Davilink commented on #8344
I have this extension installed on version of Firefox, but why i cannot find it in the store ?? Has it been deleted ? Why ? Should i stop using it ?

[2019-10-21 21:16] felixlawrence commented on #8760
I haven't been assigned to work on the new bug, but I'll throw in a quick recommendation: I'd recommend that if you want to run this, then you do follow @jvillalobos 's suggesting of picking a subset of users to be in the experiment, and splitting that group evenly three ways. If users are split between groups evenly, then that is resilient to a range of common implementation issues - if some bran

[2019-10-21 23:45] bqbn commented on #7636
In which environment and when do you want RO to be enabled? I suppose the RO mode cannot be enabled for a long time, so this may need some coordination as to when to set RO mode.

[2019-10-22 07:06] ioanarusiczki commented on #7636
@willdurand As discussed on irc - I tested this with FF69(Win10).

When read only is active:
- Register/Login button was disabled when I logged out. Also the maintenance message is displayed.
- Log out was disabled + the maintenance message displayed.

![Logged out mode](https://user-images.githubusercontent.com/33448286/67263832-f2b75280-f4b1-11e9-81e3-b83a22e14170.gif)

[2019-10-22 08:25] willdurand commented on #7636
@bqbn I think it's fine for now. I was able to manually enable/disable the RO mode in -dev. I don't know if we'll need to do the same in stage (maybe not).

[2019-10-22 08:58] #3134 closed

[2019-10-22 09:35] willdurand opened #8804 "Remove complete theme support"
We do not support XUL/complete themes in addons-server so let's remove the support for them in addons-frontend.

**For QA:** there should be no obvious regression.

[2019-10-22 13:31] willdurand commented on #8793
@psiinon The URLs mentioned here redirect to `/collections/` with a `301`. I think this is done at the Nginx level and that's likely why there is no CSP on the redirect response.

[2019-10-22 13:45] psiinon commented on #8793
@willdurand I must admit it not an issue I'm too worried about. However its a good test of the new code for raising issues on baseline failures :)
So, we have some options:

* Change the Nginx configs to add the CSP to 301s
* Whitelist this specific issue on /collections/ in the baseline configs

I'm ok with either of those - any thoughts on which could be the easiest to maintain?

[2019-10-22 14:04] willdurand commented on #8793
The nginx config has been added in https://github.com/mozilla/addons-server/issues/10638. URLs like `/collections/<user ID>/` have been deprecated/removed in favor of `/collections/`.

According to [the nginx config](https://github.com/mozilla-services/cloudops-deployment/blob/75dc92f61d143b5783a1b456b12a8d818260b371/projects/amo/puppet/modules/amo_proxy/templates/nginx.addons.conf.erb#L235), we d

[2019-10-22 14:08] psiinon commented on #8793
That seems like the safest option, unless we find there a specific reasons why this wouldnt be a good idea

[2019-10-22 14:21] willdurand commented on #8793
@bqbn could you look into that please? (adding CSP to the 301 responses served by nginx)

[2019-10-22 15:28] #8783 closed

[2019-10-22 15:31] bobsilverberg opened #8808 "Enable new hero promo shelves on Production"
Flip the `enableFeatureHeroRecommendation` flag to `true` for all environments.

[2019-10-22 15:41] #8804 closed

[2019-10-22 15:47] bobsilverberg opened #8810 "Remove code that interacts with enableFeatureHeroRecommendation flag"
The `enableFeatureHeroRecommendation` flag was added during the development of the new hero promo shelves. Now that those are enabled in all environments, we can remove all of the code that interacts with that flag, which will include removing every code path for `enableFeatureHeroRecommendation === false`. Any tests which reference this flag will also need to be updated/removed.

We should wait f

[2019-10-22 15:48] #8808 closed

[2019-10-22 21:49] bqbn commented on #8793
Yep, I've added it to my to do list, but TBH I don't know if I can get to it this week though, given that this is not urgent.

[2019-10-23 01:16] mozcloudsec opened #8816 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Absence of Anti-CSRF Tokens [10202] x 1
 * https://addons.allizom.org/en-US/developers/ (200 OK)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 * If the failing tests change then it will be updated
 * If it is closed before the tests pass then a n

[2019-10-23 06:08] jordanli04 opened #8817 "Chrome Store Foxified removed"
### Describe the problem and steps to reproduce it:
Chrome Store foxified has been removed

Chrome Store foxified is removed by that developer or mozilla removed it!
### What happened?
This extension is unlikely to be removed
### What did you expect to happen?
I want to re-add it again!
### Anything else we should know?
I have no idea

https://addons.mozilla.org/en-US/firefox/addon/chrome-store-fo

[2019-10-23 08:02] psiinon commented on #8816
It looks like  ` <form class="DevHub-Connect-newsletter-form" id="newsletter_form" name="newsletter_form" action="https://www.mozilla.org/en-US/newsletter/" method="post">` is missing the `data-no-csrf` attribute, as per `<form class="languages go" id="lang_form" method="get" action="" data-no-csrf>`

[2019-10-23 08:43] #8256 closed

[2019-10-23 08:59] #8790 closed

[2019-10-23 09:00] #8792 closed

[2019-10-23 09:20] jvillalobos commented on #8817
It's up to the developer to bring back the listing. We can't help you with that.

[2019-10-23 09:20] #8817 closed

[2019-10-23 11:01] ioanarusiczki commented on #8783
@bobsilverberg Dev Hub logged in view is displayed - issue is fixed on AMO dev with FF69(Win10).

![the correct page](https://user-images.githubusercontent.com/33448286/67386396-8e71bd00-f59d-11e9-811b-4ba6992d13ed.gif)