[2019-01-07 13:23] ioanarusiczki opened #7311 ""The Oops! We can’t find that page" is displayed only for a second for out of range pagination"
STR:
1. Load AMO dev and go to a an add-on that has more than one page of reviews
2. If the add-ons has 2 pages of reviews, replace the page number with 3 in the URL
3. Observe the page

Expected result:
The new message Oops! We can’t find that page is displayed.

Actual result:
Oops! We can’t find that page is displayed for a second and then the page reappears in a continuous loading state.

Note

[2019-01-07 13:29] willdurand opened #7312 "start value has mixed support, consider using flex-start instead"
**postcss** outputs two warning in the build logs:

[code]

We should use `flex-start` instead of `start`. Same for `flex-end`.

[2019-01-07 13:32] ioanarusiczki commented on #6598
@willdurand @rebmullin
- Pagination is displayed and works correctly. I've noticed an issue and filed it here https://github.com/mozilla/addons-frontend/issues/7311
- Pagination in search results is displayed and works correctly.

Verified with FF64(Win10).

[2019-01-07 13:42] willdurand commented on #7311
The issue is not about the pagination and it can be reproduced in all environments because the problem occurs when the user is logged in.

[2019-01-07 14:23] willdurand opened #7316 "Hide "no users" metadata entry for search tools (on add-on detail pages)"
Based on: https://github.com/mozilla/addons/issues/819.

---

We do not have any "install data" for search tools so we always show add-ons with "no users". Let's hide this message for search tools as it conveys a negative impact for no reason.

[2019-01-07 15:00] ioanarusiczki commented on #6486
I verified this issue with FF64, FF66, FF63 unbranded and FF52.9.0 esr on AMO dev (Win10). For all these versions the new alignment is left.

Disco pane is aligned to the left - this is now

![left alignment on dev](https://user-images.githubusercontent.com/33448286/50774930-7beff680-129d-11e9-800b-6e487227e4f9.png)

This was before - AMO stage with center alignment

![center alignment on stage](h

[2019-01-07 15:21] #7309 closed

[2019-01-07 15:32] AlexandraMoga commented on #7255
Verified fixed in stage as well

[2019-01-07 15:45] muffinresearch opened #7317 "Remove HCT related code"
For code quality let's remove the HCT code, config  + docs.

**For QA:** Google Analytics events should work as intended. We should not see any "HCT" logs or events anymore (in the console or in the Telemetry tab in FF).

[2019-01-07 15:56] bobsilverberg commented on #7240
@willdurand In https://github.com/mozilla/addons-frontend/issues/7240#issuecomment-447822245, @muffinresearch said we want to release this on the 18th, but I'm not sure why it couldn't be done on the 10th.

@muffinresearch What do you think the milestone should be for this?

[2019-01-07 16:30] rebmullin commented on #7037
ScrollToTop implies you want it to scroll back to the top of the page, no?
The expected result here is that the scroll position should be at the bottom (i.e. maintain its scroll position)

[2019-01-07 16:37] willdurand commented on #7037
Ah. Right.

I don't think we should do anything about this bug anyway, because I don't think we supported this "feature" in our code before and as pointed out above, it is likely a browser feature.

[2019-01-07 16:55] #6609 closed

[2019-01-07 17:25] muffinresearch commented on #7240
It got deferred until today (7th Jan). We're planning to push this imminently. I've put it in the 10 milestone since that's the closest one and will do from the point of view of discussing the change.

[2019-01-07 17:30] bobsilverberg opened #7321 "Remove the functionality of the "mamo" cookie"
In #7246 we are removing the link to view the classic site from the AMO footer. We would also like to disable the ability to view the classic site for anyone who currently has the `mamo` cookie set. I understand that this is something that is entirely configured via nginx. @bqbn is this something you can take care of?

[2019-01-07 17:31] bobsilverberg commented on #6334
Thanks @diox. I opened #7321.

[2019-01-07 19:36] jvillalobos opened #7322 "Error page when looking at my profile page while logged in"
When I'm logged in and try to access [my profile page](https://addons.mozilla.org/en-US/firefox/user/4230/), I get a server error page. The page loads fine if I'm not logged in.

The page appears to be loading fine and then switches to an error page. I see this in the console, which may be related:

[2019-01-07 19:59] bobsilverberg commented on #7322
I can look into this. I tested it and was unable to reproduce it using my own profile as well as @jvillalobos's profile, so it might be specific to his profile viewed when logged in with his account. I'll do some digging into the code.

[2019-01-07 20:35] bobsilverberg commented on #7322
I did some digging and here's what I came up with:

There are only 3 places in the code whence this error could be coming from, and the only one that makes sense in the context of the User Profile page is the one in  [`reviewListURL`](https://github.com/mozilla/addons-frontend/blob/2018.12.18/src/amo/reducers/reviews.js#L68-L83).

I believe that `reviewListURL` is being called in this instance fro

[2019-01-07 21:48] kumar303 commented on #7322
Sounds likely. Perhaps @jvillalobos had reviewed an add-on which is now either deleted or disabled. His profile page is trying to display those reviews.

[2019-01-07 22:14] bobsilverberg commented on #7322
@kumar303 Yes, that seems like the most likely thing. I'm not sure how to test it though. I tried disabling an add-on by disabling its current version, and I also tried deleting an add-on via the Django admin (but that didn't seem to actually delete the add-on), but neither of those caused this error to reproduce.

I'm going to put up a PR that fixes this, assuming we are correct about the issue,

[2019-01-07 23:01] caitmuenster commented on #7302
Thanks, @jorgev. Just scheduled those docs for obsoletion.

[2019-01-08 01:17] bqbn commented on #7321
We can take care of it.

To be clear, is it correct that you want the proxy layer (nginx) to ignore the `mamo` cookie, no matter what its value is and/or if the cookie is present or not?

[2019-01-08 03:35] bobsilverberg commented on #7321
I  believe that is correct. Our intention is for all traffic to go to the new site, not the legacy site, regardless of the cookie value or the presence of the cookie.

[2019-01-08 06:01] anjanikumar93 opened #7324 "No store found. Make sure to follow the instructions."
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-08 07:35] #7324 closed

[2019-01-08 07:35] #7312 closed

[2019-01-08 08:46] AlexandraMoga commented on #7322
I wasn't able to reproduce this either. I've tried both with regular and admin accounts, with deleted or disabled addons, changed addons slugs..

I'm guessing there is a special case behind that will cause this issue to happen.

[2019-01-08 09:04] #7311 closed

[2019-01-08 09:16] willdurand commented on #7037
Ah 😞

[2019-01-08 09:51] willdurand opened #7325 "Update collection code for editing Mozilla collections"
The code to edit a Mozilla collection used to rely on the (`mozilla`) username. We now use the `userId` so the code should be updated for that.

**For QA:** please make sure a user who is allowed to edit a mozilla collection can edit Mozilla collections. See also: #5163.

[2019-01-08 10:39] ioanarusiczki opened #7327 "Old view for the error message is displayed instead of the new message"
STR:
1. Load AMO dev and click the extension tab
2. Change the URL in order to receive the error message, https://addons-dev.allizom.org/en-US/firefox/extensions/, make it  https://addons-dev.allizom.org/en-US/firefoz/extensions/ or  https://addons-dev.allizom.org/en-US/firefoz/extensionz/
3. Observe the screen

Expected result:
Oops! We can’t find that page the new message is displayed such as he

[2019-01-08 10:47] ioanarusiczki commented on #7311
@willdurand While re-testing for this issue I've noticed something reproducible on all servers, looks like the old view error message is displayed in some situations so I filed it here https://github.com/mozilla/addons-frontend/issues/7327.

I could no longer reproduce this issue on AMO dev with FF64(Win10).

![fixedoops](https://user-images.githubusercontent.com/33448286/50826141-84027180-1343-11

[2019-01-08 11:11] willdurand opened #7328 "Use userId in AddAddonToCollection component"
We should not use `username` anymore, so let's update our codebase. This issue is about using `userId` instead of `username` in the code related to the "add add-on to collection" feature, located on an add-on detail page.

![screen shot 2019-01-08 at 12 10 51](https://user-images.githubusercontent.com/217628/50827337-75658b80-133e-11e9-88c5-a0eac1181cb7.png)

**For QA:** please make sure this feat

[2019-01-08 11:13] willdurand opened #7329 "Use userId in CollectionAddAddon component"
We should not use `username` anymore, so let's update our codebase. This issue is about using `userId` instead of `username` in the code related to the "add add-on to collection" feature, located on a collection edit page.

![screen shot 2019-01-08 at 12 10 51](https://user-images.githubusercontent.com/217628/50827440-bc538100-133e-11e9-8b60-2c49698db7b7.png)

It is a refactoring issue with no UI

[2019-01-08 11:23] willdurand commented on #7327
I noticed this issue yesterday too. I wasn't sure it was only me or not..

[2019-01-08 13:36] willdurand commented on #7327
From IRC:

[2019-01-08 13:40] willdurand commented on #7327
@bobsilverberg @muffinresearch is there any plan to do something like this once all legacy pages have been ported to the new frontend and we avoid to serve the old frontend?

[2019-01-08 13:45] #6652 closed

[2019-01-08 13:45] bobsilverberg commented on #7327
That does sound like something we should do. I guess we should put a plan in place to do that, and discuss whether there are any situations in which we would still need to serve the old site.

[2019-01-08 13:48] willdurand commented on #7327
This issue has been filed a while ago actually... See: #6606. I'm going to keep this issue here and close #6606 because we started to comment here.

[2019-01-08 13:48] willdurand commented on #6606
Duplicate of #7327

[2019-01-08 13:48] #6606 closed

[2019-01-08 14:01] willdurand commented on #4891
This could potentially be related to #7322. Since we don't have any other idea, I am closing this issue for now.

[2019-01-08 14:01] #4891 closed

[2019-01-08 14:45] willdurand commented on #5055
This URL (https://addons.mozilla.org/en-US/firefox/collections/Dawn_Grib/pentecost-and-summer/) works for me :/ We'd need the error message to see what went wrong.

I don't really know what else we can do so far, so I am going to close this issue because it starts to be stale. Please re-open or create a new one if the problem still occurs.

[2019-01-08 14:45] #5055 closed

[2019-01-08 14:47] willdurand commented on #6452
Shall we?

[2019-01-08 14:49] willdurand commented on #6533
We've updated a few things related to collections. We might have fixed your issue (but maybe not). I'm closing this issue for now but feel free to reopen it if that still does not work.

[2019-01-08 14:49] #6533 closed

[2019-01-08 14:51] ioanarusiczki commented on #6334
@bobsilverberg  I verified this issue on AMO dev with FF64(Win10), here are my results:

- The "View classic desktop site" is no longer displayed in the footer of the page on AMO dev

![view classic site removed](https://user-images.githubusercontent.com/33448286/50836925-1b2af180-1363-11e9-829b-dcef48b57951.gif)

-  I left open a couple of tabs in old view on AMO stage to see how it will redirect

[2019-01-08 15:11] willdurand commented on #7298
mmmmh, maybe not actually..

[2019-01-08 15:15] willdurand commented on #7298
Adding `contrib:welcome` to this issue.

[2019-01-08 15:19] willdurand commented on #7037
Quoted from: https://reacttraining.com/react-router/web/guides/scroll-restoration

Not sure we should do anything about that since browsers start to implement this feature.

[2019-01-08 15:20] championshuttler commented on #7298
Hi All I was testing it out on different OS , I was able to reproduce it over Debian (Linux ) but not on MacOS , can anyone please confirm it.

Also can i take this up?

[2019-01-08 15:22] willdurand commented on #7298
I think the main issue is with Android (according to the original post).

yep

[2019-01-08 15:48] ioanarusiczki opened #7332 "All versions page - the last version is installed no matter what version is clicked"
STR:
1. Load AMO dev and go to All version page for an addon with multiple versions such as https://addons-dev.allizom.org/en-US/firefox/addon/awesome-screenshot-plus-/versions/
2. Click one of the version and watch the screen

Expected result:
The chosen version is installed.

Actual result:
All the buttons start the install process and then all display "Remove" state. The last version of the add

[2019-01-08 15:48] championshuttler commented on #7298
Oops, my bad , got it thanks @willdurand :smile:

[2019-01-08 16:07] #6900 closed

[2019-01-08 16:07] #7223 closed

[2019-01-08 16:09] kumar303 commented on #7317
HCT = Hybrid Content Telemetry

[2019-01-08 16:10] ioanarusiczki opened #7333 ""Add to firefox" button could be centered on All version page"
STR:
1. Load AMO dev and go to an All version page for an add-on with more than one version displayed such as https://addons-dev.allizom.org/en-US/firefox/addon/awesome-screenshot-plus-/versions/
2. Observe install button

Expected result:
The button is below the version's number. (center right)

Actual result:
Actual position is up on the right.

Notes:
Reproducible on AMO dev with FF64(Win10).

[2019-01-08 16:12] ioanarusiczki commented on #2770
@bobsilverberg I filed https://github.com/mozilla/addons-frontend/issues/7332 and https://github.com/mozilla/addons-frontend/issues/7333. I'll continue testing this issue tomorrow.

[2019-01-08 17:03] twisted-sres commented on #7316
Hey, I would like to work on this issue, please let me know how to get started

[2019-01-08 17:08] sjgv opened #7334 "link from chatzilla broken"
### Describe the problem and steps to reproduce it:
clicked on 'extensions' link @ this address http://chatzilla.rdmsoft.com/xulrunner/
took me to a 'couldn't find' page

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-08 17:09] willdurand commented on #7334
Hi, it looks like this add-on does not exist anymore. It has likely been removed by their author.

[2019-01-08 17:09] #7334 closed

[2019-01-08 17:16] #7322 closed

[2019-01-08 17:22] #6650 closed

[2019-01-08 17:31] willdurand commented on #7244
The rule has been added to -dev.

[2019-01-08 17:32] willdurand commented on #7244
@autrilla or @bqbn can we deploy the rule in stage now too? Thanks!

[2019-01-08 18:06] willdurand commented on #7244
Deployed to stage!

[2019-01-08 18:58] bobsilverberg commented on #7332
There are a number of problems here, including the fact that "Remove" and "Enable" buttons are displayed for each version when a version is installed or disabled. I took a look at the legacy version of this page, which is still available in prod (e.g., at https://addons.mozilla.org/en-US/firefox/addon/auth-helper/versions/) and what I found was that the "All Versions" page on the legacy site simpl

[2019-01-08 19:40] championshuttler opened #7337 "About this addon section not using complete width"
### Describe the problem and steps to reproduce it:
Go to https://addons.mozilla.org/en-US/firefox/addon/permission-inspector/ and check `About this extension` component.

### What happened?
I expected `About this extension` component to use full width, right now it looks like https://ibb.co/ByrVn8N

### What did you expect to happen?
I expected to see the description like this  https://ibb.co/C1F

[2019-01-08 19:40] jvillalobos commented on #7332
I don't mind that all of the buttons on the page change state at the same time. It could be useful to know that you have the extension installed and have the option to remove it from that same page. I'd rather fix the original problem, which appears to be that the button isn't installing the correct old version.

/cc @atsay for second opinion.

[2019-01-08 19:41] championshuttler commented on #7337
Let me know if I need to provide any other details about it.
Happy to give this a shot!

[2019-01-08 19:47] bobsilverberg commented on #7332
Thanks @jvillalobos. I do plan on fixing the main problem reported, making sure that clicking a button installs the correct version.

My comments were more about the other problems on the page. It seems a bit confusing to me to have all the buttons say "Enable" when only one of the versions (whichever is currently installed) will be enabled. It would be a significant amount of work to sync up the

[2019-01-08 19:58] jvillalobos commented on #7332
I see what you mean, but the flip side is that the buttons then wouldn't react in the same way as everywhere else on the site (and the add-ons manager), and keeping consistent appearance and behavior has been a big UX goal.

[2019-01-08 20:02] bobsilverberg commented on #7332
@jvillalobos That makes sense. It therefore sounds like nothing has to change about this version of the page, other than making sure that installing an older version actually installs that version, correct? You're happy with the button behaviours otherwise?

[2019-01-08 20:47] championshuttler commented on #7333
Hi All, can i take this up . I guess by fixing
[code]
.InstallButtonWrapper {
    align-self: center;
  }
[code]

[2019-01-08 21:03] bobsilverberg commented on #7333
Sure @championshuttler, that looks good. Go ahead and submit a pull request, and thanks!

[2019-01-08 21:13] jvillalobos commented on #7332
Yeah, I'm okay with their current behavior. If @atsay doesn't object soon, I think we can leave them that way.

[2019-01-08 22:03] atsay commented on #7332
Yes, agree with @jvillalobos that letting people install the version they mean to install is the biggie. Ok to leave everything else the same.

[2019-01-09 02:40] munipwdz2 opened #7340 "Karawang"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-09 02:40] munipwdz2 commented on #7340
sd

[2019-01-09 07:41] AlexandraMoga commented on #7240
Verified fixed also with the "Get Firefox" button from the All version page.

[2019-01-09 08:17] AlexandraMoga opened #7343 "The All versions page tries to load even if the requested add-on doesn't exist"
Follow up for #2770

STR:
1. Open the All versions page for a deleted addon or an addon with an incorrect slug - i.e. https://addons-dev.allizom.org/en-US/firefox/addon/easy-screenshot-dev/versions/

Actual result:
The All versions page is trying to load the details of a non-existent addon, which results in a broken page layout

Expected result:
The All versions page should not load if the request

[2019-01-09 08:49] willdurand commented on #7337
I don't think we plan to change that as per https://github.com/mozilla/addons-frontend/issues/4158#issuecomment-357923307

[2019-01-09 08:49] #7337 closed

[2019-01-09 08:50] #7340 closed

[2019-01-09 08:53] #7325 closed

[2019-01-09 09:18] AlexandraMoga commented on #6609
Verified fixed on AMO -dev with FF64, Win10x64

1. Collection details URLs are now displaying the user id:
![2019-01-09_10-55-18](https://user-images.githubusercontent.com/31961530/50888258-eae46100-13fd-11e9-94a0-6d6c00086dfd.gif)

2. URLs containing a username instead of a user Id will be redirected to the new format:
https://addons-dev.allizom.org/en-US/firefox/collections/LexaSV/hopes/ - is re

[2019-01-09 09:38] AlexandraMoga opened #7344 "Server error message for mozilla collections opened from the guides pages"
Possible regression from #6609

STR:
1. Open AMO stage homepage
2. Go to a guideline page - i.e. https://addons.allizom.org/en-US/firefox/guides/stay-safe-online/
3. Click on Explore more [password managers] to open the mozilla password managers collection

Actual result:
A Server error page is opened

Expected result:
The collection details page is opened

Note:
- probably these collection pages

[2019-01-09 09:39] willdurand commented on #7344
ah, looks like we did not change the URLs :(

[2019-01-09 09:50] #7298 closed

[2019-01-09 09:50] AlexandraMoga commented on #7297
Verified fixed on AMO -dev and stage with FF64, Win10x64

Mozilla collections featured on the homepage (Customize the way Firefox works.... and other shelves) are using now the `userId`:

![2019-01-09_11-47-02](https://user-images.githubusercontent.com/31961530/50891360-c5a72100-1404-11e9-8560-2a0a46778b54.gif)

[2019-01-09 10:17] #7333 closed

[2019-01-09 10:25] willdurand opened #7346 "The install button should use the full width below the text of each version on the version page (on small screens)"
The install button should be displayed below the text of each version on the version page (on small screens) and use the full width, rather than staying next to the content. This would match the style of the install button on an add-on detail page.

### Current:

![screen shot 2019-01-09 at 11 16 01](https://user-images.githubusercontent.com/217628/50893471-377d6b80-1401-11e9-9d5c-34ee95a2aeef.png

[2019-01-09 10:47] championshuttler commented on #7346
Can I try to give it a shot! ?

[2019-01-09 11:02] willdurand commented on #7346
yep

[2019-01-09 11:16] suhailsinghbains commented on #6485
Hi,
Can I please be assigned this bug?

[2019-01-09 11:23] AlexandraMoga opened #7348 "All versions page for static themes returns a server error message"
Follow up for #2770

STR:
1. Open a static theme details page - https://addons.allizom.org/en-US/firefox/addon/128x128/?src=search
2. Click on See all versions in the More information card

Actual result:
A server error page is displayed

Expected result:
Static theme versions page is displayed

Notes:
- reproduced on -dev and stage with FF64, WIn10x64

![2019-01-09_13-21-34](https://user-images.g

[2019-01-09 12:16] AlexandraMoga commented on #6900
Verified on dev and stage with FF64, Win10x64

For a really really brief moment, loading indicators will be present in place of an add-on name inside the guidelines' addon cards:

![image](https://user-images.githubusercontent.com/31961530/50897758-c4cabb00-1415-11e9-9d9a-c0fe9f816ac2.png)

I found it a bit odd that we still show the description of an add-on even when if it's details can't be fetc

[2019-01-09 12:19] ioanarusiczki opened #7349 "The incompatibility message is too close to the install button on android"
STR:
1. Load AMO dev and go to the All version page for an add-on that has at least one incompatible version on that platform
2. Observe the red message

Expected result:
The message looks good

Actual result:
The message is too close to the install button, it should be displayed a little lower

Notes:
This issue is reproducible on small screens - on Android 8.0 (Ff64).

![small screen the not ava

[2019-01-09 12:35] ioanarusiczki opened #7350 "Version notes - the text should be separated from Source code and should be wider on android"
STR:
1. Load AMO dev and go to the all version page of an add-on, make sure it has version notes included
2. Observe the text

Expected result:
The notes are separated from the Source code line.

Actual result:
The notes and the Source code are not separated, they look like a paragraph.

Notes:
This issue is also reproducible on android and also the text on small screen could expand more to the ri

[2019-01-09 14:00] ioanarusiczki commented on #2770
The following issues were filed:
https://github.com/mozilla/addons-frontend/issues/7343
https://github.com/mozilla/addons-frontend/issues/7348
https://github.com/mozilla/addons-frontend/issues/7346
https://github.com/mozilla/addons-frontend/issues/7349
https://github.com/mozilla/addons-frontend/issues/7351

I don't see it as a problem, but I can't tell if it's intended: when the rating count (on t

[2019-01-09 14:09] willdurand commented on #7349
I think fixing https://github.com/mozilla/addons-frontend/issues/7346 will also fix this issue.

[2019-01-09 14:13] #7344 closed

[2019-01-09 14:18] willdurand commented on #6900
I don't really a problem with displaying data we already have. Sure, if an add-on cannot be loaded, the card will be hidden but this should not happen in theory. I personally like how it is.

[2019-01-09 14:19] #7317 closed

[2019-01-09 14:20] willdurand commented on #6485
@suhailsinghbains yep

[2019-01-09 14:36] willdurand opened #7352 "Use react-router to link to the "all versions" page in an add-on detail page"
We should change the link to the "all versions" page on an add-on detail page so that it fully uses react-router and client-side navigation when available.

**For QA:** when clicking the "See all versions" link, there should be no page refresh, the app should take you to the "all versions" page using client-side navigation.

[2019-01-09 14:49] ioanarusiczki commented on #6650
This scenario is no longer reproducible on AMO dev and AMO stage with FF64(Win10).

![featured extensions work](https://user-images.githubusercontent.com/33448286/50906618-27c84c00-142e-11e9-85ee-fb1e04f7e6bf.gif)

[2019-01-09 14:53] willdurand commented on #7348
It looks like a license might not have `text` or `url`.

[2019-01-09 15:10] willdurand commented on #7348
@muffinresearch @bobsilverberg can we live with that for a week or should we cherry-pick the patch for this issue? (hence marking it as `p1` instead of `p2`)

[2019-01-09 15:10] diox commented on #7218
Note that you should pass the client id as a query parameter just as before, the API ignores all cookies. [I updated the API docs to make it clearer](https://addons-server.readthedocs.io/en/latest/topics/api/discovery.html#discovery-content).

[2019-01-09 15:36] ioanarusiczki commented on #6236
I verified this issue on AMO dev with FF64(Win10), and Saving/Save is available on all pages when the rating is updated. Text can be edited too without issues.

![saving saved](https://user-images.githubusercontent.com/33448286/50909629-e8512e00-1434-11e9-8f94-295eacd656fb.gif)

[2019-01-09 16:04] #7352 closed

[2019-01-09 16:14] muffinresearch commented on #7348
If the patch is low-risk then let's pick it.

[2019-01-09 16:24] willdurand commented on #7321
This has been deployed in -dev and -stage if I am not mistaken. /cc @autrilla

[2019-01-09 16:34] autrilla commented on #7321
That is correct

[2019-01-09 16:35] caitmuenster commented on #7316
Hey @twisted-sres, go for it!

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @willdurand

[2019-01-09 16:38] jvillalobos commented on #6485
We decided we don't need this, since the link should be visible at the bottom of the window (as for all links in Firefox), which should make it clear what the link is for.

[2019-01-09 16:38] #6485 closed

[2019-01-09 16:40] caitmuenster commented on #3836
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @bobsilverberg

[2019-01-09 16:40] #7348 closed

[2019-01-09 16:41] willdurand commented on #7348
ok, let's cherry-pick then.

[2019-01-09 16:49] ioanarusiczki opened #7355 ""Saved" is displayed when Edit review is clicked"
STR:
1. Load AMO dev and go to the user profile page, make sure you have reviews.
2. Click "Edit review" and observe the screen

Expected result:
"Saved" is displayed only after updating the rating.

Actual result:
"Saved" is already displayed without updating a rating.

Notes:
This issue is reproducible on AMO dev and AMO stage on user profile page and the listed review page with FF64(Win10).
Thi

[2019-01-09 16:51] ioanarusiczki commented on #6236
While testing for https://github.com/mozilla/addons-frontend/issues/5925 I've noticed an issue that I could not reproduce on AMO prod, looks like it's a regression https://github.com/mozilla/addons-frontend/issues/7355

[2019-01-09 17:03] willdurand commented on #7321
Closing this one then :)

[2019-01-09 17:03] #7321 closed

[2019-01-09 17:04] willdurand commented on #7244
Closing this issue as it will be deployed to prod tomorrow! (deployed in dev and stage already)

[2019-01-09 17:04] #7244 closed

[2019-01-09 18:01] #7343 closed

[2019-01-09 18:13] #7332 closed

[2019-01-09 19:46] twisted-sres commented on #7316
I am trying to build it on my local machine, but ./mach build is taking a lot of time

[2019-01-10 03:33] championshuttler commented on #7316
Hey @twisted-sres are you building gecko on your laptop by any chance?

For addons-frontend development, you can check the requirements [here](https://github.com/mozilla/addons-frontend#requirements), in short, you need nodejs version 8+. After that, please install Yarn from [here](https://yarnpkg.com/en/docs/install).

After that, you can install the project dependencies by running `yarn install`

[2019-01-10 07:36] AlexandraMoga opened #7358 "Visual issues for rating stars at hover"
Regression from #5925

STR:

1. Open AMO stage homepage
2. Hover over some addons in the featured shelves

Actual result:
A rating star is missing for some of the addons

Expected result:
No visual issues with regards to rating stars

Notes:
- a slightly different issue is visible on the recommendations card on an addon details page, where one rating star is filled with yellow instead of gray (ref

[2019-01-10 07:58] AlexandraMoga commented on #7344
Verified fixed on AMO -stage with FF64, WIn10x64

![2019-01-10_09-56-38](https://user-images.githubusercontent.com/31961530/50954154-41b16f80-14be-11e9-97f8-86e79b3a11de.gif)

[2019-01-10 08:15] AlexandraMoga commented on #7343
Verified fixed on -dev and stage with FF64, Win10x64

![image](https://user-images.githubusercontent.com/31961530/50954997-a8d02380-14c0-11e9-9031-743a163d9ead.png)

[2019-01-10 08:22] AlexandraMoga commented on #7322
Having tried this with several profiles and not being able to reproduce the issue, I think the only solution is to wait for @jvillalobos to confirm if the issue is fixed for his account.

[2019-01-10 08:55] ioanarusiczki commented on #5925
I did not find visual regressions on AMO dev with FF64(Win10).

[2019-01-10 09:14] AlexandraMoga opened #7359 "Rating stars have been shrunk in the write/edit/delete review form on smaller screen sizes"
Regression from #5925

STR:

1. Log in to AMO stage on a mobile device (or use the responsive design mode)
2. Go to an addon details page
3. Write a review
4. Observe the rating stars

Actual result:
Compared to Prod, the rating stars have been visibly shrunk

Expected result:
The rating stars should be larger

Notes:
- the same style regression is visible when you try to edit or delete a review
-

[2019-01-10 09:18] AlexandraMoga commented on #5925
Verifed on AMO stage with FF64, WIn10x64 and Android 8.0

There were some visual issues noticed, for which I've logged #7358 and #7359

[2019-01-10 09:51] ioanarusiczki commented on #7321
@autrilla
I verified this issue on AMO stage with FF64 - Win10
- the old pages left open were already displayed in the new view today even if the mamo cookie is present and has the value "off".

![mamo cookie](https://user-images.githubusercontent.com/33448286/50959846-91973300-14cc-11e9-961b-35b468c60eed.png)

- after clearing the cookies, the mamo cookie is no longer available

Yesterday the new

[2019-01-10 10:15] ioanarusiczki commented on #6334
As discussed, the private/public functionality is something no longer wanted for the new pages. I filed https://github.com/mozilla/addons-server/issues/10358 for the collection issue from dev hub and the mamo cookie was checked here https://github.com/mozilla/addons-frontend/issues/7321.

[2019-01-10 10:19] #7355 closed

[2019-01-10 10:32] willdurand commented on #5925
Due to the number of regressions and the fact that I am not sure how to come up with a patch to fix them all, I am going to revert the patch.

[2019-01-10 11:06] #7358 closed

[2019-01-10 11:06] #7359 closed

[2019-01-10 11:12] riszinryan opened #7361 "Firebug"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-10 11:16] ioanarusiczki commented on #7332
@bobsilverberg I verified this issue on AMO dev and AMO stage with FF64(Win10) for add-ons and static themes.
- The correct version is installed now.
- "Remove" and "Enable" can be clicked on any of the version and it will remove, enable the previous installed version.
- The scenarios when the versions are enabled or removed from add-on manager behave the same way as for the other pages (detail pa

[2019-01-10 11:16] willdurand commented on #7361
Hi, this is an intended consequence of the [removal of legacy add-ons from AMO](https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/).

All versions of this add-on were disabled because they were legacy. This causes the add-on to be considered incomplete, and that's why you're seeing the error.

[2019-01-10 11:16] #7361 closed

[2019-01-10 11:43] EnTeQuAk commented on #7361
Firebug has been replaced by the https://www.mozilla.org/en-US/firefox/developer/ Firefox Developer Tools since ~2017.

[2019-01-10 11:58] ioanarusiczki commented on #7244
Verified on AMO Stage - FF64 (Win10).
The rest of the verification and issues were mentioned here https://github.com/mozilla/addons-frontend/issues/2770

[2019-01-10 12:36] AlexandraMoga commented on #7359
Verified fixed on AMO -dev with FF64, Win10x64 and Android 8.0

Write/Edit
![image](https://user-images.githubusercontent.com/31961530/50968764-bdbeae00-14e4-11e9-8324-259a783a4aeb.png)

Delete
![image](https://user-images.githubusercontent.com/31961530/50968782-cadb9d00-14e4-11e9-90e4-818624ec56be.png)

[2019-01-10 14:17] krassen89 opened #7362 "antigameorigin not found"
### Describe the problem and steps to reproduce it:

Followed many links from google search, antigameorigin for firefox, file not found on extensions website for firefox.

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-10 14:21] willdurand commented on #7362
Hi, this is an intended consequence of the [removal of legacy add-ons from AMO](https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/).

All versions of this add-on were disabled because they were legacy. This causes the add-on to be considered incomplete, and that's why you're seeing the error.

[2019-01-10 14:21] #7362 closed

[2019-01-10 16:31] #6129 closed

[2019-01-10 17:16] jvillalobos commented on #7322
The profile page now loads correctly. Thanks!

[2019-01-10 18:01] bobsilverberg commented on #7322
I guess we fixed the problem. Thanks @jvillalobos. Can you check, is there a review listed on your profile page that appears without a permalink?

[2019-01-10 19:31] jvillalobos commented on #7322
They all appear to have permalinks, but a bunch of them are for add-ons that are disabled, so the link goes to an error page.

[2019-01-10 19:35] bobsilverberg commented on #7322
For those ones, does the link include the addonId as opposed to the slug? Can you paste an example of one of those links?

[2019-01-10 19:43] kumar303 commented on #5925
Sorry about the revert, @rebmullin. I took a quick look at your patch and I think everything was on the right track. It's just missing some of the styles for all various states in https://github.com/mozilla/addons-frontend/pull/7263/files#diff-496f5bb7b2e875e2b48a2046477aeced (these styles grew organically so they are very complex).

I suggest beginning by making a story book for all possible rati

[2019-01-10 20:07] jvillalobos commented on #7322
[This one](https://addons.mozilla.org/en-US/firefox/addon/password-exporter/reviews/935676/) is disabled and the link still has the slug.

[This one](https://addons.mozilla.org/en-US/firefox/addon/495446/reviews/563122/) uses the add-on ID instead. I think this add-on was deleted.

[2019-01-10 20:11] kumar303 commented on #7322
This add-on was fully deleted? I guess that explains it.

[code]

[2019-01-10 20:35] bobsilverberg commented on #7322
Yes, mystery solved. Thanks @kumar303 and @jvillalobos!

[2019-01-11 14:34] bobsilverberg commented on #7346
@championshuttler I'd like to have this fix landed by next week's push. Do you plan on fixing it soon? If not, I might take it over and get it done. Please let me know what your plans are with respect to this issue.

[2019-01-11 14:56] rebmullin commented on #5925
yeh @kumar303 I was actually thinking the same..if we had had a story and percy/visual regression tool set up, we would have caught this at PR time. I do have a PR already started to get this reinstated but I can definitely do a story for this now to help make sure there are no other regressions.

[2019-01-11 15:10] ioanarusiczki commented on #7333
Looks good to me. Verified on AMO dev with FF64 (Win10).

![example one](https://user-images.githubusercontent.com/33448286/51041955-b91cf700-15c3-11e9-9714-4dfe14786f4c.png)

![example2](https://user-images.githubusercontent.com/33448286/51041964-bde1ab00-15c3-11e9-8608-2a7f1af54b96.png)

[2019-01-11 16:55] rebmullin opened #7369 "Set up telemetry reducer (for TAAR in disco)"
This is to support work for #7218

(REF comment: https://github.com/mozilla/addons-frontend/pull/7357#discussion_r247159067)

[2019-01-11 16:55] championshuttler commented on #7346
Hi @bobsilverberg I will send patch soon by today only working on it:

[2019-01-11 18:50] #7369 closed

[2019-01-11 20:19] kumar303 commented on #3279
Yes, they were designed at different times. I would suggest making it look consistent with 'report user abuse' because that one uses newer button styles.

[2019-01-11 20:20] CloudDancer2 opened #7375 "Need to purge auto-fill"
### Describe the problem and steps to reproduce it:
	I am trying to correct a critical personal problem with auto-fill. I do not know if the problem is caused by Credo Action or my Mozilla Firefox browser. When signing Credo Action petitions a single key stroke (T) will bring up a long list containing my name and some of them include my CREDIT CARD number. I need to know how to purge this informat

[2019-01-11 20:34] kumar303 opened #7376 "Add-on review listing gets stuck on page 2, 3, etc..."
### Describe the problem and steps to reproduce it:

- Go to an add-on review listing with more than 25 reviews, such as https://addons-dev.allizom.org/en-US/firefox/addon/awesome-screenshot-plus-/reviews/
- Scroll to the bottom and click *Next* to advance the page
- Take note of the first review at the top of the page
- Click on the add-on name to return to the detail page
- Click on *Read all N

[2019-01-11 21:41] rebmullin opened #7378 "Add configurable IconStar into storybook"
This will help prepare the switchover and ideally make sure there are no visual regressions.

See https://github.com/mozilla/addons-frontend/issues/5925#issuecomment-453227762

[2019-01-11 22:11] #7206 closed

[2019-01-12 04:26] yfdyh000 opened #7380 "Add-ons name is needed in "My reviews" on user profile page"
### Describe the problem and steps to reproduce it:
1. Open a user profile page to view, the UX like #4282.

### What happened?
It lists the user's reviews, which is useful. But when it's just a star rating (it's the default option for UX now), it looks like only one rating and relative time. Even if the review has content, the mentioned add-ons are often difficult to identify.

### What did you e

[2019-01-13 12:38] mriwnk opened #7383 "oke"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-13 12:39] sweateric23 opened #7384 "proxy on firefox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-13 15:57] mirefly commented on #3836
Is it right to add the following to  `render` function in `SearchForm` component? It there anything else was missed?
[code]

[2019-01-13 22:02] mirefly commented on #7380
There was some discussion in #5469

[2019-01-14 07:33] dhruvgupta167 commented on #7350
Hi @ioanarusiczki , I would like to work on this issue. But I finding it difficult to reproduce. Could you please elaborate like which site I should visit?

[2019-01-14 08:48] willdurand commented on #7350
Hi @dhruvgupta167, sorry but this issue is not yet opened for external contributors.
You can find issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2019-01-14 08:50] willdurand commented on #3836
@mirefly I believe this is correct, although I think we want the `href` value to be parametrized with `lang` and `clientApp` values (from the redux `api` reducer).

[2019-01-14 08:50] #7384 closed

[2019-01-14 08:50] #7383 closed

[2019-01-14 10:29] ioanarusiczki opened #7389 "Dotted line border still present on desktop and android"
Part of https://github.com/mozilla/addons-frontend/issues/7298

STR:
1. On desktop load AMO dev login and click the username on the upper right side of the screen.
2. On android load AMO dev navigate away from homepage then tap the logo.

Expected result:
No display issues.

Actual result:
A white rectangle is present.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF64 (Win10) a

[2019-01-14 10:32] ioanarusiczki commented on #7298
The rectangle is no longer present on Android (8.0) with FF64 for Extension Tab but the desktop issue is still present and I've also noticed that it's reproducible on Android with the FF logo so I filed the issue here https://github.com/mozilla/addons-frontend/issues/7389

![fara chenar](https://user-images.githubusercontent.com/33448286/51107750-69734100-17f8-11e9-819f-1ce05d2153ea.png)

[2019-01-14 10:34] willdurand commented on #7389
⚠️ when fixing this, please make sure keyboard navigation (accessibility) still works.

[2019-01-14 11:15] willdurand commented on #7030
I am not sure to understand why nginx "early returns" with `/%/` but forwards the request to the backend with `/%0A/` 🤔

[2019-01-14 12:36] autrilla commented on #7030
The easiest way to fix this seems to just add an NGINX rule that returns 400 for URLs ending with a newline followed by a slash. I'm somewhat sure this won't fix the root of the issue which is either addons-server adding a trailing slash or addons-frontend removing it, but it'll fix this particular instance.

[2019-01-14 13:45] AlexandraMoga commented on #7206
Verified fixed on AMO -dev with FF64, Win10x64

![2019-01-14_15-37-34](https://user-images.githubusercontent.com/31961530/51116304-6b96c900-1813-11e9-8022-93e444e99111.gif)

[2019-01-14 14:16] ioanarusiczki commented on #7352
@willdurand I verified this issue on AMO dev with FF64 and Chrome (Win10).
AMO dev - not reproducible all the time but sometimes the right side of the screen (the list of versions) loads with a very little delay.

![the right side3](https://user-images.githubusercontent.com/33448286/51117865-9a16a300-1817-11e9-8648-3019e18e88bf.gif)

Before (checking on AMO stage) the left side of the screen ( rat

[2019-01-14 14:18] willdurand commented on #7352
I believe that's normal.

[2019-01-14 14:32] ioanarusiczki commented on #7352
Verified on AMO Dev with FF64 & Chrome (Win10).

[2019-01-14 17:40] bobsilverberg commented on #7350
I believe this will be fixed when https://github.com/mozilla/addons-frontend/pull/7370 lands.

[2019-01-14 17:44] bobsilverberg commented on #7380
This looks like a duplicate of #5858

[2019-01-14 17:44] #7380 closed

[2019-01-14 18:33] #7245 closed

[2019-01-14 18:33] #7350 closed

[2019-01-14 21:07] bobsilverberg commented on #7134
I believe this was fixed via https://github.com/mozilla/addons-server/issues/10232

[2019-01-14 21:07] #7134 closed

[2019-01-14 21:17] #3759 closed

[2019-01-14 21:17] #7376 closed

[2019-01-14 21:56] creesch opened #7394 "If "Firefox for Android" was checked for a previous addon version it should remain checked on submitting a new version"
### Describe the problem and steps to reproduce it:
1. Submit a new addon to AMO.
2. Mark ` Firefox for Android` under `Which applications is this version compatible with?`
3. Submit an updated version of the same addon to AMO.
4. Check what the default state is of the `Firefox for Android` checkbox

### What happened?
The checkbox was not checked.

### What did you expect to happen?
The checkbox

[2019-01-15 03:32] kartik-budhiraja commented on #2043
I added Boolean (edited) property to the review type, but I am stuck on the process of updating it's value on edit, I suppose this method below is responsible for that and therefore modified it accordingly :

https://github.com/kartik-budhiraja/addons-frontend/blob/dcb653486b5dfd4f5214894e9a85e41a56879bd6/src/amo/actions/reviews.js#L706-L732

It is receiving the values as expected but `edited` is

[2019-01-15 08:42] willdurand commented on #7389
@suhailsinghbains yep

[2019-01-15 08:44] willdurand commented on #7394
Thanks. I moved this issue to addons-server: https://github.com/mozilla/addons-server/issues/10398.

[2019-01-15 08:44] #7394 closed

[2019-01-15 08:46] willdurand commented on #7191
Fixing https://github.com/mozilla/addons-frontend/issues/5925 would likely fix this issue. Other SVGs _might_ be impacted by SVGO, but if we can't find any other visual issue, I'd say the patch for #5925 would look like a good start.

[2019-01-15 08:52] willdurand commented on #3836
This could be done later.

[2019-01-15 09:00] #7030 closed

[2019-01-15 14:15] #7346 closed

[2019-01-15 14:18] ioanarusiczki commented on #7325
@willdurand
I verified this issue on AMO dev - FF64(Win10).
https://github.com/mozilla/addons-server/issues/8509 was a good guide for testing if adding or removing add-ons or themes from a Mozilla collection can be done with different type of users.
I tested with a collection transferred by a user to Mozilla, Password Managers, Weather reports, News boosters and Featured themes.

Here are my resul

[2019-01-15 14:26] erosman opened #7395 "Add-on screenshot images need a maximum width/height"
I noticed that the following add-on has images that are shown on pop-up wider than my screen thus cropping parts of the image and no method to scroll.
https://addons.mozilla.org/en-US/firefox/addon/%E7%AE%80%E5%8E%86%E5%B0%8F%E7%8C%8E%E6%89%8B/

I suggest the maximum dimensions of the pop-up should be limited to viewport width/height.

[code]

[2019-01-15 15:20] ioanarusiczki opened #7396 "broken CSS - AMO dev and Disco Pane dev won't load correctly"
STR:
1. Open a new profile and load AMO dev and Disco Pane dev

Expected result:
The pages load correctly.

Actual result:
CSS is not loading correctly.

Notes:
Reproducible only with AMO dev and Disco Pane dev FF64(Win10).
It's also reproducible on old profiles.

![broken css](https://user-images.githubusercontent.com/33448286/51189956-db778300-18e9-11e9-9733-e411e15a2bb1.png)

[2019-01-15 15:22] willdurand commented on #7396
This happened because of a deployment. It should be fixed by itself now.

[2019-01-15 15:52] ioanarusiczki commented on #7317
@willdurand @muffinresearch
I verified this with FF64 unbranded (Win10) but I need a confirmation that my testing was ok.
This is what I've done:
1. I used in the Browser Console
 let hostURI = Services.io.newURI('https://discovery.addons-dev.allizom.org');
Services.perms.add(hostURI, 'hc_telemetry', Services.perms.ALLOW_ACTION);
2. From about:addons I installed/removed a theme, an extension

This

[2019-01-15 17:24] #7191 closed

[2019-01-15 17:36] kumar303 commented on #7396
I filed a more specific bug for ops: https://bugzilla.mozilla.org/show_bug.cgi?id=1520231

[2019-01-15 17:42] kumar303 commented on #7191
Switching to inline SVGs is interesting because those won't get any optimizations at all. Just something to consider.

[2019-01-15 17:55] erosman commented on #7395
OH .. I see .... It seems it requires elevated permissions

[2019-01-15 21:20] antoniobolino opened #7401 "antoniobolino"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-15 22:54] kumar303 commented on #7396
This has been fixed by @autrilla 🙏

See https://bugzilla.mozilla.org/show_bug.cgi?id=1520231

[2019-01-15 22:54] #7396 closed

[2019-01-16 00:03] M-Gonzalo opened #7402 "Qlearly extension not found"
### Describe the problem and steps to reproduce it:
qlearly extension not found

### What happened?
I followed the link from the official website https://qlearly.com/
### What did you expect to happen?
The extension should be in Firefox's extensions page but I found an error page instead.
### Anything else we should know?

[2019-01-16 01:19] devaneymoz opened #7403 "24 January homepage content update"
For the **24 January** push, please update the homepage per these [programming details](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @bobsilverberg

[2019-01-16 01:54] material2010 opened #7404 "how to get xpath-checker"
### Describe the problem and steps to reproduce it:
Firefox  access  https://addons.mozilla.org/zh-CN/firefox/addon/xpath-checker/

### What happened?
Oops! We can’t find that page
If you’ve followed a link from another site for an extension or theme, that item is no longer available. This could be because:

The developer removed it. Developers commonly do this because they no longer support the e

[2019-01-16 04:24] VjCobra opened #7405 "can't install S3.Translator on firefox 64.0.2 x64"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-16 07:33] shailesh5180 opened #7407 "densetek.com"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-16 09:22] JigneshTretanz opened #7409 "How to enable fireftp in mozilla firefox/waterfox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-16 09:30] #7409 closed

[2019-01-16 09:32] #7407 closed

[2019-01-16 09:42] ioanarusiczki commented on #7349
Looks good to me too, verified on AMO dev - Android 8.0

![fixed incompatible message](https://user-images.githubusercontent.com/33448286/51240043-93a53a00-1983-11e9-9a8d-56532eeea936.png)

[2019-01-16 10:10] ioanarusiczki commented on #7396
I can reproduce it on AMO Dev only - with Disco Pane - old and new profile, FF64 (Win10).

![still reproducible1](https://user-images.githubusercontent.com/33448286/51241907-783c2e00-1987-11e9-98a3-906399102313.gif)

[2019-01-16 10:37] wagnerand commented on #7402
Please contact the developer for information about this add-on.

[2019-01-16 10:37] #7402 closed

[2019-01-16 10:37] wagnerand commented on #7404
Hi, this is an intended consequence of the [removal of legacy add-ons from AMO](https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/).

All versions of this add-on were disabled because they were legacy and hasn't been updated in a long time. This causes the add-on to be considered incomplete, and that's why you're seeing the error.

Please check [discourse.moz

[2019-01-16 10:37] #7404 closed

[2019-01-16 10:37] wagnerand commented on #7405
Please provide the exact link to the add-on on addons.mozilla.org. Thank you.

[2019-01-16 10:39] #7401 closed

[2019-01-16 11:01] autrilla commented on #7396
Forgot to update the cert for discopane. Should be good now.

[2019-01-16 11:26] AlexandraMoga opened #7410 "Static themes are not returned in search results on Android when filter is set to Themes"
Prerequisites: Use Firefox beta or Nightly 66, which should have support for static themes on Android

STR:

1. Open AMO stage on an Android device - https://addons.allizom.org/en-US/android/
2. Enter a search term that should also bring themes as results, i.e _blue_
3. Observe the search results - number and examples
4. Filter by Themes
5. Check the search results again

Actual result:
When the T

[2019-01-16 13:24] AlexandraMoga opened #7411 "Consider implementing a sort by relevance for the All reviews page"
Follow up for #7200

STR:
1. Open an add-on product page - https://addons.mozilla.org/en-US/firefox/addon/new-tab-override/?src=featured
2. Go to the addon reviews page - https://addons.mozilla.org/en-US/firefox/addon/new-tab-override/reviews/
3. Check the results

Actual result:
There are many empty ratings listed on the first page of reviews, which are not very relevant for a user who wants to l

[2019-01-16 13:44] ioanarusiczki commented on #7191
@kumar303 I verified on all pages (I hope I covered them all). So far, I do not see visual regressions on AMO homepage, Extension, Themes tabs and categories, collections, search results, the header and footer of the page, detail pages, all reviews page, my profile page.
I also checked the size of the icons with Inspector - the logo+title has is different in size but visually it looks the same.

A

[2019-01-16 13:49] AlexandraMoga commented on #7376
Verified fixed on AMO dev with FF64, Win10x64 and Android 8.0

![2019-01-16_15-46-00](https://user-images.githubusercontent.com/31961530/51253150-35d61980-19a6-11e9-8368-990f50d6a944.gif)

[2019-01-16 13:59] AlexandraMoga commented on #3759
Verified fixed on AMO dev with FF64, WIn10x64 and Android 8.0

Instead of showing the old reviews, the page now has loading indicators:

![2019-01-16_15-55-58](https://user-images.githubusercontent.com/31961530/51253653-9e71c600-19a7-11e9-985d-014371e3e196.gif)

[2019-01-16 14:17] ioanarusiczki commented on #7346
Verified on AMO dev with Android 8.0

![ux issues](https://user-images.githubusercontent.com/33448286/51254600-14772c80-19aa-11e9-984f-cec72c83f6eb.gif)

[2019-01-16 14:20] AlexandraMoga commented on #7134
Verified fixed on AMO -dev with FF64, WIn10x64

![2019-01-16_16-14-59](https://user-images.githubusercontent.com/31961530/51254812-88193980-19aa-11e9-9b30-f455c754491d.gif)

[2019-01-16 14:48] ioanarusiczki opened #7412 ""Added to " messages are still visible after the add-on was added to a collection"
STR:
1. Load a detail page and add the add-on to an existing collection
2. Try to add it again to the same collection
3. Navigate away from the page then click View my collections
4. Open the collection where the previous add-on was added and click on the add-on
5. Observe the detail page

Expected result:
"Added to" messages are not visible.

Actual result:
The messages are still displayed.

Note

[2019-01-16 14:51] AlexandraMoga commented on #7030
This issue looks fixed on AMO -dev

Instead of an infinite redirection, there is a 400 error thrown now (@willdurand I believe this is what you expected when you said that the URL should not crash)

![2019-01-16_16-41-58](https://user-images.githubusercontent.com/31961530/51256778-e0523a80-19ae-11e9-9dbe-76d5df375b5e.gif)

@autrilla the issue is still happening in stage. I suppose you haven't chan

[2019-01-16 14:52] ioanarusiczki commented on #7329
I tested Add to Collection feature from the add-on detail page with extensions and static themes and I could add them in a new created collection or into an already existing one, and a warning is displayed when I tried to add it to the same collection.
I've noticed a UX issue and I filed it here https://github.com/mozilla/addons-frontend/issues/7412
Verified on AMO dev - FF64 (Win10).

[2019-01-16 14:55] autrilla commented on #7030
Yes, stage hasn't been redeployed yet. We could redeploy later today if you want!

[2019-01-16 14:57] AlexandraMoga commented on #7030
@autrilla  as long as we have the chance to verify this in stage before tomorrow's push, it should be alright.
Thanks

[2019-01-16 15:23] ioanarusiczki commented on #7245
@bobsilverberg
The above inconsistencies were fixed (some already verified in other opened issues) on AMO dev and AMO stage - FF64 (Win10 & Android 8.0)

 - the version title is blue but not a permalink
- there was a separator line between versions - no longer available but the titles are bigger and I think it's quite noticeable for the user

Before the improvements

![before the fix versions](htt

[2019-01-16 15:41] ioanarusiczki commented on #7328
@willdurand
This was already verified and testing results were mentioned here https://github.com/mozilla/addons-frontend/issues/7329

[2019-01-16 15:52] autrilla commented on #7030
@AlexandraMoga it's in stage now!

[2019-01-16 16:27] jvillalobos commented on #7411
The future default sort for reviews will be the usefulness rating, as shown in https://github.com/mozilla/addons-frontend/issues/5462 and other issues, which should address this problem. We could add a checkbox to filter out empty ratings, but so far it hasn't been reported by many users, so I don't think it's worthwhile doing now.

Closing this, but we might want to revisit it if it becomes a rec

[2019-01-16 16:27] #7411 closed

[2019-01-16 16:55] #7405 closed

[2019-01-16 17:00] willdurand commented on #7395
@erosman can you reopen an issue when we can get access to the add-on? There is nothing we can do so far 😞

[2019-01-16 17:03] AlexandraMoga commented on #7412
Just noticed that this is in prod as well, so  not a new issue (not from this week at least)

[2019-01-16 17:04] willdurand commented on #7412
oh, maybe that was always there then...

[2019-01-16 23:21] rodolfo-r opened #7415 "Instapaper extension not found"
Instapaper link to firefox extension is broken. https://www.instapaper.com/save. There extension does not appear to be available, as you can't find it by searching for it.

[2019-01-17 07:09] AlexandraMoga commented on #7030
Confirmed fixed for stage https://addons.allizom.org/en-US/firefox/addon/noscript/%0A/

[2019-01-17 07:45] willdurand opened #7418 "Upgrade to Node 10"
Node 10 is the current LTS, let's adopt it!

[2019-01-17 09:45] #7403 closed

[2019-01-17 09:50] ioanarusiczki commented on #6129
@willdurand I tested the description field, custom license, privacy policy and version notes from dev hub,  using the examples mentioned by @bobsilverberg and I also added a  `<b>This text is bold</b>` followed by a link of this format `<a href="http://proofingtoolgui.org/en_installing.html">http://proofingtoolgui.org/en_installing.html</a>`

The front end displays them correctly , no need to add

[2019-01-17 09:56] willdurand opened #7419 "Disable static themes for Android before FF65"
We should flip the `enableFeatureStaticThemesForAndroid` config flag to disable static themes for Android before the FF65 release, which will be released on January 29, 2019 because of the static theme migration.

This flag should be turned on again after the FF65 release.

[2019-01-17 10:01] #7418 closed

[2019-01-17 10:10] ioanarusiczki commented on #7396
@autrilla Yes, it's fixed now, I tested with FF64 (win10) - new and old profiles, disco pane and AMO dev are loading correctly.

[2019-01-17 10:16] willdurand commented on #7419
I updated the issue because the first version did not really make sense.

[2019-01-17 10:18] willdurand commented on #7419
Given that the FF65 release is in 12 days, we're wondering if that even makes sense to disable ST now...

[2019-01-17 10:20] muffinresearch commented on #7419
@willdurand For better Android UX we might want another issue to either:

- Ensure a compatibility message is shown on Android to say "Basic static theme support is only available from FFAndroid 65 onwards" and show that to FF Android < 65.
- Hide themes completely from FF Android < 65

My vote would probably be with the first option. We could even promote the link to get FF Android.

[2019-01-17 10:37] AlexandraMoga commented on #7419
We do seem to have this compatibility message in stage already:

![image](https://user-images.githubusercontent.com/31961530/51312694-85731e80-1a54-11e9-8ea6-967231a93586.png)

In -dev however, we are showing a platform incompatibility message:

![image](https://user-images.githubusercontent.com/31961530/51312700-8ad06900-1a54-11e9-87e1-5c0ad7415770.png)

[2019-01-17 10:43] muffinresearch commented on #7419
@AlexandraMoga oh that is perfect 👍 The best issues are the ones that are already fixed.

@willdurand On that basis and in light of https://github.com/mozilla/addons-frontend/issues/7419#issuecomment-455118579 I think we can probably wontfix this.

[2019-01-17 10:43] muffinresearch commented on #7419
Sorry meant to only comment not close it as well :/

[2019-01-17 10:44] muffinresearch commented on #7419
Would be good to understand the reason for the difference in -dev vs stage though.

[2019-01-17 10:46] wagnerand commented on #7415
The add-on faces some review policy issues the developer needs to address. Please contact the developer for more information.

[2019-01-17 10:46] #7415 closed

[2019-01-17 11:01] willdurand opened #7421 "Node 10 is the current version now, let's update the docs and configs"
In #7418, ops have upgraded the node version used in production. We should adjust the docs/configs.

[2019-01-17 11:16] willdurand commented on #7325
@ioanarusiczki so, it looks like it "works" just as before on the new frontend? (the django admin is out of scope here)

[2019-01-17 12:13] ioanarusiczki commented on #7325
@willdurand On the front end I think it works as before.
The only problem which I filed it a while ago on server is that the frontend link for editing featured themes is not working anymore. I updated the server issue https://github.com/mozilla/addons-server/issues/10151 but maybe I should transfer it on the frontend repo.
The link is https://addons-dev.allizom.org/en-US/firefox/collections/mozill

[2019-01-17 12:21] ioanarusiczki opened #7424 "Editing the featured-personas collection cannot be done using the front end link"
Followup for https://github.com/mozilla/addons-frontend/issues/7325

STR:
1. Log in with an `Admin`, `Admin:Curation` or with `Collections:Contribute` account and click the link https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/featured-personas/

Expected result:
The user should be able to edit the collection.

Actual result:
The link returns a "Server Error" message.

Notes:
This

[2019-01-17 12:44] willdurand commented on #7424
Oh right

[2019-01-17 13:41] willdurand commented on #7424
It is a `p2` because it potentially breaks BC.

[2019-01-17 13:49] willdurand commented on #7424
It looks like we don't need any special permissions, so maybe it affects all collection URLs with a `username` 😞

[2019-01-17 14:04] #7424 closed

[2019-01-17 14:06] willdurand commented on #7424
I'd like to cherry-pick the patch for this issue because old collection URLs will be broken otherwise 😞 It is low-risk.

[2019-01-17 14:38] ioanarusiczki commented on #7424
Verified on AMO Dev - FF64 -Win10 Also I checked with a personal collection.

![works now](https://user-images.githubusercontent.com/33448286/51325713-363de580-1a76-11e9-9ade-335524e7253d.gif)

![collection url fixed](https://user-images.githubusercontent.com/33448286/51325737-45249800-1a76-11e9-9890-d0c3b5f10f47.gif)

[2019-01-17 15:14] ioanarusiczki commented on #7424
Stage is fine too - FF64(Win10)

![colectia asta](https://user-images.githubusercontent.com/33448286/51328120-5c19b900-1a7b-11e9-854c-49fcbd3302cb.gif)

[2019-01-17 17:59] twisted-sres commented on #7316
I wanted to know the expected result,

[2019-01-17 18:45] kartik-budhiraja commented on #7316
@twisted-sres , From what I understand, the expected result is that for "search type" addons, we should not display "No Users" as we do not track the count of users for such addons.
For better reference :
![image](https://user-images.githubusercontent.com/34459894/51340762-d20f2780-1a5d-11e9-8b98-edc242671d84.png)
It is for [this](https://addons.mozilla.org/en-US/firefox/addon/youtube-10423/?src=s

[2019-01-17 21:53] saidi6882 opened #7427 "The"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-17 21:53] saidi6882 commented on #7427
Hi the IP

[2019-01-17 22:32] #7427 closed

[2019-01-18 09:02] suhailsinghbains commented on #7389
I tried to remove the outline attribute, but 0 does not work, still working on it :)

[2019-01-18 10:20] #7421 closed

[2019-01-18 13:39] #3279 closed

[2019-01-18 14:22] AlexandraMoga commented on #7418
@willdurand should we keep an eye open on something specific?

[2019-01-18 14:31] #7218 closed

[2019-01-18 14:32] willdurand commented on #7218
@muffinresearch the patch merged for this issue contains a feature flag. @rebmullin will correct me if I'm wrong but I think it is only enabled in dev so far.

[2019-01-18 16:39] muffinresearch commented on #7218
@rebmullin @willdurand This will need to go into prod next week to make the 29th January deadline so we'll want to get this config'd on for stage and prod ahead of the Monday tag.

[2019-01-18 16:43] willdurand commented on #7412
One way to fix the issue would be to reset the boolean props in the state on LOCATION_CHANGE.

Other than, I don't really know what to do..

[2019-01-18 16:50] muffinresearch opened #7429 "Vary on the client id header"
The disco pane has nginx in front of it caching for 1hour. Since the client id will be passed as a header we need to vary on this header.

[2019-01-18 16:59] bobsilverberg commented on #7412
That sounds reasonable.

[2019-01-18 20:17] twisted-sres commented on #7316
![screenshot from 2019-01-19 01-45-15](https://user-images.githubusercontent.com/36242614/51410991-2f08fb80-1b8c-11e9-8e0a-7c823c7ac676.png)
Hey, I made the changes and it looks like this on my local system, should I create a PR?

[2019-01-18 20:19] twisted-sres commented on #7316
![screenshot from 2019-01-19 01-48-39](https://user-images.githubusercontent.com/36242614/51411046-68416b80-1b8c-11e9-80ca-f84e07f4991b.png)
Hey, I made the changes and it looks like this on my local system, should I create a PR?

[2019-01-18 20:37] jvillalobos commented on #7412
I don't see much use in showing the multiple "Added" messages, so I agree with @bobsilverberg that it's fine to change it in order to fix this issue.

[2019-01-18 21:36] rebmullin commented on #7218
@muffinresearch, do we still need a feature flag then if we have a check for disco?

[2019-01-19 03:31] Mayra69 opened #7433 "6024461971"
### Describe the problem and steps to reproduce it: need information and location and what ever else information I could get if possible. Lost track of the person want to know if there alive or not anymore.

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-19 11:59] #7433 closed

[2019-01-19 19:03] twisted-sres commented on #7316
This is my first time contributing to open source, could someone please tell me why are the tests failing?

[2019-01-19 23:32] mirefly opened #7436 "Score filtering dropdown menu disappears after selecting zero-count rating"
Describe the problem and steps to reproduce it:
1. Load addons-dev.allizom.org
2. go to reviews page (addon or theme without too many reviews..)
3. In score filtering dropdown menu, select rating with 0 review

What happened?
The dropdown disappears.

What did you expect to happen?
The dropdown still be there so that I can select other ratings. And "There are no reviews" message is confusing when

[2019-01-20 05:51] twisted-sres commented on #7316
So I figured out why the lint test was failing, and have made a commit to fix it, but now the test CI is failing, even though I have removed the test for 'average daily users' from  tests/unit/amo/components/TestAddonMeta.js

[2019-01-20 05:52] twisted-sres commented on #7316
@willdurand please review #7435

[2019-01-20 06:39] championshuttler commented on #7316
Hi @twisted-sres thanks for the Pull request , today is Sunday , most of the staff is on holiday so lets wait for tomorrow for review 😃

[2019-01-21 03:06] jaybot2003 opened #7442 "missing add-ons 18 Extensions For Turning Firefox Into a Penetration Testing Tool"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

came from google searched "firefox web hacking tools for windows" I was testing the challenges on the website hack this. I thought there might be fire fox tools that could expedite the sifting through HTML code. then found in results "18 Extensions For Tur

[2019-01-21 06:51] sfgghh commented on #5520
ثخ

[2019-01-21 07:51] ioanarusiczki opened #7443 "Addons cannot be added for homepage shelf collections using the front end links"
I am transferring https://github.com/mozilla/addons-server/issues/10151  from server
Now that https://github.com/mozilla/addons-frontend/issues/7424 was fixed
as a  Followup for https://github.com/mozilla/addons-server/issues/9235 and https://github.com/mozilla/addons-frontend/issues/7325

STR:
1. Load AMO dev or AMO stage and with an admin account add themes using https://addons-dev.allizom.org/e

[2019-01-21 09:03] ioanarusiczki opened #7444 "A link added in "Leave a note" is interpreted as html"
STR:
1. Load AMO dev login and go to collections
2. Click on Leave a note for an add-on and add a link than save
3. Observe the link then click the Edit button

Expected result:
The URL can be clicked - it's blue.

Actual result:
The URL cannot be clicked and after clicking Edit it has a html format.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF64 (Win10).
It is not reproduci

[2019-01-21 09:15] willdurand commented on #7218
I think it would be safer in case we need to disable it if something goes wrong.

[2019-01-21 09:30] willdurand opened #7445 "Enable TAARDIS in all environments"
See also: #7218

---

Quoting @muffinresearch:

We want to enable TAARDIS in all environments.

[2019-01-21 09:31] #7445 closed

[2019-01-21 10:01] eislexus99 opened #7447 "AutoCloseBookmarkFolder Mozilla"
Hello
Where can I get the tool AutoCloseBookmarkFolder for Mozilla Firefox ESR
Find version 52.9?
I really need it.
Thanks for your help
Greetings Joseph

[2019-01-21 10:02] ioanarusiczki commented on #7443
@willdurand I tested with an Admin account the shelf collections such as https://addons-dev.allizom.org/en-US/firefox/collections/4757633/youtube-boosters/?page=1&collection_sort=-added
https://addons-dev.allizom.org/en-US/firefox/collections/4757633/health-wellness/?page=1&collection_sort=-added
I can add extensions using the front end , but when I go to the homepage the item added is not display

[2019-01-21 10:03] AlexandraMoga commented on #7218
@willdurand I get the impression that the implementation method changed a bit since the issue was first filed, i.e. we are sending the hashed client id in the request header, not as a cookie. Please correct me if I'm wrong.

Also, it would be useful to know what my test approach should be, besides verifying that the client id is correctly sent.

[2019-01-21 10:03] willdurand commented on #7447
Hi, sorry but if you can't find it on https://addons.mozilla.org, I don't think we can do anything.

[2019-01-21 10:03] #7447 closed

[2019-01-21 10:04] willdurand commented on #7218
Correct, let me update the description of this issue.

[2019-01-21 10:13] AlexandraMoga commented on #7429
@willdurand I"m going to need some guidance in order to test this one.
Thanks!

[2019-01-21 10:15] twisted-sres commented on #7316
Please review @willdurand

[2019-01-21 10:16] ioanarusiczki commented on #7403
@willdurand
The [document](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#) mentions this link https://addons.mozilla.org/en-US/firefox/extensions/?sort=featured
for Featured Extensions but I believe that redirects to the Extension tab.
Still, on AMO dev I have this link https://addons-dev.allizom.org/en-US/firefox/search/?featured=true&type=extension when I c

[2019-01-21 10:16] willdurand commented on #7429
@AlexandraMoga I just updated the description of this issue.

[2019-01-21 10:23] eviljeff commented on #7443
It's certainly an addon-server bug - somewhere along the way an addon being added to a featured collection isn't ending up with the (memoized) list of featured (creatured, I think in this case) addons being updated.

[2019-01-21 10:41] willdurand commented on #7412
I think I can come up with a fix that keeps multiple messages.

[2019-01-21 11:02] willdurand commented on #7419
According to those values https://github.com/mozilla/addons-server/blob/master/src/olympia/constants/base.py#L409:L413, I think we'll get the correct error messages most of the time (as the one from stage in the comment above).

[2019-01-21 11:35] AlexandraMoga commented on #7429
Verified fixed on AMO -dev with FF64, Win10x64

[Discopane]
![image](https://user-images.githubusercontent.com/31961530/51472107-3cd3a200-1d81-11e9-939e-f1afb20e8a63.png)

[AMO]
![image](https://user-images.githubusercontent.com/31961530/51472117-44934680-1d81-11e9-83ca-0be318a1eb12.png)

[2019-01-21 12:23] ioanarusiczki opened #7450 "Broken layout for theme categories on AMO dev"
STR:
1. Load AMO dev and go to Themes tab - all categories page.
2. Click a category that contains featured themes - Abstract or Nature (on AMO dev)
3. Click the back button

Expected result:
No layout issues.

Actual result:
Featured themes and Top rated themes have layout issues.

Notes:
I could only reproduce this issue with the categories that contain featured themes and then the back button o

[2019-01-21 12:30] ioanarusiczki commented on #7443
This is filed here https://github.com/mozilla/addons-server/issues/10151

[2019-01-21 12:30] #7443 closed

[2019-01-21 13:01] muffinresearch commented on #7410
Looks like the wrong type params are being passed to the API.

For the URL `https://addons.allizom.org/en-US/android/search/?platform=mac&q=live%20for%20music&type=statictheme%2Cpersona` (Note the *android* in the URL)

the API call is:

`https://addons.allizom.org/api/v4/addons/search/?app=firefox&appversion=66.0&platform=mac&q=live%20for%20music&type=persona&lang=en-US&wrap_outgoing_links=true`

[2019-01-21 13:19] ioanarusiczki opened #7451 "All reviews are displayed instead of filtered reviews when a permalink is clicked"
STR:
1. Load AMO dev and go an add-on detail page then click the Read all N reviews link
2. Filter by "Show only n reviews"
3. Click then the timestamp of a review and observe the page

Expected results:
The clicked review is displayed on the top of the page and while the other reviews rated with the same number of stars are visible below.

Actual result:
Below the permalink - All reviews are visi

[2019-01-21 13:32] willdurand commented on #7451
A permalink should not be parametrized with a score in my opinion, so the current behavior looks correct to me.

[2019-01-21 13:32] #7451 closed

[2019-01-21 13:40] willdurand commented on #7419
👍

[2019-01-21 13:40] #7419 closed

[2019-01-21 13:41] ioanarusiczki opened #7452 "Maybe the filter button should be present for a page with no reviews too"
STR:
1. Load AMO dev and go to an addon detail page then click Read all N reviews link
2. From the left side of the screen click a star rating with 0 reviews
3. See the right side of the screen

Expected result:
The "Show all reviews" filter button is available.

Actual result:
"There are no reviews" message is displayed and filter button is not available.

Notes:
Reproducible on AMO dev with FF64

[2019-01-21 13:44] willdurand commented on #7410
We have a function that does what @muffinresearch described above: https://github.com/mozilla/addons-frontend/blob/785b69b1f6d27c0deb05701406eaeeb70b2c652e/src/core/searchUtils.js#L128-L173

[2019-01-21 13:45] willdurand commented on #7452
How is this different than #7436?

[2019-01-21 13:49] ioanarusiczki commented on #7212
@kumar303That's a nice improvement !  I verified this on AMO dev - FF64(Win10).
And for what I've noticed I filed https://github.com/mozilla/addons-frontend/issues/7452 and https://github.com/mozilla/addons-frontend/issues/7451

[2019-01-21 13:51] ioanarusiczki commented on #7452
@willdurand Someone's been more agile. Better twice than zero!

[2019-01-21 13:53] willdurand commented on #7452
@ioanarusiczki ah woops, sorry I thought you were actually the author of the other issue 😅

[2019-01-21 14:18] willdurand opened #7453 "We should surface Static Themes in -dev (and local dev too)"
Since #7419 is a wontfix, we should also change the -dev and local dev configs so that all environments have the same configuration.

**For QA:** the "Themes" menu on Android should be displayed and search should return both LWT and ST.

[2019-01-21 14:49] willdurand commented on #7450
This could be related to https://github.com/mozilla/addons-frontend/pull/5225.

[2019-01-21 14:52] #7453 closed

[2019-01-21 15:11] willdurand commented on #7450
There is something weird with the API response, but we can fix the visual issue on our side, so I'll do that and see why the API response is weird in a separate bug (if any).

[2019-01-21 15:20] AlexandraMoga commented on #7218
Verified fixed on AMO -dev with Nightly 66, Win10x64

I've tried with two different clientIDs that are bringing results on -dev and a clientID that doesn't bring recommendations.

The clientID is passed correctly via the request header and recommendations are brought, or not, depending on the used ID.

`00000000-0000-0000-0000-000000000000`
![image](https://user-images.githubusercontent.com/319615

[2019-01-21 15:24] #7450 closed

[2019-01-21 15:41] #7410 closed

[2019-01-21 15:58] #7436 closed

[2019-01-21 15:58] #7452 closed

[2019-01-21 16:08] AlexandraMoga commented on #7445
There are no clientIDs to test recommendations on stage as far as I know. In this context, I'm not sure how we can confirm the fix for stage, apart from making sure that the clientID is correctly sent in request header.

- stage disco:
![image](https://user-images.githubusercontent.com/31961530/51485593-26404180-1da7-11e9-92cb-2c3519470da2.png)

The feature is not yet enabled in prod as far as I c

[2019-01-21 16:11] willdurand commented on #7445
Yeah, that sounds good to me. There is nothing else we can do on our side.

[2019-01-21 16:38] #7412 closed

[2019-01-21 16:39] willdurand commented on #7412
@ioanarusiczki please see too https://github.com/mozilla/addons-frontend/pull/7448#event-2086696033

[2019-01-21 18:14] eislexus99 commented on #7447
Thanks for the help.
It's hard to believe that today it's still not possible to include a function like close all bookmarks in Firefox.
Up to version 58 or in ESR version up to 52.9 this function was available from the website http://www.sephiroth-j.de/1/ as AutoCloseBookmark PlugIn.
Now I have to look around for something else.
Thanks for your help.
Joseph

[2019-01-22 06:46] AlexandraMoga commented on #5722
* Note that the same behavior can be noticed when an addon is added to a collection where it already belongs from the addon details page.

[2019-01-22 09:19] ioanarusiczki commented on #3836
I verified this with AMO dev and AMO stage FF64 (Win10).
I could add them as a search engine using the search bar and the address bar. I used the guide lines https://support.mozilla.org/en-US/kb/add-or-remove-search-engine-firefox and I could also hide/remove amo from the search engines.

Unsing the search bar

![adding search engine 1](https://user-images.githubusercontent.com/33448286/51524626-3

[2019-01-22 09:42] ioanarusiczki commented on #7444
@willdurand Sorry, I'll mention from now on clearly if it's a regression or not. I realized that yesterday when I saw that is was also reproducible on stage. It's not a regression of the node10 issue but while investigating around it I found this one.

[2019-01-22 09:43] AlexandraMoga opened #7459 "Theme category pages on Android are throwing an error message"
STR:

1. Load AMO stage on an Android device
2. Navigate to Themes
3. Select a Category to browse theme within that criteria

Actual result:
An error message is displayed which points that the request is using an invalid combination of `app`, `type` and `category` parameters

Expected result:
Theme category pages are loaded correctly

Notes:
- reproduced on AMO dev and stage with FF64, 65 and 66,

[2019-01-22 09:45] willdurand commented on #3836
ok, that's not a problem.

[2019-01-22 09:45] willdurand commented on #7316
Good call, we should probably do that too

[2019-01-22 10:23] ioanarusiczki commented on #7436
Verified on AMO dev and AMO stage - FF64(win10 & android 8.0).

![filter button 0 reviews2](https://user-images.githubusercontent.com/33448286/51528963-73242680-1e40-11e9-9c7e-5a7b1225b0c7.gif)

[2019-01-22 10:59] willdurand commented on #7316
Yes please

[2019-01-22 11:03] willdurand commented on #7459
The issue is that there are no categories for LWT on Android, but there are categories for ST on Android... Given that ST will be migrated soon and there should not be any LWT anymore after that (and after all the migration issues are resolved too), we could use the categories for ST on Android.

[2019-01-22 11:09] AlexandraMoga opened #7461 "There are no featured themes returned for Android"
Prerequisites: Use Firefox beta or Nightly 66, which should have support for static themes on Android

STR:
1. Load AMO stage for android - https://addons.allizom.org/en-US/android/
2. Perform an empty search
3. Filter results by Themes and Featured

Actual result:
There are no themes returned for the above filter criteria

Expected result:
Featured themes should also be returned on android

Notes

[2019-01-22 11:18] willdurand commented on #7461
It looks like there is no featured (static) themes for Android. I don't really know where these featured themes come from, but it could also be a data "bug".

[2019-01-22 11:39] AlexandraMoga commented on #7410
Verified fixed on AMO stage with FF66, Android 8.0

- static themes are returned in search results when a Theme filter is applied:

![2019-01-22_13-16-19](https://user-images.githubusercontent.com/31961530/51532218-4247ef80-1e48-11e9-8464-95324e4fb8b9.gif)

- on FF64, which doesn't support static themes for Android, this search query will bring some LWT, which unfortunately were broken during the

[2019-01-22 12:22] willdurand commented on #7461
There is only one featured extension for Android (adblock plus), so I would not be surprised if there was no featured theme for Android.

[2019-01-22 12:35] AlexandraMoga commented on #7461
@willdurand I think you might be right. I've checked  the featured personas collection in admin and it looks like is set to be compatible with Application = Firefox.

![image](https://user-images.githubusercontent.com/31961530/51535953-a8397480-1e52-11e9-9fd8-9b506ec48e0d.png)

This is a server issue then, so I'm going to refile it there.

[2019-01-22 12:35] #7461 closed

[2019-01-22 13:13] logan045 opened #7462 "PreMiD"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-22 13:14] logan045 opened #7463 "PreMiD"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-22 13:14] #7462 closed

[2019-01-22 13:14] #7463 closed

[2019-01-22 15:00] twisted-sres opened #7464 "Hide user count for search tools (on search results page)"
Based on: mozilla/addons#819.
We do not have any "install data" for search tools so we always show add-ons with '0 users' on search results page(https://addons.mozilla.org/en-US/firefox/search-tools/). Let's hide this message for search tools as it conveys a negative impact for no reason.
![screenshot from 2019-01-22 11-56-59](https://user-images.githubusercontent.com/36242614/51543685-23674e80-1e

[2019-01-22 15:02] twisted-sres commented on #7464
@willdurand can I assign it to myself?

[2019-01-22 15:03] ioanarusiczki commented on #7450
I can't reproduce it anymore. I tested this on AMO dev and AMO stage - FF64 (Win10).

![no issues themes](https://user-images.githubusercontent.com/33448286/51543990-8e565c80-1e67-11e9-8c59-1153f4eab8bc.gif)

[2019-01-22 15:14] AlexandraMoga commented on #7459
Verified on -dev with FF66, Android 8.0

Theme category pages are now accessible on Android but, as pointed in the above comment, they are going to show only static themes from now on. This is why on -dev at least we can still find category pages with no results.

I'm anticipating that this will look better on stage, where the lwt migration was more consistent.

![image](https://user-images.github

[2019-01-22 15:34] jrbenny35 opened #7465 "CircleCI integration-test ob failing"
It was failing for a while because of https://github.com/mozilla/addons-server/pull/10467, but now that it is fixed it needs the circleci solution added here.

[2019-01-22 15:45] #7465 closed

[2019-01-22 16:24] willdurand commented on #7459
As discussed with @eviljeff and @muffinresearch, given that the migration is about to start, we might see some theme category pages on Android without any themes but that should not last too long and the pages won't be broken (the pages will be quite empty though).

It is better to keep things as is because:

1. LWT are about to be removed entirely, only ST will remain
2. the migration won't take

[2019-01-22 17:11] ioanarusiczki commented on #7453
@willdurand

I verified this issue with FF66 (Android 8.0)
- Themes tab: mixed themes , LW and Static themes.
- Categories: I see only static themes in the following categories:
Abstract
Foxkeh
Music
Nature
Other
Solid
- search results return both static and lw themes.

![themes on dev](https://user-images.githubusercontent.com/33448286/51552317-ffead680-1e78-11e9-9fa2-8a7e13025650.gif)

With FF64

[2019-01-22 17:17] AlexandraMoga commented on #7459
Verified fixed on stage too,
As expected, there are no empty categories on stage, since most of the themes are migrated there.

[2019-01-22 17:51] rebmullin opened #7468 "Storybook is broken"
We see a few errors now when running `yarn storybook`:

1.  `Configuration property "mozillaUserId" is not defined`

2. `@loadable/webpack-plugin(node:37738) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, mkdir '/addons-frontend/node_modules/@storybook/core/dist/public'`

Also, https://mozilla.github.io/addons-frontend/ no longer works.

[2019-01-22 17:54] kumar303 commented on #5722
This is a limitation of our error handlers. We might need https://github.com/mozilla/addons-frontend/issues/3101 to fix it. Otherwise, there could be some hacks in forcing an update or checking for location changes in redux, maybe.

[2019-01-22 18:14] mirefly commented on #7444
Is it expected to show `<a>` tag in textarea after clicking edit? or just text (as shown below)?
![fix_notes_link](https://user-images.githubusercontent.com/4984681/51555904-f8eea480-1e35-11e9-86a1-bb610fe305fb.gif)

[2019-01-22 18:39] salvapil opened #7470 "S3.Translator a Firefox"
https://support.mozilla.org/it/kb/aggiungere-funzione-traduzioni-firefox

https://addons.mozilla.org/it/firefox/addon/s3google-translator/

### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-22 18:45] kumar303 commented on #7451
Yes, I agree: losing the filter for a permalink is fine. Losing the filter does not break a user's workflow (well, none that I can think of).

[2019-01-22 19:12] kumar303 commented on #6001
Adding GA might be useful but please do it in a separate issue. The patch for this issue should be focused on solving the problem in the description.

[2019-01-22 19:35] richa031 commented on #3925
please tell me the details of this, I want to see through it

[2019-01-22 20:35] caitmuenster commented on #3541
Hey @richa031, welcome! If you're new to open source, you probably want to get started with some issues tagged `good-first-bug`. :)

Want to check out our [onboarding documentation](https://wiki.mozilla.org/Add-ons/Contribute/Code) and then look for another issue?

[2019-01-22 20:44] kumar303 commented on #2043
Thanks for all your work on this @kartik-budhiraja but upon closer inspection, I decided that this is not a good issue for us to work on at the moment (I include team members and contributors in that statement).

The reason is that the API is not returning an `updated` field but it should be. It's only returning a `created` field (which is [used here](https://github.com/mozilla/addons-frontend/iss

[2019-01-22 20:47] jvillalobos commented on #7470
We'll update the support page, thanks. Unfortunately, it's not uncommon for add-ons to be disabled by their developers or us, so some links will be broken from time to time.

[2019-01-22 20:47] #7470 closed

[2019-01-22 21:15] 360andy commented on #4127
Still no access, the above link indicates the file is missing.

[2019-01-22 21:20] 360andy opened #7473 "Speed Dial 2 New tab page – Get this Extension for 🦊 Firefox (en-US)"
###  that item is no longer available is what comes up when trying to access the speed dial 2 extension.

### Speed Dial 2 extension is no longer available and I am just trying to install extension on new computer. Existing computers still work with Speed Dial 2 extension

### just want access.

### Anything else we should know?

https://addons.mozilla.org/en-US/firefox/addon/new-tab-speed-dial/

[2019-01-22 22:06] kumar303 commented on #3630
Well, I think that would be hard because this was the way that the third party component was implemented.

[2019-01-22 22:30] jvillalobos commented on #7473
The add-on is currently unavailable pending code review issues.

[2019-01-22 22:30] #7473 closed

[2019-01-23 04:11] hereisnaman commented on #6001
@kumar303 the problem is only because there is no data in form of an object, assigned to `outcome` that can be sent to GA, either I can add proper data via state reducer or I can remove the Invariant Violation Check.

[2019-01-23 04:37] richa031 commented on #3541
Can you please help me finding them, as I can't find these tags anywhere

[2019-01-23 07:58] willdurand commented on #3541
You can find issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2019-01-23 08:01] willdurand commented on #7444
@mirefly I believe we want to display the link as shown in the gif.

Isn't it a matter of white-listing the `a`?

[2019-01-23 09:58] ioanarusiczki opened #7476 ""This add-on already belongs to the collection" is still visible after the user navigates away from page"
followup as requested here https://github.com/mozilla/addons-frontend/pull/7448

STR:
1. Load AMO dev, login, go to an add-on detail page and add an add-on to a collection
2. Try to add it again
3. Navigate away from the detail page, go to Collections click the the collection where the previous add-on was added and then click the add-on to see it's detail page again
4. Copy paste the name of the a

[2019-01-23 10:00] willdurand commented on #7476
This is very similar to #5722.

[2019-01-23 10:00] ioanarusiczki commented on #7476
@willdurand Lol, I just wanted to tag that too.

[2019-01-23 10:07] #7316 closed

[2019-01-23 10:08] willdurand commented on #7316
Thanks @twisted-sres!

[2019-01-23 10:13] willdurand commented on #7464
@twisted-sres sure!

[2019-01-23 10:14] birdie-github opened #7477 "Cannot list/edit my add-ons"
What on Earth is going on?

https://addons.mozilla.org/en-US/firefox/collections/3011436/useful-firefox-extensions/ : **65 add-ons**

I can neither edit them, nor list them, as each attempt to go beyond the first page leads to:

https://addons.mozilla.org/en-US/firefox/collections/3011436/useful-firefox-extensions/?page=2&collection_sort=-added

**Have you completely deleted XUL add-ons, so that t

[2019-01-23 10:20] ioanarusiczki commented on #7412
@willdurand @bobsilverberg I knew about both messages, I was not precise when I wrote this down.
It's only visible in the gif.
So, the green message is no longer displayed and for the red one I filed it here https://github.com/mozilla/addons-frontend/issues/7476 There's another issue filed and similar with this one here https://github.com/mozilla/addons-frontend/issues/5722

Verified on AMO dev -

[2019-01-23 10:25] willdurand commented on #7477
I believe most of the add-ons in this collection have been disabled but the "number of add-ons" has not been updated for some reasons. That's why we only see 16 add-ons instead of 65. The pagination thinks there are 65 add-ons though...

[2019-01-23 10:50] willdurand opened #7478 "Remove `enableFeatureHomeHeroGuides` feature flag (feature adopted)"
We can probably remove the code for the `enableFeatureHomeHeroGuides` feature flag now that everything works fine. We could also remove the old home components that are not used anymore.

[2019-01-23 10:51] birdie-github commented on #7477
Just a month ago all these add-ons were available. You haven't answered the question: have you purged XUL add-ons?

[2019-01-23 10:53] willdurand commented on #7477
Yep, I think so, see: https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/

[2019-01-23 10:54] willdurand opened #7479 "Remove `enableFeatureStaticThemesForAndroid` feature flag"
The `enableFeatureStaticThemesForAndroid` feature flag can probably be removed after the LWT->ST migration has complete. This feature flag is enabled in all environments.

It means removing all the code related to this feature flag and showing ST for Android.

[2019-01-23 10:55] birdie-github commented on #7477
This explains everything. 😢😢😢

Is there an archive available on the internet?

This bug report might be safely closed then.

[2019-01-23 10:58] willdurand commented on #7477
I think https://archive.org/web/ tried to backup everything before the removal of the legacy add-ons, but I don't know much about it to be honest.

[2019-01-23 11:09] birdie-github commented on #7477
https://github.com/JustOff/ca-archive

[2019-01-23 11:09] #7477 closed

[2019-01-23 14:50] AlexandraMoga commented on #7445
I have attempted to verify this in prod but so far the taar prod api is throwing a 500 error, therefore no recommendations were received on DiscoPane.

From our end, the request is correclty sent - i.e. the clientID is sent with the request header.
I'm waiting for someone from taar to respond on this.

I will mark this as verified as soon as prod is functional.

[2019-01-23 15:38] kumar303 commented on #6001
The first thing to do is to stop the invariant errors. You can do this by amending this line:

https://github.com/mozilla/addons-frontend/blob/eda73e0d139cbc0e4bd3255990d69d39341a24b5/src/amo/components/AddonRecommendations/index.js#L88-L90

with something more like:

[code]

[2019-01-23 16:36] caitmuenster commented on #7464
@willdurand, we've just assigned you as a mentor to this bug. :)

[2019-01-23 17:30] #7468 closed

[2019-01-23 17:41] kumar303 commented on #7030
This will be deployed to prod today. In the future, make sure to put nginx changes in the [push doc](https://github.com/mozilla/addons/blob/master/releases/2019/01/23.md) so that ops knows what they need to do.

[2019-01-23 22:19] rebmullin commented on #6702
hey @willdurand, should we leave this issue open? My understanding is the current code splitting set up doesn't make that big of a difference.

[2019-01-23 23:38] mirefly commented on #7444
Yes. I made some change hoping to have it fixed. #7484

[2019-01-24 08:00] isamadov commented on #7473
link not working

[2019-01-24 09:25] willdurand opened #7486 "Remove "install button color" A/B experiment"
We introduced an A/B experiment in #6144. The aim of this experiment was to determine the best color for the install button (blue vs green). According to the Analytics results, there is no significant difference. I suggest we remove this experiment and use the initial color for the install button: blue.

**For QA:** the install button should be blue, never green.

[2019-01-24 10:15] #7444 closed

[2019-01-24 10:16] willdurand commented on #7444
Thanks @mirefly!

[2019-01-24 10:20] willdurand commented on #6702
I don't remember exactly. Is there any significant gain?

[2019-01-24 11:29] yoasif opened #7487 "Create collection form doesn't indicate that there is a 30 character limit for collection slug prior to submitting the form"
### Describe the problem and steps to reproduce it:

* Go to https://addons.mozilla.org/en-US/firefox/collections/add/ and type in a collection name that is greater than 30 characters.
* Click create collection

### What happened?

I received an error saying "Ensure this field has no more than 30 characters."

### What did you expect to happen?

* help text near "collection ~~name~~" slug stating

[2019-01-24 14:05] twisted-sres commented on #7486
@willdurand can I take this up?

[2019-01-24 14:13] #7478 closed

[2019-01-24 15:20] #6531 closed

[2019-01-24 15:31] willdurand commented on #7486
@twisted-sres sure but I won't have much time to help you with this one unfortunately. You can find other issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2019-01-24 22:52] rebmullin opened #7489 "Add scissors addon to show different device sizes in storybook"
I feel like this will be helpful when you need to resize a component to see how it changes/looks in the different viewports. Because there is a a side panel, resizing the iframe doesn't always show the sizes as expected.

[2019-01-25 09:07] xu3u4 commented on #6827
Hi @ioanarusiczki ,
Thank you for your instruction. I can reply a review now.

Hi @kumar303 ,
Thank you for your advice. But because I have taken some bugs before, please let me try it.
Sorry I didn't have time previously, I am going to do it!

[2019-01-25 14:07] ioanarusiczki commented on #7444
@mirefly @willdurand
I tried again, this is not reproducible on AMO dev anymore. - FF64 (Win10)

![url is clickable](https://user-images.githubusercontent.com/33448286/51750644-5ba4a200-20bb-11e9-8dec-5b80c9b67f3e.gif)

[2019-01-25 15:59] kumar303 commented on #6827
@xu3u4 fixing this issue may require re-architecting the Redux state in ways that are complex to test so I don't think it's a great issue to work on. I haven't looked at in detail, though. We have lots of [contrib: welcome](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome) issues which are in a better state for contributors to work on.

[2019-01-25 16:11] kumar303 commented on #6827
I looked at your patch and I see that you found a simple solution. Good find!

[2019-01-25 16:25] kumar303 opened #7491 "Ensure that storybook doesn't break again"
Storybook broke in https://github.com/mozilla/addons-frontend/issues/7468 but no one noticed (except @rebmullin 🎉 ). Let's add a test to CI to prevent it from breaking.

[2019-01-25 16:38] #7491 closed

[2019-01-25 18:10] devaneymoz opened #7494 "(Disco-TAAR) Add messaging and button link to Learn More page"
Add a messaging box and button link (goes to a Learn More page) to Disco Pane when Disco-TAAR launches. This messaging box should only display when the user is receiving personalized recommendations.

The 'Learn More' will link to:
https://support.mozilla.org/1/firefox/%VERSION%/%OS%/%LOCALE%/personalized-addons

![learnmore](https://user-images.githubusercontent.com/8496249/51763818-49f5d700-2088

[2019-01-25 18:12] kumar303 commented on #1511
Yes, whoops. Looks like it was fixed in https://github.com/mozilla/addons-frontend/pull/4117

[2019-01-25 18:12] #1511 closed

[2019-01-25 19:00] muffinresearch commented on #7494
This should be conditionally displayed on the basis of recommendations being present. The TAAR service is turned off in production currently, but the header is still being sent.

For a more accurate way to trigger the message we really need to know from the API that there are recommendations present in the response. This should be possible by looking for at least one case where a recommendation is

[2019-01-25 19:10] devaneymoz commented on #7494
FYI I just updated the link to:

https://support.mozilla.org/1/firefox/%VERSION%/%OS%/%LOCALE%/personalized-addons

(The one I originally provided would just display the hidden version).

[2019-01-25 19:23] muffinresearch commented on #7494
OK, so I think this means we additionally need to extract the variable data out from the disco pane URL and use it to build this link too.

[2019-01-26 09:31] neilchauhan2 commented on #7464
@willdurand Is anybody working on this issue? If not, I would love to work on this one.

[2019-01-26 10:17] twisted-sres commented on #7464
Hey @neilchauhan2 , I am working on this

[2019-01-26 16:51] amammothsparkler opened #7496 "Scoutbook Feature Assistant Extension"
### Describe the problem and steps to reproduce it:

Please make this extension available for use.  Scoutbook is now a free BSA Advancement Platform.

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-26 21:10] tsl143 opened #7497 "[Feature-request] Add locale list to product page"
It will be really nice to know which languages an extension supports.
reference - chrome store

<img width="928" alt="image" src="https://user-images.githubusercontent.com/5318732/51792816-2e3d1e80-21b7-11e9-9662-65fd00a11280.png">

[2019-01-27 05:43] erosman commented on #7395
66.0a1 (2019-01-26) (64-bit) Win 7

@willdurand Here is another example I came across today
`https://reviewers.addons.mozilla.org/en-US/reviewers/review/bookmarks-organizer`

Screenshot:
https://postimg.cc/4YwSNthq

[2019-01-28 09:07] #7496 closed

[2019-01-28 09:38] willdurand commented on #7494
A link to https://support.mozilla.org/1/firefox/66.0/Darwin/en-US/personalized-addons redirects to https://support.mozilla.org/en-US/kb/personalized-extension-recommendations?as=u&utm_source=inproduct, which has no content. Is that intended?

[2019-01-28 09:59] ioanarusiczki opened #7500 "Do not display the 0 users on the search tool list"
As a followup for https://github.com/mozilla/addons-frontend/issues/7316

STR:
1. Load AMO dev and go to the Search Tools page https://addons-dev.allizom.org/en-US/firefox/search-tools/
2. Observe the right side of the screen

Expected result:
The numbers of users (which is 0 in most of the cases) is not available.

Actual result:
The number of users is displayed.

Notes:
This issue is reproducibl

[2019-01-28 10:11] willdurand commented on #7494
The mock-up/screenshot above does not match the current disco pane UI, so I adjusted things a bit. Preview of what it would look:

![screen shot 2019-01-28 at 11 10 39](https://user-images.githubusercontent.com/217628/51829198-5c247f00-22ed-11e9-9a7c-f3ac6c2e9d56.png)

[2019-01-28 10:15] willdurand commented on #7500
Please see #7464

[2019-01-28 10:15] #7500 closed

[2019-01-28 11:34] willdurand commented on #7486
@atsay @jvillalobos before moving forward, are you OK with that? I'd like to remove this experiment this week if possible (there is already an approved patch from a contributor for that).

Stats from November 1st below:

![screen shot 2019-01-28 at 12 34 07](https://user-images.githubusercontent.com/217628/51833923-1077d280-22f9-11e9-8746-1bfd08e87f1b.png)

[2019-01-28 14:07] twisted-sres commented on #7500
@ioanarusiczki I don't understand, please explain what do you mean

[2019-01-28 15:33] #7301 closed

[2019-01-28 15:35] ioanarusiczki commented on #6531
@rebmullin
I verified this issue on AMO dev with FF64 (Win10).
- the name of the categories is displayed now when the "See more links" are clicked inside each category for extensions and themes.

![issue is fixed](https://user-images.githubusercontent.com/33448286/51846231-da9b1400-2321-11e9-9a1d-1046b37a989a.gif)

- search tools were not mentioned [here ](https://github.com/mozilla/addons-fronten

[2019-01-28 15:58] ioanarusiczki commented on #7301
@willdurand The field is displayed as mandatory now on AMO dev - FF64(Win10).

Maybe the text about fields being optional should be moved next to Homepage now?

![next to homepage](https://user-images.githubusercontent.com/33448286/51848441-454e4e80-2326-11e9-91f3-2d0829ae6ecb.png)

[2019-01-28 16:02] willdurand commented on #7301
We changed the wording a bit, so I guess it is fine as is.

[2019-01-28 16:08] #7494 closed

[2019-01-28 16:09] willdurand commented on #7494
@devaneymoz ^

[2019-01-28 16:41] willdurand opened #7502 "Disco Pane layout issue with very long heading"
This is not a new bug but it is now highlighted by a recommended result (TAARDIS):

![screen shot 2019-01-28 at 17 39 20](https://user-images.githubusercontent.com/217628/51851283-dbcd4080-2323-11e9-951e-738fb7678024.png)

**For QA:** please make sure no layout issue as shown above appears in the disco pane.

[2019-01-28 17:00] devaneymoz commented on #7494
@willdurand The page is currently 'hidden' until we push the feature live, so that might explain the empty content?

[2019-01-28 17:03] willdurand commented on #7494
@devaneymoz ah, maybe yes. Any chance to unhide this page? (it would be good for QA)

[2019-01-28 17:21] atsay commented on #6531
Jorge's out today so I'll answer--yes, please file an issue to show "search tools". Will leave it up to Jorge to prioritize. Thanks!

[2019-01-28 17:32] #7486 closed

[2019-01-28 18:56] devaneymoz commented on #7494
@willdurand Okay the page has been un-hidden. I think we're okay to leave it un-hidden through launch.

[2019-01-28 19:53] digikiwam opened #7505 "Link for Test and Feedback from microsoft store is broken"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-28 19:57] wagnerand commented on #7505
This add-on is pending review issues and will return once the developer has resolved them.

[2019-01-28 19:57] #7505 closed

[2019-01-28 22:30] kumar303 opened #7506 "Jest has deprecated setupTestFrameworkScriptFile: slow startup"
Starting up Jest is a bit annoying now because you have to get through this:

[code]

I think this happened after https://github.com/mozilla/addons-frontend/pull/7493

[2019-01-29 06:51] tsl143 commented on #7479
Is this workable, or shall we wait for migration?

[2019-01-29 09:12] willdurand commented on #7479
You can work on it if you like :)

[2019-01-29 09:22] tsl143 commented on #7479
Here it is :)

[2019-01-29 10:18] ioanarusiczki opened #7508 "Display N Search Tools found for "$Query""
Followup for https://github.com/mozilla/addons-frontend/issues/6531

STR:
1. Load AMO dev and make a search using a query
2. Select "Search Tool" as an Add-on Type
3. Observe the Bold text

Expected result:
N Search Tools found for "$Query"

Actual result:
N results found for "$Query"

Notes:
Reproducible on all AMO servers - FF64 (Win10)

![n search tools found](https://user-images.githubusercont

[2019-01-29 10:48] ioanarusiczki commented on #6531
@atsay Thanks for your answer! I filed it here https://github.com/mozilla/addons-frontend/issues/7508
This looks good on Android too. I'm marking it verified on AMO dev with FF64 (Win10 and Android 8.0)

![android search in categories](https://user-images.githubusercontent.com/33448286/51903042-0bcc2080-23c4-11e9-8350-27b0a2203e5f.png)

[2019-01-29 11:03] willdurand commented on #7506
ah oops, sorry about that. I sent a PR to fix this error.

[2019-01-29 11:08] willdurand commented on #7487
I guess we could add a `maxlength` attribute to the `input` at least: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/text#maxlength.

[2019-01-29 11:15] ioanarusiczki opened #7510 "Do not display 0 users for the search tools from More add-ons section"
As a followup for https://github.com/mozilla/addons-frontend/issues/7316

STR:
1. Load AMO dev and go to a search tool's detail page that has a "More add-ons section"
2. Observe the search tool displayed in that section

Expected result:
The "0 users " is not visible.

Actual result:
The search tool from the More add-ons section displays the "0 users".

Notes:
This issue is reproducible on all AMO

[2019-01-29 13:22] ioanarusiczki commented on #7486
@willdurand I verified it on AMO dev - FF64 (Win10).

- Even for older profiles if the cookie was set to green, the button is displayed as blue (as in the screenshot below), then I cleared all cookies and the `installButtonColorExperiment` cookie was no longer available.

![blue is back](https://user-images.githubusercontent.com/33448286/51910920-2bba0f00-23d9-11e9-9e4c-b241c42df4f8.png)

- On all

[2019-01-29 14:57] #7506 closed

[2019-01-29 16:28] #7479 closed

[2019-01-29 19:38] tsl143 commented on #7510
on it.

[2019-01-30 01:36] Chesshur opened #7518 "collection view"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-01-30 01:36] #7518 closed

[2019-01-30 11:10] twisted-sres commented on #7510
@tsl143  are you working on this? Or can I take this up?

[2019-01-30 11:35] AlexandraMoga opened #7520 "Text in the personalized recommendations info box from the Discovery Pane is hard to read"
Follow up for #7494

STR:

1. Open about:addons on -dev with a profile that receives recommendations
2. Read the personalized recommendations message

Actual result:
The font size is too small, making the information a bit hard to read unless you zoom in

Expected result:
The font size should be increased (~14px?) both for the message and the 'Learn More' button

Notes:
- reproduced on AMO -dev wi

[2019-01-30 11:42] AlexandraMoga commented on #7494
Filed https://github.com/mozilla/addons-frontend/issues/7520 as a follow up.

[2019-01-30 11:53] twisted-sres commented on #7520
Hey, can I take this up?

[2019-01-30 12:30] tsl143 commented on #7510
Okay please go ahead then @twisted-sres

[2019-01-30 12:48] ioanarusiczki opened #7521 "Disco Pane layout issue when an unbroken string is typed in the summary field"
As a followup for https://github.com/mozilla/addons-frontend/issues/7502 this is an edge case reproducible as it follows:
STR:
1. On AMO dev, I went to Dev Hub and edited the name of the add-on (with 2 chars) and the summary field with 68 chars (as maximum allowed)
2. On AMO stage, I went to Dev Hub and edited the summary field with a long unbroken string (maximum 250 chars allowed)
3.  I added th

[2019-01-30 12:54] willdurand commented on #7520
@twisted-sres no

[2019-01-30 12:58] suhailsinghbains commented on #3169
Hi,
I am using Linux, the OS field is not selected by default for me, was this bug only specific to Windows?

[2019-01-30 13:10] ioanarusiczki commented on #7502
I tested this issue on FF64 and FF67 (Win10). I tried all kind of long strings first from Dev Hub then from django admin too.

- if the add-on's name is not edited from dev hub, the submission allows a maximum number of 58 chars. This did not break the layout of Disco Pane.
- if the add-on's name is edited from dev hub, on AMO dev the maximum number is 68 chars and on AMO stage it's 50 chars (beca

[2019-01-30 13:22] muffinresearch commented on #2307
@suhailsinghbains the comment above details a [potential starting point](https://github.com/mozilla/addons-frontend/issues/2307#issuecomment-296782027) - but please note that comment is quite old so the references might be out of date.

The goal is making it clear what is being substituted in translation strings and pointing out any other specific things a localizer should be aware of. It's best d

[2019-01-30 14:00] #7389 closed

[2019-01-30 14:12] twisted-sres commented on #7510
Thanks @tsl143 .
@ioanarusiczki  Can I take this up?

[2019-01-30 14:16] willdurand commented on #7510
Yes but please no more than one issue in parallel :)

[2019-01-30 14:25] willdurand commented on #7521
@ioanarusiczki I am sorry but I cannot really reproduce. Could you add these addons in -dev so that I can see them? Is it working with FF65 or Nightly?

[2019-01-30 14:33] willdurand commented on #7520
Proposal:

![screen shot 2019-01-30 at 15 33 24](https://user-images.githubusercontent.com/217628/51988202-663cae00-24a4-11e9-90ae-f918ca69c90f.png)

[2019-01-30 14:40] twisted-sres commented on #7510
Okay, now that you have merged my PR for that other issue, can I take this up?
I am not working on any other issue.

[2019-01-30 14:50] tsl143 commented on #7510
Yes please start working on it :)
@twisted-sres

[2019-01-30 15:10] AlexandraMoga commented on #7520
That looks good to me

[2019-01-30 15:10] #7508 closed

[2019-01-30 16:05] rebmullin commented on #6702
I don't think there was

[2019-01-30 16:05] willdurand commented on #6702
Then, maybe it is fine to close this issue for now, and re-open it if needed in the future.

[2019-01-30 16:42] bocatek opened #7523 "Amazon Publisher Studio Firefox Add On missing from Mozilla's dir"
### Describe the problem and steps to reproduce it:
https://affiliate-program.amazon.com/home/tools/pubstudio?ac-ms-src=ac-nav

I'm logged into Amazon Associates page,Publish Studio Management
[SCRN_GIT_AMAZON-PUBLISHER-STUDIO.pdf](https://github.com/mozilla/addons-frontend/files/2813553/SCRN_GIT_AMAZON-PUBLISHER-STUDIO.pdf)

, Amazon has a button to install Firefox Add on--->https://affiliate-pro

[2019-01-30 16:46] wagnerand commented on #7523
This repository is about the add-ons platform, not individual add-ons. I recommend you contact the developer about the availability of their add-on.

[2019-01-30 16:46] #7523 closed

[2019-01-30 17:31] pwalm commented on #7520
We have to leave the message bar text [the prescribed size](https://design.firefox.com/photon/components/message-bars.html). This piece of UI must be consistent with across Firefox, so please revert it back to whatever the design system specifies.

[2019-01-30 17:58] CA0258 commented on #7496
Closed with no comments and the extension is still not available. Why did you take this extension from the users?

[2019-01-30 18:10] wagnerand commented on #7496
The repository is about the underlying add-ons platform and its development. I recommend contacting the developer of that add-on for questions on availability.

[2019-01-30 19:18] #7378 closed

[2019-01-30 19:19] #6702 closed

[2019-01-31 06:12] erosman commented on #7395
More examples:

`https://reviewers.addons.mozilla.org/reviewers/review/1013926/`

@willdurand I suggest reopening this issue, instead of creating a new one which would be the duplicate of this one.

[2019-01-31 07:14] AlexandraMoga commented on #7520
Ok then. I guess people with poorer eyesight (yours truly) will have to zoom in if they want to make reading more comfortable.

@pwalm
Btw, the UI specs mention that generic information messages should be dismissible.
Do we need to apply this to the disco pane message?

![image](https://user-images.githubusercontent.com/31961530/52037710-6dad9700-2538-11e9-9146-064190401ce9.png)

[2019-01-31 12:17] willdurand commented on #7487
So this limit applies on the `slug` and not on the `name` of the collection. I have updated the title/description to reflect that.

[2019-01-31 12:27] willdurand opened #7525 "Hide SDK notifications"
See also: https://github.com/mozilla/addons/issues/884

**For QA:** this issue is about hiding the "SDK" notifications in the edit page of a user profile. There are 2 SDK notifications to hide. It should not cause any other issues when updating any data of a profile, including notifications of course.

[2019-01-31 12:34] willdurand commented on #7520
Ok, so the `font-size` should be `13px` so I'm going to change that in the disco app.

I don't think we want a close button though, because this notice should not be dismissed (it is a super important one).

[2019-01-31 12:45] #7525 closed

[2019-01-31 16:12] pwalm commented on #7520
Correct @willdurand

[2019-01-31 18:01] #7520 closed

[2019-02-01 06:52] mapekova opened #7528 "Transfer to link http://seleniumbuilder.github.io/se-builder/ and give error in this page https://addons.mozilla.org/en-GB/firefox/addon/selenium-builder/"
### Describe the problem and steps to reproduce it:
Transfer to link http://seleniumbuilder.github.io/se-builder/ and give error in this page https://addons.mozilla.org/en-GB/firefox/addon/selenium-builder/

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-01 10:06] AlexandraMoga opened #7529 "Cancel and Save buttons in the add/edit collection forms are too close together in some locales on mobile"
STR:

1. Log in to AMO on a mobile device, or use the responsive design mode
2. Set your locale to `fr`
3. Observe the Cancel and Save buttons

Actual result:
Cancel and Save buttons are stuck together

Expected result:
There is enough spacing between the Cancel and Save buttons

Notes:
- reproduced on all AMO servers with FF65, Win10x64 and Android 8.0
- the issue also applies to the Edit collect

[2019-02-01 10:41] wagnerand commented on #7528
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-02-01 10:41] #7528 closed

[2019-02-01 10:57] AlexandraMoga opened #7530 "The N results found for "$Query" headers could have a more` discreet` styling on Android"
STR:

1. Open AMO homepage on a mobile device
2. Search for a term of your choosing
3. Observe the styling of the "N results found"  header

Actual result:
The font-size and font-weight are too high, taking  more space than necessary

Expected result:
Decrease the font-size and font-weight for the search results headers to make them less obtrusive

Notes:
- Current values are: font-size = 28; font

[2019-02-01 13:36] AlexandraMoga commented on #7520
Text size increased to 13px

![image](https://user-images.githubusercontent.com/31961530/52125784-3ae9c880-2636-11e9-9420-5d532c44056f.png)

@willdurand should't the button font also be 13px in size? Currently it's at 11px.

[2019-02-01 14:59] willdurand commented on #7520
not according to the spec

[2019-02-01 14:59] ioanarusiczki commented on #7389
@willdurand

The dotted lines are no longer visible on desktop (win10). - FF65

![no longer available](https://user-images.githubusercontent.com/33448286/52127648-5f946f00-263b-11e9-948a-3837a610b6b2.gif)

But on Android (8.0) it is still displayed - FF65

![the dotted line on android](https://user-images.githubusercontent.com/33448286/52130329-8904c900-2642-11e9-9609-a3564d0b3f81.png)

I think we

[2019-02-01 15:01] willdurand commented on #7389
no, I think it's fine.

[2019-02-01 15:30] willdurand commented on #7389
This is a browser default theme and honestly, I don't see the point of hiding it everywhere. I was keen to fix the homepage for Android, but we won't fix everything because that does not really make sense to me. I am thinking about reverting this patch now and wontfix'ing this issue because it is a lot of work/noise for a very little value.

[2019-02-01 15:32] ioanarusiczki commented on #7389
@willdurand Well the desktop problem was fixed. Let's just leave this as it is now.

[2019-02-01 15:36] AlexandraMoga commented on #7520
OK, this is verified fixed then.

[2019-02-01 21:46] twisted-sres commented on #7510
@ioanarusiczki when I have hidden the number of users for all the search tools, why is it still being displayed on More add-ons section?

[2019-02-02 02:49] decembre commented on #4331
And now we can't see our old legacy extensions (which i use always with ESR or Waterfox ):
They are not listed, but strangely they are count in our list of collections...

PS:
By the same way we lost The Fav icon and the relted collections in the addon page...
(which was practical because many addons have name very similar and we can make mistake about them).
Why you don't remove all the collectio

[2019-02-02 03:10] smayer97 commented on #4331
Yes, still wanting and desperately needing the old functionality that allowed you to see what collections an add-on already belongs to. Currently, there is NO visibility to such info.
And there is no way to easily navigate to the collection that an add-on was just added to or already exists in. These 2 features are a great deterrent to users adopting the use of collections.

The current design end

[2019-02-02 03:34] smayer97 commented on #4331
I know that it has severely crippled my ability to use collections and hence my usage has declined dramatically, and forcing me to seriously consider abandoning Firefox (though for other reasons at the moment, I am not able to completely do that; plus I value the privacy values of Mozilla over Google).

I had been a big advocate of Firefox and had convinced and supported MANY to convert to use Fir

[2019-02-02 03:44] smayer97 commented on #4331
To clarify, the 2 critical features are:
-  checkmark to show each collection the add-on already belongs
-  link to each collection (either link beside the name or linkify the name)

And the third may not be critical but would make it A LOT easier:
-  clicking the check mark allows either adding or removing the add-on from the desired collection (or at least just removing)

[2019-02-03 03:08] jcrben commented on #7129
@willdurand that's a pretty disappointing way to handle the removal - instead, you could've provided a landing page which pointed out that this extension was removed and hopefully even pointed some way to find the original source code. I might be willing to port a legacy extension but now I can't even get the original code.

I'm noticing the broken extension link from https://superuser.com/a/26342

[2019-02-03 06:54] grahamperrin opened #7533 "Incomplete version history (25 versions) for some add-ons, pagination navigation missing?"
For example, https://addons.mozilla.org/en-US/firefox/addon/noscript/versions/ (captured, <https://web.archive.org/web/20190203063507/https://addons.mozilla.org/en-US/firefox/addon/noscript/versions/>):

- 25 versions
- at the foot of the (only) page,

Compare with <https://web.archive.org/web/20181002111533/https://addons.mozilla.org/en-US/firefox/addon/noscript/versions/?page=2>, which includes:

[2019-02-04 06:58] AlexandraMoga commented on #7533
What's happening here is that our API response is limited to 25 results per page.

As an example, for https://addons.mozilla.org/api/v4/addons/addon/ublock-origin/versions/ - there should be 39 versions available but the frontend will display only the first page of results (25): https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/versions/

[2019-02-04 07:56] grahamperrin commented on #7533
Thanks for confirmation.

An example workaround, lazily reusing the 20181002 date:

https://web.archive.org/web/20181002/https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/versions/?page=2

– and then a captured `.xpi` may be installed by opening a **new tab** for buttoned links such as **+ Add to Firefox**.

(Not all archived pages are so lucky. https://www.reddit.com/r/waterfox/comment

[2019-02-04 08:37] willdurand commented on #7510
@twisted-sres this is a different component.

[2019-02-04 09:09] DnyaneshGadewar opened #7537 "problem for all kind of fiirebug , firepath and selenium builder"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-04 09:11] #7537 closed

[2019-02-04 09:12] willdurand commented on #7537
These extensions (in the title) don't exist anymore (either disabled or removed by their authors).

[2019-02-04 13:02] bobsilverberg commented on #7533
When implementing the new page it was decided that showing the most recent 25 versions, and not having any pagination, was acceptable.

[2019-02-04 13:02] #7533 closed

[2019-02-04 16:28] willdurand commented on #7525
No, I think we check/uncheck those inputs with the <kdb>space</kdb>, no?

[2019-02-04 19:12] rebmullin commented on #6507
hey @jvillalobos, I guess we should update the preview in disco too?

[2019-02-05 01:04] rrjoshi1212 opened #7540 "rr"
### Describe the problem and steps to reproduce it:

### What happened?
trying github
### What did you expect to happen?
could not find expected download
### Anything else we should know?

[2019-02-05 01:05] rrjoshi1212 commented on #7540
github files not found

[2019-02-05 01:05] rrjoshi1212 commented on #7540
help

[2019-02-05 01:05] #7540 closed

[2019-02-05 01:05] rrjoshi1212 commented on #7540
help

[2019-02-05 09:30] ioanarusiczki commented on #7525
@willdurand Ups! It works with <kbd>space</kbd> AMO dev, AMo prod - FF65

![space navigation1](https://user-images.githubusercontent.com/33448286/52264057-7091f880-2939-11e9-8d2e-6f2444749507.gif)

[2019-02-05 10:06] ioanarusiczki commented on #7464
@willdurand @twisted-sres
The number of users for search tools is no longer displayed on AMO dev - FF65 (win10).

![0 users not available](https://user-images.githubusercontent.com/33448286/52266147-50186d00-293e-11e9-9d66-f33c72df91f1.png)

[2019-02-05 10:09] ioanarusiczki commented on #7510
@twisted-sres @willdurand
I checked now on AMO dev - FF65 (Win10) and the number of users in the More section is no longer displayed.

![number of users not shown1](https://user-images.githubusercontent.com/33448286/52266375-eba9dd80-293e-11e9-9913-cbf9375a6d90.gif)

[2019-02-05 16:24] #6827 closed

[2019-02-05 16:40] #7487 closed

[2019-02-05 19:19] twisted-sres commented on #7510
@ioanarusiczki then I guess we should close this issue?

[2019-02-05 21:39] kumar303 opened #7542 "The all versions page does not let you page through all versions"
### Describe the problem and steps to reproduce it:

Go to an all versions page (https://github.com/mozilla/addons-frontend/issues/2770) for an add-on with more than 25 versions. Example: https://addons.mozilla.org/en-US/firefox/addon/enhancer-for-youtube/versions/

### What happened?

You only see 25 versions.

### What did you expect to happen?

You should see pagination links so you can load mo

[2019-02-05 22:28] devaneymoz opened #7543 "14 Feb homepage programming updates"
For the **Thursday, 14 February** push, please update homepage programming as detailed [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch

[2019-02-06 02:50] grahamperrin commented on #7533
WTF?

[2019-02-06 02:51] grahamperrin commented on #7542
https://github.com/mozilla/addons-frontend/issues/7533#issuecomment-460242461

[2019-02-06 05:25] Khwuanchai opened #7546 "Scbeasynet@scb.co.th​ Khwanchai​ Moonhlao​ 3682346032​"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-06 06:00] grahamperrin commented on #7542
### Release note history

https://addons.mozilla.org/addon/enhancer-for-youtube/versions (above) is exemplary of a developer that does not provide expected information.

A better example:

- https://addons.mozilla.org/addon/ublock-origin/versions/ ([captured (en-GB)](https://web.archive.org/web/20190206055405/https://addons.mozilla.org/en-GB/firefox/addon/ublock-origin/versions/))

Pages 2 and 3 o

[2019-02-06 07:44] #7546 closed

[2019-02-06 09:01] AlexandraMoga opened #7547 "The legacy site is displayed if the page is refreshed after a search query"
STR:

1. Open AMO -dev homepage
2. Perform a blank search
3. Refresh the search results page

Actual result:
The legacy site is displayed

Expected result:
The new frontend is displayed

Notes:
- reproduced on AMO -dev with FF65, Win10x64
- I could not reproduce with other pages, just with search results

![2019-02-06_10-58-30](https://user-images.githubusercontent.com/31961530/52330553-5837e180-2

[2019-02-06 09:03] tjeb opened #7548 "Bad redirect for my addon from addons.thunderbird.net?"
### Describe the problem and steps to reproduce it:

My thunderbird addon on addons.thunderbird.net is listed, but clicking on it results in a wrong redirect to a 'not available' page.

### What happened?

Clicked on the listing of my addon at https://addons.thunderbird.net/en-US/thunderbird/user/tjebbe/ (linkint to https://addons.thunderbird.net/en-US/thunderbird/addon/mailbox-alert/?src=userprof

[2019-02-06 09:20] willdurand commented on #7548
I am sorry but we don't support addons.thunderbird.net (ATN) here, you should contact the people behind ATN.

[2019-02-06 09:20] #7548 closed

[2019-02-06 09:23] willdurand commented on #7510
ah yes, sorry for the confusion.

[2019-02-06 09:23] #7510 closed

[2019-02-06 10:14] willdurand commented on #7547
@AlexandraMoga I believe it is a regression cause by https://github.com/mozilla/addons-server/issues/10428#issuecomment-460881053, could you please move this issue to addons-server? Thanks!

[2019-02-06 11:05] AlexandraMoga commented on #7547
@willdurand  Thanks for the heads up.

Filed https://github.com/mozilla/addons-server/issues/10608

[2019-02-06 11:05] #7547 closed

[2019-02-06 11:06] willdurand commented on #7497
cc @jvillalobos

[2019-02-06 12:25] ioanarusiczki commented on #7521
@willdurand I added a sample on disco pane -dev - the first position. I can reproduce it with both FF65 and FF67 (Win10).

[2019-02-06 14:46] #7530 closed

[2019-02-06 14:53] willdurand commented on #7395
So this issue is about limiting the width/height of an image when displayed in full size (we use this [react-photoswipe](https://github.com/minhtranite/react-photoswipe) for that).

[2019-02-06 15:05] erosman commented on #7395
@willdurand At the moment, on AMO larger screenshots are scaled to fit the browser window (with JS). However, that does not seem to be the case on 'reviewers.addons.mozilla.org'
I assumed the code dealing with the screenshot display would have been the same on both AMO and RAMO.

[2019-02-06 15:09] willdurand commented on #7395
oh ok, well I am not sure I understand the issue then. If it is only on RAMO, then it's a wontfix because the code of RAMO does not live there.

[2019-02-06 15:11] erosman commented on #7395
To start with it was happening on both but it hasnt been the case for a while on AMO and therefore I opened https://github.com/mozilla/addons-server/issues/10551 for RAMO

[2019-02-06 15:13] #7395 closed

[2019-02-06 15:14] willdurand commented on #7395
sorry for the confusion then, closing this issue as it seems to work on AMO.

[2019-02-06 15:38] ioanarusiczki commented on #7487
@willdurand I think there is no limit right now on AMO dev and AMO stage - I tried with more than 30+ chars and I do not receive any message. Not reproducible on AMO prod.

![too many chars](https://user-images.githubusercontent.com/33448286/52352812-f85d2d00-2a35-11e9-9062-286f7175bf3c.gif)

[2019-02-06 15:44] ioanarusiczki commented on #7487
@willdurand Sorry for misunderstanding. This is how it should be : the slug is automatically set at 30 chars max even if the name of the collection will be way longer than that.
The warning message is no longer displayed now.
Verified on AMO dev and AMO stage with FF65 (Win10).

[2019-02-06 15:47] kumar303 opened #7553 "Update static theme size for Discovery Pane"
Static themes now have a different size, as of https://github.com/mozilla/addons-server/issues/9419

This issue is about updating the Discovery Pane to display themes in the new size. AMO was updated to display the new size in https://github.com/mozilla/addons-frontend/issues/6507

[2019-02-06 15:48] kumar303 commented on #6507
Let's track this in https://github.com/mozilla/addons-frontend/issues/7553

[2019-02-06 15:53] kumar303 commented on #7553
I should point out that I'm not sure if Disco Pane needs to use this new size or not. If not, we can close this issue as wontfix.

[2019-02-06 15:54] smayer97 opened #7554 "AMO displays Mobile version layout on older Firefox Browsers"
### Describe the problem and steps to reproduce it:

Using FF 48 for Mac to visit AMO shows the mobile layout instead of the desktop layout that takes advantage of screen space.

### What happened?
Shows AMO in long form, with no framing.

### What did you expect to happen?

To apply desktop layout framing to maximize usage of screen.

[2019-02-06 16:14] smayer97 opened #7555 "AMO results = 0 when selecting OS = All"
### Describe the problem and steps to reproduce it:

When visiting AMO https://addons.mozilla.org/en-US/firefox/search/, if switch operating system to All, results found = 0. Refreshing page (even forced refresh, does NOT update the results; results remain at 0.

Switching to any other OS pulls up results correctly. Then switching to All sometimes cause the All setting to pull up results, but most

[2019-02-06 16:35] #7543 closed

[2019-02-06 21:37] #7521 closed

[2019-02-06 22:15] jvillalobos commented on #7553
@atsay and @brassy should chime in. The new dimensions were introduced in mozilla/addons-server#9419 and come from the content optimization project. We need to figure out if/when it should be used on Disco Pane.

[2019-02-06 22:26] jvillalobos commented on #7555
The search string is empty, so there really aren't any relevant results. However, it may be more useful (and consistent) to show all results, like it's done when the OS are applied. I'm not sure if we intentionally decided to implement it this way, I seem to recall a discussion about it on an old issue.

[2019-02-06 22:31] jvillalobos commented on #7554
AMO officially supports versions from the latest ESR (version 60) and up. I believe that what you're seeing is the fallback layout for browsers that don't support CSS Grid.

[2019-02-06 22:31] #7554 closed

[2019-02-06 22:40] jvillalobos commented on #7497
I agree it would be nice to have, but it's also low priority. We would need to store the locales the latest XPI includes and then show them on the product page, probably in the More information box. /cc @atsay

[2019-02-07 00:54] smayer97 commented on #7555
But the search string is empty even when you select a specific OS and yet results show up there.

So my feedback is that I agree that it is more consistent to have it behave like the other selections, and it is more intuitive to always have results show.

[2019-02-07 01:53] bqbn commented on #7030
With https://github.com/mozilla/addons-server/issues/10428, we now have an opportunity to remove the "workaround" done in https://github.com/mozilla-services/cloudops-deployment/pull/2872, and let the frontend return 404 for URLs that end with `/%0A`, instead of having nginx return 400.

You can compare the difference using the following 2 URLs,

* https://addons-dev.allizom.org/en-US/firefox/addo

[2019-02-07 05:58] smayer97 commented on #7554
Ok. Thx for pointing this out.

For those interested, CSS grid support for Firefox is turned in v52+ on by default (and in Chrome v57+, Safari 10.1+, etc.; see complete list here, slide 30:
https://www.slideshare.net/jen4web/css-grid-finally-true-layout-arrives-version-5

or click
https://www.google.com/url?sa=i&source=imgres&cd=&ved=2ahUKEwi4gqrcm6jgAhWMoYMKHdxKBYAQjRx6BAgBEAU&url=https%3A%2F%2Fw

[2019-02-07 08:57] eviljeff commented on #7553
Unless there's a good reason why we can't have one size of theme preview in all the places, lets have one size of theme preview in all the places.

[2019-02-07 09:02] willdurand commented on #7553
The disco pane max width is 680px to match the other about pages. There is no need to use larger images (which would be scaled down). Maybe the "disco pane in the client" project will change that.

[2019-02-07 10:06] willdurand commented on #7555
That's what I don't understand either but I also barely remember a decision about that to avoid returning all the results. /cc @diox maybe?

[2019-02-07 10:07] willdurand commented on #7030
@bqbn that sounds good to me

[2019-02-07 10:49] autrilla commented on #7030
Sounds good to me as well. Although I'm not sure why the frontend is returning 404s now when it was issuing a redirect in the past.

[2019-02-07 14:24] flodolo opened #7556 "Locale missing in language tools page, but available in the underlying API"
We recently fixed an issue with 6 locales (missing target_locale attribute). 5 of them are now correctly displayed, but one is missing (`gn`, Guaraní).

Page: https://addons.mozilla.org/firefox/language-tools/

If you inspect the source, the locale is there, and it's also in the API response, but it's not displayed on the page for some reasons.

[code]

[2019-02-07 14:28] flodolo commented on #7556
I think that happens because we don't know anything about the `gn` locale here
https://github.com/mozilla/addons-frontend/blob/dab0639006f9a5c9b2e42e00f534f5b00edaf3ab/src/core/languages.js

And it's filtered out here
https://github.com/mozilla/addons-frontend/blob/dab0639006f9a5c9b2e42e00f534f5b00edaf3ab/src/amo/pages/LanguageTools/index.js#L41

It would be nice to double check if there are other

[2019-02-07 14:54] flodolo commented on #7556
It seems like `gn` is the only locale missing

[code]

[2019-02-07 14:55] willdurand opened #7557 "Locale issue in locale/pt_BR/LC_MESSAGES/amo.po"
See: https://travis-ci.org/mozilla/addons-frontend/jobs/490081843

[code]

We should edit `locale/pt_BR/LC_MESSAGES/amo.po` and replace `username` with `userName`.

[2019-02-07 15:15] #7557 closed

[2019-02-07 15:50] diox commented on #7555
I don't recall any decision to do that, and FWIW the API shouldn't - and doesn't in my experience - behave like this.
[code]

[2019-02-07 16:12] #6507 closed

[2019-02-07 16:47] PombeirP opened #7559 "1Password site links to non-existing extention for Linux platform"
### Describe the problem and steps to reproduce it:

### What happened?

I got a warning page telling me that the extension no longer existed.

### What did you expect to happen?

Being able to download the 1Password X extension.

### Anything else we should know?

https://1password.com/downloads/linux/

[2019-02-07 17:33] willdurand commented on #7555
This is actually: https://github.com/mozilla/addons-frontend/issues/6117

[2019-02-07 17:33] #7555 closed

[2019-02-07 17:42] wagnerand commented on #7559
This repository is for the underlying add-ons platform, not individual add-ons. Please contact the author of the add-on for questions about its availability.

[2019-02-07 17:42] #7559 closed

[2019-02-07 19:10] atsay commented on #7553
Let's shelve this for now as low priority.

[2019-02-07 19:30] smayer97 commented on #6117
:-)

[2019-02-07 20:45] bqbn commented on #7030
That's because previously, `/en-US/firefox/addon/foxyproxy-standard/%0A` is matched and routed to the frontend. The frontend then 301 the request to `/en-US/firefox/addon/foxyproxy-standard/%0A/`. The second URL is then matched and routed to the legacy site, which 301 to the first URL, thus causing a loop.

Now that everything is routed to the frontend by default, the above second URL is no longer

[2019-02-07 20:56] tklein123 opened #7560 "Firefox Android Password Export"
### Describe the problem
Speed Problems with Firefox under Android

### What happened?
Websites are loading very slowly

### What did you expect to happen?
Faster Loading when resetting Firefox Android Data and Cache via Settings, Apps, Delete Data to Default.

### Anything else we should know?
I configured Firefox Sync but only want to synchronize my Account Datas (like stored passwords).

I can

[2019-02-08 12:03] #7529 closed

[2019-02-08 12:21] willdurand commented on #7529
So the new UI should look like this:

![ezgif com-resize](https://user-images.githubusercontent.com/217628/52478003-35473200-2ba4-11e9-8a92-50735798a2c8.gif)

[2019-02-08 13:39] ioanarusiczki commented on #7521
@willdurand I cannot reproduce this anymore on AMO dev with FF65 or FF67 (Win10). Once it goes on Stage I will do a re-check.

![ff76 with amo dev](https://user-images.githubusercontent.com/33448286/52481596-9b898000-2bb7-11e9-81f6-c49ccae55ccd.png)

[2019-02-08 14:48] AlexandraMoga commented on #7529
Verified fixed on AMO -dev with FF65, WIn10x64 and Android 8.0

![image](https://user-images.githubusercontent.com/31961530/52485038-87964c00-2bc0-11e9-842a-2cf96e5d8d72.png)

![image](https://user-images.githubusercontent.com/31961530/52485319-43577b80-2bc1-11e9-8533-2274b62dbbc6.png)

[2019-02-08 14:52] ioanarusiczki commented on #7543
@willdurand Looks good on AMO dev with FF65 (Win10). Final validation is on AMO prod on Thursday.

![checking the updates](https://user-images.githubusercontent.com/33448286/52485394-6eda6600-2bc1-11e9-87e8-f7c30f6044eb.gif)

[2019-02-08 15:37] #7556 closed

[2019-02-08 19:26] AlanCurran opened #7563 "1Password site links to non-existing extention for Firefox"
### Describe the problem and steps to reproduce it:
The 1Password.com site directs users to the Mozilla add-on store for it's browser extention "1Password":

https://1password.com/downloads/windows/#browsers/

However, when following the link, it goes to a dead page.

### What happened?

The browser extention appears to have been removed from the add-on store.

### What did you expect to happen?

[2019-02-09 00:15] JorgeM12 opened #7564 "S3.translator"
my problem is that this extension basically translates what page and what text you have selected
and I do not know why it does not appear in your extensions, I do not know if you could provide me with a link to install it, I used to have it in my firefox but I had to delete all my mozilla firefox due to personal problems and I do not know if you can provide me with a link to install it please, I a

[2019-02-09 11:17] wagnerand commented on #7564
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-02-09 11:17] #7564 closed

[2019-02-09 11:38] farley0422 opened #7565 "ExpressVPN Firefox Browser Extension App Missing"
### Describe the problem and steps to reproduce it:

### What happened? ExpressVPN Firefox extension no longer appears in the list to download to Firefox browser

### What did you expect to happen? I expected it the ExpressVPN extension app to appear as usual.

![screen capture 2019-02-09 08-34-39](https://user-images.githubusercontent.com/47475233/52520198-a985e200-2c45-11e9-88f2-1724419bd12d.png

[2019-02-09 20:27] mamhoff commented on #7563
:+1: This makes my weekend difficult as I cannot install 1Password on my family's computers.

[2019-02-09 21:31] GrayCatCode commented on #7565
I was about to open another issue on this exact topic, you beat me to it. ;)

[2019-02-09 21:32] GrayCatCode commented on #7565
Having the same issue.

[2019-02-11 10:34] willdurand opened #7572 "UI tests are failing on `master`"
I guess the issue is related to a change in FF nightly, which likely requires a change in FoxPuppet.

[2019-02-11 10:46] wagnerand commented on #7563
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-02-11 10:46] #7563 closed

[2019-02-11 10:46] wagnerand commented on #7565
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-02-11 10:46] #7565 closed

[2019-02-11 11:47] muffinresearch opened #7573 "TAARDIS Conditionally return 400 based on FF version"
As per the email from durst:

The API responses should only return recommendations from FF 65.0.1 onwards to avoid the clients that haven't yet upgraded to 65.0.1 getting recommendations.

[2019-02-11 11:58] muffinresearch commented on #7573
The client ID should be withheld from being sent if the version isn't greater than or equal to 65.0.1

[2019-02-11 14:16] willdurand commented on #7572
This depends on https://github.com/mozilla/FoxPuppet/pull/243 (or some other similar patch, although this one works)

[2019-02-11 14:22] willdurand commented on #7573
@muffinresearch so there are 2 ways to fix that: either we rely on the version in the URL or we use the user-agent metadata. I'd go for the version in the URL but what should we do? We could also check both 🤷‍♂️

[2019-02-11 14:45] muffinresearch commented on #7573
I'd use the URL as that's more likely to be right since that's set directly by FF.

[2019-02-11 15:44] #7572 closed

[2019-02-11 15:53] kumar303 commented on #6507
Note that the images in our social media cards (e.g. [twitter cards](https://cards-dev.twitter.com/validator)) and search result metadata were also updated by this patch.

[2019-02-11 17:10] #7573 closed

[2019-02-11 19:33] #5925 closed

[2019-02-12 02:56] 940528440 opened #7578 "Seamless Print"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-12 06:11] suhailsinghbains opened #7579 "Choose Language Background"
Should be Fixed in #3205
### What happened?
Choose Language Background is black instead of White. I had applied a Theme, even if I remove it, the issue persists.
### What did you expect to happen?
Background is White
### Anything else we should know?
Version 65.0.(64-bit)

![screenshot from 2019-02-12 11-36-28](https://user-images.githubusercontent.com/10033914/52615391-0dfda700-2ebb-11e9-8f9d-4d3

[2019-02-12 10:30] AlexandraMoga opened #7580 "Incorrect text wrapping on an add-on details card in Disco Pane"
Prerequisites:
extensions.webservice.discoverURL pref points to the -dev server in about:config

STR:

1. Open your Firefox browser
2. Navigate to about:addons
3. Observe the description for any of the listed add-ons - i.e Awesome Screenshot Plus

Actual result:
Text for the description and custom heading are not correctly wrapped

Expected result:
There are no text layout issues in the add-on car

[2019-02-12 10:39] ioanarusiczki opened #7581 "Visual regression still persists when deleting a review"
Followup for https://github.com/mozilla/addons-frontend/issues/5925

STR:
1. Load AMO dev on a mobile device or with responsive design mode and make a review on a detail page
2. While trying to delete the review observe the rating stars

Expected result:
The stars are smaller in dev compared to stage

Actual result:
The stars have the same size on dev and stage

Notes:
When the last week's patch w

[2019-02-12 10:39] #7578 closed

[2019-02-12 10:41] ioanarusiczki commented on #5925
@kumar303 @rebmullin I did not finish testing but so far I've noticed a regression again and filed it here https://github.com/mozilla/addons-frontend/issues/7581

[2019-02-12 11:46] AlexandraMoga commented on #7573
1. https://discovery.addons-dev.allizom.org/en-US/firefox/discovery/pane/65.0.1/WINNT/normal
 Moz-Client-Id is sent with the request header -> recommendations are received

2. https://discovery.addons-dev.allizom.org/en-US/firefox/discovery/pane/67.0a1/WINNT/normal
  Moz-Client-Id is sent with the request header -> recommendations are received

3. https://discovery.addons-dev.allizom.org/en-US/fir

[2019-02-12 11:54] willdurand commented on #7573
It is sent by the browser but not actually sent to the API, right? If there are no recommendations, that's good. FF 65.0 sends the client ID as a request header but the disco app should not forward it to the API (which would return recommended results).

I think we're good to go.

[2019-02-12 11:58] willdurand commented on #7580
ah well, I guess that's because I used `word-break: break-all` 😞

[2019-02-12 12:45] AlexandraMoga commented on #7573
That's right. No recommendations are received back in Discovery Pane.
That's clarified then, so I'm marking the issue as verified fixed on AMO -dev, with WIn10x64, FF 60.5.0esr , 64.0, 65.0, 65.0.1, 66.0b5, 67.0a1

[2019-02-12 14:50] ioanarusiczki commented on #5925
@kumar303 @rebmullin I verified for regressions on the detail pages, all reviews page and user profile page with FF65 (Win10 & Android 8.0). Hovered over add-ons on the homepage, in categories, other popular extensions and more extensions by section from the detail pages and I did not see any regressions. So, the last week's filed issues are not reproducible except https://github.com/mozilla/addon

[2019-02-12 17:01] kumar303 commented on #5925
Thanks. I think I know what the problem is for #7581

[2019-02-13 01:05] suhailsinghbains commented on #7580
Hi, Can I please work on this?

[2019-02-13 07:35] barrymcvey opened #7583 "Firefox Add-ons feilrapport for Remember Reward-jegeren"
### Describe the problem and steps to reproduce it:

I was sent to the Firefox Add-ons feilrapport skjerm på GitHub (Svensk) etter jeg forsøkt nedlasting av Remember Reward-jegeren for Firefox.

Jeg er på en Dell XPS PC og kjører Linux Mint 19.0.

Takk
Barry

Se https://addons.mozilla.org/sv-SE/firefox/addon/re-member-reward/?src=ss

[2019-02-13 10:15] ioanarusiczki commented on #7556
@willdurand
On AMO dev with Page Source I see the lang packs presence
 `"502959":{"id":502959,"default_locale":"en-US","guid":"will@drnd.me","name":"Guarani (Paraguay) Language Pack","slug":"guarani-paraguay-lang-pack","target_locale":"gn","type":"language","url":"https:\u002F\u002Faddons-dev.allizom.org\u002Fen-US\u002Ffirefox\u002Faddon\u002Fguarani-paraguay-lang-pack\u002F"}}}`

And I see the l

[2019-02-13 10:49] wagnerand commented on #7583
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-02-13 10:49] #7583 closed

[2019-02-13 11:12] barrymcvey commented on #7583
Will do - thx.
Barry

Barry McVey
mob +47 90 82 60 50

On 13 Feb 2019, at 11:49, Andreas Wagner <notifications@github.com<mailto:notifications@github.com>> wrote:

This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

—
You are receiving this because you authored the thread.
Reply

[2019-02-13 11:50] AlexandraMoga opened #7584 "The autocomplete api is returning a 404 when searching for themes inside a specific category"
Follow up for #7459

STR:

1. Load AMO homepage on an Andoid device
2. Navigate to Themes and open a Category of your choice
3. Click on See More top rated themes - https://addons.mozilla.org/en-US/android/search/?category=abstract&sort=rating&type=statictheme%2Cpersona
4. Enter a search term to be found inside this category

Actual result:
An error message is displayed which points that the reque

[2019-02-13 12:14] AlexandraMoga commented on #7530
Verified fixed on stage with FF65, Win10x64 and Android 8.0

![image](https://user-images.githubusercontent.com/31961530/52711025-7753e780-2f99-11e9-9180-46d20394dcde.png)

![image](https://user-images.githubusercontent.com/31961530/52711035-7de25f00-2f99-11e9-9d27-9452f769d71f.png)

[2019-02-13 12:54] adrianobarrosmba opened #7585 "DownThemAll"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-13 13:02] #7585 closed

[2019-02-13 13:35] ioanarusiczki commented on #7521
Verified on AMO stage with FF65 (Win10).

![amo stage](https://user-images.githubusercontent.com/33448286/52715350-ebe05380-2fa4-11e9-8ef2-617d5e8e6aa8.png)

[2019-02-13 17:30] kumar303 commented on #7584
In the status meeting, @diox says that we can just drop `persona` everywhere so that should be an easy fix.

[2019-02-13 19:46] bobsilverberg commented on #7542
It was decided when implementing this page that we would not be supporting pagination and only display the 25 most recent versions. As was discussed in IRC around this issue, the API is available for anyone who really needs to retrieve information for versions older than that.

[2019-02-13 19:46] #7542 closed

[2019-02-13 21:42] kumar303 commented on #7542
Also, the legacy site never implemented pages for old versions correctly correctly due to limitations in the data.

[2019-02-13 23:03] #6117 closed

[2019-02-15 01:17] john7200 opened #7595 "Give Addons for legacy version of Firefox"
Several addons like Flashstopper, Multi-Link Paste and Go and Remove Google Redirect in Google Results are no longer accessible in Firefox addons site, and I believe it was Mozilla's fault. Please create a specific place for addons for legacy Firefox to download these addons or at least give people links to download latest or beta xpi of these addons either for research/testing or just backup. Som

[2019-02-15 03:26] bqbn opened #7597 "Increased 500 errors after 2019.02.14-2 release"
### Describe the problem and steps to reproduce it:
We have seen increased 500 errors after 2019.02.14-2 release. Please see the sceenshot below:

![image](https://user-images.githubusercontent.com/2209111/52832422-4fde4700-308d-11e9-80ad-78786c65bfc7.png)

Even thought the absolute rate (<0.06 per second) seems to be low, but it is considered 3 times more than before. So unless something has chan

[2019-02-15 06:19] EnTeQuAk commented on #7595
The archive team archived legacy add-ons here: https://archive.org/details/addons.mozilla.org_legacy_201810

That being said, old versions of Firefox should not be used as they're unsupported and potentially unsafe so I'd highly suggest upgrading to the latest version or at the very least Firefox ESR.

[2019-02-15 06:19] #7595 closed

[2019-02-15 08:02] AlexandraMoga commented on #7445
Verified fixed in -prod:

![2019-02-15_09-50-57](https://user-images.githubusercontent.com/31961530/52842260-37127780-3107-11e9-9c6b-d678f7dbd84a.png)

[2019-02-15 09:32] ioanarusiczki commented on #7543
Verified on AMO prod - FF65 (Win10).

[2019-02-15 09:49] eviljeff opened #7596 "add redirect/support for `users/login`"
Refs https://github.com/mozilla/addons-server/issues/10428

follow on from https://github.com/mozilla/addons-server/issues/10637#issuecomment-463200793

@jvillalobos says users/login still receives some traffic so it's probably best we redirect back to / for them to log-in.

Logging this as frontend work because @bqbn expressed some concern in https://github.com/mozilla/addons-server/issues/10645#

[2019-02-15 10:20] ioanarusiczki commented on #7556
It is available on AMO prod - FF65(Win10).

![guarani lang pack on prod](https://user-images.githubusercontent.com/33448286/52850400-11dc3400-311c-11e9-9352-63918d39e5dc.gif)

[2019-02-15 12:39] diox commented on #7597
Looks like it's https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/issues/5219460/?query=is:unresolved

[2019-02-15 13:08] willdurand commented on #7597
The 500 error is caused by an error in the `NotFound` component (404 error page). This error comes from a localized string that has two sets of `linkStart/linkEnd` parameters:

[code]

The locale file contains a translated string that is valid (according to our linter) but the sets are inverted:

[code]

I believe it does not really matter to have the first link before or after the second link, es

[2019-02-15 13:09] willdurand commented on #7597
I opened a PR to fix the locale file: https://github.com/mozilla/addons-frontend/pull/7598.

Let's try to fix our code now...

[2019-02-15 13:57] #7580 closed

[2019-02-15 14:10] #6376 closed

[2019-02-15 14:37] EnTeQuAk commented on #7196
addons-server now actually defaults to the new frontend by default so it's used for development kinda as well. Happy to change configs though to resolve any conflicts we may have.

[2019-02-15 15:06] #7581 closed

[2019-02-15 15:15] ioanarusiczki commented on #6376
This issue is no longer reproducible on AMO dev - FF65(Win10).

![fixed rectangles](https://user-images.githubusercontent.com/33448286/52865379-300a5a00-3145-11e9-96d3-38bd7d7ee490.gif)

[2019-02-15 15:22] AlexandraMoga commented on #7580
This is fixed now on AMO -dev

![image](https://user-images.githubusercontent.com/31961530/52865371-2d0f6980-3145-11e9-90a7-28ca8dd6f34d.png)

However, it seems we are running in circles a bit, because this fix reintroduced the issue mentioned in #7521

![image](https://user-images.githubusercontent.com/31961530/52865452-516b4600-3145-11e9-90a0-733279c75a6d.png)

@willdurand I favor keeping this f

[2019-02-15 15:29] willdurand commented on #7580
ok that works for me

[2019-02-15 15:40] willdurand commented on #7597
@bqbn we can push a hotfix if you want to reduce the number of 500. The patch is harmless given that it is a locale file that has been fixed.

[2019-02-15 15:44] ioanarusiczki commented on #6117
I could no longer reproduce this issue on AMO dev - FF65(Win10).
It happens while making a blank search and then changing Operating System to All ( the Add-on type is by default "All").

Before
![before amo stage](https://user-images.githubusercontent.com/33448286/52867284-38fd2a80-3149-11e9-9529-1cfd619339ba.gif)

On AMO dev - problem fixed
![after amo dev](https://user-images.githubusercontent.c

[2019-02-15 16:41] willdurand commented on #7597
This would be the commit to cherry-pick as a hotfix: https://github.com/mozilla/addons-frontend/commit/05b8987c5ec67b5169dabbb135cb2a0a40e239e4 (cc @kumar303)

[2019-02-15 16:53] bqbn commented on #7597
I think next week is fine now that we've identified the issue and have a fix.

Next, can QA help re-produce this in -stage and verify the fix before pushing it to -prod?

[2019-02-15 18:31] kumar303 commented on #7597
@willdurand thanks for the quick fix

Sigh, yeah. We decided to throw an error there because the way it relied on slicing made the code very delicate. It's probably still a good idea to throw but I'm not sure.

[2019-02-16 02:14] kpulse opened #7601 "https://www.opensubtitles.org/en/subtitles/4126113/confessions-from-a-holiday-camp-ro"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-16 13:17] #7601 closed

[2019-02-16 17:20] decembre commented on #2788
Solved:
Now, there is no possibility to switch for the  “Classic desktop view” 👎

[2019-02-17 00:38] coz opened #7602 "unpinterested"
### go here  https://www.addictivetips.com/web/remove-pinterest-from-google-search-results/, click  unpinterested link.

### What happened? File not found!

### What did you expect to happen? file to download

### Anything else we should know? HOW to stop / or irradicate pinterest from all searches.

[2019-02-17 10:26] wagnerand commented on #7602
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-02-17 10:26] #7602 closed

[2019-02-18 03:38] tiansh opened #7604 "Allow searching with 1 or 2 characters when JavaScript disabled"
### Describe the problem and steps to reproduce it:
* Open https://addons.mozilla.org/en-US/firefox/
* Type 2 characters in search box and try to act a searching

### What happened?
* Searching is blocked by front-end, a tool-tip is shown, which ask user to input at least 3 characters.
* Manually changing URL to perform a 2 characters search works fine. So this is not a limitation by backend serve

[2019-02-18 07:30] AlexandraMoga commented on #7597
I've navigated around various pages on AMO stage using `pt-BR` but I haven't run into 500 errors. I'm not sure how else I should try to reproduce the issue.

[2019-02-18 08:16] willdurand commented on #7597
@AlexandraMoga could you try a page that returns a 404? Like an add-on detail page with an non-existent slug.

[2019-02-18 08:42] AlexandraMoga commented on #7597
@willdurand thanks for the tip. I was able to reproduce the 500 error on stage with multiple pages that should be returning a 404 instead.

The issue looks fixed on -dev.

[2019-02-18 09:00] tiansh commented on #7604
Update:

I just realize that I can perform a 2 characters search as long as javascript on that page loads correctly. This only happened if javascript failed to load in any case.
Although it perform a correct searching, I would still suggest removing the `minlength` attribute since it still shows tooltip which requires users to type at least 3 characters.

[2019-02-18 09:37] ioanarusiczki commented on #7581
This is fixed on AMO dev - FF65 (Android 8.0)

![deleting rating starts](https://user-images.githubusercontent.com/33448286/52941439-76440100-3371-11e9-8961-ab8723800a36.png)

[2019-02-18 14:39] Taggen-Trafik opened #7605 "Non-working link"
### Describe the problem and steps to reproduce it:
The non-working link is on this page:
https://addons.mozilla.org/sv-SE/firefox/addon/google-translator-webextension/?src=featured

The non-working link is inside the text-block headlined
"About this extension" (back-translated Swedish→English)
The link-text of the non-working link is:
"Google™ Translator (Add-on SDK)"
This link-text is hyperlinke

[2019-02-18 16:55] jvillalobos commented on #7605
That add-on page is no longer available because the add-on hasn't been updated to work with supported versions of Firefox. Please contact the developer of the add-on to remove the link.

[2019-02-18 16:55] #7605 closed

[2019-02-18 22:29] SteegHobland opened #7609 "Can't find RAMBack page."
On the page **_Firefox uses too much memory (RAM) - How to fix_**, under the **Memory troubleshooting tools** heading, I clicked the link to the **RAMBack** tool.

I wound up on an **_Oops! We can’t find that page_** page.

I expected to arrive at the page for the **RAMBack** tool.

To reproduce, simply head to https://support.mozilla.org/en-US/kb/firefox-uses-too-much-memory-ram and click the lin

[2019-02-19 01:19] 2nazeem opened #7610 "Error 404 my ewallet"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-19 06:51] EnTeQuAk commented on #7610
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-02-19 06:51] #7610 closed

[2019-02-19 06:52] EnTeQuAk commented on #7609
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

The first tip on that page, regarding `about:memory` should be more than fine on todays Firefox versions as it has been optimized and improved a lot over the years.

[2019-02-19 06:52] #7609 closed

[2019-02-19 15:18] willdurand commented on #7597
It is even more fragile with two links in the same string 😞  I am not sure what to do here to be honest, I spent some time trying to find a better way to handle two links into a string, but I don't like the code I wrote for that.

I also think we should `throw` (as it is currently). Yet, I believe the i18n linter catches issues when a `linkStart` or `linkEnd` is missing. It did not catch any issue

[2019-02-19 15:51] SteegHobland commented on #7609
I followed a link from a page on mozilla.org that led to a missing page. It seemed to say, as I interpreted it then, I should report that here, though it appears that is not the case. I am sorry for any inconvenience I have caused.

[2019-02-20 03:35] vaishnavivika opened #7614 "fir bug can not pluggin in my firefox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-20 06:52] grahamperrin commented on #3943
For an issue with similar symptoms, from the [closing comment](https://github.com/webcompat/web-bugs/issues/25772#issuecomment-465361483) under **(JavaScript) Reddit www.reddit.com redesign versus the Internet Archive Wayback Machine · Issue #25772 · webcompat/web-bugs**, with added emphasis:

[2019-02-20 08:06] #7614 closed

[2019-02-20 15:13] AlexandraMoga opened #7615 "Language pack installation issue when another version with the same target locale was previously installed"
Prerequisites: set the required prefs in about:config in order to enable installation from the -dev server

**STR**

1. Open the following language pack and install it - https://addons-dev.allizom.org/en-US/firefox/addon/korean-kr-languagepack/
2. Try to also install this language pack - https://addons-dev.allizom.org/en-US/firefox/addon/korean-kr-lpack/

**Actual result:**
The second lang pack ap

[2019-02-20 15:18] willdurand commented on #7579
I guess we could fix the style of this select.

[2019-02-20 15:42] AlexandraMoga commented on #7580
@willdurand should https://github.com/mozilla/addons-frontend/pull/7600 have fixed the long string issue?
I am still reproducing, hence the double check.

[2019-02-20 16:18] suhailsinghbains commented on #7579
Hi,
Can I please work on this?

[2019-02-20 16:38] caitmuenster commented on #7579
Hey @suhailsinghbains, could you give us the steps to reproduce this issue and let us know what theme you were using?

[2019-02-20 17:04] suhailsinghbains commented on #7579
When I filed this issue, I was using Elementary OS 5.0 Juno.
It makes all the select tags go dark with text in white in every website, but, in this and [this footer](https://www.mozilla.org/en-US/) I was getting [this](https://user-images.githubusercontent.com/10033914/52615391-0dfda700-2ebb-11e9-8f9d-4d309d1232e1.png)

I had switched to Manjaro XFCE4 I am getting similar issue
![image](https://us

[2019-02-20 17:47] kumar303 commented on #7597
To recap, the quick fix preventing 500s landed in https://github.com/mozilla/addons-frontend/pull/7598

The next step is to try and come up with a way to prevent this kind of localization problem from occurring again.

[2019-02-20 18:05] mukesh22777 opened #7617 "firepath"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-20 18:13] #7617 closed

[2019-02-20 19:25] devaneymoz opened #7618 "Homepage update 28 Feb"
Please update homepage content programming per details [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch

[2019-02-20 20:19] UsernameIsAlreadyTakenByMe opened #7619 "i need firefox always show sites in desktop view , how can i do this?"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-20 20:20] UsernameIsAlreadyTakenByMe commented on #7619
It's archived, but best solution is no longer available. I think it should be changed.
https://support.mozilla.org/en-US/questions/1114055

[2019-02-20 21:33] jvillalobos commented on #7619
You can ask for alternatives in the forum: http://discourse.mozilla.org/c/add-ons

This repository is for the add-ons website itself, so we can't help you with that here.

[2019-02-20 21:33] #7619 closed

[2019-02-21 05:04] bqbn commented on #7596
`/users/login` is now redirected to `/`, and this rule is deployed on -dev.

Please test it.

[2019-02-21 09:15] willdurand commented on #7596
cc @AlexandraMoga @ioanarusiczki

[2019-02-21 15:12] AlexandraMoga commented on #7596
@bqbn @willdurand I've verified this new redirect on -dev. Please find my results below and leave your input:

1. https://addons-dev.allizom.org/users/login => we have a first 301 redirect to `/` , which then further redirects to `/en-US/firefox/`
![image](https://user-images.githubusercontent.com/31961530/53178364-64c15a00-35fa-11e9-80e6-113d765758c1.png)
2. https://addons-dev.allizom.org/en-US/f

[2019-02-21 15:49] willdurand commented on #7580
Another patch has been merged and should fix everything.

[2019-02-21 17:04] #7618 closed

[2019-02-22 00:12] bqbn commented on #7596
@diox regarding @AlexandraMoga's comment above, do you know if it is that `/<locale>/<app>/users/login` needs to be redirected to `/`, or is it just `/users/login` that needs to be redirected?

Thanks!

[2019-02-22 08:03] diox commented on #7596
@bqbn : `<locale></app>/users/login` needs to be redirected as well.

[2019-02-22 10:51] eviljeff commented on #7596
@AlexandraMoga

Where do/did we link to `/developers/users/login`?

[2019-02-22 11:36] AlexandraMoga commented on #7596
@eviljeff I was merely trying to see how these pages behaved when `/users/login` was present in the URL. If these pages are out of scope, you can ignore my test.

[2019-02-22 14:30] willdurand opened #7623 "Google is not showing AMO results of uBlock Origin on the first page"
This issue is related to [this Reddit thread](https://www.reddit.com/r/firefox/comments/87zsml/google_is_not_showing_amo_results_of_ublock/) (as well as some random discussions lost somewhere in one of our communication tools). Anyway, depending on which Google TLD is used, which preferred language is set and probably other unknown parameters, the AMO link to "ublock origin" does not always appear

[2019-02-22 14:36] willdurand opened #7624 "Move the Permissions card at the top of the detail page"
In [this reddit thread](https://www.reddit.com/r/firefox/comments/asdvkn/keeping_addons_safe_for_our_users_future_releases/egv4nhb/), a user suggested to _"show the permission box higher in the extension page in AMO"_. I think it is a really good idea and we should probably do this. It could give more hints to the end user, which could improve safety somehow.

Here is an example of a detail page o

[2019-02-22 15:28] jvillalobos commented on #7623
@rraue was looking into this as well. Also, @atsay had found other extensions that had this same problem.

[2019-02-22 16:25] caitmuenster opened #7626 "Add 5 more EU locales to AMO"
Related to [#10758](https://github.com/mozilla/addons-server/issues/10758) on addons-server.

This is a request to add locales to AMO for the following languages:

    * Croatian
    * Estonian
    * Latvian
    * Lithuanian
    * Maltese

Having these locales would be helpful to supporting EU-specific campaigns for extensions. These should be enabled by March 15, 2019 for an upcoming campaign.

@

[2019-02-22 22:48] bqbn commented on #7596
We made it so that

*  `/users/login`
*  `/<locale>/firefox/users/login`
*  `/<locale>/android/users/login`

are redirected to `/`.

`/<locale>/developers` and `/<locale>/reviewers` are served by the legacy site anyways. If a page doesn't exist for these 2 prefixes on the legacy site, they will return 404.

Let us know if more `users/login` routes need to be redirected to `/`.

[2019-02-23 18:25] Sauravskv07 opened #7628 "AOSSIE carbonFootprint Addon, not found"
### Describe the problem and steps to reproduce it:
I was trying to find AOSSIE's addon built to measure carbon footprint but there was no such thing. My browser is Firefox Quantam 65.0 and my operating system is ubuntu bionic.

### What happened?
I happened to find this thing so that I can find some new bugs. I went on its gitlab repository. Clicked this link for opening the addon in firefox.

##

[2019-02-23 18:33] wagnerand commented on #7628
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-02-23 18:33] #7628 closed

[2019-02-25 08:12] AlexandraMoga commented on #7580
This looks fixed now:

![image](https://user-images.githubusercontent.com/31961530/53323040-c1b45d00-38e5-11e9-8338-f4412702ad26.png)

[2019-02-25 10:57] ioanarusiczki commented on #7618
Looks good on AMO dev - FF65(Win10). Final validation on Thursday on AMO prod.

[2019-02-25 12:38] #7579 closed

[2019-02-25 12:41] tsl143 opened #7634 "Show all domains in list of permissions"
There is no way for a user to know what all domains can an extension access data from if the host permissions >= 4.

Consider this extension https://addons.mozilla.org/en-US/firefox/addon/google-search-result-shortcuts
It says it can access data from google.com, google.ad, google.ae and **`190 other domains`** - This information is kind of really insufficient and vague for a user.
I am sure we don

[2019-02-25 15:11] kumar303 commented on #5359
Just FYI, this logic has been intertwined in surprising ways over the history of the code base so removing it may not be so trivial.

[2019-02-25 15:20] kumar303 commented on #5359
See https://github.com/mozilla/addons-frontend/pull/7627 for some initial removal

[2019-02-25 16:49] kumar303 opened #7636 "No error message when logging out/in during read only mode"
### Describe the problem and steps to reproduce it:

When `addons.mozilla.org` is in read-only mode, logging out looks like this:

* Click on your account dropdown menu from the header and select *Log out*

### What happened?

Nothing in the UI changes

### What did you expect to happen?

You should see a message saying that the site is in read-only mode.

### Anything else we should know?

This c

[2019-02-25 17:02] #7626 closed

[2019-02-25 18:39] Dark-Scorpius0411 opened #7638 "Error with log in in firefox add-ons"
After I tried to log in in firefox add-ons, the page send a message that says "No authorized".
I'm loging in to write son comments and reviews about the extensions for firefox that i has been used.

[2019-02-25 19:16] kumar303 commented on #7638
Hi. The site was in read-only mode during maintenance but it may not have been apparent -- sorry about that. It should be back now. Can you try again?

We filed https://github.com/mozilla/addons-server/issues/10787 to address the login issue.

[2019-02-25 19:16] #7638 closed

[2019-02-25 21:45] #7584 closed

[2019-02-25 21:46] kumar303 commented on #7584
@AlexandraMoga I tried to only change what was necessary but my fix also touches some of the theme display logic. Can you do some general checks against all theme related features?

[2019-02-25 21:56] #6351 closed

[2019-02-26 02:26] decembre commented on #5858
Any news  about this issue??

[2019-02-26 02:28] decembre commented on #6037
It was a good way to discover other addons:
Bring it back....

[2019-02-26 13:36] suhailsinghbains commented on #7579
Hi @willdurand
Please add label state: verified
![image](https://user-images.githubusercontent.com/10033914/53416455-91f67980-39f9-11e9-97f4-50190458488e.png)
As shown [here](https://addons-dev.allizom.org/en-US/firefox/)

[2019-02-26 13:38] willdurand commented on #7579
QA people have to verify it, not me :)

[2019-02-26 15:49] AlexandraMoga commented on #7584
Verified on AMO -dev with FF65, Win10x64 and Android 8.0

@kumar303
First, I've checked that the reported issue was fixed:
![2019-02-26_16-37-15](https://user-images.githubusercontent.com/31961530/53424848-a8e29f00-39ec-11e9-9dff-0092e78de714.gif)

After that, I've verified that the functionalities around themes - homepage, search, details, categories - are still working as expected both on deskto

[2019-02-26 16:04] kumar303 commented on #7584
Thanks!

[2019-02-26 16:31] AlexandraMoga commented on #7626
Verified on AMO -dev with FF65, Win10x64

The new languages have been added in the frontend:

Croatioan
https://addons-dev.allizom.org/hr/firefox/
Estonian
https://addons-dev.allizom.org/et/firefox/
Latvian
https://addons-dev.allizom.org/lv/firefox/
Lithuanian
https://addons-dev.allizom.org/lt/firefox/
Maltese
https://addons-dev.allizom.org/mt/firefox/

However, until the server issue is fixed, we

[2019-02-26 16:43] suhailsinghbains commented on #3197
Hi, I want to solve this issue, can I please be assigned this.

[2019-02-26 17:00] willdurand commented on #3197
@suhailsinghbains sorry but this is not an issue you should work on now. I'll remove the contrib tag. Sorry.

[2019-02-27 07:56] AlexandraMoga commented on #7596
@bqbn I've verified the new redirects on -dev and stage

* `/en-US/firefox/users/login`

![image](https://user-images.githubusercontent.com/31961530/53432293-e4846580-39fa-11e9-9785-549b3ef5f55c.png)

* `/de/firefox/users/login`

User is redirected to the default locale set by the browser (`en-US` in my case)
![image](https://user-images.githubusercontent.com/31961530/53432499-4b098380-39fb-11e9-9

[2019-02-27 08:11] AlexandraMoga commented on #7626
@willdurand taking in consideration that the server side is not ready yet, which, as pointed in my previous comment, could lead to 404s, should we consider postponing the frontend part as well?
Probably, these new locales will have little traffic, but the issue highlighted above is still worth mentioning.

[2019-02-27 09:57] ioanarusiczki commented on #6351
@kumar303 I verified this issue on AMO dev with FF65(Win10).

For an admin account when the review made by the admin or a developer reply is deleted, the red message is displayed.
I've noticed that the red message persists on the detail  page though, even after navigating away from the page and returning to it through a search result. The page needs a refresh.
If you consider this an issue worthy

[2019-02-27 12:43] willdurand commented on #7626
@AlexandraMoga The issue in addons-server has been fixed. It is now in -dev and ready for cherry-pick if you confirm -dev looks good. Thanks!

[2019-02-27 13:36] AlexandraMoga commented on #7626
The server issue being fixed, eliminates the problems noticed before.
This can be marked now as verified fixed.

[2019-02-27 14:26] ioanarusiczki commented on #7579
@willdurand

I verified this on Win10, Ubuntu 12.0.4, Mac OS X.0.14.1 and did not find regressions. The background is white and stays this way even if a dark theme is installed.

If any further problems are encountered please let us know @suhailsinghbains

![change language](https://user-images.githubusercontent.com/33448286/53497216-5f598900-3aac-11e9-8cac-60459c00cafe.png)

[2019-02-27 18:43] vidalv opened #7642 "S3.Translate missing !"
### Describe the problem and steps to reproduce it:
Searching on FF 65.0.1 to add S3.Translate module addon : Not listed !

No idea !
### What happened?
Nothing.
### What did you expect to happen?
S3.Translate work on Chrome for example.
### Anything else we should know?
No.

![image](https://user-images.githubusercontent.com/16664649/53514170-60e47a80-3ac7-11e9-8ac7-9e405e624e09.png)

![image](ht

[2019-02-27 19:05] wagnerand commented on #7642
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-02-27 19:05] #7642 closed

[2019-02-27 20:22] Susanilow opened #7643 "Viewing Personas"
Although, I have uploaded the new version of Firefox, I can not see the personas as I did before the change. So at the bottom of the new version page, I have been able to click the link to view the personas using the previous version of Firefox. However, now that link is gone. I can not see the persona now & my saved favorites are gone.

Please tell me why the new version of Firefox is not working

[2019-02-27 20:30] kumar303 commented on #7643
Hi Susanilow. Sorry you are having trouble finding your personas (knowns as themes). I wasn't aware that the new version page in Firefox provided a link -- maybe the link was removed. I would suggest looking for your themes by doing this instead:
- Go to the top menu bar of the Firefox application and choose *Tools*
- In the dropdown menu, select *Add-ons*
- This opens a page for all of the add-on

[2019-02-27 20:30] #7643 closed

[2019-02-28 01:15] mohammadtw opened #7644 "0555882139"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-02-28 04:45] #7644 closed

[2019-02-28 09:30] ioanarusiczki opened #7645 "The warning message persists on the detail page after deleting the review with an admin account"
Followup for https://github.com/mozilla/addons-frontend/issues/6351

STR:
1. Log in AMO with an admin account, make a review and then delete it from the permalink from the add-on review listing page
2. Return to the detail page and observe the page
3. Navigate away from the page, search the reviewed add-on then open it from the search results and observe the page

Expected result:
The red warning

[2019-02-28 11:02] AlexandraMoga opened #7646 "Text in the 'Log in to rate extension' button should be center aligned"
STR:

1. Open AMO on a mobile device (or use the responsive design mode) and make sure you are logged out
2. Switch to a locale that usually contains longer strings, such as `it` , `de`
3. Go to an extension details page - https://addons.mozilla.org/it/firefox/addon/font-inspect/
4. Scroll down to the ratings section
5. Observe the 'Log in to rate extension' button

Actual result:
Text is aligned

[2019-02-28 11:51] suhailsinghbains commented on #7646
Hi, I would to work on this issue, if possible :)
Thanks

[2019-02-28 12:29] bobbobob1 opened #7648 "Weigh older reviews less than newer ones"
### Describe the problem and steps to reproduce it:

A good example is the [Stylish addon](https://addons.mozilla.org/firefox/addon/stylish/reviews/).

### What happened?

It has 3.6 stars.

### What did you expect to happen?

It should have less stars because obviously it's *very* unpopular since the addon was sold to new "owners".

### Anything else we should know?

I don't have a good algorhyth

[2019-02-28 13:45] tsl143 commented on #6917
@kumar303 , using traditional way for this will be adding timestamp query param to URL.
IMO we should do this to all APIs which are get dynamic data like reviews, addon-details etc.

I can create a PR if we agree to this approach.

[2019-02-28 15:02] AlexandraMoga commented on #6899
Now that static themes are also served on Android, users might run into themes that appear installable, but after installation they will have no effect on their browsers. Here are a few examples:

https://addons.mozilla.org/en-US/android/addon/simple-droids-red/?src=search
https://addons.mozilla.org/en-US/android/addon/simple-blue-modern-theme/?src=search
https://addons.mozilla.org/en-US/android/a

[2019-02-28 15:03] kumar303 commented on #6917
I'd rather not go the route of adding a timestamp query param because we do want the request to be cached in some cases. There might be another bug (maybe in the API) because we should have Etags and other headers in the API response to tell the browser when and when not to cache it.

Since this is lower priority, I don't think it's worth spending time on right now. Thanks to everyone who looked i

[2019-02-28 15:18] ioanarusiczki commented on #5348
Verified on AMO stage and AMO prod - FF65 (Win10&Android 8.0)

[2019-02-28 15:18] #5348 closed

[2019-02-28 15:56] eviljeff commented on #7596
The app and locale should be kept really, but as these are old urls coming from somewhere external I don't think we care that much.  @jvillalobos ?

[2019-02-28 20:24] jmmerz opened #7650 "RSS feeds are returning 404"
### Describe the problem and steps to reproduce it:

Try to download an RSS feed of extension updates from AMO. A few examples that worked until this morning:
* https://addons.mozilla.org/en-US/firefox/extensions/format:rss?sort=updated
* https://addons.mozilla.org/en-US/firefox/extensions/privacy-security/format:rss?sort=updated

### What happened?
The RSS feeds now return 404.

### What did you

[2019-02-28 20:34] jvillalobos commented on #7596
Yeah, not a big deal.

[2019-02-28 20:47] jvillalobos commented on #7650
Closing as a dupe of https://github.com/mozilla/addons-server/issues/7182

You can use the API to obtain this information: https://addons-server.readthedocs.io/en/latest/topics/api/addons.html

In particular, [this extension](https://addons.mozilla.org/addon/latest-on-amo/) exemplifies how to use the API to display the latest extensions.

[2019-02-28 20:47] #7650 closed

[2019-03-01 02:25] immartian commented on #7282
Can't imagine Amazon didn't even care about it.

[2019-03-01 05:50] alice0775 opened #7653 "Texts and options etc are overlapping each other in AMO"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

The problem is reproduced on Nightly67.0a1 and Firefos65.0.1 and Chrome as well

1. open https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/versions/
2. Scroll down

### What happened?

Texts and options etc are overlapping each other

### What did you expect to happen?

Should display prop

[2019-03-01 06:53] cesaredamico opened #7652 "Link to "Find more search engines" in search preferences is broken"
### Describe the problem and steps to reproduce it:

Clicking on the link "Find more search engines" from the "Search" Preferences page in firefox:

about:preferences#search

I get a 404

This is the page that is linked from that link:
https://addons.mozilla.org/en-US/firefox/search-engines/

[2019-03-01 09:14] muffinresearch commented on #7652
Thanks for the report. It looks like we're missing a redirect from https://addons.mozilla.org/en-US/firefox/search-engines/ to https://addons.mozilla.org/en-US/firefox/search-tools/

[2019-03-01 09:42] gwiggin opened #7654 "Bad link in Web browser customization"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

https://addons.mozilla.org/en-US/firefox/search-engines/

[2019-03-01 09:47] willdurand commented on #7653
I can reproduce and this is a valid bug: I believe it is because of the user content that is rendered into this page. It looks like we produce invalid HTML...

[2019-03-01 10:15] alice0775 opened #7655 "The search with ENTER key performed with wrong phrase if mouse pointer is over suggestion list."
Describe the problem and steps to reproduce it:
Search performed with unexpected words if the mouse pointer is below the search field(In other words if mouse pointer is over suggestion list.).

(Please include as many details as possible.)
1.  type "uBlock Origin" in the search input field
 2. hit ENTER

What happened?
A non-related addon page displays

What did you expect to happen?
Search should

[2019-03-01 10:50] muffinresearch commented on #7654
Thanks for the report, however, this is a duplicate of https://github.com/mozilla/addons-frontend/issues/7652

[2019-03-01 10:50] #7654 closed

[2019-03-01 11:57] muffinresearch commented on #7652
A redirect has been added.

[2019-03-01 11:57] #7652 closed

[2019-03-01 12:42] muffinresearch commented on #7653
Looking at dev tools it looks like there are two footers rendered.

![ublock_origin_version_history_-_25_versions_ _add-ons_for_firefox__en-us_](https://user-images.githubusercontent.com/1514/53638788-4fae8180-3c1f-11e9-85be-e6a5312c499f.jpg)

This doesn't appear to happen from client-side navigation.

[2019-03-01 12:52] muffinresearch commented on #7653
I've also seen this on the details page.

[2019-03-01 13:37] AlexandraMoga commented on #7652
Verified fixed on -prod:

![2019-03-01_15-35-23](https://user-images.githubusercontent.com/31961530/53641474-bb9ce400-3c37-11e9-91f0-c586a46ce36d.gif)

[2019-03-01 14:58] mirh commented on #7282
Has anybody bothered to ping sendtokindle-feedback@amazon.com ?

The add-on is still available [here](https://legacycollector.org/firefox-addons/399764/index.html) anyway.

[2019-03-01 15:03] eviljeff opened #7656 "Implement users/unsubscribe"
See https://github.com/mozilla/addons/issues/930 - we include an unsubscribe link in emails and, on following the link, show a page to confirm they are unsubscribed to that type of notification (with links to other actions).  We should implement that page on addons-frontend because it's a user facing page.

[2019-03-01 15:23] willdurand commented on #7653
same, huh.

[2019-03-01 17:54] NatoBoram opened #7658 ""Oops! We can’t find that page" on the dictionaries page"
### Describe the problem and steps to reproduce it:

1. Right click in a text box
2. Languages
3. Add Dictionaries...

Alternatively, you can directly visit https://addons.mozilla.org/en-CA/firefox/dictionaries/

### What happened?

### What did you expect to happen?

This page should appear : https://addons.mozilla.org/en-CA/firefox/language-tools/

### Anything else we should know?

![Wrong page

[2019-03-01 18:13] kumar303 commented on #7658
Thanks for the bug report. This looks like a regression caused by https://github.com/mozilla/addons-server/issues/10428

[2019-03-01 18:16] muffinresearch commented on #7658
I think this is a higher priority than next couple of releases since it's a direct link from Firefox to a 404.

[2019-03-01 18:19] muffinresearch commented on #7658
This will need a fix similar to https://github.com/mozilla-services/cloudops-deployment/pull/2924/commits/d5fac892d9709bf01158241a7198b8bff56e9308

[2019-03-01 18:43] muffinresearch commented on #7653
Looks like the details page issue is only seen when client-side navigating from a deep-linked all versions page, looks like the additional footer that has been rendered isn't removed which is why it's only seen occasionally.

[2019-03-01 18:47] muffinresearch commented on #7653
I've updated the one release notes I found with a missing opening `<ul>` and that fixed it.

A lot of the release notes seems to have missing closing tags which the means it's reliant on those being added implicitly so we should file a follow-up to do a better job of ensuring valid HTML on the way in.

[2019-03-01 18:47] #7653 closed

[2019-03-01 19:53] LudoThijssen opened #7659 "broken link"
Text input field
right mouse click on text
choose language
add a dictionary
Page not found
Standard language is Dutch

[2019-03-02 07:10] grahamperrin commented on #7542
Anyone, please:

[2019-03-02 14:21] KrzysztofSzewczyk opened #7660 "Adding new dictionary points to invalid place."
### Describe the problem and steps to reproduce it:

Link in context menu is pointing to invalid place.
![obraz](https://user-images.githubusercontent.com/27734421/53683239-ccfcf380-3cfe-11e9-993c-3301dc503bef.png)

### What happened?

I've been redirected to 404 page.

### What did you expect to happen?

I wanted to add new dictionary for spellchecking.

[2019-03-02 15:02] alexander91 opened #7661 "Add languages for spellcheck brocken"
### Describe the problem and steps to reproduce it:

Right mouse button, check spelling other languages

### What happened?

page not fount

### What did you expect to happen?

page where I can add languages

[2019-03-02 17:31] Jamescarney215 opened #7662 "Broken Mozilla link"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-02 17:32] #7662 closed

[2019-03-02 19:33] kerryland commented on #7658
You could throw in an http redirect in the meantime

[2019-03-03 07:02] RayBomb87 opened #7663 "after writing a wrong word in a iput box, i got a red line under it to show it was misspelled. I then right-clicked on the word and tried to install a new dictionary, i was the redirected to this page: https://addons.mozilla.org/en-GB/firefox/dictionaries/"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-03 09:31] derTHOMMESisses opened #7664 "65.0.2 (64-Bit) Add new search engine fails"
### Describe the problem and steps to reproduce it:

When trying to add new search engine in 65.0.2 (64-Bit) german the exception-site opens (Hoppla! Wir können diese Seite nicht finden. [sorry, we cannot find the required site...]):

https://addons.mozilla.org/de/firefox/search-engines/

[2019-03-04 02:47] natmac21007 opened #7666 "Dead link"
### Describe the problem and steps to reproduce it:

I was updating a ticket (service-now) on a newly set up machine, and the inbuilt spell checker flagged a correctly spelled word (Australian) so I right clicked, languages, Add Dictionaries

### What happened? took me to a dead link

### What did you expect to happen? That I would be able to install the English (Australian) Dictionary or have a c

[2019-03-04 05:50] herrdeh opened #7667 "https://addons.mozilla.org/de/firefox/search-engines/ is dead end road"
### Describe the problem and steps to reproduce it:

I was about to look for a updated ebay search engine, had deleted the old one.
### What happened?
I was led to a "oops, we cannot find this page" page
### What did you expect to happen?
Hopefully add new search engines.
### Anything else we should know?
German version, this may matter...

This is where I came from:
![grafik](https://user-images.

[2019-03-04 08:04] AlexandraMoga commented on #7659
Thanks for the report. This is, however, a duplicate of https://github.com/mozilla/addons-frontend/issues/7658.

[2019-03-04 08:04] #7659 closed

[2019-03-04 08:07] AlexandraMoga commented on #7660
Thanks for the report. This is, however, a duplicate of https://github.com/mozilla/addons-frontend/issues/7658

[2019-03-04 08:07] #7660 closed

[2019-03-04 08:08] AlexandraMoga commented on #7661
Thanks for the report. This is, however, a duplicate of https://github.com/mozilla/addons-frontend/issues/7658

[2019-03-04 08:08] #7661 closed

[2019-03-04 08:08] EnTeQuAk commented on #7667
Interesting, a fix for this was released last Friday.

cc @muffinresearch @autrilla

Duplicate of (closed last Friday) https://github.com/mozilla/addons-frontend/issues/7652

[2019-03-04 08:08] AlexandraMoga commented on #7663
Thanks for the report. This is, however, a duplicate of https://github.com/mozilla/addons-frontend/issues/7658

[2019-03-04 08:08] #7663 closed

[2019-03-04 08:10] EnTeQuAk commented on #7667
This seems to only affect 2-char language codes.

[2019-03-04 08:16] AlexandraMoga commented on #7667
Ref https://github.com/mozilla/addons-frontend/issues/7664

[2019-03-04 08:17] AlexandraMoga commented on #7666
Thanks for the report. This  is, however, a duplicate of https://github.com/mozilla/addons-frontend/issues/7658

[2019-03-04 08:17] #7666 closed

[2019-03-04 09:35] willdurand commented on #7664
Thanks for the bug report, closing this one in favor of #7667.

[2019-03-04 09:35] #7664 closed

[2019-03-04 10:08] flodolo opened #7668 "In-product link to firefox/dictionaries is 404"
Stumbled upon https://bugzilla.mozilla.org/show_bug.cgi?id=1532208

In products we have links to firefox/dictionaries, and apparently this is broken. Looking at the code, I can't seem to find anything that would explain it.

[2019-03-04 10:12] willdurand commented on #7668
Hi, it's being tracked in #7658. We changed the nginx config last week and a few things haven't been ported correctly.

[2019-03-04 10:12] #7668 closed

[2019-03-04 10:18] AlexandraMoga commented on #7653
The layout issues is fixed both on the versions and addon details pages.

[2019-03-04 13:29] willdurand commented on #7667
cc @autrilla and @bqbn: we should update the fix that has been deployed last Friday

[2019-03-04 13:29] willdurand commented on #7658
cc @autrilla and @bqbn: this seems like an important issue as it comes from FF

[2019-03-04 13:31] autrilla commented on #7667
There is a PR for this already in cloudops-deployment. I'd say this can wait until next push, since it's P2?

[2019-03-04 13:32] willdurand commented on #7667
I am not sure because according to the OP, it looks like the link comes from FF too.

[2019-03-04 13:32] EnTeQuAk commented on #7667
This might very well be a p1-ish tbh, I only marked it as p2 to not make everyone cry on a Monday morning.

[2019-03-04 13:37] championshuttler opened #7702 "Wrong Link to Dictionary for Hindi Language"
### Describe the problem and steps to reproduce it:

Go to https://addons.mozilla.org/en-US/firefox/language-tools/

### What happened?

Check the Dictionary listed for Hindi Language, right now its Hiligaynon spell checker which is wrong

### What did you expect to happen?

Correct Dictionary for Hindi Language should be listed.

### Anything else we should know?

![image](https://user-images.git

[2019-03-04 15:24] herrdeh commented on #7667
Ok. Mine is 65.0.1 - so our beloved friends at ubuntu may be a bit slow.

[2019-03-04 15:26] willdurand commented on #7667
I also think it is a p1.

[2019-03-04 17:38] willdurand commented on #7667
We just deployed a fix to redirect to the right page. Sorry!

[2019-03-04 17:38] #7667 closed

[2019-03-04 17:40] willdurand commented on #7658
A fix has been deployed to add a redirect. Sorry for the inconvenience!

[2019-03-04 17:40] #7658 closed

[2019-03-04 17:47] kumar303 commented on #7667
This was fixed at the nginx level in https://github.com/mozilla-services/cloudops-deployment/pull/2983

[2019-03-04 17:48] MrKulrat opened #7670 "addons subwatch"
### Describe the problem and steps to reproduce it:

### What happened?
al tratar de instalar la extension de subwatch para firefox, la pagina de addons de firefox muestra que esta no existe

### What did you expect to happen?
poder instalar el addons de subwatch
### Anything else we should know?

https://sub.watch/extensions

[2019-03-04 17:54] jvillalobos commented on #7670
The page for this extension has been disabled. It's up to the developer to correct this or change the information on their website.

[2019-03-04 17:54] #7670 closed

[2019-03-04 19:33] ivanlan9 opened #7671 "Can't get doc on extension you removed, and can't get rid of it"
### Describe the problem and steps to reproduce it:
I tried to follow this link:  https://addons.mozilla.org/en-CA/firefox/addon/custom-tab-width/  and it gave me a 404. That means I cannot get info on it to try to help me uninstall this extension, WHICH YOU ARE NOT SHOWING AS INSTALLED.

Firefox does not admit that this extension is installed, but it is, and I CANNOT REMOVE IT UNLESS YOU ADMIT.

[2019-03-04 20:19] caitmuenster commented on #7671
Hi there, please see https://support.mozilla.org/en-US/kb/disable-or-remove-add-ons for guidance on how to remove an extension.

[2019-03-04 20:19] #7671 closed

[2019-03-04 20:24] ivanlan9 commented on #7671
Hi There, you didn't read my report. Please see the report for the reason that you shouldn't close it.

Because the plugin does not appear in my list of plugins, I CANNOT REMOVE THE PLUGIN.

I have no hope that anyone will read this. That's OK.  I will keep resubmitting until someone does.

[2019-03-04 20:31] caitmuenster commented on #7671
Hi, your report said that you were directed to a 404 page on AMO. We read these issues; please do not keep refiling.

You might want to [refresh your Firefox](https://support.mozilla.org/kb/refresh-firefox-reset-add-ons-and-settings) if you can't remove the add-on from the Add-on Manager, or ask for help on the [Firefox support forum](https://support.mozilla.org/).

[2019-03-04 21:03] kumar303 opened #7672 "View linter messages in the compare view for versions"
User story:

This will be similar to showing linter messages in the file viewer: https://github.com/mozilla/addons-code-manager/issues/41

Example from the current site:

<img width="1197" alt="screen shot 2019-03-04 at 3 00 03 pm" src="https://user-images.githubusercontent.com/55398/53762706-63abea80-3e8e-11e9-8ca7-8c6759dca071.png">