[2018-08-20 12:00] #5980 closed

[2018-08-20 12:35] ioanarusiczki opened #5988 "After expanding the description field and then some text is typed in, the "save collection" button still looks inactive"
STR:
1. Load AMO dev and go to your collections, the user must be logged in
2. Click a collection and and go to it's edit page
3. Click inside the Description field and expand it a bit vertically - using the right edge of the box
4. Write something in the description text field
5. Observe the "Save collection" button

Actual result:
Save collection button is displayed as being inactive - greyed ou

[2018-08-20 12:41] ioanarusiczki commented on #5627
Verified fixed on AMO dev with FF61(Win10)
![only vertical expansion](https://user-images.githubusercontent.com/33448286/44340989-4afa5b00-a48f-11e8-9410-017dbc367d3a.gif)

I filed a separate issue https://github.com/mozilla/addons-frontend/issues/5988 for what I've noticed while testing this one.

[2018-08-20 12:52] suhailsinghbains commented on #5988
Hi @ioanarusiczki
I'll check what's causing the issue.

[2018-08-20 14:03] ioanarusiczki commented on #5388
Verified fixed on AMO dev with FF61(Win10)
It sure looks way better now! Thanks @ShivangiKakkar

![sample one](https://user-images.githubusercontent.com/33448286/44345076-f2c95600-a49a-11e8-8971-28903bc15188.png)

![sample two](https://user-images.githubusercontent.com/33448286/44345087-fbba2780-a49a-11e8-81f4-c62fa27b66be.png)

[2018-08-20 14:41] ioanarusiczki commented on #3424
Verified fixed on AMO dev with FF61(Android 8.0)

![small screen - button is now visible](https://user-images.githubusercontent.com/33448286/44347362-44281400-a4a0-11e8-9353-347079f8fa3f.png)

[2018-08-20 17:08] bobsilverberg commented on #5723
@dev-drprasad I'm sorry I took so long to get back to you. I somehow didn't see the notification of this comment and only noticed it now.

You'll see we already have an action called [`UNLOAD_COLLECTION_BY_SLUG`](https://github.com/mozilla/addons-frontend/blob/41475137c7b45f6863309fe919d2f17b007ca8e3/src/amo/reducers/collections.js#L1306-L1316), so that's the logic we want to re-use in the case th

[2018-08-20 17:12] bobsilverberg commented on #5949
Each component defines whether to display an error and where and how that error is displayed. Any component that dispatches an API call should have the capacity to show an error from that API call, but there could be a number of components on a given page, each of which display their own error messages.

[2018-08-20 17:13] bobsilverberg commented on #5935
Re-pinging @diox about the question asked above at https://github.com/mozilla/addons-frontend/issues/5935#issuecomment-413524544.

[2018-08-20 17:44] bobsilverberg commented on #5986
I did some digging into this, and it looks like the `GET` call to `/api/v3/reviews/review/?addon={addonId}&show_grouped_ratings=true` which is issued after the `PATCH` call to `/api/v3/reviews/review/{addonId}` does not return the new information in `grouped_ratings`. It returns the old counts. A subsequent `GET` call (which is forced when the page is refreshed) does return the new data.

I notice

[2018-08-20 17:47] bobsilverberg commented on #5005
I think the question is still waiting to be discussed, although at this point my opinion is that we should just keep things as they are. I feared that this was a code smell, but it hasn't seemed to cause any issues for maintenance, nor result in any bugs, so taking the time to create two different actions seems unnecessary at this point.

@willdurand @kumar303 @rebmullin Does anyone have an opinio

[2018-08-20 18:03] willdurand commented on #5005
I am fine with keeping things as is.

[2018-08-20 18:52] bobsilverberg opened #5990 "Move logic for Collection Details card into its own component"
To support #5748, and further simplify the `Collection` component, move the logic that renders the details card (which can end up being either a `CollectionDetails` component or a `CollectionManager` component) into its own component.

[2018-08-20 19:59] higorrodrigues3443 opened #5991 "prouni"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-08-20 20:42] kumar303 commented on #5986
This appears to be a caching issue so we should try to fix it ASAP. We may need to check if any other endpoints have problems similar to this.

API bug: https://github.com/mozilla/addons-server/issues/9208

[2018-08-20 21:26] bobsilverberg commented on #5990
For QA: Please verify there are no regressions with the Collection Details page nor with editing the details of a collection.

[2018-08-20 21:35] bobsilverberg commented on #5986
This may be an unpopular opinion, but should we discuss how important it actually is to have this data be 100% accurate in real-time? If the purpose of this data is to allow users to get an idea of what other users think about an add-on, how much will the data not being updated immediately impact a user seeking that information? I would suggest this is almost a non-issue, especially if the only us

[2018-08-20 21:48] jvillalobos commented on #5991
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can as

[2018-08-20 21:48] #5991 closed

[2018-08-20 23:27] SeanPrashad commented on #4955
Just letting everyone know that this is still on my radar.. I've just had very little time to get a chance to sit down and work on it :(

[2018-08-20 23:33] devaneymoz opened #5993 "30 August homepage content update"
For the **30 August** push, please update homepage content programming to reflect details in this [doc](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @bobsilverberg

[2018-08-21 02:02] eviljeff commented on #5966
This should definitely be a server issue @jvillalobos.

I can't immediately see what's happened - if you look in the reviewer [tools](https://reviewers.addons.mozilla.org/en-GB/reviewers/review/greyscale-static) the wider preview (that's used for frontend search results) _is_ rendered, but the primary preview isn't.

[2018-08-21 09:56] eviljeff commented on #5966
@jvillalobos I can't replicate this on -dev or prod with the zip file from https://addons.mozilla.org/addon/greyscale-static/ or by using the theme wizard with the [same transparent png](https://addons.mozilla.org/en-GB/developers/addon/greyscale-static-test2/). (transparent gifs/pngs are used often for themes with additional backgrounds so shouldn't be a problem).

If you _can_ replicate with eit

[2018-08-21 09:56] #5966 closed

[2018-08-21 10:27] willdurand commented on #5958
Got it, thanks!

[2018-08-21 10:43] #1104 closed

[2018-08-21 11:01] willdurand commented on #5986
That's a major issue if users think the website is broken: it is a terrible UX.

I do agree that we might not need real-time data, at least not from the API. This could be fixed with an optimistic UI or a simple confirmation message, stating that the review has been taken into account (and will be reflected shortly after).

[2018-08-21 11:18] diox commented on #5935
Updating a featured collection should trigger a reindex of the add-ons in that collection, allowing clients to find them using the `featured` parameter. That should definitely happen asynchronously, but it shouldn't take more than a few minutes.

Not sure why it's not updating here. I guess it's a bug.

[2018-08-21 12:36] bobsilverberg commented on #5935
@ioanarusiczki Could you please verify how long it takes for changes to be reflected at https://addons-dev.allizom.org/en-US/firefox/search/?featured=true&type=statictheme%2Cpersona and then open an addons-server bug describing the issue?

[2018-08-21 14:15] Asadlerpwcom opened #5995 "Wunderlist plugin missing"
The link from the Wunderlist website to the extension is broken:

https://www.wunderlist.com/integrations/external/add_to_wunderlist_firefox

https://addons.mozilla.org/en-us/firefox/addon/add-to-wunderlist/

[2018-08-21 14:38] EnTeQuAk commented on #5995
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

I think it makes the most sense to contact the wunderlist authors directly and make them aware.

If you think this issue has been closed e

[2018-08-21 14:38] #5995 closed

[2018-08-21 14:58] willdurand commented on #5215
For QA: the website should work as intended in all environments.

[2018-08-21 15:47] rebmullin commented on #5005
hey @bobsilverberg, this seems fine to me too (to keep as is)

[2018-08-21 16:40] #5990 closed

[2018-08-21 16:52] kumar303 opened #5998 "Configure DismissibleTextForm with a formFooter"
`DismissibleTextForm` needs a `formFooter` for https://github.com/mozilla/addons-frontend/issues/5942

**For QA**: Please check for regressions where we already use this component:
- When editing or replying to a review on the add-on review listing page
- When leaving a note on a collection add-on

[2018-08-21 20:02] willdurand commented on #5205
This has been fixed in #5996

[2018-08-21 20:02] #5205 closed

[2018-08-21 20:26] jvillalobos commented on #5966
Uploading a new version using the XPI from devhub fixed the listing, so I don't know what failed the first time.

[2018-08-21 21:00] kumar303 opened #6001 "500 error page (in development) when add-on recommendation service is down"
### Describe the problem and steps to reproduce it:

- Do something in the recommendations saga to trigger [`abortFetchRecommendations()`](https://github.com/mozilla/addons-frontend/blob/4cbac1c586e49936e3a1327332e9d942d6b0e71e/src/amo/sagas/recommendations.js#L49). For example, if the API is down, the saga would abort with this error:

[code]
- Load any add-on detail page

### What happened?

A 5

[2018-08-21 21:50] dserodio opened #6002 "Why was "the fox only better" removed?"
### Describe the problem and steps to reproduce it:

I found references to "thefoxonlybetter" in my about:config. I Googled this term and found https://support.mozilla.org/en-US/questions/1036432 which links to https://addons.mozilla.org/en-US/firefox/addon/the-fox-only-better/

### What happened?

https://addons.mozilla.org/en-US/firefox/addon/the-fox-only-better/ states that "This add-on has bee

[2018-08-21 22:32] jvillalobos commented on #6002
The add-on was never blocklisted in Firefox, so whatever the reasons for disabling it were, they were not serious enough to warrant remote-disabling all instances. It might have been taken down for stability problems with future versions of Firefox, and the fact that it was abandoned by the developer (they announced it on their website).

`about:config` was used by extensions for storage purposes.

[2018-08-21 22:32] #6002 closed

[2018-08-22 07:33] AlexandraMoga commented on #5958
@willdurand I'm still reproducing this on -dev:
![image](https://user-images.githubusercontent.com/31961530/44449206-28368680-a5f6-11e8-8138-86cd39ae7349.png)

It looks fixed on stage though....
![image](https://user-images.githubusercontent.com/31961530/44449299-62078d00-a5f6-11e8-8a5f-4d98a7316688.png)

[2018-08-22 11:02] AlexandraMoga opened #6003 "Reviews count for the previous add-on are visible on the details page of an add-on opened from recommendations"
STR:

1. Load AMO stage
2. Select an add-on to view its details page
3. Scroll down to the recommendations section and select one of the recommended add-ons
4. Observe the Ratings card on top right

Actual result:
The reviews count and links from the previously visited add-on are displayed on the statistics card

Expected result:
Only the ratings pertaining to the current add-on are displayed on t

[2018-08-22 11:08] willdurand commented on #5958
I can't reproduce on -dev, but if -stage looks good, then I'd say it is fine!

[2018-08-22 11:20] AlexandraMoga opened #6005 "Disco pane Theme previews (lwt and static) are not responsive on Mac"
STR

1. Open your Firefox browser
2. Go to Discovery Pane
3. Resize the browser window

Actual result:
Theme previews, both leightweigt and static, are not responsive

Expected result:
Theme previews are responsive

Notes:
- reproduced on all AMO servers with FF61, macOs High Sierra 10.13.2

![image](https://user-images.githubusercontent.com/31961530/44460571-4c09c480-a616-11e8-94c2-e2bd8d198302.p

[2018-08-22 12:35] vcarciu opened #6006 ""Chose Photo" button from edit user profile is not working"
Steps to reproduce:
1.Login with some valid credentials
2.Go to Edit My Profile and press "Chose Photo" button

Expected results:
User is able to chose a photo for his profile

Actual results:
Nothing happens. No errors displayed in console

NOTES:
Not reproducible in Prod

Please see a video for this issue
![chosephoto](https://user-images.githubusercontent.com/1583842/44463609-f850a880-a620-11e8

[2018-08-22 13:08] diox opened #6007 "User profile pages return a 5xx if the username starts with a 0"
Copied over from https://github.com/mozilla/addons-server/issues/9137 which was filed by @bqbn :

### Describe the problem and steps to reproduce it:
Looking at our daily access logs, I'm surprised to see that 50% of the 5xx are caused by people access users' profile pages. For instance, on 8/10/2018 we had 173 5xx on one proxy instance, and 86 of them happened when people accessing `/<locale>/use

[2018-08-22 13:09] diox commented on #6007
@AlexandraMoga added in the original issue:

[2018-08-22 13:14] AlexandraMoga commented on #1104
@willdurand could you please add a "qa:not needed" label?
Thanks

[2018-08-22 13:30] AlexandraMoga commented on #5958
@willdurand have you verified on the -dev server with Windows?
I have several confirmations that the issue can be reproduced on -dev. I'd like to make sure that we are not overlooking something though.

[2018-08-22 14:43] aixtools opened #6009 "I was looking for a plugin calling itself "Safe Browsing", it has been disabled - too much info removed imho"
I loaded this plugin via addons.Mozilla.org

![image](https://user-images.githubusercontent.com/10852597/44470400-e0c9ed80-a629-11e8-9c7e-61aa8ce20d9e.png)

I expect that disabling it is the correct action - however, it would be good to leave name/icon so that others like myself can verify it has been disabled and that your recommendation, should it be installed, is to remove the plugin.

Now I am

[2018-08-22 14:44] ioanarusiczki commented on #5990
I verified collections - detail page and while editing - on AMO dev with FF61(Win10&Android 8.0)
No regressions found.

[2018-08-22 14:48] willdurand commented on #6007
[code]

[2018-08-22 14:58] willdurand commented on #6007
Because of the JS wtf above, parsing a string that is obviously not a number returns a number that is `0`. We do not accept `0` as a valid `userId` so we throw an error _via_ `invariant`, which is the cause of the 500.

Here is a fix:

[code]

[2018-08-22 15:00] willdurand commented on #6005
I think the issue is the `display:block` on `.addon.theme` for some reasons (at least without mozAddonManager).

[2018-08-22 15:01] jrbenny35 commented on #4594
The best way would be to run an integration test to test the docker image. But that wouldn't be super fast. Maybe its not an issue as the docker deploys aren't that important, at least per PR.

[2018-08-22 15:10] kumar303 opened #6010 "Warning: Encountered two children with the same key (in MetadataCard)"
There is a key problem with `MetadataCard`. Here is the full warning:

[code]

This may be causing https://github.com/mozilla/addons-frontend/issues/6003

[2018-08-22 15:28] MeridelW opened #6011 "Copy edits for star string in new ratings/reviews panel"
**Current string:** # star average

**Recommend shortening and capitalizing. Revised string:** # Stars

![stars string](https://user-images.githubusercontent.com/33848177/44473518-0c32e500-a5f6-11e8-9101-308cd3343ec4.png)

[2018-08-22 15:35] willdurand commented on #6010
That's because the `MetadataCard` used to expect string values for `title`, but now objects (`Link`) are passed. Flow does not catch it because we use this declaration:

[code]

I think the `metadata` flow type should be restricted to avoid such issues.

I think it is a bad habit to pass data of very different type in a single prop, so we could maybe add a new prop `link` or an extra prop `id` tha

[2018-08-22 15:36] willdurand commented on #6010
@kumar303 That's because the `MetadataCard` used to expect string values for `title`, but now objects (`Link`) are passed. Flow does not catch it because we use this declaration:

[code]

I think the `metadata` flow type should be restricted to avoid such issues.

I think it is a bad habit to pass data of very different type in a single prop, so we could maybe add a new prop `link` or an extra pro

[2018-08-22 15:45] pwalm commented on #4202
Closing this. The home page is going to have a bigger refresh in the not-too-distant future.

[2018-08-22 15:45] #4202 closed

[2018-08-22 15:47] kumar303 opened #6012 "Saga / Reducer for flashing messages about the inline review form"
There are two parts of the form for https://github.com/mozilla/addons-frontend/issues/5942 that are saved independently: the star rating and the review text. We need to temporarily show ("flash") messages about each action.

[2018-08-22 15:55] diox commented on #6007
In case anyone was wondering, it appears to be working fine for add-ons. See for instance https://addons-dev.allizom.org/en-US/firefox/addon/0180-telefonbuch/

[2018-08-22 16:00] kumar303 opened #6014 "Show loading indicator for rating stars"
We never implemented a loading indicator for rating stars when the add-on detail page loads. It could benefit from one. It's definitely needed for https://github.com/mozilla/addons-frontend/issues/5942 (a new inline review form) because the stars look jumpy when you save them.

**For QA**:

- Sign in and rate an add-on on the detail page by selecting its stars
- Refresh the page
- You should now s

[2018-08-22 17:03] bobsilverberg commented on #6010
@willdurand I think you make a good point, and this is something we should tackle, but we'd also like to get the fix for this bug into this week's tag, so I'm going to do a simple fix for now, and open a follow-up as a code quality bug.

[2018-08-22 17:10] jvillalobos opened #6016 "homepage"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-08-22 17:11] jvillalobos commented on #6016
Whoops.

[2018-08-22 17:11] #6016 closed

[2018-08-22 17:15] bobsilverberg opened #6017 "Improve Flow type for MetadataCard metadata prop"
Quoting @willdurand from https://github.com/mozilla/addons-frontend/issues/6010#issuecomment-415076439:

The `MetadataCard` used to expect string values for `title`, but now objects (`Link`) are passed. Flow does not catch it because we use this declaration:

[code]

I think the `metadata` flow type should be restricted to avoid such issues.

I think it is a bad habit to pass data of very differen

[2018-08-22 17:21] jvillalobos opened #6018 "Hero area in homepage is too tall for common screen resolutions"
Here's how the hero area looks in a 1280x720 viewport:
![screen shot 2018-08-22 at 11 15 16](https://user-images.githubusercontent.com/62568/44479111-dc3b1000-a5fc-11e8-84d7-5367b0a996e0.png)
So, even if the window is maximized, most of the AMO homepage real estate is being taken over by the hero area, which is also not very informative and has been shown to confuse some users.

@pwalm will be loo

[2018-08-22 17:27] SIMRAN1 commented on #2595
@willdurand I want to work on this issue. May I proceed?

[2018-08-22 17:34] bobsilverberg commented on #6011
@MeridelW @kumar303

How do we want to deal with pluralization for this?

I think the following are both correct to use "Stars":
- 1.3 Stars
- 2.5 Stars

But what about exactly 1?  Should it be "1 Stars" or "1 Star"?

[2018-08-22 17:44] willdurand commented on #2595
@SIMRAN1 yep

[2018-08-22 18:14] jvillalobos commented on #6009
If an add-on is considered unsafe, it is blocklisted by us, which means it is remote-disabled on all Firefox instances, and you get notified about the block. That doesn't seem to be the case here.

If just the add-on product page was disabled, then it's usually clear whether it was disabled by the developer or by Mozilla. Is this what you ran into?

[2018-08-22 18:29] willdurand commented on #5775
So, I think we can close this issue and mark it as wontfix.

The eslint rule in https://github.com/mozilla/eslint-plugin-amo#sort-destructured-props is not enabled by default (i.e. not part of the recommended rules), but still there if we ever want to re-open this issue. FTR, the eslint rule **automatically** fixes the code, there is not need to manually sort the props.

[2018-08-22 18:29] #5775 closed

[2018-08-22 18:31] willdurand commented on #4594
can't we just boot the image and `curl`+`grep` a specific string like ``?

[2018-08-22 18:41] #6003 closed

[2018-08-22 18:41] #6010 closed

[2018-08-22 18:48] kumar303 commented on #6003
This has been cherry-picked for the release https://github.com/mozilla/addons/blob/master/releases/2018/08/23.md

It should show up on dev and stage shortly.

[2018-08-22 18:48] jrbenny35 commented on #4594
We could do a _really_ simple selenium test, just checking the hero section is shown.

[2018-08-22 19:06] #6006 closed

[2018-08-22 19:19] willdurand commented on #4594
I'd like to have a smoke test, without any dependencies if possible, and super fast. The string I mentioned earlier is always present in the HTML, so that should be enough.

[2018-08-22 19:43] jrbenny35 commented on #4594
Well then that works!

[2018-08-22 20:50] kumar303 commented on #6007
@willdurand thanks, I think your strategy is the best one. Changing `getByUserId()` in the reducer to allow `0` as input only fixes the problem by way of a side effect.

[2018-08-22 21:01] kumar303 commented on #6007
<img width="219" alt="screenshot 2018-08-22 15 59 01" src="https://user-images.githubusercontent.com/55398/44490622-5df26400-a624-11e8-84d1-0db79e9a9949.png">

ZOMG this was the [intended behavior](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseInt#Description).

🕺 🌀

[2018-08-23 05:41] Moustachauve commented on #5262
If you are still looking for an alternative, I suggest you take a look at this extension that I made that is very similar to EditThisCookie

https://addons.mozilla.org/en-US/firefox/addon/cookie-editor/

[2018-08-23 07:51] willdurand commented on #6005
I can't reproduce anymore...

[2018-08-23 08:31] ioanarusiczki commented on #5935
@bobsilverberg So I'm closing this issue since I filed on server https://github.com/mozilla/addons-server/issues/9235
Problem is the changes are not reflected no matter how long I wait.

[2018-08-23 08:31] #5935 closed

[2018-08-23 08:42] AlexandraMoga commented on #5958
Verified fixed on -dev as well:

![image](https://user-images.githubusercontent.com/31961530/44514744-9435ef00-a6c9-11e8-8193-07029690f10f.png)

[2018-08-23 08:45] AlexandraMoga commented on #6005
I can't reproduce it either. The disco pane redeployment in -dev has fixed the problem.

[2018-08-23 08:45] #6005 closed

[2018-08-23 10:45] willdurand commented on #5940
Those tracking methods are used when the `mozAddonManager` is not available.

[2018-08-23 10:48] willdurand commented on #5940
I think those are sent already, as far as I can see.

You mean the "Enable" button? There is not tracking for that indeed, there is no constant yet.

This was never tracked IIRC, but this should probably be done.

Would you have a pref to set so that we can easily reproduce? In any case, a `INSTALL_ERROR` action is dispatched but there is no event sent, so we can find where this action is dispatch

[2018-08-23 10:49] AlexandraMoga commented on #6003
Verified fixed on stage with FF61, Win10x64

![correct reviews](https://user-images.githubusercontent.com/31961530/44521279-30b4bd00-a6db-11e8-95aa-c3f28d46d0c4.gif)

[2018-08-23 10:52] AlexandraMoga commented on #6010
Considering that #6003 looks fixed, I'm marking this as verified fixed as well.

[2018-08-23 10:59] AlexandraMoga opened #6027 "Install buttons on the disco pane are not responsive"
Follow up for #5887

STR:

1. Open your Firefox browser
2. Go to the Discovery Pane
3. Resize the window

Actual result:
Install buttons are not responsive

Expected result:
Install buttons should fit in the main frame

Notes:
- reproduced on AMO -dev with FF61, WIn10x64
- link to discopane - https://discovery.addons-dev.allizom.org/en-US/firefox/discovery/pane/61.0.2/WINNT/normal

![image](https:

[2018-08-23 11:40] hritvi commented on #6014
Hey @kumar303. Can I work on this issue? Thanks in advance :)

[2018-08-23 13:30] willdurand commented on #1316
I don't think this is valid anymore. We do not use `Provider` and inject props directly on the components, often using `shallowUntilTarget()` and a base component.

[2018-08-23 13:30] #1316 closed

[2018-08-23 13:36] willdurand commented on #2053
Actually, only the `Paginate` component takes a `LinkComponent` as prop. This `Paginate` is only used on amo, so I'd like to move `Paginate` to `src/amo/components` rather than implementing a too-smart `Link` component.

On a semi-related note, the `Link` component (amo) is used in the `Button` component (`src/ui/`), which is used in disco (the code path with the `Link` is not used though). That d

[2018-08-23 13:42] willdurand commented on #6027
I think one way to fix this issue is to hide the extension icon on small screens.

[2018-08-23 14:29] ioanarusiczki commented on #5215
We've completed the release testing on AMO stage with FF61(Win10&Android 8.0)
Test results are[ here](https://testrail.stage.mozaws.net/index.php?/plans/view/11950)

[2018-08-23 14:52] FatOrangutan opened #6030 "Turn the author name in the 'More extensions by` section into a link"
### Describe the problem and steps to reproduce it:

1. Be on an extension page from an author who has published other extensions too e.g. https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/
2. Scroll down to the bottom of the page, until the `More extensions by [author name]` (`..AddonsByAuthorsCard`) section shows up.

### What happened?
The author name isn't a link.
![screenshot_2018-

[2018-08-23 16:31] jvillalobos commented on #6030
Duplicate of https://github.com/mozilla/addons-frontend/issues/3771

We decided to only link the name in the page header.

[2018-08-23 16:31] #6030 closed

[2018-08-23 16:42] kumar303 opened #6032 "Simulate uncaught promise rejections"
We are currently running Node 8 where uncaught promise rejections show a warning. The process keeps running. In Node 11, uncaught promise rejections will cause the Node process to exit (see https://github.com/nodejs/node/issues/20392).

We should add an [error-simulation](https://github.com/mozilla/addons-frontend/tree/master/src/core/components/error-simulation) view to simulate this.

[2018-08-23 16:42] Muscogulus opened #6033 "Firefox add-on not found"
### Describe the problem and steps to reproduce it:

1. In Firefox, navigate to https://www.britannica.com/insights
2. Follow the link to install the Firefox add-on

### What happened?

Encountered a "Page not found" error at URL https://addons.mozilla.org/en-US/firefox/addon/britannica-insights/

### What did you expect to happen?

Expected to find a typical add-on page for the Britannica Insight

[2018-08-23 16:45] willdurand commented on #6032
We can probably listen to these events:

- https://nodejs.org/api/process.html#process_event_unhandledrejection
- https://nodejs.org/api/process.html#process_event_uncaughtexception

and log the error (highest level) + exiting properly.

[2018-08-23 16:50] kumar303 commented on #6032
For the simulation, we just need to trigger it. It's probably as easy as:

[code]

(but in its own component, of course)

[2018-08-23 16:51] championshuttler commented on #6033
Hi @Muscogulus, I think this addon is deleted by the creator. We can not do anything in this case.
I suggest you search for another addon for same functionality if it's available.

[2018-08-23 16:53] suhailsinghbains commented on #5929
Hi, I guess this issue has been resolved by the latest closed PR, otherwise would love to work on it.

[2018-08-23 16:55] willdurand commented on #5929
@suhailsinghbains I was not aware of this issue, you can give it a try but I'll probably try to fix it by next Tuesday :)

[2018-08-23 16:58] #5993 closed

[2018-08-23 17:00] suhailsinghbains commented on #5929
Okay, cool, I'll give this a try.

[2018-08-23 17:01] Muscogulus commented on #6033
The creator still provides a link. I will contact Britannica and ask whether they have killed the extension.

[2018-08-23 17:58] jvillalobos commented on #6033
It wasn't deleted, but it was temporarily taken down due to a code review issue. This will probably be corrected and the add-on will be back up.

[2018-08-23 17:58] #6033 closed

[2018-08-23 19:04] kumar303 commented on #6011
We need to let our localization tools handle pluralization. It will be different across locales but, yes, "1 Star" and "1.3 Stars" is grammatically correct for English. Since you're using `ngettext()` in the patch it will get the right localization 👍

[2018-08-23 19:08] #5956 closed

[2018-08-23 19:09] #2985 closed

[2018-08-23 20:55] #6007 closed

[2018-08-23 21:15] #6011 closed

[2018-08-23 22:31] jvillalobos opened #6037 "Include Mozilla collections in search results"
When search terms match the name or description of a Mozilla collection, they should appear on the search results. Maybe it should be a "Related collection" above the results list, limited to one result if there are many. We need to figure out how this will look.

/cc @MeridelW

[2018-08-23 22:34] jvillalobos opened #6038 "Hide Search Tool add-on type in search filter by default"
Regular searches on AMO shouldn't include Search Tool as a possible add-on type. This type should only appear on the filter if the user is searching for it in the first place (`type=search`). So, the only access points are Firefox settings and the AMO top navigation (More > Search Tools).

[2018-08-23 22:37] jvillalobos opened #6039 "Allow filtering search results by star rating"
We need a star rating filter for AMO search, so the results can be filtered to only add-ons with 4 stars or more, 3 stars or more, etc. Needs UX to determine if it should be a simple dropdown or something nicer-looking.

[2018-08-23 23:10] jvillalobos opened #6040 "Require setting display name for all developers (or all users)"
We need developers to set a proper display name, so we don't have developer accounts with a generic "Anonymous user" label. Ideally (for me), it would be best that we require the same for all users, since it's also weird to have reviews, collections, etc. with those names.

The MVP in this case would be to just require it for developers. So, during submission we would detect the developer doesn't

[2018-08-24 06:34] ShivangiKakkar commented on #6027
Hey @AlexandraMoga @willdurand
I would like to work on this issue.

[2018-08-24 08:12] willdurand commented on #6040
Can't we replace an empty display name by the username so that all users have a display name?

[2018-08-24 08:33] dessant opened #6042 "`<review-count> Reviews` is composed of two links"
![screenshot from 2018-08-24 11-22-49](https://user-images.githubusercontent.com/7513068/44573880-87c89980-a790-11e8-9c5d-813128471b5b.png)

Since both rows link to the reviews page, they should be merged into a single link. This would also avoid having to click on the first or second row to access the link, they could act as a single item, with the space between them being clickable.

[2018-08-24 10:56] willdurand commented on #5929
Looks like we only receive a `UNINSTALLING` event but no `UNINSTALLED` event after.

[2018-08-24 10:57] willdurand commented on #5929
After page reload, the status of the add-on is `DISABLED` and not `UNINSTALLED`.

[2018-08-24 10:58] willdurand commented on #5929
Oh I see, if you close `about:addon`, then the state becomes correct. I wonder why though, but I don't think this is a bug we can fix.

[2018-08-24 12:03] willdurand commented on #5929
ok so that is related to the undo feature in `about:addons`. It does not remove the add-on until the page is closed to allow a user to undo their action (thus re-installing the add-on).

[2018-08-24 12:06] willdurand commented on #5929
Here is a patch to allow re-installing the add-on _via_ the "Enable" button:

[code]

[2018-08-24 12:27] willdurand commented on #5929
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1477155#c1

[2018-08-24 12:31] willdurand commented on #5825
moving this issue to next milestone

[2018-08-24 12:36] ioanarusiczki commented on #6011
I verified this with FF61(Win10&Android 8.0) on AMO dev.
@bobsilverberg
I've noticed that no matter what language I test with the "Stars" is not translated but "Users" and "Reviews" are translated.

Example in Hungarian
![not translated](https://user-images.githubusercontent.com/33448286/44584988-6f1dab00-a7b3-11e8-99e6-97c28b1d7f0a.png)

[2018-08-24 12:38] willdurand commented on #6011
@ioanarusiczki isn't it that we did not get translations for this string yet? I have extract the locales today.

[2018-08-24 12:39] willdurand commented on #6027
@ShivangiKakkar please go ahead!

[2018-08-24 12:52] ioanarusiczki commented on #6011
@willdurand Should I be re-checking on Monday/Tuesday then?

[2018-08-24 12:53] willdurand commented on #5929
I found another to partially fix this issue.

[2018-08-24 13:28] bobsilverberg commented on #6011
@ioanarusiczki I think Will's correct. You could check again on Monday/Tuesday, but I suppose there's no guarantee that any translations will have been done by then either, as this is a brand new string.

[2018-08-24 13:31] willdurand commented on #6011
@ioanarusiczki you can try French: https://addons-dev.allizom.org/fr/firefox/addon/magic-birds/

[2018-08-24 13:50] AlexandraMoga commented on #6007
I have tried various scenarios with usernames starting with a `0` and I couldn't trigger an error any longer.

https://addons-dev.allizom.org/en-US/firefox/user/0ba123-_/ should load without any errors

The only way I could trigger a 5xx (I've got 500 and 504) was with a username having only `0s` - i.e. https://addons-dev.allizom.org/en-US/firefox/user/00000000000/
 I used Admin Tools to create th

[2018-08-24 14:04] willdurand commented on #6007
Yep, that was my main concern because `0` has a special meaning in JS.

[2018-08-24 14:13] ioanarusiczki commented on #6011
@bobsilverberg  I got confused reading Kumar's comment above. It's all good if translations will follow.

Verified fixed on AMO dev with FF61(Win10)

[2018-08-24 14:21] bobsilverberg opened #6050 "Remove the ability for an administrator to reply to a review"
**UPDATE:**

I have kept the original description below for context. This issue is now about removing the ability for a non-author to reply to a review.

This will be implemented on the front end by removing the link to reply unless the current user is one of the authors of the add-on.

---------------------------------------

As an admin user, I can reply to any review, even if I am not the autho

[2018-08-24 14:32] bobsilverberg commented on #6050
CCing @eviljeff to see if he has any ideas about whether this is something best addressed on the back end so the information (is it actually a developer reply, or is it an admin reply) can be provided in the reviews API response.

[2018-08-24 14:46] jvillalobos commented on #6040
mozilla/addons-server#8302 covers merging them, but still, the "Anonymous users" on AMO haven't set neither a username nor a display name.

[2018-08-24 14:51] jvillalobos commented on #6050
We never reply to reviews in an admin capacity, so I don't think this is worth implementing.

/cc @wagnerand, @kewisch in case they've ever had to do this.

[2018-08-24 14:53] bobsilverberg commented on #4529
I'm not sure how we should address this. We currently record ratings/reviews for a particular add-on version. Is this issue suggesting that we want to stop doing that, and only have one review per add-on per user (i.e., not one review per version)?

@jvillalobos @kumar303

[2018-08-24 14:55] bobsilverberg commented on #6050
@jvillalobos It's possible though, so it could be done (even if it isn't currently done). Should we consider removing the ability for non-developers to reply to a review?

[2018-08-24 14:56] bobsilverberg commented on #6050
By non-developers I mean "users who are not one of the authors of the add-on".

[2018-08-24 15:03] bobsilverberg commented on #3075
@jvillalobos Should a user be able to delete a review that has had a reply posted to it? I don't see why not, but I figured it was worth checking. Are there any other things we need to consider about deleting reviews?

[2018-08-24 15:05] eviljeff commented on #6050
The api allows anyone with `Addons:Edit` to reply to a rating (in addition to the addon developers)

[2018-08-24 15:06] bobsilverberg opened #6054 "Reducer/Saga/API code to delete a review"
To support #5495 and #3075, we need reducer/saga/api support for deleting a review.

[2018-08-24 15:10] eviljeff commented on #6050
`is_developer_reply` as implemented right now is really just `is_reply` (it's just checking there isn't an FK to another Rating).  Fixes:
a) add `is_reply` + change `is_developer_reply` to be correct.  (or maybe it return a constant for the type of reply)
b) drop the ability for non-addon-authors to reply to Ratings.  (What to do about existing replies, though?)

[2018-08-24 15:21] bobsilverberg opened #6055 "apiState should not be optional in api/reviews.js"
The flow type for `apiState` is defined as optional throughout the [api/reviews.js](https://github.com/mozilla/addons-frontend/blob/master/src/amo/api/reviews.js) file, but it really should be mandatory throughout. This issue is to fix that, and we should probably audit the flow types throughout the file to make sure there are no other issues as well.

[2018-08-24 15:56] #6014 closed

[2018-08-24 15:56] wagnerand commented on #6050
I agree with @jvillalobos. I have never done that.

[2018-08-24 16:26] jvillalobos commented on #6050
Removing the ability is fine with me. If there are replies that qualify, we should just drop them.

[2018-08-24 16:31] jvillalobos commented on #4529
That's what I think we should do, yes.

[2018-08-24 16:34] jvillalobos commented on #3075
Yes, it should be possible. And the reply should be deleted along with it.

[2018-08-24 16:38] willdurand commented on #1228
I don't think this issue is valid anymore.

[2018-08-24 16:38] #1228 closed

[2018-08-24 16:43] bobsilverberg commented on #3075
@eviljeff Does the DELETE API take care of this?

[2018-08-24 16:45] bobsilverberg commented on #4529
I think this will mostly need to be dealt with on the back end then, although our code will have to change to not submit/request a version any longer.

@diox What do you think?

[2018-08-24 16:55] bobsilverberg commented on #6050
That's certainly the easier solution, and I think we could get away with just removing the feature from the front end, and not worry about the fact that the API still supports administrators posting replies to other users' add-ons.

I am guessing that can be done on the back end via a query, although I'm not sure how simple that would be to do. @eviljeff Can you comment on that? If it seems like a

[2018-08-24 17:08] bobsilverberg commented on #3075
@diox When we delete a review via the API, do any replies to that review get deleted as well?

[2018-08-24 17:32] nabendu82 commented on #6055
Can you please check [6057](https://github.com/mozilla/addons-frontend/pull/6057)

[2018-08-24 17:46] jvillalobos opened #6058 "Don't repeat Summary on product page if there's no Description"
Add-ons can have a short Summary and a longer Description, both of which appear in the product page. If the Description is missing, we currently duplicate the Summary and show that in place of a Description. Instead of doing that, the Description section should not show up at all.

It looks like this was fixed for themes already, in https://github.com/mozilla/addons-frontend/issues/5364#issuecomme

[2018-08-24 17:53] #5748 closed

[2018-08-24 18:37] aixtools commented on #6009
My assumption is that Mozilla disabled it. As it advertised itself as a "safe" aka "private" browser mode - sending everything first to mps.eanswers.com is not very private. So, I also doubt the developer took it down. And, I do not recall receiving any notification about it.

Frightening actually - how easy it is to accept something that is not what it says. Glad it was relative benign - could ha

[2018-08-24 18:48] willdurand commented on #6055
thanks @nabendu82!

[2018-08-24 18:48] #6055 closed

[2018-08-24 18:54] willdurand opened #6059 "Cleanup errors/warnings when running `yarn disco`"
There are a lot of errors related to invalid props when starting disco locally. We should fix those errors. See #5860 for amo.

For QA:

- the install button should continue to work in -stage (which is not the same button as in -dev)
- the disco pane should work as intended in -dev (i.e. installing/removing add-ons with the mozAddonManager)

[2018-08-24 18:57] #6059 closed

[2018-08-24 19:51] #6012 closed

[2018-08-24 22:01] ShivangiKakkar commented on #6027
@willdurand , Thanks for assigning me this :)
Before starting I have this one question, how do I access discovery page locally?

[2018-08-25 02:25] suhailsinghbains commented on #5929
I saw the PR, understood a bit, that you added another state that is possible that it is INACTAIVE.

[2018-08-25 10:10] willdurand commented on #6027
@ShivangiKakkar you run `yarn disco` instead of `yarn amo:dev`.

[2018-08-25 14:02] vosk111 opened #6065 "Web Mirrors"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-08-25 14:42] ShivangiKakkar commented on #6027
Oh okay :)
Thanks!
@willdurand

[2018-08-25 22:55] SeanPrashad commented on #6065
Adding a description about your problem with Web Mirrors would help a lot ✌🏽

[2018-08-26 00:13] SeanPrashad commented on #6042
We would look to have the `Link` component wrap both the `reviewCount` and `reviewTitle` found here:

https://github.com/mozilla/addons-frontend/blob/eec3da26c8c09487d8e3b9e87a7243614c6b3260/src/amo/components/AddonMeta/index.js#L70-L72

Then we could pass an empty string for the `Metacard`'s `title` prop:

https://github.com/mozilla/addons-frontend/blob/eec3da26c8c09487d8e3b9e87a7243614c6b3260/sr

[2018-08-26 01:54] SeanPrashad commented on #6058
Hey @jvillalobos - I think we'll need to take a look here:

https://github.com/mozilla/addons-frontend/blob/eec3da26c8c09487d8e3b9e87a7243614c6b3260/src/amo/components/Addon/index.js#L274

Keep your 👀 peeled for a PR!

[2018-08-26 11:22] tsl143 opened #6070 "My reviews section includes developer replies too"
### Describe the problem and steps to reproduce it:
Login to AMO
Navigate to your profile(extension developer)
Say - https://addons.mozilla.org/en-US/firefox/user/trishulgoel/
Scroll to 'my reviews' section

### What happened?
'My reviews' section contains my developer replies along with my reviews.

### What did you expect to happen?
As section heading says 'my reviews', it should contain only th

[2018-08-26 15:09] xu3u4 commented on #5930
Hello,
May I take this bug?
Thanks.

[2018-08-27 06:25] AlexandraMoga commented on #5956
Could you please add STR or the label 'qa:not needed'?
Thanks

[2018-08-27 07:45] EnTeQuAk commented on #6065
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can as

[2018-08-27 07:45] #6065 closed

[2018-08-27 08:44] willdurand commented on #5956
added "qa:not needed"

[2018-08-27 08:45] willdurand commented on #6055
@AlexandraMoga the review feature should still work as intended (leaving a review, listing reviews)

[2018-08-27 08:46] willdurand commented on #5930
@xu3u4 sure!

[2018-08-27 08:47] willdurand commented on #6070
This section lists all your reviews, including your replies to reviews since we consider those replies to be reviews as well.

[2018-08-27 08:47] #6070 closed

[2018-08-27 09:26] ioanarusiczki opened #6072 "While another add-on is added to the list, "Leave a note" should be left editable"
STR:
1. Load AMO dev and go the Collection page click a collection made
2. Click the "Leave a note" button and write some text but don't save it yet
3. Make a search and add a theme/add-on to the list
4. Observe the note's text box

Actual result:
The button must be clicked again in order to edit the note and the previously typed in chars are no longer available.

Expected result:
The box is still

[2018-08-27 09:40] ioanarusiczki commented on #5998
I tested this on AMO dev with FF61(Win10 &Android 8.0)

    When leaving a note on a collection add-on

They work fine, I filed an issue https://github.com/mozilla/addons-frontend/issues/6072 for what I've noticed while testing but it's not a regression.

[2018-08-27 10:34] #6027 closed

[2018-08-27 12:15] ioanarusiczki commented on #5998
Making some more testing for https://github.com/mozilla/addons-frontend/issues/6055 I noticed an issue that is not reproducible on AMO stage right now and I filed it as a server issue here https://github.com/mozilla/addons-server/issues/9263 Could be a regression.

[2018-08-27 12:26] #4955 closed

[2018-08-27 12:43] #5879 closed

[2018-08-27 12:46] ioanarusiczki commented on #6055
Looks good to me. Verified fixed on AMO dev with FF61(Win10 and Android 8.0)
This was also tested for https://github.com/mozilla/addons-frontend/issues/5998. I noticed an issue that is not reproducible on AMO stage right now and I filed it as a server issue here mozilla/addons-server#9263 Could be a regression.

[2018-08-27 13:07] AlexandraMoga commented on #6027
Verified fixed on AMO -dev with FF61, WIn10x64

![image](https://user-images.githubusercontent.com/31961530/44661387-324fef00-aa13-11e8-9d29-8f4e356f71f5.png)

[2018-08-27 14:03] AlexandraMoga commented on #5700
Verified fixed on AMO -dev with FF61 Win10x64

![outgoing](https://user-images.githubusercontent.com/31961530/44664146-16e8e200-aa1b-11e8-80bb-38efc281f4b0.gif)

[2018-08-27 14:05] kumar303 commented on #6007
Yes, it is expected that a username with all zeroes will cause a 500 error. I don't think it's worth the effort to support that case because it's not possible to create a username like that.

[2018-08-27 14:16] bobsilverberg commented on #6072
It looks like we can keep the edit form open, even after an add-on is added to the collection, by changing `resetOnUnmount` to `false` [here](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/EditableCollectionAddon/index.js#L205) (or actually removing it because `false` is the default).

I'm not 100% clear on what all of the impacts of that will be. @willdurand can you com

[2018-08-27 14:25] #5851 closed

[2018-08-27 14:28] bobsilverberg commented on #6072
Ah, so I noticed an issue with using `resetOnUnmount: false` here. If we do that, then the "edit a note" text box will remain open for the add-on every time the Edit Collection screen is accessed, even for a different collection. I think we could address that by changing `extractId` in `EditableCollectionAddon` to include both the `addonId` and the `collectionId`, although currently the `EditableC

[2018-08-27 14:31] willdurand commented on #6072
I'd close this issue as wontfix, this part of the UI reloads entirely, so it is expected to loose the content in the note textarea. I doubt this is a use case, either users add new add-ons or leave comments. I don't think users will start leaving a note and then decide to add a new add-on.

[2018-08-27 14:46] ioanarusiczki commented on #5993
Verified the content as mentioned in the [doc](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#) on AMO dev with FF61(Win10&Android 8.0)
Full validation will be made on AMO prod

[2018-08-27 14:51] bobsilverberg commented on #6072
@willdurand So you don't think it's worth addressing just the closing of the text box by using `resetOnUnmount: false`? Isn't that why that option exists?

[2018-08-27 14:53] willdurand commented on #6072
I don't think it is worth fixing indeed.

`resetOnUnmount` is used when we want to mimick React `setState` behavior.

[2018-08-27 14:56] bobsilverberg commented on #6072
Fair enough. I do agree that the use case is quite edgy and unlikely to affect an average user.

[2018-08-27 14:56] #6072 closed

[2018-08-27 14:57] willdurand opened #6077 "Investigate potential issue with user profiles"
### Describe the problem and steps to reproduce it:

1. Browse https://addons-dev.allizom.org/en-US/firefox/user/00/
2. wait, wait, wait

### What happened?

Sometimes you get a 404 from disco pane (⚠️), sometimes a timeout.

### What did you expect to happen?

A `404` page from amo is displayed.

### Anything else we should know?

Likely related issue: https://github.com/mozilla/addons-frontend/i

[2018-08-27 14:58] ioanarusiczki commented on #4955
Verified fixed on AMO dev with FF61(Win10)
![text for rating](https://user-images.githubusercontent.com/33448286/44667218-d8efbc00-aa22-11e8-9d69-c30f32e9252b.gif)

[2018-08-27 15:00] jrbenny35 opened #6078 "Add node config file for ui-tests"
A new node config file for the ui-tests should be added to help with the fxa config and some routing.

[2018-08-27 15:01] jrbenny35 commented on #6078
Fixed in #6041

[2018-08-27 15:01] #6078 closed

[2018-08-27 15:08] willdurand commented on #2626
This is now invalid because of #6058 and https://github.com/mozilla/addons-frontend/issues/5364#issuecomment-404312967.

[2018-08-27 15:08] #2626 closed

[2018-08-27 15:48] kumar303 commented on #6042
Thanks for taking the time to file an issue. This was implemented as intended. It is possible to click both links and it's not necessary to make the space between them clickable.

[2018-08-27 15:48] #6042 closed

[2018-08-27 15:53] kumar303 commented on #4529
The backend API is designed for one review per version. We may be able to workaround this structure on the frontend, I'm not sure.

[2018-08-27 15:59] kumar303 commented on #4529
Related: we have some dead code that used to support the case of editing a review for a previous version. It no longer works and is not covered by any tests. https://codecov.io/gh/mozilla/addons-frontend/src/76640e28035b1581096b49ac6064cef37635ad4f/src/amo/components/RatingManager/index.js#L129

Fixing the code I pasted up above is not trivial. I'm just posting it here for reference.

[2018-08-27 16:00] bobsilverberg commented on #4529
I think it would be best to deal with it on the backend, which is why I pinged @diox. If we have to deal with it on the frontend we might be able to do that, but we should investigate a backend fix first, imo.

[2018-08-27 16:04] kumar303 commented on #4529
What I meant was that the backend and frontend may be able to change independently, i.e. the frontend may not need to wait for any backend changes here.

Going from one review *per version* to one review *per add-on* should be easy on the frontend since it's less granular. No API constraints will get in our way. We just have to update our query for fetching the existing review and we'll need to de

[2018-08-27 16:08] kumar303 opened #6079 "Remove dead code related to editing old reviews"
**For QA**: please make sure editing reviews for matching add-on versions still works.

At some point, it no longer became possible to edit a review that was submitted for an older add-on version. See https://github.com/mozilla/addons-frontend/issues/4529

The code for this is dead. It doesn't work and is [not tested](https://codecov.io/gh/mozilla/addons-frontend/src/76640e28035b1581096b49ac6064ce

[2018-08-27 17:11] #6054 closed

[2018-08-27 17:12] bobsilverberg commented on #6054
For QA: This code isn't exposed anywhere yet, as there's no UI to delete a review, but it did touch modules that do other things with reviews, so it's probably best to make sure there are no regressions with an review functionality.

[2018-08-27 17:14] bobsilverberg commented on #3075
@jvillalobos Should a user be able to delete their reply to a review?

[2018-08-27 17:36] Basketcasesoftware opened #6081 "Britannica Insights Firefox extension missing"
Go to the Encyclopedia Britannica web site. When the ad for the Firefox Extension "Britannica Insights" pops up click the link. Watch the error appear that it can't be found.

[2018-08-27 17:51] #6079 closed

[2018-08-27 18:00] rebmullin opened #6082 "When overlay is open to rate an addon, the stars styles are now above overlay"
### Describe the problem and steps to reproduce it:

got to an addon detail page and click on a star to rate.
You see stars above overlay

### What happened?

You see stars above overlay and even modal if screen is small enough:

![Alt text](https://monosnap.com/image/q5KwyuVk5KIOpotk4ECCp1RQbb4cGC.png)

### Anything else we should know?

It could be a regression from PR #6056 (maybe?) and somethi

[2018-08-27 18:01] rebmullin commented on #6082
This might be a good first time bug except probably want to fix pretty soon..

[2018-08-27 18:06] willdurand commented on #6082
I see that stars are above the overlay and the stars in the overlay card are gone because the padding left/right is huuuuge 😞

[2018-08-27 18:08] rebmullin commented on #6082
ohhh.. yeh these are the stars that are supposed to be *in* the modal..I see

[2018-08-27 18:15] rebmullin commented on #6082
okay so 2 issues here I guess:

stars in modal are missing from overlay (as you noted..b/c of padding)
stars in rating manager z-index (or other styles) are off

[2018-08-27 19:43] jvillalobos commented on #3075
Yes.

[2018-08-27 19:43] jvillalobos commented on #6081
The add-on was taken down due to a code review issue. It should come back up once that's resolved.

[2018-08-27 19:43] #6081 closed

[2018-08-27 20:28] #5924 closed

[2018-08-28 07:34] MyMammothTech opened #6087 "Missing Add-on"
I really really liked this adblocker add-on.  Any idea where it went?

https://addons.mozilla.org/en-US/firefox/addon/adblock-adblock/

![adblock](https://user-images.githubusercontent.com/42765315/44707673-07d55480-aa5a-11e8-8b98-3c25c9531de0.png)

[2018-08-28 08:08] #4244 closed

[2018-08-28 08:54] ioanarusiczki commented on #6014
Verified fixed on AMO dev with FF61(Win10&Android 8.0)
The loading indicator for the rated stars

![loading state for rated stars](https://user-images.githubusercontent.com/33448286/44712213-f5d6ce80-aab8-11e8-9e81-d80a0297cc1a.gif)

[2018-08-28 09:08] ioanarusiczki commented on #5924
Verified fixed on AMO dev with FF61(Win10&Android 8.0)
![ratings moved](https://user-images.githubusercontent.com/33448286/44713121-19027d80-aabb-11e8-8e78-5d458f2249ec.png)

[2018-08-28 09:43] willdurand opened #6088 "Add Flow coverage to `installAddon` HOC"
We should add Flow types to the `installAddon` file, which contains the HOC for managing add-ons.

[2018-08-28 09:44] #5929 closed

[2018-08-28 09:45] willdurand commented on #5929
For QA: that only works for add-ons that are extensions, it won't work for themes (static or lightweight).

[2018-08-28 09:48] ioanarusiczki commented on #5748
Verified fixed on AMO dev with FF61(Win10)

![new buttons](https://user-images.githubusercontent.com/33448286/44715495-9f6d8e00-aac0-11e8-8b74-76f71111779c.gif)

[2018-08-28 10:27] #2984 closed

[2018-08-28 11:57] ioanarusiczki commented on #5929
@willdurand I tested this issue on AMO dev with FF63 (Win10)
1. The add-ons detail page will only show the button "+Add to Firefox" after refreshing the page. Until then it remains in the loading state.  I will file a separate issue to track it.

![continuous loading state plus refresh works](https://user-images.githubusercontent.com/33448286/44721216-d8fac500-aad1-11e8-8f5b-0a35ef41de9e.gif)

2.I

[2018-08-28 12:13] willdurand commented on #5929
I forgot to mention that but there is nothing we can do for that.

Yep, sounds good. I won't have news anytime soon though.

[2018-08-28 12:50] Anutrix opened #6090 "Can't input values in popups on any site due to uninformed discontinued add-on."
### Describe the problem and steps to reproduce it:

### What happened?
Can't input values in popups on any site after installing Enable Right Click and Copy that was supposedly at https://addons.mozilla.org/mn/firefox/addon/enable-rightclick-and-copy/ .
### What did you expect to happen?
I expected no issues.
### Anything else we should know?
The addon seems to be removed now. Wish there was a no

[2018-08-28 12:53] ioanarusiczki opened #6091 "Button's state is "Enable" instead of "Add to Firefox" for lw themes and static themes"
This issue is waiting the fix of https://bugzilla.mozilla.org/show_bug.cgi?id=1477155#c1 and it's part of
Part of https://github.com/mozilla/addons-frontend/issues/5929

STR:
1.    Load AMO dev and go to a theme's detail page (lw or static)
2.    Click the "Add to Firefox" button
3.    Open a new tab and from add-on manager click the "Remove" button for the installed add-on
4.    Return to the the

[2018-08-28 13:01] ioanarusiczki commented on #5929
The page refresh will be needed then.
I filed another issue to track the themes for this scenario https://github.com/mozilla/addons-frontend/issues/6091
This is verified fixed on AMO -dev with FF63(Win10)

[2018-08-28 13:45] AlexandraMoga opened #6092 "Install button is aligned to the left when there is no summary available"
STR:

1. Open AMO -dev
2. Go to an add-on details page that does not have a summary or description - https://addons-dev.allizom.org/en-US/firefox/addon/green-winter/?src=hotness
3. Observe the position of the Install button

Actual result:
Install button is aligned to the left

Expected result:
Install button is aligned to the right

Notes:
- observed both for themes (lwt and static) and extension

[2018-08-28 14:07] AlexandraMoga opened #6093 "Star breakdown section is not updated after submitting a new review"
STR:

1. Log in to AMO -dev
2. Select an add-on to view its details page
3. Observe the current star breakdown
4. Submit a new review
5. Observe the star breakdown again

Actual result:
The star breakdown is not updated after a new review is submitted

Expected result:
Star breakdown is updated to reflect the new rating

Notes:
- reloading the page will not fix the issue
- reproduced on AMO -dev w

[2018-08-28 14:46] bobsilverberg commented on #6093
This seems like a duplicate of https://github.com/mozilla/addons-frontend/issues/5986. What do you think @AlexandraMoga / @kumar303 ?

[2018-08-28 14:51] AlexandraMoga commented on #6093
@bobsilverberg I have filed this as a separate issue because when #5968 was reported, the add-on details page was not affected, therefore I assumed that something was changed in between that caused/exposed this regression. It is possible that the root case is the same.

[2018-08-28 14:53] AlexandraMoga commented on #6079
Verified on AMO -dev with FF61, Win10x64 and Android 7.0

User reviews and developer replies can be edited when they are posted for a current listed add-on version.

[2018-08-28 14:56] AlexandraMoga commented on #6078
Please add a "qa:not needed" label to this issue.
Thank you

[2018-08-28 15:08] #6082 closed

[2018-08-28 15:10] championshuttler commented on #4987
Seems like its fixed. Can we close this issue ?
![hh](https://user-images.githubusercontent.com/22130317/44732256-84bc0900-ab02-11e8-83cb-3a5bd0e875ae.png)

[2018-08-28 15:11] ioanarusiczki commented on #4244
@willdurand I checked for both scenarios given by @kumar303 with FF61(win10) on AMO dev

First one works

![disabled add-on as seen by an admin](https://user-images.githubusercontent.com/33448286/44731959-043edd80-aaed-11e8-97f9-6f3627be56e7.png)

The second seems to be with problems - I could file a separate issue and close this one

I logged in with a developer account and made one of the add-on

[2018-08-28 15:12] championshuttler commented on #4987
On mobile
![screenshot_2018-08-28-20-41-39-905_com android chrome](https://user-images.githubusercontent.com/22130317/44732453-eda38100-ab02-11e8-8a73-7f82eb52598e.png)

[2018-08-28 15:20] willdurand commented on #4987
ah yeah, that's totally fixed. Thanks!

[2018-08-28 15:20] #4987 closed

[2018-08-28 15:27] willdurand commented on #4244
ah... yeah so an add-on marked as non-public is visible (status) but disabled (`is_disabled = true`).

@ioanarusiczki can you file an issue? I am about to fix it.

[2018-08-28 15:59] AlexandraMoga commented on #6082
Verified on AMO -dev with FF61, Win10x64 and Android 8.0

The stars are in the right place now:

![image](https://user-images.githubusercontent.com/31961530/44734310-44548f00-aaf2-11e8-8ab5-0e114647f78e.png)

![image](https://user-images.githubusercontent.com/31961530/44734323-4c143380-aaf2-11e8-8e8d-04a9d83b2231.png)

@rebmullin  The only difference observed between -dev and stage is that on -dev

[2018-08-28 16:04] willdurand commented on #6082
no problem with that

[2018-08-28 16:20] willdurand opened #6097 "Simplify SCSS imports"
It is super difficult to find the right imports all the time, so we end copy/pasting imports from another file and tweak them if that does not work. This leads to weird import statements in some files.

By having only one file to import, it makes things easier. Each SCSS file will now use **only one import**, one of:

[code]

In addition, no app-specific style should leak in `core` or another app.

[2018-08-28 16:28] #5940 closed

[2018-08-28 16:30] willdurand commented on #5940
For QA: you should see analytics events sent (or logged in the console) for:

- install
- uninstall
- enable
- install followed by cancel

There is NO event sent when something wrong happens (failure/error). I am not sure what we want to track yet, so it should probably be moved to a new issue.

[2018-08-28 17:32] jvillalobos commented on #6087
Either its URL was changed by the developer, or it was deleted. This repository is for code issues on the site, we can't help you find it.

[2018-08-28 17:32] #6087 closed

[2018-08-28 19:11] #6092 closed

[2018-08-28 19:53] #6097 closed

[2018-08-28 21:29] #5942 closed

[2018-08-28 21:30] kumar303 commented on #4290
This appears to be fixed as of https://github.com/mozilla/addons-frontend/issues/5942

[2018-08-28 21:30] #4290 closed

[2018-08-29 07:05] AlexandraMoga commented on #5940
Verified on AMO -dev (frontend and disco pane) with FF61, Win10x64

Here are some examples of events sent for the mentioned actions:

**Install add-on (ext, lwt, st):**

[code]

[code]

[code]

**Remove add-on:**
[code]

**Enable:**
[code]

**Cancelled installation** - tested with the `extensions.webextPermissionPrompts` = `true`
[code]

</br>

@willdurand regarding this comment, is there already

[2018-08-29 07:17] willdurand commented on #5940
can you please open one?

[2018-08-29 07:35] AlexandraMoga commented on #6059
Verified fixed on AMO -dev and stage with FF61, Win10x64

No regressions found with install buttons on either of the servers.

[2018-08-29 08:03] AlexandraMoga opened #6099 "There is no analytics event sent when a failure is received during installation"
Follow up for #5940

STR:
1. Open your Firefox browser
2. Go to about:config and set `xpinstall.signatures.dev-root` to `false`
3. Go to AMO -dev and open the browser console
4. Install an extension
5. Observe the analytics events sent

Actual result:
There is no event sent mentioning the installation failure

Expected result:
An event that reports the installation failure should be sent

Notes:
-

[2018-08-29 08:03] AlexandraMoga commented on #5940
Filed #6099

[2018-08-29 11:23] AlexandraMoga opened #6100 "User is not redirected to the Edit profile page after registering a new account"
STR:

1. Open AMO stage
2. Register a new user
3. After the account confirmation is processed, check the page you are redirected to

Actual result:
User lands on the page where the registration process started

Expected result:
User lands on the Edit profile page

Notes:
- reproduced only on stage and prod
- this was fixed already on -dev in https://github.com/mozilla/addons-frontend/issues/4376

[2018-08-29 11:37] cybernetwebdesign opened #6101 "This add-on has been disabled by the administrator."
{"detail":"You do not have permission to perform this action."}

Is my addon developer account banned?

I can't enter my developer account

[2018-08-29 13:14] ioanarusiczki commented on #4244
@willdurand It works now for the second scenario too

![invisible from devhub](https://user-images.githubusercontent.com/33448286/44789868-63acf400-aba6-11e8-9e38-b96e90078ce6.gif)

Verified fixed on AMO dev with FF61(Win10 & Android 8.0)

[2018-08-29 13:53] xu3u4 commented on #5930
Hmm...
I could produce the bug when I saw this issue.
Somehow, I cannot reproduce again.
@AlexandraMoga would you test if this bug can be reproduced on your side?

[2018-08-29 14:53] bobsilverberg commented on #5858
@pwalm I came across this as well when I was going to start working on adding the ability to delete a review from the User Profile screen. This list of reviews is near useless without any indication of what the add-on is, so I think we should address this sooner rather than later. Would you be able to come up with something for us to improve this screen?

[2018-08-29 14:56] bobsilverberg commented on #5858
For reference, here's what it looks like on the legacy site:

![screenshot 2018-08-29 10 55 27](https://user-images.githubusercontent.com/142755/44796038-1adf4600-ab7a-11e8-83e6-260bbead9ac6.png)

[2018-08-29 14:59] kumar303 opened #6102 "Reducers should not delete any object in state (this breaks the Redux devtool)"
**For QA**: please check for regressions in the following features:
- Delete a collection
- Delete your user account

<hr>

When a reducer handles a deletion action, sometimes it does so with `delete`:

[code]

This works for normal site usage but it breaks Redux time travel. You cannot go back in time to the previous state because all references to the old object have been removed. Going back in

[2018-08-29 15:10] kumar303 opened #6103 "Use ImmutableJS for Redux state"
**For QA**: please check for regressions on the following pages: *TBA*

The Redux pattern only fully works if the state object is 100% immutable. Usually we are pretty good about this and can catch mistakes in code review but mistakes still creep in (see https://github.com/mozilla/addons-frontend/issues/6102).

Let's remove the cognitive burden of looking for mistakes and just use ImmutableJS, whi

[2018-08-29 15:24] bobsilverberg commented on #2771
I feel like we discussed this when discussing what to include in the Q3 project, but I don't recall if we came up with any solutions. Is our goal to have a page for a single review, like on the legacy site, or is it to bring the user to the list of reviews for the add-on in question, with the linked review at the top (or anchored in some way)? If the latter there's an issue that a specific review

[2018-08-29 15:55] kumar303 commented on #2771
I think this would be the most useful view. When you click on a permalink for a review, you want to see the review but it would also be helpful to see a card underneath that of all other reviews. Rather than dealing with anchors, I say just put the permalinked review at the top in its own card.

[2018-08-29 16:04] kumar303 opened #6104 "Make user profile reviews look like add-on reviews (mostly)"
Make user profile reviews look identical to add-on reviews with a few exceptions:

* user profile replies will appear on their own, without the original review (~~and styled the same way, with a blue background, etc~~; see https://github.com/mozilla/addons-frontend/issues/5858#issuecomment-417794798 for styles)
* ~~user profile reviews need to indicate the add-on they are attached to~~ (this will

[2018-08-29 16:04] kumar303 commented on #5858
I would hold off on that because I think there is an easier way. See https://github.com/mozilla/addons-frontend/issues/6104

[2018-08-29 16:07] jrbenny35 commented on #5657
Should be fixed now with https://github.com/mozilla/addons-server/pull/9266

[2018-08-29 16:07] #5657 closed

[2018-08-29 16:40] kumar303 commented on #5495
I checked the backend and this is possible because the delete is not deleted from the database.

[2018-08-29 16:46] pwalm commented on #5495
Don't show deletion on the front end, but we need a way internally to know if something has been posted then deleted for looking into abuse/spam/etc issues.

[2018-08-29 17:45] jvillalobos commented on #6101
Please send an email to amo-admins AT mozilla DOT org and we'll help you there.

[2018-08-29 17:45] #6101 closed

[2018-08-29 18:16] bobsilverberg opened #6105 "Deleting a review does not update the number of reviews for the add-on"
~~Depends on #6084~~

STR:
1. Go to an add-on's detail page.
2. Create a review for the add-on.
3. Note the number of reviews the add-on has (in the upper right-hand card).
4. Click on the link to view all reviews for the add-on.
5. Observe the number of reviews shown in the header for the review listing. It should be (and is) the same number as observed in step 3.
6. Delete your review.
7. Observ

[2018-08-29 19:48] kumar303 commented on #6018
We should add some kind of A/B testing for this so we can know if it has an impact or not.

[2018-08-29 19:49] kumar303 commented on #6104
From the UX meeting today, @pwalm agrees 👍

[2018-08-29 19:49] kumar303 commented on #5495
This will be fixed by https://github.com/mozilla/addons-frontend/issues/6104

[2018-08-29 20:13] kumar303 commented on #6093
I refreshed after about 20 minutes and that fixed it. Thus, I think it's a duplicate of https://github.com/mozilla/addons-frontend/issues/5986

This wait time of 20 minutes is longer than before but I'm not sure if that's a dev issue or what. I will use https://github.com/mozilla/addons-frontend/issues/5986 to investigate what's going on here. It is definitely something we need to fix.

[2018-08-29 20:13] #6093 closed

[2018-08-29 20:29] kumar303 commented on #6093
Actually, I just timed it with a stopwatch. It took 7 minutes to update.

[2018-08-29 20:33] bobsilverberg commented on #6093
An actual stopwatch, or the stopwatch feature of your phone/computer?

[2018-08-29 20:46] kumar303 commented on #6105
Does it fix itself after a refresh? This looks similar to https://github.com/mozilla/addons-frontend/issues/5986

Note that dev is taking 7 minutes to show updated rating counts right now. https://github.com/mozilla/addons-server/issues/9293

[2018-08-29 20:50] kumar303 commented on #6093
The stopwatch app on my phone ☎️

[2018-08-29 21:13] #6102 closed

[2018-08-29 21:37] kumar303 commented on #6014
Hello @hritvi. Sorry but I missed your question until just now. The best way to find issues is to look through the [`contrib: welcome`](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome) label.

[2018-08-29 21:47] kumar303 commented on #6077
Weird. We should definitely make sure this does not have DOS implications.

[2018-08-29 22:37] jvillalobos commented on #6101
It's the email address I included above. Sorry if that wasn't clear.

[2018-08-29 22:51] cybernetwebdesign commented on #6101
Okay, do you mean amo-admins@mozilla.org?

[2018-08-30 05:56] AlexandraMoga commented on #5930
@xu3u4 I had another try and I can still reproduce the issue.

[2018-08-30 07:13] EnTeQuAk commented on #6101
Yes, that's correct.

[2018-08-30 11:27] ioanarusiczki commented on #4244
I'm adding that the message is also available for developers before the add-ons are auto-approved or approved by admins. Verified on AMO stage with FF61(Win10)

[2018-08-30 14:27] ioanarusiczki commented on #6054
Release testing is completed - no regressions found.
Verified fixed on AMO stage with FF61(Win10&android 8.0)

[2018-08-30 14:59] xu3u4 commented on #5930
Hi @AlexandraMoga,
Sorry, can you give me more details about how to reproduce it?
Thank you.

[2018-08-30 15:16] xu3u4 commented on #5930
Finally I can reproduce.

Let me give more details about how to reproduce.
1.  Log in to AMO
2. Go into a collection which has more than 25 add-ons
3. At `/collections/:username/:slug/`, refresh
4. Go to /collections by clicking the dropdown menu on the top right
5. Go back to the collection which you visited has 25+ addons
6. The pagination is disappear

[2018-08-30 15:36] #3075 closed

[2018-08-30 16:31] bobsilverberg commented on #6105
It does. I'm pretty sure it's a caching issue, rather than a timing issue.

[2018-08-30 17:50] kumar303 commented on #4935
This is going to keep happening for every Firefox release due to changes in the release engineering team. See https://github.com/mozilla/addons-server/issues/8180#issuecomment-417406841

I think we need to come up with a workaround.

Maybe we can just show a second banner (under the error) linking to the previous, compatible version of the XPI? In other words, a quick and dirty hack that fetches [

[2018-08-30 17:53] bobsilverberg commented on #6104
@pwalm Do we want user replies in the User Profile to appear with the blue background like replies on the Reviews Listing? I'm not sure that looks very good and am thinking that maybe they should just look like regular reviews, but with a heading that says "Developer response". Here's what the screen currently looks like, with the blue backgrounds, and I am suggesting we lose the blue background f

[2018-08-30 19:14] bobsilverberg opened #6111 "Possible ReDOS through React and other packages"
I notice our `synk-ci` step has been [failing](https://travis-ci.org/mozilla/addons-frontend/jobs/422703254) for the past few merges. The error from the log says:

[code]

but this is odd because our package.json file [specifies version 0.7.18](https://github.com/mozilla/addons-frontend/blob/2018.08.28/package.json#L230) of `ua-parser-js, which is the latest version.

If I run `npm list ua-parser-

[2018-08-30 19:41] bobsilverberg commented on #5858
@kumar303 While working on #6104 I noticed that the only information we have about the add-on that corresponds to a review is the `addonId` and `slug`. I guess we'll need to add some more info into [`UserReviewType`](https://github.com/mozilla/addons-frontend/blob/2018.08.28/src/amo/actions/reviews.js#L45) (such as `name` and/or `iconUrl`) to support this (once we decide how it's going to look). D

[2018-08-30 20:01] bobsilverberg commented on #6100
A similar issue, #4376, was dealt with via a patch for addons-server (https://github.com/mozilla/addons-server/pull/8297), so I've opened a similar one at https://github.com/mozilla/addons-server/pull/9311, but it could be that more than that should be done at this time. If that's the case we might want to re-file this on addons-server.

[2018-08-30 20:05] bobsilverberg commented on #6099
Quoting @willdurand from #5940:

[2018-08-30 20:20] bobsilverberg commented on #6018
I agree that's a good idea. Can we get some requirements for how we should scale down the hero area, and also exactly what we want to test?

[2018-08-30 20:36] bobsilverberg commented on #5988
@ioanarusiczki I cannot reproduce this on OS X. I wonder if it's a Windows quirk. It sounds like the browser is not sending the expected events from the textbox after it has been expanded. Are you able to check on a different OS?

[2018-08-30 20:38] bobsilverberg commented on #5949
I'm just wondering if and how we want to proceed with this. It sounds like a large and somewhat vague issue, so do we want to break it up into manageable pieces?

@EnTeQuAk @kumar303 @muffinresearch

[2018-08-30 20:43] bobsilverberg commented on #5908
@ioanarusiczki As with #5988, I am not able to reproduce this on OS X. A few changes have landed to the Edit Collection screen, which might have fixed this, but I'm doubtful of that. Can you please check again, and, if possible, see if the issue only exists on Windows?

[2018-08-30 20:55] bobsilverberg commented on #5891
The call to fetch the grouped ratings is failing with a 403 error. That doesn't seem like it should be the case, but I'm not sure how this all should work for a disabled/unapproved add-on.

@EnTeQuAk is it expected that a call to `/api/v3/reviews/review/?addon=495711&show_grouped_ratings=true` (which is for a disabled add-on, on dev) would return a 403? It seems that we are able to return the deta

[2018-08-30 21:32] bobsilverberg commented on #5679
@jvillalobos So should we open a new issue about not showing the drop-down menu to allow more flagging if the user has flagged a review already, or should we just close this and leave it as it is?

[2018-08-30 21:35] bobsilverberg commented on #5472
This has been open for nearly 2 months without much activity or investigation. @ioanarusiczki have you seen this behaviour again since then? Can you see if it's still reproducible?

[2018-08-30 21:35] bobsilverberg commented on #5260
Closing this as no info has been provided.

[2018-08-30 21:35] #5260 closed

[2018-08-30 23:33] suhailsinghbains commented on #5988
@bobsilverberg I have Arch Linux still get the same result as the short video attached above. And my browser is Firefox Dev Edition.

[2018-08-31 00:18] suhailsinghbains commented on #5941
Hi, would love to work on this bug.
Are you talking about the showing a Notice from Notice component.

[2018-08-31 08:27] eviljeff commented on #6040
@jvillalobos if you want this can you file an issue on addons-server because it'll be in devhub.  Though IMO it doesn't make sense to implement in devhub _and_ in frontend.

[2018-08-31 10:49] championshuttler commented on #2056
Can i take this up? ;)

[2018-08-31 11:31] bobsilverberg commented on #5949
I suppose we could watch the value of the `X-AMO-Read-Only` header and set a redux state to let the app know whether we're in read-only mode or not. It would still be a significant amount of work to respond to that, enabling and disabling features as a result.

[2018-08-31 11:46] EnTeQuAk commented on #5949
I think this could be tackled in different steps. Most importantly would be to always catch that 503 error and show a proper warning to the user. Next step would be to watch the header you mentioned and show a warning in case we are in read-only mode.

And once that's done, I'd guess and if there's time we could talk about disabling actual features imho. In the past, AMO never disabled anything bu

[2018-08-31 13:45] Anutrix commented on #6090
One possible solution is that we could add an option in settings that would allow users to choose default/current behaviour or trigger rightclick regardless even if dragged.

[2018-08-31 14:12] ioanarusiczki commented on #6102
I tested for regressions on AMO dev with FF61 (Win10&Android8.0)

   Delete your user account
Delete works for both.

[2018-08-31 14:17] AlexandraMoga commented on #6092
Verified fixed on AMO dev with FF61, Win10x64 and Android 8.0

![image](https://user-images.githubusercontent.com/31961530/44917581-6d1e9380-ad41-11e8-9379-495cc6a4a623.png)

![image](https://user-images.githubusercontent.com/31961530/44917588-73ad0b00-ad41-11e8-9605-dbf57257ab44.png)

[2018-08-31 14:28] AlexandraMoga commented on #4290
Verified fixed on  stage with FF61, Win10x64

![instant review](https://user-images.githubusercontent.com/31961530/44918281-2a5dbb00-ad43-11e8-9890-edcf8ab225d8.gif)

[2018-08-31 14:34] kumar303 commented on #5527
We need to do this. Today, when new features land in the API they have to be *backported* to v3 if we want to use them. This is unsustainable.

The v4 changelog is a fairly small list: https://addons-server.readthedocs.io/en/latest/topics/api/overview.html#v4-api-changelog

We should implement the ability to downgrade a single endpoint to v3 in case any hard to fix bug comes up.

Also, related: ht

[2018-08-31 14:38] bobsilverberg commented on #6090
This is the issue tracker for the addons.mozilla.org (AMO) web site, but your issue sounds like it's with a particular (although already removed) add-on.

[2018-08-31 14:38] #6090 closed

[2018-08-31 15:00] ioanarusiczki opened #6112 "Delete my review and Delete my reply are not aligned with the other buttons"
STR:
1. Load AMO dev and go to the listed review page.
2. View the "Delete my review" button of your own review made for that add-on/theme.

Actual result:
The button is not aligned with "edit my review" and "flag".

Expected result:
All 3 buttons are aligned.

Notes:
This issue is also reproducible with Delete my reply - for a developer reply.
This is reproducible on AMO dev with FF61 (Win10&Andr

[2018-08-31 15:13] jvillalobos commented on #6040
My preference is that we do this for all users, so we should first decide whether that's a viable solution. If not, then I agree that this should only be a change in devhub and strictly and add-ons server issue.

[2018-08-31 15:18] ioanarusiczki opened #6113 ""Deleting my reply" button is not correctly displayed when the developer deletes and writes a new reply"
STR:
1. Load AMO dev and as a developer reply to a review on the listed review page
2. Delete the reply and and click reply to this review
3. Write a reply again and click publish reply
4. Observe the "Delete my reply" button

Actual result:
Button is inactive and is visible as "Delete..."

Expected result:
Delete my reply button is blue and active

Notes:
This issue is reproducible on AMO dev wit

[2018-08-31 15:26] jvillalobos commented on #5679
Yes, I think there should be a separate issue to remove the dropdown, and this one can be closed.

[2018-08-31 15:42] bobsilverberg commented on #6113
I figured it out. There was a logic flaw in `unloadAddonReviews`. I'll fix it right away.

[2018-08-31 16:03] muffinresearch commented on #5949
We really need to ability to define page level errors to support this e.g. if a critical API request results in a 503 we should know to show a whole-page 503 error page. @bobsilverberg I don't think we can currently do that yet can we?

The (possibly easier) alternative for the frontend would be to have ops send the 503 at the nginx level. In addition to this we also need sort out a decent looking

[2018-08-31 16:05] bobsilverberg commented on #6112
I couldn't reproduce this locally on OS X with Firefox, but I can reproduce it with Chrome, so I guess there's something in the style that only works on Firefox on OS X. I'll need to experiment in Chrome to see if I can get it looking correct.

[2018-08-31 16:35] bobsilverberg commented on #5949
I don't believe so, as @kumar303 mentioned at https://github.com/mozilla/addons-frontend/issues/5949#issuecomment-413212301.

I wonder if, as a first step, we could adjust our ErrorHandler to catch these specific errors and generate a more friendly version to explain why the API request failed? We'd still be showing that error in a specific spot on the page, as we do with many of our components, b

[2018-08-31 17:11] jvillalobos commented on #6018
Here's a proposal that cuts the height in half:
![screen shot 2018-08-31 at 11 03 44](https://user-images.githubusercontent.com/62568/44926120-a89f6a80-ad0d-11e8-9e87-194f690e2284.png)
All I did was reduce the `min-height` of the `.HeroSection-link-wrapper` to 50px, and the font size to 18px, for the panels on the right. @pwalm, what do you think? Anything else that should be changed for font and

[2018-08-31 21:10] pwalm commented on #6104
Is this a response to a developer response?

[2018-08-31 21:26] atsay opened #6117 "No add-ons shown when filtering by ALL on search page"
### Describe the problem and steps to reproduce it:

On https://addons.mozilla.org/firefox/search/, when you sort Add-on Type and Operating System by ALL and uncheck Featured Add-ons Only, we return 0 searches.

### What did you expect to happen?

I expect to see all add-ons available on AMO, not 0 add-ons. So it seems we need a way to handle the situation where there is no query string.

![Imgur]

[2018-08-31 21:31] pwalm commented on #6104
Proposed adjustments:
<img width="1308" alt="screen shot 2018-08-31 at 2 30 58 pm" src="https://user-images.githubusercontent.com/6797635/44936679-8b2cc980-ad2a-11e8-8e3f-13f7d49110be.png">

[2018-08-31 21:33] pwalm commented on #5858
Proposed adjustments:
<img width="1308" alt="screen shot 2018-08-31 at 2 30 58 pm" src="https://user-images.githubusercontent.com/6797635/44936750-cf1fce80-ad2a-11e8-9443-8b86505fcdd0.png">

[2018-08-31 21:43] pwalm commented on #2771
Proposed change: The permalink to the review is a page with the review broken out up top into its own block, with all others below for context.
<img width="1482" alt="screen shot 2018-08-31 at 2 41 45 pm" src="https://user-images.githubusercontent.com/6797635/44937009-08a50980-ad2c-11e8-9821-bb27a249b107.png">

[2018-08-31 23:01] pwalm commented on #6018
Hero area proposal:
<img width="988" alt="screen shot 2018-08-31 at 4 00 12 pm" src="https://user-images.githubusercontent.com/6797635/44939002-fe3c3d00-ad36-11e8-90e2-763e05bd1447.png">

Each block would lead to an editorial article talking about what each kind of extension does, why you might need one, and a selection of 3-5 extensions to seal the deal.

[2018-09-02 11:00] icl7126 opened #6118 "The links to see a user profile are not working anymore"
### Describe the problem and steps to reproduce it:
1) go to the page:
https://addons.mozilla.org/en-US/developers/addons
2) In the section "Recent Activity", you can see when somebody writes a review or adds your add-on to his collection. Click the user name, for example:
https://addons.mozilla.org/en-US/firefox/user/aASHrie/
### What happened?
It shows only "Page not found"
### What did you expe

[2018-09-03 11:01] diox commented on #4935
Once https://github.com/mozilla/addons-server/issues/8180 lands **the only thing needed on the frontend will be to send `app` and `appversion` parameters when doing a detail API request**. Then, *only for langpacks*, the API will overwrite `current_version` in the result, returning the latest compatible public version according to the parameters passed.

[2018-09-03 12:00] AlexandraMoga opened #6120 "Number of written reviews is not incremented after a new review submission"
STR:

1. Log in to AMO -dev
2. Go to an add-on details page
3. Click on a star to rate the add-on
4. Write some text in the review form
5. Note the number of written reviews available at the moment
6. Submit your review

Actual result:
The number of reviews is not incremented after the review is submitted

Expected result:
Number of reviews is incremented instantly when a new written review is sub

[2018-09-03 12:01] AlexandraMoga opened #6121 "Review text is not saved when the user comes back to the details page after opening the Review guide link"
STR:

1. Log in to AMO -dev
2. Go to an add-on details page
3. Click on a star to rate the add-on
4. Write some text in the review form
5. Click on the Review guide link
5. Go back to the add-on details page

Actual result:
The review entered before accessing the Review guide is no longer present

Expected result:
The written review should be there when the user returns on the add-on details page

[2018-09-03 12:03] AlexandraMoga commented on #5942
Verified on AMO -dev with FF61 and Android 8.0

The current functionality is:
- rating is saved when a star is selected
- the review form is opened when a star is selected
- a different star rating can be selected and saved inside the review form
- a review can be written inside the the new textbox
- the review form can be dismissed by clicking on the "Nevermind, ...." button

@kumar303 I have two

[2018-09-03 14:53] ioanarusiczki commented on #5825
I verified this with the steps given by @muffinresearch  Chrome - Version 68.0.3440.106

on AMO dev - I did not receive the css error, page loaded without problems

![amo dev](https://user-images.githubusercontent.com/33448286/44993115-1794f180-afa2-11e8-880c-5a9c4ddcd254.png)

this is  AMO prod - the error is there. Means it's fixed now.

![amo prod](https://user-images.githubusercontent.com/3344

[2018-09-03 15:17] jvillalobos commented on #6018
@pwalm This is for the Q4 work, right? The question was for an A/B test we want run this quarter so we can make a more immediate improvement.

[2018-09-04 11:00] AlexandraMoga opened #6125 "Logged out users still appear logged in when navigating out of and back into AMO frontend"
STR:

1. Load AMO - https://addons.mozilla.org/en-US/firefox/
2. Log in
3. Log out
4. Click on Developer Hub in the header
5. Go back to AMO

Actual result:
The user still appears to be logged in. Navigation through pages that require a logged in state is possible (see user collections page)

Expected result:
User is logged out

Notes:
- I've checked this scenario with a clean profile and the issu

[2018-09-04 12:05] bobsilverberg commented on #5679
Rather than closing this and opening another, let's just re-purpose this issue.

This is now about not showing the "Flag" menu if the review has already been flagged by the user.

[2018-09-04 12:28] bobsilverberg commented on #6125
I've been able to reproduce this locally, and it seems like a pretty important bug to fix, so I've made it a P2. I don't necessarily expect it to make it into this week's tag, but aiming to fix it before next week's push seems like a good idea.

Thanks for catching it @AlexandraMoga!

[2018-09-04 13:35] bobsilverberg opened #6129 "nl2br utility function does not convert newlines to br tags if the newline is the only thing between two tags"
This replaces https://github.com/mozilla/addons-server/issues/9007, which can be referenced for more details, but the bottom line is that given text like this:

[code]

`nl2br` will not add a `<br />` tag added between the `<strong>` tag and the `<a>` tag, whereas given:
[code]

`nl2br` will add a `<br />` tag added between the `<strong>` tag and the "Some text" text.

I'm not sure if there are va

[2018-09-04 14:11] willdurand commented on #6129
Please see: https://github.com/mozilla/addons-frontend/pull/5526 (there should not be `<br>` between html tags)

[2018-09-04 14:14] bobsilverberg commented on #6129
I'm not sure that's valid here. The problem isn't that we want a `<br />` *inside* a tag (i.e., between an `<a>` and an `</a>`), but rather we want it between the end of one tag and the beginning of another (i.e., between an `</strong>` and an `<a>`). Is the latter not valid?

[2018-09-04 14:17] bobsilverberg commented on #5858
Thanks @pwalm! Just to confirm, you do not want to show the relative date (i.e., "2 hours ago)) for a Developer response, and only for a review? Or was that accidentally left out of the mock above?

[2018-09-04 14:24] bobsilverberg opened #6130 "Add more add-on info to UserReviewType"
We're going to need more add-on fields in `UserReviewType` to support #5858, and we're also going to need access to the `addon` object to support #6104 after #6108 lands, so I think the easiest thing to do would be to include `addon` in `UserReviewType`.

I'm not sure if that might introduce caching issues, though, but I suppose we could have the same issues even if we just store the `name` and `i

[2018-09-04 14:31] bobsilverberg commented on #6130
Looking at this some more, I think maybe it's better to just store the data we need, and deal with the issue caused by #6108 in a different way. I might just make some changes to #6108 before it lands to address this.

[2018-09-04 14:39] pwalm commented on #5858
Accidentally left out! Good catch, please show the relative date with dev responses too. Sorry!

[2018-09-04 14:53] kumar303 opened #6131 "Resolve ReDOS Snyk issues"
We have some Snyk errors https://travis-ci.org/mozilla/addons-frontend/jobs/423693669

We either need to ignore them or upgrade the packages.

Instructions: https://github.com/mozilla/addons-frontend/#snyk

[2018-09-04 14:57] kumar303 commented on #6131
Oops, duplicate of https://github.com/mozilla/addons-frontend/issues/6111

[2018-09-04 14:57] #6131 closed

[2018-09-04 14:57] kumar303 commented on #6111
Here are instructions for how to fix Snyk errors: https://github.com/mozilla/addons-frontend/#snyk

[2018-09-04 15:07] kumar303 commented on #6111
We should try to get this fixed ASAP since this exposes us to a publicized DOS scenario. If we can figure out exactly where React does UA parsing and know that it's not exposed by our app then we could lower the priority. For now, let's assume our app exposes that capability.

[2018-09-04 15:33] bobsilverberg commented on #6111
I cannot seem to fix this myself by explicity requiring a version of `fbjs` in `package.json`, so it looks like this might need to be fixed upstream. I've opened https://github.com/facebook/react/issues/13557.

[2018-09-04 15:36] gaearon commented on #6111
There's no vulnerability on the React side. This module is unused by React.

[2018-09-04 15:37] #6112 closed

[2018-09-04 15:41] bobsilverberg commented on #6111
I gather we can assume from the above that we don't need to worry about this warning, but it would be nice to be able to get rid of the Snyk warnings as well. I'm not sure if we can do that, but I'll look into it.

[2018-09-04 15:41] gaearon commented on #6111
By the way, you can use [Yarn resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) to force transitive dependencies to be of certain versions. But again, React is not affected by this so it would more of a formality.

[2018-09-04 15:51] bobsilverberg commented on #6111
Thanks @gaearon, that worked beautifully.

[2018-09-04 16:33] #6111 closed

[2018-09-04 16:36] bobsilverberg opened #6133 "Remove resolution from package.json for fbjs when possible"
We added [a resolution](https://github.com/mozilla/addons-frontend/blob/693719efd14d2b43ca41168876941854eb8ab592/package.json#L327) to `package.json` for `fbjs` to deal with a [vulnerability warning](https://github.com/mozilla/addons-frontend/issues/6111). We've been told that `fbjs` will be removed as a dependency of `react` in the next release, at which point we can (and possibly must) remove th

[2018-09-04 16:47] bobsilverberg commented on #6130
Closing this as I think there's a better approach.

[2018-09-04 17:04] bobsilverberg commented on #6130
I'm re-opening this because I think we may have to do this, or if not this then we need to figure out how to solve the issue.

Based on the mockup at https://github.com/mozilla/addons-frontend/issues/5858#issuecomment-417794798, we need the add-on's name and icon for each review on the review listing on the User Profile page.

The API that returns this data to us only provides the add-on's `id` an

[2018-09-04 19:47] bobsilverberg commented on #2771
Thanks @pwalm! One question, and maybe this is for @MeridelW, the header currently says "My Review", but this could be a review written by someone else. A user doesn't even need to be logged in in order to see this page.

What do we think would be a good header for the upper review card if this is not a review written by the current user?

[2018-09-04 19:49] jvillalobos opened #6136 "Android users visiting `/firefox/` pages get enabled Install buttons"
This might be a duplicate, but I couldn't find it. It came up again in [this Discourse thread](https://discourse.mozilla.org/t/amo-allowing-mobile-installation-when-it-is-not-marked-as-compatible/).

The problem is that Android users may end up on a `/firefox/` link on AMO because that's how it's generally linked to online. When a `/firefox/` page is visited on Android, the Install button is enabl

[2018-09-04 20:24] devaneymoz opened #6137 "Homepage content update 13 Septmber"
For the **13 September** push, please update homepage programming in accord with details outlined [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @bobsilverberg

[2018-09-05 00:18] rebmullin opened #6139 "Sometimes webpack does not reload/recompile after getting an error"
### Describe the problem and steps to reproduce it:

This is somewhat random (although it's happening more often)...

Sometimes after getting a local error, I see the following:
` ERR ~> http://127.0.0.1:3333/en-US/firefox/addon/acholi-ug-lp-test/ Error: connect ECONNREFUSED 127.0.0.1:3333`

and webpack never recompiles and I have to restart the server. Does this happen to anyone else??

### What

[2018-09-05 01:40] rebmullin commented on #6139
did a little bit of testing and this doesn't fix the problem :/

Will keep looking into..

[2018-09-05 06:58] willdurand commented on #6129
it is indeed not valid.

[2018-09-05 07:02] willdurand commented on #6139
It could be because webpack needs more time to recompile the app, especially after having saved a lot of files.

[2018-09-05 08:11] willdurand commented on #2056
@championshuttler please go ahead

[2018-09-05 08:39] willdurand commented on #6117
Looks like we've done that on purpose.

[2018-09-05 09:06] #6058 closed

[2018-09-05 09:18] willdurand commented on #6103
🤕 it does not look like a good fit for us...

If the issue is about removing `delete` calls in the reducers (which is clearly a programming mistake, partly due to JavaScript being a bad programming language), we could probably use ESLint instead/only?

[2018-09-05 09:27] AlexandraMoga opened #6141 "mozAddonManager install features are not working on Android"
STR

1. Load AMO dev on Android
2. Install an extension
3. Observe the state of the 'Add to Firefox' button

Actual result:
'Add to Firefox' remains in the install state after the extension is successfully added

Expected result:
Install button changes to 'Remove' after an add-on is successfully installed

Notes:
- same behavior for all add-on types
- the button should also turn to 'Enable' if an

[2018-09-05 09:29] willdurand commented on #6141
Dumb question: is there a `mozAddonManager` on Android? And can we use it from -dev?

[2018-09-05 09:31] AlexandraMoga commented on #6141
@willdurand  they should have introduced it with https://bugzilla.mozilla.org/show_bug.cgi?id=1298178

[2018-09-05 10:04] willdurand commented on #5527
Most new features have been backported and BC breaks are relatively easy, except this one:

which is huge!

[2018-09-05 14:21] kumar303 opened #6143 "Develop mozAddonManager with example.com"
Currently, developing `mozAddonManager` features requires [building a custom Firefox](https://github.com/mozilla/addons-frontend/blob/master/docs/moz-addon-manager.md) which is cumbersome and time consuming. Let's see if we can develop without a custom build of Firefox.

Instructions:

1. Build a dev server

[code]

2. Run the dev server

[code]

3. Make sure you are resolving `example.com` to you

[2018-09-05 14:36] bobsilverberg commented on #6125
When I tested this I found that following the STR above, I was able to perform actions as a logged-in user, so it seems like a fairly serious issue. For example, I could successfully edit my profile, including saving changes, so the app still thinks I'm authenticated, even though I logged out.

Unless I am misunderstanding your explanation, this does seem like a problem with the app.

[2018-09-05 14:40] shell1 opened #6144 "Run A/B test for install button (green vs. blue)"
### Describe the problem and steps to reproduce it:

addons.mozilla.org product pages get ~4.3M views.  UX changes that improve add-on installation are high impact.   There was a [study done](https://mana.mozilla.org/wiki/display/FIREFOX/AMO+Optimization+for+Non-Firefox+Users+Landing+on+Add-on+Pages), that may have some correlations for ideas for the upcoming Product Page tweaks to drive engagemen

[2018-09-05 14:42] bobsilverberg commented on #6139
I have also been seeing this behaviour *a lot*. I spoke to @kumar303 about it last week, and tried to do some debugging, to see if another process was accessing any files belonging to the site and therefore causing webpack to continuously reload, but I didn't find anything. My (albeit naive) belief is that the webpack build is breaking somehow, so it never finishes recompliling, not that it is con

[2018-09-05 14:49] bobsilverberg commented on #6129
From the original issue, an example of some text in the description is:

[code]

The intent is to have a title wrapped with `<strong>` and then the link on the next line. `nl2br` should be adding a `<br>` tag between these two lines, but it is not. If it did the html would be:

[code]

which I believe is perfectly valid.

[2018-09-05 14:50] willdurand commented on #6129
We should not use `<br>` for that purpose IIRC. If we want two paragraphs, we need two `<p>` blocks.

[2018-09-05 15:04] willdurand commented on #6125
Longer explanation:

(a) The redux state is serialized and put into the HTML sent by the server. This state contains the authentication token used to perform actions, like querying the API with elevated privileges (`auth: true`).

(b) The deauthentication is a 2-step process: 1. it calls the server to delete the session, and 2. it dispatches a `LOG_OUT` redux action, which restes the redux state.

[2018-09-05 15:07] willdurand commented on #6125
That's also why I think opening the link to a new tab should fix the issue (not the root cause though).

[2018-09-05 15:17] bobsilverberg commented on #6129
Why? The html I included above is valid.

Is the suggestion that the user needs to format their text by wrapping it in `<p>` blocks themselves? Also, if you're suggesting that the solution to the above case is for the html to be written as:

[code]

That won't deliver the desired results as the user wants just a line break between the title and the link, but the approach above introduces an entire

[2018-09-05 15:44] willdurand commented on #6129
ah, I see.

It is tough because depending on which html tags we have, there are valid reasons to drop the `<br>` tags and we often don't need them.

No, that's what most WYSIWYG editors do, though.

[2018-09-05 15:58] willdurand commented on #6125
I re-prioritized this issue as I really don't think it is a major security issue. I can't find any issue with our code.

[2018-09-05 16:21] atsay commented on #6117
@jvillalobos ^

[2018-09-05 16:42] atsay commented on #6144
Product/UX discussions are currently happening.

[2018-09-05 16:50] jvillalobos commented on #6117
We discussed in the frontend meeting and decided we should show all add-ons when there are no filters set.

[2018-09-05 16:54] kumar303 commented on #6018
In the UX meeting today, we agreed that scaling down the existing home page is something we want to pursue as it has the potential to retain more page views in a session (this may or may not be the final metric we use to measure success).

As for A/B testing, we could keep it simple like the recommendations component:

https://github.com/bobsilverberg/addons-frontend/blob/27e9c8ee44927d3d3241cc6c9

[2018-09-05 17:14] rebmullin commented on #6018
@kumar303, thanks for the additional info : ) I'll look into this.

[2018-09-05 17:26] eviljeff commented on #6040
addons-server+fxa already supports redirecting back to the page the user was on before they clicked login/register.  So addons-server could instead redirect to the profile edit page with the real page (e.g. the review page) passed as a parameter.  addons-frontend would just have to know what to do with that parameter.

[2018-09-05 17:31] muffinresearch commented on #6018
It would need to set a cookie otherwise the user might see a different hero render on every request.

As discussed in the design call, the A/B test should send 50% of traffic to the new variant and 50% to the existing design. Tracking should track what variant the user is exposed to and we should check we have params in any hero links to be able to know that users are clicking the hero content (th

[2018-09-05 17:51] MeridelW commented on #2771
Hi @bobsilverberg, I'm a bit confused. What is the criteria for displaying the current "My Review" field in the reviews view? If the user did not write the review, why is that review being featured there?

[2018-09-05 17:59] jvillalobos commented on #6144
So... this boils down to making the installation button green. On one hand, research points to this being beneficial to conversions, and on the other there seems to be a hard rule in the design system to only use green for the Firefox install button.

I'd like to hear what UX have to say about this. /cc @pwalm @brassy-

[2018-09-05 18:30] kumar303 commented on #2771
@MeridelW this issue is about making a page for a single review. Example stories:

As an add-on user, you write a review and would like to share a link to it on Twitter so that other people can read it.

As an add-on developer, you receive an email about a review someone has just posted. You would like to reply to the review so you click on a link (in your email) that takes you directly to the rev

[2018-09-05 18:35] kumar303 commented on #6040
I want to be careful not to interrupt the flow of user intent here. For example, a user may be trying to review an add-on for the first time. They will click the *Log in to rate this add-on* button, register via Firefox Accounts, click a verification link in their email, and finally they'll be able to write their review. I'm not sure that we should interrupt that process by requiring a display nam

[2018-09-05 18:46] kumar303 commented on #6139
@rebmullin didn't say anything about continuous reloading so maybe that's a different issue.

[2018-09-05 18:47] kumar303 commented on #6139
I see it occasionally (yes, it is annoying) but it doesn't happen for every error. I'm not sure what's triggering it.

[2018-09-05 18:51] bobsilverberg commented on #6139
I think I must have just miscommunicated when I talked about it last week. I had no reason to believe that webpack was continuously loading, just that it was unable to respond to any requests.

[2018-09-05 18:54] #4935 closed

[2018-09-05 18:56] kumar303 commented on #4935
I tested this locally with https://addons-dev.allizom.org/en-US/firefox/addon/finn-language-pack/ and it is doing the right thing 💃

[2018-09-05 18:58] kumar303 commented on #6139
oh, sorry! OK, so, when I said I'd never seen that behavior I was totally lying. And all of the debugging tips I gave you were moot. D'oh.

[2018-09-05 19:12] kumar303 commented on #6103
Yes, I think we could use a lint rule to discourage `delete` usage but there are other referencing issues that can pop up, too. If you copy an object and re-assign one of its properties then you might be editing the old state tree as well. Maybe we just need to get better about reviewing reducer code but I worry that it will be hard to catch all mutation mistakes.

[2018-09-05 19:18] MeridelW commented on #2771
Got it, thank you. I think we should include the reviewer's name. Would it be possible to replace the "My Review" header with this header? **Review by [user name]**

Example: Review by hanshin-cat

[2018-09-05 19:34] kumar303 commented on #6130
I'd have to see it in the context of the patch to know for sure but I am a bit worried about storing `addon` on `review` objects because that will be one more thing to invalidate when fetching/updated/deleting add-ons.

[2018-09-05 19:39] kumar303 commented on #5679
Can you update this issue description or file a new issue? Otherwise it will be hard to dig through the comments and see what the actual feature request is.

[2018-09-05 19:53] bobsilverberg commented on #6130
I might not have been clear in the numerous comments I've made on this issue, but I do share your concern about storing the `addon` object in the `review` object and think it would probably be better to just store the data we need (i.e., name and iconUrl). I guess I was looking for confirmation of that, and I think I just got it.

[2018-09-05 19:54] bobsilverberg commented on #2771
@MeridelW yes, that should be possible. I like it, too. Thanks!

[2018-09-05 19:54] kumar303 commented on #5472
I was able to randomly reproduce this the other day on Firefox Nightly. I am suspicious that it is the same infinite loop problem mentioned in https://github.com/mozilla/addons-frontend/pull/6108#issuecomment-418534121

[2018-09-05 19:58] bobsilverberg commented on #5472
If that's true, then I have a fix for it! Stay tuned...

[2018-09-05 20:00] kumar303 commented on #5472
I just updated my comment to say a *similar* loading problem because I realized the unresponsive page is not the add-on detail page, it's the add-on review listing page.

The review listing page also does not check for a loading flag:

https://github.com/mozilla/addons-frontend/blob/7a293e510bab942784d680cf2bd4ae8edf70627a/src/amo/components/AddonReviewList/index.js#L90-L91

This is all just a the

[2018-09-05 20:11] kumar303 commented on #5549
Hi @suhailsinghbains -- thanks for your interest. This is not a good bug to work on because we're in the middle of rewriting this component. It's still something we need to do but not just yet.

Have you looked at this list? These are all ready to work on https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome

[2018-09-05 20:13] kumar303 commented on #5941
Thanks for offering to help! This is not a good issue to work on because it's already assigned to a developer. The best way to find issues to work on is to check this list https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome These are the issues we've labeled as `contrib: welcome` because they are ready to work on.

[2018-09-05 20:32] bobsilverberg commented on #6130
Because I'm fairly sure that this is what we need to do, I've opened https://github.com/mozilla/addons-server/issues/9357 to request a change to the API. I realize that this will probably mean we need to update the reviews code to use v4 of the API, but I know that we want to start that upgrade pretty soon anyway.

[2018-09-05 20:36] jvillalobos commented on #6040
I don't think it's all that uncommon for the account creation process on any site to require some extra info.

[2018-09-05 20:48] kumar303 commented on #6040
What if we show a dismissible banner at the top of the page nagging them to set a display name? That would not interrupt their flow.

The styles are there because of the survey: https://github.com/mozilla/addons-frontend/pull/5620 (these were not the final screenshots).

[2018-09-05 20:55] MeridelW commented on #5322
@willdurand I've got a draft of options here but I'd like to better understand scope. Ideally, we would be able to split out extensions and themes into two different sections, rather than co-mingling the two as we do now.

Please see my copy doc and let me know your thoughts...https://docs.google.com/document/d/1UELyvclz-RxHWdIy-SD8hYVGO3ybwO8n3N-p0mK9-Yk/edit

[2018-09-05 20:57] MeridelW commented on #6050
@bobsilverberg Sounds like content help is not needed here based on the decision to remove this capability.

[2018-09-05 21:01] jvillalobos opened #6145 "fa-IR dictionary doesn't appear on Language Tools page"
This dictionary doesn't appear in the [Language Tools](https://addons.mozilla.org/firefox/language-tools/) page: https://addons.mozilla.org/addon/lilak-persian-dictionary/.

The target locale was already set to `fa-IR`, and it can be seen in the Language Tools page in the old front end. There are two entries for Persian on the old page. The new one only has one for `fa`.

[2018-09-05 21:29] devaneymoz commented on #5322
I like a lot of these options, but please see my note in this issue from June 19 about referencing how add-ons come (primarily) from third party sources.

[2018-09-05 22:09] ssaama opened #6146 "I looked up a add on that I want"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-09-05 22:11] jvillalobos commented on #6040
The intent of this issue is to **require** the display name. We don't want more "anonymous" users on the site.

[2018-09-05 22:58] bobsilverberg opened #6147 "Fix reducers/addons.js to discourage state mutation"
The case for `LOAD_ADDONS` in `reducers/addons.js` replaces keys in the state, which causes the same problems as deleting keys, as discussed at https://github.com/mozilla/addons-frontend/issues/6102.

We should rewrite the code in that case to avoid replacing the contents of keys.

[2018-09-05 23:04] #6146 closed

[2018-09-06 01:30] bqbn commented on #5825
The fix in https://github.com/mozilla-services/cloudops-deployment/pull/2451 has just been applied to -stage. Please test.

[2018-09-06 02:42] championshuttler commented on #2056
@willdurand can I work on it next week? I am not well :/ . Really sorry for
the delay

Shivam
(Sent from Mobile)

[2018-09-06 06:43] FatOrangutan opened #6148 "Incorrect order + missing extensions when sorting by recently updated"
### Describe the problem and steps to reproduce it:

1. Went to https://addons.mozilla.org/en-US/firefox/search/?sort=updated&type=extension.
2. Saw that [Markdown Viewer Webext](https://addons.mozilla.org/en-US/firefox/addon/markdown-viewer-webext/) was listed before [Read World Newspapers Online](https://addons.mozilla.org/en-US/firefox/addon/read-world-newspapers-online/)
3. Clicked through to

[2018-09-06 09:28] willdurand commented on #5891
That's why I think it is not worth fixing in addons-frontend.

[2018-09-06 09:38] willdurand commented on #2056
You don't owe us anything, it is open source and you are not paid by Mozilla to work on this project. So, of course you can decide to do it next week or not to do it at all, it is entirely up to you. Take care of yourself first, and feel free to contribute if you enjoy that!

[2018-09-06 09:38] #6088 closed

[2018-09-06 09:39] willdurand commented on #6088
For QA: add-ons install/uninstall should continue to work as expected.

[2018-09-06 09:58] willdurand commented on #5527
https://github.com/mozilla/addons-frontend/pull/6142 allows to pass a API version to `callApi()` (and adds a config parameter named `apiVersion`).

[2018-09-06 10:28] brassy- commented on #6144
The study mention in Shell's first comment it's relative to the 'Get Firefox Now'.  **In none of the usability tests, we saw people having trouble to identify the CTA.**

So, no, I don't think we should change the color of the button from blue to green in the product page.

[2018-09-06 11:42] ioanarusiczki commented on #5825
The issue is now reproducible on AMO stage with FF62(Win10). Not reproducible on AMO dev (re-checked it).

Please take a look - AMO stage
![css not loading on stage](https://user-images.githubusercontent.com/33448286/45155112-88c2e780-b1e2-11e8-8f2b-907ffc4fa909.png)

Also, I receive 504 errors on Chrome too with AMO stage (not reproducible on -dev). An issue is logged here https://github.com/mozi

[2018-09-06 11:54] eviljeff commented on #6040
The limitation here is after AMO switched to Firefox Accounts we gave up any ability to _require_ any information from the user on AMO account creation, other than email, so by the time the user has finished logging in with Firefox Accounts we've already created the AMO account.  We can redirect the user to the account profile edit page and encourage them to the set the display name /username but

[2018-09-06 13:28] willdurand commented on #6139
No, but webpack and the server reload could be overloaded by too many "save" along with an error (which makes webpack recompiles more stuff than when there is no error).

[2018-09-06 13:30] willdurand commented on #6139
It is an empirical statement, I noticed that if I hit the save button a lot myself, it slows down webpack and the server (i.e. it takes more time to get the app UP again).

[2018-09-06 13:35] bobsilverberg commented on #6139
Fair enough, but in this case webpack never finishes successfully compiling the app, no matter how long I wait.

[2018-09-06 13:37] willdurand opened #6152 "AMInstallButton status is not updated"
### Describe the problem and steps to reproduce it:

1. Go to https://addons-dev.allizom.org/en-US/firefox/addon/enhancer-for-youtube/ with a browser that has `mozAddonManager`
2. Click on the "Search by Image" add-on located in the "Other popular extensions"

### What happened?

The `AMInstallButton` (new button) is disabled:

![screen shot 2018-09-06 at 15 35 21](https://user-images.githubuserco

[2018-09-06 13:42] bobsilverberg commented on #6099
Should we check with someone (I'm not sure whom) to make sure that this is in fact the only case we want to add analytics for?

[2018-09-06 13:57] #6099 closed

[2018-09-06 13:58] willdurand commented on #6099
Good idea, I'll open an issue if needed (and talk to @muffinresearch about it during our 1:1).

[2018-09-06 14:30] willdurand commented on #6152
Upgrading to p1 since this HOC is also used by the current/old install button, not sure it is affected but we never know :

[2018-09-06 15:03] kumar303 commented on #6147
This specific reducer case looks like it's safe (so I reduced priority) but it's a dangerous pattern that can lead to accidental mutation. Rewriting the code using spreads and no assignments would be a good exercise and it's something we should strive for in the future.

Here is an example of why it's a dangerous pattern: https://github.com/mozilla/addons-frontend/pull/6108#discussion_r215660247

[2018-09-06 16:30] willdurand commented on #6141
@AlexandraMoga I just tried on -dev and it is working for me, so I am confused.

[2018-09-06 16:32] willdurand commented on #6141
![amo-android](https://user-images.githubusercontent.com/217628/45171608-1e6e6f00-b203-11e8-9d62-3ae49e0edaff.gif)

[2018-09-06 16:32] willdurand commented on #6141
Note: it could be an issue related to #6152. Do you have the same issue if you refresh the add-on detail page?

[2018-09-06 16:34] muffinresearch commented on #5322
@MeridelW Echoing my comments in the google doc, a bigger change to split the display of addons and themes is out of scope for this project. We are running a shield study currently and we shouldn't make big changes whilst that is underway.

Changes to the existing copy should be ok though, so if we want to do that now it can be added here, or otherwise we can defer this issue as Will suggested in

[2018-09-06 16:37] #6105 closed

[2018-09-06 17:38] diox commented on #4529
Please file an addons-server issue for this if we want to remove the per-version thing. Although @kumar is right to say you don't stricly need backend support for this and can just not query per version, there are some optimizations and constraints we could change to support this on addons-server.

[2018-09-06 17:49] jvillalobos commented on #6040
Can that be changed? I assume there's some point where a new Firefox Account shows up and we don't have an AMO account yet. Can the account creation be put on hold until the requirements are satisfied?

Then they wouldn't be logged in. If we know they have a Firefox Account we could maybe show a notification indicating they need to complete it before logging in, kind of like what @kumar303 suggest

[2018-09-06 18:04] jvillalobos commented on #6148
The sorting looks correct to me, now. Can you check again and see if the ordering changed for you?

I can see that too, and I don't see any obvious reason they should be filtered out.

[2018-09-06 18:43] bobsilverberg commented on #6040
I realize that this is probably way out of scope, and also probably doesn't make sense for FxA, but wouldn't it be nice if Firefox Accounts allowed us to collect an extra piece of information from users (i.e., a DisplayName) which we could then use when we create the AMO account?

Or, realizing that FxA probably doesn't want such a requirement, could we have our own screen which talks to FxA via a

[2018-09-06 19:31] kumar303 commented on #5472
Sorry for the confusion. I was mistaken in my last comment. The screencast at the top of this issue shows that the infinite loop *is* happening on the add-on review listing page.

I am very confident that the patch for https://github.com/mozilla/addons-frontend/issues/6105 has solved this issue! @ioanarusiczki could you re-test it?

[2018-09-06 19:31] #5472 closed

[2018-09-06 19:48] willdurand commented on #6148
that's probably a server issue.

[2018-09-06 19:52] #6152 closed

[2018-09-06 22:04] bqbn commented on #5825
Please re-test now that https://github.com/mozilla/addons-server/issues/9363 is fixed.

I suspect the 504 you saw on -stage regarding this issue is ephemeral.

[2018-09-06 22:15] rebmullin opened #6158 "Set up first phase of storybook"
this just does a basic set up

[2018-09-06 22:21] rebmullin opened #6159 "Format storybook existing components (button, badge)"
Currently we just have these 2 components set up - Button and Badge.

We should make it look something like described here:
https://github.com/mozilla/addons-frontend/pull/6060#discussion_r215322058

Check out addons to mentioned here to see if this makes it easier, etc

[2018-09-06 22:22] rebmullin opened #6160 "Set up percy with storybook"
Start with a test account

[2018-09-07 03:57] kumar303 opened #6162 "After you submit a written review, the form does not close"
This is part of a new UX for reviews/ratings. See #5519

### Describe the problem and steps to reproduce it:

- Go to an add-on detail page
- Rate an add-on
- Click *Write a review* and enter some text
- Submit the review

### What happened?

The form stays open in edit mode

### What did you expect to happen?

The form should close and you should see your saved written review (https://github.com/

[2018-09-07 04:02] kumar303 opened #6163 "The edit review link does not show an inline form"
This is part of a new UX for reviews/ratings. See #5519

### Describe the problem and steps to reproduce it:

- Go to an add-on detail page
- Rate an add-on
- Write a review and submit it
- View the saved review
- Click the *Edit my review* link in the lower left

### What happened?

The old overlay form is shown

### What did you expect to happen?

The new inline edit form should be shown

### An

[2018-09-07 07:17] AlexandraMoga commented on #6141
@willdurand it seems that I have forgotten to set `extensions.webapi.testing` = `true` when I configured Firefox for Android, so that's what caused my issue :disappointed:

With the right pref set, the install buttons are working as intended, which makes this issue is Invalid.

[2018-09-07 07:17] #6141 closed

[2018-09-07 07:30] willdurand commented on #5245
@muffinresearch do we want to reopen this issue?

[2018-09-07 07:31] willdurand commented on #6141
awesome, thanks!

[2018-09-07 07:38] willdurand opened #6164 "Listen to `onOperationCancelled`"
### Describe the problem and steps to reproduce it:

1. Install an add-on from AMO
2. Go to about:addons
3. Remove this add-on
4. Undo the removed add-on in about:addons
5. Close about:addons

### What happened?

Closing about:addons when the add-on is restored does not send any event, causing AMO -dev to not know the status of the add-on. In other words, the install button on AMO is in a "pending

[2018-09-07 07:39] willdurand opened #6165 "Add smooth transitions to the AMInstallButton"
We should make the `AMInstallButton` look and feel slightly better by improving the transitions when the button switches from the "uninstalled" to "pending" to "installed" states.

Maybe this could be done with CSS transitions, I don't know yet.

[2018-09-07 07:47] willdurand opened #6166 "Prevent onClick when already clicked on AMInstallButton"
### Describe the problem and steps to reproduce it:

1. Navigate to the install button on AMO or Disco Pane (new install button, so -dev or local setup) with the keyboard
2. Hit `enter` to install an add-on
3. Hit `enter` again

### What happened?

The install process is triggered again.

### What did you expect to happen?

The button should not trigger anything.

### Anything else we should know?

[2018-09-07 08:08] willdurand commented on #4662
This should be fixed by the new install button.

[2018-09-07 08:08] #4662 closed

[2018-09-07 08:19] willdurand commented on #3562
Closing this issue in favor of #6164.

[2018-09-07 08:19] #3562 closed

[2018-09-07 08:34] ioanarusiczki commented on #5825
@bqbn

Tested this again for -stage and -prod and it is still reproducible.

![css not loaded with chrome incognito](https://user-images.githubusercontent.com/33448286/45207932-0560cf00-b292-11e8-9e93-21c4d2e64c76.gif)

[2018-09-07 08:52] willdurand opened #6169 "Preload install animation (svg) to avoid a flicker on the very first time"
### Describe the problem and steps to reproduce it:

1. Go to a fresh add-on detail page
2. Install an add-on
3. Observe the animation

### What happened?

Sometimes (depending on the network), the SVG does not load the very first time or it is late because the SVG is downloaded when the animation is shown.

### What did you expect to happen?

No rendering issue.

### Anything else we should know?

[2018-09-07 08:58] muffinresearch commented on #6169
The animation needs a lot more work, but I played with trying to replicate this in a CSS animation here [1]. If the animation could be improved enough maybe that could remove the need for a large SVG sprite.

[1] https://jsfiddle.net/muffinresearch/9x7bshnz/35/

[2018-09-07 09:26] muffinresearch commented on #5245
@willdurand @ddurst can correct me if I'm wrong, but I think the only change required for this project  was the attribution link.

[2018-09-07 09:58] willdurand commented on #6169
Yep, if we can match the SVG animation. that would be a good idea to improve performances.

[2018-09-07 10:18] brassy- commented on #6144
@jvillalobos would be possible to target an a/b test only on the product page?

[2018-09-07 10:24] willdurand opened #6172 "Do not duplicate the webpack config in storybook"
The `stories/setup/webpack.config.babel.js` duplicates a lot of webpack config that is already present in `webpack.dev.config.babel.js`.

We should avoid that and require the `webpack.dev.config.babel.js` file in  `stories/setup/webpack.config.babel.js`. From there, we can reuse parts of the config we are interested in. Here is a working patch:

[code]

[2018-09-07 10:26] willdurand opened #6173 "Storybook: do we really need `core/css/inc/lib.scss` in `stories/index.js`?"
The file `core/css/inc/lib.scss` is already imported in `amo/components/App/styles.scss`, which is required in `stories/index.js`.

Do we really need to add it one more time?

[2018-09-07 10:27] willdurand commented on #6172
We can also probably remove one webpack file in `stories/setup/` (keeping `webpack.config.js` only).

[2018-09-07 11:18] ioanarusiczki commented on #6113
Not reproducible anymore - with FF62(Win10&Android 8.0)

![deleting again - works1](https://user-images.githubusercontent.com/33448286/45216264-a195d080-b2a8-11e8-9b48-e21d46f8b8e1.gif)

[2018-09-07 11:40] willdurand commented on #6160
We should probably fix the other storybook issues before starting the work on this one.

[2018-09-07 11:40] willdurand commented on #6139
When it occurs, can you try this command:

[code]

and wait a bit before refreshing the page in your browser?

[2018-09-07 11:47] FatOrangutan commented on #6148
They are indeed correctly sorted now, even though no new updates for either of them have been released since filing this issue.
The issue persists though: e.g. JIRA2Clipboard, released 3 hours ago, is listed before Hola Unblocker, released an hour ago.

Additionally, it looks like at least the sorting issue has little to do with the new frontend, because I can reproduce it on the old design itself

[2018-09-07 12:08] eviljeff commented on #6040
Technically, there are a few lines of code inside addons-server between us realising that the uuid/email doesn't exist, and creating a new User, yep.  But without a `user` addons-server wouldn't be able to create the auth tokens necessary for us then to be able to collect the display name on the next submit.  (Either directly on django pages or via the API).  A `user`-less session is an exciting n

[2018-09-07 12:13] eviljeff commented on #6040
We _could_ get the display name that's available on FxA already via their API, and use that for AMO, but it's optional so who knows how frequently it's filled in by users.

I don't think there's a method of updating the FxA user profile with the display name right now (though I agree it'd be cool).  Best we could do would be to tell them to go fill it in on FxA settings, but that's a pretty crappy

[2018-09-07 13:35] willdurand opened #6175 "Storybook peer dependency warning"
For some reasons, I see the following warning when running `yarn`:

[code]

[2018-09-07 13:43] ioanarusiczki commented on #5472
@kumar303
I tested it on Win10 with FF62, FF64, Edge - AMO dev and a couple of tests on AMO stage too - I could no longer reproduce the issue.  Sometimes the listed review pages last longer to load after they're clicked from the user profile page.
I'm marking it verified fixed.

[2018-09-07 14:12] kumar303 opened #6176 "Use withRouter for AuthenticateButton so it gets a location prop"
**For QA**: Please check for regressions on the following pages: *TBA*

The `AuthenticateButton` requires a `location` prop which means every component that calls it must pass it a `location`.

Let's use `withRouter()` instead so that it gets `history.location` automatically.

This will allow us to remove prop drilling in a few components: `FlagReviewMenu`, `RatingManager`, `CollectionList`, and m

[2018-09-07 14:19] kumar303 commented on #5598
This is technically a dupe of https://github.com/mozilla/addons-frontend/issues/6104 now. Even though https://github.com/mozilla/addons-frontend/issues/6104 was filed later on, I'm going to keep that one open since it will help QA understand which pages to test for this change.

[2018-09-07 14:19] #5598 closed

[2018-09-07 14:45] ioanarusiczki commented on #6152
I verified this with FF64 (Win10) and FF62 (Android 8.0)  - on AMO dev
I did not find the +Add to Firefox button disabled following the above scenario

FF64 (Win10)
![new buttons](https://user-images.githubusercontent.com/33448286/45225597-9bfab380-b2c5-11e8-99ad-cca2ded51990.gif)

FF62(Android 8.0)
![android buttons](https://user-images.githubusercontent.com/33448286/45225614-a452ee80-b2c5-11e8-9

[2018-09-07 15:08] kumar303 commented on #5943
Let me expand on my rationale for this. The **current mock** (the image at the top of this issue) has these problems:

- When submitting a star rating (no text), it is not obvious how to edit the rating. One can simply change the selected star but there is no prompt for this so it may not be clear. My approach builds upon the current style for a saved review so that there is an *Edit my rating* bu

[2018-09-07 15:30] rebmullin commented on #6139
thanks for helping with this. I have been trying things too.. to no avail yet :/

unfortunately, I don't see `touch bin/server.js` doing anything. Maybe b/c this file already exists..?

[2018-09-07 15:47] bobsilverberg commented on #6139
I just had the issue again and tried `touch bin/server.js`. At first it didn't seem to work and then voila! I'll try it again next time to see if it works again.

[2018-09-07 15:55] willdurand commented on #6139
I am asking because this command usually fixes a similar problem for me, but I want to be sure it is the same problem. If it is, then I'll be able to find a better fix.

[2018-09-07 15:56] willdurand commented on #6139
Yep, the file does exist but `touch` also changes the last access time, which triggers the watcher to recompile the app.

[2018-09-07 15:57] #5374 closed

[2018-09-07 16:02] willdurand commented on #6176
Good idea!

[2018-09-07 16:26] jvillalobos commented on #6144
Yes, that's what I had in mind, too.

[2018-09-07 16:28] jvillalobos commented on #6148
It sounds like there are two separate issues, and probably both on the server side. I'll get those filed and close this one.

[2018-09-07 17:56] jvillalobos commented on #6148
Closing in favor of https://github.com/mozilla/addons-server/issues/9383. After looking into it a little more, it looks like both issues are the same one, since both seem to self-correct after some time.

[2018-09-07 17:56] #6148 closed

[2018-09-07 18:23] kumar303 opened #6178 "Simplify how saved ratings are rendered"
This is part of a new UX for reviews/ratings. See #5519

### Describe the problem and steps to reproduce it:

- Go to an add-on detail page for an add-on you haven't rated
- Click a star to rate it

### What happened?

The rating is saved and you are presented with a screen like this:

<img width="402" alt="screenshot 2018-09-06 22 14 40" src="https://user-images.githubusercontent.com/55398/452362

[2018-09-07 18:44] rebmullin opened #6179 "Change the structure of home banner array so it can be mapped"
We want to do this so we can map through the array and return the React component from this. Also will help clean things up a bit:
https://github.com/mozilla/addons-frontend/pull/6157/files#r215910683

QA: make sure heroes are not broken and look the same on home page

[2018-09-07 18:57] rebmullin opened #6181 "Storybook has unmet peer dependency notice shows up when you run yarn install"
see this `@storybook/react@3.4.10" has unmet peer dependency "babel-runtime@>=6.0.0"`

storybook seems to work ok despite this issue.
I will look into this more to see if this is really an issue..

[2018-09-07 18:57] bqbn commented on #5825
@ioanarusiczki I can't re-produce it on -stage. Can you describe the steps how you can reproduce it, so I can follow and see?

https://github.com/mozilla-services/cloudops-deployment/pull/2451 hasn't been applied to -prod yet. So no need to test -prod at this point.

[2018-09-07 19:10] willdurand commented on #6181
duplicate of https://github.com/mozilla/addons-frontend/issues/6175?

[2018-09-07 20:38] jvillalobos commented on #6144
We'll clarify with @shell1 next week, but I know that the green/blue question is what motivated this issue filing initially. It came up in a meeting we had earlier in the week.

[2018-09-07 20:48] rebmullin commented on #6181
Ok..missed that : ) Closing this in favor of #6175 then..

[2018-09-07 20:48] #6181 closed

[2018-09-07 21:03] kumar303 commented on #6040
Technically, we can certainly require a display name on the frontend. When they are logged in, we could prevent them from doing anything on the site until they set a display name. The API could do the same by returning a 403 response or something.

What is the end goal? We just want to prevent anonymous users, right? I think a banner nag will eventually get people to set a display name so I think

[2018-09-07 21:19] kumar303 commented on #6159
My request was just to render all (or many) styles on one storybook page. This should make it easier in development when making changes to a component -- you could watch a single page as it auto-updates.

@willdurand suggested that these add-ons may do something similar:

- https://github.com/Checkfront/react-storybook-addon-chapters
- https://github.com/evgenykochetkov/react-storybook-addon-props

[2018-09-08 04:13] PFOUR opened #6184 "click youtube video download"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-09-08 09:13] championshuttler commented on #6176
On it!

[2018-09-10 09:03] #6133 closed

[2018-09-10 10:15] willdurand opened #6186 "Remove componentWillMount() calls (react upgrade)"
See: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#migrating-from-legacy-lifecycles

For QA: pages should load without any problem (i.e. no obvious failures)

[2018-09-10 10:19] willdurand opened #6188 "Remove componentWillReceiveProps calls (react upgrade)"
See: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#fetching-external-data-when-props-change

For QA: there should be no issue when navigating between pages (for example, when browsing multiple add-ons, refreshing a page, then navigating to some other add-ons linked on a page, etc.)

---

I filed issues for the following components:

- `Addon`: https://github.com/mozilla/addons

[2018-09-10 10:33] willdurand opened #6189 "Add StrictMode component"
See: https://reactjs.org/blog/2018/03/29/react-v-16-3.html#strictmode-component

[2018-09-10 11:26] AlexandraMoga commented on #4935
Verified fixed on AMO -dev, with FF62, Beta 63 and Nightly 64.0a1 , Win10x64

Here is another example:
https://addons-dev.allizom.org/en-US/firefox/addon/czech-cz-langpack/

[2018-09-10 11:50] ioanarusiczki commented on #5825
@bqbn I tested it again today. This morning it worked, but later I tried again and it is still reproducible together with https://github.com/mozilla/addons-server/issues/9379
I think they're related issues and both seem to be intermittent.

For Chrome what I did:
1. Opened a Chrome incognito window and pasted the current URL of the CSS file into the first tab.
2. The I open a new tab and try to ac

[2018-09-10 11:54] ioanarusiczki commented on #6105
@bobsilverberg - I tested it on AMO dev with FF62.
In steps 7 and 9, number of reviews is 1 less than the number from step 3.
But to see the right number of reviews the page must be refreshed after submitting the review. - Could be because of https://github.com/mozilla/addons-server/issues/9293  ?

![on amo dev](https://user-images.githubusercontent.com/33448286/45295985-2f6ff680-b509-11e8-8e3b-a7

[2018-09-10 12:01] bobsilverberg commented on #6105
@ioanarusiczki Thanks for taking a look. Just to make sure I understand the issue you're describing, it's not about what happens after deleting a review - correct? It's about the fact that a number doesn't increase when adding a review?

If so that doesn't relate to this patch at all, and is likely a duplicate of #6120.

[2018-09-10 12:38] AlexandraMoga commented on #6099
Verified fixed on AMO -dev with FF62, Win10x64

After a failed installation, a corrsponding event is sent.

Example:

[code]

[2018-09-10 13:44] willdurand opened #6192 "Investigate ways to reduce the main JS bundle size (amo app)"
The `amo` JS bundle gets bigger and bigger as we add more features. We use [bundlesize](https://github.com/siddharthkp/bundlesize) to fail a Travis CI build if the bundle gets too big given a threshold. The threshold has been increased in #6191 to avoid failing PRs but we should see if we can do anything to reduce the bundle size.

Various ideas: tree shaking, code-splitting, dead code elimination

[2018-09-10 13:45] AlexandraMoga opened #6193 "Users remain logged into AMO after deleting their account from FxA"
STR:

1. Log in to AMO
2. Go to Edit my Profile
3. Click on Manage Firefox accounts
4. Delete your account from FxA
5. Open AMO in a new Tab

Actual result:
The user is still logged in to AMO and is able to perform actions specific for logged in users

Expected result:
User should be logged out from AMO when the account is deleted from FxA

Notes:
- the user is not logged out after the AMO page is

[2018-09-10 13:51] willdurand opened #6194 "Make deploy builds more predictable with yarn.lock"
Related to #3034

Currently, we do not use the `yarn.lock` file to download/install the dependencies in the `Dockerfile`, which means the build process does not rely on the `yarn.lock` file at all.

We should fix this by using the `yarn.lock` file when running `yarn install`.

For QA: both AMO and Disco Pane should be deployed without any problem (it will be either fine or completely broken).

[2018-09-10 13:58] #1416 closed

[2018-09-10 14:00] kumar303 commented on #3034
Sorry if the requirements of this issue were vague. It was also confusing because it made some assumptions about `yarn.lock` that were untrue. I updated the description to better illustrate what I originally intended.

[2018-09-10 14:02] #6178 closed

[2018-09-10 14:02] vcarciu commented on #5374
Verified as fixed :
![utmuuid](https://user-images.githubusercontent.com/1583842/45302201-5505fb80-b51b-11e8-9bb2-6086ea956313.png)

[2018-09-10 14:16] #6194 closed

[2018-09-10 14:34] ioanarusiczki commented on #6088
I verified installation of extensions, lang packs, dictionaries, static themes, lightweight themes on AMO dev with FF64 - (Win10)
I did not have problems installing, removing, disabling and then enabling them.  I've noticed again the already known and filed issues which is https://github.com/mozilla/addons-frontend/issues/5929 and https://github.com/mozilla/addons-frontend/issues/6091

[2018-09-10 14:35] #6186 closed

[2018-09-10 14:41] ioanarusiczki commented on #6105
@bobsilverberg Yes, I was talking about https://github.com/mozilla/addons-frontend/issues/6120
Thanks!

[2018-09-10 15:06] #6169 closed

[2018-09-10 15:34] eviljeff commented on #6193
In mozilla/addons-server#7922 we were going to delete the AMO account after the FxA account was deleted but in the end it was decided that just messaging the user on the FxA side that they needed to take action themselves was enough and the issue was closed.

[2018-09-10 15:34] #6193 closed

[2018-09-10 17:29] #6165 closed

[2018-09-10 17:32] willdurand opened #6198 "Enable AMInstallButton in staging (amo only)"
In order to enable the `AMInstallButton` (new install button) in -prod, let's start by enabling it in **-stage for AMO only** (not Disco Pane).

[2018-09-10 17:43] jvillalobos commented on #6184
If you want to report a missing page, please contact the developer of the extension.

[2018-09-10 17:43] #6184 closed

[2018-09-10 17:46] bobsilverberg commented on #4529
I opened https://github.com/mozilla/addons-server/issues/9393 to request this change be implemented on the server side. If that isn't something that is possible in the near term we may still consider doing this on the front end, but there are other higher priority issues right now.

[2018-09-10 17:46] kumar303 commented on #4529
Primarily, we want to stop making saved reviews disappear when developer's publish new add-on versions.

We can maybe do a quick fix for this on the frontend by calling [`getReviews()`](https://github.com/mozilla/addons-frontend/blob/38cd4d9ddea5d601854a7828982d5104d9ff4793/src/amo/api/reviews.js#L210) without `version` then sorting the results in descending order (by version number) to display th

[2018-09-10 18:00] kumar303 opened #6199 "Report a bug with an add-on instead of leave a negative rating"
### Describe the problem and steps to reproduce it:

As an add-on user, imagine you encounter a bug in the add-on. You might:
- Go to the add-on detail page
- Leave a one star rating
- Write a review about the bug

### What happened?

The developer gets penalized with a negative review

### What did you expect to happen?

The developer should get a chance to fix the bug. They may already have a su

[2018-09-10 18:01] kumar303 commented on #5519
All bullet points now have their own issues so we can close this.

[2018-09-10 18:01] #5519 closed

[2018-09-10 19:26] #6179 closed

[2018-09-10 20:14] #6175 closed

[2018-09-11 00:04] rebmullin opened #6204 "Clear out gh-page branch"
When I created this branch, it cloned master. Now I need to clear this out (to be safer I am doing it this way vs pushing these changes upstream directly). Eventually it should just have the static files here..

[2018-09-11 00:16] rebmullin commented on #6159
yep.. I'll check them out : )

[2018-09-11 06:57] AlexandraMoga commented on #6175
Please add STR or the label qa not needed.
Thanks

[2018-09-11 07:00] AlexandraMoga commented on #1416
Could you please add STR or the label qa not needed?
Thanks

[2018-09-11 08:00] willdurand commented on #1416
@AlexandraMoga sorry. The add-on detail page should be displayed correctly, and installing/uninstalling an add-on should work on AMO. On Disco, add-ons should also be displayed correctly, and installing/uninstalling an add-on should work as expectedtoo.

[2018-09-11 08:01] willdurand commented on #4087
Awesome, thanks for your contribution @hritvi!

[2018-09-11 08:08] willdurand commented on #6204
Well, let's delete this branch then.

[2018-09-11 08:10] willdurand commented on #6204
I deleted the branch from there: https://github.com/mozilla/addons-frontend/branches.

[2018-09-11 08:10] #6204 closed

[2018-09-11 09:08] muffinresearch commented on #6164
Isn't cancellation already listened to or is that some other event? For example cancelling a regular install by not accepting the permissions seems to work correctly.

[2018-09-11 09:55] willdurand opened #6207 "Create "loading" animation in CSS"
From: https://github.com/mozilla/addons-frontend/issues/6169#issuecomment-419372479

---

Let's try to recreate the SVG animation in plain old CSS to avoid a (rather) huge SVG to be loaded and animated in CSS. WIP at: https://jsfiddle.net/muffinresearch/9x7bshnz/77/

On IRC:

[2018-09-11 10:31] muffinresearch commented on #6207
This updated fiddle using scale in place of width/height for a smoother animation. https://jsfiddle.net/muffinresearch/aty2h61n/

It does still animate border-radius though.

[2018-09-11 11:55] willdurand opened #6208 "Upgrade to Babel 7"
That's not urgent but this should be done at some point. Babel 6 works well and B abel 7 does not have a lot of BC breaks, but it is not possible to upgrade directly, there are a few changes, including:

- renaming packages (from `babel-xyz` to `@babel/xyz`) in `package.json`, `.babelrc`, and webpack config files
- adopting [babel-preset-env](https://babeljs.io/docs/en/babel-preset-env), which is

[2018-09-11 12:03] vcarciu commented on #6194
Verified as fixed in AMO-dev. Both AMO and disco pane looks good.

[2018-09-11 12:11] vcarciu commented on #6179
Heroes looks good :
![hero](https://user-images.githubusercontent.com/1583842/45359377-ff8e2500-b5d4-11e8-84d4-020c080ed0bf.gif)

[2018-09-11 13:53] willdurand commented on #6143
I took a different approach in https://github.com/mozilla/addons-frontend/pull/6210

[2018-09-11 14:07] AlexandraMoga commented on #4087
I think this patch might have broken the Theme categories section from the homepage:

This is for full size screens
![image](https://user-images.githubusercontent.com/31961530/45365332-f5742280-b5e4-11e8-9633-e9b19dd3150a.png)

Medium size:
![image](https://user-images.githubusercontent.com/31961530/45365394-19376880-b5e5-11e8-921f-8b4fd6414790.png)

[2018-09-11 14:16] willdurand commented on #4087
oh noes... it could be this line: https://github.com/mozilla/addons-frontend/pull/5974/files#diff-60639a955bb764f0dc57c23a34ffbd85R135

[2018-09-11 14:28] vcarciu commented on #6178
Verified as fixed(both desktop and Android) :
![ratingsnew](https://user-images.githubusercontent.com/1583842/45366391-6c121f80-b5e7-11e8-95d1-76e976f73adb.gif)

One observation is that if an user delete his saved rating and then submit again a rating the "Request was throttled" message will appear and from my point of view this is not very user friendly.

@kumar303 : can we avoid somehow the "Req

[2018-09-11 14:32] AlexandraMoga commented on #6169
Verified fixed on AMO -dev with FF62, Win10x64 and Android 8.0

I couldn't see any flicker when I tried to install an add-on. I've used a fresh profile with no cache

![install animation](https://user-images.githubusercontent.com/31961530/45366901-ab8d3b80-b5e8-11e8-9150-58905ae2c763.gif)

[2018-09-11 14:44] AlexandraMoga commented on #6165
@willdurand  is there anything more specific to test here or checking that the install buttons are working as expected would cover enough?

[2018-09-11 14:46] willdurand commented on #6165
I think it is enough. In theory, you should see a short animation when button changes.

[2018-09-11 14:46] hritvi commented on #4087
oh sorry... I would change it right now...

[2018-09-11 15:04] #6137 closed

[2018-09-11 15:09] willdurand commented on #4087
I am looking into it now

[2018-09-11 15:10] willdurand commented on #4087
@hritvi no worries, it is fine and that's why we have QA

[2018-09-11 15:13] #6198 closed

[2018-09-11 15:16] willdurand commented on #4087
@hritvi I just saw your new patch. Thanks for that! We are going to revert the first patch, and then you will be able to submit your patch again along with the second fix. We'll try to make sure everything works well before merging :)

[2018-09-11 15:31] willdurand commented on #4087
@hritvi reverted! Now (and if you like) you can submit a new PR with your previous changes + your fix in #6211. I can help you with that if you need, just let me know!

[2018-09-11 15:33] willdurand commented on #4087
We usually don't revert commits but we freeze the code in 30 minutes (meaning the code in `master` in 30 minutes will go live in two days). That's why we prefer reverting your patch, it gives everyone more time to work on it and test it before everyone can see it.

[2018-09-11 16:06] jvillalobos commented on #6144
Okay, we talked this through today. Besides the button color, Shell wanted to know if the research recommendations were being taken into account for the new designs of the product page. UX confirmed they are, and that isn't something we need to track here.

This issue is now focused on running an A/B test for the Add to Firefox button, comparing the conversion rate between its current blue color,

[2018-09-11 16:15] #6125 closed

[2018-09-11 19:04] kumar303 opened #6217 "Using the back button allows you to operate the site as a signed out user"
### Describe the problem and steps to reproduce it:

1. Load AMO - https://addons.mozilla.org/en-US/firefox/
2. Log in
3. Log out
4. Scroll down to the footer and follow a link that does not open in a new tab, such as *Forum*
5. Press the browser back button to return to AMO

### What happened?

When returning to AMO you are fully signed in again. You can modify your profile, rate add-ons, and do

[2018-09-11 19:07] kumar303 commented on #6125
I just found a way but I have an idea for how to fix it. https://github.com/mozilla/addons-frontend/issues/6217

[2018-09-11 20:08] rebmullin commented on #6018
@jvillalobos, just verifying the scaled down testing - is this ok for all viewports or just for larger sizes?

also, I have followed the direction noted [above / here](https://github.com/mozilla/addons-frontend/issues/6018#issuecomment-417731488) - is this ok? //cc @pwalm

[2018-09-11 20:57] #6217 closed

[2018-09-11 21:00] jvillalobos commented on #6018
I didn't test very narrow screens where the three modules appear vertically stacked. It seems like the CSS changes would still work, but it'd be good to see a screenshot of that change. But to answer the question, yes, we want to test on all resolutions to see which ones if any see engagement differences.

[2018-09-11 21:49] rebmullin commented on #6018
ok cool, thanks for the info.

Regarding screenshots, here are some mobile and tablet examples:

## Mobile
![Alt text](https://monosnap.com/image/NKugWvSbH6ITBWpubbQ3kt4tFyAkCd.png)

## Tablet
![Alt text](https://monosnap.com/image/BuNp1vLk5xQKKWiFr4SFRqybH7QKGK.png)

@jvillalobos @pwalm

[2018-09-11 21:52] hritvi commented on #6208
@willdurand may I work on this issue?

[2018-09-11 22:08] jvillalobos commented on #6018
lgtm

[2018-09-11 22:27] pwalm commented on #3942
This is going to get a big redesign, closing this in anticipation of a bigger issue/project

[2018-09-11 22:27] #2965 closed

[2018-09-11 23:47] rebmullin commented on #6160
yep this will come a bit later :)

[2018-09-12 06:19] atomsite66 opened #6222 "Error 404"
### Describe the problem and steps to reproduce it:

Link 404: https://addons.mozilla.org/ru/firefox/addon/roomy-bookmarks-toolbar/
Link from: https://addons.mozilla.org/ru/firefox/addon/smart-bookmarks-bar/

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-09-12 06:45] pranav1698 commented on #6208
@willdurand  I would like to work on this issue?

[2018-09-12 07:01] #6189 closed

[2018-09-12 07:03] willdurand commented on #6189
For QA: there should be no changes as it is only for local development. No logs in the console should mention strict mode or unsafe methods, or deprecated react methods.

[2018-09-12 07:08] #3942 closed

[2018-09-12 07:18] AlexandraMoga commented on #6165
Verified fixed on AMO -dev with FF62 and Nightly 64 with Win10x64 and Android 8.0.

[2018-09-12 07:41] willdurand commented on #6208
@hritvi please go ahead, not sure it is an easy task though

[2018-09-12 07:45] pranav1698 commented on #6208
I think that doing a simple bable upgrade using node and babel must solve the issue,
As I can also the dependencies and plugins have changed in `.bable.rc` and `package.json`

[2018-09-12 07:58] AlexandraMoga commented on #1416
Verified fixed on -dev and stage, with FF62 and Nightly 64, Wn10x64 and Android 8.0
Add-on details page and disco pane look fine. Installing/uninstalling working as expected.

[2018-09-12 08:47] AlexandraMoga commented on #6125
@willdurand @kumar303

While testing this again I realized that opening the Developer Hub link from the header  in a different window will only partially fix the issue.
If I click on the Developer Hub link from the footer (as @kumar303  observed), the page will open in the same tab, which means that when I go back to AMO, I will still be logged in.
Moreover, I think that having two ways of opening

[2018-09-12 08:49] willdurand commented on #6125
The dev hub link in the header must be opened in a new tab IMO, otherwise the icon next to it is misleading.

[2018-09-12 11:04] AlexandraMoga commented on #5986
Update:

I have one more scenario to add to this issue:

When you first select a rating star for an add-on on the detail page, the star breakdown is not updated. However, when you immediately edit your rating in the write a review form, the star breakdown is updated. The average rating is not updated though until you refresh the page.

![ratings updates](https://user-images.githubusercontent.com/3

[2018-09-12 11:21] AlexandraMoga opened #6223 "The page footer is displayed briefly after an add-on rating/review is deleted"
STR

1. Log in to AMO -dev
2. Go to an add-on detail page
4. Rate the add-on
5. Delete your rating
6. Observe the page layout

Actual result:
When the review is deleted, the page footer is displayed for a brief moment during  refresh

Expected result:
The page footer should not be visible when the page is refreshed after a rating/review is deleted

Notes:
- I've seen this behavior also when I manu

[2018-09-12 11:36] AlexandraMoga opened #6224 "The Edit Review and Delete Review options have different alignments on smaller screen sizes"
STR:

1. Log in to AMO
2. Review an add-on (with text)
3. Refresh the page to see your written review
4. Observe the alignment of the Edit and Delete review links
5. Switch your locale to German to see the issue more properly

Actual result:
Edit review is aligned to the left while the Delete review is center aligned

Expected result:
The mentioned options should have the same alignment (centered

[2018-09-12 12:03] AlexandraMoga commented on #5943
Verified on AMO -dev with FF62, Win10x64 and Android 8.0

- this is the layout of the rate your experience card after a review and a developer reply are submitted:

![image](https://user-images.githubusercontent.com/31961530/45422805-05017300-b69a-11e8-8edb-5f0ec405e90a.png)

@kumar303  I have a few observations:
1. the need to refresh the page in order to see your review is permanent or will it d

[2018-09-12 13:18] #6143 closed

[2018-09-12 13:34] willdurand commented on #5802
@rebmullin I think we are good for that, no?

[2018-09-12 13:43] willdurand commented on #4262
We are adding a a/b HOC leveraging the TAAR patch linked above.

[2018-09-12 14:07] kumar303 commented on #6139
I ran into this again the other day and touching `bin/server.js` did fix it.

[2018-09-12 14:16] ioanarusiczki opened #6225 "Failing to install Search Tools after creating a new FF profile"
STR:
1. Load AMO stage - and go to More click on Search Tools.
2. Try to install a search tools from the list (the install button will probably look as being inactive) but refreshing page will work.  You will notice that the search tool can be installed.
3. Create a new profile and go again in More click on Search Tools.
4. Try to install again a search tool from the list, click +Add to Firefox
5.

[2018-09-12 14:54] willdurand commented on #6225
I think the bug is caused by the new install button (`AMInstallButton`).

The new profile resets all prefs to their default values, hence the user with a new profile does not have access to `mozAddonManager`. Unfortunately, I missed this edge case (I added a fallback for themes, but not for opensearch add-ons...).

[2018-09-12 14:59] willdurand commented on #6225
Based on my previous comment, I am downgrading this issue from p1 to p2.

[2018-09-12 15:07] willdurand commented on #6225
Note: the first steps in the STR show a visual issue as well (button disabled). This cannot be reproduced with a old or new profile with the old install button. The problem comes from the new install button then, which does not go live this week.

[2018-09-12 15:07] ioanarusiczki opened #6227 "Without refreshing the page, the add-ons button state is "Add to Firefox" instead of "Remove""
Similar with https://github.com/mozilla/addons-frontend/issues/5929

STR:
1. Install an extension from the add-ons detail page - using the new buttons AMInstallButton
2. Open the add-on manager in a new tab click "remove"
3. Go to the add-ons detail page and refresh it to see the "Add to Firefox" state
4. Go back to add-on manager tab and click "Undo"
5. Observe the button's state on the detail pa

[2018-09-12 15:12] ioanarusiczki commented on #6198
I verified this issue for extensions, dictionaries, language packs, static themes and lw themes with FF62(Android 8.0) and FF64(Win10).
I filed https://github.com/mozilla/addons-frontend/issues/6227 but I did not see other problems on AMO stage.
Install/loading state/remove work as expected. Also Disabling from add-on manager and then clicking "Enable" from the add-ons detail page works.

[2018-09-12 15:14] muffinresearch commented on #6160
Following conversations with the Percy team last week, I'm going to check with them about the best way to go about this.

[2018-09-12 15:26] muffinresearch commented on #5825
@ioanarusiczki make sure the CDN css is loaded busting any previous cache e.g. with a hard refresh. For me testing on stage the fix works whereas prod (which doesn't have the fix) is still broken.

Simplified STR:

_Note: CDN links are correct at time of testing if in doubt grab the links loaded by the page when testing._

Stage:

* Load https://addons-amo-cdn.allizom.org/amo-642264cdd35b16d4c9286

[2018-09-12 15:29] muffinresearch commented on #5825
I'm closing this issue on the basis it is working on stage. Just need QA to re-validate.

[2018-09-12 15:29] #5825 closed

[2018-09-12 15:38] ioanarusiczki commented on #6227
@willdurand I did not close the add-on manager as you described in https://github.com/mozilla/addons-frontend/issues/6164
Also that loading or pending state is present until "refresh" without clicking "undo" (step3) but as we discussed in https://github.com/mozilla/addons-frontend/issues/5929 and I understood that it won't be fixed.

[2018-09-12 16:27] pwalm commented on #6018
Yep, signed off.

[2018-09-12 16:36] ioanarusiczki commented on #6137
@bobsilverberg
Verified it on AMO stage with FF62(Win10)
The "Fall-themes" and "YouTube boosters" are missing from AMO stage homepage On AMO dev they're available.

[2018-09-12 16:38] vcarciu commented on #6058
Verified as fixed:
![nodescription](https://user-images.githubusercontent.com/1583842/45439798-6b4ebb80-b6c3-11e8-80b4-714339ebe211.png)

[2018-09-12 17:42] jvillalobos commented on #6222
That page was taken down by its developer. You can try asking the other one to remove the link, but there's nothing to fix on the site code.

[2018-09-12 17:42] #6222 closed

[2018-09-12 18:10] bobsilverberg commented on #6137
@ioanarusiczki I believe that you can create those collections on stage, which should unblock testing this on stage. Is that something you can do?

[2018-09-12 18:27] #5930 closed

[2018-09-13 06:15] AlexandraMoga commented on #6125
I'm going to mark this as verified fixed on the basis that it covers the original STR.  A complete fix to cover all scenarios is going to land next week with #6217

![dev hub new window](https://user-images.githubusercontent.com/31961530/45470120-13e93380-b735-11e8-9ed5-fbb9dfd28cef.gif)

[2018-09-13 07:35] AlexandraMoga opened #6232 "A line of code inserted in the review field is not rendered as plain text after review submission"
STR:

1. Log in to AMO
2. Review an addon: your review body should include a code line (i.e. a `<script>`) - check [this](https://addons-dev.allizom.org/en-US/firefox/addon/context-menu/reviews/) for an example
3. Submit your review

Actual result:
The line of code inserted is not rendered in the review body as plain text

Expected result:
The review field should interpret code input as plain text

[2018-09-13 08:35] ioanarusiczki commented on #6137
@bobsilverberg Yes, I created them from django admin pages. Looks better now.
Full validation will be made on prod.

[2018-09-13 13:12] bobsilverberg opened #6236 "Update AddonReviewManager to use RatingManagerNotification"
**For QA**: please check for regressions in the *Saving* / *Saved* notifications that are shown when you update a rating or review.

`RatingManagerNotification` was introduced via https://github.com/mozilla/addons-frontend/pull/6213, and while it's currently being used by `RatingManager` it should also be used by `AddonReviewManager`. It can be used to replace the code at https://github.com/mozill

[2018-09-13 13:30] willdurand commented on #2431
No need to do this anymore, it is built-in! https://greenkeeper.io/docs.html#lockfiles

[2018-09-13 13:30] #2431 closed

[2018-09-13 14:34] #5852 closed

[2018-09-13 14:51] greenkeeper[bot] opened #6239 "An in-range update of react-hot-loader is breaking the build 🚨"
## The devDependency [react-hot-loader](https://github.com/gaearon/react-hot-loader) was updated from `4.3.6` to `4.3.7`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Freact-hot-loader-4.3.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-hot-loader is a

[2018-09-13 16:11] #6225 closed

[2018-09-13 16:14] willdurand commented on #6239
the diff clearly shows that a dependency has been removed (`react-keydown`): https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Freact-hot-loader-4.3.7.

Greenkeeper, you did it wrong that time :)

[2018-09-13 16:14] #6239 closed

[2018-09-13 16:40] kumar303 commented on #5825
FYI: this change triggered a couple minutes of downtime in production for some users (on multiple browsers) while the deployment of https://github.com/mozilla-services/cloudops-deployment/pull/2451 was pushed to the CDN ahead of code deployment.

[2018-09-13 17:16] kumar303 opened #6240 "Installing a non-restartless extension says it is corrupt"
### Describe the problem and steps to reproduce it:

- Go to https://addons.mozilla.org/en-US/firefox/language-tools/
- Follow a link to one of the first dictionaries: https://addons.mozilla.org/en-US/firefox/addon/akan-ns%C9%9Bmfuaasekyer%C9%9B/
- Install it in Firefox 62

### What happened?

It cannot be installed because it's non-restartless, which is not supported. In the browser console:

[co

[2018-09-13 20:37] willdurand commented on #2595
We actually agreed on not doing this (see: https://github.com/mozilla/addons-frontend/pull/6241#discussion_r217512958).

[2018-09-13 20:50] #5944 closed

[2018-09-13 21:18] kumar303 opened #6242 "Collapse text in long add-on reviews"
### Describe the problem and steps to reproduce it:

- Write a really long add-on review
- As a developer of the same add-on, reply to that review with a really long response

### What happened?

It looks pretty bad on the detail page:

<details>
<summary>Full page screenshot</summary>

![screenshot_2018-09-13 sound control add-ons for firefox](https://user-images.githubusercontent.com/55398/45516

[2018-09-13 21:19] kumar303 commented on #5943
For long text, you mean? I agree. I filed this to address it: https://github.com/mozilla/addons-frontend/issues/6242

[2018-09-13 21:20] #6162 closed

[2018-09-13 21:20] #6163 closed

[2018-09-13 21:30] kumar303 commented on #3090
We are no longer displaying a prompt when a user enters or edits their star rating so this issue can be closed.

As of https://github.com/mozilla/addons-frontend/pull/6231 we are showing a different set of screens for submitting reviews. That PR has a screencast you can watch to see it.

[2018-09-13 21:30] #3090 closed

[2018-09-14 05:43] littlegobbler opened #6244 "Firefox Personas"
### Describe the problem and steps to reproduce it: Cannot access firefox personas to install new ones.

### What happened?
Error message pops up.
### What did you expect to happen?
Access firefox personas files.
### Anything else we should know?
https://addons.mozilla.org/en-US/firefox/addon/gb-packers/https://addons.mozilla.org/en-US/firefox/addon/gb-packers/

![error](https://user-images.github

[2018-09-14 06:16] AlexandraMoga commented on #5943
The screencast in https://github.com/mozilla/addons-frontend/pull/6231 does show that the issue I've mentioned in my first point is going to be fixed.

I'm going to mark this issue as verified fixed on AMO dev- with FF62, Win10x64 and Android 8.0.

[2018-09-14 09:01] ioanarusiczki commented on #6225
Tested it on AMO dev.
It is no longer reproducible with FF62 and FF64 (Win10).

[2018-09-14 09:08] AlexandraMoga opened #6246 "Wrong button selection order when navigating with Tab inside the Rate your experience card"
Depends on https://github.com/mozilla/addons-frontend/issues/6579

STR:

1. Log in to AMO dev
2. Go to an add-on detail page
3. Navigate with Tab until you reach the Ratings card
4. Select a star by using your keyboard
5. Press Tab to move the focus on the Write a review button and Enter to open the review text box
6. Write a review
7. Press Tab again until the focus is switched to the Submit revi

[2018-09-14 09:18] ioanarusiczki commented on #5852
Verified on AMO dev FF62(Win10) for the Delete my profile modal - it works now.
The reviews format changed since I filed this issue, still I could check it on AMO stage in the following days. However the modal for making a review is being replaced.

[2018-09-14 11:07] championshuttler opened #6248 "Layout issues for review banner for some languages"
Ref  issue #2056  and PR #6233

After 6233 it looks like
![screenshot_2018-09-14 lastpass add-ons fur android](https://user-images.githubusercontent.com/22130317/45546877-577a9500-b83c-11e8-9ab4-9c981397c00d.png)

Better to add some padding to blue button so it will be easy to read .

[2018-09-14 11:18] willdurand commented on #6240
I have just uploaded this add-on in -dev: https://addons-dev.allizom.org/en-US/firefox/addon/akan-spelling-dict-issue-6240/

[2018-09-14 11:30] AlexandraMoga commented on #6240
@willdurand related to this subject, with the new install buttons, when an add-on can't be installed, there is no error message displayed anymore.

In the previous set-up, when an add-on failed to install, we used to see a prompt mentioning that the addon is "corrupt" or "incompatible" for example.

I've tried with `extensions.webextPermissionPrompts` both `true` and `false`

[2018-09-14 12:41] AlexandraMoga commented on #6162
Verified fixed on AMO dev with FF62, WIn10x64 and Android 8.0

The write a review form closes when selecting Submit or Update review buttons.

![close review form](https://user-images.githubusercontent.com/31961530/45550729-6b21fd80-b834-11e8-9e69-930af69c4ffb.gif)

[2018-09-14 14:08] ioanarusiczki opened #6251 "Install new buttons look like being clicked - highlighted with blue"
STR:
1. Load AMO dev and go to an add-ons detail page
2. Click the install button
3. After the add-on is installed click on "Remove" button
4. Observe the button's "Add to Firefox" borders

Expected result:
"Add to Firefox" button is not highlighted with a blue border.

Actual result:
"Add to firefox" is highlighted.

Notes:
This is reproducible on AMO dev with FF64(Win10).
Reproducible when the e

[2018-09-14 14:13] kumar303 commented on #6240
According to https://hg.mozilla.org/mozilla-central/rev/6b6162e51247#l1.32 , non-restartless extensions were dropped in Firefox 61 (via https://bugzilla.mozilla.org/show_bug.cgi?id=1446686)

[2018-09-14 14:15] kumar303 commented on #6240
@AlexandraMoga

I see the *add-on is corrupt* message with the new install button. Can you file a new bug with STR?

[2018-09-14 14:26] ioanarusiczki opened #6252 "The installation process is interrupted if user navigates into a different tab"
Prerequisites:
This issue is only reproducible with extensions.webextPermissionPrompts true and usually add-ons with permissions that show the add/cancel dialog box when they're installed such as [this one](https://addons-dev.allizom.org/en-US/firefox/addon/magic-actions-for-youtube-test/?src=featured)

STR:
1. Load AMO dev and go to an add-on such as [this one ](https://addons-dev.allizom.org/en-

[2018-09-14 14:40] ioanarusiczki opened #6253 "The installation message should fade away after a while"
Prerequisites:
the extensions.webextPermissionPrompt pref must be set to false

1. Load AMO dev and go to an add-ons detail page and click Install
2. Observe that a confirmation window appears on the right top corner
3. Minimize the browser or navigate into a different tab

Expected result:
If the user won't click on the page or the "ok" the message fades away after a while.

Actual result:
Messag

[2018-09-14 15:10] kumar303 commented on #6240
Ah, here is a more intentional sounding bug (the title, anyway): https://bugzilla.mozilla.org/show_bug.cgi?id=1448221

[2018-09-14 15:38] willdurand commented on #6253
I think this is intentional as it mimics the browser popup.

[2018-09-14 15:41] willdurand commented on #6252
That's a browser behavior I believe. We cannot change that IMO.

[2018-09-14 15:51] willdurand commented on #6251
mmh "active" button state persists it seems.

[2018-09-14 16:01] #6018 closed

[2018-09-14 16:29] rebmullin opened #6254 "Publish storybook to gh-pages - part 2"
this includes setting up storybook config:

https://github.com/mozilla/addons-frontend/pull/6202#issuecomment-420749075

and integrating with travis

[2018-09-14 16:31] #5298 closed

[2018-09-14 17:43] jvillalobos commented on #6252
Seems like it's working as expected. You'll need to click on the button again to restart the process. The alternative would be to somehow make the popup persistent, which would need to be fixed in Firefox and probably isn't great UX.

[2018-09-14 17:49] jvillalobos commented on #6244
Is this is the link you intended to visit? https://addons.mozilla.org/en-US/firefox/addon/gb-packers/

I can access it fine. The one you pasted has the address copied twice, so that's why it doesn't work. Closing because there doesn't appear to be an issue.

[2018-09-14 17:49] #6244 closed

[2018-09-14 21:42] kumar303 commented on #2595
The add-ons reducer was aliasing `iconUrl` to `icon_url` to accommodate this bonkers code in Discopane that everyone was afraid to touch:

https://github.com/mozilla/addons-frontend/blob/d6c8b4a34204f8848bfceae6f5afbe599432fc86/src/disco/containers/DiscoPane.js#L129

This issue was simply about cleaning up the reducer by removing the unused alias:

https://github.com/mozilla/addons-frontend/blob/3

[2018-09-15 18:46] smauvais opened #6258 "Windows 10 Timeline Add-in missing"
### Describe the problem and steps to reproduce it:

Link from https://github.com/DominicMaas/TimelineExtension

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-09-17 08:07] AlexandraMoga opened #6260 "The font style on AMO prod looks different than -dev and stage"
STR:

1. Load AMO on a clean profile
2. Observe the font style - see add-on names, Collection titles etc
3. Compare the page with -dev or stage

Actual result:
On -dev and stage the font is bold-ed while on prod is not

Expected result:
Prod should have the same font style as -dev and stage

Notes:
- font differences are visible also on add-on details page, collections page, user profile etc
- rep

[2018-09-17 08:29] willdurand commented on #6260
I see this message in the console:

[code]

[2018-09-17 08:40] willdurand commented on #6258
I think this extension has been removed and should be submitted again in the future: https://github.com/DominicMaas/TimelineExtension/issues/80.

[2018-09-17 08:40] #6258 closed

[2018-09-17 08:54] ioanarusiczki commented on #2056
Verified fixed on AMO dev with FF62(Android 8.0) Could not reproduce it on desktop either.

![italian](https://user-images.githubusercontent.com/33448286/45613874-4fa33680-ba70-11e8-98a2-475e7035a078.png)
![german](https://user-images.githubusercontent.com/33448286/45613883-5631ae00-ba70-11e8-990c-4a18a5147c3f.png)

[2018-09-17 09:05] AlexandraMoga opened #6261 "There is no error message displayed when an add-on fails to install with the new install buttons"
Follow up for #6240

Prerequisites:
- open an unbranded version of Firefox
- set the following prefs:
`extensions.webapi.testing` =  `true`
`xpinstall.signatures.required` = `false`
`xpinstall.signatures.dev-root` = `true`
- optional pref:
`extensions.webextPermissionPrompts` = `false`

STR:

1. Load AMO dev
2. Search for an add-on that should fail to install - see https://addons-dev.allizom.org/e

[2018-09-17 09:12] #6252 closed

[2018-09-17 09:17] willdurand commented on #5735
We have 2 more voices in favor of `src/<app>/pages`, so looks like we will adopt this directory!

[2018-09-17 09:38] autrilla commented on #6260
Mini-postmortem (probably only interesting for @bqbn)

Looking at the Network graph in DevTools you could see that none of the fonts were getting loaded because of missing Access-Control-Allow-Origin headers in the response. CSS and other static assets loaded fine. I verified that S3 was returning the correct response to CloudFront, and indeed S3 was returning the correct headers. Following this,

[2018-09-17 09:40] AlexandraMoga commented on #6260
Prod look good to me now too:

![image](https://user-images.githubusercontent.com/31961530/45615968-b88dad00-ba76-11e8-801e-e5c52f8d5fd9.png)

[2018-09-17 09:52] hritvi commented on #6208
@willdurand I have upgraded the babel version in my local but know the tests are failing at cloneDeep referenced [here](https://github.com/mozilla/addons-frontend/blob/master/tests/unit/helpers.js#L466).
Error:
`TypeError: Cannot read property 'cloneDeep' of undefined`

I am running the tests with this command `yarn test-coverage-once`
I have pushed my code [here](https://github.com/hritvi/addons-

[2018-09-17 10:11] #5735 closed

[2018-09-17 11:44] #5941 closed

[2018-09-17 11:56] willdurand commented on #2595
mmh I thought it was a more generic issue stating that aliasing `iconUrl` to `icon_url` was counter-productive, not just this prop. I don't understand why we would like to keep a 1:1 binding for this property and not for other props to be honest.

I think so yes.

[2018-09-17 13:02] eviljeff opened #6264 "update privacy policy link on Disco Pane"
@devaneymoz refiled from mozilla/addons-server#9400

At the bottom of the "Get Add-ons" page in the Add-ons Manager (Disco Pane), the Privacy Policy links to an incorrect destination.

Currently it links here:
https://www.mozilla.org/privacy/websites/

Per Mozilla Legal, it should link here:
https://www.mozilla.org/privacy/firefox/#addons

@muffinresearch

[2018-09-17 13:04] ioanarusiczki opened #6265 "Summary's rating bar won't turn yellow after the given rating"
STR:
1. Load AMO dev and go to an add-ons/theme detail page which has no ratings given yet
2. Click a rating star (such as 5/5) and observe the review summary displayed on the right top corner

Expected result:
Number of ratings increased with one and the yellow bar changes color.

Actual result:
The yellow bar that indicated the 5 star rating is still greyed out.

Notes:
This issue is reproducibl

[2018-09-17 13:05] muffinresearch commented on #6264
As per the discussion in mozilla/addons-server#9400 an upstream bug has been filed to fix the issue with the proposed link in that it shows no information without a user interaction. See mozilla/bedrock#6164 for details.

[2018-09-17 13:41] AlexandraMoga commented on #5941
Verified fixed on AMO -dev with FF62, Win10x64 and Android 8.0

![saved rating](https://user-images.githubusercontent.com/31961530/45625846-8b50f700-ba96-11e8-9011-3e91250d13b7.gif)

[2018-09-17 13:44] muffinresearch commented on #6264
@devaneymoz the mozilla.org people are saying it will take some time to fix the link on their side, do we want to wait until they fix it or make this change anyway?

My question for legal would be are we covered by words that are not visible without the user knowing to click a heading?

[2018-09-17 14:02] ioanarusiczki commented on #6163
Verified fixed on AMO dev with FF62(Win10)

![the new inline form](https://user-images.githubusercontent.com/33448286/45627805-657a2100-ba9b-11e8-8f64-8ce92e851b70.gif)

[2018-09-17 14:09] willdurand commented on #3034
Quoted from: https://yarnpkg.com/blog/2016/11/24/offline-mirror/

So.. I suppose we are quite safe now that we use the lock file?

[2018-09-17 14:34] willdurand commented on #6253
I don't know what to think about that to be honest.

[2018-09-17 14:42] willdurand commented on #6261
I can reproduce with a fresh profile. I get this error message in the logs and no prompt:

[code]

I might be wrong but I believe it is a Firefox issue. We do not have control over the pop-ups.

[2018-09-17 14:57] ioanarusiczki commented on #6018
@rebmullin
I see the changes - the new view is available on AMO dev - FF62 - Win10
![new view on desktop](https://user-images.githubusercontent.com/33448286/45631134-e7ba1380-baa2-11e8-851a-2c9f4a99adaf.png)

But on Android (8.0) I still see the old view - AMO dev - FF62
![old view on android](https://user-images.githubusercontent.com/33448286/45631169-fe606a80-baa2-11e8-8490-b72823ce32ca.png)

[2018-09-17 15:00] #6176 closed

[2018-09-17 15:06] ioanarusiczki commented on #5735
@willdurand Could you give some STR for QA testing? Thanks!

[2018-09-17 15:08] willdurand commented on #6018
@ioanarusiczki there is an a/b experiment, so maybe on Android you are in the second cohort (which sees the large hero blocks)

[2018-09-17 15:09] ioanarusiczki commented on #6189
@willdurand Is this issue affecting all AMO pages or is there a more specific area we should focus while testing?

[2018-09-17 15:09] willdurand commented on #6261
So, that's actually our problem.. Quoted from IRC:

[2018-09-17 15:12] willdurand commented on #5735
there should be no regression, if we can still access all the pages of the website, that's fine. It should be enough to browse the homepage, an add-on detail page, its list of reviews, a list of collection, and a user profile.

[2018-09-17 15:13] willdurand commented on #6189
everything

[2018-09-17 15:20] willdurand commented on #6261
@muffinresearch I assumed that all errors (and dialogs) would be handled by FF, but it turns out that it is not the case. I am not sure what we want to do here, but errors should be displayed by addons-frontend. I don't think we have UX for that.

[2018-09-17 15:33] willdurand commented on #6261
Actually, we have all the logic for that in Disco Pane, so I will just reuse that.

[2018-09-17 16:44] willdurand commented on #6261
Bumping priority because it would be nice to have error messages with the new install button.

[2018-09-17 18:15] #2595 closed

[2018-09-17 21:59] bqbn commented on #6260
Assuming this only happened to Chrome browser, it is weird too why Firefox was able to get the CORS related headers without having to invalidate `/*` in CloudFront.

My best guess is that it has to do with what's been described in [1], i.e. Chrome loaded the fonts from its local cache without the Origin header.

[1] https://bugs.chromium.org/p/chromium/issues/detail?id=409090#c7

[2018-09-17 22:00] autrilla commented on #6260
This was reproducible on both Firefox and Chrome, not just in Chrome.

[2018-09-17 22:04] bqbn commented on #6260
Oh, that's interesting. I thought it's only for Chrome, since https://github.com/mozilla-services/cloudops-deployment/pull/2451 was meant to fix a Chrome related issue.

I don't know then. And with the issue being fixed, I guess we can't reproduce it in order to find the cause either. :/

[2018-09-18 00:58] rebmullin commented on #6018
hey @ioanarusiczki, as @willdurand mentions it could be 1 or the other. You can try deleting the cookies tho. You may have to do this a few times tho (as it's a 50% chance to get this).

[2018-09-18 02:47] grahamperrin commented on #3252
https://addons.mozilla.org/en-GB/firefox/search/?q=Rehost%20Image&page_size=100&type=extension&sort=name

At a glance, results _do_ appear to be alphabetical at the head of the first page but then (for example) on the third page, there's _apparent_ mixture (an S in the midst of P listings) –

![2018-09-18 03 44 28 search results add-ons for firefox](https://user-images.githubusercontent.com/192271

[2018-09-18 07:55] ioanarusiczki commented on #6018
@rebmullin @willdurand I got lucky from the first try this morning.
Verified fixed on AMO dev - FF62(Win10 &Android 8.0)

Android
![newbannersandroid](https://user-images.githubusercontent.com/33448286/45672626-56de4900-bb31-11e8-8aa0-f3143885fcb8.png)

[2018-09-18 09:32] ioanarusiczki opened #6271 "The previous text is displayed after changing the star rating"
STR:
1. Load AMO dev, login and go to an add-ons detail page to make a rating
2. Click the Read all reviews link and open the reviews page
3. Click on "Edit my review" and edit the text then click on a star to change it's rating (or the same star)
4. Observe the text

Actual result:
The previous without edits is visible.

Expected result:
The edited text is available.

Notes:
Reproducible on AMO d

[2018-09-18 09:41] ioanarusiczki opened #6272 "Bigger stars for editing ratings for the review listing page"
STR:
1. Load AMO dev and from an add-ons detail page make a review.
2. Open the review listing page and click the Edit my review button.
3. Try to modify the rating -tap on a star.
4. Observe the rating stars.

Expected:
Stars are easy to tap without zoom in.

Actual:
Stars are small andnot too easy to tap without zoom in.

Notes:
Reproducible on AMO dev with FF62(Android 8.0)

![android stars](ht

[2018-09-18 10:57] muffinresearch opened #6274 "A/B tests should be controlled by config flags"
The A/B test for the hero page doesn't currently have a config flag. One should be added since this will make it easier to enable in various envs as well as ensuring if we need to turn it off it's easy to do so.

[2018-09-18 11:49] diox opened #6275 "Redirect user profile URLs using user id to the canonical variant using username"
### Describe the problem and steps to reproduce it:
- Visit https://addons.mozilla.org/en-US/firefox/user/4757633/

### What happened?
- The page loads directly

### What did you expect to happen?
- The client should be redirect to the canonical URL using the username instead of the user id, which is https://addons.mozilla.org/en-US/firefox/user/mozilla/

### Anything else we should know?
- We do

[2018-09-18 11:55] eviljeff commented on #6275
Didn't we do this already? #5594

[2018-09-18 12:38] Riajyuu commented on #3954
@ioanarusiczki how indeed?
all I get is this on Firefox 63.0b6

![image](https://user-images.githubusercontent.com/16912240/45688018-c9562580-bb3f-11e8-929f-5a60b4e08788.png)

[2018-09-18 12:39] willdurand commented on #3954
@Riajyuu it is not enabled in -prod yet.

[2018-09-18 12:40] bobsilverberg commented on #6271
This is because the review text is not saved automatically, and when the rating is changed the component reloads, losing the previously typed text. Perhaps this "review text" field is a good candidate for auto-saving? We discussed this when looking at the Edit Collection flow, noting that it can be confusing when one element is auto-saved (in this case the star rating), but another is only saved w

[2018-09-18 12:41] ioanarusiczki commented on #5944
Verified on AMO dev with FF62(Win10 and Android 8.0)
Filed 2 issues here https://github.com/mozilla/addons-frontend/issues/6272 and here https://github.com/mozilla/addons-frontend/issues/6271

@kumar303 I need a confirmation for this because I think it is an expected behavior but not completely sure : if the text box is opened for edit on the detail page it will be displayed as open on the listing

[2018-09-18 14:05] diox commented on #6275
We support the URLs, but they should redirect instead of loading the page directly.

[2018-09-18 15:15] #6274 closed

[2018-09-18 16:04] #6240 closed

[2018-09-18 16:07] #6261 closed

[2018-09-18 16:26] #2771 closed

[2018-09-18 16:53] willdurand opened #6279 "Add flow types to Disco store"
Supports #2917

---

In order to make the disco pane code easier to update (and more readable), we should have more flow coverage. This issue is about adding flow types to the disco store.

[2018-09-18 17:18] #6130 closed

[2018-09-18 17:19] bobsilverberg commented on #6130
For QA: Please verify that there are no regressions with any of the ratings and reviews functionality.

[2018-09-18 17:38] jvillalobos opened #6282 "Taqbaylit language pack doesn't appear on Language Tools page"
Maybe same issue as https://github.com/mozilla/addons-frontend/issues/6145.

[This language pack](https://addons.mozilla.org/addon/taqbaylit-language-pack/) doesn't show up in the English version of the [Language Tools](https://addons.mozilla.org/en-US/firefox/language-tools/) page. It doesn't appear on the Spanish version either.

However, if you go to the version of the page localized for that l

[2018-09-18 18:38] #4087 closed

[2018-09-18 18:55] willdurand commented on #4087
awesome, thanks @hritvi!

[2018-09-18 19:27] greenkeeper[bot] opened #6283 "An in-range update of snyk is breaking the build 🚨"
## The devDependency [snyk](https://github.com/snyk/snyk) was updated from `1.95.3` to `1.96.0`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Fsnyk-1.96.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a devDependency of this project. It **might not br

[2018-09-18 22:27] kumar303 opened #6286 "Tighten up home page shelf on mobile"
As a follow-up to https://github.com/mozilla/addons-frontend/issues/4087 , the shelf needs tightening up to match the mock provided in https://github.com/mozilla/addons-frontend/issues/4087#issuecomment-370063825

[2018-09-18 22:40] kumar303 commented on #5986
OK, I'll address that scenario, too.

[2018-09-19 08:11] #562 closed

[2018-09-19 08:11] #6164 closed

[2018-09-19 08:11] #6227 closed

[2018-09-19 08:51] willdurand opened #6289 "Clicking a link to a review triggers a page refresh"
### Describe the problem and steps to reproduce it:

1. Go to the page listing the reviews of an add-on
2. Click the relative time of one review (it has a link)

### What happened?

A page refresh.

### What did you expect to happen?

Client-side navigation, no page refresh.

### Anything else we should know?

The problem comes from these lines: https://github.com/mozilla/addons-frontend/blob/3547

[2018-09-19 09:38] willdurand opened #6292 "Add flow types to Disco reducers and sagas"
Supports #2917

---

In order to make the disco pane code easier to update (and more readable), we should have more flow coverage. This issue is about adding flow types to the disco reducers and sagas.

[2018-09-19 11:27] willdurand opened #6294 "Add flow types to Addon disco component"
Supports #2917

---

In order to make the disco pane code easier to update (and more readable), we should have more flow coverage. This issue is about adding flow types to the `Addon` disco component.

[2018-09-19 11:38] bobsilverberg commented on #6289
I changed this from a `Link` to an `<a>` when I made just the timestamp the link rather than the whole `byLine`. Because `timestamp` is a string, I don't think we can just switch the `<a>` back to a `Link`. I suppose we could break it up into separate parts, but that would mess with l10n.

Like you, I'm not sure how to fix this. Perhaps we could change the text so that it always says `posted [time

[2018-09-19 12:31] ioanarusiczki commented on #6274
@willdurand Could you provide some STR for qa or mark it with "qa not needed"
Thanks!

[2018-09-19 12:32] willdurand commented on #6274
@ioanarusiczki you should see the Home Hero experiment in -dev but it should not be enabled in -stage. I think checking that there is no cookie (`experiment_home_hero`) is enough.

[2018-09-19 13:59] stillcut opened #6296 "Qwant Junior Addon not available"
### What happened?

The page for Qwant junior Addon is unavailble

### What did you expect to happen?

Acces to the download of Qwant Junior Addon

### Anything else we should know?

The link should be : https://addons.mozilla.org/fr/firefox/addon/qwant-junior/

[2018-09-19 14:13] ioanarusiczki commented on #6274
I checked it - AMO dev and AMO stage - FF62(Win10).

On AMO dev - new banners + cookie
![cookie](https://user-images.githubusercontent.com/33448286/45758735-fcc3ad80-bc2e-11e8-8172-f43a934cc7f2.png)

On AMO stage - no cookie available and the old banners are still displayed

[2018-09-19 14:18] willdurand opened #6297 "Enable Home Hero experiment in -stage and -prod"
The patch for #6018 has introduced an A/B experiment (`home_hero`). It is disabled by default and only enabled in -dev _via_ #6274. This issue is for enabling the experiment in -prod (and therefore -stage).

[2018-09-19 14:29] ioanarusiczki commented on #6189
Verified fixed on AMO dev with FF62, FF64 (Win10)

[2018-09-19 14:33] kumar303 commented on #6271
This is a bug we should fix. When a user changes the star rating, they should not lose any text that they might have written.

[2018-09-19 14:35] ioanarusiczki commented on #5735
This has been verified in detail for https://github.com/mozilla/addons-frontend/issues/6189
I'm marking this issue verified fixed on AMO dev with FF62(Win10).

[2018-09-19 14:45] ioanarusiczki commented on #2595
@willdurand Is this for "qa not needed" label or is there something we could test ?

[2018-09-19 15:03] ioanarusiczki opened #6300 "The review form should not be left open when switching pages"
Followup for https://github.com/mozilla/addons-frontend/issues/5944

STR:
1. Load AMO dev and make a review on the detail page for an add-on/theme
2. Click edit my review, observe that the form is opened
3. Click Read all reviews link
4. Observe the review text box

Expected results:
The text box is closed - once edit my review is clicked it will open the form.

Actual results:
The text box is in

[2018-09-19 15:06] #6297 closed

[2018-09-19 15:50] #6279 closed

[2018-09-19 16:31] #6254 closed

[2018-09-19 16:59] devaneymoz opened #6302 "27 September homepage content update"
Please update homepage content for the **27 Sept** push as detailed in the programming [doc](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @bobsilverberg

[2018-09-19 17:41] bobsilverberg opened #6303 "Add a route for /addon/:addonSlug/reviews/:reviewId/"
We landed a patch which implements a new page at `/addon/:addonSlug/reviews/:reviewId/`, so we need a new nginx route for it. It has landed on dev and will go to production tomorrow (Sept. 20).

Please let me know if there are any questions or concerns.

[2018-09-19 17:48] willdurand commented on #6303
With or without trailing slash?

[2018-09-19 17:49] bobsilverberg commented on #6303
Oops, with a trailing slash. I will update the description.

[2018-09-19 17:50] jvillalobos commented on #6296
The add-on has been taken down due to pending code review issues. It should be back up once the developer addresses them.

[2018-09-19 17:50] #6296 closed

[2018-09-19 18:37] bqbn commented on #6303
The change has been applied to -dev and -stage. Please test.

[2018-09-19 18:43] lisaann51 opened #6304 "When I want to add a new theme to my collection after I have signed in it doesn't let me."
I get an error message:

### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-09-19 19:21] kumar303 commented on #6304
Hi, thanks for the bug report. Sorry you are having trouble. What is the URL for the theme you were trying to install? What is the name?

[2018-09-19 19:44] kumar303 opened #6305 "Hide edit link when confirming review deletion"
STR:
- Select a star to rate an add-on
- Write a review and submit the review
- Click *Delete my review* to open the confirmation screen.

You see this:

<img width="358" alt="screenshot 2018-09-19 14 42 51" src="https://user-images.githubusercontent.com/55398/45777040-4d7cdb80-bc1a-11e8-96e3-f10ff9ec59e9.png">

...but the *Edit my review* link should be hidden.

This came up as feedback in a rece

[2018-09-19 19:48] kumar303 opened #6306 "Clicking a review permalink reloads the entire page"
### Describe the problem and steps to reproduce it:

- Find an add-on with more than one review
- Click *Read reviews* to see the list
- Click on the timestamp of any review to see its detail page

### What happened?

The whole page gets reloaded in the browser

### What did you expect to happen?

Just like for other internal links, the page should not reload.

### Anything else we should know?

T

[2018-09-19 19:50] willdurand commented on #6306
Duplicate of https://github.com/mozilla/addons-frontend/issues/6289?

[2018-09-19 19:52] kumar303 commented on #6306
Indeed. Whoops.

[2018-09-19 19:52] #6306 closed

[2018-09-19 20:13] kumar303 commented on #6289
Whoa. That's tricky. It's important that the localizers are able to position `%(timestamp)s` where they need to within the sentence.

We could use a placeholder, split on it, then reconstruct the string, maybe?

[code]

[2018-09-19 20:38] kumar303 opened #6308 "After rating, immediately show the review form (A/B test)"
### Describe the problem and steps to reproduce it:

- Sign in
- Go to an add-on you've never rated
- Select a star to enter a rating

### What happened?

You see a *Write a review* button

### What did you expect to happen?

You should see a review entry form immediately

### Anything else we should know?

We have a hypothesis that the *Write a review* button will discourage people from actually

[2018-09-19 20:41] #6292 closed

[2018-09-19 20:41] willdurand commented on #6292
For QA: please check that the disco pane displays the list of add-ons as usual and that it is possible to install add-ons.

[2018-09-19 21:11] kumar303 opened #6309 "No loading indicators when paging through user profile reviews"
### Describe the problem and steps to reproduce it:

- Sign in
- Leave lots of reviews
- View your user profile
- Click *Next* to see the next page of your reviews

### What happened?

The page loads without loading indicators

<details>
<summary>Screencast</summary>

![addons-frontend-profile-reviews mov](https://user-images.githubusercontent.com/55398/45781714-68554d00-bc26-11e8-9dc0-93140457593

[2018-09-19 22:29] kumar303 commented on #6265
Thanks for the report. This will be fixed in https://github.com/mozilla/addons-frontend/issues/5986

[2018-09-19 22:50] kumar303 commented on #6224
Good catch. We should use center alignment for all of them.

[2018-09-19 22:52] kumar303 commented on #6223
I can see how that might be a bit disorienting. It might be hard to fix, though.

[2018-09-19 22:55] lisaann51 commented on #6304
here is the Autumn Morning Serenity by MaDonna – Add-ons for Firefox
I can't even get into my ones I have saved in my collections

 Lisa

|
|
|  |
Autumn Morning Serenity by MaDonna – Add-ons for Firefox

 |

 |

 |

   On Wednesday, September 19, 2018, 12:21:58 PM PDT, Kumar McMillan <notifications@github.com> wrote:

Hi, thanks for the bug report. Sorry you are having trouble. What is the URL fo

[2018-09-19 23:43] rebmullin opened #6310 "Add flow types to Button component"

[2018-09-20 06:33] willdurand commented on #6253
ah wait, it is an AMO issue here because of the pref mentioned in the OP.

[2018-09-20 06:50] willdurand commented on #2595
@ioanarusiczki in -dev and - stage, there should be no regression in disco pane. Add-on icons should be correctly displayed everywhere.

[2018-09-20 06:52] AlexandraMoga opened #6311 "A developer response is interpreted as a user review when accessed via the permalink from the user profile"
STR:

1. Log in to AMO stage with a developer account
2. Go to your profile page
3. Scroll down to the user reviews section and locate a developer reply (leave one now if you don't have any)
4. Click on the permalink to see your reply on the add-on reviews page

Actual result:
The developer reply is displayed as a user review, with rating stars next to it and with an Edit my review and Delete my r

[2018-09-20 07:06] AlexandraMoga commented on #6311
Also, this is how it looks like when a user clicks on a developer reply permalink on the add-on reviews page:

![image](https://user-images.githubusercontent.com/31961530/45801445-984f2f80-bcbc-11e8-8cac-a5d528e28bc2.png)

[2018-09-20 07:18] AlexandraMoga commented on #6311
One more weird scenario when you try to actually rate a developer reply by clicking Edit my Review:

![rating a reply](https://user-images.githubusercontent.com/31961530/45802080-78b90680-bcbe-11e8-9125-924e178e77a2.gif)

[2018-09-20 07:24] AlexandraMoga opened #6312 "The tooltip text for the a developer response permalink should be 'Go to this reply'"
Follow up for #2771

STR:

1. Log in to AMO stage with a developer account
2. Go to your profile page
3. Scroll down to the user reviews section and locate a developer reply (leave one now if you don't have any)
4. Hover over the permalink next to your developer response
5. Observe the tooltip text

Actual result:
The tooltip text is 'Go to this review'

Expected result:
The tooltip text is 'Go to

[2018-09-20 07:39] willdurand opened #6314 "Fix discoResults state"
Supports #2917

---

In order to make the disco pane code easier to update (and more readable), we should have a better state for the `discoResults` reducer. Currently, this reducer has a non-object state (array), which makes it difficult to add new properties to the state.

This issue is about changing the state shape from array to object.

For QA: please make sure Disco Pane still lists the add-