[2017-08-29 17:36] kumar303 commented on #3020
Awesome! Thanks for diving into that.

[2017-08-29 17:36] #3020 closed

[2017-08-29 17:43] kumar303 commented on #3019
Hmm. The way this bounces is pretty terrible. However, I couldn't think of a realistic search term that would reproduce it. We should keep an eye on this.

[2017-08-29 17:51] tofumatt commented on #3019
Fair enough actually. It might be we just want fewer loading text suggestions too.

There are also a few issues with the spacing jumping around a tiny bit but I’m working on that after rebasing the header changes onto the new search suggestions...

[2017-08-29 18:54] kumar303 commented on #2991
This works now

[2017-08-29 18:54] #2991 closed

[2017-08-29 19:42] kumar303 commented on #3017
lol at love vs hate. Good catch, @ValentinaPC. I actually remember seeing this locally (d'oh) but I couldn't reproduce it so I thought it was fleeting.

[2017-08-29 20:04] kumar303 commented on #2449
I think it might still be valid. Here are the updated links:

* standalone CSP tests: https://github.com/mozilla/addons-frontend/blob/master/tests/unit/TestCSPConfig.js
* CSP middleware tests: https://github.com/mozilla/addons-frontend/blob/master/tests/unit/core/middleware/test_cspMiddleware.js

[2017-08-29 20:15] kumar303 opened #3024 "Make add-on reducer state more explicit"
It's really tough to see what properties we actually store in the add-on reducer state. This has led to numerous bugs and has also made it tricky to add new add-on properties.

I'd like to start by restructuring the reducer a bit and getting rid of all spreads, carefully. This will be focused on preparing to solve the following bugs:

* Lack of platform support: https://github.com/mozilla/addons-f

[2017-08-29 20:18] willdurand commented on #3024
I was feeling the same when thinking about new features to add. Semi-related, I have converted the addon code into a ducks module: https://github.com/willdurand/addons-frontend/commit/933f81cfd86ece933e6149186fe4a2f168c6b609.

[2017-08-30 08:41] ValentinaPC commented on #3017
Verified as fixed on AMO-dev FF55(Win 7).
Postfix video:
![free](https://user-images.githubusercontent.com/15685960/29863255-c3887bae-8d77-11e7-9dd4-2b1ba6be787e.gif)

[2017-08-30 09:19] willdurand commented on #2890
Hi @ValentinaPC, I cannot reproduce the issue in dev, can you confirm? Thanks!

[2017-08-30 09:45] SVSanta commented on #3020
Verified as fixed on AMO-dev FF55(Win 10).
For: refresh, login, restart, submit theme, extension, developer hub, reviewer tools, admin tools, approve, reject, comment, Thunderbird, seamoneky, android, multiple users, etc.

[2017-08-30 09:58] ValentinaPC commented on #2890
Hi @willdurand, seems like this got fixed somehow during the way. I cannot reproduce either.
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1)
Postfix screenshot:
![rm](https://user-images.githubusercontent.com/15685960/29866446-14f2a8ee-8d81-11e7-8bb2-ba4d72d41af9.png)

[2017-08-30 09:58] #2890 closed

[2017-08-30 10:01] willdurand commented on #2890
Potential explanation: I fixed a bug on this detail page (#3017) to make sure it loads the data correctly.

[2017-08-30 10:10] ValentinaPC opened #3026 "Short description has "Read More" link"
Steps to reproduce:
1. Load details page for an add-on with short description i.e. https://addons-dev.allizom.org/en-US/firefox/addon/adblock-edge/

Expected results:
No "Reed More" link.

Actual results:
"Read More" link is present even if the description is 1 row long.

Notes/Issues:
Verified on FF55(Win 7, Android 7.2.1). Issue is reproducing on both dev and stage.
Screenshot for this issue:
![

[2017-08-30 13:31] willdurand opened #3028 "Search button title is not clear"
Translators [do not really understand the purpose/meaning of the title of the (hidden) search `button`](https://github.com/mozilla/addons-frontend/commit/9fb119bf608a649d0ecad0c5de6d0e8401327918). It was not translated before, that is why it has only been revealed recently.

~~I propose to update it from `Enter` to `Search`.~~

I propose to remove this `title` attribute, the button text should be

[2017-08-30 13:46] yfdyh000 commented on #3028
I translated it to "Press Enter key to search", which is not correct?

[2017-08-30 14:16] willdurand commented on #3028
Unfortunately, it is not exactly that.

Removing this `title` attribute would make sense actually.

[2017-08-30 14:52] tofumatt opened #3030 "Autocomplete files when clicking on an already-run search"
### Describe the problem and steps to reproduce it:
If you type a search term into the search box, let the results load, click away, and then focus the search again, it will run the autocomplete search a second time despite having local results. This creates an unneeded network request and also feels a bit too frantic.

### What happened?
The autocomplete action dispatched again despite the filter

[2017-08-30 14:52] willdurand opened #3031 "Autocomplete `fetchAutocompleteResults` saga should be cancelled on AUTOCOMPLETE_CANCELLED"
When the action `AUTOCOMPLETE_CANCELLED` is fired, it should not only reset the `autocomplete` state but also cancel the saga to prevent the state to update after (with new loaded suggestions).

[2017-08-30 14:55] tofumatt opened #3032 "Clicking on an autocomplet result clears the search input"
### Describe the problem and steps to reproduce it:
After autocomplete suggestions are loaded, if one is clicked the search input is cleared, which I don't expect. It's nice to keep it around (it gives context to what you searched for) and that isn't the case when browsing through the site with a "normal" search. Leaving it there after #3030 is fixed would also let a user click through to multiple

[2017-08-30 15:12] kumar303 commented on #2823
Refactoring the add-on reducer in https://github.com/mozilla/addons-frontend/issues/2823 is going to help out with this

[2017-08-30 17:10] kumar303 opened #3034 "Verify integrity of dependencies in production with yarn"
After https://github.com/mozilla/addons-frontend/issues/1391 we will be using `yarn` to install dependencies in production.

Let's make sure all packages get installed without any surprises.

* A production install should never upgrade a package or its dependencies, even if a sub-dependency is declared with a loose version range. Please see [this detailed example](https://github.com/mozilla/addons

[2017-08-30 17:10] kumar303 commented on #1391
I moved the `yarn check` bit to https://github.com/mozilla/addons-frontend/issues/3034

[2017-08-30 17:50] #1391 closed

[2017-08-30 18:03] #3028 closed

[2017-08-30 18:57] tofumatt opened #3035 "Add app switcher for Firefox/Android"
### Describe the problem and steps to reproduce it:
There should be a way to switch any page between `clientApp`s. See: https://github.com/mozilla/addons-frontend/pull/2995#discussion_r135637960

This could be integrated into the search filters, but it might be nice to switch between client apps anywhere on the page, in case you arrive on an Android page but mean to search using Firefox.

[2017-08-30 19:46] willdurand commented on #3034
Where should we run the `check` command?

[2017-08-30 20:20] kumar303 commented on #3034
Probably right before we run `yarn install` https://github.com/mozilla/addons-frontend/blob/master/Dockerfile#L23

but I don't think we should spend time on this issue yet. I have a feeling we need to solve https://github.com/mozilla/addons-frontend/issues/2431 first which may not be so trivial.

[2017-08-30 20:45] kumar303 opened #3037 "Add yarn gpg key to the repository instead of fetching it each time"
Let's fix up the Dockerfile after https://github.com/mozilla/addons-frontend/pull/3033 so that we use a yarn gpg key that has been committed to the `addons-frontend` repo instead of fetching it from the Internet each time.

We can follow the pattern here: https://github.com/mozilla/addons-server/blob/master/Dockerfile#L6-L13

[2017-08-30 20:45] kumar303 commented on #3037
@willdurand I got this suggestion from jason. Could you take a look at fixing this up?

[2017-08-31 01:05] tofumatt commented on #1428
Definitely did this ages ago and forgot about this bug... UX has changed slightly, but it'd say it's done.

[2017-08-31 01:05] #1428 closed

[2017-08-31 01:06] #2503 closed

[2017-08-31 01:06] #2611 closed

[2017-08-31 01:06] #2810 closed

[2017-08-31 01:06] #2956 closed

[2017-08-31 08:22] grahamperrin opened #3038 "Allow readers to prefer more than 25 per page"
With desktop Firefox at `addons.mozilla.org` I often find myself with dozens of pages of results.

Not through laziness – contributory factors include [Improve relevancy of search results · Issue #2661 · mozilla/addons-server](https://github.com/mozilla/addons-server/issues/2661) – I too often feel that I'm _wading_ through page after page after page …

## Enhancement request

Please allow greater

[2017-08-31 08:23] grahamperrin commented on #2932
[Allow readers to prefer more than 25 per page · Issue #3038 · mozilla/addons-frontend](https://github.com/mozilla/addons-frontend/issues/3038)

[2017-08-31 08:55] ValentinaPC commented on #2956
The new sort widget was implemented.
Verified this on AMO-dev FF55(Win 7)
Postfix screenshot:
![sort](https://user-images.githubusercontent.com/15685960/29914984-09c28c7e-8e43-11e7-8b67-63b55c8ec36a.png)

@tofumatt : the last filter criteria - Browser version - was not added tho the new sort widget, intended?

[2017-08-31 09:01] grahamperrin commented on #3038
I wasn't aware of (or had completely forgotten) the _View Mobile Site_ switch –sorry!

Now <https://addons.mozilla.org/firefox/search/?q=wayback+machine> looks good to me.

[2017-08-31 09:07] ValentinaPC opened #3039 "Filter options don't work in any category pages"
Steps to reproduce:
1. Load any add-on/theme category i.e. https://addons-dev.allizom.org/en-US/firefox/extensions/bookmarks/
2. Change a filter criteria

Expected results:
Filter criteria is changed. Results are listed accordingly.

Actual results:
Nothing happens.

Notes/Issues:
Verified on AMO-dev FF55(Win 7, Android 7.2.1).
Video for this issue:
![filter](https://user-images.githubusercontent.

[2017-08-31 09:12] ValentinaPC opened #3040 "The drop-down arrows from the Filter menu options are not RTL"
Steps to reproduce:
1. Load any page that display the Filter menu i.e. https://addons-dev.allizom.org/en-US/firefox/search/?sort=updated&type=extension
2. Change the language to a RTL one i.e. https://addons-dev.allizom.org/fa/firefox/search/?sort=updated&type=extension

Expected results:
There are no issues in the filter menu section.

Actual results:
The drop-down arrows from the filter menu opt

[2017-08-31 09:48] tofumatt commented on #2956
Yes, we decided not to add the browser version.

Matthew Riley MacPherson

[2017-08-31 10:21] ValentinaPC commented on #2956
Based on above comments we can mark this verified-fixed.

[2017-08-31 10:38] willdurand commented on #3037
Just out of curiosity, what's the benefit of versioning the GPG key?

[2017-08-31 13:55] willdurand commented on #3032
That was intentional because I thought either you trigger the search because suggestions are not helpful or you found what you were looking for and only want to quickly get to it.

Of course, leaving the search query would also make sense, as you said, to give context.

[2017-08-31 14:37] muffinresearch commented on #3037
It saves depending on an additional network request.

[2017-08-31 14:41] muffinresearch commented on #3026
@ValentinaPC I don't see this any more on -dev:

<img width="1102" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/29929213-d277386c-8e62-11e7-9ae5-e1294cf5cb98.png">

[2017-08-31 14:47] ValentinaPC commented on #3026
Seems like it is happening only if an add-on details page that has a short description is loaded after an add-on details page with long description.
Might be related to #3017 or might be caching?
Please see video:
![rm](https://user-images.githubusercontent.com/15685960/29929493-517efa76-8e74-11e7-8a38-5b55f0f5471f.gif)

[2017-08-31 15:11] willdurand commented on #3030
So, what happens here is that when you loose `focus`, [`onSuggestionsClearRequested`](https://github.com/moroshko/react-autosuggest#onsuggestionsclearrequested-required-unless-alwaysrendersuggestionstrue) is called. It fires the `AUTOCOMPLETE_CANCELLED` action, which resets the state (`suggestions = []`) as indicated in the documentation of the `onSuggestionsClearRequested` method. That is why it

[2017-08-31 15:23] kumar303 commented on #3026
Yep, I can reproduce it too:

* Go to https://addons-dev.allizom.org/
* Search for 'ad block edge'
* Pick Image Block from the search suggestions
* Search again for 'ad block edge'
* Pick Ad Block Edge from the search suggestions

[2017-08-31 15:26] kumar303 commented on #3037
Also, sometimes ops will set up our production machines so that they can only make external requests to a strict set of hosts. I don't think they're doing that for this case but, just in general, fetching external resources introduces attack vectors.

[2017-08-31 15:30] willdurand commented on #3037
thanks for your replies!

[2017-08-31 15:53] #2938 closed

[2017-08-31 16:59] kumar303 opened #3045 "Restrict line length to 80 characters (adjust eslint rule)"
Code lines restricted to 80 characters lets you use many horizontal split screens in your editor which is nice.

[code]

We discussed it here: https://github.com/mozilla/addons-frontend/pull/3036#discussion_r136206566

Unfortunately, `yarn eslint -- --fix` cannot help with this.

**Please ask before fixing this issue as it will be hard to review and could introduce merge conflicts**.

[2017-08-31 17:00] kumar303 commented on #3045
As a stepping stone we could maybe do `ignoreStrings: true` and `ignoreTemplateLiterals: true`.

[2017-08-31 17:03] willdurand commented on #3045
I think I mentioned it already, but maybe [Prettier](https://github.com/prettier/prettier) could help here. At least, it would avoid introducing bugs.

[2017-08-31 17:03] muffinresearch commented on #3045
@kumar303 this could be something worth considering prettier for as suggested by @willdurand.

[2017-08-31 17:04] muffinresearch commented on #3045
@willdurand snap! - I've played with it I think it's pretty good it really does format the code like we mostly have it. The only real nit is the requirement of a post-save / pre-commit hook.

[2017-08-31 17:05] muffinresearch commented on #3045
As long as we can either fail when files don't follow it / or have a bot add a commit having run it, it would probably not get in the way.

[2017-08-31 17:07] muffinresearch commented on #3045
FWIW: I started a patch to do 80chars and it was epic. On that basis alone, switching to use prettier would probably be quite a lot easier to implement.

[2017-08-31 17:08] #3037 closed

[2017-08-31 17:11] willdurand commented on #3045
Well, we can maybe run prettier time to time? Given the intensity on code reviews, I dont think things will diverge too much from our standards.

[2017-08-31 17:14] #3040 closed

[2017-08-31 17:30] kumar303 commented on #3045
I'm kinda scared to see the initial patch that ports us to Prettier but I'm open to using it :) I've never really looked at it. I always assumed there would be some annoying little edge case where you want to format something a certain way and it won't let you.

[2017-08-31 17:38] kumar303 commented on #3035
Do we need to add this for Q3? It seems like a nice feature but we only have a month left 😬

[2017-08-31 17:41] willdurand commented on #3045
That's also a strength: no more personal opinion, the tool becomes the source of truth 😛

[2017-08-31 17:42] tofumatt commented on #3035
Probably not then.

[2017-08-31 17:54] kumar303 commented on #2571
I think it would be nice to address this for Q3 if possible. Otherwise we can kick it out.

[2017-08-31 18:43] #3012 closed

[2017-08-31 18:59] muffinresearch commented on #3045
Alright I'll put a patch together to see what it look like - that'll be a good way for everyone to see if they're on board with Prettier's output as a starting point.

[2017-08-31 19:09] muffinresearch commented on #3035
Another way to deal with this is pro-actively notifying the user if they're looking at the Android site having followed a link but are actually using a desktop browser. That could also provide a link to the alternative version.

[2017-08-31 19:13] tofumatt commented on #3035
I think both of those things are useful, yeah. It’s sort of a separate bug though, as I’d want the notice to be dismissible/only on the first page. This switcher could/should be site-wide.

[2017-08-31 19:51] kumar303 opened #3049 "Declare language for user localized text"
### Describe the problem and steps to reproduce it:

* Browse the site in your default locale (such as French)
* Go an add-on detail page where the default locale of the description is something other than French (say, English)

### What happened?

The section of the text in English does not have a `lang` attribute which means it will be interpreted as French (or whatever locale is in the URL).

#

[2017-08-31 20:08] #3031 closed

[2017-08-31 20:32] willdurand commented on #2767
I have asked for an API update for this feature: https://github.com/mozilla/addons-server/issues/6285.

[2017-08-31 23:32] tofumatt commented on #3039
Odd, I didn't think the sorts should appear here. I'll either remove them or fix this depending on effort involved...

[2017-09-01 01:37] tofumatt commented on #3039
This is a regression from the addition of `SearchFilters` over `SearchSort`. Looks like we didn't update `enableSearchSort={false}` to `enableSearchFilters={false}`.

We can update the categories to support filters but that's more involved and a separate bug. For now we'll restore the old UX and this bug will go away.

[2017-09-01 07:21] ValentinaPC commented on #3031
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-09-01 07:25] ValentinaPC commented on #3040
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1)
Postfix screenshot:
![rtl](https://user-images.githubusercontent.com/15685960/29959427-eaad4492-8eff-11e7-979d-4cb70b87c1fe.png)

[2017-09-01 07:28] willdurand commented on #3031
@ValentinaPC sorry but what does STR mean?

No regression should be observed on the search autocompletion. It should still be possible to select suggested add-ons multiple times, with different search terms.

[2017-09-01 07:43] ValentinaPC commented on #3031
@willdurand : "Steps to reproduce" for QA testing.

[2017-09-01 09:37] tofumatt commented on #3031
I think for this particular issue (as the issue itself is just about the saga code) it can be marked as QA: not needed 😄

[2017-09-01 09:44] #3039 closed

[2017-09-01 09:49] willdurand opened #3053 "Add search widget to the Category page"
Refs #2956 #3039 #3051

---

The search page has a search widget with filters. We should probably add it to the Category page too since this page reuses the search feature. We might have to disable some filters though (I am thinking about the `addonType` filter for instance).

Both Category and Search (results) pages are similar, we can therefore reuse the same UI.

[2017-09-01 09:51] willdurand commented on #1751
I'll work on that once the new header gets merged. I think #2745 should be done at the same time too given the previous discussions here.

[2017-09-01 10:18] vcarciu opened #3054 "Featured add-on disappear while hovering over featured section for any Category"
Steps to reproduce:
1.From https://addons.mozilla.org/en-US/firefox/ , select any category (ie, https://addons.mozilla.org/en-US/firefox/extensions/download-management/)
2.Hover over Featured add-ons section

Expected results:
The focus will be on the add-on which is hovered, without any issues

Actual results:
While hovering over them, one of the add-ons disappear

NOTES:
NOT reproducible on Stag

[2017-09-01 10:19] muffinresearch commented on #3054
@vcarciu since this affects the current addons-server site would you mind refiling it there?

[2017-09-01 10:27] muffinresearch opened #3055 "mozAddonManager install buttons are not version aware"
I had a beta version of ublock origin installed. As far as mozAddonManager is aware, based on the guid I have that add-on installed. However _**I didn't have the latest version installed**_. I was able to get the latest version by clicking the install button to remove it and re-install.

It made me think it would be nice if the UI reflected that I have the add-on installed but could also offer me

[2017-09-01 10:30] muffinresearch commented on #3003
For the future recommendations engine work will need a fall-back in any case so anything we do here will have a future use as a fallback.

First step is to decide what's the most appropriate data to show, maybe top X for the same categories as the current add-on?

[2017-09-01 10:39] muffinresearch opened #3056 "Remove theme previews"
Since future web-ext based lightweight themes don't allow preview and install and uninstall is quick and easy I'd like to propose we remove the theme preview feature everywhere.

@jvillalobos are you ok for us to do this sooner rather than later?

[2017-09-01 10:41] muffinresearch commented on #2919
@peiying2 please could you clarify the issue? See above ^

[2017-09-01 10:41] vcarciu commented on #3054
@muffinresearch : sure

[2017-09-01 10:42] #3054 closed

[2017-09-01 10:45] muffinresearch commented on #2868
I think that's a really good list to start with.

[2017-09-01 10:45] muffinresearch commented on #2868
@stephendonner do you need any more information for this issue or are we good to close it?

[2017-09-01 10:48] muffinresearch commented on #2690
Assigning to @pwalm for input on what a different focus style should look like.

[2017-09-01 10:50] muffinresearch commented on #2965
@ValentinaPC please can this be refiled on addons-server - it doesn't relate to the new frontend.

[2017-09-01 10:54] muffinresearch commented on #3035
As a thought depending on its UX, a nag bar could possible minimize upon dismissal to something that indicates the current clientApp which  could potentially cover both of these cases and at the same time inform the user of how to switch.

[2017-09-01 10:57] #2597 closed

[2017-09-01 10:57] muffinresearch commented on #2597
Looks good to me.

[2017-09-01 10:58] muffinresearch commented on #2613
@vcarciu this is a Android issue. If this is still relevant can you file a bug on bugzilla for this?

[2017-09-01 10:58] #2613 closed

[2017-09-01 11:01] muffinresearch commented on #2879
Fixing this would require a rewrite, since this is short-lived I'm not sure it's worth worrying about ahead of replacing the frontend with the new ui.

[2017-09-01 11:30] vcarciu commented on #3028
Please add some steps to reproduce or mark this as "qa:not needed"

[2017-09-01 11:31] willdurand commented on #3028
@vcarciu sorry, marked as "qa: not needed" just now

[2017-09-01 12:54] ValentinaPC commented on #2965
@muffinresearch : it actually does relate to the new desktop pages. :)
I'll make a wider screenshot:
![2017-09-01_1553](https://user-images.githubusercontent.com/15685960/29970591-df407006-8f2d-11e7-98f7-72cb7fbb91dc.png)

[2017-09-01 12:58] ValentinaPC commented on #2597
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1).
Postfix screenshot:
![readmore-de](https://user-images.githubusercontent.com/15685960/29970747-74ea24e4-8f2e-11e7-90bd-9afb0686866a.png)

[2017-09-01 13:11] ValentinaPC commented on #3039
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1)
The filter menu was removed from add-ons categories pages.
Postfix screenshot:
![cat1](https://user-images.githubusercontent.com/15685960/29971122-d8c3a9e4-8f2f-11e7-9e25-0b6f52074332.png)

[2017-09-01 13:46] muffinresearch commented on #2965
@ValentinaPC ah ok, my bad. Thanks for clarifying!

[2017-09-01 16:20] peiying2 commented on #2919
@muffinresearch I was relaying the message from a localizer who reported the problem through #l10n on IRC. From what we could see, the description is in English. I think he expects it to be localizable.

[2017-09-01 16:27] muffinresearch commented on #2919
@peiying2 ah ok - this isn't a bug then, the description can only be localized by the author.

[2017-09-01 16:27] #2919 closed

[2017-09-01 16:38] devaneymoz commented on #3003
I like the concept of "Top X" from the same category. Or perhaps featured extensions from the same category, shown as they are atop category pages.

[2017-09-01 16:56] peiying2 commented on #2919
@muffinresearch Just so I know what to look for to avoid filing this kind of bugs, Is it up to the author (developer of the app) to make it localizable?  And when he/she does, you (AMO devs) will extract the strings to make it available on Pontoon. Correct?

[2017-09-01 17:08] jvillalobos commented on #3056
Yes, I'm okay with doing this. It'll require an announcement in the blog or the forum, so I just need to be pinged when we're ready to ship this.

[2017-09-01 17:24] jvillalobos commented on #3055
This would be tricky to do because a single add-on can have multiple update channels (listed, beta, unlisted) and an add-on listing page only shows the latest version of the listed channel. It's useful to offer the install even if you have the add-on installed, particularly in the case a user wants to _switch_ to the listed channel. However, for updates I think it's best that users stick to automa

[2017-09-01 17:41] #2863 closed

[2017-09-01 18:08] pwalm opened #3060 "Disco Pane Visual Design Tweaks"
After discussing with a colleague, we need to make some small changes to the disco pane for Photon:
- Move header and copy to be aligned left.
- Remove video and put a small link below the copy saying "Find out more.", the video will play in a light box.
- Add button saying "Get More Add-ons" at top of page, and use the same button copy at the bottom of the page.
![2017-08-29 16 07 58](https://use

[2017-09-01 18:21] #2760 closed

[2017-09-03 07:18] tsl143 opened #3061 "[layout issue] Unapproved addon should give 'Not Found' error"
Navigate to https://addons.mozilla.org/en-US/firefox/addon/share-backported/

### What happened?
Gives "You do not have permission to perform this action." error
(Its an unapproved addon [under review])

### What did you expect to happen?
Addon detail page should be visible as in legacy website.
[update] As per new frontend specifications this should throw 404 error.

### Anything else we should k

[2017-09-04 07:07] ValentinaPC commented on #2760
Verified this on AMO-dev FF55(Win 7).
Version notes are listed for each version.
Postfix screenshot:
![rel_notes](https://user-images.githubusercontent.com/15685960/30015280-affb7b6a-9158-11e7-8e48-698253a1fb73.png)

@kumar303 : Is there anywhere else where this notes should be displayed?

[2017-09-04 10:44] #3026 closed

[2017-09-04 11:24] #3030 closed

[2017-09-04 11:41] ValentinaPC commented on #3026
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1)
Postfix video:
![readmore](https://user-images.githubusercontent.com/15685960/30024711-c0cab300-917d-11e7-9ab1-f7c8d6cc3441.gif)

[2017-09-04 13:25] vcarciu opened #3064 "Search box bottom corners are not rounded after deleting searchterm"
Steps to reproduce:
1.Go to https://addons-dev.allizom.org/en-US/firefox/ , mobile view
2.Enter a search text in search box , then delete it

Expected results:
Search box is not affected

Actual results:
Search box bottom corners are not rounded after deleting searchterm

Please see video for this issue :
![rounded](https://user-images.githubusercontent.com/1583842/30028423-b4fa6614-918d-11e7-80e4

[2017-09-04 13:49] muffinresearch commented on #2690
Seeing this in practice the style is different to the active state so I think this is actually a wontfix.

[2017-09-04 13:49] #2690 closed

[2017-09-04 13:52] muffinresearch commented on #2690
Removed the wontfix and assigned to tofumatt since the header updates fixed this.

[2017-09-04 14:32] tofumatt commented on #3064
I thought this would be solved by the autocomplete cancel fix, guess not. I'll have a look, thanks!

Matthew Riley MacPherson (sent from mobile)

[2017-09-04 14:47] willdurand commented on #3064
Ah I think the autocomplete cancel does not change `autocompleteIsOpen` in `SearchForm`.

[2017-09-04 15:08] willdurand commented on #3064
Updating `isOpen` almost work, but there is still a visual glitch:

![2017-09-04 17 06 02](https://user-images.githubusercontent.com/217628/30031889-7b8953c6-9193-11e7-9e06-93ec79b8e22c.gif)

[2017-09-04 17:36] jvillalobos commented on #3061
Per the specification for the new front-end, the expected behavior is to show a Not Found page, rather than a permissions error. So, this is still a valid issue, but for different reasons.

[2017-09-05 03:02] pwalm commented on #3000
Carousel spec below!
![carousel spec](https://user-images.githubusercontent.com/6797635/30043406-068ecf1a-91ac-11e7-9732-bc738e83d605.png)

[2017-09-05 03:03] pwalm commented on #3000
Notes:
- Photos will be pulled from Unsplash.com
- Opacity of the colour overlay is 80%

[2017-09-05 04:38] pwalm commented on #3002
Spec below!
![slider shelves and blocks](https://user-images.githubusercontent.com/6797635/30045450-53d5cb5e-91b9-11e7-9aed-2b93b046f996.png)

[2017-09-05 04:38] pwalm commented on #3001
Spec below:
![slider shelves and blocks](https://user-images.githubusercontent.com/6797635/30045466-69140936-91b9-11e7-9903-075611fc077b.png)

[2017-09-05 04:39] pwalm commented on #3003
Promo area follows the same spec as the slider shelf and block spec:
https://github.com/mozilla/addons-frontend/issues/3001

[2017-09-05 07:23] ValentinaPC opened #3068 "Unusable Filter menu in "No results..." page"
Steps to reproduce:
1. Search for something that would have no results in -dev

Expected results:
No results message displayed.

Actual results:
Filter menu is displayed with no results to filter.

Notes/Issues:
Verified on AMO-dev FF55(Win 7, Android 7.2.1).
Issue was not reproducible while the sort menu was available.
Screenshot for this issue:
![remove_filter_menu_for_no_results](https://user-i

[2017-09-05 09:17] tsl143 commented on #3068
@muffinresearch  isnt this desired, as we have a testcase `renders SearchFilters even when there are no result` at https://github.com/mozilla/addons-frontend/blob/master/tests/unit/amo/components/TestSearch.js#L83

[2017-09-05 10:10] tofumatt commented on #3068
The issue is that the sort menu only sorted existing results, but the new filters change the result set. Imagine you searched for something with the filter "Mac OS" only on, and there were no results. You might want to change it to "Platform: Windows" or even "Platform: All". So this is working as intended. 😄

[2017-09-05 10:10] #3068 closed

[2017-09-05 13:47] ValentinaPC commented on #3068
I have a vivid imagination....as I imagined that 0 results page will look nice without a filer menu :D .

[2017-09-05 14:29] tofumatt commented on #3068
It would look better, but we should allow users to refine/change the search as it could then show results 😄

[2017-09-05 17:05] muffinresearch commented on #2899
@pwalm - could you provide some input on the colour for this?

[2017-09-05 17:07] muffinresearch commented on #2824
I'll provide the info on what we need here in terms of format / size etc.

[2017-09-05 18:41] pwalm commented on #3002
This is kind of already implemented, so I don't think I need to spec it out?

[2017-09-05 18:55] devaneymoz commented on #3002
@pwalm: how is it already implemented?

These "subjects" will be comprised of new, original topics—not to be confused with AMO's standard categories. It's kinda confusing because some topical overlaps will occur. For example, AMO has a "Privacy" category, but that's not a Subject Shelf; whereas we may have Subject Shelves that relate to privacy, such as... "Ad Blockers" or "Anti-Tracking"

I need

[2017-09-05 20:20] grahamperrin commented on #2184
Please, when might this enhancement be made?

The lack of distinction between titles can be troublesome, for example:

![2017-09-01 04 49 04 addons mozilla org desktop view of a comment after switching to mobile](https://user-images.githubusercontent.com/192271/30081603-b8c11f16-927f-11e7-9b7f-f213cdea3ee7.png)

[2017-09-05 20:25] tofumatt commented on #2184
I agree, and it would be great to get this fixed. But I don't think it's high-priority compared to a lot of other issues we are tying to close for the end of this month. We'd definitely welcome contributions though, if someone could tackle it.

Otherwise I'd think it's a month or two away at least :-(

Matthew Riley MacPherson (sent from mobile)

[2017-09-05 23:12] pwalm commented on #2899
Which loading indicator do we speak of here?

[2017-09-05 23:33] tofumatt commented on #2899
The loading bar/text thing that appears in most places on the site when content is loading. The best place to see it is on dev in the search bar while autocomplete is loading or when clicking on an add-on from the autocomplete results.

- tofumatt

From: Philip
Sent: 06 September 2017 00:12
To: mozilla/addons-frontend
Cc: tofumatt ☕️; Comment
Subject: Re: [mozilla/addons-frontend] Lighten the colo

[2017-09-06 00:14] stephendonner commented on #2868
@muffinresearch I'll close this, thanks; I can see from https://docs.google.com/document/d/1DEbsJKB5Q4J3EFrSmmO6I6GFs4qNfIFZ8auHRdS3Yww/edit#heading=h.7b0hgjodw2zz that the pages we care about for the OKRs this quarter are:
* home
* details
* search-results page

I've got those covered, and we have data for them via SpeedCurve, so let's follow-up separately on how we want to proceed with measuring

[2017-09-06 00:14] #2868 closed

[2017-09-06 08:39] muffinresearch opened #3070 "Start autocomplete search after n chars entered"
The autocomplete should only start sending requests once there's more than `n` characters because the results for a single char aren't that useful.

In the past typical values for `n` would be 2-3 chars - it'll make sense to make this configurable so it's easily tweaked. Let's start with 2 chars and go from there.

[2017-09-06 08:48] muffinresearch commented on #2624
@vcarciu is this still an issue?

[2017-09-06 08:49] muffinresearch commented on #2414
@ValentinaPC is this still an issue now that the header has be reimplemented?

[2017-09-06 08:50] muffinresearch commented on #2221
@raresmsv based on https://github.com/mozilla/addons-frontend/issues/2221#issuecomment-324756087 if this isn't reproducible on production I think we can close this.

[2017-09-06 08:52] muffinresearch commented on #3055
@jvillalobos so I think on this basis we'll just leave the button as is - and accept for now that it's not going to be aware of versioning or channels.

[2017-09-06 08:52] #3055 closed

[2017-09-06 08:56] muffinresearch commented on #2984
As you mention I'm not sure that enabling a very lax policy for local dev buys us that much since it will allow things that we'd otherwise want to be caught if a mistake is made in development.

[2017-09-06 08:57] muffinresearch commented on #837
I think this was mostly cleaned up with the migration to Jest.

[2017-09-06 08:57] #837 closed

[2017-09-06 08:58] muffinresearch commented on #2546
I don't think we need to worry too much about this -  it hasn't got in our way thus far.

[2017-09-06 08:58] #2546 closed

[2017-09-06 09:00] muffinresearch commented on #2555
This was partly covered by https://addons-frontend.readthedocs.io/en/latest/moz-addon-manager/.

[2017-09-06 09:01] aphillipo opened #3071 "Logo is not the new moz://a branding"
### Describe the problem and steps to reproduce it:
Logo on Mozilla Addons should reflect the current corporate logo.

### What happened?
The old Mozilla Logo Appears.

### What did you expect to happen?
The new Mozilla Logo Appears.

### Anything else we should know?
Is an SVG okay and I'll send a pull request?

https://www.mozilla.org/media/img/pebbles/moz-wordmark-dark-reverse.2cbc28bb9895.svg

[2017-09-06 09:25] tofumatt commented on #3071
Hi there,

Yes, a new SVG to replace the old ones would be great if the current one is wrong. Could you attach a screenshot of the issue as it is now just so we're clear on what to look for when QA testing the difference? Thanks!

[2017-09-06 09:31] ValentinaPC commented on #2414
@muffinresearch : did not see it in the new header.
We can close this as fixed.

[2017-09-06 09:31] #2414 closed

[2017-09-06 09:34] aphillipo commented on #3071
Currently:

<img width="982" alt="original-masthead" src="https://user-images.githubusercontent.com/52347/30104896-e55300be-9331-11e7-924e-c47fe2e3f8cc.png">

Suggested change:

<img width="982" alt="suggested-update" src="https://user-images.githubusercontent.com/52347/30104897-e556d6da-9331-11e7-942b-2b01c20f1f6d.png">

We are going with SVG only 🔥

[2017-09-06 09:40] ValentinaPC commented on #3071
Take a look also at: https://github.com/mozilla/addons-server/issues/4658

[2017-09-06 09:41] tofumatt commented on #3071
Ah, thanks for the screenshot, sorry for the confusion. This repo is for the new front-end which is currently only the default for mobile users. So this issue should be filed over on addons-server.

Aha, yes, this should be taken care of by the issue @ValentinaPC linked to. Thanks!

[2017-09-06 09:41] #3071 closed

[2017-09-06 09:44] aphillipo commented on #3071
Okay! Sorry for the noise!

[2017-09-06 10:41] ValentinaPC commented on #2760
Found it! :P
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1).
Release notes are listed in new desktop pages for current add-on version.
Postfix screenshots:
![release_notes-last_vers](https://user-images.githubusercontent.com/15685960/30107954-12282192-9309-11e7-9059-90892b33d555.png)
![device](https://user-images.githubusercontent.com/15685960/30107958-152e26f2-9309-11e7-9a77-b887d2a49ba3

[2017-09-06 15:28] willdurand commented on #2767
I am a bit confused by the Sketch file, I reused our `SearchResult` component to display the other addons but it does not look like the mock-ups. Yet, other parts of the app don't look like the mock-ups (cc @tofumatt @kumar303)

<img width="510" alt="screen shot 2017-09-06 at 17 25 41" src="https://user-images.githubusercontent.com/217628/30120225-87b8adcc-9328-11e7-9091-f18ebd142006.png">

[2017-09-06 17:22] kumar303 commented on #2917
This is annoying to work around: https://github.com/paularmstrong/normalizr/issues/290

[2017-09-06 18:35] kumar303 commented on #2917
Grep the code for this issue number. I'm adding some TODOs.

[2017-09-06 21:50] pwalm commented on #3060
Updated specs!
![screen shot 2017-09-06 at 2 48 30 pm](https://user-images.githubusercontent.com/6797635/30136197-b0f0f480-9312-11e7-8797-08caf3bbd3c6.png)

![screen shot 2017-09-06 at 2 48 39 pm](https://user-images.githubusercontent.com/6797635/30136202-b5ea81ae-9312-11e7-9af2-e4b9ec1f75ce.png)

![screen shot 2017-09-06 at 2 48 48 pm](https://user-images.githubusercontent.com/6797635/30136210-ba

[2017-09-06 22:32] kumar303 commented on #2760
oh yeah, sorry, I should have included a URL

[2017-09-07 03:55] pwalm commented on #3002
Sorry, to clarify: the structure of the shelf has been done and is implemented already. The content (icons, etc) have not been done yet. I’m good to go on icon structure whenever you’ve got your list all set. 👍

[2017-09-07 12:03] tofumatt commented on #2767
Hmm, that style will appear in an `AddonsCard` if you use `type="horizontal"`. That is admittedly not a great API, sorry about that 😢

https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/LandingAddonsCard/index.js#L35

[2017-09-07 12:33] willdurand commented on #2767
Ah thanks, this is a nice one.. I was about to re-create the same thing.. So now I have it, but I still get this style. In the mock-ups, the icon should be on top of the text, not on the left.

<img width="490" alt="screen shot 2017-09-07 at 14 32 48" src="https://user-images.githubusercontent.com/217628/30163477-703e9754-93d9-11e7-941f-8d44cff4f92e.png">

[2017-09-07 12:59] muffinresearch commented on #2823
@kumar303 could you take a look at getting this out for next week now that the API is available.

Testing this with good data might be tricky since guids that TAAR returns might only exist on production.

[2017-09-07 13:02] muffinresearch commented on #2823
I'm going to see where the stage/prod instances are at.

[2017-09-07 13:23] #3064 closed

[2017-09-07 14:53] vcarciu commented on #3064
Verified as fixed on both mobile and desktop(video only for desktop view, since mobile is working in the same way) :
![verifsearchcorner](https://user-images.githubusercontent.com/1583842/30169545-5ad266cc-93f5-11e7-8126-2f9a610de5d4.gif)

[2017-09-07 15:41] vcarciu commented on #2863
I verified what was implemented after talking with tofumatt and everything looks good . The username and Explore drop down are still under implementation, but I will add two issues for that for a better QA tracking:
Desktop:
![revisedheaderdesktop](https://user-images.githubusercontent.com/1583842/30171303-479243f2-93fa-11e7-8c91-3a9c53dd23d7.gif)

Mobile:
![revisedheadermobile](https://user-image

[2017-09-07 15:55] vcarciu commented on #2746
The new specs from https://user-images.githubusercontent.com/6797635/29692108-37b5b102-88e3-11e7-9ae5-a11f9a6358fa.png are the updated one, so I will change the title accordingly

[2017-09-07 15:59] atiqueahmedziad opened #3075 "There is no way to delete own review"
### Describe the problem and steps to reproduce it:
1. To go AMO mobile website and visit any add-ons details page. ( Example- https://addons.mozilla.org/en-US/firefox/addon/real-madrid-blue/ )
2. Write a review
### What happened?
There is option for the review owner to delete his/her review
### What did you expect to happen?
There should be option for the review owner to delete his/her review lik

[2017-09-07 16:00] vcarciu commented on #2745
The specs have changed a lot here, but we can keep this open until implemented. New specs :
https://user-images.githubusercontent.com/6797635/29692108-37b5b102-88e3-11e7-9ae5-a11f9a6358fa.png

[2017-09-07 16:14] atiqueahmedziad opened #3076 "Clicking on theme's author's name gives an error page"
### Describe the problem and steps to reproduce it:
1. Go to any theme details page with AMO mobile website. ( Example: https://addons.mozilla.org/en-US/firefox/addon/fc-barcelona-v2/ or https://addons.mozilla.org/en-US/firefox/addon/pointblank-indonesia/ )
2. Click on theme's author name
### What happened?
It take to an error page.
### What did you expect to happen?
It should show the author's pr

[2017-09-07 19:13] kumar303 opened #3077 "Make tests more predictable by removing setState callbacks"
I don't think our tests should rely on `setState()` being synchronous as it's [unclear](https://github.com/airbnb/enzyme/issues/509#issuecomment-237362893) that this will always work in enzyme as its libraries evolve and get upgraded.

We have a few problems in the test suite related to this but first let's try not to rely on `setState` callbacks.

Here are two places that (hopefully) can be fixed

[2017-09-07 19:31] atiqueahmedziad commented on #3076
I think this issue is no longer valid with new design implemented.

[2017-09-07 19:31] #3076 closed

[2017-09-07 20:13] kumar303 opened #3078 "Quickly typing a search term does not autocomplete it"
### Describe the problem and steps to reproduce it:

Quickly type a word in the search box

### What happened?

The last few characters you type will not be included in the search term. You can verify this in the network panel -- inspect the API request made to the `autocomplete` endpoint.

For example, if you type "ad block" quickly, the search term will just be "a". If you type a bit slower, you

[2017-09-07 20:43] wagnerand opened #3079 "Layout issues on iOS Firefox & Safari"
### Describe the problem and steps to reproduce it:

Filing in one single issue since they seem closely related.
STR:
1. https://addons.mozilla.org/en-US/firefox/addon/ubo-scope/

### What happened?

The blue fox logo, 'Explore' and 'Themes' are not where they should be.
On Firefox, they even move a bit as soon as you scroll down.
On Safari, they don't.

Also, the description is cut, at least on S

[2017-09-07 20:50] #3024 closed

[2017-09-07 21:11] jvillalobos opened #3080 "Add compatibility filter to collection views"
After some discussion in https://github.com/mozilla/addons-server/issues/6279, I think it would be a good idea to hide incompatible add-ons by default in collection views, but still leave the option to see the full collection. I'm thinking just a checkbox labeled `Hide incompatible add-ons`.

[2017-09-07 21:43] kumar303 commented on #2823
Sure

[2017-09-08 09:52] ValentinaPC commented on #1971
This is happening in a strange way in production in what concerns empty searches for themes and collections.

STR:
1. Make an empty search from themes homepage https://addons.mozilla.org/en-US/firefox/search/?q=&cat=themes
2. Scroll down and click on the last available page number https://addons.mozilla.org/en-US/firefox/search/?page=20494&cat=themes

Results:
-URL is changed
-Listed results are f

[2017-09-08 15:23] vcarciu commented on #2221
@muffinresearch  : Unfortunately , this is reproducible on prod too . Tried many installs and number of users was not increased even if I re-checked after a duration .

[2017-09-08 16:49] muffinresearch commented on #2221
@vcarciu ok, thanks for the update - in that case we need to dig into precisely where the problem is. /cc @kumar303 @diox

[2017-09-08 16:53] muffinresearch commented on #2780
@tofumatt this issue could use a bit more detail / breaking up.

[2017-09-08 17:00] muffinresearch commented on #2778
/cc @devaneymoz

[2017-09-08 17:02] muffinresearch commented on #2776
This will be hard-coded content initially. See also https://github.com/mozilla/addons-frontend/issues/3000

[2017-09-08 17:04] muffinresearch commented on #3000
@devaneymoz please can we get the copy for the initial content first along with any references to the assets per slide? As discussed the first set of content will be added directly via the source code with editorial tools to follow later.

[2017-09-08 17:05] muffinresearch commented on #2776
In fact I think it will make more sense to close this in favour of #3000

[2017-09-08 17:05] #2776 closed

[2017-09-08 17:19] muffinresearch commented on #3002
@pwalm @devaneymoz Do you have a screenshot that you can add to the description of the issue? It'll help tie the concepts to something more concrete.

[2017-09-08 17:22] muffinresearch commented on #2775
I'm not sure but I don't see any UX for this in the sketch file, but I might have missed it? @pwalm do you have something for this?

[2017-09-08 17:25] muffinresearch commented on #2766
@tofumatt this needs more info + details. Are there specific questions that need answering?

[2017-09-08 17:27] muffinresearch commented on #3053
The category page as specced doesn't appear to share much with the search pages.

<img width="794" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30223572-57007556-94c3-11e7-860c-0794b5dc0536.png">

[2017-09-08 17:31] muffinresearch commented on #3053
@pwalm - it's a bit unclear what the content is supposed to be on this page - could you clarify it. The category page today is more like a search result. See https://addons-dev.allizom.org/en-US/firefox/extensions/appearance/

[2017-09-08 17:32] muffinresearch opened #3086 "Update Category Page"
Category pages currently look like:

![screen shot 2017-09-08 at 18 32 42](https://user-images.githubusercontent.com/1514/30223783-32c836a0-94c4-11e7-80aa-f81d81e76ee8.png)

But the mocks have:

<img width="794" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30223768-29c94328-94c4-11e7-8726-0c833e5cab3b.png">

[2017-09-08 17:36] muffinresearch commented on #3086
Based on the mock it's unclear what a lot of this data should be. @pwalm do we know what the shelves should be? I would have thought the current solution of using a search is probably more accurate for representing the content of a category in which case it would make sense to close this and action https://github.com/mozilla/addons-frontend/issues/3053 instead

[2017-09-08 18:53] kumar303 commented on #2221
@vcarciu could you provide some example add-on URLs?

[2017-09-08 19:45] tofumatt commented on #3080
That box will be checked by default which to me is a bit of a weird UX. "Show incompatible add-ons" as a checkbox seems better, but again: why ever show them? I recall @pwalm saying ages ago search results just shouldn't contain incompatible add-ons... I guess maybe we could add a query param that showed them for expert users, but what's the use-case for showing incompatible add-ons in search resu

[2017-09-08 19:47] tofumatt commented on #2780
At this point I'll just convert this to being the featured checkbox. Not sure this is a must-land/MVP feature for Q3.

[2017-09-08 20:00] tofumatt commented on #2766
Shoot, this issue sucks, eh? I think this was about the new review flow but I can't find it in sketch. Maybe @pwalm can supply the new review flow (for desktop). It was in the PRD, sorry I didn't fill this in more... 😢

[2017-09-08 20:01] tofumatt commented on #3086
Ah, shoot, those specs are new.

[2017-09-08 20:18] jvillalobos commented on #3080
There are a number of popular collections around that are either all-legacy or mostly legacy. I think some people will be confused if they find them empty knowing that they should have something. We still want to give the option to show incompatible add-ons because some people look for old content to try to get in touch with the developer, or find code info or files so they can fork it.

[2017-09-08 20:21] tofumatt commented on #3080
Fair enough. I suppose a nice feature (for the future) for all-legacy collections would be to detect they're all legacy and tick the "show incompat" checkbox by default in the UI and return all add-ons.

[2017-09-08 20:36] #3078 closed

[2017-09-08 20:36] willdurand commented on #3077
should be fixed now.

[2017-09-08 20:36] #3077 closed

[2017-09-08 22:41] pwalm commented on #3002
Design-wise, they are the same. Content-wise, they're a bit different. Not sure they should be merged based on that.

[2017-09-08 23:22] devaneymoz commented on #3002
Slider and subject shelves certainly have distinct purposes from a content perspective (sliders display individual add-ons while subject shelves have icons that lead to collections), and I think ideally they also offer some visual distinction from each other as well.

[2017-09-08 23:31] devaneymoz commented on #3002
Below comprises the ecosystem of branded "subjects" that may be populated into a subject shelf at any given time (thus each requires a corresponding icon). Perhaps we'll add more to the ecosystem over time, but this should suffice to start.

- Ad Blockers
- Privacy Protection
- Bookmarks
- Video Downloaders
- Password Managers
- Watching Videos
- Educational Tools
- Shopping
- Having Fun!
- Organi

[2017-09-09 00:05] devaneymoz commented on #3000
@muffinresearch To make sure I'm clear, you want to know the actual copy/content we'll launch the new carousel with?

Or can it be dummy copy/content for the sake of the design/build phase?

I ask because if the launch is still more than a few months away it would be ideal to hold on making final programming decisions until we're closer (for example, between now and December we may get a few more

[2017-09-09 02:58] pwalm commented on #2755
Badges!
<img width="686" alt="screen shot 2017-09-08 at 7 57 30 pm" src="https://user-images.githubusercontent.com/6797635/30236516-0064db12-94d0-11e7-8158-a9ee77d39e7b.png">

Will provide specs asap

[2017-09-09 19:47] grahamperrin commented on #3080
As both of these are becoming familiar –

![yellow](https://user-images.githubusercontent.com/192271/30243291-568c1590-959e-11e7-8cb5-cf8a99801bd9.png)

![green](https://user-images.githubusercontent.com/192271/30243292-5691b1e4-959e-11e7-8378-7aa4fb68545c.png)

– maybe a filtering UI could make use of them (or something like them; tone down the SHOUTING, and so on).

## Early thoughts

If each on

[2017-09-10 19:05] grahamperrin opened #3090 "four of five stars is not fantastic"
https://github.com/mozilla/addons-frontend/pull/1368 (2016-11-10) fixed [Adjust the review text prompt based on star selection · Issue #1366 · mozilla/addons-frontend](https://github.com/mozilla/addons-frontend/issues/1366), but when I rate four stars the dialogue uses the word _fantastic_.

[2017-09-11 08:50] ValentinaPC commented on #3030
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1).
Postfix video:
![refil](https://user-images.githubusercontent.com/15685960/30265695-95badbaa-96e5-11e7-8770-59581b43f4fd.gif)

[2017-09-11 09:58] jvillalobos commented on #3080
Hiding incompatible isn't only about the legacy / WE distinction, so those labels wouldn't apply in this case. It's also a bit too flashy for what will be a very low-key feature.

[2017-09-11 14:39] muffinresearch commented on #3000
@devaneymoz the launch is due to be ahead of 57 (currently ideal release would be very early November) so I'd like to get as close to real copy as soon as possible. Changing links and copy is easy enough though so getting something and updating is won't be too much of an issue.

[2017-09-11 16:06] muffinresearch commented on #3049
I mentioned this case to @eviljeff and he pointed out that if you specify lang in an API request you'll get only the locale you asked for. This however will fall back to other locales e.g. if you request `lang=fr` some descriptions will be in french but others will be in English but there's no data to be able to know that a given description is not the locale you requested.

To fix this we will ne

[2017-09-11 17:03] eviljeff commented on #3049
For reference http://addons-server.readthedocs.io/en/latest/topics/api/overview.html#api-overview-translations is what we do at the moment.

We could change the API to always return a dict (with only the requested locale, or the default locale otherwise).  But that would be a breaking change as mentioned (I don't know how reliant frontend is on the existing behavior).  Or add another param that wo

[2017-09-11 21:00] kumar303 commented on #3049
Ah, right, I see

[2017-09-11 22:41] pwalm commented on #2755
Specs!
![screen shot 2017-09-11 at 3 41 15 pm](https://user-images.githubusercontent.com/6797635/30300094-b5c2058c-9707-11e7-8e37-0848475f837f.png)

[2017-09-12 06:37] ValentinaPC commented on #2706
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-09-12 08:22] #2680 closed

[2017-09-12 08:24] muffinresearch commented on #2687
Fixed by #3092

[2017-09-12 08:24] #2687 closed

[2017-09-12 08:28] muffinresearch commented on #2772
@tofumatt could you add some more details to this issue or refile new issues with full info for each thing that needs doing. It's a bit unclear what needs to happen - presumably this needs more than just adding links?

[2017-09-12 08:30] muffinresearch commented on #2763
@tofumatt this could use a bit more information as to what the feature will end up doing both for QA purposes + clarity.

[2017-09-12 08:30] muffinresearch commented on #2761
@tofumatt this could use a bit more information as to what the feature will end up doing both for QA purposes + clarity.

[2017-09-12 10:43] muffinresearch commented on #3090
@grahamperrin What do you think the copy should say? I can't promise we'll update it since this gets into something that's quite subjective, 4/5 seems pretty good to me.

[2017-09-12 10:44] muffinresearch commented on #3061
The empty page looks bad so marking this MVP

[2017-09-12 10:48] muffinresearch commented on #1155
I think this one is covered elsewhere now.

[2017-09-12 10:48] #1155 closed

[2017-09-12 11:41] Thorin-Oakenpants commented on #3021
@kumar303 - see https://bugzilla.mozilla.org/show_bug.cgi?id=1394448#c10

[1] https://dxr.mozilla.org/mozilla-central/source/toolkit/mozapps/extensions/AddonManagerWebAPI.cpp#39

[2017-09-12 11:43] muffinresearch commented on #2824
See https://github.com/audreyr/favicon-cheat-sheet for modern guidelines. I think we should look to start with the basics and add other things from there.

[2017-09-12 11:44] muffinresearch commented on #2824
Interestingly mozilla.org just uses a single 64px image in ico format.

[2017-09-12 12:09] vcarciu commented on #2221
@kumar303 :
I installed last week https://addons.mozilla.org/en-US/android/addon/game-fun/ and it still shows 17 users , same number as before installing it.

[2017-09-12 12:28] ValentinaPC commented on #2680
Verified as fixed on AMO-dev FF55(Win 7).
Width is constraint at 1366px.
Postfix screenshot:
![2017-09-12_1527](https://user-images.githubusercontent.com/15685960/30325842-fa9eb34a-97ce-11e7-9182-1e3cd7c75a3f.png)

[2017-09-12 12:30] tofumatt commented on #2706
When searching from Windows, Mac, or Linux the appropriate operating system should be selected in the search filters by default.

[2017-09-12 12:36] tofumatt commented on #2761
This actually means a version history page, I think. So this will be a list of all previous versions of an add-on.

Not sure how useful it is especially when older versions might not work on 57+ but I get it's important for reference 😄

[2017-09-12 12:37] tofumatt commented on #2763
This should actually be a card on the addon detail page with the current beta version's info and a download button.

[2017-09-12 12:39] ValentinaPC commented on #2687
Verified as fixed on AMO-dev FF55(win 7).
Postfix screenshot:
![2017-09-12_1536](https://user-images.githubusercontent.com/15685960/30326251-a08ed75c-97d0-11e7-9b2a-196441ec9031.png)

[2017-09-12 12:45] ValentinaPC opened #3096 ""More highly rated extensions"/"More popular extensions" links load an empty page"
Steps to reproduce:
1. Load Extensions homepage https://addons-dev.allizom.org/en-US/firefox/extensions/
2. Click on "More highly rated extensions"/"More popular extensions"

Expected results:
Extensions sorted accordingly are displayed.

Actual results:
An empty page with the message "Enter a search term and try again." is displayed.

Notes/Issues:
- only reproducing on -dev
- reproducing for the

[2017-09-12 12:46] vcarciu commented on #3078
I tested this by quickly typing "download" search term . You can see the results below and it looks like there are three different url requests for this action :
![rapidtyping](https://user-images.githubusercontent.com/1583842/30326518-70dce0a2-97d1-11e7-9489-0add538e46ce.gif)

Please let me know if this is ok

[2017-09-12 12:49] willdurand commented on #3078
This looks good to me because the last search term is the one that you typed ("download").

[2017-09-12 12:52] vcarciu commented on #3078
@willdurand , but the other two actions are not redundant?

[2017-09-12 12:53] ValentinaPC opened #3097 "Review modal can be broken"
Steps to reproduce:
1. Go to details page for an add-on and try to write a review i.e. https://addons-dev.allizom.org/en-US/firefox/addon/imacros-for-firefox/
2. While in the review modal try to resize the text section

Expected results:
The review modal cannot be resized.

Actual results:
The text section can be resized.

Notes/Issues:
- reviews can be submitted;
Verified on AMO-dev FF55(Win 7).

[2017-09-12 12:53] tofumatt commented on #3096
This is a regression from 045c9e1a03688f126f5b941bd2f5e25520c49527. For now I'll revert that, looks like we need to have separate pages for these featured pages or something... 😢

[2017-09-12 12:58] ValentinaPC commented on #2724
@tofumatt : beside sort - that you guys decided to remove it from every category page, what else needs to be added here? Thanks!

[2017-09-12 13:06] tofumatt commented on #2724
Nothing I think? I would say #3092 actually solves this entirely.

[2017-09-12 13:07] tofumatt commented on #3097
I would say there's no need to allow this to be resized, so that'd be the easy fix.

[2017-09-12 13:11] willdurand commented on #3078
@vcarciu I dont think so. It is because autocompletion is enabled on every letter but we use debouncing to avoid too many API calls. It is normal to have a few calls since we debounce at 200ms. The most important thing here is to have the correct search term in the last API call.

[2017-09-12 13:12] tofumatt commented on #2772
That's true, it will be actions. I'll create separate bugs for each, sorry about that.

[2017-09-12 13:13] #3096 closed

[2017-09-12 13:18] ValentinaPC commented on #2724
Still look weird, but if you think is ok. Will do it for me too.

[2017-09-12 13:20] vcarciu commented on #3078
@willdurand : thanks for explanation ! Marking bug as verified.

[2017-09-12 13:21] willdurand commented on #2724
I also tend to think something is missing here. Would full-width make sense?

[2017-09-12 13:27] ValentinaPC commented on #2724
If there isn't anything else to be added in this pages, full - width, as @willdurand suggested above, will look cleaner and nicer.
What do you think, @tofumatt ?

[2017-09-12 13:32] ValentinaPC commented on #2706
Verified this on FF55 using Windows 7, MacOS Sierra v.10.12 and Linux 16.04
Appropriate operating system is selected in Filter menu by default.
Marking this verified-fixed.

[2017-09-12 13:59] tofumatt commented on #2724
That looks nice, though eventually we'll want to add the filters and other things. It's just a technical limitation that prevents them from appearing for now.

[2017-09-12 14:30] #2823 closed

[2017-09-12 15:09] #3097 closed

[2017-09-12 15:10] #1751 closed

[2017-09-12 15:11] willdurand commented on #2745
#2994 has added the menu. I keep this issue open as we need to add more links now.

[2017-09-12 15:13] muffinresearch opened #3100 "Pagination doesn't match the mocks"
The mocks have a new pagination:

<img width="621" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30333663-5b19bda4-97d5-11e7-907e-f1bc37fa041a.png">

Site currently has:

<img width="1517" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30333594-2dac1196-97d5-11e7-8267-28bbbbf8ab4d.png">

This could be a post-release fix-up or s

[2017-09-12 15:15] willdurand commented on #2744
fixed by #2994

[2017-09-12 15:15] #2744 closed

[2017-09-12 16:06] willdurand opened #3101 "Error handling should allow multiple errors per handler"
The current error handling (`src/core/errorHandler.js`) does not allow multiple errors for the same handler. If we `dispatch` multiple actions for fetching data within the same component and at the same time, then the current design allows an action to "clear" an error that would have been raised by a previous action.

Using the error handler HOC multiple times would "fix" this but it would be tri

[2017-09-12 16:23] muffinresearch opened #3102 "Investigate existing carousel components"
Some of the new mocks feature carousels, it would be good to look at providing a single solution to this so that we can use one carousel for all these various implementations.

First step is to look at what existing solutions there are and what they do:

* TODO: Detail required features here.
* Is it responsive? Will it adapt to mobile?
* Is the implementation CSP compatible?
* Does it support sli

[2017-09-12 16:39] #2889 closed

[2017-09-12 17:07] kumar303 opened #3103 "Make it easier to set up a test for a captured error"
A lot of tests need to set up a situation where the component's error handler has captured an error. This helps to test rendering of the captured error.

This is [the proper way](https://github.com/mozilla/addons-frontend/blob/c9e81288b672bbdcf2decfbbd7105bcf8bcd7b1f/tests/unit/amo/components/TestAddon.js#L240-L252) to do so:

[code]

That's a lot of boilerplate!

In fact, the tests rarely do this

[2017-09-12 17:09] kumar303 commented on #3103
actually, now that https://github.com/mozilla/addons-frontend/issues/3007 is fixed, maybe all we have to do is dispatch an error like `errorHandler.handle(new Error(...))`. As long as the tests are using `shallowUntilTarget` or `mount` then it should work ok.

[2017-09-12 17:55] kumar303 commented on #3101
Since this may be tricky to solve (and not high priority), we just need to make sure that no new actions are dispatched when an error exists. The pattern looks like this:

[code]

[2017-09-12 19:15] #3061 closed

[2017-09-12 21:27] pwalm commented on #3086
I'm thinking the shelves will have similar data to what category pages have now:
- Featured
- Most Popular
- Top Rated
- Recently Added

Not sure what a "search widget" is, though? What would that add to the page?

[2017-09-12 21:30] pwalm commented on #3080
We could add some copy along the lines of "5 incompatible extensions are hidden. Click to show them" and then on click, those add-ons would appear at the bottom of the list with greyed out install buttons.

[2017-09-12 21:34] pwalm commented on #3080
Like dis:
![screen shot 2017-09-12 at 2 31 02 pm](https://user-images.githubusercontent.com/6797635/30349300-685517e2-97c7-11e7-8acd-e61d7bbf01c2.jpg)

[2017-09-12 21:35] pwalm commented on #3053
The content should match the [current AMO category pages](https://addons.mozilla.org/en-US/firefox/extensions/alerts-updates/).

[2017-09-12 21:39] pwalm commented on #2932
If there is no pagination, don't show paginator. 👍

[2017-09-12 21:42] pwalm commented on #2777
We do not, but you're gonna get one! It's going to follow the design for the top-level category pages, like almost exactly. So that's a start.

[2017-09-12 21:42] pwalm commented on #2775
There is no ux for this on paper, but I have it in my brain. Lemme mock it up and post it here.

[2017-09-12 21:43] pwalm commented on #2755
I will provide svg icons for these badges, do we have a full list of all the options?

[2017-09-12 21:44] pwalm commented on #2702
Why did this get reopened, do you need more guidance from ux?

[2017-09-12 21:46] willdurand commented on #2702
@pwalm nope, but this fix for this caused another bug (#3096). That is why it has been reopened. I removed the needs:ux tag though.

[2017-09-12 21:46] pwalm commented on #2662
Mock with L-hand column. I could go either way on this. I don't see it adding or subtracting from the current one column mock, so I think we'll stick with one column.
![screen shot 2017-09-12 at 2 45 12 pm](https://user-images.githubusercontent.com/6797635/30349778-03fc8832-97c9-11e7-960d-7a807fc2f3fe.png)

[2017-09-12 21:47] #2621 closed

[2017-09-12 21:48] pwalm commented on #2461
Does the photon colour palette address this issue, @tofumatt ?

[2017-09-12 21:48] pwalm commented on #2279
I think is done, right @muffinresearch ?

If not, we've got designs for it.

[2017-09-12 21:49] pwalm commented on #2262
Updated icon in new header, will propagate to the mobile site due to magical responsive goodness.

[2017-09-12 21:49] #2262 closed

[2017-09-13 01:51] grahamperrin commented on #3080
👍

Only if the list is to be sorted by compatibility; https://github.com/mozilla/addons-server/issues/6279 was originally _Filter and/or sort by compatibility within a collection_

In most cases the list will be sorted by some other criterion or criteria. Don't break that order by adding without sorting.

[2017-09-13 06:05] tsl143 commented on #2702
@tofumatt , As you mentioned in https://github.com/mozilla/addons-frontend/issues/3096#issuecomment-328843898
What are the next steps?

[2017-09-13 07:41] ValentinaPC commented on #2262
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1).
Postfix screenshot:
![2017-09-13_1041](https://user-images.githubusercontent.com/15685960/30365354-254f1656-9870-11e7-857c-95e25f87ba9e.png)

[2017-09-13 07:48] ValentinaPC commented on #2621
@pwalm : Is this fixed?
I cannot see an icon for any category.
Thanks!

[2017-09-13 07:58] ValentinaPC commented on #3061
Verified this on AMO-dev FF55(Win 7).
A 404 page is displayed for unapproved add-ons.
@muffinresearch For a second add-on details page wants to be loaded, are we ok with that?
Please see video:
![404](https://user-images.githubusercontent.com/15685960/30366031-65d58848-9872-11e7-8bf3-65475166c7ad.gif)

[2017-09-13 08:08] ValentinaPC commented on #2744
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1).
Postfix screenshots:
![2017-09-13_1100](https://user-images.githubusercontent.com/15685960/30366471-d337cf58-9873-11e7-90b8-d204a07a126b.png)
![2017-09-13_1107](https://user-images.githubusercontent.com/15685960/30366474-d5576762-9873-11e7-9c13-577f8214cb51.png)

[2017-09-13 08:17] ValentinaPC opened #3108 "Long display name creates layout issues on device"
Steps to reproduce:
1. Change your username to a long one (i.e. max size of the Username field)
2. Go to your Android device and observe your account menu

Expected results:
There are no display or layout issues.

Actual results:
There are some layout issues.

Notes/Issues:
- not reproducing on desktop;
Verified on AMO-dev FF55(Win 7, Android 7.2.1)
Screenshot for this issue:
![2017-09-13_1116](ht

[2017-09-13 08:32] ValentinaPC opened #3109 "Default text from search field is cut for non-en locales"
Steps to reproduce:
1. Load AMO homepage on your device
2. Change the language to "French" i.e. https://addons-dev.allizom.org/fr/firefox/
3. Observe search field

Expected results:
There are no display or layout issues.

Actual results:
Default text from search field is cut.

Notes/Issues:
Other examples:
- https://addons-dev.allizom.org/el/firefox/
- https://addons-dev.allizom.org/es/firefox/
-

[2017-09-13 08:38] ValentinaPC commented on #2823
Please add some STR for us to check this or the label "qa: not needed".
Thanks!

[2017-09-13 08:45] ValentinaPC commented on #3097
Verified as fixed on AMO-dev FF55(Win 7).
Postfix video:
![modal](https://user-images.githubusercontent.com/15685960/30368186-1ae77588-9879-11e7-8713-5f2ddde936ea.gif)

[2017-09-13 09:11] ValentinaPC commented on #2706
@tofumatt : Due to the fact that https://github.com/mozilla/addons-frontend/issues/3096 was opened yesterday, I did not checked those pages.
Do we want the appropriate operating system be displayed there too? Because is not.
Please see screenshot:
![2017-09-13_1210](https://user-images.githubusercontent.com/15685960/30369281-910c98b2-987c-11e7-82a7-387450da7259.png)

[2017-09-13 09:13] ValentinaPC commented on #3096
Verified as fixed on AMo-dev FF55(Win 7, Android 7.2.1)
Postfix video:
![more](https://user-images.githubusercontent.com/15685960/30369381-f886fb36-987c-11e7-9e00-93e5051bd064.gif)

[2017-09-13 09:43] muffinresearch opened #3110 "User menu is not keyboard accessible"
The dropdown user menu needs to be keyboard accessible otherwise those links are completely obscured to anyone that can't use a mouse.

The username menu should be focusable, and when focused that should open the menu and make it possible to tab down through the links.

<img width="405" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30370757-6789c12e-9870-11e7-9c66-f

[2017-09-13 10:10] muffinresearch commented on #3110
@willdurand pointed out on irc that enter does open the drop-down so this might be more a question of adding a focus style to the user button.

Would also be worth reviewing if there's any additional hinting we should be doing via aria attrs to provide additional hints to assistive tech.

[2017-09-13 10:14] muffinresearch opened #3111 "Request Accessibility review"
Would be good to get a review of the general accessibilty on AMO like we did for the discovery pane.

~~This can happen early Q4.~~

A few ideas of things we'd want checked out (but not limited to):

* Keyboard accessibility.
* Screenreader accessibility.
* Colour checks e.g. contrast.

[2017-09-13 10:16] muffinresearch opened #3112 "Update sign-in button link to use photon colours"
Currently looks like:

<img width="245" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30371543-d741cf46-9872-11e7-9a42-e027b02e4513.png">

Mocks have:

<img width="504" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30371727-5ef6a7d6-9873-11e7-8676-90af51e1bca1.png">

[2017-09-13 10:17] willdurand commented on #3110
On Chrome, this is what I observe when I use tab:

![2017-09-13 12 06 34](https://user-images.githubusercontent.com/217628/30371852-2cd861dc-987c-11e7-98db-bf7104b56b85.gif)

[2017-09-13 10:20] muffinresearch opened #3114 "Update category colours to use photon colours"
Currently we have:

<img width="1377" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30372360-802379dc-9875-11e7-974b-8c881d0f4cc5.png">

The mocks have:
<img width="645" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30373217-77cf7c2e-9878-11e7-839a-5b1f952ba4b1.png">

[2017-09-13 10:36] muffinresearch commented on #3110
IIRC chrome adds a lot in terms of default focus styles - we may just need an explicit focus style added to FF (Also I'd be curious to know if we're turning any defaults off for FF in CSS that we shouldn't be). If you're using chrome to develop it would be recommended to switch to nightly to make sure you're seeing things the way a firefox user would since that's our primary audience.

[2017-09-13 10:46] willdurand commented on #3110
Chrome adds a browser style for `*:focus`, which uses `outline`. This is also what Bootstrap does. An easy fix would be to add such a rule to have a consistent focus style on all browsers.

[2017-09-13 10:47] willdurand commented on #3110
I use Chrome, FF55 and FF Nightly.

[2017-09-13 12:28] tsl143 commented on #3109
@muffinresearch , what should be ideal behavior, text-ellipsis or increase width of search box?

[2017-09-13 12:32] tsl143 commented on #3100
Can I pick this one?

[2017-09-13 12:47] willdurand commented on #2745
@tofumatt it seems we does not deal with permissions in the app yet. We should start by doing this before being able to add the following links to the menu:

- Reviewer Tools
- Admin Tools
- Localizer Tools

[2017-09-13 13:51] tofumatt commented on #3100
Yes, feel free to work on this. Let us know if you are and we'll mark it `contrib:assigned`, thanks.

[2017-09-13 13:53] tofumatt commented on #3109
We should have an ellipsis. We can’t make the box wider on such narrow screens. Hopefully in most locales “search” will be the first word and between the placement, magnifying glass, visible words, and style it will be very apparent as a search box.

[2017-09-13 13:55] tofumatt commented on #2702
You would need to have separate URLs with pagination support for `/featured/` etc. so they aren't using the search URL. Or there'd need to be a more flexible/param-aware check in search for when to show the "enter a query" bit. I like the idea of always using the search URL as much as possible because it means less mess of stuff like this but I'm not sure it'll work without having a lot of confusi

[2017-09-13 14:02] ValentinaPC commented on #3109
We could do this, like you guys did it in Dev Hub?
Please see screenshot:
![2017-09-13_1700](https://user-images.githubusercontent.com/15685960/30381488-3c76e018-98a5-11e7-9433-2a8bdf786332.png)

[2017-09-13 14:27] tofumatt commented on #2621
This issue was just to create the icons. They don't appear yet; no QA is needed.

[2017-09-13 14:28] tofumatt commented on #2706
@ValentinaPC Yes it should be setting the operating system param there. Can you check the request to see if it is being sent to the API? It could be the issue is we just aren't setting it in the UI which is an easy fix 😄

[2017-09-13 14:30] tofumatt commented on #3109
Yes, that's what we'd want.

[2017-09-13 14:33] tofumatt commented on #2745
@willdurand They are sent during the login API step (http://addons-server.readthedocs.io/en/latest/topics/api/auth_internal.html#get--api-v3-accounts-login-)... which I'm just realising could cause issues if permissions are updated during site usage, but maybe we can still get them without logging in again–I forget how often we re-check the auth endpoint for new info about the existing user.

[2017-09-13 14:35] vcarciu opened #3118 "Don't set the user menu label to username if there is a display name available"
Steps to reproduce:
1.Login to amo-dev , mobile view
2.Be sure that your account have both username and display name filled

Expected results:
Display name should be used as user menu label

Actual results:
Username is used

NOTES:
If username is deleted from account settings, then the label will be set to "anonymous ... " even if we have a display name
Reproducible on Android devices too

Please

[2017-09-13 14:41] #2767 closed

[2017-09-13 14:44] tofumatt commented on #2461
I think they do; if not #3111 will bring it up so I'll close this out for now.

[2017-09-13 14:44] #2461 closed

[2017-09-13 14:54] willdurand opened #3119 "Use exclusion filter to retrieve other add-ons by authors"
We currently rely on a small ~~hack~~ alternative way of fetching the list of add-ons by any of the authors of a given add-on because the API does not allow to exclude add-ons yet. We fetch one more add-on than we need and filter this list to exclude the add-on we don't want.

https://github.com/mozilla/addons-frontend/blob/799872e3cac357a039957832b6a86357327fa45f/src/amo/sagas/addonsByAuthors.js#

[2017-09-13 14:58] tofumatt commented on #2755
Looks like we want one for "Experimental Add-on"... though I have no idea what that really means. @jvillalobos: what's the point of labelling an add-on experimental, especially when we already have a "Beta" version feature?

[2017-09-13 15:09] vcarciu opened #3120 "User menu drop down should be displayed over search suggestions"
Steps to reproduce:
1.Login to AMO Stage , mobile view and enter a search term in search box
2.Wait for suggestions to appear
3.Hover over user menu from top right corner

Expected results:
User menu drop down should be displayed over search suggestions

Actual results:
User menu drop down menu cannot be entirely seen because of search suggestions

Please see video for this issue :
![dropdownoverl

[2017-09-13 15:15] ValentinaPC opened #3121 "Filter menu options change at page refresh"
Steps to reproduce:
1. Load Themes homepage https://addons-dev.allizom.org/en-US/firefox/themes/
2. Click on "More Highly Rates Themes"
3. Observe Filter menu
4. Refresh the page

Expected results:
Filter menu stays the same.

Actual results:
Filter menu options change.

Notes/Issues:
- reproducing on other pages like: search results from homepage, "More Highly Rates Extensions", "More Popular The

[2017-09-13 15:15] tofumatt commented on #3100
The touch targets here I'm suspicious of actually so this will have different versions for desktop/mobile. Eg. mobile should still have large(r) buttons, maybe fewer pages with more padding.

[2017-09-13 15:15] ValentinaPC commented on #2706
There are some API requests but not an operating system param in there:
![2017-09-13_1800](https://user-images.githubusercontent.com/15685960/30384606-72e6a63a-98ad-11e7-9fed-cde295c7e258.png)

And I've also saw something interesting while searching - at page refresh param change.
In "More..." pages the operating system param is displayed correctly after page refresh.
Logged - https://github.com/m

[2017-09-13 15:20] tofumatt commented on #2706
Okay then something is wrong here and this needs be re-opened.

[2017-09-13 15:21] vcarciu opened #3122 "Cannot close the search suggestions after overlapping with user menu drop down on Android"
Steps to reproduce:
1.Login to AMO Stage on your Android device and enter a search term in search box
2.Wait for suggestions to appear
3.Switch to landscape view
4.In scroll down a bit like you want to see more of search suggestion(they are covered by keyboard)
5.Press on user menu in order to open the drop down
6.Switch back to portrait view and try to close search suggestions by tapping somewher

[2017-09-13 15:23] jvillalobos commented on #2755
The experimental flag is global for an add-on, and it's meant to signify the add-on isn't quite ready for everyone to use. Generally it should be used for early stages of an add-on, or for add-ons that aren't meant for a very wide audience.

Beta versions are meant for distribution of test versions of well-established add-ons, like AdBlock Plus. We'll probably remove Beta versions in the future, s

[2017-09-13 15:25] tofumatt commented on #2755
To me, a user, those two things sound exactly the same to me though. I get the technical difference but it sounds like "Beta" would be a fine name for "Experimental Add-on" because it seems to be a way more commonly-used phrase. And then if an add-on doesn't have the global "beta" flag the "beta" version can just be the development version.

[2017-09-13 15:32] tsl143 commented on #3100
Great, I am picking this up.

[2017-09-13 15:32] tsl143 commented on #3109
I will give a PR soon for this

[2017-09-13 15:48] muffinresearch commented on #2774
This is probably going to follow the UX for reviews.

[2017-09-13 16:01] willdurand commented on #3120
Mmmh, it looks like a `z-index` issue.

[2017-09-13 16:02] ValentinaPC opened #3123 "Theme description is covered by "More Themes by author_name" section"
Steps to reproduce:
1. Load a details page for a theme with description i.e. https://addons-dev.allizom.org/en-US/firefox/addon/firefox-saucers/

Expected results:
There are no display or layout issues.

Actual results:
Description is covered by "More Themes by author_name" section.

Notes/Issues:
Verified on AMO-dev FF55(Win 7). Not reproducing on device.
Regression from #2767
Video for this issu

[2017-09-13 16:04] willdurand commented on #3123
Oh, I think something is wrong with the CSS grid 😢

[2017-09-13 16:08] ValentinaPC commented on #3123
The important thing is to catch this things, I am no doubt you guys will fix it asap :P

[2017-09-13 16:15] muffinresearch commented on #2764
This is sort of an announcement from the developer / note to users.

[2017-09-13 16:16] tsl143 commented on #3100
Great, I am picking this up.

[2017-09-13 16:18] muffinresearch commented on #2761
Duplicate.

[2017-09-13 16:18] #2761 closed

[2017-09-13 16:19] muffinresearch commented on #2759
Duplicate of #2759

[2017-09-13 16:22] muffinresearch commented on #2758
Currently the data only has the slug.

[2017-09-13 16:23] muffinresearch commented on #2757
This will be web-ext only.

[2017-09-13 16:25] muffinresearch commented on #2756
Marking mvp as this will be a pain for reviewers/admins without this.

[2017-09-13 16:32] #3109 closed

[2017-09-13 16:52] #3120 closed

[2017-09-13 16:57] kumar303 commented on #3123
I don't see any layout issues in FF57. Can you attach a screenshot?

[2017-09-13 17:02] willdurand commented on #3123
@kumar303 the other addons card hides the "About this persona" card.

[2017-09-13 17:14] muffinresearch commented on #2746
We decided not to do this.

[2017-09-13 17:14] #2746 closed

[2017-09-13 17:19] kumar303 commented on #2745
I was late to the IRC conversation but I don't think we need to block this on getting any API changes. We can only get permissions on login currently but that will be fine 90% of the time.

[2017-09-13 17:21] muffinresearch commented on #2513
Chatted about this and we decided that we wouldn't fix it.

[2017-09-13 17:21] #2513 closed

[2017-09-13 17:21] willdurand commented on #2745
@kumar303 yes but we have not way to get it on the server right now. We could add more information to the cookie though. However, this is not nice for UX if you have to logout/login to get access to something you did not have access to before.

[2017-09-13 19:17] kumar303 commented on #2745
Yes, adding permissions to the user profile endpoint would be ideal. I was just saying doing a logout/login after someone grants you admin privileges is something we could live with if needed.

[2017-09-13 19:18] kumar303 commented on #3123
Oh, ha, it happened so fast I didn't notice. I see it now.

[2017-09-13 19:40] kumar303 commented on #3061
Yeah, that's fine. It's an indication that the request for the add-on is still loading. Technically there is a server vs. client bug in how the component is detecting whether data has been fetched or not but it's not worth fixing right now.

[2017-09-13 21:44] tofumatt opened #3127 "Show LoadingText in AddonMoreInfo Card on details page"
Right now during loading states the "More information" card is hidden, but it *should* render with LoadingText content. I was adding something (the DB ID, #2750) to this card and realised it was an easy addition so I folded it into #3126, filing here for posterity/QA.

[2017-09-13 22:59] tofumatt opened #3129 "Disco Pane tests (and yarn install) is failing because of yarn GPG Key change"
### Describe the problem and steps to reproduce it:
Yarn updated their public key and so we get this error:

[code]

We'll likely need to cherry-pick this into release or the server installs/running will fail in the same way as Disco Pane tests were here: https://travis-ci.org/mozilla/addons-frontend/jobs/275220669

[2017-09-13 23:09] #3129 closed

[2017-09-14 00:48] tofumatt opened #3130 ""More extensions by author" card is not loaded on the server"
I just noticed that the "More extensions by [author]" content is only loaded client-side, after the content has been sent from the server.

We should be loading this server-side and not seeing it load in after the page has been sent over the wire.

### Screenshot
![2017-09-14 01 30 22](https://user-images.githubusercontent.com/90871/30407211-d246a27e-98ee-11e7-8853-7a72142cc912.gif)

[2017-09-14 02:11] grahamperrin commented on #3090
For three stars we have:

– and the number of stars is hidden.

For five:

– and the number of stars is hidden.

For four, maybe:

In all cases I think that it will be better to show (not hide) the number of stars whilst inviting the reviewer to write. Show the stars, and just one line at the head of the dialogue:

– with a change of wording of the submission line, from:

– to:

[2017-09-14 02:18] grahamperrin opened #3131 "Written review: escape from the 'Submit for publication' dialogue"
From today's <https://github.com/mozilla/addons-frontend/issues/3090#issuecomment-329348748>:

It should be possible to:

1. <kbd>Esc</kbd> from that dialogue; **and**
2. know without doubt that the star rating, which preceded the invitation to write, is unaffected by the escape.

True: the stars _are_ visible after declining to write, but there's sense of uncertainty after an unfinished routine.

[2017-09-14 05:12] ValentinaPC commented on #3061
Marking this verified-fixed.

[2017-09-14 05:30] ValentinaPC commented on #3109
Verified as fixed on AMO-dev FF55(Android 7.2.1).
Postfix screenshots:
![2017-09-14_0830](https://user-images.githubusercontent.com/15685960/30413487-f32e5102-9926-11e7-8a0e-93e445d0d3ba.png)

[2017-09-14 07:05] willdurand commented on #3130
Indeed, but how is this possible actually? We are not waiting for the saga to finish in SSR? Oh. No. We need an add-on because the addon type is required. That's the problem I think..

[2017-09-14 09:01] ValentinaPC opened #3133 ""View Mobile Site" unusable link in Reviewer Tools"
Steps to reproduce:
1. Load Reviewer Tools homepage https://addons-dev.allizom.org/en-US/editors/
2. Observe page footer

Expected results:
There is no "View Mobile Site" link.

Actual results:
There is a "View Mobile Site" unusable link.

Notes/Issues:
- this is a suggestion as per Developer Hub page
Verified on AMO-stage FF55(Win 7).
Screenshot:
![2017-09-14_1200](https://user-images.githubuserc

[2017-09-14 09:08] muffinresearch commented on #3133
It would definitely be nice to not show this link on parts of the site that don't have a mobile counterpart.

[2017-09-14 09:11] #3112 closed

[2017-09-14 09:50] ValentinaPC commented on #3112
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1)
Postfix screenshot:
![color](https://user-images.githubusercontent.com/15685960/30423106-877fb562-994a-11e7-9eed-8911da050fbd.png)

[2017-09-14 10:00] muffinresearch commented on #3053
Closing this to deal with it in #3086

[2017-09-14 10:00] #3053 closed

[2017-09-14 10:05] muffinresearch commented on #3086
Following a review with @pwalm this should not be a search results page but instead should follow the data we have on the existing category pages on the legacy frontend:

<img width="1082" alt="alerts___updates____add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30423904-379931c6-993c-11e7-845d-22e02ade457d.png">

Recently added was one that was OK to drop: From the scope d

[2017-09-14 10:07] muffinresearch commented on #3133
@ValentinaPC since this needs to change over on addons-server would you mind re-filing there?

[2017-09-14 10:12] ValentinaPC commented on #3133
Logged https://github.com/mozilla/addons-server/issues/6411.
Closing this.

[2017-09-14 10:12] #3133 closed

[2017-09-14 10:15] muffinresearch opened #3134 "Theme loading indicators do not match the content"
The loading indicators for themes is the same as the one for add-ons this results in the page jumping around when the data loads because themes contain a larger image and not just text and an icon.

STR:

Go to https://addons-dev.allizom.org/en-US/firefox/themes/ and watch the themes load.

Loading state:

<img width="912" alt="untitled" src="https://user-images.githubusercontent.com/1514/30425303

[2017-09-14 10:28] #3108 closed

[2017-09-14 10:29] #3114 closed

[2017-09-14 10:30] willdurand commented on #3118
This is interesting. I only saw "username" mentioned in the mock-ups and issue description. Yet, it would probably make sense to use the display name if available. ping @muffinresearch

[2017-09-14 10:39] muffinresearch opened #3135 "Loading indicators on extensions and themes pages have an extra icon"
Go to https://addons-dev.allizom.org/en-US/firefox/extensions/

See:

<img width="883" alt="untitled_2" src="https://user-images.githubusercontent.com/1514/30425488-4a40bf06-9941-11e7-9fc5-daca7a89a89a.png">

[2017-09-14 10:39] tofumatt commented on #3118
Yeah we totally should use display name, that’s what it’s for :-)

[2017-09-14 10:47] ValentinaPC commented on #3114
@muffinresearch This is only for Extensions categories?

[2017-09-14 11:30] muffinresearch opened #3137 ""More featured" is inconsistent compared to "More highly rated" and "More popular""
See https://addons-dev.allizom.org/en-US/firefox/extensions/featured/

This is inconsistent with "more highly rated" and "more popular" which are just search results pages.

<img width="1408" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30427498-f727fbf2-9947-11e7-93f9-ed3f11a6364e.png">

@pwalm not sure there's specific mocks for these - can we consolidate on a se

[2017-09-14 11:50] ValentinaPC commented on #3108
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1)
Postfix screenshot:
![2017-09-14_1450](https://user-images.githubusercontent.com/15685960/30428393-16882580-995c-11e7-88c5-54d74ef970f7.png)

[2017-09-14 12:25] willdurand opened #3138 "Cannot load an add-on on the client side but it works on the server"
I have found this add-on "project-ă-ă-â-â-日本語" in dev: https://addons-dev.allizom.org/en-US/firefox/addon/project-%C4%83-%C4%83-%C3%A2-%C3%A2-%E6%97%A5%E6%9C%AC%E8%AA%9E/. You can, maybe, find it with [this search](https://addons-dev.allizom.org/en-US/firefox/search/?q=project&type=extension).

It does not load when you click on it in the search results, but it works when you load it from the serv

[2017-09-14 13:12] devaneymoz commented on #2778
@pwalm @muffinresearch

How do you feel about foregoing descriptive copy for these categories? It doesn't seem necessary (really, if the category title isn't evocative enough that's an issue).

My recommendation would be to bump up the sizing of the category title to compensate for the space reserved for copy.

Thoughts?

If it's determined that we do need descriptive copy, I can put it together f

[2017-09-14 13:52] muffinresearch commented on #2749
@jvillalobos is this something we will need for the first release?

[2017-09-14 14:06] muffinresearch commented on #2824
Here's a 16x16 + 32x32 .ico made from optimized pngs.

[favicon.ico.zip](https://github.com/mozilla/addons-frontend/files/1303247/favicon.ico.zip)

[2017-09-14 14:11] willdurand commented on #2745
Ah ok. I have requested the API change at: https://github.com/mozilla/addons-server/issues/6415. I am going to work on the cookie-based version.

[2017-09-14 14:15] muffinresearch commented on #2262
This bug was actually about the favicon, however this is actually superceded by #2824 in any case.

[2017-09-14 14:17] muffinresearch commented on #2824
I think once the new icon lands in addons server that will be used here by default however we should look to file an issue to fix it for the local development server separately.

[2017-09-14 14:31] muffinresearch opened #3140 "Collection view"
Refs: https://github.com/mozilla/addons-frontend/issues/2782

Mocks are in the Sketch file:

<img width="710" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30435430-a78733b4-9961-11e7-9d55-6077548b6293.png">

[2017-09-14 14:32] muffinresearch opened #3141 "Create Theme collection view"
Refs: https://github.com/mozilla/addons-frontend/issues/2782

Mocks are in the sketch file:

<img width="717" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30435559-f1bf8d5a-9961-11e7-881a-a61f89f300ef.png">

[2017-09-14 14:35] muffinresearch opened #3142 "List my collections and edit / delete / add"
Refs: https://github.com/mozilla/addons-frontend/issues/2782

No mocks for this one yet.

This will be a page to view/edit/add your collections, sorted by last updated.

For comparison

<img width="1070" alt="collections_by_muffinresearch____add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30435705-55c96fc8-9962-11e7-8cc7-b3d47e7ea40c.png">

[2017-09-14 14:42] muffinresearch commented on #2778
I like the addition of some context since some of there might not be obvious on their own. However, we can certainly start with headings and add the context later.

[2017-09-14 14:43] muffinresearch commented on #2778
Icons were provided here. So let's start with adding those. https://github.com/mozilla/addons-frontend/issues/2621

[2017-09-14 14:46] muffinresearch commented on #2751
This is important for the release because without a link we won't have access to stats from the new frontend.

[2017-09-14 14:52] muffinresearch commented on #2968
It's not actually supposed to only show a single item in the view.

The latest mocks have this:

<img width="224" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30436663-9a1e47b4-9964-11e7-85fc-0a32b0ebf3f1.png">

[2017-09-14 14:52] #2968 closed

[2017-09-14 14:54] muffinresearch commented on #3142
We could use the UX + flow for the create/edit/delete too as well as the display of the initial set of collections.

[2017-09-14 14:58] muffinresearch commented on #2327
https://github.com/mozilla/addons-server/issues/5748 is fixed

[2017-09-14 15:05] kumar303 opened #3143 "Set up more realistic API data in tests with deepmerge"
We need to do things like this a lot in tests when we set up API data:

[code]

We have a [helper](https://github.com/mozilla/addons-frontend/blob/d6dd70b22728a51e12e4d5069d6a7499ded64d9d/tests/unit/amo/helpers.js#L227) but we should really be doing a [deep merge](https://github.com/KyleAMathews/deepmerge). Maybe we can introduce that library.

[2017-09-14 15:19] kumar303 commented on #3138
This looks pretty bad since the majority of users looking for non-ascii add-ons will start first by searching. Nominating for mvp.

[2017-09-14 15:20] kumar303 commented on #3138
@ValentinaPC found out how to break the site once again! ❤️

[2017-09-14 15:21] muffinresearch commented on #2950
@mstriemer did you have access to this?

[2017-09-14 15:22] muffinresearch commented on #2877
@ValentinaPC is this still a problem?

[2017-09-14 15:23] muffinresearch commented on #2749
@jvillalobos Scratch that - I think it is since we're going to hang the edit profile functionality off it.

[2017-09-14 15:27] muffinresearch commented on #2749
For reference this is the current page on the legacy frontend:

<img width="1086" alt="user_info_for_muffinresearch____add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30438640-9f8f79f2-9969-11e7-8822-fac0fdf0dd47.png">

[2017-09-14 15:41] muffinresearch opened #3144 "Implement Account Settings page"
Refs: https://github.com/mozilla/addons-frontend/issues/2781

See also https://docs.google.com/document/d/1cJ1k8HsAb6taauvJMDLOiYMa1McfUXNgEtax3hoToPc/edit#heading=h.5cheild9uc3u

This page allows the user to customize their site settings:

 - [x] Edit Username
 - [x] E-mail address (read-only), message about Firefox Accounts, link to manage Firefox Accounts, support link
 - [x] Edit metadata: dis

[2017-09-14 15:43] #2899 closed

[2017-09-14 16:15] mstriemer commented on #2950
Updated

[2017-09-14 16:15] #2950 closed

[2017-09-14 16:38] willdurand commented on #2745
Actually, we need an API change because we never call [the `login` endpoint](https://addons-server.readthedocs.io/en/latest/topics/api/auth_internal.html#get--api-v3-accounts-login-). This old code is going to be removed in #3145.

[2017-09-14 16:47] willdurand opened #3146 "HandleLogin component is not used"
It seems the `HandleLogin` component is never called. We should remove it because it is misleading. I thought I could hook into it to update the cookie, but that's not the case. The `login()` API method is not used either so it should also be removed.

We double-checked with ops and they did not find any calls to [the `login` endpoint](https://addons-server.readthedocs.io/en/latest/topics/api/auth

[2017-09-14 16:54] #3146 closed

[2017-09-14 17:14] muffinresearch opened #3147 "Broken 404, for all reviews."
Go to https://addons-dev.allizom.org/en-US/firefox/addon/languagetool/reviews/

Shows content with unresolved loading indicators:

<img width="1401" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30443737-7bb05ba0-9978-11e7-8a33-f7734e16a80f.png">

[2017-09-14 17:15] muffinresearch commented on #3147
This is possibly a dupe of one of the other reviews pages bugs.

[2017-09-14 17:42] #2750 closed

[2017-09-14 17:42] #3127 closed

[2017-09-14 18:04] muffinresearch opened #3148 "Read more link doesn't show more content for release notes"
## STR:

* Go to https://addons-dev.allizom.org/en-US/firefox/addon/requestpolicy/
* Click "Read more" on the release notes:

### What happens:

The read more link disappears but there's no additional content

### What should happen:

A "Read more" link should not be required if the content is already visible.

Before clicking "read more":

<img width="511" alt="add-ons_for_firefox" src="https://u

[2017-09-14 18:11] muffinresearch commented on #1828
@kumar303 what was the todo comment ? I don't see one on the linked PR.

[2017-09-14 18:13] muffinresearch opened #3149 "Implement UI for new contributions feature"
We're replacing contributions with a simple link. This needs implementing on the new frontend but we will need UX for it. It should be relatively simple in the sense this won't be much more than a link and some context.

[2017-09-14 18:19] muffinresearch commented on #3149
@eviljeff is the new contrib link and any other relevant data exposed in the API?

[2017-09-14 18:22] muffinresearch commented on #3149
@pwalm there is a screenshot above, but we could use some guidance on placement - the current mocks have a more advanced (based on old contributions) feature in the side bar.
<img width="264" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30446756-f94901c6-9981-11e7-82fe-17dec1ac6a7d.png">
So should we do the same placement and adapt the simpler link version

[2017-09-14 18:22] eviljeff commented on #3149
... not yet.  There isn't a specific issue in https://github.com/mozilla/addons-server/issues/6069 for it, but it could be done with mozilla/addons-server/issues/6308

[2017-09-14 18:30] muffinresearch commented on #3149
@jvillalobos not sure if this should be in MVP based on the amount of backlog there is still to go - however, there won't be a contributions feature at all without this. That said, once the data is exposed the implementation is fairly straight-forward.

[2017-09-14 18:47] muffinresearch commented on #2762
According to the doc this is dropped - see way down in https://docs.google.com/document/d/1cJ1k8HsAb6taauvJMDLOiYMa1McfUXNgEtax3hoToPc/edit#heading=h.4qn2rle47cci "Link to View Source (when public)"

[2017-09-14 18:47] #2762 closed

[2017-09-14 19:02] muffinresearch commented on #2261
Currently disabled addons look very odd:

<img width="1410" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30448738-178b84b0-9987-11e7-83bb-8a56539745d0.png">

So nominating this for MVP as a bug to be fixed.

[2017-09-14 19:10] muffinresearch commented on #2261
@kumar303 do we actually have any data returned to special case these pages? If we don't we should at least get back to a generic error page that isn't trying to display any addon data, ahead of a more involved fix.

[2017-09-14 19:16] muffinresearch opened #3151 "Update Homepage Category Icons for themes and extensions"
We're going to simplify the initial release and not make this content carousel based so this is really about updating to the new look and feel category icons and backgrounds.

We do need to clarify which categories are going to be most prominent if we're limited to less categories. We'll also need the spec, icons and colours etc.

<img width="687" alt="amo_desktop_-_master_sketch" src="https://use

[2017-09-14 19:16] Razaik25 commented on #1473
If no one is working on this, can i give this a try?

[2017-09-14 19:26] muffinresearch opened #3152 "Add additional data to the homepage"
We want to have other data on the homepage aside from the carousel and extension and theme categories.

We need to decide on that that data should be - which is a question for editorial. It should be data we already have as much as possible. So most popular, featured etc.

Here's the mock which doesn't have much on what the data should be

<img width="709" alt="amo_desktop_-_master_sketch" src="ht

[2017-09-14 19:38] muffinresearch opened #3153 "Search results don't have install buttons"
Search results don't have install buttons, but the mocks show them:

The pages now:

<img width="1378" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30452109-80f9a5da-998c-11e7-8b77-674ffdc09827.png">

The mocks:

<img width="735" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30452152-a4b410a0-998c-11e7-871b-2a548ebd8293.png">

[2017-09-14 19:40] muffinresearch commented on #3153
This isn't a blocker, but I'm filing it for completeness.

[2017-09-14 19:45] muffinresearch opened #3154 "Search header doesn't mention type"
Currently our search header says: `9 results for "foo"` but the mocks and scope doc suggest it should be `9 extension results for "foo"`.

Current site:

<img width="679" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30452431-909f6ffa-998d-11e7-9ddc-f8f0f7f2d458.png">

Mocks:

<img width="393" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercont

[2017-09-14 19:50] muffinresearch opened #3155 "Add categories to search filters"
From the scope doc: "Below the type filter, list categories for the selected type"

Here's the categories in the search filtering:

<img width="268" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30452617-41e88698-998e-11e7-9adb-fe4ca18c220f.png">

I think this can be something we iterate on post-release.

[2017-09-14 19:55] muffinresearch commented on #2779
I still don't know this is really that useful. If another addon-type is the most relevant and at the bottom of the page due to splitting by type, we're not helping our users find what they need.

[2017-09-14 20:18] muffinresearch commented on #1473
@aayushsanghavi had you made any progress with this?

I would definitely say starting on this issue requires solid knowledge of Promises and how they work since Async/Await is built on top of them. Not wanting to put anyone off but there might be better other bugs that are a bit easier to get traction on.

[2017-09-14 20:52] tofumatt commented on #1473
This will also be a very large diff that will take us a bit of time to review and will bitrot fast, so it's best to do this in Q4.

Matthew Riley MacPherson (sent from mobile)

[2017-09-14 20:53] eviljeff commented on #3149
Note after the new contributions API is implemented won't return any useful information until developers start filling in the url and I don't believe anyone has been emailed asking them to do that.  (The devhub field and deprecation warning on the old pages have been there for a few weeks but I doubt will have been seen by many users)

[2017-09-14 20:55] eviljeff commented on #2764
no longer blocked :)

[2017-09-15 02:31] kumar303 commented on #1473
Thanks for everyone's interest. As Matt mentioned, this is not a patch we are able to accept at this time. I have removed the contrib label for now but perhaps in Q4 2017 we can put it back.

[2017-09-15 07:24] #3118 closed

[2017-09-15 08:58] devaneymoz commented on #3152
@muffinresearch  In addition to promo types we already have (i.e. featured, "Up & Coming" etc) are we ready for content programming for the new promo modules - slider and subject shelves?

[2017-09-15 09:03] devaneymoz commented on #3151
The attached design here looks to be our subject shelves. I didn't think we had an icon shelf for categories.

Is this a duplicate issue as this one? https://github.com/mozilla/addons-frontend/issues/3002

[2017-09-15 10:40] muffinresearch opened #3157 "Review count links to review section"
From the PRD:

"Review count links to reviews section in listing page"

Presumably the review content in the header needs to link down to the review section via a fragment identifier?

<img width="771" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30478832-977974ec-9a0a-11e7-8f61-7c846af54fd0.png">

@jvillalobos does this sound right? ^

[2017-09-15 10:48] muffinresearch opened #3158 "Implement the new footer"
Update the footer with the new download links and to match the new org style:

<img width="1260" alt="moz_org_footer_053117_sketch" src="https://user-images.githubusercontent.com/1514/30479071-770bc542-9a0b-11e7-9569-fa047df81df0.png">

For mobile

<img width="212" alt="moz_org_footer_053117_sketch" src="https://user-images.githubusercontent.com/1514/30479292-8756bcb2-9a0c-11e7-9109-6021d634e32a.p

[2017-09-15 10:50] muffinresearch commented on #2748
Superceded by https://github.com/mozilla/addons-frontend/issues/3158

[2017-09-15 10:50] #2748 closed

[2017-09-15 10:50] muffinresearch commented on #2935
Superceded by https://github.com/mozilla/addons-frontend/issues/3158

[2017-09-15 10:50] #2935 closed

[2017-09-15 11:00] muffinresearch commented on #3158
@pwalm The mock needs to reflect the AMO specific links:

About (Once page exists this is AMO about page not the global one)
Review Policy (Once page exists)
Report a Bug
View classic desktop site. (this will eventually go since this is that site)

[2017-09-15 11:09] muffinresearch opened #3159 "More Themes in this category widget for details page."
There's no mocks for this, but it should probably follow what we have for more themes by this artist.

<img width="446" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30479778-a92a63aa-9a0e-11e7-9fad-db9fee8ab918.png">

Thinking this is a non-essential follow-up.

[2017-09-15 12:42] vcarciu commented on #3118
Verified as fixed :
![displayname](https://user-images.githubusercontent.com/1583842/30482609-75b96458-9a2c-11e7-94db-35a723a550a5.gif)

[2017-09-15 12:47] jvillalobos commented on #3149
It's not a primary feature, so it's okay to not make it a blocker. However, it's a sensitive issue since it can affect funding for developers, so we should have it done shortly thereafter.

[2017-09-15 12:57] #2824 closed

[2017-09-15 13:59] vcarciu commented on #3127
Verified as fixed :
![loadinginfo](https://user-images.githubusercontent.com/1583842/30485820-4194969c-9a37-11e7-9b7b-a4dbb695dbbf.gif)

[2017-09-15 14:01] vcarciu commented on #2750
Verified as fixed :
![siteindentifier](https://user-images.githubusercontent.com/1583842/30485887-722cc6f8-9a37-11e7-8a85-e26c64c2f350.png)

[2017-09-15 14:19] vcarciu commented on #3120
Verified as fixed :
![overlapping](https://user-images.githubusercontent.com/1583842/30486682-f86cf52e-9a39-11e7-9224-51c9558af7cd.gif)

[2017-09-15 14:39] vcarciu commented on #2824
@muffinresearch : should we see this new favicon everywhere where the old green puzzle was used? I am asking because I can see it only in the link from bug(https://amo-dashboard.herokuapp.com)

[2017-09-15 15:07] eviljeff commented on #1067
We don't currently allow user reviews to be +1'd or -1'd.  @jvillalobos is this something we want to add?

[2017-09-15 15:16] jvillalobos commented on #1067
We definitely want to have this in the future, yes.

[2017-09-15 15:17] PunitGr commented on #3154
Hi @muffinresearch, I have fixed this `bug`. And it is passing all the `test cases` as well.

![screen shot 2017-09-15 at 8 38 56 pm](https://user-images.githubusercontent.com/9111111/30489860-0a8f2184-9a56-11e7-82dc-3d0471d6c44b.png)

I have one query, why does it say `persona` in the search header when the `addonType` is `theme`.

![screen shot 2017-09-15 at 8 41 21 pm](https://user-images.githu

[2017-09-15 15:18] jvillalobos commented on #3157
Yes, but by "review section", it refers to the place that shows the most recent reviews, rather than the place where you can create a review.

[2017-09-15 15:30] tofumatt commented on #3154
Yes, it should say "theme" not "persona".

Realistically `500 extension results for "foo"` is a bit awkward phrasing anyway. While you're changing it I'd suggest: `500 extensions found for "foo"`, `500 themes found for "foo"`, etc.

[2017-09-15 15:32] eviljeff commented on #1067
@jvillalobos can you log an issue on addon-server if there isn't one already.  Also, if there isn't a PRD already can you add more detail about it - if it's like and unlike (2 levels) or just like, etc; if it should affect the default sorting; if authorisation is required to rate the review; if you can change your vote; etc, etc.

[2017-09-15 17:24] #3138 closed

[2017-09-15 17:28] #3123 closed

[2017-09-15 18:21] willdurand commented on #3122
Hi @vcarciu, could you please give me more details? I have tried to reproduce this issue on a real device with latest Firefox browser but could not reproduce it 😢

Note: I used https://addons-dev.allizom.org/, which got a few fixes related to the menu and autocomplete feature. Could you please let me know if it is still an issue in dev for example?

[2017-09-15 19:08] muffinresearch opened #3162 "Prefix middleware doesn't allow for non-clientApp urls to be served by the app"
The Prefixmiddleware has code which forcibly returns a 404. See https://github.com/mozilla/addons-frontend/blob/05da066d1638d77c6e667b21f6282e59e57253f6/src/core/middleware/prefixMiddleware.js#L90

This prevents adding nonClientApp urls that actually need to be served by our app because they result in 404s. (I'm currently working on getting the static pages ready to land). Our about page needs to

[2017-09-15 19:13] tofumatt commented on #3162
Ten four. I'll have a quick look over the weekend and will be around Monday to chat about it. Sorry about that–that implementation is definitely hacky as a workaround the the weirdness of our router's limitations.

[2017-09-17 10:37] #2571 closed

[2017-09-17 10:58] tsl143 commented on #3148
This is probably because `.ShowMoreCard-contents` have `max-height: 150px` and we test `truncateToMaxHeight` with `MAX_HEIGHT = 100`

[2017-09-17 14:34] #3147 closed

[2017-09-17 15:12] tofumatt commented on #2706
I just tested this on production on my Windows 10 laptop and my MacBook Pro. It set Windows as the OS on Windows and MacOS as the OS on Mac, so closing this as fixed.

[2017-09-17 15:12] #2706 closed

[2017-09-18 09:59] muffinresearch commented on #3162
As discussed on Vidyo there's two possible solutions to this:

1. Add to the existing hack so that certain clientApps are allowed through to the app but the rest 404
2. Remove the last pieces of `redux-connect` and upgrade to RR4.

We're opting to investigate what the 2nd option would take with a **strictly time-boxed** look at removing the last pieces of `redux-connect` - this looks to be mostly

[2017-09-18 12:16] vcarciu commented on #3122
@willdurand :
It looks like https://github.com/mozilla/addons-frontend/issues/3120 fixed this too, thanks.

[2017-09-18 12:16] #3122 closed

[2017-09-18 12:38] vcarciu commented on #2571
Verified as fixed :
![screenshotsizefix](https://user-images.githubusercontent.com/1583842/30542290-79854d42-9c87-11e7-9de8-72586b6fa3df.png)

[2017-09-18 13:25] vcarciu commented on #2706
We observed that if you are going directly to "More highly rated themes/extensions" or "More popular themes/extensions" (ie. https://addons-dev.allizom.org/en-US/firefox/search/?sort=rating&type=extension), the platform is still not retrieved.

After discussing with @tofumatt , we agreed to open a new issue.

[2017-09-18 13:30] vcarciu opened #3169 ""More highly rated themes/extensions" or "More popular themes/extensions" links will not correctly display the operating system"
Steps to reproduce:
1.Go to https://addons-dev.allizom.org/en-US/firefox/search/?sort=rating&type=extension on WIndows and Mac
2.Observe the Operating System listed in the left side

Expected results:
Operating system should be retrieved accordingly

Actual results:
Operating system is seen as "All" for this search

NOTES:
Reproducible also on Stage and Prod
Opened from #2706

Please see screensho

[2017-09-18 13:33] tofumatt commented on #3169
mentor: @tofumatt

This is caused because the links to the "More highly rated" extensions is a hard-coded search link that we should add the current user's platform to. Eventually I guess we'll want a `createSearchLink`  helper that would automatically do things like add platform and such that we do by default for searches.

But for now adding `platform: convertOSToFilterValue(state.api.userAgentI

[2017-09-18 13:41] tofumatt opened #3170 "Create Report abuse sagas/API"
We need an API/reducer/saga for reporting an add-on for abuse. This is part of #2759, but I want to split up the api/reducer/saga work and the UI work to make code easier to review.

[2017-09-18 14:56] vcarciu commented on #3123
Verified as fixed :
![fixformorebyauthor](https://user-images.githubusercontent.com/1583842/30548381-acf0dad0-9c9a-11e7-9d89-e955792c3481.png)

[2017-09-18 15:45] vcarciu commented on #3138
I am now able to open it from search results. Marking it as verified :
![asciifromsearch](https://user-images.githubusercontent.com/1583842/30550919-8d22282e-9ca1-11e7-9c84-a64753532967.gif)

[2017-09-18 15:52] kumar303 commented on #3101
We ran into another complication where using multiple error handlers would have helped: https://github.com/mozilla/addons-frontend/commit/9ecbef893a861ff122d7a9692b63357b0a725d62

[2017-09-18 16:04] ExE-Boss commented on #2749
I think that it would be better if users with no published add-ons would still have their profile visible, but marked as a user, not a developer. Possibly with their name and ofher fields hidden.

This is because the user page shows all the reviews and, optionally, collections that that user made or followed.

[2017-09-18 17:00] ayush9398 commented on #3169
Can I work on this?

[2017-09-18 21:06] tofumatt commented on #3169
Yes, this is a good first bug I think–if you understand the issue here feel free to work on it and submit a pull request.

[2017-09-18 21:21] jvillalobos commented on #1067
In the future, sure :P

[2017-09-18 21:24] jvillalobos commented on #1067
To be clear, this isn't something that is planned for the next quarter (or two).

[2017-09-19 08:41] ValentinaPC commented on #2950
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-09-19 09:53] ValentinaPC commented on #3169
@tofumatt : please keep in mind that there is also another issue at page refresh for Filter Menu options - https://github.com/mozilla/addons-frontend/issues/3121 .
Thanks!

[2017-09-19 10:25] muffinresearch commented on #3152
We need to use data we have today, that doesn't rely on new editorial admin being built. Or alternatively something that we hard-code today and make editorial in the future. We've got to keep it simple for the first release.

[2017-09-19 11:00] #3148 closed

[2017-09-19 11:28] muffinresearch opened #3175 "Category links as overlays in the new frontend"
The scope doc refers to "Drop down for Extensions and Themes, listing categories "

This needs to work for both the themes and extensions primary navigation.

This should mirror the legacy frontend:

<img width="1166" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30590336-052037f0-9d36-11e7-85ef-29f3e8af5a98.png">

It should be navigable with the keyboard in the sam

[2017-09-19 11:38] muffinresearch commented on #3144
@jvillalobos Nominating this for post-release since the account settings are a fairly large item. With the proviso that we'll put this at the top of the post release features. Is that ok with you?

[2017-09-19 11:38] ayush9398 commented on #3169
@tofumatt help please...
I checked the given URL and saw the issue on local server  ...
If I am correct the issue is Operating System column gives default value as "All" while it should detect the operating system. But on navigating through the homepage to the given page, the Operating System column works fine and gives value macOS by default.
I'm working on macOS  Sierra.

[2017-09-19 11:49] tofumatt commented on #3169
I just checked the issue and it's not accurate. Going to the exact issue as @vcarciu described should show exactly the filters seen because the filters are in the query params of the URL.

The actual issue is that if you navigate to "More highly rated" from https://addons-dev.allizom.org/en-US/firefox/extensions/ it should include the OS in the query params but doesn't. It just needs to be added (

[2017-09-19 12:00] ayush9398 commented on #3169
Thanks @tofumatt
Got the issue, working on it.

[2017-09-19 12:01] ValentinaPC opened #3176 "Keep "More extensions by author_name" section in the same position"
Steps to reproduce:
1. Load details page for an add-on that has release notes i.e. https://addons-dev.allizom.org/en-US/firefox/addon/xnotifier/
2. Load details page for an add-on that does not have release notes i.e. https://addons-dev.allizom.org/en-US/firefox/addon/ratopuse-weasp-vulturkal/
3. Compare "More extensions by author_name" section position from both pages.

Expected results:
The sect

[2017-09-19 12:23] tofumatt commented on #3176
This looks like it could be a grid issue but I don't even see "More Extensions" for xnotifier.

Ah, I see. Please make sure to specify the viewport size you're using when filing issues like this as they are out-of-order on mobile but one is entirely obscured on Desktop.

See:

<img width="1280" alt="screenshot 2017-09-19 13 22 10" src="https://user-images.githubusercontent.com/90871/30592189-b90cc

[2017-09-19 12:24] ValentinaPC commented on #3148
Verified as fixed on AMO-dev FF55(Win 7).
Postfix screenshot:
![rn](https://user-images.githubusercontent.com/15685960/30592215-931b5a18-9d4e-11e7-9349-7166e88f5e43.png)

[2017-09-19 12:43] ValentinaPC commented on #2899
Verified as fixed on AMO-dev FF55(Win 7).
Postfix video:
![loading](https://user-images.githubusercontent.com/15685960/30592853-2aeaaaa4-9d51-11e7-9e2a-be824f52b90a.gif)

@muffinresearch: is there an issue logged for the thing you mentioned in the pull request - the half of add-on puzzle? Because that is still happening. Thanks!

[2017-09-19 12:55] ValentinaPC commented on #2877
@muffinresearch : this is no longer the case.
Closing.

[2017-09-19 12:55] #2877 closed

[2017-09-19 12:57] tofumatt commented on #3176
Oddly this is worse than reported. I can't see more add-ons on the frontend by the author at all... yet they appear on the old site. Something is amiss and this will require more investigation...

[2017-09-19 13:02] ValentinaPC commented on #3176
@tofumatt : my initial screenshots look like I am using small browser size but I am not, just cropped the important part of the screen.
I am using same as always: 1600 x 900 px.
Thanks!

[2017-09-19 14:00] muffinresearch commented on #3110
I've looked at this a bit more closely and the weird part about it, is the span seems to get focus after the button.

Adding an explicit `:focus` style to the button means you can see when the button is focused but as the span is focusable (no idea why) you also need to work around the span focus by adding `tabindex="-1"` so that after the button the search box (or the links in the menu if the men

[2017-09-19 15:30] kumar303 opened #3177 "Upgrade to Jest 21.0.2"
Upgrade to Jest 21.0.2 to keep up with changes

[2017-09-19 15:50] #3177 closed

[2017-09-19 15:56] ayush9398 commented on #3169
@tofumatt

I added `platform: convertOSToFilterValue(state.api.userAgentInfo.os.name)` [here](https://github.com/mozilla/addons-frontend/blob/4b62fa8649fdc3d0d8c1fdde678321cccd951bfc/src/amo/components/LandingPage/index.js#L121)
This resulted in error...

![screen shot 2017-09-19 at 9 23 36 pm](https://user-images.githubusercontent.com/21312552/30602015-fbef0f9e-9d80-11e7-89be-f172cd9e1b97.png)

S

[2017-09-19 17:05] jvillalobos commented on #2780
Not an MVP blocker, IMO.

[2017-09-19 17:07] muffinresearch commented on #2780
@tofumatt, can you add some guidance for what's involved unless this should be removed form the maybe good first bug label?

[2017-09-19 17:08] muffinresearch commented on #2637
@vcarciu is this still an issue?

[2017-09-19 17:11] muffinresearch commented on #2412
@tofumatt - could you provide some steps on where to start on this as  good first bug?

[2017-09-19 17:12] tsl143 commented on #3176
@tofumatt, the `more addons by author` section, will be visible on chrome for this sepcific addon
`http://localhost:3000/en-US/firefox/addon/xnotifier/`.
On Firefox(I am using nightly) the `appversion=57.0` is appended in querystrings of Api for fetching more addons by the users, and in this case no addons are fetched as other addons by this user are not compatible with 57.

[2017-09-19 17:56] #2197 closed

[2017-09-19 20:46] tofumatt commented on #3176
Oh, shoot. So that definitely shouldn't be appended for add-on detail requests. Thanks for catching that @tsl143, that's super helpful! Will make it much easier to fix. 😄

[2017-09-19 21:11] jvillalobos commented on #3144
As long as we keep the old pages, it's okay, since they are needed for the account creation process.

[2017-09-19 21:23] tofumatt commented on #2780
Probably not a good first bug after all. It's conceptually not hard but it's a lot of moving parts. I'll remove it from the list.

[2017-09-19 21:24] tofumatt commented on #3169
What is the error you received? You'll need to attach it for me to help debug the issue 😄

[2017-09-19 21:38] tofumatt commented on #2412
Hmm, I would just say that on the server we should not render the error and leave it to the client–I'm not sure we have a path to know if we're on the server or not.

Since I'm not sure about that maybe this isn't a good first bug after all.

[2017-09-19 21:54] kumar303 opened #3180 "There is no obvious way to edit your review"
### Describe the problem and steps to reproduce it:

* go to AMO and visit any add-ons details page.
* Write a review

### What happened?

You have no obvious way to edit the review

### What did you expect to happen?

There should be an edit button for your own review

### Anything else we should know?

The review is actually editable but you have to click a star as if you were rating the add-on

[2017-09-19 21:57] kumar303 commented on #3075
I split off the edit part into its own issue since that one is easier https://github.com/mozilla/addons-frontend/issues/3180

[2017-09-20 01:58] tsl143 commented on #3176
For the layout issue, I submitted PR already.
On 20-Sep-2017 2:16 AM, "tofumatt ☕️" <notifications@github.com> wrote:

[2017-09-20 02:31] ayush9398 commented on #3169
@tofumatt
`
action  SET_VIEW_CONTEXT  @ 07:56:27.072
redux-logger.js:1:5845
 prev state
Object { addons: {}, addonsByAuthors: {…}, api: {…}, autocomplete: {…}, categories: {…}, errors: {}, errorPage: {…}, featured: {…}, infoDialog: {}, installations: {}, … }
redux-logger.js:1:6174
 action
Object { type: "SET_VIEW_CONTEXT", payload: {…} }
redux-logger.js:1:6294
 next state
Object { addons: {}, addo

[2017-09-20 02:38] #3154 closed

[2017-09-20 02:38] tofumatt commented on #3169
It says in the output that convertOSToFilterValue is not defined. You’ll need to import it from ‘core/searchUtils’ to use it.

[2017-09-20 02:39] tofumatt commented on #3175
But is this still in any of the UX mocks? The extensions section will have a drop-down that will include Language Packs & Dictionaries, Search Plugins, etc. Given these categories appear on the add-on type's landing page this seems like something worth dropping.

[2017-09-20 03:01] ayush9398 commented on #3169
@tofumatt

**Unhandled promise rejection
ReferenceError: state is not defined**

Stack trace:
LandingPageBase/_this.contentForType@http://127.0.0.1:3001/amo-cb919aed0a27f2456936.js:94245:27
render@http://127.0.0.1:3001/amo-cb919aed0a27f2456936.js:94356:21
proxiedMethod@http://127.0.0.1:3001/amo-cb919aed0a27f2456936.js:76863:16
_renderValidatedComponentWithoutOwnerOrContext/renderedElement<@http://

[2017-09-20 03:07] tofumatt commented on #3169
Hi @ayush9398, sorry but it looks like this won't be a good issue to start with. You're getting undefined variable errors because you're trying to access functions and variables not yet in scope. There are examples in the app of how to import functions from files and get access to the current app's state, but they might not make sense if you aren't familiar with ES6, react, and redux. If you want

[2017-09-20 03:56] ayush9398 commented on #3169
@tofumatt
want to try one last time..
I added `state: PropTypes.object`
is this correct ?

[2017-09-20 04:03] tofumatt commented on #3169
No, the prop types are different. The error you're experiencing is about a variable not being defined. If you haven't used react and redux before understanding how all these parts work together can be intimidating. Sorry about that!

- Matthew Riley MacPherson (sent from mobile)

[2017-09-20 07:40] vcarciu commented on #2637
@muffinresearch : yes , still an issue

[2017-09-20 08:01] ValentinaPC commented on #3176
Late, I know :). As I mentioned while logging this, I was using FF55. Thanks!

[2017-09-20 08:32] muffinresearch commented on #3180
See also the tracker for other https://github.com/mozilla/addons-frontend/issues/2772 in-case there's other relevant parts of this to take into consideration.

[2017-09-20 08:34] muffinresearch commented on #3151
From a conversation on Vidyo with @devaneymoz this is indeed a dupe of #3002

[2017-09-20 08:34] #3151 closed

[2017-09-20 09:23] muffinresearch commented on #3110
QA notes:

Before the fix - you can't see the focus on the user button when tabbing to it when logged in. Also the span around the username can be focused (1 tab after focusing the button) which doesn't make any sense.

With the fix in play:

* First log in
* Use the keyboard to tab to the user button
* Pressing space or enter opens the menu (this was already the case)
* Pressing tab again focuses

[2017-09-20 09:27] muffinresearch opened #3183 "Enhance dropdown menu with aria attributes"
We can enhance the dropdown menu component with additional aria attributes to inform assistive technology of its state e.g. whether it is open or closed.

An article with some ideas on implementation is here: http://heydonworks.com/practical_aria_examples/#progressive-collapsibles

[2017-09-20 09:28] muffinresearch commented on #3110
I've filed a separate bug for the aria attributes: https://github.com/mozilla/addons-frontend/issues/3183

[2017-09-20 09:30] muffinresearch opened #3184 "Make the search look more obviously focused"
Unfocused:

<img width="308" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30636871-91632458-9dee-11e7-9041-6094e78a98ef.png">

Focused:

<img width="311" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30636888-a319fece-9dee-11e7-809f-47246238d8d2.png">

For styling we should look at something similar for what we do for the logged-out

[2017-09-20 09:35] ValentinaPC commented on #2197
Is there a way for us to check this? Because, in -dev, Disco Pane, we do not have "white" themes available so...need help. Thanks!

[2017-09-20 09:52] ValentinaPC commented on #3154
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1).
Postfix screenshots:
![ext](https://user-images.githubusercontent.com/15685960/30637291-973f3008-9e00-11e7-9a1c-6b389e8e73fa.png)
![themes](https://user-images.githubusercontent.com/15685960/30637298-9a66bcc4-9e00-11e7-8062-3e92dcacc9e5.png)

[2017-09-20 09:54] muffinresearch opened #3185 "Menu jumps vertically on logout"
When logging out the user menu jumps vertically see the following animated gif:

![jumping-menu-logout](https://user-images.githubusercontent.com/1514/30638537-a6685fa8-9df3-11e7-8379-8e0f3ca8a259.gif)

Fixing this requires matching the logged in heights/padding/margin etc with the styles for logged-out so there's no vertical displacement.

[2017-09-20 10:02] muffinresearch opened #3186 "Fix the minor difference between button height and search box height"
On mobile there's a small difference between the search box height and the login button.

![screen-shot-2017-09-20-at-10 56 30](https://user-images.githubusercontent.com/1514/30638328-f6fdfbf4-9df2-11e7-8a53-a873132a0123.png)

It's a really minor difference, but would be nice to fix it for consistency.

[2017-09-20 10:03] muffinresearch commented on #3186
See also https://github.com/mozilla/addons-frontend/issues/3185 - which affects a related area and could be fixed at the same time.

[2017-09-20 10:52] muffinresearch commented on #2197
@ValentinaPC easiest way is to delete the src attribute with dev tools. This will break the image and it should just show alt text.

[2017-09-20 10:56] muffinresearch commented on #2824
@vcarciu this has essentially been verifed as part of https://github.com/mozilla/addons-server/issues/6433 since in the process the colour got changed to work better with dark and light themes.

[2017-09-20 10:57] ValentinaPC opened #3188 "Total number of reviews seems slightly bigger than the rest of the text on device"
Steps to reproduce:
1. Load details page for an add-on with reviews on your Android device  i.e. https://addons-dev.allizom.org/en-US/android/addon/lastpass-password-manager/
2. Observe reviews section

Expected results:
There are no display issues.

Actual results:
The total number of reviews seems slightly bigger than the rest of the text.

Notes/Issues:
Verified on AMO-dev FF55(Android 7.2.1).

[2017-09-20 11:16] tofumatt commented on #3186
I think there’s actually supposed to be a height difference… but at least vertically centering the button inside would be nicer. I think it was supposed to be… if the login button were moved 1px up that would work I think.

[2017-09-20 11:16] AlexandraMoga opened #3189 "Developer Hub page layout issues when using split screen view"
Scenario 1:
Preconditions: User is logged into his AMO account

Steps to reproduce:
1.Log in to AMO stage, desktop view
2.Access Developer Hub while in full screen view
3.Observe the page layout (pay attention to Header Menus and Page Footer)
4.Split your screen (i.e by using START+LEFT KEY)
5.Observe the page layout again

Expected Results:
Page layout in split screen view should include the same

[2017-09-20 11:22] muffinresearch commented on #3186
For me, the height difference stands out a mile and looks like a bug, but if aligning-top helps alleviate my inner sense of discord that could work too. Either way it's super minor issue.

[2017-09-20 11:22] tofumatt commented on #3189
Confusingly this code is actually in the addons-server repository, sorry about that! I've moved the issue to that repo. 😄

[2017-09-20 11:22] #3189 closed

[2017-09-20 12:31] #3184 closed

[2017-09-20 12:32] muffinresearch commented on #3188
This is not just on android:

<img width="517" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30643778-27d00b40-9e08-11e7-8a3c-6389fe5244ff.png">

[2017-09-20 12:32] tofumatt opened #3190 "Don't uppercase "Read More" and other footer text in cards"
Go to https://addons-dev.allizom.org/en-US/android/addon/lastpass-password-manager/ and check out the all uppercase text in the footer cards:

<img width="451" alt="screenshot 2017-09-20 13 31 05" src="https://user-images.githubusercontent.com/90871/30643741-0d045e6a-9e08-11e7-9d1a-1887f083029a.png">
<img width="810" alt="screenshot 2017-09-20 13 31 03" src="https://user-images.githubusercontent.c

[2017-09-20 12:33] tofumatt commented on #3188
That text is the same same as the "Read More" link elsewhere. This is working as intended, so closing as won't fix.

That said: we should have this be non-small-caps. I've filed #3190 for that though.

[2017-09-20 12:33] #3188 closed

[2017-09-20 12:33] tofumatt commented on #3190
This should be a matter of just removing `font-variant-alternates: all-small-caps;` from the styles.

[2017-09-20 13:17] ValentinaPC commented on #2197
Verified this on AMO-dev FF55(Win 7).
Postfix screenshot:
![disco_pane](https://user-images.githubusercontent.com/15685960/30645687-248017a2-9e1f-11e7-8b2d-9eff53123112.png)

[2017-09-20 14:09] AlexandraMoga commented on #3184
Verified in AMO-Dev Mobile view and the search field appears focused as expected:

![focused search](https://user-images.githubusercontent.com/31961530/30648209-2d54c952-9e26-11e7-8e7f-5ee4308711cb.png)

[2017-09-20 15:15] muffinresearch commented on #3144
Ok great, removed.

[2017-09-20 15:17] muffinresearch commented on #2749
Thinking that since we're not doing the settings page it would make sense to leave out the user profile view for now too.

[2017-09-20 15:21] kumar303 commented on #3152
I'm nominated this from MVP removal since it's a bit vague at the moment. We could put it back when we have something more concrete and actionable.

[2017-09-20 15:29] muffinresearch commented on #3140
Iconography is likely to need to dropped for the first release.

[2017-09-20 15:30] muffinresearch commented on #3140
Otherwise the page to show a collection is fairly vital for representing curated content so should stay in the MVP.

[2017-09-20 15:30] muffinresearch commented on #3162
Ok so the outcome of this is we'll need to deal with an exclusion to get the routes working and come back to the router upgrade in due course.

[2017-09-20 15:31] kumar303 commented on #2768
I'm nominating this for MVP removal because it would only cripple a small percentage of users if we release without it. If should be enough to ship with read-only views (https://github.com/mozilla/addons-frontend/issues/3140 https://github.com/mozilla/addons-frontend/issues/3141). We can do a follow-up release with this edit feature.

[2017-09-20 15:34] kumar303 commented on #3075
I'm nominating this for MVP removal because it is rare to delete a review and editing (https://github.com/mozilla/addons-frontend/issues/3180) would suffice in a dire circumstance. We should definitely add this feature but it can be done as a follow-up.

[2017-09-20 15:42] kumar303 commented on #2778
I agree that for the MVP version of this feature let's just add category titles without descriptive text

[2017-09-20 15:46] kumar303 commented on #2775
I'm nominating for MVP removal because I think we could do this as a follow-up feature.

[2017-09-20 15:51] kumar303 commented on #2757
I'm nominating this for MVP removal because Firefox already shows you a list of permissions before you install the add-on.

[2017-09-20 15:52] kumar303 commented on #2756
Yes but we could circulate a list of links that they could copy/paste/edit to get the job done. We should definitely follow up and add this but I'm not nominating it for MVP removal so we can ship more important things.

[2017-09-20 16:04] tofumatt commented on #2757
Yeah, I actually asked about removing it altogether but @pwalm pointed out user research that showed knowing permissions beforehand helped users understand the permissions more and think twice about installing an add-on. So we will want to keep it–if anything we should remove it from installs made on AMO. But that’s another issue 😅

[2017-09-20 16:25] kumar303 commented on #2770
I'm nominating this for MVP removal since needing to install historic versions is not very common and we want to discourage it anyway. We could link to the old page for the MVP release and follow-up with this new page later.

[2017-09-20 16:29] kumar303 commented on #2773
I'm nominating MVP removal for the same reason as https://github.com/mozilla/addons-frontend/issues/2775#issuecomment-330894373

[2017-09-20 16:49] #3170 closed

[2017-09-20 16:54] kumar303 commented on #2745
I know this is a simple patch now that we have the new API data but I think we could defer this until after MVP; the workaround is for reviewers/localizers/admins to keep bookmarks for all the URLs they need.

[2017-09-20 17:05] kumar303 commented on #2261
I don't see anything that we can currently use.

Since this is mostly a cosmetic issue for pages that are unlikely to be seen, I think we should defer it until after the MVP release.

[2017-09-20 17:06] kumar303 commented on #2781
Everything in this tracker has been nominated for MVP removal so I'm nominating the tracker.

[2017-09-20 17:08] kumar303 commented on #2772
Since some of the issues here have been nominated for MVP removal I'm nominating the tracker to avoid confusion.

[2017-09-20 17:19] kumar303 commented on #2782
The [goal of reduced discoverability](https://docs.google.com/document/d/1DutmS8yco-hNiKJ1-0MrkAkze7Ue88xpA4b-MWx6MLI/edit) for the new Collection feature makes me think we could do an MVP release without it (and just serve links from the old site). To do so, we would probably want to not feature any collections on the home page. Thoughts?

[2017-09-20 17:50] tofumatt commented on #2782
Works for me!

Matthew Riley MacPherson (sent from mobile)

[2017-09-20 19:16] tofumatt opened #3192 "appversion=57 is being sent for EVERY search API call"
Because of where we add `appversion=57` (if the client is 57+), every single API call to `search` is limiting results to ones compatible with 57+ (or whatever version you have as long as it's at least 57). This is causing issues like extensions by the same author on the details page to not even be loaded if the userAgent is Firefox 57+.

Obviously we need to be smarter about how/where/when we incl

[2017-09-20 21:28] kumar303 commented on #2763
I'm going to pick this up with parts of https://github.com/mozilla/addons-frontend/compare/development-channel-2763

[2017-09-21 00:40] devaneymoz commented on #2778
@pwalm any thoughts on eschewing a copy blurb for category pages?

[2017-09-21 00:47] pwalm commented on #2778
Not necessary! I'm fine with dropping it.

[2017-09-21 01:41] ExE-Boss commented on #3079
On Firefox for iOS version 9.0 on iOS 11, the layout looks like this:

## Vertical: (Top bar redacted for privacy)
![Firefox for iOS 9.0 on iOS 11 – AMO (Vertical)](https://user-images.githubusercontent.com/3889017/30675015-49f841da-9e7e-11e7-88aa-427683f5a77b.png)

### Zoomed out:
![Firefox for iOS 9.0 on iOS 11 – AMO (Vertical, zoomed out)](https://user-images.githubusercontent.com/3889017/30675

[2017-09-21 07:02] ValentinaPC opened #3193 "Categories labels all green on device"
Steps to reproduce:
1. Load Extensions categories page on your Android device (or on desktop, after changing the app to "Firefox for Android" )i.e. https://addons.allizom.org/en-US/android/extensions/
2. Observe the color of the labels

Expected results:
Categories labels have different colors.

Actual results:
All extensions categories are green.

Notes/Issues:
- all sort of green is happening fo

[2017-09-21 08:33] ValentinaPC commented on #3154
@kumar303 : should we display type in header for empty searches also? Thanks!

[2017-09-21 09:26] muffinresearch opened #3195 "yarn nsp-check is failing re: tough-cookie ReDOS"
This is due to https://nodesecurity.io/advisories/525

Running locally to get the extended tree shows tough-cookie is coming in via:

`mozilla-addons-frontend@0.0.1 > jsdom@11.2.0 > request-promise-native@1.0.4 > tough-cookie@2.3.2`

I think this being a dep of jsdom would mean this should only impacts tests if at all. This needs to be confirmed.

The upstream issue is: https://github.com/salesfor

[2017-09-21 11:10] ValentinaPC opened #3196 "Add-on cannot be installed second time if removed from about:addons after first install"
Steps to reproduce:
1. Load any webext details page i.e. https://addons-dev.allizom.org/en-US/firefox/addon/webext/
2. Install the add-on by clicking on the switch button
3. Go to about:addons - Extensions tab and click Remove for the installed add-on
4. Go back to AMO and try to install the add-on again

Expected results:
Add-on is installed.

Actual results:
Add-on cannot be installed.

Notes/Is

[2017-09-21 11:12] tofumatt commented on #3196
Can you please attach some console log output for this?

[2017-09-21 11:36] ValentinaPC commented on #3196
Console log:
`[disco] addon found with no compatibility info for valid clientApp Object { addon: Object, clientApp: "firefox" } disco-2a8e626f40409818f080.js:1:51553`
and message details: https://pastebin.com/SryzZgr3

[2017-09-21 11:47] tofumatt opened #3197 "callApi has a public API that is frustrating (and also sends query params for POST requests)"
I expected to be able to use `callApi` for `POST` requests as I do `GET` requests:

[code]

But that doesn't work at all. It sends no params to the server. Seems like I need to use `body` instead. I get that's how HTTP works, but I think it would be nice if this API handled simple POST requests like mine for me.

It also sends `queryParams` when it's not making a `GET` request, which it seems like

[2017-09-21 13:06] tphan18 commented on #3195
I have the same vulnerability report this morning from a bunch of dependencies like

[2017-09-21 14:43] AlexandraMoga opened #3199 ""My Add-on doesn't fit into any of the categories" is auto checked in Android section when selecting a category from Desktop"
Steps to reproduce:
1. Log into to AMO-stage
2. Go to Submit a New Add-on and select a file to upload
3. Once the file passes validation, press Continue to add your Add-on information
4. Select an Add-on category in the Desktop section

Expected result:
Category selected for Desktop section should not affect the Categories in the Android section

Actual result;
The category for Android defaults to

[2017-09-21 14:59] muffinresearch commented on #3199
/cc @diox - I'm not sure if this is something old or something new possibly related to the recent changes to categories checkboxes?

[2017-09-21 15:05] #3158 closed

[2017-09-21 15:25] #3186 closed

[2017-09-21 15:31] muffinresearch opened #3200 "Reduce click target of mozilla logo"
The click target for the mozilla logo is a little bit too big, that can be reduced to something a bit more sane.

<img width="777" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30704339-5cc02ce4-9eea-11e7-99c8-c55d82d95878.png">

[2017-09-21 15:33] tofumatt commented on #3200
lol I didn't notice this! 😆

[2017-09-21 15:45] #3200 closed

[2017-09-21 23:23] jvillalobos commented on #2768
Removing from MVP since the old front-end hasn't had this for a while. We want it back, but it's not that urgent.

[2017-09-21 23:26] jvillalobos commented on #2770
Installing old versions may actually be very common during the 57 transition, and we actually link to the All Versions page more often because of it. However, showing the old page should do for an MVP.

[2017-09-21 23:42] jvillalobos commented on #2775
Being able to reply to reviews can be pretty important for developers. I wouldn't object to dropping the All Reviews page from the MVP, but if we keep it this should also be included.

[2017-09-21 23:54] tofumatt commented on #3192
Actually this is largely what we want. Closing this as a won't fix; we still want an option in search to explicit surface incompatible add-ons but otherwise the policy is don't show incompatible stuff.

[2017-09-21 23:54] #3192 closed

[2017-09-22 06:05] ValentinaPC commented on #3199
@muffinresearch : I think this is not something new. Please take a look at: https://github.com/mozilla/addons-server/issues/4736 .

[2017-09-22 06:16] ValentinaPC commented on #3200
Verified as fixed on AMO-dev FF55(Win 7).
Postfix video:
![mozilla](https://user-images.githubusercontent.com/15685960/30731554-b98b6e2a-9f76-11e7-9d0f-ce11c1f6297f.gif)

[2017-09-22 06:29] ValentinaPC opened #3204 "No padding between extensions icons and extensions categories names for Italian on device"
Steps to reproduce:
1. Load AMO homepage on your device
2. Change the language to "Italian" - https://addons-dev.allizom.org/it/android/
3. Observe Extensions categories

Expected results:
There are no layout issues.

Actual results:
There is no padding between extensions icons and extensions categories names.

Notes/Issues:
Verified on AMO-dev FF55(Win 7). Issue is reproducing around all servers.

[2017-09-22 06:40] ValentinaPC opened #3205 "Hard to read language selector"
Steps to reproduce:
1. Load AMO-dev homepage https://addons-dev.allizom.org/en-US/firefox/
2. Go to page footer and observe language selector

Expected results:
The language selector is clear and readable.

Actual results:
The language is written using black on gray background with icon and drop-down arrow in white.

Notes/Issues:
Maybe we can use white background? Or white color font for language

[2017-09-22 06:41] ValentinaPC commented on #3158
@muffinresearch : shouldn't we use same color as for header for the footer background?
Thanks!

[2017-09-22 09:11] tofumatt commented on #3205
Yeah, this is hard to read. I say we change our text to white and file an issue upstream as well.

Matthew Riley MacPherson (sent from mobile)

[2017-09-22 09:11] tofumatt commented on #3158
Nope, the footer colour should be that black (or nearly black) colour across Mozilla sites. But the top header is our own colour.

Matthew Riley MacPherson (sent from mobile)

[2017-09-22 09:16] muffinresearch commented on #3205
I changed the text from white, since that was even worse contrast - thinking the black should be darker. We could also drop back the grey.

Failing that we should just drop all the styling and go with a regular select which is what mozilla.org does.

[2017-09-22 09:17] muffinresearch commented on #3204
This is all going to change soon, so it's probably not worth fixing separately until after the content gets changed and the icons updated.

[2017-09-22 09:19] ValentinaPC commented on #3158
Verified as fixed on AMO-dev FF55(Win 7).
Footer is updated and all links redirect and works as expected.
Postfix screenshot:
![2017-09-22_1217](https://user-images.githubusercontent.com/15685960/30737722-45625bca-9f90-11e7-9398-0e7871f22fbf.png)

[2017-09-22 09:21] tofumatt commented on #3205
Oh, they use a regular select? Yes, let’s please do that. 😊

The custom one is a bit of a pain to implement and probably less obvious than a regular select against such a dark background.

Matthew Riley MacPherson (sent from mobile)

[2017-09-22 09:22] muffinresearch commented on #3205
I'm on it.

[2017-09-22 09:38] vcarciu commented on #3186
This looks fixed now :
![align](https://user-images.githubusercontent.com/1583842/30738507-fb6e4c10-9f92-11e7-8f1f-ed37692a8620.png)

[2017-09-22 09:40] diox commented on #3199
Fixed in https://github.com/mozilla/addons-server/pull/6471

[2017-09-22 09:40] #3199 closed

[2017-09-22 10:52] #3205 closed

[2017-09-22 11:52] ValentinaPC commented on #3205
Verified as fixed on AMO-dev FF55(Win 7, Android 7.2.1).
Postfix screenshot:
![2017-09-22_1432](https://user-images.githubusercontent.com/15685960/30743268-939bf1c4-9fa5-11e7-90c4-2e1bc62355b9.png)

[2017-09-22 12:35] tofumatt commented on #1079
Ohai, @willdurand did this already for #2971. This is basically a duplicate of #2747.

[2017-09-22 12:35] #1079 closed

[2017-09-22 12:37] tofumatt opened #3209 "Send appversion in autcomplete params"
### Describe the problem and steps to reproduce it:
Autocomplete results include incompatible add-ons because we don't send `appversion=${firefoxVersion}` as a param like we do for regular searches. This causes a lot of results in autocomplete that are clicked on using 57+ being incompatible. This isn't a great UX.

### What happened?
Search suggestions don't hide incompatible add-ons if you're on

[2017-09-22 13:03] tofumatt commented on #3209
I think this is MVP because:

* it's easy
* it is an important part of not surfacing incompatible add-ons

[2017-09-22 13:59] willdurand commented on #1079
Haha looks like I can close issues even when I am off
 ☺️

[2017-09-22 14:34] kumar303 commented on #2775
Just to be clear, we currently do have a mobile listing of all reviews: https://addons.mozilla.org/en-US/firefox/addon/youtube-high-definition/reviews/ (which is reachable on desktop)

The All Reviews issue we have marked as MVP is to give it a desktop style.

[2017-09-22 15:22] AlexandraMoga commented on #3199
Issue seems to be resolved. Works on AMO-prod, stage and dev

[2017-09-22 15:33] kumar303 commented on #3195
Looks like we don't have any patches yet. We should probably get master back to green so we don't miss any unrelated failures. This should do it in a `.nsprc`:

[code]

[2017-09-22 15:54] tsl143 opened #3212 "[layout issue]Unauthorized addon should give 404 error"
### Describe the problem and steps to reproduce it:
Navigate to https://addons-dev.allizom.org/en-US/firefox/addon/adblock-plus/

### What happened?
Gives not found page

### What did you expect to happen?
Empty blank blocks

### Anything else we should know?
The API gives 403 error.
Can be treated same as #3061
Produced on dev server(didnt find 403 addon on production server)
<img width="1274" al

[2017-09-22 16:53] muffinresearch opened #3213 "Allows links in the summary for recommended add-ons."
Currently recommended add-ons have links removed by DOMPurify:

<img width="768" alt="add-ons_manager" src="https://user-images.githubusercontent.com/1514/30755496-d4d94916-9fbe-11e7-8173-4fff226a6e37.png">

We need to look to allow links in the sanitization step so they don't get removed from the content entirely.

[2017-09-22 17:04] muffinresearch commented on #3212
Dupe of #2769

[2017-09-22 17:04] #3212 closed

[2017-09-22 17:09] muffinresearch commented on #2781
Reviewed and removed from the MVP.

[2017-09-22 17:12] kumar303 commented on #3195
When we get an upstream fix, let's remove the exception added in https://github.com/mozilla/addons-frontend/pull/3211

[2017-09-22 17:13] muffinresearch commented on #2782
Currently editorial want to feature content in collection and it's one of the few tools they have to curate content. So I think we just need to provide a collections view - everything else will be ok to be post-release.

[2017-09-22 17:17] muffinresearch commented on #3141
Since you can mix themes and extensions in a collection this is really a dupe of #3140

[2017-09-22 17:17] #3141 closed

[2017-09-22 17:18] muffinresearch commented on #3140
This should reflect themes as well as extensions since a collection can contain both.

[2017-09-22 17:28] devaneymoz commented on #2782
To confirm - Editorial requires collections to not only feature content on AMO itself, but collections are an integral part of existing marketing channels, such as the lifecycle email markeitng, where Firefox users, depending on their lifecycle stage, will automatically receive emails pointing to various curated collections on AMO.

[2017-09-22 17:28] muffinresearch commented on #2757
This one we need to keep and it's fairly small.

[2017-09-22 17:34] muffinresearch commented on #2756
@jvillalobos was ok for us to leave this as a post-release follow-up though we should try and fit it in if we have the time.

[2017-09-22 17:35] muffinresearch commented on #3152
Need to figure this out - so I'm going to leave it in the MVP for now to help remind everyone what's missing detail.

[2017-09-22 17:37] muffinresearch commented on #2773
This goes hand in hand with #2775 so if we're keeping that it makes sens to keep this one in the MVP.

[2017-09-22 18:54] muffinresearch opened #3215 "Fix up theme and extension hero content to closer match mocks"
Today:

<img width="1448" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/30759849-ba50dfe4-9fcf-11e7-8952-db05929a313e.png">

Mocks:

<img width="1042" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/30759877-d8027cb4-9fcf-11e7-9054-4660380b433e.png">

[2017-09-22 20:01] tofumatt opened #3218 "Show a 404 error for 403 add-ons"
Similar to how (and why) we render a `404 NOT FOUND` response for `401` pages, we should show `404` for an add-on that returns a `403` response, at least for now. Same for the "All reviews" page of any add-ons that returns a `403` error from the API.

Part of #2769.

[2017-09-22 20:02] #3218 closed

[2017-09-22 21:16] kumar303 opened #3219 "Rename denormalizeReview() to createInternalReview()"
A pattern has emerged where we take an external API object and store it with a function like [`createInternalAddon()`](https://github.com/mozilla/addons-frontend/blob/cc5baba5d47e508323b3b8f45ea16b94a7f19a58/src/core/reducers/addons.js#L83). This is a good name because it illustrates the intent.

There is an older function called [`denormalizeReview()`](https://github.com/mozilla/addons-frontend/b

[2017-09-22 21:46] kumar303 opened #3221 "Fix review by user state so that it stores object IDs not objects"
**For QA:**
Please check for regressions in the flows related to leaving a star rating, writing a review, editing a review, and browsing reviews.

As of https://github.com/mozilla/addons-frontend/pull/3220 the review state has a map of reviews by ID. All other parts of the state link to IDs instead of objects. However, I didn't have time to fix the user state because it wasn't relevant for the pat

[2017-09-22 22:04] kumar303 opened #3222 "Re-implement overlays using Redux, not setState"
We've run into several problems with how overlays use internal state to be shown/hidden. I think we could solve it by using Redux instead.

Here is a partial list of issues
- When a component needs to hide an overlay, it has to get a reference and call `overlay.hide()`
- When the overlay hides itself (like when you click on the background), the component controlling the overlay gets stuck so that

[2017-09-23 06:28] plant99 commented on #3219
Can I work on it? @kumar303

[2017-09-23 07:46] grahamperrin opened #3223 "Exclude from updates – a persistent preference for any selected add-on"
With Firefox 55.0.3, for an extension that I preferred to **not** _Include in update_ (singular), the subsequent review of _Available Updates_ wrongly assumes that my preference was a one-off:

![2017-09-23 08 42 06](https://user-images.githubusercontent.com/192271/30771273-49dbae1c-a03b-11e7-9c05-733ccf4fd85e.png)

– that's an example of an add-on that I **never** include in an update. I must **r

[2017-09-23 09:46] tofumatt commented on #3219
There is a large review-code-related patch in review right now (#3220) so now is not a good time to do fix this issue as it will create confllicts.

[2017-09-23 09:47] tofumatt commented on #3222
Reading this makes me this I should use redux state for the new report abuse UI as well. I'll go back and update it; shouldn't be hard.

[2017-09-23 10:10] tofumatt commented on #3223
Sorry for the confusion but this bug tracker is a catch-all mostly for Mozilla add-ons websites and less to do with browser code, which is where this setting exists.

You'll want to file this over at https://bugzilla.mozilla.org/enter_bug.cgi?product=Toolkit&component=Add-ons%20Manager (that's the correct Bugzilla component). Sorry about the confusion, but thanks for the feature request and the cl

[2017-09-23 10:10] #3223 closed

[2017-09-25 07:29] ValentinaPC commented on #3176
While checking this in FF58 (Win 7), I saw that the issue is reproducing but in a weird way.
For the add-on with the release notes - the more add-ons by author_name section is no longer displayed.
Please see screenshot:
![rn-more](https://user-images.githubusercontent.com/15685960/30796728-0942d112-a1dc-11e7-9eb2-f5b654fe2e3a.png)

Add-on used: https://addons-dev.allizom.org/en-US/firefox/addon/xn

[2017-09-25 07:32] tofumatt commented on #3176
This is expected because when searching for “more add-ons by this author” we only look for add-ons compatible with your current browser version. So you’ll need to check from a 57+ compatible add on or use an older browser for that add on.

Matthew Riley MacPherson

[2017-09-25 07:32] #3176 closed

[2017-09-25 07:42] ValentinaPC opened #3226 "Long description and "More extensions by author_name" section cause layout issues in add-on details page"
Steps to reproduce:
1. Load and add-on details page that has a long description i.e. https://addons-dev.allizom.org/en-US/firefox/addon/ratopuse-weasp-vulturkal/
2. Click the "Read More" link

Expected results:
There are no display or layout issues.

Actual results:
A gray space separates the "More extensions by author_name" section from "More information" section.

Notes/Issues:
Verified on AMO-d

[2017-09-25 07:46] ValentinaPC commented on #3176
Based on above comments, I'll mark this verified fixed.
Postfix screenshots:
![m1](https://user-images.githubusercontent.com/15685960/30797435-b4771438-a1de-11e7-9494-e885b026cc3f.png)
![m2](https://user-images.githubusercontent.com/15685960/30797436-b6ce1a2e-a1de-11e7-8f9c-0e50f21bbbe7.png)

[2017-09-25 11:44] #3213 closed

[2017-09-25 11:47] muffinresearch commented on #3196
This also potentially be a browser bug - we'll need to understand if the events for uninstall are not being seen by the page when you're making changes in the disco pane. Maybe multi-process has an impact on that?

[2017-09-25 11:52] muffinresearch commented on #3196
This needs investigation - first I thought this might be a browser issue but the screencast shows that the uninstall events are received on AMO. Something isn't right in the state if the uninstall is reflected on the site but a re-install is prevented.

[2017-09-25 12:35] #3215 closed

[2017-09-25 12:59] tofumatt commented on #3226
Pretty sure I have a fix for this, we probably need to stop using `grid-row` entirely on the left and just let things auto-flow. I'll have a fix after I come back from squash/running.

[2017-09-25 13:24] AlexandraMoga commented on #2788
Coming back with STR:

Steps to Reproduce:

1. Access AMO homepage (ex https://addons-dev.allizom.org/en-GB/firefox/) from an Android mobile device
2. Select “Classic desktop view” from the page footer
3. Zoom out until the entire desktop page layout fits on your screen
4. Select “View Mobile site” from the page footer

Expected results:
The AMO Homepage Mobile view should load to its original siz

[2017-09-25 14:13] AlexandraMoga commented on #3215
Verified on AMO-dev mobile view and mobile device

![fix_exte_layout](https://user-images.githubusercontent.com/31961530/30812886-a1e66252-a214-11e7-9066-0e80a9f64fa5.png)

![fix_theme_layout](https://user-images.githubusercontent.com/31961530/30812892-a40b21c6-a214-11e7-83a7-722431b0f687.png)

[2017-09-25 15:21] willdurand commented on #2755
@muffinresearch I saw you removed the `needs: ux` label. What should be done here? Adding the "compatible with ff 57+" badge?

[2017-09-25 15:26] willdurand opened #3227 "Warning Git/GitHub about Sketch files"
Hi,

I just got these warnings from GitHub:

[code]

It is generally not a good idea to version Sketch files like this. Every change implies the whole file to be part of the commit, which means +76MB to the repo for each committed change.

[2017-09-25 16:06] tofumatt commented on #3227
Yeah, that's a good point... but otherwise it can be tough to keep up-to-date with Sketch. Is there another easy workflow that would allow everyone to access the Sketch file easily?

[2017-09-25 16:08] willdurand commented on #3227
Git LFS is recommended here. It works almost has without it, except that it stores files tracked by Git LFS differently, and you do not have to download all versions of all tracked files all the time. You version a pointer to a file and Git LFS downloads the file (and cache it).

[2017-09-25 16:11] tofumatt commented on #3227
What’s the flow like for UX, who works on these files? :-)

If we can show UX how to use it I think it should be fine!

[2017-09-25 16:12] tofumatt commented on #2763
Thinking this can be removed from MVP as most add-ons will be 57 compatible when we ship... and this feature didn't even appear in the mocks. The All Versions page will hopefullty show this anyway.

[2017-09-25 16:22] kumar303 opened #3229 "Link to All versions / All development channel versions from add-on detail page"
Before implementing the [All versions / All development channel versions](https://github.com/mozilla/addons-frontend/issues/2770) pages we can link to those existing pages on the old site. This will at least let users (e.g. ESR or pre-57 users) attempt to find compatible versions.

[2017-09-25 16:23] kumar303 commented on #2770
Here is the MVP issue to link to the old pages: https://github.com/mozilla/addons-frontend/issues/3229

[2017-09-25 16:23] willdurand commented on #3227
I think these are two good starting points:

- https://about.gitlab.com/2017/01/30/getting-started-with-git-lfs-tutorial/
- https://github.com/blog/2079-managing-large-files-with-git-lfs

To sum up:

1. people interacting with the sketch files have to install `git lfs` (`brew install git-lfs` + `git lfs install`)
2. one has to "track" all sketch files (`git lfs track *.sketch` so that it is future

[2017-09-25 16:23] kumar303 commented on #2763
Here is an MVP issue to link to the old pages which would allow someone to install a beta version: https://github.com/mozilla/addons-frontend/issues/3229

[2017-09-25 16:37] willdurand commented on #2757
The mock-ups show a link for this information. Where do we have to link? The current (old) website displays a popup.

Second question: the API returns the name of the permissions, but is there any doc about how to translate these terms into sentences people can understand? This is what the popup on the old website does. Should we use the webext doc?

[2017-09-25 18:14] muffinresearch commented on #3227
We tried this in the past and it didn't go too well. We could take another look since things may have improved since last time but it's worth bearing in mind. I will see if I can find out what happened so we can check it's no longer an issue.

[2017-09-25 18:15] muffinresearch commented on #3227
Here's the previous issue for reference https://github.com/mozilla/addons-frontend/issues/453#issuecomment-221904480

[2017-09-25 18:24] muffinresearch commented on #2763
@jvillalobos what do you think? Are we ok to pull this from the MVP on the basis that users will still be able to get to the data from the old site pages?  The only other though I had was if there are high profile add-ons that might be relying on the beta feature heavily.

[2017-09-25 20:56] jvillalobos commented on #2763
Some high-profile add-ons have been using the Beta channel to test their WE versions while they continue distributing the legacy versions in the main channel. _Ideally_ they would migrate fully to WE before the 57 release, but that won't be the case for everyone.

I don't think we need to show the install button or the latest version in the listing page in the MVP. But there should at least be a w

[2017-09-25 21:05] tofumatt commented on #2763
Yeah, that's what we're proposing. We'll link to the old site for those versions–perhaps once all high-profile extensions migrate to WE we can just hide the feature.

[2017-09-25 21:51] kumar303 commented on #2763
Yep, that's about to land in https://github.com/mozilla/addons-frontend/pull/3230

ok, I'll remove it for now. It's actually a non-trivial amount of work because of how the code is set up to pass data to the hierarchy of components that handle installation.

[2017-09-25 22:02] devaneymoz commented on #3152
Here is the entire content lineup for the Homepage for launch. It includes the carousel and all shelves that appear down the page. The content should be ordered on the page as it appears in the doc.

https://docs.google.com/a/mozilla.com/document/d/1PeBCNbx0V-5NReKdyv1c14Za6sVjTJ60-ondGaJDBBg/edit?usp=sharing

[2017-09-25 22:19] devaneymoz commented on #3000
Carousel content is reflected in the [launch content plan](https://docs.google.com/document/d/1PeBCNbx0V-5NReKdyv1c14Za6sVjTJ60-ondGaJDBBg/edit#).

This is also reflected in issue [3152](https://github.com/mozilla/addons-frontend/issues/3152)

[2017-09-25 22:24] kumar303 opened #3231 "Hovering over a star shows the tooltip "No ratings""
### Describe the problem and steps to reproduce it:

* On desktop, go to the detail page for an add-on that you want to rate
* Sign in
* Hover over a star that you want to click to select a rating

### What happened?

The tool tip says "No ratings" which doesn't make any sense

<img width="315" alt="screenshot 2017-09-25 17 20 51" src="https://user-images.githubusercontent.com/55398/30833833-49350

[2017-09-26 01:23] tofumatt opened #3234 "Make fakeAddon a helper using createInternalAddon, not an object"
Using `fakeAddon` isn't perfect and @kumar303 pointed out we should wrap it in `createInternalAddon()` from `core/reducers/addons`, but this leads to a LOT of boilterplate in tests. See: https://github.com/mozilla/addons-frontend/pull/3203#discussion_r140777651

What we should really have is a `fakeAddon()` helper that takes extra props, overriding the defaults in the `fakeAddon` object and return

[2017-09-26 01:24] #3209 closed

[2017-09-26 07:16] ValentinaPC commented on #3209
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-09-26 07:59] ValentinaPC commented on #3213
Verified this while Disco Pane is set to point -dev using FF58(Win 7).
Added a link in description for the recommended theme https://addons-dev.allizom.org/en-US/firefox/addon/dog-pichu/ , but the link is not listed in Disco Pane, not even after install in Themes tab. Is there another place where the description should be added for the recommended add-ons, @muffinresearch ?

Also, installing the r

[2017-09-26 08:36] tofumatt commented on #3209
If using Firefox 57+, autocomplete results should only surface compatible add-ons. You should not be able to go to an incompatible add-on from the autocomplete result in 57+

[2017-09-26 09:03] muffinresearch opened #3239 "Run tests on Node 8"
This is to prepare for node 8 becoming LTS in October.

[2017-09-26 11:31] ValentinaPC commented on #3209
Verified as fixed on AMO-dev FF58(Win 7).
Incompatible add-ons are not listed between search suggestions if using FF58.
Postfix screenshots:
![2017-09-26_1422](https://user-images.githubusercontent.com/15685960/30857886-2c2517a4-a2c6-11e7-8705-c454264969c7.png)

[2017-09-26 12:00] tofumatt commented on #2757
Hmm, I don't know 😢

These seem like UX questions–do we not show permissions anywhere in the mocks?

If we don't have mocks for this feature and Firefox already shows them I would take this out of MVP. Yes, I understand there are benefits to showing them pre-install... but we'll want to know how to display them 😄

[2017-09-26 12:07] willdurand commented on #2757
ping @pwalm for UX info about this.

[2017-09-26 12:28] #3226 closed

[2017-09-26 12:29] tofumatt opened #3241 "Addon Detail Page Card order doesn't match mocks"
The card order should look like:

<img width="750" alt="screenshot 2017-09-26 13 28 52" src="https://user-images.githubusercontent.com/90871/30860327-b604682e-a2be-11e7-8fe8-f864c6875c23.png">
<img width="686" alt="screenshot 2017-09-26 13 28 46" src="https://user-images.githubusercontent.com/90871/30860328-b605136e-a2be-11e7-9922-193eb2e51111.png">

I've got a quick patch to change this.

QA: Not

[2017-09-26 12:42] #2759 closed

[2017-09-26 14:22] #3229 closed

[2017-09-26 14:50] kumar303 commented on #2775
@pwalm I'm going to start with the mobile styles since we can use the same overlay as writing/editing a review

[2017-09-26 14:51] kumar303 commented on #2775
Also @tofumatt added a nice inline textarea UX that might be nice here so that the context of the review you are replying to is fully in view.

[2017-09-26 14:55] ValentinaPC commented on #3226
Verified as fixed on AMO-dev FF55(Win 7) and FF58 and everything looks ok.
Postfix screenshot:
![1](https://user-images.githubusercontent.com/15685960/30867150-d6783ea8-a2e3-11e7-9176-1ac5baa4d446.png)

[2017-09-26 14:58] kumar303 commented on #2775
The inline textarea (added for abuse reports) appears like this when you click a button. This might work well for review replies but I'm going to look at both that and the overlay and start with whichever is easiest to implement. We can always fix it up later.

<img width="321" alt="screenshot 2017-09-26 09 56 03" src="https://user-images.githubusercontent.com/55398/30867290-29b7d26a-a2a1-11e7-861

[2017-09-26 15:32] AlexandraMoga commented on #2759
Verified on AMO-dev FF55(Win10) and FF55 Android 7.0

Postfix video:

![reportabuse-desktop](https://user-images.githubusercontent.com/31961530/30868420-3ce22714-a2e7-11e7-9183-f04e04660354.gif)

[2017-09-26 16:26] muffinresearch commented on #2755
@willdurand oops - I've added that back

[2017-09-26 16:39] willdurand commented on #2755
Hi @pwalm, we need an icon for the experimental badge, nothing more for this issue :)

[2017-09-26 16:50] tofumatt commented on #2755
As I've been saying as well, I think the forward-facing text for this feature to users could be more along the lines of "Beta Add-on" rather than "Experimental". I know we use the terminology in two places but I think the text "experimental" is very confusing and strange.

[2017-09-26 16:55] muffinresearch commented on #2755
I think we risk more confusion if experimental and the Beta channel get confused. I'd suggest we stick with existing terminology if that's how it's currently exposed on the developer hub etc. Changing it requires more changes that how it's displayed here.

[2017-09-26 16:57] vcarciu commented on #3241
The order is not the one described in the bug . Verified on -dev and issue is applied to both extensions and themes :
![order](https://user-images.githubusercontent.com/1583842/30873140-ed77aa2e-a2f4-11e7-879c-3160f4371442.png)

[2017-09-26 17:04] kumar303 opened #3243 "Prevent denial of service in Express server"
There is a patch release fix in Express for https://nodesecurity.io/advisories/526 so let's land it.

[2017-09-26 17:09] vcarciu commented on #3229
Verified as fixed :
![see versions](https://user-images.githubusercontent.com/1583842/30873628-8968c3d6-a2f6-11e7-95f2-60d6e98704b0.gif)

[2017-09-26 17:18] #3243 closed

[2017-09-26 17:18] muffinresearch opened #3245 "Fix link colour in disco pane recommendations"
Link colour is falling back to default which makes them stick out a little too much. Let's drop them back to the same colour as the body text.

<img width="737" alt="discover_add-ons" src="https://user-images.githubusercontent.com/1514/30874050-26749c1e-a2e7-11e7-89ab-37593270a42e.png">

[2017-09-26 17:30] tofumatt commented on #3241
Seems there's an issue with dev being updated. This should work but the fix isn't deployed...

[2017-09-26 17:43] #3245 closed

[2017-09-26 17:52] tofumatt commented on #3241
The dev site updated–this is now working on -dev.

[2017-09-26 17:52] #3241 closed

[2017-09-26 18:04] muffinresearch commented on #2757
Ok I've reviewed dropping this from the MVP with @jvillalobos and @deadsquid and we're good to do so as long as it's prioritized towards the top of the post release features. If all other MVP stuff is done and we still have time and the UX is ready this can be done pre-release.

[2017-09-26 18:15] muffinresearch commented on #3227
Discuss this a bit with @tofumatt today - on of the things suggested was that if LFS is still bad we could also consider spinning the assets out into their own repo.

[2017-09-26 20:31] #2751 closed

[2017-09-27 03:55] grahamperrin opened #3252 "sort by name, and other sort options"
https://addons.mozilla.org/firefox/search/?q=tab+groups for example, with the classic desktop view there's a visible option to sort by name. A total of eight sort options.

No such option with the mobile view.

## Partial workaround

Manually edit the URL, for example:

https://addons.mozilla.org/firefox/search/?q=tab+groups&sort=name

– but then the Filter results column wrongly shows that result

[2017-09-27 10:08] ValentinaPC commented on #2751
@tofumatt
Verified this on AMO-dev FF55(Win 7) new desktop pages and observed the following:
- no meter if stats are set to be public on Dev Hub or not, the link "Visit stats dashboard" will be displayed for author in add-on details page
- if set to be public, from Dev Hub, stats are still displayed only for author, and not for admins
- do we need 2 links to redirect to stats page?
![stats_001](ht

[2017-09-27 10:27] muffinresearch opened #3253 "Fix contrast of the header Extensions/Themes links"
The contrast of the Extensions/Themes links grey on a dark background is not that great.

<img width="422" alt="colour_contrast_analyser_and_new_issue_ _mozilla_addons-frontend" src="https://user-images.githubusercontent.com/1514/30908714-5c1800e2-a376-11e7-9333-edbfcc01287a.png">

If we update to the same grey used in the footer links (which is not a photon colour) we get:

<img width="428" alt="

[2017-09-27 10:32] tofumatt commented on #3253
I think we should change it regardless because failing accessibility is bad but is there a photon colour that’s close we could use instead?

Sad the footer isn’t photon at all though.

[2017-09-27 10:35] tofumatt commented on #2751
I was wondering about this... but I think I’d like to link the review count to reviews as well. So I think whenever it’s possible to add more context to text (eg a link) I think it’s worth doing.

So yes I think two links are worth it.

- Matthew Riley MacPherson (sent from mobile)

[2017-09-27 12:15] muffinresearch commented on #3253
Yeah another alternative is to update all of these greys to the same photon grey. That would be an easy change too.

[2017-09-27 12:18] muffinresearch commented on #3253
$grey-40 is the closest:

<img width="447" alt="colour_contrast_analyser_and_color_ _visuals___photon_design_system" src="https://user-images.githubusercontent.com/1514/30912933-475d65e2-a386-11e7-80ae-50cbbed5d05f.png">

[2017-09-27 12:30] tofumatt commented on #3253
That works for me. 👍🏻

[2017-09-27 13:04] AlexandraMoga commented on #3180
I've verified this feature on AMO-dev F55 (WIn 10 and Android 7.0)
In both tests I observe the following:

1. Click on 'Edit My review"
2. Type additional text in the text area
3. Modify the star rating

Expected result:
The modifications made in the text area should show the updates just made

Actual result:
The updates made in the text area disappear if the star rating is modified after new text

[2017-09-27 13:18] kumar303 opened #3255 "Clicking a star while editing a review will erase some text"
from https://github.com/mozilla/addons-frontend/issues/3180#issuecomment-332513834

I've verified https://github.com/mozilla/addons-frontend/issues/3180 on AMO-dev F55 (WIn 10 and Android 7.0)
In both tests I observe the following:

- Click on 'Edit My review"
- Type additional text in the text area
- Modify the star rating

Expected result:
The modifications made in the text area should show the

[2017-09-27 13:18] kumar303 commented on #3180
Good catch, thanks. It will be easier to track this in a separate issue so I moved it to https://github.com/mozilla/addons-frontend/issues/3255

[2017-09-27 13:18] #3180 closed

[2017-09-27 14:38] pwalm commented on #3253
Grey 40 it is! I believe that grey I originally used it a Photon colour, but it might have been before the expanded the grey palette.

[2017-09-27 16:09] ValentinaPC commented on #3245
Could not check this on Disco Pane, but, I can reproduce it on new frontend.
Do we wanna apply the changes in here too?
Please see screenshot:
![link](https://user-images.githubusercontent.com/15685960/30924410-50d7532c-a3b7-11e7-8fcd-f99f0cd017e1.png)

[2017-09-27 16:12] tofumatt commented on #3245
No, this only applies to the Disco pane. We want to keep the visited style on the AMO site 😄

[2017-09-27 16:23] ValentinaPC commented on #3245
Is there a way to check this in Disco Pane? I have only a theme displayed there while set to point -dev. :(

[2017-09-27 16:49] muffinresearch commented on #3245
It's pretty much impossible to test until it gets to prod due to the recommendations data not being based on -dev/stage.

[2017-09-27 16:51] #3253 closed

[2017-09-27 16:58] vcarciu commented on #3241
Verified as fixed for both Themes:
![tabthemes](https://user-images.githubusercontent.com/1583842/30926511-120e4540-a3be-11e7-9c11-0504df32e083.png)

...and extensions:
![tabextensions](https://user-images.githubusercontent.com/1583842/30926527-206326d8-a3be-11e7-9e01-fe351e85212c.png)

Please note that not all tabs are implemented and on device, the tabs from right should come first.

[2017-09-27 19:30] kumar303 commented on #3195
I also see us using `tough-cookie` for `chokidar` which is just a file watcher which we use purely for development.

[code]

[2017-09-27 19:33] kumar303 opened #3260 "Regular expression denial of service in `mime` package"
The `mime` package can cause a denial of service: https://nodesecurity.io/advisories/535

This is used by `express` so it would affect our production server:

[code]

[2017-09-27 19:37] kumar303 commented on #3260
Express claims that it's not vulnerable so we can probably add an exception for this advisory until they release a patch. https://github.com/expressjs/express/issues/3431

[2017-09-27 20:10] kumar303 opened #3262 "Add-on abuse report UI does not show errors"
### Describe the problem and steps to reproduce it:

* Using a local development server, go to an add-on detail page
* Click Report this add-on for abuse
* Enter some text for the abuse report
* Stop your development server. This will cause the API to respond with a 500 error. I'm not sure of any other way to trigger an API error.
* Click the Send abuse report button

### What happened?

Nothing.

[2017-09-27 20:58] pwalm commented on #3140
All three versions:
![extensions collection - 1366px](https://user-images.githubusercontent.com/6797635/30937512-e0a152ea-a38b-11e7-8cf9-0bc713c30b15.png)

![themes collection - 1366px](https://user-images.githubusercontent.com/6797635/30937519-e55fb196-a38b-11e7-9c1c-539f4e125624.png)

![collection mixed - 1366px](https://user-images.githubusercontent.com/6797635/30937525-e95f1c50-a38b-11e7-8816-

[2017-09-27 22:27] tofumatt commented on #3140
@pwalm: I have a general question about the ways extensions/themes are split up here (and on other pages)–what happens if there's only one theme in the list? Or if the search results surface themes that are more relevant for a search? Should we always de-emphasize themes?

For collections this is a bit less of an issue but for searches the API returns results largely based on relevancy–would it be

[2017-09-27 22:42] devaneymoz commented on #3140
From an Editorial perspective, it's not an MVP to have both themes and extensions within the same collection.

Also, I didn't think Search returns mixed these add-on types?

[2017-09-27 22:50] tofumatt commented on #3140
Search results can return mixed result types if no “add-on type” filter is set. Right now we just render them each on one row.

[2017-09-27 23:03] tofumatt commented on #3262
Oh shoot, good catch, thanks! I can grab this one.

[2017-09-27 23:06] tofumatt commented on #3100
Hi @tsl143, are you still working on this one or are you focusing on other issues? No worries either way, but I'll unassign this if you're busy with other stuff–I know you've been closing a tonne of issues lately so no worries if you don't have time for this one! 😄

[2017-09-28 06:56] ValentinaPC commented on #2751
Marking this as verified fixed based on the above comments.

[2017-09-28 07:09] ValentinaPC commented on #3253
Verified as fixed on AMO-dev FF55(Win 7).
Postfix video:
![contrast](https://user-images.githubusercontent.com/15685960/30953557-21c63494-a435-11e7-9d92-dd503620b206.gif)

[2017-09-28 07:28] ValentinaPC commented on #1952
This is happening for the new Filter menu also.
![more popular](https://user-images.githubusercontent.com/15685960/30954129-b4180e9c-a437-11e7-9232-7228923d3935.gif)

[2017-09-28 07:46] ValentinaPC opened #3265 "Unusable "See all versions" for themes"
Steps to reproduce:
1. Load details page for a theme i.e. https://addons.allizom.org/en-US/firefox/addon/summer-ladybug/
2. Observe "More information" section

Expected results:
There is no "See all versions" link for themes.

Actual results:
There is a "See all versions" link fro themes that redirects to an extension empty "version history" page.

Notes/Issues:
Verified on AMO-stage FF55/FF58(Win

[2017-09-28 08:38] ValentinaPC opened #3266 "Add-ons incompatible with your platform look installable"
Steps to reproduce:
1. Load details page for an add-on that is not compatible with your platform i.e. https://addons.allizom.org/en-US/firefox/addon/webext-no-platf/
2. See the installation button

Expected results:
The install button is disabled. A red banner saying that the add-on is not compatible with your platform is displayed.

Actual results:
No banner regarding the add-on platform incompat

[2017-09-28 08:44] tofumatt commented on #3266
@kumar303, I wonder if this is related to the new platform install feature?

- Matthew Riley MacPherson (sent from mobile)

[2017-09-28 09:10] vcarciu commented on #3218
Can you please add some STR for this issue or mark it as "qa:not needed" ?

[2017-09-28 10:03] willdurand commented on #3140
Quick question about these screens: where do we fetch the images displayed on the left side? I don't think it is a blocker for MVP, but I am curious.

[2017-09-28 12:14] tsl143 commented on #3100
Hi @tofumatt , thanks :)
I started on this, but got occupied with something, I may not be working on this for now. Please feel free to unassign this.

[2017-09-28 12:15] willdurand commented on #3100
Unassigned you @tsl143, thanks for all your contributions btw!

[2017-09-28 16:07] tofumatt commented on #3218
Navigate to an add-on that would give a 403 response and ensure there is a 404 Not Found response. You may need to create an add-on that is visible only to certain sign-in users then access it as none of those users to hit such a page.

If that's a pain let me know and we can skip the QA on this one as it's pretty basic.

[2017-09-28 16:09] tofumatt commented on #1952
It seems we lack a "popularity" feature in the sort options which maps to "hotness" on the API.

We should add that sort option and this shoud be fixed, I'd think.

[2017-09-28 16:09] tofumatt commented on #3265
The fix here is to not show that link on themes, which seemingly do not have a version history.

[2017-09-28 16:12] tofumatt commented on #3265
Because themes don't have a version we should also omit the "version" info on the More Information card–it's always "0".

[2017-09-28 18:49] #3255 closed

[2017-09-28 21:47] pwalm commented on #2775
First pass at a flow for this:
1) Developer sees a "Reply to this user" below each review.
<img width="1281" alt="screen shot 2017-09-28 at 2 42 21 pm" src="https://user-images.githubusercontent.com/6797635/30991858-c2e517c0-a45b-11e7-9099-f1ea22c37c81.png">

2) Launches a modal window with a reply field.
3) Dev can preview reply.
4) Dev can then publish.
<img width="1296" alt="screen shot 2017-09

[2017-09-28 21:55] #3262 closed

[2017-09-28 23:05] tofumatt commented on #2775
I dig it! I wouldn't call that a modal though–I think of a modal as a window that appears above all content and prevents interaction with the rest of the content/page until it's completed/dismissed. It's also disconnected from the content it's related to by virtue of it appearing above *all other* content.

I definitely prefer your UX where it *doesn't* prevent interaction with the rest of the pag

[2017-09-29 08:57] muffinresearch opened #3273 "404 initial render for out of range pagination has no content"
The first render of a 404 page for **out of range pagination** shows a blank page:

![ssr-404](https://user-images.githubusercontent.com/1514/31008425-ff5b2b36-a4fb-11e7-99aa-bfc3bb3b7f86.gif)

## STR:
URL: https://addons.mozilla.org/en-US/firefox/addon/transparent-standalone-imag/reviews/?page=3

At time of  filing this is Page 3 of 2 pages.

## What happens:

Looks like the right UI is shown whe

[2017-09-29 08:59] tofumatt commented on #3273
That sends a 404 HTTP code though, so that's bad for SEO.

[2017-09-29 09:56] muffinresearch commented on #3273
It should be a 404 though since that resource/page doesn't exist

[2017-09-29 11:10] tofumatt commented on #3273
Ohhh wait I misread the bug. Yeah, I understand now. My bad.

Matthew Riley MacPherson (sent from mobile)

[2017-09-29 11:24] muffinresearch opened #3274 "Add far futures expires to static content for the new frontend."
From looking at https://www.webpagetest.org/performance_optimization.php?test=170927_7D_c174dc90ef600bdd9247e31192a3adf3&run=1#cache_static_content there's some easy changes we can make to improve our perf scores.

Here's the specific bit we're interested in:

[code]

There's room for  a few easy changes.

* [x] The JS, CSS and woff2 files should have far-futures expires headers. The bundling will

[2017-09-29 12:35] muffinresearch opened #3275 "Update the favicon urls to directly point to the CDN"
Refs: https://github.com/mozilla/addons-frontend/issues/3274

Hitting /favicon.ico  currently redirects to the CDN for each deployed environment.

This should be fixed by setting the url to point to the CDN relevant to each deployment.

PROD: https://addons.cdn.mozilla.net/favicon.ico
STAGE: https://addons-stage-cdn.allizom.org/favicon.ico
DEV:  https://addons-dev-cdn.allizom.org/favicon.ico

Sinc

[2017-09-29 12:53] muffinresearch commented on #3274
Assigning to @bqbn for the expires headers on the statics.

[2017-09-29 18:53] #3185 closed

[2017-09-29 18:53] #2778 closed

[2017-09-29 20:50] kumar303 opened #3277 "Add an inline text form component for review replies"
I wanted to use the inline text form from abuse reporting (https://github.com/mozilla/addons-frontend/issues/2759) in the upcoming reply-to-review feature (https://github.com/mozilla/addons-frontend/issues/2775). This issue is to extract a component that will work for both of them.

[2017-09-29 21:38] #3277 closed

[2017-09-29 21:47] kumar303 opened #3279 "Refactor report abuse form to use DismissibleTextForm"
Part of the report abuse form was extracted into a reusable component. It landed in https://github.com/mozilla/addons-frontend/issues/3277

The [`ReportAbuseButton`](https://github.com/mozilla/addons-frontend/blob/9366b4b6856dbc99371f3aa1f9e80ec113952271/src/amo/components/ReportAbuseButton/index.js) component should now use [`DismissibleTextForm`](https://github.com/mozilla/addons-frontend/blob/9

[2017-09-29 21:53] kumar303 opened #3280 "Hook up the reply to review API"
This hooks up the reply to review API https://addons-server.readthedocs.io/en/latest/topics/api/reviews.html#reply

The UI for this will be done in https://github.com/mozilla/addons-frontend/issues/2775

[2017-09-29 22:00] tofumatt opened #3281 "Add More Section to header"
Turns out the UX of having the "Extensions" link in the header also be a dropdown was quite bad and I've opted to return to the old "More..." link–it's in a previous mock-up.

We're going to need this for the Language Tools and Search add-ons so I'm gonna add it.

[2017-09-29 22:05] devaneymoz opened #3282 "Extensions main page needs new copy"
The [Extensions page on dev](https://addons-dev.allizom.org/firefox/extensions/) needs proper copy. Please REPLACE:

Install powerful tools that make browsing faster and safer, add-ons make your browser yours.

WITH NEW COPY:

Explore powerful tools and features to customize Firefox and make it all your own.

[2017-09-29 23:41] tofumatt commented on #3282
We chatted about this in IRC and we’re actually going with:

[2017-09-30 02:00] tofumatt opened #3287 "Create Language Tools API/Sagas"
Supports #2777.

This will allow us to call the language tools API to get dictionaries and language packs on the new front-end.

[2017-09-30 15:55] Anshika-G commented on #3190
@tofumatt  can I take this?

[2017-09-30 15:56] tofumatt commented on #3190
Hi @Anshika-G, yes this would be a good first bug. I'll mark it as assigned 😄

[2017-09-30 15:57] Anshika-G commented on #3190
thanks,
Actually, I'm a beginner, can u pls guide!

[2017-09-30 16:06] tofumatt opened #3291 "Remove react-redux-loading-bar"
We don't use/need `react-redux-loading-bar` anymore because we now use `<LoadingText />` and handle "empty" prop component rendering now.

This will close a lot of issues.

Close #1156
Close #2179

[2017-09-30 16:20] tofumatt commented on #3190
The CSS is in the `ui/components/Card/Card.scss` file under:

[code]

You'll want to remove the `font-variant` property and attach before/after screenshots to your pull request 😄

[2017-09-30 16:26] Anshika-G commented on #3190
okay, Thanks!

[2017-09-30 21:54] #2179 closed

[2017-09-30 21:54] #3291 closed

[2017-09-30 22:03] tofumatt commented on #3252
I think this was removed from the new UI intentionally. I'm not sure the value in sorting add-ons by name; search results by name would ruin relevancy. Maybe sorting collections by name would be useful.

What's your usual use-case for sorting search results by name? This wouldn't be really difficult to add (as you discovered, under-the-hood it works, we'd just need UI and tests), but I'm not sure

[2017-09-30 22:35] #3239 closed

[2017-10-01 00:05] #3281 closed

[2017-10-01 11:50] grahamperrin commented on #3252
Various use cases. The most common is probably the simplest:

- browsing.

(I hate things appearing disorderly. I think of A–Z, alphabetical order, as a basic requirement … YMMV, maybe it's 'cause I'm somewhat dyslexic.)

There's no easy way to say this (sorry): more often than not, I already see relevancy as ruined. Too often so poor that I treat it as a waste, a massive waste, of space. Massive

[2017-10-01 12:42] tofumatt commented on #3252
I guess if you're okay to browse through a very large result set then alphabetic order might help make you feel like you can "keep place" a bit, that makes sense to me. Thanks for the explanation, that helped! 😄

Okay, I'm sold. Understand this won't be a super high-priority bug though I think it's worth doing so I'll keep it around. It's probably a good first bug as it's mostly UI and easy tests.

[2017-10-01 12:45] tofumatt commented on #3252
Actually, curiously, I'm surprised your `sort=name` thing worked given `name` is not a documented sort option for the [search API](http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#search).

@diox: is name not something we should rely on? Or is it just undocumentated by mistake?

[2017-10-01 23:14] tofumatt commented on #3000
@pwalm Can you let us know which images we should use for each of the carousels in the [launch content plan](https://docs.google.com/document/d/1PeBCNbx0V-5NReKdyv1c14Za6sVjTJ60-ondGaJDBBg/edit#)? I'll use generic things for now but we'll want specific images 😄

[2017-10-02 06:45] ValentinaPC commented on #3266
@muffinresearch 👍
- example: https://addons.allizom.org/en-US/developers/addon/webext-no-platf/versions
- platforms - anything beside the platform you are using, in my case: Linux and Mac
![2017-10-02_0944](https://user-images.githubusercontent.com/15685960/31066558-737fa79c-a756-11e7-8fa3-2f50e308105a.png)

[2017-10-02 08:26] ValentinaPC commented on #3282
Verified this on AMO-dev FF56 (Win 7).
The text was changed in AMO homepage, but not in the Extensions homepage.
Please see screenshots from both places:
![homepage](https://user-images.githubusercontent.com/15685960/31069285-7d530634-a764-11e7-8584-942c450e0af5.png)
![ext_h](https://user-images.githubusercontent.com/15685960/31069291-8436e2f4-a764-11e7-8f4c-1e650e922000.png)

I think we should ch

[2017-10-02 08:32] AlexandraMoga commented on #3255
Retested scenario and works as expected now
verified on AMO-dev F55 (WIn 10 and Android 7.0)

Postfix video:

![edit review fix](https://user-images.githubusercontent.com/31961530/31069433-208e9a34-a765-11e7-95d0-ee3652485422.gif)

[2017-10-02 08:36] ValentinaPC commented on #2179
Please add some STR for us to check his or the label "qa: not needed". Thanks!

[2017-10-02 09:08] ValentinaPC commented on #1156
Verified this on AMO-dev FF56(Win 7)
While hovering over the rating stars, no matter if a review was already submitted or a new one is made, any selection I made, same info is displayed, "no ratings" in my case.
Please see the video:
![no rating](https://user-images.githubusercontent.com/15685960/31070711-0c6f755a-a76a-11e7-9cdc-07a4bc0cebb6.gif)

Am I missing something?

[2017-10-02 09:42] tofumatt commented on #3282
Good point, I’ll follow this up with another patch.

- Matthew Riley MacPherson (sent from mobile)

[2017-10-02 10:29] AlexandraMoga commented on #3281
Verified in FF55 (Win 10 and Android 7.0)

Postfix screenshot:
![more menu layout verified](https://user-images.githubusercontent.com/31961530/31073566-19e75062-a775-11e7-8903-8bae18156890.png)

![mobile view](https://user-images.githubusercontent.com/31961530/31073656-890d8d44-a775-11e7-8089-ff72dbce819b.png)

[2017-10-02 11:18] AlexandraMoga opened #3300 "[RTL] 'More' menu layout appears sectioned on browser width <720"
Steps to reproduce:

1. Go to AMO homepage
2. Select a RTL language (i.e. https://addons-dev.allizom.org/fa/firefox/)
3. Change page width to <720
4.  Open the 'More' menu

Expected result:
'More' menu is displayed without any layout issues

Actual result
'More' menu  appears sectioned on the right hand side

Notes:
Tested on FF56, Win10
Reproduces also on Android device in landscape mode

![secti

[2017-10-02 11:36] #3282 closed

[2017-10-02 11:38] ValentinaPC opened #3302 ""More..." option is moving while using up/down arrows from the keyboard"
Steps to reproduce:
1. Load AMO-dev homepage https://addons-dev.allizom.org/en-US/firefox/
2. Navigate to "More..." using `tab` option from the keyboard
3. When on it, tap up/down arrows from the keyboard

Expected results:
Page is moved up/down.

Actual results:
"More..." menu option is moved.

Notes/Issues:
- another thing is that going from Themes option to More..., requires 2 "tabs".
Verified

[2017-10-02 11:45] AlexandraMoga commented on #3185
verified on FF56 (Win 10 and Android 7.0)

Postfix video:

![vertical jump menu](https://user-images.githubusercontent.com/31961530/31075857-3fb4d2d2-a780-11e7-98b9-ed631c596f8f.gif)

[2017-10-02 12:06] AlexandraMoga opened #3303 "Developer Hub and Account Name options are not aligned"
Steps to reproduce:

1. Go to AMO homepage (i.e https://addons-dev.allizom.org/en-US/firefox/)
2. In the page header, observe the Developer Hub and Account Name links alignment

Expected result:
 Developer Hub and Account Name links are aligned

Actual result:
There is a small difference between the two links alignment

Notes: observed on FF56, Win 10

Screenshot:
![allignment issue](https://user-

[2017-10-02 12:14] willdurand commented on #3303
Looks like this "Developer" link has moved for some reasons..

<img width="408" alt="screen shot 2017-10-02 at 14 13 11" src="https://user-images.githubusercontent.com/217628/31076730-e654cdfe-a77b-11e7-92a3-d7b404617399.png">

[2017-10-02 12:59] tofumatt opened #3304 "getFakeI18nInst is a weird name"
We should rename `getFakeI18nInst` because it's weird to remember, import, and is clearly from a bygone era–the great UNIX vowel shortage of 1970.

I think `fakeI18n()` would be fine.

[2017-10-02 13:23] muffinresearch commented on #3304
Come on, I'm not quite that old 😆

[2017-10-02 13:29] muffinresearch commented on #3302
That is related to https://github.com/mozilla/addons-frontend/issues/3110 and should be fixed by the solution to that.

[2017-10-02 14:11] tofumatt commented on #2702
This now displays results, so I'm closing this. We should still show an "Enter a search term"... maybe... an empty search technically works and maybe we should just allow it.

[2017-10-02 14:15] AlexandraMoga commented on #2778
The new icons are available for all the mentioned categories (both extensions and themes) in the Firefox platform.
Theme category icons are applied for the Android platform as well.

Several examples:

Extensions
![new icons_ext](https://user-images.githubusercontent.com/31961530/31081482-b99694aa-a794-11e7-9344-b48d94336733.png)
Themes
![new icons_themes](https://user-images.githubusercontent.com

[2017-10-02 14:30] willdurand opened #3307 "Featured add-ons should be compatible with user browser"
The current implementation of the featured add-ons retrieval relies on the [Featured API endpoint](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#featured). This is not good since we try not to show incompatible add-ons to the users. This endpoint has no notion of `appversion` parameter for instance.

The featured add-ons retrieval does not rely on the Search API but ideally

[2017-10-02 14:44] #3190 closed

[2017-10-02 15:51] muffinresearch opened #3308 "Add most popular extensions shelf to the homepage [1/5]"
Breaking this out from #3152

Add a shelf  of content  on the homepage to  feature  "Most Popular" content.

https://docs.google.com/document/d/1PeBCNbx0V-5NReKdyv1c14Za6sVjTJ60-ondGaJDBBg/edit#heading=h.mnb8tk6s8el0

Not sure if there's specific UX for this see below for what's in the mock - I'd suggest starting with the same as the default shelf and then we can specialize the look and feel separ

[2017-10-02 16:03] muffinresearch opened #3309 "Add collection based shelf to Homepage [2/5]"
Breaking this out from #3152

Add a shelf of content on the homepage to feature a defined collection.

https://docs.google.com/document/d/1PeBCNbx0V-5NReKdyv1c14Za6sVjTJ60-ondGaJDBBg/edit#heading=h.mky7j18wsuga

For release the collection is going to be called: "Change your tabs" and points to

https://addons.mozilla.org/firefox/collections/mozilla/change-up-your-tabs/

Not sure if there's specifi