[2018-06-20 12:12] willdurand opened #5336 "Display more pages to the paginator"
According to the mock-ups, we should display more pages in the paginator, specifically some pages at the beginning and the last one:

![screen shot 2018-06-20 at 14 07 20](https://user-images.githubusercontent.com/217628/41657395-932315ec-7493-11e8-9c31-07dc0c727683.png)

Current version is:

![screen shot 2018-06-20 at 14 10 26](https://user-images.githubusercontent.com/217628/41657452-b1a28a70-7

[2018-06-20 12:12] ioanarusiczki commented on #5302
Verified fixed on AMO dev with FF60(Win10 & Android 8.0)
Filed https://github.com/mozilla/addons-frontend/issues/5335

[2018-06-20 12:15] willdurand commented on #5336
@pwalm I have some questions about this component and the new UI.

On first page, we should display the 6 first pages + the last one, right? (that's what I see in Sketch). But, then...

- What should be displayed when there are less than 6 available pages?
- What should be displayed when there are 7 available pages?
- What should be displayed when we are on page 7 and there are 14 available pages?

[2018-06-20 12:30] ioanarusiczki commented on #5335
Oh, alright, I've just noticed that this changed for the reviews too while checking this https://github.com/mozilla/addons-frontend/issues/4890
Noted!

[2018-06-20 13:21] ioanarusiczki commented on #4890
The light grey while hovering is more evident now with the new design although it could be made even darker.
Verified fixed on AMO Dev with FF60(Win10).

![hover over next](https://user-images.githubusercontent.com/33448286/41660877-ff02db96-74a5-11e8-8062-bbc3ba13b3f1.png)

[2018-06-20 13:55] #5217 closed

[2018-06-20 14:17] willdurand opened #5338 "Use thumbnails in Screenshots component"
For obscure reasons, we don't use thumbnails in the `Screenshots` component, but full size images that are down-scaled to appear as thumbnails. The API returns both images and thumbnails, so we should use the thumbnails.

It is also worth mentioning that, as of this week, the API returns larger full size images. This will negatively impact the frontend performances because loading `N` big images a

[2018-06-20 14:20] #5314 closed

[2018-06-20 14:44] willdurand commented on #3100
For QA, the new paginator still looks a bit different (please see #5336) but here are the things to test:

- make sure there are more pages displayed by default
- make sure that links work
- on small screens, the paginator should look different (i.e. only prev/next buttons as before)

[2018-06-20 14:50] ioanarusiczki commented on #4599
Verified fixed on AMO dev with FF60 (Win10)
@willdurand The static themes in this context should be included into Theme artist. For now if a static theme is submitted and approved is considered into Add-ons developer.

![titles](https://user-images.githubusercontent.com/33448286/41666117-6416bcd0-74b2-11e8-8a0d-26f6ec4c9de0.png)

[2018-06-20 15:22] #5331 closed

[2018-06-20 15:38] #5304 closed

[2018-06-20 15:40] kumar303 opened #5340 "Add Flow types to prevent misuse of component props, part 1 (easy)"
This is part 1 (the easy part) to preventing Flow typed code from calling a component with invalid props. For details, see: https://github.com/mozilla/addons-frontend/issues/3563

This first step just fixes components that generated 0-3 errors.

[2018-06-20 15:52] kumar303 opened #5342 "Add Flow types to prevent misuse of component props, part 2 (hard)"
This is part 2 (the hard part) to preventing Flow typed code from calling a component with invalid props. For details, see: https://github.com/mozilla/addons-frontend/issues/3563

This second step fixes components that generated 3 or more errors. If the diffs become too big I'll spit it into further patches for easier reviewing.

- ui/components/HostPermissions (7 errors)
- ui/components/Hero (20

[2018-06-20 16:01] kumar303 opened #5343 "Control local component state with Redux"
It's convenient to use `this.setState()` to change local component state. However, all uses of `setState()` will break Redux. By that I mean we will lose the ability for Redux to track our state changes. Here are things that will be broken:

* The Redux devtool will not let you time travel between state changes if you use `setState()`
* A future hypothetical error reporter (which would [send all s

[2018-06-20 16:03] kumar303 commented on #5306
I think that's fine. It's enough of a hint to indicate that tapping on it will give you a menu of user related actions.

[2018-06-20 16:57] #5340 closed

[2018-06-20 19:02] rebmullin opened #5345 "Specific user page doesn't work on dev"
### Describe the problem and steps to reproduce it:
getting 404 for https://addons-dev.allizom.org/en-US/firefox/user/c.cheng/

### What happened?
getting 404 for this specific user only

### What did you expect to happen?
user page will appear

### Anything else we should know?
happens if logged in or out.

if you look at legacy site, it comes up there.

There may be other occurrences but so far

[2018-06-20 20:11] willdurand commented on #5345
Super good catch! I think it is an API issue though, because I get a 404 when calling the API with this username.

[2018-06-20 22:02] mickyfan2345 commented on #5116
@jvillalobos @willdurand  hello what's going on with the problem

[2018-06-20 22:35] jvillalobos opened #5346 "Add UTM parameters to Disco Pane links"
Per [this spec](https://docs.google.com/document/d/1zQddLWnKj4TyGOrEbECLlEENN0iljUjoBrGvDFz8yrI/edit), we should add UTM parameters to all links on disco pane, so they are easy to track in analytics dashboards.

There are 3 links I see that need this treatment.

Link to add-on listing on each Disco Pane entry:
* `utm_source=discovery.addons.mozilla.org`
* `utm_medium=firefox-browser`
* `utm_conten

[2018-06-21 05:46] FatOrangutan opened #5347 "Favicon disappears sometime during browsing"
### Describe the problem and steps to reproduce it:
I don't have any reproducible steps, just that while browsing AMO (new site), at some point its favicon will stop showing up in the tab bar for new page loads.

### Anything else we should know?
![capture](https://user-images.githubusercontent.com/8336638/41700003-2b2d4726-7544-11e8-8e86-22114ebc0522.PNG)
Fwiw, I can manually load `https://addons

[2018-06-21 08:32] AlexandraMoga commented on #3887
@willdurand in the context of the pagination work done now, do you think this could be addressed as well?

[2018-06-21 08:34] ioanarusiczki opened #5348 "Collection text fields don't display emojis on android devices"
STR:
1. Load AMO dev and goto collections , click the name of a collection and then edit it
2. Try to insert in the collection name, description or comments an emoji
3. Click save and observe the field

Expected result:
The emoji is displayed.

Actual result:
The emoji is not visible.

Notes:
This issue is reproducible on AMO dev with FF60(Android 8.0).
Emojis are displayed for reviews - on the ne

[2018-06-21 08:37] ioanarusiczki commented on #3890
Verified fixed on AMO dev with FF60(Win10 and Android 8.0)

[2018-06-21 09:00] AlexandraMoga commented on #5266
The styling issues have been fixed by the implementation of the new pagination format.

Verified as fixed on AMO stage with FF60 and Android 7.0
![image](https://user-images.githubusercontent.com/31961530/41708937-a7af8862-754a-11e8-9f9b-c539b02047c1.png)

![image](https://user-images.githubusercontent.com/31961530/41708957-af888dae-754a-11e8-8a48-dcf34c44202f.png)

[2018-06-21 10:14] vcarciu opened #5349 "Next\Previous buttons don't correctly fit in the pagination section for some languages"
Steps to reproduce:
1.Perform a blank search and go to pagination section at the bottom of the page
2.Change language to Romanian and hover over Next\Previous buttons

Expected results:
No UI issues

Actual results:
Next\Previous buttons don't correctly fit in the pagination section

Please see a video for this bug :
![nextprev](https://user-images.githubusercontent.com/1583842/41713159-06ff1184-7

[2018-06-21 11:17] #5349 closed

[2018-06-21 11:27] vcarciu commented on #3100
Verified as fixed :
![pagination](https://user-images.githubusercontent.com/1583842/41716471-35a7e10a-755f-11e8-80ba-96d86dbaa627.gif)

Also verified for small screens and everything works as expected.

[2018-06-21 15:06] #4810 closed

[2018-06-21 15:06] #5077 closed

[2018-06-21 15:33] willdurand commented on #5184
@MeridelW hi, any chance to get some help from you?

[2018-06-21 15:51] willdurand opened #5353 "Add 'pagination' state to the addonsByAuthors reducer/saga"
In order to address #4809, we need to be able to paginate the results shown in the `AddonsByAuthorsCard`. In order to do that, the `addonsByAuthors` needs a few changes, such as:

- adding `pageSize` as a required argument to `fetchAddonsByAuthors()` in order to pass this value from the UI
- adding `page` and `sort` arguments (optional) to `fetchAddonsByAuthors()` to be able to paginate the add-on

[2018-06-21 16:52] rebmullin commented on #5345
I think the culprit is the period in their name.  I see the following message when I try to change my username to have a period in it:

![Alt text](https://monosnap.com/image/UABZmj0WxpjQj9g7g2hJnrx2Smrzp3.png)

so we need to either change the dots to something else (or remove these) or see if this restriction can be removed.

[2018-06-21 16:54] willdurand commented on #5345
You should probably report this issue on addons-server.

[2018-06-21 17:31] willdurand commented on #5219
@muffinresearch should we try to fake the update on the frontend so that the notification appears selected even though the API did not acknowledge the update?

[2018-06-21 17:34] willdurand commented on #4964
@jvillalobos if a user already has content (like homepage, bio, etc.) on their profile but is not a developer or artist, should we still display the input fields on their edit profile page? Or does it really matter to show all inputs to all userS?

[2018-06-21 17:35] willdurand commented on #5146
@dominictwlee interested in contributing on this issue?

[2018-06-21 17:36] rebmullin commented on #5345
yep - will do that..

[2018-06-21 17:51] #5345 closed

[2018-06-21 17:52] rebmullin commented on #5345
moving issue to addons-server: https://github.com/mozilla/addons-server/issues/8607

[2018-06-21 19:04] muffinresearch commented on #5219
@willdurand that sounds complicated. To do that we'd probably need to maintain a record of the state requested and the actual state.

@diox did we get anywhere with the proposal of linking direct to the basket page with the token? This would alleviate this completely.

[2018-06-21 20:47] willdurand opened #5357 "Disable ESLint rule `react/sort-comp` globally"
The [`react/sort-comp` rule](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-comp.md) often forces us to either disable it or to write code we did not want to write in the first place (for example, adding attribute declarations in the middle of a class, not at the top of it).

We should disable this rule globally.

[2018-06-21 20:51] jvillalobos commented on #4287
@kumar303 might be able to resolve the question in the last comment.

One thing I'd like to add after going over the [PRD](https://docs.google.com/document/d/1oUz9Ng9v159IPdW4UqHhbNspWa9m5SaicAAX5jU7OjA/edit#) for Ratings: the stat in the top right shows the number of _ratings_, while the link in the left column below the summary shows the number of _reviews_ (ratings with written text). It makes

[2018-06-21 21:04] #5353 closed

[2018-06-21 21:08] dominictwlee commented on #5146
@willdurand Sure, I should have a bit of time over the weekend to take a look at this.

[2018-06-21 21:11] #5338 closed

[2018-06-21 21:24] rebmullin commented on #5174
Per our discussion at all-hands and [addons-server-issue-8412](https://github.com/mozilla/addons-server/issues/8412), I think we are a good place with this, i.e. we are going to get some new images sizes and scale down if necessary by adjusting the css - which I've started in [this PR](https://github.com/mozilla/addons-frontend/pull/5225).

[2018-06-21 21:39] rebmullin opened #5359 "clean up / remove any lightweight theme logic once migration is ready"
### Describe the problem and steps to reproduce it:

There is code specific to lightweight themes which I believe can be removed once the migration is ready:

there is some logic that defines valid types, which includes persona. We should be able to remove and replace with statictheme.

remove all the themedata set up that lightweight themes is using

update the search filter

other stuff?

---

*

[2018-06-21 21:44] jvillalobos opened #5360 "UI for voting for user reviews (helpful / not helpful)"
[Ratings PRD](https://docs.google.com/document/d/1oUz9Ng9v159IPdW4UqHhbNspWa9m5SaicAAX5jU7OjA/edit#heading=h.z6eh8thy43a6).

Logged in users should be able to vote on a user review's helpfulness, up or down, once. They can't vote for reviews they wrote, or for add-ons they have authored. They should be able to undo or change their vote. The UI should show if a review was previously voted on by tha

[2018-06-22 06:38] AlexandraMoga commented on #5187
Verified fixed in prod

[2018-06-22 09:14] ioanarusiczki commented on #5304
Verified fixed on AMO dev with FF60(Win10 & Android 8.0)

![static themes - version history](https://user-images.githubusercontent.com/33448286/41768732-c59d25f2-7615-11e8-8571-b2c808b1ea42.gif)

[2018-06-22 09:56] #5357 closed

[2018-06-22 11:11] ioanarusiczki commented on #5314
Verified fixed on AMO dev with FF60(Android 8.0)

![videotogif_2018 06 22_14 01 03](https://user-images.githubusercontent.com/33448286/41773839-1d457e52-7626-11e8-82b1-c5ddb70529ca.gif)

[2018-06-22 13:24] vcarciu commented on #5349
Verified as fixed :
![nextprevfix](https://user-images.githubusercontent.com/1583842/41778856-ab2a0938-7638-11e8-9bb6-f02c5523a2cc.gif)

[2018-06-22 13:45] vcarciu commented on #5338
@willdurand  : can you please add some STRs for this issue or mark it as "qa: not needed" ?

[2018-06-22 13:50] ioanarusiczki commented on #4810
Verified fixed on AMO dev with FF60(Win10&Android 8.0)
![lightweightandstaticthemes](https://user-images.githubusercontent.com/33448286/41780043-4758d570-763c-11e8-8ae0-739cb5214873.png)

[2018-06-22 13:56] willdurand commented on #5338
@vcarciu on an add-on detail page, the thumbnails should not be the same images as the ones displayed when you click a thumbnail. The thumbnails should be small images.

Example: https://addons-dev.allizom.org/en-GB/firefox/addon/octopar-troose-jagle/

[2018-06-22 14:08] ioanarusiczki opened #5364 ""About this theme" should be displayed for static themes"
Moving https://github.com/mozilla/addons-server/issues/8554 to front-end
STR:
1. Load AMO dev and go to a static theme's listed page
2. Observe that the same text is displayed at the summary (text at the left of the Install Button and into the "Above this theme" section)

Expected result:
"About this theme" section is not displayed.

Actual result:
About this theme section is available and repeats

[2018-06-22 14:38] vcarciu commented on #5338
Thanks @willdurand
Verified as fixed :
![thumbnails](https://user-images.githubusercontent.com/1583842/41782477-0647bcfc-7643-11e8-82e2-270bedbf25ac.gif)

[2018-06-22 14:39] #5342 closed

[2018-06-22 14:41] rebmullin opened #5365 "The profile picture doesn't always show up immediately after updating"
### Describe the problem and steps to reproduce it:
Go to your profile with a picture
Delete the picture
click Update my profile
click Edit Profile
Add picture
click Update my profile

### What happened?
profile image doesn't immediately appear

### What did you expect to happen?
profile image appears without having to refresh, etc

### Anything else we should know?
https://monosnap.com/file/6R6NG

[2018-06-22 14:41] ioanarusiczki commented on #5077
Verified fixed on AMO dev with FF60(Win10)

![lw and static themes combined](https://user-images.githubusercontent.com/33448286/41782617-6bfa7fb2-7643-11e8-813e-143b66ae6012.gif)

[2018-06-22 15:01] #5327 closed

[2018-06-22 15:13] rebmullin commented on #5364
hey @jvillalobos, can you please advise on this?

FYI, we have the same for lightweight themes:
![Alt text](https://monosnap.com/image/4RLUFZYGWXU7jxPjVJj8eXmBlXPiMr.png)

[2018-06-22 15:18] kumar303 opened #5366 "Run as many CI jobs in parallel as possible for faster tests"
Each [stage](https://docs.travis-ci.com/user/build-stages/#How-to-define-Build-Stages%3F) in our [`.travis.yaml`](https://github.com/mozilla/addons-frontend/blob/2a3dcfb73081cd5bd82d00ccbad2f9ae709609fa/.travis.yml) file is run sequentially. It is necessary to run some scripts sequentially but not all. We can definitely combine some scripts into a single stage so that they run in parallel. This wi

[2018-06-22 15:29] kumar303 commented on #5366
Whoops, my bad. It looks like our yaml file just defines `stage` way more than it needs to. The scenario in this issue is wrong. I think we are running in parallel.

From the docs:

[2018-06-22 15:29] #5366 closed

[2018-06-22 16:25] kumar303 opened #5367 "Put back typeahead test filtering in Jest"
We should add back the feature where you can press `p` or `t` and type names to filter tests while running `yarn test`.

[2018-06-22 16:34] willdurand commented on #5312
I added `prettier` to the exclusion list of dev deps that need to be pinned because Prettier recommends to use exact versions.

[2018-06-22 16:40] EnTeQuAk opened #5369 "AMO uses English date format for Upper and Lower Sorbian"
From https://github.com/mozilla/addons-server/issues/6810 (See that issue for much more information)

[2018-06-22 16:41] jvillalobos commented on #5364
I don't remember if we decided to have both a summary and description for static themes, or just one of them. @eviljeff?

We should remove the duplication either way. So, if we only have a one field, remove the "About this theme" module. If we have both, then there's a possibly bug in their display.

[2018-06-22 16:49] jvillalobos commented on #4964
I think it's better to show all inputs for all users. I can picture some dev polishing their profile before publishing their first add-on. And it would also be weird if you enter that info and then those inputs disappear because your add-on is disable or deleted or something.

[2018-06-22 16:50] willdurand commented on #4964
Cool, thanks!

[2018-06-22 17:07] eviljeff commented on #5364
@jvillalobos you said just one of them, like personas.  I can't find where it was discussed though.  If you really want both summary and description it wouldn't be terribly difficult to make the change in edit listing to expose it again.  But for most themes even the summary will be unused (though it is required so I guess we'll get lots of "." and "    " summaries.

The duplication is the same as

[2018-06-22 17:09] #4964 closed

[2018-06-22 17:59] willdurand commented on #4282
@jvillalobos quick questions related to this one:

- each user can see their reviews, but no one else can, is that correct?
- Developer profile pages will not list their reviews publicly?

[2018-06-22 18:09] pwalm opened #5370 "Update the "Get the add-on" Badge"
As mentioned in this [discourse thread](https://discourse.mozilla.org/t/get-download-addon-for-firefox-badge-button-to-embed-into-website/28162), we have a "Get the add-on" badge for developers to add to their websites and link directly to the extension detail page on AMO. It needs to be visually updated to match [Photon](https://design.firefox.com/photon), but I'm wondering if it needs to live so

[2018-06-22 18:10] jvillalobos commented on #5364
Yes, I think we should drop the "About this theme" module for both. /cc @pwalm @MeridelW for confirmation.

[2018-06-22 18:12] jvillalobos commented on #4282
Correct.

They shouldn't be public, no. We just show users their own reviews.

[2018-06-22 18:13] willdurand commented on #4282
Thanks for the quick reply!

[2018-06-22 18:14] pwalm commented on #5364
This is fine for now, but when we reduce the summary text to just be a subtitle (like ~30 characters) in the not-too-distant future, the longer copy of the summary (some people really go for it and write a paragraph) will have to live in the "About this theme" area.

If anything, it makes more sense to kill the summary text area for themes and move that copy into the "About this theme" area.

[2018-06-22 18:35] #5367 closed

[2018-06-22 18:55] #5312 closed

[2018-06-22 19:10] kumar303 opened #5371 "Download Firefox button is squished on mobile screens"
### Describe the problem and steps to reproduce it:

* Load any page of the site on a non-Firefox mobile browser (Chrome, Safari, etc)

### What happened?

The Download Firefox button is squished and the text is broken across lines.

<img width="326" alt="screenshot 2018-06-22 13 57 17" src="https://user-images.githubusercontent.com/55398/41794735-fc10dc36-7625-11e8-94c7-6a467fa55de9.png">

### Wh

[2018-06-22 19:12] willdurand commented on #5312
For existing PRs, the best is to:

1. squash all the commits first

[code]

- Add `r` instead of `pick` one the first line
- Add `f` instead of `pick` on all subsequent lines
- Save, it will ask for the new commit message, write it and save again

2. install Prettier locally:

[code]

3. run the command below to apply Prettier on changed files:

[code]

4. Clean your diff (remove unwanted changes)

[2018-06-22 19:34] jvillalobos commented on #5370
The button is a useful asset to developers, so we should probably have it available on some documentation page or repository. Maybe MDN is a good enough (temporary) home for it?

[2018-06-22 20:10] jvillalobos opened #5374 "Send add-on GUID to Firefox install page"
When users visit a listing page with a browser that isn't Firefox, they get a Firefox install button that points to mozilla.org.

In order to support the Return to AMO project, we need to add `utm_content=ADDON_GUID` to the URL parameters. This project is still being planned and will probably land late in Q3, so this issue is blocked on product decisions.

[2018-06-22 20:18] willdurand commented on #3045
Fixed by #5313

[2018-06-22 20:18] #3045 closed

[2018-06-22 20:18] willdurand commented on #4940
Fixed by #5313

[2018-06-22 20:31] jvillalobos opened #5376 "Implement EULA view"
When you click on a license agreement link on a listing page (like [this one](https://addons.mozilla.org/addon/sovetnik/)), the old site is shown. We should open a EULA page or show it inline. I suppose the same approach would apply for this and the privacy policy (#1828). /cc @pwalm for ux.

[2018-06-22 20:56] jvillalobos commented on #5364
If the plan is to reduce the summary length and encourage devs to write a description, then it sounds that the better solution in this case is to enable the description field for static themes, and show that in the "About this theme" area for those (I don't think we can do this easily for LWT). We can drop that area for LWT only.

[2018-06-23 04:35] imran2331 opened #5377 "download 2captcha for fire fox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-23 05:07] CodeManDeluxe opened #5378 "where did it go? Don't tell me they dropped it."
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

**_Last.fm SoundCloud Scrobbling_**

[2018-06-23 09:07] dominictwlee commented on #5146
@willdurand What link are you precisely referring to for manage firefox accounts?
[(https://www.mozilla.org/en-GB/firefox/accounts/)]?

[2018-06-23 09:15] devshiva619 commented on #5315
@ioanarusiczki hey I am a beginner and would like to work on this. If you can guide me how I can solve this I would like to work on this. 😃

[2018-06-23 09:20] championshuttler commented on #5378
Hi @CodeManDeluxe , I think developer deleted the addons from AMO sadly . And in this case we can not do anything. I tried to find some alternate for it. Please check the second answer of this question. May be this can help you https://www.quora.com/How-do-you-scrobble-from-Soundcloud-to-Last-fm-without-Extension-fm.
Let me know if it works :)
Thanks
Shivam

[2018-06-23 10:01] willdurand commented on #5146
@dominictwlee I think it is https://accounts.firefox.com/settings

[2018-06-23 10:02] #5378 closed

[2018-06-23 10:02] #5377 closed

[2018-06-23 14:59] #5146 closed

[2018-06-23 18:35] bobsilverberg opened #5381 "Clarify headings and placeholder text for My Collections screen"
The current mockup for the "My Collections" screen has identical headings for the "info" card on the left and the "listing" card on the right, both of which is "My Collections". This seems a bit odd, so I'm looking to see if anyone (i.e., @pwalm or @MeridelW) has any ideas about improving it. See the screenshot below for an example.

As well, no placeholder text was specified for when a user has n

[2018-06-23 21:00] willdurand commented on #5381
At the very least (and I'd say it should be part of #5309), the left card (with the create button) should be named "About collections" because that's basically the aim of this card according to the copy inside.

[2018-06-23 21:09] willdurand opened #5382 "AddonsByAuthorsCard does not look nice on small screens"
Browse an add-on with "other add-ons by authors", e.g., http://localhost:3000/en-US/firefox/addon/enhancer-for-youtube/?src=recommended_fallback or a user profile, e.g., http://localhost:3000/en-US/firefox/user/l4/ using a device with a small screen.

User profile (no ratings 😞)

<img width="461" alt="screen shot 2018-06-23 at 23 05 21" src="https://user-images.githubusercontent.com/217628/4181363

[2018-06-24 10:44] grahamperrin commented on #3252
I never remember how to do this, bookmarking it now:

https://addons.mozilla.org/search/?type=extension&sort=created

[2018-06-25 08:52] ioanarusiczki commented on #4197
Verified fixed on AMO dev with FF60(Win10 &Android 8.0)
Here's a demo for dev (improved especially for small image samples) versus stage (the old view)

![dev versus stage](https://user-images.githubusercontent.com/33448286/41840308-169a1e10-786e-11e8-9908-77f6b981b23b.gif)

[2018-06-25 09:38] eviljeff commented on #5364
I'm not really convinced most themes designers will need more than 30 characters anyway, but I'll re-open mozilla/addons-server#8554 then so they can add a description in devhub.

imo I'd leave LWT as now, if that's easier/more consistent, and just change for static themes.  The property is already in the API, so there's no blocker on the addons-server side to make API changes

[2018-06-25 09:40] #5315 closed

[2018-06-25 09:44] willdurand opened #5386 "Two buttons to edit a collection note"
### Describe the problem and steps to reproduce it:

1. Create a collection at: http://localhost:3000/en-US/firefox/collections/add/
2. Add one add-on to the collection
3. Click the "comment"/"note" icon to leave a note about this add-on in the collection
4. Save the note

### What happened?

We see an "edit" button but the original button to add a note is still visible (the icon):

![screen shot

[2018-06-25 10:11] diox commented on #5219
@muffinresearch unfortunately my proposal wasn't met with huge approval :) https://github.com/mozilla/addons/issues/727

[2018-06-25 10:19] willdurand opened #5387 "Last updated date can be `null` on an add-on detail page"
I guess this only occurs when browsing the add-on detail page of an add-on with self-hosted versions (for instance, when creating and signing a brand new extension with `web-ext`):

![screen shot 2018-06-25 at 12 16 38](https://user-images.githubusercontent.com/217628/41844857-d582d5e4-7871-11e8-926d-6fe5267af490.png)

It shows "invalid date" in the "More information" card.

[2018-06-25 11:15] AlexandraMoga commented on #5327
Verified fixed on AMO -dev with FF60, Win10x64 and Android 7.0

![no error](https://user-images.githubusercontent.com/31961530/41847296-2cb1adf8-7882-11e8-9843-b4eb058ffedd.gif)

[2018-06-25 11:45] ioanarusiczki opened #5388 "Add-on custom icons are not correctly displayed"
Moving issue https://github.com/mozilla/addons-server/issues/7956

STR:
1. Go to Edit images in dev hub for a submitted ad-on
2. Upload a .jpg sample from edit images using upload a custom icon button
3. Save changes and click on View Listing
4. Observe the icon on the ad-on detail page

Actual result:
Images look a bit squashed.

Expected result:
Images are correctly displayed.

Notes:
This issue

[2018-06-25 12:21] ioanarusiczki commented on #5252
@willdurand It is reproducible with Chrome too.
What I've noticed is that this is much easier to reproduce it for the custom add-on icons in both browsers FF and Chrome.
![custom icon](https://user-images.githubusercontent.com/33448286/41849727-9b85b0be-788a-11e8-9b3b-4ebc55c9808d.gif)

[2018-06-25 12:47] vcarciu opened #5390 "Different URLs for "Manage firefox account" links in legacy and new frontend."
Steps to reproduce:
1.Login to AMO-dev
2.From Edit Profile, click the "Manage firefox account" link from both new frontend and legacy frontend
3.Observe the URLs

Expected results:
URLs are the same

Actual results:
Links are different (https://accounts.firefox.com/settings for new frontend, https://stable.dev.lcip.org/settings for legacy frontend)

Please see a photo of this bug :
![fxa](https://

[2018-06-25 12:58] AlexandraMoga commented on #5146
Verified on AMO-dev with FF60, Win10x64 and Android 7.0

An issue regarding link redirection was fond and filed separately - see #5390

[1] edited user logged in
![image](https://user-images.githubusercontent.com/31961530/41850723-4e0c1266-788e-11e8-8c4d-5310148d969d.png)

[2] edited user logged out
![image](https://user-images.githubusercontent.com/31961530/41850740-5ed137a2-788e-11e8-9b40-3fe786

[2018-06-25 13:10] AlexandraMoga opened #5391 "Add a more intuitive tooltip for account management links in Edit profile page"
STR:

1. Log in to AMO-dev
2. Go to Edit my profile
3. Hover over the 'Need help?' and 'Manage Firefox Accounts...' links

Actual result:
A tooltip is displayed having the following text: "Email address cannot be changed here"

Expected result:
A more informative tooltip should be added to help users better understand the function of those links

Notes:
- reproduce don AMO-dev with FF60, Win10x64

[2018-06-25 13:20] ioanarusiczki opened #5392 "Refreshing several times an add-ons detail page generates server error"
STR:
1. Load AMO dev and go to an add-on's detail page
2. Refresh page several times - press the F5 key multiple times
3. Observe the screen

Expected result:
Page is refreshed.

Actual result:
At one point Server error is displayed then the add-on's detail page.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF60(Win10x86 & Android 8.0).
For lang packs - the your version of FF d

[2018-06-25 13:32] willdurand commented on #5390
@eviljeff I see that we're using an undocumented endpoint for login (`/accounts/login/start/`), which is convenient because we don't have to know the FXA url (we pass a `config` query parameter instead).

Would it be possible to expose this FXA url somewhere so that we don't have to know it in addons-frontend? Would that make sense?

[2018-06-25 13:46] ioanarusiczki commented on #5315
Verified fixed on AMO dev with FF60(Win10 &Android 8.0)

![user comment](https://user-images.githubusercontent.com/33448286/41853818-5703ac72-7897-11e8-9b7f-0623659ecf4c.png)

[2018-06-25 14:18] willdurand commented on #5252
I cannot reproduce with the add-on icon but I acknowledge the bug.

[2018-06-25 14:22] willdurand commented on #5252
I also think it is related to https://github.com/mozilla/addons-server/issues/7954 /cc @eviljeff.

[2018-06-25 14:39] bobsilverberg commented on #5381
Sure, I can make the current heading be "About collections" pending a response to this issue.

[2018-06-25 14:55] ioanarusiczki opened #5395 "Edit collection page - The title of the text box is "User comment" instead of "Add-on note""
STR:
1. Load AMO dev and go to a collection
2. Click on Edit this collection and try to make a comment for an extension/theme from the list
3. Notice that the name of the text box is "User comment"
4. Save the comment and then click on Save collection
5. Observe the name of the text box

Expected result:
In both edit and view collection - "Add-on note" is displayed - as mentioned[ here]( https://u

[2018-06-25 14:56] eviljeff commented on #5252
It's likely partly mozilla/addons-server#7954 (and in the case of addon icons partly the way we cache bust user uploaded images).

I don't have much further insight unless it can be confirmed that the API is serving the wrong url *, or serving the right url but getting the wrong file content. *(after a reasonable amount of time to account for resizing/crushing time).  My money is still on an unavo

[2018-06-25 15:10] eviljeff commented on #5390
Expose where?

[2018-06-25 15:15] willdurand commented on #5390
"somewhere" 😅 – I don't know, maybe in the user profile response.

[2018-06-25 16:06] kumar303 opened #5398 "Express Flow external/internal prop types more concisely"
As a follow-up to https://github.com/mozilla/addons-frontend/issues/5342, intoduce a more concise pattern for expressing external and internal component props.

[2018-06-25 16:09] willdurand commented on #5398
Could you maybe document a bit? I guess we don't want to use `InjectedProps` anymore?

[2018-06-25 16:30] #5371 closed

[2018-06-25 16:49] #5391 closed

[2018-06-25 16:49] #5387 closed

[2018-06-25 17:22] bobsilverberg commented on #5395
This was intentional, but perhaps should be re-evaluated. There are two different contexts, hence it may be that the two headings are appropriate.

The use of the "User comment" heading in the edit form is based on the mockup at https://github.com/mozilla/addons-frontend/issues/4578#issuecomment-393260468.

@pwalm Do you want to keep the different headings, i.e., "Add-on note" when viewing a colle

[2018-06-25 18:21] #5150 closed

[2018-06-25 19:06] #5398 closed

[2018-06-25 19:08] kumar303 commented on #3563
Some patches landed to fix this but we use a type hint rather than actually letting Flow follow all permutations introduced by HOCs. There is an example here of how to write code using the type hint: https://github.com/mozilla/addons-frontend#flow

[2018-06-25 19:08] #3563 closed

[2018-06-25 19:33] rebmullin commented on #5174
also additional notes from discussion at all-hands:

implement srcset once the additional sizes are ready:
mozilla/addons-server#8412 (comment)

Update themes grid in the following places:
Homepage,
Themes landing,
Category landing
Note for above pages:
desktop: change from 4 to 3 col grid
~tablet: change from 4 to 2 col grid
~mobile: should be 1 col - should already be this way

AuthorsAddoncards

[2018-06-25 19:37] #4809 closed

[2018-06-25 19:47] #5382 closed

[2018-06-25 20:29] atsay commented on #5370
Let's put it on MDN and point to it in the announcement section of signed-in AMO dev hub. Fyi @mconca @caitmuenster

[2018-06-25 21:07] mconca commented on #5370
Dev Launch Pad to-do:  find home for this (and maybe other dev-related assets).

[2018-06-25 21:22] willdurand commented on #4602
That has been fixed in https://github.com/mozilla/addons-frontend/pull/4611

[2018-06-25 21:22] #4602 closed

[2018-06-25 22:44] pwalm commented on #5381
Let's just make it "Collections"

[2018-06-26 08:39] vcarciu commented on #5371
Verified as fixed :
![downloadfirefox](https://user-images.githubusercontent.com/1583842/41899594-861acbfa-7935-11e8-8b02-f4d4260f7985.png)

[2018-06-26 10:35] TotalEclipseStudios opened #5403 "Link is dead and returns a 404 "page not found error," and states that the add-on was removed by it's author."
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-26 10:45] TotalEclipseStudios commented on #5403
Visited this web site here -->http://www.notebookreview.com/news/top-10-google-chrome-extensions-for-better-faster-browsing/ Clicked a link to Fasterfox that took me here, -->   https://addons.mozilla.org/en-US/firefox/addon/9825/ Which returns with "Page Not Found" error on the top left of the page, with the statement, and I quote, "This Add-on has been removed by its Developer." So apparently th

[2018-06-26 11:37] vcarciu commented on #5150
@diox : should we remove the link from legacy frontend Android Add-ons page too?

[2018-06-26 12:10] willdurand commented on #5150
@muffinresearch this is currently implemented in addons-frontend, would it make sense to do it at the nginx level?

[2018-06-26 13:08] muffinresearch commented on #5150
The appserver really needs handle this to display something doesn't it?

[2018-06-26 13:10] willdurand commented on #5150
ah right, but I thought nginx could maybe internally redirect to `/404/`.

[2018-06-26 13:14] muffinresearch commented on #5150
Probably doesn't buy us enough to be worth special-casing.

[2018-06-26 13:14] willdurand commented on #5150
Fair enough.

[2018-06-26 13:54] AlexandraMoga commented on #5391
Verified fixed on AMO-dev with FF60, Win10x64. The issue was fixed eventually  by removing the tooltip altogether, which is an acceptable approach.

![removed tooltip](https://user-images.githubusercontent.com/31961530/41916145-0d991300-7960-11e8-9096-2861ad4025cf.gif)

[2018-06-26 14:33] willdurand commented on #2108
So, I wrote a plugin for that last night.

[2018-06-26 14:40] AlexandraMoga opened #5406 "E-mail address and username are not correctly populated when navigating from a user Edit profile page to an admin Edit profile page"
STR:

1. Open a random user Edit profile page with an admin account
2. Go to your own (admin) Edit profile page by selecting the option from the user menu
3. Observe the Email address field
4. Refresh the page
5. Use the browser Back button to go back to the previous user Edit profile
6. Observe the Username field

Actual result:
At point 3 and 6, the wrong email address, respectively the wrong us

[2018-06-26 14:45] AlexandraMoga commented on #5331
I've run the steps several times with a few users and the misplaced message didn't appear.
I'm marking the issue as verified fixed on AMO-dev with FF60, WIn10x64

![no misplaced error mess](https://user-images.githubusercontent.com/31961530/41919927-4d75cc7c-7968-11e8-981f-cb9ea4e4e184.gif)

[2018-06-26 14:53] ioanarusiczki commented on #4809
Verified fixed on AMO dev with FF60(Win10 and Android 8.0)

![paginationnew](https://user-images.githubusercontent.com/33448286/41920617-c0fc3a4a-7969-11e8-8221-20c9630656fd.gif)

[2018-06-26 15:20] muffinresearch commented on #5277
@pwalm any thoughts ^ should the frontend display white-space?

[2018-06-26 15:25] ioanarusiczki commented on #5353
Verified fixed on AMO dev with FF60(Win10 and Android 8.0)

[2018-06-26 15:26] #4899 closed

[2018-06-26 16:01] #5078 closed

[2018-06-26 16:05] muffinresearch opened #5408 "Remove the A/B test from the TADAr so that recommendations are 100% of traffic"
Ahead of making incremental changes to the underlying TADAr (Telemetry Aware Details Add-ons Recommendations) engine we'd like to turn of the fallback part of the A/B test so that recommendations are shown to all users (the fall-back will still apply in cases where TAAR errors).

[2018-06-26 16:32] rebmullin opened #5409 "Should static themes have contribute cards"
it seems we can add a contribution url (via edit screen) for a static theme - is this expected? as far as I could tell, this option is not available on lightweight themes

![Alt text](https://monosnap.com/image/as9soSOGXdv3sWocZlnZEMtHrJ3icL.png)

@jvillalobos

[2018-06-26 16:50] #3142 closed

[2018-06-26 16:56] kumar303 commented on #2108
Really cool! This will be very helpful.

[2018-06-26 17:51] bobsilverberg opened #5413 "The AddonsCard on the Collection Detail page shows an empty footer"
When there are fewer add-ons in a collection than are required to show the `Paginate` component, an empty footer is displayed instead.

![screenshot 2018-06-26 13 46 32](https://user-images.githubusercontent.com/142755/41929844-5de32670-7947-11e8-8fd2-60f85dcf57ce.png)

I believe this is a regression introduced in https://github.com/mozilla/addons-frontend/commit/ec24c583a04d9c3c16e063bbc68aaf0980

[2018-06-26 17:55] willdurand commented on #5413
Yes, I am aware of that small issue, and I have it noted on a post-it... It is indeed a problem with the paginator being injected in the `footer`.

[2018-06-26 18:47] bobsilverberg commented on #5403
If the add-on has been removed then you are seeing the correct page.

[2018-06-26 18:47] #5403 closed

[2018-06-26 19:00] bobsilverberg commented on #5408
It looks like we can stop sending both `dimension4`, which indicates which TAAR cohort a user is in (because they will all be in `TAAR_COHORT_INCLUDED` from now on) as well as `dimension5`, which indicates which experiment the user is a part of (which up until now was always `TAAR-LITE-AB` but now doesn't seem to have a valid value because there is no longer an experiment being conducted). Can we

[2018-06-26 19:05] bobsilverberg commented on #5408
@motin I'm not sure if you're the right person to ask about the above, but I figured I'd give it a try. If you're not, and you know who is, please let me know.

[2018-06-26 20:16] willdurand commented on #5408
From what I understand, we completely remove the GA logic and only fetch add-on recommandations, all the time.

[2018-06-26 20:19] willdurand opened #5415 "Merge `setAddonReviews()` and `setUserReviews()` into a single `setReviews()` action creator"
From https://github.com/mozilla/addons-frontend/pull/5373#discussion_r198261391:

[2018-06-26 20:30] willdurand opened #5416 "Create a `UserReview` component for `AddonReviewListItem` and `UserProfile`"
From https://github.com/mozilla/addons-frontend/pull/5373#discussion_r198266615:

[2018-06-26 20:42] rebmullin opened #5417 "Static theme badge text should match lightweight theme's badge text"
### Describe the problem and steps to reproduce it:
Find a featured lightweight theme
![Alt text](https://monosnap.com/image/LVYyN6T70XS71Kl25Or2kNdQrxHzQm.png)

Find a featured Static theme
![Alt text](https://monosnap.com/image/Og8d8oVS5u2npB06uqaOmNqOygEXUo.png)

Compare the "Featured xxx" text

### What did you expect to happen?

These should be both say "Featured Theme"

hey @pwalm , can you

[2018-06-26 20:45] #5065 closed

[2018-06-26 21:14] jvillalobos commented on #5409
Yes, this should be allowed.

[2018-06-26 21:37] kumar303 commented on #4523
We also need Flow types in [`amo/sagas/reviews`](https://github.com/mozilla/addons-frontend/blob/master/src/amo/sagas/reviews.js)

[2018-06-26 22:13] rebmullin commented on #5409
great - thanks. closing since this does this already : )

[2018-06-26 22:13] #5409 closed

[2018-06-26 23:08] #5195 closed

[2018-06-26 23:09] willdurand commented on #4282
@jvillalobos do we want to list all the reviews including those with no content?

[2018-06-26 23:18] #4282 closed

[2018-06-27 01:20] pwalm commented on #5417
Nope, the icon should stay the same. The icon and text should sit under the theme though, and the theme preview should be full width (w padding) to the block.

[2018-06-27 03:41] pwalm commented on #5277
Yeah, white space for now.

[2018-06-27 04:00] arroyoshipp opened #5418 "link missing"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

I opened the settings, I went to add-ons, I wanted to disable aplets.  But the directions I was given didn't play out.  I found a box of icons with add-ons.  They were, I thought they were for me so I clicked on a couple of them. I entered my email and nam

[2018-06-27 06:52] mlopatka commented on #5408
@willdurand @bobsilverberg
Please leave the logic around dimension5 intact. This value should always indicate TAAR-LITE-AB.

While this will now apply to 100% of the visitors to AMO, its continued existence is valuable in examing the use of tracking protection which can (in some cases) prevents proper association into a group and/or visibility in the GA.

also, some custom reports I have made rely

[2018-06-27 08:06] ioanarusiczki commented on #5217
@willdurand I don't receive the warning message above but I still get an error in the console when adding a theme or extension into a collection with FF60 (Win10).

![browser console](https://user-images.githubusercontent.com/33448286/41960998-df44d012-79f9-11e8-9d58-0a8ac6686bad.png)
![web console](https://user-images.githubusercontent.com/33448286/41961008-e482103a-79f9-11e8-82f6-d66a0db25d6a.pn

[2018-06-27 08:42] vcarciu commented on #5387
I created and signed a self hosted webextension using _webext_, but the Last update date is correctly displayed for me :
![lastupdate](https://user-images.githubusercontent.com/1583842/41962986-1b786648-79ff-11e8-9ece-0ab4890dca2e.png)

@willdurand  : can we mark the issue as verified with this scenario?

[2018-06-27 09:13] ioanarusiczki commented on #5255
Verified fixed on AMO dev with FF60(Win10 and Android 8.0)

![deleting collections](https://user-images.githubusercontent.com/33448286/41964708-6cf6cd6c-7a03-11e8-85cf-f1f8fa721e25.gif)

[2018-06-27 09:30] ioanarusiczki opened #5420 "User is redirected to collections old page after log out and then log back in"
STR:
1. Load AMO dev and click on View my Collections from the drop down menu below the user name.
2. Log out and click the Log in to view you collection button.
3. Sign in and observe the page displayed.

Expected result:
The new collection page with the list of personal collections reappears.
Actual result:
The old collection is displayed https://addons-dev.allizom.org/en-US/firefox/collections/

[2018-06-27 09:45] ioanarusiczki opened #5421 "Featured collection page instead of My Collections is displayed after view classic desktop site is clicked"
STR:
1. Load AMO dev and go to View My Collections from the drop down menu.
2. Click on View classic desktop site.

Expected result:
My Collections old view appears. https://addons-dev.allizom.org/en-US/firefox/collections/Contdedisplaytestadmin/

Actual result:
Featured Collections loads. https://addons-dev.allizom.org/en-US/firefox/collections/?sort=featured

Notes:
This issue is reproducible on

[2018-06-27 09:55] willdurand commented on #5421
URLs have changed and we do not use `/collections/:username/` anymore for a user's list of collections, simply `/collections/`, that is not tied to a public page anymore.

I guess there is some sort of nginx configuration to add.

[2018-06-27 10:42] willdurand commented on #5387
I think so, yes.

[2018-06-27 10:51] muffinresearch commented on #5418
This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services.

From the description it's unclear what the issue is related to. Please can you provide as much information as possible so that we can understand what the issue is?

Please include screenshots and URLs so we know where on the website the problem is occurring.

[2018-06-27 11:02] vcarciu commented on #5150
Verified as fixed :
![nolangpack](https://user-images.githubusercontent.com/1583842/41970247-c95b1900-7a12-11e8-83ce-78d342d622f3.png)

[2018-06-27 11:06] vcarciu commented on #5387
@willdurand : thanks

[2018-06-27 11:18] willdurand opened #5423 "Add a `.prettierignore` file to tell Prettier not to process some files"
As @bobsilverberg pointed out on IRC, Prettier should not process the locale files (because it does not do anything anyway and it is a waste of time).

We should create a `.prettierignore` file with the following content:

[code]

[2018-06-27 11:20] bobsilverberg commented on #5423
Let's add all files/folders that we intend to ignore to this, not just `src/locale/`.

[2018-06-27 12:02] vcarciu commented on #5382
Verified as fixed :
![morebyauthorpostfix](https://user-images.githubusercontent.com/1583842/41972634-1627e58a-7a1b-11e8-93b5-11a898987407.png)
![noratingpostfix](https://user-images.githubusercontent.com/1583842/41972640-199a3056-7a1b-11e8-90b0-24dcd7f5c093.png)

[2018-06-27 12:31] gabru-md commented on #5423
It is fairly simple, I can take this issue up.
Can you point me to the discussion where all the files to be ignored are listed? :sweat_smile:

[2018-06-27 12:32] AlexandraMoga opened #5424 "Creating a new collection named "favorites" will generate a 404 on the new frontend"
STR:

1. Log in to AMO -dev with a user that doesn't have a 'My favorite add-on' collection
2. Go to My Collections and click on Create Collection
3. Enter _favorites_ in the collection name field
4. Click on Create Collection

Actual result:
A Page not Found is displayed

Expected result:
The user remains on the same screen and continues to edit his collection

Notes:
 - reproduced on AMO -dev wi

[2018-06-27 12:34] AlexandraMoga opened #5425 "New created collection does not appear on My Collections page"
STR:

1. Log in to AMO -dev
2. Go to View My Collections and click on Create a collection
3. Fill in the necessary fields and Save the new collection
4. From the user menu, select View My Collection
5. Check if the new collection is present in the list

Actual result:
The new collection is not listed in My Collections

Expected result:
The new collection is listed in My Collections

Notes:
- if yo

[2018-06-27 12:35] AlexandraMoga opened #5426 "My Collections container will fall outside the designated area if a collection name has an unbroken string"
STR:

1, Log in to AMO -dev
2. Go to My Collections and select one of the collections to edit
3. Update the name by adding an unbroken string and Save the changes
4. Go back to My Collections and observe the page layout

Actual result:
Unbroken strings in collection names will push the container outside of the designated area

Expected result:
My Collections container should have a fixed position

[2018-06-27 12:39] ioanarusiczki commented on #5078
Verified fixed on AMO dev with FF60(Win10).
General search, Category search, and also checked the search from add-ons manager - extension tab.

AMO search
![general search](https://user-images.githubusercontent.com/33448286/41974220-0849f44e-7a20-11e8-81d8-78eb84e3aef4.gif)

Searched by category
![search by category](https://user-images.githubusercontent.com/33448286/41974280-32c8c722-7a20-11e8-92

[2018-06-27 12:53] willdurand commented on #5423
Actually, it is not trivial since it is not only about the locale files. I have started to look at it and the Prettier ignore file has more than 20 lines already :/

[2018-06-27 13:32] AlexandraMoga commented on #3142
Verified on AMO dev with FF60, Win10x64 and Android 7.0

- when selecting View My Collection from the user menu, the new frontend version of My Collection page is displayed
- the collection list is consistent with the specs, displaying the collection name and the number of add-ons included in the collection
- follow-up issues logged: #5426, #5425, #5424, #5421

[My collection list]
![image](https:

[2018-06-27 13:40] willdurand opened #5430 "Apply Prettier to markdown files"
Prettier supports markdown, so we could use to prettier-ize our documentation.

[2018-06-27 13:41] willdurand opened #5431 "Apply Prettier to SCSS files"
Prettier supports SCSS/CSS, so we could use to prettier-ize our style files.

Our `stylelint` config will conflict with Prettier because we use double quotes in our SCSS files, but not in our JS files. This seems inconsistent, so I guess, we'll need to update the rule in `.stylelintrc` to use `"string-quotes": "single"`.

[2018-06-27 14:02] eviljeff commented on #5390
Can you file an addons-server bug?  Mention if you just want the server address (like frontend shows now) or the full url with params for email and fxa_id (like legacy shows)

[2018-06-27 14:03] ddurst commented on #5245
Let's hold off on this for now, as it's been confirmed that changing the link target will break stub attribution (as it is now). If we want to change it, we need to coordinate that with the stub attribution process and owners.

[2018-06-27 14:12] willdurand commented on #5390
Please see: https://github.com/mozilla/addons-server/issues/8674

[2018-06-27 14:30] willdurand commented on #5365
I think it is a duplicate of #5252

[2018-06-27 14:30] #5365 closed

[2018-06-27 14:32] willdurand commented on #5290
The add-on has probably been removed unfortunately, I cannot access it either.

[2018-06-27 14:32] #5290 closed

[2018-06-27 14:33] willdurand commented on #5267
@SVSanta would you have more information?

[2018-06-27 14:47] vcarciu commented on #5267
@willdurand : MMB is probably middle mouse button

[2018-06-27 14:52] muffinresearch commented on #5357
@willdurand can this also be ported to [eslint-config-amo](https://github.com/mozilla/eslint-config-amo)?

[2018-06-27 14:53] willdurand commented on #5047
@bqbn could you setup an nginx rule to redirect /tag/XXX to /search/?tag=XXX where XXX is a placeholder with a tag name?

[2018-06-27 14:55] willdurand commented on #5129
Duplicate of #5116

[2018-06-27 14:55] #5129 closed

[2018-06-27 14:57] willdurand commented on #5357
I was hesitant because maybe it was addons-frontend specific, but sure, I will do that!

[2018-06-27 15:00] #2108 closed

[2018-06-27 15:01] willdurand commented on #5263
@jvillalobos what do you think about this proposal?

[2018-06-27 15:51] #5423 closed

[2018-06-27 16:24] AlexandraMoga opened #5433 "Collection name and description display different values specific to the locale used when the fields were edited"
Refiled from https://github.com/mozilla/addons-server/issues/8490#event-1704235324

STR:

1. Log in to AMO -dev
2. Go to My Collections and select one of your collections to view its details page
3. Switch to a different locale
4. Edit the collection name and description
5. Switch back to the previous locale

Actual result:
The updated collection name and description are not displayed

Expected re

[2018-06-27 16:37] bobsilverberg commented on #5381
Latest screenshot with new headings:

![screenshot 2018-06-27 12 36 33](https://user-images.githubusercontent.com/142755/41987330-cfb20324-7a06-11e8-987d-b12273899987.png)

[2018-06-27 17:11] atsay commented on #5245
Blocked on https://bugzilla.mozilla.org/show_bug.cgi?id=1468680

[2018-06-27 17:12] #1156 closed

[2018-06-27 17:13] #1837 closed

[2018-06-27 17:13] #1988 closed

[2018-06-27 17:16] #2772 closed

[2018-06-27 17:19] muffinresearch commented on #3157
Superceded by https://github.com/mozilla/addons-frontend/issues/4287

[2018-06-27 17:19] #3157 closed

[2018-06-27 17:23] muffinresearch commented on #3423
Closing this since we don't think a preview adds anything other than more steps.

[2018-06-27 17:23] #3423 closed

[2018-06-27 17:29] muffinresearch commented on #3636
@pwalm we're closing this on the basis that it is likely superceded by new UX, but please reopen if not.

[2018-06-27 17:29] #3636 closed

[2018-06-27 17:32] #3647 closed

[2018-06-27 17:33] muffinresearch commented on #3691
The new designs are modal free so closing.

[2018-06-27 17:36] muffinresearch commented on #3720
Close in favour of the API issue. https://github.com/mozilla/addons-server/issues/6800

[2018-06-27 17:36] #3720 closed

[2018-06-27 17:38] pwalm commented on #3636
OK. Our current ux for this is pretty close to "final" but it couldn't hurt for a review/revisit before being made a new issue.

[2018-06-27 17:46] bobsilverberg commented on #4007
The API is returning a 429 response code to the front end, so we could potentially use that to replace the error message on the front end.

[2018-06-27 17:52] muffinresearch commented on #4529
@jvillalobos is this expected/by design?

[2018-06-27 17:54] muffinresearch commented on #4558
Titles were removed in https://github.com/mozilla/addons-server/issues/8144

[2018-06-27 17:54] #4558 closed

[2018-06-27 17:59] muffinresearch commented on #4595
Closing since the new ratings flow doesn't have an overlay.

[2018-06-27 17:59] #4595 closed

[2018-06-27 18:06] pwalm opened #5434 "Change rating count to review count on add-on detail page"
<img width="1071" alt="screen shot 2018-06-27 at 11 01 58 am" src="https://user-images.githubusercontent.com/6797635/41991263-a806562a-79f9-11e8-8968-28aeea8f4a61.png">

- Change the "Ratings" count on the detail page to a "Reviews" count.
- Make the "Reviews" text and accompanying number clickable, linking to the all reviews page.

[2018-06-27 18:09] pwalm opened #5435 "Making rating stars yellow"
<img width="1071" alt="screen shot 2018-06-27 at 11 01 58 am" src="https://user-images.githubusercontent.com/6797635/41991443-466f5e2e-79fa-11e8-8cab-c725f6d566ac.png">

Make the rating stars on the detail page yellow:
filled: RGBA: 255,233,0,100
empty: RGBA: 255,233,0,25

**NOTE**: the wording, *4 star average*, will be handled in https://github.com/mozilla/addons-frontend/issues/5436

[2018-06-27 18:09] cadeyrn commented on #3573
I need this option very often for reports to give the reviewers more context why I report a review. The predefined options are not enough.

[2018-06-27 18:13] pwalm opened #5436 "Show average star rating"
<img width="1071" alt="screen shot 2018-06-27 at 11 01 58 am" src="https://user-images.githubusercontent.com/6797635/41991577-c3065992-79fa-11e8-9b81-ae1c702ef945.png">

Change the "Overall rating" copy on the detail page to "[number] star rating". Show to one decimal point ("4.3" for example).

[2018-06-27 18:30] pwalm opened #5437 "Show star rating breakdown on detail page"
Show the star rating breakdown at the top of the detail page. Example:
<img width="1005" alt="screen shot 2018-06-27 at 11 28 25 am" src="https://user-images.githubusercontent.com/6797635/41992487-715053b6-79fd-11e8-9892-ca2a1ed29c88.png">

Spec:
<img width="1507" alt="screen shot 2018-06-27 at 11 28 32 am" src="https://user-images.githubusercontent.com/6797635/41992495-76964d26-79fd-11e8-84b6-11d

[2018-06-27 19:09] jenniferdavidson opened #5438 "Implement a banner with a link to a survey on select AMO pages"
We'd like to run a survey on AMO to learn more about our visitors.

* A message bar that appears on the first page of the user's session, that is visible until it is dismissed. Design: https://mozilla.invisionapp.com/share/BYMGI2CX3P6
* The message bar reads: "Thanks for visiting this site! Please take a minute or two to tell Firefox about your experience. [button, "Take short survey"]"
* The URL

[2018-06-27 19:33] muffinresearch commented on #4287
Superceded by https://github.com/mozilla/addons-frontend/issues/5434

[2018-06-27 19:33] #4287 closed

[2018-06-27 19:37] muffinresearch commented on #3918
Superceded by https://github.com/mozilla/addons-frontend/issues/5437

[2018-06-27 19:37] #3918 closed

[2018-06-27 19:42] kumar303 commented on #5245
Why is getting desktop attribution (source of extension that prompted install) a blocker? That sounds like a nice enhancement but users would still benefit from an immediate download without it, no?

[2018-06-27 20:36] bobsilverberg commented on #5433
This is the same localizedString issue that we've come across for reviews, as well as something else I cannot recall. I'm not sure that these localizations are something that we want to support on the front end. The implementation allows for a user to have different versions of a collection name and description for different locales, but I don't think that's actually something we intend to support

[2018-06-27 20:58] pwalm commented on #5395
"Leave a note" in edit mode.

"Collector's note" when the note is being viewed by either the creator or a user.

[2018-06-27 21:35] jvillalobos commented on #4529
No, we shouldn't be filtering ratings by version.

[2018-06-27 21:39] jvillalobos commented on #5245
Getting attribution info is required for the Return to AMO project to work. So, if we change this now to a direct install, we'll probably need to change it _back_ later in the quarter.

[2018-06-27 21:48] jvillalobos commented on #5433
I agree that it's better to treat those fields as not localizable.

[2018-06-27 21:55] jvillalobos commented on #3573
I went over some of the moderation queue. Out of 100 or so, 1 had "Other", with a useful explanation. I think @wagnerand and @kewisch should weigh in on the importance of this field.

The possible ways forward are:
1) Remove the "Other" option (and maybe see if there are common missing options)
2) Keep "Other", but without the text input.
3) Keep "Other" with the text input, like on the legacy sit

[2018-06-27 22:00] MeridelW commented on #5438
@jenniferdavidson and @pwalm. I'm thinking that 5 minutes might be too big of a time commitment.   I recommend we aim for 2-3 minutes. Depending on length, here are the copy options:

Thanks for visiting this site! Please take a few minutes to tell the Firefox team about your experience in a short survey[link].

Thanks for visiting this site! Please take a minute or two to tell the Firefox team ab

[2018-06-27 22:30] jvillalobos commented on #5263
Officially, we only support Firefox and Firefox for Android (after we're done with legacy add-ons later this year). While it would be nice to support Firefox forks, we have no guarantees about their support for WebExtensions add-ons, or how compatibility ranges apply to them.

It'd be best for the owners of those forked products to either have their own add-ons distribution system or inject a user

[2018-06-27 22:30] #5263 closed

[2018-06-27 22:38] jvillalobos commented on #4282
I think we should. Some people in the past have used the user page to look at old reviews and decide whether they should stay or be modified.

[2018-06-27 22:44] pwalm opened #5441 "Remove the "Read all [x] reviews" from the "Rate your experience" block"
Remove the read all reviews link from the rate your experience block. The link will be moved to the new "Reviews" block (see https://github.com/mozilla/addons-frontend/issues/1067).

So go from this:
<img width="553" alt="screen shot 2018-06-27 at 3 41 25 pm" src="https://user-images.githubusercontent.com/6797635/42003573-ef20a3e0-7a20-11e8-8c01-6621538aab55.png">

To this:
<img width="954" alt="s

[2018-06-28 06:32] AlexandraMoga opened #5442 "Navigating to a non existent page in More add-on by author cards in the User profile page will lock the cards in a loading state"
STR:

1. Load AMO -dev
2. Open a user profile page that lists both add-ons and themes - see https://addons-dev.allizom.org/en-US/firefox/user/AlexandraMoga1/?page_e=7&page_t=6
3. Set the page query for the two cards to a non-existent page (i.e. 7 for add-ons and 6 for themes for this case)

Actual result:
The two cards are locked in a loading state when a non-existent page is requested

Expected r

[2018-06-28 08:45] willdurand commented on #5217
Those logs are only warning from our error handler HOC, not errors. So that looks good to me.

[2018-06-28 08:49] ioanarusiczki commented on #5217
Verified fixed on AMO dev with FF60(Win10).

[2018-06-28 09:22] grahamperrin commented on #5263
Thanks,

Understood and agreed.

https://github.com/MrAlex94/Waterfox/issues/303#issuecomment-400970178 re: the classic add-on archive mirror (legacy extensions database)

[2018-06-28 09:22] mlopatka commented on #5408
@bobsilverberg The `AMO Addon / Recommendations Shown` is still a very valuable piece of information, perhaps even more so now that we are moving to 100% of the visitors seeing the TAAR-lite condition. We estimate that the number of _failures_ where TAAR-lite times out should be <= 0.05%.

However, we are planning to extend the fallback functionality to further diversifying the addons shown when T

[2018-06-28 10:48] vcarciu opened #5443 "[Android] Grey background displayed when selecting "Featured add-ons only" filter"
Steps to reproduce:
1.On your Android device open Firefox and go to AMO
2.Enter a search term and press Enter
3.Press filter results and check the "Featured add-ons only" filter

Expected results:
Checkbox is checked without any UI issue

Actual results:
A grey background is flickering for a second when the checkbox is checked

NOTES:
Reproducible on all servers
Tested with FF Release for Android

[2018-06-28 10:56] diox commented on #5433
We need to go back to addons-server then and modify the API to make these fields proper CharFields (which will require database migrations)

[2018-06-28 11:45] muffinresearch commented on #5442
@willdurand If either of these modules are out of range we should probably just simply make the whole page a 404. It would be unfortunate if being a 200 meant this got indexed. Even if we're not linking to it, we can probably assume that someone else will and page lengths could change over time.

I suppose an alternative might be to 301 to an highest in-range value for the module that 404s, but th

[2018-06-28 11:56] willdurand commented on #5442
Yes, that's what we do for the search results.

[2018-06-28 12:43] mlopatka commented on #5408
One additonal consideration is whether we would like to have three different versions of client-facing copy to correspond to the three conditions. For example:

1- Other users with this extension also installed
2- Other featured extensions
3- Other popular extensons

I defer to @devaneymoz to make that call.
Regardless of the cleint-facing copy, we should absolutley make sure that GA logs these ev

[2018-06-28 12:50] arroyoshipp commented on #5418
The issue is that there is a privacy policy in place and there are people content on using my email address, my browsers, my applications and they are recovering passwords with tokens, cookies, special links and flash player storage.  I just recovered an app for Google cloud where Iam fully signed in and the project on it is not mine.  But its my app, probably my debit  card on file, and I bet it

[2018-06-28 13:18] wagnerand commented on #3573
@cadeyrn Can you explain in what cases you use "Other"?
@jvillalobos do you remember what the review (flag) was about?

I'm trying to identify whether we need to add another reason that would cover stuff that otherwise lands in "Other".

[2018-06-28 13:28] bobsilverberg commented on #5433
I do think that makes the most sense, and I also realize it isn't an entirely trivial task. I think we should take that approach with any localizedStrings that we don't intend to actually be localizable, as we seem to keep having issues with them.

@diox Should we create an issue on addons-server for this?

[2018-06-28 13:33] cadeyrn commented on #3573
I don't remember all reasons I used in the past but some "classics" are:

- bad review because WebExtension restriction, not the addon's fault (needed this reason very often for the WebExtenion version of New Tab Override)
- user gives one star for all of my add-ons as revenge for reasons that have nothing to do with the add-on (was already a few times a problem in the past)
- user writes very pos

[2018-06-28 15:16] bobsilverberg commented on #4655
@bqbn Could you please enable the third route listed above `collections/` on -dev?

[2018-06-28 15:17] devaneymoz commented on #5408
Yes indeed, we'd like those three versions of copy to display when appropriate. If further details are needed, they're outlined in this [PRD](https://docs.google.com/document/d/1PF_5_TGsS_BTUDivhrPrSHZJ3xcv9xMA9UjaX5zN8zg/edit#).

1- Other users with this extension also installed
2- Other featured extensions
3- Other popular extensons

[2018-06-28 16:34] willdurand commented on #3034
@kumar303 we could probably install the dependencies with `yarn install --pure-lockfile` in the `Dockerfile`? https://yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-install-pure-lockfile

[2018-06-28 17:05] jvillalobos commented on #3573
The example I saw was something like the second bullet point in the comment above. Maybe it was even a flag by @cadeyrn :D.

[2018-06-28 17:40] #5316 closed

[2018-06-28 17:41] bobsilverberg commented on #5420
This should be fixed by adding a route to collections/ as I just requested in issue #4655.

[2018-06-28 18:30] vcarciu opened #5447 "Search tools install buttons looks inactive if opened directly from their URLs"
Steps to reproduce:
1.Go to any search tool opening it directly from a link (https://addons.mozilla.org/en-US/firefox/addon/alltheweb-news/?src=search)
2. Observe the install button

Expected results:
Button is active

Actual results:
Button is inactive

NOTES:
Not reproducible if opening any search tool from More-Search Tools in AMO

[2018-06-28 18:33] muffinresearch commented on #2031
Closing as modals are being replaced in https://github.com/orgs/mozilla/projects/29

[2018-06-28 18:33] #2031 closed

[2018-06-28 19:34] kumar303 opened #5448 "Only run prettier on changed files"
For contributors who are relying on the `yarn prettier` command, it will be a slow and annoying. We should give them something like `yarn prettier-dev` which will only run prettier on the changed files.

It looks like [Pretty-Quick](https://github.com/azz/pretty-quick#pretty-quick) will do this for us.

[2018-06-29 05:43] AlexandraMoga commented on #5447
@kumar303 note that this is not a new issue. We have been seing this for a while and had an issue filed some time ago, which is still open. See issue https://github.com/mozilla/addons-frontend/issues/4047

I think this one is a duplicate considering that the old issue has more background.

[2018-06-29 06:06] AlexandraMoga commented on #4047
Maybe we should up the priority for this issue as well, considering that when #5447 it was marked a s a p1.

[2018-06-29 06:17] AlexandraMoga opened #5451 "User should land on AMO homepage when logging out from My Collections page"
Follow up for https://github.com/mozilla/addons-frontend/issues/3142

STR:
1. Log in to AMO -dev
2. Go to My Collections page - https://addons-dev.allizom.org/en-US/firefox/collections/
3. Log out

Actual result:
The user lands on a mostly blank Log in page

Expected result:
The user should land on AMO homepage

Notes:
- reproduced on AMO -dev with FF60, Win10x64

![my coll log out](https://user-i

[2018-06-29 06:48] AlexandraMoga opened #5452 "The distance between collection rows in My Collections page could be reduced"
Follow up for https://github.com/mozilla/addons-frontend/issues/3142

STR:
1. Log in to AMO -dev
2. Open My Collections page https://addons-dev.allizom.org/en-US/firefox/collections/
3. Observe the page layout

Actual result:
There is too much white space between collection rows

Expected result:
White space between collection names should be reduced in order to make My Collections page look more

[2018-06-29 07:21] willdurand commented on #5452
Yes, I think it would make sense to have less white space.

[2018-06-29 07:22] willdurand commented on #5451
I don't think we want to fix this "right now", because this is something we do almost everywhere else.

[2018-06-29 07:22] willdurand commented on #5451
@jvillalobos what do you think about that? Or should I rather ping someone in UX?

[2018-06-29 07:24] willdurand commented on #4047
@AlexandraMoga isn't it the exact same issue as in #5447? It is a shame that we missed that one..

[2018-06-29 07:32] willdurand opened #5453 "Add user profile routes in -stage"
See also: #4284

We plan to enable the user profile feature in -stage next push (2018.07.05), so we need to setup the nginx routes in -stage before the push. We need the following routes (same as -dev):

- [x] `/user/:username/`
- [x] `/users/edit`
- [x] `/user/:username/edit/`

[2018-06-29 07:35] willdurand opened #5454 "Enable user profile in -stage"
In order to enable the user profile feature in -stage, we need to:

- [x] setup the Nginx routes: #5453
- [x] configure the frontend to enable this feature

[2018-06-29 08:39] ioanarusiczki opened #5456 "The user should see My Themes section instead of the top of the page"
STR:
1. Load AMO dev and go to View My profile - make sure you have more than 12 themes submitted to have pagination
2. Click Next
3. See the screen

Expected result:
Themes from the second page are displayed.

Actual result:
The top of the my profile page - the list of Extensions are displayed instead. The user must scroll down to see the second page with themes.

Notes:
This issue is reproducibl

[2018-06-29 08:46] willdurand commented on #5456
I am not sure we can change this behavior. The pagination has always scrolled to the top of the page, I am not entirely sure why though (probably because we navigate to a new page).

[2018-06-29 11:20] vcarciu commented on #5316
Can you please add some STRs to this issue or mark it as "qa: not needed" ?

[2018-06-29 11:36] ioanarusiczki opened #5457 "Theme artist or Add-on developer should be displayed on the user's info card only after the add-on or theme is approved"
STR:
1. Create a new account and sign in.
2. Submit an extension and approve it - notice that before approving it the Add-on developer is already displayed on the card but the card is public only after the first add-on or theme is approved.
3. Submit a lightweight theme for the new account then with an admin account reject it.
4. Go to View my profile page and sign out.

Expected result:
Theme art

[2018-06-29 11:55] willdurand commented on #5457
That's a server issue I believe. We don't decide what we display.

[2018-06-29 12:00] ioanarusiczki opened #5458 "Static themes are included in Add-ons developer instead of Theme artist on user's info card"
STR:
1. Load AMO dev and using a new account submit a static theme and approve it
2. Go to view profile and observe the category displayed at the top of the page

Expected result:
Theme artist.

Actual result:
Add-ons developer.

Notes:
This issue is reproducible with FF60(Win10).
![theme not add-on](https://user-images.githubusercontent.com/33448286/42091187-f9177120-7bac-11e8-8f21-67581cf7b3e5.p

[2018-06-29 12:15] willdurand commented on #5458
It's a server issue I believe.

[2018-06-29 12:45] SeanPrashad commented on #5448
Would we want to implement the [pre-commit hook functionality](https://github.com/azz/pretty-quick#pre-commit-hook) of pretty-quick **and** add a `yarn prettier-dev` command or simply the latter?

The reason why I'm asking is that automating it via pre-commit hooks would automate prettier and provide a seamless experience. What do you think?

[2018-06-29 12:46] willdurand commented on #5448
No pre-commit.

[2018-06-29 13:01] muffinresearch commented on #3822
@kumar303 @vcarciu mentioned this issue is very common on mobile now. Do you have a device to be able to investigate this?

[2018-06-29 13:05] willdurand commented on #3822
I can reproduce on -prod with a real device.

[2018-06-29 14:24] ioanarusiczki commented on #5195
@willdurand Could you add some STR for qa or mark it qa not needed ?
Thanks!

[2018-06-29 15:23] kumar303 commented on #3822
I can reproduce. The bug might be buried in `react-autosuggest` but I'll take a look.

[2018-06-29 15:31] jvillalobos commented on #5451
I think the behavior is right. It'd be a bit strange to be redirected to a different page after logging out, IMO. But it's also a good idea to check in with UX. There might be something that can be added to make the logged out state more useful.
/cc @pwalm @MeridelW

[2018-06-29 15:35] kumar303 commented on #4047
The STR in this doesn't make it a dupe of https://github.com/mozilla/addons-frontend/issues/5447 but the comment thread here suggests that you were talking about the same thing. I updated the STR to include the step *Reload the page* which is necessary to reproduce the bug. Let me know if that's not what you intended.

[2018-06-29 16:37] bobsilverberg commented on #5433
I opened https://github.com/mozilla/addons-server/issues/8701 to cover this on the server. We can keep this issue open as something to verify once that change has been made.

[2018-06-29 17:56] pwalm commented on #5451
Yeah, agree with @jvillalobos, the behaviour is right. But we could use some copy that says "Log in to create a collection" or something along those lines.

[2018-06-29 18:34] #4047 closed

[2018-06-29 18:44] pwalm opened #5462 "Mark a user review as "Helpful/Unhelpful""
Quick mock to spark discussion on the mark review as helpful/unhelpful feature:"
![add-ons - 2018-06-29 11 22 05](https://user-images.githubusercontent.com/6797635/42109111-66f0d2b6-7b91-11e8-8720-ff334798d145.jpg)

What it would look like on the extension detail page:
<img width="961" alt="screen shot 2018-06-29 at 11 42 26 am" src="https://user-images.githubusercontent.com/6797635/42109159-8f821

[2018-06-29 18:48] pwalm opened #5463 "Updated "Report review" design"
Quick mock to revise the report review feature:
![add-ons - 2018-06-29 11 29 31](https://user-images.githubusercontent.com/6797635/42109340-264eb5b0-7b92-11e8-852e-a8814118f21c.jpg)

[2018-07-01 13:58] jrmuizel opened #5465 "https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Reviews doesn't explain how to report add-ons that violate the policy"
Searching for "report firefox add-on abuse" doesn't seem to give any really useful results. https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Reviews is the best result and it doesn't explain how to report add-ons that violate the policy.

[2018-07-01 17:18] kpfisher opened #5466 "total av Safe Site for Firefox"
### Describe the problem and steps to reproduce it:

tried to get the total av safe site for firefox from the total av site.

### What happened? When i clicked for the total av safe site for firefox from the total av site i got the firefox site that page could not be found.

### What did you expect to happen? I expected to go to the item listed above for a total av safe site for firevox

### Anyth

[2018-07-02 02:04] BabyChloe333 opened #5468 "When I click on a persona to use the error comes up"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-07-02 02:05] BabyChloe333 commented on #5468
It says server error

[2018-07-02 07:33] EnTeQuAk commented on #5468
Can you maybe give us an example of which persona you tried to install?

[2018-07-02 07:35] EnTeQuAk commented on #5466
Please notify the developer if you're running into problems installing their add-ons. This is outside of our control if they pulled their add-on from AMO.

[2018-07-02 07:35] #5466 closed

[2018-07-02 07:41] EnTeQuAk commented on #5465
For add-ons hosted on AMO we have a direct link that gives you the ability to report an add-on. Not sure there's more we can do.

![screenshot-2018-7-2 private bookmarks add-ons for firefox](https://user-images.githubusercontent.com/139033/42151105-25595bbe-7ddc-11e8-940c-db0ab674d008.png)

[2018-07-02 09:32] ioanarusiczki opened #5469 "Reviews are missing the title - only when the date of the added/edited review is clicked the reviews detail page is displayed"
STR:
1. Load AMO dev and go to View my profile. Make sure you reviewed some add-ons
2. Try to open the reviews page of an add-on by clicking it from the profile page

Expected result:
If the review is clicked the add-on's review detail page is displayed.

Actual result:
Only when the date it clicked the add-on's review detail page is displayed.

Notes:
This issue is reproducible on AMO dev with FF

[2018-07-02 09:57] ioanarusiczki opened #5470 "Reviews are displayed on the user's profile page only after refreshing page"
STR:
1. Load AMO dev and submit a review for an add-on
2. Go to View my profile and check if the review is displayed

Expected result:
The review is displayed after clicking View My profile.

Actual result:
No review is available.

Notes:
The Review is available only after refreshing the page or navigation to dev hub and then back to View profile is made.
This issue is reproducible on AMO dev with

[2018-07-02 11:24] muffinresearch opened #5471 "Provide a hint about the image upload types allowed in the user profile"
I uploaded a gif which was displayed in the page. Then when I hit save I saw an error message: "Images must be either PNG or JPG."

Gif displayed:

<img width="348" alt="user_profile_for_muffinresearch__script_alert_0___script__ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/42161318-622d5372-7df2-11e8-8bc5-16980986a9f2.png">

Error message:

<img width="736" alt="user_p

[2018-07-02 11:29] muffinresearch commented on #5469
The title is not there by design - it was removed previously both on the server and in the frontend. In general linking to a single review by the date is reasonable - it's a pretty common pattern.

I'm not sure how strong the use-case is for needing to be able to click on the whole review. CC'ing @pwalm for UX input.

[2018-07-02 12:00] ioanarusiczki opened #5472 "User profile - Unresponsive page after clicking on a review"
STR:
1. Load AMO dev and go to View my profile page - make sure you have a couple of reviews.
2. Open a new tab and go to an extension's detail page and make a review.
3. Go back to View my profile into the other tab and refresh the page.
4. Click on the review, if it opens click back and then click other reviews displayed below until the page becomes unresponsive.

Expected result:
The add-ons de

[2018-07-02 12:16] muffinresearch opened #5473 "Profile page biography field creates invalid markup"
STR:

Edit user profile and add the following:

[code]

The output on the page after saving is:

[code]

There shouldn't be brs created inside the `ul`.

[2018-07-02 12:36] ioanarusiczki opened #5474 "Empty reviews are not visible on the new front end - user profile page"
STR:
1. Load AMO dev and create a new account then make a couple of empty reviews for some add-ons
2. Click the View my profile page and observe the page

Expected result:
Reviews are displayed.

Actual result:
Review section is empty. Only the old page displays them.

Notes:
This issue is reproducible on AMO dev with FF60(Win10 and Android 8.0).

![empty reviews not displayed](https://user-images

[2018-07-02 12:47] ioanarusiczki commented on #4282
@willdurand Old pages had a "delete review" button - is that going to be implemented here too?
I filed
https://github.com/mozilla/addons-frontend/issues/5469
https://github.com/mozilla/addons-frontend/issues/5470
https://github.com/mozilla/addons-frontend/issues/5472
https://github.com/mozilla/addons-frontend/issues/5474
Verified fixed on AMO dev with FF61(Win10&Android 8.0)

[2018-07-02 13:09] ioanarusiczki commented on #5458
@willdurand Let me know if I must transfer it on the server repository together with https://github.com/mozilla/addons-frontend/issues/5457

[2018-07-02 13:13] ioanarusiczki commented on #5392
This is reproducible on a search tool detail page too with FF61(Win10&android 8.0).

![search tools reloading page](https://user-images.githubusercontent.com/33448286/42166169-d68e9c9c-7e12-11e8-973b-b8de5be2a927.gif)

[2018-07-02 13:17] ioanarusiczki commented on #4047
Verified fixed on AMO dev with FF61(Win10&Android 8.0).

![search tools reloading page2](https://user-images.githubusercontent.com/33448286/42166323-56c31582-7e13-11e8-9747-3de14b18b08b.gif)

[2018-07-02 13:36] diox opened #5475 "Featured Extensions `src` not being tracked in all cases"
Re-filed from https://github.com/mozilla/addons-server/issues/8263.

**Original description by @devaneymoz:**

Go to the AMO homepage. Content programming changes frequently, but typically we have a "Featured extensions" shelf somewhere on the page.

If you find it, click one of the featured extensions in the module display. For example, I see Enhancer for YouTube, I click it, I go to its detail p

[2018-07-02 13:36] diox commented on #5475
**Original comment by @jvillalobos:**

When you click on "See more featured extensions", you land on a search page, which is why the `src` changes to `search`.

Would it make sense to use the `featured` value whenever the search page has the "featured only" checkbox selected?

While testing this, I also noticed that if you go directly to the featured add-ons collection and click on an entry, the `

[2018-07-02 13:37] diox commented on #5475
Original reply by @devaneymoz:

I think it does make sense to use the "featured" value whenever the search page has the "featured only" checkbox selected, since that's effectively taking the same action as navigating to the featured collection.

[2018-07-02 13:38] diox opened #5476 "Use `src=collection` when clicking on collection shelf on homepage"
Re-filed from https://github.com/mozilla/addons-server/issues/8264 (see also #5475)

**Original description by @devaneymoz:**

Go to the AMO homepage. Content programming frequently changes, but often we'll use a collection to feed into a homepage shelf.

Currently we have a "Privacy tools" collection on the homepage. If you click one of the individual extensions directly from the shelf—for instan

[2018-07-02 13:39] diox commented on #5476
**Original comment by @jvillalobos :**

Should the `src` for collections in the homepage be the same as for any other random collections on the site? Would it be more useful to have a `homepage` or `homepage-collection` value for `src` so they can be differentiated?

[2018-07-02 13:39] diox commented on #5476
**Original reply by @devaneymoz :**

It would definitely be more useful if we can get more granular with the 'src' from homepage collections.

I think the ideal case would be to know the specific collection it originated from, as well. In other words, we often have the same extension promoted in multiple concurrent homepage collections (e.g. uBlock Origin is in the "Featured" collection, as well a

[2018-07-02 14:37] willdurand commented on #5474
Indeed, see https://github.com/mozilla/addons-frontend/issues/4282#issuecomment-400851802, I forgot to open an issue for that.

I thought maybe we did not want the reviews without a body but actually we want them.

The reviews saga should be edited to remove the `filter`.

[2018-07-02 14:38] willdurand commented on #5458
@ioanarusiczki yes, please.

[2018-07-02 14:38] #5458 closed

[2018-07-02 14:39] willdurand commented on #5457
@ioanarusiczki can you move this issue to addons-server please?

[2018-07-02 14:39] #5457 closed

[2018-07-02 14:40] ioanarusiczki commented on #5364
Verified fixed on AMO dev with FF61(Win10).

![about this theme2](https://user-images.githubusercontent.com/33448286/42170336-ed3f480e-7e1e-11e8-9c34-f2efab475e24.png)

[2018-07-02 16:06] willdurand commented on #5364
@ioanarusiczki why is it fixed?

[2018-07-02 16:17] willdurand commented on #5470
Indeed, we do not reload the reviews until page gets refreshed. I am not sure it is super useful to reload them when a new review has been submitted to be honest.

[2018-07-02 16:20] willdurand commented on #5473
I think the existing helper function to format/sanitize HTML and create `nl2br` is a bit naive, because I also noticed this for double new lines. I would have expected dom-purify to "fix" this, but I guess it is not its job.

[2018-07-02 18:01] BabyChloe333 commented on #5468
Hi Chris:

I can apply the Personas from my icon when I click on one of the Favorites but when I go to click on any of the Personas on the site under Themes or my own Favs, I get this page vs the clicked persona:

"Server Error

Sorry, but there was an error with our server and we couldn't complete your request. We have logged this error and will investigate it. Suggested Pages

    * Browse all e

[2018-07-02 18:19] #5442 closed

[2018-07-02 19:12] kumar303 commented on #5468
Hi. Thanks for taking the time to file a bug report. The 'My Favorites' collection will be moved to the new site when we launch a redesign of collections, currently targeted for late July 2018. At that time, the install button should work as expected.

I cannot reproduce the specific bug you mention here but you can try installing each theme from their detail pages instead for now. Sorry for the i

[2018-07-02 19:12] #5468 closed

[2018-07-02 19:13] #5184 closed

[2018-07-02 19:21] BabyChloe333 commented on #5468
Hello Kumar:

When I click on the detail page for each Persona - I get that Error page. Hopefully your redesign will clear this up.

Thanks,
Dianne

From: "Kumar McMillan" <notifications@github.com>
To: "mozilla/addons-frontend" <addons-frontend@noreply.github.com>
Cc: "Dianne Hartwick" <hartwickpmrltd@shaw.ca>, "Author" <author@noreply.github.com>
Sent: Monday, July 2, 2018 12:12:24 PM
Subject: R

[2018-07-02 19:35] kumar303 commented on #4262
A custom A/B solution was added in [the TAAR patch](https://github.com/mozilla/addons-frontend/pull/4942/files#diff-cd4abfb75699370a11298ce429e85e10R63) and then removed in https://github.com/mozilla/addons-frontend/pull/5467

[2018-07-02 22:39] bqbn commented on #4655
`collections/` should now be routed to the mobile site on -dev.

[2018-07-02 22:53] bqbn commented on #5453
The 3 routes should now be routed to the mobile site on -stage.

[2018-07-02 23:36] bobsilverberg commented on #4655
Thanks @bqbn!

[2018-07-02 23:40] bobsilverberg commented on #5420
This should now be fixed.

[2018-07-03 00:01] #5408 closed

[2018-07-03 06:14] willdurand commented on #5453
thanks!

[2018-07-03 09:14] ioanarusiczki commented on #5420
@bobsilverberg I tested this on AMO dev with FF61(Win10) with 3 different accounts (an admin and two developer accounts). With all accounts I've tested I can confirm that repeating the log in and log out sometimes the new page is displayed and other times the old collection page too.

Here's a demo
![second trial](https://user-images.githubusercontent.com/33448286/42210682-50a99598-7eba-11e8-8115-

[2018-07-03 11:20] diox commented on #4902
It looks like it's the same underlying issue as https://github.com/mozilla/addons-server/issues/6962

Essentially the hypothesis in that issue is that a task / cron re-saved the add-on just at the wrong time, overwriting the values set for `status` and/or `current_version`, leaving it in a weird state.

The fix for one of the tasks we noticed could cause this is going out this week. Closing this i

[2018-07-03 11:20] #4902 closed

[2018-07-03 11:49] bobsilverberg commented on #5420
This is very odd, but I was also able to reproduce it. After logging out and back in twice, the third time I was taken to the old /collections page. The same thing happens if you hard-refresh the page. Sometimes it shows you the legacy /collections page.

@kumar303 do you have any idea what could be causing this? Could it be a browser or CDN caching issue?

[2018-07-03 13:44] #5453 closed

[2018-07-03 13:44] #5454 closed

[2018-07-03 14:14] #5471 closed

[2018-07-03 14:49] #5448 closed

[2018-07-03 14:57] ioanarusiczki commented on #5408
I verified this issue on AMO dev with FF61(Win10)
I created new accounts and also tested with the existing accounts - 9 in total - went to on an extension's detail page. In all cases the TAAR_COHORT_INCLUDED was displayed in the Console and also the recommendation api is present in the Network with recommended=true

![console](https://user-images.githubusercontent.com/33448286/42227574-78babb18-7e

[2018-07-03 14:58] #5163 closed

[2018-07-03 15:24] bobsilverberg commented on #4655
@bqbn These are also now ready to be configured on stage. Could you please enable the rules on stage for:

- collections/:user/:slug/edit/
- collections/add/
- collections/

Thanks!

[2018-07-03 15:27] #3991 closed

[2018-07-03 15:55] caitmuenster commented on #5370
This looks good. FYI, I'm removing the "good first bug" label until this is ready to go (which will be during the next dev hub content update).

[2018-07-03 16:34] willdurand commented on #5454
For QA: the user profile feature has been enabled and should be available on -stage.

[2018-07-03 16:39] #5219 closed

[2018-07-03 16:39] #5252 closed

[2018-07-03 17:55] pwalm commented on #5469
- Correct, no title for reviews.
- And yep, clicking the date should take you to the review page.
- No need to make the whole review clickable.

[2018-07-03 19:40] kumar303 commented on #5463
Looks straightforward to me. I added the issue to the project. When the user is logged out, it currently looks like this:

<img width="440" alt="screenshot 2018-07-03 14 38 00" src="https://user-images.githubusercontent.com/55398/42241061-e88295a4-7ece-11e8-80e3-6a47d6fd4f25.png">

So you may want to add that state.

[2018-07-03 19:42] kumar303 commented on #5462
I like it. The issue is in the project now.

[2018-07-03 19:56] jenniferdavidson commented on #5438
@muffinresearch I met with the Strategy & Insights team - they recommended showing the survey on the first page of the user's session on AMO (regardless of what page that is), but no subsequent pages. Would it be possible to do that instead of just having it be persistent on 3 URLs?

[2018-07-03 20:05] jenniferdavidson commented on #5438
@muffinresearch another question - can we pass a parameter along with the link that will tell what page they took the survey on? The Strategy & Insights team recommended not to rely on the referer information, but rather pass in a parameter that SurveyGizmo can read. It can be a URL or utm parameter (I'm not sure I know the difference).

[2018-07-03 20:33] devaneymoz opened #5486 "12 July Homepage content update"
For the **12 July** push, please update homepage content to reflect the programming in this [doc](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#heading=h.t4gj29t9yklr).

[2018-07-03 20:56] caitmuenster opened #5487 "Navigate to Manage My Submissions from AMO header"
@MeridelW and I did a walkthrough of how developers manage their extensions, and it looks like developers currently can't navigate to 'manage my add-ons' from the AMO header:

![screen shot 2018-07-03 at 1 49 16 pm](https://user-images.githubusercontent.com/23342476/42244120-8aa937c2-7ec8-11e8-91ff-de2c06820278.png)

Can we add it to the drop down under 'Tools'? Otherwise, developers have to scrol

[2018-07-03 20:58] caitmuenster commented on #5487
Oh - sorry! It just occurred to me that we want to drive people to the Developer Hub, which is right next to the profile name.

I was really confused by this, but maybe that was just me.

[2018-07-03 21:30] kumar303 commented on #5470
This is an edge case but it's worth fixing because Redux makes it easy ❤️

This is the fix:

[code]

[2018-07-03 21:32] kumar303 commented on #5420
We had a ghost nginx server instance which did not have the updated config. It's fixed now. This has happened before (only on dev) so I filed an issue to try and fix it: https://bugzilla.mozilla.org/show_bug.cgi?id=1473145

[2018-07-03 21:32] #5420 closed

[2018-07-03 21:54] kumar303 commented on #5476
Adding `src=homepage-collection-featured` is a bit easier to maintain since we won't have to keep it in sync with every collection. I'll add that. If you want more specific sources, just let me know.

[2018-07-03 22:47] klstadt opened #5490 "Server Error that I cannot resolve"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-07-04 01:02] jenniferdavidson commented on #5438
Here's what the survey link will be: https://qsurvey.mozilla.com/s3/addons-mozilla-org-survey

[2018-07-04 01:05] bqbn commented on #4655
The said 3 endpoints are now routed to the mobile site on -stage.

[2018-07-04 03:38] pwalm commented on #5438
Invision proto here: https://mozilla.invisionapp.com/share/BYMGI2CX3P6

[2018-07-04 05:45] jdomingi opened #5491 "Download page is down for stylish"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-07-04 06:55] IanOW opened #5492 "Dokieli Firefox Add-on not found"
### Describe the problem and steps to reproduce it:
Tried to add Firefox Add-on via link from https://github.com/linkeddata/dokieli/blob/master/README.md using link https://addons.mozilla.org/en-US/firefox/addon/dokieli/

### What happened?
Message "Sorry, but we can't find anything at the address you entered."
### What did you expect to happen?
Install the Add-on
### Anything else we should know?

[2018-07-04 08:18] cadeyrn commented on #5491
https://blocked.cdn.mozilla.net/c635229f-7aa0-44c5-914f-80c590949071.html

[2018-07-04 09:22] itstheglue opened #5493 "Link from Feedly Add on does not work"
### Describe the problem and steps to reproduce it:

Hi,

I want to add a Feedly Add on- but the URL does not work - neither through the feedly site directly nor through the google search results:

https://addons.mozilla.org/en-US/firefox/addon/feedly-save-to-board/

https://addons.mozilla.org/en-US/firefox/addon/feedly-save-to-board/

I expected to access the add-on site

Instead, a page not foun

[2018-07-04 09:42] ioanarusiczki opened #5494 "Display name will appear cut when is longer than 25 chars on the user profile page"
STR:
1. Load AMO stage and go to Edit profile page
2. Edit your display name , make sure it contains more than 25 chars
3. Update profile and observe it on the view profile page

Expected result:
Name is displayed without layout issues.

Actual result:
Name appears cut.

Notes:
This issue is reproducible when editing the username too in case the user won't edit the displayname, also when edited wi

[2018-07-04 09:44] ioanarusiczki commented on #5454
I verified user profiles on AMO stage with FF61(Win10).
One issue filed https://github.com/mozilla/addons-frontend/issues/5494

[2018-07-04 10:06] ioanarusiczki commented on #5420
I cannot reproduce the problem above. Verified fixed on AMO dev with FF61(Win10).

![fixed](https://user-images.githubusercontent.com/33448286/42271045-09875a02-7f8b-11e8-8358-e27fcff3a6fa.gif)

[2018-07-04 11:16] ioanarusiczki opened #5495 "Reviews cannot be deleted from the user profile page - new pages"
STR:
1. Load AMO dev and go to View profile page (make sure you rated a couple of extensions/themes)
2. Try to delete a review

Expected result:
Delete button is available and the review can be deleted.

Actual result:
The review can be deleted only using the old page.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF61(Win10).

![delete on old pages only](https://user-images.git

[2018-07-04 11:34] bobsilverberg commented on #4655
Thanks @bqbn

[2018-07-04 12:02] bobsilverberg commented on #5162
This was fixed via #5163.

[2018-07-04 12:02] #5162 closed

[2018-07-04 12:21] ioanarusiczki commented on #5453
I verified with FF61(Win10 and Android 8.0) Edit profile and View Profile pages on AMO stage.
Filed https://github.com/mozilla/addons-frontend/issues/5495

[2018-07-04 13:37] ioanarusiczki commented on #5252
Verified fixed on AMO dev with FF61(Win10)

![updated photo no refresh](https://user-images.githubusercontent.com/33448286/42280075-651ca53a-7fa8-11e8-83e2-577f2930b777.gif)

[2018-07-04 13:53] willdurand commented on #5494
This has to be fixed before the next tag 😞

[2018-07-04 13:54] willdurand commented on #5469
I guess we can close this issue now.

[2018-07-04 13:54] #5469 closed

[2018-07-04 14:12] cosminbadescuSV opened #5496 "“View My Collections” returns “Page not found” on amo-stage"
### Describe the problem and steps to reproduce it:
1.Create some collections
2.Hover over the username.
3.Click on "View My Collections".
### What happened?
“Page not found” is displayed in the web page.
### What did you expect to happen?
To see the collections I have created.
### Anything else we should know?
Reproduced on FF61.0, AMO-stage under Win 7 64-bit and Android 8.0.0

On AMO-prod there

[2018-07-04 14:17] ioanarusiczki commented on #5219
Verified fixed on AMO dev and AMO stage with FF61(Win10)
![newsletter](https://user-images.githubusercontent.com/33448286/42282020-dd0925be-7fad-11e8-8f9a-b2807e8aa902.gif)

[2018-07-04 14:53] bobsilverberg commented on #5496
This is happening because the nginx rules for stage have been updated, but the feature was not turned on. I planned to turn it on but then we decided not to do it at the last minute so we wouldn't be turning on both User Profile and Collections on stage at the same time.

There will be certain collections features that do not work on stage at this time because of this.

[2018-07-04 14:55] bobsilverberg commented on #5496
Our plan is to turn on the new Collections features on stage with the next push, so perhaps we can keep this open until then and check it again after the next tag.

[2018-07-04 14:58] vcarciu commented on #5184
Verified as fixed based on images from https://github.com/mozilla/addons-frontend/pull/5464 👍
Admin:
![admindelete](https://user-images.githubusercontent.com/1583842/42283979-c56d99fc-7fb3-11e8-8bb3-5dbfe90c2a61.png)

User:
![userdelete](https://user-images.githubusercontent.com/1583842/42283989-cbc70446-7fb3-11e8-838c-3b83f55113bd.png)

[2018-07-04 14:59] bobsilverberg commented on #5494
I can take it if you like, @willdurand

[2018-07-04 15:09] vcarciu opened #5497 "Delete accounts forms cannot be dismissed when pressing outside of the pop up screen."
Steps to reproduce:
1.Go to AMO-dev and try to delete an account
2.While deletion account screen is displayed press somewhere outside of it

Expected results:
Form is closed

Actual results:
Form can be closed only from Cancel button

Please see a video for this issue :
![deletedismiss](https://user-images.githubusercontent.com/1583842/42284484-4f2e9f6e-7fb5-11e8-8d2a-5100b5f4465e.gif)

[2018-07-04 15:15] ioanarusiczki opened #5498 ""You do not permission to perform this action" should be displayed when others than the owner try to add an extension/theme"
STR:
1. Load AMO dev and login with an admin account then open the edit page of a collection created by another user (log out from the first account while being on the edit collection page and then log back in with the admin account)
2. Try to add an extension/theme to the collection and observe the red message

Expected result:
"You do not have permission to perform this action" is displayed

Act

[2018-07-04 15:18] willdurand commented on #5494
If you want sure, otherwise I come back on Monday morning :)

[2018-07-04 15:28] bobsilverberg commented on #5498
These messages are returned by the API calls that we make to perform these operations. While I agree that it would be better if we could display the message "You do not have permission to perform this action" when trying to add an add-on fails, I'm not sure we need to put the effort in to override the default error message coming back from the API.

I say this because a user will never land on tha

[2018-07-04 15:30] muffinresearch commented on #5491
Stylish has been blocklisted - see the links posted above for the context.

[2018-07-04 15:30] #5491 closed

[2018-07-04 15:32] bobsilverberg commented on #5494
I was just trying to turn your frown upside-down. I interpreted it as a concern about landing this before the next tag. I probably do have time for it, so I'll take it.

[2018-07-04 15:37] muffinresearch commented on #5491
Here's a possible alternative to consider https://addons.mozilla.org/en-US/firefox/addon/styl-us/

[2018-07-04 15:52] muffinresearch commented on #5490
From the description it's unclear what the issue is. Please can you provide as much information as possible so that we can understand what the issue is?

Please include screenshots and URLs so we know where on the website the problem is occurring.

Feel free to re-open the issue and add additional information.

[2018-07-04 15:52] #5490 closed

[2018-07-04 15:54] muffinresearch commented on #5487
I think it would make sense to add a link under tools too - good idea.

[2018-07-04 15:58] muffinresearch commented on #5492
See https://github.com/linkeddata/dokieli/issues/231 for more context.

[2018-07-04 15:58] #5492 closed

[2018-07-04 15:59] muffinresearch commented on #5472
This sounds bad - would be good to investigate and understand the cause. Marking as P2 to discuss in the stand-up.

[2018-07-04 16:14] vcarciu opened #5499 "An error is displayed when a collaborator is deleting a persona from Mozilla featured personas collection"
Steps to reproduce:
1.Add an user to an admin group with Collections:Contribute persmission
2.Using that user open https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/featured-personas/
3.Press Edit button, delete any persona and press save

Expected results:
The persona is deleted without problems

Actual results:
An error saying that "You do not have permission to perform this actio

[2018-07-04 16:16] vcarciu commented on #5163
Collections can now be edited by users with permissions. I will mark this issue as verified and a follow up issues was logged separately : https://github.com/mozilla/addons-frontend/issues/5499

[2018-07-04 16:16] vcarciu commented on #5499
Follow up from #5163

[2018-07-04 16:43] muffinresearch commented on #5472
@ioanarusiczki I can't reproduce this. Also the browser console messages don't appear to have any reference to AMO js - can you still reproduce this in a clean profile?

[2018-07-04 17:03] bobsilverberg commented on #5499
I think this is expected. @eviljeff can you confirm? Can someone with Collections:Contribute actually edit the featured-personas collection, or are they only allowed to add, remove and update add-ons in that collection?

If the latter then this behaviour is expected, but we should probably remove or disable the "Save collection" button.

[2018-07-04 17:09] eviljeff commented on #5499
@diox's latest changes prevent the `Collections:Contribute` from doing anything other than getting the detail response on the Collection itself.  (And adding, deleting, and updating the add-ons in it).  I don't know if that was deliberate.

[2018-07-04 17:55] muffinresearch commented on #5493
Unfortunately this add-on is not currently available. Please contact the developer for an update.

[2018-07-04 17:55] #5493 closed

[2018-07-04 17:58] muffinresearch commented on #5495
/cc @willdurand

[2018-07-04 18:12] muffinresearch commented on #5456
This could use some UX input. These components might need to be changed considerably to really offer a better mobile view of the same content.

I supposed one small improvement might be to at least optionally provided a fragment id to the pagination links which might help a bit.

[2018-07-04 18:57] willdurand commented on #5495
There is no delete button indeed. I don't think it was specified in the mock-ups, and because we link to the addon review page, I thought we could delete the review from that page (meaning buttons here would be too much).

[2018-07-05 03:45] redyoshi49q opened #5504 "Unable to Downgrade Stylish due to Extension Removed from Front End"
The URL for the Stylish extension ( https://addons.mozilla.org/en-US/firefox/addon/stylish/ ) currently returns a "Page not found" response.  I imagine that this was done in light of the discovery of malware in the last year or so of Stylish's releases (see https://robertheaton.com/2018/07/02/stylish-browser-extension-steals-your-internet-history/ ).

While I can appreciate the proactive measure t

[2018-07-05 05:49] grahamperrin opened #5505 "Classic desktop views of reviews of block-listed add-ons"
https://addons.mozilla.org/user/boffinbrain/ for example.

Uppermost ([captured](https://web.archive.org/web/20180705053640/https://addons.mozilla.org/en-GB/firefox/user/boffinbrain/)), there's the review that's no longer visible at https://addons.mozilla.org/addon/stylish/reviews/1077546/

A minor issue, I reckon; it's necessary to know the name of the reviewer etc. before finding things such as

[2018-07-05 06:15] grahamperrin commented on #5504
https://addons.mozilla.org/firefox/downloads/file/756207/type:attachment/stylish-2.1.1-an+fx+sm+tb.xpi?src=version-history not found.

I'm aware of a respectable file sharing area (not mine) that is currently without 2.1.1, but where 2.1.1 might appear. It's publicly available, but I'll respect the block-list by not disclosing.

----

End users can gain support in the Stylish support area, for exa

[2018-07-05 06:39] grahamperrin commented on #5504
@redyoshi49q NB non-blocked 2.1.1 is legacy – not usable with Mozilla Firefox ESR 60, and so on.

AMO will cease to serve all such extensions. I should not expect short-term reinstatement of anything relating to 2.1.1.

[2018-07-05 10:30] muffinresearch commented on #5505
@grahamperrin Please could you add a clearer description of what the specific issue is? This is currently difficult to follow.

[2018-07-05 10:47] diox commented on #5499
That was the idea, yes. Allow those contributors to change the add-ons, but not the collection itself.

[2018-07-05 11:14] bobsilverberg commented on #5496
There shouldn’t be an issue on prod, only on stage. Is there an issue on prod too? Also is this blocking any QA on stage? If so we can fix it with a new tag..

[2018-07-05 11:29] vcarciu commented on #5496
@bobsilverberg according to bug description, "The user is redirected to "Collections" page and not at "Collections by [User]" " on prod.

[2018-07-05 12:13] bobsilverberg commented on #5496
@vcarciu Ah, thanks, I missed the prod issue reported in the bug above. That is a separate issue which should be fixed immediately. Can you file a new bug for that and mark it a P1?

[2018-07-05 12:20] cosminbadescuSV opened #5506 "“View My Collections” does not redirect the user correctly on AMO-prod"
### Describe the problem and steps to reproduce it:

1.Create some collections
2.Hover over the username.
3.Click on "View My Collections".

### What happened?
The user is redirected to "Collections" page and not "Collections by [User]".
### What did you expect to happen?
The user to be redirected to "Collections by [User]".
### Anything else we should know?

Reproduced on FF61.0, AMO-prod under W

[2018-07-05 12:21] cosminbadescuSV commented on #5496
@bobsilverberg I have filed the bug for AMO-prod  https://github.com/mozilla/addons-frontend/issues/5506

Thanks for the help!

[2018-07-05 12:59] bobsilverberg commented on #5496
No problem, thanks for opening the bug!

[2018-07-05 13:11] bobsilverberg commented on #5499
That makes sense to me too. I will file an issue to deal with the UX for the edit form.

[2018-07-05 13:21] bobsilverberg opened #5508 "Address UX issue for Edit Collection form for Collections:Contribute use case"
This originated from a bug report at https://github.com/mozilla/addons-frontend/issues/5499.

There is a permission called `Collections:Contribute` which allows a user to edit the list of add-ons that exists inside the `featured-personas` collection. It does not, however, allow a user to edit that collection's details (e.g., change the name, slug, etc.).

A user with that permission is able to acc

[2018-07-05 15:14] #5475 closed

[2018-07-05 15:15] #5476 closed

[2018-07-05 15:30] grahamperrin commented on #5505
Sorry … I lazily assumed that people would be familiar with the removal of Stylish. Mozilla bug [1472948 - Blocklist Stylish add-on - sends full page urls to remote server](https://bugzilla.mozilla.org/show_bug.cgi).

At https://addons.mozilla.org/user/boffinbrain/ a review of Stylish **is** visible.

The permalink for the review https://addons.mozilla.org/addon/stylish/reviews/1077546/ results in

[2018-07-05 15:32] grahamperrin commented on #5491
#5504

[2018-07-05 15:59] #5506 closed

[2018-07-05 16:16] muffinresearch commented on #5438
@jenniferdavidson why is the referer header information a problem? A url parameter is more visible and if anything even easier for the user to manipulate. If it was a utm parameter what would that be/represent?

@jenniferdavidson It's possible, but it would make the whole thing more complex though. I'm not sure why we need to do that. Is there more context to the recommendation? I'm assuming you'd

[2018-07-05 16:31] jenniferdavidson commented on #5438
@muffinresearch Let me see if I can get Tyler in on this. I'm not sure the technical details of why he's recommending it in this way. I just want to know what page they were on when they took the survey. Since we're asking about the user's journey in the questions, it'll be helpful to put the pieces together.

And the context for the recommendation about putting it on the first page of the user's

[2018-07-05 16:34] vcarciu commented on #5506
Verified as fixed in AMO Stage. User's collections are now displayed.

[2018-07-05 17:14] bobsilverberg commented on #5505
It looks like we don't mark reviews for blocklisted add-ons as hidden, so they show up in listings like the User Profile page. @jvillalobos Do you think it's important to hide reviews for blocklisted add-ons so they never appear anywhere on the site?

[2018-07-05 17:17] bobsilverberg commented on #5499
This is now a duplicate of #5508.

[2018-07-05 17:17] #5499 closed

[2018-07-05 17:21] bobsilverberg commented on #5465
This is a good point @EnTeQuAk, but would it also make sense to have it mentioned somewhere on MDN about how to go about reporting an add-on for abuse? Some users might not think to go to the AMO page for the add-on.

[2018-07-05 17:33] bobsilverberg commented on #5418
@arroyoshipp Your response above doesn't really give us any idea of exactly what the problem is, but it does seem to not have anything to do with the addons.mozilla.org (AMO) website. I am therefore going to close this issue. Feel free to re-open it if you have a specific problem to report about AMO.

[2018-07-05 17:33] #5418 closed

[2018-07-05 17:47] bobsilverberg commented on #5347
I'm not sure how to troubleshoot this either. Perhaps QA could try to reproduce it?

[2018-07-05 17:52] bobsilverberg commented on #5326
@rebmullin and/or @willdurand I seem to recall some discussion about replacing the `PhotoSwipeGallery` with something else. Is that correct? If so, maybe this issue can be taken into consideration when looking at a new solution.

[2018-07-05 17:54] bobsilverberg commented on #5260
@greenbirdslave We need a bit more information in order to troubleshoot your issue. Could you please provide us with the exact steps you take to reproduce this issue? Any information about error messages, URLs or screen shots you can provide would be helpful as well.

[2018-07-05 18:12] bobsilverberg commented on #4986
This is pretty strange. I can confirm that going to https://addons.mozilla.org/en-US/firefox/addon/AddonVerNumber/ on the legacy site does show an add-on, but going to the same URL on the new front end only shows a screen with loading GIFS. I don't see any messages in the console which suggest a problem.

@wagnerand Is there anything specific about the add-on itself that might be causing this?

[2018-07-05 18:15] caitmuenster commented on #5465
Hmm -- we should probably have something on [SUMO](https://support.mozilla.org/en-US/products/firefox/manage-preferences-and-add-ons-firefox/install-and-manage-add-ons). I'm not sure how many users will end up on MDN. If they do go to MDN, we can point to SUMO.

I'll take a look today to see if there's anything on SUMO and if there isn't, I'll add it to the backlog.

Thanks!

[2018-07-05 18:23] wagnerand commented on #4986
@bobsilverberg the add-on is a legacy add-on. Does the new frontend support legacy add-on listings?

[2018-07-05 18:29] TylerDowner commented on #5438
So, quick answer, we can't use logic on HTTP referrers, which means you can't use the built in SG result sheets or do the same logic in survey that we would want to otherwise.

We run our surveys as anonymous, which strips HTTP referrers unless there is a REALLY good reason not to

User manipulation isn't much of a concern, if they are going to manipulate the URL variable than we shouldn't be trus

[2018-07-05 18:43] bobsilverberg commented on #4986
Good question. I think it does, in that I don't think it does anything special to exclude them. I think it will just display whatever the API returns, regardless of whether an add-on is legacy or not. But I could be wrong about that.

[2018-07-05 18:49] rebmullin commented on #5326
@bobsilverberg, yep, that's the plan (to replace the existing gallery)..

I think that's a good idea to maybe address/consider these all together. As as reference that issue is #1519. I'll add note in that one too..

[2018-07-05 18:51] rebmullin commented on #1519
When addressing this, which should start looking into a new gallery that works well with srcset. Also consider https://github.com/mozilla/addons-frontend/issues/5326#issuecomment-402802879

[2018-07-05 18:55] wagnerand commented on #5505
AMO knows nothing about blocklisting. The question should be whether AMO should show or hide reviews for disabled/incomplete add-ons. I think the answer should be *yes*.

[2018-07-05 20:02] bobsilverberg commented on #5451
Currently the button says "Log in to view your collections" which seems reasonable to me. I'm going to close this based on the responses from @jvillalobos and @pwalm.

[2018-07-05 20:02] #5451 closed

[2018-07-05 20:08] caitmuenster commented on #5465
Oh, like in `about:addons`? Let me talk to @atsay  about this.

[2018-07-05 20:33] bobsilverberg commented on #5381
This has all been resolved.

[2018-07-05 20:33] #5381 closed

[2018-07-05 20:35] bobsilverberg commented on #5421
I don't think there's any need to support the use case of switching from the new site to the legacy site while you are on the My Collections page and ensuring you land on the legacy version of the My Collections page, especially as we will be turning on the new UI for collections very soon. I am therefore going to close this. If anyone vehemently disagrees with that, feel free to reopen it.

[2018-07-05 20:35] #5421 closed

[2018-07-05 21:57] jrmuizel opened #5512 "Top rated add-ons should only include add-ons for the current language"
https://addons.mozilla.org/en-US/firefox/search/?sort=rating&type=extension

Has a bunch of add-ons that are not English:

The top one is:
https://addons.mozilla.org/en-US/firefox/addon/biglion-cashback/?src=search

There's also:
https://addons.mozilla.org/en-US/firefox/addon/pakkujs/?src=search
https://addons.mozilla.org/en-US/firefox/addon/ypsuperkey/?src=search
https://addons.mozilla.org/en-US/

[2018-07-06 08:36] willdurand commented on #4986
Looks like a case sensitivity issue to me: https://addons.mozilla.org/en-US/firefox/addon/addonvernumber/

[2018-07-06 11:35] lavish205 commented on #5452
I would like to work on this bug.

[2018-07-06 11:37] lavish205 commented on #4244
I would like to work on this bug.

[2018-07-06 11:50] vcarciu commented on #5347
We started to test this issue, but is was not reproducible for us.

@FatOrangutan : can you please tell us if you have any specific add-ons installed?

Thanks

[2018-07-06 12:34] FatOrangutan commented on #5347
It only just occurred to me to check if my adblocker is interfering, and indeed it was. Fanboy's Enhanced Tracking List has a filter for `/favicon.ico$third-party,image,domain=~reddit.com|~4chan.org|~twitter.com|~live.com|~espn.com`.

Sorry for the noise. I should have checked this prior to reporting. Closing the issue now.

[2018-07-06 12:34] #5347 closed

[2018-07-06 13:00] ioanarusiczki commented on #5476
@diox
Verified this issue on AMO dev with FF61 (Win10)
1. I checked the URLs for all the actual available shelves on AMO homepage and **homepage-collection-featured** is available except for "Featured extensions" and "Featured Themes" shelves where the URL looks like https://addons-dev.allizom.org/en-US/firefox/addon/st-patrick-cupcakes/?src=featured

![clicked from amo](https://user-images.github

[2018-07-06 14:31] kumar303 opened #5514 "Make src consistent for feature homepage collection links"
Follow-up to https://github.com/mozilla/addons-frontend/issues/5476

STR:
- Go to the home page
- Scroll to a featured collection, such as *Translation tools*
- Take note that links within that area include `?src=homepage-collection-featured` in the URL
- Click on *See more featured...*
- Take note of the links to each add-on

Expected result: all links after clicking *See more featured...* should

[2018-07-06 14:32] kumar303 commented on #5476
Whoops, they should be consistent. I filed this follow-up issue to fix it: https://github.com/mozilla/addons-frontend/issues/5514 Thanks!

[2018-07-06 14:34] bobsilverberg commented on #5452
@lavish205 Thanks for the interest, but this one is already being worked on, as can be seen from the fact that it's assigned and it has a pull request attached. I really should have removed the "maybe good first bug" label when I assigned it. My apologies for that.

[2018-07-06 14:46] ioanarusiczki commented on #5475
Verified fixed on AMO dev with FF61(Win10)
 The same URL is now available in both places (when clicked the extension is clicked from AMO homepage and then from See more... link)
https://addons-dev.allizom.org/en-US/firefox/addon/hyfy-screen-recorder/?src=featured
Same behaviour for the themes from Featured Themes shelf.

![same url](https://user-images.githubusercontent.com/33448286/42385034-59601

[2018-07-06 14:47] ioanarusiczki commented on #5476
Then this is verified fixed on AMO dev with FF61(Win10)
The  "Featured extensions" and "Featured Themes" are a separate issue  "Featured extensions" and "Featured Themes" which answered to my question above.

[2018-07-06 17:04] pwalm commented on #5438
I would pick the second option. The user can always dismiss it if they don't want to see it. I'd rather it be there on the second page they visit (they might want to complete their task before engaging with the survey) than disappear.

[2018-07-06 17:12] jenniferdavidson commented on #5438
@muffinresearch Alrighty, let's go with Phil's suggestion (which was your suggestion!).

To summarize (and I'll edit the description on the bug to reflect the changes):

* A message bar that appears on the first page of the user's session, that is visible until it is dismissed. Design: https://mozilla.invisionapp.com/share/BYMGI2CX3P6
* The message bar reads: "Thanks for visiting this site! Please

[2018-07-06 19:45] kumar303 commented on #3493
Another example where you don't see a test failure at all 👻 https://github.com/mozilla/addons-frontend/pull/5501#pullrequestreview-135124011

[2018-07-06 20:00] atsay commented on #5465
SUMO article would be good. Also a good idea to include something in the add-on manager. Tagging @brassy - maybe a Report abuse link next to "More":

![listing](https://i.imgur.com/6XFknV6.png)

Or on the detail page:
![detail](https://i.imgur.com/MXINLkE.png)

[2018-07-06 20:05] #5514 closed

[2018-07-06 20:36] andymartinez21 opened #5517 "No se encuentra el modulo"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-07-06 21:16] kumar303 commented on #5392
This is expected behavior. What happens is you load the page once and your browser makes a request to the server. If you press Refresh quickly--before the page has loaded--the browser cancels the pending request. This cancellation aborts the first request which is technically an error. For a split second, you are seeing our app render an error about the aborted request but then it goes away.

This

[2018-07-06 21:16] #5392 closed

[2018-07-06 22:10] kumar303 opened #5519 "Improve the experience of rating and writing a review"
This is a placeholder issue for UX changes to improve the experience of rating an add-on, writing a review, and seeking support.

UX specs are in progress. Check the [PRD](https://docs.google.com/document/d/1oUz9Ng9v159IPdW4UqHhbNspWa9m5SaicAAX5jU7OjA/edit#) for details. Ideas:

- When you select a star, make it obvious that the rating has been saved (https://github.com/mozilla/addons-frontend/iss

[2018-07-06 22:50] sfgghh opened #5520 "Gmail"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-07-06 22:51] sfgghh commented on #5520
Ehsas

[2018-07-07 10:31] mann27 commented on #5386
I am not able to find where to change the code and also I am not able to understand the steps..can someone explain me. Thanks.

[2018-07-09 07:58] ioanarusiczki commented on #5514
Verified fixed on AMO dev with FF61(Win10)

![srchomepagecollectionfeatured](https://user-images.githubusercontent.com/33448286/42437831-ed2605fe-8366-11e8-8445-984840670687.gif)

[2018-07-09 08:15] #5520 closed

[2018-07-09 08:17] muffinresearch commented on #5517
This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services.

From the description it's unclear what the issue is. Please can you provide as much information as possible so that we can understand what the issue is?

Please include screenshots and URLs so we know where on the website the problem is occurring.

I'm closing this for now but pleas

[2018-07-09 08:17] #5517 closed

[2018-07-09 08:19] muffinresearch commented on #5519
@kumar303 do you need a tracker issue for this? Now that we have projects we're typically using them to replace tracker issues.

[2018-07-09 08:32] muffinresearch commented on #5438
@kumar303 would you be able to take a look at getting this setup and behind a config flag.

@jenniferdavidson I don't think the timeline for this is realistic. Even if we are able to get this out this week (which by itself leaving very little time) there won't be any translations for the link copy until the following push.

[2018-07-09 11:34] willdurand commented on #4908
We also want to upgrade the loaders:

- CSS loader: css-loader

[2018-07-09 12:18] muffinresearch commented on #5438
@jenniferdavidson thinking about this a bit more, I think if we get this landed as soon as possible we should be able to go live on the 19th - would that work for you?

@kumar as soon as this lands it'll probably make sense to run an extraction straight after (unless we're close to a tag) - that way we can give as much time as possible for the l10ners.

[2018-07-09 12:34] #5494 closed

[2018-07-09 13:04] willdurand commented on #5497
I changed the component label because I observe a similar issue with the rating modal (not always, though)

[2018-07-09 13:06] willdurand commented on #5495
@muffinresearch ^  – Should we ping product or UX?

[2018-07-09 13:10] ioanarusiczki commented on #5494
Verified fixed on AMO dev with FF61(Win10).
A long string is cut now
![a long string](https://user-images.githubusercontent.com/33448286/42452145-ec330e82-8391-11e8-93dd-b6598b658b19.png)

@bobsilverberg Maybe the height of the text box should be increased a bit so the "p", "g" or "y" would not look cut ? - check the screenshot
Also are the new user profile pages going to land on prod at the end o

[2018-07-09 13:14] muffinresearch commented on #5495
@willdurand I'd ask @jvillalobos for input.

[2018-07-09 15:05] kumar303 commented on #1791
The state was refactored as described by this issue in https://github.com/mozilla/addons-frontend/issues/4282

The legacy clean-up will happen in https://github.com/mozilla/addons-frontend/issues/3221

[2018-07-09 15:05] #1791 closed

[2018-07-09 15:06] #4744 closed

[2018-07-09 15:46] #5470 closed

[2018-07-09 16:03] kumar303 commented on #3493
Bumping priority because these are causing silent test failures in some cases

[2018-07-09 16:14] #5474 closed

[2018-07-09 16:26] rebmullin opened #5527 "upgrade api from v3 to v4"
upgrade api from v3 to v4

---

- [x] 2018-05-18: renamed /reviews/ endpoint to /ratings/ https://github.com/mozilla/addons-server/issues/6849
- [x] 2018-05-25: renamed rating.rating property to rating.score https://github.com/mozilla/addons-server/pull/8332
- [x] 2018-06-05: dropped rating.title property https://github.com/mozilla/addons-server/issues/8144
- [x] 2018-07-12: added type property to

[2018-07-09 16:58] #5452 closed

[2018-07-09 17:23] jonqrandom opened #5528 "AMO semantic search "help" can be downright user-hostile."
### Describe the problem and steps to reproduce it:
search for "markdown"; `https://addons.mozilla.org/en-US/firefox/search/?platform=windows&q=markdown`

### What happened?
the first result, and most of the results included the term "download" but not the term "markdown". from [page 4](https://addons.mozilla.org/en-US/firefox/search/?page=4&platform=windows&q=markdown) onwards, there are occasion

[2018-07-09 18:34] kumar303 opened #5529 "Show a count of helpful reviews for an add-on"
In addition to displaying helpful reviews (https://github.com/mozilla/addons-frontend/issues/1067) (also see https://github.com/mozilla/addons-frontend/issues/5360 for voting), let's display a count of helpful reviews for an add-on.

Details:
- An add-on without any reviews marked *helpful* or *unhelpful* would have a count of 0
- Other add-ons would have a count of (`helpful` - `unhelpful`)

[Rat

[2018-07-09 19:00] kumar303 commented on #5519
@muffinresearch I guess I meant a "tracker" (in quotes). We don't have anything filed currently so I wanted to put something in the project. I know this will be big but once we have UX specs we can split this apart and file separate issues.

[2018-07-09 20:35] kumar303 opened #5530 "Automatically reload dev server code on every change"
We use a hot reloader but it only applies to client side code. The server code does not hot reload. It should!

Here's why:
- First, you really need to develop with SSR enabled since it catches so many bugs
- React [reconciliation](https://reactjs.org/docs/reconciliation.html) has a lot of optimizations now which means our dev environment goes quickly out of sync until you manually restart the ser

[2018-07-09 20:39] #5073 closed

[2018-07-09 20:52] #1971 closed

[2018-07-09 20:52] #5413 closed

[2018-07-09 22:06] kumar303 opened #5532 "Support Notice button links"
The existing `<Notice>` component lets you create an action button with a callback but not one which is an anchor tag link. In https://github.com/mozilla/addons-frontend/issues/5438 we need it to be a link.

[2018-07-10 05:52] Pipivi opened #5534 "No Stylish addon for Mozilla Firefox 61.0 Snap"
Trying to install **Stylish** addon on Mozilla Firefox 61.0 Snap for Ubuntu, no search results on addons.mozilla.org
Following the link from duckduckgo search results - https://addons.mozilla.org/en-US/firefox/addon/stylish/ - no addon there. Version 3.13 dated July 9, 2018 is available at https://addons.mozilla.org/en-US/firefox/addon/stylish/versions/ but browser does not allow to install it.

[2018-07-10 06:40] EnTeQuAk commented on #5534
Stylish has been blocked for security and privacy reasons. See https://blocked.cdn.mozilla.net/i1900.html for more details.

https://addons.mozilla.org/en-US/firefox/addon/styl-us/ should be an adequate alternative.

[2018-07-10 06:40] #5534 closed

[2018-07-10 08:51] ioanarusiczki commented on #5486
Verified the presence of the new added add-ons for the  hero banners and the new collection shelves, "see more" links on AMO dev with FF61(Win10 and Android 8.0).
Full validation will be made on AMO prod.

[2018-07-10 08:59] #5532 closed

[2018-07-10 09:12] ioanarusiczki commented on #5474
Verified fixed on AMO dev with FF61(Win10 &Android 8.0)
![empty reviews](https://user-images.githubusercontent.com/33448286/42500641-80a6ea72-843a-11e8-8953-b2bc5ab66eda.png)

[2018-07-10 09:34] ioanarusiczki commented on #5470
Verified fixed on AMO dev with FF61(Win10&Android 8.0)

![no refresh page needed](https://user-images.githubusercontent.com/33448286/42501962-8fa9f138-843d-11e8-949c-c3397b63f088.gif)

[2018-07-10 10:22] jobsergio opened #5537 "generare hash"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-07-10 10:23] jobsergio commented on #5537
non so come fare per generare la chiave hash privata ho fatto in mille modi ma non sono riuscito

[2018-07-10 10:33] willdurand commented on #5537
Ciao @jobsergio, che cosa vuole fare Lei? Parla di una chiave ma non è chiaro. Sarebbe più facile con maggiori dettagli e in inglese 😉

[2018-07-10 11:49] ioanarusiczki commented on #5452
The height of the area was reduced and it looks better to me.
Verified fixed on AMO dev with FF61(Win10&Android 8.0).
![collectionsdistance](https://user-images.githubusercontent.com/33448286/42508000-b83c325c-844f-11e8-9ac0-da4136c3cd4c.png)

[2018-07-10 11:51] vcarciu commented on #5073
@rebmullin : can you please add some STRs for QA or mark the issue as "qa: not needed" ?

[2018-07-10 12:17] willdurand opened #5540 "Add user profile routes in -prod"
We plan to enable the user profile feature in -prod next push (2018.07.12), so we need to setup the nginx routes in -prod before the push. We need the following routes (same as -dev and -stage):

- [x] `/user/:username/`
- [x] `/users/edit`
- [x] `/user/:username/edit/`

[2018-07-10 12:17] bobsilverberg commented on #5318
I just tried doing this as well, for a new action I was adding to the collections reducer, and noticed that flow reports the type as `any | {|payload: {|username: string|}, type: "UNLOAD_USER_COLLECTIONS"|}`, so the `any` is breaking Flow's ability to type check. I'm also not sure why it works on Flow Try but not in our code.

[2018-07-10 12:21] willdurand opened #5541 "Enable user profile in -prod"
In order to enable the user profile feature in -stage, we need to:

- [x] setup the Nginx routes: #5540
- [x] configure the frontend to enable this feature

[2018-07-10 12:45] ioanarusiczki commented on #5413
I verified on AMO dev with FF61(Win10) the collections from AMO homepage, the "see more" links , and personal collections created by a user and did not see the presence of the empty footer.

![no white border](https://user-images.githubusercontent.com/33448286/42510359-531bcfa6-8457-11e8-9eca-1042c5ee1452.gif)

[2018-07-10 13:11] bobsilverberg commented on #5318
Ugh, now I cannot get it to work again. :-( Nevermind me.

[2018-07-10 14:23] willdurand opened #5544 "Remove the feature flag for user profile pages"
Once the user profile pages are deployed in -prod, and everything works as intended, we can remove the feature flag logic (grep for "enableUserProfile" occurrences).

[2018-07-10 15:12] #5425 closed

[2018-07-10 15:16] ioanarusiczki commented on #1971
@willdurand  The blank search on AMO -dev with FF61(Win10),indicates 14245 pages. The pages display content until page 1000, then the new frontend displays Page not found , switching on the old pages some content will be available.

![page1000blanksearch](https://user-images.githubusercontent.com/33448286/42519687-448b8ad8-846d-11e8-82e2-c52cf616492b.gif)

[2018-07-10 15:18] willdurand commented on #1971
I think this is a known issue, probably https://github.com/mozilla/addons-frontend/issues/3887

[2018-07-10 15:20] #5417 closed

[2018-07-10 15:57] #5343 closed

[2018-07-10 16:33] vcarciu commented on #4744
Verified as fixed :
![themeslistview](https://user-images.githubusercontent.com/1583842/42524082-21233cf2-8478-11e8-8b23-f3cd1273b4c4.gif)

[2018-07-10 16:34] kumar303 opened #5546 "Improve testing withUIState() components"
When you replace `this.setState()` with `this.props.setUIState()` (see https://github.com/mozilla/addons-frontend/issues/5343), you will have to add `applyUIStateChanges()` to your tests after any event that changes state in a way that affects test assertions. Example:

https://github.com/mozilla/addons-frontend/blob/0e0ec1c128b1b96b249da20e1edd2878bb3ab6dd/tests/unit/amo/components/TestEditableCo

[2018-07-10 16:44] bqbn commented on #5540
Previous -dev and -stage issues:
* https://github.com/mozilla/addons-frontend/issues/4284
* https://github.com/mozilla/addons-frontend/issues/5453

[2018-07-10 16:49] bobsilverberg commented on #5496
This is now fixed on stage.

[2018-07-10 17:03] rebmullin commented on #5073
hey @muffinresearch, can you advise/assist? should QA be verifying this? or what's the best way to have this verified?

Basically the following event updates were made:
persona:
eventCategory: "AMO Theme [install category]"
eventAction: "theme"

static theme:
eventCategory: "AMO Theme [install category]"
eventAction: "addon:statictheme"

extension:
eventCategory: "AMO Addon [install category]"
eve

[2018-07-10 17:37] bobsilverberg commented on #2770
It looks like we don't need any new API work for this, and can use http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#versions-list.

I see there's a needs:ux label on this, and I don't see any mockups in Sketch, so I guess we need those. @pwalm would you be able to do that? I think all we need is a screen to duplicate the functionality of https://addons.allizom.org/en-US/firefox

[2018-07-10 17:41] bobsilverberg commented on #5376
API support is available via http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#add-on-eula-and-privacy-policy.

@pwalm I think we need a mockup for this.

[2018-07-10 17:41] bobsilverberg commented on #1828
API support is available via http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#add-on-eula-and-privacy-policy.

@pwalm I think we need a mockup for this.

[2018-07-10 17:44] bobsilverberg commented on #3697
This is available via http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#detail.

Pinging @pwalm for a mockup.

[2018-07-10 17:49] bobsilverberg commented on #5047
@bqbn This has become part of one of my Q3 goals, which is to [enable removal of the legacy site](https://github.com/orgs/mozilla/projects/19). Could you please let me know what this status is of this request, and if there's anything I can do to help with it?

[2018-07-10 18:04] PerfectMagic opened #5547 "Bit.ly addon for Firefox"
I tried the link from Bit.ly to get the add on for Firefox.
The response was could not find the page
I expected to be able to get add on like I normally do.
I am running Firebox 61.0.19(64 bit) on an iMac running macOs 10.3.5 High Sierra.
Here is a screen shot of the response I got from Bit.ly
![screen shot 2018-07-10 at 1 58 52 pm](https://user-images.githubusercontent.com/41081473/42528624-16739

[2018-07-10 18:23] bobsilverberg opened #5548 "Remove duplication of isTheme logic"
Working on issue #4632, I've discovered that we have logic for `isTheme` sprinkled around the code base in a number of places, and ideally we should have a function in just one place and import it from there whenever we need it. It probably makes sense to put it in `core/utils/index.js` and then replace all other instances with calls to that function.

I've found it also in `amo/components/Addon`,

[2018-07-10 18:51] kumar303 opened #5549 "Convert setState() in RatingManager to setUIState()"
The [RatingManager](https://github.com/mozilla/addons-frontend/blob/54c4a4ddbfaea24c27620bead2254b183ba8bc61/src/amo/components/RatingManager/index.js) component can be converted to using [`setUIState()`](https://github.com/mozilla/addons-frontend/issues/5343).

It's only using `setState()` to show/hide the entry form.

**For QA**: please make sure that selecting a star rating for an add-on and en

[2018-07-10 18:55] kumar303 opened #5550 "Convert setState() in ConfirmButton to setUIState()"
The [ConfirmButton](https://github.com/mozilla/addons-frontend/blob/54c4a4ddbfaea24c27620bead2254b183ba8bc61/src/ui/components/ConfirmButton/index.js) component can be converted to using [`setUIState()`](https://github.com/mozilla/addons-frontend/issues/5343).

It's only using `setState()` to show a prompt about what the user is about to confirm.

**For QA**: please make sure that confirm buttons

[2018-07-10 19:01] kumar303 opened #5551 "Convert setState() in DropdownMenu to setUIState() #5550"
The [DropdownMenu](https://github.com/mozilla/addons-frontend/blob/54c4a4ddbfaea24c27620bead2254b183ba8bc61/src/ui/components/DropdownMenu/index.js) component can be converted to using [`setUIState()`](https://github.com/mozilla/addons-frontend/issues/5343).

It's using `setState()` to show/hide the menu and deactivate a button.

**For QA**: please make sure that the navigation menu in the header

[2018-07-10 19:07] rebmullin commented on #5548
@bobsilverberg, yes actually I think we are on the same page : ) as I've added a isTheme function to utils in [this PR](https://github.com/mozilla/addons-frontend/pull/5225/files#diff-2b9cfd3cee84a8831d24b85dac4455e0L330)

after this was merged, the I was planning to update the mentioned files but I'd rather keep that separate if possible.

However, if you do need it very soon (before I can get th

[2018-07-10 19:07] kumar303 opened #5552 "Convert setState() in ExpandableCard to setUIState()"
The [ExpandableCard](https://github.com/mozilla/addons-frontend/blob/54c4a4ddbfaea24c27620bead2254b183ba8bc61/src/ui/components/ExpandableCard/index.js) component can be converted to using [`setUIState()`](https://github.com/mozilla/addons-frontend/issues/5343).

It's only using `setState()` to expand/collapse the card.

**For QA**: please make sure that tapping *filter results* in the mobile view

[2018-07-10 19:10] bobsilverberg commented on #5548
Oh, nice, thanks @rebmullin. I'm not in such a huge rush, I can just wait for PR #5225 to be merged to get access to the function. I guess we can leave this issue open for the clean-up afterwards.

[2018-07-10 19:18] kumar303 opened #5553 "Convert setState() in ShowMoreCard to setUIState()"
The [ShowMoreCard](https://github.com/mozilla/addons-frontend/blob/54c4a4ddbfaea24c27620bead2254b183ba8bc61/src/ui/components/ShowMoreCard/index.js) component can be converted to using [`setUIState()`](https://github.com/mozilla/addons-frontend/issues/5343).

It's using `setState()` to expand/collapse content.

**For QA**: please make sure that long add-on descriptions can still be expanded/collap

[2018-07-10 19:23] kumar303 opened #5555 "Convert setState() in Overlay to setUIState()"
The [Overlay](https://github.com/mozilla/addons-frontend/blob/54c4a4ddbfaea24c27620bead2254b183ba8bc61/src/ui/components/Overlay/index.js) component can be converted to using [`setUIState()`](https://github.com/mozilla/addons-frontend/issues/5343).

It's using `setState()` to show/hide the overlay content.

**For QA**: please make sure the overlay on the user profile screen still works as expected

[2018-07-10 20:06] bqbn commented on #5540
The change is staged. Please update the etherpad as a reminder for us to do it before the push.

[2018-07-10 21:30] kumar303 commented on #5438
What should the name of this URL parameter be? As a value, I suppose we could pass in some form of the current URL.

[2018-07-10 21:35] jvillalobos commented on #5504
The listing will be back up when and if the add-on aligns with our policies again.

[2018-07-10 21:35] #5504 closed

[2018-07-10 21:38] TylerDowner commented on #5438
The URL parameter can be anything we like, "source" is a good one :) As long as the values make sense and we can group them than I'm fine with whatever you send in

[2018-07-10 21:41] kumar303 opened #5557 "Implement dismissible Photon notices"
Photon [message bars](https://design.firefox.com/photon/components/message-bars.html) can be dismissed. We need to implement the **X** button for this.

This is required for https://github.com/mozilla/addons-frontend/issues/5438

[2018-07-10 22:50] jvillalobos commented on #5495
The review could be hard to find on the add-on review page, at least until we fix https://github.com/mozilla/addons-frontend/issues/2771. And even after fixing that, the link could be hard to discover, so I think it would be good to allow deletion. @pwalm, thoughts?

[2018-07-10 23:00] jvillalobos commented on #5498
As I understand this issue, only a privileged user can get to the page in the first place, so I agree with Bob that we don't need nice error messages for something that should be clear to them.

[2018-07-10 23:00] #5498 closed

[2018-07-11 04:13] bqbn commented on #5047
When does this re-route needs to be on -prod by?

Currently it's on my radar, and it's in queue to be worked on in 2 weeks.

[2018-07-11 08:12] #5431 closed

[2018-07-11 08:18] #5473 closed

[2018-07-11 08:48] muffinresearch commented on #5073
@vcarciu if you install a static theme you should see the Analytics beacons fired reflecting the data shown above.

@rebmullin was there a reason to prefix `statictheme` with `addon:` that prefix feels like it might be redundant?

[2018-07-11 10:06] wagnerand commented on #5547
Please get in touch with Bit.ly to get information about the availability of their add-on.

[2018-07-11 10:06] #5547 closed

[2018-07-11 10:20] willdurand commented on #5540
Ok, I consider this issue fixed then.

[2018-07-11 10:22] #5541 closed

[2018-07-11 10:24] #5540 closed

[2018-07-11 11:03] vcarciu commented on #5425
Verified as fixed :
![collections](https://user-images.githubusercontent.com/1583842/42567649-1ca79394-8513-11e8-930c-572b357a5086.gif)

[2018-07-11 11:07] vcarciu commented on #5417
Verified as fixed :
![featstatictheme](https://user-images.githubusercontent.com/1583842/42567819-bbc3c93e-8513-11e8-8d4f-80fda900b5bc.png)

[2018-07-11 12:06] ioanarusiczki commented on #1971
@willdurand I'm marking this issue verified fixed on AMO dev with FF61(Win10).

![returns content](https://user-images.githubusercontent.com/33448286/42570253-f69e102a-851b-11e8-85e4-ad8a95b5fac1.gif)

[2018-07-11 12:08] vcarciu commented on #5073
Verified as fixed : "[amo] [GA: ON] sendEvent {"hitType":"event","eventCategory":"AMO Theme Installs Started","eventAction":"addon:statictheme","eventLabel":"RM static Pink theme"}"

[2018-07-11 12:23] madalincm opened #5560 "The delete user account modal should contain more info"
### STR:
1.  Go to edit user profile page: https://addons.allizom.org/en-US/firefox/users/edit
2. Click the "Delete My Account" button
3. Observe the wording

### Actual result
There is no mention that the user will be able to log in again with the deleted account but that account will not be linked with the deleted one.

### Expected result:
The wording should look like on the old pages:
![oldpag

[2018-07-11 13:00] weedy opened #5562 "Whitelist to disable privacy.resistFingerprinting"
https://bugzilla.mozilla.org/show_bug.cgi?id=1394448
You guys already have a bug going for this I just want to chime in with my 2 cents.

While I also had fun on AMO because of this my pain point came with telegram/whatsapp web.
The timezone is getting spoofed/obscured somehow and client displayed timestamps are in another timezone. My fun was whatsapp had one timezone and telegram had another so

[2018-07-11 13:43] vcarciu commented on #5381
@bobsilverberg : tje distance between collections looks bigger in your screenshots than what I see on my collections card. Please let me know if this is ok.
![coldistance](https://user-images.githubusercontent.com/1583842/42575558-7ace0fc8-8529-11e8-9171-a811d9a5d7fd.png)

[2018-07-11 14:03] bobsilverberg commented on #5047
Sometime in the next 2 weeks is fine, there's no rush.

[2018-07-11 14:24] rebmullin commented on #5073
@muffinresearch , I can change that but it was originally to differentiate between the install of an extension but I guess category does that now too...

is it possible there could be other kinds of themes down the line? maybe in that way it could be a useful distinction. Otherwise, I can take that out...

[2018-07-11 14:32] willdurand commented on #5073
It is a bit weird that only static themes have a prefix now.

[2018-07-11 14:37] vcarciu commented on #5381
@bobsilverberg : thanks

[2018-07-11 14:47] ioanarusiczki commented on #5343
Verified the notes on AMO dev and AMO stage with FF61(Win10 and Android 8.0):  add, edit, delete - it seems to work without problems.

[2018-07-11 15:16] willdurand opened #5563 "Improve the `I18nType` Flow type"
The Flow type `I18nType` is an alias for `Object`. It would make sense to create a better type for it, i.e. declare the methods/objects that are exposed.

[2018-07-11 15:29] jvillalobos commented on #5465
We've talked about doing something like this before in `about:addons`. What Chrome does is give the user the option to report abuse after an add-on is disabled or uninstalled, instead of having a permanent link.

[2018-07-11 15:35] caitmuenster commented on #5487
Looks like there's already a PR in for this. Thanks @championshuttler!

[2018-07-11 15:48] caitmuenster commented on #5386
Hey @mann27, we're not sure if this one is a good first bug yet. Want to take a look at some other known [good first bugs](https://waffle.io/mozilla/addons?label=contrib:%20good%20first%20bug)?

@pwalm, can you confirm what the expected behavior should be?

[2018-07-11 15:51] muffinresearch opened #5566 "Collection add comment button is inaccessible"
The comment button for a collection owner to add their own comments about the collection has no text alternative. It also uses purely a graphical icon with no visible text. It would be better if this was a button with an icon so the iconography assists with informing the user of what the action will do.

As it stands there's no way to understand what the button does if you don't know what the icon

[2018-07-11 15:52] muffinresearch commented on #5566
See also https://github.com/mozilla/addons-frontend/issues/5386 which relates to the same feature.

[2018-07-11 15:56] #4058 closed

[2018-07-11 16:01] #5496 closed

[2018-07-11 16:27] muffinresearch opened #5567 "Choose photo button and checkbox labels have no focus styles"
If navigating with a keyboard in the edit user profile page, there's no focus styles for the user "Choose photo" upload button:

<img width="352" alt="user_profile_for_muffinresearch__script_alert_0___script__ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/42584641-8eac7f0a-852b-11e8-87bb-eb81fa657417.png">

The checkboxes similarly have no focus styles. If using a keybo

[2018-07-11 16:52] willdurand commented on #5508
How about hiding the card completely? Or, better, displaying the "read-only" version of it like on a regular collection page (and not with disabled fields)?

[2018-07-11 16:56] bobsilverberg commented on #5566
We're going to switch the icon to a button that says "Leave a note".

[2018-07-11 16:57] bobsilverberg commented on #5508
@willdurand That's an even better idea that what we discussed in the meeting. I think I'll do that!

[2018-07-11 17:08] caitmuenster commented on #5388
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @willdurand

[2018-07-11 17:19] pwalm commented on #3919
Design updated and referenced in this issue: https://github.com/mozilla/addons-frontend/issues/5462

[2018-07-11 17:37] pwalm commented on #3090
Rating scale guidance:
<img width="255" alt="screen shot 2018-05-11 at 11 53 18 am" src="https://user-images.githubusercontent.com/6797635/42589609-6bad6922-84f6-11e8-91e2-2936499f8683.png">

[2018-07-11 17:58] #5277 closed

[2018-07-11 18:00] #3056 closed

[2018-07-11 18:32] rebmullin opened #5568 "Update logic in disco pane so static themes is displayed similiarly to lightweight themes"
### Describe the problem and steps to reproduce it:

once static themes are [added to the disco pane](https://github.com/mozilla/addons-server/issues/8572), we should make sure it looks similar to lightweight themes

[2018-07-11 18:47] grahamperrin commented on #3090
I'd define two stars as bad.

[2018-07-11 19:17] kumar303 commented on #5495
Deleting reviews will be dealt with in https://github.com/mozilla/addons-frontend/issues/3075 I'm hoping that this will also apply to the User Profile pages but we might need to merge the two UserReview objects more.

[2018-07-11 19:52] kumar303 commented on #3756
We don't intend to carry over the concept of one review per version from the legacy site. We may still have some technical issues to work out before we can achieve one review per add-on, though.

[2018-07-11 19:57] kumar303 commented on #2552
It looks like https://github.com/mozilla/addons-frontend/pull/3612 landed without the need for a more usable ReviewList component.

[2018-07-11 19:57] #2552 closed

[2018-07-11 20:02] kumar303 commented on #1781
Since we have removed cache machine from the API, I don't think this is such a problem.

Also, it adds complexity to optimistically dispatch state changes and it's hard to get right. We should only do it when needed, on a case by case basis.

[2018-07-11 20:02] #1781 closed

[2018-07-11 20:15] jvillalobos commented on #5505
I believe the user profile is the one place where reviews of hidden or otherwise disabled add-ons could still show up. I recall there's a bug on the legacy site where those reviews do appear but the user is unable to delete them from that page.

My preference is that they appear on the profile and are possible to delete, so the user has full control over their data (maybe with no listing link). If

[2018-07-11 20:18] jvillalobos commented on #5512
We don't do language filtering for a few reasons:

1) Listing localization and add-on localization are independent.
2) Users may still be interested in add-on that are in a different language they are browsing on.
3) External links to AMO may contain the language code in them, forcing the user to the site in a particular language.

[2018-07-11 20:18] #5512 closed

[2018-07-11 21:19] pwalm commented on #5364
Let's just not show dupe text. I don't really care at this point whether the copy shows up in the short desciption, the "About this theme", or (if the creator has filled out both) both. Let's just not duplicate it to fill space.

[2018-07-11 21:21] pwalm commented on #5386
The icon should be changed into a button that reads "Leave a note". When the collection creator leaves a note, the copy should change to "Edit note". The "edit" button in the bottom right becomes redundant and is no longer needed.

[2018-07-11 21:24] pwalm commented on #5495
Yep, we should allow for deletion of user reviews. Whether or not we should leave a trace ("User deleted their review" (like Reddit)) is up for discussion.

[2018-07-11 21:24] bobsilverberg opened #5570 "Create a CollectionDetails component that can be shared between Collection and CollectionManager"
To support issue #5508 we're going to want to display the collection details both from the `Collection` component and from the `CollectionManager` component, so the logic, which is currently in `Collection` should be extracted into its own component.

[2018-07-11 21:33] bobsilverberg commented on #5386
FYI, this has been fixed by PR #5569 which is currently in review.

[2018-07-11 21:35] caitmuenster commented on #5386
Thanks @bobsilverberg!

[2018-07-11 22:20] mickyfan2345 commented on #5116
@jvillalobos  still having troubles saving the themes to my account still the error i sent you the screen shot to

[2018-07-11 22:52] jvillalobos commented on #5116
The issue hasn't been resolved, and may take some time before it is. I suggest you try changing the name of your second collection, that is currently empty, to see if that fixes the problem.

[2018-07-12 08:18] muffinresearch opened #5573 "User profile inputs and textarea have no focus styles"
Using a keyboard to focus the inputs and textarea there are no focus styles.

<img width="665" alt="user_profile_for_muffinresearch__script_alert_0___script__ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/42620964-6187e300-85b4-11e8-8565-b87d99a776db.png">

<img width="1025" alt="user_profile_for_muffinresearch__script_alert_0___script__ _add-ons_for_firefox" src="https

[2018-07-12 08:25] muffinresearch opened #5574 "Collection inputs and textarea have no focus styles"
Using a keyboard to focus the form fields the inputs and text area have no focus styling.

<img width="502" alt="stuart_s_collection_ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/42621296-540bfda0-85b5-11e8-9198-3b102c0606ff.png">

See also https://github.com/mozilla/addons-frontend/issues/5573 in-case something generic can be setup that handles this for all fields.

[2018-07-12 08:32] muffinresearch opened #5575 "Collections edit buttons style inconsistencies"
On the edit collections page the buttons sometimes have outline and a blue focus style - not sure if this means this isn't using a shared button component since buttons elsewhere don't have both.

<img width="160" alt="stuart_s_collection_ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/42621465-ca304b58-85b5-11e8-8aed-6cc81ee70765.png">

There's also an inconsistency wit

[2018-07-12 09:09] madalincm commented on #5471
Verified in FF61(Win7) in amo-stage.
The selection is now limited to only accepted files
Postfix screencast:
![supportedfiles](https://user-images.githubusercontent.com/15685441/42623758-58449ca8-85cc-11e8-9930-99cf678604f7.png)

Marking bug as verified fixed.

[2018-07-12 09:09] ioanarusiczki commented on #5127
@willdurand Way better, I will file a separate issue then.

[2018-07-12 09:14] madalincm commented on #5473
Verified in FF61(Win7) in amo-dev
Issue is no longer reproducing:
![userbiography](https://user-images.githubusercontent.com/15685441/42624072-258875d6-85cd-11e8-8231-0dbe029459d0.png)
Marking bug as verified fixed.

[2018-07-12 09:16] cosminbadescuSV commented on #5496
This issue is verified as fixed on FF61.0.1, AMO-stage under Win 7 64-bit and Android 8.0.0.

![bug5496](https://user-images.githubusercontent.com/15885467/42624164-6c5f380a-85cd-11e8-9a63-f1ee88df46b2.png)

[2018-07-12 09:44] willdurand commented on #1260
So here are the rules for our code nowadays:

- React components live into a `components/` folder
- Each React component is a directory with a `index.js` and a `styles.scss`, imported with a relative path from the `index.js` file
- Assets related to a component should live in a sub-folder of the component (e.g., `Icon/images/`)

[2018-07-12 09:45] ioanarusiczki commented on #5472
@muffinresearch Others cannot reproduce this either but I could reproduce it only twice now (issue is intermittent) with a clean profile and new account.  I'm on Win10x86, FF61.

![clean profile](https://user-images.githubusercontent.com/33448286/42625816-66a169b6-85d1-11e8-9fdb-b263c37f75d6.png)

[2018-07-12 09:49] muffinresearch commented on #5472
@ioanarusiczki can you repro on a more recent nightly too?

[2018-07-12 10:34] willdurand commented on #5472
The logs in the console are normal in the last screenshot.

Can it be Windows-only? I cannot reproduce either, and I don't really see what could cause this problem yet.

@ioanarusiczki can you reproduce on Edge and/or Chrome?

[2018-07-12 11:07] ioanarusiczki commented on #5472
@willdurand I could only reproduce it with Edge. But not with Chrome.

[2018-07-12 11:13] muffinresearch opened #5578 "Remove addon: prefix from new statictheme tracking"
As discussed here: https://github.com/mozilla/addons-frontend/issues/5073 the `addon:` part is not required since `statictheme` by itself is clear enough.

[2018-07-12 11:14] muffinresearch commented on #5073
Yeah I think `statictheme` is clear enough. Can you remove the `addon:` prefix? I've filed an new issue for that [here](https://github.com/mozilla/addons-frontend/issues/5578).

[2018-07-12 11:50] willdurand commented on #1260
I'd like to find a common naming rule for the test files, currently we have:

- `TestComponent` for a React `Component`
- `test_someThing` for a `someThing` JS file

But it is not really consistent and not always used that way (for instance, we have `testSomeThing` files sometimes). Can we agree on a single convention _or_ only the two above?

[2018-07-12 13:29] madalincm opened #5581 "Sort by popularity should use descending order"
### STR:
1.  Open any collection i.e: https://addons.allizom.org/en-US/firefox/collections/mozilla/ad-blockers/
2. Go to "Sort add-ons by" drop down menu and select popularity.

### Expected result:
Most popular add-ons are displayed first

### Actual result
The add-ons are not sorted by popularity

### Notes:
Verified in FF61 Win7x64. Issue can be reproduced in amo-dev amo-stage and amo-prod
Plea

[2018-07-12 14:04] rebmullin commented on #5073
sure thing

[2018-07-12 14:58] #5578 closed

[2018-07-12 15:32] bobsilverberg commented on #5581
@madalincm Sort by popularity isn't based on number of users, but rather on [Number of total weekly downloads] (http://addons-server.readthedocs.io/en/latest/topics/api/collections.html#collection-addon-list-sort), so it's not obvious from this screen. I guess you can see that information in a detail API response and use that to verify that they are in fact sorted by popularity.

[2018-07-12 15:35] bobsilverberg commented on #1260
I would be happy to keep those two conventions, and make sure we stick to them.

[2018-07-12 16:31] bobsilverberg opened #5585 "Enable new collections UI and features on prod"
In order to enable the new collections UI and features on prod, we must set a the `enableNewCollectionsUI` config flag to true.

[2018-07-12 16:32] bobsilverberg opened #5586 "Remove code for the enableNewCollectionsUI flag"
Once the new collections UI is enabled on prod and considered stable, we should remove the config flag and any code that references it.

[2018-07-12 17:15] willdurand opened #5587 "User's biography not always displayed"
### Describe the problem and steps to reproduce it:

Add the following content to your bio and update the profile:

[code]

### What happened?

The bio won't be displayed after page reload.

### What did you expect to happen?

The bio is displayed.

### Anything else we should know?

[code]

[2018-07-12 17:47] #5587 closed

[2018-07-12 19:03] kumar303 commented on #3034
Two npm packages we rely on were recently compromised:

- https://github.com/eslint/eslint/issues/10600
- https://github.com/eslint/eslint-scope/issues/39

Bumping up priority

[2018-07-12 19:20] kumar303 commented on #3034
Well, huh, I'm not sure exactly how `yarn` lock files work. It seems that it only has a loose requirement on `eslint-scope`, one of the compromised packages:

https://github.com/mozilla/addons-frontend/blob/29ac1f7f801d75da180bbc1bed21c3646bb1e685/yarn.lock#L565

I don't know if that would have helped us pin the version of `eslint-scope`.

The goal for this issue is to make sure a production insta

[2018-07-12 19:38] willdurand commented on #3034
I suppose it is the aim of the `--pure-lockfile` option.

[2018-07-12 20:37] #5574 closed

[2018-07-12 21:06] #3346 closed

[2018-07-12 21:15] rebmullin commented on #5568
waiting to hear back on this [here](https://github.com/mozilla/addons-server/issues/8863) - basically we need previews so the image can be displayed:

![Alt text](https://monosnap.com/image/ki4U33wDFqkp9fiGygH8kDHgFPRbX7.png)

[2018-07-12 21:19] rebmullin commented on #5364
@pwalm, thanks for the update. I will remove dupe text (for both themes types)

[2018-07-12 21:42] #5563 closed

[2018-07-13 10:57] vcarciu commented on #5574
Verified as fixed :
![focusstyles](https://user-images.githubusercontent.com/1583842/42688379-b101b168-86a4-11e8-9798-ad010105e7d7.gif)

[2018-07-13 12:27] willdurand opened #5594 "Support numeric IDs in user profile URLs"
The legacy frontend allows to browse a user profile page using the numeric ID of a user and not their username: `/user/123/`. Having a numeric username is not allowed so there is no conflict.

The new/current user profile pages require the username, and passing the user ID will not work (404 returned). FWIW, the change to make it work is quite easy.

@kewisch told me he used such URLs with numeric

[2018-07-13 12:46] vcarciu commented on #5587
Verified as fixed :
![biogaphy](https://user-images.githubusercontent.com/1583842/42692285-ddd4638e-86b3-11e8-9b14-f6b2d2b70f3a.gif)

[2018-07-13 12:51] vcarciu commented on #5578
Verified as fixed :
[amo] [GA: ON] sendEvent {"hitType":"event","eventCategory":"AMO Theme Installs Started","eventAction":"statictheme","eventLabel":"RM static Pink theme"}

[2018-07-13 14:22] jenniferdavidson commented on #5438
@muffinresearch The 19th works for me! We should have some translations done by the end of the day today (Friday Pacific time).

@kumar303 & @muffinresearch - when do you think we can get this on dev to test it?

[2018-07-13 15:53] muffinresearch commented on #5594
My take is since there's no conflict and therefore no disambiguation issue, I think it makes sense to accommodate having ids as well as usernames under the same view.

[2018-07-13 16:00] #5544 closed

[2018-07-13 16:17] vcarciu commented on #5540
User profiles are in prod.

[2018-07-13 16:17] vcarciu commented on #5541
User profiles are in prod.

[2018-07-13 16:20] jvillalobos commented on #5594
I'm also in favor of supporting this. Usernames can change or accounts can be deleted. The ID link is the most permanent way to link to an account.

[2018-07-13 19:39] #2071 closed

[2018-07-13 19:49] willdurand opened #5598 "Move `AddonReviewListItem` logic into the `UserReview` component"
The `AddonReviewListItem` and `UserReview` are similar. In fact, `AddonReviewListItem` relies on the `UserReview`, which is a "read-only" component to display user reviews. The `UserReview` component has been introduced in #5416 to avoid duplicate style, extracting style from `AddonReviewListItem`.

We could go a step further by merging both component, so that we can use the same component when di

[2018-07-13 20:05] #5416 closed

[2018-07-13 20:06] willdurand commented on #5416
For QA: there should be no visual regression on the pages where user reviews are displayed.

[2018-07-13 20:48] atsay opened #5599 "19 July Homepage content update"
For the 19 July push, please update homepage content to reflect the programming in this [doc](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#heading=h.7w3i7akxugyj).

@muffinresearch

[2018-07-13 21:53] pwalm commented on #5508
Yep, display the "read-only" version

[2018-07-14 02:29] casey1941 opened #5600 "Cannot add TotalATV extension"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-07-14 13:43] rebmullin commented on #3843
never mind...I was looking at the emulator and not sure hover is really a solution for mobile

will look into this more..

[2018-07-14 15:29] smayer97 commented on #3756
Never liked one review per add-on. Just does not make a lot of sense. There needs to be a way to continue to provide feedback when changes are made to an add-on. This is valuable info to see from others too.

[2018-07-14 22:08] fad1 opened #5603 "Wunderlist add on not available"
### Describe the problem and steps to reproduce it:

Go to: https://www.wunderlist.com/integrations/external/add_to_wunderlist_firefox

Click on add,

Add on was removed by author. Why??

[2018-07-15 16:40] championshuttler commented on #5603
Hi @fad1 , the decision to keep addon listing on addons.mozilla.org or deleting it is totally depend on the developer of add-on. We can not do anything in this case. Sorry . Let me know if you need any other help :)

[2018-07-16 06:57] #5603 closed

[2018-07-16 07:45] AlexandraMoga opened #5604 "A scroll bar is present next to the display name on the user profile card"
STR:

1. Load AMO prod
2. Visit a user profile page - i.e https://addons.mozilla.org/en-US/firefox/user/mozilla/
2. Observe the user profile card

Expected result:
There are no layout issues on the user profile card

Actual result:
A scroll bar is present next to the username

Notes:
- same behavior observed on stage but could not reproduce on -dev
- reproduced on AMO prod and stage with FF61, Win

[2018-07-16 08:21] AlexandraMoga commented on #5604
This will probably be fixed by https://github.com/mozilla/addons-frontend/pull/5584

[2018-07-16 08:54] ioanarusiczki commented on #5486
Verified fixed on AMO prod with FF61(Win10).

[2018-07-16 09:18] ioanarusiczki commented on #5544
@willdurand Should we check that the user profile pages still work as intended?

[2018-07-16 09:19] willdurand commented on #5544
yes please, sorry for the lack of information. New user profile pages should still be there.

[2018-07-16 09:36] EnTeQuAk commented on #5603
Closing with the same comment as @championshuttler, please contact the Add-ons author about their listing. We do not have any influence on their decision to be listed or not.

[2018-07-16 09:54] zradeg opened #5607 "Can't get the MS .Net Framework assistant for Firefox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-07-16 10:05] ioanarusiczki opened #5608 "Only reviews are visible after editing the username"
STR:
1. Load AMO dev and go to View My Profile , make sure your account displays content for "Extensions by",  "Themes by" and "My reviews" sections.
2. Click Edit profile and update your username.
3. Observe the profile page.

Expected result:
All sections are displayed.

Actual result:
Only "my reviews" is visible.

Notes:
After refreshing the page all the sections are displayed.
It is not repro

[2018-07-16 10:06] wagnerand commented on #5607
Please contact the author of the add-on for inquiries about its status/availability.

[2018-07-16 10:06] #5607 closed

[2018-07-16 10:11] ioanarusiczki commented on #5544
Verified fixed on AMO dev with FF61(Win10).
I filed an issue https://github.com/mozilla/addons-frontend/issues/5608

[2018-07-16 10:17] willdurand commented on #5346
I think this is done in addons-server, not in the frontend.

[2018-07-16 10:43] willdurand commented on #5608
Interesting, I cannot reproduce locally but I can reproduce it in -dev.

[2018-07-16 11:23] willdurand commented on #5608
Ok, I think I found the issue. When updating a username, the search API does not return the add-ons to display in the two cards ("My extensions" and "My themes"), because it has not been re-indexed I suppose.

[2018-07-16 13:36] #5599 closed

[2018-07-16 13:59] ioanarusiczki commented on #5277
@pwalm @rebmullin I checked the places mentioned in the opened issues and also what @AlexandraMoga mentioned in her comments.  The review page still shows the green icon. Is that intended?
![reviews - icon for static themes](https://user-images.githubusercontent.com/33448286/42762614-71154a3e-8919-11e8-9cd3-6a77d7c9e6b6.png)

[2018-07-16 14:00] #5585 closed

[2018-07-16 14:05] vcarciu commented on #5599
Verified as fixed in AMO-dev.

[2018-07-16 14:05] bobsilverberg commented on #4655
@bqbn We also need these routes enabled on prod to coincide with this week's push. Can you please take care of that? The rules are:

- collections/:user/:slug/edit/
- collections/add/
- collections/

Thanks!

[2018-07-16 14:11] #5566 closed

[2018-07-16 14:11] #5386 closed

[2018-07-16 14:13] rebmullin commented on #5277
@ioanarusiczki, thanks for catching that. I will do a follow up PR for this..

[2018-07-16 14:21] ioanarusiczki commented on #5585
@bobsilverberg Should we test that the pages still work as intended on AMO ?

[2018-07-16 14:22] bobsilverberg commented on #2782
I don't think we need this issue anymore. Do you agree @kumar303?

[2018-07-16 14:24] bobsilverberg commented on #5585
@ioanarusiczki Yes please!

[2018-07-16 14:40] kumar303 opened #5614 "Remove AMO store/reducers test"
Now that we have [Flow types](https://github.com/mozilla/addons-frontend/blob/8c18104fd5a827f86b3f1b8190cd39e455cf7f08/src/amo/store.js#L51) to validate app state and reducer configuration in the store, we can delete the [AMO test for this](https://github.com/mozilla/addons-frontend/blob/8c18104fd5a827f86b3f1b8190cd39e455cf7f08/tests/unit/amo/test_store.js#L5). It's just a maintenance burden at th

[2018-07-16 14:56] ioanarusiczki opened #5615 "Leave a note - the layout of the collection pages are broken when a long unbroken string is used inside a note"
Re-filing https://github.com/mozilla/addons-frontend/issues/5315 The note icon was replaced with "Leave a note" and the unbroken string issue is reproducible again.

STR:
1. Load AMO dev and go to collections
2. In edit this collection make a note, use a long unbroken string, for an extension or theme that was added in the list
3. After saving it observe the layout of the page

Expected result:
Pa

[2018-07-16 15:15] vcarciu commented on #5599
Verified as fixed in Stage too

[2018-07-16 15:59] willdurand commented on #1260
So I think I am done with this issue. I'll open another issue for the test files.

[2018-07-16 15:59] #1260 closed

[2018-07-16 16:01] willdurand opened #5616 "Standardize test files"
See also: #1260

---

I'd like to have a common naming rule for the test files, currently we have:

- `TestComponent` for a React `Component`
- `test_someThing` for a `someThing` JS file

But it is not really consistent and not always used that way (for instance, we have `testSomeThing` files sometimes).

I suggest we use the two rules above and we stick to them.

[2018-07-16 16:09] kumar303 opened #5617 "Synchronize cookies with Redux state better"
In https://github.com/mozilla/addons-frontend/issues/5438 we introduced a new cookie to the site. Like [auth tokens](https://github.com/mozilla/addons-frontend/blob/300af51c4c21865f31fbcd6d6ef66f418d507670/src/core/server/base.js#L296-L299), we manually synchronize this cookie state with Redux state as part of the server response.

We should provide an abstraction around synchronizing Redux state

[2018-07-16 16:09] vcarciu commented on #5323
Verified as fixed :
![removevideo](https://user-images.githubusercontent.com/1583842/42769749-cdeb4f1c-892b-11e8-95ab-996422f70e55.png)

[2018-07-16 17:51] jvillalobos commented on #5600
If you followed a link and it's no longer working, it's likely the developer or an admin took the add-on down. This could be a temporary problem, but you should contact the developer about this.

[2018-07-16 17:51] #5600 closed

[2018-07-16 19:51] #5155 closed

[2018-07-16 20:12] #2928 closed

[2018-07-16 20:37] kumar303 commented on #5438
The final patch is currently up for review. Once it lands on dev I will update this issue.

[2018-07-16 20:57] willdurand commented on #1100
Done along with #1260.

[2018-07-16 20:57] #1100 closed

[2018-07-16 21:32] willdurand opened #5622 "Enable redux devtools in -dev"
We'd like to enable the redux devtools in -dev (and later other environments).

For QA, in -dev only:

1. install a browser extension, see: https://github.com/zalmoxisus/redux-devtools-extension#installation.
  For Firefox on AMO: https://addons.mozilla.org/en-US/firefox/addon/remotedev/
2. browse: https://addons-dev.allizom.org/
3. open the browser devtools OR click the extension icon
4. you shou

[2018-07-16 21:33] #5622 closed

[2018-07-16 21:38] #5346 closed

[2018-07-16 21:43] willdurand opened #5623 "Try to create a read-only Button component (e.g. for styling `input[type="file"]`) instead of reusing its CSS"
In the `UserProfileEditPicture` component, the style of the `Button` component is used to create a fake button (`<span />`) that is used to style a `input[type="file"]`.

Instead of borrowing the style, we should create a read-only `Button` component OR update the existing `Button` component to render a `<span />` given certain prop (`readonly` or `fake` maybe).

[2018-07-16 21:43] #5567 closed

[2018-07-16 21:43] #5573 closed

[2018-07-16 21:45] #5364 closed

[2018-07-16 22:08] #5487 closed

[2018-07-16 22:08] willdurand commented on #5487
Good job @championshuttler!

[2018-07-16 22:19] bqbn commented on #4655
PR https://github.com/mozilla-services/cloudops-deployment/pull/2257 merged.

Please add a note to the etherpad as a reminder for the push day.

[2018-07-17 06:50] AlexandraMoga commented on #5604
Verified fixed on AMO -dev with FF60, Win10x64 and Android 8.0

User profile card:

![image](https://user-images.githubusercontent.com/31961530/42801031-b6d5fcb6-89a6-11e8-9a7c-cecf5c7264ad.png)

Search results (just saw that this PR also handled a display issue in search results):
![image](https://user-images.githubusercontent.com/31961530/42801040-bca782ea-89a6-11e8-973d-679a2e2a52e2.png)

[2018-07-17 07:29] ioanarusiczki commented on #5277
Verified fixed on AMO dev with FF61(Win10).
the general search
![static themes - general search](https://user-images.githubusercontent.com/33448286/42802607-1d4269ee-89ac-11e8-943c-b3b3d1e6c428.png)

the collections
![static themes search collections](https://user-images.githubusercontent.com/33448286/42802629-23ce497c-89ac-11e8-9939-ccac492f281b.png)

add-on manager
![static themes - add-on manag

[2018-07-17 08:24] ioanarusiczki opened #5627 "Description text box should have only a vertical expansion"
STR:
1. Load AMO dev and go to View my collection
2. Click one of the collections then edit my collection button
3. Mouse hover over the right edge of the box and expand it towards the list of extensions/themes

Actual result:
Extensions/themes overlap the text box.

Expected result:
The box won't expand over the list of extensions/themes.

Notes:
When the list of add-ons is empty the placeholder

[2018-07-17 08:47] brassy- commented on #5323
Hey, vcarciu!

Here how I'm expecting to see the content below.
<img width="704" alt="screen shot 2018-07-17 at 10 40 20" src="https://user-images.githubusercontent.com/6309827/42806073-de85656a-89ad-11e8-8301-e6cbcbee3dc7.png">

To achive this I simply made some change to `.disco-content`

[code]
and set `.video-wrapper` on `display: none`.
Feel free to implement it in the way you prefer — I assu

[2018-07-17 08:51] brassy- commented on #5324
@MeridelW Do you think we need a new illustration or for the time being we are ok with the text alone?

[2018-07-17 09:09] AlexandraMoga opened #5628 "The 'Sort add-ons' section should not be exposed on the create a collection form"
STR:

1. Log in to AMO -dev
2. Select View My Collections from the user menu
3. Click on Create a collection
4. Observe the fileds available in the create a collection form - https://addons-dev.allizom.org/en-US/firefox/collections/add/

Actual result:
The Sort add-ons section is present, even if the collection doesn't have any add-ons included yet

Expected result:
The "Sort add-ons' section shou

[2018-07-17 09:24] AlexandraMoga commented on #5628
Just noticed that the Sort add-ons section is also displayed when the user is logged out:

![image](https://user-images.githubusercontent.com/31961530/42808508-2bd85c7e-89bc-11e8-8982-a0c931971302.png)

[2018-07-17 09:50] ioanarusiczki opened #5629 "Remove focus style on "Choose photo" button on mobile devices"
Followup for https://github.com/mozilla/addons-frontend/issues/5573

~~STR:~~
~~1. Load AMO dev and go to Edit my profile page~~
~~2. Click the "delete this picture" button~~

~~Actual result:~~
~~The new focus style is visible as mentioned here https://github.com/mozilla/addons-frontend/pull/5572~~

~~Expected result:~~
~~Once the button is tapped a border is visible for a short while.~~

~~Notes

[2018-07-17 09:52] ioanarusiczki commented on #5573
Verified fixed on AMO dev with FF61(Win10 and Android 8.0)

![works](https://user-images.githubusercontent.com/33448286/42810230-1f10f86c-89c0-11e8-9359-da47448d12b4.gif)

I filed https://github.com/mozilla/addons-frontend/issues/5629 which is reproducible only on android platform.

[2018-07-17 10:43] brassy- commented on #3954
![disco-pane-btn-overview 2x](https://user-images.githubusercontent.com/6309827/42812192-1bd4dc70-89bd-11e8-952c-0277d69bafaa.jpg)

Hey everyone, here the different states for the buttons.

As we can see, we have three states: before, during, and after installation.

Buttons in the before and after installation state have a hover, pressed and focus (as documented in the [design system](https://des

[2018-07-17 10:46] AlexandraMoga commented on #3056
Verified on AMO -dev with FF61, Win10x64 and Android 8.0.
The 'Tap to preview' button is no longer available on a theme details page on the frontend and the hover preview is no longer applied in the discopane:
![image](https://user-images.githubusercontent.com/31961530/42812527-a1becbda-89c6-11e8-97ad-0198bf49fac3.png)

![image](https://user-images.githubusercontent.com/31961530/42812552-aec82740-

[2018-07-17 11:14] vcarciu commented on #5323
@willdurand : can we made the changes requested above? I will remove the verified fixed label .

[2018-07-17 11:44] willdurand commented on #5323
Do we really need this margin-right of `50px`? Here is the content with a larger font size + line-height, but no margin:

![screen shot 2018-07-17 at 13 43 49](https://user-images.githubusercontent.com/217628/42815384-84618798-89c7-11e8-89d2-61a0fa2ce114.png)

[2018-07-17 11:46] brassy- commented on #5323
We don’t IMHO, but we need the max-width!

Il giorno mar 17 lug 2018 alle 13:44 William Durand <
notifications@github.com> ha scritto:

[2018-07-17 11:53] willdurand commented on #5323
roger that, thanks!

[2018-07-17 11:59] ioanarusiczki commented on #5567
Verified fixed on AMO dev with FF61(Win10)

![navigating using keyboard](https://user-images.githubusercontent.com/33448286/42816027-015a3812-89d2-11e8-914d-a26d2563a51d.gif)

[2018-07-17 12:09] #5323 closed

[2018-07-17 12:16] willdurand commented on #4264
Almost done! One is related to `webpack` (#4908) and the other is related to the router:

[code]

[2018-07-17 12:21] AlexandraMoga commented on #4617
The fix that was supposed to address this issue has been closed but the problem reported still exists.
Based on that, I'm reopening this bug.

![image](https://user-images.githubusercontent.com/31961530/42816884-ea47d974-89d4-11e8-85fd-3fd12542ce2a.png)

[2018-07-17 12:31] ioanarusiczki commented on #4617
I verified this issue on AMO dev with FF61(Win10)
While navigating with keyboards I've also noticed that the arrow is selected yet it has no role because pressing enter won't trigger an action. If I search for an extension and I wish to add it to the list using keyboard I use the arrow key then press enter.

![the arrow - no action](https://user-images.githubusercontent.com/33448286/42817242-31318

[2018-07-17 12:39] vcarciu commented on #5323
@brassy- : Please have a look and let us know if everything is ok now :
![layout](https://user-images.githubusercontent.com/1583842/42817704-91bf64b8-89d7-11e8-9e16-c875644a51b6.png)

[2018-07-17 12:44] willdurand commented on #4265
@muffinresearch I don't see these errors anymore. Fixed?

[2018-07-17 12:53] ioanarusiczki commented on #5487
@caitmuenster Maybe Developer Hub on the AMO homepage should have it's own dropdown menu? Tools could be moved there.

I verified this issue on AMO -dev with FF61(Win10&Android 8.0)
![manage my submissions](https://user-images.githubusercontent.com/33448286/42818310-32816ae4-89d9-11e8-8175-be76069da778.gif)

[2018-07-17 13:10] #5628 closed

[2018-07-17 13:15] willdurand commented on #5608
Filed an issue on addons-server: https://github.com/mozilla/addons-server/issues/8901

[2018-07-17 13:22] bobsilverberg commented on #4617
Thanks @AlexandraMoga, that indeed was not addressed as part of PR #4800, so thanks for re-opening.

[2018-07-17 13:30] bobsilverberg commented on #4655
Done, thanks @bqbn!

[2018-07-17 13:35] vcarciu commented on #5622
Verified in both Firefox and Chrome. In Chrome everything works as expected, but nothing is displayed in Firefox. After a chat with @willdurand we decided that this one can be closed based on results from Chrome and I will open a new issue for Firefox.

Chrome:
![reduxxhrome](https://user-images.githubusercontent.com/1583842/42820692-68ce7d20-89df-11e8-936a-df68f29c29c3.png)

Firefox:
![reduxfiref

[2018-07-17 13:40] willdurand commented on #5629
I updated the description too: only the "Choose Photo" button has a focus style on Android. The report was about the "Delete This Picture" button indeed, but the underlying problem was the opposite.

[2018-07-17 13:44] vcarciu opened #5634 "Redux devtools not working in Firefox in -dev"
Steps to reproduce:
1. Install a browser extension, see: https://github.com/zalmoxisus/redux-devtools-extension#installation.
    For Firefox on AMO: https://addons.mozilla.org/en-US/firefox/addon/remotedev/
2. Browse: https://addons-dev.allizom.org/
3. Open the browser devtools and select Redux panel

Expected results:
You should see something like this:
![reduxxhrome](https://user-images.githubu

[2018-07-17 14:08] brassy- commented on #5323
Thank you! It looks good :)

[2018-07-17 14:15] bobsilverberg opened #5635 "Disable the "Save collection" button unless one of the fields in the edit form has been changed"
As discussed in last week's front-end UX meeting, the following changes should be made to the collection edit screen:

1. Move the select which is used to add an add-on to a collection from the edit form into the card below (the one that currently holds the sort select).
2. Disable the "Save collection" button unless one of the fields in the edit form has been changed.

[2018-07-17 14:30] brassy- opened #5637 "Update Discopane intro copy"
I'd like to update the current content in something more straight-forward and compact.

#### Current content

####  Proposal content

Change how the browser looks with themes. Tailor your experience to your tastes.

[2018-07-17 14:34] willdurand commented on #5322
See also: https://github.com/mozilla/addons-frontend/issues/5637

[2018-07-17 14:39] MeridelW commented on #5324
@brassy- as discussed, let's revisit this after Vancouver. We should talk about our goals (what we are trying to communicate) and messaging. From there we figure out medium (illustration vs. animation vs. video). If we go illustration route, we can ask Sean Martell for help.

[2018-07-17 14:40] #5438 closed

[2018-07-17 14:41] #5550 closed

[2018-07-17 14:42] bobsilverberg opened #5638 "Create a CollectionSort component to reduce the code in the Collection component"
As we're going to relocate the sort select in #5635, it seems like a good time to extract the code for the sort select into its own component, and that's what this issue is about.

[2018-07-17 14:43] #5637 closed

[2018-07-17 14:47] rebmullin commented on #5277
hey @ioanarusiczki, I just merged #5613, which addresses the review section you discovered. Do you want to just verify that piece too?

[2018-07-17 15:05] kumar303 commented on #1371
This is mostly done. We've written all new code this way for a long time now.

[2018-07-17 15:07] caitmuenster commented on #5487
Thanks, @ioanarusiczki! I'm definitely not opposed to the Dev Hub menu, but it's @jvillalobos and @pwalm's call.

[2018-07-17 15:30] kumar303 commented on #5438
@jenniferdavidson this is live on the dev server now: https://addons-dev.allizom.org/

Please test it out. We will be "freezing" code today (in 30 minutes!) for Thursday's release but it's slushy, meaning we can pick out patches if we need to make last minute changes. The fewer of those the better so that we can be sure it's in good working order.

Here are some notes about my implementation:
- Cl

[2018-07-17 15:33] kumar303 commented on #5438
Also, if there is anything we need to fix, please file new issues. This makes it easier to track the patches needed as we go through our release process.

[2018-07-17 15:34] jenniferdavidson commented on #5438
@kumar303 noted! the 30 minutes is within a meeting time I have. So any needed changes would be after the code freeze. Fingers crossed it's ok!

[2018-07-17 15:35] #2437 closed

[2018-07-17 15:45] pwalm commented on #5438
Everything looks and works on my end. Great work, all. 😄

[2018-07-17 15:58] kumar303 opened #5640 "Uniquely identify ConfirmButton instances"
**For QA**: please test that the *Delete this collection* button on the edit-collection screen and the *Delete this user* button on the edit-profile screen still work as expected.

`ConfirmButton` was converted to Redux in https://github.com/mozilla/addons-frontend/issues/5550

This ID [configuration](https://github.com/mozilla/addons-frontend/pull/5597/files#diff-05f08d3bc705730e4e79eeff10eb1714R

[2018-07-17 16:04] tatdig opened #5641 "https://wiki.mozilla.org/Deployment:Deploying_Firefox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-07-17 16:05] tatdig commented on #5641
Extension not found

[2018-07-17 16:09] AlexandraMoga commented on #5628
Verified fixed on AMO -dev with FF61, Win10x64 and Android 8.0

[1] create collection form
![image](https://user-images.githubusercontent.com/31961530/42830690-dc728ebe-89f4-11e8-8bb9-52d412425049.png)

[2] create collection log out
![image](https://user-images.githubusercontent.com/31961530/42830699-e0e761a4-89f4-11e8-9ff7-86e3b97c1660.png)

[3] edit collection log out
![image](https://user-image

[2018-07-17 16:13] muffinresearch commented on #5641
This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services. If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can assist you.

[2018-07-17 16:13] #5641 closed

[2018-07-17 19:59] jvillalobos commented on #5487
I prefer to keep it simple. The Dev Hub should be the place to look for all of these tools. The menu items under the account are just shortcuts, and we know that those will always be available when you're logged in.

[2018-07-17 20:58] jenniferdavidson commented on #5438
I've checked it from my end too, and it looks like the survey is passing in the source parameter in a way that surveygizmo is picking it up, so that's good! (We can tell what page of AMO they were on when they took the survey)

[2018-07-17 21:56] kumar303 commented on #5634
I asked on IRC and the reason `addons-dev.allizom.org` is blocked from running extensions is because that domain has access to [`mozAddonManager()`](https://github.com/mozilla/addons-frontend/blob/master/docs/moz-addon-manager.md) which has super powers. We should probably close this as cant-fix.

[2018-07-18 05:42] AlexandraMoga commented on #5155
Could you please add STR or the label 'qa:not needed' to this issue?

Thanks

[2018-07-18 07:49] ioanarusiczki commented on #5386
Verified fixed on AMO dev and AMO stage with FF61(Win10 & Android 8.0).
![no icon](https://user-images.githubusercontent.com/33448286/42867402-3002a61c-8a78-11e8-935b-38fedeedcebf.png)

[2018-07-18 07:55] brassy- commented on #3954
Follow up from my previous comment...
Here’s the technique to implement the SVG sprite http://msuja.ws/svg.html
Here’s something Sam worked on to quickly change the colour of the svg, if we need this! https://sfoster.github.io/svgspritesheet/preview-context-colors.html

For reference: [ here’s how they implemented the add to pocket animation](https://hg.mozilla.org/mozilla-central/rev/8c927b51ca41

[2018-07-18 08:12] ioanarusiczki opened #5644 "Leave a note in collections field - text typed in after an emoji is not displayed"
STR:
1. Load AMO dev and go to Edit collection page
2. Click the "leave a note" for a theme/add-on
3. Insert some text then an emoji and then some more text then click save
4. Observe the comment

Actual result:
The emoji and the text typed after the emoji are not displayed.

Expected result:
The text and emojis are visible.

Notes:
This issue is also reproducible with the description field for co

[2018-07-18 08:15] ioanarusiczki commented on #5348
I filed as a separate issue another scenario https://github.com/mozilla/addons-frontend/issues/5644
Seems like the text displayed after the emojis is not visible after saving the note.

[2018-07-18 08:34] muffinresearch opened #5645 "Add a warning about changing tracking constants"
This patch [1] changed the tracking constants. This is causing us to be missing install counts since the keys used for the data are now different.

We should add a comment here [2] to say to not modify the tracking constants without informing people that the metrics are going to break and allowing them time to update the dashboards.

[1] https://github.com/mozilla/addons-frontend/pull/5402
[2] htt

[2018-07-18 09:39] #4264 closed

[2018-07-18 09:51] willdurand commented on #3954
Thanks @brassy-! Can we remove the "needs: ux" label now?

[2018-07-18 09:54] #1427 closed

[2018-07-18 09:56] willdurand commented on #5634
Closing as wontfix then.

[2018-07-18 09:56] #5634 closed

[2018-07-18 10:02] willdurand commented on #5155
@AlexandraMoga can you please check that CSS transitions still work:

- when an addon has been added to a collection, a message is displayed and then removed shortly after with a fading effect
- on Disco Pane, when there is an error or need to restart the browser: I don't know how complicated it is to verify that, but I guess if the previous transition works, it should work in Disco Pane as well (

[2018-07-18 10:11] willdurand commented on #1307
I guess we could organize our components in terms of "page" but apart from that, I don't think we need to go into this direction anymore. Can we close this issue @kumar303?

[2018-07-18 10:12] willdurand commented on #2114
Done in #1260.

[2018-07-18 10:12] #2114 closed

[2018-07-18 10:14] willdurand commented on #1961
We do have tests for the `baseServer` for a while now, closing.

[2018-07-18 10:14] #1961 closed

[2018-07-18 10:18] brassy- commented on #3954
@willdurand sure thing, I'll remove it.

[2018-07-18 10:45] #5645 closed

[2018-07-18 11:39] willdurand commented on #99
Update: removing this lib is easy, making HMR work again is... not easy. It works for SCSS but JS code does not get patched, I see patches coming from the server, with the correct updated code, but the client does not apply the patch correctly... It is weird because there is no error or warning, everything looks like it is successfully applied, but the UI does not change.

Possibly an issue with R

[2018-07-18 12:40] AlexandraMoga commented on #4653
This is verified via https://github.com/mozilla/addons-server/issues/8070

[2018-07-18 13:04] biswas55 opened #5650 "multifox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-07-18 13:33] brassy- opened #5651 "Divide content by type in DiscoPane"
I'd like to update the current DiscoPane's information architecture.
#### Current state
<img width="1552" alt="about:addons screenshot 2018-07-18 at 15 17 23" src="https://user-images.githubusercontent.com/6309827/42884147-db6189b8-8a9d-11e8-9c98-9827b26a43db.png">

#### Proposed
![Low Fidelity Wireframe](https://user-images.githubusercontent.com/6309827/42884032-822a34ee-8a9d-11e8-92f8-29348289a9

[2018-07-18 13:46] rraue commented on #4129
I think its a great idea to increase ctr in search and therefor rankings and clicks to our site. I suggest to implement this via js+ld and not via Microdata, as Google (even if the chrome store uses microdata) preferres js+ld and we will need it for other snipped optimizations.

As a example it used Adblock plus:

[code]

I used all information Chrome uses in the webstore as well. There are more u

[2018-07-18 13:54] rraue commented on #4129
Another though, based on this[ study](https://www.brightlocal.com/learn/review-search-click-through-study/#organicserp) we should probably only add add-ons with a positive rating above 4.0, as it seems that listings with three stars get a worse ctr than ones without any rating.

But I dont know if we can do this, as we need to update ratings regularly anyway and it might look suspicious to sometim

[2018-07-18 14:17] #5650 closed

[2018-07-18 14:35] ioanarusiczki commented on #5585
Verified on AMO dev and AMO stage with FF61(Win10 and Android 8.0)
I filed for what I've noticed this week the following issues:
https://github.com/mozilla/addons-frontend/issues/5644
https://github.com/mozilla/addons-frontend/issues/5649
https://github.com/mozilla/addons-frontend/issues/5615
https://github.com/mozilla/addons-frontend/issues/5608
https://github.com/mozilla/addons-frontend/issues/5

[2018-07-18 15:04] ioanarusiczki commented on #5346
@willdurand  Should we check anything in particular for the disco-pane? Could you add some STR?
Thanks!

[2018-07-18 15:13] MeridelW commented on #5370
- Do theme developers also use this button?

- What terminology are developers using on their own websites? Do the majority describe their add-ons as an 'add-on' or as an 'extension'?

I ask these questions because we may want to update button copy to: "Get Extension"

[2018-07-18 15:18] willdurand commented on #5346
@ioanarusiczki yes, sorry:

- the `See More Add-ons` button should have UTM params as described in the issue description above
- the `Privacy Policy` link should have UTM params as described in the issue description above

[2018-07-18 15:18] #5614 closed

[2018-07-18 15:42] bobsilverberg commented on #5421
It would be nice if we could fix this with a simple redirect, but I think there's an issue because we need to go from a URL that is `https://addons-dev.allizom.org/en-US/firefox/collections/` (i.e., a generic URL) to a URL that is `http://addons-dev.allizom.org/en-US/firefox/collections/{username}/` (i.e., a URL specific to a user), so I don't think nginx would have the smarts to do this.

@evilje

[2018-07-18 15:48] rraue commented on #3969
We definetly should add the necessary og-tags and as well a meta description, because unfortunately Google is not reading og-tags. Some addons have really great sharing numbers.

One thought on this: Do we have bigegr pictures then the thumpnails available? With this size FB is previewing our urls way less attractive then it could be. [They write](https://developers.facebook.com/docs/sharing/best-

[2018-07-18 16:03] #4655 closed

[2018-07-18 17:00] muffinresearch commented on #5651
@brassy- I thought this was out of scope for the current project? If it's out of scope it shouldn't be in the Q3 project.

[2018-07-18 17:21] muffinresearch commented on #5537
This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services. If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can assist you.

[2018-07-18 17:21] #5537 closed

[2018-07-18 17:50] brassy- commented on #5651
You’re right, you can take it out.

Il giorno mer 18 lug 2018 alle 19:00 Stuart Colville <
notifications@github.com> ha scritto:

[2018-07-18 17:52] jvillalobos commented on #4129
One thing we can do is expose the rounded star rating, rather than the more accurate measurement. So, `3.9`, `4.0`, `4.1`, etc. would all be exposed as `4.0` for search engines (we round to the nearest half-star). That would decrease the frequency of change.

I think it's okay to set a minimum of 4 stars before exposing them to search engines.

[2018-07-18 18:10] muffinresearch commented on #5644
Seems to be the same thing as https://github.com/mozilla/addons-frontend/issues/5649

[2018-07-18 18:16] jvillalobos commented on #4129
Then I guess we should figure out if Google does any rounding. If you expose `3.9`, does Google round it down to `3`?

Assuming the answer to the above is yes, then it takes about 60 reviews for a 1-star review to not drop you from 4 to 3.9.

[2018-07-18 18:40] muffinresearch commented on #5644
I've created a server issue for this here, and it will be fixed there: https://github.com/mozilla/addons-server/issues/8923