[2019-10-23 11:37] ioanarusiczki commented on #3134
@willdurand I can see the "No theme preview available" when I load the themes page (it's more obvious on Android).
However, most of the time the themes load pretty quickly and that empty preview is not present at all.

![themestab](https://user-images.githubusercontent.com/33448286/67388676-ca0e8600-f5a1-11e9-99fc-c3ec10693ba0.gif)

[2019-10-23 11:46] willdurand commented on #3134
Yes, that is intended.

[2019-10-23 12:11] jvillalobos commented on #8701
Maybe it should be something along the lines of "This listing is not intended for this platform. Browse add-ons for Firefox on desktop."

[2019-10-23 20:07] ashori2002 opened #8819 "فیلتر"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-24 09:36] FirdausKamaruzzam opened #8820 "cannot install add ons"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-24 09:36] #8820 closed

[2019-10-24 11:24] willdurand opened #8821 "Remove `ADDON_TYPE_THEMES_FILTER`"
`ADDON_TYPE_THEMES_FILTER` is an alias for `ADDON_TYPE_STATIC_THEME`. We don't need it anymore so let's remove it.

**For QA:** searching themes should continue to work.

[2019-10-24 13:17] #8720 closed

[2019-10-24 13:49] #8821 closed

[2019-10-24 14:14] #8180 closed

[2019-10-24 14:30] kumar303 opened #8823 "The category button list looks uneven when the list wraps"
### Describe the problem and steps to reproduce it:

1. Go to a category landing page, like:
* https://addons-dev.allizom.org/en-US/firefox/extensions/
* https://addons-dev.allizom.org/en-US/firefox/themes/

2. Adjust the browser window so that the list of categories wraps to a new line

### What happened?

The list is left justified which looks uneven.

### What did you expect to happen?

It shou

[2019-10-24 14:44] ioanarusiczki commented on #8804
The [release testing](https://testrail.stage.mozaws.net/index.php?/plans/view/21765) was completed on AMO stage with FF70(Win10) and FF68.2.0 (Android 8.0).
No regressions found.

[2019-10-24 14:44] ioanarusiczki commented on #7960
The [release testing](https://testrail.stage.mozaws.net/index.php?/plans/view/21765) was completed on AMO stage with FF70(Win10) and FF68.2.0 (Android 8.0).
No regressions found.

[2019-10-24 15:13] AlexandraMoga commented on #8778
No further issues have been found on stage around the new homepage heroes.

[2019-10-24 15:30] faruk0509 opened #8825 "I will fix wordpress issues and errors instantly"
We all love WordPress, but sometimes it can drive us crazy ! i will help Your website many error fix Smoothly

*WordPress customization or Error issue

✍   Website Crashed
✍   404 Error
✍   500 internal error
✍   Broken Link
✍   website Memory Limit
✍   Fix WordPress issues
✍   Fix WordPress html css or php errors
✍   Theme customization
✍   Plugin errors
✍   Installation and setup themes and plug

[2019-10-24 15:31] #8825 closed

[2019-10-24 17:02] jvillalobos opened #8826 "UTM params from homepage are removed by outgoing server"
If you click on the promoted links in the new homepage, you end up going, for example, to:
`https://outgoing.prod.mozaws.net/v1/98ca5640820023db63708f4970d3ae2cdbb7fd0c4a54c881d0e59a07bf8cbb22/https%3A//www.mozilla.org/firefox/accounts/?utm_content=homepage-secondary-hero&utm_medium=referral&utm_source=addons.mozilla.org`
and then to:
`https://www.mozilla.org/en-US/firefox/accounts/`

The real tar

[2019-10-24 17:09] #8823 closed

[2019-10-24 18:28] bobsilverberg commented on #8826
I did some experimenting and I'm not sure that the problem is that the URL params are not encoded. If I encode just the URL params then I get the same result. If I encode the entire querystring, including the `?`, then I get an error message from the outgoing server: "Invalid address." It seems like the outgoing server is stripping the URL params, so maybe we can fix that in the outgoing server.

[2019-10-24 18:59] bobsilverberg opened #8827 "The site notice banner has inconsistent margins on mobile view"
This was mentioned in a comment at https://github.com/mozilla/addons-frontend/pull/8797#pullrequestreview-305435576.

<details>
<summary>Screenshot</summary>
<img width="361" alt="Screenshot 2019-10-22 14 51 48" src="https://user-images.githubusercontent.com/55398/67327371-70dd1e80-f4dd-11e9-8334-9d33aa225a5b.png">
</details>

[2019-10-24 19:22] tborychowski opened #8828 "See all extensions link from home page doesn't work"
### Describe the problem and steps to reproduce it:

### What happened?
1. Open https://addons.mozilla.org/en-US/firefox/
2. Click on "See all extensions" link
3. Error  page

### What did you expect to happen?
1. Hmmm... See all  extensions? :-)

### Anything else we should know?

<img width="1305" alt="Screenshot 2019-10-24 at 20 20 32" src="https://user-images.githubusercontent.com/392513/67518

[2019-10-24 19:28] kumar303 commented on #8828
Thanks for taking the time to submit a bug report. We'll work on a fix!

[2019-10-24 19:55] kumar303 commented on #8828
This is a config problem just like https://github.com/mozilla/addons-server/issues/12717

I'm trying to find someone with access to the config but it's late in Europe ☠️

[2019-10-24 20:46] kumar303 commented on #8828
This has been fixed in the config.

[2019-10-24 20:46] #8828 closed

[2019-10-24 23:58] jcsteh opened #8868 "[a11y] Missing and incorrect heading semantics"
On add-on pages, there are several headers (Screenshots, About this extension, Other users with this extension also installed, Rate your experience, Permissions, More information, Add to collection, Release notes for {version}) which are not exposed as headings for accessibility. Given the amount of information on these pages, this makes it very difficult for a screen reader user to jump to the in

[2019-10-25 00:22] jcsteh opened #8829 "[a11y] Rating indicators are overly verbose with screen readers"
Currently, the rating indicators are very verbose with screen readers. For example, if I read the ratings with NVDA, I hear the following:

[code]

Note the six instances of "Rated 4.6 out of 5". This occurs because each `div.Rating-star` has `title="Rated 4.6 out of 5"` and each of those is read.

I think it probably makes sense to just set `aria-hidden="true"` on all `div.Rating-star`. Obviously

[2019-10-25 00:41] jcsteh opened #8860 "[a11y] Links to read reviews are confusing for screen reader/keyboard users"
In the section where you can read reviews for each rating of an add-on (`.RatingsByStar-graph`), there are three links taking you to the same place, one for the star, one for the barContainer and one for the count. This results in the following output with the NVDA screen reader:

[code]

Aside from the extreme verbosity here, the meaning of the numbers isn't clear, especially when there are revie

[2019-10-25 07:29] AlexandraMoga commented on #8720
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/67551758-4de78000-f712-11e9-84d5-56b8db5fbac7.png)

[2019-10-25 10:29] ioanarusiczki commented on #8823
@kumar303 I verified this on AMO dev with FF69(Win10).
This is how it looks when resizing the screen:

![categories](https://user-images.githubusercontent.com/33448286/67559989-a3c42400-f722-11e9-988d-dd157f5980d0.gif)

Category page on small screens:

![Themes categories](https://user-images.githubusercontent.com/33448286/67560242-24832000-f723-11e9-97cd-d5f36ed787f5.PNG)

Looks good to me.

[2019-10-25 11:11] ioanarusiczki commented on #8180
@willdurand Looks good to me on FF70(Win10).

![colors1](https://user-images.githubusercontent.com/33448286/67566557-c5c4a300-f730-11e9-8b0e-eb83ae9310e3.png)

![themes colors](https://user-images.githubusercontent.com/33448286/67566580-d412bf00-f730-11e9-9223-d19774ea1f53.png)

The category pages do not display categories as before meaning on vertical alignment, one below the other, I don't know

[2019-10-25 11:28] ioanarusiczki commented on #8256
@willdurand I've noticed that the colors on the homepage in the Change the way Firefox looks with themes. section are different.

![themes](https://user-images.githubusercontent.com/33448286/67567908-821f6880-f733-11e9-83c6-37b928565cff.png)

Categories pages - The categories are not aligned vertically
https://addons-dev.allizom.org/en-US/firefox/extensions/categories/
https://addons-dev.allizom.o

[2019-10-25 11:54] willdurand commented on #8180
This is the expected result after #8824

[2019-10-25 11:56] willdurand commented on #8256
Ah, interesting. Can you file an issue for that? It does not really matter to have the same colors for the same themes, but it'd be nice to have different colors in this shelf.

[2019-10-25 11:58] willdurand opened #8830 "Remove `installTheme()` logic"
We cannot install LW themes anymore because we don't show LWT anymore. We can safely remove the logic to install LWT.

**For QA:** installing a static theme should work as expected, same for other supported add-ons.

[2019-10-25 11:59] vcarciu commented on #8828
Verified as fixed in prod.

[2019-10-25 12:12] bobsilverberg opened #8832 "Add support for abuseReportPanelEnabled and reportAbuse to addonManager.js"
In order to support #8762, we need to add support for the new `mozAddonManager` `abuseReportPanelEnabled` property and `reportAbuse` function to `addonManager.js`.

For QA:

This does not add any visible functionality, but it does touch the file that implements mozAddonManager, so a check for regressions in installing, uninstalling, enabling and disabling add-ons would be in order.

[2019-10-25 12:23] eviljeff commented on #8826
from some irc discussion, it appears the params are being added by frontend _after_ it's been returned by the API.  As the outgoing url contains a hash then adding extra params ends up being ignored

[2019-10-25 12:23] s1l3nt404 opened #8834 "a"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-25 12:24] #8834 closed

[2019-10-25 12:30] bobsilverberg commented on #8826
I sounds like we have (at least) a couple of options for dealing with this:
1. Move the logic that adds the UTM params from the frontend to the server so that they can be added before the link is outgoingified.
2. Implement the outgoingify logic in the frontend and apply it after appending the UTM params.

Keeping the logic centralized on the server (1, above) seems like a better approach, as I do

[2019-10-25 12:38] ioanarusiczki opened #8835 "Change the colors for the themes shelf on homepage"
Followup for https://github.com/mozilla/addons-frontend/issues/8256

Other colors would be nicer for "Change the way Firefox looks with themes." shelf from https://addons-dev.allizom.org/en-US/firefox/

Right now it looks like

![themes](https://user-images.githubusercontent.com/33448286/67571585-fc081f80-f73c-11e9-89a4-33b79d992fa2.png)

This is how it looked before

![as before](https://user-ima

[2019-10-25 12:39] ioanarusiczki commented on #8256
@willdurand Done.
https://github.com/mozilla/addons-frontend/issues/8835

[2019-10-25 13:12] caitmuenster commented on #8344
@Davilink You can download the extension from here: https://addons.mozilla.org/firefox/addon/multi-account-containers/

[2019-10-25 13:28] aaronrbenson commented on #8701
Yeah, I think a more contextual message would be great to have. Depending on whether we can tell if there's a compatible version of the add-on, having the message read:

"This version of the add-on is not compatible with this platform. Click here for the desktop version."

And if we're not able to tell if there's an alternate, or there isn't one, a more generic message that clues them into underst

[2019-10-25 13:32] atsay opened #8837 "Homepage layout appears unbalanced in the absence of images"
Update:

Based on all of the discussions below, it sounds like the intention is to assign images to all of the items that could appear in the primary hero. In addition to that a number of changes to the styles of the hero elements were requested. This issue is now about implementing those style changes.

I'm not sure if a separate issue needs to be opened to address the assigning of images to all

[2019-10-25 13:39] bobsilverberg commented on #8826
We discussed this some more in IRC and it sounds like maybe we don't need to add outgoing to any of the links on the hero shelves, as the links are defined via the admin.

@jvillalobos what do you think about this?

[2019-10-25 13:44] bobsilverberg commented on #8701
It's probably possible to determine if a version exists for the other platform, but I think that falls outside of the scope of this issue. That sounds like something to consider along with #6136 as a second step.

If all are in agreement about that, what would you like the more generic message on the Add-on Detail page to say?

[2019-10-25 13:58] aaronrbenson commented on #8701
I thought what we had now was the generic version: "This add-on is not compatible with this platform. Browse add-ons for Firefox on desktop."

[2019-10-25 14:17] #8830 closed

[2019-10-25 14:55] jvillalobos commented on #8826
I'm fine with that.

[2019-10-25 15:41] bobsilverberg commented on #8701
Fair enough, although @jvillalobos suggested "This listing is not intended for this platform. Browse add-ons for Firefox on desktop." What do you think of that, @aaronrbenson?

[2019-10-25 15:44] aaronrbenson commented on #8701
Yeah, that works for me

[2019-10-25 16:59] #8826 closed

[2019-10-25 17:24] mengfanqing111 opened #8840 "firebug"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-25 17:38] kumar303 commented on #8837
I agree with this. When we first implemented the centered text layout, I had proposed something that looked more like the left-aligned image variant. You can see it by [viewing this comment](https://github.com/mozilla/addons-frontend/pull/8648#discussion_r327711280) and toggling the *Screenshots* bullet point.

Since I made that comment the centered text layout has grown on me a little bit. It sti

[2019-10-25 17:55] #8840 closed

[2019-10-25 19:21] Davilink commented on #8344
@caitmuenster Thats not the same thing. « Container on Go  » had a shortcut that opened a new tab with a new temporary container (C1, C2, C3, .... ). The extension you propose is just he containers mecanism. And when all the tab of same temporary containers, « Container on the go » whould clear that container.

* click on the button *
- open a new tab with the container to c1
* click on the button

[2019-10-25 19:28] kumar303 commented on #8829
This is helpful feedback, thanks!

[2019-10-26 17:18] maibroadcast opened #8843 "http://scroblr.fm"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-27 10:59] #8843 closed

[2019-10-27 16:18] #7903 closed

[2019-10-28 04:46] XSmil3y opened #8846 "I wanted to reinstall the pro version of an extension I paid for a while back, and it seems to be gone. The extension was "Darkness", according to their site the link was "https://addons.mozilla.org/en-US/firefox/addon/darkness-dark-themes/" but this only yeilds an error page"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-28 09:11] willdurand commented on #8846
Hi, you should contact the developer. There is nothing we can do unfortunately.

[2019-10-28 09:11] #8846 closed

[2019-10-28 09:30] #8835 closed

[2019-10-28 11:22] AlexandraMoga commented on #8826
Verified fixed on -dev

The call to the `/hero/` api does no longer include the `wrap_outgoing_links` parameter:

![image](https://user-images.githubusercontent.com/31961530/67674715-eafe1f00-f985-11e9-8cf9-ee0d33373189.png)

External sites both in the primary and the secondary heroes will include the UTM parameters:

![2019-10-28_12-56-56](https://user-images.githubusercontent.com/31961530/676747

[2019-10-28 13:53] ioanarusiczki commented on #8835
Looks good to me. Verified on AMO dev with FF70(Win10).

![themes on dev](https://user-images.githubusercontent.com/33448286/67683902-ded08c80-f99a-11e9-97f2-bf54a8d604c9.gif)

[2019-10-28 14:24] #8701 closed

[2019-10-28 18:46] Yassine698 opened #8849 "Acchttps://accountspool.com"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-10-28 18:54] #8849 closed

[2019-10-28 19:37] bobsilverberg commented on #8762
@rpl I am having trouble testing this locally. No matter what I do the promise from `reportAbuse()` gets rejected. I get the dialog that asks me for a reason, but if I submit it after the second page the promise gets rejected with "Error: Error submitting abuse report". I thought it might have something to do with the lookup process - i.e., it's trying to look up the add-on on prod when I'm runnin

[2019-10-28 19:48] bobsilverberg commented on #8762
Further to the above, I tried changing `extensions.abuseReport.amoDetailsURL` to `https://example.com:3000/api/v4/addons/addon/` (an address that works to return API requests to the browser), but I still only get rejected promises.

[2019-10-28 21:32] #8832 closed

[2019-10-29 11:37] rpl commented on #8762
@bobsilverberg The underlying issue should be the same one reported as mozilla/addons-server#12741 (as a side note helpful during development: to be able to see the underlying error that triggered the rejection you have to enable the console messages in the browser console, e.g. by setting the pref "devtools.browserconsole.contentMessages" to true).

[2019-10-29 13:03] ioanarusiczki commented on #8830
@willdurand
I verified installs on AMO dev with FF70 unbranded (Win10) and FF 68.2.0 (Android 8.0) and I see them working as before.

[2019-10-29 13:47] AlexandraMoga opened #8851 "404 page layout is broken for out of reach search results"
### Describe the problem and steps to reproduce it:
1. Perform a blank search from AMO homepage
2. Modify the page query in the URL to an out of reach value - i.e. https://addons.mozilla.org/en-US/firefox/search/?page=19284
3. Notice the page layout

### What happened?
A new AMO page is opened inside the main AMO page - the `Page-amo` class is duplicated when inspecting the page HTML

### What did

[2019-10-29 14:23] bobsilverberg commented on #8851
This should be fixed when we fix https://github.com/mozilla/addons-frontend/issues/8744, but it's worth leaving this open as a good repro case.

[2019-10-29 16:24] willdurand opened #8854 "Remove `isTheme()` helper"
As pointed out in https://github.com/mozilla/addons-frontend/pull/8850#discussion_r340112536, we can probably remove the `isTheme()` function and replace it with `=== ADDON_TYPE_STATIC_THEME`.

[2019-10-29 16:29] willdurand commented on #5359
@jvillalobos I am not sure whether we have static themes with "contribution cards", but I think we should had have that when we introduced the static themes. Thoughts?

[2019-10-29 16:38] willdurand commented on #5359
Awesome, thanks. So the change I quoted above is related to this contribution card. We will change from "Support this author" to "Support this artist". Does that sound right to you?

[2019-10-29 16:46] jvillalobos commented on #5359
Yeah, the current card is generalized to "author", so I don't think we need to make any changes to it.

[2019-10-29 16:48] willdurand commented on #5359
ah wait, so you would like to keep "author" and "add-on" instead of "artist" and "theme" for static themes?

[2019-10-29 17:01] jvillalobos commented on #5359
Correct. We worded that card in a way that would work for all add-ons on the site.

[2019-10-29 17:46] #5359 closed

[2019-10-29 18:51] piotrzarycki commented on #8854
Ok, i will take care of it

[2019-10-29 21:53] bqbn commented on #8793
We don't have a default CSP header for the `addons.mozilla.org` domain, and we do have a default CSP header for the `/` location and everything under that location (except for locations where the default is overridden). See [[1]](https://github.com/mozilla-services/cloudops-deployment/blob/master/projects/amo/puppet/modules/amo_proxy/templates/nginx.addons.conf.erb#L309) for the default CSP header

[2019-10-30 12:25] willdurand commented on #8854
Thank you for your first contribution @piotrzarycki! /cc @caitmuenster

[2019-10-30 12:56] piotrzarycki commented on #8854
I hope will be more :)

[2019-10-30 15:10] ioanarusiczki commented on #8701
@bobsilverberg I verified this issue on AMO stage with FF70 (Win10) and FF68.2.0 (Android 8.0).
- the pages display the messages as shown by the[ pull request](https://github.com/mozilla/addons-frontend/pull/8797)

- all frontend pages will contain `To find add-ons compatible with Firefox on desktop, visit our desktop site.` below the main navigation bar.

Three observations:
- landing on a link f

[2019-10-30 15:51] bobsilverberg commented on #8701
Thanks @ioanarusiczki!

That is a bit unfortunate, but it is a result of us sending them to the same page they were on, as opposed to back to the home page. I think in general this is the behaviour we want. I'm not sure what, if anything we can/should do to address the fact that they can end up on a desktop page that shows an incompatible add-on.

The idea here is to make it friendlier for people

[2019-10-30 17:16] psiinon commented on #8793
The lack of a CSP header for 301s is not a serious problem. I can whitelist these if its a significant amount of work to fix them. I _should_ be able to just whitelist the 301s.
The baseline scan will runs on all of the sites we know about. The list of AMO sites is: https://sql.telemetry.mozilla.org/dashboard/foxsec-metadata-for-service?p_service_65310=AMO
The full baseline results are available v

[2019-10-30 17:28] diox opened #8861 ""Last Updated" section should use current version created date instead"
The `last_updated` property returned by the API for add-ons is updated for both unlisted and listed versions (there was an [addons-server bug about it](https://github.com/mozilla/addons-server/issues/6929), but it turned out to have been changed in the past on purpose), so it's not a good fit for the frontend.

Instead, the frontend should use the `created` or `reviewed` date of the `current_versi

[2019-10-30 17:32] jvillalobos commented on #8701
Yeah, I think that's correct. At the very least the user is now informed that they're on the "wrong" site, and there are other ways to switch.

[2019-10-30 17:52] bobsilverberg opened #8862 "Add actions to support abuse reporting via Firefox"
Supports #8762

This adds actions and a supporting saga which will allow us to add support to `ReportAbuseButton` to enable it to report abuse via the Firefox API when that API is available on the client.

[2019-10-30 19:15] bobsilverberg commented on #8760
Thanks @felixlawrence. I assume the last breakdown would be 20% old warning, 20% new warning, 20% no warning, 40% no warning and not in the experiment so ignore their results? I replaced the `60%` in your statement with `40%` because 20+20+20+60 exceeds 100%.

[2019-10-30 19:22] bobsilverberg opened #8864 "Allow for more than 2 branches in withExperiment"
This supports #8760

The experiment detailed in #8760 requires 4 branches:
1. Users who will see the new warning (20%)
2. Users who will see the old old warning (20%)
3. Users who will see no warning (%20)
4. Users who will see no warning and are not in the experiment and therefore their results will be ignored in the analysis (40%)

This will actually be 3 experiment branches and one special `not

[2019-10-30 19:25] felixlawrence commented on #8760
_cough_ yes.

[2019-10-31 09:34] ioanarusiczki opened #8867 "Dismiss button `x` should be centered on small android devices"
As discussed https://github.com/mozilla/addons-frontend/issues/8701#issuecomment-547975893

STR:
On a mobile device load the following page https://addons.allizom.org/en-US/firefox/

Expected result:

 Observe that the `X` button available for the yellow message " To find add-ons compatible with Firefox on Android, [visit our mobile site](https://addons.allizom.org/en-US/android/)" could be in the

[2019-10-31 09:42] ioanarusiczki commented on #8701
@bobsilverberg Ok, if `X` stays I filed https://github.com/mozilla/addons-frontend/issues/8867

This issue is verified on AMO dev with FF70(Win10) and FF68.2.0 (Android 8.0).

[2019-10-31 11:55] muffinresearch commented on #8793
@bqbn See also https://bugzilla.mozilla.org/show_bug.cgi?id=1567145

[2019-10-31 14:12] kumar303 commented on #8867
The X is meant to be aligned at the top to strike a balance with the icon. This is how multi-line message bars are spec'd, see https://design.firefox.com/photon/components/message-bars.html

[2019-10-31 14:12] #8867 closed

[2019-10-31 15:46] ioanarusiczki commented on #8832
@bobsilverberg No issues found. Verified on AMO dev and AMO stage with FF70(Win10).

[Release testing results ](https://testrail.stage.mozaws.net/index.php?/plans/view/21991)

[2019-10-31 15:48] ioanarusiczki commented on #8256
@willdurand No issues found. Verified on AMO stage with FF70(Win10).

Here are the [Release testing results](https://testrail.stage.mozaws.net/index.php?/plans/view/21991)

[2019-10-31 16:33] bobsilverberg commented on #8861
@diox I know you and @eviljeff have been discussing the whole `last_updated` issue in IRC. Where do we currently stand wrt which data frontend should be using to display "Last Updated" to users?

[2019-10-31 18:48] atsay commented on #8837
As discussed with UX, we will reduce the number of recommendations featured in the hero area to 5-7 and select images to go with them.

I also noticed that the subhead copy in the secondary promo shelf do not match the size of the original design. It's much larger. Let's reduce it so that it's the same size as the subhead copy in the hero area.

[2019-10-31 18:52] bobsilverberg commented on #8837
Thanks @atsay. Can you be more explicit about exactly which elements in the secondary hero need to be made smaller, and which elements in the primary hero they should match in terms of size?

[2019-10-31 18:58] atsay commented on #8837
Sure, for example if you look at the copy "Sync extensions across devices" on the live site: https://www.dropbox.com/s/t2whxigp8z329bo/Screenshot%202019-10-31%2011.55.39.png?dl=0 it looks larger than "Stop trackers in their tracks..." in the hero area. In comparison, the original design had them shown in the same size: https://www.dropbox.com/s/4ftirp3j4gjuxpz/Screenshot%202019-10-31%2011.56.05.pn

[2019-10-31 19:46] bobsilverberg commented on #8837
Thanks @atsay. I would argue that the original design had the text in the Primary hero larger than it is now, which is why it matched the Secondary hero, not the other way around, but I'm fine making the Secondary hero text smaller to match what we currently have in the Primary hero.

[2019-10-31 19:48] atsay commented on #8837
Ah, that could be the case as well! Let's have @aaronrbenson make the call.

[2019-11-01 11:19] eviljeff commented on #8861
iirc, the `current_version` date - although we don't explicitly expose that.  `current_version.files[0].created` should be okay instead.

[2019-11-01 14:45] ioanarusiczki commented on #8862
@bobsilverberg
I verified Report this add-on for Abuse section from an add-ons detail page and it it working as before, I don't see UI issues either.

There is one thing that differs from AMO stage right now which is the[ limit of abuse reports a user can send per day. ](https://github.com/mozilla/addons-server/issues/6004)

- on AMO dev I sent using the [API](https://addons-server.readthedocs.io/

[2019-11-01 16:29] bobsilverberg commented on #8862
This is odd because I did not introduce any changes that should have had any effect on that. @eviljeff or @diox do you have any idea what might be afoot?

[2019-11-01 16:52] kumar303 opened #8872 "It takes two clicks to exit a server error page (500)"
### Describe the problem and steps to reproduce it:

* Trigger a client side server error
* In development:
  * Load http://localhost:3000/en-US/firefox/simulate-client-error/
  * Click *Trigger a render error*
* In production at the time of this writing:
  * Load https://addons.mozilla.org/en-US/firefox/addon/speed-dial-fast/
  * Scroll the screenshot carousel and click the first broken image

##

[2019-11-01 19:51] kumar303 opened #8873 "Encapsulate common error page styles"
Several error page components share styles for common layout.

As an example, notice how [`NotAuthorized`](https://github.com/mozilla/addons-frontend/blob/4c6510613847ec4e32875b40922cf47caa6b36d4/src/amo/components/ErrorPage/NotAuthorized/index.js) adds an [`ErrorPage`](https://github.com/mozilla/addons-frontend/blob/4c6510613847ec4e32875b40922cf47caa6b36d4/src/amo/components/ErrorPage/NotAuthoriz

[2019-11-03 10:14] valentinych2012 opened #8875 "2ip add-on for Firefox. This page was not found"
I wanted to download a plugin for mozilla firefox.
To do this, click on the link from the site https://2ip.ru/toolbar/
This page was not found - https://addons.mozilla.org/ru/firefox/addon/2ipservices/

[2019-11-03 21:17] dpathakj opened #8876 "MDN docs link to unavailable extension "QR Code Image Generator""
The page https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/What_are_WebExtensions links to https://addons.mozilla.org/en-US/firefox/addon/qr-code-image-generator, which 404s ("If you’ve followed a link from another site for an extension or theme, that item is no longer available.").

[2019-11-04 13:48] #8744 closed

[2019-11-04 13:50] bobsilverberg commented on #8851
This was fixed via https://github.com/mozilla/addons-frontend/pull/8858

[2019-11-04 13:50] #8851 closed

[2019-11-04 15:13] AlexandraMoga commented on #8851
Verified fixed on -dev:

https://addons-dev.allizom.org/en-US/firefox/search/?page=1191
![image](https://user-images.githubusercontent.com/31961530/68131681-1fde1900-ff26-11e9-9a75-1e68aa4097ce.png)

[2019-11-04 17:19] muffinresearch commented on #8876
Thanks that link has been removed.

[2019-11-04 17:19] #8876 closed

[2019-11-04 17:20] muffinresearch commented on #8875
We are unable to provide support for individual add-ons.

This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services.

In this case the add-on is no-longer available, the best way to get the add-on updated is to ask the original developer.

[2019-11-04 17:20] #8875 closed

[2019-11-04 17:37] caitmuenster opened #8881 "Theme previews not loading on user profile page"
Pam (one of our theme reviewers) noticed that theme previews are not loading from a user's profile page:

![profilepage](https://user-images.githubusercontent.com/23342476/68143457-53994e80-fee6-11e9-95cc-7aff96261f23.jpg)

[2019-11-04 17:39] willdurand commented on #8881
Looks like one of the patches that removed LWT related code introduced a bug. This is fixed in `master` since there is no LWT code anymore.. This issue will be fixed on Thursday.

[2019-11-04 17:39] #8881 closed

[2019-11-04 18:13] bobsilverberg commented on #8837
In case it wasn't clear from @atsay's comment above - we are awaiting direction from @aaronrbenson on this.

[2019-11-04 18:21] aaronrbenson commented on #8837
I think after talking with @devaneymoz and @atsay last week we decided to use generic images here. I'm still not clear about who needs to provide those images or where we get them. @atsay or @jvillalobos, can you point me to where we would get image assets for the heroes?

[2019-11-04 19:28] bobsilverberg commented on #8837
Thanks @aaronrbenson. In addition to the use of generic images, @atsay raised an issue about the size of the fonts and how they differ between the Primary and Secondary heroes, the details of which are [here](https://github.com/mozilla/addons-frontend/issues/8837#issuecomment-548521860). Do you think you could help us resolve what to do about the font sizes?

[2019-11-04 19:55] jvillalobos commented on #8837
The images will be provided to @devaneymoz by Cherry.

[2019-11-04 20:07] aaronrbenson commented on #8837
@bobsilverberg the font sizes and weights in the comp look more balanced to me. Do you need a breakdown of what those are from the mockup or do you already have that?

[2019-11-04 20:25] bobsilverberg commented on #8837
I thought I had them, but that's what I based the implementation on and something is off, so if you have an up to date mock that includes font sizes that would be helpful.

[2019-11-04 21:08] kumar303 opened #8884 "Update Firefox logo to the Skyline style"
Update the Firefox logo in the header (see https://bugzilla.mozilla.org/show_bug.cgi?id=1582891#c4), as part of a larger Skyline rebranding effort. The Skyline branding landed in Firefox 70.

**For QA**: There should be no regressions in the header layout aside from the new logo and wording.

[2019-11-04 21:19] kumar303 commented on #8788
The new logo in https://github.com/mozilla/addons-frontend/pull/8885 does not have this problem which tells me it was an issue with the source SVG, not our compressor. I was testing it on iOS using my local dev server. Also noteworthy: the glitch was visible using a development build.

[2019-11-04 21:25] bobsilverberg commented on #8837
Here's a summary of the new font requirements from @aaronrbenson:

![font-changes](https://user-images.githubusercontent.com/142755/68159388-b0652b00-ff1f-11e9-9507-eb3e7e850db5.png)

[2019-11-04 21:27] aaronrbenson commented on #8837
Also want to point out that the fonts used in the mock are different than our real world situation so we made some calls based on the existing font families to get the proportions right. Thank you @bobsilverberg!

[2019-11-04 21:28] #8884 closed

[2019-11-04 21:28] #8788 closed

[2019-11-04 21:33] kumar303 opened #8886 "Site banner is misaligned for centered text heros"
### Describe the problem and steps to reproduce it:

* Open your browser window as wide as possible.
* Refresh the home page on dev (so you get a site banner) until you see a centered text-hero. The other image-based heros will not reproduce the issue.

### What happened?

Look at the left and right edges of the site banner. They do not line up with the left and right edges of the page.

Here's an

[2019-11-04 21:42] atsay commented on #8837
Thanks for working out these details! I noticed the line spacing is different for each section--should this be defined as well?

[2019-11-04 21:46] aaronrbenson commented on #8837
I just annotated the values I changed.

[2019-11-05 08:33] ioanarusiczki commented on #8862
@bobsilverberg I think this is the reason why https://github.com/mozilla/addons-server/pull/9567/files
The throttling was removed for development purposes.

I can mark this issue verified on dev with FF70(Win10).

[2019-11-05 14:21] ioanarusiczki commented on #8884
@kumar303 I verified the new logo + text on AMO dev with FF70(Win10) and FF68.2.0 (Android 8.0).

All looks good as shown by the [pull request](https://github.com/mozilla/addons-frontend/pull/8885#issue-336481901)

On a mobile phone maybe it could be a little more space between the search bar - the logo + "Firefox Browser ADD-ONS" and the Menu Bar. If you agree, I could file an issue.

![new logo]

[2019-11-05 14:58] ioanarusiczki commented on #8788
@kumar303 I verified the issue on iOS 13.1.3 on AMO dev - it looks good now in both Safari and Firefox Browsers.

![on Safari](https://user-images.githubusercontent.com/33448286/68218665-60ed3080-ffed-11e9-8992-1c6bf3012714.png)

[2019-11-05 15:30] #8864 closed

[2019-11-05 16:00] willdurand opened #8887 "Remove remaining "persona" occurrences"
Remove almost all the occurrences of the term `persona` in the code base. After that, only the big `bin/loading-page.html`file should contain references to `persona` in the embedded CSS.

[2019-11-05 16:12] kumar303 commented on #8884
I was thinking about this as well but I took some measurements and the spaces are proportionate with the existing mobile layout so I think we should leave it for now. In https://bugzilla.mozilla.org/show_bug.cgi?id=1582891 we will be doing bigger layout changes so it's probably best to wait for that.

[2019-11-05 16:38] #8887 closed

[2019-11-05 16:57] #8861 closed

[2019-11-05 17:34] #8886 closed

[2019-11-05 18:44] bobsilverberg commented on #8837
@aaronrbenson I implemented the changes you documented, and here's what the new page looks like:

![Screenshot 2019-11-05 13 41 31](https://user-images.githubusercontent.com/142755/68235899-1a3e0d00-ffd2-11e9-9348-ec5c6e8b5725.png)

Note that we support a number of different screen sizes, and the font for some of the elements changes at different screen sizes. I used your numbers for the largest s

[2019-11-05 20:45] aaronrbenson commented on #8837
This looks good to me! I think I misunderstood what @atsay was saying yesterday re: the line-height -- so if the line-height for the elements in the three 'cards' (sync/privacy/media) could be the same as the body text to the left, I'd call this 💯

[2019-11-06 08:03] priya692 opened #8893 "www.esic.in site is not opening in firefox.... it showing server not found"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-06 08:18] ioanarusiczki commented on #8884
@kumar303 Alright, then this issue is verified on AMO dev with FF70(Win10) and Android 8.0 (FF68.2.0).

[2019-11-06 13:43] bobsilverberg commented on #6465
I started working on this and ran into an issue. We currently cache reviews in the reducer, which causes a problem if we filter via the API. Take this example:

1. A user visits a URL like http://localhost:3000/en-US/firefox/addon/view-page-archive-cache/reviews/564359/, which lists reviews and includes one specific review in a `FeaturedAddonReview` component. The API to fetch the reviews is calle

[2019-11-06 13:47] willdurand commented on #8762
@bobsilverberg could you please update the OP to add clear instructions for QA? Thanks!

Other question: do we want to use a feature flag for this feature?

[2019-11-06 14:01] bobsilverberg commented on #8837
Thanks @aaronrbenson. Here's a version where the line-height of the three "cards" matches the line-height of the body text to the left:

![Screenshot 2019-11-06 09 00 43](https://user-images.githubusercontent.com/142755/68304574-077c1480-0074-11ea-812c-ace0247a67f7.png)

[2019-11-06 14:18] bobsilverberg commented on #8762
I don't see any reason to use a feature flag for this. Without one, nothing will change for anyone with a version of Firefox that doesn't support the API, and for users on versions of Firefox that do support the API, they will be using the Firefox dialogs to submit abuse reports.

@jvillalobos Do you see any reason to use a feature flag for this, rather than just landing the changes now?

[2019-11-06 14:29] bobsilverberg commented on #8762
I have done so. Thanks for the reminder.

[2019-11-06 14:30] willdurand commented on #8762
I was thinking about a kill-switch but that might not be useful.

[2019-11-06 14:34] bobsilverberg commented on #8762
This patch is so simple that I suppose if we need to undo it that would be quite easy to do. Even a config change to update a flag would require a full push, so if that's the only reason to have a flag I'm not sure it'd be buying us much.

[2019-11-06 14:42] bobsilverberg commented on #8513
Hmm, I'm pretty sure that @muffinresearch said that he thinks we should do this, but I don't see a comment from him here. I'm adding this because @willdurand [said that he didn't think we should do this](https://github.com/mozilla/addons-frontend/issues/8513#issuecomment-525627606). I'd like to come to a consensus before starting to work on this, so @muffinresearch and @kumar303, could you please

[2019-11-06 14:44] willdurand commented on #8513
I think the consensus was that it'd be a nice to have because if we can avoid loading data we don't need, that's always better. That does not only apply to this particular issue :)

[2019-11-06 14:52] aaronrbenson commented on #8837
Very nice 👨‍🍳👌

[2019-11-06 15:03] jvillalobos commented on #8893
For Firefox support, please visit https://support.mozilla.org/

[2019-11-06 15:03] #8893 closed

[2019-11-06 15:14] kumar303 commented on #8513
It would add some extra complexity (as noted) so I'm just not sure it's worth it. It seems like a good idea to prevent any unneeded data fetches.

[2019-11-06 15:25] AlexandraMoga commented on #8744
I've triggered several instances where a 404 page error should be displayed and didn't notice any regressions.

I know we also have a Server error page but I didn't know how to trigger that.

In any case, I think we can mark this issue as verified.

[2019-11-06 15:46] bobsilverberg commented on #8513
Yes, my biggest concern is that it will add quite a bit of complexity, and I suppose it's possible that in the future we may want some of the hero data on Android, but it sounds like the consensus is that this would be a good change to make despite that.

[2019-11-06 15:51] muffinresearch commented on #8513
We do need to think that for mobile users data can be expensive, so anything that minimizes wasted bytes over the wire is something we should aim for.

The value vs complexity idea probably needs some further thought/estimation though - could this be generalized in a way that makes it easy to only do a data request on desktop for a given API call? Thus fixing this case and any others where there's

[2019-11-06 15:55] tomrittervg opened #9076 "AMO does not show correct icon when privacy.resistFingerprinting.block_mozAddonManager is set"
### Describe the problem and steps to reproduce it:
When privacy.resistFingerprinting.block_mozAddonManager is enabled, install an add-on then view the add-on page.

### What happened?

You see the Add To Firefox button...

### What did you expect to happen?

instead of showing the 'Remove' button.

### Anything else we should know?

This is a known issue that I wanted to get on file. I'm not sure

[2019-11-06 16:04] bobsilverberg commented on #8513
That does seem worth thinking about. In this case it's an entire API call that we're either issuing or not, whereas in some cases it could be *different* API calls that might be issued on desktop vs. android, so I'm not sure how easy it would be to generalize it. The idea of making `clientApp` available to sagas, which could then use it to (potentially) decide which APIs to call, and which specifi

[2019-11-06 18:20] Brigitte8888 opened #8896 "Light beam"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-06 19:03] #8896 closed

[2019-11-06 19:38] #8762 closed

[2019-11-06 19:47] jvillalobos commented on #8762
I'm okay landing this without a flag.

[2019-11-07 09:59] #8341 closed

[2019-11-07 09:59] #8661 closed

[2019-11-07 12:49] ioanarusiczki commented on #8864
@bobsilverberg Can you add some str for qa?
The old A/B experiment for non -recommended add-ons had a cookie and 2 cohorts. On 10 new profiles - the message is no longer available and the cookie won't be displayed anymore.

Issue https://github.com/mozilla/addons-frontend/issues/8760 says about a new warning and links to the platform warnings https://mozilla.invisionapp.com/share/7UU864JXYRK#/scre

[2019-11-07 12:57] #8810 closed

[2019-11-07 13:21] ioanarusiczki commented on #8861
@bobsilverberg I verified this on dev with FF70(Win10).
- `Last Updated` from "More information" card was updated to the date of the last version submitted and approved for an extension and a static theme.

![Last updated](https://user-images.githubusercontent.com/33448286/68392273-1cd76880-0172-11ea-8467-ed34e5e7ec48.png)

[2019-11-07 13:43] #8837 closed

[2019-11-07 14:07] AlexandraMoga commented on #5359
Verified fixed on stage. I haven;t found regressions around the theme related features.

the mentioned changes are also visible:

![image](https://user-images.githubusercontent.com/31961530/68395533-8ce8ed00-0178-11ea-86f5-2070afa01fa1.png)

![image](https://user-images.githubusercontent.com/31961530/68395544-91ada100-0178-11ea-88a2-5ce83f8b172e.png)

[2019-11-07 14:15] AlexandraMoga commented on #8854
Tested around theme regressions for #5359 and didn't find any issues.

[2019-11-07 15:47] FixyDesing opened #8900 "Data Flow"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-07 15:50] umutgokhan44 opened #8901 "umut"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?
547

[2019-11-07 15:50] #8901 closed

[2019-11-07 15:50] umutgokhan44 commented on #8901
ytj

[2019-11-07 15:50] umutgokhan44 commented on #8901
gh

[2019-11-07 15:58] ioanarusiczki commented on #8854
@willdurand

No regressions found.
Here are these week's [Release test results ](https://testrail.stage.mozaws.net/index.php?/plans/view/22273) on AMO stage with FF70(Win10).

[2019-11-07 16:30] muffinresearch opened #8902 "Remove Snyk"
We've discussed the use of Snyk as a team and have decided to remove it.

This issue is to cover removing snyk dependencies and scripts.

[2019-11-07 16:41] #8900 closed

[2019-11-07 17:46] #8902 closed

[2019-11-07 19:16] bobsilverberg opened #8904 "Remove the dismiss button from WrongPlatformWarning"
Following up on the discussion started at https://github.com/mozilla/addons-frontend/pull/8897#issuecomment-551111862, it has been suggested that we should remove the dismiss button from the warnings that are displayed both at the top of the page, and also on the add-on detail page which warn users that they are on the "wrong" site.

As this is a change from how it was initially implemented, I'd l

[2019-11-07 19:49] #8760 closed

[2019-11-07 20:32] jvillalobos commented on #8904
Removing the button is okay with me. I agree that the concept of "sessions" can be confusing to users. Our previous red sign was also permanent and it hasn't been a problem for users.

[2019-11-08 08:50] voronaivan93 opened #8906 "voronaivan93@gmail.com"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-08 08:50] voronaivan93 commented on #8906
voronaivan93@gmail.com.

[2019-11-08 09:32] #8906 closed

[2019-11-08 10:33] umutgokhan44 opened #8907 "54658"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-08 10:33] umutgokhan44 commented on #8907
hjkcuyhk

[2019-11-08 10:34] umutgokhan44 commented on #8907
jyghv

[2019-11-08 10:34] #8907 closed

[2019-11-08 10:34] umutgokhan44 commented on #8907
hkm

[2019-11-08 10:34] umutgokhan44 commented on #8907
hk

[2019-11-08 13:31] ioanarusiczki commented on #8886
@kumar303 Looks good to me on dev with FF70(Win10).

![site banner centered](https://user-images.githubusercontent.com/33448286/68480166-d69b0b80-023c-11ea-99d2-f7bb30a7eb40.png)

[2019-11-08 14:22] YmehuslINht468log opened #8908 "Send to Kindle for Mozilla Firefox"
### Describe the problem and steps to reproduce it:
Send to Kindle for Mozilla Firefox extension broken

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-08 14:49] ioanarusiczki commented on #8837
@bobsilverberg
I checked on dev with FF70(Win10) and it can seems to me  that compared to MacOS the text from the `Hero Recommendation body`, ` SecondaryHero message description` and the `SecondaryHero module description` has a lighter color tone.

Desktop

![desktop new layout](https://user-images.githubusercontent.com/33448286/68485261-a73dcc00-0247-11ea-986c-7da43bd75d5b.png)

MacOS

![MacOSlay

[2019-11-08 15:10] #8908 closed

[2019-11-08 15:30] ioanarusiczki commented on #8810
@bobsilverberg Nothing unusual to catch my eye but I'll leave it for final validation after the release testing on stage.
Verified on dev with FF70(Win10).

[2019-11-08 15:32] bobsilverberg commented on #8837
Those screenshots also make it look like everything is quite a bit larger on MacOS, which seems odd. Is your zoom in Firefox set differently on the two browsers? Do all sites look like the text is smaller on your Windows browser?

[2019-11-08 17:45] jrbenny35 opened #8910 "Circleci Integration tests are failing during setup"
This is the log I could get from ssh'ing into the circleci containers.
[code]

Looking in those folders there is not a file made with those file names.

[2019-11-08 18:01] jrbenny35 commented on #8910
I suspect it is related to this, https://github.com/mozilla/addons-server/pull/12579. Seems that the `user: olympia` is now the default user but if that user does not exist, the required files won't be created. I also ran into this problem trying to build the dockerfile from source.

@EnTeQuAk any thoughts here?

[2019-11-09 11:22] praveenbisaigaru opened #8915 "Unable to downlod the plugin for firefox driver"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-09 11:23] praveenbisaigaru commented on #8915
https://seleniumbuilder.github.io/se-builder/
![Uploading image.png…]()

[2019-11-09 11:23] #8915 closed

[2019-11-09 14:45] lucky06480 opened #8916 "How to update site icons hlp page useless"
On URL help page https://support.mozilla.org/en-US/questions/1014960 link to faviconreloader does not exist. So, this page is useless (no solution)

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-09 23:26] MacPhyle opened #8917 "Link from Radial Insight's page to their addon page doesn't work"
### Describe the problem and steps to reproduce it:

### What happened? From the Radial Insight page [Radial Insight Receipt Rewards](https://radialinsight.com/receipt-rewards), I clicked the [Firefox addon link](https://addons.mozilla.org/en-US/firefox/addon/receipt-rewards-radial-insight/), but this was the result: "Oops! We can’t find that page," etc.

### What did you expect to happen? I expec

[2019-11-11 02:25] jordanli04 commented on #8817
Please bring back Chrome Store Foxified!

[2019-11-11 08:07] willdurand commented on #8917
Hi, I recommend contacting the developers of this extension.

[2019-11-11 08:07] #8917 closed

[2019-11-11 08:09] willdurand commented on #8916
I am going to close this issue because it is not directly related to AMO but ping @caitmuenster to see if you can do anything about it.

[2019-11-11 08:09] #8916 closed

[2019-11-11 08:32] ioanarusiczki commented on #8837
@bobsilverberg
The zoom is 100% and I checked with Inspector on both platforms the size and weight:
hero recommendation body:
font size 21px
font weight 300

secondary hero message description and module description:
font-size 18 px
font-weight 400

If I check the image from the [pull request](https://user-images.githubusercontent.com/142755/68304967-d5b77d80-0074-11ea-8a1f-9d3d618aa881.png) it lo

[2019-11-11 14:52] ioanarusiczki commented on #8760
@bobsilverberg I verified on dev with FF70(Win10) and these are my test results:
- with 10 new profiles:
Profile 1: excludeWarning
Profile 2: notInExperiment
Profile3: excludeWarning
Profile4: excludeWarning
Profile5: includeWarning-proposed
Profile 6:includeWarning-proposed
Profile7:  includeWarning-proposed
Profile8: notInExperiment
Profile9: includeWarning-proposed
Profile10: includeWarning-pro

[2019-11-11 17:16] caitmuenster commented on #8916
Hey there @lucky06480, thanks for the report. It looks like that thread has been archived on the support forums. You might want to open a new thread in the forums for more updated information.

[2019-11-11 23:01] BenTarman commented on #4184
I started working on this just now

[2019-11-12 06:15] Kiraeraser commented on #8873
I want to work on this issue

[2019-11-12 13:05] Elyssa523 opened #8921 "link broken"
### Describe the problem and steps to reproduce it:

https://addons.mozilla.org/en-US/firefox/addon/autopagerizeadvanced/?src=search
link broken to
https://addons.mozilla.org/en-US/firefox/addon/autopagerize/?src=search

### What happened?

### What did you expect to happen?

### Anything else we should know?

see above

[2019-11-12 13:56] ioanarusiczki commented on #8762
@bobsilverberg
I tested this following the qa steps specified [above](https://github.com/mozilla/addons-frontend/issues/8762#issue-505946153) on FF71 (Nightly).

- if I test the STR given by the server issue https://github.com/mozilla/addons-server/issues/12741 the new abuse report form is opened when I use the web console from "https://addons.mozilla.org". If I open it in AMO dev and call `await

[2019-11-12 14:06] bobsilverberg commented on #8760
Thanks @ioanarusiczki. Those numbers do not match our expectations, but because each time a cookie is assigned it is an independent event, there's not really any way to test the accuracy of our algorithm except to have it create a cookie a large number of times.

Your comment did make me realize a mistake in my implementation though. I need to change the name of the cookie being generated for this

[2019-11-12 14:14] bobsilverberg opened #8922 "Use a new id for the new A/B test experiment"
The cookie generated for an experiment using `withExperiment` is based on the `id` of the experiment. Therefore, any time we start up a new experiment, the experiment should be assigned a new, unique, `id`. If we do not do that then users enrolled in the previous experiment will not receive a new cookie and will remain in the branch from the previous iteration.

I'm not sure what we can do to ensu

[2019-11-12 14:25] bobsilverberg commented on #8762
Thanks @ioanarusiczki. Did you make sure that `extensions.abuseReport.amWebAPI.enabled` is set to `true` in `about:config`, as detailed at https://github.com/mozilla/addons-frontend/issues/8762#issue-505946153?

[2019-11-12 14:29] bobsilverberg commented on #8837
Thanks @ioanarusiczki. I'm not sure exactly what the issue is that you are reporting. It sounds like the page looks different on MacOS vs. Windows, but maybe that's to be expected? Do other pages from other sites also look different on MacOS vs. Windows? What about other pages on AMO?

[2019-11-12 15:23] #8904 closed

[2019-11-12 15:32] jvillalobos commented on #8921
That add-on is no longer available. It's up to the developers to bring it back if they choose to.

[2019-11-12 15:32] #8921 closed

[2019-11-12 15:54] atiqueahmedziad commented on #8829
Can I work with this issue ?

[2019-11-12 16:03] bobsilverberg opened #8925 "Do we need both `OS_ANDROID` and `USER_AGENT_OS_ANDROID`?"
This is a follow-up from https://github.com/mozilla/addons-frontend/pull/8897#discussion_r345284070.

We currently have two constants defined for Android OS; `OS_ANDROID`, which is `android` and `USER_AGENT_OS_ANDROID`, which is `Android`. `OS_ANDROID` is used for our compatibility data, i.e., what comes back from the add-on detail API which tells us with which OS's an add-on is compatible. `USER_

[2019-11-12 16:06] #8922 closed

[2019-11-12 17:01] #6136 closed

[2019-11-12 17:46] kumar303 commented on #8829
@atiqueahmedziad sure, go for it.

[2019-11-12 17:56] kumar303 commented on #8873
Hi @Kiraeraser, thanks for your interest. Feel free to work on this. Typically we only open up issues having the [good first bug](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20good%20first%20bug) or [contrib: welcome](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome) labels and this didn't have one. However, I added `contrib: welcome` to this issue just now.

[2019-11-12 18:25] bobsilverberg commented on #8762
@ioanarusiczki Please check your setting for `extensions.webapi.testing`. Make sure it's set to `true`.

[2019-11-12 20:44] sneakypete81 commented on #6136
@bobsilverberg thanks for looking at this. Unfortunately the recent changes haven't fixed this issue. I now see the yellow warning when browsing the amo/firefox section, but the "Add to Firefox" button is still enabled. The install button should always be disabled on the Android platform if the addon is not compatible with Android.

STR:
* In the developer hub, observe that the addon has only been

[2019-11-12 20:49] bobsilverberg commented on #6136
@sneakypete81 This fix has not been deployed to production yet. The fix should be there after the push on Thursday, November 14th, which happens around noon EST.

[2019-11-12 21:56] sneakypete81 commented on #6136
Ah, ok. Thanks, I'll be patient!

[2019-11-13 08:30] ioanarusiczki commented on #8760
@bobsilverberg I will take a look on that issue then.
I'm marking this issue verified on dev with FF70(Win10).

[2019-11-13 09:09] ioanarusiczki commented on #8922
@bobsilverberg
I verified this on dev with FF70(Win10).
- on a new profile the cookie's name is `installButtonWarning2Experiment`

![new profile](https://user-images.githubusercontent.com/33448286/68748059-6d344780-0604-11ea-877a-8571351ad7c7.png)

- on a profile with the old cookie, a new cookie is generated.  Both expire in a month but I see that the profile respects the rules given by the new c

[2019-11-13 09:21] ioanarusiczki commented on #8837
@bobsilverberg Nevermind, it's a general issue on AMO. It's a different display resolution on 2 different devices.
This is verified on dev with FF70(Win10).

[2019-11-13 09:54] ioanarusiczki commented on #8904
@bobsilverberg `X` is no longer available on the platform warning message.
Verified on dev with FF70(Win10).

![no more `x`](https://user-images.githubusercontent.com/33448286/68752419-f4d18480-060b-11ea-81c2-9d704f09c05c.png)

![removing the `x`](https://user-images.githubusercontent.com/33448286/68752446-fb5ffc00-060b-11ea-90be-d4be2135b860.png)

[2019-11-13 11:45] ioanarusiczki commented on #6136
@bobsilverberg Verified on dev with FF68.2.0 (Android 8.0)
The button is disabled.

![the button is inactive](https://user-images.githubusercontent.com/33448286/68760987-c6f43c00-061b-11ea-86d7-4d5d4e625eba.png)

[2019-11-13 12:12] ioanarusiczki commented on #8762
@bobsilverberg I created a new profile with FF72.0a1 (Win10) - this is Nightly up to date today - and I did not have the yesterday's problem.
From the add-ons detail page:

![new form on dev on extensions](https://user-images.githubusercontent.com/33448286/68762494-f0fb2d80-061e-11ea-86f9-b8d148dbd337.gif)

The problem now is that for themes, lang packs, dictionaries or search tools I cannot open

[2019-11-13 12:52] willdurand commented on #8762
mmm I thought we had a fallback in place?

Console log is:

[code]

[2019-11-13 12:54] willdurand commented on #8762
Having a feature flag for this new feature would have been handy, heh. I guess we have to fix that before tomorrow's push then.

[2019-11-13 12:55] willdurand commented on #8762
@rpl is the new FF abuse report feature available in FF release? Do you know why it would fail with static themes for example?

[2019-11-13 13:13] rpl commented on #8762
`mozAddonManager.reportAbuse` and `mozAddonManager.abuseReportPanelEnabled` has been introduced in [Bug 1580561](https://bugzilla.mozilla.org/show_bug.cgi?id=1580561), which landed in Firefox 71 (and so it is currently available, behind the pref, only in 71 Beta and 72 Nightly)

@willdurand the browser console should provide some additional details about the reason behind the failure. Something th

[2019-11-13 13:20] willdurand commented on #8762
Yeah, I just did that. It looks like the API returns a 304 for some reason. I don't get a 304 when I open the link in a new tab. Output of the browser console:

[code]

[2019-11-13 13:20] willdurand commented on #8762
I tried with this static theme: https://addons-dev.allizom.org/en-US/firefox/addon/fire-and-water2/?src=featured

[2019-11-13 13:21] willdurand commented on #8762
That's good to know, I think we need to change that, too.

[2019-11-13 13:46] rpl commented on #8762
@willdurand ah, thanks for pointing out those logs, they have been already useful:

I just checked the code on the Firefox side that is querying that API endpoint and [currently it is only considering the request as successful when the status is 200](https://searchfox.org/mozilla-central/rev/6566d92dd46417a2f57e75c515135ebe84c9cef5/toolkit/mozapps/extensions/AbuseReporter.jsm#214-216) (which was q

[2019-11-13 13:47] willdurand commented on #8762
@rpl Thanks! Did you notice the 301 redirect too? I don't think it is useful :p

[2019-11-13 13:56] willdurand commented on #8762
I checked and I don't think we can do anything about the HTTP issue. The `mozAddonManager.reportAddon()` call does not return an error but `false`, which indicates that the user has cancelled the report. This means we cannot easily fallback to the frontend UI...

I am going to propose a patch to only use the FF abuse report in extension/theme pages, though.

[2019-11-13 14:06] willdurand opened #8929 "Use FF abuse report panel for extensions and static themes only"
From https://github.com/mozilla/addons-frontend/issues/8762#issuecomment-553398639:

**For QA:** the FF abuse report should be opened for extensions and static themes only. (Note: there is a unrelated network problem mentioned in https://github.com/mozilla/addons-frontend/issues/8762 that might prevent the panel to be opened but it needs to be fixed in FF)

[2019-11-13 14:13] willdurand commented on #8762
Let's recap. There are different issues related to the comment above.

1. Only extensions and static themes should use the FF abuse report, this is now tracked in https://github.com/mozilla/addons-frontend/issues/8929
2. FF only supports 200 HTTP requests (see @rpl's comment above). This will be fixed in FF
3. When the `mozAddonManager.reportAddon()` call fails, the Promise does not always reject,

[2019-11-13 14:34] rpl commented on #8762
I just reproduced the issue locally and took a look. Turned out I was wrong, it seems that we are actually cancelling that abuse report request because of the addon type returned from those themes, which is currently "statictheme" (instead of "theme" as we expect).

Currently abuse-report-panel is cancelling the report when the addonType is unexpected:
- https://searchfox.org/mozilla-central/rev/6

[2019-11-13 14:37] willdurand commented on #8762
I think we should not change the `type` in the API because `statictheme` is being used everywhere, and that would be super confusing. `theme` refers to lightweight themes but we don't support them anymore. I think FF should adopt `statictheme`.

/cc @diox

[2019-11-13 14:41] rpl commented on #8762
@willdurand eh, unfortunately the opposite is also true on the Firefox side... we already use "theme" everywhere.

I guess we just have to normalize the addon type in AbuseReporter.jsm when we retrieve and normalize the rest of he addon metadata received from the API endpoint.
I'll do that in the meantime.

[2019-11-13 14:46] willdurand commented on #8762
Oh, oops. @diox WDYT?

I like the idea of normalizing the add-on type in `AbuseReporter.jsm` tbh, not because it avoids a change in the AMO API but because we'll keep the AMO API consistent.

[2019-11-13 14:50] eviljeff commented on #8762
Changing from "statictheme" to "theme" isn't backwards compatible with existing usage so it's pretty much a no-no. We could change it in a newer version of the API but Firefox would have to switch to that too (which should be largely compatible... but would need testing and possibly other changes on the Firefox side)

[2019-11-13 15:00] willdurand commented on #8679
Looks like this issue has been fixed, so we should be good to go. Given that we need a feature flag for the whole removal, I believe we'll have to perform a redirect from the frontend. After that, we'll be able to move the redirect to Nginx.

[2019-11-13 15:01] willdurand commented on #8680
@jvillalobos do we need to do anything to the search tool product pages? Example: https://addons.mozilla.org/en-US/firefox/addon/inudu-search/

[2019-11-13 15:41] #4184 closed

[2019-11-13 17:10] willdurand opened #8931 "Enable abuse report in FF for static themes"
This is currently not possible because of an issue in FF, see: https://github.com/mozilla/addons-frontend/issues/8762#issuecomment-553430081

**For QA:** assuming all the prefs are correct, one should be able to open the FF abuse report panel on a statictheme product page.

[2019-11-13 17:21] #8929 closed

[2019-11-13 17:32] rpl commented on #8762
Filed (and attached a patch on) the following two issues:

- [Bug 1596133 - AbuseReporter.queryAMOAddonDetails should normalize type 'statictheme' into type 'theme'](https://bugzilla.mozilla.org/show_bug.cgi?id=1596133)
- [Bug 1596137 - mozAddonManager.reportAbuse should reject on unsupported addon types](https://bugzilla.mozilla.org/show_bug.cgi?id=1596137)

[2019-11-13 19:14] jvillalobos commented on #8680
We won't disable those pages until 2020. For now we're just removing the main access points.

[2019-11-13 19:28] caitmuenster commented on #4082
When discussing this on IRC, @kumar303 noted that this isn't a good first bug and recommended closing this issue because of improvements in spam filtering.

[2019-11-13 20:09] #4082 closed

[2019-11-13 20:18] kumar303 commented on #6465
I'm not sure what the user impact is from reading this issue description but if it's only architectural, I suggest not spending time on it.

As for the caching issue, I would typically fix this by adjusting the "key" into the Redux state for the list of reviews. When the user navigates away from the featured review page back to the listing, a proper key would naturally force the listing page to re

[2019-11-13 20:27] kumar303 commented on #4082
By *improvements in spam filtering* I just meant it's not so important to hide email addresses on the Internet these days -- filtering spam is mostly a solved problem. We also haven't received any other complaints about the lack of email obfuscation so it's apparently not much of an issue for others.

[2019-11-13 22:56] bobsilverberg commented on #6465
Thanks @kumar303. This would have near-zero user impact, so I think it's fine to just close it.

[2019-11-13 22:56] #6465 closed

[2019-11-14 08:54] ioanarusiczki commented on #8929
@willdurand On FF72(Win10) from a detail page:
- `Report this add-on for abuse` for an extensions opens the new FF abuse report panel. (as I mentioned in https://github.com/mozilla/addons-frontend/issues/8762#issuecomment-553377660)

- for static themes the old form is available ( https://github.com/mozilla/addons-frontend/issues/8931 is open)

![old form for themes](https://user-images.githubuser

[2019-11-14 12:48] willdurand commented on #8680
Thanks. Do we want to hide the search plugins in the search results (in addition to removing the filter option)?

[2019-11-14 13:28] ioanarusiczki commented on #8762
Followups have been files so the remaining issues can be tracked.
Verified on dev with FF72(win10).

[2019-11-14 13:56] EnTeQuAk commented on #8910
That's confusing, that user gets created during build - https://github.com/mozilla/addons-server/blob/master/Dockerfile#L83-L84 and I'm pretty certain the build on dockerhub also has this information.

This patch has landed some ~20 days ago, can we somehow make sure that we do have the latest images pulled?

[2019-11-14 13:57] EnTeQuAk commented on #8910
When building the image locally, you need additional args:

[code]

(ignore the `-t` tag if needed). I haven't come around to documenting the whole process yet unfortunately but I want to have circleci build the image automatically eventually.

Maybe that helps?

[2019-11-14 14:31] alexandra-martin opened #8934 "Display of "Cookies" link jumps to page footer on Android"
### STR:
1. From any AMO page, scroll to the page footer.
2. Click on the "Cookies" link.

### Expected result:
The "Websites, Communications & Cookies Privacy Notice" page opens on the cookies page information.
### Actual result:
The "Websites, Communications & Cookies Privacy Notice" page opens on the page footer.

### Notes:
Reproduced on all AMO servers with an Android 8.0.0 small device.
 On

[2019-11-14 16:19] lgekeler opened #8935 "nobias.com to Firefox deadend"
### What were you doing?
I clicked on the "+Add to Firefox" link at the top of https://nobias.com which resulted in a 404.

### What did you expect to happen?
I expected to be able to install the nobias add on to Firefox.

### Anything else we should know?
Nope

[2019-11-14 16:36] jvillalobos commented on #8680
No, I think it's okay that they should up in search results.

[2019-11-14 16:49] wagnerand commented on #8935
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-11-14 16:49] #8935 closed

[2019-11-14 17:56] jrbenny35 commented on #8910
Regarding that Dockerfile, what exact user is added from useradd? If it is built on circleci, would that user id match when the file is pulled? Maybe the solution is to enforce a build in the docker-compose file.

[2019-11-14 18:12] #8679 closed

[2019-11-14 18:12] #8680 closed

[2019-11-14 19:07] JohnFreeman13091939 opened #8936 "Avast SecureLine VPN Web Extension"
I use Avast VPN to add to my web surfing safety.  Today they offered me this add on to the VPN functionality.
Clicking the link button took me to a web page
https://addons.mozilla.org/en-US/firefox/addon/avast-secureline-vpn/
whose text opened with the line liner 'Oops! We can't find that page.  Rest of the text read: -
"If you’ve followed a link from another site for an extension or theme, that i

[2019-11-14 19:08] wagnerand commented on #8936
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-11-14 19:08] #8936 closed

[2019-11-14 19:39] jrbenny35 commented on #8910
Here is a recent run: https://circleci.com/gh/mozilla/addons-frontend/18204, seeoms to still be having permission problems.

[2019-11-14 23:29] risa-hdqc opened #9078 "Increase base font size on Add-Ons pages"
### Describe the problem and steps to reproduce it:
The font size across the app should be bumped up. It's not accessible to those with even the slightest visual impairments.

### What happened?
I've been having some issues with my vision and was searching for a Firefox extension that would help make text more readable.

I found the following extension, which is great but it's ironic that the font

[2019-11-15 13:15] ioanarusiczki commented on #8680
@willdurand
- the `Search Tools` link has been removed from the `More` Menu
- the search no longer displays the search tools as an `Add-on` type

On Android the `More` Menu looks quite empty right now.

![Android](https://user-images.githubusercontent.com/33448286/68946044-a6aeb380-07ba-11ea-83d5-b23f9420c3fb.png)

[2019-11-15 13:18] willdurand commented on #8680
Ohh, that's a good catch. I don't think we need the "for Android" section anymore in that case. I will fix this!

[2019-11-15 13:28] willdurand opened #8940 "Hide "for Android" section when there is no link for it"
### Describe the problem and steps to reproduce it:

1. Go to https://addons-dev.allizom.org/en-US/android/
2. Open the "More..." menu item

### What happened?

You see this:

![](https://user-images.githubusercontent.com/33448286/68946044-a6aeb380-07ba-11ea-83d5-b23f9420c3fb.png)

### What did you expect to happen?

The "for Android" section/title should not appear because there is no link below

[2019-11-15 13:29] willdurand commented on #8680
@ioanarusiczki I filed https://github.com/mozilla/addons-frontend/issues/8940

[2019-11-15 13:42] ioanarusiczki commented on #8679
@willdurand
https://addons-dev.allizom.org/en-US/firefox/search-tools/ and https://addons-dev.allizom.org/en-US/firefox/search-engines/
redirect to https://addons-dev.allizom.org/en-US/firefox/search/?category=search-tools&sort=recommended%2Cusers&type=extension

![redirecting](https://user-images.githubusercontent.com/33448286/68947457-2be79780-07be-11ea-85be-8e83acdc4bab.gif)

[2019-11-15 13:55] #8940 closed

[2019-11-15 15:51] EnTeQuAk commented on #8910
The user is named `olympia` and when building the image the `--build-arg`'s are ensuring permissions during the image build (which isn't automated at this moment for addons-server) - for running the local user/group ids aren't quite as important.

Then we're using the `--user` option in docker-compose to actually use that user when running the images: https://github.com/mozilla/addons-server/blob/

[2019-11-15 22:07] jvillalobos opened #8942 "Track Contribute button clicks in GA"
I'm splitting this off of https://github.com/mozilla/addons-server/issues/7021, since it's a smaller task that hopefully can be done quickly. We would like to know how popular the Contribute button is, so we would like its clicks to be recorded on Google Analytics.

[2019-11-16 13:38] ckemball opened #8944 "Nectar notifer"
### Describe the problem and steps to reproduce it:

Tried to get to Nectar Notifier from the Nectar website.  Click the Add to Browser (as instructed) https://addons.mozilla.org/en-US/firefox/addon/nectar-browser-add-on/

Error message - Oops! We can’t find that page

given access to a new browser

### Anything else we should know?
Did a search for Nectar Notifier using Google Click the link and

[2019-11-17 08:54] khyveasna opened #8945 "Tilte"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-18 10:30] #8945 closed

[2019-11-18 13:59] softvision-danielorban commented on #8940
@willdurand
The "for Android" section/title is not displayed anymore.
Issue verified on dev with FF 70.0.1 (Win10/64-bit); FF 68.2.0 (Android 8.0).
Screen capture attached:
![android link](https://user-images.githubusercontent.com/43445968/69057145-048d0680-0a1a-11ea-9802-461c2f0f1ea9.png)

[2019-11-18 14:31] softvision-danielorban commented on #4184
"Added to" notification is displayed without any layout issues.
Issue verified on dev with FF 70.0.1 (Win10/64-bit); FF 68.2.0 (Android 8.0).
Screen capture attached:
![one word](https://user-images.githubusercontent.com/43445968/69060829-b8919000-0a20-11ea-8d28-436c30d3d84a.JPG)

[2019-11-18 16:20] bobsilverberg commented on #8942
When recording a click on GA, in addition to sending a `category`, which in this case would track the fact that the event is a click on a Contribute button, we can also send an `action`. My initial thought was that the `action` could contain the url of the link on the Contribute button, but I guess it might be more useful to know which add-on it was, in which case the `action` should perhaps be th

[2019-11-18 16:46] jvillalobos commented on #8942
Outside of the `action` there's no way of knowing the URL where the click happened? If that's the case I agree that the slug would be the best thing to store. Otherwise I like the idea of storing the target URL.

[2019-11-18 16:47] jvillalobos commented on #8944
It's up to the developers to update the add-on and bring the listing page back up. Please contact them for help.

[2019-11-18 16:47] #8944 closed

[2019-11-18 16:55] bobsilverberg commented on #8942
I'm not actually sure about this. You know more about GA than me. I thought that perhaps the location of the click was captured automatically, but I'm not sure how that would work. I can take a look at existing click data in GA to see if we seem to capture that automatically, and maybe you can do the same and we can both update the issue?

There is also a `label` that we can send, but I'm not sure

[2019-11-18 17:13] bobsilverberg commented on #8942
I took a look at the data that seems to be available for the "AMO Addon / Recommendations Shown" event, for which we are sending the `outcome` of the call to the TAAR API as the `action`, and the add-on's name as the `label`. There is a `Page` attribute, as well as a `Landing Page` attribute available in GA for these events, and those often show the page for the add-on in question, but I believe t

[2019-11-18 18:01] jrbenny35 commented on #8910
I don't think the circleci user has permission to make directories and such. If it can't download and install a package without ```sudo``` then it can't make a directory. Right now the dockerfile is assuming that whatever user is running the commands has full access to the system, and I know that the user that runs circleci commands does not.

[2019-11-18 19:39] sb8301450 opened #8948 "Sticky Password Add-in Not found"
When attempting to add stickypasswords extension I get:

Oops! We can’t find that page

If you’ve followed a link from another site for an extension or theme, that item is no longer available. This could be because:

    The developer removed it. Developers commonly do this because they no longer support the extension or theme, or have replaced it.
    Mozilla removed it. This can happen when issu

[2019-11-19 09:41] willdurand commented on #8948
As stated in the page you quote, the developer likely removed their extension. There is nothing we can do, so I would suggest to get in touch with the developer instead.

[2019-11-19 09:41] #8948 closed

[2019-11-19 12:48] ioanarusiczki opened #8949 "Images - resizing the browser the images look larger or smaller depending on the lenght of the custom description"
Followup for https://github.com/mozilla/addons-server/issues/12818

STR:
1. Load AMO dev and check the homepage - images were added for the primary hero shelf
2. Resize the browser and observe the image

![AMO dev layout](https://user-images.githubusercontent.com/33448286/69147568-f2bf6800-0ada-11ea-952b-ae50a100a730.png)

3. Load AMO stage and check the hompeage - the testing placeholders are ava

[2019-11-19 14:02] aruvimal opened #8950 "Charless Autoconfiguration Addon for Firefox"
### Describe the problem and steps to reproduce it:
I'm trying install Charles proxy addon, it says, Please browser to http://charlesproxy.com/firefox in Firefox browser to install. But when trying this addon, it seems like it has been removed . please advise.

### What happened?
Charles Proxy Addon - http://charlesproxy.com/firefox is not available for firefox
### What did you expect to happen?
C

[2019-11-19 14:16] wagnerand commented on #8950
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-11-19 14:16] #8950 closed

[2019-11-19 14:44] willdurand commented on #8942
@jvillalobos I was reviewing the patch for this issue but it's hard for me to understand what the business needs are. I _guess_ the idea is to know whether we want to fix or wontfix https://github.com/mozilla/addons-server/issues/7021, but I am not sure 😕

What are the questions we'd like to answer with GA? What do we want to measure exactly?

For instance, the current patch sends the contribution

[2019-11-19 17:20] jvillalobos commented on #8942
Agree. I looked into GA too and don't see the URL being recorded as part of the event.

[2019-11-19 17:22] jvillalobos commented on #8942
We want to measure use the Contribute feature. For that we need to see how often the button is clicked. Slicing that data per add-on is useful. Knowing where those clicks are going to would also be nice (given that contributions URLs can change with time), but not as important as the other info.

[2019-11-19 17:32] #8942 closed

[2019-11-19 17:40] ZAGOR52 opened #8951 "INSTALLING ADDON FOR STICKY PASSWORD"
While completeing Sticky Password installation I was requested to install Firefox addon to manage automatically the passwords.(this site: https://www.stickypassword.com/extension-installation-windows-firefox?action=extension-win-firefox&btn=&lng=en-US&ose=WIN%2F10&build=SP%2F8.2.3.24&stickyid=2e7b983b94dc591799799b568584ff7d&licstat=TRIAL&id=c35e6ac5-d8a3-4702-b4b5-bb681777be7a&packageid=&licprod=

[2019-11-19 17:43] wagnerand commented on #8951
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-11-19 17:43] #8951 closed

[2019-11-19 18:08] wagnerand opened #8952 "Reduce reports about missing add-ons"
Numerous reports keep being filed about missing add-ons, where listing pages respond with a 404 page, including a link to file an issue. This creates some effort when going through the backlog of filed issues or during triage, because those reports are not issues that are actionable.

We should mitigate those reports. A couple of ideas:
* Show a specific 404 page for all `/firefox/addon/` pages, i

[2019-11-19 18:38] jrbenny35 commented on #8910
So it looks like the user that runs circleci jobs has a UID of 1001, the docker image uses UID 1000. Could that be a problem? I don't know if root user within circleci is UID 1000, but it shouldn't be.

[2019-11-19 19:03] jrbenny35 commented on #8910
The user with UID 1000 is named ```ubuntu```. I can switch to it but it doesn't have any access to dependencies installed by circleci.

[2019-11-19 19:11] bobsilverberg commented on #8760
@jvillalobos This has landed on dev, so we now need to determine when to enable it on prod (and also if we want to make it active on stage for a full week beforehand, or just enable it on stage on a Tuesday and push to prod on the Thursday). We don't have a data scientist assigned to [the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1588893) yet, but @felixlawrence suggested we would probably

[2019-11-19 20:48] jvillalobos commented on #8952
Maybe the help link for those 404 pages should be discourse rather than GitHub. At least there's a slim chance someone will help those users find alternatives. /cc @caitmuenster

[2019-11-19 20:52] bobsilverberg commented on #8931
This has been verified fixed in beta for 71. I think that means we can now add support back in for static themes. Is that correct @rpl? Are there any versions of Firefox in the wild that support the new `reportAbuse` API but do not contain this fix for `statictheme`?

[2019-11-19 20:55] jvillalobos commented on #8760
I'm in favor of starting it as soon as possible, so we can wrap it up before the end of the year. I just don't want us to be stuck in a position where we can't stop it confidently because we don't know for how long we'll need to run it to get good data. I don't have a good answer for the time spent on stage. Is that more of a question for QA?

[2019-11-19 20:57] bobsilverberg commented on #8513
After some discussion among the engineering team, it was decided not to pursue this as the complexity outweighs the benefit.

[2019-11-19 20:57] #8513 closed

[2019-11-19 21:01] bobsilverberg commented on #8760
I don't think it's a particularly big feature, so I don't see any reason to keep it on stage for more than the usual amount of time. @vcarciu Do you have any opinion on that?

If we'd like to potentially activate it this week, then I can create a commit to enable it on stage and prod and I can cherry-pick it so it will be on stage this afternoon. If it's decided not to push it to prod on Thursday,

[2019-11-19 21:01] OvErit1971 opened #8954 "I need to flash cookies in foxfire"
### Describe the problem and steps to reproduce it: I have to people in my life under my roof attacking my domains. They are nesting, hotspot wifi and denying every bit and step. I have to implement my keys, codes at least my first key to hopefully expose them and allow partners to determine there fate.

 now Microsoft has seized my compliance or these misleading, inexcusable bottom feeders whom a

[2019-11-19 21:06] bobsilverberg opened #8955 "Enable A/B Test on stage/prod"
This is a follow-up to #8760. It is just a config change to enable the flag for the A/B test on stage and prod for this week's push.

[2019-11-19 21:07] #7998 closed

[2019-11-19 21:28] #8955 closed

[2019-11-19 23:06] jrbenny35 commented on #8910
@EnTeQuAk would it be too much to create a user named ```circleci``` and just have a tagged ```:circleci``` image? If we can have one with a UID that matches I think that solves our problems.

[2019-11-19 23:06] rpl commented on #8931
Correct, the fix was pretty small and low risky, and so I requested an uplift to beta for it.

Nope, 71 is the version were the mozAddonManager.reportAbuse method has been landed.

[2019-11-19 23:47] caitmuenster commented on #8952
I like the idea of sending them to Discourse.

@jorgev, should we remove the link to filing an issue on Github altogether from the 404 page? It should be pretty easy to refer any bug reports from Discourse back to Github.

[2019-11-20 01:11] moz-hwine opened #8957 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Cookie No HttpOnly Flag [10010] x 1
 * https://addons.allizom.org/en-US/firefox/addon/ublock-origin/?src=homepage-primary-hero (200 OK)

 Cookie Without Secure Flag [10011] x 1
 * https://addons.allizom.org/en-US/firefox/addon/ublock-origin/?src=homepage-primary-hero (200 OK)

This issue was automa

[2019-11-20 01:29] moz-hwine opened #8958 "discovery.addons.allizom.org has failed the web security baseline"
Site https://discovery.addons.allizom.org has failed the web security baseline scan.

The failing tests are:

 Cookie No HttpOnly Flag [10010] x 1
 * https://discovery.addons.allizom.org/en-GB/firefox/discovery/pane/48.0.1/Linux/normal (200 OK)

 Cookie Without Secure Flag [10011] x 1
 * https://discovery.addons.allizom.org/en-GB/firefox/discovery/pane/48.0.1/Linux/normal (200 OK)

This issue was

[2019-11-20 01:35] abc52090241 opened #8959 "error"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-20 05:16] gavinr commented on #4910
I am [having this issue](https://discourse.mozilla.org/t/browser-detection-incorrect/48787), and I suspect others are running into this too.

[2019-11-20 05:19] EnTeQuAk commented on #8910
You could try to use the `--user=circleci` option on the docker-compose command that you're running (and that is failing) first - as that overwrites the user option in the dockerfile. The uuid I'm building the image with doesn't matter as much for actually running it.

[2019-11-20 09:13] #8959 closed

[2019-11-20 09:17] willdurand commented on #8958
I suppose it is the cookie for the "install warning 2" A/B experiment. We should set the secure flag but we probably need access to this cookie in the client (so it cannot be http only).

[2019-11-20 09:20] AndreySH70 opened #8960 "ie tab отсутствует"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-20 09:21] #8960 closed

[2019-11-20 09:58] #8954 closed

[2019-11-20 10:03] willdurand commented on #8957
@psiinon is the mismatch between the domain in the title (-prod environment) and the actual URL that has been scanned (-stage) intended?

[2019-11-20 10:03] willdurand commented on #8957
I think the issue is the same as #8958 (a new cookie has been added for a A/B experiment).

[2019-11-20 13:06] NandaRoyals opened #8961 "firepath"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-20 13:12] ioanarusiczki commented on #8949
Testing this again on stage I've noticed that the size of the images when the browser is resized also depends on the length of the text which is next to it. If there's a longer description, the image gets smaller.
This is reproducible only when the browser is resized.

on stage
![the images have different sizes](https://user-images.githubusercontent.com/33448286/69240674-ab51de00-0ba5-11ea-9702-d0

[2019-11-20 13:18] #8961 closed

[2019-11-20 13:25] ioanarusiczki commented on #8760
@bobsilverberg @jvillalobos I'll take a look at this on stage and update then the issue https://github.com/mozilla/addons-frontend/issues/8955

[2019-11-20 15:16] jrbenny35 commented on #8910
From reading thishttps://medium.com/@mccode/understanding-how-uid-and-gid-work-in-docker-containers-c37a01d01cf, the UID that gets assigned to a user has the same permissions as whatever the UID is outside of the image. So in our case, ```UID=1001``` is a user within the circleci build that does not have permissions to create directories and such.

I'll give that flag a try as well.

[2019-11-20 15:20] ioanarusiczki commented on #8955
@bobsilverberg

My testing results on AMO stage - I tested with 2 profiles and cleared the cookie 10 and then 20 times:
Profile one: cookie cleared 10 times
20% will see the new warning includeWarning-proposed
20% will see the old warning includeWarning-current
60% will not see the warning  excludeWarning +  notInExperiment

Profile two: cookie cleared 20 times
35% have  the new warning, includeWa

[2019-11-20 15:51] muffinresearch commented on #8958
@bobsilverberg Is the disco pane actually dropping a cookie for the A/B testing?

[2019-11-20 15:58] willdurand commented on #8952
I like the idea of linking to Discourse instead of GitHub. As @jvillalobos suggested, other users might help find alternatives. As @caitmuenster, we can still report bugs from Discourse back to GitHub.

Can one of you suggest an updated content for the 404? Or should we simply change the GitHub link to a Discourse link? If so, which one? Thanks!

[2019-11-20 16:00] willdurand commented on #8726
/cc @jvillalobos anything we could/should do here?

[2019-11-20 16:01] muffinresearch commented on #8934
It's odd that it works like this, that fragment id doesn't appear to exist in the linked page AFAICT. Maybe it used to? I think the easiest solution is to remove the `#cookies` part of the url as that seems to then work as expected.

[2019-11-20 17:29] bobsilverberg commented on #8931
Thanks Luca!

[2019-11-20 17:38] caitmuenster commented on #8952
You bet @willdurand!

Copy edits are up here: https://docs.google.com/document/d/1iUT4bh4OtS1QnY7WaqdN34ghsiHfIqz0zfGY0sNABv0/edit

/cc @jvillalobos

[2019-11-20 17:50] jvillalobos commented on #8952
I would remove the paragraph that opens with "If you’ve followed a link on this site". Then, add to the last paragraph "You can also ask for help in our [community forum](https://discourse.mozilla.org/c/add-ons)." @caitmuenster, what do you think?

[2019-11-20 17:50] jvillalobos commented on #8952
Heh, mid-aired. Pretty much the same thing that's in the doc.

[2019-11-20 17:55] jvillalobos commented on #8726
As I understand it, offering the latest compatible version would not be great for performance. One thing we _could_ do is change the error message so it says it's possible there's an older version available that could work, and link to the versions page.

[2019-11-20 18:11] bobsilverberg opened #8962 "Move the experiment config from default.js to default-amo.js"
Having the experiment config in `default.js` will enable the experiment on disco pane, which we do not want.

[2019-11-20 18:38] muffinresearch commented on #8958
@bobsilverberg and I discussed this, and came to the conclusion that moving the config should prevent any cookies related to the experiment coming up on the disco pane see https://github.com/mozilla/addons-frontend/issues/8962 for details.

[2019-11-20 19:32] #8962 closed

[2019-11-20 20:07] bobsilverberg commented on #8957
#8958 should be fixed via #8962, but this one needs to be addressed. As @willdurand mentioned in #8958, I don't think we can set the cookie to be `HttpOnly` because we need to access it via the React app, but we could change it to be a secure cookie though.

@psiinon Is there something we can do to indicate that the exclusion of `HttpOnly` is intentional for this cookie so that this failure does n

[2019-11-20 21:30] #8931 closed

[2019-11-20 21:34] bobsilverberg opened #8966 "Typo in the docs for running under HTTPS"
There seems to be a typo at https://github.com/mozilla/addons-frontend/blob/master/docs/moz-addon-manager.md#L50. I believe it should read `mkcert -install` rather than `mkcert install`. The latter creates a cert for the name `install` and does not in fact add it to the Firefox trust store.

[2019-11-20 22:03] jrbenny35 commented on #8910
Trying the user flag:
[code]

[2019-11-21 05:36] timbo2011 opened #8968 "Nectar Notifier"
### Describe the problem and steps to reproduce it:

I am trying to download the Nectar Notifier from https://www.nectar.com/nectar-notifier?spMailingID=41155626&spUserID=ODg5NDQyOTI2NDc0S0&spJobID=1641852725&spReportId=MTY0MTg1MjcyNQS2

### What happened?

I was transferred to oops page https://addons.mozilla.org/en-US/firefox/addon/nectar-browser-add-on/

### What did you expect to happen?

I ex

[2019-11-21 09:06] ioanarusiczki commented on #8942
@bobsilverberg When I click the `Contribute` button from a detail page I receive the following event in the Browser Console:

`[GA: ON] sendEvent {"hitType":"event","eventCategory":"AMO Addon / Contribute Button Clicks","eventAction":"ghostery","eventLabel":"https://outgoing.stage.mozaws.net/v1/c037013d8c041b32399b1d0140a4062a3158ce707067990cd18b04b59842c88b/https%3A//opencollective.com"}`

Anothe

[2019-11-21 09:47] #8647 closed

[2019-11-21 10:02] ioanarusiczki commented on #8962
@bobsilverberg I verified this on AMO stage with FF70(Win10) with Browser Console:
- I did not see a GA event or cookie set for the AMO experiment on `about:addons` page
- on the same profile after clearing data AMO will receive the experiment cookie and the events such as:
[GA: ON] sendEvent {"hitType":"event","eventCategory":"AMO Experiment Enrollment - installButtonWarning2","eventAction":"incl

[2019-11-21 11:34] mks21998 commented on #7312
@willdurand I too got stuck at the same problem with the same error statement. If you got any solution then please share here.
Thanks!

[2019-11-21 12:19] Freedom-Coder opened #8970 "Sticky Password extension isn't available"
### Describe the problem and steps to reproduce it:

### What happened?
I bought a premium license of sticky password manager (https://www.stickypassword.com/) and wanted to install the firefox extension of it. I got redirected from a site (https://www.stickypassword.com/de/erweiterung-installieren-windows-firefox?action=extension-win-firefox&btn=&lng=de-DE&ose=WIN%2F10&build=SP%2F8.2.2.14&stickyi

[2019-11-21 12:47] wagnerand commented on #8968
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-11-21 12:47] #8968 closed

[2019-11-21 12:48] wagnerand commented on #8970
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-11-21 12:48] #8970 closed

[2019-11-21 13:36] timbo2011 commented on #8968
May be you could make your page more clear then.

 

It intercepted my attempt to download Nectar Notifier and invited me to join!

 
 

Sent: Thursday, November 21, 2019 at 12:47 PM
From: "Andreas Wagner" <notifications@github.com>
To: mozilla/addons-frontend <addons-frontend@noreply.github.com>
Cc: timbo2011 <timlucas@mail.com>, Author <author@noreply.github.com>
Subject: Re: [mozilla/addons-fro

[2019-11-21 13:58] #8966 closed

[2019-11-21 14:59] #8952 closed

[2019-11-21 16:08] BenTarman commented on #6418
Hi I was going to try to start looking into this today or tomorrow.

[2019-11-21 16:44] dlgenner43 opened #8971 "Nectar Notifier link to Mozilla doesnt work it has been removed from addons?"
When clicking on the link for Nectar Notifier in Mozilla Firefox is comes up with an error saying the add-on has been removed.

I expected to have an add-on on my toolbar so If I went on websites which support nectar point I
 would receive them.

![Screenshot_2019-11-21 Add-ons for Firefox (en-US)](https://user-images.githubusercontent.com/58043928/69357998-0a832180-0c7e-11ea-932b-0ba2d12449e9.png

[2019-11-21 16:47] wagnerand commented on #8971
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-11-21 16:47] #8971 closed

[2019-11-21 18:09] jrbenny35 commented on #8910
@EnTeQuAk I just tried your local command suggestion, ```docker build --build-arg GROUP_ID=$(id -g) --build-arg USER_ID=$(id -u) -t addons/addons-server:latest .``` and that worked. Would it be too much to have a circleci image? I know I could have a local build within the CI run but that would just add time...

[2019-11-21 18:12] jrbenny35 commented on #8910
Maybe I spoke too soon,
[code]

[2019-11-22 01:29] #8958 closed

[2019-11-22 02:04] dcb99 opened #8974 "Sticky password extension not found"
### Describe the problem and steps to reproduce it:

Trying to install the sticky password extension from the link provided by the sticky password installer

### What happened?
An error was received saying the extension doesn't exist.
### What did you expect to happen?
The stickypassword extension should be available.
### Anything else we should know?

[2019-11-22 09:40] wagnerand commented on #8974
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-11-22 09:40] #8974 closed

[2019-11-22 10:53] rbrishabh commented on #8934
Hey! Can I take this up? @muffinresearch

[2019-11-22 13:09] muffinresearch commented on #8934
Go for it 👍

[2019-11-22 23:19] kumar303 commented on #6418
Hi @BenTarman, thanks for all the patches you've landed so far. Did you already look in [`contrib: welcome`](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome)? Usually those issues are in a better state to be worked on but sometimes we run out of issues.

[2019-11-22 23:31] BenTarman commented on #6418
@kumar303 okay thanks I will browse those instead

[2019-11-23 01:36] jakebesworth opened #9079 "Cannot download addons from the addons page while using Firefox if user agent string is changed"
### Describe the problem and steps to reproduce it:

As you can see from the below image, the download button on the addons page reads: "Only with Firefox—Get Firefox Now". This is because the useragent string has been changed, or a user agent switcher is being used.

### What happened?

When I try to install an addon, the addon page will not provide the installation button.

### What did you expe

[2019-11-23 09:46] Smith2369 opened #8981 "firefox extension"
Hi,
i just want to state that, i am not able to add "MozRepl" extension in Firefox.
Seems MozRepl is not available now.
So, how can i have that or is there any alternative of MozRepl.
Thank you!

[2019-11-25 13:14] ioanarusiczki commented on #8952
@wagnerand I checked on AMO dev and for all the frontend pages the 404 looks like the one specified  [above](https://github.com/mozilla/addons-frontend/issues/8952#issuecomment-556152934)

Examples:
https://addons-dev.allizom.org/en-US/firefox/addon/search_by_imagez/?src=recommended_fallback
https://addons-dev.allizom.org/en-US/firefox/addon/search_by_imagez/reviews/

[2019-11-25 18:54] wiktorlux opened #8985 "km2"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-25 18:57] Sonicnova111 opened #8986 "Enable Sticky Password in Firefox"
### Describe the problem and steps to reproduce it:
States this addon is not supported

### What happened?
I was unable to add it onto Firefox as an addon
### What did you expect to happen?
for it to work so I could use it to retrieve my logins and passwords
### Anything else we should know?
Yes I got an email from developers they stated the never took it off of Firefox so there is an error on wit

[2019-11-25 22:33] jvillalobos commented on #8986
The issue is being worked out with the developer, and the listing won't be available until the issue is resolved.

[2019-11-25 22:33] #8986 closed

[2019-11-25 22:33] #8985 closed

[2019-11-25 22:46] jvillalobos commented on #8981
You can look for alternatives on https://addons.mozilla.org, or ask in our [community forum](http://discourse.mozilla.org/c/add-ons). This repository is not the right place to ask for it, though.

[2019-11-25 22:46] #8981 closed

[2019-11-26 01:57] Sonicnova111 commented on #8986
Great thanks so much!

[2019-11-26 13:18] AlexandraMoga commented on #8931
Verified fixed on -dev with beta 71 and Nightly 72.

Static themes are now going through the new Firefox abuse report method:

![image](https://user-images.githubusercontent.com/31961530/69636751-f5ccd200-105f-11ea-9b94-e3f6f7489ce6.png)

[2019-11-26 14:08] AlexandraMoga opened #8988 "No error message displayed when attempting to report abuse while another abuse report instance is open"
Prerequisites: make sure that your browser has all the necessary prefs mentioned in https://github.com/mozilla/addons-server/issues/12741

### Describe the problem and steps to reproduce it:

1. Load AMO -dev in a Firefox version that supports the new mozAddonManager.reportAbuse method
2. Open an add-on details page
3. Click on Report this add-on for abuse button
4. After the report abuse overlay

[2019-11-26 14:29] AntClement opened #8989 "Avast Secureline VPN Extension on Mozilla Firefox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-26 14:32] #8989 closed

[2019-11-26 14:35] AlexandraMoga commented on #8647
@willdurand there are two new GA events logged when navigating through amo pages: `setPage` - a relative URL of the page requested and `pageView` - with an empty `title` parameter:

[2019-11-26 14:36] AntClement commented on #8989
I can´t install the Avast Secureline vpn on mozilla firefox version 70.0.1 (64 bit).Everytime I try to install appears the mozilla firefox web page saying this: "Oops! We can’t find that page

If you’ve followed a link from another site for an extension or theme, that item is no longer available. This could be because:

    The developer removed it. Developers commonly do this because they no long

[2019-11-26 15:46] rusty201van opened #8991 "pastebin"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-26 16:51] #8991 closed

[2019-11-26 17:55] jvillalobos commented on #8989
Please contact Avast for help getting the extension installed. It sounds like their site has an old link that they need to remove or change.

[2019-11-27 13:33] JohnFreeman13091939 opened #8993 "Avast! VPN Web Extension"
I responded to Avast! offer of a new  'Web Extension  VPN Web Extension' to their Avast SecureLine VPN service that I already use.  The offer was on Avast! SecureLine VPN.  This was the link: -
https://addons.mozilla.org/en-US/firefox/addon/avast-secureline-vpn/
I expected this to add a Firefox extension to my browser, but instead I got this message from the URL quoted: -
"Oops! We can’t find that

[2019-11-27 15:32] kumar303 commented on #8993
Sorry for the inconvenience but this is not a bug on the addons.mozilla.org site. Please get in touch with Avast via https://support.avast.com/en-us to resolve the issue.

[2019-11-27 15:32] #8993 closed

[2019-11-27 15:54] willdurand commented on #8647
This looks good to me. I'll double check in the Google dashboard.

[2019-11-27 16:35] jvillalobos commented on #8934
Mentor: @muffinresearch

[2019-11-28 06:46] smayer97 opened #8995 "Option to sort My Collection alphabetically"
list of 'My Collection' seems random. Please provide option to sort alphabetically, or at least make it the default.

If adding as an option, please remember last setting or make alphabetical listing the default.

[2019-11-28 07:05] smayer97 commented on #4791
Revisiting this...if possible...

What about simply list ALL add-ons in a collection, i.e. no pagination, just as is done for list complete list of collections on 'My Collections' page? BTW, response for that page is excellent, so performance or optimization should not be an issue... Just list them all.

[2019-11-28 07:08] smayer97 commented on #4795
As noted, this is not a duplicate request. Can this be re-opened?

[2019-11-28 07:10] smayer97 commented on #8995
Sorry...duplicate of this...https://github.com/mozilla/addons-frontend/issues/8414

[2019-11-28 07:10] #8995 closed

[2019-11-28 07:21] smayer97 opened #8996 "Add To Collection - Cannot search the list"
### Describe the problem and steps to reproduce it:
When clicking the Add To Collection drop down, there is no way to search the list of collection names in the list (I have over 120, so it is not always easy to find the one I want (or more than one with similar names, different purposes).

And with the names not sorted, there is no alternative

### What happened?
Unable to type to search the list

[2019-11-28 07:45] smayer97 opened #8997 "A way to see all collections (personal ones) an add-on already exists in."
### Describe the problem and steps to reproduce it:
There currently is NO WAY to identify which collections (personal ones) an add-on already belongs to.

(this was one of the issues as part of the following issues raised here:
https://github.com/mozilla/addons-frontend/issues/4331)

As an alternative, and possibly simpler solution, the following could be implemented:
- under the "**Add to Collect

[2019-11-28 07:46] smayer97 commented on #4331
@jvillalobos "...So, while it's inconvenient for power users, it's still possible to do what they need to do."

Actually it is not... one key thing where is NO WAY TO DO is to know which of collection (personal ones) an add-on already belongs to.

Maybe as a compromise, a simpler solution could be implemented...see the following:

[2019-11-28 07:54] smayer97 opened #8998 "When adding add-on to collection but it already belongs, error message should say which one."
### Describe the problem and steps to reproduce it:

When adding an add-on to a collection but it already belongs to that collection, currently get error message "This add-on already belongs to the collection" but DOES NOT tell you which one.

<img width="518" alt="Screen Shot 2019-11-28 at 2 48 43 AM" src="https://user-images.githubusercontent.com/6752849/69787239-11cc9280-118a-11ea-89bd-ea4c7631

[2019-11-28 15:36] AlexandraMoga opened #9000 "Font styles look broken on AMO -dev"
### Describe the problem and steps to reproduce it:
1. Load AMO -dev homepage
2. Observe the font styles in all the page components
3. Compare with stage

### What happened?
On -dev, fonts look like they had a lower weight

### What did you expect to happen?
Font styles are looking as expected

### Anything else we should know?
- reproduced in other pages as well
- reproduced on -dev with Fx70, WI

[2019-11-28 15:42] willdurand commented on #9000
-dev uses "Fira Sans Book" while stage uses "Fira Sans Light" for some reason 🤔

[2019-11-28 15:43] willdurand commented on #9000
Ha! Looks like it is because we do not provide the fonts in -dev, mmmm.

[2019-11-28 15:49] willdurand commented on #9000
It is probably an issue with the webpack loaders (file and url).

[2019-11-28 17:47] #9000 closed

[2019-11-28 20:43] bobsilverberg commented on #8988
@rpl We discussed this a bit in our weekly standup and we think that perhaps this needs to be dealt with on the Firefox side. Here's the scenario:

If one initiates an Abuse Report from AMO, and one clicks away from the Report Abuse dialog, the dialog gets hidden from the user, but the abuse report is considered in progress. If a user then refreshes the browser and tries to report abuse again, for

[2019-11-28 22:31] willdurand commented on #8988
The STR in the OP are quite involved (loosing the popup focus, fully reloading the page, clicking the report button again) but that part is very much plausible.

[2019-11-29 02:15] decembre commented on #4331
.........
 So, while it's inconvenient for power users, it's still possible to do what they need to do.

Closed in april 2018 after with just this short and definitive advise..... !
That's like my bank refuse me a credit....

Many reasons provided here to make/keep a better user experience are ignored just like that.
If collections exist you should make it usable and promote it.

The collection sh

[2019-11-29 08:17] AlexandraMoga commented on #9000
Verified fixed on -dev:

![2019-11-29_10-16-14](https://user-images.githubusercontent.com/31961530/69854270-5bec6b80-1291-11ea-9eb5-b509b21f83ff.png)

[2019-11-29 15:04] alabamatoy opened #9004 "clipboard access"
### Describe the problem and steps to reproduce it:

go to this page: http://kb.mozillazine.org/Granting_JavaScript_access_to_the_clipboard

This page states: "Instead of manually setting preferences, the AllowClipboard Helper extension manages security policies with a convenient user interface and automates the steps below." and points to https://addons.mozilla.org/firefox/addon/852/ which return

[2019-11-29 15:34] bobsilverberg commented on #8988
You actually still need to refresh the page, even if you navigate to a different add-on, as the redux store also keeps track of an abuse report in progress and disables the button until that report finishes. While that's good for avoiding the error, it doesn't help a user understand *why* they cannot report abuse, so this is still a problem in this situation, and is in fact a bit different.

@rpl

[2019-11-29 15:42] jvillalobos commented on #9004
The add-on hasn't been supported for many years and doesn't exist anymore. The page linking to it is also obsolete. Also, this repository is for the site's code, not its content, so we can't do anything to fix this.

[2019-11-29 15:42] #9004 closed

[2019-11-29 16:43] jvillalobos opened #9005 "Add UTM params to Contribute button"
We should set UTM params in the Contribute button so our referrals can be tracked. In particular, some devs point to the Donate to Mozilla page, and with that data we can figure out how much donations we're driving.

The params should be `utm_content=product-page-contribute&utm_medium=referral&utm_source=addons.mozilla.org`

Since those links currently use the outgoing server, we might have the sa

[2019-11-29 16:50] bobsilverberg commented on #9005
@muffinresearch What do you think? Would we be okay not using outgoing for these links because they consist of a list of whilelisted URLs?

[2019-11-29 22:13] rpl commented on #8988
@bobsilverberg apologies for totally missing the ping yesterday

No, there is no timeout at the moment (and the existing dialog window would still be able to submit a report even if the AMO tab that triggered the report has been closed).

I totally agree that if anything has to be done to cover this scenario, it has to be done on the Firefox side.

Some simplest options to deal with it could be:

[2019-11-30 17:03] #3101 closed

[2019-11-30 21:41] bypsix opened #9008 "https://addons.mozilla.org/ru/firefox/addon/smartysale/"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-30 21:42] #9008 closed

[2019-12-02 14:30] bobsilverberg commented on #8988
I think option 2 is best. I understand the concern trying to be addressed with options 1 and 3, but I think that could be confusing for a user if they have now clicked on a *different* add-on. Maybe an option 4 would be similar to option 3, but also check the addonId being reported, and only re-focus the new window if the addonId being submitted is the same as the one in the existing window.

@rpl

[2019-12-02 15:45] muffinresearch commented on #9005
If we bypassed outgoing for that list, there would likely still be a threat if those origins had an open redirect. So I think in this case we should look at providing the UTM params on the server (before the outgoing URL is generated) for this one specific case.

[2019-12-02 16:00] rpl commented on #8988
@bobsilverberg yeah, I don't disagree, option 1 and option 3 (if implemented as described) may still be confusing.

option 2 sounds good to me too, I'm going to file an issue and looking into that.
(option 4 also looks something that we could implemented without too many changes, I'll also take a look into that).

[2019-12-02 16:21] bobsilverberg commented on #8988
Thanks @rpl

@jvillalobos As this is going to be addressed on the Firefox side, it's not something that we can necessarily fix quickly. Do we want to consider disabling this flow until this issue is addressed? I don't imagine a large number of people will encounter this, so I'm not sure that we need to do that, but I figured it prudent to ask.

[2019-12-02 16:36] grahamperrin opened #9011 "Have just one Remove button at versions/"
Is it possible to have just one **Remove** button?

From <https://www.reddit.com/comments/e4atfn/-/f9gmgif/?context=1>, for example:

True: there's a benefit to having a set of buttons that will remove *any* version, in edge cases where the user tests more than one version and removes one before testing another. A button against each version makes it easier to keep track of things – **little (or n

[2019-12-02 16:50] bobsilverberg commented on #9005
Looking at the code for the Contribute button, this also seems like a good idea because we do not make an API request specifically for the Contribute info, but rather for the add-on as a whole, which would make it complicated to outgoingify some URLs and not others.

[2019-12-02 16:54] bobsilverberg commented on #9005
Thanks for the help @muffinresearch. I have opened https://github.com/mozilla/addons-server/issues/13010 in place of this.

[2019-12-02 16:54] #9005 closed

[2019-12-02 18:21] lucknaumann commented on #9011
Here's what I see on WFClassic:
![STTB](https://user-images.githubusercontent.com/51302763/69984185-cd2c5880-14f5-11ea-84df-44378ae1e162.PNG)

[2019-12-03 01:04] mu-offline opened #9013 "betr"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-12-03 01:17] moz-hwine commented on #8957
The web security baseline for site https://addons.mozilla.org is still failing, this issue should stay open.

[2019-12-03 10:27] #9013 closed

[2019-12-03 13:41] bobsilverberg commented on #8957
Oops, sorry. #9002, combined with the whitelisting that @psiinon is going to do should fix this, but that hasn't been deployed to prod yet. I forgot that merging #9002 would automatically close this issue.

[2019-12-03 16:23] bobsilverberg commented on #8949
@ioanarusiczki I had a bit of trouble understanding exactly what problem you are describing, but I think I figured out at least a part of it.

It looks like the primary hero image is changing its size, on smaller screens, depending on how much text there is in the area to the right of it. I agree that seems sub-optimal, so I have written a patch to address that, which is at https://github.com/mozi

[2019-12-03 17:23] jvillalobos commented on #8988
No, it seems like a very unlikely problem to run into, so we can live with that bug for now.

[2019-12-03 21:25] jrbenny35 opened #9017 "Move addons-server integration tests to addons-frontend"
As per our discussion, this is to track that progress.

[2019-12-04 00:49] ImaBadCoder opened #9019 "The Browser addons (All of them) aren't available to install."
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-12-04 01:16] moz-hwine commented on #8957
The following test(s) for site https://addons.mozilla.org have now passed:

 * Cookie Without Secure Flag

Keep up the good work!

[2019-12-04 03:49] kumar303 commented on #9019
Hi. Sorry that you are having trouble. Try upgrading your version of Firefox -- an out of date version might have this problem. Since this doesn't appear to be a problem with addons.mozilla.org itself, I'm closing the issue.

[2019-12-04 03:49] #9019 closed

[2019-12-04 19:15] lpenderg opened #9020 "What happened to the Avast SecureLine VPN extension?"
### Describe the problem and steps to reproduce it:
In setup for Avast VPN, it said to go get the extension for Firefox which lets you control the VPN from within the browser... not found.

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-12-04 20:26] jvillalobos commented on #9020
Add-on listings are owned by their developers. Please contact Avast about this.

[2019-12-04 20:26] #9020 closed

[2019-12-05 15:14] pscrosby opened #9021 "firefox"
### Describe the problem and steps to reproduce it:
no firefox download ...
"Oops! We can’t find that page

If you’ve followed a link from another site for an extension or theme, that item is no longer available. This could be because:

    The developer removed it. Developers commonly do this because they no longer support the extension or theme, or have replaced it.
    Mozilla removed it. This

[2019-12-05 16:23] jvillalobos commented on #9021
If you followed a link to that page, please contact the owner of the page that had the link, since it's up to them to either enable the page again or fix the link.

[2019-12-05 16:23] #9021 closed

[2019-12-05 17:18] rosanagodinho opened #9022 "firepath"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-12-05 17:18] #9022 closed

[2019-12-07 07:10] grahamperrin opened #9024 "Outdated links in a Not Found page"
https://addons.mozilla.org/en-GB/developers/docs/policies/recommended (for example)

* refers to https://addons.mozilla.org/en-GB/firefox/extensions/?sort=featured
* should refer to https://addons.mozilla.org/firefox/search/?recommended=true&sort=random&type=extension

– also:

* refers to https://addons.mozilla.org/en-GB/firefox/search/
* that's probably redundant (I assume that there's no longer

[2019-12-08 06:52] grahamperrin opened #9026 "🏆 Recommended (trophy) badges obscuring 💲 (dollar) badges? – Some features may require payment"
### Example A

https://addons.mozilla.org/addon/xposer/

* not <strike>recommended </strike>monitored by Mozilla
* **💲**

– I see the hint re: payment so rarely I forgot that existed, but when it's visible, it **is** both eye-catching and effective:

![Xposer dollar](https://user-images.githubusercontent.com/192271/70385209-21b35600-1984-11ea-9696-c27a26d365d4.png)

### Example B

https://addons.m

[2019-12-08 07:21] grahamperrin commented on #9026
For example B, a recent discussion in Reddit: <details>

<summary>(not particularly attractive – repeated over-emhphases on all things negative)</summary>

https://old.reddit.com/r/firefox/comments/e5sxch/are_addons_that_require_third_party_programs_to/ ([captured](https://web.archive.org/web/20191208071443/https://old.reddit.com/r/firefox/comments/e5sxch/are_addons_that_require_third_party_progra

[2019-12-08 22:00] grahamperrin opened #9028 "Use https, not http, when automatically inferring a link from within the summary or description (About this extension)"
From <https://github.com/michiel-roos/xposer-issues/issues/2#issuecomment-562926580>:

[2019-12-08 23:27] grahamperrin commented on #3813
@cadeyrn you probably figured this out long ago but for convenience:

* https://addons.mozilla.org/search/?type=extension&page_size=100&sort=created
* https://addons.mozilla.org/search/?type=extension&page_size=100&sort=created&recommended=true

For me the redirects are to `en-GB` pages, your community will probably gain `de` pages.

Where `sort=created` is forced, a minor UI issue arises:

– appe

[2019-12-09 10:33] willdurand commented on #1473
I am going to close this issue because it is hard and not fun, so not really nice for contributors. I suggest we continue to adopt async/await for new code or when we have to touch old code that relies on `Promise` instead.

[2019-12-09 10:33] #1473 closed

[2019-12-09 10:45] willdurand commented on #9026
@grahamperrin that's because the `requires_payment` flag is set to `false`, I guess. Here is an example:

[code]

Xposer returns `true`, hence the presence of the badge:

[code]

It's up to the developers to define this property in DevHub:

<img width="691" alt="Screen Shot 2019-12-09 at 11 44 47" src="https://user-images.githubusercontent.com/217628/70429676-5fde7180-1a79-11ea-8a23-a4d9d128365f.p

[2019-12-09 11:04] grahamperrin commented on #9026
Interesting, thanks.

Please, might we have a brief chat in `#addons`? I'll fire up Riot app in around five minutes. (I'd like to draw attention to something, but not from GitHub.)

[2019-12-09 11:34] grahamperrin commented on #9026
Closing, re: William's https://github.com/mozilla/addons-frontend/issues/9026#issuecomment-563175763 since I found an example of AMO working as expected 👍

----

Re: one or more of the developers who either overlook or misinterpret this:

![Screenshot of the 'Requires payment?' question](https://user-images.githubusercontent.com/217628/70429676-5fde7180-1a79-11ea-8a23-a4d9d128365f.png)

– I'll fol

[2019-12-09 11:34] #9026 closed

[2019-12-09 16:39] willdurand opened #9030 "UI tests are failing"
The discopane UI tests are failing.

[2019-12-09 17:30] jvillalobos commented on #9024
That link doesn't work at all for me. We removed everything under `/docs/` a long time ago, I think.

[2019-12-09 18:28] #9030 closed

[2019-12-10 12:34] #8949 closed

[2019-12-11 08:17] grahamperrin commented on #9026
Note to self, another: <https://addons.mozilla.org/en-GB/firefox/addon/languagetool/>

[2019-12-11 14:00] ioanarusiczki commented on #8949
@bobsilverberg Thanks for looking into this. I think it's better as it looks now.
Verified on dev with FF71(Win10).

![same size](https://user-images.githubusercontent.com/33448286/70627597-2cddde80-1c2f-11ea-9ee5-2894b090bf67.gif)

[2019-12-11 16:37] caitmuenster commented on #8934
Hey @rbrishabh, how's it going with this bug?

[2019-12-11 16:48] rbrishabh commented on #8934
My bad. I totally forgot about this one! Working on this right away!

[2019-12-11 21:21] rpl commented on #8988
I forgot to mention here that I filed [Bug 1602758 - Close an existing abuse report dialog instead of rejecting a new mozAddonManager.reportAbuse](https://bugzilla.mozilla.org/show_bug.cgi?id=1602758) and attached a patch to it.

I did push it to autoland today, and so it should likely be there in the next nightly build.

[2019-12-12 01:09] moz-hwine commented on #8957
The web security baseline for site https://addons.mozilla.org is still failing, this issue should stay open.

[2019-12-12 04:19] jtswartz commented on #7282
I'm doing the same.

[2019-12-12 09:05] psiinon commented on #8957
FYI as per https://github.com/mozilla/addons-frontend/issues/8957#issue-525358994 this issue is automatically managed. Its on me to whitelist this - feel free to assign it to me. Unfortunately I'm working on a high priority project and havnt had any time to focus on other things :/

[2019-12-12 18:04] vcarciu opened #9034 "No loading indicators on primary hero page when homepage is loading"
Steps to reproduce:
1.Go to addons.mozilla.org and press Firefox logo from top left corner multiple times
2.Observe the primare hero section while page is loading

Expected results:
Loading indicators should be present

Actual results:
No loading indicators

Please see video for this issue:
![loadindicators](https://user-images.githubusercontent.com/1583842/70737082-6dfeed00-1d1a-11ea-9d8a-7059308

[2019-12-13 01:30] #8793 closed

[2019-12-17 17:28] caitmuenster opened #9042 "Sort themes in chronological order from user's profile page"
This request came in from our theme reviewers.

When reviewing themes, reviewers will check if a user has submitted a duplicate theme by going to their profile page. Currently, themes listed on the profile page are sorted by # of users, which can make it hard to identify themes that have been recently submitted.

![Screen Shot 2019-12-17 at 9 26 53 AM](https://user-images.githubusercontent.com/233

[2019-12-19 09:46] #8910 closed

[2019-12-19 09:46] #9017 closed

[2019-12-19 12:57] willdurand commented on #9024
does not work for me either, sorry.

[2019-12-19 12:57] #9024 closed

[2019-12-19 12:58] willdurand commented on #9011
I agree too and we already discussed this point multiple times. We decided not to change that for the moment, though.

[2019-12-19 12:58] #9011 closed

[2019-12-19 12:59] willdurand commented on #8997
@jvillalobos wdyt?

[2019-12-19 13:00] willdurand commented on #8996
I don't think we'll be able to provide such a feature, sorry.

[2019-12-19 13:00] #8996 closed

[2019-12-19 13:01] willdurand commented on #8554
@ioanarusiczki ^

[2019-12-19 14:00] bobsilverberg commented on #8554
@willdurand I think the guide pages might be deprecated now. With the new Heroes, we no longer provide a link to them. I suppose they can still be reached via a direct URL, but I don't think it makes sense to spend any time fixing issues with them. I guess changing this to a P4 makes sense, but at some point we may just want to close it as a WONTFIX.

[2019-12-19 14:46] #8554 closed

[2019-12-19 14:46] smayer97 commented on #8996
May I know what makes this not possible? Is it technically difficult?

[2019-12-19 17:01] jvillalobos commented on #8997
I wouldn't object for the dropdown to indicate if a collection already has the add-on, or to exclude collections the add-on already belongs to.

Having said that, I think it's a very minor improvement that should be weighed against the complexity and performance cost. We don't have many power users for collections, which is why these issues tend to be closed rather than fixed.

[2019-12-19 19:23] #9034 closed

[2019-12-19 23:41] smayer97 commented on #8997
Please do keep in mind that currently there is no alternate way to identify where an add-on is stored...that is the dilemma. BTW, I do not believe there would be much of a performance cost if the drop down is only populated when opened (if that is reasonable to do).

Thanks for your consideration.

[2019-12-20 13:39] bobsilverberg opened #9049 "Update Primary Hero loading skeleton to reflect a hero with an image"
This is a follow-up to https://github.com/mozilla/addons-frontend/pull/9045.

### Describe the problem and steps to reproduce it:

Visit any page on the site, and then visit the home page.

### What happened?

You see a loading skeleton, but it doesn't match the layout of the eventual primary hero element.

### What did you expect to happen?

The loading skeleton should more closely match the layo

[2019-12-20 15:32] willdurand commented on #8996
It is not technically difficult but it is still quite some work for a feature that will only benefit very few users, including you. That is because the vast majority of users have very few collections.

[2019-12-20 23:18] smayer97 commented on #8996
Thanks for the reply. Please do keep in mind that some of us users with large collections actually support, and therefore impact, larger groups that do not have collections. Just food for thought, if it makes any difference.

[2019-12-23 09:21] ioanarusiczki commented on #9034
@willdurand The loading indicator is available on dev when the logo is clicked.

![loading indicator](https://user-images.githubusercontent.com/33448286/71348954-66d7aa80-2576-11ea-96e6-29022f94f5c6.gif)

[2019-12-23 12:32] grahamperrin commented on #9024
Sorry, I omitted some context for this issue.

<https://addons.mozilla.org/developers/docs/policies/recommended> was linked from the head of the 2018-04-12 revision of **AMO/Featured Board Process**:

https://wiki.mozilla.org/index.php?title=AMO/Featured_Board_Process&oldid=1192259

I edited the referring page https://wiki.mozilla.org/index.php?title=AMO/Featured_Board_Process&oldid=1192259 – "Pri

[2019-12-28 11:23] nt1m commented on #7907
Hmm, can we please reopen this? Thank you. Support for this property is now pretty much in all latest browsers: https://caniuse.com/#search=prefers-color-scheme

[2019-12-31 03:23] mickyfan2345 opened #9059 "collection selection isnt working"
### Describe the problem and steps to reproduce it:

![Screenshot_2019-12-30 Add-ons for Firefox (en-US)](https://user-images.githubusercontent.com/39664884/71608990-e7883f00-2b52-11ea-91e6-0962a836620e.png)

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2020-01-02 21:27] jvillalobos commented on #7907
Is https://github.com/mozilla/addons/issues/1138 a duplicate of this one?

[2020-01-02 21:43] jvillalobos commented on #4065
Platform-specific add-ons should be rare, so I don't think we really need this filtering anymore. Maybe Firefox should stop sending the `platform` in its search string so it doesn't confuse people. /cc @mstriemer

[2020-01-02 21:43] #4065 closed

[2020-01-02 21:54] jvillalobos commented on #9059
Can you please add more detail? How did you end up seeing that page?

[2020-01-02 22:56] srikiwork opened #9060 "Windows-only and Linux-only add-ons are flagged as incompatible with Quantum"
### Describe the problem and steps to reproduce it:

    Create a windows-only or linux-only extension that supports Firefox 42 and above
    Go to its listing page in FF 71

### What happened?

It says incompatible with Firefox Quantum

### What did you expect to happen?

It should not include this badge.

### Anything else we should know?

[2020-01-03 01:22] nt1m commented on #7907
@jvillalobos Yeah, pretty much.

[2020-01-03 15:40] jvillalobos commented on #7907
Okay, I'm reopening since this one has more detail. From the product perspective, I would stick to user-facing pages (so no devhub, no reviewer or admin tools), but we would still need the UX for it, which is unlikely to happen soon. I still want to have it in the backlog, though.

[2020-01-03 15:41] jvillalobos commented on #9060
Can you give an example of such an add-on?

[2020-01-04 06:35] #6147 closed

[2020-01-04 10:19] smayer97 commented on #8413
Sorry for the late reply...not easy finding a collection because so many of my notes were also tied to many add-ons that no longer exist.

Anyway, I did find one...this collection: https://addons.mozilla.org/en-CA/firefox/collections/2735762/favorites/

I notice that the note missing is for the Tiles Tabs WE add-on. I figured out that the note is tied to the en-GB locale. So if I view this collect

[2020-01-05 15:49] stringtheory1234 commented on #8934
https://github.com/mozilla/addons-frontend/pull/9062 tries solving this issue by removing #cookies. Please review and let me know as I am new to open source.

[2020-01-05 15:56] stringtheory1234 commented on #8934
Why is it showing 2 test failed ?

[2020-01-05 17:35] wesinator opened #9077 "Stars color in reviews list are grey even for 5 stars, don't match yellow style in sidebar"
### Describe the problem and steps to reproduce it:
The stars in the reviews list are grey, making it look like zero stars (at least to me)
https://addons.mozilla.org/en-US/firefox/addon/mitaka/reviews/

### What happened?
![mitaka_reviews_grey_stars](https://user-images.githubusercontent.com/5124946/71783641-b6c36200-2fb7-11ea-8f1b-8c71af1432fa.png)
stars are grey, making five star reviews look l

[2020-01-06 13:46] vcarciu commented on #9060
https://addons-dev.allizom.org/en-US/firefox/addon/forms-error-categories/ looks to meet the criteria for this issue, but we don't see any badge.

@srikiwork : can you please let us know how you uploaded the platform specific extension?

[2020-01-06 16:31] diox commented on #8413
Ok so, yeah, it's because of the locale and specifically, how locales work in collections (badly). We've got an issue about getting rid of the localization in collections entirely (https://github.com/mozilla/addons-server/issues/8701) so I'll close this one as duplicate.

[2020-01-06 16:31] #8413 closed

[2020-01-06 17:10] smayer97 commented on #8413
Ok Thx. I do hope that in whatever solution is implemented that it takes into account notes created in more than one locale for the same entry in a collection, e.g. merging them or something.

I'll add a comment about this in the other thread.

[2020-01-06 17:14] bobsilverberg commented on #3111
@willdurand I think perhaps we should not allow this to be closed, as I do believe this is something we'd like to get done. What do you think?

[2020-01-06 18:24] ghost opened #9063 "problem with veiwing my collection"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2020-01-06 18:27] mickyfan2345 commented on #9063
i click on veiw my collection and it takes me back to Server Error

Sorry, but there was an error with our server and we couldn't complete your request. We have logged this error and will investigate it.
Suggested Pages

    Browse all extensions
    Browse all themes
    Add-ons Home Page

If you have additional information that would help us you can file an issue. Tell us what steps you took tha

[2020-01-06 18:30] mickyfan2345 commented on #9059
jvillalobos  like i said i would go to view my collection and that's how i got it

[2020-01-06 18:34] bobsilverberg commented on #9059
Closing this in favour of #9063 which has a bit more information in it.

[2020-01-06 18:34] #9059 closed

[2020-01-06 18:36] bobsilverberg commented on #9063
@mickyfan2345 Does this happen immediately after you choose the "View My Collections" link from the menu, or does it happen after you select an individual collection from your list of collections? Can you paste in the URL that is in the address bar when you are looking at this error page?

[2020-01-06 18:54] mickyfan2345 commented on #9059
bobsilverberg why is this closed

[2020-01-06 18:58] bobsilverberg commented on #9059
Because we do not need two issues open describing the exact same problem. We now have issue #9063 which you also opened, and we can use that to discuss and track the problem.

[2020-01-06 19:00] mickyfan2345 commented on #9063
@bobsilverberg it happens immediately after i chose view my colletion

[2020-01-06 19:03] mickyfan2345 commented on #9063
@bobsilverberg https://addons.mozilla.org/en-US/firefox/collections/

[2020-01-06 19:22] bobsilverberg commented on #9063
Thanks @mickyfan2345. I'll try to look into this further.

[2020-01-06 19:30] mickyfan2345 commented on #9063
@bobsilverberg  thank you

[2020-01-06 19:31] mickyfan2345 commented on #9063
@bobsilverberg this is the second time it done it

[2020-01-06 20:38] bobsilverberg opened #9064 "CSS seems to be broken when running the site locally"
I tried for the first time since late December to run the frontend site locally, and find that no css is being served. I tried running from an older commit, specifically https://github.com/mozilla/addons-frontend/commit/160b0096055420ab17813f9962411cc8460d816b, and with the repo in that state everything seems to be fine.

I'm going to look through the changes since that commit to see if I can figu

[2020-01-06 20:52] mickyfan2345 commented on #9063
@bobsilverberg  did you see my post i said it's the second time it happened it happened 2 years ago and i also said ty

[2020-01-06 20:55] bobsilverberg commented on #9063
Yes, I saw that, thanks. I thought you might have meant it happened two times recently, but you're saying it happened a long time ago, and then everything was fine with your "My Collections" page for 2 years, and then it suddenly happened again? Do you recall if you filed an issue about it when it happened two years ago?

[2020-01-06 21:26] mickyfan2345 commented on #9063
@bobsilverberg yes i filed complaint then to and it was resolved but all of a sudden did it again

[2020-01-06 21:26] mirefly commented on #9064
It may be related to https://github.com/webpack-contrib/style-loader/issues/445. New style-loader [v1.1.2](https://github.com/webpack-contrib/style-loader/releases/tag/v1.1.2) fixed that bug. I guess merging #9058 would fix this issue.

[2020-01-06 21:29] bobsilverberg commented on #9064
The commit which caused the problem is https://github.com/mozilla/addons-frontend/commit/a7286583a30c916a7577ff17b42a8c049f248ecd, which is a lock file maintenance from Renovate. It looks like that updated a whole bunch of internal dependencies, one of which may be the culprit.

@mirefly I will also see if simply merging #9058 fixes the issue - thanks!

[2020-01-06 21:35] bobsilverberg commented on #9064
It seems that #9058 does in fact fix the issue, thanks @mirefly! I'll merge that which should fix the problem. I guess I should have tried that first before spending an hour bisecting the code. :-P

[2020-01-06 21:35] #9064 closed

[2020-01-06 21:44] bobsilverberg commented on #9063
@mickyfan2345 I see an old issue at https://github.com/mozilla/addons-frontend/issues/5116, but I don't see any resolution for it. There was something in there about you having a collection with an empty name - I wonder if that's the issue once again. It doesn't look like we made any changes as a result of https://github.com/mozilla/addons-frontend/issues/5116, so perhaps you did something to fix

[2020-01-06 22:11] mickyfan2345 commented on #9063
@bobsilverberg  i dont know but it's doing it again

[2020-01-07 00:04] mickyfan2345 commented on #9063
@bobsilverberg i dont know but it's doing it again

[2020-01-07 09:29] jvtgar2020 opened #9065 "can't access to my account web developper firefox"
### Describe the problem and steps to reproduce it:
Today I've tried to login in my account with my user an password and the system say me:

"Sorry, but you aren't authorized to access this page. If you aren't signed in, try signing in using the link at the top of the page."

https://addons.mozilla.org/en-US/firefox/

[2020-01-07 10:40] willdurand commented on #9054
Someone reported a similar issue on the dev mailing-list: https://mail.mozilla.org/pipermail/dev-addons/2019-December/004250.html

[2020-01-07 16:19] jvillalobos commented on #9065
There's a link to log in at the top of the page, like the message indicates. If you're an add-on developer and are having problems signing in, please email amo-admins AT mozilla DOT com with the details.

[2020-01-07 16:19] #9065 closed

[2020-01-07 18:18] stringtheory1234 commented on #8934
https://github.com/mozilla/addons-frontend/pull/9066 please let me know if there is some mistake.

[2020-01-07 18:40] stringtheory1234 commented on #8934
what does it mean by : Merging #9066 into master will not change coverage.
The diff coverage is n/a.

[2020-01-08 00:58] mickyfan2345 commented on #9063
hello @bobsilverberg  are you looking into the problem thanks

[2020-01-08 09:50] #8934 closed

[2020-01-08 12:32] alexandra-martin commented on #8934
Verified in Amo-dev with FF68.4 (Android 8.0.0).

![videotogif_2020 01 08_15 15 33](https://user-images.githubusercontent.com/54401091/71978287-9697db00-3223-11ea-8c4f-6b4d1dc70334.gif)

[2020-01-08 16:45] bobsilverberg commented on #9063
I am looking into it.

[2020-01-08 16:50] bobsilverberg commented on #9063
As far as I can tell, the only API request that is being made when navigating to the "My Collections" page is the one to retrieve the collections, in my case, on dev, that's `http://localhost:3000/api/v4/accounts/account/10641570/collections/?lang=en-US&wrap_outgoing_links=true`. It sounds like there's something wrong with the data in this user's collections which is resulting in something invalid

[2020-01-08 17:37] jvillalobos commented on #9054
The idea here is that if you visit `/addon/(slug or ID)/*` with a `src` parameter, its value should be preserved as long as the user is navigating to other pages that match `/addon/(slug or ID)/*` for the same add-on. I think that covers All Reviews, All Versions, Stats Dashboard, and Privacy Policy, and excludes the developer profile.

[2020-01-08 17:44] willdurand commented on #9054
That is actually a different issue, my bad..

Stats might be a problem because users will "leave" addons-frontend (but it is just a thought).

[2020-01-08 17:49] jvillalobos commented on #9054
Public stats aren't that common, so I'm okay with that case breaking.

[2020-01-08 20:10] jvillalobos commented on #9063
I don't think it's possible to see a list of collections by another user in prod (outside the admin). I checked, and @mickyfan2345 still had a collection with an empty name, so I set a name for it. Maybe that fixes the problem.

[2020-01-08 20:34] bobsilverberg commented on #9063
Thanks @jvillalobos!

@mickyfan2345 Can you please try again and see if this fixed your problem?

[2020-01-08 21:49] stringtheory1234 commented on #8424
is anyone working on this issue ?

[2020-01-08 22:18] stringtheory1234 commented on #8424
![Screenshot from 2020-01-09 03-44-29](https://user-images.githubusercontent.com/43103463/72020764-80753380-3292-11ea-8b0e-420e27de355a.png)
I guess this is how it's supposed to be as it's mentioned in the tests. Please let me know if i am wrong.
https://github.com/mozilla/addons-frontend/pull/9067

[2020-01-09 09:48] willdurand commented on #8424
@stringtheory1234 hey, no one is working on this particular issue but I'd encourage you to take a look at our [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2020-01-09 19:26] bobsilverberg opened #9068 "Warn AMO users when visiting the site with Fenix"
From the PRD at https://docs.google.com/document/d/1HOImPu2RO9PXIbrNvE_YhYyONw7n-rgjzMtMQ3Knk4Q/edit.

When a user visits AMO using Fenix, a warning should be displayed similar to the platform warning implemented via #8701. An an add-on detail page, the warning will appear below the install button, similar to the current warning:

![Screenshot 2019-10-21 12 20 03](https://user-images.githubusercon

[2020-01-09 19:31] bobsilverberg opened #9069 "Create a helper to identify Fenix"
This supports #9068 and is about creating a function in [compatibility.js](https://github.com/bobsilverberg/addons-frontend/blob/master/src/core/utils/compatibility.js) which can be used to identify Fenix as the current user agent.

We know a browser is Fenix if the OS is Android and the version is 69 or greater.

[2020-01-10 11:50] willdurand commented on #9069
Note that we already have some code for that here: https://github.com/bobsilverberg/addons-frontend/blob/7beae9b46d89e5a614c285e64b467d0b71000f4a/src/core/utils/compatibility.js#L140-L148

[2020-01-10 13:12] willdurand opened #9074 "Update `Dockerfile` to install `gnupg`"
It is currently not possible to build a docker image of this project because of a change in the upstream (base) image: https://github.com/nodejs/docker-node/pull/1182.

We should now install `gnupg` in our build deps, it seems.

[2020-01-10 13:40] bobsilverberg commented on #9069
Thanks @willdurand. Yes, the patch I wrote is essentially an extract function from that, as we now need it in two places.

[2020-01-10 13:47] willdurand commented on #9069
yeah, sorry I read the issue before and only saw the patch after..

[2020-01-10 14:09] #9074 closed

[2020-01-10 17:11] #9069 closed

[2020-01-11 16:46] snitin315 commented on #9049
@bobsilverberg Can i work on this issue??

[2020-01-12 19:44] atiqueahmedziad commented on #8873
@Kiraeraser are you still working on it ? Or I want to pick it.

[2020-01-13 08:11] ioanarusiczki commented on #9074
@willdurand Is this a qa not needed?

[2020-01-13 08:19] ioanarusiczki commented on #9069
@bobsilverberg In case this can be verified by QA please add some STR. Thanks!

[2020-01-13 09:54] willdurand commented on #9049
@snitin315 hi,
I am not sure. Instead, you can find issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2020-01-13 09:57] willdurand commented on #9074
ha yes, sorry!

[2020-01-13 15:15] bobsilverberg commented on #9069
Sorry @ioanarusiczki, at first I thought this was `qa: not needed`, but then I realized that part of it is verifiable. I will add an STR to the description.

[2020-01-13 17:57] bobsilverberg opened #9086 "Do not disable the "Report Abuse" button while reporting abuse via Firefox"
This is a follow-up to #8988, and effectively replaces it.

Firefox was updated in https://bugzilla.mozilla.org/show_bug.cgi?id=1602758 so that if an abuse report is in progress, and a new report is initiated, the window from the first report will close and a window for the new report will open. This fixes the issue discussed in #8988, but it does introduce a new problem with the existing code.

C

[2020-01-13 18:00] bobsilverberg commented on #8988
I am going to close this, as it was fixed via https://bugzilla.mozilla.org/show_bug.cgi?id=1602758. It would be a good idea to verify it as fixed, so I'm going to assign this week's milestone to it, even though it wasn't fixed by any code that we landed. If there is a better way to make sure that this is verified please let me know.

There is another issue related to this, which I have opened at h

[2020-01-13 18:00] #8988 closed

[2020-01-13 22:49] jvillalobos opened #9089 "Update footer links to align with new Firefox products"
I was looking at the AMO footer and noticed that it links to Focus Browser, which is no longer promoted on mozilla.org. In fact, the link just goes to the mobile page.

I think we should update the AMO footer, replacing the Firefox section with the Browsers and Products sections in mozilla.org (making sure we still have UTM parameters on all of those links). Since that means 2 headers and more lin

[2020-01-14 13:55] #9086 closed

[2020-01-14 14:07] bobsilverberg commented on #9089
I didn't see any Browsers or Products links in the mozilla.org footer, but I assume you mean these:

![Screenshot 2020-01-14 09 04 59](https://user-images.githubusercontent.com/142755/72350723-f7546700-36ac-11ea-8553-313702904110.png)

and these:

![Screenshot 2020-01-14 09 05 31](https://user-images.githubusercontent.com/142755/72350778-118e4500-36ad-11ea-9d85-ec85f8db259b.png)

Some other questi

[2020-01-14 14:15] bobsilverberg commented on #9068
@jvillalobos The SUMO article that we'll be using as the link destination, at least for now, has been published at https://support.mozilla.org/kb/add-compatibility-firefox-preview/. This article discusses our plans for add-on compatibility for Fenix, but doesn't present a list of extensions that are compatible. I am therefore wondering whether the text we're using in the warning makes sense, as it

[2020-01-14 14:55] AlexandraMoga commented on #8988
I've verified the above scenario with Beta 73 with the fix for #9086 and the issue looks fixed.
If the report abuse dialog is closed by accident or if the user navigates to another add-on details page without completing the previously opened abuse report, the old dialog will be closed automatically and a new dialog (with the new add-on details) will open when the users clicks on the 'Report this a

[2020-01-14 15:11] AlexandraMoga commented on #9086
I've verified the new Report Abuse button behavior on -dev and I have the following results:

- in Beta 73 - the button remains enabled after clicking on it; this helped with fixing the scenario reported in #8988
- in Firefox release (72) - the button remains enabled after clicking on it, however, since the fix for #8988 is not available in 72, if the button is clicked again while an abuse report

[2020-01-14 15:39] ioanarusiczki commented on #9069
@bobsilverberg I verified this issue on a mobile device with Android 9.0 FF Preview 71.0.1 and also the Nightly Android version FF74.0a1
- on all AMO servers I see the red warning message displayed on the add-on detail pages. The install button is disabled.
- I tried for FF69 too using the Responsive Design Mode, I added a device with User Agent: Mozilla/5.0 (Android 9.0; rv:69.0) Gecko/20100101 F

[2020-01-14 20:35] jvillalobos commented on #9089
Ah, I didn't realize their footer is different on different pages. I mean the footer in https://www.mozilla.org/en-US/firefox/new/, for instance.

I'd like to see how it would look as three columns and then ping Aaron for confirmation that he's okay with it.

It's low priority, maybe P3. Or it could also be a goodfirstbug, I suppose.

[2020-01-14 20:42] jvillalobos commented on #9068
How about
"This add-on is not compatible with Firefox for Android. Learn More."
and
"To learn about add-ons compatible with Firefox for Android, click here."

We will update the article once we have more information on Fenix compatibility. We can also change the messaging on AMO then.

[2020-01-15 09:46] #3541 closed

[2020-01-15 09:46] #7675 closed

[2020-01-15 09:46] #7196 closed

[2020-01-15 09:46] #4346 closed

[2020-01-15 10:46] #3952 closed

[2020-01-15 10:46] #6677 closed

[2020-01-15 11:46] #6100 closed

[2020-01-15 11:46] #4631 closed

[2020-01-15 11:50] willdurand opened #9092 "Storybook is broken"
Our [Storybook](https://mozilla.github.io/addons-frontend/) is broken: it does not load because of a syntax error during
the initialization.

I noticed the issue while reviewing a Renovate PR to update one of the
Storybook dependencies. I think our Storybook has been broken for a
while now but it is hard to notice as we usually don't look at it and
the build did not failed.

The bug is caused by o

[2020-01-15 12:46] #6918 closed

[2020-01-15 12:46] #6032 closed

[2020-01-15 12:46] #6839 closed

[2020-01-15 13:46] #6599 closed

[2020-01-15 13:46] #7145 closed

[2020-01-15 13:46] #6996 closed

[2020-01-15 13:46] #7914 closed

[2020-01-15 13:46] #3733 closed

[2020-01-15 13:46] #4260 closed

[2020-01-15 13:46] #5546 closed

[2020-01-15 13:46] #5617 closed

[2020-01-15 13:46] #5551 closed

[2020-01-15 14:46] #6719 closed

[2020-01-15 14:46] #6858 closed

[2020-01-15 14:46] #6017 closed

[2020-01-15 14:46] #5415 closed

[2020-01-15 14:46] #2905 closed

[2020-01-15 14:46] #4461 closed

[2020-01-15 20:53] #9068 closed

[2020-01-17 09:47] Shivansh2407 commented on #9078
Can I work on this @risa-hdqc and @bobsilverberg ?

[2020-01-17 09:49] Shivansh2407 commented on #8829
Can I work on this issue??

[2020-01-17 12:23] willdurand commented on #8829
@Shivansh2407 yep, go for it!

[2020-01-17 12:23] #9092 closed

[2020-01-17 12:59] Shivansh2407 commented on #8829
Hey @willdurand can you please tell me how to proceed?

[2020-01-17 13:59] bobsilverberg commented on #9078
@Shivansh2407 I'm not sure this is actually something we want to implement. It's best to look for issues with the `contrib: welcome` label: https://github.com/mozilla/addons-frontend/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22contrib%3A+welcome%22

@jvillalobos do you have an opinion here about whether this is something we want to do/change?

[2020-01-17 14:18] ioanarusiczki commented on #9068
@bobsilverberg
I verified this issue on dev with FF Preview 71.0.1(Android 9.0) on a mobile device and also changing the UA in the FF72 browser (win10).
Mozilla/5.0 (Android 9.0; rv:69.0) Gecko/20100101 Firefox/69.0
Mozilla/5.0 (Android 9.0; rv:70.0) Gecko/20100101 Firefox/70.0
Mozilla/5.0 (Android 9.0; rv:73.0) Gecko/20100101 Firefox/73.0

- the red warning message from https://github.com/mozilla

[2020-01-17 14:40] bobsilverberg commented on #9068
Yes, the red warning about Fenix compatibility on an add-on detail page should no longer be seen.

[2020-01-17 15:34] jvillalobos commented on #9078
@aaronrbenson, @atsay  what do you think? I tend to agree that our font size is a bit small, but I don't feel very strongly about it.

[2020-01-17 18:51] risa-hdqc commented on #9078
My opinion doesn't carry much weight but I think it's always a good idea to move from `px` to `em`s for font sizes. I imagine it could be frustrating to have your browser's default font size set pretty high due to visual disability but still end up on pages with 12px font because of these hard coded values/units.

[2020-01-18 04:14] snitin315 commented on #6692
I want to work on this issue.

[2020-01-18 15:36] #6366 closed

[2020-01-19 06:24] Sujay-Tandel commented on #9078
Can I work on this?

[2020-01-20 11:03] willdurand commented on #9078
@Sujay-Tandel I don't think so, sorry.
You can find issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2020-01-20 15:30] ioanarusiczki commented on #9092
@willdurand Please add the qa not needed label.
Thanks!

[2020-01-20 19:50] bobsilverberg commented on #8424
I'm a bit confused by this. If one looks at the tests for this component, one can see that [we have tests in place](https://github.com/mozilla/addons-frontend/blob/master/tests/unit/ui/components/TestDropdownMenu.js#L119-L150) that verify that a single click *will not* close the menu, and that a second click *is required* to close the menu. So at some point that was the expected behaviour.

It loo

[2020-01-20 21:25] krytarowski commented on #4610
Can you fix it for NetBSD? Thanks.

[2020-01-20 21:59] jvillalobos commented on #8424
I'm okay with accepting the patch as long as #3452 isn't regressed.

[2020-01-20 22:03] willdurand commented on #8424
Make sure to test on a real Android device (ideally on both FF for Android and Preview) too.

[2020-01-21 09:12] muffinresearch commented on #8424
This sounds good to me.

[2020-01-21 13:52] bobsilverberg commented on #8424
This sounds like an excellent idea. I had to dig around to find an Android device, as I don't use one regularly. Is there a process for testing a local build on a physical device, or does it involve pushing the change to dev first?

[2020-01-21 13:59] willdurand commented on #8424
It'd be better to test the changes before it lands in -dev. There is no specific process in place, the device should have access to the local server. It can be done by configuring the machine's firewall or by using a tool like `ngrok`.

[2020-01-22 08:08] Shivansh2407 commented on #9089
Can I please work on this ?

[2020-01-22 08:10] Shivansh2407 commented on #9077
I would like to work on this issue.

[2020-01-22 15:47] bobsilverberg commented on #9089
Sure, go ahead.

[2020-01-22 16:40] Shivansh2407 commented on #9089
So @bobsilverberg can you please help me like how should I proceed?
What needs to be done here?

[2020-01-22 16:43] caitmuenster commented on #6692
Hey @snitin315! We just reviewed this issue and we've decided it's a WONTFIX. I'll pop back in in a moment to help you find another bug to work on!

[2020-01-22 16:43] #6692 closed

[2020-01-22 16:48] wagnerand commented on #8873
@atiqueahmedziad Feel free to do it!

[2020-01-22 18:15] muffinresearch opened #9105 "500 Error for ro locale on 404 pages"
See https://addons.mozilla.org/ro/firefox/addon/dogpile/ as an example.

This is the cause: https://github.com/mozilla/addons-frontend/blob/445b373fc3053ef4e7e2768ddcc2f6e0fb60b69b/locale/ro/LC_MESSAGES/amo.po#L861

Note the extra `%(extensionEnd)s`

[2020-01-22 18:24] #8424 closed

[2020-01-22 20:11] willdurand commented on #9105
The issue has been introduced a while ago: https://github.com/mozilla/addons-frontend/commit/b09231719521935ec57f30c6ad212a93e033ff2b

[2020-01-22 20:20] #9105 closed

[2020-01-22 20:25] willdurand opened #9107 "Prevent invalid locale messages to throw errors (leading to 500s)"
In https://github.com/mozilla/addons-frontend/issues/9105, the issue was an invalid locale message that contained the same placeholder twice:

[code]

This somehow generated an error and the app served a 500 error page instead of the expected (404) page.

We should add a test case or some other check to ensure this won't happen again.

[2020-01-22 20:25] willdurand commented on #9105
Follow-up: https://github.com/mozilla/addons-frontend/issues/9107

[2020-01-22 20:57] NitinMadhukar commented on #9089
can i work on this ??

[2020-01-22 20:59] NitinMadhukar commented on #9042
@caitmuenster  can i work on this

[2020-01-23 09:42] willdurand opened #9108 "Enable feature to remove search tools in -stage"
Let's enable this feature in -stage to hide the search tools related pages/info.

[2020-01-23 09:51] #9108 closed

[2020-01-23 10:13] willdurand opened #9110 "Enable feature to remove search tools in -prod"
Similar to https://github.com/mozilla/addons-frontend/issues/9108, we want to enable this feature in -prod too.

[2020-01-23 10:16] willdurand opened #9112 "Remove the `enableFeatureRemoveSearchTools` feature flag"
We enabled this feature in all envs in https://github.com/mozilla/addons-frontend/issues/9110, so we can safely remove the feature flag (and the if/else code) after today's push.

We want to remove the config for `enableFeatureRemoveSearchTools` as well as all the code that looks like `if (_config.get('enableFeatureRemoveSearchTools')) {`, etc.

[2020-01-23 11:43] #9110 closed

[2020-01-23 12:42] atiqueahmedziad commented on #9112
I am working on it 😄

[2020-01-23 14:19] AlexandraMoga commented on #9105
Verified fixed in stage

This is a reproduction of the error in prod:
https://addons.mozilla.org/ro/firefox/addon/not-a-real-addon-slug/
![image](https://user-images.githubusercontent.com/31961530/72991990-a60a4d00-3dfb-11ea-8183-8c99290e6408.png)

This is the page on stage after the fix:
https://addons.allizom.org/ro/firefox/addon/not-a-real-addon-slug/
![image](https://user-images.githubusercont

[2020-01-23 15:14] ioanarusiczki commented on #9108
@willdurand
Testing report on AMO stage with FF72(Win10):

- The OpenSearch plugins cannot be submitted (already available on prod) https://github.com/mozilla/addons-server/issues/12462
- The OpenSearch plugins were deleted https://github.com/mozilla/addons-server/issues/12463
- Search Tools link from the 'More' menu was removed and the search results are no longer showing the type `Search tools`

[2020-01-23 21:42] bobsilverberg commented on #9089
@NitinMadhukar Thank you for your interest, but there is already a contributor working on this. I suggest you look for available issues at https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22contrib%3A+welcome%22+

[2020-01-23 21:46] bobsilverberg commented on #9089
@Shivansh2407 Most of what needs to be done is described in the comments above at https://github.com/mozilla/addons-frontend/issues/9089#issuecomment-574361672. The code for the footer can be found in https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/Footer/index.js, and there will likely also be style changes needed in https://github.com/mozilla/addons-frontend/blob/master

[2020-01-23 22:17] caitmuenster commented on #9042
Hi @NitinMadhukar, you might want to look for an issue marked with the label 'contrib:good first bug` label to help you get familiar with the code base and to get more hands-on support during the bug fix.

It doesn't look like there are any tagged good first bugs in this repository at the moment. You're welcome to keep an eye on [this list](https://github.com/mozilla/addons-frontend/labels/contrib

[2020-01-23 22:19] caitmuenster commented on #8829
Hi @Shivansh2407, thanks for your interest! We're accepting PRs for this issue but due to limited resources we won't be able to offer more hands-on support for fixing this issue. You might want to look for an issue marked with the label 'contrib:good first bug` label instead for more mentorship.

It doesn't look like there are any tagged good first bugs in this repository at the moment. You're wel

[2020-01-23 22:23] caitmuenster commented on #6692
Hi @snitin315, sorry for the delay! You'll want to look for issues with the label 'contrib: good first bug` to help you get familiar with the code base and also get hands-on support during the bug fix. :)

It doesn't look like there are any tagged good first bugs in this repository at the moment. You're welcome to keep an eye on [this list](https://github.com/mozilla/addons-frontend/labels/contrib

[2020-01-23 23:34] caitmuenster commented on #9077
Hi @Shivansh2407, we don't know if this is a bug. I recommend you look for an issue with the label 'contrib:good first bug`. Those bugs have all been confirmed and we offer mentorship for fixing them.

[2020-01-24 02:01] snitin315 commented on #6692
@caitmuenster Thanks for your help. I will check on good first issues.

[2020-01-24 07:20] tiansh opened #9114 "Localize "Only with Firefox - Get Firefox Now" link target"
### Describe the problem and steps to reproduce it:

1. Open AMO by any browser other than Firefox (Chrome for example);
2. Open any Extension's detail page;
3. Switch to non-English language ([NoScript Extension detail page in S.Chinese](https://addons.mozilla.org/zh-CN/firefox/addon/noscript/) for example);
4. Click the "Only with Firefox - Get Firefox Now" button ("只能用于 Firefox — 获取 Firefox" bu

[2020-01-24 16:23] jvillalobos commented on #9114
The link goes to `https://www.mozilla.org/firefox/new/`, which should redirect to the appropriate page depending on your browser settings. It sounds like your browser is set to English, so both AMO and mozilla.org show you the English version of the page by default.

I agree the experience you describe is a bit inconsistent, but it could be a problem to force the language in the target page, since

[2020-01-24 16:23] #9114 closed

[2020-01-24 19:05] atiqueahmedziad commented on #8873
Okay working on it! 😄

[2020-01-24 19:14] TheSTL commented on #6242
I'm working on this issue.

[2020-01-25 11:32] Jayashree-panda commented on #8646
@bobsilverberg Can I take this issue?

[2020-01-25 17:33] Shivansh2407 commented on #9089
Basically I need to make the footer in three parts right ?

[2020-01-25 17:36] Shivansh2407 commented on #9112
Can I work on this @muffinresearch ?

[2020-01-25 21:52] davidhedlund opened #9133 "Proposed implementation to remove add-ons from the "Add to collection" drop-down menu"
### Describe the problem and steps to reproduce it:
* [Create a collection](https://addons.mozilla.org/en-US/firefox/collections/add/) and label it **Test Collection**.
* Visit [HTTPS Everywhere](https://addons.mozilla.org/en-US/firefox/addon/https-everywhere/)
* Click on the **Add to collection** drop-down menu
* Click on the **Test Collection** entry. You'll get the confirmation message _Added t

[2020-01-27 09:44] willdurand commented on #9112
@Shivansh2407 no, sorry. This issue has already been assigned to someone.

[2020-01-27 09:44] willdurand commented on #8646
@Jayashree-panda no, please find issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2020-01-27 09:52] #9112 closed

[2020-01-27 10:36] smayer97 commented on #3252
yes please

[2020-01-27 11:39] TheSTL commented on #9054
I'm working on this issue

[2020-01-27 11:44] willdurand commented on #9054
@TheSTL please don't, this issue is already assigned (to me)

[2020-01-27 11:48] ioanarusiczki commented on #9110
@willdurand Verified on prod with FF72(Win10).
- I did not find `.xml` plugin formats while searching.
- the Search Tools link was removed from the `More` Menu.
- https://addons.mozilla.org/en-US/firefox/search-tools/ and https://addons.mozilla.org/en-US/firefox/search-engines/ redirect to the search tools extensions category.
- I could not submit an `xml` plugin on prod.

[2020-01-27 11:57] TheSTL commented on #9054
Sorry, @willdurand I didn't see.

[2020-01-27 12:20] ioanarusiczki commented on #8424
@willdurand
Verified on AMO dev with FF72(Win10).

![clicks on More1](https://user-images.githubusercontent.com/33448286/73174249-f7724f00-410f-11ea-98e9-7d48208e8fd6.gif)

[2020-01-27 15:17] #8295 closed

[2020-01-29 14:02] ioanarusiczki commented on #9112
@willdurand There are no regressions. - FF72(Win10).

The only thing which is still reproducible on dev (but it's from the last week and on AMO stage was not reproducible or in production) is that search results for plugins still show up (the autocomplete displays them) and then when the plugin is clicked there's a 404.

An example: https://addons-dev.allizom.org/en-US/firefox/addon/eccellio/

[2020-01-29 14:03] willdurand commented on #9112
I guess that's a problem with our search service (ES).

[2020-01-29 14:16] ioanarusiczki commented on #9112
@willdurand I'm thinking to file an issue on the server repo maybe it does not take too much efforts to fix it ?

[2020-01-29 21:42] aarushivij commented on #9089
Hey @Shivansh2407 are you still working on this?

[2020-01-30 09:00] ioanarusiczki commented on #9112
I filed the followup on server
https://github.com/mozilla/addons-server/issues/13382

[2020-01-30 11:06] jvillalobos opened #9123 "Turn off non-recommended warning experiment"
Let's turn off the grey / yellow warning experiment for non-recommended extensions. For now, let's enable the grey warning for all users. Also, let's make sure we're not losing any of the data for future analysis.

For QA:

This will disable the experiment, meaning that everyone should see the exact same thing, which is the newest version of the warning. It also should not be creating a cookie for

[2020-01-30 13:16] bobsilverberg opened #9124 "Error from FingersCrossedReporter when a test fails"
When running a test via Jest, if the test fails we now see an error being generated from the `FingersCrossedReporter` as opposed to the failure from the test. It looks like `getConsoleOutput` is no longer available from `jest-util`, and that is causing an error at https://github.com/mozilla/addons-frontend/blob/master/tests/jest-reporters/fingers-crossed.js#L23.

Here's some example output:

[code

[2020-01-30 13:19] bobsilverberg commented on #9124
@willdurand I wonder if we should revert https://github.com/mozilla/addons-frontend/commit/78f716e76b581a63aa8466105773b072252e6feb until we have a fix for this?

[2020-01-30 13:41] willdurand commented on #9124
Looks like it is now part of `jest-console`, https://github.com/facebook/jest/blob/bcc2b103e14912cff566cbacb0c2c3871ecb0994/packages/jest-console/src/index.ts

[2020-01-31 10:23] bobsilverberg opened #9127 "Write tests for Jest reporters"
#9124 was an error in a Jest reporter that we use, which was not caught until it was found while running an interactive test. It would be nice to have unit tests for our Jest reporters. This issue is about investigating how to write tests for a Jest reporter and then, if feasible, creating some tests for them.

The reporters we use can be found in https://github.com/bobsilverberg/addons-frontend/t

[2020-01-31 10:25] #9124 closed

[2020-01-31 18:23] FatOrangutan commented on #9078
In https://github.com/mozilla/addons-frontend/issues/4431 that I filed, [pwalm had said](https://github.com/mozilla/addons-frontend/issues/4431#issuecomment-369987147):

[2020-01-31 18:45] atiqueahmedziad commented on #5441
Can I work on it ?

[2020-02-03 10:31] willdurand opened #9132 "Update GPG key for Yarn"
We store the yarn gpg key in our repo. The current key has expired yesterday (2020-02-02) so we need to update it. See also: https://github.com/yarnpkg/yarn/issues/6865#issuecomment-453436142

[2020-02-03 10:35] willdurand commented on #5441
Sorry, I don't think so. I am not sure what the status of this issue is now.
You can find issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

</details>

[2020-02-03 10:45] #9132 closed

[2020-02-03 12:40] eviljeff commented on #9133
iirc we knew about this at the time and decided to ignore it because there wasn't a way to get a list of which collections the user had and which add-ons were in the collection without an extra API call; (returning it as part of the add-on detail response breaks cachablity because each request would be unique)

[2020-02-03 14:56] smayer97 commented on #9133
This basically relates back to #4331 for functionality that is missing since the replacement of the old AMO. Original feature set in the Add To Collection included:
- seeing in which collection an add-on already exists #8997 and #8415
- ability to remove the add-on from any collection to which already belongs #4331
- link to open any collection listed from the menu #679
- ability to search the lis

[2020-02-03 15:29] davidhedlund commented on #9133
@smayer97 Thanks a lot for the references.

[2020-02-03 15:46] smayer97 commented on #9133
I would then suggest changing the label "Add to Collection" to "Add to/Delete From Collection".

[2020-02-03 15:59] davidhedlund commented on #9133
What would your proposed full title be?

[2020-02-03 16:00] smayer97 commented on #9133
Title for this Issue? I would not change it. It is good enough.

[2020-02-03 16:03] davidhedlund commented on #9133
I changed the text in the top post, thanks!

[2020-02-04 07:51] shayneoneill commented on #8419
Is there any writeups or clues on what became of that thing. Venkman was an absolutely epic piece of software, was it another casualty of the Quantum thing, or was it dead before that?

[2020-02-04 15:36] bobsilverberg opened #9137 "Enforce naming convention for experiment ids"
This is a follow-up to #9125

In order to reduce the possibility of collisions of experiment ids we are going to adopt a naming convention for experiment ids. The convention is `YYYYMMDD_experimentName`, where `YYYYMMDD` is the date that the `id` was added.

This issue is about adding code to [`withExperiment`](https://github.com/mozilla/addons-frontend/blob/master/src/core/withExperiment.js) to e

[2020-02-04 15:59] #9123 closed

[2020-02-04 19:34] bobsilverberg commented on #9089
Correct. Now that the amount of information is greater, it was suggested that the footer be presented in 3 columns.

[2020-02-04 20:05] #6001 closed

[2020-02-05 14:05] ioanarusiczki commented on #9123
@bobsilverberg I verified this issue on AMO dev and stage with FF72(Win10).
- the experiment is no longer available on new profiles meaning that cookie is not created anymore
 and the GA events described in https://github.com/mozilla/addons-frontend/issues/8137#issue-452999111 are no longer sent.
- on all pages with non-recommended add-ons the grey warning message is enabled. When the platform mes

[2020-02-05 16:42] #8398 closed

[2020-02-07 01:06] moz-hwine commented on #8957
The web security baseline scan results for site https://addons.mozilla.org has new failures:

 Strict-Transport-Security Header Not Set [10035] x 1
 * https://addons.allizom.org/en-US/firefox/collections/4757633/privacy-matters/ (504 GATEWAY_TIMEOUT)

[2020-02-07 01:06] moz-hwine commented on #8957
The following test(s) for site https://addons.mozilla.org have now passed:

 * Cookie No HttpOnly Flag

Keep up the good work!

[2020-02-07 01:06] moz-hwine commented on #8957
The web security baseline for site https://addons.mozilla.org is still failing, this issue should stay open.

[2020-02-07 13:17] ioanarusiczki opened #9144 "The add-ons are not highlighted while using keyboard navigation"
Followup for https://github.com/mozilla/addons-frontend/issues/8724
STR:
1. Load AMO dev and go to the hompegage or another page where add-ons are available in shelves
2. Using `Tab` try to select one
3. Observe the page

Expected result:
The add-ons name is highlighted in blue.

Actual result:
The add-ons name is not highlighted. The user can't tell which add-on is selected.

Notes:
This issue is

[2020-02-07 13:32] ioanarusiczki commented on #8724
@bobsilverberg I verified this on AMO dev with FF72(Win10).
- using the middle click or CTRL+Click will open the add-ons in a new tab.

- I filed https://github.com/mozilla/addons-frontend/issues/9144 which could be e regression because right not it is not reproducible on AMO stage.

![new tab](https://user-images.githubusercontent.com/33448286/74033507-f918fe00-49be-11ea-9c90-07b45065f66b.gif)

[2020-02-08 01:16] #8957 closed

[2020-02-10 09:14] #7476 closed

[2020-02-10 10:14] #8404 closed

[2020-02-10 13:12] ioanarusiczki commented on #6001
@bobsilverberg If qa can verify this please add some STR.
Thanks!

[2020-02-10 14:09] bobsilverberg commented on #6001
@ioanarusiczki This isn't straightforward to reproduce without changing code and running it locally. I'm going to mark it as `qa:not needed`.

[2020-02-10 14:11] bobsilverberg commented on #6001
@ioanarusiczki Actually, while you cannot easily reproduce this use case, we can still check for regressions with the `AddonRecommendations` card, and make sure that the GA pings are still being sent as expected.

[2020-02-10 14:32] #9144 closed

[2020-02-11 13:41] ioanarusiczki opened #9152 "Keyboard navigation is not possible in search results or other pages where the recommended badge is present"
STR:
1. Go to a See more... link, an add-on category, the profile page or a private collection where a recommended add-on is available.
2. Press `Tab` and try to navigate in the list of add-ons.

Actual result:
It goes back and forth between the add-on name and the recommended badge.

Expected result:
It jumps to the next add-on in the list.

Notes:
This issue is reproducible on AMO dev in search

[2020-02-11 13:42] ioanarusiczki commented on #9144
@mirefly This issue is not reproducible on AMO dev - FF72(Win10).
Checking all the frontend pages there's another regression which I've noticed and I filed it here https://github.com/mozilla/addons-frontend/issues/9152

![fixed bug on homepage](https://user-images.githubusercontent.com/33448286/74239822-4e1b8380-4ce1-11ea-9284-008e9acd20db.gif)

[2020-02-11 15:13] ioanarusiczki commented on #6001
@bobsilverberg
- I did not find regressions on the frontend pages - the recommended badge is available.
- I could add/remove the recommended badge for an add-ons.
- the only available GA I see (when an add-on detail page is loaded) in the console is
`[GA: ON] sendEvent {"hitType":"event","eventCategory":"AMO Addon / Recommendations Shown","eventAction":"recommended_fallback-timeout","eventLabel":"

[2020-02-11 15:26] bobsilverberg commented on #6001
No, that's everything. Thanks!

[2020-02-11 20:14] mirefly commented on #9152
It looks like this is caused by the nested anchor tags which is[ not recommended by standard](https://www.w3.org/TR/REC-html40/struct/links.html#h-12.2.2). And FF could not handle this case well. I could not reproduce this bug in Chrome.

[2020-02-11 20:28] bobsilverberg commented on #9152
Yeah, we shouldn't be nesting anchor tags. This has bitten us before. I didn't realize that that's what we had here. I guess we need to fix that.

[2020-02-11 20:32] bobsilverberg commented on #9152
If we cannot figure out a good way to handle this, we might have to revert the changes made for https://github.com/mozilla/addons-frontend/pull/9096. That should never have been merged if it caused nested anchors, but I didn't realize at the time that it did. We might need a different solution to https://github.com/mozilla/addons-frontend/issues/8724, instead of trying to deal with the fallout aft

[2020-02-11 20:34] bobsilverberg commented on #9152
Do you have any ideas for resolving this, @mirefly, or do you think we should undo the changes from #9096 and start that one again from scratch?

[2020-02-11 20:57] mirefly commented on #9152
@bobsilverberg I do not have good ideas to fix this issue from what we have now. Probably it is easier to undo changes from #9096 first.

[This example](https://stackoverflow.com/questions/5214363/alternative-to-nested-anchor-tags) may be a better way to fix #9096 without nesting anchor tags.

[2020-02-11 21:37] ajayyy opened #9153 "Release notes only appearing in author locale (en-CA)"
### Describe the problem and steps to reproduce it:

The release notes are not appearing on my addon page when viewed from a locale that is not my own (en-CA).

### What did you expect to happen?

I expected that the release notes show the default locale if no translation is available.

### Anything else we should know?

I do have translations setup for the description, but not the release notes.

[2020-02-12 11:51] bobsilverberg commented on #9152
I'm going to revert both the patch from #9096 and also your follow-up from #9147, which will no longer be needed after the revert of #9096, and then I'll reopen the issue from #8724.

[2020-02-12 11:58] bobsilverberg commented on #8724
We had to back out the change that fixed this as we discovered that it created nested anchor tags. A different solution will need to be devised for this.

[2020-02-12 12:00] TheSTL commented on #8724
hey @bobsilverberg i want to work again on this issue.

[2020-02-12 12:04] bobsilverberg commented on #8724
Ok @TheSTL, go ahead. @mirefly made a suggestion about a different approach to this at https://github.com/mozilla/addons-frontend/issues/9152#issuecomment-584847620. I think it's going to be a bit tricky because of the recommended badge, but please feel free to give it a try.

[2020-02-12 12:11] #6242 closed

[2020-02-12 12:30] #9152 closed

[2020-02-12 16:44] julian-alarcon commented on #7142
Just be more direct with the info, was not Mozilla fault, is US law

Got this from here: https://github.com/nextgens/anti-paywall/issues/109#issuecomment-441097828

"It appears that your Add-on violates the Firefox Add-on Distribution Agreement and the Conditions of Use. Both prohibit Add-ons that violate the law. Your Add-on appears to be designed and promoted to allow users to circumvent paywall

[2020-02-13 09:17] ioanarusiczki commented on #8724
@bobsilverberg I checked on AMO stage - this doesn't look reverted to me.

![AMO stage not reverted](https://user-images.githubusercontent.com/33448286/74419342-6a8afd80-4e52-11ea-8bbe-295651625f49.gif)

[2020-02-14 12:18] ioanarusiczki commented on #9152
@bobsilverberg Verified on AMO dev with FF73(Win10).

![Keyboard navigation works](https://user-images.githubusercontent.com/33448286/74531249-ccbc2f00-4f34-11ea-81cf-26d2a6f0c55d.gif)

[2020-02-14 13:36] ioanarusiczki commented on #6242
@bobsilverberg Verified on dev with FF73(Win10) and FF68.4.2 (Android 9.0). - looks good to me

Addon detail page

![addon detail page](https://user-images.githubusercontent.com/33448286/74535823-54a73680-4f3f-11ea-8056-6d33d84e3755.png)

Reviews detail page

![review detail page](https://user-images.githubusercontent.com/33448286/74535842-6092f880-4f3f-11ea-905e-bdb7a850554e.png)

[2020-02-14 18:50] muffinresearch opened #9158 "Add travis notifications to slack"

[2020-02-15 12:44] #7645 closed

[2020-02-15 14:44] #8433 closed

[2020-02-16 21:19] #8449 closed

[2020-02-17 11:07] #9158 closed

[2020-02-19 16:16] #8462 closed

[2020-02-19 18:02] #8458 closed

[2020-02-19 21:26] smayer97 commented on #8415
Please keep open...

[2020-02-21 09:47] devaneymoz opened #9169 "sorting for "See more Recommenddd extensions""
### Describe the problem and steps to reproduce it:
From the AMO homepage click "See more Recommended extensions" text link within its shelf.

### What happened?
You're taken to a "search results" type page, with pagination that currently runs to four pages.

### What did you expect to happen?
Since the Search results page tells me there are (currently) "97 extensions found" I expect the four page

[2020-02-21 11:16] bobsilverberg commented on #9169
@devaneymoz You weighed in on https://github.com/mozilla/addons/issues/1074 yourself and agreed with wontfixing it. It seems that the question here is whether we should have a random sort or not. If we keep it random then this "problem" will remain, or we can change it to a different sort sequence. What do you see as a good way forward?

[2020-02-21 16:38] jvillalobos opened #9171 "Update compatibility warning shown for mobile users"
We want to soften the language of the compatibility warning that we show when a mobile user visits an add-on page on AMO that isn't intended for mobile.

It currently states:
"This add-on is not compatible with Firefox for Android. [Learn More]."
We want to change it to something like:
"This add-on is not compatible with Firefox for Android. Try installing it on Firefox for desktop. [Learn More]."

[2020-02-21 16:59] bobsilverberg commented on #9171
You say "change it to something like:". Do you mean that we should change it to that exact phrase, or that a decision is yet to be made about what the new wording should be?

Yes, what you indicate above is a replacement for the new warning we introduced in #9068. If you also want to make a change to the wording for the warning we introduced in #8701 could you provide the desired text for that? Or

[2020-02-21 19:37] jvillalobos commented on #9171
For the time being, the wording I suggested is the one we'll use. I pointed other people to this issue who might suggest alternatives.

I just want to make sure I'm not missing any scenarios that we might want to cover. @muffinresearch added some screenshots to my original request, and it looks like there's a gap in Firefox Android (Fennec). Can we show the same yellow warning message that we show

[2020-02-21 21:14] devaneymoz commented on #9169
True I agreed with "wontfix" in the prior discussion but after more usage with this behavior I've changed my mind. Over time I've fielded quite a few requests from folks asking where they can see the entire Recommended list, and when I point them here it's obviously not an ideal overview.

[2020-02-24 11:45] muffinresearch commented on #9169
@diox it looks like ES supports this case with seeding see https://github.com/elasticsearch/elasticsearch/issues/1170 - would be good to estimate what that would take to expose via the API.

Thinking aloud (and assuming we add API support), from a UX perspective we can do something like this:

- If the random search page requested is the first one ignore any stored seed and store a new one for the

[2020-02-24 14:20] bobsilverberg commented on #9169
@muffinresearch It looks like you neglected to add the URL for the "other solution" mentioned above.

[2020-02-24 17:03] LaurenNiolet commented on #9171
We'd also like to have the language reflect that some users are going to land here on iOS. Can the same language appear for those users as well? The issue is when we send an email we can't control what device or OS someone will be clicking on. We want a decent experience or at least "next steps" for everyone.

[2020-02-24 17:11] bobsilverberg opened #9175 "simulate-async-error seems to be broken locally"
While reviewing #9122, I discovered that http://localhost:3000/en-US/firefox/simulate-async-error/ is broken. When I try to load that route, I get the "Webpack is still loading!" page and then the server stops responding. Here's what I see in the console:

[code]

This problem exists on the current master, so it's not a result of that patch. It does, however, work on dev, so it seems to be a local

[2020-02-24 17:49] jvillalobos opened #9177 "Show install button warning for iOS users"
Following up on https://github.com/mozilla/addons-frontend/issues/9171, the yellow warning near the install button should also appear for iOS users, to give a friendlier message. Ideally, we should just this message for all mobile users that aren't on any detectable version of Firefox for Android, so we cover the most users. The message should say:

"This add-on is not compatible with this browser

[2020-02-24 17:50] jvillalobos commented on #9171
I filed https://github.com/mozilla/addons-frontend/issues/9177 for the iOS use case, since it's a different enough issue.

[2020-02-24 17:51] muffinresearch commented on #9169
Thanks @bobsilverberg that's fixed now.

[2020-02-24 21:30] bobsilverberg commented on #9169
Thanks @muffinresearch. It sounds like there is a possibility of solving this on the server, or a combination of the client and server. @diox do you think we should transfer this back to addons-server, or create an additional issue for it there, or shall we just discuss the options here and then figure out where the issue should live once we have decided on a solution?

[2020-02-24 22:04] MeridelW commented on #9171
@jvillalobos I brought all of the messages together [into one document ](https://docs.google.com/document/d/1F4wOrI_muI4_Gd2myqKdBBIZaP0GAnH1NJQKg1s50NA/edit#)and made copy and CTA suggestions for each.

I have some questions noted in the doc. Can you please review? Happy to meet and discuss if easier. I realize we are under a tight deadline and so perhaps we can't make changes across all banners

[2020-02-25 14:15] diox commented on #9169
I think providing a seed to the random query is definitely the best approach. We could do it purely on the server side without even needing a special field, just making the seed dependent on specific time periods. We would need to determine what's an acceptable period of time after which changing the seed.

Only drawback of that approach is there would still be an edge case where a client sees the

[2020-02-25 17:39] diox commented on #9169
@devaneymoz mentioned on slack we could rotate every 24 hours. So we could force the seed on addons-server to be dependent on the date and we'd be okay without any other changes, it would be transparent to the frontend.

[2020-02-26 09:07] ioanarusiczki opened #9182 "The layout of the homepage is broken on AMO dev"
STR;
1. Open a new tab and load AMO dev

Expected result:
No layout issues

Actual result:
The layout is broken - I receive 404s in the Network for the css files

Notes:
I could only reproduce it on AMO dev - every time in a new tab when I first load AMO.
Refreshing page works.

![broken css](https://user-images.githubusercontent.com/33448286/75329304-16d3d780-5888-11ea-964d-965537521db8.png)

[2020-02-26 09:56] diox commented on #9182
Seeing it after a hard-refresh. `None of the “sha512” hashes in the integrity attribute match the content of the subresource.` in the console, 404s similar to what @ioanarusiczki screenshot shows.

[2020-02-26 15:31] ioanarusiczki commented on #9182
@diox I could not reproduce it on AMO stage not even once while making release testing today.

[2020-02-26 15:45] MeridelW commented on #9171
I [updated messaging ](https://docs.google.com/document/d/1F4wOrI_muI4_Gd2myqKdBBIZaP0GAnH1NJQKg1s50NA/edit?ts=5e5585f7#) based on comments from Bob and Jorge. New versions here, as well as some open questions. @jvillalobos or @bobsilverberg can you help answer?

[2020-02-26 16:34] bobsilverberg commented on #9182
I landed a bunch of dependency updates after the tag, but we have also discovered that the tag for frontend doesn't seem to include all the commits it needs, which would be another explanation for stage being different from dev.

Having said that, the 404 for css files does sound like a deploy issue rather than a code issue.

[2020-02-26 16:40] bobsilverberg commented on #9182
I just pushed a new tag for addons-frontend, which should deploy to stage sometime soon. @ioanarusiczki I'm afraid that the release testing you've done thus far on stage were against an old version, so I think you may need to redo that once the new tag lands.

[2020-02-26 21:30] bobsilverberg commented on #9182
This seems to be fixed after the last deploy to dev. Can you verify @ioanarusiczki?

[2020-02-27 00:16] LaurenNiolet commented on #9171
Just checking: what's the target ship date for this?

[2020-02-27 10:03] ioanarusiczki commented on #9182
@bobsilverberg Yes, I did not see it reproducible on AMO dev. - FF73(Win10).

[2020-02-27 13:04] #9089 closed

[2020-02-27 14:22] #9182 closed

[2020-02-27 16:37] jvillalobos commented on #9171
AMO pushes to production every Thursday. My expectation is that we will include these changes (whatever they end up being) in the push of March 5.

[2020-02-27 16:45] LaurenNiolet commented on #9171
Thank you!!

On Thu, Feb 27, 2020 at 8:37 AM jvillalobos <notifications@github.com>
wrote:

--
Lauren Niolet (she / her)
Firefox Accounts Growth Team Lead

[2020-02-27 18:53] bobsilverberg commented on #9171
My understanding, for this particular issue, is that we want to address the case where a user ends up on https://addons.mozilla.org/en-US/android/addon/facebook-container/ with a Firefox browser running on Android (either Fennec or Fenix). They will end up on that page because the link points to https://addons.mozilla.org/addon/facebook-container/, which redirects them to https://addons.mozilla.or

[2020-02-27 21:04] jvillalobos commented on #9171
Yes, your assumptions match mine. Just to be very explicit about our current compatibility story, I would change the start of the proposed logic to this:

We can probably treat iOS / other non-fx mobile users in the same was as Fenix users, but for now let's keep it separate.

The current (not final) version of the message is:

And the "Learn more" link should only appear for Fenix users.

[2020-02-28 18:06] LaurenNiolet commented on #9171
Another (annoying question). When the push goes live March 5, does that kick off l10n or is l10n done ahead of the push? We have some German and French resources we'd be happy to share if it means localization would be ready for the campaign launch. @jvillalobos

[2020-02-28 22:39] jvillalobos commented on #9171
@diox or @muffinresearch can answer the question better than I can, but I think we should be fine on the major languages for the 10th.

[2020-02-28 22:47] jvillalobos commented on #9171
Final strings:

**Fenix users on any add-on detail page**

The link pointp to the SUMO page like we do now.

**Fennec users on incompatible add-on detail page**

The link points to https://addons.mozilla.org/android/

**Firefox for iOS users on any add-on detail page**

[2020-03-02 11:44] muffinresearch commented on #9171
Speed of translations usually varies, but usually we allow 2 weeks after newly extracted strings land for most active locales to get updated. If we have the copy translated independently then we can always add them directly.

[2020-03-02 15:42] bobsilverberg commented on #9171
Are we dealing with that here, or in #9177?

[2020-03-02 20:21] jvillalobos commented on #9171
On #9177, please

[2020-03-03 12:27] #9171 closed

[2020-03-03 13:24] #9177 closed

[2020-03-03 19:31] imskr commented on #9137
I would like to work on this!

[2020-03-03 20:18] bobsilverberg commented on #9137
@imskr You can work on this if you like, but it is not one of our issues labelled specifically for contributors. We have a number of issues that have been identified as good for contributors, and those can be found at https://github.com/mozilla/addons-frontend/issues?q=is%3Aopen+is%3Aissue+label%3A%22contrib%3A+welcome%22

[2020-03-03 21:52] bobsilverberg commented on #9171
@LaurenNiolet @jvillalobos The changes to the strings have landed, so they can be translated as soon as people are able to do so.

[2020-03-04 12:01] ioanarusiczki commented on #9177
@bobsilverberg I verified this issue on AMO dev with iOS 13.3.1. I checked on FF22.0 and FF Focus 81.4
The yellow message mentioned above is displayed. The state of the install button is inactive.

<img width="291" alt="iosmessages" src="https://user-images.githubusercontent.com/33448286/75877457-7732be00-5e20-11ea-9d04-008d3c784444.png">

[2020-03-04 12:46] ioanarusiczki commented on #9171
@bobsilverberg I verified this issue on Fennec 68.5.0 and Fenix 73.0 - AMO dev (Android 9.0)

- the message for any add-on detail page on Fenix

<img width="580" alt="Fenix message on Android" src="https://user-images.githubusercontent.com/33448286/75880848-ba902b00-5e26-11ea-9e85-735d50e70034.png">

- the message for an incompatible add-on on Fennec

<img width="581" alt="incompatible on android"

[2020-03-04 16:15] eviljeff opened #9216 "Serve details of blocked addons from AMO directly"
we need an endpoint setting up that will serve details of blocked addons.  Needs to be something that accepts a guid + version, either as GET params or url components

[2020-03-04 19:00] bobsilverberg opened #9194 "Cherry-pick German and French translations needed for platform warnings"
There will not be any code landing for this specific issue, it's a placeholder to remember to do these two cherry-picks.

The German one is already available at https://github.com/mozilla/addons-frontend/commit/8b5a6ee0d8f78892ca268994f4d737bd9ef2d8ed

There are actually 3 French commits we need to cherry-pick:
- https://github.com/mozilla/addons-frontend/commit/ba1bc2d6404cc8274df001daf88ac614103

[2020-03-04 20:46] bobsilverberg opened #9195 "Integration tests are failing on circle ci"
The integration tests have been failing consistently on circle ci since https://github.com/mozilla/addons-frontend/commit/8b1cd65fac8576d37d883f2d4550a40719f86dcb. I'm guessing it might have to do with the fact that the footers changed, and maybe the tests are trying to verify something about the footer?

cc @jrbenny35

[2020-03-05 13:07] AlexandraMoga opened #9197 "Footer links headers should have the same font-size"
Follow up for #9089

### Describe the problem and steps to reproduce it:
1. Open AMO stage
2. Scroll down to the footer section
3. Observe the `font-size` used for the footer links headers

### What happened?
The `font-size` is `16px` for Add-ons and `14px` for Browser and Products

### What did you expect to happen?
We should have the same size for all the headers. I think `16px` is preferable.

[2020-03-05 13:36] AlexandraMoga commented on #9089
This is how the footer looks with three columns. I didn't find any layout issues on the various screen sizes I've checked with.

![image](https://user-images.githubusercontent.com/31961530/75985941-d31b4680-5ef5-11ea-844d-eac759ec77b5.png)

From @jvillalobos instructions, I understand that the _Browser_ column should contain the same links promoted on [Firefox download page](https://www.mozilla.or

[2020-03-05 14:57] bobsilverberg commented on #9194
I have cherry picked everything needed to bring in the new translations for French and German. I needed a few more commits than those listed above, but I recorded everything in https://github.com/mozilla/addons/blob/master/releases/2020/03/05.md.

[2020-03-05 16:13] ajinkabeer commented on #9197
Hello @AlexandraMoga. I am an outreachy applicant. Can I work on this issue please?

[2020-03-05 16:19] #9194 closed

[2020-03-05 16:42] bobsilverberg commented on #9197
Thanks for filing this issue @AlexandraMoga. I agree that 16px seems like the correct value, as that is what the older "Firefox" heading used before this change.

[2020-03-05 16:59] jvillalobos commented on #9089
Yes, we should use the new links from the Firefox download page (with our UTM params added), and the header should be _Browsers_ (plural).

[2020-03-05 16:59] jvillalobos commented on #9089
Yes, we should change that one too. Thanks.

[2020-03-05 17:10] ioanarusiczki commented on #9194
@bobsilverberg

Translations are available on dev and stage for fr and de. I don't speak them but I'm sure they do not look exactly like the doc mentions them https://docs.google.com/document/d/100dVSbAnp2irHUQXhCX_bkF-AyIuwbzIlSGa9EkcR1E/edit so I hope they're alright.

Fenix - German
![Android - German for Fenix](https://user-images.githubusercontent.com/33448286/76005701-1389bd00-5f14-11ea-9ec0

[2020-03-05 17:23] bobsilverberg commented on #9194
Thanks @ioanarusiczki. We do not expect them to look exactly the same as in the doc, so all is fine.

[2020-03-05 18:18] jrbenny35 commented on #9195
This is correct.

This line should be changed to match the "Browser" section: https://github.com/mozilla/addons-frontend/blob/master/tests/frontend/ui/pages/desktop/base.py#L176

And this line should be removed as there are only 5 links within this section now: https://github.com/mozilla/addons-frontend/blob/master/tests/frontend/ui/test_home.py#L95

[2020-03-05 20:48] ajinkabeer commented on #9197
I found that the header `'Add-ons'` is wrapped inside a `Link` element within an `h4` whereas `Browser` and `Products` are simply wrapped inside an h4 without `Link`.

So should the headers be links or just h4 elements?
@bobsilverberg

[2020-03-06 09:03] ani-sha commented on #3630
Hi @vcarciu  @kumar303, I am an Outreachy participant for May 2020. I would like to work on this issue.

[2020-03-06 09:27] AlexandraMoga opened #9200 "Update footer links from the 'Browsers' column to match those from Firefox download page"
Follow up for #9089

### Describe the problem and steps to reproduce it:
1. Open AMO stage
2. Scroll down to the footer section
3. Observe the links under the _Browser_ column

### What happened?
The column is still referencing the old Browser links used previously by the AMO footer

### What did you expect to happen?
The column should reference the links present in [Firefox download page](https:/

[2020-03-06 10:21] ajinkabeer commented on #9200
Hello @AlexandraMoga, I think I can work on it if it's possible.

[2020-03-06 10:58] muznahaftab commented on #9200
Hey @AlexandraMoga I'm an outreachy applicant. Can I work on this issue?

[2020-03-06 12:27] #9197 closed

[2020-03-06 21:05] LaurenNiolet opened #9202 "Conversions from an email not appearing in FB Container conversion dashboard"
### Describe the problem and steps to reproduce it:

### What happened?

Created a marketing email to promote Facebook Container. Sent a proof internally of the email. Clicked the link many times (~12-14) over four days and installed container with the `?src=external-email-facebookcontainer` in the url (see below for full link).

Haven't seen the parameter yet in the extension's dashboard, althoug

[2020-03-06 21:50] jvillalobos commented on #9202
I followed the same link and downloaded the extensions a couple of days ago, so I can confirm the download isn't being reflected in the [stats dashboard](https://addons.mozilla.org/addon/facebook-container/statistics/). I can see that the visits are being logged in Google Analytics, so there must be some problem recording the download or attributing it to the `src` value.

[2020-03-06 21:58] willdurand opened #9203 "Problem with opengraph description"
### Describe the problem and steps to reproduce it:

Extract the OG metadata present in this page: https://addons.mozilla.org/en-US/firefox/user/15360506/

### What happened?

The description is broken:

[code]

### What did you expect to happen?

Not that. The author's name should be present in this description.

### Anything else we should know?

(I'll add more info on Monday)

[2020-03-06 22:00] willdurand commented on #9202
Should this issue be moved to addons-server if this is about the stats dashboard?

[2020-03-06 22:04] jvillalobos commented on #9202
I'm not sure if the problem is how we handle the `src` parameter, and maybe URL redirects. That's why I asked Lauren to file it here first.