[2020-03-06 22:06] willdurand commented on #9202
Right. I am not sure I fully understand the issue yet tbh. It reminds me of https://github.com/mozilla/addons-frontend/issues/9054, although there is no mention of client-side navigation.

In terms of `src` parameter, I don't recall any specific code to handle it. Was it working before by chance? (or supposed to work?) I am curious about why this is an issue *now*.

[2020-03-06 23:24] jvillalobos commented on #9202
At least in my case, I visited the page using the direct URL mentioned above and downloaded the extension right away, so it wouldn't be the same as #9054. _Maybe_ it could be because the URL is the canonical one (no locale or application) and then it redirects to the specific one, but I still see the `src` param, so I don't know.

I can see two other values that are recorded in the dashboard for F

[2020-03-08 22:02] codeEmpress1 commented on #5529
Hi @kumar303 , I am an outreachy applicant, can I work on this issue.

[2020-03-08 22:05] codeEmpress1 commented on #8777
Hi @bobsilverberg ,  I am an outreachy applicant, I will like to give this issue  a trial.

[2020-03-08 22:14] codeEmpress1 commented on #3843
Hi, I am an outreachy applicant and I will like to work on this

[2020-03-09 08:55] willdurand commented on #3843
@codeEmpress1 thanks for your interest in this project.
You can find good first issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22). This one is a bit tricky I think.

[2020-03-09 09:04] willdurand commented on #8777
@codeEmpress1 as mentioned elsewhere I dont think this is a good first bug.
You can find issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2020-03-09 09:06] willdurand opened #9205 "Upgrade to React Router v6"
See: https://github.com/mozilla/addons-frontend/pull/9149

---

We should probably upgrade React Router to v6 but I don't know how long it will take nor how much involved it will be.

[2020-03-09 09:26] codeEmpress1 commented on #8396
Hi, I am an outreachy applicant, can I work on this issue

[2020-03-09 10:17] codeEmpress1 commented on #9205
Hi @willdurand , I'm an outreachy applicant and I would work on this issue. Can you please assign it to me

[2020-03-09 11:53] muffinresearch commented on #9202
Whilst the link in the markup looks correct. The request to download the add-on is showing as `https://addons.mozilla.org/firefox/downloads/file/3519841/facebook_container-2.1.0-fx.xpi?src=dp-btn-primary` in the browser console when installed by mozAddonManager.

So presumably we need to override the attribution to the page button if there's a src in the URL?

[2020-03-09 16:07] jvillalobos commented on #9202
Yes. I wonder how `src` is being recorded at all without that working. Would it only work if a page links directly to the XPI with the `src` set?

If you land on the listing page with a `src` set, that should be attribution we record.

[2020-03-09 17:28] jvillalobos commented on #5529
This is not a good first bug. It's part of a larger project that is currently on hold. You can find better options [here](https://wiki.mozilla.org/Add-ons/Contribute#Improve_addons.mozilla.org_.28AMO.29).

[2020-03-09 17:32] jrbenny35 commented on #9195
@bobsilverberg can you work on this?

[2020-03-09 20:34] mkaply commented on #8418
Ah, I didn't realize this would autoclose. still an issue

[2020-03-09 22:59] caitmuenster commented on #8396
Hi @codeEmpress1, welcome! Issues labled`contrib: welcome` in this repository are usually considered to be "good second bugs" or good for contributors familiar with the codebase.

You can work on this, but if you're looking for more hands-on mentorship I would recommend working on an issue labeled `[contrib: good first bug](https://addons-pm.herokuapp.com/contrib/maybe-good-first-bugs/?dir=desc&so

[2020-03-10 08:13] willdurand commented on #9195
I'll take a lopk

[2020-03-10 10:08] willdurand commented on #9205
Hi, sorry but that does not look like a good first bug. I believe this will be quite involved and this project is already a bit complex to start with. We do have a few "good first bugs" I think and we definitely have bugs opened to all contributors (labelled with `contrib: welcome`)

[2020-03-10 10:57] codeEmpress1 commented on #8396
Thanks @caitmuenster, I will study the codebase and give it a trial. Also, I have shown interest in an issue labeled `contrib: good first bug`. I can contribute on both issues.

[2020-03-10 16:59] willdurand commented on #9202
I think so, yes.

[2020-03-10 17:05] willdurand commented on #9202
I wonder how `src` is being recorded at all without that working. Would it only work if a page links directly to the XPI with the `src` set?

Edit: It's possible that `src` is only being recorded for direct download of xpis, but I am not sure (i.e. not when installed using the button).

[2020-03-11 10:41] willdurand commented on #9202
I confirm this has never worked before. Our wrapper of the `mozAddonManager` replaces the `src` value in the install URL by the default install source, all the time.

[2020-03-11 11:19] #9203 closed

[2020-03-11 11:22] #9195 closed

[2020-03-11 14:03] avgupt commented on #7907
Can I start working on this issue? Although it's a big issue, I think I can go on one page at a time.

[2020-03-11 14:08] AlexandraMoga commented on #9197
Verified fixed on stage:

![image](https://user-images.githubusercontent.com/31961530/76425523-6b13a700-63b2-11ea-9965-6e4e0c5e8753.png)

[2020-03-11 14:16] avgupt commented on #7880
@willdurand I was looking into this issue and I found the following:
1. If the uploaded image is square, it is displayed perfectly.
2. If the uploaded image is not square, the displayed image is resized according to the proportions.
I think this is the desired behaviour or should the image be resized into a square image (thus distorting its proportions)?

[2020-03-11 14:28] willdurand opened #9214 "Move `removeUndefinedProps()` to `core/utils/index.js`"
We could reuse `removeUndefinedProps()` for other purposes than just "addon stuff" so let's move this helper to a different file.

[2020-03-11 14:34] willdurand commented on #9214
Although this sounds like a good idea, the `index.j` file does not contain flow annotations so that is not possible to simply move the function from `addon.js` to `index.js`...

Let's wait until we get flow coverage on `core/utils/index.js` first.

[2020-03-11 17:08] willdurand commented on #9216
Marking as p3 for now. It needs API unless there is some sort of API spec somewhere.

[2020-03-11 17:33] willdurand commented on #7880
@avgupt I am not sure to be honest. That's why I asked a question ot @ioanarusiczki

[2020-03-11 17:41] willdurand commented on #7907
I don't think so, we do not have a specification yet so we cannot work on this issue.

[2020-03-11 20:09] willdurand opened #9217 ""This field may not be null." when trying to update my user profile (in -prod)"
For some reasons, I cannot update my user profile in production. I believe there is some sort of permission issue but I am not sure. I only see this:

![Screen Shot 2020-03-11 at 21 09 00](https://user-images.githubusercontent.com/217628/76459485-91e6d300-63dc-11ea-8c96-3bfdc7169248.png)

and the API response contains:

[code]

Note: there is no "reviewer name" field on this page.

[2020-03-11 20:13] willdurand commented on #9217
@eviljeff or @mat do users need to set a "reviewer name" when they have the permission `ReviewerTools:View`? (because that's what I have in -prod)

[2020-03-12 09:20] ioanarusiczki commented on #7880
@willdurand It's been a while since I filed this issue. Brb!

[2020-03-12 09:44] willdurand commented on #9217
So to answer my own question, the serializer uses this function to show/hide the `reviewer_name`: https://github.com/mozilla/addons-server/blob/647a0f09b893bff7ffe4140cbee7e319d65de3e5/src/olympia/access/acl.py#L154-L173

This is not exactly what we have currently in addons-frontend: https://github.com/mozilla/addons-frontend/blob/a956af9fda4f4eae7dc3c24849d1bc0942643664/src/amo/reducers/users.js#

[2020-03-12 10:37] eviljeff commented on #9217
No, it's optional.  (`allow_blank=True`)

that doesn't seem to be anything to do with `reviewer_name`

[2020-03-12 10:42] willdurand commented on #9217
mm, what about this then? https://github.com/mozilla/addons-server/blob/855464d3890d858edf9b9a6cf09dec14c7f8666a/src/olympia/accounts/serializers.py#L98-L102

[2020-03-12 10:43] willdurand commented on #9217
Does blank allow `null`? I get that it can be empty (empty string) but it is likely `None`/`null` in my case, hence the error.

[2020-03-12 10:44] ioanarusiczki opened #9219 "Make the rev tools access visible from AMO homepage for ReviewerTools:View"
Followup for : https://github.com/mozilla/addons-server/issues/13652

1. Login on AMO frontend with a user that has the ReviewerTools:View permission - this user has access to all rev tools queues in read only.
2. Observe the drop down menu below the user name

Expected result:
Reviewer Tools is displayed in the menu below Manage my Submissions.

Actual result:
The Rev tools link is missing.

Expe

[2020-03-12 10:45] willdurand commented on #9219
This will be fixed by #9218

[2020-03-12 11:03] #9217 closed

[2020-03-12 11:03] #9219 closed

[2020-03-12 11:18] eviljeff commented on #9217
yeah, it's easier to drop a serializer field if you don't want it in the response than to dynamically add one.  We only want it for reviewers.

[2020-03-12 11:24] eviljeff commented on #9217
The model allows `None` (as well as blank):
https://github.com/mozilla/addons-server/blob/master/src/olympia/users/models.py#L173:L175

But the serializer doesn't have `allow_null`, only `allow_blank` so I suspect it would error if `null` was sent:
https://github.com/mozilla/addons-server/blob/master/src/olympia/accounts/serializers.py#L80:L82

[2020-03-12 11:26] willdurand commented on #9217
ok so that explains why it failed for me. We likely send `null` instead of an empty string.

Should we change anything in addons-server? (like adding `allow_null` to the serializer?)

[2020-03-12 13:10] eviljeff commented on #9217
we could... though why would addons-frontend send `null` instead of an empty string?  The form input value is `""` isn't it?

[2020-03-12 13:48] willdurand commented on #9217
In that case, there was no field at all because of a permission problem. The permission shows a field and the field will set the value to an empty string.

[2020-03-12 14:06] eviljeff commented on #9217
So it's a problem that can't happen any more?

[2020-03-12 14:19] willdurand commented on #9217
I think so, yes.

[2020-03-12 15:54] ioanarusiczki commented on #7880
@willdurand The picture is in landscape and it is not square. I tested again on AMO dev with FF73(Win10).

[2020-03-12 17:55] avgupt commented on #7880
Instead of stretching the image, we can crop it into a square image?

[2020-03-12 18:27] willdurand commented on #9216
@jvillalobos under which URL path should these pages live now? And do we need to serve them from the `blocked.cdn...` domain or `a.m.o`?

@muffinresearch @diox I guess if we're still using the `blocked` CDN domain, we can use any URL path in the frontend as there will be some nginx redirect/config involved, no?

[2020-03-12 22:31] jvillalobos commented on #9216
Ideally I'd go with something like `AMO/blocked`, but I don't know the technical implications of that and wouldn't mind if we have to keep the old URL.

[2020-03-12 22:48] eviljeff commented on #9216
I think aiming to redirect urls from https://blocked.cdn.mozilla.net/ shouldn't be a goal here.  And can't be, practically, because the blocklist on AMO contains different data than the v1 blocklist data stored on kinto.  Things we don't have on AMO:
- blocks relating to addons that don't exist somewhere in AMO's database (i.e. they've been hard-deleted from the db at some point).  As currently im

[2020-03-13 06:56] Medlineme4 commented on #8418
Please, this issue should stay open.
I am a first timer. Hope I'm welcomed here.

[2020-03-13 07:01] Medlineme4 commented on #8418
Where you suppose to give conditions to each of the add-ons? For example, If this, install or lock.

[2020-03-13 08:35] #9202 closed

[2020-03-13 11:13] willdurand commented on #9216
So we would likely create a new page for the AMO blocklist using data coming from the API, right? No backward compatibility?

I guess we could:

1. keep the blocklist cdn for the blocklist v1 (if I understood correctly the versioning scheme)
2. create a new blocklist page for the AMO blocklist, available at `/blocked/<id>` (with `id` being a `guid` (and a `versionId` as well? Optionally or all the

[2020-03-13 14:48] kaushalinfosys commented on #8259
I am using AsyncComponent HOC to lazy load chunks, and was facing same issue.
the work around I did is, identifying the error and make a hard reload once.
[code]

the full HOC file looks like this,
[code]

[2020-03-13 14:53] diox opened #9222 "Clean up unused code around opensearch plugins"
Frontend version of https://github.com/mozilla/addons-server/issues/13729

All code supporting opensearch plugins should be removed from addons-frontend since we are no longer supporting these.

To get started, search for uses of `ADDON_TYPE_OPENSEARCH` and `INCOMPATIBLE_NO_OPENSEARCH` in addons-frontend and adjust the code to be able to remove those constants.

[2020-03-13 15:27] diox commented on #9216
Yeah I wouldn't re-use `blocked.cdn.mozilla.net` for v3, just serve from `addons.mozilla.org` under some path and aggressively cache at nginx level.

[2020-03-13 17:36] caitmuenster commented on #8418
Hi @Medlineme4, this isn't a good issue for contributors. You'll want to get started by finding an issue labeled `contrib: good first bug`.

Unfortunately, we have a shortage of good first bugs at the moment and it may be a few days before more become available. You can check [this list](https://addons-pm.herokuapp.com/contrib/maybe-good-first-bugs/?dir=desc&sort=updatedAt) for new issues.

[2020-03-13 20:21] #9054 closed

[2020-03-14 03:50] ajinkabeer commented on #9222
Hey @diox, I am outreachy applicant. I would like to take work on this issue if that's alright. :)

[2020-03-15 09:12] Medlineme4 commented on #8418
Thank you

Sent from Yahoo Mail on Android

  On Fri, Mar 13, 2020 at 6:36 PM, Caitlin Neiman<notifications@github.com> wrote:

Hi @Medlineme4, this isn't a good issue for contributors. You'll want to get started by finding an issue labeled contrib: good first bug.

Unfortunately, we have a shortage of good first bugs at the moment and it may be a few days before more become available. You can che

[2020-03-15 17:15] #2003 closed

[2020-03-16 08:07] willdurand commented on #9222
@ajinkabeer if you are familiar with javascript/react, then I'd say go ahead. If not, this might be a bit involved.

[2020-03-16 08:37] willdurand commented on #8259
Interesting, thanks @kaushalinfosys. Would you know the root cause, though?

[2020-03-16 09:59] kaushalinfosys commented on #8259
Yes, the root cause is webpack changes the chunk file name on every build considering the code has been changed, see the setting in `webpack.config.prod.js` file,
`chunkFilename: 'static/js/[name].[chunkhash:8].chunk.js',`

If we keep our application tab open and meanwhile some PROD deployment is done, and if we try to navigate the page without refreshing the page, this error will occur because th

[2020-03-16 10:07] ajinkabeer commented on #9222
Thanks @willdurand. I'll take a look.

[2020-03-16 11:21] ioanarusiczki commented on #9202
@willdurand I installed from dev this one:
 https://addons-dev.allizom.org/en-US/firefox/addon/facebook-container/?src=external-email-facebookcontainer&utm_medium=email&utm_source=2020fxnews-en&utm_campaign=feb2020&utm_content=chrta-fbc
Also this one: https://addons-dev.allizom.org/en-US/firefox/addon/facebook-containertest/?src=external-email-facebookcontainer&utm_medium=email&utm_source=2020fxne

[2020-03-16 11:37] ioanarusiczki commented on #9219
@willdurand Verified on dev with FF74(Win10).

![reviewers](https://user-images.githubusercontent.com/33448286/76754740-4725dc00-678b-11ea-85b2-0cfdca9b7fe4.gif)

[2020-03-16 11:47] ioanarusiczki commented on #9217
@willdurand I am not sure I understand it completely. I should see if a user with theme permissions mentioned[  here](https://github.com/mozilla/addons-frontend/pull/9218) will not receive the red error message while updating the profile?

[2020-03-16 11:59] ioanarusiczki commented on #9203
@willdurand I see on both dev and stage the display name as being available in og:description metadata.

![the name](https://user-images.githubusercontent.com/33448286/76756377-3a56b780-678e-11ea-99c1-655c453ca3c6.png)

Is there anything else I should check on?

[2020-03-16 12:21] AlexandraMoga commented on #9054
I've verified the navigation for add-on detail pages that contain a `src` parameter and the parameter is preserved when navigating to and back from the following pages:
- after the log in process (if the user accessed a direct link while being logged out)
- All reviews page
- All versions page
- Privacy Policy and EULA pages

One page where the `src` param is not preserved is the Custom license pa

[2020-03-16 13:04] willdurand commented on #9202
@ioanarusiczki I think observing the network requests would work too

[2020-03-16 13:06] willdurand commented on #9217
A user with `ReviewerTools:View` and no reviewer name set should be able to update their profile on AMO. This isn't the case in production because we hide the reviewer name field (hence the error message mentioned above).

[2020-03-16 13:30] willdurand commented on #9203
It's weird that stage is not affected by this issue. Could you try with an old user profile maybe?

Other than that, I think double-checking the user profile linked in the description (from -prod) will be good if we cannot "replicate" in stage.

[2020-03-16 13:33] willdurand commented on #9054
oops, you're right. We should fix this link too.

[2020-03-16 13:33] willdurand commented on #9054
@ioanarusiczki could you file a new issue for the custom licenses?

[2020-03-16 14:24] willdurand opened #9227 "Pass `src` query parameter to custom license pages"
## STR

### Describe the problem and steps to reproduce it:

1. Browse a detail page of an add-on with a custom license (page). Make sure to have a `src` query parameter in the URL. See: https://github.com/mozilla/addons-frontend/issues/9054#issuecomment-599506137

### What happened?

The `src` query parameter is not passed to this page.

### What did you expect to happen?

The `src` query paramet

[2020-03-16 14:24] willdurand commented on #9054
Nevermind, I filed https://github.com/mozilla/addons-frontend/issues/9227

[2020-03-16 14:26] willdurand commented on #9216
API is about to land.

[2020-03-16 15:24] #9227 closed

[2020-03-16 15:44] willdurand commented on #9216
@jvillalobos et al. WDYT?

![Screen Shot 2020-03-16 at 16 43 17](https://user-images.githubusercontent.com/217628/76775193-4ac65c80-67a5-11ea-8e9d-07efc9ad7c3a.png)

[2020-03-16 15:50] willdurand commented on #9216
Question: the API exposes min/max versions, do we need to display these values somewhere?

[2020-03-16 17:08] eviljeff commented on #9216
"Add-ons" and violating "multiple policies" - it'd just be a single add-on that possibly only violated one policy?

Not sure if we need to expose the guid somewhere (I do think we need to make it clear what versions are blocked)

[2020-03-16 17:40] jvillalobos commented on #9216
Looks good!

"Add-ons violating multiple policies" is in the name field for some blocks. Presumably the new blocks would just show the add-on name there instead.

We could add the versions blocked directly above the last line. Something like

I don't think we need to include the GUID.

[2020-03-16 17:43] willdurand commented on #9216
Good idea so we need to expose the add-on name in the API. /cc @eviljeff

:+1:

[2020-03-16 18:15] willdurand commented on #9216
Updated preview:

![Screen Shot 2020-03-16 at 19 13 39](https://user-images.githubusercontent.com/217628/76787974-57a17b00-67ba-11ea-8d64-e00ec32c5082.png)

Note: the blocklist API does not expose the add-on name yet so it isn't there. I think we should expose it in the API response, though. That will save an API call and more frontend complexity.

[2020-03-16 18:16] willdurand commented on #9216
Other question: the `reason` seems to be optional, so what would be a good fallback? For now, I have:

[2020-03-16 21:20] jvillalobos commented on #9216
Looks good. I'd tweak it to:

I'm also thinking it should be included regardless of there being a custom `reason` or not. It would be the first paragraph, and then the `reason` would be the second paragraph, if present. /cc @wagnerand @caitmuenster

[2020-03-16 22:54] #4235 closed

[2020-03-17 05:10] ItielMaN commented on #7014
My previous comment still stands.

[2020-03-17 08:13] AlexandraMoga commented on #9227
Verified fixed on -dev:

![2020-03-17_10-12-45](https://user-images.githubusercontent.com/31961530/76835510-e86a6c00-6837-11ea-8a0b-04710dda7626.gif)

[2020-03-17 12:43] harshv47 commented on #6773
Hi @ioanarusiczki , can I work on this please?

[2020-03-17 12:48] ioanarusiczki commented on #9217
@willdurand The user I added in the Reviewers:read only group from admin tools dev which has the  ReviewerTools:View permission does not have on the edit profile page a reviewer name field.
I added or removed info from the profile and I did not receive any errors.

![no username error](https://user-images.githubusercontent.com/33448286/76857488-36926600-685e-11ea-96b4-49ae825f43ae.gif)

Verified o

[2020-03-17 12:51] willdurand commented on #9217
mmm, @wagnerand do you know which permissions my user in production has?

[2020-03-17 13:35] ioanarusiczki commented on #9203
@willdurand It's a strange situation the one from prod. My old prod account shows the name in og:description. However I tested again with an old and a new account too (the og:description metadata is available in this case only after submitting an add-on). In all cases the name was displayed.
I can confirm that your example won't show the name. I hope the fix will help.

Verified on dev with FF74(W

[2020-03-17 13:45] ioanarusiczki commented on #9217
@willdurand That would be great if we could find out the info from @wagnerand so I could do a correct check.

[2020-03-17 14:07] wagnerand commented on #9217
@willdurand @ioanarusiczki I sent you both a DM with the details.

[2020-03-17 14:30] ioanarusiczki commented on #9202
@willdurand It worked for me:

![it worked](https://user-images.githubusercontent.com/33448286/76866076-47e26f00-686c-11ea-9f7d-209b76ad618d.png)

Verified on dev with FF74(Win10).

[2020-03-17 14:56] willdurand commented on #9216
@jvillalobos currently, the URL takes the GUID as parameter. Should we change that?

[2020-03-17 16:19] willdurand opened #9231 "Add api code to call the blocklist API"
supports https://github.com/mozilla/addons-frontend/issues/9216

[2020-03-17 16:45] willdurand opened #9233 "Add reducer/saga code to handle (blocklist) blocks"
supports #9216

[2020-03-17 20:16] jvillalobos commented on #9216
Pre-v3 versions of Firefox will link to pages like https://blocked.cdn.mozilla.net/41a53d4b-120a-4ab0-9dbc-8a8d3802b734.html, using the `blockId`, which I assume will redirect to the AMO pages. So, I think we'll need to support the old block IDs somehow.

[2020-03-17 20:24] eviljeff commented on #9216
Handling redirects from https://blocked.cdn.mozilla.net isn't part of the MVP for early April though, is it?  It's problematic because of the things I mentioned https://github.com/mozilla/addons-frontend/issues/9216#issuecomment-598465968

[2020-03-17 21:11] jvillalobos commented on #9216
Ah, I think I misread some of the backlog. If we're keeping https://blocked.cdn.mozilla.net for the older clients, then we don't need to worry about the `blockID` in the new version.

[2020-03-18 09:12] willdurand commented on #9216
I filed https://github.com/mozilla/addons-server/issues/13757

[2020-03-18 09:12] willdurand commented on #9216
Ok, that sounds good. Thanks

[2020-03-18 09:13] willdurand commented on #9216
Indeed, we keep the blocked CDN as is. /cc @diox

[2020-03-18 09:16] willdurand commented on #9216
Latest UI state:

![Screen Shot 2020-03-18 at 10 15 45](https://user-images.githubusercontent.com/217628/76944540-7cecd100-6901-11ea-8b42-9c8fd51f1a3f.png)

[2020-03-18 09:16] willdurand commented on #9216
**Question:** I am thinking about feature-flagging this new page? Does that make sense?

[2020-03-18 09:19] eviljeff commented on #9216
can you highlight which text is coming from block.reason?

[2020-03-18 09:19] willdurand commented on #9216
`block.reason` is the second paragraph in the first section. I added a new screenshot with the loading state so hopefully it is a bit more obvious.

[2020-03-18 11:04] #7880 closed

[2020-03-18 11:32] willdurand commented on #8259
mm, thanks. That's interesting because I did not think about that. I am confused because we have errors coming almost all the time in Sentry and we deploy only once a week 🤔

[2020-03-18 12:44] ioanarusiczki opened #9237 "The photo section's layout is broken on dev on edit profile page"
I think it's a regression caused by https://github.com/mozilla/addons-frontend/issues/7880

STR:
1. Go to edit my profile and add an image
2. Observe the page

Expected result:
No layout issues

Actual result:
The layout is broken.

Examples:
![on dev profile picture](https://user-images.githubusercontent.com/33448286/76961755-96ecda80-6926-11ea-8520-421732521dc0.png)

for a larger image

![test](

[2020-03-18 12:46] ioanarusiczki commented on #7880
@willdurand On the view profile - a square image is available now and looks good to me but I'm afraid this introduced a regression https://github.com/mozilla/addons-frontend/issues/9237

[2020-03-18 12:50] ioanarusiczki commented on #9217
@willdurand With the given permissions I could not reproduce the issue on dev. This type of user doesn't have a rev tool name field to fill in edit profile page.

[2020-03-18 13:57] willdurand commented on #9217
ha, well I guess I'll check in prod then

[2020-03-18 13:59] willdurand commented on #9237
oh, interesting.

[2020-03-18 14:13] #9200 closed

[2020-03-18 14:56] championshuttler opened #9239 "Integration tests are failing on circle ci"
After my latest commit https://github.com/mozilla/addons-frontend/commit/5a55cd35e7b9879fcb9d6095f628db69b623225e , integration tests are broken ,

[code]

[2020-03-18 14:56] #9231 closed

[2020-03-18 15:43] #9237 closed

[2020-03-18 15:45] #9239 closed

[2020-03-18 16:26] championshuttler opened #9241 "Extra link in integration tests need to be removed"
https://circleci.com/gh/mozilla/addons-frontend/19921

`firefox/channel/desktop` is the extra one , needs to be remove , breaking the tests

[code]

[2020-03-18 17:00] #9241 closed

[2020-03-19 01:15] Ebenezer997 commented on #9077
@ebenezer97 I would love to work on this issue, does anyone has suggestions for me since this is my first issue.

[2020-03-19 04:38] Bostyan commented on #8513
What I like to find is how removed Firefox version view for websites? At home on all computers is Firefox 52 if only was group of devs and keep Firefox up to date with old addons will be awesome!! Browsers are really bad developed... they do not have anything useful for better and faster browsing. No sidebar, no multi-row, no Tab Groups... Using additional window to see pages names are we in stone

[2020-03-19 09:57] #6308 closed

[2020-03-19 09:57] willdurand commented on #9205
See also: https://github.com/mozilla/addons-frontend/issues/7727

[2020-03-19 09:58] #2118 closed

[2020-03-19 10:09] willdurand commented on #2764
@jvillalobos so I believe we still want to do this, right?

Do you think we should have a new `Card` like this on the left side?

![Screen Shot 2020-03-19 at 11 06 51](https://user-images.githubusercontent.com/217628/77055795-cf95be00-69d1-11ea-8f33-14729b7d883f.png)

Or should we add a (larger) card on the right panel?

![Screen Shot 2020-03-19 at 11 08 36](https://user-images.githubusercontent.c

[2020-03-19 10:11] willdurand commented on #2307
So I think we can close this issue now. We use translator comments already and we likely won't review all the `gettext()` calls anyway.

[2020-03-19 10:11] #2307 closed

[2020-03-19 10:13] willdurand commented on #9049
Marking this issue as contributor friendly.

[2020-03-19 10:20] willdurand commented on #9217
@ioanarusiczki FWIW, my user has `reviewer_name` set to `null` in the API response (to fetch user information). I don't know how this is possible but if you manage to have a user with `reviewer_name: null` and the same permissions mentioned above, then you should be able to reproduce.

[2020-03-19 14:10] avgupt commented on #2756
@willdurand @caitmuenster Can I take up this issue?

[2020-03-19 14:14] willdurand commented on #2756
I think so, yes.

We have a `Admin Links` section in the `AddonMoreInfo` card/component. I think we could add a similar section for "Author Links". @jvillalobos WDYT?

[2020-03-19 15:32] caitmuenster commented on #9077
Hi @Ebenezer997, see my comment above from Jan 23. :)

[2020-03-19 15:50] jvillalobos commented on #2756
Yes, that sounds good. I think we only need one `Edit Add-on` link, which is the same we have in the Admin section.

[2020-03-19 15:52] jvillalobos commented on #2764
Per pwalm's comment from before, it should be on the right panel.

[2020-03-19 22:04] muskangupta-iitr commented on #8827
Hi @willdurand, I am Outreachy aspirant and interested to proceed further with this task as it is open for all.

[2020-03-20 04:03] xlisachan commented on #2764
@willdurand I'm an Outreachy applicant, can I work on this issue?

[2020-03-20 04:41] nisamova commented on #9049
Hello
I am with Outreachy program in May 2020. Is this issue available to work/contribute? Thank yu

[2020-03-20 04:43] snitin315 commented on #9049
Yes.

[2020-03-20 04:52] nisamova commented on #9049
I apologize if it is a bad question. Here is the question: I would like to contribute. What steps should I take to make first contribution? Meaning where would I be able to get more info? Thank you

[2020-03-20 05:18] snitin315 commented on #9049
First go through the README, setup the project locally and play around with the project to get yourself familiarized.

[2020-03-20 08:06] willdurand commented on #9049
@snitin315 is right. Read the README and make sure you can run this website locally first.

If you are familiar with javascript (and maybe React), this is a probably a good (yet a bit challenging) issue. Otherwise I'd suggest looking for something else (that is a bit easier to get familiar with the language and so on) first.

[2020-03-20 08:09] willdurand commented on #2764
Yes. If you're familiar with JS/React, then you should be able to work on this. Start by looking at the README file to install the project locally (use `yarn amo:dev`). Then, see how you could introduce a new "Card" named "Developer's comments" as shown below:

![](https://user-images.githubusercontent.com/217628/77055938-ff44c600-69d1-11ea-8915-caedfab7410e.png)

The API exposes the comment in th

[2020-03-20 08:12] willdurand commented on #8827
@muskangupta-iitr hi, I assigned you to this issue.

[2020-03-20 08:57] muskangupta-iitr commented on #9049
@willdurand I am interested in this issue. There is a component `LoadingText` which contains the placeholder for texts when component loads. For image, instead of making a different component, we can create a generalized component containing both image as well as text loaders. IN future, if we further loader it can be placed here. Can you please assign me this issue ?

[2020-03-20 10:25] willdurand commented on #9049
@muskangupta-iitr so @snitin315 expressed interest first so I'd recommend you to try to find something else for now :)

[2020-03-20 12:42] muskangupta-iitr commented on #2758
@willdurand @jvillalobos Can I take up this issue for adding related categories in `More Information` section of add-ons ?

[2020-03-20 13:21] willdurand commented on #2758
Yep

[2020-03-20 13:46] willdurand opened #9248 "Update `SearchTools` page component"
The `SearchTools` component continues to render a list of extensions but only when we navigate to the page in the client, which shouldn't be possible anymore.

We should change the behavior of this component to return a `NotFound` component instead.

**For QA:** I think adding a link to `/search-tools/` somewhere (like in an add-on detail page or something) would allow you to navigate to the searc

[2020-03-20 14:08] #9222 closed

[2020-03-20 14:34] willdurand commented on #8777
@codeEmpress1 if you know a bit of JS, please go ahead!

[2020-03-20 14:44] willdurand opened #9249 "Add add-on name to the `Block` page"
The API now exposes the add-on name for a block: https://github.com/mozilla/addons-server/issues/13757. This issue is about using this name in the `Block` page.

Note: it is possible that some blocks won't have a name (it will be set to `null` in the API response). In this case, we'll display a generic message.

[2020-03-20 15:52] #9233 closed

[2020-03-20 16:15] willdurand opened #9250 "Show "all versions" when a block has min = 0 and max = *"
See: https://github.com/mozilla/addons-frontend/pull/9236#discussion_r394357051

---

Instead of showing:

let's show:

in the newly added "block" page.

URL of a block in local dev (when using `yarn amo:dev` locally): http://localhost:3000/en-US/firefox/blocked/%7B46551EC9-40F0-4e47-8E18-8E5CF550CFB8%7D/

[2020-03-20 16:44] valkyr13 commented on #9250
@willdurand can i work on this?

[2020-03-20 17:08] valkyr13 commented on #3630
@vcarciu @kumar303 I'm an Outreachy applicant, can I work on this issue?

[2020-03-20 17:09] willdurand commented on #9250
I think so but https://github.com/mozilla/addons-frontend/pull/9236 has to land first.

[2020-03-20 17:18] #9216 closed

[2020-03-20 18:21] kumar303 commented on #3630
Hi, thanks for your interest. @muffinresearch maybe you could help coordinate?

[2020-03-20 18:25] nisamova commented on #9049
thank you for giving me a chance. I would like to experiment by creating a parent component that will have two child components which are image and text. Apply respective grid styles for each, and default properties as well. Each component should have a default prop so both image and text can further be self-functioning. I will be honest, I am new to React (used it while building Gatsby website, a

[2020-03-20 18:50] #9249 closed

[2020-03-20 20:25] muskangupta-iitr commented on #2758
@willdurand Just want to ask few doubts:
For example: Categories for `DuckDuckGo Plus` looks like:
[code]
Do we need to show both categories or check the clientApp whether it is `firefox` or `android` and then list categories accordingly ?
For UI, I am thinking to show categories as same as in the [extension section](https://addons.mozilla.org/en-US/firefox/extensions/). Any comments ?

[2020-03-20 21:28] jvillalobos commented on #2758
Yes.

See the mockup in [this comment](https://github.com/mozilla/addons-frontend/issues/2758#issuecomment-339620743) for how it should look.

[2020-03-21 07:48] muskangupta-iitr commented on #2758
Any suggestion on this?

[2020-03-21 08:35] muskangupta-iitr commented on #2758
@willdurand @jvillalobos I have created a draft PR becuase currently category name is not coming with the object. Please review the current changes and how we further proceed on this ?

[2020-03-21 09:18] muskangupta-iitr commented on #8860
@jcsteh I am Outreachy aspirant and would like to solve this issue. As you said, I tried solving this issue using `tabIndex="-1"` and it worked.

[2020-03-21 14:06] willdurand commented on #2758
Yeah, we'll have to look into the `categories` reducer to see if we have the categories loaded (and fetch them otherwise). This is going to be complex :)

[2020-03-21 20:05] muskangupta-iitr commented on #2758
@willdurand Can we fetch a category details individually using its slug? or Can we fetch all categories related to a addon separately?

[2020-03-21 21:58] muskangupta-iitr commented on #3169
@tofumatt @vcarciu I am an Outreachy aspirant and interested in solving this issue. i am working on Ubuntu(18.04) operating system. So, according to filters my platform should be `linux` but when I saw the api reducer `userAgentInfo`, it is showing as `Ubuntu`.
Here is the screenshot:

![Screenshot from 2020-03-22 03-19-28](https://user-images.githubusercontent.com/50856599/77237263-8a99a380-6bec-

[2020-03-22 00:03] tofumatt commented on #3169
Hi @muskangupta-iitr! Thanks for looking into this issue. Unfortunately I haven't worked on this project for a few years so am not the best person to handle support for the project 😞

Sorry about that! But hopefully someone else currently working on the project can help out 🙂

[2020-03-22 09:34] muskangupta-iitr commented on #3169
No Problem :smile:

[2020-03-22 15:27] muskangupta-iitr opened #9255 "[warning] Console warning for adding key in the SiteNoticesBase"
### Describe the problem and steps to reproduce it:
There is warning coming in logs for adding a unique key to the list items in SiteNoticesBase component.
Here is the Screenshot:

![Screenshot from 2020-03-22 20-42-35](https://user-images.githubusercontent.com/50856599/77253380-ba45bb80-6c7f-11ea-9666-3333b0de205e.png)

I would like to solve this issue!

[2020-03-23 01:37] caitmuenster commented on #3169
Hey @muskangupta-iitr, welcome! Do you want to give issue 2756 a try? It might be a little gentler as a first bug. :)

[2020-03-23 09:55] willdurand commented on #9255
**For QA:** please make sure the site notices can still be displayed. There are 2 notices:

- the one we see in the screenshot attached above
- the read-only one

Ideally we should test without notices, with 1 notices and with the 2 notices. There should be no visual regression and I think testing the homepage and one other page should be enough.

[2020-03-23 09:55] #9255 closed

[2020-03-23 10:22] willdurand commented on #9049
@nisamova alright so I would recommend you to start running this project locally (see the README file). Then you should take a look at the [`HeroRecommendation`](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/HeroRecommendation/index.js) component. There are a few `LoadingText` components displayed. Those are the components that produce the loading effects.

The idea wou

[2020-03-23 10:37] ioanarusiczki opened #9260 "The user cannot log back in from the frontend pages after an admin resets their session"
Followup for https://github.com/mozilla/addons-server/issues/13705
STR:
1. A new button was introduced in admin tools - Reset session(s)
2. Click a link from the user profile drop down menu such as my collections, click the FF logo to reload AMO
3. Try to log out

Expected result:
The user should be redirected to the fxA page to log back in.

Actual result:
The user receives "Incorrect authenticat

[2020-03-23 11:12] muskangupta-iitr commented on #3169
Thanks for your response @caitmuenster. I will look into that issue but just want to discuss this bug as I already solved it. For Ubuntu, It is not detecting it as Linux.

[2020-03-23 11:14] muffinresearch commented on #3630
@ani-sha, @valkyr13 this issue is probably not the best place to start, maybe take a look at something from this list https://github.com/mozilla/addons-frontend/issues?q=is%3Aopen+is%3Aissue+label%3A%22contrib%3A+outreachy%22

[2020-03-23 11:34] muskangupta-iitr commented on #2756
As you said we only need one link that is already present so I think this issue is already completed. Am I correct or any further changes required ?

[2020-03-23 12:03] AlexandraMoga commented on #9200
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/77314782-fe33d180-6d0e-11ea-94f0-a3bd75af4698.png)

[2020-03-23 12:04] muskangupta-iitr opened #9261 "[TODO] Object.values() can be used instead of Object.keys()"
### Describe the problem and steps to reproduce it:
In file `core/reducers/languageTools.js`, there is a TODO which can be fixed now as the issue is solved for Object.values().
TODO task:
[code]

### What did you expect to happen?
We can replace `Object.keys(byID).map((key) => byID[key]);` can be replaced with `Objects.values(byID)`.

i would like to take up this TODO task.

[2020-03-23 12:04] muskangupta-iitr commented on #9261
@willdurand Any comments?

[2020-03-23 12:23] AlexandraMoga commented on #9216
@willdurand what's the URL for the block page? I can seem to find it mentioned in the comments above.

[2020-03-23 13:10] #9261 closed

[2020-03-23 13:28] muskangupta-iitr commented on #9250
@willdurand Is there any UI for this particular task?

[2020-03-23 14:07] willdurand commented on #9216
@AlexandraMoga sorry, it is `/blocked/{guid}/`.

[2020-03-23 14:10] willdurand commented on #9250
No. It's the textual content that needs to be updated when `min_version` is equal to 0 *and* `max_version` is equal to `*`.

[2020-03-23 14:13] willdurand commented on #2756
Yes and no. The link is only shown to admins, not authors of the add-ons. Admins are special users that have access to all kind of features on AMO (admins are Mozilla employees). Authors are developers or theme artists for instance. Those are end users and they don't see the admin links.

So the issue is still valid and we still need to show this link to them.

I suggest we add a "Author Links" (s

[2020-03-23 14:25] willdurand commented on #2758
@muskangupta-iitr so we can't fetch one category but we can fetch all the categories (once!) and then use them. This is how we do it for category pages: https://github.com/xlisachan/addons-frontend/blob/4c604542c6f8d785bfe7586df3d677f0355584fd/src/amo/components/Categories/index.js#L87

We will have to make sure that we only fetch the categories if we need to. There is a `categories` reducer that

[2020-03-23 14:28] AlexandraMoga commented on #9216
@willdurand  I'm receiving a redirect to `https://blocked.stage.mozaws.net/{guid}/.html`. The exact URL I was using: `https://addons-dev.allizom.org/en-US/firefox/blocked/{guid}/`

[2020-03-23 14:36] willdurand commented on #9216
Ugh, right. It turns out that we are already using this path for the (kinto) blocklist... I guess we would need to find a new path :|

[2020-03-23 15:13] Albaalah commented on #9250
can I work on it, please?

[2020-03-23 15:14] muskangupta-iitr commented on #2758
Ohk @willdurand I will update the PR with the suitable changes. Thanks :+1:
But why can't we add a API for fetching a single category as it might be used in future or we can serialize the addon category with whole category serializer?

[2020-03-23 15:15] Albaalah commented on #8396
can I work on it seeing as it's still open?

[2020-03-23 15:17] Albaalah commented on #6773
can I please work on it?

[2020-03-23 15:18] willdurand commented on #9250
sorry, no. this one is assigned to @muskangupta-iitr

[2020-03-23 15:28] Albaalah commented on #9248
Hi @willdurand , can I work on this?

[2020-03-23 15:31] Albaalah commented on #8777
Hello @willdurand can I please work on this?

[2020-03-23 15:31] willdurand commented on #9248
i
This issue is for outreachy applicants. If you're not an outreach applicant,
you can find issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2020-03-23 16:02] Albaalah commented on #9250
Didn't see it assigned to anyone which is why I asked :) got it, thanks

[2020-03-23 16:05] Albaalah commented on #9248
@willdurand let me introduce myself. I'm albaalah, an Outreachy applicant. I would like to work on this issue as a part of my application process, please. Thank you

[2020-03-23 16:34] willdurand commented on #9248
@Albaalah ah, cool! Then I guess it is fine to start with this issue if you already know JavaScript and React. In any case, the first step would be to install and run this project locally. How does that sound?

[2020-03-23 16:37] willdurand commented on #8777
@Albaalah not sure right now because @codeEmpress1 expressed an interested in working on this issue first

[2020-03-23 21:18] muskangupta-iitr commented on #8860
@muffinresearch @eviljeff @jcsteh I have created a PR for this. Waiting for your review :smile:

[2020-03-23 22:35] #2764 closed

[2020-03-23 23:04] bqbn commented on #9216
Agreed! And I asked a question in https://bugzilla.mozilla.org/show_bug.cgi?id=1624357#c1 to the similar concern. Can someone tell me exactly which endpoints need to be aggressively cached?

Please comment in either the bugzilla ticket or here to let us know.

Thanks!

[2020-03-24 02:34] nisamova commented on #9049
I went ahead and added margin-left to.LoadingText in styles.scss. This allowed loading indicators(loading skeleton) shift from center to right side where the text currently renders after the download. As we expected the image space is empty. The changes are reflected in the desktop(not on mobile view yet) only. Is this the possible expected solution for issue #9049? In other words am I in the righ

[2020-03-24 02:46] nisamova commented on #9049
@willdurand how would you like to check ? should I create a pull request? Thank you

[2020-03-24 03:08] snitin315 commented on #9049
Yes create a pull request , and move the discussion there.

[2020-03-24 07:39] ioanarusiczki commented on #7880
@willdurand
This is how the image looks croped on dev:

![image on dev](https://user-images.githubusercontent.com/33448286/77399906-02192f80-6db3-11ea-81de-74d8e7483084.png)

This is before the square crop on stage:

![this is on stage](https://user-images.githubusercontent.com/33448286/77399941-12c9a580-6db3-11ea-9d8e-d55a55c558fb.png)

I think that without a warning message that the image is goi

[2020-03-24 07:45] ioanarusiczki commented on #9237
@willdurand This is no longer reproducible on dev with FF74(Win10).

![fine on AMO dev](https://user-images.githubusercontent.com/33448286/77400668-33462f80-6db4-11ea-941b-8820d101559c.png)

[2020-03-24 07:49] muskangupta-iitr commented on #9049
@nisamova I think instead of shifting the text to left, you can add another loading test for the image having some height. And giving margin-left a hard coded values isn't a good practice as it will vary according to screen sizes and resolution. You can use flex-box or position.

[2020-03-24 07:56] muskangupta-iitr commented on #2758
@willdurand For now I pushed a commit in which I am fetching categories in `AddonMoreInfo` component and it's working fine. But I am facing problems in writing its tests for categories.

[2020-03-24 10:39] willdurand opened #9269 "Temporarily serve blocked pages under a different path"
We currently serve the blocked pages under `/blocked/` but it was already used for something else so it does not work and QA cannot verify these new pages. Let's add a new URL in addition to the current one for QA.

I suggest `/addon-blocked/`.

[2020-03-24 11:18] bobsilverberg commented on #9269
@willdurand I'm late to this conversation/feature, so I don't really understand the context, but is there a reason we must serve this under `/blocked/` in production? I see the other issues about changing the nginx config, but why not just permanently serve this as `/addon-blocked/` and treat `/blocked/` as already in use?

[2020-03-24 11:18] Albaalah commented on #9248
@willdurand I am familiar with JavaScript and React. I have successfully installed and run the project locally. I have tried to reproduce the issue and I'm confused with what we mean by _but only when we navigate to the page in the client_. Could you kindly explain the issue a bit more maybe with a screenshot, please?

[2020-03-24 11:19] willdurand commented on #9269
That's a Product decision. We'll change the path only if we can't have the nice `/blocked/` path.

[2020-03-24 11:53] muskangupta-iitr commented on #8418
@willdurand @eviljeff I am unable to reproduce the error. As mentioned above in the coments, we have to add policy to lock an addon, where I have to add that policy? Can anyone guide me on this?

[2020-03-24 12:17] #9269 closed

[2020-03-24 12:17] bobsilverberg commented on #8418
@muskangupta-iitr It looks like what needs to be done to reproduce the error is described at https://github.com/mozilla/addons-frontend/issues/8418#issuecomment-519950189.

[2020-03-24 12:21] #9250 closed

[2020-03-24 12:26] willdurand commented on #9216
@AlexandraMoga we added a second path to browse these pages in https://github.com/mozilla/addons-frontend/issues/9269 so that you can verify the feature.

[2020-03-24 14:05] ioanarusiczki commented on #9222
@willdurand I tested on dev with FF74(Win10) around what was mentioned it the [requirements](requirement) and I did not find issues/regressions.

[2020-03-24 14:25] ioanarusiczki commented on #9255
@willdurand I tested with the site notice and without it - looks alright to me.

I think that the read only warning cannot be set using admin tools. Can you help?

[2020-03-24 14:39] willdurand commented on #8396
Sorry @Albaalah, this one is already taken.

[2020-03-24 14:42] willdurand commented on #7880
Right, that does not sound optimal.

[2020-03-24 15:01] AlexandraMoga opened #9271 "Remove HTML tags in the `reason` of a block (new "blocked" pages)"
Follow up for #9216

### Describe the problem and steps to reproduce it:
1. Open the following block page: https://addons-dev.allizom.org/en-US/firefox/addon-blocked/firefoxaddon@youtubeenhancer.com/
2. Observe the reason text from "Why was it blocked" section

### What happened?
HTML present in the reason entered in blocklist admin is not formatted

### What did you expect to happen?
We should sh

[2020-03-24 15:02] AlexandraMoga commented on #9216
I've verified the new blocklist pages with several block examples. The page  is public, it can be accessed by all users (authenticated or not).

I haven't noticed issues with the page layout and all links are functional*

![image](https://user-images.githubusercontent.com/31961530/77436201-e1210080-6deb-11ea-8de5-69776f888504.png)

@willdurand *since the URL field is optional in blocklist admin, t

[2020-03-24 15:07] willdurand commented on #9216
ah, that looks like a bug. The link was supposed to be hidden in that case (and I thought we had a unit test for it, ugh)

[2020-03-24 15:08] willdurand commented on #9271
Do you know, by chance, which HTML tags are allowed? I did not know HTML could be used there. /cc @eviljeff

[2020-03-24 15:11] AlexandraMoga commented on #9249
Verified fixed on -dev.
The add-on name is displayed in the page title and in the card header:

[with add-on name present]
![image](https://user-images.githubusercontent.com/31961530/77441709-69a29f80-6df2-11ea-9adf-75d9c1cf553b.png)

[with add-on name `null`]
![image](https://user-images.githubusercontent.com/31961530/77441690-64455500-6df2-11ea-9a77-ba2a212f104e.png)

[2020-03-24 15:13] AlexandraMoga commented on #9269
The blocked addon page can be accessed on -dev from the new `/addon-blocked/` URL.

[2020-03-24 15:22] eviljeff commented on #9271
We don't filter it at all currently given it's super powered admins that create the blocks.  I'd _hope_ it's just `<a>`.  @wagnerand might have a more insight about it, but it'll be whatever is currently in use in the existing blocklist records.

[2020-03-24 15:30] ioanarusiczki commented on #2764
@willdurand The Developer comments section is available on the detail pages:
As you can see below, the text from this section will fill more of the area reserved compared to "About this extension" section.

Can't tell if it's fine that way. Maybe they should look alike ?

![developer comment layout](https://user-images.githubusercontent.com/33448286/77442401-0ebd7800-6df3-11ea-9fa8-811f43cc7fcd.pn

[2020-03-24 15:32] willdurand commented on #2764
Ah, good catch. Could you please file a new issue for that?

[2020-03-24 15:33] Standard8 opened #9284 "OpenSearch AMO engines are not recognised as already being installed"
From https://bugzilla.mozilla.org/show_bug.cgi?id=1623063

**Steps to reproduce**
1. Launch Firefox
2. Add the Search bar in the toolbar
3. Go to https://addons.mozilla.org/en-US/firefox/
4, Click on the plus sign on the magnifying glass in the search bar
5. Click on Add "Firefox Addons (en-us)"

### What happened?
The search engine was added to the list of engines. However, the plus sign and the

[2020-03-24 15:36] AlexandraMoga opened #9272 "Hide the 'View block request' link if the URL is empty"
Follow up for #9216

### Describe the problem and steps to reproduce it:
1. Open the following blocked addon  page: https://addons-dev.allizom.org/en-US/firefox/addon-blocked/pt-BR-1971@dictionaries.addons.mozilla.org/
2. Click on the 'View block request' link

### What happened?
You land on AMO homepage

### What did you expect to happen?
The 'View block request' link should be hidden in this cas

[2020-03-24 15:37] AlexandraMoga commented on #9216
Filed #9272

[2020-03-24 15:40] ioanarusiczki opened #9273 "Text alignment in the detail page sections should look alike"
STR:
Followup for https://github.com/mozilla/addons-frontend/issues/2764
A new section is now available on the add-on detail page, it's the "Developer comments" which is right below the "About this extension" . While testing I've noticed that the layout of the text is different.

As an expected result:
Both sections should display the text the same way. I can't tell which is fine. @jvillalobos Ple

[2020-03-24 15:57] willdurand commented on #9273
Here is an add-on in -dev: https://addons-dev.allizom.org/en-US/firefox/addon/34esperanto-language-pack/

[2020-03-24 16:01] willdurand commented on #7880
We decided to revert the patch for this issue and to mark this issue as wontfix.

[2020-03-24 16:02] willdurand opened #9275 "Revert recent user profile avatar changes"
We fixed https://github.com/mozilla/addons-frontend/issues/7880 recently but it looks less nice than before so we want to revert these changes.

[2020-03-24 16:10] wagnerand commented on #9271
Does anyone have the kinto id for that block?

[2020-03-24 16:10] wagnerand commented on #9271
@AlexandraMoga Or did you put actual HTML in the reason field?

[2020-03-24 16:10] willdurand commented on #9272
It turns out that the `url` is not empty for the block mentioned above. Here is the API response:

[code]

I'm going to transfer this issue to addons-server.

@eviljeff looks like the outgoing link wrapper is the problem because without the query parameter, it returns an empty string:

[code]

[2020-03-24 16:15] eviljeff commented on #9271
it's https://blocked.cdn.mozilla.net/i636.html

[2020-03-24 16:17] bobsilverberg commented on #2758
@muskangupta-iitr I can help you with this. I'll take a look at the PR later and we can discuss it there.

[2020-03-24 16:26] wagnerand commented on #9271
I don't think we should try and render HTML in the blocklist reason. We should assume it's plain text and we should probably remove all HTML from existing records.

[2020-03-24 16:29] orsay54 opened #9277 "I cannot view my Collections in PERSONAS in Firefox v 74.0."
Hello,
I use to be able to add/view a theme to my Collections in Firefox.
I can still add a theme but I cannot view the themes. Its says there an error. That it cannot be viewed at this time.. This started YEARS ago when you guys redesigned the program.

Thanks if you can fix this problem.
Pat

[2020-03-24 16:43] accakks commented on #8777
hi @willdurand  I'm also an Outreachy applicant. Can you suggest me some issues to work on, it seems all 4 are being worked on?

[2020-03-24 18:18] #9275 closed

[2020-03-24 20:25] muskangupta-iitr opened #9281 "[error] Site notice content overflowing the div"
### Describe the problem and steps to reproduce it:
Site notice content overflowing the div when It contains a long non-breaking word.

#### Screenshot:

![Screenshot from 2020-03-25 01-52-05](https://user-images.githubusercontent.com/50856599/77473343-5667f200-6e3b-11ea-9625-81265ebdf97f.png)

#### Solution:
It can be solved by `word-break: break-word` style.

![Screenshot from 2020-03-25 01-54-5

[2020-03-24 20:35] jvillalobos commented on #9277
If you mean the Personas Plus extension, it was discontinued a while ago. You can still access your collections if you go to addons.mozilla.org and log in.

[2020-03-24 20:35] #9277 closed

[2020-03-24 20:38] jvillalobos commented on #9273
The "About this extension" section has the correct look, judging by [how it currently looks in prod](https://addons.mozilla.org/addon/adblock-plus/).

[2020-03-24 20:42] muskangupta-iitr commented on #2758
@bobsilverberg Thanks! I will let you know once I got stuck anywhere.

[2020-03-24 20:53] muskangupta-iitr commented on #9271
@willdurand @eviljeff @wagnerand Just wanted to add somthing, we can check if the plain text we are receiving contains any kind of html by simple piece of code I found on stack overflow.
[code]
If it returns true than we can dangerously renders the html else renders it as plain text.

[2020-03-25 07:16] ioanarusiczki commented on #9217
@willdurand Alright! I'm going to take a look at this again.

[2020-03-25 07:52] willdurand commented on #9217
I verified in prod and it worked for me :)

[2020-03-25 08:55] ioanarusiczki commented on #9275
@willdurand I verified the dev and stage servers. Look alright to me, the changes have been reverted.
https://github.com/mozilla/addons-frontend/issues/7880 can be marked as a won't fix.

![sample2](https://user-images.githubusercontent.com/33448286/77518650-d36c8900-6e86-11ea-9db3-f6d1069d9a8e.png)

![example2](https://user-images.githubusercontent.com/33448286/77518687-debfb480-6e86-11ea-8f8a-8e

[2020-03-25 09:36] willdurand opened #9283 "Investigate stateless pages in AMO app"
The new "blocked" pages are currently "stateful", i.e. authenticated users will remain authenticated on these pages and the HTML will be slightly different between users or between an authenticated user and an anonymous one for instance.

This is because of how the `amo` app works. When loading the page, we try to fetch the current user profile if we find an auth cookie/token. This is a good strat

[2020-03-25 10:06] willdurand commented on #9271
@muskangupta-iitr I don't think we should blindly allow HTML in content returned by the API. This could lead to all kind of security issues. That's why we need to either have a list of allowed HTML tags or no HTML at all.

[2020-03-25 10:06] willdurand commented on #9271
Yep, we can certainly do this.

[2020-03-25 10:19] ioanarusiczki commented on #9255
@willdurand no regressions - checked on dev with FF74(Win10).

![notices](https://user-images.githubusercontent.com/33448286/77526020-9908e900-6e92-11ea-9df0-2f3ef02b2862.png)

[2020-03-25 10:27] #9281 closed

[2020-03-25 10:38] willdurand commented on #5370
@jvillalobos @caitmuenster according to [this issue](https://github.com/mozilla/addons/issues/1157), I think we can close this one?

[2020-03-25 11:22] Albaalah commented on #9248
tagging you again @willdurand in case you missed my comment above :)

[2020-03-25 11:57] willdurand commented on #9284
So the idea would be to update the `SearchForm` component by removing the locales in the `openSearchTitle` localization strings.

[2020-03-25 11:58] #9273 closed

[2020-03-25 12:04] willdurand commented on #9248
Yes, I think you can trigger the bug by setting `disableSSR: true` in the `config/default.js` file.

[2020-03-25 12:22] willdurand commented on #8777
@accakks you can also look into the `contrib: welcome` issues. We'll likely add new `contrib: outreachy` issues in the coming days.

[2020-03-25 12:56] willdurand commented on #9260
@diox I lowered the priority because it shouldn't affect legit users.

[2020-03-25 13:36] xlisachan commented on #9284
@willdurand , can I work on this?

[2020-03-25 13:38] willdurand commented on #9284
@xlisachan yep, go ahead

[2020-03-25 13:38] ioanarusiczki commented on #9273
@willdurand Fixed on dev and stage with FF74(Win10).
https://addons-dev.allizom.org/en-US/firefox/addon/34esperanto-language-pack/
https://addons.allizom.org/en-US/firefox/addon/weather-stage/

![fixed text](https://user-images.githubusercontent.com/33448286/77542339-b186fc80-6eae-11ea-81ff-d413519b132b.png)

[2020-03-25 13:46] willdurand commented on #9271
Removing HTML tags in the `reason` is fairly trivial so this is a good first bug for outreachy applicants.

📣 If you have contributed to this project before (as an outreachy applicant), please do not work on this bug.

[2020-03-25 14:05] codeEmpress1 commented on #8777
Thanks @willdurand , I know JS and I have picked the issue, presently working on it, Can you kindly assign it to me so that others can know it has been assigned.

[2020-03-25 14:15] muskangupta-iitr commented on #8418
@bobsilverberg I have gone through the documentation but still facing difficulty. As I don't know where to find `policies.json` file or I am missing something ?

[2020-03-25 14:20] bobsilverberg commented on #8777
@codeEmpress1 done!

[2020-03-25 14:26] xlisachan commented on #9284
Thanks @willdurand! When you have a moment, please review the pull request linked above.

[2020-03-25 15:20] muskangupta-iitr commented on #3169
@caitmuenster As issue #2756 have been solved, So Can i take up this issue?

[2020-03-25 15:23] bobsilverberg commented on #8418
@muskangupta-iitr The instructions can be found at the top of the linked document: https://github.com/mozilla/policy-templates/blob/master/README.md. Where you put the file is different depending on your OS. Here's what it says:

"Policies can be specified using the Group Policy templates on Windows (/windows@master), configuration profiles on macOS (/mac@master), or by creating a file called poli

[2020-03-25 15:25] willdurand commented on #8418
Note that once we support the `canUninstall` prop in our code (in our `addonManager` wrapper), we could either create fake policies OR invert the condition temporarily to simulate such policies :)

[2020-03-25 15:31] bobsilverberg commented on #8418
You mean in tests, @willdurand?

[2020-03-25 15:40] willdurand commented on #8418
Yes, but also in the code locally if creating a policy isn't straightforward (it does not really matter which "thing" sets the `canUninstall` prop to `true` for an add-on so we can simulate that to, for example, disable the `AMInstallButton`, etc.).

[2020-03-25 15:46] muskangupta-iitr commented on #8418
Thanks @bobsilverberg ! I am able to reproduce it now :+1:

[2020-03-25 15:49] caitmuenster commented on #5370
Yes, I think we can go ahead and close this! Thanks @willdurand

[2020-03-25 15:49] #5370 closed

[2020-03-25 15:52] muskangupta-iitr commented on #8418
@willdurand @bobsilverberg Also once I clicked the remove button and got the error the button text converts to `Add to Firefox`. It should be converted back when the request successfully occurred.

[2020-03-25 15:57] Albaalah commented on #9271
@willdurand I'm an outreachy applicant and I have not yet contributed to this project. Can I work on this?

[2020-03-25 16:16] willdurand commented on #9271
Yep, go ahead

[2020-03-25 16:19] Albaalah commented on #9271
Thank you

[2020-03-25 16:27] bobsilverberg commented on #8418
Yes, that is part of the problem that needs to be fixed. The button should show the correct status.

[2020-03-25 17:07] willdurand opened #9286 "Serve blocked pages under `/blocked-addon/`"
Because `/blocked/` is actually used, @jvillalobos decided to use `/blocked-addon/` to serve the new blocked pages.

[2020-03-25 18:16] #9284 closed

[2020-03-25 18:27] #9286 closed

[2020-03-25 20:29] willdurand opened #9288 "Error in `sl` locale"
There is an error in the `sl` locale, reported by the `dennis` job in travis-ci. Let's fix it.

[2020-03-25 23:00] bqbn commented on #9283
The frontend can return a different `cache-control` header depending on which page the client tries to visit, right? For example, if the page is `/blocked-addon/`, then even if the addons-server returns `cache-control: no-store`, the frontend can change it, maybe?

[2020-03-25 23:28] diox commented on #9260
It can affect legit users: admins will typically use this if an account has been taken over by a malicious third party. Obviously in this case we don't care about errors seen by the third party after the sessions has been reset, but we need the legitimate user owning the account to be able to log back in as well.

IMHO, regardless of the result of the logout API call attempt, addons-frontend shoul

[2020-03-26 09:40] willdurand commented on #9260
Right. Clearing the cookies is enough to fix the problem (workaround).

[2020-03-26 09:45] willdurand commented on #9260
I started to look into this and this is not trivial. The idea is to catch 401 errors and force logout the user + clear the auth cookie. This will only happen on the server, so users might still have to refresh the page to fix the issue mentioned in the OP.

[2020-03-26 09:54] willdurand commented on #9283
The header value isn't the main problem I think. The HTML will still contain the auth token of the first authenticated user who warms up the cache for instance.

[2020-03-26 10:02] AlexandraMoga commented on #9250
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/77634430-9d4c0980-6f59-11ea-9d72-5a1ac4278c4d.png)

[2020-03-26 10:08] willdurand commented on #9260
Ha wait, I missed something in your comment. Indeed, maybe we could force logout on the client all the time. That's a good idea and it is much simpler, thanks.

[2020-03-26 10:17] willdurand commented on #9260
I think if the user reloads the page, then it is possible to log in again (at least that's what I was able to do after having followed the STR in the OP). There is no need to clear the cookies.

[2020-03-26 12:28] #9288 closed

[2020-03-26 13:00] #9260 closed

[2020-03-26 13:16] #8827 closed

[2020-03-26 15:58] willdurand commented on #9283
Here is a sketch of patch that would allow us to mark some pages (paths actually) as stateless:

[code]

Why this patch, it should be possible to aggressively cache the new blocked pages. That being said, the UI is a bit confusing because the page shows the anonymous state, which is expected but still.. In other words, authenticated users would not be authenticated on these pages.

The other probl

[2020-03-26 16:01] adakaleh opened #9469 "Dictionary extensions missing from developer profile pages"
[Dictionary extensions](https://wiki.developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/dictionaries) (used by the Firefox spellchecker) are not displaying on developer profile pages, even though they are counted under "Number of add-ons".

Example:

- https://addons.mozilla.org/en-US/firefox/user/142774/
  - https://addons.mozilla.org/en-US/firefox/addon/romanian-spellch

[2020-03-26 16:19] eviljeff commented on #9283
That's probably fine.  It'd be better if we just didn't show the login button rather than indicate they were logged out.

That's more the problem imo.  It will be like just going to a /blocked-addon page logs them out... except if they force a full reload of the page or manually type a URL in.

[2020-03-26 18:37] willdurand opened #9293 "Update circle-ci config version to 2.1"
Circle CI has a new pipeline feature, enabled by default in `2.1`. We do not really need this feature but it is the future and addons-server already uses version `2.1`.

[2020-03-26 19:45] orsay54 commented on #9277
Thanks for such a speedy reply.. I am there, logged in. I see my collections.. can add to them but I can not open the collections.Am using the latest FIREFOX too.Any suggestions?Thanks,Pat-----Original Message-----
From: jvillalobos
Sent: Mar 24, 2020 1:35 PM
To: mozilla/addons-frontend
Cc: orsay54 , Author
Subject: Re: [mozilla/addons-frontend] I cannot view my Collections in PERSONAS in Firefox

[2020-03-26 19:50] orsay54 commented on #9277
Please view the ATTACHMENT.. this is what I get when I try to open a collection..I just sent you an email a few seconds ago.. please read.. Thanks,Pat-----Original Message-----
From: jvillalobos
Sent: Mar 24, 2020 1:35 PM
To: mozilla/addons-frontend
Cc: orsay54 , Author
Subject: Re: [mozilla/addons-frontend] I cannot view my Collections in PERSONAS in Firefox v 74.0. (#9277)

If you mean the Perso

[2020-03-26 20:39] jvillalobos commented on #9277
I don't know what you mean by not being able to open the collections, but this is not the right place to ask for support. I suggest that you post the question in [our forum](https://discourse.mozilla.org/c/add-ons).

[2020-03-26 21:46] muskangupta-iitr commented on #8418
@willdurand @bobsilverberg Can I work on this issue?

[2020-03-27 06:15] orsay54 commented on #9277
Ok. But when it said ask for help... It was your email address that was given. How else would I  Have found it!? I sent you a screenshot of the error message  In another email.
I will not bother you again..

Sent from my iPad

[2020-03-27 08:35] avgupt commented on #3169
@muskangupta-iitr if you are busy with some other issue, can I take this up?

[2020-03-27 08:38] avgupt commented on #3630
Can I take up this issue?

[2020-03-27 08:44] muskangupta-iitr commented on #3169
@avgupt Hey sorry, but I have already solved most of it in my system and just waiting for @wildurand to respond so that I can link a PR to it. Really sorry! :)

[2020-03-27 08:46] avgupt commented on #3169
Okay, no problem!

[2020-03-27 09:56] willdurand commented on #8418
I personally thought you were already working on it 🤔

[2020-03-27 10:16] willdurand commented on #3169
I don't think it is wise. You already have some PRs opened for other issues. So please focus on these other issues first.

[2020-03-27 10:22] willdurand commented on #3169
@avgupt please feel free to take this one if you like

[2020-03-27 10:24] willdurand commented on #8418
No. Not now at least. Please focus on what you're working on already:

- https://github.com/mozilla/addons-frontend/pull/9253
- https://github.com/mozilla/addons-frontend/pull/9254

[2020-03-27 11:26] avgupt commented on #3169
Okay thanks!

[2020-03-27 11:46] wagnerand opened #9297 "Linkify usernames in ratings for admins"
It would be helpful for administrative tasks if user names in ratings were linking to the respective user profile page (for both developers and non-developers).

Adding the link should be for admins only, gated by the same permission that gates showing user profile pages for non-developers.

[2020-03-27 12:03] muskangupta-iitr commented on #8418
Yes, I started working on this but the issue is not assigned to me that's why I asked.

 Ohk, Let us finish those issues and then I will work on others. I am just focusing on those two issues for now. These two issues are big, so I just thought to solve some small ones first :sweat_smile:

[2020-03-27 14:11] xlisachan commented on #9297
@wagnerand , I am an Outreachy applicant. Can I work on this?

[2020-03-27 14:27] smayer97 commented on #5813
please keep active

[2020-03-27 14:40] wagnerand commented on #9297
@xlisachan absolutely, please go ahead!

[2020-03-27 15:25] AlexandraMoga commented on #9286
The block pages are now opening under `/blocked-addon/`:
https://addons-dev.allizom.org/en-US/firefox/blocked-addon/gmailnoads@mywebber.com/

[2020-03-27 18:40] #9271 closed

[2020-03-29 06:20] muskangupta-iitr opened #9301 "[ui] Cursor should be changed on hover on the dropdowns"
### Describe the problem and steps to reproduce it:

Dropdown in the reviews page should change cursor from `normal` to `pointer` so that user can understands that it is selectable.
Also, dropdown in the addon page of `Add to collection` card, also shows the same behaviour.

Here is the screenshot:

![Screenshot from 2020-03-29 11-42-59](https://user-images.githubusercontent.com/50856599/77842655-

[2020-03-29 20:59] mirefly commented on #9175
I investigated this issue a bit, and found that the simulated async error [could not be caught by the Error boundaries](https://medium.com/trabe/catching-asynchronous-errors-in-react-using-error-boundaries-5e8a5fd7b971), and finally brings down the frontend host server (localhost:3333). This same problem occurs in local, dev and stage as long as `allowErrorSimulation` is true.

STR:
1. Go to https

[2020-03-30 07:55] ioanarusiczki commented on #9284
@willdurand
I verified this issue on dev with FF74(Win10).
- once AMO as a search engine is added the "Add to Firefox" is no longer displayed.
- the locale has been removed.

![no longer there](https://user-images.githubusercontent.com/33448286/77888420-ea3f2100-7274-11ea-8efa-a357a51ec91b.gif)

[2020-03-30 08:36] AlexandraMoga commented on #9271
Verified fixed on -dev:

Before fix:
![image](https://user-images.githubusercontent.com/31961530/77891972-7e5fb700-727a-11ea-86fa-a32746b5d49f.png)

After fix:
![image](https://user-images.githubusercontent.com/31961530/77892068-a4855700-727a-11ea-9187-6b615ca1ae4c.png)

[2020-03-30 10:10] #9293 closed

[2020-03-30 13:39] willdurand commented on #9283
Yeah, I removed the auth button/menu.

I fixed this.

[2020-03-30 14:52] willdurand commented on #7634
@mirefly wanna give it a try? :D

[2020-03-30 14:53] willdurand commented on #7634
Reopening this one because FF has been fixed to display all the permissions/domains.

[2020-03-30 16:00] willdurand opened #9307 "UI tests seem to fail"
I see this error but it is likely not the root cause:

[code]

I think it fails because of some notification changes.

[2020-03-30 16:03] willdurand commented on #9307
/cc @jrbenny35

[2020-03-30 16:07] #2756 closed

[2020-03-30 16:35] mirefly commented on #7634
@willdurand Yeah, I am gonna have a try.

[2020-03-30 17:31] #8509 closed

[2020-03-30 19:52] bobsilverberg commented on #9175
Would we ever have an async error when rendering on the server (except with this artificial one we create for testing purposes)? We don't actually render anything meaningful on the server, unlike in addons-frontend.

@willdurand WDYT, is this something we need to worry about?

[2020-03-30 20:31] #8542 closed

[2020-03-30 20:38] bobsilverberg commented on #3630
@avgupt I see you have another PR in progress, and we think it best that you not work on more than a couple of issues at a time. You can take this on, but looking at it it looks pretty tricky to me, and I cannot with confidence say that we'll be able to give you much help in solving it. Please feel free to give it a try, but it might not be an ideal issue for your purposes.

[2020-03-30 20:46] bobsilverberg commented on #9301
Thanks for filing this @muskangupta-iitr. I don't think it's a particularly serious problem, but you've already found a solution, so that's good.

[2020-03-30 20:51] #9301 closed

[2020-03-30 20:58] willdurand commented on #9307
Nevermind, that was a mistake.

[2020-03-30 20:58] #9307 closed

[2020-03-30 21:00] willdurand commented on #9301
Shouldn't we keep the browser behavior? Otherwise, we would have to patch **all** the `select` tags I guess. In other words, we would need a rule that targets the `select` tag specifically, no?

See: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select

[2020-03-30 21:07] bobsilverberg commented on #9301
Sorry, you're right @willdurand, it would be better to have a rule that addresses all `select` tags if we want this. Do you think we should revert this commit?

[2020-03-30 21:33] willdurand commented on #9301
np. I think we should decide if we want to modify the default browser style or not, and in the meantime we can indeed revert the commit.

[2020-03-30 21:34] #9283 closed

[2020-03-31 00:31] #7497 closed

[2020-03-31 05:52] mirefly commented on #7634
@willdurand  Listing all permission will push some cards ("Release note" and "Add to collection") to the very end of the page when there are many domain names. It looks not good. Do we want to simply list all permissions, or just show the "other host/site names" as tooltip text when mouse over the text "Access your data in ** other domains" (or other suggestions)?

[2020-03-31 07:11] willdurand commented on #7634
could we use a `ShowMoreCard`?

[2020-03-31 10:15] muffinresearch opened #9309 "Improve H1 so that addon name has a space before 'by'."
### Describe the problem and steps to reproduce it:

* Go to https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/
* From the console run:

[code]

### What happened?

The output is:

"Privacy Badgerby EFF Technologists"

### What did you expect to happen?

The output should be:

"Privacy Badger by EFF Technologists"

### Anything else we should know?

It's unclear if this will have an

[2020-03-31 10:20] willdurand commented on #9309
This is interesting because we explicitly render a whitespace:

<img width="504" alt="Screen Shot 2020-03-31 at 12 20 09" src="https://user-images.githubusercontent.com/217628/78015673-03fe6800-734a-11ea-886e-675c5b493054.png">

[2020-03-31 11:19] muffinresearch commented on #9309
Isn't that after the "by" rather than before it?

[2020-03-31 11:49] #9309 closed

[2020-03-31 12:41] willdurand opened #9311 "`ShowMoreCard` button used in developer reply has the wrong background color"
### Describe the problem and steps to reproduce it:

1. Go to https://addons-dev.allizom.org/en-US/firefox/addon/search_by_image/reviews/?src=recommended_fallback
2. Observe the "developer response" in the middle of the page

### What happened?

The `ShowMoreCard` displays a "read more" button with a white background:

<img width="1280" alt="Screen Shot 2020-03-31 at 14 38 17" src="https://user-im

[2020-03-31 12:54] AlexandraMoga opened #9312 "The search field and the site logo are overlapping on the new block page in mobile view"
Follow up for #9283

### Describe the problem and steps to reproduce it:
1. Load AMO -dev in mobile view (portrait)
2. Open a block page - see https://addons-dev.allizom.org/en-US/firefox/blocked-addon/firefoxaddon@youtubeenhancer.com/
3. Notice the site header

### What happened?
The search field and the site logo are overlapping

### What did you expect to happen?
No layout issues

[view on the

[2020-03-31 13:08] AlexandraMoga commented on #9311
@willdurand the same issue is visible on the Rate your experience card on the add-on detail page for user reviews:

![image](https://user-images.githubusercontent.com/31961530/78029722-babe1080-7369-11ea-889e-4d7b5e2b92c0.png)

[2020-03-31 13:51] AlexandraMoga commented on #9283
I've (hopefully) verified all the frontend pages, including navigation between various pages to make sure the authenticated status is set correctly. These are some of the scenarios covered:
- unauthenticated user opens a block page -> 'Sign in or Register' button _is not_ present in site header
- unauthenticated user navigates to other frontend pages from a block page ->  'Sign in or Register' but

[2020-03-31 15:46] #9297 closed

[2020-03-31 15:54] xlisachan commented on #9311
@willdurand Can I work on this?

[2020-03-31 16:03] willdurand commented on #9311
Yep

[2020-03-31 19:30] #9312 closed

[2020-03-31 20:04] bobsilverberg opened #9317 "Revert changes to cursor on hover for selects"
https://github.com/mozilla/addons-frontend/commit/dfea0f60130911847add4954c1f7a735ce2e1ae6 introduced some styles that applied a cursor change for `hover` for some `select` elements. This overrides the default browser styles, and does not do it for every `select` element, but just for some.

We don't know if we want to override the browser style like that, and if we do then we should do it univers

[2020-03-31 20:07] bobsilverberg commented on #9317
@muskangupta-iitr My apologies, I should not have approved and merged this pull request. See above, and also https://github.com/mozilla/addons-frontend/issues/9301#issuecomment-606247242 for more details. Would you like to take on this issue, which is simply about adding a commit that reverts the changes?

[2020-03-31 20:13] muskangupta-iitr commented on #9317
@bobsilverberg Yes sure! I revert the changes.

[2020-03-31 20:23] willdurand commented on #9317
I guess it would be nicer if we could cherry-pick the revert too :)

[2020-04-01 09:35] willdurand opened #9323 "Typo in header class name"
There is a typo in a css class name that could cause layout issues (related to the page header).

Regression introduced in https://github.com/mozilla/addons-frontend/commit/6be493910f23a8da45a5144da70cb11599d6a5a6

[2020-04-01 12:55] AlexandraMoga commented on #9323
Looks like the header background was affected by this:

![image](https://user-images.githubusercontent.com/31961530/78139398-1ef7d780-7431-11ea-8d40-67c5f2eb798c.png)

[2020-04-01 13:03] #9317 closed

[2020-04-01 13:31] AlexandraMoga commented on #2756
Verified fixed on -dev:

The 'Edit add-on' link is exposed in the More info card to users that are listed as authors for that add-on. The link is present for all add-on types.

![image](https://user-images.githubusercontent.com/31961530/78142903-2ff71780-7436-11ea-8e65-f3d78f729b35.png)

[2020-04-01 13:43] ioanarusiczki commented on #9260
@willdurand If the session is reset and I try to update collections or the profile I will encounter again the message "Incorrect authentication credentials". I have now the option to logout and login again. Or if I refresh the page I will have Register or Login.

![the expected](https://user-images.githubusercontent.com/33448286/78143881-831d9a00-7437-11ea-8c55-bb49c29b7811.gif)

Is this the expec

[2020-04-01 14:03] ioanarusiczki commented on #9317
@bobsilverberg @willdurand
I don't see the changes from https://github.com/mozilla/addons-frontend/issues/9301 being available on dev or stage. I verified with FF74(Win10).

[2020-04-01 14:04] ioanarusiczki commented on #9301
@willdurand @bobsilverberg The revert was verified https://github.com/mozilla/addons-frontend/issues/9317
The milestone should be also updated for this issue.

[2020-04-01 14:12] bobsilverberg commented on #9301
I thought I did update the milestone. Is it not accurate?

[2020-04-01 14:29] AlexandraMoga commented on #9297
Verified fixed on -dev
Usernames in ratings will point now to the respective profile page when the viewer is an admin.
For regular or non-authenticated users, there is no link present.

[view for admin]
![image](https://user-images.githubusercontent.com/31961530/78148799-ed393d80-743d-11ea-86f7-de912fea971a.png)

[view for regular user]
![image](https://user-images.githubusercontent.com/31961530/7

[2020-04-01 14:42] ioanarusiczki commented on #9309
@willdurand Verified on dev and stage - FF74(Win10). `by` was separated from the names.

![the correct name](https://user-images.githubusercontent.com/33448286/78150522-12c74680-7440-11ea-81ab-9727b6a149ca.png)

[2020-04-01 14:51] willdurand commented on #9260
Yes, I think that's the expected behavior now.

[2020-04-01 14:53] #9323 closed

[2020-04-01 18:54] muffinresearch opened #9324 "Update the blocked-addon URLs to take an optional version."
Currently the URL format allows for passing a locale, clientApp and guid, we would like Firefox to send the version too, since that way we are covered in-case we would like to do something with the version information.

The new URL format would be as follows:

`/:locale:/:clientApp:/blocked-addon/:guid:/:version:/`

The version is optional so the following should continue to provide a response:

`

[2020-04-01 18:55] muffinresearch commented on #9324
@jvillalobos Since this URL will only be linked from the client, are you ok for us to explicitly de-index these pages so that we avoid spending crawl budget on these pages? If we do want these pages to appear in SERPs we would probably want to re-consider how we surface them.

[2020-04-01 20:59] jvillalobos commented on #9324
Yeah, I think it's okay not to index them.

[2020-04-02 07:27] ioanarusiczki commented on #9281
@willdurand Verified on dev with FF74(win10).

![unbroken string](https://user-images.githubusercontent.com/33448286/78221685-80b94f80-74cc-11ea-9530-0d9bcdb13fb4.png)

[2020-04-02 09:47] ioanarusiczki commented on #8827
@willdurand I verified on Android 9.0, it looks good to me.

![the fix looks good](https://user-images.githubusercontent.com/33448286/78234468-d9461800-74df-11ea-830f-a034b73f7dd9.png)

I can't tell if on the detail page is alright - the platform warning is not centered between the install button and the white margin (same in case the compatibility warning is displayed under the button).

![platfo

[2020-04-02 09:50] willdurand commented on #8827
mmm I think this is a different problem (and likely not a problem at all)

[2020-04-02 09:52] ioanarusiczki commented on #8827
@willdurand I was hoping it's not :)

Verified on Android 9.0 with 68.6.0 - Fennec

[2020-04-02 09:55] ioanarusiczki commented on #9301
@bobsilverberg I see it on this milestone - can't tell when you want to add it back though :)

[2020-04-02 09:58] ioanarusiczki commented on #9260
@willdurand I was hoping it will show the register/login without refreshing page or manually log out.
But eventually if I want to change something and make it work I have no choice but doing so.
Verified on dev with FF74(Win10).

[2020-04-02 10:01] willdurand opened #9330 "Prevent blocked pages from being indexed by Google (et al.)"
According to the discussion in #9329, we do not want to index the blocked pages (anymore).

**For QA:** there should be a new `meta[name="robots"]` tag with `noindex, follow` as a value in all blocked pages.

[2020-04-02 10:22] #9330 closed

[2020-04-02 10:23] #9324 closed

[2020-04-02 12:55] bobsilverberg commented on #9301
Maybe never ;)

[2020-04-02 14:42] ioanarusiczki commented on #9301
@bobsilverberg Sits well here then!

[2020-04-02 21:17] devaneymoz opened #9332 "Update warning messaging for non-Recommended extensions"
Based on abundant feedback we've received from users and developers, and confirmed through a usertesting.com study, we need to change the warning messaging for clarity. Please change to the following new copy:

_This is not monitored for security through Mozilla's Recommended Extensions program. Make sure you trust it before installing. [Learn more](https://support.mozilla.org/kb/recommended-exten

[2020-04-03 09:02] AlexandraMoga commented on #9312
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/78343086-00195280-75a3-11ea-9127-fdbc3bdf8321.png)

[2020-04-03 09:11] AlexandraMoga commented on #9323
The header background is fixed now and I didn't see any other regressions:

![image](https://user-images.githubusercontent.com/31961530/78343925-40c59b80-75a4-11ea-8fdd-17a9140f1e33.png)

Marking issue as verified fixed.

[2020-04-03 10:06] AlexandraMoga commented on #9324
@willdurand should the the new `versionId` param accept any string value, like the below example?
https://addons-dev.allizom.org/en-US/firefox/blocked-addon/s3google@translator/any-string/

[2020-04-03 10:24] AlexandraMoga commented on #9330
The following meta is present on all the blocked addon pages I've looked at:

`<meta data-react-helmet="true" name="robots" content="noindex, follow"/>`

[2020-04-03 12:14] willdurand commented on #9324
Yep, this param is unused.

[2020-04-03 12:28] AlexandraMoga commented on #9324
In that case, I can mark this issue as verified.

Looking at the blocked page without adding the `versionId` (optional) parameter also works:
https://addons-dev.allizom.org/en-US/firefox/blocked-addon/s3google@translator/

[2020-04-03 14:36] wagnerand commented on #9332
@devaneymoz should it be "This add-on..." or "This extension..." rather than "This is..."?

[2020-04-03 14:51] muffinresearch commented on #9332
Moving this up to a P1 as Amy has asked for this to go out next week.

[2020-04-03 16:16] devaneymoz commented on #9332
I see what you're saying but it was intentionally worded this way to avoid the redundancy of "extension" in the sentence... "This extension ........ Recommended Extensions program."

Plus it was already so wordy to begin with.

[2020-04-05 18:55] Albaalah commented on #9248
I will be busy for the next couple of days so if any other Outreachy applicant is looking at this issue and wants to work, I'm currently not working on it so this is available for you to take

[2020-04-05 19:09] #2632 closed

[2020-04-05 21:09] #2176 closed

[2020-04-06 19:35] #9332 closed

[2020-04-06 21:29] #3822 closed

[2020-04-06 23:44] amo-ali commented on #9248
@willdurand I'm Amna Ali, an Outreachy applicant. I am familiar with JavaScript. i use JavaScript in web designing. I would like to work on this issue as a part of my application process, please Thank you

[2020-04-07 01:21] amo-ali commented on #9248
@willdurand i know only half day left to submit my contribution. but i talk to outreachy organizer, they said if mentor allow you then you have time till 14 April to submit your first contribution. Please give me one chance to do this. i will send you an outreachy organizer's email if you want to proof.

[2020-04-07 08:09] ioanarusiczki commented on #9332
@bobsilverberg
This is how it looks on full screen - FF 74(win10)

![as it looks on desktop](https://user-images.githubusercontent.com/33448286/78645298-00c22980-78c0-11ea-97a6-7f4813ac4047.png)

This is how it looks if I resize the browser. - FF 74(win10)

![resizing browser](https://user-images.githubusercontent.com/33448286/78645350-15062680-78c0-11ea-9f94-69ba649ae581.png)

Verified on dev.

[2020-04-07 13:44] willdurand commented on #9248
Hey @amo-ali, I am sorry but we believe that you won't have enough time to contribute to this project and submit your application, even with +7 days. It takes time to setup this project and understand how to contribute to it.

If you want to contribute to this project, you're very welcome but I don't think you should rush to submit your Outreachy application, it's too late for this round.

[2020-04-07 14:07] #9311 closed

[2020-04-07 16:18] #7634 closed

[2020-04-07 21:29] amo-ali commented on #9248
@willdurand  can you please tell me which project can take 7 day to complete? because its my last chance and i don't want to loss. Please help me

[2020-04-07 21:33] amo-ali commented on #9248
@willdurand  please help me to contribute in this project. if i will not select in any project outreachy project, i want to volunteer work in it and want your help to contribute in this project.

[2020-04-08 08:24] ioanarusiczki commented on #9311
@willdurand I verified on dev with FF74(Win10)

- the addon detail page has a blue-ish background for the text and button - the button has no borders.

![blue but no border](https://user-images.githubusercontent.com/33448286/78760114-59112e00-7989-11ea-962d-1a9538b2f2b3.png)

- on the reviews page I don't really see a difference for the reviews, text and button are white. The Developer reply has a

[2020-04-08 08:32] willdurand commented on #9311
@ioanarusiczki yes, that looks good to me. Do you see any regression with -prod? If I look here, it is similar: https://addons.mozilla.org/en-US/firefox/addon/privacy-possum/reviews/?src=featured&page=5, but we fixed the blue background at least.

[2020-04-08 08:39] ioanarusiczki commented on #9311
@willdurand I looked into prod and the blue background for the button is available on the detail page.
Also for the developer reply the button's background is now blue-ish.
And no changes for the reviews on the other pages.

[2020-04-08 08:40] ioanarusiczki commented on #9311
@willdurand Also, I saw some discussions about the border. I think it would look better with borders too.

[2020-04-08 11:23] AlexandraMoga commented on #7634
Verified fixed on stage.

Before:
![image](https://user-images.githubusercontent.com/31961530/78777916-178d7c80-79a3-11ea-8d04-436da67d5f42.png)

After:
![image](https://user-images.githubusercontent.com/31961530/78778448-f711f200-79a3-11ea-9e81-43c9084d19a2.png)
This is the add-on example from stage: https://addons.allizom.org/en-US/firefox/addon/many-domain-perms/
All the given domains are now v

[2020-04-08 20:16] devaneymoz opened #9344 "Collections' "Last updated" not working"
I updated some collections last week (such as this [one](https://addons.mozilla.org/firefox/collections/4757633/must-have-media/?page=1&collection_sort=-added)) and discovered the "Last updated" date does not change when collections are indeed updated.

It would be great to get this fixed so users don't feel like we're promoting abandoned collections.

@muffinresearch

[2020-04-08 20:29] #5722 closed

[2020-04-08 20:29] #6917 closed

[2020-04-09 19:58] avgupt commented on #3630
Hey @bobsilverberg , I gave it a shot but the tooltip that's being used is a third party component. I'm just stuck at how I could trigger a close command for tooltip, when the user presses Tab after reaching the third row.
I'll give it a try in sometime, but for now I'm unassigning myself.
If you have any ideas please let me know.

[2020-04-11 23:17] #2402 closed

[2020-04-11 23:17] #2999 closed

[2020-04-11 23:17] #3325 closed

[2020-04-11 23:17] #3006 closed

[2020-04-13 09:21] willdurand opened #9350 "CI failures with Node 12"
### Describe the problem and steps to reproduce it:

Look at the latest builds on Travis CI.

### What happened?

Node 12 jobs are failing.

### What did you expect to happen?

No issue.

### Anything else we should know?

It is related to ICU according to:

[code]

[2020-04-13 15:02] willdurand commented on #9350
My understanding of the issue is that either Node 12 does not need [`full-icu`](https://github.com/mozilla/addons-frontend/blob/385dd4707f9eef5a64f15b5301993d948ac00247/package.json#L233) anymore or the version we're using isn't compatible with Node 12...

[2020-04-13 17:42] #9351 closed

[2020-04-14 15:43] willdurand commented on #9350
This issue was magically fixed by clearing the Travis CI (yarn) cache.

[2020-04-14 15:43] #9350 closed

[2020-04-15 08:18] willdurand commented on #8418
I am going to take a look at this one.

[2020-04-15 08:19] willdurand opened #9355 "Add story(book) for `AMInstallButton`"
Supports https://github.com/mozilla/addons-frontend/issues/8418

---

We need to update the style of the `AMInstallButton` for https://github.com/mozilla/addons-frontend/issues/8418 so I thought writing a story first would help.

[2020-04-15 09:13] willdurand opened #9357 "Move installations actions to the corresponding reducer"
Supports https://github.com/mozilla/addons-frontend/issues/8418

---

We should not have separate "actions" files as we adopted [the ducks pattern](https://github.com/mozilla/addons-frontend/issues/1299) a while ago. Let's fix the installations code.

**For QA:** please make sure the install button works as intended (right state/status, can install and uninstall an add-on, etc.)

[2020-04-15 11:26] #9357 closed

[2020-04-15 13:30] ioanarusiczki commented on #9351
@willdurand I added  `ui.prefersReducedMotion` in about:config with the value `1`.

The result is no motion:

![motionless](https://user-images.githubusercontent.com/33448286/79342890-5dfc5180-7f36-11ea-9ea2-29ea83b62d36.gif)

Verified on dev with FF75(Win10).

[2020-04-15 13:34] willdurand commented on #9351
Yes, this is expected indeed. It's hard to determine how much motion is okay so I guess it's fine. Personally, I like no animation for the loading indicators :D

[2020-04-15 13:39] ioanarusiczki commented on #9351
@willdurand Yes. Perhaps it was a bit too much before but it did not bother me.

[2020-04-15 15:32] #9355 closed

[2020-04-16 17:28] willdurand commented on #7623
This issue is now fixed, most likely by #9309

[2020-04-16 17:28] #7623 closed

[2020-04-16 19:43] jvillalobos opened #9360 "Change mobile compatibility message for add-ons in Fenix collections"
Currently, Fenix users see this message in all add-on pages:

However, there's some add-on support being rolled out and users will start running into pages of add-ons that are supported but show this message. Additionally, it's still not possible to install those add-ons from AMO, so the message should still be present, just differently worded.

When an add-on is in the supported collection, the m

[2020-04-16 20:16] bobsilverberg commented on #9360
Some questions:

1. If we're going to detect the channel the user is on, does that mean we'll have to update these version numbers every time there is a new release? That's probably okay if this is an important feature, but I just wanted to raise it as something to be aware of.

2. Is it possible to create a link that would take the user to the Add-ons Manager in Fenix? If so, is that something we

[2020-04-16 20:24] willdurand commented on #9360
I think querying the collections api every time is not a very optimized solution. It takes weeks to get new addons to Fenix so maybe we could put addon GUIDs in config instead. It is only a few extensions so far, so we could start with that and evolve when it is needed.

For example, the add-on itself could have a flag to determine whether it is Fenix Beta or Nightly compliant (or not available at

[2020-04-16 21:00] jvillalobos commented on #9360
I was wondering if we had some other part of the code that depended on the channel that we could latch on. If we need to manually update versions on every Firefox release, that probably isn't worth doing and we should just use the Beta list instead.

No, content can't point to privileged pages. We've made exceptions like with abuse reports, but that requires a client-side API, which would be overk

[2020-04-17 08:04] tsl143 opened #9361 "[Suggestion] Do not show installed addon on homepage recommendation"
### Describe the problem and steps to reproduce it:

I have `LASER CAT` extension installed.

### What happened?
I see laser cat recommendation at home page, which do not provide me any value as its already installed.

### What did you expect to happen?
see recommendations for addons which are not installed in the browser

### Anything else we should know?
Maybe we can make use `navigator.mozAddon

[2020-04-17 10:09] willdurand commented on #9360
Either that or the server could do that automatically. /cc @diox

Making yet another api call, likely all the time, makes me nervous so this should rather be added to the add-on itself. I don't know exactly "how", though.

[2020-04-17 11:38] bobsilverberg commented on #9360
Well, we could cache the list of ids in the redux store, only requiring an API call once per session, but that would complicate the front end code. Having it returned in the addon API response sounds like a good idea.

[2020-04-17 12:23] #8418 closed

[2020-04-17 12:39] willdurand commented on #8418
Asking for extra QA because it would be bad to break the install button :)

[2020-04-18 20:47] #5978 closed

[2020-04-18 20:47] #7720 closed

[2020-04-20 10:30] diox commented on #9360
We already handle compatibility information on the server, and expose that to clients through `current_version.compatibility`. Until now since there was only one add-on and no clear plans regarding Fenix add-on compatibility in the future we haven't done anything for Fenix, but I think that's where it should happen.

Since Firefox for Android (the Fennec variant) is stuck on 68.x.y, we could repla

[2020-04-20 15:21] bobsilverberg commented on #9360
This sounds like it would work from the front-end's perspective. I assume the code on the server would have to change with each new release though, as it won't be permanently `75` and `77`, which might be an argument in favour of a simple flag indicating if the add-on is compatible with Fenix and which version of Fenix (Beta vs. Nightly), as opposed to returning a compatible version number.

[2020-04-21 08:34] AlexandraMoga commented on #3887
It would be nice to fix this issue eventually :)

[2020-04-21 13:01] ioanarusiczki commented on #8418
@willdurand  I verified this with FF75 unbranded on AMO dev.

There would be 2 things I've noticed:

- I must refresh the add-on detail page or restart the browser or else "remove" is active and when I click it I see the "An unexpected error occurred during uninstallation."

![page needs refresh2](https://user-images.githubusercontent.com/33448286/79865627-241ec580-83e4-11ea-8f0a-3b2bda8f9b7d.gif)

[2020-04-21 13:03] willdurand commented on #8418
It looks like these two issues are related to events being sent but not handled correctly (or rather: the events are handled but don't respect the `canUninstall` property)

[2020-04-21 13:04] willdurand commented on #8418
Would you have STR for this?

[2020-04-21 13:11] ioanarusiczki commented on #8418
@willdurand I simply added the lock as @bobsilverberg suggested https://github.com/mozilla/addons-frontend/issues/8418#issuecomment-603916929. After adding the addon id in "policies.json" I opened the browser and double checked into about:policies#active. I went on the add-on page and installed it. I reproduce the issue every time.
I could file a separate issue perhaps?

[2020-04-21 13:25] ioanarusiczki opened #9365 "The detail page shows an inactive remove state for locked addons only after page refresh"
Followup for https://github.com/mozilla/addons-frontend/issues/8418

STR:
1. Using instructions for locking an addon go to https://github.com/mozilla/policy-templates/blob/master/README.md or https://github.com/mozilla/addons-frontend/issues/8418#issuecomment-603903349
2. After adding the addon id into the policies.json file open the browser and go to the detail page of the addon which is locked
3

[2020-04-21 13:27] ioanarusiczki commented on #8418
@willdurand Done here -> https://github.com/mozilla/addons-frontend/issues/9365 I mentioned both scenarios.
I'm marking this issue verified on AMO dev with FF75(Win10).

[2020-04-21 15:18] #9365 closed

[2020-04-22 08:29] ioanarusiczki commented on #8860
@bobsilverberg I tested on AMO stage with FF75(Win10) and I've noticed that:

- on the detail page the ratings card will no longer allow keyboard navigation with Tab key on the detailed classification of the ratings. The user can only access the total number of ratings: the number, say (40) and the "Reviews" link. Both will redirect to the all reviews page.
If the user wishes to see only the 5 sta

[2020-04-22 08:36] ioanarusiczki opened #9368 "The screenshot viewer should be opened using keyboard navigation"
STR:
1. Go to an add-on detail page which contains images
https://addons.allizom.org/en-US/firefox/addon/noscript/?src=homepage-collection-featured
2. Navigate using Tab key from the ratings section to the screenshot viewer.
3. Try to open the first screenshot using Enter/Space

Expected result:
The image is available on the screen.

Actual result:
The screenshot cannot be accessed.

Notes:
Would

[2020-04-22 08:42] willdurand commented on #8860
That looks like a a11y regression so we should probably fix that.

[2020-04-22 08:44] willdurand commented on #9368
We use a third-party library for the photo gallery. Hopefully we'll be able to open it with keyboard navigation.

[2020-04-22 08:54] ioanarusiczki commented on #8860
@willdurand
If I read the [requirements ](https://github.com/mozilla/addons-frontend/issues/8860#issue-514832781) the issue is fixed - not to be able to navigate on the counts or rating bars and skip them.

I kind of disagree with not having the possibility to navigate with Tab key through the review classification - at least to be able to select the numbers for each category.

[2020-04-22 08:59] ioanarusiczki commented on #8860
@willdurand Still not good : open twice the same page the total number of reviews and cannot open the 5 ratings only.
This should be reopened/reverted. Let me know what you've decided.

[2020-04-22 09:00] willdurand commented on #8860
Yeah, I don't think those "requirements" are "hard requirements". I get the idea of not having 3 links for each category but we should be able to tab on each category at least, so the issue does not seem to be completely fixed to me.

It removed the 3 links for each category but it breaks keyboard navigation so this does not look like a better approach.

[2020-04-22 09:22] ioanarusiczki commented on #9365
@willdurand
I verified it on AMO dev and AMO stage - FF75(Win10) and the "remove" is automatically greyed out after installation.

For the second scenario - the "enable" state is still active. After it's clicked "remove" is inactive. Would be nice to have "enable" directly disabled on AMO.

![can enable be greyed out](https://user-images.githubusercontent.com/33448286/79964715-c34ec600-8493-11ea-8

[2020-04-22 09:30] willdurand commented on #9365
So this is actually the Firefox behavior. Sorry I thought I mentioned it somewhere, but if you apply your STR in FF, you'll see the add-on in the "disabled" section with the toggle switch available. It's possible to click on this toggle and it will enable the add-on.

[2020-04-22 09:41] willdurand commented on #8860
@bobsilverberg what do you think? To me, it looks like a regression and the patch did not fix this issue in the end. While having 3 times the same link isn't ideal, keyboard navigation worked. Now, we only have 1 link but keyboard navigation isn't available anymore. I don't think that's an improvement.

[2020-04-22 09:47] jcsteh commented on #8860
The situation right now is unfortunately worse than it was before. With a screen reader, you get this:

The links are gone, but now the information about the number of reviews per rating isn't available at all, nor can you access the reviews for each rating.

This isn't quite what was intended. The request was to remove the duplicate links so we only have one link per rating. What we have now is n

[2020-04-22 09:50] jcsteh commented on #8860
To be extra clear, I'm saying that having a single link for each rating is definitely necessary. What *isn't* desirable is having three links for each rating.

[2020-04-22 09:54] ioanarusiczki commented on #8860
@jcsteh Alright, thanks for clearing that out. Looks like none of us is happy with the result.

[2020-04-22 10:06] ioanarusiczki commented on #9365
@willdurand After all an expected behavior because the addon should be enabled but not removed if it's locked.
I'm marking this verified on AMO dev and stage with FF75(Win10).

[2020-04-22 11:03] ioanarusiczki commented on #9357
@willdurand Sure, last check tomorrow on stage @ release testing.

[2020-04-22 12:17] bobsilverberg commented on #8860
I've created a PR to revert these changes at https://github.com/mozilla/addons-frontend/pull/9369.

@muskangupta-iitr If you want to see if you can enhance your patch to deal with this new issue, please feel free to do so, and then submit a new PR for it.

We had some discussions around these a11y issues, about the fact that we probably shouldn't work on any of them until we've had a full a11y rev

[2020-04-22 15:44] muskangupta-iitr commented on #8860
Thanks @bobsilverberg for mentioning me to work on the patch. I would definitely want to work on it and infact have found another approach to solve the issue. I have also found a solution that fixes the other two issues as well viz. Single link implementation, keyboard navigation and (third problem). I would create the PR for both the approaches today and we could proceed further as you and the Mo

[2020-04-22 15:50] muskangupta-iitr commented on #8860
In the merged patch, I removed `Link` tag, because I have to create a `table` for grid structure and finding it difficult to create a wrapped link table row, but I searched more on this issue and found a solution, we can use styling `display: table` and `display: table-row;` for achieving this. I will create a PR as I said before for this approach.

[2020-04-22 17:40] eviljeff opened #9373 "Add a script to extract & merge l10n"
According to @willdurand (from https://github.com/mozilla/addons-frontend/blob/master/docs/i18n.md#extracting-newly-added-strings) the procedure is (trivially)
[code]
so we should have that as a script.  Ideally with some git diff verification but that can be an enhancement.  MVP should just be to avoid us having to manually type 16 lines of commands (8 per app) and make sure each person running t

[2020-04-22 18:22] bobsilverberg commented on #9373
One of the things we do after the `extract-locales` step is check to see if any new strings were actually extracted. If there are not any, then we stop there and do not create any commits nor any PR. Do we feel this is an important step even for the MVP of this, or are we happy to push new commits each week that potentially do nothing other than change the date of the extract?

[2020-04-22 18:36] #3731 closed

[2020-04-22 18:50] eviljeff commented on #9373
I figured we could create the PR and then look on github.  If the PR is pointless just close it without merging.

[2020-04-22 22:41] jcsteh commented on #8860
FWIW, I'm on the Mozilla accessibility team. I did provide recommendations here which would have fixed this. The decision was made to go with a cleaner approach, but unfortunately, that approach didn't take into account some of these recommendations. I think this was just a misunderstanding. I don't think it's constructive to wait until a complete a11y review has been done before fixing any issues

[2020-04-23 04:03] tiansh commented on #5360
May a review be edited after getting voted? What will happen to the voting count if someone edited the review to something else? Is there a way to checkout history of edition?

[2020-04-23 12:02] ioanarusiczki commented on #9357
@willdurand
Install, remove , enable work as expected on AMO stage with FF75(Win10).

[2020-04-23 14:22] willdurand opened #9378 "Use official `mkcert` in tests"
We couldn't use the official mkcert builds on Travis CI because of an issue with Ubuntu. This has been fixed so we could switch back to the official builds.

[2020-04-23 14:57] willdurand opened #9379 "Sunset the disco app"
The disco app isn't really used anymore or shouldn't be since FF has its own implementation for some time. We would like to stop maintaining the disco app as soon as possible (i.e. stop serving this remote disco app and delete the code related to the disco app in this repo).

Do we want to serve a different page instead of no page? (FF should have a fallback view when the remote disco app does not

[2020-04-23 20:03] #9373 closed

[2020-04-23 22:16] jvillalobos commented on #5360
We currently have no plans to work on this issue (and others related to it). You bring up a good point, though. It's a separate issue, but we should probably not allow editing reviews, or only allow it for a short timeframe.

[2020-04-23 22:22] jvillalobos commented on #9379
In https://github.com/mozilla/addons-server/issues/9468 we discontinued the legacy disco pane by redirecting that frame to a page to download the latest Firefox. I suggest we do the same with this one. I would just add UTM params to the URL for proper attribution (and to the old one while we're at it).

@muffinresearch mentioned the new disco pane having a fallback if it can't be loaded. I don't k

[2020-04-24 10:47] muffinresearch commented on #9379
IIRC The fallback is just an error message saying it can't be loaded.

[2020-04-24 11:04] muffinresearch commented on #9379
So if that is in 60, looks like the new one was in 68 https://bugzilla.mozilla.org/show_bug.cgi?id=1533795 and 60ESR has long been superceded.

[2020-04-24 11:07] muffinresearch commented on #9379
@jvillalobos you mentioned a bug with `about:addons` if the disco pane (served from AMO) can't be loaded, do you have details of that?

[2020-04-24 11:38] #9378 closed

[2020-04-24 17:47] jvillalobos commented on #9379
I don't have any references for that, sorry. I think it came up when we decided to discontinue the legacy panel in https://github.com/mozilla/addons-server/issues/9468, so it might not be relevant for this sunset.

[2020-04-24 19:49] mstriemer commented on #9379
The Firefox implementation shipped in 68 by default but that release still has preferences to disable the HTML about:addons stuff. Flipping `extensions.htmlaboutaddons.discover.enabled` will still load the discovery pane from AMO. Making the URL 404 shows the error page that Stuart posted earlier.

[2020-04-26 21:26] yoasif opened #9383 "Filter by license"
### Describe the problem and steps to reproduce it:

I'd like to see a dropdown in my filters on my search result pages that let me filter by license type.

### What happened?

There is no filter.

### What did you expect to happen?

Something like

![image](https://user-images.githubusercontent.com/152493/80320156-b22eed80-87e2-11ea-9612-2e2c1632c2d5.png)

### Anything else we should know?

Discu

[2020-04-27 01:59] ReticentAdjuvant commented on #9383
In any case, increasing certainty related to the safety and security of add-ons is likely to be a positive move. I'm not familiar with this stuff enough to say what the way to do that would be but if allowing users to see and search by license is something that would allow me to legitimately distinguish between whats safe(er) and whats not then I. Am. In.

[2020-04-27 09:17] nodeticswww opened #9385 "Search doesn't return all matching results and returns some non-matching results"
### Describe the problem and steps to reproduce it:

Search functionality on Mozilla Add-on Store is not functioning properly. If you search with example the word "nodetics", the search is expected to return all WebExtensions which have this string in their description or author name.

### What happened?

The search returns 4 out of 6 matching extensions (Feedbro and LinCV are dropped out for some

[2020-04-27 09:24] willdurand commented on #9385
cc @diox

[2020-04-27 10:07] nodeticswww commented on #9385
Looks like the 4 extensions that are returned by the search have the search term as is in the text description. LinCV and Feedbro don't have that string in the description - only in author name.

But what I don't understand is where do those 2 extra results come from?

[2020-04-27 11:19] muffinresearch commented on #9379
Thanks Mark, has the move to the Firefox-based disco pane been made permanent since 68?

[2020-04-27 17:22] virgilt commented on #9383
@wagnerand May I work on this?

[2020-04-27 17:27] wagnerand commented on #9383
@virgilt This issue awaits a decision from the Product team. @jvillalobos will reply on next steps.

[2020-04-27 17:52] #8461 closed

[2020-04-27 18:21] mstriemer commented on #9379
The pref was removed in [bug 1337627](https://bugzilla.mozilla.org/show_bug.cgi?id=1337627) which was 73.

[2020-04-27 23:46] virgilt commented on #8998
@willdurand May I work on this?

[2020-04-27 23:47] virgilt commented on #9127
@bobsilverberg May I work on this?

[2020-04-28 11:54] bobsilverberg commented on #9127
If you'd like to give it a try, you may. It's not a particularly small or simple issue, but if you're interested in figuring out how to write tests for Jest reporters, please feel free to do so.

[2020-04-28 15:19] willdurand opened #9387 "Fix locales"
Some locales have errors, so we need to fix the files manually.

[2020-04-28 15:19] #9387 closed

[2020-04-28 18:20] virgilt commented on #9127
@bobsilverberg Yes, it didn’t sound like a simple proposition but that’s why I want try it.

[2020-04-28 22:20] jvillalobos commented on #9383
The way we currently store licenses on AMO doesn't lend itself for a very reliable search feature. I also don't think this would be something most of our users would benefit from. The license name is available [through the API](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#addon-detail-object), though, so it is possible to implement a custom license-based search from an app

[2020-04-29 00:01] bqbn opened #9389 "Help reduce logging volume in production"
### Describe the problem and steps to reproduce it:

AMO generates about 600+ GB logs per month. All those go across the Internet from AWS to GCP, and incur data transfer fees.

Can we configure the app to suppress at least DEBUG level logs for production?

For example,

[code]

Not sure how useful that line is but there are a *LOT* of them like that.

### What did you expect to happen?

Suppress

[2020-04-29 08:21] willdurand commented on #9389
I am actually surprised that addons-frontend has `DEBUG` logs in production. According to the config, the logging level should be `INFO`.

[2020-04-29 08:27] willdurand commented on #9389
This looks like an `INFO` message but we can probably change its level.

[2020-04-29 09:11] willdurand opened #9391 "Update pino-mozlog to use stackdriver logging levels"
We should update https://github.com/mozilla/pino-mozlog to let Stackdriver know about the logging levels (mozlog uses syslog levels and a different key so).

This is similar to what we have done in addons-server: https://github.com/mozilla/addons-server/issues/11724

[2020-04-29 12:02] #9391 closed

[2020-04-29 15:53] willdurand commented on #9389
I think https://github.com/mozilla/addons-frontend/pull/9392 will help a lot but I am keeping this issue opened to see if there are other log statements we could change.

[2020-04-30 00:51] bqbn commented on #9389
Thanks @willdurand for acting on this issue!

Curiously, where can I see the config? The log message just says `"Severity":6`, and it's hard to tell what level that is.

[2020-04-30 09:02] willdurand commented on #9389
This is configured here: https://github.com/mozilla/addons-frontend/blob/563b06af576b53c6847920f355abd26a0efec8c6/config/default.js#L52

Stackdriver will show the logging level names (take a look at the logs in -dev) as of next week's push.

[2020-05-01 20:25] diox commented on #9385
Hi,

We don't match by author name anymore as it was abused by developers too much. The ones that are returned at the top have that word in their description.

The 2 others are because we do fuzzy matching to help with misspellings etc. They appear towards the bottom, as intended because the fuzzy matching gives them a lower score.

So everything is working as intended as far as I am concerned.

[2020-05-01 20:25] #9385 closed

[2020-05-02 04:29] nodeticswww commented on #9385
Out of curiosity: how would developers "abuse" the fact that it is possible to search by developer name?
After all, developers are free to write pretty much anything to the extension description?
Also it looks like the two other results have basically nothing to do with the search phrase (the other result is even described in Russian and is totally unrelated. The second "fuzzy" result is also comp

[2020-05-04 09:27] willdurand commented on #9389
I think the recent changes should be enough to fix this issue.

[2020-05-04 09:27] #9389 closed

[2020-05-06 10:23] hannadrehman commented on #8259
@kaushalinfosys i initially thought the same , but i have observed that even if there is no deployment i get this chunkLoadError quite sometime in a day.

[2020-05-06 20:58] jvillalobos opened #9410 "Use GUID instead of the add-on name when logging a GA event"
I noticed in Google Analytics that install events are being logged differently for the same add-on because the label uses the add-on name, and the name can vary by locale. I think it would be best to use the default locale, so the results are better grouped. If wanted to be really strict we would use the GUID, but that would make the GA results harder to navigate, so let's stick to the name.

[2020-05-07 09:33] AlexandraMoga opened #9411 "The 'Learn more about permissions' button should always be visible on the Permissions card"
Follow up for #7634

### Describe the problem and steps to reproduce it:
1. Open the following extension detail page - https://addons.allizom.org/en-US/firefox/addon/many-files/
2. Scroll down to the Permissions card and look for the 'Learn more about permissions' button

### What happened?
The button is hidden in the `ShowMoreCard`

### What did you expect to happen?
The button is always visible,

[2020-05-09 20:22] Rob--W opened #9413 "/users/edit?to=<URL of code manager> does not redirect to the desired page after saving the user profile"
### Describe the problem and steps to reproduce it:

1. Visit https://code.addons-dev.allizom.org/
2. Start the login flow.
3. After completing the FxA login flow, it redirects to https://addons-dev.allizom.org/en-US/firefox/users/edit?to=https%3A%2F%2Fcode.addons-dev.allizom.org%2F
4. Set a display name and click on "Update My Profile" at the bottom.

### What happened?

I end up at https://addon

[2020-05-09 20:56] Aakash2408 commented on #9411
I would like to work on this issue. Kindly assign this to me.

[2020-05-11 09:54] willdurand commented on #9411
@Aakash2408 done

[2020-05-11 12:32] bobsilverberg commented on #9413
Yes, I believe this code is only meant to redirect users to pages within AMO. What is the use case for needing this for Code Manager?

[2020-05-11 12:36] Rob--W commented on #9413
The code manager requires a login to AMO. When I start the login flow from the code manager and choose to create a new account, I end up at the user profile page, which forces me to create a display name before being able to proceed. After saving the changes, the user should be redirected to the code manager instead of a non-existing page on AMO.

[2020-05-11 12:40] willdurand commented on #9413
Yeah, that only occurs for newly created amo accounts from code-manager. I'm not sure we want to support that, it's an edge case. We could probably only reset the `to` value in addons-server when it comes from code-manager, though.

[2020-05-11 12:43] bobsilverberg commented on #9413
My thoughts were along the lines of @willdurand's. Code Manager accounts will only ever be set up for a select group of users, and I would imagine that most of them would already have an AMO account. I'm not sure this is something worth supporting.

[2020-05-11 13:31] bobsilverberg commented on #9410
I believe that we only get the name back from the API for the current locale, so it sounds like this would need either an additional API request, or a change to the API to return both the name for the current locale *and* the name for the default locale, either of which might not make this a good first bug.

@jvillalobos To avoid this issue, perhaps we could use the `slug`, rather than either the

[2020-05-11 16:38] jvillalobos commented on #9410
I'm more in favor of adding the default locale name to the API, so that we don't break historical data comparisons. If we were to change to a different attribute I think I'd just go straight to the GUID.

@muffinresearch also mentioned there may be some object that can be sent with events to add extra data. Can someone confirm that is possible? If so, it'd be great to add that GUID to id.

[2020-05-12 12:17] #8868 closed

[2020-05-12 12:32] bobsilverberg commented on #9410
Sure, I can look into that.

[2020-05-12 12:38] bobsilverberg commented on #9410
Also, just wondering, if we were able to send both the GUID and the name in the current locale (i.e., not the default locale), would that enable you to group events as you wish, and also be able to see the name (even though it might appear different for different events)? Just want to verify that changing the API is the only solution that is going to work for you before we take that task on. Also,

[2020-05-12 13:05] diox commented on #9410
I would rather we avoid doing the API change. As mentioned in https://github.com/mozilla/addons-server/issues/14250 returning the name in default locale is very difficult to do, at least not without incurring a significant perf cost - the translations mechanism was never meant to return multiple translations in an optimized way, and it's one of the more delicate parts of addons-server, if not the

[2020-05-12 13:41] muffinresearch commented on #9410
Looks like the thing I was thinking of was the [objects with custom metrics sent along with an event as defined here](https://developers.google.com/analytics/devguides/collection/analyticsjs/custom-dims-mets) - I'm not sure that's necessarily useful for this case though.

[2020-05-12 16:10] bobsilverberg commented on #9410
When we send an event to GA we can specify 4 things: `action`, `category`, `label` and `value`. We are only using the first three when logging installs, so we could use the `value` to pass either a GUID or a `slug`.

@jvillalobos do you think it's worth doing that as a first step and see how helpful it is? @diox seems to be indicating that we should avoid making the API change, and we could consid

[2020-05-12 16:15] willdurand commented on #9410
Do we use the add-on name _only_ to group installs by add-on in GA?

[2020-05-12 19:51] jvillalobos commented on #9410
It looks like `value` won't help in this case. It's meant to be a numerical value in GA and can't be used in the main filtering features.

Let's change the `label` to be the GUID, for these event categories:

- AMO Addon / Recommendations Shown
- AMO Addon Installs Started
- AMO Addon Installs
- AMO Theme Installs Started
- AMO Theme Installs
- AMO Addon Installs Cancelled
- AMO Addon Uninstalls
-

[2020-05-12 19:58] bobsilverberg commented on #9410
Thanks @jvillalobos. What is the priority of this change? This issue is marked as a possible good first bug, and while I agree that now it probably is one, leaving it to contributors means it might not be completed particularly quickly. Are you fine with that, or should I just fix it now?

[2020-05-12 20:02] jvillalobos commented on #9410
It's not urgent, so I think it's fine to leave it to a contributor.

[2020-05-12 20:04] willdurand commented on #9410
My question still stands because I am wondering whether the data in GA might have been corrupted somehow. For instance, if we only rely on the name to aggregate data, a set of random add-ons with the same name would increment only one add-on in GA, making it more downloaded and therefore popular than it should.

[2020-05-12 20:18] bobsilverberg commented on #9410
Yes, the only identifying info we send is the `name`, so it is true that if we have multiple add-ons with the same name, their data will be aggregated.

[2020-05-12 20:22] jvillalobos opened #9417 "Use consistent attribute values across GA events"
Followup to https://github.com/mozilla/addons-frontend/issues/9410

[This document](https://docs.google.com/document/d/17KYC6cMY3hxWunFPdTgJGct6r6A47q2vvZc6yREYN3Q/edit#) describes the changes I'd like to make to the GA event values we're logging.

[2020-05-12 20:24] jvillalobos commented on #9410
Yes, we might want to fix this in Q3 if there are no takers before then, since we want to use GA for public download stats.

[2020-05-12 23:29] jcsteh commented on #8868
This is definitely still a problem. I don't believe there's any additional detail I can provide.

[2020-05-13 18:42] #8872 closed

[2020-05-14 08:25] bqbn opened #9419 "frontend app crashed due to heap OOM error"
### Describe the problem and steps to reproduce it:

### What happened?
At around 11 pm PDT on 5/13/2020, the AMO website started to return 5XX and users can't access the website.

When we logged onto the AWS console and started to investigate, we noticed that 9 out of 10 instances were in unhealthy state and were taken out of ELB.

The auto scaling group (ASG) had already spawned a few new instan

[2020-05-14 08:27] bqbn commented on #9419
There are more logs shared in this folder: https://drive.google.com/open?id=1G1z11bq3kWUC4jd9hTUO5ZGyovID2ZDe

These logs are from the remaining instances of 5/7/2020 push. The other 5 instances were auto terminated by AWS because they failed ASG health check.

[2020-05-14 08:31] willdurand commented on #9419
I have the feeling that we have an uncaught error in the saga layer (related to the `fetchSiteStatus` saga/action). It's a good candidate for causing all sort of problems, including OOMs.

[2020-05-14 11:26] willdurand opened #9421 "Handle errors in `fetchCurrentUserAccount()`"
Refs https://github.com/mozilla/addons-frontend/issues/9419

---

See: https://github.com/mozilla/addons-frontend/blob/028800baa6801d39a0d43a7cd580aab0da116cbe/src/amo/sagas/users.js#L43-L59

It is possible that this uncaught error causes an OOM if we have too many auth errors in a short amount of time. We should handle this in a better/different way because not catching exceptions in a saga will

[2020-05-14 11:57] willdurand commented on #9421
Let's see if we can have some sort of error handler for the server as suggested by @bobsilverberg in https://github.com/mozilla/addons-frontend/pull/9420#discussion_r425076147

[2020-05-14 14:29] moz-hwine commented on #8957
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2020-05-14 14:44] moz-hwine commented on #8793
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2020-05-14 14:48] moz-hwine commented on #8958
The web security baseline scan for site https://discovery.addons.allizom.org now passes - well done team!

[2020-05-14 18:49] willdurand opened #9423 "Remove `overflow-wrap: anywhere;`"
This issue is about removing `overflow-wrap: anywhere;` from our codebase if that's possible.

[2020-05-15 00:27] devaneymoz opened #9424 "Create a 404 page specific to missing addons and update copy on generic 404 page"
Details enclosed in this [doc](https://docs.google.com/document/d/10bG8yGA45YlOW6eE_OrEhFcKAa33qk8c_DOMYtiY56k/edit?ts=5ebd7ca2#).

[2020-05-15 11:58] #8396 closed

[2020-05-15 12:17] bobsilverberg commented on #9424
The page you are referencing *is* our standard 404 page. That is, we display it in many different contexts, not just when an add-on isn't found, so I'm not sure it makes sense to change it the way you describe in the doc.

It may be possible to define a special 404 page that gets used when we know we're showing it specifically because an add-on is not found, but that would be a not insignificant a

[2020-05-15 12:34] wagnerand commented on #9424
Fwiw, I requested comment-access to the doc to give the exact same feedback :)

[2020-05-15 13:08] willdurand opened #9426 "Rename blockpage feature flag"
We have a convention to prefix our feature flags with `enableFeature`. This was done for the block pages.

For QA: please make sure -dev serves blocked pages. Other envs should not.

[2020-05-15 13:17] #9426 closed

[2020-05-15 15:36] devaneymoz commented on #9424
Hmm okay thanks.

@jvillalobos thoughts on handling this case? Apologies - not sure where I got the impression this wasn't an all encompassing 404 page.

[2020-05-15 17:49] jvillalobos commented on #9424
I added a recommendation to the doc.

[2020-05-18 12:43] gavinr commented on #4910
This should not be closed, see discussion here: https://discourse.mozilla.org/t/browser-detection-incorrect/48787

[2020-05-18 17:20] devaneymoz commented on #9424
I'm good with @jvillalobos proposed message for the 404 case.

[2020-05-19 01:07] moz-hwine opened #9427 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Strict-Transport-Security Header Not Set [10035] x 4
 * https://addons.allizom.org/en-US/firefox/ (503 Service Unavailable: Back-end server is at capacity)
 * https://addons.allizom.org/sitemap.xml (503 Service Unavailable: Back-end server is at capacity)
 * https://addons.allizom.org/en-US (503 Se

[2020-05-19 07:23] willdurand commented on #9427
This is -stage and ops did some tests to reproduce the production issue from last week. That would explain the 503s.

[2020-05-19 07:27] bqbn commented on #9419
We were able to reproduce the issue in -stage env. We captured a core dump file and uploaded it in https://drive.google.com/drive/folders/1G1z11bq3kWUC4jd9hTUO5ZGyovID2ZDe.

[2020-05-19 09:25] AlexandraMoga commented on #9426
The `/blocked-addon/` pages are still available on -dev. I'll verify that stage doesn't serve them when the code lands there.

[2020-05-19 17:55] willdurand commented on #9413
I am marking this issue as wontfix.

[2020-05-19 17:55] #9413 closed

[2020-05-19 17:57] willdurand commented on #9076
I don't think we can fix this issue because the different states of the install button are retrieved from `mozAddonManager`.

[2020-05-19 17:57] #9076 closed

[2020-05-19 17:58] willdurand commented on #9079
duplicate of https://github.com/mozilla/addons-frontend/issues/4910

[2020-05-19 17:58] #9079 closed

[2020-05-19 18:04] willdurand opened #9428 "UI tests are failing"
Looks like the UI tests are back to red :/

Example: https://circleci.com/gh/mozilla/addons-frontend/21034

[2020-05-19 18:06] willdurand commented on #9428
@jrbenny35 hey could you please take a look? We might need to update FoxPuppet but I am not sure.

[2020-05-19 18:29] bobsilverberg opened #9430 "Output a summary of both steps of the l10n script at the end"
### Describe the problem and steps to reproduce it:

Run the l10n script at https://github.com/mozilla/addons-frontend/blob/master/bin/run-l10n-extraction.

### What happened?

Both the `amo` and `disco` steps are run, and the summary for the `amo` step is output after that step completes. Then the output of the `disco` step fills the buffer so you cannot see the summary from the `amo` step.

###

[2020-05-19 19:09] bobsilverberg commented on #9424
I have requested edit access to the doc as without it I cannot see what changes were introduced. For now, the doc still looks like it's suggesting a different message for instances where we know an add-on has been removed, but my earlier comments indicated that that is not something we currently do, and would be a significant code change.

If the requirements have changed to just be a change in wo

[2020-05-19 20:22] jvillalobos commented on #9424
The requested change is the we do have two different pages, one for listed add-ons that aren't currently visible and another one for all remaining 404 cases.

[2020-05-20 01:14] #9427 closed

[2020-05-20 01:14] moz-hwine commented on #9427
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2020-05-20 11:40] bobsilverberg commented on #9424
Ok, thanks @jvillalobos. That makes this a much bigger change. I will update the description of this issue to explain that it's about doing two things.

[2020-05-20 12:54] ioanarusiczki opened #9432 "Homepage layout issue when long unbroken strings are used for the recommended addons"
Followup for https://github.com/mozilla/addons-frontend/issues/8396#issue-473403723

1. It may seem that https://github.com/mozilla/addons-frontend/issues/8522 regressed
There's a layout issue when the name and description is a longer unbroken string on [Homepage](https://addons-dev.allizom.org/en-US/firefox/).
I tested with FF76(Win10).

![regression nr 1](https://user-images.githubusercontent.co

[2020-05-20 13:00] ioanarusiczki opened #9433 "The versions notes are cut on the version page when a long unbroken string is used"
As a followup for https://github.com/mozilla/addons-frontend/issues/8396#issue-473403723

STR:
1.  I edited the release notes for a version adding a long unbroken string. The version page looks like:
https://addons.allizom.org/en-US/firefox/addon/search_by_image/versions/?src=rating

![versionnotes](https://user-images.githubusercontent.com/33448286/82448913-12980e80-9ab3-11ea-9c6c-6d0cbfe18d51.pn

[2020-05-20 13:10] championshuttler opened #9434 "Add windows guidelines in main readme getting started section"
We should add `docs/windows.md` in Getting Started section too

[2020-05-20 13:23] ioanarusiczki opened #9436 "Layout issue when resizing `All reviews` page using Responsive Design Mode"
Followup for https://github.com/mozilla/addons-frontend/issues/8396#issue-473403723

Similar with https://github.com/mozilla/addons-frontend/issues/4108

Resizing this page with Responsive Design Mode https://addons.allizom.org/en-US/firefox/addon/search_by_image/reviews/716646/?src=rating somewhere between 720 ~790px width the name of the reviewer and the text are not entirely displayed.

This is

[2020-05-20 13:30] ioanarusiczki commented on #8396
@willdurand I tried to cover all pages with user input on AMO dev and AMO stage - FF76(Win10).
I filed the following (I find all of them edge cases, maybe expect for the first isssue which involves the homepage):
this looks like a regression https://github.com/mozilla/addons-frontend/issues/9432
https://github.com/mozilla/addons-frontend/issues/9433
https://github.com/mozilla/addons-frontend/issue

[2020-05-20 15:49] bobsilverberg commented on #9432
We should fix this. It's not a very high priority as we are in control of what goes into that field, and I cannot imagine an administrator adding a long unbroken text string.

This is likely just a one-line css change, so I think it's a decent candidate for a good first bug.

[2020-05-20 15:52] bobsilverberg commented on #9436
This is similar to https://github.com/mozilla/addons-frontend/issues/9432. It's probably just a simple css fix, but not a high priority as it's unlikely that the name of a reviewer would be a long unbroken string in the wild.

[2020-05-20 15:53] bobsilverberg commented on #9433
This is similar to https://github.com/mozilla/addons-frontend/issues/9432. It's probably just a simple css fix, but not a high priority as it's unlikely that the release notes for a version would contain a long unbroken string in the wild.

[2020-05-20 17:03] #9434 closed

[2020-05-21 01:14] moz-hwine opened #9439 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Strict-Transport-Security Header Not Set [10035] x 3
 * https://addons.allizom.org/en-US/firefox/addon/cursor-mega-pack/?src=rating (429)
 * https://addons.allizom.org/en-US/firefox/addon/litefox/?src=featured (429)
 * https://addons.allizom.org/en-US/firefox/addon/easy-passwords/?src=homepage-coll

[2020-05-21 07:16] AlexandraMoga commented on #9426
The `/blocked-addon/` pages are not available on stage.

[2020-05-22 14:52] #9432 closed

[2020-05-22 14:52] #9433 closed

[2020-05-22 14:52] #9436 closed

[2020-05-24 20:00] #8925 closed

[2020-05-25 14:54] bobsilverberg opened #9446 "Flagged label for reviews is too narrow"
I noticed this while testing https://github.com/mozilla/addons-frontend/pull/9437, but it's not a result of that update. I imagine it's been around for some time, perhaps since https://github.com/mozilla/addons-frontend/pull/9252.

When you flag a review, and the word "Flag" gets updated to "Flagged", the container is too narrow and the word gets wrapped. See below for a couple of examples:

<img

[2020-05-25 18:15] atiqueahmedziad commented on #9446
I guess this is a regression from pr #9210 for `overflow-wrap: anywhere;`. I was comparing a old version of the codebase with the current version and found the above change in between them.

[2020-05-25 18:23] bobsilverberg commented on #9446
Interesting! Thanks for looking into this @atiqueahmedziad. Are you interested in submitting a patch to fix it?

[2020-05-26 05:30] atiqueahmedziad commented on #9446
Yeah 😄

[2020-05-26 07:24] ioanarusiczki commented on #9432
@willdurand

Verified on AMO dev with FF76(Win10).

![long stringfix1](https://user-images.githubusercontent.com/33448286/82871942-fc6ad200-9f3a-11ea-8f79-9289439aa461.png)

[2020-05-26 07:28] ioanarusiczki commented on #9433
@willdurand This is still reproducible. Please take a look: https://addons.allizom.org/en-US/firefox/addon/search_by_image/versions/

[2020-05-26 07:37] ioanarusiczki commented on #9436
@willdurand This is still reproducible on AMO dev

![cut](https://user-images.githubusercontent.com/33448286/82873220-d6dec800-9f3c-11ea-9e37-2e7c7f46c909.png)

[2020-05-26 08:07] ioanarusiczki commented on #9434
@willdurand Is this qa needed?

[2020-05-26 09:08] willdurand commented on #9434
nope, sorry

[2020-05-26 09:12] willdurand commented on #9433
@ioanarusiczki mm would you have a link in -dev?

[2020-05-26 09:12] willdurand commented on #9436
@ioanarusiczki could you please share a link in -dev?

[2020-05-26 13:57] ioanarusiczki commented on #9436
@willdurand Sure, I tested with https://addons.allizom.org/en-US/firefox/addon/search_by_image/reviews/716646/?src=rating

[2020-05-26 14:10] ioanarusiczki commented on #9433
@willdurand Verified on AMO dev with FF76(Win10).
Sorry once again. I was awake I wasn't on coffee this morning.

![fixed](https://user-images.githubusercontent.com/33448286/82910754-acf4c800-9f73-11ea-8bff-7a77c707094d.png)

[2020-05-26 14:11] ioanarusiczki commented on #9436
@willdurand Same problem. It is AMO stage.

[2020-05-26 14:21] willdurand commented on #9436
@ioanarusiczki so AMO stage hasn't been patched yet?

[2020-05-26 14:34] ioanarusiczki commented on #9436
@willdurand As far as I know if it has this week's milestone this should go only Wednesday on stage.

However, I tested on dev and I changed the name of the user from a long unbroken string of 50 chars to one with spaces but I used the maximum of 50.
I see the date "2 months ago"  and some words cut (maximum 2 chars missing), maybe 2 letters from the display name too are missing.

https://addons-d

[2020-05-26 14:47] willdurand commented on #9436
Ok, so this is indeed a problem. mmmm

[2020-05-26 16:10] willdurand commented on #9436
@ioanarusiczki I added another fix.

[2020-05-27 07:01] ioanarusiczki commented on #9436
@willdurand Looks good to me. Verified on AMO dev with FF76(Win10).

![Bugfix](https://user-images.githubusercontent.com/33448286/82987892-00612780-a001-11ea-89f1-7a9d7658a24f.png)

[2020-05-27 11:41] #8873 closed

[2020-05-28 14:39] willdurand opened #9451 "Enable new block pages in all envs"
This is required because https://github.com/mozilla/addons-server/issues/14029 landed.

[2020-05-28 14:39] willdurand commented on #9451
cc @jvillalobos

[2020-05-28 15:09] #9451 closed

[2020-05-28 15:54] AlexandraMoga commented on #9451
Verified fixed on stage.
See https://addons.allizom.org/en-US/firefox/blocked-addon/many-domains@permissions/

[2020-05-29 01:10] #9439 closed

[2020-05-29 01:10] moz-hwine commented on #9439
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2020-05-29 09:19] diox opened #9453 "Investigate downgrading or removing common warning log message about unknown add-on type"
Stackdriver is full of these:
[code]

There is no context, so we don't know what request caused this. But it's extremely common, it's filling up the stackdriver console.

- Is this an actual problem ? With the API or the frontend ?
- Should we continue logging this ? If so, consider adding context. If not, let's remove or downgrade it sooner rather than later.

[2020-05-29 09:21] willdurand commented on #9453
Ha yeah, I've seen those too. It's coming from https://github.com/mozilla/addons-frontend/blob/9839f45f1192f1fb50c324fbb306e34c23d23173/src/core/reducers/categories.js#L114-L133 and I think we don't care. Let's change `warn` to `debug`.

[2020-06-01 08:11] devil-cyber commented on #9107
can I work on this I am new to Mozilla

[2020-06-01 08:14] devil-cyber commented on #2159
can I work on this I am new to Mozilla community

[2020-06-01 14:59] caitmuenster commented on #2159
Hi @devil-cyber, welcome! This one probably isn't a good one to get started with. :) Can you take a look at one of our other [good-first-issues](https://addons-pm.herokuapp.com/contrib/good-first-bugs/?dir=desc&sort=updatedAt) instead?

If you can't find a bug you would like to work on from that list, check back next week -- we will have labeled more bugs as good first issues. :)

[2020-06-03 12:39] willdurand opened #9455 "Do not use `public_stats` anymore"
We'll get rid of public stats soon (cf. https://github.com/mozilla/addons-server/issues/14463) so let's remove the use of `public_stats` everywhere. We'll keep links to the stats but only for developers and admins.

**For QA:** add-on detail pages for add-ons with public stats won't show a link to the stats anymore, unless the user is authenticated AND the author OR an admin.

[2020-06-03 12:39] willdurand commented on #9455
cc @jvillalobos

[2020-06-03 13:16] ioanarusiczki commented on #8873
@bobsilverberg Please add some STR for QA
Thanks!

[2020-06-03 13:36] bobsilverberg commented on #8873
Done! Added to the description.

[2020-06-03 17:04] eviljeff commented on #9453
As I was saying the meeting, pretty sure this is because addons-server still has all the categories for obsolete legacy types in it's constants.  If we remove them from addons-server (and the database) then they won't appear in the API response

[2020-06-03 19:39] willdurand commented on #9453
Yeah, I'll give that a try

[2020-06-04 08:56] ioanarusiczki commented on #8873
@bobsilverberg I don't see any layout issues or broken links for a 404 and 500.

Verified on AMO dev with FF76(Win10).

[2020-06-04 12:37] #9455 closed

[2020-06-05 07:06] fiddlytompkus commented on #9428
Is there anyone working on it

[2020-06-05 10:33] willdurand opened #9459 "Hide average number of users for language packs"
The "new" stats won't have data for language packs according to https://github.com/mozilla/addons-server/issues/14533 so we won't have an average number of users for these add-ons anymore. We should hide the value in the detail pages.

[2020-06-05 10:35] willdurand opened #9460 "Do not show the "view statistics" link for langpacks"
We're going to temporarily remove the stats dashboard for language packs.

[2020-06-05 15:20] #9453 closed

[2020-06-05 15:28] willdurand commented on #9107
No, AFAIK but that's not an issue suitable for contributors. Sorry.

[2020-06-08 08:34] eviljeff opened #9467 "update delete copy on account profile page - addons are now deleted too if they delete their account"
We need to update the copy and or logic on account profile page to indicate that users with addons will have those addons deleted too if they delete their account on AMO.
From https://github.com/mozilla/addons-server/issues/13896#issuecomment-639663492

Revised copy:

If you authored any add-ons they will also be deleted, unless you share ownership with other authors. In that case, you will be rem

[2020-06-08 16:06] caitmuenster commented on #9410
Hi  @willdurand, can you leave a comment about how a contributor could fix this bug (if it's a good-first-bug)?

[2020-06-09 09:41] avgupt commented on #3695
Hey, can I work on this?

[2020-06-09 11:21] bobsilverberg commented on #3695
@avgupt Thanks for your interest. You might be able to work on this, but that UX guidance is very old, so I'm not sure it's accurate anymore. @jvillalobos what do you think? Should we get an updated opinion from UX, or just move forward with implementing this as @pwalm suggested?

[2020-06-09 11:38] ioanarusiczki commented on #9455
@willdurand

For listed add-ons:
"Visit stats dashboard" is available when the user is an admin or if the user is the author of the addon.

Verified on AMO dev with FF76(Win10).

[2020-06-09 17:47] jvillalobos commented on #3695
The UX proposal still looks valid, but I think it'd be good to get a second opinion from @aaronrbenson if he has time. I'll ask on the next frontend meeting.

[2020-06-10 08:49] willdurand commented on #9428
No, but this isn't really an issue for contributors.

[2020-06-11 08:25] avgupt commented on #5441
Hey, can I work on it?

[2020-06-11 12:20] bobsilverberg commented on #5441
I don't think the answer given on [Feb 3](https://github.com/mozilla/addons-frontend/issues/5441#issuecomment-581346368) has changed, so it is still "no".

[2020-06-11 13:26] willdurand opened #9471 "Hide stats dashboard link for dictionaries"
See: https://github.com/mozilla/addons-server/issues/14533

---

We're going to temporarily remove the stats dashboard for dictionaries.

[2020-06-11 13:27] willdurand opened #9472 "Use the term "Downloads" instead of "Users" for dictionaries and langpacks"
See: https://github.com/mozilla/addons-server/issues/14533

---

We will use the download stats to compute the `addon.average_daily_users` on the server so let's change the title from `Users` to `Download` on a detail page of a dictionary or langpack. This change should also be visible in search results.

[2020-06-11 14:31] willdurand commented on #9459
closing this as we wont hide the number of users for langpacks. Instead, we'll show a number of downloads, see: #9472

[2020-06-11 14:31] #9459 closed

[2020-06-11 15:05] aaronrbenson commented on #3695
Yeah this looks good! I might line up the extension name and the closing 'x' horizontally. Outside of that, this would be a nice update.

[2020-06-11 15:16] jvillalobos commented on #3695
With Aaron's note I think we're good to go with this.

[2020-06-12 15:06] eviljeff commented on #9467
@jvillalobos

This isn't going to be technically true after #14613 - it'll be the same profile just empty and with no content.  (It should appear as if it's a new profile to the user though)

[2020-06-12 15:27] #9460 closed

[2020-06-12 15:27] #9471 closed

[2020-06-12 15:29] jvillalobos commented on #9467
Revised:

[2020-06-15 18:44] jrbenny35 commented on #9428
Got held up a bit on another project. Will get to this before Wednesday

[2020-06-17 08:13] rojinbarzegar7171 opened #9476 "duce it:"
### Describe the problem and steps to repro
duce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2020-06-17 08:13] #9476 closed

[2020-06-17 09:08] smayer97 commented on #8997
Still really needed. Please address,

[2020-06-17 12:42] ioanarusiczki commented on #9460
@willdurand
Usage Statistics section with "Visit stats dashboard" link is no longer available on the detail page of a langpack for a developer or the admin.
Verified on AMO dev with FF76(Win10).

[2020-06-17 12:42] ioanarusiczki commented on #9471
@willdurand
Usage Statistics section with "Visit stats dashboard" link is no longer available on the detail page of a dictionary for a developer or the admin.
Verified on AMO dev with FF76(Win10).

[2020-06-17 15:35] jrbenny35 commented on #9428
So I was able to reproduce the failure locally and it seems the addon needed to be installed for the addon install test returns a 404. Looking in ```storage/files``` I can see a directory with the file but maybe something with nginx has changed?

[2020-06-17 15:45] jrbenny35 commented on #9428
[code]

[2020-06-17 16:26] willdurand commented on #9428
mmm do we use this project? https://github.com/mozilla/addons-nginx

[2020-06-17 16:53] jrbenny35 commented on #9428
Yes and everything there seems fine

[2020-06-17 23:15] wesinator commented on #9077
https://addons.mozilla.org/firefox/user/15063723/

The preview also shows grey stars, making it look like it has 0 stars when it actually has 5
<img width="856" alt="image" src="https://user-images.githubusercontent.com/5124946/84959883-4d02c480-b0ce-11ea-93b6-b1d75a2958a1.png">

Thanks,

[2020-06-18 09:25] #9472 closed

[2020-06-18 10:55] ioanarusiczki commented on #9472
@willdurand Verified on AMO dev with FF76(win10).

detail page

![Downloads](https://user-images.githubusercontent.com/33448286/85011595-6a856c00-b16a-11ea-954a-96886c7a8b41.png)

search results
![search results](https://user-images.githubusercontent.com/33448286/85011934-ef708580-b16a-11ea-9515-44a322607de7.png)

[2020-06-22 11:39] ambujkhanna commented on #7312
@mks21998 : I also faced similar issue. Here was my solution.
**Earlier: ** `-webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: start;
            -ms-flex-align: start;
            **align-items: start;**`

**Solution :** `
-webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-st

[2020-06-23 08:46] #9467 closed

[2020-06-23 13:32] AlexandraMoga commented on #9467
@eviljeff I can see the new message copy on account deletions, but the frontend is currently preventing developers with published addons from deleting their accounts, i.e the Delete button is disabled.

![image](https://user-images.githubusercontent.com/31961530/85408900-ccc8dd00-b56d-11ea-961a-8b412ef0b90b.png)

[2020-06-23 15:26] eviljeff commented on #9467
@AlexandraMoga #9479

[2020-06-24 09:07] AlexandraMoga commented on #9467
The 'Delete My Profile' button is no longer disabled for users with add-ons.

This issue is verified fixed on -dev.

[2020-06-24 14:41] AlexandraMoga opened #9482 "401 error received at page refresh for users who deleted their accounts on FxA"
Follow up for https://github.com/mozilla/addons-server/issues/14702#issuecomment-648846438
Prerequisites: `fxa-account-delete` waffle is enabled

### Describe the problem and steps to reproduce it:
1. Log in on AMO stage (the FxA server is more reliable here)
2. Go to the Edit profile page and click on Manage Firefox account (open this link in a new tab)
3. Delete the user account from FxA
4. Go b

[2020-06-24 14:48] willdurand commented on #9482
This is because we're not clearing the cookies and the auth cookie is sent to the server on page refresh.

[2020-06-24 16:34] willdurand commented on #9482
On a second thought, I think we might be able to solve the issue in addons-frontend. I am not sure how we will display a message to the user yet but we should be able to:

1. catch the 401 when loading the user profile on the server
2. force-delete the auth cookie
3. notify user

For (2), hopefully it is doable _via_ our express server.

For (3), not sure we can reuse our UI error handling. We mig

[2020-06-25 15:29] jrbenny35 commented on #9428
Not sure what happened but these are passing again. @willdurand can you confirm this?

[2020-06-25 19:18] willdurand commented on #9428
ha, hu. indeed. well.. let's close this issue for now then.

[2020-06-25 19:18] #9428 closed

[2020-06-30 15:54] #9482 closed

[2020-06-30 16:17] #8751 closed

[2020-06-30 16:17] #8726 closed

[2020-07-01 10:09] AlexandraMoga opened #9490 "Addon detail page 404s at page refresh for users who deleted their accounts on FxA"
Follow up for #9482

### Describe the problem and steps to reproduce it:
1. Log in to AMO stage
2. Open an add-on detail page
3. In a separate tab, open the FxA account management page
4. Delete your account from FxA
5. Go back to AMO and refresh the tab where the add-on detail page was opened

### What happened?
You receive a 404 for the add-on detail page

### What did you expect to happen?
The

[2020-07-01 10:10] AlexandraMoga opened #9491 "'Incorrect authentication credentials' error displayed on any profile page for users who deleted their accounts on FxA"
Follow up for #9482 and similar to #9490

### Describe the problem and steps to reproduce it:
1. Log in to AMO stage
2. Open any user profile page
3. In a separate tab, open the FxA account management page
4. Delete your account from FxA
5. Go back to AMO and refresh the tab where the user profile page was opened

### What happened?
There is an 'Incorrect authentication credentials' error displaye

[2020-07-01 10:11] AlexandraMoga commented on #9482
@willdurand I've verified the fix on stage and I can confirm that I no longer receive 401s when refreshing any frontend pages. There is also a message displayed to users to inform them they've been logged out.

There are some edge cases caused by the frontend-auth cookie being deleted. I've filed #9490 and #9491 as follow-ups since it's easier to give STR that way.

[homepage]
![image](https://use

[2020-07-01 10:11] willdurand commented on #9490
Is the page public? What happens if you refresh again?

[2020-07-01 10:13] AlexandraMoga commented on #9490
@willdurand yes, the page is public and If I refresh the error will persist

[2020-07-01 10:15] willdurand commented on #9490
@AlexandraMoga could you tell me which cookies are present?

[2020-07-01 10:18] AlexandraMoga commented on #9490
@willdurand I can see the `frontend_auth_token` and `sessionid` cookies in Storage:

![image](https://user-images.githubusercontent.com/31961530/86232855-3d3eb200-bb9d-11ea-92cd-17f7d60f99cf.png)

[2020-07-01 10:21] willdurand commented on #9490
is there any value for the `frontend_auth_token` cookie?

[2020-07-01 10:27] AlexandraMoga commented on #9490
Yes, the cookie has a value

[2020-07-01 10:35] willdurand commented on #9490
Can you give me all the details of this cookie (you can cut the first 5-10 of its value)?

[2020-07-01 12:31] #9490 closed

[2020-07-01 12:31] #9491 closed

[2020-07-01 13:26] alexandra-martin opened #9493 ""Profile photo" can be deleted if "Profile" fields are selected and "Enter" is pressed in "Edit my profile""
### Describe the problem and steps to reproduce it:
1. Log in and successfully upload a "Profile photo" through "Edit my profile".
2. Click on "Edit my profile" again and write something in any of the fields from the "Profile" section.
3. Press "Enter" and observe the page.

### What happened?
The user is asked whether to confirm or cancel deleting the "Profile photo".

### What did you expect to

[2020-07-01 18:01] Tecayehuatl commented on #7312
I my case i was using `justify-content: start;` property instead `justify-content: flex-start; ` using `flex-start` value solved it!

[2020-07-02 07:30] AlexandraMoga commented on #9490
Add-on detail pages can be loaded now without errors.
I'm marking the issue as verified fixed on -stage.

[2020-07-02 07:32] AlexandraMoga commented on #9491
The 'Incorrect authentication credentials' error is no longer displayed when viewing a user profile page.
I'm marking the issue as verified fixed on stage.

[2020-07-02 07:33] AlexandraMoga commented on #9482
The remaining errors were fixed. This issue can be marked as verified fixed on stage.

[2020-07-02 08:44] AlexandraMoga opened #9495 "Log in fails if a user registers a new account after having deleted a previous account from FxA"
Prerequisites: `fxa-account-delete` waffle is enabled

### Describe the problem and steps to reproduce it:
1. Log in to AMO stage
2. Open the Firefox account management page in a separate tab
3. Delete your account from FxA
4. Switch back to the AMO tab and refresh the page - make sure that you've been logged out
5. Log in again with the same email or a new email address - this will trigger the ac

[2020-07-02 13:54] willdurand commented on #9495
This seems to be a problem with the session cookie. I feel like deleting the session cookie (in addition to the auth cookie) would fix this issue.

[2020-07-02 15:12] #9495 closed

[2020-07-02 15:13] willdurand commented on #9495
@AlexandraMoga I fixed the issue in -dev but I am not sure we can fully reproduce the issue in -dev

[2020-07-03 15:25] AlexandraMoga commented on #9495
I couldn't find a way to reproduce this on -dev either, so, unfortunately, we'll have to wait until the code lands on stage to verify this fix.

[2020-07-06 09:45] willdurand commented on #9495
@AlexandraMoga hey, I just deployed tag `2020.07.06` in stage, which is based on last week's tag + the fix for this issue.

[2020-07-06 13:55] AlexandraMoga commented on #9495
@willdurand I'm not reproducing this issue on stage anymore, so it looks like the fix worked.

I'm marking the issue is verified fixed on -dev.

[2020-07-06 16:05] caitmuenster commented on #9469
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @willdurand

Will, could you add a few more comments about how a contributor can fix this? :)

[2020-07-06 21:29] bobsilverberg opened #9501 "Switch from node-sass to dart-sass"
I noticed in the [release notes](https://github.com/webpack-contrib/sass-loader/blob/master/CHANGELOG.md#900-2020-07-02) for `sass-loader` that is is strongly suggested we use `dart-sass` (which is the same as the default `sass` package on npm) instead of `node-sass`, which we are currently using.

[2020-07-06 21:35] bobsilverberg commented on #9501
It turns out this isn't as simple as just switching out `node-sass` for `sass`, as we are getting some compilation errors after making that switch.

It seems we are encountering a similar problem to that described at https://github.com/sass/dart-sass/issues/898, but I'm having trouble coming up with a solution that works with our `breakpoints`. I did discover that simply removing `only` from each

[2020-07-07 08:35] willdurand commented on #9501
Given that there is an issue in LibSass too, that `dart-sass` is clearly not a drop-in replacement for `node-sass`, I'd keep `node-sass` for now, which is both working fine and maintained. We could follow the `dart-sass` and `libsass` issues and work on this issue when things get better, no?

[2020-07-07 11:43] bobsilverberg commented on #9501
Sure, that makes sense. I probably wouldn't have even opened this if I knew it wasn't going to be a drop-in replacement. I didn't realize that until I started trying to get it to work.

[2020-07-07 11:45] willdurand commented on #9501
Yeah, that's what other folks said in one of the issues too.. Not sure why this lib would be the recommended one now.

[2020-07-07 15:57] bobsilverberg opened #9503 "Create new badges for promoted add-ons"
We will need 3 new badges:
- One for Verified Tier 1
- One for Verified Tier 2
- One for Line

Samples can be found at https://docs.google.com/drawings/d/141R80FYZve9rHq3-1oSopUPnMUTPsMgUhj0QNs3d8VI/edit

For QA:

None of the three new badges will appear anywhere on the site yet, but the existing Recommended badge and icon have been replaced to use the new code, so verifying no regressions with th

[2020-07-07 16:12] bobsilverberg opened #9504 "Adjust the logic for the Recommended badge to work with other categories"
Depends on https://github.com/mozilla/addons-server/issues/14923

Once the other promotional categories exist for add-ons, adjust the logic that displays Recommended badges to be able to display the appropriate badge for the category. This will include a specific tooltip and link destination for each category.

[2020-07-07 16:16] bobsilverberg opened #9505 "Adjust the logic for the non-recommended warning to deal with other categories"
Depends on https://github.com/mozilla/addons-server/issues/14923

Once the other promotional categories exist for add-ons, adjust the logic that displays non-recommended warning to hide it when appropriate.

Specifically, any promoted add-on should have the warning suppressed, except for those in the "Strategic" category.

[2020-07-07 16:24] bobsilverberg opened #9506 "Create a home page shelf for promoted add-ons"
As per the PRD at https://docs.google.com/document/d/1dm6d8pBvUVP4sTAQcg5WvXu10NGZJtbOzPU9eyb0AH4/edit#, add a shelf between the Primary and Secondary hero which displays promoted add-ons.

Some specs:
- The cards are larger than regular shelves, showing three horizontally, instead of four.
- The shelf will support two rows of cards.
- If there are cards to show, the shelf should appear. If there

[2020-07-07 18:09] bobsilverberg opened #9508 "Remove pinning of isort when possible"
We had to add a pinning of `isort` to `tests/ui/requirements/flake8.txt` in order to fix a build failure, but we should be able to remove it once https://github.com/gforcada/flake8-isort/pull/89 lands and a new version is released.

[2020-07-08 07:14] Manish-Giri commented on #9469
Hello, I would like to work on this, please.

[2020-07-08 08:42] willdurand commented on #9508
Looks like the upstream lib was fixed last night: https://github.com/gforcada/flake8-isort/pull/89

[2020-07-08 13:29] #9508 closed

[2020-07-08 13:39] #9430 closed

[2020-07-09 10:06] diox opened #9511 "Lots of csp errors are thrown (and reported) when loading add-on detail or developer profile pages"
### Describe the problem and steps to reproduce it:
0. Open developer tools network tab
1. Load the detail page for a developer, or an add-on that has other add-ons made by the same developer (don't navigate to it from other pages: copy the URL to your browser location bar and press enter)

### What happened?
- Lots of requests to `__cspreport__` are made

### What did you expect to happen?
- No r

[2020-07-09 12:28] bobsilverberg commented on #9511
Is this something new, or has it always been this way? To clarify, this happens only when the page in question is rendered on the server?

[2020-07-09 12:43] willdurand commented on #9511
It's not new. This is a known issue when we render `<LoadingText />` on the server, which can happen with "secondary data", i.e. data we start to fetch after we receive other data, like an add-on or a user for example. Example: we first need to fetch an add-on to retrieve the authors, and based on these authors, we can fetch new data to display the "add-ons by authors". We tried to avoid these cas

[2020-07-10 12:21] Kushagraw12 commented on #9411
Is this issue still open? Can i work on it? Thanks!

[2020-07-10 12:32] Aakash2408 commented on #9411
@Kushagraw12  just wait for 2 days if it is not done  then I will inform you

[2020-07-10 12:33] Kushagraw12 commented on #9411
Okay, I will wait. Thank!

[2020-07-12 16:56] Aakash2408 commented on #9411
@Kushagraw12 just wait for one more day . If this is not done by tomorrow this time @willdurand  can surely assign  this to you.

[2020-07-12 17:17] Kushagraw12 commented on #9411
Okkay.
Thanks.
I will make myself familiar with the code base by then.

[2020-07-13 13:51] Aakash2408 commented on #9411
@willdurand I AM trying to push the code but it is showing access denied.
![Screenshot from 2020-07-13 19-17-22](https://user-images.githubusercontent.com/47134609/87312338-0c1b9580-c53e-11ea-9dd4-a0257a2b7698.png)
What can I do?

[2020-07-13 13:53] willdurand commented on #9411
You should create a fork: https://docs.github.com/en/github/getting-started-with-github/fork-a-repo

[2020-07-13 13:54] Aakash2408 commented on #9411
oops! Really sorry I directly cloned it .

[2020-07-13 14:00] willdurand commented on #9411
That's no problem. Once cloned, you can still create a fork and then add a new "remote" that points to your fork.

[2020-07-13 14:18] Aakash2408 commented on #9411
@willdurand can you just tell me if we want both buttons i.e, Read more and the other button or we just want to show 'learn more about permissions' without readme button?. I will push the code just now.

[2020-07-13 16:17] willdurand commented on #9469
So we only list extensions on purpose I think. I am not sure how it would work with dictionaries because we'd need to update translations and so on. Should we consider dictionaries as extensions (something we tried to avoid in the past)? Or should we continue to not display dicts on user profiles?

[2020-07-13 16:17] willdurand commented on #9469
cc @jvillalobos

[2020-07-13 16:40] jvillalobos opened #9515 "Make the Delete button in the Edit profile page red"
The "Delete My Profile" button in the Edit Profile page is light grey and it appears to be confusing some users when they are creating their account for the first time. We should make this button red like other Delete buttons to make it clear what it's for.

[2020-07-13 17:05] jvillalobos commented on #9469
We want to eventually group dictionaries with extensions, so if that's possible to do in the profile page, I'm okay with it. I wouldn't bother trying to create a new section for them.

[2020-07-13 17:49] #9515 closed

[2020-07-13 17:59] Kushagraw12 commented on #9411
I guess its done. Can you suggest me some other easy issue through which i can make my first contribution to this organization? I am new to open source! 😅
Thanks! :)

[2020-07-13 19:22] bobsilverberg commented on #9506
I've started working on this. Here is what I have so far, which I think pretty closely resembles the example in the PRD. What do you think, @jvillalobos?

<img width="1105" alt="Screenshot 2020-07-13 15 18 08" src="https://user-images.githubusercontent.com/142755/87344518-9bb04c80-c51c-11ea-9f82-940d7c659414.png">

[2020-07-13 20:24] Aakash2408 commented on #9411
@Kushagraw12 no it's
 not done am having some yarn build issues you can do it if you want .

[2020-07-13 20:31] jvillalobos commented on #9506
Let's try the following:

- Text for add-on names about 20% larger.
- Text for "What is this" link about 25% smaller. Also change the label to "What is this?", with the question mark.

Thanks!

[2020-07-13 20:58] bobsilverberg commented on #9506
Thanks for the feedback, @jvillalobos. For the changes you suggested, I used the standard font sizes we have defined for the app. Before each was `14px`, which is `$font-size-default`. I changed the add-on names to use `$font-size-m`, which is `16px`, and I changed the "What is this?" link to use `$font-size-s`, which is `12px`. I'm attaching a screenshot from Storybook. Please let me know is this

[2020-07-13 21:01] #9503 closed

[2020-07-13 21:51] jvillalobos commented on #9506
Yes, I think we need to vary from the pre-defined sizes. I don't think we need the link to be too prominent, and we should also make the sponsored extensions stand out more. Part of the reason there are only three across the shelf is so that they can be larger without impacting layout.

[2020-07-14 08:53] AlexandraMoga commented on #9515
This is verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/87405845-a45e5c80-c5c8-11ea-91c3-ef8c38429fd7.png)

[2020-07-14 12:04] bobsilverberg commented on #9506
I bumped the add-on name to 18px and reduced the link to 10px. Please let me know what you think:

<img width="1139" alt="Screenshot 2020-07-14 08 03 27" src="https://user-images.githubusercontent.com/142755/87423610-90a2fe00-c5a8-11ea-92d6-3bddcda0a3de.png">

[2020-07-14 12:09] bobsilverberg opened #9518 "Add the Promoted add-ons shelf to the home page"
Depends on https://github.com/mozilla/addons-server/issues/14923

The component for the new Promoted Add-ons shelf will land in #9517, but it doesn't appear anywhere. This issue is about adding the shelf to the home page.

From the PRD:
- Impressions and clicks of add-ons shown in this section must be recorded in Google Analytics.

[2020-07-14 12:15] AlexandraMoga commented on #9503
I've looked at the Recommended badges on -dev and, apart from the decision of making all the badges text center aligned, there are no other differences:

[small badge - search results]
![image](https://user-images.githubusercontent.com/31961530/87424279-5b1c0600-c5e4-11ea-8cfd-c6be8d4b4b7c.png)

[large badge - addon listing]
![image](https://user-images.githubusercontent.com/31961530/87424024-f2cd

[2020-07-14 12:16] bobsilverberg opened #9519 "Enhance `SearchResult` to allow for recording of impressions and clicks"
#9518 requires that all impressions and clicks of promoted add-ons in the Promoted Add-Ons shelf be recorded via Google Analytics. As this shelf component uses the `SearchResult` component to display the individual add-ons, that component needs to be updated to allow extra behaviour added for impressions and clicks.

[2020-07-14 12:24] AlexandraMoga commented on #9430
Does this issue require QA?

[2020-07-14 13:56] willdurand commented on #9506
We aren't very Photon-compliant when it comes to font-sizes. I think it would time for us to look at what we should update to match the Photon specs and then see which font-sizes we could use for this new shelf. We have quite a lot of various font-sizes already and adding new ones isn't going to help :/

[2020-07-14 14:53] bobsilverberg commented on #9506
That's why I asked the question. If we're going to re-evaluate font sizes across the site, I think that's something that UX should be involved in. Do we know if they are able to devote some time to helping us with that?

[2020-07-14 16:16] Kushagraw12 commented on #9411
Okay. I just finished up setting up my local development setup.
I will start working on this issue. Can you give me a heads up where to start from for this issue?
Thanks

[2020-07-14 16:35] Kushagraw12 commented on #9411
@willdurand
Does this look good enough or should i completely remove the 'Read More' from this card?
Thanks!
![Screenshot (51)](https://user-images.githubusercontent.com/53997603/87451882-22008780-c61e-11ea-85c7-98b90aed119a.png)

[2020-07-14 17:44] #9519 closed

[2020-07-14 19:56] jvillalobos commented on #9506
The modified sizes look good to me, thanks.

Aaron is aware of the changes we're introducing and is as involved as his time allows. Unfortunately that's not a lot, so we have to take the initiative whenever possible. [Maybe this scaling guide](https://design.firefox.com/photon/visuals/typography.html) can help decide which sizes to use here. However, let's keep in mind that AMO is a fairly unique

[2020-07-15 12:59] bobsilverberg commented on #9506
Thanks for the link to that, @jvillalobos. I can use sizes from that photon scaling guide for these new elements. I think @willdurand was suggesting that we should change all of our default sizes on the site to match these as well. What do you think about that?  We'd probably need to replace a bunch of custom sizes as well, but I believe we mostly use the default sizes, so it wouldn't be a huge am

[2020-07-15 14:36] bobsilverberg commented on #9506
I adjusted the fonts to match the photon scaling specs. I made the link consistent with "Caption 10" (11px, 400 weight), and the add-on name consistent with "Title 20" (17px, 500 weight):

![Screenshot 2020-07-15 09 53 56](https://user-images.githubusercontent.com/142755/87553618-214d0d00-c681-11ea-93f7-0f35f7443c7e.png)

[2020-07-15 15:49] bobsilverberg opened #9523 "Configure the promoted add-ons shelf to interact with GA"
Depends on #9506

As per the PRD:

"Impressions and clicks of add-ons shown in this section must be recorded in Google Analytics."

With #9519 landed, and once the initial shelf code lands, we can enhance this shelf to record both clicks and impressions using Google Analytics.

[2020-07-15 17:17] bobsilverberg commented on #9506
One thing to note: In addition to Photon, there is also Protocol, which I believe is newer. The specs for font sizes for Protocol (https://protocol.mozilla.org/fundamentals/typography.html) are different from the specs for font sizes for Photon. The former are closer to what we're using now, whereas the Photon ones are different (using mostly odd px sizes).

Stuart also pointed out that our defaul

[2020-07-15 17:53] jvillalobos commented on #9506
Let's use the sizing in this last mockup for now. I'll ask Aaron about Protocol and Photon to see which one we should be following and we'll figure out where to go from there.

[2020-07-15 18:51] willdurand commented on #9506
Sorry, my previous comment about Photon specs was more about updating all font-sizes in case we'd want to use new font sizes specifically for this new shelf (and not just cherry-pick one or two font sizes in the Photon spec only).

It turns out that 18px and 10px are font sizes we're already using in addons-frontend and @jvillalobos was ok with them, so I feel like we should use 18px/10px instead

[2020-07-16 11:46] bobsilverberg commented on #9506
Thanks @willdurand. We're back to 18/10.

[2020-07-17 12:25] ioanarusiczki commented on #9519
@bobsilverberg If qa can check this, please let me know what I should be looking for.
Thanks!

[2020-07-18 14:40] #9060 closed

[2020-07-18 17:40] #3111 closed

[2020-07-18 23:05] iamleot commented on #4610
Pong (issue still relevant)

[2020-07-18 23:06] iamleot commented on #4610
Can you please "pin this" or similar to avoid possible (non-)stale humans vs stalebots fights? :)

[2020-07-20 12:09] willdurand opened #9527 "All supported add-ons should have average daily users"
Depends on https://github.com/mozilla/addons-server/issues/14982

---

We made some changes to display the number of "Downloads" instead of "Users" for langpacks and dictionaries. We've added support for those add-on types in BigQuery and addons-server. Once the issue above lands, we can revert the UI changes introduced in:

- https://github.com/mozilla/addons-frontend/issues/9460
- https://github

[2020-07-20 13:29] bobsilverberg commented on #9519
Oops, sorry @ioanarusiczki. This does not add any testable behaviour, but it is a change to the `SearchResult` component, so we should check for regressions. This component is used on the Search Results page, as well as any page that shows a list of add-ons (e.g., the home page, the profile page, etc.).

Thanks!

[2020-07-20 14:12] #9506 closed

[2020-07-20 16:11] caitmuenster commented on #9469
@willdurand Could you give a couple of pointers for how to fix this? Then @Manish-Giri should be able to get started on a fix. ✨

[2020-07-20 16:39] #9527 closed

[2020-07-20 16:49] eviljeff commented on #9469
this is blocked by https://github.com/mozilla/addons-server/issues/14997 (not really a good first bug)

[2020-07-21 14:58] bobsilverberg opened #9533 "Change fonts for Promoted shelf to match other shelves"
This is a follow-up to https://github.com/mozilla/addons-frontend/pull/9517. After discussing in the Add-ons Front End Review meeting, it was decided to use the same fonts for the new Sponsored shelf as is being used for the existing shelves on the home page, as opposed to the unique fonts used in #9517.

One question for @jvillalobos: As the "What is this?" link is unique to this shelf, do we wan

[2020-07-21 15:08] bobsilverberg opened #9534 "Update/Fix the promoted badges"
This is a follow-up to https://github.com/mozilla/addons-frontend/pull/9513. There are a couple of changes required for the new badges:

1. Make the label one shade darker for the green and grey badges.
2. The icon doesn't seem to change colour on hover, the way the outline does. That should be fixed.

[2020-07-21 16:17] jvillalobos commented on #9533
Yes, let's keep that link small, since it serves a different purpose than the others.

[2020-07-22 08:59] ioanarusiczki commented on #9527
@willdurand
On dev:
- the detail pages and search results show `users` instead of `downloads` for lang packs and dicts.
- the frontend link to stats is now available on the detail pages for the owners/developers. It's not available in logout view or viewed by another user (except the admin).

I have a question about the search results that use the `sort=users` parameter:
- on dev I see that after

[2020-07-22 09:31] willdurand commented on #9527
I see "No users" on the detail page, so having no stats data makes sense. The fact that it shows 192 users in the search results means that we didn't update the ElasticSearch data somehow.

[2020-07-22 09:33] ioanarusiczki commented on #9519
@bobsilverberg I verified on AMO stage:
- the see more links which use search results use the same parameters as before.
- search in general worked for me.
- visually I don't see issues when a list of add-ons is shown.

[2020-07-22 10:02] willdurand commented on #9527
Looks like the theme is gone in the search results now, right?

[2020-07-22 10:03] willdurand commented on #9469
The frontend issue is quite involved too.

[2020-07-22 11:47] ioanarusiczki commented on #9527
@willdurand I still see 192 users in the search results. actually, I see the same results as before.

[2020-07-22 11:50] willdurand commented on #9527
mmm, right. I maybe clicked the wrong link earlier. I also see 192 users for this static theme. Weird.

[2020-07-22 15:17] willdurand commented on #9527
@ioanarusiczki do you reproduce in stage by chance?

[2020-07-22 15:31] #9533 closed

[2020-07-23 06:51] ioanarusiczki commented on #9527
@willdurand This issue was about something else and I'm going to mark it verified - FF78(Win10).

If you consider that I should open a tracking issue for the search part, let me know.

[2020-07-23 10:09] vcarciu opened #9540 "test"
test

[2020-07-23 11:47] #9540 closed

[2020-07-23 13:22] #9534 closed

[2020-07-24 12:36] ioanarusiczki commented on #9534
@bobsilverberg I only see the `recommended` badges being available (as they were before).
The add-ons added in the [list of promoted add-ons](https://addons-internal.dev.mozaws.net/en-US/admin/models/promoted/promotedaddon/) from admin don't show badges on the detail pages yet.

If I did not understand the issue then please add some STR.
Thanks!

[2020-07-24 13:41] bobsilverberg commented on #9534
Sorry, @ioanarusiczki, I should have marked this as `qa: not needed`.

[2020-07-24 15:15] bobsilverberg opened #9542 "Display optional permissions"
~~Depends on https://github.com/mozilla/addons-server/issues/15036~~

PRD: https://docs.google.com/document/d/1px08vsGEbI3dggO8xj-6CVAJsh1MAk9IFROBfv3mT6Y/edit?usp=sharing

The PRD does not contain any UX specs, but assuming these will just be displayed in a similar manner to how required permissions are currently displayed.

[2020-07-25 11:37] smayer97 commented on #3252
still keep open please

[2020-07-26 13:51] bhushan-borole commented on #9248
Hello @willdurand.
Can I work on this issue?

[2020-07-27 01:57] bhushan-borole commented on #9424
Hello @bobsilverberg.
I would like to work on this issue.
Can I have a bit more insight about this?
Thank you.

[2020-07-27 07:54] willdurand commented on #9248
Yep, go ahead

[2020-07-27 10:34] bhushan-borole commented on #9248
@willdurand
Is this the correct approach to reproduce the bug?

[2020-07-27 12:28] willdurand commented on #9248
I think so yes

[2020-07-27 12:30] bhushan-borole commented on #9248
Thank you, will setup the project locally, and start working on this issue.

[2020-07-27 16:51] bobsilverberg commented on #9424
@bhushan-borole I'm not sure that this is a good candidate for a contributor. Those issues tend to be labelled with `contrib: good first bug` and `contrib: welcome`.

[2020-07-28 11:37] bhushan-borole commented on #9248
@willdurand
This component should be returned right instead of search results?
https://github.com/bhushan-borole/addons-frontend/blob/master/src/amo/components/Errors/NotFound/index.js

[2020-07-28 13:11] bhushan-borole commented on #9411
Hey @willdurand
I would like to work on this issue.
As I understand, the Learn more about permissions button should be visible.
So is it okay if I remove the Read more button?

[2020-07-28 19:43] muffinresearch commented on #9511
Here's a few thoughts on some various approaches. Most of them aren't that great. Switching the calculation to a class name based approach is probably the easiest.

### Allow inline styles in the CSP

This would stop the reports, but it could also allow for exfiltration based on attribute selectors pointing to another allowed endpoint assuming a passive injection of style is possible.

### Use a n

[2020-07-28 19:59] muffinresearch opened #9545 "Prettier is being run on coverage dir"
See screenshot - happens after generating coverage:

<img width="730" alt="bash" src="https://user-images.githubusercontent.com/1514/88714736-1ed4c380-d115-11ea-8551-2bb479a5c1f5.png">

[2020-07-28 20:06] muffinresearch commented on #9501
FWIW I found node-sass is quite a bit faster than dart-sass when running compilation timings for extension workshop. That's even after taking into account the notes about `sync` vs `async` and using `Fiber`.[1]

[1] https://sass-lang.com/dart-sass

[2020-07-28 20:50] #9545 closed

[2020-07-29 13:18] willdurand opened #9547 "Use UTM parameters instead of `?src=`"
According to this [PRD](https://docs.google.com/document/d/1TuMqhEWNlCNDQRgqFywpJvDHTTNjnAq7-3BAXtoFLQ4/edit#), we want to use UTM parameters instead of the unique `src` query parameter to track attribution:

We'll implement this feature behind a feature flag (enabled in local dev/-dev). This is going to touch many parts of the website so let's make sure we don't break anything. Installs should co

[2020-07-29 14:08] AlexandraMoga opened #9549 "Users who deleted their accounts on FxA receive a 404 when reloading an add-on detail page on AMO"
### Describe the problem and steps to reproduce it:
1. Log in to AMO stage
2. Open an add-on detail page
3. In a separate tab, open the FxA account management page
4. Delete your account from FxA
5. Go back to AMO and refresh the tab where the add-on detail page was opened

### What happened?
You receive a 404 for the add-on detail page

### What did you expect to happen?
The add-on detail page is

[2020-07-29 18:03] bobsilverberg opened #9551 "The bottom of the permissions box (when fully expanded) does not have rounded corners"
Before expanding:

<img width="487" alt="Screenshot 2020-07-29 14 02 11" src="https://user-images.githubusercontent.com/142755/88836045-1d061100-d1a4-11ea-8517-10315f09180c.png">

After expanding:

<img width="494" alt="Screenshot 2020-07-29 14 02 44" src="https://user-images.githubusercontent.com/142755/88836092-31e2a480-d1a4-11ea-9072-0adcb95385b5.png">

[2020-07-29 18:29] Kushagraw12 commented on #9551
Can I work on it?
Thanks!

[2020-07-29 19:05] willdurand commented on #9511
I agree.

It's possible that we prevent some cards/parts of the UI to render on the server because of this problem. We should double check that once we have a class name based implementation because we might not need the hacks we introduced. Note that I am not entirely sure if we still have such things.

[2020-07-30 08:03] muffinresearch opened #9554 "Lots of errors in the build script"
Looking at some of the builds on CI there's lots of logs along the lines of the following:

[code]

Would be good to look at this. Since `webpack-isomorphic-tools` is no longer recommended,  we might want to consider taking a look at `universal-webpack`, the main difference is the latter builds a node target output instead of using `require` magic to handle the differences between client and serve

[2020-07-30 08:06] willdurand commented on #9554
See also https://github.com/mozilla/addons-frontend/issues/2377 and https://github.com/mozilla/addons-frontend/issues/6996

[2020-07-30 10:18] eviljeff commented on #9469
unblocked by mozilla/addons-server#14997 ... because I forgot I implemented it already 2 years ago.

[2020-07-30 12:36] muffinresearch commented on #9554
Another thing that prompted this was on trying to use webpack to provide an asset pipeline for the Extension Workshop, in the end I dropped that approach because it was both brittle and too complicated (and didn't seem like it would necessarily continue to work in the future) with webpack 5. All of this made it pretty clear there will be a fair bit of change coming in webpack 5.

[2020-07-30 12:58] bobsilverberg commented on #9411
I think we could use some UX input/guidance on this. Trying to make sure that the button appears inside the compressed card when "Show more" is available is going to be tricky. A couple of suggestions are:
1. Move the button to the top of the card.
2. Get rid of the "Learn more about permissions" button and make it a link in the card header instead.

I'll add this to the front-end meeting agenda,

[2020-07-30 19:03] #9523 closed

[2020-07-30 19:07] #9542 closed

[2020-07-31 10:58] willdurand commented on #9547
@jvillalobos it looks like we pass `src=dp-btn-primary` to the install button link. This won't work anymore but I think it's fine, considering that we're not going to rely on `src` anymore or even the logs to infer the attribution data.

[2020-07-31 12:21] AlexandraMoga commented on #9542
Verified fixed on -dev:

Optional permissions are displayed inside the Permissions card only for add-on that do have optional permissions defined:

https://addons-dev.allizom.org/en-US/firefox/addon/perms-and-optional-perms/
![image](https://user-images.githubusercontent.com/31961530/89034107-faf5c580-d340-11ea-9401-1185e27d11a6.png)

[2020-07-31 12:25] #9547 closed

[2020-07-31 12:35] willdurand opened #9555 "Clean-up UTM feature flag once it is enabled on prod"
We introduced a feature flag in https://github.com/mozilla/addons-frontend/issues/9547. Let's remove it when we fully switch to UTM parameters.

For QA: this could introduce regressions related to the UTM parameters in all pages.

[2020-07-31 12:39] willdurand opened #9556 "Stop passing an install source/`src` param to Addon Manager"
We're passing a `src` parameter to the Addon Manager to track attribution. This won't be needed once we switch to UTM parameters so let's remove all of that.

[2020-07-31 12:58] ioanarusiczki opened #9557 "The content of the summary is not displayed when there's no custom description"
Followup for https://github.com/mozilla/addons-server/issues/15028
This could be a frontend issue, in that case please transfer it to the right repo

STR:
1. Add to the primary hero shelf an add-on from `models/promoted/promotedaddon/212/change/` without adding anything in the description field
2. Check the frontend

Expected result:
The summary of the add-on is displayed

Actual result:
The conte

[2020-07-31 15:17] bobsilverberg commented on #9557
We should not be showing these loading indicators for an empty `description`, so that's definitely a bug, but it also looks like the API response should be returning something other than `""` for the `description`, so I think we have bugs on both server and frontend.

[2020-07-31 15:39] eviljeff commented on #9557
I tracked it down to a condition that we only fall back to the addon.summary for extensions, and this addon was a langpack; so in the absence of a defined description for the primary hero shelf, it's returns `""`.  (it's a feature! not a bug 😜)

Though it was logic copied from DiscoveryItem and doesn't really make sense any longer so we'll remove that condition.

[2020-07-31 16:46] jvillalobos commented on #9547
Yeah, I think that's okay.

[2020-07-31 18:53] eviljeff commented on #9557
Filed mozilla/addons-server#15134 to remove the extension only restriction.

[2020-08-01 20:23] smayer97 commented on #9133
Please keep this request alive. This is still VERY MUCH needed.

[2020-08-03 09:37] AlexandraMoga commented on #9547
@willdurand I hope I covered all the URLs that should contain `utm` parameters.

Here is a list:
- the links from the Primay and Secondary hero already used `utm` params => they continue to work as before
- addon detail page opened from any search results (previously `src=search`) => now `utm_source=addons.mozilla.org&utm_medium=referral&utm_content=search`
- addon detail page opened from a homepa

[2020-08-03 14:54] willdurand commented on #9547
Yes, file a new issue for that please.

[2020-08-03 14:54] willdurand commented on #9547
Thanks!

[2020-08-03 16:04] caitmuenster commented on #9551
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @bobsilverberg

@Kushagraw12, go ahead and pick this one up!

[2020-08-03 16:05] AlexandraMoga opened #9565 "The `utm_content` parameter for addons opened from Top rated/Trending shelf search results is set to `featured`"
Follow up for #9547

### Describe the problem and steps to reproduce it:
1. Open the Extensions landing page - https://addons-dev.allizom.org/en-US/firefox/extensions/
2. Click on an add-on from the Top rated shelf
3. Notice the `utm` parameters from the detail page URL - you should be able to see `utm_content=rating`
4. Go back to the Extensions landing page and click on the  'See more' link in t

[2020-08-03 16:44] willdurand commented on #9565
@jvillalobos WDYT? (it's not a new problem, QA found it because they verified the patch for the UTM params)

[2020-08-03 17:11] jvillalobos commented on #9078
We recently discussed this with @aaronrbenson, and currently the recommendation is to use the [Protocol design system](https://protocol.mozilla.org/fundamentals/typography.html) for fonts. However, we don't have any concrete plans for making this change right now.

[2020-08-03 17:21] jvillalobos commented on #9565
I think we can wontfix this for now. We should figure out how we want these params to work internally, but it's a bigger issue than this.

[2020-08-03 22:28] caitmuenster commented on #9410
@willdurand noted in a conversation on Matrix that this isn't a good first bug, and that because we're not using GA for download stats this might not be an issue anymore.

@jvillalobos & @bobsilverberg, does that sound about right?

[2020-08-04 09:48] willdurand commented on #9565
@jvillalobos Good, thanks! Note that if you want to tweak the UTM parameter values, it'd be useful to have the new set of params/values ahead of time. Currently (and on -dev only), we replace `src` with UTM params according to the PRD.

@AlexandraMoga UTM params will likely be updated in the future so that's why we're closing this one now.

[2020-08-04 09:48] #9565 closed

[2020-08-04 13:29] willdurand commented on #8446
@ioanarusiczki has this been fixed since we changed the FxA instance on -dev?

[2020-08-04 13:37] willdurand commented on #9549
@AlexandraMoga I think this is similar to https://github.com/mozilla/addons-frontend/issues/9490, right? In the patch fixing #9490, it is mentioned that we won't necessarily get rid of the 404 because API requests are sent in parallel, therefore we log the user (that's normal and that's the result of the very first API request sent) but we get a 404 because of a second API request.. I am not sure

[2020-08-04 13:47] willdurand commented on #9549
Yes, I don't understand that part either, but given that I left a comment in the patch (not specifically intended for you, sorry for not having commented in the issue instead), I am wondering if it was just luck..

[2020-08-04 14:18] muffinresearch opened #9566 "500 Errors on nn-NO locale for 404"
Go to https://addons.mozilla.org/nn-NO/firefox/addon/mx4/

This should be a 404 but it's a 500 due to a locale placeholder issue. This was also highlighted in Google Analytics.

[2020-08-04 15:20] #9557 closed

[2020-08-04 15:44] bobsilverberg commented on #9410
I think we're still planning on using GA for other types of analyses, so I think this issue still needs to be addressed. @jvillalobos?

[2020-08-04 15:47] jvillalobos opened #9568 "Display URL to source code repository in listing pages"
When https://github.com/mozilla/addons-server/issues/15174 is fixed, show the URL in listing pages. It can be added to the bottom of the list in the "More information" box, under "Add-on Links". The label can be "Source code".

[2020-08-04 16:17] jvillalobos commented on #9410
Yeah, we still want this. It might be too big for a gfb, though.

[2020-08-04 16:25] willdurand commented on #9410
I think I opened a google docs with a description of all the changes once, am I correct? If so, we could link it here.

[2020-08-04 16:29] bobsilverberg commented on #9410
Is it this? https://docs.google.com/document/d/17KYC6cMY3hxWunFPdTgJGct6r6A47q2vvZc6yREYN3Q/edit#heading=h.5jehpcvz2ia3

[2020-08-04 16:30] willdurand commented on #9410
It is, thanks!

[2020-08-04 17:51] bobsilverberg commented on #9511
@willdurand I've started working on this, and I am wondering if we can redefine the requirements of what `LoadingText` needs to be able to do. I see it being called with various values for `width`, `minWidth` and `range`, as well as without any of those props (this latter case is quite common), in which case `minWidth` defaults to `20` and `range` defaults to `60`.

We definitely need to narrow do

[2020-08-05 01:15] #9042 closed

[2020-08-05 09:32] AlexandraMoga commented on #9557
The loading indicators are no longer displayed for a Language pack without a custom description added in the admin:
![image](https://user-images.githubusercontent.com/31961530/89396582-67910b80-d717-11ea-9225-62bbb5cca82f.png)

If there is a custom description added for a language pack, the Primary hero will display it.

For extensions, we continue to fallback to the add-on summary if there is no

[2020-08-05 17:29] caitmuenster commented on #9410
Do we want to mark this as `contrib: welcome`?

[2020-08-05 17:53] #9566 closed

[2020-08-05 19:14] Creatoon commented on #9551
hello sir , i want to work on this issue.
please guide me how can i reach this issue, if possible.

[2020-08-05 20:41] bobsilverberg commented on #9551
@Creatoon It looked like @Kushagraw12 was interested in working on this, but I'm not sure it they've started yet.

In terms of how to get started, there is some general information available at https://wiki.mozilla.org/Add-ons/Contribute/Code. In terms of this specific issue, the code for component in question can be found at https://github.com/mozilla/addons-frontend/tree/master/src/amo/component

[2020-08-05 20:50] Kushagraw12 commented on #9551
@bobsilverberg I am working on it. @Creatoon if it is not done in another 2 days, you can take it up!
Thanks!

[2020-08-05 20:57] willdurand commented on #9511
The idea behind these props was to be as close to the real text as possible, but it's flawed. Instead, we should have a random width between 40 and 80 maybe, and the parent/container should handle the rest. I think that's what we started to do in code manager.

I'd start with noop'ing these props and use the default values only in this component to see what would need some changes. If we use the c

[2020-08-06 07:06] Creatoon commented on #9551
@Kushagraw12 OK brother,  no problem.

[2020-08-06 08:16] AlexandraMoga commented on #8446
@willdurand I've been using that link to navigate to the FxA account page for a while now, so I believe this was fixed long ago.

[2020-08-06 08:16] #8446 closed

[2020-08-06 09:18] willdurand commented on #9511
I have a proposal that isn't going to be quick but which would be very helpful: maybe we could expand our Storybook with stories for some of the components that rely on `LoadingText` (only for the loading state)?

[2020-08-06 11:54] bobsilverberg commented on #9511
That's a good idea, although I'm not entirely convinced that it will be worth the effort for this single instance when we'll find those useful. At the same time, it will make verifying the fix easier, so there's some value there.

I'll take a look and see just how quickly I can get some stories up for some of these components, especially the ones with "odd" params.

[2020-08-06 15:20] bobsilverberg commented on #9410
I think that would be fine.

[2020-08-06 18:45] bobsilverberg commented on #9511
After taking a quick look, one of the issues we have is that a lot of the components that use `LoadingText`, including the ones with "odd" params, are components that are displayed inside other components (which are sometimes also inside other components). Because of the nature of how `LoadingText` works, using percentage widths, in order to create proper stories we'll need to not just create a si

[2020-08-06 20:25] jvillalobos commented on #9504
I'm adding the new proposed tooltips here:

- Recommended: "Firefox only recommends extensions that meet our standards for security and performance"
- Line: "This extension was created by the makers of Firefox"
- Verified: "This extension has been code-reviewed for safety"
- Sponsored: "This extension has been code-reviewed for safety"

/cc @caitmuenster Don't know if we should add more detail to

[2020-08-08 11:16] #8646 closed

[2020-08-10 08:25] karthikshetty03 commented on #9493
I would like to work on this issue

[2020-08-10 18:41] caitmuenster commented on #9493
Hi @karthikshetty03, thanks for your interest! We recommend that you get started with an issue labeled `contrib: good first bug.` You can find a list of those [here](https://github.com/mozilla/addons-frontend/issues?q=is%3Aopen+is%3Aissue+label%3A%22contrib%3A+good+first+bug%22). We try to triage new bugs every two weeks, so if there aren't any to work on at the moment, wait another week or so and