[2019-03-05 10:00] AlexandraMoga commented on #7667
I've tested with several localizations and the redirect seems to be working fine now.

Marking issue as verified fixed in FF 65.0.2, Win10x64

[2019-03-05 10:36] AlexandraMoga commented on #7658
Verified fixed in FF 65.0.2 on Win10x64

![2019-03-05_12-34-35](https://user-images.githubusercontent.com/31961530/53799504-28b7be80-3f43-11e9-977a-7b4868cf5019.gif)

[2019-03-05 12:10] suhailsinghbains commented on #7655
Hi @alice0775
Can you please attach a screenshot or preferably, a GIF as I am not able to reproduce this issue.
Thanks

[2019-03-05 13:32] alice0775 commented on #7655
Before hit ENTERT key, It needs to move the mouse pointer over the suggestions list(not intentionally, but due to vibration of desk or your arm hits the mouse etc... For various reasons , the mouse pointer can move)

See screencast, https://www.youtube.com/watch?v=lzgxx8GcO1s

[2019-03-05 16:59] AlexandraMoga opened #7675 "Delete account issues for users with unlisted addons"
STR:

1. Register a new user
2. Submit an unlisted addon
3. Go to the edit profile page and try to delete the account

Actual result:
User is redirected to AMO homepage and the process looks like is completed. However, if the page is reloaded, the user still appears logged in and his profile information is still available.

Expected result:
The account should either be deleted from AMO, or we shou

[2019-03-06 15:40] muffinresearch commented on #7648
@jvillalobos what do you think about this? Some stores reset ratings between versions - should we consider something like that or a combination of a historical rating alongside the current version rating?

[2019-03-06 16:08] jrbenny35 opened #7679 "Local AMO fromend doesn't load direct links"
### Describe the problem and steps to reproduce it:
Using the ```docker-compose.yml``` config within [addons-server](https://github.com/mozilla/addons-server), I can not get an addons page to load via its URL. An example URL is: ```http://olympia.test/en-US/firefox/addon/artisanal-pizza/?src=featured```.

### What happened?
I get a page that looks like this:
![screenshot_2019-03-06 add-ons for fir

[2019-03-06 16:59] jvillalobos commented on #7648
It sounds like a good idea, but it needs some fleshing out how we would weigh more recent vs. older, considering how some add-ons only get a handful of reviews and this would be most relevant for the ones that get lots of them. It's certainly not a priority right now.

[2019-03-07 14:45] jrbenny35 commented on #6906
The current failures are due to upstream addons-server failures. I am working on those.

[2019-03-07 17:08] 1stupidname opened #7681 "You sent me here?"
### Describe the problem and steps to reproduce it:

Was looking for HTML5 version history.   I ended up here instead.

Has Mozilla destroyed all the FireFox 52.9.0 (32 bit) add on files?
Is there anywhere that will support the reinstalling of these older add-ons?

Currently I am looking for the HTML5 everywhere ver 0.4.8.   This is installed on most (but not all) of
my Firefox installations.

Is

[2019-03-07 19:26] jvillalobos opened #7682 "`/search-engines/` leads to empty query sorted by Relevance"
In the Firefox search preferences, there's a link that offers to "Find more search engines", which leads to `/search-engines/` and then redirected to `/search-tools/`. This just shows [a search results page](https://addons.mozilla.org/firefox/search-tools/) filtered by type Search Tool, with no query, and sorted by Relevance. Unfortunately that means the results are kinda random.

Since we don't h

[2019-03-07 20:21] jvillalobos commented on #7681
If you have the extension installed in some Firefox you use, you can find the installer in the [profile folder](https://support.mozilla.org/en-US/kb/profiles-where-firefox-stores-user-data). Extensions that don't work on supported versions of Firefox (60 and above) were disabled a while ago and are no longer available on the site.

[2019-03-07 20:21] #7681 closed

[2019-03-07 20:39] rowanwolf opened #7683 "Bookmark issues not resolved by any listed method"
After upgrade to ver 65 could no longer add bookmarks

While existing bookmarks and toolbar worked, the option to manage bookmarks disappeared. Drag and drop new bookmarks did not work. Manual add was greyed out.

I tried restarting in safe mode

I tried refreshing FF

I tried deleting /renaming xulstore
I tried downgrading to ver 64
I tried deleting/ renaming places.sqlite

The result of the latt

[2019-03-08 21:30] jvillalobos commented on #7683
You can find Firefox help here: https://support.mozilla.org/

This issue tracker is for the add-ons website, so we can't help you with that.

[2019-03-08 21:30] #7683 closed

[2019-03-09 09:30] suhailsinghbains commented on #7655
I would like to take this up.
I think we have to check the keycode of the last input char, [here](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/AutoSearchInput/index.js#L237-L238)
But, as soon I press enter, this code doesn't work at all.
I would need help here

[2019-03-09 16:25] grahamperrin commented on #7477
### Classic Add-ons Archive

https://discourse.mozilla.org/t/how-to-list-legacy-add-ons/36709/2?u=grahamperrin

[2019-03-11 00:33] quynh68 opened #7690 "### What happened?"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-11 00:38] #7690 closed

[2019-03-11 12:20] jibelito opened #7692 "trouble with firefox 65 quantum"
### Describe the problem and steps to reproduce it:  since the new version , I have many troubles for connect to facebook or any site with the lien arrived with thunderbird ? when I click on it impossible to access to the facebook  or an other site. I used mozilla TB & F.F.  since  + 10 years
![Capture d’écran_2019-03-11_10-12-46](https://user-images.githubusercontent.com/6386456/54123388-eccba000

[2019-03-11 12:35] wagnerand commented on #7692
For support, please visit https://support.mozilla.org.

[2019-03-11 12:35] #7692 closed

[2019-03-11 12:38] quynh68 opened #7693 "add"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-11 12:38] quynh68 opened #7694 "add"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-11 12:45] #7694 closed

[2019-03-11 12:45] #7693 closed

[2019-03-11 17:44] muffinresearch opened #7696 "Add a link to the extension workshop from the main nav"
Add an explicit link for the extension workshop to the header nav for both logged-in and logged out states.

Placement and exact copy TBC by UX.

In the discussion about this, we talked about having a link that was clearer about the intent e.g. copy like "Learn how to create an add-on" or similar.

## Placements

UX to confirm but a likely location is up near the current "Developer Hub" link. This

[2019-03-11 19:27] caitmuenster commented on #7696
@pwalm, do you have a few minutes this week to help out with this?

As @muffinresearch mentioned, we'd like to change the "Developer Hub" link to go to Extension Workshop, and change the link copy to something more descriptive.

I'm also a +1 to add a link to EW from the drop-down menu.

[2019-03-12 03:38] davidbrand1 opened #7697 "https://addons.mozilla.org/en-US/firefox/addon/scrapbookx-autosave/"
### Describe the problem and steps to reproduce it:
Can't access https://addons.mozilla.org/en-US/firefox/addon/scrapbookx-autosave/

This is a great addon, please restore it!

[2019-03-12 09:49] #7697 closed

[2019-03-12 11:44] willdurand commented on #7656
API has landded!

[2019-03-12 14:25] willdurand commented on #7696
I believe we want to keep the Developer Hub link and add the Extension Workshop next to it, no replace the existing link.

[2019-03-12 14:35] CV45 opened #7698 "I can't access my Firefox theme collection"
### Describe the problem and steps to reproduce it: I logged in and clicked on my user name, which opens a drop-down menu for accessing my collections of Firefox themes.

### What happened?
I received a "Server Error" message

### What did you expect to happen? I expected to see my theme collection.

### Anything else we should know?

<
![Screen Shot 2019-03-12 at 10 29 43 AM](https://user-images.

[2019-03-12 14:48] muffinresearch commented on #7696
Yep, I think that's preferable, we'd still want a visible link to the developer hub (although we could consider renaming that link too). Note the eventual plan will be that /developers/ becomes only a logged-in view so hitting that would start the login flow at that point.

It's also worth noting right now, the developer hub link disappears on small viewports, the extension workshop link probably

[2019-03-12 14:50] wagnerand commented on #7698
Can you please provide a link to the page?

[2019-03-12 15:15] CV45 commented on #7698
Hi, here's a link to the addons page where I received the server error message. Add-ons for Firefox (en-US)

|
|
|  |
Add-ons for Firefox (en-US)

 |

 |

 |

    On Tuesday, March 12, 2019, 10:59:03 AM EDT, Andreas Wagner <notifications@github.com> wrote:

Can you please provide a link to the page?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2019-03-12 15:43] wagnerand commented on #7698
Sorry, your comment does not contain any links.

[2019-03-12 16:01] CV45 commented on #7698
https://addons.mozilla.org/en-US/firefox/collections/

[2019-03-12 17:59] #3966 closed

[2019-03-12 21:44] devaneymoz opened #7701 "21 March homepage content refresh"
For the **21 March** push, please update the homepage in accord with programming details [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @bobsilverberg

[2019-03-13 10:23] gijsk commented on #7658
@willdurand what measures are in place to ensure we don't redo the URL structures another time and break things again because we miss this link? Was there an audit of logs for 404s to see if there are other in-product links that have gone 404 since the transition in #10428 ?

[2019-03-13 10:24] gijsk commented on #7658
(Note that the redirect will need to stay live at least until EOL of Firefox 60 ESR, and we're updating the Firefox side of things for the new "language-tools" URL in https://phabricator.services.mozilla.com/D21943 which hopefully will make 68.)

[2019-03-13 10:34] autrilla commented on #7658
There is nothing in place right now. We don't remove rules very often, though. This bug (and a few others) happened because we switch our routing to default to the new frontend instead of to olympia.

This is one of the reasons I'm not a fan of using nginx for routing, because it's kind of hard to write tests for it to ensure our config works as expected. I suppose we could write some sort of inte

[2019-03-13 11:01] gijsk commented on #7658
@autrilla thanks for the quick clarifications.

Which others, and are any related to other Firefox in-product links that we should therefore update to avoid wasting HTTP cycles on redirects?

To be clear, I don't know anything about nginx or the projects involved here. I'd just like us to ensure that we have mechanisms in place that help us not to make mistakes that affect our release users the wa

[2019-03-13 11:15] willdurand commented on #7658
@gijsk to add some more info based on what @autrilla already said, we should have done a better job because we did not review all the logs before (no in-depth audit before). We should have done that to make sure we did not forget URLs such as the one in this issue. That's too late now, though. We fixed everything ASAP and that put a lot of unexpected work to both ops and QA, so be reassured that,

[2019-03-13 11:22] autrilla commented on #7658
I think all the bugs we found after we deployed this change to production were for URLs used by Firefox directly. I'm probably forgetting some, so consider this a non-exhaustive list: #7667, https://github.com/mozilla/addons/issues/931, #7652.

I totally agree with you. I'm not content with the lack of tests we have for our routes. One thing that could help, other than having a single root, would

[2019-03-13 12:08] muffinresearch commented on #7655
@suhailsinghbains thanks for taking a look.

@willdurand would you be able to provide some help to @suhailsinghbains on this?

[2019-03-13 15:42] suhailsinghbains commented on #7702
Hi @championshuttler Can I please work on this?
Thanks

[2019-03-13 16:42] muffinresearch commented on #7658
@gijsk hi, we discussed this issue in our stand-up. A couple of suggestions came out of that from the team.

* If all Firefox -> AMO links could be tested in Firefox tests against our stage env (https://addons.allizom.org) it would provide an early warning of 404s prior to any route changes moving to production. This would normally give a minimum of a 48 hour window to prevent broken routes making

[2019-03-13 16:47] muffinresearch commented on #7696
Downgrading this for now since we're depending on UX.

[2019-03-13 17:31] caitmuenster commented on #7696
Since @pwalm's plate is full this week, I'll take first pass at this.

1. Add link near "Developer Hub" on top of page:
- Link text: "Build extensions for Firefox"
- Link target: https://extensionworkshop.com/
- Clicking on the link should open a new tab (like what happens when you click on Developer Hub)
- Link will show on smaller viewports

2. Add link above "Developer Hub" on footer
- Link tex

[2019-03-13 17:39] gijsk commented on #7658
Unfortunately that's not feasible as it stands, because Firefox tests are not allowed to rely on external servers (in fact, builtin Firefox code will force it to crash if it realizes it's running tests and is attempting to contact anything else than the local proxy + httpd servers). If they did, they'd go orange if e.g. you didn't have an internet connection, or the server/AWS went down (even for

[2019-03-13 19:54] #6906 closed

[2019-03-13 20:12] jvillalobos commented on #7696
I think the URLs should be, respectively:

* https://extensionworkshop.com/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=header-link
* https://extensionworkshop.com/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=footer-link

The header link text is a bit long, IMO, maybe @MeridelW has ideas for that.

I don't think the drop-down needs another one of those.

[2019-03-13 22:06] kpw2210 opened #7704 "PASTEBIN"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-13 22:58] #7704 closed

[2019-03-14 08:59] mirefly commented on #7655
It looks like intended behavior of `react-autosuggest` (selecting the highlighted suggestion when pressing Enter).

[2019-03-14 14:48] #7646 closed

[2019-03-14 15:49] willdurand commented on #7655
As @mirefly pointed out, it looks like the intended behavior. Maybe we could prevent hover+select with the mouse, but I am not sure.

[2019-03-14 15:51] willdurand commented on #7679
@jrbenny35 is this still a problem? I believe it worked for me last time I tried to pull the docker env in addons-server.

[2019-03-14 15:51] willdurand commented on #7648
Can someone move this issue to addons-server?

[2019-03-14 15:52] willdurand commented on #7634
That's a good question. /cc @jvillalobos

[2019-03-14 15:54] willdurand commented on #7604
I believe we can indeed set the `minLength` to `2`. Would that work for you @tiansh?

[2019-03-14 15:59] willdurand commented on #7682
Given that the redirect happens in Nginx, I believe we should update the nginx rule from https://github.com/mozilla-services/cloudops-deployment/pull/2983.

The frontend does not know which URL was before it receives `/search-tools/`.

[2019-03-14 16:49] willdurand commented on #7682
Another option would be to always sort results by rating on this page by default.

@jvillalobos what do you think?

[2019-03-14 16:56] jvillalobos commented on #7682
If there's no query, defaulting to Ratings sorting is okay with me.

[2019-03-14 17:30] jrbenny35 commented on #7679
Yeah this works now.

[2019-03-14 17:30] #7679 closed

[2019-03-14 21:22] eempratour opened #7711 "mehran"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-14 21:23] #7711 closed

[2019-03-14 22:56] jvillalobos commented on #7634
There might be a dupe of this one somewhere, because I know we've talked about it before. The current display is consistent with Firefox, and I think it's fine as a default.

Having a secondary exhaustive list sounds like a good idea, but it would need to account for an arbitrary number of permissions. If we get the UX for it, I'm for doing it.

[2019-03-15 01:13] tiansh commented on #7604
Why not remove the attribute? If JavaScript is enabled, no such validation would performed.

[2019-03-15 07:56] willdurand commented on #7604
I think there should be a validation in js too.

[2019-03-15 09:29] ioanarusiczki opened #7713 "The detail page of an add-on should be displayed after using the platform filter button"
STR:
1. Load AMO and make sure you see the detail page of an add-on that is not compatible with your platform. The red message is displayed. Here's an example https://addons.allizom.org/en-US/android/addon/text444/
2. From the More Menu click the filter button (Add-ons for Platform)
3. Observe the page

Expected result:
The detail page is displayed (In this case such as https://addons.allizom.org/

[2019-03-15 13:39] drogga opened #7714 "bugmenot"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-15 13:42] drogga commented on #7714
i can't install the addon bugmenot

[2019-03-15 15:23] jvillalobos commented on #7714
Please contact the developer for help.

[2019-03-15 15:23] #7714 closed

[2019-03-15 21:47] MeridelW commented on #7696
Disclaimer: I know I am late to the discussion on this and decisions have already been made. Here are my thoughts!

The intention was for the Extension Workshop to replace the landing page of the Developer Hub. It is a pretty confusing experience to have the Developer Hub landing page continue to co-exist next to the Workshop on AMO.  And, it makes labeling these links difficult since they essenti

[2019-03-15 21:51] pwalm commented on #7696
Cosigned ⬆️

[2019-03-15 22:13] mconca commented on #7696
The original intent was to replace the logged-out view of the DevHub (/developers/) with the Extension Workshop landing page, and not change anything else.  For technical reasons, this isn't possible.

I would like UX/UR to help guide us on what would be the best way to 1) guide new, interested developers to EW, and 2) accommodate existing developers on AMO.

[2019-03-16 03:05] tiansh commented on #7604
So, maybe 2 should be fine.

[2019-03-16 11:46] chrisobh opened #7719 "dont work"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-16 12:43] adred8 commented on #7713
I don't think that "Add-ons for firefox" is intended as a filter but as a link to the add ons to browse in other platforms either . I believe the functionality is correct but what I found is a little different
I landed on the AMO homepage like you mentioned after clicking "Add-ons for firefox".

If you press back button, the url is [https://addons.allizom.org/en-US/android/addon/text444/](url) but

[2019-03-16 13:48] SoSaysSunny opened #7720 "ERRORS using Add-On Collections: Create, View, Edit, or Adding to"
### Describe the problem and steps to reproduce it:

Lots of issues with Collections.

VIEW / EDIT:
- When looking at the My Collections page, the number of add-ons in [my existing collection](https://addons.mozilla.org/en-US/firefox/collections/12774996/favorites/) is sometimes 12 and sometimes 55.
- When I view the collection, there are sometimes 12 or 55, not always the same as on the previous

[2019-03-16 14:21] HaLPaX opened #7721 "Not Authorized"
So i wanted to download an add-on because my dad is starting to piss me off with his "security software" that he finds on ads (he disables my ad-blocker too)
How to recreate it:
Try going to the site while logedout, if it works fine it's good, then try to login on a very very old Mozilla account and you will get "Not Authorized" page.

Before loging-in everything was fine with all sites for add-on

[2019-03-16 19:31] milmag185 opened #7722 "Games"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-17 01:28] manulsan opened #7723 "Extension does not exist."
### Describe the problem and steps to reproduce it:

### What happened?
I tried to install extension below but does not work ( Extension is not found] messages.
https://addons.mozilla.org/firefox/addon/oma-lwm2m-devkit/

Once inputted with
      "https://addons.mozilla.org/firefox/addon/oma-lwm2m-devkit/"
URL is changed like below
https://addons.mozilla.org/ko/firefox/addon/oma-lwm2m-devkit/

so
I

[2019-03-18 07:18] srivinayp opened #7725 "How can i add firebug and firepath in firefox"
am not able to install the firepath and firebug in Firefox browser

now it says  Mozilla removed it.
[https://addons.mozilla.org/en-US/firefox/addon/firebug](url)

[2019-03-18 09:20] EnTeQuAk commented on #7725
Firebug is part of Firefox for years now and you should be using the most recent Firefox version to make use of many wonderful new tools for frontend development.

https://getfirebug.com/

https://www.mozilla.org/en-US/firefox/developer/

[2019-03-18 09:20] #7725 closed

[2019-03-18 10:07] willdurand commented on #7723
Hi, it looks like the add-on has been removed.

[2019-03-18 10:07] #7723 closed

[2019-03-18 10:08] #7722 closed

[2019-03-18 10:16] #7719 closed

[2019-03-18 11:04] willdurand commented on #7721
Hi, sorry for that. I am looking into it now.

Do you know how to open the "Developer Tools" by chance? There might be error messages in the console.

[2019-03-18 14:29] ioanarusiczki commented on #4379
@bobsilverberg This can be closed because of ux changes which led to the removal of the overlay.
Verified on AMO dev - FF65 (Android 8.0)

![edit overlay removed](https://user-images.githubusercontent.com/33448286/54537335-01c5a780-499b-11e9-8e22-938f42dacdf0.gif)

[2019-03-18 14:29] #4379 closed

[2019-03-18 15:02] ioanarusiczki commented on #4272
@muffinresearch I tested this scenario again using FF65 (Win10). The search results are displayed only after the third letter or number is typed in the search filed but this rule won't apply for special chars or emojs (which were lately introduced on AMO). Looks like this is still reproducible.

[2019-03-18 15:05] willdurand opened #7727 "Upgrade React-Router to 5.0.0"
See also:

- https://github.com/mozilla/addons-frontend/pull/7718
- https://github.com/mozilla/addons-code-manager/issues/404#issuecomment-473940860

---

**Update:** react-router 4.4.0 has been deleted and replaced with [5.0.0](https://github.com/ReactTraining/react-router/releases/tag/v5.0.0).

The new context API is used in react-router >= 4.4.0, which breaks our test suite because:

1. we rely

[2019-03-18 15:28] #7701 closed

[2019-03-18 15:29] mustapha71 opened #7728 "https://addons.mozilla.org/en-US/firefox/addon/web2pdf/?src=cb-dl-hotness"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-18 15:34] #7728 closed

[2019-03-18 15:43] ioanarusiczki commented on #4044
I'm going to close this issue because I re-tested this with FF65(Win10) and it's no longer reproducible on AMO dev and AMO stage.  The username can no longer be edited using the frontend and editing the displayname won't affect the section mentioned [above](https://github.com/mozilla/addons-frontend/issues/4044#issue-279728984)

[2019-03-18 15:53] diox commented on #7682
Note: in the API, if there is no `sort` parameter and no `q` parameter, we sort by `downloads`.

[2019-03-18 18:31] CV45 commented on #7698
Hi, I provided a link in the previous comment.

[2019-03-19 04:24] mymindstorm opened #7732 "Version history has padding issues with <li>s"
See title.

Screenshot:
![image](https://user-images.githubusercontent.com/27789806/54580093-8bde3200-49d4-11e9-9ff5-996d7732ecff.png)

Example: https://addons.mozilla.org/en-US/firefox/addon/auth-helper/versions/

[2019-03-19 08:23] samtbs2 opened #7733 "i want to autofill installing"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-19 08:51] #7733 closed

[2019-03-19 13:30] ioanarusiczki commented on #7701
The shelves were updated as mentioned by the [document](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#heading=h.ezk7kl1svjxb) on AMO dev - FF65 (Win10).
Final validation will be made in production.

![AMO dev homepageupdate](https://user-images.githubusercontent.com/33448286/54609524-db1b7580-4a5b-11e9-9fb2-54acdc52d6b9.gif)

[2019-03-19 22:29] caitmuenster commented on #7696
After the conversation in today's Add-ons Cross-Functional meeting, it sounds like we are going to move forward with two things:

1. Add "Extension Workshop" to the left of "Developer Hub" on the header, and link to https://extensionworkshop.com (@jvillalobos to provide the UTM parameter). Clicking on this link should open a new tab.

![Screen Shot 2019-03-19 at 3 25 41 PM](https://user-images.git

[2019-03-20 08:36] peyman974 opened #7736 "bad link in bookmark menu"
### Describe the problem and steps to reproduce it:
in bookmark menu bad link in get bookmark add-ons

### What happened?
https://addons.mozilla.org/en-US/firefox/bookmarks/
### What did you expect to happen?

### Anything else we should know?

[2019-03-20 10:22] willdurand commented on #7736
@jvillalobos do you know in which FF version we had this link by chance? Should we keep it? (addons-server used to serve this URL).

[2019-03-20 10:34] peyman974 commented on #7736
FF 66
after click on this link
the web page displayed with this text
https://addons.mozilla.org/en-US/firefox/bookmarks/

Oops! We can’t find that page

If you’ve followed a link from another site for an extension or theme, that item is no longer available. This could be because:

    The developer removed it. Developers commonly do this because they no longer support the extension or theme, or ha

[2019-03-20 10:35] willdurand commented on #7736
Hi @peyman974, thanks. Did you bookmark this link by yourself?

[2019-03-20 11:22] Rein2tom opened #7738 "ExHentai"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-20 11:22] #7738 closed

[2019-03-20 12:14] AlexandraMoga commented on #7646
Verified fixed on stage with FF65, Android 8.0 and Win10x64

![image](https://user-images.githubusercontent.com/31961530/54683461-678c6d80-4b1a-11e9-8744-d1267e882608.png)

[2019-03-20 12:59] passocean opened #7739 "alteon api"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-20 14:02] #7739 closed

[2019-03-20 14:40] muffinresearch commented on #7623
Downgrading this to a P3 until we hear from @rraue with any pointers towards a fix.

[2019-03-20 15:54] willdurand commented on #7732
Ah yep, the CSS for the version descriptions could be improved.

[2019-03-20 16:10] willdurand commented on #7713
I am not sure which behavior is intended. In some cases, we need to clear most of the state (data) so maybe that's why we go back to the homepage (although I am not sure that's really needed).

[2019-03-20 16:19] caitmuenster commented on #7696
We are hoping to land this in the next 1 - 2 weeks. @championshuttler, @suhailsinghbains, or @xu3u4, do you have any interest in picking this up?

Note: anyone is welcome to work on this! If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2019-03-20 16:27] championshuttler commented on #7696
@caitmuenster Sure, Let me try to take a look , in the meantime if someone else is able to raise PR, feel free to do that :)

[2019-03-20 17:28] jvillalobos commented on #7696
First one for the header, second one for the footer.

[2019-03-20 17:45] jvillalobos commented on #7736
The `/bookmarks/` URLs get fairly consistent traffic of over 10K visits (weekly), so I think we should redirect to `/extensions/bookmarks/`.

[2019-03-21 06:39] y4s3r opened #7740 "sql inject me"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-21 07:28] senthilakshmi opened #7741 "LInk not found"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-21 14:00] #7741 closed

[2019-03-21 14:00] #7740 closed

[2019-03-21 14:01] willdurand commented on #7696
Given that we don't have a lot of space on small screens, should we also hide the link to this new website? (dev hub link is hidden).

[2019-03-21 14:30] SuperUserSuperviseur opened #7744 "tor2web"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-21 14:31] #7744 closed

[2019-03-21 17:36] ioanarusiczki opened #7746 "Spring themes shelf is incomplete on AMO prod"
The Spring themes shelf from AMO homepage is incomplete - it displays only 3 themes instead of https://addons.mozilla.org/en-US/firefox/collections/4757633/spring-themes/

![Screenshot (531)](https://user-images.githubusercontent.com/33448286/54772704-9a189200-4c10-11e9-8605-4272da194062.png)

[2019-03-21 17:43] agnelvishal commented on #4256
@muffinresearch Maybe isSearchProviderInstalled was deprecated by Google to prevent competition to its search engine

[2019-03-21 18:41] peyman974 commented on #7736
Hi
No

[2019-03-21 19:13] #7746 closed

[2019-03-21 20:35] jvillalobos commented on #7696
Yes, I think it's okay to hide the header link on narrow screens. It will still be present in the footer, along with the Dev Hub link.

[2019-03-21 21:44] RizwanSyed357 commented on #7696
Hey all! I am new to open source - this would be the fourth bug I have worked on. Could you assign this to me please? This would be the most advanced bug I have worked on so far.

Also - is there a strict two-week time limit on patching it? Cheers :)

[2019-03-21 21:49] willdurand commented on #7696
@RizwanSyed357 hey, sorry. I think this issue has been taken already :/

[2019-03-21 21:53] RizwanSyed357 commented on #7696
Oh, I see. Thanks. It is still listed as 'open' and labelled as unassigned.

[2019-03-21 22:03] willdurand commented on #7696
Yes. It's open until it's closed by a patch that is merged into the main branch. And, it is unassigned because only Mozilla employees can be assigned on issues..

[2019-03-22 07:50] peyman974 commented on #7736
![bookmark](https://user-images.githubusercontent.com/29371425/54808103-d396df00-4c9c-11e9-8214-3073ce9ecc42.jpg)

[2019-03-22 08:27] willdurand commented on #7736
ah, perfect. thanks for the screenshot!

[2019-03-22 12:54] ioanarusiczki commented on #7701
Verified on AMO prod - FF65(Win10&android8.0)
https://github.com/mozilla/addons-frontend/issues/7746 was filed

[2019-03-22 14:07] willdurand commented on #7623
Google reports the following coverage data for "uBlock Origin" when inspecting: https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/

[code]

If I try to inspect: https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/, we get:

[code]

This sounds better as the `locale` is part of this referring page. It might be totally unrelated but that's one difference between uBlock Origin

[2019-03-22 15:08] willdurand commented on #7623
Other add-ons with the similar issue:

- https://addons.mozilla.org/en-US/firefox/addon/grammarly-1/
- https://addons.mozilla.org/en-US/firefox/addon/duckduckgo-for-firefox/
- https://addons.mozilla.org/en-US/firefox/addon/1password-x-password-manager/
- https://addons.mozilla.org/en-US/firefox/addon/amazon-browser-bar/
- https://addons.mozilla.org/en-US/firefox/addon/enhancer-for-youtube/

---

#

[2019-03-22 15:09] willdurand commented on #7623
That invalidates the theory in my previous comment but it could still be related, "most" referring pages are weird for those add-ons.

[2019-03-22 18:02] #7696 closed

[2019-03-22 21:30] bnhassin opened #7753 "Modules pour Firefox (fr)"
### Enable following modules addons firefox:

### new issues?

### Why enable following modules addons firefox?

### https://addons.mozilla.org/fr/firefox/bookmarks/?

[2019-03-22 21:34] bnhassin commented on #7753
![image](https://user-images.githubusercontent.com/1473765/54854248-9bba8680-4cf2-11e9-9bc2-05d595dd01e1.png)

[2019-03-22 22:03] jvillalobos commented on #7753
Dupe of https://github.com/mozilla/addons-frontend/issues/7736

[2019-03-22 22:03] #7753 closed

[2019-03-23 06:43] sapnii2 opened #7756 "copper add-on not able to find"
I am trying to set up tutorial for coap from following link
https://cs.iupui.edu/~xiaozhon/course_tutorials/Coap_tutorial_Arduino_Eclipse

but unable to finad copper user-agent add-on for firefox

[2019-03-23 18:23] smartadblock opened #7757 "smartadblock rejected by another developer????"
smartadblock was abusively rejected by erosman (a simple developer) in a case where the reviewer policy clearly states that more info should be requested. The extension has now been offline for 8hours? how has this guy been allowed to review extensions in the first place?

[2019-03-24 00:58] SpazOsc opened #7758 "Cannot download and install DownThemAll (DTA) -- the only reason I use firefox, and remain on an old version."
I can no longer download and install DownThemAll (DTA) -- almost the only reason I use firefox, and remain on an old version of FF

[2019-03-24 02:27] y4s3r commented on #7740
thank you for answer to me !
I need all of them, including the same SQL Inject me for mozila firefox Add on
and I Know mozila firefox latest version is not compatible with add on
Can you help me install and find penetration testing extensions and which version of Firefox should I use to install them?
All of these Add on like  ===>SQLInject ne,XSS Me,Tamper Data and other with ".XPI" format Gain it

[2019-03-24 20:52] bochkov-vi opened #7759 "верните s3 переводчик"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-24 23:45] renjinhao opened #7760 "downthenall"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-25 08:42] EnTeQuAk commented on #7758
Hi, this is an intended consequence of the [removal of legacy add-ons from AMO](https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/).

All versions of this add-on were disabled because they were legacy and hasn't been updated in a long time. This causes the add-on to be considered incomplete, and that's why you're seeing the error.

Please check [discourse.moz

[2019-03-25 08:42] #7758 closed

[2019-03-25 08:44] EnTeQuAk commented on #7756
Hi, this is an intended consequence of the [removal of legacy add-ons from AMO](https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/).

All versions of this add-on were disabled because they were legacy and hasn't been updated in a long time. This causes the add-on to be considered incomplete, and that's why you're seeing the error.

Please check [discourse.moz

[2019-03-25 08:44] #7756 closed

[2019-03-25 08:48] EnTeQuAk commented on #7760
Hi, this is an intended consequence of the [removal of legacy add-ons from AMO](https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/).

All versions of this add-on were disabled because they were legacy and hasn't been updated in a long time. This causes the add-on to be considered incomplete, and that's why you're seeing the error.

Please check [discourse.moz

[2019-03-25 08:48] #7760 closed

[2019-03-25 08:48] EnTeQuAk commented on #7759
Hi, this is an intended consequence of the [removal of legacy add-ons from AMO](https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/).

All versions of this add-on were disabled because they were legacy and hasn't been updated in a long time. This causes the add-on to be considered incomplete, and that's why you're seeing the error.

Please check [discourse.moz

[2019-03-25 08:48] #7759 closed

[2019-03-25 09:34] willdurand commented on #7757
cc @wagnerand

[2019-03-25 09:35] willdurand commented on #7746
@ioanarusiczki you should still see 3 themes but there should be a link in the header and the 3 themes should take the full width of the shelf.

[2019-03-25 09:47] ioanarusiczki commented on #7746
@willdurand Verified on AMO dev - FF65(Win10)

![spring themes](https://user-images.githubusercontent.com/33448286/54909569-35508680-4ef3-11e9-8b61-78d253543548.gif)

[2019-03-25 11:54] ioanarusiczki commented on #7746
Verified on AMO stage and AMO prod - FF65(Win10)

![amo prod](https://user-images.githubusercontent.com/33448286/54917882-794c8700-4f05-11e9-8ab4-3c4e329d41d3.gif)

[2019-03-25 15:08] nodeticswww opened #7762 "WebExtension release notes rendering issue (html tags are not properly escaped)"
### Describe the problem and steps to reproduce it:

We submitted a new version of our WebExtension. When submitting, we entered a description that contained "< code >" string (without the spaces).

### What happened?

Now when you view the extension page and expand the "release notes" section by clicking "Read more", you can see that the < code > tag was not properly escaped and it actually cause

[2019-03-25 15:09] nodeticswww commented on #7762
Sheesh.... a description that contained < code > string (remove the spaces).

[2019-03-25 17:54] caitmuenster commented on #7757
This repository is for filing issues about addons.mozilla.org, and is not a place for discussing the review process.

[2019-03-25 17:54] #7757 closed

[2019-03-25 17:58] muffinresearch commented on #7762
@nodeticswww hi - the version notes field has a note saying that some HTML is supported. Since `<code>` is one of the elements that is allowed, you'll need to escape it yourself if you need it to be displayed literally rather than interpreted as HTML.

[2019-03-25 17:58] #7762 closed

[2019-03-25 18:16] muffinresearch commented on #7736
@autrilla hi - would you be able to take a look at setting up a redirect for this please?

Looks like we need to redir from:

`https://addons.mozilla.org/%locale%/firefox/bookmarks/`

to

`https://addons.mozilla.org/%locale%/firefox/extensions/bookmarks/`

There's no android page for this so we don't need a variable client param.

[2019-03-25 18:22] muffinresearch commented on #7713
/cc @jvillalobos for product input.

[2019-03-25 18:27] muffinresearch commented on #7237
Closing this since without further info there's not a lot we can do. Please feel free to re-open this if you have further information.

[2019-03-25 18:27] #7237 closed

[2019-03-25 18:28] #6797 closed

[2019-03-25 18:30] muffinresearch commented on #6160
Closing this, since we don't have any current plans to work on this.

[2019-03-25 18:30] #6160 closed

[2019-03-25 18:32] muffinresearch commented on #5881
Closing based on https://github.com/mozilla/addons-frontend/issues/5881#issuecomment-412136213

[2019-03-25 18:32] #5881 closed

[2019-03-25 18:33] muffinresearch commented on #569
Closing this as wontfix

[2019-03-25 18:33] #569 closed

[2019-03-25 18:33] #921 closed

[2019-03-25 18:33] #926 closed

[2019-03-25 18:33] #1046 closed

[2019-03-25 18:33] #1077 closed

[2019-03-25 18:33] #2083 closed

[2019-03-25 18:33] #2341 closed

[2019-03-25 18:33] #7553 closed

[2019-03-25 18:35] muffinresearch commented on #2028
Closing this as wontfix

[2019-03-25 18:35] #2028 closed

[2019-03-25 18:40] muffinresearch commented on #3638
This is possible now as documented here: https://github.com/mozilla/addons-frontend/blob/master/docs/moz-addon-manager.md#developing-with-a-local-https-server-recommended

[2019-03-25 18:40] #3638 closed

[2019-03-25 18:41] #3592 closed

[2019-03-25 18:42] muffinresearch commented on #6671
@ioanarusiczki Is this still reproducible?

[2019-03-25 18:43] muffinresearch commented on #6608
Closing this in lieu of further information. Please re-open if you have further info.

[2019-03-25 18:43] #6608 closed

[2019-03-25 18:46] muffinresearch commented on #4881
The hero element has been completely replaced.

[2019-03-25 18:46] #4881 closed

[2019-03-25 18:47] muffinresearch commented on #4544
It is version 2 now: https://github.com/mozilla/addons-frontend/blob/935bb70af9f1bd9a7f871133b38f9b025e567f2e/.circleci/config.yml#L6

[2019-03-25 18:47] #4544 closed

[2019-03-25 18:53] muffinresearch commented on #3153
Closing this since we don't have any current plans to change this.

[2019-03-25 18:53] #3153 closed

[2019-03-25 18:53] muffinresearch commented on #2879
Closing this since the legacy UI is gone.

[2019-03-25 18:53] #2879 closed

[2019-03-25 18:54] #2788 closed

[2019-03-25 18:55] muffinresearch commented on #3374
Closing this since I don't think we have an pressing actions required on this front.

[2019-03-25 18:55] #3374 closed

[2019-03-25 18:56] muffinresearch commented on #2457
Closing this, as I don't think there's much need to make these changes.

[2019-03-25 18:56] #2457 closed

[2019-03-25 19:39] artuhro opened #7765 "ugly email addon"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-25 19:40] #7765 closed

[2019-03-25 20:41] jvillalobos commented on #7713
@adred8 is correct. The menu item isn't intended to be a filter. It's supposed to be a link to a "different" site for Android extensions, which may or may not be compatible with the user's client. I don't think there's a bug to fix here.

[2019-03-25 20:41] #7713 closed

[2019-03-25 21:29] fiktorgulo opened #7766 ": http://www.fiktorgulo.com"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-25 21:38] #7766 closed

[2019-03-26 05:54] Cythera opened #7768 "Can't find Ugly Email, listed as a Firefox extension that will let me know if my gmail is being tracked"
### Describe the problem and steps to reproduce it:

I clicked on a link from this site:  https://lifehacker.com/how-to-see-if-someone-is-tracking-emails-they-send-you-1833529784 in order to install a Firefox addon
I got "page not found"

### What did you expect to happen?
I expected to find instructions on installing the addon
### Anything else we should know?

https://lifehacker.com/how-to-see-i

[2019-03-26 10:17] muffinresearch commented on #7768
This add-on is no longer available because it hasn't updated to the web-extension format and legacy add-ons have now been fully removed from AMO.

The best thing you can do is ask the developer if they can submit a new web-extension version. See https://uglyemail.com/ for contact details. From their twitter stream it sounds like they were already working on a beta: See https://twitter.com/OneClick

[2019-03-26 10:17] #7768 closed

[2019-03-26 13:35] ioanarusiczki commented on #7696
@muffinresearch @caitmuenster @willdurand @jvillalobos
This was verified on AMO dev - FF65(Win10 & Android 8.0)
EW is available on AMO dev's homepage as mentioned[ here ](https://github.com/mozilla/addons-frontend/issues/7696#issuecomment-474609638) by Caitlin.
On small devices it will be available only in the Footer of the page and once clicked it won't open in a new tab.
The link when clicked fr

[2019-03-26 14:30] willdurand commented on #7736
See: https://github.com/mozilla-services/cloudops-deployment/pull/3045

[2019-03-26 15:48] Sodafinso opened #7770 "addons not found"
### Describe the problem and steps to reproduce it:

### What happened?
I do not found the Firefox addon Axel Springer Blocker (ASB) für Firefox
### What did you expect to happen?
I found same links to this side but the addon is not found.
### Anything else we should know?
https://addons.mozilla.org/de/firefox/addon/axel-springer-blocker-asb/?src=api
![Bug](https://user-images.githubusercontent.co

[2019-03-26 16:24] muffinresearch commented on #7770
Legacy add-ons are no longer available, which is why you can't find the add-on. The best route forward is to contact the developer and ask them to update their add-on to work as a web-extension.

[2019-03-26 16:24] #7770 closed

[2019-03-27 02:01] sacacha304 opened #7773 "https://www.s3blog.org/s3translator.html"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-27 06:02] LeGeNDaR0 opened #7774 "hhh"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-27 07:04] #7774 closed

[2019-03-27 07:04] #7773 closed

[2019-03-27 07:51] Srichon-Boontharikwong opened #7775 "sincy"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-27 07:52] Srichon-Boontharikwong opened #7776 "#sincy"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-27 08:58] #7776 closed

[2019-03-27 08:58] #7775 closed

[2019-03-27 09:03] ioanarusiczki opened #7777 "Register/Login button should change it's state into something else"
Followup for https://github.com/mozilla/addons-server/issues/10909 and https://github.com/mozilla/addons-frontend/issues/7696

1. Load AMO dev or AMO stage and click on Extension Workshop
2. Login using the Register/Login
3. Return to EW page and observe the button's name

Expected result:
The "Register/Login" should be "Dev Hub".

Actual result:
The "Register/Login" is still displayed. It looks l

[2019-03-27 09:31] ioanarusiczki opened #7778 "Landing page inconsistencies for Register/Login button"
STR:
1. Load AMO dev or AMO stage and click on EW
2. Login using the first Register/Login button on top right of the page and observe the landing page
3. Login using the Register?login button from the Menu Bar and observe the landing page

Expected result:
Both ways the landing page is  https://addons.mozilla.org/en-US/developers/addons or https://addons.mozilla.org/en-US/developers/

Actual resul

[2019-03-27 10:49] willdurand commented on #7777
This looks like a EW bug to me, not related to AMO.

[2019-03-27 10:52] borut1 opened #7779 "Not addons S3"
### Describe the problem and steps to reproduce it:

http://www.s3blog.org/s3translator.html
Link for addon redirect for inactive

### What happened?
Addon not display
### What did you expect to happen?
Add addon for install
### Anything else we should know?

[2019-03-27 11:39] willdurand commented on #7736
This has been merged, so it should be deployed in -dev soon.

[2019-03-27 11:39] #7736 closed

[2019-03-27 11:45] willdurand commented on #7779
This add-on has been removed, either because the developer decided to remove it or there is a pending approval on the latest version.

[2019-03-27 11:45] #7779 closed

[2019-03-27 12:04] willdurand commented on #7736
@ioanarusiczki the -dev UR isL: addons-dev.allizom.org/en-US/firefox/bookmarks

[2019-03-27 12:05] ioanarusiczki opened #7780 "EW will direct the user on AMO prod, there is doesn't show links on AMO dev and AMO stage"
STR:
1. Load AMO dev https://addons-dev.allizom.org/en-US/firefox/ or AMO stage https://addons.allizom.org/en-US/firefox/
2. Click on Extension Workshop and login from there
3. Observe the page

Expected result:
Dev Hub dev or stage loads such as https://addons-dev.allizom.org/en-US/developers/addons
or  https://addons-dev.allizom.org/en-US/developers/

Actual result:
User is redirected on AMO pro

[2019-03-27 12:20] AlexandraMoga opened #7781 "Slight misalignment in search results list"
**STR:**
1. Open AMO homepage (any server)
2. Perform an empty search
3. Look at the search results list

**Actual result:**
There is too much unused space on the right side of the card - this can be best viewed when you filter by Themes - https://addons.mozilla.org/de/firefox/search/?platform=windows&type=statictheme

**Expected result:**
There is the same amount of blank space to the left and th

[2019-03-27 12:28] ioanarusiczki opened #7782 "Extension Developer Newsletter sign up is not working from EW"
Followup for https://github.com/mozilla/addons-frontend/issues/7696

STR:
1. Load AMO dev or stage and click on Extension Workshop link
2. Scroll down the page until you see Extensions Developer Newsletter
3. Type in an email address and check the Mozilla terms
4. Click Sign up

Expected result:
User is directed to this page https://www.mozilla.org/en-US/newsletter/

Actual result:
Nothing happens

[2019-03-27 12:59] ioanarusiczki opened #7783 "A better UX experience would be if “Jump to” text would be available next to “✓”"
Followup for https://github.com/mozilla/addons-frontend/issues/7696

STR:
1. Load AMO dev on desktop - Win10 and click the Extension Workshop link
2. Observe and click on  “✓”  below "If you can dream it, our open source API and your HTML, CSS, and JavaScript skills can make it happen."

Expected result:
"Jump to" is next to the symbol “✓”.

Actual result:
No text is available next to “✓”.

Notes:

[2019-03-27 13:57] ioanarusiczki opened #7784 "After clicking on a video the loading indicator doesn't spin"
Followup https://github.com/mozilla/addons-frontend/issues/7696

STR:
1. Load AMO and click the EW link
2. Go to a video from the page -> Attract Users with Content and Design -> What’s Great Content and Design?
3. Click the video and observe the loading indicator

Expected results:
Until the video loads the indicator is spinning.

Actual result:
The indicator doesn't spin.

Notes:
It is reproduci

[2019-03-27 14:01] willdurand commented on #7784
@ioanarusiczki could you please file EW issues in https://github.com/mozilla/extension-workshop/issues?

[2019-03-27 14:37] ioanarusiczki commented on #7696
@caitmuenster @muffinresearch @pwalm @mconca

Thanks @jvillalobos for answering here https://github.com/mozilla/addons-server/issues/10909

I filed all the followup issues. From my point of view the first 3 from the list below are more important.
https://github.com/mozilla/extension-workshop/issues/138, https://github.com/mozilla/extension-workshop/issues/132, https://github.com/mozilla/extension-

[2019-03-27 18:12] joanna2009garcia opened #7785 "Redirected to this page"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-27 19:24] #7785 closed

[2019-03-28 04:52] bqbn commented on #7736
https://github.com/mozilla-services/cloudops-deployment/pull/3045 was deployed to -stage as well.

[2019-03-28 06:45] skrishnalekshmi opened #7787 "SyntaxError: expected expression, got '<' Array:1 The Components object is deprecated. It will soon be removed."
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-28 07:04] Lavanyasubburaj opened #7788 "many"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-28 07:22] AlexandraMoga commented on #7736
Verified fixed in -dev and stage.

https://addons-dev.allizom.org/en-US/firefox/bookmarks/ is redirecting to https://addons-dev.allizom.org/en-US/firefox/extensions/bookmarks/
I've also made sure that this works with other locales.

![2019-03-28_09-17-09](https://user-images.githubusercontent.com/31961530/55137882-d0876d00-513a-11e9-8962-43e629bbdf91.gif)

[2019-03-28 09:50] #7788 closed

[2019-03-28 09:50] #7787 closed

[2019-03-28 10:38] Lavanyasubburaj opened #7789 "issues"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-28 10:51] #7789 closed

[2019-03-29 09:14] Sandeep57143 opened #7791 "Yslow addon is not available for firefox and chrome browsers,i'm not able to download it"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-29 10:27] vu2hbo opened #7792 "Not able to find the Copper(cu)"
### Describe the problem and steps to reproduce it:

### What happened?
Want to enable the Copper(cu) addon. No addon shows on search box of addon
### What did you expect to happen?
Expect to get the copper(cu) addon with Mozila
### Anything else we should know?

[2019-03-29 15:24] muffinresearch commented on #7791
Yslow 's latest version was a legacy add-on. Since legacy add-ons have been removed it's no longer available. The best course of action is to ask the developer if they can update the add-on to work as a web-extension and submit a new version.

[2019-03-29 15:24] #7791 closed

[2019-03-29 15:27] muffinresearch opened #7793 "Show recommended badge on search results page"
UX is as follows:

![Screenshots](https://user-images.githubusercontent.com/1514/55243385-07db4400-5237-11e9-897b-8b90047c88a4.jpg)

Depends on changes in https://github.com/orgs/mozilla/projects/68

See https://mozilla.invisionapp.com/share/BXQTIIC86ZN for the latest UX

[2019-03-29 15:31] muffinresearch opened #7794 "Show recommended badge on details page"
UX is as follows:

![Screenshots](https://user-images.githubusercontent.com/1514/55243745-bed7bf80-5237-11e9-8178-0e2d2494f897.jpg)

Depends on changes in https://github.com/orgs/mozilla/projects/68

See https://mozilla.invisionapp.com/share/BXQTIIC86ZN for the latest UX

TBD: There should be a tooltip that pops up when hovering over the badge, explaining what it means.

TBD: The badge should link

[2019-03-29 16:17] 2nazeem commented on #7610
How do I withdraw from my cells that are already block chained

[2019-03-29 16:28] muffinresearch commented on #7720
@bobsilverberg when you have a moment please could you take a look at and triage this?

[2019-03-29 16:41] bobsilverberg commented on #7720
This is odd. When I go to https://addons.mozilla.org/en-US/firefox/collections/12774996/favorites/, the page does not load and I get a message "You do not have permission to perform this action." That seems to be happening during server side rendering, so there is no information in the console or network tab about what is causing that error.

@kumar303 | @willdurand Can you reproduce that too?

<i

[2019-03-29 17:13] Mozilla-GitHub-Standards opened #7795 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-29 21:02] niavlysos opened #7796 "cocktail ne marche plus"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-29 21:04] niavlysos commented on #7796
molotov  est tout noir plus possible de regarder tele sur ordi fire fox merci a vous et l equipe

[2019-03-29 21:04] #7796 closed

[2019-03-29 21:21] kumar303 commented on #7720
@bobsilverberg Yes, this error you saw is expected. The URL is a collection belonging to user ID 12774996 -- no one else can access it. This collection is named `favorites` which is a special type of collection that exists for historic reasons. It may be triggering special code.

@SoSaysSunny sorry you're having trouble. For the record, I was able to create a new collection in the latest Firefox a

[2019-03-29 21:24] kumar303 opened #7797 "There is a localization problem with Kabyle (kab)"
### Describe the problem and steps to reproduce it:

Load this page: https://addons.mozilla.org/kab/firefox/addon/jjb/?src=rating

### What happened?

500 error

### What did you expect to happen?

It should load without an error, like: https://addons.mozilla.org/en-US/firefox/addon/jjb/?src=rating

### Anything else we should know?

There seems to be a problem with a format string in the `kab` lo

[2019-03-30 13:24] eislexus99 opened #7798 "Autoclose Bookmark&History Folders"
Hello
How can i download this Plugin for Fireox?
Autoclose Bookmark&History Folders
Thanks

[2019-03-31 03:04] mellydoank opened #7799 "SEO Doctor 1.6.1"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-31 03:04] mellydoank commented on #7799
tidak bisa di download

[2019-03-31 12:13] Bhargavchirumamilla opened #7800 "firebug is not working for firefox44 version"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-03-31 20:58] gzm11 opened #7801 "<"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-01 06:04] hasanandbd1 opened #7803 "Webrank Tollbar Not Available"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-01 08:39] willdurand commented on #7798
If you can't find it using [the search page](https://addons.mozilla.org/en-US/firefox/search/), then I am not sure how you can retrieve this add-on.

[2019-04-01 08:39] #7798 closed

[2019-04-01 08:39] #7799 closed

[2019-04-01 08:39] #7800 closed

[2019-04-01 08:39] #7801 closed

[2019-04-01 08:41] willdurand opened #7804 "`th` locale has an issue"
See: https://travis-ci.org/mozilla/addons-frontend/jobs/513823792

Travis Build should pass once this issue is fixed.

[2019-04-01 08:42] #7803 closed

[2019-04-01 08:50] #7804 closed

[2019-04-01 13:18] diox opened #7806 "Allow reviewers to edit their reviewer name when editing their profile"
Once mozilla/addons-server#11002 goes live the API will expose a new field for reviewers, called `reviewer_name`. This field should be editable in the edit my profile page. It should only appear for reviewers.

[2019-04-01 16:54] kumar303 commented on #7806
I bumped priority to match that of https://github.com/mozilla/addons-server/issues/11002

[2019-04-02 01:14] mellydoank commented on #7799
Dapatkah Anda membantu saya, saya memerlukan aplikasi plugin SEO Doctor
1.6.1

Pada tanggal Sen, 1 Apr 2019 pukul 15.39 William Durand <
notifications@github.com> menulis:

[2019-04-02 06:16] krasnoshtan opened #7810 "Exit Firefox Android by menu item without deleting anything"
### Describe the problem and steps to reproduce it:

I was surfing the Firefox help for Android and there was a page where describing how to add an item in the menu to exit Firefox. But link to this add-on is not working anymore.

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-02 07:53] user-sol opened #7811 "Teamweek button"
### Describe the problem and steps to reproduce it:

### What happened?
following the instructions in this page https://support.teamweek.com/article/35-teamweek-button
### What did you expect to happen?
There is supposed to be an add-on for Teamweek button
### Anything else we should know?

[2019-04-02 08:02] ioanarusiczki opened #7812 "Link Extension Workshop dev and stage environments to AMO"
Requested here  https://github.com/mozilla/extension-workshop/issues/139#issuecomment-477933211
There is a stage environment https://extensionworkshop.allizom.org/ and dev will follow, discussions are here https://github.com/mozilla/extension-workshop/issues/131

STR:
When the EW is clicked from AMO dev or AMO stage it should redirect to https://extensionworkshop-dev.allizom.org/
https://extension

[2019-04-02 08:05] cagarovskaya opened #7813 "1"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-02 08:05] ioanarusiczki commented on #7812
Please note this issue is reproducible the same way when the EW link is clicked from the footer of the page.

[2019-04-02 08:19] #7813 closed

[2019-04-02 09:34] willdurand commented on #7810
Hi, would you have the Firefox help page that linked to the missing add-on by chance?

[2019-04-02 09:35] willdurand commented on #7811
There might be an issue with the latest version of this add-on. /cc @mozilla/add-on-admin-reviewers

[2019-04-02 10:46] muffinresearch commented on #7811
The previous version looks to be legacy, the best course of action would be to ask the developers to submit a new version as a web extension.

[2019-04-02 10:46] #7811 closed

[2019-04-02 11:47] gebaran777 opened #7814 "https://exhentai.org/"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-02 11:48] #7814 closed

[2019-04-02 14:19] EnTeQuAk commented on #7792
Hi, this is an intended consequence of the [removal of legacy add-ons from AMO](https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/).

All versions of this add-on were disabled because they were legacy and hasn't been updated in a long time. This causes the add-on to be considered incomplete, and that's why you're seeing the error.

Please check [discourse.moz

[2019-04-02 14:19] #7792 closed

[2019-04-02 17:36] SoSaysSunny commented on #7720
@kumar303 & @bobsilverberg,

Sorry for the delayed response ... It was nearly 2 weeks before anyone answered my post so I stopped checking all the time.

### ANSWER
I'm using **Firefox Quantum 60.6.1 ESR** on **Windows 7 Professional**.  _My senior citizen mom (and I) can't stand all the constant changes._

### UPDATE
Trying it just now ...

![Collections](https://user-images.githubusercontent.com

[2019-04-02 18:20] devaneymoz opened #7817 "11 April homepage programming update"
For the **11 April** push, please update the homepage per details found [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @bobsilverberg

[2019-04-02 18:23] krasnoshtan commented on #7810
Yes, of course, here
https://support.mozilla.org/en-US/kb/how-do-i-quit-firefox-android?&mobile=1

[2019-04-02 19:29] kumar303 commented on #7720
Thanks for all the additional info! It's possible that we have a regression in Firefox ESR but we do aim to support it.

Collections are already public. To share a collection first click on it to view all add-ons (not in edit mode). You can now copy and paste this URL, send it to someone, and they will be able to see the collection.

[2019-04-02 19:30] willdurand commented on #7810
Oh right, we should update this page if the add-on is really gone.

@jvillalobos there is this content in the link pasted in the comment above:

The add-on is: https://addons.mozilla.org/en-US/android/addon/quitnow/

[2019-04-02 19:54] jvillalobos commented on #7810
@caitmuenster ^^

[2019-04-03 07:46] poliklinikakvaternik commented on #6146
Hi, I want to list my firm on your pages, but always I must log-in...Please would you help me and put Poliklinika Kvaternik on your page?
link is https://addons.mozilla.org/en-US/firefox/user/14726903/
Thanks in advance
BR

[2019-04-03 08:38] #7732 closed

[2019-04-03 08:39] willdurand commented on #7732
For QA, in -dev: I was able to reproduce the issue with this add-on: http://localhost:3000/en-US/firefox/addon/ublock-origin/versions/

[2019-04-03 08:40] #7797 closed

[2019-04-03 09:09] Delphi-Coder opened #7821 "Broken Link"
### Describe the problem and steps to reproduce it:

### What happened?
I clicked on famous and the best translation add-on (s3translator) link from its site. The Link not works.

### What did you expect to happen?
I expect Firefox team to keep add-on alive for us. Without it the web surfacing life become difficult and left users with a force to move on chrome browser.

### Anything else we should

[2019-04-03 09:39] muffinresearch commented on #7821
@Delphi-Coder hi - the previous add-on version was a legacy add-on which are no longer supported. The best solution is to contact the developer and ask for them to update their add-on to be a web extension.

Another option is to consider some of the web extension alternatives that are already available e.g. https://addons.mozilla.org/en-US/firefox/search/?q=google%20translate&type=extension

[2019-04-03 09:39] #7821 closed

[2019-04-03 09:54] muffinresearch opened #7823 "Prettier-ci check doesn't catch un-processed files"
[code]

[2019-04-03 09:57] muffinresearch commented on #7823
There's a easier command to run now too which is to run:

`prettier -c '**'`

e.g:

$ node_modules/.bin/prettier -c '**'
Checking formatting...
README.md
src/amo/components/SearchFilters/index.js
tests/unit/amo/pages/TestUserProfileEdit.js
tests/unit/core/components/TestAMInstallButton.js
Code style issues found in the above file(s). Forgot to run Prettier?
$ echo $?
1

[2019-04-03 10:00] muffinresearch commented on #7823
Yeah, but this means there are non-prettied source files in master - presumably that's not expected is it?

[2019-04-03 10:02] willdurand commented on #7823
Indeed, we don't want non-prettied files. I think the `prettier` behavior has changed recently and we did not catch that.

In code-manager, we use:

[code]

[2019-04-03 10:40] #7795 closed

[2019-04-03 10:50] muffinresearch commented on #7797
This is already on -dev, but this URL is failing on stage so this can be tested once stage has the fix after the next tag: https://addons.allizom.org/kab/firefox/addon/noscript/?src=featured

[2019-04-03 12:07] #7823 closed

[2019-04-03 12:36] willdurand opened #7825 "The title of the version page does not match the mock-ups"
The title of the "version page" should be "[extension name] version history".

Actual:

![](https://user-images.githubusercontent.com/27789806/55444894-544bba00-557e-11e9-9a45-e2fe58eda3de.png)

Expected:

![](https://user-images.githubusercontent.com/27789806/55444897-5c0b5e80-557e-11e9-974c-7b413fbbec15.png)

The mock-ups below has a different case but we're not using it anywhere else in the sit

[2019-04-03 13:25] willdurand commented on #7781
This happens because we're using 720 x 92px theme preview images.

[2019-04-03 14:16] willdurand commented on #7702
The issue is related to the regex used to match languages variants that is too permissive. Here is a quick fix for this issue:

[code]

[2019-04-03 14:48] #7817 closed

[2019-04-03 14:56] willdurand opened #7830 "Update -dev and local dev when EW gets a -dev env (if any)"
~~Depending on https://github.com/mozilla/extension-workshop/issues/131, we might need to update the Extension Workshop URL value in the config.~~ EW will get a -dev env, so let's update our config!

We want to change the value of `extensionWorkshopUrl` in the following files:

- `config/dev-amo.js`
- `config/development-amo.js`

The new value should be: `https://extensionworkshop-dev.allizom.org`

[2019-04-03 14:56] #7812 closed

[2019-04-03 14:57] #7682 closed

[2019-04-03 15:49] caitmuenster commented on #3580
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @willdurand

[2019-04-03 16:28] caitmuenster commented on #7810
Thanks for the heads up! Removing the link to the add-on from the SUMO article now.

[2019-04-03 20:53] SoSaysSunny commented on #7720
@kumar303

I'm not sure what you're saying here.  If you're saying that ESR is a Security-, Stability-, & Speed-ONLY version: The problem is that it's geared toward institutions and so most senior citizens (even their kids) wouldn't know that ESR could be a solution.  The senior / Baby Boomer demographic is not a small group so this reason to choose ESR should be highlighted to be easier to find.

[2019-04-03 21:21] kumar303 commented on #7720
I was just saying that since Firefox ESR is an older version of Firefox, the addons.mozilla.org site may not be working correctly in it. If this is true, it's a bug.

Can you try in the release version of Firefox just to see if it works there? https://www.mozilla.org/en-US/firefox/new/

I understand that ultimately you'd prefer to use Firefox ESR.

Oh, right! I forgot that the special "favorites"

[2019-04-03 22:18] jvillalobos opened #7831 "Add tooltips to the Extension Workshop and DevHub header links"
To better explain what Extension Workshop and Developer Hub are, and how they are different, @MeridelW suggested we add tooltip text to both links. This is only for the header links in the frontend.

* Extension Workshop: "Learn how to create extensions and themes"
* Developer Hub: "Submit and manage extensions and themes"

/cc @caitmuenster

[2019-04-03 22:24] caitmuenster commented on #7831
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @kumar303

[2019-04-04 00:21] mymindstorm commented on #7825
To add to this, the capitation for the category selector on the front page also seems to be off:

![image](https://user-images.githubusercontent.com/27789806/55521223-6f353180-5645-11e9-87ac-c2b1fb9875a1.png)
`Password managers` should be `Password Managers` and
`Ad blockers` should be `Ad Blockers`

[2019-04-04 05:39] ZhangChenyang1129 opened #7832 "copper"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-04 06:52] #7832 closed

[2019-04-04 09:52] willdurand commented on #7825
@mymindstorm would you like to submit another patch for these category names?

[2019-04-04 10:06] #7825 closed

[2019-04-04 10:07] willdurand commented on #7825
Thanks for your first contribution @mymindstorm! (/cc @caitmuenster)

[2019-04-04 10:13] mospy123 opened #7833 "ser"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-04 10:14] #7833 closed

[2019-04-04 13:45] mymindstorm commented on #7825
@willdurand no problem.

If sentence case, the `Watching Videos` and `Smarter Shopping` strings should be changed (and the categories above that).

[2019-04-04 13:49] willdurand commented on #7825
ahm I overlooked these two categories and actually did not understand your previous comment correctly.. Sorry. You're right, it should match this mock-up: https://mozilla.invisionapp.com/share/YCCYEOFRH#/screens/259591847

[2019-04-04 14:04] mymindstorm commented on #7825
I can't find the mock-up for this:

![image](https://user-images.githubusercontent.com/27789806/55560882-ccb59680-56b6-11e9-895c-aa5a4628f891.png)

Do you know where that is?

[2019-04-04 14:09] willdurand commented on #7825
Nope, but I found https://mozilla.invisionapp.com/share/PRP2GJ5E7BW#/screens/324863887. These three blocks should remain as-is though.

[2019-04-04 14:37] mymindstorm opened #7835 "Addon details user count should be a link"
Relevant: #5434

If user statistics are public (or the signed-in user has access to them), the count should be clickable like the "Reviews" button.

![image](https://user-images.githubusercontent.com/27789806/55563940-75b2c000-56bc-11e9-9218-3ee43c8383f3.png)

I'm willing to write a PR for this.

[2019-04-04 17:49] jvillalobos commented on #7835
I don't think we want users in general going to the stats dashboard, because it's sort of a dead end (needs better design, https://github.com/mozilla/addons-server/issues/10920), and doesn't provide information that is particularly interesting for end users. Having it as a secondary link on the product page is sufficient, IMO. People who are looking for it should be able to find it.

[2019-04-04 17:49] #7835 closed

[2019-04-04 21:47] caitmuenster commented on #7830
Extension Workshop is getting a -dev environment! See [issue #131](https://github.com/mozilla/extension-workshop/issues/131).

[2019-04-04 21:57] caitmuenster opened #7838 "Add info about AMO API to /about page"
On https://addons.mozilla.org/about, let's add some info about the AMO API.

Under **Get  Involved,** let's add:

- Want to interact with addons.mozilla.org (AMO) programmatically?  Check out the documentation for the [Add-ons Servers documentation](https://addons-server.readthedocs.io/en/latest/index.html) for details about the AMO APIs, the APIs used by the [Add-ons Manager](https://blog.mozilla

[2019-04-05 00:49] mymindstorm commented on #7835
That issue is on the board for this quarter. For the few amount of add-ons that have public stats, I thought it would just be nicer to have more consistent UX.

[2019-04-05 08:52] willdurand commented on #7830
Indeed, thanks!

[2019-04-05 09:11] ioanarusiczki commented on #7823
@willdurand Anything qa should be checking for this ?

[2019-04-05 09:12] willdurand commented on #7823
@ioanarusiczki oops, nope, sorry. Added the "qa: not needed" label :)

[2019-04-05 11:24] ioanarusiczki commented on #7817
@willdurand verified this on AMO dev - FF66 (Win10)
The new shelves are displayed on AMO homepage and I could edit all of them by adding new extensions/themes except for the featured themes which had problems in the past because I filed an issue a while ago on the server side https://github.com/mozilla/addons-server/issues/10403 but it looks like it cannot be edited using the frontend link either

[2019-04-05 11:37] ioanarusiczki commented on #7825
@willdurand Verified on AMO dev with FF66(Win10)

It's "version history", "Smarter shopping" and "Watching videos" now.

![capitalization issue](https://user-images.githubusercontent.com/33448286/55625058-56955a80-57b0-11e9-978a-3327a427d81c.gif)

[2019-04-05 12:02] ioanarusiczki commented on #7812
@willdurand verified on AMO dev with FF66(win10), https://extensionworkshop.allizom.org/ is linked to AMO.

![the stage env for ew](https://user-images.githubusercontent.com/33448286/55626311-da9d1180-57b3-11e9-8ad1-8201291e61be.gif)

[2019-04-05 12:10] willdurand commented on #7817
I might be wrong but I think that's not exactly the link we're using in the frontend.

[2019-04-05 12:10] willdurand commented on #7817
We'll be using https://addons.mozilla.org/en-US/firefox/search/?featured=true&type=statictheme

[2019-04-05 13:25] willdurand opened #7840 "Add UsersUnsubscribe page"
Supports #7656

---

We want to add a new page for the unsubscribe feature. This issue is about creating a new route + a simple component for that. It should look similar to the old page:

![Screen Shot 2019-04-05 at 15 24 45](https://user-images.githubusercontent.com/217628/55630852-f48c2380-57b6-11e9-99a3-279a8bad63c7.png)

It will NOT unsubscribe the user. It's a pure UI (and basic) component.

[2019-04-05 14:52] willdurand opened #7842 "Add API function for unsubscribing a user from a notification"
Supports #7656

---

API endpoint is available here: https://addons-server.readthedocs.io/en/latest/topics/api/accounts.html#post--api-v4-accounts-unsubscribe-

[2019-04-05 16:27] willdurand opened #7843 "FormData is not defined in Node"
There is an error with `FormData` on the server:

[code]

~~Let's use this lib to fix the problem: https://github.com/form-data/isomorphic-form-data~~ Nope, because of https://github.com/form-data/form-data/issues/403. I wrote: https://github.com/willdurand/isomorphic-formdata, which uses https://github.com/octet-stream/form-data in node context.

I believe we did not run into this problem earlier

[2019-04-06 06:03] championshuttler commented on #7838
Here you go @rahulsyal2512. Feel free to ask questions if you need any help.

[2019-04-06 16:54] rahulsyal2512 commented on #7838
@championshuttler I have made necessary changes, please review it. Thank you for the guidance :)

[2019-04-06 22:30] ithompson4 commented on #7831
Hello, Can I work on this?

[2019-04-07 02:37] mellydoank opened #7848 "why addons seo doctor deleted, what problem ??"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-07 06:31] FatOrangutan opened #7849 "Hovering over relative time values on reviews should show time in absolute format"
### Describe the problem and steps to reproduce it:

1. Go to a review page e.g. https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/reviews/
2. Try to find exactly when a review was posted, perhaps to see if any issues raised in the review might have been addressed in a recent update to the add-on.

### What happened?
There is just no way of knowing this. As long as it is reported in hou

[2019-04-07 06:58] FatOrangutan opened #7850 "Star reviews without accompanying text should be hidden/collapsed on review pages"
### Describe the problem and steps to reproduce it:

Go to a review page e.g. https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/reviews/

### What happened?
22/25 of the reviews on the first page carry no text.

### What did you expect to happen?
One of:
1) Reviews without text are entirely hidden. Downside: recent trend of even purely star rating reviews might convey useful information

[2019-04-07 11:33] MajedHaimour commented on #3704
Please, I need Hover Zoom for Firefox

[2019-04-08 06:32] AlexandraMoga commented on #7850
See that this was also reported in https://github.com/mozilla/addons-frontend/issues/7411

[2019-04-08 08:10] #7848 closed

[2019-04-08 08:14] #7840 closed

[2019-04-08 08:15] willdurand commented on #7840
Marking this issue as "qa: not needed" because it should not be available in -dev yt.

[2019-04-08 08:36] willdurand commented on #7838
@caitmuenster I find this paragraph hard to read. There are two repetitions:

- "the documentation for the Add-ons Servers documentation"
- "about the AMO APIs, the APIs"

I suggest we change the wording a bit, like:

[2019-04-08 08:40] willdurand commented on #7849
That sounds like a good idea.

[2019-04-08 08:41] willdurand commented on #7831
@ithompson4 I think so. By "tooltip", I think we mean HTML titles.

[2019-04-08 08:45] ithompson4 commented on #7831
Hello @willdurand. Yes, I will on this. Thanks.

[2019-04-08 09:06] willdurand opened #7853 "Add reducer code/saga code for unsubscribing a user from a notification"
Supports #7656

---

Implement the logic to actually perform the unsubscribe action when the page loads.

[2019-04-08 09:28] ioanarusiczki commented on #7682
@willdurand
Verified on AMO dev - FF66 (Win10). Navigating to https://addons-dev.allizom.org/firefox/search-tools/
will display "Top rated" as default.

![top rated as default](https://user-images.githubusercontent.com/33448286/55713430-52a84900-59f9-11e9-9f2a-dc8a71abee2e.gif)

If  `search-engines` is types instead of `search-tools` the URL redirects correctly to the page except I've noticed that

[2019-04-08 11:46] ioanarusiczki opened #7856 "Adding themes in the featured themes collection doesn't work"
As a followup for https://github.com/mozilla/addons-frontend/issues/7817 I tried with and admin account to add themes using the frontend collection URL https://addons-dev.allizom.org/en-US/firefox/collections/4757633/featured-personas/

Expected result:
All themes are displayed when See more link is clicked from AMO's homepage https://addons-dev.allizom.org/en-US/firefox/search/?featured=true&type

[2019-04-08 11:52] ioanarusiczki commented on #7817
@willdurand

It means that is should be alright, the document kept the old URL which was available for lw themes.

I also filed https://github.com/mozilla/addons-frontend/issues/7856. It's only an assumption, but this could also be caused by the changes from lw to static themes.

[2019-04-08 13:07] ioanarusiczki commented on #7797
@kumar303 I uploaded the addon on AMO dev[ here](https://addons-dev.allizom.org/kab/firefox/addon/%E4%BA%AC%E4%BB%B7%E4%BF%9D-%E4%BA%AC%E4%B8%9C%E4%BB%B7%E4%BF%9D%E5%8A%A9%E6%89%8B/) and I cannot seem to reproduce the 500 error.
I did the same on prod where it's reproducible once en-US is changed to kab.
Let me know if my way of testing this on dev is ok  because @muffinresearch gave a specific ad

[2019-04-08 13:28] ioanarusiczki commented on #7795
@muffinresearch I think this needs a "qa not needed" label given that it's about Github and not AMO.

[2019-04-08 14:23] #7843 closed

[2019-04-08 14:25] #7842 closed

[2019-04-08 14:53] salvapil opened #7858 "S3.Translator"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

Ho  sempre  usuto il componente aggiuntivo  "S3.Translator"  per  traduzioni  di  pagine  Web.
E'  stato  sempre  molto  efficace  e  eccelente  nella  traduzione,  nonché  di  facile  esecuzione.

Sul  PC  del  lavoro  è  ancora  in  funzione,  mentre  co

[2019-04-08 15:58] #7853 closed

[2019-04-08 16:32] #7806 closed

[2019-04-08 17:46] jvillalobos commented on #7858
Any issues with the extension or an extension page missing from the site need to be brought up with the developer.

[2019-04-08 17:46] #7858 closed

[2019-04-08 20:53] caitmuenster commented on #7838
Thanks for flagging @willdurand! Your wording makes sense -- let's go with that.

@rahulsyal2512, if you could update your PR to reflect Will's wording above, that would be awesome!

🙏🏼

[2019-04-09 07:27] ioanarusiczki commented on #7843
@willdurand Is qa needed here? If yes, please add some STR
Thanks!

[2019-04-09 08:18] ioanarusiczki commented on #7732
@willdurand Thanks for the sample. What I've noticed is that editing the fields from dev hub with spaces between the lines has no effect on the frontend no matter how many spaces I add (it is visible in the gif I added).
I can't tell if that's as expected right now.

![text stays compact](https://user-images.githubusercontent.com/33448286/55784181-af1e6d80-5ab8-11e9-9c24-1fef265689a3.gif)

[2019-04-09 09:00] willdurand commented on #7843
@ioanarusiczki thanks for the reminder, just added a note in the issue above ⬆️

[2019-04-09 09:08] #7831 closed

[2019-04-09 09:09] willdurand commented on #7831
Thanks a lot for your first contribution @ithompson4! /cc @caitmuenster

[2019-04-09 11:52] mymindstorm commented on #7732
@ioanarusiczki think that's intended since it's html. We don't have `<br>`, so I don't think you can add spaces between two `<li>`

[2019-04-09 12:10] willdurand commented on #7732
that's indeed expected

[2019-04-09 12:24] rahulsyal2512 commented on #7838
@caitmuenster I have changed the wording as per the comment.

[2019-04-09 12:43] #7838 closed

[2019-04-09 12:43] willdurand commented on #7838
Thank you for your first contribution @rahulsyal2512!

[2019-04-09 16:02] AlexandraMoga commented on #7806
Verified fixed on -dev with FF66, Win10x64

Users with reviewer permissions (expect for rating moderators) will have the ability to set  a reviewer alias through the edit profile page.

Regular users will not see this additional field.

![image](https://user-images.githubusercontent.com/31961530/55815960-eeb97980-5af9-11e9-8db9-f5b2bb37d7f1.png)

[2019-04-09 19:04] ithompson4 commented on #7831
@willdurand, thank you.

[2019-04-10 06:35] AlexandraMoga commented on #7838
Verified fixed on -dev with FF66, Win10x64

![image](https://user-images.githubusercontent.com/31961530/55856762-f3bb0f00-5b73-11e9-9f87-7359e6505b1d.png)

[2019-04-10 07:42] ioanarusiczki commented on #7831
@willdurand Both tooltips are available on AMO dev and stage - FF66(Win10)
The background of the tooltip box is white not grey  here https://user-images.githubusercontent.com/16367007/55775406-2b886080-5a67-11e9-8527-18019d181bd0.png but I don't mind, it looks better white.

![tooltips on desktop](https://user-images.githubusercontent.com/33448286/55860601-46e58f80-5b7d-11e9-862a-44a2eb7f4640.gif)

[2019-04-10 09:04] #7830 closed

[2019-04-10 09:05] willdurand commented on #7830
Thanks for your first contribution @feugy! /cc @cai

[2019-04-10 09:13] ioanarusiczki commented on #7843
@willdurand Uploading images work for me on both AMO dev and AMO stage - FF66(Win10).

Two questions:
- the maximum size allowed is 4GB, when uploading something bigger the red message received is     Please use images smaller than 3MB. It's not a big deal, but I  could file an issue to fix the message - replace 3 with 4.

- I've noticed that the picture's placeholder is visibly larger ,64x64 pixe

[2019-04-10 11:54] willdurand opened #7866 "Replace `getLocalizedTextWithLinkParts` with `replaceStringsWithJSX`"
Once the patch for #7597 lands, we can replace all calls to `getLocalizedTextWithLinkParts` with `replaceStringsWithJSX`.

**For QA:** the following pages will be affected by this change, please make sure information are still displayed correctly:

- the "guide" pages, e.g., https://addons-dev.allizom.org/en-US/firefox/guides/stay-safe-online/
- the "unsubscribe" page
- the version pages, e.g., ht

[2019-04-10 12:07] wagnerand opened #7867 "Allow accessing product page by addon ID"
Follow-up of https://github.com/mozilla/addons-server/issues/11154

We already support using an AMO ID or a slug in order to access an add-ons product page. We recently added support for using an add-on ID to reviewer and admin pages and want to do that for product pages as well.

In short: Let's add support for accessing a product page using `/firefox/addon/<addon-guid>`

**For QA:** an add-on ca

[2019-04-10 13:13] #7867 closed

[2019-04-10 15:08] mkburke01 opened #7870 "can't download need this plugin"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-10 15:10] #7870 closed

[2019-04-10 15:38] willdurand commented on #7856
@ioanarusiczki Isn't it a pure server issue? /cc @eviljeff

[2019-04-10 15:39] willdurand commented on #7850
given that #7411 has been closed, I'm closing this one too.

[2019-04-10 15:39] #7850 closed

[2019-04-10 15:50] muffinresearch commented on #6136
@jvillalobos The button being enabled when incompatible definitely sounds like a bug that we should fix.

For the other part, we generally don't second guess users based on URL parameters. Whether that's client application or locale.

One way we could deal with this is to set a banner to inform the user they're viewing a page that doesn't match their platform. They would then have the option to fo

[2019-04-10 16:31] jvillalobos commented on #6136
Fixing the install button and adding the banner sounds like a good approach to me.

[2019-04-11 08:45] willdurand commented on #7843
Yep, I think this is an addons-server issue because we only show the server errors.

[2019-04-11 08:47] willdurand commented on #7843
This reminds me of an existing issue. I am not sure if it's intended or not. At first glance, it looks like a bug.

[2019-04-11 08:48] #7656 closed

[2019-04-11 08:51] #7597 closed

[2019-04-11 11:08] suhailsinghbains commented on #7604
Are we changing the minimum length to 2 instead of 3? @willdurand
Can I please work on it, if we are doing it?

[2019-04-11 11:57] willdurand commented on #7604
yes and yes.

[2019-04-11 12:26] willdurand commented on #7655
I believe this issue in the react-autosuggest repo is the cause of this bug: https://github.com/moroshko/react-autosuggest/issues/378.

[2019-04-11 13:04] willdurand opened #7875 "Use `getDerivedStateFromProps()` in `UserProfileEdit`"
Let's `getDerivedStateFromProps()` in `UserProfileEdit` instead of using `setState()` in `componentDidUpdate()`. It'll be more future-proof!

**For QA:** please make sure the edit profile page still works and there is no regression.

[2019-04-11 16:20] hackoff opened #7876 "delted dissenter. i am so disappointed by mozilla"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-11 16:20] #7876 closed

[2019-04-11 20:19] kumar303 commented on #7597
Could you add some steps for QA? I think it's just a matter of checking for regressions in some localizations.

[2019-04-11 20:30] willdurand commented on #7597
ah, I forgot to update this issue. I'll add a quick not related to the `NotFound` component, thanks!

[2019-04-12 00:30] draeftl0re opened #7878 "You removed Dissenter. What is wrong with you?"
You deleted free speech.  Congradulations, you are just as bad as the nazi party in 1940's and removing the ability to voice apposing opinions.

[2019-04-12 00:56] #7878 closed

[2019-04-12 02:09] mrksdiehl commented on #7878
So I moved from chrome to Firefox because I wanted to get away from Big Brother. Now I need to move away from Firefox....

[2019-04-12 07:08] 1ykos commented on #7878
I will be switching to another browser, congratulations. I was under the impression firefox stood for my freedoms, but it does not.
Any recommendations?

[2019-04-12 07:09] 1ykos commented on #7876
I was under the impression firefox stood for my freedoms, but it does not.
Any recommendations for a browser that does believe in the freedoms of the software and the user?

[2019-04-12 07:15] 1ykos opened #7879 "Dissenter has been removed from the addons"
1. Search for dissenter on addons.mozilla.org
2. Dissenter is not found, no explanation given
3. I would expect mozilla to support free speech
4. People can install the extension manually by visiting https://dissenter.com/download and should be, just like me, on the lookout for a browser that believes in the freedoms of its users.

[2019-04-12 07:35] #7879 closed

[2019-04-12 07:38] willdurand commented on #7879
This issue tracker does not accept issues for specific add-ons. The add-on you mentioned has been removed. You should contact the developer.

[2019-04-12 07:43] 1ykos commented on #7879
dissenter can't help me when mozilla removes the addon.

[2019-04-12 08:06] alex2600 commented on #7879
The addon has been removed by mozilla. Not the addon developer.

[2019-04-12 08:12] willdurand commented on #7879
We are the developers of the website here, not the reviewers or anyone that can do anything about this specific addon. I recommend you to talk to the developer, who can talk to the reviewers

[2019-04-12 08:26] ioanarusiczki commented on #7817
Verified on AMO prod - FF66(Win10)

[2019-04-12 09:01] ioanarusiczki commented on #7797
Verified on AMO prod, FF66(Win10) - the add-on is displayed with kab

![in kab](https://user-images.githubusercontent.com/33448286/56025394-b2189880-5d1a-11e9-88c1-b707657be986.png)

[2019-04-12 09:05] #6769 closed

[2019-04-12 09:17] #7866 closed

[2019-04-12 12:32] ioanarusiczki opened #7880 "User profile avatar looks smaller than it's placeholder"
Followup for https://github.com/mozilla/addons-frontend/issues/7843

STR:
1. Sign in AMO and upload an image from edit profile page (take a look at it's placeholder displayed on view profile page).
2. Observe the uploaded image on view profile page

Expected result:
The avatar is at 64x64 pixels same size as it's placeholder.

Actual result:
The avatar is resized at 64x48 pixels.

Notes:
Reproduci

[2019-04-12 12:43] ioanarusiczki commented on #7843
@willdurand
For the first thing, thanks for mentioning the server repo because I've searched a little and it was filed a while ago for the legacy pages and then fixed (funny thing, I filed it). So, I re-filed it for the new frontend https://github.com/mozilla/addons-server/issues/11186
For the second thing, I found only one issue filed but it's about the placeholder being too small https://github.

[2019-04-12 12:50] AlexandraMoga commented on #7867
Verified fixed on -dev with FF66, Win10x64

- redirects to `/firefox/addon/<slug>`
https://addons-dev.allizom.org/en-US/firefox/addon/jid1-ZAdIEUB7XOzOJw@jetpack/
https://addons-dev.allizom.org/en-US/firefox/addon/{f9b9cdd3-91ae-476e-9c21-d5ecfce9889f}/

- this is a 404
https://addons-dev.allizom.org/en-US/firefox/addon/%7Bb585a736-4d7f-4692-b4ca-45a93f00c2/

[2019-04-12 12:52] willdurand commented on #7843
thanks!

[2019-04-12 14:00] ioanarusiczki commented on #7830
@willdurand I receive a 404 on AMO dev when I click EW from both header and footer of the page. FF66(Win10)

![404 received for ew dev](https://user-images.githubusercontent.com/33448286/56042738-6b3f9880-5d44-11e9-80d3-0b297a3cc12b.gif)

[2019-04-12 14:04] willdurand commented on #7830
Yeah, I think the -dev env is not entirely set up yet.

[2019-04-12 14:47] thumbsized opened #7881 "Another Dissenter rant"
Yeah, so... the whole Mozilla can go fuck itself.

[2019-04-12 14:51] #7881 closed

[2019-04-12 15:39] neosaberleo opened #7882 "Missing Dissenter plugin"
### Describe the problem and steps to reproduce it:

Go to the following link to install the Dissenter plugin for Firefox:
https://addons.mozilla.org/en-US/firefox/addon/dissenter-extension/

### What happened?
An error message is shown, as if the plugin does not exist

### What did you expect to happen?
The page should load, allowing the user to install the plugin

### Anything else we should kno

[2019-04-12 15:52] #7882 closed

[2019-04-13 06:51] feugy commented on #7830
Indeed, I've pointed out in the PR #7845

[2019-04-13 08:01] mannawar opened #7885 "came from MIT pset5 for assignment"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-13 08:17] #7885 closed

[2019-04-13 11:28] piouhohgoy opened #7886 "M"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-13 15:19] 101ways2pwn opened #7888 "Censorship"
### Describe the problem and steps to reproduce it:

You took down disscenter

### What happened?
You are censoring the public
### What did you expect to happen?
Return the extension
### Anything else we should know?
We know. You are with Soros.

[2019-04-13 16:38] #7888 closed

[2019-04-13 16:38] #7886 closed

[2019-04-13 17:33] 101ways2pwn opened #7889 "Censorship -Google"
Describe the problem and steps to reproduce it:
You took down disscenter

What happened?
You are censoring the public

What did you expect to happen?
Return the extension

Anything else we should know?
We know. You are with Soros.

[2019-04-14 11:08] #7889 closed

[2019-04-14 21:39] 101ways2pwn commented on #7889
Describe the problem and steps to reproduce it:
You took down disscenter

What happened?
You are censoring the public

What did you expect to happen?
Return the extension

Anything else we should know?
We know. You are with Soros.

[2019-04-14 21:40] 101ways2pwn opened #7891 "Censorship"
Describe the problem and steps to reproduce it:
You took down disscenter

What happened?
You are censoring the public

What did you expect to happen?
Return the extension

Anything else we should know?
We know. You are with Soros.

[2019-04-14 21:40] 101ways2pwn opened #7892 "Censorship"
Describe the problem and steps to reproduce it:
You took down disscenter

What happened?
You are censoring the public

What did you expect to happen?
Return the extension

Anything else we should know?
We know. You are with Soros.

[2019-04-14 22:58] #7891 closed

[2019-04-14 22:58] #7892 closed

[2019-04-14 23:10] osowiecki opened #7893 "Bring back Dissenter plugin!"
Any sensible reason why Dissenter got removed from Mozilla plugin repository other than general PC disease in Mozilla?

[2019-04-15 01:12] lolo447 opened #7894 "lol"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-15 03:31] ajayyogesh1 opened #7896 "ajay"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-15 03:31] #7896 closed

[2019-04-15 05:08] starbug42 commented on #7893
Because mozilla hates freedom

[2019-04-15 06:29] makkBit commented on #7702
I am working on this. will submit a PR soon.

[2019-04-15 07:02] #7893 closed

[2019-04-15 07:02] #7894 closed

[2019-04-15 10:25] eviljeff commented on #7856
it's hard to say definitively without knowing exactly what the bug is, but I'd have thought it unlikely there is a frontend issue here - it's all just served from the API, as I understand it.

[2019-04-15 13:10] ioanarusiczki opened #7898 "Server error is displayed when user makes a log out from edit profile page"
STR:
1. Login AMO dev and go to edit profile page
2. Log out
3. Observe the page

Expected result:
Log in to edit the profile.

Actual result:
Server error.

Notes:
Refreshing the page will displayed the log in blue button.
It is reproducible only on AMO dev - FF66 (Win10).

![server error when logging out](https://user-images.githubusercontent.com/33448286/56135191-db465c80-5f98-11e9-9a22-4ac3003

[2019-04-15 14:09] ioanarusiczki commented on #7656
@willdurand I verified this with FF66(Win10) on AMO dev.
- I managed to unsubscribe successfully to the following options:

`an add-on developer replies to my review`
via https://addons-dev.allizom.org/en-US/firefox/users/unsubscribe/dGVzdGluZ3RoaXNAY2xlYXJtYWlsLm9ubGluZQ==/7ba7e8f1e3c7ad2f48e5693331d9d4b08d289c23fe0bbcc2d06fc8822e0cf68d/reply/

`new add-ons or Firefox features are available`
via

[2019-04-15 14:20] ioanarusiczki commented on #7830
@willdurand Perhaps this should wait to be verified until dev is set up and change the milestone if it won't be ready this week.

[2019-04-15 15:00] ioanarusiczki commented on #6769
@willdurand
Page is working as before when loading /reloading.
Except for this https://github.com/mozilla/addons-frontend/issues/7898

[2019-04-15 16:02] willdurand commented on #6769
Thanks @ioanarusiczki!

[2019-04-15 16:03] willdurand commented on #7830
mmh correct, let's move it to the next milestone.

[2019-04-15 16:13] willdurand commented on #7656
@ioanarusiczki isnt it `upgrade_success`?

[2019-04-15 16:13] willdurand commented on #7656
I found it in this list: https://github.com/mozilla/addons-frontend/blob/6be8ac83c2be214b385a06da7b5ebd4b7397c1fc/src/amo/utils/notifications.js#L9-L25

[2019-04-15 17:43] Yadwinder9001 opened #7900 "Firebug not found for old firefox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-15 18:03] willdurand commented on #7900
Indeed, we do not support ancient FF versions anymore and all legacy addons have been removed.

[2019-04-15 18:03] #7900 closed

[2019-04-16 02:09] fr-liyi commented on #7794
Hello, may I take this one?

[2019-04-16 03:58] xu3u4 commented on #7794
Hello, may I take this one 🙂 ?

[2019-04-16 08:10] #7849 closed

[2019-04-16 08:12] willdurand commented on #7794
@xu3u4 sorry, this issue is not for contributors.

[2019-04-16 08:27] ioanarusiczki commented on #7656
@willdurand Yes, that helped. I tested for the `announcements` and `upgrade_success` too and works for them too.
If I try with a mandatory notification such as `individual_contact` it won't apply, the frontend delivers a red warning message `Attempting to set [individual_contact] to False. Mandatory notifications can't be modified`.
Marking this verified on AMO dev with FF66(Win10).

[2019-04-16 08:28] #7216 closed

[2019-04-16 08:28] willdurand commented on #7656
🎉

[2019-04-16 08:56] willdurand commented on #7898
We fixed this issue in https://github.com/mozilla/addons-frontend/issues/5034, but the changes needed to fix https://github.com/mozilla/addons-frontend/issues/6769 re-introduced a variant of the issue.

[2019-04-16 09:20] xu3u4 commented on #7794
Ok, sorry.

[2019-04-16 10:35] willdurand commented on #7880
@ioanarusiczki isn't it that the uploaded image has a landscape orientation?

[2019-04-16 12:25] ioanarusiczki commented on #7866
Verified this on AMO dev - FF66(Win10).
- all "Explore more" links work redirect as expected, sentences look as before.
- the unsubscribe edit profile link redirect as expected, text is fine.
- the license link redirects as expected.
- author and timpestamp are displayed and clicking the timestamp displays the permalink on top of the page.

[2019-04-16 13:14] ioanarusiczki commented on #7849
@willdurand Verified the presence of the tooltip on AMO dev with FF66 (Win10 & Android 8.0)

The tooltip is present on all pages where a review is available - user profile page, detailed review page and an add-ons detail page when a user makes a review.

Desktop

![tooltip for timestamp desktop](https://user-images.githubusercontent.com/33448286/56212180-2bd5bc80-6062-11e9-9ba4-3fa1c9940b04.png)

[2019-04-16 13:55] ioanarusiczki opened #7903 "Display issues for the star breakdown bar on android"
Followup for https://github.com/mozilla/addons-frontend/issues/7216

STR:
1. Load AMO dev on an android device and go to an add-on with ratings and reviews
2. Click a star breakdown bar - it will take you to the reviews page
3. Click again on any of the breakdown bars displayed and observe the bar

Expected results:
No display issues.

Actual result:
A black rectangle is visible around the tapped

[2019-04-16 14:01] ioanarusiczki commented on #7216
@willdurand The bars can now be clicked and will redirect to the reviews page. This is really nice especially for small android screens for which I've noticed one ux issue not reproducible on desktop https://github.com/mozilla/addons-frontend/issues/7903

Verified on AMO dev - FF66(Win10 & Android 8.0)

![click the bar](https://user-images.githubusercontent.com/33448286/56215988-47909100-6069-11e9

[2019-04-16 14:42] willdurand commented on #7903
This rectangle with dotted borders is probably the default focus style. We can also see similar rectangles on star numbers/number of reviews, on android only it seems.

[2019-04-16 16:08] #7898 closed

[2019-04-17 08:25] nt1m opened #7907 "Respond to prefers-color-scheme: dark"
It would be nice if AMO could provide a dark mode when `prefers-color-scheme: dark` is true, especially given that add-ons can't style AMO.

[2019-04-17 08:33] willdurand commented on #7907
Given [the current support for this property](https://caniuse.com/#search=prefers-color-scheme), I doubt we'll implement that in the near future.

[2019-04-17 09:03] ioanarusiczki commented on #7597
@willdurand I verified on both AMO stage and AMO prod for 500 errors for Not Found- 404 pages in the `de`, `pt-BR` and `en-US` but I couldn't generate a 500.
Verified with FF66(Win10).

[2019-04-17 10:46] logological opened #7908 "Add redirect(s) to Thunderbird addons site"
Older (but presumably still supported) versions of Thunderbird display the page at https://addons.mozilla.org/en-US/firefox/thunderbird/dictionaries/ when users attempt to install a new dictionary via Edit->Preferences->Composition->Spelling->Download More Dictionaries.  Since Thunderbird and SeaMonkey addons have now been moved to their own website, this page now returns a 404 error ("Oops! We ca

[2019-04-17 11:11] logological commented on #7908
It occurs to me that the `/en-US` parts of both URLs might already be inserted by the web server as part of some localization detection.  Perhaps the URL Thunderbird is actually trying to open is https://addons.mozilla.org/firefox/thunderbird/dictionaries/ in which case the redirect should actually be from that URL to https://addons.thunderbird.net/thunderbird/language-tools/

[2019-04-17 11:15] willdurand commented on #7908
/cc @diox @eviljeff

[2019-04-17 11:40] eviljeff commented on #7908
I would be useful to get the exact url that Thunderbird is calling.  It must be defined in the code or default config for those old versions.

From the url I would have guessed it was `https://addons.mozilla.org/thunderbird/dictionaries/` instead (the `/firefox` is also added by middleware, like the `/en-US`) ... but https://addons.mozilla.org/thunderbird/dictionaries works.

[2019-04-17 11:44] logological commented on #7908
According to the config editor the URL (with some placeholders for string substitution) is `https://addons.mozilla.org/%LOCALE%/%APP%/dictionaries/`.

When searching the config editor for other instances of `addons.mozilla` I see a lot of other URLs that might also need redirecting.  Should I list them here?

[2019-04-17 11:48] eviljeff commented on #7908
https://addons.mozilla.org/en-US/thunderbird/dictionaries/ works too 😕 .   We really need the url that Thunderbird is initially trying to load to reproduce, before the various layers of redirects happen.

Not unless we know they're not working - as far as we know there are appropriate redirects for everything already.

[2019-04-17 14:34] logological commented on #7908
I'm not sure I have any easy way of determining this.  I enabled HTTP(S) logging as described [on the wiki](https://wiki.mozilla.org/MailNews:Logging#Logging_prior_to_Thunderbird_55.0a1_.2F_SeaMonkey_2.52a1) but nothing gets written to the log file.  (MozillaZine suggests HTTP logging in the MailNews core is only for RSS feeds.)  Using tcpdump doesn't work because Thunderbird sends requests via HT

[2019-04-17 14:57] eviljeff commented on #7908
what version of Thunderbird have this url?  (I'm on the latest beta, and it shows - or is redirected to - addon.thunderbird.net correctly)

[2019-04-17 15:34] caitmuenster commented on #7702
Mentor: @willdurand

[2019-04-17 15:44] willdurand commented on #3580
This change actually requires an API change, requested in https://github.com/mozilla/addons-server/issues/11206. Therefore, it's not a good first bug for contributors and the issue is currently blocked anyway (until the API issue is fixed).

[2019-04-18 07:40] ioanarusiczki commented on #7898
@willdurand It's no longer reproducible on AMO dev and stage - FF66(Win10).

![no longer reproducible](https://user-images.githubusercontent.com/33448286/56344524-4f197c80-61c6-11e9-95b6-f94e63d5d1db.gif)

[2019-04-18 12:14] ioanarusiczki commented on #7656
@willdurand Verified on AMO stage too with FF66(Win10).
Unsubscribe link is generated and sent on email such as
https://addons.allizom.org/en-US/firefox/users/unsubscribe/cnVzaWN6a2kuaW9hbmFAZ21haWwuY29t/bb67586e94aefcc585a0bc72e704ac3598001cec45576cfa7465b99d83454efb/new_review/
The new page is also displayed for the rest of the optional emails `reply`, `new_features`, `upgrade_success`, `announc

[2019-04-18 15:03] willdurand commented on #6685
We do not have any LWT anymore, so I guess we can close this issue now.

[2019-04-18 15:03] #6685 closed

[2019-04-18 15:04] willdurand commented on #4262
Looks like this issue has been fixed.

[2019-04-18 15:04] #4262 closed

[2019-04-18 15:09] willdurand commented on #4291
we do not have switches anymore

[2019-04-18 15:09] #4291 closed

[2019-04-18 15:10] willdurand commented on #4176
This issue has been fixed by changing the main button:

![Screen Shot 2019-04-18 at 17 10 42](https://user-images.githubusercontent.com/217628/56371178-e7caef00-61fc-11e9-929f-20532aa9a573.png)

[2019-04-18 15:10] #4176 closed

[2019-04-18 15:13] willdurand commented on #4516
Looks like this has been fixed:

![Screen Shot 2019-04-18 at 17 13 11](https://user-images.githubusercontent.com/217628/56371359-42644b00-61fd-11e9-9869-10d9dca47a7a.png)

[2019-04-18 15:13] #4516 closed

[2019-04-18 15:15] willdurand commented on #2745
this issue has been fixed a while ago

[2019-04-18 15:15] #2745 closed

[2019-04-18 15:16] #3862 closed

[2019-04-18 15:18] #3814 closed

[2019-04-18 15:20] #3035 closed

[2019-04-18 15:20] willdurand commented on #3035
This has been fixed. There is a link in the menu.

[2019-04-18 15:26] willdurand commented on #3547
Looks like this has been implemented:

![Screen Shot 2019-04-18 at 17 25 58](https://user-images.githubusercontent.com/217628/56372338-0fbb5200-61ff-11e9-8061-63ec0f822321.png)

[2019-04-18 15:26] #3547 closed

[2019-04-18 15:29] willdurand commented on #2756
We do have a link to "manage my submissions" in the top menu.

[2019-04-18 15:34] willdurand commented on #7596
Looks like this is fixed too :)

[2019-04-18 15:34] #7596 closed

[2019-04-18 16:56] willdurand opened #7909 "Error: `text` does not appear to be compatible with the provided replacements"
https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/issues/5572103/

[code]

---

In prod, [this page](https://addons.mozilla.org/en-US/firefox/addon/google-translator-for-firefox/versions/) is currently broken because of the error above.

It happens because `license.name` is `null`, which is allowed according to https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#

[2019-04-18 17:34] bqbn commented on #7909
I just filed https://github.com/mozilla/addons-server/issues/11221, might be related.

[2019-04-18 17:36] #7909 closed

[2019-04-18 17:36] willdurand commented on #7909
@bqbn yep, it's definitely related. Thanks!

[2019-04-18 18:11] willdurand opened #7912 "Missing value when `license.name` is `null` in "More info" card"
### Describe the problem and steps to reproduce it:

1. Browse https://addons.allizom.org/en-US/firefox/addon/peasshee-hedder-swallamelo/
2. Observe the "More information" card

**Edit:** you can use this add-on in -dev: https://addons-dev.allizom.org/en-US/firefox/addon/gormine-dolphille-crant/

### What happened?

There is no value for "license":

![Screen Shot 2019-04-18 at 20 11 03](https://us

[2019-04-18 18:14] willdurand opened #7913 "Rename "unidentified license" to "Custom License" in `AddonVersionCard`"
### Describe the problem and steps to reproduce it:

1. Browse https://addons.allizom.org/en-US/firefox/addon/peasshee-hedder-swallamelo/versions/
2. Look at the first version entry

### What happened?

We see this sentence for the license:

![Screen Shot 2019-04-18 at 20 12 38](https://user-images.githubusercontent.com/217628/56381869-536d8600-6216-11e9-8163-28b8c7e1d576.png)

### What did you ex

[2019-04-18 18:28] willdurand opened #7914 "See if `replaceStringsWithJSX` can handle errors gracefully"
See: https://github.com/mozilla/addons-frontend/pull/7910#pullrequestreview-228413206. Not sure what we can do about it.

[2019-04-19 07:00] AlexandraMoga commented on #4516
The below pages are throwing a 404, as expected:

https://addons.mozilla.org/en-US/firefox/search/?platform=windows&page=%
https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/reviews/?page=%

[2019-04-19 13:51] Abolfcvd opened #7915 "qwazsdfgd"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-19 15:09] #7915 closed

[2019-04-19 19:02] Awolnes opened #7916 "Oups, cette page est introuvable quand je clique sur le lien de mon extension"
dans la gestion de module et état et version il y a bien écrit approuvé  , mais aucun lien pour accéder au téléchargement

[2019-04-19 19:04] Awolnes commented on #7916
j'ai créé une extension il y a 3 Jours mais je ne peut pas le telecharger
via le site https://addons.mozilla.org/fr/firefox/

[2019-04-19 20:17] willdurand commented on #7916
@Awolnes quel est le nom de votre extension ? Pouvez-vous indiquer les liens qui ne fonctionnent pas précisément ?

[2019-04-20 07:46] logological commented on #7908
I suspect the URL was changed in or around release 60.0.

[2019-04-20 13:52] izolan56 opened #7917 "ZOOM add-on for FIREFOX does not exist"
### Describe the problem and steps to reproduce it:

### What happened?
I can not install FIREFOX add-ons for the ZOOM software

### What did you expect to happen?
I should be able to install ZOOM add-ons for firefox

### Anything else we should know?

https://addons.mozilla.org/en-US/firefox/addon/zoom-new-scheduler/

[2019-04-20 13:53] izolan56 commented on #7917
![hh](https://user-images.githubusercontent.com/49813764/56458248-0afab900-6339-11e9-8895-e399b0e20b07.png)

[2019-04-20 20:48] makkBit commented on #7912
On it!

[2019-04-22 02:01] xu3u4 commented on #7913
Hello, I would like to take this.

[2019-04-22 15:57] willdurand commented on #7913
@xu3u4 yep, thanks

[2019-04-22 20:10] jvillalobos commented on #2756
This issue is for adding a shortcut link or button to manage an add-on when a developer is looking at its product page. Some developers have hundreds of add-ons, so navigating through devhub isn't ideal.

[2019-04-22 20:36] jvillalobos commented on #7917
The add-on is currently pending code review. It will be available once/if it passes review. This repository is for the add-ons website and not individual add-ons, so we can't help further.

[2019-04-22 20:36] #7917 closed

[2019-04-22 20:41] izolan56 commented on #7917
What is the difference  between "This repository is for the add-ons
website"  and " not individual add-ons"? . What I want to get is the ADD-ON
for FIREFOX which runs on PC.

On Mon, Apr 22, 2019 at 1:36 PM Jorge Villalobos <notifications@github.com>
wrote:

--
"You can't run an economy where the financial sector is making 40 percent
of the profits."

   former Fed Chairman Paul Volcker 2009

[2019-04-22 22:03] jvillalobos commented on #7917
It means this repo tracks development of the website code, not what the developers publish on it. It's up to the developer to resolve the pending review issues and get their page working again.

[2019-04-22 22:29] izolan56 commented on #7917
ok. I got it.  I have to contact https://zoom.us/ and   ask them to fix the
add-on. Right?

On Mon, Apr 22, 2019 at 3:03 PM Jorge Villalobos <notifications@github.com>
wrote:

--
"You can't run an economy where the financial sector is making 40 percent
of the profits."

   former Fed Chairman Paul Volcker 2009

[2019-04-22 22:45] kabo opened #7924 "Dissenter Blue missing"
### Describe the problem and steps to reproduce it:

I added Dissenter Blue (which was made to comply with Mozilla's policies) to my collection (https://addons.mozilla.org/en-US/firefox/collections/). Now it's not there anymore. If I use a link (https://addons.mozilla.org/en-US/firefox/addon/dissenter-blue-extension/) it's not there.

### What happened?

Yeah, that's what I'd like to know :)

###

[2019-04-22 22:49] jvillalobos commented on #7924
The extension does not comply with Mozilla’s Acceptable Use Policy (https://www.mozilla.org/about/legal/acceptable-use/) and is not suitable for being listed, so it was removed (same as the original Dissenter extension).

[2019-04-22 22:49] #7924 closed

[2019-04-23 00:45] derricknyakundi opened #7925 "cannot find the add on"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-23 00:45] derricknyakundi commented on #7925
I cannot find the add on

[2019-04-23 09:33] #7925 closed

[2019-04-23 09:54] eviljeff commented on #7908
pre-60.0 is certainly unsupported for Firefox and AMO, but regardless, if there's a **valid*** URL that Thunderbird is accessing that AMO is incorrectly handing we can add a redirect, but we need the URL first because from our side we already think we have all appropriate redirects in place.

* https://addons.mozilla.org/en-US/firefox/thunderbird/dictionaries/ is not valid - but presumably there w

[2019-04-23 16:56] hackoff commented on #7876
Hi, i recently got know that gab fotked their own version of browser based
on Brave. You can give it a try

---------- Původní zpráva ----------
Od: Wolfgang Brehm
Datum: 12. 4. 2019 v 09:09:27
Předmět: Re: [mozilla/addons-frontend] delted dissenter. i am so
disappointed by mozilla (#7876)

I was under the impression firefox stood for my freedoms, but it does not.
Any recommendations for a browser

[2019-04-23 19:50] devaneymoz opened #7928 "2 May homepage programming"
For the **2 May** push, please update homepage programming to reflect details [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @bobsilverberg

[2019-04-24 08:09] willdurand commented on #7928
We do not have a push on May 2nd IIRC, so I guess that will be for May 9th?

[2019-04-24 13:46] #7916 closed

[2019-04-24 14:00] #7604 closed

[2019-04-24 14:12] #7913 closed

[2019-04-24 23:50] tchaffee opened #7931 "The link for Amazon sendtokindle doesn't work."
### Describe the problem and steps to reproduce it:

This page on Amazon has a link to sendtokindle which doesn't work:

https://www.amazon.com/gp/sendtokindle/firefox

### What happened?

It says "Oops! We can’t find that page"

### What did you expect to happen?

For it show the page for the addon.

### Anything else we should know?

The addon link is: https://addons.mozilla.org/en-US/firefox/ad

[2019-04-25 06:48] ioanarusiczki commented on #7830
@willdurand Moved this for the next push.

[2019-04-25 10:13] willdurand commented on #7880
poke @ioanarusiczki

[2019-04-25 10:18] willdurand commented on #7012
Looks like it is fixed, probably because of recent lib upgrades.

[2019-04-25 10:18] #7012 closed

[2019-04-25 17:29] jvillalobos commented on #7931
The page is no longer available because the add-on doesn't work on current versions of Firefox. It looks like Amazon should take that page or link down.

[2019-04-25 17:29] #7931 closed

[2019-04-25 19:16] devaneymoz commented on #7928
@willdurand No problem to push this back. Thanks for the update.

[2019-04-26 11:03] TherealDarkelegance opened #7935 "It will not show me my theme collection"
### Describe the problem and steps to reproduce it:

I started a new theme collection and it wont allow me to view or access it. It allows me to add to it but not access the collection

### I get an error window saying something is wrong. Then gives a selection of things to do including filing this ticket

### that when I click view collection, Id get to VIEW THE COLLECTION

### Anything else we s

[2019-04-26 16:13] jvillalobos commented on #7935
Can you post the link to the collection?

[2019-04-26 18:09] TherealDarkelegance commented on #7935
How can I if it keep saying I can't view it???
That is literally the problem

________________________________
From: Jorge Villalobos <notifications@github.com>
Sent: 26 April 2019 17:13:53
To: mozilla/addons-frontend
Cc: TherealDarkelegance; Author
Subject: Re: [mozilla/addons-frontend] It will not show me my theme collection (#7935)

Can you post the link to the collection?

—
You are receiving

[2019-04-27 18:05] nndtcf opened #7938 "password exporter"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-27 22:13] #7938 closed

[2019-04-27 23:03] Manuelctr opened #7939 "Plis"
Actualiza tu extensión para Firefox Quantum por favor :(

Update your extension for Firefox Quantum please :(

[2019-04-27 23:04] #7939 closed

[2019-04-29 06:25] rahilkumar228 opened #7944 "filing an issue. T"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-29 06:26] rahilkumar228 commented on #7944
Autofill Forms is not install at Mozilla Firefox

[2019-04-29 06:26] rahilkumar228 opened #7945 "Autofill Forms is not install at Mozilla Firefox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-29 08:50] #7945 closed

[2019-04-29 08:51] wagnerand commented on #7944
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-04-29 08:51] #7944 closed

[2019-04-29 09:09] ifth opened #7946 "The firefox add on page is not found"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-29 09:42] #7946 closed

[2019-04-29 12:09] ksrinivasdevops commented on #3873
Phrase Highlighter  addons in Mozilla Firefox is not working . with the new version these addon is not available any alternate for this

[2019-04-29 12:11] ksrinivasdevops opened #7947 "Phrase Highlighter addons in Mozilla Firefox is not"
### Describe the problem and steps to reproduce it: **Phrase Highlighte**r  add-ons in Mozilla Firefox is not working

### With the new version of Mozilla these add-ons are not in the list?

### What did you expect to happen?

### Anything else we should know?

[2019-04-29 13:00] wagnerand commented on #3873
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-04-29 13:00] #3873 closed

[2019-04-29 13:03] #7947 closed

[2019-04-29 16:55] jvillalobos commented on #7935
The URL of the page where you see the error message might be helpful

[2019-04-29 17:26] bobsilverberg commented on #7793
@jvillalobos Do we want to show recommended status (e.g., a tiny badge) in autocomplete results (i.e., what you see when you use the search box - see example below).

![Screenshot 2019-04-29 13 25 24](https://user-images.githubusercontent.com/142755/56914527-52dcb700-6a82-11e9-802d-bab71932087f.png)

[2019-04-29 17:31] bobsilverberg commented on #7794
@jvillalobos The PRD doesn't discuss the "all versions" page. Some questions:
1. Should there be any badging on the all versions page?
2. If so, would we have one badge at the top of the page for the add-on if it is currently recommended, or one badge per version which shows which versions were recommended?
3. If we want to show it per version, would we want to badge an old version that *was* reco

[2019-04-29 17:39] jvillalobos commented on #7793
It'd be nice to show the badge there, yes. @brassy-, thoughts?

[2019-04-29 17:48] jvillalobos commented on #7794
No need to add badges to this page.

[2019-04-29 17:53] bobsilverberg commented on #7794
Thanks @jvillalobos

[2019-04-30 02:58] sparky1 opened #7949 "yslow"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-30 02:59] sparky1 opened #7950 "I can't find the extesion of yslow, has it been removed?"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-04-30 08:15] #7949 closed

[2019-04-30 08:16] EnTeQuAk commented on #7950
Hi, this is an intended consequence of the [removal of legacy add-ons from AMO](https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/).

All versions of this add-on were disabled because they were legacy and hasn't been updated in a long time. This causes the add-on to be considered incomplete, and that's why you're seeing the error.

Please check [discourse.moz

[2019-04-30 08:16] #7950 closed

[2019-04-30 08:50] ioanarusiczki commented on #7830
@willdurand Verified on AMO dev - FF66(Win10)
Probably the same should follow for the dev hub links to EW https://github.com/mozilla/addons-server/issues/11099

![ew dev](https://user-images.githubusercontent.com/33448286/56950405-11114680-6b3e-11e9-8db4-11a5bb5ce3b9.gif)

[2019-04-30 09:42] ioanarusiczki commented on #7913
@willdurand I checked this with other addons on stage and prod - FF66(Win10) but I could not reproduce the issue.
The default text is "Custom License" when editing as a developer from dev hub. If I delete it and try to save changes "Custom License" automatically reapers.
Perhaps for https://addons.allizom.org/en-US/firefox/addon/peasshee-hedder-swallamelo/versions/  the "an identified license" was

[2019-04-30 11:38] ioanarusiczki opened #7951 "Correct "characters" in "character" for the search suggestion tooltip"
The (you are currently using 2 characters) use case is no longer applicable so the plural can go

STR:
1. Load AMO dev any type in a char then hover over the search box and observe the text visible in the tooltip

Expected result:
Please use at least 2 characters (you are currently using 1 character).

Actual result:
Please use at least 2 characters (you are currently using 1 characters).

Notes:

[2019-04-30 11:41] ioanarusiczki commented on #7604
@willdurand Search suggestions begin when 2 chars are typed in instead of 3 (as it used to be).
I filed a minor followup issue for the tooltip - https://github.com/mozilla/addons-frontend/issues/7604

dev versus prod

![dev versus prod](https://user-images.githubusercontent.com/33448286/56959386-ee8b2780-6b55-11e9-93d6-bb9ea52bac85.gif)

[2019-05-01 16:11] #7928 closed

[2019-05-02 03:09] JcChimjj opened #7955 "桌面修正"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-02 03:11] JcChimjj commented on #7955
#7955

[2019-05-02 08:32] #7955 closed

[2019-05-02 09:02] willdurand commented on #7913
This only works when the add-on does not have a licence name set. This is for very old add-ons and we manually changed the test add-ons using a SQL query to reproduce this issue. It's not possible to "unset" a license name anymore (_via_ Dev Hub or any other tool).

[2019-05-02 09:09] #7074 closed

[2019-05-02 09:14] #7912 closed

[2019-05-02 11:58] daniel20002019 opened #7956 "linkchecker"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-02 12:11] #7956 closed

[2019-05-02 13:05] vcarciu commented on #7913
Verified as fixed for https://addons.allizom.org/en-US/firefox/addon/peasshee-hedder-swallamelo/versions/ :
![custom](https://user-images.githubusercontent.com/1583842/57077192-12846f80-6cf4-11e9-86e1-66143b539560.png)

[2019-05-02 13:08] vcarciu commented on #7912
Verified as fixed for https://addons-dev.allizom.org/en-US/firefox/addon/gormine-dolphille-crant/ :
![custom2](https://user-images.githubusercontent.com/1583842/57077320-6ee78f00-6cf4-11e9-9f29-e264014e7e4f.png)

[2019-05-02 13:09] vcarciu commented on #7909
Verified as fixed in prod.

[2019-05-02 17:39] bobsilverberg opened #7957 "Create a RecommendedBadge component"
Supports #7794

Create a component that will display the "Recommended" badge.

Note that I started by trying to alter the existing [`Badge`](https://github.com/mozilla/addons-frontend/blob/2019.04.25/src/ui/components/Badge/index.js) component to support the Recommended Badge, but there seem to be enough differences that it makes more sense to just create a unique component for this.

[2019-05-02 18:11] bobsilverberg commented on #7794
@brassy- I tried to ping you on Slack, but I figured I'd try here as well. I need access to some of these assets, such as the Recommended icon. I tried to figure out how to extract them from InVision, but failed. Would you be able to help me out with this? Thanks!

[2019-05-02 20:00] jvillalobos opened #7960 "Remove Featured Extension badge"
When we start showing the Recommended badge, we will no longer need the Featured Extension badge. ~~We'll still need the Featured Theme badge, however.~~

Updating this issue to include removal of the `enableFeatureRecommendedBadges` flag. Now that recommended badges have been enabled in production for some time, we can remove all of the code that deals with this flag.

For QA:

There should be no

[2019-05-02 20:12] bobsilverberg opened #7961 "Update link from Recommended Badge to point to correct SUMO article"
The Recommended Badge, which is slated to land in #7958, is meant to link to a SUMO article, but that article has not been created yet. For now the badge, which will be hidden behind a flag for the foreseeable future, just links to the SUMO home page.

This issue is about updating the link to point to the appropriate place.

cc @devaneymoz as I think he might be in a position to update this issue

[2019-05-02 22:40] bqbn opened #7962 "500 error when accessing "/fi/firefox/tag/prefs.js""
**For QA:** URLs like `/fi/firefox/tag/prefs.js` should return a 404 in -dev and -stage. CDN domains are listed below (see: https://github.com/mozilla/addons-frontend/issues/7962#issuecomment-514283933).

---

### Describe the problem and steps to reproduce it:

We see a bunch 500 errors when `/fi/firefox/tag/prefs.js` endpoint is accessed.

Is this something that can be fixed?

### What happened?

[2019-05-03 09:10] muffinresearch opened #7963 "Handle Fenix compatibility once it's possible to distinguish Fenix from Fennec"
Original discussion is here https://github.com/mozilla-mobile/fenix/issues/1134 and the implementation is being discussed in https://bugzilla.mozilla.org/show_bug.cgi?id=1548428

Once a fix lands we'll need to see about updating our compat checks to make sure this works.

[2019-05-03 16:11] willdurand commented on #7962
I am not able to reproduce the 500 errors with the URLs pasted above :(

[2019-05-03 19:54] yfdyh000 opened #7965 "Hard to update an installed extension to specific versions"
The site provides a "Remove" button when an extension is installed, this makes its versions history page and download buttons less useful. I have to right-click to copy the xpi URL, then paste and open it to install a specific older (or newer) extension version for troubleshooting.

[2019-05-03 21:00] bobsilverberg commented on #7957
Here's a screenshot of the badge from the latest iteration of the InVision prototype:

<img width="695" alt="Screenshot 2019-05-03 16 59 36" src="https://user-images.githubusercontent.com/142755/57165370-e1c03b00-6dc4-11e9-832f-39fed8f49954.png">

[2019-05-04 02:35] FDNY8231 opened #7966 "All my addons except ONE have been set to LEGACY"
Hi,
Using Firefox Version 67.0 64 bit on Windows 10

All my addons worked perfectly until a few minutes ago when I got a popup on the screen(didn't save) saying that some of my addons are no longer supported by Firefox. These have been added to a section called legacy extensions. Only ONE of my addons survived the axe. I am familiar with the fact that after version 57 some addons were not approved

[2019-05-04 03:29] caitmuenster commented on #7966
Hey there! This sounds related to a certificate issue that is currently ongoing. The team is currently working on a fix and we'll be providing updates on this thread: https://discourse.mozilla.org/t/certificate-issue-causing-add-ons-to-be-disabled-or-fail-to-install/39047

[2019-05-04 03:51] creidhne opened #7967 "All extentions marked as legacy"
Soon after updating to 66.0.3, all extensions were marked as legacy and will not load from addons.mozilla.org or any other source. The problem occurred immediately after visiting www.upi.com.

### What happened?
All extensions worked after update, but suddenly were marked as legacy after visiting www.upi.com.
Extension/Version
ADB Helper/0.12.1
Adblock Plus/3.5.2
Cookie AutoDelete/3.0.2
Cookie Man

[2019-05-04 04:03] caitmuenster commented on #7967
Thanks @creidhne, this is due to a certificate issue. The team is working on a fix and we'll be providing updates on this thread: https://discourse.mozilla.org/t/certificate-issue-causing-add-ons-to-be-disabled-or-fail-to-install/39047/4

[2019-05-04 05:12] BeingAngry opened #7968 "I lost all my thumbnails in superstart. I want to know how to get them back. Please send instructions"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-04 05:15] yemanaung opened #7969 "Support and protect issues"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-04 05:21] caitmuenster commented on #7968
Hi there! This is due to a security issue. Our team is currently working on a fix. You can follow this thread for updates: https://discourse.mozilla.org/t/certificate-issue-causing-add-ons-to-be-disabled-or-fail-to-install/39047

[2019-05-04 05:21] #7968 closed

[2019-05-04 05:21] #7969 closed

[2019-05-04 06:50] Sidebottom1 opened #7970 "Can't access Collections"
### Describe the problem and steps to reproduce it:

### What happened?
Out of nowhere, while using Firefox normally, my theme suddenly disabled itself and all my themes but one that I barely use anymore have been labeled as "could not be verified for use in firefox and has been disabled" so I looked up some info again about the retirement notification of persona plus where I got all my themes fro

[2019-05-04 07:01] Sidebottom1 commented on #7970
It seems there's just a global issue right now with 95%ish of all firefox certificates.  Hopefully the theme and my other addons which also seem to have broken will be fixed when the certificate issue is fixed, but I don't think that explains why the collections isn't working.  Time will tell

[2019-05-04 07:07] smayer97 commented on #7967
What makes NO SENSE is for installed addons to be disabled. This should NEVER be.

So not only should this certificate issue be addressed, once the dust settles, someone needs to fix this model so that install addons are never automatically disabled. If there is a change in status, users could be warned BUT NOT AUTOMATICALLY disable addons.

[2019-05-04 09:01] #7966 closed

[2019-05-04 09:12] wagnerand commented on #7970
This is due to a certificate issue. Our team is currently working on a fix and we'll be providing updates on this thread: https://discourse.mozilla.org/t/certificate-issue-causing-add-ons-to-be-disabled-or-fail-to-install/39047/4

[2019-05-04 09:12] #7970 closed

[2019-05-04 09:12] #7967 closed

[2019-05-04 13:32] Nawakwa opened #7971 "All firefox themes and add ons are suddenly broken and unusable."
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-04 13:34] Nawakwa commented on #7971
All firefox themes and add ons are suddenly broken and unusable. I was watching a vid on Netflix when my browser suddenly lost its theme and a note appeared saying that some add ons are no longer supported by firefox. I don't care about add ons as much as I do themes. I tried to get a new theme, but every single one I click on leaves me with a red error note saying that the download failed and tha

[2019-05-04 13:34] Nawakwa commented on #7971
![image](https://user-images.githubusercontent.com/50267345/57179799-0a851680-6e3f-11e9-8b65-b43f8132694e.png)

[2019-05-04 13:35] Nawakwa commented on #7971
![image](https://user-images.githubusercontent.com/50267345/57179804-24bef480-6e3f-11e9-9d70-611c06f95287.png)

[2019-05-04 13:39] wagnerand commented on #7971
We rolled-out a fix for release, beta and nightly users. The fix will be automatically applied in the background within the next few hours, you don’t need to take active steps.

In order to be able to provide this fix on short notice, we are using the Studies system. You can check if you have studies enabled by going to Firefox Preferences -> Privacy & Security -> Allow Firefox to install and run

[2019-05-04 13:39] #7971 closed

[2019-05-04 20:07] oneeyedfranc opened #7972 "Add-on Download Attempt"
### Describe the problem and steps to reproduce it:

When attempting to replace the firefox add-ons that were deleted by yesterday's bug, i got the following msg:  "The add-on downloaded from this site could not be installed because it appears to be corrupt."   This was repeated for the following add-ons:  Ghostery, AdBlock Plus, UBlock, NoScript.
![Add-on Download Attempt](https://user-images.git

[2019-05-04 21:55] wagnerand commented on #7972
Hi there, this is related to https://github.com/mozilla/addons/issues/1013. We have a temporary hotfix via our Studies program and are working on a more permanent fix. For more info please see https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

[2019-05-04 21:55] #7972 closed

[2019-05-04 23:37] JoelleEmmily opened #7973 "Firefox Addons will not install, error reports file as corrupt."
### Describe the problem and steps to reproduce it:

Firefox Addons will not install, error reports file as corrupt.

### What happened?
Previous install of addon ceased functioning. Performed an uninstall/reinstall, install failed. Repeated on other addons which have also stopped functioning.
### What did you expect to happen?
For the highly popular addon to work as described.
### Anything else w

[2019-05-04 23:38] JoelleEmmily commented on #7973
Issue has resolved itself, likely server related.

[2019-05-04 23:38] #7973 closed

[2019-05-04 23:40] caitmuenster commented on #7973
Thanks for checking in, @JoelleEmmily! This is related to an issue of an expired certificate. Glad that you've got the hotfix deployed; if anyone else comes across this issue, please refer to https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/ for updates.

[2019-05-05 00:44] oneeyedfranc commented on #7972
i'm not a coder, am barely functional when it comes to computers.  would u
mind boiling down what i need to do to be able to reinstall my add-ons?  or
let me know that i'm fucked and need to stop using firefox?

On Sat, May 4, 2019 at 9:55 PM Andreas Wagner <notifications@github.com>
wrote:

[2019-05-05 02:53] caitmuenster commented on #7972
Hey @oneeyedfranc, we're not quite up and running yet. Please follow the instructions on https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/ to get the temporary fix working (I promise no coding is required!).

[2019-05-05 04:16] qetuowryip opened #7974 "FUCK YOU about new update with add-on"
FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU     FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU  FUCK YOU

What are you doing this mental retardation?
After the update, all add-ons can't be used.
The whole firefox becomes super hard to use
Why do you want to make

[2019-05-05 04:20] caitmuenster commented on #7974
This is due to a certificate expiration and you can follow progress updates on our blog: https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/  Also, we don't allow abuse like this on our repos.

[2019-05-05 04:20] #7974 closed

[2019-05-05 04:35] qetuowryip opened #7975 "Why do you want to make this update without notifying the user in advance and let the user choose whether to update?"
What are you doing this mental retardation?
After the update, all add-ons can't be used.
The whole firefox becomes super hard to use
Why do you want to make this update without notifying the user in advance and let the user choose whether to update?

Your mentally retarded development team
Do you think your firefox is very useful?
Firefox without add-on is almost the same as shit

Did you notify a

[2019-05-05 04:49] #7975 closed

[2019-05-05 08:15] AssassinTR opened #7976 "Addon Problem"
### Describe the problem and steps to reproduce it:

### What happened? My addons are disabled

### What did you expect to happen? I think Firefox have update and Addons version is older. I probably go to addon center and download new version but If I make this I got the download error

### Anything else we should know? I am Turkish my English is not good If I make grammer mistake. I am sorry

![r

[2019-05-05 08:23] wagnerand commented on #7976
Hi there, this is related to #1013. We have a temporary hotfix via our Studies program and are working on a more permanent fix. For more info please see blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox

[2019-05-05 08:23] #7976 closed

[2019-05-05 11:11] phil1525 opened #7977 "Accès Collection Personelle Impossible"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-05 11:14] phil1525 commented on #7977
I can not access my personal collection.
Error message: Unable to access the server.
"An error has unfortunately occurred on our server and we were unable to respond to your request, we recorded this error and will analyze it."

[2019-05-05 13:16] AdityaSrivast commented on #7951
@ioanarusiczki I would like to work on this issue. Can I take it up?

[2019-05-06 01:34] gaturro74 opened #7980 "no script"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-06 04:49] cpeterso commented on #7963
The Fenix and GV teams are considering three options at this time:
* Fenix 68 will spoof version 69 on AMO and SUMO. (Versions >= 69 is unambiguously not Fennec.)
* Fenix 68 will spoof a special version like "68.0.99" on AMO and SUMO. (This avoids unknown issues from pretending to be a different major version.)
* Or do nothing because Fennec 68 and Fenix 68 will overlap for only 6–8 weeks with a p

[2019-05-06 07:35] EnTeQuAk commented on #7980
Given the timing, I assume your issue is about your add-on being disabled. For more info please see https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox

[2019-05-06 07:35] #7980 closed

[2019-05-06 08:55] AlexTalker opened #7981 "Suggest older versions if current is not supported"
### Describe the problem and steps to reproduce it:
Since all this events with broken signing I decided to downgrade by `Firefox` on `ESR` version.
Unfortunately, when I came to `Tree Style Tab` add-on page, it told me that version `65` is required for this add-on and suggested to upgrade. Now, if you use `ESR` or do not want to upgrade yet, you might want to look for an older version. But link to

[2019-05-06 08:57] willdurand commented on #7951
@AdityaSrivast go for it!

[2019-05-06 09:59] willdurand commented on #7977
Hi @phil1525, could you please tell me if the error messages you received were exactly the messages you quoted? Or is that translated from French, maybe? I am asking because I can't find these strings in our codebase..

Could you please paste the exact message or a screenshot? French is OK (I speak french).

[2019-05-06 12:22] Mah-Rukh opened #7983 "unable to download selenium builder"
Unable to download selenium builder with firefox version 38.

If there is an alternative URL, kindly provide it.

[2019-05-06 13:12] wagnerand commented on #7983
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-05-06 13:12] #7983 closed

[2019-05-06 14:18] willdurand commented on #7981
cc @jvillalobos and @pwalm

[2019-05-06 17:05] bobsilverberg commented on #7957
@MeridelW Can you confirm what the text should be when hovering over the recommended badge? I've looked through some of the docs about this, but I'm not sure of the final decision. I currently have "Recommended extensions are safe, high-quality extensions."

[2019-05-06 17:51] jvillalobos commented on #7981
We covered this topic in https://github.com/mozilla/addons-server/issues/5482 a while ago, and I think the reasons it's not practical haven't changed. /cc @diox for confirmation

[2019-05-06 18:12] devaneymoz commented on #7957
@bobsilverberg - @MeridelW is on parental leave. In her absence I'd like to propose different copy (because the current version seems to state unequivocally that Recommended extensions are "safe" and nowhere else are we making that definitive claim).

I've discussed with @jorgev and and he's also okay with the following: "Recommended extensions are vetted for exceptional security and performance."

[2019-05-06 18:17] bobsilverberg commented on #7957
Thanks @devaneymoz. I'll go with "Recommended extensions are vetted for exceptional security and performance." for now.

[2019-05-06 18:31] AlexTalker commented on #7981
@jvillalobos Well, stylistically, the notification about incompatible version already looks as hell of a warning, so I think adding extra line to it won't do much harm. At least for certain versions(like ESR) where update is rare.

[2019-05-06 19:42] jvillalobos opened #7985 "Connection error appears when add-on signature fails"
The incident from last weekend revealed that AMO doesn't show an accurate error message if an add-on fails to install because of a signature failure. The error currently shown is

This is inaccurate and misleading, since Firefox did download and process the file, but couldn't check the signature. I'm filing this issue to investigate whether Firefox returns anything useful for whatever installation

[2019-05-06 23:04] mrj commented on #4082
Published my add-on. Spam flood began soon after. Yes to JavaScript email encoding.

[2019-05-07 08:35] muffinresearch commented on #7985
@jvillalobos looks like the event we're listening to that provides this message is `onDownloadFailed` see https://github.com/mozilla/addons-frontend/blob/924677b08d3b431153d11b995636751bd319188e/src/core/installAddon.js#L133

I think we'll need to file a upstream bug in bugzilla for this and then update here to listen to a more specific event for this case.

[2019-05-07 11:08] diox commented on #7981
Displaying the exact version that would be best compatible is costly in the add-on detail API, but the current notification could be reworded to suggest looking at older versions of the add-on or the design by updated to make it more obvious that this is possible. Obviously a product/ux decision though.

[2019-05-07 14:36] #7957 closed

[2019-05-07 14:46] bobsilverberg opened #7986 "Change colors of recommended badge"
This is a follow-up to #7958.

@brassy-, we landed the first iteration of the recommended badge, using some  [Firefox Orange](https://design.firefox.com/photon/visuals/color.html#orange) colors. We wanted to use photon colors, but I notice in the style guide that it says "Firefox Orange is only used for branding. Do not use it otherwise.", so maybe these need to change.

I'm currently using `Orang

[2019-05-07 15:02] bobsilverberg commented on #7794
Here's the latest mockup from InVision:

<img width="715" alt="Screenshot 2019-05-07 11 01 46" src="https://user-images.githubusercontent.com/142755/57310298-88ebed80-70b7-11e9-8e86-ae6e75b01e4d.png">

[2019-05-07 17:24] cup commented on #7972
https://github.com/mozilla/addons/issues/1023
https://github.com/mozilla/addons/issues/1025

https://github.com/mozilla/addons-frontend/issues/7972

[2019-05-07 17:27] cup commented on #7972
as the hotfix requires submitting to an invasion of privacy, and the permanent
fix was only pushed for version 66 and 60, here is a fix for other versions:

https://support.mozilla.org/questions/1258165#answer-1218833

[2019-05-07 17:29] wagnerand commented on #7972
Please do not use unofficial workarounds from untrusted sources! They can have unintended or untested side-effects or could make things even worse. (Some already have, actually.)

[2019-05-07 17:32] jvillalobos commented on #7985
Thanks, it was filed already: https://bugzilla.mozilla.org/show_bug.cgi?id=1549704

[2019-05-07 18:38] bobsilverberg commented on #7793
Here's the most recent InVision prototype for the search results:

<img width="704" alt="Screenshot 2019-05-07 14 38 16" src="https://user-images.githubusercontent.com/142755/57324422-c65f7380-70d5-11e9-84c3-e2edb14aa0fc.png">

[2019-05-07 22:24] mheubusch commented on #7957
I think vetted is a fancy word, and I don't know that "exceptional" is meaningful in the context of security and performance. I'd say:  This extension passed a security and performance review. OR Firefox only recommends extensions that meet our standards for security and performance.

[2019-05-07 22:32] devaneymoz commented on #7957
Thanks for jumping in @mheubusch!

Of the two options you provided I think the second one is closest to capturing the essence of the program, but is it too long for hover text? @bobsilverberg would this length of copy look alright in a hover state?

"Firefox only recommends extensions that meet our standards for security and performance."

[2019-05-08 02:53] nehamshimpi opened #7990 "firebug"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-08 07:05] #7990 closed

[2019-05-08 14:56] mheubusch commented on #7957
If too long, maybe "This extension meets Firefox standards for security and performance."

[2019-05-08 15:54] #7794 closed

[2019-05-08 16:36] GlenCooper opened #7992 "broken link"
### Describe the problem and steps to reproduce it:
When viewing page http://kb.mozillazine.org/Profile_Manager#Accessing_the_Profile_Manager, if you scroll down to the External Links section, when you click on the "Open Profile Folder extension" hyperlink, it sends that click to https://addons.mozilla.org/firefox/545, which is 404'ed.

### What happened?
404

### What did you expect to happen?
fi

[2019-05-08 17:49] bobsilverberg commented on #7957
The browser will deal with any length of hover text, but wrapping it and placing it wherever it can, so it's technically not too long. I'm not sure what sort of UX standards exist for the length of hover text.

I will update the hover text to "Firefox only recommends extensions that meet our standards for security and performance." for now, and we can always change it later if we need to.

[2019-05-08 17:50] bobsilverberg opened #7993 "Update hover text for RecommendedBadge component"
As per https://github.com/mozilla/addons-frontend/issues/7957#issuecomment-490584381, the hover text should read:

"Firefox only recommends extensions that meet our standards for security and performance."

[2019-05-08 17:56] jvillalobos commented on #7992
Mozillazine is not a Mozilla property. Please report this problem to them.

[2019-05-08 17:56] #7992 closed

[2019-05-08 18:11] arnavvats commented on #7951
Hi, investigated this. Turns out this is a bug in firefox. The tooltip shows differently in chrome.
We can add novalidate to the search input, and suppress the tooltip and add a custom tooltip.
What should be our approach here? I would like to fix this issue.
<img width="378" alt="Screenshot 2019-05-08 at 11 40 16 PM" src="https://user-images.githubusercontent.com/26125232/57397624-c56c3600-71ea-1

[2019-05-08 19:18] arnavvats commented on #5575
Hi, I'd like to take up the issue.

[2019-05-08 19:22] willdurand commented on #5575
@arnavvats go for it!

[2019-05-08 19:36] kumar303 commented on #7951
I don't think it's worth adding a custom tooltip just to workaround this bug. Could someone please file a Firefox bug about this? https://bugzilla.mozilla.org/enter_bug.cgi?product=Toolkit&component=Form%20Manager

[2019-05-08 20:34] #7993 closed

[2019-05-08 20:46] bqbn commented on #7962
It turns out the 500 comes from `addons.cdn.mozilla.net`, the site that hosts the static assets and user-uploaded contents.

[code]

Should this ticket be moved to addons-server repo then?

[2019-05-09 09:39] ioanarusiczki commented on #7928
@willdurand Shelves were updated on AMO dev and stage. - FF66(Win10).
Final validation, on prod.

[2019-05-09 09:57] willdurand commented on #7962
whoa, I did not know addons-server was acting as a CDN too. This project does everything, heh. I think we should move this issue to addons-server indeed.

[2019-05-09 11:41] bobsilverberg opened #7995 "Only show recommended badge for extensions"
This is a follow-up to #7794.

As discussed in IRC, the recommended badge doesn't look great for themes, and we have no current intention to use it for themes, so let's only ever show it for extensions, for now.

[2019-05-09 11:50] Luis06600 commented on #7271
Bonjour.
La page de S3.Translator est inaccessible et donc impossible d'installer l'extension du traducteur S3 dans Mozilla  
Je précise que c'est le meilleur et plus pratique traducteur.
Merci aux développeurs de Firefox de nous permettre à nouveau d'installer cette extension.

[2019-05-09 13:17] #7995 closed

[2019-05-09 13:38] brassy- commented on #7793
Considering how condesended the list, I recommend to the badge at opposite of the name
Like this:
![image](https://user-images.githubusercontent.com/6309827/57457773-6c46e580-7270-11e9-80e5-63ea51101171.png)

[2019-05-09 13:41] brassy- commented on #7986
Considering future changing, it's ok to use the color orange here.

Please, always use `Orange 80` for the label for accessibility.

Default: `Orange 50`
Active/hover/focus: `Orange 60`

Thank you

[2019-05-09 13:45] bobsilverberg commented on #7986
Sorry, I'm not sure what this means.

[2019-05-09 13:53] brassy- commented on #7986
The word `Recommended` uses `Orange 80` .

[2019-05-09 14:20] willdurand commented on #7793
@brassy- 👋

We would have to hide the recommended icon when the mouse hovers a suggested item because, on hover/active/focus, we render a little arrow:

![Screen Shot 2019-05-09 at 16 18 50](https://user-images.githubusercontent.com/217628/57460884-3e649f80-7276-11e9-83ec-2c7fd6a264fb.png)

Would that work for you?

[2019-05-09 14:23] brassy- commented on #7793
It works for me — and it creates a sort of animation which can help catching attention.

[2019-05-09 14:40] willdurand commented on #7962
Sentry logs here: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/5328593/?query=is:unresolved

[2019-05-09 14:49] willdurand commented on #7962
It looks like a nginx misconfiguration because this path `/{locale}/firefox/tag/pref.js` should not be passed to addons-server but to the frontend. Could it be that the `.js` at the end makes nginx think it is an asset served by addons-server?

[2019-05-09 14:50] willdurand commented on #7935
I am closing this issue for now until we can have more information (we can reopen the issue once we have more info). There is nothing we can do for now.

[2019-05-09 14:50] #7935 closed

[2019-05-09 14:59] eviljeff commented on #7962
https://addons.cdn.mozilla.net/fi/firefox/tag/prefs.js is indeed throwing a addons-server 500 page, but it's because that url should have been passed to frontend via nginx (the /firefox/ views no longer exist on addons-server).  Is the CDN doing a redirect that bypasses the normal nginx rules?  https://addons.mozilla.org/fi/firefox/tag/prefs.js is correctly passed to frontend.

[2019-05-09 15:20] ioanarusiczki commented on #7074
No regressions found.
Verified on AMO stage - FF66(Win10 & Android 8.0).

[2019-05-09 15:53] osamta290 opened #7997 "S3.Google Translator"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-09 15:59] #7997 closed

[2019-05-09 16:20] TherealDarkelegance commented on #7935
I sent you the link he requested.
As stated, I add the themes to collection but it's not allowing me to view any of the themes! Now after I told him I really enjoyed my theme and didn't wish to lose it, it's wiped clean from my browser!

And you're telling me you aren't going to do anything??

________________________________
From: William Durand <notifications@github.com>
Sent: 09 May 2019 15:50:

[2019-05-09 17:08] bobsilverberg commented on #7986
For reference, the new prototype is available at: https://mozilla.invisionapp.com/d/main#/console/16890313/351565696/preview, and looks like this:

<img width="706" alt="Screenshot 2019-05-09 13 08 23" src="https://user-images.githubusercontent.com/142755/57472497-8fb36580-725b-11e9-97c6-262602e66110.png">

[2019-05-09 17:11] madalincm opened #7998 "User profile lets you enter broken HTML"
Steps to reproduce:
1. Open edit profile page
2. Add the following in the bio:
[code]
3. Save and observe the user bio

Expected results:
The page should warn you that you entered broken HTML

Actual results:
The ordered list is not correctly aligned
The unordered list is missing the bullets

Notes:
Verified in FF68(Win10)x64 Issue can be reproduced in amo-prod
Screenshot for this issue:
![ListBio

[2019-05-09 17:31] kumar303 commented on #7998
I'm not sure if there's much we can do about broken HTML (we should probably warn about it, though).

Can you try it again with valid HTML? Like this:

[code]

[2019-05-09 17:39] kumar303 commented on #7998
I updated the issue to make it about telling the user that they entered broken HTML. We should do this.

[2019-05-09 17:41] madalincm commented on #7998
I tried with the valid HMTL and the ordered list is displayed correctly. The unordered list still has no bullets.

[2019-05-09 17:44] kumar303 commented on #7998
Hmm, that might be on purpose. I'm not sure.

[2019-05-09 17:54] kumar303 commented on #7998
On second thought, user-entered unordered lists should definitely show bullets. Otherwise, it's not useful to put an unordered list in a bio. Can you file a separate issue?

[2019-05-09 20:19] willdurand commented on #7998
The original issue is already covered by https://github.com/mozilla/addons-server/issues/10832. There is nothing we can do to address that in addons-frontend.

[2019-05-10 05:42] yemanaung commented on #7969
Support issues permission.

[2019-05-10 06:26] suny000 opened #8001 "abaus"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-10 14:50] willdurand commented on #7935
Sorry about that. Could you maybe give us your email address so that we can look at your profile?

[2019-05-10 15:28] #7986 closed

[2019-05-10 15:42] ioanarusiczki commented on #7794
@bobsilverberg I have a question:

- The [Featured extensions ](https://addons-dev.allizom.org/en-US/firefox/search/?featured=true&type=extension)on AMO dev  shows the "Recommended" badge for an add-on only the [Awesome Screenshot PLus](https://addons-dev.allizom.org/en-US/firefox/addon/awesome-screenshot-plus-/?src=featured) . The rest of the extensions in the featured list don't even display the

[2019-05-10 16:04] TherealDarkelegance commented on #7935
I'm literally writing from it. The previous guy asked for the link that I was having issue with,  I sent it. Them my theme which I loved got wiped.  Now this.

Are you having a laugh ??

________________________________
From: William Durand <notifications@github.com>
Sent: 10 May 2019 15:50:36
To: mozilla/addons-frontend
Cc: TherealDarkelegance; Author
Subject: Re: [mozilla/addons-frontend] It wil

[2019-05-10 16:47] jvillalobos commented on #7935
I don't see the link in this thread. Can you post it again?

[2019-05-10 17:16] bobsilverberg commented on #7794
What you describe is as expected. No extensions should ever show a "featured" badge with this patch.

The recommended badge will only appear for extensions that have been explicitly marked as recommended, so yes, you will need to use the admin tools to mark an extension as recommended in order for the badge to appear.

For all intents and purposes, the "featured" flag for extensions becomes meanin

[2019-05-10 20:07] willdurand commented on #7963
@muffinresearch looks like we have a plan for Fenix https://github.com/mozilla-mobile/fenix/issues/1134#issuecomment-491412465, I'd be happy to work on this issue.

[2019-05-10 20:35] cpeterso commented on #7963
If you have any questions or concerns, just let me know. I'm hoping that any Fenix UA override will be compatible with your UA version check so you won't have to change your code again. :)

[2019-05-11 00:16] annunah opened #8002 "fronted"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-11 11:25] #8002 closed

[2019-05-11 13:55] asoknath opened #8003 "Image Collecting Button"
### Describe the problem and steps to reproduce it:
Firefox Plug-in for collecting image from other websites Not Found

Trying to access the Firefox plug-in from http://indulgy.com/do/tools
### What happened?
Firefox "can't find" the Plug-in
### What did you expect to happen?
To install a button to collect the picture dashboard page link for client to visit
### Anything else we should know?
Is the

[2019-05-11 15:50] sho510judo opened #8005 "ExHentai Easy2"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-11 16:40] JussM3 opened #8006 "Firefox Click&Clean Extension Install Fail"
### Describe the problem and steps to reproduce it:

When trying to add the following Firefox Extension from hotcleaner.com **https://www.hotcleaner.com/clickclean_firefox.html**
the response from firefox is:
"Oops! We can’t find that page

If you’ve followed a link from another site for an extension or theme, that item is no longer available. This could be because:

    The developer removed it.

[2019-05-12 12:41] xu3u4 commented on #6447
Hi @kumar303,
I found it is an interesting bug. I wish I can fix it.
But there is something I am not sure...
Please see the PR for the details 🙂

[2019-05-12 12:52] willdurand commented on #8006
It looks like this add-on is not available anymore. It could be that the extension isn't maintained by the developer or that the latest version did not pass a review. You should start by contacting the developer of this add-on, I think.

[2019-05-12 12:52] #8005 closed

[2019-05-13 13:16] ioanarusiczki commented on #7794
@bobsilverberg I will write down what I consider it needs to be clarified after testing this on AMO dev - FF66(Win10):

1. I was asking more about this because the first shelf on AMO homepage is named "Featured extensions with the [See more featured extensions](https://addons-dev.allizom.org/en-US/firefox/search/?featured=true&type=extension) blue link.

I think the name of the shelf and the "See

[2019-05-13 13:59] ioanarusiczki commented on #7995
@bobsilverberg I verified this on AMO dev - with FF66(Win10&Android 8.0).
Extension types which don't show the badge (even if I set them from admin tools -> in Discovery items + extension version page the same way I tested for https://github.com/mozilla/addons-frontend/issues/7794):
- static themes  on Windows and Android - the featured labels continue to be displayed
- dictionaries and language p

[2019-05-13 17:00] bobsilverberg commented on #7794
Thanks @ioanarusiczki. I will respond to these below:

This *is* a change that should be made, but it's not part of this issue/patch. We don't actually have an opened issue for this, so perhaps you can open one about changing the shelves on the home page?

I think this goes along with my comment above. I agree the shelves need to change, but it's not part of this issue/patch.

Same as above. Nothi

[2019-05-13 17:35] josemescud opened #8013 "He reinstalado Firefox y ya no he podido instalar S3.Translator porque ya no figura en la lista de complementos. Tengo un portatil en el que lo uso desde hace años y se actualiza sin que me lo elimine. EL link es el siguiente: http://www.s3blog.org/s3translator.html"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-13 17:36] #8013 closed

[2019-05-13 17:56] #8006 closed

[2019-05-13 17:57] jvillalobos commented on #8003
That is up to the website owner to correct. We can't do anything about it.

[2019-05-13 17:57] #8003 closed

[2019-05-13 18:09] bqbn commented on #7962
Note that under the `addons.mozilla.org` domain, even `/{locale}/firefox/tag/pref.js` is NOT passed to the frontend. Per https://github.com/mozilla/addons-frontend/issues/5047, we 301 that path to `/<locale>/search/?tag=prefs.js` at the nginx level, which then is handled by the frontend.

Now, since we're talking about `addons.cdn.mozilla.net` domain, are you suggesting that we 301 `https://addons

[2019-05-13 18:43] ttrixiracr opened #8015 "trying to tu e.g. n on wifi"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-13 18:44] ttrixiracr opened #8016 "turn on wifi"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-13 19:40] willdurand commented on #7962
yep, I also think it'd be a good idea to return a 404.

[2019-05-13 19:58] #8016 closed

[2019-05-13 19:58] #8015 closed

[2019-05-14 08:50] ioanarusiczki opened #8018 "Replace "Featured" with "Recommended" in "Featured extensions" and "See more featured extensions""
A followup for https://github.com/mozilla/addons-frontend/issues/7794
Because the extensions will no longer have a "Featured" label which will change to "Recommended"
STR:
Observe AMO homepage - the "Featured extensions" shelf and the "See more featured extensions" blue link on the right side of the screen.

Expected result:
"Recommended extensions"  and "See more recommended extensions"

Actual r

[2019-05-14 10:14] RealRaven2000 opened #8020 ""cannot update a WebExtensions add-on with a legacy add-on.""
### Describe the problem and steps to reproduce it:

I am trying to upload a bugfix for quickFilters for my ESR users and ATN won't let me now. I last week u9ploaded 2 versions - 3.12 (compatible with THunderbird 60ESR, based on install.rdf) and 3.12.1 (compatible with THunderbird 62beta - 68beta, with manifest.json).  one of my 13,000+ users found a bug, so I tried to upload a new "legacy" versio

[2019-05-14 12:56] bobsilverberg commented on #8018
@jvillalobos @devaneymoz Could you please comment on this and/or update the issue with the implementation you'd like to see.

Perhaps, because all extensions shown anywhere on the home page will be recommended (at least that's what I understand our goal to be), we can just remove the "featured" shelf entirely and not replace it with anything?

[2019-05-14 13:45] NikolayMMR opened #8022 "Не грузится..."
### What happened?

### What did you expect to happen?

### Anything else we should know?

![Screenshot_2019-05-14 Дополнения для Firefox (ru)](https://user-images.githubusercontent.com/50626400/57702845-90873580-7667-11e9-8051-e8e2c889621c.png)

[2019-05-14 15:50] kewisch commented on #8020
addons-frontend is for AMO, please resolve this on thundernest/addons-server instead.

[2019-05-14 15:50] #8020 closed

[2019-05-14 19:44] devaneymoz commented on #8018
The nomenclature cases noted here are all programmatically driven (i.e. I request what the copy and CTA's say with each. So when the Recommended Extensions program launches in June, I'll file the appropriate front end changes.

[2019-05-14 21:53] mahr48 opened #8023 "my Geotrust ssl seal does not show on my website https://elmalldelaesquina.com"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-14 22:41] jvillalobos commented on #8018
So, the homepage is updated manually on a monthly basis, but this issue is still valid for [category](https://addons.mozilla.org/firefox/extensions/download-management/) and [type](https://addons.mozilla.org/firefox/extensions/) pages. In the PRD, I mentioned that these shelves should be renamed to Recommended and should only show recommended add-ons.

[2019-05-14 22:43] #8022 closed

[2019-05-15 05:50] dha1995 opened #8024 "Selenium IDE: php formattor not found"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-15 05:51] dha1995 commented on #8024
Not showing PHP Formattor on firefox add-on

[2019-05-15 07:58] EnTeQuAk commented on #8024
Hi, this is an intended consequence of the [removal of legacy add-ons from AMO](https://blog.mozilla.org/addons/2018/08/21/timeline-for-disabling-legacy-firefox-add-ons/).

All versions of this add-on were disabled because they were legacy and hasn't been updated in a long time. This causes the add-on to be considered incomplete, and that's why you're seeing the error.

Please check [discourse.moz

[2019-05-15 07:58] #8024 closed

[2019-05-15 07:59] EnTeQuAk commented on #8023
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can as

[2019-05-15 07:59] #8023 closed

[2019-05-15 12:10] nidhomok9 opened #8026 "advanced cookie manager"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-15 12:50] RealRaven2000 commented on #8020
ok - added https://github.com/thundernest/addons-server/issues/87.

[2019-05-15 15:40] jvillalobos commented on #7951
Closing this bug in favor of fixing it in Firefox. @rpl to file the Firefox bug.

[2019-05-15 15:40] #7951 closed

[2019-05-15 15:41] jvillalobos commented on #5575
Mentor: @willdurand

[2019-05-15 15:50] jvillalobos commented on #4916
We're going with the "Homepage" label to keep things simple.

Mentor: @bobsilverberg

[2019-05-15 15:53] jvillalobos commented on #3594
@willdurand can you look into what is needed to address this issue? Is there a direct mapping from categories to colors, or are they assigned in some other way?

[2019-05-15 15:57] jvillalobos commented on #3900
Mentor: @willdurand

[2019-05-15 15:59] rpl commented on #3900
The file size is provided by the [Addon Version Detail api endpoint](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#get--api-v4-addons-addon-(int-addon_id|string-addon_slug|string-addon_guid)-versions-(int-id)-).

[2019-05-15 16:32] rpl commented on #7951
I just discussed about this with flod and the bug would be currently closed as wontfix, until [the related strings](https://dxr.mozilla.org/mozilla-central/rev/6f732caaed60783f57944a66f7ea494f5fd78d6c/dom/locales/en-US/chrome/dom/dom.properties#34-35) have been migrated to Fluent.

[2019-05-15 16:47] bobsilverberg opened #8027 "Replace "Featured" with "Recommended" in AMO Search"
Replace all references to "Featured" having to do with Search functionality to say "Recommended". This includes:
- the label for the check box in the search filters which currently says "Featured add-ons only" should be replaced with a label that says "Recommended add-ons only"
- the page title that is displayed when searching for featured add-ons which starts with the word "Featured" (e.g., "Feat

[2019-05-15 16:47] #8026 closed

[2019-05-15 16:52] bobsilverberg commented on #8018
For the [category](https://addons.mozilla.org/firefox/extensions/download-management/) and [type](https://addons.mozilla.org/firefox/extensions/) pages, do we need to replace the existing "Featured" shelf with a "Recommended" shelf? I was under the impression that any add-on appearing on any of these shelves would be recommended (because we are going to limit them to recommended add-ons), and ther

[2019-05-15 16:59] jvillalobos commented on #8018
We're keeping the Featured Extensions collection just so the link isn't broken. It will have a subset of the Recommended list, but we probably won't update it often. I would prefer that those shelves are renamed and use the Recommended list rather than the collection.

[2019-05-15 17:01] devaneymoz commented on #8018
@bobsilverberg @jvillalobos

We won't have enough Recommended extensions per all 15 categories to show four extensions in a row (or for that matter even one extension in multiple category cases). So this may require a change to category level pages.

"Type" pages will be fine.

[2019-05-15 17:08] bobsilverberg commented on #8018
Ok, I will open an issue to rename the shelves for now. Further changes required for categories can be covered by future issues.

[2019-05-15 17:12] bobsilverberg opened #8028 "Replace Featured shelves with Recommended shelves"
This is a spin-off from #8050 which captures the decision made and described at https://github.com/mozilla/addons-frontend/issues/8050#issuecomment-496511219.

On the Extensions and Themes pages, we should replace the "Featured" shelf with a "Recommended" shelf. These will include only recommended add-ons and will be sorted by `random`.

[2019-05-15 17:15] bobsilverberg opened #8029 "Show the recommended badge in autocomplete results"
Depends on ~~https://github.com/mozilla/addons-server/issues/11439~~
This is a spin-off from https://github.com/mozilla/addons-frontend/issues/7793.

As per https://github.com/mozilla/addons-frontend/issues/7793#issuecomment-490908595, we should show the recommended badge in the autocomplete results:

![image](https://user-images.githubusercontent.com/6309827/57457773-6c46e580-7270-11e9-80e5-63ea5

[2019-05-15 17:17] bobsilverberg commented on #8029
@eviljeff I believe this will need a change to the [Autocomplete](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#autocomplete) endpoint in order to expose `is_recommended`.

[2019-05-15 17:18] jvillalobos commented on #8027
Let's keep this one, because it's used in developer stats dashboards to track downloads. I expect us to drop `src` when we redo our stats (maybe this year) so I think it's okay to have some temporary inconsistency.

Otherwise looks good.

[2019-05-16 06:20] thecyberd3m0n opened #8032 "Open Source not vulnerable extension not found in Store"
### Describe the problem and steps to reproduce it:
Google "Dissenter Extension"
click link:
https://addons.mozilla.org/pl/firefox/addon/dissenter-extension/
- 404
### What happened?

Open Source (clearly not vulnerable) extension is inaccessible from store

### What did you expect to happen?

Open Source Free Speech promoting extension should not be removed
### Anything else we should know?
![ima

[2019-05-16 08:20] willdurand commented on #3594
@jvillalobos We have a list of 12 colors that we can update with Photon colors and that would solve the issue. This seems uncomplicated, so probably a good first bug.

[2019-05-16 10:18] muffinresearch commented on #6040
Reading through this thread I think the easiest first step is going to be to require this for developers around the point of the dev agreement as described as the MVP in the second paragraph of the OP @jvillalobos does that work for you?

[2019-05-16 11:09] robertdudaa commented on #4916
I'd like to take up this issue. My first contribution here. @willdurand

[2019-05-16 12:13] willdurand commented on #4916
@robertdudaa go for it :)

[2019-05-16 12:15] #8032 closed

[2019-05-16 15:51] funtsem opened #8034 "No Script"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-16 16:01] funtsem commented on #8034
The addition loaded with addons.cdn.mozilla.net cannot be established as most likely it was damaged.
What to do how to install the extension?

[2019-05-16 16:11] bobsilverberg opened #8035 "Display recommended bage for all add-on types"
As currently implemented, the Recommended badge only appears for extensions. A decision was made to display it for all add-on types, not just extensions. This issue is about removing the restriction(s) that make the badge exclusive to extensions.

Note that this also changes the behaviour of the "Featured" badge when the "Recommended" feature is enabled. With this patch, no add-on types will displ

[2019-05-16 16:17] bobsilverberg commented on #8035
@jvillalobos Can you please confirm that this is what we want to do.

[2019-05-16 16:23] #8027 closed

[2019-05-16 17:06] jvillalobos commented on #3594
How are they assigned? Stuart pointed out how themes only get green colors, which is odd.

[2019-05-16 17:21] jvillalobos commented on #8035
That's what we want, yes.

[2019-05-16 17:22] jvillalobos commented on #8034
A connection error may be related to https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/. Can you please confirm that this is the case?

[2019-05-17 08:49] Lishujin opened #8039 "downthemall"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-17 08:54] #8039 closed

[2019-05-17 12:00] divakarvenu commented on #3900
Hi, can i take this as my first contribution?

[2019-05-17 15:10] bobsilverberg opened #8040 "Fix up the css for RecommendedBadge"
There are some issues with the current css for the new RecommendedBadge component, which can be seen in my PR to add it to the [Search results](https://github.com/mozilla/addons-frontend/pull/7988). For example, when the size of the add-on card gets too small, the text is moved below the shape:

![Screenshot 2019-05-17 11 08 30](https://user-images.githubusercontent.com/142755/57937548-22738600-78

[2019-05-17 21:00] kumar303 commented on #8040
Sure, I can look. @bobsilverberg did you end up getting a new SVG with the circle?

[2019-05-17 21:08] kumar303 commented on #8040
Ah, yes, I see it in https://github.com/mozilla/addons-frontend/pull/8037 That might make things easier.

[2019-05-18 04:03] elenatrofimova opened #8041 "savefrom"
don't work savefrom

[2019-05-19 10:48] lijingya00 opened #8046 "addons.mozilla.org/en-US/firefox/addon/autoproxy"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-20 09:10] #8046 closed

[2019-05-20 09:12] #4916 closed

[2019-05-20 09:12] willdurand commented on #4916
@robertdudaa thank you for your first contribution! 🎉 /cc @caitmuenster

[2019-05-20 09:13] #8041 closed

[2019-05-20 09:39] saeedali12 opened #8048 "FVD downloding extension not working in mozila"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-20 09:40] saeedali12 commented on #8048
FVD not showing in extetion mozila since 4 5 days why ?

[2019-05-20 15:34] kumar303 commented on #3101
We ran into a problem when fixing https://github.com/mozilla/addons-frontend/issues/6447 where the error handler [passed to `fetchReview`](https://github.com/mozilla/addons-frontend/blob/73ea849c7e8b6dce0bbfa2f1789817dc0d972f0e/src/amo/components/FeaturedAddonReview/index.js#L67) does not get cleared when the same review [gets deleted](https://github.com/mozilla/addons-frontend/blob/73ea849c7e8b6d

[2019-05-20 15:39] kumar303 commented on #6447
Yes, this one is interesting. It is a hard one to fix so I think we should not spend time on fixing it right now. Thanks again for your time on it. I left a comment on the PR: https://github.com/mozilla/addons-frontend/pull/8007#pullrequestreview-239578153

[2019-05-20 16:44] eviljeff opened #8050 "Consider changing category pages once only recommended add-ons are shown"
In https://github.com/mozilla/addons-server/issues/11067 there is a requirement to only show recommended add-ons on the category pages, but at the category level there will be some redundancies in what's shown and there may be insufficient add-ons in the near-future to fully populate the page.

Current Category page:
![Screenshot 2019-05-20 17 28 04](https://user-images.githubusercontent.com/76859

[2019-05-20 17:48] caitmuenster commented on #3900
Hey @divakarvenu, welcome! You can absolutely take this bug up. We'll officially assign this to you once you have a PR up. :)

[2019-05-20 21:24] jvillalobos commented on #8050
@atsay and I talked about this earlier and there are a couple things we can do here:

1) Change category pages to a search results page with a category filter. This would allow users to choose different sorting options and filter further by entering a query string. I'm thinking this would be a possibly longer term solution since we don't do category filtering now.

2) Have a couple of taller shelv

[2019-05-20 21:25] jvillalobos commented on #8048
Please contact the developers about a listing page missing. It's up to them to correct those situations.

[2019-05-20 21:25] #8048 closed

[2019-05-21 00:39] funFortress opened #8052 "Dissenter"
Quit stifling our free speech rights. I'm a left-centrist who didn't vote for Trump in the last election cycle, so I've already debunked your baseless claims that this is a platform for the 'alt-right'. You wannabe-tyranical, silicon valley alt-_leftists_ are the ones putting the boot to our rights right now.

[2019-05-21 05:05] suhailsinghbains commented on #6242
Hi, Can I please work on this bug?
Thanks

[2019-05-21 07:56] #8052 closed

[2019-05-21 07:59] M-Zishan opened #8053 "S3.Translator Extension for Mozilla is not working"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-21 10:35] TherealDarkelegance commented on #7935
AGAIN...

https://addons.mozilla.org/en-US/firefox/collections/

________________________________
From: Jorge Villalobos <notifications@github.com>
Sent: 10 May 2019 17:47
To: mozilla/addons-frontend
Cc: TherealDarkelegance; Author
Subject: Re: [mozilla/addons-frontend] It will not show me my theme collection (#7935)

I don't see the link in this thread. Can you post it again?

—
You are receiving

[2019-05-21 12:28] ioanarusiczki commented on #7856
@eviljeff I transferred this on server https://github.com/mozilla/addons-server/issues/11487

[2019-05-21 12:28] #7856 closed

[2019-05-21 12:49] bobsilverberg opened #8054 "dennis-lint is failing for ja locale"
Travis output:

[code]

[2019-05-21 12:54] #8029 closed

[2019-05-21 12:55] bobsilverberg commented on #8040
Yes, that has now landed so the [svg with the circle](https://github.com/mozilla/addons-frontend/blob/master/src/ui/components/Icon/img/recommended-circle.svg) is now available in the repo.

[2019-05-21 13:13] #8054 closed

[2019-05-21 14:05] muffinresearch commented on #8053
@M-Zishan From the description it's unclear what the issue is. Please can you provide as much information as possible so that we can understand what the issue is?

Please include screenshots and URLs so we know where on the website the problem is occurring.

[2019-05-21 14:45] ioanarusiczki commented on #4916
@pwalm - I verified on AMO dev with FF66(Win10).

So from the discussions above I understood that the light grey Homepage should no longer be there.
Can you confirm please?

![homepage twice](https://user-images.githubusercontent.com/33448286/58105170-b9bb3f00-7bee-11e9-8186-d6f5e42a6a3c.gif)

[2019-05-21 14:47] willdurand commented on #4916
@ioanarusiczki in the recent comments, I see:

[2019-05-21 14:54] ioanarusiczki commented on #4916
@willdurand Oh ok, so this means that the label is kept `Homepage` - that's the light grey. And below it's the link named also `Homepage` as it's displayed above which further means why the merged issue says

[2019-05-21 16:29] bobsilverberg commented on #8050
I'm adding this to the [Recommendations Front-end Changes project](https://github.com/orgs/mozilla/projects/69) to track it.

This seems like a good idea to me, although you are right that it will require changes to our search filters.

I'm not sure that this addresses @eviljeff's concerns about the "Recommended" shelf being redundant. If everything on this page will always be recommended, why do

[2019-05-21 20:19] jvillalobos commented on #7935
Thanks. So, on that page you see a list of your collections, right? And it's one of those collections that you can't access?

Can you click on the collection you can't access and share the link to that? The link to the All Collections page doesn't help us find the cause of the problem.

[2019-05-21 20:23] atsay commented on #8050
For #2, perhaps it could be just the Recommended shelf that is 2-3 rows high and that's it.

[2019-05-21 20:27] jvillalobos commented on #8050
If we show "top rated" or "trending", presumably those wouldn't be exclusively recommended. Showing a single, tall Recommended shelf works for me.

[2019-05-21 21:12] atsay commented on #8050
Just spoke to @devaneymoz, many of the categories won't have enough recommended extensions, some not at all. So I think we need to go with solution #1, with Recommended (if any) sorted to appear on top.

[2019-05-21 21:15] TherealDarkelegance commented on #7935
I went to the link "view my collection" from the drop down menu and the link I provided it what I get!

No matter how many themes "I put in collection" each time I go to "view my collection" I get that error page.

What else can I show you?????
________________________________
From: Jorge Villalobos <notifications@github.com>
Sent: 21 May 2019 21:19
To: mozilla/addons-frontend
Cc: TherealDarkelega

[2019-05-21 21:17] TherealDarkelegance commented on #7935
[cid:d55f3601-d41a-4186-98ea-81be8bdc5b8a]

T<http://art-of-darkelegance.daportfolio.com>HIS IS WHAT I GET WHEN I CLICK ON THE LINK OF "VIEW MY COLLECTION"
________________________________
From: Elisa Paschall-Duncan <emp71@msn.com>
Sent: 21 May 2019 22:15
To: mozilla/addons-frontend
Subject: Re: [mozilla/addons-frontend] It will not show me my theme collection (#7935)

I went to the link "view my

[2019-05-21 21:26] jvillalobos commented on #7935
If you click on View My Profile in the same dropdown, where does it take you? I can see if there's anything odd with your account.

[2019-05-22 07:31] eviljeff commented on #8050
option 1. is just linking direct to https://addons.mozilla.org/firefox/search/?category=alerts-updates&sort=rating&type=extension I guess, with "Featured add-ons only" being replaced with "Recommended add-ons only" (and possibly pre-selected) - right @bobsilverberg ?

In terms of capabilities, the search api will accept:
- `?recommend=True` to _only_ show recommended add-ons
- `?sort=relevance` to

[2019-05-22 12:24] ioanarusiczki commented on #8029
@bobsilverberg I verified the autocomplete on AMO dev - FF67(Win10).
- the badge shows in the autocomplete results for all types of add-ons: `extension`, `language`, `dictionary`, `statictheme`.
- hovering (or navigating using the keyboard ) over an add-on with a recommended badge will display the blue arrow which is as expected.
- the default `sort` for autocomplete (as it's for search) is [`rele

[2019-05-22 18:12] atsay commented on #8050
I prefer #3, to show recommended at the top of any sort. @devaneymoz @jvillalobos What do you think?

[2019-05-22 19:05] devaneymoz commented on #8050
Agree with #3 to show Recommended at the top of any sort.

[2019-05-22 19:08] jvillalobos commented on #8050
Yeah, that works, with `?sort=recommended,users` or whatever the ADI sort is.

[2019-05-22 19:09] jawman1 opened #8059 "Broken Link"
### Describe the problem
I just installed firefox. I opened a new tab and moved to the bookmarks selection. I tapped the Firefox: customize with addons and it took me to a page that does not exist. This seems to be on the default home page.

### What happened?
The page it directed me to seemed to be where maybe a soecific add-on had been. I dont know where it was supposed to take me.
### What did

[2019-05-22 19:50] bobsilverberg commented on #8050
I don't believe there was a #3, but I guess you just created one. 😉

Reading all the comments above, I'm not sure if we've made a final decision on this, and if so, what it is, or maybe it's still being discussed?

[2019-05-22 20:01] atsay commented on #8050
The decision is to go with option 1, linking directly to a category search. Any filter applied would sort by recommended extensions, followed by ADI.

[2019-05-22 20:05] aswan commented on #7985
When an error occurs, the `error` property on the install object should give you more detail:
https://searchfox.org/mozilla-central/source/dom/webidl/AddonManager.webidl#39

[2019-05-22 20:17] bobsilverberg commented on #8050
Ok, that sounds good. This does raise the issue that @jvillalobos alluded to, which is that if we use the search results page, the form that appears will not allow a user to change or specify the category, but that's pretty much what we have now if you click on a link in the upper right-hand corner of a shelf on one of these pages.

So it sounds like what we're saying is that we're going to get ri

[2019-05-22 20:32] atsay commented on #8050
Yes, that's alright.

Yes, correct.

No, let's just have it look like a regular search results page.

That's correct.

[2019-05-22 20:56] jvillalobos commented on #8059
It looks like there should be an `/` after `android` and before the params. @muffinresearch, is this necessary for the link to work?

@jawman1 This is on a mobile device, right?

[2019-05-22 21:09] jawman1 commented on #8059
On mobile yes, sorry. Android: Galaxy S10

On Wed, May 22, 2019 at 14:56 Jorge Villalobos <notifications@github.com>
wrote:

[2019-05-23 10:00] ioanarusiczki commented on #8027
@bobsilverberg Verified on AMO dev - FF67(Win10).
- the label for the check box in the search filters says "Recommended add-ons only"
- when searching the ?recommended=true is available instead of ?featured=true
- `src=featured` is still present

While searching using the `recommended` filter the title of the page is "_N_ results found" or I did not understand what you mean ?

[2019-05-23 12:22] 0728344384 opened #8060 "fireforce"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-23 12:24] #8060 closed

[2019-05-23 12:51] bobsilverberg commented on #8027
It's not the visible header on the page, it's the actual title of the html document, which you can see as the title of the tab.

For example:

![Screenshot 2019-05-15 14 52 51](https://user-images.githubusercontent.com/142755/57807354-00acbe80-772f-11e9-8844-ad983ae5cfed.png)

[2019-05-23 13:51] Soriuky0 opened #8061 "Lightning i can't install it"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-23 13:52] Soriuky0 commented on #8061
Lighting 4.0.5.2 for Thunderbird 38 is available here
https://addons.mozilla.org/addon/lightning/versions/4.0.5.2
if i try to gon on this page
https://addons.mozilla.org/it/firefox/addon/lightning/versions/
i see this

[2019-05-23 16:10] kumar303 commented on #8040
There is a small screen issue that also needs addressing: https://github.com/mozilla/addons-frontend/pull/7988#issuecomment-490994429

[2019-05-23 17:03] #7793 closed

[2019-05-23 17:11] jvillalobos commented on #8061
Thunderbird add-ons are available at https://addons.thunderbird.net/

[2019-05-23 17:11] #8061 closed

[2019-05-23 18:02] bobsilverberg commented on #8050
Ok, I believe we have the final requirements for changing the category pages. What about the type pages, e.g., https://addons.mozilla.org/en-US/firefox/extensions/ and https://addons.mozilla.org/en-US/firefox/themes/?

Each of those pages currently has 3 shelves: Featured, Top Rated and Trending. The same issues exist where (I believe) we want to only show recommended add-ons in those shelves, but

[2019-05-23 18:14] eviljeff commented on #8050
There's going to be 100+ recommended extensions at launch, so I'm sure there will be enough for 4 on each shelf.

For themes there are currently 34 in the collection, so I guess we're good with them too.

Having an explicit "recommended" shelve is perhaps redundant but could swap that out for something else (updated?) or just use random.  I.e. they'd be `?type=extension&sort=random&recommended=tru

[2019-05-23 18:29] devaneymoz commented on #8050
I concur with @eviljeff. We should be fine with 100+ Recommended extensions at launch.

[2019-05-23 22:54] jvillalobos commented on #8050
Also, we don't need `/themes/` to be limited to recommended results, only `/extensions/`.

[2019-05-24 06:48] ioanarusiczki commented on #8027
@bobsilverberg Tab's title then :) ok, while searching for recommended is now "Recommended add-ons - Add-ons for Firefox (en-US). " (changing locale works).

![search by recommended](https://user-images.githubusercontent.com/33448286/58307987-f5c9ec00-7e08-11e9-9a5b-6dfa8348dc98.png)

[2019-05-24 08:02] salvapil opened #8063 "S3.Translator"
IL COMPONENTE AGGIUNTIVO INDCATO IN OGGETTO,  PER QUALE MOTIVO NON E' PIU'  PRESENTE TRA I COMPONENTI AGGIUNTIVI  DI  FIREFOX ?

[2019-05-24 09:07] sdkjfjkgbdkjnsg opened #8064 "hgn"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-24 09:07] sdkjfjkgbdkjnsg opened #8065 "dhn"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-24 09:07] sdkjfjkgbdkjnsg commented on #8065
dhn

[2019-05-24 10:59] rugk opened #8066 "Support Twitter card"
See https://github.com/mozilla/addons/issues/1055

Here is the markup you should support: https://github.com/mozilla/addons/issues/1055#issuecomment-494951763

[2019-05-24 12:52] AlexandraMoga opened #8067 "The recommended badge is displayed in autocomplete results on Android"
**STR**

1. Open AMO -dev on an Android device - https://addons-dev.allizom.org/en-US/android/
2. Enter a search term in the search field-  i.e _block_
3. Observe the results

**Actual result:**
Recommended add-ons are displaying a recommended badge

**Expected result:**
The recommended badge should be hidden everywhere on Android

**Notes:**
- there was a specific product requirement to not show

[2019-05-24 13:36] bobsilverberg commented on #8067
Thanks for catching this @AlexandraMoga. This should definitely be fixed.

[2019-05-24 16:26] #8040 closed

[2019-05-24 17:11] SimilarToChai opened #8069 "KEEPVID"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-24 17:29] #8064 closed

[2019-05-24 17:29] #8065 closed

[2019-05-24 17:31] #8069 closed

[2019-05-24 17:47] prathyushakochuru opened #8070 "Can't find Microsoft .Net Framework Assistant for Firefox"
### Describe the problem and steps to reproduce it:
I couldn't find the .Net Framework Assistant for Firefox under extensions.

 I would like to run Microsoft XBAP applications on Firefox which need the MS add on for Firefox. I don't see this under extensions.
### What happened?

### What did you expect to happen?
MS browser apps works on Firefox.
### Anything else we should know?

[2019-05-24 20:29] jvillalobos commented on #8070
I'm pretty sure that extension has been discontinued for many years. However, you should contact Microsoft support if you need help finding a copy or a workaround.

[2019-05-24 20:29] #8070 closed

[2019-05-24 21:17] firuzdemir opened #8071 "Read Aloud: A Text to Speech Voice Reader"

[2019-05-24 21:18] jvillalobos commented on #8071
This issue tracker is for the website itself, not the add-ons contained in it. If you can't find it on https://addons.mozilla.org/, then it isn't available. You may want to contact the developer about this.

[2019-05-24 21:18] #8071 closed

[2019-05-26 12:42] rvydnr opened #8075 ""error_box"><i class=""
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-26 12:43] rvydnr commented on #8075
"error_box"><i class="

[2019-05-27 08:36] #8075 closed

[2019-05-27 09:17] ioanarusiczki commented on #8040
@bobsilverberg I was going to file a followup today, I've been noticing this too.
I think it should be ok now because I could no longer reproduce the issue (verified on AMO dev with FF67Win10).

![resize](https://user-images.githubusercontent.com/33448286/58409560-02547b80-8079-11e9-8356-bc21477da0b9.gif)

[2019-05-27 09:34] ioanarusiczki commented on #7793
@bobsilverberg I verified this issue on AMO dev - FF67(Win10).
- the badge shows for all recommended add-on types, I've tested around for search results (with and without a query to see them ordered correctly) .
- the entire badge area is displayed with a 16px height and 96.93 px length. The badge is 16x16 px.
- the small screen issue was https://github.com/mozilla/addons-frontend/issues/8040
- ht

[2019-05-27 12:44] ioanarusiczki opened #8077 "The tooltip should be “Recommended extensions are safe, high-quality extensions”"
STR:
1. Load AMO dev and make a search after "Recommended add-ons only".
2. Hover over the badge and see the text displayed in the Tooltip.

Expected result:
"Recommended extensions are safe, high-quality extensions" according to[ PRD](https://docs.google.com/document/d/1fRxLy7h02tn1HBIlsTU_6h9DHmN8c3N6bg4JoxHF7J8/edit#heading=h.v5wqiwp147r4)

Actual result:
"Firefox only recommends extensions tha

[2019-05-27 15:06] bobsilverberg commented on #8077
@ioanarusiczki Please see https://github.com/mozilla/addons-frontend/issues/7957#issuecomment-490584381 for an explanation of why the text reads "Firefox only recommends extensions that meet our standards for security and performance". I believe this can be closed.

[2019-05-27 15:09] bobsilverberg commented on #7793
@ioanarusiczki Thanks for the verification. I don't see any outstanding issues listed above that aren't already covered by other issues, so can this be marked as verified, or is there something I am missing?

[2019-05-27 16:28] bobsilverberg opened #8079 "Replace Category pages with search results pages"
This is a spin-off from #8050 which captures the decisions made and described at https://github.com/mozilla/addons-frontend/issues/8050#issuecomment-494960622.

We will be doing away with category pages which show multiple shelves for a given category. Instead, any link to a category page will result in a Search Results page being displayed, with the search criteria in the URL specified as being l

[2019-05-27 17:29] radhefa7 opened #8081 "Pakegecloud"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-27 17:30] jvillalobos commented on #8077
Yes, the comment takes precedence. I updated the PRD just now to avoid confusion.