[2018-04-04 15:47] bobsilverberg commented on #4729
What's happening here is the following:

1. After updating the collection we invalidate it in the cache, so the new values will be picked up the next time it is fetched.
2. We then redirect to the collection screen.
3. The collection screen loads, and displays the loading placeholders for add-ons in the collection while the collection is fetched in the background. This is the flash of content that

[2018-04-04 15:48] bobsilverberg commented on #4729
Note also that this is not a regression caused by #4505, but something that would have existed prior to that.

[2018-04-04 15:48] caitmuenster commented on #4720
Mentor: @bobsilverberg

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2018-04-04 15:52] vcarciu commented on #4621
And another issue (nor reproducible in prod) :
![name](https://user-images.githubusercontent.com/1583842/38318929-3f09fa20-3839-11e8-9a18-c37a9e766b1e.png)

[2018-04-04 15:53] bobsilverberg commented on #4609
@ioanarusiczki Yes, it's worth checking the messages for plurals to make sure they are still displayed correctly.

[2018-04-04 15:54] vcarciu commented on #4621
The latest issue is caused by the fact that we are using both display names and user names which can be different for same developer.

[2018-04-04 17:32] realslimshanky opened #4730 "Unable to install dependencies"
### Describe the problem and steps to reproduce it:
I want to contribute to this repository and I'm having trouble setting up.

### What happened?
The command to install dependencies is not working i.e. `yarn`.

### What did you expect to happen?
Dependencies should be installed without any error.

### Anything else we should know?
Node - v6.11.5
NPM - 3.10.10
Yarn - v0.27.5
`yarn check` -
![image

[2018-04-04 17:32] #4719 closed

[2018-04-04 17:36] tofumatt commented on #4730
Maybe out yarn lockfile is out of date? Could you try removing yarn.lock and running `yarn` again?

[2018-04-04 18:14] muffinresearch commented on #4730
@realslimshanky That yarn version looks to be very old too, can you try updating it?

[2018-04-04 18:28] muffinresearch opened #4731 "Look to renable "no-descending-specificity" in stylelint"
In https://github.com/mozilla/addons-frontend/pull/4483 the stylelint rule "no-descending-specificity" was disabled since it caused a lot of errors.

We would like to look at the possibility of re-enabling this rule since the errors it outputs suggest we have some issues with source-order and it's relationship with specificity in our CSS.

[2018-04-04 18:30] tofumatt opened #4732 "Respect `no-descending-specificity` stylelint rule"
Right now we ignore the `no-descending-specificity` rule in Stylelint, but that's just because it's a new rule and it's a fair bit to update our CSS to respect it.

The consensus seems to be it's worth implementing the rule, but it should be its own issue.

See the discussion in: https://github.com/mozilla/addons-frontend/pull/4483 for more info.

[2018-04-04 18:32] tofumatt commented on #4732
Lol, mid-air collision with #4731.

[2018-04-04 18:32] #4732 closed

[2018-04-04 19:50] realslimshanky commented on #4730
@tofumatt I tried removing `lockfile` and ran `yarn` again and it did not work.
@muffinresearch I updated `yarn` and ran again, getting the same problem.
Here's updated `yarn check`

[code]

[2018-04-04 20:01] muffinresearch commented on #4730
@realslimshanky what platform are you runnning?

[2018-04-04 20:04] realslimshanky commented on #4730
@muffinresearch Ubuntu 16.04 LTS.

[2018-04-04 21:08] muffinresearch commented on #4730
@realslimshanky I just tried with Ubuntu 16.04, a fresh checkout of addons-frontend and node 8 (via the nodesource repo) and yarn 1.5.1 and the installation worked fine:

<img width="1008" alt="ubuntu__running_" src="https://user-images.githubusercontent.com/1514/38334812-5886fd52-3854-11e8-915f-068c1cd537e6.png">

I'd suggest trying `yarn install` having removed the contents of the `node_modules`

[2018-04-05 01:56] smayer97 commented on #4331
There are 3 related Issues posted that make up ALL the functionality that is needed to reproduce the original design of the Add To Collection menu, as per decembre's post above:
https://github.com/mozilla/addons-frontend/issues/4331#issuecomment-377615994

Add To Collection - List not sorted by name -- https://github.com/mozilla/addons/issues/676
Add To Collection - Cannot search the list -- https

[2018-04-05 01:56] smayer97 commented on #4331
BTW, you can review these discussions started 2 years ago about why this set of features is SO important.
https://discourse.mozilla.org/t/no-favorite-button-in-new-amo-design/8015/40
and
mozilla/addons-server#2264

[2018-04-05 01:57] smayer97 commented on #4331
Please consider increasing the priority.

[2018-04-05 02:11] biskit1 commented on #4720
Hello :raised_hand:
Can I work on this as my first bug?

[2018-04-05 03:37] pwalm commented on #4633
My fault: I should have specified the glyph for the message bar. We should use the firefox single colour glyph, not the checkmark.
[glyph-firefox-16.svg.zip](https://github.com/mozilla/addons-frontend/files/1878485/glyph-firefox-16.svg.zip)

[2018-04-05 08:41] ioanarusiczki commented on #4609
We have a missing plural - it's the Control browser proxy setting - it is settings not setting. I verified it with the[ support page](https://support.mozilla.org/en-US/kb/permission-request-messages-firefox-extensions)
Should I file this as a follow up?
Verified with FF59 (Win10).

![control browser proxy setting](https://user-images.githubusercontent.com/33448286/38355577-060a5d18-38c6-11e8-9eb0-

[2018-04-05 09:14] vcarciu commented on #4732
Can you please add some STRs to this bug or mark it as "qa: not needed" ?

[2018-04-05 09:39] ioanarusiczki opened #4735 "Page not found (404) error when too many spaces are typed in the collection slug"
STR:
1. Load AMO dev and go to a collection to Edit this collection.
2. In the collection slug type in many spaces before the name of the collection.
3. Click on Save Collection.

Expected result:
Red message " The custom URL must consist of letters, numbers, underscores or hyphens" should be displayed.

Actual result:
404 Page not found.

Notes:
This issue is reproducible with FF59(Win10) on AMO

[2018-04-05 09:42] ioanarusiczki commented on #4719
I verified this issue on AMO dev with FF59 (Win10). When only spaces are used or the slug is blank the save collection button is disabled.
I filed https://github.com/mozilla/addons-frontend/issues/4735 for an issue observed when spaces are typed before typing some text and then save collection is clicked.

[2018-04-05 11:26] muffinresearch opened #4737 "Special case the Firefox download link for Facebook Container"
Refiled from https://bugzilla.mozilla.org/show_bug.cgi?id=1451542

So in a nutshell the Download Firefox link seen by a non-firefox user on https://addons.mozilla.org/en-US/firefox/addon/facebook-container/ should be special-cased to link to  https://www.mozilla.org/firefox/facebookcontainer/ (Note I removed the locale from the latter so that Mozilla.org can handle the locale itself.

<img width="

[2018-04-05 11:31] tofumatt commented on #4737
From a very quick look it seems like a kinda hacky, special-case fix could be made relatively easily: we *do* have access to the `addon` object in question at the point we render that component. We could simply pass it the Facebook container ID in production and special-case the URL it links to. We could even change the text then too, for what it's worth.

To ship this quickly we'd need to special

[2018-04-05 13:32] tsl143 commented on #4735
@tofumatt, I am not sure but can trimming the blank spaces before submit help? ideally we should trim spaces before submitting form.

[2018-04-05 13:35] tsl143 commented on #4735
Okay trimming will resolve the issue, as backend API has trimming and check for max 30 characters.

[2018-04-05 14:07] eLchiniko opened #4741 "cryptotab"
### Describe the problem and steps to reproduce it:

### What happened? File not found

### What did you expect to happen? cryptotab should be added to firefox add-ons

### Anything else we should know?

[2018-04-05 14:07] #4741 closed

[2018-04-05 14:09] tofumatt opened #4742 "Use displayName instead of username in AddonsByAuthorsCard"
The `AddonsByAuthorsCard` component accepts an array of author names to fetch an add-on by. But it should get the author's displayName from state in order to display that in the `More add-ons by ${authorName}` text. Right now it shows their username which looks bad, and inconsistent because we show the display name above, underneath the add-on name on the details page:

![name](https://user-images

[2018-04-05 14:09] tofumatt commented on #4621
Definitely a legit issue caused by this but the fix is a bit more effort and I think worth doing in a separate patch. I've filed: #4742.

[2018-04-05 14:42] vcarciu opened #4744 "Wrong alignment for "More themes by this user" if view listing is pressed on your submitted theme"
Steps to reproduce:
1.Login with an account where you have more themes submitted and approved
2.In developer hub, open one of your submitted themes
3.Press View Listing link for that theme

Expected results:
The themes listed under "More themes by this user" are correctly aligned (6 themes listed , 3 on every row)

Actual results:
Each theme is displayed on one line

NOTES:
Reproducible on Stage a

[2018-04-05 14:43] vcarciu commented on #4621
@tofumatt : sure, I logged https://github.com/mozilla/addons-frontend/issues/4744

[2018-04-05 15:05] #4737 closed

[2018-04-05 15:09] tofumatt commented on #4737
QA steps here:

1. Visit https://addons.mozilla.org/en-US/firefox/addon/facebook-container/ in a non-Firefox browser
2. Check that the "Download Firefox" link appears in the green notice bar and make sure the link points to https://www.mozilla.org/en-US/firefox/facebookcontainer/ instead of https://www.mozilla.org/en-US/firefox/new/

Other add-ons in non-Firefox browsers should still point to http

[2018-04-05 15:27] muffinresearch commented on #4737
This change is now live on -dev at https://addons-dev.allizom.org/en-US/firefox/addon/facebook-container/

[2018-04-05 15:32] muffinresearch commented on #4737
This change is now live on stage at https://addons.allizom.org/en-US/firefox/addon/facebook-container/

[2018-04-05 15:46] vcarciu commented on #4737
Verified as fixed in Chrome and Edge :
![facebookcontainer](https://user-images.githubusercontent.com/1583842/38376592-9715238e-3901-11e8-8426-b3c777aa1762.gif)

[2018-04-05 15:48] #4621 closed

[2018-04-05 15:53] bobsilverberg commented on #4735
Thanks for the suggestion and the offer to fix it @tsl143!

[2018-04-05 16:02] bobsilverberg commented on #4609
@ioanarusiczki Please file a follow-up. This isn't really a pluralization issue, but is an error, as that message should contain an "s" at the end, as per https://searchfox.org/mozilla-central/rev/f860c2bf00576959b07e2d9619c7b5088b0005be/browser/locales/en-US/chrome/browser/browser.properties#117

[2018-04-05 16:07] caitmuenster commented on #4720
Hey @biskit1, go for it! Please feel free to mention @bobsilverberg in a comment if you need any help. :)

[2018-04-05 16:29] tsl143 commented on #4735
Done :)

[2018-04-05 16:46] vcarciu commented on #4603
Marking as verified since I verified them in production too.

[2018-04-05 17:33] #4318 closed

[2018-04-05 17:56] jvillalobos commented on #4186
This affects the rating perception of AMO add-ons, and has been noticed by multiple developers. I'm bumping this up in priority. @KhushilMistry, are you still working on this? I saw some review comments that are pending resolution.

[2018-04-05 18:00] bobsilverberg opened #4747 "Discopane ui tests are failing"
Starting with https://github.com/mozilla/addons-frontend/commit/3fd1e1acfae57b55171e9cc85bee3fccbd93cc57, the discopane ui tests are failing. See
https://travis-ci.org/mozilla/addons-frontend/builds/362738197 for the failure related to that commit.

There doesn't seem to be anything in that commit that would trigger a failure.

[2018-04-05 18:01] KhushilMistry commented on #4186
Hey, Yeah. I will update the PR in a day.

[2018-04-05 18:14] tsl143 commented on #4599
@tofumatt , do we have any design doc for this, precisely I need following:
Icons for developer and theme artist, `font-size`, `font-weight`

[2018-04-05 18:17] muffinresearch commented on #4653
/cc @eviljeff

[2018-04-05 19:01] tofumatt commented on #4359
@svitlana-galianova Nice job, two issues with one pull request! 🏅 😄

[2018-04-05 19:01] #4359 closed

[2018-04-05 19:02] tofumatt commented on #4599
@tsl143 They are in the Sketch file in the `assets/` folder, though you'll need Sketch (only available on MacOS) to view it.

[2018-04-05 20:07] bobsilverberg commented on #4650
This can be closed. There are no longer any form validations for this form.

[2018-04-05 20:07] #4650 closed

[2018-04-05 20:08] bobsilverberg commented on #4640
Based on the discussions, I am going to close this issue, as it doesn't seem like something we want.

[2018-04-05 20:08] #4640 closed

[2018-04-05 21:02] bobsilverberg commented on #4646
I found the code for the "click to copy" interaction in the photon design system code, but I'm having trouble adapting it to our site. The copy is working, but it's not displaying the tooltip.

@pwalm Do you think we can split this into two issues? One to change the size of the fields to 40/60, and a separate issue to add the "click to copy" interaction which could be tackled at a later time?

[2018-04-05 21:28] #4633 closed

[2018-04-05 21:57] beliqqstreb opened #4750 "problem"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-05 22:09] tofumatt commented on #4750
Closing due to lack of information.

Please add information to your issue including the error you encountered, a URL (if applicable), and steps to reproduce.

[2018-04-05 22:09] #4750 closed

[2018-04-06 01:14] Luckybravia opened #4751 "Failur to add Cryptotab extension to my mozilla firefox browser"
Mozilla firefox couldn't add the cryptotab extension

I needed to add a Cryptotab extension to mozilla firefox web browser but it failed.

I  expected that the Cryptotab extension be added to my mozilla firefox web browser with its icon showing among the tabs at the top right corner of the browser.

Please, allow getcryptotab.com to be added as an extension on the mozilla firefox web browser. Than

[2018-04-06 01:43] #4717 closed

[2018-04-06 02:10] #4720 closed

[2018-04-06 02:27] tsl143 commented on #4599
I dont have sketch, so I tried online viewers, I got following, but still cant get hands on any icon for both.

<img width="254" alt="image" src="https://user-images.githubusercontent.com/5318732/38400905-21e5bc1c-3970-11e8-9f85-853e6707f5a3.png">

[2018-04-06 02:36] tsl143 commented on #4599
Or there is no image, we need to put just squares?

[2018-04-06 06:09] realslimshanky commented on #4730
@muffinresearch I tried node 8 and the process which you suggested but got the same `ENOENT` error. Referring to this https://github.com/yarnpkg/yarn/issues/2629#issuecomment-278068628 I tried an older version of yarn and still getting the same `ENOENT` error.

[2018-04-06 08:18] eviljeff commented on #4653
Entirely numeric slugs aren't allowed - either for collections or addons - because there's no way to differentiate an ID from a slug in a url.  (This was more a policy of consistency until #7529 added the ability to refer to collections by ID as well as slug).

It appears, from @tsl143's comment, that the slug isn't being changed to `122`, and the existing slug returned in the response.  This is c

[2018-04-06 08:32] eviljeff commented on #4653
Oh, while what I said about numeric slugs is correct, @tsl143's example isn't the same as @AlexandraMoga's - it looks like @tsl143 is trying to change his _favorites_ collection, which is special (right now anyway), and will be reset to be called `favorites`, regardless of what the slug is changed to.

Problem for frontend is we don't expose that it's a "special" collection in the API because spec

[2018-04-06 09:03] tsl143 commented on #4653
@eviljeff , so do we need to put a check at frontend, disallowing only numeric slug?

[2018-04-06 09:33] tofumatt commented on #4751
This is the issue tracker for the add-ons site and related projects, not for an add-on.

If you're having an issue with an add-on please contact the developer directly; their contact info is on their site, but their add-on has been unlisted because of issues with review. It's up to them to update it, sorry about that!

[2018-04-06 09:43] tofumatt commented on #4751
Actually, looks like there is an installation problem with this add-on, which is now listed. Opening this up again...

[2018-04-06 10:47] ebby86 opened #4753 "add on"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-06 10:49] tofumatt commented on #4753
Closing due to lack of information.

Please add information to your issue including the error you encountered, a URL (if applicable), and steps to reproduce.

[2018-04-06 10:49] #4753 closed

[2018-04-06 11:33] tofumatt commented on #4747
I'm going to disable the tests for now as the noise is making it tough to work on PRs, but I'll leave the issue open because it needs to get fixed.

[2018-04-06 12:49] tofumatt commented on #4744
This is a pretty weird bug, and I wonder if it happens when the page is fully reloaded as well.

[2018-04-06 12:57] tofumatt opened #4755 "In "Add to Collection" list, sort collections alphabetically by name"
When adding an add-on to a collection, the collection list is not sorted alphabetically, making it hard to find the right collection/scan the list. More info/originally filed at: https://github.com/mozilla/addons/issues/676

I think sorting the collections in the front-end by name is a good call.

[2018-04-06 13:35] smayer97 commented on #4755
:-) Nice...Thx
Please keep in mind that this request is part of a suite of 4 features that work together to re-create the original functionality that was in the Add To Collection menu under the old design. Fixing this particular feature would be a good start.

Note that this particular feature above has a long history of being fixed, broken, fixed, broken, and finally fixed, under the old AMO fron

[2018-04-06 13:39] smayer97 commented on #4755
P.S. Those other 3 Issues are probably misfiled under Add-ons and need to be moved to Addons-frontend.

[2018-04-06 13:40] tofumatt commented on #4755
@smayer97 You don't need to continually cross-reference the other issues; they are on our radar and we will triage them accordingly. 😄

We understand you'd like this feature, but I'm under the impression that power-users of the collections features are small in number. Rest assured, we are keeping these issues open and will discuss them, but we're a small team and we have to prioritise a basic fea

[2018-04-06 13:44] smayer97 commented on #4755
Appreciate your the feedback. Not trying to be a nuisance. Just not sure how everything is cross-referenced for visibility so did not want for these to be lost in the shuffle. Thanks for your consideration.

[2018-04-06 13:49] tofumatt commented on #4755
No worries! I don’t want you to have to do more work than is needed either :-)

If your job is to file the issues then our job is to triage them. ;-)

[2018-04-06 15:20] 9Angel6 opened #4757 "cryptotab"
### Describe the problem and steps to reproduce it:

me meto en la pagina de crytotab y todo esta bien, el problema pasa al buscar la aplicacion no pasa nada, no sale el complemento
### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-06 15:24] tofumatt commented on #4757
Gracias, por favor mira #4751.

[2018-04-06 15:24] #4757 closed

[2018-04-06 20:51] jvillalobos commented on #4751
I think that's a separate issue. The add-on has an Awaiting Review state, so it isn't visible to the general public. I suppose we didn't account for that (mostly legacy) state, so the new front-end makes it appear as normally listed if you have sufficient permissions to see inactive listings. I'll file a separate issue for it.

[2018-04-06 20:51] #4751 closed

[2018-04-06 20:57] jvillalobos opened #4759 "Listing for add-on in Awaiting Review state appears like normal listing for admins"
Branched off from https://github.com/mozilla/addons-frontend/issues/4751

Admins (and other staff) have additional privileges that allow them to see listing pages for add-ons that are disabled in various ways (dev-disabled, admin-disabled, etc.). The admins can see the listing page, but there's a warning indicating the listing isn't really active (the message just says the "add-on isn't available

[2018-04-06 21:12] pwalm commented on #4646
Yes, I'll file another issue. 👍

[2018-04-06 22:39] jvillalobos opened #4760 "Add badge for add-ons owned by the Mozilla account"
We want to highlight Mozilla-developed add-ons on AMO and give users some confirmation that they are official. We've talked before about a larger "verified developer" program, but that has never come together, so this limits the scope to the [Mozilla account](https://addons.mozilla.org/user/mozilla/).

This badge should appear on add-on listing pages and search results. It should say something lik

[2018-04-07 00:31] andryviclates opened #4761 "https://getcryptotab.com"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-07 00:33] tofumatt commented on #4761
This add-on is under review, please contact the author for updates.

[2018-04-07 00:33] #4761 closed

[2018-04-07 13:16] rrdidital opened #4762 "1B8W7QNESU7tdDs5rZXf4RXNQA7HSmn525"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-07 13:16] rrdidital opened #4763 "1B8W7QNESU7tdDs5rZXf4RXNQA7HSmn525"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-07 14:14] championshuttler commented on #4428
Can i work on this as my first contribution?

[2018-04-07 15:40] #4762 closed

[2018-04-07 15:52] #4763 closed

[2018-04-07 17:54] bobsilverberg commented on #4428
Certainly, @championshuttler, go for it.

[2018-04-07 21:11] robydom opened #4764 "cripto tab"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-08 05:33] Avik121197 commented on #4700
now what to do sir ?

[2018-04-08 07:11] tofumatt commented on #4700
Please contact the extension author for more info.

[2018-04-08 20:36] SCmkQrK1NhwcWoPJF3FImaqHnG2PqPLWBt2GtSU commented on #4453
Strange, but within 1 month, nothing is automatically fixed. I had to update manually.

[2018-04-09 12:34] bobsilverberg commented on #4581
I "fixed" this in issue #4543 for the storage icon by replacing the one in the repo with a new one I exported from Sketch. I suppose we could do the same with all of the other icons which may address this issue. @pwalm do you have any suggestions/opinions on what's discussed above about the svg files?

[2018-04-10 09:42] ioanarusiczki opened #4770 "Missing "s" for setting in Control browser proxy settings permission"
STR:
1. Load AMO dev and check the Control browser proxy settings for https://addons-dev.allizom.org/en-US/firefox/addon/all-of-the-permissions/
2. Observe how  Control browser proxy settings permission is displayed on the add-ons detail page.

Expected result:
Control browser proxy settings is displayed.

Actual results:
"setting" instead of "settings" is displayed.

Notes:
This is reproducible o

[2018-04-10 09:43] ioanarusiczki commented on #4609
Alright, here it is https://github.com/mozilla/addons-frontend/issues/4770

[2018-04-10 09:44] tofumatt commented on #4770
This is a case of a missing "s" in the "Control browser proxy setting" string itself.

All that this needs is for the string to be updated. Mentor @tofumatt.

[2018-04-10 11:01] vcarciu commented on #4318
Verified as fixed :
![flagreview](https://user-images.githubusercontent.com/1583842/38553334-a273a114-3cc7-11e8-95d3-273f9da7180e.png)

[2018-04-10 11:03] vcarciu commented on #4359
Verified as fixed  :
![russian](https://user-images.githubusercontent.com/1583842/38553457-009f042c-3cc8-11e8-8b52-9cf56ed8ec45.png)

[2018-04-10 11:33] vcarciu commented on #4635
Verified as fixed :
![disabledbuttons](https://user-images.githubusercontent.com/1583842/38554663-177470ac-3ccc-11e8-8c6e-2ded827eb3fc.gif)

[2018-04-10 11:36] ioanarusiczki commented on #4735
Verified fixed on AMO dev with FF59(win10).

![30 characters](https://user-images.githubusercontent.com/33448286/38554739-6d82f342-3ccc-11e8-83c0-ab00e058bf2a.png)

![testing spaces](https://user-images.githubusercontent.com/33448286/38554681-28f03046-3ccc-11e8-93e8-d656fa12d399.gif)

[2018-04-10 11:52] vcarciu commented on #4717
@bobsilverberg : I verified #4635 . Please let me know if I can verify anything else for this issue.

[2018-04-10 11:54] vcarciu commented on #4720
@bobsilverberg : I verified that no blank names can be added when creating a new collection. Is this enough for this bug?

[2018-04-10 12:10] ioanarusiczki commented on #4646
I verified this issue on AMO dev with FF59 (Win10) and Android 8.0
The space looks good to me

![desktop space](https://user-images.githubusercontent.com/33448286/38555902-85ec2dfa-3cd0-11e8-90d8-ba85649a6d23.png)

![android space](https://user-images.githubusercontent.com/33448286/38555909-8b6ebac2-3cd0-11e8-993d-deeafb36e66c.png)

[2018-04-10 14:39] bobsilverberg commented on #4720
@vcarciu This bug won't result in any changes to the front end. Just making sure the edit form is still working as expected should be sufficient.

[2018-04-10 14:40] bobsilverberg commented on #4717
@vcarciu The should be sufficient, thanks!

[2018-04-10 14:46] bobsilverberg commented on #4581
@pwalm I know I already pinged you on this, but based on the comment above it seems there is an issue with the svg's and one that apparently cannot be fixed by simply re-exporting them from Sketch. Is this something you can look into and possibly fix?

[2018-04-10 15:25] vcarciu commented on #4720
@bobsilverberg : thank you !

[2018-04-10 16:40] pwalm commented on #4581
Straight from the library file. Hope this one works!
[Storage - 32.svg.zip](https://github.com/mozilla/addons-frontend/files/1895527/Storage.-.32.svg.zip)

[2018-04-10 16:42] bobsilverberg commented on #4581
@FatOrangutan Do you mind trying the attached svg and letting us know if it seems to address the issue you were seeing with the previous versions.

[2018-04-10 16:59] championshuttler commented on #4770
Can i work on this as my first contribution

[2018-04-10 17:00] tofumatt commented on #4770
Sure thing, just submit a pull request when you are ready!

- Matt (Sent from mobile)

[2018-04-10 17:12] FatOrangutan commented on #4581
This unfortunately has the same issue. If I take the path from this svg and reuse it without relying on a mask, then much like the previous two comparisons, it looks smoother: before / after: https://i.cubeupload.com/EhziuE.png.

FWIW, the 'smooth svg' is:
`<svg xmlns="http://www.w3.org/2000/svg" width="24" height="26" viewBox="4 3 24 26"> <path fill="#0C0C0D" fill-rule="evenodd" fill-opacity=".8"

[2018-04-10 17:18] pwalm commented on #4581
[Oops, didn't mean to close the issue lol]

Forgive my ignorance, but what is the issue here: Is it a rendering problem in the browser, or do these icons need to adjusted/redesigned/re-exported?

[2018-04-10 17:52] bobsilverberg opened #4771 "Enhance the AutoSearchInput component to return addonIds"
This blocks #4590.

In order to add an add-on to a collection, we need the `addonId`, but currently the `AutoSearchInput` component only returns the `iconUrl`, `name` and `url` for the add-on.  This issue is to enhance the `SuggestionType` returned by `AutoSearchInput` to include the `addonId`.

[2018-04-10 19:53] FatOrangutan commented on #4581
I don't know, but a specific 'readjustment' on the svg's seems to fix the issue for me.

See [this screenshot](https://i.cubeupload.com/JnScPM.png) for the rough edges issue - especially noticeable on the i-inside-circle, lens and the clock icons in the Firefox window.

I've found that if I create an svg using the exact same path from the svg's currently in use, but avoid the `mask`, they turn out

[2018-04-11 00:25] tofumatt opened #4774 "AddonsByAuthorsCard always says "More add-ons by user""
See https://github.com/mozilla/addons-frontend/pull/4756#issuecomment-379751761

Basically we should allow an override to the default header here. I think the defaults make sense but an override would be handy.

[2018-04-11 00:26] #4280 closed

[2018-04-11 00:26] #4281 closed

[2018-04-11 01:12] #4755 closed

[2018-04-11 06:21] tsl143 opened #4775 "[suggestion] Put badges below theme name on addon details page"
The badge position on theme details page for desktop looks a bit awkward. Can we put it below theme and author name, same as we do on smaller screens. @pwalm @tofumatt

Current view on desktop
<img width="783" alt="screen shot 2018-04-11 at 11 42 48 am" src="https://user-images.githubusercontent.com/5318732/38599414-19e92104-3d7e-11e8-8259-a8f546b485f6.png">

Suggested view on desktop
<img width="

[2018-04-11 08:54] vcarciu commented on #4621
Since the issue related to number of addons and themes displayed in "More add-ons by this user" was solved and the other issues were logged as separate bugs, I will mark this one as verified.

[2018-04-11 09:54] realslimshanky commented on #4730
I recently cloned the project to my home folder and it worked as expected. I'm still unaware of the cause of previous error which occurred while installing dependencies in a separate partition.

[2018-04-11 11:17] realslimshanky commented on #4775
Added PR #4777 to entertain the changes suggested in this issue just in case it's decided to introduce them to the website.

[2018-04-11 12:42] vcarciu commented on #4712
Verified as fixed :
![screenshot_20180411-154121](https://user-images.githubusercontent.com/1583842/38617157-ee2d161c-3d9e-11e8-8ce5-5fe45c798ae1.png)

[2018-04-11 12:49] vcarciu commented on #4755
Collections are now ordered :
![collectionordered](https://user-images.githubusercontent.com/1583842/38617503-e2a834e2-3d9f-11e8-89d2-6d03790bf86e.gif)

[2018-04-11 12:57] smayer97 commented on #4755
I look forward to seeing it deployed. :-D

[2018-04-11 14:01] #4771 closed

[2018-04-11 14:04] bobsilverberg commented on #4771
For QA: This should not result in any changes to the site behaviour. Please just verify that nothing has regressed with the Search box at the top of the page:

<img width="358" alt="screenshot 2018-04-11 10 04 01" src="https://user-images.githubusercontent.com/142755/38621835-b67f5628-3d6f-11e8-86a5-3a81fe950562.png">

[2018-04-11 14:15] bobsilverberg commented on #4003
For QA:

- To access the "Create a collection screen", navigate to http://addons-dev.allizom.org/en-US/firefox/collections/add/.
- It should behave like the edit screen, with the "Save Collection" button disabled as long as the name and slug fields are blank.
- The "Cancel" button should take you back to the previous screen, but because we are navigating to the page manually it will not currently

[2018-04-11 14:49] bobsilverberg commented on #4590
I believe we need some UX input on this, and also issue #4502 (create a new collection with add-ons). The mocks show a form overlay, with an area at the bottom for managing the add-ons in a collection, for example:

<img width="554" alt="screenshot 2018-04-11 10 41 02" src="https://user-images.githubusercontent.com/142755/38623934-e094b430-3d74-11e8-8897-e91135a018e1.png">

But the edit form has n

[2018-04-11 16:27] tsl143 commented on #4774
@tofumatt , can we have this header text from any existing API?

[2018-04-11 16:28] tsl143 commented on #4770
@tofumatt #4773 has been merged, can this be closed?

[2018-04-11 16:30] tofumatt commented on #4770
Ah, shoot, indeed. Looks like the wrong text was used in the PR. 😓

[2018-04-11 16:30] #4770 closed

[2018-04-11 16:34] tofumatt commented on #4774
No, this is always text created on the front-end, as it's situational.

[2018-04-11 16:38] bobsilverberg opened #4778 "Implement an EditableCollectionAddon component to support the new Edit collections screen"
As discussed with @pwalm, when a user edits a collection, the list of add-ons displayed on the right-hand side of the screen will change from a standard AddonsCard to a list of editable add-ons with less information (only name and icon), but with a button to remove the add-on from the collection and also a means of adding notes to the add-on.

This will be similar to what appears on the bottom of

[2018-04-11 16:47] tsl143 commented on #4774
So what exactly we need to do here?

[2018-04-11 17:45] pwalm commented on #4590
How's this?
<img width="1546" alt="screen shot 2018-04-11 at 10 45 27 am" src="https://user-images.githubusercontent.com/6797635/38633766-7eda9ce0-3d75-11e8-90bf-b7903d795c3d.png">

[2018-04-11 18:04] bobsilverberg commented on #4590
Thanks @pwalm, that looks great! I think we also need a button to save the comment.

[2018-04-11 18:13] bobsilverberg commented on #4590
@pwalm Another question: Would you say that choosing an add-on from the "Find add-ons" select box would immediately add it to the collection, or would that just make it appear on the right in a "pending" state, and it (and any other newly added add-ons) wouldn't be added to the collection until the "Save collection" button was clicked?

[2018-04-12 00:56] #4747 closed

[2018-04-12 03:17] pwalm commented on #4590
- Choosing would immediately add to the collection.
- "Save collection" is like "Save and exit," so the user doesn't have to save each time they add an extension. Maybe it should just get changed to that, I'll ask Meridel.

[2018-04-12 07:57] mamboblank11 opened #4782 "cryptotab"
i can't find mozilla add-ons: crytotab (https://getcryptotab.com)

[2018-04-12 10:24] tsl143 commented on #4653
@eviljeff , If you return error from API, it will aleady be sorted at frontend, so can we close this bug from addons-frontend and file a bug at addons-server?

[2018-04-12 11:03] eviljeff commented on #4653
@tsl143 there should be a bug on addons-server, yep.  Not sure exactly what's happening though.

on addons-frontend there are things that _could_ be changed, I guess.  But I suppose this issue can be closed, at least until the API is functioning correctly.

[2018-04-12 11:03] #4653 closed

[2018-04-12 11:58] #4003 closed

[2018-04-12 12:00] bobsilverberg commented on #4003
More for QA:

There's a screenshot attached to #4564

Please also check the "Edit a collection" feature for regressions as this touched much of the same code.

[2018-04-12 13:32] bobsilverberg commented on #4186
Having said that, the above appears to be what the code is currently doing, so I'm not sure where the problem is. The PR attached was attempting to change the way stars are rendered, but I think they are being rendered as expected, and maybe the problem is with the tooltip instead. The original example shows 4 1/2 stars being rendered but a tooltip of "Rated 5 out of 5", which does seem like a pro

[2018-04-12 13:55] realslimshanky commented on #4499
@diox should I go ahead and create an issue while @vcarciu is unavailable?

[2018-04-12 16:18] #4668 closed

[2018-04-12 18:45] bobsilverberg commented on #4778
@pwalm provided a mockup for the edit collections screen at issue #4590, which I am copying below:

<img width="1546" alt="screen shot 2018-04-11 at 10 45 27 am" src="https://user-images.githubusercontent.com/6797635/38633766-7eda9ce0-3d75-11e8-90bf-b7903d795c3d.png">

[2018-04-12 18:47] bobsilverberg commented on #4778
For QA:

With this patch in place when you click on the edit link for a collection the list of add-ons on the right-hand side of the screen should switch to look like the list above. This only implements the display; the comments icon and the "Remove" button don't do anything at this point.

[2018-04-12 19:37] bobsilverberg commented on #4186
Yes @jvillalobos, please file a separate issue about the rounding explaining exactly how you think it should work. After that's done I think we can close this as I cannot reproduce even the initial example.

[2018-04-12 21:51] jvillalobos opened #4784 "Average star ratings should be rounded to the nearest half star"
Split from #4186

The problem is that we're only rounding down, rather than rounding to the nearest half-star. So, an average rating of 3.1 should be 3 stars, and an average rating of 3.3 should be 3.5 stars (not 3 stars, as we currently show).

This has been brought up by a couple of developers before, and it is a big disadvantage for those with average ratings close to the top of the half-rating

[2018-04-12 21:51] jvillalobos commented on #4186
Closing per previous comment.

[2018-04-12 21:51] #4186 closed

[2018-04-12 22:29] bobsilverberg commented on #4784
Thanks @jvillalobos. You only mention ratings under 3.5. I assume from this that you also want to round up to full stars? I.e., a rating of 3.9 would render as 4 stars? Where exactly is this cutoff? 3.25 and 3.75? And if so, do we round .25 up or down, and do we round .75 up or down?

[2018-04-13 11:17] smayer97 opened #4788 "Collection content is missing Comments and Date Added section for each add-on"
### Describe the problem and steps to reproduce it:

When viewing the content of a Collection, the Comment text added to the collection and the date the add-on was added to the collection do not show up.

### What happened?
They are only visible when editing the collection but no one else can see them.

### What did you expect to happen?
That comments and the date an add-on was added be displayed

[2018-04-13 11:27] #4778 closed

[2018-04-13 11:27] smayer97 opened #4790 "Add Sort By feature to content view of Add-on Collection"
### Describe the problem and steps to reproduce it:
Would like to see sort feature added to view of contents of add-on collection view.

### What happened?
Cannot sort contents of Collection.

### What did you expect to happen?
Ability to sort by Name, # Users, Date Add-On Added to collection.

### Anything else we should know?

Would make browsing content of collection more useful.

[2018-04-13 11:28] smayer97 commented on #4790
Related:
Collection content is missing Comments and Date Added section for each add-on:
https://github.com/mozilla/addons-frontend/issues/4788

[2018-04-13 11:34] smayer97 opened #4791 "Add option to display more or all add-ons on the content view of collections"
### Describe the problem and steps to reproduce it:

Viewing the content of a collection is limited to 25 per page.

### What happened?
as above

### What did you expect to happen?
Have an option to be able to view more add-ons at one time...
Ideally option to view ALL. Another option to set the # to display.
Would also be nice to save this setting in user profile.

### Anything else we should kno

[2018-04-13 11:48] smayer97 opened #4792 "Content view for Collection missing link to show other collections by same creator."
### Describe the problem and steps to reproduce it:
Opening view of add-ons in collection give info about collection at the top but offers no link to see other collections by the same creator.

### What happened?
as above.

### What did you expect to happen?
To be able to click a link to pull up list of other collections by the same creator.

### Anything else we should know?

[2018-04-13 12:09] smayer97 opened #4793 "Title/Name and Description fields for Collection are blank and do not show up in Edit Collection view."
### Describe the problem and steps to reproduce it:

The page showing the content of an add-on contains the Title/Name of the Collection AND the description of the collection BUT when you go to edit the collection, that information is not populated in their respective fields.

### What happened?
Name and Description fields in the Edit Collection window are blank, even though the data shows up on t

[2018-04-13 12:15] smayer97 commented on #4778
Please consider the following issue:
Title/Name and Description fields for Collection are blank and do not show up in Edit Collection view. https://github.com/mozilla/addons-frontend/issues/4793

The above applies to the old/current Edit Collection page but want to make sure that this is not a problem in the new one either.

[2018-04-13 12:17] smayer97 commented on #4778
BTW the way, this new view is missing the Date Added column, like in the old/current view. Please consider adding this too.

[2018-04-13 12:19] smayer97 opened #4794 "Date Added column missing from new Edit Collection window"
### Describe the problem and steps to reproduce it:
The new view for the Edit Collection window (not yet deployed) is missing the Date Added column, like in the old/current view. Please consider adding this too.

### What happened?

### What did you expect to happen?
To see the Date Added column like in the old/current Edit Collection view.

### Anything else we should know?

See Implement an Edit

[2018-04-13 12:27] smayer97 opened #4795 "Add Sort By feature in the new Edit Collection window"
### Describe the problem and steps to reproduce it:

Would be helpful to have the ability to sort the list of add-ons in the new Edit Collection window.
(see Implement an EditableCollectionAddon component to support the new Edit collections screen https://github.com/mozilla/addons-frontend/issues/4778 )

Sort by clicking column title. Sort by Name, Date Added.

### What happened?
Cannot sort list

[2018-04-13 12:29] smayer97 commented on #4778
I hope this new Edit Collection window will allow the option of listing more than 25 add-ons at a time, as other add-on lists are currently limited to.

[2018-04-13 12:38] smayer97 commented on #4003
Missing Privacy settings like old/current Edit Collection window:
- Only I can view this collection
- Anybody can view this collection.

[2018-04-13 12:39] smayer97 commented on #4794
Also related:
Add an add-on to a collection from the edit screen
https://github.com/mozilla/addons-frontend/issues/4590

[2018-04-13 12:39] smayer97 commented on #4795
Also related:
Add an add-on to a collection from the edit screen
https://github.com/mozilla/addons-frontend/issues/4590

[2018-04-13 12:42] smayer97 commented on #4778
Just saw this: https://github.com/mozilla/addons-frontend/pull/4783

Should my posts above be move to that thread?

[2018-04-13 13:34] ioanarusiczki commented on #4650
Verified fixed on AMO dev with FF59(Win10). The Collection name and Collection slug are mandatory fields. The issue is no longer reproducible.

[2018-04-13 14:40] ioanarusiczki opened #4796 "User info card - More extensions and More themes sections display the username"
STR:
1. Load AMO dev and go to Edit profile.
2. Make sure that the Username and Display Name are different or edit them and save changes.
3. Go to View my profile and observe the name displayed in More extensions and More themes sections.

Expected result:
Display name is visible.

Actual result:
The username is displayed.

Notes:
This issue is reproducible on AMO dev with FF59(Win10).

![names](h

[2018-04-13 15:00] ioanarusiczki opened #4797 "404 Page not found when refreshing view profile page after the username is updated"
STR:
1. Load AMO dev and go to View Profile
2. Open a new tab load AMO dev and go to Edit Profile
3. Edit the username and save changes
4. Go back to the View profile from the first tab and refresh page
5. Observe page

Expected result:
User info card is displayed.

Actual result:
404 Page not found.

Notes:
This issue is reproducible on AMO dev with FF59(Win10).
I could not reproduce it when edit

[2018-04-13 15:15] ioanarusiczki commented on #4281
@tofumatt I've been doing some testing on AMO dev with FF59 (Win10).

I have three questions:

1. The  "More Themes by DevTesting" is displayed in both cases: user view and public view. I don't know if the text "Themes I've created" is expected to be displayed as in the card displayed above and also as it is mentioned in the tracker https://github.com/mozilla/addons-frontend/issues/2749
2. A numbe

[2018-04-13 15:17] tofumatt commented on #4281
1. Eventually yes, but that should be a follow-up issue. It's related to #4774
2. This is intentional.
3. Correct, this will be a lot of work to implement properly actually :)
4. 👍

[2018-04-13 15:22] drinkact opened #4798 "cryptotab"
### What happened? criptotab

[2018-04-13 15:29] jvillalobos commented on #4798
The add-on was removed due to pending review issues. It's up to the developer to bring it back.

[2018-04-13 15:29] #4798 closed

[2018-04-13 15:42] jvillalobos commented on #4790
Duplicate of https://github.com/mozilla/addons-frontend/issues/3991

[2018-04-13 15:42] #4790 closed

[2018-04-13 15:44] jvillalobos commented on #4795
Probably a duplicate of https://github.com/mozilla/addons-frontend/issues/3991. Reopen if it isn't addressed with that issue.

[2018-04-13 15:44] #4795 closed

[2018-04-13 15:45] jvillalobos commented on #4791
We won't be optimizing the collections feature for very large collections. This feature wouldn't be useful for the majority of users, so maintaining it isn't worth the cost.

[2018-04-13 15:45] #4791 closed

[2018-04-13 15:46] jvillalobos commented on #4792
This is by design. Collections are now meant to be private unless shared by the creator, so there's no way to discover collections unless there's a public link elsewhere.

[2018-04-13 15:46] #4792 closed

[2018-04-13 15:48] jvillalobos commented on #4003
This is by design. Collections are now meant to be private (but still accessible by anyone) unless shared by the creator, so there's no privacy setting anymore. Existing private collections are still protected, however.

[2018-04-13 15:49] jvillalobos commented on #4794
What is the rationale for having this column in the edit screen?

[2018-04-13 15:51] jvillalobos commented on #4793
Can you provide some links to the collections you're trying to edit? I tested it with one of mine and I can't reproduce the problem.

[2018-04-13 16:33] jvillalobos commented on #4331
I don't think we should do this. It will make the add feature more complex than it needs to be, and turn it into a multi-collection management tool that is only useful for a small group of users. Collections can be managed in the My Collections and Edit pages. The add feature should be limited to that.

This feature can already be used to add an add-on to multiple collections, by using it multiple

[2018-04-13 16:33] #4331 closed

[2018-04-13 18:25] smayer97 commented on #4795
For working with larger collections, easier to find an add-on.
Also keeps the view consistent when going from the list of addons in the view of the Collection to the Edit window.

[2018-04-13 18:29] smayer97 commented on #3991
I would recommend that instead of a drop-down menu, that it be the ability to click on Column Header to trigger the sort.
Also would be nice to be able to remember last sort used.

[2018-04-13 18:33] smayer97 commented on #4794
For working with larger collections, easier to find an add-on.
Also keeps the view consistent when going from the list of addons in the view of the Collection to the Edit window.

BUT this is already part of and implied by 'Sort add-ons in a collection':
https://github.com/mozilla/addons-frontend/issues/3991

So if it is, and this detail is not lost in https://github.com/mozilla/addons-frontend/is

[2018-04-13 18:35] smayer97 commented on #3991
And as implied by the grpahic in the OP, the "Date Added" field needs to be add/included.

If not treated as part of this issue, see this issue entry:
Date Added column missing from new Edit Collection window
https://github.com/mozilla/addons-frontend/issues/4794

[2018-04-13 18:36] smayer97 commented on #4795
Yes. It is a duplicate. Thx.

[2018-04-13 18:41] smayer97 commented on #4791
Oh Well. That's too bad.

[2018-04-13 18:45] smayer97 commented on #4795
Sorry...NOT a duplicate... https://github.com/mozilla/addons-frontend/issues/3991 is about sorting the Add-on Collection main view. This request is about sorting the Edit Collection view.

[2018-04-13 18:50] smayer97 commented on #4792
Why have they been made private? and how do you make a public link?

So is the plan to no longer be able to share and promote collections?

[2018-04-13 18:52] smayer97 commented on #4003
so like https://github.com/mozilla/addons-frontend/issues/4792

How do you share the collection?

And is the plan to no longer be able to share and promote collections via AMO?

[2018-04-13 18:53] smayer97 commented on #4792
just for cross-ref:
https://github.com/mozilla/addons-frontend/issues/4003

[2018-04-13 19:01] smayer97 commented on #4793
- ANY of my collections will not show the Title/Name in the Edit Collection page and ANY with description info will also not be populated.
Examples:
https://addons.mozilla.org/en-GB/firefox/collections/smayer97/for-parental-control/edit/
https://addons.mozilla.org/en-GB/firefox/collections/smayer97/for-mr-tech-toolkit/edit/
https://addons.mozilla.org/en-GB/firefox/collections/smayer97/for-managing

[2018-04-13 19:03] smayer97 commented on #4003
Also, what does this mean for the Followers of Collections; tracking the #s, getting notifications when new add-ons are added, etc? Is this all going away too?

[2018-04-13 19:03] smayer97 commented on #4792
Also, what does this mean for the Followers of Collections; tracking the #s, getting notifications when new add-ons are added, etc? Is this all going away too?

[2018-04-13 19:05] realslimshanky commented on #4793
@smayer97 links aren't helpful as they are not accessible. Could you please share screenshots or GIF?

[2018-04-13 21:44] WiliTest commented on #942
but how do you add a comment?

[2018-04-13 23:12] Kristofp opened #4801 "The cryptotab extension could not be found"
### Describe the problem and steps to reproduce it:

### What happened?
The cryptotab extension could not be found
https://addons.mozilla.org/firefox/addon/cryptotab/
### What did you expect to happen?
I expected to be able to download the extension
### Anything else we should know?

[2018-04-13 23:26] Kristofp commented on #4751
Seems that the cryptotab extension is gone

[2018-04-14 11:41] smayer97 commented on #4793
I was asked to provide links...Anyway, try as I might, I cannot get github to load the images...I have tried copy & paste, drag & drop, and even selecting the files via the dialog box but github does not respond...it just does nothing. I tried different browsers... so not sure what else to try.

Here are the links again without the /edit/ at the end. That should take you to the collections.

https

[2018-04-14 16:40] smayer97 commented on #4331
No, No, No. Please say it ain't so. The Add To Collection is NOT simply about adding an addon!

Sorry in advance for my long post...but I just am not sure how to get my point across better...

(Let me also bring in the text from your other related post https://github.com/mozilla/addons/issues/679#issuecomment-381192154 to make my points easier to make.)

"My argument is that the Add to Collection

[2018-04-14 16:43] smayer97 commented on #4331
BTW, I also the your suggestion you made here: https://github.com/mozilla/addons/issues/679#issuecomment-379908984

"it may make sense to linkify the collection name in the notification that appears after an add-on is added to it, or it could be a link next to it ("Edit", "Add Notes", or something like that)."

I would suggest that this be a bonus, not a replacement for what I am suggesting. And I

[2018-04-14 16:55] smayer97 commented on #4793
![screen shot 2018-04-13 at 8 01 00 am](https://user-images.githubusercontent.com/6752849/38770565-7fa0fcc8-4004-11e8-89c1-49cbbf7e6c29.png)

![screen shot 2018-04-13 at 8 01 19 am](https://user-images.githubusercontent.com/6752849/38770573-8a5e3c16-4004-11e8-8414-5361e229e7ba.png)

![screen shot 2018-04-13 at 8 02 07 am](https://user-images.githubusercontent.com/6752849/38770574-90b236f8-4004-11e

[2018-04-14 19:45] championshuttler commented on #4801
Hi @Kristofp, Thanks for raising issue.
Are you looking for this add-on?
https://addons.mozilla.org/en-US/firefox/addon/crypto-tab/

[2018-04-14 23:10] Kristofp commented on #4801
No that's a different extension

[2018-04-14 23:12] Kristofp commented on #4801
I mean the one you find if you go to this page with Firefox there's a button to install the extension however it does not seem to exist.
[https://getcryptotab.com](https://getcryptotab.com/409337)

[2018-04-15 02:04] roman90sv opened #4803 "There is no page for the collection you created."
But I can edit and delete collections.
___
![45](https://user-images.githubusercontent.com/35082918/38774161-7ca2a588-406a-11e8-8165-b4139c52133b.JPG)
___
Also, add-ons that I add to the collection have a "pending" status.
___
![4545](https://user-images.githubusercontent.com/35082918/38774165-82bde7ca-406a-11e8-81d3-97d7f33b0385.JPG)

[2018-04-15 17:56] ArturXXD opened #4805 "gg"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-15 20:50] grahamperrin opened #4806 "More extensions by anonymous…"
At https://addons.mozilla.org/addon/session-boss/ https://addons.mozilla.org/addon/clear-site-cookies/ and https://addons.mozilla.org/addon/tip-tab/ – all three of which are by _William Wng_, there's what seems to be a user ID (not his name):

[2018-04-16 05:59] AlexandraMoga commented on #4797
This issue seems to be related to #4421

[2018-04-16 08:29] muffinresearch commented on #4730
@realslimshanky thanks for the update - glad you got it working in the end.

[2018-04-16 08:29] #4730 closed

[2018-04-16 08:50] ioanarusiczki commented on #4280
@tofumatt
Two questions here:
1. The number of ad-ons displayed is three (when number of submitted ad-ons in dev hub is more than3).  I have an account with many add-ons (30 plus), also many lightweight themes. If I refresh the page or log out then log in later the [User Profile](https://addons-dev.allizom.org/en-US/firefox/user/DevTesting/) page displays same ad-ons and themes. Shouldn't this be

[2018-04-16 08:58] ioanarusiczki commented on #4281
It is verified fixed on AMO dev with FF59 (Win10).

[2018-04-16 09:03] realslimshanky commented on #4730
Thanks you for helping me out :)

[2018-04-16 09:15] #4805 closed

[2018-04-16 09:34] tofumatt commented on #4280
1. Could you please send a link? That might be better filed as new issue though.

2. Are static themes a new theme type (cc @eviljeff)? Sounds like a new issue, maybe we need to expand the addonType we search for.

- Matt (Sent from mobile)

[2018-04-16 13:05] ioanarusiczki opened #4809 "Paginate extensions and themes views on user profile so they are all accessible"
Prerequisites:
Make sure that you have an account with more than 3 extensions and 6 themes submitted and approved.

STR:
1. Load AMO dev and go to your User Profile page.
2. Observe the displayed extensions and themes.
3. Refresh page multiple times.
4. Observe the displayed extensions and themes.
5. Check for a See more by Username link.

Expected results:
Different extensions are displayed after

[2018-04-16 13:25] ioanarusiczki opened #4810 "Static themes are not displayed on the new User info card"
Prerequisites:
Make sure you have an account with static themes submitted and approved

STR:
1. Load AMO dev and click on View Profile.
2. Observe the "More themes by" section.

Expected result:
Static themes are displayed in the "More themes" section.

Actual result:
Only lightweight themes are displayed.

Notes:
This issue is reproducible on AMO dev with FF59 (Win10).

![static themes](https://u

[2018-04-16 13:27] #4590 closed

[2018-04-16 13:29] ioanarusiczki commented on #4280
@tofumatt
I filed two separate issues
the More/Refresh issue https://github.com/mozilla/addons-frontend/issues/4809
the Static Themes https://github.com/mozilla/addons-frontend/issues/4810

Marking this verified fixed on AMO dev with FF59 (Win10).

[2018-04-16 13:57] bobsilverberg commented on #4806
This looks like a problem with the newly introduced `AddonsByAuthorsCard`. I'll look into it.

[2018-04-16 14:08] bobsilverberg commented on #4803
Thanks for the bug report @roman90sv. It looks like the slug for your collection is `00` (that is two zeros), is that correct? I believe there may be a problem displaying collections with slugs that only contain numbers, and I think there may in fact be an issue filed for that already. I'll take a look for that, but can you please confirm the above? If your collection does have a slug of `00`, cou

[2018-04-16 14:28] bobsilverberg commented on #4793
I am also unable to reproduce this problem, either locally or in production. @smayer97 Could you possibly attach a picture of the console window for this page? I'm wondering if any errors are shown?

[2018-04-16 14:30] ioanarusiczki commented on #4771
I verified this issue on AMO dev with FF59(Win10 and Android 8.0)
The Search in Collections - returns extensions instead of collections issue logged https://github.com/mozilla/addons-server/issues/7448 with a won't fix because new page is going to be implemented
Same for https://github.com/mozilla/addons-server/issues/7394

[2018-04-16 14:41] bobsilverberg commented on #4809
I'm not sure about whether we should randomize the extensions displayed, like we do for the Hero elements on the home page, but I agree we should at least provide a link somewhere to see all of the extensions/themes for an author.

@jvillalobos what do you think this needs? @pwalm Where do you think the link should go?

[2018-04-16 14:44] ioanarusiczki commented on #4770
Verified fixed on AMO dev with FF59 (Win10).

![settings](https://user-images.githubusercontent.com/33448286/38815929-a8c77dda-419d-11e8-92de-4c2ee6604522.png)

[2018-04-16 14:52] bobsilverberg commented on #4806
I see that this in fact  duplicates #4796, so I will close in in favour of that.

[2018-04-16 14:52] #4806 closed

[2018-04-16 14:57] smayer97 commented on #4793
Web Console or Browser Console?

[2018-04-16 14:59] bobsilverberg commented on #4796
To be clear, this is not an exact duplicate of #4806. That issue is about the "More add-ons by author" card on the add-on detail page whereas this is about the same card, but on the profile page. The fix for both will be implemented in the same patch, so this can remain as the only open issue, but note that it covers both locations of the card.

[2018-04-16 15:15] AlexandraMoga opened #4812 "Collections with a large number of add-ons have a long loading time"
STR:

1. Log in to AMO-dev with an Admin account and check the details page for a collection with a large number of add-ons - see https://addons-dev.allizom.org/de/firefox/collections/AlexandraMoga1/friday-afternoon-100/
2. Click on Edit collection
3. Check the time it takes for the collection to load

Actual result:
The loading time is a bit too long when the collection has over 100 add-ons. For

[2018-04-16 15:17] AlexandraMoga opened #4813 "Unbroken strings in collection names are breaking the layout of the edit collection form on smaller screen sizes"
STR:

1. Log in to AMO-dev with an Admin account on an Android device
2. Check the details page for a collection - see https://addons-dev.allizom.org/en-US/firefox/collections/AlexandraMoga1/testing-collection-urlid/
3. Click on Edit Collection
4. Observe the layout of the add-on list below the edit collection form

Actual result:
Unbroken strings in collection names are breaking the layout of the

[2018-04-16 15:18] AlexandraMoga commented on #4778
Verified on AMO-dev, with FF59, Win10x64 and Android 7.0

- a list of all add-ons available in the collection is opened on the right side when the user hits Edit collection
- collection name and description are present when selecting edit collection
- for collections with a large number of add-ons, loading time is too long - filed #4812
- collection names with unbroken strings are breaking the fro

[2018-04-16 15:33] tofumatt commented on #4280
Yeah, the cards are explicitly just supposed to show extensions and themes so the other types are ignored. But I didn’t know about the new static theme type. We’ll have to add that.

- Matt (Sent from mobile)

[2018-04-16 16:17] designakt opened #4814 "Sharing on fb might result in the wrong text being used as description"
### steps to reproduce
- Pick an extension with a short short-description (e.g. [uBlock Origin](https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/))
- share this URL on facebook
- read the copy facebook used to describe the extension

### expected result
I expected to see the short-description the extension-author wrote.
(Maybe started with some text we provide…)

### actual result
Face

[2018-04-16 16:32] bobsilverberg commented on #4793
Web Console, please and thank you. 😃

[2018-04-16 16:59] muffinresearch commented on #3907
Supeceded by #3992

[2018-04-16 16:59] #3907 closed

[2018-04-16 17:55] smayer97 commented on #4793
for https://addons.mozilla.org/en-GB/firefox/collections/smayer97/for-mr-tech-toolkit/edit/

![screen shot 2018-04-16 at 1 53 28 pm](https://user-images.githubusercontent.com/6752849/38826418-49715660-419f-11e8-8a5e-4dcbb64ad47f.png)

[2018-04-16 17:57] smayer97 commented on #4793
for https://addons.mozilla.org/en-GB/firefox/collections/smayer97/for-managing-documents/edit

![screen shot 2018-04-16 at 1 56 26 pm](https://user-images.githubusercontent.com/6752849/38826529-9db2149e-419f-11e8-8e97-4c08a4b0ef4c.png)

[2018-04-16 17:58] smayer97 commented on #4793
for https://addons.mozilla.org/en-GB/firefox/collections/smayer97/for-parental-control/edit/

![screen shot 2018-04-16 at 1 58 15 pm](https://user-images.githubusercontent.com/6752849/38826583-ca68b4de-419f-11e8-878b-8a51e14fe97f.png)

[2018-04-16 18:38] bobsilverberg opened #4818 "The "More add-ons by..." card does not appear on the add-on details page when the current add-on has more than one author"
STR:

1. Visit the details page for an extension with more than one author, e.g., https://addons-dev.allizom.org/en-US/firefox/addon/easy-passwords/.

Expected:

A card showing "More extensions by these developers" appears towards the bottom of the page (below the Permissions card).

Actual:

The "More extensions by these developers" does not appear on the page.

[2018-04-16 18:53] peiying2 opened #4819 "Strings for Facebook Container extension page not localizable"
### Describe the problem and steps to reproduce it:
Localization communities and marketing would like to see this page localizable soon. The marketing page on mozilla.org in many languages are on production, promoting this.

### What happened?
Strings from this page are not extracted for localization: https://addons.mozilla.org/firefox/addon/facebook-container/

### What did you expect to happen?

[2018-04-16 18:53] peiying2 commented on #4819
@muffinresearch any ETA on this?

[2018-04-16 19:02] EnTeQuAk commented on #4819
You're talking about the description and name etc? These can be
localized through the devhub by the respective developers. We are
working on updating that process so that more metadata will be extracted
from the XPI directly but for now it's a manual process.
Involving Pontoon is something we can't do and would involve a huge
amount of work.

On Mon, Apr 16, 2018, at 8:53 PM, Peiying wrote:

Links

[2018-04-16 19:27] tofumatt commented on #4818
I would think that doing that would prevent future improvements but I suppose for now it would work. I guess the main use case is covered by byAuthorNamesAndAddonType so actually yeah that might well be fine. I’d say give it a go and we could always revert the code.

[2018-04-16 20:46] jvillalobos commented on #4793
I can reproduce the issue with the links provided by @smayer97.

[2018-04-16 20:49] peiying2 commented on #4819
Yes, the name and description. This is unfortunate. We heavily promote the page, but it is in English only.

[2018-04-16 20:50] jvillalobos commented on #4814
Dupe of https://github.com/mozilla/addons-frontend/issues/3969

[2018-04-16 20:50] #4814 closed

[2018-04-16 21:01] jvillalobos commented on #4809
I would prefer that we do two things:

1) We show more add-ons by default in the developer page. At least 10 of each kind.
2) Have pagination on those views, so it's possible to look at the next page of extensions or themes without having to go to a different page. This means the default view should not be randomized. Sorting by users is what makes most sense to me.

[2018-04-16 21:14] jvillalobos commented on #4801
Duplicate of https://github.com/mozilla/addons-frontend/issues/4751

[2018-04-16 21:14] #4801 closed

[2018-04-16 21:18] peiying2 commented on #4819
@EnTeQuAk We need the German version out. Can we get it done for German only? I will share the localized content once I have it.

[2018-04-16 22:19] jvillalobos commented on #4792
Collections are often a target for spammers, since they are trivial to create, have user-generated content, and are immediately published and browseable on the site. Additionally collections are a very complex feature that is secondary to AMO's purpose, and has bugs (including security issues) reported about them often. Greatly simplifying the feature was a requirement to keep it. The alternative

[2018-04-16 23:29] smayer97 commented on #4792
Thanks for the reply. That is very very unfortunate and sad...one more discoverability feature gone to help leverage what others discover. I know some collections are very well followed.

Too bad the complexity seems to outweigh their potential benefit.

But I would contend that although collections may be somewhat secondary, please keep in mind that the number of people impacted by them numbers f

[2018-04-17 01:28] sohel69 opened #4821 "Good"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-17 05:59] AlexandraMoga commented on #4653
@eviljeff  here is an example: https://addons-dev.allizom.org/en-US/firefox/collections/AlexandraMoga1/1234/
Is there a server issue opened already to track this?

[2018-04-17 06:02] AlexandraMoga commented on #4803
@bobsilverberg  the same issue was reported in #4653, which is now closed and waiting to be handled at the server level.

[2018-04-17 07:46] isdaan opened #4822 "Mozilla"
### Describe the problem and steps to reproduce it:
<!I clicked a link on Firefox browser to add CryptoTab>

###I received error : Sorry, but we can't find anything at the address you entered.

### I expected to have been able to add the app to FireFox

### I have also been trying to add the Cryptotab from the Adons page in FireFox but it will not add

[2018-04-17 07:55] #4822 closed

[2018-04-17 07:56] EnTeQuAk commented on #4822
This bug tracker is for the addons.mozilla.org site directly. If you have a problem with the CryptoTab Add-on please contact the author directly: https://cryptotab.net/en/

[2018-04-17 08:13] #4821 closed

[2018-04-17 08:53] muffinresearch commented on #4819
@peiying2 As @EnTeQuAk mentioned it's up to the Mozilla extension developers to localize it - can you reach out to them and ask them to update it via the AMO developer hub?

[2018-04-17 09:31] AlexandraMoga commented on #4186
My initial issue was targeting the tooltip displayed for a particular add-on but after a re-check on prod, I can see that the same add-on is showing now the right/current calculation logic.
![image](https://user-images.githubusercontent.com/31961530/38861393-26314664-423b-11e8-8788-1978997e7eef.png)

Based on that I will mark this as verified fixed.

[2018-04-17 09:52] muffinresearch opened #4823 "Codecov is broken"
Looks like coverage reports aren't being created and it's been broken for ~17 days.

It would be good for this to cause the test run to fail, otherwise this slips by unnoticed.

Looking at the logs shows:

[code]

[2018-04-17 10:34] AlexandraMoga opened #4824 "Edited fields are reset when adding a new add-on to a collection in the edit collection form"
Follow up for #4590

STR:

1. Log in to AMO-dev and select a previously created collection to view its details page
2. Click on Edit collection
3. Edit the name, description, slug fileds
4. Search for a new add-on to add to your collection and select one of the returned search suggestions
5. Observe the fields edited at point 3

Actual result:
The edited fields are reset to their previous values w

[2018-04-17 11:33] AlexandraMoga opened #4825 "Search suggestions list in create a collection form is cut off"
Follow up for #4003

STR:

1. Log in to AMO-dev and follow [this link](http://addons-dev.allizom.org/en-US/firefox/collections/add/) to access the create collection form
3. Enter a search term in the search field available in the form
4. Observe the list with add-on suggestions

Actual result:
There are only 4 add-ons displayed and the list looks cut off

Expected result:
The search suggestion lis

[2018-04-17 12:00] AlexandraMoga opened #4827 "'Save collection' button is disabled at page refresh in a completed Create a collection form"
Follow up for #4003

STR

1. Log in to AMO-dev and follow [this link](http://addons-dev.allizom.org/en-US/firefox/collections/add/) to access the create collection form
2. Fill in the mandatory Name and URL fields
3. Refresh the page
4. Observe the state of the "Save Collection" button

Actual result:
Save Collection button is disabled after page refresh even if the mandatory fields still contain

[2018-04-17 12:02] #4823 closed

[2018-04-17 13:02] bobsilverberg commented on #4818
After going down that rabbit hold for awhile I realized that there's probably a much simpler fix to this, which I then discovered. So while I'm still not a big fan of having unused code in the codebase, I did not remove anything for this issue, and just came up with a quick (but not dirty) fix in #4828.

[2018-04-17 13:18] bobsilverberg commented on #4812
This is likely the result of a design decision I made, which perhaps should be changed. I figured it was best to load all of the collection's add-ons when we switch into edit mode, because that seems like the easiest way to allow a user to manage their collection. It also means when we add an add-on to a collection from the edit screen, we don't need to worry about displaying a page which does not

[2018-04-17 13:24] ioanarusiczki opened #4829 "Cannot add new extensions or themes into a collection with an admin account"
Prerequisites:
Must have at least one admin account

STR:
1. Load AMO dev and log in with an account without admin rights, search a collection, open it's edit page.
2. Log out then click the Log in to edit this collection but this time use the admin credentials.
3. Enter a term in the search field and try to add it to the collection created by the other user.
4. Observe behavior.

Expected result:

[2018-04-17 13:24] bobsilverberg commented on #4810
There is some discussion about this at https://github.com/mozilla/addons-frontend/issues/4280#issuecomment-381644228. It sounds like we do want to add static themes to this page, but it's not clear whether they should be added to the existing "More themes by" card or whether they should have their own card.

@jvillalobos Do you have thoughts on this?

[2018-04-17 13:28] bobsilverberg commented on #4809
@jvillalobos or @ioanarusiczki would one of you mind filing two separate issues for the suggestions at https://github.com/mozilla/addons-frontend/issues/4809#issuecomment-381748215? I suppose we could morph this issue into one of them, as it sounds like we are no longer requesting a "See more" link.

[2018-04-17 13:29] bobsilverberg commented on #4803
Thanks @AlexandraMoga. Let's wait to see if @roman90sv reports that changing the slug fixes the issue, and then I think we can close this as a duplicate.

[2018-04-17 13:37] bobsilverberg commented on #4797
As #4421 is a P4 and is very similar, I'm marking this as a P4 as well.

[2018-04-17 13:50] ioanarusiczki commented on #4590
I verified this issue on AMO dev with FF59 (Win10) and Android 8.0
1. The search seems to work alright, a list of mixed themes and extensions are displayed on the right and for now their order cannot be edited. Also remove is not functional (these are upcoming implementations).
2. I filed https://github.com/mozilla/addons-frontend/issues/4829
3. I'll update this if any other issues are found while

[2018-04-17 14:12] ioanarusiczki opened #4830 "User profile page is not correctly displayed on small devices in portrait orientation"
STR:
1. Load AMO dev with FF59 (Win10) with an account that has submitted extensions/themes.
2. Click on View Profile from the drop down menu below user's name.
3. Observe page.

Expected result:
More extensions and More themes sections are displayed correctly.

Actual result:
Sections are truncated.

Notes:
This issue is not reproducible when the android device is in landscape view.
This issue is

[2018-04-17 14:38] ioanarusiczki commented on #4527
Looks good to me.  Better on small devices than on desktop but that's the usual.
Verified fixed on AMO dev with FF59 (Win10 and Android 8.0)

[2018-04-17 17:27] jvillalobos opened #4832 "Display more extensions and themes in user profile page"
Branched off from #4809.

We should show at least 10 extensions and 10 themes in the user profile page, so it doesn't require too much clicking to cycle through all add-ons for most developers (some theme designers have thousands of those, but we're not optimizing for that case).

It looks like 4 lines of themes in the original mock would show 12 themes, which is sufficient IMO.

[2018-04-17 17:28] jvillalobos commented on #4810
We shouldn't make a distinction between static and lightweight themes for users, so it should be on the same card.

[2018-04-17 17:43] #4818 closed

[2018-04-17 17:52] digitarald commented on #3732
This came up again in a [perf audit webinar](https://www.smashingmagazine.com/smashing-tv/auditing-performance-live/) that @tkadlec did recently for smashing conf (prompted by [me](https://twitter.com/digitarald/status/981654266837286912)).

Re-testing, on DSL the fonts cause the page to stay empty for 2sec+, which is close to hitting the browser cap (3sec) to fall back to the default font:

![fil

[2018-04-17 18:16] bobsilverberg commented on #4827
What's happening here is that the form itself is bound to a collection. When the form first loads, without a collection, empty values are stored in its state for `name` and `slug`. If you refresh the page, that state is reset, because there is still no collection, so React thinks there are no values for `name` and `slug`. The browser, however, remembers whatever value you entered and redisplays it

[2018-04-17 18:48] bobsilverberg commented on #4827
I did a bit more digging, and I do believe that the only way to address this is to store whatever the user entered somewhere, either in the Redux store, or in localStorage, and there seems like there would be a cost to that, particularly because to do it properly would mean doing it for every keystroke. So I think we need to decide if this is something that is important to support.

[2018-04-17 19:41] jvillalobos commented on #4812
It sounds like it's still possible to edit large collections currently, just slow, so this is low priority IMO. I think we should investigate if it's possible to make performance improvements without UX changes, and take that direction if it isn't too much effort. Otherwise, pagination sounds like the best next step.

[2018-04-17 20:10] #4796 closed

[2018-04-17 20:25] bobsilverberg opened #4833 "Implement reducer and saga code to support fetching and loading only the add-ons in a collection"
We should be able to fetch and load only the add-ons in a collection, without having to fetch and load the collection itself. This issue covers changes required to reducers and sagas to support this. I don't think any changes will be required to the api code, as an API call already exists to retrieve collection add-ons.

[2018-04-17 20:28] bobsilverberg opened #4834 "Use pagination for the list of add-ons that are currently in a collection in edit mode"
Tracker: #4835
Depends on #4833.

This covers changing the behaviour of the collection edit screen so that when an add-on is added to a collection we only refresh the list of add-ons in the collection, and do not refresh the collection itself.

[2018-04-17 20:30] bobsilverberg opened #4835 "Allow for only add-ons in a collection to be fetched and loaded, and use this for the collection edit screen"
This is a tracker which blocks the fix for #4824, and depends on #4833 and #4834.

[2018-04-17 20:58] devaneymoz opened #4838 "26 April Homepage programming update"
For the **26 April** push, please update homepage content the programming as outlined [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @bobsilverberg @diox

[2018-04-18 00:05] peiying2 commented on #4819
Sorry for not knowing all the details. You mean here: https://addons.mozilla.org/en-US/developers/ (localized site of course)? Or is it through github? If so, what is the link?

[2018-04-18 04:25] digitarald commented on #3732
For comparison, this is how it looks with fallback font (which triggered for 3G after 3sec).

![image](https://user-images.githubusercontent.com/8599/38911653-a97244e8-4285-11e8-99f4-e7eed9f6ee91.png)

![image](https://user-images.githubusercontent.com/8599/38911646-9a34c96a-4285-11e8-9c91-fdb1fc550102.png)

While this shows that the fallback works pretty well and doesn't seen to shift the layout,

[2018-04-18 04:35] EnTeQuAk commented on #4819
Yes, the add-on is being localized in https://addons.mozilla.org/en-US/developers/, once the respective maintainer of the "Facebook Container" add-on logs in he can enter all the localized detail information.

[2018-04-18 04:44] EnTeQuAk commented on #4827
I'm sure we don't have to support this, it's quite unsupported everywhere in the web, although very unfortunate for accidental page reloads.

It's curious though that after a refresh the page doesn't detect that the values are already in the form. I'd assume the same field-monitoring applies here.

[2018-04-18 06:29] AlexandraMoga opened #4842 "Possible improvements for add to collection feature"
Follow up for #4590

STR:
1. Log in to AMO and select  a collection that has a large number of add-ons ( see https://addons-dev.allizom.org/en-US/firefox/collections/AlexandraMoga1/friday-afternoon-100-andro/)
2. Click on Edit collection
3. Use the search feature to add a new add-on in this collection

Expected results:
1. There should be a confirmation message that the add-on was successfully add

[2018-04-18 07:04] AlexandraMoga opened #4843 "Possible improvement for the create a collection form"
Follow up for #4003

STR:

1. Log in to AMO-dev and follow [this link](http://addons-dev.allizom.org/en-US/firefox/collections/add/) to access the create collection form
2. Observe the page layout

Actual result:
The page has a lot of unused space, which makes the form a bit bland

Expected result:
There could be a placeholder on the right side of the page to mark the fact that the add-ons which a

[2018-04-18 08:34] ioanarusiczki commented on #4809
@jvillalobos Sounds like an elegant approach 👍

[2018-04-18 09:06] muffinresearch commented on #4827
@bobsilverberg could the current disabled state for the button be derived from whether the form is filled in (this could probably be calculated dynamically based on whether the form is valid instead of tracking the values) rather than using other state?

FWIW elsewhere e.g. in reviews we're saving the form values via localForage so that users don't lose content that they're halfway through enterin

[2018-04-18 09:38] #4825 closed

[2018-04-18 11:11] tsl143 commented on #4832
@jvillalobos so is the scope of this bug is just increasing the number of addons to 10 and themes to 12?

[2018-04-18 11:14] bobsilverberg commented on #4842
1. Sounds good to me. @pwalm could you suggest where that message should appear? I'm thinking maybe above the edit form, the same place that error messages currently appear.
2. This also sounds like a good idea, again, not sure exactly how it should look.
3. I'm not against this approach, and it would actually improve performance, because we wouldn't have to re-fetch the collection add-ons each ti

[2018-04-18 12:37] ioanarusiczki commented on #4796
This issue is verified fixed on AMO dev with FF59 (Win10).
@bobsilverberg I tested for https://github.com/mozilla/addons-frontend/issues/4806 and I noticed that when the display name is edited the add-on detail page has a delay in updating it on the add-ons detail page. Same situation if the display name field is left blank and only the username is edited.  Maybe a separate issue should be filed f

[2018-04-18 13:19] smayer97 commented on #4842
May I suggest, along the current line of discussion that if the concern is about the user forgetting to save the collection before moving away from that page, there are ways to put up a dialog when there are changes to a page that are not saved. I do not know how hard that would be but it would address the concern.

[2018-04-18 15:40] caitmuenster commented on #4188
Hey @SeanPrashad, were you able to replicate this?

[2018-04-18 16:56] jvillalobos commented on #4832
Yes. This is for the new user profile page, which hasn't shipped on prod yet.

[2018-04-18 18:03] swarnava opened #4846 "Permissions KB article should open in new tab"
### Describe the problem and steps to reproduce it:
Go to an addon page.
Click on **Learn more about permissions** button.

### What happened?
The link opens in the same tab.

### What did you expect to happen?
The link should open in new tab

### Anything else we should know

![image](https://user-images.githubusercontent.com/1162991/38949709-ce4f85ce-4360-11e8-9c8f-7247b68c9228.png)

[2018-04-18 18:06] bobsilverberg commented on #4846
I believe that this is intentional. @pwalm can you comment on that?

[2018-04-18 20:47] willdurand commented on #4846
My 2cents: I don't think it is a general best practice to force tab opening.

[2018-04-18 20:48] swarnava commented on #4846
Feel free to close this issue. 😊

On Thu 19 Apr, 2018, 2:17 AM William Durand, <notifications@github.com>
wrote:

[2018-04-18 20:55] jvillalobos commented on #4846
Generally, I agree, but that link is taking the user out of AMO, so they could close the tab after reading the information and have no way (they know) to go back.

[2018-04-18 20:57] swarnava commented on #4846
Also, there is a developer hub link at the top of the AMO website which I
would expect to open in a new tab too as a beginner. 😀

On Thu 19 Apr, 2018, 2:25 AM Jorge Villalobos, <notifications@github.com>
wrote:

[2018-04-18 21:01] jvillalobos commented on #4846
That's a bit different because it's in the same site, and there should be a link to go back (https://github.com/mozilla/addons-server/issues/4580). I do agree that the icon next to both of those links suggests you're going to a new place.

[2018-04-19 10:06] AlexandraMoga opened #4851 "The "unavailable for your FF version/platform" banner displays the Firefox logo icon instead of an exclamation mark"
STR:

1. Access AMO and visit the listing page of an add-on that is incompatible with your FF version or platform (see https://addons.allizom.org/en-US/firefox/addon/csp-warning-22-02/)
2. Observe the red notification banner displayed on the add-on details card

Actual result:
The banner displays a Firefox logo icon instead of an exclamation mark **"!"**

Expected result:
The message banner should

[2018-04-19 12:10] bobsilverberg commented on #4851
If this really is a bug it's probably a P2. @pwalm can you confirm that this should have the exclamation point icon instead of the Firefox icon?

[2018-04-19 12:15] bobsilverberg commented on #4846
When I wrote the original code I did ask whether this link should open a new tab, and was told "no", but I don't remember exactly who told me that. Maybe @muffinresearch or @pwalm. I'd like to resolve that before we merge the PR in #4850.

[2018-04-19 12:18] AlexandraMoga commented on #4851
See #4175 for some background (when photon notifications were implemented)

[2018-04-19 12:29] muffinresearch commented on #4846
Opening in a new window/tab was originally proposed here too: https://github.com/mozilla/addons-frontend/issues/2757#issuecomment-345861242

I did find this reference from the review after a bit of digging: https://github.com/mozilla/addons-frontend/pull/4462#discussion_r171311643

[2018-04-19 12:44] muffinresearch commented on #4846
Personally I think there are definitely some usability issues to consider with opening links in a new tab [1].

To me the icon currently for this link represents an external site not opening in a new tab. But it's possible this could be a source of confusion.

We should consider the context too. This article [2] makes an interesting point that opening a new tab might be good when the site is provi

[2018-04-19 13:11] bobsilverberg commented on #4851
That seems pretty definitive, thanks @AlexandraMoga.

[2018-04-19 14:07] AlexandraMoga opened #4852 ""More add-ons by author" cards show a wrong number of add-ons after one of the suggestions is selected"
STR:

1. Open AMO homepage and navigate to the Themes tab
2. Select one of the listed themes to see its details page (i.e. https://addons.allizom.org/en-US/firefox/addon/royal-blue-design/)
3. Select another theme by the same author from the "More themes by author" card
4. Observe the number of themes remaining in the card

Actual results:
There are only 5 themes displayed in the "More themes by a

[2018-04-19 14:59] pwalm commented on #4851
Yep, that's a bug. Should be the exclamation mark @AlexandraMoga mentioned.

[2018-04-19 15:55] pwalm commented on #4842
@bobsilverberg Implement #2 if it's not too heavy of a lift, no to the rest.

[2018-04-19 15:56] stephendonner commented on #4235
@digitarald not sure if you've seen this yet

[2018-04-19 15:56] pwalm commented on #4843
We will create a cold-start for this page.

[2018-04-19 15:58] pwalm commented on #4846
Open permission article in a new tab, we don't want to interrupt the flow of a users decision-making process.

[2018-04-19 16:13] pwalm commented on #4794
We're going to leave "date added" info from this view for now. We will provide the option to sort by date though.

[2018-04-19 16:13] #4794 closed

[2018-04-19 16:14] pwalm commented on #4775
Move the badge below the author name, but do not bump the "Install Theme" button down further.

[2018-04-19 17:43] #4846 closed

[2018-04-19 17:44] bobsilverberg commented on #4843
Thanks @pwalm. Will you be providing the text to display on the right-hand side?

[2018-04-19 17:46] tsl143 commented on #4775
Thanks for input @pwalm, and yes, will surely take care of install button.

[2018-04-19 18:15] svitlana-galianova commented on #2927
Hi,
I was looking for new issues to fix and after I tried to reproduce this one, I realized that it was fixed and probably should be closed now.

![2](https://user-images.githubusercontent.com/31850821/39010244-00d055f2-43dc-11e8-86a3-9a2940df81ff.gif)

[2018-04-19 18:36] svitlana-galianova commented on #4176
Hello, I have worked with this pop-up before and I would like to help out again.

[2018-04-19 19:31] #4838 closed

[2018-04-19 19:39] bobsilverberg commented on #4784
For QA:

A rating of 3.249 should round down, and therefore the star for 4 should be empty.
A rating of 3.25 should round up to the half-star, and therefore the star for 4 should show a half-star.
A rating of 3.749 should round down to the half-star, and therefore the star for 4 should show a half-star.
A rating of 3.75 should round up, and therefore the star for 4 should show a full star.

[2018-04-20 01:14] tofumatt commented on #4692
Why was this issue closed?

[2018-04-20 05:12] digitarald commented on #3732
The fallback font is the system font (`sans-serif`). Screenshots are from Windows, so the fallback you see is Segoe UI.

Using only system fonts would cut out a massive resource and solve *all* slow font issues. Meanwhile, font-display can improve page loading drastically with only minor impact on design while the final fonts loads.

[2018-04-20 07:26] ioanarusiczki commented on #4692
All rating stars still display the Click to rate this add-on title attribute on AMO dev and AMO stage with FF59 (Win10).

[2018-04-20 07:52] ioanarusiczki commented on #4846
This issue is verified fixed on AMO dev with FF59(Win10)

![different tab](https://user-images.githubusercontent.com/33448286/39037029-fc95b6d8-4487-11e8-9523-fae8ba2bee4d.gif)

[2018-04-20 09:14] ioanarusiczki commented on #4838
It is verified on AMO Dev with FF59(Win10& Android 8.0).
The full content will be verified in production.

[2018-04-20 12:51] daiict218 commented on #4852
I can take this up if someone can give me a KT. I've reached to `AddonsByAuthorsCard` while debugging this. I need to know what is `slug` and how this is used across the app. I am new to open source and want to contribute to React-Redux repo and I found addons-frontend familiar to contribute to. cc: @tofumatt

[2018-04-20 12:52] AlexandraMoga commented on #4825
Verified as fixed on AMO dev with FF59, Win10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/39051901-cc2a3ade-44b2-11e8-8ae1-6f0d3ad8416e.png)

[2018-04-20 13:00] daiict218 commented on #4824
Hi @bobsilverberg, I am looking for contributing to open source. I can take this up if you can give me a KT of this

[2018-04-20 14:53] caitmuenster commented on #4692
Whoa that was an accident! Sorry @tofumatt, @ioanarusiczki, and @bobsilverberg -- definitely did not mean to close this.

[2018-04-20 15:30] tofumatt commented on #4742
I don't think this would be fixed yet, but I think that username is the same as the `displayName` or displayName is missing.

[2018-04-20 15:35] daiict218 commented on #4742
The user is same as you posted in the description of the issue. Also, I debugged locally and I was getting a field of `name` and `username` in author of addon and it has been resolved through `name` which can be `username`. In case of above screenshot both `name` and `username` were same

[2018-04-21 06:05] FatOrangutan commented on #4581
Appears to have been fixed in Nightly with [Bug 1448667](https://bugzilla.mozilla.org/show_bug.cgi?id=1448667). Closing.

[2018-04-21 06:05] #4581 closed

[2018-04-21 09:41] MloveGiff opened #4857 "### Describe the problem and steps to reproduce it: <!-- Please include as many details as possible. --> ### What happened? ### What did you expect to happen? ### Anything else we should know? <!-- Please include a link to the page, screenshots and any relevant files. -->"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-23 05:53] #4857 closed

[2018-04-23 22:43] pwalm commented on #3991
Add "Newest first" and "Oldest first" to the sort options.

[2018-04-23 22:48] jrbenny35 opened #4860 "Dennis Lint Travis job is failing"
Log
[code]

[2018-04-24 07:29] bobsilverberg commented on #4581
Nice to see this has been fixed in Firefox. Thanks for updating and closing the issue, @FatOrangutan.

[2018-04-24 08:19] HansCronau opened #4861 "Missing extension Apollo Client Devtools"
### Describe the problem and steps to reproduce it:
I decided to install the Apollo Client Devtools for Firefox while on this page: https://github.com/apollographql/apollo-client-devtools
I clicked the link leading to https://addons.mozilla.org/en-US/firefox/addon/apollo-developer-tools/ and found nothing there.

### What happened?
I did not see a page where I could install the Apollo Client Devto

[2018-04-24 08:28] wagnerand commented on #4861
This add-on is currently not available. Please contact the developer of the add-on for more details.

[2018-04-24 08:28] #4861 closed

[2018-04-24 09:15] AlexandraMoga commented on #4744
@tofumatt This bug can be reproduced by refreshing the page on the theme details page, as captured below:

![theme regresh](https://user-images.githubusercontent.com/31961530/39177887-14def068-47b9-11e8-90b4-fe65af238660.gif)

[2018-04-24 09:57] ioanarusiczki commented on #4581
I verified this on AMO dev with Microsoft Edge, Chrome and Firefox 59 with Win10 desktop - full screen.
Perhaps the FF displays them with jagged edges (seems like anti aliasing is not applied) compared to the other two browsers, an example for this should be the Exchange messages with programs other than Firefox icon. On Chrome and Edge -> Access your location and Access browsing history are a lit

[2018-04-24 10:07] #4860 closed

[2018-04-24 10:08] #4784 closed

[2018-04-24 10:41] tofumatt commented on #4744
Ah, I see. So this is an SSR-related bug then.

[2018-04-24 12:49] AlexandraMoga commented on #4784
Verified on AMO dev with FF59, Win10x64

A few add-on samples were selected and were rated with the given boundary values. The average rating displayed in the frontend was matching the expected result.

Here are two examples, but note that these values might change if more ratings will be added:
- https://addons-dev.allizom.org/en-US/firefox/addon/webext-simple/?src=search - rated 3.75 - rounded t

[2018-04-24 13:01] willdurand commented on #4262
[react-ab](https://github.com/olahol/react-ab) looks interesting but we might want to contribute code to it in order to add [react-cookie](https://github.com/reactivestack/cookies/tree/master/packages/react-cookie).

[2018-04-24 18:58] #4420 closed

[2018-04-25 08:25] wagnerand commented on #4742
@bobsilverberg and I are pretty sure this is a dupe of #4806 which is a dupe of #4796 (oh my).

@ioanarusiczki would you mind testing this (on dev or stage) to double check?

[2018-04-25 08:29] bobsilverberg opened #4865 "Implement A/B test for TAAR Lite"
Project: https://github.com/mozilla/addons-frontend/projects/5
Requirements doc: https://docs.google.com/document/d/1LoXn6a2QY2VrK3YobbreFXUTtYCc28iCH-qiWKwf7yU/edit?ts=5accb63a

Add a component to the add-on details page which displays recommendations driven by TAAR Lite. For the A/B test, users will be divided into 2 cohorts, one will receive recommendations based on the add-on they are currentl

[2018-04-25 08:37] bobsilverberg opened #4866 "Implement an AddonRecommendations component which uses TAAR Lite as a data source"
Tracker: #4865

As an initial POC for react-ab, create a component which can be included in a page which sends a different GA ping depending on the cohort the user is in. This will also need code to read and/or set a cookie to maintain the cohort of a user.

[2018-04-25 08:47] bobsilverberg opened #4867 "Implement API, saga and reducer code to interact with TAAR Lite service via addons-server"
Tracker: #4865

- [ ] Update API code to call the TAAR Lite endpoint, which will be [provided by addons-server](https://github.com/mozilla/addons-server/issues/8118).
- [ ] Update saga code to dispatch the API request and load the results into state.
- [ ] Update reducer code to introduce actions for retrieving and loading TAAR Lite results.

[2018-04-25 15:25] teikmeout commented on #942
Just leaving this here for whoever needs more reference on JSON5 commenting:
- [https://json5.org/](https://json5.org/)

Example tho:
[code]

[2018-04-26 07:55] muffinresearch opened #4871 "Collapse duplicate host permissions on AMO"
Refiled from: https://github.com/mozilla/addons-server/issues/8112

### Describe the problem and steps to reproduce it:

Visit https://addons.mozilla.org/en-US/firefox/addon/okta-verify-auto-send/

### What happened?

Note that the permissions look like below:

<img width="397" alt="screen shot 2018-04-23 at 2 14 53 pm" src="https://user-images.githubusercontent.com/74699/39153710-c3f06aa0-4700-11

[2018-04-26 07:56] bobsilverberg commented on #4843
For now, let's just add text that says "Please save your collection and then you can add add-ons to it". @pwalm will let us know exactly what to put on the screen.

[2018-04-26 07:57] muffinresearch commented on #4871
To fix this we need to match the browser's display on the frontend by collapsing the duplicate permission entries for the same host.

[2018-04-26 08:40] #4819 closed

[2018-04-26 08:43] muffinresearch commented on #4819
Closing this since there's no action to be taken in this repo.

[2018-04-26 08:51] bobsilverberg commented on #4812
We discussed this a bit more and have decided that the first step would be to add pagination to the list of add-ons on the edit screen. We may also want to look at using [occlusion culling](https://jlongster.com/Removing-User-Interface-Complexity,-or-Why-React-is-Awesome) in the future.

[2018-04-26 08:55] bobsilverberg commented on #4803
As there has been no response from @roman90sv, and this definitely looks like a duplicate of #4653, I'm going to close it.

[2018-04-26 08:55] #4803 closed

[2018-04-26 11:27] rebmullin commented on #4367
After looking into this a bit it seems that even if there is a review rating only (i.e. there is no body text) it’s still considered a review so it SHOULD be displayed in the reviews list, right? This is my understanding per the api docs here:

https://addons-server.readthedocs.io/en/latest/topics/api/reviews.html#post

So I have few questions regarding this:
If a review does NOT have body text, s

[2018-04-26 12:33] bobsilverberg commented on #4367
Thanks for the investigation @rebmullin. I did a bit of testing too, and what I see is that when the "edit review" form is submitted with an empty body the old text is still sent to the PATCH API request, so that would explain why the review doesn't appear to be updated. This may have something to do with code we have in place to cache the values in the form in case a user leaves the page and come

[2018-04-26 12:52] bobsilverberg commented on #4367
This is complicated by the fact that review text is localized, so even if we are successful in emptying out the review text, it will still be counted as a review. We should fix the issue that a user cannot remove their review text by blanking it out, but we might not be able to fix the issue of it being counted as a review.

[2018-04-26 15:32] shell1 opened #4872 "Changing non-Firefox install banner on AMO to button"
### Describe the problem and steps to reproduce it:
Changing UX seen when looking at adding an add-on from a browser other than firefox (the "non-fx add-ons install") from a banner to a button.  Based on research and data this year, that should result in 3-5 more Firefox downloads every week.

### What happened?
Before our time, the OnBoarding team did a study [1] to see if there was a way to impr

[2018-04-26 15:41] pwalm commented on #4872
UX guidance: Remove the message banner, replicate the button shown above on new AMO.

[2018-04-26 15:44] pwalm commented on #4843
Yep, got this on my to-do list, need Meridel to return from vacation for copy guidance.

[2018-04-26 16:03] shell1 commented on #4872
sorry - reviewing data scale it is 4-5K fewer installs a week, not per day.

[2018-04-26 16:04] vcarciu commented on #4838
Verified in prod

[2018-04-26 20:45] pwalm commented on #4872
Mildly better, still not great 👎🏻

[2018-04-26 20:59] rebmullin commented on #4367
hey @bobsilverberg  - hmm i might have made a few changes to get it be a null value when i reached the api call..? I'll double check this tho...but again i used Postman to double check this call and it was doing the same thing. I guess i thought the benefit of using Postman - altho i could totally be wrong here - was that it was outside of all the code and if it wasnt producing expected results th

[2018-04-27 06:01] smayer97 commented on #4812
If you decide to paginate, please make is so the numbers per page is user selectable, including a Show All option.

[2018-04-27 08:09] ioanarusiczki opened #4877 "Two or more add-ons with the same name can be submitted"
Prerequisites:
User is logged in
STR:
1. Go to dev hub and submit an add-on.
2. Submit a new add-on using the same name.
3. After they're auto approved go to AMO homepage and make a search.
4. Observe results.

Actual results:
The search returns two add-ons with the same name.

Expected results:
User should be warned during submission that the name already exists and he should change it to avoid a

[2018-04-27 09:00] ioanarusiczki opened #4878 "The add-on and author's name are too close"
STR:
1. Submit an add-on that contains "y" "q" "p" "g" in it's name
2. Go to the add-ons detail page
3. Observe the Add-on details section

Expected result:
It's a reasonable space between the Add-on's Name and Author.

Actual result:
The two names are too close, they look jammed in.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF59 (Win10).

I'll give below two examples to mak

[2018-04-27 12:17] ioanarusiczki commented on #4742
The remaining issue is https://github.com/mozilla/addons-server/issues/6964

[2018-04-27 16:46] muffinresearch opened #4880 "Remove the h3 for the review titles since they aren't added as part of the form."
In https://github.com/mozilla/addons-frontend/issues/1739 review titles were removed from the review form.

However the display on the all reviews page shows empty h3s for the reviews page.

<img width="1234" alt="reviews_for_ublock_origin_ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/39374375-90583700-4a42-11e8-962f-58873d73b72c.png">

@jvillalobos Do we need to keep

[2018-04-28 08:28] ashigupta007 opened #4881 "on Focus outline is visible"
### Describe the problem and steps to reproduce it:
https://addons.mozilla.org/en-GB/firefox
Outline visible on click of the h3 of  div class HeroSection.

### What happened?
On clicking the Div class HeroSection the outline of the h3 is visible.
### What did you expect to happen?
No outline shall come up and the page should redirect to the reffered link
![screenshot 2018-04-28 13 31 54](https://u

[2018-04-28 08:34] ashigupta007 opened #4882 "dropdown selector not properly styled"
### Describe the problem and steps to reproduce it:
https://addons.mozilla.org/en-GB/firefox/addon/mp3-downloader-youtube/
The dropdown menu is not properly styled.
### What happened?
On clicking the dropdown the dropdown menu is not appropriately styled
### What did you expect to happen?
The Dropdown should be styled as per the design of the dropdown selector
![screenshot 2018-04-28 14 01 36](htt

[2018-04-28 08:59] ashigupta007 opened #4883 "Css File not loading"
### Describe the problem and steps to reproduce it:
On changing the language of the web page, the page doesn't load properly due to css file blocked
### What happened?
On clicking the change language option the page reloads with no css with an error in the cosole.
### What did you expect to happen?
CSS should load properly and should not be blocked
![screenshot 2018-04-28 14 13 34](https://user-im

[2018-04-28 09:03] im-gozmit opened #4884 "Border Radius of "About this Extension""
### Describe the problem and steps to reproduce it:
In any of the Add-Ons Extensions, for the **About this Extension**  section border radius didn't match.
### What happened?
The upper border-radius didn't match with the lower border-radius of this section (About this Extension).
### What did you expect to happen?
Border-Radius should be same for both lower and upper parts of this section.
### Any

[2018-04-28 09:15] ashigupta007 opened #4885 "Outlines visible on clicking the arrow buttons"
### Describe the problem and steps to reproduce it:
On clicking the arrow buttons on the page https://www.mozilla.org/en-GB/firefox/
the outline for the arrow buttons gets visible.

### What happened?
On Clicking the arrow button on the page given for navigating between sections the outline gets visible.
### What did you expect to happen?
The outlines should not be visible on clicking them
![scree

[2018-04-28 09:24] im-gozmit opened #4886 "Line height less in 320*480 dimension of Webpage"
### Describe the problem and steps to reproduce it:
https://addons.mozilla.org/en-US/firefox/
In Responsive Version of this website the line height between text is very less.

### What happened?
![capture1](https://user-images.githubusercontent.com/22200140/39394734-19e9b8a8-4af3-11e8-920b-70dad61a23ad.PNG)
The line spacing between **Experience** and **designs** when you view the website in 320*48

[2018-04-28 09:33] #4883 closed

[2018-04-28 09:37] im-gozmit opened #4887 "Image Orientation not proper"
### Describe the problem and steps to reproduce it:
In the **Screenshots** section of any add-on the image is not properly oriented

### What happened?

Full Image View :

![capture2](https://user-images.githubusercontent.com/22200140/39394881-ede6fbba-4af4-11e8-928f-2274f145369c.PNG)

In the ScrollBar the image is cut from bottom and which doesn't look good.

![capture3](https://user-images.githu

[2018-04-28 09:55] ashigupta007 opened #4888 "PopUp Box not disappearing on clicking"
### Describe the problem and steps to reproduce it:
https://addons.mozilla.org/en-US/firefox/addon/tomlinson-designs-logo/?src=hotness
The popup created does not gets disappeared on clicking on left and right side but not on top and bottom.

### What happened?
the rate your experience popup box doesnot gets disappeared onclicking the left and right side of the popup box. but it does get disappeare

[2018-04-28 10:03] ashigupta007 commented on #4883
Solved By  clearing the cache of the browser

[2018-04-28 10:22] im-gozmit opened #4889 "Password Reset Page Problem"
### Describe the problem and steps to reproduce it:
When you click on the link **Forgot Password** and via email you are resetting it .
After you successfully reset the password this page will appear.

![screenshot 55](https://user-images.githubusercontent.com/22200140/39395348-47cf1670-4afb-11e8-9bb9-643e9eddf4ff.png)

### What happened?

When I tried to reset the password then after the password

[2018-04-28 10:44] ashigupta007 opened #4890 "Hover Button Color Needs to be of proper contrast"
### Describe the problem and steps to reproduce it:
The background color of the button on hover needs to be improved with better contrast.
https://addons.mozilla.org/en-US/firefox/addon/leechblock-ng/reviews/?page=2

### What happened?
The contrast for the button on hover  matches almost with the background color of the body
### What did you expect to happen?
the button hover background color need

[2018-04-28 12:56] dacomboman opened #4891 ""Server error" when logged in."
### Describe the problem and steps to reproduce it:

### What happened?
If i try to add an extension when logged in, i get "server error" message and unable to install any extension.
https://snag.gy/go24O5.jpg

### What did you expect to happen?
Extensions would install as usual.
### Anything else we should know?
If i log out, no problem to install any extension.

[2018-04-30 06:03] AlexandraMoga commented on #4888
Duplicate of #3691

[2018-04-30 06:03] #4888 closed

[2018-04-30 06:14] AlexandraMoga commented on #4890
Issue first reported in [#2517 comment](https://github.com/mozilla/addons-frontend/issues/2517#issuecomment-362619270)

[2018-04-30 13:06] muffinresearch commented on #4891
@dacomboman could you provide an example of the URL you're on when you're seeing that message?

[2018-04-30 13:10] muffinresearch commented on #4890
See also https://design.firefox.com/photon/components/buttons.html#behaviours for the photon button behaviour spec.

[2018-04-30 13:12] dacomboman commented on #4891
Hi Stuart,

It basically happens on any extension page.

But, for the record, here's a sample:

https://addons.mozilla.org/en-US/firefox/addon/swift-selection-search/?src=search

If I log out, then I can install the extension.

Go figure, this has never happened to me since the beginning of Firefox.

-Daniel

From: Stuart Colville [mailto:notifications@github.com]
Sent: April 30, 2018 8:07 AM
To:

[2018-04-30 13:14] bobsilverberg commented on #4889
@im-gozmit This page is in a new tab that opens when you click the link from your email. The add-ons web site should still be open in a separate tab, where you originally clicked the "Register or Log in" button. After you reset your password and see the screen above, the tab containing the add-ons web site should automatically sign you back in.

Is that not what you're seeing?

[2018-04-30 13:17] muffinresearch commented on #4885
@ashigupta007 this issue tracker is for issues related to the UI for https://addons.mozilla.org and does not cover mozilla.org.

Please can you re-file this issue on https://github.com/mozilla/bedrock?

[2018-04-30 13:17] #4885 closed

[2018-04-30 13:27] muffinresearch commented on #4881
This looks to be outlined because it's focused. Removing the outline would require something that indicated focus to replace the outline for accessibility. We could do that but this isn't the only place where we're relying on implicit outline.

[2018-04-30 13:29] bobsilverberg commented on #4881
@ashigupta007 You say "No outline shall come up and the page should redirect to the reffered link". The page does redirect, does it not? If so is this issue only about the fact that an outline appears around the element when you click it?

[2018-04-30 13:33] ashigupta007 commented on #4881
@bobsilverberg yes it does redirect. outline is the main issue

[2018-04-30 13:35] ashigupta007 commented on #4882
@muffinresearch the dropdown menu list is not of the proper theme as per the website. it needs a proper height and other few detailing for the same

[2018-04-30 13:43] bobsilverberg commented on #4877
@ioanarusiczki Dev hub is the legacy site, is it not? If so then I think this needs to be filed for addons-server, not addons-frontend.

[2018-04-30 13:49] bobsilverberg commented on #4367
I believe the issue with the API is that if you pass a null (or don't pass a value) for the body test then it ignores it and doesn't update it. This is because it is a localized field. What we need to do instead, is pass an empty string as a localized string to the API. That should allow us to blank out the body text. That may or may not address the issue of whether that rating is still counted as

[2018-04-30 14:46] muffinresearch commented on #4872
@jvillalobos purely based on other things we've got going on I'd think this would be good for q3 since that's not actually that far away - what do you think?

[2018-04-30 14:49] ioanarusiczki opened #4897 "The message displayed when an add-on is added to a collection before approval is unclear"
Prerequisites:
A developer or admin account for a personal submitted extension that was not auto approved yet or it is waiting to be approved by a reviewer

STR:
1. Load AMO dev and go to your own submitted add-on that was not auto approved yet or from Rev tools to New Themes queue as a reviewer - where a list of extensions are waiting for approval such as static themes.
2. Try to add the add-on t

[2018-04-30 14:54] jvillalobos commented on #4872
I think that if this is a small change, we should get it done soon (P2). Theoretically it's a huge acquisition channel, and making this change before the upcoming first run changes (Q3) will make it easier to understand the numbers that come out of that.

[2018-04-30 14:56] muffinresearch opened #4898 "[Tracking] Support static themes in addons-frontend"
Supercedes #3388

* [ ]  Drop theme previews #3056
* [ ]  Unify LWT (lightweight themes) and static theme display (this should be broken down once we have UX)

## Terminology

* **LightWeight Theme (LWT)** - a legacy theme that uses a JSON blob as the distribution mechanism. Images that make up the theme are served from AMO.
* **Static Themes** are the successor to a LWT and uses a manifest.json a

[2018-04-30 14:56] muffinresearch commented on #3388
Closing in favour of #4898

[2018-04-30 14:56] #3388 closed

[2018-04-30 15:02] muffinresearch opened #4899 "Unify the display of Lightweight and static themes"
To faciliate the handling of static themes on addons-frontend we need to unify the display of lightweight (LWT) and static themes.

## Key differences

* Static themes have a single static "baked" preview image. LWTs display the main theme image which is truncated by the container. This will impact the unification of the main image.
* Static themes are installed the same way a web extension is ins

[2018-04-30 15:06] bobsilverberg commented on #4897
This is the message we are getting back from the API when we try to add the add-on to the collection. If this can be fixed it sounds like it needs to be fixed on the back end, sending a message saying that the add-on has not yet been approved, instead of just that it could not be found. I'm not sure how big of a deal it would be to implement that, and if it would be very difficult, or impact perfo

[2018-04-30 15:10] muffinresearch commented on #4872
@jvillalobos I was thinking we'd want to A/B test this scenario to prove the expectations so it's going to be a  bit more than just moving a button.

[2018-04-30 16:28] bobsilverberg commented on #4851
Fixed via #4853

[2018-04-30 16:28] #4851 closed

[2018-04-30 16:42] muffinresearch commented on #4882
@ashigupta007 What specifically is wrong? Please be as detailed as possible so we can understand what needs to be done.

Are you comparing this to some other part of the site for example? If so please can you provide the reference?

[2018-04-30 16:51] muffinresearch commented on #4891
@dacomboman do you see any error messages in the web or browser console? Does this problem persist in a new profile?

[2018-04-30 17:09] #4830 closed

[2018-04-30 17:34] rebmullin commented on #4367
i think so..i vaguely remember that passing in empty string *does* work. I'll re-look into this part at least. thanks @bobsilverberg

[2018-04-30 18:57] eviljeff commented on #4897
The queryset used for creating/patching Collection Add-ons is public add-ons so if the add-on is not public then the slug or id lookup fails at that point.

We can change the queryset to be any add-on, so you could add a non-public add-on to a collection.  If that's going to be any add-on, belonging to any user then that's easy (which would then, by default, not be shown in the collection addon li

[2018-04-30 19:05] bobsilverberg commented on #4897
Ok, so one question is whether we want to allow non-public add-ons to be added to collections, although it sounds like that would be kind of pointless anyway.

@eviljeff Are you saying that even if we allow them to be added, they will never be seen because the API that returns collection add-ons only ever includes public add-ons? If that's the case then it seems like we shouldn't allow them to be

[2018-04-30 19:36] #4054 closed

[2018-04-30 20:07] #4813 closed

[2018-04-30 21:30] jvillalobos commented on #4880
They can be removed, yes.

[2018-04-30 21:37] jvillalobos commented on #4897
There's a fairly narrow window between an add-on being submitted and it being auto-approved, or manually approved by theme reviewers. Exceptions to this are legacy add-ons pending review, add-ons flagged by admins for manual approval, and rejected add-ons. I don't think those cases are compelling enough to do something complex to address them. You're the developer and presumably you know their sta

[2018-04-30 21:53] Shadoefax opened #4902 "AMO page for my add-on not available unless logged in"
### Describe the problem and steps to reproduce it:
I uploaded my new extension "Paste Email Plus for Quantum" to AMO a few days ago.  The URL for the extension is [https://addons.mozilla.org/en-US/firefox/addon/paste-email-plus-for-quantum/](https://addons.mozilla.org/en-US/firefox/addon/paste-email-plus-for-quantum/), but the page is only available when I am logged in to AMO.  If I am not logged

[2018-04-30 22:18] pwalm commented on #4872
Agreed with Jorge. Let's see if those numbers go back up post-button change, and then we can fine tune and A/B test some more/new options.

[2018-04-30 22:18] pwalm commented on #4899
Thank you for filing this! On it.

[2018-04-30 22:57] jvillalobos commented on #4899
There was some discussion around this in https://github.com/mozilla/addons-frontend/issues/4661. The main thing I want to make sure we do is not crop the preview image vertically. There are cases where there's horizontal cropping, inevitably, but that's a similar problem for LWT.

Other than the preview image, I hope we can keep both theme types nearly identical, to avoid confusing users too much

[2018-04-30 23:06] jvillalobos commented on #4902
The submission was auto-approved, but for some reason only the file was changed to `Approved`, while the add-on kept a status of `Awaiting Review`. That's what caused the listing to be invisible to anyone but the developer.

I fixed the status of the add-on, so it become visible shortly. I'd like to keep this issue open to investigate the cause of the problem.

/cc @wagnerand @diox

[2018-05-01 01:39] devaneymoz opened #4903 "10 May homepage content programming update"
For the **10 May** push, please find homepage content updates detailed [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @diox @bobsilverberg

[2018-05-01 08:38] eviljeff commented on #4897
Well that's not exactly what I was saying - note "by default".  [[api docs](http://addons-server.readthedocs.io/en/latest/topics/api/collections.html#collection-addon-filtering-param)]

It's not only wanting the reason to be exposed, it's selectively wanting the reason to be exposed depending on the user.

[2018-05-01 09:13] decembre commented on #4842
Should be great to show in which collection an addon is yet adde, before we add it to  a collection:
In short the add to colledtion feature of the desktop design!
Why you don't keep it ?

[2018-05-01 09:44] Smile4ever commented on #3943
Kind of fixed: the page is translated, but the layout disappears after a few seconds.

[2018-05-01 12:04] bobsilverberg commented on #4897
Thanks for the feedback @eviljeff, and thanks for the report @ioanarusiczki. I agree with @jvillalobos that this is an edge case that we shouldn't put too much effort into supporting. I'm going to close it.

[2018-05-01 12:04] #4897 closed

[2018-05-01 12:09] #4871 closed

[2018-05-01 12:32] dacomboman commented on #4891
Hi Stuart,

As previously sent, the only error message I get when trying to install an extension while logged into Mozilla online is this:

- - - - -

Server Error

Sorry, but there was an error with our server and we couldn't complete your request. We have logged this error and will investigate it.

Suggested Pages

*	Browse all extensions <https://addons.mozilla.org/en-US/firefox/extensions/>
*

[2018-05-01 14:09] willdurand commented on #4891
Hi @dacomboman, are you comfortable with the Dev Tools by chance? If so, could you please look into the network and console panels?

[2018-05-01 16:52] muffinresearch commented on #4070
@svitlana-galianova I've reverted the patch from #4070 in https://github.com/mozilla/addons-frontend/commit/b341fb78b51cba4f91ce7da47d9fdb3fa12b6a5f in because using ellipsis for truncation is used used very sparingly in the site currently and we should instead look to continue with the wrapping and fix the display issue so that a string that wraps does not cover the number of users information.

[2018-05-01 16:58] #4880 closed

[2018-05-01 18:01] #4188 closed

[2018-05-01 18:50] rebmullin commented on #3056
Hey @muffinresearch

Just digging into this a bit per our discussion and I want to make sure I’m looking in the right place:

![Alt text](https://monosnap.com/image/MC8bNf0e3kE88Sanzu2GP7PpQP5Yka.png)

is this right? I couldn’t find this under addons-frontend however i do see it under the addons-server repo. Assuming this is correct do we need to move this issue over there for tracking? Or let me

[2018-05-02 01:28] Clearwaterblues opened #4906 "Simply clicking the link to go to the page of and install an extension gives me error page"
### Describe the problem and steps to reproduce it:

### What happened? I click a link to open the page for an addon/extension

### What did you expect to happen? I expected to arrive at the addon/extention page for information and download info

### Anything else we should know?
I get this page instead:

Server Error

Sorry, but there was an error with our server and we couldn't complete your req

[2018-05-02 02:50] smayer97 commented on #4842
I think this is in reference to the Add To Collection from WITHIN a collection and not from a specific Add-on page, where the Add To Collection menu is used.

That said, I too would like to see the better design that AMO used to have as the Add To Collection menu, as illustrated here:
https://github.com/mozilla/addons-frontend/issues/4331#issuecomment-377615994

It is a simple looking and intuitiv

[2018-05-02 02:56] smayer97 commented on #4331
Would further feedback be possible regarding this feature?

BTW, I am wondering why more emphasis in not placed on such a feature that has a meaningful use and application to a base of users that can and do support others vs simply cleaning up the look and feel of AMO and Collections? It would seem to me to be a more worthy feature to implement, and sooner? I know I have been crippled in my use of

[2018-05-02 07:38] ioanarusiczki commented on #4877
Alright, https://github.com/mozilla/addons-server/issues/8156
I'm closing this one. It's a dupe now.

[2018-05-02 07:38] #4877 closed

[2018-05-02 07:42] decembre commented on #4331
"Collections can be managed in the My Collections and Edit pages. The add feature should be limited to that.":
Sorry i can't understand the logic of that.

The old / Desktop design is better for usability and informations provided than the Mobile version.

Why broke something which work fine and with efficiency ?
Why you don't want preserve it on Mobile version ?
Why you don't show "Related Collec

[2018-05-02 08:16] muffinresearch commented on #4906
@Clearwaterblues please can you provide the URL you were on and the browser version you're using?

Can you also tell us what page you started on?

[2018-05-02 08:17] EnTeQuAk commented on #4891
Just looked in sentry and found https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/issues/4288440/ - which doesn't have to be the problem mentioned here but there are a few other errors that happen on the detail pages of an add-on. Might be worth looking into

[2018-05-02 08:27] muffinresearch commented on #4891
@EnTeQuAk ah good catch - that looks like a regression.

[2018-05-02 08:38] muffinresearch commented on #4891
As you say it's not clear this is the problem in this issue. I'll file a new issue for that one instead. Downgrading this one until we know more.

[2018-05-02 08:47] muffinresearch opened #4907 "Server error when visiting certain add-ons"
STR:

Go to: https://addons.mozilla.org/en-US/firefox/addon/minions-as-electricians/ using the new frontend.

This renders fine on the old frontend but is a server error on the new one. See https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/issues/4288453/ for details

The error is:

`TypeError: Cannot read property 'name' of undefined`

The cause is this line:

https://github.com/

[2018-05-02 08:57] muffinresearch commented on #4907
Regression from: https://github.com/mozilla/addons-frontend/commit/b87158042c17e841e0793cef2bd3b71077e620ab

[2018-05-02 08:58] muffinresearch commented on #4906
This is likely to be the same cause as https://github.com/mozilla/addons-frontend/issues/4907 but having the URL will enable us to confirm it.

[2018-05-02 09:29] wagnerand commented on #4902
@Shadoefax did you by any chance disable and re-enable a version in your developer hub?

[2018-05-02 09:45] AlexandraMoga commented on #4851
Verified as fixed on AMO stage with FF59, Win10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/39516754-8a746080-4e06-11e8-9d63-68d64d16f0c0.png)
![image](https://user-images.githubusercontent.com/31961530/39516765-9093b84e-4e06-11e8-8bd7-8047a3cec63b.png)
![image](https://user-images.githubusercontent.com/31961530/39516772-9892dbf6-4e06-11e8-8aa2-424b9e5bba2f.png)

[2018-05-02 10:04] muffinresearch commented on #3056
@rebmullin it's the preview feature on the front end e.g:

<img width="987" alt="spring_garden_serenity_by_madonna_ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/39517727-9fee9218-4df8-11e8-89c1-fdd4790611c4.png">

[2018-05-02 10:41] muffinresearch commented on #4541
@rebmullin depending on how you're doing with other issues, if you have some time at some point do you think you could take a look at this one?

[2018-05-02 10:43] dacomboman commented on #4891
Hi William,

Sorry didn't get back to you sooner.

I'm afraid I'm not familiar with Dev Tools.

Think I've spotted the window before but never did anything in that area.

-Daniel

From: William Durand [mailto:notifications@github.com]
Sent: May 1, 2018 9:10 AM
To: mozilla/addons-frontend <addons-frontend@noreply.github.com>
Cc: dacomboman <daniel@gmx.ca>; Mention <mention@noreply.github.com>
Subje

[2018-05-02 10:46] muffinresearch opened #4908 "Upgrade to webpack 4"
This issue is to track updating to webpack 4. The update is likely to involve a few dependencies.

tofumatt had a work in progress PR here: https://github.com/mozilla/addons-frontend/pull/4697 it might be useful to use that as a starting point.

### QA notes:

Once this is marked fixed we'll need to double check the site is still working as expected since this could potentially impact our JS. Test

[2018-05-02 12:17] ioanarusiczki commented on #4830
This issue is verified fixed on AMO dev with FF59(Android 8.0.0).

![user profile on android](https://user-images.githubusercontent.com/33448286/39522611-703038d8-4e1b-11e8-8da5-05c2d8ae2a1f.gif)

[2018-05-02 12:49] bobsilverberg commented on #4907
Ah, I didn't realize an add-on could have 0 authors, and I guess we don't have a test case against that. I'll fix it right away.

[2018-05-02 12:57] Shadoefax commented on #4902
No.  I didn't even know that was an option.

I did have to upload the extension two or three times (to fix minor validation errors), but after that it appeared to be published.

[2018-05-02 13:00] ioanarusiczki commented on #4054
Verified fixed on AMO dev and AMO stage with FF59(Win10 and Android 8.0.0).
I used admin accounts and The Reply to this review url is no longer available. - edit my reply option is available
![removed reply to this review](https://user-images.githubusercontent.com/33448286/39524330-467d8a6c-4e21-11e8-9751-71d7f7665100.png)

[2018-05-02 13:10] rebmullin commented on #3056
@muffinresearch  - ahh i see..cool, thank you

[2018-05-02 13:13] rebmullin commented on #4541
@muffinresearch  - sure thing

[2018-05-02 13:15] muffinresearch opened #4910 "Enable the download button for incompatible clients (link to extension source)"
Following on from: https://github.com/mozilla/addons/issues/703

We should look to leave the "install" button enabled for incompatible clients so that users that user `privacy.resistFingerprinting` set to true can still install add-ons.

![screenshot from 2018-04-23 13-18-36](https://user-images.githubusercontent.com/2735603/39142521-76e3d32c-471a-11e8-8846-f7f907d9d046.png)

We'll need to figure

[2018-05-02 13:16] muffinresearch commented on #4910
@jvillalobos is there anything else you'd like to be considered for this issue?

[2018-05-02 13:23] djbacon opened #4911 "opening link from search results leads to "Sorry, but we can't find anything at the address you entered.""
### Describe the problem and steps to reproduce it:

### What happened?
I clicked on item from search results searching form "xmarks".
https://addons.mozilla.org/en-US/firefox/search/?q=xmarks&platform=Linux&appver=59.0.2
Xmarks Sync was first result. I clicked on that and i got message "Sorry, but we can't find anything at the address you entered.".

### What did you expect to happen?
It was supp

[2018-05-02 13:39] AlexandraMoga commented on #4871
I have submitted the same add-on package on stage (see https://addons.allizom.org/en-US/firefox/addon/okta-verify-auto-send/) and checked the permissions section. Duplicate permissions are no longer listed.

![image](https://user-images.githubusercontent.com/31961530/39526206-c4cd8dcc-4e26-11e8-9e5c-cdb6fb517719.png)

Marking issue as verified fixed on Amo-stage with FF59, Win10x64 and Android 7.0

[2018-05-02 13:44] djbacon commented on #4911
It appears that Xmarks Sync is shut down on May 1, 2018, so i guess Xmarks Sync page is removed, but search database not updated.

[2018-05-02 13:45] willdurand commented on #4911
Hi @djbacon, indeed the add-on has been deleted from the website and that's why you cannot access it. However, we should not list this addon in the search/autocomplete results anymore.

[2018-05-02 14:02] willdurand commented on #4911
I am going to close this issue as we cannot do anything on our side except refreshing the suggestions/search results. Thank you for reporting this issue!

[2018-05-02 14:02] #4911 closed

[2018-05-02 15:37] wagnerand commented on #4878
Mentor: @rebmullin

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2018-05-02 15:40] muffinresearch commented on #4878
Here's a screenshot of the current mock:

<img width="910" alt="amo_desktop_-_master_sketch" src="https://user-images.githubusercontent.com/1514/39533608-67daa130-4e27-11e8-9f55-15d2d6960372.png">

[2018-05-02 15:41] wagnerand commented on #4884
Mentor: @willdurand

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2018-05-02 15:45] wagnerand commented on #4886
Mentor: @bobsilverberg

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2018-05-02 15:50] wagnerand commented on #4428
@championshuttler Hey, I am checking-in on this. Are you still working on it? Do you need help?

[2018-05-02 17:41] muffinresearch commented on #3056
@rebmullin The preview feature also exists on the disco pane too: if you got to about:addons. I think it makes sense to remove it from there too. @jvillalobos are you ok with that?

<img width="1143" alt="add-ons_manager" src="https://user-images.githubusercontent.com/1514/39539728-5be0f094-4e38-11e8-9cbc-8c66589c03f9.png">

[2018-05-02 17:48] muffinresearch commented on #3056
If it's easier to split out the disco pane change into a separate issue patch that's fine, we just need to make sure we don't ship a broken disco pane in between.

[2018-05-02 17:51] muffinresearch opened #4916 "Discuss the treatment of long homepage URLS"
A PR was put up to truncate the long URL with an ellipsis to fix the long homepage URL:

<img width="367" alt="screen shot 2018-04-20 at 11 03 42 pm" src="https://user-images.githubusercontent.com/31850821/39079778-5705a922-44ef-11e8-944f-dd6edf7a3e3e.png">

Rather than do this I'm wondering if we should instead just link the word homepage so that we don't have a truncated string at all. A link's

[2018-05-02 18:06] jvillalobos commented on #3056
Yes, I agree we should remove it from disco pane too.

[2018-05-02 19:34] rebmullin opened #4918 "need final copy for placeholder text on collection forms screens"
Just need final copy on placeholder text on collection form screens (prior to adding addons):

![Alt text](https://monosnap.com/image/C2f305wUUzHSL0hjSZ95kOeh5e4EnI.png)

REF: original issue #4843

@meridelw  // cc @pwalm @bobsilverberg

[2018-05-02 20:02] willdurand commented on #4843
@rebmullin is this issue fixed now that #4876 has been merged? If so, I suggest you to close the issue (and to make sure you're assigned to it + a milestone is set).

[2018-05-02 20:25] bobsilverberg commented on #4918
To document what was discussed in the meeting, there are two states:

1. Shown above, is when a user first opens a page to add a new collection. The collection does not yet exist, and they need to save it first before adding add-ons to it. They will need to provide at least the "Collection name" in order to save it.

2. Shown below, is what a user sees when editing a collection that does not have

[2018-05-02 20:30] bobsilverberg opened #4919 "When creating a new collection, the slug should be prefilled"
As discussed with @pwalm a couple of weeks ago, in order to speed the process of creating a collection, on the "Create a collection" form, we should pre-fill the stub field so the user only has to enter a Collection name in order to save the collection. They will be free to change the slug if they wish, but they won't have to.

We can use whatever the user entered for the name as the basis for the

[2018-05-02 20:33] MeridelW commented on #4843
I'm not able to see how this actually behaves using [the link](https://addons-dev.allizom.org/en-US/firefox/collections/add/). **Should I be able to?**

It's my understanding, based on Bob's comment above, that first the user must create and save the collection and THEN the user adds extensions/themes to it. Is that right? If so, I think the current lay-out may need adjustment:
-In particular, it

[2018-05-02 20:35] bobsilverberg commented on #4843
@MeridelW We're going to track this via issue #4918 instead of this, sorry for the confusion. I will copy your comment above into that issue.

[2018-05-02 20:37] bobsilverberg commented on #4918
From https://github.com/mozilla/addons-frontend/issues/4843#issuecomment-386111623, @MeridelW  said:

I'm not able to see how this actually behaves using the link. Should I be able to?

It's my understanding, based on Bob's comment above, that first the user must create and save the collection and THEN the user adds extensions/themes to it. Is that right? If so, I think the current lay-out may nee

[2018-05-02 20:44] bobsilverberg commented on #4918
Thanks @MeridelW

I believe you need to be logged in to see the screen at that [link](https://addons-dev.allizom.org/en-US/firefox/collections/add/). Were you logged in?

-In particular, it seems like the "Save Collection" button should appear above the search-and-add function.

Good thought. I was actually thinking that we should remove the search-and-add select box entirely until after they have

[2018-05-03 08:50] Clearwaterblues commented on #4906
The url? To what exactly? All extension links do this. I start here:
https://addons.mozilla.org/en-US/firefox/extensions/ and I am using version
59.0.3 64bit I hope this helps

On Wed, May 2, 2018 at 3:58 AM, Stuart Colville <notifications@github.com>
wrote:

[2018-05-03 08:53] Clearwaterblues commented on #4906
Seems to be working now

On Thu, May 3, 2018 at 3:50 AM, Mel <webbmelan@gmail.com> wrote:

[2018-05-03 09:56] julieraza opened #4920 "help"
### Describe the problem and steps to reproduce it:

I want to add cryptotab on this mozzilla Firefox
### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-03 09:58] willdurand commented on #4920
Duplicate of #4751.

[2018-05-03 09:58] #4920 closed

[2018-05-03 10:01] diox commented on #4902
This add-on has now been rejected, which doesn't help figure out what was wrong originally...

[2018-05-03 10:01] julieraza commented on #4920
Waiting for answer

[2018-05-03 10:10] diox commented on #4610
We used to have a `BSD` platform, and still have aliases in place making `bsd`, `bsd_os` and `freebsd` work in API requests (the API is case insensitive here). So searching with `platform=FreeBSD` returns add-ons that, a super long time ago, were marked as compatible with BSD.

As is mentioned above the frontend *does* already have a workaround for this, and should already be mapping *BSD to Linux

[2018-05-03 10:12] diox commented on #4499
@realslimshanky sure, anyone can create that issue :) Make sure it does not exist already first.

[2018-05-03 10:15] diox commented on #4404
This is an API bug, probably caused by the fact that in database, themes have 2 separate models, and the legacy frontend must have a hack in place to use the right one and not the API. This will go away once we migrate to static themes, though.

[2018-05-03 10:17] diox commented on #4415
It's an API issue yes, looks like it missed a reindex.

[2018-05-03 12:34] nwilson4121 opened #4921 "browser just stopped....."
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-03 12:50] willdurand commented on #4921
I am sorry but you should add more information. Closing as invalid.

[2018-05-03 12:50] #4921 closed

[2018-05-03 14:51] vcarciu commented on #4907
This was verified on Stage for themes and add-ons without authors , but after talking with @muffinresearch  , I will mark it as verified only in prod in order to test a particular case which was not applicable in Stage :
![noauthor](https://user-images.githubusercontent.com/1583842/39584227-8e5e8e9c-4efa-11e8-8ce4-4ffaa6ba6ed2.gif)

[2018-05-03 15:13] jbeich commented on #4610
Firefox's addon manager appends `&platform=%OS%` when sending users to AMO.

https://searchfox.org/mozilla-central/rev/ce9ff94ffed3/browser/app/profile/firefox.js#48
https://searchfox.org/mozilla-central/rev/ce9ff94ffed3/toolkit/components/urlformatter/nsURLFormatter.js#92
https://searchfox.org/mozilla-central/rev/ce9ff94ffed3/xpcom/system/nsIXULRuntime.idl#46
https://searchfox.org/mozilla-central

[2018-05-03 17:29] championshuttler commented on #4428
@bobsilverberg , do i need to add this into separate file?

[2018-05-03 17:40] rebmullin commented on #4872
hey @pwalm - how does the following look:

![Alt text](https://monosnap.com/image/o1rt2STbGmzuDZXMZZTAefnXRLOgTV.png)

Also - I have a few follow up questions too:

do we need to we need to update the text copy to match what’s above (“Only with Firefox - Get Firefox Now!”), or leave current text as is?

Is this the only place we are replacing the banner?

I have not changed the url - it's still: `

[2018-05-03 18:14] vcarciu commented on #4907
Marking issue as verified after trying in prod.

[2018-05-03 19:00] pwalm commented on #4872
Hello Rebecca,
Couple things to clarify (since I was unclear before! apologies):
- We're going to get rid of the banner entirely for non-Firefox users. (Looks like you restyled it bigger and more button-like in that screenshot)
- The light blue (deactivated) "Install Theme" button needs to be restyled to be the green “Only with Firefox - Get Firefox Now!” button seen at the top of this issue. Foll

[2018-05-03 19:50] dacomboman commented on #4891
Hi,

Guess you've given up on my case?

For the record, disabled all extensions (more than 20) - still same problem.

-Daniel

From: Stuart Colville [mailto:notifications@github.com]
Sent: May 2, 2018 3:38 AM
To: mozilla/addons-frontend <addons-frontend@noreply.github.com>
Cc: dacomboman <daniel@gmx.ca>; Mention <mention@noreply.github.com>
Subject: Re: [mozilla/addons-frontend] "Server error" whe

[2018-05-03 19:51] willdurand commented on #4891
@dacomboman ah no sorry, I think we found a fix and it should be deployed soon.

[2018-05-03 20:15] dacomboman commented on #4891
Phew!

Thought it would be another "just me" type problem.

From: William Durand [mailto:notifications@github.com]
Sent: May 3, 2018 2:52 PM
To: mozilla/addons-frontend <addons-frontend@noreply.github.com>
Cc: dacomboman <daniel@gmx.ca>; Mention <mention@noreply.github.com>
Subject: Re: [mozilla/addons-frontend] "Server error" when logged in. (#4891)

@dacomboman <https://github.com/dacomboman>  a

[2018-05-03 21:04] rebmullin commented on #4872
cool - thanks @pwalm @bobsilverberg  : )

[2018-05-03 22:41] muffinresearch opened #4927 "Cachebust all JS"
Updating to a newer version of Uglify in webpack caused webpack to use the same filenames for different content.

This meant that SRI (subresource integrity hashes were broken noticed for some locale files).

Since rolling back this change (Done in https://github.com/mozilla/addons-frontend/commit/e7c4176f1e004e0a67c78c6b40caf1ff95255663) could result in a content change without a filename change

[2018-05-04 09:29] muffinresearch commented on #4927
Here's the files on stage as of now (Friday AM):

Main JS file:
https://addons-amo-cdn.allizom.org/amo-64299d5e8d5aa362d65b.js

A sample of locale JS files:
https://addons-amo-cdn.allizom.org/amo-i18n-ro-82c34f731c39ea92bdc3.js
https://addons-amo-cdn.allizom.org/amo-i18n-en_GB-168c1fd26685e4e755bb.js
https://addons-amo-cdn.allizom.org/amo-i18n-de-1137007829a6be3b8a6b.js
https://addons-amo-cdn.alli

[2018-05-04 10:33] greenkeeper[bot] opened #4931 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Replaced the old Node.js version in your `.nvmrc` with the new one
- The engines config in 1 of your `package.json` files was too ambiguous to be updated automatically

If you’re interested in upgrading this repo to Node.j

[2018-05-04 11:24] #4927 closed

[2018-05-04 11:50] willdurand commented on #4931
Would it make sense to add node 10 to the travis-ci build? That will maybe be too many jobs for each build, and we could wait until we upgrade from node 6 to 8.

[2018-05-04 12:06] AlexandraMoga opened #4933 "Server error received when navigating with browser 'back' button from page 2 to page 1 in collection details"
STR:

1. Open AMO and visit a collection with >25 add-ons (i.e. https://addons.mozilla.org/en-US/firefox/collections/davy-jones/optimizefirefox/)
2. Use the navigation buttons to go to the second page
3. Use browser's back button to navigate back to the first page

Actual result:
A 'server error' page is displayed when trying to navigate back to the first collection page

Expected result:
First pa

[2018-05-04 12:42] AlexandraMoga opened #4934 "Refreshing the page on search tools landing page will load the legacy frontend version"
STR:

1. Go to AMO homepage
2. Click on More... menu and select Search Tools
3. Refresh the page

Actual result:
The legacy version for Search Tools landing page is loaded when the page is refreshed

Expected result:
The frontend version for Search Tools landing page is displayed at page refresh

Notes:
- clicking on 'View the new site' will not redirect back to the frontend version for Search Too

[2018-05-04 12:45] muffinresearch commented on #4927
## QA Notes:

To validate this on stage + prod we need to check the following:

### AMO

* Load AMO with ro, en-GB, de and fr locales (you can check other locales too, just these should be used for the purposes of the asset filename changes).
* Check the site functions and JS is working
* Watch the network tab for JS and you should see different file-names compared to those listed in the comment a

[2018-05-04 12:50] ioanarusiczki commented on #4880
Verified fixed on AMO dev with FF59(Win10)
h3 for review titles is removed

![removed h3](https://user-images.githubusercontent.com/33448286/39628741-ae7ecc4c-4fb2-11e8-8004-c5d85f19ca73.png)

[2018-05-04 12:54] diox commented on #4610
Ah I thought it'd do that for updates only. Ok then, it's unfortunate but I guess we need to handle that... @muffinresearch since we do have some mapping in the frontend already (see my previous comment) would it make sense to continue there and only send "linux" to the API in those cases?

My reasoning for doing this in the frontend is, you already need to handle API *output*, which will only eve

[2018-05-04 12:58] AlexandraMoga opened #4935 "Language packs listed on AMO are not compatible with latest Firefox release version"
STR:

1. Open AMO homepage
2. Navigate to the language tools listing page (https://addons.mozilla.org/en-US/firefox/language-tools/)
3. Select one of the available Language Packs to open its details page. **EDIT**: The Language Pack must be configured to *only* support a version of Firefox higher than the one you are using.

Actual result:
Language pack compatibility is set to Firefox 60.0 as min

[2018-05-04 13:31] willdurand commented on #3144
@wagnerand do we want admins (or any other user with a specific right like `Users:Edit`) to be able to edit someone else's profile in the frontend? Or can we move this to the admin tool? It seems the API would allow to implement that in the frontend but I don't know whether it is a good idea or even if it is still wanted. (also cc @jvillalobos)

[2018-05-04 13:44] eviljeff commented on #3144
The API was written with thought that any user with the appropriate permission could edit account profiles via the API.

There aren't really any admin tools, beyond django admin (which is last case scenario, because it's liable to break something.  And doesn't support things like photo uploading at all)

[2018-05-04 13:46] tofumatt commented on #3144
It’s probably easier/better going forward if as many admin actions as possible are done via the frontend, as it can be well-tested and share code paths with existing code. I don’t think we’ve given much thought to admin functionality on the frontend, but in general it’s easier to add admin code paths like this instead of building a whole new “admin user edit” tool and testing it as well.

If the a

[2018-05-04 13:57] muffinresearch commented on #4927
WIth tag 2018.05.4 on stage

On AMO stage I see:

* **main file** https://addons-amo-cdn.allizom.org/amo-d2f806a24040e0c2d973.js
* **ro** https://addons-amo-cdn.allizom.org/amo-i18n-ro-080ef9c0d2c8c5d46e62.js
* **en-GB** https://addons-amo-cdn.allizom.org/amo-i18n-en_GB-f58e538f4c843c889cd8.js
* **de** https://addons-amo-cdn.allizom.org/amo-i18n-de-1f79f02fa18737ae3bdc.js
* **fr** https://addons-a

[2018-05-04 13:59] willdurand commented on #3144
I think we could split admin features in two categories: those used everyday and the others. I understand that being able to edit/disable an addon is very often used, but do admins often edit user profiles on behalf of the users?

That's why I raise this point here, maybe we would like to do things differently :-) I ask because I could not find any information.

[2018-05-04 14:02] eviljeff commented on #3144
Additional admin-only tools, or extra admin functionality on existing tools, might be worth considering too.
But in this case it's just allowing admins (admin-like-users) to use the user form.  We shouldn't side-track the issue.

[2018-05-04 14:03] muffinresearch commented on #4610
@diox yep, I think that would make sense.

[2018-05-04 14:04] tofumatt commented on #3144
I’ve heard arguments from devs that moving admin functionality into its own piece just means maintaining two components/pages/etc., one of which (the admin one) being internal and easy to neglect. If you look at the existing admin tools on addons-server this is sort of the case. We don’t test them as often as we should and they have a lot of rough edges.

And in the case of the frontend it’s proba

[2018-05-04 14:04] tofumatt commented on #3144
Yeah all that said a first pass that makes this current-user-only probably works...

[2018-05-04 14:25] vcarciu commented on #4927
Verified as fixed.

[2018-05-04 14:25] smayer97 opened #4936 "Clicking Browser Back button when navigating large collections generates Server error."
### Describe the problem and steps to reproduce it:
### What happened?
Open large collection that is paginated into 2 or more pages, e.g.
https://addons.mozilla.org/en-GB/firefox/collections/smayer97/for-mr-tech-toolkit/
Go to second page.
Click browser Back button generates server error message
![screen shot 2018-05-04 at 10 18 19 am](https://user-images.githubusercontent.com/6752849/39633007-4cc

[2018-05-04 14:26] ioanarusiczki commented on #4188
Verified fixed on AMO dev with FF59 (Android 8.0.0)

![pixelfix](https://user-images.githubusercontent.com/33448286/39633264-22800edc-4fc0-11e8-8df9-0043e883178b.gif)

[2018-05-04 14:32] smayer97 commented on #4936
Oops...just noticed someone else posted the exact same thing as me just moments ago...
https://github.com/mozilla/addons-frontend/issues/4933

So this is now a duplicate.

[2018-05-04 14:33] willdurand commented on #4936
indeed, thanks for your report @smayer97.

[2018-05-04 14:33] #4936 closed

[2018-05-04 14:34] smayer97 commented on #4936
;-)

[2018-05-04 14:49] xu3u4 commented on #4886
Hi, I am interested in this project. Can I take this issue as my first try?
Thank you.

[2018-05-04 15:28] jvillalobos commented on #3144
It's very rare that an admin needs to edit user profile info. It doesn't make much sense to do that for spammers or malicious developers, since they can edit the account back to its previous state. The one admin-only action we want implemented is the ability to ban accounts, but that's something that would be part of a [separate admin tool](https://docs.google.com/document/d/1ts_1IB3hXcTvEX0gclN55

[2018-05-04 20:30] rebmullin commented on #3056
@muffinresearch @jvillalobos  so theme description displays here instead - is this okay? it looks something like this on disco v:
![Alt text](https://monosnap.com/image/jawrwTxCyeUDmTNwmc3ULg5JxQPyQ9.png)

[2018-05-05 14:16] SeanPrashad opened #4940 "Suggestion: Enforce 80 character lines with Eslint"
### Describe the problem and steps to reproduce it:
Whilst working on #4693, multiple reviewers mentioned that my lines exceeded 80 characters and thus were too long, however eslint did not complain. For example, [here](https://github.com/mozilla/addons-frontend/pull/4693/files#diff-7ac6d4cc535e144232c13e382e52eeecR176) is 95 characters long.

To reproduce the problem, simply type out any valid li

[2018-05-07 02:40] bobsilverberg commented on #4866
This issue has been updated to be about creating an AddonRecommendations component which will display results from TAAR Lite. It will also:
- Use a cookie to allocate users into one of two cohorts: those that will receive TAAR recommendations and those that will receive only curated recommendations.
- Send Google Analytic pings to track impressions.

[2018-05-07 09:58] willdurand commented on #4179
FWIW, Airbnb suggests to use `Number.isNaN` only: https://github.com/airbnb/javascript#standard-library--isnan.

[2018-05-07 12:36] #4867 closed

[2018-05-07 12:37] bobsilverberg commented on #4867
For QA:

There's nothing specific to test for this, as none of the code implemented here is currently used in the site,  but a quick smoke test to make sure this doesn't break anything would be worthwhile.

[2018-05-07 13:09] #4541 closed

[2018-05-07 13:29] willdurand commented on #4891
Sorry what? I think we have fixed the bug, but let me know if you still have issues.

[2018-05-07 13:42] willdurand opened #4944 "`sandbox.create()` is deprecated. Use default sandbox at `sinon.sandbox` or create new sandboxes with `sinon.createSandbox()`"
Sinon has been upgraded recently and new warnings are visible in the test suite:

[code]

It looks like an easy fix to avoid too many information in the test suite output.

[2018-05-07 14:05] #4933 closed

[2018-05-07 14:09] willdurand opened #4946 "Add name to each travis job"
Add a name to each travis-ci job to easily recognize them.

[2018-05-07 14:10] #4946 closed

[2018-05-07 14:19] bobsilverberg opened #4947 "AddonRecommendations card does not have enough space at the bottom when loading"
This may be difficult to reproduce depending on how fast the recommendations are loaded, but here's an STR:

1. Go to the details page for an add-on.
2. Observe the `AddonRecommendations` card which appears below the "About this extension" card on the right-hand side.
3. Try to observe it when it is in its loading state. You can re-trigger this by doing a hard refresh on the page.

Expected:

The

[2018-05-07 14:40] rebmullin commented on #4843
@willdurand  - this is partly fixed but given that there is a new issue - #4918 - to track remaining concerns/questions, I will close this.

[2018-05-07 14:40] #4843 closed

[2018-05-07 14:56] dacomboman commented on #4891
Hi William,

Sorry, I didn't express that last message properly.

What I meant to say is that I still get same "server error" message when logged in.

This message is still ongoing for me with Firefox as well.

Will try deleting profile and setup again to see if that can help any.

-Daniel

From: William Durand [mailto:notifications@github.com]
Sent: May 7, 2018 8:29 AM
To: mozilla/addons-frontend

[2018-05-07 15:04] willdurand commented on #4935
xref: #8180

[2018-05-07 15:16] willdurand commented on #4891
I don't think it is a good idea, you will likely loose your data. I don't think your account is faulty but we would need more information now.

- Can you install an extension if you are not logged in?
- Do you get any specific error?
- Does it happen with other extensions?

[2018-05-07 15:17] #4944 closed

[2018-05-07 16:41] #4886 closed

[2018-05-07 18:29] dacomboman commented on #4891
Too late!

Syncing went well (restoring extensions, passwords).

But, same issue as before with regards to signing online:

http://imagizer.imageshack.com/img924/7759/lJXIk2.png

The extension installed when not yet logged into online service.

The minute I log in, I get the above error message and there's no way to click to install the extension (as you can see).

-Daniel

From: William Durand [m

[2018-05-07 18:52] #4906 closed

[2018-05-07 18:54] willdurand commented on #4891
@dacomboman could you give me the link to the addon you tried to install?

[2018-05-07 19:03] #4774 closed

[2018-05-07 19:12] MeridelW commented on #4918
@bobsilverberg Apologies for the delay -- I am still getting the hang of GitHub issue tracking!

- I'm still not able to see the behavior in action, unfortunately. It looks like I am indeed logged in:
<img width="1205" alt="screen shot 2018-05-07 at 2 06 07 pm" src="https://user-images.githubusercontent.com/33848177/39719915-47e95204-5200-11e8-9c4d-8d5c469fa9f0.png">

2. > Good thought. I was actu

[2018-05-07 20:21] bobsilverberg opened #4951 "The select box to add an add-on to a collection should be hidden until the collection is saved"
On the Add a Collection screen (https://addons-dev.allizom.org/en-US/firefox/collections/add/) we should hide the select box that is used to add an add-on to the collection before the collection is saved. It serves no purpose when creating a collection.

[2018-05-07 21:44] dacomboman commented on #4891
Sure! But it does it for any extension:

https://addons.mozilla.org/en-US/firefox/addon/swift-selection-search/?src=search

-Daniel

From: William Durand [mailto:notifications@github.com]
Sent: May 7, 2018 1:55 PM
To: mozilla/addons-frontend <addons-frontend@noreply.github.com>
Cc: dacomboman <daniel@gmx.ca>; Mention <mention@noreply.github.com>
Subject: Re: [mozilla/addons-frontend] "Server error

[2018-05-08 00:05] rebmullin commented on #4934
Hey @jvillalobos   - I was looking into this a bit and saw some discussion about search at #4496 which I think discusses this a bit. Can you please confirm that I have this right - the header link here (`/search-tools/`) should be updated to the following:

'/search-engines/' (set up redirect to /search/?type=search)

Or do you have more info here?

[2018-05-08 00:06] #4692 closed

[2018-05-08 01:53] SeanPrashad commented on #4940
[Eslint rule for `max-len`](https://eslint.org/docs/rules/max-len) to investigate

[2018-05-08 05:31] willdurand commented on #4891
Thanks @dacomboman, I want to look into our Sentry logs (error aggregator).

[2018-05-08 05:34] willdurand commented on #4891
Thanks @dacomboman, I want to look into our Sentry logs (error aggregator).

[2018-05-08 06:05] xu3u4 commented on #4951
Hi may I take this issue?

[2018-05-08 06:39] willdurand commented on #4951
Hi @xu3u4, yes of course! The "select box" is the autocomplete search for add-ons.

[2018-05-08 07:52] AlexandraMoga commented on #4843
Verified as fixed on AMO-dev with FF59, Win10x64 and Android 7.0 for the placeholder text part.
I'm going to look for further  improvements suggested in #4918

![image](https://user-images.githubusercontent.com/31961530/39744686-c72b6644-52ad-11e8-8d17-ebbbf3d00c0c.png)
![image](https://user-images.githubusercontent.com/31961530/39744703-d429ec44-52ad-11e8-8763-2deb64025554.png)

[2018-05-08 08:44] AlexandraMoga commented on #4933
Verified as fixed on AMO dev with FF59, Win10x64

![coll-nav](https://user-images.githubusercontent.com/31961530/39747147-1d411b44-52b5-11e8-8b1b-037100889197.gif)

[2018-05-08 09:07] ioanarusiczki commented on #4541
This is verified fixed on AMO dev with FF59 (Win10).
Also checked to see if the list of themes sorted by Name from https://github.com/mozilla/addons-server/issues/7599 can be viewed https://addons-dev.allizom.org/en-US/firefox/search/?page=1&platform=windows&sort=name

[2018-05-08 09:10] willdurand commented on #4872
@rebmullin so, this has been fixed no?

[2018-05-08 10:32] AlexandraMoga opened #4954 "Add-ons by author cards from user profile page show only extensions and themes"
STR:

1. Load AMO-dev homepage
2. Visit a profile page for a user that has only language packs, dictionaries or search tools submitted:
      Lang Pack and dictionaries: https://addons-dev.allizom.org/en-US/firefox/user/tmd10/
      Search Tools: https://addons-dev.allizom.org/en-US/firefox/user/rangeva/
3. Check the information displayed on the user profile page

Actual result:
There is no "_Add-

[2018-05-08 10:52] AlexandraMoga commented on #4774
I have checked the 'Add-ons by author' cards from the user profile and add-on details pages and here is how they're looking now:

**[1] '_Add-ons_ by author' in the user profile page:**

![image](https://user-images.githubusercontent.com/31961530/39753137-67b9ffcc-52c6-11e8-8cef-6db9d49f2de8.png)

**[2] 'More _add-ons_ by author' from add-on details page:**
![image](https://user-images.githubuserc

[2018-05-08 11:00] willdurand commented on #4774
@AlexandraMoga it is indeed!

[2018-05-08 11:06] willdurand commented on #4954
I see in the code that it has been done on purpose.

@jvillalobos do we want to display addons other than extensions and themes?

[2018-05-08 11:13] AlexandraMoga commented on #4774
Verified as fixed on AMO-dev with FF59, Win10x64

[2018-05-08 11:57] ioanarusiczki opened #4955 "A different title should be displayed while hovering over the rated star"
Prerequisites:
user is logged in

STR:
1. Load AMO dev and go to an add-on or theme's detail page
2. Rate an add-on or theme, no text is needed (such as 3 out of 5)
3. Hover over the rated star and observe the message

Expected result:
Rated 3 out of 5 message is displayed while hovering over the star.

Actual result:
Update your rating to 3 out of 5 is displayed.

Notes:
This issue is reproducibl

[2018-05-08 12:05] ioanarusiczki commented on #4692
Verified fixed on AMO dev with FF59(Win10)
I filed https://github.com/mozilla/addons-frontend/issues/4955 as an improvement of the actual behavior.

[2018-05-08 12:45] #4903 closed

[2018-05-08 12:55] bobsilverberg opened #4957 "Set a custom dimension based on the TAAR Lite cohort of the user"
We are currently sending a single ping to Google Analytics (GA) for each impression of the AddonRecommendations card. We are sending the `outcome`, which will indicate what was requested from the API and what was received, and appending the `fallbackReason` to that with a dash if there was a fallback reason. We are also sending the name of the add-on in question.

We should confirm whether this is

[2018-05-08 13:26] AlexandraMoga opened #4958 "User profile page cards show the 'username' instead of the 'display name' for the associated account"
Prerequisites:
User is logged out or logs in with a non-admin account

STR:
1. Load AMO-dev homepage
2. Choose an add-on to view its details page (i.e. https://addons-dev.allizom.org/en-US/firefox/addon/better-history/)
3. Clock on the developer name to access the user profile page
4. Notice the developer name displayed in the user profile cards

Actual result:
User profile cards are displaying th

[2018-05-08 13:56] #4866 closed

[2018-05-08 14:03] bobsilverberg commented on #4940
While we *prefer* that lines be limited to 80 chars, I think we intentionally do not have an eslint rule for that so that we can break the rule on the rare occasions where it's the only way to make the code look decent. Therefore, I'm not sure if we want to implement a real 80 char limit via eslint.

@willdurand @muffinresearch what do you think?

[2018-05-08 14:08] ioanarusiczki commented on #4886
There is a visible space between the lines compared with the screenshot above.
Verified fixed on AMO dev with FF59 (Win10) using Responsive Design Mode
![space between the lines](https://user-images.githubusercontent.com/33448286/39761662-59244bb4-52e1-11e8-8db3-40f4fc00c574.png)

[2018-05-08 14:12] AlexandraMoga commented on #4903
Verified on AMO-dev and the content is updated.
Full validation will be made in prod with actual data

[2018-05-08 14:14] muffinresearch commented on #4957
@bobsilverberg Martin's Team are writing a doc to cover instrumentation so as soon as that's complete I'll send it your way and from there it should be fairly easy to make a few updates as needed.

[2018-05-08 14:33] bobsilverberg commented on #4940
We could do that, but I personally would find that annoying if I have to ignore some warnings when running it locally. It would make quickly determining whether lint passed or not into a more difficult chore.

[2018-05-08 14:53] willdurand commented on #4940
I was thinking about this too, so let's keep things as is.

[2018-05-08 14:53] #4940 closed

[2018-05-08 15:34] bobsilverberg commented on #4957
Here's a link to the doc for reference: https://docs.google.com/document/d/1xrx2mxh3oCw-6AFoCqmNsXwc4xeqLROSBK9Z58z3A2I

[2018-05-08 16:28] muffinresearch commented on #4940
FWIW we've covered this ground before [1] and I looked at prettier in [2].

In the end the decision was made to maintain the status quo via curate eslint rules. Just implementing max-len was a huge pain.

That said, if enough of the team want to revisit Prettier then we could (I like the idea of getting rid of all stylistic bike-shedding despite the rules it gets wrong IMHO) - it would however req

[2018-05-08 16:32] willdurand commented on #4940
FWIW Prettier got a lot better lately with more config options like `--arrow-parens` and a nice integration with eslint.

[2018-05-08 16:51] rebmullin commented on #4872
@willdurand  - yep -thanks - it should be fixed by PR #4925. I guess b/c i didn't put ~`#4872`, it didn't close this..?

I'll close now...

[2018-05-08 16:57] bobsilverberg opened #4960 "Remove stylefmt from dependencies to eliminate nsp-check failure"
Travis' nsp-check is [failing](https://travis-ci.org/mozilla/addons-frontend/jobs/376447158) because of a component which is a dependency of `stylefmt`, which we appear not to use. Removing `stylefmt` as a dependency *should* resolve this issue.

[2018-05-08 19:59] rebmullin commented on #4367
hey @diox  - I was told that maybe you could assist w/ the following questions in relation to this issue:

When submitting a review it doesn't * seem * to allow empty text (null or string). These are the scenarios I am running into:

First time creation of review:
Passing in null for body text - it doesn’t get saved as a review
Passing in string for body text - it doesn’t allow this - I get the fo

[2018-05-08 20:18] jvillalobos commented on #4954
We're phasing out all other add-on types, so I don't think we need to show them there.

[2018-05-08 20:18] #4954 closed

[2018-05-08 20:52] jvillalobos commented on #4934
Yes, it looks like redirecting to `/search/?type=search` should fix this problem.

[2018-05-09 10:39] muffinresearch commented on #4934
@mozilla/addons-ops should be able to confirm, but it's possible the `/%LOCALE%/%APP%/search-tools/` path isn't in the nginx config which routes this route to the new frontend for a server-side rendered page.

[2018-05-09 12:40] ioanarusiczki opened #4963 "Truncated text on the "Only with Firefox - Get Firefox now!" button when the add-on's detail page is opened with Internet Explorer"
STR:
1. Load with Internet Explorer an add-on's detail page that has a longer summary on the left side of the button.
2. Observe the button.

Actual result:
Only with Firefox - Get Firefox now is displayed correctly.

Expected result:
The "w" is truncated and "!" is missing.

Notes:
This issue is not reproducible with Microsoft Edge.

![truncated w](https://user-images.githubusercontent.com/334482

[2018-05-09 12:41] ioanarusiczki commented on #4872
I verified this issue on AMO dev and AMO stage with Chrome, Microsoft Edge, Internet Explorer.
On iOS platform - Safari and on Android - Chrome for small devices.
The button "Only with Firefox - Get Firefox now" instead of greyed out "Add to Firefox" is displayed and redirects to https://www.mozilla.org/en-US/firefox/new/?utm_campaign=non-fx-button&utm_content=install-addon-button&utm_medium=refer

[2018-05-09 13:12] willdurand commented on #4872
@ioanarusiczki I am not sure to understand, is this issue marked as verified?

[2018-05-09 13:18] ioanarusiczki commented on #4872
@willdurand I'm sorry, forgot to add label, thanks for the reminder :)

[2018-05-09 13:19] willdurand opened #4964 "Don't show all inputs to users who don't have a public-facing user profile page"
In other words, the following inputs should be hidden:

- homepage
- location
- occupation
- biography

[2018-05-09 13:22] willdurand opened #4965 "User profile edit page should probably not return a 404 when user is not logged in"
See: https://github.com/mozilla/addons-frontend/pull/4922#discussion_r186486440

I don't really know what should be done here, but the legacy frontend redirects to FxA. Maybe we should be doing this too. Displaying a login button would be the easiest option, but this would also show a very empty page with nothing else than a button.

[2018-05-09 13:37] AlexandraMoga commented on #4947
Update:

Add-ons with longer names do not fit entirely in the recommendations card on smaller screen sizes:

![image](https://user-images.githubusercontent.com/31961530/39817542-1b8dd484-53a7-11e8-8ff8-8a30a5256f17.png)

@bobsilverberg I guess this is related with your issue, but if you prefer, we can track it separately.

[2018-05-09 14:08] AlexandraMoga commented on #4866
I have verified the new Add-on recommendations component on AMO dev and here are my observations:

**1.** The recommendations card is displayed below the 'About this extension' card and has two instances:
 * [a] - recommendations - curated
![image](https://user-images.githubusercontent.com/31961530/39818262-276e4fe8-53a9-11e8-8ae9-dbe26f26bef5.png)
  * [b] - recommendations from TAAR
![image](http

[2018-05-09 14:28] #4960 closed

[2018-05-09 14:39] MeridelW commented on #4918
@bobsilverberg Ah, I see. I didn't know you had to enter a slug to save the collection. I think we should make this apparent somehow - unless this is changing, as you mentioned. When will the slug requirement be removed?

We can also discuss this during AMO front end meeting today.

[2018-05-09 14:47] bobsilverberg commented on #4947
I think this is the same issue as I discussed above, so I don't think we need a separate issue to track it.

@rebmullin Would you be willing to take this one on? I tried to fix it but couldn't seem to figure it out.

[2018-05-09 14:52] vcarciu commented on #4960
Please add some STRs to this issue or mark it as "qa:not-needed"

[2018-05-09 14:56] bobsilverberg commented on #4918
@MeridelW That change should be landing soon, so let's not worry about it for now, and yes, let's discuss it further in today's meeting. Thanks!

[2018-05-09 14:58] rebmullin commented on #4947
@bobsilverberg  - sure thing!

[2018-05-09 15:15] MeridelW commented on #4918
@bobsilverberg Thanks! Sounds good.

[2018-05-09 15:33] willdurand commented on #4963
I think we focus on Firefox a lot, and then best effort for the other browsers. IE is getting old, so P3 seems fine.

[2018-05-09 15:37] bobsilverberg commented on #4957
We need to set a custom dimension to support the requirements in the doc mentioned above. I'm going to re-purpose this issue to be about implementing that custom dimension.

[2018-05-09 15:43] bobsilverberg commented on #4963
In that case it might make sense to downgrade it to a P4.

[2018-05-09 17:39] muffinresearch opened #4967 "Minor nits with the non-firefox "Get firefox" button"
STR: Using chrome, visit a details page (on -dev or stage)

The Get Firefox button is not aligned with the text. It might look more harmonious if that is aligned.

Secondly `Only with Firefox - Get Firefox Now!` should use an em dash rather than a hyphen e.g `Only with Firefox — Get Firefox Now!`

<img width="926" alt="fullscreen_09_05_2018__18_29" src="https://user-images.githubusercontent.com/15

[2018-05-09 18:07] bobsilverberg commented on #4866
That is a good question. It does sound like it would make sense to only show recommendations for extensions and not other add-on types. @muffinresearch what do you think? Does TAAR Lite provide recommendations for themes and other add-on types?

[2018-05-09 18:08] jvillalobos commented on #4963
Agree on low priority. Is this potentially a good first bug?

[2018-05-09 18:17] bobsilverberg commented on #4963
I'm not sure, it's probably just a css fix, but it might be a tricky one, as it only surfaces on IE.

[2018-05-09 18:46] muffinresearch commented on #4866
No it's just for web-extensions.

[2018-05-09 19:12] bobsilverberg opened #4968 "Only display add-on recommendations for extensions"
The `AddonRecommendations` component that is displayed for an `Addon` should only be displayed if the add-on is an extension. Currently it displays for all add-on types, but that should be fixed.

[2018-05-09 19:13] bobsilverberg commented on #4866
Thanks @muffinresearch and @AlexandraMoga. I opened issue #4968 to track only displaying recommendations for extensions.

[2018-05-09 19:45] bobsilverberg commented on #4964
I'm sure you know what this means, @willdurand, but the description above does not make it very clear exactly which inputs should be hidden, or under what circumstances. Maybe something a bit more explicit would be beneficial.

[2018-05-09 20:28] bobsilverberg commented on #4367
After discussing this with @diox in IRC, I believe this mostly needs to be fixed on the back end, and to that end I opened https://github.com/mozilla/addons-server/issues/8226. We will still need to make sure that our code sends a null to the API when a user blanks out the body text, which should work after https://github.com/mozilla/addons-server/issues/8226 is fixed.

[2018-05-09 20:38] bobsilverberg commented on #4931
@willdurand I feel like we discussed that in a meeting and the answer was "no", but I could be wrong. I guess we should make a call on that, after which this issue can be closed. Do you agree?

[2018-05-09 20:41] bobsilverberg commented on #4889
I believe the explanation at https://github.com/mozilla/addons-frontend/issues/4889#issuecomment-385394330 explains this, and we haven't heard anything back from the reporter in over a week, so I'm going to close this.

[2018-05-09 20:41] #4889 closed

[2018-05-09 20:49] bobsilverberg commented on #4793
I don't know what could be the cause of this problem, but I notice that it is a problem with the edit page on the legacy site. That page is currently the only one available on prod, but we do have a new version available on the new front-end on dev. I know that doesn't address the immediate issue, but I guess if we are going to fix this we would need to open an issue for addons-server.

Is this ha

[2018-05-09 21:31] rebmullin opened #4969 "placeholder text for collection should only appear when logged in"
### Describe the problem and steps to reproduce it:

if you go to https://addons-dev.allizom.org/en-US/firefox/collections/add/ as a logged out user,
you will see placeholder text

### What did you expect to happen?
placeholder text should be viewable only to logged in user

### Anything else we should know?
<img width="972" alt="screenshot 2018-05-09 15 15 29" src="https://user-images.githubuserc

[2018-05-10 00:58] rebmullin opened #4972 "fixing locale bug that shows up on travis-ci"
seeing failed test on ci check:

see: https://travis-ci.org/mozilla/addons-frontend/jobs/377046751

[2018-05-10 02:48] tsl143 commented on #4958
For the given case we are getting `vasilicamihasca` as `displayName` from API response.
<img width="263" alt="screen shot 2018-05-10 at 8 16 17 am" src="https://user-images.githubusercontent.com/5318732/39849533-80973b12-542a-11e8-9af2-c2d4e317f1e2.png">

In addition we are using `name` key in addon-details page to show author name, instead shouldn't that be `displayName` instead?

[2018-05-10 04:25] Hend2awan opened #4973 "1k"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-10 04:25] Hend2awan commented on #4973
let me

[2018-05-10 06:26] AlexandraMoga commented on #4793
My guess is that this has something to do with the selected locale.
I was also able to reproduce with my collections when changing to a different locale than the one in which the collection was originally created.

Example 1:
https://addons.allizom.org/en-US/firefox/collections/amoga1/release-25-apr/edit/ - editable fields are populated
https://addons.allizom.org/en-GB/firefox/collections/amoga1/r

[2018-05-10 07:28] AlexandraMoga commented on #4866
I'm marking this as verified fixed as the related issue will be tracked separately (see #4968, #4947 )

[2018-05-10 08:07] muffinresearch commented on #4973
I'm going to close this since there's no information to go on here. Please add more information so we know what the issue is.

[2018-05-10 08:07] #4973 closed

[2018-05-10 11:51] bobsilverberg commented on #4793
Ah, yes, that makes sense @AlexandraMoga, thanks for that! I'm not sure if there even is a fix for this, and I'm fairly certain if there is it will be complicated and not something we'd implement for the time this page is still only available on the legacy site. @eviljeff do you agree?

[2018-05-10 12:13] eviljeff commented on #4793
@bobsilverberg I agree.  @AlexandraMoga's guess is right - it's locale related - underneath the fields are localizable, even though we don't expose UI to switch (other than changing the url)

[2018-05-10 12:26] bobsilverberg commented on #4958
Thanks for looking into this @tsl143. I'm not sure which API call those results are from. I believe the API call that is used for the User Profile screen is to `accounts/account/{username}` and that returns the displayName in the `name` field, and the username in the `username` field:

<img width="246" alt="screenshot 2018-05-10 08 23 29" src="https://user-images.githubusercontent.com/142755/39869

[2018-05-10 12:28] bobsilverberg commented on #4793
In that case, I think this issue can be closed. It's not an issue for addons-frontend, and it's not something that will be fixed in addons-server.

[2018-05-10 12:28] #4793 closed

[2018-05-10 12:55] bobsilverberg commented on #4793
The problem occurs because the collection was created/edited using one locale, and then an attempt was made to edit it using a different locale. The workaround is to make sure you only use a single locale when you are creating/editing collections. If you come across a collection in a specific locale that is missing these fields, you can just enter them again, after which they should appear on the

[2018-05-10 13:07] #4951 closed

[2018-05-10 13:56] #4972 closed

[2018-05-10 14:04] #4969 closed

[2018-05-10 14:59] ioanarusiczki commented on #4867
Release testing was performed[ here](https://testrail.stage.mozaws.net/index.php?/runs/overview/19)
I'm marking this verified fixed on AMO stage with FF60 (Win10&Android 7.0)

[2018-05-10 15:50] bobsilverberg commented on #4428
Closed via #4950

[2018-05-10 15:50] #4428 closed

[2018-05-10 16:17] smayer97 commented on #4793
Pardon my ignorance but I am not sure what a locale is and how I would affect or change this. In the examples above, I am the creator and as far I can recall, this was created from the computer. And in performing edits all these years, it is only recently that this problem has appeared. HTH.

[2018-05-10 16:21] bobsilverberg commented on #4793
A locale is the language of the web site. Your links all point to the en-GB locale (e.g., https://addons.mozilla.org/en-GB/firefox/collections/smayer97/for-parental-control/edit/). A different locale would look like, for example https://addons.mozilla.org/en-US/firefox/collections/smayer97/for-parental-control/edit/.

It seems like your collections were created when you were visiting the site via

[2018-05-10 17:06] biskit1 commented on #4878
Hi there,
I'd like to work on this if possible.

Got started and will open pull request shortly.

[2018-05-10 18:19] bobsilverberg commented on #4878
Sounds good, go for it @biskit1.

[2018-05-10 21:01] bobsilverberg opened #4977 "Change the workflow for Add A Collection to leave the user at the edit screen"
Currently, after a user saves a new collection, they are taken to the View Collection screen, from whence they must click the "Edit this collection" link in order to get back into edit mode to be able to add add-ons to the collection. We determined that this is not the best user experience.

Instead of this the user should "remain" on the edit collection screen, the Search box, which can be used t

[2018-05-10 23:05] pwalm opened #4978 "Change button copy in collections flow"
Some copy changes need to happen during the create collection flow:

View collection page
- "Edit this collection" needs to be an actual button (not a link)

Edit collection view
- When giving the collection a name in order to create it, the button should read "Create collection"
- When adding add-ons to the collection, the button should read "Save collection"

I think this was it? Meridel, can yo

[2018-05-10 23:15] pwalm opened #4979 "Add a confirmation when adding add-ons to a collection"
We need to add a confirmation when a user adds something to their collection, so they know it happened even if they don't see it. Similar to how I've mocked it up below (for ratings):
<img width="929" alt="screen shot 2018-05-10 at 4 10 32 pm" src="https://user-images.githubusercontent.com/6797635/39898746-0ac45d28-546d-11e8-9ae6-c5e09489f6f0.png">

Rules:
- The message bar should appear above the

[2018-05-11 07:33] AlexandraMoga commented on #4972
@rebmullin could you please add a "qa:not needed" label when QA's input is not required for a closed issue?
Thank you

[2018-05-11 07:41] AlexandraMoga commented on #4428
Could you please specify if there is any QA required for this?
Thank you

[2018-05-11 08:39] championshuttler commented on #4428
Hi @AlexandraMoga, I am attaching the screenshot of changes I made. I think its enough ;)

![screenshot-2018-5-11 mozilla addons-frontend](https://user-images.githubusercontent.com/22130317/39915186-dbf71964-5524-11e8-9290-51cc414963b9.png)

[2018-05-11 09:25] willdurand commented on #4931
We could probably wait indeed. Let's upgrade our servers to node 8 first, then we will test on node 8 and 10.

[2018-05-11 09:25] #4931 closed

[2018-05-11 11:38] muffinresearch opened #4980 "Rename config for tracking to reflect it's specific to GA"
Refs https://github.com/mozilla/addons-frontend/issues/4528

This is the first step for enabling hybrid content telemetry.

* Rename the `trackingEnabled` flag to `GATrackingEnabled`
* rename the `enabled` prop in src/core/tracking.js to `GAEnabled`

[2018-05-11 11:42] rzandrypra opened #4981 "tyrr"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-11 11:58] muffinresearch commented on #4981
Closing due to lack of information.

[2018-05-11 11:58] #4981 closed

[2018-05-11 13:21] bobsilverberg opened #4982 "We need tests for CollectionManager.onAddonSelected"
I'm not sure how I managed to land this without any tests, but I did, so we need some tests for the "Add to Collection" feature of the CollectionManager.

[2018-05-11 13:34] rebmullin commented on #4972
@AlexandraMoga  - yep ...sorry about that...will do moving forward : )

[2018-05-11 14:42] smayer97 commented on #4812
BTW, I would much rather have a longer loading time where I can work with all the add-ons in a collection than to have pagination. At least, I would suggest making it an option for users to choose one over the other as they see fit.

[2018-05-11 17:07] MeridelW commented on #4978
Thanks, @pwalm. That covers the button copy. Here is all of the copy for the new flow described in [4977](https://github.com/mozilla/addons-frontend/issues/4977)

**User state:** Creating collection
**Grey Space Copy:** First, create your collection. Then you can add extensions and themes.
Button Copy, State One: Create Collection

From Bob: "User remains on on the edit collection screen, the Sear

[2018-05-11 17:11] rebmullin commented on #4977
hey @bobsilverberg  - i was going to look into this one but i wasn't sure - how do we update urls coming from legacy pages to new pages? for example from here (click on `rm-test-1`):
![Alt text](https://monosnap.com/image/0NjI9FtADx52PpVDASJooZETpRJqLj.png)

it looks like from what i can tell it's set up correctly on our end but wondering if we need to update this anywhere else?

[2018-05-12 02:10] SeanPrashad commented on #4955
This was my oversight as a result of #4692. [Chaya](https://github.com/biskit1) and I will work on this one together in the near future!

[2018-05-13 09:21] grahamperrin opened #4986 "Placeholder content only (no details) at the new front end to slug 'AddonVerNumber'"
### Preamble

Symptoms comparable to recently closed [Impossible to load an add-on detail page when its slug begins with a dash followed by only numbers · Issue #4541 · mozilla/addons-frontend](https://github.com/mozilla/addons-frontend/issues/4541) however in this case:

- I see nothing unusual in the slug
- at (dev) https://addons-dev.allizom.org/en-GB/firefox/addon/AddonVerNumber/ today there's

[2018-05-13 10:56] tsl143 opened #4987 "[suggestion][mobile] Limit more addons per row to 2 in More extensions by user on mobile"
![2018-05-13 16 22 28](https://user-images.githubusercontent.com/5318732/39966496-3a6e601e-56ca-11e8-8ec7-a40a9273432f.jpg)
More extensions by user card has 3 addons per row, that looks kind of odd or rather broken, lets limit this to 2 adodns per row for mobile.

@pwalm @muffinresearch

[2018-05-13 14:59] jamboSam opened #4988 "BetterPrivacy-signed"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-13 18:07] willdurand commented on #4988
Sorry, we need more information. This issue tracker is for the addons.mozilla.org website only, not the addons listed on it.

[2018-05-13 18:07] #4988 closed

[2018-05-13 18:10] willdurand commented on #4987
We should maybe use the full width for each addon actually, as done for the shelves if I remember correctly.

[2018-05-14 14:04] #4968 closed

[2018-05-14 14:15] #4957 closed

[2018-05-14 14:55] AlexandraMoga commented on #4957
@bobsilverberg could you please add some steps to help us verify this?
Thank you

[2018-05-14 15:04] bobsilverberg commented on #4957
Hmm, I'm not sure how you might verify this. If you have access to Google Analytics for dev you could check there, but I'm guessing you probably do not. You could check for the logging statement in the web console, but that really only proves that something was logged. It still might be worth checking that, so here's some STR:

1. Open up the web console and observe the console tab.
2. Visit a pag

[2018-05-14 18:58] philipcristiano commented on #4934
I can confirm that there isn't anything for `search-tools` in the config management repo. So there isn't anything in the nginx config for this.

[2018-05-14 21:14] rebmullin opened #4994 "addon recommendations looks squished on medium breakpoints"
### Describe the problem and steps to reproduce it:
go to an addon page and view the Other popular Extensions' (addon recommendations) on ipad or similar device size. Both portrait and landscape show squished content here (see screenshots below)

### What happened?
Here you can see that styles are a little squished especially in portrait

@pwalm - can you take a look ~ ipad sizes? This is what we

[2018-05-14 21:16] #4947 closed

[2018-05-14 21:16] willdurand commented on #4994
I'd go for the stacked mobile version.

[2018-05-15 02:43] SeanPrashad opened #4995 "Update add-on rating text to be infinitive rather than imperative"
### Describe the problem and steps to reproduce it:
As per [this comment](https://github.com/mozilla/addons-frontend/pull/4693#issuecomment-388758954) found in #4693, we should remove the trailing period as it makes the rating string instructive/imperative rather than infinitive, which affects a number of localizations.

Simply hover over the rating portion on any add-on details page to see the to

[2018-05-15 08:03] #4995 closed

[2018-05-15 08:41] muffinresearch commented on #4995
@SeanPrashad thanks for filing + fixing this 👍

[2018-05-15 08:44] muffinresearch commented on #4994
It might be best to go for the 2 rows of 2 for larger breakpoints too. 4 in one row only really works when you have the full width to play with (e.g. the homepage).

[2018-05-15 10:00] willdurand opened #4997 "Add a edit link to user profile page when it makes sense"
The user profile page should have a link to the edit page when:

1. the current viewed profile is the current logged-in user's profile
2. the current logged-in user has permission to edit a user profile (admin or user with `Users:Edit` permission)

Does that make sense? If so, where should we put this link?

We could maybe add a text link below the "report" button:

![screen shot 2018-05-15 at 11

[2018-05-15 10:03] willdurand opened #4998 "Redirect user to profile page when profile has been updated?"
When a user edits their profile and clicks "update", the current behavior is to display a "success" message and to stay on the same (edit) page. It is the behavior on the legacy frontend as well.

Should we change that? For instance, we could redirect the user to their profile once updated.

[2018-05-15 10:05] #3144 closed

[2018-05-15 10:09] willdurand commented on #4997
mmh I just stumbled upon @pwalm's comment with mock-ups: https://github.com/mozilla/addons-frontend/issues/2749#issuecomment-355688372

Can you quickly confirm that we will have a second button bellow the "report" button? Maybe we could hide the "report" button for the profile of the current logged-in user though? (but we will have to keep it for admins, therefore there will be two buttons, stacke

[2018-05-15 10:10] muffinresearch opened #4999 "Clicking the theme image in the disco pane should trigger the install"
### Describe the problem and steps to reproduce it:
* Go to the disco pane in about:addons
* Click the theme image

### What happened?

* A hand icon is shown indicating a click should do something.
* Nothing

### What did you expect to happen?

* On clicking the image the theme should install

[2018-05-15 10:12] muffinresearch commented on #4910
Thanks, I've updated the description.

[2018-05-15 10:16] willdurand commented on #4421
should be fixed by https://github.com/mozilla/addons-frontend/pull/4922

[2018-05-15 10:16] #4421 closed

[2018-05-15 10:18] willdurand commented on #4797
I think this is fixed by https://github.com/mozilla/addons-frontend/pull/4922.

[2018-05-15 10:30] willdurand commented on #2781
Closing this issue. I will open a new "tracker" issue for the edit page.

[2018-05-15 10:30] #2781 closed

[2018-05-15 10:31] willdurand opened #5000 "Add notification settings in user profile edit page"
Users should be able to edit their notification settings on the user profile edit page:

<img width="513" alt="notifs" src="https://user-images.githubusercontent.com/217628/40051670-e5b1ad06-583b-11e8-9d5c-5cd1ab38a151.png">

[2018-05-15 12:01] willdurand commented on #4958
Ah I got it! We should not rely on `display_name` except when we edit a profile. The `name` field (returned by the API) always exposes the correct value to display in the UI (it will be the display name if user has one, the username otherwise).

[2018-05-15 12:34] ioanarusiczki commented on #4957
I verified the steps above on AMO dev with FF60(Win10).

@bobsilverberg
I noticed that the statement is displayed in the console not only for add-ons but also for themes, dictionaries, search engines and lang packs too. If that's alright this should be verified fixed.

![gaon](https://user-images.githubusercontent.com/33448286/40056871-50bb91ca-5855-11e8-97cb-e6bf9d04d609.png)

[2018-05-15 12:46] AlexandraMoga commented on #4421
I'm going to mark this as verified  on AMO-dev, since the exact same steps are no longer applicable after #4922

**Postfix:**
![profile 404](https://user-images.githubusercontent.com/31961530/40057479-15af688e-5857-11e8-9813-aae5b8833a96.gif)

@willdurand please note that this can still be reproduced if the user initiates the action on the legacy pages. Do you think a follow up issue would be wort

[2018-05-15 13:29] ioanarusiczki commented on #4797
I can still reproduce this issue on AMO dev with FF60 (Win10)
I cannot reproduce the other similar issue https://github.com/mozilla/addons-frontend/issues/4281

![reproducible](https://user-images.githubusercontent.com/33448286/40059564-098a16c0-585d-11e8-9566-a2a8674f37f9.gif)

[2018-05-15 13:36] willdurand commented on #4797
@ioanarusiczki mmh I am not sure to understand, if you change your username, the previous profile URL is invalid but that's normal because the username is part of the URL.

[2018-05-15 13:53] ioanarusiczki commented on #4797
@willdurand Hmm then it was invalid all along. Closing it!

[2018-05-15 13:53] #4797 closed

[2018-05-15 14:37] ioanarusiczki commented on #4995
Verified fixed on AMO dev with FF60(Win10) The "." was removed

![fixed](https://user-images.githubusercontent.com/33448286/40063713-9de0eb4c-5866-11e8-98b7-60d8ab698c48.png)

[2018-05-15 15:01] bobsilverberg commented on #4957
Yes, I believe that is okay. This statement is sending data to GA to inform which cohort the user belongs to. It doesn't really matter which page they're on when this statement is sent.

[2018-05-15 15:27] bobsilverberg commented on #4977
Oops, sorry @rebmullin, I just saw your comment. I'm not sure what this issue has to do with links from legacy pages, we should probably open a separate issue if there's a problem with that. This is just about changing the workflow of the edit screen on the new front end. Did you want to take this one? If not I'll start working on it.

[2018-05-15 15:31] bobsilverberg commented on #4979
I'm not sure that we're doing this anywhere else. I guess we could enhance the `Notice` component to make that an option. @muffinresearch or @willdurand do you know if this is something we've done previously in the app?

[2018-05-15 15:40] willdurand commented on #4979
I don't think we have done that yet.

[2018-05-15 15:41] #4958 closed

[2018-05-15 15:51] willdurand opened #5003 "No pagination when adding more than 25 addons to a collection in a row"
### Describe the problem and steps to reproduce it:

- Create a new collection
- Add more than 25 add-ons (good luck)

### What happened?

- No pagination appears at the bottom
- The list is limited to 25 add-ons

### What did you expect to happen?

- No pagination or the list with all the add-ons (no limited)

[2018-05-15 16:00] willdurand opened #5004 "URL to add a collection is invalid (it conflicts with -prod URL)"
### Describe the problem and steps to reproduce it:

We have a user called `add` in -prod, we can browse their collections here: https://addons.mozilla.org/en-US/firefox/collections/add/.

### What happened?

The current route to add a collection in the new frontend is:

[code]

This conflicts with the link to the list of the collections of the user mentioned above.

The legacy frontend uses the f

[2018-05-15 16:01] #4812 closed

[2018-05-15 16:01] #4824 closed

[2018-05-15 16:01] #4834 closed

[2018-05-15 16:03] bobsilverberg opened #5005 "Consider having two different actions for adding an add-on to a collection"
An add-on can be added to a collection from two different places, both of which dispatch an `addAddonToCollection` action:

1. From the [`AddAddonToCollection`](https://github.com/mozilla/addons-frontend/blob/77f3787cd4d7b08f39c8a87ce1cca96548ccf6a3/src/amo/components/AddAddonToCollection/index.js#L122) component, which is rendered as part of the `Addon` component.
2. From the [`CollectionManager`

[2018-05-15 16:08] bobsilverberg commented on #5004
I think we could change the URL to something different, but, as @eviljeff pointed out, /collections/{username}/ will never be a URL in the new frontend that points to anything, because you cannot list the collections belonging to another user. So I think this can be closed.

[2018-05-15 16:16] willdurand commented on #5004
Indeed, and the current logged-in user will be able to browse their collections on any URL, it won't have any impact.

[2018-05-15 16:16] #5004 closed

[2018-05-15 17:45] smayer97 commented on #5003
Please also consider that if you do add pagination, that there still be an option to view ALL add-ons in collection, as it is often much easier to work with.

(also as suggested here https://github.com/mozilla/addons-frontend/pull/4983#discussion_r188340117 and here https://github.com/mozilla/addons-frontend/issues/4812 )

Thanks for the consideration.

[2018-05-15 20:49] bobsilverberg opened #5011 "Improve appearance of confirmation message displayed when adding an add-on to a collection"
The current implementation looks like this:

<img width="489" alt="screenshot 2018-05-15 16 18 44" src="https://user-images.githubusercontent.com/142755/40082703-c4d7f63e-585f-11e8-8c17-aab80c19ffb1.png">

I think it would be better if the message was closer to the "Search" select box, and also @pwalm requested that the message fade out after 5 seconds.

[2018-05-15 20:50] bobsilverberg commented on #5011
Note, this is a follow-up to issue #5009 so the message will not exist until that change lands.

[2018-05-15 21:38] bqbn commented on #4284
Re-routing for both `/user/:username/edit/` and `/users/edit` is on -dev env now.

[2018-05-16 09:22] willdurand opened #5012 "Allow `callApi` to send form data"
The `callApi` helper transforms the `body` parameter into a JSON string and forces the `content-type` to be `application/json`. In order to [upload a profile picture](https://addons-server.readthedocs.io/en/latest/topics/api/accounts.html#uploading-a-picture), we need a way to send form data (`multipart/form-data`) (see #4276).

https://github.com/mozilla/addons-frontend/blob/5d5103ab4ba76d4b1e0be

[2018-05-16 10:58] AlexandraMoga opened #5015 "Static themes show an 'Add to Firefox' button instead of an 'Install Theme' button on theme details page"
STR:

1. Log in to AMO-dev and go to a static theme details page - see https://addons-dev.allizom.org/en-US/firefox/addon/green-space2/
2. Open the same LWT theme's detail page on AMO stage - https://addons.allizom.org/en-US/firefox/addon/green-space2/
3. Compare the 'Install' button for the two themes

Actual result:
Static theme detail page shows an 'Add to Firefox' button

Expected result:
Stat

[2018-05-16 10:58] AlexandraMoga opened #5016 "'About this add-on' card should be renamed to 'About this theme' on static theme details page"
STR:

1. Log in to AMO-dev and go to a static theme details page - see https://addons-dev.allizom.org/en-US/firefox/addon/green-space2/
2. Open the same LWT theme's detail page on AMO stage - https://addons.allizom.org/en-US/firefox/addon/green-space2/
3. Compare the 'About this xxxx' card for the two themes

Actual result:
The card title in static theme details page is "About this add-on"

Expect

[2018-05-16 10:59] AlexandraMoga opened #5017 "'More themes by author' card is not correctly positioned in static theme details page"
STR

1. Log in to AMO-dev and go to a static theme details page - see https://addons-dev.allizom.org/en-US/firefox/addon/my-first-sentence/
2. Open the same LWT theme's detail page on AMO stage - https://addons.allizom.org/en-US/firefox/addon/my-first-sentence/?src=rating
3. Compare the 'More...by this author' cards for the two themes

Actual result:
'More...by this author' card in Static theme de

[2018-05-16 11:00] AlexandraMoga opened #5018 "Static theme preview should be positioned similar to LWT preview in theme details page"
STR:

1. Log in to AMO-dev and go to a static theme details page - see https://addons-dev.allizom.org/en-US/firefox/addon/my-first-sentence/
2. Open the same LWT theme's detail page on AMO stage - https://addons.allizom.org/en-US/firefox/addon/my-first-sentence/?src=rating
3. Compare the two theme previews

Actual result:
Static theme preview is displayed in a Screenshots section which doesn't cle

[2018-05-16 11:28] ioanarusiczki opened #5019 "View Profile page does not display location and occupation - only the old page does"
STR:
1. Load AMO dev and log in with an account then go to Edit my profile page.
2. Fill in all the fields from Profile section and click Update my profile button.
3. Click View my profile and observe the section below the user/display name.

Expected result:
Homepage, Location and Occupation are displayed on View profile page.

Actual result:
Only the homepage is displayed as information.

Notes:

[2018-05-16 11:31] willdurand commented on #5019
I guess it is a feature for now, the profile page does not display such information on purpose and I dont see anything in the mock-ups.

[2018-05-16 11:47] AlexandraMoga commented on #4958
Verified as fixed on AMO-dev with FF60, Win 10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/40115114-0a9038cc-5918-11e8-8769-da033aee3296.png)
![image](https://user-images.githubusercontent.com/31961530/40115127-0ff57d04-5918-11e8-97b0-b10aec4c315a.png)

[2018-05-16 11:48] bobsilverberg commented on #5019
Well, if we're not going to display it, why bother collecting it? Seems like one of those two should change.

[2018-05-16 11:48] ioanarusiczki opened #5020 "Allow unbroken strings in Biography to be wrapped on View Profile page"
STR:
1. Load AMO dev and login with an account then go to Edit my profile.
2. In the biography field insert a long unbroken string then click Update my profile.
3. Click on View Profile.
4. Observe the text below average ratings.

Expected result:
Text is wrapped.

Actual result:
Text is not entirely displayed and appears cut.

Notes:
This issue is reproducible on AMO dev with FF60(Win10).

![biog