[2020-12-17 14:44] AlexandraMoga commented on #9925
@bqbn these are the request and response headers I get for https://addons-amo-dev-cdn.allizom.org/amo-40224139947874a2e917.css. In this case I've been using Chrome, as the error seemed to reproduce more consistently there. This data was taken from launching the browser with no pre-exiting cache.

**Request headers**
[code]
**Response Headers**
[code]

[2020-12-17 15:24] wesinator commented on #9077
No. The issue here is with the gray coloring, if the reviews all have five stars, it may look to the user like there are 0 stars , because they don't see the shade that corresponds to an empty star, and the page mixes both yellow style and gray style stars.
(see screenshot, info above)

I think the UX guidelines maybe should be revisited

[2020-12-17 23:05] bqbn commented on #9925
I see `X-Cache: Hit from cloudfront` in your response headers and I wonder what could have put it in there.

Because after I invalidated the cache for that file, and then used the same request headers to download that file, I got the `Access-Control-Allow-Origin` header back (notice the `X-Cache: Miss from cloudfront` header in below ouput.

[code]

[2020-12-18 04:41] sethalberdier commented on #9923
Hello!

I'm new to open-source (and somewhat new to coding as well), and I'd like to start contributing.

This seems like a very good starting point. Probably just changing the code that generates the href should do the trick, right?

How can I do this?

[2020-12-18 12:42] bobsilverberg commented on #9923
@heyset That is correct. It looks like the code for that is at https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/Footer/index.js#L92.

[2020-12-18 12:42] amankr1619 commented on #9923
Hello,
I would like to work on this as my first contribution to mozilla.
I've gone through the basics and have build firefox locally. I was not getting any good issues to work on for few days, and would love to contribute on this as my first issue.

[2020-12-18 12:43] bobsilverberg commented on #9923
@amankr1619 Thanks for your interest, but it looks like someone else will be working on this.

[2020-12-18 12:44] amankr1619 commented on #9923
OK thanks, I will look for something else then..

[2020-12-18 16:51] heyset commented on #9923
Alright. I'll work on this right now.

[2020-12-18 18:50] heyset commented on #9923
@bobsilverberg Can you help me?

I've installed WLS 2 on my PC, created the local folder inside the virtual machine and cloned the repository. I've located the file in my folder and also the relevant line.

How should I proceed?

How do I run tests locally in my local repo? Running `yarn test` appears to test things, but can I actually open a browser window to check the final files?

Should I crea

[2020-12-19 00:21] bqbn commented on #9925
I filed a support case with AWS, and they've said,

They're conducting further investigation into the case, and I'll update this issue when I hear more from them.

[2020-12-19 01:08] moz-hwine opened #9936 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Cross-Domain Misconfiguration [10098] x 1
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 * If the failing tests change then it will be u

[2020-12-20 01:09] #9936 closed

[2020-12-20 01:09] moz-hwine commented on #9936
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2020-12-20 13:10] PedroFonsecaDEV commented on #9663
@caitmuenster @bobsilverberg
I joined Mozilla's Matrix to keep in touch with you guys (Display name: Pedro Fonseca(@pedro-fonseca:mozilla.org)).
I could not find a "good first bug" to work on it as my first contribution. Could I try to update the react-router to version 5.2.0(latest)?

[2020-12-21 01:09] moz-hwine opened #9938 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Cross-Domain Misconfiguration [10098] x 1
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 * If the failing tests change then it will be upda

[2020-12-21 16:47] bobsilverberg opened #9939 "Use husky and lint-staged to implement a pre-commit hook"
[`husky`](https://www.npmjs.com/package/husky) and [`lint-staged`](https://www.npmjs.com/package/lint-staged) can be used in combination to manage a pre-commit hook which will work for anyone who installs the site locally. We can automatically run `prettier`, `eslint`, `stylelint`, and `flow` on every commit, which will help avoid linting errors in commits, and will help users who do not have `pre

[2020-12-22 01:11] #9938 closed

[2020-12-22 01:11] moz-hwine commented on #9938
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2020-12-22 15:02] saurabh-jaiswal-333 commented on #9619
Hi @alexandra-martin can I take this issue, or is someone already working on this?

[2020-12-25 01:09] moz-hwine opened #9943 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Cross-Domain Misconfiguration [10098] x 2
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096482/activity_log_check-108.22-an+fx.xpi (302 Found)

This issue was automatically raised.

[2020-12-26 01:10] #9943 closed

[2020-12-26 01:10] moz-hwine commented on #9943
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2020-12-27 04:49] Viraj1812 commented on #9619
i wanna work on this issue.

[2020-12-28 01:09] moz-hwine opened #9945 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Cross-Domain Misconfiguration [10098] x 2
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096476/unloadtabsunloadtabsunloadtabsunloadtabsunloadtabs-108.22-an+fx.xpi (302 Found)

This is

[2020-12-29 01:09] moz-hwine commented on #9945
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2020-12-29 01:09] #9945 closed

[2020-12-31 17:28] ritik307 commented on #5463
Hi, May I work on this issue. I am new to open source but I have experience with MERN stack.

[2020-12-31 17:35] ritik307 commented on #7014
Hey @ItielMaN , Can I work on this issue. I am new to open source and I am willing to contribute to the organization

[2020-12-31 18:16] ItielMaN commented on #7014
@ritik307 Go ahead, no one seems to be working on this.

[2021-01-01 04:34] ritik307 commented on #7014
Can you provide repo link for the project please.

[2021-01-01 15:05] ritik307 commented on #7014
@ItielMaN sir can you please provide the link to the repo

[2021-01-03 01:08] moz-hwine opened #9951 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 Cross-Domain Misconfiguration [10098] x 2
 * https://addons.allizom.org/firefox/downloads/file/1096829/do-65535.0.0.1-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096903/pepega_catch6-0.9.4.1-fx.xpi (302 Found)

This issue was automatically raised.

This issue is mana

[2021-01-03 15:19] andreicristianpetcu commented on #9878
any update on this?

[2021-01-04 01:08] #9951 closed

[2021-01-04 01:08] moz-hwine commented on #9951
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-01-04 05:42] sarthakkundra commented on #9619
Hi @alexandra-martin I had a look on this issue and I had some doubts and an approach I wanted to discuss with you.

DOUBTS

- The footer links show a 404 when running a local dev server. Is that the expected behaviour?
- Where is the starting point of the code? Is it server side rendered?

APPROACH

- I was thinking of using this [package](https://www.npmjs.com/package/react-router-scroll-memory)

[2021-01-04 15:33] bobsilverberg opened #9953 "The story for SponsoredAddonsShelf is broken"
I noticed this when doing dependency updates. I'm not sure at which point this broke, and it's perhaps not worth treating as a high priority as this shelf is likely going away for now. The examples in the story for the shelf having both 3 and 6 add-ons actually show 0 add-ons.

<img width="1396" alt="Screen Shot 2021-01-04 at 10 25 46 AM" src="https://user-images.githubusercontent.com/142755/10355

[2021-01-04 16:04] #9866 closed

[2021-01-04 17:59] bobsilverberg opened #9954 "Add a test for the new trim functionality in AutoSearchInput"
Some trimming was added into src/amo/components/AutoSearchInput/index.js for #9866, but a test was not added to verify the new behaviour. This issue is about adding such a test.

@Sparsh1212 has volunteered to take this on, as they did with #9866. If you can comment on this issue, I can assign it to you.

[2021-01-04 17:59] Sparsh1212 commented on #9954
Please assign this to me.

[2021-01-04 20:34] jvillalobos commented on #9878
It should be happening around the time Firefox 85 ships (Jan 26), to align with the code changes in Fenix making it to release.

[2021-01-05 08:06] ioanarusiczki commented on #9927
@willdurand In case qa can check this issue, please add some str.
Thanks!

[2021-01-05 09:59] willdurand commented on #9954
I'd make it a p2 because we shouldn't land code without a test case.

[2021-01-05 21:21] hwine opened #10005 "UX: Badge descriptions may give undesired impression"
### Describe the problem and steps to reproduce it:

Look at the hover text for both a verified add-on and an official add-on.
Verified:
![image](https://user-images.githubusercontent.com/132412/103698376-2024da80-4f56-11eb-8e2e-eafdd22facb5.png)

Official:

![image](https://user-images.githubusercontent.com/132412/103698927-f8824200-4f56-11eb-9b1e-2798686a68a9.png)

### What happened?

I interpre

[2021-01-05 22:15] caitmuenster commented on #9663
Hey @PedroFonsecaDEV! We'd prefer it on an issue labeled good-first-bug if you're new to contributing code to this repo. :)

I do see that there's currently a shortage of good-first-bug issues for this repo. We will be triaging more potential good-first-bugs this upcoming Monday, if you're willing to wait a few days. Otherwise, there are a lot of other really great Mozilla projects with open issue

[2021-01-06 05:46] sarthakkundra commented on #9923
This assigned person seems to be inactive for a long time. Can I make a PR to fix this? @bobsilverberg

[2021-01-06 06:11] PedroFonsecaDEV commented on #9663
Hey @caitmuenster, I will check the DevTools while I wait for a good first bug here.
Thank you.

[2021-01-06 06:55] heyset commented on #9923
Hello!

Actually, I'm not inactive. I've been checking everyday to see if someone has commented something that could help me with the next steps.

It'd be great to get some help on how to continue from where I am so I could get started on contributing, but I understand if it's necessary to just fix the issue due to priority.

[2021-01-06 07:04] sarthakkundra commented on #9905
Hi @bobsilverberg I'm a new contributor here. Do you mind explaining the issue a bit thoroughly and what is exactly expected from the fix?

[2021-01-06 10:32] sarthakkundra commented on #9923
Hi @heyset . First of all I am so sorry for assuming you were inactive. Also I thought this issue needs to be resolved ASAP as no users were being able to report a bug if they experienced one.

To see how I fixed that you can click on the linked PR, which has open written beside it.

As far as I can see you were at the correct path. You just had to change the URL there to the correct one and then

[2021-01-06 14:25] ioanarusiczki opened #9961 "Sponsored shelf is not displayed correctly when loading the homepage using the FF logo"
STR:
1.  Load AMO dev -homepage and navigate away from it
2. Click the logo on the left side of the screen
3. Observe the Sponsored shelf

Expected result:
Addons are displayed.

Actual result:
Addons are in a continuous loading state. A page refresh will display them again.

Notes:
This behavior is specific for AMO dev - FF84(Win10), (this might be related https://github.com/mozilla/addons-fronte

[2021-01-06 14:34] ioanarusiczki commented on #9866
@bobsilverberg
This issue is no longer reproducible on -dev with FF84(Win10).

![blank search results](https://user-images.githubusercontent.com/33448286/103779952-0dd19c00-503d-11eb-9e28-827f46759959.gif)

[2021-01-06 15:01] bobsilverberg commented on #9905
@sarthakkundra Thanks for your interest, but this is not an issue that needs to be addressed. It's a bookmark for something we *may* have to do at some point in the future. I suggest you only look at issues that are marked with "contrib: welcome" when looking for issues to work on.

[2021-01-06 15:03] hwine opened #9962 "UX: Badge descriptions may give undesired impression"
### Describe the problem and steps to reproduce it:

Look at the hover text for both a verified add-on and an official add-on.
Verified:
![image](https://user-images.githubusercontent.com/132412/103698376-2024da80-4f56-11eb-8e2e-eafdd22facb5.png)

Official:

![image](https://user-images.githubusercontent.com/132412/103698927-f8824200-4f56-11eb-9b1e-2798686a68a9.png)

### What happened?

I interpre

[2021-01-06 15:10] sarthakkundra commented on #9905
Sure @bobsilverberg thanks for clarifying.

[2021-01-06 16:07] heyset commented on #9923
@sarthakkundra I understand completely, no offense taken.

I'll take this opportunity to ask questions then, if you don't mind. I'm trying to get into open source, but I'm still a bit confused by the workflow.

I have run `yarn` and `yarn amo:dev`, then I opened my browser in localhost:3000 (and tried localhost:3333 too), but the site looks broken, doesn't seem to have any CSS applied to it. I'm n

[2021-01-06 16:10] #9961 closed

[2021-01-06 16:13] bobsilverberg commented on #9961
@ioanarusiczki This is fixed on dev and I also cherry-picked the fix so it should be on stage soon as well.

[2021-01-06 16:33] bobsilverberg commented on #9923
Sorry @heyset, vacation time interfered and then I needed to get caught up. I'm not sure exactly what the problem is with the css on your local machine. Can you check the console and see if there are any relevant error messages?

Even with broken css, you could still potentially verify the fix for this by scrolling to the footer and checking that the link points to the correct place. Also, you sho

[2021-01-06 18:01] heyset commented on #9923
@bobsilverberg Hello! I imagined you were busy due to holidays + coming back from them haha

Here is attached as a .txt file everything that is going on in the console after I run yarn amo:dev and after I open the page in a browser on the localhost:3000 address:
[yarn log.txt](https://github.com/mozilla/addons-frontend/files/5777360/yarn.log.txt)

And, indeed, by fixing the line 92 at /src/amo/com

[2021-01-06 18:14] sarthakkundra commented on #9923
@heyset To answer your questions

1. You can do `git pull` after the PR is merged to have the changes I did on your local machine or you can look at the PR and basically copy what I did there but that will be a waste of time in my opinion.
2. Can you open the source panel on your dev tools and see what files are causing the render? I think it's an issue of JS not being rendered  rather than CSS be

[2021-01-06 18:15] sarthakkundra commented on #9811
@bobsilverberg I'd like to take this up seeing it has the appropriate tag. One quick favour can you provide with a screenshot of what is to be changed as I am using Chrome so that'll remove any confusion.

[2021-01-06 18:23] heyset commented on #9923
@sarthakkundra Thanks for your reply.

About the first question: It really is more focused on how is the workflow for contributing after the pull.

Here is the source panel on chrome dev tools:
![image](https://user-images.githubusercontent.com/52154225/103805961-1329e900-5033-11eb-9ba2-801cca0a3515.png)

Firefox Style Editor says the page has no stylesheet:
![image](https://user-images.githubuser

[2021-01-06 18:31] sarthakkundra commented on #9923
@heyset You can pick an issue just like you picked this one by commenting. After that preferably you should do the following steps.

1. Create a new branch with `git checkout -b branchname`.
2. Code your fix.
3. Test your fix yourself and then run `yarn test` and make sure all the tests are passing as well. If not fix them accordingly (Note :- if you added a new feature it is appreciated if you wr

[2021-01-06 18:36] heyset commented on #9923
@sarthakkundra It does help! It's kind of what I had in mind, but doing the first contribution gets me a little insecure haha

There seems to be no .js file in the source, just .svg and .png. Any idea how can I fix this?

[2021-01-06 20:13] bobsilverberg commented on #9811
Well, you really should test it on Firefox to verify the changes you make, but here's a screenshot from Firefox showing the buttons we're talking about:

<img width="931" alt="Screen Shot 2021-01-06 at 3 10 01 PM" src="https://user-images.githubusercontent.com/142755/103815469-67cc6480-5031-11eb-94a6-062e22c3170e.png">

It's the buttons that currently say "Remove" which should be removed and repla

[2021-01-07 03:51] ameeno opened #9965 "Cannot open collections"
### Describe the problem and steps to reproduce it:

### What happened?
Can't open collections
### What did you expect to happen?
Collections open properly
### Anything else we should know?
Server error after login.
And choosing view my collections. I have tried multiple browsers

[2021-01-07 08:28] ioanarusiczki commented on #9961
@bobsilverberg I can confirm that it's not reproducible on -dev.

-AMO stage verification is blocked by https://github.com/mozilla/addons-server/issues/16267.

When repeating this scenario I ran twice into a 500 (it's intermittent). Best case scenario is this:

![behavior on stage](https://user-images.githubusercontent.com/33448286/103869407-ecbb8a80-50d2-11eb-86b5-7e37f89afa1e.gif)

[2021-01-07 15:22] AlexandraMoga commented on #6422
After testing the frontend functionality as a whole, with more focus on localizations, there were no regressions found.

I'm marking this issue as verified fixed on stage.

[2021-01-07 17:35] vcarciu opened #9967 "Some lang packs and dictionaries are missing"
Steps to reproduce:
1. Go to https://addons.mozilla.org/en-US/firefox/language-tools/

Expected results:
All lang packs and dictionaries are displayed

Actual results:
Some lang packs and dictionaries are missing

Please see the screenshot :
![langtools](https://user-images.githubusercontent.com/1583842/103924949-7c872600-511f-11eb-94f1-39b9a8a36ec8.PNG)

[2021-01-07 17:44] willdurand commented on #9967
As mentioned on Slack, I think the issue is that we're using `target_locale` in the `languageTools` reducer for some reasons. `target_locale` has nothing to do with localized fields, we should load, store and use the `lang` as we did everywhere else.

It likely worked on -dev because some language tools don't have a `target_locale` and we likely used te localized fallback.

[2021-01-07 18:06] #9911 closed

[2021-01-07 18:20] willdurand opened #9969 "Review tests for language tools (and localized fields)"

[2021-01-07 18:28] #9969 closed

[2021-01-07 18:28] willdurand commented on #9969
no needed anymore

[2021-01-07 18:30] #9967 closed

[2021-01-07 19:09] sarthakkundra commented on #9923
@heyset No idea. Try different browser maybe that helps but I doubt.

[2021-01-07 19:29] vcarciu commented on #9967
Verified as fixed in prod.

[2021-01-08 07:31] sarthakkundra commented on #9811
<img width="1440" alt="Screenshot 2021-01-08 at 12 59 38 PM" src="https://user-images.githubusercontent.com/52133994/103986829-72ae0300-51b1-11eb-8367-44e2291bcd1a.png">
@bobsilverberg It says "add to Firefox" .  Am I at the right place? If I am should I go ahead and replace these buttons with links?

[2021-01-08 07:33] sarthakkundra commented on #9923
@bobsilverberg Can you please merge the PR as there seems to be no conflict. Thanks!

[2021-01-08 09:11] ioanarusiczki commented on #9961
@bobsilverberg as expected, the 500 errors are only specific to -stage.
AMO dev and AMO prod don't have issues.

Verified with FF84(Win10).

[2021-01-08 10:09] ioanarusiczki commented on #9619
@bobsilverberg in case you wish to fix this, please take a look at the comments above.

Thanks!

[2021-01-08 14:56] #9923 closed

[2021-01-08 14:58] bobsilverberg commented on #9811
Correct. If the add-on is installed, the buttons say "Remove", if it is not installed, they say "Add to Firefox".

[2021-01-08 15:27] ioanarusiczki commented on #9911
@eviljeff
I'm thinking that I should check that layout of the detail pages for the addons from https://github.com/mozilla/addons-server/issues/11206#issuecomment-756809828 is not broken.

If there's anything else please let me know.

[2021-01-08 17:51] eviljeff commented on #9911
the changes are:
- on the addon detail page
  - contributions
  - homepage
  - support_url
- on a blocklist block page
  - the block request link
- the hero shelves on the homepage
  - the CTA links ("get the addon", "more", etc).  Note these specifically _don't_ use outgoing, even for external links.

There shouldn't be any changes noticeable vs. prod - what was wrapped in outgoing before should

[2021-01-08 18:20] sarthakkundra commented on #9811
Cool @bobsilverberg can you please assign me this issue

[2021-01-09 01:21] bqbn commented on #9925
Do we have any process or command that tries to "GET" or "HEAD" an object with an "Access-Control-Request-Method" or "Access-Control-Request-Headers" header?

Because so far, that is the only way we find that can put an object into the CDN without the CORS headers. For example,

[code]

Note the `X-Cache: Miss from cloudfront` header and no `Access-Control-Allow-Origin` header was returned in the

[2021-01-11 01:08] moz-hwine opened #9975 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 2](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096680/a_patch-1.0-fx.xpi (302 Found)

This issue

[2021-01-11 11:31] eviljeff opened #9976 "Add test for selectLocalizedUrlWithOutgoing"
#9960 added `selectLocalizedUrlWithOutgoing` ([contributed](https://github.com/mozilla/addons-frontend/pull/9960#discussion_r553178131) by @willdurand) and it could do with a test.

[2021-01-11 11:47] eviljeff commented on #9965
@ameeno can you provide some details of your account?  e.g. user profile id* or email.

*https://addons.mozilla.org/firefox/user/<user-id>/

Also, can try it again today and let us know the time you tried it so we can look for the timestamp in our logs.

[2021-01-11 11:56] ameeno commented on #9965
Hiya. Thanks for the message. My uid is 7227658 and I tried just now multiple times it's 11:54-11:55 gmt

[2021-01-11 11:57] ameeno commented on #9965
Ps I have used the file issue options and I have been trying this a few times over the last few days.

[2021-01-11 12:04] ioanarusiczki commented on #9911
@eviljeff I verified on AMO dev - FF84(Win10) and I did not find issues (differences). Also the URLs redirect as expected.

[2021-01-11 12:38] eviljeff commented on #9965
Can you confirm the page (the https url) you're on when you get the error?  And what version of Firefox you tried with?

[2021-01-11 12:40] eviljeff commented on #9965
For what it's worth, you only appear to have a single collection, and it's empty.

[2021-01-11 14:30] bobsilverberg opened #9977 "Problems with Collections with `null` names"
This is a spin-off from https://github.com/mozilla/addons-frontend/issues/9965. It seems that, when a collection has a `null` for its name, it causes problems for the frontend. I believe this is the cause of the issue filed above, and I think we've also seen it before. The frontend code should be able to deal with a collection with a `null` for its name, rather than fail entirely. We should probab

[2021-01-11 15:25] ameeno commented on #9965
Hello, @eviljeff I have tried numerous browsers and ff/chrome versions on mac m1 android windows pc and ubuntu.

Thanks for notifying me about the empty collection. The thing is I wanted to build up my collections to enable xpi testing of my ff extension on firefox nightly android.

The route to do this is via a collection of addons.

However, my collections page will not load ever.

So I am glad

[2021-01-11 15:36] eviljeff commented on #9965
Hi,
we've been investigating the problem and we're pretty certain it's due to some old data (the empty collection is from 2013, probably auto-created when you created your AMO account the first time) that's now considered invalid.  We're still deciding on the best fix and we'll update the issue when we've sorted out your profile,
thanks.

[2021-01-11 15:45] AlexandraMoga commented on #9923
This issue is verified fixed on -dev:

![CSiqPfcfzb](https://user-images.githubusercontent.com/31961530/104203329-aba9da00-5434-11eb-8980-ee17b2e90413.gif)

[2021-01-11 15:47] eviljeff commented on #9965
@ameeno we've deleted the errant empty collection, so you should be able to access your my collections page and create new collections as you need to now.

[2021-01-11 16:20] muffinresearch commented on #9912
Closing this in favour of the manual testing route proposed in https://github.com/mozilla/addons-frontend/issues/9912#issuecomment-744638322

[2021-01-11 16:39] bobsilverberg commented on #9977
Upon further investigation, in the frontend, we already disallow creating a collection with no name, and we disallow updating a collection to set an empty name. The collections we are seeing with `null` names seem to be ones that were created outside of the new frontend.

Therefore, this issue will only be about updating the code to handle collections with missing names. On the collection listing

[2021-01-11 17:34] ameeno commented on #9965
hi, thanks. yes i can connect and create a collection now. thanks for all your help 👯

[2021-01-11 17:34] #9965 closed

[2021-01-11 20:29] jvillalobos commented on #9977
I'd suggest using something that looks less like the user entered it and stands out, like "(blank)" or "(no name)"

[2021-01-11 23:52] #9912 closed

[2021-01-12 01:10] #9975 closed

[2021-01-12 01:10] moz-hwine commented on #9975
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-01-12 08:38] willdurand commented on #9925
I can't think of anything. It's really weird that this would happen mainly on -dev.

[2021-01-12 08:56] willdurand opened #9980 "Remove the UI tests"

[2021-01-12 09:58] #9976 closed

[2021-01-12 12:49] #9977 closed

[2021-01-12 13:15] willdurand commented on #9804
Here is the plan:

1. move `core` sources to `amo` (we need a directory level in `src/` otherwise it breaks our absolute imports)
2. move `core` test files to `amo`
3. move `core` stories to `amo`

I'll file an issue for the `ui` package.

[2021-01-12 13:17] willdurand opened #9982 "Merge "ui" package into "amo""
Similar to https://github.com/mozilla/addons-frontend/issues/9804, we don't need to have a separate `ui` package anymore.

For QA: this will impact most pages but there should be no visible UI regressions.

[2021-01-12 14:46] #9804 closed

[2021-01-12 15:31] willdurand commented on #9723
We use `prefers-reduced-motion` nowadays so I think this is has been fixed (feel free to reopen if I am wrong).

[2021-01-12 15:31] #9723 closed

[2021-01-12 16:09] #3580 closed

[2021-01-12 17:08] willdurand commented on #9980
The new plan is to actually remove those tests from this repo: https://github.com/mozilla/addons-frontend/pull/9985

[2021-01-12 17:08] jrbenny35 commented on #9980
Why is this the new plan?

[2021-01-12 17:10] willdurand commented on #9980
@jrbenny35 @krupa hey, we're going to remove the "frontend" ui-tests in this repo. It looks like there is a new repo with integration tests and the test suite in this repo is very flaky and not very useful to us. It would catch things we would catch anyway (or would be caught by QA on -dev). We'll keep the smoke tests though (as they are useful to ensure we ship Docker images that work).

[2021-01-12 17:10] #9939 closed

[2021-01-12 17:12] willdurand commented on #9980
I was writing a comment to let you know about it. The job for this test suite has been failing for weeks or months now and no one in our team has bandwidth to maintain it. I noticed you didn't have lots of time too, which is perfectly okay. I attempted to rescue them last week but it went anywhere so we think not having those tests would be a good trade-off for everyone. We all browse -dev daily s

[2021-01-13 09:45] willdurand commented on #9980
In addition to what I wrote above, we think it's the best way to go since it's not a good use of Benny's time to continue to maintain those test as they have less value than before. Our team is not really able to maintain the tests either.

Our unit test suite is very comprehensive, we rely on -dev for developing and our team is smaller so it's easier to land breaking changes in the server repo (t

[2021-01-13 09:45] #9980 closed

[2021-01-13 09:45] willdurand commented on #9980
Thank you for your excellent work @jrbenny35!

[2021-01-13 10:54] AndiAJ commented on #9878
Hi,

Just checked this matter on a **`debug build`** using the [dev AMO](https://addons-dev.allizom.org/en-US/android/).

For the moment:
• All the featured add-ons have the "Add to Firefox" button enabled.
• From our recommended list only YouTube High Definition and Privacy Possum are available
• Tapping the "Add to Firefox" launches the download of the .xpi file.
• In some cases tapping the "Add

[2021-01-13 12:56] AlexandraMoga commented on #9977
I've verified this issue on stage and I doesn't seem to reproduce anylonger.

In order to create a collection with a blank name, I've edited some of my collections in admin, where it's possible to save with the Name field left empty.
Then, I've accessed My Collections list on the frontend and I was able to open each individual collection without a defined name - they are marked in the list with `(

[2021-01-13 14:11] ioanarusiczki commented on #3580
@willdurand
- when hovering over homepage, support site or contribute now the URL a tooltip showing the URLs is shown which I think it's the expected result:

![frontend urls are shown at hover](https://user-images.githubusercontent.com/33448286/104462229-f81e2280-55b8-11eb-8d8b-bc85e63fd205.gif)

- the url from the blocklist block page is displayed also as a blue link and when I hover over the st

[2021-01-13 14:15] ioanarusiczki commented on #9976
@eviljeff In case that's qa not needed please mark it.

[2021-01-13 14:16] ioanarusiczki commented on #9939
@bobsilverberg In case qa can test for this issue please add some str.
Thanks!

[2021-01-13 14:16] bobsilverberg commented on #9878
Do you mean all of the "Recommended" add-ons have the "Add to Firefox" button enabled? That is the expected behaviour.

I'm not sure what is meant by this. Can you elaborate?

I don't see any details about this problem. Is it documented anywhere?

[2021-01-13 14:24] bobsilverberg commented on #9939
I don't think we need QA testing for this.

[2021-01-13 14:51] willdurand commented on #3580
it's the expected result.

[2021-01-13 17:16] bobsilverberg commented on #9954
@Sparsh1212 This is something we'd like to address soon. Do you think you'll have time to get to it in the next week or so?

[2021-01-13 18:16] bobsilverberg opened #9988 "Add --no-verify option to run-l10n-extraction"
The new git commit hook is being triggered when the `run-l10n-extraction` script is run to generate locales, and because of the large number of files it's not very fast. We should update the script to add `--no-verify` when it does a `git commit`.

[2021-01-13 18:16] bobsilverberg opened #9989 "Add --no-verify option to run-l10n-extraction script"
The new git commit hook is being triggered when the `run-l10n-extraction` script is run to generate locales, and because of the large number of files it's not very fast. We should update the script to add `--no-verify` when it does a `git commit`.

[2021-01-13 18:17] bobsilverberg commented on #9988
Something is weird with GitHub's UI so it looked like this issue wasn't created, and therefore I created a duplicate. Closing this one.

[2021-01-13 18:17] #9988 closed

[2021-01-13 18:23] Sparsh1212 commented on #9954
@bobsilverberg I am actually unable to find time due to some urgent work. Please assign this to someone else, if its urgent.

[2021-01-13 19:02] willdurand commented on #9989
One can probably `export HUSKY_SKIP_HOOKS=1` before running the script in the meantime.

[2021-01-14 00:05] devaneymoz opened #9991 "Disable homepage Sponsored shelf on 21 January"
Winding down the Promoted Add-ons pilot, we'd like to remove the Sponsored shelf on the homepage. It may be as simple as finding a flag to disable, or perhaps a bug precludes its elegant removal from the front end?

@jvillalobos @muffinresearch

[2021-01-14 07:38] PedroFonsecaDEV commented on #9991
@devaneymoz

Do you mean remove this section?

<img width="1432" alt="Screen Shot 2021-01-14 at 2 34 34 AM" src="https://user-images.githubusercontent.com/60857409/104558779-5b3ba380-5611-11eb-92da-59c63cf1125b.png">

If so, I would like to help with this.
Thanks.

cc @jvillalobos @muffinresearch

[2021-01-14 07:49] PedroFonsecaDEV commented on #9424
@bobsilverberg
I want to give a try on this one.
We already have a 404 page, so I think I can create tone 404 for missing add-ons, and then we update the routes.

I really want to contribute to the project, but I can't find a good first issue. I believe this one is a good start for me.

Thanks.

[2021-01-14 08:01] AndiAJ commented on #9878
On Fenix we have 18 supported (Recommended) Add-ons.
<details>
    <summary>List of supported Add-ons (dropdown)</summary>
• uBlock Origin
• Privacy Badger
• Ghostery
• Dark Reader
• AdGuard AdBlocker
• HTTPS Everywhere
• FoxyProxy Standard
• NoScript Security Suite
• Bitwarden
• Search by Image
• Decentraleyes
• YouTube High Definition
• LeechBlock NG
• Privacy Possum
• Tomato Clock
• Web Archive

[2021-01-14 12:11] bobsilverberg commented on #9991
@PedroFonsecaDEV Thanks for the interest, but this issue is not open to contributors.

[2021-01-14 12:22] bobsilverberg commented on #9878
Thanks for the update @AndiAJ, but I'm afraid it leaves me as confused as I was before. It's not clear if you are reporting any issues which need to be addressed, verifying behaviour, or something else. It would be easier to understand if it clearly stated any issues, along with specific STRs. Having said that, I'm not even sure this is the right place to be discussing/reporting any of this. This

[2021-01-14 12:27] bobsilverberg commented on #9424
@PedroFonsecaDEV Thank you for your interest. As discussed [above ](https://github.com/mozilla/addons-frontend/issues/9424#issuecomment-664513267), this really isn't a good issue for a contributor, and particularly not as a first bug. There are complexities here that might even involve having to coordinate changes on the server, so it's really not a good candidate.

[2021-01-14 12:55] #9989 closed

[2021-01-14 13:46] AlexandraMoga opened #9994 "The Add to collection list from add-on details shows a blank space for collections with no name"
Follow up for #9977

### Describe the problem and steps to reproduce it:
1. Log in to AMO with an account that has a few collections with a blank name
2. Open an add-on details page and scroll down to the Add to collection section
3. Click on Select a collection to open the available collections list

### What happened?
The list displays a blank space for the collections that have no name set

###

[2021-01-14 14:31] ioanarusiczki commented on #9989
@bobsilverberg If qa can verify this issue please add some str or mark it qa not needed.
Thanks!

[2021-01-14 14:57] bobsilverberg commented on #9994
Note that the notice that currently displays when adding to a collection also shows a blank for the name of a collection with a missing name. This will be fixed in the patch for this issue as well, and the notice will also say "(no name)".

[2021-01-14 14:58] ioanarusiczki commented on #9804
@willdurand Looks good. Release testing is completed - on AMO stage with FF84(Win).

[2021-01-14 15:40] jvillalobos commented on #9991
This probably supersedes https://github.com/mozilla/addons-server/issues/16267

[2021-01-14 17:16] bobsilverberg opened #9996 "Consolidate API requests for the home page shelves into a single API call"
Now that we have the [homepage shelves endpoint](https://addons-server.readthedocs.io/en/latest/topics/api/shelves.html#homepage-shelves), and with the addition of https://github.com/mozilla/addons-server/issues/16309, there is a single API call that should be able to deliver the contents of all the homepage shelves, as well as the primary and secondary hero elements.

To improve performance of th

[2021-01-14 20:13] bobsilverberg commented on #9991
I verified that there is a flag we can simply flip to remove the Sponsored shelf from the home page. This is a one-line change and it works, but we are still issuing the API call to get the sponsored shelf's data. As we plan on changing the way the home page retrieves data in https://github.com/mozilla/addons-frontend/issues/9996, and because we also might one day want to bring back the sponsored

[2021-01-14 21:01] willdurand commented on #9991
Yes, I think we only need to turn the feature off (that's why we have it behind a feature toggle)

[2021-01-14 21:41] PedroFonsecaDEV commented on #9424
@bobsilverberg Could you point me towards an issue that I can work on?

[2021-01-14 23:05] caitmuenster commented on #9424
Hi @PedroFonsecaDEV! Any issue labeled `contrib: good first bug` in our repositories that isn't actively being worked on by someone else is a good starting issue. :) You can check the current list [here](https://addons-pm.herokuapp.com/contrib/good-first-bugs/?dir=desc&sort=updatedAt).

We try to update the list of good-first-issues every two weeks, but occasionally there are no available issues t

[2021-01-15 09:41] eviljeff commented on #9991
If the flag doesn't stop the API can that be changed to prevent that too?  Skipping the API call would be better for performance (and avoiding problems like mozilla/addons-server#16267)

[2021-01-15 12:08] willdurand commented on #9895
@g-k do you maintain this scanner? if so, could you look into the 429 failures? If not, could you help me find who is the owner of this scanner? thanks!

[2021-01-15 12:09] willdurand commented on #9797
No answer from OP, closing the issue for now

[2021-01-15 12:09] #9797 closed

[2021-01-15 12:11] willdurand commented on #9658
It looks like the issue in `ua-parser-js` has been fixed, which I think should fix this issue as well.

[2021-01-15 12:11] #9658 closed

[2021-01-15 12:16] willdurand commented on #9077
How so? 5 stars = all stars are grey whereas 3 stars would only have 3 grey stars and 2 very light grey ones. See: https://addons.mozilla.org/en-US/firefox/addon/iorad-the-tutorial-builder/reviews/?

[2021-01-15 12:16] #9077 closed

[2021-01-15 12:46] bobsilverberg commented on #9991
There are a number of things I did not detail in my comment at https://github.com/mozilla/addons-frontend/issues/9991#issuecomment-760449695:

1. This API call will not trigger https://github.com/mozilla/addons-server/issues/16267 because it is a different API call. When we flip the flags, we will also be turning off Adzerk integration, so none of the Adzerk-related APIs will be called anymore. Th

[2021-01-15 12:50] #9954 closed

[2021-01-15 13:21] #9493 closed

[2021-01-15 14:20] g-k commented on #9895
@willdurand yep! I maintain the scanner now. I'll look into this and you can assign it to me. Sorry for the noise!

[2021-01-15 15:22] #9982 closed

[2021-01-15 18:08] grahamperrin commented on #4610
Refresh?

[2021-01-18 08:29] AlexandraMoga commented on #9954
Should this be a 'qa:not needed'?

[2021-01-18 11:09] diox commented on #9991
We're winding the pilot program down so the code behind the flag is likely going to be completely obsolete. I'm fine with just shipping the flag switch for now, but we should work on removing the entire thing (*especially* if that adds useless API calls) sooner rather than later.

[2021-01-18 13:49] bobsilverberg commented on #9954
Yes, sorry @AlexandraMoga.

[2021-01-18 13:50] AlexandraMoga commented on #9493
This issue is verified fixed on -dev:

![mS8Lwp9jSS](https://user-images.githubusercontent.com/31961530/104923057-33976300-59a4-11eb-8d00-b45edada0b2c.gif)

Keyboard navigation in Edit my Profile is working as expected.

[2021-01-18 16:56] bobsilverberg commented on #9991
Well, if we don't anticipate re-introducing the Sponsored shelf at any particular time, then I guess it does make sense to just remove *everything* at this point, which will also eliminate the extra API call.  I'll work on a patch for that to land this week.

[2021-01-18 19:35] bobsilverberg commented on #9878
Just checking in to see where we stand on the timing of this. When do we want to turn this on in production? @jvillalobos

[2021-01-18 19:36] bobsilverberg commented on #9925
@bqbn @willdurand Should we close this issue, or keep it open in case this happens again?

[2021-01-18 19:38] bobsilverberg commented on #9962
This appears to be a duplicate of #10005. I believe a bug also needs to be opened for the Firefox side. Do you know if that was done, @muffinresearch?

[2021-01-18 19:40] bobsilverberg commented on #9953
This shelf is being removed in #9991, so this is no longer relevant (plus, I think it's fixed).

[2021-01-18 19:40] #9953 closed

[2021-01-18 20:27] #10005 closed

[2021-01-18 20:40] muffinresearch commented on #9962
The Firefox issue has been filed here: https://bugzilla.mozilla.org/show_bug.cgi?id=1687375

[2021-01-18 20:50] bobsilverberg commented on #9962
Thanks Stuart. In that case this can be closed.

[2021-01-18 20:50] #9962 closed

[2021-01-18 21:02] jvillalobos commented on #9878
I think we should enable this on Thursday (Jan 21). There's a short window where the AMO buttons will be enabled and won't work on Fenix Release, but can at least be tested with pre-release versions to make sure everything's okay before release.

[2021-01-19 08:33] AlexandraMoga commented on #10005
The new tooltip message for the 'By Firefox' badge is visible on add-on detail pages and in search results:

![image](https://user-images.githubusercontent.com/31961530/105007695-f7fea680-5a40-11eb-9c05-96f4989b4227.png)

This issue is verified fixed on -dev.

[2021-01-19 13:14] #9994 closed

[2021-01-19 13:27] bobsilverberg commented on #9878
@jvillalobos It looks like flipping the flag for `enableFeatureAllowAndroidInstall` does enable the "Add to Firefox" button for recommended extensions, which should allow for install on Fenix, but I noticed that even with that button enabled, we still show the notice below that says "You can install this add-on in the Add-ons Manager. Learn more about add-ons for Android." (see screenshot below).

[2021-01-19 14:02] jvillalobos commented on #9878
We should remove that notice when the button is enabled, yes.

[2021-01-19 14:17] AlexandraMoga commented on #9994
This issue is verified fixed on -dev:
![image](https://user-images.githubusercontent.com/31961530/105046275-90148400-5a71-11eb-9194-224f724cd4b4.png)

[2021-01-19 14:44] #9878 closed

[2021-01-19 17:40] #9991 closed

[2021-01-19 21:44] bqbn commented on #9925
We put in a temporary workaround on 1/8 that lets the CDN always add a `Access-Control-Request-Method: GET` header for the requests it forwards to S3 (override if the header already exists in the requests).

Let's wait for a little longer before closing this.

[2021-01-19 21:52] diox opened #10014 "Blocked add-on name is incorrectly shown as [object Object]"
Regression from https://github.com/mozilla/addons-frontend/issues/6422

Blocked add-on pages, like https://addons.mozilla.org/en-US/firefox/blocked-addon/%7Ba73cc3ed-9261-4571-94f6-3679930f0332%7D/3.0/, are displaying `[object Object]` as the add-on name instead of, well, the add-on name.

This is because the `addon_name` field in the v5 API is following the same behavior as other translated field

[2021-01-19 22:34] bobsilverberg commented on #10014
Wow, I'm surprised we missed that. I'll fix it tomorrow.

[2021-01-20 05:56] rojinbarzegar7171 opened #10015 "Xr12/47d"
04efdd5fdb68e2d66e820db7278f92955e5f4728

[2021-01-20 10:35] AlexandraMoga opened #10016 "Server errors on AMO homepage on stage"
### Describe the problem and steps to reproduce it:
1. Create a new Firefox profile (just to make sure there is no caching involved)
2. Open addons.allizom.org

### What happened?
A Server Error page is displayed. Besides the 500 error for the homepage URL, I've also noticed the following error in the browser console: `Caught application error: TypeError: Parameter 'url' must be a string, not obje

[2021-01-20 13:53] #10015 closed

[2021-01-20 14:52] AlexandraMoga commented on #9991
I've verified this issue on -dev and stage and the Sponsored shelf as well as the supporting API calls are no longer present on the homepage:

![image_2021-01-20_164959](https://user-images.githubusercontent.com/31961530/105191274-8ce7c980-5b3f-11eb-89bc-0b449df44ca0.png)

[2021-01-20 16:03] ioanarusiczki commented on #9878
@bobsilverberg
We used on Fennec the following prefs to trigger an install:
 extensions.webapi.testing - true
xpinstall.signatures.required - false
xpinstall.signatures.dev-root - true

- I installed Fenix beta 85.0.0 -beta5: install buttons are enabled for all add-ons from the recommended shelf, the yellow message is not displayed but once I tap on the button a download is triggered. Same result

[2021-01-20 16:23] bobsilverberg commented on #9878
I'm not sure I understand whether you are able to actually install add-ons from stage or not. Regarding the button not changing its state, that is expected. The addo-on manager does not exist on Fenix, so we have no way of changing the state of that button.

[2021-01-20 18:54] bobsilverberg commented on #10016
The problem here is that the `homepage` property returned for `external` for the primary hero shelf is a localized, and outgoingified, URL, but the code was assuming it would be a string. It turns out that the `name` is also localized, so the fix should address that too.

[2021-01-21 10:31] ioanarusiczki commented on #9878
@bobsilverberg

Ok, I checked this morning again. So, my concern is the Fenix installs because so far I was not able to trigger one with 85.0.0. beta.9
which I took from this [repo](https://firefox-ci-tc.services.mozilla.com/tasks/index/mobile.v2.fenix.beta.2021.01.16.latest) and also tried with Nightly from [this repo ](https://firefox-ci-tc.services.mozilla.com/tasks/index/mobile.v2.fenix.nightl

[2021-01-21 11:04] willdurand commented on #9878
From our discussion on Matrix:

[2021-01-21 14:02] ioanarusiczki commented on #9878
@willdurand I could install add-ons from the collection https://addons.allizom.org/en-US/firefox/collections/11686491/fenix/ using a build you've sent (FF Preview 86.0a1)

![videotogif_2021 01 21_15 52 44](https://user-images.githubusercontent.com/33448286/105361078-fcbe8880-5c01-11eb-8b7a-d43c073e74ff.gif)

[2021-01-21 18:20] #10014 closed

[2021-01-21 19:00] #10016 closed

[2021-01-21 20:25] Aanandgupta opened #10019 "Navigation option missing in mobile screens."
### Describe the problem and steps to reproduce it:
When we are switching from desktop screens to mobile screens "Explore" option from the navbar is not visible.

### Anything else we should know?
I am new to open source I would like to work on this issue.

![for desktop](https://user-images.githubusercontent.com/71023799/105408291-c827ec80-5c54-11eb-9bb7-56dd0b1ddd9c.png)
![for mobile](https://us

[2021-01-21 20:57] bobsilverberg commented on #10019
This is by design and is therefore not something that needs to be fixed.

[2021-01-21 20:57] #10019 closed

[2021-01-21 20:58] jvillalobos commented on #10019
(Adding this comment since I was already typing it when the issue was closed :) )The Explore link just takes you back to the homepage, which has the same effect as tapping on the logo. Adding it back could impact layout, especially in other languages.

[2021-01-22 10:14] willdurand opened #10022 "Add docs about Fenix custom builds"
We constructed a custom Fenix build for QA this week so that they could test the install flow end-to-end on -stage. Let's document how we did that.

[2021-01-22 11:28] Aanandgupta commented on #10019
Agreed but let's say the user directly lands on the themes page using this https://addons.allizom.org/en-US/firefox/themes/ URL in their mobile phone's browser how will they interact with the home page if they are not knowing about the fact that tapping on the logo takes you to the home page. And if adding back could impact layout in other languages We can add it back in more dropdown or think of

[2021-01-22 11:32] smayer97 commented on #3252
still keep open please

[2021-01-22 13:39] #10022 closed

[2021-01-22 14:52] ioanarusiczki commented on #9878
@willdurand I did some sanity checks on AMO prod today - Android 10.0 FF85.1.0
I could install all add-ons from the see more recommended shelf.

Current behavior:
As in the .gif above - once the install button is tapped the user is redirected to addon manager and the install popup is displayed then a download is triggered and after a message informs the users that the add-on has been added to Fire

[2021-01-22 14:56] ioanarusiczki commented on #9878
@willdurand I also tested AMO prod installs with FF 85.0.0 - beta9 and FF 86.0a1 - Nightly on Android 10.0 - works for me.

[2021-01-22 15:19] ioanarusiczki commented on #10014
@bobsilverberg Fixed on AMO dev - FF84(Win10).

![fixed prod bug](https://user-images.githubusercontent.com/33448286/105509255-ff8aad80-5cd5-11eb-8485-4a064e188f46.png)

[2021-01-23 00:43] grahamperrin commented on #3252
`/human` marks _fresh_

[2021-01-24 01:09] moz-hwine opened #10024 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 3](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1095895/ublock_origin-1.18-fx.xpi (302 Found)

[2021-01-25 01:08] #10024 closed

[2021-01-25 01:09] moz-hwine commented on #10024
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-01-25 09:50] AlexandraMoga commented on #10016
I've enabled an [external primary hero](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/promotedaddon/378/change/?_changelist_filters=p%3D0) on -dev and loaded the homepage several times afterwards. The primary hero is displayed and there are no errors in the console.

This issue is verified fixed on -dev.

[2021-01-27 01:08] moz-hwine opened #10027 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 1](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096551/docwrite_wup-3.0-an+fx.xpi (302 Found)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 * If the fai

[2021-01-27 15:25] eviljeff opened #10028 "fix/remove sentry integration for addons-frontend"
IMO, the sentry setup for addons-frontend is so full of irrelevant entries, it's useless for it's supposed purpose - capturing and highlighting genuine errors.

https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/ is full of "chunk failed" errors, and https://sentry.prod.mozaws.net/operations/frontend-prod/ contains errors from ancient webarchive snapshots rather than actual AMO pro

[2021-01-27 15:36] willdurand commented on #10028
I don't think it's worth keeping it to be honest, the main reason being based on what you described: we get lots of errors and that's because sentry will collect all the possible client-side errors from all possible browsers. That's why we get lots of random errors.

We could restrict things so that only FF errors are surfaced, etc. *but* what would be the value? For instance, I don't think I had

[2021-01-28 01:13] bqbn commented on #9925
AWS got back to us with the following,

It is still not clear what caused the issue in -dev environment. Like I mentioned in the above, before [the workaround](https://github.com/mozilla-services/cloudops-deployment/pull/4176), using a "GET" or "HEAD" request with an "Access-Control-Request-Method" or "Access-Control-Request-Headers" header can re-produce the issue. However we don't know if that's

[2021-01-28 13:45] bobsilverberg opened #10031 "Remove code related to the sponsored shelf endpoint"
This is a follow-up to https://github.com/mozilla/addons-server/issues/16390, which removed the sponsored shelf endpoint. We should remove any code we have which supports that API.

[2021-01-28 15:58] g-k commented on #9895
OK I was able to reproduce the 429s without STS (and other security headers). The responses are coming from nginx (so either the app reverse proxy or iprepd-nginx):

[code]

@bqbn could we conditionally set security headers in nginx when the application doesn't return them like we do for other services?

[2021-01-28 16:29] eviljeff commented on #10028
Looks like it.  (I was fooled by the references to frontend urls in the reports.... but they're actually all webarchive urls).  Logged mozilla/addons-server#16414 to remove it from addons-server codebase.

[2021-01-28 17:45] bqbn commented on #9895
@g-k we have a rate limit for the `/search/` endpoint. Please see [[1]](https://github.com/mozilla-services/cloudops-deployment/blob/master/projects/amo/puppet/modules/amo_proxy/templates/nginx.addons.conf.erb#L4) for the limit, and [[2]](https://github.com/mozilla-services/cloudops-deployment/blob/master/projects/amo/puppet/modules/amo_proxy/templates/nginx.addons.conf.erb#L340-L347) for the reas

[2021-01-28 19:26] g-k commented on #9895
Sure, I halved the scanner's spider step concurrency in prod, and I've opened https://github.com/mozilla-services/cloudops-deployment/pull/4184 to fix this issue.

[2021-01-29 01:08] #10027 closed

[2021-01-29 01:08] moz-hwine commented on #10027
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-01-29 01:17] moz-hwine commented on #9895
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-01-29 01:17] #9895 closed

[2021-01-29 10:51] ioanarusiczki opened #10033 "Android themes page shows extensions and categories throw Invalid "category" parameter on desktop"
A while ago, themes have been removed from android searches https://github.com/mozilla/addons-frontend/issues/9903
Right now, on Android, themes cannot be found, all pages are hidden.

On desktop themes homepage show right now extensions
A category will throw an error    ->  Invalid "category" parameter. This has been discussed https://github.com/mozilla/addons-server/issues/5981#issuecomment-7681

[2021-02-01 01:08] moz-hwine opened #10036 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 1](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096551/docwrite_wup-3.0-an+fx.xpi (302 Found)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 * If the fai

[2021-02-01 01:17] moz-hwine opened #10037 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 3](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/sl/android/search/ (429)
 * https://addons.mozilla.org/sv-SE/firefox/search/ (429)
 * https://addons.mozilla.org/tr/android/search/ (429)

This issue was automatically ra

[2021-02-01 13:45] diox opened #10038 "Investigate consolidating API requests for the detail page into a single API call"
Like https://github.com/mozilla/addons-frontend/issues/9996 but for the detail page.

Investigate if that really makes sense - we may not want to have a single endpoint, but having a fast first render, with all the base info needed. So for instance, maybe we could get rid of the call to the ratings API is we rolled `grouped_ratings` into the detail API endpoint ? But that would only work if the fr

[2021-02-01 13:54] diox opened #10039 "Investigate duplicate / client-side calls to ratings API on detail pages"
Going to a detail page directly (so the page has gone through server side rendering), I can see the following requests:

- /api/v5/ratings/rating/?addon=XXXX&show_grouped_ratings=true&lang=en-US
- /api/v5/addons/search/?app=firefox&appversion=86.0&author=YYYY&exclude_addons=adblock-plus&page=1&page_size=6&sort=hotness&type=extension&lang=en-US
- /api/v5/addons/recommendations/?guid=ZZZZZ&recommend

[2021-02-01 14:12] diox opened #10040 "Investigate our use of webfonts"
A single request to AMO seems to cause 6 different requests to `.woff2` fonts, for a total of 635 KB transferred.
- Can we lower that ? Can we remove some or all of these fonts ?
- Should we even be using those fonts or follow https://protocol.mozilla.org/fundamentals/typography.html instead ?
- Should we [`font-display: swap`](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-displ

[2021-02-01 14:14] diox opened #10041 "Record Web Vitals stats & progress over time"
We want to keep an eye on our [Web Vitals](https://web.dev/vitals/) for SEO and general perf health, so we need to find the right tool for the job. Ideally this would be fed into statsd so that we aggregate the data with other graphs in Grafana.

[2021-02-01 15:30] bobsilverberg commented on #10040
I tried in both Firefox and Chrome and I only see one `.woff2` font file downloaded. Are some of the fonts perhaps pre-loaded in my browsers?

Also, how much, if any, UX input do we need on this issue?

[2021-02-01 16:03] diox commented on #10040
I was starting from a fresh cache.

![amo-fonts](https://user-images.githubusercontent.com/187006/106483946-61ee6580-64af-11eb-9479-bb95b3129d81.png)

(I've got the HAR export as well but it's not particularly interesting)

[2021-02-01 16:11] richie3355 opened #10043 "chrome_settings_overrides"
Lets assume you name your search provider as WebSearch1 and then rename as WebSearch2 in the next update of the addon the search provider stops working. Is this an expected behaviour?

After debugging the ff code found that in SearchServices.jsm searches for the searcheengine based on the key and any update on engine name does not change the key and only the _name inside values

[2021-02-01 16:17] diox commented on #9895
Was the change to halve the spider step concurrency deployed ? We just got a new issue opened for the same problem: https://github.com/mozilla/addons-frontend/issues/10037

[2021-02-01 16:33] #10031 closed

[2021-02-01 16:55] diox commented on #10040
The fonts are: Fira Sans Light, Fira Sans Regular, Fira Sans Medium, Fira Sans Bold, Open Sans Regular, Open Sans Bold. Open Sans is used in the footer, Fira for the rest of the page. The different weights used in the design cause us to use the different variants.

[2021-02-01 17:26] bobsilverberg commented on #10039
I can start by trying to determine why this API is being called twice, and then we can also look at some of the other suggestions about addressing this.

[2021-02-01 18:28] bobsilverberg commented on #10039
The problem comes from the fact that we're not checking whether the grouped ratings are currently being fetched before issuing the API request to fetch them. This is something we have implemented for a number of fetches on the frontend, as it's often difficult to predict when we might attempt a duplicate fetch. In this case, it only happens with SSR, and I think it's just an inconvenient timing is

[2021-02-01 19:23] bobsilverberg commented on #10033
I'm trying to understand this issue. I can see from what @eviljeff discussed at https://github.com/mozilla/addons-server/issues/5981#issuecomment-768172671, that we are sending an invalid API request, and for some reason sending `type=extension` instead of `type=statictheme`, so that's something we should investigate and fix, but this isn't something a user could encounter on the site, correct? Th

[2021-02-01 19:47] g-k commented on #9895
Yes that was https://github.com/mozilla-services/foxsec/pull/1728

https://github.com/mozilla-services/cloudops-deployment/pull/4184 is still open to fix the underlying issue.

I believe it's following everything links from the page. I couldn't find a rate limit option, so I'll have to do more digging and get back to you.

[2021-02-01 20:43] jvillalobos commented on #10043
This sounds like (possibly) a Firefox bug. [Please file it here](https://bugzilla.mozilla.org/enter_bug.cgi?product=WebExtensions).

[2021-02-01 20:43] #10043 closed

[2021-02-01 21:25] bqbn commented on #9895
@g-k what do you think it's the underlying issue?

If I read the first comment correctly, the bot filed this issue because it received 429 code, not because the URLs didn't return the Strict-Transport-Security header. So why https://github.com/mozilla-services/cloudops-deployment/pull/4184 fixes the underlying issue when the issue is about bot receiving 429 code?

Take one of the bot-reported URLs

[2021-02-01 21:26] bqbn commented on #9895
Also the rate limit was put in place in 2017, and why the bot started to report issues just recently? Has anything changed on the bot side?

[2021-02-01 21:45] g-k commented on #9895
The bot is filing the issue for missing HSTS headers https://www.zaproxy.org/docs/alerts/10035/ for the responses with the 429 error code i.e.

1. bot runs
2. spiders the multiple search links
3. hits rate limit
4. gets 429 response without STS and other headers

[2021-02-01 21:46] g-k commented on #9895
I'm not sure what's changed since 2017, since Simon ran it. But ZAP has seen several major releases since then, so it might be spidering more aggressively or following different links now.

[2021-02-01 22:04] bqbn commented on #9895
OK, because the bot filed this issue saying

[2021-02-01 23:01] g-k commented on #9895
Oh yeah, the output is confusing. If you've got any ideas to improve it, I'm all ears.

I added links to the ZAP error page for the alerts and you can see it in https://github.com/mozilla/addons-frontend/issues/10037

Longer term, I'd like to make it easier to configure and run the scans.

[2021-02-02 09:14] willdurand commented on #10039
Let's fix the issue you found first (we can get this bug fixed before this week's push I suppose?)

[2021-02-02 10:38] willdurand commented on #10041
We could probably use the `web-vitals` js lib: https://web.dev/vitals/#measure-core-web-vitals-in-javascript. Maybe we could have a server endpoint that would receive the data from `web-vitals` and push it to statsd?

[2021-02-02 11:59] diox commented on #10039
Yeah if we can get the duplicate call fixed first this week, let's do that. Before adding `grouped_ratings` to the detail API, I want to make sure there is nothing else we'd like to add there.

[2021-02-02 13:05] bobsilverberg commented on #10038
There are still a couple of potential areas for improvement even after #10039 is fixed:

1. The call to `/ratings/rating/?addon=123&show_grouped_ratings=true` retrieves not just the grouped ratings, but also the first page of actual ratings, which is not needed for the detail page, so ideally we would have a way of retrieving just the grouped ratings without any detail.
2. We issue a second reques

[2021-02-02 14:52] willdurand commented on #10038
it'd be interesting to try to understand why we're retrieving the first page of ratings.

[2021-02-02 15:03] smayer97 commented on #9133
keep active...

[2021-02-02 16:15] #10039 closed

[2021-02-02 16:30] bobsilverberg commented on #10038
I assume it's because the endpoint doesn't specifically provide a way to exclude the ratings results, although we might be able to hack around that with `pagesize=0`. I'm not sure that anyone has ever taken a look at this and realized we were retrieving results when we didn't need them.

At the very least I think we should update the endpoint to allow for retrieving only grouped ratings (or provid

[2021-02-02 16:30] willdurand commented on #10041
looks like we can also use GA to receive the web vitals stats: https://github.com/GoogleChrome/web-vitals/#send-the-results-to-google-analytics. I feel like this would be a lot simpler.

[2021-02-02 16:47] willdurand commented on #10041
I am going to try to use the GA approach since there is a nice dashboard too: https://web-vitals-report.web.app/.

[2021-02-02 17:14] bobsilverberg commented on #10038
For reference, here's a list of the APIs called for the add-on detail page:
- https://addons.mozilla.org/api/v5/addons/addon/{slug}/
	- This gets the detail for the add-on.

- https://addons.mozilla.org/api/v5/ratings/rating/?addon={addonId}&show_grouped_ratings=true
	- As discussed above, this gets the grouped ratings for the Ratings widget

- https://addons.mozilla.org/api/v5/addons/search/?app=

[2021-02-02 17:25] bobsilverberg commented on #10038
Based on the above, here are some thoughts:

1. If we can get the current user's rating, and also the grouped ratings, as part of the call to the add-on detail API, that would save us two API calls. This data is small, so shouldn't greatly impact the amount of data returned by the detail API. We could have a flag, or flags to include it, or perhaps we could create a new endpoint designed specifica

[2021-02-02 21:23] wagnerand commented on #9133
I am closing this since there has not been any activity in a long time and adding comments just to keep this issue open does not magically implement the requested feature or even prioritize implementation. Since it has not been triaged, I am not sure we'd even take a contribution, but we can re-evaluate once someone is actually about to start working on it.

[2021-02-02 21:23] #9133 closed

[2021-02-02 21:29] diox opened #10047 "Remove ability to filter by Operating System in the search results"
All WebExtensions should be compatible with all platforms for the application they support (Firefox or Firefox for Android). Let's remove the ability to filter by Operating System in the search results (It's currently displayed in the sidebar, and also passed down to the API if the parameter is present in the URL).

[2021-02-02 21:37] smayer97 commented on #10047
Not sure what the intention is and what benefit it would have but please do not do this if this prevents a user to pull up addons when on a different platform.... e.g. if on Windows, cannot see macOS addons... There are many times when doing research on add-ons that one can be on a different platform...

Often on Android, or Windows, or macOS researching...

[2021-02-02 21:56] diox commented on #10047
See the first sentence. There is no such thing as add-ons for Windows or Linux or macOS only - except as a bug for some old ones that haven't been migrated yet (we [removed the possibility to upload add-ons specific to a particular OS over 2 years ago](https://github.com/mozilla/addons-server/issues/8752)). We currently filter by default and let you change the filter, but it doesn't make any sense

[2021-02-02 22:48] diox commented on #10038
1. I think it makes sense to have some kind of parameter to include that data. Fetching grouped ratings can be costly, so it shouldn't be done by default - we might want to take a look at the query to see if we can speed it up while we're at it.
2. Maybe. Both are always called client-side, right ? The thing that make me hesitate about grouping those together is that one is super slow because it d

[2021-02-03 01:08] moz-hwine commented on #10036
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-02-03 01:08] #10036 closed

[2021-02-03 01:17] #10037 closed

[2021-02-03 01:17] moz-hwine commented on #10037
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-02-03 08:47] ioanarusiczki commented on #10033
@bobsilverberg Hello, Yes, you understood it right. I mentioned above that I used desktop to navigate to these pages (so, yes, I manually changed the URLs). Also I mentioned that on Android, the pages are hidden, which means that an android user cannot find these pages via regular navigation.

[2021-02-03 08:51] willdurand commented on #10041
Oh noes.. most APIs used by the web-vitals lib are only available in Chromium-based browsers:

The most interesting metrics are:

- Largest Contentful Paint (LCP): measures loading performance. To provide a good user experience, LCP should occur within 2.5 seconds of when the page first starts loading.
- First Input Delay (FID): measures interactivity. To provide a good user experience, pages shou

[2021-02-03 08:53] willdurand commented on #10038
I don't think we pass the client ID to the frontend's server code so the recommendation API should be kept separate I believe.

[2021-02-03 09:18] willdurand commented on #10041
So I think CLS requires something called [`layout-shift`](https://web.dev/cls/#measure-cls-in-javascript) and there is a bug for that: https://bugzilla.mozilla.org/show_bug.cgi?id=1651528

For LCP, we need [`largest-contentful-paint`](https://web.dev/lcp/#measure-lcp-in-javascript).

[2021-02-03 11:48] ioanarusiczki commented on #10031
@bobsilverberg
Homepage dev and stage don't seem to be affected. Primary, secondary hero and the shelves are displayed.
Sponsored GA events are no longer present in the Console.
/api/v5/shelves/sponsored/ is not present in the Network.

[2021-02-03 13:07] willdurand opened #10049 "release-master job is failing (-dev deployments are stopped)"
The error is:

[code]

[2021-02-03 13:37] ioanarusiczki commented on #10039
@bobsilverberg On -dev and -stage the issue is no longer present. When going directly to an add-on detail page - https://addons-dev.allizom.org/api/v5/ratings/rating/?addon=616840&show_grouped_ratings=true&lang=en-US is present only once in the network.

![olny once](https://user-images.githubusercontent.com/33448286/106754467-b15e9e00-6635-11eb-8713-6db9b9990a91.png)

[2021-02-03 13:55] #10049 closed

[2021-02-03 13:58] willdurand commented on #10049
For QA: amo -dev should be updated (we can see this using the special `__frontend_version__` endpoint or the amo-info extension or the logs in the secret slack channel)

[2021-02-03 14:28] eviljeff commented on #10038
Filed mozilla/addons-server#16457 for the API work for the ratings

[2021-02-03 16:02] Aanandgupta opened #10052 "Codeofconduct redirects to 404 page"
### Describe the problem and steps to reproduce it:
In README.md  when we click on codeofconduct we are been redirected to 404 page

### What did you expect to happen?
We should have been redirected to a page which describes codeofconduct

![Screenshot (123)](https://user-images.githubusercontent.com/71023799/106773934-9dcc2b00-6667-11eb-8ad8-3f8d8c1c1093.png)

on clicking on code of conduct it re

[2021-02-03 17:27] Aanandgupta opened #10055 "Explore option missing from UI for mobile devices."
### Describe the problem and steps to reproduce
If the user directly lands on the themes page using this https://addons.allizom.org/en-US/firefox/themes/ URL in their mobile phone's browser they can't interact with the home page as explore option is missing and if they are not knowing about the fact that tapping on the logo takes you to the home page.
 And if adding back could impact layout in oth

[2021-02-04 01:08] moz-hwine opened #10057 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 1](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096551/docwrite_wup-3.0-an+fx.xpi (302 Found)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 * If the fai

[2021-02-04 05:04] iamvedant commented on #10047
I would like to work on this. Can you please help me out setting up the code in my local machine. I am trying to set it up but some error is popping up and I am not able to start the dev server

[2021-02-04 05:41] Aanandgupta opened #10058 "Authentication check required"
### Describe the problem and steps to reproduce it:
If we are using particular extension page in two tabs and if we log out from one of the page we are still able to change ratings from the other tab. and it reflects changes when we login again

### What did you expect to happen?
We should not be allowed to do any action  after we have been logged out.

![Screenshot (126)](https://user-images.gith

[2021-02-04 10:57] diox commented on #10047
This is already assigned (to me), already has a pull request opened, and not marked as a good first bug/contributions welcome issue.

[2021-02-04 13:09] #10047 closed

[2021-02-04 20:18] anewuser opened #10064 "No result for Android-specific extensions on the "Edit collection" page"
### Describe the problem and steps to reproduce it:
* Open `https://addons.mozilla.org/collections` on the desktop version of Firefox. It redirects to a URL containing `/firefox/`.
* Create a new collection.
* Search for `Video Background Play Fix`, an Android-specific extension.

### What happened?
No results. It only shows up if you manually change the URL to `https://addons.mozilla.org/android/

[2021-02-05 06:32] bqbn opened #10059 "Increasing amount of 500 errors after 2/4 release"
### Describe the problem and steps to reproduce it:

We've noticed increased amount of 500 errors after 2/4 release (as shown by the green line in the below screen shot).

<img width="719" alt="Screen Shot 2021-02-04 at 10 22 45 PM" src="https://user-images.githubusercontent.com/2209111/106997417-b3108a80-6737-11eb-994d-f5730b57a51e.png">

We don't have an excessive amount of 500 at this point, bu

[2021-02-05 10:29] wagnerand commented on #10059
I believe this is a frontend issue, transferring...

[2021-02-05 10:54] #10059 closed

[2021-02-05 10:55] willdurand commented on #10059
I think we should cherry-pick the patch and redeploy addons-frontend once the issue has been verified.

[2021-02-05 11:21] wagnerand commented on #10059
Verified on -dev: https://addons-dev.allizom.org/en-US/review_guide and https://addons-dev.allizom.org/en-US/about work again.

Not sure if https://addons.allizom.org/en-US/firefox/user/%C3%AF%C2%BF%C2%BD%C3%AF%C2%BF%C2%BD%C3%AF%C2%BF%C2%BD%C3%AF%C2%BF%C2%BD%A2/ warrants a follow-up . What's weird is that this seems to happen at a low level (nginx?), and does not appear in sentry, as far as I can

[2021-02-05 12:32] willdurand commented on #10059
This is a different issue I believe and I am almost sure we already took a look in the past.

[2021-02-05 12:33] willdurand commented on #10059
@AlexandraMoga could you verify this issue on -dev please?

[2021-02-05 12:40] AlexandraMoga commented on #10059
@willdurand the /about and /review_quide pages are no longer triggering a server error, so this part is verified fixed.

The error with user profile page is a different issue as far as I understand.

[2021-02-05 12:45] willdurand commented on #10059
Yes, the actual error is:

[code]

I am not sure what we can do about it but I'll file an issue for that. This isn't new, though.

[2021-02-05 12:47] willdurand opened #10061 "URIError when path is invalid"
When an URL path is invalid, we get the following error and we return a minimal 500 page (from Express, I guess):

[code]

Not sure what we can about it, though.

[2021-02-05 15:10] AlexandraMoga commented on #10059
This issue has been verified fixed on all servers.

[2021-02-06 01:08] #10057 closed

[2021-02-06 01:08] moz-hwine commented on #10057
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-02-07 01:08] moz-hwine opened #10062 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 1](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 *

[2021-02-07 01:17] moz-hwine opened #10063 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 1](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/en-US/firefox/search/?category=scenery&sort=recommended%2Cusers&type=statictheme (429)

This issue was automatically raised.

This issue is managed automatically by the b

[2021-02-08 03:56] #9501 closed

[2021-02-08 12:31] AlexandraMoga commented on #10047
The 'Operating System'  filter option is no longer present on -dev:

![image](https://user-images.githubusercontent.com/31961530/107219327-96b36d00-6a19-11eb-8cae-3d464da6869c.png)

Manually entering a `?platform=windows/mac/linux` in the URL will result in the parameter being stripped and ignored.

Searching and filtering is working as expected.

This issue is verified fixe on -dev.

[2021-02-08 16:23] AlexandraMoga commented on #9925
@bqbn I've been seeing a CORS error on stage this time.

These are the errors shown in the browser console:
[code]
Not sure what the second one is about.

As actual effects on the site, I've noticed that the search suggestion list is not loaded when a search term is entered in the field.

I have the following request/response headers for https://addons-amo-cdn.allizom.org/amo-f5f5f159df8ed61a4850.

[2021-02-08 19:06] jvillalobos commented on #10064
This is a duplicate of https://github.com/mozilla/addons/issues/1252. Not closing this yet in case there are ideas on how to fix this easily. Otherwise it'll need to wait until we invest more time on Android compatibility.

[2021-02-08 23:55] bqbn commented on #9925
I have applied https://github.com/mozilla-services/cloudops-deployment/pull/4176 to -stage env as well.

We'll apply it to -prod this Thursday before the push.

[2021-02-09 01:10] #10062 closed

[2021-02-09 01:10] moz-hwine commented on #10062
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-02-09 01:19] moz-hwine commented on #10063
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-02-09 01:19] #10063 closed

[2021-02-09 11:02] AlexandraMoga commented on #9925
I'm no longer reproducing the error today. I'll keep a watch on this issue as asked.

[2021-02-09 12:01] patil2097 commented on #9423
hi @willdurand  let me if this issue is still open? I would love to help in solving this issue.

[2021-02-09 14:17] willdurand opened #10067 "Add Silesian lang to the list of supported languages by AMO"
In https://github.com/mozilla/addons-frontend/issues/10068, a new (unfiltered) language has been added. It is available in Pontoon so we might want to enable this new lang for AMO too.

@peiying2 WDYT?

[2021-02-09 14:19] willdurand opened #10068 "Add Silesian (szl) to supported languages"
For QA: a langpack for `szl` should be displayed.

[2021-02-09 14:19] #10068 closed

[2021-02-09 14:59] willdurand commented on #9423
Please see this comment: https://github.com/mozilla/addons-frontend/issues/9423#issuecomment-680145839

[2021-02-09 15:17] diox opened #10069 "Make category pages indexable"
We currently [forbid robots from indexing /{lang}/{app}/search/](https://addons.mozilla.org/robots.txt). We want to keep that, but at the same time, we're currently re-use the search pages for category pages, and we'd like _those_ to be indexed.

Easiest way to start fixing this is probably going to resolve around exposing "true" category pages under a specific URL, leaving the functionality and u

[2021-02-09 15:37] AlexandraMoga commented on #10068
This issue is verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/107387170-3c8bd800-6afd-11eb-94f1-487bbbe4f1ce.png)

[2021-02-09 15:50] #10041 closed

[2021-02-09 15:52] willdurand opened #10070 "Enable web-vitals collection in all envs"
We added web vitals collection in https://github.com/mozilla/addons-frontend/issues/10041, let's enable the collection in all envs once we have validated that it collects useful data in -dev.

[2021-02-09 17:16] willdurand opened #10071 "Allow target locales with 3 parts (e.g., `oc-FR-gascon`)"
If a langpack has a `target_locale` like `oc-FR-gascon` (3 parts) as opposed to 2 parts (`fa-IR`) or even 1 part (`fa`), we don't list it in the language tools page. We should, though.

[2021-02-09 17:25] #10071 closed

[2021-02-09 18:55] peiying2 commented on #10067
Please advise the communities to request  through Pontoon: https://pontoon.mozilla.org/projects/. Try to be realistic and one project at a time.

[2021-02-09 19:31] bobsilverberg opened #10074 "Fetch grouped ratings while fetching add-on detail"
This is a spin off from https://github.com/mozilla/addons-frontend/issues/10038.

Now that https://github.com/mozilla/addons-server/issues/16459 has landed, we can retrieve the grouped ratings at the same time as the add-on detail, so we should adjust our code to do that, and eliminate the extra API call.

[2021-02-09 20:17] bobsilverberg opened #10075 "Update code to deal with translated fields from the hero API"
This is a companion issue to https://github.com/mozilla/addons-server/issues/16515. Once that is fixed we will need to adjust the frontend code to expect localized strings (objects) as opposed to simple strings.

[2021-02-09 20:37] willdurand commented on #10071
cc @jvillalobos this is the issue I mentioned on Matrix

[2021-02-10 08:19] AlexandraMoga commented on #10041
@willdurand is there any QA needed for this issue?

[2021-02-10 08:57] willdurand commented on #10041
@AlexandraMoga you should see new GA logs about "web vitals" in the devtools console. It's best to use Google Chrome for that, though. We only send data when pages are first loaded (so reload the pages you navigate to).

[2021-02-10 09:56] AlexandraMoga commented on #10071
This issue is verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/107493955-de133800-6b96-11eb-9f4b-1d7c800c4201.png)

The dictionaries and language packs for single and two-parts `target_locales` are still being displayed on the language-tools page.

[2021-02-10 16:07] willdurand commented on #10069
I am wondering: what's the rationale for indexing category pages (and actually create new category pages in the first place)? There is something called the "crawl budget", which we should keep in mind. Last time we did a project around SEO, @rraue said that it was important.

[2021-02-10 16:09] willdurand commented on #9925
should be fixed this week

[2021-02-10 16:09] #9925 closed

[2021-02-10 16:11] willdurand commented on #10055
I don't think we want to change that for now.

[2021-02-10 16:11] #10055 closed

[2021-02-10 16:36] jvillalobos commented on #10069
This issue comes directly from Raphael. It's currently not possible for a crawler to find all listing pages using only our internal links (given that search pages are excluded).

[2021-02-10 19:58] heaversm opened #10076 "Signing confirmation e-mail marked as suspicious"
### Describe the problem and steps to reproduce it:

Not sure which repo this might involve so I apologize if I'm filing this in the wrong place, but when I received my successful signing confirmation e-mail, it is marked suspicious.

### What happened?

I have a mozilla.com e-mail account, I'm receiving mail from Mozilla, and a big yellow alert pops up warning me that this e-mail is suspicious. A

[2021-02-10 20:10] willdurand commented on #10076
FWIW, `email-od` is socketlabs, which we are using to send emails: http://email-od.com/

[2021-02-11 14:50] AlexandraMoga commented on #10049
Addons-frontend was deployed successfully in the past few days. I think this can be marked as verified fixed.

[2021-02-11 15:21] AlexandraMoga commented on #10041
@willdurand I can see the following events in the devtools console:

After reloading a page:
[code]
After clicking randomly or performing some action on the page I've opened:
[code]

[2021-02-11 16:51] rraue commented on #10069
I am not recommending just indexing all category pages without a second thought, but to use this with a content approach. A good example is the keyword "adblocker" where the category page would be the best fit to rank, as it gives a user the overview of all/best adblockers for Firefox, but currently only the single adblocker pages have a chance to rank for this.

If we approach category pages in t

[2021-02-12 14:54] diox opened #10085 "Investigate removing preload/prefetch for About and ReviewGuide resources"
We currently add these to every page:
[code]

This is causing those 4 js/css bundles to be fetched super early. It doesn't seem to block anything, but it does compete with other resources for bandwidth & parallel connections.

Is it really useful ? I think we could live with a slightly degraded transition when navigating to those pages (the links only appear in the footer anyway), if that helps pe

[2021-02-12 14:58] willdurand commented on #10085
To give some more context, we added `preload` in addition to `prefetch` because we need to configure CSP with `prefetch-src` in order to use `prefetch` but FF didn't support it back then. I don't know if that has changed but we should not use `preload` because this feature is about making sure that the resources are loaded early **for the current page**, which is why they are loaded first (after t

[2021-02-12 16:19] diox commented on #10085
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/prefetch-src doesn't seem good regarding browser support... so I'd lean towards removing both.

[2021-02-12 16:23] willdurand commented on #10085
Yep, I tend to agree.

[2021-02-12 23:26] lolrepeatlol opened #10087 "Feature request: Add a privacy nutrition label to AMO"
Apple added a great new feature to their App Store, being these new "privacy nutrition labels" that quickly summarize privacy information about an app.
![image](https://user-images.githubusercontent.com/17863082/107832744-43b22080-6d5f-11eb-9b10-3814d11b7a71.png)

Now, Google has seemed to add this feature to its Chrome Web Store as well. It is incredibly convenient.
![image](https://user-images.g

[2021-02-13 01:08] moz-hwine opened #10088 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 1](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 *

[2021-02-13 18:18] peteos123 opened #10090 "Problem"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2021-02-14 01:10] moz-hwine commented on #10088
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-02-14 01:10] #10088 closed

[2021-02-15 10:59] diox commented on #10069
We already have curated lists for specific topics like "Ad Blockers" and those technically collections, not categories. They have a short description and contain a limited set of add-ons we recommend on a particular topic. *Those* pages are already indexed - they are not linked much though: currently on the homepage we display https://addons.mozilla.org/en-US/firefox/collections/4757633/privacy-ma

[2021-02-15 14:14] #10090 closed

[2021-02-15 14:39] diox opened #10094 "Investigate detail page previews optimizations"
We spend a significant time loading preview images when loading a detail page (https://www.webpagetest.org/result/210212_DiDG_22aa7b4334f8b6993f9a754cff680fbb/1/details/). Some ideas to explore:
- Lazy loading ? Notably, previews from detail page are all loaded early even though some are behind scroll
- Smaller thumbnails ? We load a 640x480 thumbnail that is displayed at 320x240. It looks good on

[2021-02-15 15:10] #10070 closed

[2021-02-15 16:56] diox opened #10095 "Investigate homepage theme previews optimizations"
See also the issue about [detail page previews optimizations](https://github.com/mozilla/addons-frontend/issues/10094)

On the homepage, we only display theme previews (excluding the hero specific image which isn't an add-on preview). There are a couple things we could consider doing:
- Load a (smaller) thumbnail ? We load a full 720x92 image that is displayed at 375x47 (approximately). Like on th

[2021-02-15 19:14] diox commented on #6192
Worth keeping this issue open to try to find a solution (might be a good candidate for our [Performance project](https://github.com/orgs/mozilla/projects/150)). We went from 400 KB to 475 KB limit in 2 years, this is only getting worse.

[2021-02-15 20:38] jvillalobos commented on #10069
@rraue can you clarify? I thought the value of indexing category pages was to provide a way for crawlers to find any listing page by following links on the site. Currently, only Recommended extensions can be found that way, if you start on the homepage.

[2021-02-16 07:09] #9549 closed

[2021-02-16 10:47] #10085 closed

[2021-02-16 11:10] willdurand commented on #10095
It might be a good opportunity to look into `srcset`: https://github.com/mozilla/addons-frontend/issues/1519

[2021-02-16 11:21] eviljeff opened #10096 "pre-commit hook doesn't work (for me - using Windows)"
On commit I get

[code]

This is likely because I'm using git in Windows and husky-run has been set up under linux (WSL).  The `husky-run` file is there but it's just an empty file in Windows rather than a symlink to the script so trying to run `husky-run` doesn't do anything.

[2021-02-16 11:37] #10075 closed

[2021-02-16 12:25] Aanandgupta opened #10097 "Unexpected behaviour for arabic language"
### Describe the problem and steps to reproduce it:
When the pages are viewed in arabic language the page look much more like mirror image.which breaks the alignment with whole application for this particular language.

Components are looking very ugly for eg ratings

### What did you expect to happen?
It must be rendered same as pages in other language are.
### Anything else we should know?
Go th

[2021-02-16 13:24] bobsilverberg commented on #10096
I'm not sure how to debug this without Windows. Are you saying that you configured the setup in WSL, but then later are using Git just with plain Windows? Is it possible to run `yarn` in plain Windows as well, and maybe that will fix it? Or will that just generate a ton of errors?

[2021-02-16 13:44] eviljeff commented on #10096
addons-frontend is setup and run entirely in WSL (it doesn't work in Windows proper).  Git (and VSCode) are running in Windows.  If it try to run `yarn` in plain windows it'll just break addons-frontend instead - unless I can _just_ re-install husky in Windows?

[2021-02-16 14:00] willdurand commented on #10097
Hi, could you tell me more about why you think the page is broken (which is what I understand based on your initial report)?

[2021-02-16 14:29] Aanandgupta commented on #10097
Hey, willdurand for this particular language every thing looks like mirror image when compared with same pages in different languages. for example icons in this page for this language are right-aligned whereas in other languages it left aligned. same goes with many other things.
1- In a bigger picture I don't find any reason for different styling from the whole application for any particular langu

[2021-02-16 14:36] willdurand commented on #10097
The Arabic language is a Right To Left (RTL) language, which is why the site appears mirrored, see: https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/RTL_Guidelines

[2021-02-16 14:42] Aanandgupta commented on #10097
Thank you  I was not knowing about this fact.

[2021-02-16 14:43] bobsilverberg commented on #10096
I suppose you could attempt to install husky globally in Windows and see if that does the trick?

[2021-02-16 14:48] bobsilverberg commented on #10096
It looks like this issue might be the same, and there are a few workarounds suggested you might try: https://github.com/typicode/husky/issues/720

[2021-02-16 14:52] willdurand commented on #10097
I am going to close this issue then.

[2021-02-16 14:52] #10097 closed

[2021-02-16 17:14] rraue commented on #10069
Exactly. Right now only recommended extensions can be directly crawled. But if we flood the crawler with all categories, it will be difficult for any crawler to get the job done as well, so we should index all categories that matter (having more than x extensions within the category) and build a category index page, so its easy to get there for crawlers, as they cant use search.

Thats what I mean

[2021-02-16 18:24] eviljeff commented on #10095
fwiw ,the api returns thumbnails of previews for extensions and themes.  In the case of themes, a 473x64 thumb (I can't remember the size reasoning - might have been because we displayed them at that size at the time; might be arbitrary).

Using the thumbnail should give a ~50% file size saving alone.

[2021-02-16 19:37] willdurand commented on #10095
We probably want to support retina screens.

[2021-02-16 20:29] jvillalobos commented on #10087
We've been looking into something similar for a while, but we've had other priorities come first. This is still the case, so I don't know when we'll be able to implement something like this. In addition to the engineering work we need to make sure there is sufficient monitoring of these flags to ensure their accuracy; otherwise they can be used to deceive users.

[2021-02-16 21:04] jvillalobos commented on #10069
Here's how a crawler can find most listing pages, starting from the homepage:

1) Homepage
2) Extensions ([/extensions](https://addons.mozilla.org/en-US/firefox/extensions/)) or themes ([/themes](https://addons.mozilla.org/en-US/firefox/themes/)) landing page
3) Category pages
4) Listing pages

The landing pages in (2) have a list of all categories. The proposal here is to change the URL for categ

[2021-02-17 10:54] eviljeff commented on #10095
If we can use srcset or otherwise to only serve the double size files to retina display owners, sure.

[2021-02-17 11:13] diox commented on #10095
Do we really need fancy retina images for such basic & small thumbnails though ? I'm curious if the difference would really be that noticeable. I agree looking at `srcset` or different formats could be a solution too, but maybe we can just use the thumbnail and we wouldn't see a difference in quality even on fancy screens.

[2021-02-17 11:20] eviljeff commented on #10095
/agree.  Our support for retina is pretty inconsistent anyway - in most places we just use the literal image size and if we do have a larger one it's more accident than design.  IMO, lets use the correct size now (or the thumbnail at least) and then actively add support (with srcset, etc, and api changes to serve multiple sizes rather than just a full and thumb) as a follow-up.

[2021-02-17 11:37] willdurand commented on #10095
I'll double check but even small images that are not optimized for retina displays look very ugly usually.

[2021-02-17 14:08] willdurand commented on #10058
@Aanandgupta can we actually complete an action? I can see why we'd be able to see buttons, etc. but after logout, the server should clear the cookies and auth stuff on its side, so actions should eventually fail I think.

[2021-02-17 14:16] AlexandraMoga commented on #10085
The https://addons.allizom.org/en-US/review_guide and https://addons.allizom.org/en-US/about are loaded (reloaded) correctly and I didn't notice loading issues with other pages either.

I'm marking this issue as verified fixed on stage.

[2021-02-17 14:23] AlexandraMoga commented on #10070
WebVitals are sent on stage as well:

![image](https://user-images.githubusercontent.com/31961530/108217476-500df300-713c-11eb-8d1a-daaef357fedd.png)

[2021-02-17 14:42] wagnerand commented on #10058
This sounds like a duplicate of https://bugzilla.mozilla.org/show_bug.cgi?id=1336652.

[2021-02-17 14:44] willdurand commented on #10058
@wagnerand could you please cc me on this bug?

[2021-02-17 14:48] wagnerand commented on #10058
Done.

[2021-02-17 14:55] willdurand commented on #10058
Yeah, maybe. So I think this isn't a frontend bug in any case.

[2021-02-17 14:55] #10058 closed

[2021-02-17 16:22] #10074 closed

[2021-02-17 16:53] Aanandgupta commented on #10058
@willdurand I think this is because we might only be checking session at the time page is mounted so we are allowed to change ratings even after we have been logged out in other tab (as page is not reloaded in the other tab so it acts as it is authorized) it could be fixed by checking authorization each time when we are changing ratings.and for all actions that are not be allowed without authentic

[2021-02-17 17:32] diox commented on #10095
We discussed this during stand-up, and we need some data. So, we should do a simple experiment with the current homepage: see how much we'd save if we were to use the thumbnails, and see what the homepage would look like (between all of us we have a good assortment of monitors so it'll be interesting to see if we'd notice the difference)

[2021-02-18 10:09] ioanarusiczki commented on #10075
@eviljeff Following https://github.com/mozilla/addons-server/issues/8712#issuecomment-769912249, the test results on -dev are below and I bolded the results that raise question marks:

1. Results for Primary hero "description" field:
I used for testing sample addon "id":7560,  with "fr" set as default language.

1.1 The primary "description" field with a custom description set in the admin:
- v4,v

[2021-02-18 12:46] ioanarusiczki commented on #10075
@eviljeff I don't see anything broken on the frontend after testing with similar scenarios mentioned on the server side https://github.com/mozilla/addons-server/issues/16515#issuecomment-781242982

Verified on AMO dev with FF85(Win10).

[2021-02-18 17:33] ghostwords opened #10100 "Unable to install Privacy Badger for Android from AMO gallery listing"
I am unable to install Privacy Badger by visiting [Privacy Badger's listing in the AMO gallery on Android](https://addons.mozilla.org/android/addon/privacy-badger17/) and clicking "Add to Firefox".

The problems occurs with both the latest Firefox stable (Firefox Daylight 86.1.0-rc.1) and Firefox Nightly on a Nokia 6.1 running Android 10.

### What happened?

I get a file download prompt. After th

[2021-02-19 10:30] acornestean commented on #10100
I managed to find a way to consistently reproduce the issue. Below you can find the STR (the example below is for Nightly, however these are applicable to all versions: Release, Beta and the 86.1.0-rc.1 release candidate used by the reporter).

Steps to reproduce:
1. Install the latest Nightly from the Play Store
2. Launch Nightly
3. Go to the Privacy Badger AMO page (https://addons.mozilla.org/en

[2021-02-19 10:35] willdurand commented on #10100
I am not sure we can have very reproducible STR to be honest *but* this bug is easy to trigger most of the time, and it's an actual bug indeed. The API returns download URLs that have `firefox` instead of `android` in their paths, and Fenix checks that `android` is present (it's a bit more than that but that's the gist of it).

Fenix is a bit too restrictive but the API shouldn't return a download

[2021-02-19 14:52] ghostwords commented on #10100
I can reproduce 100% of the time. Uninstalling and reinstalling Firefox Daylight stable didn't make a difference.

[2021-02-22 01:09] moz-hwine opened #10103 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 4](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096903/pepega_catch6-0.9.4.1-fx.xpi (302 Found

[2021-02-22 01:17] moz-hwine opened #10104 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 10](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/sl/android/search/ (429)
 * https://addons.mozilla.org/sq/firefox/search/ (429)
 * https://addons.mozilla.org/sq/android/search/ (429)
 * https://addons.mozilla.org/th/a

[2021-02-22 13:54] eviljeff commented on #10040
Mozilla websites use inter for the footer and main body text so we should switch to that for everything imo.  Just switching to inter would be a considerable transfer size saving as the file sizes are smaller.

(https://protocol.mozilla.org/fundamentals/typography.html details that we should maybe be using Zilla Slab* or Metropolis for headings but that's a bit more style adjustment work as we cur

[2021-02-22 15:56] willdurand opened #10105 "Remove Storybook"
We aren't using Storybook as much as we should and we don't have plan to change that so let's remove it for now. Maintaining Storybook takes time and energy that we could better spend somewhere else.

[2021-02-22 16:46] willdurand commented on #10105
I need this to be able to upgrade webpack.

[2021-02-22 17:12] bobsilverberg commented on #10038
Just coming back to this issue to see if there is still work to be done here. Looking at my suggestions from https://github.com/mozilla/addons-frontend/issues/10038#issuecomment-771815288:

1. We are now getting the grouped ratings along with the add-on detail, so that's done. There is still the possibility of retrieving the current user's rating at the same time which should be discussed. I'll op

[2021-02-22 17:14] willdurand commented on #10100
I fixed our API code: https://github.com/mozilla/addons-server/pull/16598, which should fix this issue. The fix will be deployed on Thursday at 9AM PT.

[2021-02-22 17:15] #10100 closed

[2021-02-22 17:17] eviljeff commented on #10038
I'm not sure we need to do anything about separate calls for the user's rating - it only affects logged in users (we bypass a whole bunch of optimization when the user is authenticated so it's far from the only bottleneck for that use case).

[2021-02-22 17:20] bobsilverberg commented on #10038
Yes, and I seem to recall that we discussed this before, but I cannot find a record of that discussion. There were other issues with the way we store reviews that would make it quite complicated to implement if we wanted to get the data from the add-on detail endpoint. So I don't think I need to open a separate issue about it. I believe there is agreement that we will leave this API request as is

[2021-02-22 17:20] #10038 closed

[2021-02-22 17:27] willdurand opened #10107 "Webpack v5"
Let's upgrade webpack to v5.

For QA: this affects the entire site but hopefully it shouldn't have an impact. Style and images should load fine and the site should work as before, there shouldn't be any noticeable changes.

---

### `yarn amo:dev`

- [x] investigate the following warning:

      replace autoprefixer browsers option to Browserslist config

- [x] investigate the following error:

[2021-02-22 17:47] diox commented on #10094
Regarding lazy loading, all it would take would be to add some `loading=lazy` to the preview images and see if they are actually loaded lazily or not. Ideally we wouldn't load more than the first 3 or 4 previews initially but maybe the scroll size isn't large enough that using `loading=lazy` would make a difference.

[2021-02-22 20:44] bobsilverberg opened #10111 "Look into improvements to css that could impact performance"
This is a spin off from https://github.com/mozilla/addons/issues/1296, from that issue:

"Our CSS bundle is quite big and takes a long time to download"

We discussed this on Slack and the following suggestions/observations were made:

- Code splitting likely won't help, so not worth investigating for this.
- It was suggested it might be worth trying to reduce the size of the classNames, to reduce

[2021-02-23 01:07] #10103 closed

[2021-02-23 01:07] moz-hwine commented on #10103
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-02-23 01:16] #10104 closed

[2021-02-23 01:16] moz-hwine commented on #10104
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-02-23 10:56] willdurand commented on #10040
We shouldn't change the fonts to something completely different without Product/UX sign-off.

The Photon font is Fira Sans. Open Sans is indeed used in the footer so I guess we can change that to use Fira Sans, it's not a major update.

I think we should start by using only one font (Fira Sans) and try to not have 3 or 4 different font formats and too many different variants (bold, regular, light,

[2021-02-23 11:01] eviljeff commented on #10040
note: #10110 uses variable fonts - where all the variants can be calculated from a single file (which is bigger than one variant, but seemingly about double size - so an improvement when 3 or more are currently used).  Fira Sans doesn't appear to have a variable font variant (probably because it's 6 years old and that wasn't a thing at the time)

[2021-02-23 11:05] willdurand commented on #10040
Right, I believe we'll get a lot more value in adopting a new-ish font thanks to "variable fonts", etc. but changing a font is a major change. There are probably things we can do _before_ that, which is what I suggested above.

[2021-02-23 11:09] willdurand commented on #10040
I am not sure. This is for marketing websites and it's unclear how that would work with Photon. I'd try to not change the fonts in the first place and see later if we still need to optimize fonts. (what @eviljeff did in a PR looks promising, although I don't know if that looks good visually/aesthetically speaking)

Worth a try!

[2021-02-23 11:15] eviljeff commented on #10040
We can do these things:
- only use one font (drop Open Sans for the footer - use the same font as the page body).  Would save 2 files but only ~100kb because they're pretty small fonts.
- use variable fonts.  Fira Sans doesn't have variable fonts available so probably that means switching to a different font like Inter (unless there is some automagical way to generate a variable font file from the

[2021-02-23 11:20] eviljeff commented on #10040
![Inter-about](https://user-images.githubusercontent.com/768592/108836668-081e1e80-75c9-11eb-9074-406e008fad31.png)
![Inter-home](https://user-images.githubusercontent.com/768592/108836670-08b6b500-75c9-11eb-9bcb-2f8f6262cf69.png)
![Fira-about](https://user-images.githubusercontent.com/768592/108836663-06545b00-75c9-11eb-875b-9bc5239d12a7.png)
![Fira-home](https://user-images.githubusercontent.com

[2021-02-23 11:28] diox commented on #10040
Maybe it's because I'm so used to how it looks now, but I think it looks kinda weird with Inter. Or not as good at least. I'm not a designer, UX or product person though, so it's not my call.

I do think we should ultimately switch away from Fira though: if it's not maintained because as you point out, it's holding us down by not supporting variable fonts.

[2021-02-23 12:16] eviljeff commented on #10040
@jvillalobos for input

[2021-02-23 15:37] ioanarusiczki commented on #10100
@willdurand This issue is reproducible right now on AMO stage at all times, with the steps given by @acornestean : when I am on a detail page of an add-on and I close and reopen the browser and after the page is reloaded I tap the Install button, the download described above is triggered and it ends with "could not open file" message.

But on AMO dev where the fix landed - this is no longer reprod

[2021-02-23 17:12] ghostwords commented on #10100
@willdurand I'm curious, what made this bug not consistently reproducible for you?

[2021-02-23 17:25] jvillalobos commented on #10040
Can you please add a comparison of the two fonts for a listing page?

[2021-02-23 18:00] eviljeff commented on #10040
Inter
![Inter-detail](https://user-images.githubusercontent.com/768592/108886450-e476ca80-7600-11eb-9ca4-6f4e9551bc60.png)
Fira
![Fira-detail](https://user-images.githubusercontent.com/768592/108886445-e3de3400-7600-11eb-93a9-54e9132f39e9.png)

[2021-02-23 18:01] #10105 closed

[2021-02-24 09:02] AlexandraMoga commented on #10074
I've verified this issue on stage and these are my results:
- total ratings count and the breakdown by score are correctly displayed on the add-on detail page
- the Filter by score option from All reviews page is working as expected
- the `/detail/` API call includes the `show_grouped_ratings=true` parameter and there is no longer a separate call to the `/ratings/` API to retrieve grouped ratings

[2021-02-24 11:00] diox opened #10116 "Cache frontend pages for a short period for unauthenticated users"
Similar to https://github.com/mozilla/addons-server/issues/16311 we want to look into caching unauthenticated responses for a few minutes (and serve those cached responses to unauthenticated requests).

We want to use the same general strategy: have `nginx` handle the caching depending on `Cache-Control` header set by the nodejs app.

Main difference is that at the nginx level, we can't use the me

[2021-02-24 11:06] diox commented on #10116
This should be doable via `$cookie_frontend_auth_token` in `proxy_cache_bypass` in the nginx config.

[2021-02-24 11:31] willdurand commented on #10116
IIRC caching causes issues with the client side navigation, which is why cache-control exposes "no-store".

In addition, we serialize the redux store in the html so we should double check that it won't be a problem.

[2021-02-24 11:46] diox commented on #10116
Yeah, both are on my list of things to investigate. Regarding the header, we don't have to have nginx obey `Cache-Control` - we can set a default timeout in the nginx config and/or use a different header and/or ask nginx to ignore `Cache-Control`, so we have some options if we need to keep exposing `no-store`.

I was initially worried about redux store in the HTML but if we only do this for non-au

[2021-02-24 12:34] diox commented on #10116
Original issue about `Cache-Control: no-store`: https://github.com/mozilla/addons-frontend/issues/6217

It's probably safer to leave that alone and use `X-Accel-Expires` (and not doing that if the user is authenticated). That being said, there are other ways yo fix the original issue that led us to use `Cache-Control: no-store`. In fact, it's quite similar to https://github.com/mozilla/addons-fron

[2021-02-24 14:04] diox opened #10117 "Ignore `platform` in files returned by the API"
https://github.com/mozilla/addons-server/issues/16466 will remove the `platform` field from the API. Since there are now only one file per version since https://github.com/mozilla/addons-server/issues/16464, frontend should just pick the first file and ignore `platform` information.

(Note: we may make further API changes in the future like exposing `file` instead of `files` or completely merging

[2021-02-24 14:50] willdurand opened #10118 "Print Node version in Circle CI"
It'd be useful to know which Node version we're packaging when building
a docker image. This issue is about doing that.

[2021-02-24 15:06] #8777 closed

[2021-02-24 15:08] willdurand commented on #3730
cc @diox

[2021-02-24 15:10] #10118 closed

[2021-02-24 15:52] bobsilverberg opened #10120 "Update to the latest Flow and fix all the types-first errors"
In order to update to the latest Flow a large number of changes are required, many of which can be applied automatically via a codemode, but after applying that a number of new errors are reported. Both I and Luca spent some time working on this and we can now produce a patch that addresses all of them.

[2021-02-24 20:07] bobsilverberg opened #10121 "Consider making clientApp and lang a string with a default value of ''"
As discussed on Slack, there is an issue with our Flow types for `clientApp` and `lang`, which are stored in the `api` state. This has come to light with the patch for https://github.com/mozilla/addons-frontend/issues/10120. Here's a brief explanation:

In many components, we use `clientApp` and/or `lang`, the value for which we get from the `api` state. These are provided to the component via the

[2021-02-25 01:08] moz-hwine opened #10123 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 3](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1097047/https_everywhere-107-an+fx.xpi (302 Fou

[2021-02-25 17:23] willdurand commented on #10100
@ghostwords the server could decide to serve the right download url sometimes

[2021-02-25 17:24] willdurand commented on #10100
this bug should be fixed now, please let us now if there are still issues.

[2021-02-25 18:48] ghostwords commented on #10100
Looks good, thank you!

[2021-02-26 01:11] #10123 closed

[2021-02-26 01:11] moz-hwine commented on #10123
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-02-26 10:20] eviljeff commented on #10095
#10125 for screenshots of the change (looks fine to me on my laptop)

[2021-02-26 15:13] bobsilverberg opened #10127 "Update logic for ShowMoreCard to determine when it needs to reset"
This issue was discovered when we attempted to remove `connect()` from `PermissionsCard` and found that it created an infinite loop for the `ShowMoreCard`. Upon investigation it appears that the issue is that the logic that determines when we need to reset the UIState for `ShowMoreCard` is flawed, and will create an infinite loop as the content is truncated and then expanded over and over again. T

[2021-02-26 15:24] #10121 closed

[2021-02-27 01:09] moz-hwine opened #10130 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 2](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1093477/stealthy-5.2.3-an+fx.xpi (302 Found)

This

[2021-02-27 01:18] moz-hwine opened #10131 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 12](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/sl/android/search/ (429)
 * https://addons.mozilla.org/sq/android/search/ (429)
 * https://addons.mozilla.org/te/firefox/search/ (429)
 * https://addons.mozilla.org/te/a

[2021-02-28 01:10] moz-hwine commented on #10130
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-02-28 01:10] #10130 closed

[2021-02-28 01:19] #10131 closed

[2021-02-28 01:19] moz-hwine commented on #10131
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-01 01:09] moz-hwine opened #10135 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 5](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1094527/tab_notifier_autoapproval-9.0.9-an+fx.x

[2021-03-01 09:33] decembre commented on #9133
An old and inexplicable "problem".....
I always don't understand why this function was broken.
And why these suggestions are not implemented now...

No time to solve them?:
But someone take the time to broke it.

[2021-03-01 10:57] #10095 closed

[2021-03-01 11:41] diox commented on #10116
Regarding Redux Store, the only 2 differences between unauthenticated requests are:
- `api.requestId`; Do we even still need this? Note that we discussed [removing Sentry integration for addons-frontend](https://github.com/mozilla/addons-frontend/issues/10028). If we were to keep it, then we could generate a new one on the client-side when the page is loaded, if non-authenticated.
- `errors: { "<P

[2021-03-01 11:58] diox commented on #10028
@bobsilverberg do you have a different opinion on this ?

[2021-03-01 13:20] bobsilverberg commented on #10028
I do not have a different opinion. I have used Sentry almost never, so I don't believe it is particularly valuable. Having said that, I see there's a conversation being had on Slack right now that seems to suggest we might need to do it to do some research into 500s. Are there any other tools or monitors that we have that will give us insight into 500s from the frontend node server?

[2021-03-01 13:36] bobsilverberg commented on #10116
I agree that neither of these should be an issue. For `api.requestId`, this is populated from the `amo-request-id` header. Is it possible that that can be a different, unique value for each request, even if they are being served from cache, or is that not possible? As you indicate, we might not even need it anymore, but I'm still curious.

[2021-03-01 13:45] #10127 closed

[2021-03-01 13:59] bobsilverberg opened #10138 "Wrapping issue with "Flagged" notice in AddonReviewCard"
I noticed this when testing https://github.com/mozilla/addons-frontend/pull/10137. After flagging a review, the "Flagged" notice is wrapping. Here's an example from dev:

<img width="863" alt="Screen Shot 2021-03-01 at 8 58 41 AM" src="https://user-images.githubusercontent.com/142755/109507111-61c09600-7a6c-11eb-9677-d09c380a9bb2.png">

[2021-03-01 15:37] AlexandraMoga commented on #10138
@bobsilverberg there was another issue opened for this - https://github.com/mozilla/addons-frontend/issues/9446
Maybe we should close that one and keep the current issue only.

[2021-03-01 15:41] ioanarusiczki commented on #10095
@eviljeff

Looking in comparison the same themes on dev and then stage on homepage:
- size has been reduced from 55.6KB to 33.71 for the [Moon Cat](https://addons-dev.allizom.org/en-US/firefox/addon/the-moon-cat-recommended/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=featured)
- the version previews dimensions are 501px × 64px from 720px × 92px
- visually I don't see a change of

[2021-03-01 15:44] ioanarusiczki commented on #10121
@bobsilverberg I verified on AMO -dev the frontend, switched to other languages and between platforms but I did not find issues.
However, we'll check the frontend at this week's release testing once again.

[2021-03-01 16:19] bobsilverberg commented on #10138
Thanks @AlexandraMoga. I must really be getting old, as I am the one who opened that other issue! Yeah, I'll close that one.

[2021-03-01 16:19] bobsilverberg commented on #9446
Now a duplicate of #10138

[2021-03-01 16:19] #9446 closed

[2021-03-01 16:59] bobsilverberg opened #10140 "Investigate rewriting tests that use mapStateToProps"
As part of https://github.com/mozilla/addons-frontend/issues/10120, `mapStateToProps` was no longer exported from most components. There are a few tests, however, that use `mapStateToProps` and will therefore fail if we stop exporting it from those components being tested. This means there are a number of components that still export `mapStateToProps`. We should look at all of these tests and see

[2021-03-02 01:11] moz-hwine commented on #10135
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-02 01:11] #10135 closed

[2021-03-02 10:09] willdurand commented on #10116
mmm why would this be related to Sentry?

[2021-03-02 11:31] #10117 closed

[2021-03-02 11:34] diox commented on #10117
QA: make sure detail page and installing add-ons still work (both by navigating to detail page directly from URL or from homepage/search and following a link to one of the add-ons being displayed)

[2021-03-02 11:34] diox commented on #10127
@bobsilverberg can you add QA instructions for this ?

[2021-03-02 12:10] bobsilverberg commented on #10127
Done!

[2021-03-02 12:11] diox commented on #10116
If the response is coming from cache, the redux store has already been generated in that response we're serving, so even if nginx somehow altered the cached response every time it's serving it the request id in the HTML would be wrong. We're back to having to re-generate one client-side.

In my mind the request id was mostly useful to correlate error tracebacks. But I guess it's for logging in gen

[2021-03-02 16:26] #9554 closed

[2021-03-02 17:21] jvillalobos commented on #10069
We discussed this offline and decided that:
1) There's value in indexing category pages as specified in this issue.
2) We'll look into more dynamic and scalable auto-curated content as a followup, probably bringing back the old tags feature in some capacity. We'll file separate issues when that comes up.

[2021-03-02 19:51] willdurand opened #10145 "Replace Photoswipe react library"
The lib we're using isn't maintained anymore and we shouldn't be using it anyway for (legal) reasons.

For QA: this affects the screenshots area on add-on detail pages but there shouldn't be any obvious regression.

[2021-03-03 01:09] moz-hwine opened #10148 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 4](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1094203/trackmenot-0.10.5-an+fx.xpi (302 Found)

[2021-03-03 01:18] moz-hwine opened #10149 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 9](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/nl/firefox/search/ (429)
 * https://addons.mozilla.org/pl/firefox/search/ (429)
 * https://addons.mozilla.org/pt-BR/firefox/search/ (429)
 * https://addons.mozilla.org/pt

[2021-03-03 08:30] willdurand opened #10150 "Disable verbose webpack output"
We pass `--stats verbose` to webpack, which produces a LOT of unnecessary logs.
Let's remove this option, that will reduce the amount of logs and make the
output more readable.

[2021-03-03 08:34] willdurand commented on #10028
We have logs that are kinda useful.

[2021-03-03 08:39] ioanarusiczki commented on #9554
@willdurand Does the issue require qa? Please add some str.
Thanks!

[2021-03-03 08:44] #9659 closed

[2021-03-03 08:44] #10145 closed

[2021-03-03 10:15] #10150 closed

[2021-03-03 11:58] ioanarusiczki commented on #10117
@diox I tested addon and theme installs with FF86 Unbranded on -dev yesterday and a couple more today on AMO stage.

The only issue noticed is an edge case scenario:
1. from about:profiles I restart the browser with add-ons disabled (the top right grey button)
2. I go to a detail page and try to install an add-on or theme
3. if I check in about:addons - the addon or theme is in disabled state

Thi

[2021-03-03 13:00] bobsilverberg commented on #10117
@ioanarusiczki I don't quite follow your description of the problem. At which step is there a problem, and what exactly is the problem. When I complete steps 1-3 on prod I see the same results you document above.

[2021-03-03 14:25] ioanarusiczki commented on #10127
@bobsilverberg I verified this on AMO stage with FF86(Win10):
- description and developer comments display content as before (nothing unusual noticed) and I don't remember them being expandable - all text is shown no matter of the length.
- a review, version notes, permissions show the content edited in dev hub - they display the "Read More" button which expands the text in case it's longer. A pag

[2021-03-03 15:16] diox commented on #10116
Looking at it more deeply... AFAIK it's only useful for server-side logging and sentry. So if we remove the Sentry integration then we should be OK ?

[2021-03-03 16:44] willdurand opened #10152 "Lots of errors in the build script (production build)"
This is similar to https://github.com/mozilla/addons-frontend/issues/9554. Actually, https://github.com/mozilla/addons-frontend/issues/9554 was mentioning CI and therefore "production build" but we've seen similar errors in dev build outputs, too and that has been fixed.

This issue is about understanding why we still have errors related to SCSS files when making production builds.

[2021-03-04 01:09] #10148 closed

[2021-03-04 01:09] moz-hwine commented on #10148
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-04 01:18] moz-hwine commented on #10149
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-04 01:18] #10149 closed

[2021-03-04 13:22] ioanarusiczki commented on #10117
@bobsilverberg

Sorry, I forgot to mention that this behavior it's on prod too.

I've asked around and I turned to the conclusion that what I described might just be the expected: after restarting with add-ons disabled in safe mode, if I try to install a new addon - this is installed directly into disabled state.

The name of the button is a bit ambiguous, so I first thought that at restart I shou

[2021-03-04 14:52] diox commented on #10116
Ops bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1696432

[2021-03-04 16:55] bobsilverberg commented on #10117
Yes, this is the expected behaviour.

[2021-03-04 17:02] willdurand commented on #10116
We discussed this issue on Matrix:

`requestId` is used for both Sentry and logs, we're getting rid of Sentry but we'll keep `requestId` to correlate logs. The `requestId` is only used for the node server logs and we don't pass it to the API requests issued from either the server or client side. In other words, it's fine to keep the `requestId` serialized in the HTML that is going to be cached bec

[2021-03-04 17:32] #10107 closed

[2021-03-04 17:32] bobsilverberg commented on #10069
@jvillalobos Now that we're making this an actual Category page, as opposed to a Search Results page, we can give it a custom title. The title is currently just "Search results". I was thinking "{CategoryName} extensions|themes". What do you think?

Also, we need to retrieve the category name via an API call, so there is a point at which we don't know the category name, although that all happens o

[2021-03-04 17:37] willdurand commented on #4610
I think we can close this issue, we don't handle multiple platforms anymore.

[2021-03-04 17:37] #4610 closed

[2021-03-04 17:41] willdurand commented on #10069
Are you talking about a custom _HTML_ title?

[2021-03-04 18:30] bobsilverberg commented on #10069
Yes

[2021-03-04 20:31] jvillalobos commented on #10069
I think "Extensions|Themes in {CategoryName}", which is close to the title on the page.

[2021-03-04 21:20] diox commented on #6192
From duplicate:

[2021-03-05 01:09] moz-hwine opened #10155 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 4](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096551/docwrite_wup-3.0-an+fx.xpi (302 Found)
 *

[2021-03-05 07:21] landryb commented on #4610
can confirm that, using the search field in about:extensions on OpenBSD properly opens valid search results on AMO.

[2021-03-05 16:53] grahamperrin commented on #4610
For what it's worth, I haven't noticed any issue with everyday use of Firefox on FreeBSD `13.0-CURRENT` or `14.0-CURRENT`.

I **do** see `platform=Linux` in the URL, however it very quickly appears to redirect.

[2021-03-05 17:00] #8737 closed

[2021-03-05 17:00] #9568 closed

[2021-03-06 01:10] #10155 closed

[2021-03-06 01:10] moz-hwine commented on #10155
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-06 01:20] moz-hwine opened #10158 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 9](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/sl/android/search/ (429)
 * https://addons.mozilla.org/sq/firefox/search/ (429)
 * https://addons.mozilla.org/sv-SE/firefox/search/ (429)
 * https://addons.mozilla.org/th

[2021-03-08 01:09] moz-hwine opened #10160 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 2](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1095895/ublock_origin-1.18-fx.xpi (302 Found)

[2021-03-08 01:19] #10158 closed

[2021-03-08 01:19] moz-hwine commented on #10158
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-08 10:48] diox commented on #10116
That wouldn't be cached since it's a 404 (we'd only cache 20x, 30x responses)

Both shouldn't be an issue: We already `Vary` on `User-Agent` and `regionCode` should be part of the cache key on nginx side.

What are the cookies used for that ? We could have the cache key depend on that.

[2021-03-08 11:04] willdurand commented on #10116
The cookie depends on the survey (IIRC) and it was used to remember when a user dismissed the message.

[2021-03-08 15:21] ioanarusiczki commented on #10145
@willdurand Looks good to me on AMO dev with FF86(Win10).

[2021-03-08 17:23] jvillalobos opened #10163 "Replace log in button with plain link"
A really large number of users visit AMO and log in (which creates an AMO account if you don't have one) but don't appear to use the account in any way. It's possible that people think they need to log in, and the button's prominence encourages them to do so.

Let's change the button on the top right corner of AMO pages to a link. The position and copy should stay the same: `Register or Log In`.

[2021-03-08 17:25] championshuttler commented on #10163
@siddhi523 you might find this a good bug to start with :), good luck

[2021-03-08 17:25] championshuttler commented on #10163
@siddhi523 you might find this a good bug to start with :), good luck

[2021-03-08 17:35] siddhi523 commented on #10163
thanks, can you assign it to me @jvillalobos ?

[2021-03-08 17:45] caitmuenster commented on #10163
Hey @siddhi523, once you open a PR, we'll assign you to the issue. :)

[2021-03-08 17:49] diox commented on #10116
Ok, so we should just be careful in the future, ensuring any new code that depends on cookies (or state in general if it's coming from the server side) works correctly with caching.

[2021-03-08 19:58] bobsilverberg opened #10164 "Bundle dependency updates for `stylelint` and `stylelint-config-standard`"
See https://github.com/mozilla/addons-frontend/pull/10159#issuecomment-793010441 for details and rationale.

[2021-03-08 20:39] willdurand opened #10166 "Remove SurveyNotice in AppBanner"
Let's remove `SurveyNotice` in `AppBanner`. We don't use this component and it
gets included in the final bundle. This won't have a massive impact but it's
useless.

[2021-03-08 20:55] bobsilverberg opened #10168 "Remove Hero and HeroSection components and heroBanners reducer"
These are leftover from an old version of the home page. We can remove them.

[2021-03-08 20:58] #10164 closed

[2021-03-09 09:17] willdurand opened #10171 "Exclude IE in `browserslist`"
The default browserslist config supports IE but we don't really need to so let's drop support for IE (not Edge).

[2021-03-09 10:14] #10166 closed

[2021-03-09 11:21] diox opened #10173 "CSP errors are thrown when loading detail page"
### Describe the problem and steps to reproduce it:

- Go to an add-on detail page directly (not by navigating from elsewhere on the site)

### What happened?

- Look at your console: there are CSP errors thrown

### What did you expect to happen?

- No CSP errors

### Anything else we should know?

10 CSP errors are reported. I suspect this is caused by the grouped ratings (5 x 2, probably becaus

[2021-03-09 12:39] ioanarusiczki commented on #10028
@eviljeff At a quick check over the frontend pages and features I did not find anything unusual.
Verified on AMO dev - FF86(Win10).

[2021-03-09 12:46] bobsilverberg commented on #10173
The problem is in `RatingsByStar`, which defines an inline style for a div.

[2021-03-09 13:41] #10171 closed

[2021-03-09 14:03] #10168 closed

[2021-03-09 14:32] #10173 closed

[2021-03-09 14:33] willdurand commented on #6192
See: https://github.com/mozilla/addons-frontend/issues/10171

[2021-03-09 14:36] willdurand commented on #10111
As of March 9, 2021 the CSS bundle size is 63KB gzipped

[2021-03-09 15:37] willdurand opened #10175 "Decrease bundlesize threshold"
In #10171, we reduced the size of the JS bundle. Let's update our threshold
accordingly to avoid regressions.

[2021-03-09 15:44] willdurand opened #10177 "Remove SurveyNotice and related code"
We removed a reference to the `SurveyNotice` component in #10166 but we didn't
remove the component itself (miscommunication). Let's remove all code related to
this component as we aren't using it.

[2021-03-09 15:46] #10175 closed

[2021-03-09 16:33] willdurand opened #10179 "Remove dependency on html-entities"
We use the `html-entities` library to fix #4375 but this is a rather big dependency (in terms of size).

I am wondering (1) if we can find a smaller replacement and (2) why this is actually needed (it does not seem to be a problem for other user contents like user descriptions).

[2021-03-09 17:04] willdurand commented on #10179
For (2), the reason is described in https://github.com/mozilla/addons-server/issues/7648

[2021-03-09 17:09] #10138 closed

[2021-03-09 18:00] Verdi commented on #10040
We should be using Metropolis and Inter. Those screenshots above look fine except for the footer. Looks like Inter will need to be adjusted there.

[2021-03-09 20:07] #10177 closed

[2021-03-09 20:51] willdurand commented on #10111
I think this is all we need to do once we have HTTP/2. In the meantime, I think 63KB is good enough.

[2021-03-09 20:53] willdurand commented on #6192
As of March 9, 2021, the JS bundle size is 385KB.

[2021-03-09 20:54] willdurand commented on #6192
I identified a kinda big dependency (especially given that it's only used once) in #10179. I am not sure what else we can do.

[2021-03-10 01:11] #10160 closed

[2021-03-10 01:11] moz-hwine commented on #10160
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-10 01:22] moz-hwine opened #10182 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 12](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/ru/firefox/search/ (429)
 * https://addons.mozilla.org/ru/android/search/ (429)
 * https://addons.mozilla.org/sk/firefox/search/ (429)
 * https://addons.mozilla.org/sk/a

[2021-03-10 11:31] ioanarusiczki commented on #10173
@bobsilverberg

I verified AMO dev and stage - 204 are no longer generated in the Network at page refresh or when "View Product Page" is clicked from dev hub.

[2021-03-10 13:23] ioanarusiczki opened #10183 "500 server error on the detail pages with Chrome/Edge"
1. Visit a detail page on AMO dev or AMO stage with Chrome/Edge. I used the latest builds
from their settings :
Version 89.0.774.48 (Official build) (64-bit) Microsoft Edge
Version 89.0.4389.82 (Official Build) (64-bit) Chrome

Expected result:
The pages load without errors

Actual result:
500 server error

I did not reproduce it on AMO prod.
Also reproducible on 32-bit Windows.

![detail pages](h

[2021-03-10 13:23] ioanarusiczki commented on #10171
@willdurand
- IE <=11 does not support AMO, there are all kind of visual issues.
- I'm noticing with the latest Microsoft Edge and Chrome official builds (64-bit Windows) that AMO dev and stage addon detail pages return a 500 server error - which is not reproducible with prod so this seems to be a regression (don't know which issue caused) so I filed it https://github.com/mozilla/addons-frontend/i

[2021-03-10 13:31] bobsilverberg commented on #10183
I'll see if I can reproduce and if I can track down the issue.

[2021-03-10 13:40] bobsilverberg commented on #10183
It looks like it's a problem coming from the `base64url` package. I'll check if we've updated that recently.

[2021-03-10 13:40] AlexandraMoga opened #10184 "'Flag' label has wrapping issues on mobile view"
### Describe the problem and steps to reproduce it:

1. Open AMO on mobile
2. Navigate to All reviews page for an add-on
3. Tap on the 'Flag' option

### What happened?
The label is wrapped

### What did you expect to happen?
The Flag label should not be wrapped

### Anything else we should know?
The issue is reproducible on all AMO servers, so its not new

![R10jlphQQ1](https://user-images.github

[2021-03-10 13:41] AlexandraMoga commented on #10138
This issue is verified fixed on stage, Win10 and Android 10:

[desktop]
![image](https://user-images.githubusercontent.com/31961530/110637947-a1972400-81b6-11eb-8584-0cfb69b94b55.png)

[mobile]
![image](https://user-images.githubusercontent.com/31961530/110637798-790f2a00-81b6-11eb-97a0-04e3ac416164.png)

@bobsilverberg I've noticed another wrapping issue with the 'Flag' label on mobile view, but

[2021-03-10 13:48] willdurand commented on #10171
@ioanarusiczki how does it look like with AMO -prod?

[2021-03-10 13:48] bobsilverberg commented on #10183
We didn't update it directly, but its lockfile entry was changed via the Webpack upgrade (https://github.com/mozilla/addons-frontend/commit/f40fe6262dfb61789e319c1e859e67df5254f5fa).

[2021-03-10 13:48] willdurand commented on #10183
This looks like a node-only package.

[2021-03-10 13:50] bobsilverberg commented on #10183
Why would this be causing a problem now? The problem is absent on prod. Is it related to Webpack?

[2021-03-10 13:51] willdurand commented on #10183
probably because the browserslist update removed a node polyfill that was working in the browser

[2021-03-10 13:51] eviljeff commented on #10040
Inter (with `font-weight: 400` applied, like protocol footers appear to have):

![Screen Shot 2021-03-11 at 13 48 09-fullpage](https://user-images.githubusercontent.com/768592/110639400-95f03100-81a7-11eb-81b0-26dfac7c968a.png)

[2021-03-10 13:51] bobsilverberg commented on #10183
I notice the stack trace includes `react-dom.development.js`. Is it that we are using that in dev and stage but not in prod? I wonder if possibly this problem has been around for more that just this release?

[2021-03-10 13:52] willdurand commented on #10183
I think we should use something like: https://github.com/blakeembrey/universal-base64url

[2021-03-10 13:53] bobsilverberg commented on #10183
I can try that.

[2021-03-10 13:54] willdurand commented on #10183
That is.. weird.

[2021-03-10 13:57] willdurand commented on #10183
Note: I think the problem occurs on non-FF browsers because the base64 lib is used for the RTAMO feature.

[2021-03-10 14:24] ioanarusiczki commented on #10171
@willdurand

IE - loads the content on dev/stage

![testing on IE](https://user-images.githubusercontent.com/33448286/110643637-f9d12480-81bc-11eb-8c79-b185c5ce54ed.png)

[2021-03-10 15:00] willdurand commented on #10171
@ioanarusiczki and prod looks the same on IE?

[2021-03-10 15:10] #10183 closed

[2021-03-10 15:27] ioanarusiczki commented on #10171
@willdurand yes, looks similar to me

![similar](https://user-images.githubusercontent.com/33448286/110653386-de1e4c00-81c5-11eb-8f0f-68ea053a2015.gif)

[2021-03-10 15:32] willdurand commented on #10171
@ioanarusiczki fantastic, thanks. So I guess we didn't really regress, which is good.

[2021-03-10 15:41] willdurand commented on #10184
Thanks for the issue, I was going to report it as well.

[2021-03-10 15:44] willdurand commented on #10183
could you please test the rtamo feature if that's possible?

[2021-03-10 15:46] willdurand commented on #10183
@ioanarusiczki  could you please test the rtamo feature if that's possible?

[2021-03-10 15:56] #10120 closed

[2021-03-10 16:14] willdurand commented on #10094
Would you have an idea of how much that would lower LCP?

[2021-03-10 17:13] willdurand opened #10186 "Add a check for the CSS bundle size"
We'd like to have something like `bundlesize` but for the CSS bundle.

[2021-03-10 18:11] championshuttler commented on #10184
I was facing it on desktop as well

[2021-03-10 18:27] eviljeff commented on #10094
I was speaking theoretically.  But from using Google's lighthouse tool, 0.2s - I found it very difficult to get accurate numbers locally though (YMMV)

[2021-03-10 18:33] championshuttler commented on #10184
Still Able to reproduce after latest git pull on desktop:

![image](https://user-images.githubusercontent.com/22130317/110678798-b5fe0f80-81fc-11eb-9c2e-3b7f7d858e5c.png)

[2021-03-10 19:10] championshuttler commented on #10184
Ohh can we use `word-wrap: normal;` for this @willdurand ? :p,

[2021-03-11 01:09] moz-hwine opened #10187 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 3](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096551/docwrite_wup-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1094614/bitwarden_free_password_manager-1.33.5-fx.xpi (302

[2021-03-11 01:19] moz-hwine commented on #10182
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-11 01:19] #10182 closed

[2021-03-11 07:43] AlexandraMoga commented on #10184
FWIW I can't reproduce the issue on desktop (by desktop I mean normal view, not mobile view in responsive design mode). I'm on a Win10 machine.

![image](https://user-images.githubusercontent.com/31961530/110752633-34cf6880-824e-11eb-9921-0c19897da62c.png)

[2021-03-11 09:07] championshuttler commented on #10184
I am on macOS bigSur, tested in Firefox Desktop and Brave, still facing this

[2021-03-11 10:52] diox commented on #10094
I would imagine it can get wildly different depending on the page, too - some previews are much larger than others currently. Still, a potential 200ms gain on LCP is worth doing if there are no adverse effects.

[2021-03-11 10:59] eviljeff commented on #10094
fwiw I was testing with `addon/video-downloadhelper/` on addons-dev - it has more than 3 screenshots.

[2021-03-11 11:59] eviljeff commented on #10094
As for thumbnail dimensions, we have a similar mismatch to theme previews displayed in shelves - the css fixes the height for the Thumbnail at 200px (`.ScreenShots-image { height: 200px}` via `$image-height`) but addons-server renders the thumbnail at up to 640x480 - i.e. even taking into account retina displays the image is too big (see mozilla/addons-server#9487 & mozilla/addons-server#10069 - i

[2021-03-11 13:16] diox commented on #10094
IMHO we should add `loading=lazy` and use similar logic you implemented for the themes preview: ensure frontend is always using the thumbnail for, well, the thumbnail (and full size image for when user clicks on it). Then play with format, size, quality in addons-server in a separate issue.

[2021-03-11 13:19] bobsilverberg opened #10188 "Update experiment code to deal with anonymous page caching"
Because experiments rely on cookies, we need to make sure that our anonymous page caching scheme doesn't interfere with the running of experiments, and vice versa.

Some things to consider:
1. We need the correct cookie to be sent for each user in the experiment.
2. Ideally we should be able to cache a page for an experiment user (as opposed to disabling caching for anyone enrolled in an experimen

[2021-03-11 13:29] ioanarusiczki commented on #10183
- the detail pages are displayed without errors with Edge and Chrome on -dev and -stage testing servers.

- I tested rtamo on -dev and - stage with the following steps using Windows Sandbox:
1. Opened Windows Sandbox and using the Edge browser I opened a detailed page on -dev and -stage -> the addon is recommended
2. I tapped on “Only with Firefox - Get Firefox Now”  and installed FF release from

[2021-03-11 13:54] eviljeff commented on #10094
assuming we don't plan to increase the thumbnail size to 240px any time soon then there's only `loading=lazy` to add - thumbnails are already correctly loaded vs. full size.

[2021-03-11 14:05] willdurand commented on #10188
semi related: https://github.com/mozilla/addons-frontend/issues/9137

[2021-03-11 14:08] diox commented on #10188
Looks like you've summarized everything we discussed. For reference the issue about frontend caching is https://github.com/mozilla/addons-frontend/issues/10116

[2021-03-11 14:41] eviljeff commented on #10094
filed addons-server#16717 for server-side work

[2021-03-11 14:59] bobsilverberg commented on #9137
@willdurand further to https://github.com/mozilla/addons-frontend/issues/10188#issuecomment-796759761, this issue is about enforcing a naming pattern, but we also need to enforce uniqueness, which may be implied by this issue, but not explicitly called out.

This is also a discussion there of keeping a record of these ids forever, whereas now we delete them. Are you in favour of keeping them forev

[2021-03-11 15:00] willdurand commented on #9137
well, the proposed pattern is to use a date, which is a fairly unique. Why would we keep record of ids, though? That does not seem very useful or needed.

[2021-03-11 15:13] ioanarusiczki commented on #10107
@willdurand Verified on AMO stage - FF86(Win10).

[2021-03-11 15:15] ioanarusiczki commented on #10166
@willdurand Looks good to me.
Verified on AMO stage - FF86(Win10).

[2021-03-11 16:45] #10094 closed

[2021-03-11 18:04] bobsilverberg commented on #9137
It's to ensure uniqueness. Our test can check the pattern, but it won't do anything with a specific date, so it's theoretically possible that someone could add an experiment to the file with a date that was used in the past. I know this seems unlikely, but this type of user error is not impossible. I guess it would have to get past a code review, which would likely catch it though. I'm just trying

[2021-03-11 20:30] willdurand commented on #9137
Given the number of times we run experiments, I think we can start without such a complicated setup and revisit it later.

[2021-03-12 01:08] #10187 closed

[2021-03-12 01:08] moz-hwine commented on #10187
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-12 12:23] willdurand opened #10191 "Update docs for running a production build locally"
The README has a section to build and run (production) builds. Let's update it
to explain how to run production builds locally.

[2021-03-12 13:28] ioanarusiczki commented on #10094
@eviljeff
When the detail page loads for an addon with screenshot viewer images:

the loading-lazy attribute is present for all the uploaded images:

![loading lazy](https://user-images.githubusercontent.com/33448286/110945747-c0c4bb80-8346-11eb-9add-61b8303f0f85.png)

In the Network, I can see `lazy-img` as the Initiator for the images displayed (if 6 are visible from 8 without scrolling to the r

[2021-03-12 13:56] #10040 closed

[2021-03-12 17:26] #10191 closed

[2021-03-12 17:30] willdurand opened #10193 "Investigate the datadogMiddleware timings because they look wrong"
We send statsd metrics _via_ a "datadog" middleware that uses [response-time](http://expressjs.com/en/resources/middleware/response-time.html) and we have a dashboard [here](https://earthangel-b40313e5.influxcloud.net/d/amo-frontend-server/amo-frontend-server?orgId=1).

The problem is that the node server timings seem wrong because they are all under 100ms and that doesn't seem possible given that

[2021-03-12 17:38] #10116 closed

[2021-03-12 18:01] willdurand opened #10194 "Investigate long initial connection problems"
When running various tools like Lighthouse (locally) or PageSpeed Insight, we noticed very long initial connections and that's a problem because it makes the site less fast than it should. If we take a big site like airbnb.com, which returns pretty much the same amount of HTML (gzipped or not), it loads _a lot_ faster than AMO and there is no long initial connection.

We don't know the root cause(

[2021-03-13 01:09] moz-hwine opened #10197 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 4](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096597/duckey_mallarse_donflyfis-1.0-an+fx.xpi

[2021-03-14 01:20] moz-hwine opened #10200 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 7](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/sl/android/search/ (429)
 * https://addons.mozilla.org/sq/firefox/search/ (429)
 * https://addons.mozilla.org/ur/firefox/search/ (429)
 * https://addons.mozilla.org/vi/an

[2021-03-15 12:44] willdurand opened #10201 "Some content in the footer is hard to read"
### Describe the problem and steps to reproduce it:

1. Go to https://addons-dev.allizom.org/en-US/firefox/
2. Scroll down to see the footer

### What happened?

The content at the bottom (`Except where otherwise noted [...]`) is hard to read: it's too thin.

### What did you expect to happen?

It's easily readable.

### Anything else we should know?

Let's remove `font-weight: lighter` in `Footer

[2021-03-15 14:49] ioanarusiczki commented on #10040
@eviljeff

1. With a fresh profile - when I load the homepage there's only one `woff2` file loaded on AMO dev - compared to AMO stage where there are 6 requests with `font` as initiator.
Let me know if that's alright.

![only one woff](https://user-images.githubusercontent.com/33448286/111170009-2796de80-85ac-11eb-9a48-926b2ee99b5c.png)

2. All frontend pages have Inter Var as `font-family`.

In 2

[2021-03-15 16:06] caitmuenster commented on #10163
Hey @siddhi523, are you still interested in this? It turns out we have a deadline on this bug and need to start moving on it in the next week. If you're not able to do it, no worries at all -- there are other good first bugs without deadlines.

[2021-03-15 16:42] eviljeff commented on #10040
@ioanarusiczki #10201 has been filed about the footer text (the header seems fine)

[2021-03-15 16:47] willdurand opened #10202 "Add some logs to the response time middleware (datadog)"
In order to better understand what is happening for https://github.com/mozilla/addons-frontend/issues/10193, we should log the response time.

For QA: there shouldn't be any noticeable impact.

[2021-03-15 17:15] willdurand opened #10206 "Use webpack's contenthash instead of chunkhash for better long-term caching"
From the webpack docs:

We should update our webpack config to use `contenthash` instead of `chunkhash`
given that the content hash approach is more useful than what we currently have.

[2021-03-15 17:51] #10186 closed

[2021-03-15 19:45] #10202 closed

[2021-03-15 19:48] willdurand commented on #10193
With https://github.com/mozilla/addons-frontend/issues/10202, we'll be able to debug the middleware hopefully.

[2021-03-15 20:11] willdurand commented on #10194
I did some tests and used airbnb.com as the baseline (to ignore my local/Internet connection settings):

- DNS resolution looks okay
- connecting to an AMO server (TCP established) is slower (20-100ms for Airbnb, 180-200ms for AMO)
- SSL handshake is quite slow: > 500ms for AMO compared to 60-100ms for Airbnb
- Time To First Byte on AMO for cold requests is slow (1s) but quite decent for subsequen

[2021-03-15 22:05] championshuttler commented on #10052
Apparently it should be closed , @willdurand can you take care of this thanks

[2021-03-16 01:10] #10197 closed

[2021-03-16 01:10] moz-hwine commented on #10197
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-16 01:19] moz-hwine commented on #10200
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-16 01:19] #10200 closed

[2021-03-16 02:14] tublitzed opened #10212 "Broken "Add-ons developers mailing list" link"
### Describe the problem and steps to reproduce it:
Looks like there is a broken link on [this page](https://addons.mozilla.org/en-US/developers/) in the social banner above the footer (titled 'connect with us') - the `Add-ons developers mailing list` links to a list that doesn't exist [here](https://mail.mozilla.org/listinfo/dev-addons).

### What happened?

Dead link.

### What did you expect to

[2021-03-16 02:15] caitmuenster commented on #10212
Thanks Rachel!

@muffinresearch, can you move this over to the Extension Workshop repo?

[2021-03-16 03:11] caitmuenster commented on #10212
I just deleted my previous comment. :) It looks like we solved this on Extension Workshop by swapping out "Add-on Developers Mailing List" for "Community Forum."

<img width="724" alt="Screen Shot 2021-03-15 at 8 04 13 PM" src="https://user-images.githubusercontent.com/23342476/111250262-44daa580-85ca-11eb-8c95-c2eadf48dd14.png">

The "Community Forum" should link to `https://discourse.mozilla.org

[2021-03-16 07:15] #10052 closed

[2021-03-16 08:43] willdurand opened #10213 "Add env to statsd prefix"
Now that we are not using Datadog anymore, the concept of _tags_ is gone. This
is a problem because our statsd prefix is not unique. With Datadog's tags we
could have data _per_ environment but it's not possible in InfluxDB/Grafana
anymore so we need to make the statsd prefix by adding the environment to it
(similar to what we do in addons-server).

[2021-03-16 08:54] willdurand opened #10215 "Update statsd config (var names)"
Our statsd config refers to "datadog" but we aren't using DD anymore. Let's update our config to use "statsd" instead. This requires some ops work too and some coordination, see: https://bugzilla.mozilla.org/show_bug.cgi?id=1698729

[2021-03-16 10:26] AlexandraMoga opened #10216 "The new font is not very readable in non-Firefox browsers"
Follow up for #10040

### Describe the problem and steps to reproduce it:
1. Load AMO -dev in a non-Firefox browser - an add-on detail page is the best example for this case (example: https://addons-dev.allizom.org/en-US/firefox/addon/terms-of-service-didn-t-read/)
2. Try to read the various sections present on the detail page - focus on the 12px text particularly (see add-on description, permissi

[2021-03-16 11:03] #10201 closed

[2021-03-16 12:04] diox commented on #10194
https://github.com/mozilla/addons-frontend/issues/10116 should help there

[2021-03-16 12:09] bobsilverberg opened #10217 "Change download button to include "with add-on name""
There is a suggestion that the Download Firefox button, which currently says "Only with Firefox — Get Firefox Now", be changed to say "Download Firefox with {add-on name}". Some issues to discuss:

- Should we still say "with {add-on name}" if the add-on does not support RTAMO?
	- We do not currently know (based on the API response) if an add-on is supported.
	- We hope to support more/most add-on

[2021-03-16 12:34] bobsilverberg commented on #10194
Results from Canada (average of 5 executions):

[code]

[2021-03-16 12:36] rik commented on #10194
I think your biggest issue here is the OCSP verification because of an EV certificate used for addons.mozilla.org.

[WebPageTest run showing the issue](https://www.webpagetest.org/result/210316_AiYB_a3aa88a06fc317434822abb97784b7de/2/details/)
![Screenshot Safari WebPageTest Test Details - London  addons addonepubreader - 031621 120956 2021-03-16 at 12 31 26](https://user-images.githubusercontent.

[2021-03-16 13:02] bobsilverberg opened #10218 "Experiment design for new Download Firefox CTA"
We plan to conduct an experiment for the new Download Firefox CTA. Here are some assumptions/issues.

Assumptions:
- The experiment will compare the current UX with one single variation of the new UX.
- The experiment will be focused on the rate at which the Download Firefox CTA is clicked.
- The experiment will evaluate the final conversion rate (actual Firefox downloads) of the new CTA vs the ex

[2021-03-16 13:05] AlexandraMoga commented on #10116
@diox I'm trying to verify this issue on -dev but there are some things I need to clarify:
- I'm looking at requests in the dev tools console and I've noticed that the `X-Cache-Status` response header is present now in loaded documents  (i.e. homepage (https://addons-dev.allizom.org/en-US/firefox/), landing pages (https://addons-dev.allizom.org/en-US/firefox/extensions/), etc.);
- the `X-Cache-Sta

[2021-03-16 14:10] #10213 closed

[2021-03-16 14:23] willdurand opened #10219 "Generate bundles in a sub-directory"
This is related to https://bugzilla.mozilla.org/show_bug.cgi?id=1501687.

We'd like to generate the JS/CSS bundles in a sub-directory, e.g., `static/`,
which would result in a `dist/` folder with a single `static/` folder, and the
latter should contain the JS/CSS files.

For QA: it should not change anything.

[2021-03-16 14:26] willdurand opened #10220 "Update CSP once we use a sub-folder"
After https://github.com/mozilla/addons-frontend/issues/10219 and is verified, we should update the CSP config.

[2021-03-16 14:38] tublitzed opened #10223 "Link to archived "Developer Policies" should point to updated content."
### Describe the problem and steps to reproduce it:
In the sitewide footer, we have a link to "Developer Policies" that points to this [archived page](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/AMO/Policy) - guessing there's an updated policy location to link to?

### What happened?
Link went to archived page.

### What did you expect to happen?
Link goes to current page :)

### Anyt

[2021-03-16 14:59] #9137 closed

[2021-03-16 15:11] ioanarusiczki commented on #10201
@willdurand I verified on FF86, Chrome, Edge and Android - footer looks good, font-weight:lighter has been removed.

Before:
![footer on dev](https://user-images.githubusercontent.com/33448286/111332524-8d519c00-867a-11eb-91cc-47667fb0d19b.png)

Now:
![footer on dev now](https://user-images.githubusercontent.com/33448286/111332561-9478aa00-867a-11eb-8484-1895f5be0beb.png)

[2021-03-16 15:16] willdurand commented on #10216
I don't think it's super readable on FF either but I am not sure that it's not because it's a new font and my eyes are used to the previous one. Maybe with time, we'll think it's fine? I agree the "Download file" link looks almost invisible on the screenshots above, though.

[2021-03-16 15:28] willdurand commented on #10216
We think that https://github.com/mozilla/addons-frontend/issues/9078 could help here.

[2021-03-16 15:30] willdurand commented on #9078
Thanks to @muffinresearch for mentioning this link: https://mozilla.design/firefox/typography/.

[2021-03-16 15:33] ioanarusiczki commented on #10120
@bobsilverberg Please add some str for qa.
Thanks!

[2021-03-16 15:41] willdurand opened #10222 "Flash of content before Inter font gets loaded"
### Describe the problem and steps to reproduce it:

1. Load https://addons-dev.allizom.org/en-US/firefox/ (use hard reload)

### What happened?

There is a flash of content because the text size changes.

Jorge described it as:

### What did you expect to happen?

No flash of content.

### Anything else we should know?

@eviljeff said:

[2021-03-16 16:08] #10069 closed

[2021-03-16 16:12] diox commented on #10116
Yes, there is definitely a problem there, I am seeing this too and don't know what's going on yet. This shouldn't negatively impact stage or prod (the caching isn't enabled there anyway).

[2021-03-16 16:18] #10206 closed

[2021-03-16 16:48] #10222 closed

[2021-03-16 16:54] willdurand commented on #9078
Marking as p2 because the new font (Inter) is a bit hard to read with the current font sizes.

[2021-03-16 17:00] jvillalobos commented on #10218
Agreed on the assumptions.

The expected increase is detailed in the [spec doc](https://docs.google.com/document/d/1Hw1ETpXCu6ZlpVGm8aQ9XW-U8cJBUiCvHD33PqT-Wvw/edit#), under section 2.1 ("Increase conversion rate of non-Firefox users"). I hesitate on publishing the actual numbers here, so I'm playing it safe.

I think we can use `utm_campaign` for this purpose. Currently we use `non-fx-button` as

[2021-03-16 18:00] bobsilverberg commented on #10120
Sorry @ioanarusiczki. I updated the description.

[2021-03-16 21:25] bobsilverberg commented on #9996
@jvillalobos | @devaneymoz When an admin is defining a homepage shelf, they can optionally provide a footer pathname, which will override the default. This will be the destination for the link on the shelf that usually says "See more {shelf type}". We can build a default link for collections and for shelves based on search criteria, but there is also an option to override this.

What sorts of valu

[2021-03-16 21:37] jvillalobos commented on #9996
I think the most likely targets will be posts in the new editorial area or collections, so it should be okay not to support external URLs for now.

[2021-03-17 01:21] moz-hwine opened #10227 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 5](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/en-US/firefox/search/?category=abstract&sort=recommended%2Cusers&type=statictheme (429)
 * https://addons.mozilla.org/en-US/firefox/search/?category=nature&sort=recommend

[2021-03-17 07:25] willdurand opened #10228 ""Find add-ons" notice on Android"
### Describe the problem and steps to reproduce it:

1. Go to https://addons-dev.allizom.org/en-US/android/addon/bubbles-for-mozilla-appr/versions/?utm_content=featured&utm_medium=referral&utm_source=addons.mozilla.org

### What happened?

There is a notice about add-ons compatible with Firefox for Android.

### What did you expect to happen?

No notice? I am on the Android site already so I don't

[2021-03-17 07:56] willdurand opened #10229 "Update statsd keys in responseTime middleware"
We need more specific statsd keys in the `responseTime` middleware because measuring time of all `GET` requests also includes redirects, and those requests are super fast. Telegraf (the collector on the servers) aggregates statsd metrics before sending them to InfluxDB/Grafana, and the combination of both is likely why we see rather low timings for AMO -prod.

By splitting the different timing met

[2021-03-17 07:59] willdurand commented on #10193
So I can now understand what's happening: all response times are captured but timings are aggregated by HTTP method only. This is a problem because redirects are `GET` requests and we have a middleware for redirects that skips most of our code, which makes those redirects super fast. In addition, we have Telegraf (the collector on the node servers) that aggregates the data before sending them to I

[2021-03-17 08:56] ioanarusiczki commented on #10222
@willdurand I tested on AMO dev and stage - FF86, Chrome and Edge, refreshing pages with Ctrl+Shift + R or Ctrl+F5 (Win10)I don't see any visual issue, the letters reappear without being thinner, it's just like before the hard reload.

[2021-03-17 08:59] ioanarusiczki commented on #10206
@willdurand If qa can check on this, let me know.

[2021-03-17 09:01] ioanarusiczki commented on #10186
@willdurand For qa, same as for https://github.com/mozilla/addons-frontend/issues/10202 ?

[2021-03-17 09:02] ioanarusiczki commented on #10177
@willdurand Please add some str.

[2021-03-17 10:41] willdurand commented on #10177
@ioanarusiczki added (there is no visible change, it's only deleted code)

[2021-03-17 10:41] willdurand commented on #10186
no need for QA, sorry!

[2021-03-17 10:42] willdurand commented on #10206
@ioanarusiczki added

[2021-03-17 13:46] AlexandraMoga commented on #10069
I've verified the Extensions and Themes (from Themes landing page and from the homepage shelf) on stage and these are my results:
- category pages have a dedicated URL now, for example https://addons.allizom.org/en-US/firefox/extensions/category/bookmarks/ for extensions and https://addons.allizom.org/en-US/firefox/themes/category/holiday/ for themes
- the default sorting remained as before, namel

[2021-03-17 14:07] nodeticswww opened #10231 "WebExtension uploading takes a very long time and eventually fails"
### Describe the problem and steps to reproduce it:

I'm trying to upload a new version of one of our WebExtensions to AMO on page
https://addons.mozilla.org/en-GB/developers/addon/pageprobe/versions/submit/

### What happened?

After selecting the file the upload takes a loooooong time (2-3 minutes, uploading about 20 kB/s) and finally fails with error:

Your add-on failed validation with 1 error

[2021-03-17 14:23] nodeticswww commented on #10231
Now the upload succeeded. Perhaps it was a temporary glitch or someone managed to fix it quickly.

[2021-03-17 14:40] #10229 closed

[2021-03-17 14:58] AlexandraMoga commented on #10206
I've navigated through our frontend pages and they were all loaded without any layout issues. I've also looked in the console for  css and js files and there were no errors reported.

I'm marking this issue as verified fixed on stage.

[2021-03-17 15:01] bobsilverberg commented on #10228
The doc that describes the various versions of the notice can be found here: https://docs.google.com/spreadsheets/d/1rqPj5NXPNE9EPDuIPy8AjMxs5k0BBic9c_c7WGjGhWs/edit?usp=sharing, and I believe the above notice is correct, assuming this add-on is not available on Fenix.

[2021-03-17 15:06] AlexandraMoga commented on #10177
I've checked our frontend pages on stage and I did not find issues.

I'm marking this issue as verified fixed on stage.

[2021-03-17 15:14] #10219 closed

[2021-03-17 15:30] bobsilverberg commented on #10218
Thanks @jvillalobos

Can you define exactly what we mean by "conversion rate of non-Firefox users on AMO"? Is this just measuring click-through, or does it also take into account whether the user actually downloads Firefox from mozilla.org? I want to make sure we are recording the correct data to allow us to measure the impact on this metric.

I checked the existing data on GA for mozilla.org and

[2021-03-17 15:35] bobsilverberg commented on #10228
That is line 3 of the spreadhseet that I shared, which indicates that this notice is wanted. I believe the general idea is that a user on Fenix cannot find an add-on to install from any of these locations, and therefore are directed back to the main `android` home page which is the only place guaranteed to display add-ons that are compatible with Fenix.

[2021-03-17 15:43] willdurand commented on #10228
I've seen that, indeed. I guess I forgot about it and now I find this notice kinda odd as a end user.

[2021-03-17 17:08] championshuttler opened #10232 "Pre-commit hooks does not work on cherry-pick --continue"
Had discussion with Bob that pre-commit hooks does not work when he do `git cherry-pick --continue`. I guess adding post-rewrite in huskyrc should the issue for him

[2021-03-17 17:37] jvillalobos commented on #10218
It means click-through. That's the metric we want to increase. The UTM param changes should allow us to measure actual downloads, in addition to the click-through rate, but that's more in the nice to have territory.

GA allows filtering a UTM param using various options, like "Starts with", "Ends with", and even regular expressions. I think that for our measuring purposes we should be okay. That i

[2021-03-17 18:59] diox commented on #10116
@AlexandraMoga can you retest on dev ? In addition to what you tested, a couple things to look for:
- Make sure geoblocking still works as expected together with caching, both on direct load of a detail page and navigation to the detail page from another page. So doing things like ensuring the detail page is in the cache for a given country, then loading from another where it's supposed to be bloc

[2021-03-18 01:07] moz-hwine opened #10234 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 1](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096551/docwrite_wup-3.0-an+fx.xpi (302 Found)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 * If the fai

[2021-03-18 10:06] #10223 closed

[2021-03-18 14:40] ioanarusiczki commented on #10120
@bobsilverberg Looks good after the release testing on AMO stage with FF86 (Win10 + Android 10.0)

[2021-03-18 14:42] ioanarusiczki commented on #10202
@willdurand Nothing out of ordinary. Looks good. - FF86(Win10).

[2021-03-18 16:27] willdurand commented on #10220
@muffinresearch I implemented the change for the sub-folder in #10219 and it works.

I think we can update the CSP but the `favicon.ico` is at the root directory and we don't control that (i.e. we don't push it and it's not versioning in this repo) 🤔

[2021-03-18 17:08] willdurand opened #10235 "Use `debug` level for log statement in `responseTime` middleware"
We have a `log.info` call that prints the response time of every requests in the logs. We should use `log.debug` once #10193 is resolved.

[2021-03-18 17:59] muffinresearch commented on #10220
So I think one solution to that which would be ok would be to mention that entire path explicitly along with the new directory-based path.

[2021-03-18 19:14] bobsilverberg opened #10236 "Remove FeaturedCollectionCard"
After https://github.com/mozilla/addons-frontend/pull/10065 lands, we will no longer be using [`FeaturedCollectionCard`](https://github.com/mozilla/addons-frontend/tree/master/src/amo/components/FeaturedCollectionCard) in code, so we might as well delete it.

[2021-03-18 19:52] bobsilverberg commented on #9078
Looking at our fonts, and at https://mozilla.design/firefox/typography/, I see we use *a lot* of different font sizes. As I recall, this was done as we were developing different features and UX suggested we tweak sizes, but it means we've ended up with a large number of different font sizes on the site.

Is one of the goals of this issue to reduce the number of sizes we use, and try to standardize

[2021-03-18 20:11] willdurand commented on #9078
Yes, that would be nice.

Yes

[2021-03-19 01:18] #10227 closed

[2021-03-19 01:18] moz-hwine commented on #10227
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-19 12:02] bobsilverberg commented on #9078
Having looked at our default font sizes, and compared them to the design guide, I've found that our body font sizes are somewhat close to the spec, but one step smaller:

- Our medium size (`$font-size-m`) is 16px, which is the same as the guide's "Body MD", but it really represents our larger body font size.
- We have a medium-smaller size (`$font-size-m-smaller`) which is 14px. This is the same

[2021-03-19 12:14] bobsilverberg commented on #9078
Some screenshots:

<details>
<summary>Home Page - above the fold:</summary>

Note that many of the elements are the same because they are not using the default font sizes, but rather are using specific font sizes. That's something we should address, but I was thinking we might start with the default sizes for now.

Before:
![Screen Shot 2021-03-20 at 08 01 08](https://user-images.githubusercontent

[2021-03-19 12:40] ioanarusiczki commented on #10223
@eviljeff This is fixed on AMO dev - FF86(Win10).

I think that this should be fixed for the dev hub - footer section too so I filed on server https://github.com/mozilla/addons-server/issues/16787

[2021-03-19 12:50] bobsilverberg commented on #9078
@mozilla/addons-engineering @jvillalobos I have added some screenshots of a number of pages showing the difference with only bumping up the default font sizes to match the design doc, plus one extra fix for the "Download file" button. Please take a look when you have a chance and let me know what you think.

We may want to try pushing these changes for now, or we may want to take some extra time t

[2021-03-19 14:13] jvillalobos commented on #9078
This all looks good to me and I'm favor of shipping it. @verdi, can you confirm?

[2021-03-19 14:14] AlexandraMoga commented on #10116
@diox I've retested the frontend caching on -dev and these are the results I have:

 - the `X-Cache-Status` response header seems to indicate that caching is working now and will take the following values:
    - `BYPASS` for authenticated requests
    - `MISS` when a document is being loaded for the first time (unauthenticated requests)
    - `HIT` on subsequent document reloads, until the cache e

[2021-03-19 14:21] ioanarusiczki commented on #10219
@willdurand

I did some testing on the frontend and I didn't find anything unusual.

Verified on AMO dev - FF86(Win10).

[2021-03-19 15:43] willdurand commented on #9078
Can you clarify this part? It'd be nice to not have too many font sizes anymore.

[2021-03-19 15:44] willdurand commented on #10116
This is for client-side caching so I think that's expected?

[2021-03-19 22:36] #8259 closed

[2021-03-20 01:18] moz-hwine opened #10243 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 8](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/ms/android/search/ (429)
 * https://addons.mozilla.org/mt/firefox/search/ (429)
 * https://addons.mozilla.org/nb-NO/firefox/search/ (429)
 * https://addons.mozilla.org/nb

[2021-03-21 01:10] moz-hwine commented on #10234
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-21 01:10] #10234 closed

[2021-03-21 01:19] #10243 closed

[2021-03-21 01:19] moz-hwine commented on #10243
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-22 01:21] moz-hwine opened #10244 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 12](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/ru/firefox/search/ (429)
 * https://addons.mozilla.org/th/firefox/search/ (429)
 * https://addons.mozilla.org/tr/firefox/search/ (429)
 * https://addons.mozilla.org/uk/f

[2021-03-22 04:51] NegiAkash890 commented on #10236
Hi @bobsilverberg can I work on this issue?

[2021-03-22 09:34] willdurand commented on #10193
It looks like the middleware (now called `responseTime`) is correct. When ssh'ing a frontend server and querying the node server directly, the timings look good: when using [httpstat](https://github.com/reorx/httpstat), we get the same timings in the logs (or in Grafana) and in the "server processing" section of `httpstat`.

That being said, there is a significant difference when we reproduce this

[2021-03-22 09:34] #10193 closed

[2021-03-22 09:54] eviljeff opened #10246 "optimize page load for theme search results"
the page theme search results - and now the category pages too - show 25 theme preview images, which block the page fully loading.  If we specify `loading=lazy` the off-screen images won't block and should reduce LCP (potentially)

[2021-03-22 10:16] diox commented on #10116
Yep, that all seems OK.

[2021-03-22 10:57] #10220 closed

[2021-03-22 13:26] ioanarusiczki opened #10249 "Resize the themes on homepage shelves"
As discussed : https://github.com/mozilla/addons-server/issues/16704#issuecomment-802880932

STR:
1. Load the homepage with only 2 themes available on a shelf - the recommended shelf

![olny 2 themes available](https://user-images.githubusercontent.com/33448286/111996093-58ce5c00-8b22-11eb-8c12-1cc25f1a2ca5.png)

Expected result:
Themes should always be displayed at ~370x48 (as they are in the the

[2021-03-22 13:37] #10235 closed

[2021-03-22 13:40] bobsilverberg commented on #10236
@NegiAkash890 You may, but note that this change cannot land until the PR at #10065 lands, so it probably makes sense to wait for that, otherwise you'll end up with some failing tests.

[2021-03-22 13:50] willdurand commented on #10194
I filed a bug for the cert: https://bugzilla.mozilla.org/show_bug.cgi?id=1700098

[2021-03-22 13:59] bobsilverberg commented on #9078
There are a couple of parts to this:

1. We have some other font size variables defined in `vars.scss` (e.g., `$font-size-form-header`, `$font-size-puffy-buttons`, `$font-size-hero-m`, etc.).
2. There are explicit font-sizes in a number of components' scss files (e.g., `.Footer-links-header` has `font-size: 16px;` in `Footer/styles.scss`).

I will file a follow-up to look into these are try to rem

[2021-03-22 14:13] bobsilverberg opened #10250 "Try to reduce the number of font-sizes used by AMO"
This is a follow-up to https://github.com/mozilla/addons-frontend/issues/9078.

We are using a number of different font-sizes on AMO, over and above the defaults defined at https://github.com/mozilla/addons-frontend/blob/2021.03.18-1/src/amo/css/inc/vars.scss#L26-L33.

There are a couple of parts to this:

1. We have some other font size variables defined in `vars.scss` (e.g., `$font-size-form-hea

[2021-03-22 14:21] bobsilverberg opened #10251 "Implement default line-heights to correspond with our default font-sizes"
This is a follow-up to https://github.com/mozilla/addons-frontend/issues/9078.

The design guide at https://mozilla.design/firefox/typography/ specifies not only a font-size for each category (e.g., Heading - M, Body LG), but also a line-height. We currently only specify one default line-height, which has been updated to use the recommended line height for Body MD, which is also our default font-s

[2021-03-22 14:32] Verdi commented on #9078
@bobsilverberg Looks good - let's do it.

[2021-03-22 14:35] #9078 closed

[2021-03-22 15:09] bobsilverberg opened #10252 "Create callouts for the new Download Firefox button CTAs"
For the experiment, the new CTAs will include callouts, which are elements which point to the existing buttons and draw the user's attention to them, from the Figma file at https://www.figma.com/file/7FnxRoHYpyEfMOIfob423s/Non-Firefox-Download?node-id=136%3A0:

![Screen Shot 2021-03-22 at 11 07 59 AM](https://user-images.githubusercontent.com/142755/112011719-e9934080-8afe-11eb-9815-f098a826dc8c.p

[2021-03-22 16:17] jvillalobos opened #10253 "Compatibility message for iOS users is incorrect on non-listing pages"
If you open the AMO homepage on iOS, you get this message: "This add-on is not compatible with this browser. Try installing it on Firefox for desktopn". It looks like we should have a different message for non-listing pages. It looks like it wasn't specified as part of https://github.com/mozilla/addons-frontend/issues/9177, so how about something like:

"Add-ons are not compatible with this Firefo

[2021-03-22 16:19] bobsilverberg commented on #10253
Should that be "Add-ons are not compatible with Firefox for iOS." as opposed to "Add-ons are not compatible with *this* Firefox for iOS."?

[2021-03-22 16:36] bobsilverberg commented on #10252
Some screenshots of what I have so far for the Add-on Detail Page button:

<details>
<summary>Large screen</summary>

Supports RTAMO:
![Screen Shot 2021-03-22 at 12 29 55 PM](https://user-images.githubusercontent.com/142755/112024206-56600800-8b0a-11eb-8d93-9968edfae45e.png)

Does not support RTAMO:
![Screen Shot 2021-03-22 at 12 27 23 PM](https://user-images.githubusercontent.com/142755/112024101

[2021-03-22 16:36] bobsilverberg commented on #10252
@jvillalobos @verdi and anyone else interested, I have added some screenshots of the callout above.

[2021-03-22 16:44] #10215 closed

[2021-03-22 17:11] bobsilverberg commented on #10252
For the Download Firefox button in the header, at a larger screen sizes, the spec includes this:

![Screen Shot 2021-03-22 at 1 10 22 PM](https://user-images.githubusercontent.com/142755/112029789-fcfad780-8b0f-11eb-8c36-ae47c5132e24.png)

@verdi should I infer from that that the callout + download button are meant to be centered in the space that is available between the left side of the page and

[2021-03-22 17:20] willdurand commented on #10252
During a meeting, I think I heard about this button/banner being left-aligned with the menu below (Explore)

[2021-03-22 20:02] #10184 closed

[2021-03-22 20:27] bobsilverberg opened #10254 "Navigation links wrap at different screen resolutions"
This is something I noticed when working on https://github.com/mozilla/addons-frontend/issues/10252, and is a regression from https://github.com/mozilla/addons-frontend/issues/9078 (I believe).

When we bumped up our fonts we ended up with a situation where our navigation links wrap at particular screen resolutions. This is because our current layout is based on certain breakpoints, and those are

[2021-03-22 20:42] willdurand commented on #10254
It is already like that on -prod, so this does not seem to be a new regression. I checked both 500px and 900px wide.

I don't think we should do that. Instead, we should fix our layout to have more space when screen width is small-ish.

[2021-03-22 20:50] bobsilverberg commented on #10254
Oh, wow, I didn't check that. I wonder if that was a result of last week's patch moving to Inter, or if it was around even before that.

Well, I am wondering where these breakpoints came from, and if they are still accurate today. I suppose that is a separate issue. I can tell you that when working on https://github.com/mozilla/addons-frontend/issues/10252 I came up with a number of instances wher

[2021-03-22 21:14] bobsilverberg commented on #10254
@willdurand FWIW, I was able to fix up the `extraLarge` layout by providing less space for the search box, which I think is fine:

Before:
![Screen Shot 2021-03-22 at 5 07 20 PM](https://user-images.githubusercontent.com/142755/112058533-17917880-8b31-11eb-8af6-b972dcc26867.png)

After:
![Screen Shot 2021-03-22 at 5 06 31 PM](https://user-images.githubusercontent.com/142755/112058443-fa5caa00-8b30

[2021-03-22 21:18] willdurand commented on #10254
Probably before that.

That's my point. I think these breakpoints work rather well, except for that menu, but this is more a bug than a problem with the breakpoints.

I think we should aim to fix this bug without changing the breakpoints. I suppose we could do a few changes to the layout, e.g., reducing the width of the search bar at ~500px (medium) or keep the default (i.e. small) view for medium

[2021-03-22 21:21] willdurand commented on #10254
I wanted to add that there is no rush. It's not a new regression, if it's fixed in 10 days, that will be fine.

[2021-03-22 21:22] willdurand commented on #10254
I didn't see this while I was typing the comment, this looks quite nice. For `medium`, I suppose as soon as we get a slightly larger width like `510` or `520px`, it's already better? If so, I think it's acceptable.

[2021-03-22 21:24] bobsilverberg commented on #10254
I'm not convinced that it wasn't a regression from last week's push, and if it is then I think we can consider it a new regression. In any case, I think we should fix it ASAP.

[2021-03-22 21:31] willdurand commented on #10254
Based on our discussion on Matrix, this seems to be a regression caused by this patch: https://github.com/mozilla/addons-frontend/pull/9440

[2021-03-22 21:45] willdurand commented on #10254
We also found https://github.com/mozilla/addons-frontend/issues/3955, which is kinda similar to what we get at ~500px once #9440 is reverted. Looks like a old bug between `500px` and `510px`.

[2021-03-22 22:32] Verdi commented on #10254
I think making the search bar smaller is fine. It's seems like it works acceptably down to 150px wide.

[2021-03-23 01:11] moz-hwine opened #10256 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 3](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1097049/facebook_container-65535.0.0.1-an+fx.xpi (

[2021-03-23 14:46] bobsilverberg opened #10258 "Problem with the "Register or Log in" button at 900px in German"
I discovered this when working on #10254. The "Register or Log in" gets bumped down to a new line at `900px` in German. Doing a bit more testing, this seems to only be a problem from `900px` - `904px`, and fixes itself at `905px`, so I guess it's not much of an issue. I imagine we could find problems like these at boundaries in a number of different languages, so perhaps this should just be a wont

[2021-03-23 15:02] AlexandraMoga commented on #10184
This issue is verified fixed on dev:

![image](https://user-images.githubusercontent.com/31961530/112167836-715d7580-8bf9-11eb-999c-e2f8ffb41552.png)

[2021-03-23 15:04] bobsilverberg commented on #10252
@verdi / @jvillalobos The callout text for the button in the header says "You'll need Firefox to use these extensions and themes", and there is also an example with a smaller screen that just says "You'll need Firefox to use these extensions". Is the assumption that, if the user is visiting the mobile site, we would use the latter text, because themes are not currently supported on mobile?

[2021-03-23 15:38] ioanarusiczki commented on #9078
@bobsilverberg
- it looks good yet can't tell if it cannot look better:

this was before - the "y", "g" look truncated a bit but the menu is aligned:

![before](https://user-images.githubusercontent.com/33448286/112167443-20e61800-8bf9-11eb-821a-0c010a1b87a2.png)

now the user name seems to stand a bit higher:

![now](https://user-images.githubusercontent.com/33448286/112167829-6f93b200-8bf9-11eb-

[2021-03-23 16:23] bobsilverberg opened #10259 "Hide Workshop and DevHub links for non-Firefox users"
As discussed in a meeting today, to make space for the new Download Firefox CTA, hide the links to Extension Workshop and Developer Hub for non-Firefox users.

This is only needed with the new CTA, which will be experimental to begin with, but our hopes are that it will have an impact and therefore be adopted. For this reason, I think we can implement this change now, as opposed to just for the ex

[2021-03-23 16:58] bobsilverberg opened #10260 "Revert change to default line-height, and use 1.2 instead"
This contributed to a number of minor UX glitches, as reported at https://github.com/mozilla/addons-frontend/issues/9078#issuecomment-805006220.

[2021-03-23 17:02] bobsilverberg commented on #10260
This addresses the following issues discussed at https://github.com/mozilla/addons-frontend/issues/9078#issuecomment-805006220:

this was before - the "y", "g" look truncated a bit but the menu is aligned:

![before](https://user-images.githubusercontent.com/33448286/112167443-20e61800-8bf9-11eb-821a-0c010a1b87a2.png)

now the user name seems to stand a bit higher:

![now](https://user-images.gith

[2021-03-23 17:08] jvillalobos commented on #10253
"Add-ons are not compatible with Firefox for iOS.", yes.

[2021-03-23 17:09] bobsilverberg commented on #9078
Thanks for checking it out @ioanarusiczki! My replies below...

I can't reproduce this issue with "y" and "g" locally. Is this only with the old version or also with the new one?

This should be fixed via https://github.com/mozilla/addons-frontend/issues/10260

We should fix this. Can you include it in a new issue? I think the ones that aren't fixed by https://github.com/mozilla/addons-frontend/is

[2021-03-23 17:21] jvillalobos commented on #10259
I'm okay with making this change now, with the observation that we will still have footer links for both, so those users will still have a way to reach those sites.

[2021-03-23 17:25] jvillalobos commented on #10252
I know localization introduces a lot of variability, but maybe the yellow bubble should at least be as wide as the button, so they line up in many cases.

I don't know if that was the original assumption behind it, but it makes sense to me, and it's also shorter.

[2021-03-23 17:31] #10260 closed

[2021-03-23 17:32] jvillalobos commented on #10258
This can be impacted by https://github.com/mozilla/addons-frontend/issues/10163, assuming that changes its width. That said, what's the expected behavior? Everything on a single line, or the EW and DevHub links going away so everything else fits in a single line?

[2021-03-23 17:49] willdurand commented on #10260
For the future AMO team: we use `1.2` because it's roughly equivalent to what we were using before, except that we were using a value in... pixels, which we tried to avoid. We should preferably set `line-height` using a unitless value.

[2021-03-23 19:47] bobsilverberg commented on #10252
In the smallest view of the samples, there is an issue: The "Download Firefox" button has been moved below the "Register or Log in" link. While this looks good with the callout, once a user logs in the "Register or Log in" link becomes a menu. This won't work very well with the "Download Firefox" button below it (the button will be in the way of the menu).

One way to address this, which would act

[2021-03-23 20:04] #10259 closed

[2021-03-23 20:10] jvillalobos commented on #10252
What does this mean? The button will appear on top of menu items?

[2021-03-23 20:21] bobsilverberg commented on #10252
We could make it so that the menu appears over top of the button, when it's opened, but I still think that's a pretty bad experience.

[2021-03-23 22:45] rik opened #10263 "Enable TLS 1.3 to reduce latency"
addons.mozilla.org [does not support TLS 1.3](https://www.wormly.com/test_ssl/h/addons.mozilla.org/i/34.210.16.75/p/443). TLS 1.3 handshake only needs one round trip when TLS 1.2 requires two. Enabling this would therefore reduce Time To First Byte.

This will have less impact than https://github.com/mozilla/addons-frontend/issues/10194#issuecomment-800222271. But it would be still be quite notice

[2021-03-23 22:50] jvillalobos commented on #10252
What's the bad experience? That the opened menu will cover the button? That doesn't seem to justify hiding the CTA for many users. Note that we know lots of users log in to the site for no discernible reason, so we don't really know if they're even Firefox users.

[2021-03-23 23:39] diox commented on #10263
Command line STR:
`% curl -s --tlsv1.3 https://addons.mozilla.org/ -I -v`

Expected:
A bunch of info about the connection then HTTP headers are returned

Actual:
A handshake failure is returned

[2021-03-24 01:09] #10256 closed

[2021-03-24 01:09] moz-hwine commented on #10256
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-24 01:19] moz-hwine commented on #10244
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-24 01:19] #10244 closed

[2021-03-24 01:21] bobsilverberg commented on #10258
I'm not sure what the expectation is, that's why I asked. 😉

As mentioned above, we can likely find lots of these cases where things don't quite fit near a breakpoint in different languages, so I'm not sure it's something we should even try to fix, or we might end up with a never ending game of whack-a-mole.

[2021-03-24 08:21] ioanarusiczki opened #10264 "Some layout issues should be fixed as a result of increased font size"
Some layout issues should be fixed as a result of increasing the font-size, it was discussed in https://github.com/mozilla/addons-frontend/issues/9078#issuecomment-805075678

1. The Register or Log in - seems to stand a bit higher than EW and Dev Hub in the header - font-size at 11px

Before increasing the font sizes:

![log out before](https://user-images.githubusercontent.com/33448286/112276329-

[2021-03-24 08:28] ioanarusiczki commented on #9078
@bobsilverberg
- the "y" and "g" used for the display name was an issue on the old version (with the 12px font-size) but it needs to be re-checked after https://github.com/mozilla/addons-frontend/issues/10260 lands.

- "Any" does not look bad anymore but "Badging" is a bit too close to the line:
![badging2](https://user-images.githubusercontent.com/33448286/112278585-ac0fee00-8c8b-11eb-85ad-1d499d

[2021-03-24 08:40] championshuttler commented on #10264
I think first issue will be fixed by #10210, rest needs to be confirmed, I can take a stab once someone confirms it :)

[2021-03-24 12:15] ioanarusiczki commented on #10260
@bobsilverberg

Results on dev or stage - FF87(Win10):

1. I think these look good again:

![collection check mark is fixed](https://user-images.githubusercontent.com/33448286/112307193-534f4e00-8ca9-11eb-8dfb-baf777d3ce2f.png)

![warning messages fixed](https://user-images.githubusercontent.com/33448286/112307211-59452f00-8ca9-11eb-8eef-c7bbfe358989.png)

2. Icons in autocomplete - should be fine

[2021-03-24 12:57] bobsilverberg commented on #10252
I might have not been clear with my intentions. Removing the button for logged-in users was, imo, a last resort. I was thinking more of a different design, but I will try implementing what is suggested here, and we can see how it looks.

[2021-03-24 14:04] rik opened #10266 "Do not lazy load images that are likely to be in the viewport"
When you use `<img loading="lazy">`, browsers need to know the position of that image to determine if it is in the viewport or close enough. The position of an image is only known after the layout phase (also sometimes called render). To compute the layout, they need to have downloaded and parsed all CSS.

Images without a `loading` attribute (or `loading="eager"`) can be downloaded sooner, while

[2021-03-24 15:02] ioanarusiczki commented on #10246
@eviljeff
- loading="lazy" is present for themes displayed in the search results.
- looking to the way they load on some categories on prod versus testing servers - prod seems faster, maybe that's a good indicator.
- looking into the Network , If I navigate to a theme category from the Themes Tab I won't see the presence of the lazy-img as Initiator but they appear when I reload the pages. I hope

[2021-03-24 15:04] diox commented on #10266
Let's remove all lazy loading for this week, and then figure out if it's worth to try to be smarter about this depending on the context and only apply it after x images in the list or something.

[2021-03-24 15:24] ioanarusiczki opened #10267 "Display name is now aligned but the "y" and "g" look truncated"
As a followup for https://github.com/mozilla/addons-frontend/issues/10260#issuecomment-805773442

Display name is now aligned but the "y" and "g" look truncated (similar with what's now in production with font of 12px)

![sample one](https://user-images.githubusercontent.com/33448286/112308226-93630080-8caa-11eb-8236-d0f1f8e4a872.png)

![sample2](https://user-images.githubusercontent.com/33448286/

[2021-03-24 15:42] AlexandraMoga commented on #10264
Adding to what was mentioned above, there are some font size inconsistencies on the language tools page and on the blocked-addon page - i.e. some headers are still at 12px:

[blocked-addon]
![image](https://user-images.githubusercontent.com/31961530/112339290-324a2580-8cc8-11eb-8c60-54779da136e1.png)

[language-tools]
![image](https://user-images.githubusercontent.com/31961530/112339389-47bf4f80-8