[2021-03-24 15:45] AlexandraMoga commented on #10116
I've tested the frontend caching on stage and the it seems to work there as well. The same observations and results mentioned for -dev are valid for stage too.

[2021-03-24 17:04] #10266 closed

[2021-03-24 17:08] diox opened #10269 "Investigate smarter lazy loading for images not immediately visible"
In https://github.com/mozilla/addons-frontend/issues/10266 we disabled lazy loading of images because it seemed to be doing more harm than good - the browsers waited a bit too late before loading images that _were_ visible (and not just the ones that weren't).

So, we're not sure yet if lazy loading is worth pursuing any longer, but if it is, it will have to be smarter. For each page with a bunch

[2021-03-24 17:36] Rob--W opened #10270 "Install button available on Fenix, but not working (confusing UX)"
### Describe the problem and steps to reproduce it:

When an add-on has been marked as compatible with Android (checkbox), then the "Install" button is visually available (dark blue instead of soft blue). When the button is clicked, Fenix opens the recommended add-on list instead of installing the add-on. This seems to only happen with add-ons in the Recommended Extensions program; other add-ons t

[2021-03-24 17:41] bobsilverberg commented on #10163
From a discussion with @verdi:

- Change the link text to "Register or log in" (no uppercase "L")
- Do not include an underline for the "Register or log in" link

[2021-03-24 17:45] jvillalobos commented on #10270
The expected behavior in this case is that all install buttons should be disabled, given the add-on is not part of the "Recommended for Android" group. This includes buttons in the "All Versions" page, which is what's in the STR.

[2021-03-24 17:49] Rob--W commented on #10270
In this STR the button at the install page is not clickable, but according to https://github.com/mozilla-mobile/fenix/issues/18511 (when the last version of the add-on was marked as "compatible with Android").

[2021-03-24 17:53] jvillalobos commented on #10258
German is a pretty important locale, so I'd like to fix this particular glitch (if it continues after the change to a link). What I was getting towards with my previous question is whether we have some kind of spec that explains what things are flexed and removed at what sizes, which dictate what to expect in these situations.

[2021-03-24 18:13] willdurand commented on #10270
We should get rid of all these install butons on the "all versions" page tbh..

[2021-03-24 19:53] jvillalobos commented on #10270
So, let's fix https://github.com/mozilla/addons-frontend/issues/9811 then :)

[2021-03-24 22:33] es20490446e commented on #9383
I think this is important. Also automatically converting the current state of license data into something that could be put in a drop-box should be easy, as all known licenses have predictable text on them.

[2021-03-24 22:47] ssokolow commented on #9383
It depends on how you want to trade off false positives vs. false negatives. GitHub works on this paradigm and I have trouble pleasing [their license detector](https://github.com/licensee/licensee) without using their own pull request generator to add the license.

[2021-03-24 23:45] es20490446e commented on #9383
I mean performing the detection once for the already exiting data, converting them to a more predictable format.

So if there is a missing corner case it can just be manually fixed.

[2021-03-24 23:52] ssokolow commented on #9383
In that case, maybe *use* GitHub's Ruby-based detector as a first past, since, in my experience, it errs on the side of rejecting a license as unrecognized in favour of trustworthy output.

[2021-03-25 01:18] moz-hwine opened #10271 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 11](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/ro/firefox/search/ (429)
 * https://addons.mozilla.org/ru/firefox/search/ (429)
 * https://addons.mozilla.org/sk/firefox/search/ (429)
 * https://addons.mozilla.org/sk/a

[2021-03-25 08:39] ioanarusiczki commented on #10267
On FF( but it looks the same with Chrome) - on Win10- the sort labels are a bit too close to the search filter, maybe a bit of spacing would make it look better

Firefox View

![Firefox View](https://user-images.githubusercontent.com/33448286/112444041-49375900-8d56-11eb-8132-a74c716fd6ac.png)

[2021-03-25 11:04] ioanarusiczki commented on #10266
@diox What's been added to https://github.com/mozilla/addons-frontend/issues/10246#issuecomment-805896637 and https://github.com/mozilla/addons-frontend/issues/10094#issuecomment-797490142 is no longer available.
I verified on AMO dev and stage - FF87(Win10).

[2021-03-25 11:25] ioanarusiczki commented on #10220
@willdurand Looks good to me. Verified on AMO stage - FF87(Win10).

[2021-03-25 12:36] #10254 closed

[2021-03-25 12:52] bobsilverberg commented on #10217
@jvillalobos @Verdi I believe it was decided to drop this, and not include the name of the add-on in the Download Firefox button. Can you please confirm if that is correct?

[2021-03-25 13:45] bobsilverberg commented on #10270
There is a PR currently open for #9811, which will hopefully be ready to land soon. Is that the only change needed for this issue, or is it about something more than that?

[2021-03-25 13:49] bobsilverberg commented on #10258
This is a good question. I have never seen a spec about this. There are some rules in code about what changes position and/or gets hidden at different screen resolutions, but, as far as I know, the reasons for those rules are not documented anywhere. I think we should verify that our current breakpoints actually make sense, as I have been encountering quite a few issues around the breakpoint bouna

[2021-03-25 13:57] bobsilverberg commented on #10264
Some of these should be addressed by https://github.com/mozilla/addons-frontend/issues/10250.

[2021-03-25 13:59] bobsilverberg commented on #9078
This will ideally be addressed via https://github.com/mozilla/addons-frontend/issues/10250

[2021-03-25 15:13] jvillalobos opened #10272 "Stop using UTM params for internal tracking"
In https://github.com/mozilla/addons-frontend/issues/9547 we switched from using the custom `src` param to UTM to track attribution for add-on downloads. It turns out that internal use of UTM can have a negative impact on internal GA data and could also impact search crawlers.

One option is to go back to using `src` for internal links, and another Raphael suggested is to use a `#` fragment instea

[2021-03-25 17:07] jvillalobos commented on #10217
Based on the current state of the designs, that's correct.

[2021-03-25 17:29] bobsilverberg commented on #10272
We should document here all of the reasons that we need UTM params currently. One has to do with Firefox and add-on installs, and @willdurand is going to update the issue with that information.

[2021-03-25 18:26] bobsilverberg commented on #10217
Thanks Jorge. In that case I am closing this issue.

[2021-03-25 18:26] #10217 closed

[2021-03-25 20:37] bobsilverberg commented on #10252
Some new screenshots for the add-on detail page:

Some screenshots of what I have so far for the Add-on Detail Page button:

<details>
<summary>RTAMO version</summary>

ExtraLarge:
![Screen Shot 2021-03-25 at 4 22 28 PM](https://user-images.githubusercontent.com/142755/112539363-4bfe7200-8d87-11eb-880b-0aa88c560b78.png)

Large:
![Screen Shot 2021-03-25 at 4 24 06 PM](https://user-images.githubuser

[2021-03-25 20:44] Rob--W commented on #10270
This issue also happens on the add-on detail page, not just versions, see earlier comment that references the issue on the issue tracker of Fenix.

[2021-03-25 21:07] willdurand commented on #10270
I don't quite get the issue on the add-on detail page. We use the recommended list on AMO to determine whether an add-on can be installed on Fenix, this list and the "Fenix collection" should be the same. The only problem I could see is that, when you uploaded the latest version, the add-on was automatically removed from the recommended list but not immediately from the collection?

The Fenix team

[2021-03-25 21:15] Rob--W commented on #10270
There is the recommended extension program and the Fenix collection. Apparently the install button relies on the recommended extension program (list of recommended add-ons), but it may be out of sync with the Fenix collection.

[2021-03-25 21:24] willdurand commented on #10270
Yeah, that's what I think too, but maybe @diox can confirm that the recommended list is updated automatically (I know the special collection for Fenix isn't). I think we should be more careful about which extensions get "allowed" on Fenix but ultimately this is a Fenix bug because they don't rely on the right tool (i.e. API endpoint).

[2021-03-25 21:38] jvillalobos commented on #10272
1. We use UTM to keep track of external sources linking to AMO. So, if devs are linking to their add-on listing pages, we want them to use UTM so we know how much they contribute to AMO traffic.
2. Those params are passed along to the download URL and are [recorded in telemetry](https://bugzilla.mozilla.org/show_bug.cgi?id=1653020), which is then used to generate the download stats on AMO. It's po

[2021-03-25 21:38] bobsilverberg commented on #10270
What you have both said above is correct. AMO uses the data about the add-on (whether it is recommended for android) to determine if it is available or not. We don't use the collection at all. This is a Fenix issue.

[2021-03-25 21:43] Rob--W commented on #10270
The "recommended for Fenix" part is controlled by the add-on author who is part of the recommended extension program. In contrast, the Fenix collection is curated.

If Fenix still wants to fully curate the list, then it's a bug that the add-on developers can mark their add-on as compatible with Android/Fenix, because that option allows third parties to enable themselves on Fenix.

[2021-03-25 21:45] bobsilverberg commented on #10270
Actually, I think something else is going on. This add-on *is* marked as recommended on android, so something else is making AMO think it is incompatible. I believe it is the fact that the add-on is not marked as compatible with android at all (in its compatibility data, as opposed to its promoted data).

[2021-03-25 21:47] bobsilverberg commented on #10270
Our comments collided 😄

There are actually 2 pieces of metadata in play:

1. Compatibility, which, as you mention, is controlled by the developer.
2. Promoted status, which can only be controlled by us.

An add-on must be both marked as compatible *and* as recommended in order for AMO to see it as available for download on android.

[2021-03-25 21:57] Rob--W commented on #10270
The comment is correct, and your statement is too. I specifically mentioned "add-on author who is part of the recommended extension program". This is controlled by us, but being recommended on desktop should not automatically grant the ability to be enabled on mobile.

Yep. 1 is controlled by add-on authors, from the set of add-ons matching category 2. The bug is that the set of "enabled add-ons o

[2021-03-25 22:02] bobsilverberg commented on #10270
I must provide another correction. 😄

The set of add-ons recommended on desktop is separate from the set recommended on android. We control both sets and they do not necessarily contain the same sets of add-ons.

I'm finding that a bit difficult to parse, but I don't think it's accurate. As mentioned above, there are two distinct sets of recommended add-ons: one for desktop and one for android.

[2021-03-25 22:15] Rob--W commented on #10270
The user from the Fenix bug reported that they observed my add-on in the search results. I didn't see it myself, because I saw the issue only a few days later.

I can also see that the install button of older versions are clickable.

After I unchecked the Compatible for Android option, I can confirm that it's no longer in the search results, and not installable either.

If the sets are separate, I

[2021-03-25 22:29] jvillalobos commented on #10270
Here's where I think we are with this:
* Don't Track Me Google is currently in Recommended for Android.
* It is currently _not_ on the [latest compatibility collection](https://addons.mozilla.org/collections/4757633/7dfae8669acc4312a65e8ba5553036/), unless I'm looking at the wrong one.
* All recent versions except for the latest one are marked as compatible with Android.

As far as I can tell, AMO

[2021-03-25 22:48] devaneymoz commented on #10270
I just adjusted Don't Track Me Google's state in the AMO admin so it should not show as Recommended for Android.

[2021-03-25 23:04] Rob--W commented on #10270
Thanks, that should resolve this issue. I'd rather be able to use the add-on on mobile, but given the limited capacity I understand that it's not always an option.

[2021-03-25 23:04] #10270 closed

[2021-03-26 01:09] moz-hwine opened #10273 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 3](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1094203/trackmenot-0.10.5-an+fx.xpi (302 Found)

[2021-03-26 01:19] moz-hwine commented on #10271
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-26 01:19] #10271 closed

[2021-03-26 08:36] willdurand commented on #10111
I am going to work on our css bundle again now that we have http/2 enabled on the CDNs.

[2021-03-26 11:36] bobsilverberg commented on #10252
Here is the latest mock from @Verdi:

https://firefox.michaelverdi.com/amo-header-info/

[2021-03-26 12:59] AlexandraMoga opened #10274 "Page refresh not triggered when going back from `/android/` to `/firefox/`"
### Describe the problem and steps to reproduce it:
1. Open AMO Homepage - https://addons.mozilla.org/en-US/firefox/
2. From the More... header menu, select Add-ons for Android
3. Once the android page is loaded, use the browser back button to navigate to the previous page
4. Observe the page contents while also looking at the current URL

### What happened?
The previous URL is loaded (i.e. `/fire

[2021-03-26 13:25] AlexandraMoga commented on #10116
Looks like frontend caching is also functional on prod.

[2021-03-26 14:12] bobsilverberg commented on #10274
What is happening is that we do not reset the `clientApp` when the back button is pressed. You will see this same behaviour on any page that you go back to after switching to the `android` site. The home page is in fact being refreshed, but because the `clientApp` is still set to `android` the page looks, and behaves like the android page, even though the URL says `firefox`.

In general, with a cl

[2021-03-26 14:58] willdurand commented on #10274
I am wondering if that can be a recent-ish `history` change. I don't remember anything about the back button triggering client side navigation. I was expecting the back button to either serve the cached html of the previous page or trigger a page refresh.

If this is a common behavior, we probably want to detect a `clientApp` or `lang` change and dispatch the actions accordingly.

[2021-03-26 16:18] bobsilverberg commented on #10274
It doesn't seem we need this for a language change, I suppose because doing a language change in the app results in a reload and not a client-side navigation, so we can only address this for `clientApp` if we want.

@willdurand Does that make sense to you that we'd only do this for `clientApp`, or do you think we should do it for `lang` as well, in case we need it at some point in the future?

[2021-03-26 16:35] jvillalobos commented on #10274
It looks like a valid issue to me. Using the back button should be the equivalent of clicking on the link to change site.

[2021-03-26 16:36] willdurand commented on #10274
I was thinking about the following STR:

1. go to a page
2. change language
3. click the back button

Does that change the content accordingly?

That depends on the STR above. We can certainly start with `clientApp`.

[2021-03-26 16:42] jvillalobos commented on #10252
The screenshots look good to me!

[2021-03-26 16:55] bobsilverberg commented on #10274
Yes it does. I tested that, which led to my comment above.

[2021-03-26 18:54] smayer97 commented on #5813
still needs to be addressed.

[2021-03-27 23:01] willdurand commented on #10272
Some more information about UTM params for **internal** tracking:

- The number of sessions counted increases artificially, because every click on an internal link with UTM parameters results in a new session.
- A conversion can no longer be traced back to the original, external source of the traffic, because the new session uses the source and medium information from the UTM parameters, which mak

[2021-03-29 01:20] moz-hwine opened #10281 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 12](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/ru/firefox/search/ (429)
 * https://addons.mozilla.org/sq/android/search/ (429)
 * https://addons.mozilla.org/sv-SE/firefox/search/ (429)
 * https://addons.mozilla.org/t

[2021-03-29 08:31] willdurand opened #10283 "Add parameter to swap the server side window object with a standard browser window in webpack-common.js"
We use webpack for the client side bundle only but for a different project, I
need to use webpack for creating a node library and I want to reuse our existing
configuration.

In `webpack-common.js`, we need a new parameter like `withBrowserWindow` in
`getPlugins()` to add the `NormalModuleReplacementPlugin` for `amo/window` when
this parameter is `true` (default).

[2021-03-29 08:31] #10111 closed

[2021-03-29 09:06] willdurand opened #10285 "Add prop to Footer component to hide the language picker"
The `Footer` component embeds a `LanguagePicker` by default but for a different
project, I would like to use this `Footer` component without the langpicker.
Let's add a prop to hide it when needed.

[2021-03-29 10:57] ioanarusiczki commented on #10259
@bobsilverberg I verified on AMO dev with Chrome and Edge - Win10

![ew and dev hub removed](https://user-images.githubusercontent.com/33448286/112827220-e4744b00-9042-11eb-846b-44207eb96232.png)

[2021-03-29 11:04] ioanarusiczki commented on #10259
@bobsilverberg this should be with a 08.04.2021 milestone

[2021-03-29 11:18] ioanarusiczki commented on #10254
@bobsilverberg

Verified on AMO dev - FF87(Win10).

![fixed ux issue](https://user-images.githubusercontent.com/33448286/112829216-7a3ac500-9099-11eb-9eb2-4d043f8a6b6a.gif)

[2021-03-29 11:21] ioanarusiczki commented on #10217
@bobsilverberg From what I understand the issue did not bring code and ux changes - could you mark it qa not needed?

[2021-03-29 12:04] ioanarusiczki commented on #10111
@willdurand
- if I use a hard refresh on AMO dev pages - I see a .css file being transferred at 36.03 KB, which currently is ~62 KB on the other testing servers.

![AMO dev](https://user-images.githubusercontent.com/33448286/112833528-86298580-909f-11eb-850f-10e12aa1411f.png)

If there's anything else I should check, let me know.

[2021-03-29 12:59] bobsilverberg commented on #10217
Sorry about that @ioanarusiczki. This was closed with no changes, but I forgot to remove the milestone. I have done that now.

[2021-03-29 14:31] #10283 closed

[2021-03-29 14:33] #10253 closed

[2021-03-29 15:53] kanish671 commented on #10163
I would like to pick this up if no one else is working on it

[2021-03-29 16:17] kanish671 commented on #10163
<img width="468" alt="Screenshot 2021-03-29 at 9 46 25 PM" src="https://user-images.githubusercontent.com/8206856/112867173-3915d580-90d8-11eb-8577-9cfcd143748a.png">
Is this something similar to what it should look like? Should I make the font sizes the same as for the other links?

[2021-03-29 17:48] willdurand commented on #10163
we still need an underline for the hover/active styles, right? (for accessibility/keyboard navigation)

[2021-03-29 19:25] jvillalobos commented on #10163
The EW and DevHub links have no underline nor distinct hover styles, so this one should be consistent with those IMO.

[2021-03-29 23:38] bobsilverberg commented on #10272
Thanks for the info, @willdurand. That seems to confirm what Raphael had told us. You were going to add something specific about what Firefox needs in order to record the correct info in telemetry. My (possibly flawed) understanding from the conversations is that Firefox needs these UTM params to exist on the URL when the add-on is installed. Is that accurate? Is there another way for AMO to pass

[2021-03-30 01:13] #10273 closed

[2021-03-30 01:13] moz-hwine commented on #10273
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-30 01:23] moz-hwine commented on #10281
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-03-30 01:23] #10281 closed

[2021-03-30 07:20] willdurand commented on #10272
Indeed, FF records the UTM parameters present in the URL of the page during the install flow, and they are available in Telemetry _via_ the `install_stats` event. There is currently no other way to pass these UTM params to FF.

[2021-03-30 09:41] #10285 closed

[2021-03-30 10:45] ioanarusiczki commented on #10253
@bobsilverberg I've checked AMO dev on iOS - the new message is available on all pages, which I think it's expected.

![homepage on iOS](https://user-images.githubusercontent.com/33448286/112976889-14fcd780-915e-11eb-97be-0ebaea8ae0a1.jpg)
![the detail page on iOS](https://user-images.githubusercontent.com/33448286/112976911-1c23e580-915e-11eb-857e-e777b44dc678.jpg)

[2021-03-30 10:49] ioanarusiczki opened #10289 "Long strings break the layout of the homepage/detail pages on iOS"
I've noticed that long unbroken strings for addon names don't look good - on FF for iOS

![looks truncated on iOS](https://user-images.githubusercontent.com/33448286/112977236-7a50c880-915e-11eb-97f8-5b19e1572413.jpg)

![detail page on iOS](https://user-images.githubusercontent.com/33448286/112977253-7e7ce600-915e-11eb-86ac-088f8730e266.jpg)

[2021-03-30 10:50] ioanarusiczki commented on #10253
@bobsilverberg I filed a UX issue on iOS
https://github.com/mozilla/addons-frontend/issues/10289

[2021-03-30 10:53] diox commented on #3730
Blast from the past ! This looks interesting to try out. We determined that it was better to do this via the header, but any reason why we wouldn't set the header from the nodejs app ?

[2021-03-30 11:10] diox commented on #3730
Note: I haven't tested it in Firefox, but https://bugzilla.mozilla.org/show_bug.cgi?id=1543990 claims it broke at some point - maybe just the HTML tag, not necessarily the header too. But even if it only benefits Chrome it's likely worth having.

[2021-03-30 12:12] willdurand commented on #3730
Maybe because the nginx config removes some of the headers?

[2021-03-30 12:17] ioanarusiczki commented on #10285
@willdurand The footer of the page does not seem to be affected (URLs, changing language, layout).
If there's anything else I should look at, let me know.

[2021-03-30 12:42] diox commented on #3730
I suspect this was just for our convenience (at the expense of ops). I think I'd rather have this in the app, then we could be smarter about it in the future, and we can re-use our settings without having to hardcode things in the nginx config.

[2021-03-30 12:57] bobsilverberg commented on #10272
I'll see if I can test whether us adding the URL params to the page *after* the navigation has happened will still create a new session. If it will not, then perhaps that's something we can do for now, but also investigate changing Firefox so we can provide that data in another manner.

[2021-03-30 13:16] willdurand commented on #3730
Yes, in the past we didn't really support headers in our app but now we do so if `preconnect` can be set in our app, :+1:

[2021-03-30 13:33] diox commented on #10263
TLS 1.3 isn't supported by AWS ELB/ALB at the moment. We'll get it once we switch away from that, but it's a long-term thing, wontfxing for now.

[2021-03-30 13:33] #10263 closed

[2021-03-30 14:05] diox opened #10290 "Investigate splitting fonts by unicode range"
https://github.com/mozilla/addons-frontend/issues/10040 had us switch to Inter and use variable fonts. For most pages, we load a single variable font that has all characters at all the weights we need, and if italics are used on the page, we load a second one for that.

Both fonts are around 230 KB. Maybe we could split them by unicode blocks as well: on most pages in many locales, we only need to

[2021-03-30 14:45] diox opened #10291 "Investigate improvements around nginx cache key"
The frontend pages are now cached by nginx following https://github.com/mozilla/addons-frontend/issues/10116.

We added `$http_user_agent` to the cache key in https://bugzilla.mozilla.org/show_bug.cgi?id=1701649, because we have the `userAgent` in the redux state, and use that to show different banners/download buttons to non-Firefox users. Even just for Firefox itself, we need our pages to distin

[2021-03-30 14:57] bobsilverberg commented on #10291
Note that we also discussed adding the contents of the experiments cookie to the cache key, in order to allow experiments to work with caching. See https://github.com/mozilla/addons-frontend/issues/10188 for details.

[2021-03-30 15:10] bobsilverberg commented on #10188
Note that we also need to open a bugzilla ticket for ops to add the cookie to the cache key. From Slack:

"that can be a bugzilla ticket for ops giving the exact change to make to the cache key (adding $cookie_<cookie_name> to proxy_cache_key in the frontendamo config)"

[2021-03-30 15:29] willdurand opened #10293 "Create `addons-frontend-blog-utils` library"
We need a library for addons-blog that exposes some of the addons-frontend features/components.

[2021-03-30 18:00] championshuttler commented on #10289
I checked `word-break: break-all;` could trick for us here ;)

[2021-03-30 18:07] bobsilverberg opened #10294 "Codecov reports not showing up for pull requests"
I'm not sure when this started, but I just noticed it for https://github.com/mozilla/addons-frontend/pull/10292. We normally see a code coverage report, and links to codecov, inline on a pull request's page, but they don't seem to be appearing now.

Looking at the [CI job for the above PR](https://app.circleci.com/pipelines/github/mozilla/addons-frontend/4341/workflows/e8a0c458-84c6-457c-b220-f219

[2021-03-30 18:14] bobsilverberg commented on #10294
Based on https://community.codecov.io/t/failed-to-run-gcov-command-yet-appears-to-succeed/1677, I think perhaps the error message above is a red herring.

[2021-03-30 19:46] bobsilverberg opened #10296 "Issue with experiment enrollment events and SSR"
When we enroll a new user in an experiment, we sent an event to GA to record the fact. If a page that contains an experiment is the first page that a user lands on, then all (well, most) of the code to render the page runs on the server. We cannot send a GA event from the server, hence this issue.

We want to do all of the experiment processing on the server (i.e., determining the variant for the

[2021-03-30 22:05] willdurand opened #10297 "Expose `buildStaticAddonCard` in `addons-frontend-blog-utils`"
Once we have the library set up, we'll need a function to build a static add-on card.

[2021-03-31 07:34] willdurand opened #10298 "Publish addons-frontend-blog-utils on npm"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2021-03-31 16:46] eviljeff commented on #10290
re: Italics.  We use italics _very_ sparingly on frontend - that I can see, only the `UsersUnsubscribe-content-notification` class, and developer defined content.  Using the variable font file is a net saving when we're using many different font weights; but it can be a net cost if we only use 1 or 2 - which we appear to, and not even on the same page - so we should perhaps switch italic back to s

[2021-03-31 17:40] jvillalobos opened #10304 "Replace Facebook with Instagram in footer"
The AMO footer currently links to the Firefox account on Facebook, which hasn't been updated in a very long time. If you look at www.mozilla.org, they are now linking to the [Instagram account](https://www.instagram.com/firefox/) instead, which is active. Let's replace the fb footer link and icon with the Instagram equivalent.

[2021-03-31 19:33] rik commented on #10290
There's also the option of not serving the italic font file and let the browser synthesise an italic version from the roman font file.

[2021-04-01 04:35] NegiAkash890 commented on #10304
Hi @jvillalobos, I would like to fix this. How should I get started?

[2021-04-01 09:52] eviljeff commented on #10290
interesting idea.  I played around with the css in dev tools:

Real inter italic font file:
![Screenshot 2021-04-01 10 30 51](https://user-images.githubusercontent.com/768592/113275991-46e57980-92d7-11eb-9f12-d4ca7d339695.png)
Browser synthesized italic
![Screenshot 2021-04-01 10 31 46](https://user-images.githubusercontent.com/768592/113275958-3af9b780-92d7-11eb-85c4-3f5a70b37174.png)

I can see

[2021-04-01 12:33] bobsilverberg commented on #10252
@jvillalobos @Verdi Some screenshots for the new header banner:

Small:
![Screen Shot 2021-04-02 at 08 29 35](https://user-images.githubusercontent.com/142755/113294025-7fc82300-92c4-11eb-811b-c6293f37f17e.png)

Medium:
![Screen Shot 2021-04-02 at 08 32 27](https://user-images.githubusercontent.com/142755/113294313-d33a7100-92c4-11eb-8d90-6d37db26e950.png)

Large:
![Screen Shot 2021-04-02 at 08 32

[2021-04-01 12:37] bobsilverberg opened #10306 "Create a GetFirefoxBanner component"
This is a spin off from #10252.

This component will be used to create the new, experimental, Download Firefox CTA which will appear as a banner at the top of the site. The mock can be seen at https://firefox.michaelverdi.com/amo-header-info/, and looks like this:

![Screen Shot 2021-04-02 at 08 36 13](https://user-images.githubusercontent.com/142755/113294709-5956b780-92c5-11eb-98ec-6ec8a95b659d.

[2021-04-01 13:10] willdurand commented on #10290
I like the browser version (and the overall idea). Is it browser-dependent? How does it look in Chrome or Edge? Would it look different on MacOS or Linux?

[2021-04-01 14:09] championshuttler commented on #10304
@NegiAkash890 first step would be to setup the project locally by following Readme :)

[2021-04-01 14:19] eviljeff commented on #10290
I tested on Edge and it appears the Italic styling is just dropped entirely, rendering the text as Normal.  I don't have access to MacOS or Linux but it's possible there would be differences - fonts are partially an OS thing.  (I don't have Chrome installed currently but can install and give it a try if necessary)

[2021-04-01 14:50] eviljeff opened #10308 "urls that don't have either an locale and app aren't handled correctly"
The middleware that checks for handles urls, and processes the app and locale parts, doesn't handle urls that are both in `validLocaleUrlExceptions` and `validClientAppUrlExceptions` (i.e. no app or locale in the url), and tries to add an app onto it.  On dev/stage/prod this isn't a problem because there is a complete nginx config managed by ops that captures those urls before frontend sees them;

[2021-04-01 15:23] bobsilverberg commented on #10294
It looks like it's back, at least for https://github.com/mozilla/addons-frontend/pull/10307, anyway. I'm going to leave this open in case it stops working again, but if it seems to be fine for most PRs then we can close this. I also asked a question on the Codecov forum, but nobody has responded to it yet: https://community.codecov.io/t/codecov-no-longer-posting-to-github-pull-requests/2715

[2021-04-02 01:20] moz-hwine opened #10312 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 12](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/ro/firefox/search/ (429)
 * https://addons.mozilla.org/ru/firefox/search/ (429)
 * https://addons.mozilla.org/ru/android/search/ (429)
 * https://addons.mozilla.org/sq/f

[2021-04-02 10:48] KrasnayaPloshchad commented on #10216
What happened if you try to use Inter Condensed for the content?

[2021-04-03 01:09] moz-hwine opened #10316 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 4](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1093477/stealthy-5.2.3-an+fx.xpi (302 Found)
 *

[2021-04-03 01:19] #10312 closed

[2021-04-03 01:19] moz-hwine commented on #10312
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-04 01:10] #10316 closed

[2021-04-04 01:10] moz-hwine commented on #10316
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-04 01:20] moz-hwine opened #10317 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 12](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/sl/firefox/search/ (429)
 * https://addons.mozilla.org/sv-SE/firefox/search/ (429)
 * https://addons.mozilla.org/sv-SE/android/search/ (429)
 * https://addons.mozilla.or

[2021-04-05 01:09] moz-hwine opened #10321 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 4](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1094875/adblocker_for_youtubetm-1.5.0.6-an+fx.x

[2021-04-05 01:20] #10317 closed

[2021-04-05 01:20] moz-hwine commented on #10317
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-05 07:02] ioanarusiczki commented on #10188
@bobsilverberg Please add some STR for qa.
Thanks!

[2021-04-05 13:30] AlexandraMoga commented on #10274
This issue is verified fixed on -dev:

![7eM71a5vL8](https://user-images.githubusercontent.com/31961530/113577579-26485700-962a-11eb-9dc1-d67907fe2c7a.gif)

[2021-04-05 13:43] bobsilverberg commented on #10188
@ioanarusiczki Because there are no experiments enabled right now, I don't think it's possible to test anything for this patch. The changes made here will be testable when the next experiment lands on dev, which should happen in the next few weeks. I'm going to mark this as QA not needed for now.

[2021-04-05 13:56] bobsilverberg commented on #10188
@diox I submitted https://bugzilla.mozilla.org/show_bug.cgi?id=1702993 for the `proxy_cache_key`. Can you take a look when you have a moment and make sure it is accurate?

[2021-04-05 13:57] #10306 closed

[2021-04-05 13:57] bobsilverberg commented on #10306
Marking this as QA not needed because it isn't used anywhere and is therefore not currently testable.

[2021-04-05 21:30] bobsilverberg commented on #10252
@jvillalobos and @Verdi, do we want to show the the header banner on the add-on detail page, which will also include the new callout pointing at the "Download Firefox" button, or should we exclude the header banner if we are on that page? As they both have different appearances (a big yellow banner vs. a light yellow callout) it might make sense to still show both of them on the detail page. WDYT?

[2021-04-05 22:21] jvillalobos commented on #10252
I think the idea is to only use the header banner on non-listing pages. If you're on a listing page and made the decision to get Firefox, odds are that you want it along with the add-on, so we want to encourage that flow.

[2021-04-06 01:10] #10321 closed

[2021-04-06 01:10] moz-hwine commented on #10321
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-06 08:50] #3730 closed

[2021-04-06 13:53] ioanarusiczki commented on #3730
@diox I checked several AMO dev frontend pages - the response headers for the html documents (which the Network reveal at a page refresh) show the [mentioned](https://github.com/mozilla/addons-frontend/issues/3730#issuecomment-360844050) content:

![preconnect](https://user-images.githubusercontent.com/33448286/113721564-4fcfb400-96f8-11eb-939f-39868a221d5c.png)

[2021-04-06 15:13] bobsilverberg commented on #10232
This is not actually an issue.

[2021-04-06 15:13] #10232 closed

[2021-04-06 15:15] bobsilverberg commented on #9767
This is no longer relevant.

[2021-04-06 15:15] #9767 closed

[2021-04-06 15:16] bobsilverberg commented on #10218
@jvillalobos @Verdi One of the things we plan to do is to change the colour of the Download Firefox buttons to blue. I believe we plan to do that regardless of what happens with the experiment. To that end, I think it makes sense to do that *now*, before the experiment, as opposed to making that part of the experimental CTA. That will reduce the number of factors we are testing.

WDYT?

[2021-04-06 15:28] bobsilverberg commented on #10218
@jvillalobos Is it important to use `-groupa` and `-groupb` to obfuscate what these groups mean, or can I use `current-cta` and `new-cta` to make it more obvious in GA which is which?

[2021-04-06 15:48] eviljeff commented on #10308
QA: the actual fix for this is only testable in a local dev environment, so out of scope, but I changed the code that's used for all urls, so best double check I haven't broken anything.  In particular, urls that are missing the locale (e.g. `/firefox/extensions`), or the app (e.g. `/en-US/extensions`), or both (e.g. `/extensions`) still work.  And urls that don't normally contain the app (about p

[2021-04-06 16:53] bobsilverberg commented on #10218
@jvillalobos @Verdi We also need to figure out what to do with the current "Download Firefox" button in the header, when the user is enrolled into the "new cta" cohort in the experiment. My first inclination was to remove it in that case, but that is a problem because the new banner is dismissable, and if we remove the current header button, and they dismiss the banner, there is no longer a link t

[2021-04-06 16:57] bobsilverberg commented on #10218
I don't think GitHub sends notifications when you add a mention of someone to an already existing comment, so I'm just going to do it again here.

@muffinresearch @tublitzed @mozilla/addons-amo-engineering and anyone else with an opinion on this, see the comment directly above this one.

[2021-04-06 17:44] jvillalobos commented on #10218
Agree.

Yeah, good idea.

It shouldn't show up for the cohort with the new CTA. You're right that dismissing the banner can't be easily undone, but the listing CTA is still there, so that should cover most cases. There are also footer links leading to mozilla.org, so it's not like non-fx users are completely out of options. Maybe we can add a nicer download Firefox link to the footer for those use

[2021-04-06 19:59] bobsilverberg opened #10323 "Change the Download Firefox buttons to blue"
The buttons on the site to download Firefox are currently green, but they should be changed to blue. This should be done before the new CTA experiment is started.

[2021-04-06 20:11] bobsilverberg commented on #10218
Great, I opened https://github.com/mozilla/addons-frontend/issues/10323 for this and plan to land it this week.

Thanks!

Ok, I am still a bit worried that we might somewhat regress on the conversion rate if we hide the banner and don't have anything else prominent there, but I guess a user who dismisses the banner is probably not going to download Firefox anyway.

I have added that to the patch I

[2021-04-06 20:18] #10163 closed

[2021-04-07 07:44] ioanarusiczki opened #10326 "Collections should display the themes like the search results"
As I mentioned https://github.com/mozilla/addons-server/issues/16755#issuecomment-814071930 I've noticed that the image from collections is visibly at lower quality compared to the one displayed into search results:

The theme into a search result:
https://addons-dev.allizom.org/en-US/firefox/search/?q=Themes%20again%20with%20wizard

The theme added to a collection: (with a lower quality)
https://

[2021-04-07 11:34] #10323 closed

[2021-04-07 12:38] ioanarusiczki commented on #10308
@eviljeff

- when /about and /review guide pages don't have locale such as  https://addons-dev.allizom.org/about - the redirect is made to https://addons-dev.allizom.org/en-US/firefox/ on AMO dev and AMO stage. This does not happen on prod so it might be a regression.

In case I must file a separate issue, let me know.

[2021-04-07 13:41] AlexandraMoga commented on #10323
I've verified the install buttons ( `Add to Firefox`/`Install Theme`/`Download Firefox`) in Firefox and non-Firefox browser on Windows and Android and these are my results:

In non-Firefox Browsers (Chrome, Edge - Desktop, Brave - Android) the Download Firefox button is now blue:

[Desktop - Header + Detail page]
![image](https://user-images.githubusercontent.com/31961530/113873319-612ec400-97bd-1

[2021-04-07 13:52] AlexandraMoga opened #10328 "The font size for the 'Register or log in' button should be increased"
Follow up for #10163

### Describe the problem and steps to reproduce it:
1. Load AMO -dev while being logged out
2. Observe the 'Register or log in' button

### What happened?
The font size of the button text is at 12px

### What did you expect to happen?
The 'Register or log in' button should have the same font size and weight as the 'Extension Workshop' and 'Developer Hub' links

![image](https

[2021-04-07 14:04] AlexandraMoga opened #10329 "The 'All Rights Reserved' license name is not displayed on the all versions page"
### Describe the problem and steps to reproduce it:
1. Open the versions page of an add-on with versions published under the 'All Rights Reserved' license - see https://addons.allizom.org/en-US/firefox/addon/strict-compat-addon/versions/
2. Look at the 'Source code released under' section

### What happened?
The 'All Rights Reserved' license name is not mentioned

### What did you expect to happen

[2021-04-07 14:14] bobsilverberg commented on #10328
Thanks @AlexandraMoga, although I'm not sure it should be the same size as the links. When it was in a button the font size was smaller, like this, and I'm not sure we want it to be as prominent.

@jvillalobos @Verdi WDYT?

[2021-04-07 14:16] bobsilverberg commented on #10323
The Register or log in button is changing to a link, and that's landed on dev, but not stage yet. I think we should wait for that to land and then decide what, if anything, needs to be done.

[2021-04-07 14:40] AlexandraMoga commented on #10328
Yes, I understand that the scope of the 'Register or Log in' button is different from the other two links, but visually it makes that header section appear unbalanced.

[2021-04-07 14:56] bobsilverberg commented on #10308
Reopening as we are reverting the change. A new PR will need to be done to address this issue as well as the regression reported above.

[2021-04-07 14:58] bobsilverberg opened #10331 "Back out change to prefixMiddleware"
We need to back out the change from https://github.com/mozilla/addons-frontend/pull/10309 as it introduced a regression.

[2021-04-07 15:09] #10331 closed

[2021-04-07 16:29] bobsilverberg commented on #10272
We discussed this in the standup today and the feeling is that we'd prefer to move these utm params into a fragment, and have Firefox updated to utilize them from the fragment instead of requiring URL params.

[2021-04-07 16:37] willdurand commented on #10272
Does that mean we want to prevent these utm params from being collected by GA?

Do we still need to support utm params in the query string? These will be collected by GA.

We will need to request an uplift for ESR. Also we should think about the impact such a change in FF will have (in terms of supported versions but also code).

In any case, the best short term solution is to remove the utm param

[2021-04-07 16:49] willdurand commented on #10328
I think we do want the same size, it doesn't look great right now.. The button was smaller to match the other textual links but now it looks a bit odd (and small).

[2021-04-07 16:55] jvillalobos commented on #10328
Yes, I agree the font styles should match.

[2021-04-07 16:59] willdurand commented on #10326
cc @diox

[2021-04-07 18:09] #9996 closed

[2021-04-07 18:26] bobsilverberg commented on #10294
This seems to be working consistently now, so I'm going to close this.

[2021-04-07 18:26] #10294 closed

[2021-04-07 20:00] #10293 closed

[2021-04-08 01:08] moz-hwine opened #10336 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 3](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096551/docwrite_wup-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096536/abcdhijklmnopqrstuvwxyz-3.0-an+fx.xpi (302 Found)

[2021-04-08 07:44] ioanarusiczki commented on #10331
@bobsilverberg Right now I can still reproduce the issue for About and Review Guide pages on AMO dev and AMO stage.
Tagging @eviljeff to see this too.

![reproducible](https://user-images.githubusercontent.com/33448286/113987705-604a7080-9857-11eb-99b6-5e0246569f17.gif)

[2021-04-08 09:02] eviljeff commented on #10331
Works for me, so it's probably just browsing caching (frontend uses a 301 for it's redirects, so it'd stick).

Although from a look at the other changes landing this week there is also code added (`getClientAppAndLangFromPath`) that parses the url to split it into app and lang that wouldn't work for any url in `validClientAppUrlExceptions` or `validLocaleUrlExceptions` so I can't discount that eit

[2021-04-08 09:21] ioanarusiczki commented on #10331
@eviljeff You're right - into a new profile worked for me too. Verified on AMO dev and AMO stage - FF87(Win10).

The rest of the pages seem to work as expected too.

[2021-04-08 14:03] #10297 closed

[2021-04-08 16:53] willdurand opened #10338 "Show number of users and ratings in `StaticAddonCard`"
This issue is about adding the number of users and ratings to the `StaticAddonCard` for the blog.

See:

<img width="493" alt="Screen Shot 2021-04-08 at 18 53 05" src="https://user-images.githubusercontent.com/217628/114066121-a88b8200-989b-11eb-94d6-6a44ab20b172.png">

[2021-04-08 17:03] #9248 closed

[2021-04-08 19:55] bobsilverberg commented on #10272
I did a bit of digging and it doesn't look like simply moving the params into the fragment will work at all. GA will still interpret those as utm params and therefore start a new session. I think we need to take a closer look at where we are using utm params for internal links and why we are doing that. What problems are we trying to solve with that technique (other than the FF attribution issue)?

[2021-04-09 01:09] moz-hwine commented on #10336
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-09 01:09] #10336 closed

[2021-04-09 01:18] moz-hwine opened #10339 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 2](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/tr/firefox/search/ (429)
 * https://addons.mozilla.org/zh-CN/firefox/search/ (429)

This issue was automatically raised.

This issue is managed automatically by the basel

[2021-04-09 14:11] AlexandraMoga commented on #9248
@bobsilverberg I've added a link to `/search-tools/` in an add-on detail page (in description), as the STR suggested, and these are my results:

[Example from  -dev](https://addons-dev.allizom.org/en-US/firefox/addon/check-compatibility/): the `/search-tools/` link is redirecting to the Search Tools extension category page - https://addons-dev.allizom.org/en-US/firefox/extensions/category/search-t

[2021-04-09 14:25] ioanarusiczki commented on #9996
@bobsilverberg Testing is in progress, I'm going to add my test results on Monday morning after I finish because I did not cover the primary/secondary hero shelves yet.

[2021-04-09 16:14] bobsilverberg commented on #10252
Here are some screenshots of the most recent version of the add-on detail page button:

Small:
![Screen Shot 2021-04-09 at 12 12 02 PM](https://user-images.githubusercontent.com/142755/114209615-d371e680-992c-11eb-8f83-fddb6734e826.png)

Medium:
![Screen Shot 2021-04-09 at 12 12 45 PM](https://user-images.githubusercontent.com/142755/114209688-ebe20100-992c-11eb-9d33-e396a11d4a5f.png)

Large:
![Sc

[2021-04-09 17:16] diox commented on #10326
Probably a regression from https://github.com/mozilla/addons-frontend/pull/10125 ? I never paid enough attention to the collection page and never noticed it was displayed in a similar layout to search...

[2021-04-10 01:09] moz-hwine opened #10343 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 4](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096551/docwrite_wup-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096507/bubbles_for_mozilla-108.22-fx.xpi (302 Found)
 * h

[2021-04-10 01:18] moz-hwine commented on #10339
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-10 01:18] #10339 closed

[2021-04-11 01:10] #10343 closed

[2021-04-11 01:10] moz-hwine commented on #10343
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-11 01:19] moz-hwine opened #10347 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 4](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/ur/android/search/ (429)
 * https://addons.mozilla.org/vi/firefox/search/ (429)
 * https://addons.mozilla.org/zh-CN/android/search/ (429)
 * https://addons.mozilla.org/zh

[2021-04-12 07:47] willdurand commented on #10343
@g-k hi, do you still maintain this scanner? We get false positives like this issue every other day, and it's usually two issues (one with 302s and the other one with 429s)...

[2021-04-12 11:06] ioanarusiczki commented on #9996
@bobsilverberg

Adding shelves using the module worked for me, I did not test with mixed collections (addons and themes) because I don't think it's in scope. Adding a custom number of extensions or themes worked for me.

 Here are my observations:

Frontend:
1. UX - as "Title" and "Footer text" fields from the [shelfmodule](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/shelfm

[2021-04-12 11:21] #10298 closed

[2021-04-12 11:47] ioanarusiczki commented on #10297
@willdurand Is this a qa not needed?

[2021-04-12 11:48] ioanarusiczki commented on #10293
@willdurand qa not needed?

[2021-04-12 11:56] willdurand commented on #10297
Yes, we'll use https://github.com/mozilla/addons-blog to verify stuff related to this "blog-utils" library.

[2021-04-12 12:18] bobsilverberg opened #10350 "Look into moving away from Enzyme"
This is something we have discussed, more than once. There are incompatibilities between Enzyme and modern React, and React has no plans to try to support Enzyme moving forward.

I did a bunch of experimentation with [React Testing Library](https://testing-library.com/docs/react-testing-library/intro/) back in 2020/early 2021, and I wasn't pleased with its limitations in terms of the kinds of test

[2021-04-12 12:38] ioanarusiczki commented on #10163
@bobsilverberg
This is verified on AMO dev -FF87(Win10).
on FF
![FF](https://user-images.githubusercontent.com/33448286/114395362-ef7fbd00-9ba4-11eb-9959-82cd5c989f46.png)

non-FF browsers

![nonFF](https://user-images.githubusercontent.com/33448286/114395392-f9a1bb80-9ba4-11eb-8fea-2709038668df.png)

[2021-04-12 12:41] bobsilverberg commented on #9248
@AlexandraMoga I don't think the links you added for `search-tools` to that page are working the way you are expecting. As they are fully-qualified URLs, they are doing a true navigation, so the redirect code on the server is firing, which is giving you the redirect to the new URL. They are not testing client-side navigation.

As for the other links, it is not expecting that a link like `https://a

[2021-04-12 12:44] #10328 closed

[2021-04-12 12:51] bobsilverberg commented on #10272
Ok, it sounds like simply removing them from internal links for now is what we should do, but we also need to figure out a long-term solution. @willdurand as the person who worked on the stats portion, do you have any suggestions for how we might approach this long-term?

[2021-04-12 12:56] willdurand commented on #10272
I don't know yet, I'll think about it.

A quick question, though: if we want to keep utm params for download stats but don't want to use them in our own GA, then could we strip the utm params before sending the url to GA?

[2021-04-12 13:25] g-k commented on #10343
Yes, more or less. I'll file an issue to make the scanner smarter about de-duplicating [these issues](https://github.com/mozilla/addons-frontend/issues?page=2&q=is%3Aissue+baseline).

To be clear, these aren't false positives, but an issue with the nginx in front of AMO. There are a couple of outstanding PRs to fix the issue:

Simon filed https://github.com/mozilla-services/cloudops-deployment/pul

[2021-04-12 13:50] bobsilverberg commented on #10272
We don't "send" the url to GA, per se, GA observes a user's navigation on our site, based on the URLs that they visit, so there isn't really an opportunity to strip them from the URL before sending to GA, unless I am misunderstanding what you are asking. There are some `events` that we send to GA, but I believe those are outside the scope of what we're concerned with in this issue.

[2021-04-12 14:04] willdurand commented on #10272
We don't? https://github.com/mozilla/addons-frontend/blob/577cdf2d8b846a21990264bc676b34848bc6d244/src/amo/client/base.js#L65-L71

[2021-04-12 14:11] bobsilverberg commented on #10272
Ah, I forgot about that. I thought that simply including the GA code on each page was what was allowing GA to track page views, but apparently not. Let me give that a try.

[2021-04-12 14:16] #10296 closed

[2021-04-12 14:22] bobsilverberg commented on #10296
For QA:

There isn't a way to test this without an enabled experiment, but we do plan to land a patch that enables an experiment this week as well. Assuming that that patch also lands, here's the expected behaviour:

When a user first encounters a page with an experiment enabled, if they do not already have the experiment defined in the cookie (which is called `frontend_active_experiments`), then

[2021-04-12 15:12] ljharb commented on #10350
To be clear, React hasn't really "supported" enzyme since v16 came out. What this means isn't that enzyme can't or won't work with react; it just means that enzyme has to play catchup every time React makes a breaking change that they'd like to pretend is semver-minor.

[2021-04-12 15:19] xlisachan commented on #9996
@ioanarusiczki - thank you for the feedback!

@bobsilverberg @eviljeff - please see below.

The character limit for both fields is currently 200 in `models.py`. The longest shelf title that is currently live is "Recommended password managers" which is 29 characters long (38-character footer text), which has no overlap at the 768x1024 (iPad) setting - I can force an overlap when the screen width is

[2021-04-12 15:52] bobsilverberg commented on #10272
@willdurand This is quite confusing. In our call to `tracking.pageView`, we're using the value `location.pathname` for `page`, and `location.pathname` doesn't include URL params. As well, the data we send to GA in the beacon does not include any utm params. Here's an example:

[code]

but looking at the data recorded in GA, I can see that we are capturing the utm params for `source`, `medium` and

[2021-04-12 15:55] #10326 closed

[2021-04-12 16:09] willdurand commented on #10272
So I would think that we only track utm params on page loads, i.e. when we first land on AMO, which is likely what we want.

[2021-04-12 16:23] eviljeff commented on #10236
#10065 has been merged, I note.

[2021-04-12 16:34] bobsilverberg commented on #10272
Ah, the data I was looking at, that looked like we were sending `utm_content`, was actually for `localhost`, so any page refresh which already had utm params would show up in GA. Looking at the data on prod, it does look like `utm_content` is only being populated from links from outside of the site, and that we do not record it for any of the internal links. I suppose that means that we don't actu

[2021-04-12 17:12] caitmuenster opened #10351 "Add bug reporting information to /about page"
Related to [#16884 on the addons-server repo](https://github.com/mozilla/addons-server/issues/16884).

Let's add a few sentences about how to report bugs/issues on addons.mozilla.org/about. The following text should be added under the "Get Involved" section:

_____

**Report an issue**
If you find a problem with the site, we'd love to fix it. Please file an [issue](https://github.com/mozilla/addon

[2021-04-12 17:14] #10304 closed

[2021-04-12 20:10] #10338 closed

[2021-04-12 20:11] bobsilverberg commented on #10272
I looked at all of the places we're adding utm params to links in addons-frontend, and documented them in a [Google Doc](https://docs.google.com/document/d/1tiym4jJBHOjK-tRYK3_lVmluF-A9auicBq3ytQ1nVnA/edit?usp=sharing). It looks like everywhere we are adding utm params to internal links, those links are also client-side links. Based on the discussions of the past few comments, I don't think that h

[2021-04-13 01:12] moz-hwine opened #10352 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 2](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1093479/tree_style_tab-2.6.9-fx.xpi (302 Found)

T

[2021-04-13 01:22] moz-hwine commented on #10347
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-13 01:22] #10347 closed

[2021-04-13 07:23] willdurand opened #10353 "Use "new" download button UI in StaticAddonCard (blog-utils)"
Let's use the new download button UI once it has landed (see #10333)

[2021-04-13 08:07] willdurand opened #10355 "Add more metadata to addons-frontend-blog-utils npm package"
We should attach more info to the `addons-frontend-blog-utils` npm library to make https://www.npmjs.com/package/addons-frontend-blog-utils a bit nicer.

[2021-04-13 08:34] ioanarusiczki opened #10357 "Recommended themes collection - the size of themes on the homepage is smaller than expected"
STR:

I tested the new homepage shelf module for https://github.com/mozilla/addons-frontend/issues/9996 - and added all type of shelves for the homepage -> among them the [Recommended theme collection ](https://addons-internal.dev.mozaws.net/en-US/admin/models/bandwagon/collection/2143965/change/) which uses the collections endpoint and I've noticed that the size of the themes is 266x34 instead of

[2021-04-13 08:56] ioanarusiczki commented on #10328
@bobsilverberg Maybe "Donwload Firefox" can go to 14 px too?

[2021-04-13 09:00] diox commented on #10351
The code is in https://github.com/mozilla/addons-frontend/blob/master/src/amo/pages/StaticPages/About/index.js

Please add a new `<section>` with `Report an issue` as the `<h2>`. Also, add an `id` attribute so that this new section can be linked to (we'll do that in mozilla/addons-server#16884)

[2021-04-13 09:40] #10355 closed

[2021-04-13 09:42] ioanarusiczki commented on #10304
@bobsilverberg In case this change should be made for dev hub footer on server side, I can file an issue. Let me know.

This is verified on AMO dev - FF87(Win10)

![Instagram](https://user-images.githubusercontent.com/33448286/114532570-a2a7ef00-9c55-11eb-874b-9df5858135f4.gif)

[2021-04-13 10:28] eviljeff commented on #9996
it's difficult to deal with many different problems in the same issue - please split out follow-ups into their own issues - anything related to the models/api/admin in addons-server.

I'd treat this as an addons-frontend issue first of all, to decide what the maximum text length the UI should support (some languages are much longer than others), and how longer text should be handled (wrapping seem

[2021-04-13 10:52] ioanarusiczki commented on #10296
@bobsilverberg

Reading from [the patch](https://github.com/mozilla/addons-frontend/pull/10333) this is an experiment for non FF browsers.

For now I tried with Chrome and Edge - I navigated from the hompepage to a detail page but I don't see a cookie called `frontend_active_experiments`. Perhaps I must wait for the patch to land.

![cookies](https://user-images.githubusercontent.com/33448286/1145

[2021-04-13 11:06] ioanarusiczki commented on #9248
@bobsilverberg I'm not sure I follow. Instructions say to add `/search-tools/` somewhere on the detail page. If I navigate from another page (such as the search results https://addons-dev.allizom.org/en-US/firefox/search/?q=leoper-apecker-carose) to this one and click on https://addons-dev.allizom.org/search-tools/ I will get a redirect to https://addons-dev.allizom.org/en-US/firefox/extensions/ca

[2021-04-13 11:24] #10218 closed

[2021-04-13 11:24] #10252 closed

[2021-04-13 11:26] bobsilverberg commented on #10296
@ioanarusiczki This did need to wait for the other patch to land to be tested, but I just merged it, so hopefully it will be on dev soon, and both will be testable.

[2021-04-13 11:45] bobsilverberg commented on #10304
@ioanarusiczki I believe it should be. Please file an issue for it.

[2021-04-13 11:52] bobsilverberg commented on #10328
@ioanarusiczki I'm not sure we want to do that. It's always been a smaller font than the other links. If we just increase the font size then it appears to have less room in the button, and I don't think we want to change the button height as that will cause it to be larger than the links.

With 14px:
![Screen Shot 2021-04-13 at 7 50 56 AM](https://user-images.githubusercontent.com/142755/114547980

[2021-04-13 11:54] bobsilverberg commented on #9248
@ioanarusiczki The instructions are not accurate in that it's not possible to simply add a link to a page in order to test this. I'm going to just make it QA: not needed, as it's been tested locally and it's also something that should actually never happen.

[2021-04-13 12:05] bobsilverberg commented on #10357
I believe the issue here is that the `collections` type is not intended to be used for themes. There are not any collections of themes on the current home page, so this shouldn't affect us when this goes to production.

I suppose if we need to fix this one option would be to add a `collections-themes` type, similar to the existing `search-themes` type, although I don't know if there are any plans

[2021-04-13 12:59] bobsilverberg opened #10359 "Update the event category for the GetFirefoxBanner click"
I updated the event category for clicks on the `GetFirefoxButton` to include the variant from the experiment, but the clicks on the `GetFirefoxBanner` do not include the variant. We should include it there as well.

[2021-04-13 14:04] bobsilverberg commented on #9996
I agree with @eviljeff that we should probably try to handle this on the frontend by wrapping the text, but I also recall an issue from awhile back where we had trouble getting that to work. I think it's also reasonable to add a character limit to the admin, but we need to decide what that should be. We should get feedback from @devaneymoz on that. @xlisachan can you file 2 issues for this, one on

[2021-04-13 14:15] ioanarusiczki commented on #10296
@bobsilverberg I checked with Chrome - every time I delete the cookie and refresh a page I was on I get the enrollment event:

`[GA: ON] sendEvent: {hitType: "event", eventCategory: "AMO Experiment Enrollment - 20210404_download_cta_experiment", eventAction: "new-cta", eventLabel: undefined, eventValue: undefined}`

This is a one time event - until I delete again the cookie.

[2021-04-13 14:20] #10353 closed

[2021-04-13 14:20] Verdi commented on #10328
I would leave it as is. The larger type needs more padding which will make the button bigger which may lead to other problems. If our experiment goes well, we'll be getting rid of it anyway.

[2021-04-13 14:24] bobsilverberg commented on #10296
That's great, thanks @ioanarusiczki. One more thing to check is whether the data is actually sent to GA. That message you see in the console means we attempted to send it, but this patch fixes an issue where we were not successful in actually sending it.  You can check the network tab for a POST to https://www.google-analytics.com/collect, and if you check the Request payload you should see the en

[2021-04-13 14:24] ioanarusiczki commented on #10296
@bobsilverberg Alright, I'll be on the whole experiment tomorrow morning, I'll check it 👍

[2021-04-13 15:54] willdurand opened #10364 "Fix download button yello arrow style"
Feedback from @verdi on Slack. We should add this:

[code]

[2021-04-13 16:04] #10359 closed

[2021-04-13 16:30] bobsilverberg commented on #10188
For QA: You should be able to verify this by making sure you are not logged in, and then loading a page with the cookie value of `current-cta`, check that it looks like the current site, and then changing the cookie value to `new-cta`, reloading the page, and you should see the new, experimental UX for the download button.

@diox Does that cover it, or is there something else required to check the

[2021-04-13 16:36] #10364 closed

[2021-04-13 17:00] jvillalobos commented on #10357
It should be possible to feature theme collections in the homepage, yes. In the past we've promoted campaigns that involve a list of themes (like for example a collection of flag themes for the World Cup or the Olympics).

[2021-04-13 17:13] diox commented on #10188
Now that we have an experiment on dev (#10333) we can see a problem in this logic:

- [By default, if a response has `Set-Cookie` header set, nginx won't cache it](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_cache_valid). That default behavior makes sense: typically if the response is setting a cookie, it's because it's doing something specific to the client it's serving, so ng

[2021-04-13 17:18] bobsilverberg commented on #10188
We might be able to do that. We could read the cookie on the server, and if it doesn't exist, rather than set it, we could dispatch an action, similar to what we're already doing for the enrollment event. We could then read data from the redux store that was recorded by that action, on the client, and set the cookie. I'm not sure if this will work or not, but I can give it a try.

[2021-04-13 17:21] diox commented on #10188
Let's try that, it seems the safest approach.

[2021-04-13 17:23] bobsilverberg commented on #10357
Thanks @jvillalobos. @xlisachan how do you think we should approach this? As mentioned above, we could create a `collections-themes` type similar to the `search-themes` type, but I am also wondering if this is something we could detect when the page is rendered, by checking the type of the first add-on returned? Is that feasible? I don't recall why we went with the `search-themes` type the first t

[2021-04-13 18:55] willdurand commented on #10188
Do we have a feature flag or can we NOT enable the experiment on -prod this week?

[2021-04-13 19:51] bobsilverberg commented on #10188
We do not plan to enable the experiment on prod this week, so this isn't an issue that needs to be addressed for this week's tag, but should be dealt with before next week.

[2021-04-13 21:12] willdurand opened #10368 "Review UTM params in `StaticAddonCard` (blog-utils)"
Some UTM parameters are rendered in the `StaticAddonCard`, let's make sure they are what we want. I am wondering if the "download button" should have UTM params referencing an AMO experiment for instance.

[2021-04-13 21:14] willdurand opened #10369 "Add "unavailable" state to the `StaticAddonCard` (blog-utils)"
The new AMO blog (addons-blog) uses "static add-on cards" that are defined in this project. We need a special "unavailable" state for these cards in case the add-on does not exist anymore _after_ we generated the static cards.

The cards are "static" because they are generated at build time. Addons-blog has some JavaScript to fetch the AMO API and see if the add-on still exists when the page is lo

[2021-04-13 21:37] wayfaringjou commented on #10351
Hi @diox can I work on this issue? Just add the `<section>` to [About/index.js](https://github.com/mozilla/addons-frontend/blob/master/src/amo/pages/StaticPages/About/index.js)?

[2021-04-13 22:48] diox commented on #10194
The certificate has been updated and it has made a big difference (~ a second over 4G). We have also identified potential issues with gzip and caching not being as fast as it should in general that once fixed should improve server processing time for our pages.

[2021-04-13 23:06] rik commented on #10194
[With/Without EV WebPageTest comparison](https://www.webpagetest.org/video/compare.php?tests=210413_AiDc97_7e7b659379e1c7b0cbdc1e64b53c0465%2C210409_AiDc69_25c24d424010b160281c522c8c5d8450&highlightLCP=1&thumbSize=200&ival=500&end=visual)

[2021-04-14 01:15] bobsilverberg commented on #10368
I would think it should have unique params to indicate that it came from the blog.

[2021-04-14 01:47] bqbn commented on #10188
Is it easier to use a custom header to address the issue in stead of a cookie?

[2021-04-14 03:07] xlisachan commented on #10357
@bobsilverberg, I believe everyone considered determining the type using `criteria` for search was considered a hack approach and, therefore, `search-themes` type was added instead ([#16327])(https://github.com/mozilla/addons-server/pull/16327). I think it would be more consistent (and cleaner) to add a `collections-themes` type, can I handle this if you agree?

[2021-04-14 03:27] xlisachan opened #10373 "Fix `title` and `footer text` within homepage shelves"
Per #9996, the `title` and `footer text` fields from the [shelfmodule](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/shelfmodule/) are not limited to a number of chars. The screenshot below displays both fields at 100 characters:

![114384010-dbcd5a00-9b96-11eb-80e9-4cc2c8417a3d](https://user-images.githubusercontent.com/28129806/114649399-779db980-9cae-11eb-9326-21d7f367e48b

[2021-04-14 07:08] willdurand commented on #10194
Nice, I think our job here is done. I'll file an issue for gzip. Thanks @rik!

[2021-04-14 07:08] #10194 closed

[2021-04-14 07:11] willdurand opened #10374 "Enable compression (express) middleware"
Our responses aren't gzipped because we deferred this step to Nginx. Now that we have html caching, we think that the app should serve gzipped content so that Nginx can directly forward the content to the client, without having to gzip it. (similar to addons-server)

We should enable the `compression` middleware on the server and that should be enough on our side. We'll also need to check the ngin

[2021-04-14 07:56] ioanarusiczki commented on #10296
@bobsilverberg
POST to  https://www.google-analytics.com/collect is present in the Network.

The enrollment event in the request payload:

![enrollment event in request payload](https://user-images.githubusercontent.com/33448286/114674537-2f859380-9cbc-11eb-8453-fb0066c20aaa.png)

[2021-04-14 10:06] ioanarusiczki commented on #10252
@bobsilverberg I checked on AMO dev - with Chrome

1. Detail page messages:

- Recommended addons:

![recommended addons](https://user-images.githubusercontent.com/33448286/114683670-11706100-9cc5-11eb-89b0-701bd7a4a729.png)

- Recommended themes:

![recommended themes](https://user-images.githubusercontent.com/33448286/114683761-25b45e00-9cc5-11eb-884b-07aea1a787a9.png)

- non -recommended extens

[2021-04-14 10:09] ioanarusiczki opened #10375 "Layout issues for the detail page message in large and medium views"
Followup for https://github.com/mozilla/addons-frontend/issues/10252#issuecomment-819399908

The experiment yellow message doesn't look good on pages with a longer summary - for not recommended extensions and themes
It is reproducible on AMO dev - with Chrome and Edge

Examples:

extension:

![extension](https://user-images.githubusercontent.com/33448286/114689017-23083780-9cca-11eb-9c35-9f8ef3e55

[2021-04-14 11:59] ioanarusiczki commented on #10218
@bobsilverberg

1.  The classic view (or current view):
On mozilla.org I see in the network at query string parameters:
utm_campaign: amo-fx-cta-616840-current-cta when I click the download button from the detail page
utm_campaign: amo-fx-cta-current-cta for the Download Firefox button on the top of the pages

2.  The other cohort - with the new view:
On mozilla.org I see in the network at query s

[2021-04-14 12:17] bobsilverberg opened #10376 "Remove code which allows events to be called on the server"
Some code was added to support the experiment enrollment event which allowed an event to be stored on the server and then later sent to GA on the client. We aren't going to need to do this anymore when we move all of the experiment code to the client, so we can remove this code.

We should also add code to tracking that will raise an exception if we ever try to send an event on the server, as this

[2021-04-14 12:19] bobsilverberg opened #10377 "Disable the current experiment on dev"
Due to problems with caching, we want to disable the current experiment on dev.

For QA:
The experiment will no longer be testable on dev until we re-enable it, which will happen sometime in the next few days.

[2021-04-14 12:27] bobsilverberg commented on #10188
We have decided that the way to deal with this is to ensure that any cookie-writing code for experiments is always done on the client. None of this code will be executed on the server. This means that the UI may be updated client-side, after a user receives a cached response from the server, which could cause a minor flash of content, but that is a tradeoff in order to ensure that caching works wi

[2021-04-14 12:28] ioanarusiczki commented on #10359
@bobsilverberg
I'm not sure if that's the way to check this but when I click the banner and land on mozilla.org,  I see as utm_content=banner-download-button
If I dismiss the banner I see as eventCategory in the Console -"AMO Download Firefox Banner"

I've also added more detailed info about the utm_campaign here https://github.com/mozilla/addons-frontend/issues/10218#issuecomment-819462850

[2021-04-14 12:36] bobsilverberg commented on #10357
Yes, that sounds like a good idea, thanks @xlisachan!

[2021-04-14 13:10] diox opened #10381 "Add Vary on User-Agent instead of having nginx do it"
We have to `Vary` on `User-Agent` to be able to do some browser detection (which is usually a bad idea, but for a site that serves add-ons specific to a particular browser/version, we have to).

It's currently done in nginx, but for all other headers we have to `Vary` on we do it in addons-frontend, so for consistency sake we should do it inside addons-frontend for `User-Agent` as well.

[2021-04-14 13:11] willdurand opened #10382 "Expose `Header` in blog-utils library"
For the blog, which looks similar to AMO in some cases, we can reuse the `Header` implemented in this project, just like we did for the `Footer` so let's add a new function `buildHeader` to expose the HTML of the AMO header to the blog _via_ the `blog-utils` library.

Note: this issue is blocking https://github.com/mozilla/addons-blog/issues/107

[2021-04-14 13:14] ioanarusiczki commented on #10364
@bobsilverberg I verified this on AMO dev - with Chrome

![e pixali](https://user-images.githubusercontent.com/33448286/114716217-b0f31b00-9ce8-11eb-866c-091623e5010d.png)

![align self](https://user-images.githubusercontent.com/33448286/114716242-b6506580-9ce8-11eb-9903-5a3b3f951858.png)

[2021-04-14 13:27] willdurand commented on #10289
@championshuttler re: this bug, we could probably fix it like this: https://github.com/mozilla/addons-blog/issues/108

[2021-04-14 14:04] #10289 closed

[2021-04-14 14:07] championshuttler commented on #10375
There is breakage for download button too for other browsers i guess, @ioanarusiczki can confirm?

![image](https://user-images.githubusercontent.com/22130317/114723944-b8520d00-9d58-11eb-92f4-85c0410148f9.png)

[2021-04-14 14:15] #10377 closed

[2021-04-14 14:20] willdurand opened #10384 "`blog-utils` embeds a lot of icons in the CSS"
This is kinda expected because the webpack config is written so that images are embedded in the CSS so that it is easy to import/use in `addons-blog` but we should probably revisit this. We should investigate how to not embed icons in the CSS anymore in `blog-utils` and how that would work in `addons-blog` and its asset pipeline.

[2021-04-14 15:37] #10376 closed

[2021-04-14 15:47] willdurand commented on #10231
Probably a glitch, sorry about that!

[2021-04-14 15:47] #10231 closed

[2021-04-14 15:48] willdurand commented on #10272
I do!

[2021-04-14 16:00] smarnach commented on #10343
@bqbn had comments on one of the PRs, and he's much more familiar with the AMO nginx configuration than I am, so I'd prefer to leave this up to him.

[2021-04-14 16:21] ioanarusiczki commented on #10375
@championshuttler The experiment is disabled right now on AMO dev - but I am going to check it once it's back.

[2021-04-14 19:31] bobsilverberg commented on #10272
I have confirmed that we are not sending utm params to GA for any of our internal links, therefore the "new session" issue does not exist for us. The reason we aren't sending utm params is that we are not sending *any* URL params to GA, and that may not have been intentional. We may want to send *some* URL params to GA to aid in site analysis. For example, I don't think we have any data on what se

[2021-04-14 20:17] willdurand opened #10388 "Allow `/blog/` in our config"
I am not sure exactly what is needed here so I'll update the issue with more information later. Please see: https://github.com/mozilla/addons-frontend/pull/10380#discussion_r613497720

Edit: I added `blog` in the two main exception lists but I think we need #10363 to see if it works.

[2021-04-14 20:19] willdurand opened #10389 "Update url to Blog in the footer (with a feature flag)"
We should add a feature flag that, when turned on, will set the URL of the AMO blog to `/blog/` instead of the current absolute URL in the footer.

[2021-04-15 01:17] moz-hwine opened #10390 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Strict-Transport-Security Header Not Set [10035] x 12](https://www.zaproxy.org/docs/alerts/10035/)
 * https://addons.mozilla.org/sv-SE/android/search/ (429)
 * https://addons.mozilla.org/te/firefox/search/ (429)
 * https://addons.mozilla.org/tr/android/search/ (429)
 * https://addons.mozilla.org/u

[2021-04-15 07:03] pranav1601 commented on #10351
Hey @diox Could i work on this?

[2021-04-15 09:14] #10374 closed

[2021-04-15 09:58] diox commented on #10374
This seems to be working well on dev. nginx is adding a `Vary: Accept-Encoding` on top of our own, but that shouldn't be a problem.

[2021-04-15 10:16] #10382 closed

[2021-04-15 10:59] willdurand commented on #10389
For QA: the link to the blog in the footer of amo -dev should redirect to `/blog/` while other envs should send users to blog.mozilla.org/addons/

[2021-04-15 12:05] #10188 closed

[2021-04-15 12:06] bobsilverberg commented on #10188
For QA: The experiment has been re-enabled on dev and is able to be tested again.

[2021-04-15 12:09] eviljeff commented on #10389
@jvillalobos are we replacing the link to the old blog entirely, or still linking to it as "developer blog" (or whatever)?

[2021-04-15 13:45] bobsilverberg commented on #10252
@ioanarusiczki Thanks for the feedback. I have addressed the issue mentioned above which was opened as #10375. The banner is behaving as expected. I don't think there are any other outstanding issues mentioned above, but correct me if I am wrong about that.

[2021-04-15 13:51] bobsilverberg commented on #10357
@xlisachan As you've started on the server piece of this, I have assigned this to you. I believe this needs a change both in addons-server and addons-frontend, so if there isn't already one, can you file an issue for the addons-server part of this?

[2021-04-15 14:00] #10369 closed

[2021-04-15 14:11] eviljeff commented on #10357
@bobsilverberg what do we do currently for a shelf containing collection of themes?  Is it hard-coded?  (I'm assuming it's at least happened before because Jorge says "In the past we've promoted campaigns that involve a list of themes")

[2021-04-15 14:11] #10375 closed

[2021-04-15 14:56] #10308 closed

[2021-04-15 15:01] eviljeff opened #10396 "cleanup `clientAppRoutes` now we're on react-router v4"
`clientAppRoutes` was added as a workaround to limitations in react-router (#3162) but now we're on v4+ we don't need it.

[2021-04-15 15:11] willdurand commented on #10396
It's probably something we really want to do to reduce the amount of config and also code in the middleware so let's make it a p3.

[2021-04-15 15:15] bobsilverberg commented on #10357
The current code doesn't really have a concept of shelf types, so yeah, if we had a shelf of themes that was based on a collection we would just have hardcoded the differences into it. Now that shelves are dynamic and based on data, we need a way for the frontend to understand that a shelf contains themes.  Now that we're thinking about adding a `collections-themes` type, it might actually make mo

[2021-04-15 16:07] bobsilverberg commented on #10329
I opened https://github.com/mozilla/addons-server/issues/16952, which I believe is the root cause of this. Fixing that will likely fix this, so we might want to move this to addons-server.

[2021-04-15 16:51] jvillalobos commented on #10389
Yes, let's add a footer link labeled "Developer Blog" between Developer Policies and Forum, pointing to the current blog.

[2021-04-15 16:52] jvillalobos commented on #10389
URL: `https://blog.mozilla.com/addons?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=footer-link`

[2021-04-15 17:33] #10351 closed

[2021-04-15 18:20] #10388 closed

[2021-04-15 18:20] #10389 closed

[2021-04-15 18:27] #10381 closed

[2021-04-15 19:26] bobsilverberg commented on #10216
@AlexandraMoga Can you please take another look at this when you have time. We did increased the base font size overall, and specifically addressed the Download File link. If there are still issues, can you update this to call them our specifically?

[2021-04-16 01:41] xlisachan opened #10397 "External URL `footer_pathname` in homepage shelves should open in a new tab"
Per feedback in #9996, the `footer_pathname` supports external URLs, which currently opens in the same tab. However, these URLs should have the same behavior as URLs in the secondary hero shelf (the page opens in a new tab).

[2021-04-16 01:48] xlisachan commented on #10357
@bobsilverberg, sounds good! Should I edit the issue I had opened for adding `collections-themes` or should I close it and open a new issue?

[2021-04-16 08:15] ioanarusiczki commented on #10252
@bobsilverberg I initially thought that after the banner is dismissed it should not re-appear back. I am sure that was happening at a full page reload, now I can't check it since the experiment is disabled. But then I realized the "download firefox" blue button is not available for the new cta group so this should be expected. Can you confirm?

[2021-04-16 08:56] ioanarusiczki commented on #10375
@bobsilverberg @championshuttler

I could not reproduce the issue [above](https://github.com/mozilla/addons-frontend/issues/10375#issuecomment-819546482) with Chrome for Android - on a small screen

However, I've noticed that for https://addons-dev.allizom.org/en-US/firefox/ the button for recommended addons is different from https://addons-dev.allizom.org/en-US/android/

This is the recommended -

[2021-04-16 11:26] ioanarusiczki commented on #10377
@bobsilverberg I can see again the experiment beeing active today.

[2021-04-16 11:44] ioanarusiczki commented on #10377
Should be fine now https://github.com/mozilla/addons-frontend/issues/10188#issuecomment-820371425 so I'm adding verified here.

[2021-04-16 11:48] bobsilverberg commented on #10375
My apologies for not mentioning this in the instructions, but this is expected. RTAMO is not supported on android, so we use this simpler version of the button text.

[2021-04-16 11:50] bobsilverberg commented on #10252
The banner is expected to come back after a reload. We only save the dismissed state in the redux store, and don’t persist it on disk.

[2021-04-16 13:15] ioanarusiczki commented on #10289
@championshuttler
@willdurand

On AMO dev I see the following:
- on the detail pages the issue is no longer reproducible on iOS

- on homepage long unbroken strings break the layout of the page on iOS and that's because the page for https://addons-dev.allizom.org/en-US/firefox/ . Also on Android with Chrome the issue is reproducible. On the other hand the android page can be accessed with https://

[2021-04-16 13:24] ioanarusiczki commented on #10252
@bobsilverberg Testing today a bit more on Android - small screen maybe as a UX is not quite ok when the banner overlaps the logo because that can be used for site navigation and now it's only partially visible.

Also the search bar and Register or log in button are completely hidden in this case.

Let me know what you think of this.

![Android - Chrome](https://user-images.githubusercontent.com/3

[2021-04-16 13:29] bobsilverberg commented on #10252
Thanks @ioanarusiczki. I think it’s fine because really we mostly expect people to either click on the link to download Firefox, or, if they really want to use the site, to dismiss the banner. The site isn’t particularly useful to someone on a mobile phone that isn’t Firefox.

WDYT @jvillalobos @Verdi

[2021-04-16 13:33] ioanarusiczki commented on #10389
@willdurand

on AMO dev:

Blog redirect to https://addons-dev.allizom.org/blog/
Developer Blog to https://blog.mozilla.org/addons/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=footer-link

I don't know about the dev hub footer - is this going on server side too?

[2021-04-16 13:44] willdurand commented on #10289
right,  I also noticed that it does not work for all cases, especially not long unbroken strings... @championshuttler suggested a different CSS rule but we'd like to avoid it because we don't want to different yet similar rules. Maybe we could have some sort of media query to detect Safari? I am not sure, though (I think it requires some js)

[2021-04-16 13:50] Verdi commented on #10252
Agreed. We designed it with this rationale.

[2021-04-16 14:19] ioanarusiczki opened #10399 "See all versions page displayes the banner on top of the page"
1. Load see all versions page with Chrome or Edge - make sure the new experiment is visible.

Expected:
only the yellow messages above the download buttons are displayed

Actual result:
The yellow banner on top of the page is also displayed

This is reproducible on AMO dev when the new-cta cookie is set for the user.

![See all version page - experiement](https://user-images.githubusercontent.com/

[2021-04-16 14:31] ioanarusiczki opened #10400 "Font could be a bit darker to avoid being a bit blurry"
It's obvious on the see more versions page that the font is a bit blurry in the yellow banners above the download buttons

Chrome

![See all version page - experiement](https://user-images.githubusercontent.com/33448286/115038785-b7b69500-9e84-11eb-9814-ef5756ce1a78.png)

Edge

![Edge](https://user-images.githubusercontent.com/33448286/115039705-8ab6b200-9e85-11eb-9114-19526375909c.png)

Maybe it

[2021-04-16 14:32] ioanarusiczki commented on #10188
@bobsilverberg

Without log in, after deleting several times the cookie for the new-cta, the current-cta loaded the page correctly, with the current UX.
This should be working as expected on AMO dev - with Chrome/Edge

2. UX issues observed:
https://github.com/mozilla/addons-frontend/issues/10399
https://github.com/mozilla/addons-frontend/issues/10400

[2021-04-16 14:51] #9811 closed

[2021-04-16 14:55] championshuttler commented on #10289
@willdurand you suggesting using media query for safari with `word-break: break-all;` ;)

Though do we have any real addons with unbroken strings in their title, William could you confirm?

[2021-04-16 14:58] willdurand commented on #10289
I don't think so but it's up to the users.

[2021-04-16 15:29] championshuttler commented on #10400
I can work on it once its triaged ;)

[2021-04-16 17:14] jvillalobos commented on #10252
+1

[2021-04-16 17:30] jvillalobos opened #10403 "Consider showing non-review warning for non-Firefox clients"
If you visit any listing page on AMO using a non-Firefox client, you get a Download Firefox button instead of the usual Install button. Currently, Recommended add-ons benefit from a feature called Return to AMO that allows that Download flow to facilitate users to get the extension right after they install Firefox. We plan to expand this feature to work for all listed add-ons, and that brings up t

[2021-04-16 19:28] bqbn commented on #10343
https://github.com/mozilla-services/cloudops-deployment/pull/4184 is now merged and hopefully will be deployed next week.

[2021-04-17 01:09] moz-hwine commented on #10352
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-17 01:09] #10352 closed

[2021-04-17 07:46] harl opened #10405 "Add-on reviews, letters hidden (fractionally) by rounded corners"
On pages with add-on reviews that contain at least one line of text, the lower left corner of the text is sometimes hidden by the rounded corner overlapping(?) the text and cutting off certain letters' tails below the typographical font baseline, most prominently with the lower letters p and g, but other letters are affected as well (even upper letters, although this may seem petty).

![210417_add

[2021-04-17 13:47] willdurand opened #10406 "Do not set clientApp and locale in links generated by the `Header` for the blog"
We introduced a prop to render the `Header` or addons-blog in https://github.com/mozilla/addons-frontend/issues/10382 but URLs contain `firefox` and `en-US` (the default values). We should change that to have no clientApp and no locale instead so that users will be redirected to AMO according to their user agent.

For QA: when this is closed, the blog should have no `clientApp` or `locale` in the

[2021-04-17 13:50] willdurand opened #10407 "Show "More..." in the Header for the blog"
In #10382, we added some code to render the `Header` component for addons-blog. The "more..." link/dropdown was hidden because of a UI issue but after the last UX meeting, it was decided to:

1. show this "More..." link in the header of the blog
2. put the link to the Blog in the dropdown menu

[2021-04-17 20:02] willdurand opened #10409 "A locale file contains an error"
See: https://app.circleci.com/pipelines/github/mozilla/addons-frontend/4622/workflows/44abf27c-519e-4d23-a4a0-f2ca119354e1/jobs/31758

[2021-04-17 20:50] championshuttler commented on #10409
Ohh s is missing at the end IMO

[2021-04-17 22:21] #10409 closed

[2021-04-18 14:29] championshuttler commented on #10400
May be we can increase font-weight a little bit for these banners

[2021-04-19 01:18] #10390 closed

[2021-04-19 01:18] moz-hwine commented on #10390
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-19 07:40] ioanarusiczki opened #10414 "Some layout issues on iOS - with unbroken strings"
I'll add what I said here: https://github.com/mozilla/addons-frontend/issues/10289#issuecomment-821165825

On homepage long unbroken strings break the layout of the page on iOS and that's because the page is https://addons-dev.allizom.org/en-US/firefox/ . Also on Android with Chrome the issue is reproducible. On the other hand the android page can be accessed with https://addons-dev.allizom.org/en

[2021-04-19 07:41] willdurand opened #10415 "Langpicker in Footer should be aligned with the column above it"
### Describe the problem and steps to reproduce it:

1. Browse any page on AMO, scroll down to see the footer

### What happened?

![Screen Shot 2021-04-19 at 09 40 43](https://user-images.githubusercontent.com/217628/115199266-51837980-a0f3-11eb-9c69-5c224f689117.png)

### What did you expect to happen?

The language picker should be aligned on the right side (for non-RTL locales). It should be a

[2021-04-19 07:43] willdurand opened #10416 "Username is not vertically aligned with the other external links in the header"
### Describe the problem and steps to reproduce it:

1. Go to AMO
2. Log in
3. Observe the menu with your username

### What happened?

It's not aligned with the other links:

![Screen Shot 2021-04-19 at 09 31 50](https://user-images.githubusercontent.com/217628/115199448-81328180-a0f3-11eb-9fbc-159ed7c5d0a3.png)

### What did you expect to happen?

Not that.

[2021-04-19 08:01] willdurand commented on #10414
Yeah, this is a known-issue. We fixed something for Safari in #10289 but it does not help with long strings (only with long sentences). I am not quite sure what our options are because `anywhere` seeems like the best option available to us, sadly not available on Safari...

Reading about all those properties and values, I think `overflow-wrap: anywhere` does what `word-break: break-word` is suppos

[2021-04-19 08:03] willdurand commented on #10400
I don't quite understand the problem here. Is that the text appears too "thin" as @championshuttler suggested?

[2021-04-19 08:04] willdurand commented on #10405
I suggest we increase the default `line-height` to fix this issue (`1.5` should be better if default font size is `16px`).

[2021-04-19 08:10] ioanarusiczki commented on #10375
@bobsilverberg This is fixed on AMO dev - FF87(Win10)

![fixed](https://user-images.githubusercontent.com/33448286/115202911-8f869a80-a0ff-11eb-893b-961df098ff55.png)

About the other Download button (RTAMO type), I may have something at medium size screens with extensions only:

![ux issue for the download medium size](https://user-images.githubusercontent.com/33448286/115203016-aaf1a580-a0ff-11e

[2021-04-19 08:18] willdurand opened #10417 "UX issue with "Download file" links on small screens"
### Describe the problem and steps to reproduce it:

1. Browse a "all versions" page on AMO with a mobile device or small screen
2. Observe the "download file" links

### What happened?

Download file links appear at the bottom right of each card, with no padding so it looks a bit broken:

![signal-2021-04-16-205811](https://user-images.githubusercontent.com/217628/115204038-58f95180-a0f8-11eb-9cb

[2021-04-19 08:22] championshuttler commented on #10414
I dont think too it will affect, IIRC I tested too back then, @muffinresearch may be can confirm?

Context is overflow-wrap: anywhere is not supported in Safari, only `word-break: break-word;`

[2021-04-19 09:47] Patil2099 commented on #10415
Hi, @willdurand  I would like to take this issue.

[2021-04-19 09:52] #10406 closed

[2021-04-19 11:35] ioanarusiczki commented on #10406
@willdurand
1. for
https://addons-dev.allizom.org/en-US/blog
https://addons-dev.allizom.org/firefox/blog

message is:

![another 404](https://user-images.githubusercontent.com/33448286/115226378-d7192080-a117-11eb-802b-cade322ef78c.png)

Maybe it should look like all the other 404 pages (like below) ?

for https://addons-dev.allizom.org/en-US/firefox/blog

message is:

![404](https://user-images.g

[2021-04-19 11:45] willdurand commented on #10406
Could you file an issue for that? I don't really know why it is doing this, but there must be a reason and it is not related to this issue. You're right, it should either fix the url itself or show a "page not found" error, but not that.

This is expected, that URL does not exist.

Yes, this is expected. The only "unexpected" change is that there is no "More..." link on the blog and, instead, a "B

[2021-04-19 11:50] ioanarusiczki commented on #10376
@bobsilverberg Re-checked this morning the experiment with Edge - deleting the experiment cookie without login (because of the caching) and then with login and I did not see issues.

If there's anything else I should be looking for please let me know.

[2021-04-19 11:54] ioanarusiczki commented on #10381
@diox Please add some STR for qa in case it can be verified.
Thanks!

[2021-04-19 12:24] AlexandraMoga opened #10423 "Rating stars inside the Write a review form are misaligned"
### Describe the problem and steps to reproduce it:
1. Log into AMO
2. Open an add-on detail page
3. Post a rating
4. Click on the Write a review button to open the review form
5. Notice the rating stars alignment compared to the accompanying text

### What happened?
The rating stars are misaligned

### What did you expect to happen?
The rating stars are correctly aligned

### Anything else we sho

[2021-04-19 12:29] ioanarusiczki commented on #10374
@diox Please add some str for qa.
Thanks

[2021-04-19 12:37] bobsilverberg opened #10425 "Enable the CTA experiment on stage and prod"
This issue is about enabling the CTA experiment on stage and prod.

@jvillalobos Are we good to enable the experiment on prod this week? I believe all the important issues have been verified on dev already.

[2021-04-19 12:53] bobsilverberg commented on #10423
I guess we have no way of knowing if this was introduced last week, or possibly earlier than that? I don't recall anything landing last week that should have affected this. I will take a look to see if I can diagnose/fix it.

[2021-04-19 12:53] ioanarusiczki commented on #10351
@bobsilverberg Verified on AMO dev - FF87(Win10).

![on AMO dev](https://user-images.githubusercontent.com/33448286/115239411-5a8e3e00-a127-11eb-8ce3-2a5cbd0792a0.png)

[2021-04-19 12:54] bobsilverberg commented on #10376
Thanks @ioanarusiczki. I assume the above means you verified the enrollment events sent to GA? Is so, then I don't think there's anything else that needs to be checked.

[2021-04-19 13:12] ioanarusiczki commented on #10308
@eviljeff The issue from https://github.com/mozilla/addons-frontend/issues/10308#issuecomment-814879754 is no longer reproducible on AMO dev - FF87(Win10).
I did not notice other issues while checking other URLs when they're missing locale, app or both.

[2021-04-19 13:35] bobsilverberg commented on #10400
I mentioned this issue in the UX meeting. The colour used for this text is not exactly black, so I think the colour itself could be darker and that might fix the issue, rather than increasing the font-weight. I notice that on this page we have at least three different colours that are close to, but not exactly, black, and I'm not sure if that is intentional, or just a result of different elements

[2021-04-19 13:36] AlexandraMoga commented on #10405
I believe this issue describes a similar problem to what is tracked in #10267 - which could also be fixed by adjusting the default `line-height`.

[2021-04-19 13:51] bobsilverberg commented on #10405
It sounds like, as a precursor to https://github.com/mozilla/addons-frontend/issues/10251, we should just increase the default line height to 1.5, and then further tweak it in https://github.com/mozilla/addons-frontend/issues/10251.

This is already proposed in https://github.com/mozilla/addons-frontend/pull/10412, so I'll just double check that that seems okay overall and if it does, then let's m

[2021-04-19 14:00] #10399 closed

[2021-04-19 14:32] #10407 closed

[2021-04-19 15:26] #10423 closed

[2021-04-19 17:07] #10267 closed

[2021-04-19 17:10] bobsilverberg commented on #10251
Bumping this to a P2 because we want to possibly change the default line-height for headings since we updated the default line-height to 1.5 in #10412.

[2021-04-19 17:55] bobsilverberg commented on #10375
I'll just comment here, and add this to the new issue when it is opened, that this only seems to occur very close to a breakpoint. Specifically, I only see this with a screen resolution between 720px and 730px, so while it would be nice to fix, I'm not sure it's particularly critical.

[2021-04-19 20:54] xlisachan opened #10438 "Add `addonType` property to homepage shelves"
Add `addonType` property to the homepage shelves to help differentiate the type of add-ons it contains (e.g., extensions or themes). This will also handle the number of add-ons displayed across each shelf (4 for extensions, 3 for themes).

[2021-04-19 21:56] #10425 closed

[2021-04-20 01:11] moz-hwine opened #10440 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 4](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096574/git_history_browser_extension-1.1.1-an+fx.

[2021-04-20 07:08] ioanarusiczki opened #10442 "RTAMO Download button from the experiment looks truncated at a specific resolution"
From https://github.com/mozilla/addons-frontend/issues/10375#issuecomment-822635676

while resizing the browser - somewhere between 720px and 730px there's a layout issue with the download button and the yellow banner as in the image below:

![ux issue for the download medium size](https://user-images.githubusercontent.com/33448286/115203016-aaf1a580-a0ff-11eb-81b5-91be4d5a028d.png)

Reproducible

[2021-04-20 07:25] ioanarusiczki opened #10443 "Unexpected result when accessing the blog using a locale or app in the URL"
From https://github.com/mozilla/addons-frontend/issues/10406#issuecomment-822398312

the 2 URLs
https://addons-dev.allizom.org/en-US/blog
https://addons-dev.allizom.org/firefox/blog

Should either fix themselves and redirect to https://addons-dev.allizom.org/blog/ or show a 404 page.

Right now: (actual)

![another 404](https://user-images.githubusercontent.com/33448286/115226378-d7192080-a117-11e

[2021-04-20 07:27] willdurand commented on #10443
This should be fixed _via_ https://github.com/mozilla/addons-frontend/issues/10396 (cc @eviljeff)

[2021-04-20 07:28] #10414 closed

[2021-04-20 07:30] ioanarusiczki commented on #10406
@willdurand Done https://github.com/mozilla/addons-frontend/issues/10443

I've noticed something about the footer of the blog too ->  From https://addons-dev.allizom.org/blog/ all external URLs are opened in a new tab.
On other AMO pages (homepage, extensions, search results, about and so on) - all footer URLs open in the same tab.

[2021-04-20 07:51] AlexandraMoga commented on #9811
I've verified the All versions page on -dev and these are my results:

- the Add to Firefox/Install Theme/Remove buttons have been replaced with 'Download file' links for older versions
- the Latest version will still display the install button
- in Firefox, Download links trigger an installation - but this has been mentioned several times before and it's the accepted use case
- in other browsers,

[2021-04-20 08:39] eviljeff commented on #10443
`blog` needs to be in `clientAppRoutes` too.  But yeah, that's going away with #10396 so that fixes it instead.

[2021-04-20 09:20] diox opened #10444 "Improve Dictionaries and Language Packs (Language Tools) performance"
The [Dictionaries and Language Packs](https://addons.mozilla.org/en-US/firefox/language-tools/) can be slow to load sometimes. This is probably essentially caused by the API being slow.

Ideas to improve it:
- Find ways to speed up the API. We should look into optimizing the query, and figuring out if we can cut down the resulting JSON even more. Ultimately though, it's still going to be a lot of

[2021-04-20 09:24] diox opened #10445 "Investigate Add-on reviews page performance issues"
The add-on reviews pages (`/{language}/{app}/addon/{slug}/reviews/`) often show up in Google Search Console has having bad performance. We should investigate and find ways to improve it.

[2021-04-20 09:25] diox opened #10446 "Investigate Add-on versions page performance issues"
The add-on versions pages (/{language}/{app}/addon/{slug}/versions/) often show up in Google Search Console has having bad performance. We should investigate and find ways to improve it.

[2021-04-20 09:53] diox commented on #10374
I know comparing dev and prod performance is... questionable at best, but this is encouraging:

(Each time I actually did several rounds to prime the cache, and then ran the command multiple times to ensure results were all consistent - they were)
[code]
[code]

[2021-04-20 11:25] ioanarusiczki commented on #10376
@bobsilverberg

What I verified for https://github.com/mozilla/addons-frontend/issues/10218#issuecomment-819462850 is still available.

I managed to take a screenshot from the Console for the events so this also verifies https://github.com/mozilla/addons-frontend/issues/10359

1. The current cta events:

Download firefox blue button is clicked:

![event sent for the general download button](https:

[2021-04-20 11:28] AlexandraMoga commented on #10416
Looking in other browsers, looks like the 'Download Firefox' and the 'Register and Log in' buttons are also misaligned. Not sure if that could be fixed as part of the same issue or if we should address that separately.

![image](https://user-images.githubusercontent.com/31961530/115388200-43615600-a1e4-11eb-9018-cf1ffc10e62a.png)

[2021-04-20 11:58] ioanarusiczki opened #10447 "Hovering over More from the blog page should display the drop down menu"
STR:
Go to https://addons-dev.allizom.org/blog/ and hover over the "More" menu

Expected result:
The drop down menu should be displayed

Actual result:
menu is not visible - More must be clicked once

![while hovering](https://user-images.githubusercontent.com/33448286/115392005-c4225100-a1e8-11eb-900c-34f7f68b80b0.gif)

[2021-04-20 12:06] ioanarusiczki commented on #10407
@willdurand
1. "More" is available from the blog page - there's a UX issue I filed https://github.com/mozilla/addons-blog/issues/157
2. Blog is available in the dropdown menu from More
3. on Android - I can access https://addons-dev.allizom.org/blog/ from the footer of the page and it will redirect to the same content as the desktop. To access https://addons-dev.allizom.org/en-US/android/ again ei

[2021-04-20 12:32] ioanarusiczki commented on #10399
@bobsilverberg Verified on AMO dev with Chrome

![fixed](https://user-images.githubusercontent.com/33448286/115396406-c8734d80-a199-11eb-8778-6bd0d845b024.png)

[2021-04-20 12:42] AlexandraMoga commented on #10329
This issue was fixed on -dev by https://github.com/mozilla/addons-server/issues/16952:

![image](https://user-images.githubusercontent.com/31961530/115397551-e6b76880-a1ee-11eb-9ec5-7d7575229e6d.png)

[2021-04-20 12:42] #10329 closed

[2021-04-20 12:50] ioanarusiczki commented on #10267
@bobsilverberg
@championshuttler

On AMO dev - search filters look good now and I see the line-height at 1.5

![some spacing](https://user-images.githubusercontent.com/33448286/115398312-e2159480-a19b-11eb-973b-3cfac04e6e2a.png)

Display name looks the same as before and I think here line-height is at 1.15 right now

![as before](https://user-images.githubusercontent.com/33448286/115398641-39b4000

[2021-04-20 12:54] bobsilverberg commented on #10376
Yes, the `utm_content` is expected to be different between the add-on detail page and the banner.

[2021-04-20 13:00] bobsilverberg commented on #9811
This is a good point. We felt it made sense to display the install button for the most recent version, but this is a result of doing that. We end up with a "Remove" button displayed beside the most recent version if the add-on is installed, regardless of which version is installed. I think this is probably fine, as if someone really wants to remove the add-on they likely don't care which version i

[2021-04-20 14:03] #10397 closed

[2021-04-20 14:25] ioanarusiczki opened #10448 "Layout issues on AMO dev - with long unbroken strings"
@bobsilverberg @willdurand

This could be a regression - right now on homepage I see some layout issues with long unbroken strings in the primary and secondary hero sections and also the name of the addons look truncated on shelves

![cut](https://user-images.githubusercontent.com/33448286/115412011-a5c65080-a1fc-11eb-8fd9-d22d4d897bd6.png)

![cut2](https://user-images.githubusercontent.com/334482

[2021-04-20 14:31] #10396 closed

[2021-04-20 14:32] #10236 closed

[2021-04-20 14:41] AlexandraMoga commented on #10423
This issue is verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/115414686-eb841880-a1fe-11eb-8311-f20b8a4fea95.png)

![image](https://user-images.githubusercontent.com/31961530/115414728-f3dc5380-a1fe-11eb-99d0-386e99d9730c.png)

[2021-04-20 14:41] bobsilverberg commented on #10448
This appears to be a regression from https://github.com/mozilla/addons-frontend/pull/10426. `word-wrap: break-word` is taking precedence over `overflow-wrap: anywhere`. Maybe we can just reverse the order of them? I'll give that a try.

[2021-04-20 15:01] AlexandraMoga opened #10449 "The Flag review menu items overflow in locales with long strings (de) on small screens"
### Describe the problem and steps to reproduce it:
1. Log into AMO and change your locale to `/de/`
2. Navigate to an add-on's All reviews page in mobile view
3. Click on Flag for one of the available reviews

### What happened?
The Flag menu items overflow

### What did you expect to happen?
No layout issues

![image](https://user-images.githubusercontent.com/31961530/115418706-5edb5980-a202-11e

[2021-04-20 15:44] willdurand commented on #10448
FTR: it wasn't that actually, the css property was incorrect. It should have been `word-break` instead of `word-wrap`.

[2021-04-20 15:49] bobsilverberg commented on #10400
Looking at the colours on this page, I see that:
- the text in the yellow download callout is `#1d1d1d`, which is the default body colour.
- the text in the yellow warning about being careful with old versions is `#0c0c0d`, which is specific to this warning text.
- the text of the "Latest version" heading is `#000`, which is the default for an `h1`.
- the text of the card heading that says "Video

[2021-04-20 15:52] #10442 closed

[2021-04-20 16:00] jvillalobos commented on #10400
This sounds good to me for internal consistency with other yellow callouts.

It's crazy how many variants of black we have, and it's not clear to me that they make much difference compared with `#000000`. That's a separate discussion to have, though.

[2021-04-20 16:01] championshuttler commented on #10400
We also have a different color for release data `#737373`, its not black though, but was it also intentional @jvillalobos ? I could fix it up for yellow text

[2021-04-20 16:10] bobsilverberg commented on #10400
@championshuttler Please go ahead and change the colour for the download callout and the heading banner to `#0c0c0d`.

[2021-04-20 16:11] championshuttler commented on #10400
@bobsilverberg I did but IMO stil it looks blurry to me WDYT?

![Uploading image.png…]()

[2021-04-20 16:12] bobsilverberg commented on #10400
I think it looks fine to me. I think it's a decent, interim fix.

[2021-04-20 16:33] championshuttler commented on #10449
May be for another issue but this looks really bad, i think we can prevent `Flag` to break

![image](https://user-images.githubusercontent.com/22130317/115432540-1d5ba600-a224-11eb-9d5a-55ac33a7919e.png)

@AlexandraMoga can you confirm if you see this? I am FF desktop and changed the size to mobile screen

[2021-04-20 16:40] #10400 closed

[2021-04-20 16:41] jvillalobos commented on #9811
Yes, they're unlikely to know or care which version they have installed, so I think it's fine to leave that as is.

[2021-04-20 16:42] championshuttler commented on #10449
Possible regression from `word-break: break-word;` @willdurand ?

[2021-04-20 16:46] bobsilverberg commented on #10449
Ugh, we just fixed that awhile ago.

[2021-04-20 16:51] bobsilverberg commented on #10449
I can confirm this is a regression from `word-break: break-word;`. ☹️

[2021-04-20 16:53] championshuttler commented on #10449
May be if we add `word-break: break-word; just for safari globally via media query @bobsilverberg ? and then prevent that rendering here for this class, idk how to do that though, have to look up?

[2021-04-20 16:55] bobsilverberg commented on #10449
I guess we can specify `word-break: normal;` for this element, and hope this doesn't occur in too many other places? I know this specific element was an issue before.

None of this addresses the original issue filed above though, this is just about the second screenshot added by @championshuttler.

[2021-04-20 16:56] bobsilverberg commented on #10449
@championshuttler Further to the above, can you file a separate issue for this? It's not the same problem. That is unless you plan to try to fix both issues with a single patch.

[2021-04-20 16:57] championshuttler commented on #10449
Yeah sure, i just found out this while triaging the mentioned bug

[2021-04-20 16:59] bobsilverberg commented on #10449
I think that the problem shown in the second screenshot is more critical to fix, so a separate issue probably makes sense.

[2021-04-20 17:01] championshuttler opened #10452 "Flag button is breaking on small screen"
While triaging #10449, I found Flag button in reviews is breaking and it was possible regression from `word-break:break-word` we added for safari 😢

![image](https://user-images.githubusercontent.com/22130317/115436013-18005a80-a228-11eb-89cb-2d174bd43ecf.png)

[2021-04-20 17:01] championshuttler commented on #10449
Filed #10452

[2021-04-20 17:35] willdurand commented on #10449
Ugh.

[2021-04-20 17:36] willdurand commented on #10400
Why not using `$black` everywhere?

[2021-04-20 17:38] championshuttler commented on #10400
I had the same thought

[2021-04-20 18:33] championshuttler opened #10453 "Font Color for banners and warnings should be $grey-90"
### Describe the problem and steps to reproduce it:

Follow up on #10451, we should change color to `grey-90` for better look, right now we have so many variables and scss, so its a attempt to start unifying them slowly

### What happened?

### What did you expect to happen?

better banners and warning font colors

[2021-04-20 19:11] #10453 closed

[2021-04-21 01:08] #10440 closed

[2021-04-21 01:08] moz-hwine commented on #10440
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-21 09:06] ioanarusiczki commented on #10448
@bobsilverberg Verified on AMO dev - FF87, Edge (Win10) - things are back to normal meaning I don't see the above issues anywhere on frontend.

[2021-04-21 09:10] diox commented on #10452
@championshuttler can you provide more information regarding how to reproduce for this issue ? I don't see the problem even on small screens. Do I need a specific browser, is it happening on a specific page, are you seeing this in production, on your local environment, on dev or stage ?

[2021-04-21 09:21] championshuttler commented on #10452
@diox So I ran amo:dev locally and resize the browser to mobile screen in Firefox 88 happening in other browsers too, if you click on Flag button it will break,  its happening on desktop too, I tested for http://localhost:3000/en-US/firefox/addon/search_by_image/reviews, also @bobsilverberg also tested see in #10449, I am attaching video for your reference

https://user-images.githubusercontent.co

[2021-04-21 11:15] AlexandraMoga commented on #10452
I confirm that I can reproduce this too on -dev and stage both on desktop(Win10, FF88) and mobile (Android, latest Fenix).

[2021-04-21 11:50] ioanarusiczki commented on #10425
@bobsilverberg Last checks on AMO stage - I looked around with Chrome and Edge and marking this verified.  👍

[2021-04-21 12:19] ioanarusiczki opened #10458 "At a resize - the menu from the top of the pages has layout issues"
This has regressed - on AMO prod right now looks good but not on dev and stage

![broken header](https://user-images.githubusercontent.com/33448286/115552364-17d08100-a261-11eb-8d47-3359c846ed4f.png)

[2021-04-21 12:20] ioanarusiczki commented on #10442
@bobsilverberg This is verified on AMO stage - with Chrome and Edge

![720px](https://user-images.githubusercontent.com/33448286/115552183-dcce4d80-a260-11eb-9bea-5c52165719ae.gif)

I filed https://github.com/mozilla/addons-frontend/issues/10458 because while checking this issue I've noticed it.

[2021-04-21 12:24] AlexandraMoga commented on #10381
@diox I've noticed the change in the Response headers concerning `Vary`.

Previously, this is what the response headers looked like:
[code]

Now, we have this structure - the first being the Vary set by nginx and the second being set by the frontend:
[code]

I've looked in several browsers on desktop and mobile to see if the user agent is detected accordingly. For example, in Firefox browsers I've

[2021-04-21 12:25] #10416 closed

[2021-04-21 12:35] bobsilverberg commented on #10458
@willdurand @championshuttler This is a regression from the addition of `word-break: break-word;`. ☹️

I think we can fix it by overriding that property for just these elements, and hopefully we won't have to do that too often.

[2021-04-21 12:37] bobsilverberg opened #10459 "src/locale/ia/amo.js has an error"
See https://app.circleci.com/pipelines/github/mozilla/addons-frontend/4726/workflows/43ae0891-27b0-4b2d-91ee-904781b2b6a7/jobs/32521

This is causing the build to fail.

[2021-04-21 12:39] #10452 closed

[2021-04-21 12:39] willdurand commented on #10458
ugh, again!

[2021-04-21 12:42] championshuttler commented on #10459
On it!

[2021-04-21 12:44] bobsilverberg commented on #10458
My sentiments exactly!

[2021-04-21 12:47] championshuttler commented on #10458
Can we render that `word-break: break-word;` specifically for safari/ios for now atleast it will save us for meantime to not break things on FF and Chrome? https://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome

[2021-04-21 12:48] ioanarusiczki commented on #10400
@bobsilverberg

For the banner and yellow warnings from the detail pages the color is  #0c0c0d;

Banner

![banner](https://user-images.githubusercontent.com/33448286/115555937-f1ace000-a264-11eb-8e88-8c0c330c9bc6.png)

Detail page

![0c0c0d](https://user-images.githubusercontent.com/33448286/115555975-fd000b80-a264-11eb-8d2b-70d5dc03838f.png)

[2021-04-21 12:58] bobsilverberg commented on #10458
I'm not sure if we want to introduce a safari-only hack. WDYT @willdurand?

[2021-04-21 13:07] willdurand commented on #10458
If we can only have `word-break: break-word` for Safari, that would be nice but the SO answers have way too many hacks in there so it does not look like there is a good/common solution for targeting Safari only (I did try `-webkit-word-break` but that doesn't work).

[2021-04-21 13:13] ioanarusiczki commented on #10397
@xlisachan This is verified on AMO dev - FF87(Win10).

![newtabfix1](https://user-images.githubusercontent.com/33448286/115559547-a4327200-a268-11eb-9fbf-768281706d64.gif)

[2021-04-21 13:18] championshuttler commented on #10458
Hey @willdurand , its working I guess

--- a/src/amo/components/App/styles.scss
+++ b/src/amo/components/App/styles.scss
@@ -35,7 +35,11 @@ textarea {
   // container does not have a well-defined width.
   overflow-wrap: anywhere;
   // This is needed for Safari, which does not support `anywhere`.
-  word-break: break-word;
+  @media not all and (min-resolution:.001dpcm) {
+    @supports (-webkit-

[2021-04-21 13:28] diox commented on #10269
From the waterfalls we've seen since enabling HTTP/2 it doesn't seem worth doing - browsers are already relatively smart at prioritizing things.

[2021-04-21 13:28] #10269 closed

[2021-04-21 13:56] xlisachan opened #10463 "Remove `search-themes` endpoint from homepage shelves"
Pending #10439, as the `addon_type` property for homepage shelves will differentiate the type of shelves, `search-themes` endpoint will not be used/needed. Remove `search-themes` endpoint and clean up tests.

[2021-04-21 14:03] bobsilverberg commented on #10458
My concerns are the same as @willdurand's. What might work now, might not work in a future version of Safari, based on the multitude of hacks that seem to be suggested for different versions. We definitely don't want something we have to change to support future versions, so I'm a r- on this safari-only approach. WDYT @willdurand?

[2021-04-21 14:07] #10459 closed

[2021-04-21 14:23] willdurand commented on #10458
Yes, let's keep what we have and see if it breaks other things. If it's only 3 or 4 elements that we need to adjust, it's fine. More than that and we'll have to consider something else.

[2021-04-21 14:26] AlexandraMoga opened #10464 "Icons in information banners are not aligned to the text"
### Describe the problem and steps to reproduce it:
1. Log in to AMO with an account that has some collections
2. Open an add-on detail page
3. Scroll down to the Add to collection card
4. Add the add-on to one of your collections
5. Notice the confirmation banner displayed

### What happened?
The icon and the message in the banner don't have the same alignment

### What did you expect to happen?

[2021-04-21 14:34] bobsilverberg commented on #10464
I feel like this exact same issue came up, and was fixed, awhile ago. Does that ring a bell for you too @AlexandraMoga?

[2021-04-21 14:38] AlexandraMoga commented on #10464
@bobsilverberg Yes, I'm sure this was brought up during the font size increase and was fixed with a bundle of other issues. Now it resurfaced.

[2021-04-21 14:43] #10458 closed

[2021-04-21 14:55] #10438 closed

[2021-04-21 14:56] AlexandraMoga commented on #10464
Actually, comparing to the screenshots from above, AMO-prod is looking better (items still look slightly misaligned to me), so the problem reported now is only in -dev and stage:

[Prod]
![image](https://user-images.githubusercontent.com/31961530/115574543-65cd9f00-a2ca-11eb-8943-627c1df0aa35.png)

[2021-04-21 14:56] bobsilverberg commented on #10357
This should be fixed by #10439, along with the landing of https://github.com/mozilla/addons-server/pull/16967.

[2021-04-21 14:57] #10357 closed

[2021-04-21 15:01] bobsilverberg commented on #10464
It looks like it relates to the `line-height` change from https://github.com/mozilla/addons-frontend/commit/ede59eb38ed31cb5736b536cf1469c616a9f0518. I'm not sure if we want a specific fix to target these notifications with icons, or if this is something we should address via https://github.com/mozilla/addons-frontend/issues/10251 when we take a fresh look at all line-heights.

WDYT @willdurand? I

[2021-04-21 15:08] bobsilverberg commented on #10216
@AlexandraMoga Just bumping this again. Can this be closed?

[2021-04-21 15:31] bobsilverberg commented on #10417
I think the problem here isn't the lack of padding below the Download file link, it's the gap between each version, which really shouldn't be there. If we remove that gap (which appears as grey), it looks much better. I'll include a screenshot with the PR to fix it.

[2021-04-21 15:48] AlexandraMoga commented on #10216
Ah, yes, I forgot about this issue. I think the font is more readable now with the increased size.

[2021-04-21 15:48] #10216 closed

[2021-04-21 15:56] bobsilverberg commented on #10403
While I agree that ideally the user would see something similar when browsing AMO and in-client as part of the RTAMO workflow, the point I raised in the meeting was that displaying the warning for non-Firefox clients could discourage people from downloading Firefox at all, which I think we want to avoid. I think we'd be better off showing the warning only on the client as part of the RTAMO flow. I

[2021-04-21 16:48] jvillalobos commented on #10403
The counterargument to this is that if a user is downloading Firefox on an add-on page, it's likely that they are interested in getting the add-on and want to install Firefox _because_ of the add-on. Showing the warning at the very last step of this process can feel like a bait-and-switch IMO, and could impact the activation rate for those users.

There are a couple of questions to answer here: (1

[2021-04-21 18:12] #10417 closed

[2021-04-22 01:08] moz-hwine opened #10468 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 2](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096489/webextension_with_image-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1097049/facebook_container-65535.0.0.1-an+fx.xp

[2021-04-22 07:32] ioanarusiczki commented on #10458
@bobsilverberg On desktop - on non-FF browsers on AMO stage - More overlaps the search bar
It is not reproducible on Firefox.

Chrome versus Firefox

![Chrome versus Firefox](https://user-images.githubusercontent.com/33448286/115674028-186d2400-a302-11eb-86be-d17767787566.png)

[2021-04-22 07:43] ioanarusiczki commented on #10267
@bobsilverberg I can't tell if https://github.com/mozilla/addons-frontend/issues/10251 would help in this matter or https://github.com/mozilla/addons-frontend/issues/10405.

Since the letter truncation is still visible maybe these issue should be reopened.

[2021-04-22 09:49] willdurand opened #10469 "Disable `download_cta_experiment`"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1697793

---

The experiment relies on `utm_campaign`, which is also used for RTAMO. A value other than `non-fx-button` will break RTAMO and the `download_cta_experiment` experiment changes it, which is why we should disable this experiment and re-enable it once we have a plan.

[2021-04-22 09:51] willdurand opened #10470 "Make sure we set `utm_campaign` to `non-fx-button` in "download FF" link"
See: bugzilla.mozilla.org/show_bug.cgi?id=1697793

---

The RTAMO flow (see: https://docs.google.com/document/d/1vXpEg_ypqr-eiXu6pWBDiyQWwf_rxYhHAGnsp3qwpCo/edit#heading=h.qfzhhiib3sm5) works when specific UTM params are defined with fixed values. For example, `utm_campaign` should always be `non-fx-button`.

[2021-04-22 12:54] #10469 closed

[2021-04-22 12:54] #10470 closed

[2021-04-22 13:24] diox opened #10472 "Download button on non-Firefox browsers is truncated in various locales"
### Describe the problem and steps to reproduce it:
Load an add-on detail page on mobile with Chrome, in French or German.

### What happened?
The download with Firefox button next to the add-on summary is truncated

### What did you expect to happen?
The download with Firefox button text should be fully visible

### Anything else we should know?
![facebook_container_mobile_fr](https://user-images

[2021-04-22 13:27] willdurand commented on #10472
I think we fixed a similar problem not too long ago (probably for the other version of the button). IIRC our `.Button` sets `white-space` in a way that does what's shown in the screenshot above.

[2021-04-22 13:33] rik opened #10473 "Display text earlier"
## Issue
Text can be the LCP for some pages, depending on the content and the resolution. Without access to metrics, I'm not sure how many cases that could represent but might be worth investigating. I think all mobile visits would fall in that category. And that's 46% of the page views in your CrUX report.

Here's a dramatic example: [Best connection ever, from Australia, on a 1024×768 screen, vi

[2021-04-22 14:03] willdurand opened #10474 "Replace mozilla-version-comparator"
We do have our own comparator now! See: https://github.com/mozilla/addons-moz-compare

For QA: this affects the compatibility logic, more specifically the browser version is compared to the min/max version of an add-on.

[2021-04-22 14:06] bobsilverberg commented on #10472
We don't seem to have a default for `white-space` for `.Button`, but it is set for specific buttons in a number of places. We need to be careful, because we do want `nowrap` at some screen resolutions. One thing to note is that this problem will be somewhat mitigated if we end up keeping the new buttons from the experiment as the text will be a bit shorter, but I agree we should fix this.

[2021-04-22 14:09] rik commented on #10473
I see there were some recent changes in this area: https://github.com/mozilla/addons-frontend/issues/10222

[2021-04-22 14:09] ioanarusiczki commented on #10469
@willdurand

I checked on AMO dev and AMO stage - with Chrome and Edge - I no longer see the experiment cookie, new-cta not displayed.
Looks good.

[2021-04-22 14:22] ioanarusiczki commented on #10470
@willdurand

Clicking the download button on the detail page:

utm_campaign: non-fx-button
utm_content: rta:QGNvbnRhaW4tZmFjZWJvb2s
utm_medium: referral
utm_source: addons.mozilla.org

Clicking "Download Firefox" button:
utm_campaign: non-fx-button
utm_content: header-download-button
utm_medium: referral
utm_source: addons.mozilla.org

Verified on AMO stage - with Chrome

[2021-04-22 14:22] diox commented on #10473
Yeah, when we switched from Fira to Inter, we initially had `font-display: swap`, but the flash of content as the font loaded was deemed too brutal to apply for everyone for the whole website.

I don't think we can preload the font, not without completely changing the strategy to make it lighter (https://github.com/mozilla/addons-frontend/issues/10290) and even then, I don't think we want to prior

[2021-04-22 15:14] ioanarusiczki commented on #10236
verified on AMO stage - FF88(Win10)

[2021-04-22 15:14] ioanarusiczki commented on #10396
Verified on AMO stage - FF88(win10).

[2021-04-22 15:14] bobsilverberg opened #10476 "Deal with the need to revert `utm_campaign` changes"
We had to [revert the recent changes to the value of `utm_campaign`](https://github.com/mozilla/addons-frontend/issues/10470) for the Download Firefox button because they broke RTAMO. Those changes were required for the following:

1. To be able to attribute Firefox downloads on mozilla.org to either the new CTA or the old CTA.
2. To capture the `addonId` in telemetry so it can be reported upon. T

[2021-04-22 15:45] bobsilverberg commented on #10476
Partially answering my own question, but still looking for confirmation, but in redash I only see `attribution.campaign`, `attribution.content`, `attribution.medium` and `attribution.source`. I don't see `attribution.term`, so I assume it's not captured, or maybe it just hasn't been captured because it's never been used?

[2021-04-22 15:53] eviljeff opened #10478 "remove the variable italic font file"
spun out from #10290

We use italics very sparingly on frontend - that I can see, only the UsersUnsubscribe-content-notification class, and developer defined content. Using the variable font file is a net saving when we're using many different font weights; but it can be a net cost if we only use 1 or 2 - which we appear to, and not even on the same page - so we should switch italic back to single

[2021-04-22 15:55] eviljeff commented on #10290
logged #10478 to drop the variable italic font file (so the browser would use the individually weighted files instead).  Synthesizing seems to have some OS/Browser variations so is a bit more controversial.

[2021-04-22 16:25] willdurand commented on #10476
If you look at `clients_daily` only, not everything is exposed (it is a derived view).

From a quick look at the FF code, it looks like we support the following parameters for attribution: https://searchfox.org/mozilla-central/source/browser/components/attribution/AttributionCode.jsm#45-54

What's interesting is the following: https://searchfox.org/mozilla-central/source/browser/components/attribu

[2021-04-22 16:26] willdurand commented on #10476
Yep, see: https://docs.google.com/document/d/1BukJcOsfXoP651IN8P2BTZ8jpc83KAa3caMKlpjTxDQ/edit#heading=h.z6i8v5j3q0gy

[2021-04-22 16:30] bobsilverberg opened #10479 "Try using `utm_term` for download attribution"
This is a spin-off from https://github.com/mozilla/addons-frontend/issues/10476. We want to be able to see, in GA for mozilla.org, whether a download was attributed the existing CTA or the new CTA. We were using `utm_campaign` for that, but we cannot continue to do that because of RTAMO.

Let's try using `utm_term` for that instead. This won't solve the redash query issue, but will allow us to che

[2021-04-22 16:38] bobsilverberg commented on #10476
Interesting, so we could use `campaign` on the URL and it would be captured by telemetry, but might not interfere with the RTAMO code. Although https://searchfox.org/mozilla-central/source/browser/components/newtab/aboutwelcome/lib/AboutWelcomeDefaults.jsm#406 references `attributionData`, so I would be concerned that our new `campaign` param would also be used for that and therefore it *would* br

[2021-04-22 17:08] willdurand commented on #10479
According to GA docs and Wikipedia:

[2021-04-22 17:29] willdurand commented on #10476
Ha, right. That might not work but that also depends on what we want. If we want `utm_campaign` for GA, that _could_ work but if we want `utm_campaign` for GA _and_ Telemetry, that's a different thing indeed.

[2021-04-22 18:17] bobsilverberg commented on #10476
Yeah, the problem is that we need to use `utm_campaign` for GA, and we *want* to use the same value for telemetry, but we want to use a *different* value for RTAMO. If both RTAMO and telemetry are based on that `attributionData` code, then we can't use our new value for that. *But*, if we can get `utm_content` to work for telemetry data (as I think we've seen it can), then we can just forget about

[2021-04-22 18:29] bobsilverberg commented on #10479
We would definitely be *misusing* it, no argument from me there, but we're not using it for anything else, so I don't think it would be the end of the world. It also looks, however, as if we might be able to continue using `utm_campaign`, based on the discussion at https://github.com/mozilla/addons-frontend/issues/10476#issuecomment-825078779, so let's resolve that first and maybe this one can sim

[2021-04-22 20:48] bqbn opened #10480 "The search endpoint returns 500 for unknown types"
### Describe the problem and steps to reproduce it:

We got paged for too many 500 errors on the website, and it turns out it was triggered by a crawler that sent requests to the `search/`.

It looks like any request that has a unknown type will return 500, for example these ones

[code]

The log shows the following:

[code]

### What happened?

As described as the above.

### What did you expect

[2021-04-23 01:08] moz-hwine commented on #10468
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-23 01:08] #10468 closed

[2021-04-23 11:47] AlexandraMoga commented on #10416
This issue is verified fixed on AMO -dev:

![image](https://user-images.githubusercontent.com/31961530/115866710-b9fb8f00-a442-11eb-93a0-ff55bfdf6c49.png)
![image](https://user-images.githubusercontent.com/31961530/115866728-bec04300-a442-11eb-86ae-24253f6797d8.png)
![image](https://user-images.githubusercontent.com/31961530/115866752-c67fe780-a442-11eb-80db-6988b4b789f4.png)

[2021-04-23 11:55] ioanarusiczki opened #10482 "All badged addons should have the same button design in this experiment"
It's been discussed with @bobsilverberg an issue and I filed it here:

It's been established in https://github.com/mozilla/addons-frontend/issues/10252 a specific design for rtamo extensions.
Rtamo supports all badged add-ons: recommended, verified, sponsored, by firefox (from https://github.com/mozilla/addons-server/issues/15732)

This is the design for a recommended add-on:

![recommended addons

[2021-04-23 12:47] AlexandraMoga opened #10483 "Add-on icon is center aligned in the in the Addon summary card header"
### Describe the problem and steps to reproduce it:
1. Open the detail page of an add-on with a longer name - see https://addons.mozilla.org/en-US/firefox/addon/youtube_downloader_webx/
2. Navigate to All reviews page for this add-on (or any other page that displays the `AddonSummaryCard` - i.e. all versions page, license page, etc)
3. Notice the add-on icon position in relation to the add-on name

[2021-04-23 13:23] AlexandraMoga commented on #10417
This issue is verified fixed on -dev, with Firefox for desktop (Win10) and Fenix on Android as well as non-Firefox browsers:

![image](https://user-images.githubusercontent.com/31961530/115877384-0bf6e180-a450-11eb-9b44-160e68926255.png)

[2021-04-23 13:46] AlexandraMoga opened #10484 "Wrapping issues with the 'Download file' link from all versions page if longer version notes are present"
### Describe the problem and steps to reproduce it:
1. Open the All versions page for the following add-on: https://addons-dev.allizom.org/en-US/firefox/addon/webmail-ad-regression2/versions/
2. Check the Older versions list where longer version notes are present
3. Observe the Download file link

### What happened?
The link has wrapping issues

### What did you expect to happen?
No layout issues

[2021-04-24 01:09] moz-hwine opened #10485 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 5](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1096908/youtube_high_definition-80.0.0-an+fx.xpi (

[2021-04-24 08:57] championshuttler commented on #10472
This bug was also mentioned in some bug for the yellow banner IIRC, I had patch locally @bobsilverberg if you are not working on it atm (I see you self-assigned it though), I would raise the PR , thanks

[2021-04-24 09:57] championshuttler commented on #10484
IMO it would be better as well

The word is breaking specifically on the cases where notes are very long for the release notes, I tested locally and i think its a regression again due to mixing of

[code]

😢

[2021-04-24 12:34] AtharvaParkale commented on #10483
I would like to work on this issue.

[2021-04-26 07:04] ioanarusiczki opened #10488 "More menu overlaps the search bar at a specific resolution"
Followup for:

https://github.com/mozilla/addons-frontend/issues/10458

When resizing the browser there's a small layout issue: at ~505 px

![resize](https://user-images.githubusercontent.com/33448286/116041773-7a8b9900-a622-11eb-897c-2b64bbc4baaa.gif)

This is reproducible on FF and Chrome

[2021-04-26 07:05] ioanarusiczki commented on #10458
@bobsilverberg I was wrong about this not being reproducible on FF, filed it.

[2021-04-26 07:33] ioanarusiczki commented on #10357
@bobsilverberg @xlisachan

Right now on AMO dev - the size of themes is  266x34 instead of 375x48 on every shelf

![small size](https://user-images.githubusercontent.com/33448286/116045471-ef60d200-a626-11eb-8b66-7aba8bcd8c01.png)

[2021-04-26 07:38] ioanarusiczki commented on #10452
This issue is not reproducible on AMO -dev with FF88 (Win10) or Fenix - Android

![fixed flag](https://user-images.githubusercontent.com/33448286/116046252-bd9c3b00-a627-11eb-8857-5b52bac57ff1.png)

[2021-04-26 10:08] eviljeff commented on #10478
attempted this but I'm not totally convinced - it's possible to use 2 font files easily by having both italic and bold italic

[2021-04-26 10:26] diox commented on #10473
This is affecting at least:
- Add-on detail page depending on description & window size
- [Add-on reviews page](https://github.com/mozilla/addons-frontend/issues/10445)
- [Add-on versions page](https://github.com/mozilla/addons-frontend/issues/10446)
- [Language Tools page](https://github.com/mozilla/addons-frontend/issues/10444)

https://github.com/mozilla/addons-frontend/pull/10475 would fix it

[2021-04-26 11:29] rik commented on #10473
One thing to note is that a lot of visitors are probably not seeing Inter already (or a mix of Inter and their OS font). That's because [Inter has no glyphs for Arabic or any Asian language](https://rsms.me/inter/glyphs/).

[2021-04-26 13:27] diox commented on #10473
We're going to try this first. Investigating subsetting our font for https://github.com/mozilla/addons-frontend/issues/10290 I found out that I can reduce it to 35 KB by only including latin glyphs. As the comment above mentions, for many languages `Inter` was already not used or mixed with an OS font, so it should hopefully be a relatively transparent change.

[2021-04-26 13:44] rik commented on #10473
Reminder that there is no way to detect variable font support while preloading. But it seems that every browser that supports preloading also supports variable fonts. So it should be alright in practice.

And preloading might hurt the LCP score for pages where an image is the LCP.

[2021-04-26 13:50] diox commented on #10473
Yes, that's why I want to make sure the font isn't too big.

[2021-04-26 15:07] bobsilverberg commented on #10472
Please feel free to submit your PR. I will assign it to you. Thanks!

[2021-04-26 19:02] willdurand commented on #10476
I think it does, yes. We should make sure that the `utm_campaign`/`campaign` trick will work in FF first. Assuming this is okay, we can probably follow your suggestion.

[2021-04-26 22:37] championshuttler commented on #10484
Removing `overflow-wrap: anywhere;` fixing the issue for this button

[2021-04-27 08:12] willdurand opened #10492 "Include CSS style before `meta` tags"
Although it's unclear whether this is going to help (and I could not find a lot of documentation about it), we'd like to move the tags to include the CSS _before_ the `meta` tags in `<head>`. There shouldn't be any negative impact and it's a fairly small change so we decided to accept it.

For QA: in the source code of the page, the `link` to the style should be above most of the `meta` tags.

[2021-04-27 08:13] #10492 closed

[2021-04-27 09:56] diox commented on #10473
My long-term plan for the fonts: in every top-10 locale supported by Inter (\*), generate a minimal subset for that locale that is preloaded when serving requests with that locale in the URL. Those minimal subsets are also declared in the CSS: they have different `unicode-range` set, that can overlap, as long as the smallest subset are defined _last_. The "full" 200 KB (*) font continue to be avai

[2021-04-27 10:22] eviljeff commented on #10473
re: the subsets for each locale, given there are few character differences between most European languages, will producing a separate file for German for it's extra 4 characters (for example) be worth it? (I'm assuming the file sizes won't be significantly higher, <5k)

[2021-04-27 10:26] diox commented on #10473
Probably not, that's something I plan to look at as well. I haven't tested them yet, but yeah, I've generated subsets for all major European languages and they are fairly similar, so maybe we'll want to group them. I think English should be kept separate though, as it's the smallest of them all.

[2021-04-27 12:15] wagnerand opened #10493 "Lots of 'Failed to parse appversion for client app' warnings"
Stackdriver logs a lot of warnings from https://github.com/mozilla/addons-frontend/blob/cabfc342cdbd1fed6c9907051cdedceb8998971a/src/amo/api/index.js#L253, more than 40k entries per hour on average during low times of the day.

Do we need that warning to be logged? Is there anything we can do to reduce the amount?

[2021-04-27 13:26] willdurand commented on #10476
I looked at the code again and I discovered a few things. TL;DR we cannot use `campaign` and `utm_campaign` to avoid breaking RTAMO.

1. RTAMO does not work on MacOS because mozilla.org does not pass any attribution data to the "thanks page" during the download FF flow. The URL of this page is stored in the MacOS's quarantine database. This database is [read by Firefox to find the download URL and

[2021-04-27 13:47] ioanarusiczki commented on #10438
@xlisachan

I don't see issues with the extensions - adding a collection and a search endpoint without changing the addon count (4 per shelf) it looks good.

The themes are different:
the search endpoints with static themes contain more than 3 add-ons (such as ?sort=users&type=statictheme or ?promoted=recommended&sort=random&type=statictheme). Also the collection featured-personas I tested with ha

[2021-04-27 14:49] diox opened #10495 "Expand logic to generate and preload fonts subsets to other languages"
https://github.com/mozilla/addons-frontend/pull/10494 adds a minimal font subset to en-US that is preloaded. The logic behind it is described in detail in https://github.com/mozilla/addons-frontend/issues/10473#issuecomment-827479012

This issue is about expanding that logic to other key languages of the site. In some cases it might be worth it to make a single font subset for several languages, i

[2021-04-27 14:50] diox commented on #10290
See https://github.com/mozilla/addons-frontend/issues/10495 for the future follow-up for other locales. Initial experiment will be with `en-US` only.

[2021-04-27 15:40] xlisachan opened #10496 "Fix addon_type property for homepage shelves"
Per QA feedback in #10357 and #10438, themes are not displaying correctly for homepage shelves.

The shelves are missing the`addonType` property.

[2021-04-27 15:53] xlisachan commented on #10438
Thanks for the update, @ioanarusiczki ! The addonType property was lost - I have opened an issue and submitted a pull request that should fix the appearance of the theme shelves and links.

[2021-04-27 15:58] #10472 closed

[2021-04-27 16:01] eviljeff commented on #10496
does the missing `addonType` property explain "Frontend does not display the see more links" too?

[2021-04-27 16:03] mixedpuppy commented on #10476
I don't think you can use both campaign and utm_campaign, I don't think you can use campaign directly at all.  My recollection of the reason for the two is that on windows the "utm" was stripped, but due to how attribution works on osx, it is not stripped.  So you have to pass utm_campaign to the download service, but on windows the attribution file contains campaign, and on osx the quarantine dat

[2021-04-27 16:05] mixedpuppy commented on #10476
The details on this are foggy in my mind, so I could be wrong here.

[2021-04-27 16:05] xlisachan commented on #10496
Correcting the missing `addonType` property fixes the link issue as well -
Before fix:
<img width="646" alt="Screen Shot 2021-04-27 at 12 03 25 PM" src="https://user-images.githubusercontent.com/28129806/116274575-ce949b80-a750-11eb-82ef-7b2b6b9c9a47.png">

After fix:
<img width="650" alt="Screen Shot 2021-04-27 at 12 02 23 PM" src="https://user-images.githubusercontent.com/28129806/116274653-dbb1

[2021-04-27 16:17] willdurand commented on #10476
Yes but I should add something: it has never worked for AMO because AMO goes to mozilla.org, which redirects the user to a "thanks page" when clicking the download FF button. In the bug you linked, there are STR but for a different page. With this page (or with the script you gave to QA), RTAMO would work because the query string is stored in the quarantine DB.

[2021-04-27 16:18] eviljeff opened #10498 "add tests to check we don't regress sitemap assuming page_size"
in mozilla/addons-server#16959 (and others from https://github.com/orgs/mozilla/projects/156) we generate the correct number of paginated urls by assuming the default page_size of 25 results per page - i.e. the api request doesn't include `page_size=xx`.  We need to add a test to confirm that we continue to request without setting page_size for the following pages:
- ratings
- category results (re

[2021-04-27 20:21] diox opened #10500 "Reduce number of weights included in our variable font"
Our variable font has 9 named axis declared for different weights: Thin, Extra Light, Light, Regular, Medium, Semi Bold, Bold, Extra Bold and Black. We don't need all that, so editing the variable font to strip those might be beneficial, it could lower the file size and improve performance.

This could have even more impact now that we're trying to preload a subset of the font (in https://github.c

[2021-04-27 20:27] diox commented on #10473
QA: once this lands, in `en-US` page, a `.woff2` file of around 20KB should be preloaded (the network request should happen fairly early, you can check that with developer tools on a cleared cache). On most `en-US` (*) pages, this should be the only font loaded. Once you start going to other locales or visiting a page that happens to use fancy characters or characters from other languages, you sho

[2021-04-27 20:51] #10290 closed

[2021-04-27 22:37] diox commented on #10500
Not sure what we can do and how much impact it will have but it's worth investigating.

[2021-04-27 22:46] diox commented on #10473
Already identified one character I thought I had put in the minimal font that is missing: em dash `—` (U+2014). I put the regular hypen (U+2010) and the en dash (U+2013), and I thought I had this one in as well, but I must have missed it. I'll patch this, in the meantime pages using that character will load the second font.

[2021-04-28 00:16] diox commented on #10473
In addition the preload seems to be missing even though it's working locally and tests pass.

[2021-04-28 12:57] willdurand opened #10505 "Icon not aligned in autocomplete results"
### Describe the problem and steps to reproduce it:

1. Go to https://addons.mozilla.org/en-US/firefox/
2. Search something in the search bar

### What happened?

![Screenshot 2021-04-28 at 14 55 16](https://user-images.githubusercontent.com/217628/116407307-ef80ed80-a831-11eb-82a2-78275348b5af.png)

### What did you expect to happen?

The icons should be aligned.

### Anything else we should know

[2021-04-28 13:01] willdurand commented on #10493
It's not a p2: this isn't a new issue and, although it generates some noise in the logs, it's not really important.

That being said, we could look at some of the entries and, if they make sense, we could downgrade the log level of the statement linked above.

[2021-04-28 13:11] ioanarusiczki commented on #10492
@willdurand Verified on AMO dev - FF88(Win10).

![css moved](https://user-images.githubusercontent.com/33448286/116409183-44296600-a83c-11eb-90cc-9d54ee44b1e9.png)

[2021-04-28 13:19] wagnerand commented on #10493
Fair enough. But it causes additional effort whenever I (or someone else) have to dig through the logs, so it would be good to address it sooner rather than later.

[2021-04-28 13:20] willdurand commented on #10443
That has been fixed, actually.

[2021-04-28 13:21] #10443 closed

[2021-04-28 13:24] ioanarusiczki commented on #10472
@bobsilverberg @championshuttler

This is verified on Chrome - Android 10
![french](https://user-images.githubusercontent.com/33448286/116411206-2b21b480-a83e-11eb-9cc6-a82c8193ab01.png)
![German](https://user-images.githubusercontent.com/33448286/116411211-2bba4b00-a83e-11eb-9a61-6c1982685c03.png)

[2021-04-28 13:40] willdurand commented on #9423
this was fixed by https://github.com/mozilla/addons-frontend/pull/9440

[2021-04-28 13:40] #9423 closed

[2021-04-28 13:45] willdurand commented on #10249
@eviljeff can you add some labels/priority to this issue please?

[2021-04-28 13:46] #10228 closed

[2021-04-28 13:49] eviljeff commented on #10249
having only 2 theme recommendations seems like an edge case so marking down priority.

[2021-04-28 13:52] #10496 closed

[2021-04-28 15:53] #10474 closed

[2021-04-28 15:58] bobsilverberg commented on #10476
This seems like a reasonable place to continue to discuss our options. I will open new issue(s) when we decide on what we want to do moving forward.

To review, there are two problems we need to solve after reverting the changes to `utm_campaign`:

1. The report that @tublitzed created at sql.telemetry.mozilla.org/queries/79488/source#197431 relies on there being an `addonId` in `utm_campaign`, bu

[2021-04-28 17:24] bobsilverberg commented on #10480
Is this a fontend bug or is it a server bug? Should the API be returning a 500?

[2021-04-28 17:26] bobsilverberg commented on #10480
Oh, wait, it's not the API returning a 500, is it? It's the frontend.

[2021-04-28 17:46] willdurand commented on #10480
It's a frontend bug because when both type and category are passed, we try to build a `pathname` based on the type and one of the functions throws an error for invalid types.

[2021-04-28 20:47] jvillalobos commented on #10476
No, we should be able to measure both. It's important to understand the impact of our changes to the different stages in the funnel.

[2021-04-29 06:55] willdurand commented on #10368
@jvillalobos currently, we have the following "download link":

If this needs to change, let us now.

[2021-04-29 07:56] ioanarusiczki opened #10509 "Homepage shelves - at a screen resize letters overlap"
The layout won't look good when the title and see more links are a bit longer starting at ~ 850 px

I can reproduce this on AMO prod - with Recommended password managers at 728 px

On dev:
![800px](https://user-images.githubusercontent.com/33448286/116518677-3bd33880-a8d9-11eb-98e2-156e2221e6c3.gif)

[2021-04-29 07:57] ioanarusiczki commented on #10496
@willdurand
- See more links and the size of themes are ok.

![looks good](https://user-images.githubusercontent.com/33448286/116518389-d8e1a180-a8d8-11eb-9806-137b9b06ef6d.png)

- when resizing the screen at 850 px there are still issues - Filed https://github.com/mozilla/addons-frontend/issues/10509

[2021-04-29 08:17] ioanarusiczki commented on #10438
This was fixed by https://github.com/mozilla/addons-frontend/issues/10496

[2021-04-29 08:22] ioanarusiczki commented on #10357
@xlisachan

A collection of staticthemes - looks good

![collection endpoint](https://user-images.githubusercontent.com/33448286/116521725-003a6d80-a8dd-11eb-8d6e-d24f14b1a84a.png)

Verified on AMO dev - FF88(win10).

[2021-04-29 09:37] willdurand commented on #10509
I think this isn't a new issue, it was always like that and we don't have much options, besides truncating the text when it's too long. Ideally, titles and footer texts should be short. I'll let @bobsilverberg decide what to do, though.

[2021-04-29 09:44] #10415 closed

[2021-04-29 10:39] #10493 closed

[2021-04-29 12:28] willdurand opened #10512 "Focus styles missing on "More..." link (top nav)"
### Describe the problem and steps to reproduce it:

1. Use keyboard navigation on (with several <kbd>tab</kbd> to reach the top-nav): https://addons-dev.allizom.org/en-US/firefox/

### What happened?

No style:

![Screenshot 2021-04-29 at 14 28 07](https://user-images.githubusercontent.com/217628/116550485-1f45f900-a8f7-11eb-8301-2e41aa4cd9db.png)

### What did you expect to happen?

Some focus s

[2021-04-29 13:56] bobsilverberg commented on #10476
As discussed in yesterday's meeting, there are downsides to both of the approaches mentioned above. A third option might be to use a custom GA dimension, which is probably the best route because it is most "correct", but it requires cooperation and buy-in from the team that manages GA for mozilla.org. I have opened [an issue](https://github.com/mozilla/bedrock/issues/10175) about it with them.

[2021-04-29 16:58] jvillalobos commented on #10368
We will need something consistent with https://github.com/mozilla/addons-frontend/issues/10218, maybe replacing `amo` with `amo-blog` to make them easy to tell apart. However, it's best to wait for the resolution of https://github.com/mozilla/addons-frontend/issues/10476 and related bugs/issues, since we haven't landed on the params that we'll be using more permanently.

[2021-04-29 17:33] willdurand commented on #10368
Stating the obvious: tgere is no experiment on the blog.

[2021-04-29 17:47] bobsilverberg commented on #10476
After speaking with Jeff Klukas (Sr Staff Data Engineer), it sounds like our best move forward for Telemetry is to start reporting `experiment` and `variation` by adding them to the links that we generate to mozilla.org for downloads. We can then verify that they do appear in telemetry data, after which he said he would work to get them included in `clients_daily`. I will open an issue for this. N

[2021-04-29 18:20] willdurand commented on #10476
@mixedpuppy you've been involved in discussions about these two params. It is supposed to work, right? Do you know if they have been used for real experiments?

[2021-04-29 19:06] willdurand opened #10515 ""More..." link needs two taps to open the menu after page load on Android"
## STR

With Firefox for Android:

1. Open addons-dev.allizom.org/blog/
2. Tap the "More..." menu

## What happened?

The menu isn't revealed. Another tap is necessary.

## Expected

The menu is shown.

## Other information

After that, it's possible to open/close the menu with a single tap. It's only after a full page load, and only the very first time.

Also reproducible on Chrome for Android (a

[2021-04-29 19:07] willdurand commented on #10515
This is actually a frontend issue. Maybe related to https://github.com/mozilla/addons-frontend/issues/3464 (which says it was fixed 🤔)

@ioanarusiczki could you reproduce on AMO?

[2021-04-29 19:40] jvillalobos commented on #10368
Yup, I'm interested in the part where we send the add-on ID in the param. It can be extracted from `utm_content`, but it makes it harder to figure things out in Google Analytics, for instance.

[2021-04-29 21:36] tublitzed opened #10516 "Error messages should make it clear what field(s) have error(s)"
### Describe the problem and steps to reproduce it:

On this page: https://addons.mozilla.org/en-US/firefox/users/edit

I went to rename my username and got a "this field cannot be null" error at the top. No fields were highlighted. A bunch were empty though.

So...I filled them all in with a single character. Now, I see a "Ensure this field has at least 2 characters."

What field? As a user, I wo

[2021-04-29 22:09] willdurand commented on #10516
I think you have privileges on AMO, seeing the "reviewer name" field. This is the field that throws the error because all other fields are optional (except display name). There should be an asterisk on the reviewer name but we probably missed that given that it does not appear for most users.

As for the error messages, I think we have issues for what you suggested. It likely requires some API wor

[2021-04-29 22:19] willdurand commented on #10516
Maybe related: https://github.com/mozilla/addons-frontend/issues/9217

[2021-04-30 01:08] #10485 closed

[2021-04-30 01:08] moz-hwine commented on #10485
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-04-30 08:50] #10473 closed

[2021-04-30 10:03] diox commented on #10495
Note: we are likely going to want to only care about the primary language subtag (the first group of letters before the hyphen, if any). That way we'll use the same font for all English locales (en-US, en-CA, en-GB...), another one for all Portuguese locales (pt-PT, pt-BR...) without having to specify all possible combinations.

[2021-04-30 13:57] bobsilverberg commented on #10479
After speaking with Dan Brown and Alex Gibson of the mozilla.org team, it sounds like there are no problems from their end with us using `utm_term`. We would prefer to [use a custom dimension](https://github.com/mozilla/bedrock/issues/10175), but we might not be able to get that set up by next week's tag/push, so we're going to move forward with using `utm_term` for now.

[2021-04-30 14:11] willdurand commented on #10479
I haven't found any evidence that it would affect _our_ SEO either and i also think hat we should move forward with using `utm_term` for now. The experiment is short (2 weeks) and we'd like the results ASAP so a dependency on another team doesn't seem like a good idea right now.

We should think about a more long term solution, though (and the custom dimension might be useful in the future).

[2021-04-30 14:41] #10512 closed

[2021-04-30 14:44] bobsilverberg commented on #10479
We discussed writing the patch for this in a way that the URL param was itself parameterized, in order to make is simpler to substitute a custom dimension for `utm_term` when one is available, *but* I think we might actually want to pass `variant` and `addonId` in *different* custom dimensions, if we really need both, and that would mean more changes and therefore I don't think it's worth paramete

[2021-04-30 15:04] willdurand commented on #10479
Oh ok, I understand now. Thanks!

[2021-04-30 15:28] willdurand commented on #10368
@jvillalobos it looks like we'll have the following download links (during the experiment):

[code]

[2021-04-30 16:30] bobsilverberg opened #10518 "Pass `experiment` and `variation` in download firefox URL"
This is a spin-off from https://github.com/mozilla/addons-frontend/issues/10476. In order to be able to query install data from telemetry, without the use of `utm_campaign`, we can instead use  `experiment` and `variation` in the URL to mozilla.org and they will be recorded in telemetry. For now they just appear in `main_summary`, but we've been told they can be added to `clients_daily` once we se

[2021-04-30 16:33] jvillalobos commented on #10368
That looks good.

[2021-04-30 16:50] bobsilverberg commented on #10518
I think ideally we want something generic here, that will also work for future experiments, but the way the current experiment is coded makes that a bit difficult. Ideally we should pass both the `experimentId` as `experiment` and the `variant` as `variation`. These are provided via the `withExperiment` HOC, but the way the current experiment is coded, partially to deal with pieces wanting to be u

[2021-04-30 16:56] #10479 closed

[2021-05-01 14:49] ArmEagle opened #10520 "Account dropdown does not stay open and cannot be used."
### Describe the problem and steps to reproduce it:

I just logged in to https://addons.mozilla.org/en-US/firefox/ for the first time in months.
The dropdown in the top right, to access "Account", "Tools" and "Logout" does not stay open when I try to move my mouse down to entries in the menu (unless I carefully move my mouse over the little 'chevron' at the top).

The similar dropdown at the "More

[2021-05-02 01:09] moz-hwine opened #10521 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 5](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096490/webextension_with_image-1.0-fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1097231/share_backported-1.3.3-an+fx.xpi (302 Foun

[2021-05-03 07:51] willdurand opened #10524 "Langpicker looks more compact than before with the new font"
### Describe the problem and steps to reproduce it:

1. Go to https://addons-dev.allizom.org/
2. Scroll down to see the footer and the langpicker

### What happened?

The langpicker (`select`) looks more "compact" than before. See how it is right now on -dev:

<img width="524" alt="Screen Shot 2021-05-03 at 09 39 55" src="https://user-images.githubusercontent.com/217628/116852309-603e5600-abf4-11e

[2021-05-03 09:34] willdurand opened #10525 "Improve static add-on card for themes"
Currently it looks like this:

<img width="688" alt="Screen Shot 2021-05-03 at 11 31 41" src="https://user-images.githubusercontent.com/217628/116861323-38a2ba00-ac03-11eb-9efb-39b9153bb6b0.png">

We could probably show the preview of the theme instead.

[2021-05-03 12:59] #10480 closed

[2021-05-03 14:05] willdurand opened #10528 "Add tests to prevent breakages between addons-frontend and addons-blog"
addons-frontend provides tools to build UI components for addons-blog using the
`addons-frontend-blog-utils` library. Addons-blog enhances some of these UI
elements with JS and relies on some CSS class names for that. We should have
tests here to avoid changes that could impact addons-blog.

It's worth noting that addons-blog has its own test suite and so we should
notice breakages but only after

[2021-05-03 14:54] diox commented on #10495
I had a [branch with that strategy](https://github.com/diox/addons-frontend/commit/320458af7865f66844545d842e3c61dadce9aea8) but I had to give up on it because browsers always downloads the best subsets that they need without taking preloading into account. So we would preload the subset for `de`, but it would also end up downloading the "best" subset, which is `en`. It would be worse with overlap

[2021-05-03 15:44] #10495 closed

[2021-05-03 15:52] #10528 closed

[2021-05-03 16:28] #10518 closed

[2021-05-03 16:32] diox commented on #10495
QA:
- There should be a single preloaded font for all our pages. It should appear in the `<head>` of the HTML, and you should see it downloaded in devtools network panel (it should be around 32 KB, named `Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.[something].woff2`).
- In most pages in `en`, `de`, `fr`, `ru`, `es`, `pt`, `pl` & `it` languages (and their country-specific variants if any) no ot

[2021-05-03 16:40] #10482 closed

[2021-05-03 18:24] #10368 closed

[2021-05-04 08:37] willdurand commented on #10518
I just tried on -dev with my windows machine. On the screenshot below, we can see that the installer contains the data we set on download links:

![Screenshot 2021-05-04 103359](https://user-images.githubusercontent.com/217628/116978633-453b1700-acc4-11eb-8aed-88394e7d8d6c.png)

At this point, it is up to Firefox to actually send the data with Telemetry but I dont see why this wouldn't work. Unfor

[2021-05-04 09:08] willdurand commented on #10518
I did another test and I see the data in `about:telemetry`:

![Screenshot 2021-05-04 110629](https://user-images.githubusercontent.com/217628/116982213-cdbbb680-acc8-11eb-8a7f-a1dd6756ef50.png)

I let telemetry send data to our servers so we should have data in redash eventually..

[2021-05-04 13:02] AlexandraMoga commented on #10495
@diox I've verified this on -dev and these are my results:

- **Firefox** - new profile, no cache, default browser language set to en-US, loading pages with simple characters:
  - loading a simple extension page which includes only simple characters: https://addons-dev.allizom.org/en-US/firefox/addon/something-simple/; page loaded while being logged out => looking in DevTools Network panel, the `I

[2021-05-04 13:32] AlexandraMoga commented on #10495
Also, I forgot to mention that the DevTools console shows the following warning:

[code]
I'm not sure if this is important or not.

[2021-05-04 13:56] AlexandraMoga commented on #10480
I've verified this issue on -dev and these are my results:

The links that used to cause a server error are now returning a 404:
https://addons-dev.allizom.org/en-US/firefox/search/?category=foo&type=bar
![image](https://user-images.githubusercontent.com/31961530/117013616-b2689f80-acf8-11eb-8ec7-42ada04f6498.png)

URLs are being built if a valid combination of `category` and `type` parameters is

[2021-05-04 14:30] diox opened #10534 "Optimize Inter full font"
Follow-up to a bunch of work on fonts (from https://github.com/mozilla/addons-frontend/issues/10040 to #10473, https://github.com/mozilla/addons-frontend/issues/10495 and others...) we should look at what glyphs we don't need from our font, `Inter`.

https://github.com/mozilla/addons-frontend/issues/10495 will make us use a subset in major locales, but the others still need to download the full 22

[2021-05-04 14:30] bobsilverberg opened #10535 "Look into changing Codecov's threshold"
When Codecov tests run for addons-frontend, if there is any negative change in overall coverage that check fails. Because we do not have 100% code coverage, deleting a single line of code that had been covered by tests results in a reduction (albeit very small) of our total coverage, which then results in a check failure. We don't really care about this case.

We should look into configuring Codec

[2021-05-04 14:39] bobsilverberg commented on #10518
Thanks for doing these checks @willdurand! It looks good. 😄

[2021-05-04 14:50] bobsilverberg commented on #10509
It looks like @xlisachan opened https://github.com/mozilla/addons-frontend/issues/10373 which is about the same issue. She is working on possible fixes, but yes, this has been noted before, and was found to be very difficult to fix. Let's see what @xlisachan comes up with.

[2021-05-04 15:27] AlexandraMoga commented on #10474
I've verified this issue on -dev and stage and these are my results:

- add-on is built for a higher Firefox version:
![image](https://user-images.githubusercontent.com/31961530/117019018-b64af080-acfd-11eb-9191-2434276c1ce2.png)

- add-on is built for a lower Firefox version - I've used a language pack, where strict compatibility is taken into consideration (*)
![image](https://user-images.github

[2021-05-04 16:18] willdurand commented on #10474
I thought it was strict "max" version? We should always respect min versions.

[2021-05-04 16:39] diox commented on #10495
@AlexandraMoga mmm, I'm not seeing the font being loaded twice, it's weird. Could you retest on a page that loaded twice, with devtools opened, and click the gear icon in network panel, select Save All As HAR, and share the resulting file ?

[2021-05-04 19:37] willdurand opened #10536 "Remove + sign on install buttons"
We don't want to show the plus sign on install buttons. Instead, only the text should appear.

See: https://github.com/mozilla/addons-blog/issues/191, which shows the correct behavior on the new blog.

[2021-05-05 06:27] AlexandraMoga commented on #10474
When I'm uploading an add-on with a `strict_max_version` I do get a validation warning about max version not being required:

[code]

There is no warning for min version though, so I'm no longer sure what is expected in that case.

[2021-05-05 07:00] willdurand commented on #10474
mokay, I don't know either to be honest.

Reading [about `strict_min_version`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/browser_specific_settings), I think being able to install the add-on on FF 88 is correct.

[2021-05-05 07:03] AlexandraMoga commented on #10495
@diox sorry for forgetting to mention my test env. I was testing on Win10 with Firefox 88 (release). I've also looked in 89.0b7 today and the issue is reproducing there as well. I can't reproduce in latest Nightly though.

[2021-05-05 07:09] AlexandraMoga commented on #10473
@diox I'm guessing the testing steps mentioned in https://github.com/mozilla/addons-frontend/issues/10473#issuecomment-827907471 are no longer applicable since we now have the `Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.[###].woff2` font preload.

I believe that the test results outlined in https://github.com/mozilla/addons-frontend/issues/10495#issuecomment-831923779 are also covering this is

[2021-05-05 07:27] willdurand commented on #10535
Maybe start with (1) and if that is still annoying, we'll do (2)?

[2021-05-05 07:38] #9411 closed

[2021-05-05 09:03] diox commented on #10495
Same here yeah. I think this is not a huge deal and shouldn't block this going to production - if it's a real request and not an issue with devtools, it's wasteful, but still better than before, and should eventually be fixed.

[2021-05-05 09:47] diox commented on #10495
After more testing: it looks like a devtools network monitor bug to me. A weird one... If I load any site (http://example.com/ is enough) and _then_ I load the page I want to inspect, it will be shown correctly (and I don't get the font duplication)

[2021-05-05 09:49] AlexandraMoga commented on #10474
Ok, so after reading through my comments again, I think I need to rephrase some things.

The [documentation](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/browser_specific_settings) says the following about `strict_max_version`:
[code]

So, if my manifest has the following set-up, I would assume this extension is not installable in FF 88 (or any other FF vers

[2021-05-05 10:32] AlexandraMoga commented on #10415
This issue was verified on AMO stage, with FF88, Win10:

[LTR orientation]
![image](https://user-images.githubusercontent.com/31961530/117128597-4b092900-ada6-11eb-8343-a1805386810e.png)

[RTL orientation]
![image](https://user-images.githubusercontent.com/31961530/117128097-a25ac980-ada5-11eb-92b6-958d4f0e5475.png)

[mobile]
![image](https://user-images.githubusercontent.com/31961530/117128111-a7

[2021-05-05 11:04] willdurand commented on #10474
ha well.. I don't know then. I know AMO does not check the max version unless there `is_strict_compatibility_enabled` is `true` but I don't know how that is set. Maybe in DevHub? cc @diox

[2021-05-05 11:57] ioanarusiczki commented on #10518
@bobsilverberg I verified this with Chrome - I see the experiment active on -dev and -stage:

- Current cta

1. "Download firefox" blue button query string parameters:
experiment: 20210404_download_cta_experiment
variation: current-cta
utm_campaign: non-fx-button
utm_content: header-download-button
utm_medium: referral
utm_source: addons.mozilla.org
utm_term: amo-fx-cta-current-cta

2. "Only with

[2021-05-05 13:26] ioanarusiczki commented on #10479
@bobsilverberg This looks good for AMO dev/stage - the utm_term is present and it is using a variant and addonID.
I added more detailed results here https://github.com/mozilla/addons-frontend/issues/10518#issuecomment-832629568

I've noticed on non-FF browsers the presence of the experiment layout on the blog for the add-on cards.  So I'll tag @willdurand too because I don't know if the behaviors

[2021-05-05 13:35] willdurand commented on #10479
Yep, everything here is expected: the blog does not run any experiment, the design of the blog uses the "new style" of the download buttons. That's also why there is no `experiment`/`variation` and the `utm_term` value is a bit different (it contains "blog").

[2021-05-05 14:16] ioanarusiczki commented on #10482
@bobsilverberg

Verified/Sponsored

![verified](https://user-images.githubusercontent.com/33448286/117155410-6c2d4200-adc5-11eb-8bc3-b83cfb115cbc.png)

Line

![line](https://user-images.githubusercontent.com/33448286/117155460-76e7d700-adc5-11eb-93b0-f650de30682c.png)

I also tested Rtamo flow - with FF Nightly on AMO stage for a sponsored and by Firefox (line) add-on and it worked for me.

[2021-05-05 14:25] #10463 closed

[2021-05-05 18:41] #10535 closed

[2021-05-06 07:44] willdurand commented on #10449
@bobsilverberg I am thinking about removing the use of `anywhere` for now, I've done that in addons-blog already: https://github.com/mozilla/addons-blog/blob/d623a63e7f97a9b2867f3837ab91a8c226838e11/src/assets/css/styles.scss#L15-L19

[2021-05-06 07:55] ioanarusiczki commented on #10525
@willdurand
The preview is displayed on the theme card and it's generated from a 720x92 .png version preview.
I verified it on Android, Win10 and iOS.

I've noticed that for non-FF browsers the yellow banner does not have the same length with the download button - which is currently the UX on AMO. Fonts are a bit blurry there too with Edge/Chrome but that's a general tendency and issue has been fi

[2021-05-06 10:44] ioanarusiczki commented on #10512
@willdurand Verified on AMO stage - FF88(Win10).

![focus on More](https://user-images.githubusercontent.com/33448286/117285808-18783280-ae71-11eb-836d-c000649d4980.gif)

[2021-05-06 12:36] bobsilverberg commented on #10449
I suppose you can try, although it seems like that would be undoing everything we did previously to deal with this issue. We started using `anywhere` as a default some time ago so we didn't have to keep overriding individual items with `anywhere` each time we found one, which seemed to happen quite frequently. Do you have a better solution, or are we just going to go back to adding `anywhere` to e

[2021-05-06 12:41] bobsilverberg commented on #10476
This can be closed. We're now using `utm_term` for GA, and `experiment` and `variation` for telemetry, and @muffinresearch has created a new redash query at https://sql.telemetry.mozilla.org/queries/79573/source#197658 which draws the add-on identifier from `attribution.content` instead of `attribution.campaign`.

[2021-05-06 12:41] #10476 closed

[2021-05-06 12:52] bobsilverberg commented on #10264
I believe this is now fixed.

This should be fixed by https://github.com/mozilla/addons-frontend/pull/10539.

This should be fixed by https://github.com/mozilla/addons-frontend/pull/10539.

This should be fixed by https://github.com/mozilla/addons-frontend/pull/10539.

[2021-05-06 13:59] bobsilverberg commented on #10264
These should both be fixed by https://github.com/mozilla/addons-frontend/pull/10539

[2021-05-06 14:24] bobsilverberg commented on #10484
@willdurand You were discussing the use of `overflow-wrap: anywhere;` for a different issue (https://github.com/mozilla/addons-frontend/issues/10449). Do you want to take this one as well, as it also seems to be related to that?

[2021-05-06 15:50] willdurand commented on #10484
Yes, probably.

[2021-05-06 15:57] bobsilverberg commented on #10484
That's a pretty non-committal answer. 😛 I'm going to assign it to you, and if you really don't want it you can hand it back.

[2021-05-06 15:59] #10251 closed

[2021-05-06 16:00] willdurand commented on #10449
Yes.

I am hoping to use `word-break: break-word` everywhere and that it will work. I know we introduced `anywhere` for a reason but I am also hoping to (1) remember why and (2) come up with an alternative.

[2021-05-06 16:08] diox opened #10545 "URLs served by addons-server without a trailing slash cause a redirect loop locally"
On local environments, URLs served by addons-server, that are not supposed to have a trailing slash, like many in devhub, don't work any more: the user is stuck in a redirect loop.

For example, when you submit an add-on
- You make a request to http://olympia.test/en-US/developers/addon/submit/agreement
- addons-frontend intercepts that request, serves a redirect to http://olympia.test/en-US/devel

[2021-05-06 16:12] bobsilverberg commented on #10449
The "why" is because it was the only thing that would work in certain situations. I can't explain why it was the only thing that would work, but that was the case. No other css property combination seemed to work in those cases. It always had to do with long unbroken strings refusing to wrap without the use of `overflow-wrap: anywhere;`. My concern about reverting that change is that we're not goi

[2021-05-06 16:42] #10483 closed

[2021-05-06 16:55] eviljeff commented on #10545
this might (or might not) be fixed by dropping the special handling for `clientAppRoutes` (see discussion/links in #10363)

[2021-05-06 17:04] bobsilverberg commented on #10272
As per all of the discussion above, I am going to close this issue.

[2021-05-06 17:04] #10272 closed

[2021-05-06 17:10] bobsilverberg commented on #10258
Some changes to the header and buttons have made this problem go away. Here's the current screen at 900px:

![Screen Shot 2021-05-06 at 1 08 57 PM](https://user-images.githubusercontent.com/142755/117338229-5161d880-ae6c-11eb-9ba8-586821668239.png)

[2021-05-06 17:10] #10258 closed

[2021-05-06 19:12] willdurand commented on #10545
That looks more like a problem with the trailing slash middleware, which can be configured here: https://github.com/mozilla/addons-frontend/blob/fb4bfbae5a8491ecf4ed02857628618718959325/config/default.js#L365-L378

#10363 fixed a bug or two, which likely revealed a misconfiguration of the trailing slash middleware.

[2021-05-06 19:44] willdurand commented on #10449
I guess you're right. AMO on Safari isn't _that_ useful.. so maybe we should simply undo the recent changes to attempt to support and fix Safari instead?

[2021-05-06 20:14] willdurand opened #10547 "Small vertical aligment issue in detail pages with different badges"
### Describe the problem and steps to reproduce it:

1. Go to an add-on detail page with multiple "badges" like https://addons-dev.allizom.org/en-US/firefox/addon/webmail-ad-regression2/

### What happened?

There is more vertical space between the two last badges than between the two first ones, creating an unbalanced look:

<img width="390" alt="Screen Shot 2021-05-06 at 22 10 00" src="https://u

[2021-05-07 01:08] #10521 closed

[2021-05-07 01:08] moz-hwine commented on #10521
The web security baseline scan for site https://addons.mozilla.org now passes - well done team!

[2021-05-07 07:19] NegiAkash890 commented on #10483
This issue was closed by MR #10502.

[2021-05-07 08:31] AlexandraMoga commented on #10483
This issue is verified fixed on FF88, Win10:

![image](https://user-images.githubusercontent.com/31961530/117420316-220fa200-af26-11eb-90db-b5304ebd8e4e.png)

[2021-05-07 08:44] #10547 closed

[2021-05-07 08:50] rohanharikr opened #10549 "Incorrect cursore pointer for "More" option in navigation bar"
### Describe the problem and steps to reproduce it:

Hover your cursor over the "More..." option in the navigation bar.

### What happened?

Cursor pointer does not change.

### What did you expect to happen?

Cursor pointer to be type `pointer`.

### Anything else we should know?

The other options in the navigation are type links and have the `cursor: pointer` property by default. Adding the sam

[2021-05-07 09:24] AlexandraMoga commented on #9411
This issue is verified on dev, FF88, Win10 and Android 10:

![image](https://user-images.githubusercontent.com/31961530/117427561-d6f98d00-af2d-11eb-8cdd-84b1953cb339.png)

@willdurand one slight issue that I've noticed is the gap between the 'Learn more' link and the external icon, which is a bit too much in my opinion (the icon has a `margin-left:` of  `12px;`.

The Developer Hub and Extension W

[2021-05-07 09:26] willdurand commented on #9411
Yes I was also not happy with this but I couldn't find a reason why it was like this. It looks like it's the default... Let's have an issue filed and I'll check again.

[2021-05-07 09:38] #10505 closed

[2021-05-07 10:34] AlexandraMoga opened #10550 "The gap between the "Learn more" link and the external icon in the Permissions card is too large"
Follow up for #9411

### Describe the problem and steps to reproduce it:
1. Open an add-on detail page that displays the Permissions card - https://addons-dev.allizom.org/en-US/firefox/addon/all-of-the-permissionss/
2. Notice the "Learn more" link and its external icon in the card header

### What happened?
The gap between the "Learn more" link and the external icon is too large

### What did you

[2021-05-07 11:49] willdurand commented on #10449
In any case, I think most of the discussion is about something else that is not what QA reported initially in the issue. The "Flag" link has nothing to do with the tooltip that breaks the page.

Without `word-break: break-word;`, it is still happening.

[2021-05-07 12:10] ioanarusiczki commented on #10368
@willdurand

utm_term from blog has the expected format when the download button is clicked from the blog

![download cta blog](https://user-images.githubusercontent.com/33448286/117447589-614deb00-af46-11eb-869f-1515d55a0fcd.png)

[2021-05-07 12:13] #10488 closed

[2021-05-07 12:16] #10524 closed

[2021-05-07 12:22] willdurand commented on #10484
I think this isn't a problem with `anywhere` but we should probably be using a grid here.

[2021-05-07 12:25] diox opened #10553 "Make the search box take all available space for all window sizes"
Previously:

The menu and search box are placed differently and have different width set are different window sizes. At low (< 500px) horizontal sizes, it gets moved next to the username/register login links, and that seems to work nicely. At large (> 720px) horizontal sizes, it seems to have enough space next to the menu items.

Between those sizes though (between 500px and 720px) it gets messy a

[2021-05-07 12:55] ioanarusiczki commented on #10463
@xlisachan I don't see anything broken on AMO Dev - I added a collection with extensions, one with static themes. Also adding a search query using extensions or static themes worked for me.

Shelf layouts look good as it can be seen https://addons-dev.allizom.org/en-US/firefox/

Verified with FF88(Win10).

[2021-05-07 13:07] diox commented on #10500
Using https://github.com/source-foundry/Slice, dropping weights 100, 200, 700, 800, 900 (which are unused, if we look at our `mixins.scss`):
- subset went from 32K to 29K
- full font went from 220K to 200K

So not that dramatic of an improvement, but still, I'll take what I can get. The full font will also be optimized in https://github.com/mozilla/addons-frontend/issues/10534 so the gains are lik

[2021-05-07 15:19] bobsilverberg commented on #10500
I notice that the blog uses `font-weight: 700;` in `StaticAddonCard`. Does the blog use a different font file, and therefore is unaffected?

[2021-05-07 15:31] willdurand commented on #10500
It does yes but that's a good call. I asked @diox on Matrix about which weights would be kept and didn't think about the `StaticAddonCard`. I'd say it's fine as long as we use the original `Inter` font file (which is what we do in addons-blog and we use the Inter font from a CDN for local dev in this project).

[2021-05-07 15:37] willdurand opened #10557 "Delete unused icons"
While working on #10536, I removed some icons that weren't used anymore. I think the `Icon` component has some icons that we are not using and we could delete the files as well as remove some of the CSS. If we don't need those icons, there is no need to keep them around, we can re-add them later.

While working on this issue, we should look at the other components to see if they embed files that a

[2021-05-08 01:08] moz-hwine opened #10560 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 2](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096551/docwrite_wup-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1097160/konfiguralasa-15.0.2-an+fx.xpi (302 Found)

This i

[2021-05-09 01:10] #10560 closed

[2021-05-10 07:40] AlexandraMoga commented on #10449
@willdurand I see that the tooltip overflow has been fixed, but text inside the tooltip is still truncated:

[de]
![image](https://user-images.githubusercontent.com/31961530/117622606-78c1e980-b17b-11eb-9041-12ad33ed86ff.png)

[fr]
![image](https://user-images.githubusercontent.com/31961530/117622677-9000d700-b17b-11eb-832d-87e47be1a3ee.png)

[2021-05-10 07:55] willdurand commented on #10449
Yes, the text is too long and there is little to nothing we can do...

[2021-05-10 09:18] AlexandraMoga commented on #10449
Could we at least add an ellipsis?

[2021-05-10 10:23] championshuttler commented on #10449
Yes I think ellipsis would be better than truncation

[2021-05-10 11:31] willdurand commented on #10449
Yes, unless we find a way to wrap menu items..

[2021-05-10 11:32] AlexandraMoga commented on #10449
Ok, I can file a follow up issue to think about this further.

[2021-05-10 11:40] AlexandraMoga opened #10564 "Flag review tooltip menu items are truncated in mobile view"
Follow up for #10449

### Describe the problem and steps to reproduce it:
1. Log into AMO and change your locale to `/de/` or `/fr/`
2. Navigate to an add-on's All reviews page in mobile view
3. Click on Flag for one of the available reviews

### What happened?
Flag review tooltip menu items are truncated

### What did you expect to happen?
Ideally, menu items should be wrapped. Alternatively, we

[2021-05-10 11:59] diox opened #10565 "Automate font generation"
https://github.com/mozilla/addons-frontend/issues/10534 will optimize the full `Inter` font, but lots of manual steps remain. This issue is about automating them all.

I think we would have a command to regenerate our full font from the original, as well as a command to regenerate the full subset. Both would regenerate the `inter.scss` file as well as a `.html` file that would list all characters

[2021-05-10 12:23] ioanarusiczki opened #10566 "$ is not aligned with the text"
STR:
1. For "Some features may require payment $" the symbol is not aligned - this happened probably when font was increased because it looks the same on AMO stage

![not aligned](https://user-images.githubusercontent.com/33448286/117658625-a02cac80-b1a3-11eb-95c6-a8d78034422d.png)

[2021-05-10 13:06] championshuttler commented on #10564
I was experimenting with css and what if we do `white-space:normal` for tooltips items?

[code]

It will look like:

![image](https://user-images.githubusercontent.com/22130317/117663686-92385500-b1be-11eb-9f94-37cb44e89647.png)

[2021-05-10 13:13] bobsilverberg commented on #10564
Looks good to me!

[2021-05-10 13:24] ioanarusiczki commented on #10488
@bobsilverberg

Verified on AMO dev - FF88 and Edge (Win10).

![fixed505](https://user-images.githubusercontent.com/33448286/117665440-81321880-b1ab-11eb-8bad-36aad385a480.gif)

[2021-05-10 13:32] ioanarusiczki commented on #10505
@willdurand Looking on AMO dev I don't see this issue reproducible (maybe I could not reproduce it as easily here but I also see that it looks better or worse depending on the shape of the icon)

Examples:

![first example](https://user-images.githubusercontent.com/33448286/117667108-3ca77c80-b1ad-11eb-8bf5-dd45de3306be.png)

![second example](https://user-images.githubusercontent.com/33448286/117

[2021-05-10 15:29] #10250 closed

[2021-05-10 15:29] #10264 closed

[2021-05-10 18:10] willdurand commented on #10520
+1

Also thank you for digging into a pure css alternative.

[2021-05-11 12:41] #10520 closed

[2021-05-11 12:49] ioanarusiczki commented on #10264
@bobsilverberg
- font-size was increased to 12 px (from 11px) for buttons like "Log in to rate this extension" or when logging to see collections or profile pages

![at 12 px](https://user-images.githubusercontent.com/33448286/117815345-0b42b580-b26e-11eb-8613-65f3d8beb967.png)

- footer-links-header font-size:18 px each, and footer links at 18 px (from 16 px) I hope that's the expected.

![new fo

[2021-05-11 13:04] championshuttler commented on #10549
good catch @rohanharikr thanks, adding `cursor: pointer` is solving the issue indeed, WDYT @bobsilverberg

[2021-05-11 13:08] ioanarusiczki opened #10571 "callout icon is not aligned with text"
1. I've noticed that the callout icon is not aligned with the text on AMO dev. This is not reproducible on AMO prod - seems to be a regression.

![experiment not aligned](https://user-images.githubusercontent.com/33448286/117820115-e43ab280-b272-11eb-90f5-296a9dc38184.png)

Prod looks good:
![AMO prod](https://user-images.githubusercontent.com/33448286/117820217-ffa5bd80-b272-11eb-9b00-d306d1d159d

[2021-05-11 13:36] ioanarusiczki commented on #10267
@bobsilverberg

Right now on AMO dev - display name looks good

![display name AMO dev](https://user-images.githubusercontent.com/33448286/117823583-4ea12200-b276-11eb-814e-d798560c6553.png)

Filter results look good too

![filtering](https://user-images.githubusercontent.com/33448286/117823940-b2c3e600-b276-11eb-8278-84a8feaafff4.png)

[2021-05-11 14:17] #10500 closed

[2021-05-11 14:17] #10534 closed

[2021-05-11 15:54] #10484 closed

[2021-05-12 01:10] moz-hwine opened #10578 "addons.mozilla.org has failed the web security baseline"
Site https://addons.mozilla.org has failed the web security baseline scan.

The failing tests are:

 [Cross-Domain Misconfiguration [10098] x 3](https://www.zaproxy.org/docs/alerts/10098/)
 * https://addons.allizom.org/firefox/downloads/file/1096551/docwrite_wup-3.0-an+fx.xpi (302 Found)
 * https://addons.allizom.org/firefox/downloads/file/1097259/ublock_will_test-65535.0.0.1-an+fx.xpi (302 Found)

[2021-05-12 08:10] ioanarusiczki commented on #10571
@bobsilverberg
Rtamo type looks better. On prod it's even better aligned with the text but this one should be fine too.

![now on stage](https://user-images.githubusercontent.com/33448286/117940872-60a6b300-b2be-11eb-8121-21a6a46faf0e.png)

The other type, now with the fix:

![now on stage2](https://user-images.githubusercontent.com/33448286/117941086-9b105000-b2be-11eb-894e-b25206c35933.png)

On

[2021-05-12 08:16] AlexandraMoga commented on #10564
This issue is verified fixed on stage;

![image](https://user-images.githubusercontent.com/31961530/117942093-5ebb0f00-b313-11eb-8107-7f07cfbc8ef1.png)

![image](https://user-images.githubusercontent.com/31961530/117942113-64185980-b313-11eb-8967-055848aca4f7.png)

[2021-05-12 08:24] ioanarusiczki commented on #10566
@bobsilverberg Verified on AMO dev - FF88(Win10).

![fixed](https://user-images.githubusercontent.com/33448286/117943249-c6943a00-b2c0-11eb-9324-61186d7ad0eb.png)

[2021-05-12 08:28] ioanarusiczki commented on #10549
@willdurand Verified on AMO dev - FF88(win10).

![to pointer](https://user-images.githubusercontent.com/33448286/117943750-520dcb00-b2c1-11eb-91f6-b90b484de850.gif)

[2021-05-12 08:44] AlexandraMoga commented on #10464
This issue is verified fixed on stage:

![image](https://user-images.githubusercontent.com/31961530/117945099-a727fc00-b316-11eb-94bc-f73e9c6de0a2.png)
![image](https://user-images.githubusercontent.com/31961530/117945116-abecb000-b316-11eb-8a05-2d7e764c39f3.png)

[2021-05-12 08:51] willdurand commented on #10464
@bobsilverberg looking at the screenshots above, it still looks like we could add some more margin to the icons, they are not exactly centered.

[2021-05-12 09:00] AlexandraMoga commented on #10484
This issue is verified fixed on stage:

[desktop - install button]
![image](https://user-images.githubusercontent.com/31961530/117948136-8319ea00-b319-11eb-8334-2067eae49ac3.png)

[desktop - download file link]
![image](https://user-images.githubusercontent.com/31961530/117948175-8c0abb80-b319-11eb-8e2e-5d27b1c381e5.png)

[mobile - download file link]
![image](https://user-images.githubusercontent

[2021-05-12 09:45] ioanarusiczki commented on #10535
@bobsilverberg Is this a qa not needed?

[2021-05-12 09:55] ioanarusiczki commented on #10524
@bobsilverberg Verified on AMO dev - FF88(Wi10) - looks good to me

![language picker](https://user-images.githubusercontent.com/33448286/117956050-86878400-b2cd-11eb-8c77-948a63f6ecc6.png)

[2021-05-12 11:30] ioanarusiczki commented on #10520
@bobsilverberg Verified on AMO dev - FF88(Win10)

![fixed1](https://user-images.githubusercontent.com/33448286/117968207-cbfe7e00-b2da-11eb-9512-342ffe237994.gif)

[2021-05-12 11:38] diox commented on #10444
https://github.com/mozilla/addons-frontend/issues/10473 has massively improved the loading of this page (and other pages where the LCP is text: https://github.com/mozilla/addons-frontend/issues/10446, https://github.com/mozilla/addons-frontend/issues/10445). Over 4G from Paris it almost passes the 2.5s LCP threshold.

https://www.webpagetest.org/result/210512_BiDc6N_e999d7f5f6f60538a86bc3d4914345e

[2021-05-12 11:45] #10557 closed

[2021-05-12 11:46] bobsilverberg commented on #10535
Oops, sorry, yes, and I see Will added the label.

[2021-05-12 11:48] #10550 closed

[2021-05-12 14:05] bobsilverberg commented on #10464
I agree, it can use a few more pixels at the top. I'll file and issue.

[2021-05-12 14:06] bobsilverberg opened #10580 "Bump down notice icon a bit"
The icon in the Notice component is still slightly higher than the text:

![image](https://user-images.githubusercontent.com/31961530/117945099-a727fc00-b316-11eb-94bc-f73e9c6de0a2.png)

Let's move it down a bit.

[2021-05-12 14:11] ioanarusiczki commented on #10534
@diox
1. The font-size part will be checked during the weekly release testing - as far as I've checked I don't see anything unusual
2. I checked the .woff files with the hompeage on AMO stage and then with [language tools](https://addons.allizom.org/hu/firefox/language-tools/):
- for the main locales, Japanese, Chinese, AMO homepage (which is not containing emojis or other more unusual chars) ther

[2021-05-12 14:28] bobsilverberg commented on #10571
@ioanarusiczki When the message splits to multiple lines, the icon remains left-justified in the box, which is what is causing that gap. I suppose we might want to fix that. Can you open a separate issue for that please?

[2021-05-12 14:32] diox commented on #10446
Because it shows release notes for each version, there is a slightly higher chance than the rest of the site to display italic content on this page, which is slowing things down a bit. So finding a solution for https://github.com/mozilla/addons-frontend/issues/10478 (at least optimizing the italic font file, or removing it) would be a bonus for this page. This matters on https://addons.mozilla.org

[2021-05-12 14:39] rik opened #10582 "Remove unused parts of `redux-store-state`"
I've noticed that the size of the JSON can get quite large on some pages. On `https://addons.mozilla.org/en-GB/firefox/` right now, `document.getElementById('redux-store-state').innerText.length` returns `177619`. That is quite a lot :)

One obvious candidate I've found is the list of domains that addons want permissions for. I haven't seen that data used on the website so maybe it can be kept out