[2019-05-27 17:30] #8077 closed

[2019-05-27 17:31] #8035 closed

[2019-05-27 18:12] #8081 closed

[2019-05-27 19:02] rahulsyal2512 commented on #3594
is this issue still open ? i can work with this one

[2019-05-27 19:21] bobsilverberg opened #8084 "Force recommended results to the top when sorting from a Category page"
This is a spin-off from #8079.

When a user is on a Search Results page which includes `category` in the search criteria, if they change the sort criteria using the form, ensure that recommended add-ons remain at the top of the list by changing the sort criteria sent to the API to include `recommended` as the first criterion.

This is required because we are doing away with Category pages and they

[2019-05-27 19:26] bobsilverberg commented on #8079
@jvillalobos I did not hide this change behind the same flag that we are using to hide all of the Recommended badge stuff. This seems like a change that we could land earlier, as it doesn't seem to depend on the implementation of all of the Recommended features. Please let me know if you agree, and if not, and you'd like to delay the implementation of this feature until all of the Recommended thin

[2019-05-27 19:29] bobsilverberg opened #8085 "Include only recommended add-ons on the Extensions landing page"
This is a spin-off from #8050 which captures the decisions made and described at https://github.com/mozilla/addons-frontend/issues/8050#issuecomment-495327551 and https://github.com/mozilla/addons-frontend/issues/8050#issuecomment-495412959.

The logic for retrieving add-ons for the Extensions landing page should be updated to only retrieve recommended add-ons.

[2019-05-27 20:09] bobsilverberg commented on #8050
Are we settled on what the shelves should be on the Extensions and Themes landing pages? Do we want to replace the "Featured" shelf with a "Recommended" shelf and have the sort sequence `random`, as @eviljeff suggested?

[2019-05-27 20:43] jvillalobos commented on #8079
Yes, I agree this can land earlier.

[2019-05-28 08:14] willdurand commented on #3594
We use a simple function for that: https://github.com/mozilla/addons-frontend/blob/e4668770d1329012480c853749fda32e424ab0ab/src/core/utils/index.js#L247

This likely does not work for some categories because it uses the category ID to determine the color.

[2019-05-28 09:41] warademilind opened #8087 "Not able to found awetest recorder"
### Describe the problem and steps to reproduce it:

Not able to found awetest recorder

### What happened?
When tried with
https://addons.mozilla.org/en-GB/firefox/addon/awetest-recorder/versions/
It shows "Oops! We can’t find that page"

### What did you expect to happen?
It shows "Oops! We can’t find that page"

### Anything else we should know?
Need to have this addon, please check revert back

[2019-05-28 11:56] ioanarusiczki commented on #7793
@bobsilverberg The search results on Android won't display the badge which is the actual requirement.

[2019-05-28 12:49] #8067 closed

[2019-05-28 13:14] bobsilverberg commented on #8050
I forgot to tag anyone on my question above, so doing it here:

Are we settled on what the shelves should be on the Extensions and Themes landing pages? Do we want to replace the "Featured" shelf with a "Recommended" shelf and have the sort sequence `random`, as @eviljeff suggested? @jvillalobos @devaneymoz

[2019-05-28 13:20] bobsilverberg commented on #8018
This is now covered by #8028, so I'm closing this one.

[2019-05-28 13:20] #8018 closed

[2019-05-28 13:44] bobsilverberg commented on #8028
@jvillalobos @devaneymoz I have another question about landing page shelves. There is currently a link in the upper right-hand corner of each shelf that takes the user to a Search Results page based on the criteria for the shelf. E.g., the link from the "Top rated extensions" shelf points to https://addons.mozilla.org/en-US/firefox/search/?sort=rating&type=extension. As we are going to have only r

[2019-05-28 14:02] bobsilverberg opened #8089 "Update the home page to work with recommended add-ons"
This is a spin-off from #8028.

This issue is about updating the home page to work with recommended add-ons and includes the following changes:

- Replace the "Featured Extensions" shelf with a "Recommended Extensions" shelf.
- Replace the "Featured Themes" shelf with a "Recommended Themes" shelf.
- Update the logic for the Popular Add-ons and Trending Extensions shelves (neither of which are curr

[2019-05-28 14:32] bobsilverberg opened #8090 "Remove code for Category pages"
~~Depends on #8079~~
Depends on #8092

After we change the code that directs to Category pages to instead direct to the Search Results page, we can remove the code for Category pages. This should be done at this point, because it contains a lot of code referencing `featured`, which we are changing to `recommended` in #8028, and it will be a waste of time to update the code for Category pages if th

[2019-05-28 14:53] bobsilverberg commented on #8079
@jvillalobos There is a shelf at the bottom of the home page which lists some theme categories:

![Screenshot 2019-05-28 10 51 51](https://user-images.githubusercontent.com/142755/58488015-a05a4b80-8136-11e9-892c-98582eba2514.png)

Each of these links to a Category landing page, which we were planning on doing away with, and replacing with a Search Results page. Can I also redirect each of these l

[2019-05-28 18:16] bobsilverberg commented on #8079
Further to my comment above, I think that if we need to keep the Category page code, in order to support Category pages that are linked to via that shelf mentioned above, we could land changes to it after this patch lands. That is, if we want to update the Category page to replace the Featured shelf with a Recommended shelf (as opposed to just removing the Category page entirely), we could land th

[2019-05-28 18:44] jvillalobos commented on #8079
Yes, let's make this change for theme category pages as well. The category URLs (like `/themes/nature/`) should still exist, however, and redirect to the right search page.

[2019-05-28 18:45] jvillalobos commented on #8028
Yes.

[2019-05-28 18:48] bobsilverberg commented on #8079
Ah, okay, that's not something I was planning, so thanks for pointing that out.

[2019-05-28 19:00] bobsilverberg commented on #8079
I'm going to open a separate issue for dealing with this shelf (as it's on the home page, not a landing page), and also to deal with this redirect.

[2019-05-28 19:07] bobsilverberg opened #8092 "Redirect the links from the theme category shelf on the home page to Search Results"
This is a follow-up to #8079, and (potentially) encompasses two changes:

1. The links from the shelf in question (see screenshot below) should no longer point to a Category page, but rather should point to a Search Results page, in a similar manner to how the category links on the Extensions and Themes pages are being changed to point to a Search Results page.

~~2. The URLs that previously exist

[2019-05-28 19:45] bobsilverberg commented on #8092
A hint from @kumar303 in IRC:

[2019-05-28 19:53] kumar303 commented on #8090
This may be obvious but as part of removing these pages, they will need to redirect to the new URLs (defined in https://github.com/mozilla/addons-frontend/issues/8079)

[2019-05-28 19:54] #8079 closed

[2019-05-28 19:57] bobsilverberg commented on #8090
I'm going to make this depend on #8092, which includes redirecting the category pages, so that should deal with this, but I'll make sure that any routes affected are redirected appropriately.

[2019-05-28 20:20] bobsilverberg commented on #8090
@jvillalobos We currently support the following URLs:

- https://addons.mozilla.org/en-US/firefox/themes/categories/
- https://addons.mozilla.org/en-US/firefox/extensions/categories/

I'm not sure what the purpose of these are, and they are not linked to anywhere in AMO. I am proposing that we delete the code that supports these URLs and not bother redirecting them to anywhere. Is that okay? What

[2019-05-28 20:24] bobsilverberg opened #8094 "Redirect category URLs to the Search Results page"
This is a spin-off from #8092.

We currently support URLs like:
- https://addons.mozilla.org/en-US/firefox/extensions/alerts-updates/
- https://addons.mozilla.org/en-US/firefox/themes/fashion/

The Category pages that those URLs currently point to are going away, and we want to redirect any traffic to the URLs to the Search results page similar to what was done in https://github.com/mozilla/addons

[2019-05-28 20:25] bobsilverberg commented on #8094
A hint from @kumar303 on IRC:

[2019-05-28 20:44] jvillalobos commented on #3594
I suggest we do two things:

1) Expand `$category-colors` to include all colors in the palette provided above.
2) Use a modulo operation in the category ID to decide which color should be assigned. Categories tend to have sequential numbering, so that should provide some variability in the colors. I bet the theme category IDs are entering the `if (category.id > maxColors) {` condition and then the

[2019-05-28 20:58] jvillalobos commented on #8087
This add-on is no longer available. For further help, please contact the developer.

[2019-05-28 20:58] #8087 closed

[2019-05-28 21:08] jvillalobos commented on #8050
Using `random` for the Recommended shelf sounds good to me. I don't think we need to make major changes to the shelves now.

[2019-05-28 21:19] jvillalobos commented on #8090
I suppose they were kept around for legacy reasons. They still get regular (low) traffic, so I would prefer that they redirect to their parent. So `/themes/categories/` -> `/themes/`, etc.

[2019-05-29 06:50] mohammdb0377 opened #8098 "add on builder helper"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-05-29 08:05] #8098 closed

[2019-05-29 08:09] willdurand commented on #8094
Why isn't this solved at the nginx level?

[2019-05-29 08:14] willdurand commented on #8092
See also: https://github.com/mozilla/addons-frontend/issues/8094#issuecomment-496832082

[2019-05-29 08:14] willdurand commented on #3594
I agree.

[2019-05-29 12:25] willdurand opened #8100 "ICU issue on Travis-CI (and locally too)"
Travis CI builds are failing because of an issue with ICU. I tried to clear the Travis cache, which fixed a bunch of things but there is still an issue with 3 test cases, due to ICU I think, but I don't know how it is related.

The expected non-breaking space char code is `160` but it seems to be `8239` now:

[code]

[2019-05-29 12:53] #8100 closed

[2019-05-29 13:17] AlexandraMoga commented on #8067
Verified fixed on -dev

![image](https://user-images.githubusercontent.com/31961530/58560156-3375ad00-822d-11e9-9916-914498786960.png)

[2019-05-29 14:22] AlexandraMoga opened #8102 "The Recommended badge from search results should link to the mozilla support page"
**STR**

1. Open AMO -dev
2. Search for a term that will also bring recommended extensions, i.e. _block_
3. Hover over the Recommended badge in search results

**Actual result:**
The badge contains a hyperlink that should open a mozilla support page. However, when you click on it, the add-on details page is opened instead

**Expected result:**
When clicking on the recommended badge in search resul

[2019-05-29 14:40] bobsilverberg commented on #8102
It seems that it's illegal to nest `<a>` tags, but that's what our code ends up doing in this situation. We need to change our code so we're no longer nesting `<a>` tags in this context, which might be a bit challenging.

Perhaps a better approach would be to use an `onClick` event on a non-anchor element for the RecommendedBadge to create the link rather than an `a` tag.

@willdurand | @kumar303

[2019-05-29 15:34] jvillalobos commented on #3594
Mentor: @kumar303

@rahulsyal2512 yes, you can take it.

[2019-05-29 15:40] caitmuenster commented on #5575
Hey @arnavvats, how's it going with this?

[2019-05-29 15:58] bobsilverberg commented on #8094
@kumar303 suggested that if we intend for this to be a permanent redirect, as opposed to a temporary redirect, that we should do it in the app, rather than via nginx. @willdurand do you disagree?

[2019-05-29 16:46] willdurand commented on #8094
We have permanent redirects in nginx too, I believe. For legacy stuff that don't involve any client side navigation, nginx seems a slightly better place to me, because it means we don't have to maintain anything in this repo.

[2019-05-29 16:48] bobsilverberg commented on #8094
I tend to agree with that, and it seems simpler too. Perhaps the issue in this case is that we're redirecting not to a simple URL but to a URL with query parameters, and it's possible that those could change in the future in the app, and then we'd have to remember to change the nginx rule too. Is that your concern, @kumar303?

[2019-05-29 17:09] #8085 closed

[2019-05-29 17:47] #8092 closed

[2019-05-29 19:56] bobsilverberg opened #8104 "Redirect categories URLs to their respective pages"
We currently support the following URLs:

- https://addons.mozilla.org/en-US/firefox/themes/categories/
- https://addons.mozilla.org/en-US/firefox/extensions/categories/

The CategoriesPage that these point to serves little purpose and are not linked to from anywhere in AMO.

@jvillalobos [has requested](https://github.com/mozilla/addons-frontend/issues/8090#issuecomment-496694039) that they redir

[2019-05-29 19:57] bobsilverberg commented on #8090
Thanks @jvillalobos. I opened #8104 for this.

[2019-05-29 20:06] kumar303 commented on #8104
If it's a permanent redirect, it should live in `addons-frontend` so that we don't accidentally break it as a feature. Nginx is better for temporary things like when we needed to serve `addons-frontend` alongside the old site as certain URLs weren't ready yet.

[2019-05-30 09:51] AlexandraMoga commented on #8035
Verified on -dev with Fx67, Win10x64
The recommended badge is present now for all add-on types:

Themes:
https://addons-dev.allizom.org/en-US/firefox/addon/aspergers-color-dance/?src=search
I'm adding some screenshots to show how the theme labels are looking now:
![image](https://user-images.githubusercontent.com/31961530/58624700-8c028400-82d9-11e9-8dd4-96d6048af2e1.png)

![image](https://user-im

[2019-05-30 16:20] bobsilverberg commented on #7961
@devaneymoz Do we have the final URL for this yet?

[2019-05-30 16:30] devaneymoz commented on #7961
@bobsilverberg I investigated and we do not yet have this link. I've reached out to Joni Savage (SUMO) to lend a hand getting it created. Hopefully we'll have it soon, at least a placeholder.

[2019-05-30 17:21] bobsilverberg commented on #7961
Thanks @devaneymoz. Please update this issue once we have the correct URL.

[2019-05-30 17:58] grahamperrin opened #8108 "Footer items appearing in the midst of the page as well as at the foot"
https://addons.mozilla.org/en-GB/firefox/addon/cookie-autodelete/versions/ in Waterfox 56.2.10 in safe mode on FreeBSD-CURRENT:

![image](https://user-images.githubusercontent.com/192271/58653023-bb7eb400-830c-11e9-8b68-09c1b2050201.png)

Firefox, safe mode:

![image](https://user-images.githubusercontent.com/192271/58653121-f385f700-830c-11e9-83d0-4e8c80dfdaf8.png)

[2019-05-30 19:52] bobsilverberg commented on #8050
Ok, I believe that everything discussed here has been moved into an issue. Here's what I opened as follow-ups:

- [Replace Category pages with search results pages](https://github.com/mozilla/addons-frontend/issues/8079)
- [Include only recommended add-ons on the Extensions landing page](https://github.com/mozilla/addons-frontend/issues/8085)
- [Redirect the links from the theme category shelf on

[2019-05-30 19:52] #8050 closed

[2019-05-31 08:50] AlexandraMoga commented on #8104
@bobsilverberg actually, we do link to `/themes/categories/` and `/extensions/categories/` on Android. For example, when you open the Extensions landing page, there is a button `Explore all extensions` that further opens `/android/extensions/categories/`. Currently, this is the only means of accessing categories on Android, so if we plan to redirect `/extensions/categories/` to  `/extensions/` we

[2019-05-31 10:05] AlexandraMoga commented on #8079
Verified fixed on -dev with Fx67, Win10x64 and Android 8.0

- extension and theme categories are opening now a search results page with results from the selected category
- the default sorting is `recommended,users` meaning that results will be displayed in the following format:
  -  first we have recommended add-ons, sorted by average daily users, followed by other add-ons from the selected categ

[2019-05-31 10:41] AlexandraMoga commented on #8092
Verified fixed on -dev with Fx67, WIn10x64 and Android 8.0

- the links from the theme category shelf on the homepage are now opening a search results page with results from the selected category. The results are sorted by `recommended,users` by default.

![2019-05-31_13-39-49](https://user-images.githubusercontent.com/31961530/58700779-b754a400-83a9-11e9-8d73-1e9d23429c17.gif)

[2019-05-31 14:16] ioanarusiczki commented on #8100
@willdurand Is qa needed ? If yes could you add some STR?
Thanks!

[2019-05-31 14:57] ioanarusiczki commented on #8085
@bobsilverberg
- the extension landing page displays only recommended add-ons.
- refreshing the page several times I've noticed that the same extension can appear on 2 shelves such as

![same addon](https://user-images.githubusercontent.com/33448286/58714422-5dfe6c00-83cd-11e9-87a7-3b9b26a9d818.png)

 We currently have 31 recommended add-ons on AMO dev.

[2019-05-31 15:13] bobsilverberg commented on #8104
Thanks @AlexandraMoga. I guess we should just keep the Categories pages then. Do you agree @jvillalobos?

[2019-05-31 15:20] bobsilverberg commented on #8085
Yes, we anticipated that could happen and decided not to do anything to prevent it.

Can you confirm that this is okay, @jvillalobos?

[2019-05-31 16:49] jvillalobos commented on #8104
Yes. Good catch!

[2019-05-31 16:53] bobsilverberg commented on #8104
Ok, let's close this.

[2019-05-31 16:53] #8104 closed

[2019-05-31 16:55] jvillalobos commented on #8085
It's okay, yes.

[2019-06-01 09:09] Mithil467 opened #8111 "In bookmarks section of Android firefox, I had this link which read firefox:customize with add-ons. Clicking on it said page doesn't exist and I was pointed to this section to file an issue."
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-01 14:36] zllist opened #8112 "xss-me"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-01 22:44] luckycoleman1978 opened #8113 "owner administrators"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

owners Christopher Michael Edward Coleman Need help with all businesses And Google Inc.LLC And FACEBOOK AND CORPORATIONS ANDREW AND PHONE NUMBER AND ACCOUNT NUMBER FOR CHRISTOPHER MICHAEL EDWARD COLEMAN ADDRESS IS 411 E COUER D ALENE AVE APPT 9 COUER D ALE

[2019-06-01 22:45] luckycoleman1978 commented on #8113
the poor birds can men drink water or the pollution is so bad can't even swim in the water without getting sick that's ridiculous we're drinking it need fresh water

[2019-06-02 10:27] #8113 closed

[2019-06-02 11:00] aplaice commented on #8111
Thanks for filing!

I think that this is a duplicate of https://github.com/mozilla/addons-frontend/issues/8059.

[2019-06-02 11:32] aplaice commented on #8059
Some further information:

The above-mentioned link is (has been) a default bookmark in all versions of Firefox for Android ("normal", beta and nightly). According to [archive.is](http://archive.is/https://addons.mozilla.org/android?utm_source=inproduct&utm_medium=default-bookmarks&utm_campaign=mobileandroid) it had worked in the past.

Interestingly, the link is a default bookmark even with a new

[2019-06-02 19:42] PunitGr commented on #5575
Hey @willdurand. Can I take it up, since @arnavvats isn't active?

[2019-06-02 22:09] PunitGr commented on #5575
@willdurand Hey, I've opened a PR. Please take a look at it.
Also, I wasn't able to reproduce the issue with `buttons` outline. The UI has also changed w.r.t to the one mentioned in the issue above.
Please let me know if it required any more changes.

Cheers

[2019-06-03 08:46] willdurand commented on #8100
no need for QA, sorry, thanks!

[2019-06-03 08:46] #8112 closed

[2019-06-03 08:46] #8111 closed

[2019-06-03 08:56] willdurand commented on #8035
@bobsilverberg on the screenshots above, the recommended badge does not look aligned with the other badges.

[2019-06-03 09:04] willdurand commented on #8108
I think this is similar to https://github.com/mozilla/addons-frontend/issues/7653. @muffinresearch could you maybe update the content of this add-on (as described [here](https://github.com/mozilla/addons-frontend/issues/7653#issuecomment-468769285))?

[2019-06-03 09:23] willdurand commented on #8059
With a trailing slash, the prefix middleware builds a correct URL but without it, it redirects to `/<locale>/firefox/android`.

[2019-06-03 10:02] AlexandraMoga commented on #8035
There is indeed a misalignment on the theme details page (although it is unlikely that themes will show any other badge besides the recommended badge)

![image](https://user-images.githubusercontent.com/31961530/58793882-b452f100-85ff-11e9-8885-5a50e1c60e84.png)

[2019-06-03 10:36] muffinresearch commented on #8108
@willdurand yep this is fixed now. The first release note was missing an opening and closing `ul` around a set of `li`s

[2019-06-03 10:36] #8108 closed

[2019-06-03 10:42] muffinresearch commented on #8059
This does seem like it's a case that should just work, though IIRC our entire URL scheme typically does have trailing slashes.

[2019-06-03 11:37] willdurand commented on #8059
I also noticed that `/android` is redirected correctly, but `/android?something=here` is not.

[2019-06-03 13:11] muffinresearch commented on #8059
I suspect if you add a test similar to that with a `clientApp` in the part before the `?` it would fail.

[2019-06-03 13:25] AlexandraMoga opened #8118 "`src=featured` should be replaced with `src=recommended` in add-on details URLs opened from search results filtered by recommended"
**STR**

1. Open AMO -dev
2. Perform a blank search and filter the results to show only recommended examples
3. Select one of the returned add-ons to view its details page - https://addons-dev.allizom.org/en-US/firefox/addon/anonymox/?src=featured
4. Observe the parameters sent in the URL

**Actual result:**
The access source is `src=featured`

**Expected result:**
The source should be changed to

[2019-06-03 16:44] willdurand commented on #8059
I added this test case to reproduce this bug, and it failed:

[code]

  ● /Users/williamdurand/projects/mozilla/addons-frontend/tests/unit/core/middleware/test_prefixMiddleware.js › should not mangle a query string for a redirect

    AssertError: expected redirect to be called with arguments
    301
    /en-US/firefox/android?test=1&bar=2 /en-US/android/?test=1&bar=2

      249 |     };
      250

[2019-06-03 16:59] willdurand commented on #8090
Isn't it available when browsing from a mobile phone?

[2019-06-03 17:07] bobsilverberg commented on #8090
Yes, but you're late to the game @willdurand 😉 I've already closed #8104

[2019-06-03 17:10] willdurand commented on #8090
ah, sorry 😞

[2019-06-03 17:15] kumar303 commented on #5575
This was done on purpose for accessibility. Please make sure we are following these guidelines to ensure usability of the micro buttons when the text shadow gets removed: https://github.com/FirefoxUX/photon/issues/264#issuecomment-364927535

[2019-06-03 17:17] bobsilverberg commented on #8118
This was discussed with @jvillalobos and he indicated that, because of existing analytics, we should keep the `src` as `featured`, even after replacing Featured shelves with Recommended shelves.

@jvillalobos can you please confirm or deny?

[2019-06-03 17:20] muffinresearch commented on #8059
I would imagine a fix for this would actually be for this url to not result in a redirect but to be passed straight-through as the slashes middleware should add the slash for it and that middleware follows this one.

See also https://addons.mozilla.org/firefox?foo=1 which would have the same issue.

[2019-06-03 17:26] willdurand commented on #8059
How could we detect that? If URL contains `/${clientApp}` (only?), then we early return so that the slashes middleware handles it?

[2019-06-03 17:28] jvillalobos commented on #8118
That's correct. `src=featured` has a special meaning in the developer stats dashboards, so let's keep it for now.

[2019-06-03 17:33] bobsilverberg commented on #8090
No need to be sorry! It's valuable information. It's just that someone else beat you to it!

[2019-06-03 17:42] muffinresearch commented on #8059
I think the core of the problem is that the places checking for clientApp are including the query params because they're not split out independently.

Redirection only occurs in the prefix middleware if the url is different https://github.com/mozilla/addons-frontend/blob/32c493bfc2290206df827bbee2c5b1b9ce8082a5/src/core/middleware/prefixMiddleware.js#L118 so if the resulting url is unchanged the s

[2019-06-03 17:47] willdurand commented on #8059
Yep, I noticed that too.

[2019-06-03 17:47] willdurand commented on #8059
👌

[2019-06-03 17:49] muffinresearch commented on #8059
Actually in these cases it would still be a redir because the locale would be added. But something like `/en-US/firefox?foo=1` would not be a redir from the prefix middleware.

[2019-06-03 19:55] kumar303 commented on #8094
I originally recommended against putting this in nginx because I considered it application logic (i.e. something specific to addons-frontend). However, since it is a mapping of a feature that will be *going away* from addons-frontend then it will soon no longer be application logic. So, yeah, nginx is a good place to put it.

Yes, I am slightly concerned about this. If that were to happen, the ngi

[2019-06-03 20:02] #8084 closed

[2019-06-03 20:06] bobsilverberg commented on #8094
Thanks for the feedback @kumar303. I've actually put together a PR (#8105) that solves this in addons-frontend (using a technique @willdurand suggested). Could you take a look and see if you're happy with that, or if you'd prefer we abandon that and just put some rules in nginx?

[2019-06-03 21:36] grahamperrin commented on #8053
Wild guess: https://techdows.com/2019/01/mozilla-pulls-s3-translator-and-screengrab-firefox-add-ons-from-amo.html ?

[2019-06-03 21:38] devaneymoz commented on #7961
@bobsilverberg here are two versions of the same link destination:

(in-product version)
https://support.mozilla.org/1/firefox/%VERSION%/%OS%/%LOCALE%/recommended-extensions-program

(standard URL)
https://support.mozilla.org/en-US/kb/recommended-extensions-program

I'm not sure which you use in this case so I wanted to get you both.

[2019-06-03 21:40] devaneymoz commented on #7961
@bobsilverberg here are two versions of the same link destination...

(in-product)
https://support.mozilla.org/1/firefox/%VERSION%/%OS%/%LOCALE%/recommended-extensions-program

(standard URL)
https://support.mozilla.org/en-US/kb/recommended-extensions-program

I'm not sure which you use in this case so I wanted to get you both. Also, FYI, the actual content on the page is currently hidden.

[2019-06-03 22:42] robinalp opened #8121 "s3 google translator plugin"
Hello there
I want to know why you removed the s3 google translator plugin
It was the most useful plugin in translation plugins. Please ask me to activate this plugin again.

[2019-06-04 09:42] willdurand commented on #8094
I am also in favor of nginx because having redirects in our code will likely increase the load on the app servers. I don't know if we have a lot of traffic on those URLs, but that might have a significant impact (but maybe not).

The only argument I like about having redirects in our code is that we'll have them "documented" and covered by tests, which will be a good thing in a far future in which

[2019-06-04 12:26] bobsilverberg opened #8123 "Redirect category URLs to the Search Results page"
To support legacy URLs (see https://github.com/mozilla/addons-frontend/issues/8090#issuecomment-496694039) after [removing category pages](https://github.com/mozilla/addons-frontend/issues/8090), we need to add some redirects.

It was decided we should do this via nginx, so this is a request to add a rule to redirect all traffic to category URLs to the Search Results page.

The current URLs look l

[2019-06-04 13:50] #8094 closed

[2019-06-04 13:53] bobsilverberg commented on #8123
Note that the code that we added to do the redirect in addons-frontend should be removed after this change lands. That code is at https://github.com/mozilla/addons-frontend/blob/6dcf336e0834d98499a7ce837b37d4d3373211d7/src/core/server/base.js#L170-L187 and https://github.com/mozilla/addons-frontend/blob/6dcf336e0834d98499a7ce837b37d4d3373211d7/src/core/server/base.js#L286-L299.

[2019-06-04 14:04] #8090 closed

[2019-06-04 14:11] bobsilverberg opened #8124 "Review and close issues related to the Category page"
With #8109 landed, which removes the code for the Category page, we should review open issues and close any that relate to the no longer existing Category page.

[2019-06-04 15:01] ioanarusiczki commented on #8084
@bobsilverberg
- I verified this issue on FF67(Win10) with different categories for both extensions and static themes and I did not see problems meaning that the default sort is `sort=recommended%2Cusers` and the recommended addons are displayed on top of the page and non-recommended are following.
The same for the rest of the sort types: `relevance`, `updated`, `rating`, `hotness` which combined

[2019-06-04 15:22] willdurand commented on #8121
Hey, thanks for the report. Let's continue the discussion in #8053.

[2019-06-04 15:22] #8121 closed

[2019-06-04 15:24] willdurand commented on #8053
@jvillalobos or @wagnerand could you give some more context about S3.Translator not being listed on AMO anymore? (unless this has been written somewhere already)

[2019-06-04 15:33] #5575 closed

[2019-06-04 15:43] #8028 closed

[2019-06-04 16:17] #8059 closed

[2019-06-04 16:34] wagnerand commented on #8053
The add-on is unavailable due to review issues. It's up to the developer to resolve them.

[2019-06-04 16:34] #8053 closed

[2019-06-04 17:38] #8089 closed

[2019-06-04 18:39] bobsilverberg commented on #7961
Thanks @devaneymoz

[2019-06-04 21:33] bqbn commented on #8123
Can we please get some background info what problems we're trying to solve, and why this is decided that we should do this via nginx?

With all due respect, I think we should be engaged in the conversation at the beginning, instead of being notified with a decision afterwards.

[2019-06-05 00:51] bobsilverberg commented on #8123
Please accept my apologies @bqbn, I didn't know that you'd be interested in discussing it, and if I had I would have included you in the discussion. We can certainly do that now. It's after hours for me right now but tomorrow I'll try to summarize the discussions from the other issue and I will look forward to hearing your input.

[2019-06-05 11:11] sashaktpathak commented on #3594
If anybody has not taken up this issue, can i work with this one?
Also,  Where is this function used further.

https://github.com/mozilla/addons-frontend/blob/e4668770d1329012480c853749fda32e424ab0ab/src/core/utils/index.js#L247

[2019-06-05 11:35] ioanarusiczki commented on #8094
@bobsilverberg Verified this on AMO dev - FF67(win10).
Instead of https://addons.mozilla.org/en-US/firefox/extensions/alerts-updates/ or https://addons.mozilla.org/en-US/firefox/themes/fashion/ the links are
https://addons-dev.allizom.org/en-US/firefox/search/?category=alerts-updates&sort=recommended%2Cusers&type=extension
and
https://addons-dev.allizom.org/en-US/firefox/search/?category=fashion&s

[2019-06-05 11:52] vcarciu opened #8131 "Redirect is missing for a link from Guides pages"
Steps to reproduce:
1.Go to AMO Stage and open https://addons.allizom.org/en-US/firefox/guides/enhance-your-media-experience/
2. Go to "Bring media right into the browser" section and press the "photo, music & video extensions" link

Expected results:
The link should open https://addons.allizom.org/en-US/firefox/search/?category=photos-music-videos&sort=recommended%2Cusers&type=extension

Actual r

[2019-06-05 12:41] silviosky opened #8132 "Down Them All unreacheable"
### Describe the problem and steps to reproduce it:

Down Them All addon isn't downloadable.

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-05 13:21] ioanarusiczki commented on #8028
@bobsilverberg I verified this issue on AMO dev with FF67(Win10).
**Homepage**
The Featured shelves were replaced with Recommended sorted by `random`.
Recommended Extensions
https://addons-dev.allizom.org/en-US/firefox/search/?recommended=true&sort=random&type=extension
Recommended themes
https://addons-dev.allizom.org/en-US/firefox/search/?recommended=true&sort=random&type=statictheme
**Extension

[2019-06-05 13:26] chaitannah opened #8133 "Broken Link"
Broken Link on MozillaWiki IRC page
(https://wiki.mozilla.org/IRC)

Under the Pick an IRC client section, the link to Chatzilla on the extension market is broken.
https://wiki.mozilla.org/IRC#Pick_an_IRC_client

Would require an edit on the MozillaWiki html

[2019-06-05 14:19] ioanarusiczki commented on #8089
@bobsilverberg

I see the `api-recommendations-priority` switch as being active on AMO dev. When you said enableFeatureRecommendedBadges flag did you refer to this one ?

- Recommended Extensions and Recommended Themes were already verified in https://github.com/mozilla/addons-frontend/issues/8028

-  Trending Extensions shelves logic is the same as for recommended extensions meaning they'll retri

[2019-06-05 14:58] bobsilverberg commented on #8089
No, this is a flag on the front-end which "turns on" the recommended badges feature. It is currently turned on in dev but not in stage or prod.

I think that all of the above observations are related to the *landing* pages, but this issue is specifically and only about changes to the *home* page.

[2019-06-05 15:54] bobsilverberg commented on #8028
Thanks @ioanarusiczki. My apologies but I cannot tell what above is an expression of verification and what, if anything, is an outstanding question. Please not that this issue was only about changing the Featured shelves to Recommended shelves and did not include any changes to other shelves, although those were dealt with via other issues.

[2019-06-05 15:58] bobsilverberg commented on #8131
Because the redirect we added for the Category page is server-side only, this link isn't being redirected. The fix for this is to change this link to point at the Search results page just as we did with other existing category page links.

[2019-06-05 16:02] ioanarusiczki commented on #5575
@willdurand I verified this on AMO dev - FF67 (Win10)

That's how it appeared before

![with text-shadow](https://user-images.githubusercontent.com/33448286/58971068-53741600-87c3-11e9-9827-fe42d416a8be.png)

The text-shadow has been removed

![no text shadow](https://user-images.githubusercontent.com/33448286/58970993-2f183980-87c3-11e9-98f7-62361803b29b.png)

@muffinresearch  I could not reprodu

[2019-06-05 16:35] kumar303 commented on #8123
We are requesting redirect logic to map legacy URLs to current URLs. Because of this, we don't consider it application logic. It's historic logic that needs to be mapped to new logic. This made nginx seem like a good place for it. However, we can still put it in the frontend application if that's helpful.

[2019-06-05 16:47] caitmuenster commented on #8133
Thanks! I just removed it from the wiki.

[2019-06-05 16:47] #8133 closed

[2019-06-05 16:58] bobsilverberg commented on #8094
Yes, this is intended. This change is landing on stage and prod, even though the recommended badges are not being turned on yet. They can function independently from each other.

[2019-06-05 18:26] #8131 closed

[2019-06-05 18:33] bobsilverberg commented on #8131
This fix is on dev and I also just cherry-picked it and pushed a new tag so it should be on stage soon as well.

[2019-06-05 19:38] #7961 closed

[2019-06-05 20:12] jvillalobos commented on #8132
The add-on is no longer compatible with release versions of Firefox, so it's not available until the developer updates it.

[2019-06-05 20:12] #8132 closed

[2019-06-06 07:41] ioanarusiczki commented on #8090
@bobsilverberg Would testing for the other issues from this patch cover for this issue too ?  Such as https://github.com/mozilla/addons-frontend/issues/8092 https://github.com/mozilla/addons-frontend/issues/8094 and https://github.com/mozilla/addons-frontend/issues/8028

[2019-06-06 07:47] ioanarusiczki commented on #8089
@bobsilverberg
As per discussion I'm marking this verified on AMO dev - FF67(Win10).

[2019-06-06 07:52] ioanarusiczki commented on #8028
@bobsilverberg As discussed, the theme landing page is fine https://github.com/mozilla/addons-frontend/issues/8050#issuecomment-495412959
Verified on AMO dev - FF67(Win10).

[2019-06-06 08:48] ioanarusiczki commented on #8059
@willdurand I tested this on FF67 like this:
- on Android - if I go to a new tab to Bookmarks and tap Firefox:Customize with add-ons I get this link
https://addons.mozilla.org/en-US/android/android/?utm_source=inproduct&utm_medium=default-bookmarks&utm_campaign=mobileandroid
it's a 404 - page not found
same if I paste this link https://addons.mozilla.org/android?utm_source=inproduct&utm_medium=def

[2019-06-06 09:01] willdurand commented on #8059
@ioanarusiczki I am not sure to follow, those links are for prod, but the fix has not been pushed to prod yet.

[2019-06-06 09:22] Shubhamchinda commented on #7702
Can I take up this bug?

[2019-06-06 09:27] willdurand commented on #7702
@Shubhamchinda yep

[2019-06-06 09:30] suhailsinghbains commented on #7702
Hi @Shubhamchinda
Please go on, [Getting Started](https://github.com/mozilla/addons-frontend#get-started) this will help you in setting up the project, if you have any issues, feel free to ask :)

[2019-06-06 09:30] ioanarusiczki commented on #8059
@willdurand Sorry, I got confused thinking that links with utm parameters only have to deal with addons.mozilla (more complicated to explain why) . So I only described above the actual issue.

https://addons-dev.allizom.org/android?utm_source=inproduct&utm_medium=default-bookmarks&utm_campaign=mobileandroid redirects correctly
https://addons.allizom.org/android?utm_source=inproduct&utm_medium=defa

[2019-06-06 09:48] vcarciu commented on #8131
Verified as fixed on Stage : the link is correctly redirecting to https://addons.allizom.org/en-US/firefox/search/?category=photos-music-videos&sort=recommended%2Cusers&type=extension

[2019-06-06 11:51] bobsilverberg commented on #8090
@ioanarusiczki Yes, there's nothing specific to test for this as all of the code has been removed. I wouldn't expect any regressions as a result, but the other testing you did for those other issues is a good sanity check.

[2019-06-06 12:20] bobsilverberg opened #8137 "Create an A/B test for non-recommended install button disclaimer"
We have discussed the possibility of adding a disclaimer under the install button for non-recommended add-ons, and it was decided we would conduct an A/B test before implementing this for all users.

The final copy for this message (from the Google Doc) is "This extension isn’t monitored by Mozilla. Make sure you trust the extension before you install it. Learn more", where the "Learn more" link w

[2019-06-06 12:46] bobsilverberg commented on #8123
Thanks for the explanation @kumar303.

@bqbn Does that suffice? Would you like to discuss it further?

[2019-06-06 13:05] bobsilverberg commented on #8124
I did a search for open issues that include the work `category` or `categories`, as well as anything with the label `component: categories` and didn't find any issues that can be closed as a result of eliminating the Category page.

[2019-06-06 13:05] #8124 closed

[2019-06-06 13:53] sashaktpathak commented on #7702
Hi, if anybody has not taken up this issue. Can i work on it. I read that @willdurand asked to create a  test case for this issue. Can anybody tell me how to create one.

[2019-06-06 14:09] Shubhamchinda commented on #7702
@willdurand Okay, Thanks I'll write the test case and let you know when it's done.
Thanks @suhailsinghbains .

[2019-06-06 14:52] ioanarusiczki commented on #8090
@bobsilverberg The one regression found was https://github.com/mozilla/addons-frontend/issues/8131
and fixed.
I'm marking this verified on AMO dev - FF67(Win10 &Android 8.0).

[2019-06-06 18:33] suhailsinghbains commented on #2307
Hi, Are we going to add a comment to each gettext() Calls?
Thanks

[2019-06-06 19:51] rahulsyal2512 commented on #3594
i have added all the colors given in the pallete above.
please tell if there is anything to do with modulo operation?

[2019-06-07 05:02] bqbn commented on #8123
Yes, that makes sense. Thanks!

The redirection rules are deployed to -dev now.

[2019-06-07 08:42] ioanarusiczki commented on #7961
@bobsilverberg
- clicking the `Recommended` badge from the add-ons detail page will open the SUMO article through
https://support.mozilla.org/en-US/kb/recommended-extensions-program

![SUMO](https://user-images.githubusercontent.com/33448286/59091736-a57a8000-8918-11e9-9984-0f9eb0fb19d6.gif)

- clicking it while being in a search result will open the add-ons detail page but I believe this is as ex

[2019-06-07 08:52] willdurand commented on #2307
No. I am wondering whether this issue is still relevant to be honest, because we've added comments for localizers over the last few months, and I believe localizers reported issues to us.

[2019-06-07 14:39] bobsilverberg commented on #8123
Thanks @bqbn. These rules can also be deployed to stage and prod whenever you are ready to do so. There's no rush, but it's also not blocked on anything.

[2019-06-07 16:37] championshuttler opened #8143 "Remove the code of redirection of urls"
As redirection of the urls will be done at nginx level its best to delete the redirection's code at

 https://github.com/mozilla/addons-frontend/blob/6dcf336e0834d98499a7ce837b37d4d3373211d7/src/core/server/base.js#L170-L187

and

https://github.com/mozilla/addons-frontend/blob/6dcf336e0834d98499a7ce837b37d4d3373211d7/src/core/server/base.js#L286-L299

cc @bobsilverberg

[2019-06-07 16:40] kumar303 commented on #3594
@rahulsyal2512 great, thanks. Did you create a pull request? I can take a look once you create a pull request.

[2019-06-07 17:51] rahulsyal2512 commented on #3594
@kumar303 yes i did

[2019-06-08 04:13] bqbn commented on #8123
Do we need QA to verify things work as expected before pushing it to -prod?

(The redirection rules are deployed to -stage as well, btw)

[2019-06-08 16:54] willlma commented on #7282
I reached out to Amazon on this issue, was told to use Chrome or email to Kindle. When I made it clear that I was just reporting an issue, the rep said they would pass this info to the kindle dev team. I passed a link to this page hoping we can get a comment from them on whether they plan to build a new extension.

[2019-06-09 01:29] kumar303 commented on #3594
@rahulsyal2512 great, can you send me a link to the pull request? I'll take a look.

[2019-06-09 12:09] rahulsyal2512 commented on #3594
@kumar303 here it is - https://github.com/mozilla/addons-frontend/pull/8139

[2019-06-09 15:10] kumar303 commented on #3594
@rahulsyal2512 your pull request description is missing some important info that was there when you created it ([see the template here](https://github.com/mozilla/addons-frontend/blob/master/PULL_REQUEST_TEMPLATE.md)). Can you add that back? Most importantly, it needs `Fixes #3594` at the top.

[2019-06-09 20:22] rahulsyal2512 commented on #3594
@kumar303 please check if this is fine now? https://github.com/mozilla/addons-frontend/pull/8146

[2019-06-09 23:26] jeneral19803 opened #8147 "saber"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-10 01:19] suhailsinghbains commented on #7702
Hi @sashaktpathak Shubhamchinda is working on this, so, it cannot be transfered to you without consent. Please feel free to go [issues](https://github.com/mozilla/addons-frontend/issues?q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22)

[2019-06-10 06:46] kevitivity opened #8149 "Firefox extension for Kindle. Link broken."
### Describe the problem and steps to reproduce it:
Download link for Firefox kindle extension is nroken.
URL: https://www.amazon.com/gp/sendtokindle/firefox

### What happened?
Page not found :oops"
### What did you expect to happen?
download start.
### Anything else we should know?

https://www.amazon.com/gp/sendtokindle/firefox

[2019-06-10 07:26] ioanarusiczki commented on #7961
@bobsilverberg Hmm, or not. I see https://github.com/mozilla/addons-frontend/issues/8102 filed for the search results.

[2019-06-10 09:28] ioanarusiczki commented on #8102
@bobsilverberg Probably should be the same for `Recommended` badges that show in the `More extensions by " section from the add-on detail page.  - FF67(Win10)

![recommended](https://user-images.githubusercontent.com/33448286/59186303-30f34b80-8b7b-11e9-9880-f1d664c352a1.png)

[2019-06-10 14:40] kumar303 commented on #3594
@rahulsyal2512 you still need to edit the description of the PR so that it says `Fixes #3594` (it's the second checkbox item). This is important because it will automatically close the issue when the PR gets merged.

[2019-06-10 14:41] kumar303 commented on #3594
@rahulsyal2512 sorry, I realize that the PR template is a bit confusing here. See the last sentence of the template:

"Once you have met the above requirements please replace this section with a Fixes #ISSUENUM linking to the issue fixed by this PR along with an explanation of the changes. Thanks for your contribution!"

[2019-06-10 15:00] mymindstorm opened #8151 "User average rating inaccurate"
### Describe the problem and steps to reproduce it:

API says my avg. rating is 4.23 - https://addons.mozilla.org/api/v4/accounts/account/13468324/
My only listed addon is rated at 4.5882 - https://addons.mozilla.org/api/v4/addons/addon/authenticator@mymindstorm/

### What happened?

My avg. rating is 4.23

### What did you expect to happen?

My avg. rating is 4.6

### Anything else we should know

[2019-06-10 15:01] mymindstorm commented on #8151
oops I meant to put this in the backend

[2019-06-10 15:01] #8151 closed

[2019-06-10 15:01] rahulsyal2512 commented on #3594
@kumar303 done

[2019-06-10 15:01] rahulsyal2512 commented on #3594
i hope that will work now

[2019-06-10 17:34] #8147 closed

[2019-06-10 17:38] jvillalobos commented on #8149
Closing as a duplicate of https://github.com/mozilla/addons-frontend/issues/7282

[2019-06-10 17:38] #8149 closed

[2019-06-10 17:38] thisbutterfly commented on #8143
I would like to work on this one. @championshuttler

[2019-06-10 17:40] #8143 closed

[2019-06-10 17:42] bobsilverberg commented on #8123
Yes, that would be a good idea. I just merged #8144 which removes the code from addons-frontend, so that can now be verified on dev. Once the tag is pushed tomorrow, the redirects can be verified on stage. I guess it would make sense to push the changes to prod as part of Thursday's push as well. I'll add a comment to the push doc. I guess we should close this issue to flag it for QA to verify in

[2019-06-10 17:47] bobsilverberg commented on #8123
@bqbn I added a note at https://github.com/mozilla/addons/blob/master/releases/2019/06/13.md#before-we-push as a reminder to push these rules to prod as part of Thursday's push.

[2019-06-10 17:57] bobsilverberg commented on #8143
Thanks for your interest @thisbutterfly, but this has already been completed.

[2019-06-10 17:58] thisbutterfly commented on #8143
It's alright @bobsilverberg  :)

[2019-06-10 19:55] bobsilverberg commented on #7960
@jvillalobos I know this has been discussed extensively, but just to make sure this issue is accurate: after we "turn on" the recommended badges, we no longer will need the Featured Theme badge either - correct?

[2019-06-10 20:28] jvillalobos commented on #7960
Correct. We decided to use the Recommended badge instead of the Featured badge for themes (still determined by the Featured Themes collection), so the Featured badge should also go away for themes.

[2019-06-11 12:02] #8102 closed

[2019-06-11 12:09] bobsilverberg commented on #8102
@ioanarusiczki Could you file a separate bug for that. I see that my changes have fixed this for some screen sizes, but there seems to be a styling issue causing it not to work with others. For example, this screen size works fine:

![Screenshot 2019-06-11 08 08 14](https://user-images.githubusercontent.com/142755/59270675-1626e280-8c20-11e9-9637-50a0ba72579d.png)

But this one looks off and doesn

[2019-06-11 13:29] AlexandraMoga opened #8154 "Homepage shelves have a broken layout"
**STR**

1. Load AMO -dev
2. Observe the layout of the homepage shelves
3. Open AMO homepage on stage and compare results

**Actual result:**
On -dev, there is a misalignment between the add-on icons and their names. Theme previews also have a different size - 418x53 on -dev vs. 370x47 on stage

**Expected result:**
There are no layout issues observed

**Notes:**
- you can see the same layout issu

[2019-06-11 13:44] bobsilverberg commented on #8154
This could have been a result of changes introduced in #8107. I am looking into it.

[2019-06-11 14:07] bobsilverberg commented on #8154
The problem is that we used to have a `<a>` tag wrapping the entire `SearchResult-result` element, with a class of `SearchResult-link` which was used to control some styling. We no longer have that `<a>` tag wrapping everything and those styles were not moved elsewhere. Complicating this was the fact that we still have an element with a style of `SearchResult-link` but it is no longer a wrapper.

[2019-06-11 14:55] #8154 closed

[2019-06-11 16:08] AlexandraMoga commented on #8154
Verified fixed on -dev with Fx67, Win10x64 and Android 8.0

![image](https://user-images.githubusercontent.com/31961530/59288265-105eea80-8c7c-11e9-923d-a36a7fadcbf3.png)

[2019-06-11 16:37] 100004584750028 opened #8160 "I'm not sure if there's much we can do about broken HTML (we should probably warn about it, though)."
I'm not sure if there's much we can do about broken HTML (we should probably warn about it, though).

Can you try it again with valid HTML? Like this:

[code]

_Originally posted by @kumar303 in https://github.com/mozilla/addons-frontend/issues/7998#issuecomment-490995436_

[2019-06-11 16:54] kumar303 commented on #8160
Hi. Thanks for helping out by filing a new issue but we already have this covered by https://github.com/mozilla/addons-frontend/issues/7998 and https://github.com/mozilla/addons-server/issues/10832 so we don't need a new issue.

[2019-06-11 16:54] #8160 closed

[2019-06-12 01:48] cpeterso commented on #7963
@jonalmeida is preparing to land a temporary Fenix UA override for addons.mozilla.org (and support.mozilla.org) in mozilla-mobile/fenix#1134. Fenix 68 will spoof version 69 on AMO and SUMO.

With the UA spoof, AMO and SUMO can assume that mobile Firefox UA with version <= 68.0 is Fennec and version >= 69.0 is Fenix forever.

[2019-06-12 01:57] kumar303 commented on #8102
@bobsilverberg is there a bug on file yet for the styling issues? Feel free to assign it to me.

[2019-06-12 06:52] AlexandraMoga commented on #8102
Verified fixed on -dev with Fx67 Win10x64

The recommended badge shown in search results is now redirecting to the SUMO article.
 *Note - also verified for More addons by developer card and the Extension and Themes cards from a user profile page

![2019-06-12_08-56-03](https://user-images.githubusercontent.com/31961530/59329481-a6842680-8cf7-11e9-815d-e007a398c766.gif)

[2019-06-12 08:03] ioanarusiczki opened #8161 "Recommended badge layout issues in the More extensions section on the detail page"
Followup for https://github.com/mozilla/addons-frontend/issues/8102
STR:
1. Go to an add-ons detail page to the More Extensions by _displayname_ section (make sure the user has recommended addons)
2. Observe the badge

Expected result:
No layout issues.

Actual result:
The badge overlaps the number of users.

Notes:
That would be reproducible for a number of 6 addons in the More Section - as displ

[2019-06-12 08:04] ioanarusiczki commented on #8102
@kumar303 @bobsilverberg I opened a new issue for the styling issue here https://github.com/mozilla/addons-frontend/issues/8161

[2019-06-12 10:21] willdurand commented on #7963
User-Agent sent to AMO (based on https://github.com/jonalmeida/fenix/commit/28e5251b03b50dc664e3feb05365818ed881547a):

[code]

[2019-06-12 14:32] ioanarusiczki commented on #8123
@bobsilverberg I've been going through all [categories ](https://addons-server.readthedocs.io/en/latest/topics/api/categories.html#id1) on AMO dev and AMO stage for
`/en-US/firefox/extensions/:categoryslug/`
`/en-US/firefox/themes/:categoryslug/`
`/en-US/android/extensions/:categoryslug/`
`/en-US/android/themes/:categoryslug/`
They redirect correctly to the new search pages.

[2019-06-12 15:10] ioanarusiczki opened #8163 "Invalid "category" parameter when reloading the categories page"
STR:
1. Load AMO dev with an android device and go to Extensions tab
2. Tap "Explore all categories"
3. After the categories are displayed reload the page

Expected result:
Page is displayed with no errors

Actual result:
"Invalid "category" parameter. " is displayed

Notes:
If I paste the link in new tab on desktop for
https://addons.allizom.org/en-US/android/extensions/categories/
https://addons

[2019-06-12 15:13] jonalmeida commented on #7963
@willdurand Also note that 'Android 9' shows up for only my devices. That part will change depending on android OS version (I'm fixing my PR as well).

[2019-06-12 15:14] willdurand commented on #7963
yep, I believe it's fine as far as we detect an Android OS, which should already be the case.

[2019-06-12 15:16] ioanarusiczki commented on #8143
@bobsilverberg I filed https://github.com/mozilla/addons-frontend/issues/8163 but that's not a regression from this week - it's reproducible on prod too.

Would testing for https://github.com/mozilla/addons-frontend/issues/8123 cover for this ?

I tested the redirect for a couple of categories in other locales too - no problems there either.

[2019-06-12 15:18] willdurand commented on #8123
We do have an issue with the nginx rules, see: https://github.com/mozilla/addons-frontend/issues/8163.

There should be no redirect when `:categoryslug` is `categories`, so we should not rewrite `/(\w{2,3}(?:-\w{2,6})?/(?:firefox|android))/extensions/categories/$` and `/(\w{2,3}(?:-\w{2,6})?/(?:firefox|android))/themes/categories/$`.

[2019-06-12 15:18] willdurand commented on #8123
@bqbn ^ do you think it would be doable in nginx?

[2019-06-12 15:32] #7963 closed

[2019-06-12 15:35] willdurand commented on #8163
I left a comment in a related issue: https://github.com/mozilla/addons-frontend/issues/8123#issuecomment-501321551

TL;DR: the "all categories" URLs look like a category/theme URL and the nginx rules catch them, which explains why users get redirected to the search results with an invalid category (because `categories` isn't a valid category).

All categories URLs:

- addons.allizom.org/en-US/andr

[2019-06-12 15:38] kumar303 commented on #8123
@bqbn to put it another way, the nginx rule redirects `/extensions/$name/` to `/search/?category=$name` so we just need to exclude the URL `/extensions/categories/` because that one should not redirect.

[2019-06-12 15:44] bobsilverberg commented on #8123
It sounds like maybe we should re-open this issue and make it a P1 as it needs to be addressed before we push these new rules to prod.

[2019-06-12 15:55] bobsilverberg commented on #8163
What this means is that we need the nginx rules changed so that none of:

- addons.allizom.org/en-US/android/extensions/categories/
- addons.allizom.org/en-US/android/themes/categories/
- addons.allizom.org/en-US/firefox/extensions/categories/
- addons.allizom.org/en-US/firefox/themes/categories/

redirect, but any url with a category other than `categories` does continue to redirect.

These rules

[2019-06-12 15:56] bobsilverberg commented on #8123
I'm going to close this again and just use #8163 to track this fix.

[2019-06-12 15:56] #8123 closed

[2019-06-12 17:52] bobsilverberg commented on #8143
@ioanarusiczki yes, testing for #8123 should cover this. I'm a bit confused about your comment that #8163 is reproducible on prod. I don't see why that would be the case.

[2019-06-12 17:56] bobsilverberg commented on #8161
Assigning to @kumar303 as discussed at https://github.com/mozilla/addons-frontend/issues/8102#issuecomment-501090122

[2019-06-12 20:28] bqbn commented on #8123
Heh, this should be doable, although, it's like pushing the use of Nginx configs to its limit. After all, Nginx config language is not a high level programming language, it's not good at handling complex control logic. :)

[2019-06-12 20:30] bqbn commented on #8163
The updated Nginx rules is deployed to -dev and -stage. Please try again.

(may need to clear browser cache before testing)

[2019-06-12 20:45] bobsilverberg commented on #8163
Looks like it works, thanks for the quick fix @bqbn!

[2019-06-13 08:12] ioanarusiczki commented on #8163
@bobsilverberg @willdurand

It only works right now on AMO dev for
https://addons-dev.allizom.org/en-US/firefox/extensions/categories/
https://addons-dev.allizom.org/en-US/firefox/themes/categories/
but if I change `firefox` to `android` these links still redirect to search results
https://addons-dev.allizom.org/en-US/android/extensions/categories/
https://addons-dev.allizom.org/en-US/android/them

[2019-06-13 08:20] ioanarusiczki commented on #8143
@bobsilverberg Click on https://addons.mozilla.org/en-US/firefox/extensions/categories or
 https://addons.mozilla.org/en-US/android/extensions/categories
It will redirect to search results.

[2019-06-13 08:57] ioanarusiczki commented on #8163
@bobsilverberg @willdurand @bqbn

I tested it again on AMO dev and AMO stage  - FF67(Win10 and android 8.0)
The category pages will redirect as expected to the list of categories.
It will be validated later today on prod too.

![works for me](https://user-images.githubusercontent.com/33448286/59418882-78bfe000-8dd2-11e9-9858-8670b64eacc1.gif)

[2019-06-13 08:58] #8163 closed

[2019-06-13 12:45] bobsilverberg commented on #8143
Ah, I see. This is actually a bug from #8105 that was never caught. This should be fixed on prod when the new nginx rules are pushed.

[2019-06-13 13:39] pepette29 opened #8176 "kaspr"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-13 13:44] #8176 closed

[2019-06-13 16:25] willdurand opened #8177 "TypeError: filters.sort.split is not a function"
https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/issues/5946007/

[code]

/cc @bobsilverberg

For QA:
This can be reproduced by specifying two `sort` URL parameters for the search page, e.g., https://addons.mozilla.org/en-US/firefox/search/?sort=hotness&sort=users.

[2019-06-13 16:45] bobsilverberg commented on #8177
Thanks @willdurand, I'll take a look.

[2019-06-13 17:51] jonalmeida opened #8179 "AMO should use "Firefox Preview" in strings instead of "Fenix""
### Describe the problem and steps to reproduce it:

In the [AdddonCompatibilityError](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/AddonCompatibilityError/index.js#L112), "Fenix" referred when it should be "Firefox Preview".

Fenix is the codename, Firefox Preview is the product name. (similar to fennec/Firefox for Android).

[2019-06-13 17:51] jonalmeida commented on #8179
cc: @willdurand

[2019-06-13 18:18] championshuttler commented on #8179
Can i take this up @willdurand

[2019-06-13 18:19] willdurand commented on #8179
@championshuttler yep, go for it!

[2019-06-13 18:34] rahulsyal2512 commented on #3594
@kumar303 please merge my PR if there is no issue: - https://github.com/mozilla/addons-frontend/pull/8146

[2019-06-13 20:40] kumar303 opened #8180 "Category buttons should use the Photon pallette"
The category pages shown in https://github.com/mozilla/addons-frontend/issues/3594 are using the wrong colors. They should follow the [Photon colors](https://design.firefox.com/photon/visuals/color.html). There isn't a mock-up that uses Photon colors but you could look at https://github.com/mozilla/addons-frontend/issues/3594 and try to come up with the correct mapping.

[2019-06-13 20:42] kumar303 commented on #3594
@rahulsyal2512 thanks for all your work on this issue but, unfortunately, the issue was pretty far out of date. The mocks and guidance in the description are no longer valid. I made a new issue for what we need to do but that one is not a good first bug as it's no longer such a straight forward fix.

Moved to https://github.com/mozilla/addons-frontend/issues/8180

[2019-06-13 20:42] #3594 closed

[2019-06-13 22:45] bqbn opened #8181 "Increased 500 errors after 2019.06.13 release"
### Describe the problem and steps to reproduce it:

We have seen increased 500 errors after 2019.06.13 release.

<img width="453" alt="Screen Shot 2019-06-13 at 3 30 38 PM" src="https://user-images.githubusercontent.com/2209111/59471610-53da6580-8df0-11e9-8120-be6bbdd08147.png">

The current error rate is close to 10 times more than before the release. This much increase of error rate usually ind

[2019-06-14 05:17] mahmudbpb opened #8183 "ddd"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-14 08:18] ioanarusiczki commented on #8163
Verified on AMO prod - FF67 - Win10

[2019-06-14 08:24] ioanarusiczki commented on #8123
Verified on AMO prod - FF67 -Win10

[2019-06-14 11:08] #8183 closed

[2019-06-14 12:54] willdurand commented on #8181
@bqbn thanks, I believe this is similar to https://github.com/mozilla/addons-frontend/issues/8163, that is: we should add yet another special case for the category URL redirects.

It looks like those URLs are valid and should be redirected to... addons-server (to be confirmed):

[code]

[2019-06-14 14:28] bobsilverberg commented on #8181
@willdurand Don't you think this is the same as #8177? All of the URLs above have two sort params in the querystring, which didn't used to throw an exception, but is now throwing an exception. If I manually remove one of the sort params from the querystring I do see an error for 'Invalid "category" parameter' on the Search Results page, but it's not a 500.

It looks like the new redirect rule does

[2019-06-14 15:56] kumar303 commented on #8181
If someone is using RSS and they follow a link like https://addons-dev.allizom.org/en-US/firefox/extensions/format:xss/?sort=featured then it will trigger the 500. I thought we had turned RSS off, though. I'm trying to confirm that.

[2019-06-14 16:56] kumar303 commented on #8181
Yep, we turned off RSS in https://github.com/mozilla/addons-server/pull/11097/files#diff-51cb1918f67350b18c817fafabce2ac4L67 so these responses were definitely 404s before they became 500s.

[2019-06-14 17:07] kumar303 opened #8185 "The old RSS URL should be a 404"
### Describe the problem and steps to reproduce it:

Load an old RSS URL such as https://addons-dev.allizom.org/en-US/firefox/extensions/format:rss/?sort=featured

### What happened?

This redirects to https://addons-dev.allizom.org/en-US/firefox/search/?category=format:rss&sort=recommended%2Cusers&type=extension&sort=featured which triggers a 500 (https://github.com/mozilla/addons-frontend/issues

[2019-06-14 19:33] kumar303 commented on #8185
@bqbn what do you think about adjusting the nginx rule for this?

[2019-06-14 19:42] bobsilverberg commented on #8185
@kumar303 I believe that every instance of `xss` in the description above should be changed to `rss`.

[2019-06-14 19:46] #8177 closed

[2019-06-14 20:01] bqbn commented on #8185
@kumar303 we can add another nginx rule so it doesn't redirect for `/extensions/format:rss/`. One thing I wonder is how many of those special cases there are.

If there are too many, or if we plan to add more in the future, I wonder if we should let the application do the redirection, and let Nginx just cache the results. After all, Nginx is good at proxying and caching, and not so good at handlin

[2019-06-14 20:04] kumar303 commented on #8185
Whoops, thanks. I fixed everything.

[2019-06-14 20:04] kumar303 commented on #8185
I looked at the legacy URLs and I don't see any other cases.

[2019-06-14 20:22] mam121 opened #8186 "0540785744"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-14 20:24] mam121 opened #8187 "00966540785744"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-14 20:44] #8186 closed

[2019-06-14 20:44] #8187 closed

[2019-06-15 18:31] bqbn commented on #8185
We updated the Nginx rules in -dev and -stage environments such that `/<locale>/<app>/extensions/format:rss/` is no longer redirected to the search API, but forwarded to the frontend app.

Please test it. We can push the same change to -prod once verified.

[2019-06-16 10:51] liuyu1919 opened #8191 "XSS me"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-17 00:30] bershanskiy commented on #7907
`prefers-color-scheme` [already landed in Firefox 67](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) so it's probably already time to implement dark style for AMO.

[2019-06-17 02:12] #8191 closed

[2019-06-17 14:20] dceban opened #8724 "Using middle-click or CTRL+Right-click on the extension card area opens the extension page in a new tab"
**Steps to reproduce:**
1. Open addons.mozilla main page.
2. Scroll to the "Featured extensions" section (or any section that has addons cards).
3. Hover over any extension's area (but not its title).
4. Try to open it in a new tab page using the middle click or CTRL+Click

**Actual results:**
Extension page opened in the same tab.

**Expected results:**
Open the extension page in a new tab.

(cli

[2019-06-18 14:42] somestuff opened #8195 "broken link: from kb.mozillazine.org/Places.sqlite to addons.mozilla.org/en-US/firefox/addon/5817/"
### Describe the problem and steps to reproduce it:

broken link from page http://kb.mozillazine.org/Places.sqlite to https://addons.mozilla.org/firefox/addon/5817 under anchor reads: "SQLite manager add-on"

Suggest all broken links be titled broken link with from to descriptor so that searching duplicates become much easier. Have to open issues with same name is a drag!

[2019-06-18 15:20] ioanarusiczki commented on #7963
@willdurand Please let me know if my way testing is correct:
I verified it with FF67 (Release) and FF69 (Nightly)  - on Win10

- I went in about:config and there's the `devtools.responsive.userAgent` pref
- I added the UA: `Mozilla/5.0 (Android 9; Mobile; rv:69.0) Gecko/69.0 Firefox/69.0`
The red message as shown [here](https://user-images.githubusercontent.com/217628/59351403-a0557080-8d1e-11e9-8

[2019-06-18 20:35] wagnerand commented on #8195
Please contact the mozillazine people about this.

[2019-06-18 20:35] #8195 closed

[2019-06-18 23:53] willdurand commented on #7963
mmh, I can't tell. I only used the responsive view during my tests, changing the UA from there.

[2019-06-18 23:54] #8179 closed

[2019-06-19 08:43] AlexandraMoga commented on #8177
Verified fixed on -dev. The following links are no longer throwing 500 errors. Search results will take in account only the first sort parameter.

1. https://addons-dev.allizom.org/en-US/firefox/search/?sort=rating&sort=updated&type=extension
2. https://addons-dev.allizom.org/en-US/firefox/search/?category=alerts-updates&sort=users&sort=rating&type=extension
3. https://addons-dev.allizom.org/en-US

[2019-06-19 09:27] Shubhamchinda commented on #7702
@willdurand Can take a look at it?

[2019-06-19 09:33] ioanarusiczki commented on #8179
@willdurand Verified on AMO dev - FF67, FF69
Useragent: `Mozilla/5.0 (Android 9; Mobile; rv:69.0) Gecko/69.0 Firefox/69.0`

![Preview](https://user-images.githubusercontent.com/33448286/59754297-7b1cb100-928e-11e9-88e0-c3c5890c6782.png)

[2019-06-19 09:44] ioanarusiczki commented on #7963
@willdurand I could not change back from `Mozilla/5.0 (Android 9; Mobile; rv:69.0) Gecko/69.0 Firefox/69.0` to ` Mozilla/5.0 (Android 9; Mobile; rv:68.0) Gecko/68.0 Firefox/68.0` using only the responsive view.
But I think it should be fine.

![user agent FF69](https://user-images.githubusercontent.com/33448286/59754983-d7cc9b80-928f-11e9-90d7-3e3a4f1ee3f6.gif)

[2019-06-19 16:58] willdurand opened #8196 "Incompatibility error shown for opensearch add-ons (on the server)"
### Describe the problem and steps to reproduce it:

1. Go to http://localhost:3000/en-US/firefox/addon/hellspy/?src=search
2. Refresh the page

### What happened?

A red banner is shown until the client side code removes it.

### What did you expect to happen?

No red banner stating that the add-on is not compatible.

### Anything else we should know?

This is due to the server side not being awa

[2019-06-19 17:32] kumar303 commented on #8185
@bqbn thanks. I verified that this is fixed on dev and stage. I will close the issue so that QA can also check for any regressions.

[2019-06-19 17:32] #8185 closed

[2019-06-19 17:52] #8196 closed

[2019-06-19 18:35] M4trox commented on #8180
Hello, I made a mock-up. It's the first time I have worked with Photon, so feedback is welcome.

![category-buttons-mock-up](https://user-images.githubusercontent.com/3310268/59790958-5f86ca00-92d1-11e9-9908-4373e2568d61.png)

Each category is represented by ["puffy" button](https://design.firefox.com/photon/components/buttons.html). In Figma, I cannot set inner horizontal margins for shapes, so k

[2019-06-19 23:08] sammuelb opened #8198 "Can Not Access My Collections"
### Describe the problem and steps to reproduce it:
I get a server error every time I try to access the "View My Collections" link

When on https://addons.mozilla.org/en-US/firefox/ clicking on my user name at the top, then clicking on "View My Collections", I am always greeted with a server error message.  I don't think I have ever been able to access my collections.

### What happened?
Server er

[2019-06-20 21:28] devaneymoz opened #8199 "11 July Homepage content programming (Recommended Extensions launch)"
To set the homepage for the debut of the Recommended Extensions program, I've [documented](https://docs.google.com/document/d/1Mtlh_fzKd7G25XKk9aR77Mt6eJrFk5CMc7cb8V5tQGc/edit?usp=sharing) all the granular content/copy changes that we'll need to implement for the **11 July** push.

@bobsilverberg @muffinresearch

[2019-06-22 09:16] sweetie133 opened #8201 "instagram"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-22 12:36] #8201 closed

[2019-06-23 06:37] TokyoSoichiro opened #8202 "cannot open the link to better-onetab extention"
### Describe the problem and steps to reproduce it:
I search better-onetab in google. Clicking official extention site for better-onetab,but there is error message.

[2019-06-23 12:19] nyakwebara opened #8204 "mozilla/addons"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-23 18:20] #8204 closed

[2019-06-24 05:48] arku commented on #6147
@kumar303 I have attempted to fix this issue in https://github.com/mozilla/addons-frontend/pull/8206.

Please take a look when you get a chance.

Thanks!

[2019-06-24 07:07] machaderwala opened #8207 "not able to play flash player videos in firefox mozilla browser"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-24 07:33] EnTeQuAk commented on #8207
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can as

[2019-06-24 07:33] #8207 closed

[2019-06-24 08:23] ioanarusiczki commented on #8196
@willdurand I could not reproduce it on -dev for
https://addons-dev.allizom.org/en-US/firefox/addon/hellspy/?src=search or https://addons-dev.allizom.org/en-US/firefox/addon/hellspy/.
I tested with a couple of other samples too on -dev and the red message which appears like a glitch and quickly disappears did not show up.

Unlike stage where I could reproduce it with
https://addons.allizom.org/en-

[2019-06-25 03:39] ntd710 opened #8209 "i don't install yslow"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-25 03:39] ntd710 opened #8210 "yslow"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-25 06:20] #8210 closed

[2019-06-25 06:23] #8209 closed

[2019-06-25 07:54] Farshad1992 opened #8211 "Dic"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-25 08:17] #8211 closed

[2019-06-25 17:42] rugk opened #9054 "Keep source (src) referrer when navigating add-on page"
### Describe the problem and steps to reproduce it:

The underlying problem:
* I've noticed that the `?src=external-` sources were mostly useless: https://discourse.mozilla.org/t/does-tracking-external-source-src-external-even-work-on-amo/41760?u=rugkx

The apparently exact problem:
* When you [navigate around](https://discourse.mozilla.org/t/does-tracking-external-source-src-external-even-work-on

[2019-06-25 20:49] jvillalobos commented on #8202
This is up to the developer to fix. Either their add-on is no longer available, or the link on their website needs to be updated.

[2019-06-25 20:49] #8202 closed

[2019-06-26 13:05] azuaasmawi opened #8217 "Required"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-26 14:41] blahdiblah opened #8218 "missing add-on installation file"
Site said 'mozilla insists on installation from their official (seig-heil!) site' for an addon - but your official (seig-heil!) site gives a 404!

### Anything else we should know?
Yes, you're becoming more and more facist in your outlook. Kindly stop trying to control how often your customers go to the lavatory and concentrate more on producing an upgradeable customisable but NON Kr0me-klone NON

[2019-06-26 15:04] #8218 closed

[2019-06-26 15:18] #8217 closed

[2019-06-26 15:43] willdurand commented on #7702
I am not sure I understand the test case you wrote. Could you explain it to me? The test case should fail in any case, given that the issue should be fixed. Thanks!

[2019-06-26 16:35] mehdiblue opened #8219 "mehdi"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-26 16:39] #8219 closed

[2019-06-26 18:09] muffinresearch opened #8220 "Ui-tests are failing due to pip error"
https://circleci.com/gh/mozilla/addons-frontend/15717

[code]

[2019-06-27 05:47] Shubhamchinda commented on #7702
@willdurand I worked on it again, I hope I did it correct this time. Let me know if its' still not correct.

[2019-06-27 06:35] willdurand commented on #8181
I suppose this is fixed now.

[2019-06-27 06:35] #8181 closed

[2019-06-27 09:18] Roberto171717 opened #8222 "Hublaagram"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-27 09:19] Roberto171717 opened #8223 "Hublaagram"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-27 09:44] #8223 closed

[2019-06-27 09:44] #8222 closed

[2019-06-27 12:12] DyNy commented on #7286
tamper data

[2019-06-27 15:15] schlampa7 opened #8224 "firefox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-27 17:07] #8224 closed

[2019-06-27 19:46] jrbenny35 commented on #8220
Hmm, interesting failure. I think we need to update Pip.

[2019-06-28 11:49] #7702 closed

[2019-06-28 16:47] Shubhamchinda commented on #8198
@sammuelb It's working fine for me.

[2019-06-28 20:48] kumar303 commented on #8161
@ioanarusiczki I'm looking today on Win10, Firefox 67 and I cannot reproduce the screenshot anymore. Maybe something else fixed it? I do not see any overlap.

Here's what I see at https://addons-dev.allizom.org/en-US/firefox/addon/white-frost/ on macOS (but I did check Win10):

<img width="515" alt="Screenshot 2019-06-28 15 47 46" src="https://user-images.githubusercontent.com/55398/60370374-182cc

[2019-06-28 21:43] kumar303 commented on #8161
In any case, the alignment looks off so I'm going to propose a fix for that.

[2019-06-30 14:17] Bakul28 opened #8231 "surfe.be extension not work"
### Describe the problem and steps to 8reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-06-30 14:23] Bakul28 opened #8232 "https://surfe.be/goal_ext"
### Describe the problem and steps to reproduce it:

### What happened?

,
### What did you expect to happen?

### Anything else we should know?

[2019-07-01 07:02] ChrisVengeance98 opened #8234 "Seite kann nicht aufgerufen werden"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-01 08:51] #8234 closed

[2019-07-01 08:52] #8232 closed

[2019-07-01 08:52] #8231 closed

[2019-07-01 13:58] melisa-tsk opened #8235 "extention missing Memory Restart"
https://addons.mozilla.org/ru/firefox/addon/memory-restart/

[2019-07-01 14:05] rugk commented on #8066
Why have I been assigned?

[2019-07-01 14:11] willdurand commented on #8066
You wrote a patch for it.

[2019-07-01 14:30] #8161 closed

[2019-07-01 14:41] rugk commented on #8066
I did? How come, I don't know this?

Seriously, you mean https://github.com/mozilla/addons/issues/1055#issuecomment-494951763?
This was just copied from GitHub.
Don't know whether this could be integareted. But I can have a look, if you want.

[2019-07-01 14:46] willdurand commented on #8066
whoops, indeed. @voronianski actually wrote the patch 😅

[2019-07-02 00:10] marcos-mendez opened #8237 "https://addons.mozilla.org/pt-br/firefox/addon/ie-tab/"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-02 07:25] ChrisVengeance98 opened #8238 "Button not working, side can't be load"
http://www.s3blog.org/s3translator.html

Button top right not working, side can't be load

App can't bei install

[2019-07-02 09:14] #8237 closed

[2019-07-02 09:27] #3900 closed

[2019-07-02 09:33] #8238 closed

[2019-07-02 12:00] Shubhamchinda commented on #8180
Hey @kumar303 , if you could help me out in this issue, I'd love to take this up.

[2019-07-02 15:20] kumar303 commented on #8180
Hi @M4trox and @Shubhamchinda . Thanks for your time spent looking into this. We use the label [`contrib: good first bug`](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20good%20first%20bug) and [`contrib: welcome`](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome) to indicate which issues are ready to be worked on. Patches for those issues will be easier for a

[2019-07-02 15:23] #7985 closed

[2019-07-02 15:24] #8235 closed

[2019-07-02 15:26] #8063 closed

[2019-07-03 07:56] pniharika123 opened #8242 "Copper plug in addon"
I am trying to install the copper plug-in add on in Firefox from many days. Due to some issue it is not happening. Can you please resolve the issue or give an alternative to use the copper extension.Thank you

[2019-07-03 08:50] wagnerand commented on #8242
Can you please provide detailed steps to reproduce the issue? Thanks!

[2019-07-03 10:14] AlexandraMoga commented on #7985
Verified fixed on stage, AMO and Discopane, with Fx67, Win10x64 and Android 8.0

![image](https://user-images.githubusercontent.com/31961530/60583369-6878a080-9d93-11e9-8c8c-728990c27400.png)

[2019-07-03 11:00] AlexandraMoga commented on #3900
Verified fixed on stage with Fx67, Win10x64
The version size is now exposed in the More information section on the addon details page and on All versions page:
![image](https://user-images.githubusercontent.com/31961530/60586380-a5946100-9d9a-11e9-9919-eacc65f17c43.png)

[2019-07-03 13:36] ioanarusiczki commented on #8161
@kumar303 I can't reproduce the issue either.
Verified on -dev with FF67(Win10).

![the badge](https://user-images.githubusercontent.com/33448286/60595964-a9cb7900-9db0-11e9-9b5e-d1b5263e43cb.png)

[2019-07-03 14:10] ioanarusiczki commented on #7702
@willdurand Right now -dev and -stage have a Hindi(India) dictionary available.

![only one Hindi](https://user-images.githubusercontent.com/33448286/60598410-5871b880-9db5-11e9-99dd-bff3dc97b059.png)

I believe this needs a check after it lands on prod.

[2019-07-03 15:31] willdurand commented on #7702
@ioanarusiczki that looks good. I suppose we could upload the Hiligaynon spell checker in -dev/stage and make sure it does not appear here.

[2019-07-03 18:48] muffinresearch commented on #7977
Please feel free to re-open this with further information, until then I'm going to close this out.

[2019-07-03 18:48] #7977 closed

[2019-07-03 19:58] peiying2 opened #8245 "Spelling typo "publically""
### Describe the problem and steps to reproduce it:
In Pontoon: https://pontoon.mozilla.org/pa-IN/all-projects/all-resources/?status=missing&string=172546

#: src/amo/pages/StaticPages/About/index.js:71
Resource LC_MESSAGES/amo.po

The add-ons listed here are created by thousands of developers and theme designers from all over the world, ranging from individual hobbyists to large corporations. Som

[2019-07-03 21:30] hassanmohssen opened #8246 "good"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-03 21:36] #8246 closed

[2019-07-03 22:15] jvillalobos opened #8247 "Add static version of the Primary Hero content ahead of data driven version"
Part of [this PRD](https://docs.google.com/document/d/12aD_v5AOj1Y6VmT4xOuyNcrKfZxqhP8R_AOHroQVLV8/edit#).

Immediately below the header in the AMO homepage (only the desktop version, under `/firefox/`), show a large promotional module for one extension:

<img width="1864" alt="61815619-92792c00-ae42-11e9-9483-d2e852e5d1e7_png__PNG_Image__1866 × 929_pixels_" src="https://user-images.githubusercont

[2019-07-03 22:19] jvillalobos opened #8248 "Make Primary Hero Shelf decoration load dynamically"
Part of [this PRD](https://docs.google.com/document/d/12aD_v5AOj1Y6VmT4xOuyNcrKfZxqhP8R_AOHroQVLV8/edit#).

Followup to https://github.com/mozilla/addons-frontend/issues/8247. The graphic on the bottom left of the Primary Hero Shelf will change dynamically, so every page load may show a different one. It will be chosen randomly from a set of graphics to be provided by @brassy-.

[2019-07-03 22:52] jvillalobos opened #8249 "Add dynamic Secondary Hero Shelf to desktop homepage"
Part of [this PRD](https://docs.google.com/document/d/12aD_v5AOj1Y6VmT4xOuyNcrKfZxqhP8R_AOHroQVLV8/edit#). Depends on https://github.com/mozilla/addons-server/issues/11779 and https://github.com/mozilla/addons-server/issues/11780.

This shelf will appear below the Primary Hero Shelf and will replace the header and guide modules in the current homepage:

<img width="1291" alt="Screen Shot 2019-07-0

[2019-07-04 07:52] Shubhamchinda commented on #8245
@peiying2 Can i fix this?

[2019-07-04 08:52] wagnerand commented on #8245
@Shubhamchinda No need to ask for permission, please go ahead :)

[2019-07-04 09:15] willdurand opened #8251 "Upgrade react-redux to v7"
See: https://github.com/mozilla/addons-frontend/pull/7861

Looks like `connected-react-router` also supports react-redux v7 (https://github.com/supasate/connected-react-router/pull/321) but I believe we are still blocked by Enzyme.

[2019-07-04 10:37] #8245 closed

[2019-07-04 14:52] ioanarusiczki opened #8254 "Layout issues caused by add-ons named with longer unbroken strings"
STR:
1. Load the detail page for https://addons-dev.allizom.org/en-US/firefox/addon/koutter2359/
2. Check the More extensions section (reload it in case the two add-ons with longer names are not available on the right)
3. Observe `WWWWWWWWWWWWWWWWW45678`

Expected result:
Name fits in the section.

Actual result:
Name of the add-on looks cut.

Notes:
Reproducible on AMO dev with FF67(Win10).

![tr

[2019-07-04 14:54] willdurand commented on #8254
I noticed this yesterday in https://github.com/mozilla/addons-frontend/issues/8161#issuecomment-508096198 and planned to file an issue. Thanks for opening it!

I believe this is a regression because I am pretty sure we handled this case in the past.

[2019-07-04 15:07] vcarciu commented on #8254
Reproducible also in homepage :
![long](https://user-images.githubusercontent.com/1583842/60676037-84a93a00-9e86-11e9-8b26-3c41ba984565.png)

[2019-07-05 08:00] willdurand commented on #5888
Closing this issue because we do not have to support LWT and ST. We only have ST so we can get rid of this function as stated by the OP:

[2019-07-05 08:00] #5888 closed

[2019-07-05 08:03] willdurand opened #8256 "Remove `getAddonTypeFilter()`"
We can remove the `getAddonTypeFilter()` function now that we do not have to support lightweight themes. We only have static themes:

- All calls to `getAddonTypeFilter()` should be changed to `ADDON_TYPE_STATIC_THEME`
- The `config` is often given to this function. In the caller, if we only use the config to call `getAddonTypeFilter`, then we should also remove the config code since that won't be

[2019-07-05 08:19] #3751 closed

[2019-07-05 08:19] willdurand commented on #3751
We won't spend more time on the discopane since it has moved to FF.

[2019-07-05 08:20] willdurand commented on #3516
This has been fixed. I cannot reproduce anymore.

[2019-07-05 08:20] #3516 closed

[2019-07-05 08:23] willdurand commented on #3387
This has been done.

[2019-07-05 08:23] #3387 closed

[2019-07-05 08:26] willdurand commented on #2997
Thanks for reporting this issue. It is refreshed because of the way we consume API data. While it seems unnecessary, it does not display invalid information so I am going to close this issue.

[2019-07-05 08:26] #2997 closed

[2019-07-05 08:27] willdurand commented on #2323
Looks like we can't but there is some work in progress in FF to make new search plugins (something more like web exts).

[2019-07-05 08:27] #2323 closed

[2019-07-05 08:28] willdurand commented on #1292
I believe this has been done, we definitely use svgo.

[2019-07-05 08:28] #1292 closed

[2019-07-05 08:28] willdurand commented on #4296
UI Tests should move to another repo so I am going to close this issue.

[2019-07-05 08:28] #4296 closed

[2019-07-05 08:29] willdurand commented on #3987
I can't reproduce anymore.

[2019-07-05 08:29] #3987 closed

[2019-07-05 08:33] willdurand commented on #3739
I don't think we can do anything here so I am going to close this issue.

[2019-07-05 08:33] #3739 closed

[2019-07-05 08:34] willdurand commented on #3080
@jvillalobos is there still any need for this or can we close this issue?

[2019-07-05 08:35] willdurand commented on #3130
The way data fetching and sagas work on the server makes it nearly impossible to fix this issue, so this is a wontfix.

[2019-07-05 08:35] #3130 closed

[2019-07-05 08:37] willdurand commented on #3541
@muffinresearch do we still want to do that?

[2019-07-05 08:39] willdurand commented on #3398
There is a new redesign in the pipe, so let's close this issue.

[2019-07-05 08:39] #3398 closed

[2019-07-05 08:40] willdurand commented on #3300
Looks fixed, I cannot reproduce anymore.

[2019-07-05 08:40] #3300 closed

[2019-07-05 08:41] willdurand commented on #3196
I believe this has been fixed by the new install button (`AMInstallButton`).

[2019-07-05 08:41] #3196 closed

[2019-07-05 08:42] willdurand commented on #3537
Featured add-ons will be gone soon, so I guess we can close this issue.

[2019-07-05 08:42] #3537 closed

[2019-07-05 08:44] willdurand commented on #3453
This is not reproducible anymore. We don't link to "Dictionaries & Language Packs" on Android (anymore).

[2019-07-05 08:44] #3453 closed

[2019-07-05 08:45] willdurand commented on #3776
@bqbn can we have that?

[2019-07-05 08:46] willdurand commented on #3730
@bqbn can we try what @tofumatt suggested above? Thanks!

[2019-07-05 08:47] willdurand commented on #3932
I suppose we don't need to do this anymore (after 1.5 years).

[2019-07-05 08:47] #3932 closed

[2019-07-05 08:48] AlexandraMoga commented on #3987
This looks fixed indeed. I can't reproduce on either desktop or mobile.

[2019-07-05 08:48] #8118 closed

[2019-07-05 08:49] #8034 closed

[2019-07-05 08:49] #8242 closed

[2019-07-05 08:50] willdurand commented on #7962
@bqbn can we do what you suggested above? (if not already done?)

[2019-07-05 08:51] willdurand commented on #8198
We have issues related to that but we can't figure out why it fails so far..

[2019-07-05 08:51] #8198 closed

[2019-07-05 08:53] willdurand commented on #7965
Thanks for filing this issue. I believe we don't plan to change that behavior, though :/

[2019-07-05 08:53] #7965 closed

[2019-07-05 08:55] #5691 closed

[2019-07-05 08:56] AlexandraMoga commented on #3516
Not reproducing either:

![image](https://user-images.githubusercontent.com/31961530/60710647-d51ea700-9f1b-11e9-837c-9edbb679103d.png)

[2019-07-05 08:58] willdurand commented on #7624
@jvillalobos is this something we could ship or can we close the issue?

[2019-07-05 08:59] #7489 closed

[2019-07-05 09:02] willdurand commented on #5299
This issue is not really actionable. Realistically, we won't add stories for all the existing components.

[2019-07-05 09:02] #5299 closed

[2019-07-05 09:03] ioanarusiczki commented on #7702
@willdurand It's one Hindi now on prod which takes users to `Hindi Spell Checker`

![only one hindi](https://user-images.githubusercontent.com/33448286/60711125-d9978f80-9f1c-11e9-8d1e-9e203510c162.gif)

[2019-07-05 09:09] willdurand commented on #3925
we've been adding new languages from time to time so I believe we can continue to do that.

[2019-07-05 09:09] #3925 closed

[2019-07-05 09:10] willdurand commented on #7116
Closing since we want to move those tests in another repo.

[2019-07-05 09:10] #7116 closed

[2019-07-05 09:10] #1977 closed

[2019-07-05 09:11] willdurand commented on #6838
I suppose we're not using speedcurve anymore.

[2019-07-05 09:11] #6838 closed

[2019-07-05 09:19] AlexandraMoga commented on #3300
I'm not reproducing either on desktop or mobile:

![image](https://user-images.githubusercontent.com/31961530/60712191-1ebcc100-9f1f-11e9-9b44-f296f7e79539.png)

[2019-07-05 09:30] AlexandraMoga commented on #3453
Apart from not having the language-tools page on android, we also verified in #6650 that the app refreshes when interchanging `/firefox/` and `/android/` from the More... menu

[2019-07-05 10:04] willdurand commented on #5462
@jvillalobos is it still something we want to do or can we close this issue?

[2019-07-05 10:05] willdurand commented on #1519
I don't think we'll ever do this, so I'm closing this issue for now.

[2019-07-05 10:05] #1519 closed

[2019-07-05 10:06] willdurand commented on #5049
I believe this is not on our backlog anymore.

[2019-07-05 10:06] #5049 closed

[2019-07-05 10:09] willdurand commented on #3952
API has landed, is this still a thing or can we either downgrade or close this issue?

[2019-07-05 10:09] willdurand commented on #3957
I believe this is not up-to-date anymore.

[2019-07-05 10:09] #3957 closed

[2019-07-05 10:10] willdurand commented on #3968
This has been fixed already.

[2019-07-05 10:10] #3968 closed

[2019-07-05 10:10] willdurand commented on #3984
Given that we inverted the routing rules a while ago, I believe this is fixed now.

[2019-07-05 10:10] #3984 closed

[2019-07-05 10:11] willdurand commented on #3994
Since featured collections are gone (soonish), I don't think we need to spend time on this. We have recommended extensions now.

[2019-07-05 10:11] #3994 closed

[2019-07-05 10:13] willdurand commented on #6308
@kumar303 With reviews moving to FF, is this issue still relevant?

[2019-07-05 10:16] willdurand commented on #6657
While this looks like a good idea, I don't think we'll have time for that. Closing for now, we'll reopen if needed.

[2019-07-05 10:16] #6657 closed

[2019-07-05 10:17] willdurand commented on #6585
Webpack 4 upgrade has been done a while ago and I am not sure what else we can do, so I am going to close this issue now.

[2019-07-05 10:17] #6585 closed

[2019-07-05 10:20] willdurand commented on #4407
I guess the current favicon is okay. It gives the site a personality. I also believe that this might change with Trailhead and so on, but so far..  no one really complained.

[2019-07-05 10:20] #4407 closed

[2019-07-05 10:21] willdurand commented on #6103
While this might be a good idea, I don't think we'll realistically implement this so I am going to close this issue for now. We can still reopen it if needed.

[2019-07-05 10:21] #6103 closed

[2019-07-05 10:22] willdurand commented on #5828
@AlexandraMoga is this still an issue?

[2019-07-05 10:31] willdurand commented on #6038
@jvillalobos is this still relevant? I tried to reproduce the issue by searching "search" on AMO. I wouldn't be happy if I had to explicitly select "search" in the filters to find open search add-ons.

With the recommended extensions pushed to the top, maybe we don't need to do this anymore? WDYT?

[2019-07-05 10:32] willdurand commented on #4594
@jrbenny35 do you think you could work on this issue?

[2019-07-05 10:34] willdurand commented on #5866
Given the upcoming redesign, this won't be needed.

[2019-07-05 10:34] #5866 closed

[2019-07-05 10:35] AlexandraMoga commented on #3984
We haven't run for a good while into 404 errors served by the legacy site, so this issue can be marked as verified fixed.

[2019-07-05 10:36] willdurand commented on #5904
This looks fixed.

[2019-07-05 10:36] #5904 closed

[2019-07-05 10:40] willdurand commented on #3735
Not sure we'll ever work on that realistically so I'm going to close this issue for now.

[2019-07-05 10:40] #3735 closed

[2019-07-05 10:41] willdurand commented on #4341
This has been fixed, more or less: https://addons.allizom.org/en-US/firefox/users/edit

[2019-07-05 10:41] #4341 closed

[2019-07-05 10:41] willdurand commented on #2769
We have changed the 404 messages already, so this is outdated.

[2019-07-05 10:41] #2769 closed

[2019-07-05 10:42] willdurand commented on #4402
@jvillalobos is this still something to consider (and worth keeping in the backlog)?

[2019-07-05 10:44] willdurand commented on #529
@EnTeQuAk Is this still feasible? Or should we just close this issue and continue the manual extraction? We were able to remove two manual steps and it does not take too long if we continue to do it once a week.

[2019-07-05 10:45] willdurand commented on #4338
Looks like we dont need that anymore.

[2019-07-05 10:45] #4338 closed

[2019-07-05 10:46] AlexandraMoga commented on #5828
It seems fixed:

![image](https://user-images.githubusercontent.com/31961530/60717655-19fe0a00-9f2b-11e9-903f-dd0b30b5f314.png)

[2019-07-05 10:46] willdurand commented on #3578
This is likely due to an API bug and it might not be reproducible anymore, so I am going to close this issue.

[2019-07-05 10:46] #3578 closed

[2019-07-05 10:46] #5828 closed

[2019-07-05 10:46] willdurand commented on #5828
\o/

[2019-07-05 10:49] willdurand commented on #2764
@jvillalobos do we still want to implement this?

[2019-07-05 10:52] willdurand commented on #6173
I guess the answer is: not really but it works as is already so... 🤷‍♂

[2019-07-05 10:52] #6173 closed

[2019-07-05 10:55] willdurand commented on #1013
I am not sure we can easily do that because the cookie is http-only IIRC. We had to add a server in code-manager for that reason.

[2019-07-05 10:55] #1013 closed

[2019-07-05 11:05] AlexandraMoga commented on #3578
I wasn't able to reproduce this anymore. if we run into the issue again, we'll open a server bug.

[2019-07-05 11:45] #6807 closed

[2019-07-05 11:48] willdurand commented on #6673
Looks like this has been fixed.

[2019-07-05 11:48] #6673 closed

[2019-07-05 12:20] willdurand commented on #4760
@jvillalobos do we still want that?

[2019-07-05 12:22] Shubhamchinda commented on #8256
Hey @willdurand should I take it?

[2019-07-05 12:23] willdurand commented on #8256
@Shubhamchinda sure :)

[2019-07-05 12:23] #7981 closed

[2019-07-05 12:23] #7721 closed

[2019-07-05 12:23] #7698 closed

[2019-07-05 12:27] willdurand commented on #6039
@jvillalobos is this still something we want to do?

[2019-07-05 12:28] willdurand commented on #2898
I believe this ha been fixed.

[2019-07-05 12:28] #2898 closed

[2019-07-05 12:32] willdurand commented on #4910
@muffinresearch is this still needed? I know some users find the link to the xpi _via_ the install button already.

[2019-07-05 12:38] willdurand commented on #7781
On this basis, I believe we cannot do anything.

[2019-07-05 12:38] #7781 closed

[2019-07-05 12:41] #3159 closed

[2019-07-05 12:46] willdurand commented on #2758
@muffinresearch is it still something we want to implement?

[2019-07-05 12:59] #8254 closed

[2019-07-05 13:26] #8199 closed

[2019-07-05 13:28] bobsilverberg commented on #8199
@devaneymoz This has landed on dev, so you should be able to test it there. Note that not all of the guides pages add-ons have been marked as recommended on dev, which is why you will not see a recommended badge next to most of them. If you make one recommended (which involves changing the add-on's status and then submitting a new version), you should then see the badge appear.

[2019-07-05 13:31] willdurand commented on #7908
So is there anything we can actually do here? /cc @ev

[2019-07-05 13:37] willdurand commented on #2412
I think this has been fixed.

[2019-07-05 13:37] #2412 closed

[2019-07-05 13:41] willdurand commented on #3965
@jvillalobos do we have stats for other add-ons? (question is: should we only display the link for webext or more?)

[2019-07-05 13:43] willdurand commented on #4090
This has been fixed I believe.

[2019-07-05 13:43] #4090 closed

[2019-07-05 14:00] kathmandu64 opened #8257 "Oops! We can’t find that page"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-05 14:23] #8257 closed

[2019-07-05 14:38] kumar303 commented on #3932
We figured it out the old fashion way: in production! 💥

[2019-07-05 14:57] kumar303 commented on #6308
I am not clear on how reviews would fully move into FF (I haven't seen a proposal for this). There is a use case of reviewing an add-on while not using Firefox which seems important to me, especially on iOS for example.

[2019-07-05 15:45] jvillalobos commented on #3080
No

[2019-07-05 15:45] #3080 closed

[2019-07-05 16:05] jvillalobos commented on #3965
All add-on types, except for search engines, have a stats dashboard. There's a per-add-on setting for making the dashboard public, which we should honor. So, the link should appear if the dev chose to make the dashboard public.

[2019-07-05 16:06] jvillalobos commented on #2758
Yes, we still want categories to be linked from the listing.

[2019-07-05 16:10] jvillalobos commented on #6039
Yes.

[2019-07-05 16:12] jvillalobos commented on #4760
There might still be value in doing this, even having the Recommended badge. This would be a bigger project if we want the badge to also work in Firefox, though.

@atsay, what do you think?

[2019-07-05 16:13] jvillalobos commented on #2764
Yes

[2019-07-05 16:15] jvillalobos commented on #4402
I don't think so.

[2019-07-05 16:15] #4402 closed

[2019-07-05 16:17] jvillalobos commented on #6038
It's still an issue, but we plan to migrate open search add-ons soon, so I don't think we need to keep this open.

[2019-07-05 16:17] #6038 closed

[2019-07-05 16:17] jvillalobos commented on #5462
Yes, we still want this.

[2019-07-05 16:20] jvillalobos commented on #7624
I'm in favor of swapping the Add to Collection box with the Permissions box on listing pages. @atsay @brassy-, what do you think?

[2019-07-05 16:21] brassy- commented on #7624
I agree

Il giorno ven 5 lug 2019 alle 18:20 Jorge Villalobos <
notifications@github.com> ha scritto:

[2019-07-05 16:28] wagnerand opened #8258 "Product page for deleted theme throws 500 for admins"
### Describe the problem and steps to reproduce it:

Visit https://addons.mozilla.org/en-US/firefox/addon/1423860/ with admin privileges.

### What happened?

500: https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/issues/6018696/

### What did you expect to happen?

See the theme page.

### Anything else we should know?

[2019-07-05 16:35] willdurand commented on #8258
I believe we have other similar issues opened for that. It's tricky because we usually don't hit those bugs in -dev and we (developers) aren't admins in prod (or even stage).

[2019-07-05 16:37] willdurand commented on #5462
Ok cool, is this part of any roadmap/goal? Asking because it was part of Q4 2018 and we haven't made much changes here over the last 2 quarters.

[2019-07-05 16:38] kumar303 commented on #8258
...and [`Addons`](https://github.com/mozilla/addons-frontend/blob/19202fac6b49ea151a9b53d303076ee338f06448/src/amo/pages/Addon/index.js) doesn't use Flow 😞

[2019-07-05 16:39] willdurand commented on #6039
Cool, so we need UX for that :) /cc @brassy-

[2019-07-05 16:40] willdurand commented on #3965
I believe this is fixed then. I am pretty sure we're doing this already.

[2019-07-05 16:40] #3965 closed

[2019-07-05 17:02] mlissner commented on #4407
I mean.... *I* complained, and others agreed that it could be better over in the other issue this was was copied from: https://github.com/mozilla/addons/issues/632. Hell, @bobsilverberg even made a patch! You're the boss, but I do still think this is a valid issue and that the favicon for the site is weird.

[2019-07-05 17:18] M4trox commented on #7624
@willdurand I would like to work on this issue 🙂

[2019-07-05 17:29] bqbn commented on #7962
I'll move it to p3 because the issue is assigned and we know what needs to be done, and I can do it in a later time.

[2019-07-05 17:31] jvillalobos commented on #5462
Yeah, it was part of that project but there wasn't enough time for it and the plans changed. It's not part of the current roadmap and I doubt we'll get to it this year.

[2019-07-05 17:33] willdurand commented on #7624
@M4trox go ahead!

[2019-07-05 17:40] bqbn commented on #3730
I may not have time working on this in a week time, so I'll drop it to p3.

Please let me know if this must be a p2 for now.

[2019-07-05 19:07] willdurand opened #8259 "ChunkLoadError: Loading chunk XX failed (during add-on installation)"
There are a lot of errors like below since the last push.

https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/issues/6015921/

[code]

[2019-07-05 19:12] kumar303 commented on #8259
Sentry suggests that these errors may be preventing add-on installation. Because of this and that 6.8K users are affected thus far, I'm marking it a P1.

[2019-07-05 19:16] willdurand commented on #8259
I tried clicking the install button but I cannot reproduce...

[2019-07-05 19:31] willdurand commented on #8259
We believe that the `react-transition-group` lib might be the problem. We merged an update in #8226 and we found references of a `SwitchTransition` component in the Sentry logs. This lib has been updated in #8241, **after** the tag. The update mentions the `SwitchTransition` component.

We think that upgrading the lib might fix this problem.

[2019-07-05 19:50] kumar303 commented on #8259
Specifically, the stack traces begin with this:

<img width="735" alt="Screenshot 2019-07-05 14 21 55" src="https://user-images.githubusercontent.com/55398/60742667-d956be80-9f33-11e9-85ef-533af8416144.png">

There might be additional clues on what was fixed in 4.2.1 here: https://github.com/reactjs/react-transition-group/pull/516

If upgrading to 4.2.1 doesn't stop the errors, we will try downgra

[2019-07-05 19:55] kumar303 commented on #8259
tag prepped for a hotfix: https://github.com/mozilla/addons-frontend/compare/2019.07.04...2019.07.04-1

[2019-07-05 22:16] jrbenny35 commented on #4594
I'll take it, just gotta finish up some other work.

[2019-07-06 05:48] hrishik19 opened #8261 "cannot installed"
i am trying to installed
advance for cookie manager on addons that was developed by jayaprakash please get the addons that bacjk

[2019-07-06 10:26] M4trox opened #8262 "Cannot run addons-frontend on Windows 10"
### Describe the problem and steps to reproduce it:

I'm trying to run `addons-frontend` on Windows 10.
How to reproduce:
- install packages by typing `yarn` into terminal
- run `yarn amo:dev`

### What happened?
Command `yarn amo:dev` failed with an error:
[code]

### What did you expect to happen?
`addons-frontend` will run without errors

### Anything else we should know?
I'm running `Windows 1

[2019-07-06 10:28] M4trox commented on #7624
@willdurand great! I'll try to work this, but right now I'm having trouble with running `addons-frontend` on Windows 10. See issue: https://github.com/mozilla/addons-frontend/issues/8262

[2019-07-06 10:29] schlampa7 opened #8263 "hoxx proxy"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-06 10:34] schlampa7 commented on #8263
Duplicate of #

[2019-07-06 10:48] schlampa7 opened #8264 "LICENSE.txt"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-06 15:17] #8264 closed

[2019-07-06 15:17] #8263 closed

[2019-07-06 19:00] schlampa7 commented on #8263
2019-07-06 17:17 GMT+02:00, William Durand <notifications@github.com>:

[2019-07-06 19:01] schlampa7 commented on #8263
Duplikat von #

[2019-07-08 09:05] AlexandraMoga commented on #2412
I can't reproduce on either desktop or mobile

![2019-07-08_12-04-09](https://user-images.githubusercontent.com/31961530/60797757-946f9980-a178-11e9-8025-3558d03f036a.gif)

[2019-07-08 09:07] willdurand opened #8268 "flake8 job is failing on Travis CI"
See: https://travis-ci.org/mozilla/addons-frontend/jobs/555449888

[code]

This is due to a change in `pydocstyle` and what looks like a too permissive dependency chain: https://gitlab.com/pycqa/flake8-docstrings/issues/36. Upstream has not been fixed yet.

[2019-07-08 09:47] willdurand commented on #8259
The hotfix has been deployed in production but we're still seeing the same Sentry events 😞

[2019-07-08 09:59] willdurand commented on #8259
I am going to try that in `2019.07.04-2`, see: 2019.07.04-2

[2019-07-08 10:02] #8268 closed

[2019-07-08 10:18] willdurand commented on #8258
This issue is likely a duplicate of https://github.com/mozilla/addons-frontend/issues/3845.

[2019-07-08 10:18] #8258 closed

[2019-07-08 10:20] willdurand opened #8270 "Add tag in Sentry"
I'd like to use the [Sentry "release" feature](https://docs.sentry.io/workflow/releases/?platform=javascript) so that events are bound to a tag (or commit id, maybe).

That would be useful to determine which tag has likely introduced a bug and to see if a hotfix/new tag has fixed it.

[2019-07-08 10:22] EnTeQuAk commented on #8270
That has been very helpful on addons-server, we are also using it there.

https://github.com/mozilla/addons-server/blob/7a40efb0cc3efd7b1e3a32082a9b8aa22846fbe2/src/olympia/lib/settings_base.py#L1769-L1776 and https://github.com/mozilla/addons-server/blob/7a40efb0cc3efd7b1e3a32082a9b8aa22846fbe2/src/olympia/lib/settings_base.py#L1748-L1766 for reference

[2019-07-08 10:55] ioanarusiczki commented on #8259
@willdurand Had some errors at first on a new profile - FF67 - Win10 on stage which I can no longer reproduce now.

![errors](https://user-images.githubusercontent.com/33448286/60805148-f683cb00-a187-11e9-9c70-a2810eb16118.png)

[2019-07-08 12:24] willdurand commented on #8259
We're still seeing the same Sentry events after the second hotfix has been deployed. I believe it has nothing to do with `react-transition-group`...

It could be caused by https://github.com/mozilla/addons-frontend/commit/5c1cfa7505b02cd77124326476852848af05d114, maybe.

[2019-07-08 13:07] willdurand commented on #8261
@hrishik19 hi, could you tell us what you were trying to do? Is it that the add-on isn't available anymore?

[2019-07-08 13:24] willdurand commented on #8259
Maybe related threads:

- https://github.com/webpack/webpack/issues/5630
- https://github.com/webpack/webpack/issues/7502#issuecomment-436619373

[2019-07-08 13:28] willdurand commented on #8262
I'll try to fix that, thanks for reporting this issue

[2019-07-08 13:28] willdurand commented on #8262
Do you use WSL by chance? https://docs.microsoft.com/en-us/windows/wsl/install-win10

[2019-07-08 13:39] willdurand commented on #8259
Sentry stats:

![Screen Shot 2019-07-08 at 15 37 47](https://user-images.githubusercontent.com/217628/60814722-6ef18880-a196-11e9-8a8a-fb590086a3ff.png)
![Screen Shot 2019-07-08 at 15 38 07](https://user-images.githubusercontent.com/217628/60814723-6ef18880-a196-11e9-913b-ca30075b3312.png)

- Device: 61% are smartphone
- OS: 40% Windows 10, 24% Windows 7

Still, I cannot reproduce with a fresh Win

[2019-07-08 13:49] ioanarusiczki commented on #8254
@bobsilverberg Verified on -dev with FF67(Win10)

![More extensions](https://user-images.githubusercontent.com/33448286/60815435-50908a80-a1a0-11e9-861e-9b06677987ef.png)

![homepage](https://user-images.githubusercontent.com/33448286/60815448-5a19f280-a1a0-11e9-967a-aefa48cf6c94.png)

[2019-07-08 13:50] AlexandraMoga commented on #8259
I've also tested on an Android 8.0 with Fx67 and I could not reproduce the issue

[2019-07-08 13:56] willdurand commented on #8270
We'll need a way to read the `version.json` file and probably expose a constant at build time _via_ https://webpack.js.org/plugins/define-plugin/.

[2019-07-08 14:02] ioanarusiczki commented on #8245
@willdurand
How can qa help checking on this ? Can I access through AMO -dev a link to see this typo as being fixed somewhere?

[2019-07-08 14:05] willdurand commented on #8245
@ioanarusiczki yep, you can go to the "about" page (locale = en-US) and see that it's written "publicly" now.

[2019-07-08 14:38] AlexandraMoga opened #8271 "A recommended version will no longer display the corresponding badge if the add-on is marked as not recommended in Discovery admin"
Prerequisites: you will need an admin account in order to access https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/discoveryitem/

**STR:**
1. Open the details page for an add-on with a Recommended status - see https://addons-dev.allizom.org/en-US/firefox/addon/axe-2/?src=search
  *Note: make sure that the version package contains the `mozilla-recommendation.json` file
2. Go to A

[2019-07-08 14:42] willdurand commented on #8262
@M4trox so I just tried and installed WSL with ubuntu 18.04. I think this is the way to go nowadays.

You need Node 10.x, which can be installed using a `ppa`. You need `yarn`, which can be installed via `apt` after having configured the apt repository (documented in the Yarn docs). You also need `make` (`sudo apt install make`). After that, everything should _just_ work.

[2019-07-08 14:51] willdurand commented on #6139
I guess `touch bin/server.js` is a good enough workaround, so closing this issue for now.

[2019-07-08 14:51] #6139 closed

[2019-07-08 15:06] willdurand commented on #8259
Most (all?) stack traces have a reference to the lang picker. It's weird because the lang picker does not use CSS transitions and updating the value of the lang picker reloads the page.

[2019-07-08 15:07] willdurand commented on #8259
Also, re: polyfills, the polyfills we're using in addons-frontend are likely not needed with FF 67+, so I am not sure that the updated polyfills are the cause.

Some babel deps have been updated too during last week's tag, so a behavior may have changed there too.

[2019-07-08 15:10] bobsilverberg commented on #8271
Thanks for filing this @AlexandraMoga. This is actually how I would expect it to behave, for exactly the reason you state (we're using `is_recommended` from the API). I suspect that maybe the Firefox behaviour is incorrect, but I could be wrong about that.

@jvillalobos What do you think? Should a version of an add-on that was recommended remain recommended when the status of the add-on is changed

[2019-07-08 16:08] M4trox commented on #8262
@willdurand thank you for taking your time.
I tried yesterday to run the project and just as you, I've installed Windows Subsystem for Linux and Ubuntu (from Microsoft Store). Apart from installing `node` through `nvm`, I also needed to install `better-npm-run`, because I was getting an error:
`'better-npm-run' is not recognized as an internal or external command, operable program or batch file.`

[2019-07-08 16:10] kumar303 commented on #8259
This seems to affect a high number of users but there are no actual reports from users, which is atypical considering our userbase. A likely explanation of this is that it's not breaking the site in any visible way. Thus, I'm dropping priority.

It remains a mystery. None of us can reproduce it. The webpack issues up above suggest that it could be an intermittent problem due to the user's network

[2019-07-08 16:35] blahdiblah opened #8272 "Installing Add-On"
Add-on Homepage => "Note recent version of Firefox require installing from Official Mozila Addon Site. "
Official Mozila Addon Site => "D'oh 404 D'oh"

Users => "Grrrrrrrr  Blithering interfering fuckwits!"

[2019-07-08 16:38] blahdiblah opened #8273 "Bah Oops"
Pls ignore Add on whinge  - already raised it once and knew full well it was as pointless as any other original-fire-fox-supporting-user's opinion the FIRST time! :-)

[2019-07-08 16:58] muffinresearch commented on #8259
I wonder if sentry could be logging something on unload e.g. after lang picker interaction and during the start of the reload?

[2019-07-08 17:37] #8272 closed

[2019-07-08 17:37] #8273 closed

[2019-07-08 17:40] jvillalobos commented on #8271
That's the expected behavior, yes. It's a bit inconsistent between Firefox and AMO, but it's not a use case we expect to come up often. We might require developers to upload a new version when this happens, in order to mitigate this.

[2019-07-08 17:40] #8271 closed

[2019-07-08 17:42] eviljeff commented on #7908
We need some information about what URL isn't working.  If we get more information we can reopen but lets close for now.

[2019-07-08 17:42] #7908 closed

[2019-07-08 20:10] eren377 opened #8274 "sqq"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-08 21:23] #8274 closed

[2019-07-09 09:13] willdurand commented on #8262
It should be in the dependencies already. 🤔

ahm, maybe my Windows 10 had a working python setup already (although it should not be shared with the WSL). Weird. Did you use Ubuntu 18.04? I did not install from the Store but I saw the Store has different Ubuntu versions. I used this Ubuntu: https://aka.ms/wsl-ubuntu-1804

Yeah, Flow isn't always super nice... It happened to me on MacOS too. While i

[2019-07-09 09:13] #8262 closed

[2019-07-09 10:56] pniharika123 opened #8276 "Difficulty in finding a copper extension for firefox"
Hi
I am a research scholar working on contiki os cooja simulator for Internet of Things. For a protocol named CoAP i should have copper(cu) extension/pulg-in in mozilla firefox. The same extension was supported by mozila version upto 55 eariler. In current day it is been removed for some reason from firefox. I tried searching alternate method and installing it but it did not happen. Please help me

[2019-07-09 11:41] ioanarusiczki commented on #8199
@bobsilverberg I verified this on -dev with FF67(Win10).  The page looks as mentioned by the [document](https://docs.google.com/document/d/1Mtlh_fzKd7G25XKk9aR77Mt6eJrFk5CMc7cb8V5tQGc/edit)
I added the badge for the last guideline to check on it
https://addons-dev.allizom.org/en-US/firefox/guides/enhance-your-media-experience/

I should keep an eye on -stage too in case this goes to prod this week

[2019-07-09 11:58] bobsilverberg commented on #8199
Yes, the changes will land on stage today with the tag.

This is a product of the browser. There is nothing in our code that controls where this message breaks. For example, on Chrome, the message breaks after the word "meet". I don't believe there is anything we can do about this, other than make the entire message shorter, but there's still no guarantee of how Firefox will choose to render the m

[2019-07-09 12:00] bobsilverberg opened #8277 "Enable Recommended Badges on stage and prod"
We plan on enabling recommended badges with this week's push, on July 11th. This issue is about flipping the config switch for stage and prod so the tag and the push will enable recommended badges.

@jvillalobos and @devaneymoz are we still on track to enable these on July 11th?

[2019-07-09 12:11] bobsilverberg commented on #8199
You are correct, there should only be 3 themes there. Can you please file an issue for that?

Yes, that section should remain as is.

[2019-07-09 12:14] ioanarusiczki opened #8278 "Popular Themes shows 4 themes instead of 3"
Followup for https://github.com/mozilla/addons-frontend/issues/8199

STR:
1. Load AMO dev.  https://addons-dev.allizom.org/en-US/firefox/
2. Observe the Popular Theme section from the homepage.

Actual result:
4 themes displayed

Expected result:
3 themes displayed

Notes:
Reproducible with FF67-Win10

[2019-07-09 13:18] AlexandraMoga commented on #2898
This can't be reproduced anymore. The correct date is populated immediately after submission.

![image](https://user-images.githubusercontent.com/31961530/60891023-26ed6700-a265-11e9-8ef4-5f641e82f3b6.png)

[2019-07-09 13:40] AlexandraMoga commented on #3196
@willdurand the `AMInstallButton` didn't quite fix the issue, as in you are still not able to re-install an extension in AMO after having removed it from about:addons without first refreshing either one of the two pages.
However, I found your comment in https://github.com/mozilla/addons-frontend/issues/5929#issuecomment-416561371 which states that this behavior can't be overcome.

[2019-07-09 14:57] ioanarusiczki commented on #8245
@willdurand Thanks! Ok, that is `publicly` on AMO dev - About page https://addons-dev.allizom.org/en-US/about - FF67(Win10)

![Publicly](https://user-images.githubusercontent.com/33448286/60899339-fca2a600-a272-11e9-93be-18c92cd3a70e.png)

[2019-07-09 15:20] willdurand commented on #3196
correct, so it's a wontfix. Thanks for double-checking!

[2019-07-09 15:22] willdurand commented on #8276
Hi! Yeah, I also wanted to find this extension but it has not been ported to the new "webextension" API so that's why the extension cannot be found on AMO anymore... There is nothing we can do, though.

You could maybe ask the developer to update the extension.

[2019-07-09 15:22] #8276 closed

[2019-07-09 15:32] #8278 closed

[2019-07-09 15:32] #8261 closed

[2019-07-09 16:02] #8277 closed

[2019-07-09 16:44] jvillalobos commented on #8277
We're on track for Thursday, yes.

[2019-07-09 21:13] atsay commented on #4760
Let's backlog this for now--use case doesn't seem strong enough at the moment.

[2019-07-10 07:07] Legat2000 opened #8283 "s3 translator"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-10 07:09] Legat2000 commented on #8283
Hi, I can not install the add-on S3.translator
http://www.s3blog.org/s3translator.html

[2019-07-10 08:32] #8283 closed

[2019-07-10 08:34] willdurand commented on #4760
Based on that, I am closing this issue. We'll reopen it if needed.

[2019-07-10 08:34] #4760 closed

[2019-07-10 08:51] willdurand commented on #8259
I see that this error appeared after last week's push: https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/issues/6015991/. It seems very similar to the error linked to this GitHub issue. There is a reference to `core-js`, which has been updated in the last push according to the migration guide: https://babeljs.io/docs/en/babel-polyfill, https://babeljs.io/blog/2019/03/19/7.4.0#core

[2019-07-10 08:54] willdurand commented on #8259
`NS_ERROR_FAILURE` seems to be a general FF error according to https://developer.mozilla.org/en-US/docs/Mozilla/Errors:

[2019-07-10 09:18] AlexandraMoga opened #8284 "The Recommended badge is not placed next to the add-on name in the guides pages for shorter names"
**STR**

1. Go to AMO stage homepage
2. Open the Stay safe online guide - https://addons.allizom.org/en-US/firefox/guides/stay-safe-online/
3. Examine the uBlock Origin card

**Actual result:**
The Recommended badge and the add-on name are too far apart

**Expected result:**
The Recommended badge is displayed next to the add-on name

**Notes:**
- another example is Tabliss in the https://addons.al

[2019-07-10 09:32] ioanarusiczki commented on #8278
@bobsilverberg
Verified on -stage with FF68 (Win10).
Also the number of themes is 3 on Android too.

![3 themes](https://user-images.githubusercontent.com/33448286/60958214-a2efb980-a30e-11e9-9fa3-56f95b9263b1.png)

[2019-07-10 11:00] muffinresearch commented on #8284
The `by` line is part of the title so it's clear why this is happening. I agree it doesn't look great.

@brassy- what do you think? Perhaps this could be improved by right-aligning the recommended badge and bottom-right aligning the install button?

[2019-07-10 11:11] muffinresearch opened #8285 "Recommendations badges have two strings "Recommended""
In looking at #8284 it was noted that the markup contains two strings "Recommended":

<img width="563" alt="Recommended_add-ons_–_Add-ons_for_Firefox__en-US_" src="https://user-images.githubusercontent.com/1514/60964492-56ef4580-a30b-11e9-8c24-668ad1ee41e1.png">

One is visually hidden, but a screen-reader would presumably read out both.

Since there's a visual string the visually-hidden one shoul

[2019-07-10 11:13] rajlabel11 opened #8286 "Can't open HPE Networking Online Configurator on my browser"
### Describe the problem and steps to reproduce it:
when open link https://partner.hpe.com/group/upp-apj/esm/-/link/181101 it said
While using Firefox, the configurator requires the IE Tab plugin to be installed and enabled.

To install the plugin, click here. Once the plugin installation is complete, please restart Firefox.

If you've already installed the plugin, you can make sure it is enabled

[2019-07-10 11:18] wagnerand commented on #8286
Please contact the developer of the add-on about its availability on addons.mozilla.org.

[2019-07-10 11:18] #8286 closed

[2019-07-10 12:38] ioanarusiczki commented on #8199
@bobsilverberg Looks good on stage - FF68 (Win10) and Android 8.0

One note for stage: the `Default Bookmark Folder` extension is not available in
https://addons.allizom.org/en-US/firefox/guides/organize-tabs-and-bookmarks/

I can't tell if this would affect or not AMO prod.

![addon missing](https://user-images.githubusercontent.com/33448286/60969633-b1e36580-a328-11e9-9196-cc9fb689870c.png)

[2019-07-10 13:34] bobsilverberg commented on #8285
@muffinresearch Do you think this is serious enough to merit a cherry-pick, or can we let it land next week?

[2019-07-10 14:01] muffinresearch commented on #8285
It can wait until next week.

[2019-07-10 14:13] brassy- commented on #8284
@muffinresearch I think you're suggestion is very reasonable! I'm ok with right-aligning the recommended badge.
For the button, I'll recommend to center align it with the description.

[2019-07-10 15:35] caitmuenster commented on #7624
Hey @M4trox, sorry to see that you were having problems running addons-frontend. Are you still working on this?

[2019-07-10 15:37] caitmuenster commented on #5395
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @kumar303

[2019-07-10 15:45] willdurand commented on #7624
I think this is fixed, isn't it?

[2019-07-10 15:48] ioanarusiczki commented on #8199
@bobsilverberg
One more question about the shelves :)
In the document `Recommended extensions` refers to
https://addons.mozilla.org/en-US/firefox/search/?featured=true&type=extension
the current link on stage is
https://addons.allizom.org/en-US/firefox/search/?recommended=true&sort=random&type=extension

In the document `Popular extensions` refers to
https://addons.mozilla.org/en-US/firefox/search

[2019-07-10 16:29] bobsilverberg commented on #8199
As long as the add-on exists on prod, which I assume it does as that's probably where the guid comes from, then there should be no issues with this.

[2019-07-10 16:31] bobsilverberg commented on #8199
This is the correct link. The document uses old links which are incorrect.

This is also the correct link. Featured no longer exists, and for this type of link we do want the sort to be `users`.

Our intention is for each link to lead to a differently sorted list, so I think this is fine.

[2019-07-10 16:50] brassy- opened #8288 "Don't show "Custom heading" in the discovery card"
On the discovery pane and on the recommeded section in extensions manager, we're not going to display the heading.
![recommeded](https://user-images.githubusercontent.com/6309827/60988020-190e1380-a343-11e9-915a-8b3c874b9277.png)

cc @devaneymoz if more details are needed.

[2019-07-10 17:12] jvillalobos commented on #8288
I think the heading and description are being sent as a single string. Changing that would affect older clients using it, right? Is that a concern?

Separate question: is the heading still going to be used for homepage programming? Is it being used elsewhere?

[2019-07-10 17:26] devaneymoz commented on #8288
I'm uncertain of it might affect older clients, but if we kept the Custom Headline in the admin, would the older clients still be able to pull it in? And newer clients bypass it in lieu of just the Custom Description? If so I could work with that.

To @jvillalobos other question on the headline possibly being used on the homepage, fortunately we can use the same meta data convention in the hero ar

[2019-07-10 18:08] #8285 closed

[2019-07-10 18:26] RIBAMA opened #8289 "I can't find s3 google translator"
All is in title
i don't speek english very well.
the link of astuce
https://www.presse-citron.net/10-extensions-a-installer-de-toute-urgence-sur-firefox/
the link i can't join
https://addons.mozilla.org/fr/firefox/addon/s3google-translator/?src=search

[2019-07-10 18:47] jvillalobos commented on #8289
It's up to the developer to bring the add-on back. We can't do anything about it.

[2019-07-10 18:47] #8289 closed

[2019-07-10 19:11] willdurand commented on #8288
Should this issue be moved to addons-server?

Other question: do we want to change anything on https://discovery.addons.mozilla.org/en-US/firefox/discovery/pane/64.0/Darwin/normal? That is the disco app in addons-frontend.

[2019-07-11 01:36] workplaceninja opened #8291 "Dissentor plugin missing"

[2019-07-11 01:37] #8291 closed

[2019-07-11 06:18] Shubhamchinda commented on #7624
@willdurand Let me If I can work on this issue.

[2019-07-11 06:27] Shubhamchinda commented on #5395
Hey @caitmuenster I'd like to work on this issue.

[2019-07-11 06:40] ioanarusiczki commented on #8199
@bobsilverberg Ok, this issue also needs a  sanity check after the push.

[2019-07-11 08:30] willdurand commented on #7624
@Shubhamchinda someone is already on it, sorry.

[2019-07-11 08:43] AlexandraMoga opened #8292 "AMO prod homepage fails to load properly"
STR:
1. Open AMO prod homepage - https://addons.mozilla.org/en-US/firefox/
2. Observe the shelves

Actual result:
The collection shelves are missing
**Console error:** `Home collection: 4757633/be-more-productive failed to load: Error: Error calling: /api/v4/accounts/account/4757633/collections/be-more-productive/addons/ (status: 401)`

![image](https://user-images.githubusercontent.com/31961530/6

[2019-07-11 09:03] AlexandraMoga commented on #8292
The issue extends to the collections from the Customize the way Firefox works... section, with the exception of The Password managers and the Ad blockers collections.

![image](https://user-images.githubusercontent.com/31961530/61037097-1529d200-a3d3-11e9-8dff-20461c156a42.png)

[2019-07-11 09:26] willdurand commented on #8292
"Be more productive" collection:

![Screen Shot 2019-07-11 at 11 25 21](https://user-images.githubusercontent.com/217628/61039222-a185c600-a3ce-11e9-97e3-a77ca4f4bc55.png)

[2019-07-11 09:33] muffinresearch commented on #8292
Initial single add-ons added back to those collections which should at least ensure the homepage loads. Going to add more data to restore the collections.

[2019-07-11 09:45] willdurand commented on #8292
YouTube boosters (add-on IDs):

- Enhancer for Youtube: `700308`
- Iridium: `930884`
- SoundFixer: `843270`

[2019-07-11 09:47] willdurand commented on #8292
Feed readers (add-on IDs):

- Brief: `4578`
- RSSPreview: `1005960`
- Feed Preview: `1006262`
- mPage: `358674`

[2019-07-11 09:55] willdurand commented on #8292
Screenshot from google cache:

![Screen Shot 2019-07-11 at 11 55 07](https://user-images.githubusercontent.com/217628/61041520-be23fd00-a3d2-11e9-8aad-3d775dec92f7.png)

Smarter Shopping (add-on IDs):

- AliTools for AliExpress: `893039`
- Aliexpress Shopping Assistant: `562120`
- Honey: `415198`
- Trusted Shops extension for Firefox: `523060`

[2019-07-11 09:58] willdurand commented on #8292
Screenshot from google cache:

![Screen Shot 2019-07-11 at 11 56 57](https://user-images.githubusercontent.com/217628/61041665-00e5d500-a3d3-11e9-8e31-f14617d95d7c.png)

Watching Videos (add-on IDs):

- Enhancer for Youtube: `700308`
- Iridium: `930884`
- SoundFixer: `843270`
- Video Speed Controller: `780998`

[2019-07-11 10:01] willdurand commented on #8292
Screenshot from google cache:

Bookmark Managers (add-on IDs):

- Group Speed Dial: `785721`
- LinkLocker - Private Bookmarking: `747893`
- OneNote Web Clipper: `731302`
- Bookmarks Manager and Viewer: `743689`

[2019-07-11 10:03] willdurand commented on #8292
We fixed the issue by re-creating the collections in production 🚀

[2019-07-11 10:03] #8292 closed

[2019-07-11 10:05] willdurand commented on #5395
@Shubhamchinda go for it

[2019-07-11 10:10] AlexandraMoga commented on #8292
Verified fixed:

![image](https://user-images.githubusercontent.com/31961530/61042542-13fda280-a3dd-11e9-915a-ad7981fec068.png)

The collections in the Customize the way Firefox works... are also working

[2019-07-11 11:51] fjscorrea opened #8293 "Extend unavailable"
### Describe the problem and steps to reproduce it:

I searched for 'firefox auto refresh' on google and found the 'super auto refresh' link, but when I clicked the link, I was redirected to a page that says the extension is no longer available.

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-11 12:50] wagnerand commented on #8293
Please contact the author of the add-on about its availability.

[2019-07-11 12:50] wagnerand commented on #8293
Please contact the author of the add-on about its availability.

[2019-07-11 12:50] #8293 closed

[2019-07-11 13:09] bobsilverberg commented on #8199
Agreed!

[2019-07-11 13:32] AlexandraMoga commented on #8277
The Recommended badges have been verified on stage and they have been working as expected.
This issue will be marked as verified once we check prod as well.

[2019-07-11 14:10] willdurand opened #8294 "Homepage collections are fetched indefinitely when there is an error and user is logged-in"
Follow-up #8292

---

### Describe the problem and steps to reproduce it:

1. Make sure a homepage collection is private or non-existent
2. Make sure your user is logged in
3. Navigate to the homepage

### What happened?

The loading indicators are visible and the page won't load the collection. In addition to that, we can observe countless API calls in the console.

The response is a `403` and wh

[2019-07-11 14:13] willdurand commented on #8292
I filed https://github.com/mozilla/addons-frontend/issues/8294 for that.

[2019-07-11 14:23] ioanarusiczki opened #8295 "Filter menu won't be collapsed when navigating back to a `see more` link"
STR:
1. On an android device load AMO stage
2. Go to Extensions tab and click a "See more link" from the page
3. Navigate to Themes Tab and click another "See more link"
3. Observe the Filter Menu

Expected result:
The Filter Menu is closed.

Actual result:
Filter Menu remained opened.

Notes:
This is reproducible on all AMO servers - FF68 (Android 8.0)
A page refresh will close the Filter Menu.

[2019-07-11 14:38] muffinresearch commented on #8284
Here's @brassy-'s sketch wireframe to demonstrate:

![Untitled11](https://user-images.githubusercontent.com/1514/61060084-f4bd4000-a3f1-11e9-8564-6bbc0a907ed1.jpg)

[2019-07-11 14:44] muffinresearch commented on #8284
@bobsilverberg I've assigned this to you for when you have a moment, though it's not super urgent. It will take some minimal refactoring of the layout to move the recommended badge to the right.

[2019-07-11 15:39] muffinresearch commented on #8288
HTML disco pane:

<img width="714" alt="Discover_Add-ons" src="https://user-images.githubusercontent.com/1514/61064799-5bdef280-a3fa-11e9-93f0-3186f6d4922d.png">

[2019-07-11 15:50] muffinresearch commented on #8288
Example of data:

[code]

[2019-07-11 15:57] muffinresearch commented on #8288
So having discussed this in the frontend call, it looks like we can just drop sending the `heading_text`.

To do that we need to confirm:

* That Firefox won't blow up in the absence of the `heading_text` key (@mstriemer)
* Confirm that the html disco pane is using `heading` and not `heading_text`. (@muffinresearch)

[2019-07-11 16:00] willdurand commented on #8288
We're not using `heading_text` https://github.com/mozilla/addons-frontend/blob/dac4c2dde1f3dae087363ca14b0bdcb0b5494375/src/disco/reducers/discoResults.js#L92

[2019-07-11 17:20] M4trox commented on #7624
PR added:  #8297

[2019-07-11 17:25] vcarciu opened #8298 "Error message displayed when searching addons from recommended addons page"
Steps to reproduce:
1.Go to addons.mozilla.org
2.Press the "See more recommended extensions" link from homepage
3. Search for an addon and press Enter

Expected results:
A list of search results is displayed

Actual results:
"The "sort" parameter "random" can only be specified when the "featured" or "recommended" parameter is also present, and the "q" parameter absent." error is displayed and 0 re

[2019-07-11 17:44] willdurand commented on #8298
I think this patch should fix the issue:

[code]

[2019-07-11 18:00] #7624 closed

[2019-07-11 19:43] bobsilverberg commented on #8284
@muffinresearch I've started working on this, and I can move the badge to the upper right, but I'm having trouble trying to center align the button with just the description text (as opposed to the description plus the byline). I could do it by converting everything to a grid, but that seems like overkill. I'll come back to it, but I was wondering if you have any quick tips for doing this.

[2019-07-11 20:27] muffinresearch commented on #8284
I'd probably try moving the description and the install button into their own flex container so you can align the button centrally vertically to the whole thing so that if the text is taller than the button the button sits in the centre vertically.

Here's a thrown together simplified example: https://jsbin.com/jejunup/6/edit?html,css,output

[2019-07-11 21:58] bqbn commented on #3776
The config for gzipping favicon.ico is deployed to -dev and -stage. Please test.

You may need to clear your browser caches before verifying it.

It works for curl at this point.

[code]

[2019-07-12 01:54] #8298 closed

[2019-07-12 02:00] bobsilverberg commented on #8298
Note that the fix for this has been pushed to stage, which also now has the recommended badges re-enabled. This should be ready for verification, and our plan is to push this change to prod on Monday.

[2019-07-12 07:59] willdurand commented on #3776
@bqbn it works for me in both -dev and -stage.

[2019-07-12 10:11] AlexandraMoga opened #8301 "Error message received when removing the Recommended filter option if the `random` sort parameter is present"
Similar to #8298

**STR:**

1. Load AMO -dev or stage
2. Click on See more recommended extensions from the homepage shelf
3. Un-check the 'Recommended add-ons only' option from the filters panel

**Actual result:**
The follwoing error is received:
`The "sort" parameter "random" can only be specified when the "featured" or "recommended" parameter is also present, and the "q" parameter absent.`

**E

[2019-07-12 11:43] #8301 closed

[2019-07-12 11:51] bobsilverberg commented on #8301
This has been pushed to stage via `2019.07.11-3`, and should land there in a bit for verification.

[2019-07-12 13:05] AlexandraMoga opened #8303 "Add-on icons look squeezed in the guides pages after a page refresh"
**STR:**

1. Go to AMO homepage - https://addons.mozilla.org/en-US/firefox/
2. Open a guide page - i.e. Stay Safe Online
3. Refresh the page
4. Observe the add-on icons

**Actual result:**
Add-on icons look squeezed after a page refresh

**Expected result:**
Add-on icons are not distorted

**Notes:**
- reproduced on all servers with Fx68, Win10x64
- this could be connected with #8284

![2019-07-12

[2019-07-12 13:47] AlexandraMoga commented on #8298
Verified fixed on -dev and stage with Fx68, Win10x64 and Android 8.0

![2019-07-12_16-40-10](https://user-images.githubusercontent.com/31961530/61132652-80070600-a4c4-11e9-9db0-6efeff204d11.gif)

[2019-07-12 13:53] AlexandraMoga commented on #8301
Verified fixed on -dev and stage with Fx68, Win10x64 and Android 8.0

![2019-07-12_16-50-04](https://user-images.githubusercontent.com/31961530/61133041-4e426f00-a4c5-11e9-89e6-a68fe2ae87fd.gif)

[2019-07-12 20:48] jvillalobos opened #8305 "Add dynamic Primary Hero Shelf to desktop homepage"
Depends on #8478

Part of [this PRD](https://docs.google.com/document/d/12aD_v5AOj1Y6VmT4xOuyNcrKfZxqhP8R_AOHroQVLV8/edit#). Depends on https://github.com/mozilla/addons-server/issues/11830.

The Primary Hero Shelf in the homepage will feature one extension, chosen from a subset of Recommended extensions:

<img width="623" alt="Screen Shot 2019-07-03 at 4 02 16 PM" src="https://user-images.githubu

[2019-07-12 20:49] jvillalobos commented on #8247
Closing in favor of https://github.com/mozilla/addons-frontend/issues/8305, since it looks like we'll be able to do both this quarter.

[2019-07-13 14:48] hasasin opened #8307 "flash got"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-13 17:33] #8307 closed

[2019-07-14 17:42] mhkarimi1383 opened #8308 "There is no youtube smart buffer on mozilla add-ons thats removed!!"
There is no youtube smart buffer on mozilla add-ons thats removed and when I want to install that from file firefox say it's corrupt

[2019-07-15 07:30] #8308 closed

[2019-07-15 07:32] willdurand commented on #7962
@bqbn could you keep that in mind? It'd be nice to fix this issue. Maybe a good first issue for @oremj?

[2019-07-15 07:40] willdurand commented on #6919
@kumar303 I'd like to revisit our current usage of Sentry for AMO frontend. Once https://github.com/mozilla/addons-frontend/issues/8270 is fixed, I'd like to wipe all the Sentry events and then start to aggressively manage the new events:

1. ignore all non-FF events as mentioned here, either _via_ config or using the web interface
2. create/bind GitHub issues to events of interest
3. mark events

[2019-07-15 08:19] muffinresearch commented on #8308
We are unable to provide support for individual add-ons.

This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services.

[2019-07-15 13:26] AlexandraMoga commented on #7624
Verified fixed on -dev with Fx68, Win10x64 and Android 8.0

a screenshot where the Contribute card is also present:
![image](https://user-images.githubusercontent.com/31961530/61219499-04ec5c80-a71d-11e9-9328-9fef2742ccbf.png)

[2019-07-15 13:45] bobsilverberg commented on #6919
This sounds like a good idea to me. I agree it's an issue that we get so many Sentry errors and tend to just ignore most/all of them. It makes Sentry a lot less useful.

[2019-07-15 13:49] AlexandraMoga commented on #8285
Verified fixed on -dev. The visually-hidden string is no longer present:

![image](https://user-images.githubusercontent.com/31961530/61221048-4af6ef80-a720-11e9-930e-a56cdbc884ad.png)

[2019-07-15 15:56] #8220 closed

[2019-07-15 16:00] #8294 closed

[2019-07-15 16:03] willdurand commented on #6919
@bobsilverberg thanks. Sorry, I did not mean to ignore you, I mainly replied to the original author.. I should use @mozilla/addons-engineering more often...

[2019-07-15 16:07] bobsilverberg commented on #6919
No worries, it did not bother me and I did not take offense. I saw it in my inbox so I replied. :-)

[2019-07-15 16:46] kumar303 commented on #6919
Sounds good to me as long as there isn't too much of a maintenance burden on the team. We should definitely start by ignoring non-FF errors, though.

[2019-07-15 18:13] bobsilverberg commented on #8284
Thanks for the advice @muffinresearch. It was very helpful.

[2019-07-15 19:51] willdurand opened #8316 "Remove button misaligned in collection edit pages"
### Describe the problem and steps to reproduce it:

1. Log in into AMO -dev and go to your collections https://addons-dev.allizom.org/en-US/firefox/collections/
2. Create a collection with an add-on or two
3. Add a comment to one of the add-ons (with more than 5-6 words)
3. Toggle the edit comment form (optional)

### What happened?

The "Remove" (add-on) button is misaligned when the edit commen

[2019-07-15 19:52] #5395 closed

[2019-07-15 19:53] willdurand commented on #5395
Thanks @Shubhamchinda!

[2019-07-15 19:53] willdurand commented on #8316
cc @Shubhamchinda

[2019-07-15 20:00] willdurand commented on #3197
I don't think we're going to ever change that, so I am closing this issue for now.

[2019-07-15 20:00] #3197 closed

[2019-07-15 20:01] willdurand commented on #4084
I believe this is either fixed or no longer valid.

[2019-07-15 20:01] #4084 closed

[2019-07-15 21:03] kumar303 opened #8317 "The home page re-fetches data infinitely upon error"
This is a follow up to #8292 and https://github.com/mozilla/addons-frontend/issues/8294

**For QA**: Since it may not be possible to trigger this error, please just check for any regressions on the home page

---

### Describe the problem and steps to reproduce it:

* Trigger an error from the saga that fetches home page data (see https://github.com/mozilla/addons-frontend/issues/8294 for an examp

[2019-07-15 22:24] bqbn commented on #3776
Deployed to -prod as well.

[2019-07-16 01:51] moscodarazkan opened #8320 "nnn"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-16 05:13] Shubhamchinda commented on #8316
@willdurand
Now that I see this again it's not occuring, The "Remove" button is not moving.

**Examples:**

![Screenshot (167)](https://user-images.githubusercontent.com/21038543/61267634-44b35280-a7b6-11e9-9657-372e0e4a3235.png)

![Screenshot (169)](https://user-images.githubusercontent.com/21038543/61267635-454be900-a7b6-11e9-82a1-ece6fe6b974f.png)

I don't know why it's not occuring now.

[2019-07-16 05:22] Shubhamchinda commented on #8316
**It's breaking again**
It's so wierd.

1.
![Screenshot (170)](https://user-images.githubusercontent.com/21038543/61267981-aaeca500-a7b7-11e9-9630-ce32af2bb23d.png)

2.
![Screenshot (171)](https://user-images.githubusercontent.com/21038543/61267982-ab853b80-a7b7-11e9-9653-b35b9c4e29df.png)

3.
![Screenshot (172)](https://user-images.githubusercontent.com/21038543/61267984-ab853b80-a7b7-11e9-8fa4-1

[2019-07-16 11:04] #8320 closed

[2019-07-16 11:40] willdurand commented on #8316
@Shubhamchinda it looks related to the length of the collector's note, no?

[2019-07-16 11:41] #3776 closed

[2019-07-16 11:45] Shubhamchinda commented on #8316
@willdurand No, I meant the input text length but I guess it's fixed now. You can check the patch.

[2019-07-16 11:55] willdurand commented on #8317
I find this STR very confusing because it is very tricky to reproduce in real life. Throwing an (unhandled) error anywhere in this saga will not always lead to the bug described here, although it should. I suggest we put the entire saga code into a `try/catch` block (instead of having two blocks wrapping the API calls).

Here, this STR works because (1) we are inside a `try/catch` block and (2) th

[2019-07-16 12:03] Shadybeshara opened #8322 "Earth Street"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-16 12:04] Shadybeshara commented on #8322
i need to use Earth Street Zoom Map Creator

[2019-07-16 12:49] bobsilverberg commented on #8137
@brassy- Would you be able to give me an idea of what this should look like? I believe we want the message below the install button, but should it be wrapped below the button, or extend across the width of the card? Also, what size/color/ etc. should be used?

[2019-07-16 13:03] #8270 closed

[2019-07-16 13:05] wagnerand commented on #8322
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-07-16 13:05] #8322 closed

[2019-07-16 13:53] vcarciu commented on #5395
Verified as fixed :
![collector](https://user-images.githubusercontent.com/1583842/61300185-2bc49480-a7ea-11e9-827f-6c385dca8c82.png)

[2019-07-16 13:56] #8316 closed

[2019-07-16 14:03] #2011 closed

[2019-07-16 14:06] willdurand commented on #3428
It seems like we are already consuming gzip'ed API responses (I see `Content-Encoding: gzip` in the response headers).

[2019-07-16 14:06] #3428 closed

[2019-07-16 14:08] willdurand commented on #2702
we now see all the results.

[2019-07-16 14:08] #2702 closed

[2019-07-16 14:10] vcarciu commented on #3776
Favicon displayed in all envs. Marking the issue as verified.

[2019-07-16 14:14] vcarciu commented on #8316
Verified as fixed:
![remove](https://user-images.githubusercontent.com/1583842/61301712-23ba2400-a7ed-11e9-9333-c1bab0fe32a7.png)

[2019-07-16 14:15] #4485 closed

[2019-07-16 14:19] willdurand commented on #3193
closing in favor of https://github.com/mozilla/addons-frontend/issues/8180

[2019-07-16 14:19] #3193 closed

[2019-07-16 14:27] willdurand commented on #2264
Now that the website is feature complete, we do not have much updates that require a full reload, so I am going to close this issue for now.

[2019-07-16 14:27] #2264 closed

[2019-07-16 14:32] #4404 closed

[2019-07-16 14:33] willdurand commented on #4499
Closing as it should be restricted by the server.

[2019-07-16 14:33] #4499 closed

[2019-07-16 14:34] #4882 closed

[2019-07-16 14:35] willdurand commented on #4070
@AlexandraMoga is this issue still relevant?

[2019-07-16 14:40] willdurand commented on #5615
@Shubhamchinda maybe something for you if you like :)

[2019-07-16 14:53] Shubhamchinda commented on #5615
Okay @willdurand . I'll work on it.
Thanks :)

[2019-07-16 14:56] #8317 closed

[2019-07-16 14:58] kumar303 commented on #8317
I addressed this in the patch and updated the STR.

[2019-07-16 15:12] jrbenny35 opened #8323 "Only run "frontend" tests within the integration test job on Circle CI"
We should disable the devhub tests to only run homepage and search tests on CI within this repo.

[2019-07-16 15:12] willdurand commented on #5443
We discussed with @vcarciu on IRC and this is a wontfix as it is indeed platform specific and nothing we can "fix".

[2019-07-16 15:12] #5443 closed

[2019-07-16 15:30] #8323 closed

[2019-07-16 16:24] bobsilverberg opened #8324 "Install button misaligned on guides page when add-on is not recommended"
This is a follow-up to PR #8315. If the Recommended Badge is not displayed, due to an add-on not being recommended, the Install Button is still center-aligned with the add-on description, rather than being center-aligned with the entire contents of the card.

We do not expect there to ever be any add-ons on the guides page that are not recommended, but we should probably address this in case there

[2019-07-16 16:25] #8284 closed

[2019-07-16 16:27] Shubhamchinda commented on #8324
@bobsilverberg Can I take it?

[2019-07-16 16:50] bobsilverberg commented on #8324
@Shubhamchinda certainly!

[2019-07-16 19:24] bobsilverberg commented on #8137
Here is what I am proposing in terms of data collection for the A/B test:

1. All AMO users will be allocated into one of two cohorts, and this setting will be tracked in a cookie. Members of one cohort will see an install warning for non-recommended add-ons and members of the other will not see an install warning.
2. Whenever an install button for a non-recommended add-on is shown, an event will

[2019-07-16 21:23] willdurand commented on #8137
@bobsilverberg  :+1:

[2019-07-17 07:48] raffaele444 opened #8329 "https://tecknity.com/top-10-wordpress-hosting-services/"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-17 07:48] #8329 closed

[2019-07-17 12:20] tsl143 opened #8330 "recommended addon badge distorts listing in `Other popular extensions` section"
### Describe the problem and steps to reproduce it:

### What happened?
Goto any URL with recommended addons in `Other popular extensions` section
(https://addons.mozilla.org/en-US/firefox/addon/fullscreen-plus/)

### What did you expect to happen?
4 addons listed without any distortion

### Anything else we should know?
Recommended addon with long name breaks the layout. (Screenshot attached)

![

[2019-07-17 13:31] vcarciu commented on #8317
Home page looks good. Marking the issue as verified.

[2019-07-17 14:16] vcarciu commented on #8284
Verified as fixed :
![allignright](https://user-images.githubusercontent.com/1583842/61383077-a955d680-a8b6-11e9-8842-948aa246c7c4.png)

[2019-07-17 15:06] willdurand commented on #8303
@AlexandraMoga could you still reproduce in -dev (as we fixed the other issue mentioned)?

[2019-07-17 15:09] willdurand commented on #8295
Not sure what the best expected behavior would be here. At least, both actions should have the same result.

[2019-07-17 15:10] kumar303 commented on #8330
Thanks for the bug report, @tsl143 . I can take a look.

[2019-07-17 16:14] jrbenny35 commented on #4594
@willdurand so what should we do to test this? I could change the circleci config to require an integration-test before a tag build

[2019-07-17 16:18] jrbenny35 opened #8331 "Integration-test: test_special_chars_dont_break_suggestions, is failing on CircleCI"
Looks like a stale element error which usually means an item, or list is being refreshed and selenium can't find the old one (since it was refreshed), or the new one.

[2019-07-17 16:19] willdurand commented on #4594
I am not sure what we want to do here but a smoke test to make sure the docker image has been built correctly would be nice.

[2019-07-17 16:32] jrbenny35 commented on #4594
I think we could do the same setup as the integration-tests, as that will actually show that everything works together, but just run like 4 tests. It shouldn't take too long but idk how quickly you guys want it.

[2019-07-17 18:21] Shubhamchinda commented on #8324
@bobsilverberg Can you please tell me the exact link where the problem is occuring.
Thanks :)

[2019-07-17 21:52] peiying2 opened #8336 "Move locale bn-BD to bn"
We are going to merge the two bn-* locales into one to fully utilize the community resources. The frontend has only bn-BD. We want to sync up with the rest of the localized products/projects. The plan is

Dev:
- AMO Frontend creates a bn folder at repo
- Move bn-BD repo content to bn repo and confirm it's all there
- Remove bn-BD repo

Pontoon (l10n):
- Pontoon dev migrates the data to bn (this in

[2019-07-17 22:12] peiying2 commented on #8336
@entequak

[2019-07-17 22:22] felixlawrence commented on #8137
This sounds very doable from an experimental design point of view. If I understand correctly, your goal is to work out what % of users are dissuaded by the warning and do not install the non-recommended addon. I suspect you would also be interested in knowing, whether users who see the warning for a non-recommended addon are more or less likely to continue browsing AMO, and whether they are more o

[2019-07-18 06:39] AlexandraMoga commented on #8303
@willdurand I'm not reproducing anymore. Looks like this issue was indeed fixed by the other changes made for #8284

[2019-07-18 06:39] #8303 closed

[2019-07-18 08:51] willdurand commented on #4594
This works for me. Time is not an issue here because we're not running circle-ci in pull requests. it will slightly take more time to deploy a commit to -dev, but that's fine I guess.

[2019-07-18 11:02] Shubhamchinda commented on #5615
I'm sorry for closing the PR, my master branch is creating issues while creating new branches. I think I need to refork the rep and create upstream for further issues. "Doing newbie mistakes" -_-
I hope you understand.

[2019-07-18 11:29] AlexandraMoga commented on #8294
Verified fixed on stage:
The homepage will load the available content for logged in users.
- in this screenshot, the Enhanced privacy extensions collection was made private, so its corresponfing shelf is hidden:

![2019-07-18_13-55-22](https://user-images.githubusercontent.com/31961530/61453996-4d4b8a80-a968-11e9-8f4a-7df68ed8605d.png)

[2019-07-18 11:51] willdurand commented on #5615
@Shubhamchinda it's fine, no worries. Something I wanted to suggest you for a while was to create git branches: https://www.atlassian.com/git/tutorials/using-branches

[2019-07-18 13:19] bobsilverberg commented on #8137
This is a good point, thanks @felixlawrence. In order to track all of the behaviour of users in each cohort, I think we should introduce a custom dimension which tracks the cohort a user belongs to. This will allow us to look at any existing GA stats (like the time spent on the site) broken down by cohort. Do you agree that this seems like a good idea?

Thanks for this advice. I can set it up so t

[2019-07-18 13:57] VladLucaci opened #8340 "+Add to Firefox button has the same state when adding search engines"
Steps to reproduce:

1. Go to AMO https://addons.mozilla.org/en-US/firefox/search-tools/
2. Pick an option from the listed results to see its details page (i.e. https://addons.mozilla.org/en-US/firefox/addon/google-video-search-10562/?src=search)
3. Click the +Add to Firefox option.
4. When the Add Search Engine prompt is displayed, select the Add option.

Expected result:
The +Add to Firefox butt

[2019-07-18 17:16] felixlawrence commented on #8137
I have little hands-on experience with GA (none at Mozilla), so I'm not in a good position to assess whether this is the most appropriate mechanism to achieve this goal, but it sounds reasonable. Let me know if you're unsure about this to the point that you want me to research this point.

Is this an established piece of functionality? It would make data scientists' lives easier if we re-used comp

[2019-07-18 19:11] bobsilverberg commented on #8137
I think we're okay going forward with this. We did this in another experiment I was involved with. On the other hand, it might be worth just passing this by one of you colleagues who might be more familiar with GA just to double check. I don't want to ask you to do a lot of research into it, but a quick check could be a good idea.

Yes, this is an established piece of functionality that we've used

[2019-07-18 19:14] bobsilverberg commented on #8137
I took a look at our code for this, and it's not currently designed to support this. It currently would allocate a user into a cohort as soon as (but not before) they view an install button for *any* add-on, not just for a non-recommended add-on. Do you think that's a reasonable compromise?

[2019-07-18 19:31] felixlawrence commented on #8137
It won't _invalidate_ the experiment but it will add noise. What % of sessions that involve viewing any addon involve a view of a non-recommended add-on? If it's >50% then it's no problem, if it's less than say 5% then we'll need to do some mitigation.

[2019-07-18 19:51] #8331 closed

[2019-07-18 20:09] bobsilverberg commented on #8137
I would venture to say that it's at least 50%, possibly a lot more. What do you think @jvillalobos || @devaneymoz?  What % of sessions that involve viewing any add-on involve a view of a non-recommended add-on?

[2019-07-18 20:57] bobsilverberg opened #8341 "Problem running local site over https"
### Describe the problem and steps to reproduce it:
Try to run addons-frontend locally over https following all of the instructions at https://github.com/mozilla/addons-frontend/blob/master/docs/moz-addon-manager.md#developing-with-a-local-https-server-recommended.

### What happened?
1. You get a warning about an invalid certificate which must be added as an exception.
2. After adding the excepti

[2019-07-18 21:03] kumar303 commented on #8341
As a temporary solution we could add a step to the docs about overriding the expired cert.

I think it came from an old test pilot repo? We could ask someone over there.

[2019-07-18 21:31] jvillalobos commented on #8137
Considering that the most popular extension (AdBlock Plus) is not Recommended, I think it's pretty much impossible for the traffic to non-Recommended to drop anywhere near 5%. The Recommended list is fairly small (under 200), so I think it's safe to say that it will still get a minority of the traffic. Getting it to 50/50 would definitely be a success, but I don't expect that to happen so quickly,

[2019-07-19 01:20] keybounce opened #8344 "containers on the go"
### Describe the problem and steps to reproduce it:

I was  attempting to learn about "container tabs" (nb: a really bad name for what it is doing.)

On page https://blog.mozilla.org/tanvi/2017/10/03/update-firefox-containers/ I was referred to https://addons.mozilla.org/en-US/firefox/addon/containers-on-the-go/

That is now an error page, "this project is not available, please file this error rep

[2019-07-19 07:39] AlexandraMoga commented on #4070
I think not. In the latest ESR the issue will not reproduce and ESR 52 has been discontinued a while back.
In other words, this issue has been fixed by time :)

[2019-07-19 07:39] #4070 closed

[2019-07-19 08:29] willdurand commented on #8344
@caitmuenster any chance we can update the blog post to adjust the link?

[2019-07-19 09:28] VladLucaci commented on #8340
Also managed to reproduce this issue on a build from 2019-02-02 - 67.0a1 (buildID: 20190202213603)

[2019-07-19 10:02] willdurand commented on #8340
Hi, thanks for filing this bug. This is not possible becqause search plugins are not web extensions per se and therefore we don't use the `mozAddonManager` object to manage them. That's why we do not know the state of a search plugin and can't have nicer things.

There is some work in progress in Firefox to change that though (i.e. converting the old search engines to shiny new web extensions, com

[2019-07-19 10:02] #8340 closed

[2019-07-19 10:15] willdurand commented on #8341
The certificates have been added in this PR: https://github.com/mozilla/addons-frontend/pull/3808. @jrbenny35 do you know where you got them?

I think those are self-signed certificates, likely based on this script: https://github.com/TomShacham/http4js/blob/55ee6194117f7c6872ac4df801d1ee94cbf7359f/create-ssl-certs.sh#L22 (according to the `openssl` outputs).

I believe we can "just" generate new

[2019-07-19 10:16] willdurand commented on #8341
The SSL certificate expired on July 11:

[code]

[2019-07-19 11:21] willdurand commented on #6919
Alright so we have releases now. I tried to delete the old events but we have too many and we can't delete more than 1000 events at once.. I enabled a feature that auto-hides events that haven't been seen after 3 weeks. That should help reduce the number of events to look at.

[2019-07-19 11:21] #6919 closed

[2019-07-19 16:58] bobsilverberg opened #8347 "Create an InstallWarning component"
This is a spin-off from #8137

Create an InstallWarning component that can be displayed at the bottom of an add-on card to warn users about installing non-recommended add-ons. This component will also include most of the functionality for the A/B test.

Here's an example of what it will look like in an add-on card:

<img width="799" alt="Screenshot 2019-07-19 12 57 46" src="https://user-images.git

[2019-07-19 19:53] bqbn commented on #7962
Deployed to -dev and -stage.

[2019-07-20 06:25] rbrishabh commented on #8347
Hey! Can I take this up?

[2019-07-20 06:55] tsl143 opened #8349 "link text is `see more popular extensions` in Popular themes section on home"
### Describe the problem and steps to reproduce it:

### What happened?
Goto https://addons.mozilla.org/en-GB/firefox/
Scroll to popular theme section
Link has text `see more popular extensions`

### What did you expect to happen?
Link should have text `see more popular themes`

### Anything else we should know?
<img width="1398" alt="image" src="https://user-images.githubusercontent.com/5318732/6

[2019-07-20 07:02] Shubhamchinda commented on #8349
@tsl143 Can I take it?

[2019-07-20 16:19] Astrulises opened #8350 "S3. translator add-on removed for firefox"
S3 TRANSLATOR is no longer available for firefox and is the best translator for firefox. I used it often but a year or more ago it is not available anymore. They could make it available again. please.

[2019-07-20 16:20] Astrulises commented on #7470
ricardo300 is no longer available for firefox and is the best translator for firefox. I used it often but a year or more ago it is not available anymore. They could make it available again. please.

[2019-07-20 16:50] salvapil commented on #7470
Ciò  che non riesco a comprendere è il perchè  usando firefox sul  notebook
personale,  non esiste il traduttore S3.Translator,  mentre usando Firefox
sul PC del lavoro, esiste  ancora.
Qualcuno  sa  dirmi  il  perchè  e  darmi  una  risposta ?

Grazie.

Il giorno sab 20 lug 2019 alle ore 18:20 Astrulises <
notifications@github.com> ha scritto:

[2019-07-22 04:18] yogl2019 opened #8353 "https://couchpota.to/#"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-22 04:19] #8353 closed

[2019-07-22 06:52] willdurand commented on #8350
duplicate of https://github.com/mozilla/addons-frontend/issues/7470

[2019-07-22 06:52] #8350 closed

[2019-07-22 06:57] willdurand commented on #8349
I believe it's a localization issue, see Pontoon entry: https://pontoon.mozilla.org/en-GB/amo-frontend/LC_MESSAGES/amo.po/?search=more+re&string=200348.

This should be fixed _via_ Pontoon I believe.

[2019-07-22 06:57] #8349 closed

[2019-07-22 06:58] #5615 closed

[2019-07-22 16:39] dependabot-preview[bot] opened #8355 "Dependabot couldn't find a requirements.txt for this project"
Dependabot couldn't find a requirements.txt for this project.

Dependabot requires a requirements.txt to evaluate your project's current Python dependencies. It had expected to find one at the path: `/requirements.txt`.

If this isn't a Python project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in

[2019-07-22 16:45] #8355 closed

[2019-07-22 16:54] muffinresearch commented on #8336
Note: This will also need co-ordination with addons-server too to ensure the server has the correct locales there.

[2019-07-22 17:14] peiying2 commented on #8336
Yes, indeed. I have opened two separate issues respectively: https://github.com/mozilla/addons-server/issues/11816, https://github.com/mozilla/addons-linter/issues/2696.

[2019-07-22 17:41] muffinresearch commented on #8324
@bobsilverberg is this actually an issue?

[2019-07-22 17:50] bobsilverberg commented on #8324
I think it both is and isn't an issue. There is a visual regression when the recommended badge is missing on a guides card, *but*, in production we really shouldn't ever have a situation where an add-on is on a guides page but it not recommended. For that reason I think we can safely close this issue. It really only needs to be fixed for the "just in case" case where a guides add-on is not recomme

[2019-07-22 18:00] muffinresearch commented on #8324
The button being centred in reference to the description text seems fine to me with or without a recommended badge. So on the basis this is a "just in-case" fix and the "regression" state looks completely reasonable, I think we can definitely wontfix.

[2019-07-22 18:44] bobsilverberg commented on #8324
Fair enough, and I agree. Thanks @muffinresearch.

[2019-07-22 18:44] #8324 closed

[2019-07-22 19:37] bobsilverberg opened #8363 "Add an enrolment event into withExperiment"
I met with @felixlawrence today to discuss the A/B test for #8137 and he advised that we should be sending an allocation event to GA whenever a user is allocated into a cohort. This is not something that I am currently doing in #8348, where I am only sending an event when a user views an install button for a non-recommended add-on.

As this is something that we should have for any A/B test, I thin

[2019-07-22 20:30] willdurand commented on #8363
Sorry, I am curious: I'd like to know more about this allocation metric. This reminds me that we already conducted an experiment on the install button: https://github.com/mozilla/addons-frontend/pull/6675.

It looks similar. The setup was to always send the variant (it was the color of the button) when the button is displayd. We track the install/click events already, so based on the variant, one

[2019-07-22 20:37] felixlawrence commented on #8363
Whenever someone gets enrolled into an experiment and allocated to a branch, we need to record this so that when analysing the data we can tell how many people were allocated to each branch. If this fact is not automatically recorded immediately, then it's fairly common that experiment-breaking bugs creep in. These bugs usually take the form of us detecting fewer enrollments in one branch because

[2019-07-22 21:13] kumar303 commented on #8363
Doesn't this call to [`setDimension()`](https://github.com/mozilla/addons-frontend/pull/8348/files#diff-4853f534279b024e2f35ee066e68850dR115) give you the data you need to infer allocation?

I am not totally clear on what you mean here. Do you mean that `withExperiment` should automatically set the dimension to the variant (A or B)?

It might be easier if you used #8348 to implement what you're th

[2019-07-23 01:10] gaoganghua opened #8365 "flashgot not found"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-23 06:29] Shubhamchinda commented on #7875
hey @willdurand, Is it still open? I'd like work on it.

[2019-07-23 06:40] Shubhamchinda commented on #7875
Hey @willdurand , Can I take this?

[2019-07-23 07:25] willdurand commented on #7875
Sorry, that one is not ready for contributors. You can find issues to work on by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2019-07-23 07:26] #8365 closed

[2019-07-23 07:43] Shubhamchinda commented on #7875
No problem man! 👍

[2019-07-23 11:47] AlexandraMoga commented on #8330
Verified fixed on -dev with Fx68, WIn10x64

![2019-07-23_14-38-45](https://user-images.githubusercontent.com/31961530/61709715-7d27d300-ad58-11e9-8f22-438357171f07.gif)

[2019-07-23 11:59] AlexandraMoga commented on #5615
Verified fixed on -dev with Fx68, Win10x64 and Android 8.0

![image](https://user-images.githubusercontent.com/31961530/61710382-32a75600-ad5a-11e9-89b6-c3583417ada2.png)

[2019-07-23 14:13] samithCEB opened #8373 "coap"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-23 14:19] #8373 closed

[2019-07-23 15:02] muffinresearch opened #8374 "Display of recommendations badge in other popular extensions is broken for long text"
### Describe the problem and steps to reproduce it:

See this screenshot:

<img width="866" alt="Google_Search_Fixer_–_Get_this_Extension_for_🦊_Firefox__en-US_" src="https://user-images.githubusercontent.com/1514/61722993-2ffd2e80-ad63-11e9-9c34-3c76c4271aa3.png">

### What happened?

With long text the recommendations badge display is impacted.

### What did you expect to happen?

The layout shou

[2019-07-23 15:03] willdurand commented on #8374
Is it different than https://github.com/mozilla/addons-frontend/issues/8330?

[2019-07-23 15:04] muffinresearch commented on #8374
Ah thanks @willdurand it's a dupe, I didn't find it because I search for "Recommendations" not "Recommended" :/

[2019-07-23 15:04] #8374 closed

[2019-07-23 15:21] muffinresearch commented on #8330
This can be broken as follows:

<img width="1122" alt="Webmail_Ad_Blocker_–_Get_this_Extension_for_🦊_Firefox__en-US_" src="https://user-images.githubusercontent.com/1514/61724387-c6325400-ad65-11e9-88b1-b6902bb5b8f8.png">

Width is 1189px.
URL: https://addons-dev.allizom.org/en-US/firefox/addon/webmail-ad-blocker/

Note I did modify the title.

[2019-07-23 15:44] willdurand commented on #7962
@bqbn what are the domains for -dev and -stage?

[2019-07-23 16:25] bqbn commented on #7962
addons-dev-cdn.allizom.org and addons-stage-cdn.allizom.org respectively.

[2019-07-23 16:25] willdurand commented on #7962
Awesome, thanks!

[2019-07-23 16:27] #7962 closed

[2019-07-23 16:36] #8336 closed

[2019-07-23 20:00] nighrmm opened #8377 "r"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-23 20:31] #8377 closed

[2019-07-23 20:41] caitmuenster commented on #8344
Thanks, @keybounce! At the top of the blog, there's a link to the Multi-Account Containers extension. Is that sufficient?

[2019-07-23 20:52] kumar303 commented on #8330
@muffinresearch good idea, thanks. I added it in https://github.com/mozilla/addons-frontend/pull/8378

[2019-07-23 21:05] kumar303 opened #8379 "The non-breaking space test for SearchResult is flaky"
### Describe the problem and steps to reproduce it:

Run the test suite on Kumar's laptop

### What happened?

On my machine, this test always fails:

https://github.com/mozilla/addons-frontend/blob/f33aa3e5da8bbf3c91fef0102bfd2e0ac7a0c783/tests/unit/amo/components/TestSearchResult.js#L138-L144

[code]

### What did you expect to happen?

It should run the same on everyone's machine all the time ✨

[2019-07-24 07:31] AlexandraMoga commented on #8336
Verified on stage with Fx68. The `বাংলা` option from the languages list will load the `/bn/` locale - https://addons.allizom.org/bn/firefox/

@willdurand I also have an observation:
If I'm trying to load https://addons.allizom.org/bn-BD/firefox/, the site will redirect to https://addons.allizom.org/en-US/firefox/.
On the server side (see https://github.com/mozilla/addons-server/issues/11816#issuec

[2019-07-24 07:45] willdurand commented on #8336
mmh, maybe? I don't think we support that out of the box. I don't know how it is handled in the server.. It's likely the first time we have to rename a locale, so I don't know.

Redirecting from `/bn-BD/` to `/bn/` seems logical though. I did not think about it when the patch has been merged because the linter and the server had their patches merged already and according to the comments above, we

[2019-07-24 07:55] AlexandraMoga commented on #7962
Verified fixed on -dev and stage.
The following URLs are throwing an nginx 404 now:

https://addons-dev-cdn.allizom.org/fi/firefox/tag/prefs.js
https://addons-stage-cdn.allizom.org/de/firefox/tag/prefs.js

![image](https://user-images.githubusercontent.com/31961530/61775261-40fc7d00-ae01-11e9-96d9-fe8a6a955a3b.png)

[2019-07-24 12:27] bobsilverberg commented on #8363
I believe the issue is that simply setting the dimension does not trigger an event, so, theoretically, a user could be enrolled in a cohort but not have any events recorded, and I think that would go against @felixlawrence's recommendation that we always have an enroll event. @felixlawrence Can you confirm that this is a concern of yours?

No, what I mean is that `withExperiment` should send a GA

[2019-07-24 14:28] kumar303 commented on #8363
Ah, ok, I think I understand. We need an enrollment event to analyze how many people see the [add-on warning](https://github.com/mozilla/addons-frontend/issues/8347) and *do not* click the install button, right? In that case, it makes sense to add the enrollment event to `withExperiment` first in a separate PR.

[2019-07-24 16:16] willdurand opened #8384 "Switch to the official babel-gettext-extractor lib"
Now that https://github.com/getsentry/babel-gettext-extractor/pull/17 has been merged, we can switch back to the official lib (and delete our fork, _maybe_).

[2019-07-24 16:39] wagnerand opened #8385 "Limit abuse report content to 10,0000 characters"
Related to https://github.com/mozilla/addons-server/issues/11921.

The server is limiting the length of an abuse report body to 10,000 characters. We need to show this limitation in the frontend.

@brassy- for UX and deciding whether a static note will do or whether we need an interactive counter.

[2019-07-24 16:43] willdurand commented on #8385
Dowgrading to p3 as it needs some work in addons-server. Once done, the api will reject large abuse reports and we should already have the logic in place to show the error message.

[2019-07-24 17:01] felixlawrence commented on #8363
Yes, absolutely - and getting this number correct (for both branches) is pretty much just as important as accurately tracking the number who _do_ click the button.

[2019-07-24 17:36] muffinresearch commented on #8247
Re-opening this since we're going to need to get a static version shipped sooner to meet a new deadline.

[2019-07-24 18:33] muffinresearch commented on #8336
@will you might be able to use this config:

https://github.com/mozilla/addons-frontend/blob/f33aa3e5da8bbf3c91fef0102bfd2e0ac7a0c783/config/default.js#L275-L281

Which is usually used to expand short locales.

[2019-07-24 18:54] motiko commented on #5723
@bobsilverberg It looks like just dispatching UNLOAD_COLLECTION_BY_SLUG doesn't solve the problem as CollectionList component only dispatches fetchUserCollections [when there are no collections at all](https://github.com/mozilla/addons-frontend/blob/23bd311793001f8335137537583b6b64cb2de354/src/amo/pages/CollectionList/index.js#L49).
Unless I'm missing something.

Possible solution is to dispatch f

[2019-07-24 19:05] johnphambtc opened #8387 "We need it"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-24 19:16] kumar303 commented on #8247
@jvillalobos what's the plan for L10n? I see an [idea here](https://docs.google.com/a/mozilla.com/document/d/12aD_v5AOj1Y6VmT4xOuyNcrKfZxqhP8R_AOHroQVLV8/edit?disco=AAAADQxh0kk) but that's outside of our normal L10n flow.

[2019-07-24 19:21] muffinresearch commented on #8247
@kumar303 If the content is landed as hard-coded content it will be handled as per normal addons-frontend l10n processes. Naturally, at that point we'll need to be ok with the content being public.

[2019-07-24 19:22] kumar303 commented on #8247
OK, then I will assume it is acceptable that the content will be public before launch.

[2019-07-24 19:25] #8387 closed

[2019-07-24 19:27] devaneymoz commented on #8247
By when do we need final copy for the hard-coded content?

[2019-07-24 19:40] muffinresearch commented on #8247
@kumar303 Yeah the only other option I see is to use un-translated placeholders and leave the real copy to the last minute, but that would limit translations in advance. @jvillalobos @devaneymoz should be able to advise on where we'll stand with making the content + copy public to get this landed.

[2019-07-24 19:41] muffinresearch commented on #8247
@devaneymoz ASAP, though see above the questions/comments re: making the copy public. The copy will be public as soon as it's pushed up here for review even if it's not initially on the site until configured to be live.

[2019-07-24 19:47] jvillalobos commented on #8247
I created [this doc](https://docs.google.com/document/d/1KaOneS2w0E4NS7kc5DmXQRlBUNRPCm-6-JP-d6KfRl0/edit#) to keep track of the content before it needs to be published.

[2019-07-24 20:04] willdurand opened #8388 "Redirect `bn-BD` to `bn`"
### Describe the problem and steps to reproduce it:

Load an URL with `bn-BD` as locale, _e.g._, https://addons-dev.allizom.org/bn-BD/firefox/

### What happened?

You get redirected to https://addons-dev.allizom.org/en-US/firefox/

### What did you expect to happen?

You get redirected to https://addons-dev.allizom.org/bn/firefox/

### Anything else we should know?

See also: https://github.com/m

[2019-07-24 20:05] willdurand commented on #8336
@AlexandraMoga thanks, I filed https://github.com/mozilla/addons-frontend/issues/8388 for that.

[2019-07-24 20:40] #8330 closed

[2019-07-24 20:42] #8379 closed

[2019-07-24 22:03] devaneymoz commented on #8247
Final copy is in the [doc](https://docs.google.com/document/d/1KaOneS2w0E4NS7kc5DmXQRlBUNRPCm-6-JP-d6KfRl0/edit#).

[2019-07-24 23:54] keybounce commented on #8344
On 2019-07-23, at 1:41 PM, Caitlin Neiman <notifications@github.com> wrote:

Not really, in my case.
It was listed in the section on add-ons and the API.

I was hoping to look at those 3rd party "container" enhancements to see which would be what I'm looking for. I saw a lot of references to "Containers on the Go", so for some people, it was the right extension for a while.

"Multi-account contain

[2019-07-25 05:46] AlexandraMoga commented on #8336
Great! I can mark this as verified fixed then.

[2019-07-25 09:11] EnTeQuAk commented on #8385
The server-side patch has landed on -dev and is targeted to land on -prod next week.

[2019-07-25 09:39] jhonlouiqs opened #8391 "bhy"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-25 09:53] #8391 closed

[2019-07-25 10:28] willdurand commented on #8385
So, as I said, we have the current UI:

<img width="402" alt="Screen Shot 2019-07-25 at 12 27 15" src="https://user-images.githubusercontent.com/217628/61867455-92773b80-aed7-11e9-8802-aeffe7314757.png">

It'd be nice to have a better validation message but that's all.

[2019-07-25 10:32] npchucan opened #8392 "h"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-25 10:33] #8392 closed

[2019-07-25 18:41] bqbn commented on #7962
Deployed to -prod yesterday.

[2019-07-25 19:50] ruchikabgosain commented on #8256
hey @Shubhamchinda are you still working on this?

[2019-07-25 19:51] ruchikabgosain commented on #8388
hey @willdurand i would like to take this up! is this issue available?

[2019-07-26 01:55] Shubhamchinda commented on #8256
Yeah @ruchikabgosian .

[2019-07-26 03:09] blahdiblah opened #8393 "Interclue.com"
The homepage of a bolt-on utility I use in your browser, at the address referenced by its documentation. auto redirects me to a page at your domain. Unfortunately all this gives is a 404 - currently this is the commonplace result of external links into your site, maybe you're running out of server space? I thought storage was pretty inexpensive these days :-(

[2019-07-26 03:11] blahdiblah opened #8394 "Yet another site (Interclue.com this time) claims a nonexistent page exists on your site"
The homepage (http://interclue.com) of a bolt-on utility I use in your browser, at the address referenced by its documentation. auto redirects me to a page at your domain. Unfortunately all this gives is a 404 - currently this is the commonplace result of external links into your site, maybe you're running out of server space? I thought storage was pretty inexpensive these days :-(

[2019-07-26 06:26] BhaveshRamanuj opened #8395 "issue of installing plugin in firefox of amazon"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-07-26 08:35] #8395 closed

[2019-07-26 08:36] willdurand commented on #8394
I think the URL is incorrect or the add-on has been removed by their author. We have enough storage, don't worry ;-)

[2019-07-26 08:36] #8394 closed

[2019-07-26 08:36] #8393 closed

[2019-07-26 08:47] #8388 closed

[2019-07-26 08:54] #8384 closed

[2019-07-26 12:11] #8363 closed

[2019-07-26 12:19] bobsilverberg commented on #8347
Marking this as qa:not needed as it cannot really be tested without the warning being displayed anywhere, and there's nothing in this patch that causes the warning to be displayed. That will come in #8137 and I'll add some testing instructions about this into that issue.

[2019-07-26 12:20] bobsilverberg commented on #8363
Marking this as qa:not needed because there isn't really any way to test this without an existing experiment. It can be tested once the A/B test for the install warning lands, which is coming in #8137. I'll add some testing info about this to that issue.

[2019-07-26 15:03] muffinresearch opened #8396 "Unify long string handling in CSS"
We've had [many issues filed](https://github.com/mozilla/addons-frontend/search?q=unbroken+string&unscoped_q=unbroken+string&type=Issues) related to long string handling in the past.

We've used a few different solutions.

* https://github.com/mozilla/addons-frontend/search?q=overflow-wrap&unscoped_q=overflow-wrap
* https://github.com/mozilla/addons-frontend/search?q=word-wrap&unscoped_q=word-wrap

[2019-07-26 15:15] EvgeniyKoren opened #8397 "problem with installing livereload"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

https://addons.mozilla.org/en-US/firefox/addon/livereload/

![изображение](https://user-images.githubusercontent.com/52611166/61962014-47d9ea00-afd1-11e9-8fde-170cf0122a05.png)

[2019-07-26 15:54] willdurand opened #8398 "Redirect long locales to shorter ones when possible"
### Describe the problem and steps to reproduce it:

In https://github.com/mozilla/addons-frontend/issues/8336, we had to change a supported locale from a specialized locale (i.e. long locale) to a shorter one.

### What happened?

We had to map these locales to get redirects in https://github.com/mozilla/addons-frontend/issues/8388.

### What did you expect to happen?

addons-server does that aut

[2019-07-26 17:22] harshsingla commented on #8396
@muffinresearch ,I want to try this bug if possible ,can you explain more about it

[2019-07-26 19:50] caitmuenster commented on #8396
Hey @harshsingla, thanks so much for your interest in this issue! This probably isn't a good first issue to get started on (and muffinresearch is on PTO for the next few weeks).

We label good entry issues with the `[contrib: good first bug](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20good%20first%20bug)` label. We don't have any open ones at the moment, but there will likely be

[2019-07-27 12:13] harshsingla commented on #8396
hello @caitmuenster ,no problem i will go and check the 'good first bug' label ,thanks for the guidance.

[2019-07-27 21:26] Zauxst commented on #7282
I've just send them an email 'bout this.
More people should do this...

It could be that they don't have enough dev resources to rebuild the kindle app for Firefox Quantum (or whatever the new dev API is).
It would be quite good if the extension link had an URL to their email support since this is mostly on their shoulders...

... Unless the Firefox team wants tot repair that extension.

[2019-07-28 05:45] djelttt opened #8402 "Remoku's Firefox Addon Link is Broken"
### Describe the problem and steps to reproduce it:
![Remoku_Help_Page](https://user-images.githubusercontent.com/34720886/62002744-d3ca3f80-b0bf-11e9-9cd0-2136a9576882.jpg)

On <http://help.remoku.tv/>, I clicked the link, entitled "Firefox Addon", which requests I am taken to:  <https://addons.mozilla.org/addon/remoku/

### What happened?

I was taken to <https://addons.mozilla.org/en-US/firefox

[2019-07-28 07:52] GeeSkndr opened #8403 "IBM Agile Verse Extension Missing"
**### Describe the problem and steps to reproduce it:**
Click below link to IBM Agile Verse extension
**### What happened?**
"Oops! We can’t find that page"
**### What did you expect to happen?**
The extension to be available for installation
**### Anything else we should know?**
The extension was available and it was crucial for me to use IBM verse over firefox as it adds a lot of needed tweaks.

[2019-07-29 08:06] Shubhamchinda commented on #8396
Hey @caitmuenster , please [see comment](https://github.com/mozilla/addons-frontend/pull/8366#issuecomment-515551586). We can create a mixin of `word-break: break-word;` to fix these issues.

Thanks!

[2019-07-29 08:46] wagnerand commented on #8397
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-07-29 08:46] #8397 closed

[2019-07-29 08:49] wagnerand commented on #8402
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-07-29 08:49] #8402 closed

[2019-07-29 08:49] wagnerand commented on #8403
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-07-29 08:49] #8403 closed

[2019-07-29 09:30] ioanarusiczki opened #8404 "Layout issues caused by less than 3 themes in a collection on AMO homepage"
I've noticed this issues while testing for https://github.com/mozilla/addons-server/issues/11825

STR:
I removed themes from django - I left only 2 themes in the recommended collection https://addons-internal.stage.mozaws.net/en-US/admin/models/bandwagon/collection/2143965/change/

Homepage will display themes way larger than it should:
![one theme](https://user-images.githubusercontent.com/334482

[2019-07-29 09:58] tsl143 opened #8405 "install button issue while installing older versions"
### Describe the problem and steps to reproduce it:

### What happened?
Try to install older version of any addon
1. Goto https://addons.mozilla.org/en-US/firefox/addon/word-count/versions/
2. click older version `1.1`
3. Spinner observed on every install button

### What did you expect to happen?
3. Spinner should be observed only on button clicked

### Anything else we should know?

![image](htt

[2019-07-29 14:05] AlexandraMoga commented on #8388
Verified fixed on -dev:

![2019-07-29_17-03-59](https://user-images.githubusercontent.com/31961530/62054797-fb85e880-b222-11e9-9333-5abe59425b3c.gif)

[2019-07-29 15:18] kumar303 opened #8406 "Replace hero promo placeholders with real values"
A static version of the primary hero promo landed in https://github.com/mozilla/addons-frontend/issues/8247

It contains some placeholders for unfinalized copy (see [this doc](https://docs.google.com/document/d/1KaOneS2w0E4NS7kc5DmXQRlBUNRPCm-6-JP-d6KfRl0/edit#)). When that copy is finalized, replace the placeholders.

[2019-07-29 16:25] sanjay-git opened #8407 "Our Extension not available on Firefox : Amazon Publisher Studio"
### Describe the problem and steps to reproduce it:
### What happened?

Our Add-on https://addons.mozilla.org/en-US/firefox/addon/amazon-publisher-studio-extens/ shows as not available anymore in Firefox.

### What did you expect to happen?
We would like to know the reason for the removal of this Add-on. And the timeline on when the add-on was removed

### Anything else we should know?

https://ad

[2019-07-29 16:54] wagnerand commented on #8407
Please see the "Review History" details on https://addons.mozilla.org/en-US/developers/addon/amazon-publisher-studio-extens/versions.

Alternatively, you should have received an email when the review was sent.

[2019-07-29 16:54] #8407 closed

[2019-07-29 20:00] jvillalobos commented on #8247
I updated the launch date for Sept 17, based on current information. I believe this still means we'll need the static version, since time is still short, but the urgency drops quite a bit. Apologies for the scramble!

[2019-07-29 20:29] kumar303 commented on #8247
No problem. At least we'll get a jump on it. My current plan is to continue landing the PR since it's already gone through one round of review. It will be hidden behind a flag and I replaced all copy with placeholders, as you can see in the screenshots: https://github.com/mozilla/addons-frontend/pull/8400

Even if we never ship a static version (only a dynamic one) it will make the development pro

[2019-07-30 14:08] d00m3dd00d opened #8409 "ThreatPinch plugin?"
### Describe the problem and steps to reproduce it:

### What happened?
Visited https://addons.mozilla.org/en-US/firefox/addon/threatpinch-lookup-for-firefox/

### What did you expect to happen?
The plugin was not found

### Anything else we should know?
I don't believe there are other threat-hunting tools like this, this tool is very useful.

[2019-07-30 14:12] #4594 closed

[2019-07-30 14:59] wagnerand commented on #8409
This repository is for the underlying add-ons platform, not individual add-ons listed there. Please contact the author of the add-on for questions about its availability.

[2019-07-30 14:59] #8409 closed

[2019-07-30 15:30] smayer97 opened #8411 "Add-on Count of Collections and Old Add-ons That Come Back"
### Describe the problem and steps to reproduce it:

What happens to add-on count of Collections?

When I visit the My Collections page of "new" addons.mozilla.org website, count of the number of add-ons in a collection is first based on last count using OLD add-ons (pre-v57).

When you open a personal collection, count is updated to current number of add-ons that are now available.

The question

[2019-07-30 15:32] smayer97 commented on #8411
This might also be related to:
https://github.com/mozilla/addons-frontend/issues/4789

[2019-07-30 15:43] #8247 closed

[2019-07-30 15:57] smayer97 opened #8412 "A way to simplify the Add-on Collection page(s)"
### Describe the problem and steps to reproduce it:

2 pages are currently used for collections; one to list the add-ons in the collection, the other to edit the collection.

I propose simplifying the interface so that only one page is needed:
- move the "Edit this collection" features to the main page: Search, Add A Note, Remove, and Edit (when a note is present).
- move the "Edit collection deta

[2019-07-30 16:03] smayer97 opened #8413 "Notes/Comments for Add-ons Missing in My Collections"
### Describe the problem and steps to reproduce it:

When accessing My Collections, I used to have LOTS of notes with many add-ons. Those are not currently showing up.

I vaguely recall having a similar discussion about this before but I cannot seem to track that down here. I recall something about Firefox Locales being part of the issue, something about the comments being entered using one locale

[2019-07-30 16:08] smayer97 opened #8414 "Add Sort to "My Collections""
### Describe the problem and steps to reproduce it:

currently My Collections  lists in seemingly random order. Would be nice if they were at least sorted by name.

Ideally it would be even nicer if some sort options were added like: By Name, By date Created, By Date Updated.

[2019-07-30 16:56] mkaply opened #8418 "AMO should honor canUninstall property and not allow some addons to be uninstalled."
### Describe the problem and steps to reproduce it:

Install and lock an addon from using Firefox policy.
Go to AMO for that addon.
Verify the addon can be removed.
Example policy for Facebook container:

[code]

### What happened?

I was able to uninstall the addon.

### What did you expect to happen?

I should not have been able to uninstall the addon.

### Anything else we should know?

See:

h

[2019-07-30 17:00] smayer97 opened #8415 "Add Indicator in Add To Collection menu to identify which Collection it already belongs to."
### Describe the problem and steps to reproduce it:

It is frustrating to keep getting the "This addon already belongs to this collection" when adding it. OR worse, is thinking an add-on already belongs to a collection only to discover much later that you never added it, because there was no easy way to identify it is already added. You don't always remember if you added it in the past.

Also frus

[2019-07-30 19:07] willdurand commented on #8418
see also https://github.com/mozilla/addons-frontend/issues/1086

[2019-07-30 21:43] bajacyn opened #8419 "JavaScript Debugger (Venkman)"
### Describe the problem and steps to reproduce it:
The problem is it is not in the addons section.

### What happened?
Was going through the list of Firefox addons for  Linux.
### What did you expect to happen.
Expected to find in the addons section.
### Anything else we should know?

Alternative to  search:  Firefox addons that are for Linux.  In the more information area relating to the app/add

[2019-07-30 22:12] jvillalobos commented on #8419
Firefox ships with a JS Debugger. Venkman was discontinued a long time ago.

Additionally, you can filter search on AMO by platform, though most extensions are cross-platform now.

[2019-07-30 22:12] #8419 closed

[2019-07-31 06:10] AlexandraMoga commented on #4594
Please add a qa:not needed label to this issue.
Thank you

[2019-07-31 08:01] willdurand commented on #6671
This should be fixed.

[2019-07-31 08:01] #6671 closed

[2019-07-31 08:03] willdurand commented on #8414
Thanks for your feedback, I am going to close this issue but will reference it in https://github.com/mozilla/addons-frontend/issues/3252.

[2019-07-31 08:03] #8414 closed

[2019-07-31 08:03] willdurand commented on #3252
This has been requested in https://github.com/mozilla/addons-frontend/issues/8414.

[2019-07-31 08:04] willdurand commented on #7476
@ioanarusiczki is this issue similar to https://github.com/mozilla/addons-frontend/issues/5813 by chance?

[2019-07-31 08:12] willdurand commented on #8418
While the AMO install button should likely not trigger the uninstall process, this should be enforced in FF too.

[2019-07-31 08:13] willdurand commented on #8413
/cc @diox

[2019-07-31 08:13] smayer97 commented on #8414
Actually, these do not appear to be the same...
#3252 seems to deal with sorting search results of add-ons by name.
My requests is about sorting the name of Collections on the My Collections page.

[2019-07-31 08:17] willdurand commented on #8405
That looks intended (unfortunately): https://github.com/mozilla/addons-frontend/issues/7332.

/cc @bobsilverberg we should maybe revisit this, it's very confusing.

[2019-07-31 08:17] #8405 closed

[2019-07-31 08:18] willdurand commented on #8414
I know, but collections are mentioned too and I've highlighted that.

[2019-07-31 08:27] smayer97 commented on #8414
Ok. But as you know, these are different areas of the front-end. There are already sorting tools in other areas. But if you don't think that needs to be tracked separately, I defer to you.
Thx.

[2019-07-31 11:08] AlexandraMoga commented on #8247
I've verified the new homepage hero on -dev, mostly in terms of its layout and format and less for its contents (which are only placeholders atm)

The  hero is responsive to various screen sizes and text orientations.

I've also reproduced the small glitch @willdurand mentioned in https://github.com/mozilla/addons-frontend/pull/8400#issuecomment-516420446 when the page is in rtl mode at ~470px:

!

[2019-07-31 13:21] ioanarusiczki commented on #8330
@kumar303 I checked this on dev and stage with FF68(Win10).
The `Recommended` badge falls right under the name of the add-ons once it's more than 204 px in length - I left the screen at the normal size without resizing it and I am working on a desktop (Win10 with recommended resolution 1920x1080)

The maximum allowed

![204 px](https://user-images.githubusercontent.com/33448286/62214230-4e8ba700-b

[2019-07-31 14:33] willdurand commented on #8412
/cc @jvillalobos

[2019-07-31 14:51] kumar303 commented on #8330
Yes, that's how I expect it to work. Thanks.

[2019-07-31 15:04] willdurand commented on #8415
/cc @jvillalobos

[2019-07-31 15:05] willdurand commented on #8411
Yes, I think this updated count is dynamic (it counts the number of items we're going to display instead of using the cached value).