[2018-10-15 16:35] willdurand commented on #4271
According to @eviljeff and @bobsilverberg, it is a feature we have for a while (and "cool urls never change").

According to [HTML and URLs](https://www.w3.org/TR/WD-html40-970708/htmlweb.html), nothing says that URLs should be lowercase or case insensitive, quite the contrary actually.

That should lead to two (or more) `301` but if there is content served, the page will be displayed because rece

[2018-10-15 16:51] eviljeff commented on #4271
legacy pages on addons-server have redirects for missing locale (`\en-US`); missing app (`\firefox`); and missing trailing slash in the URL.  And for numeric ids.  I don't think we've ever redirected a complete url addon url like https://addons.mozilla.org/en-US/firefox/addon/snapLinksplus/ though.

[2018-10-15 17:07] bobsilverberg opened #6637 "Store versions by id in the versions reducer state"
This is to support #6634. To try to reduce the size of that patch, which will be big, update the versions reducer to store versions by id.

[2018-10-15 17:13] #6172 closed

[2018-10-15 18:58] bobsilverberg commented on #6634
This is going to be really big. :-(

I apologize in advance for this, and I've made it a tiny bit smaller by spinning off #6637, but I don't know that I can do much else. The problem is that I'm changing the type of data stored for an add-on, and therefore any component or code that currently interacts with an add-on version is also going to have to change. If I don't change everything at once the

[2018-10-15 19:20] bobsilverberg commented on #6634
I'll just keep talking to myself here, I'm sure nobody minds. ;-)

I think I've found a way to chunk it out into smaller pieces (thank goodness), so I'm going to give that a try.

[2018-10-15 20:02] #6550 closed

[2018-10-15 20:14] kumar303 commented on #2281
Sorry, I missed this comment. I don't use editor integration for Flow and linting. I think `yarn test` (in watch mode) would be a good place to see lint errors, though. Not everyone is able or willing to configure their editor for these kind of things yet everyone can run `yarn test`.

As a side note: I really don't have a good reason for not configuring my editor for Flow and linting; there are t

[2018-10-15 20:40] #6612 closed

[2018-10-15 21:38] caitmuenster commented on #6224
Hey @aditya81070, go for it! If you need any help, @ at the mentor in a comment.

Happy bug fixing!

[2018-10-16 07:46] autrilla commented on #5949
Let me know when you want it turned on and I'll flip the switch

[2018-10-16 08:42] willdurand commented on #6635
I cannot reproduce because the server does not let me create a collection with an emoji, I get a 500 on both the old and new frontend.

[2018-10-16 09:14] ioanarusiczki commented on #6329
@willdurand I made a check on lw themes on AMO dev with both FF62 and FF64 - disco pane is ok. I could install and remove themes, no layout issues either.

![disco pane lw themes](https://user-images.githubusercontent.com/33448286/47005400-5c34b080-d13c-11e8-8596-bab5c45271ef.gif)

I noticed an add-on manager issue that is reproducible apparently only for lw themes - when a theme is installed from

[2018-10-16 09:18] muffinresearch commented on #6635
Hmm that's interesting - did something change on the server-side to cause MySQL to error? This used to drop string content after the emoji silently.

[2018-10-16 09:42] ioanarusiczki commented on #6612
@kumar303 It's fixed now. I verified it on AMO dev with FF62 (Win10 & Android 8.0)

Desktop

![buttons desktop](https://user-images.githubusercontent.com/33448286/47007481-f991e380-d140-11e8-9802-ec666a911259.png)

Android

![buttons android](https://user-images.githubusercontent.com/33448286/47007269-85efd680-d140-11e8-9d77-ac5c7d418995.png)

[2018-10-16 09:45] willdurand opened #6644 "Add hreflang attribute/alternate links to cope with duplicate content and reduce crawl budget"
In #5755, we added `canonical` links to most pages (those without query parameters). We did that to avoid duplicate content (because of the random query parameters added for analytics, etc.). Yet, we still provide one `canonical` link per `locale` and `clientApp`.

Each AMO URL starts with: `/{locale}/{clientApp}/`.

We support a lot of locales and two apps: `firefox` and `android`. Content may ch

[2018-10-16 09:47] ioanarusiczki commented on #6172
@willdurand Is this "qa not needed" ?

[2018-10-16 09:49] willdurand commented on #6172
@ioanarusiczki yep, sorry!

[2018-10-16 09:49] ioanarusiczki commented on #5949
@autrilla anytime now Please let me know if I can start testing
Thanks!

[2018-10-16 09:57] willdurand commented on #6329
I cannot reproduce 😞 What's your FF version?

[2018-10-16 12:05] willdurand commented on #6537
So I might have found another way, i.e. publishing a "universal" package of `express-http-context`.

[2018-10-16 12:21] rraue commented on #6644
### Hreflang:
That sound everything perfect. I add some very important things we need to keep in mind, although I think @willdurand has them already right:

- hrefland must only be on pages with a self-referencing canonical, server code 200 (no 404 or 30x must have a hreflang in the head, this can break the whole setup for all pages) and the page needs to be indexed
- every page must have a hrefla

[2018-10-16 12:29] willdurand opened #6645 "Add an Android version of the page title for detail pages"
The add-on detail pages should have a different page title when client app is `android`. Currently it is:

[code]

It should be:

[code]

[2018-10-16 12:31] willdurand commented on #6644
Ah, cool 🏆 Thanks!

Good call, I wanted to ask you that question on Slack but I forgot.. Filed: https://github.com/mozilla/addons-frontend/issues/6645 for that.

[2018-10-16 12:32] willdurand commented on #6537
The test suite needs a LOT more memory now that we rely on `express-http-context` 😭  It can be a memory leak or... < something something >.

[2018-10-16 12:39] ioanarusiczki commented on #5949
@bobsilverberg @willdurand @EnTeQuAk
I verified this issue with FF62 and FF64 on AMO dev

**read-only mode get's turned on**

- the POST/PUT/DELETE on AMO's new pages will return a `503 ` and a red error message is displayed. I verified for reviews, collections, user profile.

![what works](https://user-images.githubusercontent.com/33448286/47015717-5d72d700-d156-11e8-9d6d-43ff4e9fdf81.png)

- I'v

[2018-10-16 12:41] willdurand commented on #5949
I guess that's fine because we don't change the UI (it still appears logged in)

[2018-10-16 12:42] willdurand commented on #5949
You can probably file new issues for dev hub issues in addons-server.

[2018-10-16 13:20] willdurand opened #6647 "Extract `AddonHead` component from `Addon`"
In order to support #6644, we should extract a new component called `AddonHead` from the existing `Addon` component, which would contain the `Helmet` block in the `render()` method.

It will be easier to work on the metadata and it will reduce the size of this (too) big `Addon` component.

For QA: please make sure page title/description and other metadata (JSON+LD, other `meta` tags are present).

[2018-10-16 13:32] willdurand opened #6648 "Consider a different title for Android pages"
We currently use `Firefox` for the Firefox pages and `Android` for the Android pages, e.g.:

- homepage with `clientApp` set to `firefox`: `Add-ons for Firefox`
- homepage with `clientApp` set to `android`: `Add-ons for Android`
- add-on detail page (`firefox`): `Stratiform – Get this Extension for 🦊 Firefox (en-US)`
- add-on detail page (`android`): `Stratiform – Get this Extension for 🦊 Android

[2018-10-16 13:37] willdurand commented on #6648
@MeridelW I think that's a question for you :)

[2018-10-16 13:49] #6635 closed

[2018-10-16 13:49] #6645 closed

[2018-10-16 14:05] ioanarusiczki opened #6650 "Clicking the "Add-ons for Android" from "More" menu will not refresh the homepage"
STR:
1. Load AMO dev and observe the "Featured extensions" shelf from the homepage
2. Open the "More" Menu and click on "Add-ons for Android"
3. Refresh page and observe again the "Featured extensions" shelf
4. Repeat this with "Add-ons for Firefox"

Expected result:
The page is automatically refreshed after clicking the "Add-ons for Android" from More.

Actual result:
The featured extension shelf

[2018-10-16 14:19] #6387 closed

[2018-10-16 14:26] bobsilverberg opened #6651 "Update AddonMoreInfo to use a version stored in the versions redux state"
Depends on #6634

As part of removing `current_version` from `addon`, update `AddonMoreInfo` to use a version retrieved via `mapStateToProps` instead of using `addon.current_version`.

[2018-10-16 14:32] ioanarusiczki opened #6652 "Featured extension shelf - valid extensions for Android are filtered out"
STR:
1. Load AMO dev and observe the "Featured extension" shelf on android
2. From More menu click "Add-ons for Firefox" and refresh page (the refresh issue is filed [https://github.com/mozilla/addons-frontend/issues/6650](url)
3. Install extensions from this shelf on android such as this [one](https://addons-dev.allizom.org/en-US/firefox/addon/magic-actions-for-youtube-test/?src=featured) or this

[2018-10-16 14:37] bobsilverberg opened #6653 "Update Addon to use a version stored in the versions redux state"
Depends on #6634

As part of removing `current_version` from `addon`, update `Addon` to use a version retrieved via `mapStateToProps` instead of using `addon.current_version`.

[2018-10-16 15:00] ioanarusiczki commented on #6510
I tested the install on AMO dev - FF62 (Win10 and Android 8.0) - no regressions found
I've noticed two issues while testing and I filed them here https://github.com/mozilla/addons-frontend/issues/6652 and here https://github.com/mozilla/addons-frontend/issues/6650

[2018-10-16 15:05] #5916 closed

[2018-10-16 15:07] #6560 closed

[2018-10-16 16:48] kumar303 opened #6656 "The *Log in to flag review* button is hard to read"
### Describe the problem and steps to reproduce it:

* Make sure you are signed out
* Go to any add-on
* Go to the reviews page
* For any review, click *Flag*

### What happened?

The button is hard to read

<img width="1372" alt="screenshot 2018-10-16 11 45 43" src="https://user-images.githubusercontent.com/55398/47032978-470a5280-d139-11e8-80d5-018ed4dc517d.png">

### What did you expect to happ

[2018-10-16 17:34] muffinresearch opened #6657 "Consider replacing function based localization with Lingui"
Let's look at Lingui and understand what the implications would be of using it in the addons-frontend project.

The more I look at [Lingui](https://lingui.js.org/) (hattip to @willdurand for suggesting it) the more I like it because it appears to be a much more React friendly solution for translation which stays out of the way when using other components in JSX.

Here's an example of wrapping othe

[2018-10-16 18:58] tricoder42 commented on #6657
Hey @muffinresearch, I'm LinguiJS maintainer. @willdurand ping me on Twitter about this issue. Unfortunately I don't have much experience with gettext tools / workflows. I have one comment though:

Do I understand correctly that you use `babel-gettext-extractor` which creates one POT file for each source file with translations? Then you collect messages from these POT files and create/merge a fina

[2018-10-16 20:44] #6586 closed

[2018-10-16 21:13] #6656 closed

[2018-10-16 21:37] rebmullin opened #6661 "Create guide pages"

[2018-10-16 22:40] devaneymoz opened #6662 "25 October Homepage content update"
For the Thursday, **25 OCtober** push, please update Homepage content per details [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#heading=h.t4gj29t9yklr). It's a light refresh this rev.

[2018-10-17 08:15] willdurand commented on #6644
@rraue does that mean we should not add a `x-default` alternate link that is locale-less?

[2018-10-17 08:16] willdurand commented on #6644
With this tool: https://app.hreflang.org, I get the following errors:

[code]

[2018-10-17 08:50] #6628 closed

[2018-10-17 09:35] willdurand commented on #6610
API just landed 🎉

[2018-10-17 10:30] #6631 closed

[2018-10-17 10:40] bobsilverberg commented on #6615
Nobody commented on this, and I've gone ahead and fixed it for #6605, so I'm just going to close this.

[2018-10-17 10:40] #6615 closed

[2018-10-17 11:05] #6607 closed

[2018-10-17 11:10] bobsilverberg commented on #6662
I think I'm going to include a refactor of the way we pass results sets into the home page in this patch to make the whole thing less fragile which will also help with #6634.

[2018-10-17 11:27] rraue commented on #6644
@willdurand Yes, even the x-default must return all hreflang links and pointing it to a redirect makes no sense for a crawler, as the x-default only is used if none of the hreflang languages fit the user and then the x-default cand redirect to what isn't there as well. We should point the x-default to the en-US version, as this is usually our most maintained one. Most search engines will do so any

[2018-10-17 11:30] ioanarusiczki commented on #5949
I filed on server a follow up for  dev hub here https://github.com/mozilla/addons-server/issues/9723
This is verified fixed on AMO dev with FF62 - Win10

[2018-10-17 11:32] willdurand commented on #6644
Ok, so we add an alternate link with `hreflang = x-default` pointing to `en-US` (i.e. the default locale).

I see. So, we'll have to maintain a list of locales for the alternate links (or an exclusion list).

@rraue so, on these pages (e.g., with `ast` as locale), we don't want any alternate links, correct?

[2018-10-17 11:40] #6647 closed

[2018-10-17 11:43] ioanarusiczki commented on #6656
Verified on AMO dev and AMO stage with FF62 (Win10 and Android 8.0) -this issue no longer reproducible, the text is white.

![not reproducible flag issue](https://user-images.githubusercontent.com/33448286/47083998-f703bc80-d21a-11e8-8811-491a52f98faa.png)

[2018-10-17 11:48] rraue commented on #6644
Yes, and to make it clear, then for en-US we will have two hreflang alternates in the head. One for the self reference and one for the x-default. Some tools see that as an error, but thats fine and we have this on www as well.

Yes, unfortunately we need to leave out any hreflang alternate on non-ISO_639-1 languages until they are supported. I am not sure if it will cause a problem, but it will sh

[2018-10-17 12:12] willdurand commented on #6644
Let me know when you are available and I'll open a tunnel to my local setup.

[2018-10-17 12:42] ioanarusiczki commented on #6645
Verified on AMO dev - FF62(Win10) for extensions and themes.
If the filter is "Add-ons for Android" the metadata will expose for `og:title` the `Stratiform – Get this Extension for 🦊 Android (en-US)` The same for localized pages (I checked a couple)

Here's an example
![metapropery title](https://user-images.githubusercontent.com/33448286/47086706-ec4d2580-d222-11e8-8eaa-e87dd70f3385.png)

[2018-10-17 13:19] ioanarusiczki commented on #6635
@willdurand  I could not create such a collection either - I tried on Win10 and Android 8.0 but I received a `500` and the Internal Server Error too.
But when I tested the emoji issue on Android a while ago I used 2 accounts, one on -dev and one on -stage that had this problem, I could not see the detail pages and instead a "Server Error" was displayed
 I tested again with these accounts and I can

[2018-10-17 13:28] willdurand commented on #6144
So, we "just" want to A/B test the color of the install button (`AMInstallButton`), showing a green button for 50% of the traffic, and 50% will get the current button and sending click events to GA, correct?

1. do we want to change the color of the loading animation?

![](https://user-images.githubusercontent.com/31961530/46343264-e31a6100-c645-11e8-9484-af4ebed80ffc.gif)

2. Are we OK with split

[2018-10-17 13:48] ioanarusiczki commented on #6329
@willI used FF  	62.0.3 and FF 64.0a1 and tested again, I am still reproducing with both versions. I tested with a new profile too. And it's reproducible on AMO prod.
 But it should be filed separately from this issue because it has nothing to do with this issue - can I file it on AMO frontend repo ? I don't know if it's an AMO issue, could be FF ?

[2018-10-17 13:52] willdurand commented on #6329
The fact that I am not able to reproduce is a bit sad, I don't know then. Maybe it is a FF issue after all. Can you re-check this after #6566 (fixing #3892) has landed?

[2018-10-17 14:01] ioanarusiczki commented on #6329
@willdurand Ok, I will re-check. I see the milestone is tomorrow so I'll see it when it lands.

[2018-10-17 14:45] #3892 closed

[2018-10-17 15:18] willdurand commented on #6635
@ioanarusiczki could you please file a new issue for that? Would you have some error logs from the console? That's be helpful!

[2018-10-17 15:21] willdurand commented on #6644
@rraue let me know if what you've crawled from my machine is useful/looking good.

[2018-10-17 15:32] willdurand commented on #6644
@rraue there are other locales that we could map to short codes. I am thinking about `nb-NO`, `nn-NO`, `fy-NL`, `ga-IE`, `bn-BD`, `sv-SE`, and `zh-(CN|TW)`. Do we want mapping for them too or only for `pt` and `en`?

[2018-10-17 15:34] ioanarusiczki commented on #5916
@willdurand
I verified this issue on AMO dev with FF62 (Win10).
What I've noticed is that no matter if the first version of the add-on has been disabled or deleted, the meta data will display the date of that first version submitted.
I don't see it as a problem but let me know if it's alright.

I also submitted a new version to check the last update too and metadata `<meta data-react-helmet="true"

[2018-10-17 15:39] willdurand commented on #5916
@EnTeQuAk can you comment on this?

[2018-10-17 15:45] caitmuenster commented on #6275
@suhailsignhbains Hey there! How's it going with this bug?

[2018-10-17 15:45] willdurand commented on #6524
I don't think we can do anything about it, closing this issue and marking it as wontfix.

[2018-10-17 15:45] #6524 closed

[2018-10-17 15:46] willdurand commented on #6357
@grahamperrin we merged a fix recently, is it better now? (can you try on addons-dev.allizom.org?)

[2018-10-17 15:48] willdurand commented on #6304
@kumar303 did you get a chance to look at it?

[2018-10-17 15:49] willdurand commented on #6478
@kumar303 did you see this issue by chance?

[2018-10-17 15:49] EnTeQuAk commented on #5916
That's correct for the `created` date, the `last-modified` date should represent the most recent submission.

[2018-10-17 15:52] willdurand commented on #6275
@caitmuenster it is going well (more or less done) but there is more work to do before we can get his PR merged..

[2018-10-17 16:02] rraue commented on #6644
As Norwegian and the other languages aren't much spoken outside these countries it's not as important as en and pt, but yes, we should do it. I am just not sure, which chinese version we should set as standard.

[2018-10-17 16:04] shell1 commented on #6144
For question 1 - The color of the animation is fine to leave as it is, for both green and blue button.
For question 2 - @jenniferdavidson @jvillalobos @pwalm do any of you have a preference/guidance for the size/split of this test?

[2018-10-17 16:48] grahamperrin commented on #6357
First load of a page: not fixed, when I reloaded that particular page it appeared to be fixed but after that, all other pages that I tested seem to be not fixed (sorry).

The button briefly 'slides' into place but after a split-second, it reverts to the left.

Screen recording available on request.

Thanks for your attention to this :-)

[2018-10-17 16:49] willdurand commented on #6357
I'd be interested in that yep, thanks!

[2018-10-17 17:08] jenniferdavidson commented on #6144
As we talked about in the meeting, let's do 50/50 and make sure that the color contrast of the button compared to the background is the same for green and blue.

[2018-10-17 17:32] SeanPrashad commented on #6413
Hey @shristit - how are you progressing on this bug? Is there a part that's giving you some trouble?

[2018-10-17 20:00] #6344 closed

[2018-10-17 21:43] kumar303 commented on #6478
Apparently I did not.

@ioanarusiczki thanks for the bug report. It happens because when fetching and loading a review, the rating counts might need to be recalculated. In this case, it's pretty unlikely that the rating counts would change but if you load the review detail page directly (or press the browser refresh button) then the rating counts would definitely need to be calculated. I don't wan

[2018-10-17 21:43] #6478 closed

[2018-10-17 21:50] kumar303 commented on #6304
@lisaann51 could you try to add it to your collection again? Next time you encounter the error we will have more diagnostics.

[2018-10-17 22:01] kumar303 commented on #6607
The next locale extraction will happen on Tuesday Oct 23rd. The comments for these strings won't be visible in localizer tools until then.

[2018-10-17 22:39] kumar303 commented on #6633
This is happening because you are navigating very quickly and the browser has aborted one of the requests (which is what the error is about). It's also a dupe of https://github.com/mozilla/addons-frontend/issues/5392 so I'm closing it. I don't think this is likely to happen in real site usage.

[2018-10-17 22:39] #6633 closed

[2018-10-17 23:54] lisaann51 commented on #6304
I just tried it isn't letting me do anything.

 Lisa

    On Wednesday, October 17, 2018, 2:50:52 PM PDT, Kumar McMillan <notifications@github.com> wrote:

@lisaann51 could you try to add it to your collection again? Next time you encounter the error we will have more diagnostics.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thr

[2018-10-17 23:56] lisaann51 commented on #6304
This is what happens when I sign in.

Server Error
Sorry, but there was an error with our server and we couldn't complete your request. We have logged this error and will investigate it.

Suggested Pages

   - Browse all extensions
   - Browse all themes
   - Add-ons Home Page

If you have additional information that would help us you can file an issue. Tell us what steps you took that lead to the

[2018-10-18 02:36] SusanBurns opened #6668 "addons-frontend"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-10-18 03:38] grahamperrin commented on #6621
### Broken in Firefox Quantum on a Mac

Firefox ESR 60.2.2 (64-bit) on Mountain Lion, Mac OS X 10.9.5.

In lieu of the cartoon fox there's an airplane, plus something illegible:

![screen shot 2018-10-18 at 01 26 31](https://user-images.githubusercontent.com/192271/47129907-2ce28880-d28f-11e8-8e70-17642a9bee75.png)

----

Incidentally I find the 'Get … Get … Get … Get … Get … Get … Get …' quite pu

[2018-10-18 04:37] flodolo commented on #6607
What about [Admin links](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/AddonAdminLinks/index.js#L144)?

[2018-10-18 04:52] pwalm commented on #6144
Contrast ratio:
Blue: 5.6:1 (passes all but Normal AAA)
Green: 2.6:1 (fails all)

The Firefox download green on mozilla.org is 1.9:1 and also fails all.

[2018-10-18 05:32] bobsilverberg commented on #6607
@flodolo If there are still some strings that need hints, could you please open a separate issue about those? Thanks.

[2018-10-18 05:44] flodolo opened #6669 ""Admin Links" string needs a localization comment"
It's unclear what Admin means in this context, and I'm pretty sure everyone is going to translate it as "manage", given similar strings in the file.
https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/AddonAdminLinks/index.js#L144

[2018-10-18 06:03] EnTeQuAk commented on #6668
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can as

[2018-10-18 06:03] #6668 closed

[2018-10-18 06:07] championshuttler commented on #6669
Can i take this up?

[2018-10-18 06:50] willdurand commented on #6621
that's because the fox emoji is not supported on your machine, nothing we can really do unfortunately. Emoji are now everywhere and support is good.

As for your bookmarking service, they have to fix their tool (I suppose using a different charset like utf8mb4, because that's also an issue on addons-server).

[2018-10-18 06:55] willdurand commented on #6144
@pwalm do we want to change the green color globally then?

I am not sure to understand exactly why contrast ratio should be similar. If the user study revealed that the existing green was better, why not reusing it?

And what if the green color actually improves the contrast? (which might or might not be the case, but some tools show that we don't perform super well in some cases).

[2018-10-18 07:40] ioanarusiczki opened #6671 "Server error on the collection page after naming a collection using emojis"
Followup for https://github.com/mozilla/addons-frontend/issues/6635

STR:
1. Load AMO dev and after naming a collection with an emoji plus some text click on View My Collections
2. Observe page

Expected result:
The list of collections is displayed

Actual result:
Server Error is displayed

Notes:
This is reproducible on AMO dev and AMO stage with FF62- Win10

![the accounts with emoji issue](http

[2018-10-18 07:43] ioanarusiczki commented on #6635
@willdurand I filed it here https://github.com/mozilla/addons-frontend/issues/6671 and I attached the console logs with the error.

[2018-10-18 07:46] willdurand commented on #6671
haha, that makes sense actually.. I set the fallback name to an empty string, which is a falsey value for `invariant`.

[2018-10-18 08:12] muffinresearch commented on #6657
Hi @tricoder42 - thanks for your thoughts and suggestions.

Yes this is correct except that there's only a single file as output today.

That sounds really good. Our localizers have asked for us to split up the catalog more in the past so this would be very useful.

[2018-10-18 08:56] jamuhl commented on #6657
Just regarding the comparison with react-i18next (https://github.com/i18next/react-i18next):

The splitting up into multiple catalogs (called namespaces in i18next terms) was built in from day one as we always built i18next with large scale projects in mind.

The i18n formats we currently support:

- i18next's JSON https://www.i18next.com/misc/json-format
- ICU https://github.com/i18next/i18next-i

[2018-10-18 11:10] willdurand commented on #6537
So, I load tested my patch in #6672 using [`siege`](https://www.joedog.org/siege-home/). Here are the instructions:

1. Install `siege`:

[code]

2. Apply this patch to enable node inspection:

[code]

3. Start AMO:

[code]

4. Use Chrome to open the Node devtools at `chrome://inspect`
5. Select the "memory" tab to take Heap memory snapshots
6. Run `siege`:

[code]

7. Take multiple snapshots, bef

[2018-10-18 11:12] willdurand commented on #6537
An example of my `master` branch snapshots:

![screen shot 2018-10-18 at 13 12 16](https://user-images.githubusercontent.com/217628/47150630-71921200-d2d7-11e8-98f2-b6ff5c27cf6b.png)

[2018-10-18 11:19] willdurand commented on #6537
An example of my `request-id` branch snapshots:

![screen shot 2018-10-18 at 13 18 34](https://user-images.githubusercontent.com/217628/47150878-5c69b300-d2d8-11e8-86d9-77f2a435a41d.png)

I don't think there is any obvious memory leak, so that looks good to me.

[2018-10-18 12:07] vcarciu opened #6673 "Number of add-ons in collections is not correct until sorting them by another criteria"
Steps to reproduce:
1.Open a collection from AMO-dev homepage (https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/smarter-shopping/)
2.Observe that the number of add-ons is 5 even if we have only 2 add-ons in the collection

Expected results:
The number of add-ons should reflect how many add-ons are inside the collection

Actual results:
The number displayed in the right size is wron

[2018-10-18 12:09] #6637 closed

[2018-10-18 12:19] vcarciu commented on #6673
Please note that after a refresh the number is wrong again

[2018-10-18 13:02] #6605 closed

[2018-10-18 16:43] #6623 closed

[2018-10-18 16:44] willdurand commented on #1515
Mapping added in https://github.com/mozilla/addons-frontend/issues/6623

[2018-10-18 19:13] #6416 closed

[2018-10-18 19:16] kumar303 commented on #6416
@SeanPrashad has fixed the issue 🎉  but his fix went further to not show the Flag link for a user's own review on any page. @ioanarusiczki please take a look at the other screens where we used to show the Flag link.

[2018-10-18 19:34] SeanPrashad commented on #6368
Hey guys - this one looks like a quick and easy fix and I'd like to walk a friend through it as their first contribution if that's ok!

@willdurand You mentioned that their error was found in production logs (_which I regular contributors wouldn't have access to_). Is there another way that we can reproduce this locally?

[2018-10-18 19:45] willdurand commented on #6368
@SeanPrashad you can try to use a tool like HTTPie to send request without a user agent.

[2018-10-18 21:45] kumar303 commented on #6673
This looks like an API issue: https://github.com/mozilla/addons-server/issues/9749

[2018-10-18 21:48] kumar303 commented on #6673
I think that might be a separate frontend bug. The API appears to always show the wrong number so I'm not sure how the frontend is getting its count value for this case.

[2018-10-18 22:00] kumar303 opened #6677 "Stop configuring module import paths in so many different places"
We currently configure module paths in [four](https://github.com/mozilla/addons-frontend/blob/fe9cefcf36574b2a6340fe642f5fb1096ba31d39/.eslintrc#L72) [totally](https://github.com/mozilla/addons-frontend/blob/fe9cefcf36574b2a6340fe642f5fb1096ba31d39/tests/.eslintrc#L27) [different](https://github.com/mozilla/addons-frontend/blob/fe9cefcf36574b2a6340fe642f5fb1096ba31d39/.flowconfig#L24) [places](htt

[2018-10-18 22:00] mstriemer opened #6678 "User profile names don't wrap properly"
### Describe the problem and steps to reproduce it:

Long names don't wrap properly on the user profile page.

### What happened?
If a user's name gets to the point that it should wrap it will break mid-word.

### What did you expect to happen?
The name should break on a space if there's room for the entire word on the next line.

### Anything else we should know?
![screenshot 2018-10-18 16 25 05]

[2018-10-19 07:33] willdurand opened #6679 "Rating component is not accessible"
According to the WAVE tool (extension available at: https://addons.mozilla.org/en-US/firefox/addon/wave-accessibility-tool/), the `Rating` component is not accessible, i.e. it is not clear what each star represents.

Here is a sketch of patch to make it better:

[code]

I believe this would be a very nice improvement.

[2018-10-19 07:37] willdurand opened #6680 "SearchForm should have `role="search"`"
The `SearchForm` component should have a `role="search"` so that a11y tools know that the form is designed for search purpose.

[2018-10-19 07:45] willdurand opened #6682 "AutoSearchInput component does not have a valid label"
The `AutoSearchInput` does not have a valid label according to the WAVE a11y tool because there is no link between the `input` and the `label`. That's because we do not use the `id` attribute but a `name` attribute to link both HTML tags.

[2018-10-19 07:50] willdurand commented on #3111
Let's make it happen!

[2018-10-19 08:48] willdurand commented on #6555
@rraue quick question: is it required to have an image? Or can it be an improvement?

[2018-10-19 09:28] willdurand commented on #6679
sure!

[2018-10-19 09:43] ioanarusiczki commented on #3892
This issue is not reproducible on AMO dev with FF62 - Win10

![text displayed](https://user-images.githubusercontent.com/33448286/47210777-82588b80-d39c-11e8-999f-7813d9834d3b.gif)

[2018-10-19 11:03] rraue commented on #6555
I dont think that any og-tag is required, but the image is the most important one, as ctr in fb depends even more on the image than on the title, but fb will take one of the pictures on the page to show, if we do not provide the og:image.

We can ship code without og:image but we should keep in mind that og:image is the most important og-tag regarding ctr on fb.

[2018-10-19 11:26] ioanarusiczki opened #6685 "Remove must be clicked twice for a lw theme to display "'Undo""
Observed while testing https://github.com/mozilla/addons-frontend/issues/6329

STR:
1. Load AMO dev and install a lw theme from disco pane or a theme's detail page
2. Go to Themes Tab and click "Remove"
3. Observe screen

Expected result:
"Undo" blue button is displayed.

Actual result:
The "Disable" "Remove" buttons are still displayed.

Notes:
This issue is reproducible on all AMO servers - FF62

[2018-10-19 11:42] willdurand commented on #6077
For some reasons, I cannot reproduce this issue anymore... closing.

[2018-10-19 11:42] #6077 closed

[2018-10-19 11:42] willdurand commented on #5720
This is now a wontfix because we want to get rid of the `username` now, hence having the user ID in the URL will become a feature.

[2018-10-19 11:43] willdurand commented on #5720
See: #6526

[2018-10-19 11:43] #5720 closed

[2018-10-19 11:47] willdurand commented on #6685
This is weird because I just tried in -prod and Nightly, and I don't reproduce the issue..

[2018-10-19 11:49] willdurand commented on #6685
I also tried with FF Release (unbranded) and the Disco Pane in -dev, "remove" actually removes the theme.

[2018-10-19 11:54] willdurand commented on #6685
I see that when the add-on detail page is open and `about:addons` is also open, sometimes I am able to reproduce the bug but not all the time and not with the Disco Pane.

[2018-10-19 12:37] saranshbarua opened #6687 "Edit profile textarea expands too much"
### Describe the problem and steps to reproduce it:

- Sign in
- Navigate to edit your profile section
- Fill in your biography
- Enter a lot of text

### What happened?

The textarea expands too much

<details>
<summary>Example</summary>
<br>
<img src="https://user-images.githubusercontent.com/23500643/47218280-d9745580-d3c8-11e8-8ae8-f671557b714d.png">
<br>
<img src="https://user-images.githubus

[2018-10-19 12:39] saranshbarua commented on #6687
@kumar303 @willdurand  I find this similar to #6344 . I'll try to work on this too. Can you guide me on which components and stylesheets I should refer too?

[2018-10-19 12:40] willdurand commented on #6687
I don't know, we actually use a component on top of the `textarea` to adjust its size given the content. I don't think we should change that.

[2018-10-19 12:44] saranshbarua commented on #6687
@willdurand have a look at [this](https://github.com/mozilla/addons-frontend/pull/6660/files)

[2018-10-19 12:55] ioanarusiczki commented on #6623
@willdurand I've been checking on AMO dev (FF62-Win10) for several languages if the "Last Updated" and the date is translated.

If there's something else to check on let me know.

![last updated field](https://user-images.githubusercontent.com/33448286/47219376-51d21b00-d3b7-11e8-8d06-869faa84333e.png)

[2018-10-19 12:56] willdurand commented on #6623
nope, I guess it's fine. Localizers will tell us if something is not accurate.

[2018-10-19 12:58] ioanarusiczki commented on #6623
@willdurand Alright then.  It's something that only they could tell.
Thanks!

[2018-10-19 13:16] saranshbarua commented on #6687
So I figured out which component to refer to and solved the issue. Should I submit a PR?

[2018-10-19 13:31] ioanarusiczki commented on #6416
@kumar303 I checked the profile page and the reviews page for reviews and developer replies for an admin account and a developer account and "Flag" is no longer displayed. Tested on AMO dev with FF62 (Win10 & Android 8.0)
Thanks @SeanPrashad for fixing this!

![flag is gone](https://user-images.githubusercontent.com/33448286/47221083-2dc50880-d3bc-11e8-956f-a73adf6c2dd3.gif)

[2018-10-19 14:06] ioanarusiczki commented on #6662
Checked the [document](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#heading=h.t4gj29t9yklr)  for AMO homepage on AMO dev with FF62(Win10) and it looks alright.
Final validation will be made in production.

[2018-10-19 14:31] ioanarusiczki commented on #6628
@willdurand Should I check that links to author's page still work? Please add some STR for qa.
Thanks!

[2018-10-19 14:52] muffinresearch opened #6689 "Withhold reference to themes from Android"
When Lightweight themes (LWTS) migrate to static themes there will be no themes on AMO that are installable by Android.

Because of that we need to hide the references to themes for the Android site.

- [x] Hide the navigations for themes on the Android site
- [x] Hide the theme search filters.
- [x] Hide the featured themes cards on the homepage
- [x] Hide the "Change the way Firefox looks with t

[2018-10-19 15:49] rebmullin opened #6690 "Add new icons for new home hero / guide pages"
I am splitting this out b/c I will need for both PRs

[2018-10-19 17:11] e-pang opened #6692 "Loading/Install of Extension incorrect"
### What happened?
Animation of the loading throbber isn't implemented correctly.  The one that's located here:
<img width="77" alt="screen shot 2018-10-19 at 13 08 32" src="https://user-images.githubusercontent.com/30128313/47233266-22fc7a80-d3a0-11e8-9b3e-8c04a4f7a958.png">
The dot's motion is wobbly on the edges

### What did you expect to happen?
The animation should mimic what is seen in tab

[2018-10-19 18:36] willdurand commented on #6692
Hi!

It is not implemented with a SVG sprite because it is super bad performance-wise.

Could you explain what is different *exactly*? We know that it is slightly different because we re-created the animation in plain old CSS, but no one noticed any differences so far.

That being said, we'd **love** to try and improve the CSS-based animation if possible (because that seems to be the best option i

[2018-10-19 18:37] #6682 closed

[2018-10-19 18:37] #6680 closed

[2018-10-19 18:39] #6613 closed

[2018-10-19 18:40] willdurand commented on #6628
@ioanarusiczki author links should be functional on an add-on detail page and there should not be any page reload.

[2018-10-19 18:58] kumar303 opened #6694 "Disable strict mode with a config flag"
We add `StrictMode` here for development:

https://github.com/mozilla/addons-frontend/blob/3d8200443ca1734cfbd5d3666a9154d632685881/src/core/components/Root/index.js#L23

This is nice because it warns us when we use deprecated lifecycle methods. However, it also double-triggers lifecycle methods to make sure they are idempotent. This is confusing when you are trying to debug a real problem like ma

[2018-10-19 21:12] #6577 closed

[2018-10-20 06:36] grahamperrin opened #6696 "New-look AMO compatibility with the Internet Archive Wayback Machine"
https://web.archive.org/web/20181020054945/https://addons.mozilla.org/en-US/firefox/addon/up-to-eleven/ for example, captured today:

- appears momentarily then disappears in Firefox 63.0 (64-bit) in safe mode
- disappears in Chromium 68.0.3440.106 (Official Build) (64-bit)
- disappears in a minimally extended profile with Waterfox 56.2.3, in normal and safe modes
- appears fine in my heavily exte

[2018-10-20 07:42] grahamperrin commented on #6357
Screen recording: [2018-10-17 17:46.mp4.zip](https://github.com/mozilla/addons-frontend/files/2497925/2018-10-17.17.46.mp4.zip)

[2018-10-20 11:39] saranshbarua commented on #6694
@kumar303 @willdurand  I would like to take this.

[2018-10-21 06:28] xu3u4 commented on #6478
Hi @willdurand and @kumar303 ,
cc. @bobsilverberg
I looked into this bug few days ago. I have some thought about it.
In [FeaturedAddonReview/index.js](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/FeaturedAddonReview/index.js#L66`), `this.props.reviewId !== nextProps.reviewId` will trigger fetchReview, which reloads the review scores. Since it only need the `featuredRev

[2018-10-21 07:09] xu3u4 commented on #5893
Hello,
I'd like to take this issue!

[2018-10-21 08:05] xu3u4 opened #6699 "Remove componentWillReceiveProps() calls (react upgrade)"
### Describe the problem and steps to reproduce it:
![image](https://user-images.githubusercontent.com/6767433/47264406-2e3eda00-d549-11e8-98fd-491f97aa0e7c.png)
The warning keeps showing up in console.
It can be fixed by either adding [UNSAFE](https://reactjs.org/docs/react-component.html#unsafe_componentwillreceiveprops) for now or just rewriting.

Ref: https://reactjs.org/docs/react-component.h

[2018-10-21 14:43] luckykumardev commented on #6699
@xu3u4  can i try this?

[2018-10-21 16:52] grahamperrin commented on #6696
That capture has gone from the Wayback Machine, although it's seen in the first screenshot.

----

I guess, as good an example might be this month's https://web.archive.org/web/20181001205049/https://addons.mozilla.org/en-US/firefox/addon/display-_anchors/

- appears then disappears ("Page not found") in Firefox 63.0.

Other affected browsers include:

- Web 3.28.3.1 (the appearance is generally m

[2018-10-21 18:53] championshuttler commented on #6699
@xu3u4 If I am not wrong its duplicate of #6188

[2018-10-22 02:20] SeanPrashad commented on #2629
Hey guys - I doing some light triaging for the `contrib: welcome` issues and noticed that this might be fixed.

I was using Redux Devtools to try and reproduce it, but the action just before the add-on data is loaded seems to have placeholders now:

![before_and_after_redux_actions](https://user-images.githubusercontent.com/13009507/47274375-99e96d00-d572-11e8-9fcb-6d2ac460eae8.gif)

[2018-10-22 03:09] SeanPrashad commented on #2629
Hey guys - I was doing some light triaging on the `contrib: welcome` issues whilst I was waiting on a response for #6368.

I don't seem to be able to reproduce this locally with Redux Devtools. I've found the actions that occur before and after the addon data is retrieved, but it looks like there's a `LoadingText` component in place now:

![before_and_after_redux_actions](https://user-images.githu

[2018-10-22 03:19] SeanPrashad commented on #2629
Hey guys - I was doing some light triaging on the `contrib: welcome` issues whilst I was waiting on a response for #6368.

I don't seem to be able to reproduce this locally with Redux Devtools. I've found the actions that occur before and after the addon data is retrieved, but it looks like there's a `LoadingText` component in place now:

![before_and_after_redux_actions](https://user-images.githu

[2018-10-22 03:34] xu3u4 commented on #6699
@championshuttler Oh thank you.
I didn't find it.
Let me close this issue.

[2018-10-22 03:34] #6699 closed

[2018-10-22 03:34] xu3u4 commented on #6699
@championshuttler Oh thank you.
I didn't find it.
Let me close this issue.

[2018-10-22 03:35] xu3u4 commented on #6699
@championshuttler Oh thank you.
I didn't find it.
Let me close this issue.

[2018-10-22 03:35] xu3u4 commented on #6699
@championshuttler Oh thank you.
I didn't find it.

[2018-10-22 03:35] xu3u4 commented on #6699
@championshuttler Oh thank you.
I didn't find it.

[2018-10-22 03:39] xu3u4 commented on #6699
@championshuttler oh thank you.
I didn't find it.
Let me close this issue.

[2018-10-22 05:31] xu3u4 commented on #6699
@championshuttler oh thank you.
I didn't find it.
Let me close this issue.

[2018-10-22 07:39] xu3u4 commented on #6699
@championshuttler oh thank you.
I didn't find it.
Let me close this issue.

[2018-10-22 08:10] willdurand commented on #2629
indeed, thanks!

[2018-10-22 08:39] willdurand commented on #2629
indeed, thanks!

[2018-10-22 08:47] AlexandraMoga commented on #6652
This is a duplicate of https://github.com/mozilla/addons-frontend/issues/4084

[2018-10-22 08:47] willdurand commented on #2629
indeed, thanks!

[2018-10-22 08:47] AlexandraMoga commented on #6652
This is a duplicate of https://github.com/mozilla/addons-frontend/issues/4084

[2018-10-22 08:47] willdurand commented on #2629
indeed, thanks!

[2018-10-22 08:50] AlexandraMoga commented on #6650
This looks like a duplicate of https://github.com/mozilla/addons-frontend/issues/3453  - slightly different STR but the effect is the same

[2018-10-22 09:39] ioanarusiczki commented on #6344
@kumar303 I verified the review text box on the add-on's detail page (where scrollbars appear after ~600 chars) but also other pages.  -with  FF 62(Win10) on AMO dev
Scrollbars will appear for a long text for reviews and developer replies on the profile page and reviews page too ~ after 10 written text lines (1000 chars maybe)

![10 lines](https://user-images.githubusercontent.com/33448286/4728643

[2018-10-22 09:40] ioanarusiczki commented on #6344
@kumar303 I verified the review text box on the add-on's detail page (where scrollbars appear after ~600 chars) but also other pages.  -with  FF 62(Win10) on AMO dev
Scrollbars will appear for a long text for reviews and developer replies on the profile page and reviews page too ~ after 10 written text lines (1000 chars maybe)

![10 lines](https://user-images.githubusercontent.com/33448286/4728643

[2018-10-22 09:46] ioanarusiczki commented on #6344
@kumar303 I verified the review on the add-on's detail page. Scrollbars appear ~ after 600 chars.
I checked this for reviews and dev replies on the user profile page and reviews page too
Scrollbars appear after ~10 text lines around 1000 chars or so but the text box is wider on these pages  I don't see it as an issue but let me know if that's alright with you.

Scrollbars on the other pages
![10 l

[2018-10-22 09:55] ioanarusiczki commented on #6344
@kumar303 I verified the review on the add-on's detail page. Scrollbars appear ~ after 600 chars.

I checked this for reviews and dev replies on the user profile page and reviews page too.
Scrollbars appear after ~10 text lines around 1000 chars or so but the text box is wider on these pages I don't see it as an issue but let me know if that's alright with you.

Scrollbars on the other pages

![10

[2018-10-22 10:07] willdurand commented on #2629
indeed, thanks!

[2018-10-22 10:58] AlexandraMoga commented on #2629
I'm still able to reproduce the issue mentioned in the above steps. For me, the 'More add-ons...' card is reloaded completely at page refresh.
The same can be observed with the 'More themes by author' and the 'Recommendations' cards

![placeholders](https://user-images.githubusercontent.com/31961530/47289245-6eae5e80-d602-11e8-8115-da80fb31c572.gif)

[2018-10-22 11:30] #2629 closed

[2018-10-22 11:30] willdurand commented on #2629
It is the More Info card, not the more add-ons.

[2018-10-22 11:35] ioanarusiczki commented on #6344
@kumar303 I verified the review on the add-on's detail page. Scrollbars appear ~ after 600 chars.

I also checked this for reviews and dev replies on the user profile page and reviews page too.
Scrollbars appear after ~10 text lines around 1000 chars or so but the text box is wider on these pages I don't see it as an issue but let me know if that's alright with you.

User profile & Reviews page

!

[2018-10-22 11:53] willdurand commented on #6694
@saranshbarua ok, let me know if you have questions.

[2018-10-22 11:58] willdurand commented on #6368
Ok, so I guess this is a wontfix since we don't have the log entry anymore.

[2018-10-22 11:58] #6368 closed

[2018-10-22 12:43] ioanarusiczki commented on #6628
@willdurand
- when the author is clicked the user profile page loads without being followed by a second reload of the right side of the screen

AMO Dev

![no reload](https://user-images.githubusercontent.com/33448286/47292125-bdfa8c00-d60e-11e8-831d-564450ae34d9.gif)

AMO Stage - this is as before when page reloads

![reloading on stage](https://user-images.githubusercontent.com/33448286/47292165-

[2018-10-22 12:55] ioanarusiczki commented on #6682
@willdurand Please add some STR for me the qa
Thanks!

[2018-10-22 12:57] ioanarusiczki commented on #6680
@willdurand Should we check on regressions for the search component?

[2018-10-22 13:14] willdurand commented on #6680
Yes, but a quick check is fine

[2018-10-22 13:15] willdurand commented on #6682
I don't think this needs QA, so I marked the issue as "qa: not needed", thanks!

[2018-10-22 13:32] ioanarusiczki commented on #6647
@willdurand As a comparison I used AMO stage to check on all exposed meta-data. I did not find regressions.  Verified on AMO dev with FF62 (Win10)

![metadata seo](https://user-images.githubusercontent.com/33448286/47295325-0ec2b280-d618-11e8-8edb-0e3b2c7dbafe.png)

[2018-10-22 14:11] ioanarusiczki commented on #6680
No regressions found. Verified on AMO dev with FF62 (Win10)

[2018-10-22 14:13] rebmullin opened #6701 "Turn on enableFeatureNewHomeHero in dev when home and guide pages are both ready"
dependencies are #6433 and #6661

[2018-10-22 14:16] rebmullin opened #6702 "Set up code splitting for guide pages"

[2018-10-22 14:31] willdurand commented on #3734
@muffinresearch I tried to code split a few page components (some error components) in our [`Routes` component](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/Routes/index.js), just to see the impact on our [Lighthouse](https://developers.google.com/web/tools/lighthouse/) "performance" results. It is easy to drastically reduce the time to first meaningful paint.

Given t

[2018-10-22 14:47] ioanarusiczki commented on #6613
Verified on AMO dev - FF62 (Android 8.0)
The Edit is on the left, Delete is on the right side and Flag has been removed.  This is also fixed on the profile page.

Reviews
![reviews android](https://user-images.githubusercontent.com/33448286/47299230-6f56ed00-d622-11e8-9a3e-1d6e61b555ab.png)

Replies
![replies on android](https://user-images.githubusercontent.com/33448286/47299251-77169180-d622-11e

[2018-10-22 14:58] bobsilverberg commented on #3697
I have a few questions about this.

1. What is the relationship between the `licence`, as specified in the add-on's `version.license` property (which has properties for `name`, `text` and `url`) and the EULA, as specified in the add-on's `eula` property? Are these two different things, and if so, does each require a link on the add-on details page and a separate page for displaying the details for

[2018-10-22 15:01] #6669 closed

[2018-10-22 15:28] muffinresearch commented on #3734
@willdurand yes that sounds good to me.

[2018-10-22 15:38] bobsilverberg commented on #3697
Actually, the add-on at https://addons.mozilla.org/en-US/firefox/addon/onetab/ seems to answer some of those questions. It looks like there can be 3 links for an add-on:
1. License, which comes from `version.license`.
2. Privacy Policy, which comes from `privacy_policy`.
3. End-User License Agreement, which comes from `eula`.

That still leaves a couple of questions:
1. I assume that the License p

[2018-10-22 15:41] bobsilverberg opened #6703 "Implement API/reducer/saga code for add-on privacy policy/eula"
This is required for #3697 and #1828, and will be used to fetch and load data from https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#add-on-eula-and-privacy-policy.

[2018-10-22 16:11] pwalm commented on #6144
Let's just leave it as is for now.

[2018-10-22 19:11] MeridelW opened #6706 "Update AMO banner per legal feedback"
Per legal feedback (Mika Shah), we should make the following changes to the footer:

1. Delete the "Report Trademark Abuse" line - it's not required and legal is encouraging all web properties to remove it since it's pretty valuable real estate

2. Redirect Legal link at the bottom
![amo footer](https://user-images.githubusercontent.com/33848177/47313366-65be8c80-d604-11e8-8134-f6a5503924f6.png)
h

[2018-10-22 20:24] kumar303 opened #6707 "Create reducer and saga for review permissions"
The UI in https://github.com/mozilla/addons/issues/526 needs a new reducer and saga to fetch review permissions for a given user.

[2018-10-22 20:36] bobsilverberg commented on #6703
I'm going to move some of this code, so hold off on reviewing this until I report back that it's ready.

[2018-10-22 21:33] kumar303 commented on #6634
Could you add some steps to the description for what QA should verify?

[2018-10-22 23:29] jvillalobos commented on #3697
The License (or EULA) is a completely separate field from the source code license. The link for the License should only appear when there's a License set, and shouldn't default to the code license.

I think we should render the URL in the License page, which I believe is what we do for the Privacy Policy field.

[2018-10-23 06:59] AlexandraMoga opened #6710 "AMO dev content looks broken"
STR:

1. Load AMO -dev homepage
2. Observe the page content

Actual result:
There are a lot of missing add-on icons and many  lisitng pages will generate 404s,

Expected result:
No display or content rendering issues on AMO

Notes:
- I've seen a discussion around this on IRC yesterday but since this issue is still happening today, I have filed this case to track its evolution
- reproduced on AMO -

[2018-10-23 07:13] willdurand commented on #6710
I also noticed this yesterday. cc @diox

[2018-10-23 07:49] autrilla commented on #6710
Judging by when this happened, this is probably my fault. I pointed my UTF8MB4 stack at the normal -dev ElasticSearch cluster yesterday. I think Celery reindex jobs might have written bogus data to ES, which causes this to happen.

[2018-10-23 07:49] ioanarusiczki commented on #6669
@bobsilverberg  I checked  "Admin Links" string, on the add-on detail page, for a couple of languages, some have the string translated but some of them still don't. I don't see a "hint".
Please let me know what to check in case I did not understood this correctly.

[2018-10-23 08:09] championshuttler commented on #6669
@ioanarusiczki I think these hints were for localisers. These will be available only on pontoon if i am not wrong. So this issue might not be need QA :wink:

[2018-10-23 08:57] ioanarusiczki commented on #6577
Verified fixed on AMO dev - FF62 (Win10)

deleting a rating on the detail page - stars are available
![delete rating shows the stars](https://user-images.githubusercontent.com/33448286/47348693-b5f82600-d6ba-11e8-9d78-4d7de48f5b57.gif)

deleting a review on the detail page - stars are available
![delete review shows the stars](https://user-images.githubusercontent.com/33448286/47348731-cad4b980-d6

[2018-10-23 08:58] #5390 closed

[2018-10-23 09:18] willdurand commented on #6644
Ok, I made the "aliases" list configurable anyway, so we can update later.

[2018-10-23 10:02] AlexandraMoga commented on #6710
I've marked this as a P1 since it's blocking testing of several features that landed these days

[2018-10-23 10:33] autrilla commented on #6710
As suggested by @diox I ran `./manage.py reindex`, and -dev is looking much better now.

[2018-10-23 10:56] #6710 closed

[2018-10-23 10:59] AlexandraMoga commented on #6710
-dev is back to normal, indeed.
Thanks

![image](https://user-images.githubusercontent.com/31961530/47356105-c95fbd00-d6cb-11e8-8093-416fe6a4e9b1.png)

[2018-10-23 11:07] willdurand commented on #6687
Sorry @saranshbarua but I still believe we don't need this.

[2018-10-23 11:07] #6687 closed

[2018-10-23 11:10] #6706 closed

[2018-10-23 11:11] willdurand commented on #6706
Thanks @championshuttler!

[2018-10-23 11:44] ioanarusiczki commented on #6605
@bobsilverberg I verified on AMO dev with FF62(Win10) but when I click the "See all versions" from the detail page I don't see this [new page](https://user-images.githubusercontent.com/6797635/43019637-821abdea-8c12-11e8-9715-118b7bebdcac.png)

I submitted a new version for an add-on that has reviews for the first version but the old version page is still displayed, please take a look

![old view]

[2018-10-23 11:49] bobsilverberg commented on #6605
Sorry for the confusing title and description @ioanarusiczki. The new versions page hasn't been done yet. This issue was just about creating a component that *will be* used in a new versions page. This new component *is being* used by the review listing page, so that's all that needs to be verified.

[2018-10-23 11:59] ioanarusiczki commented on #6706
Verified on AMO dev with FF62 (Win10)
"Report Trademark Abuse" was removed and "Legal" redirects to  https://www.mozilla.org/en-US/about/legal/terms/mozilla/

![legal new link](https://user-images.githubusercontent.com/33448286/47359004-2e1f1580-d6d4-11e8-90fa-15567ceef478.gif)

[2018-10-23 13:01] MeridelW commented on #6648
I agree not having "Firefox for Android" sounds odd. My once concern with including it is that Google character count limits might cut off the "Android" portion. This will only happen in cases where the extension name is longer. We could cut out the "for" to save some characters. How about this?

Get this Extension for 🦊 Firefox Android (en-US)

[2018-10-23 13:57] bobsilverberg commented on #6634
For QA:

Most of the code here does not affect any feature that is currently deployed (as it has to do with versions), but I did touch the addons reducer, so a simple check to make sure that an add-on detail page still works should be sufficient.

[2018-10-23 14:10] kumar303 commented on #6344
Thanks. This all looks good.

[2018-10-23 14:12] ioanarusiczki commented on #6344
Verified on AMO dev with FF62(Win10)

[2018-10-23 14:14] #6690 closed

[2018-10-23 14:20] bobsilverberg commented on #6648
Sounds good to me! 👍

[2018-10-23 14:21] ioanarusiczki commented on #6121
Also reproducible on the review listing page - AMO dev , FF62 (Win10)

![issue 6121](https://user-images.githubusercontent.com/33448286/47367246-ff129f00-d6e7-11e8-900a-1d8d626c3689.gif)

[2018-10-23 14:40] #6634 closed

[2018-10-23 15:43] willdurand opened #6714 "Remove webpack workaround (browser config in package.json) when we upgrade express-http-context"
The next release of https://github.com/skonves/express-http-context should bring a safe browser API. When upgrading, we should remove our webpack workaround introduced in #6672 (the `browser` entry in the `package.json` file).

[2018-10-23 15:46] rebmullin opened #6715 "Make the AddonTitle component a bit more flexible"
Right now this component only returns an h1 tag. If we could make this a bit more flexible for the guide pages (and other components) we could make use of this more.

See the updated addon cards:

![Alt text](https://monosnap.com/image/n2Ufp4FMTMC2nghoKSM3PAND5NMiyS.png)

REF:
https://mozilla.invisionapp.com/d/main/#/console/15640858/324863887/preview

[2018-10-23 15:57] #6707 closed

[2018-10-23 16:00] decembre commented on #4331
Now we can't Follow a collection:
Why ?

[2018-10-23 16:01] #6537 closed

[2018-10-23 16:09] #6644 closed

[2018-10-23 16:12] willdurand commented on #6264
@muffinresearch this has been stuck for a while now, and upstream project maintainers don't reply :(

[2018-10-23 16:14] rebmullin commented on #6432
hey @jvillalobos @devaneymoz, have the guide urls been finalized? We currently have the following pages shown here:

- Stay Safe Online
- Organize Your Tabs
- Enhance Your Media Experience

REF:
https://docs.google.com/document/d/1u1tbRo_ivfEAh_er2XKPciuYLARiNa2N5qXPGC0jfcY/edit#

Can you please advise?

[2018-10-23 16:17] #5893 closed

[2018-10-23 16:17] willdurand commented on #5893
Thanks @xu3u4

[2018-10-23 16:30] bobsilverberg commented on #6703
For QA: None of the new code is exposed on the site yet, but I did move around some code in the addons reducer and saga, so you should verify that the add-on detail page hasn't regressed. That's probably sufficient.

[2018-10-23 16:34] kumar303 opened #6717 "Make the user object available to SSR rendered components"
### Describe the problem and steps to reproduce it:

* Create a component that waits for `siteUser` (e.g. [`getCurrentUser(state.users)`](https://github.com/mozilla/addons-frontend/blob/a02777625bb33f8eebff8eea38420e6b11c845f6/src/amo/reducers/users.js#L374)) before it dispatches a loading action
* Create a page requiring that component to load all its data on the server, before a response is writ

[2018-10-23 16:37] kumar303 commented on #6717
For context, I ran into this when trying to render user review permissions on the server for https://github.com/mozilla/addons/issues/526 . However, I am able to just load the necessary data on the client.

[2018-10-23 16:40] mstriemer commented on #6678
Apparently this is fixed in Firefox but preffed off due to some webcompat issues. [Bug 1500258 comment 1](https://bugzilla.mozilla.org/show_bug.cgi?id=1500258#c1) has an example for how to fix this in the current state and it appears to be settings `max-width: 100%`.

[2018-10-23 16:49] rebmullin opened #6718 "Make the AMInstallButton accept a custom label"
Currently you can't adjust the install label but we need this for the guide page.

See mock:

![Alt text](https://monosnap.com/image/QpFAkTZst7UoxhLdpAhWnBb2KVjkDk.png)

[2018-10-23 17:15] MeridelW commented on #6706
Fast work, thank you! @ioanarusiczki  you can take out the en-US also, because that page is localized to many languages:

https://www.mozilla.org/about/legal/terms/mozilla/

[2018-10-23 17:22] kumar303 opened #6719 "Comprehend all Redux actions dispatched during a given server response"
I would like to see all dispatched Redux actions for a given server response during development.

Why? I spent several hours debugging an SSR problem but when I finally added custom logging of all dispatched Redux actions and their state modifications (just the ones I was interested in), I found the bug immediately.

We've never had this feature and I don't know how to implement it 😁 ; I just want

[2018-10-23 17:29] bobsilverberg commented on #6719
This does sound like a nice thing to have. I too have had issues where the problem only happened with SSR, to turning off SSR to make debugging easier didn't help.

👍

[2018-10-23 17:51] kumar303 opened #6722 "Log action types dispatched in a server response"
I think it might be useful to log all action types that are dispatched in a server response to help visualize server state. It won't be as nice as full state logging (https://github.com/mozilla/addons-frontend/issues/6719) but it would be easier to implement, at least.

[2018-10-23 19:51] bobsilverberg opened #6727 "Finish removing current_version and platformFiles from AddonType"
This will be the final refactor in support of #2770. This will remove `current_version` and `platformFiles` from `AddonType` so that the only place version information (including platformFiles) will be available is in an `AddonVersionType` object.

For QA:

This is a pretty major change, although no changes will be observable. Please check all install actions, as well as anything that relies on co

[2018-10-23 21:04] kumar303 opened #6729 "Initialize the client with a predictable Redux state object"
For sanity, we should initialize the client (i.e. rendered HTML) with a predictable Redux state object.

**For QA**: This change could affect the entire app but only for the first page load. Please test as much as possible with this approach:
* Load the site, navigate to another page
* Click the browser refresh button
* Make sure the page looks correct after refresh
* Navigate somewhere else, clic

[2018-10-23 21:37] #6722 closed

[2018-10-23 21:45] #6729 closed

[2018-10-24 02:54] skonves commented on #6714
Version 1.2.0 of `epxress-http-context` has been published and includes the referenced safe browser API.

[2018-10-24 07:44] #5608 closed

[2018-10-24 07:44] #6610 closed

[2018-10-24 07:59] #6648 closed

[2018-10-24 08:13] willdurand commented on #6714
Thanks @skonves!

[2018-10-24 08:17] ioanarusiczki commented on #6605
@bobsilverberg Verified the review listing page on AMO dev with FF62(Win10) and it seems to be working just fine!
What I've noticed is an already filed issue so I updated it here https://github.com/mozilla/addons-frontend/issues/6121

[2018-10-24 09:08] #6714 closed

[2018-10-24 09:41] ioanarusiczki commented on #6729
I tested this on a new profile, loaded AMO dev with FF62(Win10), went on another site then returned and refreshed AMO (mostly I used links that redirect from AMO to other pages). The homepage reloads without any layout issues.
![issue with refreshing page](https://user-images.githubusercontent.com/33448286/47421809-08ecde80-d78a-11e8-8b4e-fe9525352521.gif)

[2018-10-24 10:15] AlexandraMoga opened #6735 "Blank space in URLs can cause the requested page to get stuck in a loading state"
STR:

1. Load the following page - https://addons-dev.allizom.org/en-US/firefox/addon/stratiform%20/
2. Observe the layout

Actual result:
The page content is not displayed and it looks stuck in a continuous loading state. There are a lot of CSP reports in the console.

Expected result:
The page requested should return a 404, or should ignore the blank space, as the API does

Notes:
- if you call

[2018-10-24 10:56] AlexandraMoga commented on #6690
@rebmullin I'm guessing that, since this just preparatory work, this should be a 'qa:not needed'?

[2018-10-24 12:36] willdurand commented on #6690
@AlexandraMoga yep, thanks!

[2018-10-24 12:38] willdurand commented on #6729
@ioanarusiczki I am marking this issue as "qa: extra" because we need to repeat the STR for all pages of AMO. This change is rather critical.

[2018-10-24 12:51] marataziat opened #6737 "Downloads analytics"
### Describe the problem and steps to reproduce it:
Someone overcounted my downloads and as you see:
[Screenshot](https://i.imgur.com/JIp3Gnr.png)
These horizontal lines show 100-200 downloads on 30 Sep, but I have got only 5 downloads on this day :)

https://addons.mozilla.org/en-US/firefox/addon/charlesproxy4hackerone/statistics/?last=30

[2018-10-24 12:55] devaneymoz commented on #6432
@rebmullin No this content is NOT final. I'll have that content/copy finalized this week.

[2018-10-24 13:19] jvillalobos commented on #6737
Closing as a duplicate of https://github.com/mozilla/addons/issues/820

[2018-10-24 13:19] #6737 closed

[2018-10-24 13:33] willdurand opened #6738 "Extract a CategoryHead component"
In order to add new `meta` tags to the category pages (#5767), let's create a `CategoryHead` component that is similar to the `AddonHead` component. This new component will contain all the `Helmet` logic for a category page.

For QA: the category pages should have correct HTML titles and `canonical` links (in the HTML).

[2018-10-24 14:06] ioanarusiczki commented on #6644
@willdurand  I verified this issue on AMO dev - FF62(Win10)
- I checked the add-on detail pages, extensions, lw themes and static themes for firefox then for android (switching from the filter in the More Menu) and I can confirm that the `x-default` is pointing to en-US page, the `en` link and `pt `link were added. Three language letters do not support these changes yet.

- I've noticed that a sta

[2018-10-24 14:08] rebmullin opened #6740 "Set up guide page's saga/reducer"
this is to support work for the guide pages #6661

[2018-10-24 14:11] willdurand commented on #6644
Yep, that's what we want.

Everything looks good to me, I re-checked with https://app.hreflang.org/

[2018-10-24 14:14] rebmullin commented on #6432
okay cool, thanks @devaneymoz

[2018-10-24 14:19] vcarciu commented on #5390
Now I can see same link for both legacy and new frontend(https://stable.dev.lcip.org/....) , but I receive this error in the console:
![errorfxa](https://user-images.githubusercontent.com/1583842/47437231-cb4f7c00-d7b0-11e8-80db-46dc970c21c7.png)

@willdurand do you think that the issue is related to this fix? Because I don't remember to see this error before

[2018-10-24 14:37] willdurand commented on #5390
That looks weird, I've never seen this before. It is not related to our code.

[2018-10-24 14:44] ioanarusiczki commented on #6729
@willdurand Ok, I will re-check for other pages too and return with the test results.

[2018-10-24 16:17] #6718 closed

[2018-10-24 16:21] willdurand opened #6741 "Update category page header"
See: https://mozilla.invisionapp.com/d/main#/console/11679087/256136385/preview

---

We should update the category page header:

- title should be centered
- no description

![screen shot 2018-10-24 at 18 20 12](https://user-images.githubusercontent.com/217628/47445554-7f550500-d7b9-11e8-994f-e301ad02f9f9.png)

[2018-10-24 17:56] #6715 closed

[2018-10-24 20:35] rebmullin opened #6744 "Create remaining guide pages"
Initially we just added 1 section for the privacy pg as the initial issue/PR was more about implementation. This issue should complete the setup of the content for privacy and the remaining guide pages.

Again this PR address content for:
The remaining content on the privacy (stay safe online) page

other pages:
Organize Tabs & Bookmarks

Enhance Your Media Experience

Ref:
https://docs.google.com

[2018-10-25 07:01] #6539 closed

[2018-10-25 08:39] ioanarusiczki opened #6746 "Add-on detail page - "Add to Collection" section reloads after returning on page"
STR:
1. Load AMO dev and go to an add-ons detail page
2. Click on a link from the page and after the page loads click the back button
3. Observe the "Add to Collection" section

Expected result:
Collection section is not reloading.

Actual result:
For a short while the "Select a collection" glitches - it looks like a reload.

Notes:
This issue is reproducible on AMO dev and AMO stage - FF63 (Win10

[2018-10-25 08:40] ioanarusiczki commented on #6634
I filed an issue here https://github.com/mozilla/addons-frontend/issues/6746
Verified on AMO dev FF63 (Win10)

[2018-10-25 08:46] willdurand commented on #6746
mmh, this could totally be related to https://github.com/mozilla/addons-frontend/issues/6729

[2018-10-25 08:54] willdurand commented on #6729
I changed the milestone because the patch has landed after this week's tag.

[2018-10-25 10:54] SeanPrashad commented on #2346
Hey guys 👋🏽I'd like to help with this if it's still available!

[2018-10-25 11:36] willdurand commented on #2346
@SeanPrashad sure! This issue is about:

- adding a regexp in the route's path of the category pages
- removing the code that validates the `visibleAddonType` parameter (404, etc.

[2018-10-25 12:35] willdurand commented on #6746
I can reproduce in -prod too, so I guess this is the expected behavior.

[2018-10-25 12:35] #6746 closed

[2018-10-25 14:53] rebmullin commented on #6432
hey @pwalm, how should we handle these "+ Addon" buttons if the user comes across any of these pages on another browser? Should I use the (green) "Only with Firefox—Get Firefox Now" button on each card or is it better to disable these buttons and have one 1 of these green buttons somewhere?

![Alt text](https://monosnap.com/image/3R5fMJs0kPeTrT2kseL81Gc2SVzymq.png)

[2018-10-25 15:17] willdurand commented on #5390
I don't know. Is this error preventing you from getting access to your FxA account?

[2018-10-25 15:35] vcarciu commented on #5390
I don't know. Is this error preventing you from getting access to your FxA account?

Nope

[2018-10-25 15:53] willdurand commented on #5390
Then, I guess it is alright :)

[2018-10-25 15:53] #6738 closed

[2018-10-25 17:02] rebmullin opened #6751 "Follow up on the new guide urls"
This is assuming that #6665 lands before we have the final guide urls.

Since the updated home page is behind a flag we are currently using temporary urls. We need to update these once these have been finalized.

See
https://github.com/mozilla/addons-frontend/issues/6432#issuecomment-432314539

[2018-10-25 18:22] vcarciu opened #6752 "Themes link under Documentation section in Dev Hub page is a 404"
Steps to reproduce:
1.Go to AMO prod dev hub
2.Click on "Themes" link under Documentation section in the footer of the page (https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/Themes/Lightweight_themes)

Actual results:
The link should be functional or replaced with another link

Actual results:
The link is a 404

[2018-10-25 18:28] vcarciu commented on #6752
Moved the issue on addons-server

[2018-10-25 18:28] #6752 closed

[2018-10-26 06:31] pwalm commented on #6432
Good question. Let me run this by the team.

[2018-10-26 08:11] #6741 closed

[2018-10-26 09:09] ioanarusiczki commented on #6685
@willdurand On further investigations, I tested this issue with FF63 (Unbranded) and I might have steps to reproduce it from Disco Pane:
1. Install a static theme from disco pane
2. Without clicking remove, install a lw theme from disco pane
3. Go to Themes tab in addon manager (in the same tab, do not use another tab for addon manager)
4. Click remove for the lw theme

[2018-10-26 09:30] ioanarusiczki opened #6755 "A square is visible around a rating star when it's selected on Chrome"
STR:
1. Load AMO dev with Chrome
2. Login and go to an add-on detail page
3. Click a rating star

Expected result:
Star is selected - becomes yellow.

Actual result:
The selected star becomes yellow with a blue border around it.

Notes:
This issue is not reproducible on FF63 or Edge (AMO dev, Win10), I could only reproduce it with Chrome on Win10 and Android 8.0 too ( except on android the  square

[2018-10-26 09:59] willdurand commented on #4339
It looks like this issue is not really "actionable" to me, because it is a nice thing, yet not something we can do. I don't think one should spend a lot of time reviewing all our components and decide to use/not use `React.Fragment`. (The problem with such issues is that they become stale and no one can really work on them)

I'd rather encourage reviewers to suggest the use of `React.Fragment` whe

[2018-10-26 09:59] #4339 closed

[2018-10-26 10:00] willdurand commented on #1371
Yep, and on this basis, I am closing this issue now.

[2018-10-26 10:00] #1371 closed

[2018-10-26 10:07] willdurand commented on #1814
Given that most developers use MacOS and that the only requirement for this project is Node, I don't think we should spend time setting up a Docker dev environment. We use the API to develop, for each we provide nice npm commands. In addition, developing in offline mode is feasible by installing addons-server locally too.

[2018-10-26 10:07] #1814 closed

[2018-10-26 10:45] willdurand commented on #3986
So, I found occurrences of `location=` in some test files, in page components (expected) and:

- `Footer` and `Header` components, but they are used only by the `App` component (which automatically gets a `location` prop), so I guess it is fine to leave it as is
- the `SearchForm` component passes the `location` to the `AutoSearchInput`, but only this component passes the `location` to it (the oth

[2018-10-26 10:45] #3986 closed

[2018-10-26 11:41] ioanarusiczki commented on #5608
This is no longer reproducible on AMO dev with FF63 (Win10)

![editing the username](https://user-images.githubusercontent.com/33448286/47564285-24441f00-d92d-11e8-999b-176a85ac734f.gif)

[2018-10-26 12:46] ioanarusiczki commented on #6741
Verified on AMO dev Win10&android 8.0 - category titles are centered now

![centered titles](https://user-images.githubusercontent.com/33448286/47567124-55751d00-d936-11e8-984e-6eacb434075d.png)

[2018-10-26 13:38] ioanarusiczki commented on #6738
Look good to me. Verified on AMO dev with FF63 (Win10) the category pages

![cannonical links](https://user-images.githubusercontent.com/33448286/47569822-5b223100-d93d-11e8-85d1-5d3aaa49040a.png)

[2018-10-26 13:52] ioanarusiczki commented on #6722
@kumar303 What should be tested on the frontend ? Please provide some STR or mark it "qa not needed".
Thanks!

[2018-10-26 13:54] willdurand commented on #6722
@ioanarusiczki there is nothing to see for QA I think, I marked the issue as "qa: not needed". Thanks!

[2018-10-26 14:08] AlexandraMoga commented on #6610
Verified fixed on AMO -dev with FF63, WIn10x64

The More add-ons by author cards from the user profile page are requested by user ID now.

Before:
![image](https://user-images.githubusercontent.com/31961530/47571331-f1a42180-d940-11e8-8eac-a7648c7cefa9.png)

After:
![image](https://user-images.githubusercontent.com/31961530/47571381-11d3e080-d941-11e8-8dbb-a901b8d41652.png)

[2018-10-26 14:49] ioanarusiczki commented on #6662
Verified on AMO prod with FF63 (Win10)

[2018-10-26 15:50] vcarciu commented on #6662
Verified as fixed in Prod

[2018-10-26 20:11] #5080 closed

[2018-10-26 20:13] #5234 closed

[2018-10-26 20:13] willdurand commented on #5234
For QA, please make sure we can create new collections

[2018-10-27 03:00] SeanPrashad commented on #2346
Ok, I've made some progress and would like to make sure I'm not heading down the wrong 🐰hole @willdurand:

All of the `<Route>` components from React live in [`src/amo/components/Routes/index.js`](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/Routes/index.js).

Three occurrences of `visibleAddonType` appear as path params:

1. https://github.com/mozilla/addons-frontend/

[2018-10-27 09:02] willdurand commented on #2346
I believe only "themes" or "extensions" are used:

[code]

[2018-10-27 09:02] willdurand commented on #2346
You can add the values in the `path` prop of each route.

[2018-10-27 16:11] SeanPrashad commented on #2346
Gotcha - for reference, the `Route` components [`path` prop](https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/api/Route.md#path-string--string) uses [`path-to-regexp`](https://github.com/pillarjs/path-to-regexp/tree/v1.7.0#custom-match-parameters).

[2018-10-27 18:29] MarjaE2 opened #9351 ""Cylon" animation for installing add-ons also inflicts migraines"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

Go to add-ons.mozilla.org. Install a suitable add-on.

### What happened?

A dot pops up and moves back and forth. It inflicts migraines. A similar animation has complaints on the support site and the bugzilla. e.g. https://support.mozilla.org/en-US/questions/1232771

### What did you expect to happe

[2018-10-28 10:17] toombsy opened #6764 "gclid=EAIaIQobChMIwZGZg_Oo3gIVz8ZRCh31gg0mEAEYASAAEgIgZPD_BwE"
https://addons.mozilla.org/en-GB/firefox/language-tools/

Has access to my settings in apple iOS
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-10-28 10:56] jvillalobos commented on #6764
For Firefox support, please visit https://support.mozilla.org/

[2018-10-28 10:56] #6764 closed

[2018-10-28 11:59] Chocxshiiit opened #6765 "How?"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-10-28 15:37] SeanPrashad commented on #6765
Hey @Chocxshiiit - would you be able to add more details to your issue?

[2018-10-28 16:15] bobsilverberg commented on #6717
Kumar and I discussed this a bit at ReactConf, although we didn't discuss any possible solutions. I think we agreed that we should discuss this as a group at the next all-hands, discussing the problems and challenges we face with our current approach and possible soltuions.

[2018-10-29 09:16] #6765 closed

[2018-10-29 09:59] rraue commented on #5755
This worked, its still not affecting all pages, as Google needs time to crawl the whole site but here we can see that most pages crawled and having a parameter not changing the content are now flagged as "Alternate page with proper canonical tag" and this is how it should be:
<img width="1789" alt="screen shot 2018-10-29 at 10 55 09" src="https://user-images.githubusercontent.com/36700618/47642711

[2018-10-29 12:27] willdurand opened #6769 "Remove `componentWillReceiveProps()` in `UserProfileEdit`"
See also: #6188

---

The whole logic should be updated to leverage both `componentDidUpdate()` (and maybe `getDerivedStateFromProps()`) as described here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#fetching-external-data-when-props-change

**For QA**: please make sure there is no regression in the "edit" page of a user profile (the page should load/reload just fine, accura

[2018-10-29 13:26] willdurand opened #6770 "Remove `componentWillReceiveProps()` in `Addon`"
See also: #6188

---

The `Addon` component is by far our largest component, so let's remove the `componentWillReceiveProps()` method separately.

**For QA:** only the add-on detail pages might be affected, please make sure there is no regression.

[2018-10-29 13:55] willdurand opened #6771 "Remove `componentWillReceiveProps()` in `AutoSearchInput`"
See also: #6188

---

The following patch works but one test case is still failing (see after the patch):

[code]

Here is the failing test case:

  ● /Users/williamdurand/projects/mozilla/addons-frontend/tests/unit/amo/components/TestAutoSearchInput.js › search input › only sets an updated query if it is unique

    expect(received).toMatchObject(expected)

    Expected value to match object:

[2018-10-29 13:56] ioanarusiczki commented on #6729
@willdurand I tried to cover all AMO new pages and repeated tests on AMO dev (FF63, Win10) while using a comparison with AMO prod. I did not observe new issues while navigating on other pages then returning to AMO and refreshing the page.

Still, while testing this I've noticed a couple of refreshing page issues:

1. If a detail page is reloaded on and on after a while the Add to Collection and Ra

[2018-10-29 14:02] willdurand commented on #6729
That's because the final add-on state is resolved on the client. We cannot do anything about it.

What do you mean? If you edit a field but don't "save" it, it does not get auto-magically persisted, or did I miss something?

That looks good to me given that we do not add a query parameter or anything that would allow the server to know about the "edit" state. That'd be a nice improvement, but it i

[2018-10-29 14:21] kagehina919 commented on #6735
@AlexandraMoga can I work on this issue? My idea is to process the URLs to remove space characters and set a redirect component to the correct URL.

[2018-10-29 14:34] #6755 closed

[2018-10-29 14:34] willdurand commented on #6755
Thanks @klymenkoo!

[2018-10-29 14:35] willdurand commented on #6755
/cc @caitmuenster

[2018-10-29 15:29] ioanarusiczki commented on #5234
Verified on AMO Dev with FF63(Win10) - new collections can be created

![creating a collection](https://user-images.githubusercontent.com/33448286/47660632-1944f500-dba0-11e8-8c31-449173eb20aa.gif)

[2018-10-29 15:44] ioanarusiczki opened #6773 "Keep the edit page open after the page is refreshed"
Follow up for https://github.com/mozilla/addons-frontend/issues/6729

STR:
1. Load AMO dev and go to your collections
2. Click on "Edit collection details" button
3. Refresh the page

Expected result:
Edit page is displayed

Actual result:
Edit page closes and Edit collection details button must be clicked again

Notes:
This issue is reproducible on AMO dev and AMO stage with FF63

![edit and refr

[2018-10-29 15:54] AlexandraMoga commented on #6735
Cc @willdurand ^

[2018-10-29 15:56] #6457 closed

[2018-10-29 16:00] ioanarusiczki commented on #6729
@willdurand Nevermind about pct 3! I did not click update profile or navigated elsewhere therefore the edit is not saved as you said.
Pct.4 - filed here https://github.com/mozilla/addons-frontend/issues/6773

Verified on AMO dev with FF63(Win10)

[2018-10-29 16:58] willdurand opened #6774 "Add `hrefLang` on other pages (not add-on detail pages)"
Now that #6644 has been implemented for the add-on detail pages, we can add those `alternate` links to the other (crawlable) pages too. Some guidelines:

- We add a `x-default` link pointing to the `en-US` page
- We add a `en` link pointing to the `en-US` page
- We add a `pt` link pointing to the `pt-PT` page
- We ignore ISO 639-2 locales for now (locales with three letters, e.g., `ast`, `cak`, et

[2018-10-29 20:00] kumar303 commented on #6729
When you refresh a page very quickly, you might abort a network request in progress. This is why you see the red *unexpected error* banner. It should not happen through normal site usage. See https://github.com/mozilla/addons-frontend/issues/4399

[2018-10-29 20:08] willdurand opened #6775 "Always render AddonsByAuthorsCard"
### Describe the problem and steps to reproduce it:

1. go to https://addons-dev.allizom.org/en-US/firefox/user/abine/
2. refresh
3. observe

### What happened?

The left card is rendered but the right side is empty. Then the right side starts to render some stuff, then it is fully loaded with the add-ons by the user.

Current state in -dev:

![2018-10-29 21 03 50](https://user-images.githubuserco

[2018-10-29 20:10] kumar303 commented on #6735
Hi @kagehina919, thanks for your interest! We apply the labels [`good first bug`](https://github.com/mozilla/addons-server/issues?q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+good+first+bug%22) or [`contrib: welcome`](https://github.com/mozilla/addons-frontend/labels/contrib%3A%20welcome) to issues that are open to contributors. This is only because we want to make sure each issue has enough infor

[2018-10-29 20:14] kumar303 commented on #6735
Here is an explanation of the bug:
* The page begins loading with the add-on slug of "stratiform " (note the space) in the URL
* The API receives a slug of "stratiform " but strips the whitespace, turning it into "stratiform"
* The API loads the "stratiform" add-on without any problems
* The page waits until data for the "stratiform " slug has loaded. This is the bug.

To fix this, I propose redir

[2018-10-29 21:13] #6433 closed

[2018-10-29 21:43] kumar303 commented on #6771
I think the test case may be correct. If typing in the input box changes `state.query` then this will be out of sync with `props.query`. When that happens, any kind of application re-render (which might cause a re-render of `AutoSearchInput` with the old `query` prop) should not erase what the user has typed.

I would suggest investigating what kind of re-render situations could affect this. Maybe

[2018-10-29 21:50] #6188 closed

[2018-10-29 21:55] kumar303 commented on #6773
Thanks for the bug report. I think this bug always existed. I set a reduced priority on it because I can't think of why anyone would want the feature. If someone thinks of a reason, let me know.

[2018-10-29 22:11] willdurand commented on #6773
There is nothing more annoying that no sync between the client and the URL. Refresh by mistake and 💥 you are somewhere else.

[2018-10-29 22:18] kumar303 commented on #6717
It would be nice if we could think of a non-drastic solution, one that worked with our current saga strategy. My only idea for that is to keep rendering the app in a loop until it stops triggering sagas. Ha!

Another nice thing would be to load data on the server exactly how we load it on the client (however we decide to do it).

@willdurand I think you had some ideas around this?

[2018-10-29 22:34] kumar303 commented on #6773
It's a single page app; you can get into many states that don't match the URL. For example, submitting a rating, replying to a review, editing your profile...

[2018-10-29 22:41] RoLLnDice247 opened #6776 "I got led off my path and you started forgetting saved passwords."
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-10-30 07:30] grahamperrin commented on #6696
Side note:

… and as mysteriously as it disappeared, it reappeared but now again it has gone.

----

Today at <https://mozilla.logbot.info/firefox/20181030#c15538483>:

[2018-10-30 08:29] willdurand commented on #6773
We chose to do that, that's not what SPA means. If we really want to enable users without js to use the site, we can improve things like this. That would benefit everyone I think.

Add a query param to the collection page and user without js should be able to access the edit state/page. Not saying they can edit anything though (because we don't support POST requests on the server yet).

User profi

[2018-10-30 08:59] ioanarusiczki commented on #6755
Verified on AMO dev with Chrome on Win10 and Android 8.0
The Square is no longer displayed on pages where rating stars are available.

![no square around the star](https://user-images.githubusercontent.com/33448286/47706749-b9e3f500-dc32-11e8-8c93-5da1bec02e08.gif)

[2018-10-30 09:51] ioanarusiczki commented on #6457
@willdurand Could you add some STR for qa? Thanks!

[2018-10-30 11:01] AlexandraMoga opened #6778 "'Edit reply' option should be hidden when a former owner/developer is viewing his reply to a review"
STR:

1. As an add-on developer, add a new User as an owner/developer of your add-on
2. In a separate window, log in with the new User and  leave a reply to a review
3. With the main owner, remove the second User from the add-on contributors list
4. Go back to the separate window where the other User is logged in and refresh the page
5. Go to the review listing where you can see the review reply y

[2018-10-30 11:09] kagehina919 commented on #6735
@kumar303 I have understood the issue and set up a local development server. Is there any IRC or any other chat which we can use?

[2018-10-30 11:19] championshuttler commented on #6735
Hi @kagehina919 , yes you can join `#amo` on Mozilla's IRC server. Details on how to connect can be found [here](https://wiki.mozilla.org/IRC).

[2018-10-30 12:46] #6653 closed

[2018-10-30 12:47] bobsilverberg commented on #6653
For QA, please check for regressions on the Add-on Detail page, in particular with version release notes.

[2018-10-30 12:50] ioanarusiczki commented on #6433
@rebmullin Hi Rebecca, is this ready for testing after https://github.com/mozilla/addons-frontend/issues/6701 is closed? I do not see the new home hero design on AMO dev - FF63(Win10)

[2018-10-30 12:58] muffinresearch commented on #6776
We are unable to provide support for individual add-ons.

This issue tracker is only for issues related to the https://addons.mozilla.org (AMO) website and related services.

Please look at the add-on details page and see if the add-on author has provided support information. If supplied you'll find it in the "More information" section.

<img width="509" alt="facebook_container_ _add-ons_for_firef

[2018-10-30 13:43] willdurand commented on #6433
@ioanarusiczki no, it is not available yet. Adding "qa: not needed" for now.

[2018-10-30 14:38] ioanarusiczki commented on #6433
@willdurand Alright, thanks for the news !

[2018-10-30 14:59] #6540 closed

[2018-10-30 15:15] kumar303 commented on #6735
@kagehina919 that's great to hear you are set up with a local development server. Please try starting with a [good first bug](https://github.com/mozilla/addons-server/issues?q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+good+first+bug%22) to get introduced to the contribution process.

[2018-10-30 15:27] kumar303 commented on #6778
After removing the secondary owner, can you go back to the where you were logged in as the old owner, wait 5 minutes, refresh, and see if you still see an *edit* button?

[2018-10-30 15:32] #5767 closed

[2018-10-30 16:06] #6775 closed

[2018-10-30 16:12] willdurand opened #6780 "Fix `contributions_url` type"
This issue is related to the following server issue: https://github.com/mozilla/addons-server/issues/9845.

The `contributions_url` field has been updated to return a string value all the time, no more `null`.

For QA: please make sure that no "contribute" button is displayed for an add-on with no contributions url.

[2018-10-30 16:25] bobsilverberg opened #6782 "Update permissions code to use information from a version rather than an addon"
`current_version` and `platformFiles` are going to be removed from `addon` so permissions code should be updated to work with a specific `version` object and not use `current_version` or `platformFiles` from an `addon` object.

[2018-10-30 16:43] #6780 closed

[2018-10-30 16:43] kumar303 commented on #6773
Yes, I think it would not be hard to add a query param to enter this state via URL and I agree that it could be useful. In my other examples, I was speaking to how refreshing the page loses your form edits but I guess that's a separate issue. I'll up priority slightly and add `contrib: welcome` 😃

[2018-10-30 16:48] willdurand commented on #6771
Thanks a lot for your input! I hate removing test cases without a good reason.

I'll see what I can do because that seems to be slightly against the reactive model introduced by React.

[2018-10-30 19:09] #6770 closed

[2018-10-30 19:29] #6782 closed

[2018-10-30 19:50] rebmullin opened #6787 "Set up links on guide pages to go through router"
Right now we are using `a` tags (to get it working with locales). We should look into the following so that it goes through React Router:

https://github.com/react-bootstrap/react-router-bootstrap

or set up something similar on onclick

[2018-10-30 20:15] #6651 closed

[2018-10-30 20:17] bobsilverberg commented on #6651
For QA: Please check the Add-on Detail page, particularly license and version information.

[2018-10-30 20:18] bobsilverberg commented on #6782
For QA: Please check the permissions display on the Add-on Detail page.

[2018-10-30 21:12] bobsilverberg opened #6788 "Move versions stuff to core"
Now that I'm working on the install code, which is shared between `amo` and `disco`, I realize that `disco` is going to need access to some of the versions code, so we should move it into `core`.

[2018-10-30 23:11] devaneymoz opened #6790 "8 November homepage programming update"
For the **8 November** push, please update the homepage to reflect the programming detailed [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @bobsilverberg

[2018-10-31 08:18] AlexandraMoga commented on #6778
I have waited more than 5 minutes, I've refreshed the page, I've logged out and logged back in but the Edit reply button was still present.

[2018-10-31 08:47] willdurand commented on #6788
We should really be careful about not introducing to many things in `amo`. Most (if not all) code related to `addons` should live in the `core` module.

[2018-10-31 08:52] willdurand commented on #6787
I am not sure I understand the aim of this issue. `HeroSection` uses a `Link` component with a `to` prop, so react router is already used.

[2018-10-31 08:55] Daniel-Pichlmeier opened #6792 "Redux DevTools Extension not available anymore"
### Describe the problem and steps to reproduce it:

Pretty much any google result leads to a 404
the plugins github links to a 404

### What happened?
i don't know :(
### What did you expect to happen?
find the plugin and be able to install it
### Anything else we should know?
I need that plugin! Now i got to work with the filty chrome..

https://github.com/zalmoxisus/redux-devtools-extension
htt

[2018-10-31 09:00] #2346 closed

[2018-10-31 09:01] willdurand commented on #6792
That sounds bad but there is nothing we can do here unfortunately, see: https://github.com/zalmoxisus/redux-devtools-extension/issues/568

[2018-10-31 09:01] #6792 closed

[2018-10-31 10:10] Daniel-Pichlmeier commented on #6792
Thanks for the linking and sorry for spamming at you guys :)
FYI(for anyone else who lands here for the same reason): I installed it manually and it works just fine.

[2018-10-31 10:24] willdurand opened #6794 "Move hrefLang logic from `AddonHead` into a new `HrefLang` component"
See also: #6774

---

Let's create a `HrefLang` component that renders the `alternate` links (cf. #6644).

**For QA:** please make sure the `alternate` links in the add-on detail pages (introduced in #6644) are still rendered and correct.

[2018-10-31 10:53] ioanarusiczki commented on #5767
I verified for the pages mentioned [above](https://github.com/mozilla/addons-frontend/issues/5767#issue-345306050) by @muffinresearch.  - on AMO dev with FF63 (Win10)

The pages contain the meta description which includes a content such as mentioned [here](https://docs.google.com/document/d/1jCkeuyCuLpcwAVIXnqpYKgqnHnV0y1OkuQ1WHUc-ftI/edit#)

Example for the Homepage

`<meta name="description" con

[2018-10-31 11:34] AlexandraMoga commented on #6775
@willdurand sorry, but I don't find the current implementation to be much better than before.
The Extensions card expands too much and the loading state appears even if the user doesn't have any extensions listed. The same goes for the Themes card.
There is also no loading state rendered for the User reviews card - it disappears shortly at refresh.
I've checked prod for comparison and this behavio

[2018-10-31 12:16] muffinresearch opened #6797 "Test HCT collection"
We need to try the collection via HCT (Hybrid Content Telemetry) on -dev and make sure it looks good before we promote it to stage and then production.

Docs for manual testing are here:

https://firefox-source-docs.mozilla.org/toolkit/components/telemetry/telemetry/collection/hybrid-content.html#manual-testing

* This should work alongside GA tracking
* To collect you need to run the manual step

[2018-10-31 13:48] biskit1 commented on #6242
Hey, can I work on this?

[2018-10-31 14:17] ioanarusiczki commented on #6539
@willdurand Verified on AMO stage with FF63 unbranded (Win10)
The only thing that I noticed that works different compared to what's in production is when a lw theme is installed from disco pane or from theme's detail page.

On AMO stage the Install message is displayed asking to Allow or Cancel the installation, same way as for extensions - this is with FF63 unbranded.

![lw themes messages](https

[2018-10-31 14:22] willdurand commented on #6539
Isn't it because of the prefs you had to set?

[2018-10-31 14:46] ioanarusiczki commented on #6780
@willdurand I verified this issue on AMO dev with FF63(Win10)
I used an admin account and verified for a couple of add-ons. "Contribute now" button is available on the add-ons detail page but if went and deleted the Contribution URL from dev hub then checked again the detail page the button is no longer displayed.

![contribute now](https://user-images.githubusercontent.com/33448286/47796181-7cfc2

[2018-10-31 14:47] #6788 closed

[2018-10-31 14:48] bobsilverberg commented on #6788
For QA: Please verify the Add-on Detail page, in particular permissions, license, version, and release notes info.

[2018-10-31 15:07] willdurand commented on #6771
@kumar303 so, we actually hit the anti-pattern described here: https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html#anti-pattern-erasing-state-when-props-change

We should use the `key` approach I think, but I don't know which value to use yet.

[2018-10-31 15:33] ioanarusiczki commented on #6653
@bobsilverberg Verified on AMO dev with FF63(Win10)
Looks good to me.

Release notes section

![release notes](https://user-images.githubusercontent.com/33448286/47799401-df582800-dd32-11e8-9cd8-6432d69f69c3.gif)

[2018-10-31 15:33] caitmuenster commented on #6224
Hey @aditya81070, are you still working on this bug? If not, I'll unassign it and let someone else pick it up.

[2018-10-31 15:35] willdurand commented on #6527
@rraue this issue needs your input because the user profile can be paginated (as discussed on Slack). If I remember correctly, you said a canonical URL has no query params in any case, right?

If that's the case, that'd be easy to implement :)

[2018-10-31 15:39] willdurand commented on #6555
/cc @pwalm for a picture.

A few examples:

- GitHub blog

![](https://user-images.githubusercontent.com/7321362/26907144-178243fc-4ba6-11e7-8f15-8985451b33c2.jpg)

- NY Times

![](https://mwcm.nyt.com/.resources/mkt-wcm/dist/libs/assets/img/meta-og-image-fallback.jpg)

[2018-10-31 15:42] willdurand commented on #6775
@AlexandraMoga would you have a comparison with -prod? I am not sure I understand. It should be slightly better, not completely different 😛

The user reviews issue is tracked in https://github.com/mozilla/addons-frontend/issues/6309.

[2018-10-31 15:49] SeanPrashad commented on #1764
Hey guys, I'm going through some of the older `contrib: welcome` bugs and noticed that `tests/client/core/api/test_api.js` was refactored to a different file which I can't find.

A quick search in VSCode and these are the occurrences of `createApiResponse`. I'll look through them later today after school but I suspect this might be a `no fix`:

<img width="562" alt="screen shot 2018-10-31 at 11 48

[2018-10-31 16:50] willdurand commented on #1764
@SeanPrashad I think we still want a real `Response` object here: https://github.com/mozilla/addons-frontend/blob/c3f53c6edd008e5274404d97a7f82fb1cd0b7581/tests/unit/helpers.js#L776-L788

(yeah, the code has moved a lot)

[2018-10-31 16:50] aditya81070 commented on #6224
Yes I am working on it. I was having health issues so I was not active. I
will submit a pull request till tomorrow.

On Wed 31 Oct, 2018, 9:09 PM Caitlin Neiman, <notifications@github.com>
wrote:

[2018-10-31 17:34] SeanPrashad commented on #1764
Thanks Will! How did you find that file? Just curious if there was something else I should have searched for?

[2018-10-31 18:43] bobsilverberg opened #6802 "Update AMInstallButton to use platformFiles from a version rather than from an addon"
This supports #2770 and depends on https://github.com/mozilla/addons-server/issues/9855.

Use `currentVersion`, which will be explicitly passed in as a prop, to get `platformFiles` as opposed to `addon`. This will affect code in both `amo` and `disco`.

For QA: Please check the install button on both AMO and disco pane.

[2018-10-31 20:11] devaneymoz commented on #6432
In collaboration with @MeridelW and @atsay I've [finalized content/copy](https://docs.google.com/document/d/1u1tbRo_ivfEAh_er2XKPciuYLARiNa2N5qXPGC0jfcY/edit?ts=5bbcb799) (though I'm sure once we see it in design we'll want to make slight copy teaks).

@pwalm Could you please flow this into your latest designs when you're able?

[2018-10-31 20:36] caitmuenster commented on #6242
Go for it, @biskit1!

[2018-10-31 20:53] kumar303 commented on #6477
After analyzing some logs on 2018-10-31 👻 , I was able to find a request ID like `cd7cc804-6775-4455-b5c8-cf1a2b743481` (and one other) which showed that the A/B variant cookie was getting generated twice. This led us to discover that our old version of `react-cookie` [uses a shared global object](https://github.com/reactivestack/cookies/issues/79#issuecomment-298998732) (specifically, [this](http

[2018-10-31 20:55] kumar303 opened #6803 "Upgrade react-cookie for reliable cookie state"
**For QA**: please check for regressions in any feature that relies on a cookie:
* log in / log out
* A/B test for green/blue buttons https://github.com/mozilla/addons-frontend/issues/6144
* The *view classic desktop site* link in the footer

<hr/>

We need to upgrade `react-cookie` for better [SSR support](https://github.com/reactivestack/cookies/issues/79#issuecomment-298998732). See https://git

[2018-10-31 21:00] willdurand commented on #6803
Raised to p2 because that seems like something we want sooner than later.

[2018-10-31 21:03] kumar303 commented on #6803
Yeah, good point. We should probably do this before rolling out any new experiments.

[2018-10-31 21:17] kumar303 opened #6804 "View kibana log entries in order of occurrence"
### Describe the problem and steps to reproduce it:

Try to debug something in [kibana](https://amo-kibana.prod.mozaws.net/_plugin/kibana/app/kibana#/discover?_g=()&_a=(columns:!(_source),index:'amo.frontend_amo*',interval:auto,query:(match_all:()),sort:!(Timestamp,desc))) by looking for all log entries by a given request ID. Example: https://github.com/mozilla/addons-frontend/issues/6477#issuecom

[2018-10-31 21:20] kumar303 commented on #6804
@willdurand can you add some details about why we can't get micro time precision?

[2018-10-31 21:58] kumar303 commented on #6242
Hi @biskit1 -- let me know if you have any questions. I know you've already landed a few patches (thanks!) so you probably have things set up.

[2018-11-01 06:35] AlexandraMoga commented on #6775
@willdurand sure, here is an example from prod:

![author cards prod](https://user-images.githubusercontent.com/31961530/47836448-02c1b800-ddb1-11e8-9b2b-04155aac681b.gif)

[2018-11-01 10:11] ioanarusiczki commented on #6539
@willdurand I am not 100% sure is because of the prefs set for testing on AMO dev and AMO stage.  I tried again with a clean profile with FF63 release, FF63 unbranded and FF65 but still same results.
However, Lw themes migrate to static themes soon and in their case this message is not displayed.

[2018-11-01 12:50] AlexandraMoga opened #6805 "The recommendations card reloads when a rating is posted"
STR:

1. Open AMO stage
2. Go to an add-on details page - https://addons.allizom.org/en-US/firefox/addon/narsier-chider-gullo/
3. Rate the add-on
4. Observe the recommendations card

Actual result:
The recommendations card reloads when a rating is posted

Expected result:
The recommendations card is not affected by the actions made in the ratings section

Notes:
- reproduced on all AMO servers wit

[2018-11-01 12:56] bobsilverberg commented on #6775
FWIW, there was a [talk at ReactConf](https://www.youtube.com/watch?v=ByBPyMBTzM0) about just this type of thing: not showing loading spinners and content for very short periods of time. It's not exactly the same thing here, because the problem here is exacerbated by the fact that the loading indicators are so large and that they occupy space that is actually entirely removed once the loading is f

[2018-11-01 14:29] ioanarusiczki commented on #6188
@willdurand Release testing is completed, no new issues were noticed.

Verified on AMO stage with FF63(Win10).

[2018-11-01 14:30] rraue commented on #6527
No thats not correct, looks like I wrote not understandable enough:

- The canonical should be always without a parameter which doesn't alter the content (just sort or filters it, utm or referer data)
- But these pages are only available with a parameter url, therefore these parameter pages are unique

https://addons.mozilla.org/en-US/firefox/user/sassygirl1016/?page_t=2 has different content (eve

[2018-11-01 15:41] kumar303 commented on #6775
Ah, yes, I reviewed this patch but now I realize that a delayed loading state would be better since extensions, themes, and reviews might not ever appear on the user profile page.

First, the ReactConf talk up above is talking about showing spinners for a loading state which is a different UI strategy than ours. We show skeleton text. It's better to show skeleton text immediately because it create

[2018-11-01 15:43] #6500 closed

[2018-11-01 16:11] bobsilverberg commented on #6805
Agreed that this shouldn't be happening. I'm going to look into it.

[2018-11-01 16:14] bobsilverberg commented on #6805
This seems to be happening in prod too, so I don't think it's a recent regression.

[2018-11-01 16:44] willdurand commented on #6527
ok great, that makes more sense. In case of different parameters, what do you suggest? we sort the query params alphabetically?

[2018-11-01 16:50] willdurand commented on #6775
I have to think more about it. Once URLs have user IDs instead of usernames (Q4), we could get all the data on the server. That'd be ideal because no need to render loading indicators.

Maybe we should not hide the cards and add a message saying there is no extensions or themes. Because if viewing the loading state and then nothing is weird, I'd argue that not viewing anything and then getting the

[2018-11-01 16:53] willdurand commented on #6500
🏆

[2018-11-01 17:03] rraue commented on #6527
I don't understand, which different parameters? Do you have an example?

[2018-11-01 17:19] jvillalobos opened #6807 "Tweak description of SEO snippet to include add-on type and brand"
Followup for https://github.com/mozilla/addons-frontend/issues/4129. I'm adding this to the Q4 project, but feel free to defer if it's not a quick fix.

We need to prepend a bit of text before the add-on description, as shown in the screenshot:

<img width="827" alt="screen shot 2018-11-01 at 2 35 10 pm" src="https://user-images.githubusercontent.com/62568/47867559-78388300-ddc7-11e8-8b1c-e4560ada

[2018-11-01 18:51] #6740 closed

[2018-11-01 19:17] willdurand commented on #6807
We already prepend "Download XXX for Firefox". It will be too long if we add yet another prepended string I think.

In addition, there is absolutely no reason for Google to use these (meta) descriptions if Google thinks it is not as useful/helpful as what it can find itself.

[2018-11-01 19:18] willdurand commented on #6527
Find a profile with both extensions and themes. There are two parameters: `page_t` and `page_e`, one for themes and one for extensions.

[2018-11-01 19:19] willdurand commented on #6527
That comment applies to search result pages too.

[2018-11-01 19:41] jvillalobos commented on #6807
I hadn't noticed that prefix. So, I suppose the request is to replace that with the new one. @MeridelW, can you confirm?

[2018-11-01 21:00] #6805 closed

[2018-11-01 21:05] kumar303 commented on #6771
I looked into how `query` is passed to `AutoSearchInput` in practice. My conclusion is that `AutoSearchInput` is an uncontrolled component and its internal state is the source of truth.

Notes:

* The `query` prop is only used to set the initial value of the input field. All other changes come from what the user types. You can probably edit (or delete) that failing test accordingly.
* There is som

[2018-11-01 21:36] kumar303 commented on #6778
I can't reproduce this following the steps up above.

In this step...

...can you confirm that you clicked *save changes* after removing the user? Specifically, I mean on this page:

<img width="738" alt="screenshot 2018-11-01 16 35 28" src="https://user-images.githubusercontent.com/55398/47881458-3114b700-ddf4-11e8-9c68-0cdb2b81bce8.png">

[2018-11-02 07:40] AlexandraMoga commented on #6778
@kumar303 I guess my steps are a bit confusing. I've tried to capture the whole scenario in the video below. I hope the issue will become more clear now. And to confirm, I did _Saved Changes_ after Step3.

![edit reply](https://user-images.githubusercontent.com/31961530/47898916-90200d80-de80-11e8-9bcf-53b6f02f3b2b.gif)

[2018-11-02 10:46] ioanarusiczki commented on #6782
@bobsilverberg I verified permissions with this [sample](https://addons-dev.allizom.org/en-US/firefox/addon/all-of-the-permissions/) on AMO dev FF63 (Win10 & Android 8.0). No regressions found.

[2018-11-02 10:48] AlexandraMoga commented on #6805
Verified fixed on AMO dev with FF63, Win10x64 and Android 8.0

![recom loading no more](https://user-images.githubusercontent.com/31961530/47911204-822cb580-de9d-11e8-91b0-a325c7720456.gif)

[2018-11-02 11:14] HarveyWilliams opened #6811 "Addon doesn't show up in search and its page is broken"
### Describe the problem and steps to reproduce it:

App UUID: {d38c41da-b1ec-4f80-a310-ac90bb1ec96b}
Name: Open Umbraco

My addon should be displayed at https://addons.mozilla.org/en-GB/firefox/addon/open-umbraco/.
Instead this page returns 500, "Server Error".

This is different from there not being an addon: https://addons.mozilla.org/en-GB/firefox/addon/there-is-no-addon-here/
This page return

[2018-11-02 13:00] ioanarusiczki commented on #6788
@bobsilverberg Permissions were verified for https://github.com/mozilla/addons-frontend/issues/6782
Also, I tested on the extension detail page the license, version and release notes, I edited them from Dev Hub too see different results. They look alright to me.

Verified on AMO dev with FF63 (Win10 & Android 8.0).

[2018-11-02 13:45] ioanarusiczki commented on #6651
I tested on the detail page, particularly:
- License : I checked on all license types, I edited them for an add-on from Dev Hub, then checked the add-on detail page to see it's correctly displayed and that the link redirects to the license page.
- Version information : the page displays a list of versions, release notes with license, the green install button for all previous versions, clicked them

[2018-11-02 14:28] kumar303 commented on #6778
ok, I see. The video helped a lot. I edited the description to make step 5 more specific.

[2018-11-02 14:43] HarveyWilliams commented on #6811
Thanks for the quick reply.

Interestingly, my panel looks quite different:

![screen shot 2018-11-02 at 14 41 32-fullpage](https://user-images.githubusercontent.com/7733459/47921822-6e894b00-dead-11e8-967a-a04db3d5241e.png)

It seems you're right - if I visit the page incognito (so not logged into the developer hub), the page will return a 404. Otherwise it shows me the 500 page.

[2018-11-02 15:28] HarveyWilliams commented on #6811
It's probably highly worth mentioning that I tend to use the `web-ext` node package to handle releases. I think it deploys my extension to Mozilla for me.

[2018-11-02 15:29] jvillalobos commented on #6811
The add-on only has unlisted versions, so the product page should not be available for the general public. So, it is correct that @kumar303 sees the 404 page.

However, the 500 page that @HarveyWilliams (developer) and I (admin) see is definitely an error. I believe for both of those cases we should see the product page, but with a notification that we can only see it because we're privileged user

[2018-11-02 15:30] jvillalobos commented on #6811
Also, it shouldn't show up on search because it only has unlisted versions. For more info on that, please [read this article](https://developer.mozilla.org/en-US/Add-ons/Distribution).

[2018-11-02 15:33] jvillalobos commented on #6807
@toombsy this is not the right place to ask these questions. If you need general help with Firefox, you can go to https://support.mozilla.org/

[2018-11-02 15:39] HarveyWilliams commented on #6811
@jvillalobos Thanks I've read through that article now.

It says:

I believe I have been signing the add-on with `web-ext`. I'm not sure if this utility has been deploying to AMO for me or if I've been doing it myself.

Anyway, if I then try to deploy my add-on through AMO, this happens:

![screen shot 2018-11-02 at 15 37 51-fullpage](https://user-images.githubusercontent.com/7733459/47925139-50bf

[2018-11-02 16:03] jvillalobos commented on #6811
In the [Edit page for your add-on](https://addons.mozilla.org/developers/addon/open-umbraco/edit) you should see the option to upload a new version, and on the first step there's a Where to Host section with a link to change the distribution setting for the version you're uploading.

[2018-11-02 16:06] willdurand commented on #6811
would you have some console logs to share by chance?

[2018-11-02 16:20] HarveyWilliams commented on #6811
@jvillalobos Okay so I should at least be able to get my next release to be public. I'm working on it now so I should be able to get it live. Thanks!

@willdurand I don't think there's any console logs relevant to the problem:

![logs](https://user-images.githubusercontent.com/7733459/47927407-2113da80-debb-11e8-8dc9-c9d6c6315126.png)

[2018-11-04 03:17] SeanPrashad commented on #2449
* standalone CSP tests: https://github.com/mozilla/addons-frontend/blob/master/tests/unit/test_cspConfig.js

(New link)

[2018-11-04 10:54] Vallkir opened #6818 ""Messages saver for facebook" addon"
My friend has sent me an addon which purpose was to download messages from Facebook (he was using it).
Here is the link:
https://addons.mozilla.org/en-US/firefox/addon/facebook-messages-saver/

Now it is not available. Is this one of the addons which caused a recent leak? Was it stealing our messages when we were trying to download it on our own discs?
Please help.
![mss](https://user-images.githu

[2018-11-04 17:13] #6413 closed

[2018-11-04 17:14] willdurand commented on #6413
Thanks for your first contribution @akshitkrnagpal! /cc @caitmuenster

[2018-11-05 03:41] grahamperrin commented on #6696
I used [Extension Conflict Troubleshooter](http://softwarebychuck.com/fect/fect.html) + reverse logic to identify the extension that _positively_ conflicts with (works around) the issue. Identified:

- [Classic Add-ons Archive](https://github.com/JustOff/ca-archive)

See above, the linked commit. So AFAICT:

- this issue 6696 is masked for e.g. Waterfox users of the extension
- re: the `56.*` `max

[2018-11-05 08:50] ioanarusiczki commented on #6413
@willdurand Is there something qa should check for this issue?
Thanks!

[2018-11-05 08:51] ioanarusiczki commented on #2346
@willdurand Please add some STR for qa or mark it "qa not needed".
Thanks!

[2018-11-05 08:55] willdurand commented on #6413
nope, thanks!

[2018-11-05 08:58] willdurand commented on #2346
@ioanarusiczki sorry, please check that we can still navigate to the landing pages (extensions, themes) and category pages (including the android page with the list of all categories).

[2018-11-05 09:54] ioanarusiczki commented on #6770
@willdurand I did not see regressions on the add-on detail page.

I've noticed a behavior that is reproducible on AMO prod too - the "Report this add-on for abuse" form closes when the "Mozilla add-on policy" link is clicked and then I return back on AMO. If I navigate to "Read all reviews" page and return on the detail page the abuse form is still displayed. This is also reproducible for "Report

[2018-11-05 10:02] ioanarusiczki commented on #6770
Verified on AMO dev with FF63 (Win10).

[2018-11-05 10:04] willdurand opened #6821 "Use camelcase for experiment/cookie names"
See: https://github.com/mozilla/addons-frontend/pull/6675#discussion_r230092274

---

We should use camel case for the experiment names, instead of snake cases because we use camel case everywhere else.

[2018-11-05 10:19] #6790 closed

[2018-11-05 10:20] #6144 closed

[2018-11-05 10:21] willdurand commented on #6144
**The experiment is only enabled in -dev**

[2018-11-05 10:22] willdurand opened #6822 "Enable A/B test for install button (green vs. blue) in -prod (and -stage) // AMO only"
We want to enable the _install button color_ experiment in all AMO envs. The experiment is described in #6144.

[2018-11-05 10:57] willdurand opened #6824 "Upgrade connected-react-router to 5.0.0 (from 4.5.0)"
We should upgrade `connected-react-router` to v5 to stay up-to-date.

**For QA:** please make sure client navigation works (for example, clicking an add-on on the homepage) and make sure canonical links are still correct in the HTML.

[2018-11-05 10:57] #6824 closed

[2018-11-05 13:20] ioanarusiczki commented on #2346
Verified on AMO dev with FF63 - Win10 & Android 8.0
The detail pages for extensions/themes are displayed. I also checked that the list of categories is displayed and then verified each category on Windows and then on Android.

[2018-11-05 14:13] willdurand commented on #6264
Got an update in https://github.com/mozilla/bedrock/issues/6164, looks good to go now!

[2018-11-05 14:40] willdurand commented on #6803
Upgrading was straightforward but Enzyme does not support the React Context API (not fully, not with `shallow`), which breaks some test cases...

[2018-11-05 14:52] #6264 closed

[2018-11-05 15:08] #6821 closed

[2018-11-05 16:08] willdurand commented on #6803
Documentation at: https://github.com/reactivestack/cookies/tree/master/packages/universal-cookie

[2018-11-05 16:26] ioanarusiczki opened #6827 ""Reply to this review" button is not displayed after deleting developer's reply"
STR:
1. Load AMO dev and make a developer reply for an add-on
2. Click the permalink
3. Delete the reply, from the upper part of the screen or the one below the review
4. Observe the available buttons below the review

Expected result:
"Reply to this review" and "Flag" are displayed.

Actual result:
Only "Flag" is displayed. The page must be refreshed to display "Reply to this review" button.

Not

[2018-11-05 16:34] ioanarusiczki commented on #6500
I tested the ratings, reviews and developer replies on the detail page, from the user profile page and the reviews page on AMO dev with FF63(Win10).
Besides the [known issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3A%22component%3A+add-on+ratings%22label%3A%22type%3A+bug%22+label%3A%22priority%3A+p3%22+) I filed https://github.com/mozilla/add

[2018-11-05 16:37] HarveyWilliams commented on #6811
The issue is `web-ext sign` signs the extension and deploys it to AMO, but this functionality is intended for self distribution only. Unlike when uploading to AMO, which asks if the extension should be public or private, the extension assumes that it should be private and currently does not support public distribution through AMO.

The public distribution through AMO feature is planned to be added

[2018-11-05 17:23] kumar303 commented on #6470
This could be related to https://github.com/mozilla/addons-frontend/issues/6447

[2018-11-05 17:30] kumar303 commented on #5854
The new designs will address this in a new way. That is, we won't need SSR here.

[2018-11-05 17:30] #5854 closed

[2018-11-05 17:37] kumar303 commented on #6246
I'm going to dupe this to https://github.com/mozilla/addons-frontend/issues/6579 because the screen changed it a bit and that bug talks about the new screens.

[2018-11-05 17:54] kumar303 commented on #6308
Before starting on it, let's take a look at the database to see if we got a meaningful drop off of written reviews or not. If so, this experiment would be worth pursuing.

[2018-11-05 19:43] kumar303 commented on #6515
To avoid pagination bugs, we need an API change for this. See https://github.com/mozilla/addons-server/issues/9906

[2018-11-05 20:54] kumar303 opened #6830 "Functional / UI tests should run against the local API"
In https://github.com/mozilla/addons-frontend/pull/6806#issuecomment-435511037 we discovered that the UI tests are using the default API (prod, I think?). They should always run against the local, Docker hosted API so that we can develop features against the master branch of `addons-server`.

Notes:
* The [docker-compose](https://github.com/mozilla/addons-frontend/blob/6a28276c1a69b7dd3c6487e91e5c

[2018-11-05 21:00] willdurand commented on #6830
Given that addons-server ui tests rely on addons-frontend, if we start requiring addons-server in this project, it is going to be... interesting. The problem with a local server is that you need a custom FF version (unbranded). I tried to setup the ui tests for -dev and that's what stopped me.

I am not sure it is a p2 though, it is likely the first issue since I started working on this project (~

[2018-11-05 21:16] kumar303 commented on #6830
Bah! I was confused. I thought [this script](https://github.com/mozilla/addons-frontend/blob/master/tests/ui/run-functional-tests.sh) was running the UI tests which would have meant that we were already building an image of `addons-server`. That script isn't used anywhere! I guess this issue no longer makes sense.

[2018-11-05 21:18] kumar303 commented on #6830
Oh, wait! It's in the hidden `.circleci` directory which is why I couldn't grep for it. Hold on, let me regain my sanity 😬

[2018-11-05 21:46] willdurand commented on #6830
mmh, I tried to do that locally *but* I just noticed that Travis _should_ use a nightly build, which _should_ work with -dev.

[2018-11-05 21:57] bobsilverberg commented on #3697
Note that the EULA portion of this will be addressed via PR #6833.

[2018-11-05 22:02] willdurand commented on #6830
That's all I have right now: https://github.com/mozilla/addons-frontend/pull/6832.

[2018-11-06 09:52] ioanarusiczki commented on #6790
I verified AMO homepage on AMO dev with FF63(Win10 & Android 8.0) and it looks good.
Final validation will be made on AMO prod.

[2018-11-06 09:57] willdurand opened #6836 "Use -dev API for ui tests"
We should use the `-dev` API instead of `-prod` in the `uitests` run on Travis CI to avoid issues like the one described in https://github.com/mozilla/addons-frontend/pull/6806#issuecomment-435511037.

[2018-11-06 10:09] willdurand opened #6837 "UI tests fail to install a static theme"
In #6836, we adopted the -dev API instead of -prod in the Disco Pane ui tests. Before that, we only surfaced lightweight themes in the -prod Disco Pane, but -dev lists static themes too.

UI tests fail to install a static theme for some reasons... The theme is successfully installed but the test case does not see the confirmation message and thinks the theme has not been installed...

I tried to u

[2018-11-06 10:09] willdurand commented on #6837
/cc @jrbenny35

[2018-11-06 10:34] muffinresearch opened #6838 "Investigate why speedcurve shows such changeable bundle sizes"
Looking at the speedcurve graphs tracking bundle-sizes they seem to change up and down with fairly extreme swings. This seems very strange.

Once suggestion would be to log to datadog via the HTTP API the bundle-sizes output by each build so we can compare with speedcurve.

This would would prove whether it's us or intermittently faulty measuring.

[2018-11-06 10:47] ioanarusiczki commented on #6824
@willdurand I verified this issue on AMO dev with FF63 (Win10) - navigation works
About the canonical links -> I've noticed that the Search Tool page https://addons-dev.allizom.org/en-US/firefox/search-tools/ is missing the canonical link in the HTML.

The dictionaries and language packs page have a canonical link

`<link rel="canonical" href="https://addons-dev.allizom.org/en-US/firefox/language-

[2018-11-06 10:48] willdurand opened #6839 "Fix tests related to Enzyme and React Context API"
In #6803, we upgraded `react-cookie`, which relies on the React stable Context API. Enzyme does not support it though (not for shallow rendering): https://github.com/airbnb/enzyme/issues/1647.

The workaround is to disable the HOC (with `jest.mock`) and to inject `cookies` to the component under test manually. Ideally, we should not have to do this. Once Enzyme supports the Context API better, we

[2018-11-06 10:51] willdurand commented on #6824
@ioanarusiczki it is up to you. In any case, it will be added in https://github.com/mozilla/addons-frontend/pull/6796. Very good catch, thanks!

[2018-11-06 11:07] willdurand commented on #6803
I found a nice workaround and filed: https://github.com/mozilla/addons-frontend/issues/6839 to remove it once Enzyme supports the Context API.

[2018-11-06 11:36] willdurand commented on #6771
:+1:

I think `query` is a string value here, and not `location.query`.

[2018-11-06 11:58] willdurand commented on #6771
I fixed the component.

[2018-11-06 12:22] rraue commented on #6527
Okay, now I got it. That's a really complicated setup. Wouldnt it be easier and better UX to separate the themes and extensions pages? If you as a user want to see the themes of a user, you need to scroll all the way down and besides the small icon on the top, nothing indicates the profile has created themes as well.

It is possible to do all the canonical work here, but I want to first check if s

[2018-11-06 12:40] ioanarusiczki opened #6841 "Add the canonical link for the Search Tool page"
Part of https://github.com/mozilla/addons-frontend/pull/6796
and follow up for https://github.com/mozilla/addons-frontend/issues/6824

STR:
1. Load AMO dev and go to Search Tools from More menu
2. Check for the canonical link in the HTML

Expected result:
`<link rel="canonical" href="https://addons-dev.allizom.org/en-US/firefox/search-tools/" data-react-helmet="true">`  is available

Actual result

[2018-11-06 12:48] ioanarusiczki commented on #6824
@willdurand Alright. It's better twice than getting away. https://github.com/mozilla/addons-frontend/issues/6841

[2018-11-06 12:54] willdurand commented on #6527
This is pretty much the latest/new design. See also: https://mozilla.invisionapp.com/share/YCCYEOFRH#/310799956_User_Profile_-_View_-_1366px. There is no plan to change that page any time soon and not a lot of users will have both sections AND a lot of pages for each add-on type.

On a more personal note, I do prefer to have everything the user has produced on a single page rather than browsing di

[2018-11-06 12:59] rraue commented on #6527
If we don't want to change it, here is what we need to do:

both page_e=X and page_t=X sort content, so all possibilities need to be indexed but we need to make sure, that not all combinations are indexed.

I will assume a example profile with both three pages for extensions and three for themes and here is a list of all combinations and their canonicals: [AMO profile pages canonicals](https://doc

[2018-11-06 13:13] #6836 closed

[2018-11-06 13:30] ioanarusiczki commented on #6264
I verified the new Privacy Policy link on AMO dev Disco Pane with FF63 (Win10)
The new page redirects to https://www.mozilla.org/en-US/privacy/firefox/?utm_content=privacy-policy-link&utm_medium=firefox-browser&utm_source=discovery.addons.mozilla.org#addons and lands on the Add-on section of the page (as mentioned [above](https://github.com/mozilla/addons-frontend/issues/6264#issue-360859054))

![

[2018-11-06 13:34] bobsilverberg commented on #3697
We're going to render the text of the license, so I think it would be better to just know that a custom license exists. I'll open an issue for the API requesting that.

[2018-11-06 13:40] rraue opened #6842 "Hreflang fix (only self-canonicalized pages must have hreflang)"
### Describe the problem and steps to reproduce it:

Our new hreflang setup has one flaw. Its producing a lot of "no return tag" errors which can confuse the whole setup.
<img width="1779" alt="screen shot 2018-11-06 at 14 32 11" src="https://user-images.githubusercontent.com/36700618/48067541-d521a800-e1d0-11e8-90c5-f764353b7cfd.png">

They appear on pages with a parameter because these pages are

[2018-11-06 13:51] bobsilverberg commented on #3697
I've opened https://github.com/mozilla/addons-server/issues/9914 and https://github.com/mozilla/addons-server/issues/9915 to simplify implementing this page, so I'm going to mark this as blocked for now.

[2018-11-06 14:00] bobsilverberg opened #6843 "Add new routes for privacy policy and eula view"
We'll need new routes in nginx to route requests for the privacy policy and eula to the new front-end. Here is what we need:

Privacy policy: addon/:slug/privacy/
Eula: addon/:slug/eula/

Both of these are slated to land in https://github.com/mozilla/addons-frontend/pull/6833.

These should both be enabled on dev only once #6833 lands, and I will update this issue when we want them turned on for s

[2018-11-06 14:12] rebmullin opened #6845 "Set up GuidesAddonCard"
This is the addon card that's part of the guides page.

REF:
design:
mozilla.invisionapp.com/d/main/#/console/15640858/324863887/preview

content:
docs.google.com/document/d/1u1tbRo_ivfEAh_er2XKPciuYLARiNa2N5qXPGC0jfcY/edit?ts=5bbcb799

[2018-11-06 14:44] bobsilverberg opened #6846 "Update core/utils/addons.js to use a direct version"
This supports #2770. As part of removing `current_version` and `platformFiles` from `addon` and using an actual version from the versions redux state for that data, we need to update the code in `core/utils/addons.js` to not expect to find that data in an addon.

For QA: Please check installing add-ons on both AMO and disco pane.

[2018-11-06 15:17] #4529 closed

[2018-11-06 15:49] kumar303 opened #6847 "Remove translate() from CategoriesPage and fix up the class"
1. Remove the `translate()` decorator from `CategoriesPage` as it's no longer needed:

https://github.com/mozilla/addons-frontend/blob/ae58edef9eed0de3b9b5a6c07d2da60bfa05a651/src/amo/pages/CategoriesPage/index.js#L28

2. Rename `CategoriesPageBase` to `CategoriesPage` without any decorators.

**For QA** Please check for regressions on any of the *categories* linked from https://addons-dev.allizom

[2018-11-06 17:14] #6842 closed

[2018-11-07 09:47] xu3u4 commented on #6827
Hello,
May I take this one?
Thanks.

[2018-11-07 12:18] AlexandraMoga commented on #4529
Verified fixed on AMO -dev with FF63, Win10x64

![2018-11-07_13-55-58](https://user-images.githubusercontent.com/31961530/48131097-8e4ab580-e297-11e8-996a-05ff7a252379.gif)

[2018-11-07 15:41] kumar303 commented on #6629
Please update the description with instructions for how QA should test this.

[2018-11-07 16:02] ioanarusiczki commented on #6842
@willdurand I verified this issue on AMO dev with FF63 (win10)
The links with `hreflang` are not displayed when the URL contain query parameters.
I checked with multiple scenarios. Navigating from the detail page to another extension/theme from the More extensions section or while making a search for an extension/theme. However, if the extra query parameters are deleted and page refreshed the `hre

[2018-11-07 16:35] bobsilverberg commented on #6629
For QA:

Please test installing an add-on and a theme, both from AMO and disco page. Also check for regressions in the messaging around incompatible extensions, both in terms of incompatible versions and for when Firefox is not the client.

[2018-11-07 16:37] #6735 closed

[2018-11-07 16:41] bobsilverberg commented on #6843
@bqbn This has landed on dev so can be actioned whenever you are able to do so.

[2018-11-07 16:46] #6487 closed

[2018-11-07 17:39] kumar303 commented on #6629
Our issue template encourages describing the steps to reproduce the problem so when we omit that, the issue should include steps for testing (i.e. QA instructions). It's not always easy to dig through the thread of comments to find instructions.

[2018-11-07 17:56] kumar303 commented on #6746
Yes, the *add to collection* select box should load whenever the page first loads. This is expected. You have to be signed in to see this behavior so perhaps when you could not reproduce it, you were not signed in.

[2018-11-07 18:22] ekoeditaa commented on #6224
Is this issue fixed yet? I checked on my local development setup and I don't see this issue. Both the options are justified with space between for smaller screen sizes and it is behaving that way.
Am I checking the wrong thing? Appreciate the help. Thank you!

[2018-11-07 18:40] bobsilverberg commented on #6629
Ok, I'll add it to the description. I have generally just added a comment at the bottom of the issue with "For QA:" and that seems to have worked in the past, but I can add it to the description as well.

[2018-11-07 19:12] willdurand commented on #6689
I updated the list of things to change.

[2018-11-07 19:21] bobsilverberg opened #6858 "Update tests/unit/amo/pages/TestAddon.js to avoid shallowRender where possible"
This is a follow-up to https://github.com/mozilla/addons-frontend/pull/6806#discussion_r231580650. There are a lot of tests in `tests/unit/amo/pages/TestAddon.js` which don't need to use `shallowRender` and could use `shallowUntilTarget` instead.

[2018-11-07 20:52] #6803 closed

[2018-11-07 21:22] #6774 closed

[2018-11-07 21:22] #6841 closed

[2018-11-07 22:51] kumar303 commented on #6246
Actually, yeah, after I got past the issue in https://github.com/mozilla/addons-frontend/issues/6579 I can see the problem with using the keyboard to access the *Submit review* button. I am re-opening this but I did update the description to fix the button names (which changed in some redesigning).

[2018-11-07 22:53] kumar303 commented on #6579
After this fix lands, we need to make sure everything works on Android. I need to change some things that may cause problems.

[2018-11-08 07:05] AlexandraMoga commented on #6224
This looks fixed indeed.

[Addon details]
![image](https://user-images.githubusercontent.com/31961530/48182786-34003200-e335-11e8-8a5b-77040230b972.png)

[Reviews page]
![image](https://user-images.githubusercontent.com/31961530/48182792-395d7c80-e335-11e8-9901-e678a7aa0703.png)

[2018-11-08 08:58] #6224 closed

[2018-11-08 09:53] willdurand opened #6862 "Add-on detail pages on Android when add-on is a static theme"
See also: https://github.com/mozilla/addons-frontend/issues/6689

---

We plan to migrate lightweight themes (LWT) to static themes (ST) on November 19th. Android currently does not support static themes, hence #6689 to hide everything related to themes (static themes because there won't be any LWT anymore).

ST detail pages are available for Firefox and Android:

- https://addons.mozilla.org/en-U

[2018-11-08 09:55] ioanarusiczki commented on #6794
I verified this issue on AMO stage (FF63)
I checked for a couple of  extensions and themes the `alternate` links and followed instructions from https://github.com/mozilla/addons-frontend/issues/6644 to check on these plus de tool
https://app.hreflang.org/
Looks good to me.

[2018-11-08 10:01] willdurand commented on #6862
Note: it is possible that some ST will appear in collections and because the API always returns ALL the add-ons, no matter the `clientApp`, ALL add-ons including ST will be listed in a collection detail page.

This behavior is different than the Search API, which takes the `clientApp` into consideration. That is why we don't have to do anything in the search result pages.

[2018-11-08 10:10] muffinresearch commented on #6862
Aside from SEO implications which @rraue needs to address - I would think it would make sense to just leave these pages as is since the compatibility error is informative - assuming @jvillalobos.

[2018-11-08 11:23] willdurand opened #6864 "Create a `HeadMetaTags` component"
See also: #6555

---

In order to add more `meta` tags to all other pages (not add-on detail pages), we need a component that does that in a generic manner.

**For QA:** please make sure OpenGraph metadata are still present in the HTML of an add-on detail page (#3969), as well as the `meta[name="description"]` (#5766), `meta[name="date"]` and `meta[name="last-modified"]` (#5916) tags.

[2018-11-08 12:38] muffinresearch opened #6866 "Invariant Violation: "Method "discoverynavigation" must be one of the registered values"
### Describe the problem and steps to reproduce it:

An event that logs tracking events when clicking the "Find more add-ons button" isn't registered and causes an invariant violation.

[code]

Refs: #6797

[2018-11-08 12:43] muffinresearch opened #6867 "Unhandled promise rejection Invariant Violation: "Method "addoninstallsdownloa" must be one of the registered values:"
### Describe the problem and steps to reproduce it:

An event that logs an event for `AMO Addon Installs Download Failed` isn't registered and causes an invariant violation.

Another problem here is that due to string limitations the meaning of this message is hidden.

[code]

I think to fix this the registration of the events needs to be improved as well as covering the possibility of this specif

[2018-11-08 14:36] willdurand commented on #6555
@pwalm ^

[2018-11-08 15:05] #6822 closed

[2018-11-08 15:23] #6847 closed

[2018-11-08 15:41] willdurand opened #6870 "Do not render featured "theme" collections on Android"
The homepage shows various shelves. Among them, we sometimes render featured collections. Featured collections seem to contain only "extensions" or "themes" and it is all or nothing. That is why we have a `isTheme` prop in the metadata: https://github.com/mozilla/addons-frontend/blob/50ac9c5e2ba43a95020dad1dd6e9405aa1c6c5a3/src/amo/pages/Home/index.js#L50-L65

We should find a nice way to NOT rend

[2018-11-08 15:53] #6689 closed

[2018-11-08 16:36] rraue commented on #6862
I agree if someone searches for this and wants it on android, with the result page the user knows it's not available and that's all the user needs to know and more than we would have if not indexed. Let's leave it like it is.

[2018-11-08 17:05] jvillalobos commented on #6862
Agree. Show page with compatibility message.

[2018-11-08 17:15] #6862 closed

[2018-11-08 17:15] willdurand commented on #6862
perfect, thanks!

[2018-11-08 21:34] #6771 closed

[2018-11-08 21:51] #6870 closed

[2018-11-08 21:53] #6629 closed

[2018-11-08 22:32] #6538 closed

[2018-11-08 22:57] bqbn commented on #6843
This is deployed to -dev.

Please notify us when it's time for -stage and -prod.

[2018-11-09 11:16] jrbenny35 commented on #6837
I am waiting on this [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1505425) so that I can get an HTML report from the tests to get some more insight.

[2018-11-09 11:18] willdurand commented on #6837
I plan to look at it today too (locally, I'll enable the HTML report).

[2018-11-09 12:37] ioanarusiczki opened #6873 "When an add-on was manually approved by an admin the "Review add-on code" link is not displayed for another reviewer"
STR:
1. Load AMO dev and with an Admin account approve an extension manually
2. Go to the add-on detail page and log out then login with an account from the Reviewers: Add-ons Group
3. Click the "Review add-on code" from Admin Links

Expected result:
The review page is displayed. Such as https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/woosh-sease-gorpi

Actual result:
Oops! Not all

[2018-11-09 13:03] Korb opened #6874 "Google Search "View Image" Button addon is unavailable"
https://addons.mozilla.org/ru/firefox/addon/google-search-view-image/

Is the add-on removed by the developer?

[2018-11-09 13:04] bobsilverberg commented on #6873
I'm not sure I fully understand the issue here, but it sounds like it's an issue with permissions. Either the Reviewer Tools isn't interpreting the permissions correctly, or we shouldn't be displaying the link in the Add-on Detail Page if the user shouldn't actually be able to access the reviewer tools page.

@wagnerand Do you understand the issue and can you comment on where you think the bug is?

[2018-11-09 13:05] #6802 closed

[2018-11-09 13:16] wagnerand commented on #6873
@ioanarusiczki could you provide a screencast of the this for a reviewer that does not have the Legacy permissions? (I am mostly interested in the the URL the log entry points to, so just that would be sufficient as well). I assume they link to slightly different URLs, since there is a lot of redirection going on in reviewer tools...

[2018-11-09 13:36] #6864 closed

[2018-11-09 14:03] AlexandraMoga opened #6875 "Themes are listed as search results on Android"
Follow up for #6689

STR:

1. Open AMO homepage on an android device - https://addons-dev.allizom.org/en-US/android/
2. Enter a search term, i.e "fire"
3. Observe the results

Actual result:
Themes are listed as search suggestions

Expected result:
No Themes are found in search

Notes:
- reproduced on AMO -dev with FF63, Android 8.0

![2018-11-09_16-01-16](https://user-images.githubusercontent.com

[2018-11-09 14:18] willdurand commented on #6875
@AlexandraMoga those themes are LWT, not ST, right? LWT are allowed (the Search API returns compatible add-ons, and LWT are compatible with Android).

[2018-11-09 14:41] willdurand opened #6876 "Make `HeadMetaTags` more generic"
See also #6555

---

The `HeadMetaTags` component works well for detail pages but not for all the other pages. Let's change it!

- add a `appendDefaultTitle` boolean prop: this is required because other pages should have an additional title (not just "Themes" for the "themes" landing page for example) while add-ons have great titles already
- `title` prop must be optional: the homepage does not ha

[2018-11-09 14:41] #6876 closed

[2018-11-09 15:05] willdurand commented on #6837
Driver logs:

[code]

[2018-11-09 15:16] willdurand commented on #6837
ah well, I found the issue.

[2018-11-09 15:30] #6357 closed

[2018-11-09 15:31] willdurand commented on #6357
Thanks for your very first contribution @HosseinMarzban! /cc @caitmuenster

[2018-11-09 15:39] #6579 closed

[2018-11-09 15:39] #6246 closed

[2018-11-09 15:42] jvillalobos commented on #6874
It was removed due to a code review issue. The add-on page will come back once the developer addresses the issues brought up and submits a new version.

[2018-11-09 15:42] #6874 closed

[2018-11-09 15:45] SeanPrashad commented on #6357
Also if you're wondering why I'm showing up in the commits, I helped @HosseinMarzban clean up the commits in his PR as it covered two issues instead of one - he implemented this patch all on his own!

[2018-11-09 15:45] willdurand commented on #6804
`pino` actually provides a way to configure the time function: https://github.com/pinojs/pino/blob/master/docs/api.md#opt-timestamp. I also found this lib: https://github.com/kamicane/microseconds. I can probably put everything together.

I have to update `pino-mozlog` too (because this lib currently does the milli -> micro conversion).

[2018-11-09 15:49] willdurand commented on #6804
I should actually find a nanoseconds lib because that's what we need to be mozlog-compliant: https://wiki.mozilla.org/Firefox/Services/Logging.

[2018-11-09 16:15] bobsilverberg opened #6878 "Move userAgentInfo into mapStateToProps in withInstallHelpers"
This is a follow-up to https://github.com/mozilla/addons-frontend/pull/6848#discussion_r232264142. Once #6848 lands we'll have a `mapStateToProps` in `withInstallHelpers` and we could move `userAgentInfo` out of `WithInstallHelpersProps` and into `WithInstallHelpersInternalProps`.

[2018-11-09 16:19] willdurand commented on #6878
Upgraded to p3 because that's quite important.

In addition to that, we should also remove the useless checks in `makeMapDispatchToProps`: https://github.com/mozilla/addons-frontend/blob/9eb6d09e6bd20f49014258e3b2454912e7229c0c/src/core/installAddon.js#L525-L545

We can add `invariant` statements in the newly added `mapStateToProps`. We can probably refactor this `makeMapDispatchToProps` function

[2018-11-09 19:18] rebmullin commented on #6787
this is where we are doing something like this for the link:

[code]

[2018-11-09 19:51] #6846 closed

[2018-11-09 19:53] willdurand commented on #6878
I've upgraded this issue again because #6848 has highlighted a more important issue. I'll update this issue ASAP but the gist is: the HOC assumes an `addon` is always available (and valid), but it is not correct or, at least, it should not be done that way anyway.

My explanation on IRC:

[2018-11-09 19:54] #6837 closed

[2018-11-09 20:37] kumar303 commented on #6878
If you load the home page then click on any add-on, it begins rendering with `addon=null`. It probably works because the user cannot trigger any install functions during that time.

[2018-11-09 20:40] #6555 closed

[2018-11-09 20:46] #6804 closed

[2018-11-09 20:46] willdurand commented on #6878
right, and we check for `undefined` 😓

[2018-11-09 23:04] kumar303 opened #6883 "Auto-save text entered into DismissibleTextForm"
### Describe the problem and steps to reproduce it:

* begin editing some text on any component that uses `DismissibleTextForm` (see examples below)
* close the browser tab accidentally

### What happened?

Your text is lost.

### What did you expect to happen?

When you reload the tab and start over, you should see the text that you were working on.

### Anything else we should know?

The followi

[2018-11-10 16:24] FatOrangutan opened #6886 "On some pages, `.ShowMoreCard.AddonDescription` is missing bottom left&right border radius"
### Describe the problem and steps to reproduce it:
1. Visit https://addons.mozilla.org/en-US/firefox/addon/violentmonkey/ and https://addons.mozilla.org/en-US/firefox/addon/beanfun-extension-check/
2. Compare the bottom border radius of their `About this extension` cards.

### What happened?
Unlike beanfun's listing page, Violentmonkeys' `.ShowMoreCard.AddonDescription` card is missing `.Card--no

[2018-11-10 19:17] HosseinMarzban commented on #6886
We can remove this tow lines:
[code]

And then add this two lines to the parent like below:
[code]
Is that proper way? @willdurand

[2018-11-10 20:55] willdurand commented on #6886
mmh, I don't think it is that simple unfortunately. This is a known bug, because this card is sometimes "compacted" (with a "show more" button to expand its content) for small screens.

[2018-11-10 21:10] HosseinMarzban commented on #6886
@willdurand, you right, that one was hardcode, what about this one:
[code]
this one definitely work, and does not effect when "compact" in small screens.

[2018-11-10 21:11] willdurand commented on #6886
Feel free to submit a PR, we'll extensively test it.

[2018-11-12 03:01] rodrigo435f opened #6891 "https://www.educabras.com/enem/materia/sociologia/aulas/desigualdade_de_genero"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-11-12 07:17] AlexandraMoga commented on #6735
Verified fixed on AMO -dev with FF63, Win10x64

![2018-11-12_09-12-39](https://user-images.githubusercontent.com/31961530/48332198-a46fc180-e65b-11e8-9dc5-10d7cb42db67.gif)

[2018-11-12 07:38] AlexandraMoga commented on #6246
Verified fixed on AMO -dev with FF63, Win10x64

![correct button selection](https://user-images.githubusercontent.com/31961530/48333056-af782100-e65e-11e8-92a2-ae784ac5fa66.gif)

[2018-11-12 09:06] ioanarusiczki opened #6892 "Login is not working on AMO dev"
STR:
1. Load AMO dev and try to login.

Actual results:
502 Bad Gateway is displayed after clicking the button.

Expected results:
The User and password fields are displayed. The user can login.

Notes:
Issue is reproducible from Dev Hub too.
Reproducible on AMO dev with FF63 (Win10).  Not reproducible on AMO stage.

![502 bad gateway](https://user-images.githubusercontent.com/33448286/48337209-ff

[2018-11-12 09:39] ioanarusiczki commented on #6892
Since I've been notified that this is an fxa issue I moved it here https://github.com/mozilla/fxa/issues/326

[2018-11-12 09:39] #6892 closed

[2018-11-12 10:02] #6891 closed

[2018-11-12 10:21] willdurand commented on #6842
Looks like the fix starts to be effective:

![screen shot 2018-11-12 at 11 17 51](https://user-images.githubusercontent.com/217628/48341323-0e449700-e66d-11e8-847a-97abfce96a73.png)

[2018-11-12 12:52] AlexandraMoga commented on #6579
Verified fixed on AMO -dev with FF63, Win10x64 and Android 8.0

I didn't find any regressions on Android around the ratings and review functionalities.

![correct button selection](https://user-images.githubusercontent.com/31961530/48348599-7eade100-e68a-11e8-94b5-230b0849232f.gif)

[2018-11-12 12:53] ioanarusiczki commented on #6864
Verified on AMO Dev - FF63 (Win10)
I checked the metadata on extensions, static themes and lw themes - on their detail pages. All in place.

An example here

![metadata re-check](https://user-images.githubusercontent.com/33448286/48348647-9d13dc80-e68a-11e8-8d90-2704a4b5e082.png)

[2018-11-12 13:10] ioanarusiczki commented on #6841
Verified on AMO dev - FF63(Win10)

![cannonical link for search tools](https://user-images.githubusercontent.com/33448286/48349480-0bf23500-e68d-11e8-989f-0574fec48881.png)

[2018-11-12 13:27] willdurand opened #6894 "Refactor some test cases in `installAddon` test suite"
See also: #6878

---

Some test cases should be rewritten in https://github.com/mozilla/addons-frontend/blob/dcdad1e1fcb0fcf47a9b42767877eb77a30c6f47/tests/unit/core/test_installAddon.js to support #6878 and likely fix the issues in #6882.

[2018-11-12 14:13] ioanarusiczki commented on #6846
Verified on AMO dev - FF63 (unbranded) (Win10)

I tested installation with a few extensions, static themes, language packs and dictionaries. Also, lw themes still can be installed.

Also
Install on Disco Pane -dev

![disco pane dev](https://user-images.githubusercontent.com/33448286/48352441-5972a000-e695-11e8-889e-6e19100504c3.gif)

Install from AMO -dev

![amo dev](https://user-images.githubuser

[2018-11-12 14:21] #6894 closed

[2018-11-12 14:49] ioanarusiczki commented on #6873
@wagnerand URL is https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/woosh-sease-gorpi
but I repeated the test and what I initially said about the Add-on Review Log is not correct, meaning that when I click the Approved link from the Add-on Review Log for a content reviewer without legacy rights I don't see the review page displayed.

Therefore I think this issue should be moved to se

[2018-11-12 15:16] ioanarusiczki commented on #6802
I've been testing this for https://github.com/mozilla/addons-frontend/issues/6846
No regressions found.
Verified on AMO dev with FF63 unbranded (Win10) & Android 8.0

[2018-11-12 15:43] wagnerand commented on #6873
Ah, you didn't mention you are trying as a content reviewer, not an add-on reviewer. For content reviewers, the correct url would be https://reviewers.addons-dev.allizom.org/en-US/reviewers/review-content/woosh-sease-gorpi

[2018-11-12 15:52] ioanarusiczki commented on #6873
@wagnerand My mistake again, I just wrote content reviewer but I am talking about an add-on reviewer , I know the difference but in a hurry I wrote "content" instead of "add-on".

[2018-11-12 16:10] wagnerand commented on #6873
Ok, then I agree, it's probably a permission issue, so in addons-server.

[2018-11-12 16:16] AlexandraMoga opened #6897 "HTML formatted text is not rendered in Privacy and EULA pages on the new frontend"
Follow up for https://github.com/mozilla/addons-frontend/issues/1828

STR:
1. Open an EULA/Privacy policy for an add-on on the new frontend - i.e. https://addons-dev.allizom.org/en-US/firefox/addon/adblock-plus/privacy/
2. Open the same page in the legacy website
3. Compare results

Actual result:
HTML formatted text is not rendered on the new frontend

Expected result:
Since both EULA and privacy

[2018-11-12 19:38] buttercookie42 opened #6899 "Re-enable static theme support for Android"
Companion issue to mozilla/addons-server#9941: As of [bug 1429488](https://bugzilla.mozilla.org/show_bug.cgi?id=1429488), the feature set of themes that was supported on Android with LWTs is also working with static themes now. At the moment this is only in Firefox 65, which would hit Release next February, and at this stage it's not clear whether an uplift to 64 (mid-December) is still possible o

[2018-11-12 19:58] rebmullin opened #6900 "While guide addons are null use the LoadingText component"
While we are fetching the addon we should show loading text instead of blank space

[2018-11-12 20:15] #6886 closed

[2018-11-12 20:26] rebmullin opened #6901 "Extract Get Firefox Button into a component"
Extract the "Get Firefox" button into its own component.

For QA: Please verify that the "Get Firefox" still appears where it is expected to appear and hasn't changed its appearance in any way.

[2018-11-12 20:32] rebmullin commented on #6603
@bobsilverberg, would you be okay if we extracted out the Get Firefox Button into a separate issue (#6901)?

[2018-11-12 20:37] rebmullin opened #6902 "Extract out renderInstallError into its own component"
Now that we've used this a few times, we should make this into its own component.

QA instructions: Please make sure install error notices still appear

[2018-11-12 20:41] rebmullin opened #6903 "Allow AddonCompatiblityError to determine its own compatibility"
I discussed this with @rebmullin over Vidyo. Both `AddonCompatibilityError` and the new `InstallButtonWrapper` (which I'll be implementing via #6603) need compatibility info to function. The current approach to this is to get the compatibility info in the parent (currently `Addon`, but soon `GuidesAddonCard` and `AddonVersionCard`) and then pass it into `AddonCompatibilityError` and also use it to

[2018-11-12 22:52] kumar303 opened #6906 "Circle CI integration test is timing out (exceeding 10 minutes)"
The integration test that runs on Circle CI has timed out in the last three runs with the error 'Too long with no output (exceeded 10m0s)'. The last log message was:

[code]

This looks like it was still processing some kind ES related task.

Example: https://circleci.com/gh/mozilla/addons-frontend/11329

[2018-11-12 22:53] kumar303 commented on #6906
@jrbenny35 could you take a look? Is this test crucial? We already run a similar test against the dev server from Travis CI.

[2018-11-12 22:58] willdurand commented on #6901
I removed the "component: code quality" label because it is not a code quality issue but a requested follow-up issue.

[2018-11-12 22:58] willdurand commented on #6901
I removed the "component: code quality" label because it is not a code quality issue but a requested follow-up issue to break a big patch in smaller ones.

[2018-11-12 23:00] willdurand commented on #6903
I removed the "component: code quality" label because it is not a code quality issue but a requested follow-up issue to break a big patch in smaller ones.

[2018-11-12 23:05] willdurand commented on #3234
We started to use various `createXYZ` helpers, so maybe we could introduce a `createFakeAddon` helper like:

[code]

That would ease the migration.

[2018-11-12 23:07] willdurand commented on #2594
@kumar303 is it the issue you mentioned in a recent patch?

[2018-11-12 23:07] willdurand commented on #2664
@kumar303 given all the work around reviews, is this issue still relevant?

[2018-11-12 23:10] kumar303 opened #6907 "ReportAbuseButton should use DismissibleTextForm"
The [`ReportAbuseButton`](https://github.com/mozilla/addons-frontend/blob/9366b4b6856dbc99371f3aa1f9e80ec113952271/src/amo/components/ReportAbuseButton/index.js) component should use [`DismissibleTextForm`](https://github.com/mozilla/addons-frontend/blob/9366b4b6856dbc99371f3aa1f9e80ec113952271/src/ui/components/DismissibleTextForm/index.js). Take a look at [`ReportUserAbuse`](https://github.com/m

[2018-11-12 23:10] kumar303 commented on #6380
Some complimentary clean-up will happen in https://github.com/mozilla/addons-frontend/issues/6907

[2018-11-12 23:13] kumar303 commented on #6907
duplicate of https://github.com/mozilla/addons-frontend/issues/3279

[2018-11-12 23:13] #6907 closed

[2018-11-12 23:15] kumar303 opened #6908 "Add request ID to Sentry errors"
We should pass our fancy new request ID to Sentry so that we can correlate any error with related logging.

[2018-11-13 07:41] AlexandraMoga commented on #1828
Verified fixed on AMO -dev with FF63, Win10x64 and Android 8.0

![image](https://user-images.githubusercontent.com/31961530/48397874-d77f8700-e727-11e8-8c23-feb017aeb4b8.png)

![image](https://user-images.githubusercontent.com/31961530/48397882-dcdcd180-e727-11e8-99d8-9d8966d08e89.png)

I've filed #6897 for the HTML rendering issue

[2018-11-13 07:57] AlexandraMoga commented on #6897
@reevan100 on the legacy frontend, you can clearly see that the text is organized (the sections are better delimited, outgoing links are highlighted etc) while on the new frontend the information is displayed as plain text.
The solution here is to make the new frontend recognize the HTML formats provided by the user.

For your reference, this is how the raw input of the page I mentioned looks like

[2018-11-13 08:42] ioanarusiczki commented on #6774
@willdurand I checked the pages you mentioned and they display now the `alternate` links with `x-default` en-US, `en` and `pt` were added. Also checked the meta-properties and they're displayed.
Because of https://github.com/mozilla/addons-frontend/issues/6689 we do not have Themes for android therefore no categories or any other pages.

I've noticed that the `og:type` and `og:locale` are displaye

[2018-11-13 09:19] reevan100 commented on #6897
@AlexandraMoga I got it and fixed the issue also thank you so much.

[2018-11-13 09:30] rolwin100 commented on #6897
Hi, @AlexandraMoga How can I submit my patch can you please help me with this.

[2018-11-13 09:37] willdurand commented on #6897
@reevan100 @rolwin100 sorry but this is not an issue for external contributors. You can find external contributor-friendly issues by looking at the [opened `contrib: welcome` issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2018-11-13 09:38] willdurand commented on #2664
Thanks! That'd be a nice improvement indeed

[2018-11-13 10:03] willdurand commented on #6901
ah, that's quite correct. I'll re-add the label. As I understood the comment in the PR, it was more than a "nice to have", but what you said above is valid. Sorry for the confusion.

 Yet, I believe the feature should be built upon

Yep, we should use `qa: not needed` with parsimony. I am a big fan of QA, even if it means more time for us to write down STRs or instructions about what to check. Her

[2018-11-13 10:37] ioanarusiczki opened #6912 "500 internal server error when loading the edit user profile page"
STR:
1. Load AMO dev and login then click Edit my profile from the drop down menu displayed below the username

Expected result:
Page loads without errors

Actual result:
500 Internal Server Error message is displayed.

Notes:
This issue is reproducible on AMO dev with FF63(Win10). Not reproducible on AMO stage.

![server error](https://user-images.githubusercontent.com/33448286/48407967-c55e1280-

[2018-11-13 11:55] willdurand commented on #6897
We can still take a look but make sure to start with `contrib: welcome` issues and read the documentation:

- https://github.com/mozilla/addons-frontend/blob/master/README.md
- https://github.com/mozilla/addons-frontend/blob/master/CONTRIBUTING.md
- https://addons-frontend.readthedocs.io/en/latest/

If you have a patch that works and that is tested, then you can still submit a Pull Request.

[2018-11-13 13:17] willdurand commented on #6912
This is not a frontend issue but a server issue, already filed here: https://github.com/mozilla/addons-server/issues/8421.

The -dev Basket API returns 500 errors, which impacts the notifications API endpoint. There is nothing we can do right now (AMO team) but the Basket team has been pinged on both Slack and IRC.

[2018-11-13 13:17] #6912 closed

[2018-11-13 13:19] bobsilverberg commented on #6901
Thanks for the ping @rebmullin. I am actively working on #6603, and at this point I wasn't planning on extracting the Get Firefox button into its own component, but rather having a single component that would return either the Get Firefox button or an install button. But I do think having it as its own component is a good idea. Unless you are already actively working on this I'd be happy to just t

[2018-11-13 13:33] bobsilverberg commented on #3234
We just need to be careful that everyone understands the naming conventions. `fakeAddon` is an *external* addon, not an internal addon (as are all of the other `fakeXxx` objects afaik). The name `createFakeAddon` therefore seems a bit ambiguous to me: does it create an external addon or an internal addon? It sounds from the above comment that we should assume that any `createXxx` function creates

[2018-11-13 13:38] willdurand commented on #3234
Yep, that makes sense. I like the naming conventions suggested here.

- `fakeXYZ` should be the raw/external objects
- `createXYZ` should be explicit, so if we need a way to create fake internal addons, the function should be named `createInternalFakeAddon`. That being said, writing `createInternalAddon(fakeAddon)` makes sense and is not a lot longer than the function name mentioned previously

Ye

[2018-11-13 13:39] ioanarusiczki opened #6914 "The text is not visible after a page refresh - report an add-on for abuse"
Followup for https://github.com/mozilla/addons-frontend/issues/6883

STR:
1. Load AMO dev and login then open an add-on detail page
2. Click Report this add-on for abuse
3. Type in some text and then refresh page

Expected result:
After reopening the text box the text is still visible.

Actual result:
The text is no longer displayed.

Notes:
This issue is not reproducible with the collection notes

[2018-11-13 13:40] bobsilverberg commented on #6903
@willdurand I'm sure you have your reasons for not wanting this labelled with "component: code quality", and I don't really have a problem with that, but I did want to point out that I do think it is a valid code quality bug.

Even though it's a follow-up, it's something that could be deferred as it has no impact on behaviour (or performance, afaict). I realize that @rebmullin probably intends to

[2018-11-13 13:40] willdurand commented on #6914
Yep, this textarea is not auto-saved. This is a duplicate of #3279.

[2018-11-13 13:40] #6914 closed

[2018-11-13 13:41] ioanarusiczki commented on #6883
@kumar303 I verified this issue on AMO dev with FF63(Win10)
I tested the affected flows and noticed that this works for all cases. I tried closing and reopening a tab, closing and reopening the browser (when only one tab is available with the option to restore the previous session) and I also tested refreshing page.

The only scenario when text is not available is when the page is refreshed when r

[2018-11-13 13:42] ioanarusiczki commented on #6914
@willdurand Alright. I filed it as a followup for https://github.com/mozilla/addons-frontend/issues/6883 because it's working now for the reviews and developer replies.

[2018-11-13 13:49] willdurand commented on #6903
The rationale behind that is that we should distinguish requested follow-up issues and the "nice to have" issues to improve the overall code quality. This issue was requested to go forward and be able to merge a PR instead of iterating on the same PR, but that was not an option. If we tag this issue as code quality, the request becomes optional and therefore stale.

[2018-11-13 13:52] bobsilverberg commented on #6603
@rebmullin I replied in #6901 as well. I agree this is a good idea, we just need to figure out who's going to do it as it would be the next thing on my list to do.

[2018-11-13 13:56] bobsilverberg commented on #6873
It sounds like everyone agrees this is a server issue. @ioanarusiczki Can you move this to addons-server?

[2018-11-13 13:58] willdurand opened #6915 "Redirect user profile pages (only public pages, not edit pages): username => user ID"
See also: #6526

---

After #6526, all user profile pages are accessed using the user ID in the URL and not the `username` anymore. All the links generated by AMO use the user ID too, but we should support the old URLs (i.e. the URLs containing `username`s).

⚠️ we will not redirect "edit" profile URLs because those URLs are not public/published.

**For QA:** make sure that loading a profile page

[2018-11-13 14:27] rebmullin opened #6916 "Follow up on how +Add for guide pages should look/be implemented on non-firefox browsers"
See https://github.com/mozilla/addons-frontend/issues/6432#issuecomment-433083079

I am adding this as its own issue so it stays on our radar.

[2018-11-13 14:30] ioanarusiczki opened #6917 "The review is not visible after closing and reopening a tab without refreshing page"
STR:
1. Load AMO dev and login then go to an add-on's detail page to make a review
2. After the review is saved and displayed close the tab
3. Undo closed tab and observe the detail page

Expected result:
The review is visible under the rating stars.

Actual result:
The review is not visible until the page is refreshed.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF63(Win10).

[2018-11-13 14:41] rebmullin commented on #6901
@bobsilverberg, I haven't started it so if you want to take over that issue, go for it :)

[2018-11-13 14:47] rebmullin commented on #6603
hey @bobsilverberg, I don't want to block you so please go ahead and take over #6901 if you can.

[2018-11-13 15:05] ioanarusiczki commented on #6348
I verified this scenario while testing for https://github.com/mozilla/addons-frontend/issues/6883
Also this fixes https://github.com/mozilla/addons-frontend/issues/6121

Example - A developer reply on AMO dev with FF63(Win10).

![text is visible](https://user-images.githubusercontent.com/33448286/48421892-13d1d800-e766-11e8-87ae-b1a134cd769a.gif)

[2018-11-13 15:10] bobsilverberg commented on #6603
Thanks @rebmullin, I will.

[2018-11-13 15:22] kumar303 opened #6918 "Review usage of log statements"
Review usage of all log statements with these guidelines in mind. If some logging doesn't follow these guidelines then change them.

- `log.error()` goes to Sentry and should only be used for errors that indicate an application error that can be fixed
  - For example, if a user enters data that fails form validation, this should not result in `log.error()` because it's not an application error
- B

[2018-11-13 16:07] kumar303 opened #6919 "Ignore unimportant Sentry errors"
There are some Sentry errors that [Firefox clients](https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/?query=is%3Aunresolved+browser.name%3AFirefox) will trigger which we can ignore. We should only ignore errors that do not degrade the user experience, ones that we don't wish to spend time on fixing.

For example, if we can determine that [this `Oe is null` error in photoswipe](ht

[2018-11-13 16:12] willdurand commented on #2281
I tried to setup https://github.com/jest-community/jest-runner-eslint today, but this does not work. It will only lint the errors for the current focus test file, which is a common use case we have.

Here is my patch:

[code]

[2018-11-13 16:19] willdurand commented on #2281
The patch above relies on Jest's `projects` feature, which can configure different projects (think monorepo) but it is also the recommended way to use a different runner. The problem is that the full test suite is run first, and then eslint is run. Therefore, `yarn test` takes more time to complete.

We should explore the reporter approach I think.

[2018-11-13 16:20] ioanarusiczki commented on #6873
@bobsilverberg Yes, sure. When I'll file it on server I'll close this one and mention here the new issue( as soon as I can).

[2018-11-13 17:03] #6867 closed

[2018-11-13 17:03] #6866 closed

[2018-11-13 17:32] rolwin100 commented on #6897
Thank you so much I have forked the repo and have made a push to my forked repos master branch. I'll make a pull request. Please do approve @willdurand .

Thank you

[2018-11-13 18:00] bobsilverberg commented on #6897
Here is the list of allowed tags and attributes as currently configured for the legacy site:

[code]

We should update the call to `sanitizeHTML` to allow for these tags and attributes.

[2018-11-13 18:05] willdurand commented on #6918
Amen to that! We can probably add some guidelines in the documentation.

In addition to all the points above, we could maybe rely more often on `log.warn` to log information related to an error when it makes sense. It would be slightly better than `log.info` because we can filter by severity in Kibana.

[2018-11-13 18:06] rebmullin commented on #3734
@willdurand, this is something that I am looking at now for the guide pages. Just checking, are you using [the react-router documentation section about code splitting](https://reacttraining.com/react-router/web/guides/code-splitting) for this?

Should I start with the error & static pages as you mention before setting this up for guide pages?

[2018-11-13 18:07] #6727 closed

[2018-11-13 18:12] willdurand commented on #3734
I've seen this page. We should try this lib too: https://github.com/smooth-code/loadable-components, because SSR support is a must-have and, for having tried the react-loadable lib, I am not a fan of the server setup. https://github.com/smooth-code/loadable-components seems better.

[2018-11-13 18:29] willdurand commented on #6908
Sentry is configured right after the `requestId` middleware, so the request ID should be available to Sentry. Apparently, the recommended location for such an ID is Sentry's context: https://docs.sentry.io/enriching-error-data/context/?platform=javascript. Maybe we could use a `amo_request_id` "tag"?

[2018-11-13 19:42] rebmullin opened #6924 "Finish adding privacy guide page's content"
Initially we just added 1 section as the initial issue/PR was more implementation. This issue should complete the setup of the content.

note:
the addon cards themselves will appear when #6859 lands

Also, I am adding "qa:not needed" label since the config is still set to off on dev. When everything is ready, QA can review all.

[2018-11-13 19:48] kumar303 commented on #6908
Yeah, I was thinking of using tags but it's trickier on the server because of the concurrency. I have something working -- I'll be asking for feedback on it shortly.

[2018-11-13 20:31] bobsilverberg commented on #6901
@rebmullin I'm curious, do you really need just a standalone "Get Firefox" button, or is it a case where you're going to display either an install button or a Get Firefox button (like on the Add-on Detail page)? I ask because I'm going to work on a component that encapsulates the logic for the latter via #6603 next, and I'm wondering if you have any special requirements I should know about.

[2018-11-13 20:48] rebmullin commented on #6924
I actually don't think we need both this and #6744. I am closing this in favor of #6744

[2018-11-13 20:48] #6924 closed

[2018-11-13 20:58] #6878 closed

[2018-11-13 21:36] kumar303 opened #6928 "The Guides index page should not double load data"
### Describe the problem and steps to reproduce it:

- Go to a guides page, such as http://localhost:3000/en-US/firefox/guides/privacy/ (this isn't available on hosted dev yet)

### What happened?

When the page loads on the client, you can use the Redux tool to see that `FETCH_GUIDES_ADDONS` is dispatched.

### What did you expect to happen?

`FETCH_GUIDES_ADDONS` should not be dispatched on the

[2018-11-13 22:40] #6908 closed

[2018-11-13 23:19] kumar303 commented on #6917
I can reproduce it. That's sort of odd. I think it's maybe loading the API request from cache but I can't tell because devtools requires a refresh to see network requests.

Since this is an edge case I'm lower the priority.

[2018-11-13 23:31] kumar303 commented on #2664
Yep. It should be doable although I haven't looked at it closely.

[2018-11-13 23:41] kumar303 commented on #2594
Yes. My observations in https://github.com/mozilla/addons-frontend/pull/6860 were that this has been fixed in a recent Firefox for Android release (I was testing in FF62). I inferred that the version we originally saw this in was FF58 which is quite old now.

I asked in `#mobile` if anyone knew what fixed it but no one knew. I hunted for some bugs but couldn't find anything. Both a recent Chrome A

[2018-11-13 23:41] #2594 closed

[2018-11-14 03:53] rolwin100 commented on #6897
Hi Bob,

Why br tag is not allowed without that it's difficult to identify the line
breaks.

On Tue 13 Nov, 2018, 11:30 PM Bob Silverberg <notifications@github.com
wrote:

[2018-11-14 09:54] willdurand commented on #3464
@kumar303 is this issue also related to https://github.com/mozilla/addons-frontend/issues/2594?

[2018-11-14 09:55] willdurand commented on #1250
Given that we have issues for each occurrence where it makes sense to use the `withUIState()` HOC, I am closing this issue now.

[2018-11-14 09:55] #1250 closed

[2018-11-14 09:57] willdurand commented on #3279
Bumping priority because other components use auto-save, so it'd be nice to have auto-save for that too.

[2018-11-14 10:11] ioanarusiczki commented on #6822
@willdurand I tested the A/B test on AMO stage - FF63(Win10)
- I created new FF profiles and loaded AMO stage. From 10 tries, I got 6 times the blue button and 4 times the green button.
- testing on the same profile, I cleared cookies and then reloaded a detail page.  10 tries: I got 5 times the green button and 5 times the blue button.
- when an add-on or theme is installed the event is sent to G

[2018-11-14 10:39] ioanarusiczki commented on #6867
@willdurand  Could you add some STR for qa or perhaps it's a "qa not needed" issue?
Thanks!

[2018-11-14 10:43] ioanarusiczki commented on #6866
@willdurand This seems to be related to https://github.com/mozilla/addons-frontend/issues/6867
Please add some STR for qa.

[2018-11-14 11:10] willdurand opened #6931 "Create a ducks file for landing code (reducers, actions)"
See also: #4523

---

Let's reduce the number of files by creating a ducks file for the `landing` actions and reducer code. A "ducks" file is a single file following those conventions: https://github.com/erikras/ducks-modular-redux.

**For QA:** please make sure landing and category pages load correctly ("extensions" page, "themes" page, and the category pages).

[2018-11-14 11:42] willdurand commented on #6867
@ioanarusiczki can you please try to follow the steps described here: https://github.com/mozilla/addons-frontend/blob/master/docs/telemetry.md#testing-on--dev-hosted-environment? If you can view telemetry events without errors, that will be more than enough! In addition, please let us know if the documentation is not clear.

[2018-11-14 11:42] willdurand commented on #6866
@ioanarusiczki please see my comment here: https://github.com/mozilla/addons-frontend/issues/6867#issuecomment-438633992, if that works, then it also verifies this issue.

[2018-11-14 13:31] ioanarusiczki commented on #6867
@willdurand I followed the steps from the documentation but I'm having problems receiving the events.
I tried on 3 different profiles but no success in receiving events.
Steps:
- following prefs set extensions.webapi.testing true, xpinstall.signatures.dev-root true, extensions.webservice.discoverURL for disco pane -dev, ( I used the link from the document too for disco pane -dev https://discovery.

[2018-11-14 13:43] willdurand commented on #6867
@ioanarusiczki did you refresh the disco pane after that? can you see "hct enabled" in the console logs (devtools that time, not browser console)?

[2018-11-14 14:02] ioanarusiczki commented on #6867
I received [GA: ON | HCT: ON] HCT enabled in dev tools and in the browser console too.
Refreshed disco pane, install, remove again, I receive one event when "parent" is selected in filter but when I choose any other including dynamic there's no content.

dev tools - HCT enabled

![htc enabled](https://user-images.githubusercontent.com/33448286/48487133-fa906080-e825-11e8-954f-18ec64266067.png)

br

[2018-11-14 14:07] willdurand commented on #6867
@ioanarusiczki can you try in Nightly to be sure?

[2018-11-14 14:12] AlexandraMoga commented on #6629
Verified fixed on AMO stage with FF63, Win10x64 and Android 8.0

- all add-on types can be installed from their product page
- theme and extension installation in disco pane is working as expected
- a specific add-on version can also be installed form its versions page
- incompatible add-ons are displaying a message with regards to their incompatibility reason
- no regressions around the 'Get Fire

[2018-11-14 14:13] ioanarusiczki commented on #6867
@willdurand It works in Nightly. Yey! I'll return with results.

[2018-11-14 14:30] willdurand opened #6935 "Create a ducks file for categories (reducers, actions)"
See also: #4523

---

Similar to #6931, let's create a ducks for the `categories` and add more flow coverage.

**For QA:** please make sure categories load fine, all the category pages but also the list of categories on each landing page and the "hidden" categories pages on Android.

[2018-11-14 15:00] ioanarusiczki commented on #6867
@willdurand So I could test this only with FF65 (Win10) and using the link given by the documentation for the disco pane meaning this one https://discovery.addons-dev.allizom.org/en-US/firefox/discovery/pane/57.0/Darwin/normal
I did not receive errors in the event "dynamic" tab. I made install, remove and enable of static themes and lw themes and install, remove for extensions ( could not check fo

[2018-11-14 15:03] ioanarusiczki commented on #6866
Verified fixed on AMO dev with FF65 (Win10)
Results are here https://github.com/mozilla/addons-frontend/issues/6867

[2018-11-14 15:20] ioanarusiczki commented on #6771
@willdurand Testing scenarios for qa in https://github.com/mozilla/addons-frontend/issues/6188 were:

Is that what it needs to be done here too?

[2018-11-14 15:21] AlexandraMoga commented on #6487
@bobsilverberg, @wagnerand the Admin User link doesn't seem to work as expected. I have the following scenario:

1. I log in on AMO frontend with an account that has `Admin:Tools` and `User:Edit` permissions
2. I'm opening a User profile page and I'm selecting the Admin user button
3. Since I'm entering to the admin domain, I'm asked to log in again
4. After logging in with the same user, I'm rece

[2018-11-14 16:14] marcoagpinto commented on #6129
Hello!

Two months have gone by.

Any news regarding this issue?

[2018-11-14 16:28] ioanarusiczki commented on #6555
@willdurand The pages that contain `OpenGraph tags` other than detail pages: Homepage, Extensions page and all categories, Themes page and all categories, Dictionaries and Language Packs, Search Tools, About, Review Guide.

- all these pages display in the HTML the `og:URL` I'm not sure this is intended.
- all the pages have `<meta name="description" content="Download Firefox dictionaries and lang

[2018-11-14 16:47] bobsilverberg commented on #6487
@AlexandraMoga This sounds like a server issue. We just need to verify that the link shown on the User Profile page is the correct link. What happens if you log into the Django Admin site first, and then go to the User Profile and click the link? Does it take you to the correct page without any errors in that case?

[2018-11-14 16:47] willdurand commented on #6555
yes, we keep it

[2018-11-14 16:48] willdurand commented on #6555
@ioanarusiczki for the description, each page has its own desc, but it is the same content in the two `meta` tags, right?

[2018-11-14 17:09] bobsilverberg commented on #6843
This feature landed on stage yesterday, so the nginx change can be pushed to stage. The feature will land on prod on Thursday so the nginx change should be pushed to prod after thursday's push.

[2018-11-14 17:14] willdurand commented on #6843
Can we add this to the push doc?

[2018-11-14 17:21] bobsilverberg commented on #6843
Done. Thanks for the reminder @willdurand.

[2018-11-14 17:51] bobsilverberg commented on #6897
We use the `nl2br` function to convert new lines to `<br>` tags, so we don't expect users to use `<br>` tags in the content. As long as they use new lines the output will be correct.

[2018-11-14 19:42] greenkeeper[bot] opened #6939 "An in-range update of eslint-plugin-amo is breaking the build 🚨"
## The devDependency [eslint-plugin-amo]() was updated from `1.8.0` to `1.9.0`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Feslint-plugin-amo-1.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-amo is a devDependency of this project. It **migh

[2018-11-14 19:58] willdurand commented on #6939
That will be fixed in #6930

[2018-11-14 19:58] #6939 closed

[2018-11-14 20:30] bqbn commented on #6843
The route change is deployed to -stage now. Please test it.

[2018-11-14 20:38] bobsilverberg commented on #6843
Looks good to me, thanks @bqbn!

[2018-11-14 20:40] bobsilverberg commented on #6901
I responded to your comments in the PR but for completeness I'll reply here as well. I think we will address this by having different "types" for the `GetFirefoxButton` which will know what the display text is as well as whether the button is `puffy` or not, etc.

[2018-11-14 22:11] greenkeeper[bot] opened #6940 "An in-range update of eslint-plugin-amo is breaking the build 🚨"
## The devDependency [eslint-plugin-amo]() was updated from `1.9.0` to `1.9.1`.

🚨 [View failing branch](https://github.com/mozilla/addons-frontend/compare/master...mozilla:greenkeeper%2Feslint-plugin-amo-1.9.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-amo is a devDependency of this project. It **migh

[2018-11-14 22:49] #6940 closed

[2018-11-14 22:53] pwalm commented on #6432
Updated:
<img width="1483" alt="screen shot 2018-11-14 at 2 51 57 pm" src="https://user-images.githubusercontent.com/6797635/48517957-dc723280-e81c-11e8-8e72-0609658ab253.png">

Button copy should read "Get Firefox" and follow the styling from the larger green button on the product page.

[2018-11-15 09:47] AlexandraMoga commented on #6487
@bobsilverberg yes, I'f I'm already logged in the Django Admin solves the problem for the frontend and I'm able to access the required page:

![2018-11-15_11-38-38](https://user-images.githubusercontent.com/31961530/48544232-d38c6a00-e8cb-11e8-88ad-3592bd5ca108.gif)

I'm going to mark this issue as verified fixed and will open a follow up on addons server for what I've noticed before.

[2018-11-15 10:01] ioanarusiczki commented on #6357
Verified on Firefox ESR 52.9.0 and Waterfox 56.2.5 on Windows 10 and mac OS10.13.6

here's the FF ESR with Win10 - what's now in prod and then the fix

![ff esr before and after](https://user-images.githubusercontent.com/33448286/48545261-3252e300-e8ce-11e8-9c83-9828fa91349d.gif)

[2018-11-15 10:21] #6512 closed

[2018-11-15 11:33] ioanarusiczki commented on #6555
@willdurand Yes, correct. The descriptions for each page was added before and verified, it was a dedicated issue for that.  And they're identical in the two meta tags.

[2018-11-15 11:43] willdurand commented on #6807
ping @MeridelW @rraue

[2018-11-15 13:05] willdurand commented on #6527
@rraue if we want to add `alternate` links, we will not add alternate links on most paginated pages because canonical URLs will only have one parameter (at most) and we must ensure `currentURL == canonicalURL`.

Is that ok to only add `alternate` links to the user profile pages when the current URL (in the browser) is equal to the computed canonical URL as per your instructions above?

[2018-11-15 13:09] willdurand commented on #6527
Example:

- current URL: `http://localhost:3000/en-US/firefox/user/10641574/?page_t=3`
- canonical URL: `http://localhost:3000/en-US/firefox/user/10641574/?page_t=3`
- alternate link (for `pt`): `http://localhost:3000/pt-PT/firefox/user/10641574/?page_t=3`

Example 2:

- current URL: `http://localhost:3000/en-US/firefox/user/10641574/?page_t=3&page_e=2`
- canonical URL: `http://localhost:3000/en-U

[2018-11-15 13:36] bobsilverberg commented on #6487
Thanks @AlexandraMoga!

[2018-11-15 13:56] AlexandraMoga commented on #6771
Verified fixed on AMO stage with FF63, Win10x64 and Android 8.0

The search bar from the page header and from the collection edit page is working as intended.

[2018-11-15 13:57] willdurand commented on #6275
Closing this issue in favor of https://github.com/mozilla/addons-frontend/issues/6915.

[2018-11-15 13:57] #6275 closed

[2018-11-15 14:19] willdurand commented on #3374
@muffinresearch is there anything we can do here? What would be the reason to change these URLs?

[2018-11-15 15:47] AlexandraMoga commented on #6689
Verified on AMO -dev with FF63, Android 8.0

The following Theme references are now hidden on Android:

- Theme navigation in the header [1]
- Featured Themes collection and Customize the way Firefox looks... shelves [2]
- Themes filter option in search [3]
- Links to "Browse all Themes" in 404 pages [4]
- `/themes/` homepage, `/themes/categories/`  and `/themes/category_name/` pages are returning

[2018-11-15 15:57] willdurand commented on #3111
Hi @MarcoZehe, can you get in touch to make this happen?

[2018-11-15 16:06] MarcoZehe commented on #3111
@willdurand Hi! Thanks for reaching out! I can help with screen reader accessibility and some keyboard accessibility, but not contrast, or checking of focus visibility at all times. :) Please let me know where the material is you would like me to check out.

[2018-11-15 17:39] kumar303 commented on #6787
You can consider splitting on a special marker then inserting JSX (a `<Link>` component for your case). It's a little hacky but it works. Example:

https://github.com/mozilla/addons-frontend/blob/dccc24424d01066542f61108af4ad0dc157c199a/src/amo/components/AddonReviewCard/index.js#L352-L368

I don't know how much more complicated it will be when you have to inject the localized content into `<Link>

[2018-11-15 18:06] rebmullin opened #6944 "Non public notices no longer display on product detail pages for admin users"
### Describe the problem and steps to reproduce it:

Find a non public addon

### What happened?

We get a server error

appears logged out (I am not sure but maybe this is expected)

### What did you expect to happen?

We used to see notices if they were seeing this page as an admin (requested in #4244)

for non admins, maybe a 404 should be displayed?

Regarding the notices, this is what we used

[2018-11-15 18:17] willdurand commented on #6944
That looks related to the versions change. /cc @bsilverberg

[2018-11-15 18:18] willdurand commented on #6944
That looks related to the versions change. /cc @bobsilverberg

It's probably not a papercut, and likely a p2.

[2018-11-15 18:22] kumar303 opened #6945 "Synchronize TestGuides with the Guides component"
`TestGuides` is out of sync with the `Guides` component. This will make it hard to maintain and might decrease effectiveness of the tests. Here are some guidelines to help you clean it up:

* Make sure no test passes a state-mapped prop other than `i18n` and `store` (which we inject for convenience).
* Make sure tests are only passing in valid props
* Any time a test relies on a prop value, pass t

[2018-11-15 18:43] muffinresearch commented on #3374
@willdurand I think in general we've focused on parity with the old ui's urls, this was really about looking back over what we have once the legacy frontend is removed, and seeing if there are urls we'd want to change for better overall consistency.

[2018-11-15 20:15] willdurand commented on #6944
I see the error in Sentry: https://sentry.prod.mozaws.net/operations/addons-frontend-amo-dev/issues/4925308/?query=is:unresolved. I believe that's because we make the assumption that an `addon` always has a `currentVersionId` in the `mapStateToProps()` function of the `Addon` component.

[2018-11-15 21:15] rebmullin commented on #6944
thanks for all the info @willdurand ++

The reason I put it as a p4 was because that was the initial p level for the original request so I figured it would be the same. Especially since it's only for admin users. Altho I am not sure what non admin users should be seeing. I guess we can see what @bobsilverberg thinks about this.

[2018-11-15 21:19] willdurand commented on #6944
Non-admin users will see a 404 (and it still works) so this is OK at least.

[2018-11-15 21:33] #6901 closed

[2018-11-15 21:59] bobsilverberg commented on #6944
Yeah, we shouldn't be doing that. I know there was some back and forth about this in some reviews, but an addon can exist without a version, so we cannot assume one exists.

I'll fix the code in `mapStateToProps` and that should fix this.

[2018-11-15 22:11] rebmullin commented on #6787
hey thanks @kumar303. I believe @willdurand actually suggested something similar (https://github.com/mozilla/addons-frontend/pull/6881#issuecomment-437956135) so yes, I will look into:)

[2018-11-15 23:01] #6944 closed

[2018-11-16 01:31] grahamperrin commented on #6357
Fix verified with Waterfox 56.2.6 on FreeBSD-CURRENT. Thanks!

[2018-11-16 09:19] willdurand opened #6948 "Rename landing constants"
See: https://github.com/mozilla/addons-frontend/pull/6932#discussion_r234034218

---

We should rename the landing constants so that constants and action creators have similar names.

[2018-11-16 10:19] ioanarusiczki commented on #6873
I filed https://github.com/mozilla/addons-server/issues/10003 on server

[2018-11-16 10:19] #6873 closed

[2018-11-16 10:34] ioanarusiczki opened #6949 ""Cancel" button from Collections - Leave a note - has a shadow effect"
STR:
1. Log in with an account and go to your collections then click one
2. Click the edit collection button and click on "Leave a note'
3. Observe the "Cancel" button

Expected result:
The button looks good.

Actual result:
"Cancel" is blurry.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF63 (Win10&Android 8.0)

![cancel](https://user-images.githubusercontent.com/33448286/486

[2018-11-16 11:30] willdurand opened #6950 "Including .css files with @import is non-standard behaviour"
Let's fix this warning:

It happens when running:

- `yarn storybook`
- `yarn build`

[2018-11-16 11:57] muffinresearch opened #6952 "Add origin to HCT collection"
Refs #6797

In talking over the HCT collection with Will, we realized it was unclear if we are recording the origin or the telemetry collection. We need to do this so we can tell apart where the requests are coming from.

I since checked the data collected so far and there's nothing that indicates the origin of the collection.

To that end we'll want to add the origin to the collection via the ext

[2018-11-16 14:21] willdurand opened #6955 "`yarn storybook-build` is broken"
### Describe the problem and steps to reproduce it:

1. Run `yarn storybook-build`

### What happened?

[code]

### What did you expect to happen?

No error.

### Anything else we should know?

The `gh-pages` branch has not been update since October 15, 2018. I suppose that's broken since then. We have no output on Travis CI for this job, so hard to tell...

[2018-11-16 14:41] #6931 closed

[2018-11-16 14:41] ioanarusiczki commented on #6944
@rebmullin Could you please tell the exact scenario for the server error display?

I tried like this (with same results on AMO dev and AMO stage): with an Admin account I went and disabled all versions of the add-on but then the view listing page is not available so I had to re-enable one version (here's when issue https://github.com/mozilla/addons-server/issues/3051 occurs, because the "Incomplet

[2018-11-16 15:17] willdurand commented on #6842
![screen shot 2018-11-16 at 15 51 33](https://user-images.githubusercontent.com/217628/48629885-19742b80-e9bb-11e8-9150-850f37ba3d64.png)

[2018-11-16 17:51] kumar303 opened #6958 "Review count and average rating are not always updated"
### Describe the problem and steps to reproduce it:

* Log in to AMO
* Go to an add-on detail page
* Make a note of the number of reviews and the average rating (example: *4.6 stars*) in the upper right
* Rate the add-on and write a review for the first time
* Observe the review count and average rating again

### What happened?

* The review count does not always increment
* The average rating is

[2018-11-16 18:57] SeanPrashad commented on #1511
Hey guys, I'd like to try taking this one on! I think we could use [`str.endsWith()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith) to check for the forward slash character and strip it, if present.

[`callAPI()`](https://github.com/mozilla/addons-frontend/blob/146ee1c93ea5b99414b81926016fb587c7d08a90/src/core/api/index.js#L83) now lives over her

[2018-11-16 20:01] #4523 closed

[2018-11-16 20:02] willdurand opened #6959 "Improve Flow coverage of ` src/core/reducers/abuse.js `"
The file `src/core/reducers/abuse.js` lacks some Flow types. Let's add more Flow types for actions/params and also use `invariant`.

**For QA:** please make sure the report button located on an add-on detail page still works.

[2018-11-16 20:37] MeridelW commented on #6431
We can remove "Needs: Content" here as the copy has been provided. See this doc: https://docs.google.com/document/d/1u1tbRo_ivfEAh_er2XKPciuYLARiNa2N5qXPGC0jfcY/edit

[2018-11-16 20:43] MeridelW commented on #6432
i agree it is confusing as-is because the CTA should be about getting the extension, not Firefox. Our longer version "Only with Firefox—Get FIrefox Now." is more helpful but I assume we don't have the room for that?  @pwalm How much room do I have? How flexible is the card in this context?

If we are this limited in space, perhaps we can do "Get the extension." The user will then discover on the j

[2018-11-16 21:44] pwalm commented on #6432
It's less about the card and more about the button:
<img width="870" alt="screen shot 2018-11-16 at 1 43 17 pm" src="https://user-images.githubusercontent.com/6797635/48648817-97c5d300-e9a5-11e8-8098-15bbc68462a7.png">

Doesn't look great. Any shorter copy we can use? That, or we do a message bar at the top of the page with the big green CTA and remove the buttons from the cards.

[2018-11-16 21:54] atsay commented on #6432
I like the 3rd version, with the text stacked. Any objection to that one?

[2018-11-16 21:58] devaneymoz commented on #6432
"Only with Firefox" implies exclusivity of content, doesn't it? Which wouldn't be accurate.

What about:

"Requires Firefox—
Get Firefox Now"

[2018-11-16 23:41] SeanPrashad commented on #1511
Ok so I got a chance to dig into this and it might already be solved..

10 months ago, 2c5cfa4703b8639194ea3eb7dcd1de59308d3f51 introduced code that handled trailing slashes here:

https://github.com/mozilla/addons-frontend/blame/2c5cfa4703b8639194ea3eb7dcd1de59308d3f51/src/core/api/index.js#L159-L160

but we only add a trailing slash if none is present:

[code]

Would love a second opinion on my

[2018-11-17 04:20] tammyglee opened #6961 "Can't get messages"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-11-17 13:49] TheBizzle opened #6962 "Cannot view add-on pages without cookies enabled (and error messages for this are unhelpful)"
### Describe the problem and steps to reproduce it:

I attempted to view an addon page, with the intention of installing an addon.  (I've tried several of these pages, and all of them exhibited this behavior.)

### What happened?

A page popped up that told me:

This is anti-helpful because it suggests that the problem was entirely on your end and that there was nothing I could do about it.  But i

[2018-11-17 15:33] HosseinMarzban commented on #6403
![image](https://user-images.githubusercontent.com/20157508/48662654-34699d00-ea9a-11e8-9f8f-ef056f02ba2f.png)
![image](https://user-images.githubusercontent.com/20157508/48662655-34699d00-ea9a-11e8-8fc1-0fe562c61932.png)
![image](https://user-images.githubusercontent.com/20157508/48662659-3d5a6e80-ea9a-11e8-9cd3-3d30a0908936.png)
![image](https://user-images.githubusercontent.com/20157508/4866266

[2018-11-17 19:41] nt1m opened #6963 "Add tab_line picker to theme editor"
Right now, there's no tab_line picker in the theme editor, which seems to be encouraging theme authors to change the accentcolor to change the tab line color, which produces inaccessible themes, since the accentcolor is used as window background.

Here's an example of a bug that this causes: https://bugzilla.mozilla.org/show_bug.cgi?id=1506913

@eviljeff Would it be possible to add a "Tab line col

[2018-11-17 20:33] jish opened #6964 "Can't install any extensions"
### Describe the problem and steps to reproduce it:

Can not view any Firefox extensions for installation.

1. Go to Tools -> Add-ons
2. Search for "stylish"
3. Click on "Stylish - Custom themes for any website"

### What happened?

Server error page is displayed

<img width="934" alt="screen shot 2018-11-17 at 12 27 22 pm" src="https://user-images.githubusercontent.com/1817/48665507-93142400-ea64

[2018-11-17 20:37] willdurand commented on #6964
@jish hi, sorry for that. Do you have cookies disabled by chance? I am asking because there is a similar issue #6962

[2018-11-17 20:38] willdurand commented on #6963
That's probably a addons-server issue :)