[2018-05-16 11:51] bobsilverberg commented on #5018
This seems valid. I know supporting static themes on the front end is something new. Do we have issues open for it? Are there mockups for exactly how they should look?

[2018-05-16 11:51] willdurand commented on #5019
It might be related to #4964.

[2018-05-16 11:55] ioanarusiczki commented on #4957
@bobsilverberg Alright, marking this verified fixed on AMO dev with FF60(Win10).

[2018-05-16 11:55] bobsilverberg commented on #5017
It seems like we need some discussion / details about exactly how we are going to handle static themes. They *are* extensions, and not themes, but do we want to treat them like that on the front end? Maybe this discussion has already happened, and I just missed it.

[2018-05-16 12:02] bobsilverberg commented on #5019
Heh, yeah it might be, but I'm still not sure what #4964 is about either. 🤷‍♂️

[2018-05-16 12:46] ioanarusiczki opened #5021 "Edit my profile - The biography text box can be resized and after typing in text the layout of the page is broken"
STR:
1. Load AMO dev and log in then go to edit my profile page
2. Expand the Biography text box from the bottom right corner - increase it's size (as in the .gifs below)
3. Type in some text and press enter
4. Observe the layout of the page

Expected result:
Page is displayed correctly.

Actual result:
The layout of the page is broken - Text box and Update my profile button are truncated in some

[2018-05-16 13:02] AlexandraMoga opened #5022 "Edit collection page is not loading anymore after page refresh"
STR:

1. Log in to AMO dev
2. Go to My Collections from the user menu and select one of your collections to view its details page
3. Click on Edit Collection
4. Refresh the page, then click on Save Collection

Actual result:
The list of add-ons and the collection details are not loading

Expected result:
The list of add-ons and the collection details are loaded

Notes:
- another valid way to repro

[2018-05-16 13:12] AlexandraMoga commented on #4834
Verified as fixed on AMO-dev, with FF60, Win10x64 and Android 7.0
- edit collection page is now showing paginated lists of max. 25 addons
- page navigation is working
- loading time for large collections is improved

I've logged #5022 which could be a regression, but I can't say for sure as the previous behavior can no longer be tested

![coll pagin](https://user-images.githubusercontent.com/31961

[2018-05-16 13:27] AlexandraMoga commented on #4824
Verified as fixed on AMO-dev, with FF60, Win10x64 and Android 7.0

![edit coll](https://user-images.githubusercontent.com/31961530/40119602-cd81136c-5925-11e8-9b72-229c4f9a64eb.gif)

[2018-05-16 13:30] AlexandraMoga commented on #4616
I was not able to reproduce this anymore after #4623 has landed.
I'm going to close it based on that.

[2018-05-16 13:30] #4616 closed

[2018-05-16 13:44] ioanarusiczki commented on #3144
@willdurand @muffinresearch

I think this can be marked verified fixed but please let me know if I must file new issues for these:
- we have an inconsistency in naming the new form , on AMO in the drop down menu it's Edit my profile, issue https://github.com/mozilla/addons-frontend/issues/2749 mentions Accounts settings at one point such as the name of this issue. The form has an Edit my profile t

[2018-05-16 13:49] willdurand commented on #3144
This will be addressed in #4997.

I don't think we want this anymore.

I think it makes sense to have the same name in the drop down menu and on this left panel. We can still change that later, but that should be consistent.

[2018-05-16 13:51] willdurand commented on #4284
Thank you!

[2018-05-16 13:51] #4284 closed

[2018-05-16 13:59] ioanarusiczki commented on #2749
@willdurand
I think the Add-ons developer and Theme Artist don't show up yet on the card, is this going to be implemented or it's been dropped?
While checking I filed https://github.com/mozilla/addons-frontend/issues/5019
and https://github.com/mozilla/addons-frontend/issues/5020
Further more exploratory testing can be done on this side since it's still under dev.
This is verified fixed on AMO dev

[2018-05-16 14:01] willdurand commented on #2749
I don't know yet to be honest. I think there is something in the mock-ups but not sure if it is accurate. I will ask for more information later today.

[2018-05-16 14:02] willdurand commented on #4276
Server issue related to this feature: https://github.com/mozilla/addons-server/issues/8265.

[2018-05-16 14:07] AlexandraMoga opened #5023 "User should be redirected at the top of the page after submitting a profile update"
STR:

1. Log in to AMO-dev
2. Click on Edit My Profile from the user menu (https://addons-dev.allizom.org/en-US/firefox/users/edit)
3. Edit one of the available fileds
4. Click on Update my profile

Actual result
The user remains at the bottom of the page, unable to see the success message that confirms his account update

Expected result:
The user is redirected at the top of the page after he cli

[2018-05-16 14:28] AlexandraMoga commented on #4284
@willdurand  I have checked that both [https://addons-dev.allizom.org/en-US/firefox/**users/edit/**](https://addons-dev.allizom.org/en-US/firefox/users/edit/) and [https://addons-dev.allizom.org/en-US/firefox/**users/edit**](https://addons-dev.allizom.org/en-US/firefox/users/edit) are redirecting to the Update account page on the new frontend. Let me know if there is anything more I could test her

[2018-05-16 14:32] AlexandraMoga commented on #4284
Verified as fixed on AMO-dev, with FF60, WIn10x64

[2018-05-16 14:51] AlexandraMoga commented on #4947
Verified as fixed on AMO-dev with FF60, Win10x64

![image](https://user-images.githubusercontent.com/31961530/40124602-8f86bace-5931-11e8-8ac2-b457e0784c12.png)
![image](https://user-images.githubusercontent.com/31961530/40124624-9f64d75a-5931-11e8-9775-cc9201e84bec.png)

[2018-05-16 15:33] bobsilverberg commented on #4812
That is not a feature that we plan to implement at this time.

[2018-05-16 15:48] #4835 closed

[2018-05-16 16:55] muffinresearch commented on #3144
There's a strong reason we have separated out the admin under different domains. Allowing admin like functionality via the API increases the chances of exposing sensitive operations or sensitive data such as this. I'd like to ensure we protect those things appropriately and review it on a case by case basis.

If we're exposing admin functionality this way we should weigh the risk of the approach b

[2018-05-16 17:10] willdurand commented on #4852
@daiict218 sorry but this one is already been handled. We are going to set new "good first bugs" for contributors like you, thank you!

[2018-05-16 17:57] rebmullin commented on #4934
thanks @philipcristiano

@muffinresearch  - given what @philipcristiano notes above  - is this a matter of just updating the config? how / where is that done?

[2018-05-16 18:00] philipcristiano commented on #4934
I think it should be very similar to #1987. I'm planning to start on this once I finish up another deploy to the proxy servers.

[2018-05-16 19:11] muffinresearch commented on #4865
@bobsilverberg can this be closed in favour of the project or is there anything here that is missing from the project?

[2018-05-16 19:15] muffinresearch commented on #3003
Superceded by https://github.com/mozilla/addons-frontend/projects/5

[2018-05-16 19:15] #3003 closed

[2018-05-16 19:51] bobsilverberg commented on #4865
This can be closed. It's convenient to have a link to the doc here, so maybe it makes sense for a project to have one tracker issue in which we record things like that? Just something to consider.

[2018-05-16 19:51] #4865 closed

[2018-05-16 20:13] jvillalobos commented on #3144
Isn't it needed for users to edit their own accounts? I thought it'd be okay to give admin that access because users needed it anyway. If there's a distinction I'm missing, I'm okay with not giving admins any extra access here.

[2018-05-17 08:35] willdurand opened #5029 "Allow to send a user picture along with editable fields"
In order to upload a user profile picture, we need to change the `editUserAccount()` action (reducer/saga) to optionally take a `picture` parameter and send a form data API call (see #5012).

[2018-05-17 08:35] #5012 closed

[2018-05-17 08:37] AlexandraMoga commented on #4918
I have verified the create a collection flow on AMO-dev and checked the placeholder text marking the current user state:

**[1] on the Create a Collection form, before saving**
![image](https://user-images.githubusercontent.com/31961530/40165824-a5820902-59c5-11e8-83f5-d3dc4308e3f2.png)
**[2] after Saving a Collection or when visiting a Collection page with no add-ons included**
![image](https://u

[2018-05-17 08:53] #5029 closed

[2018-05-17 09:10] vcarciu commented on #5012
Please add some STRs to this bug or mark it as "qa: not needed"

[2018-05-17 09:15] willdurand commented on #5012
oops sorry @vcarciu, added "qa: not needed"

[2018-05-17 09:26] wagnerand commented on #4902
@conorgil Happy to help! could you please email amo-admins AT mozilla DOT org with a link to your add-on?

[2018-05-17 09:35] willdurand commented on #5021
So it is a browser feature I guess, and to me, it makes sense to allow a user to resize the `textarea`. Because there is no page reload on the frontend, the browser keeps the width that has been set by the user.

I don't know if that something we can change, because the UI is rather responsive and nothing really breaks. User can still reduce the size of the textarea.

[2018-05-17 09:38] willdurand commented on #5023
I believe the legacy frontend reloads the page when updating the information, hence the "move to top". I guess we could use the line below in the `UserProfileEdit` component to scroll to top:

[code]

Do we want to do that?

[2018-05-17 09:44] willdurand commented on #4596
Could be fixed by #5006

[2018-05-17 10:01] willdurand commented on #4997
Ok I went ahead and added a new button below the "report" one.

[2018-05-17 11:59] willdurand commented on #4852
Oooh I see what is happening here actually. It seems we never fetch new add-ons to display in this card...

[2018-05-17 12:16] willdurand commented on #4585
Sorry @SeanPrashad, I just grabbed it 🐱

[2018-05-17 12:41] daiict218 commented on #4852
@willdurand I'm open for a full-blown project too

[2018-05-17 12:55] willdurand commented on #5000
This feature depends on https://github.com/mozilla/addons-server/issues/8286.

[2018-05-17 12:56] willdurand commented on #5000
Also I will not be able to ship this one next week (some parts might land though).

[2018-05-17 12:58] #4585 closed

[2018-05-17 12:58] #4997 closed

[2018-05-17 13:11] #4934 closed

[2018-05-17 13:12] rebmullin commented on #4918
hey @AlexandraMoga i think this might help clarify: https://github.com/mozilla/addons-frontend/issues/4978#issuecomment-388425334

[2018-05-17 13:38] philipcristiano commented on #4934
https://addons.mozilla.org/en-US/firefox/search-tools/ now loads the proper UI.

[2018-05-17 13:53] AlexandraMoga commented on #4918
Got it. Thanks @rebmullin
I'm going to mark this issue as verified fixed on AMO-dev with FF60, Win10x64 and Android 7.0

[2018-05-17 14:33] AlexandraMoga commented on #4934
Verified as fixed on all AMO servers

![src-tool](https://user-images.githubusercontent.com/31961530/40184204-52f7b104-59f8-11e8-833f-4120386ecccc.gif)

[2018-05-17 16:16] bobsilverberg commented on #5023
I would prefer we just implement #4998 instead.

[2018-05-17 17:28] pwalm commented on #4997
Two buttons stacked in admin view is fine, since it's a special case for a more advanced user.

[2018-05-17 17:29] bobsilverberg commented on #4842
I think this can be closed now, as all of the suggestions are either being addressed by separate issues or will not be addressed. Specifically:

This is being addressed via issue #4979.

We will not be doing this.

We will also not be changing this. A user who adds an add-on by mistake can simply click the remove button (which doesn't work yet, but will work before shipping the feature).

[2018-05-17 17:29] #4842 closed

[2018-05-17 17:29] pwalm commented on #5011
Can we move the green message bar and the search field slightly (~10px) closer, please?

[2018-05-17 17:34] bobsilverberg commented on #4258
I think this issue can be closed. Here is what the edit screen currently looks like at the smallest size:

<img width="333" alt="screenshot 2018-05-17 13 32 39" src="https://user-images.githubusercontent.com/142755/40193950-d7e469b0-59d6-11e8-8b6d-790a573a4d99.png">

What do you reckon @pwalm?

[2018-05-17 17:43] pwalm commented on #4258
Yep 👍

[2018-05-17 17:49] bobsilverberg commented on #4979
Great, thanks @pwalm. I've changed it to use that text.

[2018-05-17 17:49] tsl143 commented on #4987
Cool, then I will start working on it.

[2018-05-17 17:51] bobsilverberg commented on #4258
Great, thanks @pwalm 😄

[2018-05-17 17:51] #4258 closed

[2018-05-17 18:15] charlesottesen opened #5033 "gerv.makes.org/popcorn/1bn6"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-17 21:09] willdurand commented on #5011
Quick question: would it make sense to pu the green message bar below the label?

[2018-05-17 22:12] pwalm commented on #5011
Nah, we shouldn't split the label from the field.

[2018-05-17 22:35] dominictwlee commented on #4884
I'll give this a go if no one else is!

[2018-05-18 03:39] smayer97 commented on #4842
I think that one of the issues is still not being addressed, as mentioned by decembre here
https://github.com/mozilla/addons-frontend/issues/4842#issuecomment-385631110

and illustrated in https://github.com/mozilla/addons-frontend/issues/4331#issuecomment-377615994

yet this capability is SO IMPORTANT for those working with collections.

[2018-05-18 06:42] AlexandraMoga commented on #5023
@bobsilverberg #4998 won't cover the scenario in which the user receives an error after submitting a profile update:
![error update prof](https://user-images.githubusercontent.com/31961530/40219752-63a9adfe-5a7f-11e8-88dd-35db4b411b2a.gif)

[2018-05-18 07:00] AlexandraMoga opened #5034 "A Server error page is displayed if user logs out on the Edit Profile page"
STR:

1. Log in to AMO-dev
2. Select Edit my Profile from the user menu
3. On the Edit Profile page, click on Log out

Actual result:
A Server error is displayed when the user logs out while being on the Edit Profile page

Expected result:
User is redirected back on AMO homepage when he logs out on the Edit Profile page

Notes:
- reproduced on AMO-dev, with FF60, Win10x64

![server error](https://

[2018-05-18 07:43] AlexandraMoga opened #5035 "Adjust the height of the View/Edit profile card to match the Account card's height"
STR:

1. Log in to AMO-dev
2. Click on Edit My Profile on the user menu (https://addons-dev.allizom.org/en-US/firefox/users/edit)
3. Compare the height of the Edit/View Profile card (left)  with the Account card (right)

Actual result:
There is a small height difference between the Edit/View Profile card and the Account card

Expected result:
The Edit/View profile card should be lowered to match t

[2018-05-18 07:50] willdurand commented on #4884
sure thing, let me know if you need help!

[2018-05-18 07:59] #4832 closed

[2018-05-18 08:02] willdurand opened #5036 "Server error on user profile page when user does not exist"
### Describe the problem and steps to reproduce it:

1. Make sure you are logged-in
2. Go to a user profile page with a username that does not exist

### What happened?

Server Error:

<img width="1392" alt="screen shot 2018-05-18 at 10 01 18" src="https://user-images.githubusercontent.com/217628/40223174-7124ca9c-5a82-11e8-8dd9-d569fd8ee46b.png">

### What did you expect to happen?

No server err

[2018-05-18 08:17] #4919 closed

[2018-05-18 08:45] willdurand commented on #5034
Ah thanks for this bug report, I guess it is the same as #5036. We'll see if my patch fixes both.

[2018-05-18 09:44] willdurand commented on #4964
Thinking about this again and looking at the other issues, I have the feeling that users who are NOT developers should never have to fill the input fields mentioned in the issue description.

[2018-05-18 11:34] ioanarusiczki commented on #4967
@rebmullin Could you please re-check this issue ?
I see a problem now on FF60 too, the button is no longer centered. Still the same for Chrome or Microsoft Edge.
This is AMO dev
![nowindev](https://user-images.githubusercontent.com/33448286/40232284-cc5225a8-5aa6-11e8-8b16-f0c357e35af8.png)
And before - was centered - now in AMO stage
![now in stage with ff60](https://user-images.githubusercontent

[2018-05-18 13:10] ioanarusiczki opened #5040 "Edit profile page - Text boxes could be wider on small devices"
STR:
1. Load AMO dev and go to edit profile page.
2. Fill in information required in the text boxes.
3. In Responsive Design Mode take at the text boxes for a couple of smaller devices (phones).

Expected result:
Text is entirely displayed.

Actual result:
Text is truncated.

Notes:
This issue is reproducible on small screens with FF60(Android8.0)

Some examples:
Google Nexus4
![nexus4](https://us

[2018-05-18 13:43] rebmullin commented on #4967
hey @ioanarusiczki  I thought the issue instructions were to align button to top text/paragraph. I guess we can check with @pwalm on this too to be sure on which way to proceed:

Intall Firefox button aligned to top of text:
![nowindev](https://user-images.githubusercontent.com/33448286/40232284-cc5225a8-5aa6-11e8-8b16-f0c357e35af8.png)

Install Firefox button centered to text:
![now in stage with

[2018-05-18 13:47] dominictwlee commented on #4884
I think I've managed to find the issue, but want to run through a few potential solutions with you before I proceed.

The initial state of the ShowMoreCardBase is set to expanded: true.

However, the truncateToMaxHeight function sets the state to false because the component's height is higher than 150px in in large screen size.

![max_height](https://user-images.githubusercontent.com/34794189/4023

[2018-05-18 14:11] rebmullin opened #5042 "On a user profile page the star ratings title should be updated if there are no ratings yet"
### Describe the problem and steps to reproduce it:
Go to "View My Profile" or find another user's profile.
Find a user that does not have any ratings on their add-ons yet.
If you hover over the stars ratings, it says "The add-on has not been rated yet"

### What happened?
If you hover over the stars ratings in this scenario, it says "The add-on has not been rated yet"

### What did you expect to

[2018-05-18 14:27] championshuttler commented on #5042
@rebmullin I would like to work on it

[2018-05-18 14:35] #4376 closed

[2018-05-18 14:35] ioanarusiczki commented on #4994
I verified this on AMO dev with FF60(Win10).
@muffinresearch @pwalm
I noticed that on desktop there are two rows with three extensions but it looks like it could be one more added ? Also these three are the same on every add-on detail page I open - Search by Image, New Tab Override and Enhancer for YouTube and don't seem very popular - please let me know if these are issues

![popular extensions](

[2018-05-18 14:36] willdurand commented on #5042
@championshuttler that works for me, although I think you have a Pull Request in progress, right?

[2018-05-18 14:37] #5019 closed

[2018-05-18 14:43] championshuttler commented on #5042
@willdurand  yeah i think it will work

[2018-05-18 15:00] #5035 closed

[2018-05-18 15:28] muffinresearch commented on #4994
@ioanarusiczki not having the 4 add-ons is a data issue.

[2018-05-18 15:40] muffinresearch opened #5044 "Recommendations are empty for some add-ons."
### Describe the problem and steps to reproduce it:
* Go to https://addons-dev.allizom.org/en-US/firefox/addon/bloody-vikings/
* Note the empty recommendations block. Note the fallback should be shown for all legacy add-ons.

### What happened?
<img width="1057" alt="bloody_vikings__ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/40244160-ffe4237c-5ab9-11e8-96df-64b3aeb8

[2018-05-18 15:40] muffinresearch commented on #5044
/cc @bsilverberg @rebmullin not sure if this was a recent regression? I think this one was working.

[2018-05-18 15:46] willdurand commented on #5044
The API response is:

[code]

[2018-05-18 15:46] rebmullin commented on #5018
I think the "mockups" are to follow the design of the current theme (LWT) - REF: https://github.com/mozilla/addons-frontend/issues/4899#issuecomment-385553081

// cc @jvillalobos  please correct me if i am wrong

[2018-05-18 15:48] rebmullin commented on #5017
same thing here ...I think the "mockups" are to follow the design of the current theme (LWT) - REF: https://github.com/mozilla/addons-frontend/issues/4899#issuecomment-385553081. My understanding is to keep the theme wording and placement of things the same as much as possible (without vertically cropping)

// cc @jvillalobos  please correct me if i am wrong

[2018-05-18 15:49] #5036 closed

[2018-05-18 15:49] #5040 closed

[2018-05-18 15:49] rebmullin commented on #5016
@jvillalobos per your notes here: REF: https://github.com/mozilla/addons-frontend/issues/4899#issuecomment-385553081, we should keep "About this theme" (vs "About this add-on"), right?

[2018-05-18 15:51] rebmullin commented on #5015
@jvillalobos - same thing here, right : ) keeping with the "theme" version of "Install Theme" (Vs "Add to Firefox")?

[2018-05-18 15:53] muffinresearch commented on #5044
Yep looks like this is only happening when cohort cookie is `TAAR_COHORT_INCLUDED`

[2018-05-18 16:09] mlopatka opened #5045 "Add additional custom dimension on AMO for A/B testing"
The dimension is currently described in GA360 analytics as:

`var dimensionValue = 'SOME_DIMENSION_VALUE'; ga('set', 'dimension5', dimensionValue);`

Where value should be set to

for all page visitors. this will help to track the subset of visitors over time who participated in the study. The existing custom dimension is still needed to track experimental branch.

further details available [here]

[2018-05-18 16:11] mlopatka commented on #5045
@muffinresearch I can not set priority on this.

[2018-05-18 16:11] muffinresearch commented on #5044
Re-filed at https://github.com/mozilla/addons-server/issues/8300

[2018-05-18 16:11] #5044 closed

[2018-05-18 16:25] willdurand commented on #4884
Hi @dominictwlee, that's a really good start!

I think we can solve this issue with CSS only, maybe by looking at how to set border-radius on the bottom corners when the screen is large enough.

[2018-05-18 16:33] willdurand commented on #5045
@mlopatka what is the priority for this issue?

[2018-05-18 16:34] mlopatka commented on #5045
@willdurand P1

[2018-05-18 16:35] willdurand commented on #5045
ack, working on this now.

[2018-05-18 16:46] pwalm commented on #4967
Alignment should be from the bottom left corner of the block, 36px of padding of either side:
<img width="1193" alt="screen shot 2018-05-18 at 9 45 37 am" src="https://user-images.githubusercontent.com/6797635/40247163-515b6010-5a80-11e8-8af6-82bc681afd2f.png">

[2018-05-18 17:04] #5045 closed

[2018-05-18 17:12] willdurand commented on #5042
Thank you @championshuttler!

[2018-05-18 17:12] #5042 closed

[2018-05-18 17:13] jvillalobos opened #5047 "Redirect tag URLs to tag search"
Tag URLs currently land on the old front-end: https://addons.mozilla.org/firefox/tag/google

They need to be redirected to the equivalent tag search page: https://addons.mozilla.org/firefox/search/?tag=google

[2018-05-18 17:18] jvillalobos commented on #5018
Yes, the layout should be as close as possible to current lwt. Not sure if the issues to work on this have been filed already. /cc @eviljeff

[2018-05-18 17:19] jvillalobos commented on #5017
Same as https://github.com/mozilla/addons-frontend/issues/5018, yes.

[2018-05-18 17:20] jvillalobos commented on #5016
It should be "About this theme", yes.

[2018-05-18 17:21] jvillalobos commented on #5015
Yup, "Install Theme".

[2018-05-18 17:39] eviljeff commented on #5018
Correct.  The only difference with the preview vs. lwt header is UX defined the size as exactly as 680 x 92 (as of mozilla/addons-server#8248).  Frontend displays something between 770 x 90 and 630 x 90 now, depending on if there are badges, (the actual header image is 680 x 100) but the static theme preview shown on the detail page shouldn't be cropped (and ideally shouldn't be scaled either).

(

[2018-05-18 17:43] rebmullin opened #5048 "Static themes are missing from the user profile page"
### Describe the problem and steps to reproduce it:
find a user with static theme and view their user page, e.g:
https://addons-dev.allizom.org/en-US/firefox/user/ValentinaDDD/
or
https://addons-dev.allizom.org/en-US/firefox/user/rebdev-test/ (it might be a little to see here since there are currently less things added)

### What happened?
The static theme doe not appear in the either section of t

[2018-05-18 17:58] birdsarah opened #5049 "Feature: opportunity to not see recommendations"
Assuming all is well and we continue on with displaying recommendations to folks.

We could provide an x "stop showing recommendations" and hide the recommendation box (presumably we'd have to set a cookie to store this preference). If we tracked this we could maybe use this as a way to detect any signals of people being upset with recommendations.

[2018-05-18 18:14] dominictwlee commented on #4884
I've given it a go with CSS only, but I can't seem to get it to work.

![screenshot from 2018-05-18 19-11-17](https://user-images.githubusercontent.com/34794189/40250869-90793552-5acf-11e8-8487-8a75899110e3.png)
![code](https://user-images.githubusercontent.com/34794189/40250870-90ae55d4-5acf-11e8-88e3-27135016dd15.png)

Thought it would be simple but maybe I'm missing something?

[2018-05-18 19:05] willdurand commented on #4884
what if you put this on `Card-contents`?

[2018-05-18 20:28] conorgil commented on #4902
@wagnerand I think there is definitely a bug in the submission process. Just like @Shadoefax , I submitted an updated version of my extension and it magically "fixed" things. I didn't do anything else other than upload a new version.

So, it appears to be working for me now, but it seems there is some kind of systematic bug too. Let me know if I can help by providing info, etc.

The extension link

[2018-05-18 20:39] rebmullin commented on #4967
ahh! ok thanks @pwalm

[2018-05-18 20:50] dominictwlee commented on #4884
*facepalm* can't believe I missed that. Thanks for being so patient with me.

[2018-05-19 18:05] tsl143 commented on #5021
We can keep 100% width of textarea by default and restrict the `resize` only to vertical, in this way resize will never distort the design.
For text area we are already giving help text in next line so giving 100% width to text area by default will make sense.

<img width="745" alt="image" src="https://user-images.githubusercontent.com/5318732/40271614-10b0b144-5bbd-11e8-9c1a-d20f5ddf9c5c.png">

[2018-05-19 20:36] 47014106 opened #5053 "Error zip"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-20 11:50] championshuttler commented on #5053
@47014106 it would be great if you can elaborate the problem you are facing :). Thanks

[2018-05-20 16:47] championshuttler commented on #5016
@rebmullin , I would like to work on it

[2018-05-20 17:36] willdurand commented on #5016
@championshuttler please go ahead!

[2018-05-20 19:14] championshuttler commented on #5016
@willdurand , I need a little help.
I was going through the code and I checked there is no field like Static theme in `src/core/constants.js`
So we need to create a ADDON_TYPE_STATIC_THEME and then import it to `src/amo/components/Addon/index.js` and then write a new case for static theme here `https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/Addon/index.js#L303`

[2018-05-21 03:38] Tallis40 opened #5055 "I can't access my themes"
### Describe the problem and steps to reproduce it:
Simple.  I try to change the theme on my page.
### What happened?
I keep getting an error message.
### What did you expect to happen?
I expected to be able to change the theme on my page like I have multiple times per year for years!
### Anything else we should know?
I'm mad.  I've been trying for weeks to change the theme and I keep getting the

[2018-05-21 05:59] AlexandraMoga commented on #5045
@willdurand I have looked in the console and I can see now that there are two dimensions listed: `"dimension4"`, value: `"TAAR_COHORT_INCLUDED"` and `"dimension5"`, value: `"TAAR-LITE-AB"`

Is there anything else we could check for this issue?

![image](https://user-images.githubusercontent.com/31961530/40292627-0118d180-5cd5-11e8-9928-08dd5d261fc4.png)

[2018-05-21 06:25] AlexandraMoga commented on #5035
Verified as fixed on AMO-dev with FF60 Win10x64

![image](https://user-images.githubusercontent.com/31961530/40293274-d467e73a-5cd8-11e8-9476-2ddc1d5b8edd.png)

[2018-05-21 07:02] AlexandraMoga commented on #5036
Verified on AMO-dev with FF60, Win 10x64. A non-existent username will now generate a 404 error.

![profile load](https://user-images.githubusercontent.com/31961530/40293897-afc4d4a8-5cdb-11e8-8b91-9a72c4999c14.gif)

@willdurand - you can see in the attached video that before the "Page not found" is displayed, the user profile card will load for a brief moment. Is this an expected behavior or can

[2018-05-21 07:28] AlexandraMoga opened #5056 "The Edit Profile form is loaded when the page is accessed with a non-existent user"
STR:

1. Log in to AMO-dev
2. Access the edit profile URL with a non-existent username (i.e. https://addons-dev.allizom.org/en-US/firefox/user/no-username-here-bro/edit/)

Actual result:
The page returns a 404 error, but the Edit profile form is diplayed

Expected result:
The standard 'Page not Found' should be displayed when the edit profile URL is accessed with a non-existent user

Notes; reprod

[2018-05-21 07:53] ioanarusiczki commented on #4994
Then I'm marking it verified fixed on AMO dev with FF60(Win10).

[2018-05-21 08:00] ioanarusiczki commented on #5048
@rebmullin Hei Rebecca, I think this is already tracked here https://github.com/mozilla/addons-frontend/issues/4810 This is a dupe.

[2018-05-21 08:47] ioanarusiczki opened #5057 "The underscore is interpreted as hyhen on Create a collection new form"
STR:
1. Load AMO dev and access the new create a collection form. https://addons-dev.allizom.org/en-US/firefox/collections/add/
2. Type in a name that contains "_" and observe the Custom URL while it autocompletes

Expected result:
Custom URL displays the "_"

Actual result:
Custom URL displays "-" instead of "_"

Notes:
This issue is reproducible on AMO dev with FF60(Win10).

![underscore copied

[2018-05-21 08:55] muffinresearch commented on #5053
@47014106 Feel free to re-open if you have more info.

[2018-05-21 08:55] #5053 closed

[2018-05-21 08:57] muffinresearch commented on #5055
@Tallis40 please can you provide more information:

* What is the URL of "my page"?
* What is the error message you're getting?

Please provide screenshots if that helps show us where the problem is. You should be able to do that by dragging a screenshot onto the comment box in github.

[2018-05-21 09:00] willdurand commented on #5057
Do we actually have instructions on this? I find legit to use hyphens in collection slugs.

[2018-05-21 09:00] #5048 closed

[2018-05-21 09:01] willdurand commented on #5045
No, it is all good.

[2018-05-21 09:02] AlexandraMoga commented on #4832
Verified as fixed on AMO-dev with FF60, Win10x64 and Android 7.0

![screen shot 2018-05-21 at 11 59 03-fullpage](https://user-images.githubusercontent.com/31961530/40299353-a7ac5fe4-5cee-11e8-8bbb-0de6d799d406.png)

[2018-05-21 09:04] willdurand commented on #5056
I think this will be fixed by https://github.com/mozilla/addons-frontend/pull/5039

[2018-05-21 09:05] AlexandraMoga commented on #5045
Marking issue as verified fixed on AMO-dev, FF60, Win10x64

[2018-05-21 09:06] muffinresearch commented on #5049
I've marked this a p3 to put this on the backlog. I would envisage we'd be able to to look at this after the all-hands, though there's nothing blocking us working on this sooner if the feature is behind a flag so it doesn't impact the study.

[2018-05-21 09:49] ioanarusiczki opened #5058 "Edit my collections new form has layout issues after refreshing the page"
STR:
1. Load AMO dev and access the new edit my collection link https://addons-dev.allizom.org/en-US/firefox/collections/add/
2. Type a name and description and click Save
3. Click Edit my collection
4. Refresh the page

Expected result:
No display issues.

Actual result:
It looks like A list of add-ons are in a continuous loading state on the right side of the page.

Notes:
This issue is reproduc

[2018-05-21 10:20] willdurand commented on #5036
It can be eliminated with a different error handler.

[2018-05-21 10:56] #5021 closed

[2018-05-21 11:15] ioanarusiczki commented on #5058
And closing because this is a dupe of https://github.com/mozilla/addons-frontend/issues/5022

[2018-05-21 11:15] #5058 closed

[2018-05-21 11:34] AlexandraMoga opened #5060 "User profile card is loaded briefly when the page is accessed with a non-existent user"
STR:

1. Log in to AMO-dev
2. Access the user profile page with a non-existent user (see https://addons-dev.allizom.org/en-US/firefox/user/no-username-here-bro/)

Actual result:
The user profile card will load for a brief moment before the "Page not found" is displayed

Expected result:
"Page not found" is displayed at the instant when the profile page is accessed with a non existent user

Notes:

[2018-05-21 12:03] ioanarusiczki commented on #5057
@willdurand Yes, both underscores and hyphens are allowed but when the underscore is typed in the "Name" field the hyphen shows up  - with autocomplete - in the Custom URL.  Please take a look at the .gif above.

[2018-05-21 12:04] willdurand commented on #5057
I saw it, I wonder if it would make sense to transform underscores like hyphens.

[2018-05-21 12:12] ioanarusiczki commented on #4919
Verified fixed on AMO dev with FF60(Win10).

![prefilled](https://user-images.githubusercontent.com/33448286/40306905-1eabcdfe-5d09-11e8-9bb6-f9f89f55c421.gif)

Filed https://github.com/mozilla/addons-frontend/issues/5057 for what I noticed. And https://github.com/mozilla/addons-frontend/issues/5058 which is already a dupe of https://github.com/mozilla/addons-frontend/issues/5022

[2018-05-21 12:55] ioanarusiczki commented on #5042
Verified fixed on AMO dev with FF60(Win10).
![no ratings yet](https://user-images.githubusercontent.com/33448286/40308556-4abe5636-5d0f-11e8-9746-fbba7b8b5ddf.png)

[2018-05-21 13:11] ioanarusiczki opened #5061 "The add-on submission is stuck in validation state on AMO dev"
STR:
1. Load AMO dev and from dev hub try to submit an extension.
2. Observe page.

Expected result:
Submission is completed without issues.

Actual result:
Submission won't pass through the validation state - is stuck

Notes:
This issue is reproducible on AMO dev with FF60(Win10),
This is reproducible with static themes too.

![won t pass validation state](https://user-images.githubusercontent.co

[2018-05-21 13:14] ioanarusiczki commented on #5061
Wrong repository, I copied it here https://github.com/mozilla/addons-server/issues/8317

[2018-05-21 13:14] #5061 closed

[2018-05-21 13:20] AlexandraMoga commented on #4997
Verified as fixed on AMO-dev with FF60, Win10x64 and Android 7.0

**Regular user**
 [1] Logged In
![image](https://user-images.githubusercontent.com/31961530/40309262-89cb41b6-5d11-11e8-8dba-6cf97cb01c59.png)

 [2] Logged out
![image](https://user-images.githubusercontent.com/31961530/40309267-8fea05b4-5d11-11e8-93cc-99a5c232e358.png)

**Admin user**
[1] Profile view
![image](https://user-images.g

[2018-05-21 13:30] rebmullin commented on #5016
hey @championshuttler  - I am working on the static theme updates/issues. Maybe we can find you another issue to work on? :)

[2018-05-21 13:37] championshuttler commented on #5016
@rebmullin sure 😀

[2018-05-21 14:09] rebmullin commented on #5016
thanks @championshuttler : )

[2018-05-21 14:17] ioanarusiczki commented on #5040
Verified fixed on AMO dev with FF60(Win10 and Android 8.0)
Looking way better now!

![wider boxes1](https://user-images.githubusercontent.com/33448286/40312149-ad3ffd2c-5d1a-11e8-80df-0cb6ccc70f41.png)
![wider text boxes2](https://user-images.githubusercontent.com/33448286/40312159-b2d0375c-5d1a-11e8-8861-1e80e93c0206.png)

[2018-05-21 14:27] vcarciu commented on #4376
Verified as fixed :
![displayname](https://user-images.githubusercontent.com/1583842/40312671-2ab05d82-5d1c-11e8-9160-eae7dc5eeb7b.gif)

[2018-05-21 14:35] vcarciu opened #5062 "Truncate long text in "View profile" page"
Steps to reproduce:
1.Go to https://addons-dev.allizom.org/en-US/firefox/users/edit
2.Add long text in all fields under "Profile section" and save the updates
3.Click the "View my profile" link

Expected results:
The text from "View profile" page is truncated

Actual results:
Text is not truncated

Please see a video of this bug :
![truncate](https://user-images.githubusercontent.com/1583842/40313

[2018-05-21 14:37] AlexandraMoga commented on #4884
Verified as fixed on AMO-dev with FF60, Win10x64

![image](https://user-images.githubusercontent.com/31961530/40313148-8c1d9c46-5d1d-11e8-9bb5-621b9617b920.png)

[2018-05-21 14:41] willdurand commented on #5062
Isn't it related to #4584?

[2018-05-21 15:11] muffinresearch opened #5063 "Turn on TAAR lite recommendations for stage and production."
This is to put the recommendations on details pages live in stage and prod as well as -dev and local development where it is already enabled.

[2018-05-21 16:12] willdurand commented on #2433
Closing in favor of #3045.

[2018-05-21 16:12] #2433 closed

[2018-05-21 16:20] willdurand commented on #1299
We do this for a while now, so let's close this issue.

[2018-05-21 16:20] #1299 closed

[2018-05-21 16:20] willdurand commented on #2260
We do this now, so closing.

[2018-05-21 16:30] #2260 closed

[2018-05-21 16:33] rebmullin commented on #5018
how should we handle the header in mobile / smaller devices? Is this okay to scale here or should we use the same height and cut the right side off?

regarding "shelves" - where can i see that? Is that this multi column view:
![Alt text](https://monosnap.com/image/dCuLndowhikqmNr5UZlfzNbvdzqPf5.png)

or something different?

@jvillalobos @eviljeff

[2018-05-21 16:40] tsl143 commented on #5057
We have implemented that anything except numbers and alphabets will be converted to `-`. Moreover hyphens in URLs are always SEO friendlier than underscores (https://www.woorank.com/en/blog/underscores-in-urls-why-are-they-not-recommended)

[2018-05-21 16:59] rebmullin opened #5065 "Static theme notes/tracking"
REF:
https://github.com/mozilla/addons-frontend/issues/4899
https://github.com/mozilla/addons-frontend/issues/4898 (tracker)

[existing issues](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+static+theme+)

## notes/tracking what needs to happen:

### Combining/integrating static and lwt results on the following pages:

Search / Category / Landing pages / H

[2018-05-21 17:10] jvillalobos commented on #5018
I believe that on mobile we show the full image height and crop on the left when needed. Shelves are the multi column view, yes. You can also see them on the AMO homepage.

[2018-05-21 17:25] #632 closed

[2018-05-21 17:38] hamka12 opened #5066 "zzz"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-21 17:38] hamka12 commented on #5066
zzz

[2018-05-21 17:39] eviljeff commented on #5018
with the static theme previews the cropping is on the right (from the svgs UX have created - see zip in of mozilla/addons-server#8248).

[2018-05-21 18:05] championshuttler commented on #5066
Hi @hamka12  , It would be great if you can describe the problem you are facing

[2018-05-21 19:50] jvillalobos commented on #5066
Closing due to lack of information.

[2018-05-21 19:50] #5066 closed

[2018-05-21 22:46] Tallis40 commented on #5055
Sorry.

Random URL from my pages because they all get the same response:  <
https://addons.mozilla.org/en-US/firefox/collections/
Dawn_Grib/pentecost-and-summer/>

error message:  see attachment

On Mon, May 21, 2018 at 4:57 AM, Stuart Colville <notifications@github.com>
wrote:

[2018-05-21 23:53] dominictwlee commented on #5020
I'll take a look at this and see what I can do.

[2018-05-22 07:16] #5060 closed

[2018-05-22 08:58] willdurand commented on #4908
Once we have webpack 4, we can upgrade `deepcopy`, see: https://github.com/mozilla/addons-frontend/pull/5054.

[2018-05-22 09:06] willdurand commented on #5020
Thanks @dominictwlee!

[2018-05-22 09:30] ioanarusiczki commented on #5021
Verified fixed on AMO dev with FF60(Win10)
Because resizing is restricted to only vertical this is no longer reproducible.

![resizing the box](https://user-images.githubusercontent.com/33448286/40354127-d92d4a1a-5dbb-11e8-81b7-5024b38567db.gif)

[2018-05-22 09:43] AlexandraMoga commented on #5060
@willdurand I'm still reproducing this on -dev. I think that after two hours I should  be able to see the fix in -dev. Do you know if there were any deployment issues that would prevent that?

[2018-05-22 09:44] ioanarusiczki commented on #4585
Verified fixed on AMO dev with FF60(Win10).
While viewing someone else's profile the Report this user for abuse is available.
While viewing my profile - the button is no longer displayed.
![self reporting for abuse](https://user-images.githubusercontent.com/33448286/40354864-9a78ede0-5dbd-11e8-828b-87e3059f4086.gif)

[2018-05-22 10:15] willdurand commented on #5060
@AlexandraMoga there were issues earlier today, but that should be deployed now.

[2018-05-22 10:22] AlexandraMoga commented on #5060
Verified as fixed on AMO dev with FF60, Win10x64

![no user correct](https://user-images.githubusercontent.com/31961530/40356863-137febee-5dc3-11e8-9a1d-8a13d994ba84.gif)

[2018-05-22 13:43] willdurand opened #5070 "Add api/saga/reducer to fetch/load user notifications"
This is the first step to add user notifications to the profile edit page, see: #5000.

[2018-05-22 13:45] bobsilverberg commented on #5057
I think it's okay to keep it as is. This is just a prefill, so a user could change it back to an underscore if it's really important to them that the URL have an underscore instead of a hyphen. That's my opinion anyway.

[2018-05-22 13:47] willdurand commented on #5057
I second @bobsilverberg's opinion, closing this issue as wontfix now. Feel free to comment/reopen if you think we should really change this behavior.

[2018-05-22 13:47] #5057 closed

[2018-05-22 14:06] #5020 closed

[2018-05-22 14:12] ioanarusiczki opened #5072 "Button should be named "Edit user's profile" when another account can be edited by an admin"
STR:
1. Load AMO dev and login with an admin account
2. View any other profile page - here's an example https://addons-dev.allizom.org/en-US/firefox/user/AnaTestUsernameadmin/
3. Observe the Edit profile button

Expected result:
"Edit user's profile" button is displayed.

Actual result:
"Edit profile" button is displayed.

Notes:
While logged in to view a personal account of any type when "Edit pr

[2018-05-22 14:15] willdurand commented on #5072
I don't think it needs to be changed for that use case. Not a lot of users have the right to edit other profiles anyway and the copy on this button works for everyone, so I am not really inclined to change it.

[2018-05-22 14:19] ioanarusiczki commented on #5072
@willdurand I just thought that it would be more clear for the admin too if "user's" is added and also because the edit profile page already mentions the "user's".
forgot to mention above - it's reproducible on AMO dev with FF60(Win10)

[2018-05-22 14:29] willdurand commented on #5072
I understand but the other page has a different copy. This neutral text works in both case, so I guess that's fine.

[2018-05-22 15:24] muffinresearch opened #5073 "Update install tracking to special case static themes"
The lightweight theme (LWT) installation uses its own API but static themes will be installed in the same way as extensions are.

We'll need to special case the install events to not just use the "addon" action for static themes.

One question is, should we special use something other than `theme` for the action so that we can tell static-themes apart from LWTs or just use `theme` for continuity?

[2018-05-22 17:09] jvillalobos commented on #5073
I think it would be good to be able to tell them apart. Both stats can be added together if there's a need for an "all themes" stat, right?

[2018-05-22 19:55] devaneymoz opened #5075 "31 May homepage content programming update"
For the **31 May** push, please find homepage content updates detailed [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @diox @bobsilverberg

[2018-05-22 21:17] rebmullin opened #5077 "Combined theme (lw and static) results are not displayed together on the AddonsByAuthorsCard (on addon detail page)"
### Describe the problem and steps to reproduce it:
go to a static theme detail page:
https://addons-dev.allizom.org/en-US/firefox/addon/rm-static-theme-3/?src=search

or go to lwt detail page:
https://addons-dev.allizom.org/en-US/firefox/addon/rm-test-new-theme/?src=search

you will only see "more themes" of that same type

### What happened?

### What did you expect to happen?
if an author has d

[2018-05-22 22:14] rebmullin opened #5078 "Combined lightweight and static theme results when filtering by theme in search"
### Describe the problem and steps to reproduce it:
when you search for an addon and then filter by Theme, static themes are not included in the results.

### What did you expect to happen?
static themes will be included in the Theme filter results

also make sure come up on the home page, any landing pages and in its respective category

[2018-05-23 08:28] ioanarusiczki commented on #5072
@willdurand I agree it could work both ways, this was a suggestion (enhancement) as it could improve the UX but on the other hand an admin knows the pages better than anyone else.

[2018-05-23 09:17] ioanarusiczki commented on #5020
Verified fixed on AMO dev with FF60(Win10)

![biographytext](https://user-images.githubusercontent.com/33448286/40415309-44709468-5e83-11e8-9ff5-65f59940c83d.png)

[2018-05-23 10:13] willdurand opened #5080 "Add Flow types to the user saga"
The `user` saga does not have Flow types because the initial thoughts about Flow were to use it one some specific files, but since #4523, we should add Flow types in sagas too 🎉

Let's do this.

[2018-05-23 10:19] #4965 closed

[2018-05-23 10:19] #5034 closed

[2018-05-23 10:21] #5062 closed

[2018-05-23 10:21] willdurand commented on #4584
Fixed by #5079

[2018-05-23 10:21] #4584 closed

[2018-05-23 10:38] willdurand commented on #5072
Yup, I am closing this issue for now because, as you said, "an admin knows the pages better than anyone else" 😉

[2018-05-23 10:38] #5072 closed

[2018-05-23 12:38] ioanarusiczki opened #5081 "Display issues for the ToolTip when hovering over it - the new collection form"
STR:
1. Load AMO dev and login with a new account that has a username such as anonymous-ada73ef9cabf810cf119216caf409f5b and click the new collection form https://addons-dev.allizom.org/en-US/firefox/collections/add/
2. Mouse hover over the Custom URL and observe the URL displayed
3. Go to edit profile page and edit your username then go back to the new collection form
4. Mouse hover over the Cust

[2018-05-23 12:45] AlexandraMoga commented on #5063
Verified on AMO-stage with FF60, Win10x64

Test results:

**Verified**
1. add-on recommendations card is present in extensions detail page
2. four recommendations are displayed for each extension visited
3. a cookie is applied when a user visits an extension details page; this cookie will be either `"TAAR_COHORT_INCLUDED"` (when the user receives recommendations from Taar/fallback), or `"TAAR_COHO

[2018-05-23 13:23] AlexandraMoga opened #5082 "Add-on recommendations card could end up recommending the same extension the user is currently viewing"
STR:

1. Open AMO homepage and select an extension to view its details page (i.e. https://addons.allizom.org/en-US/firefox/addon/ublock-origin/?src=recommended_fallback)
2. Look for the recommendations card on the add-on details page

Actual result:
The extension the user is currently viewing is also listed among add-on recommendations

Expected result:
The recommendations card should not display

[2018-05-23 13:54] vcarciu commented on #4584
Verified as fixed :
![trunc](https://user-images.githubusercontent.com/1583842/40428857-ea4c2ed0-5ea9-11e8-84d7-06c3ec16746e.png)

[2018-05-23 13:54] vcarciu commented on #5062
Verified as fixed :
![trunc](https://user-images.githubusercontent.com/1583842/40428876-f9b8e372-5ea9-11e8-8688-cb2172a44ef4.png)

[2018-05-23 14:38] bobsilverberg commented on #5082
I recall that we discussed this and decided to punt on it for now, as it only affects the curated/fallback scenario, and curated will go away once the experiment is over. We should keep this issue open, but I don't think we plan on fixing it right away.

[2018-05-23 14:48] muffinresearch commented on #5082
@AlexandraMoga as @bobsilverberg says, the TAAR team are aware of this scenario and we're not going to fix it for this test to avoid the possibility of skewing the control.

[2018-05-23 15:09] Vimal-Raghubir commented on #5047
Hi @jvillalobos, regarding the issue above which I was looking into potentially submitting a PR for, I noticed that I am unable to access the first URL provided simply by searching on the website.

Passing the URL manually into the browser will render the page which I agree needs to redirect to the second URL. My question is how are you accessing this URL by clicking on the website?

[2018-05-23 15:21] bobsilverberg commented on #5063
We should be able to get some recommended add-ons on stage, but I think we need to coordinate it. We'll need to know the guids generated by the TAAR Lite service for a particular add-on and then upload add-ons to stage with those guids. Do we feel this is important to do, or are we happy to wait to test it on prod, where all the guids should exist?

[2018-05-23 15:26] muffinresearch commented on #5063
It was showing results before the new tag was landed. It would be good to get at least one addon showing all 4 recommendations. You can call TAAR directly to find that out.

@bobsilverberg if you start with https://addons.allizom.org/en-US/firefox/addon/noscript/ yesterday it was only missing one recommendation.

[2018-05-23 15:32] bobsilverberg commented on #5063
Ok, I'll see if I can get recommendations to appear for noscript.

[2018-05-23 16:38] willdurand opened #5084 "Update flow type for TAAR recommendation fallback reasons"
The flow type `FallbackReasonType` is outdated because of a recent change on addons-server, we should update it according to this documentation section: https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#recommendations.

[2018-05-23 16:54] pwalm commented on #4998
Correct: Clicking update should just take you to the profile page.

[2018-05-23 16:55] pwalm commented on #4916
Yeah, I prefer a linked "Homepage" as well. Let's do that.

[2018-05-23 17:31] lawrencestanleymiller opened #5085 "Could not find page"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

Came from: https://www.spicytricks.com/tips/25-firefox-addons-popular-users

[2018-05-23 17:32] lawrencestanleymiller commented on #5085
Page sought not found

[2018-05-23 17:48] jvillalobos commented on #5047
The first URL could be accessed on the old website using the tags feature. You can get to URLs like that one following these directions:

1) Go to a listing page, like https://addons.mozilla.org/addon/ublock-origin/
2) Scroll down to the page footer and click on "View classic desktop site"
3) Scroll down and look on the right-hand side column for a Tags section. Click on any tag.

We're no longer

[2018-05-23 18:03] jvillalobos commented on #5085
That article is almost a year old, so there are a couple of dead links in it. Those are add-ons that were either removed by the developers or the administrators. There isn't really anything we can do about them. It's up to the developers to keep the listings working and up to date. I suggest going to https://addons.mozilla.org and look for alternatives to those add-ons.

[2018-05-23 18:26] bobsilverberg commented on #5063
@AlexandraMoga After much finagling, I was finally able to get recommendations for a single add-on on stage. Please use this add-on for final verification: https://addons.allizom.org/en-US/firefox/addon/flagfox/?src=featured

[2018-05-23 18:31] bobsilverberg commented on #4872
@MeridelW We don't generally re-open issues unless there's a critical bug that needs to be fixed related to the original patch, so this would best be done as a new issue. I will open one on your behalf, but something to keep in mind in the future. :-)

[2018-05-23 18:31] #4872 closed

[2018-05-23 18:32] bobsilverberg opened #5086 "Cosmetic changes to non-Firefox install button"
This is a follow-up to issue #4872.

As reported by @MeridelW:

Recommending small adjustments to the button copy here:
-Replace en dash with an em dash
-Remove spaces around em dash
-Remove exclamation point

So, new button copy would be:
**Only with Firefox—Get Firefox Now**

I synced with @atsay on this and she approved new version. Pretty minor changes so I assume we don't need to do any testi

[2018-05-23 20:03] championshuttler commented on #5084
Can i take this up ;)

[2018-05-23 20:17] bobsilverberg commented on #5084
Certainly @championshuttler, go for it, and thanks!

[2018-05-23 20:52] MeridelW commented on #4872
@bobsilverberg Ah, got it! Thanks, Bob - for the explanation and for opening a new bug. =)

[2018-05-23 21:57] #5086 closed

[2018-05-24 13:00] #4967 closed

[2018-05-24 13:00] #5056 closed

[2018-05-24 14:22] AlexandraMoga commented on #5034
Verified on AMO -dev with FF60, Win10x64

When logging out on the Edit profile page, the user is now redirected to the Log in page:

![prof logout](https://user-images.githubusercontent.com/31961530/40491455-c48fb950-5f76-11e8-952e-6f5482c2f8e8.gif)

@willdurand you mentioned in the pull request that the button should be called "Log in to continue" but when I'm testing this I see that the button i

[2018-05-24 16:03] #4878 closed

[2018-05-24 16:13] Vimal-Raghubir commented on #5047
Ok I followed your steps above and I can see the issue in the URL. Thanks for the clarification. If it's ok I would like to work on this issue.

[2018-05-24 16:43] #5075 closed

[2018-05-24 16:56] bobsilverberg commented on #4916
Thanks @pwalm. Just wondering, how would this look? The current page uses a format where we have a label (with a lighter font) with a value underneath it (see "User since" and "Number of add-ons" in the image above). Would we just keep the "Homepage" label, with the lighter font, and not have any value underneath it, or do you envision something different from that?

[2018-05-24 17:18] #4979 closed

[2018-05-24 17:18] #4982 closed

[2018-05-24 17:53] Vimal-Raghubir commented on #5047
I am unsure as to where to find the code that generates the tag sections in the old desktop site. The real issue I'm having is simply finding the code that renders the related categories and tags section on the right hand side of the old desktop site. Any help would be much appreciated.

[2018-05-24 18:52] rebmullin opened #5099 "Update docs instructions in "Developing with a local server""
### Describe the problem and steps to reproduce it:
go to: http://addons-frontend.readthedocs.io/en/latest/moz-addon-manager/#developing-with-a-local-server

the instructions show a patch that is needed to get this fully working but some of this code shown here is outdated:
![Alt text](https://monosnap.com/image/SIhOXvhu8112aOXnwOgESCAnFCoC73.png)

### What happened?
since some of the patch is out

[2018-05-24 19:49] #4276 closed

[2018-05-24 20:49] jvillalobos commented on #5047
For this we just need to redirect the old URLs to the new ones. I don't think it's necessary to change the links in the old site. I suppose @eviljeff can help you find where to make these changes, but he's out until next week.

[2018-05-24 23:32] rebmullin opened #5102 "Rating Manager component text should be updated for static theme type"
### Describe the problem and steps to reproduce it:

**(once static theme is added as a valid addon type - see PR #5067)
make sure you're logged out
find a static theme addon: eg: https://addons-dev.allizom.org/en-US/firefox/addon/rm-static-theme-3/?src=search
![Alt text](https://monosnap.com/image/oy2i4FQtraOp7XWVueDpbFkH7s8K5j.png)

### What did you expect to happen?
expect if on env where stati

[2018-05-25 02:49] Vimal-Raghubir commented on #5047
Ok if he wouldn't mind helping me find the location to start looking when he comes back that would be great! :)

[2018-05-25 08:15] ioanarusiczki commented on #5086
Verified fixed on AMO dev with FF60(Win10)
![cosmetic improvements](https://user-images.githubusercontent.com/33448286/40533907-e0344bda-600c-11e8-8fe1-f473e4892fb2.png)

[2018-05-25 09:28] eviljeff commented on #5047
The legacy page related category and tags section doesn't really have anything to do with how the new implementation would work, and the legacy site doens't need to be changed - it's the legacy style urls we want to capture and re-use.
The legacy template is roughly just doing `for tag in addon.tags: <render the link to the tag>`.

For addons-frontend there is a `tags` property on the Addon detail

[2018-05-25 10:03] willdurand commented on #4596
Is this still reproducible on the new frontend?

[2018-05-25 10:04] willdurand commented on #4596
Hi @ioanarusiczki, is this still reproducible on the new frontend?

[2018-05-25 10:23] diox commented on #4935
Note that specifically for langpacks, the [language tools API](http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#language-tools) does provide a way to return only compatible versions, through the `appversion` parameter. It's not currently available for the detail API however, so using this would require refactoring the language tools page to directly download the language packs

[2018-05-25 11:20] ioanarusiczki commented on #5075
Full validation will be done in AMO dev with FF60(Win10)
@bobsilverberg I verified the banners and all sections and noticed that compared to what's in the [document](https://addons.mozilla.org/en-US/firefox/collections/mozilla/essential-extensions/)
on AMO dev when See more link is clicked for Change Up Your Tabs, Essential Extensions and Translation Tools, they are displayed with uppercase letter

[2018-05-25 11:33] ioanarusiczki commented on #4982
@bobsilverberg
Hello Bob. Could you provide some STR for QA, or some more details of what to test on this part.
Thanks!

[2018-05-25 11:53] willdurand commented on #4982
I don't think there is a need for QA here since it is more a code quality issue and related to the test suite.

[2018-05-25 11:55] willdurand commented on #5075
@ioanarusiczki I think Bob created the collections in -dev for testing purpose, if the links have the correct URLs, it is enough. In -prod, we will have the correct content for each collection, but I don't think -dev needs to have the exact same collection title and/or description.

[2018-05-25 12:42] ioanarusiczki opened #5105 "Added to collection message is permanent - won't fade away after 5 seconds"
Followup for https://github.com/mozilla/addons-frontend/issues/4979

STR:
1. Load AMO dev and go to an existing collection or create a new one.
2. Click Edit my collection link and add an extension/theme.
3. Observe the green message displayed above the Find add-ons field.

Expected result:
Message should fade away after 5 seconds.

Actual result:
After the extension/theme is added to the list the

[2018-05-25 12:44] willdurand commented on #5105
Duplicate of https://github.com/mozilla/addons-frontend/issues/5011?

[2018-05-25 12:45] ioanarusiczki commented on #4979
Verified fixed this on AMO dev with FF60(Win10 and Android 8.0) - the Added to Collection message is displayed when an extension or theme is added to the collection.
The following works as expected:

I noticed that the message won't fade away after 5 seconds - after adding the first extension/theme to the collection it remains permanent - I filed https://github.com/mozilla/addons-frontend/issues/5

[2018-05-25 12:51] AlexandraMoga commented on #4852
Verified as fixed on AMO-dev, with FF60, Win10x64

![list refresh](https://user-images.githubusercontent.com/31961530/40545056-143e323a-6033-11e8-8144-8a983828481f.gif)

[2018-05-25 13:03] AlexandraMoga commented on #5056
Verified as fixed on AMO-dev with FF60, Win10x64

![profile edit 404](https://user-images.githubusercontent.com/31961530/40545576-0161cf8a-6035-11e8-9db0-ca95384758a5.gif)

[2018-05-25 13:29] willdurand commented on #4599
@pwalm would you have some more information/icons?

[2018-05-25 13:31] AlexandraMoga commented on #4965
Verified as fixed on AMO-dev with FF60, Win10x64

![user-edit](https://user-images.githubusercontent.com/31961530/40546834-f3f23732-6038-11e8-884f-30c15d7491c6.gif)

[2018-05-25 13:41] vcarciu opened #5106 "Profile picture is too little in "View my profile page""
Steps to reproduce:
1.Open a profile page after uploading a new photo

Expected results:
Picture size is big enough to distinguish the photo details

Actual results:
Picture size is too little

NOTES:
Not sure about the size from specs, but I am not able to distinguish any details from the picture.

Please see screenshot for this bug :
![picture](https://user-images.githubusercontent.com/1583842/4

[2018-05-25 13:51] willdurand commented on #5106
Spec size is 64x64 max.

[2018-05-25 13:53] vcarciu opened #5107 "Portrait pictures are cropped off in profile view page"
Steps to reproduce:
1.Try to update your profile by adding a portrait picture
2.Go to view profile page

Expected results:
Entire photo is displayed

Actual results:
Picture is cropped

NOTES:
Related to #4276

Please see a video for this bug :
![cropped](https://user-images.githubusercontent.com/1583842/40547976-0c80f45c-603c-11e8-9564-9a1ecafb095f.gif)

[2018-05-25 13:57] AlexandraMoga opened #5108 "Different search results after page refresh when sorting by 'relevance' or 'hotness'"
STR:

1, Make a blank search on AMO -dev
2. Sort the search results by relevance - https://addons-dev.allizom.org/en-US/firefox/search/?sort=relevance
3. Refresh the page
4. Observe the search results again

Actual result:
A different set of results is displayed after page refresh

Expected results:
The same results are displayed after page refresh

Notes:
- reproduces also when sorting by 'hotnes

[2018-05-25 13:57] ioanarusiczki commented on #4967
Verified fixed on AMO dev with FF60(Win10).
Firefox
![padding 24px 36px firefox](https://user-images.githubusercontent.com/33448286/40548083-611aebda-603c-11e8-965a-a6cdc82964b6.png)
Chrome
![padding 36pxchrome](https://user-images.githubusercontent.com/33448286/40548090-670b8c84-603c-11e8-92b0-c5ae17b81dfe.png)

[2018-05-25 13:57] willdurand commented on #5107
The API crops the uploaded images indeed, I think it is a wanted behavior. Is it different on the legacy frontend?

[2018-05-25 14:08] willdurand commented on #5107
Right. I don't know what to do, though.

Should we keep the ratio or have squared/cropped profile pictures?

/ping @pwalm

[2018-05-25 14:11] willdurand commented on #5047
Could we imply add a redirection at the nginx level? /cc @philipcristiano

[2018-05-25 14:19] willdurand commented on #5108
I don't think it is a frontend issue because we do not do much here, we only display the results coming from the API.

[2018-05-25 14:19] #5108 closed

[2018-05-25 14:22] vcarciu commented on #5106
@willdurand : can we ask if we can increase the size?

[2018-05-25 14:32] willdurand commented on #5106
@vcarciu sure, but do we need two issues or we can do everything in #5107?

[2018-05-25 14:37] vcarciu commented on #5106
@willdurand : you are right, we can do everything in #5107

[2018-05-25 14:49] willdurand commented on #5106
@vcarciu can we close this one then?

[2018-05-25 14:58] ioanarusiczki commented on #5107
This was also filed for old page too https://github.com/mozilla/addons-frontend/issues/4629

[2018-05-25 15:08] vcarciu commented on #5106
Sure

[2018-05-25 15:08] #5106 closed

[2018-05-25 15:15] bobsilverberg commented on #5105
Yes, this duplicates #5011. Closing.

[2018-05-25 15:15] #5105 closed

[2018-05-25 15:16] bobsilverberg commented on #4979
I see that @willdurand  already pointed out that #5105 is a duplicate of #5101. Thanks @willdurand!

[2018-05-25 15:18] bobsilverberg commented on #5075
What @willdurand says above is accurate, @ioanarusiczki. The concern you raised is not an issue that needs to be addressed.

[2018-05-25 15:28] bobsilverberg commented on #5063
This can now be re-closed.

[2018-05-25 15:28] #5063 closed

[2018-05-25 15:39] bobsilverberg commented on #3931
As I understand it, there will no longer be such a thing as "private collections", so can this be closed? @willdurand and/or @muffinresearch

[2018-05-25 15:43] bobsilverberg commented on #4000
As per https://github.com/mozilla/addons-frontend/issues/3995#issuecomment-350380170, contributors will not be able to be assigned to a collection via the new front end. @jvillalobos can you please confirm that we can close this?

[2018-05-25 15:51] muffinresearch commented on #3931
It should be an error page with a correct HTTP error code. Probably the most correct would be 403 but it might be better to do 404 because that content just should not exist for the non-owning user.

[2018-05-25 16:34] willdurand commented on #4999
@muffinresearch do we expect anything when a theme is installed and we hover the theme image?

[2018-05-25 16:56] muffinresearch commented on #4999
On the disco pane this will should show a preview until #4914 is landed.

[2018-05-25 16:58] willdurand commented on #4999
@muffinresearch yes, but one it is installed. What do we want? I have #4914 running locally, and there is still a hand icon once the theme has been installed.

[2018-05-25 16:59] willdurand commented on #4999
@muffinresearch ok, but what should we expect when hovering the current installed/used theme? It still displays a hand icon.

[2018-05-25 17:27] sewcraftyme opened #5110 "Broken Link from Twitter"
### Describe the problem and steps to reproduce it:
I did a search in Duck Duck Go for Shorten a Link for Twitter

It gave me a link to this page - among others:
https://twitter.com/shortenurl

I picked the link above because it mentioned it was an add-on for Firefox.
![broken link for add on](https://user-images.githubusercontent.com/27222252/40557816-5e5b6158-601f-11e8-8d3f-4db666e064dd.JPG)

I

[2018-05-25 17:31] willdurand commented on #5110
This add-on has probably been removed. /cc @wagnerand

[2018-05-25 17:48] jvillalobos commented on #4000
Confirmed.

[2018-05-25 17:48] #4000 closed

[2018-05-25 17:48] willdurand opened #5111 "Update documentation to build Firefox for testing the discopane"
The FF code has changed and the current diff used to patch the code cannot be applied anymore. The documentation page is: https://github.com/mozilla/addons-frontend/blob/master/docs/moz-addon-manager.md.

[2018-05-25 17:48] #5111 closed

[2018-05-25 17:53] wagnerand commented on #5110
Yes, like the screenshot says: "This add-on has been removed by its author."

[2018-05-25 17:53] #5110 closed

[2018-05-25 17:59] #5099 closed

[2018-05-25 18:16] willdurand commented on #5099
ah oops. I missed this issue, sorry!

[2018-05-25 18:17] willdurand commented on #5110
Oh, I did not know we had that.. Sorry, I did not pay attention to the message :/

[2018-05-25 18:22] willdurand commented on #5111
see also: #5099

[2018-05-25 19:19] #4999 closed

[2018-05-26 09:19] aastha980 commented on #5107
@willdurand I want to work on this issue , can you please tell me where can i find the main code for this issue ?

[2018-05-26 11:15] willdurand commented on #5107
@aastha980 unfortunately there is nothing we can do for this issue yet, it would be better if you could find another issue. We have labels for contributor-friendly issues ("good first bug").

[2018-05-27 04:25] sohail978 opened #5115 "ReCaptcha Solver Firefox Add-on not added in firefox"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-27 05:46] mickyfan2345 opened #5116 "went to select a theme for my browser and it was an error"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-27 05:48] mickyfan2345 commented on #5116
went to themes for firefox and it use to work but now there's a service error what's going on  Server Error

Sorry, but there was an error with our server and we couldn't complete your request. We have logged this error and will investigate it.
Suggested Pages

    Browse all extensions
    Browse all themes
    Add-ons Home Page

If you have additional information that would help us you can file

[2018-05-27 10:49] championshuttler commented on #5115
Hi @sohail978 , I think you are looking for this addon  - https://addons.mozilla.org/en-US/firefox/addon/recaptcha-solver/ . If not, it would be great if you can describe the problem you are facing.

[2018-05-28 09:10] willdurand opened #5118 "Users reducer should store username in lowercase (in `byUsername` attribute)"
### Describe the problem and steps to reproduce it:

Browse a user profile with a username that has been stored with capital letters in database, for example `Madonna` but use `madonna` in the URL: http://localhost:3000/en-US/firefox/user/madonna/ (in -dev).

### What happened?

The profile is not loaded and is stuck in an inconsistent state (loading mode).

### What did you expect to happen?

The

[2018-05-28 10:12] willdurand commented on #4809
Hi @pwalm, would you have an input on this? We don't have paginated components yet, only pagination at a "page" level (e.g., search results). When trying to reuse the pagination below each card, it looks like this:

![screenshot-2018-5-28 user profile for add-ons for firefox](https://user-images.githubusercontent.com/217628/40609775-a31d6058-6267-11e8-9384-253f5b78d5f6.png)

I don't think it looks

[2018-05-28 12:11] EffPeh opened #5121 "Report this add-on for abuse"
### Describe the problem and steps to reproduce it:

Today I reported an add-on abuse for the first time. I wasn't sure if a popup with advertising text and a link to a website (it's spam for me) violated the policies. So I clicked the link to [_Mozilla's add-on policies_](https://developer.mozilla.org/en-US/Add-ons/AMO/Policy)

### What happened?
Even the first paragraph is irritating for normal

[2018-05-28 14:38] bobsilverberg commented on #4809
I agree that that looks bad. At the very least I would think that the pagination links should appear as if they're inside the cards for the themes/extensions. As it is above it's difficult to know that each paginator actually belongs to the card above it.

I guess this is also going to cause some implementation complexities for us, because right now we pass the page on the URL, so any given screen

[2018-05-28 15:01] willdurand commented on #4809
I stumbled upon mock-ups that have a different pagination component, which made me think about #3100 again:

<img width="913" alt="screen shot 2018-05-28 at 15 58 00" src="https://user-images.githubusercontent.com/217628/40620237-fb3102b8-628f-11e8-92ce-b863ff0b8bd1.png">

This new UI for the pagination component look better for our use case here.

I was about to implement 2 different `page` query

[2018-05-28 16:05] #5118 closed

[2018-05-28 16:06] #4977 closed

[2018-05-28 16:06] #4978 closed

[2018-05-28 16:31] willdurand commented on #4744
I don't think there is anything SSR-related because this component loads on the client only.

[2018-05-28 17:02] jvillalobos commented on #5121
Those links work for me. Can you check again? Can you look at the URL of the 404 pages and make sure they're the same you posted here?

As for linking to the policies, the idea is that add-ons that don't meet those policies should be reported, which seems clear from what's stated when you click on the Report Abuse button. Maybe @caitmuenster or @MeridelW have other opinions on this point.

[2018-05-28 17:03] jvillalobos commented on #5115
Closing due to lack of information.

[2018-05-28 17:03] #5115 closed

[2018-05-28 17:04] jvillalobos commented on #5116
Do you have the URL of the page you tried to visit?

[2018-05-28 17:45] bobsilverberg commented on #5022
I finally figured out the source of this problem: We had some code in place that would fetch the collection add-ons for a collection when a user switched into edit mode. I introduced this to address the case when a user is viewing page 2 of a collection, and switches into edit mode. I assumed the best thing to do would be to start them off at page 1, so I re-fetched the add-ons (where page 1 would

[2018-05-28 18:54] EffPeh commented on #5121
Yes, I'm sure. Have a look... :)
![404-1](https://user-images.githubusercontent.com/296535/40626249-ab011b66-62b7-11e8-8246-c391915ddf61.JPG)
![404-2](https://user-images.githubusercontent.com/296535/40626258-b48152c8-62b7-11e8-93be-8381796d6f8b.JPG)
Maybe it's a locale problem. I'm from Germany.

Okay. Are you sure this is the view of any inexperienced user? ;)
And what about spam? The extension

[2018-05-28 20:42] #5070 closed

[2018-05-28 21:12] EffPeh commented on #5121
If I go to the English version of the extension page, I have the same problem.
Let's say I'm on _https: // addons.mozilla.org/**en-US**/firefox/addon/extension-I-want-to-report/_
If I click the link to _Mozilla's add-on policies_ there, I will be directed to the English version.
But if I click on the link to _Developer Agreement_ there, I also get to the German 404 page.

[2018-05-28 22:05] jvillalobos commented on #5121
We're linking to the en-US version of the policy index page directly, probably because that's the only version we know is up-to-date. I suppose MDN throws a 404 when it figures out your browser wants a different language and the page doesn't exist in it...

Maybe we should just link directly to the [policy page (in English)](https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Reviews), which is

[2018-05-29 01:52] mickyfan2345 commented on #5116
https://addons.mozilla.org/en-US/firefox/themes/abstract/?sort=up-and-coming
it's all the theme's on that site we can't be logged in and save them

On Mon, May 28, 2018 at 1:04 PM, Jorge Villalobos <notifications@github.com>
wrote:

[2018-05-29 05:49] AlexandraMoga commented on #5070
Could you please add STR or the label 'qa:not needed'?

[2018-05-29 06:47] willdurand commented on #5070
@AlexandraMoga sorry.. The edit profile page should continue to work (load, refresh).

[2018-05-29 06:55] AlexandraMoga opened #5126 "Add-ons already belonging to the collection should not be listed among search suggestions"
STR:

1. Log in to AMO-dev
2. Go to the details page of one of your existing collections and click on Edit
3. In the edit collection screen, search for an add-on to add to your collection (i.e. 'tree')
4. Search for the same add-on again and look at the search results

Actual result:
The add-on that was just added to the collection is still listed among search results

Expected result:
An add-on t

[2018-05-29 08:10] willdurand opened #5127 "Create a user notifications component"
In order to allow a user to view/edit their notifications, we need a notifications component that is able to display such notifications with `input[type="checkbox"]` and a loading state (when notifications are not fetched from the API yet).

[2018-05-29 08:57] ioanarusiczki commented on #4596
@willdurand Hi, sorry for answering with such a delay. It is still reproducible, I will mention it in https://github.com/mozilla/addons-frontend/issues/4276

[2018-05-29 09:07] ioanarusiczki commented on #4276
Verified this issue on AMO dev with FF60(Win10).
Still reproducible issues are https://github.com/mozilla/addons-frontend/issues/5107 and https://github.com/mozilla/addons-frontend/issues/4596
@willdurand @pwalm Compared with the old pages - The "Delete this picture" button is with black letters, the old pages had red letters and before deleting the image a message that is no longer displayed by t

[2018-05-29 09:20] willdurand commented on #4276
Indeed. I am thinking about adding a different button with a confirmation step to prevent unwanted deletion.

[2018-05-29 09:52] wagnerand commented on #5116
That url works for me both in the old and new frontend.

Please provide detailed and complete steps to reproduce your issue.

[2018-05-29 09:55] willdurand commented on #4596
@ioanarusiczki could you provide a picture that triggers this issue?

[2018-05-29 10:11] willdurand commented on #4596
@ioanarusiczki according to a discussion on IRC, it is a addons-server issue and not a frontend issue. Could you please move this issue to https://github.com/mozilla/addons-server/issues?

[2018-05-29 11:54] ioanarusiczki commented on #5118
Verified fixed on AMO dev with FF60(Win10).

My steps were:
1. Created a new account and edited it like Anonymous2301.
2. Went to a tab pasted the URL like this https://addons-dev.allizom.org/en-US/firefox/user/anonymous2301/

Another test:
1.  Renamed for an already existing account the username as CONTdedisplaytestadmin
2.  Copied the link went to a new profile and pasted the URL as https://addo

[2018-05-29 12:36] EffPeh commented on #5121
Maybe. But the pages in other languages should have the same content. That's not the case here. If I follow your link and change the language to German, I get a different content - in English. ;)

[2018-05-29 12:59] peaches67 opened #5129 "personas plus is not working , I can't change themes or add new ones. i uninstalled personaas & now i cant even install the add on again . every time i try to do anything wiht it i get this:"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-29 13:00] peaches67 commented on #5129
Sorry, but there was an error with our server and we couldn't complete your request. We have logged this error and will investigate it.

[2018-05-29 13:04] peaches67 opened #5130 "themes wont work at all"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-05-29 13:05] peaches67 commented on #5130
cannot install any theme . everytime i try i get this: Sorry, but there was an error with our server and we couldn't complete your request. We have logged this error and will investigate it. and it has been doing this for a long time

[2018-05-29 13:57] #5022 closed

[2018-05-29 14:00] ioanarusiczki commented on #4999
Verified fixed on AMO dev with FF60(Win10).
As @willdurand mentioned above the current installed theme will continue to display the hand icon.

@muffinresearch If the click does the install for a theme does it mean that the install button will be removed?

![click and install](https://user-images.githubusercontent.com/33448286/40663266-f93ee0a2-6360-11e8-9897-f97aff4d6f0e.gif)

[2018-05-29 14:48] ioanarusiczki opened #5132 "The user's profile page is not displayed for an admin if the URL is missing the slash"
STR:
1. Load AMO dev and log in with an account and go to Edit my profile page
2. Copy the link https://addons-dev.allizom.org/en-US/firefox/user/Contdedisplaytestadmin/edit
3. Log in with an admin account and paste the above link into the address bar

Expected results:
View user's profile page is displayed.

Actual results:
We're sorry, but we can't find what you're looking for message is display

[2018-05-29 15:20] willdurand commented on #5132
The new frontend has a middleware to make sure we go to URLs with a trailing slash. It is not the case of the legacy frontend, and we did not add any Nginx redirection for URLs without a trailing slash if I remember correctly.

[2018-05-29 15:23] muffinresearch commented on #4999
@ioanarusiczki no it's just an additional method for install. It used to be this way but at some point this behaviour regressed.

[2018-05-29 15:26] muffinresearch commented on #5129
@peaches67 please can you provide more information? This sounds like an issue with personas plus but you also mention a server error. Can you provide the URL you're on when you see this message?

[2018-05-29 15:33] #4577 closed

[2018-05-29 15:38] #5127 closed

[2018-05-29 15:46] diox opened #5134 "Make sure staff users can see any profile page, and link to the admin if the user has permission"
Split from https://github.com/mozilla/addons-server/issues/7268 because that's frontend work:

- [ ] Anyone in `Staff` should be able to click on any username on any public page and see the user's profile page. Regular users should only be able to click on developer usernames (the default behavior in the new front-end).
- [ ] User profile pages should have a link to the corresponding admin page, a

[2018-05-29 16:13] bobsilverberg commented on #4578
@pwalm I'm wondering about the UX for this. I have attached the current mockup from Sketch, but it is a bit out of date as it still shows the overlay. The mockup looks like this:

![collections - edit collection with notes - 1366px](https://user-images.githubusercontent.com/142755/40670697-e5e0e4de-6337-11e8-8f46-b55036090a8b.png)

And the current edit page looks like this:

<img width="1218" alt=

[2018-05-29 16:16] bobsilverberg commented on #4195
@pwalm Could you please let me know where you think the delete button should go on the current version of the Edit Collection screen, and what it should look like?

Current screen:

<img width="1218" alt="screenshot 2018-05-29 12 09 20" src="https://user-images.githubusercontent.com/142755/40671513-18fb92f4-633a-11e8-932a-49c2544ff263.png">

[2018-05-29 16:42] jvillalobos commented on #5130
This is a duplicate of https://github.com/mozilla/addons-frontend/issues/5116, so I'm closing this one. Can you please comment on that issue with the exact steps that lead to that error?

[2018-05-29 16:42] #5130 closed

[2018-05-29 17:01] pwalm commented on #4195
Hmm... let's put a link below the white box that says: "Delete this collection" which will then ask for a confirmation.
![add-ons - 2018-05-29 09 52 34](https://user-images.githubusercontent.com/6797635/40673656-3a127f4c-6327-11e8-87f0-5bc63d3f862d.jpg)

[2018-05-29 17:05] pwalm commented on #4578
Yeah, let's talk about it in the meeting.

[2018-05-29 17:11] willdurand commented on #4276
Exactly. Maybe we don't need a modal for the profile picture?

[2018-05-29 17:13] pwalm commented on #4599
Like this! (sorry about the missing icons)
<img width="1119" alt="screen shot 2018-05-29 at 10 11 13 am" src="https://user-images.githubusercontent.com/6797635/40674153-d857779c-6328-11e8-9eab-882c201dc185.png">
[icons.zip](https://github.com/mozilla/addons-frontend/files/2049673/icons.zip)

[2018-05-29 17:14] pwalm commented on #4809
So the pagination in use currently is basically the scaled-up mobile version. This mock-up is for the desktop.

[2018-05-29 17:42] willdurand commented on #4279
@pwalm quick & dirty:

<img width="1552" alt="screen shot 2018-05-29 at 18 41 46" src="https://user-images.githubusercontent.com/217628/40675548-fa92f31c-636f-11e8-9301-05a2818a793f.png">

Any comments? (Note: I don't really like this modal, the overlay blue is weird...)

[2018-05-29 18:11] aastha980 commented on #5023
I would like to work on this issue

[2018-05-29 18:51] bobsilverberg commented on #4279
I agree that that looks really weird, and as if some malware has taken over the user's computer!

[2018-05-29 18:54] bobsilverberg commented on #4916
Ok, just to confirm, because I'm dense, for Homepage, there will be no label, and all that will appear is the word "Homepage" which will look like the link in the example above. Is that correct?

[2018-05-29 19:45] Vimal-Raghubir commented on #5047
Would you kindly be able to point me in the right direction of where to start tackling this issue?

[2018-05-29 20:05] philipcristiano commented on #5047
There is a private repo for the ops stuff, if don't have access I can add the directives for nginx https://github.com/mozilla-services/cloudops-deployment/blob/master/projects/amo/puppet/modules/amo_proxy/templates/nginx.addons.conf.erb

[2018-05-29 20:22] willdurand commented on #5047
@Vimal-Raghubir thanks for your help, unfortunately it is an internal issue as it requires access to the repo above (which I don't have access either).

@philipcristiano could you setup an nginx rule to redirect `/tag/XXX` to `/search/?tag=XXX` where `XXX` is a placeholder with a tag name.

[2018-05-29 21:43] caitmuenster commented on #5121
Thanks for reporting this issue, @EffPeh! I agree that linking to https://developer.mozilla.org/en-US/Add-ons/AMO/Policy from the abuse report box was pretty clunky.

[The AMO Policy Page](https://developer.mozilla.org/en-US/Add-ons/AMO/Policy) seems more focused on developers and doesn't look like a good place for users to land. I'd prefer to have them land directly on the [Review Policies](https

[2018-05-30 02:16] Vimal-Raghubir commented on #5047
Ok thanks for considering me earlier. :)

[2018-05-30 08:58] ioanarusiczki commented on #4577
Verified fixed on AMO dev with FF60(Win10).
The items from a collection can be removed by clicking the Remove button.
@bobsilverberg If an item is added and then the user removes something from the list the message stays permanent but that is because of https://github.com/mozilla/addons-frontend/issues/5011 which is still open.
Also "remove" is permanent once it is clicked. If the user wishes to u

[2018-05-30 09:42] ioanarusiczki opened #5136 "An admin cannot add extensions into a collection created by another user on the new frontend"
STR:
1. Load AMO dev and login with an admin account
2. Search for a collection created by another user and try to edit it by adding a new item https://addons-dev.allizom.org/en-US/firefox/collections/willdurand/foo1234/edit/
3. Observe the page

Expected results:
Extension or theme selected is added to the collection.

Actual result:
Not found message is displayed.

Notes:
This is not reproducibl

[2018-05-30 09:56] wagnerand commented on #5121
@caitmuenster Maybe it makes sense to create a dedicated page about user reviews policy. I agree with the statement in the original comment that "The linked page of Review Process is too technical for normal users and doesn't offer any information about spam." That page is targeted to add-on developers.

I would prefer if we instead deleted the localized page content and redirected those to en-US.

[2018-05-30 10:27] ioanarusiczki commented on #4977
Verified fixed on AMO dev with FF60(Win10).

![skipping edit my collection](https://user-images.githubusercontent.com/33448286/40714700-0b36e948-640c-11e8-8b83-c550b9099330.gif)

@bobsilverberg I noticed that in the scenario when no text fields are edited after clicking Create collection Cancel and Save Collection have the same effect -> maybe Cancel should no longer be active until some text is e

[2018-05-30 10:29] EffPeh commented on #5121
Thank you all for looking at the problem. :)
I also think that linking to _review policies_ is the best solution. At the moment. ;)
But I also hope that a German translation will be available as soon as possible, because I know that many, especially older Germans have problems with the English language.

I agree with that.
_Review Policies_ is okay for the moment, but there are still many points i

[2018-05-30 10:54] willdurand commented on #4279
I revisited the modal with better UI and content (which can still be reworked later):

![2018-05-30 11 53 44](https://user-images.githubusercontent.com/217628/40716259-3a5b2a6a-6400-11e8-85ee-6cb140b5520f.gif)

[2018-05-30 11:48] AlexandraMoga commented on #5107
@willdurand maybe it is not the best user experience but since this is in accordance with the specs I guess this can be closed.

[2018-05-30 11:51] #5107 closed

[2018-05-30 12:01] ioanarusiczki commented on #4978
Verified fixed on AMO dev with FF60(Win10)
![create and save collection](https://user-images.githubusercontent.com/33448286/40718853-2f3ff7b8-641a-11e8-80e5-aa3ef8fc4a94.gif)

@pwalm @bobsilverberg This was verified also with https://github.com/mozilla/addons-frontend/issues/4977 where I added what I've noticed about the "Cancel" button.

[2018-05-30 12:39] ioanarusiczki opened #5137 "Stay up-to-date with news and events relevant to add-on developers is displayed twice in Edit my profile notifications - new pages"
STR:
1. Load AMO Dev and login with an account then go to Edit my profile page
2. Observe the last 2 options displayed

Expected result:
stay up-to-date with news and events relevant to add-on developers (including the about:addons newsletter) is displayed only once

Actual result:
stay up-to-date with news and events relevant to add-on developers (including the about:addons newsletter) is display

[2018-05-30 12:55] willdurand commented on #5137
I filed this bug on the server because it is an API error (returning duplicate unique names): https://github.com/mozilla/addons-server/issues/8377.

[2018-05-30 14:02] ioanarusiczki opened #5139 "Unchecking notifications is not working - new pages"
STR:
1. Load AMO dev and login with an account then go to Edit my profile page
2. Uncheck the available options from Notifications and click Update my profile
3. Observe the screen

Expected result:
Options are displayed as being unchecked.

Actual result:
Profile successfully updated is displayed but notification section won't display the list of options.

Notes:
This issue is reproducible clicki

[2018-05-30 14:05] willdurand commented on #5139
Indeed, we can only see the notifications for now but not edit them. This will be possible once #5128 is merged.

[2018-05-30 14:05] #5139 closed

[2018-05-30 14:09] ioanarusiczki commented on #5127
I've noticed  and filed two issues on AMO dev, FF60 (Win10)
https://github.com/mozilla/addons-frontend/issues/5137
https://github.com/mozilla/addons-frontend/issues/5139

[2018-05-30 14:13] ioanarusiczki commented on #5127
@willdurand Well then, in case we find other issues I'll let you know by updating this.

[2018-05-30 14:14] willdurand commented on #5127
Up to you but if you can see notifications and check/uncheck the checkboxes (even if it does not update on submit), then this issue is done. It is only about UI, nothing more here. The big issue for this feature is #5000

[2018-05-30 14:54] bobsilverberg commented on #4577
Yes, #5011 should resolve that issue.

Correct, that is expected.

[2018-05-30 14:56] willdurand commented on #5136
Do admins need an "edit" access if they cannot edit collections?

[2018-05-30 15:36] jvillalobos commented on #5121
Wrong button, sorry.

[2018-05-30 15:46] willdurand commented on #5132
@muffinresearch not sure what to do here, maybe we want to update the nginx rule? or is it a wontfix because this URL does not exist anyway?

[2018-05-30 16:10] ioanarusiczki commented on #4596
And closing this one
 https://github.com/mozilla/addons-server/issues/8390

[2018-05-30 16:10] #4596 closed

[2018-05-30 16:17] caitmuenster commented on #5121
Summary:
Currently, the "report abuse" link goes to https://developer.mozilla.org/en-US/Add-ons/AMO/Policy.

[Good First Bug - Abuse Report .pdf](https://github.com/mozilla/addons-frontend/files/2054760/Good.First.Bug.-.Abuse.Report.pdf)

We want to change this link to go to https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Reviews (note: we want to direct link to the en-US link)

Mentor: @wi

[2018-05-30 17:40] jvillalobos commented on #5136
I don't think admins need to be able to do that. Deleting a collection, yes, but not editing. Per https://github.com/mozilla/addons-server/issues/6273#issuecomment-326025262, we have a way for admins to set contributors for internal collections, which is the only use case for collaborative editing we need to support.

[2018-05-30 18:03] pwalm commented on #4578
Ok, here we go (forgive my artistry):
Create comment mode:
![add-ons - 2018-05-29 18 59 59](https://user-images.githubusercontent.com/6797635/40738645-f0e37a6a-63f8-11e8-9d43-eeb2fda0a76e.jpg)

Commented state (once it has been saved):
![add-ons - 2018-05-29 18 59 59 2](https://user-images.githubusercontent.com/6797635/40738669-06254ab6-63f9-11e8-9501-8863e2437622.jpg)

Edit mode (returning to edi

[2018-05-30 18:10] pwalm commented on #4276
Correct! No modal!

[2018-05-30 18:13] pwalm commented on #4916
Yes, correct. It's either this or we show the whole URL.

~OR~

We could provide a title field and an url field. So the use could enter both, we'd have a nice url title link with a subhead of "Home page".

~OR~

Is there a way the user can enter and URL and we can grab the <title>?

[2018-05-30 18:28] bobsilverberg commented on #5136
Sorry to ask again, @jvillalobos, but I realized, after asking my question, that we do have code in place specifically to allow admins (or anyone with the `Collections:Edit` permission) to edit collections, so I want to be totally clear before removing that.

Do you want me to remove the code that allows users who are not the owner to maintain collections? That would mean they could not:
- edit th

[2018-05-30 18:45] muffinresearch commented on #5132
The users' url for editing the user profile in the new frontend doesn't have a slash though. Is that expected? There seems to be some inconsistency.

[2018-05-30 18:50] willdurand commented on #5132
I thought we only had `/user/:username/edit/` with a trailing slash, so I expected the URL without a trailing slash to be invalid, but you're right it is not what we have currently.

[2018-05-30 19:01] willdurand commented on #5132
So if we change the nginx rule to fix this issue, we make the edit user URLs consistent but it is not what we want, right? We want to have trailing slashes on all URLs if I remember correctly.

[2018-05-30 19:12] mickyfan2345 commented on #5116
i sent you a screen shot of it not working what's going on

On Tue, May 29, 2018 at 5:24 PM, Lynnette Solomon <lynver05jsv1@gmail.com>
wrote:

[2018-05-30 19:17] bobsilverberg opened #5142 "Consistently use one user identifier in collections reducers and sagas"
While working on the "Delete a collection" feature, I discovered that we are inconsistently using either the string `username` or the numeric `userId` in different reducer and saga methods, and I see no reason to do so. All of the APIs are designed to accept either a numeric `userId` or a string `username`, and both are guaranteed to be unique to an individual user. We should update our code to ei

[2018-05-30 19:30] jvillalobos commented on #5116
I don't see a screenshot on this issue. So, what you're saying is that your get a server error page when you try to add a theme to your favorites collection? Does it happen for any theme you try to add? Can you explain the exact steps you follow to add the theme to the collection?

[2018-05-30 19:57] Gabbyjose commented on #5121
Hi there, I'm interested in helping out with this if it's still available!

[2018-05-30 20:30] caitmuenster commented on #5121
Hey @Gabbyjose! Go for it! If you need any help, please feel free to ping @willdurand. :)

[2018-05-30 20:47] Gabbyjose commented on #5121
Thanks @caitmuenster! @willdurand, what's the best way to reach you? should i sign up for IRC? i'm reading the docs now and i've never used Docker before so i want to get that set up first

[2018-05-30 21:11] willdurand commented on #5121
@Gabbyjose you can write here or email me at <my github username>@mozilla.com.

You do not need docker I think, only node 8 and yarn. Once you have both, you can run `yarn` followed by `yarn amo:dev` in the project root directory. After a while, you'll have the website running at http://127.0.0.1:3000/.

[2018-05-31 07:48] AlexandraMoga commented on #5022
Verified as fixed on AMO dev with FF60 Win10x64

![coll refresh](https://user-images.githubusercontent.com/31961530/40769196-09c64090-64c0-11e8-980b-854901636201.gif)

[2018-05-31 08:42] AlexandraMoga opened #5145 "Biography section is missing a title on the User profile card"
STR

1. Log in to AMO-dev
2. Open a user profile page that includes a biography (https://addons-dev.allizom.org/en-US/firefox/user/MaDonna-3/)
3. Check the biography section

Actual result:
There is no title marking the beginning of the user biography

Expected result:
The biography section should include a title, in order to be consistent with the rest of the user data listed on the profile card

[2018-05-31 08:50] AlexandraMoga opened #5146 "Link to Manage Firefox Accounts is missing from the Edit profile page"
STR

1. Log in to AMO-dev
2. Click on Edit profile from the user menu
3. Check the data available on the Account card

Actual result:
There is no link to redirect the user on the Manage Firefox Account page

Expected result:
A link to Manage Firefox Account should be present on the edit profile page. This was a useful feature that was available on the legacy pages.

Notes:
- reproduced on AMO dev

[2018-05-31 09:09] willdurand commented on #5146
Mock-up: <img width="925" alt="screen shot 2018-05-31 at 10 08 49" src="https://user-images.githubusercontent.com/217628/40773381-a41ca8f6-64ba-11e8-8546-143dbad15dd7.png">

[2018-05-31 09:15] rishabh-bansal commented on #5146
Hey! This is my first time, how can I get started?

[2018-05-31 09:16] rishabh-bansal commented on #5145
Hey! This is my first time, how can I get started?

[2018-05-31 09:22] willdurand commented on #5023
I noticed the presence of https://github.com/taion/react-router-scroll in our dependencies, maybe we can use it.

[2018-05-31 10:02] willdurand commented on #5145
Hi @rishabh-bansal, thanks for your interest! You have to write a Pull Request with a change located in the [`UserProfile` component](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/UserProfile/index.js).

First, you have to install the application locally and run the test suite (always!). The requirements are there: https://github.com/mozilla/addons-frontend#requirements

[2018-05-31 10:18] willdurand commented on #5146
Let's start with #5145 first 😉

[2018-05-31 10:24] willdurand opened #5148 "Update overlay background color according to Photon"
The overlay background is blue but it should be gray according to the Photon spec: https://design.firefox.com/photon/patterns/overlay.html.

![](https://design.firefox.com/photon/images/overlay/overlay-style.svg)

[2018-05-31 10:35] #5148 closed

[2018-05-31 10:40] willdurand commented on #5132
Meanwhile, I stumbled upon this: https://github.com/mozilla/addons-frontend/blob/dabf02480ad420949f4706e9d002fdc6933242bd/config/default-amo.js#L90-L111

[2018-05-31 10:46] willdurand commented on #5127
@ioanarusiczki would something like this work for you?

<img width="731" alt="screen shot 2018-05-31 at 11 45 57" src="https://user-images.githubusercontent.com/217628/40778190-3aec8884-64c8-11e8-9369-573422711308.png">

[2018-05-31 12:26] diox opened #5150 "Hide "Dictionaries and Language Packs" page on Android"
In the future Firefox for Android might support some sort of language packs, but at the moment it doesn't. As pointed out in https://bugzilla.mozilla.org/show_bug.cgi?id=1462689 at best they do nothing, at worst they break about:addons. In https://github.com/mozilla/addons-server/issues/8381 we are going to make langpacks incompatible with Firefox for Android, so ultimately they won't show up in t

[2018-05-31 12:42] willdurand opened #5151 "Add a confirmation step before deleting a profile picture"
### Describe the problem and steps to reproduce it:

1. As a logged-in user, edit your profile
2. Make sure you have uploaded a profile picture
3. Click "delete this picture" below the profile picture

### What happened?

The profile picture is deleted.

### What did you expect to happen?

A confirmation step would be nice to avoid deletion by accident.

### Anything else we should know?

We shoul

[2018-05-31 13:45] Kevin9930 opened #5153 "firefox does not want to add CryptoTab 1.2.9 Add on"
### Describe the problem and steps to reproduce it:

Afteri click the add cryptotab add on to firefox it gives a error message can not find

### What happened?

### What did you expect to happen?

### Anything else we should know?

etc....
https://cryptotab.net/en/

You successfully logged in.

Now you need to add CryptoTab extension into your Firefox to start mining and use all benefits.

click..

[2018-05-31 13:53] #5153 closed

[2018-05-31 14:16] xu3u4 commented on #5003
Hello, may I take this one?

[2018-05-31 14:28] willdurand commented on #3100
I need this for the user profile page.

[2018-05-31 15:50] AlexandraMoga commented on #5148
I have looked at the Write a review component as it seems to be the only one that is using an overlay currently.

![image](https://user-images.githubusercontent.com/31961530/40792631-143a9718-6503-11e8-81e3-4408a81fc999.png)
![image](https://user-images.githubusercontent.com/31961530/40792650-1dc7d944-6503-11e8-9427-227a4053b40b.png)

Verifed as fixed on AMO-dev with FF60, WIn10x64 and Android 7.0

[2018-05-31 16:29] bobsilverberg commented on #4387
We discussed this in today's meeting. @muffinresearch do you think we should up the priority on this?

[2018-05-31 16:50] muffinresearch commented on #4387
@bobsilverberg Ideally we should try and make the site robust to failures + missing data as much as possible.

It would be good to look at what we can do here. For example how difficult is it to fix this? Do we have a capability to gracefully fail an individual module if the data's not there or the response fails for any reason?

There might be some broader architectural concerns to think about, s

[2018-05-31 16:52] willdurand commented on #5132
@bqbn could you please update the -dev nginx rule added in https://github.com/mozilla/addons-frontend/issues/4284 from `/user/:username/edit/` to `/user/:username/edit` (without a trailing slash)? The related PR is: https://github.com/mozilla-services/cloudops-deployment/pull/1987.

[2018-05-31 16:57] willdurand commented on #4964
@jvillalobos so, this issue raises a point about user profile page visibility: do we really want to restrict access to these pages so that only "developer" profile pages are public?

- What happens when a user (non-developer) navigates to their profile page?
- What happens when an admin navigates to a non-developer user profile page?
- What happens when a (random) user navigates to a non-developer

[2018-05-31 17:41] jvillalobos commented on #4964
Yes, we want to restrict access to user profile pages because it's a vector for spamming.

There is content that regular users should be able to see on their profile page, like their ratings and their collections.

I think we should show the same we show for the owner of the account. The content being shown is fairly harmless.

It shouldn't be possible to navigate to it, but it should show a 404 i

[2018-05-31 17:41] bobsilverberg commented on #4387
+1 to that. I'll add it to the agenda.

[2018-05-31 17:46] willdurand commented on #4387
Likely related (and on my list for the all-hands): https://github.com/mozilla/addons-frontend/issues/3101

[2018-05-31 19:28] #4887 closed

[2018-05-31 19:39] AdityaSrivast commented on #4599
I would like to work on it.This is my first time. What do I have to do?

[2018-05-31 20:03] AlexandraMoga commented on #4999
@rebmullin @muffinresearch this wasn't working for me in prod. Could you please have a look?

[2018-05-31 20:15] rebmullin commented on #4999
@AlexandraMoga  clicking on the image DOES install the theme for me..
does anything happen?

Hey @muffinresearch, can you verify if it's working for you?

[2018-05-31 21:02] #5011 closed

[2018-05-31 21:10] rebmullin opened #5155 "Update react-transition-group to the latest version and the components that use it"
the react-transition-group package has a newer version and we should look into upgrading to that (either through Greenkeeper if possible (?) or explicitly updating in package.json)

The package is used currently in the Disco and Collection Manager so these components need to be adjusted to work with the newer version

[2018-05-31 22:04] willdurand commented on #5132
@bqbn how long does it take to be available usually?

[2018-05-31 23:39] bqbn commented on #5132
@willdurand it depends on the urgency of an issue and how much fire we're trying to put off elsewhere. :) We needed to deal with some kinto -prod issue thus this is not deployed immediately after merging.

That said, redirecting `/user/:username/edit` (without trailing slash) is on -dev now.

However, it looks like the application will add a trailing slash and redirect the user:

[code]

[2018-06-01 01:31] dominictwlee commented on #5146
I'll give this a go :), will report back within a week.

[2018-06-01 03:52] mickyfan2345 commented on #5116
did you get the last screen shot i send you i sent you 2

On Wed, May 30, 2018 at 6:27 PM, Lynnette Solomon <lynver05jsv1@gmail.com>
wrote:

[2018-06-01 03:52] mickyfan2345 opened #5156 "file not saving"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-01 08:17] AlexandraMoga commented on #4999
@rebmullin it's working for me today as well, but it definitely didn't work yesterday after the push.  Maybe it needed some more time to synchronize.

[2018-06-01 10:42] muffinresearch commented on #4999
@AlexandraMoga The disco pane has specific explicit caching on the HTML of 1 hour. Whenever testing after a push it's a good idea to append a query parameter to the `extensions.webservice.discoverURL` in `about:config` to bust the cache and be sure you're testing the latest version of all the code. /cc @rebmullin

[2018-06-01 10:45] muffinresearch commented on #5084
Mentor: @willdurand

@championshuttler if you have any questions let will know.

[2018-06-01 11:33] willdurand commented on #5132
Yes... It is actually broken now (only when editing another user though). My request to change the nginx rule was a mistake, I am sorry for that. We cannot simply do that because of the "trailing slash" middleware on addons-frontend.

So here are the information I have in mind now:

- `/users/edit` is a valid URL (without the trailing slash). It is the URL used in the legacy frontend as well as th

[2018-06-01 11:53] willdurand commented on #5132
Something I still don't really understand is why the trailing slash did not get appended in the first place and why did nginx replied instead of the app?

[2018-06-01 13:24] 78760611 opened #5157 "微信隐私 饼干"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-01 13:28] 78760611 commented on #5157
微信隐私反馈  里的链接  我输入法 显示语言  就是没有中文

[2018-06-01 13:35] 78760611 commented on #5150
我没用这个浏览器  我现在语言不全  没有中文

[2018-06-01 15:20] rebmullin opened #5159 "There is a locale bug coming up in travis"
https://travis-ci.org/mozilla/addons-frontend/jobs/386682718

[2018-06-01 15:38] #5159 closed

[2018-06-01 16:46] #4661 closed

[2018-06-01 16:46] #5015 closed

[2018-06-01 16:46] #5016 closed

[2018-06-01 16:46] #5017 closed

[2018-06-01 16:46] #5018 closed

[2018-06-01 16:51] bobsilverberg opened #5162 "Only allow the owner of a collection to edit it"
As per the conversation in yesterday's meeting, only the owner of a collection (or collaborators in the case of a Mozilla collection) should be allowed to edit the collection. This issue is to remove the code that supports allowing an administrator to edit a collection.

[2018-06-01 16:54] bobsilverberg opened #5163 "Support allowing collaborators to edit a Mozilla collection"
Depends on ~~https://github.com/mozilla/addons-server/issues/8509~~

As documented in the above issue, there will be one permission that indicates that a user can edit any Mozilla-owned collection, as well as a permission that indicates that a user can edit one particular Mozilla-owned collection.

[2018-06-01 17:18] bobsilverberg commented on #5136
As per issue #5162, admins should not be allowed to edit a collection in any way.

[2018-06-01 17:18] #5136 closed

[2018-06-01 18:29] bobsilverberg opened #5164 "Consistently use slug as the name for collection slugs, except for modify collection"
This is similar to issue #5142. I discovered, when working on the "edit the notes for a collection add-on" function that we inconsistently use the variable names `slug` and `collectionSlug` in api, reducer and saga code to refer to the slug of a collection.

We can just use `slug` in all cases, except for modifying a collection itself, because in that case there may be an old slug and a new slug.

[2018-06-01 18:47] championshuttler commented on #5084
Hi @muffinresearch , I got stuck in my University exams 😓, will back in a week ;)

[2018-06-01 19:03] #2318 closed

[2018-06-01 19:14] muffinresearch commented on #5157
It's hard to tell since I'm relying on auto translation but this looks like you're looking for support with a particular extension. This issue tracker is only for issues directly to do with the website addons.mozilla.org. If you think this issue has been closed in error, then please re-open the issue and add additional details so we can figure out the problem you are facing.

[2018-06-01 19:14] #5157 closed

[2018-06-01 19:18] mickyfan2345 commented on #5116
i hit the item i want and it wont even let me choice it

On Thu, May 31, 2018 at 11:52 PM, Lynnette Solomon <lynver05jsv1@gmail.com>
wrote:

[2018-06-01 19:44] mickyfan2345 commented on #5116
do you think it could be the new firefox i have the 60.0.1 (64-bit)

On Fri, Jun 1, 2018 at 3:24 PM, Stuart Colville <notifications@github.com>
wrote:

[2018-06-01 22:55] bqbn commented on #5132
Do you mean why the trailing slash did not get appended for `/user/:username/edit` endpoint?

The frontend does append a trailing slash to that, it looks like,

[code]

[2018-06-02 19:35] Michaelrodgerss opened #5171 "Firefox will not let me search the web"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-04 06:49] EnTeQuAk commented on #5171
This issue tracker is for the development of addons.mozilla.org. Please use [Discourse](https://discourse.mozilla.org/) for support.

[2018-06-04 06:49] #5171 closed

[2018-06-04 08:13] AlexandraMoga opened #5173 "Right-cropping theme previews will hide important elements in the theme design"
Follow up for #5067

STR:
1. Load AMO-dev homrpage (https://addons-dev.allizom.org/en-US/firefox/)
2. Examine the Featured Themes shelf

Actual result:
The cropped theme previews are hiding important elements from the theme design

Expected result:
The user should be able to see a more complete representation of the theme design when looking at the Featured themes shelf

Notes:
- the same behavior

[2018-06-04 09:18] muffinresearch commented on #5173
LWTs need to be right aligned and when truncated they should lose the left side of the image.

[2018-06-04 09:26] muffinresearch opened #5174 "Static themes: Cropping makes it hard to tell what you're going to get at small viewports"
Maybe there's a limit to what can be done here but as viewport sizes decrease it gets harder to see enough of a static theme preview to be useful.

This is going to be particularly an issue with LWTs that are converted, because they rely on right-aligned images.

URL: https://addons-dev.allizom.org/en-US/firefox/search/?platform=mac&q=static+theme

Here's a mobile size viewport:

![screen shot 201

[2018-06-04 09:31] muffinresearch commented on #5173
Marked as P1 since this will break display of lightweight themes once this change hits production.

[2018-06-04 09:50] AlexandraMoga commented on #5018
I'm marking this issue as verified fixed on AMO-dev with FF60, WIn10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/40910750-a557aba6-67f5-11e8-92b6-f7920079f8c4.png)

![image](https://user-images.githubusercontent.com/31961530/40910759-acd6ac24-67f5-11e8-8204-206b811a0b92.png)

[2018-06-04 10:08] AlexandraMoga opened #5176 "'Featured theme' label text is wrapped on AMO-dev theme details page"
STR:

1. Load AMO-dev homepage
2. Select the 'Themes' menu
3. Click on a theme from the Featured shelf to view its details page (https://addons-dev.allizom.org/en-US/firefox/addon/one-little-galaxy/?src=featured)
4. Observe the 'Featured theme' label

Actual result:
The 'Featured theme' label text is wrapped

Expected result:
The 'Featured theme' label text is displayed on a single row (see stage

[2018-06-04 10:33] willdurand opened #5177 "Add Flow type for users API"
The user API does not have Flow types for the return values. We started to add
return types for collections, and we should be doing this for all APIs.

[2018-06-04 10:39] AlexandraMoga commented on #5017
Verified as fixed on AMO-dev with FF60 Win10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/40913180-73e54176-67fc-11e8-8879-ee0921af71b4.png)

[2018-06-04 10:39] muffinresearch commented on #5174
This will need some discussion as to how to best handle this.

[2018-06-04 10:47] AlexandraMoga commented on #5016
Verified fixed on AMO dev with FF60 WIn10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/40913588-c16df216-67fd-11e8-953e-247c92aa7181.png)

[2018-06-04 11:00] AlexandraMoga commented on #5015
Verified fixed on AMO dev with FF60, Win10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/40914114-998b5034-67ff-11e8-8127-f4344718bc01.png)

[2018-06-04 12:16] ioanarusiczki commented on #5011
Verified fixed on AMO dev with FF60(Win10 & Android 8.0)
@bobsilverberg 1.The message fades away approximately in 8 seconds. I remember some discussions about 5 seconds or so.
2. A scenario I tested is when an extension is added and while the message is displayed I removed another extension that already existed in the collection -> added to collection message is still there and no other message fo

[2018-06-04 13:52] ioanarusiczki commented on #4887
Verified fixed on AMO dev with FF60(Win10).
The images don't look cropped anymore
Before
![before](https://user-images.githubusercontent.com/33448286/40921244-91d4a288-6817-11e8-8fdc-ea45619ed78a.png)

After
![after](https://user-images.githubusercontent.com/33448286/40921250-99098f8c-6817-11e8-9c65-dabf44b7dce0.png)

[2018-06-04 14:02] willdurand commented on #5132
@bqbn indeed, but why is "https://addons-dev.allizom.org/en-US/firefox/user/Contdedisplaytestadmin/edit" not redirected?

Do we need to add a second nginx rule to redirect `/user/:username/edit` to `/user/:username/edit/` at the nginx level?

[2018-06-04 14:15] #5173 closed

[2018-06-04 14:18] #5164 closed

[2018-06-04 14:43] willdurand commented on #2161
There is a new router library that looks interesting: https://reach.tech/router.

[2018-06-04 15:11] rebmullin opened #5181 "Header image on theme detail page needs be right aligned"
### Describe the problem and steps to reproduce it:
similar to #5173 but seen in header (especially mobile).
this isn't so much an issue at desktop but is more evident in mobile/smaller viewport

### What happened?
lightweight themes are left aligned

### What did you expect to happen?
lightweight themes should be kept right aligned

left aligned:
![Alt text](https://monosnap.com/image/VXejTgjNZXL

[2018-06-04 15:13] madalincm opened #5182 "Add-on type filter is set to search tool but extensions of all types are returned when performing a search from the search tools landing page"
This issue was open as a follow up of: https://github.com/mozilla/addons-server/issues/8402

### Steps to reproduce:
1. Open the search tools landing page: https://addons.allizom.org/en-US/firefox/search-tools/
2. Observe the "add-on type" filter
3. Perform a search and observe the results

### Expected results:
~We do not show the "add-on type" filter
~We return only search tools when performing

[2018-06-04 15:14] #5121 closed

[2018-06-04 15:15] willdurand commented on #5121
Thanks for your first contribution @Gabbyjose!

[2018-06-04 15:16] #5151 closed

[2018-06-04 15:20] Gabbyjose commented on #5177
hey will, i'd be interested in taking a stab at this ticket if it's ready for contributors. let me know!

[2018-06-04 15:30] ioanarusiczki commented on #4661
Verified fixed on AMO dev with FF60(Win10).
The new height is 100px, before it was 64px
Before and after the fix
![issue 4661](https://user-images.githubusercontent.com/33448286/40925914-8227730e-6823-11e8-9f8c-5c4590fd19b7.png)

[2018-06-04 15:30] Gabbyjose commented on #5177
thank you Will! I've never used Flow personally but it seems rather similar to React PropTypes which I've used. I'll look at the documentation and let you know if I have any questions

[2018-06-04 15:35] #5181 closed

[2018-06-04 15:50] bobsilverberg commented on #5011
Thanks @ioanarusiczki. I just tested locally, and it only seems to be displayed for 5 seconds for me.

As for removing an add-on after the message is displayed, I think it's basically okay. We do not display a message to confirm that an add-on was removed, and because the confirmation goes away after 5 seconds I think it's fine that we do not force-remove it after a user removes an add-on from the

[2018-06-04 16:06] #5142 closed

[2018-06-04 16:12] willdurand opened #5184 "Review copy for "account deletion" screens"
Hi,

We need to proof-read/validate the warning messages displayed to users/admins when they are about to delete a user profile.

Message for a regular user who is about to delete their profile:

![screen shot 2018-06-04 at 18 09 32](https://user-images.githubusercontent.com/217628/40928670-74313934-6822-11e8-902a-2ba8e4bcd635.png)

Message for admins who are about delete a user profile:

![screen

[2018-06-04 16:13] willdurand commented on #5184
@MeridelW I assigned you because you're likely the right person for this issue :)

[2018-06-04 17:31] #5176 closed

[2018-06-04 19:24] devaneymoz opened #5187 "June homepage content programming update"
For the **14 June** push, please update homepage programming to reflect what's detailed [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#).

@muffinresearch @bobsilverberg

[2018-06-04 20:54] bqbn commented on #5132
Because in https://github.com/mozilla-services/cloudops-deployment/pull/2071, Nginx was told to **ONLY** send `<locale>/user/<:username>/edit/` to frontend-amo, thus `<locale>/user/<:username>/edit` is sent to the desktop site by default.

Yes, the application (frontend-amo) will add a trailing slash to `<locale>/user/<:username>/edit` and return 301, but that only happens when Nginx passes that U

[2018-06-05 07:08] AlexandraMoga commented on #5176
Verified as fixed on AMO -dev with FF60, Win10x64

![image](https://user-images.githubusercontent.com/31961530/40960413-447c0026-68a8-11e8-8dae-ba91d3055c68.png)

[2018-06-05 07:56] AlexandraMoga commented on #5173
Verified fixed on AMO -dev with FF60, Win10x64 and Android 7.0

[1] AMO homepage
![image](https://user-images.githubusercontent.com/31961530/40962648-c652f63a-68ae-11e8-8a71-23de3de664c8.png)

[2] Theme homepage
![image](https://user-images.githubusercontent.com/31961530/40962670-d5ba4420-68ae-11e8-869a-b938b3eda993.png)

[3] More themes by author card
![image](https://user-images.githubuserconten

[2018-06-05 08:10] AlexandraMoga commented on #5181
Verified as fixed on AMO -dev with FF60, Win10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/40963378-0198ebc6-68b1-11e8-8bee-13ca6b89a9ca.png)

[2018-06-05 09:27] ioanarusiczki opened #5188 "Deleting the profile picture and updating the user profile page won't work"
STR:
1. Load AMO dev and go to Edit profile page
2. Choose a picture (I tested with .jpg samples) and then update profile
3. Delete the picture and confirm
4. Update the profile again and observe the picture

Expected results:
The profile picture is deleted and no longer visible - the placeholder is displayed instead.

Actual results:
The previous deleted profile picture is still displayed. It is

[2018-06-05 11:11] ioanarusiczki commented on #5151
verified fixed on AMO dev with FF60(Win10)
I filed https://github.com/mozilla/addons-frontend/issues/5188

[2018-06-05 12:13] vcarciu opened #5189 "Delete profile picture text overlaps its border when clicked"
Steps to reproduce:
1.Go to AMO-dev and log in with an account having a profile picture
2.Go to edit profile page
3.Click on "Delete this picture" photo

Expected results:
The text should properly fit inside the blue border displayed when clicking the text

Actual results:
The text overlaps the blue border

Please see video for this bug :
![deletepict](https://user-images.githubusercontent.com/158

[2018-06-05 12:16] willdurand commented on #5189
Thanks for reporting this bug @vcarciu, I also noticed it and was about to submit a PR to fix it :)

[2018-06-05 12:41] bobsilverberg commented on #5142
For QA:

There shouldn't be any noticeable changes from this, but it touched a lot of collections code, so it's probably a good idea to quickly verify that collections are still working as expected. It probably makes sense to verify this at the same time as issue #5164.

[2018-06-05 12:41] bobsilverberg commented on #5164
For QA:

There shouldn't be any noticeable changes from this, but it touched a lot of collections code, so it's probably a good idea to quickly verify that collections are still working as expected. It probably makes sense to verify this at the same time as issue #5142.

[2018-06-05 12:45] ioanarusiczki opened #5190 "Cannot log back in with an account after another account was deleted - new pages"
STR:
1.Load AMO dev and log in with an account and go to Edit profile page
2. Delete the account - Click on Delete my profile
3. Try to log back in using another account

Expected result:
The user is logged in.

Actual result:
401 Unauthorized page is displayed.

Notes:
This is reproducible with FF60(Win10).

![not authorized](https://user-images.githubusercontent.com/33448286/40976641-633f4ebc-68

[2018-06-05 12:50] willdurand commented on #5190
It is a "known" issue that has just been fixed on the server: https://github.com/mozilla/addons-server/issues/8387. In the meantime, you have to clear all your cookies for this domain.

Could you please retry in like 1h or so? (to wait until the server fix is deployed).

[2018-06-05 13:58] ioanarusiczki commented on #5190
@willdurand Ok, I've also noticed (and don't know if it's known) -> the new frontend won't display the message that an account with listed add-ons cannot be deleted
Classic desktop site - the message
![listed add-ons cannot delete](https://user-images.githubusercontent.com/33448286/40980365-db660eae-68e0-11e8-92a1-75e34475fe90.png)

This is the new behavior when deleting an account with listed add

[2018-06-05 14:01] willdurand commented on #5190
There is a note about that in the warning modal now.

[2018-06-05 15:44] #5000 closed

[2018-06-05 15:47] willdurand opened #5195 "Rename `editUserAccount` to `updateUserAccount`"
We want to rename `editUserAccount` action creators, actions (`EDIT_USER_ACCOUNT`, etc.), api method and so on to `updateUserAccount` (and `UPDATE_USER_ACCOUNT`, etc.) to be more consistent with the rest of the code that uses "update" to convey the intent of "change".

[2018-06-05 15:55] #5189 closed

[2018-06-05 17:03] willdurand opened #5199 "A card with a footer sometimes has bottom corners"
Example: The review card (see the bottom corners below the grey button, it should not be rounded)

![screen shot 2018-06-05 at 18 57 14](https://user-images.githubusercontent.com/217628/40991065-ece2856a-68f2-11e8-8819-d9e66b9a7884.png)

It is a visual regression introduced in https://github.com/mozilla/addons-frontend/pull/5050 while trying to fix https://github.com/mozilla/addons-frontend/issues

[2018-06-05 17:15] #5199 closed

[2018-06-05 18:28] willdurand commented on #5132
Thanks @bqbn, that makes sense.

Yep, that's what I am going to do now. We have the following routes for the edit page:

- `/users/edit`
- `/user/:username/edit/`

This issue will be marked as wontfix when #5179 will be merged.

[2018-06-05 20:08] #5190 closed

[2018-06-05 20:46] mickyfan2345 opened #5203 "not saving to prefenece"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-05 20:47] mickyfan2345 commented on #5203
all themes selected will not save it when im signed in it gives me this Sorry, but there was an error with our server and we couldn't complete your request. We have logged this error and will investigate it.
Suggested Pages

    Browse all extensions
    Browse all themes
    Add-ons Home Page

If you have additional information that would help us you can file an issue. Tell us what steps you took

[2018-06-06 06:58] vsnehil92 commented on #5162
@bobsilverberg i would like to work on this issue

[2018-06-06 07:09] vsnehil92 opened #5205 "Update Requirements section in Readme.md"
![image](https://user-images.githubusercontent.com/20948883/41022192-637b7a90-6986-11e8-88bd-f9195ef844db.png)

The current LTS version is Node 8.x. Won't it be updated in the readme.md? I think it need to be fixed.

[2018-06-06 07:31] AlexandraMoga opened #5206 "Information text regarding 'hosted addons' should not be present in the notifications section for regular users"
STR:

1. Log in to AMO dev with a non-developer account
2. Click on Edit My Profile
3. Scroll down to the Notifications section
4. Observe the information text present in the section

Actual result:
There is an information text explaining that the user might receive notifications concerning his hosted addons

Expected result:
Since the user is not a developer, this information text should not be p

[2018-06-06 08:51] willdurand commented on #5206
ah, good catch thanks!

[2018-06-06 08:52] #5132 closed

[2018-06-06 09:03] vcarciu commented on #5189
Verified as fixed :
![deletepicture](https://user-images.githubusercontent.com/1583842/41028233-a2c6184a-6981-11e8-8389-f1bd8221444c.gif)

[2018-06-06 09:11] ioanarusiczki commented on #5190
This is verified fixed on AMO dev with FF60(Win10).

[2018-06-06 09:29] willdurand commented on #5206
@AlexandraMoga I see that the legacy frontend always expose this information text.

[2018-06-06 09:34] ioanarusiczki opened #5207 "Cannot login with another user after an account with listed add-ons was deleted"
STR:
1. Load AMO dev and log in with an account that contains listed add-ons or themes
2. Go to Edit profile page and click the Delete profile button
3. Confirm the deletion
4. Log back in from AMO homepage with another account
5. Go to Edit profile page and observe the email address (also check the dev hub content)

Expected results:
Login is made successfully into the second account from step 4.

[2018-06-06 09:38] willdurand commented on #5207
ahm, I suppose we should not allow the user with add-ons to confirm deletion because the API won't permit that anyway, hence this bug: because the API won't delete the user, cookies won't be removed correctly, and the user will end up in a weird state as described in #5190.

[2018-06-06 11:08] ioanarusiczki opened #5211 ""Yes, delete my profile" should be greyed out if user wishes to delete an account with listed add-ons"
STR:
1. Load AMO dev and login with an account that has listed add-ons
2. Go to Edit profile page and click on Delete my profile button
3. Observe the new modal displayed

Expected result:
The user is announced "Important: if you own add-ons, you have to transfer them to other users or to delete them before you can delete your profile." There is no "Yes, delete my profile button" or it is greyed b

[2018-06-06 11:57] bobsilverberg commented on #5162
@vsnehil92 Sure, go right ahead.

The code that needs to change is in `Collection/index.js`, specifically [lines 344-347](https://github.com/mozilla/addons-frontend/blob/cf064079110aa0406daf36f0e2b90a2442cb9608/src/amo/components/Collection/index.js#L344-L347).

Some tests for the Collection component, which are in [`TestCollection.js`](https://github.com/mozilla/addons-frontend/blob/cf064079110aa

[2018-06-06 12:13] vsnehil92 commented on #5162
@bobsilverberg  Thanks I am on it, if i need any help I'll ask you.

[2018-06-06 12:15] #4998 closed

[2018-06-06 12:17] AlexandraMoga opened #5212 "A 'null' value is set in the biography field when the user saves his profile without adding a biography"
STR:

1. Load AMO-dev
2. Create e new account and go through all the confirmation steps until you land on the Edit profile page
3. Update your profile information, making sure that you also include a picture
4. Leave the Biography field empty
5. Click on Update Profile then go to View My Profile
6. Check the biography section

Actual result
There is a 'null' value present in the biography section

[2018-06-06 12:54] muffinresearch commented on #5187
@devaneymoz there is no 14th push due to the all-hands. Is this ok to go out on the 21st instead?

[2018-06-06 12:59] AlexandraMoga opened #5214 "Notification options are stuck in a loading state after the user delets his profile picture"
STR:

1. Log in to AMO-dev
2. Go to Edit My Profile and set a profile picture if you don't have one already
3. Delete your profile picture
4. Check the Notifications section

Actual result
Notification options are stuck in a loading state after the profile picture is deleted

Expected result:
Notification options should not be affected when a user deletes his profile picture

Notes:
- reproduced o

[2018-06-06 13:00] muffinresearch commented on #5203
Hi @mickyfan2345 this bug report doesn't give us enough information to know what the problem is - please can you provide as much information as possible:

* Can you tell us the URL you were on when you saw this error?
* What were you trying to do when you saw this error?
* What version of Firefox are you using?
* Please provide any screenshots that help us identify where the problem is.

[2018-06-06 13:06] muffinresearch opened #5215 "Upgrade to node 8 in production"
Node 6 is now in maintenance LTS and since node 8 has been active LTS we should be OK to switch over to it in production.

* Update to node 8 on -dev and test everything is ok
* Update on stage and then production.

[2018-06-06 13:09] muffinresearch commented on #5205
We generally don't switch to the active LTS as soon as it becomes active, but in any case these docs can be updated independently since we're already testing on node 8 and most developers are using node 8 already.

[2018-06-06 13:28] muffinresearch commented on #5203
Duplicate of #5116

[2018-06-06 13:28] #5203 closed

[2018-06-06 13:30] ioanarusiczki commented on #5164
Collection seem to be working fine - no new issues found
This is verified fixed on AMO dev with FF60(Win10&Android 8.0)

[2018-06-06 13:30] ioanarusiczki commented on #5142
Collection seem to be working fine - no new issues found
This is verified fixed on AMO dev with FF60(Win10&Android 8.0)

[2018-06-06 13:55] willdurand opened #5217 "Can't call setState (or forceUpdate) on an unmounted component"
### Describe the problem and steps to reproduce it:

1. Go to a collection edit page
2. Add some add-ons (at least one)
3. "Save" the collection
4. Observe the console logs

### What happened?

I see this message:

[code]

### What did you expect to happen?

There should not be any message like that.

I don't think it breaks anything since it is a warning but it is worth investigating.

[2018-06-06 13:58] willdurand commented on #5214
mmmh so did I break this after merging #5144 or is it an integration bug due to the two features being worked in parallel? 🤔 I'll figure it out.

[2018-06-06 14:18] AlexandraMoga opened #5219 "'About:addons' notification is unchecked when the user accesses the edit profile screen right after choosing this subscription"
STR:

1. Log in to AMO -dev with a developer account
2. Click on Edit My Profile
3. Scroll down to the Notifications sections and opt-in for the 'about:addons' newsletter
4. Click on Update my profile
5. Once you are redirected to the View profile page, select again Edit my profile
6. Check the options selected in the notifications section

Actual result:
The 'about:addons' newsletter appears dese

[2018-06-06 14:20] ioanarusiczki commented on #5188
Verified fixed on AMO dev with FF60(Win10 & Android 8.0).
@willdurand And a change in behavior, but I guess it's the new expected -> once the update profile button is clicked the View Profile page is displayed. The user can return to Edit Profile page with a click on the button.
I've noticed that Delete this picture button is not displayed under the image, now it's been moved more to the right dow

[2018-06-06 14:39] AlexandraMoga commented on #5000
Verified on AMO-dev with FF60 win10x64 and Android 7.0

Users are able to select/deselect notification options when updating their profiles. Notification options are also displayed in accordance to the type of user (i.e regular user or developer)

![notif user](https://user-images.githubusercontent.com/31961530/41045107-5a6bd59c-69b0-11e8-88ec-104f65a0e2d6.gif)

@willdurand I've noticed that the N

[2018-06-06 14:50] willdurand commented on #5000
Yes, because we have to retrieve the notifications data separately.

Yes, we chose to display only 2 "loading notifications" because users who are not developers won't have more than 2 notifications.

[2018-06-06 14:55] AlexandraMoga commented on #5219
@willdurand yes, this is the only notification that displays this behavior.

[2018-06-06 15:10] eviljeff commented on #5219
I wasn't involved with the initial implementation of the basket integration so I'm not really sure about the timing/race conditions. Maybe @diox and/or @EnTeQuAk have more of an understanding.

[2018-06-06 15:20] AlexandraMoga commented on #5199
Verified fixed on -dev and stage with FF60, Win10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/41047913-462cd7e2-69b6-11e8-9cd4-ed322a9eb046.png)

[2018-06-06 15:21] xu3u4 opened #5220 "Page shows 404 when all addons in the second page are deleted"
### Describe the problem and steps to reproduce it:
1. Editing a collection (an existing collection)
2. Having more than 25 addons in a collection, so that the pagination shows up.
3. Go to the second page, and delete them all.

### What happened?
It shows `Page not found`.

### What did you expect to happen?
Ideally, it should be redirected to previous page, page 1 in this case.

![vlpebxfoo1](ht

[2018-06-06 15:57] willdurand commented on #4809
I am still wondering what the best approach is because the `AddonsByAuthorsCard` component (+ its logic) is not designed for pagination. Maybe it would be faster to build another component, or maybe updating the existing `AddonsByAuthorsCard` to support pagination would be easier.

[2018-06-06 16:21] devaneymoz commented on #5187
@muffinresearch yes 21st is fine. Thanks.

[2018-06-06 16:33] muffinresearch commented on #5150
@diox could we just 404 the /%LOCALE%/android/language-tools/ route? As well as remove the link?

[2018-06-06 16:39] mickyfan2345 commented on #5203
i've given you all i can on the problem i given you screen shots using
firefox 60.0.1 (64-bit) i was trying to save it to my account this is the
first url i go to
https://addons.mozilla.org/en-US/firefox/themes/abstract/?sort=up-and-coming
and this is the second it takes me to i don't know what more i can give you
please help me

thanks

On Wed, Jun 6, 2018 at 9:28 AM, Stuart Colville <notificatio

[2018-06-06 17:15] #5207 closed

[2018-06-06 17:15] #5211 closed

[2018-06-06 18:06] willdurand commented on #4809
Ok, so I think supporting pagination in `AddonsByAuthorsCard` is easier and makes sense, here is a WIP:

![](https://screenshots.firefox.com/zp4vHvhEsX1vHYAX/localhost)

[2018-06-06 18:54] willdurand commented on #5023
@tsl143 this issue is available if you wish.

[2018-06-07 07:10] AlexandraMoga opened #5226 "'Tap to preview' theme button is misplaced in RTL orientation"
STR:

1. Load AMO stage
2. Switch to a RTL locale
3. Choose a theme to view it's details page - https://addons.allizom.org/fa/firefox/addon/fractal-summer-colors/?src=search

Actual result:
The 'Tap to preview' button is not correctly aligned

Expected result:
The 'Tap to preview' button aligned correctly

Notes:
- reproduced for themes without a 'Featured' label
- reproduced on AMO dev and stage

[2018-06-07 08:48] AlexandraMoga opened #5229 "Menu section should be hidden when playing the disco pane video in full screen"
STR:

1. Load the Discovery pane (about:addons)
2. Select 'Click to play' to start the promo video
3. Open the video in full screen mode

Actual result:
The menu bar on the right is displayed when the video is played in full screen mode

Expected result:
The menu bar should be hidden when the promo video is played in full screen mode

Notes:
- reproduced on all AMO servers with FF60, WIn10x64

![f

[2018-06-07 08:54] ioanarusiczki opened #5230 "Report this user for abuse - Mozilla's add-on policies link is not available"
STR:
1. Load AMO dev and go to an add-on or a theme's detail page
2. Click on the developer's name
3. Click Report this user for abuse
4. Observe the Mozilla's Add-on Policies

Expected results:
"Mozilla's Add-on Policies" is a link to https://developer.mozilla.org/de/Add-ons/AMO/Policy/Reviews

Actual results:
Link is not available yet.

Notes:
This issue is reproducible on AMO dev - new View Pro

[2018-06-07 08:57] ioanarusiczki commented on #5121
Verified fixed on AMO dev and AMO stage with FF60(Win10).

![new link for policies](https://user-images.githubusercontent.com/33448286/41089162-d4cd4e9e-6a49-11e8-9902-686544a5399c.gif)

[2018-06-07 09:02] Btcltc887708 opened #5231 "login"
### Describe the problem and steps to reproduce it:

### What happened? I try to login but not login show error

### What did you expect to happen?

### Anything else we should know?

[2018-06-07 09:11] willdurand commented on #5231
Sorry, without more information we cannot do anything.

[2018-06-07 09:11] #5231 closed

[2018-06-07 09:17] willdurand commented on #5230
Interesting, I think the link never appeared.

[2018-06-07 09:46] #5212 closed

[2018-06-07 09:50] #5226 closed

[2018-06-07 11:06] AlexandraMoga commented on #5226
Verified fixed on AMO -dev and stage with FF60, Win10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/41095963-c8d42ae2-6a5b-11e8-9ff8-7b5c748924e2.png)

[2018-06-07 13:00] willdurand opened #5234 "A component is changing an uncontrolled input of type text to be controlled"
When creating a new collection, I got this warning in the devtools:

[code]

I see that the internal state of the `CollectionManager` component as `undefined` values for the corresponding `input` values. It should never be `undefined` (or `null`), only strings that can be empty.

I think the problem comes from `propsToState()`. It does not seem easy to add default values (which should be the case

[2018-06-07 13:41] #5023 closed

[2018-06-07 16:30] bobsilverberg opened #5238 "In reducers/collections.js, rename deleteCollectionBySlug to unloadCollectionBySlug"
As discussed at https://github.com/mozilla/addons-frontend/pull/5186#discussion_r193733916, the current name of the method is a bit misleading, and it should be changed.

[2018-06-07 17:41] #4195 closed

[2018-06-07 18:00] #5102 closed

[2018-06-07 19:57] bobsilverberg commented on #4193
This is a duplicate of PR #5170

[2018-06-07 19:57] #4193 closed

[2018-06-07 19:59] bobsilverberg commented on #4502
We have decided not to support this workflow. A user must create a collection first (which means simply giving it a name and clicking "Create collection") in order to add add-ons to it.

[2018-06-07 19:59] #4502 closed

[2018-06-07 20:00] #5238 closed

[2018-06-07 20:02] bobsilverberg commented on #4576
This was done some time ago.

[2018-06-07 20:02] #4576 closed

[2018-06-07 20:08] championshuttler commented on #5155
@rebmullin can i take this up? ;)

[2018-06-07 20:27] #5084 closed

[2018-06-07 20:31] willdurand commented on #5102
@rebmullin we have to add the "contrib: assigned" label when an issue has been fixed by a contributor 😉

[2018-06-07 21:15] #5187 closed

[2018-06-07 23:10] rebmullin commented on #5102
hey @willdurand, thanks for adding and for the tip : )

[2018-06-07 23:11] rebmullin commented on #5155
sure @championshuttler, go for it : )

[2018-06-07 23:34] atsay opened #5245 "Changes to AMO detail pages when visited from non-Firefox browser"
### Describe the problem and steps to reproduce it:
We need to change a link and add a link to AMO detail pages that are reached via non-Firefox browsers.

### What happened?
When you reach an AMO detail page from a non-Firefox browser, you will see the green "Only with Firefox--Get Firefox Now" button.

Currently, it links to https://www.mozilla.org/firefox/new/?utm_source=addons.mozilla.org&utm_

[2018-06-07 23:44] chrismore commented on #5245
@atsay Actually the ?scene=2 has been deprecated since the site has changed over to /download/thanks/ as scene 2 so the URL should be:

https://www.mozilla.org/firefox/download/thanks/?utm_source=addons.mozilla.org&utm_medium=referral&utm_campaign=non-fx-button&utm_content=install-addon-button

[2018-06-07 23:49] atsay commented on #5245
Thanks, @chrismore!

[2018-06-08 02:47] chrismore commented on #5245
We should get @hoosteeno to double check this too.

[2018-06-08 05:51] vsnehil92 commented on #5162
@bobsilverberg  I am able to see the collections on the main website but i am not able to view those on my localhost. May you please help.

[2018-06-08 06:48] AlexandraMoga commented on #5238
Could you please add STR or the label 'qa:not needed'?
Thank you

[2018-06-08 06:53] AlexandraMoga commented on #5084
Could you please add STR or the label 'qa:not needed'?
Thank you

[2018-06-08 07:19] AlexandraMoga commented on #5102
Verified fixed on AMO dev with FF60, WIn10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/41144364-5adcd3f4-6b05-11e8-8d72-a1559bd5eab0.png)

[2018-06-08 07:54] AlexandraMoga opened #5248 "Static themes are not returned in search results on Android"
STR:

1. Load AMO-dev - https://addons-dev.allizom.org/en-US/firefox/
2. Enter a search term that will return static themes - i.e. _lastar_
3. Observe the search results
4. Switch to Firefox for Android - https://addons-dev.allizom.org/en-US/android/
5. Enter the same search term used in step 2
6. Observe the search results

Actual result:
Static themes are not returned in search results when sear

[2018-06-08 08:18] AlexandraMoga commented on #5212
Verified as fixed on AMO-dev with FF60, Win10x64

![no null anymore](https://user-images.githubusercontent.com/31961530/41146862-751f5bf8-6b0d-11e8-9eda-20fa263ba6a2.gif)

[2018-06-08 08:31] #5230 closed

[2018-06-08 08:38] willdurand commented on #5084
ooops, sorry added "qa: not needed", thanks!

[2018-06-08 09:11] ioanarusiczki commented on #4244
Yes, while testing I've also noticed this behavior, it is still reproducible on AMO dev and AMO stage with FF60(Win10). Would be nice to display the message on the new frontend too

![no message - new site](https://user-images.githubusercontent.com/33448286/41149733-04c43e84-6b15-11e8-864e-e589c3c3d76a.gif)

[2018-06-08 09:21] willdurand commented on #4244
Yup, it was never fixed so I am marking this issue as "contrib: welcome".

[2018-06-08 09:22] AlexandraMoga opened #5250 "Edit profile page scrolls up when trying to edit a field after an error is generated"
STR:
1. Log in to AMO-dev
2. Go to Edit my Profile
3. Edit some of the fields, making sure that at least one of the values entered will generate an error (i.e. an invalid image type)
4. Click on update profile
5. After the corresponding errors are generated, scroll down and edit one of the available fields

Actual result:
The Edit profile page will automatically scroll up when trying to edit a fie

[2018-06-08 09:48] willdurand commented on #5248
We don't really decide which add-ons to show in the frontend, if the API does not return static themes for Android, we cannot do anything here.

In addition, static themes are not really supported on Android anyway, so the API does not return static themes for Android on purpose.

[2018-06-08 09:48] #5248 closed

[2018-06-08 12:10] bobsilverberg commented on #5238
For QA:

Please verify that there are no regressions with the "Create a collection", "Edit a collection" and "Delete a collection" features.

[2018-06-08 12:11] ioanarusiczki opened #5252 "The updated profile photo and add-on custom icon is displayed only after refreshing page - the previous image is displayed instead"
STR:
1. Load AMO dev and go to Edit profile page to replace the existing profile picture  but make sure it's >3MB (I attached the samples I used)
2. Update profile
3. Observe the image displayed in View profile
4. Click the Edit profile button and observe the image

Expected result:
The new profile picture is displayed.

Actual result:
The previous picture is displayed. Only after page is refreshe

[2018-06-08 12:21] bobsilverberg commented on #5162
@vsnehil92 Which website are you looking at, and what command are you using to start the site locally? The two have to match, so I would suggest using https://addons-dev.allizom.org/en-US/firefox/ to view the live site, and starting the site locally with `yarn amo:dev`.

[2018-06-08 12:28] ioanarusiczki commented on #5211
Verified fixed on AMO dev with FF60(Win10 & Android 8.0)
![cannot be clicked](https://user-images.githubusercontent.com/33448286/41158126-8278bf6a-6b30-11e8-9734-122fbe774f97.gif)

[2018-06-08 12:53] ioanarusiczki commented on #5230
It appears now. Also appears in Report a user for abuse too. Verified fixed on AMO dev with FF60(Win10)
![report for abuse](https://user-images.githubusercontent.com/33448286/41159013-b7285b00-6b33-11e8-92dc-e694cf42fc5f.gif)

[2018-06-08 12:54] willdurand commented on #5250
Interesting, I cannot trigger this bug because I cannot submit the form, HTML5 validation prevents this to happen. But I agree that there is a bug here.

[2018-06-08 12:55] willdurand commented on #5250
Ah, I got it! Uploading a picture with an invalid type triggers the bug, sorry I misread the STR obviously.

[2018-06-08 12:59] eviljeff commented on #5248
Like @willdurand said, static themes aren't supported on Firefox for Android so for now the API is returning the correct response.
If Android does eventually add support then addon-server will have to start returning them (no need for an issue now)
On the other-hand, if it _still_ doesn't support static themes by the time LWT are migrated then I guess frontend will have to stop offering themes at

[2018-06-08 13:02] bobsilverberg commented on #3142
@pwalm This is next on my list to tackle. I see this screen in Sketch:

![collections - 1366px copy](https://user-images.githubusercontent.com/142755/41159381-5a497a38-6afa-11e8-9f9b-fa7a2038b622.png)

but I'm not sure how accurate that is now. Did we want, for example, an "Edit" button or link for each collection, and/or possibly a "Delete" button or link? Should the description of the collection

[2018-06-08 13:04] bobsilverberg commented on #4829
An administrator should not be able to edit a collection in any way, including adding new add-ons, so this is expected.

[2018-06-08 13:04] #4829 closed

[2018-06-08 13:12] bobsilverberg commented on #4788
The comments are being added in issue #3890, and I do not believe we have plans to include the date the add-on was added to the collection. @jvillalobos can you please confirm that second point?

[2018-06-08 13:15] bobsilverberg commented on #4379
We removed the overlay some time ago. @ioanarusiczki can you please confirm whether this is still an issue, or if this issue can be closed?

[2018-06-08 13:16] bobsilverberg commented on #4618
This may also have been fixed by moving away from the overlay. @AlexandraMoga can you please check whether this is still reproducible?

[2018-06-08 13:28] bobsilverberg commented on #5126
The current Autocomplete API, which we use for this feature, has no way of filtering out results from a given collection. We could tackle this either by enhancing that API to allow a collection id to be passed in, which it would use to exclude add-ons from that collection, or we could handle it on the front-end by further filtering the results after they are returned by the API, but I think that i

[2018-06-08 13:32] bobsilverberg commented on #3992
I'm wondering where we stand on this. We do not currently include an install button in our list of search results, and this seems like a similar situation. There was also some discussion above about possibly A/B testing this in some way.

@jvillalobos and @pwalm in what direction do you think we should do with this feature?

[2018-06-08 13:54] ioanarusiczki opened #5255 "After deleting a collection the user is redirected to AMO homepage instead of the collection page"
STR:
1. Load AMO dev and click on View My Collections from the drop down menu
2. Choose a collection and click on it's name
3. Click Delete this collection and confirm
4. Observe the screen

Expected result:
The collection page is displayed after the collection was deleted.

Actual result:
AMO homepage is displayed.

Notes:
This issue is reproducible on AMO dev with FF60(Win10).
It is not reproduc

[2018-06-08 14:07] ioanarusiczki commented on #4195
Verified fixed on AMO dev with FF60(Win10&Android 8.0)

For what I've noticed I filed https://github.com/mozilla/addons-frontend/issues/5255

[2018-06-08 15:31] bobsilverberg commented on #5255
We do not currently have a user collections page, but we will implement one via issue #3142, at which point we can change the delete function to redirect to that page. I don't see any point in having it redirect to the legacy page for now, as all of this is hidden behind a config option which won't be turned on until everything is ready.

We can leave this open to confirm that it's fixed after #31

[2018-06-08 15:46] jvillalobos commented on #3992
For now I think we should be consistent with search results and *not* do this. I suspect we'll eventually bring back install buttons for all of these cases, but that's a larger project to be done down the line.

[2018-06-08 15:51] jvillalobos commented on #4788
Yeah, I don't think we need to expose the date added for individual collection items.

[2018-06-08 15:51] #4788 closed

[2018-06-08 16:03] hoosteeno commented on #5245
TLDR, r+.

I mentioned this over in #websites.

There are a few concerns about sending people directly to download from a non-www site, because being able to download Firefox from non-www sites is a malware vector that we've discouraged in part by trying to be rigorous about where you can get the official download. The UX benefit of this change might override those concerns, but we generally prefe

[2018-06-08 16:07] #5177 closed

[2018-06-08 16:08] bobsilverberg commented on #3992
Thanks @jvillalobos. I suppose we can close this issue then, and open a new one if and when we decide this should be done.

[2018-06-08 16:08] #3992 closed

[2018-06-08 18:33] muffinresearch commented on #5229
Yep there's nothing we can do here since the video (and the entire discopane) is running in a frame.

It's likely the upcoming redesign of the disco pane is dropping the video in any case.

[2018-06-08 18:33] #5229 closed

[2018-06-08 18:40] pwalm commented on #3142
Edit and delete occur in the collection, right? So we don't need to do it from this page.

[2018-06-08 18:46] bobsilverberg commented on #3142
We don't *need to*, but I thought it might be a nice shortcut, edit anyway. That would save a click instead of requiring a user to click first on the collection, to display it, and then on the edit link from the collection details page.

[2018-06-08 19:05] eviljeff commented on #5126
use `exclude_addons=...` - pretty much all the filters available in the main search API endpoint are available.  http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#search

[2018-06-08 19:31] atsay commented on #5245
Great, we'll go forward with getting some UX guidance first.

[2018-06-08 20:12] pwalm commented on #3142
Nope, no extra work. Keep it as is. Thanks!

[2018-06-08 20:27] pwalm commented on #5245
I thought I gave my guidance somewhere along the way on this, but it should just replace the "Add to Firefox" button on an add-on detail page, and should follow the [primary button spec states](https://design.firefox.com/photon/components/buttons.html#primary-3) (but [change the colour to green](https://design.firefox.com/photon/visuals/color.html#green)).

@MeridelW Can you provide guidance on th

[2018-06-08 20:39] greenbirdslave opened #5260 "Server issue when trying to change theme"
I am loading apps on a new P{C, downloaded Firefox. Accessed my favorite
themes, and clicked on one, and got a server issue message.

I expected to be able to use my favorite themes or other themes, but none will work.

https://addons.mozilla.org/en-US/firefox/collections/greenbirds/

[2018-06-08 20:59] pwalm commented on #5245
Oh, @atsay pointed out that I missed the "privacy" infor below the button. Follow the same guidance as the image further up this thread, but set it in our standard link blue.

[2018-06-08 21:48] jvillalobos commented on #5245
If there's new copy available at time of implementation, we'll use the new copy. Otherwise I'd rather not block on it. Bumping up to P2 since this is a significant source of Firefox downloads.

[2018-06-08 22:04] pwalm commented on #5245
I think one of the issues was that the original string had an exclamation mark, but that goes against our copy guidelines. So at the very least, strip that out: "Only with Firefox - Get Firefox Now"

[2018-06-08 22:12] atsay commented on #5245
@pwalm you might have misunderstood the issue--we're not making UX changes to that green button. We're simply changing the button's link, and adding a "Firefox Privacy Notice" link below it. The UX guidance we need from you is what the color, size, and positioning should be for the "Firefox Privacy Notice" link. @MeridelW probably doesn't need to be pulled in.

[2018-06-08 22:48] pwalm commented on #5245
Oh, my mistake. Follow the positioning above, and use the [Caption 10 Bold styling on the Web typography](https://design.firefox.com/photon/visuals/typography.html#scale) scale tab.

[2018-06-09 08:45] AdityaSrivast commented on #4599
@rebmullin Can I work on it now? I am facing problem in finding out the corresponding HTML file for the code. Please help me how to find out the same. Sorry for late response. Will try to report back in 2 days.

[2018-06-09 09:13] DragoCubed opened #5262 "Editthiscookie"
### Describe the problem and steps to reproduce it:

It's not there anymore
### What happened?
Nothing?
### What did you expect to happen?
To be able to install Editthiscookie
### Anything else we should know?
I don't really know how this works

https://addons.mozilla.org/en-GB/firefox/addon/editthiscookieaddon/
http://www.editthiscookie.com/

[2018-06-09 09:32] grahamperrin opened #5263 "Maybe allow 'Add to Firefox' (and other blue buttons) where the user agent string includes Waterfox/"
## Background

### Example string 'A-02'

`Mozilla/5.0 (X11; FreeBSD amd64; rv:56.2) Gecko/20100101 Firefox/56.2 Waterfox/56.2`

– harmonious with both:

- https://github.com/browser-update/browser-update/commit/e2aa26319b14de1ba73b88c4a6cbfeabb8fb5403 _Whitelist waterfox_ **and**
- the Browser-Update.org developer's plea to  add a an explicit name of the browser to the string.

### Example string

[2018-06-09 15:15] rebmullin commented on #4599
sure thing @AdityaSrivast, that'd be great : )

Regarding finding the correct file - have you found the `UserProfile` file?  In here you will find the following snippet of code:
[code]

you will probably want to add the logic/HTML for this here and then style according to the mocks shown above

does that help?

[2018-06-09 16:09] #3601 closed

[2018-06-09 16:53] mickyfan2345 commented on #5203
i've given you all i can on the problem i given you screen shots using
firefox 60.0.1 (64-bit) i was trying to save it to my account this is the
first url i go to https://addons.mozilla.org/en-US/firefox/themes/abstract/?
sort=up-and-coming and this is the second it takes me to i don't know what
more i can give you please help me

thanks
https://mail.google.com/mail/u/1/#inbox/163d52f863f00779?pro

[2018-06-09 19:52] grahamperrin commented on #5263
… also e.g. the blue **Install theme** button at https://addons.mozilla.org/addon/firefox-quantum-nightly/

## Observation

Classic desktop site views are OK, at a glance. Not the new look blue buttons, but it's possible to add extensions and themes whilst using the `Mozilla/5.0 (X11; FreeBSD amd64; rv:56.2) Gecko/20100101 Firefox/56.2 Waterfox/56.2` string.

[2018-06-11 04:52] vsnehil92 commented on #5162
![image](https://user-images.githubusercontent.com/20948883/41213196-3d771e74-6d61-11e8-9d50-78a1969ef038.png)
My collection on local host is showing this, I have reverted back my canges to main master still i can't see the page

[2018-06-11 05:29] AdityaSrivast commented on #4599
@rebmullin The code uses advanced reactjs and I am just a n00b for it at the moment. I may not be able to fix this out in the manner code is being written. But thanks a lot for your trust in me. I will surely learn quickly and contribute to the community in near future. It will be great if you can guide me for the learning, for eg., sources to be referred or any course, etc.

[2018-06-11 05:58] tsl143 commented on #4599
No Problem @AdityaSrivast , I will take this up :) cheers.

[2018-06-11 06:11] AlexandraMoga commented on #4618
Not reproducible anymore with the new Edit collection form.

[2018-06-11 06:11] #4618 closed

[2018-06-11 08:47] ioanarusiczki commented on #5207
This issue is no longer reproducible because https://github.com/mozilla/addons-frontend/issues/5211 was fixed. An account with listed add-ons cannot be deleted.
Verified fixed on AMO dev with FF60(Win10)
![greyed out yes delete my profile](https://user-images.githubusercontent.com/33448286/41221465-e1b2b9d4-6d6c-11e8-8bf4-9bc0945a205b.png)

[2018-06-11 11:57] ioanarusiczki commented on #5252
@willdurand Can't reproduce this at all with smaller than 1MB images but the issue becomes intermittent with those between 1 to 3 Mb.

[2018-06-11 12:04] ioanarusiczki commented on #5177
@willdurand Could you please add qa not needed for this one or perhaps there might be something we could check ?

[2018-06-11 13:26] AlexandraMoga opened #5266 "Pagination area has a different styling on the add-on reviews page compared to other sections on the site"
STR:

1. Load AMO -dev
2. Go to an add-on details page (https://addons-dev.allizom.org/en-US/firefox/addon/gtranslate/)
3. In the Ratings section, click on Read all reviews
4. Scroll down until you reach the bottom of the page and observe the card edges and the pagination styling

Actual result:
The page numbers have a smaller font and the card edges don't have a border radius

Expected result:
Th

[2018-06-11 14:03] ioanarusiczki commented on #5132
@willdurand This issue is still reproducible if I test it using the above scenario. Is it a won't fix ?

I've also noticed something:
I login with a developer account and go to Edit profile page then log out and click on "Edit this profile" and I login with an admin account ->I see the admin's edit page displayed. The URL has the /users/edit format.
The developer's account can be edited by an admi

[2018-06-11 14:42] ioanarusiczki commented on #3601
Verified fixed on AMO dev with FF60(Win10)
![logout for approved static themes](https://user-images.githubusercontent.com/33448286/41238474-af732f3a-6d9e-11e8-96b0-5a6bbe5226b4.gif)

[2018-06-11 14:47] SVSanta opened #5267 "MMB installation perfomed in the same tab"
STR:
1. Load AMO and click on any extension to view the details page.
2. Click using the middle mouse button on the "+ Add to Firefox" button.

Expected result:
A new page is opened with the add extension popup.

Actual result:
The add extension popup is displayed in the same page.

Notes:
This issue is reproducible on all AMO servers with FF62(Win10 64Bit).
![mmb same page](https://user-images.gi

[2018-06-11 14:56] AlexandraMoga opened #5268 "Word break points are not set correctly in the Biography section on the user Profile page"
STR:

1. Load AMO -dev
2. Visit a user profile page with a Biography included (https://addons-dev.allizom.org/en-US/firefox/user/MaDonna-3/)
3. Observe the Biography section

Actual result:
Word-break is not set correctly,  words are split on different rows

Expected result:
Word-break should be reset to prevent incorrect word splitting

Notes:
- reproduced on AMO -dev with FF60, Win10x64 and Andr

[2018-06-11 15:18] gabru-md commented on #5205
Can I do this? I will change it in the readme? :smiley:

[2018-06-11 15:20] gabru-md commented on #5195
@willdurand If this issue is open then I would love to help :smiley:

[2018-06-11 15:27] gabru-md commented on #5205
Did not notice that a PR is already there :+1:

[2018-06-11 18:20] championshuttler commented on #5268
I think it will be fixed by using `word-wrap` instead of using `word-break` .
Can i take this up?

[2018-06-11 21:59] mickyfan2345 opened #5271 "not saving themes"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-11 22:01] mickyfan2345 commented on #5271
when i go to the main page for themes hit the item i want it wont let me do nothing it takes me to a page saying Sorry, but there was an error with our server and we couldn't complete your request. We have logged this error and will investigate it.
Suggested Pages

    Browse all extensions
    Browse all themes
    Add-ons Home Page

If you have additional information that would help us you can f

[2018-06-12 01:58] Gabbyjose commented on #5234
Hi Will, I'm interested in taking this if it's open. Please let me know!

[2018-06-12 06:48] championshuttler commented on #5262
Hi @DragoCubed , I think this addon is deleted by the creator. We can not do anything in this case.
I suggest you to search for another addon for same functionality if its available.
Let me know if you need any help apart from this :)

[2018-06-12 08:33] ioanarusiczki commented on #4998
Verified fixed on AMO dev with FF60(Win10&Android 8.0)
![update profile](https://user-images.githubusercontent.com/33448286/41278989-f09946b2-6e33-11e8-8894-8c6008c3b082.gif)

[2018-06-12 09:40] PascalBQ opened #5272 "Bookmark parent folder display"
### Describe the problem and steps to reproduce it:

looking for Bokmarks feature that can display the parent folders containing the bookmark item

### What happened?
found the link but "This add-on has been removed by its author."

### What did you expect to happen?
I would expect the possibility to contact the author and request re-activation ... or at least the reason why it is no longer availa

[2018-06-12 15:11] smayer97 commented on #5272
Would definitely be VERY useful to integrate into current FF. I depend on this so much...

[2018-06-12 20:31] jvillalobos commented on #5271
Duplicate of https://github.com/mozilla/addons-frontend/issues/5203

Please don't file more issues about this. You are not providing enough information for us to find or fix the problem, so there's nothing we can do to assist you until you provide it.

[2018-06-12 20:31] #5271 closed

[2018-06-12 20:42] jvillalobos commented on #5272
Most add-ons disabled by their devs are abandoned, so it's unlikely the devs will like to be contacted by users. However, some devs might still have websites or webpages dedicated to the abandoned add-ons, so I suggest you look for that.

I don't think there's anything to do on the AMO side.

[2018-06-12 20:42] #5272 closed

[2018-06-12 20:59] mickyfan2345 commented on #5271
jvillalobos, what more do you want i have given you all the info i can give you it just doesnt wanna save a theme when im logged in  it takes me to this Sorry, but there was an error with our server and we couldn't complete your request. We have logged this error and will investigate it.
Suggested Pages

Browse all extensions
Browse all themes
Add-ons Home Page

If you have additional information

[2018-06-12 21:03] willdurand commented on #5262
Hi, I think @championshuttler is correct and we cannot do anything here.

[2018-06-12 21:03] #5262 closed

[2018-06-12 21:04] #5268 closed

[2018-06-12 21:07] willdurand commented on #5266
Hi, this will be fixed in https://github.com/mozilla/addons-frontend/pull/5191, which (partially) fixes #3100.

[2018-06-12 21:07] mickyfan2345 commented on #5116
@jvillalobos what more do you want i've given you all
![firefox2 png3](https://user-images.githubusercontent.com/39664884/41317398-13de7b5e-6e63-11e8-98c6-bffffd398f91.png) the circled items are the best i can do

[2018-06-12 21:08] willdurand commented on #5205
Hi @gabru-md, there is already a contributor assigned to this issue (see the "contrib: assigned" label) so I invite you to find another "contrib: welcome" or "contrib: good first bug" issue 😄

[2018-06-12 21:09] willdurand commented on #5195
Yup, assigned to you!

[2018-06-12 21:32] jvillalobos commented on #5116
Thanks for the screenshot, that helps a bit. Does this error happen for every theme page you click on? Does it happen when you click on [this link](https://addons.mozilla.org/addon/abstract-ribbon/)? Or does it only happen with the Pretty Romantic Pink theme?

[2018-06-12 21:39] mickyfan2345 commented on #5116
@jvillalobos not only that one but every one of the themes

[2018-06-12 22:22] mickyfan2345 commented on #5116
@jvillalobos it does it to every one of them

[2018-06-12 22:49] willdurand commented on #5132
Yes, adding the label now.

[2018-06-12 22:49] willdurand commented on #5177
@ioanarusiczki sorry, added "qa: not needed" label

[2018-06-12 22:51] willdurand commented on #5206
I think it is a server issue.

[2018-06-12 22:51] #5206 closed

[2018-06-12 23:26] willdurand opened #5276 "`callApi` should not throw exceptions when an errorHandler is passed to it"
The `callApi` function takes an `errorHandler` as argument (optional) but it still throws exceptions after the `errorHandler` has handled it: https://github.com/mozilla/addons-frontend/blob/f005c0b37bd8840fcaa45c297d65659d80398a87/src/core/api/index.js#L200-L203

This behavior seems incorrect because if the `errorHandler` handles the error, this error should not been thrown anymore (as it has been

[2018-06-12 23:30] mickyfan2345 commented on #5116
@jvillalobos no it works fine when im logged out but i wanna save the ones i like

[2018-06-12 23:42] mickyfan2345 commented on #5116
@willdurand @jvillalobos  it works when im not signed i i wanna save them to my account the ones i like

[2018-06-13 00:47] mickyfan2345 commented on #5116
@jvillalobos @willdurand it works when im not signed in i wanna save them to my account the ones i like

[2018-06-13 01:30] mickyfan2345 commented on #5116
it works when im not signed in i wanna save them to my account the ones i
like

On Tue, Jun 12, 2018 at 7:25 PM, William Durand <notifications@github.com>
wrote:

[2018-06-13 07:50] AlexandraMoga commented on #5206
I'm marking the issue as verified fixed on AMO -dev as the second scenario can't be reproduced any longer.

[2018-06-13 09:24] ioanarusiczki opened #5277 "The default icon is displayed for the static themes search suggestions"
STR:
1. Load AMO dev and make a search for a static theme.
2. Observe the icon displayed below into the search suggestions.

Expected result:
The static theme's square image is visible.

Actual result:
The general icon (green icon) is displayed.

Notes:
This issue is reproducible on AMO dev with FF60(Win10).
This issue is also reproducible with collections - when making a Search for a static theme

[2018-06-13 12:21] AlexandraMoga commented on #5268
Verified as fixed on AMO -dev with FF60, Win10x64, Android 7.0

![image](https://user-images.githubusercontent.com/31961530/41350563-408a7bd0-6f1c-11e8-8c3d-e1e06bdda84f.png)

[2018-06-13 14:15] ioanarusiczki commented on #5238
No new issues found - Create, Edit and Delete are working as expected.
Verified fixed on AMO dev with FF60(Win10)

[2018-06-13 18:37] willdurand opened #5278 "Make sure we report errors to Sentry"
In #4051, we introduced a component to catch all uncaught errors (using `componentDidCatch()`). When an error occurs, we serve a server error page to the end user and we log the error.

~~The problem is that this error is lost because logging happens on the client side, and we never get any notification and we do not send anything to Sentry.~~

~~Before this patch #4051, Sentry was notified becaus

[2018-06-13 18:40] willdurand commented on #2423
We should try to fix this in Q3 and also start formatting logs correctly (#2025).

[2018-06-13 19:50] nabildjulfiansyahh opened #5280 "Vidplay"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-13 21:17] dicky opened #5281 "dilan 1990"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-13 21:18] dicky commented on #5281
ko

[2018-06-13 22:54] #5281 closed

[2018-06-13 22:55] jvillalobos commented on #5280
If this is a problem with the extension, please contact the developer. Otherwise, add more details about the issue.

[2018-06-13 22:55] #5280 closed

[2018-06-13 23:06] jvillalobos commented on #5116
We get all of the messages, yes. Knowing that it only fails when logged in suggests that it's related to the collections feature. Maybe related to having a [collection with an empty name](https://addons.mozilla.org/firefox/collections/lynnette12/). /cc @bobsilverberg

[2018-06-13 23:35] willdurand commented on #5116
We'll setup error reporting, hopefully next week, to get more insights. It could be an issue with reviews, collections or maybe recommendations.. We'll know when we'll receive the errors in Sentry.

[2018-06-14 04:29] DragoCubed commented on #5262
It was because Firefox removed many capabilities related to cookies. It's a very Google like move. https://www.ghacks.net/2018/02/26/mozilla-removes-individual-cookie-management-in-firefox-60/

[2018-06-14 08:44] anuppsaikia opened #5283 "Addon not found mention in support mozilla"
### Describe the problem and steps to reproduce it:

 Addon not found mention in support Mozilla
### What happened?
The Addon is mentioned in support Mozilla and when you click the link the addon is not on available anymore
### What did you expect to happen?
That I would be able to find the addon in as mentioned in the support Mozilla forum
### Anything else we should know?
Just update it so that

[2018-06-14 16:31] jvillalobos commented on #5283
The add-on was disabled by the developer a while ago. Unfortunately we can't change old answers in the support forum. You can either look for more recent recommendations, or look for [other translation extensions in the add-ons website](https://addons.mozilla.org/firefox/search/?q=translate).

[2018-06-14 16:31] #5283 closed

[2018-06-14 17:34] #5214 closed

[2018-06-14 17:35] willdurand commented on #5277
Could it be an API issue? /cc @eviljeff

[2018-06-14 17:37] willdurand commented on #5267
I am sorry but I don't understand the issue.

[2018-06-14 17:44] eviljeff commented on #5277
Yes, in a way.  As far as I was aware static themes didn't have icons so they just aren't generated and you'd get the generic one instead.  Is search suggestions the only place icons are used for static themes?

[2018-06-14 18:03] kumar303 commented on #5278
I think the page could use another button to simulate an error that gets caught by `componentDidCatch()` so we can test it out.

[2018-06-14 18:05] kumar303 commented on #5278
Well, I guess the more important thing to simulate from that page is that `console.error()` goes to Sentry. Right now it only simulates that `throw new Error(...)` goes to Sentry.

[2018-06-14 18:07] willdurand commented on #5278
That's what I am working on.

I don't fully understand why errors are not always caught by `componentDidCatch()` though...

[2018-06-14 18:09] willdurand commented on #5278
This would be nice because that's not obvious, but not sure how to test a third-party lib that gets installed globally.

[2018-06-15 00:00] #4578 closed

[2018-06-15 00:53] #4387 closed

[2018-06-15 02:06] Byone97 opened #5285 "http://funp.in/#"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-15 02:07] Byone97 commented on #5285
http://funp.in/#

[2018-06-15 06:12] AlexandraMoga commented on #5277
The frontend is exposing icons for static themes on the Edit collections screen and the Reviews page as well.

[1] Edit collection
![image](https://user-images.githubusercontent.com/31961530/41452796-110f66ac-707c-11e8-97eb-d9822cd1ed41.png)

[2] Reviews
![image](https://user-images.githubusercontent.com/31961530/41452814-1b7d192c-707c-11e8-8d19-bb270ed18e27.png)

[2018-06-15 08:45] ioanarusiczki opened #5286 ""This add-on already belongs to the collection" should be displayed above Search"
STR:
1. Load AMO dev and go to your collections, edit one of the existing collections or create a new one
2. Add an extension or theme to the collection
3. Try to add the previous extension again to the collection and observe the message displayed

Expected result:
"This add-on already belongs to the collection" message is displayed above the Search.

Actual result:
"This add-on already belongs to

[2018-06-15 09:12] AlexandraMoga opened #5287 "Collection shelf titles are moving to the next shelf if one of the homepage collections is made private"
STR:
1. Log in to AMO dev with an Admin account
2. Click on See more for one of the homepage collections  - i.e. Translation Tools is the best example
3. Click on Edit collection and switch to the legacy site
4. Change the visibility status of this collection to Pivate
5. Open AMO -dev homepage in a separate tab - make sure you are logged out
6. Check the collection shelves' titles

Actual result:

[2018-06-15 09:20] AlexandraMoga commented on #4387
I've verified this on AMO -dev by:
- deleting a collection
- modifying the collection slug
- making the collection private

For the first two scenarios, the respective collection shelf will be removed from the homepage
@bobsilverberg is this the behavior you settled for eventually?

For the last scenario, I have logged #5287

[2018-06-15 12:16] ioanarusiczki opened #5288 "404 Page not found when removing items of a collection with more than 25 items (1 page)"
STR:
1. Load AMO dev and go to a collection - add 25+items
2. Remove all the items from the last page

Expected result:
Previous page is displayed or "Search for extensions and themes to add to your collection" is displayed on the right side of the screen.

Actual result:
404 Page not found.

Notes:
This issue is reproducible on AMO dev with FF60(Win10 & Android 8.0).

![page not found](https://us

[2018-06-15 12:22] ioanarusiczki commented on #5003
Verified fixed on AMO dev with FF60(Win10 and Android 8.0)
![edit page - pagination](https://user-images.githubusercontent.com/33448286/41467545-9b3cdd04-70af-11e8-806e-0ed335436081.gif)

I filed a separate issue for what I've noticed https://github.com/mozilla/addons-frontend/issues/5288

[2018-06-15 13:41] ioanarusiczki commented on #5288
And closing because it is a dupe of https://github.com/mozilla/addons-frontend/issues/5220

[2018-06-15 13:41] #5288 closed

[2018-06-15 14:13] #5285 closed

[2018-06-15 16:21] willdurand commented on #5277
@pwalm do we want icons for static themes? And if so, how do we get/generate them?

[2018-06-15 17:01] bobsilverberg commented on #4387
Yes, my apologies for not updating this issue or making that clear in the PR.

[2018-06-15 18:44] eviljeff commented on #5277
We could generate a icon or use part of the existing preview.  Either way, using the left-hand part of the preview with the stylised Firefox gui could look super weird.  I don't know what the alternative is though.

[2018-06-15 20:57] JorgeM12 opened #5290 "translator wiktionary and google translate"
a couple of weeks ago I was looking for a translator for my browser mozilla firefox and I find this translator that is like google chrome or similar because we are in 2018 and the whole thing
well this translator is called
"wiktionary and google translate"
and this was in the list of add-ons to mozilla firefox from what I saw in some videos and nowadays it is not unfortunately
and if I go to the p

[2018-06-15 21:10] diox commented on #5150
Yeah I think so.

[2018-06-15 21:11] diox commented on #5219
AFAIK this is a known issue with basket. It takes a while to sync the data with salesforce - not much we can do about it on our end.

[2018-06-15 22:13] dessant commented on #4197
Is storing higher resolution images a must for fixing this issue? Couldn't images be centered and displayed with their natural size when they are smaller than the available space?

[2018-06-15 22:16] willdurand commented on #4197
No.

That's the plan I believe, and we are going to work on it soon.

[2018-06-15 22:17] dessant commented on #4197
Sounds great, thanks for the update!

[2018-06-16 07:17] mozillawhyjustwhy opened #5294 "[HELP!] I'm an add-on developer and can't login to AMO anymore! Why?"
### Describe the problem and steps to reproduce it:
https://accounts.firefox.com/oauth/signin?scope=profile&...
So I created an update for my add-on, and tried to login to AMO just like I always do.

### What happened?
"The request was blocked for security reasons"
See screenshot I post below.

### What did you expect to happen?

### Anything else we should know?
WHY? I've done nothing wrong and I

[2018-06-16 07:18] mozillawhyjustwhy commented on #5294
POST https://api.accounts.firefox.com/v1/account/login
Status code: 400 Bad Request

I was able to login a few hours ago, WTF happened? I didn't get emails about this so I belive my account is not banned. It's your server's problem.

[2018-06-16 07:19] mozillawhyjustwhy commented on #5294
Screenshot
https://share.riseup.net/#9MlM5Vn_lhNuiFw5gmGQPg

[2018-06-16 07:47] #5294 closed

[2018-06-18 10:12] muffinresearch opened #5297 "Stand-up story book"
Initial bug to stand-up [storybook](https://storybook.js.org/) in our repo

[2018-06-18 10:14] muffinresearch opened #5298 "Publish storybook to gh-pages"
Make the storybook available on gh-pages.

We'll probably want to follow something similar to the gh-pages setup used on addons-linter for the documentation. See also https://github.com/storybooks/storybook-deployer

[2018-06-18 10:26] muffinresearch opened #5299 "Add components to storybook"
After storybook is up and running the first step is going to be to move the current components that we have into the story book. We should aim to try and break them up into relevant categories as we do so.

Feel free to break this issue up into additional new issues for each separate group of components as required.

See https://lonelyplanet.github.io/backpack-ui/ for a good example.

[2018-06-18 11:11] #3890 closed

[2018-06-18 11:53] peaches67 opened #5301 "i tried to download personas plus and it says "error on our end" every time"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-06-18 11:57] AlexandraMoga commented on #5277
@eviljeff forgot to mention Add-on Manager, where an icon is also needed for the installed Themes list:
I think that, once the format to be used is decided, I should file an issue for Firefox, right?

![image](https://user-images.githubusercontent.com/31961530/41534621-d52a72f6-7307-11e8-89f2-b45b126cf091.png)

[2018-06-18 13:09] #5287 closed

[2018-06-18 13:13] bobsilverberg opened #5302 "Move the create collection feature from the CollectionList to the Collection component"
This is some refactoring that makes sense to do before tackling issue #3142. The create collection feature was located at the `CollectionList` component back when we were still using an overlay for the form, but it doesn't make sense to have it there anymore. This will remove the `CollectionList` component and use the `Collection` component instead for the "create a collection" feature.

For QA:

[2018-06-18 13:55] AlexandraMoga commented on #5214
Verified as fixed on AMO -dev with FF60, Win10x64 and Android 7.0

![prof pic delete](https://user-images.githubusercontent.com/31961530/41540209-4ab27248-7318-11e8-998e-636f1a7de27f.gif)

[2018-06-18 14:59] eviljeff commented on #5277
@AlexandraMoga I'd file a bug, yes.  I'm not sure what the in-Firefox solution would be exactly - I'd guess it's just displaying the icon specified in the manifest (or the default in this case) but that's kinda weird to require a non-mandatory field to allow the user to differentiate a theme from another field.

If Firefox continues to display the icon defined in the manifest AMO may have to start

[2018-06-18 15:01] ioanarusiczki opened #5304 "Version History for static themes is not available on the new frontend"
STR:
1. Load AMO dev and go to the detail page of a static theme with one or more listed versions
2. Observe the More information section
3. Check for Version History

Expected result:
The version history is displayed in More information section.

Actual result:
The Version History is not available yet.

Notes:
This issue is reproducible on AMO dev with FF60(Win10).
The old pages display the versi

[2018-06-18 15:03] bobsilverberg commented on #3142
@pwalm What do we want to do about a user with a large number of collections? I know that we expect, in general, for a user to have a small number, so maybe we always want to display all user collections, or do we want to introduce paging for cases where there is a large number of collections?

[2018-06-18 15:14] #5301 closed

[2018-06-18 15:45] bobsilverberg commented on #3142
@jvillalobos Users can no longer list collections for anyone other than themselves. Do we need to keep the ability for admins to list collections for any arbitrary user? I was planning on doing away with links like /firefox/collections/<username>/, and just have /firefox/collections/ be the link for "My collections".

[2018-06-18 15:49] smayer97 commented on #3142
No Pagination for this please OR at least ability to choose with or without.

[2018-06-18 15:55] eviljeff commented on #4197
@dessant fwiw, we've been storing the original size images uploaded since mozilla/addons-server#7208 was fixed in February, so we are able to produce larger images from the originals - and will once mozilla/addons-server#7908 is finished.

[2018-06-18 16:37] jvillalobos commented on #3142
I don't think we need to keep the feature for admins.

[2018-06-18 16:53] kumar303 opened #5306 "Autocomplete search results on mobile are awkwardly small"
### Describe the problem and steps to reproduce it:

### What happened?

* Load AMO on a mobile device with a small screen
* Type the name of an add-on in the search box
* Wait for search results to autocomplete
* Read the results and select one that matches your query

This technically works but the results are very small which makes them awkward to deal with:
* The text gets cut off so it's hard

[2018-06-18 17:06] jvillalobos commented on #3954
@pwalm @brassy- We want to work on this in Q3, but it might need some tweaking. After discussing with Emanuela, we should consider changing the button to a Remove action when the add-on is installed. She also had some thoughts about the "Installing" states.

[2018-06-18 20:09] rebmullin commented on #4599
Hi @AdityaSrivast, of course and no worries : )

Regarding learning react, I would suggest looking at the reactjs docs and going through their tutorial.  In addition, I suggest googling for additional resources/tutorials. I think there is a lot out there now and depending on your preferred style of learning you should be able to find some good docs/tutorials that suit you. Once you have some basic

[2018-06-18 20:31] bobsilverberg commented on #4729
Now that we've changed the workflow so that we leave the user on the edit screen after creating a collection, I think this is no longer an issue. @ioanarusiczki could you verify whether this is still reproducible?

[2018-06-19 08:58] willdurand opened #5312 "Use Prettier 🔥"
I'd like to consider the use of [Prettier](https://prettier.io/) again (We have discussed this point during the SF All Hands June 2018). I am a bit tired of leaving/reading comments about style and coding standards, especially because it is always difficult to interpret them and very much subjective, not to say boring and a waste of time.

By adopting Prettier, we'll be able to fix all these "codi

[2018-06-19 08:58] #5145 closed

[2018-06-19 10:18] #5250 closed

[2018-06-19 11:35] bobsilverberg commented on #5312
While we're discussing styles, can we consider dropping the `--arrow-parens always` rule? I've always found it odd to have to include parens when there is only one argument. If everyone disagrees with me I'm fine to keep it, but I'd rather drop it. What do others think?

[2018-06-19 11:38] willdurand commented on #5312
I'd rather not do that for the sake of consistency. It is a bit annoying to know when to add/not add parentheses (we need them when no argument or more than one argument), and if you want to add a second parameter, then you'll have to add parentheses anyway.

[2018-06-19 13:52] ioanarusiczki opened #5314 ""Log in to edit the profile" is not available after the user logs out from Edit profile page"
STR:
1. Load AMO dev and log in using an account then go to Edit profile page
2. Log out
3. Observe the page

Expected result:
Log in to edit the profile blue button is available down below the Menu bar.

Actual result:
A grey empty rectangle area is displayed.

Notes:
This issue is reproducible on AMO dev with FF60(Android 8.0).
It is not reproducible on Win10.

![no edit button](https://user-ima

[2018-06-19 13:58] AlexandraMoga commented on #5145
Verified as fixed on AMO -dev with FF60, Win10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/41601795-f6eb024a-73e1-11e8-9a9c-857cb0c57424.png)

[2018-06-19 14:06] ioanarusiczki opened #5315 "A long unbroken text is not wrapped in notes"
STR:
1. Load AMO dev and go to collections
2. In edit this collection make a note, use a long unbroken string, for an extension or theme that was added in the list
3. After saving it observe the layout of the note

Expected result:
Text is wrapped.

Actual result:
Text appears cut.

Notes:
This issue is reproducible on AMO dev with FF60(Win10 and Android 8.0).

![text is not wrapped notes](https:/

[2018-06-19 14:10] AlexandraMoga commented on #5287
Verified as fixed on AMO -dev with FF60, Win10x64

With the Translation Tools collection Private:
![image](https://user-images.githubusercontent.com/31961530/41602434-7347ba30-73e3-11e8-9f24-ea73d6b83a1a.png)

[2018-06-19 14:26] willdurand opened #5316 "Improve Flow coverage of the SearchResults component"
I ported the old prop types to Flow types but did not spend too much time defining precise types in `src/amo/components/SearchResults/index.js`. We should avoid the `Object` Flow type whenever possible.

In this comment, we could probably add a better type for:

- `filters`
- `results`
- `paginator` (which should receive an instance of `Paginate`)

[2018-06-19 14:31] willdurand opened #5317 "Create a new Button style that looks like "cancel""
Our `Button` component has different "types" that are used to change its style (using the `buttonType` prop). We mix appearance and function types though, e.g., "neutral" and "cancel".

We often use "cancel" to create buttons that look like simple links without borders or background. In some cases, those buttons are not technically speaking "cancel" buttons.

We should create an alias/new button t

[2018-06-19 14:43] #4599 closed

[2018-06-19 14:49] kumar303 opened #5318 "Infer action types from action creators instead of using separate Flow types"
This [article](https://hackernoon.com/redux-flow-type-getting-the-maximum-benefit-from-the-fewest-key-strokes-5c006c54ec87) has a recipe for inferring action types from action creator functions instead of defining, exporting, and maintaining separate action types. This will make everything simpler.

For example, instead of this:
[code]

We can do this:
[code]

[2018-06-19 14:53] #3100 closed

[2018-06-19 15:00] bobsilverberg commented on #5317
Just a note for whoever implements this, please look through the existing code for instances of `Button`s with `buttonType` of `cancel` to see if they should be switched to this new style/type.

[2018-06-19 15:12] ioanarusiczki commented on #4578
Verified fixed on AMO dev with FF60 (Win10 and Android 8.0).
I filed a separate issue https://github.com/mozilla/addons-frontend/issues/5315

[2018-06-19 15:17] #5266 closed

[2018-06-19 15:44] #5302 closed

[2018-06-19 15:50] #5306 closed

[2018-06-19 16:25] #5278 closed

[2018-06-19 18:20] #4197 closed

[2018-06-19 18:29] pwalm commented on #3142
@bobsilverberg No pagination.

[2018-06-19 18:30] pwalm commented on #3954
Ok cool! I'll align with @brassy- when she gets back from holiday

[2018-06-19 18:31] pwalm commented on #5277
@willdurand No icons for static themes

[2018-06-19 19:45] rebmullin commented on #5304
hey @jvillalobos, can you please take a quick look? It looks like we explicitly were hiding this for lightweight themes. I am not sure if this was b/c this couldn't be updated on lightweight themes (so far i've only seen lightweight themes versions with "0"). It should be a quick update but I just want to verify we DO want to display this before making this change.

[2018-06-19 19:52] jvillalobos commented on #5304
You're right, we didn't show a version history for LWT because we didn't keep track of them. Since static theme versions are treated like those of other add-ons, we should also show their version history.

[2018-06-19 20:00] rebmullin commented on #5304
ok cool, will update...thanks : )

[2018-06-19 20:01] kumar303 commented on #5318
There is a better version here: https://github.com/facebook/flow/issues/4002#issuecomment-384756198

[2018-06-19 20:02] kumar303 commented on #5318
Well, huh. I can get things to work in Flow Try but not in our code. It seems to always set `action` and all of its properties to `any` which is not helpful. That is, it's not actually extracting the type of the returned object.

[2018-06-19 20:14] eviljeff commented on #5277
@pwalm that's good for me, but what should frontend display instead in the places @ioanarusiczki and @AlexandraMoga have identified?

[2018-06-19 20:22] kumar303 commented on #1461
We're using invariant for all new code now.

[2018-06-19 20:22] #1461 closed

[2018-06-19 21:28] willdurand commented on #4890
I think this is fixed by #5191.

[2018-06-19 21:28] #4890 closed

[2018-06-19 21:33] willdurand opened #5321 "No featured extensions in -stage"
I dont see any featured extensions on https://addons.allizom.org:

![screenshot_20180619-232335](https://user-images.githubusercontent.com/217628/41625389-facb0554-7418-11e8-983e-164c7baea2bb.png)

[2018-06-19 22:14] jenniferdavidson opened #5322 "Change copy on top of the about:addons page (disco pane)"
The copy at the top of the disco pane is quite outdated. Update it with Meridel's new copy (TBD). Below is a screenshot of what exists today.
![Current top of disco pane content](https://user-images.githubusercontent.com/911251/41627108-bc57acf4-73d3-11e8-8608-a5fe65ef0bd9.png)

[2018-06-19 22:18] jenniferdavidson opened #5323 "Remove video from top of about:addons (disco pane)"
As a first step in making the content at the top of about:addons better, remove the video from the top of about:addons.

The screenshot below shows content and a link to the video. Remove the video.
![disco pane screenshot](https://user-images.githubusercontent.com/911251/41627175-04a396bc-73d4-11e8-9051-a5fbd2e43351.png)

[2018-06-19 22:21] jenniferdavidson opened #5324 "Replace about:addons (disco pane) video with an illustration or animation"
Decide if we want to replace the video at the top of disco pane with anything else.

(First do this issue: https://github.com/mozilla/addons-frontend/issues/5323, then consider this issue.)

[2018-06-19 22:22] devaneymoz commented on #5322
Note the above copy is the result of significant Legal input -- mostly about being abundantly clear that most (nearly all) extensions featured on this page come from third party sources, not Mozilla.

Also note that soon this page is likely to feature a mix of TAAR (machine) and editorial (hand-curated) selection. The overarching copy should likely reflect whatever the new manifestation entails.

[2018-06-19 22:25] jenniferdavidson opened #5325 "Replace about:addons (disco pane) toggle switches with Add to Firefox buttons"
We want the experience in about:addons to be consistent with the experience on addons.mozilla.org. Right now, the about:addons disco pane experience uses a toggle switch, and addons.mozilla.org uses a button.

Wait to implement the button in disco pane, until the button is updated in addons.mozilla.org.

[2018-06-19 22:29] jvillalobos commented on #5325
That's https://github.com/mozilla/addons-frontend/issues/3954, I believe.

[2018-06-20 03:57] FatOrangutan opened #5326 "Can't tell when the screenshots slideshow has begun looping"
### Describe the problem and steps to reproduce it:
1. Go to an add-on page e.g. https://addons.mozilla.org/en-US/firefox/addon/never-pay-extra/
2. Click the first screenshot
3. Try to browse through the available screenshots by using the right arrow key.

### What happened?
Went through all the screenshots twice before I realized they were looping. Although the screenshots themselves are text+ima

[2018-06-20 06:58] AlexandraMoga commented on #5250
Verified as fixed on AMO -dev with FF60, Win10x64

![no more scroll](https://user-images.githubusercontent.com/31961530/41642239-6e78d27c-7470-11e8-86f4-5fa475e53ef1.gif)

[2018-06-20 07:12] AlexandraMoga opened #5327 "Error messages will not disappear when the user navigates out from and back to the Edit profile page"
STR:

1. Log in to AMO -dev
2. Go to Edit my Profile
3. Update one of the fields so that it will generate an error (i.e. an invalid username)
4. Click on Update Profile and observe the error messages
5. Click on View my Profile
6. Go back to Edit Profile

Actual result:
The error messages generated before are still displayed on top of the Edit profile form even if the fields that generated them ar

[2018-06-20 09:05] AlexandraMoga commented on #5321
@willdurand isn't this issue occurring with Firefox for Android only?

We had similar issues reported a while back, See #4084 and #3357 (possibly related)

[2018-06-20 09:06] ioanarusiczki commented on #5306
Verified this issue on AMO dev and AMO stage with FF60(Android 8.0)
The search suggestions are easier to read and to be selected - what I see is that the user/display name won't be entirely displayed if it's a bit longer because of the search bar.

![search bar and suggestions on mobile device](https://user-images.githubusercontent.com/33448286/41648669-3c2c00ca-7482-11e8-9f3e-f78fb15139b7.png)

[2018-06-20 09:33] willdurand commented on #5321
ah right, it is indeed a duplicate of #4084.

[2018-06-20 09:33] #5321 closed

[2018-06-20 10:28] willdurand opened #5331 "Success message wrongly displayed on user profile edit page"
### Describe the problem and steps to reproduce it:

- As an admin, go to a user profile edit page for a newly created user (without a profile picture)
- Navigate to your own edit page
- Refresh the page
- Go back to the previous page using the browser "back" button

### What happened?

The message "Picture successfully deleted" appears.

### What did you expect to happen?

No message.

### Anythi

[2018-06-20 10:44] willdurand commented on #5252
I don't see what's causing the issue, except the browser not being able to load the image..

Did you try with another browser such as Chrome for instance?

[2018-06-20 10:45] willdurand commented on #5219
mmh I am not sure what we can do on the frontend side either.

[2018-06-20 11:54] ioanarusiczki opened #5335 "The page numbers for a collection with more than 25 add-ons are not alligned"
STR:
1. Load AMO dev and create a collection then add more than 25 items
2. Observe the page numbers in both Edit my collection and View my collection

Expected result:
The numbers are aligned.

Actual result:
The number that indicates the page displayed is not aligned with the others.

Notes:
This issue is reproducible on AMO dev with FF60(Win10).

![alignment](https://user-images.githubuserconte

[2018-06-20 12:08] willdurand commented on #5335
This is intended, according to the mock-ups:

![screen shot 2018-06-20 at 14 07 20](https://user-images.githubusercontent.com/217628/41657319-43e9d33a-7493-11e8-8215-a02604e5b985.png)

Note: the mock-ups show a different paginator with:

- number of results instead of pages
- some pages, then three dots, then the last page

Those changes will be addressed later.

[2018-06-20 12:08] #5335 closed