[2018-02-16 15:32] jvillalobos commented on #4402
We already support an experimental flag for add-ons which is shown in the listing header. [See this one](https://addons.mozilla.org/addon/amo-admin-assistant/), for example. So, the question becomes: how do we know APIs are experimental and how do we enforce the flag?

IIRC, the linter is frequently updated to keep up with API additions. If that data includes the experimental state, we could use t

[2018-02-16 15:33] jvillalobos commented on #4402
(Clicked close button accidentally)

[2018-02-16 15:43] kumar303 commented on #4293
Let's wait on https://github.com/mozilla/addons-server/issues/7529 (allowing ID based URLs) before implementing this new edit URL. Having a URL with an ID in it will allow us to remove some hairy redirect logic in the saga which was necessary when the user edits the slug value.

[2018-02-16 16:26] kumar303 commented on #4365
This issue will be addressed by https://github.com/mozilla/addons-frontend/issues/4407

[2018-02-16 17:54] bobsilverberg commented on #4407
I did some work on this today, trying to get webpack to write the new favIcon file as an asset and then use the address from webpack in ServerHtml.js. There was a problem that the import I had to add to ServerHtml.js was throwing an error, because webpack didn't seem to be using a loader to process it. Some testing revealed that the same import did work in a different component (e.g., the componen

[2018-02-16 18:11] kumar303 commented on #3197
The `lang` query param may be necessary for some POST requests to set the default locale.

[2018-02-16 19:59] kumar303 commented on #4404
If you wait 5 minutes, does the correct date appear? I'm wondering if it's a caching issue.

[2018-02-16 20:02] kumar303 commented on #4388
If you wait 5 minutes does the correct count appear? It may be a caching issue.

[2018-02-16 20:04] kumar303 commented on #4403
To clarify: the behavior of `parsePage()` is correct but we don't need it on the frontend. The API already checks for out of bounds pages and will produce a 404 as necessary. We should rely on the API's page handling logic by remove `parsePage()` from the frontend.

[2018-02-16 22:16] pwalm commented on #3695
New expanded screenshot view:
![screenshot detail - 1366px](https://user-images.githubusercontent.com/6797635/36331618-789ff93c-1323-11e8-8b44-345b569a136e.png)

This kills a few birds: Adds name, follows Photon, removes the migraine inducing "flash" of the current implementation. The modal should fill the screen (with the above margins/padding), but the screenshot should not exceed the grey bound

[2018-02-16 22:21] pwalm commented on #3695
Updated to add "1 of [x]" caption at the bottom of the modal:
![screenshot detail - 1366px](https://user-images.githubusercontent.com/6797635/36331894-a34c00f8-1324-11e8-80b9-59cfeaa1da98.png)

[2018-02-16 23:39] kumar303 commented on #4386
dup'ing to https://github.com/mozilla/addons-frontend/issues/4258

[2018-02-16 23:39] #4386 closed

[2018-02-16 23:39] mconca commented on #4402
@jvillalobos I didn't want to prescribe a solution in the initial issue report, but I was thinking something very similar. Using the linter to detect experimental API and then setting the flag automatically sounds like a good idea.  We probably don't have to force the flag state, although if we see people reversing it, we might want to revisit this idea.

Realistically, there should only be a very

[2018-02-16 23:44] kumar303 commented on #4376
I think this was an intentional change because landing on the old legacy profile page is confusing.

[2018-02-18 23:29] grahamperrin commented on #3223
For reference only:

- [about:addons ☑ Exclude from updates (Updates: … 🔘 never) · Issue #349 · MrAlex94/Waterfox](https://github.com/MrAlex94/Waterfox/issues/349)

– I'm not ignoring Bugzilla@Mozilla `:-)` just slowly letting things take shape in the Waterfox area …

[2018-02-19 08:58] ioanarusiczki commented on #2221
I installed 3 days ago 2 add-ons submitted by me on AMO prod using FF 59. I made stats public and checked them.  The number of user in the add-ons page was still not updated, stats also show that avarage daily users is 0 but the number of downloads increased by one.

https://addons.mozilla.org/en-US/firefox/addon/hedger/
![stats](https://user-images.githubusercontent.com/33448286/36369374-ac8f48b4

[2018-02-19 09:50] ioanarusiczki commented on #4404
@kumar303 No, the date on new front end is still not updated. I made the changes 3 days ago.

[2018-02-19 09:59] AlexandraMoga commented on #4388
I've waited more than 30 minutes, refreshed the page but still the number was not updated.

[2018-02-19 14:36] ioanarusiczki commented on #4342
I verified on AMO dev using FF58 (Win10) the "More information" section on the add-on details page for display issues. Also checked if the links work as expected. I did not find any problems.

[2018-02-19 15:38] ioanarusiczki opened #4412 "The new page is not loaded when View the new site is clicked for Theme Categories"
STR:
1. Load AMO dev and navigate to Themes page.
2. Click on any of the displayed Theme categories.
3. Scroll down and from the footer click the classic desktop site.
4. After the page loads scroll down and from the footer click View the new site.

Expected results:
The new page is displayed.

Actual results:
The classic desktop site remains displayed.

Notes:
This issue is reproducible on all AM

[2018-02-19 15:45] ioanarusiczki commented on #4412
I mark it as duplicate for #5895

[2018-02-19 15:45] #4412 closed

[2018-02-19 16:48] davidhedlund commented on #3813
Search Tools can be sorted by [Created](https://addons.mozilla.org/en-US/firefox/search-tools/?sort=created). But not add-ons.

[2018-02-19 23:49] grahamperrin commented on #2998
Re: <https://github.com/mozilla/addons-server/issues/2661#issuecomment-364654943> should this issue be reopened?

Please advise – thanks

[2018-02-20 08:41] ioanarusiczki opened #4415 "Inconsistency for the number of users displayed by themes on the new front pages"
STR:
1. Load AMO prod and load Themes page then select any category.
2. Check for some themes the number of users displayed before you hover and click the theme.
3. Observe the number of users from the detail page.

Expected results:
Both pages display the same number of users.

Actual results:
The number of users from categories is different than the number displayed in the detail page.

Notes:
T

[2018-02-20 14:08] vcarciu commented on #4317
In the new frontend, even if the beta-versions waffle is enabled, the link to beta versions is not available :
![betalink](https://user-images.githubusercontent.com/1583842/36428329-518b69b6-1658-11e8-9f12-512c98416694.gif)

[2018-02-20 15:44] #4397 closed

[2018-02-20 15:44] #4393 closed

[2018-02-20 15:49] cosminbadescuSV commented on #4190
This issue is verified as fixed on FF58.0.2 (Win 7 64-bit) on AMO -dev server.

The toggle button of the extensions are displayed on the right side after resize.
Please see the attached video:
![bug 4190](https://user-images.githubusercontent.com/15885467/36433840-31fb175a-1666-11e8-92f5-54613bd65bd1.gif)

[2018-02-20 16:07] #4336 closed

[2018-02-20 19:30] wagnerand commented on #4317
@vcarciu Sorry that is due to a hard setting which is for -dev only. It should be fixed once https://github.com/mozilla/addons-frontend/pull/4417 lands, so you can properly test it then.

[2018-02-20 21:15] bobsilverberg commented on #2757
This list looks complete, but we're missing the text for host permissions. Scott's document suggested we could just use the same text for any requested host permissions: "Access your data for a specific website or group of sites", but Firefox actually presents a number of different customized messages depending on they type(s) of host permissions requested. @devaneymoz Are we happy to stick with t

[2018-02-20 21:50] devaneymoz commented on #2757
@bobsilverberg are you referring to the following host permissions?

- Access your data for the sites in the "named" domain
- Access your data in # other domains
- Access your data for "named site"
- Access your data on # other sites

If so, these should display on AMO as well.

[2018-02-20 21:55] bobsilverberg commented on #2757
Yes, I'm referring to the different messages defined at https://searchfox.org/mozilla-central/rev/47cb352984bac15c476dcd75f8360f902673cb98/browser/locales/en-US/chrome/browser/browser.properties#124-148, which match what you've listed above. Thanks. I guess we'll borrow the same logic that Firefox uses to generate these messages.

[2018-02-21 00:06] devaneymoz opened #4419 "March 1 homepage content programming update"
For the **1 March** push, please update homepage content in accord with what's outlined here:

https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#

@EnTeQuAk @diox @muffinresearch

[2018-02-21 03:05] kumar303 opened #4420 "Remove beta version code"
As it turns out, we can rely on the API to flip beta versions on/off so we can remove all the code added by https://github.com/mozilla/addons-frontend/pull/4353 which was for flipping beta versions on/off on the frontend.

A quick fix for this was added in https://github.com/mozilla/addons-frontend/pull/4417

For QA: this patch will not add new features but please test for regressions in add-on de

[2018-02-21 05:08] kumar303 commented on #3197
I'd really like to whip `callApi` into shape. In addition to the `params` thing, `auth` should default to `true` so we don't have to set it every time.

[2018-02-21 09:41] davidhedlund commented on #4047
@jvillalobos Said:

[2018-02-21 09:41] ioanarusiczki commented on #4397
Verified fixed on AMO dev with FF58 (Win 10).

[2018-02-21 10:11] AlexandraMoga opened #4421 "Clicking on 'View Profile' after changing the account name will lead to a 404"
STR:

1. Log in to AMO and click on Edit Profile form the user menu
2. Change your username and click on Update profile
3. Go back to AMO and select View profile

Actual result:
A 404 page is triggered and the URL still shows the previous account name

Expected result:
Updated user profile is loaded

Notes:
- the user has to refresh AMO homepage if he wants to see the updated profile
- also happen

[2018-02-21 10:27] wagnerand commented on #4420
I don't expect us to go back to beta versions. I propose that we remove the entire beta handling code for one of the next few pushes instead of removing just the config for the very next push and then the remaining beta code a week later.

[2018-02-21 11:15] vcarciu opened #4423 "AMO Stage is down"
Steps to reproduce:
1.Load AMO Stage

Expected results:
AMO Stage loads successfully

Actual results:
AMO Stage returns 503

NOTES:
Not reproducible on -dev
This is affecting the release testing

[2018-02-21 11:54] vcarciu commented on #4336
Verified as fixed :
![editslug](https://user-images.githubusercontent.com/1583842/36478740-a4e8575c-170e-11e8-8b96-ed578dad457a.gif)

[2018-02-21 12:23] vcarciu commented on #4317
Verified as fixed :
![beta1](https://user-images.githubusercontent.com/1583842/36479810-b2b34a82-1712-11e8-90de-2148413d7e45.gif)

[2018-02-21 12:23] #4317 closed

[2018-02-21 13:25] bobsilverberg commented on #4419
I'll take this. It'll be nice to work on something that is actually as simple as it sounds. :-P

[2018-02-21 14:35] ioanarusiczki opened #4425 "The screenshot previews for rejected or disabled static theme versions should not be displayed on listed pages"
STR:
1. Load AMO dev and from Dev Hub submit a static theme (I used the theme wizard).
2. From Edit information page click the Listed Review Page and reject the first version.
3. Submit a second version for the theme and approve it this time.
4. From Edit information page click on View Listing.
5. Observe the screenshot section.

Expected results:
Only the screenshot of the approved version is dis

[2018-02-21 14:50] tofumatt commented on #4425
@diox @eviljeff Seems like the API is sending down screenshots it shouldn't be here, as I'd think we should only be getting approved screenshots.

[2018-02-21 14:51] tofumatt commented on #4423
https://addons.allizom.org/en-US/firefox/ loads fine for me.

[2018-02-21 14:51] #4423 closed

[2018-02-21 15:06] bobsilverberg opened #4426 "Add a platformFiles map to internal addon object and use it to replace installURLs"
This is a spin-off from issue #2757 because that issue is quite large. It will require a `platformFiles` map in order to get the correct permissions for an addon, and that `platformFiles` map can also be used to fulfill the purpose of the current `installURLs` map.

This issue is about creating the `platformFiles` map and removing the `installURLs` map.

[2018-02-21 15:43] eviljeff commented on #4425
At the moment there is no special support for static themes in the API, and nothing that tries to disable/enable screenshots based on status. So the behaviour reported is expected for now, until more stuff is added.

[2018-02-21 15:45] tofumatt commented on #4425
Ah, okay. It’s expected but not intended though, right? I guess: should we keep this around as a bug?

[2018-02-21 16:03] eviljeff commented on #4425
It's not intended. But Frontend will need to know how to display static themes anyway. Also, previews disabled versions shouldn't be exposed at all but I'm not sure if previews for older, approved, versions should be available or not from the API (I'm thinking they should be, in which case the right one should be displayed)

[2018-02-21 16:25] kumar303 commented on #4420
Sure, that's fine, whatever is easier. Removing all of the code sounds good.

[2018-02-21 16:34] wagnerand commented on #4188
Mentor: @kumar303

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2018-02-21 16:38] caitmuenster commented on #4186
Hey @ KhushilMistry, how's it going with this bug?

[2018-02-21 16:39] caitmuenster commented on #3070
Thanks for the heads up, @abiduzz420! Are you still working on this?

[2018-02-21 16:47] kumar303 commented on #4070
If you use [React devtools](https://addons.mozilla.org/en-US/firefox/addon/react-devtools/) on a local server you can inspect the HTML and it will tell you which component is rendering the text. This text is rendered by [`SearchResult`](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/SearchResult/index.js). The fix is to update the CSS to handle long names.

[2018-02-21 16:53] KhushilMistry commented on #4186
Really Sorry, I was working on another bug. I will make PR for this in a day.

[2018-02-21 18:02] tofumatt commented on #4341
This actually probably doesn't need UX right away, I'll just do something like the 404 page.

[2018-02-21 18:24] bobsilverberg opened #4428 "Update docs to specify that xpinstall.signatures.dev-root needs to be added"
The pref `xpinstall.signatures.dev-root` mentioned at https://github.com/mozilla/addons-frontend/blob/master/docs/moz-addon-manager.md#install-add-ons-for-development does not exist by default in Firefox and therefore needs to be added. We should mention that in the docs along with how to add it.

[2018-02-21 19:09] #4419 closed

[2018-02-21 20:51] abiduzz420 commented on #3070
I am so sorry @caitmuenster I have not been able to juggle between different works. I would like some body else to take it up. Apologies :(

[2018-02-21 20:56] caitmuenster commented on #3070
No worries at all, @abiduzz420! I'll unassign you from this for now but you are always welcome to come back and pick it up, or try another good first bug. :)

[2018-02-22 04:02] FatOrangutan opened #4430 "Unclear that badges are official, trustworthy things when they look the same as add-on description"
### Describe the problem and steps to reproduce it:
1. Go to the page of an add-on that would have a badge, preferably only the featured badge, e.g. [uBlock Origin](https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/)
2. Look at the first card, `.Addon-header-info-card`

### What happened?
Can't tell if the words `Featured Extension`, followed by what looks like an emoji, are part of the

[2018-02-22 05:02] FatOrangutan opened #4431 "Cards have tiny or cramped up text"
### Describe the problem and steps to reproduce it:

Go to https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/.

Look at the first card, `.Addon-header-info-card`:
![screenshot-2018-2-22 ublock origin add-ons for firefox](https://user-images.githubusercontent.com/8336638/36520249-f9590f64-17b5-11e8-8083-6c2f8409ec03.png)
There is a whole lot of white space and yet the line-height is too

[2018-02-22 05:25] erosman opened #4432 "Make "Support Site" more visible on add-on page"
moved from: https://github.com/mozilla/addons-server/issues/7483

For years, I have been asked "Where is the support site?" even though they have ALWAYS been listed under "Support Site" on add-on's pages. Users then use the Review system for support queries.

The new layout made it even less noticeable. Please make it more dominant and noticeable.

[2018-02-22 13:58] vcarciu commented on #4393
Tested for regressions, everything looks fine.

[2018-02-22 14:51] vcarciu opened #4433 "Enter will close the edit collections page without saving the changes"
Steps to reproduce:
1.While logged as admin, go to any collections on -dev (https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/smarter-shopping/)
2. Press "Edit this collection" link
3.Modify something and press Enter

Expected results:
Changes are saved and window is closed

Actual results:
Enter is acting like Cancel. It will not save the changes

Please see video for this bug :
![

[2018-02-22 15:31] vcarciu opened #4434 "Remove "slug" word from error messages in edit collections"
Steps to reproduce:
1.Go to amo-dev , login as admin and open any collection (https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/ad-blockers/)
2.Click on "Edit this collection" link
3.Modify the slug with something not allowed (special chars)
4.Save the changes

Expected results:
The error messages is not containing the word "slug" at beginning

Actual results:
The error messages is

[2018-02-22 15:44] AlexandraMoga opened #4435 "Add-on name is not displayed in Install prompt on Android"
STR:

1. Access AMO homepage on your Android device
2. Go to an add-on details page and tap on Add to Firefox (i.e. https://addons.mozilla.org/en-US/android/addon/ghostery/)
3. Check the information displayed on the install prompt

Actual result:
The add-on name is not correctly rendered

Expected result:
The add-on name is correctly displayed

Notes:
- reproduced on all AMO servers with FF60.0a1,

[2018-02-22 16:32] #4426 closed

[2018-02-22 16:35] vcarciu commented on #4426
Can you please add some STRs to this bug or mark it as "qa: not needed" ?

[2018-02-22 16:38] bobsilverberg commented on #4426
Some QA would be good, but I'm not sure which STRs should be tested. It mostly affects installing addons, so some checks to make sure there are no problems with installing would be great. Is that reasonable, or is that too vague?

[2018-02-22 17:00] tofumatt commented on #4435
On Firefox release what does the same screen look like, out of curiosity? I'm wondering if it's changed and there's a new attribute we need to add or if something that used to work broke 😄

[2018-02-22 17:04] tofumatt commented on #4435
This could be a very unpleasant bug (though fortunately it's not happening in release so we have time to fix it).

[2018-02-22 17:28] bobsilverberg commented on #2757
@devaneymoz @pwalm Regarding the different messages that can be displayed for host permissions (see https://github.com/mozilla/addons-frontend/issues/2757#issuecomment-367132222, above), I assume they will all get an identical icon? Please let me know if that's not the case.

[2018-02-22 18:35] bobsilverberg commented on #2757
A couple more questions for @devaneymoz and/or @pwalm:

1. There's a new permission called `tabHide`. I grabbed the English translation for it from Firefox. I assume we're going to use the same `tabs.svg` icon for that as we use for the `tabs` and `sessions` permissions?

2. The string for `nativeMessaging` does a substitution in Firefox. The string is `Exchange messages with programs other than %

[2018-02-22 18:37] devaneymoz commented on #2757
@bobsilverberg good suggestion to use "Firefox" in all cases. Go for it.

[2018-02-23 00:07] kumar303 opened #4437 "Discopane UI (functional) tests are failing"
Some time around this commit the Discopane functional tests started failing:
https://travis-ci.org/mozilla/addons-frontend/jobs/344970328

It doesn't seem to be related to a code change. I can reproduce it locally.

[code]

[2018-02-23 01:25] #4437 closed

[2018-02-23 06:56] AlexandraMoga commented on #4435
A screenshot from FF release, for comparison:

![image](https://user-images.githubusercontent.com/31961530/36581760-54984afe-1877-11e8-8126-1cfa8deb78d0.png)

[2018-02-23 09:44] ioanarusiczki commented on #4419
@bobsilverberg I verified the new layout on AMO dev with FF58 (|Win10).
The last three collections from Customize the way Firefox works with extensions. Are you interested in… display a Page not found error in dev. Couldn't check to see if they have an equivalent on AMO dev  because of https://github.com/mozilla/addons-server/issues/7448, collection search is not working right now.

[2018-02-23 11:55] mazesy opened #4440 "Malwarebytes – Add-ons for Firefox : disapeared again"
Hi,

Not an AOM issue so please pardon me if my report is off-topic.

I'd just wish to know what is happening with [Malwarebytes – Add-ons for Firefox](https://addons.mozilla.org/en-US/firefox/addon/malwarebytes/) which is experimental by the way, if that may be part of the answer : it's disappeared again. I don't use this extension myself but was seeking for its development status.

Thanks.

[2018-02-23 12:17] tofumatt commented on #4440
Unfortunately we won't be able to help; this is the issue tracker for the add-ons site and related projects, we cannot give help for an add-on.

If you're having an issue with an add-on please contact the developer directly; I'm not sure if doing a web search for their info will yield contact info but they'd need to be contacted directly for help. Cheers!

[2018-02-23 12:17] #4440 closed

[2018-02-23 13:37] vcarciu commented on #4423
The problem was solved.

[2018-02-23 14:20] AlexandraMoga commented on #940
This doesn't seem to be a problem anymore

https://discovery.addons.allizom.org/ru/firefox/discovery/pane/60.0a1/WINNT/normal

[2018-02-23 15:10] AlexandraMoga commented on #1568
This is not reproducing anymore on any of the servers.

[2018-02-23 16:30] #4270 closed

[2018-02-23 19:58] pwalm opened #4442 "Different counts shown for “Reviews” on detail page"
On an extension detail page, there are two different values for “Reviews” on the same page: One at the top, and one in the “Rate your experience” block. One is both star ratings and written reviews, and one is just written reviews:
![538b0d5c-bbac-42d8-adc8-ccff6e859f5c](https://user-images.githubusercontent.com/6797635/36614146-948c5f06-1890-11e8-8dbe-ff0b4dc79ee5.jpeg)

We just need to clarify w

[2018-02-23 19:59] tofumatt commented on #4442
Just FYI: a subheading of "Ratings & reviews" will likely make for very crammed text in German locale. That section is already quite tight in German... could we get away with just "Ratings" there?

[2018-02-23 20:02] pwalm opened #4443 "User should be able to click reviews to view"
A user should be able to click the “reviews” section at the top of the page to view all reviews.

![b68aa4ae-f069-49be-8e09-43860be77901](https://user-images.githubusercontent.com/6797635/36614390-63e01d92-1891-11e8-85b4-e2695d6f5a18.jpeg)

[2018-02-23 20:03] tofumatt commented on #4443
Duplicate of #4287 ^_^

[2018-02-23 20:03] #4443 closed

[2018-02-23 20:04] pwalm commented on #4443
@tofumatt  Lol, closed as I was adding labels

[2018-02-23 20:04] pwalm commented on #4442
@tofumatt yep, “Ratings” works.

[2018-02-23 20:17] pwalm commented on #4355
Assets can be pulled from the “symbols” page of the Sketch doc

[2018-02-23 20:41] tofumatt commented on #4326
@KhushilMistry is working on this and has a PR ready–it just needs one more tweak and should be good to merge.

[2018-02-23 20:42] tofumatt commented on #4435
Thanks! So it looks like something has changed in Nightly... are we sure this isn't a bug in Nightly then? We haven't changed anything around this.

[2018-02-23 21:18] KhushilMistry commented on #3525
@tofumatt I want to work on this. Should I remove id for both the readonly div and button or any particular one ?

[2018-02-23 21:35] tofumatt commented on #3525
The IDs should only be removed when `readOnly` is `true`.

[2018-02-23 21:36] #4175 closed

[2018-02-23 21:37] #4442 closed

[2018-02-23 23:19] kumar303 commented on #4426
Yes, since this touched a lot of installation code, it would be helpful to check for regressions.

[2018-02-24 15:04] anqileyi opened #4448 "sex8.cc"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-02-24 15:12] #4448 closed

[2018-02-25 21:16] SCmkQrK1NhwcWoPJF3FImaqHnG2PqPLWBt2GtSU opened #4453 "Moved extension page is not found"
### Describe the problem and steps to reproduce it:
I previously installed the extension 3P Request Blocker 1.0.22.1. I opened the about:addons page, opened the 3P Request Blocker 1.0.22.1 extension page, clicked on the reviews link.

### What happened?
The page https://addons.mozilla.org/en-US/firefox/addon/3p-request-blocker/reviews/ (Page not found) has been opened.
### What did you expect to h

[2018-02-26 03:23] JosephSamela opened #4454 "Extension page dead link"
### Describe the problem and steps to reproduce it:

### What happened?
I submitted an extension to AMO. I clicked the link it worked. I logged out. I clicked the link again and received "Sorry, but we can't find anything at the address you entered." I logged back in again and the link works correctly bringing me to the extension AMO page.
https://addons.mozilla.org/en-US/firefox/addon/colorize-ta

[2018-02-26 08:49] AlexandraMoga commented on #4175
Verified as fixed on AMO-dev, FF58 Win10x64

![image](https://user-images.githubusercontent.com/31961530/36660957-866a03ca-1ae2-11e8-94b0-72c3abd17698.png)

[2018-02-26 09:11] ioanarusiczki commented on #4442
@tofumatt The "reviews" in the experience section didn't change into "written reviews" . If this remains unchanged I will mark it as verified fixed.

![written reviews and ratings](https://user-images.githubusercontent.com/33448286/36662041-d22aa53c-1ae5-11e8-8275-83f7fd721749.png)

[2018-02-26 11:19] muffinresearch commented on #4431
@pwalm Assuming I'm reading the mocks in Sketch correctly the default text copy looks to be 15px not 12px - is that right?

[2018-02-26 11:40] tofumatt commented on #4442
I think it should remain unchanged because it takes up less space and we don’t differentiate with the word “written” elsewhere.

So yes I think you can mark it verified :-)

- Matt (Sent from mobile)

[2018-02-26 15:15] muffinresearch commented on #4372
I don't think this is a dupe. #4270 is about allowing the src parameter in the url to be passed down to the install link, however this is about providing the src parameters to the details page links. I don't see them present if you go to the homepage for example and click through to the details page for an add-on in a collection.

[2018-02-26 15:16] muffinresearch commented on #4372
As mentioned in the OP fixing this requires passing the relevant src params in the details page links.

[2018-02-26 15:17] ioanarusiczki commented on #4454
I made some exploratory testing around this issue on AMO dev and AMO stage using FF58 (Win10) and I noticed that it is reproducible before the extensions are auto approved or manually approved.
STR: I submitted an add-on and before the auto approval I copied the detail's page link, opened a new profile where I've never been logged with my AMO credentials and pasted it in the browser. The issue is

[2018-02-26 15:27] ioanarusiczki commented on #4442
Ok, thanks, I'll mark it verified fixed.

[2018-02-26 15:39] JosephSamela commented on #4454
To follow-up, I noted the dead link _after_ the extension was approved. I received the link in an automated confirmation email. Then I attempted to access the page from another machine and observed the issue above. Thanks for looking into this!

![image](https://user-images.githubusercontent.com/16111451/36679170-907f23ec-1ae0-11e8-80b4-6262609cd486.png)

[2018-02-26 16:13] ioanarusiczki opened #4456 "Static themes detail pages cannot be viewed after logging out"
STR:
1. Load AMO dev and submit a static theme using Select a file button.
2. Approve the theme from Reviewers tools.
3. Go to the add-ons detail page and click log out.
4. Observe the page.

Expected result:
The add-on details page is available.

Actual result:
Server error message is displayed.

Notes:
This issue is reproducible on AMO dev with FF58(Win10).

![server error](https://user-images.g

[2018-02-26 16:47] jvillalobos commented on #4453
The review link is exposed by the API, and should update on a daily basis. It sounds like you clicked on the link in the interval between the add-on URL being changed by the dev and the API reloading it. It should only be a temporary issue, and rare since add-ons normally don't change URLs.

[2018-02-26 16:47] #4453 closed

[2018-02-26 17:09] kumar303 opened #4458 "Show form errors next to each field (for editing Collections)"
### Describe the problem and steps to reproduce it:

* Create a collection on the legacy site
* Log into the modern site
* Open the URL to the collection and click *edit collection*
* Enter an invalid custom URL (such as one with a space in it)
* Save the collection

### What happened?

You see an error at the top of the form.

### What did you expect to happen?

You should still see a generic err

[2018-02-26 17:43] #4375 closed

[2018-02-26 18:12] #4365 closed

[2018-02-26 19:14] #4434 closed

[2018-02-26 19:15] #4433 closed

[2018-02-26 19:21] KhushilMistry commented on #4186
I have added PR for this #4429. Can anyone review this ?

[2018-02-26 19:31] tofumatt commented on #4186
@KhushilMistry Yes we've seen the PR but sometimes we're a bit behind reviewing contributor PRs as we're a small team and I've been out sick. We'll get to the PR ASAP though; we check through our open PRs regularly 😄

[2018-02-26 19:33] KhushilMistry commented on #4186
Okay Thanks 😄

[2018-02-26 21:02] kumar303 opened #4461 "Show multiple authors in search results"
### Describe the problem and steps to reproduce it:

* Create an add-on with multiple listed authors
* Search for the name of the add-on

### What happened?

The search result for the add-on only lists the first author.

Compare the search results:

<img width="846" alt="screenshot 2018-02-26 14 57 23" src="https://user-images.githubusercontent.com/55398/36695055-c6933980-1b05-11e8-8092-30524c6a73

[2018-02-26 21:14] tofumatt commented on #4461
Originally I think this was a deliberate decision because there’s limited real estate to show multiple authors (especially on mobile).

If you look at this on mobile there isn’t much room to expand I think, so maybe this is working as intended. Admittedly it’s a bit weird, maybe it should be “first author name + 2 others” or something.

[2018-02-26 21:14] kumar303 commented on #4461
We could also use an ellipsis

[2018-02-26 21:15] kumar303 commented on #4461
I'll add `needs:ux` for thinking about small screens

[2018-02-26 21:17] tofumatt commented on #4461
That’s a much better idea :-) We could even just put them all in and use overflow with an ellipsis if it DID exceed the width we assign based on screen size.

[2018-02-26 22:42] kumar303 commented on #4372
What source should we use when linking to add-ons from the new *Re-imagine search* card on the home page?

<img width="850" alt="screenshot 2018-02-26 16 41 06" src="https://user-images.githubusercontent.com/55398/36699933-df29a804-1b13-11e8-995e-3cdc9fcbb5cf.png">

[2018-02-26 22:46] kumar303 commented on #4372
Here are all the home page curated shelves for which I don't see sources. Should I leave the source blank for now?

* Re-imagine search
* Privacy tools
* Dynamic media downloaders

[2018-02-27 08:25] ioanarusiczki commented on #4419
@bobsilverberg As far as I remember the collections were available. Well, thanks, I think it's fine now.
I'll mark this as verified on AMO dev with FF58 (Win10).

[2018-02-27 08:50] AlexandraMoga commented on #4375
Verified as fixed on AMO-dev, FF58 (Win10x64 and Android 7.0)

![image](https://user-images.githubusercontent.com/31961530/36718873-f8c9dc6e-1bab-11e8-8edc-80503a718cac.png)

[2018-02-27 09:21] AlexandraMoga commented on #4365
I'm still reproducing this on -prod. Also tried with a new profile and the green favicon was displayed.
@bobsilverberg are we going to see the changes only after Thursday's push?

![image](https://user-images.githubusercontent.com/31961530/36720178-eca1d866-1baf-11e8-8a60-08323b84edf4.png)

[2018-02-27 09:52] vcarciu commented on #4434
Verified as fixed :
![sluggy](https://user-images.githubusercontent.com/1583842/36721830-b4d50b38-1bb4-11e8-806b-c246659325d6.png)

[2018-02-27 09:57] vcarciu commented on #4433
Verified as fixed. Enter is now saving the changes.

[2018-02-27 10:12] tofumatt commented on #4365
Yes, the changes will appear on Thursday when this is deployed.

[2018-02-27 15:53] kitkat189 opened #4467 "Malicious pop up from advertiser or other malware only allows "ok" to be pressed all else is locked."
### Describe the problem and steps to reproduce it:
Firefox for IOS on iPad Pro with latest Firefox. A malicious advertiser issues a pop up where you only can enter ok to exit. All windows and controls in Firefox are locked. Seems like bug 61098 and 432687 were allowed back in, or never fixed. Only way out is to uninstall Firefox as could not control history and start in safe mode on iPad. This wi

[2018-02-27 15:59] kitkat189 commented on #4467
The malicious site is "http://rewarddebitcards.top "

[2018-02-27 16:03] tofumatt commented on #4467
This is the issue tracker for the add-ons site and related projects, not for Firefox.

If you could please file this bug in Bugzilla at https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox%20for%20iOS that would be great. Thanks so much! 😄

[2018-02-27 16:03] #4467 closed

[2018-02-27 16:11] kumar303 commented on #4458
I took a minute to look into this and here are some notes.
- `reducers/errors.js` can store something like `fieldKey` when [reducing an API error object](https://github.com/mozilla/addons-frontend/blob/604423371a9a01e74ab945008b609da7ba212652/src/core/reducers/errors.js#L35).
- `ErrorHandler` will then get access to `fieldKey`
- We can wrap [JSX like this](https://github.com/mozilla/addons-fronten

[2018-02-27 16:11] kitkat189 commented on #4467
Matthew, this site was referred to by an entry related to add on 13176
which is no longer existing and is related to my bug entry. I got a 404 on
the reference in Mozilla support.
This entry was entered on Oct 30, 2010 at 3:39.43 PDT by cor-el.
I will re enter in bugzilla. Thanks.

On Tuesday, February 27, 2018, Matthew Riley MacPherson <
notifications@github.com> wrote:

[2018-02-27 16:14] kumar303 commented on #4467
FWIW, I've seen the same exact thing in Mobile Safari from malicious ads. I suggest using [Firefox Focus](https://www.mozilla.org/en-US/firefox/mobile/)! It would be great to fix this though.

[2018-02-27 16:26] tiffanyapril opened #4468 "I followed a link to install a Highly.co extension on Firefox, and it led to error message "Page not found""
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-02-27 16:34] tofumatt commented on #4468
This means the add-on was removed, possibly by the author. Unfortunately we don't have anymore info, but add-ons that have been unlisted show up as not found. Sorry about that 🙁

[2018-02-27 16:34] #4468 closed

[2018-02-27 17:17] kitkat189 commented on #4467
Thank you. I would be happy if this exact problem DOES NOT happen again
when I close and reopen Firefox. I am unable to set
browser.sessionstore.max_resumed_crashes to 0  as suggested in some
solution on the iPad Pro, so on restart I do do not encounter the problem
instantly.
I would also like to be able to reset the history on the iPad from the
general settings in the main iPad menu, just like Sa

[2018-02-27 18:00] #4372 closed

[2018-02-27 18:17] kumar303 commented on #4372
One other question that came up while working on this: should we use `src=collection` for add-ons in the *home page* collections? The fix I added only adds it for when you're on any collection detail page.

[2018-02-28 07:37] MarkOliva opened #4470 "1 Click Video Download link broken"
### Describe the problem and steps to reproduce it:

### What happened?
Leads to a Mozilla "can't find it" page

### What did you expect to happen?
Download the app.
### Anything else we should know?

http://www.clickvideodownload.com/download.php

[2018-02-28 11:38] AlexandraMoga commented on #4372
Verified  this on stage and here are my observations:
- **Working**
 `src=collection` -  param sent when accessing an add-on details page from "Customize the way Firefox works..." collections shelf or from a user's collection
`src=hp-dl-promo` -  param sent when looking at add-ons present in the hero banners
`src=search` - param sent when looking at add-on details from search results

- **Needs at

[2018-02-28 11:39] tofumatt commented on #4470
Unfortunately the add-on has been unlisted; you'll need to contact the author at http://www.clickvideodownload.com/contact.php and request they re-publish their add-on.

[2018-02-28 11:39] #4470 closed

[2018-02-28 14:47] AlexandraMoga commented on #4435
@tofumatt should we file an issue in Bugzilla then, or do you need to investigate more on the AMO side?

[2018-02-28 14:49] tofumatt commented on #4435
I haven't looked into it further but given we changed nothing (that I know of) it is worth filing a bugzilla issue I think, because it seems likely to be a Firefox bug.

[2018-02-28 19:06] tofumatt opened #4471 "Add a user Avatar component"
We need a user avatar component that accepts a user object and renders either their avatar with an image tag or the placeholder SVG image we have.

[2018-02-28 23:02] tofumatt opened #4473 "Create a ReportUserAbuse component"
We'll need a component similar to the `ReportAbuseButton` but for the user abuse report feature on the user profile page.

It should use the `DismissibleTextForm` component though, unlike `ReportAbuseButton` which doesn't as it predates that component.

<img width="377" alt="screenshot 2018-02-28 23 01 13" src="https://user-images.githubusercontent.com/90871/36818043-4a90d360-1cdb-11e8-9217-6e342e

[2018-02-28 23:06] tofumatt commented on #4473
QA: To test this please make sure the add-on abuse report functionality remains intact.

(This will affect the abuse report reducer so it's important to make sure add-on abuse reports still work after this is fixed.)

[2018-03-01 08:35] AlexandraMoga commented on #4435
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1442155

[2018-03-01 12:17] vcarciu commented on #4473
Verified abuse reports from different places and everything looks fine.

[2018-03-01 13:50] vcarciu commented on #4270
I can see that in AMO-dev console when using src=external-test "1519657683163    addons.xpi    WARN    Failed to remove temporary file C:\Users\svuser\AppData\Local\Temp\tmp-04c.xpi for addon https://addons-dev.allizom.org/firefox/downloads/file/253547/webext_simple-22-an+fx.xpi?src=external-test" and I confirmed that this is ok with @muffinresearch , because I  can see the src=external-test .

Al

[2018-03-01 13:52] AlexandraMoga commented on #4426
We have looked for regressions around add-on installation (in AMO, Discopane and Addons manager) and everything seems to be working as expected.
Based on that, this can be marked as verified fixed.

[2018-03-01 15:13] kumar303 opened #4475 "Some Add-on install sources are missing"
This is a follow-up to https://github.com/mozilla/addons-frontend/issues/4372

1. `src=featured` -  only works when accesing an add-on details page from AMO homepage; doesn't work for add-ons featured in [Extension/Theme homepage](https://addons.allizom.org/en-US/firefox/extensions/) or [Category pages](https://addons.allizom.org/en-US/firefox/themes/nature/)
2. ~~Regarding Filtered groups - filte

[2018-03-01 15:15] kumar303 commented on #4372
Thanks for catching all these. I created a new issue: https://github.com/mozilla/addons-frontend/issues/4475

The only one I didn't include was this:

Since we no longer have *weekly downloads* then there is nothing to do here.

[2018-03-01 15:24] AlexandraMoga commented on #4372
This can be marked as verified fixed as a new issue to follow up issue was opened.

[2018-03-01 15:24] kumar303 commented on #3871
Duplicate of https://github.com/mozilla/addons-frontend/issues/4426

[2018-03-01 15:25] #3871 closed

[2018-03-01 15:59] kumar303 commented on #4435
I [removed our use of `InstallTrigger`](https://bugzilla.mozilla.org/show_bug.cgi?id=1442155#c1) to try and deduce the problem. This seems like a platform issue.

[2018-03-01 17:07] kumar303 commented on #4475
What did you mean by `src=filter` here? I don't see that on the old or new site and I didn't see it in your example link.

[2018-03-01 18:05] #4355 closed

[2018-03-01 19:28] kumar303 commented on #4475
@AlexandraMoga Heh, whoops, I forgot to tag you in my question up above.

I'm going to land a patch that fixes the parts of this issue that are not crossed out in the description. If something more should be done about `src=filter`, please file another issue.

[2018-03-01 19:28] #4475 closed

[2018-03-01 20:17] bobsilverberg opened #4477 "Remove all eslint-disable comments for for...of syntax when support is added"
Support for `for...of` (as well as `for...in`) landed in our shared configuration at https://github.com/mozilla/eslint-config-amo/commit/31f1a82f10aeeb1804eb5851e31fc617d128f574 in version 1.6.0. That should generate a Greenkeeper PR in this repo when it's ready. Once that PR is merged, and we then have support for `for...of`, we should remove any `eslint-disable` comments that were previously add

[2018-03-01 20:26] bobsilverberg commented on #4370
Duplicate of #4477

[2018-03-01 20:26] #4370 closed

[2018-03-01 21:03] vcarciu opened #4478 "AMO homepage is opened for some extensions when pressing the "Contribute now" button"
Steps to reproduce:
1.Go to https://addons.mozilla.org/en-US/firefox/addon/enhancer-for-youtube/?src=search
2.Press the "Contribute now" button

Expected results:
User is redirected to contributions page

Actual results:
A new AMO homepage is opened

Notes:
Not reproducible for all extensions with contributions set.

Please see video for this bug:

![donate](https://user-images.githubusercontent.c

[2018-03-01 21:39] diox commented on #4478
Turns out this is entirely an addons-server issue: https://github.com/mozilla/addons-server/issues/7691

[2018-03-01 21:39] #4478 closed

[2018-03-02 01:56] #4471 closed

[2018-03-02 02:08] tofumatt commented on #3183
For QA: if you don't test with assistive technology you can ignore this issue. Otherwise just make sure that the ARIA-aware client is aware of these labels and they're helping, I guess.

[2018-03-02 02:09] #3183 closed

[2018-03-02 08:14] AlexandraMoga commented on #4475
@kumar303 Sorry for misleading you with my 'src=filter' example.

I think in fact that you might have answered my question here:

What you actually mean here is that `src=search` will always be the parm sent, regardless of the search filters (i.e _Top Rated_) I apply in my search results, right?

[2018-03-02 09:54] ioanarusiczki commented on #4355
Verified this on AMO dev with FF58 (Win 10, Android 8.0)
@bobsilverberg I've noticed that the old site had yellow stars for all written reviews and  not only for the user's personal review which gives a better UX experience in my opinion.

![yellow stars](https://user-images.githubusercontent.com/33448286/36893166-b179ffe0-1e0f-11e8-87d1-7c97aa266d5c.png)

Old pages - yellow stars
![old yellow](ht

[2018-03-02 12:34] bobsilverberg commented on #4355
Thanks @ioanarusiczki, but I'm pretty sure this is how @pwalm wants it to be. Can you confirm that, @pwalm?

[2018-03-02 15:08] vcarciu opened #4485 "Homepage content should have different add-ons for Android/other clientApp"
Steps to reproduce:
1.On your Android device, open AMO prod
2.Open a collection listed on Homepage(ie. Bookmarks) and open the first extension listed : https://addons.mozilla.org/en-US/android/addon/evernote-web-clipper/?src=collection

Expected results:
All extensions listed in these collections should be available for Android

Actual results:
"The add-on is not available on your platform" red ba

[2018-03-02 15:56] ioanarusiczki opened #4486 "Small size screenshots/pics are enlarged (zoomed in) and unclear (pixelated)"
STR:
1. Load AMO dev and from Dev Hub go to a submitted add-on from the list.
2. From Edit information click on Edit Images and add some screenshots/images but make sure they have smaller sizes (I resized a sample to 400 pixels width and 225 pixels height)
3. Click Save changes.
4. Click on View Listing and open the screenshots with the screenshot viewer.
5. Check the image opened.

Expected resul

[2018-03-02 16:00] kumar303 commented on #4486
Ugh, yeah, I really want to fix this. We're already tracking it in https://github.com/mozilla/addons-frontend/issues/4197

[2018-03-02 16:00] #4486 closed

[2018-03-02 16:00] tofumatt commented on #4486
That said: a 400x225px screenshot is very small; on a modern 13" laptop's 2x DPR monitor that will be either illegibly small or pixelated when enlarged.

We do have to improve the screenshot viewer but I don't think this is a bug. Either option is bad, I think this one is better.

[2018-03-02 16:02] kumar303 commented on #4197
Also related: https://github.com/mozilla/addons-frontend/issues/1519

[2018-03-02 16:06] ioanarusiczki commented on #4486
@kumar303 @tofumatt It's really good that it's being tracked !  To add -  680x480 size images don't look clear either, or any other sizes if we make a comparison with other image viewers. There is room for improvement.
Thanks for answering so fast!

[2018-03-02 17:52] FatOrangutan commented on #4430
Badges will be moved to the top right as per https://github.com/mozilla/addons-frontend/issues/4431#issuecomment-369987147.

[2018-03-02 17:52] #4430 closed

[2018-03-02 20:16] kumar303 commented on #4475
Yep, that's what I meant.

[2018-03-02 20:27] jvillalobos commented on #2779
This was part of a larger idea of how users could narrow down the query to categories and tags, but I don't see that happening now. We should aim to have the most relevant results on the first page, so how things are structured for deeper search is secondary. I think it's okay to close this.

[2018-03-02 20:27] #2779 closed

[2018-03-02 20:40] kumar303 commented on #2080
Bumping priority because there is an upcoming policy change related to this.

[2018-03-02 21:47] pwalm commented on #4070
UX sez: just truncate the copy on one line.
<img width="1390" alt="screen shot 2018-03-02 at 1 46 13 pm" src="https://user-images.githubusercontent.com/6797635/36923443-345dd174-1e20-11e8-9537-5f6d4de27700.png">

[2018-03-02 21:54] pwalm commented on #4087
Here's a layout I mocked up for skinnier view ports that should accommodate longer text strings/localization:
<img width="980" alt="screen shot 2018-03-02 at 1 53 36 pm" src="https://user-images.githubusercontent.com/6797635/36923791-3948abc2-1e21-11e8-83c7-48fd86d5a92b.png">

[2018-03-02 22:13] pwalm commented on #4198
Revised with message bars:
<img width="1025" alt="screen shot 2018-03-02 at 2 11 48 pm" src="https://user-images.githubusercontent.com/6797635/36924534-da17c568-1e23-11e8-9bcf-fd4f187ac7e3.png">
<img width="1025" alt="screen shot 2018-03-02 at 2 12 11 pm" src="https://user-images.githubusercontent.com/6797635/36924544-df926ffc-1e23-11e8-8694-beb94a24a8d1.png">
<img width="960" alt="screen shot 201

[2018-03-03 16:00] tsl143 commented on #4415
This is because of different `average_daily_user` numbers in the API response
Example-
Listing API
`https://addons.mozilla.org/api/v3/addons/search/?app=firefox&appversion=58.0&featured=true&page_size=4&sort=random&type=persona&lang=en-US&wrap_outgoing_links=true`
shows `average_daily_user` as `41`
<img width="890" alt="screen shot 2018-03-03 at 9 27 47 pm" src="https://user-images.githubuserconte

[2018-03-03 16:24] tsl143 commented on #4253
@tofumatt, we can use `hyphens` CSS property for this :)

[2018-03-04 06:36] tsl143 commented on #4185
@muffinresearch the title and description overflow is specific to collection, but `metadatacard` is shared. This PR will handle the text overflow for all the shared style.

[2018-03-05 07:49] eviljeff opened #4496 "Can't search for search plugins at /firefox/search/"
Search plugins type addons don't appear to have been fully implemented. There is no selection in the dropdown to search for them via https://addons.mozilla.org/de/firefox/search/ though https://addons.mozilla.org/de/firefox/search/?q=OpenThesaurus&type=search does work.  Also https://addons.mozilla.org/de/firefox/search-tools/ still goes to a legacy page.

[2018-03-05 07:51] eviljeff commented on #4496
This isn't really priority: p2 but it's deserves more attention that getting dumped in the soup of all other p3 issues.

[2018-03-05 07:51] eviljeff commented on #4496
origially logged https://github.com/mozilla/addons-server/issues/7681

[2018-03-05 10:38] AlexandraMoga commented on #4475
Verified On AMO-dev with FF58, Win10x64
`src=featured` , `src=rating` and `src=hotness` are also sent now from Extension/Theme homepage or Category pages

[2018-03-05 10:44] AlexandraMoga commented on #4365
Verified as fixed on AMO-prod, FF58 (win10x64)

![image](https://user-images.githubusercontent.com/31961530/36970954-ee3ecd2e-2072-11e8-8c4c-840cfbbe85b8.png)

[2018-03-05 11:26] #4185 closed

[2018-03-05 12:52] bobsilverberg opened #4497 "Upgrade eslint-config-amo to version 1.6"
This blocks issue #4477, and for some reason Greenkeeper didn't issue a PR for this.

[2018-03-05 14:39] vcarciu opened #4499 "Truncate the long screenshot descriptions"
Steps to reproduce:
1.Submit and approve an extension containing a long description for a screenshot
2.After auto approval, go to extension's detail page
3.Open the screenshot

Expected results:
Screenshot is seen at its full size and description is truncated(An option to see all description should be added)

Actual results:
Screenshot is seen minimized in order to make space for the long descript

[2018-03-05 14:51] tofumatt commented on #4499
Seems like we should have a max-length for screenshots much below that amount. I don't think there's any value in having screenshot descriptions of that length, so maybe this should be handled by the server? cc @diox

We could easily truncate it on the front-end but that's a bad UX; the developer will add a long-winded screenshot then be surprised when it's cut-off on the site.

[2018-03-05 15:04] AlexandraMoga commented on #4185
Verified as fixed on AMO-dev, FF58, Win10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/36981869-efe52014-2096-11e8-859b-501e773e9a0b.png)

[2018-03-05 15:06] bobsilverberg commented on #4496
I'd be happy to take this on. Are there more specific requirements, or is it just that they don't appear as a type in the dropdown at https://addons.mozilla.org/en-US/firefox/search/?

@jvillalobos Do we have a stated direction for supporting them in the future, and to what extent we want to support them?

[2018-03-05 15:31] #4497 closed

[2018-03-05 16:28] #4477 closed

[2018-03-05 16:40] eviljeff commented on #4496
They don't appear as a type in the dropdown and the landing page for search plugins isn't implemented.  This might need splitting into different issues - I would have thought there would already be an issue for implementing the remaining type of add-on though.

[2018-03-05 17:27] kumar303 opened #4502 "Create a new collection with add-ons"
Tracker: https://github.com/mozilla/addons-frontend/issues/2782

A user should be able to:

- Sign in
- Create a collection
- Enter a name, description, URL (implemented in https://github.com/mozilla/addons-frontend/issues/4003)
- Add some add-ons to the collection before saving
- Save the collection

[2018-03-05 18:13] tofumatt commented on #4403
QA: To verify make sure that pages that have pagination continue to function as they did before this patch lands, and that pages that are out-of-bounds/invalid produce a 404.

[2018-03-05 19:28] jvillalobos commented on #4496
The Firefox settings page points to `/search-engines/`, which redirects to `/search/?type=search`. That should be fixed in the header menu.

I've been discussing the future of search engines as an add-on type with a few people involved in search, but we don't have clear steps forward at the moment. The general feeling is that we won't have them on AMO for much longer, but the decision hasn't been

[2018-03-05 19:28] jvillalobos commented on #4496
Whoops, wrong button.

[2018-03-05 20:21] bobsilverberg opened #4504 "API helpers for creating a collection"
We need API helpers to facilitate editing a collection #4003

For QA: please check for regressions in any of the existing collection pages and in particular with the "Edit a collection" feature.

[2018-03-05 20:22] bobsilverberg opened #4505 "Saga helpers for creating a collection"
We need saga helpers to facilitate creating a collection #4003

For QA: please check for regressions in any of the existing collection pages and in particular with the "Edit a collection" feature.

[2018-03-05 20:52] bobsilverberg commented on #4504
I'm going to try using `invariant` (see issue #1461) for the code I'm writing for this.

[2018-03-06 07:11] AlexandraMoga commented on #4497
@bobsilverberg could you also add a 'qa:not needed' to this one, please?
Thank you

[2018-03-06 13:15] vcarciu commented on #3183
Unfortunately we don't test with assistive technology. Can we mark this as "qa: not needed" ?

[2018-03-06 13:16] tofumatt commented on #3183
Ah, okay. I've marked it as such then.

[2018-03-06 14:42] AlexandraMoga opened #4507 "AMO is returning a server error after any search related action"
STR:

1. Go to AMO-dev homepage and perform a search

Actual result:
A server error is received after any search action

Expected results:
Search results are listed

Notes:
- reproduces also  for 'See more" links and  Collections listed on homepage

![server error](https://user-images.githubusercontent.com/31961530/37038329-29178a7c-215d-11e8-8a1e-dd9f36aa46be.gif)

[2018-03-06 14:43] tofumatt commented on #4507
Guessing this is an issue with the API returning bad responses, I can investigate in a few minutes if no one else gets to it.

[2018-03-06 14:53] tofumatt commented on #4253
This was fixed by #4495.

[2018-03-06 14:53] #4253 closed

[2018-03-06 15:10] kumar303 commented on #4507
I see this in the console:

"The currentPage property cannot be undefined"

Our source maps are broken on dev 😞 but this comes from either `Paginate` or `PaginatorLink`

When I checked locally, this is a regression from https://github.com/mozilla/addons-frontend/pull/4503

[2018-03-06 15:14] kumar303 opened #4508 "Source maps are not working on dev"
### Describe the problem and steps to reproduce it:

Open the web console and trigger some kind of error. See https://github.com/mozilla/addons-frontend/issues/4507

### What happened?

The error points to the minified source

### What did you expect to happen?

Source maps should point to the actual source

### Anything else we should know?

I tried in both Firefox and Chrome to be sure.

[2018-03-06 17:13] kumar303 opened #4510 "Extract AutoSearchInput component"
We have an input field that autosuggests search results when you type in it. I need to use this for putting add-ons in a collection (https://github.com/mozilla/addons-frontend/issues/4004) so I will extract it into a shared component.

For QA: Please test for regressions in all features related to the search bar in the header.

[2018-03-06 17:20] #4507 closed

[2018-03-06 20:53] Pilarbrist opened #4512 "Google calendar Plugin"
In order to access gotomeeting.com my mac need google calendar plugin, when I click the link to install the plugin, it redirect to Github.

[2018-03-06 20:59] jvillalobos commented on #4512
Is the install button on addons.mozilla.org? Can you please include the address of the page where this happened?

[2018-03-06 21:17] bobsilverberg opened #4513 "Pagination on Search results and Collection screens is broken"
PR #4509 broke pagination, yielding unusual results. For example, if you go to https://addons-dev.allizom.org/en-US/firefox/search/?q=test and click the `Next` button, it takes you to page 2, but if you click `Next` again from there it takes you to page 21, and `Next` is disabled.

I will try to fix this ASAP.

[2018-03-06 21:20] tofumatt commented on #4513
Oh no! I only tested page 1 to page 2 and back 😱

Would be good to add a test for this if possible... thanks for catching it!

Once you need a review just ping me... I should be around the next three hours if it's ready tonight.

[2018-03-06 21:34] caitmuenster commented on #4512
Thanks @Pilarbrist!

I went to the gotomeeting site, which noted that they currently only support the Google calendar extensions in Chrome. I emailed them with instructions for porting their Chrome extension to Firefox.  Hopefully they will have a Firefox version available soon.

[2018-03-06 21:45] bobsilverberg commented on #4513
For the record, it wasn't #4509 that broke pagination, it was #4503.

[2018-03-06 22:39] #4513 closed

[2018-03-06 22:40] #4512 closed

[2018-03-07 02:56] devaneymoz opened #4515 "15 March homepage content programing update"
For the Thursday, 15 March push, please update the AMO homepage programming in accord with what's [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#heading=h.2dl5oxy3ewcc).

@muffinresearch @diox @EnTeQuAk

[2018-03-07 06:28] urbik commented on #3169
I'm still having trouble setting up the environment, so if someone wants to work on this issue, please do.

[2018-03-07 07:44] AlexandraMoga commented on #4507
Verified as fixed on AMO dev and stage, with FF58, Win10x64

![search working](https://user-images.githubusercontent.com/31961530/37079669-0ac21134-21ec-11e8-96d0-30630d432588.gif)

[2018-03-07 08:23] AlexandraMoga commented on #4513
Verified as fixed on AMO dev and stage with FF58 Win10x64 and Android 7.0

![next page](https://user-images.githubusercontent.com/31961530/37081208-5ff3015e-21f1-11e8-9bc4-993c3f0223d5.gif)

[2018-03-07 09:42] AlexandraMoga commented on #4403
Verified on AMO-dev and stage with FF58, Win10x64 and Android 7.0  Page navigation seems to be working well overall.
There are a few issues regarding pagination which were reported before, like [#3887](https://github.com/mozilla/addons-frontend/issues/3887)
I've also found some strange behavior when using some specific symbols, but since they don't look like regressions I will track them separatel

[2018-03-07 10:06] AlexandraMoga opened #4516 "Pagination is broken when using some specific symbols"
STR:

1, Go to AMO homepage and perform a search
2. Change your page number to "%" - i.e. https://addons.allizom.org/en-US/firefox/search/?page=%&platform=windows
3. Observe the results

Actual result:
An Internal Server Error is returned

Expected result:
A Page Not Found error is returned

Notes:
- another example is "page=#" which will return a 'No add-ons Found' result- i.e. https://addons.all

[2018-03-07 10:15] AlexandraMoga commented on #4253
Verified as fixed on AMO stage with FF58, Win10x64

![image](https://user-images.githubusercontent.com/31961530/37086831-3d07a522-2201-11e8-9c23-ba0f8404a551.png)

[2018-03-07 10:22] tofumatt commented on #4516
This is specific to the `%` character, which is a special URI character and is causing `decodeQuery` to throw. This actually happens on production too but this is a malformed URI.

Assuming we can catch this before React does we should fix it but it's low-priority; this only happens if a user specifically enters a malformed URI.

[2018-03-07 14:48] AlexandraMoga commented on #4435
This was verified in [Bug 1442155](https://bugzilla.mozilla.org/show_bug.cgi?id=1442155)
I believe this issue can be closed now.

[2018-03-07 15:50] bobsilverberg commented on #4515
I'm happy to take this one.

[2018-03-07 16:13] AlexandraMoga opened #4517 "Review date changes briefly at page refresh"
STR:

1. Log into AMO and pick an add-on to view its details page
2. Write a review for the selected add-on
3. Go to add-on reviews page and look at the date assigned to your review
4. Refresh the page several times

Actual result:
At page refresh, the review date changes for a brief moment

Expected result:
The review date stays the same when page is refreshed

Notes:
- I was not able to reproduc

[2018-03-07 16:37] caitmuenster commented on #4428
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @bobsilverberg

[2018-03-07 16:40] caitmuenster commented on #4070
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @kumar303

[2018-03-07 16:53] #4435 closed

[2018-03-07 17:12] bqbn opened #4519 "CircleCI v1.0 no longer available 8/31/2018"
### Describe the problem and steps to reproduce it:
CircleCI v1.0 will be unavailable after 8/31/2018.

### What happened?
CircleCI is sunsetting their v1.0.

### What did you expect to happen?
We need to translate the circle.yml file into their v2.0 format.

### Anything else we should know?
Some documents for translating from v1.0 to v2.0
* https://circleci.com/docs/2.0/migrating-from-1-2/
* htt

[2018-03-07 17:50] bobsilverberg opened #4520 "Update Addon-header-info-card to match Sketch specs"
The Sketch specs for the Addon-header-info-card differ from what we currently have in a number of ways. The layout and formatting of the text is different (which was also reported in issue #4431), and the badges are in a different location.

Sketch has the card looking like:

<img width="427" alt="screenshot 2018-03-07 12 46 58" src="https://user-images.githubusercontent.com/142755/37108638-a9ee33

[2018-03-07 17:51] bobsilverberg commented on #4431
Duplicate of #4520

[2018-03-07 17:51] #4431 closed

[2018-03-07 17:54] bobsilverberg commented on #2080
Issue #4520 has been opened to address reformatting the card to reflect the Sketch specs, but as this is a higher priority issue than that, I will tackle adding this badge first, without the change to formatting.

[2018-03-07 20:15] #4504 closed

[2018-03-08 12:26] jpcrevoisier opened #4522 "SHAPass cannot be found"
### Describe the problem and steps to reproduce it:

I have published my extension ( SHAPass ) on addon.mozilla.org
### What happened?
Unable to found it
### What did you expect to happen?
To found and download my extension
### Anything else we should know?

[2018-03-08 16:48] muffinresearch commented on #4522
Seems to be here just fine: https://addons.mozilla.org/en-US/firefox/addon/shapass/

[2018-03-08 16:48] #4522 closed

[2018-03-08 16:58] kumar303 opened #4523 "Add Flow type coverage to sagas"
Let's add Flow types to all sagas to verify that they are working with API functions correctly.

We mainly use sagas to interact with API helper functions. How we deal with data in and out of the API is critical. However, it is not practical to use a real API for all of our automated tests (at scale) so we mock out the API instead. Because of this, we have very poor test coverage of API interactio

[2018-03-08 18:24] jpcrevoisier commented on #4522
Yes sorry, i was à little bit toi quick ..

Le jeu. 8 mars 2018 à 17:48, Stuart Colville <notifications@github.com> a
écrit :

[2018-03-08 18:25] tofumatt commented on #4522
It takes a few minutes for add-ons to appear publicly after they are scanned/approved/etc. Sorry about the delay! 😄

[2018-03-08 18:30] jpcrevoisier commented on #4522
No, no it's clearly m'y fault. You can close the ticket of course.

Sorry again.

Le jeu. 8 mars 2018 à 19:25, Matthew Riley MacPherson <
notifications@github.com> a écrit :

[2018-03-08 19:49] #4515 closed

[2018-03-09 14:18] bobsilverberg opened #4527 "Create a HostPermissions component to encapsulate the logic for formatting host permission strings"
This is a follow-up to issue #4462, specifically to https://github.com/mozilla/addons-frontend/pull/4462#discussion_r173313244, to simplify the logic in `permissions.js` for formatting permission strings by extracting the logic for host permissions into a separate component.

[2018-03-09 14:49] vcarciu commented on #2080
This is not correctly aligned (to left ) on mobile view :
![payment](https://user-images.githubusercontent.com/1583842/37213139-d09c7a4c-23b9-11e8-8814-0e931807e3d1.png)

[2018-03-09 15:15] bobsilverberg commented on #2080
It looks like all of the badges are right-aligned in the small view. See attached:

<img width="374" alt="screenshot 2018-03-09 10 11 31" src="https://user-images.githubusercontent.com/142755/37214228-60b690b4-2382-11e8-9ea0-4c8e0bbb8dfa.png">

It's also how the mock looks in Sketch that is referenced in issue #4520.

So maybe this is intentional, and it's not meant to be left-aligned. @pwalm?

[2018-03-09 15:16] muffinresearch opened #4528 "Implement Hybrid Content Telemetry on Disco Pane"
This issue is to implement the [Hybrid Content Telemetry](https://firefox-source-docs.mozilla.org/toolkit/components/telemetry/telemetry/collection/hybrid-content.html#) on the discovery pane.

The library requires a permission - this is being added in: https://bugzilla.mozilla.org/show_bug.cgi?id=1444114 - the work to implement is not necessarily blocked by this though.

Once added this should ex

[2018-03-09 15:39] AlexandraMoga opened #4529 "New add-on version will not display a user rating/review assigned to a previous version"
STR:

1. Log in to AMO and pick an extension to view its details page
2. Write a review for this add-on and make sure your review is posted
3. Submit a new version for this extension and approve it
4. Go to add-on details page again and check the rating section

Actual result:
There is no record of a previous rating left by your user (stars are not colored)

Expected result:
A user rating assigned

[2018-03-09 18:06] kumar303 commented on #2080
@vcarciu please file a new issue. A good rule of thumb for when to re-open an issue is if the patch has caused such a bad regression that we need to revert the patch. For all other cases, file a new issue.

[2018-03-09 18:06] #2080 closed

[2018-03-09 18:09] eviljeff commented on #4425
We're going to make a few changes to fix this on the addon-server side:
 - https://github.com/mozilla/addons-server/issues/7752 creates per-version Preview objects instead of per-addon
- https://github.com/mozilla/addons-server/issues/6804 will expose these in the API
- https://github.com/mozilla/addons-server/issues/7756 will delete Previews when the version is deleted, though you don't need to w

[2018-03-09 18:10] kumar303 commented on #2080
Also, I think this layout might change a bit when we match the mocks: https://github.com/mozilla/addons-frontend/issues/4520

[2018-03-09 19:00] #2757 closed

[2018-03-09 19:15] jrbenny35 opened #4530 "Add functional UI tests"
@kumar303 was suggesting a suite of UI tests, similar to what is found on addons-server, but run within this repo.

I think this is a good idea and should be pretty straightforward as the config within addons-server is all set.

[2018-03-09 19:16] jrbenny35 commented on #4530
I think these could run on circleci as we know that works and how to set it up best.

[2018-03-11 18:46] SeanPrashad commented on #3070
Hey everyone - I'm coming over from addons-server and would love to pick up this bug as my first for the front-end!

I've done some digging and have found the following code block that looks of interest:

https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/SearchForm/index.js#L139-L156

I'll open up a PR and continue my work from there! ✌🏽

[2018-03-11 19:52] balazs20063 opened #4533 "balazs"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-03-11 21:16] tofumatt commented on #4533
Closing due to lack of information.

Please add information to your issue including the error you encountered, a URL (if applicable), and steps to reproduce.

[2018-03-11 21:16] #4533 closed

[2018-03-12 07:44] erosman commented on #4197
As of today, the issue is still present.

[2018-03-12 11:02] ioanarusiczki commented on #4515
@bobsilverberg Hello! I checked the updates as mentioned [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#heading=h.2dl5oxy3ewcc)
The Smarter Shopping collection returns a Page not found message when clicked, could you please check if that is alright so I can mark this verified?
Thanks!

[2018-03-12 12:18] bobsilverberg commented on #4515
The smarter-shopping collection disappeared, which is odd because I assume it was there the last time an update was tested. Does anyone know why some collections keep disappearing?

I recreated it so you should be able to verify it now.

[2018-03-12 12:59] ioanarusiczki commented on #4515
@bobsilverberg Maybe developers or testers delete these collections for testing purposes as well?
I remember having the same problem with 3 collections from this section for a previous update and you recreated those collections too.
This is verified fixed on AMO dev with FF58 (Win10 and Android 8.0)

[2018-03-12 14:27] kumar303 commented on #3070
Why do we still need this feature given that we have a [debounce function](https://github.com/mozilla/addons-frontend/blob/01f773d4a156583a35dccfccf939616f5321d752/src/amo/components/SearchForm/index.js#L130)?

[2018-03-12 14:49] ioanarusiczki commented on #2757
@tofumatt @bobsilverberg Could you provide STR for QA? Perhaps the submission of a new add-on would be sufficient to check new permissions (unfortunately submission on AMO dev is not working right now).
Thank you!

[2018-03-12 15:03] tofumatt commented on #3070
Because search results for single-characters or even two characters are not relevant (it's nigh-impossible to return a good autocomplete suggestion from "t" or "b"). They end up just being extra requests that clutter the UI and reduce the first relevant set of autocomplete results.

It's pretty common for sites not to autocomplete until a few characters.

[2018-03-12 15:35] AlexandraMoga commented on #4504
I've looked for regressions around collections with focus on 'Edit collection' feature. and there were no issues observed.
@bobsilverberg I have one question regarding collection IDs which were enabled in collections API ([#7529](https://github.com/mozilla/addons-server/issues/7529)). Should this also be possible on the frontend? I've tried using IDs instead of slugs for certain operations but the

[2018-03-12 15:41] bobsilverberg commented on #4504
@AlexandraMoga I don't believe any of the front-end code has changed to allow one to access a collection by its ID, even though the API now supports it, so I believe what you're seeing is expected. Maybe @tofumatt or @kumar303 could confirm that?

[2018-03-12 15:47] bobsilverberg commented on #2757
I created an add-on on dev which has all of the permissions, and lots of host permissions, so that can be used to verify much of this. It can be found at https://addons-dev.allizom.org/en-US/firefox/addon/all-of-the-permissions. For more granular testing (e.g., of the different ways in which host permissions can be displayed) you might need to submit some new add-ons when that becomes possible.

[2018-03-12 16:24] ioanarusiczki commented on #4510
I tested the search feature using the test cases from[ here](https://testrail.stage.mozaws.net/index.php?/suites/view/97&group_by=cases:section_id&group_order=asc) with FF58 (Win10 and Android 8.0)
It seems to be alright so I mark it as verified fixed.

[2018-03-12 17:01] pwalm commented on #2757
@bobsilverberg The implementation looks amazing! Great work. :D

[2018-03-12 18:02] bobsilverberg commented on #2757
Thanks @pwalm!

[2018-03-12 19:35] bobsilverberg opened #4537 "It should be possible to view a collection that does not have any add-ons"
This currently returns a 404 because the API call to retrieve the add-ons for the collection returns 0 results. I believe this can be fixed by checking the value of `addon_count` in the result of the API call to retrieve the collection details, and then only trying to retrieve the add-ons for the collection if there are any.

[2018-03-12 19:42] bobsilverberg commented on #4537
In place of the add-ons we can display some text. Something like `This collection does not have any add-ons yet`. What do you think, @devaneymoz?

[2018-03-13 02:12] SAAGARKU opened #4539 "restore video"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-03-13 02:13] #4539 closed

[2018-03-13 03:22] bobsilverberg commented on #2757
<img width="453" alt="screenshot 2018-03-12 23 20 09" src="https://user-images.githubusercontent.com/142755/37320875-310c6bd2-264c-11e8-81b3-6c8febdf47f2.png">

[2018-03-13 03:31] atsay commented on #2757
Yes, but [this](https://www.dropbox.com/s/ef8p2jrns67g1rh/Screenshot%202018-03-12%2020.28.15.png?dl=0) is what I see. Is it not yet styled and I am jumping the gun?

[2018-03-13 03:43] bobsilverberg commented on #2757
Sorry, @atsay, I don't understand. That button is the link, and it looks just like the mock. What is it that you are expecting to see?

[2018-03-13 03:45] bobsilverberg commented on #2757
Oh, sorry, I didn't notice that `this` in your message was a link to an image. That's the dialog in Firefox, not on the AMO site. That's not what this issue was about. I have no idea if anyone is doing any work on that for this.

[2018-03-13 09:32] ioanarusiczki opened #4540 "Screenshots display a visual issue when opening them for the first time"
STR:
1. Load AMO dev and submit a static theme
2. Click on View Listing from Edit information to check the preview of the the theme saved as a screenshot
3. Click the screenshot displayed on the new frontend
4. Observe the screen

Expected result:
Screenshot is opened on a black background.

Actual result:
A grey background appears for a short time and then the black background.

Notes:
The issue

[2018-03-13 12:29] diox opened #4541 "Impossible to load an add-on detail page when its slug begins with a dash followed by only numbers"
### Describe the problem and steps to reproduce it:
1. Submit an add-on with a slug being a dash (`-`) followed by numbers only.
2. Wait for it to be approved, visit its listing page

### What happened?
On the new frontend, the detail page only shows placeholder content.
![37206690-6cd2b0e2-23a2-11e8-85ba-61dd1bc2bb60](https://user-images.githubusercontent.com/187006/37341654-705f82c6-26c2-11e8-8d

[2018-03-13 12:54] vcarciu opened #4542 "[Android] Badges are not correctly aligned on Android devices"
Steps to reproduce:
1.On Android device, open your Firefox and go to AMO-dev
2.Open any extension with some badges (ie. https://addons-dev.allizom.org/en-US/android/salmoish-alpar-alpantelew/ - experiemental and payments badges)

Expected results:
Badges are aligned to the left (for consistency with desktop view)

Actual results:
Badges are aligned to the right

NOTES:
Logged based on #2080 latest

[2018-03-13 12:54] vcarciu commented on #2080
Logged another issue, will mark this as verified.
Thanks

[2018-03-13 13:24] bobsilverberg commented on #4542
As I mentioned in issue #2080, I'm not sure this is a bug at all. We have issue #4520 open which will update desktop to have the icons right-aligned too, so when that's complete this will be consistent with desktop. If we fix this now (to make them left-aligned), we'll have to fix it again when #4520 lands. @pwalm can you comment on whether what we see above on mobile is a bug, or actually the way

[2018-03-13 14:24] ioanarusiczki opened #4543 "The icon for the "Store unlimited amount of client-side data" permission has display issues"
STR:
1. Load AMO dev and upload an add-on that contains the Store unlimited amount of client-side data permission. My saples are here https://addons-dev.allizom.org/en-US/firefox/addon/all-of-the-permissions2/
and here https://addons-dev.allizom.org/en-US/firefox/addon/adblock-plus-testing-for/
2. Go to the add-ons detail page to Permissions section and observe the icon.

Expected result:
Icon is

[2018-03-13 14:50] jrbenny35 opened #4544 "Update circleci to version 2"
We should update circleci to version 2 as the new config is a bit cleaner and allows for faster builds. It will also help with the new frontend tests I will be adding.

[2018-03-13 14:55] ioanarusiczki commented on #2757
@bobsilverberg Hi again!

I've noticed a couples of things so please let me know what you think before I add the verified label:
1. "Access your data for all websites" permission is not displayed for your sample. I reused it [here](https://addons-dev.allizom.org/en-US/firefox/addon/all-of-the-permissions2/) and noticed that in the extension's manifest it is an optional permission, could be that, b

[2018-03-13 15:00] tofumatt opened #4545 "Create a URL/path helper aware of clientApp/lang/etc."
As mentioned in https://github.com/mozilla/addons-frontend/pull/4536#discussion_r173959506 and #2053, it would be nice to have a utility function that created a URL with the right clientApp/lang set. Presumably it would look like:

[code]

[2018-03-13 15:12] bobsilverberg commented on #2757
Thanks @ioanarusiczki.

1. You are correct that "Access your data for all websites" isn't in my example, because when it is found it prevents all the other host permissions from appearing. The code does not look at optional permissions, only required permissions, so that's why you weren't seeing it for your first example. Perhaps that is not correct. @jvillalobos Should the permissions displayed o

[2018-03-13 15:14] kumar303 commented on #4545
This might be part of a [universal link component](https://github.com/mozilla/addons-frontend/issues/2053) but it should be usable outside of `<Link/>`.

[2018-03-13 15:22] kumar303 commented on #2757
@atsay since the dialog you posted is within Firefox, you should file any issues about it in bugzilla. After the AMO changes stabilize, we probably need to reconcile the two a little bit. I have noticed some issues with the Firefox dialog too.

[2018-03-13 15:30] jvillalobos commented on #2757
sgtm

Agree.

[2018-03-13 15:38] eviljeff commented on #2757
mozilla/addons-server#7316

[2018-03-13 15:53] pwalm opened #4547 "Change "Download Firefox" message bar from red to grey"
This red is scary and could be (probably is) negatively affecting Firefox download numbers:
<img width="691" alt="screen shot 2018-03-13 at 8 45 23 am" src="https://user-images.githubusercontent.com/6797635/37352667-0605be58-269b-11e8-9e29-fe676fd6b4af.png">

We need to change it to the ["generic" style](https://design.firefox.com/photon/components/message-bars.html#color).

[2018-03-13 15:56] tofumatt commented on #4547
Downgrading this to at least a p2 because it's not breaking the site and we don't actually have numbers on it yet 😉

Should be an easy fix though. We could probably get it in this week's tag if it's urgent.

[2018-03-13 15:58] a-one-d-one commented on #4287
I am currently working on resolving this. I was wondering if anyone has already started on the issue.

[2018-03-13 16:11] ioanarusiczki commented on #2757
Well then I think I'm done here!  Marking it verified fixed on AMO dev using FF58 (Win10).

[2018-03-13 16:25] #4473 closed

[2018-03-13 17:23] tofumatt opened #4549 "Change Notice component to be in-line with Photon spec and check its colours are correct."
As mentioned in #4548, it seems:

1. Our `Notice` component needs style tweaks to be in-line with Photon
2. The Photon styles are wrong re: "generic" colours for buttons (they **say** blue but **look** grey)
3. We should allow `Notice` components to more easily render buttons that are links
4. The fix for #4548 should be changed to be a button link to "Download Firefox"

[2018-03-13 17:31] #4547 closed

[2018-03-13 17:32] kumar303 commented on #4549
I asked for clarification in https://github.com/FirefoxUX/photon/issues/287 . I'm pretty sure they should be gray.

[2018-03-13 17:37] #4510 closed

[2018-03-13 17:39] kumar303 commented on #4510
@ioanarusiczki the issue had not been closed yet. I just landed the patch -- can you verify it again when the patch lands on dev? It could take up to 15 minutes to land but you can check the commit at https://addons-dev.allizom.org/__frontend_version__

[2018-03-13 20:44] atsay commented on #2757
@kumar303 @bobsilverberg aha, thanks!

[2018-03-14 06:55] AlexandraMoga opened #4552 "AMO homepage is not loading on stage"
STR:

1. Access AMO homepage on stage (https://addons.allizom.org/en-US/firefox/)

Actual result:
Homepage content is only partially loading

Expected result:
AMO homepage is fully loaded

Notes:
- it seems that collection 'Good time tabs' doesn't exist on stage and it's generating a 404; this might be the root of the isue - https://addons.allizom.org/api/v3/accounts/account/mozilla/collections/go

[2018-03-14 08:21] AlexandraMoga commented on #4504
@bobsilverberg I will go by your opinion and will mark this as verified fixed, since no regressions have been found around collections.
@kumar303 if you think there can be a problem with how the frontend is currently handling collection IDs, I could file a new issue.

[2018-03-14 10:57] ioanarusiczki commented on #4547
I verified this issue with Chrome on Windows and Android platforms and Safari for iOS.
The messages are displayed grey in add-on detail page.
Win10
![chrome 1](https://user-images.githubusercontent.com/33448286/37398346-eb9a0eb0-2786-11e8-87f0-dae053185c59.png)
Android 8.0
![android chrome](https://user-images.githubusercontent.com/33448286/37398366-f3cfd1be-2786-11e8-9c40-b4aa542fbb77.png)
iOS 11

[2018-03-14 12:51] #4519 closed

[2018-03-14 12:56] bobsilverberg commented on #4552
Thanks @AlexandraMoga. As we've seen before, and as you've noticed, this is because there is a collection missing on stage. The solution to this is to recreate the collection. The steps to do it are:

1. Log in to the site.
2. Switch to the Classic Desktop site.
3. Go to https://addons.allizom.org/en-US/firefox/collections/add.
4. Create a collection with the required name, and save it.
5. Click o

[2018-03-14 13:38] ioanarusiczki commented on #4473
I made some tests to check report abuse functionality and it seems to be alright !
Verified this issue on AMO dev with FF59 (Win 10 and Android 8.0).

[2018-03-14 14:06] tofumatt opened #4556 "Allow fetchAddonsByAuthors to omit the exclude_addons param"
To implement #4280 and similar issues, we need to be able to fetch add-ons by a user.

Turns out we essentially have this functionality in `fetchAddonsByAuthors` but it requires a `slug` to send to the API as an `exclude_addons` param. But if we make that `slug` optional we can re-use this reducer for "add-ons by this user" on the profile page.

[2018-03-14 14:20] cadeyrn opened #4558 "editing developer response is incomplete"
The feature to edit an developer response to a review is incomplete on the new frontend. You can edit the main content but you can't edit the headline of the response.

[2018-03-14 14:36] bobsilverberg commented on #4552
Just to reiterate what I said in https://github.com/mozilla/addons-frontend/issues/4552#issuecomment-373010781, this doesn't actually prevent QA from testing stage, as whoever is testing could create the missing collections themselves, by following the instructions I provided.

[2018-03-14 14:37] AlexandraMoga commented on #4552
@bobsilverberg  thanks for providing the above steps.
 I've added the missing collections -   "wikipedia-boosters"  and "trending-add-ons" - and stage homepage is now functional.

If we are going to see similar issues in the future, I think QA will be able to fix them without your intervention, as long as these steps are applicable. It will save a lot of time.

[2018-03-14 14:39] ioanarusiczki commented on #4510
Ups! The issue was verified today by @vcarciu on AMO stage with FF59 (Win10).  I re-checked for android 8.0.
The test results are[ here](https://testrail.stage.mozaws.net/index.php?/runs/view/8825&group_by=cases:section_id&group_order=asc)

[2018-03-14 14:39] bobsilverberg commented on #4552
That's great, thanks @AlexandraMoga!

[2018-03-14 14:47] kumar303 commented on #4558
Hi. Thanks for taking the time to file a bug. Can you send me a link to the review page of where you saw a headline in a developer reply? I thought we did not display them.

[2018-03-14 14:51] cadeyrn commented on #4558
Unfortunately I don't know how I get a permalink in the new design but there are a few reviews with developer responses. Some of these responses has a headline:

https://addons.mozilla.org/en-US/firefox/addon/bookmarks-organizer/reviews/?page=4

[2018-03-14 14:54] kumar303 commented on #4558
ok, thanks. We should hide these headlines because they are no longer used on the new site:

<img width="731" alt="screenshot 2018-03-14 09 53 52" src="https://user-images.githubusercontent.com/55398/37410022-ae000e60-276d-11e8-8c82-a618b2db61af.png">

[2018-03-14 16:57] bobsilverberg commented on #4543
This is what I see at https://addons-dev.allizom.org/en-US/firefox/addon/adblock-plus-testing-for/:

<img width="483" alt="screenshot 2018-03-14 12 55 37" src="https://user-images.githubusercontent.com/142755/37417600-10c5f726-2787-11e8-9644-77a694e89977.png">

which looks fine to me. That's with Nightly, but I also tried with Beta and see the same, proper icon. I'm not sure why it's rendering str

[2018-03-14 16:59] bobsilverberg commented on #4543
Hmm, when I look at your screenshot, @ioanarusiczki, all of the icons look "worse". Does this have to do with your screen resolution? It doesn't look like it's a problem with just the storage icon in any case.

[2018-03-14 17:15] #4552 closed

[2018-03-14 17:31] kumar303 commented on #4543
I don't see the pixelation on Windows 10

[2018-03-14 17:42] bobsilverberg commented on #4543
@pwalm Do you have any idea what might be causing the problem @ioanarusiczki reports above? None of us seem to be able to recreate it, but maybe you've seen something similar?

[2018-03-14 17:46] pwalm commented on #4543
I don't see it either:
<img width="322" alt="screen shot 2018-03-14 at 10 45 36 am" src="https://user-images.githubusercontent.com/6797635/37420789-df3dd514-2774-11e8-900e-b05cfb7d3a33.png">

There is an error in the top half of that SVG, but I'm not sure what could be causing it in a one-off case like this...

[2018-03-14 18:16] bobsilverberg commented on #4543
I guess, if there's an error in the SVG, it's worth exporting it from Sketch again. I'll do that and submit it and we can see if that makes any difference.

[2018-03-14 19:06] bobsilverberg commented on #4537
This was happening for me during testing because I was redirecting to a new collection immediately after creating it, and I guess the collection was not in fact created yet. I'll need to do something in my code to make sure I wait long enough before redirecting to a new collection, but this issue can be closed because it is inaccurate.

[2018-03-14 19:06] #4537 closed

[2018-03-14 19:14] jrbenny35 commented on #4530
Would it be wanted to run these locally?

[2018-03-14 20:04] kumar303 commented on #4530
We discussed this over Vidyo. Here are some notes:

* We need functional tests for the `addons.mozilla.org` website, period. Thinking about it in terms of frontend/backend here is not relevant.
* We'd like for code changes in both `addons-server` and `addons-frontend` to trigger the tests
* We'd like pull requests to trigger the tests so we can detect breakage before hitting master
* The integrati

[2018-03-14 20:13] cadeyrn commented on #4558
Please note that if someone writes a review the developer of the add-on receives an email with a link to the review. If you click this link the *old* site will be opened in the browser and it also contains the headline field in the form for the developer response. So if the plan is to remove the headline from the new frontend you should also remove the input field from the old form _or_ you should

[2018-03-14 22:27] kumar303 opened #4562 "Expose AutoSearchInput label and make it more embeddable"
The AutoSearchInput component added in https://github.com/mozilla/addons-frontend/issues/4510 needs some tweaks for https://github.com/mozilla/addons-frontend/issues/4004

* It has a hidden form label. This should be visible by default and configurable.
* It requires a `position: relative` container. This should be fully extracted from `SearchForm`. This will allow it to be embeddable in other com

[2018-03-15 09:43] ioanarusiczki commented on #4543
@bobsilverberg I checked this again and yes, it does look worse on my side because I'm on desktop using Win10. Did not change any of the resolution settings, left them as recommended. I tried reducing the browser's size but it does not change the issue.  I tested withFF59 and FF61 but I have the same results on both versions.
This is not reproducible on small devices, I checked on a laptop with Ma

[2018-03-15 09:59] ioanarusiczki commented on #4540
This issue is also reproducible on AMO dev and AMO stage with FF59 (Win10) for all types of extensions with uploaded screenshots.

[2018-03-15 13:44] vcarciu opened #4565 "Deselecting a category during submission, will automatically check the "My add-on doesn't fit into any of the categories" checkbox"
Steps to reproduce:
1.Start a new webextension submission in AMO Stage
2.After validation, when selecting categories, select a category, then deselect it

Expected results:
The category is not selected anymore and no other category is selected

Actual results:
The " My add-on doesn't fit into any of the categories" is selected automatically

NOTES:
Reproducible on all servers

Please see video for

[2018-03-15 14:51] ioanarusiczki opened #4566 "Error loading Themes page in old view"
STR:
1. Load AMO stage and click on Themes.
2. Switch to classic view.
3. Observe screen.

Expected result:
Legacy page is loaded.

Actual result:
Oops! We had an error. message is displayed.

Notes:
This issue is reproducible on AMO stage with FF59 (Win10).

![legagy page - themes](https://user-images.githubusercontent.com/33448286/37470810-0060afe4-2871-11e8-9d8f-2d92e70ee09b.gif)

[2018-03-15 14:55] tofumatt commented on #4566
If the issue is only happening on the legacy site it's not a frontend code issue so this should be re-filed on addons-server.

[2018-03-15 14:55] #4566 closed

[2018-03-15 14:59] ioanarusiczki commented on #4566
@tofumatt Done! https://github.com/mozilla/addons-server/issues/7819

[2018-03-15 15:18] jrbenny35 commented on #4530
I am thinking maybe we could have a few different ways to run the tests. One that would setup everything from scratch, and maybe a set of instructions on running the tests with addons-server already cloned and the docker container already set up. Thoughts @kumar303 @krupa?

[2018-03-15 15:22] kumar303 commented on #4530
Sure. We have to start somewhere so I say try something out with the goals from https://github.com/mozilla/addons-frontend/issues/4530#issuecomment-373156492 in mind.

[2018-03-15 17:12] jrbenny35 commented on #4530
This is an attempt: https://circleci.com/gh/jrbenny35/addons-frontend/10

About 17min run time, which is...not short.

[2018-03-15 17:38] kumar303 opened #4567 "API helper to create/update a collection add-on"
For https://github.com/mozilla/addons-frontend/issues/4004 we need an API helper that will let us [add](https://addons-server.readthedocs.io/en/latest/topics/api/collections.html#collection-add-ons-create) an add-on to a collection or [update](https://addons-server.readthedocs.io/en/latest/topics/api/collections.html#collection-add-ons-edit) the notes for an add-on already in a collection.

[2018-03-15 18:25] #4543 closed

[2018-03-15 18:26] bobsilverberg commented on #4543
@ioanarusiczki I created and deployed a new icon. Let's see if that's any better.

[2018-03-15 18:29] bobsilverberg commented on #4520
As I mentioned at https://github.com/mozilla/addons-frontend/pull/4551#issuecomment-373007201, I don't think PR #4551 addresses the text layout and sizing issues discussed in this issue, so I don't think this should be closed. I'm going to reopen it. Perhaps that's not correct and a new issue needs to be opened for the leftover requirements. If that's the case please let me know.

[2018-03-15 18:36] tofumatt commented on #4520
Shoot, right on. My bad.

[2018-03-15 18:36] tsl143 commented on #4520
@bobsilverberg , can you help me with sketch files (url)?

[2018-03-15 18:42] bobsilverberg commented on #4520
@tsl143 The Sketch file is available in the repo at https://github.com/mozilla/addons-frontend/blob/master/assets/sketch%20files/AMO%20Desktop%20-%20Master.sketch, but you need Sketch to view it, which is a commercial application. I did post a screen shot from Sketch in this issue, and the requirements were discussed at https://github.com/mozilla/addons-frontend/issues/4431#issuecomment-369987147.

[2018-03-15 19:24] #4567 closed

[2018-03-15 20:10] kumar303 commented on #3155
I think this is important because it's currently not obvious that you're inside a category when descend into add-on results from a category page. Example: [Games & Entertainment](https://addons.mozilla.org/en-US/firefox/extensions/games-entertainment/) > top rated.

[2018-03-15 20:11] #4562 closed

[2018-03-16 05:45] tsl143 commented on #4496
I am not sure, but what I understood is all we need is to do is add an entry `search` in `addon type` select box, is it correct?

[2018-03-16 05:55] tsl143 commented on #4496
Something like this?
![searchplugin](https://user-images.githubusercontent.com/5318732/37505795-a6f28490-290c-11e8-9b7e-e5050e65a359.gif)

[2018-03-16 10:21] eviljeff commented on #4496
@tsl143 - it's two things: the search plugin type in the select box, and changing the link in the "More ..." menu

[2018-03-16 12:46] ioanarusiczki commented on #4543
I checked it and now it looks alright. Verified fixed on AMO dev with FF59(Win10).

![icons look good](https://user-images.githubusercontent.com/33448286/37521250-baf8997c-2928-11e8-9116-37c20e4a4c45.png)

[2018-03-16 12:55] bobsilverberg commented on #4543
Great, thanks @ioanarusiczki!

[2018-03-16 15:11] tofumatt opened #4573 "Rating component often requires margin-left: -3px; it may need a flag for style or change to default CSS"
As mentioned in https://github.com/mozilla/addons-frontend/pull/4469#discussion_r175101891, our `Rating` component is often in need of `margin-left: -3px` which seems like a code smell. I think it's from its original placement requiring some margin and every other component overriding that behaviour.

[2018-03-16 15:15] tofumatt commented on #4284
`/user/:username/` is now ready and should be enabled **on `-dev` only** for now 😄

[2018-03-16 16:30] #4283 closed

[2018-03-16 16:59] kumar303 opened #4574 "Use new collection add-on modifier on add-on detail page"
We have a new API helper to create/update collection add-ons (https://github.com/mozilla/addons-frontend/issues/4567). The `Addon` component should use this for the dropdown that lets you add an add-on to a collection.

**QA**, please check regressions around this feature:
* Sign in
* Create a collection
* Go to any add-on detail page
* Add the add-on to a collection using the dropdown menu:

<img

[2018-03-16 17:13] kumar303 opened #4576 "Create a saga to create/update collection add-ons"
In https://github.com/mozilla/addons-frontend/issues/4004 we need a screen that lets the user edit the add-ons in a collection.

We currently have a saga that lets us *create* collection add-ons. We need a new saga that lets us both create and update.

**QA**, please check regressions around this feature:
* Sign in
* Create a collection
* Go to any add-on detail page
* Add the add-on to a collecti

[2018-03-16 17:25] kumar303 commented on #4576
See https://github.com/mozilla/addons-frontend/pull/4534 for an example of how to create a single modifier saga for two create and update actions.

[2018-03-16 19:36] kumar303 commented on #4193
Here's an idea for what the state change should look like:

[code]

[2018-03-16 20:57] #4530 closed

[2018-03-16 22:18] kumar303 opened #4577 "Delete an add-on from a collection"
Tracker: https://github.com/mozilla/addons-frontend/issues/2782

A user should be able to:

- Sign in
- View an existing collection that they created
- Edit the collection (which opens the overlay)
- Delete an add-on from the collection

[2018-03-16 22:19] kumar303 opened #4578 "Edit comments about an add-on in a collection"
Tracker: https://github.com/mozilla/addons-frontend/issues/2782

A user should be able to:

- Sign in
- View an existing collection that they created
- Edit the collection (which opens the overlay)
- Add/edit comments about an add-on in the collection

[2018-03-16 22:21] kumar303 commented on #4004
I split out https://github.com/mozilla/addons-frontend/issues/4577 (deleting add-ons) and https://github.com/mozilla/addons-frontend/issues/4578 (editing comments) since those are pretty big.

[2018-03-16 22:24] kumar303 opened #4579 "Add styles to view add-ons within the collection editor"
As an initial step towards adding add-ons (https://github.com/mozilla/addons-frontend/issues/4590), deleting add-ons (https://github.com/mozilla/addons-frontend/issues/4577), and editing comments (https://github.com/mozilla/addons-frontend/issues/4578), we need to see the add-ons in a collection.

This will just implement styles for collection add-ons, without any functionality.

Here are some not

[2018-03-16 22:25] kumar303 commented on #4004
Styles for view add-ons within the collection editor: https://github.com/mozilla/addons-frontend/issues/4579

[2018-03-16 22:37] kumar303 commented on #4379
This will probably be addressed by https://github.com/mozilla/addons-frontend/issues/4258

[2018-03-16 22:39] kumar303 commented on #4312
We will address this in https://github.com/mozilla/addons-frontend/issues/3993 so I'm dupe'ing it to that one.

[2018-03-16 22:39] #4312 closed

[2018-03-16 22:41] kumar303 commented on #4311
This is the legacy site. We will be rebuilding this screen in https://github.com/mozilla/addons-frontend/issues/4003

[2018-03-16 22:41] #4311 closed

[2018-03-16 22:54] bqbn commented on #4284
@tofumatt what regex would you recommend we use to match `:username`?

For example, we use https://github.com/mozilla/addons-server/blob/master/src/olympia/addons/urls.py#L9 to match `addon_id`.

We try as much as possible to keep consistent with the application.

[2018-03-16 23:06] tofumatt commented on #4284
Whatever the old app used to match usernames would work I guess. Seems like it's here: https://github.com/mozilla/addons-server/blob/master/src/olympia/users/urls.py#L7

I think usernames are largely alphanumeric with dashes, but they can probably have other characters too. I'm not sure if the Django regex is overly generous in terms of characters but you can use it if that works.

[2018-03-17 00:20] bqbn commented on #4284
`/user/:username/` is now on mobile. 😄

[2018-03-17 19:23] FatOrangutan opened #4581 "Some permission icons have jagged edges or are blurry and show differently on Firefox vs Edge"
### Describe the problem and steps to reproduce it:
Visit https://addons-dev.allizom.org/en-US/firefox/addon/all-of-the-permissions2/ in vanilla Firefox Nightly and in Edge.

### What happened?
[Click for uncompressed screenshot](https://i.cubeupload.com/JnScPM.png) Edit: [alternative link](https://i.lensdump.com/i/8ToROT.png)
Most icons, especially those for 'clear recent history,' 'read the text

[2018-03-17 19:42] FatOrangutan commented on #4581
Another issue:

STR: Whether in Firefox or in Edge, resize the browser window (at least horizontally) such that some permissions now run over two lines.

AR:

Edge:
![edge](https://user-images.githubusercontent.com/8336638/37559242-68be18a0-2a48-11e8-853d-79f510c09581.PNG)
Firefox: (icon should be 24x24 but is deformed)
![20 9px](https://user-images.githubusercontent.com/8336638/37559285-4b562126-

[2018-03-17 23:50] a-one-d-one commented on #4287
Hi again,

I believe I have solved this issue but I am newly introduced to testing. I was wondering if I could get some help in resolving them. It is a expecting a string for ratings but because it is now using a link to direct to reviews page it is failing the tests. I have added the following image:

![screen shot 2018-03-17 at 7 47 08 pm](https://user-images.githubusercontent.com/12375686/37561

[2018-03-18 17:29] jrbenny35 opened #4582 "addons-frontend docker image fails to build."
The integration-test job on addons-server are [failing](https://circleci.com/gh/mozilla/addons-server)

Trying to run the steps locally results in the log below.

[code]

[2018-03-18 18:08] decembre commented on #4331
Here a screentshot of  the add to collection process inb old AMO design.
It is tweaked by a perso Usertyle:
https://userstyles.org/styles/92268/mozilla-addon-widescreen-v-66
but it show what i need  in the NEW design:
- A mark for collection where the addon is already
- Possibility to delete the addon from a collection
- Icon to go to any collection directly

![amo - collection - old - for request

[2018-03-19 04:01] lennon101 opened #4583 "add on not found via cash rewards link"
### Describe the problem and steps to reproduce it:

### What happened?
Opened the following link: https://addons.mozilla.org/en-US/firefox/addon/cashrewards/
I was directed from: http://join.cashrewards.com.au/
Instead I was given a file not found: "Sorry, but we can't find anything at the address you entered."

### What did you expect to happen?
I expected the link to reveal the add-on

### Anyt

[2018-03-19 09:45] tofumatt commented on #4583
https://addons.mozilla.org/en-US/firefox/addon/cashrewards/ displays fine for me:

<img width="1187" alt="screenshot 2018-03-19 09 45 26" src="https://user-images.githubusercontent.com/90871/37588499-4bbbde14-2b5a-11e8-9155-23bcfc7560d3.png">

[2018-03-19 09:45] #4583 closed

[2018-03-19 10:13] vcarciu opened #4584 "Long description is not truncated in user info card"
Steps to reproduce:
1.Log in to AMO-dev
2.Be sure that you have a long description in user profile
3.From username drop-down menu, chose view profile

Expected results:
The description is truncated and we should have a "View more" button

Actual results:
The description is not truncated and users cannot see complete description

NOTES:
Reproducible also if the homepage is a long address (edge case

[2018-03-19 10:45] ioanarusiczki opened #4585 "Send abuse report should not work for self reporting"
STR:
1. Load AMO dev and log in with an account that has no admin rights.
2. From View Profile click on report this user for abuse.
3. Type some text and send it.

Expected results:
A message that user cannot report himself for abuse is displayed.

Actual results:
The abuse report is sent.

Notes:
This issue is reproducible on AMO dev with FF59 (Win10).

![self reporting](https://user-images.githu

[2018-03-19 10:47] tofumatt commented on #4585
I'm happy to hide the abuse report for the existing user... but @diox: shouldn't the API not allow this? I would have expected an error from the API... but I'm happy to hide the button for the existing, non-admin user.

[2018-03-19 13:38] diox commented on #3445
Is this technically a dupe of https://github.com/mozilla/addons-frontend/issues/3021 ?

[2018-03-19 13:40] diox commented on #2911
#2888 implemented the compatibility rules with strict compatibility etc a while back.

What the frontend is still missing though is the link to download the add-on anyway or see older versions. This is better tracked in #3021 though.

[2018-03-19 13:41] diox commented on #3252
FWIW in the API, the default sort is relevance if there is a query, or downloads if there isn't.

[2018-03-19 13:44] diox commented on #4425
https://github.com/mozilla/addons-server/issues/6804 made the API expose the previews through the `previews` property on the addon transparently, so there are no changes to make on the frontend side.

[2018-03-19 13:44] #4425 closed

[2018-03-19 13:48] diox commented on #4499
It's a fairly low priority issue (if a developer wants to mess up with their own listing, that's their prerogative) but there should probably be a limit on the server side, yes. @vcarciu could you file a bug for this in addons-server ?

[2018-03-19 13:49] diox commented on #4585
I... don't see the harm of letting users self-report themselves. I guess you could hide the button if you care :)

[2018-03-19 14:04] ioanarusiczki opened #4586 "User profile page for a previous account is still displayed after you log in with another account"
Prerequisites:
- accounts must have at least one submitted ad-on for testing

STR:
1. Load AMO dev and click on View Profile.
2. After the page is displayed click on log out from the drop down menu.
3. Click on Use a different account and log in.
4. Observe the user profile page.

Expected result:
User profile page is displayed for the second account.

Actual result:
The previous user profile page

[2018-03-19 14:43] tofumatt commented on #4585
Fair point. We'll take care of it on the frontend but it's not high priority.

[2018-03-19 14:44] ioanarusiczki opened #4587 "The user profile card does not show the avarage rating for developers with rated add-ons"
Prerequisites:
- 2 accounts with submitted add-ons

STR:
1. Load AMO dev and rate with one of your accounts the add-ons submitted for the second account
2. Check for your second account the avarage rating stars on the User profile info card
3. Log in with the second account and check the avarage ratings starts section

Expected results:
Average rating of developer’s add-ons is displayed with dark

[2018-03-19 15:07] ioanarusiczki commented on #4283
1. I filed the following issues for what I've noticed during testing
https://github.com/mozilla/addons-frontend/issues/4585
https://github.com/mozilla/addons-frontend/issues/4586
https://github.com/mozilla/addons-frontend/issues/4587
2. The checkboxes for The Add-on's developer Theme artist are not displayed yet - is this tracked already or should I file an issue?
3. The avarage rating stars are g

[2018-03-19 15:52] mliiv opened #4589 "Estonian ID Card PKCS11 module loader"
### Describe the problem and steps to reproduce it:

Estonian ID Card PKCS11 module loader - link in google exists but empty when opened.

### What happened?

### What did you expect to happen?

### Anything else we should know?

Cannot find the extension anywhere.

[2018-03-19 18:03] tofumatt commented on #4283
1. Thanks!
2. I don't know what you mean but I think you can file an issue. It's always best to do that and we can close it if it's not relevant 😄
3. The rating stars should always be grey on the profile. Yellow rating stars are for exact ratings the current user has left; the ratings stars on the profile page are an average.
4. On the new site (or anything using the API) user profiles are hidden

[2018-03-19 18:07] tofumatt commented on #4586
This is the intended behaviour; after you log in you are redirected to the last page you were on, so this is the right behaviour.

[2018-03-19 18:07] #4586 closed

[2018-03-19 19:25] pwalm commented on #4283
3. Thank you @tofumatt

[2018-03-19 20:17] kumar303 opened #4590 "Add an add-on to a collection from the edit screen"
Tracker: https://github.com/mozilla/addons-frontend/issues/2782

A user should be able to:

- Sign in
- View an existing collection that they created
- Click *Edit collection* to open the editor overlay
- Type the name of a new add-on in the search box and select a result from the list to add it to the collection

[2018-03-19 20:49] jrbenny35 opened #4592 "Update postcss-loader usage and config"
According to their recent [release](https://github.com/postcss/postcss-loader/compare/v2.1.1...v2.1.2) the devs seem to be patching an unsupported usage of ```options``` within the ```webpack``` config. You can see this [here](https://github.com/postcss/postcss-loader/pull/346).

We should update our ```webpack-common.js``` to support this change. A [PR](https://github.com/mozilla/addons-frontend/

[2018-03-19 20:54] jrbenny35 opened #4593 "Unit tests did not catch breaking change from dependency update."
A breaking change was introduced [here](https://github.com/postcss/postcss-loader/pull/346) but it seems the unit tests run on travisci did not catch the build failure. The integration-tests run on circleci for both[addons-frontend](https://circleci.com/gh/mozilla/addons-frontend/6712) and [addons-server](https://circleci.com/gh/mozilla/addons-server) have been failing due to this update.

We shou

[2018-03-19 21:56] jrbenny35 opened #4594 "Docker builds on circleci should not be pushed without testing"
It seems our docker builds get pushed to dev whether they work or not. The current circleci configuration does not test that the docker image built actually works. It simply builds, and if the build is successful, it will push to docker hub and, in turn, to dev.

We could run the new functional/integration tests after a successful build to check that the image is working correctly, or we could sim

[2018-03-19 22:31] kumar303 commented on #4593
It was a webpack failure, see https://github.com/mozilla/addons-frontend/issues/4582

The unit tests should definitely catch this. I haven't looked into why they didn't but since we did not get a failing greenkeeper PR for the `postcss-loader` update, I suspect they didn't catch it.

[2018-03-19 23:44] caitmuenster commented on #2756
Hey @jvillalobos, is there any way this could be covered in Q2? This would make my job a lot easier. :)

[2018-03-20 09:24] ioanarusiczki opened #4595 "The text box is not triggered for ratings after request was throttled message appeared"
STR:
1. Load AMO dev and open an add-on details page.
2. Click once on the rating stars. Try to rate an add-on until the request was throttled message appears.
3. Wait until the time mentioned in the message expires and click once on a star again.
4. Observe the screen.

Expected result:
The rating text box is opened.

Actual result:
The text box is not triggered when the star is clicked.

Notes:

[2018-03-20 12:22] ioanarusiczki opened #4596 "A .jpg photo with portrait orientation is not correctly displayed on User profile info card and for the add-on screenshot section"
STR:
1.  Load AMO dev and go to Edit profile page.
2. Upload a .jpg photo of any size that has less than 4 MB and has a portrait orientation. Observe it's display after photo is selected from folder.
3. Update account and click on View Profile.
5. View the image saved.

Expected results:
The image is displayed in portrait orientation.

Actual results:
The image is displayed in landscape view.

Not

[2018-03-20 13:15] ioanarusiczki opened #4598 "The profile picture thumbnail looks squashed on the user info's card"
STR:
1. Load AMO dev and go to Edit profile.
2. Select some photo samples for the profile photo. I used some .jpg and .png samples with normal sizes and dimensions.
3. Click update account and then go to My Profile.

Expected result:
The profile picture thumbnail looks alright.

Actual result:
The profile picture thumbnail is squashed.

Notes:
This issue is reproducible on AMO dev with FF59 (Win10

[2018-03-20 13:35] tofumatt commented on #4589
Closing due to lack of information. It sounds like the extension you're looking for was removed, which makes sense because I recall this add-on being incompatible with the WebExtensions API.

Please add information to your issue including the error you encountered, a URL (if applicable), and steps to reproduce.

[2018-03-20 13:35] #4589 closed

[2018-03-20 13:40] ioanarusiczki opened #4599 "Add-ons developer and Theme artist options are not available on the user's info card"
As a followup for #4283
STR:
1. Load AMO dev and click on View Profile.
2. Check if Add-ons developer and Theme Artist are present on the right upper part of the card as in [here](https://user-images.githubusercontent.com/90871/35629616-fcb243f4-0696-11e8-8b0b-024e96ec04cd.png)

Expected result:
The check boxes and the two options are present.

Actual result:
The two options are not displayed.

No

[2018-03-20 13:49] ioanarusiczki commented on #4283
@tofumatt Thanks ! I filed #4599 and #4598.
 This is verified fixed on AMO dev with FF59 (Win10).

[2018-03-20 13:55] tofumatt commented on #4599
Those are not checkboxes; they're placeholder icons that would accompany each descriptor. 😄

[2018-03-20 14:09] #4574 closed

[2018-03-20 14:53] ioanarusiczki commented on #4562
Verified on AMO dev with FF59 (Win10 and Android 8.0). No style regressions observed.

[2018-03-20 15:18] #4579 closed

[2018-03-20 15:25] ioanarusiczki commented on #4599
@tofumatt @my bad ! Yes, you cannot check or uncheck those! I hurried to describe them.

[2018-03-20 16:24] tofumatt opened #4602 "Reset userId in addonsByAuthors reducer (or remove it)"
The `byUserId` portion of the `addonsByAuthors` reducer isn't 100% implemented because we only pass usernames and not entire user objects to the actions that fetch add-ons by user.

See: https://github.com/mozilla/addons-frontend/pull/4571#discussion_r175822983

[2018-03-20 16:28] ioanarusiczki commented on #4574
I made some tests on AMO dev with FF59 (Win10) - no regressions found. I'm marking this as verified fixed.

[2018-03-20 16:46] #4556 closed

[2018-03-20 17:54] devaneymoz opened #4603 "29 March homepage content programming update"
Please find all homepage programming changes reflected in this doc:

https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#

Thank you!

[2018-03-20 18:19] kumar303 opened #4604 "Tags are no longer auto-deploying to stage"
When we tag `addons-frontend` on Tuesdays, the tag is automatically deployed to stage via CircleCI. It loks like https://github.com/mozilla/addons-frontend/pull/4546 somehow broke this. We are going to revert it to restore stage. We should put the CircleCI update patch back when we can figure out the issue.

[2018-03-20 18:30] kumar303 commented on #4604
Maybe the [`only: master`](https://github.com/mozilla/addons-frontend/pull/4546/files#diff-1d37e48f9ceff6d8030570cd36286a61R87) filter is preventing the tag from deploying? Also, it looks like [`circle.yml`](https://github.com/mozilla/addons-server/blob/master/circle.yml) file for `addons-server` was not renamed. Was it necessary to rename it?

[2018-03-20 18:31] kumar303 commented on #4544
It looks like this accidentally broke stage deploys. See https://github.com/mozilla/addons-frontend/issues/4604

[2018-03-20 18:31] jrbenny35 commented on #4604
Wait, what is happening? I see a tag AFTER the revert to V1

[2018-03-20 18:39] jrbenny35 commented on #4604
Looks like we just need to add
[code]

[2018-03-20 18:42] tofumatt commented on #4604
Our deploy tags fit a predictable and well-defined format, so if we can be more specific `/\d{4}\.\d{2}\.\d{2}/` might work and prevent accidental tags from being pushed... if we want that 🤷‍♂️

[2018-03-20 18:51] jrbenny35 commented on #4604
I think the name change is just more in line with what circleci suggests.

[2018-03-20 20:51] #4604 closed

[2018-03-20 21:08] piotrdrag opened #4609 "Untranslatable strings — missing plurals"
“Access your data in %(count)s other domains” in src/amo/components/PermissionsCard/permissions.js:60 and “Access your data on %(count)s other sites” in src/amo/components/PermissionsCard/permissions.js:74 need to be correctly pluralized.

CCing @peiying2

[2018-03-21 00:31] grahamperrin opened #4610 "add-on services: Tier-3 platform BSD equivalence to Tier-1 Linux"
https://github.com/mozilla/addons-frontend/pull/3575 (Give XPIs to all Linux/Unix users) (2017-10-20) fixed:

- [Cannot install add-on if it supports multiple platforms · Issue #2998 …](https://github.com/mozilla/addons-frontend/issues/2998)
- [AMO: Tier-3 platform BSD equivalence to Tier-1 Linux for new front-end purposes · Issue #3513 …](https://github.com/mozilla/addons-frontend/issues/3513)

A

[2018-03-21 10:45] ioanarusiczki commented on #4425
I filed https://github.com/mozilla/addons-server/issues/7866 and https://github.com/mozilla/addons-server/issues/7868 for what I've noticed during testing.
This issue is verified fixed on AMO dev with FF59 (Win10).

[2018-03-21 12:00] vcarciu commented on #4556
@tofumatt  : Can you please add some STRs to this issue or mark it as "qa: not needed" ?

[2018-03-21 12:55] AlexandraMoga opened #4612 "Add-on name is overlapping the add-on icon in edit Collection form"
Follow up for #4579

STR:

1. Log in to AMO dev and select "My Collections' from the user menu
2. Choose one collection to view it's details page
3. Click on Edit Collection link
4. In the edit collection form, observe the add-ons listed in your collection

Actual result:
Add-on name is overlapping the add-on icon

Expected result:
There is proper spacing between add-on name and add-on icon

Notes

[2018-03-21 13:02] ioanarusiczki commented on #4586
@tofumatt Yes, it is not a bug it's invalid. Thanks, at least I understood it now.
 I re-tested with an account that has 0 add-ons submitted logged out then logged back in with an account that has no admin rights. Page not found loads  - it is expected to work that way.

[2018-03-21 13:14] TonnesM opened #4613 "Do not hardcode en-US in "Learn more about permissions" link"
In issue #2757, a "Learn more about permissions" support link was added which includes /en-US/, so all locales redirect to the en-US article. Please remember to _never_ include /en-US/ in support links.

The link should use https://support.mozilla.org/kb/permission-request-messages-firefox-extensions instead to make it redirect to and display localized versions based on the browser locale.

https:

[2018-03-21 13:18] AlexandraMoga opened #4614 "The number of add-ons from edit Collection form matches only the number included in the active collection page"
Follow up for #4579

STR:

Prerequisites: you need to have a collection with more than 25 add-ons included

1, Log in to AMO-dev and select a collection with more than 25 add-ons
(i.e. https://addons-dev.allizom.org/en-US/firefox/collections/AlexandraMoga1/friday-afternoon/)
2. In the collection details, click on Edit collection link
3. Count the add-ons displayed in the edit collection form

Actu

[2018-03-21 13:52] tofumatt commented on #4613
Thanks for catching this! Some Mozilla sites actually won't redirect properly (and will 404 without a locale) so I think occasionally we get mixed up as to what we should do. In this case you're right though 👍

[2018-03-21 13:53] tofumatt commented on #4613
Fixed by #4615.

[2018-03-21 13:53] #4613 closed

[2018-03-21 13:58] AlexandraMoga opened #4616 ""Save collection" from edit collection form generates a Server Error when a 'page' query is present in the URL"
Follow up for #4002 , #4579

STR:

1. Log in to AMO-dev and select a collection to view its details
2. Add a page query in the collection URL i.e. https://addons-dev.allizom.org/en-US/firefox/collections/AlexandraMoga1/friday-afternoon/?page=1
3. Click on Edit collection link
4. Make a modification (i.e. name, description) and click on 'Save Collection'

Actual result:
A server error is received a

[2018-03-21 14:05] AlexandraMoga commented on #4396
Update:

- keyboard navigation arrows (for scrolling up or down) are also not working inside the overlay; the background content is the one that moves:

![navig arrows](https://user-images.githubusercontent.com/31961530/37714201-a4c3af14-2d21-11e8-8799-87111eb3206b.gif)

[2018-03-21 14:23] AlexandraMoga opened #4617 "Search field in edit collection form has an action arrow with no functionality"
Follow up for #4579

STR:

1. Log in to AMO-dev and select a collection to view its details page (i.e. https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/bookmark-managers/)
2. Click on Edit collection link
3. In the edit collection dialog, look at the search field in the far right

Actual result:
There is an action arrow similar to the one from the AMO header search, but for collect

[2018-03-21 14:55] AlexandraMoga opened #4618 "Searching for add-ons inside the edit collection form is not working on Android in landscape mode"
STR:

1. Log in to AMO-dev on an Android device
2. Select a collection to view it's details page (i.e. https://addons-dev.allizom.org/en-US/android/collections/mozilla/ad-blockers/)
3. Turn your device in landscape mode and click on Edit collection
4. Tap on the search field inside the edit collection form and try to search for add-ons

Actual result:
The search field and other elements will disap

[2018-03-21 15:01] ioanarusiczki opened #4619 "View profile should not display the new user profile info card on AMO stage"
STR:
1. Load AMO stage https://addons.allizom.org/en-US/firefox/ and click on the View Profile from the drop down menu.
2. Observe the page.

Expected result:
The old profile page is loaded as in [here](https://addons.allizom.org/en-US/firefox/user/Ioana-Testing_Stage/)

Actual result:
The new user profile info card is displayed.

Notes:
This issue is reproducible on AMO stage with FF59 (Win10).
T

[2018-03-21 15:07] AlexandraMoga commented on #4579
Verified on AMO-dev, with FF59 Win10x64 and Android 7.0

Working:
- the edit collection form will display the add-ons that are part of the collection
- add-ons will include icons and names
- a search field that allows searching for add-ons is present
- search results are will show add-ons according to the searched term used (similar to AMO search)

For the rest of the issues found during testing,

[2018-03-21 15:39] #4619 closed

[2018-03-21 16:09] kumar303 commented on #4004
This was just too massive so I split it apart (see the updated description).

[2018-03-21 16:09] #4004 closed

[2018-03-21 17:08] tofumatt opened #4621 "Abstract out "add-ons by authors" card to use in UserProfile"
We currently don't have a reusable card that can show an `AddonsCard` based on a username or list or usernames. I have one nearly ready that we can use to easily add cards to UserProfile for #4280 and #4281.

[2018-03-21 17:13] kumar303 commented on #4617
I may have forgotten to mention this in the styling issue but the arrow will be fixed in https://github.com/mozilla/addons-frontend/issues/4590

[2018-03-21 19:45] kumar303 opened #4623 "Edit collections on the detail view without an overlay"
The edit collection screen (https://github.com/mozilla/addons-frontend/issues/4579) is currently shown in a full screen overlay. After discussing it with @tofumatt, we think it would be better to re-use the existing collection detail view ([example](https://addons.mozilla.org/en-US/firefox/collections/mozilla/good-time-tabs/)) for editing collections.

For QA:
* sign in
* create a collection
* vie

[2018-03-21 19:46] kumar303 commented on #4614
Ah, whoops, good catch. I think this overlay isn't going to work at all (there are other reasons). I'm going to move it to a different view in https://github.com/mozilla/addons-frontend/issues/4623

Because this bug won't apply to the new view, I'm closing it.

[2018-03-21 19:46] #4614 closed

[2018-03-21 19:49] kumar303 commented on #4612
Huh. Weird. It didn't look like this for me. Anyway, this screen has a lot of problems which are more apparent once I started using it.

I'm going to move it to a different screen in https://github.com/mozilla/addons-frontend/issues/4623

[2018-03-21 19:49] #4612 closed

[2018-03-21 19:52] kumar303 commented on #4616
That's interesting. I'll leave this open so we can see if it still happens after https://github.com/mozilla/addons-frontend/issues/4623

Here is the error again for safe keeping

<details>
<summary>Console</summary>

[code]
</details>

[2018-03-21 20:23] kumar303 opened #4624 "Use a SearchResultAddonType for search results"
As a follow-up to https://github.com/mozilla/addons-frontend/issues/4556, we should define the correct type of add-on that we get from the API to avoid confusion. This has caused bugs in the past. Using a more accurate type will help us remember not to rely on non-existent fields. The type is not documented but you can see https://github.com/mozilla/addons-server/issues/7856 for details.

[2018-03-21 20:35] kumar303 commented on #2435
This was fixed in https://github.com/mozilla/addons-frontend/issues/2573 . I was able to verify it just now. Let me know if anyone can still reproduce the bug.

We definitely need to be careful about this data type in the future. I filed https://github.com/mozilla/addons-frontend/issues/4624 to help.

[2018-03-21 20:35] #2435 closed

[2018-03-21 21:33] willdurand commented on #3734
I stumbled upon this [react-router documentation section about code splitting](https://reacttraining.com/react-router/web/guides/code-splitting), but I am not sure this project uses the latest version of that lib.

[2018-03-22 08:40] ioanarusiczki commented on #4619
Verified fixed on AMO stage with FF59 (Win10).
![old view](https://user-images.githubusercontent.com/33448286/37759770-4e260570-2dbd-11e8-90eb-2b59b58a58ba.gif)

[2018-03-22 10:27] ioanarusiczki commented on #2435
Verified this issue on AMO dev and AMO stage with FF59 (Win10) and it is no longer reproducible.

![licence](https://user-images.githubusercontent.com/33448286/37765234-57cbd1ae-2dcc-11e8-9db5-216ef1b1fbe4.gif)

[2018-03-22 11:30] AlexandraMoga opened #4626 "No spacing between 'featured' badge and theme preview in Theme details page"
Follow up for #4520

STR:

1. Log in to AMO and select a featured theme to view it's details page (i.e. https://addons.allizom.org/en-GB/firefox/addon/dew-on-spider-web/?src=featured)
2. Observe the position of the featured label

Actual result:
There is no spacing between the featured badge and theme preview

Expected result:
Some space should be present between the featured badge and the theme p

[2018-03-22 13:12] AlexandraMoga commented on #4065
@aswan I see that this issue applies now to all platforms, not just linux.
Here is how it looks for Windows (10x64) and Mac (High Sierra Version 10.13.3)

[1] **Windows (10x64)**
![image](https://user-images.githubusercontent.com/31961530/37772371-163de404-2de3-11e8-812a-5081011e4bc2.png)

[2] **macOS High Sierra Version 10.13.3**

![image](https://user-images.githubusercontent.com/31961530/377724

[2018-03-22 14:25] #4624 closed

[2018-03-22 14:38] tofumatt commented on #4520
We chatted about this on IRC and I think the layout has changed enough to call this closed. The rest of the layout and sizing issues are site-wide and can be addressed in a separate issue.

[2018-03-22 14:38] #4520 closed

[2018-03-22 14:39] vcarciu commented on #4520
Thanks @tofumatt
I will mark this as verified since the other issues found were logged as separate bugs.

[2018-03-22 14:43] kumar303 commented on #4396
Ah, this isn't good. We are removing the overlay in https://github.com/mozilla/addons-frontend/issues/4623

[2018-03-22 14:43] #4396 closed

[2018-03-22 14:59] kumar303 commented on #3021
Dup'ing to https://github.com/mozilla/addons-frontend/issues/3445 because it explains more scenarios that would cause a user to end up in this state

[2018-03-22 14:59] #3021 closed

[2018-03-22 15:01] kumar303 commented on #3445
The UX for this should be straight forward. We can add a *Download Anyway* action button to the error notice that looks like *Retry* in the [spec](https://design.firefox.com/photon/components/message-bars.html#error).

[2018-03-22 15:02] kumar303 commented on #3445
Indeed. I kept this one open because it explains more of the scenarios that could lead to the experience.

[2018-03-22 15:14] Thorin-Oakenpants commented on #3445
With regards to `privacy.resistFingerprinting` listed in OP, the bugzilla is [1394448](https://bugzilla.mozilla.org/show_bug.cgi?id=1394448) and is being worked on

Note: you can *still* install extensions: right click the `+ Add to Firefox` button and open in a new tab

[2018-03-22 17:58] vcarciu opened #4627 "Cannot login to AMO"
Steps to reproduce:
1.Try to login to AMO , with any account

Expected results:
Users are logged without problems

Actual results:
Server error encountered

NOTES:
Started to be reproducible right now, not an old issue

[2018-03-22 17:59] EnTeQuAk commented on #4627
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/3365259/

[2018-03-22 19:22] kumar303 commented on #4627
I can log in just fine on dev, stage, and prod. Can you provide more details? What page did you start from?

[2018-03-22 19:28] diox commented on #4627
Fixed in https://github.com/mozilla/addons-server/commit/be2425e4462e2a7e2f298cd9930f15e7b76343fb

See https://github.com/mozilla/addons-server/issues/7822#issuecomment-375404267

[2018-03-22 19:28] #4627 closed

[2018-03-23 08:35] ioanarusiczki commented on #4456
This issue is tracked with https://github.com/mozilla/addons-frontend/issues/3601
This is a dupe.

[2018-03-23 08:36] #4456 closed

[2018-03-23 09:38] tofumatt commented on #4598
Ah, I see. It might be better to file a new issue then as the STR are a bit different, thanks for catching that!

- Matthew Riley MacPherson
tofumatt.com

[2018-03-23 10:04] ioanarusiczki opened #4629 "Portrait orientend thumbnails look squashed on the user info's card"
As a followup for https://github.com/mozilla/addons-frontend/issues/4598

STR:
1. Load AMO dev and go to Edit profile.
2. Choose a .png sample with portrait orientation (.jpg won't work for now because of #4596 )
3. Click update account and then go to My Profile.

Expected result:
The profile picture thumbnail looks alright.

Actual result:
The profile picture thumbnail is squashed.

Notes:
This i

[2018-03-23 10:09] ioanarusiczki commented on #4598
@tofumatt Done! it's here https://github.com/mozilla/addons-frontend/issues/4629
Verified fixed on AMO dev with FF59 (Win10).

[2018-03-23 11:57] vcarciu commented on #4627
Verified as fixed yesterday.

[2018-03-23 14:26] ioanarusiczki opened #4630 "Submit review button should be visible without scrolling on Android"
Prerequisites:
User is logged in.

STR:
1. Load AMO stage and go to an add-ons detail page to write a review.
2. Write a text in the box and click on the Submit review.
3. Check for the Submit review button.

Expected results:
The button is visible.

Actual results:
The Submit Review button is not visible unless scrolling.

Notes:
This issue is reproducible on all AMO servers with FF59 (Android 8.

[2018-03-23 15:10] kumar303 opened #4631 "Open/Close AutoSearchInput dropdown with Redux state"
The [AutoSearchInput](https://github.com/mozilla/addons-frontend/blob/dd0afb33cac75326dd0cceb8a19ec5bf9b85bd67/src/amo/components/AutoSearchInput/index.js) component does `setState({ autocompleteIsOpen: true | false })`. It should use Redux state instead so that we can use the [Redux development tool](http://extension.remotedev.io/) to work on this component. Beware that `setState({ searchValue: '

[2018-03-23 15:19] kumar303 commented on #4630
I think https://github.com/mozilla/addons-frontend/issues/3636 will address this issue

[2018-03-23 15:32] willdurand commented on #4631
To me, this logic (open/close) belongs to the component because it is a pure UI piece of information.

[2018-03-23 15:35] tofumatt commented on #4631
I was thinking that when commenting/talking to @SeanPrashad but wasn't 100% sure and was admittedly half-occupied with other stuff 😅

Also given it already needs to use `setState` I think it's okay to leave out of Redux. The devtools are handy but we already don't store absolutely everything in Redux (usually in cases like this) so I think it's okay to not store it here either.

[2018-03-23 15:37] willdurand commented on #4631
The React devtools allows to (easily) toggle boolean attributes in the state (with a checkbox). I often have the React panel with the component I am working on selected.

[2018-03-23 15:54] willdurand commented on #4631
Redux is not a drop-in replacement for React state. And, Redux is useful to manage the app state,  that is the data, not the UI stuff like "is this dropdown open/closed?". https://redux.js.org/faq/organizing-state#organizing-state-only-redux-state

[2018-03-23 15:54] kumar303 commented on #4631
Before we converted the [open/close overlay state change](https://github.com/mozilla/addons-frontend/issues/3222) to Redux, it was not possible at all to develop one of those screens with Redux tools. Why break the tools? They are super helpful.

There are several open bugs filed by QA that no one else can reproduce. Imagine if we could just download a stack of actions and replay them? Life would

[2018-03-23 15:59] kumar303 commented on #4631
Maybe I'm misunderstanding but the [link](https://redux.js.org/faq/organizing-state#organizing-state-only-redux-state) you posted completely reinforces my point.

YES; immense value. If we *do not* agree that this is valuable then we shouldn't be using Redux at all! Redux definitely adds overhead to the initial development process but once it's there you can edit and refactor it quite easily.

[2018-03-23 16:17] willdurand commented on #4631
You picked one point out of 5, the 4 others don't really go into your direction. Anyway, I understand what you mean (and did not see your previous comment before your last one). Yet, I don't think it is all or nothing.

I don't think we should be storing everything in redux and I don't think it is a "poor design choice" because only the component that renders the dropdown should know about whether

[2018-03-23 16:34] kumar303 commented on #4631
I'll clarify what I meant here. When considering the dropdown open/closed state I would indeed answer *no* to [all of these questions](https://redux.js.org/faq/organizing-state#organizing-state-only-redux-state) except this one: *Is there value to you in being able to restore this state to a given point in time?* Answering *yes* to that one question validates using Redux. If we don't use Redux the

[2018-03-23 16:48] willdurand commented on #4631
All of them seem abandoned.

Let's stick to what you've done in the `FormOverlay` component then, and see how it goes. Reverting to good old local state won't be that complicated if it turns out that it does not work as well as expected.

[2018-03-23 16:50] ioanarusiczki commented on #4389
Another scenario when navigation from dev hub to the add-on detail page is made
Click on View Listing for one of the submitted ad-ons from dev hub
Click Themes from the menu
Observe that both Explore and Themes are highlighted
While being in Themes click one to open it's detail page
Refresh page
Observe that explore remains highlighted

This is reproducible with Extensions tab too on AMO dev with

[2018-03-23 17:21] jvillalobos opened #4632 "Add admin and review links for add-on details page"
Broken off from #2756.
~~Depends on #5548~~

These links should appear in the "More Information" box, at the bottom of the "Add-on Links" section. The following links are needed:

* "Edit add-on". Goes to `/developers/addon/SLUG/edit`. Requires `Addons:Edit` permission to appear.
* "Admin add-on". Goes to `/admin/addon/manage/SLUG/`. Requires `AdminTools:View` permission to appear.
* "Content revi

[2018-03-23 17:26] jvillalobos commented on #4632
@caitmuenster This is still relatively low priority, but maybe you can lobby for someone to help you with it sooner than later.

[2018-03-23 17:49] pwalm opened #4633 "Change "Download Firefox" message bar from grey to green"
I'd rather we A/B test grey vs. green on the message bar, but since we can't let's just go with [the green style](https://design.firefox.com/photon/components/message-bars.html#color-2) for the "Download Firefox" prompt for non-Fx users.

<img width="641" alt="screen shot 2018-03-23 at 1 46 28 pm" src="https://user-images.githubusercontent.com/6797635/37845341-9ffef116-2ea0-11e8-9124-0498cc90d37e.

[2018-03-23 17:50] pwalm commented on #4633
To be extra clear, this one:
<img width="815" alt="screen shot 2018-03-23 at 1 50 03 pm" src="https://user-images.githubusercontent.com/6797635/37845506-2142e69c-2ea1-11e8-8f1f-c056c0689a5b.png">

[2018-03-23 20:51] #3070 closed

[2018-03-23 22:19] SeanPrashad commented on #4339
Hey everyone 👋🏽 I was hoping to take this on as my second bug in AMO's front-end and was just wondering if this patch would span **ALL** `<div>`/`<span>` tags within the project?

I don't think it's as easy as `Cmd` + `Shift` + `F` and replacing all occurrences but I might be wrong. Thanks!

[2018-03-23 22:30] tofumatt commented on #4339
Sadly it’s not as simple as a find/replace, but it's not *too* far off!

This patch will require looking through the components and finding instances where we're wrapping things in a tag simply because JSX requires it. It's probably a fair amount of manual judgment calls, but a good start *would* be to look for empty `<div>` and `<span>` tags with no attributes/props–chances are they're there simp

[2018-03-24 02:49] kumar303 opened #4635 "Form buttons are not disabled when saving a collection"
### Describe the problem and steps to reproduce it:

After https://github.com/mozilla/addons-frontend/issues/4623 lands...
- sign in
- create a collection
- view the collection
- click the edit button to see a form
- click the *Save Collection* button

### What happened?

While the form is saving the submit button is not disabled

### What did you expect to happen?

The submit button should be dis

[2018-03-24 05:26] tsl143 commented on #4629
@tofumatt , right now we have `width 100%` and `height: auto`, due to which if the height of image is greater than `64px` its cropped from bottom (not squashed). Isn't this desired behavior?

[2018-03-24 18:22] tofumatt commented on #4629
The issue describes the image as squashed so that's what I assumed it was. If that's incorrect and the image is cropped I personally think that's fine. If the image is very tall/wide and it's cropped one way I think that's better than a bunch of whitespace in a tiny version of the image.

If the image is cropped I think this can be closed as a won't fix because I think it's better than the alterna

[2018-03-24 18:22] #4629 closed

[2018-03-25 16:29] svitlana-galianova commented on #4633
Hi, I would like to help out with this issue

[2018-03-25 23:59] a-one-d-one commented on #4287
I have been trying to get around this testing to receive the expected values for the ratings, rating counts etc.. and have not been successful because the variables are now being wrapped by links. example :
[code]

the testing fails and this is the explanation :

[code]

I would appreciate any help in figuring out how retrieve the reviewCount value or some direction in re-writing the tests to acco

[2018-03-26 00:02] SeanPrashad commented on #4287
@tofumatt @a-one-d-one and I would appreciate your thoughts on what we should do next - since we've wrapped the `reviewCount` value inside a `<Link>`, we're unsure how to properly go about accessing the value

[2018-03-26 01:43] svitlana-galianova commented on #4626
Hello, I would like to help out with this one.

[2018-03-26 05:46] AlexandraMoga commented on #4389
This is similar to #3712

[2018-03-26 08:57] ioanarusiczki commented on #4630
@kumar303 I wanted to reference #3636 to this issue too. Thanks !

[2018-03-26 09:25] ioanarusiczki commented on #4629
@tofumatt Ok, I understand that heights above 64px will be cropped.

You said

Should I file an issue that when the image is selected for upload the edit profile page should display it cropped (as the correct preview of the thumbnail) ?

[2018-03-26 10:21] tofumatt commented on #4629
That page on addons server is going away so I think it’s fine to just leave it alone.

- Matt (Sent from mobile)

[2018-03-26 15:20] AlexandraMoga commented on #4613
Verified on AMO-dev with FF59, Win10x64

1. The permissions link is no longer hardcoded to /en-US/

![image](https://user-images.githubusercontent.com/31961530/37914839-d526c38c-3120-11e8-8c97-42b7486297b3.png)

2. even if the permissions link is not limited to /en-US/ anymore, when navigating to Permissions info page from AMO with a different locale, the permissions page will still be set to /en-

[2018-03-26 15:42] ioanarusiczki commented on #4633
Verified fixed on AMO dev using Chrome for Win10, Chrome for Android and Safari on iOS
The message is green. Download Firefox button is green too.

![message green](https://user-images.githubusercontent.com/33448286/37916696-31d7692a-3125-11e8-9535-3cde84909ff5.png)

![safari green message](https://user-images.githubusercontent.com/33448286/37916722-3ea33544-3125-11e8-8ecd-19da041798de.jpg)

![and

[2018-03-26 16:03] TonnesM commented on #4613
@AlexandraMoga This could occur when _en-US_ is set above _de_ in accepted languages (Options > Languages). There is no German version of the support article available at this point either, but you should see a warning in German for that when properly redirected, not the full en-US page. Also note some caching may be involved. When testing the link / button for my locale (nl), the Sumo redirect wo

[2018-03-26 19:44] #4293 closed

[2018-03-26 19:44] #4623 closed

[2018-03-26 20:56] rizkistd opened #4638 "https://indoxxi.tv/movie/dilan-1990-2018-ajzf/play"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-03-26 21:38] #4638 closed

[2018-03-27 01:57] SeanPrashad commented on #4585
Hey guys - I'll be happy to take this one on!

With some quick digging, I've found the chunk of code for generating the respective HTML [here](https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/ReportUserAbuse/index.js#L88). I also noticed that one of the properties for this component was a `user` and that each `user` has an [array of strings representing their account permi

[2018-03-27 03:58] rzkramdhani opened #4639 "download"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-03-27 06:04] AlexandraMoga commented on #4613
@TonnesM thanks for clarifying.
Retested after changing my language options and the redirection is happening as expected:

![lang perm](https://user-images.githubusercontent.com/31961530/37949510-b7a98218-319d-11e8-918f-d6d0f28b6487.gif)

[2018-03-27 07:34] #4639 closed

[2018-03-27 08:55] ioanarusiczki commented on #3070
The autocomplete is initiated when the third char is typed.
This issue is verified on AMO dev with FF59 (Win10).

Here's the new versus the old behavior
![autocomplete after n](https://user-images.githubusercontent.com/33448286/37956986-79b984cc-31b5-11e8-88ff-cc9c3b0fd82d.gif)

[2018-03-27 09:46] ioanarusiczki commented on #4293
@kumar303 Is the blocked label left there by mistake? I checked it and seems to be alright.

Verified fixed on AMO dev with FF59 (Win10)
When Edit my collection is clicked URL changes to https://addons-dev.allizom.org/en-US/firefox/collections/IoanaTestingDev/theMarch/edit/

![edit collection](https://user-images.githubusercontent.com/33448286/37959758-8600f1c8-31bc-11e8-8a37-fb106b026d54.gif)

[2018-03-27 11:52] bobsilverberg commented on #4293
I believe it was blocked on https://github.com/mozilla/addons-server/issues/7529, which has landed, so I think it was unblocked awhile ago. There was also a comment about not implementing this until the new collections feature is fully ready for stage and prod, and that *is not* the case, so we need to make sure that if the config flag is off we can still access the old edit screen. I guess that's

[2018-03-27 12:01] ioanarusiczki commented on #4293
@bobsilverberg Yes, I thought of checking this tomorrow on stage to make sure it won't be there.
I'll update this if something is wrong.
Thanks!

[2018-03-27 12:07] ioanarusiczki commented on #4623
I tested this issue on AMO dev with FF59(Win10).
The info card turns into a form which can be used to change the name, description and URL.
Editing the add-ons inside the collection or adding new add-ons don't work yet.

![edit collection testing new form](https://user-images.githubusercontent.com/33448286/37966061-eb6d5002-31cf-11e8-8331-b71e4a220384.gif)

[2018-03-27 14:06] bobsilverberg commented on #4635
Note that I have changed #4564 so that I am no longer removing the `collectionUpdates` state, but we still need to hook it up properly so that the state is updated when a collection has finished updating.

[2018-03-27 14:15] bobsilverberg opened #4640 "Enable collection access via id in the front end"
With https://github.com/mozilla/addons-server/issues/7529 landed, we are now able to have URLs that point to collections using the id rather than the slug. This is something that was requested to remove a [hack](https://github.com/mozilla/addons-frontend/blob/ceb360b6ab5358eee52baebca0f7d49202409f01/src/amo/sagas/collections.js#L197-L202) that is in place to address a race condition when a user sa

[2018-03-27 20:53] ryanfeeley opened #4642 "Increase the truncation limit of the About this extension description"
### Describe the problem and steps to reproduce it:
Viewing a [fantastic add-on](https://addons.mozilla.org/en-US/firefox/addon/facebook-container/) page, I noticed that the description was cut off far too early with the **Read more** link.

### What happened?
Well, what happened was the description was cut off way too early and the page was very imbalanced.

### What did you expect to happen?
I e

[2018-03-27 20:57] tofumatt commented on #4642
Agreed! There is an existing issue for this: #3787. Thanks for filing, but I'll close this one as a duplicate. 😄

[2018-03-27 20:57] #4642 closed

[2018-03-28 03:36] lilinsen0714 opened #4644 "http://funp.in/#"
### Describe the problem and steps to reproduce it:

### What happened?
I can't find the plugin in new version.
### What did you expect to happen?

### Anything else we should know?

[2018-03-28 05:20] #4644 closed

[2018-03-28 06:00] AlexandraMoga opened #4645 "Search suggestions list in edit collection form is showing only 4 add-ons and ends abruptly"
Follow up for #4623

STR:

1. Log in to AMO-dev and click on a collection to view its details page (i.e. https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/password-managers/)
2. Click on Edit collection option
3. In the search field, enter a search term
4. Observe the list with add-on suggestions

Actual result:
There are only 4 add-ons displayed and the list looks cut off

Expected

[2018-03-28 06:22] AlexandraMoga opened #4646 "Custom URL field in edit collection form has too little space reserved for the collection slug"
Follow up for #4623

STR:

1. Log in to AMO-dev and click on a collection to view its details page (i.e. https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/password-managers/)
2. Click on Edit collection option
3. Try to edit the collection slug in the Custom URL field

Actual result:
The space reserved for the collection slug is too narrow, making it a bit difficult to handle collec

[2018-03-28 06:43] AlexandraMoga opened #4647 "User is redirected to the legacy site when refreshing the page while editing a collection"
Follow up for #4293

STR:

1. Log in to AMO-dev and click on a collection to view its details page (i.e. https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/password-managers/)
2. Click on Edit collection option
3. Observe that the URL changes to `/collections/<username>/<collection-slug>/edit/`
4. Refresh the page

Actual result:
The legacy page for collection edit is displayed after

[2018-03-28 07:00] AlexandraMoga commented on #3822
Note that this is now also happening with search suggestion list inside the collection form. Maybe in this case the issue is more noticeable, as the suggestion list is occupying more screen size than AMO search suggestions.
To sum up the issue once more: if the user scrolls the page up and down by tapping inside the suggestion list, the list can't be dismissed anymore when tapping outside

![sugge

[2018-03-28 07:25] tofumatt commented on #4647
That implies that these routes are not enabled in nginx. @bqbn: are there nginx settings for `/collections/:username/:slug/` to point to the new front-end?

[2018-03-28 10:02] AlexandraMoga opened #4648 "The profile picture placeholder from the user info card is too small"
Follow up for #4283

Prerequisites: user has _not_ set a profile picture to their account

STR:

1. Log in to AMO-dev and select 'View profile' from the user menu
2. Observe the profile image in the user info card

Actual result:
The profile picture placeholder is much smaller than what is depicted in the [mocs](https://user-images.githubusercontent.com/90871/35629616-fcb243f4-0696-11e8-8b0b-024e9

[2018-03-28 10:59] muffinresearch commented on #4603
@devaneymoz no one saw this come in so it's not going to make the 29th push.

In future if you could give time-sensitive issues a `priority: p1` label (which means next release) and additionally make sure someone in the team is highlighted about it, it'll be more visible since we review p1s and p2s on a weekly basis.

[2018-03-28 11:20] muffinresearch commented on #4647
On the basis this is on -dev I'm marking as p3.

[2018-03-28 11:24] Ja-C opened #4649 "Want "Find Pdarent Folder To Return to Firefox"
### Describe the problem and steps to reproduce it:

### What happened? Can't find related bookmarks

### What did you expect to happen?

### Anything else we should know? I have thousands of bookmarks, but can no longer manage them.

[2018-03-28 11:48] bobsilverberg commented on #4647
I'm not really clear on how all this works, but I just wanted to point out, so it's not missed, that this is something we want working on dev, but we don't want the new screen on stage or prod yet. I assume nginx rules can be set up just for dev?

[2018-03-28 11:50] bobsilverberg commented on #4603
I was on PTO last week or I likley would have jumped on this, but in the future please feel free to tag me directly on these, @devaneymoz.

[2018-03-28 12:05] bobsilverberg opened #4650 "Form validations are not displaying correctly on the edit collection screen"
This is a follow-up to #4623.

STR:

1. sign in
2. create a collection
3. view the collection
4. click Edit collection underneath the collection info
5. Blank out both the collection name and slug
6. Click save
7. Observe a validation error for collection name
8. Enter a name but leave the slug blank

Expected:

The validation error for collection name should disappear and one for slug should appe

[2018-03-28 12:07] bobsilverberg commented on #4646
Marking as P3 because it really should be fixed before continuing with more work on the collections feature.

[2018-03-28 12:27] tofumatt commented on #4647
They can. We actually have rules for the user profile page that work like that already.

- Matthew Riley MacPherson
tofumatt.com

[2018-03-28 12:35] tofumatt commented on #4649
This is the issue tracker for the add-ons site and related projects, not for an add-on.

If you're having an issue with an add-on please contact the developer directly; you can find a link to their contact details on the add-on page on https://addons.mozilla.org/

[2018-03-28 12:35] #4649 closed

[2018-03-28 13:19] AlexandraMoga commented on #4650
@bobsilverberg not sure if you observed this scenario as well, but I'm sure it has the same root cause:

1. blank out the collection slug
2. click on Save Collection to generate the slug error
3. delete the collection name
4. write a new slug for your collection
5. click on Save Collection

**Actual:** the error related to the collection slug is still the one displayed
**Expected:** an error point

[2018-03-28 13:26] AlexandraMoga opened #4652 "Collection name can be left blank by entering only blank spaces in the Name field in the edit collection form"
Follow up for #4623

STR:

1, Log in to AMO dev and select 'View My Collections' from the user menu
2. Choose a collection to view its details page
3. Click on Edit collection underneath the collection info card
4. Edit the collection name by entering only blank spaces
5. Click on Save Collection

Actual result:
Collection is successfully saved with a blank name

Expected result:
A collection shou

[2018-03-28 13:31] tofumatt commented on #4648
😱 Oops, thanks for catching this, should be an easy fix.

[2018-03-28 13:32] muffinresearch commented on #4652
This should be validated on the frontend but this also probably needs a API counterpart to prevent it there too.

[2018-03-28 13:41] AlexandraMoga opened #4653 "A collection slug consisting only of numbers will generate a 404 for the collection details page"
Follow up for #4623

STR:
1, Log in to AMO dev and select 'View My Collections' from the user menu
2. Choose a collection to view its details page
3. Click on Edit collection underneath the collection info card
4. Edit the collection slug by entering only numbers
5. Click on Save Collection

Actual result:
a 404 error is received when a collection slug consists only of numbers

Expected result:
A

[2018-03-28 13:42] muffinresearch commented on #4630
Marking as duplicate of https://github.com/mozilla/addons-frontend/issues/3636

[2018-03-28 13:43] muffinresearch commented on #3636
@pwalm is there any additional UX required to action this?

[2018-03-28 13:45] muffinresearch commented on #4653
Needs investigation to diagnose what's happening here.

[2018-03-28 13:46] #4630 closed

[2018-03-28 13:49] muffinresearch commented on #4610
@grahamperrin Can you state the problem case a bit more concisely? I'm struggling to parse the content of the report above and understand what the problem actually is.

[2018-03-28 13:52] muffinresearch commented on #4581
@FatOrangutan please file another issue if you have an additional separate bug to report on the same feature.

[2018-03-28 13:54] muffinresearch commented on #4581
@bobsilverberg this appears to be the same thing as https://github.com/mozilla/addons-frontend/issues/4543 I suspect the mask is the issue again.

[2018-03-28 14:27] jbeich commented on #4610
Typing in `about:addons` search field shows less results on Tier3 platforms. For example, what's platform-specific in the following addons to be delisted on FreeBSD?
- https://addons.mozilla.org/en-US/firefox/search/?q=Multi%20Containers&platform=FreeBSD&appver=59.0.2
- https://addons.mozilla.org/en-US/firefox/search/?q=Tree%20Style%20Tab&platform=FreeBSD&appver=59.0.2

[2018-03-28 14:44] jbeich commented on #4610
Firefox replaces `%OS` string in `extensions.getAddons.search.browseURL` with `OS_TARGET` which for [supported](https://searchfox.org/mozilla-central/rev/028cd8342899/build/moz.configure/init.configure#592-622) Tier3 platforms would be either SunOS, GNU/kFreeBSD, DragonFly, FreeBSD, NetBSD, OpenBSD. Of those FreeBSD and SunOS have *incomplete* search results while DragonFly, NetBSD, OpenBSD, GNU/k

[2018-03-28 14:58] jbeich commented on #4610
@landryb, can you try searching for Multi-Account Containers via "Search all addons" field in `about:addons` on OpenBSD? Do you see the addon in search results?

[2018-03-28 15:11] jbeich commented on #4610
For updates newer version is never found:
- Multi-Account Containers ([Linux](https://versioncheck.addons.mozilla.org/update/VersionCheck.php?reqVersion=2&id=@testpilot-containers&version=4.1.0&maxAppVersion=*&status=userEnabled&appID={ec8030f7-c20a-464f-9b0e-13a3a9e97384}&appVersion=59.0.2&appOS=Linux&appABI=x86_64-gcc3&locale=en-US&currentAppVersion=59.0.2&updateType=97&compatMode=normal) vs. [F

[2018-03-28 15:25] ryanfeeley commented on #3787
Experienced this yesterday as some critical caveats on the Facebook Container add-on are being hidden. Please move the truncation point far further down the page (roughly aiming to balance left and right). We should not be hiding this much information AND showing an imbalanced page.

[2018-03-28 15:25] ryanfeeley commented on #3787
Ironally I wanted to show a screenshot but got:
![screen shot 2018-03-28 at 10 03 38 am](https://user-images.githubusercontent.com/68213/38039199-b49e46c0-327a-11e8-8715-71ec3ddd7844.png)

[2018-03-28 15:42] devaneymoz commented on #4603
I usually do tag people when I file these, don't know why I didn't this time.

Do I need to file a new issue so this can make the following release on **5 April**, or will this one suffice?

[2018-03-28 15:44] tofumatt commented on #4603
This one is fine, we’ll just move the date up.

[2018-03-28 15:45] svitlana-galianova commented on #4626
I am trying to access this link (http://localhost:3000/en-GB/firefox/addon/dew-on-spider-web/?src=featured) while running amo locally (I tried both amo:stage and amo:dev), but I keep getting this error:
Maybe I am doing something wrong or missing some step?
[code]

[2018-03-28 16:02] tofumatt commented on #4621
This ended up being a lot more work than I thought but it's ready now 😄

[2018-03-28 16:18] svitlana-galianova commented on #4648
Hey, I would like to work on this issue

[2018-03-28 16:22] tofumatt commented on #4648
Hi @svitlana-galianova, thanks for your interest but I'm going to be taking this issue. 😄 You can have a look at our "contrib: good first bugs" issues to find issues to contribute to.

[2018-03-28 16:29] svitlana-galianova commented on #4648
@tofumatt I should have waited for your response...

[2018-03-28 16:50] tofumatt commented on #4648
It's cool! In the future you should check the "assigned" field in GitHub; if the issue is assigned it's best not to work on it, but I hadn't actually started so it's okay 😄

[2018-03-28 17:15] bqbn commented on #4647
Yes, there are. But, there is no route for `/collections/:username/:slug/edit/`.

@bobsilverberg, if there are new routes being added to https://github.com/mozilla/addons-frontend/blob/master/src/amo/routes.js and needing to be routed to the mobile site, please feel free to file an issue and assign to me.

And if the route only needs to be in a particular environment, please indicate that in the i

[2018-03-28 17:48] bobsilverberg commented on #4650
Thanks @AlexandraMoga, yes I noticed that case as well. I just didn't bother to list it out. I agree that it is likely the same root cause.

[2018-03-28 17:59] bobsilverberg opened #4655 "Add new routes for new collections UI"
We'll need new routes in nginx to route collection requests to the new front-end. Here is what we need:

- [ ] Edit collection: collections/:user/:slug/edit/ (landed in #4623)
- [ ] Create collection: collections/add/ (depends on #4003)
- [ ] My collections: collections/

These should both be enabled on dev only for now, and I will update this issue when we want them turned on for stage and prod.

[2018-03-28 18:13] tofumatt commented on #4621
For QA:

Make sure the "More add-ons by this user" card on an add-on detail page and theme detail page continue to work as they did before this patch.

[2018-03-28 21:52] #4603 closed

[2018-03-28 22:02] bqbn commented on #4655
Both endpoints, `collections/:user/:slug/edit/` and `collections/add/` are routed to the mobile site on -dev.

Please test.

Please ping me when this is ready for -stage and/or -prod.

[2018-03-28 23:14] flarry9 opened #4659 "No entro en esta pagina"
Estimados,  no entro es esta pagina https://getcryptotab.com/121506, al principio pude acceder a ella, luego desintalé el Plugin y desde ese momento no puede entrar y configurar mi login en esta pagina para minar, gracias

[2018-03-28 23:14] flarry9 commented on #4659
Estimados, no entro es esta pagina https://getcryptotab.com/121506, al principio pude acceder a ella, luego desintalé el Plugin y desde ese momento no puede entrar y configurar mi login en esta pagina para minar, gracias

[2018-03-28 23:23] jvillalobos commented on #4659
El complemento fue removido porque no pasó la revisión de calidad y seguridad. El desarrollador deberá hacer algunos cambios para poder habilitar el complemento nuevamente y que la página se pueda acceder.

[2018-03-28 23:23] #4659 closed

[2018-03-29 06:28] landryb commented on #4610
https://addons.mozilla.org/en-US/firefox/search/?q=Multi-Account%20Containers&platform=OpenBSD&appver=60.0 -> Invalid Platform parameter.

Why am i not surprised ?

[2018-03-29 09:53] jiro-sama opened #4660 "https://screenshots.firefox.com/cB0asVYqy6Kb32ny/getcryptotab.com"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-03-29 09:54] #4660 closed

[2018-03-29 09:55] muffinresearch commented on #4660
Closing this since there's no details. Feel free to reopen providing more detailed information so we can help understand the issue.

[2018-03-29 10:03] muffinresearch commented on #4610
@jbeich Thanks for the clarification.

[2018-03-29 10:25] muffinresearch commented on #4610
@diox looks like the API supports some additional platforms but not all.

It seems like a possible workaround might be to map these other OSs to a closer matching platform e.g. Linux even if that's arguably not technically accurate. There might be other compatibility cases to consider here too.

Before doing that I'd like to understand what we're currently doing since we seem to have API responses

[2018-03-29 10:29] eviljeff commented on #4640
From https://github.com/mozilla/addons-server/issues/7529#issuecomment-370877881 Jorge said:

That's the question settled, isn't it?

[2018-03-29 10:38] eviljeff commented on #3144
Couldn't see an implementation issue yet, so adding this to here:

The message about Firefox Accounts and changing email addresses should say instead that they can change their email address via Firefox Accounts.  https://support.mozilla.org/en-US/kb/change-primary-email-address-firefox-accounts seems like the relevant article about it.

mozilla/addons-server#4925 was logged about this on addons-s

[2018-03-29 11:52] tofumatt commented on #4640
Yeah. We redirect to slugs from IDs for add-ons themselves on the frontend but it's a server-redirect and it's only to support legacy URLs. Let's keep URLs simple and avoid ID-based ones if we have slugs.

[2018-03-29 11:56] bobsilverberg commented on #4640
@eviljeff Yes, that's pretty clear, but I feel like it contradicts the comment at https://github.com/mozilla/addons-frontend/blob/ceb360b6ab5358eee52baebca0f7d49202409f01/src/amo/sagas/collections.js#L197-L202, which suggests that once https://github.com/mozilla/addons-server/issues/7529 lands we'll switch to using an id based URL.

Also the comments at https://github.com/mozilla/addons-server/iss

[2018-03-29 12:12] bobsilverberg commented on #4647
@AlexandraMoga with #4655 done, can you please check this again?

[2018-03-29 14:47] AlexandraMoga commented on #4647
This is working now:

![coll refresh](https://user-images.githubusercontent.com/31961530/38095444-2c2e65a4-3379-11e8-8fcb-be5174629d91.gif)

[2018-03-29 14:51] eviljeff commented on #4640
mozilla/addons-server#7529 it was mentioned that there is no concept of a private collection any more, so I don't think exposing the collection's existence is a problem.  If addons-frontend is going to use IDs in edit collection urls that's probably okay too - it's the view collection urls that should only be slug accessible, afaik.
@jvillalobos can contradict if I've #fakequoted him

[2018-03-29 14:58] #4647 closed

[2018-03-29 16:08] eviljeff opened #4661 "stop vertical cropping theme previews (and some other comments)"
refiled based on the conclusion of mozilla/addons-server#7888

quoting @jvillalobos

Search results / category list page (wide browser)
![screenshot 2018-03-27 18 22 50](https://user-images.githubusercontent.com/768592/37962176-e57183c2-31ec-11e8-8228-d1fae8674f6e.png)

And possible follow-ups:

[2018-03-29 17:11] bobsilverberg commented on #4640
I think I misspoke when I suggested we could do it just for edit. The point of the change was to allow all collection access via id as opposed to via slug, and it doesn't sound like that's something we want to do.

[2018-03-29 19:06] aswan opened #4662 "Install buttons on discovery pane don't show up in high contrast mode"
### Describe the problem and steps to reproduce it:
Put the browser into high contrast mode (Preferences → General → Colors → Override the colors specified by the page with your selections above "Always") and visit the discovery pane

### What happened?
The interior part of the install buttons on the discovery pane are not visible:
https://bug1445552.bmoattachments.org/attachment.cgi?id=8958689

#

[2018-03-30 02:37] bobsilverberg commented on #4609
For QA: Just make sure the messages for multiple host permissions for sites and domains are still rendered as expected. You can use https://addons-dev.allizom.org/en-US/firefox/addon/all-of-the-permissions/ as an example.

[2018-03-30 07:07] AlexandraMoga commented on #4647
Verified as fixed on AMO-dev, with FF59, Win10x64

[2018-03-30 07:15] anggun04 opened #4666 "addons"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-03-30 07:23] anggun04 opened #4667 "fix"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-03-30 07:24] anggun04 commented on #4667
I can't access my addons

[2018-03-30 07:51] tofumatt commented on #4667
This is the issue tracker for the add-ons site and related projects, not for an add-on or Firefox.

If you're having an issue with an add-on please contact the developer directly; you can find a link to their contact details on the add-on page on https://addons.mozilla.org/

If you have a Firefox bug, please file it at http://bugzilla.mozilla.org/show_bug.cgi?id=1445552

[2018-03-30 07:51] #4667 closed

[2018-03-30 07:51] #4666 closed

[2018-03-30 08:02] AlexandraMoga commented on #4662
@bobsilverberg As far as I can see, AMO is not compatible with high contrast mode either. Do we want too address this too?

https://www.screencast.com/t/xVwau2y37

[2018-03-30 08:06] tofumatt commented on #4662
I would like for this to be a P2 but I don't think it blocks release or is more crucial than a lot of features we'll be landing that affect more users. 😞

[2018-03-30 09:07] tofumatt opened #4668 "Create edit user reducer and API requests"
We'll need a reducer/API/saga stuff to send user profile edits to the API. I'll submit them as their own PR before the components.

- [x] APIs (#4721)
- [x] reducers (#4734)
- [ ] sagas (#4736)

[2018-03-30 09:14] Lonkosi opened #4669 "CRYPTO TAB LINK BROKEN"
### Describe the problem and steps to reproduce it:

I want to install Cryptotab for firefox by clicking on the link https://addons.mozilla.org/en-US/firefox/addon/cryptotab/ from the page https://getcryptotab.com/en/
### What happened?
Upon clicking the link i get the following error
Page not found

Sorry, but we can't find anything at the address you entered.
### What did you expect to happen?
I

[2018-03-30 09:16] tofumatt commented on #4669
This is the issue tracker for the add-ons site and related projects, not for an add-on.

If you're having an issue with an add-on please contact the developer directly; you will need to contact the author on their web site because their add-on has been unlisted. I'm guessing it might be because crypto-mining extensions are usually sketchy, but I'm just guessing. 😄

[2018-03-30 09:16] #4669 closed

[2018-03-30 09:26] ioanarusiczki commented on #4609
Verified this on AMO dev with FF59(Win10 and Android 8.0.0). It looks good to me.
I also checked it for several languages and icons, text appear to be alright.

The windows full screen view

![permissions check](https://user-images.githubusercontent.com/33448286/38132665-a65b5af8-3414-11e8-9de9-aa75a1662390.png)

Android
![permissions android](https://user-images.githubusercontent.com/33448286/381

[2018-03-30 12:02] ioanarusiczki commented on #4603
I verified this issue on AMO dev with FF59(Win10 and Android 8.0.0).
I'll add the verified fixed label after it is fully verified in production.

[2018-03-30 13:39] AlexandraMoga opened #4671 "Search results filtered by 'Featured' and 'Add-on Type=All' are not returning all the available featured add-ons on Android"
STR:

1. Access AMO homepage from an Android device
2. Perform a blank search
3. Open the filter options and select 'Featured add-ons only'
4. Observe the search results
5. Go back to the filter section and change the Add-on type filter from 'All' to 'Themes'
6. Observe the search results again

Actual results:
The featured themes observed at step 6 are not included in the results observed at step

[2018-03-30 14:22] tofumatt commented on #4661
2x2 is in the UX mocks and was added I think after the first implementation of this. It makes it harder to display mixed results (we'd need to re-sort the results locally to tetris them together) and would technically change the order returned by the API, but it would totally look nicer and probably not mess up ordering *that* much.

It could be that theme 2x2 only show when the results are *only*

[2018-03-30 14:32] tofumatt commented on #4565
1. This is not an addons-frontend issue as the developer hub is on the old site. This should be filed on addons-server, as should all bugs with that old-style look 😄. That *said*...

2. This seems entirely intentional: if the user says they have no categories, it selects "my add-ons doesn't fit into any of these categories". It's weird UX and could be improved in a lot of ways, but I think this is

[2018-03-30 14:32] #4565 closed

[2018-03-30 14:34] tofumatt commented on #4587
Both of those accounts are showing stars. I'm wondering if this was related to an older, temporary issue with the ratings count type in the database on the server. I forget the issue number now but it was solved and might have been causing this.

In any case those add-ons now show stars so closing as works for me.

[2018-03-30 14:38] tofumatt commented on #4485
This is an issue for editorial and the content we show based on `clientApp`. We should have content for both mobile and desktop from an editorial perspective, including collections and other content we include.

It's worth checking to see if that's important to editorial as I think the majority of visitors are desktop users. Maybe it would be best just to hide certain cards if the user is on Andro

[2018-03-30 14:39] tofumatt commented on #4517
Is this *always* happening or is it intermittent? I would guess that the page is re-rendering client-side on load and the time simply changed enough that the review went from being 42 to 43 minutes old. 😄

[2018-03-30 14:42] tofumatt commented on #4540
This is probably a bug with the screenshot viewer itself and not us, as it's pretty shaky.

[2018-03-30 17:09] fadefa opened #4672 "Desktop only addon"
### Describe the problem and steps to reproduce it:

### What happened?
I was looking for the add-on "desktop only", but I couldn't find it any more in the Mozilla add-ons site. Googling it I foun the link for the add-on, but I got this answer from the server:
"Sorry, but we can't find anything at the address you entered.
If you followed a link from somewhere, please file an issue. Tell us where y

[2018-03-30 18:44] tofumatt commented on #4672
That means the add-on has been unlisted from the site. If there's contact info for the author elsewhere you could ask them; otherwise @jvillalobos might know why.

[2018-03-30 18:44] #4672 closed

[2018-03-30 19:00] tofumatt commented on #4542
This appears to have been fixed, I believe in #4551.

[2018-03-30 19:00] #4542 closed

[2018-03-30 19:03] tofumatt commented on #4454
Is the page still unavailable? This is not great but I'm wondering if it's simply a caching/approval issue. I don't think it's a frontend bug at any rate as it isn't the part of the app that sets the state of the add-on–we're just rendering what the API sends.

I'm going to close this for now as I think it might have been a timing issue, but if there are clear steps to reproduce it we can re-open

[2018-03-30 19:03] #4454 closed

[2018-03-30 19:05] tofumatt commented on #4432
cc'ing @pwalm: this is a fair point; for a lot of add-ons the support site can be buried but it's a really good point of contact for users to get help with their add-on. Would it be worth highlighting its visibility elsewhere on the detail page? Maybe it's not worth it, that's fine too, but wondering what UX thinks about this.

[2018-03-30 19:07] tofumatt commented on #4421
Seems like stale data sticking around in the cookie? I venture this will probably be fixed by #3144 because then we'll update the cookie/state on username change?

[2018-03-30 19:09] tofumatt commented on #4367
Filing this as a P4 because it's definitely weird and not great but I venture the case of wanting to remove a review's text entirely rather than edit it is not common.

[2018-03-30 19:17] tofumatt commented on #4348
What happens when you click on the "Add to Firefox" button in this case? If the add-on is viewable it should be install-able. Maybe the issue is you can see the install button because you're signed in as the author of the add-on so it's always visible to you? What happens if you view it as an anonymous user?

[2018-03-30 19:19] tofumatt commented on #3960
I think the issue here was we listed what is now "Trending" as "Popular" and that was confusing. Seeing as: the list @jvillalobos posted was fine, we don't have a "Most Popular" search anymore, and this issue hasn't been updated in five months, I think we can close this as it isn't happening anymore and was largely because "Popular" was a confusing search filter.

[2018-03-30 19:19] #3960 closed

[2018-03-30 19:23] tofumatt commented on #2221
If stats aren't being updated for certain pages after several days and a refresh I don't think it's a frontend problem; none of the data is cached for us so the API isn't updating the stats.

Right now we don't update them right after install but that's a separate issue that we can't fix until we go back to using `mozAddonManager` to install things anyway (#3954).

Is there something wrong with th

[2018-03-30 19:32] tofumatt commented on #4541
I wonder if some weird typecasting or something else is happening here. Maybe there's some weirdness with how JS deals with object keys that start with `-` and end with digits? But looking at the console output of this add-on, the state is definitely updated and the data is correct. We are fetching the data and storing it in state properly, it could just be whatever check we use to make sure we ar

[2018-03-30 19:33] tofumatt commented on #4376
This will be fixed by #3144 as well I guess, but maybe we'll need to update the redirect page.

[2018-03-30 19:35] tofumatt commented on #4388
This seems like a server/API bug, because we are just displaying the data sent down from the API.

I know stats for *add-ons* are disabled on -dev and I think -stage, is that true of collection stats as well @diox? If so we'd need to test this on production.

[2018-03-30 19:37] tofumatt commented on #4389
This is pretty low-priority as loading another page should set the right context, but it is annoying, so marking as a P5 papercut.

[2018-03-30 19:41] tofumatt commented on #4404
Wondering if this could be an API bug, @diox? I hate passing the buck on so many of these issues but we're just loading the data we get from the API, so it could be the old site's doing some more direct DB calls and we're getting stuff from ElasticSearch that missed making an update. 🤷‍♂️

[2018-03-30 19:42] tofumatt commented on #4415
Again, hate to pass the buck, but is it possible the API results for search results aren't as up-to-date here as detail results @diox? We aren't doing anything with the data here so it doesn't seem like a front-end issue.

[2018-03-30 20:30] decembre commented on #4331
@tofumatt
Ok but the principe stay the same (manage directly from the collection list):
- See  if the addon is added or not in a collection (checked or not)
- Add or delete the addon to a collection (directly in the dropdown menu)
- An icon near each collection label to go to its collection detail page
of course, the list should be sorted by alphabetical order
The screenshot:
![amo - collection -

[2018-03-30 21:54] tofumatt commented on #3352
I don't like this issue hanging around while it's blocked on an unclear list of things. The change itself to remove the link is pretty simple; I think we should either re-open this when ready, file new issue when ready, or have a checklist of issues that need to be closed before this one can be merged.

For now, I'ma close this one 😅. Please re-open or re-file when ready 😄

[2018-03-30 21:54] #3352 closed

[2018-03-30 21:59] piotrdrag commented on #4609
This hasn’t been fixed. The strings in question are not using ngettext, as you can see at https://github.com/mozilla/addons-frontend/blob/master/locale/pl/LC_MESSAGES/amo.po#L1355

[2018-03-30 22:01] tofumatt commented on #4609
Shoot, looks like other counts are still untranslated 😢 Re-opening.

[2018-03-30 22:10] piotrdrag commented on #4609
And I was so happy to see the incorrect statement “Note that we do not need to use ngettext for this as count will never be less than 2.” go. :)

I’m no expert on coding, but it looks like you embedded additional i18n.gettexts inside of i18n.ngettext — compare the MR with e.g. https://github.com/mozilla/addons-frontend/blob/f69eafee2860a60ff4220ca2aa90478d858c3908/src/amo/components/SearchContextC

[2018-03-30 22:19] tofumatt commented on #4609
Argh, shoot. Looks like we messed that up. I reviewed that too, must've just been me being inattentive. Sorry about that 😢

[2018-03-30 22:22] piotrdrag commented on #4609
No worries! Thanks for quickly looking into this.

[2018-03-30 23:41] FatOrangutan opened #4689 "Permission icons are resized if the permission text runs into two lines"
Split from https://github.com/mozilla/addons-frontend/issues/4581#issuecomment-373947303

STR: Whether in Firefox or in Edge, resize the browser window (at least horizontally) such that some permissions now run over two lines.

AR:

Edge:
![edge](https://user-images.githubusercontent.com/8336638/37559242-68be18a0-2a48-11e8-853d-79f510c09581.PNG)
Firefox: (icon should be 24x24 but is deformed)
![20

[2018-03-30 23:45] tofumatt commented on #4689
Marking as a P4; this is annoying and a papercut but it doesn't especially interfere with usability or the information each permission icon+text is trying to convey. It's just not very pretty 😦

[2018-03-31 01:40] ExE-Boss commented on #2910
Turns out that this is a duplicate of [bug 1394448](https://bugzil.la/1394448).

[2018-03-31 03:40] SeanPrashad commented on #4188
Hey guys,

I tried to replicate this bug however it seems that the **Featured add-ons only** checkbox has been improved since this bug was opened. See below:

<img width="358" alt="screen shot 2018-03-30 at 11 27 44 pm" src="https://user-images.githubusercontent.com/13009507/38159224-1b6e694a-3472-11e8-8d5e-5e8e98efd474.png">

Notice that the border has a darker outline and responds quite well to

[2018-03-31 04:02] SeanPrashad commented on #3231
Hey everyone, I've managed to implement a small fix for this bug! Check out my PR below.

[2018-03-31 07:36] tofumatt commented on #4188
I think the click target of the checkbox (especially on small/mobile/touch screens) should still be larger and there should be more padding around it that allows for clicking. I think this bug is still valid.

[2018-03-31 07:38] tofumatt commented on #3231
Hi Sean! Thanks for the PR! We get notifications about new PRs and since you already mentioned this issue in your PR you don’t have to comment on the issue as well–we’ll see the PR and get to reviewing it :-)

[2018-03-31 07:55] #4689 closed

[2018-03-31 16:28] #3231 closed

[2018-03-31 16:32] tofumatt opened #4692 "Each rating star should have its own title attribute with the rating number in it"
### Describe the problem and steps to reproduce it:
1. Go to an add-on detail page (eg https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/)
2. Make sure you're signed in so you can leave a review
3. Hover over the rating stars to rate the add-on
4. Note the title is the same across the entire set of stars

### What happened?
The entire enclosing div (https://github.com/mozilla/addons-fro

[2018-03-31 19:10] tofumatt opened #4694 "Use a set version for react-transition-group"
I noticed we're using a non-specific version for the library `react-transition-group`. We prefer set versions so things don't break production, so I think we should change this to a set version.

[2018-03-31 21:39] tofumatt commented on #4694
For QA: this only affects the Discovery Pane, so just make sure that add-ons continue to function as normal on the disco pane with this change.

[2018-03-31 22:28] #4648 closed

[2018-03-31 22:33] #4496 closed

[2018-04-01 15:07] Avik121197 opened #4700 "Extension Issues"
### Describe the problem and steps to reproduce it:

### What happened?
i cannot open my cryptotab extension as I open FireFox... It shows "Sorry, but we can't find anything at the address you entered."

### What did you expect to happen?
It should open automatically and start mining.

### Anything else we should know?

https://getcryptotab.com/438309

[2018-04-01 16:25] tofumatt commented on #4700
That extension has been removed. Maybe @jvillalobos knows why. You should contact the add-on developer to see why it was removed.

[2018-04-01 16:25] #4700 closed

[2018-04-01 17:17] Ripatrahman opened #4701 "good"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-01 17:18] Ripatrahman commented on #4701
wow

[2018-04-01 17:19] Ripatrahman commented on #4701
nicw

[2018-04-01 17:21] tofumatt commented on #4701
Cool.

[2018-04-01 17:21] #4701 closed

[2018-04-01 20:11] aryaaulia88 opened #4704 "vidplay"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-01 21:42] tofumatt commented on #4704
This is the issue tracker for the add-ons site and related projects, not for an add-on.

If you're having an issue with an add-on please contact the developer directly; you can find a link to their contact details on the add-on page on https://addons.mozilla.org/

[2018-04-01 21:42] #4704 closed

[2018-04-02 05:56] Rosselynmedina opened #4705 "https://getcryptotab.com/357663 no puedo descargar esta extension"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-02 05:56] AlexandraMoga commented on #4517
I can't reproduce this anymore, so I'm guessing it was just an intermittent issue.
Closing based on latest results.

[2018-04-02 05:56] #4517 closed

[2018-04-02 06:37] tofumatt commented on #4705
That extension was removed from the site. You should contact the author on their homepage.

This is the issue tracker for the add-ons site and related projects, not for an add-on.

[2018-04-02 06:37] #4705 closed

[2018-04-02 07:04] AlexandraMoga commented on #3231
Verified as fixed on AMO-dev, FF59, Win10x64

![rating tooltip](https://user-images.githubusercontent.com/31961530/38186714-f7873f9c-365c-11e8-9ff7-2bcef8b91a2c.gif)

[2018-04-02 07:14] #4652 closed

[2018-04-02 07:17] AlexandraMoga commented on #4388
I've tested this again on -dev and stage but it seems that the issue is not reproducible anymore.
Based on these results I'm going to close it.

[2018-04-02 07:17] #4388 closed

[2018-04-02 08:01] AlexandraMoga commented on #4652
Verified as fixed on AMO-dev, FF59, Win10x64 and Android 7.0

![coll blank name](https://user-images.githubusercontent.com/31961530/38188537-0faf5ae8-3665-11e8-96a5-c973d9f897a5.gif)

[2018-04-02 08:34] AlexandraMoga commented on #4648
Verified as fixed on AMO-dev, FF59, Win10x64 and Android 7.0

![image](https://user-images.githubusercontent.com/31961530/38189565-7ee0c916-3669-11e8-9fc7-af286fa3a77d.png)

[2018-04-02 08:51] AlexandraMoga opened #4706 "Incorrect tooltip displayed for average add-on rating in user info card"
STR:

1. Log in to AMO-dev with a user that has no add-ons submitted
2. Select "View Profile" form the user menu
3. Hover over the rating stars in the user info card

Actual result:
A "Click to rate this add-on" tooltip is displayed, suggesting a possible interaction with the stars

Expected result:
A more suggestive tooltip should be implemented for the "Average rating of developer’s add-ons" whe

[2018-04-02 13:55] svitlana-galianova commented on #4626
I have started amo:dev and it solved that issue for me

[2018-04-02 14:20] #4626 closed

[2018-04-02 15:51] ioanarusiczki commented on #4689
Verified fixed on AMO dev with FF59 (Win10).

Resizing the browser the icons keep their size at 24x24

![24x24](https://user-images.githubusercontent.com/33448286/38203041-7eac924e-36a6-11e8-90c5-69fc63b31185.png)

![keeps 24x24](https://user-images.githubusercontent.com/33448286/38203058-88bad796-36a6-11e8-8de9-84222c964755.png)

[2018-04-02 16:52] 4z1m4 opened #4709 "https://indoxxi.tv/movie/venom-2018-778v"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-02 16:53] 4z1m4 commented on #4709
Describe the problem and steps to reproduce it:

[2018-04-02 19:05] #4709 closed

[2018-04-03 07:50] AlexandraMoga commented on #4542
This is solved for portrait orientation:

![image](https://user-images.githubusercontent.com/31961530/38236346-8c7c513a-372c-11e8-93fd-f9d5d3ad47c4.png)

@tofumatt in landscape mode, the badges are still aligned to the right (not the top right, as they are on desktop). Shouldn't we see them on the left as well?

![image](https://user-images.githubusercontent.com/31961530/38236302-6a0da824-372c-11e

[2018-04-03 07:52] tofumatt commented on #4542
I think they should be above, floated to the right of the icon and add-on name.

That or left-aligned, but that look is weird, agreed. Could you file a new issue for that?

[2018-04-03 08:16] AlexandraMoga opened #4712 "Add-on badges are not correctly aligned on Android landscape mode"
Follow up for #4542

STR:
1. Access AMO-dev from an Android device
2. Open an extension details page for an add-on that has some badges (i.e. https://addons-dev.allizom.org/en-US/android/addon/versiontest/)
3. Rotate your device in landscape mode and observe the position of the badges

Actual result:
Badges are aligned on the bottom right of the add-on card

Expected result:
Badges are aligned on

[2018-04-03 08:19] AlexandraMoga commented on #4542
Thanks! I've filed #4712 for the last issue.

This issue can be marked as verified fixed on AMO-dev with FF59, Android 7.0

[2018-04-03 08:37] AlexandraMoga commented on #4626
Verified as fixed on AMO-dev with FF59, Win10x64

![image](https://user-images.githubusercontent.com/31961530/38238674-4a5042f6-3733-11e8-9872-5eadcf1b5329.png)

[2018-04-03 09:10] tofumatt commented on #4645
Closed by #4699

[2018-04-03 09:10] #4645 closed

[2018-04-03 10:12] eviljeff commented on #4661
@tofumatt I think @jvillalobos was talking about the featured shelves - the results aren't 1x4, but the shelves are (see mozilla/addons-server#7888 for the rest of the screenshots) which, afaik, only contain one type of content.  Regardless, the cropping on the previews on search results is the main issue here.

[2018-04-03 10:30] vcarciu commented on #4496
Verified as fixed :
![searchengines](https://user-images.githubusercontent.com/1583842/38244030-f95114b6-3741-11e8-9c4f-0cd1e62cbe4d.gif)

[2018-04-03 12:13] #4694 closed

[2018-04-03 12:25] bobsilverberg commented on #4652
#4698 is a nice fix, but I am also concerned that the validation in `onSubmit` did not catch this. @tofumatt do you think it's enough to disable the `Save Collection` button, or should we also make sure that there's working validation for this case in `onSubmit`?

[2018-04-03 12:29] tofumatt commented on #4652
Hmmm... I think us disabling the form is good enough but if the server allows empty collection names we could check... but in the future I expect someone who actually managed to still get `onSubmit` to fire would get an API error.

But at that point it feels like an API bug our error handler would just catch. They can still submit empty data to the API if they really want, we are already stopping

[2018-04-03 12:32] #4706 closed

[2018-04-03 13:30] bobsilverberg commented on #4338
I could be wrong, but I don't think that WebExtensions have a way of specifying that they have another extension as a dependency. If you look at https://github.com/Drive4ik/simple-tab-groups/blob/master/plugins/stg-plugin-load-custom-group/manifest.json there isn't anything in the manifest that says that plugin depends on the Simple Tab Groups extension.

If the above is correct, then I don't see

[2018-04-03 13:31] tofumatt commented on #4338
The example used in this issue is installable in Firefox 57+ so is a web extension. I'm assuming it's in the AMO database, but it's definitely doable.

[2018-04-03 14:52] bobsilverberg opened #4717 "Properly implement the collectionUpdates state"
The `collectionUpdates` state was introduced in https://github.com/mozilla/addons-frontend/commit/a1891d5480db8e92e30b0dda5c8f8665f99482d7, but it isn't actually used for anything yet, and isn't updated after a collection has finished updating. We need to complete the implementation of it by doing that, which will also help fix issue #4635.

Once it's done we can also improve the tests in `tests/u

[2018-04-03 15:09] AlexandraMoga commented on #4645
Verified as fixed on AMO-dev, FF59, Win10x64 and Android 7.0

![search coll list](https://user-images.githubusercontent.com/31961530/38257971-059a282a-376a-11e8-86a1-a2e431e634a1.gif)

[2018-04-03 15:09] #4505 closed

[2018-04-03 15:34] ioanarusiczki commented on #4587
@tofumatt I used a new account, submitted 3 ad-ons and rated them from a different account.
This was hours ago. By the end of the day the info card still did not display the ratings. I will re-check this tomorrow too see if the average is displayed.  This is the account https://addons-dev.allizom.org/en-US/firefox/user/Contrating2/

![no avarage ratings](https://user-images.githubusercontent.com/3

[2018-04-03 15:38] vcarciu commented on #4694
Tested Disovery Pane on -dev and everything looks good. Marking bug as verified.

[2018-04-03 17:10] #3787 closed

[2018-04-03 17:12] bobsilverberg commented on #3787
For QA: This has been implemented by having the text always expanded on desktop. The full text, without a "Read more" footer should be visible on desktop, while on smaller displays the old behaviour (truncated text with a "Read more" link) should still apply.

[2018-04-03 17:24] bobsilverberg commented on #4646
@pwalm How do you suggest we address this issue? The beginning of the URL will often be quite long, so I think we need to change the design of the field to allow more room for the slug, which is the only part that is editable.

[2018-04-03 18:01] bobsilverberg commented on #4650
The "validation" for collection name has been addressed differently via PR #4698 which ensures that the form cannot be submitted without a collection name. As well, https://github.com/mozilla/addons-server/issues/7936 has been opened to update the API to prevent a collection from being created which has a name which only contains spaces.

I suggest we take the same approach for collection slug, an

[2018-04-03 18:06] bobsilverberg opened #4719 "Disable Save Collection button if the slug is blank"
This is a replacement for issue #4650 and will be similar to the resolution in issue #4698. If the collection slug is blank, or a string which is only spaces, the "Save Collection" button should be disabled.

@tsl143 Are you interested in taking this one, as it's very similar to the work you did for #4698?

[2018-04-03 18:11] bobsilverberg opened #4720 "Remove validation for Collection name from CollectionManager form"
The current validation is insufficient, as it allows a name which consists of only blanks. PR #4698 addresses the issue by preventing the form from being submitted with a blank collection name, so we don't really need the validation anymore. As well, https://github.com/mozilla/addons-server/issues/7936 has been opened to address this at the API level.

Rather than fixing the incorrect code, and ad

[2018-04-03 21:29] jvillalobos commented on #4661
Yeah, I think the shelves issue is a separate thing. The vertical cropping is what I would like to fix before we launch static themes.

[2018-04-03 21:31] jvillalobos commented on #4661
Not sure is this would be a P2, since I don't know if we're already showing static themes on search results on dev.

[2018-04-03 22:00] pwalm commented on #4646
I would split the field 40/60, like this:
![img_0075](https://user-images.githubusercontent.com/6797635/38278056-65223dde-374f-11e8-8fb7-d016495fc01c.JPG)

If we're making half the url static, we need to add the hover "click to copy" interaction (similar to what we do on the design system):
<img width="161" alt="screen shot 2018-04-03 at 2 59 30 pm" src="https://user-images.githubusercontent.com/6

[2018-04-03 22:04] pwalm commented on #4331
@tofumatt Yep, adding to multiple collections wasn't spec'd for this pass. But do keep it open as a low priority.

[2018-04-03 22:12] pwalm commented on #4432
Yes! I'd like to emphasize the support site in two ways: bigger on the page (obvs), and through the eventual changes to the ratings and review flow (surfacing the support site through triage).

[2018-04-03 22:14] pwalm commented on #3636
The only thing I need to spec out is motion/transition, but that's not a blocker. Who is working on this now that @kumar303 is on leave. I can work with them directly.

[2018-04-03 22:29] jvillalobos commented on #4700
It looks like the add-on has pending review issues that need to be resolved before it can be listed again.

[2018-04-03 22:33] jvillalobos commented on #4672
The add-on has pending review issues that need to be addressed before it can be listed again.

[2018-04-03 22:50] jvillalobos commented on #4640
Correct, we don't want to have collections be easily accessible with just their ID in the public URL. There are other areas where their existence is exposed via ID, like the devhub and some parts of the API (as I understand it), but that's acceptable IMO.

[2018-04-03 23:46] 9Angel6 opened #4724 "solucion"
### Describe the problem and steps to reproduce it:

no aparece la aplicacion
### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-04-04 00:17] tofumatt commented on #4724
Closing due to lack of information.

Please add information to your issue including the error you encountered, a URL (if applicable), and steps to reproduce.

[2018-04-04 00:17] #4724 closed

[2018-04-04 03:06] tsl143 commented on #4719
@bobsilverberg done :)

[2018-04-04 03:12] erosman commented on #4432
Please also consider adding an ICON to improve visibility.

[2018-04-04 06:47] RB-Rutledge opened #4728 "PAGE NOT FOUND"
### Describe the problem and steps to reproduce it:

I had a tab open up on my browser advertizing a bitcoin mining add on available for FireFox.  After reading through some of the Q&As and Getting Started Guides, I clicked on the icon for get the app.  It was supposed to direct me to https://addons.mozilla.org/en-US/firefox/addon/cryptotab/, but that came up as not found.

### What happened?
Read

[2018-04-04 08:16] ioanarusiczki commented on #4609
@bobsilverberg Should I re-check plurals for strings ? I'm not sure I understand exactly.
Thanks!

[2018-04-04 10:55] tofumatt commented on #4728
The add-on was unlisted because of an issue with its review. You should contact the author from their homepage to get it listed again.

[2018-04-04 10:55] #4728 closed

[2018-04-04 12:00] ioanarusiczki opened #4729 "A glitch appears for a moment after save collection button is clicked"
STR:
1. Load AMO dev and go to View My Collections.
2. Choose an existing collection **without any add-ons** and click Edit this collection link.
3. Click the save collection button.
4. Observe the screen.

Expected result:
Collection's page is displayed.

Actual result:
Before the page is displayed a glitch appears for a short moment.

Notes:
This is reproducible on AMO dev with FF59 (Win10).

![

[2018-04-04 12:47] ioanarusiczki commented on #4505
Verified this issue on AMO dev with FF59(Win10).
I filed https://github.com/mozilla/addons-frontend/issues/4729 and https://github.com/mozilla/addons-server/issues/7975 for observed issues.

[2018-04-04 13:04] ioanarusiczki commented on #4587
I checked this account but it did not update the ratings until the next day and only after I logged into it and used it to create collections. I think this should be investigated because the average rating should be displayed soon after an add-on has been rated by someone.
This is reproducible on AMO dev - create a new account, submit add-ons , give ratings for this user's add-ons with another acc

[2018-04-04 14:17] ioanarusiczki commented on #3787
Verified this issue on AMO dev and AMO stage with FF59 (Win10 and Android 8.0).
The About this extension section on desktop contains only full text, the read more is no longer visible, while on Android with a smaller display this still applies.
Release notes section remains unchanged on both displays with the read more footer. Summary has a 250 chars limit.

![text](https://user-images.githubuserc

[2018-04-04 15:35] vcarciu commented on #4621
@tofumatt : We tested around "More add-ons by this user" section and we observed the next issues :

1. If a theme developer submitted more than 6 themes , only 3 themes by this author are displayed on -dev and stage instead of 6 like in prod:
![morebyauthornumber](https://user-images.githubusercontent.com/1583842/38316761-1e333c30-3834-11e8-97c4-7006b8a1ed01.gif)

2.Same issue for extensions, but