[2018-01-05 22:04] andymckay commented on #4131
The author of the add-on has chosen to remove the add-on from the site. Please contact the add-on author about why they have done this: https://www.wunderlist.com/contact/

[2018-01-05 22:04] #4131 closed

[2018-01-05 22:51] danh1 opened #4132 "clicked on link from an old email from mozilla, got broken link, filing bug report per suggestion of page"
### Describe the problem and steps to reproduce it:

Click on this link
https://urldefense.proofpoint.com/v2/url?u=https-3A__click.e.mozilla.org_-3Fqs-3D4ae5965b153a60c73ebf99e38ac8cd51637cd52336b9d1f219978ba56daf70cf8564cc3e61408992&d=DgMDaQ&c=B73tqXN8Ec0ocRmZHMCntw&r=uLEi1uR4HlsB_MZQw9a_uiZwtcATXFnZ1W2XYK7CZj4&m=ZLU6uUpERFVD6oO5FwvuyDatSkWGOnx50zoZRmGV3I0&s=2NwfRMqMmGafhnGNGe1oDWgWcvutzFsznVB_X6

[2018-01-05 22:58] pwalm commented on #2749
Profile pages!! There will be some issues to iron out, but this is the first pass.
Public view:
![user profile - public view - 1366px](https://user-images.githubusercontent.com/6797635/34632151-b6e8d8ec-f228-11e7-901a-9c73e28f3d43.png)

User view:
![user profile - my view - 1366px](https://user-images.githubusercontent.com/6797635/34632157-bf1a1c2e-f228-11e7-95bc-330b8a5670ed.png)

Account setting

[2018-01-05 22:59] pwalm commented on #3890
Oh, ok. Make them visible then. 👍

[2018-01-05 23:08] tofumatt commented on #4132
That doesn’t look like a legitimate Mozilla email to me. Or it’s a bit old? The current year is 2018. At any rate this issue is a bit unclear to me so I’m going to close it.

[2018-01-05 23:08] #4132 closed

[2018-01-05 23:10] tofumatt commented on #4132
Oh sorry I just saw in the title you flagged the email as old. Still, I’d say best to leave this issue closed.

[2018-01-06 03:32] 13regent opened #4133 "404 Bookmarks"
### Describe the problem and steps to reproduce it:

Went looking for add-on 404 Bookmarks and I cannot find this extension

### What happened?

Went to page at 404 Bookmarks is gone: https://addons.mozilla.org/en-US/firefox/addon/404-bookmarks/?src=api

### What did you expect to happen?

Expected to find add-on

### Anything else we should know?

[2018-01-06 04:06] danh1 commented on #4132
That's fine with me.

Link rot is certainly our current state of the art, and i wouldn't have filed an issue except that the page i landed on specifically said "please file an issue".  :) :)

[2018-01-06 06:45] SHUBHAMDAVE001 commented on #4110
okk

[image: --]

Shubham Dave
[image: https://]about.me/shubham.dave
<https://about.me/shubham.dave?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=chrome_ext>

On 31 December 2017 at 02:43, Kumar McMillan <notifications@github.com>
wrote:

[2018-01-08 05:21] juzQrios opened #4134 "Zoho notebook webclipper missing"
### Describe the problem and steps to reproduce it:

### What happened?
Page not found
### What did you expect to happen?
To find notebook webclipper add-on
### Anything else we should know?

https://addons.mozilla.org/en-GB/firefox/addon/notebook_web_clipper/

[2018-01-08 13:25] fayetandog opened #4135 "Add-on Review Pop-up: Font inconsistency"
### Describe the problem and steps to reproduce it:

1. Go to any add-on
2. Navigate to 'Rate your experience'
3. Click on the stars for your rating

### What happened?
The font for Placeholder text, form text and submit review text is different from the rest of the site (which uses Fira Sans)

### What did you expect to happen?
Have the same font as the rest of the pages

### Anything else we sho

[2018-01-08 13:51] qqqq1111qqqq opened #4136 "bitkong bot"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-01-08 14:47] tofumatt commented on #4134
cc @jvillalobos to see if he can shed some light on why the add-on was unlisted, but beyond that it's up to the add-on developer to fix this issue. I can't tell if the add-on was disabled by the author or not, but any disabled add-on will show a 404.

[2018-01-08 14:47] #4134 closed

[2018-01-08 14:47] tofumatt commented on #4136
Closing due to lack of information.

Please add information to your issue including the error you encountered, a URL (if applicable), and steps to reproduce.

[2018-01-08 14:47] #4136 closed

[2018-01-08 16:19] caitmuenster commented on #4133
It looks like there was an issue with a recent update to 404 Bookmarks. We're working with the developer to resolve it.

[2018-01-08 18:22] #4133 closed

[2018-01-08 18:27] jvillalobos commented on #4134
It looks like it's under review and needs to resolve some issues before it's published again.

[2018-01-09 13:40] vcarciu opened #4137 "Users should be able to navigate through multiple screenshots by drag and drop"
Steps to reproduce:
1.Open any add-on with multiple screenshots (ie. https://addons-dev.allizom.org/en-US/firefox/addon/fireshot/)
2.Try to navigate between screenshots by drag and drop

Expected results:
Users should be able to navigate through multiple screenshots by left\right drag and drop (right now, only scrollbar can be used)

Actual results:
Only scrollbar(which is very narrow) or the left

[2018-01-09 13:52] tofumatt commented on #4137
I think the screenshot navigation could be redone but I don't think this is an issue worth tracking. Users can scroll with trackpads and click and hold the scroll bar. I don't think click and drag on desktop with a pointer should be the expected interaction method here, so closing as won't fix.

[2018-01-09 13:52] #4137 closed

[2018-01-09 14:02] vcarciu commented on #4137
@tofumatt : I know that the navigation can be done as described above, I am just saying that we should chose the easier method for users.

[2018-01-09 15:37] #4114 closed

[2018-01-09 15:57] #4116 closed

[2018-01-10 15:49] vcarciu commented on #4114
No regressions were found so far in this area. I will mark the issue as verified.

[2018-01-10 16:07] AlexandraMoga commented on #4116
I've looked for possible regressions around query string parameters but no issues were noticed.
I will mark this as verified fixed (AMO-dev, FF57, Win10)

[2018-01-10 16:10] AlexandraMoga commented on #4122
I will close this since the issue can no longer be repoduced

[2018-01-10 16:10] #4122 closed

[2018-01-10 16:43] #4108 closed

[2018-01-10 16:47] tofumatt commented on #3993
Just a thought (sure how much of the UI state @kumar303 has implemented so far): can we just use the native OS `<select>` styles instead of that heavily customised one? It's a *lot* more effort to implement that custom one (unless there's an easily restyle-able component out there we can grab) and I'm not sure it helps much with usability. Granted, it looks cool, but doing something like the exist

[2018-01-10 16:52] kumar303 commented on #4017
This depends on a new polyfill module introduced by https://github.com/mozilla/addons-frontend/pull/4119

I'll fix this when that patch lands.

[2018-01-10 16:52] caitmuenster commented on #3275
Hey @phillyphenning, are you still interested in working on this bug?

[2018-01-10 16:53] caitmuenster commented on #3070
Hey @abiduzz420, it looks like @hellokarthic isn't working on this bug. Do you want to pick it up?

[2018-01-10 17:36] pwalm commented on #3993
Totally cool with going native.

[2018-01-11 10:24] vcarciu commented on #4010
@kumar303 : I think that this can be closed, right?

[2018-01-11 13:20] AlexandraMoga commented on #4108
Verified as fixed on AMO-dev with FF57 (Win10)

![image](https://user-images.githubusercontent.com/31961530/34827471-f0e878e0-f6e2-11e7-9c72-709cb485236f.png)

[2018-01-11 13:36] #4063 closed

[2018-01-11 16:34] #4118 closed

[2018-01-11 17:09] kumar303 commented on #3993
I like it 🍰

The implementation uses native styles for when you open the menu (just like the search page). I agree that it would have been a huge rabbit hole (with accessibility issues) to re-style that part.

[2018-01-11 17:48] #4128 closed

[2018-01-11 20:40] blstumpf opened #4144 "Show Parent Folder removed by author"
Show Parent Folder was available on Feb 9 2017 for Firefox 51.0.1. It improved lists of Bookmarks at
 https://addons.mozilla.org/en-US/firefox/addon/show-parent-folder/

Today it shows "This add-on has been removed by its author."

Is there a working replacement available?  Today is Jan 11, 2018

[2018-01-11 20:52] tofumatt commented on #4144
This is the issue tracker for the add-ons site and related projects, not for an add-on. Unfortunately we can't help with a particular add-on issue; it's best to contact the developer directly if you know their contact info. I don't know off-hand if there's a replacement available. It might help to search the web or the Add-ons forums about it: https://discourse.mozilla.org/c/add-ons

[2018-01-11 20:52] #4144 closed

[2018-01-12 10:04] abiduzz420 commented on #3070
Yeah sure @caitmuenster I will need to do bit of groundwork before I finally write the code. I shall share the progress soon.

[2018-01-12 10:06] AlexandraMoga commented on #4124
Please include some STR or the label "qa: not needed"

[2018-01-12 11:39] jpjeffery opened #4146 "Broken link about Firefox GPO"
### Describe the problem and steps to reproduce it:
Found an article about setting Firefox to never remember history, by GPO. Article contains a link, to a page which doesn't exist

### What happened?
Link was redirected to a 'File an issue' page

### What did you expect to happen?
The link to work.

### Anything else we should know?
Article page: https://support.mozilla.org/en-US/questions/106786

[2018-01-12 11:41] tofumatt commented on #4146
It looks like that add-on is no longer available, so the page is now displaying a "Not found" error. Unfortunately it's up to the add-on author to add their add-on back; the best course here is to edit the support document and remove that link.

[2018-01-12 11:41] #4146 closed

[2018-01-12 12:10] jpjeffery commented on #4146
Thanks, tofumatt

I found the add-on on the author's own website here: https://mike.kaply.com/cck2/

...but it's not compatible with FF v57.0.4 (which probably explains why it's no longer listed via that link)

[2018-01-12 14:24] AlexandraMoga commented on #4063
Verified as fixed on AMO-dev with FF57, (Win10)

![relnotes](https://user-images.githubusercontent.com/31961530/34879020-84c7dea8-f7b4-11e7-8e90-8954a58c6315.gif)

[2018-01-12 21:29] kumar303 commented on #4010
Yes!

[2018-01-12 21:29] #4010 closed

[2018-01-12 22:49] kumar303 opened #4150 "Add saga and reducers for adding add-on to collection"
We need sagas and reducers for adding an add-on to a collection: https://github.com/mozilla/addons-frontend/issues/2768

[2018-01-12 23:46] tofumatt opened #4152 "Non-production sites return no results for 57+ browsers"
We (largely, helpfully) send an `appversion` param when searching for add-ons to restrict search results to add-ons that are compatible with the user's UA. This works well in production but causes a lot of strife when using docker or -dev/-stage environments, where the data is out-of-date and nearly all add-ons are not marked as 57+ compatible.

We need a config option that allows us to omit the v

[2018-01-15 08:22] AlexandraMoga commented on #4010
Verified in [#7062](https://github.com/mozilla/addons-server/issues/7062)

[2018-01-15 09:38] muffinresearch opened #4155 "Pass additional parameters through to the API"
TAAR is starting to use some new query string parameters in the disco pane so we should pass through `study` and `branch` as well as the `clientId`.

To make this easier in the future I'm wondering if we should just add a list for params that are OK to pass through, that way we just need to add to the list to send additional parameters.

[2018-01-15 16:48] muffinresearch commented on #4155
@tofumatt as mentioned earlier on irc we're going to just pass anything through to the TAAR from the API so we may as well do the same thing here, that way if TAAR want to add new things those params will just get passed along.

[2018-01-15 19:44] tofumatt commented on #4155
Sorry, just looking over this now, the issue isn't 100% clear: will these query params be passed to the Disco Pane URL? Right now our router expects [`/:lang/firefox/discovery/pane/:version/:platform/:compatibilityMode`](https://github.com/mozilla/addons-frontend/blob/master/src/disco/routes.js#L21), so I don't see those new params. Will they be query params (eg. `?study=foo&branch=bar`)

[2018-01-15 19:52] tofumatt commented on #4155
I'm not super clear on where these params are coming from so I need a bit more info to fix this actually. Sorry about that 😢

[2018-01-15 21:23] dessant commented on #3787
Could this be prioritized? The probability of seeing sometimes important details in the description is greatly decreased by the folded text.

[2018-01-16 09:22] ioanarusiczki opened #4158 "The text in About this extension section doesn't fill the box"
Steps to reproduce:
1. Log into AMO and choose any listed addon with a longer description (i.e. https://addons.allizom.org/en-US/firefox/addon/swarald/)
2. Observe how the text is displayed in About this extension section

Expected result:
The text fills the box.

Actual result:
The box is not entirely filled with text. An empty area is noticeable on the right side of the screen.

Notes:
Reproduce

[2018-01-16 10:49] tofumatt commented on #4158
This is intentional; filling the entire area with text would result in lines much too long and actually makes the text harder to read. So the `max-width` means on a larger screen there's some empty space there, but that's as designed. 😄

[2018-01-16 10:49] #4158 closed

[2018-01-16 11:39] muffinresearch commented on #4155
Here's an example:

[code]

[2018-01-16 14:59] mgdswedan opened #4161 "mgd"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-01-16 15:01] #4161 closed

[2018-01-16 15:01] tofumatt commented on #4161
Closing due to lack of information.

Please add information to your issue including the error you encountered, a URL (if applicable), and steps to reproduce.

[2018-01-16 17:12] #4155 closed

[2018-01-16 19:33] devaneymoz opened #4163 "25 January homepage content programming"
For the **Thursday, 25 January** push, please update the AMO homepage programming in accord with what's outlined [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#heading=h.e9p8yhnuv39m).

@EnTeQuAk @muffinresearch @diox

[2018-01-16 20:56] kumar303 commented on #3826
We would need something in [`populate_data`](https://github.com/mozilla/addons-server/blob/06206ba81e6b27f9b74e1402eb85ac128bf238ad/Makefile-docker#L80) like `python manage.py generate_homepage_collections` but that command doesn't exist so it also would need to be created.

I suggest filing an issue in `addons-server` asking for a command to generate/populate the home page collections (for starte

[2018-01-16 20:58] jrbenny35 commented on #3826
@kumar303 Well the thing is, the user 'mozilla' has a unique ```user_id``` that I can't create, or can't be created it seems. I have tried creating the 2 collections and it seems that, even though the collections are correct, the user is not.

According to this: https://addons-server.readthedocs.io/en/latest/topics/api/accounts.html#account

[2018-01-16 21:12] jrbenny35 commented on #3826
Actually, I got this figured out. Looks like I wasn't assigning a user to the generated collection.

[2018-01-16 21:12] #3826 closed

[2018-01-16 21:51] #4150 closed

[2018-01-17 09:50] AlexandraMoga commented on #4155
@tofumatt could you please add some steps to help us verify these changes?

[2018-01-17 10:00] tofumatt commented on #4155
This one is a server side only code part actually and I don’t think needs QA. Marked as QA not needed!

[2018-01-17 10:17] muffinresearch commented on #4155
@AlexandraMoga I think the best thing for a QA test would be to hit the stage discovery pane with the following:

You can change the url in `about:config` see `extensions.webservices.discoverURL`  you'll need to change the host to `discovery.addons.allizom.org`.  (see also the notes at: https://wiki.mozilla.org/Add-ons/Projects/DiscoveryImprovements#Testing)

* No extra paramters (reset the config

[2018-01-17 10:45] muffinresearch commented on #4155
Right now I get no recommendations from taar.dev.mozaws.net and taar.prod.mozaws.net is 503'ing.

[2018-01-17 13:32] AlexandraMoga commented on #3706
I've verified this on AMO-dev (Win10, Android 7.0) and here are my observations:
1. The suggestion was to have the notifications displayed at the top of the current block, but I see that  the position hasn't changed
2. The [specs](https://design.firefox.com/photon/components/message-bars.html) suggest that the information icon for error messages should be a **`!`**, but we have here an **`i`**
3.

[2018-01-17 14:23] tofumatt commented on #3706
Agreed on the links especially, they should be white alongside the text colour.

- Matt (Sent from mobile)

[2018-01-17 15:57] AlexandraMoga commented on #4155
@muffinresearch Thanks for the detailed steps.
I've applied the configuration in about:config and I've used the query parameters as suggested.
One thing is not very clear though:

Does this mean that once the clientId parameter is introduced, we should see different add-on suggestions in Discovery Pane?
For hat I've tried, Disco pane always returned the same results.

[2018-01-17 16:18] #4152 closed

[2018-01-17 16:22] muffinresearch commented on #4155
@AlexandraMoga as mentioned in my comment https://github.com/mozilla/addons-frontend/issues/4155#issuecomment-358266652 I don't currently see recommendations and apparently the recommendations engine is in a state of Flux on -dev.

I'll be looking to do an end to end test later with the TAAR team to validate they are seeing the params, I think from your perspective as long as nothing blows-up for

[2018-01-17 18:02] muffinresearch commented on #4089
Looks like this should change to a different breakpoint sooner.

[2018-01-17 18:05] muffinresearch commented on #4109
This seems like it might a caching issue - but it needs more investigation to find out what's going on here.

/cc @diox

[2018-01-17 18:08] kumar303 opened #4169 "Make adjustments to Photon notifications"
Follow up to https://github.com/mozilla/addons-frontend/issues/3706

Verified on AMO-dev (Win10, Android 7.0) and here are my observations:
1. The suggestion was to have the notifications displayed at the top of the current block, but I see that  the position hasn't changed
2. ~~The [specs](https://design.firefox.com/photon/components/message-bars.html) suggest that the information icon for error

[2018-01-17 18:11] muffinresearch commented on #4071
Looks like the dependent issue was resolved albeit the add-on mentioned in the STR is now at different URL https://addons.mozilla.org/en-US/firefox/addon/bitbucket-server/

[2018-01-17 18:11] #4071 closed

[2018-01-17 18:11] kumar303 commented on #3706
Thanks @AlexandraMoga, this is really helpful! I made a new issue as https://github.com/mozilla/addons-frontend/issues/4169 since it will be easier for me to track. A general rule of thumb is to only re-open an issue if we need to revert the code that landed. This is because we use issues to track which code is going out in what release. In this case, I don't think we need to revert the code but I

[2018-01-17 18:11] #3706 closed

[2018-01-17 18:12] tofumatt commented on #4121
Either way it's not a bug; just a lack of good data. I'd gather a new add-on has simply been added in the meantime.

[2018-01-17 18:12] #4121 closed

[2018-01-17 18:20] muffinresearch commented on #3813
Docs are here: http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#search

[2018-01-17 18:21] jrbenny35 opened #4170 "Infinite loop when accessing a category from the homepage using data from docker"
My work exists [here](https://github.com/jrbenny35/addons-server/tree/update_ui_test_config_for_frontend).

Environment:
I have created a collection with the user as 'Mozilla' and the collection is named 'be-more-productive'.

Steps to reproduce:
1. Create and fill database with addons
2. Start the amo frontend server using ```yarn amo```
3. Click on the 'Productivity' category under the 3 main fe

[2018-01-17 18:24] muffinresearch commented on #3776
@bqbn could we get gzip turned on for the favicons. CSS is already gzipped and we can't do gzip for HTML as yet.

[2018-01-17 18:26] #4069 closed

[2018-01-17 18:28] muffinresearch commented on #4023
@jawz101 is this working for you now or are you still experiencing an issue?

[2018-01-17 18:29] muffinresearch commented on #4037
Re-filed as https://github.com/mozilla/addons-server/issues/7189

[2018-01-17 18:29] #4037 closed

[2018-01-17 18:44] tofumatt opened #4171 "Rename all className imports to makeClassName"
This is just a convention change and it's quite small, but I liked that @kumar303 imported the `classnames` package as `makeClassName` instead of our usual `className` name [here](https://github.com/mozilla/addons-frontend/pull/4148/files#diff-79d1d6288c9a4baa1c738148e96b9b83R4).

Our naming of `className` over `classname` is already convention, so I say we do it everywhere and update the conventi

[2018-01-17 20:37] #4170 closed

[2018-01-17 21:54] #2768 closed

[2018-01-17 22:31] kumar303 opened #4175 "Fix error icon in Photon notification"
### Describe the problem and steps to reproduce it:

Trigger an error, such as viewing an incompatible add-on. You could try viewing https://addons-dev.allizom.org/en-US/firefox/addon/friday_fun/ in Firefox 57 which will show an error like "This add-on requires a newer version of Firefox."

### What happened?

An error message is rendered with an *i* icon

### What did you expect to happen?

The e

[2018-01-17 23:15] kumar303 opened #4176 "Re-style the Download Firefox page as seen in other browsers"
This [comment](https://github.com/mozilla/addons-frontend/issues/3706#issuecomment-345868336) had requested a new style for the Download Firefox page.

To view this page:

* Open Chrome (or any other non-Firefox browser)
* Go to the detail page for any add-on

It currently looks like:

<img width="1043" alt="screenshot 2018-01-17 16 37 49" src="https://user-images.githubusercontent.com/55398/35072

[2018-01-18 03:35] jawz101 commented on #4023
you can close it.  I am just ticking with the new account  email+firefox@domain.com convention

[2018-01-18 03:35] #4023 closed

[2018-01-18 12:02] muffinresearch opened #4179 "Switch from isNaN to Number.isNaN"
We should consider switching our use of the global `isNaN` to `Number.isNaN` - if we make this change we should make sure that we understand the subtle differences related to coercion in the global function in case we are currently reliant on that behaviour.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isNaN

See https://github.com/mozilla/addons-fronten

[2018-01-18 14:17] #4169 closed

[2018-01-18 14:51] AlexandraMoga commented on #2768
Verified on AMO-dev with FF57 (Win10 and Android 7.0)

Observations:
- Create a collection function works as expected
- Adding an add-on to an existing collection is possible and the add-on is listed among the other items inside the collection
- notification messages (success/errors) are triggered correctly

Notes:
There are some issues that concern mostly the layout of some specific elements for

[2018-01-18 15:03] AlexandraMoga opened #4181 "Add to collection drop down menu contains a redundant "Add to collection" option"
Follow up of [#2768](https://github.com/mozilla/addons-frontend/issues/2768#event-1429241861)

STR:

1. Log in to AMO-dev
2. Select an add-on to see its details page (i.e. https://addons-dev.allizom.org/en-US/firefox/addon/awesome-screenshot-plus-/)
3. Scroll down to More information section and click on Add to collection

Expected results:
A drop down menu with functional options is opened

Actua

[2018-01-18 15:09] AlexandraMoga commented on #3706
Since the issues mentioned above will be tracked separately, I am marking this as verified fixed.

[2018-01-18 15:36] AlexandraMoga commented on #4169
Verified as fixed on AMO-dev with FF57 (Win10, Android 7.0)

![image](https://user-images.githubusercontent.com/31961530/35105980-b4eada20-fc75-11e7-83c1-8d80141507a7.png)
</br>
![image](https://user-images.githubusercontent.com/31961530/35106015-ca852642-fc75-11e7-9666-ec130505d34f.png)
</br>
![pagerefr](https://user-images.githubusercontent.com/31961530/35106028-d46eaf5c-fc75-11e7-9b2c-f7dc16652

[2018-01-18 15:38] kumar303 commented on #4169
Thanks again for your help on this @AlexandraMoga . I picked the patch for today's release so that we'll be releasing the corrected notifications. https://public.etherpad-mozilla.org/p/amo-2018.01.18

[2018-01-18 15:44] AlexandraMoga commented on #4169
@kumar303 I'm glad you considered this helpful!

[2018-01-18 18:01] kumar303 commented on #4181
I know it's a bit weird but this was intentional. It's a limitation of using a select box as an action oriented UI element. /cc @pwalm in case he has any additional concerns here.

[2018-01-18 23:20] kumar303 commented on #4017
A few of the tests in https://github.com/mozilla/addons-frontend/pull/4182 kept failing with out of memory errors. I guess the Travis VM doesn't perform well with the polyfill. Instead of spending a lot of time investigating I'm just going to close this for now. Maybe there's another way to make the React warnings go away.

[2018-01-18 23:20] #4017 closed

[2018-01-19 04:05] genericnk opened #4183 "Hyperlink from Baris'"
### Describe the problem and steps to reproduce it:
Hyperlink not working for all the toolbar buttons from Baris...
http://barisderin.com/?p=18

### What happened?  Page not found.  Option to click on firefox addons, extensions, etc.

### What did you expect to happen?  I expected the hyperlink to take me to the add on I wanted.  "Sidebar Companion"

### Anything else we should know? nope.  I was

[2018-01-19 07:52] AlexandraMoga opened #4184 "Unbroken strings are breaking the layout for ' Added to <collection>' notification"
STR:

1. Log into AMO-dev
2. Select option 'View my collections' from the user menu
3. Click on Create a Collection to open the collection submission form
4. Fill in the fields of the submission form, making sure that your collection name includes a long unbroken string
5. Submit your new collection
6. Go back to AMO homepage and select an add-on to view its details page
7. Scroll down to 'More in

[2018-01-19 08:05] AlexandraMoga opened #4185 "A collection name with an unbroken string will cause layout issues on the collection details page"
STR:

1. Go to AMO homepage and access the following link displaying a collection page - https://addons-dev.allizom.org/en-US/firefox/collections/AlexandraMoga1/thiscollectiondoesn/
2. Observe the layout of the collection details block

Expected result:
Collection details are displayed without any layout issues

Actual result:
Collection name and description are not wrapped inside the collection d

[2018-01-19 08:55] AlexandraMoga opened #4186 "Ratings infotip doesn't match the actual rating stars associated with an add-on"
STR:

1. Access AMO homepage and go to Extensions tab
2. In Extensions homepage, click on "See more top rated extensions" (i.e. https://addons.mozilla.org/en-US/firefox/search/?sort=rating&type=extension)
3. Hover over the rating of the first listed add-on

Expected result:
A tooltip witch matches the actual stars associated with the add-on is displayed

Actual result:
The tooltip shows different

[2018-01-19 11:26] KhushilMistry commented on #4171
Hey @tofumatt , I want to work on this. I have deployed the app on the local server.
So I have have to use this new convention every component of the amo, right ?

[2018-01-19 11:29] tofumatt commented on #4171
That’s right. Everywhere in the app should be changed.

- Matt (Sent from mobile)

[2018-01-19 11:57] KhushilMistry commented on #4171
I have made a PR #4187. Can you review it ?

[2018-01-19 12:41] muffinresearch commented on #4183
Hi @genericnk. It's not clear from the description what this issue relates to.

If you're having a problem with a specific add-on please contact the author for assistance. Generally this issue tracker should only be used for issues related to the usage of the https://addons.mozilla.org site.

If you think this _is_ a bug with the site please reopen this ticket and add more information so we can be

[2018-01-19 12:41] #4183 closed

[2018-01-19 12:44] muffinresearch commented on #4185
@kumar303 assigning this to you since it affects collections, but I'm thinking this might be an issue in general if this component style is shared>

[2018-01-19 15:25] #4171 closed

[2018-01-19 15:56] ioanarusiczki opened #4188 "The 'Featured add-ons only' check box is hardly visible and doesn't always respond to tapping"
Steps to reproduce:

1.Access the AMO homepage on your mobile device.
2.Tap on "Find add-ons" and enter a valid term that would return results.
3.Open the Filter results and try to tap on the Featured add-ons only check box.

Expected result:
The check box is selected and the list of search results is renewed.

Actual result:
The check box is unresponsive.

Notes:
When the screen is zoomed in the

[2018-01-19 16:49] kumar303 commented on #2161
I've been trying to connect components to react-redux-router's state but [this is apparently unsupported](https://github.com/reactjs/react-router-redux/issues/205#issuecomment-173087259) because the state is not always in sync with react-router (wtf). After reading some issues, react-router seems like a big mess.

I've been looking at http://router5.github.io/ which may be a good alternative. The

[2018-01-19 17:02] kumar303 commented on #2161
http://router5.github.io/docs/understanding-router5.html

This is exactly what I want in a router ^

As far as I can tell, you can't do this with react-router-redux because react-router doesn't offer enough hooks. E.G. You still have to use route handlers for initial component rendering.

[2018-01-19 17:14] kumar303 commented on #1248
This was fixed in https://github.com/mozilla/addons-frontend/pull/2971 🌹

[2018-01-19 17:14] #1248 closed

[2018-01-19 17:57] muffinresearch opened #4189 "Can't install multiple extensions in Disco Pane"
Re-filing from https://github.com/mozilla/addons-server/issues/7343 originally reported by @cosminbadescuSV

### Describe the problem and steps to reproduce it:
1.Open Firefox.
2.Go to about:addons web page.
3.Toggle the install button for multiple extensions.
4.Observe the toggle button of the extensions.

### What happened?
The toggle button of some extensions is stuck and the extensions are not

[2018-01-19 17:57] muffinresearch commented on #4189
I can repro this. Looks like the 2nd install clears the dialogues for the currently in progress install which leaves it in a downloaded/pending state.

I can see this might be one of two issues, either there's an event firing for cancellation that's not listened to, or a bug in Firefox that means the second install doesn't cancel the first. We'll need to figure out which.

Even if this is a Firefo

[2018-01-19 18:01] muffinresearch opened #4190 "Toggle button of the extension is not displayed correctly on resize"
Refiled https://github.com/mozilla/addons-server/issues/7342 originally reported by @cosminbadescuSV

### Describe the problem and steps to reproduce it:
1.Open Firefox.
2.Go to about:addons web page.
3.Resize the web page.
4.Observe the toggle button of the extension.

### What happened?
The toggle button of the extension is displayed on the left side after resize.

### What did you expect to hap

[2018-01-19 18:09] muffinresearch commented on #4163
@tofumatt let me know if you need a hand to get this done, we could potentially split it up.

[2018-01-19 20:52] imrjk07 commented on #4089
I found what to fix. But i need some assistance in making the change.

[2018-01-19 21:59] kumar303 commented on #4120
This is pretty bad. It's not just the type filter -- none of the filters are remembered between searches. Well spotted.

[2018-01-19 23:48] dalehenrich opened #4192 "Wunderlist addon is missing?"
### Describe the problem and steps to reproduce it:
Attempted to follow the Wunderlist[1] download link for firefox[2] and ended up on the this page[3] with a tiny "page not found" message ... I was using Wunderlist on my other machine with a probably slightly older version of FireFox, but I got a new laptop yesterday and today installed the latest version of firefox and then tried to install Wund

[2018-01-22 03:27] KhushilMistry commented on #4186
Hey, I want to work on this issue.
I have gone through all the components. I guess its creating problem in rating component.
Here, what can be wrong ? Rating-half-star class or Description ?

[2018-01-22 04:27] KhushilMistry commented on #4190
Hey, I want to work on this issue.
Toggle button should be right align always, right ?

[2018-01-22 04:36] KhushilMistry commented on #4179
Hey, I want to work on this issue.
Will make a pull request as soon as possible.

[2018-01-22 06:53] AlexandraMoga commented on #4170
Are there any steps to follow in order to verify this from our end?

[2018-01-22 12:49] davidhedlund commented on #3813
This should be fixed to make it possible for people keep their add-on collections up to date.

[2018-01-22 15:21] kumar303 commented on #4170
@AlexandraMoga this one is hard to reproduce without running your own server and configuring the homepage collection data. It would be helpful if you could test the home page collection features for any regressions after we made this change.

[2018-01-22 15:35] kumar303 commented on #4186
@KhushilMistry thanks for your interest.

This creates the half-star. The comment explains how we calculate half stars. https://github.com/mozilla/addons-frontend/blob/181b81e7e3e6c0e17da386558d8a8fb62ffe1c0d/src/ui/components/Rating/index.js#L58

This creates the "5 out of 5" label. https://github.com/mozilla/addons-frontend/blob/181b81e7e3e6c0e17da386558d8a8fb62ffe1c0d/src/ui/components/Rating/i

[2018-01-22 16:00] tofumatt commented on #4163
Sorry, forgot to reply, but shouldn't be an issue. Just getting to it now but it should be ready soon. 😄

[2018-01-22 16:26] muffinresearch commented on #4179
@KhushilMistry ok thank! I'll mark this contrib:assigned, please reference this issue in the PR.

[2018-01-22 16:35] willdurand commented on #4179
@muffinresearch how does that `Number.isNaN` behave on the server?

[2018-01-22 16:55] kumar303 opened #4193 "Store collection add-on notes/comments in reducer state"
In order to display add-on comments (https://github.com/mozilla/addons-frontend/issues/3890) we need to store add-on notes in state.

They are currently ignored: https://github.com/mozilla/addons-frontend/blob/181b81e7e3e6c0e17da386558d8a8fb62ffe1c0d/src/amo/reducers/collections.js#L443

For QA: please test for any regressions in collection related pages (including the home page).

Collections tra

[2018-01-22 17:15] kumar303 opened #4194 "API helpers for editing a collection"
We need API helpers to facilitate editing a collection https://github.com/mozilla/addons-frontend/issues/4002

For QA: please check for regressions in any of the existing collection pages

[2018-01-22 17:21] kumar303 opened #4195 "Delete a collection"
After creating a collection (see https://github.com/mozilla/addons-frontend/issues/4003 or use the legacy site), the user should be able to enter the edit mode (see https://github.com/mozilla/addons-frontend/issues/4002) and then click the delete button shown in the bottom left of the overlay. This will remove the collection from all listings.

<img width="685" alt="screenshot 2018-01-22 11 21 04"

[2018-01-22 17:34] kumar303 opened #4196 "Saga helpers for editing a collection"
We need saga helpers to facilitate editing a collection https://github.com/mozilla/addons-frontend/issues/4002

For QA: please check for regressions in any of the existing collection pages

[2018-01-22 17:51] erosman opened #4197 "Add-on screenshot images up-scaling degrades quality"
I noticed that on AMO screens/images are up-scaled which causes them to lose clarity, especially for small images.

Example:
https://addons.mozilla.org/en-US/firefox/addon/foxytab/

Transferred from: https://github.com/mozilla/addons/issues/627

[2018-01-22 17:59] kumar303 opened #4198 "Add a new overlay for editing in context (like for collections)"
We need an overlay component for editing or creating something in the context of something else. For example, you may need to create a collection from the collection listing screen. We have an existing overlay component but it has a lot of problems. See https://github.com/mozilla/addons-frontend/issues/3636

**For QA**: The actual overlay won't be testable until https://github.com/mozilla/addons-f

[2018-01-22 19:44] muffinresearch commented on #4190
@KhushilMistry yes, though it's the other way around for RTL locales.

E.g:

<img width="540" alt="dynamic_media_downloaders_ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/35240839-9f6dbc78-ffac-11e7-93d3-6859e242b7f0.png">

[2018-01-22 19:45] muffinresearch commented on #4190
@KhushilMistry I've marked this contrib:assigned - please reference this issue in your PR - thanks!

[2018-01-22 20:07] #4163 closed

[2018-01-22 21:09] #4120 closed

[2018-01-22 22:35] jvillalobos commented on #3813
Here's why I don't think we should do this:
* We have a sort option for last updated, which is very close to "newest" (almost redundant). Having both of them seems excessive and noisy.
* We should choose our sort options carefully, since there's limited UI space, particularly on mobile.
* Most people asking to bring back "newest" are very active community members who are constantly looking at the

[2018-01-22 22:46] tofumatt commented on #3813
Sounds like this is not a feature that should be surfaced in the UI of the site. As @jvillalobos mentioned: it's a good candidate for a community-supported feature using the API, and as @cadeyrn mentioned it is possible to produce even on the site by changing the URL for the users who really desire the feature.

Given the limited space for UI we have and our aim to reduce complexity, I'm gonna clo

[2018-01-22 22:46] #3813 closed

[2018-01-23 00:36] devaneymoz opened #4202 "Implement new "Card" design for hero area of homepage"
Recent user testing confirms that AMO's current design for the hero area (main upper portion of the homepage where the carousel traditionally sits) can be improved. UX has designed a new approach—called "cards"—we'd like to implement as soon as possible.

Specs courtesy of pwalm.

![card_specs](https://user-images.githubusercontent.com/8496249/35251895-77da8e26-ff92-11e7-9f59-ad8f85b4fc12.png)

[2018-01-23 03:51] davidhedlund commented on #3813
This is not the same thing as to sort add-ons by the date of their first version, right?

[2018-01-23 03:52] davidhedlund commented on #3813
@tofumatt @jvadillo

This is not the same thing as to sort add-ons by the date of their first version, right?

[2018-01-23 09:37] AlexandraMoga commented on #4186
There aren't such clear examples on dev and stage,
I had two add-ons which I thought might be affected but, after checking the rule you are using for calculating half stars, I am not so sure they are the best examples.
Nevertheless, here is what I had in mind:
for -dev: https://addons-dev.allizom.org/en-US/firefox/addon/code_count/
for stage: https://addons.allizom.org/it/firefox/addon/tab-mix-plu

[2018-01-23 10:35] ioanarusiczki commented on #4163
@tofumatt I verified the new extensions added in hero/carousel on AMO dev FF57 (Win 10 and Android 8.0)
I've noticed that the banners display a shorter name for two extensions.
"Firefox Multi Account" containers is displayed as "Multi Account container" https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/ and "Grammarly for Firefox" is displayed as "Grammarly" https://addons.mo

[2018-01-23 12:37] vcarciu commented on #4170
@kumar303 : performed exploratory testing around home page collections and everything looks fine . Marking as verified.

[2018-01-23 12:44] muffinresearch commented on #4202
@devaneymoz have these been tested and proved to perform better? I may have missed the research that was carried out, are there any details of the user testing performed?

@pwalm From this screenshot alone it's hard to understand how these will work in the homepage, I see the cards in the Sketch file but is there a mock of this all together - when should the 3 cards vs 4 cards be used.

Also what

[2018-01-23 12:46] muffinresearch commented on #4198
@kumar303 do we have details of how these would work on mobile - does the modal just essentially fill the screen?

[2018-01-23 12:56] tofumatt commented on #4163
Yes, these shorter titles are intended for the homepage :-)

[2018-01-23 13:35] ioanarusiczki commented on #4120
I verified this issue on AMO dev, FF57 (Win 10 and Android 8.0)
The filters are preserved when typing a new search.

![filter not reset win](https://user-images.githubusercontent.com/33448286/35278453-c4acc78a-0052-11e8-9240-5dffc7c0b632.gif)

![filter not reset](https://user-images.githubusercontent.com/33448286/35278463-cf540c3e-0052-11e8-8cc0-e8925b7994bb.gif)

[2018-01-23 14:40] ioanarusiczki commented on #4163
@tofumatt Ok, I'm marking it as verified fixed on AMO dev FF57 (Win 10 and Android 8.0).

[2018-01-23 15:51] jvillalobos commented on #3813
"Last updated" sorts add-ons by the date the last version was uploaded, IIRC. This means you get a mix of the newest add-ons and the add-ons that had new versions recently uploaded.

[2018-01-23 16:40] vcarciu commented on #1248
@kumar303 Please add some STRs to this bug or mark it as "qa: not needed"

[2018-01-23 17:01] #4194 closed

[2018-01-23 17:18] miketaylr opened #4204 "Cannot navigate profile pages in AMO with Fennec"
Originally filed @ https://bugzilla.mozilla.org/show_bug.cgi?id=1428041

### Describe the problem and steps to reproduce it:

1. Go to https://addons.mozilla.org/en-US/firefox/user/andreipetcu/ or any other AMO profile with more than 5 extensions so it will have pages.
2. Click the next button

Expected results:
Go to next page.

Actual results:

Nothing. I cannot navigate to the next page.

Note:

[2018-01-23 17:23] vcarciu opened #4205 "Actions from reviewers tools are visible only after scrolling down"
Steps to reproduce:
1.Go to Reviewer Tools and open an add-on (https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/mixed-add-on)

Expected results:
A list of actions is displayed in the right side of the page

Actual results:
The actions are visible only after scrolling down the page

NOTES:
Issue was reproducible on Win10x64, FF 57

Please see video for this bug :
![actionsrevtools](h

[2018-01-23 17:24] tofumatt commented on #4205
The reviewer tools are currently not part of the addons-frontend so this should be moved to addons-server.

[2018-01-23 17:24] #4205 closed

[2018-01-23 17:26] vcarciu opened #4206 "Add some space between "Private whiteboard" section and "Update whiteboard" button"
Steps to reproduce:
1.Go to Reviewer Tools and open an add-on (https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/mixed-add-on)

Expected results:
We should have some space between "Private whiteboard" section and "Update whiteboard" button

Actual results:
There is almost no space between "Private whiteboard" section and "Update whiteboard" button

NOTES:
Issue was reproducible on Wi

[2018-01-23 17:29] tofumatt commented on #4206
The reviewer tools are currently not part of the addons-frontend so this should be moved to addons-server. Moved to https://github.com/mozilla/addons-server/issues/7377

[2018-01-23 17:29] #4206 closed

[2018-01-23 17:31] tofumatt commented on #4204
Technically this is an issue with addons-server as this page is still rendered by the old Django app.

That said, this will be fixed by #2749 so we don't need to move it.

[2018-01-23 18:11] kumar303 commented on #4198
@pwalm how should this work on mobile?

[2018-01-23 18:14] kumar303 commented on #3636
@pwalm I see that you started a mock for this (based on Collections) in the Sketch file but it's incomplete. Is this something you're still working on?

I'm not sure if my idea for the inline-editor will work or not. We could still do an overlay, perhaps one like https://github.com/mozilla/addons-frontend/issues/4198

[2018-01-23 18:19] kumar303 commented on #4186
Showing 4 stars with a label of 'Rated 4.4 out of 5' would be expected behavior in that case. We only render a half-star for rating values between 4.5 and 5.0.

[2018-01-23 19:19] miketaylr commented on #4204
Thanks @tofumatt
(it's hard to know where exactly to file issues for AMO...)

[2018-01-23 19:45] tofumatt commented on #4204
Yeah, I totally understand :-)

No worries! :-)

[2018-01-24 04:49] pwalm commented on #3636
Yep, still working on it. Let's chat about it IRL in the front-end/ux meeting.

[2018-01-24 04:51] pwalm commented on #4198
Great question. I'll have to design breakpoints for this UI, but that's something that needs to happen on quite a few screens (2018!!), so I'll do some work on that.

Short answer: that same, but thinner.

[2018-01-24 04:55] pwalm commented on #4181
It is a bit weird... there's no way that "Add to collection" can just appear as a subhead or title?

[2018-01-24 04:56] pwalm commented on #4202
@muffinresearch Just wanted to get these screens out the door last week, I'll make a more detailed spec with answers to your questions this week.

[2018-01-24 04:59] pwalm commented on #4176
Standard message bar, but green and with a little firefox icon:
<img width="857" alt="screen shot 2018-01-23 at 8 56 50 pm" src="https://user-images.githubusercontent.com/6797635/35315267-4ef830a0-0080-11e8-9125-b4205d8083d1.png">

Not sure on the messaging, let me follow up with content.

[2018-01-24 05:24] bqbn commented on #632
This is now on -dev and -stage.

[2018-01-24 10:34] muffinresearch opened #4211 "Uncompressed CSS on stage is 5.84mb vs 1.75mb on prod"
Just noticed this checking out the cache immutable changes.

I'm not sure what's changed, but we should check this out before release in case there's a been any changes resulting in a lot more CSS being generated etc.

[2018-01-24 10:50] muffinresearch commented on #4211
Running the prod build locally e.g:

[code]

I can confirm the size difference for the pending tag (2018.01.25) versus the previous one.

[2018-01-24 11:07] muffinresearch commented on #4211
The commit that regressed the CSS bundle is https://github.com/mozilla/addons-frontend/commit/48b6c12f636080005b62aadcf9229084752ab3db which is the homepage content update.

[2018-01-24 13:11] muffinresearch commented on #4181
I agree this is a bit odd and we should re-think it.

@kumar Is there any way we can config off this UI until we can resolve it. I think in general it might be better to feature flag all the collections UI in the new frontend until we have more of it so that we can ensure it hangs together correctly.

As @pwalm suggest, a quick fix to this specific problem would be to add a label to the select say

[2018-01-24 13:12] muffinresearch commented on #4181
Marking this as blocks release, I think we should either update the markup or set this up with config so it's not exposed on prod.

[2018-01-24 13:52] AlexandraMoga opened #4212 "The 'log out' state is not captured by the new frontend when a user signs out"
STR:

1. Log into AMO -dev (new frontend)
2. Navigate to a page located on the old AMO (i.e. Developer Hub)
3. Sign out

Expected result:
User is redirected to (new) AMO homepage where he is also logged out

Actual result:
User is still shown as logged in on the new AMO homepage

Notes:
Reproduced on AMO-dev and stage with FF58 (Win10)

![log out](https://user-images.githubusercontent.com/31961530

[2018-01-24 13:53] muffinresearch opened #4213 "Assume HTML for collection descriptions"
The API currently has a special case for translated content for collection descriptions. This process will handle any HTML in the descriptions. For descriptions with no HTML this may result in `&` being sent by the API as `&amp;`

To fix this we should use DangerouslySetInnerHTML + DOMPurify on collection descriptions, and we can set the allowed tags to an empty list since they shouldn't actually

[2018-01-24 15:15] KhushilMistry commented on #4179
Hey, I have made a PR #4214. Can you review this ?

[2018-01-24 15:18] tofumatt commented on #4179
Sure thing, we get notifications of new PRs so someone from the team will take a look next chance we get. There's no need to notify us in the issue 😄

[2018-01-24 16:39] kumar303 commented on #4181
@pwalm how about making it into a standalone card?

<img width="523" alt="screenshot 2018-01-24 10 34 53" src="https://user-images.githubusercontent.com/55398/35344289-634034fa-00f2-11e8-82cd-30eb1e5a1a45.png">
<img width="495" alt="screenshot 2018-01-24 10 35 09" src="https://user-images.githubusercontent.com/55398/35344294-66d9e9f8-00f2-11e8-9cb8-649caed97d06.png">

<details>
<summary>See a scre

[2018-01-24 17:00] caitmuenster commented on #4089
Hi @imrjk07! Thanks for your interest. This one might be a little bit complicated if this is your first contribution. Would you be interested in getting started with #[7377](https://github.com/mozilla/addons-server/issues/7377) instead?

[2018-01-24 17:01] tofumatt commented on #4211
I think the best way around this is to un-complicate the CSS we use for the homepage. It will make it a bit less dynamic but I think is worth it because:

1. we may actually be moving to another “Card” header anyway
2. it reduces CSS weight a LOT

[2018-01-24 18:18] kumar303 commented on #4212
Well, huh. Log out is broken on stage too (but not prod) which means this is something to do with the release tag. I made it a blocker.

I can also reproduce it like this:
- Clear all cookies
- Sign into the frontend
- Click the logout button. This shows a logged out state.
- Refresh the page. This shows a logged in state (the same bug).

[2018-01-24 18:38] kumar303 commented on #4212
Wow, good catch @AlexandraMoga 💥 It looks like a server issue: https://github.com/mozilla/addons-server/issues/7388

[2018-01-24 19:00] devaneymoz commented on #4202
@pwalm @muffinresearch

Also, the question about testing this concept may be best answered by pwalm. Is there some way we can execute some basic user testing on cards to help validate the concept?

[2018-01-24 19:46] #4181 closed

[2018-01-24 19:47] kumar303 commented on #4181
We went with the UX proposed up above. You can see more screenshots at https://github.com/mozilla/addons-frontend/pull/4215

[2018-01-24 20:14] jimmy1948 opened #4217 "youtubenem jatszale a videokat HTML5 Követel kristonimre02@gmail.com"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-01-24 20:16] tofumatt commented on #4217
Closing due to lack of information.

Please add information to your issue including the error you encountered, a URL (if applicable), and steps to reproduce.

[2018-01-24 20:16] #4217 closed

[2018-01-24 20:19] jimmy1948 commented on #4217
youtube nemjatszale a vdeokat HTML5 Lejatszotkövetel

[2018-01-24 20:20] tofumatt commented on #4217
Hi @jimmy1948,

If you're having an issue with the add-ons site please let us know what the issue is and which URL you encountered the error on.

It sounds like you're encountering an issue with YouTube, which we can't help with.

[2018-01-24 20:33] #4211 closed

[2018-01-24 21:17] #4196 closed

[2018-01-24 22:19] kumar303 opened #4218 "The paginator does not handle non-numeric pages correctly"
### Describe the problem and steps to reproduce it:

* Go to any URL that has a paginated result set. For example, go to the home page and click on *See more popular extensions*.
* Click on a next page link so that you see `?page=2` in the URL
* Manually edit the URL bar to make that `?page=bla`, for example: https://addons-dev.allizom.org/en-US/firefox/search/?page=bla&sort=users&type=extension

[2018-01-24 22:24] kumar303 commented on #4179
In all cases, we use `isNaN()` to check whether a string is numeric or not. On further inspection, `Number.isNaN()` is not intended for this case. It seems intended for checking if a value is literally `NaN`.

Actually, this led me to discover a bug: https://github.com/mozilla/addons-frontend/issues/4218

I'm closing this for now because I can't think of a case where we need `Number.isNaN()`.

[2018-01-24 22:24] #4179 closed

[2018-01-24 22:37] kumar303 commented on #4218
On a closer look, `parseInt()` is used to mitigate the fact that `Number.isNaN()` doesn't report strings as not numbers. And since `parseInt()` returns `NaN` for strings then it's safe to use.

Also, I realize that a 404 is in the intended result here! My bad.

[2018-01-24 22:37] #4218 closed

[2018-01-24 22:41] kumar303 commented on #4179
Whoops, the bug I said I discovered was not a bug.

However, I think it would be risky to try and port some things to `Number.isNaN()` and not others. When glancing at our usage of `isNaN()`, it will only be safe to use `Number.isNaN()` in one case. Feel free to re-open if someone thinks we should still pursue it.

[2018-01-24 23:07] imrjk07 commented on #4089
Hello @caitmuenster , Thanks for replying. I tried to recreate the issue #7377. But i'm not sure the link in that issue is taking me somewhere and not seeing the issue page.

[2018-01-25 08:29] sayedzaid opened #4220 "addon is not getting installed"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-01-25 09:03] AlexandraMoga opened #4221 "AMO-stage is not loading the page CSS content"
STR:

1. Access AMO-stage at https://addons.allizom.org/en-US/firefox/
2. Observe how the page content is loaded

Actual result:
The page CSS content is not loaded (404 received in the console)

Expected result:
AMO homepage content is loaded correctly

Notes:
- reproduces only on AMO-stage with FF58 (Win10x64 and Android 7.0)
- you might need to refresh the page if the error is not visible on the

[2018-01-25 09:55] AlexandraMoga commented on #4181
Having "Select a collection" as first option in the drop-down list still seems redundant, but, if this is the best workaround for now, I believe we can work with that..

![image](https://user-images.githubusercontent.com/31961530/35381852-3fca1cbe-01c6-11e8-96fb-b9177b59f427.png)

[2018-01-25 10:54] tuvia5761 opened #4222 "betternet"
### Describe the problem and steps to reproduce it:

i searched up betternet for firefox
i followd a link to the website
i clicked "get the app"
the link took me to the extensions store, and the app was not there
### What happened?
the app did not show up in the extensions store
### What did you expect to happen?
to be able to install the addon with no dificulty
### Anything else we should know?

[2018-01-25 11:31] AlexandraMoga opened #4223 "Selecting "Create new collection" from add-on details page will not include the listed add-on in the new collection"
STR:

1. Log into AMO homepage
2. Select an add-on to see its details page
3. Scroll down to Select a collection section and click on 'Create new collection"

Actual result:
The user is redirected to the collection creation form but the listed add-on is not automatically included in the new collection

Expected result:
The listed add-on is automatically included in the new collection when the user

[2018-01-25 12:29] vcarciu commented on #4211
@tofumatt : do you have some specific STRs to this issue? If not, please add the "qa: not needed" label.

[2018-01-25 13:10] AlexandraMoga commented on #4221
per @muffinresearch's  comment on irc, this is " a Staging deployment issue. Waiting for ops"

[2018-01-25 13:14] AlexandraMoga commented on #4212
This appears to be fixed on -dev.  Can we close this issue?

[2018-01-25 13:39] vcarciu opened #4224 "[Legacy pages] A second search for collections will show add-ons suggestions"
Steps to reproduce:
1.Go to AMO , legacy pages
2.Search for a collection and press Enter
3.Search again for a collection

Expected results:
For collections, there is no search suggestions

Actual results:
Search suggestions are displayed under search box and the suggested items are add-ons not collections

NOTES:
Reproducible in production
Tested with Win10x64, FF release

Please see video for thi

[2018-01-25 13:56] tofumatt commented on #4224
I think for legacy pages we should not be filing in addons-frontend. The fixes will not be committed in this repository and the code is unrelated. Could you please move this issue? Thanks!

[2018-01-25 13:56] #4224 closed

[2018-01-25 13:57] vcarciu commented on #4224
@tofumatt : Where should I move this one ?

[2018-01-25 13:58] tofumatt commented on #4223
That's a good point. I guess we should add something to the new collection creation URL (probably just on the new frontend, not worrying about addons-server code) that includes the add-on ID so the newly-created collection adds it on creation.

[2018-01-25 13:58] tofumatt commented on #4224
Any pages with the old style belong on addons-server.

[2018-01-25 13:59] vcarciu commented on #4224
@tofumatt : thanks!

[2018-01-25 13:59] tofumatt commented on #4222
Could you please include a link to the add-on URL where you encountered the error?

It sounds like the add-on was unlisted/is no longer available. In that case we might be able to tell you why but it's up to the add-on developer to restore their extension to the site. Sorry about that.

[2018-01-25 14:04] tofumatt commented on #4220
Closing due to lack of information.

Please add information to your issue including the error you encountered, a URL (if applicable), and steps to reproduce.

[2018-01-25 14:04] #4220 closed

[2018-01-25 14:17] diox commented on #4212
Closing, this was a server issue that was fixed in mozilla/addons-server#7388

[2018-01-25 14:17] #4212 closed

[2018-01-25 15:38] madalincm opened #4225 "Labels are displayed underneath their specific value in the collection detail page"
### Steps to reproduce:
1. Open a collection detail page: https://addons.allizom.org/en-US/firefox/collections/updateSF/madalinawesomecollection/
2. Observe the collection details in the left hand side of the page

### Expected results:
In the details section the labels Add-ons, Creator and Last update are displayed on top of their specific value.

### Actual results:
The labels are displayed unde

[2018-01-25 15:43] tofumatt commented on #4225
This is the intended design, according to the mocks. Closing as a won't fix.

[2018-01-25 15:43] #4225 closed

[2018-01-25 15:57] AlexandraMoga commented on #4212
Verified as fixed on AMO-dev, FF58 (Win10, Android 7.0)

[2018-01-25 15:59] AlexandraMoga commented on #4194
We looked for regressions around the existing collection functions and everything seems to work as expected.

[2018-01-25 16:05] muffinresearch commented on #4221
OPs are currently looking into it and re-deploying stage.

[2018-01-25 17:18] muffinresearch commented on #3954
Yep I see the same thing trying that.

[2018-01-25 17:21] kumar303 commented on #4221
The ops team has sorted out the deployment failures. Stage looks healthy again: https://addons.allizom.org/en-US/firefox/

[2018-01-25 17:21] #4221 closed

[2018-01-25 17:26] kumar303 commented on #4223
The current option, *Create a new collection…*, is just a placeholder for convenience that lets users literally create a new collection and that's it. The feature you are requesting is definitely valid and we will be adding it in https://github.com/mozilla/addons-frontend/issues/3993 so I'm marking this as a duplicate.

[2018-01-25 17:26] #4223 closed

[2018-01-25 17:43] vcarciu commented on #4221
Verified as fixed.

[2018-01-25 17:46] kumar303 opened #4226 "The first item in the Add to collection menu should be disabled"
### Describe the problem and steps to reproduce it:

Go to any add-on detail page. Scroll to *Add to collection* and click on the select box to open the menu.

### What happened?

The first item is *Select a collection…* which looks like any other actionable item.

### What did you expect to happen?

This first item is not an actionable option. It should be disabled but it's not:

![image](https:/

[2018-01-25 17:47] kumar303 commented on #4181
I see what you're saying. I didn't think there was a way to fix it but I did some research and I have an idea. I filed a new issue: https://github.com/mozilla/addons-frontend/issues/4226

[2018-01-25 18:32] kumar303 opened #4229 "The site sometimes loads without any styles"
In prod the site was sometimes loading without styles.

Example: `404 https://addons-amo.cdn.mozilla.net/amo-69e8718763f05c8201cce284cc051a23.css`

[code]

[2018-01-25 18:33] #4229 closed

[2018-01-25 18:40] kumar303 commented on #4229
Note that we experienced the missing styles issue on stage but the root cause of the bug was not clear. We were having stage deployment failures and a re-deploy seemed to make the styles load again. This could have been dumb luck in how stage only runs with two instances.

[2018-01-25 18:43] muffinresearch opened #4230 "Prevent the use of random() in SASS files"
Deployments rely on idempotent builds of the static content for the same set of source files. Idempotent builds should result in the same hash for the output file given the same set of input.

Using something that randomizes content at build time such as `random()` in SASS will result in a different hash for subsequent builds. (Of course you might luck out and get two builds that have the same res

[2018-01-25 18:47] muffinresearch commented on #4230
Looks like this might be useful to do this: https://stylelint.io/user-guide/rules/function-blacklist/

[2018-01-25 18:57] anweshknayak commented on #3900
@muffinresearch how to expose this? Make it like blue or dark black?

[2018-01-25 19:21] mail3dexter opened #4232 "Plugin page suddently showing as missing"
Today, I had downloaded a well known plugin knows as CompareIt/BuyHatke and later I tried to download on my other laptop and it was not present on mozilla addons page. I am getting "Sorry, but we can't find anything at the address you entered." message on firefox page.

This should be the addon page from where it should be downloaded:
https://addons.mozilla.org/en-US/firefox/addon/compare-hatke/

[2018-01-25 19:22] tofumatt commented on #4232
Unfortunately it's likely the add-on was unlisted and it's up to the add-on developer to get it listed again. It's possible @jvillalobos could explain why it's been unlisted but that's about all we can help with, sorry about that 😢

[2018-01-25 19:22] #4232 closed

[2018-01-25 19:36] jvillalobos commented on #4232
It was either deleted or renamed. I can't find more information about it.

[2018-01-25 19:40] mail3dexter commented on #4232
I found 1 more link from the author's website to same plugin but the result is same:
https://addons.mozilla.org/firefox/downloads/file/731316/buyhatke_price_comparison_and_price_graph-3.4.276-an+fx.xpi

[2018-01-25 19:58] anweshknayak commented on #4175
@kumar303 can I do this ?

[2018-01-25 20:02] anweshknayak commented on #3275
Can I take this up ?

[2018-01-25 21:15] vcarciu commented on #4229
Verified as fixed in production. There are no missing styles.

[2018-01-26 01:49] diox commented on #3730
FWIW, the webpagetest runs I've been doing suggest that it might help quite a bit, even if done in the HTML.

![Connection Waterfall](https://www.webpagetest.org/waterfall.png?test=180125_MK_98236855cacdafaa6ba7b3e39b466c76&run=1&width=930&type=connection&mime=1)

But as @digitarald said, we only need to list origins, not full URLs, so it's probably best to do this as a header. In any case, it loo

[2018-01-26 10:24] diox opened #4235 "Find ways to improve performance of the frontend"
I did some measurements of the load time of the new frontend vs the legacy site. Since we have lost our access to speedcurve I used webpagetest.

I used "Dulles, VA - Firefox" in WebPageTest, with 3 runs (using median for results), first view only, cable connection, private. For the legacy site, I used their scripting capabilities to set the cookie, as setting through a custom header didn't seem t

[2018-01-26 10:34] diox opened #4236 "Run developer-uploaded images through pngcrush/optipng/jpegoptim"
We load a lot of images we don't control, and we should make sure they are as optimized as they can. This means running them through lossless compression tools like pngcrush, optipng, and jpegoptim. We can save a lot by doing this.

We did this in Marketplace a while ago. The main caveat was that cachebusting needed to take this into account, because it had to happen on a separate task, so we'd re

[2018-01-26 10:35] diox commented on #4236
oops, wrong repos. I'll refile over addons-server.

[2018-01-26 10:35] #4236 closed

[2018-01-26 10:37] diox commented on #4235
Relevant issues that would help:
- [Add Preconnect header for mozilla CDNs](https://github.com/mozilla/addons-frontend/issues/3730)
- [Run developer-uploaded images through pngcrush/optipng/jpegoptim](https://github.com/mozilla/addons-server/issues/7406)

[2018-01-26 10:44] muffinresearch commented on #3900
@anweshknayak as a starting point it can follow the other metadata e.g how version is exposed:

<img width="490" alt="adblock_plus_ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/35435423-9914a8ea-0282-11e8-9f79-9310c73aa9b7.png">

[2018-01-26 11:00] muffinresearch commented on #4235
@diox thanks for doing this it would appear that we may have gotten slower since launch. Would be interesting to see if we get any benefits from reducing the pre-compressed CSS size to approaching a quarter of what it was now that's shipped.

First load is a good metric to have and we should aim to get this down from where it is. However one positive side-effect of the that upfront load penalty is

[2018-01-26 11:04] AlexandraMoga commented on #4226
I'm afraid this didn't help much because now the "Create new collection" option is not working anymore:

![coll](https://user-images.githubusercontent.com/31961530/35436938-083b15cc-0299-11e8-92e0-b747b01e939e.gif)

[2018-01-26 11:38] diox commented on #4235
Re-ran the tests on the new site today, so post-push. I increased the number of runs to 9 to get a more accurate median time (which I calculated myself, rounding the numbers - WPT seems to take the best run, not the median).

We can see improvements:

* [Homepage median load time: 4.3s](https://www.webpagetest.org/result/180126_WE_91738e2df31b7283effdf8195c66d1e8/)
* [Search results ("adblock") me

[2018-01-26 13:09] muffinresearch commented on #4235
Yep that's a fair point, the navigation one will definitely be something more of interest should we start looking into bundle splitting. Since doing that might optimise the initial load at the cost of slowing the subsequent navigations in some cases.

[2018-01-26 13:13] FatOrangutan commented on #4222
They probably mean [this url](https://addons.mozilla.org/en-us/firefox/addon/unlimited-free-vpn-betternet). Taken from https://www.betternet.co/firefox-vpn.

[2018-01-26 13:40] muffinresearch commented on #4226
FWIW I don't think I have ever seen the "Please select..." option of a select be disabled, I don't think it needs to be. It's a pretty long-standing convention that the first item just has an empty value.

[2018-01-26 13:41] muffinresearch commented on #4226
Maybe the answer to this could be to change the copy?

[2018-01-26 14:40] tofumatt commented on #4222
Ah, okay. In that case it looks like a no-longer-listed add-on. @jvillalobos might be able to provide more info as to why it's no longer available, but it's up to the add-on developer to restore it.

[2018-01-26 14:40] #4222 closed

[2018-01-26 16:42] jvillalobos commented on #4222
Looks like the developer recently took it down.

[2018-01-26 17:06] tofumatt commented on #3730
I think it'd be best to do this on the ops side of things for now.

@bqbn:

Could we get two HTTP headers added to AMO stage (for testing), both should be `Link` headers with the content:

* `<https://addons-stage-cdn.allizom.org>; rel=preconnect; crossorigin`
* `<addons-amo-cdn.allizom.org>; rel=preconnect; crossorigin`

-------

If that all works we want the same `Link` header added to productio

[2018-01-26 17:56] tofumatt opened #4240 "Remove fetch-mock from devDeps"
I went to merge #4200, checking on what we'd need to do for the v5 -> v6 changes in `fetch-mock`. Turns out we aren't actually using it anywhere in our code anymore, so we should remove it.

[2018-01-26 18:20] #4135 closed

[2018-01-26 18:39] tsl143 commented on #4129
@jvillalobos Google needs specific sets of `itemprops` metadata in HTML

here - https://developers.google.com/search/docs/data-types/review
I will try to work on this.

[2018-01-26 18:47] grahamperrin commented on #3813
Thumbs-down for the loss of functionality in the absence of an extension. Hey-ho.

[2018-01-26 21:57] kumar303 opened #4244 "Show a warning when viewing a non-public add-on"
### Describe the problem and steps to reproduce it:

As an admin, log in to AMO and view the detail page for a disabled add-on

*or*

As a developer, upload an add-on, make it non-public, log in to AMO and view its detail page

### What happened?

You see a complete detail page as if nothing was different

### What did you expect to happen?

You should see a warning saying that the add-on is not p

[2018-01-26 23:01] jvillalobos commented on #3813
Here's my little Friday afternoon project: https://addons.mozilla.org/addon/latest-on-amo/

[Issues](https://github.com/jvillalobos/latest-on-amo/issues) and patches welcome.

[2018-01-26 23:18] davidhedlund commented on #3813
@jvillalobos I didn't mean the latest version release, I meant that I want to be able to sort add-ons by the release date of the first version. Example for the three most popular extensions would look like this:
* uBlock Origin: 2015-07-02 (see https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/versions/)
* Video DownloadHelper: 2006-12-12 (see https://addons.mozilla.org/en-US/firefox/ad

[2018-01-27 02:54] #4240 closed

[2018-01-27 14:28] #4213 closed

[2018-01-28 15:11] tsl143 commented on #4009
@kumar303, the alt text is shown when image is 404, this may be an edge case but we can cover this putting `overflow: hidden` on image tag.
Consider #4249

[2018-01-28 15:14] tsl143 commented on #3987
@ValentinaPC , does this issue, still exist? I am unable to reproduce :(

[2018-01-29 07:17] AlexandraMoga commented on #4240
Please add some STR or the label 'qa:not needed'

[2018-01-29 07:27] AlexandraMoga commented on #3987
@tsl143 I was still able to reproduce this issue on all servers

![account_move](https://user-images.githubusercontent.com/31961530/35498298-73d8d848-04d6-11e8-8b13-ca8b3c99b449.gif)

[2018-01-29 09:03] AlexandraMoga commented on #4213
Verified on AMO-dev with FF58 (Win10x64, Android 7.0) and the collection description is rendered correctly by the frontend.
The API response is still the same, so I assume nothing changed there, right?

![image](https://user-images.githubusercontent.com/31961530/35501728-6764388e-04e3-11e8-9ce2-1a97f864cb5f.png)

[2018-01-29 09:18] ioanarusiczki commented on #4135
I verified this issue on AMO dev. The font for Placeholder text uses Fira Sans.

![firasansdev](https://user-images.githubusercontent.com/33448286/35502589-2100d796-04e6-11e8-9736-7de6a0f2b872.png)

[2018-01-29 09:34] muffinresearch commented on #4218
👍

[2018-01-29 09:44] AlexandraMoga commented on #4089
This might have solved the original issue but now there is a word wrapping problem. Since we are still having a layout issue, I'm reopening this case.

![image](https://user-images.githubusercontent.com/31961530/35503636-60cf9954-04e9-11e8-85ab-090cd0bd7e07.png)

[2018-01-29 13:15] muffinresearch commented on #4204
Marking as a duplicate based on https://github.com/mozilla/addons-frontend/issues/4204#issuecomment-359868096

[2018-01-29 13:15] #4204 closed

[2018-01-29 13:17] muffinresearch commented on #4192
Unfortunately the add-on looks to have been removed by the developer. You could try contacting them for advice on what there plans are. Unfortunately there's nothing that we can do from here.

[2018-01-29 13:17] #4192 closed

[2018-01-29 13:22] muffinresearch commented on #632
Looks good to me:

CSS:

<img width="470" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/35512259-058cf66e-04f7-11e8-8fa4-c7c1ea2c60d6.png">

JS:

<img width="532" alt="add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/35512286-26dd1222-04f7-11e8-9ffe-5db6d9600bdb.png">

@bqbn Out of interest I note on this response there are two headers rather

[2018-01-29 13:24] muffinresearch commented on #529
@EnTeQuAk do you have an update on where this is at / what it would take to copy what we've done with addons-server?

[2018-01-29 13:28] muffinresearch commented on #1207
We are using masks more now, which negates some of this. We can move to that more fully when we get away from ESR being at 52 which only has partial mask support. I think on the basis this bug isn't very targetted any more we can close it.

[2018-01-29 13:28] #1207 closed

[2018-01-29 13:58] muffinresearch commented on #1107
Closing this since we're not going to go this route.

[2018-01-29 13:58] #1107 closed

[2018-01-29 13:58] #1108 closed

[2018-01-29 13:59] #1109 closed

[2018-01-29 13:59] #1110 closed

[2018-01-29 13:59] #1111 closed

[2018-01-29 14:00] #1112 closed

[2018-01-29 14:00] #1113 closed

[2018-01-29 14:40] gsears4now opened #4250 "azure debug tool required download disabled"
### Describe the problem and steps to reproduce it:
http://go.microsoft.com/fwlink/?LinkId=528798&clcid=0x409

### What happened?
administratively blocked
### What did you expect to happen?

### Anything else we should know?

[2018-01-29 14:48] muffinresearch commented on #1385
This is already fixed. See https://addons-dev.allizom.org/en-US/firefox/search/?page=lol&platform=mac&q=test

[2018-01-29 14:48] #1385 closed

[2018-01-29 14:50] muffinresearch commented on #1461
@kumar303 @tofumatt where are we at with this? Do you think this is still something we'd like to do?

[2018-01-29 14:51] muffinresearch commented on #1767
Closed by https://github.com/mozilla/addons-frontend/pull/2668

[2018-01-29 14:51] #1767 closed

[2018-01-29 14:54] muffinresearch commented on #1664
I think this is fixed:

<img width="774" alt="reviews_for_awesome_screenshot_plus_-_capture__annotate___more_ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/35516693-59a7d2b6-0504-11e8-94bd-72190006f8de.png">

[2018-01-29 14:54] #1664 closed

[2018-01-29 14:57] muffinresearch commented on #2008
This is fixed.

[2018-01-29 14:57] #2008 closed

[2018-01-29 14:58] muffinresearch commented on #1965
This is fixed:

<img width="774" alt="reviews_for_awesome_screenshot_plus_-_capture__annotate___more_ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/35516886-d7871502-0504-11e8-8c31-d6cd137f562b.png">

[2018-01-29 14:58] #1965 closed

[2018-01-29 14:59] muffinresearch commented on #1962
This is fixed it opens in the same tab now.

[2018-01-29 14:59] #1962 closed

[2018-01-29 14:59] AlexandraMoga commented on #1385
This issue can still be reproduced in add-on reviews page, for which there already is another case opened. Adding it here for tracking purposes: [#4081](https://github.com/mozilla/addons-frontend/issues/4081)

[2018-01-29 15:02] muffinresearch commented on #1748
I don't think this is a problem we need to worry about fixing.

[2018-01-29 15:02] #1748 closed

[2018-01-29 15:08] muffinresearch commented on #4250
This tracker is for bugs related to addons.mozilla.org's frontend and the website itself.

It's unclear from your report what the issue is. If you have an issue with a specific add-on please contact the developer of that add-on for support as we cannot provide support for specific add-ons here.

On the basis that there's no action we can take at this time I'm going to close this issue. However, if

[2018-01-29 15:08] #4250 closed

[2018-01-29 15:10] #4230 closed

[2018-01-29 15:49] eviljeff opened #4252 "theme category pages without ending slash don't go to new frontend"
`https://addons-dev.allizom.org/en-US/firefox/themes/<category-slug>` goes to legacy frontend, whereas `https://addons-dev.allizom.org/en-US/firefox/themes/<category-slug>/` goes to new frontend

e.g.
https://addons-dev.allizom.org/en-US/firefox/themes/holiday
https://addons-dev.allizom.org/en-US/firefox/themes/holiday/

Seems to replicate on all theme categories on dev, stage, prod.  But not exte

[2018-01-29 15:51] kumar303 commented on #4252
On a local frontend server it works as expected (no redirect to the legacy site, no 404). Example:

http://localhost:3000/en-US/firefox/themes/film-and-tv/
http://localhost:3000/en-US/firefox/themes/film-and-tv

Since we use a separate nginx conf for local development it makes me think this is an nginx issue (maybe).

[2018-01-29 16:02] tofumatt commented on #1461
Invariant would decrease the size of our bundle by changing our error messages in production, but that’s it. I think it’s worth keeping open but we already throw when required args aren’t supplied in most functions these days.

- Matt (Sent from mobile)

[2018-01-29 16:04] tofumatt commented on #4089
Those words are too large for the space, so they’re wrapping. I think that’s intended. I suppose a new issue to add a hyphen might be good, but I think this works as intended.

- Matt (Sent from mobile)

[2018-01-29 16:36] AlexandraMoga opened #4253 "Words are not wrapped correctly in add-on details page - statistics section"
Prerequisites: Locale set to German. Italian, Spanish

STR:

1. Go to AMO homepage in responsive design mode (~750 - 1000 width)
2. Select an Add-on to view its listing page (i.e. https://addons-dev.allizom.org/de/firefox/addon/awesome-screenshot-plus-/)
3. Observe the statistics section in the right corner

Expected result:
There are no layout issues

 Actual result:
 Text is not wrapped correctl

[2018-01-29 16:37] AlexandraMoga commented on #4089
As advised, I opened a new issue because there might be a way to avoid displaying words like this in statistics section

[2018-01-29 16:37] #4089 closed

[2018-01-29 17:02] #2014 closed

[2018-01-29 17:06] muffinresearch commented on #2012
Marking as a duplicate of https://github.com/mozilla/addons-frontend/issues/2749 since that's the issue that covers the implementation of this feature.

[2018-01-29 17:06] #2012 closed

[2018-01-29 17:08] muffinresearch commented on #2080
@pwalm did you have any UX for this?

[2018-01-29 17:15] muffinresearch commented on #2043
This is still an issue.

[2018-01-29 17:57] muffinresearch commented on #1812
@vcarciu is this still an issue?

[2018-01-29 19:42] dmancini opened #4254 "Firefox Extension disabled"
Our custom extension was recently removed from the addons.mozilla.org website. It was previously available at the following URL:
	https://addons.mozilla.org/en-US/firefox/addon/saba-meeting-firefox-connector/

After reading the following link:
	https://blog.mozilla.org/addons/2017/02/16/the-road-to-firefox-57-compatibility-milestones/
we determined that the issue with our extension is probably tha

[2018-01-29 20:20] andymckay commented on #4254
If you have a question about your add-on, please contact amo-admins AT mozilla.org and they will be able to tell you why it was rejected.

[2018-01-29 20:20] #4254 closed

[2018-01-30 07:29] AlexandraMoga commented on #1767
Please add some STR or the label 'qa:not needed'

[2018-01-30 07:32] AlexandraMoga commented on #1664
Confirmed as fixed

![image](https://user-images.githubusercontent.com/31961530/35553386-67e0aadc-05a0-11e8-8c8c-dadcf4e1327f.png)

[2018-01-30 07:34] AlexandraMoga commented on #2008
Please add some STR or the label 'qa:not needed'

[2018-01-30 07:37] AlexandraMoga commented on #1965
Confirmed as fixed. There is a separator now to mark the division;

![image](https://user-images.githubusercontent.com/31961530/35553565-17442f58-05a1-11e8-9ef0-cb0ba22207af.png)

[2018-01-30 07:42] AlexandraMoga commented on #1962
Confirmed as fixed both for Android and Desktop.

[2018-01-30 07:46] AlexandraMoga commented on #4196
We've looked for regressions around collection pages but everything seems to be working fine. Marking this as fixed.

[2018-01-30 09:54] muffinresearch commented on #2757
@pwalm any updates on the iconography? That's probably the main blocker for getting started on this.

[2018-01-30 10:01] muffinresearch opened #4256 "Use isSearchProviderInstalled for a better AMO experience"
We should use the isSearchProviderInstalled API to detect if a search provider is already installed.

See https://github.com/mozilla/addons-server/issues/2714 for further details.

[2018-01-30 12:51] vcarciu commented on #1812
@muffinresearch  : no, the issue is not reproducible anymore. We can close it.

[2018-01-30 12:51] #1812 closed

[2018-01-30 13:26] muffinresearch commented on #4226
@kumar303 see my comments above, I'm not sure this is a bug - what do you think? Have you seen this pattern elsewhere?

[2018-01-30 13:35] muffinresearch commented on #4188
We should check to see the size of the click target and make sure it's sufficient and see if that improves the tapability.

[2018-01-30 16:16] kumar303 opened #4258 "Mobile style for Collection editing form overlay"
We have a new form overlay that will be used for editing/creating Collections among other things (https://github.com/mozilla/addons-frontend/issues/4198).

We need to implement mobile styles. A spec will follow.

[2018-01-30 16:17] kumar303 commented on #4198
Mobile styles will be added in https://github.com/mozilla/addons-frontend/issues/4258

[2018-01-30 16:22] kumar303 opened #4259 "Move Icon files to a sub directory"
The [Icon](https://github.com/mozilla/addons-frontend/tree/2d36a5e20268d51f921f10e5a764323bc6188855/src/ui/components/Icon) component has many icon files which are referenced by `styles.scss`. To reduce clutter, let's move those to a sub directory within the same component.

For QA: please check for regressions everywhere that we use icons, such as next/previous page arrows, error notices, search

[2018-01-30 16:34] kumar303 opened #4260 "Show a "javascript required" message when submitting a form"
### Describe the problem and steps to reproduce it:

* Go to any page that has a form. I am looking for them with: `rg '<form' src/`
* Turn off JavaScript
* Try to submit the form

### What happened?

In each case it may be a bit different. Most of them will reload the page.

### What did you expect to happen?

Ideally the form should work but that may require too much effort since we'd have to ch

[2018-01-30 16:59] muffinresearch commented on #4260
This is a really nice solution, in lieu of more fancy server-side form handling 👍

[2018-01-30 17:22] muffinresearch opened #4262 "Investigate A/B testing Component or framework"
This issue is for investigating prior art for an A/B testing solution for React components.

For our initial use-case we'd like to try and do this for the Homepage switch to cards in place of the current homepage hero content.

## Example libs to look at:

* react-ab https://github.com/olahol/react-ab (looks good because it's simple and we can easily tie it in with our current GA instrumentation.

[2018-01-30 17:24] muffinresearch commented on #4202
depends on https://github.com/mozilla/addons-frontend/issues/4262

[2018-01-30 17:26] tofumatt opened #4263 "Move to new React imports (import * as React from 'react';)"
In the future we should import React as `import * as React from 'react';` instead of our previous style (`import React from 'react';`). This should be doable as a simple find + replace 😄

[2018-01-30 17:54] muffinresearch opened #4264 "Clean up peer dep warnings"
We currently see a bunch of peer dep warnings when running `yarn install`:

[code]

[2018-01-30 18:00] muffinresearch opened #4265 "Clean-up prod build warnings"
Webpack is issuing a lot of warnings about postcss in production builds - this is from the raw log of a travis run:

[code]

Might be worth checking out https://github.com/mozilla/addons-frontend/issues/4264 first since those updates might fix some of it.

[2018-01-30 18:05] #4009 closed

[2018-01-30 18:07] tofumatt commented on #4253
The text is actually wrapped correctly but there is no indication that it's wrapping–a hyphen would be good to indicate the text doesn't fit on one line.

Otherwise it's up to the localisers to find a more concise wording, if one exists. The mocks for this don't leave us much room.

[2018-01-30 18:14] muffinresearch commented on #4065
I see there are a few options:

* Update the frontend to allow for both Linux and linux
* Rewrite this Query string at the Nginx level

Both of those would result in duplicate content e.g. same content at a different URL, which isn't ideal and having to use rel-canonical would be a bit of a pain.

We could redirect at the nginx level, which would be better for avoiding duplicate content but then i

[2018-01-30 18:19] kumar303 opened #4266 "Summarize ratings by star for an add-on on its detail page"
The add-on detail page is missing a summary of ratings by star as shown in the mocks. This will help users make a decision about whether to install the add-on or not. Check the mocks for the most up to date version. It looks something like:

<img width="683" alt="screenshot 2018-01-30 12 16 40" src="https://user-images.githubusercontent.com/55398/35583499-bce28ef8-05b7-11e8-9767-cd03c207501d.png">

[2018-01-30 18:20] tofumatt commented on #4266
I think this is a duplicate of #3918.

[2018-01-30 18:22] kumar303 commented on #4266
Thanks! That's the issue I couldn't find 👻

[2018-01-30 18:22] #4266 closed

[2018-01-30 18:25] muffinresearch commented on #3984
I don't think there's much we can do about this one without a big change to how we use the explicit routing.

It will likely get easier once there's nothing that needs to fall through to the old site. At that point we might be able to control it by just the cookie.

[2018-01-30 18:27] muffinresearch commented on #4263
@tofumatt Is there more context to the rationale for doing this?

[2018-01-30 18:30] kumar303 commented on #4263
Something changed in React 16 where `import React from 'react'` no longer works for referencing some things. I looked in their changelog but I couldn't find a specific mention, I just know that we had to update a fair bit of imports to get some components to work. We didn't have to update all of them *but* the `import * as React` approach means that nothing will break so it seems like a good patte

[2018-01-30 18:37] #4086 closed

[2018-01-30 20:01] willdurand commented on #4263
My 2 cents: I haven't seen anything related to such a change on large React apps migrated to React 16, but I've found a note on Flow:

https://flow.org/en/docs/react/components/

If the "update a fair bit of imports to get some components to work" was related to Flow, then it's fine but otherwise it might mean something is not working properly anymore and I'd look at Babel/Webpack instead.

[2018-01-30 22:56] aswan commented on #4065
Well it is software so just about anything is possible, but this part of the URL is formatted with a standard Gecko routine (`Services.urlFormatter.formatURL()`) so it would involve some pretty gross ad hoc code to work around...

[2018-01-30 23:15] #4198 closed

[2018-01-30 23:27] kumar303 commented on #1104
Only 32 tests left 😭

[2018-01-30 23:56] kumar303 commented on #4263
Aha, it was indeed all Flow related! Sorry for the confusion. I remember now. The reason is that we sometimes access `React.Node` or `React.ChildrenArray` in our Flow definitions. These are in https://flow.org/en/docs/react/types/ so you'd need to use `import * as React` to reference them or import them explicitly (which could be tricky).

[2018-01-30 23:59] kumar303 commented on #2043
Oh, I see. We explicitly show the creation time:

https://github.com/mozilla/addons-frontend/blob/2eecafc5e7de5c5b67b45364e33fb696b270d2f3/src/amo/components/AddonReviewListItem/index.js#L198

[2018-01-31 00:03] kumar303 commented on #1461
I'm getting a little annoyed with writing `if (!param) { throw new Error(...) }` and adding tests to cover each case so ... 😎

[2018-01-31 04:22] pwalm commented on #2043
Hmmm... How about: "posted 3 days ago (edited 5 mins ago)"

Repeating "ago" twice seems weird, but it works for me.

[2018-01-31 04:23] pwalm commented on #2080
I do not have UX for this yet, but I will explore it this week.

[2018-01-31 04:42] pwalm commented on #2757
On it, will have them ready to go by the end of the week (was waiting on some firefox icon clarification).

[2018-01-31 04:43] pwalm commented on #4181
Standalone card is 👍

[2018-01-31 06:35] tofumatt commented on #2043
While I’m rarely one to point to reddit as a way to do things 😅, I think their edit system works well here. They just show an asterisk next to the time posted and add a title attribute for when it was edited iirc.

I think adding a bracketed “edited” with a title attribute for more info (“last edited 5 mins ago”) would work eg: `posted 3 days ago <span title=“Last edited 5 minutes ago”>(edited)</s

[2018-01-31 06:39] tofumatt commented on #2043
Side note: it might be worth ignoring displaying “edited” if it was edited within a few minutes of creation date as that is likely a typo fix or similar, though obviously there’s an abuse potential there. It’s small though–the developer would need to reply to a review that was entirely changed within a few minutes to look foolish. Maybe if there’s a developer reply we show a post was edited no mat

[2018-01-31 08:20] AlexandraMoga commented on #4009
Verified as fixed on -dev and stage (FF56, Win10x64)

![image](https://user-images.githubusercontent.com/31961530/35612118-4bf198d8-0670-11e8-80af-4b253c57e746.png)

[2018-01-31 09:21] ioanarusiczki opened #4268 ""Featured add-ons only" check box is not correctly displayed"
Steps to reproduce:
1. Load AMO dev and make a search.
2. Observe the Featured Add-ons only option from Filter results.

Expected results:
Check box is displayed before Add-ons only option.

Actual results:
The check box is incorrectly positioned.

Notes:
This issue is reproducible only on AMO dev ff58 (Win10)

![featured check box](https://user-images.githubusercontent.com/33448286/35614633-746a7

[2018-01-31 10:10] ioanarusiczki opened #4269 "A glitch appears when a search that won't return results is made"
Steps to reproduce:

1. Load AMO homepage and make a search that won't return results ( I used special characters "@", "#")
2. Change the sorting criteria using the drop down menu from the Sort by filter option
3. Observe the Search results section

Expected result:
"No results were found for" message continues to be displayed in the Search results section.

Actual result:
For a moment some search

[2018-01-31 10:17] tofumatt commented on #4269
Those aren’t search results but placeholders. We can’t know if a search will have zero results or some but rendering the placeholders is usually a better experience so I think we’ll stick with that.

[2018-01-31 10:17] #4269 closed

[2018-01-31 11:56] muffinresearch opened #4270 "Allow external tracking sources through to install buttons"
Refiled copy of https://github.com/mozilla/addons/issues/615 - see that issue for the original issue details + additional comments.

### Describe the problem and steps to reproduce it:
1. Open the add-on's details page with a tracking parameter, like: `https://addons.mozilla.org/en-US/firefox/addon/example?src=external-example`.
2. Open the "Downloads > by Source" statistics page (`https://addons.

[2018-01-31 12:09] muffinresearch opened #4271 "Mixed case version of slug leads to blank page"
Re-filed copy of https://github.com/mozilla/addons/issues/586

### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

Go to an addon location (https://addons.mozilla.org/en-US/firefox/addon/snaplinksplus/), but change the case of the name (https://addons.mozilla.org/en-US/firefox/addon/snapLinksplus/) and you don't get an error page, just a blank screen.

[2018-01-31 12:34] muffinresearch commented on #4271
I think we should consider doing the redir at the nginx level so it doesn't even need to hit the appserver CC'ing @bqbn for input.

[2018-01-31 12:49] tofumatt commented on #4268
Wondering if this is a regression related to #4248...

[2018-01-31 13:11] ioanarusiczki opened #4272 "No results are found when special characters are used for search"
Prerequisites:
make sure you have a couple of submitted add-ons

Steps to reproduce:
1. Load AMO dev and go to Developer Hub.
2. From Manage my submission edit the name of an add-on, insert some special characters
3. Go back to AMO dev and make a search using only the special character from the edited name
4. Observe the search results.

Expected results:
The add-on is displayed in search results.

[2018-01-31 13:40] tofumatt commented on #4268
Looks like this is actually from ade72db31997cb87728c9f556ef9769a524de0a3. I'll have a fix coming soon.

[2018-01-31 13:55] #2517 closed

[2018-01-31 13:55] #3705 closed

[2018-01-31 13:55] #3752 closed

[2018-01-31 14:09] muffinresearch commented on #4271
We appear to have this problem for all slugs e.g: https://addons.mozilla.org/en-US/firefox/collections/mozilla/Bookmark-managers/

So we'll want to do it for all slugs I think. @diox presumably that'll be ok from the server perspective?

[2018-01-31 14:11] urbik commented on #3169
Hi @tofumatt can I work on it?

[2018-01-31 14:19] tofumatt commented on #3169
Yes, feel free to work on this issue. 👍

[2018-01-31 14:21] tofumatt opened #4275 "Remove unused devDep bundlesize"
We include bundlesize but aren't currently using it, so we should remove it as a dependency for now.

[2018-01-31 14:26] tofumatt opened #4276 "Create a user profile photo upload component"
### Describe the problem and steps to reproduce it:
We need a user profile upload component that accepts a user's photo and sends it to the API as part of the edit profile form.

It should look like:

<img width="356" alt="screenshot 2018-01-31 14 25 04" src="https://user-images.githubusercontent.com/90871/35628039-9ef71090-0692-11e8-9d24-6a65b3fe0402.png">

[2018-01-31 14:35] SVSanta opened #4278 "Search results for 100 random char string"
Steps to reproduce:

    1. Go to https://addons-dev.allizom.org.
    2. In the "Search" field introduce a 100 char string(ex. T@@#$%^&*#$%^&*($%^&*%^&*$%^&*#$%^&*(#$%^&**()&^%$$#%^&*&(*)(*&^%$^&*&(*)_)(*&^%$^&*()_+)(*&^%&*()_%)
    3. Press "Enter".

Expected result:
No results are displayed.

Actual result:
"1,763 results for "T@@#$%^&*#$%^&*($%^&*%^&*$%^&*#$%^&*(#$%^&**()&^%$$#%^&*&(*)(*&^%$^&*

[2018-01-31 14:46] tofumatt opened #4279 "Allow user to delete their profile"
We need API/saga/reducer code to allow a user to delete their profile.

Note: I think this button might want to be red or something more dangerous-looking. Not sure.

<img width="513" alt="screenshot 2018-01-31 14 36 44" src="https://user-images.githubusercontent.com/90871/35628602-51f449c8-0694-11e8-848b-6142c7dc7a28.png">

[2018-01-31 14:51] tofumatt opened #4280 "Show "Extensions created" on the user profile page"
Create a card that shows extensions a user has created on the profile.

<img width="482" alt="screenshot 2018-01-31 14 50 59" src="https://user-images.githubusercontent.com/90871/35629308-31bf268a-0696-11e8-9bd9-9ea071ba5173.png">

[2018-01-31 14:51] kumar303 commented on #4278
Huh. That's pretty odd. I guess it has something to do with how our Elastic Search backend strips out characters. My hunch is that this is a feature to help normalize certain realistic search terms, like ones that have punctuation where the punctuation should be stripped.

Thanks for the report but since nothing is broken here and the search isn't realistic, I don't think we should spend time figu

[2018-01-31 14:51] #4278 closed

[2018-01-31 14:52] tofumatt opened #4281 "Show "Themes created" on the user profile page"
Create a card that shows themes a user has created on the profile.

<img width="482" alt="screenshot 2018-01-31 14 53 44" src="https://user-images.githubusercontent.com/90871/35629455-8db3d58a-0696-11e8-91f3-8fe0bb5aa808.png">

[2018-01-31 14:55] tofumatt opened #4282 "Show "My reviews" on user profile page"
The UX mocks have a "my reviews" section on the profile page. This is largely useful for your own profile as we won't be showing non-developer pages (which is, I'd think, the main place one would look for reviews).

<img width="419" alt="screenshot 2018-01-31 14 54 16" src="https://user-images.githubusercontent.com/90871/35629541-cfa34b24-0696-11e8-9555-dbe3c83b0e46.png">

[2018-01-31 14:57] tofumatt opened #4283 "Show user info in card on profile"
We should show the user's name, photo, etc. in a card.

<img width="231" alt="screenshot 2018-01-31 14 56 29" src="https://user-images.githubusercontent.com/90871/35629616-fcb243f4-0696-11e8-8b0b-024e96ec04cd.png">

[2018-01-31 14:58] tofumatt opened #4284 "Add new routes for user profile and edit user profile pages"
We'll need new routes in nginx to route user profile and edit profile requests to the front-end, but that's dependant on other code landing, so filing this for now so we don't forget 😄

- [x] User Profile: `/user/:username/` (Depends on #4283, ready)
- [x] User Profile Edit: `/user/:username/edit`
- [x] User Profile Edit: `/users/edit`

[2018-01-31 14:58] kumar303 commented on #2691
See https://github.com/mozilla/addons-frontend/pull/4277 for the configuration code that we started on.

[2018-01-31 14:59] #4275 closed

[2018-01-31 17:20] #4268 closed

[2018-01-31 17:20] diox commented on #4271
I think it makes sense yeah. From the server perspective slugs should be lowercase, it's just that addons-server doesn't care (because MySQL doesn't care) about case at all when fetching the add-ons/collections.

[2018-01-31 17:43] vcarciu commented on #3705
Verified as fixed :
![registerlogin](https://user-images.githubusercontent.com/1583842/35638159-113a8566-06bf-11e8-93f6-f751a1fd3074.png)

[2018-01-31 21:09] kumar303 commented on #4129
Thanks @tsl143 ! This seems useful

[2018-01-31 21:13] kumar303 commented on #4235
Ugh. We should really start tracking performance regressions so we can get an idea of what changes are causing slowdowns.

[2018-01-31 23:26] atsay opened #4287 "Make reviews and ratings clickable on detail page"
### Describe the problem and steps to reproduce it:
Go to any add-on's detail page

### What happened?
The reviews and ratings area on the upper right corner are not clickable.

### What did you expect to happen?
I expect to be taken to the /reviews page relevant to the add-on when I click on the "Reviews" and "Overall Rating" labels, as well as the number above "Reviews" and the stars above "Over

[2018-01-31 23:28] tofumatt commented on #4287
I forget if I filed an issue for this already, but I'll look later 😆. At any rate: I agree and we should do this. It shouldn't even be super difficult.

[2018-01-31 23:30] kumar303 commented on #4287
I can't find an existing issue but I know we've talked about this. It will go hand in hand with https://github.com/mozilla/addons-frontend/issues/3918

[2018-02-01 02:21] bqbn commented on #4271
So if I understand correctly, is the ask that for a mixed case slug, return 301 to its all lower case version? If that's the case, can we make the front-ends do it?

The reason is this. Nginx currently uses

https://github.com/mozilla/addons-server/blob/master/src/olympia/addons/urls.py#L9

to match a slug. As you can see there is no tell from that regex a slug is mixed cased or not. In order for

[2018-02-01 09:18] ioanarusiczki opened #4289 "The landing page for Cookies link won't display its header"
Steps to reproduce:
1. Load AMO stage and go to Footer section.
2. Click on Cookies.
3. Observe the landing page.

Expected results:
The header of the page and the red title "Websites, Communications &Cookies Privacy Notice" are displayed.

Actual results:
The middle and the footer of the page is displayed.

Notes:
This issue is reproducible on all AMO servers, using FF58 (Win 10, Android 8.0.0)

[2018-02-01 09:35] AlexandraMoga opened #4290 "User review is listed only after page refresh, if the reviews page for the same add-on was previously visited"
STR:

1. Log into AMO and pick an add-on that has some reviews to see its details page
2. Scroll to Rating section and submit an empty review for this add-on
3. Click on 'Read all reviews' to check the reviews submitted for this add-on
4. Go back to the listing page and click on the rating stars to open the review modal
5. Write your review and submit it
6. Repeat step 3 and check if your written

[2018-02-01 09:48] ioanarusiczki commented on #4086
This issue is verified on AMO dev and stage with FF 58 (Win10).

![release notes](https://user-images.githubusercontent.com/33448286/35671986-aa4bdd1e-0745-11e8-9e67-c3038f02e06d.png)

[2018-02-01 10:02] tofumatt commented on #4289
The link goes to the cookies section directly (see the link: `https://www.mozilla.org/privacy/websites/#cookies`) and it puts the cookies bit at the top of the page, but because this page is minimal enough we could probably link to the top.

[2018-02-01 10:05] tofumatt commented on #4289
Actually, we link to the privacy policy page in the footer as well. Linking to it again with different text would be weird. I'm gonna close this as working as intended.

[2018-02-01 10:05] #4289 closed

[2018-02-01 11:20] bhavyaagg commented on #4287
Hi,
If no one is working on this issue, can i give it a try?

[2018-02-01 11:41] tofumatt commented on #4287
Sure thing, just file a pull request when it’s ready and we will review it :-)

[2018-02-01 12:33] davidhedlund commented on #3813
Shouldn't this issue be re-opened base on my [previous comment](https://github.com/mozilla/addons-frontend/issues/3813#issuecomment-360931830)?

[2018-02-01 12:45] vcarciu commented on #4259
Verified as fixed . Icons looks fine.

[2018-02-01 12:50] cadeyrn commented on #3813
In my opinion as opener of this issue, yes, it should be reopened. But it's not my decision…

That's not true at all, it's a very different use case…

Having updated but old add-ons if you're interested in new add-ons, that's noisy.

On desktop AND mobile it's in a dropdown with only a few items. There is really no space issue.

I can't confirm that. I have a few Mozilla related projects like my n

[2018-02-01 15:14] bhavyaagg commented on #4287
Sure. Thanks @tofumatt

[2018-02-01 15:33] ayush9398 commented on #3169
@caitmuenster sorry for not responding earlier i have not been active on github for few months due to some issues, sorry again...

[2018-02-01 15:41] vcarciu opened #4291 "Disabled switch buttons in discopane if mozAddonManager is disabled"
Steps to reproduce:
1.Open FF release and set the disco pane to -dev
2.Set the extensions.webapi.testing to false
3.Open the discovery pane

Expected results:
Fallback buttons should be correctly displayed

Actual results:
Switch buttons are still available, but greyed out

Please see video for this bug :
![fallbackbuttonsz](https://user-images.githubusercontent.com/1583842/35687358-2dfaa2c2-0777-

[2018-02-01 15:47] ioanarusiczki commented on #4185
After making some testing on AMO stage using FF58 (Android 8.0) I noticed that when the name of the creator is longer, it creates a display issue.
This issue is reproducible only with portrait orientation.

![creator](https://user-images.githubusercontent.com/33448286/35687629-e75bc2be-0777-11e8-935e-8f0856cb5eec.png)

[2018-02-01 16:10] kumar303 commented on #3992
We should consider implementing an A/B testing framework (https://github.com/mozilla/addons-frontend/issues/4262) before tackling this issue so we can measure the effectiveness of allowing installs from a Collection.

[2018-02-01 16:22] ioanarusiczki opened #4292 "The footer of the page is displayed when changing the languages on AMO homepage"
Steps to reproduce:
1. Load AMO stage, go to the footer and change the language.
2. Observe that the header of the page is displayed.
3. Change back the language to English (US).
4. Observe the landing page.

Expected result:
The header of the page is displayed.

Actual result:
The footer of the page is displayed.

Notes:
I noticed that every time a new language is selected from the list the heade

[2018-02-01 16:43] muffinresearch commented on #4291
I see this on -dev and stage and the disabled switch is shown in chrome in prod too.

[2018-02-01 16:52] muffinresearch commented on #4291
This issue has a screenshot of what it used to look like https://github.com/mozilla/addons-frontend/issues/3752

[2018-02-01 16:52] bhavyaagg commented on #4287
Hello @tofumatt ,
I have tried the following method but i am not sure which is the best:
1) Using <Link> tag with href, but in this case the styling of the text gets broken.
2) Using a onClick listener on the MetaDataCard Component
3) Using window.location.href to reload the reviews page.

Thank you for your help.

[2018-02-01 16:55] tofumatt commented on #4287
You will want to use our `<Link>` component to link to the reviews similarly to how reviews are linked to elsewhere in the app (I think the link is "Read all reviews" or something similar.

You will need to override the link's style to make it keep its existing appearance. You can probably leverage the `inherit` value in CSS a fair bit, hopefully 😄

[2018-02-01 17:18] kumar303 opened #4293 "Serve the edit collection screen from a URL"
The first version of the edit collection screen (https://github.com/mozilla/addons-frontend/issues/4004) will be shown as an overlay. The URL will not be changed. This will allow us to roll out the feature incrementally, hidden by a config setting.

When the feature is ready and working, let's make it accessible by this URL: `/collections/<username>/<collection-slug>/edit/`.

Until the feature is

[2018-02-01 18:12] kumar303 commented on #4259
I'd suggest waiting until we fix the issue before verifying it but thanks @vcarciu 😆 The issue only calls for reorganizing the icon code, not the icons themselves. The steps for QA verification will be to check for regressions.

[2018-02-01 18:15] kumar303 commented on #4290
Ah whoops. I think this is because we need some state changes specified in https://github.com/mozilla/addons-frontend/issues/3221

[2018-02-01 18:24] jrbenny35 opened #4294 "Add a config to run server in 'production' specifically for addons-server UI tests."
@kumar303 helped me get this going but there would need to be a config added to the repo to allow this to work for anyone else wanting to run the tests, as well as, running the tests in CI.

I am thinking of naming it ```uitests-production-amo```, but I am open to suggestions.

[2018-02-01 18:29] kumar303 commented on #4294
Will the tests always run in production? That seems a bit risky. As for the name, I'm not picky about it but I think we should avoid the concept of *ui tests* because the `addons-frontend` repo is an implementation of the UI so all of our unit tests are UI tests. This actually causes real confusion around our [`ui/components`](https://github.com/mozilla/addons-frontend/tree/master/src/ui/component

[2018-02-01 18:49] jrbenny35 commented on #4294
This is confirmed working. I can open a PR.

[2018-02-01 19:57] jrbenny35 opened #4296 "Update README to include information on the functional/integration tests."
The tests currently live on [addons-server](https://github.com/mozilla/addons-server) but I will add a link to them once we have some docs over there. This will also explain what the file ```config/functional-development-amo.js``` does and why it is needed (see https://github.com/mozilla/addons-frontend/issues/4294).

[2018-02-01 21:43] #4294 closed

[2018-02-01 21:47] jrbenny35 commented on #4294
Fixed in #4295

[2018-02-01 22:35] tofumatt commented on #4235
I'm just adding to this that a new low-handing fruit is the code in #4286. It makes our flow integration better at the expense of an easy-to-shave 16kB. Maybe even something in a build step could change things. Figured I'd just mention it here for now so it's on record 😄

[2018-02-01 22:35] #4263 closed

[2018-02-01 23:37] pwalm commented on #4258
The screen on the right is the mobile user collection and the two on the left are modal options. I'm partial to the one in the middle, it follows some more modern best practices and will grow/contract nicely depending on viewport. Some kinks to work out, but this is a good starting point!

<img width="1260" alt="screen shot 2018-02-01 at 3 17 06 pm" src="https://user-images.githubusercontent.com/6

[2018-02-01 23:45] tofumatt commented on #4258
The one in the middle is certainly prettier; possibly a bit more work to do generically as the “origin point” would change but we could work toward it. I like them though!

[2018-02-02 01:15] bqbn commented on #632
This is now on -prod as well.

I notice that files that are already in CDN before today's release will still get 304. But if you change the number in the query string to some random value, it'll force the CDN to talk to the origin (nginx in this case) to retrieve the file and the immutable header.

I don't know if it's worth the effort invalidating our CDN cache though. One side effect of doing th

[2018-02-02 10:24] ioanarusiczki opened #4298 "Explore all categories link should be blue and it is not centered"
Steps to reproduce:
1. Load AMO dev homepage and go to Extensions
2. Observe Explore all categories link
3. Repeat the steps for Themes

Expected result:
"Explore all categories" text is centered and it is blue (such as See more top rated extensions)

Actual result:
"Explore all categories" is on the left side of the screen and leaves the impression that it is only a text box

Notes:
There is a di

[2018-02-02 10:43] AlexandraMoga commented on #4263
Please add some STR or the label 'qa:not needed'

[2018-02-02 11:57] tofumatt commented on #4298
This is probably a regression from #3863; I'll handle it.

[2018-02-02 13:39] tofumatt commented on #4298
Note: These buttons should not be blue as stated in the issue, but the text should be centred and look better 😄

[2018-02-02 14:27] bobsilverberg commented on #4259
I'll give this a go.

[2018-02-02 14:54] kumar303 opened #4300 "FormOverlay should be closed by default"
Since `FormOverlay` is controlled by Redux actions, it should default to a closed state.

This is a follow up to https://github.com/mozilla/addons-frontend/issues/4198

[2018-02-02 15:12] vcarciu commented on #4259
@kumar303 : Wow, I was so sure that this was closed when I verified it 😄 .
I am sorry for that, I will verify it again when fixed.

[2018-02-02 15:32] AlexandraMoga opened #4303 "Text for the 'Log in to flag review' button placed in the Flag review section needs to be white"
Follow up from [#2517](https://github.com/mozilla/addons-frontend/issues/2517)
STR:

1. Access AMO while logged out
2. Choose an add-on that has some reviews to view its details page
3. Go the add-on's reviews page and click on 'Flag' review for any of the listed reviews
4. Observe the text color of the 'Log in to flag review' button

Actual result:
Text color is black

Expected result:
Text color

[2018-02-02 15:34] AlexandraMoga commented on #2517
Verified on AMO-dev, FF58 (Win10x64)

- inactive/active/hover +Add to Firefox button
![image](https://user-images.githubusercontent.com/31961530/35738262-fe751058-0836-11e8-980e-101a51ab453e.png)

- smaller screens size; Android view
![image](https://user-images.githubusercontent.com/31961530/35738254-f1d58f94-0836-11e8-8b0d-01172eca3f88.png)

- navigation buttons in different states
![image](http

[2018-02-02 15:53] AlexandraMoga commented on #4294
Please let us no if any QA is needed here, otherwise add the label "qa:not needed"

[2018-02-02 18:29] #4298 closed

[2018-02-02 22:15] tshirtman commented on #3628
Stumbled upon this which reminded me about this bug report, hope it gets my point accross.

![](https://i.imgur.com/V23I0Tv.jpg)
![](https://i.imgur.com/70U3bQL.jpg)

"source" https://imgur.com/gallery/1K42r

[2018-02-02 22:53] pwalm commented on #2757
Icons!
![screen shot 2018-02-02 at 2 52 40 pm](https://user-images.githubusercontent.com/6797635/35758413-c5340028-0828-11e8-8bea-6447891c9d62.png)

This all of them?

[2018-02-02 22:57] noloader commented on #2757
Please forgive my ignorance... Which one is for Add-On permissions? Or how will this help the "missing add-on permission information"?

[2018-02-02 22:58] pwalm commented on #2080
Could be as simple as this? Top info block of the extension detail page:
![screen shot 2018-02-02 at 2 57 25 pm](https://user-images.githubusercontent.com/6797635/35758535-6c68dfe4-0829-11e8-8fad-0890ed09201c.png)

[2018-02-02 23:28] pwalm commented on #4258
Yeah, i'm just so sick of the look on right. I know we do it on desktop, it's something I'd like to move away from in 2018. More inline input.

[2018-02-02 23:33] pwalm commented on #2757
Thanks, but I can't take credit. They were designed by some talented individuals on the Firefox UX team.

These are all for various add-on API requests.

[2018-02-04 08:57] tofumatt commented on #2517
Addressing your points:

1. Yes, I saw this too, but it's according to spec so I think we'll leave it as "working as intended" for now. I agree it looks a bit weird though, so I'll see if we can address it later. 😄
2. I think this is how mobile browsers implement hover and is tough to change but if you wanted to file an issue about it and label it a low priority it would be handy to have
3. Thanks

[2018-02-05 07:39] AlexandraMoga opened #4308 "Button tapped on Android remains stuck in hover state"
STR:

1. Log into AMO on an Android device
2. Pick a Theme to view its details page
3. Click on Tap to preview button

Actual result:
After tapping the button remains in a hover state (dark blue) until the user taps somewhere else on the page

Expected result:
After tapping, the button returns to its initial state (light blue)

Notes:
- reproduces with other buttons too, like +Add to Firefox, Inst

[2018-02-05 07:45] AlexandraMoga commented on #2517
Marking this as verified fixed based on the above comments.
The DiscoPane issue is being tracked here [#4291](https://github.com/mozilla/addons-frontend/issues/4291)

[2018-02-05 08:04] eviljeff commented on #2757
What would be displayed for a permission other than those 12 permission?  (MDN shows 35 already, and new permissions are added to Firefox pretty regularly).  Is there a generic icon to use?

[2018-02-05 10:31] ioanarusiczki commented on #4298
@tofumatt The text looks alright now.  I thought that blue would help the user understand that it's a link and not a simple text box.
This is verified fixed on AMO dev (Android 8.0.0)

[2018-02-05 10:35] ioanarusiczki commented on #4268
Verified on AMO dev with FF58 (Win 10, Android 8.0.0)

[2018-02-05 13:39] #3275 closed

[2018-02-05 14:20] ioanarusiczki commented on #4198
I verified this issue on AMO dev using FF58 (Win 10 and Android 8.0.0) Developer Response form changed the display for the Cancel button and Report this add-on for abuse form changed the display for Send abuse report button. They respond to click and look ok.

The only inconsistency is in Write a review form ->  font size for Placeholder text changed on AMO dev it looks larger than on AMO stage an

[2018-02-05 15:35] ioanarusiczki opened #4311 "“Create a collection” option from add-on details page creates only empty collections on Android"
Steps to reproduce:
1. Load AMO dev and from the homepage or from other pages choose an extension or theme and click on it
2. Open the drop down menu from “Add to Collection” section and select Create a new collection
3. Type a name, description for your new collection
4. Try to add an extension or theme using Add to Collection button from Add-ons in your Collection section

Expected result:
Exten

[2018-02-05 15:35] #4300 closed

[2018-02-05 15:53] urbik commented on #3169
Hi @tofumatt and others, I got problem running `yarn amo:stage` command. I have installed Node version 6.x, npm 5.x, and latest yarn on my Windows machine. I find it odd that yarn.lock file is not in the repositary, is that relevant?

There are actually multiple problems. In package.json there are a few commands nested under this yarn call. First is npm run clean and this command uses rimraf, whic

[2018-02-05 16:06] ioanarusiczki opened #4312 "Two or more collections with the same name can be created"
Steps to reproduce:
1. Load AMO dev and from the homepage or from other pages choose an extension or theme and click on it
2. Open the drop down menu from “Add to Collection” section and select Create a new collection
3. Fill in the form and click Create Collections
4. Repeat the above steps to create another collection and at step 3 fill in the Name field the same name used when the first collect

[2018-02-05 16:12] pwalm commented on #2757
I need someone (@jvillalobos?) to give me a link to the exact list of icons I need to provide for users on AMO. There are 6 different links to lists of permissions in this issue. Give me the exact one, and I will provide icons.

[2018-02-05 16:22] kumar303 opened #4313 "Prevent faking invalid config keys in tests"
We use dependency injection to rely on config values in tests. We should prevent a test from accidentally relying on an invalid config value. Such a failure would indicate a typo or an old config key that had been since renamed.

This test made me think that the feature would be useful: https://github.com/mozilla/addons-frontend/pull/4304/files#diff-9c08b23edee72c13339e20d85241c391R116

[2018-02-05 16:28] eviljeff commented on #2757
https://github.com/mozilla/addons-frontend/issues/2757#issuecomment-347951067 has the link to the descriptions for permissions actually used in Firefox - though I don't know which @jvillalobos wants icons for.  We'll always need a fallback even if every one currently there has an icon because permissions will be added in the future and there will always be a lag.

[2018-02-05 16:45] pwalm commented on #2757
@eviljeff I don't think we're making unique icons for every instance in that link, just higher level ones. Which I believed to be [in this list](https://docs.google.com/document/d/1-aLncxcKpinCNpvksmknwWZhrM2bEChDmQ3C422C6Vc/edit#heading=h.e7sgomjfzj1b), but am now unsure.

[2018-02-05 17:08] tofumatt commented on #3169
@urbik: You might want to try [WSL](https://blogs.msdn.microsoft.com/wsl/); we don't have any developers working on the project who use Windows directly without WSL so we don't have much experience debugging node on Windows.

[2018-02-05 17:32] muffinresearch commented on #4272
@ioanarusiczki Please can you provide details of the exact add-on names you're using? It will help us to reproduce and also help us eliminate indexation taking time before it's there.

[2018-02-05 17:39] muffinresearch commented on #4109
There seems to be an issue with state, I see that the server-rendered page has the correct data. However when the page is updated on the client the JS reverts the review text to the previous content that was there before the edit!

[2018-02-05 17:42] muffinresearch commented on #4109
I had updated the review copy from 'test' to 'test test'. But after the page loads I see this in the console:

<img width="670" alt="bewertungen_fur_dancing_candy_canes_ _add-ons_fur_firefox" src="https://user-images.githubusercontent.com/1514/35819875-e52b6612-0a9b-11e8-84ef-07d9dd1521e5.png">

[2018-02-05 17:44] muffinresearch commented on #4109
Looks like the API is serving stale content.  I see the pre-edited data in the API response JSON.

@diox any ideas?

[2018-02-05 17:44] muffinresearch commented on #4109
FWIW I'm not sure the locale has anything to do with this issue.

[2018-02-05 17:56] muffinresearch commented on #4087
@himanish-star if you are still interested in looking at this then feel free - please let me know if you have any questions. When you have a PR please file it referencing this issue with "Fixes #ISSUE_NUMBER".  Thanks!

[2018-02-05 17:59] muffinresearch commented on #4074
This appears to be windows specific.

[2018-02-05 18:09] bqbn commented on #4252
To give some background, the reason why it behaves like it does today is because we do explicit routing for the front-ends, and the original ticket (https://github.com/mozilla/addons-frontend/issues/2082#issue-214723041) requested only category pages **with** ending slash (`/(dictionary|extensions|language|search|themes)/%slug%/`) are to be redirected to the front-end.

And https://github.com/mozi

[2018-02-05 18:09] muffinresearch commented on #4065
@aswan Please can you let me know if there's params other than platform that additionally need this change? Are there values for `platform` that use title-casing too or is it just `Linux`?

Once we have a list I can look to pass this to ops to get a redirect setup.

[2018-02-05 18:12] muffinresearch commented on #4044
@vcarciu Since there's a fix in place the provides eventual consistency around the name change please could you re-validate the STR and see if this is still an issue?

[2018-02-05 18:14] muffinresearch commented on #4043
This works if you navigate client-side via themes -> picking a category link.

[2018-02-05 18:16] muffinresearch commented on #4272
URL extracted from the screencast for the add-on in question: https://addons-dev.allizom.org/en-US/firefox/addon/barlin-raverk-chiching/

[2018-02-05 18:17] muffinresearch commented on #4272
@EnTeQuAk what would you expect ES to make of this?

[2018-02-05 18:21] muffinresearch commented on #4021
Starting Firefox with a new profile I cannot reproduce this.

@mstriemer I'm going to close but please can you try with a new profile - feel free to re-open if you can still repro this with a new profile.

[2018-02-05 18:21] #4021 closed

[2018-02-05 18:28] muffinresearch commented on #3964
Duplicate of https://github.com/mozilla/addons-frontend/issues/4074

[2018-02-05 18:28] #3964 closed

[2018-02-05 18:31] jrbenny35 commented on #3992
This would also be a good test for the upcoming functional tests.

[2018-02-05 18:32] muffinresearch commented on #3954
@pwalm - can we get an update on an alternative handling for "Manage" e.g. could it just indicate "Installed"? We need to get something in place for this as soon as we can since Firefox will soon be linking more directly to AMO from about:addons.

[2018-02-05 18:39] himanish-star commented on #4087
@muffinresearch, Thanks. I am currently a bit occupied elsewhere :sweat_smile: . So if someone else wants to work on this they can surely move ahead. In the meanwhile if I find some time, I'll surely work on this and file a PR.

[2018-02-05 18:40] muffinresearch commented on #3943
Still happens - needs further investigation as to why this is happening.

[2018-02-05 18:41] muffinresearch commented on #3932
@bqbn do you have any tooling for working this out already?

[2018-02-05 18:42] kumar303 opened #4315 "Display generic errors with an error handler"
When certain form fields are blank we need to use an error handler to show messages. See https://github.com/mozilla/addons-frontend/issues/4002 . The error handler currently only works for API response errors.

**For QA**: This new feature is not visible yet but please test for regressions in any place we show an error in response to a user action. Example STR:
- Upload an extension
- Sign into AM

[2018-02-05 18:45] muffinresearch commented on #3914
I'm not sure what action we need to take here. The button is disabled and now the bar is above the copy in a more prominent location. Marking as wontfix.

[2018-02-05 18:45] #3914 closed

[2018-02-05 18:49] muffinresearch commented on #3900
@anweshknayak how are you going with this? Please let us know if you have any questions.

[2018-02-05 18:54] muffinresearch commented on #3862
@AlexandraMoga buttons were recently re-styled - would you be able to see if this is still reproducible?

[2018-02-05 18:57] muffinresearch commented on #3801
/cc @diox since this might be API related.

[2018-02-05 18:58] wagnerand opened #4317 "Remove beta version support"
This is part of https://github.com/mozilla/addons-server/issues/7163

The frontend currently exposes beta versions. Since we're going to remove this feature, we need to remove all references to beta versions, gated by a waffle flag.

[2018-02-05 19:02] muffinresearch commented on #3776
@bqbn any idea when turning this on for favicons might be possible?

[2018-02-05 19:03] muffinresearch commented on #4317
@wagnerand waffle does not exist in addons-frontend. However you can probably use config to amount to the same thing.

[2018-02-05 19:05] muffinresearch commented on #3774
To me that sounds like a Pontoon bug.

I'll keep this issue open for consideration but I think realistically it's likely to be relatively low priority compared to other things we are trying to do at the moment, splitting things up is likely to be a complex change.

[2018-02-05 19:05] wagnerand commented on #4317
@kumar303 if you have documentation or an example on how to use config, that would be great, thanks!

[2018-02-05 19:10] bqbn commented on #3776
I haven't had time to look at this one before. I'll say next week, if that works.

[2018-02-05 19:14] muffinresearch commented on #3720
Possibly related to https://github.com/mozilla/addons-frontend/issues/4109

[2018-02-05 19:17] muffinresearch commented on #3712
I can still reproduce this.

[2018-02-05 19:18] muffinresearch commented on #3695
/cc @pwalm for info

[2018-02-05 19:19] muffinresearch commented on #3691
Would be nice to make the close work on pressing `escape` too.

[2018-02-05 19:25] bqbn commented on #3932
The tool I can think of to test website responsiveness is ab (https://httpd.apache.org/docs/2.4/programs/ab.html). As for graphing we can probably use datadog.

[2018-02-05 19:31] muffinresearch commented on #3550
@vcarciu can you provide examples or citations where this is expect / seen elsewhere? I could be convinced otherwise but I generally thought that focus trapping was seen as a bad practice.

[2018-02-05 19:34] muffinresearch commented on #4087
@himanish-star no problem - I've updated the labels and this is open for other contributions.

[2018-02-05 19:39] muffinresearch commented on #3511
We're planning not to do this at all on desktop so it's only done where necessary.

Superceded by https://github.com/mozilla/addons-frontend/issues/3787

[2018-02-05 19:39] #3511 closed

[2018-02-05 19:40] muffinresearch commented on #3537
This one needs further investigation

[2018-02-05 19:43] muffinresearch commented on #3466
I haven't seen any other reports of this being an issue. I'm going to close this for now, but we should definitely re-open this if we hear any further reports of this being a problem.

[2018-02-05 19:43] #3466 closed

[2018-02-05 19:43] #3447 closed

[2018-02-05 19:48] muffinresearch commented on #3410
Not only the above, but these probably could be both separate entry points to save all that content being part of the bundle.

[2018-02-05 20:05] bobsilverberg commented on #4043
The problem reproduces if you navigate to a category, then click the "Explore" link, and then use the back button to navigate back to the theme category. "Explore" is still underlined, even if you refresh the page. This also seems to happen for other types with categories (e.g., Extensions).

I will see if I can figure out the cause.

[2018-02-05 21:36] jrbenny35 commented on #4312
I've seen this in my testing actually. I think this is more of a addons-server bug though.

[2018-02-05 21:39] #4303 closed

[2018-02-05 22:21] #4315 closed

[2018-02-05 22:34] #4313 closed

[2018-02-06 08:29] AlexandraMoga commented on #3862
This has been fixed by the button restyling

![send abuse](https://user-images.githubusercontent.com/31961530/35848930-8bd48a3e-0b28-11e8-8e7a-f23f1f5c3c93.gif)

[2018-02-06 09:00] AlexandraMoga commented on #4303
Verified as fixed on AMO -dev , FF58 (Win10 and Android 7.0)

![image](https://user-images.githubusercontent.com/31961530/35849961-f5cadfa8-0b2b-11e8-9ab5-cadeae0d1553.png)

I've just realized I forgot to mention that the button is not perfectly centered (really sorry about that). I'm gonna have to open a new issue for this matter :disappointed:

[2018-02-06 09:18] AlexandraMoga opened #4318 "'Log in to flag review' button is not correctly centered"
Another follow up for [#2517](https://github.com/mozilla/addons-frontend/issues/2517) which sadly I forgot to mention :disappointed:

STR:
1. Access an add-on review's page while logged out (i.e. https://addons-dev.allizom.org/en-US/android/addon/awesome-screenshot-plus-/reviews/)
2. Click on 'Flag' for any of the listed reviews
3. Observe the position of the 'Log in to flag review' button

Actual

[2018-02-06 09:29] AlexandraMoga commented on #4313
@kumar303 is there anything to be done by QA here? This doesn't have an impact on AMO code as far as I can tell but a confirmation would be helpful.

[2018-02-06 10:18] muffinresearch commented on #4318
Here's a screenshot. This button is a weird thin and wide button. It would be nice to fix that too.

<img width="670" alt="bewertungen_fur_dancing_candy_canes_ _add-ons_fur_firefox" src="https://user-images.githubusercontent.com/1514/35854001-02bda772-0b27-11e8-8c12-ea4e3c501ca4.png">

[2018-02-06 10:39] eviljeff commented on #4252
@bqbn why do extension category pages work __without__ the slash though?  the pattern in #2082 shows extensions as well as themes (plus dictionaries, lang packs, search plugins)

[2018-02-06 10:47] ioanarusiczki commented on #4044
@muffinresearch  I tested and reproduced this issue on AMO dev and AMO stage using FF58 (Win 10)

![more information](https://user-images.githubusercontent.com/33448286/35855370-b07d4228-0b3b-11e8-848d-17439c023b4f.gif)

[2018-02-06 10:59] diox commented on #2221
Install count stats are processed every day, not live. So I don't see the issue here.

[2018-02-06 11:05] muffinresearch commented on #4044
@ioanarusiczki it would be good to check if it eventually re-appears. mozilla/addons-server#6964 mentioned around a 10minute delay.

[2018-02-06 11:15] AlexandraMoga commented on #4315
Tried several scenarios which would generate an error in response to a user action, like for example: rating your own extension, adding same addon to the same collection, flagging your own review,
The error messages are triggered when expected and no other issues were identified.

![image](https://user-images.githubusercontent.com/31961530/35856715-815f1328-0b3f-11e8-831f-63dedb1e6faa.png)
-------

[2018-02-06 11:20] diox commented on #4109
It could be because of the locale somehow, because even though we don't expose it as such, a rating body is actually a translated field behind the scenes - just one that we never bother to expose multiple translations of. (dates back from when AMO was offering the possibility to translate ratings using google translate)

[2018-02-06 11:23] diox commented on #4109
And indeed:
[code]

Clearly an addons-server bug, and tied to the locale. We saved 2 different translations, each with a different locale. This is going to be tricky to fix properly...

[2018-02-06 11:27] muffinresearch commented on #4109
@diox Thanks for digging into it.  Would it make sense to move/file an issue on addons-server with these specifics to supercede this one?

[2018-02-06 11:29] diox commented on #4109
Yeah, please do that.

[2018-02-06 12:52] ioanarusiczki commented on #4044
@muffinresearch In my case I had an 8 min delay. I also noticed that when I try the scenario  the first time with an add-on from my list the "More add-ons by this author" is displayed but then I edit again the display and username and go back to the same add-on, click the View Listing and the section is no longer there.

[2018-02-06 14:13] anweshknayak commented on #3900
hey @ryanfeeley I couldn't locate this one. If I tried getting into this page it took me to the production one.

[2018-02-06 15:22] muffinresearch commented on #4044
Ok, based on the fact we have eventual consistency (as per https://github.com/mozilla/addons-frontend/issues/4044#issuecomment-363412963) I'm going to lower the priority of this.

[2018-02-06 15:52] muffinresearch opened #4320 "Allow "edition" query param to be passed through to the disco pane API."
A follow-up from https://github.com/mozilla/addons-server/issues/7489

Once this lands, passing `?edition=china` on the end of a disco pane URL should show different content.

[2018-02-06 16:09] kumar303 commented on #3493
I would really like to solve this. The first failure you see in this scenario is always the *wrong* failure.

[2018-02-06 16:27] kumar303 opened #4322 "Close the form overlay after updating a collection"
The saga to handle [updating a collection](https://github.com/mozilla/addons-frontend/issues/4002) needs to close the form overlay when finished.

[2018-02-06 16:39] kumar303 opened #4323 "Fix how localized params are passed through collection actions/sagas"
The API function requires [a localized string](https://github.com/mozilla/addons-frontend/pull/4201/files#diff-f2a5dd9c232205755bd944f602a2e32fR161) but the action/saga was only [passing a regular string](https://github.com/mozilla/addons-frontend/pull/4209/files#diff-5c509a4b5942e40bfb891f933815dc7bR454).

Interestingly, the point of contact with the API function was through the saga and since th

[2018-02-06 16:47] #4320 closed

[2018-02-06 16:50] #4322 closed

[2018-02-06 16:50] #4323 closed

[2018-02-06 17:16] muffinresearch opened #4326 "Rename taarParamsToUse to discoParamsToUse or similar"
Since the params passed to the discovery API are not all specifically just for TAAR we should now rename it to reflect reality.

[2018-02-06 17:19] kumar303 commented on #4326
Thanks for filing -- I was looking at this code and thinking to myself, hmm, what is TAAR again? It could probably use some more comments too.

[2018-02-06 17:28] muffinresearch commented on #3302
I can't repro this any more.

[2018-02-06 17:28] #3302 closed

[2018-02-06 17:30] muffinresearch commented on #3252
@jvillalobos I'd be interested in your take if this is something we should be looking to support.

[2018-02-06 17:33] muffinresearch commented on #3193
This might be resolved if we get to unify the categories see https://github.com/mozilla/addons-server/issues/5989

[2018-02-06 17:47] muffinresearch commented on #3090
@devaneymoz do you have thoughts on what we should be aiming for here?

[2018-02-06 17:51] muffinresearch commented on #3079
This looks a lot better today. I don't think there's anything else to do.

[2018-02-06 17:51] #3079 closed

[2018-02-06 17:54] muffinresearch commented on #3056
I think this one makes sense to fold into https://github.com/mozilla/addons-frontend/issues/3388

[2018-02-06 17:56] muffinresearch commented on #3038
Relates to https://github.com/mozilla/addons-frontend/issues/1971 which would make this easier.

[2018-02-06 18:10] muffinresearch commented on #3001
I think we got what we needed out of this.

[2018-02-06 18:10] #3001 closed

[2018-02-06 18:12] muffinresearch commented on #2937
See https://github.com/mozilla/addons-frontend/issues/1971 which relates to passing the page_size info from the response to the paginator which should always be correct.

[2018-02-06 18:13] muffinresearch commented on #2927
Will be redundant once the previews get removed see https://github.com/mozilla/addons-frontend/issues/3056

[2018-02-06 18:14] muffinresearch commented on #2932
Closing based on https://github.com/mozilla/addons-frontend/issues/2932#issuecomment-335076465

[2018-02-06 18:14] #2932 closed

[2018-02-06 18:16] muffinresearch commented on #2911
@diox I think we've done most of this - can you see anything missing?

[2018-02-06 18:19] muffinresearch commented on #2898
This one needs further investigation - it sounds like it may be an addons-server API issue.

[2018-02-06 18:20] muffinresearch commented on #2828
This is no longer relevant.

[2018-02-06 18:20] #2828 closed

[2018-02-06 18:22] muffinresearch commented on #2802
I don't think we need to do this since Sentry is related to the running of the service rather than anything related to tracking.

[2018-02-06 18:22] #2802 closed

[2018-02-06 18:26] muffinresearch commented on #2779
@jvillalobos I'm thinking this should be closed out due to the impact on relevancy - any thoughts?

[2018-02-06 18:26] muffinresearch commented on #2763
Beta versions are being phased out so I'm going to close this.

[2018-02-06 18:26] #2763 closed

[2018-02-06 18:57] muffinresearch commented on #2662
Based on @pwalm's mock I think this would only really work if there was less colour in the category labels, I notice my eye is drawn to them too much compared to the actual content.

Since we've fixed the width of the central column it's not quite as bad as it was when first reported.

I think based on the experiment this issue can be closed out as we're going to stick with the current layout but

[2018-02-06 18:57] #2662 closed

[2018-02-06 18:58] muffinresearch commented on #2639
@kumar303 is this still happening?

[2018-02-06 19:01] muffinresearch commented on #2594
@tofumatt can you add a full STR for an example of this issue - it's unclear to me what the impact is. This is only on mobile AFAICT from the linked issue.

[2018-02-06 19:04] muffinresearch commented on #2483
I think this was fixed when we started using https://github.com/mozilla/addons-frontend/blob/8fefe7a3039070154a3421206ec20f02c84fa265/package.json#L167

[2018-02-06 19:04] #2483 closed

[2018-02-06 19:11] muffinresearch commented on #2377
@kumar303 I'm thinking this should be closed on the basis of your last comment.

[2018-02-06 19:11] #2377 closed

[2018-02-06 19:34] muffinresearch commented on #2318
@kumar303 @tofumatt any further thoughts on this? Should we keep this open for consideration or are we able to conclude that at least for now this isn't a direction we should be looking to head in?

[2018-02-06 19:37] muffinresearch commented on #2279
I think this is a wontfix.

[2018-02-06 19:37] #2279 closed

[2018-02-06 19:38] muffinresearch commented on #2240
create-react-app has a great experience for this kind of thing using an overlay for errors.

[2018-02-06 19:40] muffinresearch commented on #2161
@kumar303 if that provides all the nice things like regexes etc and is a better fit for our setup then I'm +1 on us moving in that direction.

[2018-02-06 19:42] muffinresearch commented on #2175
This needs re-evaluating if it's still a problem. If it's not that common we can downgrade the priority.

[2018-02-06 19:44] muffinresearch commented on #2049
I think this is no longer an issue.

[2018-02-06 19:44] #2049 closed

[2018-02-06 19:45] muffinresearch commented on #4318
See also https://github.com/mozilla/addons-frontend/issues/2056

[2018-02-06 19:46] muffinresearch commented on #2075
Theme previews are going away see https://github.com/mozilla/addons-frontend/issues/3056

[2018-02-06 19:46] #2075 closed

[2018-02-06 19:50] muffinresearch commented on #2447
Duplicate of https://github.com/mozilla/addons-frontend/issues/1961

[2018-02-06 19:50] #2447 closed

[2018-02-06 19:55] muffinresearch commented on #2030
wont-fixing this on the basis that the preview is going away soon see https://github.com/mozilla/addons-frontend/issues/3056

[2018-02-06 19:55] #2030 closed

[2018-02-06 19:57] muffinresearch commented on #2011
@danialmas is this still reproducible for you?

[2018-02-06 19:57] tofumatt commented on #4318
Those "weird thin and wide" buttons are the spec for small buttons 😄

But yes, the padding could be improved.

[2018-02-06 20:02] muffinresearch commented on #1954
I don't see this is an issue any longer.

[2018-02-06 20:02] #1954 closed

[2018-02-06 20:03] muffinresearch commented on #1870
I don't think this feature is required or necessary.

[2018-02-06 20:03] #1870 closed

[2018-02-06 20:06] muffinresearch commented on #1938
Closing since theme previews are being removed in https://github.com/mozilla/addons-frontend/issues/3056

[2018-02-06 20:06] #1938 closed

[2018-02-06 20:07] muffinresearch commented on #1552
Closing this one in favour of https://github.com/mozilla/addons-frontend/issues/4260

[2018-02-06 20:07] #1552 closed

[2018-02-06 20:10] muffinresearch commented on #926
Theme previews are going away: https://github.com/mozilla/addons-frontend/issues/3697

[2018-02-06 20:12] muffinresearch commented on #1153
I don't think we need this tracker any more.

[2018-02-06 20:12] #1153 closed

[2018-02-06 20:16] muffinresearch commented on #1397
Maybe superceded by https://github.com/mozilla/addons-frontend/issues/2422

[2018-02-06 20:16] muffinresearch commented on #529
@EnTeQuAk any updates?

[2018-02-06 20:43] kumar303 commented on #926
Did you link to the right issue? That one is about a license view.

[2018-02-06 20:58] kumar303 commented on #2318
I vote that we close this issue. This [story](https://medium.com/elemefe/upgrading-ele-me-to-progressive-web-app-2a446832e509) suggests that it is technically impossible to achieve single-page-app speed with a multi-page app. They tried everything.

[2018-02-06 20:58] #4043 closed

[2018-02-06 21:09] #4259 closed

[2018-02-06 21:51] bobsilverberg commented on #4029
The current ratings use svg files for display, specifically:

- dim-star.svg
- full-star.svg
- half-star.svg

All of which are found in /src/ui/components/Rating/img

I assume we'll need some new images for the gold stars? Who might be able to produce those?

[2018-02-06 22:10] bobsilverberg commented on #4029
So @kumar303 was kind enough to show me how to extract the gold outlined star from the sketch file, but I think we also need a full gold star. I assume we don't need a gold half-star, as gold is only used for the UI when a user can set a rating, and users cannot set half-star ratings. But I imagine that the UI would show all outlined stars if a user has not provided a rating, and then once they ha

[2018-02-06 22:42] kumar303 opened #4329 "Show bio on user profile page"
The user profile page (https://github.com/mozilla/addons-frontend/issues/2749) should show a bio, which is text that the user has entered to describe themself.

[2018-02-06 23:06] pwalm commented on #2043
@tofumatt Let's try the Reddit way

[2018-02-06 23:17] kumar303 commented on #2639
Yes but there is now an option called [`watchPatchIgnorePatterns`](https://facebook.github.io/jest/docs/en/configuration.html#watchpathignorepatterns-array-string) that we can use to fix it! I think we just need to ignore all the things that webpack touches on a rebuild (`sri.json`? I forget).

[2018-02-06 23:17] pwalm commented on #3636
Re-reading this issue: yes, "editing" should behave the same way as a developer response. Not sure what writing a review inline looks like yet though. Still some iterating happening on that.

[2018-02-06 23:18] pwalm commented on #3691
Agreed, pressing "esc" would be a great closing option as well.

[2018-02-06 23:19] pwalm commented on #3954
"Installed" works for now. Behaviour can change in the future.

[2018-02-06 23:27] devaneymoz opened #4330 "15 February homepage content programming"
For the **Thursday, 15 February** push, can we please update the AMO homepage programming in accord with what's outlined [here](https://docs.google.com/document/d/1g4RuGKW__eTHNd277rKPMM46ygonXzW68jSs2OXEkPM/edit#heading=h.n5783ro8ws5h)?

@EnTeQuAk @diox @muffinresearch

[2018-02-06 23:50] decembre opened #4331 "Improve Collection Function in the new design Addon pages"
### We Can't see in which Collection an extension is already:
- Need to be Like in the old design where we see a check before each collection where the extension is added.
Click on it delete the addon from here and an external link icon can open the collection
###  In first It should be great to show only the list of collections where the addon is already added.
### Sort  collections list by alpha

[2018-02-07 00:32] bqbn commented on #4252
@eviljeff that's a good question.

In extensions case (and I bet it's the same for others) is because addons-server adds a trailing slash and returns a 301 to Nginx, which Nginx passes to the browser, the browser tries the 301 again, and landed on the mobile site.

For example, on an addons-server instance, I did this:
[code]

And apparently the addons-server doesn't treat `themes/<slug>` the same

[2018-02-07 07:28] AlexandraMoga commented on #2932
This can be marked as verified fixed

![image](https://user-images.githubusercontent.com/31961530/35903752-2f12bec6-0be9-11e8-9594-2ac2ae92a05d.png)

[2018-02-07 09:34] ioanarusiczki commented on #3079
I verified this issue with iOS 11.2.5, Firefox for iOS 10.6 and with Safari too.
After making a Search and click on an ad-on from the search results the add-on detail page will display layout issues, the screen looks like it was zoomed in. The user must zoom out in order to obtain the overall view (Register and Log in button and text on the add-on detail page)

Firefox
![image-1 1](https://user-im

[2018-02-07 09:37] AlexandraMoga commented on #4320
This was verified in [mozilla/addons-server/#7489](https://github.com/mozilla/addons-server/issues/7489#issuecomment-363709106)

[2018-02-07 09:56] eviljeff commented on #4252
From some local testing (without frontend) it appears extension categories always end _with_ `/` (if you enter a url without a slash it redirects - so the nginx rule always kicks in); and theme categories always end _without_ a `/` (similarly, if a url with a slash is entered it redirects to the url without).  Because the theme categories work the opposite way if the url is entered without a `/` i

[2018-02-07 10:01] designakt commented on #926
I think he is talking about this: #3056
Sad to hear that previews go away. They made themes so much more relatable.

[2018-02-07 10:23] ioanarusiczki commented on #2049
Verified on AMO dev with FF58 (Android 8.0.0)

[2018-02-07 10:40] ioanarusiczki commented on #4043
Verified fixed on AMO dev with FF58 (Win 10, Android 8.0.0)

![themescategories](https://user-images.githubusercontent.com/33448286/35912021-1b75433c-0c04-11e8-99e1-ca357ffc7ba9.png)

[2018-02-07 13:55] biubiuzyt opened #4333 "hjmnghmk"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-02-07 13:55] biubiuzyt commented on #4333
this is amazing

[2018-02-07 13:56] #4333 closed

[2018-02-07 14:07] ioanarusiczki opened #4334 "Unbroken strings are not wrapped for screenshot captions"
STR:
1. Load AMO stage and from Developer Hub click on Edit information for an already submitted add-on
2. Click Edit for Images section to add a screenshot
3. Insert an unbroken string in the box below "Please provide a caption for this screenshot"

Expected result:
Text is wrapped.

Actual result:
Text is not entirely displayed and appears cut.

Notes:
This issue is more evident on android devic

[2018-02-07 14:23] kumar303 commented on #4198
@ioanarusiczki Yes, this text change is fine. Thank you for verifying.

[2018-02-07 16:41] wagnerand commented on #4087
@pwalm Could you advise what we'd do best in this case?

[2018-02-07 16:54] muffinresearch opened #4335 "Changing a locale after editing a review does not show the updated content"
Originally filed at https://github.com/mozilla/addons-frontend/issues/4109

STR:

1. Go to AMO homepage and select an add-on to view its details page (i.e. https://addons-dev.allizom.org/de/firefox/addon/dancing-candy-canes/)
2. Navigate to the rating section and leave a review for this add-on
3. Click on 'Read all reviews' and verify that your review was listed
4. Change your locale
5. With the n

[2018-02-07 16:54] #4335 closed

[2018-02-07 16:54] muffinresearch commented on #4335
Wrong repo!

[2018-02-07 16:55] kumar303 opened #4336 "Edit collection URL (slug)"
Tracker: https://github.com/mozilla/addons-frontend/issues/2782

A user should be able to:
- Sign in
- View an existing collection that they created (the classic site enables creation)
- Edit the collection URL which is really just the slug (e.g. a readable name) at the end of the URL. The form field for this is *Custom URL*

**Notes for QA**:
- The URL form field looks a little different than the

[2018-02-07 16:58] muffinresearch commented on #4109
Moved to https://github.com/mozilla/addons-server/issues/7517

[2018-02-07 16:58] #4109 closed

[2018-02-07 17:12] aswan commented on #4065
Let's see, of course none of this is documented on the Firefox side but it looks like the substitution for OS comes from here:
https://searchfox.org/mozilla-central/rev/84cea84b12145d752e50ddca6be5462c38510e35/toolkit/components/urlformatter/nsURLFormatter.js#108
which comes from:
https://searchfox.org/mozilla-central/rev/84cea84b12145d752e50ddca6be5462c38510e35/toolkit/components/urlformatter/nsU

[2018-02-07 18:11] wagnerand commented on #4070
@kumar could you add a little more information on what a fix would look like and where it would have to be applied? Thanks!

[2018-02-07 18:48] tofumatt commented on #926
FWIW: Currently a theme has to be previewed by tapping a button, which is the same kind of interaction as tapping the install button/switch to preview/install then tap again to uninstall, so the UX should be pretty close.

[2018-02-07 20:17] kumar303 commented on #4271
The only way a user will experience this is if they edit the URL bar so I think we should drop the priority.

[2018-02-07 20:18] kumar303 commented on #4291
Since a large percentage of our users will never see this, I think we should drop the priority.

[2018-02-07 20:35] FatOrangutan opened #4338 "Notice for add-on dependencies isn't shown"
### Describe the problem and steps to reproduce it:
Go to the page of an extension that has listed another extension as a dependency. E.g. [[STG plugin] Load custom group](https://addons.mozilla.org/en-US/firefox/addon/stg-plugin-load-custom-group/)

### What happened?
There was no dependency notice.
<img width="779" alt="screenshot 2018-02-08 00 22 48" src="https://user-images.githubusercontent.c

[2018-02-07 21:50] bobsilverberg commented on #4330
I've started looking at the changes required for this, and there was some discussion today about whether there is anything we can do to improve the workflow and make this task less onerous in the future.

This might be a crazy idea, but what if the data for the HeroSection elements were stored in a database in addons-server, and Scott were able to update the data via a UI to that database? An API

[2018-02-07 22:00] kumar303 commented on #4330
It's probably worth considering. I don't know if our admin site is in much of state to allow for that kind of data entry or not.

[2018-02-07 22:20] devaneymoz commented on #4330
For some historical perspective, these manual programming updates were only supposed to last until the end of Q1 when a custom homepage publishing tool could be developed. But that got sidelined in lieu of other priority projects and will now hopefully happen in Q2.

I'm all for doing whatever makes these updates easier (they'll probably continue to happen bi-weekly until the tool is developed), b

[2018-02-07 22:34] bobsilverberg commented on #4330
Thanks Scott. It's not really much work, but I'm glad to hear that something is in the works to automate the process further. For now I shall just edit the files.

[2018-02-08 00:10] bqbn commented on #4252
@eviljeff so to be clear, in the theme categories case, do you want nginx to catch both with and without `/` cases and redirect them to the mobile site, or, do you want addons-server to redirect the requests without `/` (e.g. make it the same behavior as extension categories)?

[2018-02-08 00:23] tofumatt commented on #4338
I amended the issue to show a screenshot of the current site where the issue happens; originally I was confused and thought this was an issue with the old site based on the screenshot.

[2018-02-08 01:13] tofumatt opened #4339 "Use <React.Fragment> over <div>s where possible"
We wrap a lot of things in `<span>` or `<div>` when we don't need to, simply because JSX needs us to enclose multiple node in a wrapper. But React has a tool for that: https://reactjs.org/docs/fragments.html

We should totally use it. 👍

[2018-02-08 09:48] nodeticswww opened #4340 "When submitting a new WebExtension version, changelog textarea is not working"
### Describe the problem and steps to reproduce it:

1. Click to submit a new version of a WebExtension
2. Upload the file and proceed to the screen which should have a text area for the changelog and comments text area for the reviewer

### What happened?

Sometimes the changelog text area is not visible at all (by looking at the CSS, it has 'display: none' setting). Sometimes the field is visibl

[2018-02-08 12:07] tofumatt opened #4341 "Login required page is quite unstyled"
### Describe the problem and steps to reproduce it:
Go to a page that requires login (eg. http://localhost:3000/en-US/firefox/users/edit on the `user-profile` branch).

### What happened?
This page appears:
<img width="1349" alt="screenshot 2018-02-08 12 04 51" src="https://user-images.githubusercontent.com/90871/35972133-802c3000-0cc8-11e8-9942-5a0e8f1fb822.png">

### What did you expect to happe

[2018-02-08 12:53] tofumatt opened #4342 "Create a styled DL with a renderIfNodes API"
The User profile page requires something very similar to:

<img width="406" alt="screenshot 2018-02-08 12 50 49" src="https://user-images.githubusercontent.com/90871/35973871-ea2d10e0-0cce-11e8-8389-c424c7d57a28.png">

which also has a handy `renderNodesIf()` helper.

https://github.com/mozilla/addons-frontend/blob/master/src/amo/components/AddonMoreInfo/index.js#L180

I think we could abstract th

[2018-02-08 13:16] AlexandraMoga commented on #3752
This can't be verified until a fix for [#4291](https://github.com/mozilla/addons-frontend/issues/4291) will be available

[2018-02-08 13:28] AlexandraMoga commented on #4323
Verified on AMO-stage with FF58 (Win10 and Android 7.0). There were no issues spotted around the available collection pages/features.

[2018-02-08 14:34] #3917 closed

[2018-02-08 14:46] tofumatt commented on #4342
For QA: make sure the "More information" section on the add-on details page has no regressions after this issue is fixed.

[2018-02-08 15:00] eviljeff commented on #4252
@muffinresearch wants addons-server fixed to be consistent with it's slashes instead so this is a wontfix then.

[2018-02-08 15:04] kumar303 opened #4345 "Use React.Fragment when returning multiple elements"
If you search for `<div>` you will find a lot of components that are rendering multiple elements. We should switch to [`React.Fragment`](https://reactjs.org/docs/fragments.html) for this to reduce HTML clutter, minimize nesting, and cut down on page size.

[2018-02-08 15:05] tofumatt commented on #4345
I filed this as #4339 😄

[2018-02-08 15:05] #4345 closed

[2018-02-08 15:06] #4252 closed

[2018-02-08 15:33] tofumatt commented on #2594
The steps to reproduce are:

1. create a `<button>` element or a `<Button>` component with an `onClick` handler and a `:hover` style
2. On a desktop browser the `onClick` will fire on first click (expected result)
3. On a mobile/touch-based browser the `:hover` state will be activated on first click/tap and the `onClick` event will not fire
4. On the second click/tap the `onClick` event will fire

[2018-02-08 15:35] eviljeff opened #4346 "Handle multiple icon sizes in Addon detail response from AMO"
see mozilla/addons-server#7514 - we're looking to expand the `icon_url` property in the Addon detail response to be list of size, path pairs, rather than a single path (to the 64x64 icon).

-We did implement it as a new `icons` property, rather than overload the existing `icon_url` property.

[2018-02-08 15:37] kumar303 opened #4347 "Fix `yarn amo` for developing with a local addons-server API"
The local domain `olympia.dev` [is changing](https://github.com/mozilla/addons-server/pull/7402) to `olympia.test`. We need to update some configs and docs for this new setup.

Note that the upstream changes will *not* affect `yarn amo:dev`, `yarn amo:stage`, or `yarn disco`.

[2018-02-08 15:45] ioanarusiczki opened #4348 ""Add to Firefox" button is displayed as being active before the add-on's auto approval"
Steps to reproduce:
1. Load AMO dev and from Developer Hub submit a new add-on.
2. While it is awaiting for auto approval click on View Listing.
3. Observe Add to Firefox button.

Expected results:
Add to Firefox button is greyed out until Awaiting Review changes state into Approved.

Actual results:
Add to Firefox button is displayed as being active and it can be clicked.

Notes:
This issue is al

[2018-02-08 16:12] ioanarusiczki commented on #3917
Verified fixed on AMO dev with FF58 (Win 10)

![show hint](https://user-images.githubusercontent.com/33448286/35983811-946ccd6c-0cfb-11e8-92a6-3eb185d78e60.png)

[2018-02-08 18:25] kumar303 opened #4350 "Update-collection saga should reset collection state"
The update-collection saga added in https://github.com/mozilla/addons-frontend/issues/4196 supports this user flow:

- open a form to edit a collection
- change some collection data like name, description
- patch the collection using the API
- close the form and **see the newly added collection data**

In order to implement the last part of this (in bold), the saga needs to invalidate the collecti

[2018-02-08 18:29] kumar303 opened #4351 "Remove "updating collection" state in favor of FormOverlay state"
The patch from https://github.com/mozilla/addons-frontend/pull/4209 added a concept of "updating" or "not updating" state. I realized that this is no longer necessary because we can use the same state from the [`FormOverlay`](https://github.com/mozilla/addons-frontend/issues/4300). This is a more generic pattern that can be re-used in future forms.

[2018-02-08 20:58] bobsilverberg opened #4355 "Make all visual representations of the user's personal ratings yellow"
This is a follow-up to PR #4337. There is a question about whether all visual representations of the user's personal ratings should be yellow, or if we should only show yellow stars where a user can interact with them to set their rating.

For example, should the stars be yellow in the attached screenshot, @pwalm?

![image](https://user-images.githubusercontent.com/142755/35997754-7909798e-0ce8-11

[2018-02-08 21:23] kumar303 commented on #4345
Hah. I have been starting my day by writing code *instead* of reading email. It's been great for productivity but I guess I missed your issue 😎

[2018-02-08 23:23] jvillalobos commented on #3252
I think sorting by Name makes sense, especially in cases where you end up on a search page without a query (like [top rated in a category](https://addons.mozilla.org/firefox/search/?category=bookmarks&sort=rating&type=extension)). Somewhat related, the Relevance sorting option appears in those cases, but it doesn't really make sense. Maybe Name should replace Relevance as a sorting option when the

[2018-02-09 00:07] TonyTough opened #4357 "Nano Defender is no longer available on Add-ons Mozilla"
Nano Defender, which is a highly valuable and effective Add-on, is no longer available on Add-ons Mozilla:
https://addons.mozilla.org/de/firefox/addon/real-nano-defender/

The Add-on should be available immediately again on Add-ons Mozilla.

[2018-02-09 02:25] tofumatt commented on #4357
This is the issue tracker for the add-ons site and related projects, not for an add-on.

If you're having an issue with an add-on please contact the developer directly; you can find a link to their contact details on the add-on page on https://addons.mozilla.org/

[2018-02-09 02:25] #4357 closed

[2018-02-09 12:06] AlexandraMoga opened #4359 "Truncated options from 'Flag' review menu end too abruptly after selection"
STR:

1. Log into AMO and set your locale to `/ru/`
2. Pick a rated add-on to view its details page
3. Go to the rating section and click on Read all reviews to view all available reviews for this add-on (i.e. https://addons-dev.allizom.org/ru/firefox/addon/awesome-screenshot-plus-/reviews/)
4. Click on 'Flag' for any of the listed reviews and select the second or the last option from the menu

Ac

[2018-02-09 12:36] #4029 closed

[2018-02-09 18:28] #4350 closed

[2018-02-09 18:28] #4351 closed

[2018-02-09 20:11] kumar303 commented on #4197
This is pretty embarrassing. Does anyone know the associated addons-server issue? I can't find it. I'm assuming that we need to store higher res images?

[2018-02-09 20:14] pwalm commented on #4198
INLINE REVIEWS:
<img width="924" alt="screen shot 2018-02-09 at 12 12 41 pm" src="https://user-images.githubusercontent.com/6797635/36048011-aed96ca4-0d92-11e8-9af9-3d66a77931ef.png">
<img width="962" alt="screen shot 2018-02-09 at 12 12 50 pm" src="https://user-images.githubusercontent.com/6797635/36048015-b2970d10-0d92-11e8-8dfe-f659e2d22fdc.png">
<img width="951" alt="screen shot 2018-02-09 at

[2018-02-09 20:23] diox commented on #4197
The only issue already filed is https://github.com/mozilla/addons/issues/221 I think.

[2018-02-09 20:26] pwalm commented on #4355
Yep, all versions of a users star ratings should be yellow, everywhere.

[2018-02-09 20:29] kumar303 commented on #4355
Thanks. I'm pretty sure the only place that they are visible are in the review listing (the screen in this issue).

@bobsilverberg this issue sounds right up your alley if you have bandwidth for it.

[2018-02-09 20:52] kumar303 commented on #4198
Hi @pwalm, this is great. Can you move the mocks to https://github.com/mozilla/addons-frontend/issues/3636 ? I think that's better because maybe we won't implement an overlay for this at all.

One thing that comes to mind is that as soon the user clicks a star, they have to also click *write a review* before entering text. What if a text box just appeared? That would reduce the need for a button c

[2018-02-09 20:53] kumar303 commented on #2770
We should make sure we support the STR in https://github.com/mozilla/addons-frontend/issues/4340

In summary:
- Enter version notes in locale A
- View the site in locale B
- Expect to see the version notes for locale A

[2018-02-09 20:54] kumar303 commented on #4340
Hi. Thanks for taking the time to submit this bug.

This is a good catch. However, we're not spending time to fix this version listing page since it's on the legacy site. Instead, we plan to reimplement the page (see https://github.com/mozilla/addons-frontend/issues/2770). I added a note to that issue to make sure we handle this case.

[2018-02-09 20:54] #4340 closed

[2018-02-09 21:04] kumar303 commented on #4340
I noticed that we have a similar issue since we do display release notes for the current version. I filed this to track it https://github.com/mozilla/addons-server/issues/7535

[2018-02-09 22:42] jvillalobos commented on #2757
Let's discuss on the Tuesday meeting. This was high priority 3 months ago.

[2018-02-09 23:16] pwalm commented on #3636
INLINE EDITING (right issue this time):
<img width="924" alt="screen shot 2018-02-09 at 12 12 41 pm" src="https://user-images.githubusercontent.com/6797635/36054599-316f3252-0dac-11e8-8176-e512af33df4f.png">
<img width="962" alt="screen shot 2018-02-09 at 12 12 50 pm" src="https://user-images.githubusercontent.com/6797635/36054601-33fefc64-0dac-11e8-9c50-643ca94df2d0.png">
<img width="951" alt="sc

[2018-02-09 23:22] pwalm commented on #4198
Clicking a star and going right into review mode could be an option. I don't want a user to feel "forced" into writing a review though. I kind of like the idea of making a user click to leave a review since it shows intent. I worry we'll end up with more 1 word reviews, which aren't great.

[2018-02-09 23:35] kumar303 commented on #4198
I like the idea of capturing intent. I was thinking about users who leave one star reviews and then no text. This is frustrating for developers because they don't know anything about that one-star rating. Just something to keep this in mind.

[2018-02-10 13:47] grahamperrin commented on #3513
Re: <https://github.com/mozilla/addons-server/issues/2661#issuecomment-364654943> should this issue be reopened for the new look AMO?

[2018-02-10 18:22] willdurand commented on #4339
Hi! Do you know if Babel needs to be updated too in case we want to use the short syntax (`<>`)?

[2018-02-10 18:33] tofumatt commented on #4339
I would think it does but I don't really like the `<>` syntax anyway; I think it's not very explicit or discoverable, whereas `React.Fragment` is... so I say we just stick with that.

[2018-02-11 06:03] kumar303 commented on #4339
Typing `<React.Fragment></React.Fragment>` might get annoying. I like the shorthand. We could try it out and see.

I was curious about the discoverability; googling *what's an empty html element in React jsx* gave me `React.Fragment` as the fourth result. For our project though, I feel like someone will just ask about it in IRC if they've never seen the syntax.

[2018-02-11 14:30] bobsilverberg commented on #4339
I'm +1 on @kumar303's comment.

[2018-02-11 14:38] tofumatt commented on #4339
I definitely dislike the <> tag; it’s easy to miss when scanning through tags, it’s not imported anywhere so it’s harder to trace, it’s less explicit, and maybe I’m spoiled but my editor auto completes Resct.Fragment just fine :-)

- Matt (Sent from mobile)

[2018-02-11 17:47] willdurand commented on #4339
I'd argue that's the main purpose of this tag 😛

[2018-02-11 18:02] tofumatt commented on #4339
Hah, I guess so. Alright, fine: I cave! :-)

- Matt (Sent from mobile)

[2018-02-12 08:05] AlexandraMoga opened #4365 "The favicon is not correctly displayed on AMO prod"
STR:

1. Load AMO-prod - https://addons.mozilla.org/en-US/firefox/
2. Observe the favicon displayed in the page title

Actual result:
The favicon is represented by a green puzzle piece

Expected result:
The favicon is represented by the blue puzzle piece

Notes:
- I see that [#3275](https://github.com/mozilla/addons-frontend/issues/3275) is scheduled for the next push, so it shouldn't be reflected

[2018-02-12 09:33] eviljeff commented on #4346
This blocks implementation of mozilla/addons-server#7514

[2018-02-12 09:38] ioanarusiczki commented on #3720
I noticed that when I deleted my review(with text) from old pages went back to the new front end and submitted a new review (with text) the oldest review will not be displayed.
Reproducible on AMO dev and stage using FF58 (Win10).

![delete review](https://user-images.githubusercontent.com/33448286/36090443-0dc1ff4e-0fe9-11e8-844d-105dda25f9bc.gif)

[2018-02-12 09:54] EnTeQuAk commented on #529
I started working on finishing up the outstanding things on addons-server, which essentially makes the script auto-merge the PR once everything is green: https://github.com/mozilla/addons-server/tree/auto-merge-l10n-pr

I'll test this on addons-server and work on addons-frontend l10n extraction probably this week as a side-project and see where I get.

[2018-02-12 10:09] PascalBQ opened #4366 "Useful addon no longer available"
### Describe the problem and steps to reproduce it:

1. did search on Goolge with search string "firefox addon bookmark search"
    https://www.google.be/search?q=firefox+addon+bookmark+search&ie=utf-8&oe=utf-8&client=firefox-b-ab&gfe_rd=cr&dcr=0&ei=QWSBWuSPOpyF1gKKuK7wAQ
2. followed the following link from the list:
    https://support.mozilla.org/nl/questions/1002905
3. result seemed promising .

[2018-02-12 10:22] ioanarusiczki opened #4367 "Edit review by deleting the previous submitted text does not work"
STR:
1. Load AMO dev and go to an add-on's detail page.
2. Submit a review with text, preferably one that has No reviews yet.
3. Edit your review by deleting the previous text.
4. Go back to the add-on's detail page.
5. Observe the number of reviews mentioned in 'Read all <number> reviews' link.

Expected result:
The link shows No reviews yet.

Actual result:
Read 1 review is displayed and when cl

[2018-02-12 11:25] AlexandraMoga commented on #4029
Verified as fixed on AMO-dev, FF58 (Win10, Android 7.0)

Interactive stars are now yellow:
![image](https://user-images.githubusercontent.com/31961530/36094610-9f60a21c-0ff7-11e8-9662-3adab3686a25.png)
![image](https://user-images.githubusercontent.com/31961530/36094625-ab5fd358-0ff7-11e8-9c8f-7ed3adbbafb0.png)
![image](https://user-images.githubusercontent.com/31961530/36094627-b17868cc-0ff7-11e8

[2018-02-12 11:29] tofumatt commented on #4366
This is the issue tracker for the add-ons website and related projects, not for an add-on. Sorry to hear the add-ons you were looking for aren't available, but it's up to add-on authors to list/unlist their add-ons and keep them up-to-date.

If you're having an issue with an add-on please contact the developer directly; though given they removed their add-on I understand that might be difficult. S

[2018-02-12 11:29] #4366 closed

[2018-02-12 12:57] bobsilverberg commented on #4365
This does not reproduce for me on either Firefox or Chrome on OS X. When I go to https://addons.mozilla.org/en-US/firefox/ I see the blue favicon and it is pointing to https://addons.cdn.mozilla.net/favicon.ico. Could it be a caching issue?

[2018-02-12 13:15] dessant commented on #4029
Please consider using a different tone of yellow. My gut reaction is to not touch the rating widget or give a small rating to see less of the current color 😋, it pierces your eyes on the white background.

Here's a yellow that is more pleasant in my opinion.
![screenshot from 2018-02-12 15-13-50](https://user-images.githubusercontent.com/7513068/36098393-6faa2060-1007-11e8-8453-d3c850a294c7.png)

[2018-02-12 13:27] vcarciu commented on #3550
I am sorry for late response, but I was on PTO.
I saw that in another applications (ie, my gmail account), but I was not aware that this is a bad practice. My opinion is that if you have to use the Tab, then it is a time consuming action to come back to a drop down menu if you accidentally pressed Tab at the last item of drop down.

Example of what I saw on my email :
![tabbing](https://user-image

[2018-02-12 15:16] pwalm commented on #4029
@dessant Thanks for your feedback, but we have a design system in place that unifies things like colour, so we are unable to change that.

[2018-02-12 16:13] kumar303 commented on #4175
Fixed icon: https://design.firefox.com/icons/viewer/#error

[2018-02-12 16:45] bobsilverberg commented on #4355
I've got the code for this working, but I need assets for the small stars in yellow. We need a small filled-in yellow star, and a small hollow yellow star. I created a filled-in one by taking the existing svg for the grey star and changing the fill colour, but it doesn't look quite right to me. It looks a bit small. See below:

<img width="1001" alt="screenshot 2018-02-12 11 42 17" src="https://us

[2018-02-12 17:39] bobsilverberg commented on #3787
I'm seeing two different suggestions for addressing this:

1. Always show the full description, regardless of the size.
2. Increase the size of the text allowed before it is truncated and the "Read more" link is shown.

Those supporting #1 seem to do so because there is currently nothing underneath this section which might be pushed too far down the screen if we have no limit. That may not always

[2018-02-12 19:30] bobsilverberg opened #4370 "Remove eslint comment from src/amo/sagas/home.js if and when we allow the syntax by default"
An [issue](https://github.com/mozilla/eslint-config-amo/issues/45) has been opened to update our eslint configuration to allow `for... of` syntax. There is currently an eslint comment being used in src/amo/sagas/home.js because the syntax is not yet legal. I will update this issue to point to the comment in question once that code has been merged.

This issue is to remove that comment if the issue

[2018-02-12 19:31] bobsilverberg commented on #4370
The comment in question is at https://github.com/mozilla/addons-frontend/blob/f4467f54978a724e665559b55515d69355bcf364/src/amo/sagas/home.js#L33

[2018-02-12 21:53] bobsilverberg commented on #3783
I have taken a first stab at this and am submitting a PR. For now I have simply added the Last Updated date, in a format that is consistent with the **More Information** section, immediately after the author information. This is likely not ideal, so some feedback from UX, @pwalm, on exactly how this should look would be appreciated, please and thank you.

Note that the Last Updated information wil

[2018-02-12 23:03] jvillalobos commented on #3787
I think we should keep some limit. We don't know how the design will evolve, and it would be good to encourage devs to keep their descriptions (or the important parts at least) within some sane length.

[2018-02-12 23:22] #4002 closed

[2018-02-13 01:50] devaneymoz opened #4372 "Pass specific src params to details page links"
It appears the new AMO front-end isn’t passing tracking parameters as it did in the old site.

In the old site, for example, when you’d click to an individual add-on’s detail page from within the “Featured Extensions” promo module, its passing URL included “src=hp-dl-featured”. With the new front-end, there is no URL change in the path.

Perhaps the tracking params are hidden? Or are we not tracki

[2018-02-13 06:32] cadeyrn commented on #3787
See for example https://addons.mozilla.org/en-US/firefox/addon/new-tab-override/

I have to explain *all* requested permissions, because in the past without these explanations I got a lot of questions why permission X and Y are needed. I don't want to hide this by default but the description is more important in my opinion, so it's at the end…

Or will #2757 allow to set a small text for each need

[2018-02-13 07:03] AlexandraMoga commented on #4330
Verified with AMO-dev, FF58 (Win10, Android 7.0)

The shelves' content is not loading. I'm receiving a 404 for the "Re-imagine search" collection and a lot of csp reports overall:

![image](https://user-images.githubusercontent.com/31961530/36137142-7cfe69fc-109c-11e8-8d44-10bee2372078.png)

![image](https://user-images.githubusercontent.com/31961530/36137149-83263d50-109c-11e8-811d-482c63e87cb3.p

[2018-02-13 09:19] eviljeff commented on #4330
I think it's just that these collections don't exist on -dev.  For completeness someone could create them with the same content as prod, but just creating any collection under the `mozilla` user is probably enough.

[2018-02-13 09:50] AlexandraMoga commented on #4330
For testing purposes it is important to have some available data as soon as possible, otherwise we might not have the possibility to test other bugs that depend on this content.

[2018-02-13 10:40] ioanarusiczki commented on #4185
I verified this issue on AMO dev using FF58 (Win10).  When the Display Name is a long unbroken string it will cause display issues, it overlaps the text from Last Updated field.

![overlaps the other text](https://user-images.githubusercontent.com/33448286/36145758-ff64ae7e-10ba-11e8-9774-4879c9bf8855.png)

[2018-02-13 10:55] ioanarusiczki commented on #4002
I verified this issue on AMO dev with FF58 (Win10). The buttons work as expected, click outside the box will close the popup, or using "X" button, the user can edit name and description multiple times.
I updated for the observed layout issues #4185.

[2018-02-13 13:06] bobsilverberg commented on #4330
I've fixed the problem by adding the missing collections on dev. @AlexandraMoga you should now be able to verify this bug.

[2018-02-13 13:19] vcarciu opened #4374 ""See more ..." links are not working anymore"
Steps to reproduce:
1.Go to amo-dev and try the "See more... " links for "Privacy tools" , "Re-imagine search" and "February’s new featured extensions" collections

Expected results:
Collections are opened without any problems

Actual results:
Nothing happens. Collection cannot be opened.

NOTES:
Tested using Windows 10x64, FF Release, AMO-dev
Not reproducible for "See more popular themes"
Possibl

[2018-02-13 14:15] #4334 closed

[2018-02-13 14:20] bobsilverberg commented on #4374
I'll take a look at this as it sounds related to the work I did for #4330.

[2018-02-13 14:35] AlexandraMoga opened #4375 ""&" is interpreted as "&amp" in Edit collection description"
Follow up from [#4002](https://github.com/mozilla/addons-frontend/issues/4002)

STR:

1. Log into AMO-dev as an admin
2. Select the "Ad Blockers' collection - https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/ad-blockers/
3. Click on Edit this collection
4. Observe the description available in the Edit description section

Actual result:
"&"s are interpreted as "&amp"s

Expected res

[2018-02-13 14:36] vcarciu opened #4376 "After a new registration, users are not redirected to Edit Profile page in order to change their display names"
Steps to reproduce:
1.Go to AMO-dev and register with a new account
2.Finish the registration process and click on account confirmation email link

Expected results:
Users are redirected to Edit Profile page in order to add their usernames

Actual results:
Users are not redirected to Edit Profile page and they are logged in as Anonymous - xyz123

NOTES:
Tested using Windows 10x64, FF Release, AMO-

[2018-02-13 14:46] vcarciu commented on #4375
Also "<script>alert('problem')</script>" is interpreted as "&lt;script&gt;alert('problem')&lt;/script&gt;"

[2018-02-13 14:52] jvillalobos commented on #4372
Flagging this as P2, since it has a negative effect on statistics tracking for developers and us.

[2018-02-13 15:19] vcarciu commented on #4259
No regressions were observed around icons , so I will mark this as verified.
@kumar303 : verification was done after fix this time 😆

[2018-02-13 15:25] ioanarusiczki opened #4378 "Unbroken strings are not wrapped for screenshot tips"
STR:
1. Load AMO dev and from Developer Hub click on Edit information for an already submitted add-on
2. Click Edit for Images section to add a screenshot
3. Insert an unbroken string in the box below "Please provide a caption for this screenshot"
4. Save changes and go to View Listing page.
5. Hover over the screenshot and observe the text.

Expected result:
Text is wrapped.

Actual result:
Text

[2018-02-13 15:29] ioanarusiczki commented on #4334
Verified fixed on AMO dev with FF58 (Win10 and Android 8.0.0)
Because the tips issue #3917 was verified the last week and the fix for this issue was merged today, I filed for tips a new issue #4378.

[2018-02-13 15:37] bobsilverberg commented on #4378
Hmm, I'm not sure what we can do about this one. I believe it's the browser itself that is responsible for rendering the tooltip, if we're just using the `title` attribute which is how this is currently implemented. Do we want to implement our own tooltip code so we can have more control over the wrapping? Tbh, I don't know how likely it is that a developer will enter a very long, unbreaking strin

[2018-02-13 15:40] kumar303 commented on #3783
Hi @siffegh , thanks for raising an issue about this. I have a question about...

Why would you like to see the dates? What will it help you accomplish? The results are already sorted from newest to oldest.

[2018-02-13 15:53] tofumatt commented on #3783
To me the rationale for showing a "last updated" date is to show the up-to-date-ness of software. I think it actually isn't the use-case for the person who originally filed the issue but I check App Store release dates and GitHub last commit dates to see if software has been recently updated... something that's four years old might not work great anymore.

That said we show that info on the detail

[2018-02-13 15:55] tofumatt commented on #4378
Yeah that's a browser limitation; a user who decides to enter garbage text will have their text be cut off. It doesn't break anything so I think this is a won't fix.

[2018-02-13 15:55] #4378 closed

[2018-02-13 15:59] kumar303 commented on #3783
Well, @siffegh mentioned that this is inconvenient because he has to click through to each detail page. I'd like to learn more about why. @tofumatt your use case about wanting to know how old the extension is seems like it's covered by the detail page.

[2018-02-13 15:59] ioanarusiczki opened #4379 "Edit collection popup displays layout issues when zoomed in on Android devices"
STR:
1. Load AMO dev and open the drop down menu below the username
2. Tap on View my collections
3. Tap the name of a collection
4. Tap Edit this collection
5. Zoom in Edit collection popup
6. Observe the layout

Expected result:
Edit collection has no display issues.

Actual result:
Collection name and Description fields are smaller and Cancel button is no longer displayed.

Notes:
This issue is

[2018-02-13 16:02] LuigiBaute opened #4380 "Hello, I would like to collaborate with your project by serving as a translator into Spanish which is my native language"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-02-13 16:06] caitmuenster commented on #4380
Hey Luigi! We'd love your help with localization! Can you head over to the  the [L10n wiki](https://wiki.mozilla.org/L10n:Contribute) for more information about how to get started?

Localization is run through a platform by the name of Pontoon. Here's the link to AMO project on Pontoon: https://pontoon.mozilla.org/en-GB/amo/

[2018-02-13 16:08] tofumatt commented on #4380
There's also https://wiki.mozilla.org/Add-ons/Contribute#Localization for l10n contributions related to Add-ons.

I'm going to close this issue as there's nothing further to do here, but thanks for your interest in localising the app! 👍

[2018-02-13 16:08] #4380 closed

[2018-02-13 16:32] jvillalobos commented on #2757
I just went over all of the lists and here's what I think is needed:

* @pwalm: I think we're missing two icons: a generic icon for permissions that don't have a specific one, and an icon for host permissions ("Access your data for a specific website or group of sites"), which is a big one.
* Use the copy from [Scott's document](https://docs.google.com/document/d/1-aLncxcKpinCNpvksmknwWZhrM2bEChDm

[2018-02-13 16:38] wagnerand commented on #2080
This looks good to me.

@jvillalobos for product approval.

[2018-02-13 17:16] #4374 closed

[2018-02-13 17:51] jvillalobos commented on #3783
I think Last Updated made lots of sense as a primary UI feature back when legacy add-ons were around. Something that was 1+ year was bound to be broken somehow. This shouldn't be the case for WebExtensions add-ons, at least not that much, and it's certainly not relevant for themes. I also looked at search pages for the App Store and the Chrome Web Store, and neither show the update date on their s

[2018-02-13 18:00] jvillalobos commented on #2080
I like the icon and positioning. The copy might need softening, since in most cases there isn't a payment required upfront. Maybe something like "May require payment" or "Includes non-free features". @devaneymoz, any other ideas?

[2018-02-13 18:53] bobsilverberg opened #4381 "Refactor LandingAddonsCard to accept a <Link> component instead of an object for footerLink"
This is a follow-up to PR #4377, and was discussed fully at https://github.com/mozilla/addons-frontend/pull/4377#discussion_r167928330. The idea is to change `LandingAddonsCard` so it accepts a `Link` component in its `footerLink` property, as opposed to an object which is what it currently accepts. This would also require moving some of the [logic currently in `LandingAddonsCard`](https://github.

[2018-02-13 22:03] siffegh commented on #3783
Hi. I've been accessing new/updated addons by using https://addons.mozilla.org/en-US/firefox/search/?platform=windows&sort=updated&type=extension, so having the date on the search results is really not necessary for me any more. But using that URL is; I don't see any way to get a listing of all new and updated addons from the main AMO page. Maybe I'm missing something?

[2018-02-13 23:14] #4190 closed

[2018-02-14 07:15] AlexandraMoga commented on #4330
The same issue reported yesterday for -dev is happening now in stage.
Again, without this data there are parts of the app that can't be tested.

[2018-02-14 10:22] vcarciu commented on #4374
Verified as fixed :
![seemoresolved](https://user-images.githubusercontent.com/1583842/36199273-bf8a4dbe-1181-11e8-97fa-b2303245eb48.gif)

[2018-02-14 12:48] vcarciu opened #4386 "Collection edit fields are too narrow on Android"
Steps to reproduce:
1.Go to AMO-dev on your Android device
2.Click on any collection and click on "Edit this collection" link

Expected results:
The edit fields width are consistent with the edit page width

Actual results:
Collection edit fields are too narrow

NOTES:
Tested on Android 7.0, FF Release

Please see a screenshot for this issue :
![narrow](https://user-images.githubusercontent.com/15

[2018-02-14 12:52] bobsilverberg opened #4387 "If a single section fails to load on the home page, all of them fail to load"
Currently, if any of the sections defined on the home page via `LandingAddonsCard` components fails to load its data (for example, if a collection does not exist in the environment), then all of the sections fail to load and an error message is displayed at the top of the page:

![feb-14-2018 07-46-18](https://user-images.githubusercontent.com/142755/36205042-576596e2-115b-11e8-91c1-9fa634effc96.g

[2018-02-14 13:33] AlexandraMoga opened #4388 "Add-ons included inside a collection are not correctly counted"
STR:

1. Log into AMO dev and select 'View My Collection" from the user menu
2. Click on Create new Collection
3.  Name your collection and include some add-ons
4. Click on Create Collection to view the results
5. Check the number of add-ons displayed in the collection details card

Actual result:
The collection cards says that there are '0 add-ons" in the collection

Expected result:
The number o

[2018-02-14 14:25] ioanarusiczki opened #4389 "Explore is highlighted instead of Extensions in the menu when View listing is clicked from dev hub"
STR:
1. Load AMO stage and go to Developer Hub in Manage my Submissions.
2. Click on Edit information for a submitted ad-on from the list.
3. Click on View Listing.
4. Observe that Explore is highlighted.
5. Click on the banner or on Explore.
6. Click the back button of the browser.
7. Observe that this time Extensions is highlighted.

Expected results:
Extensions is highlighted after View Listing

[2018-02-14 15:04] wagnerand commented on #4317
STR:

You want to test this together with https://github.com/mozilla/addons-server/issues/7435#issuecomment-365627222.

0. Make sure you have an add-on with at least one beta version.
1. Go the the listing page of the add-on:
 * If the `beta-versions` waffle is enabled, there should be a link to the beta versions page.
 * If the `beta-versions` waffle is disabled, there link should not appear.

[2018-02-14 16:30] diox commented on #4271
There has got to be links in the wild with mixed/wrong case slugs, though. Links that used to work perfectly fine before.

[2018-02-14 16:31] diox commented on #4372
Looks like a dupe of https://github.com/mozilla/addons-frontend/issues/4270 which is already a p2.

[2018-02-14 17:09] tofumatt commented on #4386
The mobile styles aren't ready for this yet so this will be fixed in #4258.

[2018-02-14 17:11] tofumatt commented on #4329
Looks like this is a dupe of #4283.

[2018-02-14 17:11] #4329 closed

[2018-02-14 17:11] jrbenny35 commented on #4387
I've reported this before, just adding the issue for extra discussion. #3826

[2018-02-14 17:22] kumar303 commented on #4271
I've only seen [one bug](https://github.com/mozilla/addons/issues/586) reported by a user and they didn't mention any external links. They talked about editing the URL bar.

[2018-02-14 17:35] diox commented on #4365
I am seeing this right now - even after hard refreshing or opening in a new browser, when hitting the homepage or https://addons.cdn.mozilla.net/favicon.ico directly I still see the old green puzzle icon.

[2018-02-14 17:58] bobsilverberg commented on #4365
We think this may be a caching issue with the icon. Adding a query string should allow each client to grab the latest version, so I'm going to do that.

[2018-02-14 18:16] #4342 closed

[2018-02-14 18:29] kumar303 commented on #3783
Thanks for everyone's input. I'm closing this based on the last two comments.

Why do you need to get the same listing on the main AMO page if you can already use the search page?

[2018-02-14 18:29] #3783 closed

[2018-02-14 19:24] pwalm commented on #2757
New icons!
<img width="993" alt="screen shot 2018-02-14 at 11 24 36 am" src="https://user-images.githubusercontent.com/6797635/36223559-a9fadafc-1179-11e8-8403-499f66e3b842.png">

[2018-02-14 19:28] bqbn commented on #4271
So to give a sense of the scale, I checked yesterday's nginx access log on one of the instance. Out of 1,282,906 lines of access log, only 13 used the mixed cases. And all 13 returned 200 as well.

[code]

I think the impact of this is low based on the above.

[2018-02-14 20:03] jvillalobos commented on #4270
https://github.com/mozilla/addons-frontend/issues/4372 has details on what we expect of the `src` parameter.

[2018-02-14 20:03] jvillalobos commented on #4372
Closing as a dupe.

[2018-02-15 00:39] diox commented on #4346
We're going to need this soon: as @eviljeff pointed out it blocks the server implementation which itself blocks Firefox from using it, and we don't want to miss the Firefox 60 train.

[2018-02-15 00:49] diox opened #4393 "Send a parameter in API requests indicating that the API should wrap URLs with outgoing.*.mozaws.net"
## User story

* As a site user, go to an add-on detail page (or a similar page) that lists an external link in its metadata. For example, *homepage* is an external link on the [AdBlock Plus](https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/) page.
* Click on the external link
* The request should be served by https://outgoing.prod.mozaws.net/ (or the equivalent dev/stage site) before r

[2018-02-15 01:01] diox commented on #4346
See https://github.com/mozilla/addons-server/issues/7514#issuecomment-365795492  : I'd like to do this in a new field called `icons` instead of re-using `icon`. The linked comment has an example of how the response would look once implemented.

[2018-02-15 08:49] cosminbadescuSV commented on #4190
I noticed a difference on the -dev server between Firefox 60.0a1 and Firefox 58.0.2.
As you can see in the screenshot:
- in Firefox 60.0a (left) looks good.
- in Firefox 58.0.2 (right) the button moves out of the add-on panel and at the bottom of the page there is an extra scroll bar.

![bug4190](https://user-images.githubusercontent.com/15885467/36247703-b106ae74-123d-11e8-8573-98a66fed818c.png)

[2018-02-15 13:12] thehardwareengineer666 opened #4395 "mp4-downloader"
### Describe the problem and steps to reproduce it:

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2018-02-15 13:13] #4395 closed

[2018-02-15 13:13] thehardwareengineer666 commented on #4395
mp4-downloader not working

[2018-02-15 13:51] tofumatt commented on #4190
That is not expected. Can you send the url you tested against?

- Matt (Sent from mobile)

[2018-02-15 14:13] AlexandraMoga opened #4396 "Keyboard navigation issues in the Edit collection overlay"
Follow up for [#4002](https://github.com/mozilla/addons-frontend/issues/4002)

STR:

1. Log into AMO-dev and select one of the collections available on the homepage
2. Click on Edit this collection to trigger the collection edit dialog
3. Press Esc on your keyboard

Actual result:
The dialog can't be closed by pressing Esc

Expected result:
Esc closes the edit collection dialog

Notes:
- one more

[2018-02-15 14:28] cosminbadescuSV commented on #4190
Sure, here it is: https://discovery.addons-dev.allizom.org/%LOCALE%/firefox/discovery/pane/%VERSION%/%OS%/%COMPATIBILITY_MODE%

![buttons](https://user-images.githubusercontent.com/15885467/36261453-1522b32e-126d-11e8-8db2-7083ea6bced0.gif)

[2018-02-15 15:18] AlexandraMoga opened #4397 "View/Edit Profile options will trigger a Page not found"
STR:

1. Log into AMO-dev
2. Click on View/Edit profile in the user menu

Actual result:
The user is redirected to a Page not found

Expected:
The user is redirected to view/edit his profile

Notes:
- not sure if this has any connection to [#4342](https://github.com/mozilla/addons-frontend/issues/4342)
- reproduced on AMO-dev, FF58 (Win10x64, Android 7.0)
- the profile page will be displayed after

[2018-02-15 16:58] tofumatt commented on #4397
Shoot, a change to the header was committed by mistake. I’ll revert it before the next tag.

[2018-02-15 17:44] vcarciu opened #4399 ""Unexpected error" banner displayed if page is refreshed before content is loaded"
Steps to reproduce:
1.Open AMO
2.Open any page (ie. open a category or a detail page)
3.Immediately (before content of page is loaded) press Refresh button

Expected results:
Page is refreshed without any problem

Actual results:
"Unexpected error" red banner is displayed for a second (until page content is displayed after refresh)

NOTES:
Reproducible on all servers

Please see video for this bug

[2018-02-15 17:52] kumar303 commented on #4399
Oh, sorry, I didn't realize it on IRC but this is actually expected behavior.

When you refresh the page, it aborts the current request which causes `TypeError: NetworkError when attempting to fetch resource.` The site is telling you that an unexpected network error occurred -- it was unexpected that the request got aborted. As you point out, this only happens if the user refreshes at precisely th

[2018-02-15 17:52] #4399 closed

[2018-02-15 18:20] devaneymoz commented on #2080
What will prompt this badge/message to display on the listing page? Is it developer self-selected, or auto-generated based on identifying payment transaction code?

As jorge points out, the most common cases are "freemium" models where only portions of the feature set sit behind a pay wall. Given this, perhaps we could clarify further with something like:

"Some features may requires payment"

[2018-02-15 20:02] heubergen commented on #2080
<img width="725" alt="screen shot 2018-02-15 at 2 00 11 pm" src="https://user-images.githubusercontent.com/5529410/36278204-b31491ca-1258-11e8-8bbc-7c1044ecef7f.png">
There's already an option in the frontend for developer, I think this can/should be used to display the flag.

[2018-02-15 21:04] jvillalobos commented on #2080
Yeah, it's self-selected by the developer, and reviewers can require developers to set it when it should.

"Some features may require payment" sounds good to me, though it may be a bit too wordy for that section of the listing page (more so in other languages).

[2018-02-15 23:03] mconca opened #4402 "Show when an add-on is using experimental API"
### Describe the problem and steps to reproduce it:
For the first time, WebExtensions supports experimental API (tab hiding, in this case). MDN does a great job of labeling these as experimental and warning developers that the API could change or even go away. For example: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/hide

Users who install an extension, though, have no idea

[2018-02-15 23:11] pwalm commented on #2757
Came across a newer list, here's the revised icons:
<img width="414" alt="screen shot 2018-02-15 at 3 10 43 pm" src="https://user-images.githubusercontent.com/6797635/36285981-7f11ba9c-1262-11e8-856d-e7f2939c7414.png">

[2018-02-15 23:34] pwalm commented on #2757
and here they are with their descriptions, just so everything is synced up:
<img width="438" alt="screen shot 2018-02-15 at 3 33 12 pm" src="https://user-images.githubusercontent.com/6797635/36286688-a3962652-1265-11e8-8502-cbcde2aa3d15.png">

[2018-02-16 10:07] ioanarusiczki commented on #3801
I verified this by updating with Upload new design a Theme. The theme is displayed on the first page when searching with Recently Updated sorting option.

![themes recently updated](https://user-images.githubusercontent.com/33448286/36302598-aca09730-1311-11e8-857c-69acf3876581.png)

[2018-02-16 12:27] bobsilverberg opened #4403 "Remove the parsePage helper function"
[`paresePage`](https://github.com/mozilla/addons-frontend/blob/23f68b9d4effd2f71c0f5d84ae8ea0957eeb4f84/src/core/utils/index.js#L286-L289) in `core/utils` accepts a `page` parameter and converts it to a `1` if it is invalid. We were using this incorrectly in `AddonReviewList` which resulted in issue #4081. It is unlikely that there are any situations in which we actually want to do this, so we sho

[2018-02-16 12:29] AlexandraMoga commented on #4388
I've just spotted that this is also happening when editing a collection:

STR
- go to a collection details page
- edit collection
- add a new add-on
- see results

![col count](https://user-images.githubusercontent.com/31961530/36307610-9942f246-1325-11e8-890e-8379e089424a.gif)

[2018-02-16 12:31] #4081 closed

[2018-02-16 12:43] ioanarusiczki opened #4404 "The last update for themes is not accurate on the newfrontend"
STR:
1. Load AMO stage
2. From Developer Hub upload a new theme design for an older theme from the list.
3. Approve the new design from Reviewer Tools - Themes Updates.
4. Go to Manage my submissions in My Themes tab and click on Edit listing for the edited theme.
5. Check the View Recent Changes.
6. Click on View listing and observe the Last Updated field.
7. Click on Classic desktop site view an

[2018-02-16 13:20] ioanarusiczki opened #4405 "Transparent .png files have display issues in full screen view"
STR:
1. Load AMO stage and from Dev hub upload for an ad-on click on Edit information.
2. Upload from Edit Images a .png file with transparency. I used this sample from here https://www.onlinewebfonts.com/icon/260023
3. From the ad-on's detail page click the image displayed in the Screenshot section.

Expected results:
The image is visible.

Actual results:
Black background is displayed.

Notes:
T

[2018-02-16 13:22] #4405 closed

[2018-02-16 14:59] vcarciu commented on #4081
Verified as fixed :
![notfound](https://user-images.githubusercontent.com/1583842/36313614-b2fc8c0a-133a-11e8-8523-9c2266e5bff8.gif)

[2018-02-16 15:32] bobsilverberg opened #4407 "Change puzzle favicon to a Firefox favicon"
This issues has been moved from https://github.com/mozilla/addons/issues/632 into this repo. There has already been quite a bit of discussion about it, which I won't repeat here. Please see the other issue for the details.